{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4312c7a1-2372-de57-51d7-784ab11d51c9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA7887B726FA\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4312c7a1-2372-de57-51d7-784ab11d51c9/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "GwYdsWnYtSeGAjRMdXp8Y6+G/CgAIp1VWKJEYRSRVxenksFb0HWJdtP1qCn9bk+BvQL+MftVG/hox1nGk1QT9aodpOO5IZI5/IVVC3p0V+lTw6MRkiYbUnfI8ggcw+J/4bJ+38psyJxvxTR1/w9+9G9vctCwAWKEAlJs8S6JHTmj1inI9ngf5/oHoc3ypVJnSf6ZrFASzuBQ+d14ANdt5qf70inmtv33UIvVqV+Uklz/BKcv8HDokQdJd/ybp+Yjmbsl9tMpgJMAoVzEPCWAu2eAePsvPfU3EkAhnD4BXKmksQ+kb5uJ1oMTL04TJFTiybyUGi7r81vG7uSSB+RV/0WzH4oW3EzM9qJ3HA6mI+7r[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4312c7a1-2372-de57-51d7-784ab11d51c9/source%3Dpath%40%23%25/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "GI5+PAsHIZOTzixjqnj+TNfS[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4312c7a1-2372-de57-51d7-784ab11d51c9/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4312c7a1-2372-de57-51d7-784ab11d51c9/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "scF75r9b[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4312c7a1-2372-de57-51d7-784ab11d51c9/source%3Dpath%40%23%25/folder%2540bar/different%21file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "/QwlTUh5jzy[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4312c7a1-2372-de57-51d7-784ab11d51c9/source%3Dpath%40%23%25/space%20folder/space%20file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "KtHUiPTmNunpAo5[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4312c7a1-2372-de57-51d7-784ab11d51c9?restype=container&comp=list&prefix=source%3Dpath%40%23%25%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-4312c7a1-2372-de57-51d7-784ab11d51c9\"><Prefix>source=path@#%/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>source=path@#%/file%3Dtest%26</Name><VersionId>2025-07-03T21:28:19.3320411Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 03 Jul 2025 21:28:19 GMT</Creation-Time><Last-Modified>Thu, 03 Jul 2025 21:28:19 GMT</Last-Modified><Etag>0x8DDBA7887C785DB</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>pFrEbzxgEiAtTlt1V1p6xA==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Thu, 03 Jul 2025 21:28:19 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>source=path@#%/file=test!@#$%</Name><VersionId>2025-07-03T21:28:19.2880662Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 03 Jul 2025 21:28:19 GMT</Creation-Time><Last-Modified>Thu, 03 Jul 2025 21:28:19 GMT</Last-Modified><Etag>0x8DDBA7887C0D016</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>WDbs/ALrTyd2HF2Sk3EAqQ==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Thu, 03 Jul 2025 21:28:19 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><BlobPrefix><Name>source=path@#%/folder%40bar/</Name></BlobPrefix><BlobPrefix><Name>source=path@#%/folder=bar/</Name></BlobPrefix><BlobPrefix><Name>source=path@#%/space folder/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4312c7a1-2372-de57-51d7-784ab11d51c9?restype=container&comp=list&prefix=source%3Dpath%40%23%25%2Ffolder%2540bar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHea[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4312c7a1-2372-de57-51d7-784ab11d51c9/source%3Dpath%40%23%25/file%253Dtest%2526",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DDBA7887C785DB",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDBA7887C785DB\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-blob-content-md5": "pFrEbzxgEiAtTlt1V1p6xA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:28:19.3320411Z"
      },
      "ResponseBody": "GI5+PAsHIZOTzixjqnj+TNfS+L0sB55GaHsuWC4UYPOr7J5RGB/B4aY+qc3rPZOfXpQOyK+qHhHwN9OQ2clkfm44uL7arDS3ERcW7V7QWyrnj/mZBpdDAM6MYeBLMAfd2ipes4XVxbFgVreYlDCzH9ypqErPy3fX9LfvTUtTa+APOBMzcaelEslHOK/gq2yd2EEDooi9Dg6zh77N5XdmDevWiVwcgK41BJaAh5PH9klLUXQJUMlYUioFf+no1yxS4CvECSIPgViTzp7yPIZ765B1gpMDXb0ifTYxFwDETCxpLqZnA+0nO9AcdoEqZhWkiZRYclWZT4Nuoovr3mlYzoFxiA3fE+ejTkbD5uY79xYhjY1ra9nX0N8i+WBhO11mw6cAud0HxHattSQO1WidMqt1yVDc7GOnmbguvBmGQhLoXCM+Oz04GckWvra1yPp3hce17HENitdEWB8l2QhcJnMRJnlFXvdtPLCHxS2t8tC+tjZS0FWg29JL+uIeEz/AuphCpKKAMifPSK/BhsSpl2ZOZiPRClUdcEun+WQVTihxxguVak4uPYQPg4im31QNoWJ8z60c769CJTNX2TnCuvmHT8C5FC0XICifwYbNd5D2mVcBmH96VNZbUkQa12RLTcmOHo+UVI01ZK+FfS0pda6jYEDhwCF6DPrpXsHp/UjDVHS9P1gAYUXJzDPQ9deoMtyVdnckaYynExKUq/XMS2ZmwSm5azZWov76F/TtqRYjQCvkU4bRn+roFitGa7ZP/YDNajSu78amP9R4KVGXumn7cWrJ5/jflCE+0FULEDdIqhpzID/idFFlPhOyWXaZUFzBSvlLhRWI7dUSbx5xmi+dMH42JJkqGPwZZKnkLTurpYD5SsU9/CUF6zNq0AUz86TkFSj3YizClzL9MiBso7+aZ8meeFBpXzRZMTlmv0j35nEF/xcStENTNrKTP8kEmEdzz2k7lXtTe7X0nTDzXNfpBUyvZ6SoiLKGSkGd1h9qVZjx8u/fu1D2sYRhHRcSYNrbqTp8VDGjyke2tUs5tqWWiUeXAWnnCkn7ubYfR2qbc+lnwSzl7gFnTieoKAYFvfrfy5TPel9w85/wgZt7g4PdGkFh0fR4sJtGMLNCP+FD9fu7P3vWzPiK986M9Wxl7Mqkyg7FpOsFZhr4iEqsLrS+rYufv0QHB05I19km67ou4ETonXTSfVEPtdhh3UOu3skZzkjhxSyGnMPAfMwS33tfyagFw5A/6y86jwprpikKmvkQDB1yTRoYYgGxEgCE/dZdARObqBo52uMYpjYiG/WZteLTAtJe7XyN7WGOjdgutZIzDaUVb/He1zI5Wqbk9UYLGF0esPsD/xOXDbq5qg=="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4312c7a1-2372-de57-51d7-784ab11d51c9?restype=container&comp=list&prefix=source%3Dpath%40%23%25%2Ffolder%3Dbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4312c7a1-2372-de57-51d7-784ab11d51c9?restype=container&comp=list&prefix=source%3Dpath%40%23%25%2Fspace%20folder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHea[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4312c7a1-2372-de57-51d7-784ab11d51c9?restype=container&comp=list&prefix=source%3Dpath%40%23%25",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4312c7a1-2372-de57-51d7-784ab11d51c9/source%3Dpath%40%23%25/file%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "pFrEbzxgEiAtTlt1V1p6xA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDBA7887C785DB\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 03 Jul 2025 21:28:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:28:19.3320411Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4312c7a1-2372-de57-51d7-784ab11d51c9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:28:20 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1029561774",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
