{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f956fd40-8b13-4a7c-8e50-0955c5644917?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005EF5F76430\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:21:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f956fd40-8b13-4a7c-8e50-0955c5644917/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "cpOh2JPKopbQIQq5L6sk8N5+LRpkk4gx+G8ZjR9b1s17Hl+S+5n3XQhp5G3dpiBQU5rz4PPD2N4Kb98ksRR2dUo9PRFLkfREhs8S+q4bU1FOyDmEaPXZt0WAh4u606zz8m8ioGkPBMGlrlkksd0v7xuN1ujb8gxVY4XLygppirIjHwg++bPoPsN43rqctQZoUJhvLP3DGABjzTzkRDq3PCSnAJLV8fZopZclYxNSuK5/Y3ly+V21XwYI2yx2A/qJwKKW9LRzkl+hB4dlnrXsERSOZeDARUPG8aGLzRXK8qGdm6Jxu8P6C9Aa0PLWT8FRG8kX6J4ZyXpfzwMS58VJ1xTlyAISelVQlFkPpXVQ76Lg[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f956fd40-8b13-4a7c-8e50-0955c5644917/source%2521path%2540%2523%2525/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "wMXZoHQXvmyC/HijUg[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f956fd40-8b13-4a7c-8e50-0955c5644917/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBo[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f956fd40-8b13-4a7c-8e50-0955c5644917/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Co[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f956fd40-8b13-4a7c-8e50-0955c5644917/source%2521path%2540%2523%2525/folder%2540bar/different%21file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:39 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "muStd[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f956fd40-8b13-4a7c-8e50-0955c5644917/source%2521path%2540%2523%2525/space%20folder/space%20file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:39 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "MLl372ozT[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f956fd40-8b13-4a7c-8e50-0955c5644917?restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:39 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-f956fd40-8b13-4a7c-8e50-0955c5644917\"><Prefix>source%21path%40%23%25/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>source%21path%40%23%25/file%3Dtest%26</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:21:38 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:21:38 GMT</Last-Modified><Etag>0x8DE005EF609A591</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>iX/uTZofnw3Nw+2wwI7M2w==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><Blob><Name>source%21path%40%23%25/file=test!@#$%</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:21:38 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:21:38 GMT</Last-Modified><Etag>0x8DE005EF600D5CC</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>4lxczEseHjsE4Z3DPDR/WQ==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob><BlobPrefix><Name>source%21path%40%23%25/folder%40bar/</Name></BlobPrefix><BlobPrefix><Name>source%21path%40%23%25/folder=bar/</Name></BlobPrefix><BlobPrefix><Name>source%21path%40%23%25/space folder/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f956fd40-8b13-4a7c-8e50-0955c5644917?restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2Ffolder%2540bar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:39 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Respo[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f956fd40-8b13-4a7c-8e50-0955c5644917/source%2521path%2540%2523%2525/file%253Dtest%2526",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DE005EF609A591",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE005EF609A591\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:21:38 GMT",
        "x-ms-blob-content-md5": "iX/uTZofnw3Nw+2wwI7M2w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:21:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "wMXZoHQXvmyC/HijUgJBv035KQGWu0exccrv2PKTfXVLL7rID2jDinOf97bVcOSFefJk2kT4PgR9KC+pJ+V6738CVyNIeLDkNp6N9sOQ3ADlal//LqMxU/C1SuY5GWOOJQg30hjBPQBBf6SlakhA7UwuxLyFesHc0QQyki3Jqxw7/tG7WQnoJC1evq//i+iodF2aClWmCKtGWwEUjqrSd9SHaWx2hZNCRp+PJ7sR3EUciR3QL6DGlfYmdP4I05aDi0badyJ8Mu/KWMS2F+HvNH67+ASNAkg0wdN2UBCUOnIJDJt0N2UjoFctBdbcD34UNj+ATNuR9Yn+pbVOBuLfNR1RrQtGev0YmFitX/xxWLFVYRnQFO6WeBYSdpGw1Zp1TtC5imJzzrtCaLOD45aMjE0D+KTIDiEuuzX0MwRraMO9NxAsuM5P4pJdjqs7EpSAhelErNz1rECuis4tfpq31gDvxauFX9R/tBURa39186ihdK4aJ7vmyIvQfi3/ImT4prerS03o+iYVxPjG40HAOZcmjAnsnK9ECP0gtOGngJKxGcTIyahbuHmHBWLDIORJD0WW2JVaCwkHZ0JPx0VFbkRmFMp9+G/uy9OPZJdNgegY16WcEKj8Vg26wGJmC/E0QpYeXAsZzBbVpwzCy6dyuuVZN/CgqF2car29wjgNiMDiWyIALiTd/gqOxmibOYtmRwV8DNQAk5k5gvJNXArdyB9M4G+EcovBfDjlEeL0ADAyV3oykHvs4ceIx6wxj6IAsP1ITlkc4dV6upCbG4K3RIHCGwWPqzekYP6n/Kvfj+2W5GDkq7HWFXWkuNXqUMZF0YIqb3OccQXFpO5bdOUqmiujBTYh0pjP6wWQ6vJhuQ84YSsotCB5+XNaHwfCe6CQeh2qR0uQJP/qW4NtDIYTY+rfIhO6AeYKKgvCx7KQDG9l/2/Ut3LDqD0rPlmcC+3tR7sd41mN1nk3oB0/zVxMWU4TCAwWP6x4G3rVjsONbh4e1YD3cykW1yn2nRZUhNrg3+QLiALg1gcOpcfeuEi2qTH+IfjcVOYk/DHjH6GVI5eg9K7eguUcPv546M5hOB7gQPPlVmPhA4r+5ovR/LZleIEwPsOZ1ydM4uL6ZGsYw8QSAt6usM00vvAj35xZS0FHEnBMMfpbR2nLmHOA5p8f5iLHvvnYt8e0/H/TdviL8pehs1L7y5LKt7t14hdZs9dRBPl5koxHb1qomDR6h9FwQKbc3zNMIxuQ/Ac+YtSvWkingXH/El8KWUT3UzJdTy/qBKJxfdSkBeDd6JWFCQyG+D7s0gZfcS5H0YXvVNDoM63XU10yPtxzA3yQISnJhU83cVr0cH0pi5NzKqxOtLAQ9Q=="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f956fd40-8b13-4a7c-8e50-0955c5644917?restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2Ffolder%3Dbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:39 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Respons[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f956fd40-8b13-4a7c-8e50-0955c5644917?restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2Fspace%20folder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:39 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Respo[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f956fd40-8b13-4a7c-8e50-0955c5644917?restype=container&comp=list&prefix=source%2521path%2540%2523%2525",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:39 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f956fd40-8b13-4a7c-8e50-0955c5644917/source%2521path%2540%2523%2525/file%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:39 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "iX/uTZofnw3Nw+2wwI7M2w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE005EF609A591\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:21:38 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:21:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f956fd40-8b13-4a7c-8e50-0955c5644917?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:40 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1254563368",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
