{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5477bec8-a3e2-3fdc-28fc-09a913ffbac0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE005EF8BDFF7E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:21:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5477bec8-a3e2-3fdc-28fc-09a913ffbac0/foo/folder0/test-file-bdfe613d-40cf-51cd-e6ba-61b2a604b08b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "aBF8JGmC7LcgPvKt3CtCySQy6E6JlH9XtLXkiHPYHT9Lx4SUqNIseGHxnJHrIAge0gaPRAFlKtSRJW+0nmRESCCzYRWmrSFRBm/tl/fua5SsxbVtSdk+5ZywAoNieNr9rVRwOL7zeCTlPT6ReJLco7naB9mu1/5HdHt59aud742V7+qjfjLVuU2RhwuarWwJ01/Jh3ABT9VVKMRDeoJ5R06w/ImoOSSGBU2LHE/yrMcObyFL02cclJ8VTVVukj/KFz+96rDjYZo6Q4IidTKGYnz8NQpgLnPnlGfpkuzPF3IOwAUQNcIWKg6HEJDk+R5tj+rZcl00aujL1lZJ+c6uaysQFLQsdS255gr82B7jAppJ[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5477bec8-a3e2-3fdc-28fc-09a913ffbac0/foo/folder0/folder1/test-file-1bd3adfb-57ad-e918-ee1b-c9e49d32514f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "h[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5477bec8-a3e2-3fdc-28fc-09a913ffbac0/foo/folder0/folder1/folder2/test-file-2d9a8235-439e-958c-2900-7beda624f796",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestB[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5477bec8-a3e2-3fdc-28fc-09a913ffbac0?restype=container&comp=list&prefix=foo%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-5477bec8-a3e2-3fdc-28fc-09a913ffbac0\"><Prefix>foo/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>foo/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5477bec8-a3e2-3fdc-28fc-09a913ffbac0?restype=container&comp=list&prefix=foo%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-5477bec8-a3e2-3fdc-28fc-09a913ffbac0\"><Prefix>foo/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>foo/folder0/folder1/</Name></BlobPrefix><Blob><Name>foo/folder0/test-file-bdfe613d-40cf-51cd-e6ba-61b2a604b08b</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:21:43 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:21:43 GMT</Last-Modified><Etag>0x8DE005EF8C7D34B</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>7zjSXPFA2DF7/qkwI8p18A==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5477bec8-a3e2-3fdc-28fc-09a913ffbac0?restype=container&comp=list&prefix=foo%2Ffolder0%2Ffolder1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5477bec8-a3e2-3fdc-28fc-09a913ffbac0/foo/folder0/test-file-bdfe613d-40cf-51cd-e6ba-61b2a604b08b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DE005EF8C7D34B",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE005EF8C7D34B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:21:43 GMT",
        "x-ms-blob-content-md5": "7zjSXPFA2DF7/qkwI8p18A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:21:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "aBF8JGmC7LcgPvKt3CtCySQy6E6JlH9XtLXkiHPYHT9Lx4SUqNIseGHxnJHrIAge0gaPRAFlKtSRJW+0nmRESCCzYRWmrSFRBm/tl/fua5SsxbVtSdk+5ZywAoNieNr9rVRwOL7zeCTlPT6ReJLco7naB9mu1/5HdHt59aud742V7+qjfjLVuU2RhwuarWwJ01/Jh3ABT9VVKMRDeoJ5R06w/ImoOSSGBU2LHE/yrMcObyFL02cclJ8VTVVukj/KFz+96rDjYZo6Q4IidTKGYnz8NQpgLnPnlGfpkuzPF3IOwAUQNcIWKg6HEJDk+R5tj+rZcl00aujL1lZJ+c6uaysQFLQsdS255gr82B7jAppJfAMB9aUV2lYdRF5szTE/2aRk1OVpQBm8IIxTN5HK6NO7/33KrHWG+jleDzHPTBjYvP95fi603zvqRNUZwqLEUluKsM2zdSwv3tmsCzDn7dNzenuSUWqkByBB32efbTiWmr3WRJxKJUfSSZ9VCNQKA1cCpUcnMQDw5amtcZXFj3GgFXBzEKk3KFU0vwfKT/9LNtwQncfxb2i85V7ynLOxDboutPJjl/Kuy3zy83H4JpaqYTu4tPGqr6YItitKRIyhgrJNnJoM55/pYdFK/nz2w7/ISDp4+FjIhAVMW+HHY4bwUHC/q4r7nXmbz1MfX7AqEfJrgvxRKYlZhBeUwIy+If1LWq0LNxg1zKrA3CkFqCRUIUruXOGKnyfnZidyZtzt3a1V1AUCH9raNrZRkE1fU9vyQJ5Cz8UcwLqGI9DxwmXO0/57sNMfUgJvFCUqOQ/ahxJLfyY9qw7nOBRKe/sJ6XNRg7xO5KMH0+2b0rug8YerrJy+pUM+kCfwlHi/1dYHZiqx2bZSi6NuQ6w4odlSR0aNn89fSkMwEvKVXU8rSP4XlGuQ7hjRWCH4T2KXBe5OnU0xMjUHqBvngcfDvS5TQ/uuIQ1twlguvEauZvrgmQwERr8C+RXIEOtQqG1QDZvypQxn6OTg4dv0A3XvWUIgBue6vnZuUErl5RAhHBnq3a6ru8HuebAoI2XjDvWg2bepL6KFlk8khFTBgQLTv8TCCSbHQ56BMo02kZsRikJVRQxZeO12ZEZfhjZsLPetVGSgIQTP2JUZKPwVTwS0EvkRbDz1ekfWS6TfaL1nFAWViD02cGk+hWx3QE/wYRVCq3M8W8C7uNodytVf8HDXsRT3gMbHfaKQ0ubPfjn35uqPnL1JKrhF2tBiGaaU35X8n447+eFPei3RrIjZ6zmhJePq0FOyjodbsaX1ZWT7/PNR096qu+wIPyGPd34vbO+WwfPCqQ5CSREH30c7WhXJ1q+Uhxdb9mr34pExIxcIK0W2Xg=="
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5477bec8-a3e2-3fdc-28fc-09a913ffbac0?restype=container&comp=list&prefix=foo%2Ffolder0%2Ffolder1%2Ffolder2%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5477bec8-a3e2-3fdc-28fc-09a913ffbac0?restype=container&comp=list&prefix=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-versio[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5477bec8-a3e2-3fdc-28fc-09a913ffbac0/foo/folder0/folder1/folder2/test-file-2d9a8235-439e-958c-2900-7beda624f796",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "BxJ/hBdF3La17zipKbPFfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE005EF8D9E76B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:21:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:21:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5477bec8-a3e2-3fdc-28fc-09a913ffbac0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:21:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1768869933",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
