{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/264e9200-2944-4334-9a02-721e6268b55f?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/264e9200-2944-4334-9a02-721e6268b55f",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS15767759": "20230530",
          "NRMS14293353": "20221028"
        },
        "subscriptionId": "264e9200-2944-4334-9a02-721e6268b55f",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "EnS-Velma-Fengy-NonProd",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/07aed47b-60ad-4d6e-a07a-89b602418441/resourcegroups/sdk-tests-rg?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/07aed47b-60ad-4d6e-a07a-89b602418441/resourceGroups/sdk-tests-rg",
        "name": "sdk-tests-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/07aed47b-60ad-4d6e-a07a-89b602418441/resourceGroups/sdk-tests-rg/providers/Microsoft.IoTFirmwareDefense/workspaces/default?api-version=2024-01-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"24005691-0000-0100-0000-65cd8e6b0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/07aed47b-60ad-4d6e-a07a-89b602418441/resourceGroups/sdk-tests-rg/providers/Microsoft.IoTFirmwareDefense/workspaces/default",
        "name": "default",
        "type": "microsoft.iotfirmwaredefense/workspaces",
        "location": "East US",
        "systemData": {
          "createdBy": "mikekennedy@microsoft.com",
          "createdByType": "User",
          "createdAt": "2024-02-15T04:09:15.0528076Z",
          "lastModifiedBy": "mikekennedy@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2024-02-15T04:09:15.0528076Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/07aed47b-60ad-4d6e-a07a-89b602418441/resourceGroups/sdk-tests-rg/providers/Microsoft.IoTFirmwareDefense/workspaces/default/firmwares/cf833be1-3e8e-a00a-a037-ad27a0fc0497?api-version=2024-01-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"0400adab-0000-0100-0000-65cd8eb30000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/07aed47b-60ad-4d6e-a07a-89b602418441/resourceGroups/sdk-tests-rg/providers/Microsoft.IoTFirmwareDefense/workspaces/default/firmwares/cf833be1-3e8e-a00a-a037-ad27a0fc0497",
        "name": "cf833be1-3e8e-a00a-a037-ad27a0fc0497",
        "type": "microsoft.iotfirmwaredefense/workspaces/firmwares",
        "systemData": {
          "createdBy": "mikekennedy@microsoft.com",
          "createdByType": "User",
          "createdAt": "2024-02-15T04:09:44.0632024Z",
          "lastModifiedBy": "d6d855d0-705d-4f41-8a67-215ffa52110a",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2024-02-15T04:10:27.1150043Z"
        },
        "properties": {
          "vendor": "testVendor",
          "model": "testModel",
          "version": "testVersion",
          "fileName": "Centrifuge-exemplar.v7-rc1.tgz",
          "description": "testDescription",
          "status": "Ready",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/07aed47b-60ad-4d6e-a07a-89b602418441/resourceGroups/sdk-tests-rg/providers/Microsoft.IoTFirmwareDefense/workspaces/default/firmwares/cf833be1-3e8e-a00a-a037-ad27a0fc0497/cves?api-version=2024-01-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/07aed47b-60ad-4d6e-a07a-89b602418441/resourceGroups/sdk-tests-rg/providers/Microsoft.IoTFirmwareDefense/workspaces/default/firmwares/cf833be1-3e8e-a00a-a037-ad27a0fc0497/cves/73401c37-e235-4bbb-a441-a9ca85a2e085",
            "name": "73401c37-e235-4bbb-a441-a9ca85a2e085",
            "type": "Microsoft.IoTFirmwareDefense/workspaces/firmwares/cves",
            "properties": {
              "cveId": "73401c37-e235-4bbb-a441-a9ca85a2e085",
              "component": {
                "name": "jquery",
                "version": "3.1.1"
              },
              "severity": "Medium",
              "name": "CVE-2019-11358",
              "cvssV2Score": "4.3",
              "cvssV3Score": "6.1",
              "links": [
                {
                  "label": "https://www.drupal.org/sa-core-2019-006",
                  "href": "https://www.drupal.org/sa-core-2019-006"
                },
                {
                  "label": "https://snyk.io/vuln/SNYK-JS-JQUERY-174006",
                  "href": "https://snyk.io/vuln/SNYK-JS-JQUERY-174006"
                },
                {
                  "label": "https://github.com/jquery/jquery/pull/4333",
                  "href": "https://github.com/jquery/jquery/pull/4333"
                },
                {
                  "label": "https://github.com/jquery/jque[...]
