{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/91ab65d2-c73f-4768-89d0-b061815f258b?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/91ab65d2-c73f-4768-89d0-b061815f258b",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "91ab65d2-c73f-4768-89d0-b061815f258b",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure DNS Managed Resolver (ITE) (Validation)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/91ab65d2-c73f-4768-89d0-b061815f258b/resourcegroups/testRG-5073?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/91ab65d2-c73f-4768-89d0-b061815f258b/resourceGroups/testRG-5073",
        "name": "testRG-5073",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/91ab65d2-c73f-4768-89d0-b061815f258b/resourceGroups/testRG-5073/providers/Microsoft.Network/dnsResolverPolicies/dnsResolverPolicy-3295?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/91ab65d2-c73f-4768-89d0-b061815f258b/resourceGroups/testRG-5073/providers/Microsoft.Network/locations/westus2/dnsResolverPolicyOperationStatuses/eyJPcGVyYXRpb25UeXBlIjoiQ29udmVyZ2VEbnNSZXNvbHZlclBvbGljeSIsIk9wZXJhdGlvbklkIjoiYzc4NGIxZTItNTFhMS00NDZmLWJjMTQtNWU4MmQ0MDYzMTc0In0=?api-version=2025-05-01&t=638822855799398300&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTdeugAEBZm4WTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgY[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/91ab65d2-c73f-4768-89d0-b061815f258b/resourceGroups/testRG-5073/providers/Microsoft.Network/locations/westus2/dnsResolverPolicyOperationStatuses/eyJPcGVyYXRpb25UeXBlIjoiQ29udmVyZ2VEbnNSZXNvbHZlclBvbGljeSIsIk9wZXJhdGlvbklkIjoiYzc4NGIxZTItNTFhMS00NDZmLWJjMTQtNWU4MmQ0MDYzMTc0In0=?api-version=**&t=638822855799398300&c=MIIHpTCCBo2gAwIBAgITOgWZuFmLREgOyTdeugAEBZm4WTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLG[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/91ab65d2-c73f-4768-89d0-b061815f258b/resourceGroups/testRG-5073/providers/Microsoft.Network/dnsResolverPolicies/dnsResolverPolicy-3295?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "df56d949-bae1-4ba6-a532-0e1f3706b784"
        },
        "etag": "\"38092717-0000-0800-0000-681c5b0c0000\"",
        "location": "westus2",
        "id": "/subscriptions/91ab65d2-c73f-4768-89d0-b061815f258b/resourceGroups/testRG-5073/providers/Microsoft.Network/dnsResolverPolicies/dnsResolverPolicy-3295",
        "name": "dnsResolverPolicy-3295",
        "type": "Microsoft.Network/dnsResolverPolicies",
        "systemData": {
          "createdAt": "2025-05-08T07:19:39.814828Z",
          "createdByType": "User",
          "lastModifiedAt": "2025-05-08T07:19:39.814828Z",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/91ab65d2-c73f-4768-89d0-b061815f258b/resourceGroups/testRG-5073/providers/Microsoft.Network/dnsResolverPolicies/dnsResolverPolicy-3295?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "df56d949-bae1-4ba6-a532-0e1f3706b784"
        },
        "etag": "\"38092717-0000-0800-0000-681c5b0c0000\"",
        "location": "westus2",
        "id": "/subscriptions/91ab65d2-c73f-4768-89d0-b061815f258b/resourceGroups/testRG-5073/providers/Microsoft.Network/dnsResolverPolicies/dnsResolverPolicy-3295",
        "name": "dnsResolverPolicy-3295",
        "type": "Microsoft.Network/dnsResolverPolicies",
        "systemData": {
          "createdAt": "2025-05-08T07:19:39.814828Z",
          "createdByType": "User",
          "lastModifiedAt": "2025-05-08T07:19:39.814828Z",
          "lastModifiedByType": "User"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1628304438",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "91ab65d2-c73f-4768-89d0-b061815f258b"
  }
}
