{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1636?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/name-1636",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "Hello World"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mG_6o31MTRIXstoCYolFdg7t5HZ5bU_iTQUquwKbfJo\"",
        "Last-Modified": "Tue, 28 May 2024 21:15:55 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5MDg=;sn=2611908"
      },
      "ResponseBody": {
        "etag": "mG_6o31MTRIXstoCYolFdg7t5HZ5bU_iTQUquwKbfJo",
        "key": ".appconfig.featureflag/name-1636",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:15:55+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1636?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE5MDg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mG_6o31MTRIXstoCYolFdg7t5HZ5bU_iTQUquwKbfJo\"",
        "Last-Modified": "Tue, 28 May 2024 21:15:55 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5MDg=;sn=2611908"
      },
      "ResponseBody": {
        "etag": "mG_6o31MTRIXstoCYolFdg7t5HZ5bU_iTQUquwKbfJo",
        "key": ".appconfig.featureflag/name-1636",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:15:55+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1636?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE5MDg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mG_6o31MTRIXstoCYolFdg7t5HZ5bU_iTQUquwKbfJo\"",
        "Last-Modified": "Tue, 28 May 2024 21:15:55 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5MDk=;sn=2611909"
      },
      "ResponseBody": {
        "etag": "mG_6o31MTRIXstoCYolFdg7t5HZ5bU_iTQUquwKbfJo",
        "key": ".appconfig.featureflag/name-1636",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:15:55+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1636"
  }
}
