{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1501?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/name-1501",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"adD60lQbcEO2KuLQAhJaEHrJHSY1ziFhKv6bmxFWyfo\"",
        "Last-Modified": "Tue, 28 May 2024 21:15:55 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5MDY=;sn=2611906"
      },
      "ResponseBody": {
        "etag": "adD60lQbcEO2KuLQAhJaEHrJHSY1ziFhKv6bmxFWyfo",
        "key": ".appconfig.featureflag/name-1501",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:15:55+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1501?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE5MDY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"adD60lQbcEO2KuLQAhJaEHrJHSY1ziFhKv6bmxFWyfo\"",
        "Last-Modified": "Tue, 28 May 2024 21:15:55 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5MDY=;sn=2611906"
      },
      "ResponseBody": {
        "etag": "adD60lQbcEO2KuLQAhJaEHrJHSY1ziFhKv6bmxFWyfo",
        "key": ".appconfig.featureflag/name-1501",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:15:55+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1501?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE5MDY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"adD60lQbcEO2KuLQAhJaEHrJHSY1ziFhKv6bmxFWyfo\"",
        "Last-Modified": "Tue, 28 May 2024 21:15:55 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5MDc=;sn=2611907"
      },
      "ResponseBody": {
        "etag": "adD60lQbcEO2KuLQAhJaEHrJHSY1ziFhKv6bmxFWyfo",
        "key": ".appconfig.featureflag/name-1501",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:15:55+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1501"
  }
}
