{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1104?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/name-1104",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"p7wDy1h8uYI1YbDJM04Ge2BqvwEmKHauRlABA78XADQ\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:33:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzYyNzc=;sn=74776277",
        "x-ms-date": "Thu, 23 Oct 2025 05:33:30 GMT"
      },
      "ResponseBody": {
        "etag": "p7wDy1h8uYI1YbDJM04Ge2BqvwEmKHauRlABA78XADQ",
        "key": ".appconfig.featureflag/name-1104",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:33:30+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1104?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzYyNzc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"p7wDy1h8uYI1YbDJM04Ge2BqvwEmKHauRlABA78XADQ\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:33:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzYyNzc=;sn=74776277",
        "x-ms-date": "Thu, 23 Oct 2025 05:33:31 GMT"
      },
      "ResponseBody": {
        "etag": "p7wDy1h8uYI1YbDJM04Ge2BqvwEmKHauRlABA78XADQ",
        "key": ".appconfig.featureflag/name-1104",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:33:30+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fname-1104?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzYyNzc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"p7wDy1h8uYI1YbDJM04Ge2BqvwEmKHauRlABA78XADQ\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:33:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzYyNzg=;sn=74776278",
        "x-ms-date": "Thu, 23 Oct 2025 05:33:31 GMT"
      },
      "ResponseBody": {
        "etag": "p7wDy1h8uYI1YbDJM04Ge2BqvwEmKHauRlABA78XADQ",
        "key": ".appconfig.featureflag/name-1104",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "[]",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:33:30+00:00"
      }
    }
  ],
  "Variables": {
    "name-1": "name-1104"
  }
}
