{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/models/lightgbm_predict/versions/1?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "error",
        "x-request-time": "0.394"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "The specified resource was not found.",
          "details": [
            {
              "code": "NoSuchModelRegistered",
              "message": "There is no registered model in Account Subscription: 00000000-0000-0000-0000-000000000, ResourceGroup: 00000, Workspace: 00000-ws with id lightgbm_predict:1",
              "details": [],
              "additionalInfo": []
            }
          ],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "02ef49d88d735ab60217533b0f95a5d9",
                  "request": "56c81c12fc716650"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "eastus"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "eastus"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2023-12-01T22:17:18.6481567\u002B00:00"
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/codes/4c6680d5-2e4e-40e0-b11e-efd6b7398be9/versions?api-version=2023-04-01\u0026hash=9d2bbbe2a00c64ea53977ba0b535b9063af17d2a2377f9389cad07f1fb802dce\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.118"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/codes/040cc910-7b4f-4757-9a15-cf8199699686/versions/1",
            "name": "1",
            "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {
                "hash_sha256": "9d2bbbe2a00c64ea53977ba0b535b9063af17d2a2377f9389cad07f1fb802dce",
                "hash_version": "202208"
              },
              "isArchived": false,
              "isAnonymous": false,
              "codeUri": "https://amlsdkv2storage0995ad8cc.blob.core.windows.net:443/f02fddaf-e0b1-4976-94d3-a8be0cc9fe32-116mq9pv4q8yznqz5uld92b5o6/light_gbm_examples",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2023-12-01T20:06:24.2377164\u002B00:00",
              "createdBy": "Nemanja Rajic",
              "createdByType": "User",
              "lastModifiedAt": "2023-12-01T20:06:24.2377164\u002B00:00",
              "lastModifiedBy": "Nemanja Rajic",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/codes/040cc910-7b4f-4757-9a15-cf8199699686/versions/1?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vie[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/environments/CliV2AnonymousEnvironment/versions/2d2385fe588fafa23a66ec2fec279efb?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "isAnonymous": true,
          "isArchived": false,
          "condaFile": "channels:\n- conda-forge\ndependencies:\n- python=3.6.2\n- pip\n- pip:\n  - pandas\n  - matplotlib\n  - azureml-core\n  - azureml-defaults\n  - lightgbm\n  - mlflow\n  - azureml-mlflow\n  - pandas\n  - numpy\n  - scikit-learn\nname: example-environment\n",
          "image": "mcr.microsoft.com/azureml/openmpi4.1.0-ubuntu22.04"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/environments/CliV2AnonymousEnvironment/versions/2d2385fe588fafa23a66ec2fec279efb?api-version=2023-04-01-preview",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.712"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/environments/CliV2AnonymousEnvironment/versions/2d2385fe588fafa23a66ec2fec279efb",
        "name": "2d2385fe588fafa23a66ec2fec279efb",
        "type": "Microsoft.MachineLearningServices/workspaces/environments/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "azureml.labels": ""
          },
          "isArchived": false,
          "isAnonymous": true,
          "autoDeleteSetting": null,
          "environmentType": "UserCreated",
          "image": "mcr.microsoft.com/azureml/openmpi4.1.0-ubuntu22.04",
          "condaFile": "{\n  \u0022channels\u0022: [\n    \u0022conda-forge\u0022\n  ],\n  \u0022dependencies\u0022: [\n    \u0022python=3.6.2\u0022,\n    \u0022pip\u0022,\n    {\n      \u0022pip\u0022: [\n        \u0022pandas\u0022,\n        \u0022matplotlib\u0022,\n        \u0022azureml-core\u0022,\n        \u0022azureml-defaults\u0022,\n        \u0022lightgbm\u0022,\n        \u0022mlflow\u0022,\n        \u0022azureml-mlflow\u0022,\n        \u0022pandas\u0022,\n        \u0022numpy\u0022,\n        \u0022scikit-learn\u0022\n      ]\n    }\n  ],\n  \u0022name\u0022: \u0022example-environment\u0022\n}",
          "osType": "Linux",
          "autoRebuild": "Disabled",
          "provisioningState": "Succeeded",
          "stage": "Logged",
          "intellectualProperty": null
        },
        "systemData": {
          "createdAt": "2023-12-01T20:06:26.3249077\u002B00:00",
          "createdBy": "Nemanja Rajic",
          "createdByType": "User",
          "lastModifiedAt": "2023-12-01T20:06:26.3249077\u002B00:00",
          "lastModifiedBy": "Nemanja Rajic",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/jobs/light_gbm_job_9c89da652805462fad86e20bf6cd34ce?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/computes/cpu-cluster",
          "displayName": "light_gbm_job_9c89da652805462fad86e20bf6cd34ce",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Command",
          "codeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/codes/040cc910-7b4f-4757-9a15-cf8199699686/versions/1",
          "command": "python ./python-guide/advanced_example.py",
          "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/environments/CliV2AnonymousEnvironment/versions/2d2385fe588fafa23a66ec2fec279efb",
          "environmentVariables": {},
          "inputs": {},
          "outputs": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/jobs/light_gbm_job_9c89da652805462fad86e20bf6cd34ce?api-version=2023-04-01-preview",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.480"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/jobs/light_gbm_job_9c89da652805462fad86e20bf6cd34ce",
        "name": "light_gbm_job_9c89da652805462fad86e20bf6cd34ce",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "_azureml.ComputeTargetType": "amlctrain",
            "ContentSnapshotId": "b3217c13-2172-4a53-b697-9d7ddad726f2"
          },
          "displayName": "light_gbm_job_9c89da652805462fad86e20bf6cd34ce",
          "status": "Starting",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://eastus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/light_gbm_job_9c89da652805462fad86e20bf6cd34ce?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000-ws",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/computes/cpu-cluster",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "secretsConfiguration": null,
          "jobType": "Command",
          "resources": {
            "instanceCount": 1,
            "maxInstanceCount": null,
            "instanceType": null,
            "locations": null,
            "properties": null,
            "shmSize": "2g",
            "dockerArgs": null
          },
          "codeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/codes/040cc910-7b4f-4757-9a15-cf8199699686/versions/1",
          "command": "python ./python-guide/advanced_example.py",
          "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/environments/CliV2AnonymousEnvironment/versions/2d2385fe588fafa23a66ec2fec279efb",
          "inputs": {},
          "outputs": {
            "default": {
              "description": null,
              "uri": "azureml://datastores/workspaceartifactstore/ExperimentRun/dcid.light_gbm_job_9c89da652805462fad86e20bf6cd34ce",
              "assetName": null,
              "assetVersion": null,
              "mode": "ReadWriteMount",
              "autoDeleteSetting": null,
              "jobOutputType": "uri_folder"
            }
          },
          "distribution": null,
          "autologgerSettings": null,
          "limits": null,
          "environmentVariables": {},
          "parameters": {},
          "queueSettings": null
        },
        "systemData": {
          "createdAt": "2023-12-01T22:17:26.0205708\u002B00:00",
          "createdBy": "Nemanja Rajic",
          "createdByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/jobs/light_gbm_job_9c89da652805462fad86e20bf6cd34ce?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.052"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/jobs/light_gbm_job_9c89da652805462fad86e20bf6cd34ce",
        "name": "light_gbm_job_9c89da652805462fad86e20bf6cd34ce",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {
            "_aml_system_ComputeTargetStatus": "{\u0022AllocationState\u0022:\u0022steady\u0022,\u0022PreparingNodeCount\u0022:0,\u0022RunningNodeCount\u0022:5,\u0022CurrentNodeCount\u0022:6}"
          },
          "properties": {
            "_azureml.ComputeTargetType": "amlctrain",
            "ContentSnapshotId": "b3217c13-2172-4a53-b697-9d7ddad726f2",
            "ProcessInfoFile": "azureml-logs/process_info.json",
            "ProcessStatusFile": "azureml-logs/process_status.json"
          },
          "displayName": "light_gbm_job_9c89da652805462fad86e20bf6cd34ce",
          "status": "Queued",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://eastus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServic[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.027"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws",
        "name": "00000-ws",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus",
        "tags": {
          "cleanup:DeleteAfter": "31.00:00:00",
          "cleanup:Policy": "DeleteAfter",
          "creationTime": "1701217658",
          "owner": "azuremlsdk@microsoft.com",
          "SkipAutoDeleteTill": "2023-12-30",
          "EnableAzSecPackIdentityPolicy": "true",
          "createdByToolkit": "cli-v2-1.12.0"
        },
        "etag": null,
        "properties": {
          "friendlyName": "00000-ws",
          "description": "00000-ws",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/amlsdkv2storage0995ad8cc",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/amlsdkv2keyvault17f51845",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/amlsdkv2insights23ba3943",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled"
          },
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/f02fddafe0b1497694d3a8be0cc9fe32",
          "creationTime": "2023-11-29T00:28:09.7388704Z",
          "notebookInfo": {
            "resourceId": "274f82b9ca424555ad87ad136c2595c1",
            "fqdn": "ml-00000-w-eastus-f02fddaf-e0b1-4976-94d3-a8be0cc9fe32.eastus.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "f02fddaf-e0b1-4976-94d3-a8be0cc9fe32",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "discoveryUrl": "https://eastus.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws",
          "serverlessComputeSettings": {
            "serverlessComputeCustomSubnet": null,
            "serverlessComputeNoPublicIP": false
          },
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "f5784ccd-178d-4ecc-9998-b05841b44ae9",
          "sasGetterUri": "",
          "enableDataIsolation": false,
          "azureOpenAI": {
            "provisioningState": "NotStarted",
            "resourceId": null,
            "endpoint": null,
            "proxyResourceId": null,
            "failureReason": null,
            "deployedModels": []
          },
          "azureCognitiveSearch": {
            "provisioningState": "NotStarted",
            "resourceId": null,
            "endpoint": null,
            "failureReason": null
          },
          "azureAIContentSafety": {
            "provisioningState": "NotStarted",
            "resourceId": null,
            "endpoint": null,
            "failureReason": null
          },
          "endpointResources": {}
        },
        "identity": {
          "type": "SystemAssigned,UserAssigned",
          "principalId": "5de3d7e4-0650-43fd-8cb6-91fbce58c6cd",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "userAssignedIdentities": {
            "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ManagedIdentity/userAssignedIdentities/00000-uai": {
              "principalId": "b128eb52-2a8c-4e7d-b5cb-5c8d17fb441a",
              "clientId": "e3ad4fe6-75e6-4f3d-a4e0-34df41895ba6"
            }
          }
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-11-29T00:28:09.7388704Z",
          "createdBy": "1f89c60e-324c-4413-ba2c-9b93ae6f54cc",
          "createdByType": "Application",
          "lastModifiedAt": "2023-12-01T22:09:46.6832012Z",
          "lastModifiedBy": "1f89c60e-324c-4413-ba2c-9b93ae6f54cc",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/batchEndpoints/batch-ept-53271daae9b448d?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "authMode": "aadToken",
          "description": "my sample batch endpoint",
          "properties": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus/mfeOperationsStatus/bebes:f02fddaf-e0b1-4976-94d3-a8be0cc9fe32:754b648b-7b3e-4ac5-8364-9996b9496fc9?api-version=2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/batchEndpoints/batch-ept-53271daae9b448d?api-version=2023-10-01",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-async-operation-timeout": "PT30M",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.569"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/batchEndpoints/batch-ept-53271daae9b448d",
        "name": "batch-ept-53271daae9b448d",
        "type": "Microsoft.MachineLearningServices/workspaces/batchEndpoints",
        "properties": {
          "description": "my sample batch endpoint",
          "properties": {
            "BatchEndpointCreationApiVersion": "2023-10-01",
            "azureml.onlineendpointid": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000-ws/batchEndpoints/batch-ept-53271daae9b448d"
          },
          "scoringUri": null,
          "swaggerUri": null,
          "authMode": "AADToken",
          "defaults": {
            "deploymentName": null
          },
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdAt": "2023-12-01T22:21:14.927931\u002B00:00",
          "createdBy": "Nemanja Rajic",
          "lastModifiedAt": "2023-12-01T22:21:14.9279421\u002B00:00"
        },
        "tags": {},
        "location": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus/mfeOperationsStatus/bebes:f02fddaf-e0b1-4976-94d3-a8be0cc9fe32:754b648b-7b3e-4ac5-8364-9996b9496fc9?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-response-type": "standard",
        "x-request-time": "0.089"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus/mfeOperationsStatus/bebes:f02fddaf-e0b1-4976-94d3-a8be0cc9fe32:754b648b-7b3e-4ac5-8364-9996b9496fc9",
        "name": "bebes:f02fddaf-e0b1-4976-94d3-a8be0cc9fe32:754b648b-7b3e-4ac5-8364-9996b9496fc9",
        "status": "Updating"
      }
    },
[...]
