{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/lightgbm_predict/versions/1?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "error",
        "x-request-time": "0.148"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "The specified resource was not found.",
          "details": [
            {
              "code": "NoSuchModelRegistered",
              "message": "There is no registered model in Account Subscription: 00000000-0000-0000-0000-000000000000, ResourceGroup: 00000, Workspace: 00000 with id lightgbm_predict:1",
              "details": [],
              "additionalInfo": []
            }
          ],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "b25e740e3a72e3e2ee0b175f268fa7fc",
                  "request": "26a8d5680c1f2234"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "westus"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "westus"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2026-02-27T17:06:08.558489+00:00"
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/701c5700-f4f4-42db-9c7a-e911fde8bc66/versions?api-version=2023-04-01&hash=37317caf3c594902dc157eeb518e2b06c35b7c21bd46d0c2f335b35b316c4366&hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.252"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/d45e1c1c-3e96-47a9-af11-b815f35f5763/versions/1",
            "name": "1",
            "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {
                "hash_sha256": "37317caf3c594902dc157eeb518e2b06c35b7c21bd46d0c2f335b35b316c4366",
                "hash_version": "202208"
              },
              "isArchived": false,
              "isAnonymous": false,
              "codeUri": "https://saep2ojtu6hiywu.blob.core.windows.net:443/b0f1ba9e-8ee1-4137-b14e-89f18df895c7-buoyzokjqqltu9huzfrr1zcmws/light_gbm_examples",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2026-02-26T14:37:07.1521151+00:00",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2026-02-26T14:37:07.1521151+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/d45e1c1c-3e96-47a9-af11-b815f35f5763/versions/1?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/376360b6535aec21e19656c8288bb2b227a2d1f1855e2de2416b83e545c87a52?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "isAnonymous": true,
          "isArchived": false,
          "condaFile": "channels:\n- conda-forge\ndependencies:\n- python=3.6.2\n- pip\n- pip:\n  - pandas\n  - matplotlib\n  - azureml-core\n  - azureml-defaults\n  - lightgbm\n  - mlflow\n  - azureml-mlflow\n  - pandas\n  - numpy\n  - scikit-learn\nname: example-environment\n",
          "image": "mcr.microsoft.com/azureml/openmpi4.1.0-ubuntu22.04"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/376360b6535aec21e19656c8288bb2b227a2d1f1855e2de2416b83e545c87a52?api-version=2023-04-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "1.664"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/376360b6535aec21e19656c8288bb2b227a2d1f1855e2de2416b83e545c87a52",
        "name": "376360b6535aec21e19656c8288bb2b227a2d1f1855e2de2416b83e545c87a52",
        "type": "Microsoft.MachineLearningServices/workspaces/environments/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "azureml.labels": ""
          },
          "isArchived": false,
          "isAnonymous": true,
          "autoDeleteSetting": null,
          "environmentType": "UserCreated",
          "image": "mcr.microsoft.com/azureml/openmpi4.1.0-ubuntu22.04",
          "condaFile": "{\n  \"channels\": [\n    \"conda-forge\"\n  ],\n  \"dependencies\": [\n    \"python=3.6.2\",\n    \"pip\",\n    {\n      \"pip\": [\n        \"pandas\",\n        \"matplotlib\",\n        \"azureml-core\",\n        \"azureml-defaults\",\n        \"lightgbm\",\n        \"mlflow\",\n        \"azureml-mlflow\",\n        \"pandas\",\n        \"numpy\",\n        \"scikit-learn\"\n      ]\n    }\n  ],\n  \"name\": \"example-environment\"\n}",
          "osType": "Linux",
          "autoRebuild": "Disabled",
          "provisioningState": "Succeeded",
          "stage": "Logged",
          "intellectualProperty": null
        },
        "systemData": {
          "createdAt": "2026-02-26T14:37:08.6862177+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-02-26T14:37:08.6862177+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/light_gbm_job_f5fecab48af045f18d6e41fa6646ab96?api-version=2025-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "displayName": "light_gbm_job_f5fecab48af045f18d6e41fa6646ab96",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Command",
          "codeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/d45e1c1c-3e96-47a9-af11-b815f35f5763/versions/1",
          "command": "python ./python-guide/advanced_example.py",
          "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/376360b6535aec21e19656c8288bb2b227a2d1f1855e2de2416b83e545c87a52",
          "environmentVariables": {},
          "inputs": {},
          "outputs": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/light_gbm_job_f5fecab48af045f18d6e41fa6646ab96?api-version=2025-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.672"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/light_gbm_job_f5fecab48af045f18d6e41fa6646ab96",
        "name": "light_gbm_job_f5fecab48af045f18d6e41fa6646ab96",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "_azureml.ComputeTargetType": "amlctrain",
            "_azureml.ClusterName": "cpu-cluster",
            "ContentSnapshotId": "66a328c6-e3e2-40b6-ae1f-c592d0d86cf6"
          },
          "parentJobName": null,
          "displayName": "light_gbm_job_f5fecab48af045f18d6e41fa6646ab96",
          "status": "Starting",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/light_gbm_job_f5fecab48af045f18d6e41fa6646ab96?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "jobType": "Command",
          "resources": {
            "instanceCount": 1,
            "instanceType": null,
            "properties": null,
            "shmSize": "2g",
            "dockerArgs": null,
            "dockerArgsList": null
          },
          "codeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/d45e1c1c-3e96-47a9-af11-b815f35f5763/versions/1",
          "command": "python ./python-guide/advanced_example.py",
          "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/376360b6535aec21e19656c8288bb2b227a2d1f1855e2de2416b83e545c87a52",
          "inputs": {},
          "outputs": {
            "default": {
              "description": null,
              "uri": "azureml://datastores/workspaceartifactstore/ExperimentRun/dcid.light_gbm_job_f5fecab48af045f18d6e41fa6646ab96",
              "assetName": null,
              "mode": "ReadWriteMount",
              "jobOutputType": "uri_folder"
            }
          },
          "distribution": null,
          "limits": null,
          "environmentVariables": {},
          "parameters": {},
          "queueSettings": {
            "jobTier": "Null"
          }
        },
        "systemData": {
          "createdAt": "2026-02-27T17:06:15.0387131+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/light_gbm_job_f5fecab48af045f18d6e41fa6646ab96?api-version=2024-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.059"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/light_gbm_job_f5fecab48af045f18d6e41fa6646ab96",
        "name": "light_gbm_job_f5fecab48af045f18d6e41fa6646ab96",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {
            "_aml_system_ComputeTargetStatus": "{\"AllocationState\":\"steady\",\"PreparingNodeCount\":0,\"RunningNodeCount\":0,\"CurrentNodeCount\":0}"
          },
          "properties": {
            "_azureml.ComputeTargetType": "amlctrain",
            "_azureml.ClusterName": "cpu-cluster",
            "ContentSnapshotId": "66a328c6-e3e2-40b6-ae1f-c592d0d86cf6",
            "ProcessInfoFile": "azureml-logs/process_info.json",
            "ProcessStatusFile": "azureml-logs/process_status.json"
          },
          "displayName": "light_gbm_job_f5fecab48af045f18d6e41fa6646ab96",
          "status": "Queued",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/light_gbm_job_f5fecab48af045f18d6e41fa6646ab96?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "secretsConfiguration": null,
          "jobType": "Command",
          "resources": {
            "instanceCount": 1,
            "maxInstanceCount": null,
            "instanceType": null,
            "locations": null,
            "properties": null,
            "shmSize": "2g",
            "dockerArgs": null
          },
          "codeId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/d45e1c1c-3e96-47a9-af11-b815f35f5763/versions/1",
          "command": "python ./python-guide/advanced_example.py",
          "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/376360b6535aec21e19656c8288bb2b227a2d1f1855e2de2416b83e545c87a52",
          "inputs": {},
          "outputs": {
            "default": {
              "description": null,
              "uri": "azureml://datastores/workspaceartifactstore/ExperimentRun/dcid.light_gbm_job_f5fecab48af045f18d6e41fa6646ab96",
              "assetName": null,
              "assetVersion": null,
              "mode": "ReadWriteMount",
              "pathOnCompute": null,
              "autoDeleteSetting": null,
              "jobOutputType": "uri_folder"
            }
          },
          "distribution": null,
          "autologgerSettings": null,
          "limits": null,
          "environmentVariables": {},
          "parameters": {},
          "queueSettings": {
            "jobTier": "Null",
            "priority": null
          }
        },
        "systemData": {
          "createdAt": "2026-02-27T17:06:15.0387131+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098",
        "x-ms-response-type": "standard",
        "x-request-time": "0.029"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "westus",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtestxj2nmna6k5cze",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.insights/components/aiep2ojtu6hiywu",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled",
            "enableNetworkMonitor": false,
            "enableFirewallLog": false
          },
          "allowRoleAssignmentOnRG": true,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crep2ojtu6hiywu",
          "creationTime": "2026-02-25T23:13:13.3878914Z",
          "notebookInfo": {
            "resourceId": "8b068416c20e42baa378e44e9bcaecfa",
            "fqdn": "ml-sdkvnextcli-westus-b0f1ba9e-8ee1-4137-b14e-89f18df895c7.westus.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "b0f1ba9e-8ee1-4137-b14e-89f18df895c7",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "networkAcls": {
            "defaultAction": "Allow",
            "bypass": "",
            "ipRules": [],
            "resourceAccessRules": []
          },
          "discoveryUrl": "https://westus.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "ad4db683-227d-4cf9-b788-db8d151f62e0",
          "sasGetterUri": "",
          "enableDataIsolation": false,
          "systemDatastoresAuthMode": "accesskey",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2026-02-25T23:13:13.3878914Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-02-25T23:13:13.3878914Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/batchEndpoints/batch-ept-3e54a023067e40c?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "tags": {},
        "properties": {
          "description": "my sample batch endpoint",
          "authMode": "aadToken",
          "properties": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/bebes:b0f1ba9e-8ee1-4137-b14e-89f18df895c7:2323625a-7445-4610-9623-eb488fe16781?api-version=2023-10-01&t=639078089679883333&c=MIIHhzCCBm-gAwIBAgITHgf_SDN0U0Mca1SI0QAAB_9IMzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjYwMjE5MDYyODQwWhcNMjYwNTI0MjI1NzAzWjBAMT4wPAY[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/bebes:b0f1ba9e-8ee1-4137-b14e-89f18df895c7:2323625a-7445-4610-9623-eb488fe16781?api-version=2023-10-01&t=639078089679883333&c=MIIHhzCCBm-gAwIBAgITHgf_SDN0U0Mca1SI0QAAB_9IMzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjYwMjE5MDYyODQwWhcNMjY[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/batchEndpoints/batch-ept-3e54a023067e40c?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.076"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/batchEndpoints/batch-ept-3e54a023067e40c",
        "name": "batch-ept-3e54a023067e40c",
        "type": "Microsoft.MachineLearningServices/workspaces/batchEndpoints",
        "properties": {
          "description": "my sample batch endpoint",
          "properties": {
            "BatchEndpointCreationApiVersion": "2023-10-01",
            "azureml.onlineendpointid": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/batchEndpoints/batch-ept-3e54a023067e40c"
          },
          "scoringUri": "https://batch-ept-3e54a023067e40c.westus.inference.ml.azure.com/jobs",
          "swaggerUri": null,
          "authMode": "AADToken",
          "defaults": {
            "deploymentName": null
          },
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdAt": "2026-02-27T17:09:27.6143086+00:00",
          "createdBy": "Sanitized",
          "lastModifiedAt": "2026-02-27T17:09:27.6143206+00:00"
        },
        "tags": {},
        "location": "westus"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus/mfeOperationsStatus/bebes:b0f1ba9e-8ee1-4137-b14e-89f18df895c7:85398701-18d5-4b75-a731-89b34ad33d4d?api-version=2023-10-01&t=639078089992405095&c=MIIHhzCCBm-gAwIBAgITHgf_SDN0U0Mca1SI0QAAB_9IMzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjYwMjE5MDYyODQwWhcNMjY[...]
[...]
