{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/indexes/my-azure-search-index/versions/1.0?api-version=v1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "type": "AzureSearch",
        "connectionName": "sample_index_connection",
        "indexName": "sample_index"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "09e0907e-9685-40a3-8e6c-86df56f6c7f4",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.853"
      },
      "ResponseBody": {
        "type": "AzureSearch",
        "connectionName": "sample_index_connection",
        "indexName": "sample_index",
        "name": "my-azure-search-index",
        "version": "1.0"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/indexes/my-azure-search-index/versions?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ba5d1e47-7bc3-4df1-b390-324be53dfe67",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.130"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "AzureSearch",
            "connectionName": "sample_index_connection",
            "indexName": "sample_index",
            "name": "my-azure-search-index",
            "version": "1.0"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/indexes?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "618fc8e1-dbfc-4a9b-a01b-636428b6b11c",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard",
        "x-request-time": "3.131"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "AzureSearch",
            "connectionName": "sample_index_connection",
            "indexName": "sample_index",
            "name": "my-azure-search-index",
            "version": "1.0"
          },
          {
            "type": "AzureSearch",
            "connectionName": "my-ai-search-connection",
            "indexName": "my-ai-search-index",
            "name": "test-index-name",
            "version": "1"
          },
          {
            "type": "ManagedAzureSearch",
            "vectorStoreId": "vs_ZqxfetITWEgEhiwLJUkkmtot",
            "name": "TestProductInfoStore",
            "version": "1"
          },
          {
            "type": "ManagedAzureSearch",
            "vectorStoreId": "vs_LHkiEMn73oKVSG177ym0nEiV",
            "name": "ProductInfoStreamStore",
            "version": "1"
          },
          {
            "type": "ManagedAzureSearch",
            "vectorStoreId": "vs_16bTGXYWJTRndrcpNSu0AWaT",
            "name": "sample_vector_store",
            "version": "1"
          },
          {
            "type": "ManagedAzureSearch",
            "vectorStoreId": "vs_BtIL8cM6tRn5pd3XHd4toZSC",
            "name": "ResearchStore",
            "version": "1"
          },
          {
            "type": "ManagedAzureSearch",
            "vectorStoreId": "vs_5XGoffHJ0B7eFFVhgoOZE0q5",
            "name": "ProductInfoStore",
            "version": "1"
          },
          {
            "type": "ManagedAzureSearch",
            "vectorStoreId": "vs_fpfntgeN59Gk3SlAYnmCN4MM",
            "name": null,
            "version": "1"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/indexes/my-azure-search-index/versions/1.0?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "mise-correlation-id": "557dd82e-e63e-439a-85c1-deb4e5c5755c",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard",
        "x-request-time": "3.309"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
