{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830462477300382?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF7A5F611C0C7\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:57:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830462477300382/blob175830463358201193",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DDF7A5F623F933\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:57:12 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-19T17:57:12.7695667Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830462477300382/blob175830463358201193",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-range": "bytes=0-0",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-0/11",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDF7A5F623F933\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:57:12 GMT",
        "x-ms-blob-content-md5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "MlSW/U5mnKQ=",
        "x-ms-creation-time": "Fri, 19 Sep 2025 17:57:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 19 Sep 2025 17:57:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-19T17:57:12.7695667Z"
      },
      "ResponseBody": "SA=="
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830462477300382/blob175830463358201193",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-range": "bytes=1-1",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "4WcXl8UuFfdjOAtF6EHsMg==",
        "Content-Range": "bytes 1-1/11",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDF7A5F623F933\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:57:12 GMT",
        "x-ms-blob-content-md5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Sep 2025 17:57:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 19 Sep 2025 17:57:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-19T17:57:12.7695667Z"
      },
      "ResponseBody": "ZQ=="
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830462477300382/blob175830463358201193",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-range": "bytes=2-2",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BothCrc64AndMd5RangeHeaderPresent",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BothCrc64AndMd5RangeHeaderPresent</Code><Message>Both x-ms-range-get-content-crc64 header and x-ms-range-get-content-md5 header are present.\n",
        "RequestId:d743bcba-801e-0053-238e-29dbd4000000\n",
        "Time:2025-09-19T17:57:13.1255744Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830462477300382?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob175830463358201193",
    "container": "container175830462477300382"
  }
}
