{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830479103100462?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF7A656E2A812\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:59:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830479103100462/blob175830479556403957",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DDF7A656F1F0B3\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:59:55 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-19T17:59:55.1806643Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830479103100462/copiedblob175830479565604542",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container175830479103100462/blob175830479556403957",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF7A659530CFD\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:59:59 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-copy-id": "188f292a-c6e8-40ea-ad05-8af5ab9a4d19",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-19T17:59:59.2219225Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830479103100462/blob175830479556403957",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDF7A656F1F0B3\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:59:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Sep 2025 17:59:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 19 Sep 2025 17:59:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-19T17:59:55.1806643Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830479103100462/copiedblob175830479565604542",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDF7A659530CFD\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:59:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Fri, 19 Sep 2025 17:59:59 GMT",
        "x-ms-copy-id": "188f292a-c6e8-40ea-ad05-8af5ab9a4d19",
        "x-ms-copy-progress": "11/11",
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net:443/container175830479103100462/blob175830479556403957",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Fri, 19 Sep 2025 17:59:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 19 Sep 2025 17:59:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-19T17:59:59.2219225Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175830479103100462?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob175830479556403957",
    "container": "container175830479103100462",
    "copiedblob": "copiedblob175830479565604542"
  }
}
