{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177343975900300407?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE814D2D079F26\"",
        "Last-Modified": "Fri, 13 Mar 2026 22:09:20 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177343975900300407/blob177343976015600233",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DE814D2D13F809\"",
        "Last-Modified": "Fri, 13 Mar 2026 22:09:20 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-13T22:09:20.1937417Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177343975900300407/blob177343976015600233",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177343975900300407/blob2177343976030300498",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\n",
        "RequestId:91b7e089-901e-003d-5a36-b38efb000000\n",
        "Time:2026-03-13T22:09:20.3401221Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177343975900300407?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob177343976015600233",
    "blob2": "blob2177343976030300498",
    "container": "container177343975900300407"
  }
}
