{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764716288507887?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4C9E41C1AD91\"",
        "Last-Modified": "Mon, 05 Jan 2026 21:06:12 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764716288507887/blob176764717247909538",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DE4C9E41CE74D3\"",
        "Last-Modified": "Mon, 05 Jan 2026 21:06:12 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-05T21:06:12.5782227Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764716288507887/copiedblob176764717260203688",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container176764716288507887/blob176764717247909538?sv=Sanitized&se=sanitizedexpiry&sr=b&sp=d&sig=sanitizedsig",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "AuthorizationPermissionMismatch",
        "x-ms-copy-source-status-code": "403",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>This request is not authorized to perform this operation using this permission.\n",
        "RequestId:3fd3e997-401e-0063-0787-7e1c26000000\n",
        "Time:2026-01-05T21:06:12.7339208Z</Message><CopySourceStatusCode>403</CopySourceStatusCode><CopySourceErrorCode>AuthorizationPermissionMismatch</CopySourceErrorCode><CopySourceErrorMessage>This request is not authorized to perform this operation using this permission.</CopySourceErrorMessage></Error>"
      ]
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764716288507887?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob176764717247909538",
    "container": "container176764716288507887",
    "copiedblob": "copiedblob176764717260203688",
    "tmr": "2026-01-05T21:06:12.602Z"
  }
}
