{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828250861805965?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:48:28 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF77273BEE20B\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:48:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828250861805965/dir175828250891500278?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:48:28 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF77273EEA83A\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:48:29 GMT",
        "x-ms-file-change-time": "2025-09-19T11:48:29.9831354Z",
        "x-ms-file-creation-time": "2025-09-19T11:48:29.9831354Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-19T11:48:29.9831354Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828250861805965/dir175828250891500278/file175828250921800644",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 19 Sep 2025 11:48:29 GMT",
        "x-ms-file-file-type": "Regular",
        "x-ms-group": "654",
        "x-ms-mode": "2755",
        "x-ms-owner": "123",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF772741BEE01\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:48:30 GMT",
        "x-ms-file-change-time": "2025-09-19T11:48:30.2798337Z",
        "x-ms-file-creation-time": "2025-09-19T11:48:30.2798337Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-19T11:48:30.2798337Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "654",
        "x-ms-mode": "2755",
        "x-ms-owner": "123",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828250861805965/dir175828250891500278/hardLink175828250951305877?restype=hardlink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:48:29 GMT",
        "x-ms-file-target-file": "dir175828250891500278/file175828250921800644",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF772744AB8B6\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:48:30 GMT",
        "x-ms-file-change-time": "2025-09-19T11:48:30.5864886Z",
        "x-ms-file-creation-time": "2025-09-19T11:48:30.2798337Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-19T11:48:30.2798337Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "654",
        "x-ms-link-count": "2",
        "x-ms-mode": "2755",
        "x-ms-owner": "123",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828250861805965?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:48:29 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir175828250891500278",
    "file": "file175828250921800644",
    "hardLink": "hardLink175828250951305877",
    "share": "share175828250861805965"
  }
}
