{
  "Entries": [
    {
      "RequestUri": "https://fakepremiumfileaccountname.file.core.windows.net/share176833142361803637?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D767849FE3\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:10:24 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakepremiumfileaccountname.file.core.windows.net/share176833142361803637/dir176833142370804414?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D76792E682\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:10:24 GMT",
        "x-ms-file-change-time": "2026-01-13T19:10:24.2315906Z",
        "x-ms-file-creation-time": "2026-01-13T19:10:24.2315906Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-01-13T19:10:24.2315906Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakepremiumfileaccountname.file.core.windows.net/share176833142361803637/dir176833142370804414/file176833142379502743",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "11",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D767A12E5D\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:10:24 GMT",
        "x-ms-file-change-time": "2026-01-13T19:10:24.3251805Z",
        "x-ms-file-creation-time": "2026-01-13T19:10:24.3251805Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-01-13T19:10:24.3251805Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakepremiumfileaccountname.file.core.windows.net/share176833142361803637/dir176833142370804414/file176833142379502743?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-group": "654",
        "x-ms-mode": "0755",
        "x-ms-owner": "123",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D767AF286A\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:10:24 GMT",
        "x-ms-file-change-time": "2026-01-13T19:10:24.4167786Z",
        "x-ms-file-creation-time": "2026-01-13T19:10:24.3251805Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-01-13T19:10:24.4167786Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "654",
        "x-ms-link-count": "1",
        "x-ms-mode": "0755",
        "x-ms-owner": "123",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakepremiumfileaccountname.file.core.windows.net/share176833142361803637/dir176833142370804414/file176833142379502743",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE52D767AF286A\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:10:24 GMT",
        "x-ms-file-change-time": "2026-01-13T19:10:24.4167786Z",
        "x-ms-file-creation-time": "2026-01-13T19:10:24.3251805Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-01-13T19:10:24.4167786Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "654",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0755",
        "x-ms-owner": "123",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakepremiumfileaccountname.file.core.windows.net/share176833142361803637?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir176833142370804414",
    "file": "file176833142379502743",
    "share": "share176833142361803637"
  }
}
