{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409147552505923?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:24:35 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4781E94BD6\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:24:36 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409147552505923/dir176409147582901253?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:24:35 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C478218B4CB\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:24:37 GMT",
        "x-ms-file-change-time": "2025-11-25T17:24:37.0146507Z",
        "x-ms-file-creation-time": "2025-11-25T17:24:37.0146507Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-11-25T17:24:37.0146507Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409147552505923/dir176409147582901253/file176409147613504941",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 25 Nov 2025 17:24:36 GMT",
        "x-ms-file-file-type": "Regular",
        "x-ms-group": "654",
        "x-ms-mode": "0755",
        "x-ms-owner": "123",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4782469632\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:24:37 GMT",
        "x-ms-file-change-time": "2025-11-25T17:24:37.3153330Z",
        "x-ms-file-creation-time": "2025-11-25T17:24:37.3153330Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T17:24:37.3153330Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "654",
        "x-ms-mode": "0755",
        "x-ms-owner": "123",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409147552505923/dir176409147582901253/file176409147613504941",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:24:36 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE2C4782469632\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:24:37 GMT",
        "x-ms-file-change-time": "2025-11-25T17:24:37.3153330Z",
        "x-ms-file-creation-time": "2025-11-25T17:24:37.3153330Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T17:24:37.3153330Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "654",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0755",
        "x-ms-owner": "123",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409147552505923/dir176409147582901253/copiedfile176409147673206997",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:24:36 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4782A3B739\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:24:37 GMT",
        "x-ms-copy-id": "def99238-3405-4f39-9a6b-b0e88e5b0a2c",
        "x-ms-copy-status": "success",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409147552505923/dir176409147582901253/copiedfile176409147673206997",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:24:37 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE2C4782A3B739\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:24:37 GMT",
        "x-ms-copy-completion-time": "Tue, 25 Nov 2025 17:24:37 GMT",
        "x-ms-copy-id": "def99238-3405-4f39-9a6b-b0e88e5b0a2c",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "Sanitized",
        "x-ms-copy-status": "success",
        "x-ms-file-change-time": "2025-11-25T17:24:37.9256633Z",
        "x-ms-file-creation-time": "2025-11-25T17:24:37.9256633Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-11-25T17:24:37.9256633Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409147552505923?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:24:37 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "copiedfile": "copiedfile176409147673206997",
    "dir": "dir176409147582901253",
    "file": "file176409147613504941",
    "share": "share176409147552505923"
  }
}
