{
  "Entries": [
    {
      "RequestUri": "https://fakepremiumfileaccountname.file.core.windows.net/share176833142560401545?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D768B8C54A\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:10:26 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakepremiumfileaccountname.file.core.windows.net/share176833142560401545/dir176833142569609459?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D768C8368D\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:10:26 GMT",
        "x-ms-file-change-time": "2026-01-13T19:10:26.2587021Z",
        "x-ms-file-creation-time": "2026-01-13T19:10:26.2587021Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-01-13T19:10:26.2587021Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakepremiumfileaccountname.file.core.windows.net/share176833142560401545/dir176833142569609459/file176833142578903535",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "1024",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-file-file-type": "Regular",
        "x-ms-group": "654",
        "x-ms-mode": "0755",
        "x-ms-owner": "123",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D768D6A54A\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:10:26 GMT",
        "x-ms-file-change-time": "2026-01-13T19:10:26.3532874Z",
        "x-ms-file-creation-time": "2026-01-13T19:10:26.3532874Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-01-13T19:10:26.3532874Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "654",
        "x-ms-mode": "0755",
        "x-ms-owner": "123",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakepremiumfileaccountname.file.core.windows.net/share176833142560401545/dir176833142569609459/file176833142578903535",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE52D768D6A54A\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:10:26 GMT",
        "x-ms-file-change-time": "2026-01-13T19:10:26.3532874Z",
        "x-ms-file-creation-time": "2026-01-13T19:10:26.3532874Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-01-13T19:10:26.3532874Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "654",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0755",
        "x-ms-owner": "123",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakepremiumfileaccountname.file.core.windows.net/share176833142560401545/dir176833142569609459/copiedfile176833142596505559",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakepremiumfileaccountname.file.core.windows.net/share176833142560401545/dir176833142569609459/file176833142578903535",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-file-mode-copy-mode": "source",
        "x-ms-file-owner-copy-mode": "source",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D768F49309\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:10:26 GMT",
        "x-ms-copy-id": "a077b5e2-c2e1-430b-90d3-b6c079d51c6d",
        "x-ms-copy-status": "success",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakepremiumfileaccountname.file.core.windows.net/share176833142560401545/dir176833142569609459/copiedfile176833142596505559",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE52D768F49309\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:10:26 GMT",
        "x-ms-copy-completion-time": "Tue, 13 Jan 2026 19:10:26 GMT",
        "x-ms-copy-id": "a077b5e2-c2e1-430b-90d3-b6c079d51c6d",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://fakepremiumfileaccountname.file.core.windows.net/share176833142560401545/dir176833142569609459/file176833142578903535",
        "x-ms-copy-status": "success",
        "x-ms-file-change-time": "2026-01-13T19:10:26.5494281Z",
        "x-ms-file-creation-time": "2026-01-13T19:10:26.5494281Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-01-13T19:10:26.5494281Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "654",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0755",
        "x-ms-owner": "123",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakepremiumfileaccountname.file.core.windows.net/share176833142560401545?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "copiedfile": "copiedfile176833142596505559",
    "dir": "dir176833142569609459",
    "file": "file176833142578903535",
    "share": "share176833142560401545"
  }
}
