{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes(\u0027iaevrveb\u0027)/docs/search.index?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "1",
            "hotelName": "2015-02-11T12:58:00Z",
            "location": {
              "type": "Point",
              "coordinates": [
                -73.975403,
                40.760586
              ]
            },
            "geoLocation": {
              "type": "Point",
              "coordinates": [
                -73.975403,
                40.760586
              ]
            },
            "rooms": [
              {
                "baseRate": "NaN"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "69",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes(\u0027iaevrveb\u0027)/docs(\u00271\u0027)?$select=hotelId%2ChotelName%2Clocation%2CgeoLocation%2Crooms%2FbaseRate\u0026api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "19",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "hotelId": "1",
        "hotelName": "2015-02-11T12:58:00Z",
        "location": {
          "type": "Point",
          "coordinates": [
            -73.975403,
            40.760586
          ],
          "crs": {
            "type": "name",
            "properties": {
              "name": "EPSG:4326"
            }
          }
        },
        "geoLocation": {
          "type": "Point",
          "coordinates": [
            -73.975403,
            40.760586
          ],
          "crs": {
            "type": "name",
            "properties": {
              "name": "EPSG:4326"
            }
          }
        },
        "rooms": [
          {
            "baseRate": "NaN"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes(\u0027iaevrveb\u0027)?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "182",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "915742042",
    "SearchIndexName": "iaevrveb",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchtest"
  }
}
