{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes('sypkwbsw')/docs/search.index?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "1",
            "rooms": [
              {},
              {
                "baseRate": null,
                "bedOptions": null,
                "sleepsCount": null,
                "smokingAllowed": null,
                "tags": []
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "73",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes('sypkwbsw')/docs('1')?$select=hotelId%2Crooms&api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "7",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "hotelId": "1",
        "rooms": [
          {
            "description": null,
            "descriptionFr": null,
            "type": null,
            "baseRate": null,
            "bedOptions": null,
            "sleepsCount": null,
            "smokingAllowed": null,
            "tags": []
          },
          {
            "description": null,
            "descriptionFr": null,
            "type": null,
            "baseRate": null,
            "bedOptions": null,
            "sleepsCount": null,
            "smokingAllowed": null,
            "tags": []
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes('sypkwbsw')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "153",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "772604079",
    "SearchIndexName": "sypkwbsw",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-t0eeade0124fbb432"
  }
}
