{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes(\u0027kcttgldf\u0027)/docs(\u00273\u0027)?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "9",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "hotelId": "3",
        "hotelName": "EconoStay",
        "description": "Very popular hotel in town",
        "descriptionFr": "H\u00F4tel le plus populaire en ville",
        "descriptionVector": [
          -0.0026168018,
          -0.024089903,
          0.03355637,
          0.003290724,
          -0.011909716,
          0.0025469302,
          -0.010115596,
          0.028183023,
          0.006770777,
          -0.0040638186,
          -0.01943781,
          0.018437069,
          0.0054094093,
          -0.0012351484,
          -0.0010734296,
          0.02033938,
          -0.029932065,
          0.0005471392,
          0.011792512,
          -0.010638504,
          -0.013748915,[...]
