{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('iamxfvef')/docs/search.index?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "4",
            "hotelName": "Value Inn"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "71",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "key": "4",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('iamxfvef')/docs('4')?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "4",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "hotelId": "4",
        "hotelName": "Value Inn",
        "description": null,
        "descriptionFr": null,
        "descriptionVector": [],
        "category": null,
        "tags": [],
        "parkingIncluded": null,
        "smokingAllowed": null,
        "lastRenovationDate": null,
        "rating": null,
        "location": null,
        "geoLocation": null,
        "address": null,
        "rooms": []
      }
    },
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('iamxfvef')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "186",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "371092099",
    "SearchIndexName": "iamxfvef",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-azsearchsdktest"
  }
}
