{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027faurkoaf\u0027)/docs(\u00273\u0027)?$select=ThisFieldDoesNotExist\u0026api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "52"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "Invalid expression: Could not find a property named \u0027ThisFieldDoesNotExist\u0027 on type \u0027search.document\u0027.\r\nParameter name: $select"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "540077235",
    "SearchIndexName": "faurkoaf",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
