{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/indexes/my-azure-search-index/versions/1.0?api-version=v1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "type": "AzureSearch",
        "connectionName": "sample_index_connection",
        "indexName": "sample_index"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8a1b3170-6d13-42b9-a180-82838164573b",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.158"
      },
      "ResponseBody": {
        "type": "AzureSearch",
        "connectionName": "sample_index_connection",
        "indexName": "sample_index",
        "name": "my-azure-search-index",
        "version": "1.0"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/indexes/my-azure-search-index/versions?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "88966337-b958-4ebd-af61-bb1e93889fa1",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.159"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "AzureSearch",
            "connectionName": "sample_index_connection",
            "indexName": "sample_index",
            "name": "my-azure-search-index",
            "version": "1.0"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/indexes?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "03c6a752-94da-4788-97d4-44dba156ccf1",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.676"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "AzureSearch",
            "connectionName": "sample_index_connection",
            "indexName": "sample_index",
            "name": "my-azure-search-index",
            "version": "1.0"
          },
          {
            "type": "AzureSearch",
            "connectionName": "my-ai-search-connection",
            "indexName": "my-ai-search-index",
            "name": "test-index-name",
            "version": "1"
          },
          {
            "type": "ManagedAzureSearch",
            "vectorStoreId": "vs_ZqxfetITWEgEhiwLJUkkmtot",
            "name": "TestProductInfoStore",
            "version": "1"
          },
          {
            "type": "ManagedAzureSearch",
            "vectorStoreId": "vs_LHkiEMn73oKVSG177ym0nEiV",
            "name": "ProductInfoStreamStore",
            "version": "1"
          },
          {
            "type": "ManagedAzureSearch",
            "vectorStoreId": "vs_16bTGXYWJTRndrcpNSu0AWaT",
            "name": "sample_vector_store",
            "version": "1"
          },
          {
            "type": "ManagedAzureSearch",
            "vectorStoreId": "vs_BtIL8cM6tRn5pd3XHd4toZSC",
            "name": "ResearchStore",
            "version": "1"
          },
          {
            "type": "ManagedAzureSearch",
            "vectorStoreId": "vs_5XGoffHJ0B7eFFVhgoOZE0q5",
            "name": "ProductInfoStore",
            "version": "1"
          },
          {
            "type": "ManagedAzureSearch",
            "vectorStoreId": "vs_fpfntgeN59Gk3SlAYnmCN4MM",
            "name": null,
            "version": "1"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/indexes/my-azure-search-index/versions/1.0?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-02",
        "mise-correlation-id": "3c990474-00fa-44d6-8bfd-3b9231f89f11",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard",
        "x-request-time": "3.272"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
