{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/indexes/my-azure-search-index/versions/1.0?api-version=v1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "type": "AzureSearch",
        "connectionName": "sample_index_connection",
        "indexName": "sample_index"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.188"
      },
      "ResponseBody": {
        "type": "AzureSearch",
        "connectionName": "sample_index_connection",
        "indexName": "sample_index",
        "name": "my-azure-search-index",
        "version": "1.0"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/indexes/my-azure-search-index/versions/1.0?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.446"
      },
      "ResponseBody": {
        "type": "AzureSearch",
        "connectionName": "sample_index_connection",
        "indexName": "sample_index",
        "name": "my-azure-search-index",
        "version": "1.0"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/indexes/my-azure-search-index/versions?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.396"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "AzureSearch",
            "connectionName": "sample_index_connection",
            "indexName": "sample_index",
            "name": "my-azure-search-index",
            "version": "1.0"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/indexes?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard",
        "x-request-time": "3.676"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "AzureSearch",
            "connectionName": "sample_index_connection",
            "indexName": "sample_index",
            "name": "my-azure-search-index",
            "version": "1.0"
          },
          {
            "type": "AzureSearch",
            "connectionName": "my-ai-search-connection",
            "indexName": "my-ai-search-index",
            "name": "test-index-name",
            "version": "1"
          },
          {
            "type": "ManagedAzureSearch",
            "vectorStoreId": "vs_XPp6lWapY2IbsNv7gSt754LB",
            "name": "TestProductInfoStore",
            "version": "1"
          },
          {
            "type": "ManagedAzureSearch",
            "vectorStoreId": "vs_xv4bHlDF1xskJ8jP7fGF2KiF",
            "name": "sample_vector_store",
            "version": "1"
          },
          {
            "type": "ManagedAzureSearch",
            "vectorStoreId": "vs_UWc0Q8Ww5IvgDPC1qP12tTtD",
            "name": "my_vectorstore",
            "version"[...]
