{
  "Entries": [
    {
      "RequestUri": "https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/quotas",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "209eaea2-52a1-4383-ac82-a543e5c16ce0"
      },
      "ResponseBody": {
        "value": [
          {
            "dimension": "qgs",
            "scope": "Subscription",
            "providerId": "ionq",
            "utilization": 10083340.0,
            "holds": 0.0,
            "limit": 16666667.0,
            "period": "Infinite"
          },
          {
            "dimension": "concurrent_resource_estimator_jobs",
            "scope": "Workspace",
            "providerId": "microsoft-qc",
            "utilization": 0.0,
            "holds": 0.0,
            "limit": 10.0,
            "period": "None"
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
