{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dd069ad7-8490-8a9c-e7f3-dc1a64ffbc5f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB5D3704461\"",
        "Last-Modified": "Wed, 07 May 2025 22:23:43 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-81043a1b-b1bd-054c-10d7-42144d7777b2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:23:43 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB5D379833F\"",
        "Last-Modified": "Wed, 07 May 2025 22:23:43 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dd069ad7-8490-8a9c-e7f3-dc1a64ffbc5f/file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "o+wNBkLn94JjkgAe2gbRIgIcYlNsnoKpivusk4cmbE1CMaFG4M3jygKIdZ3kq1sv4e+t59EIOAVqZHtGOmP6PCaz3KhkikI1OZdR5Cjkxd+gfbKXeIV7Ovmc3HxSnJCfjTl3Mc6yy1ateK06tlTchZ6bpr2wY8OhN6Gvx67F450HslbvbZQQ7bJc6QDXQYOlwFbdtvXT7il21vktAwOn55UQMgT97RgKi7kKVHnDyfYeCQdX5yynM8MseZaa4+qutAFqxg5+p9I+0ys8yJmwswwDDvn7UP9oaP5A0HSBb6fPXKB4WAPnn2I0GRQBa2sqfMWKl9TwsmMBAV4PPdZevWSDbWz5OFoJG2+XxzfrZ/yTFlSu99fS3qk8dlak2GGL1luvfv7/MERrgHtlWessFpphfCeCsMaNsI[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dd069ad7-8490-8a9c-e7f3-dc1a64ffbc5f/dir1/file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "Tri6CDAQOkpMreImd6zkAaQksZdgYKegaM0+JzkvMwHvZpPXMktyrZz4kUnRh8uJxbEaOwUlde4QGp9[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dd069ad7-8490-8a9c-e7f3-dc1a64ffbc5f?restype=container&comp=list&prefix=&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-dd069ad7-8490-8a9c-e7f3-dc1a64ffbc5f\"><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>dir1/</Name></BlobPrefix><BlobPrefix><Name>dir2/</Name></BlobPrefix><Blob><Name>file1</Name><VersionId>2025-05-07T22:23:43.3661382Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:23:43 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:23:43 GMT</Last-Modified><Etag>0x8DD8DB5D3831FC6</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>3IBhPGJhntShb2gro7f7eA==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Wed, 07 May 2025 22:23:43 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dd069ad7-8490-8a9c-e7f3-dc1a64ffbc5f?restype=container&comp=list&prefix=dir1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-dd069ad7-8490-8a9c-e7f3-dc1a64ffbc5f\"><Prefix>dir1/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>dir1/file1</Name><VersionId>2025-05-07T22:23:43.4141111Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:23:43 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:23:43 GMT</Last-Modified><Etag>0x8DD8DB5D38A4AAD</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>syVpuBXXoq+v[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-81043a1b-b1bd-054c-10d7-42144d7777b2/dir2/file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-dd069ad7-8490-8a9c-e7f3-dc1a64ffbc5f/dir2/file1",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:23:45 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB5D4D6228D\"",
        "Last-Modified": "Wed, 07 May 2025 22:23:45 GMT",
        "x-ms-content-crc64": "CNqG4we+VQM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:23:45.5878797Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dd069ad7-8490-8a9c-e7f3-dc1a64ffbc5f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2106330333",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\n\njalauzon-rg\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
