{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.1-preview.1/detectLiveness/singleModal/sessions",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "livenessOperationMode": "Passive",
        "deviceCorrelationId": "2fbc3c11-b333-057b-2a99-366b842e0abe"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "sessionId": "bb1d8797-d99c-4fdc-974f-c8e01e0ae7c3",
        "authToken": "fakeauthtoken"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.1-preview.1/detectLiveness/singleModal/sessions/bb1d8797-d99c-4fdc-974f-c8e01e0ae7c3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.1-preview.1/detectLiveness/singleModal/sessions/bb1d8797-d99c-4fdc-974f-c8e01e0ae7c3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "error": {
          "code": "SessionNotFound",
          "message": "Session Id is not found. The session id is expired or does not exist."
        }
      }
    }
  ],
  "Variables": {
    "deviceCorrelationId": "2fbc3c11-b333-057b-2a99-366b842e0abe"
  }
}
