{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.1-preview.1/detectLiveness/singleModal/sessions",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "livenessOperationMode": "Passive",
        "deviceCorrelationId": "fdacfd73-a377-0626-d48e-e1b1420ef0be"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "sessionId": "29b9c0e3-e30f-4e59-957b-293818fff18b",
        "authToken": "fakeauthtoken"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.1-preview.1/detectLiveness/singleModal/sessions",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "livenessOperationMode": "Passive",
        "deviceCorrelationId": "fdacfd73-a377-0626-d48e-e1b1420ef0be"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "sessionId": "0bcc3351-6c3a-4fee-8a7a-237645fb24b0",
        "authToken": "fakeauthtoken"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.1-preview.1/detectLiveness/singleModal/sessions",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": "[{\"id\":\"0bcc3351-6c3a-4fee-8a7a-237645fb24b0\",\"createdDateTime\":\"2024-05-09T16:42:18.384525+00:00\",\"authTokenTimeToLiveInSeconds\":600,\"deviceCorrelationId\":\"fdacfd73-a377-0626-d48e-e1b1420ef0be\",\"sessionExpired\":false},{\"id\":\"29b9c0e3-e30f-4e59-957b-293818fff18b\",\"createdDateTime\":\"2024-05-09T16:42:18.1839767+00:00\",\"authTokenTimeToLiveInSeconds\":600,\"deviceCorrelationId\":\"fdacfd73-a377-0626-d48e-e1b1420ef0be\",\"sessionExpired\":false}]"
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.1-preview.1/detectLiveness/singleModal/sessions/29b9c0e3-e30f-4e59-957b-293818fff18b",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.1-preview.1/detectLiveness/singleModal/sessions/0bcc3351-6c3a-4fee-8a7a-237645fb24b0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "deviceCorrelationId": "fdacfd73-a377-0626-d48e-e1b1420ef0be"
  }
}
