{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/detectLiveness/singleModal/sessions",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "livenessOperationMode": "Passive",
        "deviceCorrelationId": "7db9f1fa-f27e-77f5-6186-37071ac20421"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "sessionId": "b739bf67-70af-47da-9cf4-37da0f71de8d",
        "authToken": "fakeauthtoken"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/detectLiveness/singleModal/sessions/b739bf67-70af-47da-9cf4-37da0f71de8d",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "status": "NotStarted",
        "id": "b739bf67-70af-47da-9cf4-37da0f71de8d",
        "createdDateTime": "2024-05-10T07:24:59.2708135+00:00",
        "authTokenTimeToLiveInSeconds": 600,
        "deviceCorrelationId": "7db9f1fa-f27e-77f5-6186-37071ac20421",
        "sessionExpired": false
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/detectLiveness/singleModal/sessions/b739bf67-70af-47da-9cf4-37da0f71de8d",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "deviceCorrelationId": "7db9f1fa-f27e-77f5-6186-37071ac20421"
  }
}
