{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-3767?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3767",
        "name": "testRG-3767",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-3767/providers/Microsoft.OperationalInsights/workspaces/testRG-3767-ws?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "sku": {
            "name": "PerNode"
          },
          "retentionInDays": 30,
          "publicNetworkAccessForIngestion": "Enabled",
          "publicNetworkAccessForQuery": "Enabled"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3767/providers/Microsoft.OperationalInsights/workspaces/testRG-3767-ws?api-version=2022-10-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "properties": {
          "customerId": "f480b519-c2fd-4899-9fd8-696960916d42",
          "provisioningState": "Creating",
          "sku": {
            "name": "PerGB2018",
            "lastSkuUpdate": "2024-08-13T08:24:58.8716435Z"
          },
          "retentionInDays": 30,
          "features": {
            "legacy": 0,
            "searchVersion": 1,
            "enableLogAccessUsingOnlyResourcePermissions": true
          },
          "workspaceCapping": {
            "dailyQuotaGb": -1.0,
            "quotaNextResetTime": "2024-08-14T00:00:00Z",
            "dataIngestionStatus": "RespectQuota"
          },
          "publicNetworkAccessForIngestion": "Enabled",
          "publicNetworkAccessForQuery": "Enabled",
          "createdDate": "2024-08-13T08:24:58.8716435Z",
          "modifiedDate": "2024-08-13T08:24:58.8716435Z"
        },
        "location": "westus",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3767/providers/Microsoft.OperationalInsights/workspaces/testRG-3767-ws",
        "name": "testRG-3767-ws",
        "type": "Microsoft.OperationalInsights/workspaces",
        "etag": "\"55000687-0000-0700-0000-66bb185a0000\""
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3767/providers/Microsoft.OperationalInsights/workspaces/testRG-3767-ws?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01,[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3767/providers/Microsoft.OperationalInsights/workspaces/testRG-3767-ws/providers/Microsoft.SecurityInsights/onboardingStates/default?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "customerManagedKey": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11"
      },
      "ResponseBody": {
        "properties": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3767/providers/Microsoft.OperationalInsights/workspaces/testRG-3767-ws/providers/Microsoft.SecurityInsights/onboardingStates/default",
        "name": "default",
        "type": "Microsoft.SecurityInsights/onboardingStates",
        "systemData": {
          "createdAt": "2024-08-13T08:25:01.3662474Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-08-13T08:25:01.3662474Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3767/providers/Microsoft.OperationalInsights/workspaces/testRG-3767-ws/providers/Microsoft.SecurityInsights/watchlists/testWatchlists-813?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "SDK Test",
          "provider": "SDK Test",
          "itemsSearchKey": "ipaddress"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3767/providers/Microsoft.OperationalInsights/workspaces/testRG-3767-ws/providers/Microsoft.SecurityInsights/Watchlists/testWatchlists-813",
        "name": "testWatchlists-813",
        "etag": "\"03033710-0000-0100-0000-66bb18640000\"",
        "type": "Microsoft.SecurityInsights/Watchlists",
        "systemData": {
          "createdAt": "2024-08-13T08:25:07.4515508Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-08-13T08:25:07.4515508Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        },
        "properties": {
          "watchlistId": "f4de7806-5872-4159-954e-a7a3338d92fd",
          "displayName": "SDK Test",
          "provider": "SDK Test",
          "itemsSearchKey": "ipaddress",
          "created": "2024-08-13T16:25:07.4515508+08:00",
          "updated": "2024-08-13T16:25:07.4515508+08:00",
          "createdBy": {
            "objectId": "ef840452-c026-4116-9309-9a437fdf08d8",
            "email": "v-minghc@microsoft.com",
            "name": "a0965655-eecb-4c9f-8e21-2488aadf59fe"
          },
          "updatedBy": {
            "objectId": "ef840452-c026-4116-9309-9a437fdf08d8",
            "email": "v-minghc@microsoft.com",
            "name": "a0965655-eecb-4c9f-8e21-2488aadf59fe"
          },
          "watchlistType": "watchlist",
          "watchlistAlias": "testWatchlists-813",
          "isDeleted": false,
          "labels": [],
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "numberOfLinesToSkip": 0,
          "provisioningState": "Succeeded",
          "sasUri": "",
          "watchlistCategory": "General"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3767/providers/Microsoft.OperationalInsights/workspaces/testRG-3767-ws/providers/Microsoft.SecurityInsights/watchlists/testWatchlists-813/watchlistItems/6d37a904-d199-43ff-892b-53653b784122?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "itemsKeyValue": {
            "ipaddress": "1.1.1.2"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3767/providers/Microsoft.OperationalInsights/workspaces/testRG-3767-ws/providers/Microsoft.SecurityInsights/Watchlists/testWatchlists-813/WatchlistItems/6d37a904-d199-43ff-892b-53653b784122",
        "name": "6d37a904-d199-43ff-892b-53653b784122",
        "etag": "\"03039f10-0000-0100-0000-66bb18660000\"",
        "type": "Microsoft.SecurityInsights/Watchlists/WatchlistItems",
        "systemData": {
          "createdAt": "2024-08-13T08:25:09.7357107Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-08-13T08:25:09.7357107Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        },
        "properties": {
          "watchlistItemType": "watchlist-item",
          "watchlistItemId": "6d37a904-d199-43ff-892b-53653b784122",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "isDeleted": false,
          "created": "2024-08-13T16:25:09.7357107+08:00",
          "updated": "2024-08-13T16:25:09.7357107+08:00",
          "createdBy": {
            "objectId": "ef840452-c026-4116-9309-9a437fdf08d8",
            "email": "v-minghc@microsoft.com",
            "name": "a0965655-eecb-4c9f-8e21-2488aadf59fe"
          },
          "updatedBy": {
            "objectId": "ef840452-c026-4116-9309-9a437fdf08d8",
            "email": "v-minghc@microsoft.com",
            "name": "a0965655-eecb-4c9f-8e21-2488aadf59fe"
          },
          "itemsKeyValue": {
            "ipaddress": "1.1.1.2"
          },
          "entityMapping": {}
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3767/providers/Microsoft.OperationalInsights/workspaces/testRG-3767-ws/providers/Microsoft.SecurityInsights/watchlists/testWatchlists-813/watchlistItems?api-version=2024-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3767/providers/Microsoft.OperationalInsights/workspaces/testRG-3767-ws/providers/Microsoft.SecurityInsights/Watchlists/testWatchlists-813/WatchlistItems/6d37a904-d199-43ff-892b-53653b784122",
            "name": "6d37a904-d199-43ff-892b-53653b784122",
            "etag": "\"03039f10-0000-0100-0000-66bb18660000\"",
            "type": "Microsoft.SecurityInsights/Watchlists/WatchlistItems",
[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3767/providers/Microsoft.OperationalInsights/workspaces/testRG-3767-ws/providers/Microsoft.SecurityInsights/watchlists/testWatchlists-813/watchlistItems/6d37a904-d199-43ff-892b-53653b784123?api-version=2024-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "error": {
          "code": "404",
          "message": "Resource '6d37a904-d199-43ff-892b-53653b784123' does not exist"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "983556114",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}