{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "0f8d6060-c9b0-4bfe-b100-9a6263849c76",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.301"
      },
      "ResponseBody": {
        "id": "vs_T08nBTcZ4kJVLiSuhWIZOlBY",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1732570803,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1732570803
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_T08nBTcZ4kJVLiSuhWIZOlBY?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "name": "updated"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "27c21605-6462-4eac-86db-d54328fc879a",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.346"
      },
      "ResponseBody": {
        "id": "vs_T08nBTcZ4kJVLiSuhWIZOlBY",
        "object": "vector_store",
        "name": "updated",
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1732570803,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1732570804
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_T08nBTcZ4kJVLiSuhWIZOlBY?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "f79c1605-442a-425b-b233-3b43d3a0c037",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.773"
      },
      "ResponseBody": {
        "id": "vs_T08nBTcZ4kJVLiSuhWIZOlBY",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
