{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "121",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "3b67137e-9f54-470f-a2d0-662ef22bcb5f",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.290"
      },
      "ResponseBody": {
        "id": "vs_7gg8GJuLvsf5SmGUT5APGDek",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1734289345,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1734289345
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_7gg8GJuLvsf5SmGUT5APGDek?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      [...]
