{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/azure_subscription_id/resourceGroups/resource_group/providers/Microsoft.MachineLearningServices/workspaces/project/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "e24300ad-df2d-4266-9eaf-30d363eab126",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.184"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1731955013,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1731955013
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/azure_subscription_id/resourceGroups/resource_group/providers/Microsoft.MachineLearningServices/workspaces/project/vector_stores/vs_wleku5gPY35f9Uuh4so5uPRc?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "name": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "b29f95ea-aacb-4e1c-8d38-e3b138ce162b",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.255"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "object": "vector_store",
        "name": "Sanitized",
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1731955013,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1731955014
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/azure_subscription_id/resourceGroups/resource_group/providers/Microsoft.MachineLearningServices/workspaces/project/vector_stores/vs_wleku5gPY35f9Uuh4so5uPRc?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "d703dfd4-a34c-4b6a-8a10-810cf3706edd",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.742"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
