{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.000000000-0000-0000-0000-00000000000000000/providers/Microsoft.MachineLearningServices00000/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "e68497d8-52c2-43da-a8d9-c45110f935dc",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "1.136"
      },
      "ResponseBody": {
        "id": "vs_4aKMyWajC1q6xZRU2o1yrArx",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1732228463,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1732228463
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.000000000-0000-0000-0000-00000000000000000/providers/Microsoft.MachineLearningServices00000/vector_stores/vs_4aKMyWajC1q6xZRU2o1yrArx?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "3eeab3d6-fb62-41a8-bc54-5b3b82585d98",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "1.163"
      },
      "ResponseBody": {
        "id": "vs_4aKMyWajC1q6xZRU2o1yrArx",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
