{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "9b20db12-6882-490c-abac-7344858ce865",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.284"
      },
      "ResponseBody": {
        "id": "vs_LrKs7t1B3kyd0iipbc3dKGh9",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1732230761,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1732230761
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_LrKs7t1B3kyd0iipbc3dKGh9?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "53430537-28e5-44c1-83f9-4a37b9502660",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.247"
      },
      "ResponseBody": {
        "id": "vs_LrKs7t1B3kyd0iipbc3dKGh9",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1732230761,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1732230761
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_LrKs7t1B3kyd0iipbc3dKGh9?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "f688dfd1-036e-4cbe-9b37-67ef037ec3b9",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.734"
      },
      "ResponseBody": {
        "id": "vs_LrKs7t1B3kyd0iipbc3dKGh9",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
