{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "52",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2e531a41-7e90-4f22-8c2d-fa59fa087cba",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.215"
      },
      "ResponseBody": {
        "id": "vs_SmDSOq88h3f0nkwTiuanRlmd",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1745961106,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1745961106
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_SmDSOq88h3f0nkwTiuanRlmd?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "80",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b6d71fb5-4d7e-4949-99d7-b9eb561d0da6",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.215"
      },
      "ResponseBody": {
        "id": "vs_SmDSOq88h3f0nkwTiuanRlmd",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1745961106,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1745961106
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_SmDSOq88h3f0nkwTiuanRlmd?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "689",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5b7be5c0-2031-4e06-a5b9-a7e92562b986",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.835"
      },
      "ResponseBody": {
        "id": "vs_SmDSOq88h3f0nkwTiuanRlmd",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
