{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.HDInsight/clusterpools/resourcetest?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226501f081-0000-0100-0000-64e5c63d0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.HDInsight/clusterpools/resourcetest",
        "name": "resourcetest",
        "type": "microsoft.hdinsight/clusterpools",
        "location": "eastus",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-08-23T08:36:04.3657958Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-23T08:36:04.3657958Z"
        },
        "properties": {
          "clusterPoolProfile": {
            "clusterPoolVersion": "1.0"
          },
          "managedResourceGroupName": "hdi-b0ccb727c4c942ed8007f4cca7735b5c",
          "aksManagedResourceGroupName": "MC_hdi-b0ccb727c4c942ed8007f4cca7735b5c_resourcetest_eastus",
          "aksClusterProfile": {
            "aksVersion": "1.26",
            "aksClusterResourceId": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/hdi-b0ccb727c4c942ed8007f4cca7735b5c/providers/Microsoft.ContainerService/managedClusters/resourcetest",
            "aksClusterAgentPoolIdentityProfile": {
              "msiResourceId": "/subscriptions/88888888-8888-8888-8888-888888888888/resourcegroups/MC_hdi-b0ccb727c4c942ed8007f4cca7735b5c_resourcetest_eastus/providers/Microsoft.ManagedIdentity/userAssignedIdentities/resourcetest-agentpool",
              "msiClientId": "2aa7404a-61ef-4d7f-976f-99d75b9ddc23",
              "msiObjectId": "6861c96a-aee8-495d-901e-faab7eb067e0"
            }
          },
          "computeProfile": {
            "vmSize": "Standard_F4s_v2",
            "count": 3
          },
          "deploymentId": "b0ccb727c4c942ed8007f4cca7735b5c",
          "provisioningState": "Succeeded",
          "status": "Running"
        }
      }
    }
  ],
  "Variables": {}
}
