{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4f7290a2-cf06-4afa-9287-9fee342ada53",
        "traceresponse": "00-2c2e353faa8d701a7cf14c7f80d2317f-04698e74cd9e9dc3-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTTestBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTTestBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5a4d3685-047d-4878-9fef-ac351d93ddb2",
        "traceresponse": "00-0eedcc5bfdef78f239906290dd4c977c-698379dc9b50b524-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-08T20:51:04.7916843+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-46?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "98a3f7fc-2133-40aa-b621-d9137621d782",
        "traceresponse": "00-9e0b129573ae784a080f9cb2a132ea25-c21360ab87ca8859-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID create-simple-digitaltwin-46. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-46?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"e4d956fe-7331-46d3-bd39-e48c495ef891\"",
        "mise-correlation-id": "61148afb-5b31-496b-832e-06502ad79c58",
        "traceresponse": "00-3eb6e6d677381410d162d70566160632-810a8968e7bb91ac-01"
      },
      "ResponseBody": {
        "$dtId": "create-simple-digitaltwin-46",
        "$etag": "W/\"e4d956fe-7331-46d3-bd39-e48c495ef891\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-05-08T20:51:05.0083884Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-08T20:51:05.0083884Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-46?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"add\",\"path\":\"/TemperatureUnit\",\"value\":\"Celsius\"}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"53dfa2bd-24b9-4783-84cd-6b02fbc879b4\"",
        "mise-correlation-id": "af008c80-e174-4401-b5a1-f45efb430dfa",
        "traceresponse": "00-b93fb4271dfb5a86bb5e8fd9027a6154-9f240dbcd126dee9-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-46?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"53dfa2bd-24b9-4783-84cd-6b02fbc879b4\"",
        "mise-correlation-id": "5616fabf-4244-4f00-9e05-4584de9f5ca6",
        "traceresponse": "00-f0af1c10629b8ad55294dda32c9b5c90-76870d561ab95e2b-01"
      },
      "ResponseBody": {
        "$dtId": "create-simple-digitaltwin-46",
        "$etag": "W/\"53dfa2bd-24b9-4783-84cd-6b02fbc879b4\"",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-05-08T20:51:05.1295876Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-08T20:51:05.0083884Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-05-08T20:51:05.1295876Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "228a0ee5-f500-40b7-b3e2-8855c8a8ce8e",
        "traceresponse": "00-4536b1dbf6407c3ae5b79359a2fa41b5-5456604f49b67b28-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "digitalTwin": "create-simple-digitaltwin-46"
  }
}
