{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-866?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0d754dbe-f35a-4994-b83b-9fe01fa37eca",
        "traceresponse": "00-20b7ba1458729fef7f9118862330e0ab-dd27da84760de547-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID create-simple-digitaltwin-866. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-866?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;2"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "16eb71ae-a774-4166-af24-5a4aa3cee226",
        "traceresponse": "00-3643458f01ac7e89fbb80def8c1eb449-5f87ab9106e6a367-01",
        "x-ms-error-code": "ValidationFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "ValidationFailed",
          "message": "Invalid twin specified",
          "details": [
            {
              "code": "ValidationFailed",
              "message": "dtmi:samples:DTTestBuilding;2 or one of its dependencies does not exist."
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f6d9aa3b-e3f2-473f-8062-fa133bbe7aa2",
        "traceresponse": "00-2b69bd5f901ccba43ebbf714e5b731ac-c095de9fbbf54ff3-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTTestBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    }
  ],
  "Variables": {
    "digitalTwin": "create-simple-digitaltwin-866"
  }
}
