{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0642f175-828e-41eb-bd5b-f0a819009197",
        "traceresponse": "00-4880e63b5f9f93817f6f7168b2bd5e45-7913353dc7e2962a-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTTestBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTTestBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "dddc28eb-677d-4a9c-b376-5f2d27dffafe",
        "traceresponse": "00-44b305ecad32c64eb69238d906fbae30-e5df7fcb887a3393-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-20T16:04:26.2385601+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-793?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "950bbc96-cd92-4deb-81b8-c77a51627098",
        "traceresponse": "00-7eca26a89f9f42c7d389b9b0205fc6ca-df881e89c3e8ecb4-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID create-simple-digitaltwin-793. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-793?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"2683240e-beba-4b9e-9842-c33c800718ac\"",
        "mise-correlation-id": "9ea7a6db-8ec6-4955-ae84-06cb37649a67",
        "traceresponse": "00-7446a961ce7ff59f2af14cd4193c0d3f-28f65b572aada2bf-01"
      },
      "ResponseBody": {
        "$dtId": "create-simple-digitaltwin-793",
        "$etag": "W/\"2683240e-beba-4b9e-9842-c33c800718ac\"",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-05-20T16:04:26.3334547Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-20T16:04:26.3334547Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-05-20T16:04:26.3334547Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-793?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "XXX"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "42fe200b-2082-4fca-b686-cf3470045222",
        "traceresponse": "00-56d85c86684695093b5ffab8d01ac0fb-51b59aa673a7afb4-01",
        "x-ms-error-code": "InvalidArgument"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidArgument",
          "message": "Invalid If-Match header value. Allowed value(s): If-Match: {etag} or If-Match: *"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "3f4d082a-b112-4d3c-b21e-0c21434bd212",
        "traceresponse": "00-eec6fe09c24dc6247a55140542143c72-f105b40fa9dd18eb-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "digitalTwin": "create-simple-digitaltwin-793"
  }
}
