{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "12eca31d-b772-496e-86ca-881510defae0",
        "traceresponse": "00-fb6722c54020c0c6d02164c16b92ef48-2857c045210cc815-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTTestBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTTestBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "19824edc-4136-44f1-8320-0e04c4e9a5c2",
        "traceresponse": "00-8e2c6a5cef612e0099577e5b643360b1-c6ac9e2afd766672-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-08T22:41:09.5799606+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-367?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6bc84db9-9789-4b41-a820-796694f91fa2",
        "traceresponse": "00-272a07af8fbea3e95aecabc1cd72a39d-bc2c6e9b2ca261e0-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID create-simple-digitaltwin-367. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-367?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"1e0874da-7213-4980-89bb-9ce619421869\"",
        "mise-correlation-id": "61ddc1e0-d66c-4f97-854c-cd7e027ac4c8",
        "traceresponse": "00-443fbf8e68ca4f6dcebca529a8a18b17-7bf88188913d9c9b-01"
      },
      "ResponseBody": {
        "$dtId": "create-simple-digitaltwin-367",
        "$etag": "W/\"1e0874da-7213-4980-89bb-9ce619421869\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-05-08T22:41:09.9497464Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-08T22:41:09.9497464Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-367?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"add\",\"path\":\"/TemperatureUnit\",\"value\":\"Celsius\"}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"108e7e31-e477-4b2c-81ef-c620c086b91f\"",
        "mise-correlation-id": "b2aad5e1-22bc-43c3-a6a7-cf0df80787ea",
        "traceresponse": "00-9a1dcaa8c9a3f5156d0ab832e1db115e-b43a50be4a80e76b-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-367?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"108e7e31-e477-4b2c-81ef-c620c086b91f\"",
        "mise-correlation-id": "8b1dabd0-7b24-4a84-a4e3-8d6599b4c76b",
        "traceresponse": "00-4fe149db421817cfa88f8d433d74f40e-fd2083974b29e638-01"
      },
      "ResponseBody": {
        "$dtId": "create-simple-digitaltwin-367",
        "$etag": "W/\"108e7e31-e477-4b2c-81ef-c620c086b91f\"",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-05-08T22:41:10.0789047Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-08T22:41:09.9497464Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-05-08T22:41:10.0789047Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "754cc465-50b4-4fef-9cd2-2fb2c7a40912",
        "traceresponse": "00-06cd5d4afe76f2dcd762c8e628a9b6f2-03745fabee50e926-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "digitalTwin": "create-simple-digitaltwin-367"
  }
}
