{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "51612e2b-7337-4a4a-b0a0-2017c8005dd5",
        "traceresponse": "00-d8febe0acce6120915dfd5d7c60911ba-f7f8af6e0c073857-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTTestBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTTestBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d49cbaf8-0715-4804-8b8b-298e24ccb725",
        "traceresponse": "00-6d26d447081f46f29b4c416645ac6f8a-304051d5954afbd0-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-13T18:16:56.4045959+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-677?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f73068fa-4b73-4ca1-a689-54086648c433",
        "traceresponse": "00-f4ea8690e298fa72083a9594908bfac3-f0da9250045c27f3-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID create-simple-digitaltwin-677. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-677?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"2b3c0613-ea98-42e9-a522-87eca5fe69a1\"",
        "mise-correlation-id": "b5839bae-b2f1-4097-a3fb-d31e919eec1d",
        "traceresponse": "00-59be577b953a008d41c75c8e6aac98e8-1d6f73e493d68f4e-01"
      },
      "ResponseBody": {
        "$dtId": "create-simple-digitaltwin-677",
        "$etag": "W/\"2b3c0613-ea98-42e9-a522-87eca5fe69a1\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-05-13T18:16:56.4984541Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-13T18:16:56.4984541Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-677?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"move\",\"path\":\"/AverageTemperature\",\"value\":42}]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "933811ba-2b3f-4d60-809e-8acfafb88a3d",
        "traceresponse": "00-feea1819001c5feabc424a1250c180bc-63f6be994891d001-01",
        "x-ms-error-code": "JsonPatchInvalid"
      },
      "ResponseBody": {
        "error": {
          "code": "JsonPatchInvalid",
          "message": "Unsupported operation type move. Please provide a valid patch document. See section on update apis in the documentation https://aka.ms/adtv2twins."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "20315f22-530a-4066-820f-89a9dfed5391",
        "traceresponse": "00-3c6855cac0f6dc3304cf9ba4218d51f1-827e21dab50dd841-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "digitalTwin": "create-simple-digitaltwin-677"
  }
}
