{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5fa94c86-563b-4202-8593-151fdcb539d2",
        "traceresponse": "00-3e09153705105893e9b0b8f721ad4bab-cada893ac18ed449-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTTestBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTTestBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "89788e7c-b96c-4032-b6a4-9774c96365da",
        "traceresponse": "00-9390f0b50a95b6b8daa3218298786594-0d614158a62a5dc7-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-07T06:38:11.5850538+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-249?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "858fc87f-f969-44ec-b273-d498b5e8193e",
        "traceresponse": "00-e770793202c51970f96bc34dc461a6f9-8fee504337ecf469-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID create-simple-digitaltwin-249. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-249?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"fbafada4-441a-47fd-a63b-d0e728651611\"",
        "mise-correlation-id": "76e54c5e-5eb8-41b1-998c-ffe988931f18",
        "traceresponse": "00-ff1e50f55f29db4b674f1dc8ce486958-02a217804ef5d7cf-01"
      },
      "ResponseBody": {
        "$dtId": "create-simple-digitaltwin-249",
        "$etag": "W/\"fbafada4-441a-47fd-a63b-d0e728651611\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-05-07T06:38:11.8541045Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-07T06:38:11.8541045Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-249?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"add\",\"path\":\"/TemperatureUnit\",\"value\":\"Celsius\"}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"5caee746-de07-4212-9461-4859d7f9a646\"",
        "mise-correlation-id": "30b8e4c8-ba74-41eb-b13b-5ad8feb0770c",
        "traceresponse": "00-3642c1670d635fbda3600863188d0813-11aecab8cbd9ffc6-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-249?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"5caee746-de07-4212-9461-4859d7f9a646\"",
        "mise-correlation-id": "091b0f29-ef39-4ecb-8985-5c976e18552f",
        "traceresponse": "00-63d7bb5275e3f49d968cdf212ab4274e-345cba8bf3cc7265-01"
      },
      "ResponseBody": {
        "$dtId": "create-simple-digitaltwin-249",
        "$etag": "W/\"5caee746-de07-4212-9461-4859d7f9a646\"",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-05-07T06:38:11.9656368Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-07T06:38:11.8541045Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-05-07T06:38:11.9656368Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "abf68ec3-ba71-4764-b8ae-4f6af7b7cfd6",
        "traceresponse": "00-cb268e1222a0f4b53421665d04be4ead-0d463853533077fd-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "digitalTwin": "create-simple-digitaltwin-249"
  }
}
