{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4e7e2027-b63f-484b-95b5-cc27a043a4d5",
        "traceresponse": "00-10c0c7ea4e3f800ef1b078b0ba10ab29-2b86b2da15981eb2-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTTestBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTTestBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8b3c3fea-9762-4a56-9faf-f5e6c8726759",
        "traceresponse": "00-2cd05721df987761cf035d818f93fb36-dea0041298ae014f-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-08T18:47:18.1369746+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-127?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8b0ade42-c2f7-44cb-90e9-97dc82c75091",
        "traceresponse": "00-ee47c9e03232e6fa2f81018856ab50b6-6c8fb0b73ac7007c-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID create-simple-digitaltwin-127. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-127?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"403bcb1b-9420-4f7f-9fe1-ac701c36601a\"",
        "mise-correlation-id": "3707bb8d-7b0a-492a-8e4a-a85e916f847a",
        "traceresponse": "00-14980d3e1fa298044965ffcf5702d6cc-a2407dc524fc7567-01"
      },
      "ResponseBody": {
        "$dtId": "create-simple-digitaltwin-127",
        "$etag": "W/\"403bcb1b-9420-4f7f-9fe1-ac701c36601a\"",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-05-08T18:47:18.3480385Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-08T18:47:18.3480385Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-05-08T18:47:18.3480385Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-127?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\":\"replace\",\"path\":\"/AverageTemperature\",\"value\":42}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"588c59fe-34e7-40ad-901b-4462465d0324\"",
        "mise-correlation-id": "38984e42-01ae-4de7-929d-9ec13bf57947",
        "traceresponse": "00-414369107cb61f088d8db885e7b92fb0-a235c266b799577f-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "5a214a75-3084-4de0-ae76-a3a06a6761a2",
        "traceresponse": "00-f73d9e03df1b2a0f725d38ea16fa1fb1-198d089f3860751d-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "digitalTwin": "create-simple-digitaltwin-127"
  }
}
