{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "148fa0a6-1bc7-4d20-9d7e-ff66f91ff3b2",
        "traceresponse": "00-a3875d3f4bc6d84ccebf79274c1c6484-ca89115455a27ae3-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTTestBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTTestBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "defe1c19-b090-4739-a346-5df9f162b8ce",
        "traceresponse": "00-88b7e46d6f7799ffce40dcb84c71fef6-1f6a5b9b73bed33f-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-07T06:38:41.0350013+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/query?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT * FROM digitaltwins"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "30110831-85e9-4ecd-b4e6-e7f459e0748e",
        "query-charge": "2.87",
        "traceresponse": "00-52cd5e2ab00621a9bce6a6c407af8557-aa24adb7fc3f9add-01"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "create-simple-digitaltwin-11",
            "$etag": "W/\"ff93044f-c852-40ac-87b1-b1179b7c4a21\"",
            "AverageTemperature": 68,
            "TemperatureUnit": "Celsius",
            "$metadata": {
              "$model": "dtmi:samples:DTTestBuilding;1",
              "$lastUpdateTime": "2025-05-07T06:38:32.9020174Z",
              "AverageTemperature": {
                "lastUpdateTime": "2025-05-07T06:38:32.9020174Z"
              },
              "TemperatureUnit": {
                "lastUpdateTime": "2025-05-07T06:38:32.9020174Z"
              }
            }
          }
        ],
        "continuationToken": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-11?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2c741e95-c56d-4c6e-a76a-5fe535d37153",
        "traceresponse": "00-ec322413bf1d2f16457174f60ad458d7-2a9674ff78de834f-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID create-simple-digitaltwin-11. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.eus2.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "13692753-0653-4a70-b15a-6f60d35b03dd",
        "traceresponse": "00-7bf77c85a595abc07870cab7580a9ac5-f951646d23398f85-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "digitalTwin": "create-simple-digitaltwin-547"
  }
}
