{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fd59d4c6-9fba-40c1-b84a-ae07b880df63",
        "traceresponse": "00-1c712fb37df30267c152124957f1b14b-560525b8ac63aba7-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:samples:DTTestBuilding;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\":\"dtmi:samples:DTTestBuilding;1\",\"@type\":\"Interface\",\"@context\":\"dtmi:dtdl:context;2\",\"displayName\":\"Building\",\"contents\":[{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"double\"},{\"@type\":\"Property\",\"name\":\"Sanitized\",\"schema\":\"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "be822844-27c3-4153-af45-ac3e26453be3",
        "traceresponse": "00-ac38fd3d0d6d40b1e855560b4ce119c9-986366c191c90a50-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-19T19:03:03.6513512+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-270?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b62d6f95-64c7-4c9d-a412-ee03b788c79a",
        "traceresponse": "00-258c9891855ccf66fddcc42c8acc9ccf-f0b5cea21fef0a7e-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID create-simple-digitaltwin-270. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-270?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"4f2598c5-11ef-43e4-b4ac-c9f3fc2dfbe7\"",
        "mise-correlation-id": "bae10635-e210-4d22-a335-52cf12916833",
        "traceresponse": "00-c8eb7d94fbfdd03d2c28ba2cfc6e2df6-144726ff32729e56-01"
      },
      "ResponseBody": {
        "$dtId": "create-simple-digitaltwin-270",
        "$etag": "W/\"4f2598c5-11ef-43e4-b4ac-c9f3fc2dfbe7\"",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-05-19T19:03:03.7632893Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-05-19T19:03:03.7632893Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-05-19T19:03:03.7632893Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/create-simple-digitaltwin-270?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch+json",
        "If-Match": "XXX"
      },
      "RequestBody": "[{\"op\":\"replace\",\"path\":\"/AverageTemperature\",\"value\":42}]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bc9f441a-2b01-4a85-9d04-33166966cddb",
        "traceresponse": "00-5dab944b120b62744585f2d0a6697a6d-0bb454f72818f1ff-01",
        "x-ms-error-code": "InvalidArgument"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidArgument",
          "message": "Invalid If-Match header value. Allowed value(s): If-Match: {etag} or If-Match: *"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "73444773-523e-4412-8be6-300f3ed974d0",
        "traceresponse": "00-e1d69668bec96a90340d18df2fcd45eb-9047a257a4589df5-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "digitalTwin": "create-simple-digitaltwin-270"
  }
}
