{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/0b2c3c26-ac63-4bc2-a992-e7caeec27077?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/0b2c3c26-ac63-4bc2-a992-e7caeec27077?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "roleName": "Backup Manager",
          "description": "Allow backup actions",
          "type": "CustomRole",
          "permissions": [
            {
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/backup/start/action",
                "Microsoft.KeyVault/managedHsm/restore/start/action"
              ]
            }
          ],
          "assignableScopes": [
            "/"
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/0b2c3c26-ac63-4bc2-a992-e7caeec27077",
        "name": "0b2c3c26-ac63-4bc2-a992-e7caeec27077",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "Allow backup actions",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/backup/start/action",
                "Microsoft.KeyVault/managedHsm/restore/start/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "Backup Manager",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/0b2c3c26-ac63-4bc2-a992-e7caeec27077?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "16"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/0b2c3c26-ac63-4bc2-a992-e7caeec27077",
        "name": "0b2c3c26-ac63-4bc2-a992-e7caeec27077",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "Allow backup actions",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/backup/start/action",
                "Microsoft.KeyVault/managedHsm/restore/start/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "Backup Manager",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    }
  ],
  "Variables": {
    "roleDefNameInt": "0b2c3c26-ac63-4bc2-a992-e7caeec27077"
  }
}
