{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/providers/Microsoft.Authorization/roleAssignments/a1d55622-da21-4198-875f-ebec27a433de",
            "name": "a1d55622-da21-4198-875f-ebec27a433de",
            "properties": {
              "principalId": "01ea9a65-813e-4238-8204-bf7328d63fc6",
              "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/21dbd100-6940-42c2-9190-5d6cb909625b",
              "scope": "/"
            },
            "type": "Microsoft.Authorization/roleAssignments"
          },
          {
            "id": "/providers/Microsoft.Authorization/roleAssignments/2318315f-4eca-46bb-8d18-13c90b216224",
            "name": "2318315f-4eca-46bb-8d18-13c90b216224",
            "properties": {
              "principalId": "01ea9a65-813e-4238-8204-bf7328d63fc6",
              "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/a5629b55-9ee1-4447-aba1-6cdbf44c8846",
              "scope": [...]
