{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-5222e9e5-c3d6-8f1e-6c9d-6d24a8080c8c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:00:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867C7DA56587\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:00:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-5222e9e5-c3d6-8f1e-6c9d-6d24a8080c8c?comp=lease&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:00:40 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "a2893bd0-a0f3-7092-94a9-bee1581b606e",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867C7DA56587\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:00:42 GMT",
        "x-ms-lease-id": "a2893bd0-a0f3-7092-94a9-bee1581b606e",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-138edafd-7287-6f2d-57a8-5db18ca65abf?comp=lease&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 05 Jun 2024 23:00:40 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:00:41 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "edbc4bc2-09d9-c9cf-b7c1-fb74c7a1c8a0",
        "x-ms-proposed-lease-id": "8efd0815-6958-7328-ab7c-ae9e6a1c258c",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867C7DCAA02C\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:00:42 GMT",
        "x-ms-lease-id": "8efd0815-6958-7328-ab7c-ae9e6a1c258c",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-90b06404-0d1c-48a1-1554-bea875c44463?comp=lease&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 07 Jun 2024 23:00:40 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:00:41 GMT",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "c82481c7-aa81-9ba7-d6aa-62fa82106e1d",
        "x-ms-proposed-lease-id": "d5322e19-288e-a9a8-b93f-ffbb9874a666",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867C7DF3ADCC\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:00:42 GMT",
        "x-ms-lease-id": "d5322e19-288e-a9a8-b93f-ffbb9874a666",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-90b06404-0d1c-48a1-1554-bea875c44463?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:00:41 GMT",
        "x-ms-lease-id": "d5322e19-288e-a9a8-b93f-ffbb9874a666",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:00:40.6439215-05:00",
    "RandomSeed": "455697021",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
