{
  "Entries": [
    {
      "RequestUri": "https://vanishatesttagshns.blob.core.windows.net/test-filesystem-ef7e097b-6546-dcfe-ef58-534d9501fd31?sv=Sanitized&st=2025-06-25T16%3A06%3A27Z&se=2025-06-25T18%3A06%3A27Z&sr=c&sp=racwdltmeop&sig=Sanitized&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:4f54e919-c01e-001e-05f3-e5afb2000000\n",
        "Time:2025-06-25T17:06:27.9527007Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-06-25T12:06:27.5226097-05:00",
    "RandomSeed": "16752051",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nvanishatesttagshns\nU2FuaXRpemVk\nhttps://vanishatesttagshns.blob.core.windows.net\nhttps://vanishatesttagshns.file.core.windows.net\nhttps://vanishatesttagshns.queue.core.windows.net\nhttps://vanishatesttagshns.table.core.windows.net\n\n\n\n\nhttps://vanishatesttagshns-secondary.blob.core.windows.net\nhttps://vanishatesttagshns-secondary.file.core.windows.net\nhttps://vanishatesttagshns-secondary.queue.core.windows.net\nhttps://vanishatesttagshns-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://vanishatesttagshns.blob.core.windows.net/;QueueEndpoint=https://vanishatesttagshns.queue.core.windows.net/;FileEndpoint=https://vanishatesttagshns.file.core.windows.net/;BlobSecondaryEndpoint=https://vanishatesttagshns-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://vanishatesttagshns-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://vanishatesttagshns-secondary.file.core.windows.net/;AccountName=vanishatesttagshns;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
