{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-filesystem-e4848ed4-30fc-4189-4921-61d760b7e110?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:07:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870391533DDD\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:07:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.dfs.core.windows.net/test-filesystem-e4848ed4-30fc-4189-4921-61d760b7e110/foo?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 07 Jun 2024 15:07:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8703915D7969\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:07:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.dfs.core.windows.net/test-filesystem-e4848ed4-30fc-4189-4921-61d760b7e110/bar?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 07 Jun 2024 15:07:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8703916714F3\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:07:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.dfs.core.windows.net/test-filesystem-e4848ed4-30fc-4189-4921-61d760b7e110/baz?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 07 Jun 2024 15:07:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8703917125AE\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:07:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.dfs.core.windows.net/test-filesystem-e4848ed4-30fc-4189-4921-61d760b7e110/baz/bar?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 07 Jun 2024 15:07:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8703917AE838\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:07:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.dfs.core.windows.net/test-filesystem-e4848ed4-30fc-4189-4921-61d760b7e110/foo/foo?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 07 Jun 2024 15:07:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87039184F8E2\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:07:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.dfs.core.windows.net/test-filesystem-e4848ed4-30fc-4189-4921-61d760b7e110/foo/bar?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 07 Jun 2024 15:07:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8703918E9477\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:07:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.dfs.core.windows.net/test-filesystem-e4848ed4-30fc-4189-4921-61d760b7e110/baz/foo?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 07 Jun 2024 15:07:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87039199414D\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:07:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.dfs.core.windows.net/test-filesystem-e4848ed4-30fc-4189-4921-61d760b7e110/baz/foo/bar?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 07 Jun 2024 15:07:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870391A37900\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:07:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.dfs.core.windows.net/test-filesystem-e4848ed4-30fc-4189-4921-61d760b7e110/baz/bar/foo?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Fri, 07 Jun 2024 15:07:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870391AD3B8F\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:07:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.dfs.core.windows.net/test-filesystem-e4848ed4-30fc-4189-4921-61d760b7e110?resource=filesystem&recursive=false&upn=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:07:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "Fri, 07 Jun 2024 15:07:37 GMT",
            "etag": "0x8DC8703916714F3",
            "isDirectory": "true",
            "lastModified": "Fri, 07 Jun 2024 15:07:37 GMT",
            "name": "bar"
          },
          {
            "contentLength": "0",
            "creationTime": "Fri, 07 Jun 2024 15:07:37 GMT",
            "etag": "0x8DC8703917125AE",
            "isDirectory": "true",
            "lastModified": "Fri, 07 Jun 2024 15:07:37 GMT",
            "name": "baz"
          },
          {
            "contentLength": "0",
            "creationTime": "Fri, 07 Jun 2024 15:07:37 GMT",
            "etag": "0x8DC8703915D7969",
            "isDirectory": "true",
            "lastModified": "Fri, 07 Jun 2024 15:07:37 GMT",
            "name": "foo"
          }
        ]
      }
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-filesystem-e4848ed4-30fc-4189-4921-61d760b7e110?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:07:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "69390249",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
