{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-ee08e49c-6db6-9edb-d14a-ec12f43db03f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 13:54:02 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDFF10591A0BE\"",
        "Last-Modified": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-ee08e49c-6db6-9edb-d14a-ec12f43db03f/foo?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDFF1059A5370\"",
        "Last-Modified": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-ee08e49c-6db6-9edb-d14a-ec12f43db03f/bar?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDFF1059FEFFC\"",
        "Last-Modified": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-ee08e49c-6db6-9edb-d14a-ec12f43db03f/baz?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDFF105A5BBA8\"",
        "Last-Modified": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-ee08e49c-6db6-9edb-d14a-ec12f43db03f/baz/bar?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDFF105ABD238\"",
        "Last-Modified": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-ee08e49c-6db6-9edb-d14a-ec12f43db03f/foo/foo?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDFF105B11C98\"",
        "Last-Modified": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-ee08e49c-6db6-9edb-d14a-ec12f43db03f/foo/bar?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDFF105B71050\"",
        "Last-Modified": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-ee08e49c-6db6-9edb-d14a-ec12f43db03f/baz/foo?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDFF105BD3BAC\"",
        "Last-Modified": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-ee08e49c-6db6-9edb-d14a-ec12f43db03f/baz/foo/bar?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDFF105C24CE0\"",
        "Last-Modified": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-ee08e49c-6db6-9edb-d14a-ec12f43db03f/baz/bar/foo?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDDFF105CA433C\"",
        "Last-Modified": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanary2.dfs.core.windows.net/test-filesystem-ee08e49c-6db6-9edb-d14a-ec12f43db03f?resource=filesystem&recursive=true&upn=false&beginFrom=foo",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "134001716430590832",
            "etag": "0x8DDDFF1059A5370",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 20 Aug 2025 13:54:03 GMT",
            "name": "foo",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "134001716432474192",
            "etag": "0x8DDDFF105B71050",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 20 Aug 2025 13:54:03 GMT",
            "name": "foo/bar",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "134001716432084120",
            "etag": "0x8DDDFF105B11C98",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 20 Aug 2025 13:54:03 GMT",
            "name": "foo/foo",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          }
        ]
      }
    },
    {
      "RequestUri": "https://seanhnscanary2.blob.core.windows.net/test-filesystem-ee08e49c-6db6-9edb-d14a-ec12f43db03f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Aug 2025 13:54:03 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1479743427",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanary2\nU2FuaXRpemVk\nhttps://seanhnscanary2.blob.core.windows.net\nhttps://seanhnscanary2.file.core.windows.net\nhttps://seanhnscanary2.queue.core.windows.net\nhttps://seanhnscanary2.table.core.windows.net\n\n\n\n\nhttps://seanhnscanary2-secondary.blob.core.windows.net\nhttps://seanhnscanary2-secondary.file.core.windows.net\nhttps://seanhnscanary2-secondary.queue.core.windows.net\nhttps://seanhnscanary2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanary2.blob.core.windows.net/;QueueEndpoint=https://seanhnscanary2.queue.core.windows.net/;FileEndpoint=https://seanhnscanary2.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanary2-secondary.file.core.windows.net/;AccountName=seanhnscanary2;AccountKey=U2FuaXRpemVk\nseanscope1\nXClient\n"
  }
}
