{
  "Entries": [
    {
      "RequestUri": "https://remoterendering.eastus2.mixedreality.azure.com/accounts/00000000-1111-2222-3333-444455556666/conversions/conversionId-2420?api-version=2021-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "settings": {
          "inputLocation": {
            "storageContainerUri": "https://sdktest.blob.core.windows.net/test",
            "storageContainerReadListSas": "arr_sas_token",
            "blobPrefix": "Input",
            "relativeInputAssetPath": "testBox.fbx"
          },
          "outputLocation": {
            "storageContainerUri": "https://sdktest.blob.core.windows.net/test",
            "storageContainerWriteSas": "arr_sas_token",
            "blobPrefix": "Output"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-01-01-preview, 2021-01-01, 2021-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Y8WhH6+l8ECm6/IwyZr1Ig.0"
      },
      "ResponseBody": {
        "id": "conversionId-2420",
        "creationTime": "2024-04-30T13:08:58.00004Z",
        "settings": {
          "inputLocation": {
            "storageContainerUri": "https://sdktest.blob.core.windows.net/test",
            "blobPrefix": "Input/",
            "relativeInputAssetPath": "testBox.fbx"
          },
          "outputLocation": {
            "storageContainerUri": "https://sdktest.blob.core.windows.net/test",
            "blobPrefix": "Output/",
            "outputAssetFilename": "testBox.arrAsset"
          }
        },
        "error": null,
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://remoterendering.eastus2.mixedreality.azure.com/accounts/00000000-1111-2222-3333-444455556666/conversions/conversionId-2420?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-01-01-preview, 2021-01-01, 2021-08-01-preview",
       [...]
