{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus-1.eventgrid.azure.net/topics/testtopic1/eventsubscriptions/testsubscription1:receive?api-version=2024-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "brokerProperties": {
              "lockToken": "CiYKJEVEMjNGRjVGLUU0MDktNEE5Ni04NDYwLUYyMTA2M0NFNDg4NxISChCUBOTNyo1A0I09iVaubTyD",
              "deliveryCount": 2
            },
            "event": {
              "specversion": "1.0",
              "source": "Sanitized",
              "time": "2024-06-06T01:08:13Z",
              "id": "Sanitized",
              "datacontenttype": "application/cloudevents+json; charset=utf-8",
              "type": "example",
              "data": {
                "resourceUri": "https://dummyurl.com"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus-1.eventgrid.azure.net/topics/testtopic1/eventsubscriptions/testsubscription1:acknowledge?api-version=2024-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "lockTokens": [
          "CiYKJEVEMjNGRjVGLUU0MDktNEE5Ni04NDYwLUYyMTA2M0NFNDg4NxISChCUBOTNyo1A0I09iVaubTyD"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "succeededLockTokens": [
          "CiYKJEVEMjNGRjVGLUU0MDktNEE5Ni04NDYwLUYyMTA2M0NFNDg4NxISChCUBOTNyo1A0I09iVaubTyD"
        ],
        "failedLockTokens": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus-1.eventgrid.azure.net/topics/testtopic1:publish?api-version=2024-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/cloudevents+json; charset=utf-8"
      },
      "RequestBody": {
        "id": "Sanitized",
        "source": "Sanitized",
        "data": {
          "resourceUri": "https://dummyurl.com"
        },
        "type": "example",
        "time": "2024-06-06T01:10:14.000Z",
        "specversion": "1.0",
        "datacontenttype": "application/cloudevents+json; charset=utf-8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus-1.eventgrid.azure.net/topics/testtopic1/eventsubscriptions/testsubscription1:release?api-version=2024-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "lockTokens": [
          "CiYKJEVEMjNGRjVGLUU0MDktNEE5Ni04NDYwLUYyMTA2M0NFNDg4NxISChDwBaESPl5Hu6C7Frg81Kkf"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "succeededLockTokens": [
          "CiYKJEVEMjNGRjVGLUU0MDktNEE5Ni04NDYwLUYyMTA2M0NFNDg4NxISChDwBaESPl5Hu6C7Frg81Kkf"
        ],
        "failedLockTokens": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus-1.eventgrid.azure.net/topics/testtopic1/eventsubscriptions/testsubscription1:receive?api-version=2024-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "singleEventDate": "Wed Jun 05 2024 18:10:14 GMT-0700 (Pacific Daylight Time)",
    "singleEventId": "singleEventIdV210004"
  }
}
