{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/networkcloud-sdk6590?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk6590",
        "name": "networkcloud-sdk6590",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-2591119-cluster-1-HostedResources-53538929/providers/Microsoft.NetworkCloud/racks?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-2591119-cluster-1-HostedResources-53538929/providers/Microsoft.NetworkCloud/racks/rack1",
            "name": "rack1",
            "type": "microsoft.networkcloud/racks",
            "location": "uksouth",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-2591119-cluster-1-hostedresources-53538929/providers/microsoft.extendedlocation/customlocations/simdev-2591119-cluster-1-cstm-loc",
              "type": "CustomLocation"
            },
            "tags": {
              "CreatedBy": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-2591119-cluster-1-hostedresources-53538929/providers/microsoft.extendedlocation/customlocations/simdev-2591119-cluster-1-cstm-loc/resourcesyncrules/rackshydrationrule"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2024-09-23T17:24:12.5855952Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2024-09-24T18:34:29.6364607Z"
            },
            "properties": {
              "rackSkuId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Compute_DellR750_2C2M_sim",
              "rackSerialNumber": "rack1",
              "availabilityZone": "1",
              "rackLocation": "Foo Datacenter, Floor 3, Aisle 9, Rack 2",
              "clusterId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/sdk-testing_id-simdev-2591119/providers/Microsoft.NetworkCloud/clusters/simdev-2591119-cluster-1",
              "detailedStatus": "Available",
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-2591119-cluster-1-HostedResources-53538929/providers/Microsoft.NetworkCloud/racks/aa1234",
            "name": "aa1234",
            "type": "microsoft.networkcloud/racks",
            "location": "uksouth",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb4[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/racks?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "f0c23d07-e2c1-47f7-8657-418c97b6a0e5",
          "eff698c7-4a11-4700-9dda-b79df9b6f945"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-2574901-cluster-1-HostedResources-35DB325A/providers/Microsoft.NetworkCloud/racks/rack2",
            "name": "rack2",
            "type": "microsoft.networkcloud/rack[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-2591119-cluster-1-HostedResources-53538929/providers/Microsoft.NetworkCloud/racks/rack1?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"90083a90-0000-1100-0000-66f306350000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-2591119-cluster-1-HostedResources-53538929/providers/Microsoft.NetworkCloud/racks/rack1",
        "name": "rack1",
        "type": "microsoft.networkcloud/racks",
        "location": "uksouth",
        "extendedLocation": {
  [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-2591119-cluster-1-HostedResources-53538929/providers/Microsoft.NetworkCloud/racks/rack1?api-version=2024-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "CreatedBy": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-2591119-cluster-1-hostedresources-53538929/providers/microsoft.extendedlocation/customlocations/simdev-2591119-cluster-1-cstm-loc/resourcesyncrules/rackshydrationrule",
          "test-key": "test-value"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/453b5745-40d5-412e-9c22-e51cc8bae3d2*B2DB5E1E18F48DB2F92E552A883E67610009E6FE091F940CE40A8F82F1B9AF2E?api-version=2024-07-01&t=638627996876057321&c=MIIHhzCCBm-gAwIBAgITHgTUi-YoGm7h4w8LxwAABNSL5jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI5MDUyNzU1WhcNMjUwNjI0MDUyNzU1W[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/453b5745-40d5-412e-9c22-e51cc8bae3d2*B2DB5E1E18F48DB2F92E552A883E67610009E6FE091F940CE40A8F82F1B9AF2E?api-version=2024-07-01&t=638627996876057321&c=MIIHhzCCBm-gAwIBAgITHgTUi-YoGm7h4w8LxwAABNSL5jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI5MDUy[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/64f8cf66-db83-4e36-a75a-6db46cc76c0e*B2DB5E1E18F48DB2F92E552A883E67610009E6FE091F940CE40A8F82F1B9AF2E?api-version=2024-07-01&t=638627997016623016&c=MIIHhzCCBm-gAwIBAgITHgTUi-YoGm7h4w8LxwAABNSL5jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI5MDUy[...]
[...]
