{
  "Entries": [
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
        "mise-correlation-id": "3843f69e-a0c1-422e-9ecb-d8b1e137bfec"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "test-from-csharp-sdk-testing-framework",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-12T12:00:26.039Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-12T12:00:26.039Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV[...]
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f911b03d-78c5-4221-8278-0760d4c17ddc"
      },
      "ResponseBody": {
        "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/f29c0b70-cac4-4009-9253-63964798dd80/d086f624-4470-4bd0-a14a-8c92c555874b?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T11%3A22%3A46Z&ske=2025-04-12T18%3A22%3A46Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T12%3A10%3A26Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-12T12:10:26.7374421Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "test-from-csharp-sdk-testing-framework",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
        "mise-correlation-id": "a677a7cc-b0dc-4f23-a974-4279f93ce5d7"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/f29c0b70-cac4-4009-9253-63964798dd80/37ff0c35-3938-4410-8236-85794a38a04f?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T12%3A01%3A07Z&ske=2025-04-13T21%3A01%3A07Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T13%3A01%3A07Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-12T13:01:07.7446204Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/f29c0b70-cac4-4009-9253-63964798dd80/d086f624-4470-4bd0-a14a-8c92c555874b?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T12%3A01%3A07Z&ske=2025-04-13T21%3A01%3A07Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T13%3A01%3A07Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-04-12T13:01:07.7441214Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/f29c0b70-cac4-4009-9253-63964798dd80/4fffde2f-a6c9-4512-8e00-126afcc1dad4?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T12%3A01%3A07Z&ske=2025-04-13T21%3A01%3A07Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T13%3A01%3A07Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-12T13:01:07.7448597Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/d647cd50-eaed-4da3-8e0c-ee6158df421e?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T12%3A01%3A07Z&ske=2025-04-13T21%3A01%3A07Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-04-12T12%3A01%3A07Z&se=2025-04-12T13%3A01%3A07Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-04-12T13:01:07.7450546Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "test-run-id-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework",
        "testId": "test-from-csharp-sdk-testing-framework",
        "status": "ACCEPTED",
        "executedDateTime": "2025-04-12T12:01:05.481Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-loadtests/testId/test-from-csharp-sdk-testing-framework/testRunId/test-run-id-from-csharp-sdk",
        "createdDateTime": "2025-04-12T12:01:07.321Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-12T12:01:07.736Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/test-profile-run-id-from-csharp-sdkpw?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "a12d933a-f23b-4148-88dc-446b1d9fc5e9"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/test-profiles/test-profile-from-csharp-sdk-testing22?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "57c6c0f8-0e50-4db8-ade5-e516d0593d3b"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "d095008d-2ff9-43a6-b1bd-1997cd224c18"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "1115253902"
  }
}
