{
  "Entries": [
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka?api-version=2024-12-01-preview",
        "mise-correlation-id": "386923fa-1f1a-4e68-881a-7f4ae2fce99a"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "loadtest-from-csharp-sdka",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-18T06:57:24.608Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T06:57:24.608Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV0ZXI9IjUuNSI+[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "479c281b-600e-46c8-b2b9-a8b2622803a5"
      },
      "ResponseBody": {
        "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/b728439f-721a-4745-bfc7-6934a4c0cf17/35abbd9b-74f2-4a48-8504-4705ab3f8867?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A37%3A36Z&ske=2025-04-19T15%3A37%3A36Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-18T07%3A07%3A25Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-18T07:07:25.3545305Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-profiles/begintestprofilerun-waituntilcompleteda-testprofil?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "displayName": "Dotnet Testing Framework TestProfile",
        "description": "This test profile was created through loadtesting C# SDK",
        "testId": "loadtest-from-csharp-sdka",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-profiles/begintestprofilerun-waituntilcompleteda-testprofil?api-version=2024-12-01-preview",
        "mise-correlation-id": "bf0b4170-3897-401e-bf77-5e93a0a646e3"
      },
      "ResponseBody": {
        "testProfileId": "begintestprofilerun-waituntilcompleteda-testprofil",
        "displayName": "Dotnet Testing Framework TestProfile",
        "description": "This test profile was created through loadtesting C# SDK",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "testId": "loadtest-from-csharp-sdka",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        },
        "createdDateTime": "2025-04-18T06:57:58.372Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T06:57:58.372Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/begintestprofilerun-waituntilcompleteda-testprofil?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testProfileId": "begintestprofilerun-waituntilcompleteda-testprofil",
        "displayName": "TestProfileRun created from dotnet test framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/begintestprofilerun-waituntilcompleteda-testprofil?api-version=2024-12-01-preview",
        "mise-correlation-id": "20d9b454-689d-4e9b-8ca3-e06b3a29a1f3"
      },
      "ResponseBody": {
        "status": "ACCEPTED",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        },
        "testProfileRunId": "begintestprofilerun-waituntilcompleteda-testprofil",
        "testProfileId": "begintestprofilerun-waituntilcompleteda-testprofil",
        "displayName": "TestProfileRun created from dotnet test framework",
        "createdDateTime": "2025-04-18T06:58:01.552Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T06:58:01.552Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/begintestprofilerun-waituntilcompleteda-testprofil?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "648345b6-9c24-4a4f-9b13-47d876a158ee"
      },
      "ResponseBody": {
        "status": "EXECUTING",
        "startDateTime": "2025-04-18T06:58:18.789Z",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        },
        "testProfileRunId": "begintestprofilerun-waituntilcompleteda-testprofil",
        "testProfileId": "begintestprofilerun-waituntilcompleteda-testprofil",
        "displayName": "TestProfileRun created from dotnet test framework",
        "createdDateTime": "2025-04-18T06:58:01.552Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T06:58:19.317Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/begintestprofilerun-waituntilcompleteda-testprofil?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ef3bf14e-ae29-4b19-b946-5e2cc5243ee7"
      },
      "ResponseBody": {
        "status": "EXECUTING",
        "startDateTime": "2025-04-18T06:58:18.789Z",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        },
        "testRunDetails": {
          "eae3598b-1599-5171-e547-6c0b5933f223": {
            "status": "ACCEPTED",
            "configurationId": "config1"
          }
        },
        "testProfileRunId": "begintestprofilerun-waituntilcompleteda-testprofil",
        "testProfileId": "begintestprofilerun-waituntilcompleteda-testprofil",
        "displayName": "TestProfileRun created from dotnet test framework",
        "createdDateTime": "2025-04-18T06:58:01.552Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T07:00:33.472Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/begintestprofilerun-waituntilcompleteda-testprofil?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a8497c43-459a-47cf-b6e8-c4a0e48ab903"
      },
      "ResponseBody": {
        "status": "EXECUTING",
        "startDateTime": "2025-04-18T06:58:18.789Z",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        },
        "testRunDetails": {
          "eae3598b-1599-5171-e547-6c0b5933f223": {
            "status": "DONE",
            "configurationId": "config1",
            "properties": {
              "errorPct": "0",
              "meanResTime": "4",
              "throughput": "4187.194444444444",
              "sampleCount": "150739"
            }
          }
        },
        "testProfileRunId": "begintestprofilerun-waituntilcompleteda-testprofil",
        "testProfileId": "begintestprofilerun-waituntilcompleteda-testprofil",
        "displayName": "TestProfileRun created from dotnet test framework",
        "createdDateTime": "2025-04-18T06:58:01.552Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T07:05:07.993Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/begintestprofilerun-waituntilcompleteda-testprofil?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "44b99fdd-cc12-498a-a9dc-b7ac4e190d8a"
      },
      "ResponseBody": {
        "status": "DONE",
        "startDateTime": "2025-04-18T06:58:18.789Z",
        "endDateTime": "2025-04-18T07:12:10.58Z",
        "durationInSeconds": 831,
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        },
        "testRunDetails": {
          "eae3598b-1599-5171-e547-6c0b5933f223": {
            "status": "DONE",
            "configurationId": "config1",
            "properties": {
              "errorPct": "0",
              "meanResTime": "4",
              "throughput": "4187.194444444444",
              "sampleCount": "150739"
            }
          },
          "c56ee896-e927-6b62-77f0-b28732c7d37a": {
            "status": "DONE",
            "configurationId": "config2",
            "properties": {
              "errorPct": "0",
              "meanResTime": "72",
              "throughput": "302.030303030303",
              "sampleCount": "9967"
            }
          }
        },
        "recommendations": [
          {
            "category": "ThroughputOptimized",
            "configurations": [
              "config1"
            ]
          }
        ],
        "testProfileRunId": "begintestprofilerun-waituntilcompleteda-testprofil",
        "testProfileId": "begintestprofilerun-waituntilcompleteda-testprofil",
        "displayName": "TestProfileRun created from dotnet test framework",
        "createdDateTime": "2025-04-18T06:58:01.552Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T07:12:10.637Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-runs/begintestprofilerun-waituntilcompleteda-testrun?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json",
        "mise-correlation-id": "4104e4c8-b19e-4441-ad48-9f652c0b06dd",
        "x-ms-error-code": "TestRunNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "TestRunNotFound",
          "message": "Test run not found with given name \"begintestprofilerun-waituntilcompleteda-testrun\".",
          "target": null,
          "details": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "762976bb-f920-4831-a7da-9ed2baa1c314"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_TARGET_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
    "RandomSeed": "1765375490"
  }
}
