{
  "Entries": [
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2025-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2025-11-01-preview",
        "mise-correlation-id": "52292201-2e64-4e59-bee0-6dc73593a80f"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "autoStopCriteria": {
          "autoStopDisabled": false,
          "errorRate": 90.0,
          "errorRateTimeWindowInSeconds": 60,
          "maximumVirtualUsersPerEngine": 5000
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "preferences": {
          "enableAIErrorInsights": true
        },
        "testId": "loadtest-from-csharp-sdk",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2026-03-11T10:25:55.533Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-11T10:25:55.533Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2025-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV0ZXI9IjUuNSI+C[...]
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4d275b9b-5120-4e68-9a86-cbca6a7e835d"
      },
      "ResponseBody": {
        "url": "https://jo0mku7m4c7g0td44aohpkkv.z14.blob.storage.azure.net/fb73fd65-3fd8-464b-bb44-8c377307f706/40ba2912-12ac-477d-acd8-2c2d5fc45035?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-11T10%3A04%3A26Z&ske=2026-03-11T16%3A14%3A26Z&sks=b&skv=2025-11-05&sv=Sanitized&se=2026-03-11T10%3A35%3A56Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2026-03-11T10:35:56.354676Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/test-runs/begintestrun-waituntilcompleted-testrun?api-version=2025-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "loadtest-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework"
      },
  [...]
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/test-runs/begintestrun-waituntilcompleted-testrun?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ef800ac4-41d6-4433-b39d-6006473d2077"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "autoStopCriteria": {
          "autoStopDisabled": false,
          "errorRate": 90.0,
          "errorRateTimeWindowInSeconds": 60,
          "maximumVirtualUsersPerEngine": 5000
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://jo0mku7m4c7g0td44aohpkkv.z14.blob.storage.azure.net/fb73fd65-3fd8-464b-bb44-8c377307f706/76fc78f8-f152-4dde-a33c-004fa20e71ba?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-11T10%3A04%3A56Z&ske=2026-03-11T16%3A14%3A56Z&sks=b&skv=2025-11-05&sv=Sanitized&se=2026-03-11T11%3A26%3A32Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2026-03-11T11:26:32.2903484Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://jo0mku7m4c7g0td44aohpkkv.z14.blob.storage.azure.net/fb73fd65-3fd8-464b-bb44-8c377307f706/40ba2912-12ac-477d-acd8-2c2d5fc45035?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-11T10%3A04%3A56Z&ske=2026-03-11T16%3A14%3A56Z&sks=b&skv=2025-11-05&sv=Sanitized&se=2026-03-11T11%3A26%3A32Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2026-03-11T11:26:32.2901852Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://jo0mku7m4c7g0td44aohpkkv.z14.blob.storage.azure.net/fb73fd65-3fd8-464b-bb44-8c377307f706/b3f3aa31-bc08-4167-a043-c95695c34f4b?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-11T10%3A04%3A56Z&ske=2026-03-11T16%3A14%3A56Z&sks=b&skv=2025-11-05&sv=Sanitized&se=2026-03-11T11%3A26%3A32Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2026-03-11T11:26:32.2903812Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://jo0mku7m4c7g0td44aohpkkv.z14.blob.storage.azure.net/87b1ce35-d4a4-4c75-89d4-2dec1e05e6ea?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-11T10%3A04%3A56Z&ske=2026-03-11T16%3A14%3A56Z&sks=b&skv=2025-11-05&sv=Sanitized&st=2026-03-11T10%3A26%3A32Z&se=2026-03-11T11%3A26%3A32Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2026-03-11T11:26:32.2904145Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "estimatedVirtualUserHours": 2.0,
        "testRunId": "begintestrun-waituntilcompleted-testrun",
        "displayName": "Run created from dotnet testing framework",
        "testId": "loadtest-from-csharp-sdk",
        "status": "PROVISIONING",
        "startDateTime": "2026-03-11T10:26:31Z",
        "executedDateTime": "2026-03-11T10:26:30.651Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/TestRunReport.ReactView//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-hbishtloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2fta67db578d3583d0a-csharpsdk-loadtests/testId/loadtest-from-csharp-sdk/testRunId/begintestrun-waituntilcompleted-testrun",
        "createdDateTime": "2026-03-11T10:26:30.936Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-11T10:26:32.155Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "mise-correlation-id": "94e273e8-5cc4-4f83-bf9d-0aa1dbb79032"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "1957068002"
  }
}
