{
  "Entries": [
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
        "mise-correlation-id": "1d959d1e-297e-40b8-b57e-8d84bf9fa7fe"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "loadtest-from-csharp-sdk",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-05-19T12:25:26.316Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-05-19T12:25:26.316Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV0ZXI9IjUuNS[...]
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c7ffb7c8-d8a7-472f-bcc2-ca6bd2a81150"
      },
      "ResponseBody": {
        "url": "https://c7nwmdhl9p537nidj4ihlila.z9.blob.storage.azure.net/e6cf9c43-eb45-44e9-acff-2556898f3eac/58383bdd-f797-45e8-a180-71ed3585855e?skoid=71d78b1b-18ed-4c0f-af95-f43461d18dba&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-05-19T11%3A49%3A15Z&ske=2025-05-19T18%3A49%3A15Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-05-19T12%3A35%3A27Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-05-19T12:35:27.0232941Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-runs/begintestrun-polloperation-testrun?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "loadtest-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-runs/begintestrun-polloperation-testrun?api-version=2024-12-01-preview",
        "mise-correlation-id": "872c9298-8968-47a4-9ff7-1982aa930a53"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://c7nwmdhl9p537nidj4ihlila.z9.blob.storage.azure.net/e6cf9c43-eb45-44e9-acff-2556898f3eac/8c6a0c41-5fa7-47fc-8eee-26038260a85b?skoid=71d78b1b-18ed-4c0f-af95-f43461d18dba&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-05-19T11%3A48%3A16Z&ske=2025-05-19T18%3A48%3A16Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-05-19T13%3A25%3A55Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-05-19T13:25:55.769429Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://c7nwmdhl9p537nidj4ihlila.z9.blob.storage.azure.net/e6cf9c43-eb45-44e9-acff-2556898f3eac/58383bdd-f797-45e8-a180-71ed3585855e?skoid=71d78b1b-18ed-4c0f-af95-f43461d18dba&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-05-19T11%3A48%3A16Z&ske=2025-05-19T18%3A48%3A16Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-05-19T13%3A25%3A55Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-05-19T13:25:55.7692059Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://c7nwmdhl9p537nidj4ihlila.z9.blob.storage.azure.net/e6cf9c43-eb45-44e9-acff-2556898f3eac/40d84bd0-5af7-4994-a545-70115989a9bd?skoid=71d78b1b-18ed-4c0f-af95-f43461d18dba&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-05-19T11%3A48%3A16Z&ske=2025-05-19T18%3A48%3A16Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-05-19T13%3A25%3A55Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-05-19T13:25:55.769488Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://c7nwmdhl9p537nidj4ihlila.z9.blob.storage.azure.net/90465c44-2373-4d41-a447-1d03385f16d6?skoid=71d78b1b-18ed-4c0f-af95-f43461d18dba&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-05-19T11%3A48%3A16Z&ske=2025-05-19T18%3A48%3A16Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-05-19T12%3A25%3A55Z&se=2025-05-19T13%3A25%3A55Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-05-19T13:25:55.7695405Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "begintestrun-polloperation-testrun",
        "displayName": "Run created from dotnet testing framework",
        "testId": "loadtest-from-csharp-sdk",
        "status": "ACCEPTED",
        "executedDateTime": "2025-05-19T12:25:55.098Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-csharpsdk-loadtests/testId/loadtest-from-csharp-sdk/testRunId/begintestrun-polloperation-testrun",
        "createdDateTime": "2025-05-19T12:25:55.395Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-05-19T12:25:55.762Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-profile-runs/begintestrun-polloperation-testprofilerun?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "338b4151-14b0-4bb0-aa34-3a7a83fcc46d"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-profiles/begintestrun-polloperation-testprofile?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "1d05fa6a-8513-4999-a0b4-571db521341d"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "32bc5728-955d-4e59-9e9c-5a109b81e348"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "1352764242"
  }
}




