{
  "Entries": [
    {
      "RequestUri": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
        "mise-correlation-id": "93d6c266-2d44-491e-ae74-d7bb94d3c849"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "test-from-csharp-sdk-testing-framework",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-15T05:28:45.617Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-15T05:28:45.617Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV[...]
    {
      "RequestUri": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c3e9adbe-4b09-409a-9e1b-969e1c1430ab"
      },
      "ResponseBody": {
        "url": "https://fy8nk3izpjfxxul0f02l2mp1.z20.blob.storage.azure.net/fbacce21-8c73-4f66-95e2-0abc4ab4f399/c0310dd5-afd1-4c51-98eb-02b27e14f5e6?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-15T05%3A13%3A06Z&ske=2025-04-15T12%3A13%3A06Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-15T05%3A38%3A46Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-15T05:38:46.379885Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/test-profiles/test-profile-from-csharp-sdk-testing22?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "displayName": "Dotnet Testing Framework TestProfile",
        "description": "This test profile was created through loadtesting C# SDK",
        "testId": "test-from-csharp-sdk-testing-framework",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/test-profiles/test-profile-from-csharp-sdk-testing22?api-version=2024-12-01-preview",
        "mise-correlation-id": "298dd620-f856-4607-b141-1d39b55d7a13"
      },
      "ResponseBody": {
        "testProfileId": "test-profile-from-csharp-sdk-testing22",
        "displayName": "Dotnet Testing Framework TestProfile",
        "description": "This test profile was created through loadtesting C# SDK",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "testId": "test-from-csharp-sdk-testing-framework",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        },
        "createdDateTime": "2025-04-15T05:29:19.98Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-15T05:29:19.98Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/test-profile-run-id-from-csharp-sdkpw?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testProfileId": "test-profile-from-csharp-sdk-testing22",
        "displayName": "TestProfileRun created from dotnet test framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/test-profile-run-id-from-csharp-sdkpw?api-version=2024-12-01-preview",
        "mise-correlation-id": "0f808117-fdfd-4061-aea0-7768645aacfb"
      },
      "ResponseBody": {
        "status": "ACCEPTED",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        },
        "testProfileRunId": "test-profile-run-id-from-csharp-sdkpw",
        "testProfileId": "test-profile-from-csharp-sdk-testing22",
        "displayName": "TestProfileRun created from dotnet test framework",
        "createdDateTime": "2025-04-15T05:29:23.508Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-15T05:29:23.508Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/test-profile-run-id-from-csharp-sdkpw?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "470e580d-3849-4977-8b4c-973f3aa82ced"
      },
      "ResponseBody": {
        "status": "EXECUTING",
        "startDateTime": "2025-04-15T05:29:39.271Z",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        },
        "testProfileRunId": "test-profile-run-id-from-csharp-sdkpw",
        "testProfileId": "test-profile-from-csharp-sdk-testing22",
        "displayName": "TestProfileRun created from dotnet test framework",
        "createdDateTime": "2025-04-15T05:29:23.508Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-15T05:29:41.758Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/test-profile-run-id-from-csharp-sdkpw?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6ae9ff2d-e92a-49fc-b851-1e56612c2762"
      },
      "ResponseBody": {
        "status": "EXECUTING",
        "startDateTime": "2025-04-15T05:29:39.271Z",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        },
        "testRunDetails": {
          "4e17ce5c-5f3e-6b60-86d4-0aa6cf8aa01e": {
            "status": "ACCEPTED",
            "configurationId": "config1"
          }
        },
        "testProfileRunId": "test-profile-run-id-from-csharp-sdkpw",
        "testProfileId": "test-profile-from-csharp-sdk-testing22",
        "displayName": "TestProfileRun created from dotnet test framework",
        "createdDateTime": "2025-04-15T05:29:23.508Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-15T05:31:55.014Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/test-profile-run-id-from-csharp-sdkpw?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e8de8dcd-1a9e-44c8-9f2d-7ad0ac277ea1"
      },
      "ResponseBody": {
        "status": "EXECUTING",
        "startDateTime": "2025-04-15T05:29:39.271Z",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        },
        "testRunDetails": {
          "4e17ce5c-5f3e-6b60-86d4-0aa6cf8aa01e": {
            "status": "DONE",
            "configurationId": "config1",
            "properties": {
              "errorPct": "0",
              "meanResTime": "6",
              "throughput": "3889.85",
              "sampleCount": "233391"
            }
          }
        },
        "testProfileRunId": "test-profile-run-id-from-csharp-sdkpw",
        "testProfileId": "test-profile-from-csharp-sdk-testing22",
        "displayName": "TestProfileRun created from dotnet test framework",
        "createdDateTime": "2025-04-15T05:29:23.508Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-15T05:37:04.39Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/test-profile-run-id-from-csharp-sdkpw?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "dafa79f6-aa26-4ba0-95a4-6e841292bb0f"
      },
      "ResponseBody": {
        "status": "DONE",
        "startDateTime": "2025-04-15T05:29:39.271Z",
        "endDateTime": "2025-04-15T05:44:29.616Z",
        "durationInSeconds": 890,
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        },
        "testRunDetails": {
          "4e17ce5c-5f3e-6b60-86d4-0aa6cf8aa01e": {
            "status": "DONE",
            "configurationId": "config1",
            "properties": {
              "errorPct": "0",
              "meanResTime": "6",
              "throughput": "3889.85",
              "sampleCount": "233391"
            }
          },
          "681243d0-a682-6920-353c-c511aa3ee470": {
            "status": "DONE",
            "configurationId": "config2",
            "properties": {
              "errorPct": "0",
              "meanResTime": "72",
              "throughput": "328.43548387096774",
              "sampleCount": "20363"
            }
          }
        },
        "recommendations": [
          {
            "category": "ThroughputOptimized",
            "configurations": [
              "config1"
            ]
          }
        ],
        "testProfileRunId": "test-profile-run-id-from-csharp-sdkpw",
        "testProfileId": "test-profile-from-csharp-sdk-testing22",
        "displayName": "TestProfileRun created from dotnet test framework",
        "createdDateTime": "2025-04-15T05:29:23.508Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-15T05:44:29.702Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json",
        "mise-correlation-id": "5045eaf4-224c-4335-a141-50963d05ef4e",
        "x-ms-error-code": "TestRunNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "TestRunNotFound",
          "message": "Test run not found with given name \"test-run-id-from-csharp-sdk\".",
          "target": null,
          "details": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "5076210d-0b8e-4ca2-9d49-b08ab90a3b92"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_TARGET_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
    "RandomSeed": "885881444"
  }
}
