{
  "Entries": [
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka?api-version=2024-12-01-preview",
        "mise-correlation-id": "8ae70ee7-f467-4e69-8e79-a2a3fb45f009"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "loadtest-from-csharp-sdka",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-17T17:51:13.492Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T17:51:13.492Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxqbWV0ZXJUZXN0UGxhbiB2ZXJzaW9uPSIxLjIiIHByb3BlcnRpZXM9IjUuMCIgam1ldGVyPSI1LjUi[...]
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4fb3cc1f-6c07-49b3-aae5-5a55bc1068fd"
      },
      "ResponseBody": {
        "url": "https://acfcv6myvx7brx03n9ixri93.z21.blob.storage.azure.net/5c109c42-583c-4557-bf64-d11738f9484f/efbce264-5ea8-429d-8437-36455af616b2?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T16%3A59%3A11Z&ske=2025-04-19T01%3A59%3A11Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T18%3A01%3A14Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-17T18:01:14.1974576Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/test-runs/createorupdateappcomponentsa-testrun?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "loadtest-from-csharp-sdka",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/test-runs/createorupdateappcomponentsa-testrun?api-version=2024-12-01-preview",
        "mise-correlation-id": "6a92aad1-74eb-46f0-b005-d26ddda3b7d7"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://acfcv6myvx7brx03n9ixri93.z21.blob.storage.azure.net/5c109c42-583c-4557-bf64-d11738f9484f/1aba3185-8bb5-4322-bee0-3f73566994f2?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T16%3A55%3A06Z&ske=2025-04-19T01%3A55%3A06Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T18%3A51%3A44Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-17T18:51:44.0020361Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://acfcv6myvx7brx03n9ixri93.z21.blob.storage.azure.net/5c109c42-583c-4557-bf64-d11738f9484f/efbce264-5ea8-429d-8437-36455af616b2?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T16%3A55%3A06Z&ske=2025-04-19T01%3A55%3A06Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T18%3A51%3A44Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-04-17T18:51:44.0013497Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://acfcv6myvx7brx03n9ixri93.z21.blob.storage.azure.net/5c109c42-583c-4557-bf64-d11738f9484f/3778bda1-ef17-456f-baae-997915857b44?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T16%3A55%3A06Z&ske=2025-04-19T01%3A55%3A06Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T18%3A51%3A44Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-17T18:51:44.0023484Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://acfcv6myvx7brx03n9ixri93.z21.blob.storage.azure.net/e3183e4a-9081-44c5-ae75-85a8f7563bdc?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T16%3A55%3A06Z&ske=2025-04-19T01%3A55%3A06Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-04-17T17%3A51%3A44Z&se=2025-04-17T18%3A51%3A44Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-04-17T18:51:44.0026388Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "createorupdateappcomponentsa-testrun",
        "displayName": "Run created from dotnet testing framework",
        "testId": "loadtest-from-csharp-sdka",
        "status": "ACCEPTED",
        "executedDateTime": "2025-04-17T17:51:42.392Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-loadtests/testId/loadtest-from-csharp-sdka/testRunId/createorupdateappcomponentsa-testrun",
        "createdDateTime": "2025-04-17T17:51:43.614Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T17:51:43.993Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/test-runs/createorupdateappcomponentsa-testrun/app-components?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "components": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "kind": "web"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/test-runs/createorupdateappcomponentsa-testrun/app-components?api-version=2024-12-01-preview",
        "mise-correlation-id": "66f2bad0-d091-441b-9d50-88f7c849a08a"
      },
      "ResponseBody": {
        "components": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "resourceGroup": "Sanitized",
            "subscriptionId": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
            "kind": "web"
          }
        },
        "testRunId": "createorupdateappcomponentsa-testrun",
        "createdDateTime": "2025-04-17T17:51:44.295Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T17:51:44.295Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/createorupdateappcomponentsa-testprofilerun?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "bcfd7501-5da5-4dde-96b4-d84bce9d6788"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/test-profiles/createorupdateappcomponentsa-testprofile?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "dfd099c1-f31f-4f07-9a81-8d222300f337"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "fab62326-84ba-4fe3-a70d-67f977771d26"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
    "RandomSeed": "1804544359"
  }
}
