{
  "Entries": [
    {
      "RequestUri": "https://0d56292a-7668-4a78-bc47-9e600e3b955e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://0d56292a-7668-4a78-bc47-9e600e3b955e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
        "mise-correlation-id": "692f6118-aed8-4c82-9de4-ddf9137858d5"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "test-from-csharp-sdk-testing-frameworka",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-15T08:02:30.184Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-15T08:02:30.184Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://0d56292a-7668-4a78-bc47-9e600e3b955e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbW[...]
    {
      "RequestUri": "https://0d56292a-7668-4a78-bc47-9e600e3b955e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8487591a-fd0b-46ea-aaab-cc728916a61b"
      },
      "ResponseBody": {
        "url": "https://k024o419r0k2koox8gigaqsb.z35.blob.storage.azure.net/38ea0974-9f1a-49a4-9744-94bf27a0d638/d48c3b77-249e-4c48-aec8-e7ffca55e628?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-15T07%3A52%3A41Z&ske=2025-04-16T16%3A52%3A41Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-15T08%3A12%3A31Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-15T08:12:31.8122166Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://0d56292a-7668-4a78-bc47-9e600e3b955e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdka?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "test-from-csharp-sdk-testing-frameworka",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://0d56292a-7668-4a78-bc47-9e600e3b955e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdka?api-version=2024-12-01-preview",
        "mise-correlation-id": "12ecb632-bc1b-498a-8ccd-ac18f85b4337"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://k024o419r0k2koox8gigaqsb.z35.blob.storage.azure.net/38ea0974-9f1a-49a4-9744-94bf27a0d638/b4e79d28-bfc6-4ca4-b4eb-eab69013d066?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-15T08%3A03%3A39Z&ske=2025-04-16T17%3A03%3A39Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-15T09%3A03%3A39Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-15T09:03:39.3316326Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://k024o419r0k2koox8gigaqsb.z35.blob.storage.azure.net/38ea0974-9f1a-49a4-9744-94bf27a0d638/d48c3b77-249e-4c48-aec8-e7ffca55e628?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-15T08%3A03%3A39Z&ske=2025-04-16T17%3A03%3A39Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-15T09%3A03%3A39Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-04-15T09:03:39.3312733Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://k024o419r0k2koox8gigaqsb.z35.blob.storage.azure.net/38ea0974-9f1a-49a4-9744-94bf27a0d638/af7f2d72-0869-4fcc-9665-43574b708c95?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-15T08%3A03%3A39Z&ske=2025-04-16T17%3A03%3A39Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-15T09%3A03%3A39Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-15T09:03:39.3317755Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://k024o419r0k2koox8gigaqsb.z35.blob.storage.azure.net/47a7bdc1-4d8b-48d6-9814-db84d6eaf723?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-15T08%3A03%3A39Z&ske=2025-04-16T17%3A03%3A39Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-04-15T08%3A03%3A39Z&se=2025-04-15T09%3A03%3A39Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-04-15T09:03:39.3319116Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "test-run-id-from-csharp-sdka",
        "displayName": "Run created from dotnet testing framework",
        "testId": "test-from-csharp-sdk-testing-frameworka",
        "status": "ACCEPTED",
        "executedDateTime": "2025-04-15T08:03:37.614Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-loadtests/testId/test-from-csharp-sdk-testing-frameworka/testRunId/test-run-id-from-csharp-sdka",
        "createdDateTime": "2025-04-15T08:03:38.912Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-15T08:03:39.323Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://0d56292a-7668-4a78-bc47-9e600e3b955e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdka/app-components?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "components": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "kind": "web"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://0d56292a-7668-4a78-bc47-9e600e3b955e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdka/app-components?api-version=2024-12-01-preview",
        "mise-correlation-id": "b458cb93-bfdf-422f-a80e-71b8f4e16be5"
      },
      "ResponseBody": {
        "components": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "resourceGroup": "Sanitized",
            "subscriptionId": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
            "kind": "web"
          }
        },
        "testRunId": "test-run-id-from-csharp-sdka",
        "createdDateTime": "2025-04-15T08:03:39.625Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-15T08:03:39.625Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://0d56292a-7668-4a78-bc47-9e600e3b955e.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/test-profile-run-id-from-csharp-sdkapw?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "de43f210-fbf0-4b41-8ced-f250b8060ebe"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://0d56292a-7668-4a78-bc47-9e600e3b955e.eastus.cnt-prod.loadtesting.azure.com/test-profiles/test-profile-from-csharp-sdk-testinga22?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "f9d4c52e-761d-440c-85e0-9323412896bb"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://0d56292a-7668-4a78-bc47-9e600e3b955e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "5e2f8f0d-1012-48b3-b062-d11897b92c9b"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "0d56292a-7668-4a78-bc47-9e600e3b955e.eastus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
    "RandomSeed": "158248147"
  }
}
