{
  "Entries": [
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
        "mise-correlation-id": "a60f5dd3-5698-4402-bd24-0e7b00c2f55e"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "loadtest-from-csharp-sdk",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-05-19T12:33:38.434Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-05-19T12:33:38.434Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV0ZXI9IjUuNS[...]
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c6ad9448-1670-4bd3-86ac-8cf16d6acf4b"
      },
      "ResponseBody": {
        "url": "https://c7nwmdhl9p537nidj4ihlila.z9.blob.storage.azure.net/0927c31b-5501-4e57-bbd9-dcaa3672fcb4/d2b56420-de90-4501-8b61-067acf11ca28?skoid=71d78b1b-18ed-4c0f-af95-f43461d18dba&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-05-19T11%3A49%3A02Z&ske=2025-05-19T18%3A49%3A02Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-05-19T12%3A43%3A40Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-05-19T12:43:40.7982899Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-runs/createorupdateappcomponents-testrun?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "loadtest-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-runs/createorupdateappcomponents-testrun?api-version=2024-12-01-preview",
        "mise-correlation-id": "2e17aeb8-46e7-478e-a503-c574f38cd4fa"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://c7nwmdhl9p537nidj4ihlila.z9.blob.storage.azure.net/0927c31b-5501-4e57-bbd9-dcaa3672fcb4/7c861713-6b3b-4fd5-b580-85a45e2e85f5?skoid=71d78b1b-18ed-4c0f-af95-f43461d18dba&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-05-19T11%3A48%3A16Z&ske=2025-05-19T18%3A48%3A16Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-05-19T13%3A34%3A21Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-05-19T13:34:21.5094666Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://c7nwmdhl9p537nidj4ihlila.z9.blob.storage.azure.net/0927c31b-5501-4e57-bbd9-dcaa3672fcb4/d2b56420-de90-4501-8b61-067acf11ca28?skoid=71d78b1b-18ed-4c0f-af95-f43461d18dba&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-05-19T11%3A48%3A16Z&ske=2025-05-19T18%3A48%3A16Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-05-19T13%3A34%3A21Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-05-19T13:34:21.5091013Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://c7nwmdhl9p537nidj4ihlila.z9.blob.storage.azure.net/0927c31b-5501-4e57-bbd9-dcaa3672fcb4/58eb9fdd-9b1c-4a30-990b-38c020f56710?skoid=71d78b1b-18ed-4c0f-af95-f43461d18dba&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-05-19T11%3A48%3A16Z&ske=2025-05-19T18%3A48%3A16Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-05-19T13%3A34%3A21Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-05-19T13:34:21.5095797Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://c7nwmdhl9p537nidj4ihlila.z9.blob.storage.azure.net/8894eec9-209a-455c-9b1c-845405c7b29b?skoid=71d78b1b-18ed-4c0f-af95-f43461d18dba&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-05-19T11%3A48%3A16Z&ske=2025-05-19T18%3A48%3A16Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-05-19T12%3A34%3A21Z&se=2025-05-19T13%3A34%3A21Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-05-19T13:34:21.5096736Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "createorupdateappcomponents-testrun",
        "displayName": "Run created from dotnet testing framework",
        "testId": "loadtest-from-csharp-sdk",
        "status": "ACCEPTED",
        "executedDateTime": "2025-05-19T12:34:19.419Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-csharpsdk-loadtests/testId/loadtest-from-csharp-sdk/testRunId/createorupdateappcomponents-testrun",
        "createdDateTime": "2025-05-19T12:34:20.608Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-05-19T12:34:21.502Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-runs/createorupdateappcomponents-testrun/app-components?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "components": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "kind": "web"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-runs/createorupdateappcomponents-testrun/app-components?api-version=2024-12-01-preview",
        "mise-correlation-id": "6282bb1f-7389-4eb2-98cf-962d0a02c85f"
      },
      "ResponseBody": {
        "components": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "resourceGroup": "Sanitized",
            "subscriptionId": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
            "kind": "web"
          }
        },
        "testRunId": "createorupdateappcomponents-testrun",
        "createdDateTime": "2025-05-19T12:37:32.145Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-05-19T12:37:32.145Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-profile-runs/createorupdateappcomponents-testprofilerun?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "c7517655-a45a-4cb2-8a80-e351f0aae3b9"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-profiles/createorupdateappcomponents-testprofile?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "7983ab5f-2602-4c18-8d0d-72f8eb23ca9b"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "a88bdb01-3265-4c00-90e5-d7570bad49a4"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
    "RandomSeed": "556487966"
  }
}


