{
  "Entries": [
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
        "mise-correlation-id": "3d424942-7aea-4aa5-8cb9-344ce8e6f5f0"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "loadtest-from-csharp-sdk",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-18T06:28:37.943Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T06:28:37.943Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV0ZXI9IjUuNSI+C[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4575703f-ffa6-4b61-b1c4-df6ba0672c6f"
      },
      "ResponseBody": {
        "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/974fc105-e061-4e2d-888c-1743cc79af3c/72b44126-d1b2-42f1-b565-a0c8f2f1281c?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T05%3A42%3A35Z&ske=2025-04-18T12%3A42%3A35Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-18T06%3A38%3A38Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-18T06:38:38.5893748Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-runs/createorupdateservermetricsconfig-testrun?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "loadtest-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-runs/createorupdateservermetricsconfig-testrun?api-version=2024-12-01-preview",
        "mise-correlation-id": "3c838a6e-33a8-439d-84e4-cd8b32691cc6"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/974fc105-e061-4e2d-888c-1743cc79af3c/416ef9d9-3c32-4369-96cf-f531f13be6de?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A20%3A25Z&ske=2025-04-19T15%3A20%3A25Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-18T07%3A29%3A12Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-18T07:29:12.8795158Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/974fc105-e061-4e2d-888c-1743cc79af3c/72b44126-d1b2-42f1-b565-a0c8f2f1281c?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A20%3A25Z&ske=2025-04-19T15%3A20%3A25Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-18T07%3A29%3A12Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-04-18T07:29:12.8791805Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/974fc105-e061-4e2d-888c-1743cc79af3c/912a6a3f-fdea-46fb-8d2a-a6f77debe677?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A20%3A25Z&ske=2025-04-19T15%3A20%3A25Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-18T07%3A29%3A12Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-18T07:29:12.8796425Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/4321995c-48fb-41a9-981b-0dde456e975e?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A20%3A25Z&ske=2025-04-19T15%3A20%3A25Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-04-18T06%3A29%3A12Z&se=2025-04-18T07%3A29%3A12Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-04-18T07:29:12.8797616Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "createorupdateservermetricsconfig-testrun",
        "displayName": "Run created from dotnet testing framework",
        "testId": "loadtest-from-csharp-sdk",
        "status": "ACCEPTED",
        "executedDateTime": "2025-04-18T06:29:12.126Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-loadtests/testId/loadtest-from-csharp-sdk/testRunId/createorupdateservermetricsconfig-testrun",
        "createdDateTime": "2025-04-18T06:29:12.495Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T06:29:12.87Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-runs/createorupdateservermetricsconfig-testrun/server-metrics-config?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "metrics": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "metricNamespace": "microsoft.insights/components",
            "displayDescription": "sample description",
            "name": "requests/duration",
            "aggregation": "Average",
            "unit": "",
            "resourceType": "microsoft.insights/components"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-runs/createorupdateservermetricsconfig-testrun/server-metrics-config?api-version=2024-12-01-preview",
        "mise-correlation-id": "51045ff0-170f-4ee2-854e-be4d365c82d8"
      },
      "ResponseBody": {
        "testRunId": "createorupdateservermetricsconfig-testrun",
        "metrics": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp/providers/microsoft.insights/metricdefinitions/requests/duration",
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "metricNamespace": "microsoft.insights/components",
            "displayDescription": "sample description",
            "name": "requests/duration",
            "aggregation": "Average",
            "unit": "",
            "resourceType": "microsoft.insights/components"
          }
        },
        "createdDateTime": "2025-04-18T06:29:13.17Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T06:29:13.17Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/createorupdateservermetricsconfig-testprofilerun?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "19bd33ca-3d51-4e53-b644-dcc4986c95b9"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-profiles/createorupdateservermetricsconfig-testprofile?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "395e88d8-e8b3-45fb-a17b-c738408b2ff9"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "4105497e-9390-405d-99ac-2fefe76bb082"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
    "RandomSeed": "1096678305"
  }
}
