{
  "Entries": [
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
        "mise-correlation-id": "201d389f-5278-4e42-99a6-3632f84ea278"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "test-from-csharp-sdk-testing-frameworka",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-17T12:45:34.43Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T12:45:34.43Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxqbWV0ZXJUZXN0UGxhbiB2ZXJzaW9uPSIxLjIiIHByb3BlcnRpZXM9IjUuMCIgam[...]
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "70c493dd-87b6-4d15-9a49-23fea9bbe0da"
      },
      "ResponseBody": {
        "url": "https://vlzbccdf32azj0qe1a2g6d0t.z8.blob.storage.azure.net/56036fae-6c66-4f73-8038-bbab8e264160/f0822291-1dfa-4459-a3bf-a2d38b5ed103?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T11%3A49%3A04Z&ske=2025-04-18T20%3A49%3A04Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T12%3A55%3A35Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-17T12:55:35.2020745Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdka?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "test-from-csharp-sdk-testing-frameworka",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdka?api-version=2024-12-01-preview",
        "mise-correlation-id": "a831f0c7-b201-412c-8dc3-34421a37cc51"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://vlzbccdf32azj0qe1a2g6d0t.z8.blob.storage.azure.net/56036fae-6c66-4f73-8038-bbab8e264160/22814813-548f-4ba2-9851-596a1884f454?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T11%3A53%3A21Z&ske=2025-04-18T20%3A53%3A21Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T13%3A46%3A22Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-17T13:46:22.8308657Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://vlzbccdf32azj0qe1a2g6d0t.z8.blob.storage.azure.net/56036fae-6c66-4f73-8038-bbab8e264160/f0822291-1dfa-4459-a3bf-a2d38b5ed103?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T11%3A53%3A21Z&ske=2025-04-18T20%3A53%3A21Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T13%3A46%3A22Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-04-17T13:46:22.8303877Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://vlzbccdf32azj0qe1a2g6d0t.z8.blob.storage.azure.net/56036fae-6c66-4f73-8038-bbab8e264160/11a3d766-27e2-4fc1-a420-9c527ca0b409?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T11%3A53%3A21Z&ske=2025-04-18T20%3A53%3A21Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T13%3A46%3A22Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-17T13:46:22.8310454Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://vlzbccdf32azj0qe1a2g6d0t.z8.blob.storage.azure.net/9a19d05d-6938-4e9c-b5c2-6b7385ef78a8?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T11%3A53%3A21Z&ske=2025-04-18T20%3A53%3A21Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-04-17T12%3A46%3A22Z&se=2025-04-17T13%3A46%3A22Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-04-17T13:46:22.8312199Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "test-run-id-from-csharp-sdka",
        "displayName": "Run created from dotnet testing framework",
        "testId": "test-from-csharp-sdk-testing-frameworka",
        "status": "ACCEPTED",
        "executedDateTime": "2025-04-17T12:46:19.437Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-loadtests/testId/test-from-csharp-sdk-testing-frameworka/testRunId/test-run-id-from-csharp-sdka",
        "createdDateTime": "2025-04-17T12:46:20.709Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T12:46:22.821Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdka/app-components?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "components": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "kind": "web"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdka/app-components?api-version=2024-12-01-preview",
        "mise-correlation-id": "18c8c020-11f3-43fe-abd7-dc67b3d30be6"
      },
      "ResponseBody": {
        "components": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "resourceGroup": "Sanitized",
            "subscriptionId": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
            "kind": "web"
          }
        },
        "testRunId": "test-run-id-from-csharp-sdka",
        "createdDateTime": "2025-04-17T12:46:23.245Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T12:46:23.245Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/test-profile-run-id-from-csharp-sdkapw?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "cfef36c0-1359-4666-8f62-93c44da5b951"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/test-profiles/test-profile-from-csharp-sdk-testinga22?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "5600d5ac-5ffd-42f3-9c8e-cb0726aadd5e"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "d889cea0-22f1-4eec-9df5-c783daa8d38b"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
    "RandomSeed": "2014410732"
  }
}
