{
  "Entries": [
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka?api-version=2025-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka?api-version=2025-11-01-preview",
        "mise-correlation-id": "2eb9ecae-84d2-44b7-bd2d-57fe4954ff3c"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "autoStopCriteria": {
          "autoStopDisabled": false,
          "errorRate": 90.0,
          "errorRateTimeWindowInSeconds": 60,
          "maximumVirtualUsersPerEngine": 5000
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "preferences": {
          "enableAIErrorInsights": true
        },
        "testId": "loadtest-from-csharp-sdka",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2026-03-10T07:53:37.732Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-10T07:53:37.732Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka/files/sample.jmx?api-version=2025-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV0ZXI9IjUuNSI+[...]
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka/files/sample.jmx?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "aec54037-2971-49b6-89c7-bb6fd11f35ef"
      },
      "ResponseBody": {
        "url": "https://jo0mku7m4c7g0td44aohpkkv.z14.blob.storage.azure.net/5e303675-eeb6-4b37-9b87-08ef6ec9e13b/e76690b9-5a14-4aa4-8d22-3350a6c11384?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-10T07%3A12%3A24Z&ske=2026-03-11T16%3A12%3A24Z&sks=b&skv=2025-11-05&sv=Sanitized&se=2026-03-10T08%3A03%3A39Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2026-03-10T08:03:39.5183167Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/test-runs/createorupdateappcomponentsa-testrun?api-version=2025-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "loadtest-from-csharp-sdka",
        "displayName": "Run created from dotnet testing framework"
      },
    [...]
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/test-runs/createorupdateappcomponentsa-testrun?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "dc49feb3-e553-4717-848e-e7c280883719"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "autoStopCriteria": {
          "autoStopDisabled": false,
          "errorRate": 90.0,
          "errorRateTimeWindowInSeconds": 60,
          "maximumVirtualUsersPerEngine": 5000
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://jo0mku7m4c7g0td44aohpkkv.z14.blob.storage.azure.net/5e303675-eeb6-4b37-9b87-08ef6ec9e13b/49cf0e7e-9954-4bcb-86ca-29dd9cc1d7d7?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-10T07%3A27%3A27Z&ske=2026-03-11T16%3A27%3A27Z&sks=b&skv=2025-11-05&sv=Sanitized&se=2026-03-10T08%3A54%3A20Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2026-03-10T08:54:20.7236683Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://jo0mku7m4c7g0td44aohpkkv.z14.blob.storage.azure.net/5e303675-eeb6-4b37-9b87-08ef6ec9e13b/e76690b9-5a14-4aa4-8d22-3350a6c11384?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-10T07%3A27%3A27Z&ske=2026-03-11T16%3A27%3A27Z&sks=b&skv=2025-11-05&sv=Sanitized&se=2026-03-10T08%3A54%3A20Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2026-03-10T08:54:20.7234493Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://jo0mku7m4c7g0td44aohpkkv.z14.blob.storage.azure.net/5e303675-eeb6-4b37-9b87-08ef6ec9e13b/b5d996b2-dafe-42ff-a45a-c85b567723b4?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-10T07%3A27%3A27Z&ske=2026-03-11T16%3A27%3A27Z&sks=b&skv=2025-11-05&sv=Sanitized&se=2026-03-10T08%3A54%3A20Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2026-03-10T08:54:20.7236932Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://jo0mku7m4c7g0td44aohpkkv.z14.blob.storage.azure.net/62fbc394-35cc-4c0b-ad86-9ba3edd0a22e?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-10T07%3A27%3A27Z&ske=2026-03-11T16%3A27%3A27Z&sks=b&skv=2025-11-05&sv=Sanitized&st=2026-03-10T07%3A54%3A20Z&se=2026-03-10T08%3A54%3A20Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2026-03-10T08:54:20.7237153Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "estimatedVirtualUserHours": -1.0,
        "testRunId": "createorupdateappcomponentsa-testrun",
        "displayName": "Run created from dotnet testing framework",
        "testId": "loadtest-from-csharp-sdka",
        "status": "PROVISIONING",
        "startDateTime": "2026-03-10T07:54:20Z",
        "executedDateTime": "2026-03-10T07:54:18.836Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/TestRunReport.ReactView//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-hbishtloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2fta67db578d3583d0a-csharpsdk-loadtests/testId/loadtest-from-csharp-sdka/testRunId/createorupdateappcomponentsa-testrun",
        "createdDateTime": "2026-03-10T07:54:20.005Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-10T07:54:20.682Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/test-runs/createorupdateappcomponentsa-testrun/app-components?api-version=2025-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "components": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "kind": "web"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/test-runs/createorupdateappcomponentsa-testrun/app-components?api-version=2025-11-01-preview",
        "mise-correlation-id": "ec477589-f201-4c86-a3b0-2e6ed57b064b"
      },
      "ResponseBody": {
        "components": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "resourceGroup": "Sanitized",
            "subscriptionId": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
            "kind": "web"
          }
        },
        "testRunId": "createorupdateappcomponentsa-testrun",
        "createdDateTime": "2026-03-10T07:57:16.162Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-10T07:57:16.162Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "mise-correlation-id": "039496ef-c7cb-4d19-b8a6-bf236e475dab"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
    "RandomSeed": "383466457"
  }
}
