{
  "Entries": [
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
        "mise-correlation-id": "6b5dcf0f-471e-4a4a-9da3-755533ffaf67"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "loadtest-from-csharp-sdk",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-05-19T12:41:37.505Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-05-19T12:41:37.505Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV0ZXI9IjUuNS[...]
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "201c8322-a086-4744-922e-a55f1be4ce14"
      },
      "ResponseBody": {
        "url": "https://c7nwmdhl9p537nidj4ihlila.z9.blob.storage.azure.net/6c9194b1-8d57-4d63-afae-d91cf98ca03d/2329e24c-9932-44ae-882f-507a58a1ae40?skoid=71d78b1b-18ed-4c0f-af95-f43461d18dba&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-05-19T11%3A48%3A26Z&ske=2025-05-19T18%3A48%3A26Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-05-19T12%3A51%3A38Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-05-19T12:51:38.185838Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-profiles/deletetestprofilerun-testprofile?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "displayName": "Dotnet Testing Framework TestProfile",
        "description": "This test profile was created through loadtesting C# SDK",
        "testId": "loadtest-from-csharp-sdk",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-profiles/deletetestprofilerun-testprofile?api-version=2024-12-01-preview",
        "mise-correlation-id": "aebdcdb9-c8ca-4ffb-84b8-c7c1f8a13eae"
      },
      "ResponseBody": {
        "testProfileId": "deletetestprofilerun-testprofile",
        "displayName": "Dotnet Testing Framework TestProfile",
        "description": "This test profile was created through loadtesting C# SDK",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "testId": "loadtest-from-csharp-sdk",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        },
        "createdDateTime": "2025-05-19T12:42:10.601Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-05-19T12:42:10.601Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-profile-runs/deletetestprofilerun-testprofilerun?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testProfileId": "deletetestprofilerun-testprofile",
        "displayName": "TestProfileRun created from dotnet test framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-profile-runs/deletetestprofilerun-testprofilerun?api-version=2024-12-01-preview",
        "mise-correlation-id": "eaba46b2-e000-49fe-8736-be1a13d231d1"
      },
      "ResponseBody": {
        "status": "ACCEPTED",
        "targetResourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 20
            }
          }
        },
        "testProfileRunId": "deletetestprofilerun-testprofilerun",
        "testProfileId": "deletetestprofilerun-testprofile",
        "displayName": "TestProfileRun created from dotnet test framework",
        "createdDateTime": "2025-05-19T12:42:14.245Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-05-19T12:42:14.245Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-runs/deletetestprofilerun-testrun?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json",
        "mise-correlation-id": "f7415a0a-66f3-40df-930a-62f255e23008",
        "x-ms-error-code": "TestRunNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "TestRunNotFound",
          "message": "Test run not found with given name \"deletetestprofilerun-testrun\".",
          "target": null,
          "details": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "4beb0157-0742-46ac-a214-8ae55564b72d"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_TARGET_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/nikita-rg/providers/Microsoft.Web/sites/perfOptSampleApp",
    "RandomSeed": "141907860"
  }
}



