{
  "Entries": [
    {
      "RequestUri": "https://fcbe7df5-a0b4-4ae6-8fbd-a5ab3d7f6f5e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://fcbe7df5-a0b4-4ae6-8fbd-a5ab3d7f6f5e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
        "mise-correlation-id": "762f1d70-52ce-4025-8533-4274f35c4cf9"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "test-from-csharp-sdk-testing-framework",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-12T11:00:21.837Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-12T11:00:21.837Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fcbe7df5-a0b4-4ae6-8fbd-a5ab3d7f6f5e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV[...]
    {
      "RequestUri": "https://fcbe7df5-a0b4-4ae6-8fbd-a5ab3d7f6f5e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5c1679a8-fad1-4577-9a8c-558e2106a1ba"
      },
      "ResponseBody": {
        "url": "https://mv4lyhc9kxv367li4rbbe6d8.z22.blob.storage.azure.net/4ab2ed0e-5f18-480d-9255-e3ca6c5a6d62/bb44839d-ef72-4783-b910-d005cd0fae8c?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T10%3A11%3A41Z&ske=2025-04-12T17%3A11%3A41Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T11%3A10%3A22Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-12T11:10:22.8508808Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://fcbe7df5-a0b4-4ae6-8fbd-a5ab3d7f6f5e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "test-from-csharp-sdk-testing-framework",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://fcbe7df5-a0b4-4ae6-8fbd-a5ab3d7f6f5e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
        "mise-correlation-id": "1297874e-92f8-4435-8339-b7967b1ea674"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://mv4lyhc9kxv367li4rbbe6d8.z22.blob.storage.azure.net/4ab2ed0e-5f18-480d-9255-e3ca6c5a6d62/1ceacaa5-39f3-4ffe-bdb1-122423f3d340?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T10%3A53%3A28Z&ske=2025-04-13T19%3A53%3A28Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T12%3A00%3A59Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-12T12:00:59.4985538Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://mv4lyhc9kxv367li4rbbe6d8.z22.blob.storage.azure.net/4ab2ed0e-5f18-480d-9255-e3ca6c5a6d62/bb44839d-ef72-4783-b910-d005cd0fae8c?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T10%3A53%3A28Z&ske=2025-04-13T19%3A53%3A28Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T12%3A00%3A59Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-04-12T12:00:59.4981635Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://mv4lyhc9kxv367li4rbbe6d8.z22.blob.storage.azure.net/4ab2ed0e-5f18-480d-9255-e3ca6c5a6d62/3d669bad-670b-4e2c-88a4-4b64ab32ff29?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T10%3A53%3A28Z&ske=2025-04-13T19%3A53%3A28Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T12%3A00%3A59Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-12T12:00:59.4987245Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://mv4lyhc9kxv367li4rbbe6d8.z22.blob.storage.azure.net/58ad25ad-2fc7-4827-8e10-9de11304282e?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T10%3A53%3A28Z&ske=2025-04-13T19%3A53%3A28Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-04-12T11%3A00%3A59Z&se=2025-04-12T12%3A00%3A59Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-04-12T12:00:59.4988888Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "test-run-id-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework",
        "testId": "test-from-csharp-sdk-testing-framework",
        "status": "ACCEPTED",
        "executedDateTime": "2025-04-12T11:00:56.481Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-loadtests/testId/test-from-csharp-sdk-testing-framework/testRunId/test-run-id-from-csharp-sdk",
        "createdDateTime": "2025-04-12T11:00:58.556Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-12T11:00:59.489Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://fcbe7df5-a0b4-4ae6-8fbd-a5ab3d7f6f5e.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/test-profile-run-id-from-csharp-sdkpw2?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "f2d9e872-8c59-41e8-b44c-5873169baa1d"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fcbe7df5-a0b4-4ae6-8fbd-a5ab3d7f6f5e.eastus.cnt-prod.loadtesting.azure.com/test-profiles/test-profile-from-csharp-sdk-testing222?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "31c8b07b-b787-4a2c-a625-8a55cb867ea8"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fcbe7df5-a0b4-4ae6-8fbd-a5ab3d7f6f5e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "215d88c8-906a-49d7-b8eb-dc51db627468"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "fcbe7df5-a0b4-4ae6-8fbd-a5ab3d7f6f5e.eastus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "1261711911"
  }
}
