{
  "Entries": [
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka?api-version=2024-12-01-preview",
        "mise-correlation-id": "bd419ad7-6592-4e77-9416-f9dbc692d518"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "loadtest-from-csharp-sdka",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-17T17:54:01.684Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T17:54:01.684Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxqbWV0ZXJUZXN0UGxhbiB2ZXJzaW9uPSIxLjIiIHByb3BlcnRpZXM9IjUuMCIgam1ldGVyPSI1LjUi[...]
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3dc12ba3-f5db-4741-a3d4-82bd9c8223ce"
      },
      "ResponseBody": {
        "url": "https://acfcv6myvx7brx03n9ixri93.z21.blob.storage.azure.net/70ef2101-4b93-467c-869f-23aaa2bffa4b/757b4244-cbd2-4ae3-b3e3-2b1838df24b3?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T17%3A02%3A56Z&ske=2025-04-19T02%3A02%3A56Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T18%3A04%3A02Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-17T18:04:02.3962529Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/test-runs/getappcomponentsa-testrun?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "loadtest-from-csharp-sdka",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/test-runs/getappcomponentsa-testrun?api-version=2024-12-01-preview",
        "mise-correlation-id": "f67b55b7-210f-4c68-aa78-0168114ee9b5"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://acfcv6myvx7brx03n9ixri93.z21.blob.storage.azure.net/70ef2101-4b93-467c-869f-23aaa2bffa4b/84341ec2-67dc-4d66-88b2-9b7165803fe0?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T16%3A55%3A06Z&ske=2025-04-19T01%3A55%3A06Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T18%3A54%3A37Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-17T18:54:37.1038198Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://acfcv6myvx7brx03n9ixri93.z21.blob.storage.azure.net/70ef2101-4b93-467c-869f-23aaa2bffa4b/757b4244-cbd2-4ae3-b3e3-2b1838df24b3?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T16%3A55%3A06Z&ske=2025-04-19T01%3A55%3A06Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T18%3A54%3A37Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-04-17T18:54:37.103409Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://acfcv6myvx7brx03n9ixri93.z21.blob.storage.azure.net/70ef2101-4b93-467c-869f-23aaa2bffa4b/fa7cf7cc-8875-43ca-81d2-888af9c23eb9?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T16%3A55%3A06Z&ske=2025-04-19T01%3A55%3A06Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T18%3A54%3A37Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-17T18:54:37.103957Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://acfcv6myvx7brx03n9ixri93.z21.blob.storage.azure.net/06e3d2b7-68b7-45e1-875b-29ef89c97e92?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T16%3A55%3A06Z&ske=2025-04-19T01%3A55%3A06Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-04-17T17%3A54%3A37Z&se=2025-04-17T18%3A54%3A37Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-04-17T18:54:37.1041442Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "getappcomponentsa-testrun",
        "displayName": "Run created from dotnet testing framework",
        "testId": "loadtest-from-csharp-sdka",
        "status": "ACCEPTED",
        "executedDateTime": "2025-04-17T17:54:36.4Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-loadtests/testId/loadtest-from-csharp-sdka/testRunId/getappcomponentsa-testrun",
        "createdDateTime": "2025-04-17T17:54:36.684Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T17:54:37.095Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/test-runs/getappcomponentsa-testrun/app-components?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "components": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "kind": "web"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/test-runs/getappcomponentsa-testrun/app-components?api-version=2024-12-01-preview",
        "mise-correlation-id": "8e0bc4ce-018c-4a4b-9ebe-c9f60780ff42"
      },
      "ResponseBody": {
        "components": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "resourceGroup": "Sanitized",
            "subscriptionId": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
            "kind": "web"
          }
        },
        "testRunId": "getappcomponentsa-testrun",
        "createdDateTime": "2025-04-17T17:54:37.379Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T17:54:37.379Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/getappcomponentsa-testprofilerun?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "da2d5fde-27d3-43cc-85ae-0e1f8fc5d329"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/test-profiles/getappcomponentsa-testprofile?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "8e4984e4-db93-4c24-b62f-963644d19c87"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdka?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "4e0065d9-41c9-469c-9209-301e13f55345"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "4decbbbd-2336-4f94-91a3-5772a560fabc.eastus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
    "RandomSeed": "470522154"
  }
}
