{
  "Entries": [
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
        "mise-correlation-id": "f4e809e2-7334-4df2-b26a-fe321cb830b6"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "test-from-csharp-sdk-testing-framework",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-17T11:55:44.095Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T11:55:44.095Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxqbWV0ZXJUZXN0UGxhbiB2ZXJzaW9uPSIxLjIiIHByb3BlcnRpZXM9IjUuMCIgam1[...]
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b32c1a04-85c4-4288-9f81-3f3c8980acce"
      },
      "ResponseBody": {
        "url": "https://vlzbccdf32azj0qe1a2g6d0t.z8.blob.storage.azure.net/b561d7c7-b333-4fde-ac55-307d5ebd8c1a/a76ddf02-026e-4171-9ccc-60f35f2a4996?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T11%3A54%3A06Z&ske=2025-04-18T20%3A54%3A06Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T12%3A05%3A45Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-17T12:05:45.5396074Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "test-from-csharp-sdk-testing-framework",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
        "mise-correlation-id": "5480215d-bdc8-4bfc-9564-ba81aff6a2ab"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://vlzbccdf32azj0qe1a2g6d0t.z8.blob.storage.azure.net/b561d7c7-b333-4fde-ac55-307d5ebd8c1a/b6e08102-af1d-4290-bc13-17af0b1e67af?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T11%3A54%3A06Z&ske=2025-04-18T20%3A54%3A06Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T12%3A56%3A17Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-17T12:56:17.8117232Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://vlzbccdf32azj0qe1a2g6d0t.z8.blob.storage.azure.net/b561d7c7-b333-4fde-ac55-307d5ebd8c1a/a76ddf02-026e-4171-9ccc-60f35f2a4996?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T11%3A54%3A06Z&ske=2025-04-18T20%3A54%3A06Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T12%3A56%3A17Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-04-17T12:56:17.8111299Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://vlzbccdf32azj0qe1a2g6d0t.z8.blob.storage.azure.net/b561d7c7-b333-4fde-ac55-307d5ebd8c1a/1c09c518-b252-4824-a857-3d8a19183979?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T11%3A54%3A06Z&ske=2025-04-18T20%3A54%3A06Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T12%3A56%3A17Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-17T12:56:17.8120119Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://vlzbccdf32azj0qe1a2g6d0t.z8.blob.storage.azure.net/57d550a3-46d7-440f-988f-18d3f4d3d14e?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T11%3A54%3A06Z&ske=2025-04-18T20%3A54%3A06Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-04-17T11%3A56%3A17Z&se=2025-04-17T12%3A56%3A17Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-04-17T12:56:17.8123677Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "test-run-id-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework",
        "testId": "test-from-csharp-sdk-testing-framework",
        "status": "ACCEPTED",
        "executedDateTime": "2025-04-17T11:56:16.127Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-loadtests/testId/test-from-csharp-sdk-testing-framework/testRunId/test-run-id-from-csharp-sdk",
        "createdDateTime": "2025-04-17T11:56:16.588Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T11:56:17.802Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk/app-components?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "components": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "kind": "web"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk/app-components?api-version=2024-12-01-preview",
        "mise-correlation-id": "82fdca70-59cd-48e0-9465-fab15ef3a710"
      },
      "ResponseBody": {
        "components": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "resourceName": "App-Service-Sample-Demo",
            "resourceType": "Microsoft.Web/sites",
            "resourceGroup": "Sanitized",
            "subscriptionId": "7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a",
            "kind": "web"
          }
        },
        "testRunId": "test-run-id-from-csharp-sdk",
        "createdDateTime": "2025-04-17T11:56:18.13Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T11:56:18.13Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/test-profile-run-id-from-csharp-sdkpw2?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "fa7abf23-6c83-438c-be1a-935ad0931930"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/test-profiles/test-profile-from-csharp-sdk-testing222?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "b0aee5b7-00e2-4021-bbd7-fb3a15d08ec8"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "0a18a3b0-26dc-427a-a3f0-3e37db9d97ea"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
    "RandomSeed": "574755893"
  }
}
