{
  "Entries": [
    {
      "RequestUri": "https://fcbe7df5-a0b4-4ae6-8fbd-a5ab3d7f6f5e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://fcbe7df5-a0b4-4ae6-8fbd-a5ab3d7f6f5e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
        "mise-correlation-id": "df743640-7e38-4fbf-99ea-ef9b8dd890d2"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "test-from-csharp-sdk-testing-framework",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-12T11:01:54.712Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-12T11:01:54.712Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fcbe7df5-a0b4-4ae6-8fbd-a5ab3d7f6f5e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV[...]
    {
      "RequestUri": "https://fcbe7df5-a0b4-4ae6-8fbd-a5ab3d7f6f5e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b468b56d-c0df-4b0c-a1dd-4f62081909e6"
      },
      "ResponseBody": {
        "url": "https://mv4lyhc9kxv367li4rbbe6d8.z22.blob.storage.azure.net/a550282a-23c4-4301-85ba-69e02c4f4159/24d8ef27-13ac-4a11-8e33-3ff5171e01e8?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T10%3A53%3A28Z&ske=2025-04-13T19%3A53%3A28Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T11%3A11%3A56Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-12T11:11:56.4166975Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://fcbe7df5-a0b4-4ae6-8fbd-a5ab3d7f6f5e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "test-from-csharp-sdk-testing-framework",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://fcbe7df5-a0b4-4ae6-8fbd-a5ab3d7f6f5e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
        "mise-correlation-id": "de20c262-aae2-4375-942a-94944c60a6c2"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://mv4lyhc9kxv367li4rbbe6d8.z22.blob.storage.azure.net/a550282a-23c4-4301-85ba-69e02c4f4159/66b4d2b8-13da-4c8b-aa13-382eb9508878?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T11%3A02%3A32Z&ske=2025-04-13T20%3A02%3A32Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T12%3A02%3A32Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-12T12:02:32.3527334Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://mv4lyhc9kxv367li4rbbe6d8.z22.blob.storage.azure.net/a550282a-23c4-4301-85ba-69e02c4f4159/24d8ef27-13ac-4a11-8e33-3ff5171e01e8?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T11%3A02%3A32Z&ske=2025-04-13T20%3A02%3A32Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T12%3A02%3A32Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-04-12T12:02:32.352275Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://mv4lyhc9kxv367li4rbbe6d8.z22.blob.storage.azure.net/a550282a-23c4-4301-85ba-69e02c4f4159/ff125b17-39a2-4aed-9f36-1f41cc94817b?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T11%3A02%3A32Z&ske=2025-04-13T20%3A02%3A32Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T12%3A02%3A32Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-12T12:02:32.3528713Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://mv4lyhc9kxv367li4rbbe6d8.z22.blob.storage.azure.net/a357e41a-a2c0-4ef2-a4c3-16d802f1786b?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T11%3A02%3A32Z&ske=2025-04-13T20%3A02%3A32Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-04-12T11%3A02%3A32Z&se=2025-04-12T12%3A02%3A32Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-04-12T12:02:32.3530485Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "test-run-id-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework",
        "testId": "test-from-csharp-sdk-testing-framework",
        "status": "ACCEPTED",
        "executedDateTime": "2025-04-12T11:02:30.16Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-loadtests/testId/test-from-csharp-sdk-testing-framework/testRunId/test-run-id-from-csharp-sdk",
        "createdDateTime": "2025-04-12T11:02:30.438Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-12T11:02:32.344Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
