{
  "Entries": [
    {
      "RequestUri": "https://0d56292a-7668-4a78-bc47-9e600e3b955e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://0d56292a-7668-4a78-bc47-9e600e3b955e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka?api-version=2024-12-01-preview",
        "mise-correlation-id": "66db3b56-3ebc-4f30-a6e8-56d171790dd4"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "test-from-csharp-sdk-testing-frameworka",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-15T08:08:39.295Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-15T08:08:39.295Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://0d56292a-7668-4a78-bc47-9e600e3b955e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbW[...]
    {
      "RequestUri": "https://0d56292a-7668-4a78-bc47-9e600e3b955e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-frameworka/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fb0386b7-c08d-4e69-a690-d19070ef7a51"
      },
      "ResponseBody": {
        "url": "https://k024o419r0k2koox8gigaqsb.z35.blob.storage.azure.net/2dc76f5d-086d-4f38-865c-a457e3e2a754/f10fd5a0-270f-47fd-a3f6-888edf13c383?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-15T07%3A58%3A02Z&ske=2025-04-16T16%3A58%3A02Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-15T08%3A18%3A40Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-15T08:18:40.052702Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://0d56292a-7668-4a78-bc47-9e600e3b955e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdka?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "test-from-csharp-sdk-testing-frameworka",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://0d56292a-7668-4a78-bc47-9e600e3b955e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdka?api-version=2024-12-01-preview",
        "mise-correlation-id": "6dd7ad81-e76b-4a3e-92d2-350d0a48bf87"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://k024o419r0k2koox8gigaqsb.z35.blob.storage.azure.net/2dc76f5d-086d-4f38-865c-a457e3e2a754/133c7aa0-8bbb-4569-b8a1-f471174f6dd4?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-15T07%3A58%3A02Z&ske=2025-04-16T16%3A58%3A02Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-15T09%3A09%3A16Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-15T09:09:16.4463571Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://k024o419r0k2koox8gigaqsb.z35.blob.storage.azure.net/2dc76f5d-086d-4f38-865c-a457e3e2a754/f10fd5a0-270f-47fd-a3f6-888edf13c383?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-15T07%3A58%3A02Z&ske=2025-04-16T16%3A58%3A02Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-15T09%3A09%3A16Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-04-15T09:09:16.4460811Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://k024o419r0k2koox8gigaqsb.z35.blob.storage.azure.net/2dc76f5d-086d-4f38-865c-a457e3e2a754/64fb2c86-e341-4fdc-979c-6bd58f4bb0ec?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-15T07%3A58%3A02Z&ske=2025-04-16T16%3A58%3A02Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-15T09%3A09%3A16Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-15T09:09:16.446444Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://k024o419r0k2koox8gigaqsb.z35.blob.storage.azure.net/da7e0da9-c37a-4aa2-9225-efeae7484269?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-15T07%3A58%3A02Z&ske=2025-04-16T16%3A58%3A02Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-04-15T08%3A09%3A16Z&se=2025-04-15T09%3A09%3A16Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-04-15T09:09:16.4465393Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "test-run-id-from-csharp-sdka",
        "displayName": "Run created from dotnet testing framework",
        "testId": "test-from-csharp-sdk-testing-frameworka",
        "status": "ACCEPTED",
        "executedDateTime": "2025-04-15T08:09:14.033Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-loadtests/testId/test-from-csharp-sdk-testing-frameworka/testRunId/test-run-id-from-csharp-sdka",
        "createdDateTime": "2025-04-15T08:09:15.951Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-15T08:09:16.437Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
