{
  "Entries": [
    {
      "RequestUri": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
        "mise-correlation-id": "f7e8704e-73d8-4cc0-8fda-61facfa120d0"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "test-from-csharp-sdk-testing-framework",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-15T05:57:42.608Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-15T05:57:42.608Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV[...]
    {
      "RequestUri": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1bb4cc63-18bb-4ff1-82f9-279f586dfe22"
      },
      "ResponseBody": {
        "url": "https://fy8nk3izpjfxxul0f02l2mp1.z20.blob.storage.azure.net/ce9c4765-d4cb-4808-ad38-e2f722e1af1f/ea44a9c0-71fe-420e-8842-9ef770ef5f66?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-15T05%3A56%3A51Z&ske=2025-04-16T14%3A56%3A51Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-15T06%3A07%3A43Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-15T06:07:43.8160319Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "test-from-csharp-sdk-testing-framework",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://e7b20814-8fea-4ca4-9845-7dd37a0b884a.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
        "mise-correlation-id": "517b5df7-2210-4575-82c7-e81c2c3c21a0"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://fy8nk3izpjfxxul0f02l2mp1.z20.blob.storage.azure.net/ce9c4765-d4cb-4808-ad38-e2f722e1af1f/3cb91147-3dbc-4d95-9701-d7b2a19f5189?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-15T05%3A45%3A18Z&ske=2025-04-16T14%3A45%3A18Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-15T06%3A58%3A26Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-15T06:58:26.0796399Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://fy8nk3izpjfxxul0f02l2mp1.z20.blob.storage.azure.net/ce9c4765-d4cb-4808-ad38-e2f722e1af1f/ea44a9c0-71fe-420e-8842-9ef770ef5f66?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-15T05%3A45%3A18Z&ske=2025-04-16T14%3A45%3A18Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-15T06%3A58%3A26Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-04-15T06:58:26.0793372Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://fy8nk3izpjfxxul0f02l2mp1.z20.blob.storage.azure.net/ce9c4765-d4cb-4808-ad38-e2f722e1af1f/38c6c16f-191e-4280-bb53-9bf5ce9d6605?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-15T05%3A45%3A18Z&ske=2025-04-16T14%3A45%3A18Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-15T06%3A58%3A26Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-15T06:58:26.0797451Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://fy8nk3izpjfxxul0f02l2mp1.z20.blob.storage.azure.net/570e18ce-f642-411e-8629-b6ae0d93e238?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-15T05%3A45%3A18Z&ske=2025-04-16T14%3A45%3A18Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-04-15T05%3A58%3A26Z&se=2025-04-15T06%3A58%3A26Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-04-15T06:58:26.079845Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "test-run-id-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework",
        "testId": "test-from-csharp-sdk-testing-framework",
        "status": "ACCEPTED",
        "executedDateTime": "2025-04-15T05:58:22.821Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-loadtests/testId/test-from-csharp-sdk-testing-framework/testRunId/test-run-id-from-csharp-sdk",
        "createdDateTime": "2025-04-15T05:58:25.675Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-15T05:58:26.066Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
