{
  "Entries": [
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
        "mise-correlation-id": "dd80011e-6137-46f2-b781-622599607e02"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "test-from-csharp-sdk-testing-framework",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-17T12:00:30.232Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T12:00:30.232Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxqbWV0ZXJUZXN0UGxhbiB2ZXJzaW9uPSIxLjIiIHByb3BlcnRpZXM9IjUuMCIgam1[...]
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "632b1bdd-c074-4840-9261-2dc99eac20e1"
      },
      "ResponseBody": {
        "url": "https://vlzbccdf32azj0qe1a2g6d0t.z8.blob.storage.azure.net/7eb0f3bc-c8f3-49a3-a913-9714351644ae/13bad160-bb8b-4f8c-9881-cbf937cab53b?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T11%3A49%3A04Z&ske=2025-04-18T20%3A49%3A04Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T12%3A10%3A32Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-17T12:10:32.0323616Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "test-from-csharp-sdk-testing-framework",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
        "mise-correlation-id": "eb4e00be-0ecb-491d-acda-1a27c1843579"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://vlzbccdf32azj0qe1a2g6d0t.z8.blob.storage.azure.net/7eb0f3bc-c8f3-49a3-a913-9714351644ae/a45d2380-c3bd-4510-9792-f8ff5c183978?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T11%3A53%3A21Z&ske=2025-04-18T20%3A53%3A21Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T13%3A01%3A03Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-17T13:01:03.8646277Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://vlzbccdf32azj0qe1a2g6d0t.z8.blob.storage.azure.net/7eb0f3bc-c8f3-49a3-a913-9714351644ae/13bad160-bb8b-4f8c-9881-cbf937cab53b?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T11%3A53%3A21Z&ske=2025-04-18T20%3A53%3A21Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T13%3A01%3A03Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-04-17T13:01:03.8642543Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://vlzbccdf32azj0qe1a2g6d0t.z8.blob.storage.azure.net/7eb0f3bc-c8f3-49a3-a913-9714351644ae/15b35a85-97e0-4876-98f5-4c0d1a1f48de?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T11%3A53%3A21Z&ske=2025-04-18T20%3A53%3A21Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-17T13%3A01%3A03Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-17T13:01:03.8647941Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://vlzbccdf32azj0qe1a2g6d0t.z8.blob.storage.azure.net/6abcba94-96c5-45ad-8872-cec659504b44?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-17T11%3A53%3A21Z&ske=2025-04-18T20%3A53%3A21Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-04-17T12%3A01%3A03Z&se=2025-04-17T13%3A01%3A03Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-04-17T13:01:03.8649344Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "test-run-id-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework",
        "testId": "test-from-csharp-sdk-testing-framework",
        "status": "ACCEPTED",
        "executedDateTime": "2025-04-17T12:01:00.268Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-loadtests/testId/test-from-csharp-sdk-testing-framework/testRunId/test-run-id-from-csharp-sdk",
        "createdDateTime": "2025-04-17T12:01:01.636Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T12:01:03.855Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk/server-metrics-config?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "metrics": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "metricNamespace": "microsoft.insights/components",
            "displayDescription": "sample description",
            "name": "requests/duration",
            "aggregation": "Average",
            "unit": "",
            "resourceType": "microsoft.insights/components"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk/server-metrics-config?api-version=2024-12-01-preview",
        "mise-correlation-id": "b43bd87b-9cb4-43f6-bd94-33f06acf169c"
      },
      "ResponseBody": {
        "testRunId": "test-run-id-from-csharp-sdk",
        "metrics": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp/providers/microsoft.insights/metricdefinitions/requests/duration",
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "metricNamespace": "microsoft.insights/components",
            "displayDescription": "sample description",
            "name": "requests/duration",
            "aggregation": "Average",
            "unit": "",
            "resourceType": "microsoft.insights/components"
          }
        },
        "createdDateTime": "2025-04-17T12:01:04.159Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-17T12:01:04.159Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/test-profile-run-id-from-csharp-sdkpw2?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "fb20a3c3-2a78-4b38-b1c1-479c3bb26ceb"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/test-profiles/test-profile-from-csharp-sdk-testing222?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "580d8f37-facc-4446-aec3-e9bbd4ff523c"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "2435b4d6-461c-44b0-be39-8719100e247d"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "40b1a7ad-6722-4402-9df7-684a53fff1e9.eastus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
    "RandomSeed": "282661524"
  }
}
