{
  "Entries": [
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
        "mise-correlation-id": "4a8c7b3f-7c79-41f1-9938-34dbb3591033"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "loadtest-from-csharp-sdk",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-18T06:35:23.648Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T06:35:23.648Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV0ZXI9IjUuNSI+C[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bf53b50d-e40b-4887-aff0-7616c6390e10"
      },
      "ResponseBody": {
        "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/7d87ac02-4122-4531-839a-b42d9e4cefe8/25da3f31-69f6-4174-a269-0838f3fd0224?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A20%3A25Z&ske=2025-04-19T15%3A20%3A25Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-18T06%3A45%3A25Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-18T06:45:25.2877912Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-runs/getservermetricsconfig-testrun?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "loadtest-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-runs/getservermetricsconfig-testrun?api-version=2024-12-01-preview",
        "mise-correlation-id": "edd9fdb6-3079-4cd7-8628-ef0c567da3c0"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/7d87ac02-4122-4531-839a-b42d9e4cefe8/9f482775-bc1a-439d-bb61-5dc88556a267?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A30%3A41Z&ske=2025-04-19T15%3A30%3A41Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-18T07%3A36%3A00Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-18T07:36:00.7133406Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/7d87ac02-4122-4531-839a-b42d9e4cefe8/25da3f31-69f6-4174-a269-0838f3fd0224?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A30%3A41Z&ske=2025-04-19T15%3A30%3A41Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-18T07%3A36%3A00Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-04-18T07:36:00.712948Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/7d87ac02-4122-4531-839a-b42d9e4cefe8/1f4ffbf7-14df-4690-878e-9f4e5341b931?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A30%3A41Z&ske=2025-04-19T15%3A30%3A41Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-18T07%3A36%3A00Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-18T07:36:00.7134687Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/fd11e48f-af13-4180-aa42-6d77ada6dfea?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A30%3A41Z&ske=2025-04-19T15%3A30%3A41Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-04-18T06%3A36%3A00Z&se=2025-04-18T07%3A36%3A00Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-04-18T07:36:00.7136182Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "getservermetricsconfig-testrun",
        "displayName": "Run created from dotnet testing framework",
        "testId": "loadtest-from-csharp-sdk",
        "status": "ACCEPTED",
        "executedDateTime": "2025-04-18T06:35:58.853Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-loadtests/testId/loadtest-from-csharp-sdk/testRunId/getservermetricsconfig-testrun",
        "createdDateTime": "2025-04-18T06:36:00.266Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T06:36:00.704Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-runs/getservermetricsconfig-testrun/server-metrics-config?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "metrics": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "metricNamespace": "microsoft.insights/components",
            "displayDescription": "sample description",
            "name": "requests/duration",
            "aggregation": "Average",
            "unit": "",
            "resourceType": "microsoft.insights/components"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-runs/getservermetricsconfig-testrun/server-metrics-config?api-version=2024-12-01-preview",
        "mise-correlation-id": "4e3edd7e-dd33-4f13-abbd-2819ddd54582"
      },
      "ResponseBody": {
        "testRunId": "getservermetricsconfig-testrun",
        "metrics": {
          "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp": {
            "id": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp/providers/microsoft.insights/metricdefinitions/requests/duration",
            "resourceId": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
            "metricNamespace": "microsoft.insights/components",
            "displayDescription": "sample description",
            "name": "requests/duration",
            "aggregation": "Average",
            "unit": "",
            "resourceType": "microsoft.insights/components"
          }
        },
        "createdDateTime": "2025-04-18T06:36:01.004Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T06:36:01.004Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/getservermetricsconfig-testprofilerun?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "4a08ad47-151d-4298-9844-2dff6dc18a67"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-profiles/getservermetricsconfig-testprofile?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "3d8bb8ab-a32a-4318-b05c-d23a621aa5f3"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "c17c5cb1-fb7b-4fee-9710-94a24b2e5889"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com",
    "LOADTESTSERVICE_RESOURCE_ID": "/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/contoso-sampleapp-rg/providers/Microsoft.Web/sites/contoso-sampleapp",
    "RandomSeed": "587573596"
  }
}
