{
  "Entries": [
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2025-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2025-11-01-preview",
        "mise-correlation-id": "e9561276-7f0a-4834-ae03-c7eb9d002d5e"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "autoStopCriteria": {
          "autoStopDisabled": false,
          "errorRate": 90.0,
          "errorRateTimeWindowInSeconds": 60,
          "maximumVirtualUsersPerEngine": 5000
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "preferences": {
          "enableAIErrorInsights": true
        },
        "testId": "loadtest-from-csharp-sdk",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2026-03-10T07:37:52.952Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-10T07:37:52.952Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2025-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV0ZXI9IjUuNSI+C[...]
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "59f3fb4c-3352-47f5-89e0-ccf44dcca3d3"
      },
      "ResponseBody": {
        "url": "https://jo0mku7m4c7g0td44aohpkkv.z14.blob.storage.azure.net/828ae2e2-b0e8-4a2a-a5c2-380ea93eb27c/6658e8aa-6f66-4fe6-850e-a6ab21c2fae4?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-10T07%3A04%3A52Z&ske=2026-03-11T16%3A04%3A52Z&sks=b&skv=2025-11-05&sv=Sanitized&se=2026-03-10T07%3A47%3A53Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2026-03-10T07:47:53.8558337Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/test-runs/gettestrunfile-testrun?api-version=2025-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "loadtest-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode":[...]
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/test-runs/gettestrunfile-testrun?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fe502289-f08a-4cef-b69e-7cce71b269ae"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "autoStopCriteria": {
          "autoStopDisabled": false,
          "errorRate": 90.0,
          "errorRateTimeWindowInSeconds": 60,
          "maximumVirtualUsersPerEngine": 5000
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://jo0mku7m4c7g0td44aohpkkv.z14.blob.storage.azure.net/828ae2e2-b0e8-4a2a-a5c2-380ea93eb27c/dbf71a7b-9471-406e-8bbe-dc3096133b57?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-10T07%3A12%3A24Z&ske=2026-03-11T16%3A12%3A24Z&sks=b&skv=2025-11-05&sv=Sanitized&se=2026-03-10T08%3A38%3A30Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2026-03-10T08:38:30.6499829Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://jo0mku7m4c7g0td44aohpkkv.z14.blob.storage.azure.net/828ae2e2-b0e8-4a2a-a5c2-380ea93eb27c/6658e8aa-6f66-4fe6-850e-a6ab21c2fae4?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-10T07%3A12%3A24Z&ske=2026-03-11T16%3A12%3A24Z&sks=b&skv=2025-11-05&sv=Sanitized&se=2026-03-10T08%3A38%3A30Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2026-03-10T08:38:30.64983Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://jo0mku7m4c7g0td44aohpkkv.z14.blob.storage.azure.net/828ae2e2-b0e8-4a2a-a5c2-380ea93eb27c/b14f290a-736e-43a5-8ceb-4565ecdcc498?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-10T07%3A12%3A24Z&ske=2026-03-11T16%3A12%3A24Z&sks=b&skv=2025-11-05&sv=Sanitized&se=2026-03-10T08%3A38%3A30Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2026-03-10T08:38:30.6500157Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://jo0mku7m4c7g0td44aohpkkv.z14.blob.storage.azure.net/1092574d-b7c2-4878-b57e-bef71627e169?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-10T07%3A12%3A24Z&ske=2026-03-11T16%3A12%3A24Z&sks=b&skv=2025-11-05&sv=Sanitized&st=2026-03-10T07%3A38%3A30Z&se=2026-03-10T08%3A38%3A30Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2026-03-10T08:38:30.6500438Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "estimatedVirtualUserHours": 2.0,
        "testRunId": "gettestrunfile-testrun",
        "displayName": "Run created from dotnet testing framework",
        "testId": "loadtest-from-csharp-sdk",
        "status": "PROVISIONING",
        "startDateTime": "2026-03-10T07:38:30Z",
        "executedDateTime": "2026-03-10T07:38:28.499Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/TestRunReport.ReactView//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-hbishtloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2fta67db578d3583d0a-csharpsdk-loadtests/testId/loadtest-from-csharp-sdk/testRunId/gettestrunfile-testrun",
        "createdDateTime": "2026-03-10T07:38:28.871Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-10T07:38:30.473Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/test-runs/gettestrunfile-testrun/files/sample.jmx?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0245b0b7-9510-4d95-91e1-cbb526abb4a0"
      },
      "ResponseBody": {
        "url": "https://jo0mku7m4c7g0td44aohpkkv.z14.blob.storage.azure.net/828ae2e2-b0e8-4a2a-a5c2-380ea93eb27c/6658e8aa-6f66-4fe6-850e-a6ab21c2fae4?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-10T07%3A00%3A53Z&ske=2026-03-11T16%3A00%3A53Z&sks=b&skv=2025-11-05&sv=Sanitized&se=2026-03-10T07%3A51%3A20Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2026-03-10T07:51:20.6492683Z",
        "validationStatus": "VALIDATION_SUCCESS"
      }
    },
[...]
    {
      "RequestUri": "https://0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2025-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "mise-correlation-id": "24f9b70e-58f7-4c1d-9e23-daad41e00d20"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "0a62dfa4-c48c-416e-ae62-4fbf67e401f0.eastus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "2145094162"
  }
}
