{
  "Entries": [
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
        "mise-correlation-id": "9ff6d8bb-63da-4641-93c9-f4ccdc10316f"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "test-from-csharp-sdk-testing-framework",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-12T12:16:29.876Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-12T12:16:29.876Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV[...]
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d3d06768-e6fe-4baf-a422-287c232f9843"
      },
      "ResponseBody": {
        "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/54faf191-8771-45d8-9acb-abd423da1772/4f146536-bbe0-46c5-beb1-1d8c02dda2c5?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T12%3A14%3A40Z&ske=2025-04-13T21%3A14%3A40Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T12%3A26%3A30Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-12T12:26:30.5057171Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "test-from-csharp-sdk-testing-framework",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
        "mise-correlation-id": "c78dabef-1362-445f-a735-e29bf4640f20"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/54faf191-8771-45d8-9acb-abd423da1772/b8532636-be42-4beb-8f5c-ac7077b7c13f?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T11%3A56%3A34Z&ske=2025-04-13T20%3A56%3A34Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T13%3A17%3A07Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-12T13:17:07.3545017Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/54faf191-8771-45d8-9acb-abd423da1772/4f146536-bbe0-46c5-beb1-1d8c02dda2c5?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T11%3A56%3A34Z&ske=2025-04-13T20%3A56%3A34Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T13%3A17%3A07Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-04-12T13:17:07.354069Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/54faf191-8771-45d8-9acb-abd423da1772/fb78545a-743e-4099-8784-95979dccff16?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T11%3A56%3A34Z&ske=2025-04-13T20%3A56%3A34Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T13%3A17%3A07Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-12T13:17:07.3546928Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/e1245423-a041-4227-83c5-42b63f967938?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T11%3A56%3A34Z&ske=2025-04-13T20%3A56%3A34Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-04-12T12%3A17%3A07Z&se=2025-04-12T13%3A17%3A07Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-04-12T13:17:07.3548705Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "test-run-id-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework",
        "testId": "test-from-csharp-sdk-testing-framework",
        "status": "ACCEPTED",
        "executedDateTime": "2025-04-12T12:17:04.028Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-loadtests/testId/test-from-csharp-sdk-testing-framework/testRunId/test-run-id-from-csharp-sdk",
        "createdDateTime": "2025-04-12T12:17:06.946Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-12T12:17:07.343Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2d60aa68-3d6f-485e-8bb6-e804b93e7649"
      },
      "ResponseBody": {
        "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/54faf191-8771-45d8-9acb-abd423da1772/4f146536-bbe0-46c5-beb1-1d8c02dda2c5?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T12%3A06%3A51Z&ske=2025-04-13T21%3A06%3A51Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T12%3A27%3A07Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-12T12:27:07.6495324Z",
        "validationStatus": "VALIDATION_SUCCESS"
      }
    },
[...]
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/test-profile-run-id-from-csharp-sdkpw22?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "64248607-47d2-4c58-a0b1-ef37c51b18a4"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/test-profiles/test-profile-from-csharp-sdk-testing2222?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "a65835c9-15b7-447f-a3e9-f2a5d666721e"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "0dc9bff6-a68c-4a0f-9873-599a2d398209"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "875212196"
  }
}
