{
  "Entries": [
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
        "mise-correlation-id": "50873df9-f331-4ce2-9fe1-04e3eabb617e"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "test-from-csharp-sdk-testing-framework",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-12T12:15:42.672Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-12T12:15:42.672Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV[...]
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "259106e0-5515-4134-a1c0-deb1d7f1425a"
      },
      "ResponseBody": {
        "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/f1f8fd76-68b8-48fa-8e1b-80e580caa0e9/30c2d265-6873-4d0b-b6f4-2443a5467799?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T12%3A01%3A07Z&ske=2025-04-13T21%3A01%3A07Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T12%3A25%3A44Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-12T12:25:44.0511402Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "test-from-csharp-sdk-testing-framework",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
        "mise-correlation-id": "8fe1fd6e-7b74-4f41-a157-bccd48c30e21"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/f1f8fd76-68b8-48fa-8e1b-80e580caa0e9/a8dfd80e-f9cf-4de4-8c2b-0e799a61f9a5?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T12%3A06%3A51Z&ske=2025-04-13T21%3A06%3A51Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T13%3A16%3A23Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-12T13:16:23.3700555Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/f1f8fd76-68b8-48fa-8e1b-80e580caa0e9/30c2d265-6873-4d0b-b6f4-2443a5467799?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T12%3A06%3A51Z&ske=2025-04-13T21%3A06%3A51Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T13%3A16%3A23Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-04-12T13:16:23.3696467Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/f1f8fd76-68b8-48fa-8e1b-80e580caa0e9/386514c2-e95f-43d0-9fcf-44c1e3a56e6b?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T12%3A06%3A51Z&ske=2025-04-13T21%3A06%3A51Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T13%3A16%3A23Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-12T13:16:23.3702357Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/d5818867-90b0-4ace-a584-e4b94ede931a?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T12%3A06%3A51Z&ske=2025-04-13T21%3A06%3A51Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-04-12T12%3A16%3A23Z&se=2025-04-12T13%3A16%3A23Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-04-12T13:16:23.3703845Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "test-run-id-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework",
        "testId": "test-from-csharp-sdk-testing-framework",
        "status": "ACCEPTED",
        "executedDateTime": "2025-04-12T12:16:22.743Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-loadtests/testId/test-from-csharp-sdk-testing-framework/testRunId/test-run-id-from-csharp-sdk",
        "createdDateTime": "2025-04-12T12:16:23.004Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-12T12:16:23.36Z",
        "lastModifiedBy": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/test-profile-run-id-from-csharp-sdkpw22?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "13a73329-3198-4d75-8e07-111bf380682f"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/test-profiles/test-profile-from-csharp-sdk-testing2222?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "0e5befd0-3315-4581-8607-d892e27093e4"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "d0742b35-781c-4ff4-bdca-c88112d0f0a4"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "113939904"
  }
}
