{
  "Entries": [
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
        "mise-correlation-id": "6c88edcd-49da-4dad-b14f-5faf8705209e"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "test-from-csharp-sdk-testing-framework",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-12T12:17:58.159Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-12T12:17:58.159Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV[...]
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bd3f4091-b0a9-4217-aaf9-19b1af335bd9"
      },
      "ResponseBody": {
        "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/414a525e-1e38-46c2-8bae-fa2549b2a501/56a89774-6ae6-451d-9be2-9b40a6a21370?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T12%3A06%3A51Z&ske=2025-04-13T21%3A06%3A51Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T12%3A28%3A01Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-12T12:28:01.408867Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "test-from-csharp-sdk-testing-framework",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/test-runs/test-run-id-from-csharp-sdk?api-version=2024-12-01-preview",
        "mise-correlation-id": "74cbe56a-7742-4a3d-ae8e-06d2fa577788"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/414a525e-1e38-46c2-8bae-fa2549b2a501/bdee372c-0f82-4834-8a36-a129883e8a09?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T12%3A10%3A06Z&ske=2025-04-13T21%3A10%3A06Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T13%3A18%3A43Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-12T13:18:43.3208422Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/414a525e-1e38-46c2-8bae-fa2549b2a501/56a89774-6ae6-451d-9be2-9b40a6a21370?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T12%3A10%3A06Z&ske=2025-04-13T21%3A10%3A06Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T13%3A18%3A43Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-04-12T13:18:43.3200356Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/414a525e-1e38-46c2-8bae-fa2549b2a501/1903ea4b-7704-4f0c-ace3-3f81a080b7bd?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T12%3A10%3A06Z&ske=2025-04-13T21%3A10%3A06Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-12T13%3A18%3A43Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-12T13:18:43.3214462Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/cd4ad1d7-0e9a-4a03-aa9b-7f6ac6260e58?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-12T12%3A10%3A06Z&ske=2025-04-13T21%3A10%3A06Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-04-12T12%3A18%3A43Z&se=2025-04-12T13%3A18%3A43Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-04-12T13:18:43.3218744Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "test-run-id-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework",
        "testId": "test-from-csharp-sdk-testing-framework",
        "status": "ACCEPTED",
        "executedDateTime": "2025-04-12T12:18:40.711Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-loadtests/testId/test-from-csharp-sdk-testing-framework/testRunId/test-run-id-from-csharp-sdk",
        "createdDateTime": "2025-04-12T12:18:42.901Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-12T12:18:43.311Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/test-runs?api-version=2024-12-01-preview&maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e5f8eb41-f921-4053-87f9-97d3f6805477"
      },
      "ResponseBody": {
        "value": [
          {
            "passFailCriteria": {
              "passFailMetrics": {},
              "passFailServerMetrics": {}
            },
            "loadTestConfiguration": {
              "engineInstances": 1,
              "splitAllCSVs": false,
              "quickStartTest": false
            },
            "testArtifacts": {
              "inputArtifacts": {
                "configFileInfo": {
                  "url": "https://qxq32vzt8qk5usjf2q9n2o20.z2.blob.storage.azure.net/414a52[...]
[...]
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/test-profile-run-id-from-csharp-sdkpw222?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "5ced2ef4-95d0-4ebb-a10f-a9fcb50ba51c"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/test-profiles/test-profile-from-csharp-sdk-testing22222?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "f2f0d452-dc15-433c-9730-ff182277ffce"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com/tests/test-from-csharp-sdk-testing-framework?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "a60e1aa0-ce26-4f7e-a20f-621ecd8b3f85"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "08e9fd67-8b7c-4f8e-b953-680f05465e0e.eastus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "2143974226"
  }
}
