{
  "Entries": [
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
        "mise-correlation-id": "c5eba99b-0e64-4d02-bb32-f3a62c10a956"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "loadtest-from-csharp-sdk",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-18T06:39:12.758Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T06:39:12.758Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV0ZXI9IjUuNSI+C[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cc1307ce-b43b-41ac-b2bd-71280db72b30"
      },
      "ResponseBody": {
        "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/dea9963f-3e4a-4e1d-b541-3a7f3eaa70a4/988a1ad2-cd17-454c-8391-5b6503fe0cbb?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T05%3A42%3A35Z&ske=2025-04-18T12%3A42%3A35Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-18T06%3A49%3A13Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-18T06:49:13.6720102Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-runs/listtestruns-testrun?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "loadtest-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-runs/listtestruns-testrun?api-version=2024-12-01-preview",
        "mise-correlation-id": "c79950b0-0204-4a3a-afbf-079cf93d7ccb"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/dea9963f-3e4a-4e1d-b541-3a7f3eaa70a4/42feeb09-9728-4b4a-8784-fb16fc229278?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A40%3A40Z&ske=2025-04-19T15%3A40%3A40Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-18T07%3A40%3A40Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-18T07:40:40.6116451Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/dea9963f-3e4a-4e1d-b541-3a7f3eaa70a4/988a1ad2-cd17-454c-8391-5b6503fe0cbb?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A40%3A40Z&ske=2025-04-19T15%3A40%3A40Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-18T07%3A40%3A40Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-04-18T07:40:40.6111529Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/dea9963f-3e4a-4e1d-b541-3a7f3eaa70a4/a18c3151-0680-40e7-b553-6873ca260291?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A40%3A40Z&ske=2025-04-19T15%3A40%3A40Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-18T07%3A40%3A40Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-18T07:40:40.6117738Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/9be62ec4-66da-4c88-a995-adffc23a3257?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A40%3A40Z&ske=2025-04-19T15%3A40%3A40Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-04-18T06%3A40%3A40Z&se=2025-04-18T07%3A40%3A40Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-04-18T07:40:40.6119268Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "listtestruns-testrun",
        "displayName": "Run created from dotnet testing framework",
        "testId": "loadtest-from-csharp-sdk",
        "status": "ACCEPTED",
        "executedDateTime": "2025-04-18T06:40:39.713Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-loadtests/testId/loadtest-from-csharp-sdk/testRunId/listtestruns-testrun",
        "createdDateTime": "2025-04-18T06:40:40.112Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T06:40:40.603Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-runs?api-version=2024-12-01-preview&maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8f61a3d6-e65f-4e67-a2de-5c1e34837809"
      },
      "ResponseBody": {
        "value": [
          {
            "passFailCriteria": {
              "passFailMetrics": {},
              "passFailServerMetrics": {}
            },
            "loadTestConfiguration": {
              "engineInstances": 1,
              "splitAllCSVs": false,
              "quickStartTest": false
            },
            "testArtifacts": {
              "inputArtifacts": {
                "configFileInfo": {
                  "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/dea99[...]
[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/listtestruns-testprofilerun?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "5d52bb07-37a4-49f4-a5a0-4e222ca67bc1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-profiles/listtestruns-testprofile?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "b05eee6f-33c3-46a2-baf5-74c99c93999c"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "e64c296d-603f-4b2a-9180-aead6ae4daf2"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "1389974971"
  }
}
