{
  "Entries": [
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
        "mise-correlation-id": "0c968613-5212-494d-8816-90040212eeb6"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "loadtest-from-csharp-sdk",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-04-18T08:39:33.4Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T08:39:33.4Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV0ZXI9IjUuNSI+C[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "398c16c2-a796-4a26-ba86-4b5762fdeb6f"
      },
      "ResponseBody": {
        "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/096da41c-77b0-4924-beff-8b3634bf9060/05ce73c2-947c-4889-96fe-246b784dba48?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A24%3A25Z&ske=2025-04-19T15%3A24%3A25Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-18T08%3A49%3A34Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-04-18T08:49:34.1937241Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-runs/stoptestrun-testrun?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "loadtest-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-runs/stoptestrun-testrun?api-version=2024-12-01-preview",
        "mise-correlation-id": "30ab8ee4-2f6f-474e-a3be-db1a11529cd0"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/096da41c-77b0-4924-beff-8b3634bf9060/b1825fd7-5abd-4442-aae5-d74b0eec82ab?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A20%3A25Z&ske=2025-04-19T15%3A20%3A25Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-18T09%3A40%3A09Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-18T09:40:09.4766963Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/096da41c-77b0-4924-beff-8b3634bf9060/05ce73c2-947c-4889-96fe-246b784dba48?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A20%3A25Z&ske=2025-04-19T15%3A20%3A25Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-18T09%3A40%3A09Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-04-18T09:40:09.4763233Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/096da41c-77b0-4924-beff-8b3634bf9060/c881a8bf-2a6a-4e37-b43c-9eb92082cae6?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A20%3A25Z&ske=2025-04-19T15%3A20%3A25Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-04-18T09%3A40%3A09Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-04-18T09:40:09.4767932Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://qmu96c43er94f23ueuh63tp3.z41.blob.storage.azure.net/7266f043-7b14-4219-9351-813bf0fff7c8?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-04-18T06%3A20%3A25Z&ske=2025-04-19T15%3A20%3A25Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-04-18T08%3A40%3A09Z&se=2025-04-18T09%3A40%3A09Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-04-18T09:40:09.4768771Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "stoptestrun-testrun",
        "displayName": "Run created from dotnet testing framework",
        "testId": "loadtest-from-csharp-sdk",
        "status": "ACCEPTED",
        "executedDateTime": "2025-04-18T08:40:07.918Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-loadtests/testId/loadtest-from-csharp-sdk/testRunId/stoptestrun-testrun",
        "createdDateTime": "2025-04-18T08:40:09.026Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-04-18T08:40:09.467Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-runs/stoptestrun-testrun:stop?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-pr[...]
[...]
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-profile-runs/stoptestrun-testprofilerun?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "daa30674-d2f9-45df-ba22-3b0bdec3a791"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/test-profiles/stoptestrun-testprofile?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "ef474341-dac2-4f91-ac3c-e6c49726aebd"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "56b990d4-422a-44c6-9c46-0784c25fa25e"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "02abe2a8-4318-4e0a-ac2c-b4617d22e532.eastus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "1174228602"
  }
}
