{
  "Entries": [
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "loadTestConfig": {
          "engineInstance": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "enviornmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
        "mise-correlation-id": "398659ac-76b3-4e6e-ab15-285e0ec45818"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "loadtest-from-csharp-sdk",
        "description": "This test was created through loadtesting C# SDK",
        "displayName": "Dotnet Testing Framework Loadtest",
        "createdDateTime": "2025-05-19T13:11:39.564Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-05-19T13:11:39.564Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV0ZXI9IjUuNS[...]
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "16c6dcb5-e8a4-43c1-b5b6-a204cfcfabc5"
      },
      "ResponseBody": {
        "url": "https://c7nwmdhl9p537nidj4ihlila.z9.blob.storage.azure.net/ba09e8db-a164-46ef-a24e-529aadf735f4/ffe92d50-8964-4323-ae3e-b26bc482c5a0?skoid=71d78b1b-18ed-4c0f-af95-f43461d18dba&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-05-19T11%3A48%3A16Z&ske=2025-05-19T18%3A48%3A16Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-05-19T13%3A21%3A41Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-05-19T13:21:41.1572321Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-runs/stoptestrun-testrun?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "loadtest-from-csharp-sdk",
        "displayName": "Run created from dotnet testing framework"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-runs/stoptestrun-testrun?api-version=2024-12-01-preview",
        "mise-correlation-id": "47ea1e7c-5518-4c0c-8461-dc33052e2b6e"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {},
          "passFailServerMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configFileInfo": {
              "url": "https://c7nwmdhl9p537nidj4ihlila.z9.blob.storage.azure.net/ba09e8db-a164-46ef-a24e-529aadf735f4/5ec552b8-967a-4c1b-8c82-a58d3663a87a?skoid=71d78b1b-18ed-4c0f-af95-f43461d18dba&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-05-19T11%3A48%3A16Z&ske=2025-05-19T18%3A48%3A16Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-05-19T14%3A12%3A20Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "config.yaml",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-05-19T14:12:20.7751918Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "testScriptFileInfo": {
              "url": "https://c7nwmdhl9p537nidj4ihlila.z9.blob.storage.azure.net/ba09e8db-a164-46ef-a24e-529aadf735f4/ffe92d50-8964-4323-ae3e-b26bc482c5a0?skoid=71d78b1b-18ed-4c0f-af95-f43461d18dba&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-05-19T11%3A48%3A16Z&ske=2025-05-19T18%3A48%3A16Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-05-19T14%3A12%3A20Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "sample.jmx",
              "fileType": "TEST_SCRIPT",
              "expireDateTime": "2025-05-19T14:12:20.7748442Z",
              "validationStatus": "VALIDATION_SUCCESS"
            },
            "inputArtifactsZipFileInfo": {
              "url": "https://c7nwmdhl9p537nidj4ihlila.z9.blob.storage.azure.net/ba09e8db-a164-46ef-a24e-529aadf735f4/e50000fd-909f-47fe-b119-af5b614748a9?skoid=71d78b1b-18ed-4c0f-af95-f43461d18dba&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-05-19T11%3A48%3A16Z&ske=2025-05-19T18%3A48%3A16Z&sks=b&skv=2025-05-05&sv=Sanitized&se=2025-05-19T14%3A12%3A20Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "inputartifacts.zip",
              "fileType": "ADDITIONAL_ARTIFACTS",
              "expireDateTime": "2025-05-19T14:12:20.7753398Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            "additionalFileInfo": []
          },
          "outputArtifacts": {
            "artifactsContainerInfo": {
              "url": "https://c7nwmdhl9p537nidj4ihlila.z9.blob.storage.azure.net/378e9296-91b6-4f7d-90ab-b2fca340a574?skoid=71d78b1b-18ed-4c0f-af95-f43461d18dba&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-05-19T11%3A48%3A16Z&ske=2025-05-19T18%3A48%3A16Z&sks=b&skv=2025-05-05&sv=Sanitized&st=2025-05-19T13%3A12%3A20Z&se=2025-05-19T14%3A12%3A20Z&sr=c&sp=rl&sig=Sanitized",
              "expireDateTime": "2025-05-19T14:12:20.7754857Z"
            }
          }
        },
        "testResult": "NOT_APPLICABLE",
        "kind": "JMX",
        "debugLogsEnabled": false,
        "requestDataLevel": "NONE",
        "createdByType": "User",
        "testRunId": "stoptestrun-testrun",
        "displayName": "Run created from dotnet testing framework",
        "testId": "loadtest-from-csharp-sdk",
        "status": "ACCEPTED",
        "executedDateTime": "2025-05-19T13:12:20.189Z",
        "portalUrl": "https://portal.azure.com/#blade/Microsoft_Azure_CloudNativeTesting/NewReport//resourceId/%2fsubscriptions%2f7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a%2fresourcegroups%2frg-mitshaloadtestservice%2fproviders%2fmicrosoft.loadtestservice%2floadtests%2ftb46bb235815de3cd-csharpsdk-loadtests/testId/loadtest-from-csharp-sdk/testRunId/stoptestrun-testrun",
        "createdDateTime": "2025-05-19T13:12:20.436Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-05-19T13:12:20.767Z",
        "lastModifiedBy": "Sanitized"
      }
    },
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-runs/stoptestrun-testrun:stop?api-version=2024-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01[...]
[...]
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-profile-runs/stoptestrun-testprofilerun?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "3fc4c412-7293-41eb-9a1d-f5d631ce2f5f"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/test-profiles/stoptestrun-testprofile?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "8128fd52-6c8d-40c8-82d7-debfddc9fc76"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com/tests/loadtest-from-csharp-sdk?api-version=2024-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "mise-correlation-id": "04c13c7f-e7b8-4367-9fda-a9dd620c3379"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "LOADTESTSERVICE_ENDPOINT": "9daeabd8-da86-46f5-b59b-ecc50feefd90.centralus.cnt-prod.loadtesting.azure.com",
    "RandomSeed": "1732669572"
  }
}



