{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Chaos/locations/westus2/targetTypes?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-11-01, 2024-01-01, 2025-01-01, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "2999"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "propertiesSchema": "https://afd-schema-tc.westus2.chaos-prod.azure.com/targetTypes/Microsoft-Agent/propertiesSchema.json",
              "resourceTypes": [
                "Microsoft.Compute/virtualMachines",
                "Microsoft.Compute/virtualMachineScaleSets"
              ]
            },
            "name": "Sanitized",
            "id": "Sanitized",
            "type": "Microsoft.Chaos/locations/targetTypes",
            "systemData": {
              "createdByType": "Application",
              "createdAt": "2025-05-23T17:33:40.0769404+00:00",
              "lastModifiedAt": "2025-05-23T17:33:40.0769404+00:00"
            }
          },
          {
            "properties": {
              "propertiesSchema": "https://afd-schema-tc.westus2.chaos-prod.azure.com/targetTypes/Microsoft-AppService/propertiesSchema.json",
              "resourceTypes": [
                "Microsoft.Web/sites"
              ]
            },
            "name": "Sanitized",
            "id": "Sanitized",
            "type": "Microsoft.Chaos/locations/targetTypes",
            "systemData": [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Chaos/locations/westus2/targetTypes/Microsoft-Agent?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-11-01, 2024-01-01, 2025-01-01, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "2999"
      },
      "ResponseBody": {
        "properties": {
          "propertiesSchema": "https://afd-schema-tc.westus2.chaos-prod.azure.com/targetTypes/Microsoft-Agent/propertiesSchema.json",
          "resourceTypes": [
            "Microsoft.Compute/virtualMachines",
            "Microsoft.Compute/virtualMachineScaleSets"
          ]
        },
        "name": "Sanitized",
        "id": "Sanitized",
        "type": "Microsoft.Chaos/locations/targetTypes",
        "systemData": {
          "createdByType": "Application",
          "createdAt": "2025-05-23T17:33:40.0769404+00:00",
          "lastModifiedAt": "2025-05-23T17:33:40.0769404+00:00"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ1NDEtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2021-04-01&t=638853099603188740&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMDE3MTUyMDI3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlv[...]
