{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-3c816ef7-f5a4-7fe7-d406-833c263c03af?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:17:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE173E56CBDD\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:17:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-3c816ef7-f5a4-7fe7-d406-833c263c03af/test-directory-0428eccb-2fe7-cc74-9e89-af198d2da595?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:17:57 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE173E5F57A5\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:17:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-16T19:17:57.7862053Z",
        "x-ms-file-creation-time": "2024-10-16T19:17:57.7862053Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:17:57.7862053Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-3c816ef7-f5a4-7fe7-d406-833c263c03af/test-directory-0428eccb-2fe7-cc74-9e89-af198d2da595?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:17:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE173E5F57A5\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:17:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-16T19:17:57.7862053Z",
        "x-ms-file-creation-time": "2024-10-16T19:17:57.7862053Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:17:57.7862053Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-3c816ef7-f5a4-7fe7-d406-833c263c03af?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:17:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "440231648",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
