{
  "Entries": [
    {
      "RequestUri": "https://g5lxscncvl01ptf02fx.file.core.windows.net/test-share-57a7bfc1-4187-7a6d-294d-ec962172472e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 25 Jun 2026 18:57:07 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2026-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED2EB8EC1CD48\"",
        "Last-Modified": "Thu, 25 Jun 2026 18:57:08 GMT",
        "x-ms-version": "2026-12-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://g5lxscncvl01ptf02fx.file.core.windows.net/test-share-57a7bfc1-4187-7a6d-294d-ec962172472e/test-directory-b3685ff4-b881-a99a-7fd9-26ef131e04a4?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 25 Jun 2026 18:57:07 GMT",
        "x-ms-version": "2026-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED2EB8EC787F3\"",
        "Last-Modified": "Thu, 25 Jun 2026 18:57:08 GMT",
        "x-ms-file-change-time": "2026-06-25T18:57:08.7777779Z",
        "x-ms-file-creation-time": "2026-06-25T18:57:08.7777779Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-06-25T18:57:08.7777779Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-12-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://g5lxscncvl01ptf02fx.file.core.windows.net/test-share-57a7bfc1-4187-7a6d-294d-ec962172472e/test-directory-b3685ff4-b881-a99a-7fd9-26ef131e04a4/test-file-b2c4f0b7-0ba9-1dd5-b1d7-92be365326ae",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 25 Jun 2026 18:57:07 GMT",
        "x-ms-group": "123",
        "x-ms-mode": "7777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2026-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED2EB8ECBC8EB\"",
        "Last-Modified": "Thu, 25 Jun 2026 18:57:08 GMT",
        "x-ms-file-change-time": "2026-06-25T18:57:08.8056555Z",
        "x-ms-file-creation-time": "2026-06-25T18:57:08.8056555Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-06-25T18:57:08.8056555Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "7777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-12-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://g5lxscncvl01ptf02fx.file.core.windows.net/test-share-57a7bfc1-4187-7a6d-294d-ec962172472e/test-directory-b3685ff4-b881-a99a-7fd9-26ef131e04a4/test-directory-d3794310-767d-ca54-670d-3d704c7a38a9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 25 Jun 2026 18:57:07 GMT",
        "x-ms-group": "123",
        "x-ms-mode": "7777",
        "x-ms-owner": "345",
        "x-ms-version": "2026-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED2EB8ED04510\"",
        "Last-Modified": "Thu, 25 Jun 2026 18:57:08 GMT",
        "x-ms-file-change-time": "2026-06-25T18:57:08.8350480Z",
        "x-ms-file-creation-time": "2026-06-25T18:57:08.8350480Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-06-25T18:57:08.8350480Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "7777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-12-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://g5lxscncvl01ptf02fx.file.core.windows.net/test-share-57a7bfc1-4187-7a6d-294d-ec962172472e/test-directory-b3685ff4-b881-a99a-7fd9-26ef131e04a4/test-file-6a01bc04-507c-7cca-a147-fa571acf4323?restype=symboliclink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 25 Jun 2026 18:57:07 GMT",
        "x-ms-group": "123",
        "x-ms-link-text": "https://g5lxscncvl01ptf02fx.file.core.windows.net/test-share-57a7bfc1-4187-7a6d-294d-ec962172472e/test-directory-b3685ff4-b881-a99a-7fd9-26ef131e04a4/test-file-b2c4f0b7-0ba9-1dd5-b1d7-92be365326ae",
        "x-ms-owner": "345",
        "x-ms-version": "2026-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED2EB8ED4D3D2\"",
        "Last-Modified": "Thu, 25 Jun 2026 18:57:08 GMT",
        "x-ms-file-change-time": "2026-06-25T18:57:08.8649170Z",
        "x-ms-file-creation-time": "2026-06-25T18:57:08.8649170Z",
        "x-ms-file-file-type": "SymLink",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-06-25T18:57:08.8649170Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-12-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://g5lxscncvl01ptf02fx.file.core.windows.net/test-share-57a7bfc1-4187-7a6d-294d-ec962172472e/test-directory-b3685ff4-b881-a99a-7fd9-26ef131e04a4?restype=directory&comp=list&include=Etag%2CLinkCount%2CNfsAttributes%2CPermissions%2CTimestamps",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 25 Jun 2026 18:57:07 GMT",
        "x-ms-file-extended-info": "true",
        "x-ms-version": "2026-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-12-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://g5lxscncvl01ptf02fx.file.core.windows.net/\" ShareName=\"test-share-57a7bfc1-4187-7a6d-294d-ec962172472e\" DirectoryPath=\"test-directory-b3685ff4-b881-a99a-7fd9-26ef131e04a4\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>test-directory-d3794310-767d-ca54-670d-3d704c7a38a9</Name><FileId>16140971433240035328</FileId><Properties><CreationTime>2026-06-25T18:57:08.8350480Z</CreationTime><LastAccessTime>2026-06-25T18:57:08.8350480Z</LastAccessTime><LastWriteTime>2026-06-25T18:57:08.8350480Z</LastWriteTime><ChangeTime>2026-06-25T18:57:08.8350480Z</ChangeTime><Last-Modified>Thu, 25 Jun 2026 18:57:08 GMT</Last-Modified><Etag>\"0x8DED2EB8ED04510\"</Etag><Uid>345</Uid><Gid>123</Gid><Mode>7777</Mode></Properties><LinkCount>2</LinkCount></Directory><SymLink><Name>test-file-6a01bc04-507c-7cca-a147-fa571acf4323</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>196</Content-Length><CreationTime>2026-06-25T18:57:08.8649170Z</CreationTime><LastAccessTime>2026-06-25T18:57:08.8649170Z</LastAccessTime><LastWriteTime>2026-06-25T18:57:08.8649170Z</LastWriteTime><ChangeTime>2026-06-25T18:57:08.8649170Z</ChangeTime><Last-Modified>Thu, 25 Jun 2026 18:57:08 GMT</Last-Modified><Etag>\"0x8DED2EB8ED4D3D2\"</Etag><Uid>345</Uid><Gid>123</Gid><Mode>0777</Mode></Properties><LinkCount>1</LinkCount><LinkText>https://g5lxscncvl01ptf02fx.file.core.windows.net/test-share-57a7bfc1-4187-7a6d-294d-ec962172472e/test-directory-b3685ff4-b881-a99a-7fd9-26ef131e04a4/test-file-b2c4f0b7-0ba9-1dd5-b1d7-92be365326ae</LinkText></SymLink><File><Name>test-file-b2c4f0b7-0ba9-1dd5-b1d7-92be365326ae</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1048576</Content-Length><CreationTime>2026-06-25T18:57:08.8056555Z</CreationTime><LastAccessTime>2026-06-25T18:57:08.8056555Z</LastAccessTime><LastWriteTime>2026-06-25T18:57:08.8056555Z</LastWriteTime><ChangeTime>2026-06-25T18:57:08.8056555Z</ChangeTime><Last-Modified>Thu, 25 Jun 2026 18:57:08 GMT</Last-Modified><Etag>\"0x8DED2EB8ECBC8EB\"</Etag><Uid>345</Uid><Gid>123</Gid><Mode>7777</Mode></Properties><LinkCount>1</LinkCount></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://g5lxscncvl01ptf02fx.file.core.windows.net/test-share-57a7bfc1-4187-7a6d-294d-ec962172472e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 25 Jun 2026 18:57:07 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-12-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1034849233",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\ng5lxscncvl01ptf02fx\nU2FuaXRpemVk\nhttps://g5lxscncvl01ptf02fx.blob.core.windows.net\nhttps://g5lxscncvl01ptf02fx.file.core.windows.net\nhttps://g5lxscncvl01ptf02fx.queue.core.windows.net\nhttps://g5lxscncvl01ptf02fx.table.core.windows.net\n\n\n\n\nhttps://g5lxscncvl01ptf02fx-secondary.blob.core.windows.net\nhttps://g5lxscncvl01ptf02fx-secondary.file.core.windows.net\nhttps://g5lxscncvl01ptf02fx-secondary.queue.core.windows.net\nhttps://g5lxscncvl01ptf02fx-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://g5lxscncvl01ptf02fx.blob.core.windows.net/;QueueEndpoint=https://g5lxscncvl01ptf02fx.queue.core.windows.net/;FileEndpoint=https://g5lxscncvl01ptf02fx.file.core.windows.net/;BlobSecondaryEndpoint=https://g5lxscncvl01ptf02fx-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://g5lxscncvl01ptf02fx-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://g5lxscncvl01ptf02fx-secondary.file.core.windows.net/;AccountName=g5lxscncvl01ptf02fx;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
