{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-f15d82de-5664-d626-dd7d-a24212efd623?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:19:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE177DE5E292\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:19:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-f15d82de-5664-d626-dd7d-a24212efd623/test-directory-f92503ca-f413-b190-e533-b03ade30667c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:19:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE177DEE5109\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:19:44 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-16T19:19:44.4196617Z",
        "x-ms-file-creation-time": "2024-10-16T19:19:44.4196617Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-16T19:19:44.4196617Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-f15d82de-5664-d626-dd7d-a24212efd623/test-directory-f92503ca-f413-b190-e533-b03ade30667c/test-file-3ad09874-c5a3-c821-02d3-1e097d243f20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Wed, 16 Oct 2024 19:19:44 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE177DF52DD6\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:19:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-16T19:19:44.4646358Z",
        "x-ms-file-creation-time": "2024-10-16T19:19:44.4646358Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-16T19:19:44.4646358Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-f15d82de-5664-d626-dd7d-a24212efd623/test-directory-f92503ca-f413-b190-e533-b03ade30667c/test-file-3d7d80d6-7daf-552c-c792-34316bc8f409?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:19:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEE177E3B5436\"",
        "Last-Modified": "Wed, 16 Oct 2024 19:19:44 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-16T19:19:44.9243702Z",
        "x-ms-file-creation-time": "2024-10-16T19:19:44.9243702Z",
        "x-ms-file-id": "10952824662509223936",
        "x-ms-file-last-write-time": "2024-10-16T19:19:44.9243702Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-f15d82de-5664-d626-dd7d-a24212efd623/test-directory-f92503ca-f413-b190-e533-b03ade30667c?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:19:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanary3.file.core.windows.net/\" ShareName=\"test-share-f15d82de-5664-d626-dd7d-a24212efd623\" DirectoryPath=\"test-directory-f92503ca-f413-b190-e533-b03ade30667c\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>test-file-055db5fd-acd1-ea9d-a3ab-04baf6d4bb57</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1048576</Content-Length></Properties></File><File><Name>test-file-3ad09874-c5a3-c821-02d3-1e097d243f20</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1048576</Content-Length></Properties></File><Directory><Name>test-file-3d7d80d6-7daf-552c-c792-34316bc8f409</Name><FileId>10952824662509223936</FileId><Properties /></Directory><File><Name>test-file-487e823b-d715-8aae-dc90-5835b4f513ff</Name><FileId>16717432185543458816</FileId><Properties><Content-Length>1048576</Content-Length></Properties></File><File><Name>test-file-599143c3-3a49-7893-882c-3a6c1477bf60</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1048576</Content-Length></Properties></File><File><Name>test-file-6681314c[...]
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-share-f15d82de-5664-d626-dd7d-a24212efd623?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 16 Oct 2024 19:19:45 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "205937796",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
