{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-86ba6620-9ce5-45e1-0809-03565674dcd8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:24:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86775E41137A\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:24:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-86ba6620-9ce5-45e1-0809-03565674dcd8/test-directory-32aaf1e9-fa47-449c-92e6-62d52cfd4ab6?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:24:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86775E517869\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:24:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:24:02.1395561Z",
        "x-ms-file-creation-time": "2024-06-06T22:24:02.1395561Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:24:02.1395561Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-86ba6620-9ce5-45e1-0809-03565674dcd8/test-directory-32aaf1e9-fa47-449c-92e6-62d52cfd4ab6/test-file-e7c73181-58f5-a770-a83d-e8099f11ce36",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1048576",
        "x-ms-date": "Thu, 06 Jun 2024 22:24:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86775E5DAC68\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:24:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-06T22:24:02.2195304Z",
        "x-ms-file-creation-time": "2024-06-06T22:24:02.2195304Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-06T22:24:02.2195304Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-86ba6620-9ce5-45e1-0809-03565674dcd8/test-directory-32aaf1e9-fa47-449c-92e6-62d52cfd4ab6/test-file-c5b635c9-b31a-1903-6788-51206c80f4e5?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:24:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86775EDCBCC5\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:24:03 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:24:03.0522565Z",
        "x-ms-file-creation-time": "2024-06-06T22:24:03.0522565Z",
        "x-ms-file-id": "10952824662509223936",
        "x-ms-file-last-write-time": "2024-06-06T22:24:03.0522565Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-86ba6620-9ce5-45e1-0809-03565674dcd8/test-directory-32aaf1e9-fa47-449c-92e6-62d52cfd4ab6?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:24:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seancanary.file.core.windows.net/\" ShareName=\"test-share-86ba6620-9ce5-45e1-0809-03565674dcd8\" DirectoryPath=\"test-directory-32aaf1e9-fa47-449c-92e6-62d52cfd4ab6\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>test-file-16a62e0a-f423-7a55-6fd7-e7d2da5019ae</Name><FileId>13258667671722917888</FileId><Properties /></Directory><Directory><Name>test-file-22aee5b2-c5aa-9d26-12cd-9de19e97add4</Name><FileId>17870353690150305792</FileId><Properties /></Directory><Directory><Name>test-file-39410892-2cac-e923-2739-146c6c93be8b</Name><FileId>15564510680936611840</FileId><Properties /></Directory><Directory><Name>test-file-3d15c6c9-ddd9-9ec1-b2c6-cad445500ed7</Name><FileId>9511672781750665216</FileId><Properties /></Directory><File><Name>test-file-43bf9816-3712-e9d3-7609-02704cdab970</Name><FileId>12105746167116070912</FileId><Properties><Content-Length>1048576</Content-Length></Properties></File><File><Name>test-file-4ff1722d-2c5a-8670-2ea6-ca402aebfed3</Name><FileId>16717432185543458816</FileId><Properties><Content-Length>1048576</Content-Length></Properties></File><File><Name>test-file-73b3d18d-ffb5-16a7-4b24-88428accf59a</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1048576</Content-Length></Properties></File><File><Name>test-file-8ae71ff5-a38b-aa5a-7145-b3cd5ddaf616</Name><FileId>9799903157902376960</FileId><Proper[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-86ba6620-9ce5-45e1-0809-03565674dcd8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:24:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "969877917",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
