{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-d361a5c0-7607-2cb3-9d21-5b22ee0aedcb?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:29 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1C50E44F5A1\"",
        "Last-Modified": "Thu, 01 Aug 2024 00:58:28 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-d361a5c0-7607-2cb3-9d21-5b22ee0aedcb/test-dire%C2%A2t%20%C3%98%C2%AE%CF%92%253A-5fd24bbe-3294-894a-4039-8fd11d072091?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:29 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1C50E4F0EF4\"",
        "Last-Modified": "Thu, 01 Aug 2024 00:58:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-01T00:58:28.6503668Z",
        "x-ms-file-creation-time": "2024-08-01T00:58:28.6503668Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-01T00:58:28.6503668Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-d361a5c0-7607-2cb3-9d21-5b22ee0aedcb/test-directory-9d397206-e42f-79c7-3b5a-a438fde8565c?restype=directory&comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:29 GMT",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL",
        "x-ms-file-permission-format": "Sddl",
        "x-ms-file-rename-source": "https://seancanary.file.core.windows.net/test-share-d361a5c0-7607-2cb3-9d21-5b22ee0aedcb/test-dire%C2%A2t%20%C3%98%C2%AE%CF%92%253A-5fd24bbe-3294-894a-4039-8fd11d072091",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1C50E599563\"",
        "Last-Modified": "Thu, 01 Aug 2024 00:58:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-01T00:58:28.7193443Z",
        "x-ms-file-creation-time": "2024-08-01T00:58:28.6503668Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-01T00:58:28.6503668Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "16231623300506987543*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-d361a5c0-7607-2cb3-9d21-5b22ee0aedcb/test-directory-9d397206-e42f-79c7-3b5a-a438fde8565c?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:29 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1C50E599563\"",
        "Last-Modified": "Thu, 01 Aug 2024 00:58:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-01T00:58:28.7193443Z",
        "x-ms-file-creation-time": "2024-08-01T00:58:28.6503668Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-01T00:58:28.6503668Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "16231623300506987543*5081612660206631398",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-d361a5c0-7607-2cb3-9d21-5b22ee0aedcb?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 00:58:29 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1040721941",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
