{
  "Entries": [
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-22cebd5b-537e-b63f-e678-9f376b385b81?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:24:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867762171CE3\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:24:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-22cebd5b-537e-b63f-e678-9f376b385b81/test-dire%C2%A2t%20%C3%98%C2%AE%CF%92%253A-1d6a9847-9581-e0c0-2fc0-a2d8367727a2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:24:07 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8677622EAD75\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:24:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:24:08.6224245Z",
        "x-ms-file-creation-time": "2024-06-06T22:24:08.6224245Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:24:08.6224245Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-22cebd5b-537e-b63f-e678-9f376b385b81/test-dire%C2%A2t%20%C3%98%C2%AE%CF%92%253A-3001b8d8-5bb0-f520-75ab-b829a6d5c019?restype=directory&comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:24:07 GMT",
        "x-ms-file-rename-source": "https://seancanary.file.core.windows.net/test-share-22cebd5b-537e-b63f-e678-9f376b385b81/test-dire%C2%A2t%20%C3%98%C2%AE%CF%92%253A-1d6a9847-9581-e0c0-2fc0-a2d8367727a2",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867762417098\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:24:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:24:08.7453848Z",
        "x-ms-file-creation-time": "2024-06-06T22:24:08.6224245Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:24:08.6224245Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-22cebd5b-537e-b63f-e678-9f376b385b81/test-dire%C2%A2t%20%C3%98%C2%AE%CF%92%253A-3001b8d8-5bb0-f520-75ab-b829a6d5c019?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:24:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867762417098\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:24:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-06T22:24:08.7453848Z",
        "x-ms-file-creation-time": "2024-06-06T22:24:08.6224245Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-06T22:24:08.6224245Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3341290327828196975*5081612660206631398",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-22cebd5b-537e-b63f-e678-9f376b385b81?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:24:07 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "820787213",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
