{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/ArizeAi.ObservabilityEval/operations?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "ArizeAi.ObservabilityEval",
              "resource": "operations",
              "operation": "read_operations",
              "description": "read operations"
            },
            "properties": null
          },
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "ArizeAi.ObservabilityEval",
              "resource": "locations/operationStatuses",
              "operation": "read_operationStatuses",
              "description": "read operationStatuses"
            },
            "properties": null
          },
          {
            "name": "Sanitized",
            "isDataAction": false,
            "displ[...]
