{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/supportedimages?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#supportedimages",
        "value": [
          {
            "imageReference": {
              "publisher": "almalinux",
              "offer": "almalinux-hpc",
              "sku": "8-hpc-gen1",
              "version": "latest"
            },
            "verificationType": "unverified",
            "nodeAgentSKUId": "batch.node.el 8",
            "capabilities": [
              "DockerCompatible",
              "SupportsRDMAOnly",
              "IntelMPIRuntimeInstalled"
            ],
            "osType": "linux"
          },
          {
            "imageReference": {
              "publisher": "almalinux",
              "offer": "almalinux-hpc",
              "sku": "8-hpc-gen2",
              "version": "latest"
            },
            "verificationType": "unverified",
            "nodeAgentSKUId": "batch.node.el 8",
            "capabilities": [
              "DockerCompatible",
              "SupportsRDMAOnly",
              "IntelMPIRuntimeInstalled",
              "Generation2VMImage"
[...]
