{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobschedules/jssdkJobSchedule-Basicc13b?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Tue, 03 Feb 2026 00:00:31 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE62B73977BE4C",
        "Last-Modified": "Tue, 03 Feb 2026 00:00:21 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#jobschedules/@Element",
        "id": "jssdkJobSchedule-Basicc13b",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobschedules/jssdkJobSchedule-Basicc13b",
        "eTag": "0x8DE62B73977BE4C",
        "lastModified": "2026-02-03T00:00:21.5875148Z",
        "creationTime": "2026-02-03T00:00:21.5875148Z",
        "state": "active",
        "stateTransitionTime": "2026-02-03T00:00:21.5875148Z",
        "schedule": {
          "doNotRunAfter": "2026-02-04T00:00:21.536Z",
          "recurrenceInterval": "PT2M"
        },
        "jobSpecification": {
          "displayName": "JobSchedule-1",
          "priority": 0,
          "maxParallelTasks": -1,
          "allowTaskPreemption": false,
          "usesTaskDependencies": false,
          "onAllTasksComplete": "noaction",
          "onTaskFailure": "noaction",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "maxTaskRetryCount": 0
          },
          "poolInfo": {
            "poolId": "jssdkPool-Basic37da"
          }
        },
        "executionInfo": {
          "nextRunTime": "2026-02-03T00:02:21.5875148Z",
          "recentJob": {
            "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJobSchedule-Basicc13b:job-1",
            "id": "jssdkJobSchedule-Basicc13b:job-1"
          }
        }
      }
    }
  ],
  "Variables": {
    "JOB_SCHEDULE": "jssdkJobSchedule-Basicc13b"
  }
}
