{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobschedules/jssdkJobSchedule-Basic8d14?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Tue, 28 Oct 2025 23:33:10 GMT"
      },
      "RequestBody": {
        "schedule": {
          "recurrenceInterval": "PT6H"
        },
        "jobSpecification": {
          "poolInfo": {
            "poolId": "jssdkPool-Basic5ac7"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobschedules/jssdkJobSchedule-Basic8d14",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE167A5B04AE87",
        "Last-Modified": "Tue, 28 Oct 2025 23:33:10 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basic5ac7",
    "JOB_SCHEDULE": "jssdkJobSchedule-Basic8d14"
  }
}
