{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobschedules/jssdkJobSchedule-Basicc13b?api-version=2025-06-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Tue, 03 Feb 2026 00:00:32 GMT"
      },
      "RequestBody": {
        "schedule": {
          "recurrenceInterval": "PT3H",
          "startWindow": "PT1H"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobschedules/jssdkJobSchedule-Basicc13b",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE62B740062BDD",
        "Last-Modified": "Tue, 03 Feb 2026 00:00:32 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "JOB_SCHEDULE": "jssdkJobSchedule-Basicc13b"
  }
}
