{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.MobileNetwork/operations?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-resource-requests": "9999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.MobileNetwork",
              "resource": "Microsoft.MobileNetwork",
              "operation": "Register the Microsoft.MobileNetwork",
              "description": "Register the subscription for Microsoft.MobileNetwork"
            }
          },
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.MobileNetwork",
              "resource": "Microsoft.MobileNetwork",
              "operation": "Unregister the Microsoft.MobileNetwork",
              "description": "Unregister the subscription for Microsoft.MobileNetwork"
            }
          },
          {
          [...]
