{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent",
        "tools": [
          {
            "type": "function",
            "function": {
              "name": "getCurrentDateTime",
              "description": "Get current date time",
              "parameters": {}
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "71",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "af423dba-3f23-4dfb-ac3b-4e5f5bf4a190",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.515"
      },
      "ResponseBody": {
        "id": "asst_qxVJJ7wMHG1kdc5xlFaOtr27",
        "object": "assistant",
        "created_at": 1751235367,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [
          {
            "type": "function",
            "function": {
              "name": "getCurrentDateTime",
              "description": "Get current date time",
              "parameters": {
                "type": "object",
                "properties": {}
              },
              "strict": false
            }
          }
        ],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants/asst_qxVJJ7wMHG1kdc5xlFaOtr27?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "166",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "93ebc5ef-921a-44b3-8ee6-eca91ce726d3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.536"
      },
      "ResponseBody": {
        "id": "asst_qxVJJ7wMHG1kdc5xlFaOtr27",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
