{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent",
        "tools": [
          {
            "type": "function",
            "function": {
              "name": "getCurrentDateTime",
              "description": "Get current date time",
              "parameters": {}
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "68",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "cfb1a15f-4a1e-4d07-9424-c007415e0c9b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.318"
      },
      "ResponseBody": {
        "id": "asst_IbX92rJgYxzWTWjTYrtJkBD3",
        "object": "assistant",
        "created_at": 1747977619,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [
          {
            "type": "function",
            "function": {
              "name": "getCurrentDateTime",
              "description": "Get current date time",
              "parameters": {
                "type": "object",
                "properties": {}
              },
              "strict": false
            }
          }
        ],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/assistants/asst_IbX92rJgYxzWTWjTYrtJkBD3?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "84",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "053dc30b-7a48-479c-aa2c-980af8f02586",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.400"
      },
      "ResponseBody": {
        "id": "asst_IbX92rJgYxzWTWjTYrtJkBD3",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
