{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent",
        "tools": [
          {
            "type": "function",
            "function": {
              "name": "getCurrentDateTime",
              "description": "Get current date time",
              "parameters": {}
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "135",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "967ee4c1-3b02-4c5a-9e72-2222fe106cee",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.436"
      },
      "ResponseBody": {
        "id": "asst_7mSvqVqz1fQ6Z8iFj2GEpari",
        "object": "assistant",
        "created_at": 1746740458,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [
          {
            "type": "function",
            "function": {
              "name": "getCurrentDateTime",
              "description": "Get current date time",
              "parameters": {
                "type": "object",
                "properties": {}
              },
              "strict": false
            }
          }
        ],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/assistants/asst_7mSvqVqz1fQ6Z8iFj2GEpari?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "178",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3f94deea-29bf-4864-a737-7dffe2a395ed",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.384"
      },
      "ResponseBody": {
        "id": "asst_7mSvqVqz1fQ6Z8iFj2GEpari",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
