{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/fake-tenant-id/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/fake-tenant-id/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/fake-tenant-id/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/fake-tenant-id/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MrQDALpsIJJHpEFouuCMcKwugSqgPjOfrclZvThiIDE\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:03:03 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTk5MA==;sn=24439990"
      },
      "ResponseBody": {
        "etag": "MrQDALpsIJJHpEFouuCMcKwugSqgPjOfrclZvThiIDE",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:03:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTk5MA=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022HQ3VfZ71EFkRUxah6AL1mip3vFeNhRT6fbPaQ8NLeZ8\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:03:03 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTk5Mg==;sn=24439992"
      },
      "ResponseBody": {
        "etag": "HQ3VfZ71EFkRUxah6AL1mip3vFeNhRT6fbPaQ8NLeZ8",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:03:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTk5Mg=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Qr5-dfwWchCoDIrO9EGL7A_-Sf20ydbsVRE0xUgKFVQ\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:03:03 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTk5NA==;sn=24439994"
      },
      "ResponseBody": {
        "etag": "Qr5-dfwWchCoDIrO9EGL7A_-Sf20ydbsVRE0xUgKFVQ",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:03:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTk5NA=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00225ux5Y4xKiEIzFpr0mtlVTec0s_b8qTlJJgTM3kLlNRU\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:03:03 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTk5Ng==;sn=24439996"
      },
      "ResponseBody": {
        "etag": "5ux5Y4xKiEIzFpr0mtlVTec0s_b8qTlJJgTM3kLlNRU",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:03:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTk5Ng=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022z8B9WKdVTwAIYWTtNrsjK0LOv6VqKoYQdvHuGUGMAQk\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:03:03 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTk5OA==;sn=24439998"
      },
      "ResponseBody": {
        "etag": "z8B9WKdVTwAIYWTtNrsjK0LOv6VqKoYQdvHuGUGMAQk",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:03:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTk5OA=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022PwNRaFPn2gquNIoLn893PM3hLTNTmcb6ae4uJCG04W8\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:03:03 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ0MDAwMA==;sn=24440000"
      },
      "ResponseBody": {
        "etag": "PwNRaFPn2gquNIoLn893PM3hLTNTmcb6ae4uJCG04W8",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:03:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ0MDAwMA=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ0MDAwMg=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022VDwjvVBpgjkq-goh9iMF2RnpZZfQGYftqD1j9OE2Vdg\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:03:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ0MDAwNA==;sn=24440004"
      },
      "ResponseBody": {
        "etag": "VDwjvVBpgjkq-goh9iMF2RnpZZfQGYftqD1j9OE2Vdg",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:03:04\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ0MDAwNQ==;sn=24440005"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "RGfzYWsANly5PG24FRGP0_D11hZQRHFmz-YZqB1KgxY",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ0MDAwNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022z8B9WKdVTwAIYWTtNrsjK0LOv6VqKoYQdvHuGUGMAQk\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:03:03 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ0MDAwNQ==;sn=24440005"
      },
      "ResponseBody": {
        "etag": "z8B9WKdVTwAIYWTtNrsjK0LOv6VqKoYQdvHuGUGMAQk",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:03:03\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ0MDAwNg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022PwNRaFPn2gquNIoLn893PM3hLTNTmcb6ae4uJCG04W8\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:03:03 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ0MDAwNw==;sn=24440007"
      },
      "ResponseBody": {
        "etag": "PwNRaFPn2gquNIoLn893PM3hLTNTmcb6ae4uJCG04W8",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:03:03\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ0MDAxMA=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "content_type": "text/plain",
        "value": "Static",
        "last_modified": "2023-12-06T00:03:03.000Z",
        "tags": {},
        "locked": false,
        "etag": "PwNRaFPn2gquNIoLn893PM3hLTNTmcb6ae4uJCG04W8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022rE1q6GG6Oo3cWQ-LDjQh0VEeW4Bx2d-AMQdwQ_cfF8Y\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:03:06 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ0MDAxMg==;sn=24440012"
      },
      "ResponseBody": {
        "etag": "rE1q6GG6Oo3cWQ-LDjQh0VEeW4Bx2d-AMQdwQ_cfF8Y",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:03:06\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
