{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022x0aSG2ODUM5DJYnjPQaHDJKHg6Ge5j_aHDd8SOCxB0E\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzA4Mg==;sn=23983082"
      },
      "ResponseBody": {
        "etag": "x0aSG2ODUM5DJYnjPQaHDJKHg6Ge5j_aHDd8SOCxB0E",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzA4Mg=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022eQmg5q9rC9RW51gRchbDb5k7xN0uvD7oYYd4QPg1V6w\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzA4NA==;sn=23983084"
      },
      "ResponseBody": {
        "etag": "eQmg5q9rC9RW51gRchbDb5k7xN0uvD7oYYd4QPg1V6w",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzA4NA=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022UM4NlYI7WptQtrK6_RwwpyautFkRLglXFrLETqQbJpA\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzA4Ng==;sn=23983086"
      },
      "ResponseBody": {
        "etag": "UM4NlYI7WptQtrK6_RwwpyautFkRLglXFrLETqQbJpA",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzA4Ng=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022-zkpINitCZCXVZAOEO86OIwhxNtnvUPJRaFTyPJWjlw\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzA4OA==;sn=23983088"
      },
      "ResponseBody": {
        "etag": "-zkpINitCZCXVZAOEO86OIwhxNtnvUPJRaFTyPJWjlw",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzA4OA=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022rVnouRx3cLZrncNpbs2FHemZ-sPQkBvgoS6dZhA_Kfc\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzA5MA==;sn=23983090"
      },
      "ResponseBody": {
        "etag": "rVnouRx3cLZrncNpbs2FHemZ-sPQkBvgoS6dZhA_Kfc",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzA5MA=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NtgijIzzdiT0difI8gov_MP-rRr5ic82OgrLRdIoYt4\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzA5Mg==;sn=23983092"
      },
      "ResponseBody": {
        "etag": "NtgijIzzdiT0difI8gov_MP-rRr5ic82OgrLRdIoYt4",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzA5Mg=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzA5NA=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022j29PqUtYUkB-aVLtctb0yfPB21zianBJddYwWchPH5w\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzA5Ng==;sn=23983096"
      },
      "ResponseBody": {
        "etag": "j29PqUtYUkB-aVLtctb0yfPB21zianBJddYwWchPH5w",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=message*\u0026label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzA5Nw==;sn=23983097"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "eQmg5q9rC9RW51gRchbDb5k7xN0uvD7oYYd4QPg1V6w",
            "key": "message",
            "label": "dev",
            "content_type": "text/plain",
            "value": "test",
            "tags": {},
            "locked": false,
            "last_modified": "2023-10-18T16:47:08\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
