{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022rw_MB4CDuh4zn_U8LufHFG3b8r516VeI45_uGWrK8c8\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:56:25 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI1Nw==;sn=25884257"
      },
      "ResponseBody": {
        "etag": "rw_MB4CDuh4zn_U8LufHFG3b8r516VeI45_uGWrK8c8",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:56:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI1Nw=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022UhUaVj5j7VokA8BXbwelQAb-hOTNMnWsMgiuCgJHSOY\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:56:25 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI1OQ==;sn=25884259"
      },
      "ResponseBody": {
        "etag": "UhUaVj5j7VokA8BXbwelQAb-hOTNMnWsMgiuCgJHSOY",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:56:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI1OQ=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00225eON99ucyfy71IU5I8uf6gzlbHJxJ2cPu1UmjIRylJ4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:56:25 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI2MQ==;sn=25884261"
      },
      "ResponseBody": {
        "etag": "5eON99ucyfy71IU5I8uf6gzlbHJxJ2cPu1UmjIRylJ4",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:56:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI2MQ=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022o4cFfd5nfZUywmaZuW5mqnjAkrmQv-LCilS6VhA-WwA\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:56:25 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI2Mw==;sn=25884263"
      },
      "ResponseBody": {
        "etag": "o4cFfd5nfZUywmaZuW5mqnjAkrmQv-LCilS6VhA-WwA",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:56:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI2Mw=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022-ngUB6Fe4kSQyEaoi-vELREclqio3uE3jDACH4VWd50\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:56:25 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI2NQ==;sn=25884265"
      },
      "ResponseBody": {
        "etag": "-ngUB6Fe4kSQyEaoi-vELREclqio3uE3jDACH4VWd50",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:56:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI2NQ=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022R-Kp99y-SKNo8bHM_dgQlKag2Utp62hslyjNgdPIVag\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:56:25 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI2Nw==;sn=25884267"
      },
      "ResponseBody": {
        "etag": "R-Kp99y-SKNo8bHM_dgQlKag2Utp62hslyjNgdPIVag",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:56:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI2Nw=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI2OQ=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022YmSnx62jG1pU9Rc_DvM71UTQHx8tqzWt9OLe3sFqTf4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:56:25 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI3MQ==;sn=25884271"
      },
      "ResponseBody": {
        "etag": "YmSnx62jG1pU9Rc_DvM71UTQHx8tqzWt9OLe3sFqTf4",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:56:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022doMLSUjc3rIl-H2ck5I1V1wQAG7CMQvg4KH8yQVlCOY\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI3Mg==;sn=25884272"
      },
      "ResponseBody": {
        "etag": "doMLSUjc3rIl-H2ck5I1V1wQAG7CMQvg4KH8yQVlCOY",
        "items": [
          {
            "etag": "U3dCyAqthLk27o8bgYgwg1VXct3La3lHBoUz0pvNsTw",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=.appconfig.featureflag/*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI3Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
   [...]
