{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"SeVHguzBfG-5kmYZb06h0xIyfZcNIy6boPfdYWZvoC0\"",
        "x-ms-date": "Tue, 07 Apr 2026 21:48:50 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "tag_no_value",
            "label": null,
            "content_type": "text/plain",
            "value": "no value",
            "tags": {
              "a": ""
            },
            "locked": false,
            "last_modified": "2026-04-07T21:42:26+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
