{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 11 2024 02:09:24.918808 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"e7gWtnTn4Z5YTj0TDZNoVl2h7m1U1rTYjf6jmea6pHg\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:24 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjMyNg==;sn=22376326"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?label=dev&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjMyNg==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 11 2024 02:09:24.967220 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lMEixc4vp2tToXpnjzp8EcWE9J5j2e_Jf3wXYysJOC4\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:24 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjMyOA==;sn=22376328"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/my_json?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjMyOA==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 11 2024 02:09:24.984136 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YAs6Ea0CtXGgL_6w-VSKLBiR6GcQDijEnzYv9sluUJQ\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:24 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjMzMA==;sn=22376330"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/test.trimmed?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjMzMA==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 11 2024 02:09:25.000681 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"i6XRMWLQD8fDbvFcxRZTzwmYdCylwiVXuQdR458YXy4\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:24 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjMzMg==;sn=22376332"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjMzMg==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 11 2024 02:09:25.018222 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zbwF3M_phzBIaZadjpjMUG90zKe-MXO5o-WFMqAgxXQ\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:25 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjMzNA==;sn=22376334"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non_refreshed_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjMzNA==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 11 2024 02:09:25.037768 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"C0z0_RIeaVa0Fh1vT1vpIHbijFxia_Oh9-zF_7KNZKU\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:25 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjMzNg==;sn=22376336"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjMzNg==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 11 2024 02:09:25.057210 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ib-usSzgRrd_gcYC5HWVeu91GCaHyoBYW2CyyjSQK3I\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:25 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjMzOA==;sn=22376338"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?key=%2A&label=prod&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 11 2024 02:09:25.075088 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"frETpU5zqJL51z7vRxFPxJEaXRWbGyCQ4bB9f0zyVvU\"",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjMzOQ==;sn=22376339"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/TestSecret\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-11T02:09:24+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
