{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Oct, 27 2023 20:40:18.566557 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022H9SDxvG944IudHxvwhnpn61sSEHTWU0XW8_qfEJkS_0\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQzMQ==;sn=24096431"
      },
      "ResponseBody": {
        "etag": "H9SDxvG944IudHxvwhnpn61sSEHTWU0XW8_qfEJkS_0",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQzMQ==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Oct, 27 2023 20:40:18.596132 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022fiegYNJloAsiPYJLdQ5Pa_m4o3xdujdUSOLOe8PWrYg\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQzMw==;sn=24096433"
      },
      "ResponseBody": {
        "etag": "fiegYNJloAsiPYJLdQ5Pa_m4o3xdujdUSOLOe8PWrYg",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQzMw==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Oct, 27 2023 20:40:18.623319 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ANKqEkH-9N0zCondjW-Hr0kwincQGCw-YoweXwUIN8I\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQzNQ==;sn=24096435"
      },
      "ResponseBody": {
        "etag": "ANKqEkH-9N0zCondjW-Hr0kwincQGCw-YoweXwUIN8I",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQzNQ==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Oct, 27 2023 20:40:18.649801 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022kVxuow-QvQRjWd3P8Ld3oEbQ593I9WBVfuXbEhg_EwQ\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQzNw==;sn=24096437"
      },
      "ResponseBody": {
        "etag": "kVxuow-QvQRjWd3P8Ld3oEbQ593I9WBVfuXbEhg_EwQ",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQzNw==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Oct, 27 2023 20:40:18.676261 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022G3JbkkyCi2LMJSfwd2Zwla-IW5X7mR0UK7dSvjF_jY8\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQzOQ==;sn=24096439"
      },
      "ResponseBody": {
        "etag": "G3JbkkyCi2LMJSfwd2Zwla-IW5X7mR0UK7dSvjF_jY8",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQzOQ==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Oct, 27 2023 20:40:18.700281 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Vqa90LlYq8AP79NadFmIsq_-Dl44q-UhND8YFMuysVI\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQ0MQ==;sn=24096441"
      },
      "ResponseBody": {
        "etag": "Vqa90LlYq8AP79NadFmIsq_-Dl44q-UhND8YFMuysVI",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQ0MQ==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Oct, 27 2023 20:40:18.724384 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Oct, 27 2023 20:40:18.748744 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQ0NA==;sn=24096444"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "2AUHNWMsvA2Yv1llsbsvbCWKgcGXRITJRajhPX_R1Wk",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2023-10-27T20:40:19\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
