{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022D7OM9h3H0kOJ1svx7WClGMrpZyLXwzeMCw_4pyBu388\u0022",
        "Last-Modified": "Thu, 21 Sep 2023 23:52:43 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODU5;sn=19908859"
      },
      "ResponseBody": {
        "etag": "D7OM9h3H0kOJ1svx7WClGMrpZyLXwzeMCw_4pyBu388",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-21T23:52:43\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODU5"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223oaIDVOYEsTmg4ILFDv65f3jwMzQoGyElFoFaF_V5X8\u0022",
        "Last-Modified": "Thu, 21 Sep 2023 23:52:44 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODYx;sn=19908861"
      },
      "ResponseBody": {
        "etag": "3oaIDVOYEsTmg4ILFDv65f3jwMzQoGyElFoFaF_V5X8",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-21T23:52:44\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODYx"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022vQP2D94c86Cxl0j92rtfqvrDrzvjuIbNLySXVxQoP2U\u0022",
        "Last-Modified": "Thu, 21 Sep 2023 23:52:44 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODYz;sn=19908863"
      },
      "ResponseBody": {
        "etag": "vQP2D94c86Cxl0j92rtfqvrDrzvjuIbNLySXVxQoP2U",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-21T23:52:44\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODYz"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022X2U7AhPVP_Q554g7jXzhRub_bAM8f44DbYtuGUsT1V8\u0022",
        "Last-Modified": "Thu, 21 Sep 2023 23:52:44 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODY1;sn=19908865"
      },
      "ResponseBody": {
        "etag": "X2U7AhPVP_Q554g7jXzhRub_bAM8f44DbYtuGUsT1V8",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-21T23:52:44\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODY1"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022TeWjh321FkEVVDh80AwtDuvgo-_W82_yFojdDeJGGSo\u0022",
        "Last-Modified": "Thu, 21 Sep 2023 23:52:44 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODY3;sn=19908867"
      },
      "ResponseBody": {
        "etag": "TeWjh321FkEVVDh80AwtDuvgo-_W82_yFojdDeJGGSo",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-21T23:52:44\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODY3"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Y-A6dSaBnhsF1k2QeRy4PhXCu0nhYPhWFDn8rARyKr0\u0022",
        "Last-Modified": "Thu, 21 Sep 2023 23:52:44 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODY5;sn=19908869"
      },
      "ResponseBody": {
        "etag": "Y-A6dSaBnhsF1k2QeRy4PhXCu0nhYPhWFDn8rARyKr0",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-21T23:52:44\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODY5"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODcx"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022nP52X4OThRW3YZOcfUcBA7fwaO3s3412t6gRIMbKQ84\u0022",
        "Last-Modified": "Thu, 21 Sep 2023 23:52:44 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODcz;sn=19908873"
      },
      "ResponseBody": {
        "etag": "nP52X4OThRW3YZOcfUcBA7fwaO3s3412t6gRIMbKQ84",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-21T23:52:44\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODc0;sn=19908874"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "nP52X4OThRW3YZOcfUcBA7fwaO3s3412t6gRIMbKQ84",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2023-09-21T23:52:44\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake-keyvault.vault.azure.net/secrets/fake-secret//?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "Very secret value",
        "id": "https://fake-keyvault.vault.azure.net/secrets/fake-secret//00fd1fd4454a4512ab9c841e501b7d6e",
        "attributes": {
          "enabled": true,
          "created": 1695340327,
          "updated": 1695340327,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "tags": {}
      }
    }
  ],
  "Variables": {}
}
