{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"CVh5tBFEhGttAY4MdLd4nIqZ-LtiuglQHSz3h2WV-wg\"",
        "x-ms-date": "Fri, 10 Apr 2026 17:16:19 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "tag_no_value",
            "label": null,
            "content_type": "text/plain",
            "value": "no value",
            "tags": {
              "a": ""
            },
            "locked": false,
            "last_modified": "2026-04-10T17:10:56+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
