{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 30 2025 21:46:23.945167 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "value": "hi",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RW7vCNIudtMnWM18u5OzkbSd924mmKmjzZObw2Yveuw\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:46:23 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-30T21:46:23+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/my_json?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 30 2025 21:46:23.974851 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "value": "{\"key\": \"value\"}",
        "content_type": "application/json"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"B0ZVVr2uZdcPSaNch1IH3TEX2Dcq-6gu7Npu8APdcmU\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:46:23 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-30T21:46:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/test.trimmed?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 30 2025 21:46:23.990676 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "value": "key",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eFqlM-47J7CWiyYsq1HZUJ4oHxx5oR2zzxBqmo_icxc\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:46:23 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-30T21:46:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 30 2025 21:46:24.004000 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "value": "original value",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yzTTzONZ2ItC2FMnn-sBzuARSVBe1yJpRzKJR9wXN1g\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:46:23 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-30T21:46:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 30 2025 21:46:24.018677 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "value": "Static",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kIPo1WkeXN6wpdsvFjTB1xDicW3W2R5YsmSBpbpLkAY\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:46:24 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-30T21:46:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/tagged_config?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 30 2025 21:46:24.033661 GMT"
      },
      "RequestBody": {
        "key": "tagged_config",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "a": "b"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LAPrGcoizm6gCpc_HiYxkd1vx2GtF9TPqUgyAmRxfAk\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:46:24 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "tagged_config",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "a": "b"
        },
        "locked": false,
        "last_modified": "2025-09-30T21:46:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/two_tagged?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 30 2025 21:46:24.047042 GMT"
      },
      "RequestBody": {
        "key": "two_tagged",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "a": "b",
          "second": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-H02iOFkw94xn9jP-Lw6GYA3XN6dh_eXDQhnclCdwzU\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:46:24 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "two_tagged",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "a": "b",
          "second": "tag"
        },
        "locked": false,
        "last_modified": "2025-09-30T21:46:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/only_second_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 30 2025 21:46:24.061975 GMT"
      },
      "RequestBody": {
        "key": "only_second_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "second": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xGfcDpfRz95h1sieFqQ0BHl9RFeKHoqPFnH4LSM_o1U\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:46:24 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "only_second_tag",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "second": "tag"
        },
        "locked": false,
        "last_modified": "2025-09-30T21:46:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/complex_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 30 2025 21:46:24.075651 GMT"
      },
      "RequestBody": {
        "key": "complex_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "Special:Tag": "Value:With:Colons",
          "Tag@With@At": "Value@With@At"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uYqxh3yiSl8UMPHbWdyMuUj5ysIzhCM10Gbr_oYylLY\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:46:24 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "complex_tag",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "Special:Tag": "Value:With:Colons",
          "Tag@With@At": "Value@With@At"
        },
        "locked": false,
        "last_modified": "2025-09-30T21:46:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 30 2025 21:46:24.091805 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iwbvmc-qPTI-7qHgCPJG-PjG8uQ5AqOUwFh4InWEx_4\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:46:24 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-30T21:46:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FTaggedFeatureFlag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 30 2025 21:46:24.105935 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/TaggedFeatureFlag",
        "label": "\u0000",
        "value": "{\t\"id\": \"TaggedFeatureFlag\", \"[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/multi_tagged?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 30 2025 21:46:24.121005 GMT"
      },
      "RequestBody": {
        "key": "multi_tagged",
        "label": "\u0000",
        "value": "multi tagged value",
        "content_type": "text/plain",
        "tags": {
          "a": "b",
          "c": "d"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VIdxwRyZKHwx4GPbMqIZiqbltDrKXHcftPFH_14UFIA\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:46:24 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "multi_tagged",
        "label": null,
        "content_type": "text/plain",
        "value": "multi tagged value",
        "tags": {
          "a": "b",
          "c": "d"
        },
        "locked": false,
        "last_modified": "2025-09-30T21:46:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/special_chars?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 30 2025 21:46:24.136525 GMT"
      },
      "RequestBody": {
        "key": "special_chars",
        "label": "\u0000",
        "value": "special",
        "content_type": "text/plain",
        "tags": {
          "special@tag": "special:value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tPiWgqHyolB58HL-rWuJAzjFcTo6y9ZfwO_46wGoq2k\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:46:24 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "special_chars",
        "label": null,
        "content_type": "text/plain",
        "value": "special",
        "tags": {
          "special@tag": "special:value"
        },
        "locked": false,
        "last_modified": "2025-09-30T21:46:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/no_tags?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 30 2025 21:46:24.150427 GMT"
      },
      "RequestBody": {
        "key": "no_tags",
        "label": "\u0000",
        "value": "no tags",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"K0zwjLdjLHbnGhnf6GCucjEPLqxP-i3NNzQGWXfsAzo\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:46:24 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "no_tags",
        "label": null,
        "content_type": "text/plain",
        "value": "no tags",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-30T21:46:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/tag_no_value?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 30 2025 21:46:24.163170 GMT"
      },
      "RequestBody": {
        "key": "tag_no_value",
        "label": "\u0000",
        "value": "no value",
        "content_type": "text/plain",
        "tags": {
          "a": ""
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HpJzbZ9ZSfZNBH6nGqSzo37PnW9wSfZL-6YU-f50fJQ\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:46:24 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "tag_no_value",
        "label": null,
        "content_type": "text/plain",
        "value": "no value",
        "tags": {
          "a": ""
        },
        "locked": false,
        "last_modified": "2025-09-30T21:46:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/different_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 30 2025 21:46:24.177261 GMT"
      },
      "RequestBody": {
        "key": "different_tag",
        "label": "\u0000",
        "value": "different",
        "content_type": "text/plain",
        "tags": {
          "different": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_JF641TL54m0F9YINCPb_j607I49VY2lH47H7CG50Ew\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:46:24 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "different_tag",
        "label": null,
        "content_type": "text/plain",
        "value": "different",
        "tags": {
          "different": "tag"
        },
        "locked": false,
        "last_modified": "2025-09-30T21:46:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/null_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 30 2025 21:46:24.191033 GMT"
      },
      "RequestBody": {
        "key": "null_tag",
        "label": "\u0000",
        "value": "null tag",
        "content_type": "text/plain",
        "tags": {
          "tag": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Z_RltaXHWTabwTaR5360INpuQth5i4gRcfB2l1awtek\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:46:24 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "null_tag",
        "label": null,
        "content_type": "text/plain",
        "value": "null tag",
        "tags": {
          "tag": null
        },
        "locked": false,
        "last_modified": "2025-09-30T21:46:24+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 30 2025 21:46:24.215942 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"hNFEYjD1B5B5Zxx-Jjt0fkP1Nq7zKvdZuu0jTUOTlIE\""
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\": \"https://Sanitized.vault.azure.net/secrets/fake-secret/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-30T21:46:22+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "secret2",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\": \"https://Sanitized.vault.azure.net/secrets/fake-secret2/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-30T21:44:51+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
