{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Dec, 06 2023 23:22:21.920952 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022gADqZ1nbIgS9y8d3Gk-k5lvOnHeiZu8IQiv5CyehaPg\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:21 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDkxMw==;sn=24454913"
      },
      "ResponseBody": {
        "etag": "gADqZ1nbIgS9y8d3Gk-k5lvOnHeiZu8IQiv5CyehaPg",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:21\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDkxMw==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Dec, 06 2023 23:22:21.964133 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Y66n5UorK9PWo_YiVrEfQ-Rv-XHcuMeD5cVIlzdhUug\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:21 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDkxNQ==;sn=24454915"
      },
      "ResponseBody": {
        "etag": "Y66n5UorK9PWo_YiVrEfQ-Rv-XHcuMeD5cVIlzdhUug",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:21\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDkxNQ==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Dec, 06 2023 23:22:21.999906 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022IRvROpe_iTwzXMIMk8mFbVFaCa4PzSULH9y1ZPvtWD4\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:21 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDkxNw==;sn=24454917"
      },
      "ResponseBody": {
        "etag": "IRvROpe_iTwzXMIMk8mFbVFaCa4PzSULH9y1ZPvtWD4",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:21\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDkxNw==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Dec, 06 2023 23:22:22.021155 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022TSEZaNYaQiQeyVh6WxFF2fCbWTmvGheo6PwI_zXx4w0\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:21 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDkxOQ==;sn=24454919"
      },
      "ResponseBody": {
        "etag": "TSEZaNYaQiQeyVh6WxFF2fCbWTmvGheo6PwI_zXx4w0",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:21\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDkxOQ==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Dec, 06 2023 23:22:22.084284 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00228hhuq72O24LBnkjeJ972PUJvqo4CGOWruYM6ZpYDQYo\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:21 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDkyMQ==;sn=24454921"
      },
      "ResponseBody": {
        "etag": "8hhuq72O24LBnkjeJ972PUJvqo4CGOWruYM6ZpYDQYo",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:21\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDkyMQ==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Dec, 06 2023 23:22:22.115433 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00229LzdhLTZ_k42Mmm4QGTlFDl7bV7VWU8fsqnBIIcPC9Y\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:21 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDkyMw==;sn=24454923"
      },
      "ResponseBody": {
        "etag": "9LzdhLTZ_k42Mmm4QGTlFDl7bV7VWU8fsqnBIIcPC9Y",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:21\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDkyMw==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Dec, 06 2023 23:22:22.147180 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDkyNQ==",
        "x-ms-content-sha256": "GORL5\u002BRWXCSHKWOJcYQpPM03mZ4lvE/r5VQBfftpZRg=",
        "x-ms-date": "Dec, 06 2023 23:22:22.172401 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "co[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Dec, 06 2023 23:22:22.203275 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022E-xcX2V8Nv5xjAoh9rAEcV4av74T_WTERbSe7dHprR0\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDkyOA==;sn=24454928"
      },
      "ResponseBody": {
        "etag": "E-xcX2V8Nv5xjAoh9rAEcV4av74T_WTERbSe7dHprR0",
        "items": [
          {
            "etag": "UKcY7ntA4rG-6Qn20X3DG92X0036qTwrZ-on-1KlFis",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
