{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 09 2024 18:31:19.088524 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"X2PwikfZhhh_wfFYt8JscmOrnCnv1USNaa6qxbUHDP8\"",
        "Last-Modified": "Thu, 09 May 2024 18:31:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc3MDcxNw==;sn=26770717"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T18:31:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?label=dev&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc3MDcxNw==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 09 2024 18:31:19.108563 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gpljvrSGEcTi4viz-ZHZKyh_JP-tDtXq1H1fO3we5h0\"",
        "Last-Modified": "Thu, 09 May 2024 18:31:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc3MDcxOQ==;sn=26770719"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T18:31:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/my_json?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc3MDcxOQ==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 09 2024 18:31:19.127621 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GQRnzRXdK--j7fTC2K3xwfZpRAM-cMBJuo42SlW2spg\"",
        "Last-Modified": "Thu, 09 May 2024 18:31:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc3MDcyMQ==;sn=26770721"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T18:31:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/test.trimmed?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc3MDcyMQ==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 09 2024 18:31:19.144704 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JjNNK8fL5j7DZQYSqU1ILLHSL1Vb3ZykAs9f3hH5kYY\"",
        "Last-Modified": "Thu, 09 May 2024 18:31:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc3MDcyMw==;sn=26770723"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T18:31:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc3MDcyMw==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 09 2024 18:31:19.158783 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"h8t_TU4uWRpTjiEulZEJWqGVlnYZv6yAm0-Il6n_0x0\"",
        "Last-Modified": "Thu, 09 May 2024 18:31:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc3MDcyNQ==;sn=26770725"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T18:31:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non_refreshed_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc3MDcyNQ==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 09 2024 18:31:19.172795 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ISBUNlh_H1VLYsJl_4HTwbbzW0K5TxoUPo0RzZ5mw-o\"",
        "Last-Modified": "Thu, 09 May 2024 18:31:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc3MDcyNw==;sn=26770727"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T18:31:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc3MDcyNw==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 09 2024 18:31:19.186889 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ioe3Qo9gDwH3pnw60LOW21BJXW2bav9UwCGR_3U-UAo\"",
        "Last-Modified": "Thu, 09 May 2024 18:31:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc3MDcyOQ==;sn=26770729"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T18:31:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/secret?label=prod&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc3MDcyOQ==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 09 2024 18:31:19.206922 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"C8FebRK9hwkkEWOEEJJmUUaNx-hNk2kppzuOv04eyx0\"",
        "Last-Modified": "Thu, 09 May 2024 18:31:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc3MDczMQ==;sn=26770731"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T18:31:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?key=*&label=prod&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 09 2024 18:31:19.221004 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"eWicm56Z8Yn3Lzd0l8K_WoV7hIBEu9rLKQbufAUy6zo\"",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc3MDczMg==;sn=26770732"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-09T18:31:19+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/fake-secret/?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/30d8830ec5ed4a428d311292a826f452",
        "value": "Very secret value",
        "attributes": {
          "enabled": true,
          "created": 1697584056,
          "updated": 1697584056,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        },
        "tags": {}
      }
    }
  ],
  "Variables": {}
}
