{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"CLJu8kYMUmPV-_31IdmJkSLN9Ac0H9kSjZkEruCCcbY\"",
        "Last-Modified": "Mon, 17 Jun 2024 17:07:15 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-17T17:07:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?label=dev&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GgoN_Et4R_wm8429tX-NbrkeJAJDe8BI0d8lbgpmwpM\"",
        "Last-Modified": "Mon, 17 Jun 2024 17:07:15 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-17T17:07:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/my_json?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"CoUVrUWeaEUNIGyrGHXA57sxyaOJmjAUGYE0_J0_Qsc\"",
        "Last-Modified": "Mon, 17 Jun 2024 17:07:15 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-17T17:07:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/test.trimmed?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aB7ElTeuDW7b2NYrXQN7SrRTXlv5bsXLKvZd1SFAqfI\"",
        "Last-Modified": "Mon, 17 Jun 2024 17:07:15 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-17T17:07:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iq-jaMiNUrHBO8xKMNSSUzSWNgDCP4IVG8dQiSy5il8\"",
        "Last-Modified": "Mon, 17 Jun 2024 17:07:15 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-17T17:07:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non_refreshed_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TERHMQkpl-06ZM2GbaQSXWcRAvt5fjc08N79a1aQxxE\"",
        "Last-Modified": "Mon, 17 Jun 2024 17:07:15 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-17T17:07:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xA8_TF6IDc9Fh_cCeBY2DQs__VtGo3Z36RZ5WxO5YIg\"",
        "Last-Modified": "Mon, 17 Jun 2024 17:07:15 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-17T17:07:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/secret?label=prod&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6A8t7eJQvEYF8SyVzzlB8AphG3bWHG0KrkbtrHTvPf8\"",
        "Last-Modified": "Mon, 17 Jun 2024 17:07:15 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-17T17:07:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?key=*&label=prod&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"e2C9tUB1LAm5IgkONYBz46acg6PqkGbfvNSyexCOK1Y\""
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-06-17T17:07:15+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/fake-secret/?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/30d8830ec5ed4a428d311292a826f452",
        "value": "Very secret value",
        "attributes": {
          "enabled": true,
          "created": 1697584056,
          "updated": 1697584056,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        },
        "tags": {}
      }
    }
  ],
  "Variables": {}
}
