{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/watch%20key?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "watch key",
        "value": "0",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wvudRK98Hhi9QBv7KhmpupG1O16uwW3mFmp-G905g_o\"",
        "Last-Modified": "Fri, 10 Apr 2026 16:42:11 GMT",
        "x-ms-date": "Fri, 10 Apr 2026 16:42:11 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "watch key",
        "label": null,
        "content_type": null,
        "value": "0",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-10T16:42:11+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"uY7zSdK-q3chDOdfFpjIFfPpI7CKnKnUtb4JAU8mj8E\"",
        "x-ms-date": "Fri, 10 Apr 2026 16:42:13 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-10T16:39:37+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/RegularFeature",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"RegularFeature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"descripti[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LsAGV5X5FChObc8W8YH3HDPzAQxGib8FAXfI8cdhlTA\"",
        "Last-Modified": "Fri, 10 Apr 2026 16:42:09 GMT",
        "x-ms-date": "Fri, 10 Apr 2026 16:42:13 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-10T16:42:09+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/watch%20key?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"wvudRK98Hhi9QBv7KhmpupG1O16uwW3mFmp-G905g_o\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Fri, 10 Apr 2026 16:42:13 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"TIw56ryj9XwMOLavjXqZ1BqNuWp2r2D8c7BKKQ3-fEg\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Fri, 10 Apr 2026 16:42:13 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FRegularFeature?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"dpV2bvGX9flfl_KNtH9R2RvOuJSiTQ305iLEmtE5EDE\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Fri, 10 Apr 2026 16:42:13 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FRegularFeatureDisabled?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"-R9Bf_9FC7rfMZ78UP6G_Hx55IGwLeDEmETqLFvjheM\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Fri, 10 Apr 2026 16:42:13 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FSnapshotFeature?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"rLmuSdob9afK_5mdTtCVdQiTVeTyLVJaoXTGqlrlj4Y\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Fri, 10 Apr 2026 16:42:13 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FSnapshotFeatureDisabled?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"sr_Va5wW95RwF0b3nC9lruitUmluJjWhSECcE8NcxXo\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Fri, 10 Apr 2026 16:42:13 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FSnapshotOnlyFeature?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"08NDzVm9gEVPxknWktF_TUXVIsmwAjbuDp82u-zsMhE\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Fri, 10 Apr 2026 16:42:13 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FTaggedFeatureFlag?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"l3rqs9XK859xu5QmanAVpxPj-GF-tpf1wQnkXhL86Mo\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Fri, 10 Apr 2026 16:42:13 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/watch%20key?api-version=1970-01-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aU_ugp_Fbnw0MJqxRbkX72RfVOVNDoiN0U172rL5Fyc\"",
        "Last-Modified": "Fri, 10 Apr 2026 16:42:14 GMT",
        "x-ms-date": "Fri, 10 Apr 2026 16:42:14 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "watch key",
        "label": null,
        "content_type": null,
        "value": "1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-10T16:42:14+00:00"
      }
    }
  ],
  "Variables": {}
}
