{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022-daEJp_ww7AWR12MsbJTSnSsUHOF6I3_XM3ylshfWYk\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU1Mw==;sn=24096553"
      },
      "ResponseBody": {
        "etag": "-daEJp_ww7AWR12MsbJTSnSsUHOF6I3_XM3ylshfWYk",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:24\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU1Mw=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022lY6t4ulkR6UUked521Gc2lJyXbbBqXo3pCc1zo3UbFs\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU1NQ==;sn=24096555"
      },
      "ResponseBody": {
        "etag": "lY6t4ulkR6UUked521Gc2lJyXbbBqXo3pCc1zo3UbFs",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:24\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU1NQ=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022W8hHx-yKcIXQOpLZJa7Rnvf6KzB-3cs5gd8bNZ_p2FU\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU1Nw==;sn=24096557"
      },
      "ResponseBody": {
        "etag": "W8hHx-yKcIXQOpLZJa7Rnvf6KzB-3cs5gd8bNZ_p2FU",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:24\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU1Nw=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022WipuCelNSG9CPkfpCclb8qz5oE7lzSP6PU815R_xvzc\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU1OQ==;sn=24096559"
      },
      "ResponseBody": {
        "etag": "WipuCelNSG9CPkfpCclb8qz5oE7lzSP6PU815R_xvzc",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:24\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU1OQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022kgtz9Pk2vJagUr9c4UKcj_6XcWsks6Jpq_DDFnEbVXo\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU2MQ==;sn=24096561"
      },
      "ResponseBody": {
        "etag": "kgtz9Pk2vJagUr9c4UKcj_6XcWsks6Jpq_DDFnEbVXo",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:24\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU2MQ=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022eNqCj3lZcbbhOUsliAmGg1Qkuo1OcvfjcQjtDQactrc\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU2Mw==;sn=24096563"
      },
      "ResponseBody": {
        "etag": "eNqCj3lZcbbhOUsliAmGg1Qkuo1OcvfjcQjtDQactrc",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:24\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU2Mw=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU2NQ=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022oYxBWE-myIRDB3UxsyGY-DzqrTdIVUdrisLIyPaEzgE\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU2Nw==;sn=24096567"
      },
      "ResponseBody": {
        "etag": "oYxBWE-myIRDB3UxsyGY-DzqrTdIVUdrisLIyPaEzgE",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:24\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU2OA==;sn=24096568"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "MuQnKjXz24xm4MLh8AEQSSw8sVfzGkCwfFIjBmJQ4Vk",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU2OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022kgtz9Pk2vJagUr9c4UKcj_6XcWsks6Jpq_DDFnEbVXo\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU2OA==;sn=24096568"
      },
      "ResponseBody": {
        "etag": "kgtz9Pk2vJagUr9c4UKcj_6XcWsks6Jpq_DDFnEbVXo",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:24\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU2OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022eNqCj3lZcbbhOUsliAmGg1Qkuo1OcvfjcQjtDQactrc\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU3MA==;sn=24096570"
      },
      "ResponseBody": {
        "etag": "eNqCj3lZcbbhOUsliAmGg1Qkuo1OcvfjcQjtDQactrc",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:24\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU3Mw=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "content_type": "text/plain",
        "value": "Static",
        "last_modified": "2023-10-27T20:40:24.000Z",
        "tags": {},
        "locked": false,
        "etag": "eNqCj3lZcbbhOUsliAmGg1Qkuo1OcvfjcQjtDQactrc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00227vrQcdSxnanEZ_ihnRRT2kb4QHsY-Olpn0dj5n893Mw\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:26 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjU3NQ==;sn=24096575"
      },
      "ResponseBody": {
        "etag": "7vrQcdSxnanEZ_ihnRRT2kb4QHsY-Olpn0dj5n893Mw",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:26\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
