{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17+9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF+AgFzgI=",
        "x-ms-date": "May, 09 2024 17:22:31.239130 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UJVg2PIZ2cAwNSJOHah3ZjDqnMrJV7km18p7QFF2VIE\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:31 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjIzOQ==;sn=26766239"
      },
      "ResponseBody": {
        "etag": "UJVg2PIZ2cAwNSJOHah3ZjDqnMrJV7km18p7QFF2VIE",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:31+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjIzOQ==",
        "x-ms-content-sha256": "ldGB+yUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "May, 09 2024 17:22:31.260461 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cn_-e8RDwpl3rFGPNU-416hzqixfrmatu6tboWFGZOE\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:31 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI0MQ==;sn=26766241"
      },
      "ResponseBody": {
        "etag": "cn_-e8RDwpl3rFGPNU-416hzqixfrmatu6tboWFGZOE",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:31+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI0MQ==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr+sa5KgTtCgv2+3ps1kcPne0Y=",
        "x-ms-date": "May, 09 2024 17:22:31.273516 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ogeb0LM3r9Iph29TCZOAPWhOFaktehTcIL4CNzCDkXM\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:31 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI0Mw==;sn=26766243"
      },
      "ResponseBody": {
        "etag": "ogeb0LM3r9Iph29TCZOAPWhOFaktehTcIL4CNzCDkXM",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:31+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI0Mw==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "May, 09 2024 17:22:31.289641 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sSHwUZoqJWqDgF5es9djggjwyCUKOIh_DL3jWGHQop8\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:31 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI0NQ==;sn=26766245"
      },
      "ResponseBody": {
        "etag": "sSHwUZoqJWqDgF5es9djggjwyCUKOIh_DL3jWGHQop8",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:31+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI0NQ==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "May, 09 2024 17:22:31.302744 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"J6RDcqmHO1o0x9bF0P73uTrNOaN9eAWBobEIhhlfKhU\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:31 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI0Nw==;sn=26766247"
      },
      "ResponseBody": {
        "etag": "J6RDcqmHO1o0x9bF0P73uTrNOaN9eAWBobEIhhlfKhU",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:31+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI0Nw==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "May, 09 2024 17:22:31.316821 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_bUGb3gF1_TpGD29xlxfnzI2REY6qLwz0NQyUPoRptU\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:31 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI0OQ==;sn=26766249"
      },
      "ResponseBody": {
        "etag": "_bUGb3gF1_TpGD29xlxfnzI2REY6qLwz0NQyUPoRptU",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:31+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI0OQ==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "May, 09 2024 17:22:31.332019 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cSzAbxkenMa9lccxzwUDRH74n94tXi13qgoRWWTfWxk\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:31 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI1MQ==;sn=26766251"
      },
      "ResponseBody": {
        "etag": "cSzAbxkenMa9lccxzwUDRH74n94tXi13qgoRWWTfWxk",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:31+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI1MQ==",
        "x-ms-content-sha256": "GORL5+RWXCSHKWOJcYQpPM03mZ4lvE/r5VQBfftpZRg=",
        "x-ms-date": "May, 09 2024 17:22:31.346186 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nq4YyWoiQbrEHd3lyqxuh9mrEeLKqFLjQBKRgbRi_n0\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:31 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI1Mw==;sn=26766253"
      },
      "ResponseBody": {
        "etag": "nq4YyWoiQbrEHd3lyqxuh9mrEeLKqFLjQBKRgbRi_n0",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:31+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=message*&label=dev&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "May, 09 2024 17:22:31.361333 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"3HvJtgyrH1T38cfDCsXgPIuMNX6P0Qv7lCqlaqY7fmY\"",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI1NA==;sn=26766254"
      },
      "ResponseBody": {
        "etag": "3HvJtgyrH1T38cfDCsXgPIuMNX6P0Qv7lCqlaqY7fmY",
        "items": [
          {
            "etag": "cn_-e8RDwpl3rFGPNU-416hzqixfrmatu6tboWFGZOE",
            "key": "message",
            "label": "dev",
            "content_type": "text/plain",
            "value": "test",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-09T17:22:31+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
