{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223OAYb-J91DvRTTeVrAZaRQgpXGVk1_SwiXmrQi5G9TQ\u0022",
        "Last-Modified": "Tue, 17 Oct 2023 23:35:55 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTI1NQ==;sn=23975255"
      },
      "ResponseBody": {
        "etag": "3OAYb-J91DvRTTeVrAZaRQgpXGVk1_SwiXmrQi5G9TQ",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-17T23:35:55\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTI1NQ=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022HuW4NhxCwAJBOmEU2WP1QWSlSDwqlKIw9gn1NEjH2BM\u0022",
        "Last-Modified": "Tue, 17 Oct 2023 23:35:55 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTI1Nw==;sn=23975257"
      },
      "ResponseBody": {
        "etag": "HuW4NhxCwAJBOmEU2WP1QWSlSDwqlKIw9gn1NEjH2BM",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-17T23:35:55\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTI1Nw=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022RGJfsEPqh98jxiDlwxYbKRhUqJq0Qw3RO_QLKm67CSQ\u0022",
        "Last-Modified": "Tue, 17 Oct 2023 23:35:55 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTI1OQ==;sn=23975259"
      },
      "ResponseBody": {
        "etag": "RGJfsEPqh98jxiDlwxYbKRhUqJq0Qw3RO_QLKm67CSQ",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-17T23:35:55\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTI1OQ=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Z4c2vW5L29SVAqlAGxWFe5jvmoPWiVgRzC9NqNwOI5g\u0022",
        "Last-Modified": "Tue, 17 Oct 2023 23:35:55 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTI2MQ==;sn=23975261"
      },
      "ResponseBody": {
        "etag": "Z4c2vW5L29SVAqlAGxWFe5jvmoPWiVgRzC9NqNwOI5g",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-17T23:35:55\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTI2MQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022a1mT5Eg6yLgLdUyyWzkEcHw0DhPW_CvSL4SubQp2y-0\u0022",
        "Last-Modified": "Tue, 17 Oct 2023 23:35:55 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTI2Mw==;sn=23975263"
      },
      "ResponseBody": {
        "etag": "a1mT5Eg6yLgLdUyyWzkEcHw0DhPW_CvSL4SubQp2y-0",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-17T23:35:55\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTI2Mw=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022cKiIW-JwGYmgiu0NFah6tws-I-if-JzdrYSeJYR7iR8\u0022",
        "Last-Modified": "Tue, 17 Oct 2023 23:35:55 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTI2NQ==;sn=23975265"
      },
      "ResponseBody": {
        "etag": "cKiIW-JwGYmgiu0NFah6tws-I-if-JzdrYSeJYR7iR8",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-17T23:35:55\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTI2NQ=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTI2OA==;sn=23975268"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "seuoQ77oNLwfWk4IXYluoF7mU9zE66UV0I3pFozoUfU",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2023-10-17T23:35:54\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
