{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Gk3tfYdtluNIR3wqIomWbi-n0sRx1zjjRAZTQRduCks\"",
        "x-ms-date": "Wed, 18 Mar 2026 20:58:09 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "null_tag",
            "label": null,
            "content_type": "text/plain",
            "value": "null tag",
            "tags": {
              "tag": null
            },
            "locked": false,
            "last_modified": "2026-03-18T20:52:45+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
