{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:02.720088 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "value": "hi",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ggxwG6xxEVe-agTRCt9-aENAknmsSEQGItYks93qTm8\"",
        "Last-Modified": "Wed, 02 Jul 2025 23:10:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-02T23:10:03+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/my_json?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:02.788366 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "value": "{\"key\": \"value\"}",
        "content_type": "application/json"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OIUpXuI7oCtQE1R3prKfAolOekQEVibxW3QV5cJkgzE\"",
        "Last-Modified": "Wed, 02 Jul 2025 23:10:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-02T23:10:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/test.trimmed?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:02.803398 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "value": "key",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AX7jl3EdIzWUfBadss16O3jeUXD4262sX5Qwbjlv_Tc\"",
        "Last-Modified": "Wed, 02 Jul 2025 23:10:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-02T23:10:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:02.819538 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "value": "original value",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YlTUTqH6fprKSirZzGbKyEcSPHwTANN9_Ts6xsGjOWM\"",
        "Last-Modified": "Wed, 02 Jul 2025 23:10:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-02T23:10:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:02.836552 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "value": "Static",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9Im-wkTnlypV2-dGfI-YcW425qCE9TfoEXQVQOp_9aY\"",
        "Last-Modified": "Wed, 02 Jul 2025 23:10:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-02T23:10:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/tagged_config?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:02.852322 GMT"
      },
      "RequestBody": {
        "key": "tagged_config",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "a": "b"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GQktEa58ZaQKmI2uFCHcLtrWdoQiX1rPnyXCZ2rKoT0\"",
        "Last-Modified": "Wed, 02 Jul 2025 23:10:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "tagged_config",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "a": "b"
        },
        "locked": false,
        "last_modified": "2025-07-02T23:10:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/two_tagged?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:02.867257 GMT"
      },
      "RequestBody": {
        "key": "two_tagged",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "a": "b",
          "second": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zydf6SQNugbA9zDGDAvm_hmgbLi-a5ifiB6lkFSS63s\"",
        "Last-Modified": "Wed, 02 Jul 2025 23:10:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "two_tagged",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "a": "b",
          "second": "tag"
        },
        "locked": false,
        "last_modified": "2025-07-02T23:10:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/only_second_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:02.881714 GMT"
      },
      "RequestBody": {
        "key": "only_second_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "second": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EJDCP1Y3GSe9Z0wMXyV8sdZrGJbVoPyelBJXGtxBqDs\"",
        "Last-Modified": "Wed, 02 Jul 2025 23:10:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "only_second_tag",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "second": "tag"
        },
        "locked": false,
        "last_modified": "2025-07-02T23:10:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/complex_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:02.896894 GMT"
      },
      "RequestBody": {
        "key": "complex_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "Special:Tag": "Value:With:Colons",
          "Tag@With@At": "Value@With@At"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"siEW7mGEz98_jtNA6zPkWPW5w8V2l48ZWHSppGc6_fw\"",
        "Last-Modified": "Wed, 02 Jul 2025 23:10:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "complex_tag",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "Special:Tag": "Value:With:Colons",
          "Tag@With@At": "Value@With@At"
        },
        "locked": false,
        "last_modified": "2025-07-02T23:10:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:02.912851 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4FEa_9Niudh33GB-0nlf4nrIZXnJAChY9BmYjmXngk0\"",
        "Last-Modified": "Wed, 02 Jul 2025 23:10:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-02T23:10:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FTaggedFeatureFlag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:02.927863 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/TaggedFeatureFlag",
        "label": "\u0000",
        "value": "{\t\"id\": \"TaggedFeatureFlag\", \"[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/multi_tagged?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:02.946427 GMT"
      },
      "RequestBody": {
        "key": "multi_tagged",
        "label": "\u0000",
        "value": "multi tagged value",
        "content_type": "text/plain",
        "tags": {
          "a": "b",
          "c": "d"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GCY8EXBQWdokZMWjVrdpdmSjHxkEqXRn__-f5rLV784\"",
        "Last-Modified": "Wed, 02 Jul 2025 23:10:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "multi_tagged",
        "label": null,
        "content_type": "text/plain",
        "value": "multi tagged value",
        "tags": {
          "a": "b",
          "c": "d"
        },
        "locked": false,
        "last_modified": "2025-07-02T23:10:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/special_chars?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:02.960439 GMT"
      },
      "RequestBody": {
        "key": "special_chars",
        "label": "\u0000",
        "value": "special",
        "content_type": "text/plain",
        "tags": {
          "special@tag": "special:value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pH1ZJ3aKXVXg8_Jw9oZ3hNPYWRvoTXfNR6GWjgLoX1I\"",
        "Last-Modified": "Wed, 02 Jul 2025 23:10:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "special_chars",
        "label": null,
        "content_type": "text/plain",
        "value": "special",
        "tags": {
          "special@tag": "special:value"
        },
        "locked": false,
        "last_modified": "2025-07-02T23:10:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/no_tags?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:02.978464 GMT"
      },
      "RequestBody": {
        "key": "no_tags",
        "label": "\u0000",
        "value": "no tags",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uVjS9PX5f1KAzN4e7u-9sS4EXe8k2To0NUmhEuDRQVU\"",
        "Last-Modified": "Wed, 02 Jul 2025 23:10:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "no_tags",
        "label": null,
        "content_type": "text/plain",
        "value": "no tags",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-02T23:10:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/tag_no_value?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:02.993371 GMT"
      },
      "RequestBody": {
        "key": "tag_no_value",
        "label": "\u0000",
        "value": "no value",
        "content_type": "text/plain",
        "tags": {
          "a": ""
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EQEhWsJhgPuCnDKyLDpHcKult0oSJTp0NGeuIBzQFms\"",
        "Last-Modified": "Wed, 02 Jul 2025 23:10:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "tag_no_value",
        "label": null,
        "content_type": "text/plain",
        "value": "no value",
        "tags": {
          "a": ""
        },
        "locked": false,
        "last_modified": "2025-07-02T23:10:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/different_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:03.008426 GMT"
      },
      "RequestBody": {
        "key": "different_tag",
        "label": "\u0000",
        "value": "different",
        "content_type": "text/plain",
        "tags": {
          "different": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"33wyk9lhCnYH2Y70dSFE2yPvLCZy158qzVk_R-hh0-k\"",
        "Last-Modified": "Wed, 02 Jul 2025 23:10:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "different_tag",
        "label": null,
        "content_type": "text/plain",
        "value": "different",
        "tags": {
          "different": "tag"
        },
        "locked": false,
        "last_modified": "2025-07-02T23:10:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/null_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:03.022439 GMT"
      },
      "RequestBody": {
        "key": "null_tag",
        "label": "\u0000",
        "value": "null tag",
        "content_type": "text/plain",
        "tags": {
          "tag": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SOHK46hd867RZaXo2x-Bh7kNmOKSpaXL4nklC_Gb7Do\"",
        "Last-Modified": "Wed, 02 Jul 2025 23:10:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "null_tag",
        "label": null,
        "content_type": "text/plain",
        "value": "null tag",
        "tags": {
          "tag": null
        },
        "locked": false,
        "last_modified": "2025-07-02T23:10:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:03.085174 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ZZ2XP0-sYYp_ddpT_OtkCqE5XAHMlMs4JOUac7jzBZk\""
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "complex_tag",
            "label": null,
            "content_type": "text/plain",
            "value": null,
            "tags": {
              "Special:Tag": "Value:With:Colons",
              "Tag@With@At": "Value@With@At"
            },
            "locked": false,
            "last_modified": "2025-07-02T23:10:03+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/only_second_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:03.227915 GMT"
      },
      "RequestBody": {
        "key": "only_second_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "second": "tag"
        }
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "55"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jul, 02 2025 23:10:03.801219 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"hRbKpbYfsGMdidoEpNZS7YiRS_G6cTM-MWxvpTKOz_E\""
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "complex_tag",
            "label": null,
            "content_type": "text/plain",
            "value": null,
            "tags": {
              "Special:Tag": "Value:With:Colons",
              "Tag@With@At": "Value@With@At"
            },
            "locked": false,
            "last_modified": "2025-07-02T23:10:03+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
