{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022UtfXaTtkPL8NK5qd03PvAuZfUobDUOd6DtZdIc8_QmM\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:46:05 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzIwMw==;sn=25087203"
      },
      "ResponseBody": {
        "etag": "UtfXaTtkPL8NK5qd03PvAuZfUobDUOd6DtZdIc8_QmM",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:46:05\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzIwMw=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022bl3-6FpMQ_6XUpUr_--Pwn5Kk4rlCO5KjBb2svYKyCM\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:46:05 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzIwNQ==;sn=25087205"
      },
      "ResponseBody": {
        "etag": "bl3-6FpMQ_6XUpUr_--Pwn5Kk4rlCO5KjBb2svYKyCM",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:46:05\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzIwNQ=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u002298z2lTKVAyFUzJzUDVBtsnov6m8a85pgZp9K78XeeuU\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:46:05 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzIwNw==;sn=25087207"
      },
      "ResponseBody": {
        "etag": "98z2lTKVAyFUzJzUDVBtsnov6m8a85pgZp9K78XeeuU",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:46:05\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzIwNw=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022k_dqVlnih34PPq4Tii6lSDLpcbZPLHSXMFdA3ByJl-k\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:46:05 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzIwOQ==;sn=25087209"
      },
      "ResponseBody": {
        "etag": "k_dqVlnih34PPq4Tii6lSDLpcbZPLHSXMFdA3ByJl-k",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:46:05\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzIwOQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u002261xCT0FpDyskOETljNk9HDSGJ0NvEzWCBXPMcjorB84\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:46:05 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzIxMQ==;sn=25087211"
      },
      "ResponseBody": {
        "etag": "61xCT0FpDyskOETljNk9HDSGJ0NvEzWCBXPMcjorB84",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:46:05\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzIxMQ=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022g4h1vVOiFScZHDYqrbDuAj47_UwDuIioJ13YjCShYHw\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:46:05 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzIxMw==;sn=25087213"
      },
      "ResponseBody": {
        "etag": "g4h1vVOiFScZHDYqrbDuAj47_UwDuIioJ13YjCShYHw",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:46:05\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzIxMw=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022NwCYCGMw7Jn99sWUmTF3OGupH1H8PBsbKBCVWvXM-K8\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzIxNg==;sn=25087216"
      },
      "ResponseBody": {
        "etag": "NwCYCGMw7Jn99sWUmTF3OGupH1H8PBsbKBCVWvXM-K8",
        "items": [
          {
            "etag": "QTuzV0pbg0CMrKbBs2JhRyUpv3WuyKy_maauTgBAPFA",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-02-12T23:46:02\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
