{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fr0TbPM1QdgQIIuJEKEeTdoUraLjff7FPWYIWUXFLy8\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:16 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIwMg==;sn=22376202"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?label=dev&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIwMg=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"CT_OX9yGIyG_6R0tDr1SofFxJxOt0RkLWyJGNZAWx08\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:16 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIwNA==;sn=22376204"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/my_json?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIwNA=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QRjK2lAVVZpoym0uh3eC752LSrszDqLggGHMQjNYcCY\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:16 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIwNg==;sn=22376206"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/test.trimmed?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIwNg=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ji0n09wpvmfCLEKQags425-zjozBASs3CpLoCthLeZU\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:16 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIwOA==;sn=22376208"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIwOA=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Wbv-0qdnU0mDPZVdMfKh4hWM49VqhGl0gb_i_wPsi70\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:16 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIxMA==;sn=22376210"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non_refreshed_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIxMA=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZNjRtDbpJxnORrjR3_2nNLrG4ShmdA3piOVBO3-Cf_8\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:16 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIxMg==;sn=22376212"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIxMg=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9ZPNoi-zbuHUBMvYFghVDLCMSEALDkKSLbEvNhzP1DQ\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:16 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIxNA==;sn=22376214"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/secret?label=prod&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIxNA=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/TestSecret\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hgPxLcRNuVGHN-KwCLbEOBfwn-TFH__5hMPyL7GNxWY\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:16 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIxNg==;sn=22376216"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/TestSecret\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?key=*&label=%00&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"6csqry9VWtzzoI36bM6Poo2q-4bgpIwlUDIwxJaGuBg\"",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIxNw==;sn=22376217"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-11T02:09:16+00:00"
          },
          {
            "et[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?key=.appconfig.featureflag/*&label=%00&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIxNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"eDZ_dDx1tYSg0wYBIJqfmakk-RjQgSn1VYZ-j7QKBUs\"",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIxNw==;sn=22376217"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-11T02:09:16+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIxNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Wbv-0qdnU0mDPZVdMfKh4hWM49VqhGl0gb_i_wPsi70\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:16 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIxNw==;sn=22376217"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIxNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9ZPNoi-zbuHUBMvYFghVDLCMSEALDkKSLbEvNhzP1DQ\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:16 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIxNw==;sn=22376217"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:16+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIxOA=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"Alpha\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null}",
        "last_modified": "2024-05-11T02:09:16.000Z",
        "tags": {},
        "locked": false,
        "etag": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kiueZGk8jhrQuq4R4ykMrVXBmeogHA4RlF3C1faRHac\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:16 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIyMA==;sn=22376220"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"Alpha\", \"description\": \"\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Watch,Filters=,UsesKeyVault",
        "If-None-Match": "\"Wbv-0qdnU0mDPZVdMfKh4hWM49VqhGl0gb_i_wPsi70\"",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIyMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mUl3Ky1A-W2OaseGyeBMTV9tGBsufDfxxEIw2E3GHjI\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:16 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIyMQ==;sn=22376221"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "updated value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:16+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIyOA=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "content_type": "text/plain",
        "value": "original value",
        "last_modified": "2024-05-11T02:09:16.000Z",
        "tags": {},
        "locked": false,
        "etag": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GsjAIeaXzkWnN9cWrb7UMosiTnRWNkNpj7F8KMC2ODc\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:21 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjIzMA==;sn=22376230"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:21+00:00"
      }
    }
  ],
  "Variables": {}
}
