{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022QyyW4JLl1L987mw-WqbaWXk3lhu0Ao7ZBH3-G3DYg-4\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:23:06 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI1OA==;sn=26101258"
      },
      "ResponseBody": {
        "etag": "QyyW4JLl1L987mw-WqbaWXk3lhu0Ao7ZBH3-G3DYg-4",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:23:06\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI1OA=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022RCEOnalAP3BjhZP34cKDs2PlKf8bCkSaSde3l4CFgKU\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:23:06 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI2MA==;sn=26101260"
      },
      "ResponseBody": {
        "etag": "RCEOnalAP3BjhZP34cKDs2PlKf8bCkSaSde3l4CFgKU",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:23:06\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI2MA=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00229Ak3n-GcGk_szPZGRYeX59BK1wISB3P-B-_lvV1fCU4\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:23:06 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI2Mg==;sn=26101262"
      },
      "ResponseBody": {
        "etag": "9Ak3n-GcGk_szPZGRYeX59BK1wISB3P-B-_lvV1fCU4",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:23:06\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI2Mg=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223Rvzrmamsbl32pA3IxDhrresjApxXDae603m56o5lY0\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:23:06 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI2NA==;sn=26101264"
      },
      "ResponseBody": {
        "etag": "3Rvzrmamsbl32pA3IxDhrresjApxXDae603m56o5lY0",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:23:06\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI2NA=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022yFVsXCVAtJazCIsPvqFCBgpY1uvrybDs54RYgpTOzc0\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:23:06 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI2Ng==;sn=26101266"
      },
      "ResponseBody": {
        "etag": "yFVsXCVAtJazCIsPvqFCBgpY1uvrybDs54RYgpTOzc0",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:23:06\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI2Ng=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022s35MznOGt9Z-cVsFWkSU-hEn-NIcwpggcPeZQK2-4pQ\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:23:06 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI2OA==;sn=26101268"
      },
      "ResponseBody": {
        "etag": "s35MznOGt9Z-cVsFWkSU-hEn-NIcwpggcPeZQK2-4pQ",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:23:06\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI2OA=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022qyOqzGVO0mHt_1g2o3KqYOePwdJrotd2GG0f4q01onw\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI3MQ==;sn=26101271"
      },
      "ResponseBody": {
        "etag": "qyOqzGVO0mHt_1g2o3KqYOePwdJrotd2GG0f4q01onw",
        "items": [
          {
            "etag": "QHJVrvqUossy9bXX8WJmbJ7xILieRne9GC0GopKweg8",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-04-09T20:23:01\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
