{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hhTninmlKKiywtWv7FS9JMxAMKyfpVbhzQuww46xU_c\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:52 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM0Nw==;sn=26766347"
      },
      "ResponseBody": {
        "etag": "hhTninmlKKiywtWv7FS9JMxAMKyfpVbhzQuww46xU_c",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:52+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM0Nw=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vpe7Bpl2oZmfheJfVMO0fpl5wycCKECCP4cCO4hr1jw\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:52 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM0OQ==;sn=26766349"
      },
      "ResponseBody": {
        "etag": "vpe7Bpl2oZmfheJfVMO0fpl5wycCKECCP4cCO4hr1jw",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:52+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM0OQ=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qofDgLqXuDVplc7xLwa3B-8FSU_VAvuYrs9x3AZRHF8\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:52 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM1MQ==;sn=26766351"
      },
      "ResponseBody": {
        "etag": "qofDgLqXuDVplc7xLwa3B-8FSU_VAvuYrs9x3AZRHF8",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:52+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM1MQ=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nIQgIwCTCCExUuhNrHQfUHCISJwCv3S062cmKbHavY8\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:52 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM1Mw==;sn=26766353"
      },
      "ResponseBody": {
        "etag": "nIQgIwCTCCExUuhNrHQfUHCISJwCv3S062cmKbHavY8",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:52+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM1Mw=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"B1zuiK2EQSh7Tuvt-kZ9S5BD9GP6tPaQhPcjrIEsY3o\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:52 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM1NQ==;sn=26766355"
      },
      "ResponseBody": {
        "etag": "B1zuiK2EQSh7Tuvt-kZ9S5BD9GP6tPaQhPcjrIEsY3o",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:52+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM1NQ=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"avGewE0Gs4OaCo_1_i3nkQsbAX_dgtyHjxsPUbNN6CQ\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:52 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM1Nw==;sn=26766357"
      },
      "ResponseBody": {
        "etag": "avGewE0Gs4OaCo_1_i3nkQsbAX_dgtyHjxsPUbNN6CQ",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:52+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM1Nw=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5lewmNsssHivojpgUJhhU3rlh7hRS-J28MPq5E-BR44\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:52 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM1OQ==;sn=26766359"
      },
      "ResponseBody": {
        "etag": "5lewmNsssHivojpgUJhhU3rlh7hRS-J28MPq5E-BR44",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:52+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM1OQ=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NsnrqBQiacf9EUqPP0Oya1u_joR2pz08ygxfErfjqyc\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:52 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM2MQ==;sn=26766361"
      },
      "ResponseBody": {
        "etag": "NsnrqBQiacf9EUqPP0Oya1u_joR2pz08ygxfErfjqyc",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:52+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=message*&label=dev&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"CjGlIf6nFbGFp8r2UR_qVOY7KKDBzR9rO8D9NnYtWaE\"",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM2Mg==;sn=26766362"
      },
      "ResponseBody": {
        "etag": "CjGlIf6nFbGFp8r2UR_qVOY7KKDBzR9rO8D9NnYtWaE",
        "items": [
          {
            "etag": "vpe7Bpl2oZmfheJfVMO0fpl5wycCKECCP4cCO4hr1jw",
            "key": "message",
            "label": "dev",
            "content_type": "text/plain",
            "value": "test",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-09T17:22:52+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
