{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/fake-tenant-id/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/fake-tenant-id/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/fake-tenant-id/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/fake-tenant-id/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00220sTpccuEjqNYWjIHPkgmUVwAGjr5qld2hDXF8jWC8SI\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:26 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTAzMw==;sn=24455033"
      },
      "ResponseBody": {
        "etag": "0sTpccuEjqNYWjIHPkgmUVwAGjr5qld2hDXF8jWC8SI",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:26\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTAzMw=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022qj8aaMjL_WVv0d7G2WvdRgSJCye1mKiXlDpy-xeIHI0\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:26 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTAzNQ==;sn=24455035"
      },
      "ResponseBody": {
        "etag": "qj8aaMjL_WVv0d7G2WvdRgSJCye1mKiXlDpy-xeIHI0",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:26\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTAzNQ=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022-m1d5L3nLTQkPMDGIAinU3cbRfsORXOFBGKLIhDgZac\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTAzNw==;sn=24455037"
      },
      "ResponseBody": {
        "etag": "-m1d5L3nLTQkPMDGIAinU3cbRfsORXOFBGKLIhDgZac",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:27\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTAzNw=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022T3QvXQsQeHcU9Noe5RCI7jAfK_hXWi0Ej-kuybfabow\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTAzOQ==;sn=24455039"
      },
      "ResponseBody": {
        "etag": "T3QvXQsQeHcU9Noe5RCI7jAfK_hXWi0Ej-kuybfabow",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:27\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTAzOQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022SNY1G91GaGRrvESRyu5_Ovronxz0lVQZxJbzE1UDBis\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTA0MQ==;sn=24455041"
      },
      "ResponseBody": {
        "etag": "SNY1G91GaGRrvESRyu5_Ovronxz0lVQZxJbzE1UDBis",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:27\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTA0MQ=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022k7t9SgiWxgSrziCJgOV9HNvwszfnYKJdXfiemk2kxIY\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTA0Mw==;sn=24455043"
      },
      "ResponseBody": {
        "etag": "k7t9SgiWxgSrziCJgOV9HNvwszfnYKJdXfiemk2kxIY",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:27\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTA0Mw=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTA0NQ=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022LkM0dAcdW6vx5XhOeDCyMa9vxSSFPj3sJymKeBVY9to\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTA0Nw==;sn=24455047"
      },
      "ResponseBody": {
        "etag": "LkM0dAcdW6vx5XhOeDCyMa9vxSSFPj3sJymKeBVY9to",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:27\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022Pm6WkZmJBizdgW_25H_PqF07XuxXlAWHqjaa3Nxh_Bc\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTA0OA==;sn=24455048"
      },
      "ResponseBody": {
        "etag": "Pm6WkZmJBizdgW_25H_PqF07XuxXlAWHqjaa3Nxh_Bc",
        "items": [
          {
            "etag": "eqC1tzdSsredMy6YkK7BNV28OaDUoPouEq5yGN1xlxA",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTA0OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022SNY1G91GaGRrvESRyu5_Ovronxz0lVQZxJbzE1UDBis\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTA0OA==;sn=24455048"
      },
      "ResponseBody": {
        "etag": "SNY1G91GaGRrvESRyu5_Ovronxz0lVQZxJbzE1UDBis",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:27\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Watch,UsesKeyVault",
        "If-None-Match": "\u0022SNY1G91GaGRrvESRyu5_Ovronxz0lVQZxJbzE1UDBis\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTA0OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ZjUyl2LCHyJUowxBPgID_jbYI1i-KxOOrss11Mb_yb0\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTA1MQ==;sn=24455051"
      },
      "ResponseBody": {
        "etag": "ZjUyl2LCHyJUowxBPgID_jbYI1i-KxOOrss11Mb_yb0",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "updated value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:27\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTA1NQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "content_type": "text/plain",
        "value": "original value",
        "last_modified": "2023-12-06T23:22:27.000Z",
        "tags": {},
        "locked": false,
        "etag": "SNY1G91GaGRrvESRyu5_Ovronxz0lVQZxJbzE1UDBis"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022GdfpOJgEVYjYeFfkYFWHM-Nyu5cWjTyBM_SiylG0dtA\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:31 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NTA1Nw==;sn=24455057"
      },
      "ResponseBody": {
        "etag": "GdfpOJgEVYjYeFfkYFWHM-Nyu5cWjTyBM_SiylG0dtA",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:31\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
