{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022pYbnvISWSoLomKpD7FQTWU63iW3kDqv4h_o90ROxlhg\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:03 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjkzNg==;sn=25902936"
      },
      "ResponseBody": {
        "etag": "pYbnvISWSoLomKpD7FQTWU63iW3kDqv4h_o90ROxlhg",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjkzNg=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022KY4Q1olKTCvaKIlr7x6fOt8nYplmPh3zgo5o0hgZcDA\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:03 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjkzOA==;sn=25902938"
      },
      "ResponseBody": {
        "etag": "KY4Q1olKTCvaKIlr7x6fOt8nYplmPh3zgo5o0hgZcDA",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjkzOA=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022n_jHr9wVfjsmlu7UKMogvVxcX8mfh_iOqrLQFJWPNg4\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:03 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk0MA==;sn=25902940"
      },
      "ResponseBody": {
        "etag": "n_jHr9wVfjsmlu7UKMogvVxcX8mfh_iOqrLQFJWPNg4",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk0MA=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022hEBGE94fXHd5oRSq6DwHTlUaAoZxCOYK6obUAjOZuXM\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:03 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk0Mg==;sn=25902942"
      },
      "ResponseBody": {
        "etag": "hEBGE94fXHd5oRSq6DwHTlUaAoZxCOYK6obUAjOZuXM",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk0Mg=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022nbr7A4PVc39oV9bSKGTRlTJDtsIh9mKyjY1L-wb16cw\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:03 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk0NA==;sn=25902944"
      },
      "ResponseBody": {
        "etag": "nbr7A4PVc39oV9bSKGTRlTJDtsIh9mKyjY1L-wb16cw",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk0NA=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022d_LNZfZHDe-W8lyYIYjQmMnUerXAFEZ9702vYreHl-s\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:03 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk0Ng==;sn=25902946"
      },
      "ResponseBody": {
        "etag": "d_LNZfZHDe-W8lyYIYjQmMnUerXAFEZ9702vYreHl-s",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk0Ng=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk0OA=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022hd3cKEADKzUcSkwKlKlgkK_VQ6e7-gvXrjP9YHUpxx4\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:03 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk1MA==;sn=25902950"
      },
      "ResponseBody": {
        "etag": "hd3cKEADKzUcSkwKlKlgkK_VQ6e7-gvXrjP9YHUpxx4",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022MsYx7HC_c6HrUwv4NEG5XGU1OAyB6l9jnc9QlWhxx0E\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk1MQ==;sn=25902951"
      },
      "ResponseBody": {
        "etag": "MsYx7HC_c6HrUwv4NEG5XGU1OAyB6l9jnc9QlWhxx0E",
        "items": [
          {
            "etag": "ptGLae9UWk9VimfZU6hG5UWL-r0VfDGSq2V1VIjgH_8",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=.appconfig.featureflag/*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk1MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
   [...]
