{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022juDkYevOCIwXykwx6pnhh6PXZrX3N11eZM8_Rah06cc\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzAwMA==;sn=25903000"
      },
      "ResponseBody": {
        "etag": "juDkYevOCIwXykwx6pnhh6PXZrX3N11eZM8_Rah06cc",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzAwMA=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022eABXuLe9LOII-J-jRvf2lEveT1g7qldZ20iy1fnN3FM\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzAwMg==;sn=25903002"
      },
      "ResponseBody": {
        "etag": "eABXuLe9LOII-J-jRvf2lEveT1g7qldZ20iy1fnN3FM",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzAwMg=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u002298IWwt3wTz1eWxLa2sQ5Jnz2_w5Vr2rzi9uhFyRaQN4\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzAwNA==;sn=25903004"
      },
      "ResponseBody": {
        "etag": "98IWwt3wTz1eWxLa2sQ5Jnz2_w5Vr2rzi9uhFyRaQN4",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzAwNA=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ihHBtpTUp6tHMtzUViDjEhUxG2Mehtg5AdPDaWKgUYw\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzAwNg==;sn=25903006"
      },
      "ResponseBody": {
        "etag": "ihHBtpTUp6tHMtzUViDjEhUxG2Mehtg5AdPDaWKgUYw",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzAwNg=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Y-q5E-Q4KQnDA8OdycgLCOVkaHws7r9mARhUquD4-RA\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzAwOA==;sn=25903008"
      },
      "ResponseBody": {
        "etag": "Y-q5E-Q4KQnDA8OdycgLCOVkaHws7r9mARhUquD4-RA",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzAwOA=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022GMK8ksZ009SSoXIqYc8vSqfplZt72yb6E8NVLSb_5bE\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzAxMA==;sn=25903010"
      },
      "ResponseBody": {
        "etag": "GMK8ksZ009SSoXIqYc8vSqfplZt72yb6E8NVLSb_5bE",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzAxMA=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022qiC3u-3ydjMmTHBm1ozAmHWzsqXTmV9ddg8B88-BGHQ\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzAxMw==;sn=25903013"
      },
      "ResponseBody": {
        "etag": "qiC3u-3ydjMmTHBm1ozAmHWzsqXTmV9ddg8B88-BGHQ",
        "items": [
          {
            "etag": "tzlZ_PGbcC8nJSE_n9YObxYaRGn_5XXdkkr4ggPuTuY",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-03-28T18:59:14\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
