{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Jan, 03 2024 19:03:48.419577 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022nywkeqqWc2gX6I7X0eVYisYWliar0V6cuF9HOIV6L84\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIzMQ==;sn=24667231"
      },
      "ResponseBody": {
        "etag": "nywkeqqWc2gX6I7X0eVYisYWliar0V6cuF9HOIV6L84",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIzMQ==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Jan, 03 2024 19:03:48.439568 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022cqakZaTdn9lMP-pawb_dELViCZ1XK6ll_h1Ob4aBDO0\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIzMw==;sn=24667233"
      },
      "ResponseBody": {
        "etag": "cqakZaTdn9lMP-pawb_dELViCZ1XK6ll_h1Ob4aBDO0",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIzMw==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Jan, 03 2024 19:03:48.454579 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022P-uu2IqQ4dl09cIlCMqXpXyYV4jyaXDS6cltFf2RfDI\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIzNQ==;sn=24667235"
      },
      "ResponseBody": {
        "etag": "P-uu2IqQ4dl09cIlCMqXpXyYV4jyaXDS6cltFf2RfDI",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIzNQ==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Jan, 03 2024 19:03:48.469360 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022DqhiXEImFlDyZJbZmtOyn9sl4XKgPg9TPQBtbVsMveU\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIzNw==;sn=24667237"
      },
      "ResponseBody": {
        "etag": "DqhiXEImFlDyZJbZmtOyn9sl4XKgPg9TPQBtbVsMveU",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIzNw==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Jan, 03 2024 19:03:48.484362 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022fF9JAv7aMrTZLyHwf0IinXPQiKW7e53VNs0uzNChvmc\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIzOQ==;sn=24667239"
      },
      "ResponseBody": {
        "etag": "fF9JAv7aMrTZLyHwf0IinXPQiKW7e53VNs0uzNChvmc",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIzOQ==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Jan, 03 2024 19:03:48.499370 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Je9VXkM2__844JrRlnsEhXpzs-5np2iJJFOCHM6ojbk\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI0MQ==;sn=24667241"
      },
      "ResponseBody": {
        "etag": "Je9VXkM2__844JrRlnsEhXpzs-5np2iJJFOCHM6ojbk",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI0MQ==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Jan, 03 2024 19:03:48.514364 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=.appconfig.featureflag/*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Jan, 03 2024 19:03:48.534370 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022CXXEL_WrpklII_5kxl_Ad1BAN_rmN66kqotF6NM2nJI\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI0NA==;sn=24667244"
      },
      "ResponseBody": {
        "etag": "CXXEL_WrpklII_5kxl_Ad1BAN_rmN66kqotF6NM2nJI",
        "items": [
          {
            "etag": "Z5fFB4-RPBSzxUoVOAIVax2JZ75txmfIGfOfwjhTi4c",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-03T19:03:48\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
