{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022vw-ybavk2HfWyHEqkaw7Ng62Wu_bjj4ANz0-xBcutgg\u0022",
        "Last-Modified": "Mon, 11 Sep 2023 22:45:25 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDA2;sn=19459406"
      },
      "ResponseBody": {
        "etag": "vw-ybavk2HfWyHEqkaw7Ng62Wu_bjj4ANz0-xBcutgg",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-11T22:45:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDA2"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022qYK9YOarDOMl_MCGjE39q_T7TNEOmUaloqHEtkPvqn4\u0022",
        "Last-Modified": "Mon, 11 Sep 2023 22:45:25 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDA4;sn=19459408"
      },
      "ResponseBody": {
        "etag": "qYK9YOarDOMl_MCGjE39q_T7TNEOmUaloqHEtkPvqn4",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-11T22:45:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDA4"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022pAQri5-Kp4G728FOPVC_g2-Oq2A4bIDT-Od728-I9EA\u0022",
        "Last-Modified": "Mon, 11 Sep 2023 22:45:25 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDEw;sn=19459410"
      },
      "ResponseBody": {
        "etag": "pAQri5-Kp4G728FOPVC_g2-Oq2A4bIDT-Od728-I9EA",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-11T22:45:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDEw"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ohndaSvV4OdjdhifcNy7DmhBG0ApExTLSYq9pyO9Osg\u0022",
        "Last-Modified": "Mon, 11 Sep 2023 22:45:25 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDEy;sn=19459412"
      },
      "ResponseBody": {
        "etag": "ohndaSvV4OdjdhifcNy7DmhBG0ApExTLSYq9pyO9Osg",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-11T22:45:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDEy"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022sKZ7Z6yLGM3DKrdsluVtj3x-b9MSKKPU4S4DdBvZhoM\u0022",
        "Last-Modified": "Mon, 11 Sep 2023 22:45:25 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDE0;sn=19459414"
      },
      "ResponseBody": {
        "etag": "sKZ7Z6yLGM3DKrdsluVtj3x-b9MSKKPU4S4DdBvZhoM",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-11T22:45:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDE0"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022BsZ2_oq-zUvh9xNgrv6SVe-HutS5xC5EB8IohAZ1nck\u0022",
        "Last-Modified": "Mon, 11 Sep 2023 22:45:25 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDE2;sn=19459416"
      },
      "ResponseBody": {
        "etag": "BsZ2_oq-zUvh9xNgrv6SVe-HutS5xC5EB8IohAZ1nck",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-11T22:45:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDE2"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDE4"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022oO7oFxJ5aN2qEEe6lhijw4cpVn4kai9yG7kY44vCsXQ\u0022",
        "Last-Modified": "Mon, 11 Sep 2023 22:45:25 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDIw;sn=19459420"
      },
      "ResponseBody": {
        "etag": "oO7oFxJ5aN2qEEe6lhijw4cpVn4kai9yG7kY44vCsXQ",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-11T22:45:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDIx;sn=19459421"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "p-jte7T7lpFDoDwZ_i_DKrpWGS3KZJDkR96GLpgEY0M",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDIx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022sKZ7Z6yLGM3DKrdsluVtj3x-b9MSKKPU4S4DdBvZhoM\u0022",
        "Last-Modified": "Mon, 11 Sep 2023 22:45:25 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDIx;sn=19459421"
      },
      "ResponseBody": {
        "etag": "sKZ7Z6yLGM3DKrdsluVtj3x-b9MSKKPU4S4DdBvZhoM",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-11T22:45:25\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDIy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022BsZ2_oq-zUvh9xNgrv6SVe-HutS5xC5EB8IohAZ1nck\u0022",
        "Last-Modified": "Mon, 11 Sep 2023 22:45:25 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDIz;sn=19459423"
      },
      "ResponseBody": {
        "etag": "BsZ2_oq-zUvh9xNgrv6SVe-HutS5xC5EB8IohAZ1nck",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-11T22:45:25\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Correlation-Context": "RequestType=Startup",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDI2"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "content_type": "text/plain",
        "value": "Static",
        "last_modified": "2023-09-11T22:45:25.000Z",
        "tags": {},
        "locked": false,
        "etag": "BsZ2_oq-zUvh9xNgrv6SVe-HutS5xC5EB8IohAZ1nck"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022I-sOLtOww66zPbcPEPjGnltzbE6tUzFvb5jWT5DU3mc\u0022",
        "Last-Modified": "Mon, 11 Sep 2023 22:45:27 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NDU5NDI4;sn=19459428"
      },
      "ResponseBody": {
        "etag": "I-sOLtOww66zPbcPEPjGnltzbE6tUzFvb5jWT5DU3mc",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-11T22:45:27\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
