{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Mar, 27 2024 18:57:36.831069 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022PY12CSzvNs9obVENJfLRxUmwmYP_3QOvKmIJy6c6nKk\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:57:37 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDQ3OQ==;sn=25884479"
      },
      "ResponseBody": {
        "etag": "PY12CSzvNs9obVENJfLRxUmwmYP_3QOvKmIJy6c6nKk",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:57:37\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDQ3OQ==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Mar, 27 2024 18:57:37.253555 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022jl-u8eTVUtVvC-BnW-soobsLq5aSgay4QBxphNMyT7E\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:57:37 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDQ4MQ==;sn=25884481"
      },
      "ResponseBody": {
        "etag": "jl-u8eTVUtVvC-BnW-soobsLq5aSgay4QBxphNMyT7E",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:57:37\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDQ4MQ==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Mar, 27 2024 18:57:37.269840 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022_i3slAlKMt-K7rGEaYS538mZI-KqEmWQbce0rigM1io\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:57:37 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDQ4Mw==;sn=25884483"
      },
      "ResponseBody": {
        "etag": "_i3slAlKMt-K7rGEaYS538mZI-KqEmWQbce0rigM1io",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:57:37\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDQ4Mw==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Mar, 27 2024 18:57:37.285740 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022rMb38GhrwZwtbOhLkDIMhfw9HFTCHZXWY2GCcIkqHNs\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:57:37 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDQ4NQ==;sn=25884485"
      },
      "ResponseBody": {
        "etag": "rMb38GhrwZwtbOhLkDIMhfw9HFTCHZXWY2GCcIkqHNs",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:57:37\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDQ4NQ==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Mar, 27 2024 18:57:37.301753 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022j2xO2fBgwRIP_ltGiPeYhD_33BJkPjUd2NabL5fytZo\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:57:37 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDQ4Nw==;sn=25884487"
      },
      "ResponseBody": {
        "etag": "j2xO2fBgwRIP_ltGiPeYhD_33BJkPjUd2NabL5fytZo",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:57:37\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDQ4Nw==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Mar, 27 2024 18:57:37.315846 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NgRLWgQozM5L8EfiwH9RQfq_qt4FgPGM79IOM1bn7As\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:57:37 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDQ4OQ==;sn=25884489"
      },
      "ResponseBody": {
        "etag": "NgRLWgQozM5L8EfiwH9RQfq_qt4FgPGM79IOM1bn7As",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:57:37\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDQ4OQ==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Mar, 27 2024 18:57:37.329834 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDQ5MQ==",
        "x-ms-content-sha256": "GORL5\u002BRWXCSHKWOJcYQpPM03mZ4lvE/r5VQBfftpZRg=",
        "x-ms-date": "Mar, 27 2024 18:57:37.343849 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "co[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=message%2A\u0026label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mar, 27 2024 18:57:37.359724 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u00225_RX187fEjKx4w7vNgEAHfJr-FszvkTHw71Gl6V4wFw\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDQ5NA==;sn=25884494"
      },
      "ResponseBody": {
        "etag": "5_RX187fEjKx4w7vNgEAHfJr-FszvkTHw71Gl6V4wFw",
        "items": [
          {
            "etag": "jl-u8eTVUtVvC-BnW-soobsLq5aSgay4QBxphNMyT7E",
            "key": "message",
            "label": "dev",
            "content_type": "text/plain",
            "value": "test",
            "tags": {},
            "locked": false,
            "last_modified": "2024-03-27T18:57:37\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
