{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.417240 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "value": "hi",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7Qkz8wNyUO2iPqcqj9MAqWcyZP63ohUb6IzVUxNk5mc\"",
        "Last-Modified": "Thu, 12 Mar 2026 17:27:48 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-12T17:27:48+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/my_json?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.456116 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "value": "{\"key\": \"value\"}",
        "content_type": "application/json"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"n_hD4ypytPu69taJCphfKsR8-mivL7Hz39HLDTskpbs\"",
        "Last-Modified": "Thu, 12 Mar 2026 17:27:48 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-12T17:27:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/test.trimmed?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.478310 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "value": "key",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SCwNRhYucwS6h1mrGC5MVqa1jFP2MDEeqOtgEZYNquQ\"",
        "Last-Modified": "Thu, 12 Mar 2026 17:27:48 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-12T17:27:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.502050 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "value": "original value",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BVqRJtOwSpdBdMt700y4tPneN4FRkpqJcbnUwXqfZ0Q\"",
        "Last-Modified": "Thu, 12 Mar 2026 17:27:48 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-12T17:27:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.518084 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "value": "Static",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XZFpKk7mC8ifcIKb6V0A6u0T-nvrz0_Lp08IF9rUQLA\"",
        "Last-Modified": "Thu, 12 Mar 2026 17:27:48 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-12T17:27:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/tagged_config?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.535621 GMT"
      },
      "RequestBody": {
        "key": "tagged_config",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "a": "b"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HGJpEH2a5Z3tPVyrGffoEeJdH2zQZgA82lLXsIZEQPI\"",
        "Last-Modified": "Thu, 12 Mar 2026 17:27:48 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "tagged_config",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "a": "b"
        },
        "locked": false,
        "last_modified": "2026-03-12T17:27:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/two_tagged?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.552890 GMT"
      },
      "RequestBody": {
        "key": "two_tagged",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "a": "b",
          "second": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rl2LLqd-bWpOhNqeENzAZKswNERZr2Z3ay-lKPpgZvQ\"",
        "Last-Modified": "Thu, 12 Mar 2026 17:27:48 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "two_tagged",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "a": "b",
          "second": "tag"
        },
        "locked": false,
        "last_modified": "2026-03-12T17:27:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/only_second_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.569952 GMT"
      },
      "RequestBody": {
        "key": "only_second_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "second": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OjaZYRaAMTqsuBal0BV3vhOsBqXvgvnzrh2KtYjTlII\"",
        "Last-Modified": "Thu, 12 Mar 2026 17:27:48 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "only_second_tag",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "second": "tag"
        },
        "locked": false,
        "last_modified": "2026-03-12T17:27:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/complex_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.585772 GMT"
      },
      "RequestBody": {
        "key": "complex_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "Special:Tag": "Value:With:Colons",
          "Tag@With@At": "Value@With@At"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lZMzn705fOQEgiKeilMrHdTa9oGwsBZfEzWdZ4eOStU\"",
        "Last-Modified": "Thu, 12 Mar 2026 17:27:48 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "complex_tag",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "Special:Tag": "Value:With:Colons",
          "Tag@With@At": "Value@With@At"
        },
        "locked": false,
        "last_modified": "2026-03-12T17:27:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.602269 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ty0lZLH_l4SikcQ2PKPljfSNOkF2QAu4s6XcY3WSDWM\"",
        "Last-Modified": "Thu, 12 Mar 2026 17:27:48 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-12T17:27:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FTaggedFeatureFlag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.617522 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/TaggedFeatureFlag",
        "label": "\u0000",
        "value": "{\t\"id\": \"TaggedFeatureFlag\", \"[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/multi_tagged?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.632410 GMT"
      },
      "RequestBody": {
        "key": "multi_tagged",
        "label": "\u0000",
        "value": "multi tagged value",
        "content_type": "text/plain",
        "tags": {
          "a": "b",
          "c": "d"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Be-wv6tLsGN6PcUl8bd6ys6CLM8IDAFWw787vknIHUo\"",
        "Last-Modified": "Thu, 12 Mar 2026 17:27:48 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "multi_tagged",
        "label": null,
        "content_type": "text/plain",
        "value": "multi tagged value",
        "tags": {
          "a": "b",
          "c": "d"
        },
        "locked": false,
        "last_modified": "2026-03-12T17:27:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/special_chars?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.647957 GMT"
      },
      "RequestBody": {
        "key": "special_chars",
        "label": "\u0000",
        "value": "special",
        "content_type": "text/plain",
        "tags": {
          "special@tag": "special:value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kR8FyaQ2k6YUtSztUFM7Fp63P7H-mcHhNBGya6VRl1U\"",
        "Last-Modified": "Thu, 12 Mar 2026 17:27:48 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "special_chars",
        "label": null,
        "content_type": "text/plain",
        "value": "special",
        "tags": {
          "special@tag": "special:value"
        },
        "locked": false,
        "last_modified": "2026-03-12T17:27:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/no_tags?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.663503 GMT"
      },
      "RequestBody": {
        "key": "no_tags",
        "label": "\u0000",
        "value": "no tags",
        "content_type": "text/plain"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "40",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/tag_no_value?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.728223 GMT"
      },
      "RequestBody": {
        "key": "tag_no_value",
        "label": "\u0000",
        "value": "no value",
        "content_type": "text/plain",
        "tags": {
          "a": ""
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tj97UOq_0L4iZrdv_IBjHAd_DRsQjWKwVLiUzbyCQ5A\"",
        "Last-Modified": "Thu, 12 Mar 2026 17:27:48 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "tag_no_value",
        "label": null,
        "content_type": "text/plain",
        "value": "no value",
        "tags": {
          "a": ""
        },
        "locked": false,
        "last_modified": "2026-03-12T17:27:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/different_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.744095 GMT"
      },
      "RequestBody": {
        "key": "different_tag",
        "label": "\u0000",
        "value": "different",
        "content_type": "text/plain",
        "tags": {
          "different": "tag"
        }
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "40",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/null_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.812046 GMT"
      },
      "RequestBody": {
        "key": "null_tag",
        "label": "\u0000",
        "value": "null tag",
        "content_type": "text/plain",
        "tags": {
          "tag": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GJniNyiD60inCHqelfYjOAfd6xxJDdZp3H-9RRrYmzc\"",
        "Last-Modified": "Thu, 12 Mar 2026 17:27:48 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "null_tag",
        "label": null,
        "content_type": "text/plain",
        "value": "null tag",
        "tags": {
          "tag": null
        },
        "locked": false,
        "last_modified": "2026-03-12T17:27:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/secret?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.838728 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "value": "{\"uri\": \"https://Sanitized.vault.azure.net/secrets/fake-secret/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xgVVXy_xUZw4adv0rfEhGu07-r-a8fz5UaoN099vydY\"",
        "Last-Modified": "Thu, 12 Mar 2026 17:27:48 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\": \"https://Sanitized.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-12T17:27:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.867731 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Em0yOxLamz1nb-eBOW9rqG468TWDA1rKT0ZMUBSSzGE\"",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "two_tagged",
            "label": null,
            "content_type": "text/plain",
            "value": null,
            "tags": {
              "a": "b",
              "second": "tag"
            },
            "locked": false,
            "last_modified": "2026-03-12T17:27:48+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 12 2026 17:27:48.883260 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"2SPmu9rMyC8eAPKsv_op51UyeO6b8D5tJEyu8BASiYM\"",
        "x-ms-date": "Thu, 12 Mar 2026 17:27:48 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/TaggedFeatureFlag",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\t\"id\": \"TaggedFeatureFlag\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
            "tags": {
              "a": "b"
            },
            "locked": false,
            "last_modified": "2026-03-12T17:27:48+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
