{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ta-iqo8GnRs_8tFhHyrJcvFlOeeAYiq0TXTAL8aJlRg\u0022",
        "Last-Modified": "Tue, 12 Sep 2023 22:34:16 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA1ODUz;sn=19505853"
      },
      "ResponseBody": {
        "etag": "ta-iqo8GnRs_8tFhHyrJcvFlOeeAYiq0TXTAL8aJlRg",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-12T22:34:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA1ODUz"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ylQJb9qTZLCudiYg8yNkfZr92263ll9ql-kgpLkBo2U\u0022",
        "Last-Modified": "Tue, 12 Sep 2023 22:34:17 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA1ODU1;sn=19505855"
      },
      "ResponseBody": {
        "etag": "ylQJb9qTZLCudiYg8yNkfZr92263ll9ql-kgpLkBo2U",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-12T22:34:17\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA1ODU1"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022xMhIrHUgBtZNmWC_Z2UHHJkIPme7vOANBU7TjiE9w6Y\u0022",
        "Last-Modified": "Tue, 12 Sep 2023 22:34:17 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA1ODU3;sn=19505857"
      },
      "ResponseBody": {
        "etag": "xMhIrHUgBtZNmWC_Z2UHHJkIPme7vOANBU7TjiE9w6Y",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-12T22:34:17\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA1ODU3"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022dHThYlZHdV8YHL7-JW2dTRt5O6MRXUzGRbOQnr1mRR8\u0022",
        "Last-Modified": "Tue, 12 Sep 2023 22:34:17 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA1ODU5;sn=19505859"
      },
      "ResponseBody": {
        "etag": "dHThYlZHdV8YHL7-JW2dTRt5O6MRXUzGRbOQnr1mRR8",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-12T22:34:17\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA1ODU5"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022cxHkHiHSNenYLHij1ihd3yl6AjWnZxT6L3nmVx7PSpo\u0022",
        "Last-Modified": "Tue, 12 Sep 2023 22:34:17 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA1ODYx;sn=19505861"
      },
      "ResponseBody": {
        "etag": "cxHkHiHSNenYLHij1ihd3yl6AjWnZxT6L3nmVx7PSpo",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-12T22:34:17\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA1ODYx"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022l7YTonZc2z5ni1ZGYBjQH01JXejPhZMwf4iE8o3P2eo\u0022",
        "Last-Modified": "Tue, 12 Sep 2023 22:34:17 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA1ODYz;sn=19505863"
      },
      "ResponseBody": {
        "etag": "l7YTonZc2z5ni1ZGYBjQH01JXejPhZMwf4iE8o3P2eo",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-12T22:34:17\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA1ODYz"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA1ODY1"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022tzXc8yukZGSwaurT6SCWZAeYbwaFlf2GXog0y-1mtCU\u0022",
        "Last-Modified": "Tue, 12 Sep 2023 22:34:18 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA1ODY3;sn=19505867"
      },
      "ResponseBody": {
        "etag": "tzXc8yukZGSwaurT6SCWZAeYbwaFlf2GXog0y-1mtCU",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-12T22:34:18\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA1ODY4;sn=19505868"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "Qey2np_YlkZ1ap0W-t4i0DsYp3JbS3icGHw8iDTGkz8",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
