{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/test-snapshot-1775755217?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"aFes94AYmZo6mJuKSMxRPgmhQCmCDdFa9b7_5l1C6fU\"",
        "Last-Modified": "Thu, 09 Apr 2026 17:20:31 GMT",
        "Link": "</kv?snapshot=test-snapshot-1775755217&api-version=1970-01-01",
        "x-ms-date": "Thu, 09 Apr 2026 17:25:59 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "name": "Sanitized",
        "status": "ready",
        "filters": [
          {
            "key": "snapshot_test_*",
            "label": null,
            "tags": []
          },
          {
            "key": ".appconfig.featureflag/SnapshotFeature*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-04-09T17:20:17+00:00",
        "size": 3000,
        "items_count": 5,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"6GKxCeoYbbOn1e6cezhzGGkgqKkYtNx-EsJEj85WK0I\"",
        "x-ms-date": "Thu, 09 Apr 2026 17:25:59 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/SnapshotFeature",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"SnapshotFeature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-09T17:20:17+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/SnapshotFeatureDisabled",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"SnapshotFeatureDisabled\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-09T17:20:17+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "snapshot_test_json",
            "label": null,
            "content_type": "application/json",
            "value": "{\"nested\": \"snapshot_value\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-09T17:20:16+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "snapshot_test_key1",
            "label": null,
            "content_type": null,
            "value": "snapshot_test_value1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-09T17:20:16+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "snapshot_test_key2",
            "label": null,
            "content_type": null,
            "value": "snapshot_test_value2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-09T17:20:16+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_test_key?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dCaKPxGZZ4Vk9ofT17Nn3R78oBTS1EDy7KeWihb_Yuk\"",
        "Last-Modified": "Thu, 09 Apr 2026 17:23:15 GMT",
        "x-ms-date": "Thu, 09 Apr 2026 17:25:59 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_test_key",
        "label": null,
        "content_type": null,
        "value": "original_refresh_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-09T17:23:15+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot_test_key1?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "snapshot_test_key1",
        "label": "\u0000",
        "value": "MODIFIED_VALUE1",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MfX47vpiAOK5meFx2RuxFf4jE_Qbe1mYs7PtBi-ij60\"",
        "Last-Modified": "Thu, 09 Apr 2026 17:25:59 GMT",
        "x-ms-date": "Thu, 09 Apr 2026 17:25:59 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "snapshot_test_key1",
        "label": null,
        "content_type": null,
        "value": "MODIFIED_VALUE1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-09T17:25:59+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot_test_json?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "snapshot_test_json",
        "label": "\u0000",
        "value": "{\"nested\": \"MODIFIED_VALUE\"}",
        "content_type": "application/json",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TKUz3lK1FNw3STqcDy3vHJ-uhtgvewjl5819JYU6Rz8\"",
        "Last-Modified": "Thu, 09 Apr 2026 17:25:59 GMT",
        "x-ms-date": "Thu, 09 Apr 2026 17:25:59 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "snapshot_test_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"nested\": \"MODIFIED_VALUE\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-09T17:25:59+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/new_key_added_after_load?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "new_key_added_after_load",
        "label": "\u0000",
        "value": "new_value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KwF-V_1uBObs3asdLdODDCEadWikh9hmyvQDWqYqxQE\"",
        "Last-Modified": "Thu, 09 Apr 2026 17:26:00 GMT",
        "x-ms-date": "Thu, 09 Apr 2026 17:26:00 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "new_key_added_after_load",
        "label": null,
        "content_type": null,
        "value": "new_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-09T17:26:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_test_key?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"dCaKPxGZZ4Vk9ofT17Nn3R78oBTS1EDy7KeWihb_Yuk\""
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yk9J8X2iMPAPKSxYKwG2zP5mlcb74jBTczyDi7r0Cnw\"",
        "Last-Modified": "Thu, 09 Apr 2026 17:26:00 GMT",
        "x-ms-date": "Thu, 09 Apr 2026 17:26:00 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_test_key",
        "label": null,
        "content_type": null,
        "value": "updated_refresh_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-09T17:26:00+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_test_key?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "refresh_test_key",
        "label": "\u0000",
        "value": "original_refresh_value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IUdtBQ64Jjtu96J58vYYHY_HQzFZZViqtSFky8M8ueY\"",
        "Last-Modified": "Thu, 09 Apr 2026 17:26:02 GMT",
        "x-ms-date": "Thu, 09 Apr 2026 17:26:02 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_test_key",
        "label": null,
        "content_type": null,
        "value": "original_refresh_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-09T17:26:02+00:00"
      }
    }
  ],
  "Variables": {}
}
