{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Nov, 07 2023 23:50:51.621069 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00226pjElq6_FJv7Y8vjn5gzNrStf7trWEnWqFUtsFJK_jQ\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:50 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODU1OQ==;sn=24188559"
      },
      "ResponseBody": {
        "etag": "6pjElq6_FJv7Y8vjn5gzNrStf7trWEnWqFUtsFJK_jQ",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:50\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODU1OQ==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Nov, 07 2023 23:50:51.666414 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022brgfAqGjCkU3kDfL1X8dnhS3eDaV2xDv2d_jtxWp_34\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:50 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODU2MQ==;sn=24188561"
      },
      "ResponseBody": {
        "etag": "brgfAqGjCkU3kDfL1X8dnhS3eDaV2xDv2d_jtxWp_34",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:50\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODU2MQ==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Nov, 07 2023 23:50:51.699977 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022zcew91qIr9xtNGcZTrq2BHmwGxF_YCEeSR1Lz1EZJvI\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:50 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODU2Mw==;sn=24188563"
      },
      "ResponseBody": {
        "etag": "zcew91qIr9xtNGcZTrq2BHmwGxF_YCEeSR1Lz1EZJvI",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:50\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODU2Mw==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Nov, 07 2023 23:50:51.726691 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Mi7Z6MuQYpG7TH6hP64ZxsFzWLebstLifpqQ72i7nuo\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:50 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODU2NQ==;sn=24188565"
      },
      "ResponseBody": {
        "etag": "Mi7Z6MuQYpG7TH6hP64ZxsFzWLebstLifpqQ72i7nuo",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:50\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODU2NQ==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Nov, 07 2023 23:50:51.752686 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00227ctO3vl3M9lcdZmU5KrTL2TJdeVgMbcfdHjJgaA2bvM\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:50 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODU2Nw==;sn=24188567"
      },
      "ResponseBody": {
        "etag": "7ctO3vl3M9lcdZmU5KrTL2TJdeVgMbcfdHjJgaA2bvM",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:50\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODU2Nw==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Nov, 07 2023 23:50:51.778684 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00227l0vKXvdMTWxFMgEdk_NMhQzgV_0HWdLx8hwodjq5ko\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:50 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODU2OQ==;sn=24188569"
      },
      "ResponseBody": {
        "etag": "7l0vKXvdMTWxFMgEdk_NMhQzgV_0HWdLx8hwodjq5ko",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:50\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODU2OQ==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Nov, 07 2023 23:50:51.802688 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODU3MQ==",
        "x-ms-content-sha256": "GORL5\u002BRWXCSHKWOJcYQpPM03mZ4lvE/r5VQBfftpZRg=",
        "x-ms-date": "Nov, 07 2023 23:50:51.825194 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "co[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=message%2A\u0026label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Nov, 07 2023 23:50:51.851392 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODU3NA==;sn=24188574"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "brgfAqGjCkU3kDfL1X8dnhS3eDaV2xDv2d_jtxWp_34",
            "key": "message",
            "label": "dev",
            "content_type": "text/plain",
            "value": "test",
            "tags": {},
            "locked": false,
            "last_modified": "2023-11-07T23:50:50\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
