{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/test-snapshot-1775839070?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"J79RyvXJmz9kr-L5l8N8cFslopp4CsZcLoh7qzmAnqo\"",
        "Last-Modified": "Fri, 10 Apr 2026 16:37:52 GMT",
        "Link": "</kv?snapshot=test-snapshot-1775839070&api-version=1970-01-01",
        "x-ms-date": "Fri, 10 Apr 2026 16:43:02 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "name": "Sanitized",
        "status": "ready",
        "filters": [
          {
            "key": "snapshot_test_*",
            "label": null,
            "tags": []
          },
          {
            "key": ".appconfig.featureflag/SnapshotFeature*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-04-10T16:37:50+00:00",
        "size": 3000,
        "items_count": 5,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"iD4VdTO_Vx0WPaklnJbZVr3Wd2TpgkaJc5ORFUpQ3A0\"",
        "x-ms-date": "Fri, 10 Apr 2026 16:43:02 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/SnapshotFeature",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"SnapshotFeature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-10T16:37:50+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/SnapshotFeatureDisabled",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"SnapshotFeatureDisabled\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-10T16:37:50+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "snapshot_test_json",
            "label": null,
            "content_type": "application/json",
            "value": "{\"nested\": \"snapshot_value\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-10T16:37:50+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "snapshot_test_key1",
            "label": null,
            "content_type": null,
            "value": "snapshot_test_value1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-10T16:37:49+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "snapshot_test_key2",
            "label": null,
            "content_type": null,
            "value": "snapshot_test_value2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-10T16:37:50+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_test_key?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"STo9XRux11EMELBldxZ0H3frTQWQh_SbLQA2XSIawyY\"",
        "Last-Modified": "Fri, 10 Apr 2026 16:40:28 GMT",
        "x-ms-date": "Fri, 10 Apr 2026 16:43:02 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_test_key",
        "label": null,
        "content_type": null,
        "value": "original_refresh_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-10T16:40:28+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot_test_key1?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "snapshot_test_key1",
        "label": "\u0000",
        "value": "MODIFIED_VALUE1",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oefXb5JZzv2qh3zmJiLMC8CYu80YRLM7FNoJLbMnsJM\"",
        "Last-Modified": "Fri, 10 Apr 2026 16:43:02 GMT",
        "x-ms-date": "Fri, 10 Apr 2026 16:43:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "snapshot_test_key1",
        "label": null,
        "content_type": null,
        "value": "MODIFIED_VALUE1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-10T16:43:02+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot_test_json?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "snapshot_test_json",
        "label": "\u0000",
        "value": "{\"nested\": \"MODIFIED_VALUE\"}",
        "content_type": "application/json",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FuKO55rHOytiod3Ho1JOJlVmYrznARRrCHVDlBPHyds\"",
        "Last-Modified": "Fri, 10 Apr 2026 16:43:03 GMT",
        "x-ms-date": "Fri, 10 Apr 2026 16:43:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "snapshot_test_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"nested\": \"MODIFIED_VALUE\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-10T16:43:03+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/new_key_added_after_load?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "new_key_added_after_load",
        "label": "\u0000",
        "value": "new_value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"O8wQGjSKMD2Z-2g784fg2PhucYKiFqxgWpQdkJYl7Ag\"",
        "Last-Modified": "Fri, 10 Apr 2026 16:43:03 GMT",
        "x-ms-date": "Fri, 10 Apr 2026 16:43:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "new_key_added_after_load",
        "label": null,
        "content_type": null,
        "value": "new_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-10T16:43:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_test_key?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"STo9XRux11EMELBldxZ0H3frTQWQh_SbLQA2XSIawyY\""
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zya1-UTQnpc-JHfajtXU641NVqPWVty_LDOhdxVQToI\"",
        "Last-Modified": "Fri, 10 Apr 2026 16:43:03 GMT",
        "x-ms-date": "Fri, 10 Apr 2026 16:43:03 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_test_key",
        "label": null,
        "content_type": null,
        "value": "updated_refresh_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-10T16:43:03+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_test_key?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "refresh_test_key",
        "label": "\u0000",
        "value": "original_refresh_value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PcgvUUqkQzwLJO2SeXVYxvAe0mJrsDZQsZt8NhZlp2E\"",
        "Last-Modified": "Fri, 10 Apr 2026 16:43:05 GMT",
        "x-ms-date": "Fri, 10 Apr 2026 16:43:05 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_test_key",
        "label": null,
        "content_type": null,
        "value": "original_refresh_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-10T16:43:05+00:00"
      }
    }
  ],
  "Variables": {}
}
