{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Dec, 06 2023 21:13:46.610014 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022VCqgcj5RFiT00EFoveYWgMSJw3c2fcGaN2oSGO2IV60\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:46 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTMwNA==;sn=24451304"
      },
      "ResponseBody": {
        "etag": "VCqgcj5RFiT00EFoveYWgMSJw3c2fcGaN2oSGO2IV60",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:46\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTMwNA==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Dec, 06 2023 21:13:46.653192 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022TOaxRo4trnr2KBNKTFhTuez-zsClCplYRRXzGsQBTDQ\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:46 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTMwNg==;sn=24451306"
      },
      "ResponseBody": {
        "etag": "TOaxRo4trnr2KBNKTFhTuez-zsClCplYRRXzGsQBTDQ",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:46\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTMwNg==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Dec, 06 2023 21:13:46.686813 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022KOc8Koupeg6YOMtQ9QUXFx7KH14ZlbdmzGCM0RWPDTY\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:46 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTMwOA==;sn=24451308"
      },
      "ResponseBody": {
        "etag": "KOc8Koupeg6YOMtQ9QUXFx7KH14ZlbdmzGCM0RWPDTY",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:46\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTMwOA==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Dec, 06 2023 21:13:46.730452 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022AMTfZqcwpD3Lf9rTy0CCLViOhadBfdl3aD9Wlk87BhM\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:46 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTMxMA==;sn=24451310"
      },
      "ResponseBody": {
        "etag": "AMTfZqcwpD3Lf9rTy0CCLViOhadBfdl3aD9Wlk87BhM",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:46\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTMxMA==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Dec, 06 2023 21:13:46.763845 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00229lupEbjXJlOyXvK-RJ-LC6tVrW6-QHRLIhMc8texDbc\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:46 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTMxMg==;sn=24451312"
      },
      "ResponseBody": {
        "etag": "9lupEbjXJlOyXvK-RJ-LC6tVrW6-QHRLIhMc8texDbc",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:46\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTMxMg==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Dec, 06 2023 21:13:46.796504 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022T4jgvRxm27ynvddh1qKgc7UrdCjnxe6io1GxOipqTSI\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:46 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTMxNA==;sn=24451314"
      },
      "ResponseBody": {
        "etag": "T4jgvRxm27ynvddh1qKgc7UrdCjnxe6io1GxOipqTSI",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:46\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTMxNA==",
        "x-ms-content-sha256": "ZaRQrMuiAkQC3e99M9p5A\u002BkYjaVFkJ3s6ObA2yC1LQI=",
        "x-ms-date": "Dec, 06 2023 21:13:46.827262 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Dec, 06 2023 21:13:46.849807 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022qL25Ir_7t_Pnb4pNMrlP6KK3V0ErEcQ5zdFzIShnd4s\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTMxNw==;sn=24451317"
      },
      "ResponseBody": {
        "etag": "qL25Ir_7t_Pnb4pNMrlP6KK3V0ErEcQ5zdFzIShnd4s",
        "items": [
          {
            "etag": "hQKHO8fGn7rP_57RhQqjckoaJTe0I4T1H-5uMgLUlPY",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2023-12-06T21:13:45\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
