{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Dec, 06 2023 21:14:01.644462 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NyFhye4d3CL4Nz4lcLTZRkhq9ItHttsPBN0L3wISYWY\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:14:01 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTU2OA==;sn=24451568"
      },
      "ResponseBody": {
        "etag": "NyFhye4d3CL4Nz4lcLTZRkhq9ItHttsPBN0L3wISYWY",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:14:01\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTU2OA==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Dec, 06 2023 21:14:01.684140 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NN52aNP8V6g6DpSnuQCDvexBTwHKhpSrhMf03MSHobk\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:14:01 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTU3MA==;sn=24451570"
      },
      "ResponseBody": {
        "etag": "NN52aNP8V6g6DpSnuQCDvexBTwHKhpSrhMf03MSHobk",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:14:01\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTU3MA==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Dec, 06 2023 21:14:01.717695 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022_9k4bPWtBeAy6ntd6Bsu31ESRwMdv_3yUNEpltEnCZo\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:14:01 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTU3Mg==;sn=24451572"
      },
      "ResponseBody": {
        "etag": "_9k4bPWtBeAy6ntd6Bsu31ESRwMdv_3yUNEpltEnCZo",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:14:01\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTU3Mg==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Dec, 06 2023 21:14:01.734029 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022nqN-vcjmObGJowLvLjLnDHziDkU-XkW7ZSnpsPVUWt8\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:14:01 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTU3NA==;sn=24451574"
      },
      "ResponseBody": {
        "etag": "nqN-vcjmObGJowLvLjLnDHziDkU-XkW7ZSnpsPVUWt8",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:14:01\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTU3NA==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Dec, 06 2023 21:14:01.781487 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022WzfGIXm3L_IVT4NbaRVLcE1664nO74Ybzs_sYJo8GYY\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:14:01 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTU3Ng==;sn=24451576"
      },
      "ResponseBody": {
        "etag": "WzfGIXm3L_IVT4NbaRVLcE1664nO74Ybzs_sYJo8GYY",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:14:01\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTU3Ng==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Dec, 06 2023 21:14:01.812747 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022zIQU-_yM1b7Sz9MX5balGWH40eEzdb5sSUleLNSQU14\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:14:01 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTU3OA==;sn=24451578"
      },
      "ResponseBody": {
        "etag": "zIQU-_yM1b7Sz9MX5balGWH40eEzdb5sSUleLNSQU14",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:14:01\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTU3OA==",
        "x-ms-content-sha256": "ZaRQrMuiAkQC3e99M9p5A\u002BkYjaVFkJ3s6ObA2yC1LQI=",
        "x-ms-date": "Dec, 06 2023 21:14:01.844097 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Dec, 06 2023 21:14:01.875823 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022PVsmATkRrWrkQtZIi6IW-p4VTUrN_TeDBE0AitTN65Y\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTU4MQ==;sn=24451581"
      },
      "ResponseBody": {
        "etag": "PVsmATkRrWrkQtZIi6IW-p4VTUrN_TeDBE0AitTN65Y",
        "items": [
          {
            "etag": "Zs1fdjZXQQEqVu5LCM-BTt14nnmQqhDdHTbCquwdHFc",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2023-12-06T21:14:00\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
