{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/test-snapshot-1777582651?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"b3NLEqXUggqRyM8Fmnex8pK_U8pBmrNVDwIHE_UVGi8\"",
        "Last-Modified": "Thu, 30 Apr 2026 20:57:38 GMT",
        "Link": "</kv?snapshot=test-snapshot-1777582651&api-version=1970-01-01",
        "x-ms-date": "Thu, 30 Apr 2026 21:03:16 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "name": "Sanitized",
        "status": "ready",
        "filters": [
          {
            "key": "snapshot_test_*",
            "label": null,
            "tags": []
          },
          {
            "key": ".appconfig.featureflag/SnapshotFeature*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-04-30T20:57:31+00:00",
        "size": 3000,
        "items_count": 5,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"kbfmivqm-SsbsdNXuaqTwBmA3-2w3D3eKg1aU41gJpI\"",
        "x-ms-date": "Thu, 30 Apr 2026 21:03:16 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/SnapshotFeature",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"SnapshotFeature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-30T20:57:31+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/SnapshotFeatureDisabled",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"SnapshotFeatureDisabled\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-30T20:57:31+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "snapshot_test_json",
            "label": null,
            "content_type": "application/json",
            "value": "{\"nested\": \"snapshot_value\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-30T20:57:31+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "snapshot_test_key1",
            "label": null,
            "content_type": null,
            "value": "snapshot_test_value1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-30T20:57:31+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "snapshot_test_key2",
            "label": null,
            "content_type": null,
            "value": "snapshot_test_value2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-30T20:57:31+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_test_key?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TawRY5AnyIBaR9EBipUaUUvXPx7Z5HJHfvUva32XK00\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:00:43 GMT",
        "x-ms-date": "Thu, 30 Apr 2026 21:03:16 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_test_key",
        "label": null,
        "content_type": null,
        "value": "original_refresh_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-30T21:00:43+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot_test_key1?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "snapshot_test_key1",
        "label": "\u0000",
        "value": "MODIFIED_VALUE1",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"S33cOdrjYxp1FqIQoRfv4YPzItX0Rc98-IfgppakoJ8\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:03:16 GMT",
        "x-ms-date": "Thu, 30 Apr 2026 21:03:16 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "snapshot_test_key1",
        "label": null,
        "content_type": null,
        "value": "MODIFIED_VALUE1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-30T21:03:16+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot_test_json?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "snapshot_test_json",
        "label": "\u0000",
        "value": "{\"nested\": \"MODIFIED_VALUE\"}",
        "content_type": "application/json",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KN_JSDDpsRyGlcfHbGmqKjZJC6Xm5Cp_pldrqhXA72k\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:03:16 GMT",
        "x-ms-date": "Thu, 30 Apr 2026 21:03:16 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "snapshot_test_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"nested\": \"MODIFIED_VALUE\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-30T21:03:16+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/new_key_added_after_load?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "new_key_added_after_load",
        "label": "\u0000",
        "value": "new_value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZEiutMrEo4gES59MY6IRNjkfSoGrfoEB29QaX73ZBX4\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:03:16 GMT",
        "x-ms-date": "Thu, 30 Apr 2026 21:03:16 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "new_key_added_after_load",
        "label": null,
        "content_type": null,
        "value": "new_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-30T21:03:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_test_key?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"TawRY5AnyIBaR9EBipUaUUvXPx7Z5HJHfvUva32XK00\""
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MKnjBmc55NQyWD3EO9BgLN03lv-nRprpYL2SBGdS3wE\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:03:16 GMT",
        "x-ms-date": "Thu, 30 Apr 2026 21:03:16 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_test_key",
        "label": null,
        "content_type": null,
        "value": "updated_refresh_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-30T21:03:16+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_test_key?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "refresh_test_key",
        "label": "\u0000",
        "value": "original_refresh_value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kIbzkRsvlmmrRmJbnwsu-caC_eMO0xXe6DpQJTp5pKU\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:03:18 GMT",
        "x-ms-date": "Thu, 30 Apr 2026 21:03:18 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_test_key",
        "label": null,
        "content_type": null,
        "value": "original_refresh_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-30T21:03:18+00:00"
      }
    }
  ],
  "Variables": {}
}
