{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022yCf6xdWMKwuGDQO8nEkDw_AUu_c9P1k01b8r8cHcWrk\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:49 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM5Ng==;sn=24451396"
      },
      "ResponseBody": {
        "etag": "yCf6xdWMKwuGDQO8nEkDw_AUu_c9P1k01b8r8cHcWrk",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:49\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM5Ng=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00225ZLXJQWgl0qdlpLZqykcWj-7yTdBgYyuyJ3bFynVFfw\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:49 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM5OA==;sn=24451398"
      },
      "ResponseBody": {
        "etag": "5ZLXJQWgl0qdlpLZqykcWj-7yTdBgYyuyJ3bFynVFfw",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:49\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM5OA=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NW7a2s1BT40-2A8BmNfgPZYhMXpWMHZyetAyb78TGq4\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:49 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTQwMA==;sn=24451400"
      },
      "ResponseBody": {
        "etag": "NW7a2s1BT40-2A8BmNfgPZYhMXpWMHZyetAyb78TGq4",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:49\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTQwMA=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022C1fdm_6-gfkBH2EEGatL1MmjJQbPiAHS0ObvMH8q6WE\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:49 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTQwMg==;sn=24451402"
      },
      "ResponseBody": {
        "etag": "C1fdm_6-gfkBH2EEGatL1MmjJQbPiAHS0ObvMH8q6WE",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:49\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTQwMg=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022wxyPaPu4BX_NMCp4PTuLH0osawUpKwcDUqwIhZrQEiM\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:49 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTQwNA==;sn=24451404"
      },
      "ResponseBody": {
        "etag": "wxyPaPu4BX_NMCp4PTuLH0osawUpKwcDUqwIhZrQEiM",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:49\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTQwNA=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00221CIbV6TNGEJqGPYRrsTH9JKpI7JDHTecAwS18QlctVw\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:49 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTQwNg==;sn=24451406"
      },
      "ResponseBody": {
        "etag": "1CIbV6TNGEJqGPYRrsTH9JKpI7JDHTecAwS18QlctVw",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:49\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTQwNg=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTQwOA=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MvbgoIB4--rv4fndJxsW_oza1QHWNo9DhIvWCJUNJ4I\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:49 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTQxMA==;sn=24451410"
      },
      "ResponseBody": {
        "etag": "MvbgoIB4--rv4fndJxsW_oza1QHWNo9DhIvWCJUNJ4I",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:49\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022g-BdTWg4BKKhdw0KpovOW--IA7omcsCx7g6VWM1EJUY\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTQxMQ==;sn=24451411"
      },
      "ResponseBody": {
        "etag": "g-BdTWg4BKKhdw0KpovOW--IA7omcsCx7g6VWM1EJUY",
        "items": [
          {
            "etag": "MvbgoIB4--rv4fndJxsW_oza1QHWNo9DhIvWCJUNJ4I",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2023-12-06T21:13:49\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "Very secret value",
        "id": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/30d8830ec5ed4a428d311292a826f452",
        "attributes": {
          "enabled": true,
          "created": 1697584056,
          "updated": 1697584056,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "tags": {}
      }
    }
  ],
  "Variables": {}
}
