{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Sep, 29 2023 22:17:53.257369 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022yx0GAyZNx5z3bNp5KjQqad3KAFPFpjYL4epks4FBgY8\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 22:17:52 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMDMw;sn=20231030"
      },
      "ResponseBody": {
        "etag": "yx0GAyZNx5z3bNp5KjQqad3KAFPFpjYL4epks4FBgY8",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-29T22:17:52\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMDMw",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Sep, 29 2023 22:17:53.322250 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022En-hDScuUkw0T6rXFSpbDb3KnWbOHpTfFujPnIt0e1Q\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 22:17:53 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMDMy;sn=20231032"
      },
      "ResponseBody": {
        "etag": "En-hDScuUkw0T6rXFSpbDb3KnWbOHpTfFujPnIt0e1Q",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-29T22:17:53\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMDMy",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Sep, 29 2023 22:17:53.373546 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022huMZePY_5nW7N1OAItyvVmB6WUi07YK8-rQoMore9eM\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 22:17:53 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMDM0;sn=20231034"
      },
      "ResponseBody": {
        "etag": "huMZePY_5nW7N1OAItyvVmB6WUi07YK8-rQoMore9eM",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-29T22:17:53\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMDM0",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Sep, 29 2023 22:17:53.422260 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00229tLXRQdGIjID1888ljFLyv3YZw_YeaRONs81_n5avSE\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 22:17:53 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMDM2;sn=20231036"
      },
      "ResponseBody": {
        "etag": "9tLXRQdGIjID1888ljFLyv3YZw_YeaRONs81_n5avSE",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-29T22:17:53\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMDM2",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Sep, 29 2023 22:17:53.468352 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022CEiwoxy037q2a4bSHBVu9QzpwGkcbDcCJcm4v1J7EeA\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 22:17:53 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMDM4;sn=20231038"
      },
      "ResponseBody": {
        "etag": "CEiwoxy037q2a4bSHBVu9QzpwGkcbDcCJcm4v1J7EeA",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-29T22:17:53\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMDM4",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Sep, 29 2023 22:17:53.530975 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022tu4UFDG4AZecL4epjuI5ypynSp1VFEVt7Dvg_iaDuXU\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 22:17:53 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMDQw;sn=20231040"
      },
      "ResponseBody": {
        "etag": "tu4UFDG4AZecL4epjuI5ypynSp1VFEVt7Dvg_iaDuXU",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-29T22:17:53\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMDQw",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Sep, 29 2023 22:17:53.593557 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMDQy",
        "x-ms-content-sha256": "2TrOkt5RDQ73R9wDZam0T3ZgZm0\u002BCAX4aqBYMU1pars=",
        "x-ms-date": "Sep, 29 2023 22:17:53.640937 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "conten[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=message%2A\u0026label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Sep, 29 2023 22:17:53.705726 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMDQ1;sn=20231045"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "En-hDScuUkw0T6rXFSpbDb3KnWbOHpTfFujPnIt0e1Q",
            "key": "message",
            "label": "dev",
            "content_type": "text/plain",
            "value": "test",
            "tags": {},
            "locked": false,
            "last_modified": "2023-09-29T22:17:53\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
