{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Sep, 29 2023 22:18:09.135836 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022cV4TevoKZhxOn3VtI9HbwZmikw28RDPlQK3hpG5yM80\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 22:18:08 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjk0;sn=20231294"
      },
      "ResponseBody": {
        "etag": "cV4TevoKZhxOn3VtI9HbwZmikw28RDPlQK3hpG5yM80",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-29T22:18:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjk0",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Sep, 29 2023 22:18:09.204991 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022IfS03gsL_NsZTvjlz5mp0FmQKnVCh1rzzB9jPSVUdYQ\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 22:18:08 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjk2;sn=20231296"
      },
      "ResponseBody": {
        "etag": "IfS03gsL_NsZTvjlz5mp0FmQKnVCh1rzzB9jPSVUdYQ",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-29T22:18:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjk2",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Sep, 29 2023 22:18:09.256797 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MGx7H28ve6-OhNofVShpPENtDWozXVMnjxF71KoS_gk\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 22:18:08 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjk4;sn=20231298"
      },
      "ResponseBody": {
        "etag": "MGx7H28ve6-OhNofVShpPENtDWozXVMnjxF71KoS_gk",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-29T22:18:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjk4",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Sep, 29 2023 22:18:09.305126 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022EuyatvUFHeEaVsz7d6dv638OAx3ofLpjWSiLLRoEQL0\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 22:18:09 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMzAw;sn=20231300"
      },
      "ResponseBody": {
        "etag": "EuyatvUFHeEaVsz7d6dv638OAx3ofLpjWSiLLRoEQL0",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-29T22:18:09\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMzAw",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Sep, 29 2023 22:18:09.356873 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022mzpnL1F_P23di_k4NhFW3-2yMKt6fHXL2lPtePBRfvg\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 22:18:09 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMzAy;sn=20231302"
      },
      "ResponseBody": {
        "etag": "mzpnL1F_P23di_k4NhFW3-2yMKt6fHXL2lPtePBRfvg",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-29T22:18:09\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMzAy",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Sep, 29 2023 22:18:09.400258 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022__3hQ5WnzbDuc9tF8uWYFd1Rl7rfwCJZ_Z88nbyt_Yc\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 22:18:09 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMzA0;sn=20231304"
      },
      "ResponseBody": {
        "etag": "__3hQ5WnzbDuc9tF8uWYFd1Rl7rfwCJZ_Z88nbyt_Yc",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-29T22:18:09\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMzA0",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Sep, 29 2023 22:18:09.457048 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMzA2",
        "x-ms-content-sha256": "2TrOkt5RDQ73R9wDZam0T3ZgZm0\u002BCAX4aqBYMU1pars=",
        "x-ms-date": "Sep, 29 2023 22:18:09.494315 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "conten[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Sep, 29 2023 22:18:09.541297 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMzA5;sn=20231309"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "ulUPVK_L8EnCq7O25rTjAz70BQGlmgzND2vyB14O760",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
