{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17+9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF+AgFzgI=",
        "x-ms-date": "May, 09 2024 17:23:43.886872 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"77A3cq0mA-pQDoLvdqa_pX0c3MWBA2-NcS52bO0BCWU\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:44 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjU2OQ==;sn=26766569"
      },
      "ResponseBody": {
        "etag": "77A3cq0mA-pQDoLvdqa_pX0c3MWBA2-NcS52bO0BCWU",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:44+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjU2OQ==",
        "x-ms-content-sha256": "ldGB+yUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "May, 09 2024 17:23:44.264377 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"o3gvDrtd4f-h0uyrwggm8BD5AdS2wteXO6_qHHeGAfU\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:44 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjU3MQ==;sn=26766571"
      },
      "ResponseBody": {
        "etag": "o3gvDrtd4f-h0uyrwggm8BD5AdS2wteXO6_qHHeGAfU",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:44+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjU3MQ==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr+sa5KgTtCgv2+3ps1kcPne0Y=",
        "x-ms-date": "May, 09 2024 17:23:44.281452 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"t3dhBHJYEM6LBd_AuyBrUGBS-RlKvT5JLzcC9TDwJEk\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:44 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjU3Mw==;sn=26766573"
      },
      "ResponseBody": {
        "etag": "t3dhBHJYEM6LBd_AuyBrUGBS-RlKvT5JLzcC9TDwJEk",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:44+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjU3Mw==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "May, 09 2024 17:23:44.298463 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3MvkiijKJ-78iNodQfSJbS9GmwQb7v3AWHEx8cZ2dnU\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:44 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjU3NQ==;sn=26766575"
      },
      "ResponseBody": {
        "etag": "3MvkiijKJ-78iNodQfSJbS9GmwQb7v3AWHEx8cZ2dnU",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:44+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjU3NQ==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "May, 09 2024 17:23:44.313743 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"j94UOfeoeupOb6hn6JwMAVJK7YvazZM_x-X0CIN-3oU\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:44 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjU3Nw==;sn=26766577"
      },
      "ResponseBody": {
        "etag": "j94UOfeoeupOb6hn6JwMAVJK7YvazZM_x-X0CIN-3oU",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:44+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjU3Nw==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "May, 09 2024 17:23:44.331756 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-dk99JTu7bcSKCDE3TmajQqk1YHB9Ws9JHWSipMwv_4\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:44 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjU3OQ==;sn=26766579"
      },
      "ResponseBody": {
        "etag": "-dk99JTu7bcSKCDE3TmajQqk1YHB9Ws9JHWSipMwv_4",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:44+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjU3OQ==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "May, 09 2024 17:23:44.345831 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ePUBlR3JwIWRM898zjzNbCi0O00G4XFJVcBhetjzg5g\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:44 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjU4MQ==;sn=26766581"
      },
      "ResponseBody": {
        "etag": "ePUBlR3JwIWRM898zjzNbCi0O00G4XFJVcBhetjzg5g",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:44+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A&label=prod&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "May, 09 2024 17:23:44.361844 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"CXn0s5B0hs1F81b1L9bFKrh4cAOAtaGgnu321r7rvMg\"",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjU4Mg==;sn=26766582"
      },
      "ResponseBody": {
        "etag": "CXn0s5B0hs1F81b1L9bFKrh4cAOAtaGgnu321r7rvMg",
        "items": [
          {
            "etag": "dA_tsi-McLN0lY1EN6sHXOuaYUOvPcrI9aV3zn8CcOU",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-09T17:23:40+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
