{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"mU9MazoB6Nh4ugN9I0__AJRiR2osDqM7yjAgZgqugzg\"",
        "x-ms-date": "Fri, 13 Mar 2026 20:27:10 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "multi_tagged",
            "label": null,
            "content_type": "text/plain",
            "value": "multi tagged value",
            "tags": {
              "a": "b",
              "c": "d"
            },
            "locked": false,
            "last_modified": "2026-03-13T20:22:54+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
