{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022RxjKR1-wANL5CVipKdLXDW-AaBmdS1DmR8u6CxO2B74\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYyNA==;sn=25884624"
      },
      "ResponseBody": {
        "etag": "RxjKR1-wANL5CVipKdLXDW-AaBmdS1DmR8u6CxO2B74",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:24\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYyNA=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Jwcc1mbQq66P5AMWDkrG2V7EDG_b3ZjLW0dDLOZ1GF4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYyNg==;sn=25884626"
      },
      "ResponseBody": {
        "etag": "Jwcc1mbQq66P5AMWDkrG2V7EDG_b3ZjLW0dDLOZ1GF4",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:24\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYyNg=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022U5gP8o1H8EkIRE6rsV2sYsqoxn1T9abVbc5dEGRiBMg\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYyOA==;sn=25884628"
      },
      "ResponseBody": {
        "etag": "U5gP8o1H8EkIRE6rsV2sYsqoxn1T9abVbc5dEGRiBMg",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:24\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYyOA=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022XHovpGoGv57pjHqr8lolbKQdQEU5tZuovlqaFNWYZTw\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYzMA==;sn=25884630"
      },
      "ResponseBody": {
        "etag": "XHovpGoGv57pjHqr8lolbKQdQEU5tZuovlqaFNWYZTw",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:24\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYzMA=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022fB6PrSR0ia5-BYdKWyv8IRLzTAJlHwaYfOUzXcVcnMk\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYzMg==;sn=25884632"
      },
      "ResponseBody": {
        "etag": "fB6PrSR0ia5-BYdKWyv8IRLzTAJlHwaYfOUzXcVcnMk",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:24\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYzMg=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022BYPcLBjX6EP7iMmNO41pJxluetjKYjKzQGFyOSFrTmE\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYzNA==;sn=25884634"
      },
      "ResponseBody": {
        "etag": "BYPcLBjX6EP7iMmNO41pJxluetjKYjKzQGFyOSFrTmE",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:24\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYzNA=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022TtzGPhLrTQvb8VggcoQO9sc-wVqYdVEJeSvbf4m6waI\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYzNw==;sn=25884637"
      },
      "ResponseBody": {
        "etag": "TtzGPhLrTQvb8VggcoQO9sc-wVqYdVEJeSvbf4m6waI",
        "items": [
          {
            "etag": "jVGo0UVXY4TqirCib3YPVh9gydrO7UDKZk1cJOLX390",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-03-27T18:58:17\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
