{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022d_ocxBJryW57RK2h6A9Qb5vP3rIItU6XCWPmYw-L1I8\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:40 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQzNQ==;sn=24188435"
      },
      "ResponseBody": {
        "etag": "d_ocxBJryW57RK2h6A9Qb5vP3rIItU6XCWPmYw-L1I8",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:40\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQzNQ=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ROGeF6wnmOKDC0bSnNq5xQTZjYX05QYltlC3_zyJaOo\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:40 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQzNw==;sn=24188437"
      },
      "ResponseBody": {
        "etag": "ROGeF6wnmOKDC0bSnNq5xQTZjYX05QYltlC3_zyJaOo",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:40\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQzNw=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022_DraHuhEV6WHU8YJ0_NMpSaamMS_QmrYHebLqpdUzW8\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:40 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQzOQ==;sn=24188439"
      },
      "ResponseBody": {
        "etag": "_DraHuhEV6WHU8YJ0_NMpSaamMS_QmrYHebLqpdUzW8",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:40\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQzOQ=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u002219F7VKV7sW7RGGPLjZHYjIsn_J40poSdIyd6jFcCHPs\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:41 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ0MQ==;sn=24188441"
      },
      "ResponseBody": {
        "etag": "19F7VKV7sW7RGGPLjZHYjIsn_J40poSdIyd6jFcCHPs",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ0MQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00227JLwlbwWLlsYtjRpX6z_wdIgD4FZ6rslmKpzCfc0SU8\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:41 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ0Mw==;sn=24188443"
      },
      "ResponseBody": {
        "etag": "7JLwlbwWLlsYtjRpX6z_wdIgD4FZ6rslmKpzCfc0SU8",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ0Mw=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022mBTgzImRzCppOL4SW3yo13hNgObjFTVuU4VkS3Bbpc8\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:41 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ0NQ==;sn=24188445"
      },
      "ResponseBody": {
        "etag": "mBTgzImRzCppOL4SW3yo13hNgObjFTVuU4VkS3Bbpc8",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ0NQ=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ0OA==;sn=24188448"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "NA5Er0--UGh6WfJ80STeayk_XTwIjAN6-9MRX6960dU",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2023-11-07T23:50:40\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
