{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uXohctBdJeLI2T3dE_b4B4R17mHJQLHPJxqCLsFkOxc\"",
        "Last-Modified": "Thu, 09 May 2024 17:24:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY0NQ==;sn=26766645"
      },
      "ResponseBody": {
        "etag": "uXohctBdJeLI2T3dE_b4B4R17mHJQLHPJxqCLsFkOxc",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:24:04+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY0NQ=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UzhS9URV3DKDFTqrhxwa-sjh714BQ_1MSEDe9c4OCkM\"",
        "Last-Modified": "Thu, 09 May 2024 17:24:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY0Nw==;sn=26766647"
      },
      "ResponseBody": {
        "etag": "UzhS9URV3DKDFTqrhxwa-sjh714BQ_1MSEDe9c4OCkM",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:24:04+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY0Nw=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gD5CkB76GrPbK0JLTeOLAvhdTbjwoESP9M61D8-Fcww\"",
        "Last-Modified": "Thu, 09 May 2024 17:24:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY0OQ==;sn=26766649"
      },
      "ResponseBody": {
        "etag": "gD5CkB76GrPbK0JLTeOLAvhdTbjwoESP9M61D8-Fcww",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:24:04+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY0OQ=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hklON0cUn9YUJto8rqFMIGqifyfLxpq1b2x5jA73x5E\"",
        "Last-Modified": "Thu, 09 May 2024 17:24:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY1MQ==;sn=26766651"
      },
      "ResponseBody": {
        "etag": "hklON0cUn9YUJto8rqFMIGqifyfLxpq1b2x5jA73x5E",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:24:04+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY1MQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"b9nQ-4bkOpvkz2k4R2HVtrnmtSYohRcQMyN6N3MYnKk\"",
        "Last-Modified": "Thu, 09 May 2024 17:24:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY1Mw==;sn=26766653"
      },
      "ResponseBody": {
        "etag": "b9nQ-4bkOpvkz2k4R2HVtrnmtSYohRcQMyN6N3MYnKk",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:24:04+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY1Mw=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WpE5xW6mAcVGdvqKLPJAfqGRCoz5SDolxTALupctKbQ\"",
        "Last-Modified": "Thu, 09 May 2024 17:24:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY1NQ==;sn=26766655"
      },
      "ResponseBody": {
        "etag": "WpE5xW6mAcVGdvqKLPJAfqGRCoz5SDolxTALupctKbQ",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:24:04+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY1NQ=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"I6f_edgzyxK8QNxSIMImM8Frp8VLI-kI1Cc7z5T2I9Q\"",
        "Last-Modified": "Thu, 09 May 2024 17:24:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY1Nw==;sn=26766657"
      },
      "ResponseBody": {
        "etag": "I6f_edgzyxK8QNxSIMImM8Frp8VLI-kI1Cc7z5T2I9Q",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:24:04+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY1Nw=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VBiPoMfUgxhi8nCJKmfgv1ix1rvUfkMoAW5YNRq7zYE\"",
        "Last-Modified": "Thu, 09 May 2024 17:24:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY1OQ==;sn=26766659"
      },
      "ResponseBody": {
        "etag": "VBiPoMfUgxhi8nCJKmfgv1ix1rvUfkMoAW5YNRq7zYE",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:24:04+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=message%2A&label=dev&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"VsQUYNhInyoic6T9rJAN3pzrb7jdYhjDUukk9tpN9fk\"",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY2MA==;sn=26766660"
      },
      "ResponseBody": {
        "etag": "VsQUYNhInyoic6T9rJAN3pzrb7jdYhjDUukk9tpN9fk",
        "items": [
          {
            "etag": "UzhS9URV3DKDFTqrhxwa-sjh714BQ_1MSEDe9c4OCkM",
            "key": "message",
            "label": "dev",
            "content_type": "text/plain",
            "value": "test",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-09T17:24:04+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
