{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022B_fbm1K0nOmDvUiBWGyZfPeQOUY3d5_vLiEOA2l6EaU\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTU0MA==;sn=26101540"
      },
      "ResponseBody": {
        "etag": "B_fbm1K0nOmDvUiBWGyZfPeQOUY3d5_vLiEOA2l6EaU",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTU0MA=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u002272i2sJuJF_46r5hkwjW6zmFLeW_GZHR_5TjG5J5zS7A\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTU0Mg==;sn=26101542"
      },
      "ResponseBody": {
        "etag": "72i2sJuJF_46r5hkwjW6zmFLeW_GZHR_5TjG5J5zS7A",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTU0Mg=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ZUnWoi5Gg87g8gvwJ8q9LR_p-Yoa8R76kr5lVx2HBXM\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTU0NA==;sn=26101544"
      },
      "ResponseBody": {
        "etag": "ZUnWoi5Gg87g8gvwJ8q9LR_p-Yoa8R76kr5lVx2HBXM",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTU0NA=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MImCpel3cod0gSRfFB7IATzWfthpK2ptuPI8RYcsEwI\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTU0Ng==;sn=26101546"
      },
      "ResponseBody": {
        "etag": "MImCpel3cod0gSRfFB7IATzWfthpK2ptuPI8RYcsEwI",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTU0Ng=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223YJbNRhKbx8lzZWtwJaDadE-zDk2KIre4R8GS81Udxw\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTU0OA==;sn=26101548"
      },
      "ResponseBody": {
        "etag": "3YJbNRhKbx8lzZWtwJaDadE-zDk2KIre4R8GS81Udxw",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTU0OA=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022yBmLyYHVrqgiLDwo_m8e8Y0CCNGRL16iHnoHbidbOqo\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTU1MA==;sn=26101550"
      },
      "ResponseBody": {
        "etag": "yBmLyYHVrqgiLDwo_m8e8Y0CCNGRL16iHnoHbidbOqo",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTU1MA=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTU1Mg=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022oqiXrI-eWLcUPJm5qiJhrwfoFucMIsJCuXbqp8mNIts\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTU1NA==;sn=26101554"
      },
      "ResponseBody": {
        "etag": "oqiXrI-eWLcUPJm5qiJhrwfoFucMIsJCuXbqp8mNIts",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u00220TSQFjLeE2gqxoa7qoZk5NPnCFyckuOeOELAQXxJP9A\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTU1NQ==;sn=26101555"
      },
      "ResponseBody": {
        "etag": "0TSQFjLeE2gqxoa7qoZk5NPnCFyckuOeOELAQXxJP9A",
        "items": [
          {
            "etag": "oqiXrI-eWLcUPJm5qiJhrwfoFucMIsJCuXbqp8mNIts",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-04-09T20:24:16\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "Very secret value",
        "id": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/30d8830ec5ed4a428d311292a826f452",
        "attributes": {
          "enabled": true,
          "created": 1697584056,
          "updated": 1697584056,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "tags": {}
      }
    }
  ],
  "Variables": {}
}
