{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/fake-tenant-id/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/fake-tenant-id/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/fake-tenant-id/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/fake-tenant-id/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/fake-tenant-id/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022qSWE3ThUw6jpjvHivrINl1Q9SH-iEDBk_DrT17Lp4_8\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:38:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE0Mg==;sn=25091142"
      },
      "ResponseBody": {
        "etag": "qSWE3ThUw6jpjvHivrINl1Q9SH-iEDBk_DrT17Lp4_8",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:38:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE0Mg=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022IYmzt2sb9oMLk41AEKjZne-3kfo7dBKv4uSZ6_OF0wY\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:38:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE0NA==;sn=25091144"
      },
      "ResponseBody": {
        "etag": "IYmzt2sb9oMLk41AEKjZne-3kfo7dBKv4uSZ6_OF0wY",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:38:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE0NA=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022C3fFxjVQAr2UAFoQffL_HIo5yRnNmdUFJJ-_ZooxvJQ\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:38:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE0Ng==;sn=25091146"
      },
      "ResponseBody": {
        "etag": "C3fFxjVQAr2UAFoQffL_HIo5yRnNmdUFJJ-_ZooxvJQ",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:38:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE0Ng=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022C6Buhn2PW5yX54RMlxfWAb-LS1AgWAC3W3cmfJ8TXFk\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:38:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE0OA==;sn=25091148"
      },
      "ResponseBody": {
        "etag": "C6Buhn2PW5yX54RMlxfWAb-LS1AgWAC3W3cmfJ8TXFk",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:38:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE0OA=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022HjDgU5XqkfII73NgkdlAQ9xNsr0PDjirBpPHHClbYpw\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:38:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE1MA==;sn=25091150"
      },
      "ResponseBody": {
        "etag": "HjDgU5XqkfII73NgkdlAQ9xNsr0PDjirBpPHHClbYpw",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:38:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE1MA=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022E7O1ZxawYNd3hOARXrvukJjgmWA4yeXdDx9mYX9jUok\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:38:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE1Mg==;sn=25091152"
      },
      "ResponseBody": {
        "etag": "E7O1ZxawYNd3hOARXrvukJjgmWA4yeXdDx9mYX9jUok",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:38:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE1Mg=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE1NA=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022GXdh3ffIPGja7EsteBX4XSUZCscsI2oXYqiLo5GolbA\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:38:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE1Ng==;sn=25091156"
      },
      "ResponseBody": {
        "etag": "GXdh3ffIPGja7EsteBX4XSUZCscsI2oXYqiLo5GolbA",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:38:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u00228qia-yMW7fNMwBdbQtTuRqC9uEsBt_LN5W59qtLBzFQ\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE1Nw==;sn=25091157"
      },
      "ResponseBody": {
        "etag": "8qia-yMW7fNMwBdbQtTuRqC9uEsBt_LN5W59qtLBzFQ",
        "items": [
          {
            "etag": "85Fvd2CJX-FjuwZH5i0zTRbSaxFCVYni9cJDcDOULr4",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=.appconfig.featureflag%2F%2A\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE1Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",[...]
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE1Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022HjDgU5XqkfII73NgkdlAQ9xNsr0PDjirBpPHHClbYpw\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:38:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE1Nw==;sn=25091157"
      },
      "ResponseBody": {
        "etag": "HjDgU5XqkfII73NgkdlAQ9xNsr0PDjirBpPHHClbYpw",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:38:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE1Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u002285Fvd2CJX-FjuwZH5i0zTRbSaxFCVYni9cJDcDOULr4\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:38:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE1Nw==;sn=25091157"
      },
      "ResponseBody": {
        "etag": "85Fvd2CJX-FjuwZH5i0zTRbSaxFCVYni9cJDcDOULr4",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:38:42\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Watch,UsesKeyVault",
        "If-None-Match": "\u0022HjDgU5XqkfII73NgkdlAQ9xNsr0PDjirBpPHHClbYpw\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE2MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022-4AIGKhzdbtHtFYVufbWZzw6ojDwL8B32n-SGRJ36oo\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:38:43 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE2MQ==;sn=25091161"
      },
      "ResponseBody": {
        "etag": "-4AIGKhzdbtHtFYVufbWZzw6ojDwL8B32n-SGRJ36oo",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "updated value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:38:43\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE2OA=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "content_type": "text/plain",
        "value": "original value",
        "last_modified": "2024-02-13T00:38:42.000Z",
        "tags": {},
        "locked": false,
        "etag": "HjDgU5XqkfII73NgkdlAQ9xNsr0PDjirBpPHHClbYpw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223spDfRMONAU4pqMQoNv0YQxRu5ZxayAtAVlGFgbWMfs\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:38:47 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MTE3MA==;sn=25091170"
      },
      "ResponseBody": {
        "etag": "3spDfRMONAU4pqMQoNv0YQxRu5ZxayAtAVlGFgbWMfs",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:38:47\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
