{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022l4jqgoVXXdeT0_hXLuZY_vTvOVdyvvvupH4bvIxPs3k\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY1MQ==;sn=24454651"
      },
      "ResponseBody": {
        "etag": "l4jqgoVXXdeT0_hXLuZY_vTvOVdyvvvupH4bvIxPs3k",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY1MQ=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022iBF1K6__80OPat5HtQRIFUypbnawuzf4wTJ4Fnwhi2o\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY1Mw==;sn=24454653"
      },
      "ResponseBody": {
        "etag": "iBF1K6__80OPat5HtQRIFUypbnawuzf4wTJ4Fnwhi2o",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY1Mw=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022FaqmWCWv3KOTjsgK8gFa5GddPxUy9-6xM2ObvVZkOHE\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY1NQ==;sn=24454655"
      },
      "ResponseBody": {
        "etag": "FaqmWCWv3KOTjsgK8gFa5GddPxUy9-6xM2ObvVZkOHE",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY1NQ=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022qimP7OiKTYLlx1y1ahPPQiKHG98Nqg8DuXvtWFZ8LaQ\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY1Nw==;sn=24454657"
      },
      "ResponseBody": {
        "etag": "qimP7OiKTYLlx1y1ahPPQiKHG98Nqg8DuXvtWFZ8LaQ",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY1Nw=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223o48nUzrh9kpB1yg7T7_pdBQyX-O5eaTxgHYYT98zH4\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY1OQ==;sn=24454659"
      },
      "ResponseBody": {
        "etag": "3o48nUzrh9kpB1yg7T7_pdBQyX-O5eaTxgHYYT98zH4",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY1OQ=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022nwdp6_93S33mpZcs0RcqO5Q9An2iNQKgXI_7WkpnMFI\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY2MQ==;sn=24454661"
      },
      "ResponseBody": {
        "etag": "nwdp6_93S33mpZcs0RcqO5Q9An2iNQKgXI_7WkpnMFI",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY2MQ=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY2Mw=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ICDeT3zMuCzlUmAOkjx3aFSQZM5gSvKIJpasK5qO9r4\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY2NQ==;sn=24454665"
      },
      "ResponseBody": {
        "etag": "ICDeT3zMuCzlUmAOkjx3aFSQZM5gSvKIJpasK5qO9r4",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022ipVcX1NdWWl_zjsQEr0OZKGmNsxWUe6ECqTJRwCpbwY\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY2Ng==;sn=24454666"
      },
      "ResponseBody": {
        "etag": "ipVcX1NdWWl_zjsQEr0OZKGmNsxWUe6ECqTJRwCpbwY",
        "items": [
          {
            "etag": "b8tvasxa78_8bw7G1BAwcmaMbIZiOAtRJ4yn3fBTBFA",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY2Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223o48nUzrh9kpB1yg7T7_pdBQyX-O5eaTxgHYYT98zH4\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY2Ng==;sn=24454666"
      },
      "ResponseBody": {
        "etag": "3o48nUzrh9kpB1yg7T7_pdBQyX-O5eaTxgHYYT98zH4",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:08\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Watch,UsesKeyVault",
        "If-None-Match": "\u00223o48nUzrh9kpB1yg7T7_pdBQyX-O5eaTxgHYYT98zH4\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY2Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00225Vz9sDtg0OevXEcA2zxmYWL_uv9glTugWH72FHDZbws\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:08 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY2OA==;sn=24454668"
      },
      "ResponseBody": {
        "etag": "5Vz9sDtg0OevXEcA2zxmYWL_uv9glTugWH72FHDZbws",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "updated value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:08\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY3MQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "content_type": "text/plain",
        "value": "original value",
        "last_modified": "2023-12-06T23:22:08.000Z",
        "tags": {},
        "locked": false,
        "etag": "3o48nUzrh9kpB1yg7T7_pdBQyX-O5eaTxgHYYT98zH4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223xyOR57l1AsMy8f4h6XsLUv9wsNVjc_m0UKGIgpo4EY\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:12 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDY3Mw==;sn=24454673"
      },
      "ResponseBody": {
        "etag": "3xyOR57l1AsMy8f4h6XsLUv9wsNVjc_m0UKGIgpo4EY",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:12\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
