{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Oct, 18 2023 16:47:04.878459 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022-C2TtZoUHULZj2azL_dY2U5DPXO4BmBYxHp4_hNJV14\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzAwNg==;sn=23983006"
      },
      "ResponseBody": {
        "etag": "-C2TtZoUHULZj2azL_dY2U5DPXO4BmBYxHp4_hNJV14",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:04\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzAwNg==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Oct, 18 2023 16:47:04.916206 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Z7oS5Kj9rvN5VgPFF_4FesAWEbVkdZDRMP_jHlyN_DY\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzAwOA==;sn=23983008"
      },
      "ResponseBody": {
        "etag": "Z7oS5Kj9rvN5VgPFF_4FesAWEbVkdZDRMP_jHlyN_DY",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:04\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzAwOA==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Oct, 18 2023 16:47:04.949619 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NJUcEsU7Q0-0pmgLtSkuTaq8f-yUjMpM0KrTyCmg7bc\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzAxMA==;sn=23983010"
      },
      "ResponseBody": {
        "etag": "NJUcEsU7Q0-0pmgLtSkuTaq8f-yUjMpM0KrTyCmg7bc",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:04\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzAxMA==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Oct, 18 2023 16:47:05.014022 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022otpdS58NzLvb7VTUKvmuQMj0dvfxsbfwLouu6CdNVTE\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzAxMg==;sn=23983012"
      },
      "ResponseBody": {
        "etag": "otpdS58NzLvb7VTUKvmuQMj0dvfxsbfwLouu6CdNVTE",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:04\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzAxMg==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Oct, 18 2023 16:47:05.054059 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022IO4qrkYrdSxOdyPj-kaH7QLynbj7KuzlH_azWZmQ6-M\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzAxNA==;sn=23983014"
      },
      "ResponseBody": {
        "etag": "IO4qrkYrdSxOdyPj-kaH7QLynbj7KuzlH_azWZmQ6-M",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:04\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzAxNA==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Oct, 18 2023 16:47:05.102838 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022UYkR0wFi8n-0GqPEfsZcTCepFB8yqcvJHlrgmz60Tq8\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzAxNg==;sn=23983016"
      },
      "ResponseBody": {
        "etag": "UYkR0wFi8n-0GqPEfsZcTCepFB8yqcvJHlrgmz60Tq8",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:04\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzAxNg==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Oct, 18 2023 16:47:05.142944 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Oct, 18 2023 16:47:05.168734 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzAxOQ==;sn=23983019"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "PNAw4m7Q2WxFz3zAzJEvBUIzJSNjgCG9mMAdmL0KyHA",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2023-10-18T16:47:03\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
