{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022JLFOyUcLhkGVG7KjvJz5F5M34rWdPPaSCNZ7fKBbjJw\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:14 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk4NA==;sn=25902984"
      },
      "ResponseBody": {
        "etag": "JLFOyUcLhkGVG7KjvJz5F5M34rWdPPaSCNZ7fKBbjJw",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:14\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk4NA=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022sg-atRpmgOByz6x4HG1Hbr3aUCUOV2iP3obnybhjIdc\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:14 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk4Ng==;sn=25902986"
      },
      "ResponseBody": {
        "etag": "sg-atRpmgOByz6x4HG1Hbr3aUCUOV2iP3obnybhjIdc",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:14\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk4Ng=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00225TrV_ezru9O7dxC8AIEU4TwC0Y9aJh5KFRIDa6PxSSc\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:14 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk4OA==;sn=25902988"
      },
      "ResponseBody": {
        "etag": "5TrV_ezru9O7dxC8AIEU4TwC0Y9aJh5KFRIDa6PxSSc",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:14\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk4OA=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022rpgHbyMG3CLCahQ0X7v9oRzpIWNJKKfcuR7KeFNSSzI\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:14 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk5MA==;sn=25902990"
      },
      "ResponseBody": {
        "etag": "rpgHbyMG3CLCahQ0X7v9oRzpIWNJKKfcuR7KeFNSSzI",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:14\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk5MA=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022JbHBfhyzFTyeP9rw5Z-uHrsTYFYN1zNjZRp71BJeo84\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:14 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk5Mg==;sn=25902992"
      },
      "ResponseBody": {
        "etag": "JbHBfhyzFTyeP9rw5Z-uHrsTYFYN1zNjZRp71BJeo84",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:14\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk5Mg=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022mws3BtsC54dtyDzBgKAwPcq90paHSfx77DjSxtr0WIM\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:14 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk5NA==;sn=25902994"
      },
      "ResponseBody": {
        "etag": "mws3BtsC54dtyDzBgKAwPcq90paHSfx77DjSxtr0WIM",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:14\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk5NA=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk5Ng=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022tzlZ_PGbcC8nJSE_n9YObxYaRGn_5XXdkkr4ggPuTuY\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:14 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk5OA==;sn=25902998"
      },
      "ResponseBody": {
        "etag": "tzlZ_PGbcC8nJSE_n9YObxYaRGn_5XXdkkr4ggPuTuY",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:14\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022qiC3u-3ydjMmTHBm1ozAmHWzsqXTmV9ddg8B88-BGHQ\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMjk5OQ==;sn=25902999"
      },
      "ResponseBody": {
        "etag": "qiC3u-3ydjMmTHBm1ozAmHWzsqXTmV9ddg8B88-BGHQ",
        "items": [
          {
            "etag": "tzlZ_PGbcC8nJSE_n9YObxYaRGn_5XXdkkr4ggPuTuY",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-03-28T18:59:14\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "Very secret value",
        "id": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/30d8830ec5ed4a428d311292a826f452",
        "attributes": {
          "enabled": true,
          "created": 1697584056,
          "updated": 1697584056,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "tags": {}
      }
    }
  ],
  "Variables": {}
}
