{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Apr, 09 2024 20:23:11.602849 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022N6DbTdHHREYamHEeKpZSJCc8xjH5JdfbZpbA48HjDuM\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:23:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI4Ng==;sn=26101286"
      },
      "ResponseBody": {
        "etag": "N6DbTdHHREYamHEeKpZSJCc8xjH5JdfbZpbA48HjDuM",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:23:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI4Ng==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Apr, 09 2024 20:23:11.624880 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022_NHGWRDlOcFWDXD0mwgawBL3GEefTWH2KCXpHAOx4Hw\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:23:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI4OA==;sn=26101288"
      },
      "ResponseBody": {
        "etag": "_NHGWRDlOcFWDXD0mwgawBL3GEefTWH2KCXpHAOx4Hw",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:23:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI4OA==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Apr, 09 2024 20:23:11.640148 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00220An7cNcf-j40rj4tHAPyBQhS31nBNnUpS_hyvSQgHTo\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:23:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI5MA==;sn=26101290"
      },
      "ResponseBody": {
        "etag": "0An7cNcf-j40rj4tHAPyBQhS31nBNnUpS_hyvSQgHTo",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:23:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI5MA==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Apr, 09 2024 20:23:11.654792 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022q15thEbO8OD8mHf7OHdw2BT4-943EA2cDAbR3HT9JkQ\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:23:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI5Mg==;sn=26101292"
      },
      "ResponseBody": {
        "etag": "q15thEbO8OD8mHf7OHdw2BT4-943EA2cDAbR3HT9JkQ",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:23:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI5Mg==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Apr, 09 2024 20:23:11.669966 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022SizEv5UFng8BWfj9MA0NkQhsU08DR1V6hbsu6f7P-w4\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:23:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI5NA==;sn=26101294"
      },
      "ResponseBody": {
        "etag": "SizEv5UFng8BWfj9MA0NkQhsU08DR1V6hbsu6f7P-w4",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:23:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI5NA==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Apr, 09 2024 20:23:11.684136 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ws9Y7lhwm2MQN-yTceSSoiHs-KZyI456EhVFI64Y3ZU\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:23:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI5Ng==;sn=26101296"
      },
      "ResponseBody": {
        "etag": "ws9Y7lhwm2MQN-yTceSSoiHs-KZyI456EhVFI64Y3ZU",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:23:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI5Ng==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Apr, 09 2024 20:23:11.696796 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=.appconfig.featureflag/B*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Apr, 09 2024 20:23:11.710951 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u00227vfx0RvuZltttQiW8aIJ7DKyAk8W2sR_HtgqoIEckyA\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI5OQ==;sn=26101299"
      },
      "ResponseBody": {
        "etag": "7vfx0RvuZltttQiW8aIJ7DKyAk8W2sR_HtgqoIEckyA",
        "items": [
          {
            "etag": "KCikYCPPOL02TDn3_41XqGWFeWH8Uih5cYa7LznkGmg",
            "key": ".appconfig.featureflag/Beta",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\u0022id\u0022: \u0022Beta\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\u0022client_filters\u0022: []}, \u0022display_name\u0022: null, \u0022description\u0022: null}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-03-25T19:21:53\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
