{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022kd1imDr8S057E4SaiBiaZovyrBZ-MTR1gbCX5e5C7zQ\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 00:03:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA3Ng==;sn=23976076"
      },
      "ResponseBody": {
        "etag": "kd1imDr8S057E4SaiBiaZovyrBZ-MTR1gbCX5e5C7zQ",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T00:03:22\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA3Ng=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022JgfE9bL_AQ822PYtr11Wc_svIPAEYLDBQQbb3SZmddk\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 00:03:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA3OA==;sn=23976078"
      },
      "ResponseBody": {
        "etag": "JgfE9bL_AQ822PYtr11Wc_svIPAEYLDBQQbb3SZmddk",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T00:03:22\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA3OA=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223xoRdP2RiEWLOIW_6bV0B71aGM-LIelXLnp2JrSvdZk\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 00:03:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA4MA==;sn=23976080"
      },
      "ResponseBody": {
        "etag": "3xoRdP2RiEWLOIW_6bV0B71aGM-LIelXLnp2JrSvdZk",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T00:03:22\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA4MA=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ey2ZlfDDH2HAenCgylA62R9iAU0ZBZQCOVZZyQcvpdY\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 00:03:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA4Mg==;sn=23976082"
      },
      "ResponseBody": {
        "etag": "ey2ZlfDDH2HAenCgylA62R9iAU0ZBZQCOVZZyQcvpdY",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T00:03:22\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA4Mg=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022-HOwDcs0E9frUWUHVX494oHAzKXZapGB46lg9ufDtvo\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 00:03:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA4NA==;sn=23976084"
      },
      "ResponseBody": {
        "etag": "-HOwDcs0E9frUWUHVX494oHAzKXZapGB46lg9ufDtvo",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T00:03:22\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA4NA=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022uy7qv0MqnF0JxkpPJmxgPZ5IEvjNIC9WdmilfNciO9o\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 00:03:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA4Ng==;sn=23976086"
      },
      "ResponseBody": {
        "etag": "uy7qv0MqnF0JxkpPJmxgPZ5IEvjNIC9WdmilfNciO9o",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T00:03:22\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA4Ng=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA4OA=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022UZPTZ8j4YIX0EDSEvQcK5MkDmiJQM7reeCPIGKP4CGc\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 00:03:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA5MA==;sn=23976090"
      },
      "ResponseBody": {
        "etag": "UZPTZ8j4YIX0EDSEvQcK5MkDmiJQM7reeCPIGKP4CGc",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T00:03:22\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA5MQ==;sn=23976091"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "mFjG32YeWWrclqqbsVEvSXsTYalaa8B10hc5xy0dJHw",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA5MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022-HOwDcs0E9frUWUHVX494oHAzKXZapGB46lg9ufDtvo\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 00:03:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA5MQ==;sn=23976091"
      },
      "ResponseBody": {
        "etag": "-HOwDcs0E9frUWUHVX494oHAzKXZapGB46lg9ufDtvo",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T00:03:22\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Watch",
        "If-None-Match": "\u0022-HOwDcs0E9frUWUHVX494oHAzKXZapGB46lg9ufDtvo\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA5Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022KxmYKz3yoDNzdJxT_iuCZemwXtJGr8svFUK6yccqqNE\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 00:03:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA5Mw==;sn=23976093"
      },
      "ResponseBody": {
        "etag": "KxmYKz3yoDNzdJxT_iuCZemwXtJGr8svFUK6yccqqNE",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "updated value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T00:03:22\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA5Ng=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "content_type": "text/plain",
        "value": "original value",
        "last_modified": "2023-10-18T00:03:22.000Z",
        "tags": {},
        "locked": false,
        "etag": "-HOwDcs0E9frUWUHVX494oHAzKXZapGB46lg9ufDtvo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00226bMU6bZsjFETkFPWFcd3244FfFTizosHotf3rWyuwCo\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 00:03:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NjA5OA==;sn=23976098"
      },
      "ResponseBody": {
        "etag": "6bMU6bZsjFETkFPWFcd3244FfFTizosHotf3rWyuwCo",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T00:03:27\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
