{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022SgAQk9q4mjwxfL_jbOKVxqr-nPEbbpXnmgeNyhe8Vaw\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcwNQ==;sn=25053705"
      },
      "ResponseBody": {
        "etag": "SgAQk9q4mjwxfL_jbOKVxqr-nPEbbpXnmgeNyhe8Vaw",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcwNQ=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ah5DZ40ydcMpE-T-rZ-_WRj4XWSezPkyU6rH48I_0II\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcwNw==;sn=25053707"
      },
      "ResponseBody": {
        "etag": "ah5DZ40ydcMpE-T-rZ-_WRj4XWSezPkyU6rH48I_0II",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcwNw=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022PhQKLnWlPI07BUu0eEx-1fmzTrKxd_VZGMk-wsfbTX0\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcwOQ==;sn=25053709"
      },
      "ResponseBody": {
        "etag": "PhQKLnWlPI07BUu0eEx-1fmzTrKxd_VZGMk-wsfbTX0",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcwOQ=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022_oxgk4oE6rA7-YzSEfHhqcFRpVKTVD4i91a3TcfPtvA\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcxMQ==;sn=25053711"
      },
      "ResponseBody": {
        "etag": "_oxgk4oE6rA7-YzSEfHhqcFRpVKTVD4i91a3TcfPtvA",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcxMQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022DlST6I3t6CKis6TyUAJSb7Ae5VHhJUr6VzBkYJ4XQ6o\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcxMw==;sn=25053713"
      },
      "ResponseBody": {
        "etag": "DlST6I3t6CKis6TyUAJSb7Ae5VHhJUr6VzBkYJ4XQ6o",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcxMw=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022inLdMlGQEZO2ROmQcCBXPCFK-E_OMC9xz8iEP1beThg\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcxNQ==;sn=25053715"
      },
      "ResponseBody": {
        "etag": "inLdMlGQEZO2ROmQcCBXPCFK-E_OMC9xz8iEP1beThg",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcxNQ=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcxNw=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022catXF9_ozgovvRKsMRNJZw77oBjo55BYyNRbFv9hdJE\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcxOQ==;sn=25053719"
      },
      "ResponseBody": {
        "etag": "catXF9_ozgovvRKsMRNJZw77oBjo55BYyNRbFv9hdJE",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022-azwLVHtRMJjOo0sAluAwpX2Pnuqjc0vHWejhxhnBeI\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcyMA==;sn=25053720"
      },
      "ResponseBody": {
        "etag": "-azwLVHtRMJjOo0sAluAwpX2Pnuqjc0vHWejhxhnBeI",
        "items": [
          {
            "etag": "n2hsbpawQiaXjUtEOhiIY0hm8jMpyG2Ro6kEir_seL4",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=.appconfig.featureflag/*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcyMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
   [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcyMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022DlST6I3t6CKis6TyUAJSb7Ae5VHhJUr6VzBkYJ4XQ6o\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcyMA==;sn=25053720"
      },
      "ResponseBody": {
        "etag": "DlST6I3t6CKis6TyUAJSb7Ae5VHhJUr6VzBkYJ4XQ6o",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:48\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcyMQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022inLdMlGQEZO2ROmQcCBXPCFK-E_OMC9xz8iEP1beThg\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcyMg==;sn=25053722"
      },
      "ResponseBody": {
        "etag": "inLdMlGQEZO2ROmQcCBXPCFK-E_OMC9xz8iEP1beThg",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:48\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcyNQ=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "content_type": "text/plain",
        "value": "Static",
        "last_modified": "2024-02-08T23:25:48.000Z",
        "tags": {},
        "locked": false,
        "etag": "inLdMlGQEZO2ROmQcCBXPCFK-E_OMC9xz8iEP1beThg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022w6w7QvvtLguol20Hgr3hY8r6_NpjCeOXUBzsODrcZgU\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:50 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzcyNw==;sn=25053727"
      },
      "ResponseBody": {
        "etag": "w6w7QvvtLguol20Hgr3hY8r6_NpjCeOXUBzsODrcZgU",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:50\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
