{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022arRLe4g0BpHeTsEzrkKK-TqoX6sau_tF0Eqc5rOTAWk\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:21 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQ3Nw==;sn=24096477"
      },
      "ResponseBody": {
        "etag": "arRLe4g0BpHeTsEzrkKK-TqoX6sau_tF0Eqc5rOTAWk",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:21\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQ3Nw=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022QpM3wVFGGneupUW1DzSXIoPVlwbVFi2jRI5C91yw1n8\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:21 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQ3OQ==;sn=24096479"
      },
      "ResponseBody": {
        "etag": "QpM3wVFGGneupUW1DzSXIoPVlwbVFi2jRI5C91yw1n8",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:21\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQ3OQ=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Y4dRKnqJ3fykZS8BECPFt6-QzZJ5BUVblTvIZCpFLh8\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:21 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQ4MQ==;sn=24096481"
      },
      "ResponseBody": {
        "etag": "Y4dRKnqJ3fykZS8BECPFt6-QzZJ5BUVblTvIZCpFLh8",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:21\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQ4MQ=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022XNZcjBTVPrN2gyW8kRZElB0Kv1dOFrWFBaoovdig_ro\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:21 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQ4Mw==;sn=24096483"
      },
      "ResponseBody": {
        "etag": "XNZcjBTVPrN2gyW8kRZElB0Kv1dOFrWFBaoovdig_ro",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:21\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQ4Mw=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022kfKSPU0vA_EZ86tu3QIUXLYZhhbXen0wswGsxY_jZBo\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:21 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQ4NQ==;sn=24096485"
      },
      "ResponseBody": {
        "etag": "kfKSPU0vA_EZ86tu3QIUXLYZhhbXen0wswGsxY_jZBo",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:21\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQ4NQ=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00227zqygpp4YUWPa2rjhtRvRXR-ax2gaSaEQIP0ovd7Cys\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:21 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQ4Nw==;sn=24096487"
      },
      "ResponseBody": {
        "etag": "7zqygpp4YUWPa2rjhtRvRXR-ax2gaSaEQIP0ovd7Cys",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:21\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQ4Nw=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQ4OQ=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022SrQlbexEMskithFUx7ddcBxavSJ5Pq6N-gz-DCBtzeU\u0022",
        "Last-Modified": "Fri, 27 Oct 2023 20:40:21 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQ5MQ==;sn=24096491"
      },
      "ResponseBody": {
        "etag": "SrQlbexEMskithFUx7ddcBxavSJ5Pq6N-gz-DCBtzeU",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-27T20:40:21\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=message*\u0026label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDA5NjQ5Mg==;sn=24096492"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "QpM3wVFGGneupUW1DzSXIoPVlwbVFi2jRI5C91yw1n8",
            "key": "message",
            "label": "dev",
            "content_type": "text/plain",
            "value": "test",
            "tags": {},
            "locked": false,
            "last_modified": "2023-10-27T20:40:21\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
