{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Feb, 12 2024 23:45:44.133966 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Do1HLKqNjeCJxPT6-S7uibav5BFnHwlU86PoRPWKglc\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:45:44 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzA4Ng==;sn=25087086"
      },
      "ResponseBody": {
        "etag": "Do1HLKqNjeCJxPT6-S7uibav5BFnHwlU86PoRPWKglc",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:45:44\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzA4Ng==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Feb, 12 2024 23:45:44.154473 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00226WQy6gzBTUJpA4QokHhhrtU9kBXshoEWnoZvZXJMKbY\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:45:44 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzA4OA==;sn=25087088"
      },
      "ResponseBody": {
        "etag": "6WQy6gzBTUJpA4QokHhhrtU9kBXshoEWnoZvZXJMKbY",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:45:44\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzA4OA==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Feb, 12 2024 23:45:44.169488 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022lbE8zmsMdUTrso0NL8flp0IPOrmHojoQhPt_3Vb0zI4\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:45:44 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzA5MA==;sn=25087090"
      },
      "ResponseBody": {
        "etag": "lbE8zmsMdUTrso0NL8flp0IPOrmHojoQhPt_3Vb0zI4",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:45:44\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzA5MA==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Feb, 12 2024 23:45:44.183500 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00221TzpBW7K5_Ez4w6VRUskyACW6WQrRGcABTSpUnzS6v4\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:45:44 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzA5Mg==;sn=25087092"
      },
      "ResponseBody": {
        "etag": "1TzpBW7K5_Ez4w6VRUskyACW6WQrRGcABTSpUnzS6v4",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:45:44\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzA5Mg==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Feb, 12 2024 23:45:44.199270 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ocSoFZFChFhKbufjSa_52MDBZBsk5wHtg_qMLiD7kQ8\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:45:44 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzA5NA==;sn=25087094"
      },
      "ResponseBody": {
        "etag": "ocSoFZFChFhKbufjSa_52MDBZBsk5wHtg_qMLiD7kQ8",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:45:44\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzA5NA==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Feb, 12 2024 23:45:44.213294 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022kZOQ0xr9NyHqzMcImCJB2L-BlsfOXGynB1y7vbMoXlQ\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:45:44 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzA5Ng==;sn=25087096"
      },
      "ResponseBody": {
        "etag": "kZOQ0xr9NyHqzMcImCJB2L-BlsfOXGynB1y7vbMoXlQ",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:45:44\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzA5Ng==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Feb, 12 2024 23:45:44.229068 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Feb, 12 2024 23:45:44.245092 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u00224nudIFxemQobTj2zXb_M-8e9EGIz2Kto4yQcY8Dc2pc\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzA5OQ==;sn=25087099"
      },
      "ResponseBody": {
        "etag": "4nudIFxemQobTj2zXb_M-8e9EGIz2Kto4yQcY8Dc2pc",
        "items": [
          {
            "etag": "PrBhxG-NYb69bLGsMVWcwV8Fwhtb81f1MeeDKrEAlK4",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-02-12T23:45:41\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
