{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Jan, 03 2024 19:03:51.267888 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022o-D-yObNWBn00VjckLKGuGNK-X-pdwTqS_SwJbonBiA\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI0NQ==;sn=24667245"
      },
      "ResponseBody": {
        "etag": "o-D-yObNWBn00VjckLKGuGNK-X-pdwTqS_SwJbonBiA",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:51\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI0NQ==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Jan, 03 2024 19:03:51.288707 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NJ6nMnV1A7HbPtGsFyTVj8yPARxXT0FG4sQKNlfDpVs\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI0Nw==;sn=24667247"
      },
      "ResponseBody": {
        "etag": "NJ6nMnV1A7HbPtGsFyTVj8yPARxXT0FG4sQKNlfDpVs",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:51\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI0Nw==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Jan, 03 2024 19:03:51.307708 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022OdBIfRhg5j6xfWLRzQmzLrBuVqX419niMHx3nScGkKM\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI0OQ==;sn=24667249"
      },
      "ResponseBody": {
        "etag": "OdBIfRhg5j6xfWLRzQmzLrBuVqX419niMHx3nScGkKM",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:51\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI0OQ==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Jan, 03 2024 19:03:51.323706 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022bSeo7ZUB1YDcfVD35ljIuC90Bq3e-TbHFieSE4UU_zY\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI1MQ==;sn=24667251"
      },
      "ResponseBody": {
        "etag": "bSeo7ZUB1YDcfVD35ljIuC90Bq3e-TbHFieSE4UU_zY",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:51\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI1MQ==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Jan, 03 2024 19:03:51.337706 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00226nO_f4tQcfjytI8izqH2SOiQSpUB3tnjQItlspPcIoU\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI1Mw==;sn=24667253"
      },
      "ResponseBody": {
        "etag": "6nO_f4tQcfjytI8izqH2SOiQSpUB3tnjQItlspPcIoU",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:51\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI1Mw==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Jan, 03 2024 19:03:51.351706 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00221JEUp3JHHTq2Sk4Zt5SivuSbvX9oRlCrp4QATBKRsO0\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI1NQ==;sn=24667255"
      },
      "ResponseBody": {
        "etag": "1JEUp3JHHTq2Sk4Zt5SivuSbvX9oRlCrp4QATBKRsO0",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:51\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI1NQ==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Jan, 03 2024 19:03:51.368717 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=.appconfig.featureflag/B*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Jan, 03 2024 19:03:51.382503 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u002200wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI1OA==;sn=24667258"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    }
  ],
  "Variables": {}
}
