{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Feb, 08 2024 23:25:12.885390 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Zt6hdcBn5qvNta7WRm8EKdjotIVCltdfSb6tEvRn1N4\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:12 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzUyNQ==;sn=25053525"
      },
      "ResponseBody": {
        "etag": "Zt6hdcBn5qvNta7WRm8EKdjotIVCltdfSb6tEvRn1N4",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:12\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzUyNQ==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Feb, 08 2024 23:25:12.906399 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022cPcra8IggWLTW6aYG-cFJJh-oUlQyQXDLy_jrw_MLrw\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:12 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzUyNw==;sn=25053527"
      },
      "ResponseBody": {
        "etag": "cPcra8IggWLTW6aYG-cFJJh-oUlQyQXDLy_jrw_MLrw",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:12\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzUyNw==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Feb, 08 2024 23:25:12.922102 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00228obfKnPmgqC2Qid_r5_FKLOrzUr4mptbsIq1bqSh-SE\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:12 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzUyOQ==;sn=25053529"
      },
      "ResponseBody": {
        "etag": "8obfKnPmgqC2Qid_r5_FKLOrzUr4mptbsIq1bqSh-SE",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:12\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzUyOQ==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Feb, 08 2024 23:25:12.936101 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00224gMC_ecv9Jo2xqiMaUW4RgBwHhf7-a0NrwSlWZNOXco\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:13 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzUzMQ==;sn=25053531"
      },
      "ResponseBody": {
        "etag": "4gMC_ecv9Jo2xqiMaUW4RgBwHhf7-a0NrwSlWZNOXco",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:13\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzUzMQ==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Feb, 08 2024 23:25:12.950101 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022QVVt-jr_TaG3qnQ6gyzhS9ubtNuhHFxqsXgu4j5k_jo\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:13 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzUzMw==;sn=25053533"
      },
      "ResponseBody": {
        "etag": "QVVt-jr_TaG3qnQ6gyzhS9ubtNuhHFxqsXgu4j5k_jo",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:13\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzUzMw==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Feb, 08 2024 23:25:12.963101 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022xpFuivLkrLsMVrTZ_eADX0KhK-ErGvVh5CsdMt372Zs\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:13 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzUzNQ==;sn=25053535"
      },
      "ResponseBody": {
        "etag": "xpFuivLkrLsMVrTZ_eADX0KhK-ErGvVh5CsdMt372Zs",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:13\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzUzNQ==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Feb, 08 2024 23:25:12.981107 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Feb, 08 2024 23:25:13.001111 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022UDr-Blc39dy9LXh6qRYqsuLwlga4_yOY89P7_M06t5E\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzUzOA==;sn=25053538"
      },
      "ResponseBody": {
        "etag": "UDr-Blc39dy9LXh6qRYqsuLwlga4_yOY89P7_M06t5E",
        "items": [
          {
            "etag": "c434ch_nBJWz1hAeu4XmDMC4AATpEEp6A_ZPETnG8b0",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-02-08T23:25:08\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
