{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Jan, 03 2024 19:04:32.613727 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022iC5OTyaHxfQjw0ry-a3VWa3u_DeiOK1qPWr74NE1Dr4\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:04:32 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzU2MQ==;sn=24667561"
      },
      "ResponseBody": {
        "etag": "iC5OTyaHxfQjw0ry-a3VWa3u_DeiOK1qPWr74NE1Dr4",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:04:32\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzU2MQ==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Jan, 03 2024 19:04:32.979123 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Y_bd5rniKoAOXKYTsOCePidsu5qRBU3sTDnkAOgoxdM\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:04:32 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzU2Mw==;sn=24667563"
      },
      "ResponseBody": {
        "etag": "Y_bd5rniKoAOXKYTsOCePidsu5qRBU3sTDnkAOgoxdM",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:04:32\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzU2Mw==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Jan, 03 2024 19:04:32.993910 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00227HyIYv15gnMsyZswFW-TICWNNHqjPxzUoqPLqeOjQd4\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:04:32 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzU2NQ==;sn=24667565"
      },
      "ResponseBody": {
        "etag": "7HyIYv15gnMsyZswFW-TICWNNHqjPxzUoqPLqeOjQd4",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:04:32\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzU2NQ==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Jan, 03 2024 19:04:33.008907 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022h4otGewgCqHT99xj6rDPB3m803l2BOdxOF-Ku6IEu9w\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:04:33 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzU2Nw==;sn=24667567"
      },
      "ResponseBody": {
        "etag": "h4otGewgCqHT99xj6rDPB3m803l2BOdxOF-Ku6IEu9w",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:04:33\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzU2Nw==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Jan, 03 2024 19:04:33.022906 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022R7b8pxVDtZUlbj1H1-foeQr6_quHTso0PW8F-5fTTm8\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:04:33 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzU2OQ==;sn=24667569"
      },
      "ResponseBody": {
        "etag": "R7b8pxVDtZUlbj1H1-foeQr6_quHTso0PW8F-5fTTm8",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:04:33\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzU2OQ==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Jan, 03 2024 19:04:33.037906 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022LPlm72ZXkRujOZqFSYHVO_FS2dwlnVn17kvxTcWeAyE\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:04:33 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzU3MQ==;sn=24667571"
      },
      "ResponseBody": {
        "etag": "LPlm72ZXkRujOZqFSYHVO_FS2dwlnVn17kvxTcWeAyE",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:04:33\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzU3MQ==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Jan, 03 2024 19:04:33.050906 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Jan, 03 2024 19:04:33.064906 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022cU4Q5_NTBP30teAlQB6a_vWoRmsNYK2mqNXBwbKb4Aw\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzU3NA==;sn=24667574"
      },
      "ResponseBody": {
        "etag": "cU4Q5_NTBP30teAlQB6a_vWoRmsNYK2mqNXBwbKb4Aw",
        "items": [
          {
            "etag": "A-y-2AQLo61OYcIPsavFgzqvhKbGDlFuVeSswC1NMXE",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-03T19:04:28\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
