{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NeVX3R0k55nfBvAmgx8U5Wv2PvIP_dBJgnxQ1JB3cKc\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM2NA==;sn=24451364"
      },
      "ResponseBody": {
        "etag": "NeVX3R0k55nfBvAmgx8U5Wv2PvIP_dBJgnxQ1JB3cKc",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM2NA=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Ke6oylMRD-5mZhvWA6I_QXOYZoS4bJWjAfgwAxThicE\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM2Ng==;sn=24451366"
      },
      "ResponseBody": {
        "etag": "Ke6oylMRD-5mZhvWA6I_QXOYZoS4bJWjAfgwAxThicE",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM2Ng=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022yfoYRvAvPKhLVrt3wF6OBHuu3qgrjwa81tdPGz7TkMI\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM2OA==;sn=24451368"
      },
      "ResponseBody": {
        "etag": "yfoYRvAvPKhLVrt3wF6OBHuu3qgrjwa81tdPGz7TkMI",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM2OA=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022BWjIj8PadmYD0WRcOrSU4-sWfD8ACsHYtG2zHQuu31U\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM3MA==;sn=24451370"
      },
      "ResponseBody": {
        "etag": "BWjIj8PadmYD0WRcOrSU4-sWfD8ACsHYtG2zHQuu31U",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM3MA=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u002269g-MiTIv6UiMR9uG6pYsv_uwOTIsGHWG4YV86W6e00\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM3Mg==;sn=24451372"
      },
      "ResponseBody": {
        "etag": "69g-MiTIv6UiMR9uG6pYsv_uwOTIsGHWG4YV86W6e00",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM3Mg=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022obrmSC6-yKnn-L0GuQcHXoD2NzREdYE5yoJC3BlgdRI\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM3NA==;sn=24451374"
      },
      "ResponseBody": {
        "etag": "obrmSC6-yKnn-L0GuQcHXoD2NzREdYE5yoJC3BlgdRI",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM3NA=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM3Ng=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022sIOm_8Ra86atphh3OJ5kUw6wtF8gR5gGTu518Y9M3go\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:13:48 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM3OA==;sn=24451378"
      },
      "ResponseBody": {
        "etag": "sIOm_8Ra86atphh3OJ5kUw6wtF8gR5gGTu518Y9M3go",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:13:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022_vyG6BDGodJErvo2TBZV0J54gIRVADDehQZjjrEd6iE\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTM3OQ==;sn=24451379"
      },
      "ResponseBody": {
        "etag": "_vyG6BDGodJErvo2TBZV0J54gIRVADDehQZjjrEd6iE",
        "items": [
          {
            "etag": "e4yJvv975vxVqAnNTtX6L-858kTAvfkCHIfM41U5fZI",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\u0022id\u0022: \u0022Alpha\u0022, \u0022enabled\u0022: true, \u0022conditions\u0022: {\u0022client_filters\u0022: []}}",
            "tags": {},
            "locked": false,
            "last_modified": "2023-12-06T21:13:4[...]
