{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Sep, 29 2023 22:18:06.250819 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022by-4D-yucBHsfSyW4bQ9xNJk2UdWU86-irZfj2VP91U\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 22:18:05 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjE0;sn=20231214"
      },
      "ResponseBody": {
        "etag": "by-4D-yucBHsfSyW4bQ9xNJk2UdWU86-irZfj2VP91U",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-29T22:18:05\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjE0",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Sep, 29 2023 22:18:06.291961 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022x64ewWJINzcj_yTKTgo1EMTXi1LQshMTztR1dqUbGRM\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 22:18:06 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjE2;sn=20231216"
      },
      "ResponseBody": {
        "etag": "x64ewWJINzcj_yTKTgo1EMTXi1LQshMTztR1dqUbGRM",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-29T22:18:06\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjE2",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Sep, 29 2023 22:18:06.339988 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MRv107OJfJYdcjKmcJD_VLnkXfra5RZkzCUGUyNg_nY\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 22:18:06 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjE4;sn=20231218"
      },
      "ResponseBody": {
        "etag": "MRv107OJfJYdcjKmcJD_VLnkXfra5RZkzCUGUyNg_nY",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-29T22:18:06\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjE4",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Sep, 29 2023 22:18:06.390521 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NnJZzRIhB_KPueNv_7YUNKT4JohQ_G3bgYu0jqyWv04\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 22:18:06 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjIw;sn=20231220"
      },
      "ResponseBody": {
        "etag": "NnJZzRIhB_KPueNv_7YUNKT4JohQ_G3bgYu0jqyWv04",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-29T22:18:06\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjIw",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Sep, 29 2023 22:18:06.441005 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022XMyRApchX6p9BBD_zVr3VmBZOFe3QbeF_B7lJo8hCQc\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 22:18:06 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjIy;sn=20231222"
      },
      "ResponseBody": {
        "etag": "XMyRApchX6p9BBD_zVr3VmBZOFe3QbeF_B7lJo8hCQc",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-29T22:18:06\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjIy",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Sep, 29 2023 22:18:06.491541 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022v-ZWy2scKcHyFDwtbeBt986fsi2v0bppv-gNXTf-uYI\u0022",
        "Last-Modified": "Fri, 29 Sep 2023 22:18:06 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjI0;sn=20231224"
      },
      "ResponseBody": {
        "etag": "v-ZWy2scKcHyFDwtbeBt986fsi2v0bppv-gNXTf-uYI",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-29T22:18:06\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjI0",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Sep, 29 2023 22:18:06.540945 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjI2",
        "x-ms-content-sha256": "2TrOkt5RDQ73R9wDZam0T3ZgZm0\u002BCAX4aqBYMU1pars=",
        "x-ms-date": "Sep, 29 2023 22:18:06.591039 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "conten[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Sep, 29 2023 22:18:06.657479 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzIwMjMxMjI5;sn=20231229"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "fMhbMBthfWYVlN4BT8Ra1JlZOpCBMxc4YZmi_GJtcME",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
