{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022zQsUN4pcoHh-WzJfjzSYR5N--eNNnaYlaOHQvueBMgQ\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 19:01:10 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzQ4NA==;sn=25903484"
      },
      "ResponseBody": {
        "etag": "zQsUN4pcoHh-WzJfjzSYR5N--eNNnaYlaOHQvueBMgQ",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T19:01:10\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzQ4NA=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022lPyLyHiOsoeTxg1tUYeiOqXR8NI-q1oLSjdydzz16YM\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 19:01:10 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzQ4Ng==;sn=25903486"
      },
      "ResponseBody": {
        "etag": "lPyLyHiOsoeTxg1tUYeiOqXR8NI-q1oLSjdydzz16YM",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T19:01:10\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzQ4Ng=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00225z_XaEN_dyFAtWgNjvGn9G9i22_hN9-xMWXyc9-9i7Y\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 19:01:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzQ4OA==;sn=25903488"
      },
      "ResponseBody": {
        "etag": "5z_XaEN_dyFAtWgNjvGn9G9i22_hN9-xMWXyc9-9i7Y",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T19:01:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzQ4OA=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00227oER3SQ8CgiLezt6sYIvA158Y4eos2gXsCkNgKgMyNI\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 19:01:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzQ5MA==;sn=25903490"
      },
      "ResponseBody": {
        "etag": "7oER3SQ8CgiLezt6sYIvA158Y4eos2gXsCkNgKgMyNI",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T19:01:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzQ5MA=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022yWLVtqTqWxxwpbL5X7NwuoOKRq3B54xMtfbeABBwgEA\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 19:01:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzQ5Mg==;sn=25903492"
      },
      "ResponseBody": {
        "etag": "yWLVtqTqWxxwpbL5X7NwuoOKRq3B54xMtfbeABBwgEA",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T19:01:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzQ5Mg=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022SI0K8-LMNjgF4OF06sRk4y6Ec6Xl74foUKVWhfHBPJ8\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 19:01:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzQ5NA==;sn=25903494"
      },
      "ResponseBody": {
        "etag": "SI0K8-LMNjgF4OF06sRk4y6Ec6Xl74foUKVWhfHBPJ8",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T19:01:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzQ5NA=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzQ5Ng=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022qBI7RdzBhGZFTI3uFF8KpGjlA1mQPAgAbUx44pd14tw\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 19:01:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzQ5OA==;sn=25903498"
      },
      "ResponseBody": {
        "etag": "qBI7RdzBhGZFTI3uFF8KpGjlA1mQPAgAbUx44pd14tw",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T19:01:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022oMxU32q-H5XwJxlXA-2TuQ9pkEzQaBGr3SYigtDwlMQ\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzQ5OQ==;sn=25903499"
      },
      "ResponseBody": {
        "etag": "oMxU32q-H5XwJxlXA-2TuQ9pkEzQaBGr3SYigtDwlMQ",
        "items": [
          {
            "etag": "H1ZeIeuw6al4BCmq7TT2u64wf1ZBwyYOCBcyTO__K1s",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=.appconfig.featureflag%2F%2A\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzQ5OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzQ5OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022yWLVtqTqWxxwpbL5X7NwuoOKRq3B54xMtfbeABBwgEA\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 19:01:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzQ5OQ==;sn=25903499"
      },
      "ResponseBody": {
        "etag": "yWLVtqTqWxxwpbL5X7NwuoOKRq3B54xMtfbeABBwgEA",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T19:01:11\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzUwMA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022SI0K8-LMNjgF4OF06sRk4y6Ec6Xl74foUKVWhfHBPJ8\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 19:01:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzUwMQ==;sn=25903501"
      },
      "ResponseBody": {
        "etag": "SI0K8-LMNjgF4OF06sRk4y6Ec6Xl74foUKVWhfHBPJ8",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T19:01:11\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzUwNA=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "content_type": "text/plain",
        "value": "Static",
        "last_modified": "2024-03-28T19:01:11.000Z",
        "tags": {},
        "locked": false,
        "etag": "SI0K8-LMNjgF4OF06sRk4y6Ec6Xl74foUKVWhfHBPJ8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022hAdLSbmErMFvHJFO8kilLW7_1ZzgKqc9is_TymSw1TA\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 19:01:14 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzUwNg==;sn=25903506"
      },
      "ResponseBody": {
        "etag": "hAdLSbmErMFvHJFO8kilLW7_1ZzgKqc9is_TymSw1TA",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T19:01:14\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
