{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022rj8K_2qJLfvOWmkF8WIBDTEvHbP7HcUd7gPt5YWWGys\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIwMQ==;sn=24667201"
      },
      "ResponseBody": {
        "etag": "rj8K_2qJLfvOWmkF8WIBDTEvHbP7HcUd7gPt5YWWGys",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIwMQ=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022OjtWgVrA37qA1dAbi_K-TGyxtrxxPrAyanKGK_BgCMs\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIwMw==;sn=24667203"
      },
      "ResponseBody": {
        "etag": "OjtWgVrA37qA1dAbi_K-TGyxtrxxPrAyanKGK_BgCMs",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIwMw=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Zy4iAAvOf668msn53hoSwzoGA6wKU9wSviKQipbFUcs\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIwNQ==;sn=24667205"
      },
      "ResponseBody": {
        "etag": "Zy4iAAvOf668msn53hoSwzoGA6wKU9wSviKQipbFUcs",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIwNQ=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ckmF2BCpvvKdKS12ze0Z6U58iR5i2tBIDgscyh7NR0E\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIwNw==;sn=24667207"
      },
      "ResponseBody": {
        "etag": "ckmF2BCpvvKdKS12ze0Z6U58iR5i2tBIDgscyh7NR0E",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIwNw=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022y2FKzr4dHDGgAsm6plV6dXXi0AQkblXuBgNo4lhevrU\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIwOQ==;sn=24667209"
      },
      "ResponseBody": {
        "etag": "y2FKzr4dHDGgAsm6plV6dXXi0AQkblXuBgNo4lhevrU",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIwOQ=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022PDfs3D63Vq0Im06XTo_dAt-k1dVv8TYhzEy7D4xkhlI\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIxMQ==;sn=24667211"
      },
      "ResponseBody": {
        "etag": "PDfs3D63Vq0Im06XTo_dAt-k1dVv8TYhzEy7D4xkhlI",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIxMQ=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIxMw=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022T-Jw2O6GNIeIUOKHiOr0NRO9fNap12ZENx00iLND28w\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:03:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIxNQ==;sn=24667215"
      },
      "ResponseBody": {
        "etag": "T-Jw2O6GNIeIUOKHiOr0NRO9fNap12ZENx00iLND28w",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:03:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022P0LAECAE0AQnPpjEC1mAdVtMULadw-LjuE7RUTWgon4\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzIxNg==;sn=24667216"
      },
      "ResponseBody": {
        "etag": "P0LAECAE0AQnPpjEC1mAdVtMULadw-LjuE7RUTWgon4",
        "items": [
          {
            "etag": "T-Jw2O6GNIeIUOKHiOr0NRO9fNap12ZENx00iLND28w",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-03T19:03:42\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "Very secret value",
        "id": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/30d8830ec5ed4a428d311292a826f452",
        "attributes": {
          "enabled": true,
          "created": 1697584056,
          "updated": 1697584056,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "tags": {}
      }
    }
  ],
  "Variables": {}
}
