{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022E35zD2eYwzYIHaWLmsL2Rb9HhnInaT8FjyRlfdEQxmM\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 19:00:20 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzI1MA==;sn=25903250"
      },
      "ResponseBody": {
        "etag": "E35zD2eYwzYIHaWLmsL2Rb9HhnInaT8FjyRlfdEQxmM",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T19:00:20\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzI1MA=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022hvLOET6TGIV8kX2vplufUBJgCnZctDKBrf6p8Y7u8Qg\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 19:00:20 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzI1Mg==;sn=25903252"
      },
      "ResponseBody": {
        "etag": "hvLOET6TGIV8kX2vplufUBJgCnZctDKBrf6p8Y7u8Qg",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T19:00:20\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzI1Mg=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022N3MfR2nlI7cFj5JibspAh6fs9xr5Gq6U_KTgBUiNU-A\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 19:00:20 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzI1NA==;sn=25903254"
      },
      "ResponseBody": {
        "etag": "N3MfR2nlI7cFj5JibspAh6fs9xr5Gq6U_KTgBUiNU-A",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T19:00:20\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzI1NA=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00227txv2otwOTkYNvhLXC9QqJOuiB6qtn0OnhM666cJrdA\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 19:00:20 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzI1Ng==;sn=25903256"
      },
      "ResponseBody": {
        "etag": "7txv2otwOTkYNvhLXC9QqJOuiB6qtn0OnhM666cJrdA",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T19:00:20\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzI1Ng=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022pbgJ86c6zFQpt6VsAb-zjcWKmYSAyHlkjsXDbhgRANo\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 19:00:20 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzI1OA==;sn=25903258"
      },
      "ResponseBody": {
        "etag": "pbgJ86c6zFQpt6VsAb-zjcWKmYSAyHlkjsXDbhgRANo",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T19:00:20\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzI1OA=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022jDSPXHLKZZQoARiPaWF4TDopoikXhDFRGpbPWHYZGkg\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 19:00:20 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzI2MA==;sn=25903260"
      },
      "ResponseBody": {
        "etag": "jDSPXHLKZZQoARiPaWF4TDopoikXhDFRGpbPWHYZGkg",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T19:00:20\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzI2MA=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzI2Mg=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022_d42gCi2RsMsyC9Z-e3y9NXq0dRc2JE5Bg4mJPMu-ds\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 19:00:20 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzI2NA==;sn=25903264"
      },
      "ResponseBody": {
        "etag": "_d42gCi2RsMsyC9Z-e3y9NXq0dRc2JE5Bg4mJPMu-ds",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T19:00:20\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022CyvKvMjnembvcRxO5DAZDy2UIeUjt1HwA0yKkt3XRrY\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzI2NQ==;sn=25903265"
      },
      "ResponseBody": {
        "etag": "CyvKvMjnembvcRxO5DAZDy2UIeUjt1HwA0yKkt3XRrY",
        "items": [
          {
            "etag": "Dkgs6gJfvxJOmJRsXLjvuVyWZDPFHT_c35j07gfrnvs",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=.appconfig.featureflag%2F%2A\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzI2NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",[...]
