{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022TOVQYsA-FrAB9MBQNPWtQealzXhNOwsqMENBs6A2rOE\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:46:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzE4Nw==;sn=25087187"
      },
      "ResponseBody": {
        "etag": "TOVQYsA-FrAB9MBQNPWtQealzXhNOwsqMENBs6A2rOE",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:46:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzE4Nw=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022UP7v1T4n69_Cx4L4K9Yh5Xb2VhBv30iVpB78M0ijSZ4\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:46:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzE4OQ==;sn=25087189"
      },
      "ResponseBody": {
        "etag": "UP7v1T4n69_Cx4L4K9Yh5Xb2VhBv30iVpB78M0ijSZ4",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:46:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzE4OQ=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022jXfoAri6VC10KeRb4FfUUh1Aq9yLRg_tI6EGAQbdLks\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:46:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzE5MQ==;sn=25087191"
      },
      "ResponseBody": {
        "etag": "jXfoAri6VC10KeRb4FfUUh1Aq9yLRg_tI6EGAQbdLks",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:46:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzE5MQ=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022w0Jyg2ySZgUX8vq5DjGvd2h4zTE-9DqvDSLRKo1PBs8\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:46:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzE5Mw==;sn=25087193"
      },
      "ResponseBody": {
        "etag": "w0Jyg2ySZgUX8vq5DjGvd2h4zTE-9DqvDSLRKo1PBs8",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:46:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzE5Mw=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022jzryAbtiZ4tMJOGx1soc05mtCUst2ldvk8U5bPfaUJE\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:46:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzE5NQ==;sn=25087195"
      },
      "ResponseBody": {
        "etag": "jzryAbtiZ4tMJOGx1soc05mtCUst2ldvk8U5bPfaUJE",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:46:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzE5NQ=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022IDPsudzfsMvXPBKf31tjhz_wmEZvHGPdc7N4LfsS9zc\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:46:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzE5Nw==;sn=25087197"
      },
      "ResponseBody": {
        "etag": "IDPsudzfsMvXPBKf31tjhz_wmEZvHGPdc7N4LfsS9zc",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:46:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzE5Nw=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzE5OQ=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022QTuzV0pbg0CMrKbBs2JhRyUpv3WuyKy_maauTgBAPFA\u0022",
        "Last-Modified": "Mon, 12 Feb 2024 23:46:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzIwMQ==;sn=25087201"
      },
      "ResponseBody": {
        "etag": "QTuzV0pbg0CMrKbBs2JhRyUpv3WuyKy_maauTgBAPFA",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-12T23:46:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022NwCYCGMw7Jn99sWUmTF3OGupH1H8PBsbKBCVWvXM-K8\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA4NzIwMg==;sn=25087202"
      },
      "ResponseBody": {
        "etag": "NwCYCGMw7Jn99sWUmTF3OGupH1H8PBsbKBCVWvXM-K8",
        "items": [
          {
            "etag": "QTuzV0pbg0CMrKbBs2JhRyUpv3WuyKy_maauTgBAPFA",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-02-12T23:46:02\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "Very secret value",
        "id": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/30d8830ec5ed4a428d311292a826f452",
        "attributes": {
          "enabled": true,
          "created": 1697584056,
          "updated": 1697584056,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "tags": {}
      }
    }
  ],
  "Variables": {}
}
