{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022y8IJH-gZhTMZhSq_KOFWpipt6ucimQNJ2ODz4SzD1dM\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:22:57 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTIyOA==;sn=26101228"
      },
      "ResponseBody": {
        "etag": "y8IJH-gZhTMZhSq_KOFWpipt6ucimQNJ2ODz4SzD1dM",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:22:57\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTIyOA=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022KLfgWn4C9OeZJ3WPXxE-3eRTJojDe_LewXSnau4QmK4\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:22:57 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTIzMA==;sn=26101230"
      },
      "ResponseBody": {
        "etag": "KLfgWn4C9OeZJ3WPXxE-3eRTJojDe_LewXSnau4QmK4",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:22:57\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTIzMA=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022fXIkezqPQB4U-3DTN-apsKAw41usZS_1KibHN4gLmDQ\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:22:57 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTIzMg==;sn=26101232"
      },
      "ResponseBody": {
        "etag": "fXIkezqPQB4U-3DTN-apsKAw41usZS_1KibHN4gLmDQ",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:22:57\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTIzMg=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u002270VpWL7o28tvGNmgyRySotF63-ppSutfNjEUoe4XKcM\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:22:57 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTIzNA==;sn=26101234"
      },
      "ResponseBody": {
        "etag": "70VpWL7o28tvGNmgyRySotF63-ppSutfNjEUoe4XKcM",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:22:57\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTIzNA=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022J6tRiL-CSAoClLV9Vn6v_gRo64e54sBpHEiCq9KEWB0\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:22:57 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTIzNg==;sn=26101236"
      },
      "ResponseBody": {
        "etag": "J6tRiL-CSAoClLV9Vn6v_gRo64e54sBpHEiCq9KEWB0",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:22:57\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTIzNg=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022G9P5etXEMkAp7fmfWPKitwfxrMss-8Dg2X3lg8JTD-g\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:22:57 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTIzOA==;sn=26101238"
      },
      "ResponseBody": {
        "etag": "G9P5etXEMkAp7fmfWPKitwfxrMss-8Dg2X3lg8JTD-g",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:22:57\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTIzOA=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u00224Jp6ag4x5XwvAecj14Y7_fuka9Zwv3N_XabSJnrjUfk\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTI0MQ==;sn=26101241"
      },
      "ResponseBody": {
        "etag": "4Jp6ag4x5XwvAecj14Y7_fuka9Zwv3N_XabSJnrjUfk",
        "items": [
          {
            "etag": "BU9J_aXRfSHwmVWNag8m4Tz2nkRxPy_3n9H0gEW8Vq4",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-04-09T20:22:52\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
