{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17+9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF+AgFzgI=",
        "x-ms-date": "May, 09 2024 17:22:36.705524 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Bme7sG-HZbD7i4aMijVFBNxeVBr-SME5R0TMu5AOks0\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:36 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI3MQ==;sn=26766271"
      },
      "ResponseBody": {
        "etag": "Bme7sG-HZbD7i4aMijVFBNxeVBr-SME5R0TMu5AOks0",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:36+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI3MQ==",
        "x-ms-content-sha256": "ldGB+yUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "May, 09 2024 17:22:36.724928 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8ikBRoVfReFwnhkoA1y6tG_Ss8ElJAeTokL0875C3uE\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:36 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI3Mw==;sn=26766273"
      },
      "ResponseBody": {
        "etag": "8ikBRoVfReFwnhkoA1y6tG_Ss8ElJAeTokL0875C3uE",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:36+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI3Mw==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr+sa5KgTtCgv2+3ps1kcPne0Y=",
        "x-ms-date": "May, 09 2024 17:22:36.740173 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Y2JmPECRj0-Dd0LH0dD1sOdv9VKjhs2TNmHZqPuk9F0\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:36 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI3NQ==;sn=26766275"
      },
      "ResponseBody": {
        "etag": "Y2JmPECRj0-Dd0LH0dD1sOdv9VKjhs2TNmHZqPuk9F0",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:36+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI3NQ==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "May, 09 2024 17:22:36.756397 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iDZt55lAbQwKB72w6YfHCNYcxNFGWPoZKcq7Ytd71s8\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:36 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI3Nw==;sn=26766277"
      },
      "ResponseBody": {
        "etag": "iDZt55lAbQwKB72w6YfHCNYcxNFGWPoZKcq7Ytd71s8",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:36+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI3Nw==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "May, 09 2024 17:22:36.770413 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5wcWd5JP0_OC7qm054jyKqWow4qLWpYcvfL_qxEUeN8\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:36 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI3OQ==;sn=26766279"
      },
      "ResponseBody": {
        "etag": "5wcWd5JP0_OC7qm054jyKqWow4qLWpYcvfL_qxEUeN8",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:36+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI3OQ==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "May, 09 2024 17:22:36.783621 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pPGR522iwa1jMxYVLyJUmzaDYQ75NDgiB45g_7RuLAw\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:36 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI4MQ==;sn=26766281"
      },
      "ResponseBody": {
        "etag": "pPGR522iwa1jMxYVLyJUmzaDYQ75NDgiB45g_7RuLAw",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:36+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI4MQ==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "May, 09 2024 17:22:36.799813 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uC5GbZF3Gj3hT4olcrDcCSHO33EezKqvee0XJ7u2ez0\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:36 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI4Mw==;sn=26766283"
      },
      "ResponseBody": {
        "etag": "uC5GbZF3Gj3hT4olcrDcCSHO33EezKqvee0XJ7u2ez0",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:36+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*&label=prod&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "May, 09 2024 17:22:36.817136 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"-MZ_39E6uL7r3DEUx1dxoNCh4Iph6rw0ubuaWaoFIJA\"",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjI4NA==;sn=26766284"
      },
      "ResponseBody": {
        "etag": "-MZ_39E6uL7r3DEUx1dxoNCh4Iph6rw0ubuaWaoFIJA",
        "items": [
          {
            "etag": "e1QiXhR55IVLJ5lHfSXOqn2li6eeQESLQpx5MBIgMdw",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-09T17:22:33+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
