{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Apr, 09 2024 20:24:41.364072 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022AHSz58wFyVclFVY5u5ONDJiajEbvKTckbzgjdeSaeUw\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:41 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTY5NQ==;sn=26101695"
      },
      "ResponseBody": {
        "etag": "AHSz58wFyVclFVY5u5ONDJiajEbvKTckbzgjdeSaeUw",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTY5NQ==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Apr, 09 2024 20:24:41.742923 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022C2_dCXVvaLZg1ulG9Q3cvsAvAxu6pS_EwihsE4bJ7qg\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:41 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTY5Nw==;sn=26101697"
      },
      "ResponseBody": {
        "etag": "C2_dCXVvaLZg1ulG9Q3cvsAvAxu6pS_EwihsE4bJ7qg",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTY5Nw==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Apr, 09 2024 20:24:41.758695 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022va9UCiGSHo0JsJ9V5A13DMITbhnOYicELr6BSw1KmJQ\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:41 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTY5OQ==;sn=26101699"
      },
      "ResponseBody": {
        "etag": "va9UCiGSHo0JsJ9V5A13DMITbhnOYicELr6BSw1KmJQ",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTY5OQ==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Apr, 09 2024 20:24:41.771706 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022sdCTG4nmUSPHwfTLbf5oGh6aJ3S3-UNRY-dbVijqP_g\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:41 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTcwMQ==;sn=26101701"
      },
      "ResponseBody": {
        "etag": "sdCTG4nmUSPHwfTLbf5oGh6aJ3S3-UNRY-dbVijqP_g",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTcwMQ==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Apr, 09 2024 20:24:41.785494 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ej9JA3yYO0EwtZsw-Cpmx6LkHnlLlxliqGxh3LoZrsI\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:41 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTcwMw==;sn=26101703"
      },
      "ResponseBody": {
        "etag": "ej9JA3yYO0EwtZsw-Cpmx6LkHnlLlxliqGxh3LoZrsI",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTcwMw==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Apr, 09 2024 20:24:41.799672 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022xNv5YGJ8ZA2eAfzH9BnPLW2bZ6CuYHeda9IZuO-x4S0\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:41 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTcwNQ==;sn=26101705"
      },
      "ResponseBody": {
        "etag": "xNv5YGJ8ZA2eAfzH9BnPLW2bZ6CuYHeda9IZuO-x4S0",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTcwNQ==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Apr, 09 2024 20:24:41.814336 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=.appconfig.featureflag%2F%2A\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Apr, 09 2024 20:24:41.828489 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022J3_2f6WwIoyfjaknTkmva69lgfbLXTml99uVJspc1Ic\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTcxMA==;sn=26101710"
      },
      "ResponseBody": {
        "etag": "J3_2f6WwIoyfjaknTkmva69lgfbLXTml99uVJspc1Ic",
        "items": [
          {
            "etag": "q321hKWuoZBYi4POdby8_L-qctEbaY63FJZHbodRgcM",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
