{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Dec, 06 2023 00:02:38.257802 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022M83kXd5VFwHLeGv4ene_Br6zkv5pIsbA6d4FmmufJjQ\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:02:37 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTQ2MA==;sn=24439460"
      },
      "ResponseBody": {
        "etag": "M83kXd5VFwHLeGv4ene_Br6zkv5pIsbA6d4FmmufJjQ",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:02:37\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTQ2MA==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Dec, 06 2023 00:02:38.300259 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022fpzp5z6P6s7Ruvg_oGQlqBPgHmw1TT8lkEQcwQHwQ9E\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:02:37 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTQ2Mg==;sn=24439462"
      },
      "ResponseBody": {
        "etag": "fpzp5z6P6s7Ruvg_oGQlqBPgHmw1TT8lkEQcwQHwQ9E",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:02:37\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTQ2Mg==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Dec, 06 2023 00:02:38.332052 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022DBRIYoV-99BLpunNEDYB0RFhXJbIYUNdcqARmN6RyT4\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:02:37 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTQ2NA==;sn=24439464"
      },
      "ResponseBody": {
        "etag": "DBRIYoV-99BLpunNEDYB0RFhXJbIYUNdcqARmN6RyT4",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:02:37\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTQ2NA==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Dec, 06 2023 00:02:38.371672 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00229Pz8VEjPaym-NZNW55Uu02dND7cpFqySSXNz7ZgI_Oc\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:02:37 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTQ2Ng==;sn=24439466"
      },
      "ResponseBody": {
        "etag": "9Pz8VEjPaym-NZNW55Uu02dND7cpFqySSXNz7ZgI_Oc",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:02:37\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTQ2Ng==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Dec, 06 2023 00:02:38.402830 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022VeCowos9EZ3SAtU8K7kyKvy-JzTcTDjbduVBpdaqCA8\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:02:37 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTQ2OA==;sn=24439468"
      },
      "ResponseBody": {
        "etag": "VeCowos9EZ3SAtU8K7kyKvy-JzTcTDjbduVBpdaqCA8",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:02:37\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTQ2OA==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Dec, 06 2023 00:02:38.465742 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022OdIym8yHBvEAKnchltQUBIwelP9Dp8bli31rWECeDko\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:02:37 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTQ3MA==;sn=24439470"
      },
      "ResponseBody": {
        "etag": "OdIym8yHBvEAKnchltQUBIwelP9Dp8bli31rWECeDko",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:02:37\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTQ3MA==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Dec, 06 2023 00:02:38.497750 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Dec, 06 2023 00:02:38.529232 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTQ3Mw==;sn=24439473"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "9oPzUCIOFxICLKnejjMKZmmUo1OHhD4fHcDgrg0p-mk",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2023-12-06T00:02:36\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
