{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ucl2R504EF3jBNFVFt3YPkQ6t_6au8UBcx05rrWdTvQ\u0022",
        "Last-Modified": "Thu, 21 Sep 2023 23:52:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODEx;sn=19908811"
      },
      "ResponseBody": {
        "etag": "ucl2R504EF3jBNFVFt3YPkQ6t_6au8UBcx05rrWdTvQ",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-21T23:52:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODEx"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00222iJCzAiUQ0DDGAFZq3uDK-xc5L1DxfBVXQdfYCTiSs0\u0022",
        "Last-Modified": "Thu, 21 Sep 2023 23:52:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODEz;sn=19908813"
      },
      "ResponseBody": {
        "etag": "2iJCzAiUQ0DDGAFZq3uDK-xc5L1DxfBVXQdfYCTiSs0",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-21T23:52:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODEz"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ao8WhmXpt884kjsgZDZp4iaeL1tFG2kU2xwKNEXoyjM\u0022",
        "Last-Modified": "Thu, 21 Sep 2023 23:52:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODE1;sn=19908815"
      },
      "ResponseBody": {
        "etag": "ao8WhmXpt884kjsgZDZp4iaeL1tFG2kU2xwKNEXoyjM",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-21T23:52:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODE1"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022yvqNQ_FUH8kVmWA9YLH5vMNfR9UcOLaJQYytl-zJqpU\u0022",
        "Last-Modified": "Thu, 21 Sep 2023 23:52:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODE3;sn=19908817"
      },
      "ResponseBody": {
        "etag": "yvqNQ_FUH8kVmWA9YLH5vMNfR9UcOLaJQYytl-zJqpU",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-21T23:52:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODE3"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00222_faap7EAwm0K7DW61oXQkoryV8RejfaDhAZ-PQ_qKc\u0022",
        "Last-Modified": "Thu, 21 Sep 2023 23:52:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODE5;sn=19908819"
      },
      "ResponseBody": {
        "etag": "2_faap7EAwm0K7DW61oXQkoryV8RejfaDhAZ-PQ_qKc",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-21T23:52:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODE5"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022DJ8hjId1jEGckp41E3r3XnHTKHMwW6uNLMixM6S6R1w\u0022",
        "Last-Modified": "Thu, 21 Sep 2023 23:52:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODIx;sn=19908821"
      },
      "ResponseBody": {
        "etag": "DJ8hjId1jEGckp41E3r3XnHTKHMwW6uNLMixM6S6R1w",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-21T23:52:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODIx"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODIz"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022YkkBcHgVCPStZ_GcuvMxRrXd3o9x4a3RgYvs8Ho9poU\u0022",
        "Last-Modified": "Thu, 21 Sep 2023 23:52:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODI1;sn=19908825"
      },
      "ResponseBody": {
        "etag": "YkkBcHgVCPStZ_GcuvMxRrXd3o9x4a3RgYvs8Ho9poU",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-21T23:52:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzE5OTA4ODI2;sn=19908826"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "m_0ROPSj05mYyn1rMRmdYNfcqUVMSaJLYgoXwBW9KWA",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
