{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"FlB6R298o4T5sIkMRVI1OQkMOhhB1-0GHyUfrV8wBF0\"",
        "x-ms-date": "Fri, 10 Apr 2026 16:43:07 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-10T16:42:18+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/RegularFeature",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"RegularFeature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modif[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/test-ff-snapshot-1775839070?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"qEc_eVJnMMT6f9z318n4pKYPZkvWARUbzDcmtVY3cU8\"",
        "Last-Modified": "Fri, 10 Apr 2026 16:38:09 GMT",
        "Link": "</kv?snapshot=test-ff-snapshot-1775839070&api-version=1970-01-01",
        "x-ms-date": "Fri, 10 Apr 2026 16:43:07 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "name": "Sanitized",
        "status": "ready",
        "filters": [
          {
            "key": "ff_snapshot_test_*",
            "label": null,
            "tags": []
          },
          {
            "key": ".appconfig.featureflag/SnapshotOnlyFeature",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-04-10T16:38:00+00:00",
        "size": 2000,
        "items_count": 3,
        "tags": {},
        "retention_period": 3600
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FSnapshotOnlyFeature?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/SnapshotOnlyFeature",
        "label": "\u0000",
        "value": "{\"id\": \"SnapshotOnlyFeature\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VB792swjePmqeWsmhic8xtQLyiXJS6GM2YdKsNv_ypA\"",
        "Last-Modified": "Fri, 10 Apr 2026 16:43:07 GMT",
        "x-ms-date": "Fri, 10 Apr 2026 16:43:07 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/SnapshotOnlyFeature",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"SnapshotOnlyFeature\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-10T16:43:07+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FSnapshotOnlyFeature?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/SnapshotOnlyFeature",
        "label": "\u0000",
        "value": "{\"id\": \"SnapshotOnlyFeature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nh4OpBZX4aJ-Li2yUEF9X2NsbVlwolnultBowK4MaD8\"",
        "Last-Modified": "Fri, 10 Apr 2026 16:43:09 GMT",
        "x-ms-date": "Fri, 10 Apr 2026 16:43:09 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/SnapshotOnlyFeature",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"SnapshotOnlyFeature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-10T16:43:09+00:00"
      }
    }
  ],
  "Variables": {}
}
