{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022TvNT1tkzHk7VDOrR8CtZVKDnnSAngpEMTavEGwt5UVo\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDQ4OQ==;sn=25090489"
      },
      "ResponseBody": {
        "etag": "TvNT1tkzHk7VDOrR8CtZVKDnnSAngpEMTavEGwt5UVo",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDQ4OQ=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022InmiWoQg-FWCQUXrqoX1ksAYjWLo7aRkQryv4EMoZp8\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDQ5MQ==;sn=25090491"
      },
      "ResponseBody": {
        "etag": "InmiWoQg-FWCQUXrqoX1ksAYjWLo7aRkQryv4EMoZp8",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDQ5MQ=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022KYaSulTR97QtzahD9HMG4PMunrpz51heF81FSRVIj6Y\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDQ5Mw==;sn=25090493"
      },
      "ResponseBody": {
        "etag": "KYaSulTR97QtzahD9HMG4PMunrpz51heF81FSRVIj6Y",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDQ5Mw=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022DGgRqwcKV8O2CNLk2iKqe_KKMmg61jOHkAX6sK2br8o\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDQ5NQ==;sn=25090495"
      },
      "ResponseBody": {
        "etag": "DGgRqwcKV8O2CNLk2iKqe_KKMmg61jOHkAX6sK2br8o",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDQ5NQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022rJkwGsvVdNEZqLMMkuWz3j4JHVS7KgfS9q_c_i9XlAs\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDQ5Nw==;sn=25090497"
      },
      "ResponseBody": {
        "etag": "rJkwGsvVdNEZqLMMkuWz3j4JHVS7KgfS9q_c_i9XlAs",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDQ5Nw=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022rEwpXWRyPm1uC1ERdek9qO7hzUEvaGsWZU-7ik7Ha34\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDQ5OQ==;sn=25090499"
      },
      "ResponseBody": {
        "etag": "rEwpXWRyPm1uC1ERdek9qO7hzUEvaGsWZU-7ik7Ha34",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDQ5OQ=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDUwMQ=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022_LMzp23A1Tgulay6guuLf7P7Ef6wmzXq_ejc5k3htmY\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:19 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDUwMw==;sn=25090503"
      },
      "ResponseBody": {
        "etag": "_LMzp23A1Tgulay6guuLf7P7Ef6wmzXq_ejc5k3htmY",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:19\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=message*\u0026label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022wpGPxi-GAsI456BLMU39Nv09ZfCmlYgxoLcWQI8buOo\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDUwNA==;sn=25090504"
      },
      "ResponseBody": {
        "etag": "wpGPxi-GAsI456BLMU39Nv09ZfCmlYgxoLcWQI8buOo",
        "items": [
          {
            "etag": "InmiWoQg-FWCQUXrqoX1ksAYjWLo7aRkQryv4EMoZp8",
            "key": "message",
            "label": "dev",
            "content_type": "text/plain",
            "value": "test",
            "tags": {},
            "locked": false,
            "last_modified": "2024-02-13T00:32:19\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
