{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Feb, 08 2024 23:26:15.732963 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022VTPWme4rXoMD4FAMWhHz5CCoVxPUuDNdJia0NpSERiY\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:26:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzgxNw==;sn=25053817"
      },
      "ResponseBody": {
        "etag": "VTPWme4rXoMD4FAMWhHz5CCoVxPUuDNdJia0NpSERiY",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:26:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzgxNw==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Feb, 08 2024 23:26:16.092102 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00229VyPCiyHIf9vN8pyKtCi81XB2fpXDe_NJ7T87uLcvEc\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:26:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzgxOQ==;sn=25053819"
      },
      "ResponseBody": {
        "etag": "9VyPCiyHIf9vN8pyKtCi81XB2fpXDe_NJ7T87uLcvEc",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:26:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzgxOQ==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Feb, 08 2024 23:26:16.106116 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022UdOLbmC0PV1fZtTax0SY09I68ZHiIq9mp2Du5xNDcIQ\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:26:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzgyMQ==;sn=25053821"
      },
      "ResponseBody": {
        "etag": "UdOLbmC0PV1fZtTax0SY09I68ZHiIq9mp2Du5xNDcIQ",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:26:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzgyMQ==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Feb, 08 2024 23:26:16.118814 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MfVGLjm8M8NSGTxnqzFKNbr4hVnqTPlBipJkBMAEl2o\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:26:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzgyMw==;sn=25053823"
      },
      "ResponseBody": {
        "etag": "MfVGLjm8M8NSGTxnqzFKNbr4hVnqTPlBipJkBMAEl2o",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:26:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzgyMw==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Feb, 08 2024 23:26:16.130813 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022CBwil-KXRSA7UrJboFv5IzE13pPbtQn-Mw7lJxb0Qio\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:26:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzgyNQ==;sn=25053825"
      },
      "ResponseBody": {
        "etag": "CBwil-KXRSA7UrJboFv5IzE13pPbtQn-Mw7lJxb0Qio",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:26:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzgyNQ==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Feb, 08 2024 23:26:16.142814 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022abglOHJKHQpykxdztb4m_aQaSBukqj8AtCZML6ofPZs\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:26:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzgyNw==;sn=25053827"
      },
      "ResponseBody": {
        "etag": "abglOHJKHQpykxdztb4m_aQaSBukqj8AtCZML6ofPZs",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:26:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzgyNw==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Feb, 08 2024 23:26:16.154813 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Feb, 08 2024 23:26:16.166814 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022FrCbemdqf-xGyIUcMy0JuIF4oXabNjLl6Rw-PgfYTkA\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzgzMA==;sn=25053830"
      },
      "ResponseBody": {
        "etag": "FrCbemdqf-xGyIUcMy0JuIF4oXabNjLl6Rw-PgfYTkA",
        "items": [
          {
            "etag": "3Pmc-MkqL6Q7v8x1TF0rAnpgnmXsRuy6-avDqmEn95o",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-02-08T23:26:11\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
