{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"oE-zxBvTWTCFtiK6Ri6ce2CHOX7kbYVjhv7C9wR3z1k\"",
        "x-ms-date": "Tue, 07 Apr 2026 21:47:06 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\": \"https://sanitized.vault.azure.net/secrets/TestSecret/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-07T21:46:20+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "secret2",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\": \"https://sanitized.vault.azure.net/secrets/TestSecret/2\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-07T21:42:27+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
