{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 11 2024 02:09:34.183317 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zBsQl5pU3Xf3sDzR72zuOHSdnL4mknnk28eF7JfYonw\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:34 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjU0NA==;sn=22376544"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:34+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?label=dev&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjU0NA==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 11 2024 02:09:34.232440 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5Z2xtT6gpuPsnVHDZYoKco45ELs5M0VV0U8v-kASNCo\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:34 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjU0Ng==;sn=22376546"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:34+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/my_json?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjU0Ng==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 11 2024 02:09:34.248591 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"d8lJbxfoSmqoJeTJjdvAiKPABvJuyavbjYY3dfN123k\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:34 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjU0OA==;sn=22376548"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:34+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/test.trimmed?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjU0OA==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 11 2024 02:09:34.263416 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2JPnWhAKL-vreeGLYn6tBefyDlcijMz-9YVEIC3l_TY\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:34 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjU1MA==;sn=22376550"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:34+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjU1MA==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 11 2024 02:09:34.279003 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oxH2IruJFlDJyRUhCkNka2OS0-YQNGr1brLrVtCT3kA\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:34 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjU1Mg==;sn=22376552"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:34+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non_refreshed_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjU1Mg==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 11 2024 02:09:34.293584 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PnohxjNWXYFElec_NSVQWqWbf843d-JRbOiaZONre14\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:34 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjU1NA==;sn=22376554"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:34+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjU1NA==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 11 2024 02:09:34.310291 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZG4DQpPmcOy6uPG-1R1QFhHGpJSy4IKmtX80mr_Mm2I\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:34 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjU1Ng==;sn=22376556"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:34+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/secret?label=prod&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjU1Ng==",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 11 2024 02:09:34.326711 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/TestSecret\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pCq8UUNKaitcr1QUQXwPmkuBU_jRHscDg-sFYZb734g\"",
        "Last-Modified": "Sat, 11 May 2024 02:09:34 GMT",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjU1OA==;sn=22376558"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/TestSecret\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-11T02:09:34+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?key=%2A&label=%00&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "May, 11 2024 02:09:34.343347 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"DUcXmc8YscLGe8LjbMXgLcyt0hiI7SHgznU2Q-O6K4M\"",
        "Sync-Token": "zAJw6V16=NToxNyMyMjM3NjU1OQ==;sn=22376559"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-11T02:09:34+00:00"
          },
          {
            "et[...]
