{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17+9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF+AgFzgI=",
        "x-ms-date": "May, 09 2024 17:24:35.127007 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YycRZQ2yJgP9581vISkz_j2AsLjQEgz1Q7YPOHTRA-o\"",
        "Last-Modified": "Thu, 09 May 2024 17:24:35 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2Njc1Mw==;sn=26766753"
      },
      "ResponseBody": {
        "etag": "YycRZQ2yJgP9581vISkz_j2AsLjQEgz1Q7YPOHTRA-o",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:24:35+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2Njc1Mw==",
        "x-ms-content-sha256": "ldGB+yUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "May, 09 2024 17:24:35.497457 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"do0NXFT5-agr4ynSszmiJBNHF80chbzpp6HcKCXN5jA\"",
        "Last-Modified": "Thu, 09 May 2024 17:24:35 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2Njc1NQ==;sn=26766755"
      },
      "ResponseBody": {
        "etag": "do0NXFT5-agr4ynSszmiJBNHF80chbzpp6HcKCXN5jA",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:24:35+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2Njc1NQ==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr+sa5KgTtCgv2+3ps1kcPne0Y=",
        "x-ms-date": "May, 09 2024 17:24:35.514611 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"E0L9UIP4fbeGBnW7o5NGqjbiQ_1Y1QUQNbLF3zA72oE\"",
        "Last-Modified": "Thu, 09 May 2024 17:24:35 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2Njc1Nw==;sn=26766757"
      },
      "ResponseBody": {
        "etag": "E0L9UIP4fbeGBnW7o5NGqjbiQ_1Y1QUQNbLF3zA72oE",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:24:35+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2Njc1Nw==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "May, 09 2024 17:24:35.530751 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WC_48bXT_vDbAjoaTdKfLxlvUsMyq5FnYof2IUptnGY\"",
        "Last-Modified": "Thu, 09 May 2024 17:24:35 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2Njc1OQ==;sn=26766759"
      },
      "ResponseBody": {
        "etag": "WC_48bXT_vDbAjoaTdKfLxlvUsMyq5FnYof2IUptnGY",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:24:35+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2Njc1OQ==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "May, 09 2024 17:24:35.543866 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QgB7y5VlgEaEjaseECSgw5WLGvBmithFrcCgCH3M-wc\"",
        "Last-Modified": "Thu, 09 May 2024 17:24:35 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2Njc2MQ==;sn=26766761"
      },
      "ResponseBody": {
        "etag": "QgB7y5VlgEaEjaseECSgw5WLGvBmithFrcCgCH3M-wc",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:24:35+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2Njc2MQ==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "May, 09 2024 17:24:35.556987 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KzKqE312YhYu6vQY0Ydhh0wTcJprOLgqTPoB5fLW16w\"",
        "Last-Modified": "Thu, 09 May 2024 17:24:35 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2Njc2Mw==;sn=26766763"
      },
      "ResponseBody": {
        "etag": "KzKqE312YhYu6vQY0Ydhh0wTcJprOLgqTPoB5fLW16w",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:24:35+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2Njc2Mw==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "May, 09 2024 17:24:35.572998 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KIhSeUivYnwJSxoWa6bzs-6PQYIOD_1Qsg_gR5515-k\"",
        "Last-Modified": "Thu, 09 May 2024 17:24:35 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2Njc2NQ==;sn=26766765"
      },
      "ResponseBody": {
        "etag": "KIhSeUivYnwJSxoWa6bzs-6PQYIOD_1Qsg_gR5515-k",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:24:35+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2Njc2NQ==",
        "x-ms-content-sha256": "GORL5+RWXCSHKWOJcYQpPM03mZ4lvE/r5VQBfftpZRg=",
        "x-ms-date": "May, 09 2024 17:24:35.589186 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TyCHZUBH3xJ-lo760i5kjC7Iu4KOQGFMNOQB66VKF2s\"",
        "Last-Modified": "Thu, 09 May 2024 17:24:35 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2Njc2Nw==;sn=26766767"
      },
      "ResponseBody": {
        "etag": "TyCHZUBH3xJ-lo760i5kjC7Iu4KOQGFMNOQB66VKF2s",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:24:35+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A&label=%00&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "May, 09 2024 17:24:35.604305 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"efs6OwZm0RTYeJZoc-ZvowHGHsBxqko-E4XG83YZY_Y\"",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2Njc2OA==;sn=26766768"
      },
      "ResponseBody": {
        "etag": "efs6OwZm0RTYeJZoc-ZvowHGHsBxqko-E4XG83YZY_Y",
        "items": [
          {
            "etag": "KIhSeUivYnwJSxoWa6bzs-6PQYIOD_1Qsg_gR5515-k",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-09T17:24:35+00:00"
          },
          {
            "etag": "PlPYSsUfZgksGtMMBgIivVtmtedSwm8UEh5O8cUy0-s",
            "key": ".appconfig.featureflag/Beta",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"Beta\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-08T22:31:41+00:00"
          },
          {
            "etag": "t-XQPGxDAlMzANUC2_g2z6P6aj2gKZe5ZEmxhW7hG20",
            "key": ".appconfig.featureflag/Delta",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Delta\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Mon, 01 Jan 2024 08:00:00 GMT\",\"End\":\"Sat, 10 Feb 2024 08:00:00 GMT\"}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:42:43+00:00"
          },
          {
            "etag": "3vOPBuZOhW0hZDHaSCZd8Oo_UdbViByiruQ7djGymLM",
            "key": ".appconfig.featureflag/Epsilon",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Epsilon\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 24 Jan 2024 08:00:00 GMT\"}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:44:45+00:00"
          },
          {
            "etag": "dgInk3wh4ZCIJkZ8czM1vXjcyZQnVRTPYh4p86PY6tY",
            "key": ".appconfig.featureflag/Gamma",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Gamma\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Sample.Random\",\"parameters\":{\"Value\":50}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:41:44+00:00"
          },
          {
            "etag": "qBB2gyVlWA0lMISTqbbbkrE7SoRes2riPLC1sLy-SIw",
            "key": ".appconfig.featureflag/Sigma",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Sigma\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Mon, 01 Jan 2024 08:00:00 GMT\",\"End\":\"Tue, 23 Jan 2024 08:00:00 GMT\"}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:44:18+00:00"
          },
          {
            "etag": "naTMO7Mrznv0Kn85tw1ItuOFbHARU67hlR1xkgutmP4",
            "key": ".appconfig.featureflag/Target",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Target\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[\"Adam\"],\"Groups\":[{\"Name\":\"Stage1\",\"RolloutPercentage\":50}],\"DefaultRolloutPercentage\":50}}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:46:00+00:00"
          },
          {
            "etag": "1Nx-kGIrKPvdZDtDjLNUEnDFS1niWjG9mwOllGF_iTU",
            "key": ".appconfig.featureflag/TelemetryFlag",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"TelemetryFlag\",\"enabled\":true,\"variants\":[{\"name\":\"Off\",\"configuration_value\":\"Off\"},{\"name\":\"On\",\"configuration_value\":\"On\"}],\"allocation\":{\"percentile\":[{\"variant\":\"Off\",\"from\":0,\"to\":50},{\"variant\":\"On\",\"from\":50,\"to\":100}],\"default_when_enabled\":\"Off\",\"default_when_disabled\":\"Off\"},\"telemetry\":{\"enabled\":true}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-04-04T21:03:07+00:00"
          },
          {
            "etag": "Pqpa-sqEC-DLkw9yJPO-q0mdjhIXfDYcyE8s4-nLpHM",
            "key": ".appconfig.featureflag/Zeta",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Zeta\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\[...]
[...]
