{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022QkJpBzLJn_-XYz3CQXyFYEOK_Mw_9Qqm7ecTL6w8Bx8\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:10 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzExNA==;sn=23983114"
      },
      "ResponseBody": {
        "etag": "QkJpBzLJn_-XYz3CQXyFYEOK_Mw_9Qqm7ecTL6w8Bx8",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:10\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzExNA=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u002285JwrqGVUp03xt6ynLFN0V1yBUKRdUQohklsxrjZpyc\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:10 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzExNg==;sn=23983116"
      },
      "ResponseBody": {
        "etag": "85JwrqGVUp03xt6ynLFN0V1yBUKRdUQohklsxrjZpyc",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:10\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzExNg=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022u3G4WhlFOZX9DIPo1S0oYsHxzYEiGEjVxgN0pXSKCFY\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:10 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzExOA==;sn=23983118"
      },
      "ResponseBody": {
        "etag": "u3G4WhlFOZX9DIPo1S0oYsHxzYEiGEjVxgN0pXSKCFY",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:10\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzExOA=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022815eyAQVJ8tEkoZ1hoX41DpXMeLBz76QpmMsyzKi0pE\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:10 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzEyMA==;sn=23983120"
      },
      "ResponseBody": {
        "etag": "815eyAQVJ8tEkoZ1hoX41DpXMeLBz76QpmMsyzKi0pE",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:10\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzEyMA=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022YP9eTBFdhWphcbv-4t5RzUDZldUOM4zwSbIzp3T4Tb8\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:10 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzEyMg==;sn=23983122"
      },
      "ResponseBody": {
        "etag": "YP9eTBFdhWphcbv-4t5RzUDZldUOM4zwSbIzp3T4Tb8",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:10\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzEyMg=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Mh8xd-A6sdPUKARWC9bkVuMwjNOb_Pbzxq0ubxjPuqk\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:10 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzEyNA==;sn=23983124"
      },
      "ResponseBody": {
        "etag": "Mh8xd-A6sdPUKARWC9bkVuMwjNOb_Pbzxq0ubxjPuqk",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:10\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzEyNA=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzEyNw==;sn=23983127"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "Eos8k30tbMo8OS1FG5WTEK--3gwdArO5Lse3HRrf4Tk",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2023-10-18T16:47:09\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
