{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/watch%20key?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "watch key",
        "value": "0",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TayTDYMa_2N0myMmGE8oEV9oP2n8rdTRZVJxE1QJ7a0\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:43 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:43 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "watch key",
        "label": null,
        "content_type": null,
        "value": "0",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-12T18:02:43+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "value": "hi",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pmAvhFTMZxzu8KW84CoGXzVjiv9k5BiSeTqkRnR_XaE\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:45 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-12T18:02:45+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/my_json?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "value": "{\"key\": \"value\"}",
        "content_type": "application/json"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TBUij6v2e6FZTXzvKeKbV3HyoBE67Lxo4-Fb_3ttZoQ\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:45 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-12T18:02:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/test.trimmed?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "value": "key",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UWfLGGJRkNwjbtq1d7bVsdhUoVmQtsQo7guCVZ60fJs\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:45 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-12T18:02:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "value": "original value",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SNAayV0NL68l9cEUFveXGQr57A4XgtdD89-WPLbqG7g\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:45 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-12T18:02:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "value": "Static",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lo8XwFt1zj0mkmJlXz5p37GURWoCil8W3a3ykewfxLk\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:45 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-12T18:02:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/tagged_config?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "tagged_config",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "a": "b"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qqb3e4BZ977OBHrD2VXFCZQWs7O2xjrGeXL6malUK5M\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:45 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "tagged_config",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "a": "b"
        },
        "locked": false,
        "last_modified": "2026-03-12T18:02:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/two_tagged?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "two_tagged",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "a": "b",
          "second": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TcaCh2pnn_B4qjX79wLMbsP230bdU_SSHb-cNsqnyE4\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:45 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "two_tagged",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "a": "b",
          "second": "tag"
        },
        "locked": false,
        "last_modified": "2026-03-12T18:02:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/only_second_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "only_second_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "second": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_PO07UvicgthM5v16JGHS0DxhsdV4ljabqclDOXKUaU\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:45 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "only_second_tag",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "second": "tag"
        },
        "locked": false,
        "last_modified": "2026-03-12T18:02:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/complex_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "complex_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "Special:Tag": "Value:With:Colons",
          "Tag@With@At": "Value@With@At"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tI1KO2AKuCeYG7p3zbyUt08tuNNUNKQ7oEtgFVN54JE\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:45 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "complex_tag",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "Special:Tag": "Value:With:Colons",
          "Tag@With@At": "Value@With@At"
        },
        "locked": false,
        "last_modified": "2026-03-12T18:02:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IU3V9gJK5Iq3NzKi0G9EI3iD032a1zCzlQeK4PZ3wGQ\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:45 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-12T18:02:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FTaggedFeatureFlag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/TaggedFeatureFlag",
        "label": "\u0000",
        "value": "{\t\"id\": \"TaggedFeatureFlag\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {
          "a": "b"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hJR9eEmjZLdB8KaRCbyl3bEJrIyOvJUnZ34dV33vWVQ\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:45 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/TaggedFeatureFlag",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"TaggedFeatureFlag\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {
          "a": "b"
        },
        "locked": false,
        "last_modified": "2026-03-12T18:02:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/multi_tagged?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "multi_tagged",
        "label": "\u0000",
        "value": "multi tagged value",
        "content_type": "text/plain",
        "tags": {
          "a": "b",
          "c": "d"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Z-X7VSzEmy4DL-1NWT6PKJKk_BScMW2BcEtfZf8bEZ0\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:45 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "multi_tagged",
        "label": null,
        "content_type": "text/plain",
        "value": "multi tagged value",
        "tags": {
          "a": "b",
          "c": "d"
        },
        "locked": false,
        "last_modified": "2026-03-12T18:02:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/special_chars?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "special_chars",
        "label": "\u0000",
        "value": "special",
        "content_type": "text/plain",
        "tags": {
          "special@tag": "special:value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8ayqhCA1o-t94nZ32w47e5dq1dyhpwhxWk8JM6ZJork\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:45 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "special_chars",
        "label": null,
        "content_type": "text/plain",
        "value": "special",
        "tags": {
          "special@tag": "special:value"
        },
        "locked": false,
        "last_modified": "2026-03-12T18:02:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/no_tags?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "no_tags",
        "label": "\u0000",
        "value": "no tags",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4q-2z0Ea2PBqRlkcylmVsCsSQpEMrIuFdmxFQQAEBzo\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:45 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "no_tags",
        "label": null,
        "content_type": "text/plain",
        "value": "no tags",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-12T18:02:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/tag_no_value?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "tag_no_value",
        "label": "\u0000",
        "value": "no value",
        "content_type": "text/plain",
        "tags": {
          "a": ""
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aNOvYM1ReqbXIV73Wr6zsoHQjynpkbJnbOmhjQsoB5Y\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:45 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "tag_no_value",
        "label": null,
        "content_type": "text/plain",
        "value": "no value",
        "tags": {
          "a": ""
        },
        "locked": false,
        "last_modified": "2026-03-12T18:02:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/different_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "different_tag",
        "label": "\u0000",
        "value": "different",
        "content_type": "text/plain",
        "tags": {
          "different": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3zzcZJ-3ekxocvWcZ0As-N9EvE6QrLveyZc1Tu5Vb2k\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:45 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "different_tag",
        "label": null,
        "content_type": "text/plain",
        "value": "different",
        "tags": {
          "different": "tag"
        },
        "locked": false,
        "last_modified": "2026-03-12T18:02:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/null_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "null_tag",
        "label": "\u0000",
        "value": "null tag",
        "content_type": "text/plain",
        "tags": {
          "tag": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GQLvLfyBh3IlGJbwSjiv2yfU4ME-ZPh_qlGIztBRVx8\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:45 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "null_tag",
        "label": null,
        "content_type": "text/plain",
        "value": "null tag",
        "tags": {
          "tag": null
        },
        "locked": false,
        "last_modified": "2026-03-12T18:02:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/secret?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "value": "{\"uri\": \"https://sanitized.vault.azure.net/secrets/fake-secret/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3hsqSRY2zIIe7Uc0q8t3HTSq8vcQPljenqzdYNLyg4Q\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:02:45 GMT",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:45 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\": \"https://sanitized.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-12T18:02:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ESQhHO0wDhWSxz51bobnauzS9bfRvZWJ_bLzZgm71Ks\"",
        "x-ms-date": "Thu, 12 Mar 2026 18:02:47 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-03-12T18:02:45+00:00"
          },
          {
            "et[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/watch%20key?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"TayTDYMa_2N0myMmGE8oEV9oP2n8rdTRZVJxE1QJ7a0\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Thu, 12 Mar 2026 18:02:49 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fkey40c43ad9?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"4AkLNYpQbXIbSETw06uoRK0oqUnJHSxzX8SECLdBqCo\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Thu, 12 Mar 2026 18:02:49 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2Fkeyeaac3f60?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"1H_Zw2qc8UXlr1lyNJe8H7GnB2SVN62ERveV3YD8p-o\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Thu, 12 Mar 2026 18:02:51 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
