{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ZQmjWxq1_RHV8kSF3apNyXGLrKaBxVFm9leO6jq1nBU\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:01 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDUzNQ==;sn=24454535"
      },
      "ResponseBody": {
        "etag": "ZQmjWxq1_RHV8kSF3apNyXGLrKaBxVFm9leO6jq1nBU",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:01\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDUzNQ=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022BuqTiWzOsQMTGYu9hnlvYuEX6FwaL_mRLHfxHAB-mYw\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:01 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDUzNw==;sn=24454537"
      },
      "ResponseBody": {
        "etag": "BuqTiWzOsQMTGYu9hnlvYuEX6FwaL_mRLHfxHAB-mYw",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:01\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDUzNw=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022L0kDIVDoyt58Ym6xKhpT6UaPcRiXeWYU94sfTNnvhiM\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:01 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDUzOQ==;sn=24454539"
      },
      "ResponseBody": {
        "etag": "L0kDIVDoyt58Ym6xKhpT6UaPcRiXeWYU94sfTNnvhiM",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:01\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDUzOQ=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00225K08CyGraWntb1tbXtupISa7k5xnBFJ0qRDG-DdiB28\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:01 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDU0MQ==;sn=24454541"
      },
      "ResponseBody": {
        "etag": "5K08CyGraWntb1tbXtupISa7k5xnBFJ0qRDG-DdiB28",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:01\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDU0MQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022jociPyDgpeMukHg4izb0kdsBmssEjKOeWksY7dfyv-s\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:01 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDU0Mw==;sn=24454543"
      },
      "ResponseBody": {
        "etag": "jociPyDgpeMukHg4izb0kdsBmssEjKOeWksY7dfyv-s",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:01\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDU0Mw=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00227lDo9w9397-L810WN01Mj3E9EQwEgVY8ClfUnPvGjo4\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDU0NQ==;sn=24454545"
      },
      "ResponseBody": {
        "etag": "7lDo9w9397-L810WN01Mj3E9EQwEgVY8ClfUnPvGjo4",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDU0NQ=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDU0Nw=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022_uCq3e4o6yBsx4Gq1uofzBUQxOdk-bP8epWxfyk3iKo\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDU0OQ==;sn=24454549"
      },
      "ResponseBody": {
        "etag": "_uCq3e4o6yBsx4Gq1uofzBUQxOdk-bP8epWxfyk3iKo",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022qPGgVsgsjzvtpK2A0VCFuJKuII_u8Z13Rtf-wTKXfKY\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDU1MA==;sn=24454550"
      },
      "ResponseBody": {
        "etag": "qPGgVsgsjzvtpK2A0VCFuJKuII_u8Z13Rtf-wTKXfKY",
        "items": [
          {
            "etag": "4D64kxRi3_PJ0Gj5F_7_bIlM0lVBL7F0D-p-WqtCUBA",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
