{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022P09XP6I49E-GApcYEUrRROR0ctIfXFm7EqgbK39YIOQ\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:34 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYzMw==;sn=25053633"
      },
      "ResponseBody": {
        "etag": "P09XP6I49E-GApcYEUrRROR0ctIfXFm7EqgbK39YIOQ",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:34\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYzMw=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022vI_1vrrmwcz-8dGQlpJlNMSTm-muyaOW9OlRQG19r-8\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:34 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYzNQ==;sn=25053635"
      },
      "ResponseBody": {
        "etag": "vI_1vrrmwcz-8dGQlpJlNMSTm-muyaOW9OlRQG19r-8",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:34\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYzNQ=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022OTTER9i2DvID1cNVsPp4iMVZigXA3iZS3zZLXv7Uwkc\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:34 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYzNw==;sn=25053637"
      },
      "ResponseBody": {
        "etag": "OTTER9i2DvID1cNVsPp4iMVZigXA3iZS3zZLXv7Uwkc",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:34\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYzNw=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022j7DhtSimLHT2-gnUFw1HFOothEO0iYT1ZFhaSD3OolA\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:34 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYzOQ==;sn=25053639"
      },
      "ResponseBody": {
        "etag": "j7DhtSimLHT2-gnUFw1HFOothEO0iYT1ZFhaSD3OolA",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:34\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYzOQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022C5QFAnH9b-ukmX3hz50uojLiQPkhj0O4abtC4W8r6Xs\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:34 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzY0MQ==;sn=25053641"
      },
      "ResponseBody": {
        "etag": "C5QFAnH9b-ukmX3hz50uojLiQPkhj0O4abtC4W8r6Xs",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:34\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzY0MQ=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022lqPX50MrtHMWumb4Au2TC0J-hEpm40P30cSXsVnNwRA\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:34 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzY0Mw==;sn=25053643"
      },
      "ResponseBody": {
        "etag": "lqPX50MrtHMWumb4Au2TC0J-hEpm40P30cSXsVnNwRA",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:34\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzY0Mw=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022bpXax6MaM9KqE32ruWMEL-XGeABBIJJ3tXEVKaqkglE\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzY0Ng==;sn=25053646"
      },
      "ResponseBody": {
        "etag": "bpXax6MaM9KqE32ruWMEL-XGeABBIJJ3tXEVKaqkglE",
        "items": [
          {
            "etag": "R7mbqd-O_2AVO3Kc_pt0Y_pkH44V5-fXM7SffhP3sa8",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-02-08T23:25:30\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
