{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022OHLljnjXv-nQQaLEzXnsKNKahnedAESh9ufa1KHbu9s\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:22:40 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTE2Mg==;sn=26101162"
      },
      "ResponseBody": {
        "etag": "OHLljnjXv-nQQaLEzXnsKNKahnedAESh9ufa1KHbu9s",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:22:40\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTE2Mg=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022bWlx5pIXLYQONzrheMQqXRIio71GYoaGChf-l4DjgBY\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:22:40 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTE2NA==;sn=26101164"
      },
      "ResponseBody": {
        "etag": "bWlx5pIXLYQONzrheMQqXRIio71GYoaGChf-l4DjgBY",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:22:40\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTE2NA=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022GgmKajsS_mPnxnRKqDlqtrbv4C-aN0O7OH-5liS5YOc\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:22:40 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTE2Ng==;sn=26101166"
      },
      "ResponseBody": {
        "etag": "GgmKajsS_mPnxnRKqDlqtrbv4C-aN0O7OH-5liS5YOc",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:22:40\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTE2Ng=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u002248hF4xjtZzkgsGdBaYXr2RlfPGRdRr1M-dOZPG8pdHU\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:22:40 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTE2OA==;sn=26101168"
      },
      "ResponseBody": {
        "etag": "48hF4xjtZzkgsGdBaYXr2RlfPGRdRr1M-dOZPG8pdHU",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:22:40\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTE2OA=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00227J2xXiuFW344GBIYV1UiuZGJiFxNYJxxKIPX398Iyzo\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:22:40 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTE3MA==;sn=26101170"
      },
      "ResponseBody": {
        "etag": "7J2xXiuFW344GBIYV1UiuZGJiFxNYJxxKIPX398Iyzo",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:22:40\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTE3MA=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022oIPUzLKDY69oHTS01FdMX2dK3UU_jSmCpbTrqbJ4Shg\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:22:40 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTE3Mg==;sn=26101172"
      },
      "ResponseBody": {
        "etag": "oIPUzLKDY69oHTS01FdMX2dK3UU_jSmCpbTrqbJ4Shg",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:22:40\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTE3Mg=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTE3NA=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022tNjULGxkNgJpqNyFmgtecjJzwmRmKXLl8YQCa_Ex81w\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:22:40 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTE3Ng==;sn=26101176"
      },
      "ResponseBody": {
        "etag": "tNjULGxkNgJpqNyFmgtecjJzwmRmKXLl8YQCa_Ex81w",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:22:40\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022GZWp38RRw4UuNZRprbS0cZG2oOc_8CjMKkfKwGWijRM\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTE3Nw==;sn=26101177"
      },
      "ResponseBody": {
        "etag": "GZWp38RRw4UuNZRprbS0cZG2oOc_8CjMKkfKwGWijRM",
        "items": [
          {
            "etag": "8bAgEgRo8QHCrUUOYsVpV-8DerG8wSev76ChvFEBfYw",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=.appconfig.featureflag/*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTE3Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
   [...]
