{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00226gDAU4NTtvSAxmcdI15dYwaXOckbH-h4JPA6dOA1b8M\u0022",
        "Last-Modified": "Mon, 28 Aug 2023 21:51:35 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjQz;sn=18936643",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "6gDAU4NTtvSAxmcdI15dYwaXOckbH-h4JPA6dOA1b8M",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-28T21:51:35\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjQz"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Ib2rNRY9L4RPMjoxXSSuNUUbuTKxmfJ_YspiCHdeZ2k\u0022",
        "Last-Modified": "Mon, 28 Aug 2023 21:51:35 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjQ1;sn=18936645",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "Ib2rNRY9L4RPMjoxXSSuNUUbuTKxmfJ_YspiCHdeZ2k",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-28T21:51:35\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjQ1"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022-KuO84nGXNIZg1_5AbfHw9lCOZk_Wd0nvXhPVHnptxo\u0022",
        "Last-Modified": "Mon, 28 Aug 2023 21:51:35 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjQ3;sn=18936647",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "-KuO84nGXNIZg1_5AbfHw9lCOZk_Wd0nvXhPVHnptxo",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-28T21:51:35\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjQ3"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Xte_Q6TFBV5ihPD0KpaCNx9yx0E7WMvOYNKOToPMl0o\u0022",
        "Last-Modified": "Mon, 28 Aug 2023 21:51:35 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjQ5;sn=18936649",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "Xte_Q6TFBV5ihPD0KpaCNx9yx0E7WMvOYNKOToPMl0o",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-28T21:51:35\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjQ5"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022vGW1dg_Qmnqvk9xJ1arcyE7Cs4dXe9wDG_QP4cSdjqE\u0022",
        "Last-Modified": "Mon, 28 Aug 2023 21:51:35 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjUx;sn=18936651",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "vGW1dg_Qmnqvk9xJ1arcyE7Cs4dXe9wDG_QP4cSdjqE",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-28T21:51:35\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjUx"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022g3gYLLTY2-ilBx9B8r2CZpzyPC-haMKJVH_dUw0yBww\u0022",
        "Last-Modified": "Mon, 28 Aug 2023 21:51:35 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjUz;sn=18936653",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "g3gYLLTY2-ilBx9B8r2CZpzyPC-haMKJVH_dUw0yBww",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-28T21:51:35\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjUz"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjU1"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-key[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjU4;sn=18936658",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "NKBdji4ymSoVnQ1lHn86dJX0uSCdES8cDAIFLcFpr_I",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjU4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022vGW1dg_Qmnqvk9xJ1arcyE7Cs4dXe9wDG_QP4cSdjqE\u0022",
        "Last-Modified": "Mon, 28 Aug 2023 21:51:35 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjU4;sn=18936658",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "vGW1dg_Qmnqvk9xJ1arcyE7Cs4dXe9wDG_QP4cSdjqE",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-28T21:51:35\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "If-None-Match": "\u0022vGW1dg_Qmnqvk9xJ1arcyE7Cs4dXe9wDG_QP4cSdjqE\u0022",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjU5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022zuv97EAcZqrGr1gQfXO6qW2SvZDfc4CPFGWeVUGut_o\u0022",
        "Last-Modified": "Mon, 28 Aug 2023 21:51:35 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjYw;sn=18936660",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "zuv97EAcZqrGr1gQfXO6qW2SvZDfc4CPFGWeVUGut_o",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "updated value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-28T21:51:35\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Correlation-Context": "RequestType=Startup",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjYz"
      },
      "RequestBody": {
        "key": "refresh_message",
        "content_type": "text/plain",
        "value": "original value",
        "last_modified": "2023-08-28T21:51:35.000Z",
        "tags": {},
        "locked": false,
        "etag": "vGW1dg_Qmnqvk9xJ1arcyE7Cs4dXe9wDG_QP4cSdjqE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022GaqiPIOFrxwEwYGIOzSE4qVuBmcFsNctJ43j13WESDM\u0022",
        "Last-Modified": "Mon, 28 Aug 2023 21:51:39 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTM2NjY1;sn=18936665",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "GaqiPIOFrxwEwYGIOzSE4qVuBmcFsNctJ43j13WESDM",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-28T21:51:39\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
