{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Feb, 13 2024 00:33:15.736934 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022LTzSBY7rwWzgEh_unGGhWQObjokdrPYL9MHovUmbEtk\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:33:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDc0MQ==;sn=25090741"
      },
      "ResponseBody": {
        "etag": "LTzSBY7rwWzgEh_unGGhWQObjokdrPYL9MHovUmbEtk",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:33:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDc0MQ==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Feb, 13 2024 00:33:16.094108 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022cNQCNIMxHo1pIwoZnKELpRICF7ZA247AR5sASe6U8ic\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:33:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDc0Mw==;sn=25090743"
      },
      "ResponseBody": {
        "etag": "cNQCNIMxHo1pIwoZnKELpRICF7ZA247AR5sASe6U8ic",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:33:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDc0Mw==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Feb, 13 2024 00:33:16.108892 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022PdrxWofM4mZFYoqCk3gmbeBJcxg-jKoO-yTCxPF8irU\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:33:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDc0NQ==;sn=25090745"
      },
      "ResponseBody": {
        "etag": "PdrxWofM4mZFYoqCk3gmbeBJcxg-jKoO-yTCxPF8irU",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:33:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDc0NQ==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Feb, 13 2024 00:33:16.125662 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022sCF03vAnHpm8qbRVEaiSP_Kx3xY2n4DWafazYln0BVU\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:33:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDc0Nw==;sn=25090747"
      },
      "ResponseBody": {
        "etag": "sCF03vAnHpm8qbRVEaiSP_Kx3xY2n4DWafazYln0BVU",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:33:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDc0Nw==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Feb, 13 2024 00:33:16.138662 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022qCff1aATpt8HeVtJN10DcmgkUw9FaZGXIwf4kqrE0zM\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:33:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDc0OQ==;sn=25090749"
      },
      "ResponseBody": {
        "etag": "qCff1aATpt8HeVtJN10DcmgkUw9FaZGXIwf4kqrE0zM",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:33:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDc0OQ==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Feb, 13 2024 00:33:16.157443 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ZWEIKbprR8NzzesTcNYMxIwlaug2vguGKohSbhBotqk\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:33:16 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDc1MQ==;sn=25090751"
      },
      "ResponseBody": {
        "etag": "ZWEIKbprR8NzzesTcNYMxIwlaug2vguGKohSbhBotqk",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:33:16\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDc1MQ==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Feb, 13 2024 00:33:16.173454 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Feb, 13 2024 00:33:16.190225 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022r-T6PEqRK5UjQ6a3MzaDPaK6WXT2BcHwW2RpxOj8gwM\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDc1NA==;sn=25090754"
      },
      "ResponseBody": {
        "etag": "r-T6PEqRK5UjQ6a3MzaDPaK6WXT2BcHwW2RpxOj8gwM",
        "items": [
          {
            "etag": "6SoZS5NQAPWxazRrcTM-49E-bsdw400i_rCqgSKy8Ao",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-02-13T00:33:11\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
