{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17+9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF+AgFzgI=",
        "x-ms-date": "May, 09 2024 17:23:50.631114 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fmTI-lsm5ppIYMNy6tomwsCe2oAapIXyuUNW65_KJlc\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:50 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjU5OQ==;sn=26766599"
      },
      "ResponseBody": {
        "etag": "fmTI-lsm5ppIYMNy6tomwsCe2oAapIXyuUNW65_KJlc",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:50+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjU5OQ==",
        "x-ms-content-sha256": "ldGB+yUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "May, 09 2024 17:23:50.992176 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0v_EPZrbJyYOhZVKrEnReznbEH_8v9ylwIE480WIkME\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:50 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYwMQ==;sn=26766601"
      },
      "ResponseBody": {
        "etag": "0v_EPZrbJyYOhZVKrEnReznbEH_8v9ylwIE480WIkME",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:50+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYwMQ==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr+sa5KgTtCgv2+3ps1kcPne0Y=",
        "x-ms-date": "May, 09 2024 17:23:51.008206 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0du1XhEyT-TcLWA7REh6ghhR8JReKRvvBSKI9An3wQg\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYwMw==;sn=26766603"
      },
      "ResponseBody": {
        "etag": "0du1XhEyT-TcLWA7REh6ghhR8JReKRvvBSKI9An3wQg",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:51+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYwMw==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "May, 09 2024 17:23:51.024289 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1FZ2zx3j2-3GaxqG5sF29rxCeCfnRG1C7XzxQ3yyeZ0\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYwNQ==;sn=26766605"
      },
      "ResponseBody": {
        "etag": "1FZ2zx3j2-3GaxqG5sF29rxCeCfnRG1C7XzxQ3yyeZ0",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:51+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYwNQ==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "May, 09 2024 17:23:51.042299 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SrUGvqdV0DFKzg4OlUU3UFAdFUtOH-dL8kKBjhWTC9U\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYwNw==;sn=26766607"
      },
      "ResponseBody": {
        "etag": "SrUGvqdV0DFKzg4OlUU3UFAdFUtOH-dL8kKBjhWTC9U",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:51+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYwNw==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "May, 09 2024 17:23:51.057371 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bHaITqkz7lzyEB_jkC_E2qkFMyADcR_KFuXl-DciOCM\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYwOQ==;sn=26766609"
      },
      "ResponseBody": {
        "etag": "bHaITqkz7lzyEB_jkC_E2qkFMyADcR_KFuXl-DciOCM",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:51+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYwOQ==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "May, 09 2024 17:23:51.073452 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JBpm1jij7Wvg454e7Lvr3kxlk92JVSbX79OHuA_R9gY\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYxMQ==;sn=26766611"
      },
      "ResponseBody": {
        "etag": "JBpm1jij7Wvg454e7Lvr3kxlk92JVSbX79OHuA_R9gY",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:51+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A&label=prod&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "May, 09 2024 17:23:51.090521 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"bOcvpdBvs51l7SPM5HYIv-n3x7znXLGLdQ6GjBdI7wA\"",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYxMg==;sn=26766612"
      },
      "ResponseBody": {
        "etag": "bOcvpdBvs51l7SPM5HYIv-n3x7znXLGLdQ6GjBdI7wA",
        "items": [
          {
            "etag": "oALo15FaIkX0CWrYWT-zudq2k5nPjrbrSWD2qmHlPHk",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-09T17:23:46+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
