{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022i45v7kBaqQKF6GPlUBaKnOaE64rDG92Ih6X3_Aq-xuc\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:02:46 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTYzOA==;sn=24439638"
      },
      "ResponseBody": {
        "etag": "i45v7kBaqQKF6GPlUBaKnOaE64rDG92Ih6X3_Aq-xuc",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:02:46\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTYzOA=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022lOOYCAnsYI_uU164Q_zyhd0A0evbWcWTnCma0CNP5js\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:02:46 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY0MA==;sn=24439640"
      },
      "ResponseBody": {
        "etag": "lOOYCAnsYI_uU164Q_zyhd0A0evbWcWTnCma0CNP5js",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:02:46\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY0MA=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223ymSVXKR5gJ3ZJyGDDiwjybIQYnH2HR4KqZ-F3BBSTo\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:02:46 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY0Mg==;sn=24439642"
      },
      "ResponseBody": {
        "etag": "3ymSVXKR5gJ3ZJyGDDiwjybIQYnH2HR4KqZ-F3BBSTo",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:02:46\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY0Mg=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022AOJ3Sctl6mFhKn-BqqWIWrSx_PyBNRF2CVdSJ0ksOX8\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:02:46 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY0NA==;sn=24439644"
      },
      "ResponseBody": {
        "etag": "AOJ3Sctl6mFhKn-BqqWIWrSx_PyBNRF2CVdSJ0ksOX8",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:02:46\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY0NA=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022IUvNf41TfRGVkbJ5jtcQmNXY9SZblYvKVwfRDofKJKI\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:02:46 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY0Ng==;sn=24439646"
      },
      "ResponseBody": {
        "etag": "IUvNf41TfRGVkbJ5jtcQmNXY9SZblYvKVwfRDofKJKI",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:02:46\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY0Ng=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022qzj3ijJsj80n_feuM8W6alLZjgGWDz_cQ8HqGXoZGMI\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:02:46 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY0OA==;sn=24439648"
      },
      "ResponseBody": {
        "etag": "qzj3ijJsj80n_feuM8W6alLZjgGWDz_cQ8HqGXoZGMI",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:02:46\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY0OA=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY1MA=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022JQ8JxQ0PZhCFDrgJp-RAjeoQbLHfEd-9u1lqPH28Ehs\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:02:47 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY1Mg==;sn=24439652"
      },
      "ResponseBody": {
        "etag": "JQ8JxQ0PZhCFDrgJp-RAjeoQbLHfEd-9u1lqPH28Ehs",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:02:47\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY1Mw==;sn=24439653"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "q1nZ9ClkU4qn5MShlsDAV70rFzgYaIr8eUQLppMyTBI",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY1Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022IUvNf41TfRGVkbJ5jtcQmNXY9SZblYvKVwfRDofKJKI\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:02:46 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY1Mw==;sn=24439653"
      },
      "ResponseBody": {
        "etag": "IUvNf41TfRGVkbJ5jtcQmNXY9SZblYvKVwfRDofKJKI",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:02:46\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Watch,UsesKeyVault",
        "If-None-Match": "\u0022IUvNf41TfRGVkbJ5jtcQmNXY9SZblYvKVwfRDofKJKI\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY1NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00222i0ln1IkJfnKnuJBu7ISbX6EVAIxTDn5_qhYDLFZEfE\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:02:47 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY1NQ==;sn=24439655"
      },
      "ResponseBody": {
        "etag": "2i0ln1IkJfnKnuJBu7ISbX6EVAIxTDn5_qhYDLFZEfE",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "updated value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:02:47\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY1OA=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "content_type": "text/plain",
        "value": "original value",
        "last_modified": "2023-12-06T00:02:46.000Z",
        "tags": {},
        "locked": false,
        "etag": "IUvNf41TfRGVkbJ5jtcQmNXY9SZblYvKVwfRDofKJKI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00224ph784MiLonE-aTxjetma6uxEx5Jj-qQlkxDmmptgbo\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 00:02:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQzOTY2MA==;sn=24439660"
      },
      "ResponseBody": {
        "etag": "4ph784MiLonE-aTxjetma6uxEx5Jj-qQlkxDmmptgbo",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T00:02:51\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
