{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ZBgSb0u7sMpbyXnoJUbrEQbrpTfdh2GQ7naxemeH6Rs\u0022",
        "Last-Modified": "Mon, 25 Sep 2023 23:14:43 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMDQwOTky;sn=20040992"
      },
      "ResponseBody": {
        "etag": "ZBgSb0u7sMpbyXnoJUbrEQbrpTfdh2GQ7naxemeH6Rs",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-25T23:14:43\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMDQwOTky"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022iZJ19Cr7VVckh0drQWeFo6PtgtCorYl6CEqWUZyrLKo\u0022",
        "Last-Modified": "Mon, 25 Sep 2023 23:14:43 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMDQwOTk0;sn=20040994"
      },
      "ResponseBody": {
        "etag": "iZJ19Cr7VVckh0drQWeFo6PtgtCorYl6CEqWUZyrLKo",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-25T23:14:43\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMDQwOTk0"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022SnbBAnNcWs6qMpnszpBtzGRcqfX8m3Bz10bFQckF6ow\u0022",
        "Last-Modified": "Mon, 25 Sep 2023 23:14:43 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMDQwOTk2;sn=20040996"
      },
      "ResponseBody": {
        "etag": "SnbBAnNcWs6qMpnszpBtzGRcqfX8m3Bz10bFQckF6ow",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-25T23:14:43\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMDQwOTk2"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022i0X9x-vQCRUr9jH75JNH1ryTAfAzjTJ4X4tu4t0DQiI\u0022",
        "Last-Modified": "Mon, 25 Sep 2023 23:14:43 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMDQwOTk4;sn=20040998"
      },
      "ResponseBody": {
        "etag": "i0X9x-vQCRUr9jH75JNH1ryTAfAzjTJ4X4tu4t0DQiI",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-25T23:14:43\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMDQwOTk4"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00220S1SLDiUkwDM2yxdS6adSPtTs_2j-GZgH55jN_xeSaA\u0022",
        "Last-Modified": "Mon, 25 Sep 2023 23:14:43 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMDQxMDAw;sn=20041000"
      },
      "ResponseBody": {
        "etag": "0S1SLDiUkwDM2yxdS6adSPtTs_2j-GZgH55jN_xeSaA",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-25T23:14:43\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMDQxMDAw"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022wWdQvCt1GGmk3kIbpiqBfdML0rQPlfYxbtWIuuDlAyE\u0022",
        "Last-Modified": "Mon, 25 Sep 2023 23:14:43 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMDQxMDAy;sn=20041002"
      },
      "ResponseBody": {
        "etag": "wWdQvCt1GGmk3kIbpiqBfdML0rQPlfYxbtWIuuDlAyE",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-25T23:14:43\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMDQxMDAy"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwMDQxMDA0"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022XV31xvWz4Rctnf0MMXqxETGmf5NCOoEbCp1lCU6Q6wo\u0022",
        "Last-Modified": "Mon, 25 Sep 2023 23:14:43 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwMDQxMDA2;sn=20041006"
      },
      "ResponseBody": {
        "etag": "XV31xvWz4Rctnf0MMXqxETGmf5NCOoEbCp1lCU6Q6wo",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-25T23:14:43\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzIwMDQxMDA3;sn=20041007"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "lBsF0jkR3iYyTLltbjAGeRVNTV_Lcv3zyRXn_bDF2IE",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
