{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FBgq2MNpFEMtfkd88KvWueMp3OQmOFajr_D2jurLYK4\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:56 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM2Mw==;sn=26766363"
      },
      "ResponseBody": {
        "etag": "FBgq2MNpFEMtfkd88KvWueMp3OQmOFajr_D2jurLYK4",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:56+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM2Mw=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8bPB-uXgWA1lFKJvSxbVGOtF1QEa3hrSvIRHRBIV9bg\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:56 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM2NQ==;sn=26766365"
      },
      "ResponseBody": {
        "etag": "8bPB-uXgWA1lFKJvSxbVGOtF1QEa3hrSvIRHRBIV9bg",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:56+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM2NQ=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RvLYlnS4dx2uh1kC7-yaxeTilOmSVg0WUjaU4oDBsrY\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:56 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM2Nw==;sn=26766367"
      },
      "ResponseBody": {
        "etag": "RvLYlnS4dx2uh1kC7-yaxeTilOmSVg0WUjaU4oDBsrY",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:56+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM2Nw=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"puJSpmjqPn_hATb7ZKznQPaIQkOb8Ss5ZcHZYNnGF3g\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:56 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM2OQ==;sn=26766369"
      },
      "ResponseBody": {
        "etag": "puJSpmjqPn_hATb7ZKznQPaIQkOb8Ss5ZcHZYNnGF3g",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:56+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM2OQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VP0zJONz5FY9k7ZxPk-cr7gD1c9AifPeEOhl9dVGw5s\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:56 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM3MQ==;sn=26766371"
      },
      "ResponseBody": {
        "etag": "VP0zJONz5FY9k7ZxPk-cr7gD1c9AifPeEOhl9dVGw5s",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:56+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM3MQ=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZdRd0u_00rbhIHCKReC50qOjfgaRS76fZ6tAJCSx1NE\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:56 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM3Mw==;sn=26766373"
      },
      "ResponseBody": {
        "etag": "ZdRd0u_00rbhIHCKReC50qOjfgaRS76fZ6tAJCSx1NE",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:56+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM3Mw=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LWi3DVGUFs0-CP1iWdZVOMd5wVgSHKH_hXX0PKImbjI\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:56 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM3NQ==;sn=26766375"
      },
      "ResponseBody": {
        "etag": "LWi3DVGUFs0-CP1iWdZVOMd5wVgSHKH_hXX0PKImbjI",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:56+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM3NQ=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1qTbpSIzq7vr_WedfzuLHj-Ix59dLdR7UMO9U09k91g\"",
        "Last-Modified": "Thu, 09 May 2024 17:22:56 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM3Nw==;sn=26766377"
      },
      "ResponseBody": {
        "etag": "1qTbpSIzq7vr_WedfzuLHj-Ix59dLdR7UMO9U09k91g",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:22:56+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*&label=prod&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"V0oJhj9hQspRocVIfNHAVkvL-0J266yfoIlOW4854xQ\"",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjM3OA==;sn=26766378"
      },
      "ResponseBody": {
        "etag": "V0oJhj9hQspRocVIfNHAVkvL-0J266yfoIlOW4854xQ",
        "items": [
          {
            "etag": "1qTbpSIzq7vr_WedfzuLHj-Ix59dLdR7UMO9U09k91g",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-09T17:22:56+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "Very secret value",
        "id": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/30d8830ec5ed4a428d311292a826f452",
        "attributes": {
          "enabled": true,
          "created": 1697584056,
          "updated": 1697584056,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        },
        "tags": {}
      }
    }
  ],
  "Variables": {}
}
