{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Y65IxXMOROtdoMcrKeVD3oDdgw4dhqcV4gij5S1nHBs\"",
        "x-ms-date": "Fri, 13 Mar 2026 20:26:58 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": "message",
            "label": null,
            "content_type": "text/plain",
            "value": "hi",
            "tags": {},
            "locked": false,
            "last_modified": "2026-03-13T20:22:54+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
