{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"fuYjULAHi6jFVqM6sYke2A1Dd_vyHShC33IC-6KYV1o\"",
        "x-ms-date": "Tue, 07 Apr 2026 21:48:16 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-07T21:44:47+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/RegularFeature",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"RegularFeature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modif[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"o_r8p2T62LbIsF0o8nKpF24bK8XgBA6LFPVOYVPo6Qs\"",
        "Last-Modified": "Tue, 07 Apr 2026 21:48:12 GMT",
        "x-ms-date": "Tue, 07 Apr 2026 21:48:16 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-07T21:48:12+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DnTG6rJJxPTb9KFHsBcFt0OzVLggk9mWZTxOhBzFwZ0\"",
        "Last-Modified": "Tue, 07 Apr 2026 21:44:47 GMT",
        "x-ms-date": "Tue, 07 Apr 2026 21:48:18 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-07T21:44:47+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"o_r8p2T62LbIsF0o8nKpF24bK8XgBA6LFPVOYVPo6Qs\""
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Qdo6sl6BH0FrK7tTEOc1Wv_GMqJvhDmGG3P_sVtI2N0\"",
        "Last-Modified": "Tue, 07 Apr 2026 21:48:18 GMT",
        "x-ms-date": "Tue, 07 Apr 2026 21:48:18 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "updated value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-07T21:48:18+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "value": "{\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "last_modified": "2026-04-07T21:44:47Z",
        "tags": {},
        "locked": false,
        "etag": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TRsRjbt7VU1eh1pUVSALHlCip7RyYJnL32t3OlFy3y8\"",
        "Last-Modified": "Tue, 07 Apr 2026 21:48:19 GMT",
        "x-ms-date": "Tue, 07 Apr 2026 21:48:19 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-07T21:48:19+00:00"
      }
    }
  ],
  "Variables": {}
}
