{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Oct, 18 2023 00:03:12.207609 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022lCN2_yd50KifPKprX8f30o2GHa57hLhFOA7g87mv1po\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 00:03:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTg2OA==;sn=23975868"
      },
      "ResponseBody": {
        "etag": "lCN2_yd50KifPKprX8f30o2GHa57hLhFOA7g87mv1po",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T00:03:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTg2OA==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Oct, 18 2023 00:03:12.223122 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022V2GVVuhXtyVCUM2njfu5XmDkpIPQXVhTdQLLzZVaJH8\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 00:03:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTg3MA==;sn=23975870"
      },
      "ResponseBody": {
        "etag": "V2GVVuhXtyVCUM2njfu5XmDkpIPQXVhTdQLLzZVaJH8",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T00:03:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTg3MA==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Oct, 18 2023 00:03:12.254397 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022iaDdDUBYP_Snarn-S74Q_cpgTZh79EzAQEjG11A4IKk\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 00:03:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTg3Mg==;sn=23975872"
      },
      "ResponseBody": {
        "etag": "iaDdDUBYP_Snarn-S74Q_cpgTZh79EzAQEjG11A4IKk",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T00:03:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTg3Mg==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Oct, 18 2023 00:03:12.270177 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022tmfjzWNVaNlPgW5s6oZWwz8mTFX99BIuohdlopc30ZY\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 00:03:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTg3NA==;sn=23975874"
      },
      "ResponseBody": {
        "etag": "tmfjzWNVaNlPgW5s6oZWwz8mTFX99BIuohdlopc30ZY",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T00:03:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTg3NA==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Oct, 18 2023 00:03:12.285947 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022mkAqIureX6-s9BqJ4XY3LoE3NU52SaqMcV3X69g-zng\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 00:03:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTg3Ng==;sn=23975876"
      },
      "ResponseBody": {
        "etag": "mkAqIureX6-s9BqJ4XY3LoE3NU52SaqMcV3X69g-zng",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T00:03:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTg3Ng==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Oct, 18 2023 00:03:12.317379 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022jGje8J2sfXrp-LMJdjnds0INIhYmJEm2Bx4lwrIsPyM\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 00:03:11 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTg3OA==;sn=23975878"
      },
      "ResponseBody": {
        "etag": "jGje8J2sfXrp-LMJdjnds0INIhYmJEm2Bx4lwrIsPyM",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T00:03:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTg3OA==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Oct, 18 2023 00:03:12.333014 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTg4MA==",
        "x-ms-content-sha256": "GORL5\u002BRWXCSHKWOJcYQpPM03mZ4lvE/r5VQBfftpZRg=",
        "x-ms-date": "Oct, 18 2023 00:03:12.364223 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "co[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=message*\u0026label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Oct, 18 2023 00:03:12.383538 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTg4Mw==;sn=23975883"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "V2GVVuhXtyVCUM2njfu5XmDkpIPQXVhTdQLLzZVaJH8",
            "key": "message",
            "label": "dev",
            "content_type": "text/plain",
            "value": "test",
            "tags": {},
            "locked": false,
            "last_modified": "2023-10-18T00:03:11\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
