{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Oct, 17 2023 23:36:14.199721 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00226KXZT7mSbGFg7Mw7ElBGo4BI7D1XY3YD9vj1LKE_jC8\u0022",
        "Last-Modified": "Tue, 17 Oct 2023 23:36:13 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTUzMw==;sn=23975533"
      },
      "ResponseBody": {
        "etag": "6KXZT7mSbGFg7Mw7ElBGo4BI7D1XY3YD9vj1LKE_jC8",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-17T23:36:13\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTUzMw==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Oct, 17 2023 23:36:14.234392 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022oSSc1Xv7lsNhS9G44xp5yuiGqjwSTzaP9lqvtVXg17s\u0022",
        "Last-Modified": "Tue, 17 Oct 2023 23:36:13 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTUzNQ==;sn=23975535"
      },
      "ResponseBody": {
        "etag": "oSSc1Xv7lsNhS9G44xp5yuiGqjwSTzaP9lqvtVXg17s",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-17T23:36:13\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTUzNQ==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Oct, 17 2023 23:36:14.250012 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022rQEvd9W2ADHjcoqK7f27f6tg8BOQ7FzValpmQNCftsE\u0022",
        "Last-Modified": "Tue, 17 Oct 2023 23:36:13 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTUzNw==;sn=23975537"
      },
      "ResponseBody": {
        "etag": "rQEvd9W2ADHjcoqK7f27f6tg8BOQ7FzValpmQNCftsE",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-17T23:36:13\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTUzNw==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Oct, 17 2023 23:36:14.265638 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00227PwMmgwAa-8BHK_uC_YLU9xytE0sgN4SYKxUWmwtoK4\u0022",
        "Last-Modified": "Tue, 17 Oct 2023 23:36:13 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTUzOQ==;sn=23975539"
      },
      "ResponseBody": {
        "etag": "7PwMmgwAa-8BHK_uC_YLU9xytE0sgN4SYKxUWmwtoK4",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-17T23:36:13\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTUzOQ==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Oct, 17 2023 23:36:14.296725 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022OctDt_ZUygaxhrEouhoHpPDLKJTFTXxLfD-6vALq-aY\u0022",
        "Last-Modified": "Tue, 17 Oct 2023 23:36:13 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTU0MQ==;sn=23975541"
      },
      "ResponseBody": {
        "etag": "OctDt_ZUygaxhrEouhoHpPDLKJTFTXxLfD-6vALq-aY",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-17T23:36:13\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTU0MQ==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Oct, 17 2023 23:36:14.312764 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022DIDnjzMAO2H08Zt50TYMH2o-SrVdGeaPNi9wKmu8DC4\u0022",
        "Last-Modified": "Tue, 17 Oct 2023 23:36:13 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTU0Mw==;sn=23975543"
      },
      "ResponseBody": {
        "etag": "DIDnjzMAO2H08Zt50TYMH2o-SrVdGeaPNi9wKmu8DC4",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-17T23:36:13\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTU0Mw==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Oct, 17 2023 23:36:14.344145 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTU0NQ==",
        "x-ms-content-sha256": "GORL5\u002BRWXCSHKWOJcYQpPM03mZ4lvE/r5VQBfftpZRg=",
        "x-ms-date": "Oct, 17 2023 23:36:14.359800 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "co[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Oct, 17 2023 23:36:14.390920 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk3NTU0OA==;sn=23975548"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "7CcXPHenGiL13II-K-sOr_nDCD8ORB2-tfYHoDABI2E",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
