{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Apr, 09 2024 20:23:30.643850 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022yONcHG3NsGQmty3Ag2nqSkrk_GcQ6E7FwLZJcMdGHgU\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:23:31 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTM3MA==;sn=26101370"
      },
      "ResponseBody": {
        "etag": "yONcHG3NsGQmty3Ag2nqSkrk_GcQ6E7FwLZJcMdGHgU",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:23:31\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTM3MA==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Apr, 09 2024 20:23:31.023326 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022XsvJZksG8ziDQx4TuqBJNUANnVlUkuKQcQVsWYxTJI4\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:23:31 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTM3Mg==;sn=26101372"
      },
      "ResponseBody": {
        "etag": "XsvJZksG8ziDQx4TuqBJNUANnVlUkuKQcQVsWYxTJI4",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:23:31\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTM3Mg==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Apr, 09 2024 20:23:31.040102 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Lntz4RAPwtkijwxnV301IZ3pzfwxUoXPRk_pVrXF4nw\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:23:31 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTM3NA==;sn=26101374"
      },
      "ResponseBody": {
        "etag": "Lntz4RAPwtkijwxnV301IZ3pzfwxUoXPRk_pVrXF4nw",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:23:31\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTM3NA==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Apr, 09 2024 20:23:31.055240 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Zu_jretTVwvMjE68UvoX8hGUV5-1SJR65cjxJuitxM0\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:23:31 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTM3Ng==;sn=26101376"
      },
      "ResponseBody": {
        "etag": "Zu_jretTVwvMjE68UvoX8hGUV5-1SJR65cjxJuitxM0",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:23:31\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTM3Ng==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Apr, 09 2024 20:23:31.069904 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00229ovFuxKBZSc7VldoOag1waTZeQhISHHvTi5QLkgtRz4\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:23:31 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTM3OA==;sn=26101378"
      },
      "ResponseBody": {
        "etag": "9ovFuxKBZSc7VldoOag1waTZeQhISHHvTi5QLkgtRz4",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:23:31\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTM3OA==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Apr, 09 2024 20:23:31.084030 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022e6PQ9nUZbRSwkzzhInPmKhWGo5EkRjijiA4y9-lMwXg\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:23:31 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTM4MA==;sn=26101380"
      },
      "ResponseBody": {
        "etag": "e6PQ9nUZbRSwkzzhInPmKhWGo5EkRjijiA4y9-lMwXg",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:23:31\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTM4MA==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Apr, 09 2024 20:23:31.098867 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTM4Mg==",
        "x-ms-content-sha256": "GORL5\u002BRWXCSHKWOJcYQpPM03mZ4lvE/r5VQBfftpZRg=",
        "x-ms-date": "Apr, 09 2024 20:23:31.115000 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "co[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Apr, 09 2024 20:23:31.139782 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022yb1JJlPHVTaocwiHDtDNVysY6RHCtJlgiI_vuHS9d0Q\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTM4NQ==;sn=26101385"
      },
      "ResponseBody": {
        "etag": "yb1JJlPHVTaocwiHDtDNVysY6RHCtJlgiI_vuHS9d0Q",
        "items": [
          {
            "etag": "gMSl3hwZivqDUDm401WK_yFMyZcswSTTgxuvDjgFXWo",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=.appconfig.featureflag%2F%2A\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTM4NQ==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Apr, 09 2024 20:23:31.518303 GMT"
      },
      "RequestBody": null,[...]
