{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Xz7C6UxsXVf9FKh6ZoDNcXqzFQBe0c-FVt0k45TJYOk\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDU5Nw==;sn=24454597"
      },
      "ResponseBody": {
        "etag": "Xz7C6UxsXVf9FKh6ZoDNcXqzFQBe0c-FVt0k45TJYOk",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:04\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDU5Nw=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022BAhQq7IlrRMplGN-GeFU_b-taI3caNQ2VyYW6aafcKk\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDU5OQ==;sn=24454599"
      },
      "ResponseBody": {
        "etag": "BAhQq7IlrRMplGN-GeFU_b-taI3caNQ2VyYW6aafcKk",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:04\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDU5OQ=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022AoSYXADgTJmos1va1FRnu009bLb5uYjgt2YG3Py3eKA\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDYwMQ==;sn=24454601"
      },
      "ResponseBody": {
        "etag": "AoSYXADgTJmos1va1FRnu009bLb5uYjgt2YG3Py3eKA",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:04\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDYwMQ=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022_IBabIa72s2F6uYmDzcq9KCkKmbWOzZD6wB0LX3l1YQ\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDYwMw==;sn=24454603"
      },
      "ResponseBody": {
        "etag": "_IBabIa72s2F6uYmDzcq9KCkKmbWOzZD6wB0LX3l1YQ",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:04\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDYwMw=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022eKiYfnNSd4PTmHbq4TTa0RlmrrvqSgEeyoM0ViQjzY0\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDYwNQ==;sn=24454605"
      },
      "ResponseBody": {
        "etag": "eKiYfnNSd4PTmHbq4TTa0RlmrrvqSgEeyoM0ViQjzY0",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:04\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDYwNQ=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00229qvY9wLxF9URrhD6gQsBr3puUXJIzXiFr1BtppEv-JY\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDYwNw==;sn=24454607"
      },
      "ResponseBody": {
        "etag": "9qvY9wLxF9URrhD6gQsBr3puUXJIzXiFr1BtppEv-JY",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:04\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDYwNw=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDYwOQ=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ZHW5c9HqRQ-fVmE04DUTT74IXpz0KWU8RnIf9sHnYHI\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:04 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDYxMQ==;sn=24454611"
      },
      "ResponseBody": {
        "etag": "ZHW5c9HqRQ-fVmE04DUTT74IXpz0KWU8RnIf9sHnYHI",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:04\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022Z_FpSJytSi_HxOJl_k8Va8OLUozqTGeOpLnR9pEpI9Q\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDYxMg==;sn=24454612"
      },
      "ResponseBody": {
        "etag": "Z_FpSJytSi_HxOJl_k8Va8OLUozqTGeOpLnR9pEpI9Q",
        "items": [
          {
            "etag": "ZHW5c9HqRQ-fVmE04DUTT74IXpz0KWU8RnIf9sHnYHI",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2023-12-06T23:22:04\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "Very secret value",
        "id": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/30d8830ec5ed4a428d311292a826f452",
        "attributes": {
          "enabled": true,
          "created": 1697584056,
          "updated": 1697584056,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "tags": {}
      }
    }
  ],
  "Variables": {}
}
