{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022CtJBB6aJRvhMbrcKDpypxSGgp9a7uJumLybeBsvFk3k\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:12 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE1OA==;sn=23983158"
      },
      "ResponseBody": {
        "etag": "CtJBB6aJRvhMbrcKDpypxSGgp9a7uJumLybeBsvFk3k",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:12\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE1OA=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022fxYYeo9e2hC4wVB7eJ_-NQ4tEOgdnOudgOGRfbYa4-U\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:12 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE2MA==;sn=23983160"
      },
      "ResponseBody": {
        "etag": "fxYYeo9e2hC4wVB7eJ_-NQ4tEOgdnOudgOGRfbYa4-U",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:12\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE2MA=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022m5I7OPNVB_X6qBsMwLaDr4YQKFe5sK7ESJvZaKNHXEc\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:12 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE2Mg==;sn=23983162"
      },
      "ResponseBody": {
        "etag": "m5I7OPNVB_X6qBsMwLaDr4YQKFe5sK7ESJvZaKNHXEc",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:12\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE2Mg=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022GvYwT00v_uKsZGKMa2brySPjx-a_k8gm2__dmW7rx3w\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:12 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE2NA==;sn=23983164"
      },
      "ResponseBody": {
        "etag": "GvYwT00v_uKsZGKMa2brySPjx-a_k8gm2__dmW7rx3w",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:12\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE2NA=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Bz7WbHVsEqjSMWiwAIRidzohlJ7lPMsVeXkuW7-3wD4\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:12 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE2Ng==;sn=23983166"
      },
      "ResponseBody": {
        "etag": "Bz7WbHVsEqjSMWiwAIRidzohlJ7lPMsVeXkuW7-3wD4",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:12\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE2Ng=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022XNRolc_NjRuIzejmHVWR3Cpfg4j0F1KN8TLz8yassTo\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:12 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE2OA==;sn=23983168"
      },
      "ResponseBody": {
        "etag": "XNRolc_NjRuIzejmHVWR3Cpfg4j0F1KN8TLz8yassTo",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:12\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE2OA=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE3MA=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022_HqSP-EaPOmGxnQnLWHDgSr6rtk__CC3DdUSXeBTul8\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:12 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE3Mg==;sn=23983172"
      },
      "ResponseBody": {
        "etag": "_HqSP-EaPOmGxnQnLWHDgSr6rtk__CC3DdUSXeBTul8",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:12\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE3Mw==;sn=23983173"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "fEcT8UJLUywNXLyxVGpjRZBudDxzTJiFRlgk-fvhvXw",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE3Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Bz7WbHVsEqjSMWiwAIRidzohlJ7lPMsVeXkuW7-3wD4\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:12 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE3Mw==;sn=23983173"
      },
      "ResponseBody": {
        "etag": "Bz7WbHVsEqjSMWiwAIRidzohlJ7lPMsVeXkuW7-3wD4",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:12\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE3NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022XNRolc_NjRuIzejmHVWR3Cpfg4j0F1KN8TLz8yassTo\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:12 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE3NQ==;sn=23983175"
      },
      "ResponseBody": {
        "etag": "XNRolc_NjRuIzejmHVWR3Cpfg4j0F1KN8TLz8yassTo",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:12\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE3OA=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "content_type": "text/plain",
        "value": "Static",
        "last_modified": "2023-10-18T16:47:12.000Z",
        "tags": {},
        "locked": false,
        "etag": "XNRolc_NjRuIzejmHVWR3Cpfg4j0F1KN8TLz8yassTo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022t29-yOJ_fyTIwYGg7BnWqgDvuQqS7TndDHk4O_yg89A\u0022",
        "Last-Modified": "Wed, 18 Oct 2023 16:47:15 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyMzk4MzE4MA==;sn=23983180"
      },
      "ResponseBody": {
        "etag": "t29-yOJ_fyTIwYGg7BnWqgDvuQqS7TndDHk4O_yg89A",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-18T16:47:15\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
