{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022IkhAEF42XqbUj_csEGCbdiS7s0iZGhj3Nr2WvLnPUfs\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDUwNQ==;sn=25090505"
      },
      "ResponseBody": {
        "etag": "IkhAEF42XqbUj_csEGCbdiS7s0iZGhj3Nr2WvLnPUfs",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:22\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDUwNQ=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022b1f1gFcQk4K0Y84bRQqz4eUwPOEqbOvPzLZBvctt2pQ\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDUwNw==;sn=25090507"
      },
      "ResponseBody": {
        "etag": "b1f1gFcQk4K0Y84bRQqz4eUwPOEqbOvPzLZBvctt2pQ",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:22\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDUwNw=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022qSM9Hxf-1AuyfOdVUykAKiNxSP1lhP5GMlsXIz65wIM\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDUwOQ==;sn=25090509"
      },
      "ResponseBody": {
        "etag": "qSM9Hxf-1AuyfOdVUykAKiNxSP1lhP5GMlsXIz65wIM",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:22\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDUwOQ=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022pcbfxOm62KgLTvbqLmyiPj7VmLfudYubBplsnFRhVO8\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDUxMQ==;sn=25090511"
      },
      "ResponseBody": {
        "etag": "pcbfxOm62KgLTvbqLmyiPj7VmLfudYubBplsnFRhVO8",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:22\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDUxMQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00220eHb6Hmo1fQKE2Hw2S-1YyNyWR5AZOKloQoh5PNbZ-U\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDUxMw==;sn=25090513"
      },
      "ResponseBody": {
        "etag": "0eHb6Hmo1fQKE2Hw2S-1YyNyWR5AZOKloQoh5PNbZ-U",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:22\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDUxMw=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Lju4SBuyN5kToVdMfM7irG0YuA6MXn1fDJnThITPgTg\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDUxNQ==;sn=25090515"
      },
      "ResponseBody": {
        "etag": "Lju4SBuyN5kToVdMfM7irG0YuA6MXn1fDJnThITPgTg",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:22\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDUxNQ=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDUxNw=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022LZdsA2veYcKmumIyA4OyZO6vtM0tjfo9oo1Taqe8ZWI\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:22 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDUxOQ==;sn=25090519"
      },
      "ResponseBody": {
        "etag": "LZdsA2veYcKmumIyA4OyZO6vtM0tjfo9oo1Taqe8ZWI",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:22\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022eLhY3L2a6HA0BDblCV8RzwI3wEMkBBrqG68nJQHE7zo\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDUyMA==;sn=25090520"
      },
      "ResponseBody": {
        "etag": "eLhY3L2a6HA0BDblCV8RzwI3wEMkBBrqG68nJQHE7zo",
        "items": [
          {
            "etag": "LZdsA2veYcKmumIyA4OyZO6vtM0tjfo9oo1Taqe8ZWI",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-02-13T00:32:22\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "Very secret value",
        "id": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/30d8830ec5ed4a428d311292a826f452",
        "attributes": {
          "enabled": true,
          "created": 1697584056,
          "updated": 1697584056,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "tags": {}
      }
    }
  ],
  "Variables": {}
}
