{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022as25Yu0Cn_wY1O_-PvfW25Bs1pluVhox41me9Rp_5Ic\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:17 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYwOA==;sn=25884608"
      },
      "ResponseBody": {
        "etag": "as25Yu0Cn_wY1O_-PvfW25Bs1pluVhox41me9Rp_5Ic",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:17\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYwOA=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022uvFa6S0-EI15BMYr5uwMuO1E95GieoLI4d0iDSMwwNI\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:17 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYxMA==;sn=25884610"
      },
      "ResponseBody": {
        "etag": "uvFa6S0-EI15BMYr5uwMuO1E95GieoLI4d0iDSMwwNI",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:17\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYxMA=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022oz7x2kn4Jr5WYgCgg71QbyjX7wIX7kZIWESJINzZdf0\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:17 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYxMg==;sn=25884612"
      },
      "ResponseBody": {
        "etag": "oz7x2kn4Jr5WYgCgg71QbyjX7wIX7kZIWESJINzZdf0",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:17\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYxMg=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022u4L0bMs2AjGMZOd_wOPg1FRPZX1CEY5p5XPthKmqpjo\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:17 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYxNA==;sn=25884614"
      },
      "ResponseBody": {
        "etag": "u4L0bMs2AjGMZOd_wOPg1FRPZX1CEY5p5XPthKmqpjo",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:17\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYxNA=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022o213LKzLUp8faLOjgMUGkwHSH9GVph-ir-9iWO1x-G0\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:17 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYxNg==;sn=25884616"
      },
      "ResponseBody": {
        "etag": "o213LKzLUp8faLOjgMUGkwHSH9GVph-ir-9iWO1x-G0",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:17\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYxNg=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022A1jRXA6iGWTQboOlam6ZMs5h4kzFDGhCXY-1kHOp0r0\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:17 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYxOA==;sn=25884618"
      },
      "ResponseBody": {
        "etag": "A1jRXA6iGWTQboOlam6ZMs5h4kzFDGhCXY-1kHOp0r0",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:17\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYxOA=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYyMA=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022jVGo0UVXY4TqirCib3YPVh9gydrO7UDKZk1cJOLX390\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:17 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYyMg==;sn=25884622"
      },
      "ResponseBody": {
        "etag": "jVGo0UVXY4TqirCib3YPVh9gydrO7UDKZk1cJOLX390",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:17\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022TtzGPhLrTQvb8VggcoQO9sc-wVqYdVEJeSvbf4m6waI\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDYyMw==;sn=25884623"
      },
      "ResponseBody": {
        "etag": "TtzGPhLrTQvb8VggcoQO9sc-wVqYdVEJeSvbf4m6waI",
        "items": [
          {
            "etag": "jVGo0UVXY4TqirCib3YPVh9gydrO7UDKZk1cJOLX390",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-03-27T18:58:17\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "Very secret value",
        "id": "https://fake-keyvault.vault.azure.net/secrets/fake-secret/30d8830ec5ed4a428d311292a826f452",
        "attributes": {
          "enabled": true,
          "created": 1697584056,
          "updated": 1697584056,
          "recoveryLevel": "Recoverable\u002BPurgeable",
          "recoverableDays": 90
        },
        "tags": {}
      }
    }
  ],
  "Variables": {}
}
