{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00223nCVYICrQMyRPy9CMGOiI8EkPBsaSAAzNQuxIgxtcwk\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:04:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI5Nw==;sn=24667297"
      },
      "ResponseBody": {
        "etag": "3nCVYICrQMyRPy9CMGOiI8EkPBsaSAAzNQuxIgxtcwk",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:04:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI5Nw=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022O-8l5D9pKYrLtKOrDELGuAHyP0CR2G8AZiN9CF7zp9g\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:04:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI5OQ==;sn=24667299"
      },
      "ResponseBody": {
        "etag": "O-8l5D9pKYrLtKOrDELGuAHyP0CR2G8AZiN9CF7zp9g",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:04:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzI5OQ=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00227v_cCRnYE1GxCXg4v4_DldqMsb_eB9HFJzZhGTCFZGM\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:04:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMwMQ==;sn=24667301"
      },
      "ResponseBody": {
        "etag": "7v_cCRnYE1GxCXg4v4_DldqMsb_eB9HFJzZhGTCFZGM",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:04:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMwMQ=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022PAF9lNnHJfEd5HpVu42lN_PavqQje2mefzvcmPmFDmk\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:04:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMwMw==;sn=24667303"
      },
      "ResponseBody": {
        "etag": "PAF9lNnHJfEd5HpVu42lN_PavqQje2mefzvcmPmFDmk",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:04:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMwMw=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022icruU8J3FyIGOfbtW9ZpfDVedeMv_Ta39nUtHkNoRFE\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:04:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMwNQ==;sn=24667305"
      },
      "ResponseBody": {
        "etag": "icruU8J3FyIGOfbtW9ZpfDVedeMv_Ta39nUtHkNoRFE",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:04:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMwNQ=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022PtxGeAXEB1Of69KyBnlJ9jIgEeStsIAo5GQUInxUvpU\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:04:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMwNw==;sn=24667307"
      },
      "ResponseBody": {
        "etag": "PtxGeAXEB1Of69KyBnlJ9jIgEeStsIAo5GQUInxUvpU",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:04:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMwNw=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMwOQ=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022PGXlJbpJthTPGjEiJE37h8mMEZ4QynK4ZqkB3hA0uxM\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:04:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMxMQ==;sn=24667311"
      },
      "ResponseBody": {
        "etag": "PGXlJbpJthTPGjEiJE37h8mMEZ4QynK4ZqkB3hA0uxM",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:04:02\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022IRFvmU8aj2AQtDt3iA9yHlwhSTZdmzUVODAhJ9Z4-lE\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMxMg==;sn=24667312"
      },
      "ResponseBody": {
        "etag": "IRFvmU8aj2AQtDt3iA9yHlwhSTZdmzUVODAhJ9Z4-lE",
        "items": [
          {
            "etag": "ZJ3kwCLIIom-cF8UT4-kjAsEe0C0r0KwQ_EVgpJeZ24",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=.appconfig.featureflag/*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMxMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022f-_NjFzztRU0Et5oY8HAoM-I4Zx_O9wST3ugj36nTGw\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMxMg==;sn=24667312"
      },
      "ResponseBody": {
        "etag": "f-_NjFzztRU0Et5oY8HAoM-I4Zx_O9wST3ugj36nTGw",
        "items": [
          {
            "etag": "ZJ3kwCLIIom-cF8UT4-kjAsEe0C0r0KwQ_EVgpJeZ24",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-03T19:04:02\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMxMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022icruU8J3FyIGOfbtW9ZpfDVedeMv_Ta39nUtHkNoRFE\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:04:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMxMg==;sn=24667312"
      },
      "ResponseBody": {
        "etag": "icruU8J3FyIGOfbtW9ZpfDVedeMv_Ta39nUtHkNoRFE",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:04:02\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Watch,UsesKeyVault",
        "If-None-Match": "\u0022icruU8J3FyIGOfbtW9ZpfDVedeMv_Ta39nUtHkNoRFE\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMxMw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ieGha6P2u3EbTRWB-TovFFE_OFhaOjsxiwe_u880arQ\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:04:02 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMxNA==;sn=24667314"
      },
      "ResponseBody": {
        "etag": "ieGha6P2u3EbTRWB-TovFFE_OFhaOjsxiwe_u880arQ",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "updated value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:04:02\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMxNw=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "content_type": "text/plain",
        "value": "original value",
        "last_modified": "2024-01-03T19:04:02.000Z",
        "tags": {},
        "locked": false,
        "etag": "icruU8J3FyIGOfbtW9ZpfDVedeMv_Ta39nUtHkNoRFE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022wT_R1ZGQi7wnYv2C_lO_j_UZYqCxyG0jgz6dnrx2T30\u0022",
        "Last-Modified": "Wed, 03 Jan 2024 19:04:06 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDY2NzMxOQ==;sn=24667319"
      },
      "ResponseBody": {
        "etag": "wT_R1ZGQi7wnYv2C_lO_j_UZYqCxyG0jgz6dnrx2T30",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-01-03T19:04:06\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
