{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 17 2024 17:10:13.129803 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4jX9u5tVj3bF6u2Ib3CXCO_zF42Bmw4YAHhxRsdShEs\"",
        "Last-Modified": "Mon, 17 Jun 2024 17:10:13 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-17T17:10:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?label=dev&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 17 2024 17:10:13.541083 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xG7QRujWHZ-b4GpEMUgaRHGUiThiLNGBDYghvwtemgk\"",
        "Last-Modified": "Mon, 17 Jun 2024 17:10:13 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-17T17:10:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/my_json?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 17 2024 17:10:13.558674 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"S_7MEecgxK7pRKX4J1byPEUEcOvpLfxTa13uNljrJco\"",
        "Last-Modified": "Mon, 17 Jun 2024 17:10:13 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-17T17:10:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/test.trimmed?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 17 2024 17:10:13.574265 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9rKk4-na7_Up8X6aVCy3sbKp8KBeFGE3sE6ynNSAGRg\"",
        "Last-Modified": "Mon, 17 Jun 2024 17:10:13 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-17T17:10:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 17 2024 17:10:13.591352 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XD7aXl5aeAoh_ptXWuEnvbzNT_yxRi4SvctktspTrSM\"",
        "Last-Modified": "Mon, 17 Jun 2024 17:10:13 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-17T17:10:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non_refreshed_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 17 2024 17:10:13.606428 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"G7_16jUFwcpsgOtGFWOGibDsoI2ucR0U1nHgC_4qeH4\"",
        "Last-Modified": "Mon, 17 Jun 2024 17:10:13 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-17T17:10:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 17 2024 17:10:13.625526 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BWWfBZ5SBpYjS73FJjEe-aftiIIQwBcKrg1EnwA-IpQ\"",
        "Last-Modified": "Mon, 17 Jun 2024 17:10:13 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-17T17:10:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/secret?label=prod&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 17 2024 17:10:13.639494 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cjM6XOsocZiUWdrxhEieZAFHaVY_p8Q8Soe8S2z9I5E\"",
        "Last-Modified": "Mon, 17 Jun 2024 17:10:13 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-17T17:10:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?key=%2A&label=%00&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault,ReplicaCount=2",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jun, 17 2024 17:10:19.694388 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"k5YiBtQlfDms6Lv4-esbsVdBAqTwk9LCb_-rkqvBhU0\""
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-06-17T17:10:13+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Beta",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"Beta\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-28T23:42:02+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Delta",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Delta\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Mon, 01 Jan 2024 08:00:00 GMT\",\"End\":\"Sat, 10 Feb 2024 08:00:00 GMT\"}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:42:43+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Epsilon",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Epsilon\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 24 Jan 2024 08:00:00 GMT\"}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:44:45+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Gamma",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Gamma\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Sample.Random\",\"parameters\":{\"Value\":50}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:41:44+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Sigma",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Sigma\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Mon, 01 Jan 2024 08:00:00 GMT\",\"End\":\"Tue, 23 Jan 2024 08:00:00 GMT\"}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:44:18+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Target",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Target\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[\"Adam\"],\"Groups\":[{\"Name\":\"Stage1\",\"RolloutPercentage\":50}],\"DefaultRolloutPercentage\":50}}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:46:00+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/TelemetryFlag",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"TelemetryFlag\",\"enabled\":true,\"variants\":[{\"name\":\"Off\",\"configuration_value\":\"Off\"},{\"name\":\"On\",\"configuration_value\":\"On\"}],\"allocation\":{\"percentile\":[{\"variant\":\"Off\",\"from\":0,\"to\":50},{\"variant\":\"On\",\"from\":50,\"to\":100}],\"default_when_enabled\":\"Off\",\"default_when_disabled\":\"Off\"},\"telemetry\":{\"enabled\":true}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-04-04T21:03:07+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Zeta",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Zeta\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindo[...]
