{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NbGNfnkmkMHSKHB3qUjWrIMlScVSrvLnXQcegie_UGk\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:59 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYyOQ==;sn=26766629"
      },
      "ResponseBody": {
        "etag": "NbGNfnkmkMHSKHB3qUjWrIMlScVSrvLnXQcegie_UGk",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:59+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYyOQ=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cU-nbnM2J0wXLnSqP4d9wt6H5II2OrjUyADaQuchsgQ\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:59 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYzMQ==;sn=26766631"
      },
      "ResponseBody": {
        "etag": "cU-nbnM2J0wXLnSqP4d9wt6H5II2OrjUyADaQuchsgQ",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:59+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYzMQ=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3suJho28ZqcA8Sn3TjL6BuzeH5WPsggqYKdV23UMuAc\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:59 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYzMw==;sn=26766633"
      },
      "ResponseBody": {
        "etag": "3suJho28ZqcA8Sn3TjL6BuzeH5WPsggqYKdV23UMuAc",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:59+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYzMw=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DTN1PDsg4QGM4pIk19JHOCZ4g-f3USYQ4M1wyvzATiw\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:59 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYzNQ==;sn=26766635"
      },
      "ResponseBody": {
        "etag": "DTN1PDsg4QGM4pIk19JHOCZ4g-f3USYQ4M1wyvzATiw",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:59+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYzNQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"E9M-a2MgZWdFwfqmwwez-TfVWBgMKrXkn-5wNZ-yn6M\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:59 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYzNw==;sn=26766637"
      },
      "ResponseBody": {
        "etag": "E9M-a2MgZWdFwfqmwwez-TfVWBgMKrXkn-5wNZ-yn6M",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:59+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYzNw=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SM07P_AIbNU9PQbXl--h9dlOGAX4GbuK9pQFxQwbMl4\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:59 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYzOQ==;sn=26766639"
      },
      "ResponseBody": {
        "etag": "SM07P_AIbNU9PQbXl--h9dlOGAX4GbuK9pQFxQwbMl4",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:59+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjYzOQ=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"e4miG8ThLqPBwM10dQvL13cAmIJ2k0tjJUUeir7yut4\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:59 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY0MQ==;sn=26766641"
      },
      "ResponseBody": {
        "etag": "e4miG8ThLqPBwM10dQvL13cAmIJ2k0tjJUUeir7yut4",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:59+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY0MQ=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8xpQwFy3Az6JitJknjVtPMqojv14rvS-9A3XuJdEwAg\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:59 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY0Mw==;sn=26766643"
      },
      "ResponseBody": {
        "etag": "8xpQwFy3Az6JitJknjVtPMqojv14rvS-9A3XuJdEwAg",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:59+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A&label=%00&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"r6sEL7YcAZqK_WDsDz9rus6hwFguR2syb2IlSXSMf9Q\"",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY0NA==;sn=26766644"
      },
      "ResponseBody": {
        "etag": "r6sEL7YcAZqK_WDsDz9rus6hwFguR2syb2IlSXSMf9Q",
        "items": [
          {
            "etag": "e4miG8ThLqPBwM10dQvL13cAmIJ2k0tjJUUeir7yut4",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-09T17:23:59+00:00"
          },
          {
            "etag": "PlPYSsUfZgksGtMMBgIivVtmtedSwm8UEh5O8cUy0-s",
            "key": ".appconfig.featureflag/Beta",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"Beta\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-08T22:31:41+00:00"
          },
          {
            "etag": "t-XQPGxDAlMzANUC2_g2z6P6aj2gKZe5ZEmxhW7hG20",
            "key": ".appconfig.featureflag/Delta",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Delta\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Mon, 01 Jan 2024 08:00:00 GMT\",\"End\":\"Sat, 10 Feb 2024 08:00:00 GMT\"}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:42:43+00:00"
          },
          {
            "etag": "3vOPBuZOhW0hZDHaSCZd8Oo_UdbViByiruQ7djGymLM",
            "key": ".appconfig.featureflag/Epsilon",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Epsilon\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 24 Jan 2024 08:00:00 GMT\"}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:44:45+00:00"
          },
          {
            "etag": "dgInk3wh4ZCIJkZ8czM1vXjcyZQnVRTPYh4p86PY6tY",
            "key": ".appconfig.featureflag/Gamma",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Gamma\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Sample.Random\",\"parameters\":{\"Value\":50}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:41:44+00:00"
          },
          {
            "etag": "qBB2gyVlWA0lMISTqbbbkrE7SoRes2riPLC1sLy-SIw",
            "key": ".appconfig.featureflag/Sigma",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Sigma\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Mon, 01 Jan 2024 08:00:00 GMT\",\"End\":\"Tue, 23 Jan 2024 08:00:00 GMT\"}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:44:18+00:00"
          },
          {
            "etag": "naTMO7Mrznv0Kn85tw1ItuOFbHARU67hlR1xkgutmP4",
            "key": ".appconfig.featureflag/Target",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Target\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[\"Adam\"],\"Groups\":[{\"Name\":\"Stage1\",\"RolloutPercentage\":50}],\"DefaultRolloutPercentage\":50}}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:46:00+00:00"
          },
          {
            "etag": "1Nx-kGIrKPvdZDtDjLNUEnDFS1niWjG9mwOllGF_iTU",
            "key": ".appconfig.featureflag/TelemetryFlag",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"TelemetryFlag\",\"enabled\":true,\"variants\":[{\"name\":\"Off\",\"configuration_value\":\"Off\"},{\"name\":\"On\",\"configuration_value\":\"On\"}],\"allocation\":{\"percentile\":[{\"variant\":\"Off\",\"from\":0,\"to\":50},{\"variant\":\"On\",\"from\":50,\"to\":100}],\"default_when_enabled\":\"Off\",\"default_when_disabled\":\"Off\"},\"telemetry\":{\"enabled\":true}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-04-04T21:03:07+00:00"
          },
          {
            "etag": "Pqpa-sqEC-DLkw9yJPO-q0mdjhIXfDYcyE8s4-nLpHM",
            "key": ".appconfig.featureflag/Zeta",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Zeta\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjY0NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag"[...]
