{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Dec, 06 2023 21:14:09.834297 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022FjN7S8L1WG5BItBzm6QfhfVfNTddLiwU8KsrJL-V5w4\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:14:09 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTgxNg==;sn=24451816"
      },
      "ResponseBody": {
        "etag": "FjN7S8L1WG5BItBzm6QfhfVfNTddLiwU8KsrJL-V5w4",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:14:09\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTgxNg==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Dec, 06 2023 21:14:09.881461 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022F7ugcS-eFxHRLZg83Lvg_PErtE9uiobsEiEGDLspoeE\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:14:09 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTgxOA==;sn=24451818"
      },
      "ResponseBody": {
        "etag": "F7ugcS-eFxHRLZg83Lvg_PErtE9uiobsEiEGDLspoeE",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:14:09\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTgxOA==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Dec, 06 2023 21:14:09.909675 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022gNSJjL0QuijtFNHi5l-rTLrCcOPKWbblwcQP10APeUM\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:14:09 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTgyMA==;sn=24451820"
      },
      "ResponseBody": {
        "etag": "gNSJjL0QuijtFNHi5l-rTLrCcOPKWbblwcQP10APeUM",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:14:09\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTgyMA==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Dec, 06 2023 21:14:09.932586 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022R8EncvJIK6yIB8aQdzqttQvQpqCfvH3vyfx-gnCHJEc\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:14:09 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTgyMg==;sn=24451822"
      },
      "ResponseBody": {
        "etag": "R8EncvJIK6yIB8aQdzqttQvQpqCfvH3vyfx-gnCHJEc",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:14:09\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTgyMg==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Dec, 06 2023 21:14:09.964409 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022gKXShjcoKxGhFvlTldudSncu65hgHExZH6CG_wFiNpQ\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:14:09 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTgyNA==;sn=24451824"
      },
      "ResponseBody": {
        "etag": "gKXShjcoKxGhFvlTldudSncu65hgHExZH6CG_wFiNpQ",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:14:09\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTgyNA==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Dec, 06 2023 21:14:09.996222 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00225CZgKRxM6L1vRg_robOedrtjicOeREA4piOoewV1M-M\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 21:14:09 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTgyNg==;sn=24451826"
      },
      "ResponseBody": {
        "etag": "5CZgKRxM6L1vRg_robOedrtjicOeREA4piOoewV1M-M",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T21:14:09\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTgyNg==",
        "x-ms-content-sha256": "ZaRQrMuiAkQC3e99M9p5A\u002BkYjaVFkJ3s6ObA2yC1LQI=",
        "x-ms-date": "Dec, 06 2023 21:14:10.033683 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTgyOA==",
        "x-ms-content-sha256": "GORL5\u002BRWXCSHKWOJcYQpPM03mZ4lvE/r5VQBfftpZRg=",
        "x-ms-date": "Dec, 06 2023 21:14:10.064991 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "co[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Dec, 06 2023 21:14:10.096685 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022XcLICbnPyngs0hO-5CgRx3UILLyT5sWRfeTOch11NqQ\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1MTgzMQ==;sn=24451831"
      },
      "ResponseBody": {
        "etag": "XcLICbnPyngs0hO-5CgRx3UILLyT5sWRfeTOch11NqQ",
        "items": [
          {
            "etag": "fQInG0n3CjOBSAP9DeH0sHha1Wt-lXBlG8OzpYTi1vc",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\u0022id\u0022: \u0022Alpha\u0022, \u0022enabled\u0022: true, \u0022conditions\u0022: {\u0022client_filters\u0022: []}}",
            "tags": {},
            "locked": false,
            "last_modified": "2023-12-06T21:14:0[...]
