{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022a3GcEZy0_AeUdOLu_wcOFJsA4p5CdhyI4i8EK3eZn7Y\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:00 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTQ5NA==;sn=26101494"
      },
      "ResponseBody": {
        "etag": "a3GcEZy0_AeUdOLu_wcOFJsA4p5CdhyI4i8EK3eZn7Y",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTQ5NA=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00221v0p_nHkVvlXnRpDV5Fm1W4FOiF5grinAaLKa2lJgAU\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:00 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTQ5Ng==;sn=26101496"
      },
      "ResponseBody": {
        "etag": "1v0p_nHkVvlXnRpDV5Fm1W4FOiF5grinAaLKa2lJgAU",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTQ5Ng=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022xk3F1Az770oJYK_cgbiJduohrN0OR6fHaDq1pqkfCIs\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:00 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTQ5OA==;sn=26101498"
      },
      "ResponseBody": {
        "etag": "xk3F1Az770oJYK_cgbiJduohrN0OR6fHaDq1pqkfCIs",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTQ5OA=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00226q-AkXOtYMZfV1kUReT5tvPnnf8sqZ8ntv10z1Hek8E\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:00 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTUwMA==;sn=26101500"
      },
      "ResponseBody": {
        "etag": "6q-AkXOtYMZfV1kUReT5tvPnnf8sqZ8ntv10z1Hek8E",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTUwMA=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022qoDu5Eetd3Rd9w8ACgFXEG8tbJJ7VqO0LweGXZk9L0g\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:00 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTUwMg==;sn=26101502"
      },
      "ResponseBody": {
        "etag": "qoDu5Eetd3Rd9w8ACgFXEG8tbJJ7VqO0LweGXZk9L0g",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTUwMg=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022DnXV0cb3ErphxGywN2hT2aQNwWx0yErKuM2him5azO8\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:01 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTUwNA==;sn=26101504"
      },
      "ResponseBody": {
        "etag": "DnXV0cb3ErphxGywN2hT2aQNwWx0yErKuM2him5azO8",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:01\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTUwNA=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTUwNg=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022hDp-ySTr3QI-vx_wVNrr5FMAh1bIB9XYJWQZTwbIKPs\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:24:01 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTUwOA==;sn=26101508"
      },
      "ResponseBody": {
        "etag": "hDp-ySTr3QI-vx_wVNrr5FMAh1bIB9XYJWQZTwbIKPs",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-09T20:24:01\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=message%2A\u0026label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022oEEUUBad3wVwzxcv_fAvjV8PIHmK1PC2bFthXESKe20\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjEwMTUwOQ==;sn=26101509"
      },
      "ResponseBody": {
        "etag": "oEEUUBad3wVwzxcv_fAvjV8PIHmK1PC2bFthXESKe20",
        "items": [
          {
            "etag": "1v0p_nHkVvlXnRpDV5Fm1W4FOiF5grinAaLKa2lJgAU",
            "key": "message",
            "label": "dev",
            "content_type": "text/plain",
            "value": "test",
            "tags": {},
            "locked": false,
            "last_modified": "2024-04-09T20:24:00\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
