{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022D8k62A_8X5BmSoHzWIjoaJsBNr26ceHENMqXMWjmeds\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:56:35 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI4OQ==;sn=25884289"
      },
      "ResponseBody": {
        "etag": "D8k62A_8X5BmSoHzWIjoaJsBNr26ceHENMqXMWjmeds",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:56:35\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI4OQ=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Ip28KtGo2I0dVfqVq5kBjssXzh3k21PVypi972wqRuo\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:56:35 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI5MQ==;sn=25884291"
      },
      "ResponseBody": {
        "etag": "Ip28KtGo2I0dVfqVq5kBjssXzh3k21PVypi972wqRuo",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:56:35\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI5MQ=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022BixI7xJH5wvg6-cLBBTVBCOSNOQSrQMNiqpsmk2n9eg\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:56:35 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI5Mw==;sn=25884293"
      },
      "ResponseBody": {
        "etag": "BixI7xJH5wvg6-cLBBTVBCOSNOQSrQMNiqpsmk2n9eg",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:56:35\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI5Mw=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00226xIbCQNNTW6GOLB3gX65XiPzZWehX-eSAf1zdIZavWc\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:56:35 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI5NQ==;sn=25884295"
      },
      "ResponseBody": {
        "etag": "6xIbCQNNTW6GOLB3gX65XiPzZWehX-eSAf1zdIZavWc",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:56:35\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI5NQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022XENfeKqDZXDh1tRxtXiIuKCiifQ9UrE_DTEOHbSepmM\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:56:35 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI5Nw==;sn=25884297"
      },
      "ResponseBody": {
        "etag": "XENfeKqDZXDh1tRxtXiIuKCiifQ9UrE_DTEOHbSepmM",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:56:35\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI5Nw=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022otcLRcM-3dkCyHS95WO9FsfEam8495-EZ-XTLvn155o\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:56:35 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI5OQ==;sn=25884299"
      },
      "ResponseBody": {
        "etag": "otcLRcM-3dkCyHS95WO9FsfEam8495-EZ-XTLvn155o",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:56:35\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDI5OQ=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDMwMQ=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022lXVQxkvuNWDDkF3s0zKcI96rGi28TlzAozAGdrrIQu4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:56:35 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDMwMw==;sn=25884303"
      },
      "ResponseBody": {
        "etag": "lXVQxkvuNWDDkF3s0zKcI96rGi28TlzAozAGdrrIQu4",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:56:35\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=message*\u0026label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022DFYy8Gs7CnypZtKQtPS1kD-VVuLMw0CHyp0T_V-sauQ\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDMwNA==;sn=25884304"
      },
      "ResponseBody": {
        "etag": "DFYy8Gs7CnypZtKQtPS1kD-VVuLMw0CHyp0T_V-sauQ",
        "items": [
          {
            "etag": "Ip28KtGo2I0dVfqVq5kBjssXzh3k21PVypi972wqRuo",
            "key": "message",
            "label": "dev",
            "content_type": "text/plain",
            "value": "test",
            "tags": {},
            "locked": false,
            "last_modified": "2024-03-27T18:56:35\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
