{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00221nnnC_m9sGynvI8JLbjLkiwx4XGyxAkKxH5F2JH5T0U\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:45 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYxNw==;sn=25090617"
      },
      "ResponseBody": {
        "etag": "1nnnC_m9sGynvI8JLbjLkiwx4XGyxAkKxH5F2JH5T0U",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:45\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYxNw=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00229MHnbcF-0gX5FkLrAYMHvtPpmq9nx3tDZErH5RPbw9k\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:45 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYxOQ==;sn=25090619"
      },
      "ResponseBody": {
        "etag": "9MHnbcF-0gX5FkLrAYMHvtPpmq9nx3tDZErH5RPbw9k",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:45\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYxOQ=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00222ds0-NxZnuS7fjWheUJ_qrCxzDUS_s3vmkxnm_sg4Vo\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:45 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYyMQ==;sn=25090621"
      },
      "ResponseBody": {
        "etag": "2ds0-NxZnuS7fjWheUJ_qrCxzDUS_s3vmkxnm_sg4Vo",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:45\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYyMQ=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ebVB8HwkmzuQi0_Pm9lzk_6QaY_-fGcyQGvbpYmEyG0\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:45 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYyMw==;sn=25090623"
      },
      "ResponseBody": {
        "etag": "ebVB8HwkmzuQi0_Pm9lzk_6QaY_-fGcyQGvbpYmEyG0",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:45\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYyMw=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00222vb7nUHw0v8YZnNyra9IVKaf2sMh7Hnf_rWiV38R57w\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:45 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYyNQ==;sn=25090625"
      },
      "ResponseBody": {
        "etag": "2vb7nUHw0v8YZnNyra9IVKaf2sMh7Hnf_rWiV38R57w",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:45\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYyNQ=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022_amB2RpSOb_DnZfZ4rx2amFAwmIF9I_JvkegOTLR2Mk\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:45 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYyNw==;sn=25090627"
      },
      "ResponseBody": {
        "etag": "_amB2RpSOb_DnZfZ4rx2amFAwmIF9I_JvkegOTLR2Mk",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:45\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYyNw=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYyOQ=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022e_HNc5pRaK4iAccRVUOIcTnVM0imerjXCBfUTaIH6sA\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:45 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYzMQ==;sn=25090631"
      },
      "ResponseBody": {
        "etag": "e_HNc5pRaK4iAccRVUOIcTnVM0imerjXCBfUTaIH6sA",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:45\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022vheHidNvrMEQmQyBMulX84pNFaelTAy8tg4MsQSPATI\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYzMg==;sn=25090632"
      },
      "ResponseBody": {
        "etag": "vheHidNvrMEQmQyBMulX84pNFaelTAy8tg4MsQSPATI",
        "items": [
          {
            "etag": "pCi8XtdgnUBpNa7yH2w_yrt1GAfFiwYLhdon1CnmHgA",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=.appconfig.featureflag/*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYzMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
   [...]
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYzMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00222vb7nUHw0v8YZnNyra9IVKaf2sMh7Hnf_rWiV38R57w\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:45 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYzMg==;sn=25090632"
      },
      "ResponseBody": {
        "etag": "2vb7nUHw0v8YZnNyra9IVKaf2sMh7Hnf_rWiV38R57w",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:45\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYzMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022pCi8XtdgnUBpNa7yH2w_yrt1GAfFiwYLhdon1CnmHgA\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:45 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYzMg==;sn=25090632"
      },
      "ResponseBody": {
        "etag": "pCi8XtdgnUBpNa7yH2w_yrt1GAfFiwYLhdon1CnmHgA",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:45\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Watch,UsesKeyVault",
        "If-None-Match": "\u00222vb7nUHw0v8YZnNyra9IVKaf2sMh7Hnf_rWiV38R57w\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYzNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ASM5fForETBjtP4CvFEjrmeIbwt5vnQtNAQOUBDsNDA\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:45 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDYzNg==;sn=25090636"
      },
      "ResponseBody": {
        "etag": "ASM5fForETBjtP4CvFEjrmeIbwt5vnQtNAQOUBDsNDA",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "updated value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:45\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDY0Mw=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "content_type": "text/plain",
        "value": "original value",
        "last_modified": "2024-02-13T00:32:45.000Z",
        "tags": {},
        "locked": false,
        "etag": "2vb7nUHw0v8YZnNyra9IVKaf2sMh7Hnf_rWiV38R57w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022iFtDCHXFXbo6P1t2TD320g05VqzNBOvP39IljSmCBpk\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:32:49 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDY0NQ==;sn=25090645"
      },
      "ResponseBody": {
        "etag": "iFtDCHXFXbo6P1t2TD320g05VqzNBOvP39IljSmCBpk",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:32:49\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
