{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:04.159806 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "value": "hi",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YCEKgVMs9LWxNdtoh0wTYb3W17kaKw2ujTUXBLL3QIE\"",
        "Last-Modified": "Tue, 09 Sep 2025 18:54:04 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-09T18:54:04+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/my_json?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:04.212659 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "value": "{\"key\": \"value\"}",
        "content_type": "application/json"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uQMdELpXT3JQknM_SdYRdNGmUY0q2cS9Itc89v_iehU\"",
        "Last-Modified": "Tue, 09 Sep 2025 18:54:04 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-09T18:54:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/test.trimmed?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:04.232944 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "value": "key",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3LNQ6lMAYNKE9FWP0o8NaoeXKEJAVphist9T9dccocA\"",
        "Last-Modified": "Tue, 09 Sep 2025 18:54:04 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-09T18:54:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:04.246943 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "value": "original value",
        "content_type": "text/plain"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "55"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:04.319957 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "value": "Static",
        "content_type": "text/plain"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "55"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/tagged_config?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:04.395708 GMT"
      },
      "RequestBody": {
        "key": "tagged_config",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "a": "b"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"CEnvsH8g6FaC6gJgXh_F3Zzwwcwf0tsLVQKhTP4l-sc\"",
        "Last-Modified": "Tue, 09 Sep 2025 18:54:04 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "tagged_config",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "a": "b"
        },
        "locked": false,
        "last_modified": "2025-09-09T18:54:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/two_tagged?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:04.408409 GMT"
      },
      "RequestBody": {
        "key": "two_tagged",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "a": "b",
          "second": "tag"
        }
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "55"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/only_second_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:04.484448 GMT"
      },
      "RequestBody": {
        "key": "only_second_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "second": "tag"
        }
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "55"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/complex_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:04.560962 GMT"
      },
      "RequestBody": {
        "key": "complex_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "Special:Tag": "Value:With:Colons",
          "Tag@With@At": "Value@With@At"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-m8laAa6AulLLFl8l1PUVtwapHZ6fQcAqv8ZMD769ho\"",
        "Last-Modified": "Tue, 09 Sep 2025 18:54:04 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "complex_tag",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "Special:Tag": "Value:With:Colons",
          "Tag@With@At": "Value@With@At"
        },
        "locked": false,
        "last_modified": "2025-09-09T18:54:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:04.573661 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "55"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FTaggedFeatureFlag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:04.648477 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/TaggedFeatureFlag",
        "label": "\u0000",
        "value": "{\t\"id\": \"TaggedFeatureFlag\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {
          "a": "b"
        }
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "55"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/multi_tagged?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:04.720371 GMT"
      },
      "RequestBody": {
        "key": "multi_tagged",
        "label": "\u0000",
        "value": "multi tagged value",
        "content_type": "text/plain",
        "tags": {
          "a": "b",
          "c": "d"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yxeurrzd87AKTP8HHZ45og6gmLjF-dFl0wS9A_oSn-M\"",
        "Last-Modified": "Tue, 09 Sep 2025 18:54:04 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "multi_tagged",
        "label": null,
        "content_type": "text/plain",
        "value": "multi tagged value",
        "tags": {
          "a": "b",
          "c": "d"
        },
        "locked": false,
        "last_modified": "2025-09-09T18:54:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/special_chars?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:04.734657 GMT"
      },
      "RequestBody": {
        "key": "special_chars",
        "label": "\u0000",
        "value": "special",
        "content_type": "text/plain",
        "tags": {
          "special@tag": "special:value"
        }
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "55"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/no_tags?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:04.810253 GMT"
      },
      "RequestBody": {
        "key": "no_tags",
        "label": "\u0000",
        "value": "no tags",
        "content_type": "text/plain"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "55"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/tag_no_value?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:04.882426 GMT"
      },
      "RequestBody": {
        "key": "tag_no_value",
        "label": "\u0000",
        "value": "no value",
        "content_type": "text/plain",
        "tags": {
          "a": ""
        }
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "55"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/different_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:04.958200 GMT"
      },
      "RequestBody": {
        "key": "different_tag",
        "label": "\u0000",
        "value": "different",
        "content_type": "text/plain",
        "tags": {
          "different": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6XuUO5j1qN-IN1AIBZpWr-M8kRPYZRB4sUd7m_32l4M\"",
        "Last-Modified": "Tue, 09 Sep 2025 18:54:05 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "different_tag",
        "label": null,
        "content_type": "text/plain",
        "value": "different",
        "tags": {
          "different": "tag"
        },
        "locked": false,
        "last_modified": "2025-09-09T18:54:05+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/null_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:04.972655 GMT"
      },
      "RequestBody": {
        "key": "null_tag",
        "label": "\u0000",
        "value": "null tag",
        "content_type": "text/plain",
        "tags": {
          "tag": null
        }
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "55"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/secret?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:05.044629 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "value": "{\"uri\":\"https://Sanitized.vault.azure.net/secrets/fake-secret/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "55"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:05.126689 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\""
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sep, 09 2025 18:54:06.196797 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\""
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": []
      }
    }
  ],
  "Variables": {}
}
