{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/watch%20key?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "watch key",
        "value": "0",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0YtkRBD1oNPF9SPEQbdIHLKu030_3BDYRcJmcQyJnjA\"",
        "Last-Modified": "Tue, 07 Apr 2026 21:48:07 GMT",
        "x-ms-date": "Tue, 07 Apr 2026 21:48:07 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "watch key",
        "label": null,
        "content_type": null,
        "value": "0",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-07T21:48:07+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"NeTfTZnY_eVm1ODxtybMX7cYezhbkRwSnYhLdw_LRhY\"",
        "x-ms-date": "Tue, 07 Apr 2026 21:48:10 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-04-07T21:44:47+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/RegularFeature",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"RegularFeature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"descripti[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KACzeq3VevZGNa4BpTzekMStxpATbWeNxp9OIqMFqaw\"",
        "Last-Modified": "Tue, 07 Apr 2026 21:48:05 GMT",
        "x-ms-date": "Tue, 07 Apr 2026 21:48:10 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-07T21:48:05+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/watch%20key?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"0YtkRBD1oNPF9SPEQbdIHLKu030_3BDYRcJmcQyJnjA\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Tue, 07 Apr 2026 21:48:11 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"DnTG6rJJxPTb9KFHsBcFt0OzVLggk9mWZTxOhBzFwZ0\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Tue, 07 Apr 2026 21:48:11 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FRegularFeature?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"f6ljC8I8eLOSH4_usRt6mw1QQ_9QbHAFJP2KVER54f0\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Tue, 07 Apr 2026 21:48:11 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FRegularFeatureDisabled?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"e6r1eZAjA1uHC1YUptr_TnUJqIhYWoci5yhss8Hkso4\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Tue, 07 Apr 2026 21:48:11 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FSnapshotFeature?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"cJpG07ZvNweF8wCnWZfH7b7VSwkm-3HRPgojRCN2BYs\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Tue, 07 Apr 2026 21:48:11 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FSnapshotFeatureDisabled?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"QnBk54VqpNpkt7n_1MY7_6ICSOZEhDfWuumqMNvE1R8\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Tue, 07 Apr 2026 21:48:11 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FSnapshotOnlyFeature?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"EZ11rQkZ-xERlnm6JzNA2NJcg46ov_5NP8LZs8KxS_w\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Tue, 07 Apr 2026 21:48:11 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FTaggedFeatureFlag?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"LNgWBo5tZJSMDYDaiLATwfGoNHO0w9wOLwv94GcvkjE\""
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-date": "Tue, 07 Apr 2026 21:48:11 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/watch%20key?api-version=1970-01-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lWzRNjbkRKj2MHfcF004VS3wR1VDBgGcX1MbHjK1J3U\"",
        "Last-Modified": "Tue, 07 Apr 2026 21:48:11 GMT",
        "x-ms-date": "Tue, 07 Apr 2026 21:48:12 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "watch key",
        "label": null,
        "content_type": null,
        "value": "1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-04-07T21:48:11+00:00"
      }
    }
  ],
  "Variables": {}
}
