{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Mar, 27 2024 18:58:53.919681 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022my9TAw7WiBl4y7hyjRBnSNkcU47qh0LXAlMi0_Hh72s\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:54 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDc0OA==;sn=25884748"
      },
      "ResponseBody": {
        "etag": "my9TAw7WiBl4y7hyjRBnSNkcU47qh0LXAlMi0_Hh72s",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:54\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDc0OA==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Mar, 27 2024 18:58:54.285569 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ir4O3Ml2XyUv9rw1C3MImYrBwN5K3T1yg38SdRa1jP4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:54 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDc1MA==;sn=25884750"
      },
      "ResponseBody": {
        "etag": "ir4O3Ml2XyUv9rw1C3MImYrBwN5K3T1yg38SdRa1jP4",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:54\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDc1MA==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Mar, 27 2024 18:58:54.300701 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00222RLs79F8RYOvtKZSYsUZFKDHJ4Opyk-XIUHOowQnQSk\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:54 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDc1Mg==;sn=25884752"
      },
      "ResponseBody": {
        "etag": "2RLs79F8RYOvtKZSYsUZFKDHJ4Opyk-XIUHOowQnQSk",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:54\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDc1Mg==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Mar, 27 2024 18:58:54.315717 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022TkfJ_SCJ2bBPe32Zacg1SK2y9cTWYa6TGKuxBLtVyKo\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:54 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDc1NA==;sn=25884754"
      },
      "ResponseBody": {
        "etag": "TkfJ_SCJ2bBPe32Zacg1SK2y9cTWYa6TGKuxBLtVyKo",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:54\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDc1NA==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Mar, 27 2024 18:58:54.330728 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022QMFBdYyJ3MzaqIiMi3knyi_qsEYS8G17getI6GZBnSE\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:54 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDc1Ng==;sn=25884756"
      },
      "ResponseBody": {
        "etag": "QMFBdYyJ3MzaqIiMi3knyi_qsEYS8G17getI6GZBnSE",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:54\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDc1Ng==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Mar, 27 2024 18:58:54.345730 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022onjCAFI8NTUlbMWA9td5J5ds9mSLE4bzsdGjOytf00A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 18:58:54 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDc1OA==;sn=25884758"
      },
      "ResponseBody": {
        "etag": "onjCAFI8NTUlbMWA9td5J5ds9mSLE4bzsdGjOytf00A",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-27T18:58:54\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDc1OA==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Mar, 27 2024 18:58:54.361870 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDc2MA==",
        "x-ms-content-sha256": "GORL5\u002BRWXCSHKWOJcYQpPM03mZ4lvE/r5VQBfftpZRg=",
        "x-ms-date": "Mar, 27 2024 18:58:54.377901 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "co[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mar, 27 2024 18:58:54.392891 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u00220E3-3OF3jiW0vxRNarPA8IiTYJuJ_n5zg7llxtcaSI4\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTg4NDc2Mw==;sn=25884763"
      },
      "ResponseBody": {
        "etag": "0E3-3OF3jiW0vxRNarPA8IiTYJuJ_n5zg7llxtcaSI4",
        "items": [
          {
            "etag": "kyxCzhBP0mziKGCZ8cBoKnE3osmUiqUdTGLpipzliXs",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
