{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022WmPeuCYl7X3Ngpeun5d4moywVJbwM8iBDHu6u67P_jw\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYwMQ==;sn=25053601"
      },
      "ResponseBody": {
        "etag": "WmPeuCYl7X3Ngpeun5d4moywVJbwM8iBDHu6u67P_jw",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:27\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYwMQ=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00228IpDk4gasdCOIhWAXE-nlBoP-3A1L4XLqmY1lB6aQvg\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYwMw==;sn=25053603"
      },
      "ResponseBody": {
        "etag": "8IpDk4gasdCOIhWAXE-nlBoP-3A1L4XLqmY1lB6aQvg",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:27\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYwMw=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022PcTo7W0GcR1ZT4oKOSslsQxJEyB7jm0ckV1uQUx3M8I\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYwNQ==;sn=25053605"
      },
      "ResponseBody": {
        "etag": "PcTo7W0GcR1ZT4oKOSslsQxJEyB7jm0ckV1uQUx3M8I",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:27\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYwNQ=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022bJubsTndUdrGPBUtFTsgMI7LJCF9n4d5uuhHGC0xv_s\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYwNw==;sn=25053607"
      },
      "ResponseBody": {
        "etag": "bJubsTndUdrGPBUtFTsgMI7LJCF9n4d5uuhHGC0xv_s",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:27\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYwNw=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022rvlSdmLPbR8UTqLpIKf41MEmhZyaVE5xXMQPNHOeePk\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYwOQ==;sn=25053609"
      },
      "ResponseBody": {
        "etag": "rvlSdmLPbR8UTqLpIKf41MEmhZyaVE5xXMQPNHOeePk",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:27\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYwOQ=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022t25GBXFGo41DCG3LeK6OmhCcm4zuGx33gVsamfOah0A\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYxMQ==;sn=25053611"
      },
      "ResponseBody": {
        "etag": "t25GBXFGo41DCG3LeK6OmhCcm4zuGx33gVsamfOah0A",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:27\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYxMQ=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYxMw=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022m90R68ROzTidHrgEkCIjySDAxThg7UvJxBQ0vvbYsI0\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 23:25:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYxNQ==;sn=25053615"
      },
      "ResponseBody": {
        "etag": "m90R68ROzTidHrgEkCIjySDAxThg7UvJxBQ0vvbYsI0",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-08T23:25:27\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=message*\u0026label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022BkdBIps_ycZOlsNThxPWRh_SyOxUw7QRULurwSs8Xvs\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA1MzYxNg==;sn=25053616"
      },
      "ResponseBody": {
        "etag": "BkdBIps_ycZOlsNThxPWRh_SyOxUw7QRULurwSs8Xvs",
        "items": [
          {
            "etag": "8IpDk4gasdCOIhWAXE-nlBoP-3A1L4XLqmY1lB6aQvg",
            "key": "message",
            "label": "dev",
            "content_type": "text/plain",
            "value": "test",
            "tags": {},
            "locked": false,
            "last_modified": "2024-02-08T23:25:27\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
