{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6DMTxpVNqqOlG3bg8Cs7u8SdATwXpQv0hAZlfGViheE\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ3NQ==;sn=26766475"
      },
      "ResponseBody": {
        "etag": "6DMTxpVNqqOlG3bg8Cs7u8SdATwXpQv0hAZlfGViheE",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:24+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ3NQ=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tjyweUYh1JyAzqG6UImCEdyCjNEIPKzwHl4fTVIWRiQ\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ3Nw==;sn=26766477"
      },
      "ResponseBody": {
        "etag": "tjyweUYh1JyAzqG6UImCEdyCjNEIPKzwHl4fTVIWRiQ",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:24+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ3Nw=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qP0SojBVn3uW1ZDrNIJc-NiQaljhjfOEivjSdvc5now\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ3OQ==;sn=26766479"
      },
      "ResponseBody": {
        "etag": "qP0SojBVn3uW1ZDrNIJc-NiQaljhjfOEivjSdvc5now",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:24+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ3OQ=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4ba0Z4I0RdSh2yLkIiEXkiMTgFQ8FSUKlhfPSIQ3Nzk\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ4MQ==;sn=26766481"
      },
      "ResponseBody": {
        "etag": "4ba0Z4I0RdSh2yLkIiEXkiMTgFQ8FSUKlhfPSIQ3Nzk",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:24+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ4MQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"T4zuugSeWrjnTclUf4ZHgJSUnM2GThNJSNdXCsimIxE\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ4Mw==;sn=26766483"
      },
      "ResponseBody": {
        "etag": "T4zuugSeWrjnTclUf4ZHgJSUnM2GThNJSNdXCsimIxE",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:24+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ4Mw=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lEvn7EgKTL7LH-ygMvcmDtumdd_7VSGmYyEXC_rnH8g\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ4NQ==;sn=26766485"
      },
      "ResponseBody": {
        "etag": "lEvn7EgKTL7LH-ygMvcmDtumdd_7VSGmYyEXC_rnH8g",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:24+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ4NQ=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"x-Q_5n2U5XPhsFm0SniyjbHH_JUuNaczFotNeY7oBHs\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ4Nw==;sn=26766487"
      },
      "ResponseBody": {
        "etag": "x-Q_5n2U5XPhsFm0SniyjbHH_JUuNaczFotNeY7oBHs",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:24+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ4Nw=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aLafYdAOVtGQZ3u_RSmT5shsyf7oLB8rGTANZTIs_wk\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ4OQ==;sn=26766489"
      },
      "ResponseBody": {
        "etag": "aLafYdAOVtGQZ3u_RSmT5shsyf7oLB8rGTANZTIs_wk",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://fake-keyvault.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:24+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*&label=%00&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"3jzHSgzI6hPJc_MzvAP3S1yvP2GSbfK2bf3W79DyiHU\"",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ5MA==;sn=26766490"
      },
      "ResponseBody": {
        "etag": "3jzHSgzI6hPJc_MzvAP3S1yvP2GSbfK2bf3W79DyiHU",
        "items": [
          {
            "etag": "x-Q_5n2U5XPhsFm0SniyjbHH_JUuNaczFotNeY7oBHs",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-09T17:23:24+00:00"
          },
          {
            "etag": "PlPYSsUfZgksGtMMBgIivVtmtedSwm8UEh5O8cUy0-s",
            "key": ".appconfig.featureflag/Beta",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"Beta\", \"enabled\": false, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-08T22:31:41+00:00"
          },
          {
            "etag": "t-XQPGxDAlMzANUC2_g2z6P6aj2gKZe5ZEmxhW7hG20",
            "key": ".appconfig.featureflag/Delta",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Delta\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Mon, 01 Jan 2024 08:00:00 GMT\",\"End\":\"Sat, 10 Feb 2024 08:00:00 GMT\"}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:42:43+00:00"
          },
          {
            "etag": "3vOPBuZOhW0hZDHaSCZd8Oo_UdbViByiruQ7djGymLM",
            "key": ".appconfig.featureflag/Epsilon",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Epsilon\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 24 Jan 2024 08:00:00 GMT\"}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:44:45+00:00"
          },
          {
            "etag": "dgInk3wh4ZCIJkZ8czM1vXjcyZQnVRTPYh4p86PY6tY",
            "key": ".appconfig.featureflag/Gamma",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Gamma\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Sample.Random\",\"parameters\":{\"Value\":50}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:41:44+00:00"
          },
          {
            "etag": "qBB2gyVlWA0lMISTqbbbkrE7SoRes2riPLC1sLy-SIw",
            "key": ".appconfig.featureflag/Sigma",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Sigma\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Mon, 01 Jan 2024 08:00:00 GMT\",\"End\":\"Tue, 23 Jan 2024 08:00:00 GMT\"}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:44:18+00:00"
          },
          {
            "etag": "naTMO7Mrznv0Kn85tw1ItuOFbHARU67hlR1xkgutmP4",
            "key": ".appconfig.featureflag/Target",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Target\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[\"Adam\"],\"Groups\":[{\"Name\":\"Stage1\",\"RolloutPercentage\":50}],\"DefaultRolloutPercentage\":50}}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-01-23T18:46:00+00:00"
          },
          {
            "etag": "1Nx-kGIrKPvdZDtDjLNUEnDFS1niWjG9mwOllGF_iTU",
            "key": ".appconfig.featureflag/TelemetryFlag",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"TelemetryFlag\",\"enabled\":true,\"variants\":[{\"name\":\"Off\",\"configuration_value\":\"Off\"},{\"name\":\"On\",\"configuration_value\":\"On\"}],\"allocation\":{\"percentile\":[{\"variant\":\"Off\",\"from\":0,\"to\":50},{\"variant\":\"On\",\"from\":50,\"to\":100}],\"default_when_enabled\":\"Off\",\"default_when_disabled\":\"Off\"},\"telemetry\":{\"enabled\":true}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-04-04T21:03:07+00:00"
          },
          {
            "etag": "Pqpa-sqEC-DLkw9yJPO-q0mdjhIXfDYcyE8s4-nLpHM",
            "key": ".appconfig.featureflag/Zeta",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"Zeta\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=.appconfig.featureflag/*&label=%00&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ5MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\[...]
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ5MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"T4zuugSeWrjnTclUf4ZHgJSUnM2GThNJSNdXCsimIxE\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ5MA==;sn=26766490"
      },
      "ResponseBody": {
        "etag": "T4zuugSeWrjnTclUf4ZHgJSUnM2GThNJSNdXCsimIxE",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:24+00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ5MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"x-Q_5n2U5XPhsFm0SniyjbHH_JUuNaczFotNeY7oBHs\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:24 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ5MA==;sn=26766490"
      },
      "ResponseBody": {
        "etag": "x-Q_5n2U5XPhsFm0SniyjbHH_JUuNaczFotNeY7oBHs",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:24+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Watch,Filters=CSTM+TIME+TRGT,FMPyVer=1.0.0b1,UsesKeyVault",
        "If-None-Match": "\"T4zuugSeWrjnTclUf4ZHgJSUnM2GThNJSNdXCsimIxE\"",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ5Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"G1pIJWf8ol6IIiFoZQe-EhvnzQUKHhENlBxRtW9RyKs\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:25 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjQ5NA==;sn=26766494"
      },
      "ResponseBody": {
        "etag": "G1pIJWf8ol6IIiFoZQe-EhvnzQUKHhENlBxRtW9RyKs",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "updated value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:25+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjUwMQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "content_type": "text/plain",
        "value": "original value",
        "last_modified": "2024-05-09T17:23:24.000Z",
        "tags": {},
        "locked": false,
        "etag": "T4zuugSeWrjnTclUf4ZHgJSUnM2GThNJSNdXCsimIxE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pFABCTmnl84hqlRuFn4jnYcahZLBMh4jRr_6qDojvNE\"",
        "Last-Modified": "Thu, 09 May 2024 17:23:29 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNjc2NjUwMw==;sn=26766503"
      },
      "ResponseBody": {
        "etag": "pFABCTmnl84hqlRuFn4jnYcahZLBMh4jRr_6qDojvNE",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-09T17:23:29+00:00"
      }
    }
  ],
  "Variables": {}
}
