{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Mar, 28 2024 18:59:32.423442 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022SiN-2nbxO7oVT5u2tsMZ9pUcZdyCmocwX64ATEH_dFM\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:32 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzA1OA==;sn=25903058"
      },
      "ResponseBody": {
        "etag": "SiN-2nbxO7oVT5u2tsMZ9pUcZdyCmocwX64ATEH_dFM",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:32\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzA1OA==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Mar, 28 2024 18:59:32.439535 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u002207NFtY7vYKzmjSP7D0Ncx3E4zI1NcAtxUpmt2VG9vj4\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:32 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzA2MA==;sn=25903060"
      },
      "ResponseBody": {
        "etag": "07NFtY7vYKzmjSP7D0Ncx3E4zI1NcAtxUpmt2VG9vj4",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:32\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzA2MA==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Mar, 28 2024 18:59:32.455190 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022H3nm2g5pk0_Z0ChJ-zGH6oeoHqS4uLmNCJ7RSzJdf4E\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:32 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzA2Mg==;sn=25903062"
      },
      "ResponseBody": {
        "etag": "H3nm2g5pk0_Z0ChJ-zGH6oeoHqS4uLmNCJ7RSzJdf4E",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:32\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzA2Mg==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Mar, 28 2024 18:59:32.471292 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00226F4gU2g7MGFuxvLk3ERjIP5NMDnPj4H3CKT9iReehJA\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:32 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzA2NA==;sn=25903064"
      },
      "ResponseBody": {
        "etag": "6F4gU2g7MGFuxvLk3ERjIP5NMDnPj4H3CKT9iReehJA",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:32\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzA2NA==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Mar, 28 2024 18:59:32.486957 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022W0L5FZ3UvSCQaPOI8ndkIQ_7lWWdZAhCQBZJsPlSaf8\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:32 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzA2Ng==;sn=25903066"
      },
      "ResponseBody": {
        "etag": "W0L5FZ3UvSCQaPOI8ndkIQ_7lWWdZAhCQBZJsPlSaf8",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:32\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzA2Ng==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Mar, 28 2024 18:59:32.503051 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022WAG-rCwyvmDn5WMWItbhNmw4QIOgex-hgRi4FuNOv5A\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 18:59:32 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzA2OA==;sn=25903068"
      },
      "ResponseBody": {
        "etag": "WAG-rCwyvmDn5WMWItbhNmw4QIOgex-hgRi4FuNOv5A",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-03-28T18:59:32\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzA2OA==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Mar, 28 2024 18:59:32.518705 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=.appconfig.featureflag/B*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mar, 28 2024 18:59:32.534806 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u00227vfx0RvuZltttQiW8aIJ7DKyAk8W2sR_HtgqoIEckyA\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTkwMzA3MQ==;sn=25903071"
      },
      "ResponseBody": {
        "etag": "7vfx0RvuZltttQiW8aIJ7DKyAk8W2sR_HtgqoIEckyA",
        "items": [
          {
            "etag": "KCikYCPPOL02TDn3_41XqGWFeWH8Uih5cYa7LznkGmg",
            "key": ".appconfig.featureflag/Beta",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\u0022id\u0022: \u0022Beta\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\u0022client_filters\u0022: []}, \u0022display_name\u0022: null, \u0022description\u0022: null}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-03-25T19:21:53\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
