{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022mVdx6O8x3WeK3sGKgzhzy6MGoQ8tCHE-IxZd2rK4LPk\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ3OQ==;sn=24188479"
      },
      "ResponseBody": {
        "etag": "mVdx6O8x3WeK3sGKgzhzy6MGoQ8tCHE-IxZd2rK4LPk",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ3OQ=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022_d3VtvNSiHtkjgPxq65Z9VkuOxvbYp6jhNkvTqwKiWU\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ4MQ==;sn=24188481"
      },
      "ResponseBody": {
        "etag": "_d3VtvNSiHtkjgPxq65Z9VkuOxvbYp6jhNkvTqwKiWU",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ4MQ=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00225LSpA0Sx5Pw1kcv-wGCeNDJ-XMbxnq7Y292uL1Xycv0\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ4Mw==;sn=24188483"
      },
      "ResponseBody": {
        "etag": "5LSpA0Sx5Pw1kcv-wGCeNDJ-XMbxnq7Y292uL1Xycv0",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ4Mw=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022wTuGaK7f916MvW_Ryy6mABtZWlKR01SExl4dLjFVV2E\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ4NQ==;sn=24188485"
      },
      "ResponseBody": {
        "etag": "wTuGaK7f916MvW_Ryy6mABtZWlKR01SExl4dLjFVV2E",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ4NQ=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022AgYZGATENri_oCspHLvhnXhhkNKIieChBqellRnNNeA\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ4Nw==;sn=24188487"
      },
      "ResponseBody": {
        "etag": "AgYZGATENri_oCspHLvhnXhhkNKIieChBqellRnNNeA",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ4Nw=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00221N_oeE1A8yCduw9GNKbYUrulPHd004ENqiKpd_TyPn8\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ4OQ==;sn=24188489"
      },
      "ResponseBody": {
        "etag": "1N_oeE1A8yCduw9GNKbYUrulPHd004ENqiKpd_TyPn8",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ4OQ=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ5MQ=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022U0oQ0b1VNW5aSkVbCCdcsEz5c2-31LLCtlxgLGKzN0I\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ5Mw==;sn=24188493"
      },
      "ResponseBody": {
        "etag": "U0oQ0b1VNW5aSkVbCCdcsEz5c2-31LLCtlxgLGKzN0I",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:42\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ5NA==;sn=24188494"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "qYbeWw1pfUJzMxLPcf_QYLv0ahGbeK8D33kX2THjokw",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ5NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022AgYZGATENri_oCspHLvhnXhhkNKIieChBqellRnNNeA\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ5NA==;sn=24188494"
      },
      "ResponseBody": {
        "etag": "AgYZGATENri_oCspHLvhnXhhkNKIieChBqellRnNNeA",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:42\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ5NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00221N_oeE1A8yCduw9GNKbYUrulPHd004ENqiKpd_TyPn8\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:42 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ5Ng==;sn=24188496"
      },
      "ResponseBody": {
        "etag": "1N_oeE1A8yCduw9GNKbYUrulPHd004ENqiKpd_TyPn8",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:42\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODQ5OQ=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "content_type": "text/plain",
        "value": "Static",
        "last_modified": "2023-11-07T23:50:42.000Z",
        "tags": {},
        "locked": false,
        "etag": "1N_oeE1A8yCduw9GNKbYUrulPHd004ENqiKpd_TyPn8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022e2whdhrnfc4NoLlEhdrB0xYVvAM0o2BKsftEVD5bqvg\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:45 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODUwMQ==;sn=24188501"
      },
      "ResponseBody": {
        "etag": "e2whdhrnfc4NoLlEhdrB0xYVvAM0o2BKsftEVD5bqvg",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:45\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
