{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Feb, 13 2024 00:32:59.677668 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ludP2xEh8mvwtqef17ZIJugOgIO8cFazb9HeXiA4NK8\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:33:00 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDY3OQ==;sn=25090679"
      },
      "ResponseBody": {
        "etag": "ludP2xEh8mvwtqef17ZIJugOgIO8cFazb9HeXiA4NK8",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:33:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDY3OQ==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Feb, 13 2024 00:33:00.054585 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022qrqbdJwvflBbMjxwjV9Rgj5ej2jY1GN71svU8EHxfQY\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:33:00 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDY4MQ==;sn=25090681"
      },
      "ResponseBody": {
        "etag": "qrqbdJwvflBbMjxwjV9Rgj5ej2jY1GN71svU8EHxfQY",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:33:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDY4MQ==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Feb, 13 2024 00:33:00.068352 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022LhKoMohNpgv8flU4xLo189UeD9N8Bsr4soiW3iQ4ENE\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:33:00 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDY4Mw==;sn=25090683"
      },
      "ResponseBody": {
        "etag": "LhKoMohNpgv8flU4xLo189UeD9N8Bsr4soiW3iQ4ENE",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:33:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDY4Mw==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Feb, 13 2024 00:33:00.082378 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022FyL63-0DdenMW7-xDXLPo5dFNM6QKyPln4fnKdFLJBY\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:33:00 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDY4NQ==;sn=25090685"
      },
      "ResponseBody": {
        "etag": "FyL63-0DdenMW7-xDXLPo5dFNM6QKyPln4fnKdFLJBY",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:33:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDY4NQ==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Feb, 13 2024 00:33:00.098931 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022kdCAEm-v5uBBZq9hURAG4F65VUSIaBYOYawF4tU61hg\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:33:00 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDY4Nw==;sn=25090687"
      },
      "ResponseBody": {
        "etag": "kdCAEm-v5uBBZq9hURAG4F65VUSIaBYOYawF4tU61hg",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:33:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDY4Nw==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Feb, 13 2024 00:33:00.119006 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022rINRw4KUWSzxAj1yOmeGR5zhkpp9FfAcBI6RfyIacXE\u0022",
        "Last-Modified": "Tue, 13 Feb 2024 00:33:00 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDY4OQ==;sn=25090689"
      },
      "ResponseBody": {
        "etag": "rINRw4KUWSzxAj1yOmeGR5zhkpp9FfAcBI6RfyIacXE",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2024-02-13T00:33:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDY4OQ==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Feb, 13 2024 00:33:00.142837 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDY5MQ==",
        "x-ms-content-sha256": "GORL5\u002BRWXCSHKWOJcYQpPM03mZ4lvE/r5VQBfftpZRg=",
        "x-ms-date": "Feb, 13 2024 00:33:00.159611 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "co[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=message%2A\u0026label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Feb, 13 2024 00:33:00.174637 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022xroENNsvzLxiHYOC7yuSTEPOuKogXTobbpu6tz7kPwk\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNTA5MDY5NA==;sn=25090694"
      },
      "ResponseBody": {
        "etag": "xroENNsvzLxiHYOC7yuSTEPOuKogXTobbpu6tz7kPwk",
        "items": [
          {
            "etag": "qrqbdJwvflBbMjxwjV9Rgj5ej2jY1GN71svU8EHxfQY",
            "key": "message",
            "label": "dev",
            "content_type": "text/plain",
            "value": "test",
            "tags": {},
            "locked": false,
            "last_modified": "2024-02-13T00:33:00\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
