{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Sep, 12 2023 22:34:53.465475 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022yjJPuSRUEt3ardHTvWTGjrEiPFheO9noRpB-E70Wz_c\u0022",
        "Last-Modified": "Tue, 12 Sep 2023 22:34:53 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA2MTMz;sn=19506133"
      },
      "ResponseBody": {
        "etag": "yjJPuSRUEt3ardHTvWTGjrEiPFheO9noRpB-E70Wz_c",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-12T22:34:53\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA2MTMz",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Sep, 12 2023 22:34:53.533707 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Hf-rVI9328JpYgbp1xJkuFdetxIEbyjLRIxedymT-pI\u0022",
        "Last-Modified": "Tue, 12 Sep 2023 22:34:53 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA2MTM1;sn=19506135"
      },
      "ResponseBody": {
        "etag": "Hf-rVI9328JpYgbp1xJkuFdetxIEbyjLRIxedymT-pI",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-12T22:34:53\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA2MTM1",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Sep, 12 2023 22:34:53.625784 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MElbYXdA1IZAZpbudPmeCYSyoUKE-WGUefyQuhqQGWA\u0022",
        "Last-Modified": "Tue, 12 Sep 2023 22:34:53 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA2MTM3;sn=19506137"
      },
      "ResponseBody": {
        "etag": "MElbYXdA1IZAZpbudPmeCYSyoUKE-WGUefyQuhqQGWA",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-12T22:34:53\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA2MTM3",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Sep, 12 2023 22:34:53.736255 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00221BPhacG7ya8_FhNvPlIkVOANwBMUlJoJoUK-EuvOKXk\u0022",
        "Last-Modified": "Tue, 12 Sep 2023 22:34:53 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA2MTM5;sn=19506139"
      },
      "ResponseBody": {
        "etag": "1BPhacG7ya8_FhNvPlIkVOANwBMUlJoJoUK-EuvOKXk",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-12T22:34:53\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA2MTM5",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Sep, 12 2023 22:34:53.793523 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Gi7gJ5KpCpQ8pLwGKn6pZyHqOlYhjqH__I1ZshTuqEI\u0022",
        "Last-Modified": "Tue, 12 Sep 2023 22:34:53 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA2MTQx;sn=19506141"
      },
      "ResponseBody": {
        "etag": "Gi7gJ5KpCpQ8pLwGKn6pZyHqOlYhjqH__I1ZshTuqEI",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-12T22:34:53\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA2MTQx",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Sep, 12 2023 22:34:53.850521 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022K5CHBPJUbEDtRn5xTYYcZ6NeWrwekaK38MuNh71oujk\u0022",
        "Last-Modified": "Tue, 12 Sep 2023 22:34:53 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA2MTQz;sn=19506143"
      },
      "ResponseBody": {
        "etag": "K5CHBPJUbEDtRn5xTYYcZ6NeWrwekaK38MuNh71oujk",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-12T22:34:53\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA2MTQz",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Sep, 12 2023 22:34:53.968652 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA2MTQ1",
        "x-ms-content-sha256": "NOovBYpiqLdbcyjalnw8H4\u002BA6OaIHWS0q5MNOx78VUQ=",
        "x-ms-date": "Sep, 12 2023 22:34:54.021552 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "conten[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Sep, 12 2023 22:34:54.099150 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzE5NTA2MTQ4;sn=19506148"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "eHDtVMZEnMoaPaUwPgmWE3V6Lp2fZdVQMVGLWKJx4yM",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
