{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Dec, 06 2023 23:22:16.213357 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022xvZ4UH9Km3dR4WCytlag7AVJ5W8bRKbBQ9uIYKALyDY\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:15 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDc2OQ==;sn=24454769"
      },
      "ResponseBody": {
        "etag": "xvZ4UH9Km3dR4WCytlag7AVJ5W8bRKbBQ9uIYKALyDY",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:15\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDc2OQ==",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Dec, 06 2023 23:22:16.268348 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022WmQVwzAKTqQGxNxTWNnDVNa7Z2Ytz3f1H52V6Q3wbP4\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:15 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDc3MQ==;sn=24454771"
      },
      "ResponseBody": {
        "etag": "WmQVwzAKTqQGxNxTWNnDVNa7Z2Ytz3f1H52V6Q3wbP4",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:15\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDc3MQ==",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Dec, 06 2023 23:22:16.292645 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Qn0FAN-GBDxN4em-58tRnaO15zsv3cImbdxRgT3_gco\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:15 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDc3Mw==;sn=24454773"
      },
      "ResponseBody": {
        "etag": "Qn0FAN-GBDxN4em-58tRnaO15zsv3cImbdxRgT3_gco",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:15\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDc3Mw==",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Dec, 06 2023 23:22:16.339541 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022QGSpsYA9qrFGPBulv9JolgqFXfXHW9GODMH4142ZNOU\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:15 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDc3NQ==;sn=24454775"
      },
      "ResponseBody": {
        "etag": "QGSpsYA9qrFGPBulv9JolgqFXfXHW9GODMH4142ZNOU",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:15\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDc3NQ==",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Dec, 06 2023 23:22:16.370331 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022j_2cyuHEJ4JfjIl0tg0csl5AP3U15jjOMWd9NXnIDOw\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:15 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDc3Nw==;sn=24454777"
      },
      "ResponseBody": {
        "etag": "j_2cyuHEJ4JfjIl0tg0csl5AP3U15jjOMWd9NXnIDOw",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:15\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDc3Nw==",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Dec, 06 2023 23:22:16.417585 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022zCnkqkhRtZsh8XAr2-VMz34pHaqrCf78yoL5I1XNpbw\u0022",
        "Last-Modified": "Wed, 06 Dec 2023 23:22:15 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDc3OQ==;sn=24454779"
      },
      "ResponseBody": {
        "etag": "zCnkqkhRtZsh8XAr2-VMz34pHaqrCf78yoL5I1XNpbw",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-12-06T23:22:15\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDc3OQ==",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Dec, 06 2023 23:22:16.450280 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alph[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Dec, 06 2023 23:22:16.482553 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022JeLejtuWC7ouXDdAU9X6NV-5nGqZ9s9Mle1JczpGpqs\u0022",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDQ1NDc4Mg==;sn=24454782"
      },
      "ResponseBody": {
        "etag": "JeLejtuWC7ouXDdAU9X6NV-5nGqZ9s9Mle1JczpGpqs",
        "items": [
          {
            "etag": "bdPkNhtzfF4DO3vpqCnWb2NlNDlB6kRcdqVS84nX-Dg",
            "key": "secret",
            "label": "prod",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
            "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
            "tags": {},
            "locked": false,
            "last_modified": "2023-12-06T23:22:15\u002B00:00"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
