{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot_test_key1?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:08.936948 GMT"
      },
      "RequestBody": {
        "key": "snapshot_test_key1",
        "label": "\u0000",
        "value": "snapshot_test_value1",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0PHIdf848GQ-XWutvRqnLIJ8TeYNznUHlsKONQ-7tOY\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:08 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:08 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "snapshot_test_key1",
        "label": null,
        "content_type": null,
        "value": "snapshot_test_value1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-03T22:44:08+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot_test_json?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:08.987887 GMT"
      },
      "RequestBody": {
        "key": "snapshot_test_json",
        "label": "\u0000",
        "value": "{\"nested\": \"snapshot_value\"}",
        "content_type": "application/json",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"N8kOF7vDbD4YdrFXk0kcLqOUIQV0IvMK9qRY-JbUC3Y\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:08 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:08 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "snapshot_test_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"nested\": \"snapshot_value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-03T22:44:08+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_test_key?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:09.003811 GMT"
      },
      "RequestBody": {
        "key": "refresh_test_key",
        "label": "\u0000",
        "value": "original_refresh_value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-G2Ql1dKfrMX7boViYpJ_cCkD5P8tAJLQv0NyJdOEOY\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:08 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:08 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_test_key",
        "label": null,
        "content_type": null,
        "value": "original_refresh_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-03T22:44:08+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FSnapshotFeature?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:09.019474 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/SnapshotFeature",
        "label": "\u0000",
        "value": "{\"id\": \"SnapshotFeature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IJFLKqeMRQ47NtLg-IfRpF1g7blVHeCxEsOlXQ6PssE\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:09 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:09 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/SnapshotFeature",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\": \"SnapshotFeature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-03T22:44:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FSnapshotFeatureDisabled?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:09.036277 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/SnapshotFeatureDisabled",
        "label": "\u0000",
        "value": "{\"id\": \"SnapshotFeatu[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/test-snapshot-1772577849?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:09.052119 GMT"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "snapshot_test_*"
          },
          {
            "key": ".appconfig.featureflag/SnapshotFeature*"
          }
        ],
        "composition_type": "key",
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"BSDRYPZjPvDIq0N7cXGg0a1WjMYzwZ4sL2I5TDM8pSQ\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:09 GMT",
        "Link": "</kv?snapshot=test-snapshot-1772577849&api-version=1970-01-01",
        "Operation-Location": "https://Sanitized.azconfig.io/operations?snapshot=test-snapshot-1772577849&api-version=1970-01-01",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:09 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "name": "Sanitized",
        "status": "provisioning",
        "filters": [
          {
            "key": "snapshot_test_*",
            "label": null,
            "tags": []
          },
          {
            "key": ".appconfig.featureflag/SnapshotFeature*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-03-03T22:44:09.0402275+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:09.074224 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:09 GMT"
      },
      "ResponseBody": {
        "id": "CqktDYO4LGrMLIDgO6eyApWmdvzn7mVdLOh3KjzQMDs",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.164683 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "value": "hi",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"u0dLR-Rn5M8GtnsNRCxpV0fsVVVk78eePKCfaq4dyqE\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:39 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-03T22:44:39+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/my_json?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.208619 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "value": "{\"key\": \"value\"}",
        "content_type": "application/json"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bAHORcndfZj17_cllXUUYR9uHYIH8xXeX52D-oQx-n0\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:39 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-03T22:44:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/test.trimmed?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.224351 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "value": "key",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BDhZOrb6XgcR_kS5cBrosWkR4W8ZCIL_vswkX17NuMY\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:39 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-03T22:44:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.238792 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "value": "original value",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7BA3uvpTXRwzc1-528FuOd_84ifQVVB6DxRyLGQz_Uo\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:39 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-03T22:44:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non_refreshed_message?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.253770 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "value": "Static",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6P4TvCCUSObgQyjprMlpL5MMCJ_s_XRWMdWXZWJrwHc\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:39 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-03T22:44:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/tagged_config?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.279588 GMT"
      },
      "RequestBody": {
        "key": "tagged_config",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "a": "b"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"69ZMo4cZLgriKG2-6ibeCxKq7xfVfyCXRzEB4FEkOG0\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:39 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "tagged_config",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "a": "b"
        },
        "locked": false,
        "last_modified": "2026-03-03T22:44:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/two_tagged?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.298797 GMT"
      },
      "RequestBody": {
        "key": "two_tagged",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "a": "b",
          "second": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KMefG43Sc-2mOzEMGn-ZEDhEvbfsrQfaFPWKPGNeFAo\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:39 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "two_tagged",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "a": "b",
          "second": "tag"
        },
        "locked": false,
        "last_modified": "2026-03-03T22:44:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/only_second_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.313221 GMT"
      },
      "RequestBody": {
        "key": "only_second_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "second": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9t8fRIhYpAR-nM4T_xuqG_tXGmtaWnjDoFR3sSduKXc\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:39 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "only_second_tag",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "second": "tag"
        },
        "locked": false,
        "last_modified": "2026-03-03T22:44:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/complex_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.328388 GMT"
      },
      "RequestBody": {
        "key": "complex_tag",
        "label": "\u0000",
        "content_type": "text/plain",
        "tags": {
          "Special:Tag": "Value:With:Colons",
          "Tag@With@At": "Value@With@At"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"beolxjv84XPQy3bF9xuEbXjMwyfPKY-Q4LtOg2MvK7Y\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:39 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "complex_tag",
        "label": null,
        "content_type": "text/plain",
        "value": null,
        "tags": {
          "Special:Tag": "Value:With:Colons",
          "Tag@With@At": "Value@With@At"
        },
        "locked": false,
        "last_modified": "2026-03-03T22:44:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.343384 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ysg9qOW6w4uWeShdQlBKSJRQBQnhNtyqUCTtRFw5Rio\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:39 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-03T22:44:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FTaggedFeatureFlag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.358140 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/TaggedFeatureFlag",
        "label": "\u0000",
        "value": "{\t\"id\": \"TaggedFeatureFlag\", \"[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/multi_tagged?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.373125 GMT"
      },
      "RequestBody": {
        "key": "multi_tagged",
        "label": "\u0000",
        "value": "multi tagged value",
        "content_type": "text/plain",
        "tags": {
          "a": "b",
          "c": "d"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FJzDS6yEGA8viCFZ9pycbomMUunvZ6MyaGzwD98Z6Fo\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:39 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "multi_tagged",
        "label": null,
        "content_type": "text/plain",
        "value": "multi tagged value",
        "tags": {
          "a": "b",
          "c": "d"
        },
        "locked": false,
        "last_modified": "2026-03-03T22:44:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/special_chars?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.389022 GMT"
      },
      "RequestBody": {
        "key": "special_chars",
        "label": "\u0000",
        "value": "special",
        "content_type": "text/plain",
        "tags": {
          "special@tag": "special:value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kOk0KmVbmMPddeL5xBikEoZ_Lb8wygG8Y82n_DwJV0o\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:39 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "special_chars",
        "label": null,
        "content_type": "text/plain",
        "value": "special",
        "tags": {
          "special@tag": "special:value"
        },
        "locked": false,
        "last_modified": "2026-03-03T22:44:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/no_tags?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.403626 GMT"
      },
      "RequestBody": {
        "key": "no_tags",
        "label": "\u0000",
        "value": "no tags",
        "content_type": "text/plain"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Mjoi4OYuJCk8ucryphx_guznOnJqFgPjUyNmRSvcFMo\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:39 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "no_tags",
        "label": null,
        "content_type": "text/plain",
        "value": "no tags",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-03T22:44:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/tag_no_value?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.419125 GMT"
      },
      "RequestBody": {
        "key": "tag_no_value",
        "label": "\u0000",
        "value": "no value",
        "content_type": "text/plain",
        "tags": {
          "a": ""
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vEPRyM50rN-dnzGMZF2fCKL-sA4zFKhNXIy28gwQOjk\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:39 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "tag_no_value",
        "label": null,
        "content_type": "text/plain",
        "value": "no value",
        "tags": {
          "a": ""
        },
        "locked": false,
        "last_modified": "2026-03-03T22:44:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/different_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.433954 GMT"
      },
      "RequestBody": {
        "key": "different_tag",
        "label": "\u0000",
        "value": "different",
        "content_type": "text/plain",
        "tags": {
          "different": "tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5oVZ3TAmkSL5ww9CQOPSTDFjZx08DtUUYHGTa0dQTgI\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:39 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "different_tag",
        "label": null,
        "content_type": "text/plain",
        "value": "different",
        "tags": {
          "different": "tag"
        },
        "locked": false,
        "last_modified": "2026-03-03T22:44:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/null_tag?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.448439 GMT"
      },
      "RequestBody": {
        "key": "null_tag",
        "label": "\u0000",
        "value": "null tag",
        "content_type": "text/plain",
        "tags": {
          "tag": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2eVkFRXKtIewYgnJ0LRbaf4NRuzCdJrZRJ6klEL25vg\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:39 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "null_tag",
        "label": null,
        "content_type": "text/plain",
        "value": "null tag",
        "tags": {
          "tag": null
        },
        "locked": false,
        "last_modified": "2026-03-03T22:44:39+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.496832 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"sWc660DUQwyNOCGZ8Mu6PUyfuU7ijSPHbnPVj3jmBcQ\"",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/SnapshotFeature",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"SnapshotFeature\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-03-03T22:44:09+00:00"
   [...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/new_key_added_after_load?api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:39.597323 GMT"
      },
      "RequestBody": {
        "key": "new_key_added_after_load",
        "label": "\u0000",
        "value": "new_value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6ikJLV2zoLsVvdAPpMSYCtMbxTP_DO1rp8bJ4U99u4s\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:39 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:39 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "new_key_added_after_load",
        "label": null,
        "content_type": null,
        "value": "new_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-03T22:44:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_test_key?api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-None-Match": "\"-G2Ql1dKfrMX7boViYpJ_cCkD5P8tAJLQv0NyJdOEOY\"",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mar, 03 2026 22:44:40.612021 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9To17R38XhbXuImxYe0aHKPIiJ3EByAIAV2DCwpEsbc\"",
        "Last-Modified": "Tue, 03 Mar 2026 22:44:39 GMT",
        "x-ms-date": "Tue, 03 Mar 2026 22:44:40 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_test_key",
        "label": null,
        "content_type": null,
        "value": "updated_refresh_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-03-03T22:44:39+00:00"
      }
    },
[...]
    {
[...]
