{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 15 2025 23:43:20.794717 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aY9WZcv73LOQarH3UVmFMCn9rzkrf1oH8XHvswHFPUk\"",
        "Last-Modified": "Wed, 15 Jan 2025 23:43:21 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2025-01-15T23:43:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/message?label=dev&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 15 2025 23:43:21.284106 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UBOAljuKG5a800rC3kpZ9BIrscU1gR_JgGioGxkmL3k\"",
        "Last-Modified": "Wed, 15 Jan 2025 23:43:21 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2025-01-15T23:43:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/my_json?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 15 2025 23:43:21.299120 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3XLk78v4GXj-D_GnC03gTmzxqB27v8Qpgtz0x3oYYZQ\"",
        "Last-Modified": "Wed, 15 Jan 2025 23:43:21 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\"key\": \"value\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-01-15T23:43:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/test.trimmed?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 15 2025 23:43:21.317177 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EZHoWEqpl5gxws44a307ewpX2Bak8hpBEW6XjBiyIUk\"",
        "Last-Modified": "Wed, 15 Jan 2025 23:43:21 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2025-01-15T23:43:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/refresh_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 15 2025 23:43:21.331180 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WawwmV_GtkzPFxL1aKDu7_4gqVnOQEwxlKdRp8znK9s\"",
        "Last-Modified": "Wed, 15 Jan 2025 23:43:21 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-01-15T23:43:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non_refreshed_message?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 15 2025 23:43:21.344853 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WNlDOqv1lewluO5DlcFUyndwo8JL_IuS0jP1nPh9Q5E\"",
        "Last-Modified": "Wed, 15 Jan 2025 23:43:21 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2025-01-15T23:43:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 15 2025 23:43:21.358865 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KfX3JlKYrumLQ-Dz_IkdgzrdoWnOsVsei4akDFM5cAM\"",
        "Last-Modified": "Wed, 15 Jan 2025 23:43:21 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": ".appconfig.featureflag/Alpha",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-01-15T23:43:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/secret?label=prod&api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 15 2025 23:43:21.374526 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://Sanitized.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OsoEofUo7ikDC-Qj_NxDJ3lmp-hJWFGacQX8APAxWIQ\"",
        "Last-Modified": "Wed, 15 Jan 2025 23:43:21 GMT"
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://Sanitized.vault.azure.net/secrets/fake-secret/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-01-15T23:43:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?key=%2A&label=%00&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 15 2025 23:43:21.419840 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"NWjzacaXzQmzq2e4t3Lg8yTVxU6ifqpl8WiaPk_zh9E\""
      },
      "ResponseBody": {
        "etag": "Sanitized",
        "items": [
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\t\"id\": \"Alpha\", \"description\": \"\", \"enabled\": false, \"conditions\": {\t\"client_filters\": []\t}}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-01-15T23:43:21+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/Beta",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"Beta\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-10-21T20:31:23+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/ID Test",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"IDTest\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-08-27T18:43:08+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/SpaceTest",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"There is a space in the feature id\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"display_name\": null, \"description\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-08-15T18:44:29+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/TWF",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"TWF\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Fri, 13 Dec 2024 08:00:00 GMT\",\"End\":\"Sat, 21 Dec 2024 08:00:00 GMT\",\"Recurrence\":{\"Pattern\":{\"Type\":\"Weekly\",\"Interval\":1,\"FirstDayOfWeek\":\"Sunday\",\"DaysOfWeek\":[\"Friday\"]},\"Range\":{\"Type\":\"NoEnd\"}}}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-12-13T20:20:21+00:00"
          },
          {
            "etag": "Sanitized",
            "key": ".appconfig.featureflag/jkf",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"jkf\",\"description\":\"\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Users\":[\"gkl\"],\"Groups\":[{\"Name\":\"fk\",\"RolloutPercentage\":49}],\"DefaultRolloutPercentage\":50}}}]}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-08-29T17:38:18+00:00"
          },
          {
            "etag": "Sanitized",
            "key": "/application/config.message",
            "label": null,
            "content_type": "",
            "value": "application",
            "tags": {},
            "locked": false,
            "last_modified": "2024-09-03T18:43:06+00:00"
          },
          {
            "etag": "Sanitized",
        [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Jan, 15 2025 23:43:21.922759 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ilc-KH9KY-_1pKkCwH7B[...]
