{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022JZRf51ctMH1X9igchVog8TgbSCXw3QJqqxsHDJ5YAsI\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:38 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODM3MQ==;sn=24188371"
      },
      "ResponseBody": {
        "etag": "JZRf51ctMH1X9igchVog8TgbSCXw3QJqqxsHDJ5YAsI",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:38\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODM3MQ=="
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ZW9zvCt7fGQIKYeexMFmYrAHdoFMe4He18x5GyJGJQY\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:38 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODM3Mw==;sn=24188373"
      },
      "ResponseBody": {
        "etag": "ZW9zvCt7fGQIKYeexMFmYrAHdoFMe4He18x5GyJGJQY",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:38\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODM3Mw=="
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022qkpUnANUWlTuEKvc_TEkWw9iSRc8mXw4CwU9BO2JyT0\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:38 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODM3NQ==;sn=24188375"
      },
      "ResponseBody": {
        "etag": "qkpUnANUWlTuEKvc_TEkWw9iSRc8mXw4CwU9BO2JyT0",
        "key": "my_json",
        "label": null,
        "content_type": "application/json",
        "value": "{\u0022key\u0022: \u0022value\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:38\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODM3NQ=="
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022srgDPII4UHOK15dOs0_bv0QWEuTNCUvu7tYdclEkMKU\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:38 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODM3Nw==;sn=24188377"
      },
      "ResponseBody": {
        "etag": "srgDPII4UHOK15dOs0_bv0QWEuTNCUvu7tYdclEkMKU",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:38\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODM3Nw=="
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022lusk6YQH7xxOUMYhPYxepKnHHw_4BS7RZREMYzlrplM\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:38 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODM3OQ==;sn=24188379"
      },
      "ResponseBody": {
        "etag": "lusk6YQH7xxOUMYhPYxepKnHHw_4BS7RZREMYzlrplM",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:38\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODM3OQ=="
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022gzUeUJ5OtW1FwNoKkdQHn-qLBC_v0oTyydIB2gDvAKA\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:38 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODM4MQ==;sn=24188381"
      },
      "ResponseBody": {
        "etag": "gzUeUJ5OtW1FwNoKkdQHn-qLBC_v0oTyydIB2gDvAKA",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:38\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODM4MQ=="
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/Alpha",
        "label": "\u0000",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value"[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=1970-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODM4Mw=="
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00220SqVXm5TPEuMpTqMgFbbYS-nWo6qcye2scF7C5C-f84\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:50:39 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODM4NQ==;sn=24188385"
      },
      "ResponseBody": {
        "etag": "0SqVXm5TPEuMpTqMgFbbYS-nWo6qcye2scF7C5C-f84",
        "key": "secret",
        "label": "prod",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022https://fake-keyvault.vault.azure.net/secrets/fake-secret/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-07T23:50:39\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=*\u0026label=%00\u0026api-version=1970-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup,UsesKeyVault"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyMyNDE4ODM4Ng==;sn=24188386"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "YkOdNnv6MGpp71r3bWn6aoPKjn9VXXb0ZnAwdEVDYV0",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
