{
  "Entries": [
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=%00\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sO17\u002B9LRBGRK6Jc1aomgtjKe6Q6xOKfaGzzF\u002BAgFzgI=",
        "x-ms-date": "Aug, 28 2023 19:46:40.678931 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "hi",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00224SaAoE4S69sTv5DL9XP9rAAHVGZ8zHmPIMAkGkH81dI\u0022",
        "Last-Modified": "Mon, 28 Aug 2023 19:46:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTI0MDk0;sn=18924094",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "4SaAoE4S69sTv5DL9XP9rAAHVGZ8zHmPIMAkGkH81dI",
        "key": "message",
        "label": null,
        "content_type": "text/plain",
        "value": "hi",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-28T19:46:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/message?label=dev\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTI0MDk0",
        "x-ms-content-sha256": "ldGB\u002ByUbceFogwKdiFLhKcjPyA4zVY7Rq2L/lmgPr/8=",
        "x-ms-date": "Aug, 28 2023 19:46:40.732549 GMT"
      },
      "RequestBody": {
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022I6mdalSCvtg8YQte40BrWhFd_mJBc2NwldYt69v3tys\u0022",
        "Last-Modified": "Mon, 28 Aug 2023 19:46:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTI0MDk2;sn=18924096",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "I6mdalSCvtg8YQte40BrWhFd_mJBc2NwldYt69v3tys",
        "key": "message",
        "label": "dev",
        "content_type": "text/plain",
        "value": "test",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-28T19:46:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/my_json?label=%00\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTI0MDk2",
        "x-ms-content-sha256": "hCwkkESt4FMkocISzVr\u002Bsa5KgTtCgv2\u002B3ps1kcPne0Y=",
        "x-ms-date": "Aug, 28 2023 19:46:40.775563 GMT"
      },
      "RequestBody": {
        "key": "my_json",
        "label": "\u0000",[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/test.trimmed?label=%00\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTI0MDk4",
        "x-ms-content-sha256": "Ywo75Z4ndghuA5lejndpeBTNSici7Vx8O0CCZLlhiAU=",
        "x-ms-date": "Aug, 28 2023 19:46:40.829780 GMT"
      },
      "RequestBody": {
        "key": "test.trimmed",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "key",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022XDAr_1R6O46_IKakUflRMKEQpnsuKgHPkzdi3h72Er4\u0022",
        "Last-Modified": "Mon, 28 Aug 2023 19:46:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTI0MTAw;sn=18924100",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "XDAr_1R6O46_IKakUflRMKEQpnsuKgHPkzdi3h72Er4",
        "key": "test.trimmed",
        "label": null,
        "content_type": "text/plain",
        "value": "key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-28T19:46:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/refresh_message?label=%00\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTI0MTAw",
        "x-ms-content-sha256": "4EMTpW5DNMgb2ILWshR8NZeWRRkMcPLFDtd0erEayyY=",
        "x-ms-date": "Aug, 28 2023 19:46:40.914348 GMT"
      },
      "RequestBody": {
        "key": "refresh_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "original value",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022WIJJrQeillxhpRwCnJDsNPj_aJsDIDSSeZjpg5WU1-k\u0022",
        "Last-Modified": "Mon, 28 Aug 2023 19:46:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTI0MTAy;sn=18924102",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "WIJJrQeillxhpRwCnJDsNPj_aJsDIDSSeZjpg5WU1-k",
        "key": "refresh_message",
        "label": null,
        "content_type": "text/plain",
        "value": "original value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-28T19:46:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/non_refreshed_message?label=%00\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTI0MTAy",
        "x-ms-content-sha256": "3h8i3k16yOCNVm4UxG/aSBBCn2CiyBhO4M3AdIWkWFI=",
        "x-ms-date": "Aug, 28 2023 19:46:40.959100 GMT"
      },
      "RequestBody": {
        "key": "non_refreshed_message",
        "label": "\u0000",
        "content_type": "text/plain",
        "value": "Static",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022lCGTO2BZgC3RVKA5nEtnuTDHgkHfr-41mbscyO0dZ-4\u0022",
        "Last-Modified": "Mon, 28 Aug 2023 19:46:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTI0MTA0;sn=18924104",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "etag": "lCGTO2BZgC3RVKA5nEtnuTDHgkHfr-41mbscyO0dZ-4",
        "key": "non_refreshed_message",
        "label": null,
        "content_type": "text/plain",
        "value": "Static",
        "tags": {},
        "locked": false,
        "last_modified": "2023-08-28T19:46:41\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/.appconfig.featureflag%2FAlpha?label=%00\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTI0MTA0",
        "x-ms-content-sha256": "QWMqQVTb3OEmcET/A5jVHXJXI1TrzC7h6cMDRt4ePeA=",
        "x-ms-date": "Aug, 28 2023 19:46:41.001653 GMT"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/[...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv/secret?label=prod\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTI0MTA2",
        "x-ms-content-sha256": "NOovBYpiqLdbcyjalnw8H4\u002BA6OaIHWS0q5MNOx78VUQ=",
        "x-ms-date": "Aug, 28 2023 19:46:41.048042 GMT"
      },
      "RequestBody": {
        "key": "secret",
        "label": "prod",
       [...]
    {
      "RequestUri": "https://fake-endpoint.azconfig.io/kv?key=%2A\u0026label=%00\u0026api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Correlation-Context": "RequestType=Startup",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Aug, 28 2023 19:46:41.096074 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzE4OTI0MTA5;sn=18924109",
        "x-ms-resource-group": "rg-appconfigtests4",
        "x-ms-subscription-id": "77d5ab06-7edd-4eec-bce9-52c11b75bb37",
        "x-ms-tenant-name": "appconfigtests4-azconfig-python"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "JgH4WnWHZuY_TrEDT9d8eNmiUTFwmFF4Iq9Tq9Idtbw",
            "key": ".appconfig.featureflag/Alpha",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\t\u0022id\u0022: \u0022Alpha\u0022, \u0022description\u0022: \u0022\u0022, \u0022enabled\u0022: false, \u0022conditions\u0022: {\t\u0022client_filters\u0022: []\t}}",
            "tags": {},
            "locked": false,
  [...]
