{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-5664?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11907"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5664",
        "name": "Communication-RG-5664",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5664/providers/Microsoft.Communication/communicationServices/communication-service-3828?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/44ad5e4f-62c9-430c-bcf0-44c80bce8349*1A567D4AA5BDF53B5FB407A98C0C7EBF7C98F1394D30DABE97C6CA60861FFE64?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000e3fb-0000-0700-0000-64cc44650000\u0022",
        "mise-correlation-id": "db9fa669-083b-473e-818c-af092e8e6a5b",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5664/providers/Microsoft.Communication/communicationServices/communication-service-3828",
        "name": "communication-service-3828",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
          "createdByType": "Application",
          "createdAt": "2023-08-04T00:20:53.3955622Z",
          "lastModifiedBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-04T00:20:53.3955622Z"
        },
        "properties": {
          "dataLocation": "UnitedStates",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/44ad5e4f-62c9-430c-bcf0-44c80bce8349*1A567D4AA5BDF53B5FB407A98C0C7EBF7C98F1394D30DABE97C6CA60861FFE64?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220d0073ad-0000-0800-0000-64cc44650000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11906"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/44ad5e4f-62c9-430c-bcf0-44c80bce8349*1A567D4AA5BDF53B5FB407A98C0C7EBF7C98F1394D30DABE97C6CA60861FFE64",
        "name": "44ad5e4f-62c9-430c-bcf0-44c80bce8349*1A567D4AA5BDF53B5FB407A98C0C7EBF7C98F1394D30DABE97C6CA60861FFE64",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5664/providers/Microsoft.Communication/communicationServices/communication-service-3828",
        "status": "Accepted",
        "startTime": "2023-08-04T00:20:53.8600345Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5664/providers/Microsoft.Communication/communicationServices/communication-service-3828?api-version=2023-04-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "testkey": "testvalue"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022000006fc-0000-0700-0000-64cc44a90000\u0022",
        "mise-correlation-id": "b64c2b54-2f75-4f3e-ad98-427d40124e82",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5664/providers/Microsoft.Communication/communicationServices/communication-service-3828",
        "name": "communication-service-3828",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "tags": {
          "testkey": "testvalue"
        },
        "systemData": {
          "createdBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
          "createdByType": "Application",
          "createdAt": "2023-08-04T00:20:53.3955622Z",
          "lastModifiedBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-04T00:22:00.5593863Z"
        },
        "properties": {
          "hostName": "communication-service-3828.unitedstates.communication.azure.com",
          "immutableResourceId": "82d280bf-f4e0-4e76-8f59-ccbce9a89e12",
          "dataLocation": "UnitedStates",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5664/providers/Microsoft.Communication/communicationServices?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5664/providers/Microsoft.Communication/communicationServices/communication-service-3828",
            "name": "communication-service-3828",
            "type": "microsoft.communication/communicationservices",
            "location": "global",
            "tags": {
              "testkey": "testvalue"
            },
            "systemData": {
              "createdBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
              "createdByType": "Application",
              "createdAt": "2023-08-04T00:20:53.3955622Z",
              "lastModifiedBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-04T00:22:00.5593863Z"
            },
            "properties": {
              "hostName": "communication-service-3828.unitedstates.communication.azure.com",
              "immutableResourceId": "82d280bf-f4e0-4e76-8f59-ccbce9a89e12",
              "dataLocation": "UnitedStates",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5664/providers/Microsoft.Communication/communicationServices/communication-service-3828?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/9436770d-ab53-4cca-83f9-bc8650ef019b*1A567D4AA5BDF53B5FB407A98C0C7EBF7C98F1394D30DABE97C6CA60861FFE64?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022000008fc-0000-0700-0000-64cc44aa0000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/9436770d-ab53-4cca-83f9-bc8650ef019b*1A567D4AA5BDF53B5FB407A98C0C7EBF7C98F1394D30DABE97C6CA60861FFE64?api-version=2023-04-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/9436770d-ab53-4cca-83f9-bc8650ef019b*1A567D4AA5BDF53B5FB407A98C0C7EBF7C98F1394D30DABE97C6CA60861FFE64?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/9436770d-ab53-4cca-83f9-bc8650ef019b*1A567D4AA5BDF53B5FB407A98C0C7EBF7C98F1394D30DABE97C6CA60861FFE64?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220d0080b1-0000-0800-0000-64cc44eb0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/9436770d-ab53-4cca-83f9-bc8650ef019b*1A567D4AA5BDF53B5FB407A98C0C7EBF7C98F1394D30DABE97C6CA60861FFE64",
        "name": "9436770d-ab53-4cca-83f9-bc8650ef019b*1A567D4AA5BDF53B5FB407A98C0C7EBF7C98F1394D30DABE97C6CA60861FFE64",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5664/providers/Microsoft.Communication/communicationServices/communication-service-3828",
        "status": "Succeeded",
        "startTime": "2023-08-04T00:22:02.0459526Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "2106993788",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
