{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-5272?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11946"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272",
        "name": "Communication-RG-5272",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-5795?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/27ce8a4a-e97d-46d7-9ad2-c3bb7e4254cf*7A91D340F9E9C7872F90E469F78F189F5E40E5DEAFA78AFC56C8EA4872B92958?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220100fe0f-0000-0700-0000-64cc6eac0000\u0022",
        "mise-correlation-id": "58d8d679-8aff-4655-b71e-48008005e97f",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-5795",
        "name": "communication-service-5795",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
          "createdByType": "Application",
          "createdAt": "2023-08-04T03:21:16.2465526Z",
          "lastModifiedBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-04T03:21:16.2465526Z"
        },
        "properties": {
          "dataLocation": "UnitedStates",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/27ce8a4a-e97d-46d7-9ad2-c3bb7e4254cf*7A91D340F9E9C7872F90E469F78F189F5E40E5DEAFA78AFC56C8EA4872B92958?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220e0062a3-0000-0800-0000-64cc6eac0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11945"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/27ce8a4a-e97d-46d7-9ad2-c3bb7e4254cf*7A91D340F9E9C7872F90E469F78F189F5E40E5DEAFA78AFC56C8EA4872B92958",
        "name": "27ce8a4a-e97d-46d7-9ad2-c3bb7e4254cf*7A91D340F9E9C7872F90E469F78F189F5E40E5DEAFA78AFC56C8EA4872B92958",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-5795",
        "status": "Accepted",
        "startTime": "2023-08-04T03:21:16.6114545Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-5795?api-version=2023-04-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "testkey": "testvalue"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002201002d10-0000-0700-0000-64cc6f0e0000\u0022",
        "mise-correlation-id": "3e83120b-9d4d-470e-858e-36d5962c48bf",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-5795",
        "name": "communication-service-5795",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "tags": {
          "testkey": "testvalue"
        },
        "systemData": {
          "createdBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
          "createdByType": "Application",
          "createdAt": "2023-08-04T03:21:16.2465526Z",
          "lastModifiedBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-04T03:22:54.5911558Z"
        },
        "properties": {
          "hostName": "communication-service-5795.unitedstates.communication.azure.com",
          "immutableResourceId": "87f719a9-f921-4858-ad74-2342059fc66c",
          "dataLocation": "UnitedStates",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11932"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-5795",
            "name": "communication-service-5795",
            "type": "microsoft.communication/communicationservices",
            "location": "global",
            "tags": {
              "testkey": "testvalue"
            },
            "systemData": {
              "createdBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
              "createdByType": "Application",
              "createdAt": "2023-08-04T03:21:16.2465526Z",
              "lastModifiedBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-04T03:22:54.5911558Z"
            },
            "properties": {
              "hostName": "communication-service-5795.unitedstates.communication.azure.com",
              "immutableResourceId": "87f719a9-f921-4858-ad74-2342059fc66c",
              "dataLocation": "UnitedStates",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-5795?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/731f2048-9149-4a13-afee-d6c2ba8b1549*7A91D340F9E9C7872F90E469F78F189F5E40E5DEAFA78AFC56C8EA4872B92958?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002201002e10-0000-0700-0000-64cc6f0f0000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/731f2048-9149-4a13-afee-d6c2ba8b1549*7A91D340F9E9C7872F90E469F78F189F5E40E5DEAFA78AFC56C8EA4872B92958?api-version=2023-04-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/731f2048-9149-4a13-afee-d6c2ba8b1549*7A91D340F9E9C7872F90E469F78F189F5E40E5DEAFA78AFC56C8EA4872B92958?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/731f2048-9149-4a13-afee-d6c2ba8b1549*7A91D340F9E9C7872F90E469F78F189F5E40E5DEAFA78AFC56C8EA4872B92958?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223d00afb3-0000-0700-0000-64cc6f510000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11922"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/731f2048-9149-4a13-afee-d6c2ba8b1549*7A91D340F9E9C7872F90E469F78F189F5E40E5DEAFA78AFC56C8EA4872B92958",
        "name": "731f2048-9149-4a13-afee-d6c2ba8b1549*7A91D340F9E9C7872F90E469F78F189F5E40E5DEAFA78AFC56C8EA4872B92958",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-5795",
        "status": "Succeeded",
        "startTime": "2023-08-04T03:22:55.5766533Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "840415844",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
