{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-5272?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11754"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272",
        "name": "Communication-RG-5272",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-6980?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/c20c3d7d-c88d-404a-89e7-4ee3becedfe5*FEB9C019CAFCBC10CA49C9995135CBC17D8AAD442EA81CFAB4C76DFE0C871361?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002201002412-0000-0700-0000-64cc73440000\u0022",
        "mise-correlation-id": "c39fcfa4-4c9a-440d-a940-bdf5e4bde713",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1174"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-6980",
        "name": "communication-service-6980",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
          "createdByType": "Application",
          "createdAt": "2023-08-04T03:40:51.6787233Z",
          "lastModifiedBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-04T03:40:51.6787233Z"
        },
        "properties": {
          "dataLocation": "UnitedStates",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/c20c3d7d-c88d-404a-89e7-4ee3becedfe5*FEB9C019CAFCBC10CA49C9995135CBC17D8AAD442EA81CFAB4C76DFE0C871361?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220e00adc0-0000-0800-0000-64cc73440000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11753"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/c20c3d7d-c88d-404a-89e7-4ee3becedfe5*FEB9C019CAFCBC10CA49C9995135CBC17D8AAD442EA81CFAB4C76DFE0C871361",
        "name": "c20c3d7d-c88d-404a-89e7-4ee3becedfe5*FEB9C019CAFCBC10CA49C9995135CBC17D8AAD442EA81CFAB4C76DFE0C871361",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-6980",
        "status": "Accepted",
        "startTime": "2023-08-04T03:40:52.1405249Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11743"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-6980",
            "name": "communication-service-6980",
            "type": "microsoft.communication/communicationservices",
            "location": "global",
            "tags": {},
            "systemData": {
              "createdBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
              "createdByType": "Application",
              "createdAt": "2023-08-04T03:40:51.6787233Z",
              "lastModifiedBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-04T03:40:51.6787233Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "hostName": "communication-service-6980.unitedstates.communication.azure.com",
              "immutableResourceId": "d267e3d3-cfd0-4ca4-b505-886fbce8205b",
              "dataLocation": "UnitedStates"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-6980?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/2d7b28a6-7c7b-4586-8772-1e55cb6e6a73*FEB9C019CAFCBC10CA49C9995135CBC17D8AAD442EA81CFAB4C76DFE0C871361?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002201003412-0000-0700-0000-64cc73870000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/2d7b28a6-7c7b-4586-8772-1e55cb6e6a73*FEB9C019CAFCBC10CA49C9995135CBC17D8AAD442EA81CFAB4C76DFE0C871361?api-version=2023-04-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14988"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/2d7b28a6-7c7b-4586-8772-1e55cb6e6a73*FEB9C019CAFCBC10CA49C9995135CBC17D8AAD442EA81CFAB4C76DFE0C871361?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/2d7b28a6-7c7b-4586-8772-1e55cb6e6a73*FEB9C019CAFCBC10CA49C9995135CBC17D8AAD442EA81CFAB4C76DFE0C871361?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220e0040c3-0000-0800-0000-64cc73c80000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11733"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/2d7b28a6-7c7b-4586-8772-1e55cb6e6a73*FEB9C019CAFCBC10CA49C9995135CBC17D8AAD442EA81CFAB4C76DFE0C871361",
        "name": "2d7b28a6-7c7b-4586-8772-1e55cb6e6a73*FEB9C019CAFCBC10CA49C9995135CBC17D8AAD442EA81CFAB4C76DFE0C871361",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-6980",
        "status": "Succeeded",
        "startTime": "2023-08-04T03:41:58.962723Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "2051724295",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
