{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-8888?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-8888",
        "name": "Communication-RG-8888",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.ManagedIdentity?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.ManagedIdentity",
        "namespace": "Microsoft.ManagedIdentity",
        "resourceTypes": [
          {
            "resourceType": "Identities",
            "locations": [
              "Global",
              "Asia",
              "Australia",
              "Brazil",
              "Canada",
              "Europe",
              "France",
              "Germany",
              "India",
              "Japan",
              "Korea",
              "Norway",
              "South Africa",
              "Switzerland",
              "UAE",
              "UK",
              "United States",
              "Singapore",
              "South Africa North",
              "S[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-8888/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-4050?api-version=2023-01-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-8888/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-4050",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "location": "westus2",
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-8888/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-4050",
        "name": "testMsi-4050",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "properties": {
          "tenantId": "9fd9531e-984c-4649-b30e-ca03c39a0b32",
          "principalId": "6e9fb52c-f196-4da5-bd4c-6396284295d6",
          "clientId": "615ccf78-8a39-4535-81ad-8c68bea6d4db"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-8888/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-4050?api-version=2023-01-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "location": "westus2",
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-8888/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-4050",
        "name": "testMsi-4050",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "properties": {
          "tenantId": "9fd9531e-984c-4649-b30e-ca03c39a0b32",
          "principalId": "6e9fb52c-f196-4da5-bd4c-6396284295d6",
          "clientId": "615ccf78-8a39-4535-81ad-8c68bea6d4db"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-8888/providers/Microsoft.Communication/communicationServices/communication-service-3762?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned,UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-8888/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-4050": {}
          }
        },
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/2fd32294-fa17-40dd-b525-aad9bd36441c*CF63613203758A20BC48C08526C720B8FB4BDAFB8C58D071F71DEAC4F0F8D1D8?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022380e0b58-0000-0100-0000-64f536b80000\u0022",
        "mise-correlation-id": "9d4e5298-8581-425a-a066-003bbb7c53f4",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-8888/providers/Microsoft.Communication/communicationServices/communication-service-3762",
        "name": "communication-service-3762",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-09-04T01:45:25.283253Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-04T01:45:25.283253Z"
        },
        "identity": {
          "principalId": "bcf4c595-28c4-4f29-b258-6c6f524b43a4",
          "tenantId": "9fd9531e-984c-4649-b30e-ca03c39a0b32",
          "type": "SystemAssigned, UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-8888/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-4050": {}
          }
        },
        "properties": {
          "dataLocation": "UnitedStates",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/2fd32294-fa17-40dd-b525-aad9bd36441c*CF63613203758A20BC48C08526C720B8FB4BDAFB8C58D071F71DEAC4F0F8D1D8?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022eb00ea74-0000-0100-0000-64f536b70000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/2fd32294-fa17-40dd-b525-aad9bd36441c*CF63613203758A20BC48C08526C720B8FB4BDAFB8C58D071F71DEAC4F0F8D1D8",
        "name": "2fd32294-fa17-40dd-b525-aad9bd36441c*CF63613203758A20BC48C08526C720B8FB4BDAFB8C58D071F71DEAC4F0F8D1D8",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-8888/providers/Microsoft.Communication/communicationServices/communication-service-3762",
        "status": "Accepted",
        "startTime": "2023-09-04T01:45:27.9713318Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-8888/providers/Microsoft.Communication/communicationServices?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-8888/providers/Microsoft.Communication/communicationServices/communication-service-3762",
            "name": "communication-service-3762",
            "type": "microsoft.communication/communicationservices",
            "location": "global",
                "systemData": {
              "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "createdByType": "Application",
              "createdAt": "2023-09-04T01:45:25.283253Z",
              "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-09-04T01:45:25.283253Z"
            },
            "identity": {
              "principalId": "bcf4c595-28c4-4f29-b258-6c6f524b43a4",
              "tenantId": "9fd9531e-984c-4649-b30e-ca03c39a0b32",
              "type": "SystemAssigned, UserAssigned",
              "userAssignedIdentities": {
                "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-8888/providers/Microsoft.ManagedIdentity/userAssignedIdentities/testMsi-4050": {
                  "clientId": "615ccf78-8a39-4535-81ad-8c68bea6d4db",
                  "principalId": "6e9fb52c-f196-4da5-bd4c-6396284295d6"
                }
              }
            },
            "properties": {
              "provisioningState": "Succeeded",
              "hostName": "communication-service-3762.unitedstates.communication.azure.com",
              "immutableResourceId": "a9d251db-722b-4405-bf84-435d1302060e",
              "dataLocation": "UnitedStates"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/e82e0f73-4a53-4f0b-8657-55a5d61be6b7*CF63613203758A20BC48C08526C720B8FB4BDAFB8C58D071F71DEAC4F0F8D1D8?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/e82e0f73-4a53-4f0b-8657-55a5d61be6b7*CF63613203758A20BC48C08526C720B8FB4BDAFB8C58D071F71DEAC4F0F8D1D8?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223b0062f8-0000-0800-0000-64f5373f0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/e82e0f73-4a53-4f0b-8657-55a5d61be6b7*CF63613203758A20BC48C08526C720B8FB4BDAFB8C58D071F71DEAC4F0F8D1D8",
        "name": "e82e0f73-4a53-4f0b-8657-55a5d61be6b7*CF63613203758A20BC48C08526C720B8FB4BDAFB8C58D071F71DEAC4F0F8D1D8",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-8888/providers/Microsoft.Communication/communicationServices/communication-service-3762",
        "status": "Succeeded",
        "startTime": "2023-09-04T01:46:37.3448849Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1938505210",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
