{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-5272?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11662"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272",
        "name": "Communication-RG-5272",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-5296?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/dec2ea83-1d93-45df-a1f8-8959199bdee7*9BBCDF199C6EC75E3BAFE8053100611FDDD1AE59411417A6EA655A6AE167F56E?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220100ed12-0000-0700-0000-64cc75e00000\u0022",
        "mise-correlation-id": "3e24079e-f701-4d9e-8318-2f552b428b1c",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1169"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-5296",
        "name": "communication-service-5296",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
          "createdByType": "Application",
          "createdAt": "2023-08-04T03:52:00.2940284Z",
          "lastModifiedBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-04T03:52:00.2940284Z"
        },
        "properties": {
          "dataLocation": "UnitedStates",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/dec2ea83-1d93-45df-a1f8-8959199bdee7*9BBCDF199C6EC75E3BAFE8053100611FDDD1AE59411417A6EA655A6AE167F56E?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220400b210-0000-0800-0000-64cc75e00000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11661"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/dec2ea83-1d93-45df-a1f8-8959199bdee7*9BBCDF199C6EC75E3BAFE8053100611FDDD1AE59411417A6EA655A6AE167F56E",
        "name": "dec2ea83-1d93-45df-a1f8-8959199bdee7*9BBCDF199C6EC75E3BAFE8053100611FDDD1AE59411417A6EA655A6AE167F56E",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-5296",
        "status": "Accepted",
        "startTime": "2023-08-04T03:52:00.895996Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11650"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-5296",
            "name": "communication-service-5296",
            "type": "microsoft.communication/communicationservices",
            "location": "global",
            "tags": {},
            "systemData": {
              "createdBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
              "createdByType": "Application",
              "createdAt": "2023-08-04T03:52:00.2940284Z",
              "lastModifiedBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-04T03:52:00.2940284Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "hostName": "communication-service-5296.unitedstates.communication.azure.com",
              "immutableResourceId": "0a8bb675-21d9-4fa6-9d9f-5f34ddfbde7a",
              "dataLocation": "UnitedStates"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-5296?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/1538f8b2-d221-47d7-9b55-a6dedb6b91cf*9BBCDF199C6EC75E3BAFE8053100611FDDD1AE59411417A6EA655A6AE167F56E?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220100f512-0000-0700-0000-64cc76230000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/1538f8b2-d221-47d7-9b55-a6dedb6b91cf*9BBCDF199C6EC75E3BAFE8053100611FDDD1AE59411417A6EA655A6AE167F56E?api-version=2023-04-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14984"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/1538f8b2-d221-47d7-9b55-a6dedb6b91cf*9BBCDF199C6EC75E3BAFE8053100611FDDD1AE59411417A6EA655A6AE167F56E?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/1538f8b2-d221-47d7-9b55-a6dedb6b91cf*9BBCDF199C6EC75E3BAFE8053100611FDDD1AE59411417A6EA655A6AE167F56E?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002204000212-0000-0800-0000-64cc76640000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11641"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/1538f8b2-d221-47d7-9b55-a6dedb6b91cf*9BBCDF199C6EC75E3BAFE8053100611FDDD1AE59411417A6EA655A6AE167F56E",
        "name": "1538f8b2-d221-47d7-9b55-a6dedb6b91cf*9BBCDF199C6EC75E3BAFE8053100611FDDD1AE59411417A6EA655A6AE167F56E",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-5296",
        "status": "Succeeded",
        "startTime": "2023-08-04T03:53:07.3624677Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "346168652",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
