{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-1740?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1740",
        "name": "Communication-RG-1740",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1740/providers/Microsoft.Communication/communicationServices/communication-service-3369?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/946244aa-d353-4d9b-a08d-b90b6de5f7b7*77672DA6BC8873520E5C113AA2D2460A09F363C4755F6C63669C5501F8A12168?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220100478c-0000-0700-0000-64cd63350000\u0022",
        "mise-correlation-id": "1178d31a-f7c1-4c43-ba80-2a69f3bbe832",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1740/providers/Microsoft.Communication/communicationServices/communication-service-3369",
        "name": "communication-service-3369",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "1d01c162-e6e2-46b0-a9a1-995ab7977cc7",
          "createdByType": "Application",
          "createdAt": "2023-08-04T20:44:37.2307095Z",
          "lastModifiedBy": "1d01c162-e6e2-46b0-a9a1-995ab7977cc7",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-04T20:44:37.2307095Z"
        },
        "properties": {
          "dataLocation": "UnitedStates",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/946244aa-d353-4d9b-a08d-b90b6de5f7b7*77672DA6BC8873520E5C113AA2D2460A09F363C4755F6C63669C5501F8A12168?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221400c477-0000-0800-0000-64cd63350000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/946244aa-d353-4d9b-a08d-b90b6de5f7b7*77672DA6BC8873520E5C113AA2D2460A09F363C4755F6C63669C5501F8A12168",
        "name": "946244aa-d353-4d9b-a08d-b90b6de5f7b7*77672DA6BC8873520E5C113AA2D2460A09F363C4755F6C63669C5501F8A12168",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1740/providers/Microsoft.Communication/communicationServices/communication-service-3369",
        "status": "Accepted",
        "startTime": "2023-08-04T20:44:37.7029917Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1740/providers/Microsoft.Communication/communicationServices/communication-service-3369/linkNotificationHub?api-version=2023-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/rg-joelencommunication/providers/Microsoft.NotificationHubs/namespaces/testJoelHubNm/notificationHubs/testJoelHub",
        "connectionString": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0d23ebb2-6f46-41f9-8c95-94f4bd313bd9",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/rg-joelencommunication/providers/Microsoft.NotificationHubs/namespaces/testJoelHubNm/notificationHubs/testJoelHub"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1740/providers/Microsoft.Communication/communicationServices?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1740/providers/Microsoft.Communication/communicationServices/communication-service-3369",
            "name": "communication-service-3369",
            "type": "microsoft.communication/communicationservices",
            "location": "global",
            "tags": {},
            "systemData": {
              "createdBy": "1d01c162-e6e2-46b0-a9a1-995ab7977cc7",
              "createdByType": "Application",
              "createdAt": "2023-08-04T20:44:37.2307095Z",
              "lastModifiedBy": "632ec9eb-fad7-4cbd-993a-e72973ba2acc",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-04T20:45:44.206471Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "hostName": "communication-service-3369.unitedstates.communication.azure.com",
              "immutableResourceId": "fae492e1-0c0b-4436-81ac-07d8ed938c6f",
              "dataLocation": "UnitedStates",
              "notificationHubId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/rg-joelencommunication/providers/Microsoft.NotificationHubs/namespaces/testJoelHubNm/notificationHubs/testJoelHub"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1740/providers/Microsoft.Communication/communicationServices/communication-service-3369?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/636f4582-fddc-435b-8b90-c366aab84d1a*77672DA6BC8873520E5C113AA2D2460A09F363C4755F6C63669C5501F8A12168?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220100688c-0000-0700-0000-64cd63780000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/636f4582-fddc-435b-8b90-c366aab84d1a*77672DA6BC8873520E5C113AA2D2460A09F363C4755F6C63669C5501F8A12168?api-version=2023-04-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/636f4582-fddc-435b-8b90-c366aab84d1a*77672DA6BC8873520E5C113AA2D2460A09F363C4755F6C63669C5501F8A12168?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/636f4582-fddc-435b-8b90-c366aab84d1a*77672DA6BC8873520E5C113AA2D2460A09F363C4755F6C63669C5501F8A12168?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225600a0ef-0000-0700-0000-64cd63ba0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/636f4582-fddc-435b-8b90-c366aab84d1a*77672DA6BC8873520E5C113AA2D2460A09F363C4755F6C63669C5501F8A12168",
        "name": "636f4582-fddc-435b-8b90-c366aab84d1a*77672DA6BC8873520E5C113AA2D2460A09F363C4755F6C63669C5501F8A12168",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-1740/providers/Microsoft.Communication/communicationServices/communication-service-3369",
        "status": "Succeeded",
        "startTime": "2023-08-04T20:45:44.7358152Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "NOTIFICATION_HUBS_CONNECTION_STRING": "Endpoint=sb://testJoelHubNm.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=Sanitized",
    "NOTIFICATION_HUBS_RESOURCE_ID": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/rg-joelencommunication/providers/Microsoft.NotificationHubs/namespaces/testJoelHubNm/notificationHubs/testJoelHub",
    "RandomSeed": "54048032",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
