{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-6613?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6613",
        "name": "Communication-RG-6613",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6613/providers/Microsoft.Communication/communicationServices/communication-service-7104?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/8862e8bb-b052-4929-9d8b-d57149739d41*21D1E0B83A2A076ED0908D134EEA070B2E76ADA47263E080B535FBD7F673F5AD?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223d0e7914-0000-0100-0000-64f548700000\u0022",
        "mise-correlation-id": "0f81ebab-9cc8-4237-899d-dd6c6cb92242",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6613/providers/Microsoft.Communication/communicationServices/communication-service-7104",
        "name": "communication-service-7104",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-09-04T03:01:03.9060494Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-04T03:01:03.9060494Z"
        },
        "properties": {
          "dataLocation": "UnitedStates",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/8862e8bb-b052-4929-9d8b-d57149739d41*21D1E0B83A2A076ED0908D134EEA070B2E76ADA47263E080B535FBD7F673F5AD?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022eb0054e1-0000-0100-0000-64f548700000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/8862e8bb-b052-4929-9d8b-d57149739d41*21D1E0B83A2A076ED0908D134EEA070B2E76ADA47263E080B535FBD7F673F5AD",
        "name": "8862e8bb-b052-4929-9d8b-d57149739d41*21D1E0B83A2A076ED0908D134EEA070B2E76ADA47263E080B535FBD7F673F5AD",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6613/providers/Microsoft.Communication/communicationServices/communication-service-7104",
        "status": "Accepted",
        "startTime": "2023-09-04T03:01:04.4899546Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "8443df5e-8e12-4cd9-810e-c525196fecae",
        "tenantId": "9fd9531e-984c-4649-b30e-ca03c39a0b32",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Resources?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Resources",
        "namespace": "Microsoft.Resources",
        "authorizations": [
          {
            "applicationId": "94946920-7f9c-4956-93c0-2fcf94608102"
          },
          {
            "applicationId": "3b990c8b-9607-4c2a-8b04-1d41985facca"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "tagnamespaces",
            "locations": [
              "Central US EUAP",
              "East US 2 EUAP",
              "Canada Central",
              "Canada East",
              "Central US",
              "East US",
              "East US 2",
              "North Central US",
              "South Central US",
              "West Central US",
              "West US",
              "West US 2",
              "West US 3"
            ],
            "apiVersions": [
              "2023-03-01-preview"
            ],
            "capabilities": "SupportsExtension"
          },
          {
            "resourceType": "tagNamespaceOperationResults",
            "locations": [],
            "apiVersions": [
              "2023-03-01-preview"
            ],
            "capabilities": "None"
          },
          {
            "resourceType": "deploymentScripts",
            "locations": [
              "East Asia",
              "Southeast Asia",
              "Australia East",
              "Australia Southeast",
              "Brazil [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6613/providers/Microsoft.Communication/communicationServices/communication-service-7104/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6613/providers/Microsoft.Communication/CommunicationServices/communication-service-7104/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {}
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6613/providers/Microsoft.Communication/communicationServices/communication-service-7104/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "testkey": "testvalue"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6613/providers/Microsoft.Communication/CommunicationServices/communication-service-7104/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "testkey": "testvalue"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6613/providers/Microsoft.Communication/communicationServices/communication-service-7104?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223d0eab3f-0000-0100-0000-64f548b80000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6613/providers/Microsoft.Communication/communicationServices/communication-service-7104",
        "name": "communication-service-7104",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "createdByType": "Application",
          "createdAt": "2023-09-04T03:01:03.9060494Z",
          "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-04T03:02:15.4486947Z"
        },
        "properties": {
          "hostName": "communication-service-7104.unitedstates.communication.azure.com",
          "immutableResourceId": "6a4ba260-a439-4e83-87fe-c772838d8402",
          "dataLocation": "UnitedStates",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6613/providers/Microsoft.Communication/communicationServices?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6613/providers/Microsoft.Communication/communicationServices/communication-service-7104",
            "name": "communication-service-7104",
            "type": "microsoft.communication/communicationservices",
            "location": "global",
            "tags": {},
            "systemData": {
              "createdBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "createdByType": "Application",
              "createdAt": "2023-09-04T03:01:03.9060494Z",
              "lastModifiedBy": "00226471-3a95-403e-98c0-dca45fecd307",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-09-04T03:02:15.4486947Z"
            },
            "properties": {
              "hostName": "communication-service-7104.unitedstates.communication.azure.com",
              "immutableResourceId": "6a4ba260-a439-4e83-87fe-c772838d8402",
              "dataLocation": "UnitedStates",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6613/providers/Microsoft.Communication/communicationServices/communication-service-7104?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/ea25d7a0-1fc7-47be-8062-fee5c6cf38b7*21D1E0B83A2A076ED0908D134EEA070B2E76ADA47263E080B535FBD7F673F5AD?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223d0ebf3f-0000-0100-0000-64f548b90000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/ea25d7a0-1fc7-47be-8062-fee5c6cf38b7*21D1E0B83A2A076ED0908D134EEA070B2E76ADA47263E080B535FBD7F673F5AD?api-version=2023-04-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/ea25d7a0-1fc7-47be-8062-fee5c6cf38b7*21D1E0B83A2A076ED0908D134EEA070B2E76ADA47263E080B535FBD7F673F5AD?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/ea25d7a0-1fc7-47be-8062-fee5c6cf38b7*21D1E0B83A2A076ED0908D134EEA070B2E76ADA47263E080B535FBD7F673F5AD?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022eb0004e6-0000-0100-0000-64f548fb0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/ea25d7a0-1fc7-47be-8062-fee5c6cf38b7*21D1E0B83A2A076ED0908D134EEA070B2E76ADA47263E080B535FBD7F673F5AD",
        "name": "ea25d7a0-1fc7-47be-8062-fee5c6cf38b7*21D1E0B83A2A076ED0908D134EEA070B2E76ADA47263E080B535FBD7F673F5AD",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-6613/providers/Microsoft.Communication/communicationServices/communication-service-7104",
        "status": "Succeeded",
        "startTime": "2023-09-04T03:02:17.5739609Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1909304078",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
