{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourcegroups/Communication-RG-5272?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11837"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272",
        "name": "Communication-RG-5272",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-1074?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "global",
        "properties": {
          "dataLocation": "UnitedStates"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/99345cca-4f95-44be-9996-324688324230*74A36212E762E5AB2BC1783DF2796AC95BFC834A48F0086AA8FED08614797A47?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002201003711-0000-0700-0000-64cc71680000\u0022",
        "mise-correlation-id": "74940966-9c59-421a-be8b-a876cedd868e",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-1074",
        "name": "communication-service-1074",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
          "createdByType": "Application",
          "createdAt": "2023-08-04T03:32:55.6588838Z",
          "lastModifiedBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-08-04T03:32:55.6588838Z"
        },
        "properties": {
          "dataLocation": "UnitedStates",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/99345cca-4f95-44be-9996-324688324230*74A36212E762E5AB2BC1783DF2796AC95BFC834A48F0086AA8FED08614797A47?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220e00d8b5-0000-0800-0000-64cc71680000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11836"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/99345cca-4f95-44be-9996-324688324230*74A36212E762E5AB2BC1783DF2796AC95BFC834A48F0086AA8FED08614797A47",
        "name": "99345cca-4f95-44be-9996-324688324230*74A36212E762E5AB2BC1783DF2796AC95BFC834A48F0086AA8FED08614797A47",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-1074",
        "status": "Accepted",
        "startTime": "2023-08-04T03:32:56.0881075Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11826"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "8443df5e-8e12-4cd9-810e-c525196fecae",
        "tenantId": "9fd9531e-984c-4649-b30e-ca03c39a0b32",
        "displayName": "Visual Studio Enterprise Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Resources?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11825"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Resources",
        "namespace": "Microsoft.Resources",
        "authorizations": [
          {
            "applicationId": "3b990c8b-9607-4c2a-8b04-1d41985facca"
          },
          {
            "applicationId": "94946920-7f9c-4956-93c0-2fcf94608102"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "deploymentScripts",
            "locations": [
              "East Asia",
              "Southeast Asia",
              "Australia East",
              "Australia Southeast",
              "Brazil South",
              "Canada Central",
              "Canada East",
              "Switzerland North",
              "Germany West Central",
              "East US 2",
              "East US",
              "Central US",
              "North Central US",
              "France Central",
              "UK South",
              "UK West",
              "Central India",
              "South India",
              "Japan East",
              "Japan West",
              "Korea Central",
              "Korea South",
              "North Europe",
              "Norway East",
              "Poland Central",
              "Qatar Central",
              "Sweden Central",
              "UAE North",
              "West Central US",
              "West Europe",
              "West US 2",
              "West US",
              "South Central US",
              "West US 3",
              "South Africa North"
            ],
            "apiVersions": [
              "2020-10-01",
              "2019-10-01-preview"
            ],
            "capabilities": "SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "deploymentScripts/logs",
            "locations": [
              "East Asia",
              "Southeast Asia",
              "Australia East",
              "Australia Southeast",
              "Brazil South",
              "Canada Central",
              "Canada East",
              "Switzerland North",
              "Germany West Central",
              "East US 2",
              "East US",
              "C[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-1074/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11824"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/CommunicationServices/communication-service-1074/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {}
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-1074/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "testkey": "testvalue"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/CommunicationServices/communication-service-1074/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "testkey": "testvalue"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-1074/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "newtestkey": "newtestvalue"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1181"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/CommunicationServices/communication-service-1074/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "newtestkey": "newtestvalue"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11818"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-1074",
            "name": "communication-service-1074",
            "type": "microsoft.communication/communicationservices",
            "location": "global",
            "tags": {
              "newtestkey": "newtestvalue"
            },
            "systemData": {
              "createdBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
              "createdByType": "Application",
              "createdAt": "2023-08-04T03:32:55.6588838Z",
              "lastModifiedBy": "b2afe423-8539-4093-bc17-e7c73eb16446",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-04T03:34:03.9094908Z"
            },
            "properties": {
              "hostName": "communication-service-1074.unitedstates.communication.azure.com",
              "immutableResourceId": "b342a5dc-813f-4016-a009-ef6e60543a7d",
              "dataLocation": "UnitedStates",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-1074?api-version=2023-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/ec2d8490-77d8-479e-b90f-fbcb9957e840*74A36212E762E5AB2BC1783DF2796AC95BFC834A48F0086AA8FED08614797A47?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002201005f11-0000-0700-0000-64cc71ad0000\u0022",
        "Location": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/ec2d8490-77d8-479e-b90f-fbcb9957e840*74A36212E762E5AB2BC1783DF2796AC95BFC834A48F0086AA8FED08614797A47?api-version=2023-04-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14992"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/ec2d8490-77d8-479e-b90f-fbcb9957e840*74A36212E762E5AB2BC1783DF2796AC95BFC834A48F0086AA8FED08614797A47?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/ec2d8490-77d8-479e-b90f-fbcb9957e840*74A36212E762E5AB2BC1783DF2796AC95BFC834A48F0086AA8FED08614797A47?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223d0044e4-0000-0700-0000-64cc71ee0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11808"
      },
      "ResponseBody": {
        "id": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/providers/Microsoft.Communication/locations/westus2/operationStatuses/ec2d8490-77d8-479e-b90f-fbcb9957e840*74A36212E762E5AB2BC1783DF2796AC95BFC834A48F0086AA8FED08614797A47",
        "name": "ec2d8490-77d8-479e-b90f-fbcb9957e840*74A36212E762E5AB2BC1783DF2796AC95BFC834A48F0086AA8FED08614797A47",
        "resourceId": "/subscriptions/8443df5e-8e12-4cd9-810e-c525196fecae/resourceGroups/Communication-RG-5272/providers/Microsoft.Communication/communicationServices/communication-service-1074",
        "status": "Succeeded",
        "startTime": "2023-08-04T03:34:04.9824785Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "14970961",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "8443df5e-8e12-4cd9-810e-c525196fecae"
  }
}
