{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a6ff0647-2bcc-7f35-4f47-2761911ee6b1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBD2ABE6A3\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a6ff0647-2bcc-7f35-4f47-2761911ee6b1/test-blob-e9bd6a60-5f9b-753d-5561-9c9d7b802251",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "KAz4ZAhBRHNMe3V/5eQERclqcBYu7DnX8MclLXQhkHqoWyhvEhm0rzZ7rf3GkegmVBnNiUaOuzzTIHNBHBb\u002BK\u002Bv61oq8lTOvtsHfsz87EF/e/tlbVAY0GZ/sm/Glc5IgfIIRzLpear7mHtOFrwj8lw8UYh49o9fkxr3qz/lBCUIuvza9KUSkgJMadDUzrmmW8ATikRF04tmqLQX8c5vEpRSQVu/SPm3Kb\u002BGKIi6hsRdTVN/1XngxudxcEvw/qAz4Vs8holh6w7GWFyIv6sCqCXvtqR\u002B7z0acX50SdStxi8fVkstefw\u002B/2ZAuX0dVAs8csgmBUf7tPYeJhEK6Z06[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a6ff0647-2bcc-7f35-4f47-2761911ee6b1/test-blob-e9bd6a60-5f9b-753d-5561-9c9d7b802251",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:07 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBD2BA946D\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:07 GMT",
        "x-ms-blob-content-md5": "XM8nngfN8MxTwhzKJlC2Bw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 06 Jul 2024 20:40:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAoDPhkCEFEc0x7dX/l5ARFyWpwFi7sOdfwxyUtdCGQeqhbKG8SGbSvNnut/caR6CZUGc2JRo67PNMgc0EcFv4r6/rWiryVM6\u002B2wd\u002BzPzsQX97\u002B2VtUBjQZn\u002Byb8aVzkiB8ghHMul5qvuYe04WvCPyXDxRiHj2j1\u002BTGverP\u002BUEJQi6/Nr0pRKSAkxp0NTOuaZbwBOKREXTi2aotBfxzm8SlFJBW79I\u002Bbcpv4YoiLqGxF1NU3/VeeDG53FwS/D\u002BoDPhWzyGiWHrDsZYXIi/qwKoJe\u002B2pH7vPRpxfnRJ1K3GLx9WSy15/D7/ZkC5fR1UCzxyyCYFR/u09h4mEQrpnToUkjFpZV[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a6ff0647-2bcc-7f35-4f47-2761911ee6b1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "929989868",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
