{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-be693cf1-1176-fec1-d1de-b45207f763ea?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E08F47A4E\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-be693cf1-1176-fec1-d1de-b45207f763ea/test-blob-d158b65c-1b7e-efc7-dd95-5878f51a4e83",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\u002B3deJWZO8UxTUGtQmKWMIkgIYQ\u002BfoRH3elni1BkYhVUVRCD6UG9FoQYKbonEvGnSqWmIi5sAlFpmZ6sMbBwyOsoWOlSFkdLYwr8IlDKIMr3wECuwkPq5Fa/GlOnEOTXq2DS\u002BroEVTReWr8nb9/8n3jTtHFzwgqrQXCWkvv3pE4mKHrz\u002ByYM828ITGeEx3h2vnrW01xzZ\u002BVWJ7lFbcI4arZs/UdlDKRWwsUGZ3GjJn34I9SBHNDxssCRndNsy4Go0\u002BWxF8YxDbHSgAybbPx3twE/TU3tt03he06C127U6ftDWZeP8g63xxIirpjEVkHAGerOLXozuxiXz5h[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-be693cf1-1176-fec1-d1de-b45207f763ea/test-blob-d158b65c-1b7e-efc7-dd95-5878f51a4e83",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E0903B252\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:52 GMT",
        "x-ms-blob-content-md5": "rqSpv60lN\u002Brbnr8pQ3wzJQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "h7QWhHD6/88=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:41:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\u002B3deJWZO8UxTUGtQmKWMIkgIYQ\u002BfoRH3elni1BkYhVUVRCD6UG9FoQYKbonEvGnSqWmIi5sAlFpmZ6sMbBwyOsoWOlSFkdLYwr8IlDKIMr3wECuwkPq5Fa/GlOnEOTXq2DS\u002BroEVTReWr8nb9/8n3jTtHFzwgqrQXCWkvv3pE4mKHrz\u002ByYM828ITGeEx3h2vnrW01xzZ\u002BVWJ7lFbcI4arZs/UdlDKRWwsUGZ3GjJn34I9SBHNDxssCRndNsy4Go0\u002BWxF8YxDbHSgAybbPx3twE/TU3tt03he06C127U6ftDWZeP8g63xxIirpjEVkHAGerOLXozuxiXz5h7sjpC/ZoRVBNo58D2h4Y7ywixHSEIvrmEBriBD5569CZyPBTb37ECtwIyW[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-be693cf1-1176-fec1-d1de-b45207f763ea?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "839883664",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
