{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5aa7c01f-8283-4f69-f679-7e4df4ed6ffe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E3F5AD2B6\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5aa7c01f-8283-4f69-f679-7e4df4ed6ffe/test-blob-e4b20b96-c55d-e010-2244-5439672f29d0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "aSMatRRW2xXh2GiAD1hVp4GEP6kEwnVyYbv2FQmbBvnL/6fWM0Llt27Ty7BDXgSSjljBQ7iNb6etqFRYYMYMRtFvtRCxfnQ\u002Bnoc7MPfFLwO3Y4ew2cJBPpAAKIvujFaoxoTe1Kj04A/kg6UwUT6v6HlRofw\u002BXG0PLXd/sVboTxEwk2py5lpaw4J3y1UdEOxRUEASnetaaWoXz6YxdC\u002B5\u002BzOTAL3UPQEe9t56xpAX8R2KLWEW1rEm1ikAWxe0KE5Tvs8iihAvfRI\u002B86YN4KLZAN2IpkbNoyWBbCmT1OHqac6PJgjA9WcNW7BO1\u002BMLGfaHJls6K4IIhRqqoB[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5aa7c01f-8283-4f69-f679-7e4df4ed6ffe/test-blob-e4b20b96-c55d-e010-2244-5439672f29d0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E3F6ACE43\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:24 GMT",
        "x-ms-blob-content-md5": "jzG6AfTN2C1pap7cYrfaUA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "uz4IAjQtIMg=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:43:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "aSMatRRW2xXh2GiAD1hVp4GEP6kEwnVyYbv2FQmbBvnL/6fWM0Llt27Ty7BDXgSSjljBQ7iNb6etqFRYYMYMRtFvtRCxfnQ\u002Bnoc7MPfFLwO3Y4ew2cJBPpAAKIvujFaoxoTe1Kj04A/kg6UwUT6v6HlRofw\u002BXG0PLXd/sVboTxEwk2py5lpaw4J3y1UdEOxRUEASnetaaWoXz6YxdC\u002B5\u002BzOTAL3UPQEe9t56xpAX8R2KLWEW1rEm1ikAWxe0KE5Tvs8iihAvfRI\u002B86YN4KLZAN2IpkbNoyWBbCmT1OHqac6PJgjA9WcNW7BO1\u002BMLGfaHJls6K4IIhRqqoB3mm6kwVIrYfbmaGAt2e0qWf8tBdlMzDK2Grz1Lh6HtFlVKJsAHHYNYMps9[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5aa7c01f-8283-4f69-f679-7e4df4ed6ffe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1458878881",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
