{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5abe6722-bde1-44d9-602b-b7be6aa2af7b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E07018487\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5abe6722-bde1-44d9-602b-b7be6aa2af7b/test-blob-88a8b592-2374-c10b-23d1-90d2cb6678d7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "cC4rIOCBqQJHwsT1gMBwSDK5lMdYJpBIE8ZtHLEzSYqPxKml7NccqPlHQScFNEE1oyW5\u002BHaUH0md4g0aE41QFHg6ZrsXyltbnezOEOVoQt6FOHmMelET\u002BqVgBwnKApRs9iyvy86FHdjJXVqKxg5jNKAulNsTxJknJ2sVt8NRkZtXYhq4uXcQ/xqhwh33iDSX/NJpm225WDGTiKRjb2YVd8y/MmTzqnspHpTBcgJ8L542frrw6PUtngnoJTHSrI\u002BzjEpQN1XQo1JXP33Z\u002BOUuFlgFLfGsJI/XkpRaC4RJVnEEDea4K/hIZdtnmKh3VKYkuQ/ZzH\u002BeB2e7eaXBdpf[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5abe6722-bde1-44d9-602b-b7be6aa2af7b/test-blob-88a8b592-2374-c10b-23d1-90d2cb6678d7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E0710BC2F\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:49 GMT",
        "x-ms-blob-content-md5": "wff2u6AIJW\u002BJMSsXXv3JZQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "lHHhbvR7y1E=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:41:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "cC4rIOCBqQJHwsT1gMBwSDK5lMdYJpBIE8ZtHLEzSYqPxKml7NccqPlHQScFNEE1oyW5\u002BHaUH0md4g0aE41QFHg6ZrsXyltbnezOEOVoQt6FOHmMelET\u002BqVgBwnKApRs9iyvy86FHdjJXVqKxg5jNKAulNsTxJknJ2sVt8NRkZtXYhq4uXcQ/xqhwh33iDSX/NJpm225WDGTiKRjb2YVd8y/MmTzqnspHpTBcgJ8L542frrw6PUtngnoJTHSrI\u002BzjEpQN1XQo1JXP33Z\u002BOUuFlgFLfGsJI/XkpRaC4RJVnEEDea4K/hIZdtnmKh3VKYkuQ/ZzH\u002BeB2e7eaXBdpfNDekL1Or/dupfvccWRIzmXz7tNlF1cInyZgV\u002B/LJThu9DmYu/a3\u[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5abe6722-bde1-44d9-602b-b7be6aa2af7b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1078236682",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
