{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ebcd7ba9-af59-5ce7-1602-71eeea26954b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4D092A8D8B98\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ebcd7ba9-af59-5ce7-1602-71eeea26954b/test-blob-8f67f510-d775-1042-53af-45f8f0547d0c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "XmTdZRYc/BCSzABnIZ8beIEHlKLiUS5yLId0ZjZIrLXI2ejcvxxTPEszslDeBFdKkOkfTaGH0Q02ajiPqJbZSSBKn0i2Prlks1dWrp7dlCgwKdVNKV4UQQfapVTjxJS1WWgwk2QOlFEvuplJMCJuWNYQXn7Aix/BNl5A25hkge7CoVU2rQDDIpWEHW/EyhDla01\u002B0mYW9M1Ibl0Gzbi4yzirh4/NOKvVTTzoPG2w/GtNW29L5a6IrKyH7T\u002BjvFTdy1I2GUOBFzOiqIUpLrhfmHHyuHJIbOaJItviRkprMpDnC3AbeeMozEM8qTwpX330J1XOsQPilF9srfdontHoNnb0QSJIRB6Oye[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ebcd7ba9-af59-5ce7-1602-71eeea26954b/test-blob-8f67f510-d775-1042-53af-45f8f0547d0c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:34 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4D092A9C37DA\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:34 GMT",
        "x-ms-blob-content-md5": "w4fOP\u002BqaZhkd785ACr02nw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 25 Mar 2024 20:21:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABeZN1lFhz8EJLMAGchnxt4gQeUouJRLnIsh3RmNkistcjZ6Ny/HFM8SzOyUN4EV0qQ6R9NoYfRDTZqOI\u002BoltlJIEqfSLY\u002BuWSzV1aunt2UKDAp1U0pXhRBB9qlVOPElLVZaDCTZA6UUS\u002B6mUkwIm5Y1hBefsCLH8E2XkDbmGSB7sKhVTatAMMilYQdb8TKEOVrTX7SZhb0zUhuXQbNuLjLOKuHj804q9VNPOg8bbD8a01bb0vlroisrIftP6O8VN3LUjYZQ4EXM6KohSkuuF\u002BYcfK4ckhs5oki2\u002BJGSmsykOcLcBt54yjMQzypPClfffQnVc6xA\u002BKUX2yt92ie0eg2dvRBIkhEHo7J7C4Lwqlf[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ebcd7ba9-af59-5ce7-1602-71eeea26954b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "469215031",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
