{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-cc6be03d-47c1-679f-84db-c2acfa38817d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBD9FC4B37\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-cc6be03d-47c1-679f-84db-c2acfa38817d/test-blob-71c4b1b2-5c1b-717b-a1e1-37f5d1242bb1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "UKxbSKNa2dpQe4NczmpZg2HktfM9OEA4WOyRSpNryslVNuNipjE6my4g\u002BMH3aRTDCkzCQMocBRhrIu\u002B3yY5H5bG5BpiG990vqhnFHEB/QO/XzUBGqIn/ODDL9oNCgtKf2RIPPmJ8PBJvkpWwV\u002BnX6\u002BEA3/tOAD0ous1nuwBZ7ShHJkIucAKMW5Et1xXzT\u002BFH9AuiQaLXUNnV54SUFIERFaVtaTGmqXredIRqICgnNGvsIMf0tquFb9VoWYl990cPHMJwheWwoEqQxM0ebTCxrbIZqPO6HF/56PlbPlDxYHw8WgRmt66FPIB8ZPLdZgKlt6vWZE5UVf9jdp3sVGL[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-cc6be03d-47c1-679f-84db-c2acfa38817d/test-blob-71c4b1b2-5c1b-717b-a1e1-37f5d1242bb1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "bTSo4JkGkDG4E9XEbep33A==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBDA0A3807\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:20 GMT",
        "x-ms-blob-content-md5": "bTSo4JkGkDG4E9XEbep33A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 06 Jul 2024 20:40:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "UKxbSKNa2dpQe4NczmpZg2HktfM9OEA4WOyRSpNryslVNuNipjE6my4g\u002BMH3aRTDCkzCQMocBRhrIu\u002B3yY5H5bG5BpiG990vqhnFHEB/QO/XzUBGqIn/ODDL9oNCgtKf2RIPPmJ8PBJvkpWwV\u002BnX6\u002BEA3/tOAD0ous1nuwBZ7ShHJkIucAKMW5Et1xXzT\u002BFH9AuiQaLXUNnV54SUFIERFaVtaTGmqXredIRqICgnNGvsIMf0tquFb9VoWYl990cPHMJwheWwoEqQxM0ebTCxrbIZqPO6HF/56PlbPlDxYHw8WgRmt66FPIB8ZPLdZgKlt6vWZE5UVf9jdp3sVGL5n2NQ4hIrS/YElGxyPbhsHIH3toalG/wu6AQFA0AQmecegsSPjITveWy10[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-cc6be03d-47c1-679f-84db-c2acfa38817d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "867736790",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
