{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0b423fdc-b0ac-041b-074d-b7ee6ca89f7d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E405733BF\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0b423fdc-b0ac-041b-074d-b7ee6ca89f7d/test-blob-ca68651d-f01f-b56a-a3fa-41f00d0d2808",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "jHaHn8tJdzAXxfmwWqIr1wXfx31Kc3QdBbIMUvW6Mh0XZuxhqagM3XctE0MasScPLt9oay1npRkCaZoZPSU7XZLbmPO1yS1c0uoGHF8xA1OK/CQVUcbvr8HTX0AN859S8bawPhg0WWSyC5lDYIm50GZHjkAAJQvL6\u002Bgy4WrtTt5KtCqpgcU7VqO/Y0YtrE44Go/axmVfUcuq5FIvAXf6xL26\u002BaxeD0\u002BgCzidQcLFnj\u002Ba\u002BsfaE4d462Je/5xyDFQrxJ6JcrKi2Qo/ObstwQ8J5EYSlQewILE1QQ5K/w\u002ByLv/jcX0jPCuM9yC9mtnMSylTVRtWX3ZNe6TtUz[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0b423fdc-b0ac-041b-074d-b7ee6ca89f7d/test-blob-ca68651d-f01f-b56a-a3fa-41f00d0d2808",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E40672F6E\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:25 GMT",
        "x-ms-blob-content-md5": "WduLBlPmho3kAaJ13i7jUA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "hCZ7/t7XpO8=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:43:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "jHaHn8tJdzAXxfmwWqIr1wXfx31Kc3QdBbIMUvW6Mh0XZuxhqagM3XctE0MasScPLt9oay1npRkCaZoZPSU7XZLbmPO1yS1c0uoGHF8xA1OK/CQVUcbvr8HTX0AN859S8bawPhg0WWSyC5lDYIm50GZHjkAAJQvL6\u002Bgy4WrtTt5KtCqpgcU7VqO/Y0YtrE44Go/axmVfUcuq5FIvAXf6xL26\u002BaxeD0\u002BgCzidQcLFnj\u002Ba\u002BsfaE4d462Je/5xyDFQrxJ6JcrKi2Qo/ObstwQ8J5EYSlQewILE1QQ5K/w\u002ByLv/jcX0jPCuM9yC9mtnMSylTVRtWX3ZNe6TtUzCkWNr6jQq7SU\u002BS5qcbhp3m8oXXaPbk9qn0XM6IlfbZNuj6559Fwg3[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0b423fdc-b0ac-041b-074d-b7ee6ca89f7d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:25 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "574267813",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
