{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-236bf7ff-5810-6782-c95e-b62560cd4875?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E3DE549DD\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-236bf7ff-5810-6782-c95e-b62560cd4875/test-blob-316204d6-2331-8de9-3af7-8e9fac26f514",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Nss3ZBDKyI8rS6UGYMlsMSAbDlPtQWrnNi01XJf0YdpOwYEvX9qKTERQ2r/1UjlsXqW2o5RnSPVgUC3ilWz3NunLuJ9HPdJFkMIPnWaq8eT0yP3yPr1F5niMzw6sp7fXWKPVKZmZJSHTcRLSWKuOtV5J7cxuBfgrhtInu23DmegKN0XC1cdKW6PcH82rco7M/hmvYrrqaFKrqaPHcWqzD9cpxyBmy\u002BCX/pIpkuYrgBREWrxUEzYuIM/yFyskg\u002Bk5KQ/1gaptZjI5GGQnwdZsfymOgxetX/ug\u002BqdRdLO1cnuo8GnWNv5q1vSJG/vSB1/4hZgBlgDSi8oUVIYCHPF/g6boftFtl[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-236bf7ff-5810-6782-c95e-b62560cd4875/test-blob-316204d6-2331-8de9-3af7-8e9fac26f514",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E3DF4A940\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:21 GMT",
        "x-ms-blob-content-md5": "/Kb9I6rpHc4RfrUAot0pig==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:43:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "Nss3ZBDKyI8rS6UGYMlsMSAbDlPtQWrnNi01XJf0YdpOwYEvX9qKTERQ2r/1UjlsXqW2o5RnSPVgUC3ilWz3NunLuJ9HPdJFkMIPnWaq8eT0yP3yPr1F5niMzw6sp7fXWKPVKZmZJSHTcRLSWKuOtV5J7cxuBfgrhtInu23DmegKN0XC1cdKW6PcH82rco7M/hmvYrrqaFKrqaPHcWqzD9cpxyBmy\u002BCX/pIpkuYrgBREWrxUEzYuIM/yFyskg\u002Bk5KQ/1gaptZjI5GGQnwdZsfymOgxetX/ug\u002BqdRdLO1cnuo8GnWNv5q1vSJG/vSB1/4hZgBlgDSi8oUVIYCHPF/g6boftFtlkkqJKwiI0MAzvNIWO4bs9x71mSfweF3Z7kCCpdU6YiNi\u002B9P13FTr2[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-236bf7ff-5810-6782-c95e-b62560cd4875?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "318788169",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
