{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4b1f3859-a2ba-fe12-f3d9-c61ae9a0e8c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E428F6FF5\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4b1f3859-a2ba-fe12-f3d9-c61ae9a0e8c7/test-blob-9907c691-6eaa-0f54-d075-b6f1b820f3e1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "C\u002B4QjaYMmUcLBS33fmTbQisDB9atUfVcOcINHu7XSWZvU6E0oB8cB3mri83m7mAvSeApzK98Irr5tFTk/ntYNLvGhyrCpqIL5/9dAcUndUph3tQOrny38jDnO\u002BvLOAj9UlYRIGc2baI\u002BHeWvHiD00T8KgyCmSoY/D5T622u2QK72YK9vFVXiKnAx0JCWB9MP8mmswbToVwjQ0hHTO5E3iNw2uL5xhbvqJ1ivdHn1qAfA6ugBCX/5DginnkNDD\u002B/f\u002Bki0YE4Unm2twplcOeKO2yoJElGoNX5dPKq2yud4phhpz3oxQEe5q0t7VEblndQmGMIYOvydNsTKViOjXtS[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4b1f3859-a2ba-fe12-f3d9-c61ae9a0e8c7/test-blob-9907c691-6eaa-0f54-d075-b6f1b820f3e1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E429E5A2A\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:29 GMT",
        "x-ms-blob-content-md5": "/cRy1ii87u\u002BVXTMUjQQ/JA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "brgDizC\u002BIzM=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:43:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "C\u002B4QjaYMmUcLBS33fmTbQisDB9atUfVcOcINHu7XSWZvU6E0oB8cB3mri83m7mAvSeApzK98Irr5tFTk/ntYNLvGhyrCpqIL5/9dAcUndUph3tQOrny38jDnO\u002BvLOAj9UlYRIGc2baI\u002BHeWvHiD00T8KgyCmSoY/D5T622u2QK72YK9vFVXiKnAx0JCWB9MP8mmswbToVwjQ0hHTO5E3iNw2uL5xhbvqJ1ivdHn1qAfA6ugBCX/5DginnkNDD\u002B/f\u002Bki0YE4Unm2twplcOeKO2yoJElGoNX5dPKq2yud4phhpz3oxQEe5q0t7VEblndQmGMIYOvydNsTKViOjXtSFNByB82loXZriT2cFLeE3d5/Vj7ElYGsby5m1Z\u002BokFUx39h8qZKlr[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4b1f3859-a2ba-fe12-f3d9-c61ae9a0e8c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1557217255",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
