{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1a6b02c9-4386-f956-4a62-3228c3396bb7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E3EE099A5\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1a6b02c9-4386-f956-4a62-3228c3396bb7/test-blob-36de556a-d492-5c36-9448-a4e99e32137f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "LaHbdCRC7Mc9tI4z4n9JMDA6kIMi7TKNOY9hjA1TyghUBakOPr3UVVNOQNGBr7bGXcNBsvF7OEBvTTuU4V\u002B66umF3tzVOvJzZjsv061hC4rZmi9JERgW2M1pn/CCP3T0lFXn/NDa8CLRzku2TGWSDkKwukYwcdnRbgYPbJsB8SbGOz9YeQ\u002B5/6kMeEPMYIxo1pCu0YUuwyN8Fo3Ky4SHz9wk8BElOpQy9rucJPiVBA55ppYKUx\u002BhmHcc22OC7zQlhalmp296Qpz7fNrKkZ8q5hF\u002BUCTufHu9g1eZCV4wsAeHdp9PLlye/2T5D9dE1wbY8vRSA54PNwktqSQX4Dk9y8vT[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1a6b02c9-4386-f956-4a62-3228c3396bb7/test-blob-36de556a-d492-5c36-9448-a4e99e32137f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "KxrkKAzzTF89wumn357kJQ==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E3EEF83D2\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:23 GMT",
        "x-ms-blob-content-md5": "KxrkKAzzTF89wumn357kJQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:43:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "LaHbdCRC7Mc9tI4z4n9JMDA6kIMi7TKNOY9hjA1TyghUBakOPr3UVVNOQNGBr7bGXcNBsvF7OEBvTTuU4V\u002B66umF3tzVOvJzZjsv061hC4rZmi9JERgW2M1pn/CCP3T0lFXn/NDa8CLRzku2TGWSDkKwukYwcdnRbgYPbJsB8SbGOz9YeQ\u002B5/6kMeEPMYIxo1pCu0YUuwyN8Fo3Ky4SHz9wk8BElOpQy9rucJPiVBA55ppYKUx\u002BhmHcc22OC7zQlhalmp296Qpz7fNrKkZ8q5hF\u002BUCTufHu9g1eZCV4wsAeHdp9PLlye/2T5D9dE1wbY8vRSA54PNwktqSQX4Dk9y8vTQhsA2ri04FG/9G2keKxRwRZp3qxpdz6VIoQ4hh4qvEQLcZTr1xg8nSNMUE[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1a6b02c9-4386-f956-4a62-3228c3396bb7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "363553426",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
