{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-60199611-1c78-485b-27e2-d7315b627714?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:39:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7F3D2B284F04\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:39:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-60199611-1c78-485b-27e2-d7315b627714/test-blob-501e416a-6adf-89e3-2b6b-00fc057e42e4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 28 May 2024 17:39:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "L33o8ELH0NN0rpIIYFoSNUZ0/fMQT\u002Bpnk2TvvupiEGoAqdK4CqsgbJd\u002Bsnp9CfI73B145WZ8A9\u002BSgF3e2BLpEp4oCLaHWSubVJFckZ1v6Ypxs\u002BHM6SoDg6bzJolOQZSFlJ/cVQE7tIPy3ZDUIHFCIpfSbSQwHSlzJIQQkzOhTBP91v39k5SJNf9e2guZLmI0sAPye9NvVHd2aDB8KiBPUJB910pzRY8DSTgl0kId2fUi2\u002BIvr9FAjYKGhytjDAreDop6HFcYwWtz7zGaSoE0WI46Wk4\u002BH6C/PUrI7b1knzwuRsS4or2eChp2u8CfpUMAUS\u002BcKLK7o[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-60199611-1c78-485b-27e2-d7315b627714/test-blob-501e416a-6adf-89e3-2b6b-00fc057e42e4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:39:46 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7F3D2B37F621\u0022",
        "Last-Modified": "Tue, 28 May 2024 17:39:47 GMT",
        "x-ms-blob-content-md5": "m8EAAkgxy2Isya8uhU011A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 28 May 2024 17:39:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAvfejwQsfQ03SukghgWhI1RnT98xBP6meTZO\u002B\u002B6mIQagCp0rgKqyBsl36yen0J8jvcHXjlZnwD35KAXd7YEukSnigItodZK5tUkVyRnW/pinGz4czpKgODpvMmiU5BlIWUn9xVATu0g/LdkNQgcUIil9JtJDAdKXMkhBCTM6FME/3W/f2TlIk1/17aC5kuYjSwA/J7029Ud3ZoMHwqIE9QkH3XSnNFjwNJOCXSQh3Z9SLb4i\u002Bv0UCNgoaHK2MMCt4OinocVxjBa3PvMZpKgTRYjjpaTj4foL89SsjtvWSfPC5GxLiivZ4KGna7wJ\u002BlQwBRL5wosrug7um73w1Q064PT/RsA718tdCcTzTHZOAfmAbHnI7Hdo[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-60199611-1c78-485b-27e2-d7315b627714?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 28 May 2024 17:39:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "973984115",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
