{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bebe2d08-43a1-3c7d-310a-39420cb43dd8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E40D3686A\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bebe2d08-43a1-3c7d-310a-39420cb43dd8/test-blob-202134ba-52cf-59b0-7a9c-e5e7aaf22c1f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "6wWdKUvOxjKVARW4EGLtvWy12PNSl\u002BiwjUOOmYDzQZMifS9J1nQ4m1EvEO6xZI4blJc3xTzTYlQd7JsHQCyyocCBlZIzpOf3fDyhIob6/im0cgXpvHxXTxraK\u002BrYMFskfG4uMM776O\u002BwP0gAMUDNI\u002B1yU84nyeVEKkZ3WHj8H0zhfaYXy85buIoVOHwzVx7aDQj8Zt2M/bOI6gWIg492syD8HrSZtVcfFppEEZBoENMnnUtw/7huVH/zjuHI0jT7n4VcNjhqQFex3U9CSOsiINkyYOZDBrNnjsk0pid2VkRmSXILC9qavVz0viJoLAyU0G4HlnJNt5jR9KhuNpkwO4cL[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bebe2d08-43a1-3c7d-310a-39420cb43dd8/test-blob-202134ba-52cf-59b0-7a9c-e5e7aaf22c1f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:26 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E40E252AD\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:26 GMT",
        "x-ms-blob-content-md5": "i6R7tP6y1qYh0hNPD7BvVA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "uAw0iX5ZG6E=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:43:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "6wWdKUvOxjKVARW4EGLtvWy12PNSl\u002BiwjUOOmYDzQZMifS9J1nQ4m1EvEO6xZI4blJc3xTzTYlQd7JsHQCyyocCBlZIzpOf3fDyhIob6/im0cgXpvHxXTxraK\u002BrYMFskfG4uMM776O\u002BwP0gAMUDNI\u002B1yU84nyeVEKkZ3WHj8H0zhfaYXy85buIoVOHwzVx7aDQj8Zt2M/bOI6gWIg492syD8HrSZtVcfFppEEZBoENMnnUtw/7huVH/zjuHI0jT7n4VcNjhqQFex3U9CSOsiINkyYOZDBrNnjsk0pid2VkRmSXILC9qavVz0viJoLAyU0G4HlnJNt5jR9KhuNpkwO4cL3P55FxT/l6KKTkeR/2G8oNa4bsDRGJHZORYxLIfCxIObXFANGrlaCP7Pw2[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bebe2d08-43a1-3c7d-310a-39420cb43dd8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "325424917",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
