{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8f1b6d03-df86-18fe-0502-278b0dbc780b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4D092A51BB02\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8f1b6d03-df86-18fe-0502-278b0dbc780b/test-blob-7a8fff9d-0f74-a0b6-8025-820b4313354a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\u002BQx7xVOxRLEr\u002B5gULi3pUUPxzBs0x9ASSdpzaUXUBuEj1NYiOPniDKzWhT6r95oBf7orJ0gypzI8aXx4PtprV/W28FpXxxhJDr9vXUGRZ1FAceqKqd\u002BY8Syj5s99as7Ray5J9AZAqrii4RiJw0rwqgEqOM3w4a4VHf8ts\u002BBJzKTxnfITR3JLAMcx6MfGDy3hsjvNUjIA4YmANNYHEvbXWBR0lyZY3WKO3zcGvvjmTw7RTACle3ly8LtokxOcQ\u002B7QWpCzUXgHiNXYP3P6\u002BiKRmuTINsX1Mt2aAqZq8EpP8ptJNWRoMv2VycMrzDwFd/aZ1vgu0w0o2yezGE[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8f1b6d03-df86-18fe-0502-278b0dbc780b/test-blob-7a8fff9d-0f74-a0b6-8025-820b4313354a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:34 GMT",
        "x-ms-range": "bytes=0-4194302",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4D092A608EA9\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:21:34 GMT",
        "x-ms-blob-content-md5": "lb8ZTBxy4ALjQjziIilEfg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "qRbJV03t/5Q=",
        "x-ms-creation-time": "Mon, 25 Mar 2024 20:21:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\u002BQx7xVOxRLEr\u002B5gULi3pUUPxzBs0x9ASSdpzaUXUBuEj1NYiOPniDKzWhT6r95oBf7orJ0gypzI8aXx4PtprV/W28FpXxxhJDr9vXUGRZ1FAceqKqd\u002BY8Syj5s99as7Ray5J9AZAqrii4RiJw0rwqgEqOM3w4a4VHf8ts\u002BBJzKTxnfITR3JLAMcx6MfGDy3hsjvNUjIA4YmANNYHEvbXWBR0lyZY3WKO3zcGvvjmTw7RTACle3ly8LtokxOcQ\u002B7QWpCzUXgHiNXYP3P6\u002BiKRmuTINsX1Mt2aAqZq8EpP8ptJNWRoMv2VycMrzDwFd/aZ1vgu0w0o2yezGE/RnZiKiUzYsMW\u002BKGfnMmwCyWaglYqw0BlRIB6OIFo8tRqtxCsroEP[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8f1b6d03-df86-18fe-0502-278b0dbc780b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:21:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "770135869",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
