{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bed81aa6-a835-d508-a085-90ebb0e59f90?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBD3598B7A\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bed81aa6-a835-d508-a085-90ebb0e59f90/test-blob-681c25f7-e3be-ef16-af37-c59520a128d9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "jZ5HNskFN6bxoCDePAOryGEymbDYbGKzQXZMjuMbFN7J2XiLkOyUTMhmQY0yevHR0lSr8SbcuSE8k/RSuKnC1oxCFGKLHzd0nU3ocivUgceFe7uPbyK47SBXT/33QpMeo2oB72WORbIcNlPY9Ef1ZxItzT3uM2ZpiidCNNA6fVu5yc/A05Fi9jUIczjP3/nZYejqynRVMG8El2U9SxHi4bn3Hyp3NZOAy9YH5cAtmqsuadLoT7LnY5lfvDssJKsjJZF/18DOYStUav6eTkqv1v25D\u002BE/\u002BpEHELuRGHlYU6cr478ursLrXwink\u002BS0SBVOsOU\u002BchTJ5Cv/eMcEPUmy/BdX[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bed81aa6-a835-d508-a085-90ebb0e59f90/test-blob-681c25f7-e3be-ef16-af37-c59520a128d9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "AZsiMl/wfWJsstjm3XgW6Q==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBD36A838F\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:08 GMT",
        "x-ms-blob-content-md5": "AZsiMl/wfWJsstjm3XgW6Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 06 Jul 2024 20:40:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "jZ5HNskFN6bxoCDePAOryGEymbDYbGKzQXZMjuMbFN7J2XiLkOyUTMhmQY0yevHR0lSr8SbcuSE8k/RSuKnC1oxCFGKLHzd0nU3ocivUgceFe7uPbyK47SBXT/33QpMeo2oB72WORbIcNlPY9Ef1ZxItzT3uM2ZpiidCNNA6fVu5yc/A05Fi9jUIczjP3/nZYejqynRVMG8El2U9SxHi4bn3Hyp3NZOAy9YH5cAtmqsuadLoT7LnY5lfvDssJKsjJZF/18DOYStUav6eTkqv1v25D\u002BE/\u002BpEHELuRGHlYU6cr478ursLrXwink\u002BS0SBVOsOU\u002BchTJ5Cv/eMcEPUmy/BdXc2qKgCc7zrDZmGasU8elQ2iTGeCTYf\u002BULjb65iK/9JfNXNWrwy\u0[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bed81aa6-a835-d508-a085-90ebb0e59f90?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2046667198",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
