{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6ff8edff-cd92-3aa7-e2f3-ce5c6d3a251f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:12:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4D07F2D55E69\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:12:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6ff8edff-cd92-3aa7-e2f3-ce5c6d3a251f/test-blob-a3e3d968-17cd-351c-ac2b-472e4e25c370",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 25 Mar 2024 20:12:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\u002BUzkrxHXYabIoRHyZpCbwE9/9XgIm3LGo/Gy3s0hs17m/h1RPfM9kJSLwgv2/dnbQsqzJAlAX17ZHQsgJIPYpu2zC2dzSYNcQWXkfdlnz6UX15sDbo9Upp\u002B/eB/nHWwQshsdQ/JxaPhGV\u002BKkXOGEcU1mCU3n1DddXmXIs9FkdCT408u9SYuzpW6jvRetr0q9OgbRgRMeKd3kwOWMqbQn4uK9q4kWxyfCsmPeQxcfr64aCnnLkvIR2qnt2ImmJvu5fNo08APBp3LeD8\u002BvP\u002BXGxBA2cp47XFDwrNHfKe6eG4tnJcc867\u002BrWWMG7IIiYZrDJxR5cLRdfiCKRE[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6ff8edff-cd92-3aa7-e2f3-ce5c6d3a251f/test-blob-a3e3d968-17cd-351c-ac2b-472e4e25c370",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:12:51 GMT",
        "x-ms-range": "bytes=0-4194302",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4D07F2E6914A\u0022",
        "Last-Modified": "Mon, 25 Mar 2024 20:12:51 GMT",
        "x-ms-blob-content-md5": "NazSJh3x9slerrxLXuvpXg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "InFD70PjMjo=",
        "x-ms-creation-time": "Mon, 25 Mar 2024 20:12:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\u002BUzkrxHXYabIoRHyZpCbwE9/9XgIm3LGo/Gy3s0hs17m/h1RPfM9kJSLwgv2/dnbQsqzJAlAX17ZHQsgJIPYpu2zC2dzSYNcQWXkfdlnz6UX15sDbo9Upp\u002B/eB/nHWwQshsdQ/JxaPhGV\u002BKkXOGEcU1mCU3n1DddXmXIs9FkdCT408u9SYuzpW6jvRetr0q9OgbRgRMeKd3kwOWMqbQn4uK9q4kWxyfCsmPeQxcfr64aCnnLkvIR2qnt2ImmJvu5fNo08APBp3LeD8\u002BvP\u002BXGxBA2cp47XFDwrNHfKe6eG4tnJcc867\u002BrWWMG7IIiYZrDJxR5cLRdfiCKREMy4X2DQPRERxoeidlQixg7NG/NzUs3GwHaJKrWCqansaZ7eHjlg6yO3hl/[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6ff8edff-cd92-3aa7-e2f3-ce5c6d3a251f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Mar 2024 20:12:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "594186592",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
