{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a3e458a1-4f53-2540-fa78-6032c2a9dd1b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBD58459B4\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a3e458a1-4f53-2540-fa78-6032c2a9dd1b/test-blob-e6579da0-3788-7c71-e3b7-2794cad9bf2a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "8Ypp1PI88VIXa\u002BgnrgKPPOzKoHtvFoouT8VsKdqmTzo8/kwLVLeiVFToriWpBm7dGTitX\u002BB0NNsAOoQt0Mh3cRyt6q\u002B1g\u002Bg1J0snhmdlhUlWjhCh\u002BO9ayMpxCxoydYSMcD0I/Bu/KJVQeDeUTK1zmrU710G41nksUiLlQ3jNArLHmhYqXIgtl2Z6UIC3xXsd/nBl9p1C1JrE26n52eQcgnWFzbKWST4sDUDbPYX5dY2mx0UIaAwUhcZ8ZYHfNL2BXc4KMvjJhrUyOehdZpYUy2YcUhKfFBlpcEjrGuO8TdmCWd\u002B37kKU3UGQ1i8jtx4wZ5oawuGr4km0oc[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a3e458a1-4f53-2540-fa78-6032c2a9dd1b/test-blob-e6579da0-3788-7c71-e3b7-2794cad9bf2a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "Fkd22J5yvWx\u002BU\u002BaGEfNldA==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBD593567F\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:12 GMT",
        "x-ms-blob-content-md5": "Fkd22J5yvWx\u002BU\u002BaGEfNldA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 06 Jul 2024 20:40:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "8Ypp1PI88VIXa\u002BgnrgKPPOzKoHtvFoouT8VsKdqmTzo8/kwLVLeiVFToriWpBm7dGTitX\u002BB0NNsAOoQt0Mh3cRyt6q\u002B1g\u002Bg1J0snhmdlhUlWjhCh\u002BO9ayMpxCxoydYSMcD0I/Bu/KJVQeDeUTK1zmrU710G41nksUiLlQ3jNArLHmhYqXIgtl2Z6UIC3xXsd/nBl9p1C1JrE26n52eQcgnWFzbKWST4sDUDbPYX5dY2mx0UIaAwUhcZ8ZYHfNL2BXc4KMvjJhrUyOehdZpYUy2YcUhKfFBlpcEjrGuO8TdmCWd\u002B37kKU3UGQ1i8jtx4wZ5oawuGr4km0ocGw3WvSdewP2wy2Xdwjh3XQDj7qRrkpu7NIoYr413aWAkyA5P/VvmBDE9wR[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a3e458a1-4f53-2540-fa78-6032c2a9dd1b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "102544859",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
