{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a996e193-1537-474e-34d7-ee415c1a4e6c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EB168C235\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:52:44 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a996e193-1537-474e-34d7-ee415c1a4e6c/test-blob-5bad1b6a-7631-b1aa-5126-11f335f6c6dd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "QcioccQCNBP2pzwOcAF8Xq8rIs67MA8FcRo2LsJAR8FwMAsCLbf+HFlMKLVm75kL2l/7e4jpuRC4ov+pzAZRtl97nUD1ejD4LAZ1bgdan4KAK1NiRMs4hnb6Sou3VU9S+nFV61FZFmAvA0+CdEoJXgN9KKGz7nKUQhbK+jClQde2InOWBLQwJxTyM0B8thIr8euHOSytnwz/wag6jhswisJ4y1HWc1lPTQCMwLsxF4sEnghEHQeqCINnlkIL9Zj4wal9BOrAVX6RN+wrId5QzakcNvAT7Gy7zcPOb9wWRFdnk/8StBOhQ0mJsuUbfuelF8iZ7r6o5dU9wjYn8uWie/OUw43fPhmWe/KnijqGn07b[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a996e193-1537-474e-34d7-ee415c1a4e6c/test-blob-5bad1b6a-7631-b1aa-5126-11f335f6c6dd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:42 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:36a6733d-901e-0058-3157-6578eb000000\n",
        "Time:2025-12-04T19:52:45.0728628Z</Message><HeaderName>x-ms-range-get-content-md5</HeaderName><HeaderValue>true</HeaderValue></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a996e193-1537-474e-34d7-ee415c1a4e6c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:52:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "397289080",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
