{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-db9192c7-8285-7417-597e-44e0b5752882?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E09AB6E35\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-db9192c7-8285-7417-597e-44e0b5752882/test-blob-670f0173-f15c-7033-c523-53a9783a747a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "uiQtPfDgXpHJyRVVfmcs2dJQ8/6bJWehntGmLJfh4Vt4jvQjUm4EDFdJOVL82p3qWsUTlna425W9i54fOjL66Oe63PByCIZkTOanUesVpcMzu9LSzUvlwLNfZsfP5NElT1FqQf6td1E\u002Br0qPEYmqqOXb7H5gKBqc1Rw9E6K\u002BlGcVgQKaqmPFhUSAkx4AVa4ptL7i9PhTxSc2zWzhcGSvgBriepCHD/2BFWY635X7m4BuE17j3KBvwbvbY9334xTf0RIEHtoeoqXBYN6RGOaROjHsc10Fy6R5c7jUq6wgijFSWg6C932lT3C5InvC3ajVSSirCnC32gVuiqoiSvb5odasP77XD0O0Ry[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-db9192c7-8285-7417-597e-44e0b5752882/test-blob-670f0173-f15c-7033-c523-53a9783a747a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E09BA30CA\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:54 GMT",
        "x-ms-blob-content-md5": "rSQk8GM\u002BC6A\u002BJVx2ryjhLw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "8yIIIcuSaHc=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:41:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "uiQtPfDgXpHJyRVVfmcs2dJQ8/6bJWehntGmLJfh4Vt4jvQjUm4EDFdJOVL82p3qWsUTlna425W9i54fOjL66Oe63PByCIZkTOanUesVpcMzu9LSzUvlwLNfZsfP5NElT1FqQf6td1E\u002Br0qPEYmqqOXb7H5gKBqc1Rw9E6K\u002BlGcVgQKaqmPFhUSAkx4AVa4ptL7i9PhTxSc2zWzhcGSvgBriepCHD/2BFWY635X7m4BuE17j3KBvwbvbY9334xTf0RIEHtoeoqXBYN6RGOaROjHsc10Fy6R5c7jUq6wgijFSWg6C932lT3C5InvC3ajVSSirCnC32gVuiqoiSvb5odasP77XD0O0RyTsS6kot5YP/mKDdH/Bmn8JE23TgwV6wIGlFZ7q/Trl98NMy49bRtIUEkuU[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-db9192c7-8285-7417-597e-44e0b5752882?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1760011409",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
