{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6fb73249-0a89-0230-61ae-e9043cd5841a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBD393FC64\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6fb73249-0a89-0230-61ae-e9043cd5841a/test-blob-83619ad3-82db-c932-6858-77c5b8657461",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "jdFyztYnfexno5BRSHX6ib9fsWTGuqmDk6VLdKtyiX7cCC03ZiCzK1sjY81uvBXaCSiZKq7389Mo7jsx3AhA9RoRdEBHwyOfrIYIolbbFdeQcGqD2V7Q5BRaD3flgU5S426yXEfUk0YE\u002BX4n7lF8TNlkoWudvRu8QZAr7LSsuio4tr/oKbiPu90kft/gqfbD3cKdgN/itCVS9hu3qaaRWD9T7jiRlCIh1OaOeD4825eZaA7xDjlKVQGZlTKd2BE2kiagjLq9MUmffKz5UzznFhqDHUGXoEkFCZg2\u002BP7wg/vUWOUXnE/d2zbFUZKMUQLFsn8YGrvQnvLdmoIhhjlKr/iwJPtWz3nKpU[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6fb73249-0a89-0230-61ae-e9043cd5841a/test-blob-83619ad3-82db-c932-6858-77c5b8657461",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBD3A0FCC0\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:09 GMT",
        "x-ms-blob-content-md5": "kSY4XkUdHxl4DjopFVJfTg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 06 Jul 2024 20:40:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACN0XLO1id97GejkFFIdfqJv1\u002BxZMa6qYOTpUt0q3KJftwILTdmILMrWyNjzW68FdoJKJkqrvfz0yjuOzHcCED1GhF0QEfDI5\u002BshgiiVtsV15BwaoPZXtDkFFoPd\u002BWBTlLjbrJcR9STRgT5fifuUXxM2WSha529G7xBkCvstKy6Kji2v\u002BgpuI\u002B73SR\u002B3\u002BCp9sPdwp2A3\u002BK0JVL2G7epppFYP1PuOJGUIiHU5o54Pjzbl5loDvEOOUpVAZmVMp3YETaSJqCMur0xSZ98rPlTPOcWGoMdQZegSQUJmDb4/vCD\u002B9RY5RecT93bNsVRkoxRAsWyfxgau9Ce8t2agiGGOUqv\u002[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6fb73249-0a89-0230-61ae-e9043cd5841a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "304437394",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
