{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-84c24e6c-85f6-67c9-8a5d-ad66325398a4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E0B53787C\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-84c24e6c-85f6-67c9-8a5d-ad66325398a4/test-blob-c78c78c2-3546-64af-e95a-34727f243fe2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "4ltOc99WHZx1ACVeb/bxfkAORB8KHLXKLWs/KQnx8bgZf/AZvai/yvWsBu5IptVvGkinwWFejMalhEZ0FvSTgw5sRPAG18GYT3kqXRXGgYeV0A/ASi9XuvIqczhhSrQAGYPg22HlaEKGD3HnMy6w3gK/30bl0jneFIn922OINgXFKUSS5qUlsGfMOjq9cIfEepU2oWpuG0ZJAcfX6I3e/dhsIQrpHfhcmi/eGJf\u002BIaQCOGHOUpSaVw79SOXeTsfa7T1iUU982lyc2Qc7jwKvS\u002BAi1K8rEKpD0cn77NUSfUtnBCtanM9VhV0FMXiMX8cLTv0FvHkYrt2SHoCFge6Hily804vXVK8QzU[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-84c24e6c-85f6-67c9-8a5d-ad66325398a4/test-blob-c78c78c2-3546-64af-e95a-34727f243fe2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "6wayiVLZ/Jq5lx1lCoy3XA==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E0B62142A\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:56 GMT",
        "x-ms-blob-content-md5": "6wayiVLZ/Jq5lx1lCoy3XA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:41:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "4ltOc99WHZx1ACVeb/bxfkAORB8KHLXKLWs/KQnx8bgZf/AZvai/yvWsBu5IptVvGkinwWFejMalhEZ0FvSTgw5sRPAG18GYT3kqXRXGgYeV0A/ASi9XuvIqczhhSrQAGYPg22HlaEKGD3HnMy6w3gK/30bl0jneFIn922OINgXFKUSS5qUlsGfMOjq9cIfEepU2oWpuG0ZJAcfX6I3e/dhsIQrpHfhcmi/eGJf\u002BIaQCOGHOUpSaVw79SOXeTsfa7T1iUU982lyc2Qc7jwKvS\u002BAi1K8rEKpD0cn77NUSfUtnBCtanM9VhV0FMXiMX8cLTv0FvHkYrt2SHoCFge6Hily804vXVK8QzU5RJt4xt3IC757YDcHRT1VNx31P0ARvfqcc0Is8NPlN9O8rxoj/YWcOgpFQ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-84c24e6c-85f6-67c9-8a5d-ad66325398a4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1147024762",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
