{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79007cba-1eaa-5879-c4e4-eb6cdca4c760?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:14 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EE81EAE5B\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:16 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79007cba-1eaa-5879-c4e4-eb6cdca4c760/test-blob-5132d45a-c487-afbc-06bc-f2a2c13b9fda",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:14 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "zgb0+i76PAKr2Uxqgw8cU5AerumdnRs1N5EmgvPGkBotlJ3VsM0yKNuER5g42etEC9chqvvNuTHrv8Kd1LoP5UgyPe9xRqPD7IYNGFWD/F6l4XcbpOYeX9ts6vALlFQhdGJPBpz80sQ0Xr11wKHcaMJj9/JC9EBiE90UBVyyuFgx7KPyM/XBqQ+y50UoqJ85j4Itp5xi3oAh7fK+6MxogaZlRNP96TTNok7ikA36OWs+2nbZhBC7zw0i0EYDAsFCSmWfw2TLPKZNYAVOf05zJ7OHgA1WjvyVqnTG2hjuyZ+NoEWnW3YHcp3PiyMLbVC/r6mSe4Kz7LtpChjvBWGNX5dlwN8Iy8w9gA1vhgLYiTwk[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79007cba-1eaa-5879-c4e4-eb6cdca4c760/test-blob-5132d45a-c487-afbc-06bc-f2a2c13b9fda",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:14 GMT",
        "x-ms-range": "bytes=0-4194304",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "UnsupportedHeader",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>UnsupportedHeader</Code><Message>One of the HTTP headers specified in the request is not supported.\n",
        "RequestId:48800b27-101e-0024-1957-655614000000\n",
        "Time:2025-12-04T19:54:16.7799300Z</Message><HeaderName>x-ms-structured-body</HeaderName></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-79007cba-1eaa-5879-c4e4-eb6cdca4c760?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:14 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1064713845",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
