{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e7c0e460-66f2-7e91-0868-40f392b3a254?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBDB571F6E\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e7c0e460-66f2-7e91-0868-40f392b3a254/test-blob-b1b5f45a-7d9d-29b0-fdf0-56220ae280c9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "tWwTVgt2HWH\u002BhcY10l3QM/X6TlU3uqD7twQFQkNNMpFTk31BwRs6LR4a6S7aYWakQomiDUETyPvLGJ8GcdsesFI04T7gj3HawCA3HdFxIFWdYAC6qyVQQMuCdal8M7tC\u002Bzncpn8nxLMXx00g26spWvdJaRHbZAUs46FzXRnHXoxk9SGYlXnWdZxNouPYMGQgWBuxMsqqZ5czr8PdtGeZUGnBu\u002BaJkcV\u002Bc/N0jsEhVLM9UgT9FSvBuY6KZOW2\u002BME1s1J6F3R\u002Bl8dWM77XNdjVElsPoGJinDo9/wJY/y3fx3syP9pvpzw/v7s9p\u002BJt6YS1tFGKplde0[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e7c0e460-66f2-7e91-0868-40f392b3a254/test-blob-b1b5f45a-7d9d-29b0-fdf0-56220ae280c9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ShJC0OQnld\u002BlwWMz/KMhNw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBDB64E5BF\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 06 Jul 2024 20:40:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e7c0e460-66f2-7e91-0868-40f392b3a254/test-blob-b1b5f45a-7d9d-29b0-fdf0-56220ae280c9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC9DFBDB64E5BF\u0022",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:22 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBDB64E5BF\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:22 GMT",
        "x-ms-blob-content-md5": "ShJC0OQnld\u002BlwWMz/KMhNw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 06 Jul 2024 20:40:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAC1bBNWC3YdYf6FxjXSXdAz9fpOVTe6oPu3BAVCQ00ykVOTfUHBGzotHhrpLtphZqRCiaINQRPI\u002B8sYnwZx2x6wUjThPuCPcdrAIDcd0XEgVZ1gALqrJVBAy4J1qXwzu0L7OdymfyfEsxfHTSDbqyla90lpEdtkBSzjoXNdGcdejGT1IZiVedZ1nE2i49gwZCBYG7EyyqpnlzOvw920Z5lQacG75omRxX5z83SOwSFUsz1SBP0VK8G5jopk5bb4wTWzUnoXdH6Xx1Yzvtc12NUSWw\u002BgYmKcOj3/Alj/Ld/HezI/2m\u002BnPD\u002B/uz2n4m3phLW0UYqmV17SFxc8F3Iml5l2a0Kl9f1lah7Q4aYl9FfQFn6iStxUISTTbcNXayXMmSOjMHcqRI63TuZr1na3rCK/bAH0g029Ikoe0Yg6Df/5A0iDgcTgpdHv6/v16EutG8ChmP4k2BXW5g4tDHIFfUDnctItNCtd3scvBJhRyDn\u002BcLbHmHUA1SsyrZu2s5le6m26DXZ5f\u002BeVQ7k39NR9hB7ULpu8PuXL5pym\u002B4ePpyst0BoqlrrChfDOMVS8yeBXtCh84YX9oqyI7yfZ0oRfBZyOCiS6U\u002B5jEqiq7QyQDh28T0ZeE8alLy5toaaS6LNsbiu3Lr\u002B8nGE6GM/dU7Sf9\u002BEKHYI9AfLW6Nr2TLFH0Sn1PuhA5j1BpsYR6EDmPUGmxhE="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e7c0e460-66f2-7e91-0868-40f392b3a254?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "904949217",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
