{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-646c8b6a-0815-0975-cbcb-f56228c65c2a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E4B5E5FA3\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-646c8b6a-0815-0975-cbcb-f56228c65c2a/test-blob-c163a4ec-d2bf-dc73-da45-8e5cfa2798ee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "GZj3ZfPI\u002Bs5UIlqrwWqKOhfDFtMUHo2cFZSWbrAj8hCLwvDmmU4\u002Bg1vi6Xp58DG0QrD8k\u002BMLb/sKWlBeMoseMDBKIP95o6DJhJN4MTQTIyRj4SwAJl8sgFL13D/\u002B31HPxLhKL9AxO54QMw5Pkj3G9jYr\u002B1BeHQrQHaCsg8dgy6VCqG17yfRTMaaN8PJQ3e0UL\u002BUI0uQAcaaueRIwhLfXr2hpDerQSi1C18mq0C0XgD\u002Byl1ThWPjBQTfGzVDiI63utkCK5tACROS4xvoaVqB5lvjSfexi9VdvqMuzCn3cYLQcuxrsjJlvsFNwKZH\u002BpuuWTTZX[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-646c8b6a-0815-0975-cbcb-f56228c65c2a/test-blob-c163a4ec-d2bf-dc73-da45-8e5cfa2798ee",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "z59GbSyQmqoVHq5BqHMGWg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E4B6E0D34\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:43:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-646c8b6a-0815-0975-cbcb-f56228c65c2a/test-blob-c163a4ec-d2bf-dc73-da45-8e5cfa2798ee",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444E4B6E0D34\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:44 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E4B6E0D34\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:44 GMT",
        "x-ms-blob-content-md5": "z59GbSyQmqoVHq5BqHMGWg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "v\u002B38sX2DRmk=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:43:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "GZj3ZfPI\u002Bs5UIlqrwWqKOhfDFtMUHo2cFZSWbrAj8hCLwvDmmU4\u002Bg1vi6Xp58DG0QrD8k\u002BMLb/sKWlBeMoseMDBKIP95o6DJhJN4MTQTIyRj4SwAJl8sgFL13D/\u002B31HPxLhKL9AxO54QMw5Pkj3G9jYr\u002B1BeHQrQHaCsg8dgy6VCqG17yfRTMaaN8PJQ3e0UL\u002BUI0uQAcaaueRIwhLfXr2hpDerQSi1C18mq0C0XgD\u002Byl1ThWPjBQTfGzVDiI63utkCK5tACROS4xvoaVqB5lvjSfexi9VdvqMuzCn3cYLQcuxrsjJlvsFNwKZH\u002BpuuWTTZXD6XAi8DpGj4ETzpm22VF/puGjApeYs2Y8szFcQHfHL1HhVAOWy9ZA3Jba2AZCU4suKhQEMAs\u002BK3YJ5j0JKk8JDN9H1UUN6JrLIiXA/dsf\u002Bl\u002BmLlZjwv8GoyjNjOWZd/IHkYtm\u002Bn4F4AF5OQ4lPW2a6ivdovv45UngQTJcQFv1Maoz\u002BSwP\u002BP/hYE4U6snw4aW7MqL5\u002B9U2DuxBhrkLqV/lQ8dj8UQBSzEsPAJt4/p/71\u002BMoU25O3XVPap/znJGlfbuL6bCjTBheedxzb/SiGrxwZdZvsgSLEhRTrOZwXz\u002BpWZLv7RTvSIvK2dmR222AnV/Tgya7RbunAMecT58h7hqsyhZhwi2nkS1KlOgq8="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-646c8b6a-0815-0975-cbcb-f56228c65c2a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1076218802",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
