{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ccf0d4a4-41a5-2a9b-c13c-27e5d15f2da6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC7FF942BD4687\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ccf0d4a4-41a5-2a9b-c13c-27e5d15f2da6/test-blob-a92ec679-4248-a70d-ac60-d76fb3c1c2e5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 29 May 2024 16:06:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "NIUL66cx0Kcbv3Pk7/ZppBb6U8\u002Bdhgo691oEaazgqfe62G87ETqGYDEaitt1\u002BEfkTqvBjQ0226570fNMLWf7OxV7KReHLZLcdPOdg/suxP8TIBsBHhzqhP3BwEBHOTPKH0/F\u002Bs4wXSAY5RkamFiyTAzzOQ1M\u002BR35kaUZxmxSlDrA02OsaMox4sL66DkC0OulDnQzU/8lfiUyzGgpFpezxlDeWcX0BuNBwldKURHk98C5dLf3H0E7mlU\u002BeZxhB8wrRiLoJHYmsAeR8ZCo2ywUTtSocKLfu6YOor9wtoxG4LuLHgvv\u002B9NKksOwZi2xk74oKivHuZcpTIp72Y[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ccf0d4a4-41a5-2a9b-c13c-27e5d15f2da6/test-blob-a92ec679-4248-a70d-ac60-d76fb3c1c2e5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "WYz/mQCztWRXrEvnDpmTcw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF942CCDEC2\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:06:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ccf0d4a4-41a5-2a9b-c13c-27e5d15f2da6/test-blob-a92ec679-4248-a70d-ac60-d76fb3c1c2e5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC7FF942CCDEC2\u0022",
        "x-ms-date": "Wed, 29 May 2024 16:06:12 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC7FF942CCDEC2\u0022",
        "Last-Modified": "Wed, 29 May 2024 16:06:12 GMT",
        "x-ms-blob-content-md5": "WYz/mQCztWRXrEvnDpmTcw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 29 May 2024 16:06:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAA0hQvrpzHQpxu/c\u002BTv9mmkFvpTz52GCjr3WgRprOCp97rYbzsROoZgMRqK23X4R\u002BROq8GNDTbbrnvR80wtZ/s7FXspF4ctktx0852D\u002By7E/xMgGwEeHOqE/cHAQEc5M8ofT8X6zjBdIBjlGRqYWLJMDPM5DUz5HfmRpRnGbFKUOsDTY6xoyjHiwvroOQLQ66UOdDNT/yV\u002BJTLMaCkWl7PGUN5ZxfQG40HCV0pREeT3wLl0t/cfQTuaVT55nGEHzCtGIugkdiawB5HxkKjbLBRO1Khwot\u002B7pg6iv3C2jEbgu4seC\u002B/700qSw7BmLbGTvigqK8e5lylMinvZgbe2\u002BnpLEdUdvSEkUgFd3d4vVXldDwBHjGF\u002BJiNh0oBzIVKS3Mk1GxzcdgEHBdjGW7lLHDUCfHG2b24ZzOqxvOugsTGvywEU\u002BTpcgZn/P4aIuMtpFrVLcaTg3GxbG04yKroWZ1SnFpC4NiL6pfvXtzDnkRQeR6Y1VD\u002BMzu6Uud7sKlbf6dcy4KE6sd\u002BSUcypCCU8dIk5E\u002BMU4BIUGkihJHxEDnqk\u002BM1YtLBz5JbGowNy48bJV0VUshdzywnFHcZYmYxiTUJSBRBX5L/ZxS9NTT0OojeC18w38FtjMS3Ek5fqGkoJY1XAIN21cnOFe\u002B3oJn3LtnuP1sG/K13n7tTjk1Eo7qvkQyaEUgynmnjqJoRSDKeaeOo="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ccf0d4a4-41a5-2a9b-c13c-27e5d15f2da6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 May 2024 16:06:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1478404043",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
