{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ea1ac971-b1cb-d6ac-2d81-6a034a888227?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:56:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D60D64206E\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:56:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ea1ac971-b1cb-d6ac-2d81-6a034a888227/test-blob-6e488d5d-0e78-74da-8d8e-4e315f643c28",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:56:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DDE5D60D6FB0CF\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:56:06 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ea1ac971-b1cb-d6ac-2d81-6a034a888227/test-blob-6e488d5d-0e78-74da-8d8e-4e315f643c28?comp=block&blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 01:56:06 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADOxHfTz74TEaMTSpGAFOckpdern6oSVUwN13BVRZxbtnNcySqRB8OZl8zNvtnGOPNq9uTUPicqvG4rxvhOvswHt5MdJEu9kp4TEQjdRZhzRp586k+4h3dMMQy7ZkHKS9gAxgdFqRSorGNFwCwfTHfXuH9a0dN8Ti8c0PI+ASxdScYv3X+QLp2J1D7rcsdKLeWV5K7BcHoEg3fXKNgiaao36Hdm72/4Ronh0PyVkNxo0aMNqR19m9hMK1kHuQXFZ2qTtIlP5D11nJ0k3599bvKablY0FcCNuU2eGsQV8I2EHGmRAtxSGO1mlwx/WLs5zrxnbUqukFKqBfo8scp4X6sPoMM17GwWSFVpzn2zDWCRZUsIroND1YsX5vzhFWcj7ThgcLj4A+F[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ea1ac971-b1cb-d6ac-2d81-6a034a888227/test-blob-6e488d5d-0e78-74da-8d8e-4e315f643c28?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DDE5D60D6FB0CF\"",
        "x-ms-date": "Thu, 28 Aug 2025 01:56:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<BlockList />",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D60D851C7C\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:56:06 GMT",
        "x-ms-content-crc64": "g0vf2Kdg954=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-ea1ac971-b1cb-d6ac-2d81-6a034a888227?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:56:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "449410204",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
