{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-24f9576f-bad1-637d-19a3-20f73bcec8ad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E0C85DDB2\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-24f9576f-bad1-637d-19a3-20f73bcec8ad/test-blob-2ffd495c-dfc2-6714-4849-807983d37ac3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "UGvIm8i72T/zRN7u4WPqUWy9EXf/eio4CyO0Todvn1H3TckNAJuaKuqPWj4VrGMeEFaHVuN0i9VAj4\u002BkB4q4g6SN95Oa3VDRI\u002BeMbx/sIl\u002B/lT0x6EltgsL0zXEL9iJf19eZiLTQhDMFtjP86By1VGww5HFNhptbH3XRpQ/fxS3ELJhIUpqq7xEKKzEWcZqlP3kE2xGxElA8Pmk//94jJvAGN7uEbQHShfVgQlppRK3aK2aW2\u002BkbExlHCxQwa/Ay5wVBEDrfIdJ3MVYcUND10/m8ZNN3jEsH6iShPGHsoRkFLVpVJzRy\u002BwmUH6mS/8JJUTgadAYculu6OSYWPeV[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-24f9576f-bad1-637d-19a3-20f73bcec8ad/test-blob-2ffd495c-dfc2-6714-4849-807983d37ac3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "qEqeKGoDQJXkMAVotqwBtQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E0C94EE5C\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:41:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-24f9576f-bad1-637d-19a3-20f73bcec8ad/test-blob-2ffd495c-dfc2-6714-4849-807983d37ac3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444E0C94EE5C\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:59 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E0C94EE5C\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:41:58 GMT",
        "x-ms-blob-content-md5": "qEqeKGoDQJXkMAVotqwBtQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:41:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "UGvIm8i72T/zRN7u4WPqUWy9EXf/eio4CyO0Todvn1H3TckNAJuaKuqPWj4VrGMeEFaHVuN0i9VAj4\u002BkB4q4g6SN95Oa3VDRI\u002BeMbx/sIl\u002B/lT0x6EltgsL0zXEL9iJf19eZiLTQhDMFtjP86By1VGww5HFNhptbH3XRpQ/fxS3ELJhIUpqq7xEKKzEWcZqlP3kE2xGxElA8Pmk//94jJvAGN7uEbQHShfVgQlppRK3aK2aW2\u002BkbExlHCxQwa/Ay5wVBEDrfIdJ3MVYcUND10/m8ZNN3jEsH6iShPGHsoRkFLVpVJzRy\u002BwmUH6mS/8JJUTgadAYculu6OSYWPeVwio88FiN1oKvFSWnK422hdOphWOso0S0T6XL/m\u002B4OXL0kI5QZVeie07GMVSqdUdftGMU7tOX6R7liKS2xdgS9t\u002B2rpb/ZiB4CwoQ5nHwCdpeaEYMp06fYKtvbtiy67Vysz5498awXFI\u002BmOPFgwKs9X7OWFmSAlONF03rj/tHyR9UnjMzdxYTqg/z0gpq1d2ownVd4I9f4Kzu69x0xNBa9s/AcODPfX5ourJJojBFJj1sQs2B6eiP9L2CQIs5muU/mNs6pmT82UD68SXdEkJ8pcWfCIYC2QjnMHgjSTjzLyPNDglVCn/Yc2WMhvTCsuJ/BZrFmpJfOL/OV3Xo2ZAIB8IE="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-24f9576f-bad1-637d-19a3-20f73bcec8ad?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:41:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2118171606",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
