{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-dda49273-c94b-7431-69a8-7f0a395b865a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:23:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD36958912735D\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:23:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-dda49273-c94b-7431-69a8-7f0a395b865a/test-blob-356cfd74-a90c-bbf4-0ec1-4390f862cab1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 17 Jan 2025 01:23:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DD36958921E33C\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:23:23 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-dda49273-c94b-7431-69a8-7f0a395b865a/test-blob-356cfd74-a90c-bbf4-0ec1-4390f862cab1?comp=block&blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Jan 2025 01:23:23 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABz7K+AjdD1rsyi4J0j1wkZcFRJxbf8i0dfKpExWeIdDkhS5n6fuJ3wfvW9LHUoCvEyUnOQpZ6bdmFoIWI/xFXphNJU0fGLebi2WEfBPl7SNh+f/wdvjWiqt28cN5c7sbmg06ei1DkApti62UxX2TgDlepCn8VNevdpqhmCb0Ige6aOIWu2MGLln1gvtLMcUt03GaGs+BH0UlmwOCkffTeVml6myLjMTGWIXABsHsZETVc8S1WgdIKUmc4RBvc4xSEhmRpUdoklasw8I5sRhzSTbOvR4zLh9SXbES/pu0ZuT5beS4Wr79fNF+GIZFDngxKafpkMZ+LvP6P0eGRaO6+GztQEMzyu53wTA8xRWZHU9I0dTjysYei07gvht3ZyctsxApZ84k/[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-dda49273-c94b-7431-69a8-7f0a395b865a/test-blob-356cfd74-a90c-bbf4-0ec1-4390f862cab1?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DD36958921E33C\"",
        "x-ms-date": "Fri, 17 Jan 2025 01:23:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD369589400555\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:23:23 GMT",
        "x-ms-content-crc64": "17m5j6ScWgM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-dda49273-c94b-7431-69a8-7f0a395b865a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:23:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1130553086",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
