{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-61c37afc-5ea7-cb82-d22c-d93e9a378721?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 13:36:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F52FDEFE2C2\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 13:36:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-61c37afc-5ea7-cb82-d22c-d93e9a378721/test-blob-ced11619-b331-e38b-7660-6a4c80abe578",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 13:36:37 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DC9F52FDFDC749\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 13:36:37 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-61c37afc-5ea7-cb82-d22c-d93e9a378721/test-blob-ced11619-b331-e38b-7660-6a4c80abe578?comp=block\u0026blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 13:36:37 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADl2Jwu3DjgdaHWyUcXXfpMIfiK0u\u002Be6ogaAlfZMcgru\u002BFGP/np3AR759JGYG59ev8UCO/KUasRR\u002B0TFNrhB0PZqw1m0B4AY0TzD\u002BsdV4oanYdXxCjYYWo2NfgM1cgpmt\u002BObbVgF6rhE6Wq1kG/9O9i\u002BXdTiUIaAEmjL5sl9I18ynQLjurVuYXcdbGDLYsodkEIqdxQ1RCcc2xrvecPvB4YLgvMtGUFjD/xdxSRl9K\u002BerlZHEuwK/Rkbhp9avyezbmTav9/W8HbAx2dX178C9yZrEMttZ/TZwIXaEVLiCFCU6la/SzTPx73fhktEsyVZ2I\u002B4765cBgavwL8Z/N8kHv7Wgy1oQ2vxmw[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-61c37afc-5ea7-cb82-d22c-d93e9a378721/test-blob-ced11619-b331-e38b-7660-6a4c80abe578?comp=block\u0026blockid=AAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 13:36:37 GMT",
        "x-ms-structured-body"[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-61c37afc-5ea7-cb82-d22c-d93e9a378721/test-blob-ced11619-b331-e38b-7660-6a4c80abe578?comp=block\u0026blockid=AAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 13:36:37 GMT",
        "x-ms-structured-body"[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-61c37afc-5ea7-cb82-d22c-d93e9a378721/test-blob-ced11619-b331-e38b-7660-6a4c80abe578?comp=block\u0026blockid=ABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 13:36:37 GMT",
        "x-ms-structured-body"[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-61c37afc-5ea7-cb82-d22c-d93e9a378721/test-blob-ced11619-b331-e38b-7660-6a4c80abe578?comp=block\u0026blockid=ABQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 13:36:37 GMT",
        "x-ms-structured-body"[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-61c37afc-5ea7-cb82-d22c-d93e9a378721/test-blob-ced11619-b331-e38b-7660-6a4c80abe578?comp=block\u0026blockid=ABgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 13:36:37 GMT",
        "x-ms-structured-body"[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-61c37afc-5ea7-cb82-d22c-d93e9a378721/test-blob-ced11619-b331-e38b-7660-6a4c80abe578?comp=block\u0026blockid=ABwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 13:36:37 GMT",
        "x-ms-structured-body"[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-61c37afc-5ea7-cb82-d22c-d93e9a378721/test-blob-ced11619-b331-e38b-7660-6a4c80abe578?comp=block\u0026blockid=ACQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 13:36:38 GMT",
        "x-ms-structured-body"[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-61c37afc-5ea7-cb82-d22c-d93e9a378721/test-blob-ced11619-b331-e38b-7660-6a4c80abe578?comp=block\u0026blockid=ACgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 13:36:38 GMT",
        "x-ms-structured-body"[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-61c37afc-5ea7-cb82-d22c-d93e9a378721/test-blob-ced11619-b331-e38b-7660-6a4c80abe578?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\u00220x8DC9F52FDFDC749\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 13:36:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-61c37afc-5ea7-cb82-d22c-d93e9a378721?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 13:36:38 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "415823526",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
