{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-18731711-abf2-26e9-9867-f6060d7e8d1f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBE18C7787\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-18731711-abf2-26e9-9867-f6060d7e8d1f/test-blob-2b89d46d-9bda-e97e-1346-e99dbc6ba584",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AjJdfK9Gyk4uF4p4SlnwXHBnfi\u002Bm71vU/JoIE2ASpih7bowE3XrfQhOJb6wjPb\u002B9XgRkTufOTBLXiIAVPbfuHHFi/NzN7H/2iDwcHYCusL7bS7VbrVdArSF6LVT5ygRcmlI7wUDj8HKFbsarsi\u002BRKNfBOfIBkm4ZIk\u002B7Ur8q/L43wIIucu99\u002BFpD1T\u002BRlfry6QR8N5ARWgjkIZ/xJ56zW3EHc/GsY7XoQ0GYvrwviI1UyWi6rcQuJWZ5SVBQjNC7j3rNiSEJRYZOlPROeZtLtJkSnF41\u002BK2s2U2LMhlkl7dx3C9BYf9rS4PiaxnQ4KzKLpW3Pu9xh[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-18731711-abf2-26e9-9867-f6060d7e8d1f/test-blob-2b89d46d-9bda-e97e-1346-e99dbc6ba584",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "HQxA/rCY52qCBH7YYiDvJw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBE19B783F\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 06 Jul 2024 20:40:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-18731711-abf2-26e9-9867-f6060d7e8d1f/test-blob-2b89d46d-9bda-e97e-1346-e99dbc6ba584",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC9DFBE19B783F\u0022",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:32 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBE19B783F\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:32 GMT",
        "x-ms-blob-content-md5": "HQxA/rCY52qCBH7YYiDvJw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 06 Jul 2024 20:40:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAACMl18r0bKTi4XinhKWfBccGd\u002BL6bvW9T8mggTYBKmKHtujATdet9CE4lvrCM9v71eBGRO585MEteIgBU9t\u002B4ccWL83M3sf/aIPBwdgK6wvttLtVutV0CtIXotVPnKBFyaUjvBQOPwcoVuxquyL5Eo18E58gGSbhkiT7tSvyr8vjfAgi5y7334WkPVP5GV\u002BvLpBHw3kBFaCOQhn/EnnrNbcQdz8axjtehDQZi\u002BvC\u002BIjVTJaLqtxC4lZnlJUFCM0LuPes2JIQlFhk6U9E55m0u0mRKcXjX4razZTYsyGWSXt3HcL0Fh/2tLg\u002BJrGdDgrMoulbc\u002B73GGls0gr9N9Emzq/T3cnWwKUpmmUdpSjZTc\u002BaHABIStWMf/VZh0QVCYzXF1gRuTAw5eJEIemJ6XMwk4RLYxvQ3oPaR13UfUlRFJDoRo3Qx4SPWTYuBBjsApaCGOO/yZZhBkjER3HibGio4w1IkZLlb9wPvAnlsspq7jS3UmRVkUr6hzBFDHACrPzNdSEbo3DznLkHsA2Me1OOWVlNKxoEQ1GyThpioGNb/R8dKD2pXzrDw7WrTeE9fgvsxqMmxYHSuTHfWVVWkOxFu7L\u002Bf1MV1QoeeVdUWPVghNAedenANTedSm772gXlfSLZZZIuTv64xuGZCEwqfmBMbtSFSCsChXaLYSTkKgr0OQwxZ9rsbLyNyJFn2uxsvI3Ik="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-18731711-abf2-26e9-9867-f6060d7e8d1f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:32 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "724925930",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
