{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ac48e7b0-057f-f253-c3ca-73b79caf08e8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBDC939696\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ac48e7b0-057f-f253-c3ca-73b79caf08e8/test-blob-91081798-2dfd-5af8-a007-f1625f1b1f79",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "mmE1rmu4/x4LstFfADWfTgf0H0m2vLyQTs9UXeHl\u002BfDWWoPwPxUT31PaQHglR1qOf2Lvp8v/892lpF\u002BcY6I8JrnhiKaxrg/y4ED13HxDawd0xt1/9VIk12amS5q2d3uxnRm/RL603dBS/caLCRdgYThYJ53EvDBmvLFACmN0PGnERD5igydIwOgNLfiMmc1PRephXU/e7ODpWYcNc9Jt3sBcx8XY/d0REGe0t4842iPj8MV5Et4a5lddeSqfOkwWn083L9EHd0cMUE3nKTVRsX9kKYMN9MviQeFueoSzctUanRdAAKpR3Hl9bcKQMrwhDMirOxHJCauDVe3wmfzDWN14zYweEbHUEk[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ac48e7b0-057f-f253-c3ca-73b79caf08e8/test-blob-91081798-2dfd-5af8-a007-f1625f1b1f79",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "P/sESl0PHd4Wi8KOXN8s1w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBDCA1363A\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:24 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 06 Jul 2024 20:40:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ac48e7b0-057f-f253-c3ca-73b79caf08e8/test-blob-91081798-2dfd-5af8-a007-f1625f1b1f79",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC9DFBDCA1363A\u0022",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:24 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "6DlaOjhsGUtf3iVAkhvl7Q==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBDCA1363A\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:24 GMT",
        "x-ms-blob-content-md5": "P/sESl0PHd4Wi8KOXN8s1w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 06 Jul 2024 20:40:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "mmE1rmu4/x4LstFfADWfTgf0H0m2vLyQTs9UXeHl\u002BfDWWoPwPxUT31PaQHglR1qOf2Lvp8v/892lpF\u002BcY6I8JrnhiKaxrg/y4ED13HxDawd0xt1/9VIk12amS5q2d3uxnRm/RL603dBS/caLCRdgYThYJ53EvDBmvLFACmN0PGnERD5igydIwOgNLfiMmc1PRephXU/e7ODpWYcNc9Jt3sBcx8XY/d0REGe0t4842iPj8MV5Et4a5lddeSqfOkwWn083L9EHd0cMUE3nKTVRsX9kKYMN9MviQeFueoSzctUanRdAAKpR3Hl9bcKQMrwhDMirOxHJCauDVe3wmfzDWN14zYweEbHUEk0KkIcJUQ8lTG27CDfEUZRrvKq8YEJ8uRTkGGUvA/sX1ijEv3kkegPey0yPB1CmtHv3slQGF7IKjdZyJDmp9UlypDEOAJIbR0Km3pT27bHEPWTpOFCnEL92uTGislbKNNYCHGMemLTp3GsRXzkdE6AkrebVwLz5y5NymEZgeJXs3Km99NBOpaWwAFzklbCFWKaQfgRv9XQaCFHPrP9tiGPWJYOPXx/P1QhAJb9gFTXi7D\u002Bg0PqQfeY1o\u002Bt/f/mmQnf4DXAt9vmGwKj7LtC0ufMb7MDAzbdpRaidWrs0UFYOmuJHZwfFtfZGGQ9SlU4WgOr4ZJI55XU="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ac48e7b0-057f-f253-c3ca-73b79caf08e8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "583457294",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
