{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-27252e10-f34e-1184-56d5-460892f0235e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD4BC108D6\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:10:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-27252e10-f34e-1184-56d5-460892f0235e/test-blob-b4f60465-d6cb-04e9-c2a0-fa9070ed64d0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DCDCDD4BCEC466\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:10:19 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-27252e10-f34e-1184-56d5-460892f0235e/test-blob-b4f60465-d6cb-04e9-c2a0-fa9070ed64d0?comp=block&blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:19 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACGfuZzLkgJ2Hx8Y0cPW0ezTqTVcFrB7VhkFpYMChp8Y4pao0u8E3TqGL3l9CEQItE3ekiIiwsuxJCNDhey/M5h//+8tbj89zsv61ic3Po3VPTF1I/S9Nh/K967LgRcNxvvhPUiU20ZO4MNWJ+ykuiXVrkj7Sc+jwonPYrZQMg207Q9rVgEFAGHq5kMxJw4zJn2JNhLOUrzsPXq+hbiP/q614TrdeSQk0G4m0GOMcpu7nDw4xzw65ppSfxiGRrqpGyeUu0XTVe0ZpGWkp0JZX8qewum8lzeyuvqgSzoLXknzffU8N/dV6AYO32LWVn8YOR9OJ4ORLIQwIcBLMwrzDgXb8SmNHWfTSNqjbbeUnCS7iBHa/XaGIlFxC9Y2yvU7W9Ec+qUVix[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-27252e10-f34e-1184-56d5-460892f0235e/test-blob-b4f60465-d6cb-04e9-c2a0-fa9070ed64d0?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DCDCDD4BCEC466\"",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\uFEFF<BlockList />",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD4BE7CA87\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:10:19 GMT",
        "x-ms-content-crc64": "g0vf2Kdg954=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-27252e10-f34e-1184-56d5-460892f0235e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "28533192",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
