{
  "Entries": [
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3364ef5e-1a5b-464e-fc09-2761ab42e7ce?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6AC2B27B1\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3364ef5e-1a5b-464e-fc09-2761ab42e7ce/test-blob-1e23a22f-a32a-ec46-35a6-d0053cc05e51",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DD5AB6AC34CF9E\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:17 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3364ef5e-1a5b-464e-fc09-2761ab42e7ce/test-blob-1e23a22f-a32a-ec46-35a6-d0053cc05e51?comp=block&blockid=AAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:17 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADXF4HY9m/9WCegxEYguBWF6kABQgmAcOopVy+M4/2PqlJJvRn0RfDxa98/vUN4PNplnOD0w3+mVqaXr58/cHUqEBnz1/v8kaRQD9YpQbOmsBtVJkYcm+fSomZzXZZRsftqFawqhWTfaQs8pLOofRTz8P+D6kkvDXUxIDSUiDMO/l7bvywGfCq2drw64PY0KSVRf2yXzcexOgc3+GUvSuDYLaVVzb3o7XTUzXSM9S1+/fYPQgnGdzGWKoQlzoPFhivcYbJR31xnaZL4wv9TJEXZufpuIAjXEbZzvqI4wh7wD0ZIsJN7LB6ZqNh3zrQxQgU/SxWJVmYjBFD73SC5LqdzB7K5CnOxXozc1XgvYEMBQXud+HYJZ7ngJaxDf0/933kxA8cBeDe[...]
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3364ef5e-1a5b-464e-fc09-2761ab42e7ce/test-blob-1e23a22f-a32a-ec46-35a6-d0053cc05e51?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "If-Match": "\"0x8DD5AB6AC34CF9E\"",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "\uFEFF<BlockList />",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5AB6AC477F47\"",
        "Last-Modified": "Tue, 04 Mar 2025 00:51:17 GMT",
        "x-ms-content-crc64": "g0vf2Kdg954=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-3364ef5e-1a5b-464e-fc09-2761ab42e7ce?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 04 Mar 2025 00:51:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "309174754",
    "Storage_TestConfigDefault": "ProductionTenant\n9qdxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://9qdxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://9qdxscnblz04pez100ax.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://9qdxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://9qdxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://9qdxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://9qdxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://9qdxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://9qdxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=9qdxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
