{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2039b46e-d1f7-4caf-544a-ae9d3bf2820b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBE0F2A8D5\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2039b46e-d1f7-4caf-544a-ae9d3bf2820b/test-blob-450b4808-6e2a-7ded-f0eb-080c56bdbbdd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "ynquepZzBteZtgF7ZEXaNE7Fsjr7fGpWYzy/U2tnqNBOf6D3cYJRd/ofbOvlnXuPf/dlFJzz8U4PWBZas7JsMQ0xLOWl48PLdDtA3BB/ccXBMNNzAZMzWo1S5xlr98RHszrds3CV6pw0maBhsxU9kOZQmILe\u002BDB5/dFYU/ypYHx2\u002BCjVob1VLEU3P2fz0qd4FFYyGl9BabsKZLaePZefijkk6rvsaO8p\u002B2w8prjIhioq4D6ld0YcNI5tyz0Gtu6umLUuz\u002Bjsi6xnCR7yBMICQt2MdF1Y\u002BRPyB7Usf5yyIkR9jg4DmbdBPVSSPm4nKi/MaolfekGRVZ6hPMcywAs[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2039b46e-d1f7-4caf-544a-ae9d3bf2820b/test-blob-450b4808-6e2a-7ded-f0eb-080c56bdbbdd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "O0LIFHc6hYZ/iqQ0HTULqQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBE0FFD4CD\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 06 Jul 2024 20:40:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2039b46e-d1f7-4caf-544a-ae9d3bf2820b/test-blob-450b4808-6e2a-7ded-f0eb-080c56bdbbdd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC9DFBE0FFD4CD\u0022",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:31 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBE0FFD4CD\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:31 GMT",
        "x-ms-blob-content-md5": "O0LIFHc6hYZ/iqQ0HTULqQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 06 Jul 2024 20:40:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADKeq56lnMG15m2AXtkRdo0TsWyOvt8alZjPL9Ta2eo0E5/oPdxglF3\u002Bh9s6\u002BWde49/92UUnPPxTg9YFlqzsmwxDTEs5aXjw8t0O0DcEH9xxcEw03MBkzNajVLnGWv3xEezOt2zcJXqnDSZoGGzFT2Q5lCYgt74MHn90VhT/KlgfHb4KNWhvVUsRTc/Z/PSp3gUVjIaX0Fpuwpktp49l5\u002BKOSTqu\u002Bxo7yn7bDymuMiGKirgPqV3Rhw0jm3LPQa27q6YtS7P6OyLrGcJHvIEwgJC3Yx0XVj5E/IHtSx/nLIiRH2ODgOZt0E9VJI\u002BbicqL8xqiV96QZFVnqE8xzLACw\u002B15tl1drT\u002BqCZKNwjFuqTK3YVgFBNSqAPrOG9hXO8PfUmDiYhOtLkXa\u002BA4LwqJkOP9ceqsX/b7Yj3WiT5EnUs3O7m/QjEcfCjMSKgyGnj4YqiLZOsFYh1ShydKdyt7086UAfRRyk2y4PXC4BdNyEfE3iaVuDhgMtmbbLoJ0gX8UXTanhmEp5ha2IT1QoEGBL7ghZkE5RqWNM4atV2TqQ3wxY\u002BicyouPzeOO\u002BC0a\u002B9XlWf7KU1r\u002BGtaQ2lKavE6xi92BX3yY5GTsUVhdak64sjfwyD2l4DAhMwjSC/A49VGVHSwPWVxZTLWZ3cHCoLCIGGha6fQQy6vtYCxzhth0s5vG1G7PSpr\u002BpmpUbs9Kmv6mak="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2039b46e-d1f7-4caf-544a-ae9d3bf2820b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "400420587",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
