{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2e4e95af-1c08-5e6c-6133-94d9dd2faf43?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E450EEE76\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2e4e95af-1c08-5e6c-6133-94d9dd2faf43/test-blob-4d5a6c6c-5b16-e10f-c936-a1b19ed54989",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "/CTMuu3K3uBPxo4fn1xjxlqUwuziJCuUr5avqoz1XGKRgxLVzh4STBNsOlIo/kKIFnv1lntqF9j5OAtWGjNTWmksjhxJjvc8gXXZdenZa7BTJ5QQ/8XnJ2s63JYSvDHfGODo/HAmPoeEuRQFkKHvH8xbA/KfQlukRGewD7FhKcVE\u002BlwJ8G4/LekMjEWw4pbKSrzJt7k\u002BP9aERLcJdS/WI5BOwJZE5i9eG9UJk7YV82LQ5sT0l3EMBbqGhKy2Nri6NWm1YiEAhWSNa5zjNasfblFVOI5q4YseQrvbvmGCp\u002BQdT15MYJFB0GFgZyvVKdAPZhZbYf4pT1Pelx9mJMYCCsO3xuVN0[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2e4e95af-1c08-5e6c-6133-94d9dd2faf43/test-blob-4d5a6c6c-5b16-e10f-c936-a1b19ed54989",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "TA\u002BQEG23kAK71W0dIU9XPw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E451E74EA\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:43:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2e4e95af-1c08-5e6c-6133-94d9dd2faf43/test-blob-4d5a6c6c-5b16-e10f-c936-a1b19ed54989",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444E451E74EA\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:33 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E451E74EA\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:33 GMT",
        "x-ms-blob-content-md5": "TA\u002BQEG23kAK71W0dIU9XPw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "JSE91g8pMxU=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:43:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "/CTMuu3K3uBPxo4fn1xjxlqUwuziJCuUr5avqoz1XGKRgxLVzh4STBNsOlIo/kKIFnv1lntqF9j5OAtWGjNTWmksjhxJjvc8gXXZdenZa7BTJ5QQ/8XnJ2s63JYSvDHfGODo/HAmPoeEuRQFkKHvH8xbA/KfQlukRGewD7FhKcVE\u002BlwJ8G4/LekMjEWw4pbKSrzJt7k\u002BP9aERLcJdS/WI5BOwJZE5i9eG9UJk7YV82LQ5sT0l3EMBbqGhKy2Nri6NWm1YiEAhWSNa5zjNasfblFVOI5q4YseQrvbvmGCp\u002BQdT15MYJFB0GFgZyvVKdAPZhZbYf4pT1Pelx9mJMYCCsO3xuVN0w6/FGctCnpfSBnqzFdLJ0bm8wAKbshx2quaXVxoHWLrwZIIm02W\u002B0TZfk8Ge1hvt\u002BN90dLlQ2VFTjm8k60e9yq2/wrEQ4v5UPe7MO95al9TKqV460yQBn4twkwT2miXuoYkUHxOqnRXg4DaKRJ1zOTaaGgHpgzdJvmMl4A/5XaPJHZpVBniBYAxIGfLtdxrt/ZoOHEAjxR5RyqCwhPzGJ0KSwScDHfK92Po1YWlEXAcIN\u002BK1q0EjpRh7w3vX0JtPgfJwGnXz6t\u002BnkENGLqP1DW5ZqIzaUHwBb1wOxxq2pcgepd93FAHRVA0Czhr93ba0RvXNvmgOdXF2Ls="
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2e4e95af-1c08-5e6c-6133-94d9dd2faf43?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1567476697",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
