{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-41850b94-eeb5-7bcc-85dc-0c6a2182cbb0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBF1A75C91\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-41850b94-eeb5-7bcc-85dc-0c6a2182cbb0/test-blob-9e138500-2c44-3450-8d05-1339ceb80bbf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "SVpBoj4brcqTpIJq25Hwpn2\u002BZkGQyblDa1sslaDPS/HAHPEwnLwP6DInblJe0iShuYMq12ZJZX\u002Bg/jfj7hcqw1mQqr6fvwrBrn0PaFpn5Zg2i9wcpXOKdrdyj52FLPoa/av4zSdmAvl5aSjpOvwlORmerGM7DR7lBTQGLS9sPIKD9Guvbhdx0IjioztKoTy7TFaE5n\u002BW3u\u002BNE8fzX9XJDC2lZUWQdsoCLdzbWGnimmP3S\u002BDY6FUD7BZ8IVtPfXGzGZYOpTv3K9aMgrmiu4aFqnhk\u002BxP08CTXonkvFFRvsrBrJz/T0/UnACAJTGWcYDGP9nbj64FdvihyNw[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-41850b94-eeb5-7bcc-85dc-0c6a2182cbb0/test-blob-9e138500-2c44-3450-8d05-1339ceb80bbf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:59 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "2lexegtZOxhuYB4xiT5rLg==",
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBF1B5033C\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:59 GMT",
        "x-ms-blob-content-md5": "HUHOC\u002BdnwaHkUggGfOXPFg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 06 Jul 2024 20:40:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "SVpBoj4brcqTpIJq25Hwpn2\u002BZkGQyblDa1sslaDPS/HAHPEwnLwP6DInblJe0iShuYMq12ZJZX\u002Bg/jfj7hcqw1mQqr6fvwrBrn0PaFpn5Zg2i9wcpXOKdrdyj52FLPoa/av4zSdmAvl5aSjpOvwlORmerGM7DR7lBTQGLS9sPIKD9Guvbhdx0IjioztKoTy7TFaE5n\u002BW3u\u002BNE8fzX9XJDC2lZUWQdsoCLdzbWGnimmP3S\u002BDY6FUD7BZ8IVtPfXGzGZYOpTv3K9aMgrmiu4aFqnhk\u002BxP08CTXonkvFFRvsrBrJz/T0/UnACAJTGWcYDGP9nbj64FdvihyNwLCxxeCHM8JN5NHsteCPPvz66O\u002BOkFInx3djMYuDmkWYJzzZTgJhzCWkymdSEOfYK\u002BGadKEs/zAeij5pZAJ2ikpMFE7j9fC6mRzKKcYqlbZPisXqKSXkq2fMuoQD\u002BGfjbgAcxjyY9HYw39uEIpVqNDRH2Zk8TKEkp6knFzsstqC1JvuFzY\u002B59paP\u002BQlKIEjSYkaPvB7OpuGe\u002BF6Tcd06xGk6zzuZpCZkzeMCrJNX2kdgFLT0nPqB5kAZ5tVxJkS5VPTgD1ENOP4gKq47i/pORx3XMx1oRiduuSi7v/0Q8\u002BdeiReed4s2Exv2lHJMRlpFy1/3WfNnEQ7NcZYokXjAz3aG3QKir8="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-41850b94-eeb5-7bcc-85dc-0c6a2182cbb0/test-blob-9e138500-2c44-3450-8d05-1339ceb80bbf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC9DFBF1B5033C\u0022",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:59 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "vB9\u002BRWaCmB9qKeYP1sJ6Rw==",
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBF1B5033C\u002[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-41850b94-eeb5-7bcc-85dc-0c6a2182cbb0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1395923598",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
