{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ef1de030-9183-732e-9dc7-e4163b4def4d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E67AA5577\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ef1de030-9183-732e-9dc7-e4163b4def4d/test-blob-fd2ec539-9186-5a72-4ec0-7f681ed0d962",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "hZOFCPr9R3qhaXYCh0e1caCUqyhp4xzHtPuE48yFiTtmCWEpph5Vbctoasfdb2rZw3gZlpHxlqF3vlP\u002BeWSuHOA7m33mi8uBPz1dAHlV6kWQqx9TbPKpdXK/sujLVvRmuk3modPt8jisl1dUlJUoIdQObs1EWrDukSYLJ9njtulI9kYrb0hxo7nnptSaVeDclpETvOgmIl\u002Bd\u002BA\u002Bt4cpeyeFuC55P/LKMncoUXLPbUzxGL5FIz/kBIdPnjnY4w8Lvid3zLElCjZnfhx8dEsarwaXTZ7I5FvrnbenKaG47U9kHJdPW6CbzA6H3aUfZ4w8MO8zRZVwPtnLiC79fdyQrozRG[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ef1de030-9183-732e-9dc7-e4163b4def4d/test-blob-fd2ec539-9186-5a72-4ec0-7f681ed0d962",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:31 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "F5zV2T2pcK\u002B8tTIwePmM3A==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E67B9D585\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:31 GMT",
        "x-ms-blob-content-md5": "F5zV2T2pcK\u002B8tTIwePmM3A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:44:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "hZOFCPr9R3qhaXYCh0e1caCUqyhp4xzHtPuE48yFiTtmCWEpph5Vbctoasfdb2rZw3gZlpHxlqF3vlP\u002BeWSuHOA7m33mi8uBPz1dAHlV6kWQqx9TbPKpdXK/sujLVvRmuk3modPt8jisl1dUlJUoIdQObs1EWrDukSYLJ9njtulI9kYrb0hxo7nnptSaVeDclpETvOgmIl\u002Bd\u002BA\u002Bt4cpeyeFuC55P/LKMncoUXLPbUzxGL5FIz/kBIdPnjnY4w8Lvid3zLElCjZnfhx8dEsarwaXTZ7I5FvrnbenKaG47U9kHJdPW6CbzA6H3aUfZ4w8MO8zRZVwPtnLiC79fdyQrozRGFe3z1Nl\u002B32MQQa2yDYnavSyiau58\u002BG9g9Nxnk4x9zMUTk80h[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ef1de030-9183-732e-9dc7-e4163b4def4d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2011291902",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
