{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ab5be1be-1141-d509-1689-2222230c0281?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E700A76C1\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ab5be1be-1141-d509-1689-2222230c0281/test-blob-71d4c761-e5e8-bac5-f288-8d5a68e6fb3e?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "5ptlf0FZYP3nnCrQlnPV/g==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "n2o1ih6DaRqKclkoLt4KBVZbvmWg\u002BzsOiNucwdFMaJ\u002Bewoxg2qmo4VVRfNNPQh9/iMy0JPQVf6QvJwFD5qdJPgq5imxSqiuts9wQTn5nvkW7HDgEl0OqiELoMLKnZfqtCD7JlbizLd6hBnEXBTElx2i8iMlvRKbGDgEqanl4BU7iYkZAnimMB\u002B9aY5DSk4MQwmhK6t0xPsOXA4a3icNkKAAiNaLq5Sk/L4DaFeEV83t9GacQLhtwsCSCqJqi1H4s9TqQr13gJt0/CrtcVinighALOnAbU/rlsoR\u002BaD2OnVoCrh\u002BmhUMenPPK0SNfFFr7oCWKlpoNEKFAqv3YYr2gsG1gWqgJO/zM7Z19UILWhZ0qg8cXAwbA9J1\u002BZttFRTo1KiG1/7qy8WUovqn9kL8faSRgrt72iKxmoGUKitUhh6diRyZgIYbjeJFi7kVcwmPdX/y35ZZcP6F1Tl9Up2eQBzYBm0mZvkiefDZMk5pmCt0CLSrYaqIRBgiE69Imj9Aq0uYPWicaRKGzGGhgD6sHDkSBUno8t52U8JRBFdN2d\u002B1lIsGzV6\u002B25\u002BiJJFE5sPZcfNyNpD1W7RpJemqS2S7NPaF7\u002BuzpVLeVy2qRs5JLWz\u002Be5Jj36dOwDjWnadxFIw66vOewvbYKcigk99nSxTmH/h4q9PSW1lTOy\u002Bu2QuraUKc=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "5ptlf0FZYP3nnCrQlnPV/g==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ab5be1be-1141-d509-1689-2222230c0281/test-blob-71d4c761-e5e8-bac5-f288-8d5a68e6fb3e?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "Toxt4OancpW74OiSRUH7Ew==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ab5be1be-1141-d509-1689-2222230c0281/test-blob-71d4c761-e5e8-bac5-f288-8d5a68e6fb3e?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E7028F1F8\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:45 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ab5be1be-1141-d509-1689-2222230c0281?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "391132977",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
