{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b5bbf3ce-889f-64d5-b1e8-037144db250e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E62DD1011\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b5bbf3ce-889f-64d5-b1e8-037144db250e/test-blob-ce98ae98-38f4-7787-90d3-86ea4392eded",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "J96GrNoCPE53\u002B08TrHtWwxTO4QdiBeupmn6upI3QfT7aZzMuZydbjAArpyZUEaTQrS\u002BWdEapEiHy3RJbVJfAp34QOURIJ1zsclUGN13FVYjZ3vdeOQj4MVURPIoV/zhpagCnQ9hgiIXTqgHwotvDLYeJgnWgYm11GAfuNuvR1nMdnc1cHRKveFVxio8HB496Tg4CjH3CyAeTMivQclGZAdON0wQNZhB12QkgLtfdbhB4dOjdz0r2WtTFyevm3wYE2Im7eTSKbOf9jbJzopkvtsMbWP1ovDKJl3kvSJ0ljvoCG1ZOIfTb7QcA30KYgrg7lRIny4cImxxXMuK7WiNK2P63cYZD4ZTPP2[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b5bbf3ce-889f-64d5-b1e8-037144db250e/test-blob-ce98ae98-38f4-7787-90d3-86ea4392eded",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E62EC48AF\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:23 GMT",
        "x-ms-blob-content-md5": "/oMO62MlUhLktIR/yniTFQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "6/yDHNSmdJw=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:44:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "J96GrNoCPE53\u002B08TrHtWwxTO4QdiBeupmn6upI3QfT7aZzMuZydbjAArpyZUEaTQrS\u002BWdEapEiHy3RJbVJfAp34QOURIJ1zsclUGN13FVYjZ3vdeOQj4MVURPIoV/zhpagCnQ9hgiIXTqgHwotvDLYeJgnWgYm11GAfuNuvR1nMdnc1cHRKveFVxio8HB496Tg4CjH3CyAeTMivQclGZAdON0wQNZhB12QkgLtfdbhB4dOjdz0r2WtTFyevm3wYE2Im7eTSKbOf9jbJzopkvtsMbWP1ovDKJl3kvSJ0ljvoCG1ZOIfTb7QcA30KYgrg7lRIny4cImxxXMuK7WiNK2P63cYZD4ZTPP2r2Z9zw8RTA9LKK/cNz\u002BX869u8RIJLjtgZD4BEx97R\u002BWIwcEj[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b5bbf3ce-889f-64d5-b1e8-037144db250e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "153715526",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
