{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0f2ba9ed-6f12-f28d-49db-419f4a77dfca?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:05 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EE30CA8EF\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:08 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0f2ba9ed-6f12-f28d-49db-419f4a77dfca/test-blob-e6074a72-a5cf-9432-d982-79e62cdc4aaf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:05 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADGcFvRkaDcqd/ljDbegIljg9I0iLaBQQW9OnXaU1ctnmdnRfiKht3K5Rd+pD6Divowje9Fr+xzRS5WFFYrAVWIt+3PdzuR2Pz0aqOeAp3GOrB6qsVn6O569ADJNHKGnuPB9uxRsxK/n7TzUEVJ1EKRj9qlsFeQIM//VIM6x6SKbsy/3AuwdYaeuwoQdJepMR+9OKSY4O2LMdYcUl+PhNcQaOJ4ifg24BpUB/VMf6w4VSNkfY//8o3eM6o1kyMmDjYzAAu0MKcmhleKRNn3PrIp5Pw7KwdIEXZVmlZNAU33Lfi/GX+ghCR7PfY3dK605vX4C68m6uMv6u6VXpZR2YUJkxbgOCUziWDXwO0QEJzIobNgVfWe0EIVkC+QCyWOKmNxLeGX063[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0f2ba9ed-6f12-f28d-49db-419f4a77dfca?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:05 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1043309639",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
