{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-24e9d144-f9f5-ff32-1adb-12226117464f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E6C235283\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-24e9d144-f9f5-ff32-1adb-12226117464f/test-blob-ef20abf8-c0b3-8f9a-2e24-0d9ae2c8bec9?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "LHjSYZ\u002BqktERYo0t9cWXfQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "E4CsheZGMvUA/Y4CFDftKBEZmGKeqrpkMdudxq2VDfPir\u002BiRRkQSQ8yDmpeCwRD3aHkqxQmulmjFR1QLqGtIa/CaIGROXOLMBlSWGxAj4W/Kpl0zakfqMxmAzP7wB5tgOy6n56CrqQyXXb\u002B0GHtYoWbkQAIOFACor\u002B1LzpDk3P\u002B5Nt/he/nOH/1RnA2INhqdKCqXC8aYUSYt/zizYNt8s4C/\u002B\u002BGbdiZsFSEFvHjyH3nSraVmTNE4IOS5s3zBG78i1eiNyDs5ArEEK/Wlk5StOt\u002B\u002B4bI1Fmevhtr94cKpqvpi4\u002BePZVc\u002Bmav0YiDbk4xPDHidAzkM7L\u002BB3kFgOyDuWoD6Q7CtHdWHf0gHQbNG0/NOrdVKDKfBVfYoDocV3l2LBQeg4FDcou6jFYPxBasLOwpOEo5KpE7YOe26hA9OcqHqfDuspvKicQrnp/Ykz1BKHdN8xszOQWG5x6diIh3eVKPhBohwXpQYrKCDYv1XtGmdb2c80avVHDva895LP0/tCVJTQsnH2r4\u002BZBorS95jYRI9xbK1ooL3DOpNlWu2zGxRllmqBHKg1ZWp/m2RqdBcdpHMDnqcN2bPXDXeeURSh5iu2rSFuFygnPAcDKMVZmMZ8R7a6b3xtF7y26g8wVtRV3bV488c1r40LHGKfyvDuvXSxYgleJ7avCVWk920Y9o=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "LHjSYZ\u002BqktERYo0t9cWXfQ==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-24e9d144-f9f5-ff32-1adb-12226117464f/test-blob-ef20abf8-c0b3-8f9a-2e24-0d9ae2c8bec9?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "v20/DlwhDzF3oktNVUfd2g==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-24e9d144-f9f5-ff32-1adb-12226117464f/test-blob-ef20abf8-c0b3-8f9a-2e24-0d9ae2c8bec9?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E6C4269C3\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:39 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-24e9d144-f9f5-ff32-1adb-12226117464f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "740255371",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
