{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-718aea9b-634e-3f16-fd93-cbcef5b614a9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C2308686893\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-718aea9b-634e-3f16-fd93-cbcef5b614a9/test-blob-a05398d1-c8c5-8bb6-2ec3-d75edc7d345c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:53 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAD8Gk0Lk1sxc3HVkkcvUNMumoyyW895v4wv/pqRQkK5y1JcyVGB7KvAaHMpFFmjAJhMt5tvYFkHg1vB25TAoDEuG8b104eBra7g8vNcT6oyjP4CRIqmSmv5VEX1wBEX/8hC+vmTriwQywntjm1lqzOwjk6VvlymiNBa+35Ci+2cyfMrGVWxn97R8XiBuLv9k6kRRDLCgUFrm3IoOLKtzj8cUcV6OpHe/+5ww8zjJc8UXWjVMEa72kexv33iiGcrJCI5ZWf1glgXM0VDUb11iHajFNtJ1574YHZ+yXsT/HeHRJ+pqb9nHtoQvvwBeIiKPDYHPnSL4kyDQQTxd7ndAzfNuw0dy9+2O/UAORmi9uju9I1EDL0D+2JTJmi7dqchMrrFM7x7bHF[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-718aea9b-634e-3f16-fd93-cbcef5b614a9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1620524852",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
