{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f48fee19-d5cc-fe35-bf1e-a2357bd1161b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD8AF903C7\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:12:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f48fee19-d5cc-fe35-bf1e-a2357bd1161b/test-blob-b6c14112-b009-4f7f-2480-861333ea6d46",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:05 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACSJkNCuU9tSyA6sGcJXDGEKvf/NSHpQZoQk+VHqavm9rrtRab3svHn2GMMnnC4J0xdoPd3TnW8qOSoMSZpJqJ0VLqtHBeLjXgGGFy+3aMqV2uZ6Qi0bqdEMZzCToDKfbLBl0m2Cws00hJ/cDYY/stAftm60DyZwOYSaOp6yT73PJqp/EZadEtgZBf2Nf5xLDPRgdCmD612KNZjo6MhugnThzSbbwGE5gmNWmwlo4rnoDy2qUduUCztM9Nw9tCoPqoOIq3J1bwxTZvGGLVAUIVLewJnahHBZTYIrjstFO855RvCF4HdHst/hFuspzh3rOJOJHvNQNSYTLx2wCeABDmsjTOZfjkEblw36Oa1FL7+kQFZ3+9za6RHKcrEZl2j/oAiABoE3S6[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f48fee19-d5cc-fe35-bf1e-a2357bd1161b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1778672518",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
