{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-b462634f-9195-0cbb-7e2e-bb5d8aca8acf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:56:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D61BE0CB52\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:56:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-b462634f-9195-0cbb-7e2e-bb5d8aca8acf/test-blob-20a5d20b-fae2-8f48-4ebf-b3f5a1a9e309",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:56:31 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADcPisCMVhx5A5iimLhNWNekfuWo9PFL3Lh7tvIVNJ45/v3qmr0m45udRK2PdblEwRruPKMrZPlFg65IEJ8qI876qJm6Yv4afZsJy3AD/Kb/NrXXZzg6zloEpNcO3pL8syDe1Mzfil5ck/8H4VlJAccHiRopUvzWv5p/tf3nC57IDVgPZSeZ32wXepN5Mu0A+6MPx1W40yBkCBUyoBSgtYhgP9QBOZyfbamuEhgpXYytfvpal0QJT3o361zSpz9XtsULGTMY/4HGcFmryoEIOqqIhWFaBd5EFvBZyQ4/zMZqVpsTHkSZVH84VCbqXUS5L/DySiHd/XEmhsIC/vZzxqOTQXQl9Nwl7zDiIbG3mblr4NldDULkTFkqLFdCVpWIhI2DFxwQUz[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-b462634f-9195-0cbb-7e2e-bb5d8aca8acf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:56:31 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1001957134",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
