{
  "Entries": [
    {
      "RequestUri": "https://jalauzontestcett.blob.core.windows.net/test-container-e075ba81-e05f-f502-670a-4e9ee16611cc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jun 2026 17:42:08 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DECE2A15AC4699\"",
        "Last-Modified": "Fri, 19 Jun 2026 17:42:08 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzontestcett.blob.core.windows.net/test-container-e075ba81-e05f-f502-670a-4e9ee16611cc/test-blob-d48a9909-89a7-5ce9-d9ff-8c66db30823a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 19 Jun 2026 17:42:08 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DECE2A15BBE5D7\"",
        "Last-Modified": "Fri, 19 Jun 2026 17:42:08 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzontestcett.blob.core.windows.net/test-container-e075ba81-e05f-f502-670a-4e9ee16611cc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jun 2026 17:42:08 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "614052582",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzontestcett\nU2FuaXRpemVk\nhttps://jalauzontestcett.blob.core.windows.net\nhttps://jalauzontestcett.file.core.windows.net\nhttps://jalauzontestcett.queue.core.windows.net\nhttps://jalauzontestcett.table.core.windows.net\n\n\n\n\nhttps://jalauzontestcett-secondary.blob.core.windows.net\nhttps://jalauzontestcett-secondary.file.core.windows.net\nhttps://jalauzontestcett-secondary.queue.core.windows.net\nhttps://jalauzontestcett-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzontestcett.blob.core.windows.net/;QueueEndpoint=https://jalauzontestcett.queue.core.windows.net/;FileEndpoint=https://jalauzontestcett.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzontestcett-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzontestcett-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzontestcett-secondary.file.core.windows.net/;AccountName=jalauzontestcett;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
