{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7050757e-d62e-9432-5ff2-dc10a35f6ff8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBF320DD18\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:41:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7050757e-d62e-9432-5ff2-dc10a35f6ff8/test-blob-63474475-c65f-d420-2964-17309309a5a4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "8m0QNegjyIbgMC6aRlJ9gus8Q4fyXBJraWcQF40DWOOhge6py9G3qVPlMrVO\u002BQy5MeemihpqHJZbpcyAE7H53ddK\u002BMRj07YZhZo0DSlcHW9bV\u002BWmXM7JN2RYTSYEN5Wh7FTdAwBHVV0wjAR/Ng9s/4ddJbzLU4EJgMFgC4aQFU4EkiDVfhpuFAGIdc/KSgBU606fpxLZ1ZjT1II/50nXoHe2e6Pul4Bt7hC6Q96xPjbACyA38G08K72IAamXLyy4sdRXE85dZVTNMbgBHpK6IZVLftspn68Kek/mZpXW1b/jApEJWStoY6XMab\u002B0Ogwqzd8US7BRjhEkTZh\u002Bd/\[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7050757e-d62e-9432-5ff2-dc10a35f6ff8/test-blob-63474475-c65f-d420-2964-17309309a5a4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:02 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "RZUpiRlRugCiI1Dy\u002BkfFKw==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBF32E0E9A\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:41:02 GMT",
        "x-ms-blob-content-md5": "lZqsfDpm/8E/Iv6nbsqkKw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 06 Jul 2024 20:41:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "8m0QNegjyIbgMC6aRlJ9gus8Q4fyXBJraWcQF40DWOOhge6py9G3qVPlMrVO\u002BQy5MeemihpqHJZbpcyAE7H53ddK\u002BMRj07YZhZo0DSlcHW9bV\u002BWmXM7JN2RYTSYEN5Wh7FTdAwBHVV0wjAR/Ng9s/4ddJbzLU4EJgMFgC4aQFU4EkiDVfhpuFAGIdc/KSgBU606fpxLZ1ZjT1II/50nXoHe2e6Pul4Bt7hC6Q96xPjbACyA38G08K72IAamXLyy4sdRXE85dZVTNMbgBHpK6IZVLftspn68Kek/mZpXW1b/jApEJWStoY6XMab\u002B0Ogwqzd8US7BRjhEkTZh\u002Bd/\u002B\u002B91v5HRsAscdq4xs1XTXwVj9Du5m1wooOknR/5AyS6eumDXJjuh3xKhwYqWiVGzHcNPdYO7xlCDTR6oqngMy71/ovj0/CjJsiUpF9nRkheXdCo68VOa0vQAU\u002BkdCSSalPXdJuZYviGadcNukq6GobsHETZNwdpZ1MAE5JhPvKjwjnLkBGsxPrYIoIuQPDBFiaI\u002BFef\u002BTMMrc0IWU9mJWskafgQroq1PxeJwRSFOuaiPz1rmAZbA8jG/yIEpKursf1Wyhc48GecE/lAFjgeR3LmphpR\u002Bk0kiSXvCe9ocJpr3k8XbjDPaU6Vz4RNGy3Q6HevHf6RWbewMgDxCaZ4M\u002BMe1A="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7050757e-d62e-9432-5ff2-dc10a35f6ff8/test-blob-63474475-c65f-d420-2964-17309309a5a4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC9DFBF32E0E9A\u0022",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:02 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "fJo/NY40xqQE6LdY2FBg5Q==",
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBF32E0E9A\u0022",
 [...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7050757e-d62e-9432-5ff2-dc10a35f6ff8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1627489922",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
