{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0d72a7fa-abdf-f5f0-c324-68bd9ddb6ef1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684AB54C5EC\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:59:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0d72a7fa-abdf-f5f0-c324-68bd9ddb6ef1/test-blob-e780db11-bad1-b2e0-64af-2dda3922621e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "jN7LqSF1AME=",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "2dp9FxmGoDp5GfsCpPM3c0cYg9XS+c0cyCNFkjvckFGWDyPj0sY2sifP/AqfvRJHGBAJrz1xJOANYE71QQ7+nIipbJTPU6CB4tCtA/3CfAoQ/nor0uEUJOtC1nF3QHEZ0F+B9lF9d8RviM1sxCDjSuNE5UKU08qnlEipjH0vCaJelDKdQIa4koa2u0kTp1/KX4uOMlsvhf2U2WEJ1OpGQH4rDjDuRQpdjFK73RiAlO3o3i3yoNdGLw41CWYlr76bb3rL6Jkv3BmBMKYIc6flFEV0Ifa9VKCn5N4huTyjN92UIG6dtaxTuAETcHAwPrxnT/QhsY3H3hraIwO7DiPd3vnJdFM4R1+ZIGn0qeQvd[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0d72a7fa-abdf-f5f0-c324-68bd9ddb6ef1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "15464061",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
