{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3b2e9dd9-9215-1d9e-376d-21cee1debc51?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E5F0E079D\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3b2e9dd9-9215-1d9e-376d-21cee1debc51/test-blob-79af2531-78ac-e63d-b775-4f47db5b307b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "ga7bdaa73Z2oizhs4BTQLlFbA/E3Awdr6553TkVeojk/2weeLKYgEBEIEL7rD9O0hchEpcZ2nn2ncIkHQ49YSen\u002BLQUNMgKrO/LgLvNJf9zKwsh9GvxzyTyJ97wcGMyBsMbV7OLOp1PFmGrTlm\u002BKXfCtPYHH2y/si2PIgztGjyMmXn4tdJP5/Bt0t4GSnzPN/5nLb9tKutSX6GB\u002BBiQYfwlHrDfxXelds0BlUiStWeww\u002B4OheiBH26SplYsye/b3XDd4S/L73KKvbrua5Wew6Y90TQugdgTp/9CTR8ddKzdKbvbsNQ35NB/g8QxkrfY8\u002BKz7vS7rVuUyjkwiaJT[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3b2e9dd9-9215-1d9e-376d-21cee1debc51/test-blob-79af2531-78ac-e63d-b775-4f47db5b307b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:17 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E5F1E03C2\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:17 GMT",
        "x-ms-blob-content-md5": "C8ik4Chwy1N6J8AgszteIA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:44:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "ga7bdaa73Z2oizhs4BTQLlFbA/E3Awdr6553TkVeojk/2weeLKYgEBEIEL7rD9O0hchEpcZ2nn2ncIkHQ49YSen\u002BLQUNMgKrO/LgLvNJf9zKwsh9GvxzyTyJ97wcGMyBsMbV7OLOp1PFmGrTlm\u002BKXfCtPYHH2y/si2PIgztGjyMmXn4tdJP5/Bt0t4GSnzPN/5nLb9tKutSX6GB\u002BBiQYfwlHrDfxXelds0BlUiStWeww\u002B4OheiBH26SplYsye/b3XDd4S/L73KKvbrua5Wew6Y90TQugdgTp/9CTR8ddKzdKbvbsNQ35NB/g8QxkrfY8\u002BKz7vS7rVuUyjkwiaJTbUkODUHdxxLSCexjrv4X4hVLaVk4aYm0JXxcRuabB1syKBZ/J4F1/yzT4e[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3b2e9dd9-9215-1d9e-376d-21cee1debc51?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1404705569",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
