{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-634c91a5-d79e-79f2-72a0-0500d82b3e13?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86845095BE19\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:56:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-634c91a5-d79e-79f2-72a0-0500d82b3e13/test-blob-a63539a8-32ee-6f1f-a788-f213097375b9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "ix5ZOdd4eyE=",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "JTnEMdyPrXKNm6ucMutPy+bk+lwExqEHMf3pFDaNY4hADeHx44hEdc216daaNDfXXjCPaTVkkl6XvQDfppg8ADgiXCQKXehdn4WPTt3LbPzFEbYF/vlT3HuCWSWIZM80eOmdd9cSzQBIMsmv1UOBzFADGpTiNgI/z4CphwTC1Dq1Wtb0LvUkskS1vcsvowc3AYzVhUo7UkHnXadXaUX7hl2P+XptjZ1b3mdQLHk2Dyx5cYZ37U/wegeUDNBNzUn+ujZuoKmMynPueqbj6yXHsE563vi/g5kNn39y2IDNDREeUXJDx2+D7aYSiHOpDI/izFuC0u9QPzadYAEpGfLzIWyVxZmyhOne9/BRrPomZ[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-634c91a5-d79e-79f2-72a0-0500d82b3e13?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "731641965",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
