{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b4772630-d9f6-39ed-60fb-27b3e6160051?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:08:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F683F204A4D\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:08:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b4772630-d9f6-39ed-60fb-27b3e6160051/test-blob-fd54d1bb-20b7-f64b-20d5-264f65b63f93?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 16:08:46 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAABbjTe2xxSMPvYwMcHjOYx\u002BjMIijWGDvS6X03Z6hMRODC/VpkroqujjTzoq60OnuCLexqhlZV5s188IHvSdEboy4SWRDZNCleLZPz4mWdHq8BpTnL0b6KfQac5634v0RT6A\u002BAoeFaqPnDHFjCUgRX79Hi3aSnX8Fvl9wKTEx7VX5Pn/pWDHzNtvxP\u002BMVlyBsCNQfcFdGvvJhOIRoFQGytV7bqcsIJ8dNVFSaoV1cL\u002Bd\u002BxCAdEr0\u002Bcr9NiF\u002BtiyGafoqEOe0VZCDMkdwCq92UxQic6REhVWKh3TcLul\u002Bn38lzAGLS1/X6KZ//UICg\u002B4bh\u002BMNW0KHQeOkn4lz1yamBZLISj6t6wi0Sov9xIgThwOFwacGcUM8nood5qvVZBGA2PevOjmwbZzbWBG3iX1bkReG7RZ\u002BoJRPi6y0kAVc3\u002BZ5feuQZE3J1VMLKxgyhBQNwlSTTnb7AjhjX66M/N2XfngqPgyRyi3KvBjCcnV7HAeYps2wyJBvfnqzLQSePdh2dKygB0YHfPcnyZJeOI/D6EOn9FUP5rbnu7\u002BR3Z0pLH8/S/7I2xXAkCrWif/\u002BEUXr8ETA9kmCZo32uEyHdZ5Z/ZwSHuyQ\u002Bgwu52MrOF226ap5puxZaDY1vORw0iPIORqLfYti6/JYWvY4kg/mVy4wP86hDc\u002BxAJVm3WEIICfpZa1In3Mbd23AbF9Bcxt3bcBsX0E=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "cxt3bcBsX0E=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b4772630-d9f6-39ed-60fb-27b3e6160051/test-blob-fd54d1bb-20b7-f64b-20d5-264f65b63f93?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 16:08:46 GMT",
        "x-ms-structured-body"[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b4772630-d9f6-39ed-60fb-27b3e6160051/test-blob-fd54d1bb-20b7-f64b-20d5-264f65b63f93?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 08 Jul 2024 16:08:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F683F3C97A8\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:08:46 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b4772630-d9f6-39ed-60fb-27b3e6160051?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:08:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "60718105",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
