{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-32b36c27-feb3-db42-a154-25f205ff3454?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22F8B20FB6\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-32b36c27-feb3-db42-a154-25f205ff3454/test-blob-54d5ecb4-7e81-b874-5ebf-9cc2c77bea1f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:27 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABhAM0E3SxHaDPQz0dZAJ9nnvJGLPmQWlmFuDhDPFolFrPo4TtssVWAkJ1wKTIL5Tq3Gj/KBozC0aZzfyXzBCzZqrmTcR5j++2cxZtcHzEmedP+jCEaWxAnJRCV+DIwjYxxln54d3QbUx9SLkDwZrF1TQVR9HcKv0+pbEsOzgO6bDgP6oiyrQFe4jkCxy3PNr9eH6ss3pgUZtcvzwsoDYQbl8EH4Xsowp8E8hI+B/gi2TWMr65Yjo6f+oSxg972NtW05y9ryFVDNV0MKOuG1V7fDPbWnF3VwgkzaOb3dz/ADrw9iiDIthHfSHpRTGaiGSQl0nbnH5l33iQmOGBuS74dSxkuSUs9FlXl9lPjhHaikE7B0qTI2O4ixaz8on6xcfy7MwFMdM/[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-32b36c27-feb3-db42-a154-25f205ff3454?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1177118301",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
