{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f0704de6-0d14-827c-4ff3-b6d9caa4b11a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E27F5C4BF\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:42:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f0704de6-0d14-827c-4ff3-b6d9caa4b11a/test-blob-2fba3f4b-c2ac-e419-573d-ed1f9ab4649b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "01ecsH3SufDW/UoddX6mLSRRQPWWkmML50bPI0ssbb7QWiqEhR7oxhsdR7moc3z/n3wltKYwp0DzkMk2A5alqY\u002BLTRtUIqcFaXnZeEuqYnTK0IPPB7gXoLLpkfVVscOFeJ0pHSZhqn3UH0stVy/1SC1VbDMT1qLXc61oa5GysLe2VP\u002BtgUVNaCUG\u002Budt6kiD80jI/0SQcaL7Uql4\u002BD/rIm6TdgIvSMfnBwMNDdu6aYlk5XdJ6bFyJeJdsS\u002Bc1XDlGth52nNGU6uB4PhBgmTGQOgfFBPIoji9IFAf0ZaXSjKTKPIDQY4VHpHMxwi5MaN\u002BlnFGfMBcHXefu7[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f0704de6-0d14-827c-4ff3-b6d9caa4b11a/test-blob-2fba3f4b-c2ac-e419-573d-ed1f9ab4649b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:44 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E280969A7\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:42:44 GMT",
        "x-ms-blob-content-md5": "Ar965PlepxH8GShhdjZY/A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "F/x\u002BI8qjhMM=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:42:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "01ecsH3SufDW/UoddX6mLSRRQPWWkmML50bPI0ssbb7QWiqEhR7oxhsdR7moc3z/n3wltKYwp0DzkMk2A5alqY\u002BLTRtUIqcFaXnZeEuqYnTK0IPPB7gXoLLpkfVVscOFeJ0pHSZhqn3UH0stVy/1SC1VbDMT1qLXc61oa5GysLe2VP\u002BtgUVNaCUG\u002Budt6kiD80jI/0SQcaL7Uql4\u002BD/rIm6TdgIvSMfnBwMNDdu6aYlk5XdJ6bFyJeJdsS\u002Bc1XDlGth52nNGU6uB4PhBgmTGQOgfFBPIoji9IFAf0ZaXSjKTKPIDQY4VHpHMxwi5MaN\u002BlnFGfMBcHXefu7kiJoIU6ZbFrlpxw/9aCvaB\u002B9svBO\u002BtoTslUc5xNgt7Y4bU8vgPt91y84JJDNNx7HHK2yGccLbKdYRG75jHVHhO9l94hRj9ckT9vBFsZJVns2Rcplrp3vPPCn1zyMhFq58K\u002BhV0\u002BGdZzGjdn7SlXhHu3zsza60dZRdsqXqbiap7uBFxYml/87r9AtnyDD8/KaxshemNEUDx7JX9B0/svkK\u002BYuajM/unb\u002BuANWjTK1jYLIDOLgTA7abQgHXUgetrEUOXM6pYnPWwxRX9DNvXHsE8JdrOHY89/XRA0rOG0u3/FSQlPPeuf5CKHmnvw\u002BHK\u002BWG0l1sQnPOzWTY2GMpBKvIo/ve3suI="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f0704de6-0d14-827c-4ff3-b6d9caa4b11a/test-blob-2fba3f4b-c2ac-e419-573d-ed1f9ab4649b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444E280969A7\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:45 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E280969A7\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:42:4[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f0704de6-0d14-827c-4ff3-b6d9caa4b11a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1355271683",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
