{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-81adb137-8055-a14d-b179-e015e8fdd1a5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E699C810A\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-81adb137-8055-a14d-b179-e015e8fdd1a5/test-blob-cf592bc8-d2f7-b0ad-8eeb-e2bf3fd3c5cd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "mY4uzwF1gaB3WOF1JDIxvRyj0lNPQr5wzqeg7KpIiimQFIDgxYw7zRMNF46cpeZt5y7UJ6P791bQvQFa1ZT1Ls245A\u002ByUPePaARAQSsv1CnAMwV8c2OFlRwqEAeL4Ph\u002BGOnB48DWu5Y2Rb\u002Bfu7YqoOnYmaGPebpqMk/yhz/wBIcLwilCbvFo6nhvRS6k5tlm/3Aes0dW754uV7Bx5DNWRkE3k/iM6DL4b68pHzSLxkx1i4jP0lBAtNOLExdA9gVEGP/tbFPg2hc\u002BJkOXLc9qo5Bk/FirhnTw9t4lAdQat3mp5AY1nVn5lLFwkasMqIcDIHCG3PqtmZGK/XV1utlCI27K[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-81adb137-8055-a14d-b179-e015e8fdd1a5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "936751332",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
