{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-eddc0c5a-b777-3db6-d43f-3ac69dea5698?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F725692EBA1\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-eddc0c5a-b777-3db6-d43f-3ac69dea5698/test-blob-349b5bb3-b103-4efc-2a05-5a82d8af73a0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "iFmcHlZSMyKhnLQBuwL/bCrQILYd3lfGuPl0GcQRKeJkVCzky/YTUrOq1aSl7Jm8HgYuRTVaiakC1WZd3hldkHPSnGfWG6EzvM4CcgmzIctft/q\u002B4\u002BOsCsuC4vaQtnSaTUQw008y5gNl\u002BolnVxagT7Oa/Scen62QJZKbUzmqogVZaCXEgk17LdD3WOhZRbK14pJC9bhMe66XoK69lpPKu1eDDe/x3M1lH9BWJ0bFNt/f5nCmZ6xNDe12LOGfvZY9LZ2Q1jfDxAbF3dbn9VNn0mrO3rAiJFOqNgACeq/rxWE6GfqpNGCoGyJq4IrWZheZDlp30d7lGghJ5Z83wUlW2hd0rNxZv[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-eddc0c5a-b777-3db6-d43f-3ac69dea5698/test-blob-349b5bb3-b103-4efc-2a05-5a82d8af73a0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F7256A25188\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:00 GMT",
        "x-ms-blob-content-md5": "gXBQZFSZK2jJc8HaSaXI1Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:21:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACIWZweVlIzIqGctAG7Av9sKtAgth3eV8a4\u002BXQZxBEp4mRULOTL9hNSs6rVpKXsmbweBi5FNVqJqQLVZl3eGV2Qc9KcZ9YboTO8zgJyCbMhy1\u002B3\u002Br7j46wKy4Li9pC2dJpNRDDTTzLmA2X6iWdXFqBPs5r9Jx6frZAlkptTOaqiBVloJcSCTXst0PdY6FlFsrXikkL1uEx7rpegrr2Wk8q7V4MN7/HczWUf0FYnRsU239/mcKZnrE0N7XYs4Z\u002B9lj0tnZDWN8PEBsXd1uf1U2fSas7esCIkU6o2AAJ6r\u002BvFYToZ\u002Bqk0YKgbImrgitZmF5kOWnfR3uUaCEnlnzfBSVbaF3Ss3Fm\u002BnQomw46[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-eddc0c5a-b777-3db6-d43f-3ac69dea5698?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "738096533",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
