{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-855cf874-1ba5-7997-e9aa-42612d5343d4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E69F91FFB\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-855cf874-1ba5-7997-e9aa-42612d5343d4/test-blob-2451c888-5b33-4e47-aaa3-1ca53c110e00",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "afI2q7TMHVZxP7pN2nogjQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "JNtWicOSODvJAhIiTw8vdWdw4NA\u002BDblBeVR\u002BMWTxDn5UIWNvHLoO7iTZbBkZ9j8crV7W2xRdahciFQ9uFAfW1/OUzi2sv1mtYfGsZaCfJ4IUYYMFGzNp9rdLTAaqn9kcApUlhSgRb\u002B4FKHkisQV3gu6MWrKD0bzAKtd2YXNSAsEYj2ILeqFZA/GV//K5R0Wy1MoYHUUnmDHZZFpQmg57sya4CiGibAdMMlbA7tHJB\u002BOSxIyoOeR78fYxMRZHCWjjGkzMAT0jD2jCy\u002BrvZqpfD1x3vtaC0nlBPBkqcTrxBSnt3dSF/QalbrQk5m35jIpM0SG5z0qRYUfSisQj\u0[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-855cf874-1ba5-7997-e9aa-42612d5343d4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "251659148",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
