{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-30e8fcfa-397e-8573-998c-cd05e1d298e3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E31D93151\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-30e8fcfa-397e-8573-998c-cd05e1d298e3/test-blob-e744e25f-8825-54a8-f078-e9107ccb5aaf?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "ZG0aAUOz8WGjuMNfahZpSw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "7wwiIp2BN\u002ByKx0nrL\u002B\u002Bg63GG6D3BCRWaGDbbP2N0EhllvJTXi/epm2wkBQaetPqDxL\u002BLiOTvi\u002BX2iApnpveJFbQvhnNayGB63EzRnAMP/GQ7V3uk6Yo1djCv4QPtQvV0mvBRbi6HKfteEKuYHe/i54ulK0585Ssq\u002BhBCquddjZpWXQITvo42tC6ARdjenVhBzPp3Rxen\u002BLXEJnMdRH4TAYMQQcDszyj9b3Yg\u002B6BTS123AN7t5UWDr2RMTpgaGG\u002BvbUNVzluYVP3Redigh/wVcdoWZkSgJRs9jJJboICQ41cGcI5c/X0BH6vgHGxt4yhoN929A7IrD0cnGEHJPLR9QZaBmRZuuXNdFUaYvwmvz6lq82ij09\u002Bk2mFHNOU7N\u002BL2Y9rW7EkR\u002BX5pX\u002B5rk089eEiXX0lM2m223L61JoSNId1joVwu2eJgWPnqOXPxOEcSCbudpNiZqoltHxCKXNL53D0QCPHyD59lNwZPYaH6xaN3oh3I8H0FyfbTwbnS1vwm8Fw14DBVH/ocN23RSknoclpsE7m1MevACz77Hk3lk2EKKHFExOVzIYIjrLgQM3\u002Bt605fZcJDcb9xddTxWgGsN6MMxyHXo650\u002BfI2kYUysNi/TTP/hS6exrex004QgcaBd3QVBGtd1Uef6mvQDN86PsX8MQzOrbF1bQBqJtBgZHc=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ZG0aAUOz8WGjuMNfahZpSw==",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-30e8fcfa-397e-8573-998c-cd05e1d298e3/test-blob-e744e25f-8825-54a8-f078-e9107ccb5aaf?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "4sTSavwF\u002BgCL5JMEwNZ22A==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 1[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-30e8fcfa-397e-8573-998c-cd05e1d298e3/test-blob-e744e25f-8825-54a8-f078-e9107ccb5aaf?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E320455D9\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:01 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-30e8fcfa-397e-8573-998c-cd05e1d298e3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "571530678",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
