{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-66d15351-3234-5cb9-ab43-9dadd7973186?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F72C6EFB153\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:24:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-66d15351-3234-5cb9-ab43-9dadd7973186/test-blob-78c8d26e-cf60-a3df-ca16-920e658dd736",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "6ZiRQmUxlNyD9rRLxnyv55NQ\u002BwK9YrwphjM9JSSdFKpNPFQVMm7ngT/9S9O9b4CRPWefdguZcobcaLsy82\u002B35eIJ/YoomrUlaHrCvxbobBezrOe8/p2ftMnNOcmytY7QRWbws3H2aaOyeg2R1rNv8/ykfkaH\u002B\u002BdEaUnAWmHrcrPs8nmw\u002BLilvEJECoSPDt0WXkXMDjZHSEp\u002BrEkoNQ9BxgdapOQ5vvtE/8EEQ/BjtFtrqvwbH2R8pKkuMUtufIczAkN8NWn53J9KiA90QgVaG/fuvIsTJqei3v86C4yv1YI60UCs5n/ycc5c0JZVB2Gj1BZTgMD8H9uc2l[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-66d15351-3234-5cb9-ab43-9dadd7973186/test-blob-78c8d26e-cf60-a3df-ca16-920e658dd736",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:09 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "FcStHhJiAhkDAdDVtmqBKw==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F72C6FD6CF6\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:24:09 GMT",
        "x-ms-blob-content-md5": "twcw4N4t0t3h44UxsbOGyg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:24:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "6ZiRQmUxlNyD9rRLxnyv55NQ\u002BwK9YrwphjM9JSSdFKpNPFQVMm7ngT/9S9O9b4CRPWefdguZcobcaLsy82\u002B35eIJ/YoomrUlaHrCvxbobBezrOe8/p2ftMnNOcmytY7QRWbws3H2aaOyeg2R1rNv8/ykfkaH\u002B\u002BdEaUnAWmHrcrPs8nmw\u002BLilvEJECoSPDt0WXkXMDjZHSEp\u002BrEkoNQ9BxgdapOQ5vvtE/8EEQ/BjtFtrqvwbH2R8pKkuMUtufIczAkN8NWn53J9KiA90QgVaG/fuvIsTJqei3v86C4yv1YI60UCs5n/ycc5c0JZVB2Gj1BZTgMD8H9uc2lZpv9ESm7OMOnHFrTR4\u002B0q8tlYQTNadlzZ2W1TCPrFkEAwoiLL9STTjyM3w3ifh24R1P2mFi41/yyianD9eyvvAYZwoT3KYv2whLYQJrbgPlIDQTP5I3oV\u002BqL2KYq31hf7RL32LuIsS3X/8ZF0Jdh1viwe\u002Bjn39d4IXqqa1DV2/K6iGN307g9z0vW9/THondTKfG9amNvaA1Lf6cw7lXNAiPDi0gz6fMwcrydAOfSsH7zR0FfGGGfWxBWPFQRDND2CfXQ9CcvHz/\u002BjPemwmcVaM84TZcEfemyNCAn3b2fL3XblvbyAcxXxDgBUJt56Ii5QMOU6L9J8ZwcHs/290GCX21x2ytwI="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-66d15351-3234-5cb9-ab43-9dadd7973186/test-blob-78c8d26e-cf60-a3df-ca16-920e658dd736",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC9F72C6FD6CF6\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:09 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "YHLD7sINY0AZZd80ErMKtg==",
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F72C6FD6CF6\u0022",
 [...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-66d15351-3234-5cb9-ab43-9dadd7973186?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1471471798",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
