{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ee644181-3180-29e5-55c0-b83b48cd814a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7258F40BB2\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ee644181-3180-29e5-55c0-b83b48cd814a/test-blob-f29acf92-c062-1fca-caff-f37a48bba0ac",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "kva4MZZ87WPuMLpTp5f047M\u002B58B1E1qBVEo7B4zj80xNr7w\u002Butri1pr0fsArzG2id6\u002B7Av8eZX6cNt1MQebWCzxtBvfatijYWxAlgZSaVojcmI/cKPFMLkk9oYT9lpWzHXOEvcZ1x8GG4qfv\u002BeTqAuBVcKhX\u002BeNLIdeunRSj28V6cWMhFpjBZtDOVkVKXTVlU5\u002BkqCbsXCOPOJzuxyqs4wfhdIeAyOtHkwnXiaOdAMOhSEl0/zKfjRQ/kd38056mIXI\u002BaOiu5YuzXBUcFNN/8jjYTH/hN\u002BPUQuZyQDYOS8BqMWcxXpjb82O\u002BwaIdgnl[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ee644181-3180-29e5-55c0-b83b48cd814a/test-blob-f29acf92-c062-1fca-caff-f37a48bba0ac",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F725904828A\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:21:04 GMT",
        "x-ms-blob-content-md5": "Xp4erX1Ouqlj5VXXpsnbfg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:21:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACS9rgxlnztY\u002B4wulOnl/Tjsz7nwHUTWoFUSjsHjOPzTE2vvD662uLWmvR\u002BwCvMbaJ3r7sC/x5lfpw23UxB5tYLPG0G99q2KNhbECWBlJpWiNyYj9wo8UwuST2hhP2WlbMdc4S9xnXHwYbip\u002B/55OoC4FVwqFf540sh166dFKPbxXpxYyEWmMFm0M5WRUpdNWVTn6SoJuxcI484nO7HKqzjB\u002BF0h4DI60eTCdeJo50Aw6FISXT/Mp\u002BNFD\u002BR3fzTnqYhcj5o6K7li7NcFRwU03/yONhMf\u002BE349RC5nJANg5LwGoxZzFemNvzY77Boh2CeUHAn6Ujhh/E6Y9qJQE8pFSlEVWx42tOlJ/8WBw[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ee644181-3180-29e5-55c0-b83b48cd814a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:21:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1956594705",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
