{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-30a67452-2cd9-6d31-e376-34d765acd195?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jul 2024 15:30:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCAB2C735F12DB\u0022",
        "Last-Modified": "Tue, 23 Jul 2024 15:30:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-30a67452-2cd9-6d31-e376-34d765acd195/test-blob-4e61071a-c565-61c7-f910-1b68f9980226",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 23 Jul 2024 15:30:57 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAC5bLHsL7BDLIY5u/KNtbRZea\u002Brx4fT3wzw5yllY2lhOn8rwkvYEVR7Wvl3fK/BaL2aaAtbjqDr5oyl/EiG3cgc2IFyYfJpgGdaMGyOW2NdLn5syvpdBazfQNu\u002BMxQM9HwwW6MuTwbKMeekAV40XIspSM7JGhPNv9PUkyEXqk1STjvwXgC/L994opgSuQROquNQletGQtppYpzQWbvls4eaUbIiQ/6LaRjuUXh6uwXPhug9xhViDAxhhvtk79Ujku4ReGdRK2bkxSvSV/Bi7qeWAdLTp\u002BxyN0Wmwb0DJnpDy76JaUKefVuBWQHpkLQb/phUze4DT\u002BsCn0Aiq2qp4Z6xj4wx2YVk\u002BIN3UU7qiKeQisIlrl[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-30a67452-2cd9-6d31-e376-34d765acd195?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 23 Jul 2024 15:30:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1901805869",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
