{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bd211851-88f5-5f3a-1ef9-03f12a262153?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E6A26E6B0\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bd211851-88f5-5f3a-1ef9-03f12a262153/test-blob-2791c84d-793b-1ec1-d4f6-2e95093b2aa0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "FnIpRc47/Do=",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "aHEelVGe9Mj1pI883GglOSKytOWsKzE1dk/y4b7OVqkwq2nIx0D/nk\u002BxAH3pxI75j5AxctCjUz0/6B8BrBMJJk7lCzH\u002BXHLisxWV\u002ByuzTLHB\u002BFEunePZjVgriN4h/fI8qNovA7ld\u002BjIeT7\u002B6DVgSi5xtQLTB24hqDH3Y09OTwLUjWVNQhEn4ZP0fEE4kH38AGfxCs70\u002BesxRxPc7hCdeio4JlrQEwQdSddy2oss6Ruz92LnWUQ345d6G/8BRvODVwIXAGojL\u002B1f17z3hh9gBF30KPatthzmAEbHVfsJHAbn84eFFeixkMt1i4WHPFl0Gh[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-bd211851-88f5-5f3a-1ef9-03f12a262153?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1943068293",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
