{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a9c9f6d2-d928-bc4d-435a-631322dccfe2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F84316CAE2B\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a9c9f6d2-d928-bc4d-435a-631322dccfe2/test-blob-d19c79df-e653-b4a6-2677-fcfda4c8c99a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "LPRn3I21DV6ZmRAEaYu0Giy3v2aSGSB1osMvuz86zLPtSpQTwVEfnq7rHSjzzlvP8hr2qyXOkhPU8TrJhVEeXs1cFx/2oFjamCG4p/z3gdNoYMklRCCOH7eBP88XVRhczL5bl7c72FHBGxMDFesX3HBnYCWI\u002BRmtzfhndWCIw0IJXNo9nOobLYd3ZCgMiwnMaWNfsPXy09Olrcm/02PwOFjQ\u002BrkQ2j\u002BGSzKdEZXxoELvmgv9KRNMFogHl\u002B4gW1kkhivQO5FPvI8k2WTDVcI9tA2H0DhY8w9FhOMwCEJQZfDYeYppIWSwn9572U\u002BuicDGyePhmIsgzJMciretHrN[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a9c9f6d2-d928-bc4d-435a-631322dccfe2/test-blob-d19c79df-e653-b4a6-2677-fcfda4c8c99a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:49 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F843179DD24\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:49 GMT",
        "x-ms-blob-content-md5": "ybUTsaloVBQo11MEOZiQ0A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:28:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAAs9GfcjbUNXpmZEARpi7QaLLe/ZpIZIHWiwy\u002B7PzrMs\u002B1KlBPBUR\u002BerusdKPPOW8/yGvarJc6SE9TxOsmFUR5ezVwXH/agWNqYIbin/PeB02hgySVEII4ft4E/zxdVGFzMvluXtzvYUcEbEwMV6xfccGdgJYj5Ga3N\u002BGd1YIjDQglc2j2c6hsth3dkKAyLCcxpY1\u002Bw9fLT06Wtyb/TY/A4WND6uRDaP4ZLMp0RlfGgQu\u002BaC/0pE0wWiAeX7iBbWSSGK9A7kU\u002B8jyTZZMNVwj20DYfQOFjzD0WE4zAIQlBl8Nh5imkhZLCf3nvZT66JwMbJ4\u002BGYiyDMkxyKt60es03Tc3Tq3DfUkqnWMFrcGb\u002BW\u002BiNqP15vzWS4rfdNlqwDgCouBtw6n\u002BSO9VA3wVrG73lc9L2KtHTuZKYPMi8/hvz807AwrhPjW1o\u002B20kNNwsK8r1\u002B8aHvecu2P6E1K221Tm5UOu6plUFleZhiS9kq4SybBEBxwZVaDVnkem5yrS/tiYzaufwcYFx8GXcJjC7yi151mictQ43Z\u002BS2VxRvS88todMJNTycvfqPj9KcdUYAr8u4Q/BMIwEX\u002BAb/Ph5tAqiaroBhrpTs2RRuDSU7lu6esadIswfa4YLR8Tk5oX/cIo0qBcrFov0yz2rb3hXb2GUUYIx7IFOgv80Bj71bszuUkekmz0C0PR87tSbPQLQ9Hzu0="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a9c9f6d2-d928-bc4d-435a-631322dccfe2/test-blob-d19c79df-e653-b4a6-2677-fcfda4c8c99a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC9F843179DD24\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:49 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F843179DD24\u0022",
        "Last-Modified": "Mon, 08 Jul[...]
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a9c9f6d2-d928-bc4d-435a-631322dccfe2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1047434932",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
