{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-803fcfe6-5644-0a05-403f-95265e828dba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 17:37:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAF569B47C91\"",
        "Last-Modified": "Mon, 12 Aug 2024 17:37:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-803fcfe6-5644-0a05-403f-95265e828dba/test-blob-755537eb-e02c-ef70-29f2-9f61a8402bab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 12 Aug 2024 17:37:19 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACmjlp4/04r4MkJ0IauW1qRn/urcSw2C1a6NELfndEjQ3FsAyFUJ5orwXWNpsG9FBC+15UWwNoNcIIEvcoMS0L35Y0VQVg5PHhhf6+2qGSU/R8yIcY8DYKWX5OeUGnPH3YylsA0qNK3hZodtUArV8ceb8Cq2Sp8u9gKfuLFmuwOkWA4gxKkYFRNepsrH1dCagfLgOCpJEZMttvnKSrv8uquDiPg89O1eg5sXV6OUZuAyBPb+RoMZG0Z7M02vDcpXYiwfBA0YXc0FQbRPcbovWQ/ZmEWFPjQoqm1xwYFfr3XQgDV3dSLTGabpuQUOiemMS5p91XVE0iP4NpmfppwLpZI+vrGEt+Psxr7em4UvGeCD5bXnIdoAS+4Rv36Jc3LK3dNy0As4B5[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-803fcfe6-5644-0a05-403f-95265e828dba?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 17:37:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1421601263",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
