{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4ec12f72-1b2a-9200-41c5-8d0e409a410f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22F82E08FD\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4ec12f72-1b2a-9200-41c5-8d0e409a410f/test-blob-46d1eb5e-a918-1473-5322-b27443e55a6c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:26 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADupUEsVapRB7GjA9zNkQk3hi0JGwCxsprwOxFGGecxk10YgOPIEgta1JHfuETcwBC1GhC+rdU1PfKmPBmYCu7KcXB/tRAmb3MhrkZu0vlWE3sBkf7Wc+WH4kPwIdbxwsqjFEfTXQoAjqqdnP6Oxmv5Tymel3jw8/6K99LNNk2cMOx8y72ygrVwAANTONbn+RzY9tGsUipRsiFISWU3MlddAGwREfutR81zLpZ1nLsnov629T988N7BKxicaTlPOM6r9jdq1echKq8EOCOU2xZlIaZngTwX4RCNUObiEd2UJPXHyaWDvM0XlcuQd7e6LU8CNkiS6LeRkxUm3IUAPhjScBQuzBFw4WTZUOtxh2lZ0yKX4NuVATw+NjaQXd9HFlazvgeijGA[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4ec12f72-1b2a-9200-41c5-8d0e409a410f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "930745521",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
