{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-eee4d467-c4e7-be5f-d02b-ff428b4dcab9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:56:36 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D61F5F70D9\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:56:36 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-eee4d467-c4e7-be5f-d02b-ff428b4dcab9/test-blob-084a2ca3-9b86-09b4-dbd2-897fb660eaf7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Aug 2025 01:56:36 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAw0dglDnJTPFUFODGx8/EuDB/6fpLu0FMlEb+LDe9KvraYO/vI+dHUuH6G4mwVTwJD74J1/X/nQQCFAPyzxy9lu3l6GLj1ZRJOJsYTZ+3nEMK8SB1t1MA2sfn6Q/nUIPBOICfymjdKTYpvJ9e509oTne86938S9+e5Q2a++iEZegXVxEbG9XWKcfqT/qzpfd0f56YJmSlxPCg/OVfQi1JoVq3S5A6TTKh6r4WEfvk60MaJnxN7D+DbY4gdhrweuuanKqj/FpjOi5r9j+mj7L4vBGmRR+w/7UbM9oGGdcbsW/Wf3FNRO7ktuhN4fYD2N3bK7oJSjXP6aD1hMiAXSBbUETP0BA9q3civY4zYx2/G1b4KvIZDmc6CpXQV7wiZFnL9o2xMAjN[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-eee4d467-c4e7-be5f-d02b-ff428b4dcab9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:56:37 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "232095038",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
