{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a5382fac-7d26-55fc-8762-fe27635fdfa9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E6AA53E3F\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a5382fac-7d26-55fc-8762-fe27635fdfa9/test-blob-6e4055de-15c8-2102-305a-af83adf0d670",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "Q/DnFtNQa4s=",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "1YeCUQQeksVFKHmR3akNLt415OpQR4BKV\u002BY41wOftasIXX3B1jHFJOdJUwAUR7X0krVsJJyh844GN/kd5brCpXLNiYArS1itb8ACBvN/NhAwREROMpEOZmnvup43pz4sh62ORr41yEZcv7Tcn\u002B2ahgHp7KF2dHPhvyIWPJC5dciB1n5G8fBS\u002B3z98XPcMsd8VTSdTrqdthM6rIabH4y1o0nsWshuU5QQlvEkeIL/BI1ameZcGyYO4x9rDERpttvvR04p8Nf\u002BDgGfjbjIeD6QOqj5QYWlWYcj3napA0dPp98WNTA01RS1W4vlvI5tRWvh2tGcb3VVSu7GBhJgVQq6T[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a5382fac-7d26-55fc-8762-fe27635fdfa9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "707091251",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
