{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-17100e7c-ad39-da0f-8aa4-9199dad64a73?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBECF23B54\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-17100e7c-ad39-da0f-8aa4-9199dad64a73/test-blob-bd7b7993-e0ba-ee20-63a4-d80202fcba0e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "sJ\u002BZnkSU1lvvGb42a6csEPwSOK1fqcpGe342OLehz9ntXbcO3wk6zFUbsI\u002Bi3tlwx1l/FEZnhQbUUyPFXp6kTknkSQ3vHjDz12xXQ/k7o5ylxnBdIbqThdixOYzldG22d2JFvpTMgKgojD3aD0ENma\u002BGIJguRiyPUcM0PuWkDmL\u002BoMyW9uUI2UXINZV9uHaXpKDcX1TViDA2tW3Ql0LCg33a2250d6LKfkZSZRGWEphNnZpFyK8OKRecX0B4N0IDBbEXotwHIiz9EuENgiMfn6PUgvmofbvOzLJW2BdiUkYETl9ff2\u002B7RnptSLbOAKf0fMCco7RJW4j2SNYqsEo[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-17100e7c-ad39-da0f-8aa4-9199dad64a73/test-blob-bd7b7993-e0ba-ee20-63a4-d80202fcba0e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBECFF6B1A\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:51 GMT",
        "x-ms-blob-content-md5": "hMSc2SB67sMdLw3RhhgRow==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 06 Jul 2024 20:40:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "sJ\u002BZnkSU1lvvGb42a6csEPwSOK1fqcpGe342OLehz9ntXbcO3wk6zFUbsI\u002Bi3tlwx1l/FEZnhQbUUyPFXp6kTknkSQ3vHjDz12xXQ/k7o5ylxnBdIbqThdixOYzldG22d2JFvpTMgKgojD3aD0ENma\u002BGIJguRiyPUcM0PuWkDmL\u002BoMyW9uUI2UXINZV9uHaXpKDcX1TViDA2tW3Ql0LCg33a2250d6LKfkZSZRGWEphNnZpFyK8OKRecX0B4N0IDBbEXotwHIiz9EuENgiMfn6PUgvmofbvOzLJW2BdiUkYETl9ff2\u002B7RnptSLbOAKf0fMCco7RJW4j2SNYqsEoVm7\u002BaCTPDwB80GDx\u002BOzUFAMsKYltWxa6Ru/PXaTaYkJYwV6z[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-17100e7c-ad39-da0f-8aa4-9199dad64a73?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "293205227",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
