{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7d3e841f-c32c-1c29-32da-655c15c813c2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684C2DF0C07\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:59:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7d3e841f-c32c-1c29-32da-655c15c813c2/test-blob-da44d05c-d4a2-e6c3-98f6-1e3e299db0fd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "TIPUwWXquJg=",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "pnIdddB0/jhs2hqa701lWsIyeugku/q3O4kx/ukPEG4ePTVEuqFibi5r6+0KoJjr2KJFIHqKcut4ZTpGQv9OXcmrfLEXIaAh0Au6udANrJvwRiZHyu/0lMtKzFRnGywuHY0jXiPn07cCJFBuz7kaa7ifVvvZBpPat+jmzFVLurXfjJtC6U53CXJvRKafhcQSL2Gbx8UwVBb6SaY7AAditmqaj0Md14FqKEyJacLtOjIk1Jz0r/LwrzeFSKCnOwhrDY47BfWA9FjfMZ94p+tUDQ50Fyxqbgd3quAMmI/hw+xEHVwzsTU8pN9EFH5TeAdLMDuRMyTbAZ+GxFoVc1zI/m2yM4mPIFvZN3NNJVmIJ[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7d3e841f-c32c-1c29-32da-655c15c813c2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "22449949",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
