{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-69564419-63f1-ae76-f788-553e4a3e3535?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD5F80312D\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:10:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-69564419-63f1-ae76-f788-553e4a3e3535/test-blob-b6888e9a-8823-91aa-9b78-8c20a2eafe8a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:52 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB8gIfdeqvfrFcAspomrF/mlc9xBHPYfPB90XL2q7t/v7CBTc6JFAsiZx4FuVKe7MVv25wGhaNHpAOWYKk46QCcgPPqpF6RXYHDT5xU08Oe3uSth9AeeTkNOqnK8rRi6X0eaThetEdm3X0bQzUG8tFA+ILFimIvfQe53Wq1x2rMYWUeNmqKPyqcRqlSAzUEBkjYifoxnF8b7usxpNbdsRYTTuHP57tmtrhXKES43HnRtdYh3T1wm8QGA0d+WJtTvpWTP7VTNB+NcdNB2XMbYxJyYO4AvNPYo7MdyORz6F0dBGquJJzEfYC3k2xqLsFQ6581C/isUwLBupwBNmw7GYh2JNUJbD51reNuSShnbnTxzN1EPtxlcLFn7GkAwkYUe3rk9ArrR35[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-69564419-63f1-ae76-f788-553e4a3e3535?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "381180222",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
