{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f595a9c0-0d56-a37d-dfb5-f2854aecf350?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:08:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F68407EC8BA\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:08:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f595a9c0-0d56-a37d-dfb5-f2854aecf350/test-blob-1018f6d5-a565-4bbf-ae8a-bff5ff00a978?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 16:08:48 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAC6EnHrmjbVRdfrx\u002BqwtfWhRxenEbQ94mSfNv4Zrw0CF\u002Bi6DJzMgUCoY/LegYa1oelsKXyPb3HtfS8NS2Q4vJbK6LAC9alZ1cbW/q7CX2De6ZQUrIWQcqh2zY9svzXccKdbFJjWs6xAE1S2uXDDKh3OLmHPIw8QOXYHjCca7BaQ\u002Bo0GZkvHCDbo1Jkw2bk4sqJxnZDTDE2XS9oizyaEJiY\u002BJr/jvMTSBiUr505231\u002B8z9mFqE6FvO1AbxtwpDkQZK5y8rP6VfXenpZqqCX\u002BIWt6Zv9M/33XuGnRok2oYWHsGoKgA\u002B2swXrkpwm3GhTIQU2w9T45w2QxmjpJKbKnNTw0fo2iXh5\u002BzqSFaFdzIJ1VCGEA\u002BGwjslcdbmizYpjHPHHNgpyGJeMvMieas1oNvXqc9CBRpz3QEcs2hO\u002B1y2wLvSzmpp0AzuJ90MVEif/8ELDtFm14dpQ0/HHRUKHzeWe7jvUuJhfdmyY909Z3jIjLOXM/yLT\u002Bk0eXsqosL35BildeifoJzeqZEHtHOqO9vG/oBRYttLGyvPuul3RtsGyn\u002B0h/GQKOwmuJpbc5t1ik2fU6RClnE9amq83/WzZ1K2AOnz5aPqNtWkOqpA75eQWiCr1\u002BM2xDQOhy2W01j2c1E3pXKhcZSZtSzOnmvG/IrDHHXFB59vjzy15W6GU1N8vbdbU2vIuVNIvltTa8i5U0i\u002BU=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "tTa8i5U0i\u002BU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f595a9c0-0d56-a37d-dfb5-f2854aecf350/test-blob-1018f6d5-a565-4bbf-ae8a-bff5ff00a978?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 16:08:48 GMT",
        "x-ms-structured-body"[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f595a9c0-0d56-a37d-dfb5-f2854aecf350/test-blob-1018f6d5-a565-4bbf-ae8a-bff5ff00a978?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 08 Jul 2024 16:08:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F68409A0482\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 16:08:48 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f595a9c0-0d56-a37d-dfb5-f2854aecf350?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 16:08:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "273263734",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
