{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-53d17376-4ea1-c1af-64b2-075630a2ed69?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E66CAA395\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-53d17376-4ea1-c1af-64b2-075630a2ed69/test-blob-664b5df0-7023-e5f7-f40b-3bacd3302a47",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "g4l7pDLsNfxPRvwfw9jyFSbZemcrZn35iiuFgnAT41ZI6FJF0\u002Bf775N6N6ajNwHEifTpzobSdh0MghoGZrOMO2Km1tqGrUE/3YrUsC7XVlIqwfh7KRXPdnI1OVHN9Yjg7vtD/WEmPtyzqfD8/cbuNSzH3KW6EBFM1l9oUHTvcugB9MIyk1jxA4McyIAl03isRgMlBRjjJd3q9iYBvu1nwzYI\u002BgkDu6HT1tkhnkiRJwPmvApwyW3PHc7kSJwy70WWtARJHNlvqIthUi8\u002BwoeVWM8iGgHj9/rJONw6H3IFoOaUi\u002BlDSAoqdxR\u002BDnc\u002BkVtHT/DNENRDs70Jf\[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-53d17376-4ea1-c1af-64b2-075630a2ed69/test-blob-664b5df0-7023-e5f7-f40b-3bacd3302a47",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:30 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E66DA4B21\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:30 GMT",
        "x-ms-blob-content-md5": "ZnyvmD6KLMRPvZDZcMGwdg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "13qfeKmV8ig=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:44:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "g4l7pDLsNfxPRvwfw9jyFSbZemcrZn35iiuFgnAT41ZI6FJF0\u002Bf775N6N6ajNwHEifTpzobSdh0MghoGZrOMO2Km1tqGrUE/3YrUsC7XVlIqwfh7KRXPdnI1OVHN9Yjg7vtD/WEmPtyzqfD8/cbuNSzH3KW6EBFM1l9oUHTvcugB9MIyk1jxA4McyIAl03isRgMlBRjjJd3q9iYBvu1nwzYI\u002BgkDu6HT1tkhnkiRJwPmvApwyW3PHc7kSJwy70WWtARJHNlvqIthUi8\u002BwoeVWM8iGgHj9/rJONw6H3IFoOaUi\u002BlDSAoqdxR\u002BDnc\u002BkVtHT/DNENRDs70Jf\u002BT8NIkYXLJIqjadURDE\u002BKPtZOiDi6eA8tCCOJASUdcsOcgmLUKLZrLE9eYkqv3gCBgwVk7VhvQ9fEK4lSQiNllfcBdHnsphYv02vpbAW0jSoi934fqIV7PU6bEA0tCNor6NxTnmmGlNz/RQn8hefCD55vP0qlVe1hlkc7UYYY8tqBvXMpUO7AnGKRIGOLjqdmyQBuzdmPhpL\u002B8ggSW0NW1kI/ashkqK6vnpLoBCV55hef1Jh1qjUA8jbQKm7mrkEvSkohTBPu8hBhzy82p3JthRvggoaq0SwdPmiRlH5PyPBRuLnbSJnzoOJ4E\u002BsVylq0YqVC9hvKdHkeFB27XW2iEfYu1O7Ig="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-53d17376-4ea1-c1af-64b2-075630a2ed69/test-blob-664b5df0-7023-e5f7-f40b-3bacd3302a47",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444E66DA4B21\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:30 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E66DA4B21\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:3[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-53d17376-4ea1-c1af-64b2-075630a2ed69?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "207008954",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
