{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-58cdb766-646a-0d31-93e8-03d5dbfaaa68?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86844CD9F046\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:56:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-58cdb766-646a-0d31-93e8-03d5dbfaaa68/test-blob-bdac7ccd-abab-f0af-e384-1aa86cf3fae7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "RjrqesGXcjc=",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "+DjQV1NeCNZQHiIff3HI/2R045oIrl+er66GVuBYXmGMAscMwys7lDgbq+kpcGKqra6p2/Ej20nYMaek17H1+L/Bkn2puzw5OE9h7AN2dT9L3KkyroNwaSZ9NJKDlryHJbIpZ93lAPJyb6Ohwe5GYrtnWfoIw0k8USlWK4aptaGS2sdQTA5iZdu2vz7fzqc4N9HXGz3CfmFp7Razj9RryLoBDuYn9RasBfQeUQQKXYKBHvS00ppk0Fxm51/3r9UHS/aE3sDAEEK7KhZIoyxcXpCTMXHgtvYgnT6KwQ23tVYeFwYNhn7CwQ2x+aeDGy0vCYnPZH1kJpQAZEGBNk80BHXAKosmT9gR0XBjL71On[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-58cdb766-646a-0d31-93e8-03d5dbfaaa68?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1458743549",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
