{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-93fc75c5-4e94-e00b-e30c-0c775a53dd81?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684B9382198\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:59:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-93fc75c5-4e94-e00b-e30c-0c775a53dd81/test-blob-0a867a5b-2085-d8e8-537d-e43ce425d172",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "smKelm2UFtQyIJDs070fcQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "cgtqZdXQllpheJYFoxQqfSNxuoryb4qCSYJnJgT368EmOoSq+oPF7DkHDX5Ql8EBkOj5JoHefgOB6BtTaXBWaY3U32iPgIOgq85R6mELMbLAZZUb/sRAR7uBKBJocYPIsaPxe7hZchBlWHuzjJOhdbZokwPaOmvIlJetDldxODpKiDm+Grb6Z/OFtqVJjbso37Jb/95/7nY4KeYhrGO49CBBaANZ4lsAbiwPVYPFfwfchC+lFThby5rChvHP2buPzMGFCCW3zvxWWpGycJjyc6nfRCc0E97o5Z1pl1xqMJVwf4nCQHbhJLYyTrqnqVoCzxNH8JSUW7ninSKITjaf7Cr7QfAPMDIz/iBwAcUjQDtC[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-93fc75c5-4e94-e00b-e30c-0c775a53dd81?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1536912342",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
