{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-76c4996d-09db-4a95-2fe3-c8ae54f42fc0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E2959C13E\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:42:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-76c4996d-09db-4a95-2fe3-c8ae54f42fc0/test-blob-14703c87-5699-c961-098a-6ecd7dfe57cb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "tymUSvKdvFQ1CoyzNEbD\u002Bfx1qjQZPblpo0rAVF\u002BEhjhco5deopxfZmSGvPzlkbNCesDjvQeWGHpwK6an3Wj0sINUV5GuZFdfFUPPkoC8gxKXfdmeockxxood7Xf2t4n7kQx5kDoikxVpg6fDxob6s6eTEF\u002BOVg\u002B5I5AGkXbgaF251AB0Q/LXdenENR0hbf8DIjrPYqcqbTv8v22pGwKeiRpKCfKFhnC0vJt1yiHxl7WQA248EAa2j2bEd4OFLlnmJasC12MNfpzJGqYLtKMaCie4GBiUYXgUk3qLwA7sL41BjqR178BRg4TRcvVfqtrDqmxbzRVBUsMz7kPpgb2N3esY[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-76c4996d-09db-4a95-2fe3-c8ae54f42fc0/test-blob-14703c87-5699-c961-098a-6ecd7dfe57cb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "Ve/gwnjjSfCs8WpmjswhlQ==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E29692039\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:42:47 GMT",
        "x-ms-blob-content-md5": "Ve/gwnjjSfCs8WpmjswhlQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:42:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "tymUSvKdvFQ1CoyzNEbD\u002Bfx1qjQZPblpo0rAVF\u002BEhjhco5deopxfZmSGvPzlkbNCesDjvQeWGHpwK6an3Wj0sINUV5GuZFdfFUPPkoC8gxKXfdmeockxxood7Xf2t4n7kQx5kDoikxVpg6fDxob6s6eTEF\u002BOVg\u002B5I5AGkXbgaF251AB0Q/LXdenENR0hbf8DIjrPYqcqbTv8v22pGwKeiRpKCfKFhnC0vJt1yiHxl7WQA248EAa2j2bEd4OFLlnmJasC12MNfpzJGqYLtKMaCie4GBiUYXgUk3qLwA7sL41BjqR178BRg4TRcvVfqtrDqmxbzRVBUsMz7kPpgb2N3esYyib\u002BpRtnZpWTw\u002B\u002BCtOmfyBaikGJ4ADzhQgB8aAHHQ5U[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-76c4996d-09db-4a95-2fe3-c8ae54f42fc0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1112120866",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
