{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3b0483e0-01d3-37f7-22ab-f43e1f1c7d2c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:54 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C2308D08826\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:54 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3b0483e0-01d3-37f7-22ab-f43e1f1c7d2c/test-blob-0e22e0bc-6ef4-d65c-ac9c-555b8a405130",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:54 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADvLUrjgtNdQRczn9f6a5uBreSaNWCW27SuaLecXiwwY3n8nG9WG43PjHnQHTLK+esmvpK8nU2pWVGWNBocwOPqAjte/c8sKpJXy6nnxb6C5G7LdqCadMYsU0MdwOZzs8uW5Rr2a/wc+pP/ZdKjwZOSFFCrUEpCT451MqqMDmqs4xfdUeCki3hyrnsMmw70iJGvi6yVyGKBU5WMgThRkOwpU4G6xnCy7ojYOKHONbR/gKoY3IO+Fhu0W/1KFwo/IB6P40eMOcEg/ZwjvY/Bsh3hDACOOLRpaj1mBWpyaNZ9mBeDP1Fs80fp+N/mmliM86nfaQsKsOdqJngKJjNWrZTFpiR3PnPLdBi5pUDVgtDk2RLBkv/Kc+cwGBjZYswTkkpKIfQ0FLU[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-3b0483e0-01d3-37f7-22ab-f43e1f1c7d2c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:54 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1799890346",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
