{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6cfafae0-0690-1b31-efb5-a64c371fb48a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBEF359AD7\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6cfafae0-0690-1b31-efb5-a64c371fb48a/test-blob-443bf3e5-0090-eb0a-7cce-e6659751322a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Jue0GTxgw0TF7XHY3odRLxxF4MelL8YO794VTgNN2v9\u002BF4LiDH8lCqw1vteXlsmtlWnL7Rpya/YhpipeS3VAeBJyWcYEbiOcH9YacHHvdlgUaLmZge3kC6uLwWVVxr839EbEJDwCqSZGLs1EWPqFMi/RSeO8pvYkjU4aeKy9R1gW4nwqKlIcEb6SU1MfoLKxBo82g33ce01Pn5bt5zB6ieZ0LnV\u002BWgfdtTgkKlOjBe2caXIdhsTbOWcu24q7LimOGMptqnI8MquIWc5EuFH6rJqpUX2\u002BXAIimfQOUH99IYYOlRGJNlp6XzfHlS31l4EWNC/vEd2s0LvIShF\u002BLuErCjdI[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6cfafae0-0690-1b31-efb5-a64c371fb48a/test-blob-443bf3e5-0090-eb0a-7cce-e6659751322a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "/kMta0p/QagyRPKWO414gw==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9DFBEF42CB4E\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:40:55 GMT",
        "x-ms-blob-content-md5": "/kMta0p/QagyRPKWO414gw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 06 Jul 2024 20:40:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "Jue0GTxgw0TF7XHY3odRLxxF4MelL8YO794VTgNN2v9\u002BF4LiDH8lCqw1vteXlsmtlWnL7Rpya/YhpipeS3VAeBJyWcYEbiOcH9YacHHvdlgUaLmZge3kC6uLwWVVxr839EbEJDwCqSZGLs1EWPqFMi/RSeO8pvYkjU4aeKy9R1gW4nwqKlIcEb6SU1MfoLKxBo82g33ce01Pn5bt5zB6ieZ0LnV\u002BWgfdtTgkKlOjBe2caXIdhsTbOWcu24q7LimOGMptqnI8MquIWc5EuFH6rJqpUX2\u002BXAIimfQOUH99IYYOlRGJNlp6XzfHlS31l4EWNC/vEd2s0LvIShF\u002BLuErCjdINiI/cXZALvJG9sfULAJz\u002BBxQjQ\u002BoYsVWwetI/DBVm4r2rWBe[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6cfafae0-0690-1b31-efb5-a64c371fb48a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:40:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1467198910",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
