{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d4b2a45f-1bcb-2f47-dd34-b66ae7ebb80b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F84346D786B\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d4b2a45f-1bcb-2f47-dd34-b66ae7ebb80b/test-blob-31844e36-be78-8b24-65c8-4ed85f69d45a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "d2BjPUs//WKl8ySPEGWwBb3ftv7r\u002BtsHp/\u002B0DcbxRtFry2ofdDqLdeudGDsByTxYoDFQmCnSU3yEXJVMi/CbtKxSJEX6kZGDVEASTeGgBt7DW22VoK2omHftmhekPun7AWSOrqT2XQ\u002BfzUTovwWb5Fa3iS\u002BCBhP/qovNDPZ53hVWF0t8EVc5zP1e9dNpwNlxUrbB7bW6ePtRjwQZKVAYJu4ukai6H9L/fbwxJBBAluqyW7o/t/BgnJ9PK4JSH6OtRc7kOi4xtzPkwm/4iFPrEfkaZs2W2W/\u002BzvQIavRQrF0ZhN9BW1u7gaOHW/WBaBNLZBmIN7nVFmxf5mw5KE0[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d4b2a45f-1bcb-2f47-dd34-b66ae7ebb80b/test-blob-31844e36-be78-8b24-65c8-4ed85f69d45a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:54 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F84347BF77E\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:54 GMT",
        "x-ms-blob-content-md5": "jydsnI4BZ\u002BuxxrzE4sxDOA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:28:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAB3YGM9Sz/9YqXzJI8QZbAFvd\u002B2/uv62wen/7QNxvFG0WvLah90Oot1650YOwHJPFigMVCYKdJTfIRclUyL8Ju0rFIkRfqRkYNUQBJN4aAG3sNbbZWgraiYd\u002B2aF6Q\u002B6fsBZI6upPZdD5/NROi/BZvkVreJL4IGE/\u002Bqi80M9nneFVYXS3wRVznM/V7102nA2XFStsHttbp4\u002B1GPBBkpUBgm7i6RqLof0v99vDEkEECW6rJbuj\u002B38GCcn08rglIfo61FzuQ6LjG3M\u002BTCb/iIU\u002BsR\u002BRpmzZbZb/7O9Ahq9FCsXRmE30FbW7uBo4db9YFoE0tkGYg3udUWbF/mbDkoTT\u002BTFRHeBHSptZ1f5SkPfXl8ZeG9BdrHdKREbXLhde\u002BBWVZHx99viQ/WumTr2NOrB\u002B7maQZYakdkzKFtmpYCyECt3YvTx7WaDdzR50t225vQmGaD\u002BwzpKO8O4/s\u002BAu550/IjPvtH1z85S1sqhoL87vAFnAIvfsw0xLWcxeS6XAvtWBNYUp2gicAnSq\u002Bwv6FsEvQKOGXsSVQl73pGqxJbfu9QPC5uo5tTZBNBCDQdgwQTMLLvryOlAA\u002B\u002BM2MiWt2ty8vAYIJz/W5Yt9NSq0EgCGt1Mnpga8/Lqjsfr284MAk1kzxoXCOBnzJEl/dPUlXNniv3rCdjTWD79LVHVE3\u002BH4bKHaYBE/8OabcWpgET/w5ptxY="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d4b2a45f-1bcb-2f47-dd34-b66ae7ebb80b/test-blob-31844e36-be78-8b24-65c8-4ed85f69d45a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC9F84347BF77E\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:54 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F84347BF77E\u0022",
        "Last-Modified": "Mon, 08 Jul[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d4b2a45f-1bcb-2f47-dd34-b66ae7ebb80b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1617523412",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
