{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-95962c9e-8f69-af20-475a-2009dd4abc30?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBF7FBFC43\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:41:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-95962c9e-8f69-af20-475a-2009dd4abc30/test-blob-7dc9d5bd-4065-4938-338d-e18a98fe994a?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:10 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAADPLtBI0AxYyEDsmjSFLVa4b\u002BkoTLXucq/rnqw\u002BqXzzwHbjIyq/ombUOM2N0XZBpuKDdP/MEXFx4LsgXTJfGh7D\u002Bdm9oQos\u002BcyDUxTnYaE5qvjKujV9Jq8EckJunkUzdR6uydedgwTYV3sySL1diX8a57M6lV/pRtIquC/HvVqHT971OZjJnCbz8WO5S93xp\u002BjDU7eS\u002BeC\u002BxYMEcsrUEJkhq/nfZ1DnUEuMRqP7L/r0ORFGBGqi9Vb\u002BN3QUxClcHuHKmKDkEj\u002BY3AJsBbI8w5WIDzm4jgwvfrWi4TDc0oshLyjCMJdaECfSrihnNu\u002BkwXPejLXwpJDUmxrqQjAOvAl2StaKepL\u002BLf8S5eDkyEjF/h\u002B9/UbWMYuX7ZV8cM72w/Ee8OsZGUbg4F613b6w8NPRJEMRUb/DoBlK8439gb0xHCLuxdddq\u002BTZ3B3nIVPN5vzBq0uK5XIyWk/Szya4416hhMGcwir7dHhfN3Wh3H/FfQyQO9ZypzawvGuIi9y9IPi\u002BRp2RMSTSxjbSKq38kH7QDFEaJ6eIL9yK7AW/c\u002Bmcohd845bhM0zovnWfn3yJsyztt36Lo/hRNhfABkQeE1NNNoiWf6zo7tgFMWkx6Y9fATjZ0bxqEP4eK61\u002BISwHyasiUWn08zN/BcilhXGPH0yHYAUMRUGW4iWJd1T/ac2r/jmSvnZKM6vXOZK\u002Bdkozq9c=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "OZK\u002Bdkozq9c=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-95962c9e-8f69-af20-475a-2009dd4abc30/test-blob-7dc9d5bd-4065-4938-338d-e18a98fe994a?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:10 GMT",
        "x-ms-structured-body"[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-95962c9e-8f69-af20-475a-2009dd4abc30/test-blob-7dc9d5bd-4065-4938-338d-e18a98fe994a?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBF821E833\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:41:10 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-95962c9e-8f69-af20-475a-2009dd4abc30?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:10 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "875640440",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
