{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-80600145-2b3b-201c-c4b5-bf24b4212a10?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD894B2E2F\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:12:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-80600145-2b3b-201c-c4b5-bf24b4212a10/test-blob-89a2d811-743f-82ef-aaf1-b2605b15a049",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:02 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACm5snoA4pl/LTufyZ0AkFawVR4yrV84RxaLHnchmSEF0Wzc/igC2Yhg275QPh2BPwzZyiXcAVNKQWtjdYRiXZPamfhwY9JurXuV0dHg6Ak4yh8qR487ac/ZUnz836PEPr3qdaQlUJt6q1yqRi+BqZkiKmuleBYE3zAoVxFVsc2XkdMT9nKk07lDr5xyUSPgV6ijmrU4Xsan5Va0PTmJ5TmPErRcbfMmvVbyYYh5ko4MR/+o8dcYXzMMq9DcMNZ/+cqi4z5vRCn1fR1eRj1+LhLIZ/U6ITNidrNBT4HiSkxAcqe9lu9PnMOVs3S5+hk1zn2+E4khRZjXQKyK7jRn0zKQ3hNVgJdjeIrxZG2+qLyaC0FEJDbDXyzO5lZCxO6PbaAB6NwF4A[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-80600145-2b3b-201c-c4b5-bf24b4212a10?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "838664128",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
