{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8e27d3d9-a6c3-0dbc-d8c0-2a2190e6fd0e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F72C73370F7\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:24:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8e27d3d9-a6c3-0dbc-d8c0-2a2190e6fd0e/test-blob-68324046-9dff-1aef-c307-d74d8a2cbf66",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "HlN67fbs3SSdpQPfORs\u002BRu\u002BlJL7nN6okupeinxEyMepVtYJ7F\u002BOOEfTaKL7GA7WhV10Tq3vQ0OapVjJfST0SanMYiYOYwi8MFxPJDA7rXbbiAUizHoVvhOWc0sCwL8e3x75LrnkyCJQuB5RnB8PXvvh8fUj1X0vtqQSd/PBuW\u002BdMEkVQoK89r/izhRfwB30hxBTINLJ\u002BwWhyXQR0lAyjv6ytG/V\u002Bhh1JPs1PQdk0/KGHezfcpiY1zVDc3kKqyBvsD8ZqQ\u002BuIoz32f/bkL3\u002BOPmBj7RjUxhiGd06koajannWxYzETybm1/tj65icvUJ7QTZ/i[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8e27d3d9-a6c3-0dbc-d8c0-2a2190e6fd0e/test-blob-68324046-9dff-1aef-c307-d74d8a2cbf66",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "9HdEexa/cv0OdOHnnvbQNg==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F72C742652F\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:24:09 GMT",
        "x-ms-blob-content-md5": "9HdEexa/cv0OdOHnnvbQNg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:24:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "HlN67fbs3SSdpQPfORs\u002BRu\u002BlJL7nN6okupeinxEyMepVtYJ7F\u002BOOEfTaKL7GA7WhV10Tq3vQ0OapVjJfST0SanMYiYOYwi8MFxPJDA7rXbbiAUizHoVvhOWc0sCwL8e3x75LrnkyCJQuB5RnB8PXvvh8fUj1X0vtqQSd/PBuW\u002BdMEkVQoK89r/izhRfwB30hxBTINLJ\u002BwWhyXQR0lAyjv6ytG/V\u002Bhh1JPs1PQdk0/KGHezfcpiY1zVDc3kKqyBvsD8ZqQ\u002BuIoz32f/bkL3\u002BOPmBj7RjUxhiGd06koajannWxYzETybm1/tj65icvUJ7QTZ/iR9sCF0mt5Myd4wKUG\u002BCAM8tOe3Snre5A2uDxViaw1FMJ\u002BFaa[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8e27d3d9-a6c3-0dbc-d8c0-2a2190e6fd0e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1388816578",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
