{
  "Entries": [
    {
      "RequestUri": "https://jalauzontestcett.blob.core.windows.net/test-container-7692aff9-6377-8b43-0e9b-7941c8377780?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jun 2026 17:04:46 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DECE24DBB951D0\"",
        "Last-Modified": "Fri, 19 Jun 2026 17:04:43 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzontestcett.blob.core.windows.net/test-container-7692aff9-6377-8b43-0e9b-7941c8377780/test-blob-7a26414c-4615-d645-d3a6-b2960e488804",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-date": "Fri, 19 Jun 2026 17:04:46 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DECE24DBE54E22\"",
        "Last-Modified": "Fri, 19 Jun 2026 17:04:43 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzontestcett.blob.core.windows.net/test-container-7692aff9-6377-8b43-0e9b-7941c8377780?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jun 2026 17:04:46 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1888562505",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzontestcett\nU2FuaXRpemVk\nhttps://jalauzontestcett.blob.core.windows.net\nhttps://jalauzontestcett.file.core.windows.net\nhttps://jalauzontestcett.queue.core.windows.net\nhttps://jalauzontestcett.table.core.windows.net\n\n\n\n\nhttps://jalauzontestcett-secondary.blob.core.windows.net\nhttps://jalauzontestcett-secondary.file.core.windows.net\nhttps://jalauzontestcett-secondary.queue.core.windows.net\nhttps://jalauzontestcett-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzontestcett.blob.core.windows.net/;QueueEndpoint=https://jalauzontestcett.queue.core.windows.net/;FileEndpoint=https://jalauzontestcett.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzontestcett-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzontestcett-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzontestcett-secondary.file.core.windows.net/;AccountName=jalauzontestcett;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
