{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0ef50899-0403-8b86-87f4-9c98d08ace41?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C23087BCA8D\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0ef50899-0403-8b86-87f4-9c98d08ace41/test-blob-6a1526b5-2a7d-e1e7-ff55-3754d387f02e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:53 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAixr6MvUa0OPxggjN7Hz7A0R3mtnPYb++JGbIN4XP8ct/6RIcJlsJrZd74cKbNA1M5v8d6MzobSVbOA6OTp1aJZA9TgNq2tzpaelCV4P5JvBZf0yKrgT6l3/sxOpMe2L6HbwyWeYJ4ggeMILnqhWlXhEaNM9M03ePRrqDfhHynPKKRDXDys0OT51AaH2GFu1mR2rVMkKTrU5IpxMrhmf6L5OMWWHf4ZNEC+kyCGb2BS/NHTarGW6v9prreye55sU1Sjzp9bmLimXXkSZZYaDnUp3jWmktTxIk3GbK8GZviiUn+L4qDA92QZLM14hEVpT2BCiF1ohYC/8uxRVWvJYDZAcBNWTmvUaObRjWXHeF3InR1Ow56bOcy/DC+0r2I4T8zXOFRyEs[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-0ef50899-0403-8b86-87f4-9c98d08ace41?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:53 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1990774389",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
