{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5a87a3a5-32e7-129b-5343-c54f50fee646?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:06 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EE35D9377\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:08 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5a87a3a5-32e7-129b-5343-c54f50fee646/test-blob-42641e74-8844-d436-391f-a18d71976d2c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:06 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA1T4icQRigJ7Lx2ok7Ika2kUZ1Pa2816BFX2M4GXCvm/1QRHsUFTzBcil2fe2t5x0ere+fcCL4eHfoV+K1aA5CQT+M6t3KonwJtMuERVmyl3dFGWuBECvbV8sDLL5aCwoaNDyuIPw/UwtylbtWczIeNb9qb06iwTEUsZIRx3W9r6jBaREcBHd6BcZfDnpvhOOZ5ff+75u7eHMLmm9pLoyWteUSlQohATBI72qHQ7O2pCyueOF+v78MBfGeEWoHEdc6yVmUXO/Zd+PGtgAxMzS/VPVCurWqF/UmBo8Yg+/GQN6STXlaIkg91QD9uAi/2tG83r10xVYhj7JjblZgwfT0/3Yhn+a6ZTGtBeW1rV/tZiu9W6UyUXuIcb3H97Py3BQMCbiSnTv[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-5a87a3a5-32e7-129b-5343-c54f50fee646?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:06 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1013998312",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
