{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a0f818d9-f116-f440-c309-5af563c0941a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E341C1C68\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a0f818d9-f116-f440-c309-5af563c0941a/test-blob-fe570eb8-76c1-f225-efd8-d72bb696822e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "dYU8J6ltT0w=",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "0H9pwKbWl3PsUBFp3hIOIr86iX6g3bZRqUx5ptqnrmsOc11nN4h5lU2syhSnciw1zmnFvpof/vPIFxdaXfCYRKGlWmu0puo2wfMw8xKiqTcfRNdx4vDQ7nRqniBxHjdcFIZyARfAgCh\u002Bjv2n7grgJm7fOhkZJmKx1Wv2SgjKxaK71N\u002BLMKcgX8Ov81TyKf9piXexkuQeQu0jwCyryjYfs8ha6xorVfbGv9tWajMOvqtrjMCQGDO\u002BnZHyaG97dJSNjz\u002BLlz7lPjSB69IIyNi5FQGAPz12j5qVnE2IOOyHS0tHyNr0gydthk2LDy1gtdW4OFJu\u002BjRWFgCk9fvw[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a0f818d9-f116-f440-c309-5af563c0941a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "293841029",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
