{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-decfa63e-a6e0-6b10-6003-b74b7b283add?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22F96179BF\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-decfa63e-a6e0-6b10-6003-b74b7b283add/test-blob-2494719d-08e7-19e5-2806-f32e6585b340",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:28 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACCabxAzHWAatlj+sYQrBZmstFrgpV6GvjN4khtgSYaQPaU4eo9EBlreCnnX2K3ftiy6/WAOKBsCE/Dc+otEumySLnPe8orKKG3AAprkrqWFWNvu5UxmghWKNmaeZ0vPWU/NBeo5wMNhsJTyDiWAHWVLV6GvVdTga6xeVPxka4Eh8KkLF2i7S5gYTXS3dHQwChjBUw+qIAO7LJp926vHPQUT0B18tMX8kAwJlwigKTc4Lkqjotixd9ClUCrOfW/sEVAvo2QWs1USxILDoEk62sOjBa0hY1psYphM1yTbLhKcHYW4sEWS4br1UJ4VrZdHarUnKzfCyq31gwDLiZxwN9ZwZ4LDQip90GQya9L8FvTBBWxv88Ma2RLXwu1ExxfehViHpUXUhC[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-decfa63e-a6e0-6b10-6003-b74b7b283add?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1189197546",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
