{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-668ec305-b2a1-b14f-e2bf-55bcdb27f3f7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F725580DF9A\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-668ec305-b2a1-b14f-e2bf-55bcdb27f3f7/test-blob-48a23485-0d11-adc3-6334-344b2992aef7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "XDL5nUHeBhB6Twws4J7C1M/muWJXWLjPHhLj7MEpeYGtyVW8FFItI3LAIPDlaxgjC19P3x5jsAN6Kn4u\u002BxlPUNWKfxdIBcB8uJbvlzjI6bP6v\u002BFh2ZpiSRhRQunU/yhZcM8aW\u002BwA2gWe0iaIcxnLskDLMzs47XY7KDX/98LWqLluliZorY7H\u002BuXbwwdz2dX/hpCpCMvsIYNY3jO2AOJDxyltGt3yYgSyBDlVXCpvyE5gAHEyLZ/tgXWjD85aEPkDmPvdBb/4DCOL9gSRlsRY6RbkVgBxEJqKf5hnTlI1V/NAUsQuksKPZ/NNpjaaXOuxSia3drr4kYdhU4YmkL7RVZ4R[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-668ec305-b2a1-b14f-e2bf-55bcdb27f3f7/test-blob-48a23485-0d11-adc3-6334-344b2992aef7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F7255901EC6\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:59 GMT",
        "x-ms-blob-content-md5": "DwaTJ4y8CfBudE3zsIHZDQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABcMvmdQd4GEHpPDCzgnsLUz\u002Ba5YldYuM8eEuPswSl5ga3JVbwUUi0jcsAg8OVrGCMLX0/fHmOwA3oqfi77GU9Q1Yp/F0gFwHy4lu\u002BXOMjps/q/4WHZmmJJGFFC6dT/KFlwzxpb7ADaBZ7SJohzGcuyQMszOzjtdjsoNf/3wtaouW6WJmitjsf65dvDB3PZ1f\u002BGkKkIy\u002Bwhg1jeM7YA4kPHKW0a3fJiBLIEOVVcKm/ITmAAcTItn\u002B2BdaMPzloQ\u002BQOY\u002B90Fv/gMI4v2BJGWxFjpFuRWAHEQmop/mGdOUjVX80BSxC6Swo9n802mNppc67FKJrd2uviRh2FThiaQvtFVnhFRQwApVlRV7gw[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-668ec305-b2a1-b14f-e2bf-55bcdb27f3f7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "952085541",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
