{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4b4f5c52-c250-ba19-e7a5-4bc76d2d260f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E288B74C1\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:42:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4b4f5c52-c250-ba19-e7a5-4bc76d2d260f/test-blob-8bf773fd-dcad-1a01-5b81-000acea36306",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Ncvdr2p5lyKt7EyQdG9kJ09ZdZwJf8g4n5GWrHeQh9T\u002BZnOK46aH1zkA\u002BVnD2xNDKpHNgrUl3rYCpA/Y4uqrHWV4kQ772USp0Z1iCYZudMN\u002BU4HlwgUe2Yi9hz6WrvRPVdz0SkoFR1BNJLAXw9QvlDBLWo9oxlpgWbeFPlIGEyOpErSqeip5eQswl55VBxazjvMNSlRl5o6ClPCSfwn\u002BRxCMbrAghRkF0uGDOC67C1Kh0q9e\u002BMjOQywlKOY55/kCMlCOyJllkgjZB3hz4a5gxoie8KxZoE9HviqE\u002B10zzOrngQXeLUO4Oz\u002BnhPBQW2J\u002BxWFd[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4b4f5c52-c250-ba19-e7a5-4bc76d2d260f/test-blob-8bf773fd-dcad-1a01-5b81-000acea36306",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:45 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E289AACE1\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:42:45 GMT",
        "x-ms-blob-content-md5": "cdagxyzvXsf9AcGz8RPuyA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "42vO0fNgDck=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:42:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "Ncvdr2p5lyKt7EyQdG9kJ09ZdZwJf8g4n5GWrHeQh9T\u002BZnOK46aH1zkA\u002BVnD2xNDKpHNgrUl3rYCpA/Y4uqrHWV4kQ772USp0Z1iCYZudMN\u002BU4HlwgUe2Yi9hz6WrvRPVdz0SkoFR1BNJLAXw9QvlDBLWo9oxlpgWbeFPlIGEyOpErSqeip5eQswl55VBxazjvMNSlRl5o6ClPCSfwn\u002BRxCMbrAghRkF0uGDOC67C1Kh0q9e\u002BMjOQywlKOY55/kCMlCOyJllkgjZB3hz4a5gxoie8KxZoE9HviqE\u002B10zzOrngQXeLUO4Oz\u002BnhPBQW2J\u002BxWFdm/ZNqJEARgpv4ZerpjuOjF\u002BogZlF5bRtshtf92LHBTX81jHzmdl03eY4SVmo\u002B960ws8C1UPHF7VC4PV1oU6np9xhr88KmvKGNKOzDJtbxLY9qjWSxTDxNb57sbnj/jyXkaJ9RkwOqifdfKGgEwoZ5hs/N/YZFOKscHkQjuk4ozVmG3v53X5qLwANtUiOUSG0YcqepMZGfnzA0dbS/Rs\u002BpNlsOfiOIAmc1Aj1DF\u002BZHR5YXCwemf5uIJ3/OAunlzHkzhBvIRcoJUHBAc\u002B9UHIdJ7O3eaHvIAva/Rlbj\u002Bf99TzXED1OKfsGLzfrXJgusM8r4hFX8B6Q9a4FlCT\u002BzZVawwyT5kA0zv24sEppBMM="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4b4f5c52-c250-ba19-e7a5-4bc76d2d260f/test-blob-8bf773fd-dcad-1a01-5b81-000acea36306",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444E289AACE1\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:46 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E289AACE1\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:42:4[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4b4f5c52-c250-ba19-e7a5-4bc76d2d260f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1856365419",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
