{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-86e7897a-947c-e39f-dbd6-63ac8cac337c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F72C6B540A2\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:24:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-86e7897a-947c-e39f-dbd6-63ac8cac337c/test-blob-5aba34c8-7c0c-2bf1-cf2f-882ca4a07a27",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "JBEZgkMJiuqXEzU50VB2lHYClsHGh5zg14VqYkbZpBIVfCpbLd4dDD/7FMxWE0FmCrWiLadsgJ10OKq9nyikvW4jJFQmG2aX5IqBynLQisNEA1eQN3dqqPyM5vQzYG0XVlddMu/sQO9OCkgd6rUrpK7neZvRFIb3uHtXmTRyZIQcanQaclfTV8JnQiwuTL1HYEFGTObRRUHRZnp0lKa73KbEAYBAEDJXEyHYatJZyGu9EDnzLBedSiUySQvdX8IcrGaGaks9Bk8P7jnE\u002BNpvd54OtoRtx6\u002BOJrZaDccnerNfvL5r010gfwrp5D3e2FFKw9Jszqk\u002BruS290SV4/iI53SFZTwcA[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-86e7897a-947c-e39f-dbd6-63ac8cac337c/test-blob-5aba34c8-7c0c-2bf1-cf2f-882ca4a07a27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F72C6C34A7A\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:24:08 GMT",
        "x-ms-blob-content-md5": "DFIWBm5zdRdtnB5\u002BV7D8gg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:24:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAkERmCQwmK6pcTNTnRUHaUdgKWwcaHnODXhWpiRtmkEhV8Klst3h0MP/sUzFYTQWYKtaItp2yAnXQ4qr2fKKS9biMkVCYbZpfkioHKctCKw0QDV5A3d2qo/Izm9DNgbRdWV10y7\u002BxA704KSB3qtSukrud5m9EUhve4e1eZNHJkhBxqdBpyV9NXwmdCLC5MvUdgQUZM5tFFQdFmenSUprvcpsQBgEAQMlcTIdhq0lnIa70QOfMsF51KJTJJC91fwhysZoZqSz0GTw/uOcT42m93ng62hG3Hr44mtloNxyd6s1\u002B8vmvTXSB/CunkPd7YUUrD0mzOqT6u5Lb3RJXj\u002BIjndIVlPBwDo0HuN3mD43KvTWQQSvS6qwohDtm[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-86e7897a-947c-e39f-dbd6-63ac8cac337c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "576827374",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
