{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-22e524f2-8626-2622-6467-59e162c27d6a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E2F98B7C6\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:42:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-22e524f2-8626-2622-6467-59e162c27d6a/test-blob-197e470e-fbc5-73a6-685f-f992cb781abb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "dfPwLggMlt85KiI/nBEYE1hudywggqwgHz9wsrg4Y0/q0JsaYeHiXZ/CwZStqCia7EdZ6TnQ\u002BvJHzw7InOQnAMfSVMx1/rJ3ixqNXcAYc3cX1sVw33kVGtWp05HSGsC7msDM2lNbJO6U4l4fQ5wxLluXscYetiFOvTr2zCogpHFZ0cP/S5gju7HX3Pwb9dc5d6Q1Omj6nOSffh0ZZVfDcz3sxnHZMuPDdPUUR9okM8divFWF62kIXzXeYM17CVZaE2i/Li9mYEXBcsZz5lQJe0tVt6gBPYjT5GY7\u002BtEVR2qfujRxZQSY/FwQxHijlXjg1eSCJlKtWNXg60rIKmZzqypb0ywglxVGvb[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-22e524f2-8626-2622-6467-59e162c27d6a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "179317553",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
