{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1727d0e8-0e7e-3ead-4ecc-a7157f5d53df?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E2DF0387B\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:42:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1727d0e8-0e7e-3ead-4ecc-a7157f5d53df/test-blob-fff761f1-7752-e1c9-26f4-5cdbaeaa3998",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "VUFYD7v\u002BimL\u002ByiH61AfYBEl7GAC8wnO8\u002BBiTF35T97NnOlAj8HNx//Q\u002BkqBmMQBOMwI16SocQ5POnBaia3Pjq9Nuk5m2tRTWCRgLfS/TVscYRON8HQ6JSve9VVRcz5SBWufN955ml37uX98REMVj\u002B0ZPiiaPZ47E5Uii\u002BF\u002B/ejqEiSNIBV4psa1kjb0udzkyWVoODURt8fNZCBJVxJ8fLuWljIahG/XnJth5K9nQlm0OcJ8FsW31Fpgv7/xM0\u002B0ORV/YieuykD1kJuZs9MYaiHKkRlP/Gn14r3Xuciz5mlLra\u002BV69wyCXOBhoIqGiSL[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1727d0e8-0e7e-3ead-4ecc-a7157f5d53df/test-blob-fff761f1-7752-e1c9-26f4-5cdbaeaa3998",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E2DFFBE6A\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:42:54 GMT",
        "x-ms-blob-content-md5": "/x1b5vCx\u002BpzPMTflPGpqnA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "jptpOfpLS2c=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:42:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "VUFYD7v\u002BimL\u002ByiH61AfYBEl7GAC8wnO8\u002BBiTF35T97NnOlAj8HNx//Q\u002BkqBmMQBOMwI16SocQ5POnBaia3Pjq9Nuk5m2tRTWCRgLfS/TVscYRON8HQ6JSve9VVRcz5SBWufN955ml37uX98REMVj\u002B0ZPiiaPZ47E5Uii\u002BF\u002B/ejqEiSNIBV4psa1kjb0udzkyWVoODURt8fNZCBJVxJ8fLuWljIahG/XnJth5K9nQlm0OcJ8FsW31Fpgv7/xM0\u002B0ORV/YieuykD1kJuZs9MYaiHKkRlP/Gn14r3Xuciz5mlLra\u002BV69wyCXOBhoIqGiSLRFWaJp42ZDivhYNl1xB0Ra4yUgInhoJBlIupynnny8iVTHF3Gb/PFUly5m[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1727d0e8-0e7e-3ead-4ecc-a7157f5d53df?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1660158098",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
