{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d87a4574-195e-f754-8dc7-68a1cd27bf36?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F72CC385EAC\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:24:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d87a4574-195e-f754-8dc7-68a1cd27bf36/test-blob-3da2812d-b46c-a48b-f18d-d4a5bc95f571",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "e92PRMVLigqHsA5nF7pWyp1qYvrpBqo96HcAZm7mHv9d3R/EM\u002BU380c0MNs4CNxPDDA5P2eeOnQzUltNSyScoJEOCTqakZe3M2\u002BztdbOBOCbsVo9rd\u002BXv6KrkeGK6agil5BJKf6htHqZgQz364WdZE17spnKX/OydkqX7wC1LUnHkB1Ghdrh\u002Bf3foyvSn9MdDS2TDjcOWDiclrK0CsR641TDMFtoV95zmric6rvH4Nd2euLTIh4RuDfkqe4nLe84Zb/XDm94tbVOIHR/cW191LbbPZDipsE1sncjg67vS2zJZIX78NFn/sUshAKqkUbKZ9Q4S/BeVb7\u002BoVz3VTE[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d87a4574-195e-f754-8dc7-68a1cd27bf36/test-blob-3da2812d-b46c-a48b-f18d-d4a5bc95f571",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:17 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F72CC47A0C8\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:24:18 GMT",
        "x-ms-blob-content-md5": "HiKOcykeFQc313LIMNZ01A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:24:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAB73Y9ExUuKCoewDmcXulbKnWpi\u002BukGqj3odwBmbuYe/13dH8Qz5TfzRzQw2zgI3E8MMDk/Z546dDNSW01LJJygkQ4JOpqRl7czb7O11s4E4JuxWj2t35e/oquR4YrpqCKXkEkp/qG0epmBDPfrhZ1kTXuymcpf87J2SpfvALUtSceQHUaF2uH5/d\u002BjK9Kf0x0NLZMONw5YOJyWsrQKxHrjVMMwW2hX3nOauJzqu8fg13Z64tMiHhG4N\u002BSp7ict7zhlv9cOb3i1tU4gdH9xbX3Utts9kOKmwTWydyODru9LbMlkhfvw0Wf\u002BxSyEAqqRRspn1DhL8F5Vvv6hXPdVMQde1Ae2DeeB5OR0Psu2Ir6LIDBYG9m2/3[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-d87a4574-195e-f754-8dc7-68a1cd27bf36?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1900972328",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
