{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-368cc415-87d5-345e-adc2-f0e6e2e4a9a3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:08 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EE4978AE2\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:10 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-368cc415-87d5-345e-adc2-f0e6e2e4a9a3/test-blob-22b4fc56-15d5-a157-fcf0-2a9bf4097bfe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:08 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAATHQGTwL3at3/i5ZLpt0VPSBH2d6tExEreNshdAePB+fEIktFc5h0xkIHm+6WaRpdSDBnWYNnpz1m3tIr0fLWbIeug4CR08mH0xOYpXcilRPAwC/XJ6pgXH8N3pTKTPBTLStm5+WVy3Rm34pvzwHGQEnCaw3HA0jdTiMFg/E0vYIfSXhPu60qKvi7cEgj8JF5S55PC+XmjC3iiZnCkEeDLiIEUIGJdoSYlEAVD48AuVmRiDhW6bWcOL1KbTIXZ5qxNEImG6AP89UVsnOlzYCe4cw8MQQPKERsZBfEPwlWhSypZ9dM2qG1gZRjQTdB+m88q4th1zaSogv5tbeMS7TPwy1G/GWpUgcuhq9vr+sRLm2ki5N99K32FsXPUyDqKTnjl4IF+v4F[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-368cc415-87d5-345e-adc2-f0e6e2e4a9a3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:08 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "181632813",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
