{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-578a0717-3eb5-ad24-c7b5-c603404dd930?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E33281F57\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-578a0717-3eb5-ad24-c7b5-c603404dd930/test-blob-4b842f17-bbde-eacb-1059-0ae02a4202f6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "VgrltNcwGpw=",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "x1gP98wNdxJ3wRnoKtnv/17DcB0zRbqm0yAk4d1g7aKc6IRmuGA2hasHG7QgCLpg7yjRGCoS\u002BIGeaSOr6JU0F9R2S0FUiEb9jetyLCoFhctmw/K1jtV4ivADyE89ipwV0gPgqrx4DGbh1Io\u002Bn8tWmONXRCSjf4n\u002B/cFRUcD2vwNOXFomJNsP7beL07pLOuokrC9r5kV3cVJ64qz7J7ql6hSH70JxMHQISFdsF6vOs8PWLKWRitm91usHq0IvFMb95eilxEqnsnu6Y57uC1qnrC7oJPoUFGA7yRhXaoUx2TSQbzHCKO94Lnkp1ic7z8uRX/8TRu/L6NGIavoxUEj1iYppXZ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-578a0717-3eb5-ad24-c7b5-c603404dd930?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:03 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1949637355",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
