{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-fd59e217-dc2f-f19e-26e5-97e72cd6c354?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E3090D313\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:42:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-fd59e217-dc2f-f19e-26e5-97e72cd6c354/test-blob-c6ac3203-1610-6a98-ae4b-435718d04c98",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "jyeoSfK8Pnj4RDuyOnKFOKYpCwJcIQ1OaGakqbfCHS8L15xERfV8IOsBqQJ5QhFG46\u002BBzodvbm4aWuCLF5XANSYLp2LWQfKwrOsWWncK1CZUXsUIQU6om2gtKusU8AhWQHTcbpuucKK80CKbWBP2D4W6NrnPuPPYYgv6qBYGm7ziwBkDLmWKpu0jS3EsDUNUNhplWrlOh4iAAwuQtMeLtTRluZf68\u002BEgL5DLrG2CrFXHpXL7oUEClDmRgipa\u002BvEml5U8xlSrWkM5RSopg9oa/le1yA9VjxTzYyReaHC3xTSepRTXReUBG0ouwlsX2RFedoTSpDLi0QiASWMvTfLSgn/1it3GQ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-fd59e217-dc2f-f19e-26e5-97e72cd6c354?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1807394582",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
