{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3d6bb11c-32fb-d0dd-3d42-c537fc94ec37?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E2B754DBB\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:42:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3d6bb11c-32fb-d0dd-3d42-c537fc94ec37/test-blob-cd070180-aac0-71c8-4aee-d4b816e0a40d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "X8KmRCispOVvF5KnFmVJQIjlVooRiM/OK4VH6hwiVgXXiBjEVnW3M82d9VBcVUBPG9mWF07xgtfz2BiiZbnJTMCM0I5NhOoTLSK9c5J/cdZF\u002BM9DjD\u002B35gZA0X1dFc4U1KmQz4SxApbug\u002BosNA5EdGZBXGzphcCB1eqIDLNtthdTqJ7p7qJRk/Y4VQhUirH3/F0WG7liK0/oDvmaKfXjgc3T2YtvW4XE8Ml2sDC3LUs4kBBVVpte8X1PAN\u002Bot2kAVdM7gbElh6DYUirw63oeMOGuYZnkjSsydOgOIFqlGzhfdltcfKuZEghvfQNwbgUDMM/\u002B\u002BVXQG8ioCQ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3d6bb11c-32fb-d0dd-3d42-c537fc94ec37/test-blob-cd070180-aac0-71c8-4aee-d4b816e0a40d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E2B8437B1\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:42:50 GMT",
        "x-ms-blob-content-md5": "Rh1VjBWDUh/SQ4WlnlvTlg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "wdsursk6/Lo=",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:42:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "X8KmRCispOVvF5KnFmVJQIjlVooRiM/OK4VH6hwiVgXXiBjEVnW3M82d9VBcVUBPG9mWF07xgtfz2BiiZbnJTMCM0I5NhOoTLSK9c5J/cdZF\u002BM9DjD\u002B35gZA0X1dFc4U1KmQz4SxApbug\u002BosNA5EdGZBXGzphcCB1eqIDLNtthdTqJ7p7qJRk/Y4VQhUirH3/F0WG7liK0/oDvmaKfXjgc3T2YtvW4XE8Ml2sDC3LUs4kBBVVpte8X1PAN\u002Bot2kAVdM7gbElh6DYUirw63oeMOGuYZnkjSsydOgOIFqlGzhfdltcfKuZEghvfQNwbgUDMM/\u002B\u002BVXQG8ioCQzIF2dFMjbxkHUfwrQ2FU6QdQ8nwQbiC\u002B\u002BKpyLjj1qSs3Kf0P[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3d6bb11c-32fb-d0dd-3d42-c537fc94ec37?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:42:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "549388848",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
