{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6b8b3eaa-c1b4-a936-17a4-f111a17a508d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E6DDCE927\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6b8b3eaa-c1b4-a936-17a4-f111a17a508d/test-blob-11c89ba9-6fcb-8860-c5b5-2159802e4cc1?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "CfDGoiCWMDc=",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "jkFppJ8Q7n2lQPFMsKS/Jp4SUKgXcqrwt2ruqCQFpj7J1WSkwxh5X7k3qXpgH3jygPp/ouDpTxyXee01IUVZn5mzgttAGmOGmfDv38gvj5fx\u002BycqhQNd34VHDUkrQz1z3gngrZydsmWX\u002BQnv\u002Bm9TZ\u002BlVQyUeLxqWVqNV\u002BA0ZWlWzewG/T\u002BL7VEnBkoz5beQV9KVg1gAYVa/vSlf4R7lYfp\u002B0PH9ulBgGWu/cXJyOnOi/QARnuIRVmyVSzwSLAgyPaRTtRTBkp1\u002BNWXwRO/kSYa5uOQe08MUaX6FaG8QTe1fiTPKHoFa4Wpik2l8IRF8rQG5WHcgF2nlP0uaOCoybed0kLu4HisBXtd9uEBVlERtCLttVvV6P3HF5OM5wKk8MCWGB5BVwJLWu/mfolspj6cDKTNuxRbt/lFF8jVLx54uQYga05C0F0Qolp772p0anFk8Npd5zW8OlAk/D9JZivBfcVzTErgWTxXrRi579ie0L1XcD5EGtHQdDD\u002BLeQd10w\u002BqnGU8R42dJeuBjoc8kp3hiuB4eX9jVLzosgJ4jtIOdXcizVW\u002Be\u002BfIPuWlhSXs3HmdpfIm\u002BVWMS0eoU5GLJJcVcxUQHcVIIw74sD6VudOW/9WI2ujj53whkoISFiRWQRpOjBIQ2L6wVYLjLkka\u002Bo10FVe//kmuMYuY8o9DNgzk=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "CfDGoiCWMDc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6b8b3eaa-c1b4-a936-17a4-f111a17a508d/test-blob-11c89ba9-6fcb-8860-c5b5-2159802e4cc1?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "4Bk6bAXGQdk=",
        "x-ms-date": "Thu, 14 Mar 2024[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6b8b3eaa-c1b4-a936-17a4-f111a17a508d/test-blob-11c89ba9-6fcb-8860-c5b5-2159802e4cc1?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E6DFD5FD8\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:42 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-6b8b3eaa-c1b4-a936-17a4-f111a17a508d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1023731205",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
