{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2b4200ff-156a-a66e-a401-19612e96187a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F843360DD3F\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2b4200ff-156a-a66e-a401-19612e96187a/test-blob-e25e2d45-d03d-2681-7b11-b37aaa325848",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "dJIgvsxQzIQHp4eVh1C1ZTOcAahSZQRkbLi3vW\u002B/z\u002BgbnKldHhCwD7m/q86OubTbaaYGL7oQng6Ou1ETmQ4VR9ifeuqnWEcj7PHvkrk11rID21TIuaAtC/6azmK\u002BnHaqqmP17j/KMxFf40LIIAxUWeWfEL25TI44cW7sDYnkZU97ROdVP\u002BdzOahDadZdZOrxRXV9Hoy58F7VvH3Q3SaHen7yTdwl/xn9LNYUduK42wyE\u002B8cTZ0bDwVOIgIJqoluBu\u002B9YahcOy0Zcf/K1pHp8HeFwTOJedBI3LoyInH6Wkol7k7vzX3D1di\u002BBtudTDhzZDGKh\u002[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2b4200ff-156a-a66e-a401-19612e96187a/test-blob-e25e2d45-d03d-2681-7b11-b37aaa325848",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:52 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F84336E7FFB\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:28:52 GMT",
        "x-ms-blob-content-md5": "NgV486hU/mfv3754vfQQaw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 19:28:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "512",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScCAAAAAAAAAQABAAEAAAIAAAAAAAB0kiC\u002BzFDMhAenh5WHULVlM5wBqFJlBGRsuLe9b7/P6BucqV0eELAPub\u002Brzo65tNtppgYvuhCeDo67UROZDhVH2J966qdYRyPs8e\u002BSuTXWsgPbVMi5oC0L/prOYr6cdqqqY/XuP8ozEV/jQsggDFRZ5Z8QvblMjjhxbuwNieRlT3tE51U/53M5qENp1l1k6vFFdX0ejLnwXtW8fdDdJod6fvJN3CX/Gf0s1hR24rjbDIT7xxNnRsPBU4iAgmqiW4G771hqFw7LRlx/8rWkenwd4XBM4l50EjcujIicfpaSiXuTu/NfcPV2L4G251MOHNkMYqH5VnkjRtwgO4qGL8fF7Wk5Eb6IvXB71rPdvSvkIG\u002BukBz1mDMCb3QWPzVq8AC58frq1Asbg6QxfoDFRYmwOxsb156r0FQ1N6FJcX47EOWzI8wx\u002Bktjkwx3wxmzPCnrZgQZTxhhDiCmtJ1p0REm9m6aEiK8f0HQt0SSMw06gvt4Xgt6IcDNURWsikat\u002BsH7Uc2rGCkHLubCSZfUztoTazGh8XIFrNStzcAMEPT7Ir2Cl\u002BI/jmnRcC8lt9gp\u002BIM7mR8UCwhP9aT5/Uto\u002Bx7xxybaUjf309zHz4FD4PX8hNQ90HfV5ha0M6E9RpEeaXQRM\u002B\u002BxTqZLQ8VCTDuHCxWv/Hl3KiqnG\u002BAPJR\u002BWuo1LqS3CWjBnfbsZLcJaMGd9uxk="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2b4200ff-156a-a66e-a401-19612e96187a/test-blob-e25e2d45-d03d-2681-7b11-b37aaa325848",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC9F84336E7FFB\u0022",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:52 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F84336E7FFB\u0022",
        "Last-Modified": "Mon, 08 Jul[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2b4200ff-156a-a66e-a401-19612e96187a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:28:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1470185309",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
