{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b02e4e9f-51e8-6deb-ce0b-efeb3f9ae852?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684BFDD3C7D\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:59:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b02e4e9f-51e8-6deb-ce0b-efeb3f9ae852/test-blob-810b638a-9952-102e-077d-753777d98c64",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "wviuXaOp8Fg=",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "IQQXgDUPrV2cO4kNnxGjt1Gh69KVNlUGmM8LbRbYm9mOHbfG/zkX8L+nFMEuawPBTnOItWJ5/uquEehmBD9HxKCwfoFa3LgXivsT7SGU2CzMSR+jT+Z2FR7MGO5Rset/YE8gfeyBZ3G6cCtmZRHIGTm7mbogo3W6OWhjjcPJxtgQk43RdFo/S+Kt6N67D7ANBP+1lhcwX7zaZkODHtqt8KpSVtGE9qXee07YcrqW/iq4VYnEFDDB3zTQ9w0XuywIAPg0aLneiQ1a1hrJV+0BRGcZy8hR6dt5kXeds/+Xx78h0HLCYZVx2sx7aj4V94dGzrOl/fBktxYcu9dBQNYNwg9bp4d7PuLRqPD81X6dY[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b02e4e9f-51e8-6deb-ce0b-efeb3f9ae852?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "688650896",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
