{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c0468d68-664a-7667-78bb-097474e58b51?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F72C53E5948\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:24:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c0468d68-664a-7667-78bb-097474e58b51/test-blob-95d54061-0252-2a9c-78a3-239020464633",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "9yhXHgai/Mjxg9OLHl5O8pSIcCmt9a9BY\u002BX5a8nkv0e25hD\u002BLQh7YU1vpB5NaS39wuMjezbfswJ5FrogqZH\u002BDMSM1DhNT8WMDA7cPlCR8/m4/KnmwUMQ1zINhRdOWri8cJhZwZX0r3Iel24nAnWy5yLAaKznGEuAe/wGQMqtPbFWH824NzJkw002yCrV6dS8W530jfIL1FhM2EWY7m\u002BocFm90OKo\u002BrDwXKRfsE8hq5IoSuQsubC/S0t1a17sy9XejljQGBjxFGHtAzFNrCMIKy2zcKOKe7ao/YWXM45RBJDPgSL3UJN5NjaDPrV/cZ4nbEAxOFsxUxKhKBqSWuD[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c0468d68-664a-7667-78bb-097474e58b51/test-blob-95d54061-0252-2a9c-78a3-239020464633",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F72C54C89EB\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:24:06 GMT",
        "x-ms-blob-content-md5": "pWHcP5AvXhru/O2QltEBoQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:24:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAD3KFceBqL8yPGD04seXk7ylIhwKa31r0Fj5flryeS/R7bmEP4tCHthTW\u002BkHk1pLf3C4yN7Nt\u002BzAnkWuiCpkf4MxIzUOE1PxYwMDtw\u002BUJHz\u002Bbj8qebBQxDXMg2FF05auLxwmFnBlfSvch6XbicCdbLnIsBorOcYS4B7/AZAyq09sVYfzbg3MmTDTTbIKtXp1LxbnfSN8gvUWEzYRZjub6hwWb3Q4qj6sPBcpF\u002BwTyGrkihK5Cy5sL9LS3VrXuzL1d6OWNAYGPEUYe0DMU2sIwgrLbNwo4p7tqj9hZczjlEEkM\u002BBIvdQk3k2NoM\u002BtX9xnidsQDE4WzFTEqEoGpJa4NKb/qB9KwER2pk5Om0[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c0468d68-664a-7667-78bb-097474e58b51?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "612190644",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
