{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7126021e-459e-ce92-e2ff-6b4f29019937?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:14 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E5D8014CD\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:14 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7126021e-459e-ce92-e2ff-6b4f29019937/test-blob-a8438a08-f2f0-54db-6c7b-7adbc5034e7f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:14 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "KatvgTiEFxT/\u002B\u002BSLAVeFnDMRSvvZdnNw75vw/dd8TYyPJBKc1kohfxcTI8h9FIvLKpZSzLSHRbI4/pKclBo9g65Y/N1E6cbp78rjxlOq89oQJNJBKYHXB99fZNe4hev81aAaJRiuhkHPadzpo35ejQq3jG9H\u002B1otgPT\u002B5ITuMWrf5vCzkM7BYp2Qcb\u002Bk7WRgAdbNAPh8tdpG7KQkr6G84DhyCryNq/089irRtomaiZKQneOuITFxYzEWbaQpnbL81JGHMeOn0lXYkArOqv5Qq2MSkxG\u002BDb8GAaeLdz1ZElh31eL4Elev6cuN1pAnorgyxsFAFwmgPcbSgC[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7126021e-459e-ce92-e2ff-6b4f29019937/test-blob-a8438a08-f2f0-54db-6c7b-7adbc5034e7f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:14 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E5D8F7499\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:14 GMT",
        "x-ms-blob-content-md5": "wvbrcLrh61Ha14FHBfpTFQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:44:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "KatvgTiEFxT/\u002B\u002BSLAVeFnDMRSvvZdnNw75vw/dd8TYyPJBKc1kohfxcTI8h9FIvLKpZSzLSHRbI4/pKclBo9g65Y/N1E6cbp78rjxlOq89oQJNJBKYHXB99fZNe4hev81aAaJRiuhkHPadzpo35ejQq3jG9H\u002B1otgPT\u002B5ITuMWrf5vCzkM7BYp2Qcb\u002Bk7WRgAdbNAPh8tdpG7KQkr6G84DhyCryNq/089irRtomaiZKQneOuITFxYzEWbaQpnbL81JGHMeOn0lXYkArOqv5Qq2MSkxG\u002BDb8GAaeLdz1ZElh31eL4Elev6cuN1pAnorgyxsFAFwmgPcbSgC88G1sYf36xVtQcV5gLY6pGMDcu317uWLF7GPpO15cbJpIncs1wdVYSdUzkFm4pNLRfWg2Oo6DRTsOpnGaDY389ADEG5PDc1brhHGoSCkFCUuRG7nyKjYLxViQKxtnvjhLNphY8I1DDgoRSrYc2v0SBZ0mCPHQCs3OvFI7L0g/h8Y1YRGMrBi\u002BUg2z3N9/6u5bgiF\u002BPbVGdyvOjjQ7C9691cbz63XrgVWAa7rkIC3uTtFn360qwUYM7unpviHgh0ou8gsYiAN0cADL\u002BdX\u002BYlb54D9i0ygxlxR85viL/cMzo\u002BRwuS4i0cLR82\u002BsXsdwDoyW893mfbAd\u002BVr2n6UG6HI9lFntjaUk="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7126021e-459e-ce92-e2ff-6b4f29019937/test-blob-a8438a08-f2f0-54db-6c7b-7adbc5034e7f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444E5D8F7499\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:14 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E5D8F7499\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:14 GMT",
        "x-ms-blob-content-md5": "wvbrcL[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7126021e-459e-ce92-e2ff-6b4f29019937?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:14 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "181085879",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
