{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-266d9df6-260b-3a6c-2676-5c7ba8689b51?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F72C42DAD3A\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:24:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-266d9df6-260b-3a6c-2676-5c7ba8689b51/test-blob-5e9019d9-295d-30a9-1fa0-813caf3af392",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\u002BamEqbYIkaP8QWPeYb2YY7srfBErMMfYr3UYiLhI0Tw4DbX4PhF79gWZbUjmbWeK1DedLwnji8jhq/pB7wnqtG8nplQHnySpsIYLksJ\u002B8kENjrOBqqEyVIHtF5MXOgb7rrjZv8cSgjUT83\u002BD1/kFYrm4M2BWaQrO9FHSGoeRkXZ/EOMJpTJ6\u002Bgx\u002BbrYir32I57TZXwampUWuC8p1P2itgWIJBMcV\u002B72GPThU1/tTq0XUSjLStzJv2GqeW5poBbqj0OxUGKu2cuz3UyLNUc1JW1\u002BFoPU22sowmStcd6AiHjd9sAcP/pOaHthG22QQoYecVP8742TFb[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-266d9df6-260b-3a6c-2676-5c7ba8689b51/test-blob-5e9019d9-295d-30a9-1fa0-813caf3af392",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F72C43CA159\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:24:04 GMT",
        "x-ms-blob-content-md5": "L157XQJwgbVBM9IKJr1y\u002BA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:24:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\u002BamEqbYIkaP8QWPeYb2YY7srfBErMMfYr3UYiLhI0Tw4DbX4PhF79gWZbUjmbWeK1DedLwnji8jhq/pB7wnqtG8nplQHnySpsIYLksJ\u002B8kENjrOBqqEyVIHtF5MXOgb7rrjZv8cSgjUT83\u002BD1/kFYrm4M2BWaQrO9FHSGoeRkXZ/EOMJpTJ6\u002Bgx\u002BbrYir32I57TZXwampUWuC8p1P2itgWIJBMcV\u002B72GPThU1/tTq0XUSjLStzJv2GqeW5poBbqj0OxUGKu2cuz3UyLNUc1JW1\u002BFoPU22sowmStcd6AiHjd9sAcP/pOaHthG22QQoYecVP8742TFbfUhJH6AWftL1TXqT6DFOlzM6oIc7/9mIPejwCKg5jrTuEMS7doUGcXd\u0[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-266d9df6-260b-3a6c-2676-5c7ba8689b51?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:24:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1237757497",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
