{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c8dc6cce-8514-9ccf-c9b2-0cc4dc2451b7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:09 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EE51BDA32\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:11 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c8dc6cce-8514-9ccf-c9b2-0cc4dc2451b7/test-blob-3b062c55-9ee9-021d-f3be-0967f453e5a1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:09 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA2bdlNAKFMkvB/1O4/lsKn3Jdbs3agWmBYDVqO7DnVg1rLAWxIiXPH3BvA3Rgc78HzqGbwFBcDlhJ59PNHvqa3qVCUdJRVXlIjlNdb4H1IPB6YmkPT5G9Cx2taz5WAgB11CDPHiHosnUkTzYBAqLaVMLfUriRi5MXhUawp+4+9ohO55ddJgLSjbPz6vxbvAh+1xZ7drNL5EyNt5jfOA6K6Vipsh8LeS68DMEEnaCWu8U6Mczbw3/ZBwNKz25p81WlaQGnrg3td13nv2XuQ0qr+vvToQY9ryXY0KsbvKm8VhlvYzCi8w27TL5y8AQZ6se4ntRymlJPZ7nbyt1m0bawJ2VIgtwWCQvuFFBLzr8dwunjYx3VSb/LH/t2xyQsVH8HvsyezWfn[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-c8dc6cce-8514-9ccf-c9b2-0cc4dc2451b7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:09 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1590304602",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
