{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-41c6c38d-28e4-7829-5192-a61614a236d6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86844D0A9924\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:56:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-41c6c38d-28e4-7829-5192-a61614a236d6/test-blob-a46402f3-de4e-9197-d7b0-753ca1da0eb8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "uNZUhqeI27E=",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "/1b2eyBBjjuwzAtpGB/38qYZhZAMiMs34A+M2qQcJJfexgkpaHBrT/ZZ/T6fDlslHbpQuxgMPHaLvpsRtLOXlKd0i1EVzYk1rjaas4qNmNGzZ73py2l/0YmTnqrUWppCwWmWK4MKD08xGg3iconr/SbKXU32rsg+9LnHgi/fYFObV/Ih92xNqVdtt7FbnF8Ap6CDCvxNTBKhVzbKQowgUrm5RxuWyga5fLT1iPYX4lhZxtqOW1ZXTQrff6A2gmbLTWX3olVEad2ayo5HWMQcinTecXuykfZjYfoQt0pmg/lNKjqQH0ADFV389JHHD/RGw/UrWBHqGLtvlEFbNLKTM0aU+S6Ji2o021wetZ1lm[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-41c6c38d-28e4-7829-5192-a61614a236d6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1793895437",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
