{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5f851a77-3a7d-86c9-031f-ea8edb7ba99e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E6C935B71\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5f851a77-3a7d-86c9-031f-ea8edb7ba99e/test-blob-d7ab61df-26fc-460e-ed7d-4428278612f4?comp=block\u0026blockid=AAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "DYneJvOmpYw=",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:39 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Jfj9cXhZS2DJh6jfmJIwL949u4liZLiDrxDqpW1PY7JJgs8FYIs0bwWDlQb6SgJfD5W2a2w2HME/ecFob6XzeST2lhXCK85SCEyD386yiWQOi5XYmfdFEmYOxebJzP9gjxzhA7TsneTGY2IgsjzyjfBdWeQPG98tsYOvs2boiTxMI1Cy0IWwIe2xEjaUJV8pGzf2bHIbUHQ8tFIxPOl93dom04/sQL1rrDj2XgipmIsjhpcv8hzKMNPbdRsyfuUENDRcblHQPNt5ir86JfFrkxzGDbZRTuu\u002BW6K8EcuhOC1S8SrUTSk6U0m8tWdcjwvhb\u002BL/a3EusuVInhKuEysQ11GR5zPHl0bzjLltlZiEYcyX26Hpos28JD9Ei68Wiz8drN0VyqjXGdebC9\u002B3wR1MxDxGFziKJjSE1cP0ggyX3AB6T\u002Bi7bpcjv8HJTZftBWIh\u002BMdyz3MGkoWokfXl45bLBC7ePXI0kValI1h2wdmdltBg0opEJA2Mc7xjEtyhPtsr/UhoD8jw7GZxzawbkNGrCvolhBELh\u002BAhUcm10X55A\u002BV8S8ORNYcIcOUk01ZhcePrtwfifLnKH3ZnR73\u002BOxvn98rHn0QOGtVzHRQr57OJwODmyRp2l4YrsSxMKe7JCTTKPNuMmdGf3Jwybl\u002BlnzfC3obdGHEAcWBDm\u002B0XwfHmqRM=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "DYneJvOmpYw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5f851a77-3a7d-86c9-031f-ea8edb7ba99e/test-blob-d7ab61df-26fc-460e-ed7d-4428278612f4?comp=block\u0026blockid=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "4hlqN0tt3Rk=",
        "x-ms-date": "Thu, 14 Mar 2024[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5f851a77-3a7d-86c9-031f-ea8edb7ba99e/test-blob-d7ab61df-26fc-460e-ed7d-4428278612f4?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "\uFEFF\u003CBlockList\u003E\u003CLatest\u003EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003CLatest\u003EAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\u003C/Latest\u003E\u003C/BlockList\u003E",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E6CB17F22\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:40 GMT",
        "x-ms-content-crc64": "uZyvATng5EM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5f851a77-3a7d-86c9-031f-ea8edb7ba99e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:40 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1245579117",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
