{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f9d1e806-c826-3346-eca5-98c08e24fc3d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684BE0D7802\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:59:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f9d1e806-c826-3346-eca5-98c08e24fc3d/test-blob-f8ac6635-f452-21fc-2254-a0e9d940caba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "KrUO3rkSSyGhg2XJzghgeQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "mLeEenNiCAP2iUSXt7Hil1Fh2MgYcgHeLiUsjxYtERdOnvuaz9nChL4IkrJEcXOlFlRy1MR4WSW1pkxNNnjtyHcsSRm2R8h4n1QJEN9Omr2xhnnBuz1S1UXW5CmNdE1FGsk7GCda786M+jRwbkhFZwuOm7D/LA062XPU32Oe6ioGxPYWE4KVV5aqNMEI4Wf8kH0d/tidRu28AT60hhBr7Q8JaqpRL1SJ+EQZVPdLMfcL107mgOxSaH0IWRFD4dCGP0ay/ne9q2EolAWUhPL2cc9GqK/BhW0itwIsSdVCRRdzkhSwmDOATivtvezmvuSLEuhC/TkhxbrZj0d0kWKL5k7uIPHdRdicxVmD1MeAO/kd[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f9d1e806-c826-3346-eca5-98c08e24fc3d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "593138080",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
