{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e69f6a58-e125-5253-0653-a56959a148e6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F7254F65314\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e69f6a58-e125-5253-0653-a56959a148e6/test-blob-ef037d9e-64fc-4716-f20b-ced1d134bdd4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "vQoPPxjH\u002B7NLK5JqnVcEpBJVQQkgBSONj2myGoSWZiKysz9DUgA2X1PN9pcYOkmAg3t0tvD\u002BcLfmgrCuFeEvtcRvt\u002BoXwFISH\u002BK2Uw6MdVQgMZYJIrAxs0KIXM9PiEpynkHSqIJfacMpYpcOSB2oWg1bjuNKJZIUPgSnj2OCwpaXRLXNuszSwcjT38AYI2sl3wLC8/pmJ3iuvWp\u002BuNlfpp8AdgRo2qBAicwad0bS/BqYga9hwM6cMR08HvxiUwnudDkgF61nvQVhgWktS68y28BQ5TYq/ebQY0TnK7yj3jbDKwMMsuRsMMOqAD5kb\u002BVtCkM7EW3SxHZSUL[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e69f6a58-e125-5253-0653-a56959a148e6/test-blob-ef037d9e-64fc-4716-f20b-ced1d134bdd4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC9F725505928D\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 17:20:58 GMT",
        "x-ms-blob-content-md5": "OGeF0MmNreFPrSvzu5fLTg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Jul 2024 17:20:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAC9Cg8/GMf7s0srkmqdVwSkElVBCSAFI42PabIahJZmIrKzP0NSADZfU832lxg6SYCDe3S28P5wt\u002BaCsK4V4S\u002B1xG\u002B36hfAUhIf4rZTDox1VCAxlgkisDGzQohcz0\u002BISnKeQdKogl9pwylilw5IHahaDVuO40olkhQ\u002BBKePY4LClpdEtc26zNLByNPfwBgjayXfAsLz\u002BmYneK69an642V\u002BmnwB2BGjaoECJzBp3RtL8GpiBr2HAzpwxHTwe/GJTCe50OSAXrWe9BWGBaS1LrzLbwFDlNir95tBjROcrvKPeNsMrAwyy5Gwww6oAPmRv5W0KQzsRbdLEdlJQs2iAkki9ojNqH6wlKdzjtHK[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-e69f6a58-e125-5253-0653-a56959a148e6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 17:20:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "764757306",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
