{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-056b1da7-1dc0-15a1-89a8-3900a0b0f888?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBF4BD74C6\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:41:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-056b1da7-1dc0-15a1-89a8-3900a0b0f888/test-blob-789c4e4d-a601-eef8-f9af-65a2859d929a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "j4zg51XeKY740ieuFsEwxOEhOK12xTStrhNRLdvZaEhlCFBX5N/C6cqrOoC4AhmhIXhqDl7/iMlXMjhCjPuyHmneSQ1w2OACXk7iyouz9az6sAtjb1rpZYCHALGmgFzO\u002BRsX2bkLMEmXaK8QHL09oz2MSNzwTq8P9OON6NgvW97xFNFvnBvy7n/CzAeq2UjCSVx0GjiA3qpsCOTVfUdwaAzRHgjszQchmVlcLoKnZBuby598ukCmcDYmA5Q3HXA3UWT62Lo/1XtVUoDeI68oxaPJOrKo9K3LK63Sxcpy6nzoJdwerIxgW/UjJmjAx02G/j7xbeO9jl22Lq0MbQ\u002Bx4mgE9f7TChgXaN[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-056b1da7-1dc0-15a1-89a8-3900a0b0f888?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:04 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "19718322",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
