{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3447f543-9721-bab1-2206-2e26b6629015?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E61839ADB\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3447f543-9721-bab1-2206-2e26b6629015/test-blob-3939a24f-7f14-e431-32a5-fb3484cdc5f9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "zvLZiVx6q\u002Bo\u002BtkUq7H5BP3H4JkqbRabGp4wreuhHyMjI22OGCQvZhcDcDbi3yTyJqDH9zwDkNIlLEuHPTzEC9u58YRAaujZmH6CJvjfuDt5QodG3SfjI5KbaO/YpCTWO2hbKOmcrb\u002B36l7BfWnVRXQQDf61gSq32tHxqQH8/PRVr\u002B\u002BQhJNN2JDLjvLJHaIowid3yJYqHLY9p04bqwS9uu1qb9F6RLzkwjVt7fI76rkzyObahTReL481Ut1BNi2IDdQBXrHQrnlmkwZguDLABbiU5\u002BId4zG5CDxGRPXfo4wH4eAeNowLXxppd/Yt/XNccUkkqE5Pai6mSFZ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3447f543-9721-bab1-2206-2e26b6629015/test-blob-3939a24f-7f14-e431-32a5-fb3484cdc5f9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:21 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "sSydsDymF9fzhfwn1JdqSQ==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E6192FAA2\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:21 GMT",
        "x-ms-blob-content-md5": "vteOlRWk0W2aCh6RTSIgfg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 14 Mar 2024 17:44:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "zvLZiVx6q\u002Bo\u002BtkUq7H5BP3H4JkqbRabGp4wreuhHyMjI22OGCQvZhcDcDbi3yTyJqDH9zwDkNIlLEuHPTzEC9u58YRAaujZmH6CJvjfuDt5QodG3SfjI5KbaO/YpCTWO2hbKOmcrb\u002B36l7BfWnVRXQQDf61gSq32tHxqQH8/PRVr\u002B\u002BQhJNN2JDLjvLJHaIowid3yJYqHLY9p04bqwS9uu1qb9F6RLzkwjVt7fI76rkzyObahTReL481Ut1BNi2IDdQBXrHQrnlmkwZguDLABbiU5\u002BId4zG5CDxGRPXfo4wH4eAeNowLXxppd/Yt/XNccUkkqE5Pai6mSFZxjmmHhu96WNZOpdMsjYjHtGs/iw7I6dOouvtBuHu1d\u002Bo5ldCw5e0Gt6SdDc95\u002BB7Fh7XDar1HpKSZ3sv0NKBemS3k9ve0Fs5\u002BNNdqL9wALsLYeDDB9g0o8e0sFwshDn8APnCdlQErEXDnQTHp3XTIlawJH7xvnKcguAUGh//HWSZUZfFrZpW9rWrD2rDbQxB0Z4FbG/LClKHJfNz8IIlxI\u002BgLlXuHXTMaS25Rq8H2RXjwjiB\u002BbD03ldFPnem4wYzhUrrEz6mY8QZOQMyEbOjf1zdkD5Zk9req1AOqN79JXYnhcFkLLXnPV50aLCtwsyTkb8qyULH2eFwDGfep8rlLBONGoviQ="
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3447f543-9721-bab1-2206-2e26b6629015/test-blob-3939a24f-7f14-e431-32a5-fb3484cdc5f9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8DC444E6192FAA2\u0022",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:21 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "Xz6Bjy1jBkhdgqRvC2swqA==",
        "Content-Range": "bytes 512-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC444E6192FAA2\u0022",
 [...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3447f543-9721-bab1-2206-2e26b6629015?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:21 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "951913752",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
