{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b88d8472-115f-a644-3820-0ba532510951?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Aug 2024 19:02:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCB8A5C0199361\u0022",
        "Last-Modified": "Fri, 09 Aug 2024 19:02:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b88d8472-115f-a644-3820-0ba532510951/test-blob-37a6e4a4-baaf-5ed1-8871-39711bc953c4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 09 Aug 2024 19:02:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "zIC\u002BEpojKbGQVzP8dsy8D9cCo1UXPZth0pZs9NJaODSYXKtpajZu3rOJO147//4FBt7B\u002Bq10J4/lXD8EtzXeNh/\u002BYxohU6WglMShjgE9JdOXZu3zmD2HJDUbhA33aid\u002BqgU/PJvk5LM5IGbp0pmNpzZrbFFH657hdz/lBc\u002BYqSqdI\u002BP8/ek4soE6unfWnlGcjtzWi/3VNr9mXcVb/9/koXc8S6\u002B1kalNM7nPDTAnCtjtSHfywh0sx\u002B0klaAj3LOiVRj/mlKi5vwyiFdDBiiOP1LsbbZo8d9ZD4TBkfsJKlcGLLgYJ3CGS2J6wDnF6cDElVZN[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b88d8472-115f-a644-3820-0ba532510951/test-blob-37a6e4a4-baaf-5ed1-8871-39711bc953c4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Aug 2024 19:02:02 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "WqNeBzPfVoJgyekEaIdyVQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DCB8A5C02CE9C2\u0022",
        "Last-Modified": "Fri, 09 Aug 2024 19:02:01 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 09 Aug 2024 19:02:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADMgL4SmiMpsZBXM/x2zLwP1wKjVRc9m2HSlmz00lo4NJhcq2lqNm7es4k7Xjv//gUG3sH6rXQnj\u002BVcPwS3Nd42H/5jGiFTpaCUxKGOAT0l05dm7fOYPYckNRuEDfdqJ36qBT88m\u002BTkszkgZunSmY2nNmtsUUfrnuF3P\u002BUFz5ipKp0j4/z96TiygTq6d9aeUZyO3NaL/dU2v2ZdxVv/3\u002BShdzxLr7WRqU0zuc8NMCcK2O1Id/LCHSzH7SSVoCPcs6JVGP\u002BaUqLm/DKIV0MGKI4/Uuxttmjx31kPhMGR\u002BwkqVwYsuBgncIZLYnrAOcXpwMSVVk03bv06Yzmmis7gVQAoXQA92W92GOJmIlPtMKWT[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-b88d8472-115f-a644-3820-0ba532510951?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Aug 2024 19:02:02 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1727031245",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
