{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0c09bf07-a463-e9d0-a3fb-e3bf69fac794?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Aug 2024 19:02:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DCB8A5BFD90812\u0022",
        "Last-Modified": "Fri, 09 Aug 2024 19:02:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0c09bf07-a463-e9d0-a3fb-e3bf69fac794/test-blob-5d6a5f3e-e6bc-4fa9-102f-3d78fde1b110",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 09 Aug 2024 19:02:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "U8kcZadSchKg3Hg\u002BC5H0aty6EgzqQiIRFgRoLy3XvnI60esrHbmCWur945V1YgRsD11qtA/e3RGmCk6i6kPkyB4FAzqmyU0jOLgi7V6Nm7MA/CDQbQliXPTZhBJq32\u002BnGBp3b17JxUUPRntXvPCyGW\u002Bboe4jE1sUo6dGzUU6uVhIe9RDFixUNjfawCaOC58DJmqjzj6BhAW/Ysy3g/cA1YwjDkEcbwNCRmq2SFM0hpcHQqbal\u002Bsax/fOhLNgnbM/2euaav1e57dnYIfTyjuyitw0r0BRJj2hCUdKTepQ4qm3d29nmhuaqVrvcjdjRvy7HPrWK\u002B1y7rKu\u002BW[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0c09bf07-a463-e9d0-a3fb-e3bf69fac794/test-blob-5d6a5f3e-e6bc-4fa9-102f-3d78fde1b110",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Aug 2024 19:02:01 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "qqYeH9WNAres7BVi9r9QVg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DCB8A5BFE6B8B7\u0022",
        "Last-Modified": "Fri, 09 Aug 2024 19:02:00 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 09 Aug 2024 19:02:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABTyRxlp1JyEqDceD4LkfRq3LoSDOpCIhEWBGgvLde\u002BcjrR6ysduYJa6v3jlXViBGwPXWq0D97dEaYKTqLqQ\u002BTIHgUDOqbJTSM4uCLtXo2bswD8INBtCWJc9NmEEmrfb6cYGndvXsnFRQ9Ge1e88LIZb5uh7iMTWxSjp0bNRTq5WEh71EMWLFQ2N9rAJo4LnwMmaqPOPoGEBb9izLeD9wDVjCMOQRxvA0JGarZIUzSGlwdCptqX6xrH986Es2Cdsz/Z65pq/V7nt2dgh9PKO7KK3DSvQFEmPaEJR0pN6lDiqbd3b2eaG5qpWu9yN2NG/Lsc\u002BtYr7XLusq75YbYUmswXft4cU8tK78CaBuVitAY9wkqOMPB5t7xEiby[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-0c09bf07-a463-e9d0-a3fb-e3bf69fac794?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 09 Aug 2024 19:02:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1829645124",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
