{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-715d7a88-84d8-fb16-d900-0e787c43c248?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684C8266285\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-715d7a88-84d8-fb16-d900-0e787c43c248/test-blob-0f166377-e4e1-5c2b-fec2-9f7e06242731?comp=block&blockid=8Ked5nMpkkptgb8X%2F87akg%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "fUf1YI/ZP9E=",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "+4vcAylsAQ2RAjk/fym9q+TMVehmPRFRRs8AKMTEXvPaOPGyURgXtpHP8zMbJfBJpwtBL+/VZb16ir1aa9lJzaRGZEY3ClrLtJ5Xl0reNSHet4G4gi4DBdMzOMZbvUu4hSWO1cGpEZywdXpRfs1ym1Sce7RYkEp2Ql9zA9KUcPdSnhEkUGBgNKXlCA2zsoYFwZ1xv0KXYPXbF5JhNg3KHAWD/t+8Tkv0O0YOc4g9w5DZbUI1IrC1uz4bSTjO/v2XG+sHL7SmSXNRfYP7iO1tnlQCiMnLlPpUzkKgoAQSJT1Id1icNZPcMiPP46QtuTJRrqrjzHU0zIbxs2BxBahuP1dFshGV0GnAJlam+7FWJ[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-715d7a88-84d8-fb16-d900-0e787c43c248?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1520379609",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
