{
  "Entries": [
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-814779aa-dfb2-1740-c504-058778ad98ee?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:10:28 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8E7D244EBDFD\"",
        "Last-Modified": "Thu, 08 May 2025 22:10:28 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-814779aa-dfb2-1740-c504-058778ad98ee/test-blob-a15253c6-1fdc-a7d5-36fb-d3a5d7abe7bf?comp=block&blockid=Sj6ix1Lpv0nKUHkrTp4FFQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "uxhDTIROWr30C7SIbv2UQQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 08 May 2025 22:10:28 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Xw0FGwb6iK+aWOZj4pia3mtBwgdEuNJA6BtFidWYrwafjklv4X29yue5RcMCIoKO+Ufb/tKmKaY6xDPqtf/aAqjgw1ROK/3ug/cgi3MPPsaYto+NvbEz+WWiNB1J0hXo30IaIl8uP81J7Hrahp0zK4VtUv5vTEX3rcrurPfgpLDiN6ww9BxoanfCRNA3WHLHbgmX3IAXeJP9I3STP5PWaUjJ+E/xAzZpBOeHrQd1wFRYJj3tScgvy78YMtGn1Crj69uIbWAj1mvTLdeZkMqLiGMgOhlW6B9/mi2P2dBkwi+8o8Es7FP0NVDSGhvwljr0jaluh5oRjQO7CNIyk/yabmqn3OwIX[...]
    {
      "RequestUri": "https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/test-container-814779aa-dfb2-1740-c504-058778ad98ee?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 May 2025 22:10:28 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1921244823",
    "Storage_TestConfigDefault": "ProductionTenant\nki3xscnblz04pez100ax\nU2FuaXRpemVk\nhttps://ki3xscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.file.preprod.core.windows.net\nhttps://ki3xscnblz04pez100ax.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://ki3xscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.file.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://ki3xscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ki3xscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ki3xscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://ki3xscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ki3xscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=ki3xscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
