{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-12def4a9-254c-d318-5899-f3eab0d761e6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAE78550C68C\"",
        "Last-Modified": "Mon, 12 Aug 2024 15:57:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-12def4a9-254c-d318-5899-f3eab0d761e6/test-blob-234feb45-309f-c0a9-27f6-5e46d5934323?comp=block&blockid=rxSmFjK3%2FGnzjFt8MMgK4Q%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:52 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA/3BbC63DtJ2Lrg9iGNSFUoPWS1uHcd0Bdf7Y6JOIFNnD8o9btNhHo684ig3rkeJxGCg/3xS3BY2XWZWy5swOA5UxoipJLZmrkqeoTufPFeAYa9BnTDnFCOj9wF9ClLzjKop0ufO4K+6OkEhxDralxEOxln7/prdbbJU9S2k+ZP3qxSBdWl/wYD/l2LvtU/4yW/wfkP4954fXGU1aetyBUC9OhkWWSG3nwTI/Fc37bhibCvNpItf/qOGcij0SleVjYIiMos20nA+SN9PIAs25268ww2/tFC1XTt1n9cIw0StI37VBbstO4m7j2usEN6YT4q6N3dZ5ckhbNVPsUKZNXWKkfycYdGzj5d0BDTlGUxs3UBcTovdU02lo6jV7XpHEknmEX7SC[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-12def4a9-254c-d318-5899-f3eab0d761e6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1327416481",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
