{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-097f37c1-daba-b51d-e84e-26e3fc7595db?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD8B8E2464\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:12:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-097f37c1-daba-b51d-e84e-26e3fc7595db/test-blob-d27c1d08-9bed-7cbd-5594-d6b95e04f8a2?comp=block&blockid=R%2B8lnMQvSWFOl5qQizWmcQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:06 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAATfWPPFWfScCT7JKEpxIc5b/wuCg0VADGZz26qpXmrcTk+RbBMDxRNH/db3+ZlQnSdcirbRdVk/XwxNUX4KMuqULNo6n/X7GDo4OsWuiFLNI35DDJPzytk2UczG9nOVfYssI8y/Vf1xYXK82XqTkNb5QG4/xuYW4CHBBA4o9GGGYv06gqSGDc1A0ethNvGeYsD2DXXFlXbk1QOq/hGvSK0Q9rZ9mQ5yM3KgvvU6telwYqFNMucrgI1GFa1hG0+70Yk+UAA7IMnyg9nDZRZBqh9aOluwYlXGJTXpN0Ng0RfjJO1r/GWpNQGXmm7NKFu2xGtOBuDzy69zeGsKUimGUfLB4EBpFe358QVaGIgm+PzacjLX0oo3Lxl+OIQ6XuMYEQh7ywgbTe[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-097f37c1-daba-b51d-e84e-26e3fc7595db?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "338051547",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
