{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8d3a33fe-371b-a407-3999-8eb27e451503?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD6227CEB9\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:10:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8d3a33fe-371b-a407-3999-8eb27e451503/test-blob-1f3e8e66-723d-194d-2e92-a12715d6c11b?comp=block&blockid=r%2BJKdsSWBVz8QL44oQRb0w%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:57 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACNQlEbmsdfVJDv0uJfCS0Eg4Soxp0aQZB3otFh6gmBgM7vbzTj+m9BWFNq0vzBGSGLuxVFkqRKcgDBo/j1/WqGblITb5n4IIgVZm1JsG6TtYmv1S70O+4qpf0zIlZ3S1vp42OqrqmIk5uNMCs3AcGSLe5vRSc7kjNj6MqcxP4xnRoSYM0K6QbfJ0KTZgvC86Q7ofRoBwUzrVEwRsXf686cW5IRJKD0h0TnkB7lqCsnofUlYCMJyZYU37J72qJA/zxz9gp5sc4DRxmvgHfnTQUmCKTQuYqrk5L8/UXuea2ippDhcbIgrvAnIhkJWkgeLJGtVdH9cEWxyGN4fLOIFc1sDdrmBtxTBVq0qZdwojlK3dC0QCTcpDVLMKlOqDE8ng1MnUxuNya[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8d3a33fe-371b-a407-3999-8eb27e451503?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1390179597",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
