{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5c36d405-0254-1063-6b78-3b5b7efdc423?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E70E4D113\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5c36d405-0254-1063-6b78-3b5b7efdc423/test-blob-c19081dd-a0c9-2e75-a70b-dda9cfe3a610?comp=block\u0026blockid=hrNcdwtBQK%2Bu0W441r6sDw%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Vuu/a0UdWHzQQz75MP8If\u002BJjNDiD\u002BPdTMvbSfdN05\u002BUvEw0dLCuTCu39\u002B\u002Bgj7DRnjjWtpwPyOl3zbDlOS9upXFtYyhzy6lO30ClLhf0OMEbCau6exkDhPNmwKcDxRL8SU56NyyEYdaPh9tfap7Rg5TvzjODsC5Ubdo1DQsGTxYtqOTFegWUkqfVLvM9oB5UkUESE/rfeJkgJclSU1DPiTjFLb22CAWPWzuLroE/Gsm73HvJ8DsbTjBPpVQ8QkNXBaG6eHZgnoU7gri/V8oX4Q7/lnLVBZj9qd\u002BJamKtUxT4NKjjgJ5XWz32jm2CX/pq[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5c36d405-0254-1063-6b78-3b5b7efdc423?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1239855351",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
