{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5ceacbeb-e5e4-96cf-2e10-407f9fce7108?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E3A044001\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5ceacbeb-e5e4-96cf-2e10-407f9fce7108/test-blob-e671c656-e4ab-ad89-f761-05d18e1d4b76?comp=block\u0026blockid=gUXz3Bx20OBqAPiYPiljaw%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:15 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAA\u002BDHj4Syv/3pSWUYJc86tXFhceC6A0gkk7WSCL2G3bJC76nd5eAdw1k0\u002Bn74PzgnpV3bJgyCjuCYovvfILcwYmuy1UYlbM\u002BRQ76HdQjJLGSNalNvq7elsFDJNTLkTqKiBJgTRVnyAkiOOdJeCwnXz3aXQcZj0La0DRTlXCecrQUb1XBgtecKi1gK0WHVV7VG4WW8XPzcTiPRX0hFDKYg8YzNQiWJZwmfjLZuWP9E3qVfnnqx0FAYP5dcn1autY6h6e/VCBWfzXpcLMA2feU0nICS5W47bxE8tQKOPNey8Mc3vH8Pb8afz9EAZaOP0cGyF/LWC9AQdorOqFMDAYCSqTv5DrF2JSy58yWNKvl9rONA3BTk3OT3FzX0QM[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-5ceacbeb-e5e4-96cf-2e10-407f9fce7108?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1541481500",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
