{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-24232ec2-06d4-524e-de8b-929a962b8512?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD6329FB95\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:10:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-24232ec2-06d4-524e-de8b-929a962b8512/test-blob-ca19c93c-c25c-91a3-1a05-384a72e66287?comp=block&blockid=uC6zQivOQ%2B4dG3y9PpAe7A%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:58 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADFN5CIPu2kaUJ9NKwZCuyLx+YxitaDnPLg02dqR1LthYthfS/CO257Zuu/+CNC9z+chtLRORC1QpudqGqFOiLvkK4gt4y8yYx3tiTqw6PPndwozsGAG0t6rDuUJJMD9SzIz2h0IT+z37xFWoPsyn/3zgqNXWxhb3RipQtRKKT5c8D3IfM7WnyddO4EOsHIjeG7nFWJdpjAZ2D0EXs0YbYXTObC9aiMu3SN8Oh9XDWymhcplYtPcP0oNrqTR0gAaBI37O7bBZg5L+Dh+4WvQwoqQXdkCswryNzomr7u+HQrjYfVRXBG15R/8GWqbnR4ePOvaAbQnF1GDCQS82rZSjZstW392f2a42nj5BpmgFpnbyLKP5BuWvEpjzlMNOQppaUvPrgHe57[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-24232ec2-06d4-524e-de8b-929a962b8512?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "326005236",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
