{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7654fa1e-b310-4c16-caa4-71447164f911?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:30 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22FA5F518C\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:30 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7654fa1e-b310-4c16-caa4-71447164f911/test-blob-00bee199-8830-aaa3-d0b7-b53823122589?comp=block&blockid=%2B0hMjLOYCR0EQjoi%2FMBYRA%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:30 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADjCwJctk75xmujs4LnJrARHOWmP86DkqSejECsI7wOzit0DZC2KtVOOM8K2h/6bA8vIrW9TSOIYHlevioNTaKuleVWcxggWvEPWAb+eLiFoyAwfQEGUYAI66wXWGyrQOosW0U5pPj2DsfDrfUciujB2BoK3NChqERkTYhsCQKFZBcb0RxyS/4nOW45QqOK62HEVX9RoWMairMB1VZwigXFPkneAbjLT40b4qNhaGag2mEnqLODM8KzAUZpcHaotq9pdANarOqo+AbxNb7AuCJMYPr0SeJRQQqGK/9yYt4Wcyzz+PRiRi52fq+tkf4E8kgkHBB7s23NFzL504DrNpUn2sKSzb8t6hnMfcoyo68Mgji2TUbOm7++JuDCaXOti0gahrY8cSS[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-7654fa1e-b310-4c16-caa4-71447164f911?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:30 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "915243830",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
