{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-449648ae-1f89-f633-3cd1-9afbc381927b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E7317B64E\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-449648ae-1f89-f633-3cd1-9afbc381927b/test-blob-6eac7b6f-a5ab-7130-69cd-39f703eeb6d7?comp=block\u0026blockid=2i9KwU44qD8OQO8EbQAYwA%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:50 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABN4Nv6YNl9I/vg5LHCV\u002BRWQ5eApy6Iz/PHar4akYRFIVWVjjAKk6OhnS8PzDK9KqsVooXZvduZxRHoMvYbY5F2msJcLMm0TLDz3gn\u002BeALACj8TBO7/bGR5/MgfIWCthjqemDFvYf3iYVbU5d/Rm00OKCi2CF6idy1e4jAAlSpPRljOX9/RUKhBMKKYKoeEqGB7EPk4933c/CEEEX/N4cwshJ6GAjttPdh/dNe7Ck2m2jnPhYUwF0/a8mO\u002BzD8pdE/Va6Xo/qUkDdIguYKmIPLUXTZF/VxH\u002B21PqxDYr3GZVQCI5Z6nvduUqneyD13MNNFw6m4I5Hbyjm84mFKVS15hh2SCHjpTLJ9bsFPllOsPgnc\u002BZ8[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-449648ae-1f89-f633-3cd1-9afbc381927b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1066199109",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
