{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6c447fb6-ece8-2c9a-4df8-4283d0f1e879?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868454C504A1\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:56:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6c447fb6-ece8-2c9a-4df8-4283d0f1e879/test-blob-434fbc54-df40-9870-8646-56f01e510f88?comp=block&blockid=l1tClQI%2FIAguG5li02abvQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "2i+h6WEkRq0=",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "1wc/y7aBVA63jqbVi1KIM1POLKorBIDFgL2tFoDlvO6ec3Cd2tm91dG3K2pUnQTwAPSOK6vKwNOGekv40z6O0tK4Nxfi6lh5EVbYc9gWcOK5vBWLVpBC1LOcF2COxAGTKFmXnGbsDRabFBlU8U36bwppPxYoAnxBdWJkRdP4601URUp/f9N7zK//70F37uNloadVJYXraybdViYDh8hCoynM/6sCe/A27XJnKBI6yod//qMrosbHadokoiiteEXmvEwYqu43Yya3HzcSg0ITooyfhIgkFgBiBJXQ3dnHiXUtgGvGIR+YR5t9dIOOteaYEP+bDvS8wqVLtaVYZ4ZM75bC5QLWTYFsBjztp6J91[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6c447fb6-ece8-2c9a-4df8-4283d0f1e879?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "539758300",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
