{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-69f64f00-7c8d-d312-3915-c649fc555257?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:11 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EE68D8ABA\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:14 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-69f64f00-7c8d-d312-3915-c649fc555257/test-blob-7f7800c7-ef9c-f845-6df2-abee189ff2e2?comp=block&blockid=sc4j63dk78vLgAzIbobhYA%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:11 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAALmJW4lcQFUiK8xpj4wkp7pgaUuAMfOdKG7vTaykdi2kqDRPAotinwPv8QYScVUuemZz7RM/L87F/DMafPKojaWexOdH5ZU+/cpHoEDteqcZsNNGMIkaZYhliRZIWCIBN3Ngg7xt5pTBNP9Y93+N2HGb8LwvYk0chF9u0mx+9pWYRmjNfPb6q9o+dPuZwX4I56CkvFd10dUmVA9dDwQ4Qk5ZsKEWsGt6kUTR4O1RcrLhVfq72ko+ImSTpyj3razWBiK9MADM8ic1KhsCk+Dn1NFMa6kZfHgEG548cxkyguOoC+rKlEKiFGPDdqAvK55zq8JXqzIDzJm6uRRygH8eAqc3aogGLTCOmlc1RfXH1PAPuNdG6texpE9RD+suL4P0tXP498EGf[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-69f64f00-7c8d-d312-3915-c649fc555257?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:11 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "591837170",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
