{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1664a8e3-4c76-af48-6911-2e66af1c19a5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:29 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22FA3CE20F\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:29 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1664a8e3-4c76-af48-6911-2e66af1c19a5/test-blob-b92127cd-7481-8a27-4019-65e3bcf10a6a?comp=block&blockid=4zEhhBj1sHT4k38j06x5rA%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:30 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADD2M7hxZvqNWO5ZQn0PbicqrXOgd5/h9QbyEKrbDNTeJ8mSB7+hbP8Qgc1ZIkN3gDzpGahaktTQ1D5xfxYP8kwZe1qzfWanSUB0T7WSiRLDelBt8jMsQ1T0wTOBb+3pAM+Bf6coxELWAdBoJkMfPksrrcSF4cAY7TgFvrwzJhlSi07mEQlr2rYNl7BihFzRlcLoVcHpIx7PaJJvIwXG4xu3FVs0eS0Bv9NOeAoP9ijbM+i5CtAXaWgv1qi2/PdwRvSUq67B3VzV5pYumqsU/3Jpk+9dDZhLn+wzBKJESsMcHjFVu0q52RaL4yQ6KI682tc2TWjIE3kcCQuCzpi6UZvTEry5vwQn77qYkSq0EXcddimLDj2aE8r4OXJ+9wq90VGIZxYSA1[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-1664a8e3-4c76-af48-6911-2e66af1c19a5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:30 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1206079409",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
