{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a270a574-a6f3-a020-1f57-b01d53eb52dd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E74ECC3DA\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a270a574-a6f3-a020-1f57-b01d53eb52dd/test-blob-c7fe12d4-b0d1-b250-4e67-d7cd7d311f77?comp=block\u0026blockid=uq98z2s4px1yW3qEhYKwzQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:53 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAnYbZC9tPZi2/BnyBNqKHi69uxjrwBX87VxBBPPwQlznAUUJ2HKd\u002BX7KPhveBEnMeTxkatgtOHJgHnbTHCiUxrm9CvOFcEW8H8GaEZH6HukChIvHi9d0ydjSmbn7yt1WJXdiIPlWNvjmuEsWgxbgZg\u002BdwJec3TrSOEEqstabsFTkQ/wql/3vvE2S0NOMbkax4jOqbfpFuUg8n\u002Bi4K4QSWvf2Ij8qxc4RvhRKCgxXRdoKeMCi4VJarpqz7fgFJ4DJcIXbljwHlyxlmL/l\u002B6871VoevbKzf2mlm4OUZtfWDIaTgJmGi6\u002Bt8uGkPUiidLLreAit9nnOBfEcNfq4YyBEn4wpUmsVtVmqcLrRH0IhAybAqP7f[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-a270a574-a6f3-a020-1f57-b01d53eb52dd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1596091948",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
