{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4fb4acc4-280a-ea8a-cd17-6d7e46317c40?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E3A5F7F3D\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4fb4acc4-280a-ea8a-cd17-6d7e46317c40/test-blob-17ff09fc-6ef2-0d5e-0405-a993deb52538?comp=block\u0026blockid=%2FkkNNmXpl7P8VuhtB1ZKlw%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "1UYjjhiTPl\u002BAOKwEdLR7uQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "2iGuKA87UgQiqDuy7iUSFKu7gm\u002BRj6OI8Cd1anieMLQN54q1CkOiwYObyvTaMSiBJDI/INzawUt9JjfnxeiMg3eHpQebXQpoGcHs9sWvrb//9EVFXw/YMiU/N\u002BQLuvuaDkZ8U4wg5sco1wYb7suFznh46NGjRiRornLhWyUlXF/GUed/Mlky3g5\u002BHYgIvERauWlrktIp98ciFKQZP4qiAnqnVZ3jBpweRQnDJSmcX/Iuh6K7usmNnFkfXB61GZ\u002BD2xoNYWemd7PMTE3IZtKehrSy67fo5kiwGrhDw6l\u002BaSxqP0kPjv6KhxDu7218xTaHgdZp[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-4fb4acc4-280a-ea8a-cd17-6d7e46317c40?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1281961403",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
