{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-88f8cf39-5b9a-4261-95e6-3437b910ef6d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:53:25 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336ECB3DB210\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:53:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-88f8cf39-5b9a-4261-95e6-3437b910ef6d/test-blob-efd57b17-9de9-e344-3fab-b6a769b72adb?comp=block&blockid=W39bu7qpYiymW8l%2F73UDIA%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Dec 2025 19:53:25 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAD9Bs/2M4QuiTiNHMcjq87lewQMjGRXgJ14tuHoq2MRG+DFuG3fdP2l/yJfX0xktdw5HrhUQ2YMpYYxfnyiRd7VfAHnXfNgBQYGZ41C+CBREwEFroyqvNh6uBPnrvaBArlEiuJLfVfp2BmyTtzYyq1l4Gp7nJZRKsApbaTfeVcPhWTT/m0+BpapHNZz+G78oe5mgc6MBWYi8l8hIQ+zCV7Bosh3BMs/JtnT0oDA3jFSLMy2efiJgn/+sQsOHeSG9RN3sVWlhJwiJlr0uDPmYhMuzvVD/JBmNx9IeVPAMQn1TdxsSC3bragvk1KdlcpLF0/44E7vQvmDEXk2XApIYvVR/2tXeRnmUiFMFGk9yaJV/WEEx1C7BQri6TezpVCd5jBcS5Ze9J4[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-88f8cf39-5b9a-4261-95e6-3437b910ef6d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:53:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "116277456",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
