{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f0b911d1-0cce-65ac-8791-7d667ed42e73?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E71FE0907\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:44:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f0b911d1-0cce-65ac-8791-7d667ed42e73/test-blob-0dfdf9d5-c233-1e57-b836-c817bec3577b?comp=block\u0026blockid=W%2FfuaqNAAH2znTpc38%2FAcg%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:49 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADkp9iKadiyhktAkZiBPAvz2uCQZbTBBwTiRu4lXQX\u002BlO\u002BGjLK7LDP9ZpkhKtsz3fGm\u002BeaaOuFQIp/UpyPpjClFQv2o\u002B69ZN62skv8bn90or2j9fmMfY1kNNWkT54UQE9lv3OfeiuJBTcE47qjhNYPBrPi67A7GJd6jm8VGRVAonH4lq8L2SiSGuzGh53WxKwDlUTuMVSfLqbcIOu8c\u002BgdxEFEpu4nAy2LTNDDdJD5p8m/FYPQVm0dXWgIL7Q81asEpMNcjh292JYbZuCD27YR4n0iAVpoTW3QK0mGGtN1Snspvs/NnRWv/TzptPOMmYGx\u002Bkk7HtBMnFtViGbQO73GohhlWhjqREVndgQdfpR6R5[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-f0b911d1-0cce-65ac-8791-7d667ed42e73?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:44:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "262569448",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
