{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3be6f3b8-183e-099e-7596-8f40f790b19c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBFE38A766\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:41:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3be6f3b8-183e-099e-7596-8f40f790b19c/test-blob-2589e160-d8ff-4c09-7aa5-b9f730d2855d?comp=block\u0026blockid=cxy2bdJkG%2BfDCLGtEzm1sg%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:20 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACUbrbCmKYZP6e7Cirx0ImuLXLYBfG75fQnPHvro5txiDtEOhEPpYTB2F9N\u002Bn2fwnnYJoFG0NPw2InCmlsrLpwMSoHurZZ4nojuFi2Rbup2iHkCE3wZK7dnU2GHTQoplqnCQbD7sBXjYIf5V7qmX2meSxLhKBof8h/Jh1k08FF9xX\u002BDzy06ethkH7L1INP9wPT46AL4SG2Ook6QMii8rm81e5I6I5A8ZNA6fAloKtFLzMZlPAdPhHwR9CzeqUivp3BCv6RBw51ku4QxvstkJnh9RWViV3Jo5vYVKC5jXrqIi9WZJWotCgkoAICCHsaxrc20YGPiTFD92tmtK5pvAFzJqDP2ygENUDtcOVbx5cgwY3pgrv1WpT6Em0qRf95uu[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-3be6f3b8-183e-099e-7596-8f40f790b19c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:20 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1931118826",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
