{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-11ae1f2b-f65e-b78e-4afc-570c9fc680dc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBFD32829E\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:41:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-11ae1f2b-f65e-b78e-4afc-570c9fc680dc/test-blob-35c4c6a4-ebff-ac12-290a-53c0815c7730?comp=block\u0026blockid=BOAT70rftcUDNmS6dIxcxA%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:18 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAD14/0x\u002ByjX499lZjiB1BaKRERPAiyFYXrEMUlAiDFBwW0XxL3ChxeUxbYbFC9xOtkrNMrDmrUxb4GDbcnel1qtJKXLaQ9Zx70suj12aU1LU/dwFFRnfSe35lQ7PxpNti1bbfCJpdDJ0mwNlt94ugY0OBrSboMGRqZ9FIK6HYii3gQQG/tcwa0mpkLoWedHPytOBwYAe0epVSdJC5BODrTjarfbZ58L13Zsq8dBHu2/NdVWbBaBomO8ZsXUE7Uc2JiNBO8vbNeMQi\u002BQk89/aDc5idW796GeYcdUHgHZN8PAT9Mvsxn9j8j9yirm8Q6TPP2OmorgYeD276In207Wsgprz0T7ULUdO/kMvSx3t3C5wOEDS5054O7zOcN31rR6J[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-11ae1f2b-f65e-b78e-4afc-570c9fc680dc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:18 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1394693670",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
