{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ffa2ac2d-c8a3-27a1-165d-8d679f3c8e92?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC444E3C91EF31\u0022",
        "Last-Modified": "Thu, 14 Mar 2024 17:43:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ffa2ac2d-c8a3-27a1-165d-8d679f3c8e92/test-blob-f403249a-aeba-3fe7-1ae9-7e6427584bb6?comp=block\u0026blockid=vJ5cdqeud3m8EqEnXxDGEw%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:19 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADc7h9GvVZJc9rUofNHReOjVqSZZoAlxOUw0YgqaQA2zy67flVTwCp27kmO\u002BSOUa4ULrXvy9RlFtik5FuzOHwnZntLEjMeOT5V6Ing3l8vCnGUCHryFQ9kVdccrGqo9p89AtFpQz9\u002B\u002BfV7ld9KhDR5ednmHywBMU1r4rxb/YjXrPXqo9\u002BNwcsyGRKFeoMsHc2iozaMwttzP82D/Vx/Ivhso\u002BTpX\u002BRY77QSsAIZe7rOP8TyuVpSRu4ae2QOCcBqtvYaGNaeQr3pRbeCeg7ZVcAWtcGbjGWiGlj60uCATuXzp/0IA2LgL/kHCXem08zfQSWn\u002B1AC0yaMe/55o3PZaPbNjtYNzVJdMonIkIbx\[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ffa2ac2d-c8a3-27a1-165d-8d679f3c8e92?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 17:43:19 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "992067702",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
