{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7d5b55ba-dbc3-76b2-c9ea-2628ae7c6862?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAE786874A29\"",
        "Last-Modified": "Mon, 12 Aug 2024 15:57:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7d5b55ba-dbc3-76b2-c9ea-2628ae7c6862/test-blob-b336ea15-39f9-0b2c-980a-913370587e8e?comp=block&blockid=FtFPOCxK5wG7boTyqeOCbQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:54 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADk8ujYoiGl9bHU0z2zuM/Qq1RldMVJ4gq5b3+xkSEIRdONFrQQZi+ik8Jtq4/eXQ1JY9cp/j3Umg/eHzOh82OQy41qJqIav0Qlw+AD2zd62hJxZy1K30eWuHukMkb7AKBe3d8BczZrL6SSBDtc0b/YY0QhL4s2RexG1G0ndo3+KsJApf5XeGfbBjiJuNoMOee8y84C2dAUJ5fzu5/IRLgWlNp4HCzAgevdRilTrY0ROZqGa6q++1DyLH1nY7zHEsJ/ciQAlB26+0rjJJOnwXkJ4oIEQtkOWJiJhu+uWR4uFTRn0ztpEKV9y29g29e9SmoDXYE6w8/pcRmLdg4tC6IstA9fQO0+oNHch3ZprXzBzDuFq/uc81JkfWEh3ZmXT8DMNCbIXQp[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7d5b55ba-dbc3-76b2-c9ea-2628ae7c6862?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1908581982",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
