{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2ef52b84-dee3-2921-9edc-3c86fd936ca5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD62A84903\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:10:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2ef52b84-dee3-2921-9edc-3c86fd936ca5/test-blob-141a5da2-d3c8-0be1-6fe3-98d78be7452f?comp=block&blockid=o9RrcoHV00b4quXsSwYNKg%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:58 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAABTvsvqApP/nRcPjZb8hTGUhAC8InK2qvnJnjcjmFjSCeYgSTk/bDk22oOe64zcgD1gujYS20ROnBPSIWRb2wS+PYOw3Dz3VRjHhUjvGL9t7B36w90ivy6h0awmbErU2/9+360ILKQBaGQeS1X8X4NUZDRGYRgnnH5VDgqP0ejN8qpIcDkRZMB5+Fp4BHPYpXEo0ggWjnnnV0Ivsx2ZcZd8UFmrs+9KQgB0zGi9rpgKfGmYZ/7gt2MwYRj24rGj4IfD/LMaLfGC3ZAHocIQKqmqJDa0AAqYm5n1elLWVF9O0ezh+rHl8E93Folu2BWhHzdvS7577t99KmAZJLKfrIkwudDVLy/3xTPmPeqAKsOEVFobZwmh0+IMY9BRzMuc2GkAPh9Ey/A[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-2ef52b84-dee3-2921-9edc-3c86fd936ca5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "778881514",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
