{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1dc40a43-e735-96d0-2510-f637d47a7605?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:43:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9F863372E57C\u0022",
        "Last-Modified": "Mon, 08 Jul 2024 19:43:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1dc40a43-e735-96d0-2510-f637d47a7605/test-blob-a3a54c0f-93b2-56b0-8d2f-d50388668fde?comp=block\u0026blockid=OxMENRIkeK19pIdY4Q429w%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "IuF\u002BYK1W92DB4hC3PuNE2A==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 08 Jul 2024 19:43:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "7uuYMSrIaIWOj9iRoFWtMgDbFtE60Y7nxcga3N\u002B2JD4IfIz9Wd/wWJq6FucXa/DYVavENPDKjx1dsWtiroul12uZiSPIsNkh6r42f7qn0FrYQoc08u9OPe1un6dzjqkOFT97fePMD6TRokkxlA9jteEQiWsEcOV7S0s1WhAxrVwUJ2p7K1J3CzPiYk\u002BlHKneC\u002BnGYgQ9CqRa/zGWl7SToPXtHG2k54qPmH44IQ2V1S6iV08ma0pY1x3FISsg4XR\u002BT8JauAA7OSNfN8mFBeiWxCkD9EBlbDSqlUVQ38ZebrcKudJLOx0uZh0rxzOA0tE0LlwBHew0G[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1dc40a43-e735-96d0-2510-f637d47a7605?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Jul 2024 19:43:11 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "910624353",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
