{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a1572192-f705-f945-bf55-8dacc3240024?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:30 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22FA82508B\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:30 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a1572192-f705-f945-bf55-8dacc3240024/test-blob-8d133889-83db-861f-13ab-740773fe8adb?comp=block&blockid=khOil4xkNElq1Htg%2BqS7oQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:30 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADFQSdSf2ENwm2EuoeryuglqZu5vxO3N9NG0UtP+J5uDhgatc9yWnKR9k7baFTYj1mIsmzJHqYdDgpTC60VvsrPFaxukBUYs04pKMjE285+bkLyxkUxpe9y/KbFHk/EezeDC1Ooaf5Db/8eoPbdWTI71Z1rI/eEnXC8/JNuUpT/ZKyRQc961QRDr1dGEwX4lKN0iUmxWVhA/m7j621r1B1qHztKTBhiwP+ZJ3OgPopqw2fv+shLTQpTUEJhl+mW2No52/TJrkiLEchKFzHkn8DjeCgGe9lUHtEx9/vVACkVA0+ZZmKWoRUfY+gAATXYbrGBfh7Bj1wA5b0imLdMthGfNBThSzldTdYS5hfxVB2bWIhKVIIKU3PzmIGlcwle063XYMwh9yJ[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a1572192-f705-f945-bf55-8dacc3240024?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:30 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "253206586",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
