{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8ab21ace-46e4-ad01-824c-01737eaa1256?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD8BBCAE62\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:12:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8ab21ace-46e4-ad01-824c-01737eaa1256/test-blob-c996fbf0-5c3c-cf57-4f28-7e87d966ba6d?comp=block&blockid=RaftIAb6cMuzJ7Gc1m9sCg%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:06 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAADXhpBIuvdmuOjIPV334t7YaOUHlhG2A0SIHATccu69tDwNR0gZm2J0gOBziiNvSSC8y9lGkLMwIYNLwJ7yikb5C4gg6ZuVvs2DkxUxQnggGNLjH6YVdiSI3CbFzdrDgfaaeX6bT1+FJgwMw/yd/98KK6jLD2qf5JRklwx1z/DyvxIfl8j6hchzXfiaCLMn691Gu6Iy+HGL+pTqNrdSEFccGQTpfmcWEKbfV7FxBdvgPKwvLhROwMagk5wzD04RIE2hfe+vPWx1MKv7UqDAGfW4CfkLI+FCzVg9SerL4gBXzjdj0IfsMf8/uf1pUm0l4HmnegVVBfxrXrCXcfSCqk2qo4RpXEltzNj6y2rj2XrqF2hxJGj6Asg693HWVMAKvQ6wvq7ovIM[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-8ab21ace-46e4-ad01-824c-01737eaa1256?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:07 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2089119339",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
