{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-25a9ec41-4c01-43fc-5902-dec5f2e08a13?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684C549BE24\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:59:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-25a9ec41-4c01-43fc-5902-dec5f2e08a13/test-blob-7d3f7963-b96b-6e5a-b2dc-8e76882d3404?comp=block&blockid=GW2bRb5jkuTC4EAv7U57DQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "XCBhIu1bFz8=",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "UJ1cB2IbNFyOjb97ZmQpTPGUyun2owbX7VA8hw8ze148a0d8sAnn39SNWH41DCSfa4c4Cz5fhK2XhRkS36xNWxJgPvodrJznreoVaEqHoeArnByH+m8g3eaZ5Srw1AAnQP1r1M4pgb7rUF5TShtiD+M45kKQxWCjQGETg8dy99np7ihNG8wSAhpenKoRzJLKNtVGt+29l3qdyJRtFv72eViEalvzFfQXJuQnMSm1knTOSEzyK0DrK1eur1M4pescZyNRjGI31yHgL5EJlmVR5zUgns2xBE0XmT4ERGWh3oD4C8oFYwYRlnArEfuv4pXyXcgdGAYea2PVOvIkM5O7P1EQEIuaS4MvDgdchfJSa[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-25a9ec41-4c01-43fc-5902-dec5f2e08a13?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1327489351",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
