{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c73127f0-c2f6-3de8-b153-b53aa4c27f8c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:21:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBB040137C17F\"",
        "Last-Modified": "Mon, 12 Aug 2024 19:21:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c73127f0-c2f6-3de8-b153-b53aa4c27f8c/test-blob-e5052774-1205-6623-af32-40f4f6ace4e1?comp=block&blockid=KMzuv4T2XZZhC1fiMU7SjQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "m6Weow1oki0T9mltUg4u8A==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 19:21:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "Rpn/Qsv7loT1n5a5DeVLUHJbiUGf6+ccIMcehS837Jof9bxXYZ+OtcyenQVzKF5ZP+uHSg3bH1qy4yEE3BBVvrL8mRco8+/TzNR1AU3iqfhoxUZEr6GMQ9ZhpX59iti8Sd9Tdo9GMEv8tH45Zh0M0DkpmxfJEA4QcFZBx01wVUH7uLhujzJpIZX6SPsjUty4VNVEU+7B8jjRQgY4BWn+i149Pq5knkAHwHmBz8cS7R15iXJ4LAFSOsaAnUwsMRws/L2c5hQuU7aUPZN1PyNwvlTovnv3hl9c6gPo5AH02o5dVNIKdgcISzW74+9t3fqiD973Q3KhNXZdP/sRRm+0oGIEGOtRZ[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c73127f0-c2f6-3de8-b153-b53aa4c27f8c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 19:21:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "96906875",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
