{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-42189a22-155b-0f17-f270-5869d3c51acc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD8D18E32C\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:12:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-42189a22-155b-0f17-f270-5869d3c51acc/test-blob-79b090fc-1ce8-c86e-b8fb-23b75ad5ebb5?comp=block&blockid=8kqpSUODlQd%2FLOEr9ubozg%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "fzTjaHafRh2Q0lU2WM4OGQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "EtJ+RlFj3i/sQ0hnZZG4c2ZHzxxONXRPf98NldzznNwSPnOEAMO/NtdH+BT0DsHSwKNU8E3EI91eLsZyVklS+adsVSYeNHOih5hFBjxfWnEdOtU5n6uOTRqWJtH9TOCN9f9tiLqatIsvsWm1fx2g/9RVVRx0GFr73QgMiA6hpTq4uBA88dG3g4ZJCe1C2c399Sb9p/fEGdylcquwjit9jgwv/MYMYw0CndGWKg9suQM6DpPnpP1C8540l38mBvVazHvgE9wH8ZEZ+gomLu7NOLmodn+YluoP7Ako2MyO3JbcO16TjKYmMx0BzqnzHMWwZl7FfpB2wjaR0SbT3hjEih5zSvKQO[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-42189a22-155b-0f17-f270-5869d3c51acc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "116946877",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
