{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c8c92738-e861-a27e-982c-a04657c1794c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAE783233996\"",
        "Last-Modified": "Mon, 12 Aug 2024 15:57:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c8c92738-e861-a27e-982c-a04657c1794c/test-blob-5229c591-738e-a760-3a86-e2fa46f30022?comp=block&blockid=TuSDiqSkcYXxd1ZjlUzDZg%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:48 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAfXWzq2L8fdB3WeM+5hJfJQ1Do77WhCMh3w6q/x2SPYoLp2axi/neeSZe6bVR6LBbFM2ESBCCQflWkchQUX624RxVNz6vqZkTZSqUe5pp0/ZeU+pMDfV1iWVtXvotiienqAiY+LVxq2s0cObp6cZe7MHV9gGUZtMq36nZPk6i5dsC8NORzNc86KR/F50Oj6OfDm40W5AmD0E1ch0LlGkYlY8L5vj2zR/ulQ1ZGU82GFAKPjPcaopG3OGOWF62NVQ/YoISAqSmpD1SScKGzPXx/1XM/Vo5PCsAxQoXaHDBNGO1HbbJJBWrY5XyjiDLvA/vmFkE6Tf+AiZbDT2akz/MkRFizbM/JNtAIZnARq4GOQT6K8wXuEsruxuMchbUDNBaJfkPZPJc[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c8c92738-e861-a27e-982c-a04657c1794c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:48 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "998503673",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
