{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-22af7191-ca5f-bf80-bf70-5e0d179faeda?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD62D3508A\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:10:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-22af7191-ca5f-bf80-bf70-5e0d179faeda/test-blob-295a7449-17e7-87c6-89eb-df33114012f6?comp=block&blockid=u6Izb4HhOFNCOLWZ8wUwDw%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:58 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAlnHPaTTE1Y7vWAOAaYPhyXZm6Ye2N0iekQPyw/JOQbgVp+irYOHghgE5lMQhquhylvsSv+BdZl8lLNg01hGcnRZLbsWbOmiUgmOGeKKEfOoXgCz7P4XbtD2JgjQJr7PvnPet1jgm11iOfjl82u28nLPuHVHkoWGQb7aIDbQ0jtavltuq1qat8KjQaL1IWt1PzOGAG45eCv+SHWaFnsmkWe9mzUASFcoNPCypEDSgSBTZODzSsHNEUYvcFLk8KFXfLA7R4YmZPbsbdt9htPrG8dFRqGKI0al8In+0NgEMzRfWzeAp0maLP/6Ftz2X4pyRFSbn6n/zUlplUcMN4Qe2DqXHjucWnR9uxmxkBx5v6D/jJxzaKOKX53+FwICnfVr2z6iXzFe1[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-22af7191-ca5f-bf80-bf70-5e0d179faeda?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:10:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1717479778",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
