{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1c1d70de-eac9-e791-36e8-9122813bec0a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC9DFBFC8DB734\u0022",
        "Last-Modified": "Sat, 06 Jul 2024 20:41:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1c1d70de-eac9-e791-36e8-9122813bec0a/test-blob-3e0f2ff8-d2ef-03eb-0c31-18b501c2354c?comp=block\u0026blockid=60lyHn4cC5sBjA0AisTbsQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "rN61RsTBOJ8RySzw0a5sOfvJu5H9iiWEhCwqOUZqRUZedTadR6cDprefURteBP6kWMD6RO3opiK4McGXlv5Zp4Plklx3zvFUxRTZXjkKJoAuheGFbwFYdc4U5BblbA\u002B5RamXeHGiLYnOpX7YD0jprgtBaREd0zeCjB2NY\u002BnbblkFIBiPc60OjFhXt8mDgGWGKzYKowL\u002Bm3JyFexTFMmf8jck0\u002B8wWTpdM9y4xRtt/gy4Bziz0ctWB4SlHF7AunePt8SSXqx1VtH7rG8lRdVWBBbgmwyQ7CFrzcxqijzcnXhlKQ5W2qBfQrFntyRbMcKvThdH4B5r/[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-1c1d70de-eac9-e791-36e8-9122813bec0a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 06 Jul 2024 20:41:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "409647793",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
