{
  "Entries": [
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-a0ac5d50-2f2f-e1f1-e9d7-2e8c1d8b359d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:24:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3695A8C2B982\"",
        "Last-Modified": "Fri, 17 Jan 2025 01:24:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-a0ac5d50-2f2f-e1f1-e9d7-2e8c1d8b359d/test-blob-fe8e3d96-c56a-15ca-4a8c-f89e56926852?comp=block&blockid=iPiHNEeDUNAaNyBIeHCx5w%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "b2AtgZS4cO+d2Kbe2RpQ+g==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Jan 2025 01:24:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "IJSmffhXJe4oGpUCnX3lS+FbCtDe7Blo0lPIig76Rb9ws1Nn9njZKie9IGlRhoKuqghZ8EHq/zR6PqqljprgLtXVkekqfVRogt+pIcywFkvQGuAGoFV9hrQf7bjOM5uN3fKTfPaYgy2z8G1iQd5oyide1HS62o2AWAs1C5Ccmk5DHETZHJpWOJayUq/nG0TVtyKRb18n0gJkEyPpY3icF1YfHiWZjq2MB5zdB4femDzHX1RtCyvvG0lBdQl2bdQeFjtZyPwfPCh1BGfCSct7hnrnIgQjLwsqMAPcVxijFprIv/FLhNBApyMr+AbDLNJ9xu6Oj0vQ++YvLpj5Q+QP0e7N+oraL[...]
    {
      "RequestUri": "https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-a0ac5d50-2f2f-e1f1-e9d7-2e8c1d8b359d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Jan 2025 01:24:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "448516306",
    "Storage_TestConfigDefault": "ProductionTenant\nbqcxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://bqcxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://bqcxscnblz04pez100ax.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://bqcxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://bqcxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://bqcxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://bqcxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://bqcxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://bqcxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=bqcxscnblz04pez100ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
