{
  "Entries": [
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-808ac627-b7a0-26f2-7113-fa4c3908654f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:45 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDE5D64847469F\"",
        "Last-Modified": "Thu, 28 Aug 2025 01:57:45 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-808ac627-b7a0-26f2-7113-fa4c3908654f/test-blob-414fcd26-9d16-0e44-7039-8bf511fd89d0?comp=block&blockid=l%2B4Q1E9uGsIyUySLgZ8GFA%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:45 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAC8e+2NXjslj0RQCvxWT5gC8zzFQiRlKZylx6TVhM04czn35hKBkl9M0VS71eBeC5w+EcHEPCdEVlFR55eXTwt2GJbDX2iGgWDdeXDQqVS8R7wIl3ILczcRso/AL6vHtIJJRL1JmqwzuI9h58O2dK39lZ/bj7eYa6RfsqzYxVG0FsTuh2SWcqwP1N/iqoxzWj3iw5oL6yXKsNkY6uj/WvI+rNH+yO1IZiLzy7rYtcAY61dv9gG3qSqfJNaLfYjDEHrspP26dZJQmlx4GB9q8fsYAP6RkGTxhwOnX6MWvOiZL7pA7BDDXXbEHlykPpAKNDLbcn2JMoAW+x36ExXuOt1z3uhlKQXqVaKIzHEHTEhynCtxOkprEP06KvHzyEpg1uR+MGCopQo[...]
    {
      "RequestUri": "https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/test-container-808ac627-b7a0-26f2-7113-fa4c3908654f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Aug 2025 01:57:45 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "902712058",
    "Storage_TestConfigDefault": "ProductionTenant\nblwxscnblz04pez100ax\nU2FuaXRpemVk\nhttps://blwxscnblz04pez100ax.blob.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.file.preprod.core.windows.net\nhttps://blwxscnblz04pez100ax.queue.core.windows.net\nhttps://blwxscnblz04pez100ax.table.core.windows.net\n\n\n\n\nhttps://blwxscnblz04pez100ax-secondary.blob.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.file.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.queue.core.windows.net\nhttps://blwxscnblz04pez100ax-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://blwxscnblz04pez100ax.blob.preprod.core.windows.net/;QueueEndpoint=https://blwxscnblz04pez100ax.queue.core.windows.net/;FileEndpoint=https://blwxscnblz04pez100ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://blwxscnblz04pez100ax-secondary.file.core.windows.net/;AccountName=blwxscnblz04pez100ax;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
