{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f3d46b29-2548-e6b6-e3b4-3c8fd0fd37ad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684C4C29805\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:59:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f3d46b29-2548-e6b6-e3b4-3c8fd0fd37ad/test-blob-70c4c374-55a9-f90c-0209-b9c50099b0b8?comp=block&blockid=RbxFLlr3DyLSjwnMDxHAhg%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "pEmtV8vOqFRK/34pIaUTqA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "3aRG5uXjkQjE7Lc2sAMXbcPnhBUGgYceWTqOFclUPonYc9QrMAlvJinv8Tn1B89G6uqOwi0k+1wcJ42rVXw+b60tXTwu7Dy5eF3sF49NKVFqRyrfxnxcs3h4Dgh8w9GssIKMx6qSF/6t1EnPN+PNzv47QA1RXqkx0anEtt00PbSMP2YNwWGn2C8sMvEyjXyUqz8JQILDW1LZWvYAzmEgeJeVQvd9vwydlGjdJSu3/0MtLwudKvwyyeQUNGdqpwnOC7lanUqEF+szbKwZ5TYmIVuy055Wgk6aY3kSaIulMu1eDxlyXGL4qBggar5PGOOu7hIMt9RreIhrvznRca5fjTm/utYct[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f3d46b29-2548-e6b6-e3b4-3c8fd0fd37ad?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1398051624",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
