{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9fdece9b-919e-0b95-99e9-4ce789486e4e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCBAE784786879\"",
        "Last-Modified": "Mon, 12 Aug 2024 15:57:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9fdece9b-919e-0b95-99e9-4ce789486e4e/test-blob-055f3cad-a98b-da32-4b3f-94e8a803373f?comp=block&blockid=1VegSXnbFIHpW%2B46EaQXcQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:50 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAACY0oFG5HH2S91ezCgnbAJ049/1j89W73RYdqU430hdI+yvkTWjv4h/Ay47AAoSk9Vs/MZDuvrqQeMM7W7MvmuUAKk7eNrN0CNWdoygG+9pRePPzOKBGWnxxVBSl9IaskXCpv9h1hv7niyj7UNuSSb0oqiK/fGJEudASrOKezlRPMNG3nXvCG/I0y623iwlgnspXvUqj7RTOZMYIYtocSLyUrCAKGuxBJo4winD0jS6Gsg3YB1EJ60O8qTh1ubjYGILw4x8pVoPeFla8cyLkGZeXgbDMBEFrisDcTXGzy6zVWLGuA+oPnVuJ+fD6TXgg2I+gnjfIC9RBRRheTMkSakrpptpxNhXth+RVAgpQcX1Iu7TiEy11DUzdbL6RsVCSd4+mEKadr6[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-9fdece9b-919e-0b95-99e9-4ce789486e4e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 12 Aug 2024 15:57:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "320724100",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
