{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8d2a7f23-293a-d440-ad1d-ab000831553f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684C7C3B147\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:00:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8d2a7f23-293a-d440-ad1d-ab000831553f/test-blob-024421d8-fe1c-1e31-8758-12751819cf6e?comp=block&blockid=xGBngQMWQJjcDMJ1KQR5mQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "GKFqNJydBCA=",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "AlwuV9Y9u6Nr5oyyEakzQXdjVKUi5/wbW5shavKoL3amLZREPU9xb6hqAlvEZNKqzEv0sDY7xxpfE/s6G1CxwrYVC+QV7wMn8uT8uOShV/fJd52ntH9AamV55CpTNlNXuUClrljtld1HzL1RPw82vrsDcaSzCQ431KB+mwrZ1LuRpf6k/Kif2+HAX+jB7ytWQyZuUMWuo68ybtm3bvnSbvgCv5kQkcITZJXC86kldeV0KFjkaoP24gJOco7O52zo7fHwvy+SRbJjW+wv67AFDPj0Qkah7QR0DNyXwh80RHwp2gW4NbW14uKmgA+XxvZRSGaV2aUmRv/se7NT+4OTLxZvBhGqTNZDP2Bj+2313[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8d2a7f23-293a-d440-ad1d-ab000831553f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:00:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1734460188",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
