{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-26b84268-eae9-1260-aab7-01c9c3af60b3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684552B8615\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:56:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-26b84268-eae9-1260-aab7-01c9c3af60b3/test-blob-c4a96fd2-717e-5554-b003-06bb425bc03d?comp=block&blockid=%2FLpjHa%2B29CVCoC27sCs%2Fmw%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "kbVr52ieOLEkWcNsgZhVIA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "NMSycN1VnStYH+xtvUtoIeQC0HwJTvZPnq7NCQ3V7eu0qt/m1mMho6l6uZ7OlYAxHg4wqX5Md+bNYtEuh5MegzEBuBJrgkuA4S3Sj5VYgQkum+r+pURsaDL5GHOR8hsWWzVtzNxtxpzDr8dReuhQdeHHAOyoH93slFDfcmnX7u4RuzRf6rQtwNVOO/V8G+5KqaKSyvIvbTxYgTiMjVQy68DZP76z8Iosmj8WWePnb3lilMjGRST74k73B2l8oDOBHFA1o9svlrgYZS+zGRNYcBG+KviLa6Wc3l1wvOkhsPkMlD2TssydMv0QruD1R8g6n5dXvXY69rGrmMR9v9rO97U1p4TWx[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-26b84268-eae9-1260-aab7-01c9c3af60b3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "886186104",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
