{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cdb44045-188b-83d3-7e07-c6c7f4a312a5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:29 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0C22F9D2FD41\"",
        "Last-Modified": "Wed, 15 Oct 2025 19:42:29 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cdb44045-188b-83d3-7e07-c6c7f4a312a5/test-blob-4ed8aa03-7075-4df0-7075-2312e6209973?comp=block&blockid=y%2B7ItoOf0DSyn0LqNt4Rgg%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:29 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAapauI5gXToKqb0w4UoxXwao4oxOInuGcuoZXUhlJdBBX+FMjiFFGZXCA/ULIaDeQpLdkszqMi8+xEWkRw/xlXPc75Fo9MDlU9j2fC52e0E5Swqlh5MTZx2yHbnroNKV0H6BLjIfdV3B+E7z87YAuEj0awv1TA3gyYhzptcG+aL2UKuv9U0PKdWs459UL3NnoWVw9zXGkIRwkGS5m852yw6b/ZMKULL75TEmWGh+jJoVG/VxlgJ9L8AnP2ToVY4HJhiAyDHQXVCidQH0oDgb8gPKlI/JBST8Hs3C4xFeE4+jHyJP7cRoNL6kzyDweI+IGz1RHcEOTiDzlKl0HWo/VFGCUYEVzBRPYl/RJDYD+6Y+OtfUDPW+pNEBXEkq9CdEZWrPficOc[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-cdb44045-188b-83d3-7e07-c6c7f4a312a5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 Oct 2025 19:42:29 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "723734427",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
