{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c3aeb4dc-0e32-945e-91df-d22e9d0778a5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 17:26:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4E830D9A365B\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 17:26:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c3aeb4dc-0e32-945e-91df-d22e9d0778a5/test-blob-828b0492-1999-51ed-2d96-2bc1e259fce4?comp=block\u0026blockid=Cd32uCbKzYu74QdLPgchvg%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 17:26:35 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AicEAAAAAAAAAQABAAEAAAQAAAAAAABqt\u002BAili61CAobi5VY/uyneUQLO4iso0Se2O9p66IgU6xU9PAJQ/f1rHbB5s83eHzBQI4t2bXZvhSchL0\u002BTB1n\u002BzjpAwn8njVMFo8S6711Z2BzqKoU8nr3ezbbbb86tmBYWuuXTnRyxKJY4cImx9JXJhxdy6NzUgi\u002B8YjSITB2EmAuuZHR3RjrAOQIvBG30bRkg0ai3eq85Qfi2Vzsn6Jx4c5i9w1BhUkDccu/apb2BiDUbp3p1DV1ctSJ7wS8/mBBltpDVNqmIv79nmsf/Xpw7NI8GDEFhw2Z7YQ4t5ZER3NqftO8s7FGLUyf7DXJVXVaGQIygOYvOw/MqWdVbmpnuFb3tX6mtDkg9evkZZvYz5cP3Z6UEse[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-c3aeb4dc-0e32-945e-91df-d22e9d0778a5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 17:26:35 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1754225179",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
