{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1997ba51-503b-8800-b7c8-e1f1e5c4ede2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684C458945A\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:59:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1997ba51-503b-8800-b7c8-e1f1e5c4ede2/test-blob-509807a3-ab55-da1d-e813-9347edb01ee9?comp=block&blockid=sqq3EYuN8D4oZQt01azQAQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "/2pw/udDJxs=",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "EnC7DVPYhIvrvsLzUHakC71ECODZgJDUDUBoFAFEeh7zn3dz8PxJEIBfgpRwZB16zrnMGTF0h5Lf5v8ScG+Jp0OjALD/MBrB+vdfef78ZKki7kVId2HsfhjklAn8N6AQ1tpRzGRte56eCx85FA6U44JW8IEqQC/it4GXGpwRxcNWT6Mjq5dFtHOnqWxBsmoKULCGpkYe5pWqbhXj1WABjUZb48VrcTjqETsOgpbDoAQXjcrsih99N2gNeDyCYt8Sphwm5s+kn994m5QLD2P+584Ry0iVFQMm3qtcXfj8aK9c/Nx6nbo0cu7rdO6KcScFDpBtcZaWfJEZ/wckR0HmezPlrhOHhEoT3FlZqqAUn[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1997ba51-503b-8800-b7c8-e1f1e5c4ede2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:59:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "987362118",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
