{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ee32f801-08d8-616c-f961-83aadebdd242?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDCDD8D42D94B\"",
        "Last-Modified": "Tue, 24 Sep 2024 21:12:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ee32f801-08d8-616c-f961-83aadebdd242/test-blob-05cba607-b2da-2420-d36c-0d84ef70db3a?comp=block&blockid=IZnacsIxMVv4P6AEXW%2F0iQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:09 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAAped2osi8lYvP7+49x+986xS84I/7oFZp/TpXxi5utR6dbSAjg86FBlFz1MQkQUS222KNacn09QGNCKGSaNNZXTbToFbPXWdKN94+h8+WRb/xoO7L3UtUpHgeknss9pmCGnuNUJzx533/RzXrum01/sblnMvgjX/rfv/arM7sGT1EuG1UAPEfA7lwzJoVaOoO6JO0R1nNoYj7odWdFzqvEyn4pwID4fnRxpkSc8Dl1hIVz8Q7O9HndxrkWF8ffex+wb1sHMXkCwaV4oDAuzHEFc/Hi0t2d9tUFS/rH4WetkSsl64HdblILcC9oVVRIrvpHEaTV/ahCE3iFAeV/O+A+yw8ECeDwJwSe1mGuNKGBvJwAgNDC15OC49gIWGxsjDVPKolFQ6U[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-ee32f801-08d8-616c-f961-83aadebdd242?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Sep 2024 21:12:09 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1689392987",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
