{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1b171804-ff01-c5c8-086e-f36c3a2548c8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868456A07AC7\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:56:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1b171804-ff01-c5c8-086e-f36c3a2548c8/test-blob-9d04dcd8-d5c7-34aa-e546-e6d21e541fae?comp=block&blockid=32ozd1et7kIBuKq5AIT8yA%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "OHObkmc5D0g=",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "a9SCr0iTy82K5o/dRi/2P7EhrnGc8InRBPeEUp4KgMTNhC76Rg2JKv26zFiLWL40P1jRjhfkmHpLsatRDnkvgGXLD8IB/PmjmIRz4SMwRas5UBJGOPKt6euzrpViNxuDi0zzwEj7MkNeLfaTcLZWGmv/GL5n6UhzHibWTU1jQWBo8FbXPYVjPR3O5wr7GXg1XJQpYh9cHKEEgKEhJOX2++yVKoBff9zlm9qhmQI9dwSuoPC4Od5BDNO1073jQRg31+seZe/31t23RMdEuoOfxgidc4P0PsENVB2tqqsfAVrBasEWHxEVt8oTAPUX/FFQFg20Rs6VQpkqEBHRSisxmEJtg1DBiKb2iLu54T3L9[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1b171804-ff01-c5c8-086e-f36c3a2548c8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "659940763",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
