{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-44f24656-dd62-6bd7-d87c-ad17f7560e33?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:53:25 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336ECB1C98B8\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:53:28 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-44f24656-dd62-6bd7-d87c-ad17f7560e33/test-blob-b942a9d9-4f4b-160b-a2a2-9937c0f643fd?comp=block&blockid=yB91TXzHP5mgNS7gnrkCcg%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Dec 2025 19:53:25 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAC1WQaXTSfyuJN/oHrFjuQceDIQzCgL55RYlA2ZokN79C6Aky21bC3fOHVvzKw8SuKH3vfFnu1vqnFxP7gaWRZPA6xLRfq3ZwsEMZOymxroHEorEcNLtlVBEOm7Qy10xd9eH8n/8AXn0HfswG1avA5WiCNu70dTBExWCjQR+yPej2u0U3xR6StEQ0FMX/Xo51PaZLsJBdWXCxt8qObQ1dRTDTEBpmmRBZ/3KqsFB6VWbiPgNpZo1ImVHEhh1UBFc25t+FHE5kHqSF8bEtsqkQN2JTnC8J4+6jmna4kgMC9esbY8mA5Tkoji9e02TMKua4tF6q8Gg4PPLg0YHXq3yhgwvWEk7fj0IpOx4PqwCJ52+AD+2kZ/Vy4ybWoBO3QNKivVBY9hiX2[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-44f24656-dd62-6bd7-d87c-ad17f7560e33?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:53:25 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2077479032",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
