{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-66dfc1f9-45f1-5804-067c-a1f95e5aef92?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:13 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE336EE7DF95FE\"",
        "Last-Modified": "Thu, 04 Dec 2025 19:54:16 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-66dfc1f9-45f1-5804-067c-a1f95e5aef92/test-blob-925eef7e-606f-abc6-0d85-c1a4a3ea8ebe?comp=block&blockid=l7fZMpbN18kXSwXNjrDcoA%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:13 GMT",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "1024",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "AScEAAAAAAAAAQABAAEAAAQAAAAAAAC0jnRz/RxAwzeUwQHBAyHa/z9mB8n+2IXwWQpAhbjKyKoLS6i3CmN2Fs64JaoBw+Cl1dFBdj6vtrXug6QRAD1+yflXtrd4I/Xb7/H6RbLa7pYpm7DniVJsW5XyyIe/ZRaQOluxqQ0oLLHcZYZMtHACFJQO52SNl0Cm61oihltuHIrbaQtXKESJAW7+CyTMH6ck8LPysH2xA6MbC76yBaZWbUj7cUtlq+xPheb2j4sb2syz/ZWne2wNKWZoOx2G1vvIp53b0K1bv0THoyuWu3MX/zDy/wcQr/Hc7Ujk/HDOya/rLefuQAkeVz5R4NhAd27yUTvsk9bzuPir/+NldsLU+Np7qo2LKb8n06jJvs8Zm3bZ8qs04TXY+HTvQkEmueB7fef+xMz[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-66dfc1f9-45f1-5804-067c-a1f95e5aef92?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Dec 2025 19:54:13 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "132718503",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
