{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cc140a4a-e91e-6845-b70b-0b83e84dbab7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8684555EC6CC\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:56:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cc140a4a-e91e-6845-b70b-0b83e84dbab7/test-blob-8facbc59-055d-2226-8796-4831c56c0088?comp=block&blockid=QKmj%2BwxxUuyOoPHogyrPQQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "dhweOf5SNfQ=",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "8j/2ruS7J9vYpf6d2MNIcQSlQxpPcqgdma6x53xU7x3ldo/gT1iAhaYicGkfBOzIkYHY2G2ASn+W2BQ1CT9eg7bgt2I0ZyGsJb10LAI//ZXB6VX7fBawZSsQSndES3xmxO2yP02KlClgLLOwDB58V9p/cyDqYwefMFI3Ix2paNpBDmgVjL5HN1Qsmk9i/1gMk/KcxNdbfGDlEw77UnAMtsTZb/22Z8scNzzLvsm3PTD5KpAqDaMC5ZIIL3mwTOXkH+SLiJBbViwngI2bj72XLtbdASfg4akg14lqrTdRbOpW557kK7SgndRjA4wVZ1XUcACi0kq9BD46a7EG8Kj01RSjRKgfsgMiPWRTfN4cC[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cc140a4a-e91e-6845-b70b-0b83e84dbab7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:56:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "163884021",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
