{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/examplerg/providers/Microsoft.EventGrid/partnerTopics/examplePartnerTopicName1?api-version=2025-07-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "partnerRegistrationImmutableId": "6f541064-031d-4cc8-9ec3-a3b4fc0f7185",
          "source": "Sanitized",
          "expirationTimeIfNotActivatedUtc": "2022-03-23T23:06:13.109Z",
          "partnerTopicFriendlyDescription": "Example description",
          "messageForActivation": "Example message for activation"
        }
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceGroupNotFound",
          "message": "Resource group 'examplerg' could not be found."
        }
      }
    }
  ],
  "Variables": {}
}
