{
  "Entries": [
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem176841421552806217?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE53982D23A147\"",
        "Last-Modified": "Wed, 14 Jan 2026 18:10:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem176841421552806217/file0176841421886005560?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE53982D32582C\"",
        "Last-Modified": "Wed, 14 Jan 2026 18:10:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem176841421552806217/file0176841421886005560?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "134128878194104728",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem176841421552806217?restype=container&comp=list&showonly=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakedefssoftdeleteaccountname.blob.core.windows.net/\" ContainerName=\"filesystem176841421552806217\"><Blobs><Blob><Name>file0176841421886005560</Name><DeletionId>134128878194104728</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Wed, 14 Jan 2026 18:10:19 GMT</Creation-Time><Last-Modified>Wed, 14 Jan 2026 18:10:19 GMT</Last-Modified><Expiry-Time>Wed, 21 Jan 2026 18:10:19 GMT</Expiry-Time><Etag>0x8DE53982D32582C</Etag><ResourceType>file</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>AAAAAAAAAAA=</Content-CRC64><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted><DeletedTime>Wed, 14 Jan 2026 18:10:19 GMT</DeletedTime><RemainingRetentionDays>6</RemainingRetentionDays></Properties><OrMetadata /></Blob><Blob><Name>file1176841421894007542</Name><DeletionId>134128878195118500</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Wed, 14 Jan 2026 18:10:19 GMT</Creation-Time><Last-Modified>Wed, 14 Jan 2026 18:10:19 GMT</Last-Modified><Expiry-Time>Wed, 21 Jan 2026 18:10:19 GMT</Expiry-Time><Etag>0x8DE53982D3E75D4</Etag><ResourceType>file</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Cont[...]
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem176841421552806217?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0176841421886005560",
    "file1": "file1176841421894007542",
    "file2": "file2176841421901805651",
    "filesystem": "filesystem176841421552806217"
  }
}
