{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171619184342501978?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 07:57:23 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78A27AC4412C\"",
        "Last-Modified": "Mon, 20 May 2024 07:57:21 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619184342501978/file0171619184355302808?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 07:57:23 GMT",
        "x-ms-properties": "keya=YQ==,keyb=Yw==",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78A27AD7C438\"",
        "Last-Modified": "Mon, 20 May 2024 07:57:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619184342501978/file0171619184355302808?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 07:57:24 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133606654425589905",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171619184342501978?maxResults=2&restype=container&comp=list&showonly=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 07:57:24 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.blob.core.windows.net/\" ContainerName=\"filesystem171619184342501978\"><MaxResults>2</MaxResults><Blobs><Blob><Name>file0171619184355302808</Name><DeletionId>133606654425589905</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Mon, 20 May 2024 07:57:22 GMT</Creation-Time><Last-Modified>Mon, 20 May 2024 07:57:22 GMT</Last-Modified><Expiry-Time>Mon, 27 May 2024 07:57:22 GMT</Expiry-Time><Etag>0x8DC78A27AD7C438</Etag><ResourceType>file</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>AAAAAAAAAAA=</Content-CRC64><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted><DeletedTime>Mon, 20 May 2024 07:57:22 GMT</DeletedTime><RemainingRetentionDays>6</RemainingRetentionDays></Properties><OrMetadata /></Blob><Blob><Name>file1171619184367503123</Name><DeletionId>133606654427076839</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Mon, 20 May 2024 07:57:22 GMT</Creation-Time><Last-Modified>Mon, 20 May 2024 07:57:22 GMT</Last-Modified><Expiry-Time>Mon, 27 May 2024 07:57:22 GMT</Expiry-Time><Etag>0x8DC78A27AE9959B</Etag><ResourceType>file</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>AAAAAAAAAAA=</Content-CRC64><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted><DeletedTime>Mon, 20 May 2024 07:57:22 GMT</DeletedTime><RemainingRetentionDays>6</RemainingRetentionDays></Properties><OrMetadata /></Blob></Blobs><NextMarker>2!348!MDAwMjE2IVZCYm91ZW5ieWEvejkyRVlrUUVZaXdFdlpXMXRZV1oxYkd4MFpYTjBaR3NCTURGRVFUaERRVVk0TmpreFFURXpNUzhrZEhKaGMyZ3ZabWxzWlhONWMzUmxiVEUzTVRZeE9URTRORE0wTWpVd01UazNPQUV3TVVSQlFVRTRRalU0TkVSQk9VUkRBaTltYVd4bE1qRTNNVFl4T1RFNE5ETTNPVEV3TkRZNE5RRXlNREkwTFRBMUxUSXdWREEzT2pVM09qSXlMamcwTlRZd056RmFGZ0FBQUE9PSEwMDAwMjghMjAyNC0wNS0yMFQwNzo1NzoyMy4xMjg1OTcwWiE-</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171619184342501978?maxResults=2&restype=container&comp=list&marker=2!348!MDAwMjE2IVZCYm91ZW5ieWEvejkyRVlrUUVZaXdFdlpXMXRZV1oxYkd4MFpYTjBaR3NCTURGRVFUaERRVVk0TmpreFFURXpNUzhrZEhKaGMyZ3ZabWxzWlhONWMzUmxiVEUzTVRZeE9URTRORE0wTWpVd01UazNPQUV3TVVSQlFVRTRRalU0TkVSQk9VUkRBaTltYVd4bE1qRTNNVFl4T1RFNE5ETTNPVEV3TkRZNE5RRXlNREkwTFRBMUxUSXdWREEzT2pVM09qSXlMamcwTlRZd056RmFGZ0FBQUE9PSEwMDAwMjghMjAyNC0wNS0yMFQwNzo1NzoyMy4xMjg1OTcwWiE-&showonly=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 07:57:24 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.blob.core.windows.net/\" ContainerName=\"filesystem171619184342501978\"><Marker>2!348!MDAwMjE2IVZCYm91ZW5ieWEvejkyRVlrUUVZaXdFdlpXMXRZV1oxYkd4MFpYTjBaR3NCTURGRVFUaERRVVk0TmpreFFURXpNUzhrZEhKaGMyZ3ZabWxzWlhONWMzUmxiVEUzTVRZeE9URTRORE0wTWpVd01UazNPQUV3TVVSQlFVRTRRalU0TkVSQk9VUkRBaTltYVd4bE1qRTNNVFl4T1RFNE5ETTNPVEV3TkRZNE5RRXlNREkwTFRBMUxUSXdWREEzT2pVM09qSXlMamcwTlRZd056RmFGZ0FBQUE9PSEwMDAwMjghMjAyNC0wNS0yMFQwNzo1NzoyMy4xMjg1OTcwWiE-</Marker><MaxResults>2</MaxResults><Blobs><Blob><Name>file2171619184379104685</Name><DeletionId>133606654428456071</DeletionId><Deleted>true</Dele[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171619184342501978?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 07:57:25 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0171619184355302808",
    "file1": "file1171619184367503123",
    "file2": "file2171619184379104685",
    "file3": "file3171619184390708039",
    "filesystem": "filesystem171619184342501978"
  }
}
