{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273901148006571?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:51 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA3551A8F7B5F\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:16:51 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273901148006571/file169273901157404533?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:51 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA3551A9E96B5\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:16:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273901148006571/file169273901157404533?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:51 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133372126117993854",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273901148006571/file169273901157404533?comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:51 GMT",
        "x-ms-undelete-source": "?deletionid=133372126117993854",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-creation-time": "Tue, 22 Aug 2023 21:16:51 GMT",
        "x-ms-resource-type": "file",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273901148006571/file169273901157404533",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:51 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBA3551A9E96B5\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:16:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 22 Aug 2023 21:16:51 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273901148006571/directory169273901214408475?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:52 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA3551AF47035\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:16:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273901148006571/directory169273901214408475?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:52 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133372126123472868",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273901148006571/directory169273901214408475?comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:52 GMT",
        "x-ms-undelete-source": "?deletionid=133372126123472868",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-creation-time": "Tue, 22 Aug 2023 21:16:52 GMT",
        "x-ms-resource-type": "directory",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273901148006571/directory169273901214408475",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:52 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBA3551AF47035\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:16:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 22 Aug 2023 21:16:52 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273901148006571?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 22 Aug 2023 21:16:52 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "directory": "directory169273901214408475",
    "file": "file169273901157404533",
    "filesystem": "filesystem169273901148006571"
  }
}
