{
  "Entries": [
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem176841420476703841?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5398277547DD\"",
        "Last-Modified": "Wed, 14 Jan 2026 18:10:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem176841420476703841/file0176841420954904915?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5398278521E8\"",
        "Last-Modified": "Wed, 14 Jan 2026 18:10:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem176841420476703841/file0176841420954904915?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "134128878098936544",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem176841420476703841?restype=container&comp=list&showonly=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakedefssoftdeleteaccountname.blob.core.windows.net/\" ContainerName=\"filesystem176841420476703841\"><Blobs><Blob><Name>file0176841420954904915</Name><DeletionId>134128878098936544</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Wed, 14 Jan 2026 18:10:09 GMT</Creation-Time><Last-Modified>Wed, 14 Jan 2026 18:10:09 GMT</Last-Modified><Expiry-Time>Wed, 21 Jan 2026 18:10:09 GMT</Expiry-Time><Etag>0x8DE5398278521E8</Etag><ResourceType>file</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>AAAAAAAAAAA=</Content-CRC64><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted><DeletedTime>Wed, 14 Jan 2026 18:10:09 GMT</DeletedTime><RemainingRetentionDays>6</RemainingRetentionDays></Properties><OrMetadata /></Blob><Blob><Name>file1176841420963507511</Name><DeletionId>134128878100901628</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Wed, 14 Jan 2026 18:10:09 GMT</Creation-Time><Last-Modified>Wed, 14 Jan 2026 18:10:09 GMT</Last-Modified><Expiry-Time>Wed, 21 Jan 2026 18:10:10 GMT</Expiry-Time><Etag>0x8DE53982791821C</Etag><ResourceType>file</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Cont[...]
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem176841420476703841?resource=filesystem&recursive=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "134128878100097404",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "51291b7b-d07c-424e-b934-042c148c6a56",
            "lastModified": "Wed, 14 Jan 2026 18:10:10 GMT",
            "name": "file0176841420954904915",
            "owner": "51291b7b-d07c-424e-b934-042c148c6a56",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "134128878101892732",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "51291b7b-d07c-424e-b934-042c148c6a56",
            "lastModified": "Wed, 14 Jan 2026 18:10:10 GMT",
            "name": "file1176841420963507511",
            "owner": "51291b7b-d07c-424e-b934-042c148c6a56",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "134128878103584076",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "51291b7b-d07c-424e-b934-042c148c6a56",
            "lastModified": "Wed, 14 Jan 2026 18:10:10 GMT",
            "name": "file2176841420972105386",
            "owner": "51291b7b-d07c-424e-b934-042c148c6a56",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem176841420476703841?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0176841420954904915",
    "file1": "file1176841420963507511",
    "file2": "file2176841420972105386",
    "filesystem": "filesystem176841420476703841"
  }
}
