{
  "Entries": [
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem177334530649609498?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE807142C69722\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:55:07 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem177334530649609498/file0177334530739503239?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE807142D9B9F4\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:55:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem177334530649609498/file0177334530739503239?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "134178189077097788",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem177334530649609498?restype=container&comp=list&showonly=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakedefssoftdeleteaccountname.blob.core.windows.net/\" ContainerName=\"filesystem177334530649609498\"><Blobs><Blob><Name>file0177334530739503239</Name><DeletionId>134178189077097788</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Thu, 12 Mar 2026 19:55:07 GMT</Creation-Time><Last-Modified>Thu, 12 Mar 2026 19:55:07 GMT</Last-Modified><Expiry-Time>Thu, 19 Mar 2026 19:55:07 GMT</Expiry-Time><Etag>0x8DE807142D9B9F4</Etag><ResourceType>file</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>AAAAAAAAAAA=</Content-CRC64><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted><DeletedTime>Thu, 12 Mar 2026 19:55:07 GMT</DeletedTime><RemainingRetentionDays>6</RemainingRetentionDays></Properties><OrMetadata /></Blob><Blob><Name>file1177334530748303281</Name><DeletionId>134178189079197908</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Thu, 12 Mar 2026 19:55:07 GMT</Creation-Time><Last-Modified>Thu, 12 Mar 2026 19:55:07 GMT</Last-Modified><Expiry-Time>Thu, 19 Mar 2026 19:55:07 GMT</Expiry-Time><Etag>0x8DE807142E8E4F8</Etag><ResourceType>file</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Cont[...]
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem177334530649609498?resource=filesystem&recursive=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "134178189078459624",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "51291b7b-d07c-424e-b934-042c148c6a56",
            "lastModified": "Thu, 12 Mar 2026 19:55:07 GMT",
            "name": "file0177334530739503239",
            "owner": "51291b7b-d07c-424e-b934-042c148c6a56",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "134178189080185896",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "51291b7b-d07c-424e-b934-042c148c6a56",
            "lastModified": "Thu, 12 Mar 2026 19:55:08 GMT",
            "name": "file1177334530748303281",
            "owner": "51291b7b-d07c-424e-b934-042c148c6a56",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "134178189082081712",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "51291b7b-d07c-424e-b934-042c148c6a56",
            "lastModified": "Thu, 12 Mar 2026 19:55:08 GMT",
            "name": "file2177334530757907093",
            "owner": "51291b7b-d07c-424e-b934-042c148c6a56",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem177334530649609498?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0177334530739503239",
    "file1": "file1177334530748303281",
    "file2": "file2177334530757907093",
    "filesystem": "filesystem177334530649609498"
  }
}
