{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/SSS3PT_rg-alzimmer?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-alzimmer",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Owners": "alzimmer",
          "DeleteAfter": "2026-04-13T19:58:52.1460418Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-alzimmer/providers/Microsoft.Web/sites?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "1ba2b35d-fa32-4079-bc3a-882719135be3",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-alzimmer/providers/Microsoft.Web/sites/Sanitized-webapp",
            "name": "Sanitized",
            "type": "Microsoft.Web/sites",
            "kind": "app",
            "location": "West US 2",
            "properties": {
              "name": "Sanitized",
              "state": "Running",
              "hostNames": [
                "Sanitized-webapp.azurewebsites.net"
              ],
              "webSpace": "SSS3PT_rg-alzimmer-WestUS2webspace",
              "selfLink": "https://waws-prod-mwh-061.api.azurewebsites.windows.net:455/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/SSS3PT_rg-alzimmer-WestUS2webspace/sites/Sanitized-webapp",
              "repositorySiteName": "Sanitized-webapp",
              "owner": null,
              "usageState": "Normal",
              "enabled": true,
              "adminEnabled": true,
              "siteScopedCertificatesEnabled": false,
              "afdEnabled": false,
              "enabledHostNames": [
                "Sanitized-webapp.azurewebsites.net",
                "Sanitized-webapp.scm.azurewebsites.net"
              ],
              "siteProperties": {
                "metadata": null,
                "properties": [
                  {
                    "name": "Sanitized",
                    "value": ""
                  },
                  {
                    "name": "Sanitized",
                    "value": null
                  }
                ],
                "appSettings": null
              },
              "availabilityState": "Normal",
              "sslCertificates": null,
              "csrs": [],
              "cers": null,
              "siteMode": null,
              "hostNameSslStates": [
                {
                  "name": "Sanitized",
                  "sslState": "Disabled",
                  "ipBasedSslResult": null,
                  "virtualIP": null,
                  "virtualIPv6": null,
                  "thumbprint": null,
                  "certificateResourceId": null,
                  "toUpdate": null,
                  "toUpdateIpBasedSsl": null,
                  "ipBasedSslState": "NotConfigured",
                  "hostType": "Standard"
                },
                {
                  "name": "Sanitized",
                  "sslState": "Disabled",
                  "ipBasedSslResult": null,
                  "virtualIP": null,
                  "virtualIPv6": null,
                  "thumbprint": null,
                  "certificateResourceId": null,
                  "toUpdate": null,
                  "toUpdateIpBasedSsl": null,
                  "ipBasedSslState": "NotConfigured",
                  "hostType": "Repository"
                }
              ],
              "hostNamePrivateStates": [],
              "computeMode": null,
              "serverFarm": null,
              "serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-alzimmer/providers/Microsoft.Web/serverfarms/Sanitized-plan",
              "reserved": false,
              "isXenon": false,
              "hyperV": false,
              "sandboxType": null,
              "lastModifiedTimeUtc": "2026-04-08T20:07:10.7066667",
              "storageRecoveryDefaultState": "Running",
              "contentAvailabilityState": "Normal",
              "runtimeAvailabilityState": "Normal",
              "dnsConfiguration": {},
              "containerAllocationSubnet": null,
              "useContainerLocalhostBindings": null,
              "outboundVnetRouting": {
                "allTraffic": false,
                "applicationTraffic": false,
                "contentShareTraffic": false,
                "imagePullTraffic": false,
                "backupRestoreTraffic": false,
                "managedIdentityTraffic": false
              },
              "legacyServiceEndpointTrafficEvaluation": null,
              "siteConfig": {
                "numberOfWorkers": 1,
                "defaultDocuments": null,
                "netFrameworkVersion": null,
                "phpVersion": null,
                "pythonVersion": null,
                "nodeVersion": null,
                "powerShellVersion": null,
                "linuxFxVersion": "",
                "windowsFxVersion": null,
                "sandboxType": null,
                "windowsConfiguredStacks": null,
                "requestTracingEnabled": null,
                "remoteDebuggingEnabled": null,
                "remoteDebuggingVersion": null,
                "httpLoggingEnabled": null,
                "azureMonitorLogCategories": null,
                "acrUseManagedIdentityCreds": false,
                "acrUserManagedIdentityID": null,
                "logsDirectorySizeLimit": null,
                "detailedErrorLoggingEnabled": null,
                "publishingUsername": null,
                "publishingPassword": null,
                "appSettings": null,
                "metadata": null,
                "connectionStrings": null,
                "machineKey": null,
                "handlerMappings": null,
                "documentRoot": null,
                "scmType": null,
                "use32BitWorkerProcess": null,
                "webSocketsEnabled": null,
                "alwaysOn": false,
                "javaVersion": null,
                "javaContainer": null,
                "javaContainerVersion": null,
                "appCommandLine": null,
                "managedPipelineMode": null,
                "virtualApplications": null,
                "winAuthAdminState": null,
                "winAuthTenantState": null,
                "customAppPoolIdentityAdminState": null,
                "customAppPoolIdentityTenantState": null,
                "runtimeADUser": null,
                "runtimeADUserPassword": null,
                "loadBalancing": null,
                "routingRules": null,
                "experiments": null,
                "limits": null,
                "autoHealEnabled": null,
                "autoHealRules": null,
                "tracingOptions": null,
                "vnetName": null,
                "vnetRouteAllEnabled": null,
                "vnetPrivatePortsCount": null,
                "publicNetworkAccess": null,
                "cors": null,
                "push": null,
                "apiDefinition": null,
                "apiManagementConfig": null,
                "autoSwapSlotName": null,
                "localMySqlEnabled": null,
                "managedServiceIdentityId": null,
                "xManagedServiceIdentityId": null,
                "keyVaultReferenceIdentity": null,
                "ipSecurityRestrictions": null,
                "ipSecurityRestrictionsDefaultAction": null,
                "scmIpSecurityRestrictions": null,
                "scmIpSecurityRestrictionsDefaultAction": null,
                "scmIpSecurityRestrictionsUseMain": null,
                "http20Enabled": false,
                "minTlsVersion": null,
                "minTlsCipherSuite": null,
                "scmMinTlsCipherSuite": null,
                "supportedTlsCipherSuites": null,
                "scmSupportedTlsCipherSuites": null,
                "scmMinTlsVersion": null,
                "ftpsState": null,
                "preWarmedInstanceCount": null,
                "functionAppScaleLimit": 0,
                "elasticWebAppScaleLimit": null,
                "healthCheckPath": null,
                "fileChangeAuditEnabled": null,
                "functionsRuntimeScaleMonitoringEnabled": null,
                "websiteTimeZone": null,
                "minimumElasticInstanceCount": 1,
                "azureStorageAccounts": null,
                "http20ProxyFlag": null,
                "sitePort": null,
                "antivirusScanEnabled": null,
                "storageType": null,
                "sitePrivateLinkHostEnabled": null,
                "clusteringEnabled": false,
                "webJobsEnabled": false
              },
              "functionAppConfig": null,
              "daprConfig": null,
              "aiIntegration": null,
              "deploymentId": "Sanitized-webapp",
              "slotName": null,
              "trafficManagerHostNames": null,
              "sku": "Standard",
              "scmSiteAlsoStopped": false,
              "targetSwapSlot": null,
              "hostingEnvironment": null,
              "hostingEnvironmentProfile": null,
              "clientAffinityEnabled": true,
              "clientAffinityProxyEnabled": false,
              "useQueryStringAffinity": false,
              "blockPathTraversal": false,
              "clientCertEnabled": false,
              "clientCertMode": "Required",
              "clientCertExclusionPaths": null,
              "clientCertExclusionEndPoints": null,
              "hostNamesDisabled": false,
              "ipMode": "IPv4",
              "domainVerificationIdentifiers": null,
              "customDomainVerificationId": "66B450D1C01C0DBF95CCAFD98F73407E29EE110F23977426F6B4A678E0B25E27",
              "kind": "app",
              "managedEnvironmentId": null,
              "workloadProfileName": null,
              "resourceConfig": null,
              "inboundIpAddress": "20.42.128.100",
              "possibleInboundIpAddresses": "20.42.128.100",
              "inboundIpv6Address": "2603:1030:c06:6::12",
              "possibleInboundIpv6Addresses": "2603:1030:c06:6::12",
              "ftpUsername": "Sanitized-webapp\\$Sanitized-webapp",
              "ftpsHostName": "ftps://waws-prod-mwh-061.ftp.azurewebsites.windows.net/site/wwwroot",
              "outboundIpAddresses": "51.143.55.39,40.91.85.48,52.137.107.211,52.137.111.136,52.137.97.150,52.149.21.162,20.42.128.100",
              "possibleOutboundIpAddresses": "51.143.55.39,40.91.85.48,52.137.107.211,52.137.111.136,52.137.97.150,52.149.21.162,20.64.128.172,52.149.22.186,52.149.22.222,52.149.48.191,52.149.49.91,52.149.49.133,52.149.51.112,52.149.52.146,52.156.145.152,52.156.146.94,52.156.147.11,52.156.147.81,52.156.149.147,52.156.151.6,52.156.151.123,51.143.112.201,52.156.98.99,52.149.54.52,52.149.53.150,52.156.149.179,52.156.98.116,52.156.100.175,20.72.200.111,20.72.200.183,20.72.200.202,20.42.128.100",
              "outboundIpv6Addresses": "2603:1030:c02:9::574,2603:1030:c02:9::5a3,2603:1030:c02:8::396,2603:1030:c02:8::3b2,2603:1030:c02:9::5a4,2603:1030:c02:9::5a5,2603:1030:c06:6::12,2603:10e1:100:2::142a:8064,2603:1030:c06:7::40,2603:10e1:100:2::1473:f714",
              "possibleOutboundIpv6Addresses": "2603:1030:c02:9::574,2603:1030:c02:9::5a3,2603:1030:c02:8::396,2603:1030:c02:8::3b2,2603:1030:c02:9::5a4,2603:1030:c02:9::5a5,2603:1030:c02:8::4eb,2603:1030:c02:9::5a6,2603:1030:c02:8::5a2,2603:1030:c02:9::5a7,2603:1030:c02:9::5a8,2603:1030:c02:9::5a9,2603:1030:c02:8::5a3,2603:1030:c02:9::5aa,2603:1030:c02:9::5ab,2603:1030:c02:8::5a4,2603:1030:c02:8::5a5,2603:1030:c02:9::5ac,2603:1030:c02:8::5a6,2603:1030:c02:8::5a7,2603:1030:c02:9::5ad,2603:1030:c02:9::5ae,2603:1030:c02:9::5af,2603:1030:c02:8::5a8,2603:1030:c02:8::5a9,2603:1030:c02:9::5b0,2603:1030:c02:8::5aa,2603:1030:c02:8::5ab,2603:1030:c02:8::5ac,2603:1030:c02:9::5b1,2603:1030:c06:6::12,2603:10e1:100:2::142a:8064,2603:1030:c06:7::40,2603:10e1:100:2::1473:f714",
              "containerSize": 0,
              "dailyMemoryTimeQuota": 0,
              "suspendedTill": null,
              "siteDisabledReason": 0,
              "functionExecutionUnitsCache": null,
              "maxNumberOfWorkers": null,
              "homeStamp": "waws-prod-mwh-061",
              "cloningInfo": null,
              "hostingEnvironmentId": null,
              "tags": null,
              "resourceGroup": "Sanitized",
              "defaultHostName": "Sanitized-webapp.azurewebsites.net",
              "slotSwapStatus": null,
              "httpsOnly": false,
              "endToEndEncryptionEnabled": false,
              "functionsRuntimeAdminIsolationEnabled": false,
              "redundancyMode": "None",
              "inProgressOperationId": null,
              "geoDistributions": null,
              "privateEndpointConnections": null,
              "publicNetworkAccess": "Enabled",
              "buildVersion": null,
              "targetBuildVersion": null,
              "migrationState": null,
              "eligibleLogCategories": "AppServiceAppLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServicePlatformLogs,ScanLogs,AppServiceAuthenticationLogs,AppServiceAuditLogs,AppServiceIPSecAuditLogs",
              "inFlightFeatures": null,
              "storageAccountRequired": false,
              "virtualNetworkSubnetId": null,
              "keyVaultReferenceIdentity": "SystemAssigned",
              "autoGeneratedDomainNameLabelScope": null,
              "privateLinkIdentifiers": null,
              "sshEnabled": null,
              "maintenanceEnabled": false
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "resourceGroupName": "SSS3PT_rg-alzimmer",
    "webappName": "te0575e1f35e9796f-webapp"
  }
}
