{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/sites?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "6754c6dd-c304-42c2-bf36-5da50ae78a42",
          "ae54ca62-e9f3-477d-bd2c-3a69f5e2f35d",
          "0901ec86-7c75-4860-97da-2849eaa294e0",
          "6af12c25-0003-4624-9ab6-94b0cff26678"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-t62101e9c61ab4a92/providers/Microsoft.Web/sites/t62101e9c61ab4a92-func",
            "name": "Sanitized",
            "type": "Microsoft.Web/sites",
            "kind": "functionapp",
            "location": "West US",
            "properties": {
              "name": "Sanitized",
              "state": "Running",
              "hostNames": [
                "t62101e9c61ab4a92-func.azurewebsites.net"
              ],
              "webSpace": "SSS3PT_rg-t62101e9c61ab4a92-WestUSwebspace",
              "selfLink": "https://waws-prod-bay-237.api.azurewebsites.windows.net:455/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/SSS3PT_rg-t62101e9c61ab4a92-WestUSwebspace/sites/t62101e9c61ab4a92-func",
              "repositorySiteName": "t62101e9c61ab4a92-func",
              "owner": null,
              "usageState": "Normal",
              "enabled": true,
              "adminEnabled": true,
              "siteScopedCertificatesEnabled": false,
              "afdEnabled": false,
              "enabledHostNames": [
                "t62101e9c61ab4a92-func.azurewebsites.net",
                "t62101e9c61ab4a92-func.scm.azurewebsites.net"
              ],
              "siteProperties": {
                "metadata": null,
                "properties": [
                  {
                    "name": "Sanitized",
                    "value": ""
                  },
                  {
                    "name": "Sanitized",
                    "value": null
                  }
                ],
                "appSettings": null
              },
              "availabilityState": "Normal",
              "sslCertificates": null,
              "csrs": [],
              "cers": null,
              "siteMode": null,
              "hostNameSslStates": [
                {
                  "name": "Sanitized",
                  "sslState": "Disabled",
                  "ipBasedSslResult": null,
                  "virtualIP": null,
                  "virtualIPv6": null,
                  "thumbprint": null,
                  "certificateResourceId": null,
                  "toUpdate": null,
                  "toUpdateIpBasedSsl": null,
                  "ipBasedSslState": "NotConfigured",
                  "hostType": "Standard"
                },
                {
                  "name": "Sanitized",
                  "sslState": "Disabled",
                  "ipBasedSslResult": null,
                  "virtualIP": null,
                  "virtualIPv6": null,
                  "thumbprint": null,
                  "certificateResourceId": null,
                  "toUpdate": null,
                  "toUpdateIpBasedSsl": null,
                  "ipBasedSslState": "NotConfigured",
                  "hostType": "Repository"
                }
              ],
              "hostNamePrivateStates": [],
              "computeMode": null,
              "serverFarm": null,
              "serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-t62101e9c61ab4a92/providers/Microsoft.Web/serverfarms/t62101e9c61ab4a92-plan",
              "reserved": false,
              "isXenon": false,
              "hyperV": false,
              "sandboxType": null,
              "lastModifiedTimeUtc": "2026-04-08T20:02:05.27",
              "storageRecoveryDefaultState": "Running",
              "contentAvailabilityState": "Normal",
              "runtimeAvailabilityState": "Normal",
              "secretsCollection": [],
              "dnsConfiguration": {},
              "vnetRouteAllEnabled": false,
              "containerAllocationSubnet": null,
              "useContainerLocalhostBindings": null,
              "vnetImagePullEnabled": false,
              "vnetContentShareEnabled": false,
              "outboundVnetRouting": {
                "allTraffic": false,
                "applicationTraffic": false,
                "contentShareTraffic": false,
                "imagePullTraffic": false,
                "backupRestoreTraffic": false,
                "managedIdentityTraffic": false
              },
              "legacyServiceEndpointTrafficEvaluation": false,
              "siteConfig": {
                "numberOfWorkers": 1,
                "defaultDocuments": null,
                "netFrameworkVersion": null,
                "phpVersion": null,
                "pythonVersion": null,
                "nodeVersion": null,
                "powerShellVersion": null,
                "linuxFxVersion": "",
                "windowsFxVersion": null,
                "sandboxType": null,
                "windowsConfiguredStacks": null,
                "requestTracingEnabled": null,
                "remoteDebuggingEnabled": null,
                "remoteDebuggingVersion": null,
                "httpLoggingEnabled": null,
                "azureMonitorLogCategories": null,
                "acrUseManagedIdentityCreds": false,
                "acrUserManagedIdentityID": null,
                "logsDirectorySizeLimit": null,
                "detailedErrorLoggingEnabled": null,
                "publishingUsername": null,
                "publishingPassword": null,
                "appSettings": null,
                "metadata": null,
                "connectionStrings": null,
                "machineKey": null,
                "handlerMappings": null,
                "documentRoot": null,
                "scmType": null,
                "use32BitWorkerProcess": null,
                "webSocketsEnabled": null,
                "alwaysOn": false,
                "javaVersion": null,
                "javaContainer": null,
                "javaContainerVersion": null,
                "appCommandLine": null,
                "managedPipelineMode": null,
                "virtualApplications": null,
                "winAuthAdminState": null,
                "winAuthTenantState": null,
                "customAppPoolIdentityAdminState": null,
                "customAppPoolIdentityTenantState": null,
                "runtimeADUser": null,
                "runtimeADUserPassword": null,
                "loadBalancing": null,
                "routingRules": null,
                "experiments": null,
                "limits": null,
                "autoHealEnabled": null,
                "autoHealRules": null,
                "tracingOptions": null,
                "vnetName": null,
                "vnetRouteAllEnabled": null,
                "vnetPrivatePortsCount": null,
                "publicNetworkAccess": null,
                "cors": null,
                "push": null,
                "apiDefinition": null,
                "apiManagementConfig": null,
                "autoSwapSlotName": null,
                "localMySqlEnabled": null,
                "managedServiceIdentityId": null,
                "xManagedServiceIdentityId": null,
                "keyVaultReferenceIdentity": null,
                "ipSecurityRestrictions": null,
                "ipSecurityRestrictionsDefaultAction": null,
                "scmIpSecurityRestrictions": null,
                "scmIpSecurityRestrictionsDefaultAction": null,
                "scmIpSecurityRestrictionsUseMain": null,
                "http20Enabled": false,
                "minTlsVersion": null,
                "minTlsCipherSuite": null,
                "scmMinTlsCipherSuite": null,
                "supportedTlsCipherSuites": null,
                "scmSupportedTlsCipherSuites": null,
                "scmMinTlsVersion": null,
                "ftpsState": null,
                "preWarmedInstanceCount": null,
                "functionAppScaleLimit": 200,
                "elasticWebAppScaleLimit": null,
                "healthCheckPath": null,
                "fileChangeAuditEnabled": null,
                "functionsRuntimeScaleMonitoringEnabled": null,
                "websiteTimeZone": null,
                "minimumElasticInstanceCount": 0,
                "azureStorageAccounts": null,
                "http20ProxyFlag": null,
                "sitePort": null,
                "antivirusScanEnabled": null,
                "storageType": null,
                "sitePrivateLinkHostEnabled": null,
                "clusteringEnabled": false,
                "webJobsEnabled": false
              },
              "functionAppConfig": null,
              "daprConfig": null,
              "deploymentId": "t62101e9c61ab4a92-func",
              "slotName": null,
              "trafficManagerHostNames": null,
              "sku": "Dynamic",
              "scmSiteAlsoStopped": false,
              "targetSwapSlot": null,
              "hostingEnvironment": null,
              "hostingEnvironmentProfile": null,
              "clientAffinityEnabled": false,
              "clientAffinityProxyEnabled": false,
              "useQueryStringAffinity": false,
              "blockPathTraversal": false,
              "clientCertEnabled": false,
              "clientCertMode": "Required",
              "clientCertExclusionPaths": null,
              "clientCertExclusionEndPoints": null,
              "hostNamesDisabled": false,
              "ipMode": "IPv4",
              "vnetBackupRestoreEnabled": false,
              "domainVerificationIdentifiers": null,
              "customDomainVerificationId": "66B450D1C01C0DBF95CCAFD98F73407E29EE110F23977426F6B4A678E0B25E27",
              "kind": "functionapp",
              "managedEnvironmentId": null,
              "workloadProfileName": null,
              "resourceConfig": null,
              "inboundIpAddress": "40.112.243.74",
              "possibleInboundIpAddresses": "40.112.243.74",
              "inboundIpv6Address": "2603:1030:a07:6::a",
              "possibleInboundIpv6Addresses": "2603:1030:a07:6::a",
              "ftpUsername": "t62101e9c61ab4a92-func\\$t62101e9c61ab4a92-func",
              "ftpsHostName": "ftps://waws-prod-bay-237.ftp.azurewebsites.windows.net/site/wwwroot",
              "outboundIpAddresses": "20.66.38.222,20.66.33.251,20.66.38.242,20.66.15.208,20.253.248.17,20.253.248.249,20.253.254.101,20.253.254.165,20.237.194.89,20.237.206.36,20.253.255.26,20.245.13.39,20.253.252.148,20.245.84.100,20.245.84.242,20.245.85.50,20.253.175.143,20.245.85.134,40.112.243.74",
              "possibleOutboundIpAddresses": "20.66.38.222,20.66.33.251,20.66.38.242,20.66.15.208,20.253.248.17,20.253.248.249,20.253.254.101,20.253.254.165,20.237.194.89,20.237.206.36,20.253.255.26,20.245.13.39,20.253.252.148,20.245.84.100,20.245.84.242,20.245.85.50,20.253.175.143,20.245.85.134,40.125.45.216,20.66.38.241,20.66.38.229,20.253.250.34,20.253.250.149,20.253.251.64,20.237.192.217,20.237.194.29,20.253.168.140,20.253.131.124,20.228.120.47,20.253.250.207,20.253.253.80,20.253.135.130,20.253.253.163,20.253.135.252,20.253.135.246,20.237.198.27,20.66.35.36,20.245.83.77,20.245.85.197,20.245.85.203,20.245.86.13,20.245.86.30,20.245.86.50,40.112.243.74",
              "outboundIpv6Addresses": "2603:1030:a04:c::502,2603:1030:a04:14::4ab,2a01:111:f100:3001::a83e:6cb,2603:1030:a04:f::4ae,2603:1030:a02::378,2603:1030:a04:10::4d7,2603:1030:a04:10::4e1,2603:1030:a04:14::4bd,2603:1030:a04:10::4e4,2603:1030:a04:c::51c,2a01:111:f100:3002::8987:2be8,2603:1030:a04:13::566,2603:1030:a04:f::4c0,2603:1030:a04:10::4e7,2603:1030:a02::446,2603:1030:a04:13::56a,2603:1030:a04:e::55e,2603:1030:a02:9::39d,2603:1030:a07:6::a,2603:10e1:100:2::2870:f34a",
              "possibleOutboundIpv6Addresses": "2603:1030:a04:c::502,2603:1030:a04:14::4ab,2a01:111:f100:3001::a83e:6cb,2603:1030:a04:f::4ae,2603:1030:a02::378,2603:1030:a04:10::4d7,2603:1030:a04:10::4e1,2603:1030:a04:14::4bd,2603:1030:a04:10::4e4,2603:1030:a04:c::51c,2a01:111:f100:3002::8987:2be8,2603:1030:a04:13::566,2603:1030:a04:f::4c0,2603:1030:a04:10::4e7,2603:1030:a02::446,2603:1030:a04:13::56a,2603:1030:a04:e::55e,2603:1030:a02:9::39d,2603:1030:a04:e::54c,2603:1030:a04:13::554,2a01:111:f100:3001::a83e:6d6,2603:1030:a04:10::4d9,2603:1030:a04:13::557,2603:1030:a04:10::4da,2a01:111:f100:3002::8987:2bc8,2603:1030:a04:13::55a,2603:1030:a04:13::25e,2603:1030:a04:13::55c,2603:1030:a04:14::4b7,2603:1030:a02::37e,2603:1030:a04:c::514,2603:1030:a04:10::4dd,2603:1030:a04:10::4df,2603:1030:a04:e::554,2603:1030:a04:c::519,2603:1030:a04:c::51a,2603:1030:a04:c::51f,2a01:111:f100:3001::a83e:70c,2603:1030:a04:13::56c,2603:1030:a02::448,2a01:111:f100:3002::8987:2c8a,2603:1030:a02:9::39e,2603:1030:a07:6::a,2603:10e1:100:2::2870:f34a",
              "containerSize": 1536,
              "dailyMemoryTimeQuota": 0,
              "suspendedTill": null,
              "siteDisabledReason": 0,
              "functionExecutionUnitsCache": null,
              "maxNumberOfWorkers": null,
              "homeStamp": "waws-prod-bay-237",
              "cloningInfo": null,
              "hostingEnvironmentId": null,
              "tags": null,
              "resourceGroup": "Sanitized",
              "defaultHostName": "t62101e9c61ab4a92-func.azurewebsites.net",
              "slotSwapStatus": null,
              "httpsOnly": true,
              "endToEndEncryptionEnabled": false,
              "functionsRuntimeAdminIsolationEnabled": false,
              "redundancyMode": "None",
              "inProgressOperationId": null,
              "geoDistributions": null,
              "privateEndpointConnections": null,
              "publicNetworkAccess": null,
              "buildVersion": null,
              "targetBuildVersion": null,
              "migrationState": null,
              "eligibleLogCategories": "FunctionAppLogs,AppServiceAuthenticationLogs,AppServiceAuditLogs,AppServiceIPSecAuditLogs",
              "inFlightFeatures": null,
              "storageAccountRequired": false,
              "virtualNetworkSubnetId": null,
              "keyVaultReferenceIdentity": "SystemAssigned",
              "autoGeneratedDomainNameLabelScope": null,
              "privateLinkIdentifiers": null,
              "sshEnabled": null
            }
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-t7f66a64ef9d34095/providers/Microsoft.Web/sites/t7f66a64ef9d34095-func",
            "name": "Sanitized",
            "type": "Microsoft.Web/sites",
            "kind": "functionapp",
            "location": "West US",
            "properties": {
              "name": "Sanitized",
              "state": "Running",
              "hostNames": [
              [...]
