{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-alzimmer/providers/Microsoft.Web/sites/Sanitized-webapp/detectors/Memoryusage?api-version=2025-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-app": "AzureMCP",
        "x-ms-client-version": "AppService.Client.Light"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-alzimmer/providers/Microsoft.Web/sites/Sanitized-webapp/detectors/Memoryusage",
        "name": "Sanitized",
        "type": "Microsoft.Web/sites/detectors",
        "location": "West US 2",
        "properties": {
          "metadata": {
            "id": "Memoryusage",
            "name": "Sanitized",
            "description": "Analyze High memory usage for your app and drill down further to identify app or process consuming high memory",
            "author": "",
            "category": "Availability and Performance",
            "supportTopicList": [
              {
                "id": "32581616",
                "pesId": "14748",
                "sapSupportTopicId": "f1b2e885-96b4-05a0-81e7-aa435ee07a99",
                "sapProductId": "1890289e-747c-7ef6-b4f5-b1dbb0bead28"
              }
            ],
            "analysisType": "appDownAnalysis,perfAnalysis",
            "typeId": "17bdaf1c-42fc-498b-8f8c-34b65dc3a5ad",
            "analysisTypes": [
              "appDownAnalysis",
              "perfAnalysis"
            ],
            "type": "Analysis",
            "score": 0
          },
          "dataset": [
            {
              "table": {
                "tableName": "",
                "columns": [
                  {
                    "columnName": "Markdown",
                    "dataType": "String",
                    "columnType": null
                  }
                ],
                "rows": [
                  [
                    "<a href='https://www.youtube.com/watch?v=lWeutt1GvRs'  target = '_blank'  style='color:#3c8dbc;border:1px solid #3c8dbc;text-align: center;border-radius:5px; padding:3px; align:center'><i aria-hidden='true' class='fa fa-video-camera'></i> Learn how to troubleshoot memory issues</a>"
                  ]
                ]
              },
              "renderingProperties": {
                "enableEmailButtons": false,
                "isContainerNeeded": false,
                "type": 9,
                "title": null,
                "description": null,
                "isVisible": true
              }
            },
            {
              "table": {
                "tableName": "",
                "columns": [],
                "rows": []
              },
              "renderingProperties": {
                "detectorIds": [
                  "ActiveSitesOnASP"
                ],
                "messageIfCritical": null,
                "additionalParams": "",
                "resourceUri": "",
                "disableCollapse": false,
                "type": 10,
                "title": null,
                "description": null,
                "isVisible": true
              }
            },
            {
              "table": {
                "tableName": "",
                "columns": [
                  {
                    "columnName": "Status",
                    "dataType": "String",
                    "columnType": null
                  },
                  {
                    "columnName": "Message",[...]
