{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#pools",
        "value": []
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "BulkAddTasks",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 0
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/BulkAddTasks",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEBF78B3D178C",
        "Last-Modified": "Thu, 04 Sep 2025 21:10:58 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/BulkAddTasks"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/BulkAddTasks?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEBF78B3D178C",
        "Last-Modified": "Thu, 04 Sep 2025 21:10:58 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "BulkAddTasks",
        "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/BulkAddTasks",
        "eTag": "0x8DDEBF78B3D178C",
        "lastModified": "2025-09-04T21:10:58.1964684Z",
        "creationTime": "2025-09-04T21:10:58.1964674Z",
        "state": "active",
        "stateTransitionTime": "2025-09-04T21:10:58.1964674Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-09-04T21:10:58.1964685Z",
        "vmSize": "standard_d1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        }
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/BulkAddTasks/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": []
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "batchJob1",
        "poolInfo": {
          "poolId": "BulkAddTasks"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEBF7918BB3F8",
        "Last-Modified": "Thu, 04 Sep 2025 21:11:08 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEBF7918BB3F8",
        "Last-Modified": "Thu, 04 Sep 2025 21:11:08 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#jobs/@Element",
        "id": "batchJob1",
        "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1",
        "eTag": "0x8DDEBF7918BB3F8",
        "lastModified": "2025-09-04T21:11:08.7779832Z",
        "creationTime": "2025-09-04T21:11:08.7629835Z",
        "state": "active",
        "stateTransitionTime": "2025-09-04T21:11:08.7779832Z",
        "priority": 0,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 0
        },
        "poolInfo": {
          "poolId": "BulkAddTasks"
        },
        "executionInfo": {
          "startTime": "2025-09-04T21:11:08.7779832Z",
          "poolId": "BulkAddTasks"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/addtaskcollection?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "value": [
          {
            "id": "Task1_900",
            "commandLine": "cmd /c echo Hello World"
          },
          {
            "id": "Task1_901",
            "commandLine": "cmd /c echo Hello World"
          },
          {
            "id": "Task1_902",
            "commandLine": "cmd /c echo Hello World"
          },
          {
            "id": "Task1_903",
            "commandLine": "cmd /c echo Hello World"
          },
          {
            "id": "Task1_904",
            "commandLine": "cmd /c echo Hello World"
          },
          {
            [...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/Task1_0?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEBF791F31E78",
        "Last-Modified": "Thu, 04 Sep 2025 21:11:09 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#tasks/@Element",
        "id": "Task1_0",
        "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/Task1_0",
        "eTag": "0x8DDEBF791F31E78",
        "creationTime": "2025-09-04T21:11:09.4557304Z",
        "lastModified": "2025-09-04T21:11:09.4557304Z",
        "state": "active",
        "stateTransitionTime": "2025-09-04T21:11:09.4557304Z",
        "commandLine": "cmd /c echo Hello World",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "retryCount": 0,
          "requeueCount": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/BulkAddTasks?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus2.batch.azure.com",
    "RandomSeed": "1989029172"
  }
}
