{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "TaskListSubTasks",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 3,
        "enableInterNodeCommunication": true,
        "taskSlotsPerNode": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEBF548580612",
        "Last-Modified": "Thu, 04 Sep 2025 20:54:46 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEBF548580612",
        "Last-Modified": "Thu, 04 Sep 2025 20:54:46 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "TaskListSubTasks",
        "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks",
        "eTag": "0x8DDEBF548580612",
        "lastModified": "2025-09-04T20:54:46.9721618Z",
        "creationTime": "2025-09-04T20:54:46.9721604Z",
        "state": "active",
        "stateTransitionTime": "2025-09-04T20:54:46.9721604Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-09-04T20:54:46.9721618Z",
        "vmSize": "standard_d1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 3,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": true,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        }
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_9d360a8e2079387b664976fc1f0c0e8b4258904d3afb45a4ab5237eabec9477b_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks/nodes/tvmps_9d360a8e2079387b664976fc1f0c0e8b4258904d3afb45a4ab5237eabec9477b_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-09-04T20:55:24.5217649Z",
            "allocationTime": "2025-09-04T20:55:23.4137628Z",
            "ipAddress": "10.0.0.6",
            "affinityId": "TVM:tvmps_9d360a8e2079387b664976fc1f0c0e8b4258904d3afb45a4ab5237eabec9477b_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_9f0c5174a2739b564c12875804d9c5b1a6bec4dc43151327f581e56f0326b1db_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks/nodes/tvmps_9f0c5174a2739b564c12875804d9c5b1a6bec4dc43151327f581e56f0326b1db_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-09-04T20:55:23.4137909Z",
            "allocat[...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_9d360a8e2079387b664976fc1f0c0e8b4258904d3afb45a4ab5237eabec9477b_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks/nodes/tvmps_9d360a8e2079387b664976fc1f0c0e8b4258904d3afb45a4ab5237eabec9477b_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-09-04T21:01:16.346573Z",
            "lastBootTime": "2025-09-04T21:01:11.86205Z",
            "allocationTime": "2025-09-04T20:55:23.4137628Z",
            "ipAddress": "10.0.0.6",
            "affinityId": "TVM:tvmps_9d360a8e2079387b664976fc1f0c0e8b4258904d3afb45a4ab5237eabec9477b_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-09-04T21:01:11.86205Z",
              "version": "1.12.24"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_9f0c5174a2739b564c12875804d9c5b1a6bec4dc43[...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "batchJob1",
        "poolInfo": {
          "poolId": "TaskListSubTasks"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEBF664635BE9",
        "Last-Modified": "Thu, 04 Sep 2025 21:02:43 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEBF664635BE9",
        "Last-Modified": "Thu, 04 Sep 2025 21:02:43 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#jobs/@Element",
        "id": "batchJob1",
        "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1",
        "eTag": "0x8DDEBF664635BE9",
        "lastModified": "2025-09-04T21:02:43.5193833Z",
        "creationTime": "2025-09-04T21:02:43.5033897Z",
        "state": "active",
        "stateTransitionTime": "2025-09-04T21:02:43.5193833Z",
        "priority": 0,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 0
        },
        "poolInfo": {
          "poolId": "TaskListSubTasks"
        },
        "executionInfo": {
          "startTime": "2025-09-04T21:02:43.5193833Z",
          "poolId": "TaskListSubTasks"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "Task1",
        "commandLine": "cmd /c echo Hello World",
        "requiredSlots": 1,
        "multiInstanceSettings": {
          "numberOfInstances": 1,
          "coordinationCommandLine": "cmd /c echo Hello World"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/Task1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEBF6648893E7",
        "Last-Modified": "Thu, 04 Sep 2025 21:02:43 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/Task1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/Task1/subtasksinfo?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#subtaskinfo",
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus2.batch.azure.com",
    "RandomSeed": "1422726161"
  }
}
