{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#pools",
        "value": [
          {
            "id": "TaskListSubTasks",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks",
            "eTag": "0x8DD4814917BECD6",
            "lastModified": "2025-02-08T07:45:33.3842134Z",
            "creationTime": "2025-02-08T07:40:09.0465151Z",
            "state": "deleting",
            "stateTransitionTime": "2025-02-08T07:45:33.3842134Z",
            "allocationState": "resizing",
            "allocationStateTransitionTime": "2025-02-08T07:45:33.3954949Z",
            "vmSize": "standard_d1_v2",
            "resizeTimeout": "PT7M9.497S",
            "currentDedicatedNodes": 3,
            "targetDedicatedNodes": 0,
            "currentLowPriorityNodes": 0,
            "targetLowPriorityNodes": 0,
            "enableAutoScale": false,
            "enableInterNodeCommunication": true,
            "certificateReferences": [],
            "taskSlotsPerNode": 1,
            "taskSchedulingPolicy": {
              "nodeFillType": "Spread"
            },
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest"
              },
              "nodeAgentSKUId": "batch.node.windows amd64"
            },
            "currentNodeCommunicationMode": "classic"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "TaskUpdate",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 0
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskUpdate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD48149E4E2364",
        "Last-Modified": "Sat, 08 Feb 2025 07:45:54 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskUpdate"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskUpdate?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD48149E4E2364",
     [...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskUpdate/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": []
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "batchJob1",
        "poolInfo": {
          "poolId": "TaskUpdate"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD4814A48F561E",
        "Last-Modified": "Sat, 08 Feb 2025 07:46:05 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD4814A48F561E",
        "Last-Modified": "Sat, 08 Feb 2025 07:46:05 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#jobs/@Element",
        "id": "batchJob1",
        "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1",
        "eTag": "0x8DD4814A48F561E",
        "lastModified": "2025-02-08T07:46:05.3881374Z",
        "creationTime": "2025-02-08T07:46:05.3771375Z",
        "state": "active",
        "stateTransitionTime": "2025-02-08T07:46:05.3881374Z",
        "priority": 0,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 0
        },
        "poolInfo": {
          "poolId": "TaskUpdate"
        },
        "executionInfo": {
          "startTime": "2025-02-08T07:46:05.3881374Z",
          "poolId": "TaskUpdate"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "Task1",
        "commandLine": "cmd /c echo Hello World"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/Task1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD4814A4AC23DD",
        "Last-Modified": "Sat, 08 Feb 2025 07:46:05 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/Task1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#tasks",
        "value": [
          {
            "id": "Task1",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/Task1",
            "eTag": "0x8DD4814A4AC23DD",
            "creationTime": "2025-02-08T07:46:05.5769053Z",
            "lastModified": "2025-02-08T07:46:05.5769053Z",
            "state": "active",
            "stateTransitionTime": "2025-02-08T07:46:05.5769053Z",
            "commandLine": "cmd /c echo Hello World",
            "userIdentity": {
              "autoUser": {
                "scope": "pool",
                "elevationLevel": "nonadmin"
              }
            },
            "constraints": {
              "maxWallClockTime": "P10675199DT2H48M5.4775807S",
              "retentionTime": "P7D",
              "maxTaskRetryCount": 0
            },
            "requiredSlots": 1,
            "executionInfo": {
              "retryCount": 0,
              "requeueCount": 0
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/Task1?api-version=2024-07-01.20.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "constraints": {
          "maxTaskRetryCount": 3
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/Task1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD4814A4CF63A0",
        "Last-Modified": "Sat, 08 Feb 2025 07:46:05 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskUpdate?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus2.batch.azure.com",
    "RandomSeed": "45233377"
  }
}
