{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "TaskListSubTasks",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 3,
        "enableInterNodeCommunication": true,
        "taskSlotsPerNode": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/TaskListSubTasks",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCE7C7E07AC9E4",
        "Last-Modified": "Tue, 08 Oct 2024 18:34:43 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/TaskListSubTasks"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/TaskListSubTasks?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCE7C7E07AC9E4",
        "Last-Modified": "Tue, 08 Oct 2024 18:34:43 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "TaskListSubTasks",
        "url": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/TaskListSubTasks",
        "eTag": "0x8DCE7C7E07AC9E4",
        "lastModified": "2024-10-08T18:34:43.0419428Z",
        "creationTime": "2024-10-08T18:34:43.0419411Z",
        "state": "active",
        "stateTransitionTime": "2024-10-08T18:34:43.0419411Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2024-10-08T18:34:43.0419428Z",
        "vmSize": "standard_d1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 3,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": true,
        "certificateReferences": [],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        }
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/TaskListSubTasks/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_3591065ef0f9ff30c41f6b1a533afa6d8f9badc7e1e61f97a76882ec08687b91_d",
            "url": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/TaskListSubTasks/nodes/tvmps_3591065ef0f9ff30c41f6b1a533afa6d8f9badc7e1e61f97a76882ec08687b91_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-10-08T18:35:19.5734454Z",
            "allocationTime": "2024-10-08T18:35:19.573446Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_3591065ef0f9ff30c41f6b1a533afa6d8f9badc7e1e61f97a76882ec08687b91_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_4f8ae77e5357f2739b925c82041d1fb19cbd8039e68b6e5133b751764a2155b6_d",
            "url": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/TaskListSubTasks/nodes/tvmps_4f8ae77e5357f2739b925c82041d1fb19cbd8039e68b6e5133b751764a2155b6_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-10-08T18:35:19.5734349Z",
            "allocati[...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/TaskListSubTasks/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_3591065ef0f9ff30c41f6b1a533afa6d8f9badc7e1e61f97a76882ec08687b91_d",
            "url": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/TaskListSubTasks/nodes/tvmps_3591065ef0f9ff30c41f6b1a533afa6d8f9badc7e1e61f97a76882ec08687b91_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2024-10-08T18:39:25.318528Z",
            "lastBootTime": "2024-10-08T18:39:17.490338Z",
            "allocationTime": "2024-10-08T18:35:19.573446Z",
            "ipAddress": "10.0.0.5",
            "affinityId": "TVM:tvmps_3591065ef0f9ff30c41f6b1a533afa6d8f9badc7e1e61f97a76882ec08687b91_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "nodeAgentInfo": {
              "lastUpdateTime": "2024-10-08T18:39:17.490338Z",
              "version": "1.12.4"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_4f8ae77e5357f2739b925c82041d1fb19cbd8039e6[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "batchJob1",
        "poolInfo": {
          "poolId": "TaskListSubTasks"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCE7C88969AE71",
        "Last-Modified": "Tue, 08 Oct 2024 18:39:26 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/jobs/batchJob1?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCE7C88969AE71",
        "Last-Modified": "Tue, 08 Oct 2024 18:39:26 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/$metadata#jobs/@Element",
        "id": "batchJob1",
        "url": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/jobs/batchJob1",
        "eTag": "0x8DCE7C88969AE71",
        "lastModified": "2024-10-08T18:39:26.4647793Z",
        "creationTime": "2024-10-08T18:39:26.449778Z",
        "state": "active",
        "stateTransitionTime": "2024-10-08T18:39:26.4647793Z",
        "priority": 0,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 0
        },
        "poolInfo": {
          "poolId": "TaskListSubTasks"
        },
        "executionInfo": {
          "startTime": "2024-10-08T18:39:26.4647793Z",
          "poolId": "TaskListSubTasks"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/jobs/batchJob1/tasks?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "Task1",
        "commandLine": "cmd /c echo Hello World",
        "requiredSlots": 1,
        "multiInstanceSettings": {
          "numberOfInstances": 1,
          "coordinationCommandLine": "cmd /c echo Hello World"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/jobs/batchJob1/tasks/Task1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DCE7C8898CF0A1",
        "Last-Modified": "Tue, 08 Oct 2024 18:39:26 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/jobs/batchJob1/tasks/Task1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/jobs/batchJob1/tasks/Task1/subtasksinfo?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/$metadata#subtaskinfo",
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus.batch.azure.com/pools/TaskListSubTasks?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus.batch.azure.com",
    "RandomSeed": "624161520"
  }
}
