{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "TaskListSubTasks",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 3,
        "enableInterNodeCommunication": true,
        "taskSlotsPerNode": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD4810B19F2ED0",
        "Last-Modified": "Sat, 08 Feb 2025 07:17:49 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD4810B19F2ED0",
        "Last-Modified": "Sat, 08 Feb 2025 07:17:49 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "TaskListSubTasks",
        "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks",
        "eTag": "0x8DD4810B19F2ED0",
        "lastModified": "2025-02-08T07:17:49.3154512Z",
        "creationTime": "2025-02-08T07:17:49.3154501Z",
        "state": "active",
        "stateTransitionTime": "2025-02-08T07:17:49.3154501Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-02-08T07:17:49.3154512Z",
        "vmSize": "standard_d1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 3,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": true,
        "certificateReferences": [],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        }
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_bdc1fefab7e6f3b470b48b297a4d4fb6161ba76fcaf48bf87421ece4faff68cd_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks/nodes/tvmps_bdc1fefab7e6f3b470b48b297a4d4fb6161ba76fcaf48bf87421ece4faff68cd_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-02-08T07:18:22.2324699Z",
            "allocationTime": "2025-02-08T07:18:21.1474498Z",
            "ipAddress": "10.0.0.6",
            "affinityId": "TVM:tvmps_bdc1fefab7e6f3b470b48b297a4d4fb6161ba76fcaf48bf87421ece4faff68cd_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_d797a24e6f18b2d29db3b4ed6570ed649deadb5c772b6a6585a86d7f499a0cec_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks/nodes/tvmps_d797a24e6f18b2d29db3b4ed6570ed649deadb5c772b6a6585a86d7f499a0cec_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-02-08T07:18:22.2304684Z",
            "allocat[...]
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_bdc1fefab7e6f3b470b48b297a4d4fb6161ba76fcaf48bf87421ece4faff68cd_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks/nodes/tvmps_bdc1fefab7e6f3b470b48b297a4d4fb6161ba76fcaf48bf87421ece4faff68cd_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-02-08T07:22:00.635313Z",
            "lastBootTime": "2025-02-08T07:21:54.471824Z",
            "allocationTime": "2025-02-08T07:18:21.1474498Z",
            "ipAddress": "10.0.0.6",
            "affinityId": "TVM:tvmps_bdc1fefab7e6f3b470b48b297a4d4fb6161ba76fcaf48bf87421ece4faff68cd_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-02-08T07:21:54.471824Z",
              "version": "1.12.7"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          },
          {
            "id": "tvmps_d797a24e6f18b2d29db3b4ed6570ed649deadb5c77[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "batchJob1",
        "poolInfo": {
          "poolId": "TaskListSubTasks"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD481148801A72",
        "Last-Modified": "Sat, 08 Feb 2025 07:22:02 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD481148801A72",
        "Last-Modified": "Sat, 08 Feb 2025 07:22:02 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#jobs/@Element",
        "id": "batchJob1",
        "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1",
        "eTag": "0x8DD481148801A72",
        "lastModified": "2025-02-08T07:22:02.4477298Z",
        "creationTime": "2025-02-08T07:22:02.4367333Z",
        "state": "active",
        "stateTransitionTime": "2025-02-08T07:22:02.4477298Z",
        "priority": 0,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 0
        },
        "poolInfo": {
          "poolId": "TaskListSubTasks"
        },
        "executionInfo": {
          "startTime": "2025-02-08T07:22:02.4477298Z",
          "poolId": "TaskListSubTasks"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "Task1",
        "commandLine": "cmd /c echo Hello World",
        "requiredSlots": 1,
        "multiInstanceSettings": {
          "numberOfInstances": 1,
          "coordinationCommandLine": "cmd /c echo Hello World"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/Task1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD481148A161BD",
        "Last-Modified": "Sat, 08 Feb 2025 07:22:02 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/Task1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/Task1/subtasksinfo?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#subtaskinfo",
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/TaskListSubTasks?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus2.batch.azure.com",
    "RandomSeed": "464856423"
  }
}
