{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=latest",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "65",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "f32d8d1f-49bf-42eb-bfa4-492d0de052e6",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.286"
      },
      "ResponseBody": {
        "id": "thread_t8Ql0knoXPxKR4JMTjehyeub",
        "object": "thread",
        "created_at": 1743718787,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_t8Ql0knoXPxKR4JMTjehyeub/messages?api-version=latest",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "88",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "4f825200-9f2f-4b19-a7bb-e6a0e0396620",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.345"
      },
      "ResponseBody": {
        "id": "msg_qhwOrfVkTkSSjTjiTxCKz3gt",
        "object": "thread.message",
        "created_at": 1743718787,
        "assistant_id": null,
        "thread_id": "thread_t8Ql0knoXPxKR4JMTjehyeub",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_t8Ql0knoXPxKR4JMTjehyeub/messages/msg_qhwOrfVkTkSSjTjiTxCKz3gt?api-version=latest",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "74",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "21d8a40e-46f5-483b-966c-2cd904adcbee",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.316"
      },
      "ResponseBody": {
        "id": "msg_qhwOrfVkTkSSjTjiTxCKz3gt",
        "object": "thread.message",
        "created_at": 1743718787,
        "assistant_id": null,
        "thread_id": "thread_t8Ql0knoXPxKR4JMTjehyeub",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_t8Ql0knoXPxKR4JMTjehyeub/messages/msg_qhwOrfVkTkSSjTjiTxCKz3gt?api-version=latest",
      "RequestMethod": "GET",
      "RequestHeaders": {
  [...]
