{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=latest",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "24",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "626aaef5-0b88-441b-ade3-070645737e72",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.291"
      },
      "ResponseBody": {
        "id": "thread_Ht347UVJmGzMs95FTXI0YDd4",
        "object": "thread",
        "created_at": 1743718780,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_Ht347UVJmGzMs95FTXI0YDd4/messages?api-version=latest",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "87",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "9087f4e9-2c67-456f-8215-5de99336f947",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.312"
      },
      "ResponseBody": {
        "id": "msg_bHCh6xp6rTTVUTWm8InyjLTO",
        "object": "thread.message",
        "created_at": 1743718781,
        "assistant_id": null,
        "thread_id": "thread_Ht347UVJmGzMs95FTXI0YDd4",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_Ht347UVJmGzMs95FTXI0YDd4/messages/msg_bHCh6xp6rTTVUTWm8InyjLTO?api-version=latest",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "29",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "a9c1b624-f6d8-438b-9dec-c21af76f0313",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.258"
      },
      "ResponseBody": {
        "id": "msg_bHCh6xp6rTTVUTWm8InyjLTO",
        "object": "thread.message",
        "created_at": 1743718781,
        "assistant_id": null,
        "thread_id": "thread_Ht347UVJmGzMs95FTXI0YDd4",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_Ht347UVJmGzMs95FTXI0YDd4/messages/msg_bHCh6xp6rTTVUTWm8InyjLTO?api-version=latest",
      "RequestMethod": "GET",
      "RequestHeaders": {
  [...]
