{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "65",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "ecadc7de-8abe-4bf9-b912-2f00e06c54fe",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.333"
      },
      "ResponseBody": {
        "id": "thread_AJpDF7AQWWZkGjJNRHlCIzZd",
        "object": "thread",
        "created_at": 1744170336,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_AJpDF7AQWWZkGjJNRHlCIzZd/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "85",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "0c1874c1-d0c9-4df2-8ae5-fceff9a68982",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.335"
      },
      "ResponseBody": {
        "id": "msg_FTzqRbxsmyBkdalnQOTXQx7B",
        "object": "thread.message",
        "created_at": 1744170336,
        "assistant_id": null,
        "thread_id": "thread_AJpDF7AQWWZkGjJNRHlCIzZd",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_AJpDF7AQWWZkGjJNRHlCIzZd/messages/msg_FTzqRbxsmyBkdalnQOTXQx7B?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "Req[...]
