{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/assistants?api-version=2025-05-15-preview&limit=100",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "714",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "a508c737-d47c-4d66-82a1-7302bdb25cb7",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.979"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "asst_fCCoGbEniJSn1wz0TgG1xOD9",
            "object": "assistant",
            "created_at": 1744170534,
            "name": "SDK Test Agent - Retrieval",
            "description": null,
            "model": "gpt-4",
            "instructions": "You are a helpful agent that can help fetch data from files you know about.",
            "tools": [],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {},
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_meKGs7d1JYGQzFoDyHP7NQhE",
            "object": "assistant",
            "created_at": 1744170524,
            "name": "SDK Test Agent - Retrieval",
            "description": null,
            "model": "gpt-4",
            "instructions": "You are a helpful agent that can help fetch data from files you know about.",
            "tools": [],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {},
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_HM1jVldP5Kiq6HyyrfQPHCvd",
            "object": "assistant",
            "created_at": 1744170484,
            "name": "SDK Test Agent - Retrieval",
            "description": null,
            "model": "gpt-4",
            "instructions": "You are a helpful agent that can help fetch data from files you know about.",
            "tools": [
              {
                "type": "file_search"
              }
            ],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {
              "file_search": {
                "vector_store_ids": []
              }
            },
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_F565JamDEZurGgE8VdMm5lhz",
            "object": "assistant",
            "created_at": 1744170459,
            "name": "SDK Test Agent - Retrieval",
            "description": null,
            "model": "gpt-4",
            "instructions": "You are a helpful agent that can help fetch data from files you know about.",
            "too[...]
