{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "69",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "b04fc2f8-bfed-4ca1-9a01-42e6db2568bf",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.345"
      },
      "ResponseBody": {
        "id": "thread_1R6rYlEe6cchYgst8iLMr2N6",
        "object": "thread",
        "created_at": 1744170999,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_1R6rYlEe6cchYgst8iLMr2N6/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "48",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "8de53b4c-3057-44ac-ac18-584af7cc27d9",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.277"
      },
      "ResponseBody": {
        "id": "msg_tqn7pAA5FNErbReCOSyzFUUF",
        "object": "thread.message",
        "created_at": 1744170999,
        "assistant_id": null,
        "thread_id": "thread_1R6rYlEe6cchYgst8iLMr2N6",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    }
  ],
  "Variables": {
    "PROJECT_CONNECTION_STRING": "westus.api.azureml.ms;b17253fa-f327-42d6-9686-f3e553e24763;nirovins-rg-eastus;nirovins-westus",
    "RandomSeed": "1713279183"
  }
}
