{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/assistants?api-version=2025-05-15-preview&limit=100",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "723",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "6b2b5082-81cc-4b6c-8d27-2c6f55b2e0b5",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.997"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "asst_uM3Zar66o9jdmEbrmRhwUrC9",
            "object": "assistant",
            "created_at": 1744171262,
            "name": "SDK Test Agent - Retrieval",
            "description": null,
            "model": "gpt-4",
            "instructions": "You are a helpful agent that can help fetch data from files you know about.",
            "tools": [],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {},
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_JYQaeOuPGqmBJrvgyZtIAPIJ",
            "object": "assistant",
            "created_at": 1744171253,
            "name": "SDK Test Agent - Retrieval",
            "description": null,
            "model": "gpt-4",
            "instructions": "You are a helpful agent that can help fetch data from files you know about.",
            "tools": [],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {},
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_YgzT3D5LOEFD8J0agMrIUObs",
            "object": "assistant",
            "created_at": 1744171231,
            "name": "SDK Test Agent - Retrieval",
            "description": null,
            "model": "gpt-4",
            "instructions": "You are a helpful agent that can help fetch data from files you know about.",
            "tools": [
              {
                "type": "file_search"
              }
            ],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {
              "file_search": {
                "vector_store_ids": []
              }
            },
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_XEy5TwRYwsFM9nKQEmmsXJry",
            "object": "assistant",
            "created_at": 1744171207,
            "name": "SDK Test Agent - Retrieval",
            "description": null,
            "model": "gpt-4",
            "instructions": "You are a helpful agent that can help fetch data from files you know about.",
            "too[...]
