{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "20",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "66e29ce0-5cf0-417a-9f24-dc27403f3e9e",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.362"
      },
      "ResponseBody": {
        "id": "thread_2wUtWfdc3ALAUooWrWbEsGen",
        "object": "thread",
        "created_at": 1744170702,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_2wUtWfdc3ALAUooWrWbEsGen/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "84",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "ed6aa3c4-f651-475f-afd8-085514e9edd4",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.324"
      },
      "ResponseBody": {
        "id": "msg_4aJn5Yj6EuNSCLwRc8GXDH8c",
        "object": "thread.message",
        "created_at": 1744170702,
        "assistant_id": null,
        "thread_id": "thread_2wUtWfdc3ALAUooWrWbEsGen",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_2wUtWfdc3ALAUooWrWbEsGen/messages/msg_4aJn5Yj6EuNSCLwRc8GXDH8c?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "73",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "7e6100df-a30c-41ff-92cc-f1fc48200340",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.303"
      },
      "ResponseBody": {
        "id": "msg_4aJn5Yj6EuNSCLwRc8GXDH8c",
        "object": "thread.message",
        "created_at": 1744170702,
        "assistant_id": null,
        "thread_id": "thread_2wUtWfdc3ALAUooWrWbEsGen",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_2wUtWfdc3ALAUooWrWbEsGen/messages/msg_4aJn5Yj6EuNSCLwRc8GXDH8c?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHea[...]
