{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Owners": "ankushb",
          "DeleteAfter": "2025-12-31T10:20:04.7538059Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8ea4846d-5bf8-4dec-8796-86866f139225",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "X-ServiceFabricRequestId": "abb9b537-68c0-41ae-8d0b-62c883ff29f2"
      },
      "ResponseBody": {
        "properties": {
          "storageSyncServiceStatus": 0,
          "incomingTrafficPolicy": "AllowAllTraffic",
          "privateEndpointConnections": [],
          "provisioningState": "Succeeded",
          "useIdentity": false,
          "lastWorkflowId": "storageSyncServices/Sanitized/workflows/3299bb21-a4bc-41ab-b546-038632d27f29",
          "lastOperationName": "IPatchStorageSyncServiceWorkflow2"
        },
        "location": "westus",
        "tags": {},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.StorageSync/storageSyncServices",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-12-26T21:01:13.1951838Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-12-30T22:20:14.2586299Z"
        }
      }
    }
  ],
  "Variables": {}
}
