{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Owners": "ankushb",
          "DeleteAfter": "2025-12-31T10:20:04.7538059Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "caf1e503-1e0f-4522-abb7-0860fe9d727f",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "X-ServiceFabricRequestId": "d0ffcd76-0e26-4530-84fa-757a4f12af32"
      },
      "ResponseBody": {
        "properties": {
          "storageSyncServiceStatus": 0,
          "incomingTrafficPolicy": "AllowAllTraffic",
          "privateEndpointConnections": [],
          "provisioningState": "Succeeded",
          "useIdentity": false,
          "lastWorkflowId": "storageSyncServices/Sanitized/workflows/3299bb21-a4bc-41ab-b546-038632d27f29",
          "lastOperationName": "IPatchStorageSyncServiceWorkflow2"
        },
        "location": "westus",
        "tags": {},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.StorageSync/storageSyncServices",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-12-26T21:01:13.1951838Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-12-30T22:20:14.2586299Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "03ffdd24-24ad-4752-971c-cd58cb94ed38",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "X-ServiceFabricRequestId": "e4d25a7f-78d7-4231-af24-5b758bcc9b90"
      },
      "ResponseBody": {
        "properties": {
          "syncGroupStatus": "0",
          "uniqueId": "3d95a050-eb14-4ce9-a4d2-660481fbc82f"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.StorageSync/storageSyncServices/syncGroups",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-12-30T22:20:25.2145665Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-12-30T22:20:25.2145665Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized/cloudEndpoints/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "85e97d34-e927-4fe7-9cfe-0c94c8f089b7",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "X-ServiceFabricRequestId": "2e376d45-8f70-471a-97dc-1b1c5a7969d3"
      },
      "ResponseBody": {
        "properties": {
          "storageAccountResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Storage/storageAccounts/sapskflkpwfkk6q",
          "azureFileShareName": "Sanitized-share",
          "storageAccountTenantId": "70a036f6-8e4d-4615-bad6-149c02e7720d",
          "partnershipId": "1|U0VSVkVSQVNTWU5DQ0xJRU5USEZTVjJ8M0Q5NUEwNTAtRUIxNC00Q0U5LUE0RDItNjYwNDgxRkJDODJGfEdFTkVSSUN8NDgwOUE4QzgtNjRGQi00QTc2LTk5ODMtRkE4QUJCNEYwOTY4",
          "friendlyName": "Sanitized",
          "backupEnabled": "false",
          "provisioningState": "Succeeded",
          "lastWorkflowId": "storageSyncServices/Sanitized/workflows/a4d8491c-a084-4730-bad8-7a1d18b3bc4f",
          "lastOperationName": "ICreateCloudEndpointWorkflow",
          "changeEnumerationStatus": {
            "lastUpdatedTimestamp": "2025-12-30T22:52:11.9167239Z",
            "lastEnumerationStatus": {
              "startedTimestamp": "2025-12-30T22:52:02.9112592Z",
              "completedTimestamp": "2025-12-30T22:52:03.1612494Z",
              "namespaceFilesCount": 0,
              "namespaceDirectoriesCount": 1,
              "namespaceSizeBytes": 0
            }
          }
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized/cloudEndpoints/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-12-30T22:51:53.0468482Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-12-30T22:51:53.0468482Z"
        }
      }
    }
  ],
  "Variables": {}
}
