{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Owners": "ankushb",
          "DeleteAfter": "2025-12-27T19:36:45.0211161Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b269f751-7441-4785-a83c-b8b8564e3683",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "X-ServiceFabricRequestId": "2ca593b4-9212-406c-9ddc-ddcd9d2862a8"
      },
      "ResponseBody": {
        "properties": {
          "storageSyncServiceStatus": 0,
          "incomingTrafficPolicy": "AllowAllTraffic",
          "privateEndpointConnections": [],
          "provisioningState": "Succeeded",
          "useIdentity": false,
          "lastWorkflowId": "storageSyncServices/Sanitized/workflows/1aec92a6-5627-4c2a-ab1c-1ac6fbdef545",
          "lastOperationName": "IPatchStorageSyncServiceWorkflow2"
        },
        "location": "westus",
        "tags": {},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.StorageSync/storageSyncServices",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-12-26T21:01:13.1951838Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-12-27T07:36:53.5678568Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized-sg?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8fff51ed-7818-4bc7-ae07-5c972c4f67cb",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "X-ServiceFabricRequestId": "3a302143-0413-4563-877c-ae4ec8ee4b43"
      },
      "ResponseBody": {
        "properties": {
          "syncGroupStatus": "0",
          "uniqueId": "abec3ca3-ca75-433a-8716-1f5fd485ddaa"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized-sg",
        "name": "Sanitized",
        "type": "Microsoft.StorageSync/storageSyncServices/syncGroups",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-12-26T21:01:39.3436219Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-12-27T07:37:04.7359453Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized-sg/cloudEndpoints/Sanitized-ce?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b6020b9e-5b29-4823-8d3a-80234776ea90",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "X-ServiceFabricRequestId": "30de981f-8d44-4289-b28c-7f666ea91249"
      },
      "ResponseBody": {
        "properties": {
          "storageAccountResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Storage/storageAccounts/sapskflkpwfkk6q",
          "azureFileShareName": "Sanitized-share",
          "storageAccountTenantId": "70a036f6-8e4d-4615-bad6-149c02e7720d",
          "partnershipId": "1|U0VSVkVSQVNTWU5DQ0xJRU5USEZTVjJ8QUJFQzNDQTMtQ0E3NS00MzNBLTg3MTYtMUY1RkQ0ODVEREFBfEdFTkVSSUN8NDgwOUE4QzgtNjRGQi00QTc2LTk5ODMtRkE4QUJCNEYwOTY4",
          "friendlyName": "Sanitized",
          "backupEnabled": "false",
          "provisioningState": "Succeeded",
          "lastWorkflowId": "storageSyncServices/Sanitized/workflows/fdc7c671-46c3-491d-b625-713ee22fea7b",
          "lastOperationName": "ICreateCloudEndpointWorkflow",
          "changeEnumerationStatus": {
            "lastUpdatedTimestamp": "2025-12-27T09:09:20.3882728Z",
            "lastEnumerationStatus": {
              "startedTimestamp": "2025-12-27T09:07:53.6549936Z",
              "completedTimestamp": "2025-12-27T09:07:53.8892671Z",
              "namespaceFilesCount": 0,
              "namespaceDirectoriesCount": 1,
              "namespaceSizeBytes": 0
            }
          }
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized-sg/cloudEndpoints/Sanitized-ce",
        "name": "Sanitized",
        "type": "Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-12-27T09:06:51.669002Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-12-27T09:06:51.669002Z"
        }
      }
    }
  ],
  "Variables": {}
}
