{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/SSS3PT_ankushb-Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_ankushb-Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "DeleteAfter": "2025-12-13T21:23:33.5285329Z",
          "Owners": "ankushb"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_ankushb-Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1e010f57-00e7-4dcd-aaaa-cf58516dfcd6",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "X-ServiceFabricRequestId": "ad224645-1638-4296-9df5-e5b1fbbcbd1a"
      },
      "ResponseBody": {
        "properties": {
          "storageSyncServiceStatus": 0,
          "incomingTrafficPolicy": "AllowAllTraffic",
          "privateEndpointConnections": [],
          "provisioningState": "Succeeded",
          "useIdentity": false,
          "lastWorkflowId": "storageSyncServices/Sanitized/workflows/b9082402-6384-4d79-9ce7-69837d62865e",
          "lastOperationName": "IPatchStorageSyncServiceWorkflow2"
        },
        "location": "westus",
        "tags": {},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_ankushb-Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.StorageSync/storageSyncServices",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-12-12T22:25:10.3788577Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-12-13T04:55:39.6442687Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_ankushb-Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized-sg?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d9e9f450-a98d-41a0-83de-2922b0f7bf87",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "X-ServiceFabricRequestId": "757e370e-9b2d-4500-8923-4cb6d50e0b69"
      },
      "ResponseBody": {
        "properties": {
          "syncGroupStatus": "0",
          "uniqueId": "e5351eeb-7df3-4524-ac94-52e88aab60a0"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_ankushb-Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized-sg",
        "name": "Sanitized",
        "type": "Microsoft.StorageSync/storageSyncServices/syncGroups",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-12-12T22:25:37.0283232Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-12-13T04:21:47.3035685Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_ankushb-Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized-sg/cloudEndpoints?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "01c5cf4a-1286-430a-b3c0-ce85a50b23bb",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "248",
        "X-ServiceFabricRequestId": "1a994c28-5f59-487d-86fd-118ecf9818e3"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "storageAccountResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_ankushb-Sanitized/providers/Microsoft.Storage/storageAccounts/Sanitized",
              "azureFileShareName": "Sanitized-share",
              "storageAccountTenantId": "70a036f6-8e4d-4615-bad6-149c02e7720d",
              "partnershipId": "1|U0VSVkVSQVNTWU5DQ0xJRU5USEZTVjJ8RTUzNTFFRUItN0RGMy00NTI0LUFDOTQtNTJFODhBQUI2MEEwfEdFTkVSSUN8MEVGOUIwRjQtRkVENi00NDg5LTlFRTQtQTNGMEJFMkY0N0FF",
              "friendlyName": "Sanitized",
              "backupEnabled": "false",
              "provisioningState": "Failed",
              "lastWorkflowId": "storageSyncServices/Sanitized/workflows/6995c30e-c628-46a4-a9a6-f918e243075f",
              "lastOperationName": "ICreateCloudEndpointWorkflow",
              "changeEnumerationStatus": {
                "lastUpdatedTimestamp": "2025-12-13T04:12:05.7583848Z",
                "lastEnumerationStatus": {
                  "startedTimestamp": "2025-12-13T04:11:32.5769122Z",
                  "completedTimestamp": "2025-12-13T04:11:32.889485Z",
                  "namespaceFilesCount": 0,
                  "namespaceDirectoriesCount": 1,
                  "namespaceSizeBytes": 0
                }
              }
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_ankushb-Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized-sg/cloudEndpoints/Sanitized-ce",
            "name": "Sanitized",
            "type": "Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints",
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2025-12-13T04:11:21.7493464Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2025-12-13T04:11:21.7493464Z"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
