{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Owners": "ankushb",
          "DeleteAfter": "2025-12-31T10:20:04.7538059Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a096a254-8234-4614-ba5d-da7f7837007e",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "248",
        "X-ServiceFabricRequestId": "9de82a02-bc84-47b7-b4d7-d8b93cccecc5"
      },
      "ResponseBody": {
        "properties": {
          "storageSyncServiceStatus": 0,
          "incomingTrafficPolicy": "AllowAllTraffic",
          "privateEndpointConnections": [],
          "provisioningState": "Succeeded",
          "useIdentity": false,
          "lastWorkflowId": "storageSyncServices/Sanitized/workflows/3299bb21-a4bc-41ab-b546-038632d27f29",
          "lastOperationName": "IPatchStorageSyncServiceWorkflow2"
        },
        "location": "westus",
        "tags": {},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.StorageSync/storageSyncServices",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-12-26T21:01:13.1951838Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-12-30T22:20:14.2586299Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d59ff690-b301-4ec2-bdbf-478fbed965b6",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3747",
        "x-ms-ratelimit-remaining-subscription-reads": "247",
        "X-ServiceFabricRequestId": "e3a7f8a9-8bfd-43dd-b8cb-5228a8634710"
      },
      "ResponseBody": {
        "properties": {
          "syncGroupStatus": "0",
          "uniqueId": "3d95a050-eb14-4ce9-a4d2-660481fbc82f"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.StorageSync/storageSyncServices/syncGroups",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-12-30T22:20:25.2145665Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-12-30T22:20:25.2145665Z"
        }
      }
    }
  ],
  "Variables": {}
}
