{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Owners": "ankushb",
          "DeleteAfter": "2025-12-31T10:20:04.7538059Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7ef0bf5b-0274-4c94-8986-ea8ab1e5e179",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "X-ServiceFabricRequestId": "6377385d-50ca-407f-84f9-c37681a1802b"
      },
      "ResponseBody": {
        "properties": {
          "storageSyncServiceStatus": 0,
          "incomingTrafficPolicy": "AllowAllTraffic",
          "privateEndpointConnections": [],
          "provisioningState": "Succeeded",
          "useIdentity": false,
          "lastWorkflowId": "storageSyncServices/Sanitized/workflows/3299bb21-a4bc-41ab-b546-038632d27f29",
          "lastOperationName": "IPatchStorageSyncServiceWorkflow2"
        },
        "location": "westus",
        "tags": {},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.StorageSync/storageSyncServices",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-12-26T21:01:13.1951838Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-12-30T22:20:14.2586299Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "95dd5c0c-d12c-4d3a-a026-1ec70a4236bd",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "X-ServiceFabricRequestId": "b75c12fb-b7a9-4004-920d-584eb83715c3"
      },
      "ResponseBody": {
        "properties": {
          "syncGroupStatus": "0",
          "uniqueId": "3d95a050-eb14-4ce9-a4d2-660481fbc82f"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.StorageSync/storageSyncServices/syncGroups",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-12-30T22:20:25.2145665Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-12-30T22:20:25.2145665Z"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/syncGroups/Sanitized/serverEndpoints?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f63c0b5c-70df-4c6a-9fde-e530510e22dd",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "248",
        "X-ServiceFabricRequestId": "65144f82-4cbd-46fe-9b1e-d6771a93381e"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "serverLocalPath": "D:\\Sanitized",
              "cloudTiering": "On",
              "volumeFreeSpacePercent": 20,
              "tierFilesOlderThanDays": 0,
              "friendlyName": "Sanitized",
              "serverResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.StorageSync/storageSyncServices/Sanitized/registeredServers/54fd58fc-0cb3-4291-8119-63909dd55dd4",
              "provisioningState": "Succeeded",
              "lastWorkflowId": "storageSyncServices/Sanitized/workflows/e198a8f8-b622-4ec8-aa72-83e627b77565",
              "lastOperationName": "IPatchServerEndpointWorkflow2",
              "syncStatus": {
                "downloadHealth": "Healthy",
                "uploadHealth": "Healthy",
                "combinedHealth": "Healthy",
                "totalPersistentFilesNotSyncingCount": 0,
                "lastUpdatedTimestamp": "2025-12-30T23:54:30.7469034Z",
                "uploadStatus": {
                  "lastSyncResult": 0,
                  "lastSyncTimestamp": "2025-12-30T23:54:22.5251018Z",
                  "lastSyncSuccessTimestamp": "2025-12-30T23:54:22.5251018Z",
                  "lastSyncPerItemErrorCount": 0,
                  "persistentFilesNotSyncingCount": 0,
                  "transientFilesNotSyncingCount": 0,
                  "lastSyncMode": "InitialUpload"
                },
                "downloadStatus": {
                  "lastSyncResult": 0,
                  "lastSyncTimestamp": "2025-12-30T23:54:30.7469034Z",
                  "lastSyncSuccessTimestamp": "2025-12-30T23:54:30.7469034Z",
                  "lastSyncPerItemErrorCount": 0,
                  "persistentFilesNotSyncingCount": 0,
                  "transientFilesNotSyncingCount": 0,
                  "lastSyncMode": "Regular"
                }
              },
              "cloudTieringStatus": {
                "lastUpdatedTimestamp": "2025-12-31T00:20:39.7620308Z",
                "health": "Healthy",
                "healthLastUpdatedTimestamp": "2025-12-31T00:20:39.7620308Z",
                "lastCloudTieringResult": 0,
                "lastSuccessTimestamp": "2025-12-31T00:17:39.7629581Z",
                "spaceSavings": {
                  "lastUpdatedTimestamp": "2025-12-30T23:55:08.9215156Z",
                  "volumeSizeBytes": 1101640857812,
                  "totalSizeCloudBytes": 20971520,
                  "cachedSizeBytes": 20971520,
                  "spaceSavingsPercent": 0,
                  "spaceSavingsBytes": 0
                },
                "volumeFreeSpacePolicyStatus": {
                  "lastUpdatedTimestamp": "2025-12-30T23:55:08.9215156Z",
                  "effectiveVolumeFreeSpacePolicy": 20,
                  "currentVolumeFreeSpacePercent": 54
                },
                "lowDiskMode": {
                  "lastUpdatedTimestamp": "2025-12-31T00:20:39.7620308Z",
                  "state": "Disabled"
                }
              },
              "recallStatus": {
                "lastUpdatedTimestamp": "2025-12-31T00:25:34.7077142Z",
                "totalRecallErrorsCount": 0,
                "recallErrors": []
              },
              "initialDownloadPolicy": "NamespaceThenModifiedFiles",
              "localCacheMode": "UpdateLocallyCachedFiles",
              "serverName": "ankushb-dev.redmond.corp.microsoft.com",
              "initialUploadPolicy": "Merge",
              "serverEndpointProvisioningStatus": {
                "provisioningStatus": "Ready_SyncFunctional",
                "provisioningType": "Merge",
                "provisioningStepStatuses": [
                  {
                    "name": "Sanitized",
                    "status": "Completed",
                    "minutesLeft": 0,
                    "progressPercentage": 100,
                    "errorCode": 0,
                    "additionalInformation": {
                      "processedFileCount": "0",
                      "processedDirectoryCount": "0",
                      "totalFileCount": "0",
                      "totalDirectoryCount": "0",
                      "totalSizeBytes": "0",
                      "isTotalFinal": "True"
                    }
                  },
                  {
                    "name": "Sanitized",
                    "status": "Completed",
                    "startTime": "2025-12-30T23:54:01.5317359Z",
                    "minutesLeft": 0,
                    "progressPercentage": 100,
                    "endTime": "2025-12-30T23:54:07.3310678Z",
                    "errorCode": 0,
                    "additionalInformation": {
                      "remainingFileCount": "0",
                      "remainingDirectoryCount": "0",
                      "remainingLogicalSizeBytes": "0",
                      "remainingDeleteCount": "0",
                      "isRemainingFinal": "True",
                      "recentItemsPerSecond": "0",
                      "recentMegabytesPerSecond": "0",
                      "recentProcessedItemCount": "1",
                      "recentTransferedMegabytes": "0",
                      "inProgressLargeFilePath": null,
                      "inProgressLargeFileSizeBytes": "0",
                      "inProgressLargeFilePercentComplete": "-1",
                      "isMetadataOnly": "True",
                      "warning": "NoWarning"
                    }
                  },
                  {
                    "name": "Sanitized",
                    "status": "Completed",
                    "startTime": "2025-12-30T23:54:17.2705983Z",
                    "minutesLeft": 0,
                    "progressPercentage": 100,
                    "endTime": "2025-12-30T23:54:22.6646562Z",
                    "errorCode": 0,
                    "additionalInformation": {
                      "remainingFileCount": [...]
