{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "45b60d85-fd72-427a-a708-f994d26e593e",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "AzureStorage_DMStaging_10041369",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourcegroups/teststorageActionRG-4737?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageActionRG-4737",
        "name": "teststorageActionRG-4737",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageActionRG-4737/providers/Microsoft.StorageActions/storageTasks/sdktest1434?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "enabled": true,
          "description": "My Storage task",
          "action": {
            "if": {
              "condition": "[[equals(AccessTier, 'Cool')]]",
              "operations": [
                {
                  "name": "DeleteBlob",
                  "onSuccess": "continue",
                  "onFailure": "break"
                }
              ]
            },
            "else": {
              "operations": [
                {
                  "name": "UndeleteBlob",
                  "onSuccess": "continue",
                  "onFailure": "break"
                },
                {
                  "name": "SetBlobTags",
                  "parameters": {
                    "tag1": "value1",
                    "tag2": "value2"
                  },
                  "onSuccess": "continue",
                  "onFailure": "break"
                },
                {
                  "name": "SetBlobTier",
                  "parameters": {
                    "tier": "Hot"
                  },
                  "onSuccess": "continue",
                  "onFailure": "break"
                },
                {
                  "name": "SetBlobLegalHold",
                  "parameters": {
                    "legalHold": "true"
                  },
                  "onSuccess": "continue",
                  "onFailure": "break"
                },
                {
                  "name": "SetBlobImmutabilityPolicy",
                  "parameters": {
                    "untilDate": "2025-07-01T01:01:01",
                    "mode": "locked"
                  },
                  "onSuccess": "continue",
                  "onFailure": "break"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.StorageActions/locations/eastus2euap/asyncoperations/cbd5dab2-711c-401e-a703-6b1904ca348e?monitor=true&api-version=2023-01-01&asynclink=true",
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.StorageActions/locations/eastus2euap/asyncoperations/cbd5dab2-711c-401e-a703-6b1904ca348e?monitor=true&api-version=2023-01-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.StorageActions/locations/eastus2euap/asyncoperations/cbd5dab2-711c-401e-a703-6b1904ca348e?monitor=true&api-version=2023-01-01&asynclink=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "startTime": "2025-04-17T08:47:21.8201273Z",
        "endTime": "2025-04-17T08:47:22.4607454Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageActionRG-4737/providers/Microsoft.StorageActions/storageTasks/sdktest1434?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageActionRG-4737/providers/Microsoft.StorageActions/storageTasks/sdktest1434",
        "name": "sdktest1434",
        "type": "Microsoft.StorageActions/storageTasks",
        "location": "eastus2euap",
        "identity": {
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "type": "SystemAssigned"
        },
        "properties": {
          "enabled": true,
          "description": "My Storage task",
          "action": {
            "if": {
              "condition": "[[equals(AccessTier, 'Cool')]]",
              "operations": [
                {
                  "name": "DeleteBlob",
                  "onSuccess": "continue",
                  "onF[...]
[...]
