{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "45b60d85-fd72-427a-a708-f994d26e593e",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "AzureStorage_DMStaging_10041369",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourcegroups/teststorageActionRG-3366?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageActionRG-3366",
        "name": "teststorageActionRG-3366",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageActionRG-3366/providers/Microsoft.StorageActions/storageTasks/sdktest11237?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "enabled": true,
          "description": "My Storage task1",
          "action": {
            "if": {
              "condition": "[[equals(AccessTier, 'Cool')]]",
              "operations": [
                {
                  "name": "UndeleteBlob",
                  "onSuccess": "continue",
                  "onFailure": "break"
                },
                {
                  "name": "SetBlobTags",
                  "parameters": {
                    "tag1": "value1",
                    "tag2": "value2"
                  },
                  "onSuccess": "continue",
                  "onFailure": "break"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.StorageActions/locations/eastus2euap/asyncoperations/41594d42-a68e-4f2d-b237-83a011b02e85?monitor=true&api-version=2023-01-01&asynclink=true",
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.StorageActions/locations/eastus2euap/asyncoperations/41594d42-a68e-4f2d-b237-83a011b02e85?monitor=true&api-version=2023-01-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.StorageActions/locations/eastus2euap/asyncoperations/41594d42-a68e-4f2d-b237-83a011b02e85?monitor=true&api-version=2023-01-01&asynclink=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "startTime": "2025-04-17T10:07:42.4556269Z",
        "endTime": "2025-04-17T10:07:42.9088437Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageActionRG-3366/providers/Microsoft.StorageActions/storageTasks/sdktest11237?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageActionRG-3366/providers/Microsoft.StorageActions/storageTasks/sdktest11237",
        "name": "sdktest11237",
        "type": "Microsoft.StorageActions/storageTasks",
        "location": "eastus2euap",
        "identity": {
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "type": "SystemAssigned"
        },
        "properties": {
          "enabled": true,
          "description": "My Storage task1",
          "action": {
            "if": {
              "condition": "[[equals(AccessTier, 'Cool')]]",
              "operations": [
                {
                  "name": "UndeleteBlob",
                  "onSuccess": "continue",
                  "onFailure": "break"
                },
                {
                  "name": "SetBlobTags",
                  "parameters": {
                    "tag1": "value1",
                    "tag2": "value2"
                  },
                  "onSuccess": "continue",
                  "onFailure": "break"
                }
              ]
            }
          },
          "taskVersion": 1,
          "provisioningState": "Succeeded",
          "creationTimeInUtc": "2025-04-17T10:07:42.4556269Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageActionRG-3366/providers/Microsoft.StorageActions/storageTasks/sdktest28271?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "enabled": true,
          "description": "My Storage task2",
          "action": {
            "if": {
              "condition": "[[equals(AccessTier, 'Cool')]]",
              "operations": [
                {
                  "name": "UndeleteBlob",
                  "onSuccess": "continue",
                  "onFailure": "break"
                },
                {
                  "name": "SetBlobTags",
                  "parameters": {
                    "tag1": "value1",
                    "tag2": "value2"
                  },
                  "onSuccess": "continue",
                  "onFailure": "break"
                }
              ]
            },
            "else": {
              "operations": [
                {
                  "name": "SetBlobTier",
                  "parameters": {
                    "tier": "Hot"
                  },
                  "onSuccess": "continue",
                  "onFailure": "break"
                },
                {
                  "name": "SetBlobImmutabilityPolicy",
                  "parameters": {
                    "untilDate": "2025-07-01T01:01:01",
                    "mode": "locked"
                  },
                  "onSuccess": "continue",
                  "onFailure": "break"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.StorageActions/locations/eastus2euap/asyncoperations/167a4c05-0321-4bee-b0af-5319e16637e6?monitor=true&api-version=2023-01-01&asynclink=true",
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.StorageActions/locations/eastus2euap/asyncoperations/167a4c05-0321-4bee-b0af-5319e16637e6?monitor=true&api-version=2023-01-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageActionRG-3366/providers/Microsoft.StorageActions/storageTasks?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "c0d855b0-a44c-44ae-ad04-9695acf31dce",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageActionRG-3366/providers/Microsoft.StorageActions/storageTasks/sdktest11237",
            "name": "sdktest11237",
            "type": "Microsoft.StorageActions/storageTasks",
            "location": "eastus2euap",
            "identity": {
              "principalId": "00000000-0000-0000-0000-000000000000",
              "tenantId": "00000000-0000-0000-0000-000000000000",
              [...]
[...]
