{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestdirectorypermission?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4BC149726\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestdirectorypermission/2rg1VqqNQt?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:03 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4BC437506\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:04 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:47:04.1992966Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:04.1992966Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-17T15:47:04.1992966Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14799134079974362488*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestdirectorypermission/iycjT55bRZ1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:04 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4BC71D14E\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:04 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:47:04.5031246Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:04.5031246Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-17T15:47:04.5031246Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5158782887679233604*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestdirectorypermission/Lc51WQ0aoI2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:04 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4BCA25028\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:04 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:47:04.8209448Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:04.8209448Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-06-17T15:47:04.8209448Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5158782887679233604*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestdirectorypermission/iycjT55bRZ1?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:04 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4BC71D14E\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:04 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:47:04.5031246Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:04.5031246Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-17T15:47:04.5031246Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5158782887679233604*11941910252504767217",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestdirectorypermission/EZpZoSyLX33?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission-key": "5158782887679233604*11941910252504767217",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4BD26882C\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:47:05.6874540Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:05.6874540Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-06-17T15:47:05.6874540Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5158782887679233604*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestdirectorypermission/y3T6KgbIxp4?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:06 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4BD8033EF\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:06 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:47:06.2751215Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:06.2751215Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-06-17T15:47:06.2751215Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14799134079974362488*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestdirectorypermission/ebKoBPKKpL5?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:06 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4BDACBBB9\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:06 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:47:06.5669561Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:06.5669561Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-06-17T15:47:06.5669561Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14799134079974362488*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestdirectorypermission/y3T6KgbIxp4?comp=properties&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:06 GMT",
        "x-ms-file-attributes": "Directory | NotContentIndexed",
        "x-ms-file-creation-time": "2024-06-17T15:47:06.0068778Z",
        "x-ms-file-last-write-time": "2024-06-17T15:47:06[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestdirectorypermission/ebKoBPKKpL5?comp=properties&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:06 GMT",
        "x-ms-file-attributes": "Directory | NotContentIndexed",
        "x-ms-file-creation-time": "2024-06-17T15:47:06.0068778Z",
        "x-ms-file-last-write-time": "2024-06-17T15:47:06[...]
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestdirectorypermission/LryrKZ5YMg6?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission-key": "179577412054814464*11941910252504767217",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4BE91CA66\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:47:08.0681062Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:08.0681062Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-06-17T15:47:08.0681062Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5158782887679233604*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestdirectorypermission?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:08 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
