{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatforcopy?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:29:12 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AEF88D7DD8\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:29:13 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatforcopy/kDWeOkT8i8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:29:13 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AEF8ADC888\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:29:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-04T05:29:13.6598152Z",
        "x-ms-file-creation-time": "2026-03-04T05:29:13.6598152Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-03-04T05:29:13.6598152Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14799134079974362488*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatforcopy/kDWeOkT8i8/bWRYHMJ7my",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 04 Mar 2026 05:29:13 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AEF8CD88F1\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:29:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-04T05:29:13.8679025Z",
        "x-ms-file-creation-time": "2026-03-04T05:29:13.8679025Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-03-04T05:29:13.8679025Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatforcopy/2ZdY8u6s0x1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "128",
        "x-ms-date": "Wed, 04 Mar 2026 05:29:14 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AEF8ED9739\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:29:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-04T05:29:14.0779833Z",
        "x-ms-file-creation-time": "2026-03-04T05:29:14.0779833Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-03-04T05:29:14.0779833Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatforcopy/jurvrivrxu",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:29:14 GMT",
        "x-ms-file-attributes": "source",
        "x-ms-file-creation-time": "source",
        "x-ms-file-last-write-time": "source",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-file-permission-format": "sddl",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AEF90DF32F\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:29:14 GMT",
        "x-ms-copy-id": "6624b445-3c3b-4aaa-9184-87a0e19f316c",
        "x-ms-copy-status": "success",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatforcopy/jurvrivrxu",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:29:14 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE79AEF90DF32F\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:29:14 GMT",
        "x-ms-copy-completion-time": "Wed, 04 Mar 2026 05:29:14 GMT",
        "x-ms-copy-id": "6624b445-3c3b-4aaa-9184-87a0e19f316c",
        "x-ms-copy-progress": "128/128",
        "x-ms-copy-source": "Sanitized",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-04T05:29:14.2900527Z",
        "x-ms-file-creation-time": "2026-03-04T05:29:14.0779833Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-03-04T05:29:14.0779833Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5158782887679233604*11941910252504767217",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatforcopy?comp=filepermission&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:29:14 GMT",
        "x-ms-file-permission-format": "sddl",
        "x-ms-file-permission-key": "5158782887679233604*11941910252504767217",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "format": "sddl"
      }
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatforcopy/WGX33MOSFV",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:29:14 GMT",
        "x-ms-file-attributes": "source",
        "x-ms-file-creation-time": "source",
        "x-ms-file-last-write-time": "source",
        "x-ms-file-permission": "AQAEgGwAAACIAAAAAAAAABQAAAACAFgAAwAAAAAAFAD/AR8AAQEAAAAAAAUSAAAAAAAYAP8BHwABAgAAAAAABSAAAAAgAgAAAAAkAKkAEgABBQAAAAAABRUAAABZUbgXZnJdJWRjOwuMmS4AAQUAAAAAAAUVAAAAoGXPfnhLm1/nfIdwr/1IAQEFAAAAAAAFFQAAAKBlz354S5tf53yHcAECAAA=",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-file-permission-format": "binary",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AEF96C5D5C\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:29:14 GMT",
        "x-ms-copy-id": "b0a18cd1-f75d-48e3-8947-b918e7271a5b",
        "x-ms-copy-status": "success",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatforcopy/iwJlwxamYv",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:29:15 GMT",
        "x-ms-file-attributes": "source",
        "x-ms-file-creation-time": "source",
        "x-ms-file-last-write-time": "source",
        "x-ms-file-permission-copy-mode": "source",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AEF9CA8E78\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:29:15 GMT",
        "x-ms-copy-id": "be81b09a-409c-4e89-acca-fe1895ce57bf",
        "x-ms-copy-status": "success",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatforcopy?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:29:16 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
