{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestallowtrailingdot?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:33:02 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E47F95345C\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:33:02 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestallowtrailingdot/JCEhPMeCss?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:33:03 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E47FC345BA\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:33:03 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T06:33:03.1592378Z",
        "x-ms-file-creation-time": "2024-12-10T06:33:03.1592378Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T06:33:03.1592378Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11903412958930568404*14837756684441293661",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestallowtrailingdot/hYTFG4uoAW.?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:33:03 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E48099A140\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:33:04 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T06:33:04.5640512Z",
        "x-ms-file-creation-time": "2024-12-10T06:33:04.5640512Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-10T06:33:04.5640512Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11903412958930568404*14837756684441293661",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestallowtrailingdot?comp=list&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:33:04 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://zchangfilepremiumcanary.file.core.windows.net/\" ShareName=\"filesharedirectoryclienttestallowtrailingdot\" DirectoryPath=\"\"><DirectoryId>0</DirectoryId><Entries><Directory><Name>hYTFG4uoAW</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>JCEhPMeCss</Name><FileId>13835128424026341376</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestallowtrailingdot/hYTFG4uoAW.?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:33:05 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E48099A140\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:33:04 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T06:33:04.5640512Z",
        "x-ms-file-creation-time": "2024-12-10T06:33:04.5640512Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-10T06:33:04.5640512Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11903412958930568404*14837756684441293661",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestallowtrailingdot/hYTFG4uoAW.?comp=listhandles",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:33:05 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults><Entries /><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestallowtrailingdot/hYTFG4uoAW.?comp=properties&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:33:05 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E481519A87\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:33:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T06:33:05.7697415Z",
        "x-ms-file-creation-time": "2024-12-10T06:33:04.5640512Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-10T06:33:04.5640512Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11903412958930568404*14837756684441293661",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestallowtrailingdot/hYTFG4uoAW.?comp=metadata&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:33:05 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-meta-metadwoor": "Yr0ZazY16W",
        "x-ms-meta-metafu9k3": "KMjofxVFGW",
        "x-ms-meta-metaqwm0f": "AooGIQUlIt",
        "x-ms-meta-metatwov1": "S5GHbMrxqj",
        "x-ms-meta-metaug9po": "ksW3AP6sBp",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E4817F2DF7\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:33:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestallowtrailingdot/hYTFG4uoAW.?comp=forceclosehandles",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:33:06 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-handle-id": "*",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-number-of-handles-closed": "0",
        "x-ms-number-of-handles-failed": "0",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestallowtrailingdot/hYTFG4uoAW.?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Tue, 10 Dec 2024 06:33:06 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E4820993D1\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:33:06 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T06:33:06.9754321Z",
        "x-ms-file-creation-time": "2024-12-10T06:33:06.9754321Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-12-10T06:33:06.9754321Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11903412958930568404*14837756684441293661",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestallowtrailingdot/hYTFG4uoAW.?comp=metadata&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Tue, 10 Dec 2024 06:33:08 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-meta-metaapusl": "CJOOVi5ZO9",
        "x-ms-meta-metalm2ho": "5CIuFB88Lw",
        "x-ms-meta-metat4gye": "D4UJLem8X9",
        "x-ms-meta-metaydogs": "zPEaAk0NSI",
        "x-ms-meta-metazl2pa": "kuUqrAqvCG",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E482ED74A6\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:33:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestallowtrailingdot/hYTFG4uoAW.?comp=metadata&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "false",
        "x-ms-date": "Tue, 10 Dec 2024 06:33:10 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-meta-metaeakco": "toryR8Kip7",
        "x-ms-meta-metagoq2b": "nUiby6aXIk",
        "x-ms-meta-metaoegk0": "NpScS1Hjw0",
        "x-ms-meta-metarbb9k": "RneYs7PVap",
        "x-ms-meta-metaslmwo": "k0ZVrxeScZ",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E484594D27\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:33:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestallowtrailingdot?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:33:11 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
