{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:13 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AD7C806CD3\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:18:35 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat/AY7OraSUxE?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:35 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AD7C9FBFAB\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:18:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-04T05:18:36.0336299Z",
        "x-ms-file-creation-time": "2026-03-04T05:18:36.0336299Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-03-04T05:18:36.0336299Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14799134079974362488*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat/udsgx1aary?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:36 GMT",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL",
        "x-ms-file-permission-format": "sddl",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AD7CBE6FE2\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:18:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-04T05:18:36.2347490Z",
        "x-ms-file-creation-time": "2026-03-04T05:18:36.2347490Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-03-04T05:18:36.2347490Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5158782887679233604*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat?comp=filepermission&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:36 GMT",
        "x-ms-file-permission-format": "sddl",
        "x-ms-file-permission-key": "5158782887679233604*11941910252504767217",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "format": "sddl"
      }
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat/AY7OraSUxE?comp=properties&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:36 GMT",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL",
        "x-ms-file-permission-format": "sddl",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AD7CFB7236\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:18:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-04T05:18:36.6345782Z",
        "x-ms-file-creation-time": "2026-03-04T05:18:36.0336299Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-03-04T05:18:36.0336299Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "179577412054814464*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat/AY7OraSUxE?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:36 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AD7CFB7236\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:18:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-04T05:18:36.6345782Z",
        "x-ms-file-creation-time": "2026-03-04T05:18:36.0336299Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-03-04T05:18:36.0336299Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "179577412054814464*11941910252504767217",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat/AY7OraSUxE/bieatzoavs",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:37 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AD7D5663A5\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:18:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-04T05:18:37.2305829Z",
        "x-ms-file-creation-time": "2026-03-04T05:18:37.2305829Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-03-04T05:18:37.2305829Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18405595690836190288*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat/AY7OraSUxE/pyudpemmd1?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:37 GMT",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL",
        "x-ms-file-permission-format": "sddl",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AD7D7698CA\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:18:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-04T05:18:37.4416586Z",
        "x-ms-file-creation-time": "2026-03-04T05:18:37.2305829Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-03-04T05:18:37.2305829Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "179577412054814464*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat/AY7OraSUxE/pyudpemmd1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:37 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE79AD7D7698CA\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:18:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-04T05:18:37.4416586Z",
        "x-ms-file-creation-time": "2026-03-04T05:18:37.2305829Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-03-04T05:18:37.2305829Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "179577412054814464*11941910252504767217",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat/AY7OraSUxE/4ajtoplidl?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:37 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AD7DD1FCDB\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:18:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-04T05:18:38.0405979Z",
        "x-ms-file-creation-time": "2026-03-04T05:18:38.0405979Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-03-04T05:18:38.0405979Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18405595690836190288*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat/AY7OraSUxE/mtk0x4b4nx?comp=rename&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:38 GMT",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL",
        "x-ms-file-permission-format": "sddl",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AD7DF1E42C\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:18:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-04T05:18:38.2496812Z",
        "x-ms-file-creation-time": "2026-03-04T05:18:38.0405979Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-03-04T05:18:38.0405979Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "179577412054814464*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat/AY7OraSUxE/mtk0x4b4nx?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:38 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AD7DF1E42C\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:18:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-04T05:18:38.2496812Z",
        "x-ms-file-creation-time": "2026-03-04T05:18:38.0405979Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-03-04T05:18:38.0405979Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "179577412054814464*11941910252504767217",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat/1auc02gylr?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:38 GMT",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAAAABQAAAACAFgAAwAAAAAAFAD/AR8AAQEAAAAAAAUSAAAAAAAYAP8BHwABAgAAAAAABSAAAAAgAgAAAAAkAKkAEgABBQAAAAAABRUAAABZUbgXZnJdJWRjOwuMmS4AAQUAAAAAAAUVAAAAoGXPfnhLm1/nfIdwr/1IAQEFAAAAAAAFFQAAAKBlz354S5tf53yHcAECAAA=",
        "x-ms-file-permission-format": "binary",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AD7E4D5945\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:18:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-04T05:18:38.8490565Z",
        "x-ms-file-creation-time": "2026-03-04T05:18:38.8490565Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-03-04T05:18:38.8490565Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5158782887679233604*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat/AY7OraSUxE/ji9jgkznev",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:39 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AD7EE5BDF3\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:18:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-04T05:18:39.8477811Z",
        "x-ms-file-creation-time": "2026-03-04T05:18:39.8477811Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2026-03-04T05:18:39.8477811Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18405595690836190288*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat/AY7OraSUxE/b6yx6i6heh?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:39 GMT",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAAAABQAAAACAFgAAwAAAAAAFAD/AR8AAQEAAAAAAAUSAAAAAAAYAP8BHwABAgAAAAAABSAAAAAgAgAAAAAkAKkAEgABBQAAAAAABRUAAABZUbgXZnJdJWRjOwuMmS4AAQUAAAAAAAUVAAAAoGXPfnhLm1/nfIdwr/1IAQEFAAAAAAAFFQAAAKBlz354S5tf53yHcAECAAA=",
        "x-ms-file-permission-format": "binary",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AD7F05A544\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:18:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-04T05:18:40.0568644Z",
        "x-ms-file-creation-time": "2026-03-04T05:18:39.8477811Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2026-03-04T05:18:39.8477811Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "179577412054814464*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat/AY7OraSUxE/b6yx6i6heh",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:40 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE79AD7F05A544\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:18:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-04T05:18:40.0568644Z",
        "x-ms-file-creation-time": "2026-03-04T05:18:39.8477811Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2026-03-04T05:18:39.8477811Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "179577412054814464*11941910252504767217",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat/AY7OraSUxE/f9euqv8ilo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:40 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AD7F60D457\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:18:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-04T05:18:40.6544471Z",
        "x-ms-file-creation-time": "2026-03-04T05:18:40.6544471Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2026-03-04T05:18:40.6544471Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18405595690836190288*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat/AY7OraSUxE/hdqlkikt1k?comp=rename&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:40 GMT",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAAAABQAAAACAFgAAwAAAAAAFAD/AR8AAQEAAAAAAAUSAAAAAAAYAP8BHwABAgAAAAAABSAAAAAgAgAAAAAkAKkAEgABBQAAAAAABRUAAABZUbgXZnJdJWRjOwuMmS4AAQUAAAAAAAUVAAAAoGXPfnhLm1/nfIdwr/1IAQEFAAAAAAAFFQAAAKBlz354S5tf53yHcAECAAA=",
        "x-ms-file-permission-format": "binary",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AD7F8054D3\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:18:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-04T05:18:40.8608979Z",
        "x-ms-file-creation-time": "2026-03-04T05:18:40.6544471Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2026-03-04T05:18:40.6544471Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "179577412054814464*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat/AY7OraSUxE/hdqlkikt1k?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:40 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE79AD7F8054D3\"",
        "Last-Modified": "Wed, 04 Mar 2026 05:18:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-04T05:18:40.8608979Z",
        "x-ms-file-creation-time": "2026-03-04T05:18:40.6544471Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2026-03-04T05:18:40.6544471Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "179577412054814464*11941910252504767217",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformat?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 05:18:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
