{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestuploadfromwithoptions?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:35:50 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E4E3DCD046\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:35:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestuploadfromwithoptions/KV5ZNVjoEi?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:35:51 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E4E40B4714\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:35:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T06:35:51.4032916Z",
        "x-ms-file-creation-time": "2024-12-10T06:35:51.4032916Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T06:35:51.4032916Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11903412958930568404*14837756684441293661",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestuploadfromwithoptions/KV5ZNVjoEi/KGjD4r6LtQ",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 Dec 2024 06:35:51 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E4E4394F1C\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:35:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T06:35:51.7049628Z",
        "x-ms-file-creation-time": "2024-12-10T06:35:51.7049628Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-10T06:35:51.7049628Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "7298827938045164499*14837756684441293661",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestuploadfromwithoptions/9sorYvmahS",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "attachment",
        "x-ms-content-encoding": "identity",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-md5": "7TvOM8u7BYQuRp43a5E7Vw==",
        "x-ms-content-type": "application/x-binary",
        "x-ms-date": "Tue, 10 Dec 2024 06:35:51 GMT",
        "x-ms-file-attributes": "Hidden",
        "x-ms-file-change-time": "2024-12-10T06:35:51.8961034Z",
        "x-ms-file-creation-time": "2024-12-10T06:35:51.8961028Z",
        "x-ms-file-last-write-time": "2024-12-10T06:35:51.8961030Z",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E4E467A4EA\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:35:52 GMT",
        "x-ms-file-attributes": "Hidden | Archive",
        "x-ms-file-change-time": "2024-12-10T06:35:51.8961034Z",
        "x-ms-file-creation-time": "2024-12-10T06:35:51.8961028Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-12-10T06:35:51.8961030Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7298827938045164499*14837756684441293661",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestuploadfromwithoptions/9sorYvmahS?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:35:52 GMT",
        "x-ms-file-last-write-time": "preserve",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "xReeu2oO5rdry/2MZTlTAldjikM0/sZl74u5Y9sWbvT52fbInPJ6ZcDSjlYjNSrBpZkcwxuOBEemQmcYj0qrGjQHK2hqV02fQLBLbtdOsyzCou2TsxS+9jmkjq45MtrZLXcZ5cKfsw9S3pqMSIe933YRgqtwQeLKWAp4+iBTvLkoc+mQJqbxMIPcikcPP9AQuChz8sDhLM14lWdsmcxcKEeu5RNBwvZZK71IaA+ElzrCREVNMmypug97AK6d43zkOjKMJIkPwidg8wqk7o2RIZlr2JSFtBd5cmFctb/Hc2/CRuxyLWQ1iYb+MqEQLhRJHQyU+jo+VpHq2+dVN1n3vrTgrWmz5z05UV44BqK+BF/wWwr0n7+vBiVDE/rdSAZWiXDf0PYmy0Ia5ZUT+8K/5VHtUlRH+h88Dobr5rYAw4nzoyOu4fWez7nWKlAptrCRxjoSqQpfbBze0AgnZC7rAs2j5GO/xUlNIz7+oN+CdfZneob+ipxHI76v3EvogRjBYadRm3IZxSH46KhzPxaAKdQD7J0jeNiIRkLxKBByDDB9ajymbF+y3UwGD5QSOJXH8pF6+BPkwHnwLFGIeCG7pMZUMnavmpPiIrjVHEwep+rIYVXC+qFa0pe9YjB3sjkInWSHEQCs4lBCtJE9ShwaDes5hXok+VhpgcqaqFFF5l8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "7TvOM8u7BYQuRp43a5E7Vw==",
        "ETag": "\"0x8DD18E4E4C2A4C7\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:35:52 GMT",
        "x-ms-file-last-write-time": "2024-12-10T06:35:51.8961030Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestuploadfromwithoptions?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:35:53 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
