{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:24 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1D89AC23263\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:24 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly/cROz71HrlD?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1D89AF2FA52\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-01T03:18:25.0435154Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:25.0435154Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-01T03:18:25.0435154Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12206891403397143160*13960227685861559793",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly/syai5p3np6?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL",
        "x-ms-file-permission-format": "sddl",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1D89B2219DC\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-01T03:18:25.3523420Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:25.3523420Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-08-01T03:18:25.3523420Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "2562878810764761412*13960227685861559793",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly?comp=filepermission&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:26 GMT",
        "x-ms-file-permission-format": "sddl",
        "x-ms-file-permission-key": "2562878810764761412*13960227685861559793",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "eyJwZXJtaXNzaW9uIjoiTzpTLTEtNS0yMS0yMTI3NTIxMTg0LTE2MDQwMTI5MjAtMTg4NzkyNzUyNy0yMTU2MDc1MUc6Uy0xLTUtMjEtMjEyNzUyMTE4NC0xNjA0MDEyOTIwLTE4ODc5Mjc1MjctNTEzRDooQTs7RkE7OztTWSkoQTs7RkE7OztCQSkoQTs7MHgxMjAwYTk7OztTLTEtNS0yMS0zOTc5NTU0MTctNjI2ODgxMTI2LTE4ODQ0MTQ0NC0zMDUzOTY0KSIsImZvcm1hdCI6InNkZGwifQ=="
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly/cROz71HrlD?comp=properties&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:26 GMT",
        "x-ms-file-attributes": "preserve",
        "x-ms-file-creation-time": "preserve",
        "x-ms-file-last-write-time": "preserve",
        "x-ms-file-permission": "O:S-[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly/cROz71HrlD?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:27 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1D89B7E0F5F\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-01T03:18:25.9550047Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:25.0435154Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-01T03:18:25.0435154Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7384634222902269952*13960227685861559793",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly/cROz71HrlD/iiahwdat8k",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1D89C079DFF\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-01T03:18:26.8564991Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:26.8564991Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-08-01T03:18:26.8564991Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5499815662640845287*13960227685861559793",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly/cROz71HrlD/bqulg2liqc?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:27 GMT",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL",
        "x-ms-file-permission-format": "sddl",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1D89C3ADBA7\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-01T03:18:27.1923111Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:26.8564991Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-08-01T03:18:26.8564991Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "7384634222902269952*13960227685861559793",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly/cROz71HrlD/bqulg2liqc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:28 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB1D89C3ADBA7\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-01T03:18:27.1923111Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:26.8564991Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-08-01T03:18:26.8564991Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "7384634222902269952*13960227685861559793",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly/cROz71HrlD/tprghyhl3o?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1D89CC4B869\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-01T03:18:28.0958057Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:28.0958057Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-08-01T03:18:28.0958057Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5499815662640845287*13960227685861559793",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly/cROz71HrlD/nwrv2gni1h?comp=rename&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:29 GMT",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL",
        "x-ms-file-permission-format": "sddl",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1D89CF3D7EC\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-01T03:18:28.4046316Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:28.0958057Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-08-01T03:18:28.0958057Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "7384634222902269952*13960227685861559793",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly/cROz71HrlD/nwrv2gni1h?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:29 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1D89CF3D7EC\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-01T03:18:28.4046316Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:28.0958057Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-08-01T03:18:28.0958057Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "7384634222902269952*13960227685861559793",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly/uc9p4s8ybq?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAAAABQAAAACA[...]
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly/cROz71HrlD/9urtytldf7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:31 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1D89E61B25C\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-01T03:18:30.8022876Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:30.8022876Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-08-01T03:18:30.8022876Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5499815662640845287*13960227685861559793",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly/cROz71HrlD/mdbehvvrax?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:31 GMT",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAAAABQAAAACAFgAAwAAAAAAFAD/AR8AAQEAAAAAAAUSAAAAAAAYAP8BHwABAgAAAAAABSAAAAAgAgAAAAAkAKkAEgABBQAAAAAABRUAAABZUbgXZnJdJWRjOwuMmS4AAQUAAAAAAAUVAAAAoGXPfnhLm1/nfIdwr/1IAQEFAAAAAAAFFQAAAKBlz354S5tf53yHcAECAAA=",
        "x-ms-file-permission-format": "binary",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1D89E900EB3\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-01T03:18:31.1061171Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:30.8022876Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-08-01T03:18:30.8022876Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "7384634222902269952*13960227685861559793",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly/cROz71HrlD/mdbehvvrax",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:32 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB1D89E900EB3\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-01T03:18:31.1061171Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:30.8022876Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-08-01T03:18:30.8022876Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "7384634222902269952*13960227685861559793",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly/cROz71HrlD/z1ljot5zqw?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:32 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1D89F183DFA\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:31 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-01T03:18:31.9986170Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:31.9986170Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-08-01T03:18:31.9986170Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5499815662640845287*13960227685861559793",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly/cROz71HrlD/jlcymdpz73?comp=rename&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:33 GMT",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAAAABQAAAACAFgAAwAAAAAAFAD/AR8AAQEAAAAAAAUSAAAAAAAYAP8BHwABAgAAAAAABSAAAAAgAgAAAAAkAKkAEgABBQAAAAAABRUAAABZUbgXZnJdJWRjO[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly/cROz71HrlD/jlcymdpz73?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:33 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1D89F469A50\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:32 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-01T03:18:32.3024464Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:31.9986170Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-08-01T03:18:31.9986170Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "7384634222902269952*13960227685861559793",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestfilepermissionformatplaybackonly?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:33 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
