{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestcreatewithhttpheaders?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:48:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4F0561991\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:48:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestcreatewithhttpheaders/mBK4reVRKl?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:48:31 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4F084745C\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:48:31 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:48:31.8667868Z",
        "x-ms-file-creation-time": "2024-06-17T15:48:31.8667868Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-17T15:48:31.8667868Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14799134079974362488*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestcreatewithhttpheaders/mBK4reVRKl/vDrJ74n3Cm",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 17 Jun 2024 15:48:31 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4F0B2A9A1\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:48:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T15:48:32.1696161Z",
        "x-ms-file-creation-time": "2024-06-17T15:48:32.1696161Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-17T15:48:32.1696161Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestcreatewithhttpheaders/mBK4reVRKl/p14wQXBu7k",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "attachment",
        "x-ms-content-encoding": "identity",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-md5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "x-ms-content-type": "application/x-binary",
        "x-ms-date": "Mon, 17 Jun 2024 15:48:32 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4F0E4AEEB\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:48:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T15:48:32.4974315Z",
        "x-ms-file-creation-time": "2024-06-17T15:48:32.4974315Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-06-17T15:48:32.4974315Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestcreatewithhttpheaders?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:48:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
