{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/fileshareclienttestoauth?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:00:58 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FA1D4A2824\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:01:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/nh9rmzxhjp?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:01:01 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FA1D6C302C\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:01:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/nh9rmzxhjp?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:01:01 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FA1D6C302C\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:01:02 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Fri, 05 Jun 2026 12:01:02 GMT",
        "x-ms-enable-smb-directory-lease": "true",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/nh9rmzxhjp?comp=properties&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:01:02 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FA1DC3F541\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:01:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/nh9rmzxhjp?comp=lease&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:01:02 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "a0b7c78a-5c46-b6cf-805e-043c1df72e4c",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FA1DC3F541\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:01:03 GMT",
        "x-ms-lease-id": "a0b7c78a-5c46-b6cf-805e-043c1df72e4c",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/nh9rmzxhjp?comp=lease&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:01:02 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-lease-action": "break",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FA1DC3F541\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:01:03 GMT",
        "x-ms-lease-time": "0",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/nh9rmzxhjp?comp=metadata&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:01:03 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-meta-metadmwby": "kJDAWTf8ys",
        "x-ms-meta-metadnrjo": "J8MJ7z7eKL",
        "x-ms-meta-metaefuav": "qnd2h1weYP",
        "x-ms-meta-metak2ihb": "kWVXVrmKYG",
        "x-ms-meta-metalvadt": "XgXeCQUL3J",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FA1E872967\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:01:04 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/nh9rmzxhjp?comp=snapshot&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:01:03 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FA1E872967\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:01:04 GMT",
        "x-ms-snapshot": "2026-06-05T12:01:04.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/nh9rmzxhjp?comp=acl&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml; charset=UTF-8",
        "x-ms-date": "Fri, 05 Jun 2026 12:01:03 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers/>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FA1EE7A557\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:01:04 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/nh9rmzxhjp?comp=acl&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:01:04 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DEC2FA1EE7A557\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:01:04 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers />"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/nh9rmzxhjp?comp=filepermission&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 05 Jun 2026 12:01:04 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-file-permission-key": "179577412054814464*11941910252504767217",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/nh9rmzxhjp?comp=filepermission&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:01:04 GMT",
        "x-ms-file-permission-key": "179577412054814464*11941910252504767217",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": {
        "permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL",
        "format": "sddl"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/nh9rmzxhjp?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:01:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/fileshareclienttestoauth?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:01:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
