{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestcreatewithdata?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 05:17:17 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE78E423934CF4\"",
        "Last-Modified": "Tue, 03 Mar 2026 05:17:17 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestcreatewithdata/tADjRiJFYx?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 05:17:17 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE78E423B26A11\"",
        "Last-Modified": "Tue, 03 Mar 2026 05:17:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-03T05:17:17.9960849Z",
        "x-ms-file-creation-time": "2026-03-03T05:17:17.9960849Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-03-03T05:17:17.9960849Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestcreatewithdata/tADjRiJFYx/LeEGJuj2Pw",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 03 Mar 2026 05:17:18 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE78E423D057C1\"",
        "Last-Modified": "Tue, 03 Mar 2026 05:17:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-03T05:17:18.1922241Z",
        "x-ms-file-creation-time": "2026-03-03T05:17:18.1922241Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-03-03T05:17:18.1922241Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestcreatewithdata/tADjRiJFYx/2nM14V0Qrs",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "100",
        "x-ms-date": "Tue, 03 Mar 2026 05:17:18 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "6JjVUpRXKR/tIisDip3/1se7C/iGLx1kYkKQr56pxPewYiCbkFATKVR4Qlx9IhsmHl9IS67I18sDDRY25wO3Hsraadiu2dC42FIWZBSCmV8n/+muKfR4hEosCpJZZb8OcG00Uw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "4qyuMjqUBgzQF8yEGaQfhA==",
        "ETag": "\"0x8DE78E423F19D16\"",
        "Last-Modified": "Tue, 03 Mar 2026 05:17:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-03T05:17:18.4102678Z",
        "x-ms-file-creation-time": "2026-03-03T05:17:18.4102678Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-03-03T05:17:18.4102678Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestcreatewithdata/tADjRiJFYx/2nM14V0Qrs",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 05:17:18 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE78E423F19D16\"",
        "Last-Modified": "Tue, 03 Mar 2026 05:17:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-03T05:17:18.4102678Z",
        "x-ms-file-creation-time": "2026-03-03T05:17:18.4102678Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-03-03T05:17:18.4102678Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "6JjVUpRXKR/tIisDip3/1se7C/iGLx1kYkKQr56pxPewYiCbkFATKVR4Qlx9IhsmHl9IS67I18sDDRY25wO3Hsraadiu2dC42FIWZBSCmV8n/+muKfR4hEosCpJZZb8OcG00Uw=="
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestcreatewithdata/tADjRiJFYx/mODf4H4czs",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "100",
        "x-ms-date": "Tue, 03 Mar 2026 05:17:18 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "100",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "AYsAAAAAAAAAAQABAAEAZAAAAAAAAADomNVSlFcpH+0iKwOKnf/Wx7sL+IYvHWRiQpCvnqnE97BiIJuQUBMpVHhCXH0iGyYeX0hLrsjXywMNFjbnA7ceytpp2K7Z0LjYUhZkFIKZXyf/6a4p9HiESiwKklllvw5wbTRTn3xyyR3T+CGffHLJHdP4IQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "4qyuMjqUBgzQF8yEGaQfhA==",
        "ETag": "\"0x8DE78E42430D016\"",
        "Last-Modified": "Tue, 03 Mar 2026 05:17:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-03T05:17:18.8244502Z",
        "x-ms-file-creation-time": "2026-03-03T05:17:18.8244502Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-03-03T05:17:18.8244502Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestcreatewithdata?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 Mar 2026 05:17:19 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
