{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:36 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1D8A203A9EA\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:36 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly/vnOek9QVIi?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1D8A2333CB0\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-01T03:18:37.2086960Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:37.2086960Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-01T03:18:37.2086960Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12206891403397143160*13960227685861559793",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly/vnOek9QVIi/KH6KqSLNZA",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1D8A2614AEE\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-01T03:18:37.5105262Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:37.5105262Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-08-01T03:18:37.5105262Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "7574026925731472767*13960227685861559793",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly/uqoxnzp4md",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL",
        "x-ms-file-permission-format": "sddl",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1D8A29CEBDB\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-01T03:18:37.9013083Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:37.9013083Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-08-01T03:18:37.9013083Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "2562878810764761412*13960227685861559793",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly?comp=filepermission&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:38 GMT",
        "x-ms-file-permission-format": "sddl",
        "x-ms-file-permission-key": "2562878810764761412*13960227685861559793",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": "eyJwZXJtaXNzaW9uIjoiTzpTLTEtNS0yMS0yMTI3NTIxMTg0LTE2MDQwMTI5MjAtMTg4NzkyNzUyNy0yMTU2MDc1MUc6Uy0xLTUtMjEtMjEyNzUyMTE4NC0xNjA0MDEyOTIwLTE4ODc5Mjc1MjctNTEzRDooQTs7RkE7OztTWSkoQTs7RkE7OztCQSkoQTs7MHgxMjAwYTk7OztTLTEtNS0yMS0zOTc5NTU0MTctNjI2ODgxMTI2LTE4ODQ0MTQ0NC0zMDUzOTY0KSIsImZvcm1hdCI6InNkZGwifQ=="
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly/uqoxnzp4md?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:39 GMT",
        "x-ms-file-attributes": "preserve",
        "x-ms-file-creation-time": "preserve",
        "x-ms-file-last-write-time": "preserve",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-16040[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly/uqoxnzp4md",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:39 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1D8A31C1BAE\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-01T03:18:38.7348398Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:37.9013083Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-08-01T03:18:37.9013083Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7384634222902269952*13960227685861559793",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly/dc4lutl1ee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "O:S-1-5-21-21275211[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly/dc4lutl1ee?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:40 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": "Ce8zoNAN1zbfWFuabtExqZ5WCn6OhRZ+W6xdSWo6sMzJV1aq1sXvGMv5UJkmcm0MPX2MSpFU0/GT/QS/XGjFhbpY3FmJ6j7V8uWpSQs+ZpGyMIN0p+nNeJzRD12nmzI6cOjbac3nKkY0OId38qNKPkWwG0DOVWlYIq1H8kguXTTil2HpVsgFnOtRSibBglWLGawIvtNPTPq3v9/L559AaeDPTftHXMVEx2GeCmq/qJXwOC8k/m17ajwoz9jx+6dhijNu+yGtpKUQLPuo4vNu2US8xkX3Y/qxoTCBV4R5/Y6b5RGFd0xWTv13VNsPVYqmMxe013ChwvCNMvIVojU2xhPJ5o7RAmyzBBBrpt04bPGMkLzPgAtAm8T8Xb+iBknk8wOWIr9SI9lXH0iGM/vS3ZzIRc4xRDZPYpeOBXP7gd2Fx6YyY7zzLyQT3R4sH0G3L/h+VWROIvTFtiODZW4npAEIdmQxSFJ7zwFtonIQeNmQ3ZqS9rFqQUfj6JiCtaeoefsck2QLpIYf38AnZHNpqzUD7yXJD/TIFkckM1FA66mdm8lCtgnzyCj0p7056S/zNhE3/4WORj4ohaDUlxCyUsp9wSR9CpaVbYxJeiUrzKFSz7hr8lK5Th6N6M7ZUh4+PKb405TE6rNP6HsQzi1M+Vf2rttihfXFNd0ty3LaAMw=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "2kTVzMfxUkEKBVxSPCaC7w==",
        "ETag": "\"0x8DCB1D8A40D0FD7\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:40 GMT",
        "x-ms-file-last-write-time": "2024-08-01T03:18:40.3139543Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly/dc4lutl1ee",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:41 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB1D8A40D0FD7\"",
        "Last-Modified": "Thu, 01 Aug 2024 03:18:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-01T03:18:40.3139543Z",
        "x-ms-file-creation-time": "2024-08-01T03:18:39.6323367Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-08-01T03:18:40.3139543Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "2562878810764761412*13960227685861559793",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly/yarppyovjs",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:42 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "O:S-1-5-21-21275211[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly/yarppyovjs?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:42 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": "Ce8zoNAN1zbfWFuabtExqZ[...]
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly/rcnldG8ovu",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAAAA[...]
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly/rcnldG8ovu?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:44 GMT",
        "x-ms-file-attributes": "preserve",
        "x-ms-file-creation-time": "preserve",
        "x-ms-file-last-write-time": "preserve",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAAAABQAAAA[...]
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly/qmrhex2yaz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:44 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAA[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly/qmrhex2yaz?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:45 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": "5ZuaZtbedKQ7khquOWU56/[...]
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly/kprskirufb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAA[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly/kprskirufb?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:46 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": "5ZuaZtbedKQ7khquOWU56/[...]
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestfilepermissionformatplaybackonly?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 01 Aug 2024 03:18:47 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
