{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/jrn88x2pta?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Sep 2024 05:39:19 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDDED923D0295\"",
        "Last-Modified": "Thu, 26 Sep 2024 05:39:21 GMT",
        "x-ms-share-included-burst-iops": "10000",
        "x-ms-share-max-burst-credits-for-iops": "25084800",
        "x-ms-share-provisioned-bandwidth-mibps": "129",
        "x-ms-share-provisioned-iops": "3032",
        "x-ms-share-quota": "32",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/?comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Sep 2024 05:39:21 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://weifileprovisionv23.file.core.windows.net/\"><Shares><Share><Name>bh13pia4yq</Name><Properties><Last-Modified>Thu, 26 Sep 2024 05:39:17 GMT</Last-Modified><Etag>\"0x8DCDDED902EB1A0\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>32</Quota><EnabledProtocols>SMB</EnabledProtocols><ProvisionedIops>20480</ProvisionedIops><ProvisionedBandwidthMiBps>125</ProvisionedBandwidthMiBps><NextAllowedQuotaDowngradeTime>Thu, 26 Sep 2024 05:39:16 GMT</NextAllowedQuotaDowngradeTime><IncludedBurstIops>61440</IncludedBurstIops><MaxBurstCreditsForIops>147456000</MaxBurstCreditsForIops><NextAllowedProvisionedIopsDowngradeTime>Fri, 27 Sep 2024 05:39:17 GMT</NextAllowedProvisionedIopsDowngradeTime><NextAllowedProvisionedBandwidthDowngradeTime>Thu, 26 Sep 2024 05:39:16 GMT</NextAllowedProvisionedBandwidthDowngradeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>jrn88x2pta</Name><Properties><Last-Modified>Thu, 26 Sep 2024 05:39:21 GMT</Last-Modified><Etag>\"0x8DCDDED923D0295\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>32</Quota><EnabledProtocols>SMB</EnabledProtocols><ProvisionedIops>3032</ProvisionedIops><ProvisionedBandwidthMiBps>129</ProvisionedBandwidthMiBps><NextAllowedQuotaDowngradeTime>Thu, 26 Sep 2024 05:39:21 GMT</NextAllowedQuotaDowngradeTime><IncludedBurstIops>10000</IncludedBurstIops><MaxBurstCreditsForIops>25084800</MaxBurstCreditsForIops><NextAllowedProvisionedIopsDowngradeTime>Thu, 26 Sep 2024 05:39:21 GMT</NextAllowedProvisionedIopsDowngradeTime><NextAllowedProvisionedBandwidthDowngradeTime>Thu, 26 Sep 2024 05:39:21 GMT</NextAllowedProvisionedBandwidthDowngradeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/jrn88x2pta?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Sep 2024 05:39:21 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-file-share-snapshot-usage-bytes": "0",
        "x-ms-file-share-usage-bytes": "0",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
