{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestpremiumposixpropertiesforcopyplaybackonl?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Feb 2025 08:00:52 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A7234B0ED0E\"",
        "Last-Modified": "Tue, 11 Feb 2025 08:00:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestpremiumposixpropertiesforcopyplaybackonl/MvpccNVSuz?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Feb 2025 08:00:53 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A7234DFF8BF\"",
        "Last-Modified": "Tue, 11 Feb 2025 08:00:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-11T08:00:53.0299071Z",
        "x-ms-file-creation-time": "2025-02-11T08:00:53.0299071Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-11T08:00:53.0299071Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "16527250253953985190*10198314055147650351",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestpremiumposixpropertiesforcopyplaybackonl/MvpccNVSuz/1XdzM8X8om",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 11 Feb 2025 08:00:53 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A72350D655D\"",
        "Last-Modified": "Tue, 11 Feb 2025 08:00:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-11T08:00:53.3275997Z",
        "x-ms-file-creation-time": "2025-02-11T08:00:53.3275997Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-11T08:00:53.3275997Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "2677206188916938145*10198314055147650351",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/wmoads2vyd?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Feb 2025 08:00:53 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A72353E60A8\"",
        "Last-Modified": "Tue, 11 Feb 2025 08:00:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/wmoads2vyd/in2qde11ha",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "256",
        "x-ms-date": "Tue, 11 Feb 2025 08:00:54 GMT",
        "x-ms-file-file-type": "Regular",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "456",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A72356E94FC\"",
        "Last-Modified": "Tue, 11 Feb 2025 08:00:53 GMT",
        "x-ms-file-change-time": "2025-02-11T08:00:53.9645180Z",
        "x-ms-file-creation-time": "2025-02-11T08:00:53.9645180Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-11T08:00:53.9645180Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "456",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/wmoads2vyd/x6a6p6in3t",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Tue, 11 Feb 2025 08:00:54 GMT",
        "x-ms-file-mode-copy-mode": "override",
        "x-ms-file-owner-copy-mode": "override",
        "x-ms-group": "888",
        "x-ms-mode": "0757",
        "x-ms-owner": "999",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A7235BDE274\"",
        "Last-Modified": "Tue, 11 Feb 2025 08:00:54 GMT",
        "x-ms-copy-id": "9d48edef-b87e-4646-966e-a3253b37fb87",
        "x-ms-copy-status": "success",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/wmoads2vyd/x6a6p6in3t",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Feb 2025 08:00:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4A7235BDE274\"",
        "Last-Modified": "Tue, 11 Feb 2025 08:00:54 GMT",
        "x-ms-copy-completion-time": "Tue, 11 Feb 2025 08:00:54 GMT",
        "x-ms-copy-id": "9d48edef-b87e-4646-966e-a3253b37fb87",
        "x-ms-copy-progress": "256/256",
        "x-ms-copy-source": "Sanitized",
        "x-ms-copy-status": "success",
        "x-ms-file-change-time": "2025-02-11T08:00:54.4842356Z",
        "x-ms-file-creation-time": "2025-02-11T08:00:54.4842356Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-11T08:00:54.4842356Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "888",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0757",
        "x-ms-owner": "999",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/wmoads2vyd/t1rneqx7mz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Tue, 11 Feb 2025 08:00:55 GMT",
        "x-ms-file-mode-copy-mode": "source",
        "x-ms-file-owner-copy-mode": "source",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A723619CBFE\"",
        "Last-Modified": "Tue, 11 Feb 2025 08:00:55 GMT",
        "x-ms-copy-id": "4ba73997-79e3-4460-bef1-0065af87232d",
        "x-ms-copy-status": "success",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/wmoads2vyd/oa9qux2ie6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Tue, 11 Feb 2025 08:00:55 GMT",
        "x-ms-file-mode-copy-mode": "override",
        "x-ms-file-owner-copy-mode": "source",
        "x-ms-mode": "0767",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A723676C5C5\"",
        "Last-Modified": "Tue, 11 Feb 2025 08:00:55 GMT",
        "x-ms-copy-id": "57ba4baa-b6b3-4e4c-a052-783e3c751ec1",
        "x-ms-copy-status": "success",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/wmoads2vyd/2u3qvdpfip",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Tue, 11 Feb 2025 08:00:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4A7236D2AF32\"",
        "Last-Modified": "Tue, 11 Feb 2025 08:00:56 GMT",
        "x-ms-copy-id": "4d326840-0e26-4ea9-9a4f-0536bb96d3a4",
        "x-ms-copy-status": "success",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/wmoads2vyd/zxmrcbkrhi",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Tue, 11 Feb 2025 08:00:56 GMT",
        "x-ms-file-mode-copy-mode": "source",
        "x-ms-file-owner-copy-mode": "source",
        "x-ms-mode": "0767",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BothCopySourceAndModeHeaderPresent",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BothCopySourceAndModeHeaderPresent</Code><Message>x-ms-mode header must not be present.\n",
        "RequestId:f54be384-401a-0034-715b-7c9e33000000\n",
        "Time:2025-02-11T08:00:56.8871802Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/wmoads2vyd/xbavbm8htq",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Tue, 11 Feb 2025 08:00:57 GMT",
        "x-ms-file-mode-copy-mode": "override",
        "x-ms-file-owner-copy-mode": "source",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "MissingRequiredHeader",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>MissingRequiredHeader</Code><Message>An HTTP header that's mandatory for this request is not specified.\n",
        "RequestId:f54be385-401a-0034-725b-7c9e33000000\n",
        "Time:2025-02-11T08:00:57.1826749Z</Message><HeaderName>x-ms-mode</HeaderName></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/wmoads2vyd/fm1qwpjfgx",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Tue, 11 Feb 2025 08:00:57 GMT",
        "x-ms-file-mode-copy-mode": "source",
        "x-ms-file-owner-copy-mode": "override",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "MissingRequiredHeader",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>MissingRequiredHeader</Code><Message>An HTTP header that's mandatory for this request is not specified.\n",
        "RequestId:f54be389-401a-0034-765b-7c9e33000000\n",
        "Time:2025-02-11T08:00:57.4773970Z</Message><HeaderName>x-ms-owner</HeaderName></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/wmoads2vyd/smj52a6wzs",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Tue, 11 Feb 2025 08:00:57 GMT",
        "x-ms-file-mode-copy-mode": "source",
        "x-ms-file-owner-copy-mode": "source",
        "x-ms-group": "888",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BothCopySourceAndGroupHeaderPresent",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BothCopySourceAndGroupHeaderPresent</Code><Message>x-ms-group header must not be present.\n",
        "RequestId:f54be38b-401a-0034-775b-7c9e33000000\n",
        "Time:2025-02-11T08:00:57.7726816Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestpremiumposixpropertiesforcopyplaybackonl?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Feb 2025 08:00:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/wmoads2vyd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Feb 2025 08:00:58 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
