{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestrenamefile?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:46:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4AA4F3103\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:46:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestrenamefile/YXHT02gdTB?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:46:34 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4AA7F6654\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:46:34 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:46:34.3931476Z",
        "x-ms-file-creation-time": "2024-06-17T15:46:34.3931476Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-17T15:46:34.3931476Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14799134079974362488*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestrenamefile/vsaoEZpWGQ1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:46:34 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4AAABA00C\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:46:34 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:46:34.6829836Z",
        "x-ms-file-creation-time": "2024-06-17T15:46:34.6829836Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-17T15:46:34.6829836Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14799134079974362488*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestrenamefile/vsaoEZpWGQ1/vsaoEZpWGQ2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Mon, 17 Jun 2024 15:46:34 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4AADA716C\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:46:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T15:46:34.9898092Z",
        "x-ms-file-creation-time": "2024-06-17T15:46:34.9898092Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-06-17T15:46:34.9898092Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestrenamefile/vsaoEZpWGQ1/vsaoEZpWGQ3?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:46:35 GMT",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4AB0AC93D\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:46:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T15:46:35.3066301Z",
        "x-ms-file-creation-time": "2024-06-17T15:46:34.9898092Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-06-17T15:46:34.9898092Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestrenamefile/vsaoEZpWGQ1/vsaoEZpWGQ3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:46:35 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8EE4AB0AC93D\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:46:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T15:46:35.3066301Z",
        "x-ms-file-creation-time": "2024-06-17T15:46:34.9898092Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-06-17T15:46:34.9898092Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestrenamefile/vsaoEZpWGQ1/vsaoEZpWGQ2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:46:35 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestrenamefile/vsaoEZpWGQ1/vsaoEZpWGQ5?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:46:36 GMT",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The specified resource already exists.\n",
        "RequestId:5bbc03ff-c01a-0066-80cd-c095e2000000\n",
        "Time:2024-06-17T15:46:36.8176420Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestrenamefile/vsaoEZpWGQ1/vsaoEZpWGQ5?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:46:36 GMT",
        "x-ms-file-rename-replace-if-exists": "true",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4AC216807\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:46:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T15:46:37.1325959Z",
        "x-ms-file-creation-time": "2024-06-17T15:46:36.1881306Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-06-17T15:46:36.1881306Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestrenamefile/vsaoEZpWGQ1/vsaoEZpWGQ7?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:46:38 GMT",
        "x-ms-file-rename-ignore-readonly": "true",
        "x-ms-file-rename-replace-if-exists": "true",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4AD34D2FB\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:46:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T15:46:38.9375739Z",
        "x-ms-file-creation-time": "2024-06-17T15:46:38.0140968Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-06-17T15:46:38.0140968Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestrenamefile/vsaoEZpWGQ1/vsaoEZpWGQ9?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-type": "application/x-binary",
        "x-ms-date": "Mon, 17 Jun 2024 15:46:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-06-17T15:46:39.8421856Z",
        "x-ms-file-creation-time": "2024-06-17T15:46:39.8421858Z",
        "x-ms-file-last-write-time": "2024-06-17T15:46:39.8421859Z",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-meta-meta63kci": "rNe3VwnTTJ",
        "x-ms-meta-metagvqid": "uB3Fwhn2FD",
        "x-ms-meta-metaknmsw": "OMwbotFryS",
        "x-ms-meta-metamzipz": "cs3YMsGU3j",
        "x-ms-meta-metaqusfo": "IkpAuPTu0q",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4ADE89F9D\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:46:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-06-17T15:46:39.8421856Z",
        "x-ms-file-creation-time": "2024-06-17T15:46:39.8421858Z",
        "x-ms-file-id": "9799903157902376960",
        "x-ms-file-last-write-time": "2024-06-17T15:46:39.8421859Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "179577412054814464*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestrenamefile/vsaoEZpWGQ1/vsaoEZpWGQ10?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:46:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4AE6D9AD6\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:46:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:46:40.9874134Z",
        "x-ms-file-creation-time": "2024-06-17T15:46:40.9874134Z",
        "x-ms-file-id": "14411589176329764864",
        "x-ms-file-last-write-time": "2024-06-17T15:46:40.9874134Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "14799134079974362488*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestrenamefile/vsaoEZpWGQ1/vsaoEZpWGQ10/vsaoEZpWGQ11",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Mon, 17 Jun 2024 15:46:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4AE9C4534\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:46:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T15:46:41.2932404Z",
        "x-ms-file-creation-time": "2024-06-17T15:46:41.2932404Z",
        "x-ms-file-id": "12105746167116070912",
        "x-ms-file-last-write-time": "2024-06-17T15:46:41.2932404Z",
        "x-ms-file-parent-id": "14411589176329764864",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestrenamefile/vsaoEZpWGQ15?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:46:42 GMT",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4AFA6D7CF\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:46:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T15:46:43.0402511Z",
        "x-ms-file-creation-time": "2024-06-17T15:46:42.7454182Z",
        "x-ms-file-id": "10952824662509223936",
        "x-ms-file-last-write-time": "2024-06-17T15:46:42.7454182Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestrenamefile/vsaoEZpWGQ15",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:46:43 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8EE4AFA6D7CF\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:46:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T15:46:43.0402511Z",
        "x-ms-file-creation-time": "2024-06-17T15:46:42.7454182Z",
        "x-ms-file-id": "10952824662509223936",
        "x-ms-file-last-write-time": "2024-06-17T15:46:42.7454182Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestrenamefile/vsaoEZpWGQ1/vsaoEZpWGQ16?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:46:43 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "5629b06f-e192-a5a5-40df-759e33755b0b",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4B02D5971\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:46:43 GMT",
        "x-ms-lease-id": "5629b06f-e192-a5a5-40df-759e33755b0b",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestrenamefile/vsaoEZpWGQ1/vsaoEZpWGQ17?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:46:45 GMT",
        "x-ms-destination-lease-id": "320ba60f-5bb3-5ba9-66f4-bc4c931a65bb",
        "x-ms-file-rename-replace-if-exists": "true",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-source-lease-id": "5629b06f-e192-a5a5-40df-759e33755b0b",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4B112DD3C\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:46:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T15:46:45.4259004Z",
        "x-ms-file-creation-time": "2024-06-17T15:46:43.9217521Z",
        "x-ms-file-id": "15564510680936611840",
        "x-ms-file-last-write-time": "2024-06-17T15:46:43.9217521Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestrenamefile?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:46:45 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
