{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/fileshareclienttestshareaccesspolicynullable?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:45:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE48272274C\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:45:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/fileshareclienttestshareaccesspolicynullable?comp=acl&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml; charset=UTF-8",
        "x-ms-date": "Mon, 17 Jun 2024 15:45:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>rjFkRd8gBHDQKOFCGuaw9pWEW4Pix2FZ7xUf7zaP4LfLZca8yq5b9LvX3MuffSOp</Id><AccessPolicy><Permission>r</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>KYBPzW9DlETPXrukedlpr9F5KBKGLG4YsXcOCPCCvNzx7TN2Gw3asDchqKouk4Do</Id><AccessPolicy><Start>2024-06-17T15:35:27.2410011Z</Start><Permission>r</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>NdNSGrCjrhAsqdwWx9r08TcbXvnh5PF3U0xGJgVrfeYvnOxb8aq03SWwyWpO15l8</Id><AccessPolicy><Expiry>2024-06-17T17:25:27.2410199Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE482A19286\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:45:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/fileshareclienttestshareaccesspolicynullable?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:45:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
