{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/faxio8sy9s?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:09:02 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FB3DA56A51\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:09:06 GMT",
        "x-ms-share-included-burst-iops": "10000",
        "x-ms-share-max-burst-credits-for-iops": "25084800",
        "x-ms-share-provisioned-bandwidth-mibps": "129",
        "x-ms-share-provisioned-iops": "3032",
        "x-ms-share-quota": "32",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/iwyzmgdik5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:09:05 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FB3DC9F1D9\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:09:06 GMT",
        "x-ms-share-included-burst-iops": "10000",
        "x-ms-share-max-burst-credits-for-iops": "25084800",
        "x-ms-share-provisioned-bandwidth-mibps": "129",
        "x-ms-share-provisioned-iops": "3032",
        "x-ms-share-quota": "32",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/faxio8sy9s?comp=properties&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:09:05 GMT",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FB3DED3438\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:09:06 GMT",
        "x-ms-share-included-burst-iops": "10000",
        "x-ms-share-max-burst-credits-for-iops": "25084800",
        "x-ms-share-next-allowed-provisioned-bandwidth-downgrade-time": "Fri, 05 Jun 2026 12:09:06 GMT",
        "x-ms-share-next-allowed-provisioned-iops-downgrade-time": "Fri, 05 Jun 2026 12:09:06 GMT",
        "x-ms-share-next-allowed-quota-downgrade-time": "Fri, 05 Jun 2026 12:09:06 GMT",
        "x-ms-share-provisioned-bandwidth-mibps": "129",
        "x-ms-share-provisioned-iops": "3032",
        "x-ms-share-quota": "32",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/iwyzmgdik5?comp=properties&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:09:05 GMT",
        "x-ms-enable-snapshot-virtual-directory-access": "false",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FB3E0FFE68\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:09:06 GMT",
        "x-ms-share-included-burst-iops": "10000",
        "x-ms-share-max-burst-credits-for-iops": "25084800",
        "x-ms-share-next-allowed-provisioned-bandwidth-downgrade-time": "Fri, 05 Jun 2026 12:09:06 GMT",
        "x-ms-share-next-allowed-provisioned-iops-downgrade-time": "Fri, 05 Jun 2026 12:09:06 GMT",
        "x-ms-share-next-allowed-quota-downgrade-time": "Fri, 05 Jun 2026 12:09:06 GMT",
        "x-ms-share-provisioned-bandwidth-mibps": "129",
        "x-ms-share-provisioned-iops": "3032",
        "x-ms-share-quota": "32",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/?comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:09:05 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://premiumfile001.file.core.windows.net/\"><Shares><Share><Name>faxio8sy9s</Name><Properties><Last-Modified>Fri, 05 Jun 2026 12:09:06 GMT</Last-Modified><Etag>\"0x8DEC2FB3DED3438\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>32</Quota><EnabledProtocols>NFS</EnabledProtocols><RootSquash>NoRootSquash</RootSquash><EnableSnapshotVirtualDirectoryAccess>true</EnableSnapshotVirtualDirectoryAccess><ProvisionedIops>3032</ProvisionedIops><ProvisionedBandwidthMiBps>129</ProvisionedBandwidthMiBps><NextAllowedQuotaDowngradeTime>Fri, 05 Jun 2026 12:09:06 GMT</NextAllowedQuotaDowngradeTime><IncludedBurstIops>10000</IncludedBurstIops><MaxBurstCreditsForIops>25084800</MaxBurstCreditsForIops><NextAllowedProvisionedIopsDowngradeTime>Fri, 05 Jun 2026 12:09:06 GMT</NextAllowedProvisionedIopsDowngradeTime><NextAllowedProvisionedBandwidthDowngradeTime>Fri, 05 Jun 2026 12:09:06 GMT</NextAllowedProvisionedBandwidthDowngradeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>iwyzmgdik5</Name><Properties><Last-Modified>Fri, 05 Jun 2026 12:09:06 GMT</Last-Modified><Etag>\"0x8DEC2FB3E0FFE68\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>32</Quota><EnabledProtocols>NFS</EnabledProtocols><RootSquash>NoRootSquash</RootSquash><EnableSnapshotVirtualDirectoryAccess>false</EnableSnapshotVirtualDirectoryAccess><ProvisionedIops>3032</ProvisionedIops><ProvisionedBandwidthMiBps>129</ProvisionedBandwidthMiBps><NextAllowedQuotaDowngradeTime>Fri, 05 Jun 2026 12:09:06 GMT</NextAllowedQuotaDowngradeTime><IncludedBurstIops>10000</IncludedBurstIops><MaxBurstCreditsForIops>25084800</MaxBurstCreditsForIops><NextAllowedProvisionedIopsDowngradeTime>Fri, 05 Jun 2026 12:09:06 GMT</NextAllowedProvisionedIopsDowngradeTime><NextAllowedProvisionedBandwidthDowngradeTime>Fri, 05 Jun 2026 12:09:06 GMT</NextAllowedProvisionedBandwidthDowngradeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/faxio8sy9s?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:09:06 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-file-share-snapshot-usage-bytes": "0",
        "x-ms-file-share-usage-bytes": "0",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/iwyzmgdik5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:09:06 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-file-share-snapshot-usage-bytes": "0",
        "x-ms-file-share-usage-bytes": "0",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
