{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestpremiumnfspropertiesplaybackonly?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 09:04:45 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18F9B198FD89\"",
        "Last-Modified": "Tue, 10 Dec 2024 09:04:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestpremiumnfspropertiesplaybackonly/ttftEvLLa5?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 09:04:46 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18F9B1CBB51A\"",
        "Last-Modified": "Tue, 10 Dec 2024 09:04:46 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T09:04:46.5319194Z",
        "x-ms-file-creation-time": "2024-12-10T09:04:46.5319194Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T09:04:46.5319194Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "16527250253953985190*10198314055147650351",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/xnmueeb8dg?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 09:04:46 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18F9B2730DDF\"",
        "Last-Modified": "Tue, 10 Dec 2024 09:04:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/xnmueeb8dg/yzwrm062m2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 09:04:47 GMT",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "456",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18F9B2BA8704\"",
        "Last-Modified": "Tue, 10 Dec 2024 09:04:48 GMT",
        "x-ms-file-change-time": "2024-12-10T09:04:48.0970500Z",
        "x-ms-file-creation-time": "2024-12-10T09:04:48.0970500Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T09:04:48.0970500Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "456",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/xnmueeb8dg/yzwrm062m2?comp=properties&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 09:04:48 GMT",
        "x-ms-group": "123",
        "x-ms-mode": "0707",
        "x-ms-owner": "456",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18F9B2EC5B62\"",
        "Last-Modified": "Tue, 10 Dec 2024 09:04:48 GMT",
        "x-ms-file-change-time": "2024-12-10T09:04:48.4236130Z",
        "x-ms-file-creation-time": "2024-12-10T09:04:48.0970500Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T09:04:48.0970500Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "0707",
        "x-ms-owner": "456",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/xnmueeb8dg/yzwrm062m2?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 09:04:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18F9B2EC5B62\"",
        "Last-Modified": "Tue, 10 Dec 2024 09:04:48 GMT",
        "x-ms-file-change-time": "2024-12-10T09:04:48.4236130Z",
        "x-ms-file-creation-time": "2024-12-10T09:04:48.0970500Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T09:04:48.0970500Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "0707",
        "x-ms-owner": "456",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestpremiumnfspropertiesplaybackonly?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 09:04:49 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/xnmueeb8dg?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 09:04:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
