{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestpremiumnfspropertiesplaybackonly?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:37:22 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E51A516667\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:37:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestpremiumnfspropertiesplaybackonly/uvR9NSbGQq?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:37:22 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E51A804248\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:37:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-10T06:37:22.7669064Z",
        "x-ms-file-creation-time": "2024-12-10T06:37:22.7669064Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T06:37:22.7669064Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11903412958930568404*14837756684441293661",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestpremiumnfspropertiesplaybackonly/uvR9NSbGQq/r042Dm8mSX",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 Dec 2024 06:37:22 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E51AAE4A52\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:37:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T06:37:23.0685778Z",
        "x-ms-file-creation-time": "2024-12-10T06:37:23.0685778Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-10T06:37:23.0685778Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "7298827938045164499*14837756684441293661",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/url2srnhg8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:37:23 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E51ADD561A\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:37:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestpremiumnfspropertiesplaybackonly/uvR9NSbGQq/r042Dm8mSX",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:37:23 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD18E51AAE4A52\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:37:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T06:37:23.0685778Z",
        "x-ms-file-creation-time": "2024-12-10T06:37:23.0685778Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-10T06:37:23.0685778Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "7298827938045164499*14837756684441293661",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/url2srnhg8/sblhvagv0q",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "256",
        "x-ms-date": "Tue, 10 Dec 2024 06:37:23 GMT",
        "x-ms-file-file-type": "Regular",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "456",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E51B3F3B02\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:37:24 GMT",
        "x-ms-file-change-time": "2024-12-10T06:37:24.0184578Z",
        "x-ms-file-creation-time": "2024-12-10T06:37:24.0184578Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T06:37:24.0184578Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "456",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/url2srnhg8/sblhvagv0q?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:37:24 GMT",
        "x-ms-group": "123",
        "x-ms-mode": "0707",
        "x-ms-owner": "456",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E51B6E5363\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:37:24 GMT",
        "x-ms-file-change-time": "2024-12-10T06:37:24.3271011Z",
        "x-ms-file-creation-time": "2024-12-10T06:37:24.0184578Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T06:37:24.0184578Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-link-count": "1",
        "x-ms-mode": "0707",
        "x-ms-owner": "456",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/url2srnhg8/b6phqjbkzv?restype=symboliclink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:37:25 GMT",
        "x-ms-file-creation-time": "2024-12-10T06:37:23.0685778Z",
        "x-ms-file-last-write-time": "2024-12-10T06:37:23.0685778Z",
        "x-ms-group": "123",
        "x-ms-link-text": "https://zchangfilepremiumcanary.file.core.windows.net/url2srnhg8/sblhvagv0q",
        "x-ms-meta-meta7ruak": "5xOSOVmS5Q",
        "x-ms-meta-metaobvlm": "XZ1lU2YhyW",
        "x-ms-meta-metaqjkxw": "O631pncqEu",
        "x-ms-meta-metaufznr": "lGmGmWMAPu",
        "x-ms-meta-metayapcc": "15zsat4Zu7",
        "x-ms-owner": "456",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E51C58E3F2\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:37:25 GMT",
        "x-ms-file-change-time": "2024-12-10T06:37:25.8643442Z",
        "x-ms-file-creation-time": "2024-12-10T06:37:23.0685778Z",
        "x-ms-file-file-type": "SymLink",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-10T06:37:23.0685778Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "456",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/url2srnhg8/p6wub7xc2p?restype=hardlink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:37:26 GMT",
        "x-ms-file-target-file": "sblhvagv0q",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E51CB84BDD\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:37:26 GMT",
        "x-ms-file-change-time": "2024-12-10T06:37:26.4895965Z",
        "x-ms-file-creation-time": "2024-12-10T06:37:24.0184578Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T06:37:24.0184578Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-link-count": "2",
        "x-ms-mode": "0707",
        "x-ms-owner": "456",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/url2srnhg8/0wbzuop64z",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Tue, 10 Dec 2024 06:37:26 GMT",
        "x-ms-file-file-type": "Regular",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "456",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E51D148303\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:37:27 GMT",
        "x-ms-file-change-time": "2024-12-10T06:37:27.0939395Z",
        "x-ms-file-creation-time": "2024-12-10T06:37:27.0939395Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-12-10T06:37:27.0939395Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "456",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/url2srnhg8/0wbzuop64z?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:37:27 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "sagkEIsmhUXUTMnt9QG8npWgmwFg0isxtRj9F+IUMkcIsHc9tlST/vc9dxrOu6UKIRlNn76K13xFIg6Yt0ZhEroJSQFzESzValxhytBcH1r1r3GYmZx8eL23XAw7ftnau/qEfV8hEKs3kPMP4FWkj842gqysFsLG/uy1jvk5vW/NaW+X1nxPPuXMHr3/d2FeNvB0HqejiOyHc1b6Vv9hKbI3OwGvaYKnC4T8piB7lnoQVlRhN8wn7lgfjnyGWPtBWeLSKU+b9hvZYFSTIXNo7cQJU6zg2dnhGJQCsp3sYc6rnEniCh19CPzheGj8Y6z+C4rs8kakvASlIxSTqp3u1O+XzCEeUir/tpL0cFg8LrGLi22l0PPpZaCQ3PrXh5jWtuxRlOMvx1qC5P5JcRGkz4NJBN8P2Rqx4RybUc6slAWpBZ5XuQiCKUB7ynpBp0QTKVqvHrK1DXCbLNyrgM3xfhbgMpltBP3JurpPwQZk9QLxgDfbG8y0eszPVE3+YghPODybbRGSc59H+5U0/bffsHofhCBPs7B7zBudDytPTdxo/3zjNQwgnEPyxNhQ62XROpNQIFV8F5xFmGCM0CH0IvTOOivZvrM5NooA7GmkaYX+1NEqx1dQCyNBsza5PJoMH6gIIvtCL73oxk7PqCYHnTCXL9FFi7Kdj5Kq2iDUs9o=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "QzwloocdtD/EcRQz9krB4w==",
        "ETag": "\"0x8DD18E51D6F830C\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:37:27 GMT",
        "x-ms-file-last-write-time": "2024-12-10T06:37:27.6903180Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/url2srnhg8/5m8oequybw",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Tue, 10 Dec 2024 06:37:28 GMT",
        "x-ms-file-file-type": "Regular",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "456",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD18E51DCB458C\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:37:28 GMT",
        "x-ms-file-change-time": "2024-12-10T06:37:28.2916748Z",
        "x-ms-file-creation-time": "2024-12-10T06:37:28.2916748Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-12-10T06:37:28.2916748Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "456",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/url2srnhg8/5m8oequybw?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:37:28 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "sagkEIsmhUXUTMnt9QG8npWgmwFg0isxtRj9F+IUMkcIsHc9tlST/vc9dxrOu6UKIRlNn76K13xFIg6Yt0ZhEroJSQFzESzValxhytBcH1r1r3GYmZx8eL23XAw7ftnau/qEfV8hEKs3kPMP4FWkj842gqysFsLG/uy1jvk5vW/NaW+X1nxPPuXMHr3/d2FeNvB0HqejiOyHc1b6Vv9hKbI3OwGvaYKnC4T8piB7lnoQVlRhN8wn7lgfjnyGWPtBWeLSKU+b9hvZYFSTIXNo7cQJU6zg2dnhGJQCsp3sYc6rnEniCh19CPzheGj8Y6z+C4rs8kakvASlIxSTqp3u1O+XzCEeUir/tpL0cFg8LrGLi22l0PPpZaCQ3PrXh5jWtuxRlOMvx1qC5P5JcRGkz4NJBN8P2Rqx4RybUc6slAWpBZ5XuQiCKUB7ynpBp0QTKVqvHrK1DXCbLNyrgM3xfhbgMpltBP3JurpPwQZk9QLxgDfbG8y0eszPVE3+YghPODybbRGSc59H+5U0/bffsHofhCBPs7B7zBudDytPTdxo/3zjNQwgnEPyxNhQ62XROpNQIFV8F5xFmGCM0CH0IvTOOivZvrM5NooA7GmkaYX+1NEqx1dQCyNBsza5PJoMH6gIIvtCL73oxk7PqCYHnTCXL9FFi7Kdj5Kq2iDUs9o=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "QzwloocdtD/EcRQz9krB4w==",
        "ETag": "\"0x8DD18E51E261EB5\"",
        "Last-Modified": "Tue, 10 Dec 2024 06:37:28 GMT",
        "x-ms-file-last-write-time": "2024-12-10T06:37:28.8870581Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestpremiumnfspropertiesplaybackonly?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:37:29 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/url2srnhg8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 06:37:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
