{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4C4E12D6A\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes/1mthZRYELm?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:18 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4C5111FFE\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:18 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:47:18.9689342Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:18.9689342Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-17T15:47:18.9689342Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14799134079974362488*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes/VxAi9lKASI?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:19 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4C5406684\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:19 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:47:19.2787588Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:19.2787588Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-17T15:47:19.2787588Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14799134079974362488*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes/VxAi9lKASI/EsmVMdmrWo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:19 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4C56FAD0C\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:19 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:47:19.5885836Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:19.5885836Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-06-17T15:47:19.5885836Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "14799134079974362488*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes/VxAi9lKASI/fzxnjTLDGo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:19 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4C59DE249\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T15:47:19.8914121Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:19.8914121Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-06-17T15:47:19.8914121Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes/VxAi9lKASI/mvXf7Fdh2v?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:19 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4C5CDEC03\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:47:20.2062339Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:20.2062339Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-06-17T15:47:20.2062339Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "14799134079974362488*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes/VxAi9lKASI/JQFO09MYfk",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4C5FE43D0\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T15:47:20.5230544Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:20.5230544Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-06-17T15:47:20.5230544Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes/VxAi9lKASI/lpDHrOmswn?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4C62D8A55\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:47:20.8328789Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:20.8328789Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-06-17T15:47:20.8328789Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "14799134079974362488*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes/VxAi9lKASI/j2kbE2zvbN",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4C65BBF93\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T15:47:21.1357075Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:21.1357075Z",
        "x-ms-file-id": "9799903157902376960",
        "x-ms-file-last-write-time": "2024-06-17T15:47:21.1357075Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes/VxAi9lKASI/Z8cRtVnMBv?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:21 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4C689CDC2\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:21 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:47:21.4375362Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:21.4375362Z",
        "x-ms-file-id": "14411589176329764864",
        "x-ms-file-last-write-time": "2024-06-17T15:47:21.4375362Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "14799134079974362488*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes/VxAi9lKASI/CalqiUsjd3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4C6B73FD1\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T15:47:21.7353681Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:21.7353681Z",
        "x-ms-file-id": "12105746167116070912",
        "x-ms-file-last-write-time": "2024-06-17T15:47:21.7353681Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes/VxAi9lKASI/pfqCw8GTQl?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:21 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4C6E4B1DA\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T15:47:22.0331994Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:22.0331994Z",
        "x-ms-file-id": "16717432185543458816",
        "x-ms-file-last-write-time": "2024-06-17T15:47:22.0331994Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "14799134079974362488*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes/VxAi9lKASI/NAm34Jp1Vo",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:22 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8EE4C71271F8\"",
        "Last-Modified": "Mon, 17 Jun 2024 15:47:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T15:47:22.3330296Z",
        "x-ms-file-creation-time": "2024-06-17T15:47:22.3330296Z",
        "x-ms-file-id": "10952824662509223936",
        "x-ms-file-last-write-time": "2024-06-17T15:47:22.3330296Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes/VxAi9lKASI?comp=list&maxresults=3&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:22 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://euap.file.core.windows.net/\" ShareName=\"filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes\" DirectoryPath=\"VxAi9lKASI\"><MaxResults>3</MaxResults><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>CalqiUsjd3</Name><FileId>12105746167116070912</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>EsmVMdmrWo</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>fzxnjTLDGo</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker>1!16!ajJrYkUyenZiTj8x</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes/VxAi9lKASI?comp=list&marker=1!16!ajJrYkUyenZiTj8x&maxresults=3&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:22 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://euap.file.core.windows.net/\" ShareName=\"filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes\" DirectoryPath=\"VxAi9lKASI\"><Marker>1!16!ajJrYkUyenZiTj8x</Marker><MaxResults>3</MaxResults><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>j2kbE2zvbN</Name><FileId>9799903157902376960</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>JQFO09MYfk</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>lpDHrOmswn</Name><FileId>17293892937846882304</FileId><Properties /></Directory></Entries><NextMarker>1!16!bXZYZjdGZGgydj8x</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes/VxAi9lKASI?comp=list&marker=1!16!bXZYZjdGZGgydj8x&maxresults=3&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:22 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://euap.file.core.windows.net/\" ShareName=\"filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes\" DirectoryPath=\"VxAi9lKASI\"><Marker>1!16!bXZYZjdGZGgydj8x</Marker><MaxResults>3</MaxResults><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>mvXf7Fdh2v</Name><FileId>14988049928633188352</FileId><Properties /></Directory><File><Name>NAm34Jp1Vo</Name><FileId>10952824662509223936</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pfqCw8GTQl</Name><FileId>16717432185543458816</FileId><Properties /></Directory></Entries><NextMarker>1!16!WjhjUnRWbk1Cdj8x</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes/VxAi9lKASI?comp=list&marker=1!16!WjhjUnRWbk1Cdj8x&maxresults=3&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:23 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://euap.file.core.windows.net/\" ShareName=\"filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes\" DirectoryPath=\"VxAi9lKASI\"><Marker>1!16!WjhjUnRWbk1Cdj8x</Marker><MaxResults>3</MaxResults><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>Z8cRtVnMBv</Name><FileId>14411589176329764864</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharedirectoryclienttestlistfilesanddirectoriesmultipagetes?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 15:47:23 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
