{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestpremiumposixproperties?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:08:47 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FB34C79AC7\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:08:51 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestpremiumposixproperties/MpGsu84KzA?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:08:50 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FB34E7701A\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:08:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-06-05T12:08:51.3351706Z",
        "x-ms-file-creation-time": "2026-06-05T12:08:51.3351706Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-06-05T12:08:51.3351706Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14799134079974362488*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestpremiumposixproperties/MpGsu84KzA/Q9LfymtpRg",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 05 Jun 2026 12:08:50 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FB35066E12\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:08:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-06-05T12:08:51.5382802Z",
        "x-ms-file-creation-time": "2026-06-05T12:08:51.5382802Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-06-05T12:08:51.5382802Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/tb7tzpvskz?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:08:50 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FB3528F3C7\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:08:51 GMT",
        "x-ms-share-included-burst-iops": "10000",
        "x-ms-share-max-burst-credits-for-iops": "25084800",
        "x-ms-share-provisioned-bandwidth-mibps": "129",
        "x-ms-share-provisioned-iops": "3032",
        "x-ms-share-quota": "32",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestpremiumposixproperties/MpGsu84KzA/Q9LfymtpRg",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:08:50 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEC2FB35066E12\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:08:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-06-05T12:08:51.5382802Z",
        "x-ms-file-creation-time": "2026-06-05T12:08:51.5382802Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-06-05T12:08:51.5382802Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "944304957241799295*11941910252504767217",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/tb7tzpvskz/d4reajtz4x",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "256",
        "x-ms-date": "Fri, 05 Jun 2026 12:08:51 GMT",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-request-intent": "backup",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "456",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FB356B41B2\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:08:52 GMT",
        "x-ms-file-change-time": "2026-06-05T12:08:52.1990578Z",
        "x-ms-file-creation-time": "2026-06-05T12:08:52.1990578Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-06-05T12:08:52.1990578Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "456",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/tb7tzpvskz/d4reajtz4x?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:08:51 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-group": "123",
        "x-ms-mode": "0707",
        "x-ms-owner": "456",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FB358E59BF\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:08:52 GMT",
        "x-ms-file-change-time": "2026-06-05T12:08:52.4290495Z",
        "x-ms-file-creation-time": "2026-06-05T12:08:52.1990578Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-06-05T12:08:52.1990578Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-link-count": "1",
        "x-ms-mode": "0707",
        "x-ms-owner": "456",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/tb7tzpvskz/ryliodbchn?restype=symboliclink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:08:52 GMT",
        "x-ms-file-creation-time": "2026-06-05T12:08:51.5382802Z",
        "x-ms-file-last-write-time": "2026-06-05T12:08:51.5382802Z",
        "x-ms-file-request-intent": "backup",
        "x-ms-group": "123",
        "x-ms-link-text": "https://premiumfile001.file.core.windows.net/tb7tzpvskz/d4reajtz4x",
        "x-ms-meta-meta2hn2l": "Wk8gC5UQRJ",
        "x-ms-meta-metaf0orr": "DgBaPAHvyE",
        "x-ms-meta-metai1cqq": "ZhaY3XI3a3",
        "x-ms-meta-metaphtvy": "Aa7Tswn8Zh",
        "x-ms-meta-metaungix": "RWebTN9XMe",
        "x-ms-owner": "456",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FB363736BE\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:08:53 GMT",
        "x-ms-file-change-time": "2026-06-05T12:08:53.5357118Z",
        "x-ms-file-creation-time": "2026-06-05T12:08:51.5382802Z",
        "x-ms-file-file-type": "SymLink",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-06-05T12:08:51.5382802Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "456",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/tb7tzpvskz/okqg9brdir?restype=hardlink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:08:52 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-file-target-file": "d4reajtz4x",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FB367E785B\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:08:54 GMT",
        "x-ms-file-change-time": "2026-06-05T12:08:54.0026971Z",
        "x-ms-file-creation-time": "2026-06-05T12:08:52.1990578Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-06-05T12:08:52.1990578Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-link-count": "2",
        "x-ms-mode": "0707",
        "x-ms-owner": "456",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/tb7tzpvskz/fojtczgunq",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Fri, 05 Jun 2026 12:08:53 GMT",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-request-intent": "backup",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "456",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FB36C26111\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:08:54 GMT",
        "x-ms-file-change-time": "2026-06-05T12:08:54.4477457Z",
        "x-ms-file-creation-time": "2026-06-05T12:08:54.4477457Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-06-05T12:08:54.4477457Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "456",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/tb7tzpvskz/fojtczgunq?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:08:53 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": "jefriENmm99Myo+SuXW3GXozqlfF7Enf0KnqiCmqgiLF7D4odoAMiVWaTrKsiW2JZV3kP1ikxF9Ui465ojp87pZzQmPUVOIFziWeMWDWZw8RBjdIG7NmodZt/UYS/A47GCSlnl8kOwRkMIa17RvKZvQ6XeTKQ3pwMFm4AglAnJs0Y9XS+u0pdhhlGKJEV6zlrS8BsPlPnVTK6q6qCUq3VnyeYcynGkLw0TMkVI/1j7WOlvLGi7hNrVWjQLq65Rfd/cS3n/wMbDGychoIYiTri44EoOwdOQFkUa6m+B6YjSFRoxn1VkRw9+v7VGhoYhrXrXQSkRaWQfFtHfIeQ72s19rwTYnL7Kg3vphoGuMLJljx+oMmaTRjnrHnVUJUnb9NtH47fTNOhMYJJF88Ng4fGmNaAIGdNUmWbYJf9o4lHbCpAp5ly1IOiRRBRUYqA+/cSUE4t0MNmQjW/oIszJOOvtI3zbbVKCUzhK2y2660IkrQ2/9CMvzjD7CaTZGbKKB2xYgCNGYhf09s1QvF0LEbD1Ff59UvCpLNgS+2gMy+c2qMsYCDlUP3LGttqyKIiSaA9+B0OKyZlFDVJ5VKMNUsBykSVUowEpLOfFfRhYLt6voMD6dT3bXQ7EylnB8rzxPo3eeScMFtr4PIyBl24vudMdDtAQTYYfZIY65ZoA9LuQI=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "GW76Y6NXgyJKx1fFDS8MeQ==",
        "ETag": "\"0x8DEC2FB37042949\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:08:54 GMT",
        "x-ms-file-last-write-time": "2026-06-05T12:08:54.8788553Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/tb7tzpvskz/0xcycps0eq",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "512",
        "x-ms-date": "Fri, 05 Jun 2026 12:08:54 GMT",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-request-intent": "backup",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "456",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEC2FB37475B9C\"",
        "Last-Modified": "Fri, 05 Jun 2026 12:08:55 GMT",
        "x-ms-file-change-time": "2026-06-05T12:08:55.3192348Z",
        "x-ms-file-creation-time": "2026-06-05T12:08:55.3192348Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-06-05T12:08:55.3192348Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "456",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/tb7tzpvskz/0xcycps0eq?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:08:54 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": "jefriENmm99Myo+SuXW3GXozqlfF7Enf0KnqiCmqgiLF7D4odoAMiVWaTrKsiW2JZV3[...]
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/filesharefileclienttestpremiumposixproperties?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:08:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/tb7tzpvskz?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Jun 2026 12:08:55 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-file-share-snapshot-usage-bytes": "0",
        "x-ms-file-share-usage-bytes": "0",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
