{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.IoTFirmwareDefense/workspaces?api-version=2023-02-08-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "3d95310c-aaf4-4f02-a8bf-eb958504f687",
          "8bf4ccb9-e33f-4159-982a-a53f21969bf2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.IoTFirmwareDefense/workspaces/resourcetest",
            "name": "resourcetest",
            "type": "microsoft.iotfirmwaredefense/workspaces",
            "location": "eastus",
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-07-04T08:37:35.7053769Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-07-04T08:37:35.7053769Z"
            },
            "properties": {
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
