{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "countryCode": "US",
            "displayName": "Sanitized",
            "domains": [
              "drawbridge.com",
              "expresslogic.com",
              "euevents.microsoft.com",
              "nonprofits.microsoft.com",
              "benefits.microsoft.com",
              "forzaesports.com",
              "bons.ai",
              "azmosa.io",
              "fslogix.com",
              "Howdy.ai",
              "Xoxco.com",
              "Botkit.ai",
              "glintinc.com",
              "maquette.ms",
              "tibazdev.microsoft.com",
              "[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
            "authorizationSource": "RoleBased",
            "managedByTenants": [],
            "tags": {
              "owners": "bebroder,wesh",
              "DoNotDelete": ""
            },
            "subscriptionId": "00000000-0000-0000-0000-000000000000",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "displayName": "Sanitized",
            "state": "Enabled",
            "subscriptionPolicies": {
              "locationPlacementId": "Internal_2014-09-01",
              "quotaId": "Internal_2014-09-01",
              "spendingLimit": "Off"
            }
          }
        ],
        "count": {
          "type": "Total",
          "value": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Sanitized",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2024-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "subscriptions": [
          "00000000-0000-0000-0000-000000000000"
        ],
        "query": "resources | where type =~ 'Microsoft.Storage/storageAccounts' | limit 50"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-incomplete-scopes-state": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "249",
        "x-ms-ratelimit-remaining-tenant-resource-requests": "14",
        "x-ms-resource-graph-request-duration": "0:00:00:00.3579982",
        "x-ms-user-quota-remaining": "14",
        "x-ms-user-quota-resets-after": "00:00:05"
      },
      "ResponseBody": {
        "totalRecords": 50,
        "count": 50,
        "data": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-storage-t2198084bb7b044f4/providers/Microsoft.Storage/storageAccounts/vert2198084bb7b044f4",
            "name": "Sanitized",
            "type": "microsoft.storage/storageaccounts",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "kind": "StorageV2",
            "location": "westus2",
            "resourceGroup": "Sanitized",
            "subscriptionId": "00000000-0000-0000-0000-000000000000",
            "managedBy": "",
            "sku": {
              "name": "Sanitized",
              "tier": "Standard"
            },
            "plan": null,
            "properties": {
              "provisioningState": "Succeeded",
              "encryption": {
                "keySource": "Microsoft.Storage",
                "services": {
                  "blob": {
                    "enabled": true,
                    "lastEnabledTime": "2026-04-13T17:36:58.613Z",
                    "keyType": "Account"
                  },
                  "file": {
                    "enabled": true,
                    "lastEnabledTime": "2026-04-13T17:36:58.613Z",
                    "keyType": "Account"
                  }
                }
              },
              "privateEndpointConnections": [],
              "minimumTlsVersion": "TLS1_0",
              "supportsHttpsTrafficOnly": true,
              "allowBlobPublicAccess": false,
              "allowCrossTenantReplication": false,
              "allowCrossTenantDelegationSas": false,
              "primaryEndpoints": {
                "blob": "https://vert2198084bb7b044f4.blob.core.windows.net/",
                "file": "https://vert2198084bb7b044f4.file.core.windows.net/",
                "queue": "https://vert2198084bb7b044f4.queue.core.windows.net/",
                "table": "https://vert2198084bb7b044f4.table.core.windows.net/",
                "dfs": "https://vert2198084bb7b044f4.dfs.core.windows.net/",
                "web": "https://vert2198084bb7b044f4.z5.web.core.windows.net/"
              },
              "statusOfPrimary": "available",
              "keyCreationTime": {
                "key2": "2026-04-13T17:36:58.598Z",
                "key1": "2026-04-13T17:36:58.598Z"
              },
              "primaryLocation": "westus2",
              "creationTime": "2026-04-13T17:36:58.063Z",
              "networkAcls": {
                "virtualNetworkRules": [],
                "defaultAction": "Allow",
                "ipv6Rules": [],
                "ipRules": [],
                "bypass": "AzureServices"
              },
              "accessTier": "Hot",
              "secondaryLocation": "westcentralus",
              "statusOfSecondary": "available",
              "secondaryEndpoints": {
                "blob": "https://vert2198084bb7b044f4-secondary.blob.core.windows.net/",
                "queue": "https://vert2198084bb7b044f4-secondary.queue.core.windows.net/",
                "table": "https://vert2198084bb7b044f4-secondary.table.core.windows.net/",
                "dfs": "https://vert2198084bb7b044f4-secondary.dfs.core.windows.net/",
                "web": "https://vert2198084bb7b044f4-secondary.z5.web.core.windows.net/"
              }
            },
            "tags": {},
            "identity": null,
            "zones": null,
            "extendedLocation": null
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_rg-storage-t409a2a4ddd784fbf/providers/Microsoft.Storage/storageAccounts/premt409a2a4ddd784fbf",
            "name": "Sanitized",
            "type": "microsoft.storage/storageaccounts",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "kind": "StorageV2",
            "location": "westus2",
            "resourceGroup": "Sanitized",
            "su[...]
