{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-df4ba1aa-781e-d5ba-4fec-d90a153decb6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:24:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86FD88E5A049\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:24:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-df4ba1aa-781e-d5ba-4fec-d90a153decb6/test-blob-078c0a1a-ebb7-2b0d-4ff3-583f5c128e45",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 14:24:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Q237IR1pSZAs2Z07kprpJLhPUT3fssG4ZK5LL9pcRV/Ex9x+LxJsTo3ODRuHFGeUARpf3ZHgPpCrQ71uHhm1z5M9dsu9avWm4wOwEaWlME9Gty7A/GfO5IlL0utU/jBzGD2HSp6c1pclufqOMC3rBRNuKGfr9NMsb5JBcZcJUeTTPPhnHuaxqeGXm0NtQLRbYM3X5tbJhyNqW9oMWmT/G2cVuvM0g+ctvH6FVFmPvy/e5hHKMmsOCrTU/cILpU58l4DcV4XAJtzlqilXQzPK2pyrLXRSNej8BrA+X4YlIRcvCLzYs2epHb805YdBt8eBCiIlYHfaKmKX31HUgcdWv4kRKDp28Sc1ARC1HVBhu0/p[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-df4ba1aa-781e-d5ba-4fec-d90a153decb6/test-blob-078c0a1a-ebb7-2b0d-4ff3-583f5c128e45",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:24:25 GMT",
        "x-ms-range": "bytes=0-156",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-156/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86FD88EF307E\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:24:26 GMT",
        "x-ms-blob-content-md5": "BSexOsGijjNHhhE+nUXQTA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 14:24:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 07 Jun 2024 14:24:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T14:24:26.1992574Z"
      },
      "ResponseBody": "Q237IR1pSZAs2Z07kprpJLhPUT3fssG4ZK5LL9pcRV/Ex9x+LxJsTo3ODRuHFGeUARpf3ZHgPpCrQ71uHhm1z5M9dsu9avWm4wOwEaWlME9Gty7A/GfO5IlL0utU/jBzGD2HSp6c1pclufqOMC3rBRNuKGfr9NMsb5JBcZcJUeTTPPhnHuaxqeGXm0NtQLRbYM3X5tbJhyNqW9oMWg=="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-df4ba1aa-781e-d5ba-4fec-d90a153decb6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:24:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1290135141",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
