{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest153?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "addConfigTest153",
        "label": "MyLabel",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Y5cH_HJaKEMWsuuTPRSYqfNI7uC3manPgfrbE4Ng2Ak\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI5MzU=;sn=74772935",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:56 GMT"
      },
      "ResponseBody": {
        "etag": "Y5cH_HJaKEMWsuuTPRSYqfNI7uC3manPgfrbE4Ng2Ak",
        "key": "addConfigTest153",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest153?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzI5MzU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Y5cH_HJaKEMWsuuTPRSYqfNI7uC3manPgfrbE4Ng2Ak\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:17:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzI5NDM=;sn=74772943",
        "x-ms-date": "Thu, 23 Oct 2025 05:17:56 GMT"
      },
      "ResponseBody": {
        "etag": "Y5cH_HJaKEMWsuuTPRSYqfNI7uC3manPgfrbE4Ng2Ak",
        "key": "addConfigTest153",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:17:56+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigTest": "addConfigTest153"
  }
}
