{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigSample777?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "addConfigSample777",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Wg4J7Bx_3vsZwndTYZkXqhAEzK4z0pop1vahf2fk8rE\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:54:52 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUwNDU=;sn=74855045",
        "x-ms-date": "Sun, 26 Oct 2025 07:54:52 GMT"
      },
      "ResponseBody": {
        "etag": "Wg4J7Bx_3vsZwndTYZkXqhAEzK4z0pop1vahf2fk8rE",
        "key": "addConfigSample777",
        "label": null,
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:54:52+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigSample": "addConfigSample777"
  }
}
