{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest731?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "MyLabel",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3jxpVg0Vl7EHMnuRK9HgHHMWJZ5xKvq9a4AnhuH4dVU\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzg3Nw==;sn=115287877",
        "x-ms-date": "Thu, 28 May 2026 21:21:55 GMT"
      },
      "ResponseBody": {
        "etag": "3jxpVg0Vl7EHMnuRK9HgHHMWJZ5xKvq9a4AnhuH4dVU",
        "key": "addConfigTest731",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:55+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest731?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzg3Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3jxpVg0Vl7EHMnuRK9HgHHMWJZ5xKvq9a4AnhuH4dVU\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzg3OQ==;sn=115287879",
        "x-ms-date": "Thu, 28 May 2026 21:21:55 GMT"
      },
      "ResponseBody": {
        "etag": "3jxpVg0Vl7EHMnuRK9HgHHMWJZ5xKvq9a4AnhuH4dVU",
        "key": "addConfigTest731",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:55+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigTest": "addConfigTest731"
  }
}
