{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTestTwice559?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "addConfigTestTwice559",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nch4N0rcqqpLvtaeA8r6W6ZqYaQWb4f2Ae3I9VY_z2o\"",
        "Last-Modified": "Thu, 11 Jul 2024 18:19:30 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5OTQ5;sn=2799949"
      },
      "ResponseBody": {
        "etag": "nch4N0rcqqpLvtaeA8r6W6ZqYaQWb4f2Ae3I9VY_z2o",
        "key": "addConfigTestTwice559",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T18:19:30+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTestTwice559?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=ODoxNSMyNzk5OTQ5"
      },
      "RequestBody": {
        "key": "addConfigTestTwice559",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5OTQ5;sn=2799949"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTestTwice559?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyNzk5OTQ5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nch4N0rcqqpLvtaeA8r6W6ZqYaQWb4f2Ae3I9VY_z2o\"",
        "Last-Modified": "Thu, 11 Jul 2024 18:19:30 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5OTUw;sn=2799950"
      },
      "ResponseBody": {
        "etag": "nch4N0rcqqpLvtaeA8r6W6ZqYaQWb4f2Ae3I9VY_z2o",
        "key": "addConfigTestTwice559",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T18:19:30+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigTestTwice": "addConfigTestTwice559"
  }
}
