{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTestTwice284?api-version=2026-04-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sigU0L3JoWiujZ53NTyUQVdNfdH9z8hTGvG2Ei6zIVw\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTg5Nw==;sn=53125897",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:51 GMT"
      },
      "ResponseBody": {
        "etag": "sigU0L3JoWiujZ53NTyUQVdNfdH9z8hTGvG2Ei6zIVw",
        "key": "addConfigTestTwice284",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:51+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTestTwice284?api-version=2026-04-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTg5Nw=="
      },
      "RequestBody": {
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTg5OA==;sn=53125898",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:51 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTestTwice284?api-version=2026-04-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTg5OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sigU0L3JoWiujZ53NTyUQVdNfdH9z8hTGvG2Ei6zIVw\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTkwMA==;sn=53125900",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:51 GMT"
      },
      "ResponseBody": {
        "etag": "sigU0L3JoWiujZ53NTyUQVdNfdH9z8hTGvG2Ei6zIVw",
        "key": "addConfigTestTwice284",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:51+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigTestTwice": "addConfigTestTwice284"
  }
}
