{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTestTwice477?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "addConfigTestTwice477",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"r5lobeKA8ky0QOjAyb7xDLrtO3J5528V6ZTIr5H8JaM\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:57:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjE1OQ==;sn=103846159",
        "x-ms-date": "Mon, 26 Jan 2026 02:57:04 GMT"
      },
      "ResponseBody": {
        "etag": "r5lobeKA8ky0QOjAyb7xDLrtO3J5528V6ZTIr5H8JaM",
        "key": "addConfigTestTwice477",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T02:57:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTestTwice477?api-version=2023-11-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjE1OQ=="
      },
      "RequestBody": {
        "key": "addConfigTestTwice477",
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjE2Mg==;sn=103846162",
        "x-ms-date": "Mon, 26 Jan 2026 02:57:05 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTestTwice477?api-version=2023-11-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NjE2Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"r5lobeKA8ky0QOjAyb7xDLrtO3J5528V6ZTIr5H8JaM\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:57:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NjE2Ng==;sn=103846166",
        "x-ms-date": "Mon, 26 Jan 2026 02:57:05 GMT"
      },
      "ResponseBody": {
        "etag": "r5lobeKA8ky0QOjAyb7xDLrtO3J5528V6ZTIr5H8JaM",
        "key": "addConfigTestTwice477",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T02:57:04+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigTestTwice": "addConfigTestTwice477"
  }
}
