{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest781?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "MyLabel",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FjQJ0aN2jVQuz6B_KxWdGKR8jy3g2ZVPGlD1sSz6gDw\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:00 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0Njc1;sn=65174675",
        "x-ms-date": "Wed, 06 May 2026 17:09:00 GMT"
      },
      "ResponseBody": {
        "etag": "FjQJ0aN2jVQuz6B_KxWdGKR8jy3g2ZVPGlD1sSz6gDw",
        "key": "addConfigTest781",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:09:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest781?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0Njc1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FjQJ0aN2jVQuz6B_KxWdGKR8jy3g2ZVPGlD1sSz6gDw\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:00 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0Njc4;sn=65174678",
        "x-ms-date": "Wed, 06 May 2026 17:09:00 GMT"
      },
      "ResponseBody": {
        "etag": "FjQJ0aN2jVQuz6B_KxWdGKR8jy3g2ZVPGlD1sSz6gDw",
        "key": "addConfigTest781",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:09:00+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigTest": "addConfigTest781"
  }
}
