{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest919?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "addConfigTest919",
        "label": "MyLabel",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Yx-NmYgnTmBWRFrKFUMk3_7Ika3awrapVvGsXTR01SA\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3Njk3OQ==;sn=102476979",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:27 GMT"
      },
      "ResponseBody": {
        "etag": "Yx-NmYgnTmBWRFrKFUMk3_7Ika3awrapVvGsXTR01SA",
        "key": "addConfigTest919",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:08:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest919?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3Njk3OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Yx-NmYgnTmBWRFrKFUMk3_7Ika3awrapVvGsXTR01SA\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3Njk4Mg==;sn=102476982",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:27 GMT"
      },
      "ResponseBody": {
        "etag": "Yx-NmYgnTmBWRFrKFUMk3_7Ika3awrapVvGsXTR01SA",
        "key": "addConfigTest919",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:08:27+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigTest": "addConfigTest919"
  }
}
