{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigSample429?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "addConfigSample429",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Q58H2KUSbUnbmKHVgwmL3eFP8ACFixIUkh5QaWG2nuw\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:37:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk0NDg=;sn=73799448"
      },
      "ResponseBody": {
        "etag": "Q58H2KUSbUnbmKHVgwmL3eFP8ACFixIUkh5QaWG2nuw",
        "key": "addConfigSample429",
        "label": null,
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:37:50+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigSample": "addConfigSample429"
  }
}
