{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest751?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "addConfigTest751",
        "label": "MyLabel",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4BKrdu6DvdUUYWD_iRhqNAaFAgGieZScEcy98RzFBfk\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:29:11 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI2NDI=;sn=74102642"
      },
      "ResponseBody": {
        "etag": "4BKrdu6DvdUUYWD_iRhqNAaFAgGieZScEcy98RzFBfk",
        "key": "addConfigTest751",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:29:11+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest751?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDI2NDI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4BKrdu6DvdUUYWD_iRhqNAaFAgGieZScEcy98RzFBfk\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:29:11 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI2NDU=;sn=74102645"
      },
      "ResponseBody": {
        "etag": "4BKrdu6DvdUUYWD_iRhqNAaFAgGieZScEcy98RzFBfk",
        "key": "addConfigTest751",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:29:11+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigTest": "addConfigTest751"
  }
}
