{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest0?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "addConfigTest0",
        "label": "MyLabel",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4kN8NiJu7V5hHBObGrm4Cha3VynF2CQElg-L1g6ig8g\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:23:20 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzgyMjg=;sn=73738228"
      },
      "ResponseBody": {
        "etag": "4kN8NiJu7V5hHBObGrm4Cha3VynF2CQElg-L1g6ig8g",
        "key": "addConfigTest0",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:23:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest0?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3MzgyMjg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4kN8NiJu7V5hHBObGrm4Cha3VynF2CQElg-L1g6ig8g\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:23:20 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3MzgyMzQ=;sn=73738234"
      },
      "ResponseBody": {
        "etag": "4kN8NiJu7V5hHBObGrm4Cha3VynF2CQElg-L1g6ig8g",
        "key": "addConfigTest0",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:23:20+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigTest": "addConfigTest0"
  }
}
