{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest277?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "addConfigTest277",
        "label": "MyLabel",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nVG7T8vnanx0vOfEbTvD_O53O-I36yffG33FhQ3chls\"",
        "Last-Modified": "Thu, 11 Jul 2024 18:19:27 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5OTQ3;sn=2799947"
      },
      "ResponseBody": {
        "etag": "nVG7T8vnanx0vOfEbTvD_O53O-I36yffG33FhQ3chls",
        "key": "addConfigTest277",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T18:19:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest277?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyNzk5OTQ3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nVG7T8vnanx0vOfEbTvD_O53O-I36yffG33FhQ3chls\"",
        "Last-Modified": "Thu, 11 Jul 2024 18:19:27 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk5OTQ4;sn=2799948"
      },
      "ResponseBody": {
        "etag": "nVG7T8vnanx0vOfEbTvD_O53O-I36yffG33FhQ3chls",
        "key": "addConfigTest277",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T18:19:27+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigTest": "addConfigTest277"
  }
}
