{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigSample821?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "addConfigSample821",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gBk7j5UaWc_bJqRkgU_r1un3g0vmL1djJ5ad2zKWbXQ\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:24 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMzMjg=;sn=74013328"
      },
      "ResponseBody": {
        "etag": "gBk7j5UaWc_bJqRkgU_r1un3g0vmL1djJ5ad2zKWbXQ",
        "key": "addConfigSample821",
        "label": null,
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:24+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigSample": "addConfigSample821"
  }
}
