{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigSample377?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "addConfigSample377",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"u3DMq1_QqHKJCNcH9TXblRnrijCa40T1-SvB9xV29YE\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:36:58 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3ODkzMQ==;sn=103578931",
        "x-ms-date": "Fri, 23 Jan 2026 08:36:58 GMT"
      },
      "ResponseBody": {
        "etag": "u3DMq1_QqHKJCNcH9TXblRnrijCa40T1-SvB9xV29YE",
        "key": "addConfigSample377",
        "label": null,
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:36:58+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigSample": "addConfigSample377"
  }
}
