{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTestTwice204?api-version=2026-04-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"p2YzGXSodVfDJzW-DfbWT7B9TmOsieljBwSMF78v4i8\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:45 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTY0Ng==;sn=53365646",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:45 GMT"
      },
      "ResponseBody": {
        "etag": "p2YzGXSodVfDJzW-DfbWT7B9TmOsieljBwSMF78v4i8",
        "key": "addConfigTestTwice204",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTestTwice204?api-version=2026-04-01&label=test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTY0Ng=="
      },
      "RequestBody": {
        "label": "test",
        "value": "foo"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTY0Ng==;sn=53365646",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:46 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTestTwice204?api-version=2026-04-01&label=test",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTY0Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"p2YzGXSodVfDJzW-DfbWT7B9TmOsieljBwSMF78v4i8\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:45 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTY0Nw==;sn=53365647",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:46 GMT"
      },
      "ResponseBody": {
        "etag": "p2YzGXSodVfDJzW-DfbWT7B9TmOsieljBwSMF78v4i8",
        "key": "addConfigTestTwice204",
        "label": "test",
        "content_type": null,
        "value": "foo",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:45+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigTestTwice": "addConfigTestTwice204"
  }
}
