{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest850?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "addConfigTest850",
        "label": "MyLabel",
        "value": "MyValue"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YrBp5_Zfa7mDxfwdMKKO5Md1RyphGDisi6hrdFH-PW0\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMzNzE=;sn=74013371"
      },
      "ResponseBody": {
        "etag": "YrBp5_Zfa7mDxfwdMKKO5Md1RyphGDisi6hrdFH-PW0",
        "key": "addConfigTest850",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/addConfigTest850?api-version=2023-11-01&label=MyLabel",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTMzNzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YrBp5_Zfa7mDxfwdMKKO5Md1RyphGDisi6hrdFH-PW0\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTMzNzY=;sn=74013376"
      },
      "ResponseBody": {
        "etag": "YrBp5_Zfa7mDxfwdMKKO5Md1RyphGDisi6hrdFH-PW0",
        "key": "addConfigTest850",
        "label": "MyLabel",
        "content_type": null,
        "value": "MyValue",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:27+00:00"
      }
    }
  ],
  "Variables": {
    "addConfigTest": "addConfigTest850"
  }
}
