{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.App/operations?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidResourceType",
          "message": "The resource type 'operations' could not be found in the namespace 'Microsoft.App' for api version '2024-03-01'. The supported api-versions are '2022-03-01,2022-06-01-preview,2022-10-01,2022-11-01-preview,2023-02-01,2023-04-01-preview,2023-05-01,2023-05-02-preview,2023-08-01-preview,2023-11-02-preview,2024-02-02-preview'."
        }
      }
    }
  ],
  "Variables": {}
}
