{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.App/operations?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-02-01, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft Apps",
              "resource": "Microsoft Apps resource provider",
              "operation": "Register microsoft.app resource provider",
              "description": "Register microsoft.app resource provider for the subscription"
            },
            "origin": "user, system"
          },
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft Apps",
              "resource": "Microsoft Apps resource provider",
              "operation": "Unregister microsoft.app resource provider",
              "description": "Unregister microsoft.app resource provider for the subscription"
            },
            "origin": "user, system"
          },
          {
            "na[...]
