{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/containerApps?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "",
          "",
          ""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.App/containerApps",
            "location": "East US",
            "tags": {
              "DoNotDelete": "",
              "Owners": "marioguerra"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2024-03-11T17:05:42.7192293",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2024-06-05T15:43:32.1418655"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "runningStatus": "Running",
              "managedEnvironmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azsdk-pm-ai/providers/Microsoft.App/managedEnvironments/managed-env-azsdkpmai",
              "environmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azsdk-pm-ai/providers/Microsoft.App/managedEnvironments/managed-env-azsdkpmai",
              "workloadProfileName": "Consumption",
              "outboundIpAddresses": [
                "20.231.246.122",
                "20.231.246.54",
                "20.231.247.19",
                "20.231.246.253",
                "20.241.227.6",
                "20.241.226.169",
                "20.127.248.50",
                "20.241.171.30",
                "20.241.172.248",
                "20.241.172.250",
                "20.246.203.138",
                "20.246.203.140",
                "52.191.22.226",
                "52.191.22.23",
                "52.191.22.71"[...]
