{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/persons",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "test"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/persons/38e78269-ce62-42b7-8861-046f3bc82c46",
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/operations/c17917e0-db42-4332-99a2-5f9d1d4248c5",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "personId": "38e78269-ce62-42b7-8861-046f3bc82c46"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/dynamicpersongroups/b168ab6f-bfc1-04f6-6a7f-8dd18a376223",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "b168ab6f-bfc1-04f6-6a7f-8dd18a376223",
        "addPersonIds": [
          "38e78269-ce62-42b7-8861-046f3bc82c46"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/operations/24151c80-e64a-41fa-905f-52cf84043320",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/operations/c17917e0-db42-4332-99a2-5f9d1d4248c5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdTime": "2024-05-10T08:09:14.4454691Z",
        "lastActionTime": "2024-05-10T08:09:15.3584829Z",
        "finishedTime": "2024-05-10T08:09:15.3584836Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/persons/38e78269-ce62-42b7-8861-046f3bc82c46",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "personId": "38e78269-ce62-42b7-8861-046f3bc82c46",
        "name": "test"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/operations/24151c80-e64a-41fa-905f-52cf84043320",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdTime": "2024-05-10T08:09:15.1390289Z",
        "lastActionTime": "2024-05-10T08:09:15.4557141Z",
        "finishedTime": "2024-05-10T08:09:15.4557148Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/dynamicpersongroups/b168ab6f-bfc1-04f6-6a7f-8dd18a376223"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/dynamicpersongroups/b168ab6f-bfc1-04f6-6a7f-8dd18a376223",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "dynamicPersonGroupId": "b168ab6f-bfc1-04f6-6a7f-8dd18a376223",
        "name": "b168ab6f-bfc1-04f6-6a7f-8dd18a376223"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.2-preview.1/persons/38e78269-ce62-42b7-8861-046f3bc82c46",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "operatio[...]
