{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/datasets/test-eval-dataset/versions/1.4.14/startPendingUpload?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "connectionName": "00000",
        "pendingUploadType": "BlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a8dafa03-aa0a-40c8-bc03-b429db95ae23",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.424"
      },
      "ResponseBody": {
        "blobReference": {
          "blobUri": "https://Sanitized.azure.com/balapv-1dp-6db42634-8deb-501e-bd5f-391fda850089",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/00000",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://Sanitized.azure.com/balapv-1dp-6db42634-8deb-501e-bd5f-391fda850089?skoid=b6332783-4c2c-4ec9-964a-9c66da11927c&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-06-06T21%3A29%3A30Z&ske=2025-06-07T13%3A39%3A30Z&sks=b&skv=2025-01-05&sv=Sanitized&st=2025-06-06T21%3A29%3A30Z&se=2025-06-07T05%3A39%3A30Z&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "blobReferenceForConsumption": {
          "blobUri": "https://Sanitized.azure.com/balapv-1dp-6db42634-8deb-501e-bd5f-391fda850089",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/00000",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://Sanitized.azure.com/balapv-1dp-6db42634-8deb-501e-bd5f-391fda850089?skoid=b6332783-4c2c-4ec9-964a-9c66da11927c&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-06-06T21%3A29%3A30Z&ske=2025-06-07T13%3A39%3A30Z&sks=b&skv=2025-01-05&sv=Sanitized&st=2025-06-06T21%3A29%3A30Z&se=2025-06-07T05%3A39%3A30Z&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "pendingUploadId": null,
        "pendingUploadType": "BlobReference",
        "version": "1.4.14"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/balapv-1dp-6db42634-8deb-501e-bd5f-391fda850089/sample_data_evaluation.jsonl?skoid=b6332783-4c2c-4ec9-964a-9c66da11927c&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-06-06T21%3A29%3A30Z&ske=2025-06-07T13%3A39%3A30Z&sks=b&skv=2025-01-05&sv=Sanitized&st=2025-06-06T21%3A29%3A30Z&se=2025-06-07T05%3A39%3A30Z&sr=c&sp=rcwl&sig=Sanitized&comp=block&blockid=sanitized_blockid",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "eyJxdWVyeSI6ICJXaGF0IGlzIGNhcGl0YWwgb2YgRnJhbmNlPyIsICJjb250ZXh0IjogIkZyYW5jZSBpcyBpbiBFdXJvcGUiLCAicmVzcG9uc2UiOiAiUGFyaXMgaXMgdGhlIGNhcGl0YWwgb2YgRnJhbmNlLiIsICJncm91bmRfdHJ1dGgiOiAiUGFyaXMgaXMgdGhlIGNhcGl0YWwgb2YgRnJhbmNlLiJ9Cg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "DibGssF0wVs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/balapv-1dp-6db42634-8deb-501e-bd5f-391fda850089/sample_data_evaluation.jsonl?skoid=b6332783-4c2c-4ec9-964a-9c66da11927c&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-06-06T21%3A29%3A30Z&ske=2025-06-07T13%3A39%3A30Z&sks=b&skv=2025-01-05&sv=Sanitized&st=2025-06-06T21%3A29%3A30Z&se=2025-06-07T05%3A39%3A30Z&sr=c&sp=rcwl&sig=Sanitized&comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><BlockList><Latest>ZGU0NjkzZTUtZmU5My00OTM3LTg0NzEtMzk2MzllZTBiOTNlMDAwMDAwMDAwMDAw</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDA5429EF7BD45\"",
        "Last-Modified": "Fri, 06 Jun 2025 21:39:30 GMT",
        "x-ms-content-crc64": "oXWNew8yq2o=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/datasets/test-eval-dataset/versions/1.4.14?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "dataUri": "https://Sanitized.azure.com/balapv-1dp-6db42634-8deb-501e-bd5f-391fda850089/sample_data_evaluation.jsonl?skoid=b6332783-4c2c-4ec9-964a-9c66da11927c&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-06-06T21%3A29%3A30Z&ske=2025-06-07T13%3A39%3A30Z&sks=b&skv=2025-01-05&sv=Sanitized&st=2025-06-06T21%3A29%3A30Z&se=2025-06-07T05%3A39%3A30Z&sr=c&sp=rcwl&sig=Sanitized",
        "type": "uri_file"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "faef284a-6a8a-42a0-85e7-3cc1fcb6a0de",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.638"
      },
      "ResponseBody": {
        "id": "azureai://accounts/balapv-1dp-prod-account1/projects/project1/data/test-eval-dataset/versions/1.4.14",
        "name": "test-eval-dataset",
        "version": "1.4.14",
        "displayName": "test-eval-dataset",
        "description": null,
        "tags": {},
        "type": "uri_file",
        "isReference": false,
        "dataUri": "https://Sanitized.azure.com/balapv-1dp-6db42634-8deb-501e-bd5f-391fda850089/sample_data_evaluation.jsonl?skoid=b6332783-4c2c-4ec9-964a-9c66da11927c&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2025-06-06T21%3A29%3A30Z&ske=2025-06-07T13%3A39%3A30Z&sks=b&skv=2025-01-05&sv=Sanitized&st=2025-06-06T21%3A29%3A30Z&se=2025-06-07T05%3A39%3A30Z&sr=c&sp=rcwl&sig=Sanitized",
        "connectionName": null,
        "systemData": {
          "createdAt": "2025-06-06T21:39:31.21175+00:00",
          "createdBy": "Sanitized",
          "createdByType": null,
          "lastModifiedAt": "2025-06-06T21:39:31.21175+00:00"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/evaluations/runs:run?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "data": {
          "type": "dataset",
          "id": "azureai://accounts/balapv-1dp-prod-account1/projects/project1/data/test-eval-dataset/versions/1.4.14"
        },
        "displayName": "Test Evaluation",
        "description": "This is a test evaluation right now",
        "evaluators": {
          "relevance": {
            "id": "azureai://built-in/evaluators/relevance",
            "initParams": {
              "deploymentName": "gpt-4o-mini"
            },
            "dataMapping": {
              "query": "${data.query}",
              "response": "${data.response}"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cdc5fe0d-2bec-4b3a-aa67-664a0dcdf189",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.459"
      },
      "ResponseBody": {
        "data": {
          "id": "azureai://accounts/balapv-1dp-prod-account1/projects/project1/data/test-eval-dataset/versions/1.4.14",
          "type": "Dataset"
        },
        "target": null,
        "description": "This is a test evaluation right now",
        "evaluators": {
          "relevance": {
            "id": "azureai://built-in/evaluators/relevance",
            "initParams": {
              "deploymentName": "gpt-4o-mini"
            },
            "dataMapping": {
              "query": "${data.query}",
              "response": "${data.response}"
            }
          }
        },
        "id": "10255610-e091-487d-98dc-80fa4ccf916b",
        "displayName": "Test Evaluation",
        "tags": {},
        "properties": {
          "runType": "eval_run",
          "_azureml.evaluation_run": "evaluation.service",
          "_azureml.evaluate_artifacts": "[{\"path\": \"instance_results.jsonl\", \"type\": \"table\"}]",
          "AiStudioEvaluationUri": "https://Sanitized.azure.com/resource/build/evaluation/10255610-e091-487d-98dc-80fa4ccf916b?wsid=/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1&tid=72f988bf-86f1-41af-91ab-2d7cd011db47",
          "_azureml.evaluation_name_map_length": "1",
          "_azureml.evaluation_name_map_0": "{\"relevance\":\"relevance\"}"
        },
        "status": "NotStarted",
        "outputs": {},
        "systemData": {
          "createdAt": "06/06/2025 21:39:33 +00:00",
          "createdBy": "Sanitized",
          "modifiedBy": "Bo Gou"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/evaluations/runs/10255610-e091-487d-98dc-80fa4ccf916b?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bceeb11[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/datasets/test-eval-dataset/versions/1.4.14?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "mise-correlation-id": "52bb04fe-c168-4e3a-a201-60ff15d1d5a4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.116"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
