{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/assistants?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4",
        "name": "cs_e2e_tests_client",
        "instructions": "You are helpful agent."
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "92",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8b98f136-ee45-40e2-b38f-300f904e4e06",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.327"
      },
      "ResponseBody": {
        "id": "asst_7mZMWDiDTZwOzLHbStsAIz6a",
        "object": "assistant",
        "created_at": 1747176929,
        "name": "cs_e2e_tests_client",
        "description": null,
        "model": "gpt-4",
        "instructions": "You are helpful agent.",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=v1&limit=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "31",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4d73918b-a1d5-40b8-a475-b50989d5bebd",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.250"
      },
      "ResponseBody": {
        "object": "list",
        "data": [],
        "first_id": null,
        "last_id": null,
        "has_more": false
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeade[...]
