{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "69",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c1f0bc27-7bec-4a26-9f91-f3d50953af6a",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.603"
      },
      "ResponseBody": {
        "id": "thread_DZxGjareW2fevtlyvBIs42Km",
        "object": "thread",
        "created_at": 1746476277,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_DZxGjareW2fevtlyvBIs42Km/messages?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "67",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "458bec54-f041-40ef-8d19-3e7408596b76",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.457"
      },
      "ResponseBody": {
        "object": "list",
        "data": [],
        "first_id": null,
        "last_id": null,
        "has_more": false
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_DZxGjareW2fevtlyvBIs42Km/messages?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "149",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0a37ffad-3f5e-4b9b-9c5f-da72489cc6ad",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.569"
      },
      "ResponseBody": {
        "id": "msg_nSe1EJ7rMczz8pkaBMB1eKwe",
        "object": "thread.message",
        "created_at": 1746476279,
        "assistant_id": null,
        "thread_id": "thread_DZxGjareW2fevtlyvBIs42Km",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "foo",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_DZxGjareW2fevtlyvBIs42Km/messages?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
 [...]
