{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "71",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "828a1ae0-5e6f-4f24-b1ea-947a32a93ae8",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.315"
      },
      "ResponseBody": {
        "id": "thread_nofUwNenW5yq6FtkoSKxPJuK",
        "object": "thread",
        "created_at": 1746222392,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_nofUwNenW5yq6FtkoSKxPJuK/messages?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "93",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4e3558e0-774c-4dc2-8172-e43a57390f43",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.346"
      },
      "ResponseBody": {
        "id": "msg_xKiUwey5UBfROgsSscKBe55N",
        "object": "thread.message",
        "created_at": 1746222392,
        "assistant_id": null,
        "thread_id": "thread_nofUwNenW5yq6FtkoSKxPJuK",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    }
  ],
  "Variables": {
    "PROJECT_CONNECTION_STRING": "westus.api.azureml.ms;b17253fa-f327-42d6-9686-f3e553e24763;nirovins-rg-eastus;nirovins-westus",
    "PROJECT_ENDPOINT": "westus.api.azureml.ms;b17253fa-f327-42d6-9686-f3e553e24763;nirovins-rg-eastus;nirovins-westus",
    "RandomSeed": "322220828"
  }
}
