{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/assistants?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4",
        "name": "cs_e2e_tests_client",
        "instructions": "You are helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "64",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0d8f844e-8c2a-4e41-9bff-2e6f3f8786cc",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.266"
      },
      "ResponseBody": {
        "id": "asst_cV7aoMISlpvkZtgMjA6h1c9s",
        "object": "assistant",
        "created_at": 1747177448,
        "name": "cs_e2e_tests_client",
        "description": null,
        "model": "gpt-4",
        "instructions": "You are helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/assistants/asst_cV7aoMISlpvkZtgMjA6h1c9s?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "114",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0f1c4729-be58-407b-a442-37214df9a2d8",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.333"
      },
      "ResponseBody": {
        "id": "asst_cV7aoMISlpvkZtgMjA6h1c9s",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {
    "PROJECT_CONNECTION_STRING": "westus.api.azureml.ms;b17253fa-f327-42d6-9686-f3e553e24763;nirovins-rg-eastus;nirovins-westus",
    "PROJECT_ENDPOINT": "westus.api.azureml.ms;b17253fa-f327-42d6-9686-f3e553e24763;nirovins-rg-eastus;nirovins-westus",
    "RandomSeed": "1270391377"
  }
}
