{
  "Entries": [
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "69",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4260cde2-3d35-4d80-9609-bd11948d206d",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.326"
      },
      "ResponseBody": {
        "id": "thread_p2IAdYHgCXxADskpgMKeQiEU",
        "object": "thread",
        "created_at": 1755889785,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/threads/thread_p2IAdYHgCXxADskpgMKeQiEU/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "156",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "80ac71b3-0428-4041-936a-b8ace292aa8e",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.393"
      },
      "ResponseBody": {
        "id": "msg_B2taeaqm1vAWxS5zqD1efWhq",
        "object": "thread.message",
        "created_at": 1755889785,
        "assistant_id": null,
        "thread_id": "thread_p2IAdYHgCXxADskpgMKeQiEU",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "foo",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/threads/thread_p2IAdYHgCXxADskpgMKeQiEU/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "foo"
      },
      "StatusCode": 200,
      "Re[...]
