{
  "Entries": [
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "70",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "28f3bc5b-43d6-4c19-a69a-07df73513d43",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.289"
      },
      "ResponseBody": {
        "id": "thread_AbQc3NQiZsD2yt4Jqo3scGWP",
        "object": "thread",
        "created_at": 1755889684,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/threads/thread_AbQc3NQiZsD2yt4Jqo3scGWP?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "100",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "08fb4c66-3bc0-4295-b24d-eccd64475f8b",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
     [...]
