{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "25",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "aa60a424-d9c5-40d5-8ab9-0a848b99530f",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.379"
      },
      "ResponseBody": {
        "id": "thread_3YZcvZq3tdXHYJUrmpM36eEH",
        "object": "thread",
        "created_at": 1745435070,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_3YZcvZq3tdXHYJUrmpM36eEH/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "177",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "f9549ba0-87ed-4ede-883b-3ad55baffe3e",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.471"
      },
      "ResponseBody": {
        "id": "msg_xUHS8vwcm09cR35MVXjzP3Cc",
        "object": "thread.message",
        "created_at": 1745435070,
        "assistant_id": null,
        "thread_id": "thread_3YZcvZq3tdXHYJUrmpM36eEH",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_3YZcvZq3tdXHYJUrmpM36eEH/messages/msg_xUHS8vwcm09cR35MVXjzP3Cc?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "78",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "ec49ecba-52ac-4579-915c-4bb6601a78d8",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.416"
      },
      "ResponseBody": {
        "id": "msg_xUHS8vwcm09cR35MVXjzP3Cc",
        "object": "thread.message",
        "created_at": 1745435070,
        "assistant_id": null,
        "thread_id": "thread_3YZcvZq3tdXHYJUrmpM36eEH",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_3YZcvZq3tdXHYJUrmpM36eEH/messages/msg_xUHS8vwcm09cR35MVXjzP3Cc?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHea[...]
