{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "74",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1c273689-0d9e-4b51-b5bc-a58ab8ef2eb6",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.296"
      },
      "ResponseBody": {
        "id": "thread_kYhCfpcUrMQp3CocDMq4Tf3s",
        "object": "thread",
        "created_at": 1747176142,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_kYhCfpcUrMQp3CocDMq4Tf3s/messages?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "171",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c51bb096-44ba-4ee5-8e61-2b0210a3d15d",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.397"
      },
      "ResponseBody": {
        "id": "msg_ao2aPf4XeH3vh9eQOPBnacYr",
        "object": "thread.message",
        "created_at": 1747176142,
        "assistant_id": null,
        "thread_id": "thread_kYhCfpcUrMQp3CocDMq4Tf3s",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_kYhCfpcUrMQp3CocDMq4Tf3s/messages/msg_ao2aPf4XeH3vh9eQOPBnacYr?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "84",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4210cd20-5a8e-4588-9a64-adf2feba582a",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.363"
      },
      "ResponseBody": {
        "id": "msg_ao2aPf4XeH3vh9eQOPBnacYr",
        "object": "thread.message",
        "created_at": 1747176142,
        "assistant_id": null,
        "thread_id": "thread_kYhCfpcUrMQp3CocDMq4Tf3s",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_kYhCfpcUrMQp3CocDMq4Tf3s/messages/msg_ao2aPf4XeH3vh9eQOPBnacYr?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      [...]
