{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4",
        "name": "cs_e2e_tests_client",
        "instructions": "You are helpful agent."
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "63",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "7e55f249-74e4-44de-a99d-468f1ecb7f2a",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.482"
      },
      "ResponseBody": {
        "id": "asst_M8hRxoX0Sw6GGaNwNNbyMVBT",
        "object": "assistant",
        "created_at": 1745433896,
        "name": "cs_e2e_tests_client",
        "description": null,
        "model": "gpt-4",
        "instructions": "You are helpful agent.",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "72",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "a7c1197a-8b08-47df-8f43-f288440e044c",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request[...]
