{
  "Entries": [
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "cs_e2e_tests_client",
        "instructions": "You are helpful agent."
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "374",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "26e30c0a-66fd-46fa-bf92-92a5f930ebd4",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.652"
      },
      "ResponseBody": {
        "id": "asst_qkPxFy6hULLHQlkufubesgfY",
        "object": "assistant",
        "created_at": 1754433219,
        "name": "cs_e2e_tests_client",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful agent.",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/assistants/asst_qkPxFy6hULLHQlkufubesgfY?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4",
        "name": "cs_e2e_tests_client2",
        "instructions": "You are helpful agent."
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "138",
        "openai-version": "2020-10-01",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.360"
      },
      "ResponseBody": {
        "id": "asst_qkPxFy6hULLHQlkufubesgfY",
        "object": "assistant",
        "created_at": 1754433219,
        "name": "cs_e2e_tests_client2",
        "description": null,
        "model": "gpt-4",
        "instructions": "You are helpful agent.",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    }
  ],
  "Variables": {
    "PROJECT_CONNECTION_STRING": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb",
    "PROJECT_ENDPOINT": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb",
    "RandomSeed": "1199036046"
  }
}
