{
  "Entries": [
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "cs_e2e_tests_client",
        "instructions": "You are helpful agent."
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "120",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "583bd275-191c-4e52-baf7-2ca15ca74b4d",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.311"
      },
      "ResponseBody": {
        "id": "asst_9y98N8UWswFbea2b11I6qM9x",
        "object": "assistant",
        "created_at": 1754433195,
        "name": "cs_e2e_tests_client",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful agent.",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "71",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "81b977a7-9eef-4d5b-972b-98758430cdef",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.266"
      },
      "ResponseBody": {
        "id": "thread_tct6kGL0ujMSDwQgPERfjosh",
        "object": "thread",
        "created_at": 1754433195,
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        },
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/threads/thread_tct6kGL0ujMSDwQgPERfjosh?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "77",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5e4cfad5-7594-4071-97e0-863e0a4e8209",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.299"
      },
      "ResponseBody": {
        "id": "thread_tct6kGL0ujMSDwQgPERfjosh",
        "object": "thread",
        "created_at": 1754433195,
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        },
        "tool_resources": {
          "code_interpreter": {
            "file_ids": []
          },
          "azure_ai_search": {
            "indexes": []
          }
        }
      }
    },
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/threads/thread_tct6kGL0ujMSDwQgPERfjosh?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "87",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1b7d21e6-b967-42ac-a6f4-3055f1c7aedb",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.275"
      },
      "ResponseBody": {
        "id": "thread_tct6kGL0ujMSDwQgPERfjosh",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {
    "PROJECT_CONNECTION_STRING": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb",
    "PROJECT_ENDPOINT": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb",
    "RandomSeed": "1892320532"
  }
}
