{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "102",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "53e202fa-6771-4130-b83e-b6eca0c08b22",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.334"
      },
      "ResponseBody": {
        "id": "thread_xOlBjwhvVkS32gwrtMIJVuSO",
        "object": "thread",
        "created_at": 1746223025,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_xOlBjwhvVkS32gwrtMIJVuSO/messages?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "46",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "885725c6-6592-4eec-9530-ec7e9d15fa86",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.293"
      },
      "ResponseBody": {
        "id": "msg_GhwYB5JGQ49O1F3TIbOd8t4Z",
        "object": "thread.message",
        "created_at": 1746223025,
        "assistant_id": null,
        "thread_id": "thread_xOlBjwhvVkS32gwrtMIJVuSO",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_xOlBjwhvVkS32gwrtMIJVuSO/messages/msg_GhwYB5JGQ49O1F3TIbOd8t4Z?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,[...]
