{
  "Entries": [
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "71",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "da3b367d-0144-4531-bac8-92f802d5bbaa",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.260"
      },
      "ResponseBody": {
        "id": "thread_LfoYjBDE0yxmn5r9cenIWDMo",
        "object": "thread",
        "created_at": 1755888292,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/threads/thread_LfoYjBDE0yxmn5r9cenIWDMo/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "154",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "33d7dd72-c5e6-48d7-b5af-2ef8bb60cee2",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.331"
      },
      "ResponseBody": {
        "id": "msg_TOZciHibzd1dABPcB4rsP98D",
        "object": "thread.message",
        "created_at": 1755888292,
        "assistant_id": null,
        "thread_id": "thread_LfoYjBDE0yxmn5r9cenIWDMo",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/threads/thread_LfoYjBDE0yxmn5r9cenIWDMo/messages/msg_TOZciHibzd1dABPcB4rsP98D?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "98",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "275cfb06-fed4-483b-abf0-d2810d63a869",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.338"
      },
      "ResponseBody": {
        "id": "msg_TOZciHibzd1dABPcB4rsP98D",
        "object": "thread.message",
        "created_at": 1755888292,
        "assistant_id": null,
        "thread_id": "thread_LfoYjBDE0yxmn5r9cenIWDMo",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    }
  ],
  "Variables": {
    "PROJECT_ENDPOINT": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb",
    "RandomSeed": "964935617"
  }
}
