{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/assistants?api-version=2025-05-15-preview&limit=100&order=asc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "807",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e27d107c-f32e-4886-90d4-ab33b4ba12ff",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.532"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "asst_MN8M6ApyaQJmfVUlmnBfxDil",
            "object": "assistant",
            "created_at": 1738690595,
            "name": "azure-function-agent-foo",
            "description": null,
            "model": "gpt-4",
            "instructions": "You are a helpful support agent. Use the provided function any time the prompt contains the string 'What would foo say?'. When you invoke the function, ALWAYS specify the output queue uri parameter as 'https://nirovinswestus8660517702.queue.core.windows.net/azure-function-tool-output'. Always responds with \"Foo says\" and then the response from the tool.",
            "tools": [
              {
                "type": "azure_function",
                "azure_function": {
                  "input_binding": {
                    "type": "storage_queue",
                    "storage_queue": {
                      "queue_service_endpoint": "https://nirovinswestus8660517702.queue.core.windows.net",
                      "queue_name": "azure-function-foo-input"
                    }
                  },
                  "output_binding": {
                    "type": "storage_queue",
                    "storage_queue": {
                      "queue_service_endpoint": "https://nirovinswestus8660517702.queue.core.windows.net",
                      "queue_name": "azure-function-tool-output"
                    }
                  },
                  "function": {
                    "name": "foo",
                    "description": "Get answers from the foo bot.",
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "query": {
                          "type": "string",
                          "description": "The question to ask."
                        },
                        "outputqueueuri": {
                          "type": "string",
                          "description": "The full output queue uri."
                        }
                      }
                    }
                  }
                }
              }
            ],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {},
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_oD3jOLJ1pLLyb4EFTo8NiKRn",
            "object": "assistant",
            "created_at": 1738785236,
            "name": "azure-function-agent-foo",
            "description": null,
            "model": "gpt-4",
            "instructions": "You are a helpful support agent. Use the provided function any time the prompt contains the string 'What would foo say?'. When you invoke the function, ALWAYS specify the output queue uri parame[...]
