{
  "Entries": [
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4",
        "name": "cs_e2e_tests_client",
        "instructions": "You are helpful agent."
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "101",
        "openai-version": "2020-10-01",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.311"
      },
      "ResponseBody": {
        "id": "asst_jaEe5oOuSWf0ylvGdw4Ywcto",
        "object": "assistant",
        "created_at": 1755888299,
        "name": "cs_e2e_tests_client",
        "description": null,
        "model": "gpt-4",
        "instructions": "You are helpful agent.",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/assistants/asst_jaEe5oOuSWf0ylvGdw4Ywcto?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "136",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "026dcf40-ae57-4dd4-bf8d-de6d68919d60",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.318"
      },
      "ResponseBody": {
        "id": "asst_jaEe5oOuSWf0ylvGdw4Ywcto",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {
    "PROJECT_ENDPOINT": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb",
    "RandomSeed": "1068270971"
  }
}
