{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "23",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3e339389-a6e8-4e6b-a9be-127ed391f11f",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.223"
      },
      "ResponseBody": {
        "id": "thread_4K3lLoaf3KdmNa5xseHl3i83",
        "object": "thread",
        "created_at": 1747164893,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_4K3lLoaf3KdmNa5xseHl3i83/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "48",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d9b44aee-11f5-4657-a2aa-20a634f49153",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.256"
      },
      "ResponseBody": {
        "id": "msg_Gkg5GdnGEZGvhmvVjOMqqzc8",
        "object": "thread.message",
        "created_at": 1747164893,
        "assistant_id": null,
        "thread_id": "thread_4K3lLoaf3KdmNa5xseHl3i83",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_4K3lLoaf3KdmNa5xseHl3i83/messages/msg_Gkg5GdnGEZGvhmvVjOMqqzc8?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "Req[...]
