{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "70",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "06669c8d-a602-4454-859f-58f0a09cd561",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.250"
      },
      "ResponseBody": {
        "id": "thread_d7Ldw7rrhWRDnwemSrDjlw0H",
        "object": "thread",
        "created_at": 1747178231,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_d7Ldw7rrhWRDnwemSrDjlw0H/messages?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "89",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9c2ef059-1ea7-4850-a639-bea8dc83f43a",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.285"
      },
      "ResponseBody": {
        "id": "msg_mThpeyE3mfS6B5ZdYwXVeqKN",
        "object": "thread.message",
        "created_at": 1747178231,
        "assistant_id": null,
        "thread_id": "thread_d7Ldw7rrhWRDnwemSrDjlw0H",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_d7Ldw7rrhWRDnwemSrDjlw0H/messages/msg_mThpeyE3mfS6B5ZdYwXVeqKN?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "77",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8a07d93e-b8ac-4a4e-908a-a793863f5e93",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.327"
      },
      "ResponseBody": {
        "id": "msg_mThpeyE3mfS6B5ZdYwXVeqKN",
        "object": "thread.message",
        "created_at": 1747178231,
        "assistant_id": null,
        "thread_id": "thread_d7Ldw7rrhWRDnwemSrDjlw0H",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_d7Ldw7rrhWRDnwemSrDjlw0H/messages/msg_mThpeyE3mfS6B5ZdYwXVeqKN?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      [...]
