{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "92",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f8b788e3-f65f-414e-94a8-6b379ed0be43",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.307"
      },
      "ResponseBody": {
        "id": "thread_dLkqxJiV2iK2VlsREO2ZkTs7",
        "object": "thread",
        "created_at": 1747162903,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_dLkqxJiV2iK2VlsREO2ZkTs7/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "94",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5a9e17ee-2310-48cd-8f36-28cb34691d04",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.288"
      },
      "ResponseBody": {
        "id": "msg_LYaSa4uLiyZxvR93Laz2BhQV",
        "object": "thread.message",
        "created_at": 1747162903,
        "assistant_id": null,
        "thread_id": "thread_dLkqxJiV2iK2VlsREO2ZkTs7",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    }
  ],
  "Variables": {
    "PROJECT_CONNECTION_STRING": "westus.api.azureml.ms;b17253fa-f327-42d6-9686-f3e553e24763;nirovins-rg-eastus;nirovins-westus",
    "PROJECT_ENDPOINT": "westus.api.azureml.ms;b17253fa-f327-42d6-9686-f3e553e24763;nirovins-rg-eastus;nirovins-westus",
    "RandomSeed": "258568296"
  }
}
