{
  "Entries": [
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "97",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6d672640-d91e-44bd-a9fc-406f5e873f50",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.572"
      },
      "ResponseBody": {
        "id": "thread_nZ144aDIq3N6y4OWD0AmpD6Q",
        "object": "thread",
        "created_at": 1755717297,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/threads/thread_nZ144aDIq3N6y4OWD0AmpD6Q/messages?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "82",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d500dc3d-4305-4a6e-9b44-803139bd40b1",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.485"
      },
      "ResponseBody": {
        "object": "list",
        "data": [],
        "first_id": null,
        "last_id": null,
        "has_more": false
      }
    },
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/threads/thread_nZ144aDIq3N6y4OWD0AmpD6Q/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "foo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "877",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "03699b16-59b4-4af5-a81c-694824c68207",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.117"
      },
      "ResponseBody": {
        "id": "msg_N6DGxbgMrW8J2JR9Me8SpVmt",
        "object": "thread.message",
        "created_at": 1755717298,
        "assistant_id": null,
        "thread_id": "thread_nZ144aDIq3N6y4OWD0AmpD6Q",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "foo",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/threads/thread_nZ144aDIq3N6y4OWD0AmpD6Q/messages?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "a[...]
