{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "211",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b2391a5c-7cec-405d-9bf2-75bc43acd08b",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.455"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "asst_bTqGR2qs5EUAZJ10nmgOpOYp",
            "object": "assistant",
            "created_at": 1747163315,
            "name": "SDK Test Agent - Retrieval",
            "description": null,
            "model": "gpt-4",
            "instructions": "You are a helpful agent that can help fetch data from files you know about.",
            "tools": [],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {},
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_HQ4CH6Hl8jbRxHjSioOleEiY",
            "object": "assistant",
            "created_at": 1747163297,
            "name": "SDK Test Agent - Retrieval",
            "description": null,
            "model": "gpt-4",
            "instructions": "You are a helpful agent that can help fetch data from files you know about.",
            "tools": [],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {},
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_c67BUhMYhyckeErJBm7jaB7b",
            "object": "assistant",
            "created_at": 1747163169,
            "name": "SDK Test Agent - Retrieval",
            "description": null,
            "model": "gpt-4",
            "instructions": "You are a helpful agent that can help fetch data from files you know about.",
            "tools": [
              {
                "type": "file_search"
              }
            ],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {
              "file_search": {
                "vector_store_ids": []
              }
            },
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_DlrQdTwxgnBkVws4DYLtruFL",
            "object": "assistant",
            "created_at": 1747163144,
            "name": "SDK Test Agent - Retrieval",
            "description": null,
            "model": "gpt-4",
            "instructions": "You are a helpful agent that can help fetch data from files you know about.",
            "too[...]
