{
  "Entries": [
    {
      "RequestUri": "https://westus-projxkmb.services.ai.azure.com/api/projects/projectxkmb/assistants?api-version=2025-05-15-preview&limit=100&order=asc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "cb9727c486de4b1ca13cbe1a48f2d59a",
        "openai-processing-ms": "291",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c494df75-0498-4396-acc1-85c5823c5cb4",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.483"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "asst_pM9yUWFnkI7452lIBN6Xp7Jz",
            "object": "assistant",
            "created_at": 1754432396,
            "name": "my-assistant",
            "description": null,
            "model": "gpt-4o",
            "instructions": "You are a helpful assistant, and use the connected agents to get stock prices and weather.",
            "tools": [
              {
                "type": "connected_agent",
                "connected_agent": {
                  "name": "stock_price_bot",
                  "description": "Gets the stock price of a company",
                  "id": "asst_6HHF1lJsgC0cHO5xdEAM2bQJ"
                }
              },
              {
                "type": "connected_agent",
                "connected_agent": {
                  "name": "weather_bot",
                  "description": "Gets the weather for a given location",
                  "id": "asst_Qcq6VMY25ZHeOdGKU9JfeO6k"
                }
              }
            ],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {},
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_smbDoeEea1mDPeMdCX9pou4m",
            "object": "assistant",
            "created_at": 1754432508,
            "name": "my-assistant",
            "description": null,
            "model": "gpt-4o",
            "instructions": "You are a helpful assistant, and use the connected agents to get stock prices and weather.",
            "tools": [
              {
                "type": "connected_agent",
                "connected[...]
