{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "22",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "088ef59d-7af8-485b-99d5-087c011f28c7",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.217"
      },
      "ResponseBody": {
        "id": "thread_mUXWnAvynd1XV5acv0RWmcFv",
        "object": "thread",
        "created_at": 1747772787,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_mUXWnAvynd1XV5acv0RWmcFv/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "90",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "eac18988-791c-4d95-90ea-1a3e26620787",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.304"
      },
      "ResponseBody": {
        "id": "msg_uUd3HGhbMqfctCDPIdoNFck4",
        "object": "thread.message",
        "created_at": 1747772788,
        "assistant_id": null,
        "thread_id": "thread_mUXWnAvynd1XV5acv0RWmcFv",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_mUXWnAvynd1XV5acv0RWmcFv/messages/msg_uUd3HGhbMqfctCDPIdoNFck4?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "Res[...]
