{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "67",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7341e6da-9847-4e45-ad66-b95b511550c1",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.307"
      },
      "ResponseBody": {
        "id": "thread_P79t4fC4zHyNWCDIqRFjuO9t",
        "object": "thread",
        "created_at": 1747773438,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_P79t4fC4zHyNWCDIqRFjuO9t/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "93",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6e1c4c2c-8230-44a1-9455-c0c610caa013",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.294"
      },
      "ResponseBody": {
        "id": "msg_gTpthuGQpCvRlLiHDzgxT1I3",
        "object": "thread.message",
        "created_at": 1747773439,
        "assistant_id": null,
        "thread_id": "thread_P79t4fC4zHyNWCDIqRFjuO9t",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_P79t4fC4zHyNWCDIqRFjuO9t/messages/msg_gTpthuGQpCvRlLiHDzgxT1I3?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "75",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "75155969-cdaa-482a-98f7-70adadf991a5",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.315"
      },
      "ResponseBody": {
        "id": "msg_gTpthuGQpCvRlLiHDzgxT1I3",
        "object": "thread.message",
        "created_at": 1747773439,
        "assistant_id": null,
        "thread_id": "thread_P79t4fC4zHyNWCDIqRFjuO9t",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    },
[...]
