{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "101",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "6ed000da-7d2f-4e03-97d8-c679eea8f7f8",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.470"
      },
      "ResponseBody": {
        "id": "thread_1GwQFbVBbCzebYHBfzsE7zW7",
        "object": "thread",
        "created_at": 1745434318,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_1GwQFbVBbCzebYHBfzsE7zW7?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "309",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-middleware-request-id": "6a0ad70e-3815-43f6-8a75-ee03b3d6204e",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-reques[...]
