{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/files?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "206",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8469d3b7-2458-469c-8950-2f5ca1c2ee18",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.410"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "object": "file",
            "id": "assistant-2iyaDth7DKhzdfQfoTN3J3",
            "purpose": "assistants",
            "filename": "azureml://subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourcegroups/nirovins-rg-eastus/workspaces/nirovins-westus/datastores/workspaceblobstore/paths/LocalUpload/99ccdcf221d468b60f565d5708f6ce1d/product_info_1.md",
            "bytes": 1213,
            "created_at": 1753202562,
            "expires_at": null,
            "status": "processed",
            "status_details": null
          },
          {
            "object": "file",
            "id": "assistant-T2KJZw4f1c5JkP9kZwr7UG",
            "purpose": "assistants",
            "filename": "azureml://subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourcegroups/nirovins-rg-eastus/workspaces/nirovins-westus/datastores/workspaceblobstore/paths/LocalUpload/99ccdcf221d468b60f565d5708f6ce1d/product_info_1.md",
            "bytes": 1213,
            "created_at": 1753202561,
            "expires_at": [...]
