{
  "Entries": [
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "78",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e3f08001-3623-48f1-9f65-0b1cbc8eee7d",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.296"
      },
      "ResponseBody": {
        "id": "thread_lk4A11Kdt185MSsrA1xLcH16",
        "object": "thread",
        "created_at": 1747177417,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_lk4A11Kdt185MSsrA1xLcH16/messages?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "141",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9535de6c-acf8-4b5f-a70f-28fd1a4071bd",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.360"
      },
      "ResponseBody": {
        "id": "msg_9FCjlLnGOkKSNDHKX3BsMZl2",
        "object": "thread.message",
        "created_at": 1747177417,
        "assistant_id": null,
        "thread_id": "thread_lk4A11Kdt185MSsrA1xLcH16",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/b17253fa-f327-42d6-9686-f3e553e24763/resourceGroups/nirovins-rg-eastus/providers/Microsoft.MachineLearningServices/workspaces/nirovins-westus/threads/thread_lk4A11Kdt185MSsrA1xLcH16/messages/msg_9FCjlLnGOkKSNDHKX3BsMZl2?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,[...]
