{
  "Entries": [
    {
      "RequestUri": "https://ResourceName.cognitiveservices.azure.com/computervision/imageanalysis:analyze?features=caption%2Cread\u0026api-version=2023-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "***********"
      },
      "RequestBody": {
        "url": "https://aka.ms/azai/vision/image-analysis-sample.jpg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "4.0-pre1,2022-07-31-preview,2022-10-12-preview,2023-02-01-preview,2023-04-01-preview,2023-06-01-preview,2023-07-01-preview,2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.ComputerVision.Transaction=1",
        "ms-vision-response-time-input-processed": "256",
        "ms-vision-response-time-input-received": "1103",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "captionResult": {
          "text": "a woman wearing a mask sitting at a table with a laptop",
          "confidence": 0.8502674698829651
        },
        "readResult": {
          "stringIndexType": "TextElements",
          "content": "Sample text\nHand writing\n123 456",
          "pages": [
            {
              "height": 576.0,
              "width": 864.0,
              "angle": 0.0,
              "pageNumber": 1,
              "words": [
                {
                  "content": "Sample",
                  "boundingBox": [
                    722.0,
                    502.0,
                    785.0,
                    502.0,
                    785.0,
                    520.0,
                    722.0,
                    520.0
                  ],
                  "confidence": 0.994,
                  "span": {
                    "offset": 0,
                    "length": 6
                  }
                },
                {
                  "content": "text",
                  "boundingBox": [
                    798.0,
                    502.0,
                    841.0,
                    501.0,
                    841.0,
                    519.0,
                    798.0,
                    519.0
                  ],
                  "confidence": 0.989,
                  "span": {
                    "offset": 7,
                    "length": 4
[...]
