{
  "Entries": [
    {
      "RequestUri": "https://ResourceName.cognitiveservices.azure.com/computervision/imageanalysis:analyze?features=read\u0026api-version=2023-10-01\u0026smartcrops-aspect-ratios=0.9%2C1.33\u0026readSlim=true\u0026readLanguageDetection=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "***********"
      },
      "RequestBody": {
        "url": "https://aka.ms/azsdk/image-analysis/sample.jpg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "4.0-pre1,2022-07-31-preview,2022-10-12-preview,2023-02-01-preview,2023-04-01-preview,2023-06-01-preview,2023-07-01-preview,2023-10-01,2024-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.ComputerVision.Transaction=1",
        "ms-vision-response-time-input-processed": "144",
        "ms-vision-response-time-input-received": "342",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelVersion": "2023-10-01",
        "metadata": {
          "width": 864,
          "height": 576
        },
        "readResult": {
          "blocks": [
            {
              "lines": [
                {
                  "text": "Sample text",
                  "boundingPolygon": [
                    {
                      "x": 721,
                      "y": 502
                    },
                    {
                      "x": 843,
                      "y": 502
                    },
                    {
                      "x": 843,
                      "y": 519
                    },
                    {
                      "x": 721,
                      "y": 519
                    }
                  ],
                  "words": [
                    {
                      "text": "Sample",
                      "boundingPolygon": [
                        {
                          "x": 722,
                          "y": 503
                        },
                        {
                          "x": 785,
                          "y": 503
                        },
                        {
                          "x": 785,
                          "y": 520
                        },
                        {
                          "x": 722,
                          "y": 520
                        }
                      ],
                      "confidence": 0.995
                    },
                    {
                      "text": "text",
                      "boundingPolygon": [
                        {
                          "x": 800,
                          "y": 503
                        },
                        {
                          "x": 842,
                          "y": 502
                        },
                        {
                          "x": 842,
                          "y": 519
                      [...]
