{
  "Entries": [
    {
      "RequestUri": "https://ResourceName.cognitiveservices.azure.com/computervision/imageanalysis:analyze?features=tags%2Ccaption%2CdenseCaptions%2Cobjects%2Cread%2CsmartCrops%2Cpeople\u0026api-version=2023-10-01\u0026smartcrops-aspect-ratios=0.9%2C1.33",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "***********"
      },
      "RequestBody": {
        "url": "https://aka.ms/azai/vision/image-analysis-sample.jpg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "4.0-pre1,2022-07-31-preview,2022-10-12-preview,2023-02-01-preview,2023-04-01-preview,2023-06-01-preview,2023-07-01-preview,2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.ComputerVision.Transaction=1",
        "ms-vision-response-time-input-processed": "964",
        "ms-vision-response-time-input-received": "259",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelVersion": "2023-10-01",
        "captionResult": {
          "text": "a woman wearing a mask sitting at a table with a laptop",
          "confidence": 0.8502674698829651
        },
        "denseCaptionsResult": {
          "values": [
            {
              "text": "a woman wearing a mask sitting at a table with a laptop",
              "confidence": 0.8498482704162598,
              "boundingBox": {
                "x": 0,
                "y": 0,
                "w": 864,
                "h": 576
              }
            },
            {
              "text": "a person using a laptop",
              "confidence": 0.7724273204803467,
              "boundingBox": {
                "x": 293,
                "y": 383,
                "w": 195,
                "h": 100
              }
            },
            {
              "text": "a woman wearing a face mask",
              "confidenc[...]
    {
      "RequestUri": "https://ResourceName.cognitiveservices.azure.com/computervision/imageanalysis:analyze?features=caption%2Cread\u0026api-version=2023-10-01\u0026smartcrops-aspect-ratios=0.9%2C1.33",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "***********"
      },
      "RequestBody": {
        "url": "https://aka.ms/azai/vision/image-analysis-sample.jpg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "4.0-pre1,2022-07-31-preview,2022-10-12-preview,2023-02-01-preview,2023-04-01-preview,2023-06-01-preview,2023-07-01-preview,2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.ComputerVision.Transaction=1",
        "ms-vision-response-time-input-processed": "185",
        "ms-vision-response-time-input-received": "1344",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "modelVersion": "2023-10-01",
        "captionResult": {
          "text": "a woman wearing a mask sitting at a table with a laptop",
          "confidence": 0.8502674698829651
        },
        "metadata": {
          "width": 864,
          "height": 576
        },
        "readResult": {
          "blocks": [
            {
              "lines": [
                {
                  "text": "Sample text",
                  "boundingPolygon": [
                    {
                      "x": 721,
                      "y": 502
                    },
                    {
                      "x": 843,
                      "y": 502
                    },
                    {
                      "x": 843,
                      "y": 519
                    },
                    {
                      "x": 721,
                      "y": 519
                    }
                  ],
                  "words": [
                    {
                      "text": "Sample",
                      "boundingPolygon": [
                        {
                          "x": 722,
                          "y": 503
                        },
                        {
                          "x": 785,
                          "y": 503
                        },
                        {
                          "x": 785,
                          "y": 520
                        },
                    [...]
