{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "c3e77514-7d11-426f-83ca-88c20971594c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "DP-Renzo-DevTest",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourcegroups/sdk-test-rg90923244?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg90923244",
        "name": "sdk-test-rg90923244",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg90923244/providers/Microsoft.DatabaseFleetManager/fleets/fleet331?api-version=2025-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/fd56e555-1e59-418a-85d5-aec74709caaa?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded"
        },
        "location": "UK South",
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg90923244/providers/Microsoft.DatabaseFleetManager/fleets/fleet331",
        "name": "fleet331",
        "type": "Microsoft.DatabaseFleetManager/fleets"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/fd56e555-1e59-418a-85d5-aec74709caaa?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/fd56e555-1e59-418a-85d5-aec74709caaa?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/fd56e555-1e59-418a-85d5-aec74709caaa",
        "name": "fd56e555-1e59-418a-85d5-aec74709caaa",
        "status": "Succeeded",
        "startTime": "2025-02-24T15:11:04.163Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg90923244/providers/Microsoft.DatabaseFleetManager/fleets/fleet331/tiers/tier6056?api-version=2025-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "pooled": true,
          "serviceTier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 2,
          "poolNumOfDatabasesMax": 4,
          "databaseCapacityMin": 0,
          "databaseCapacityMax": 2
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleet/operationStatuses/cd607894-e6c6-54ae-85e1-d2576aff7643?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "disabled": false,
          "serverless": false,
          "pooled": true,
          "serviceTier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 2,
          "poolNumOfDatabasesMax": 4,
          "databaseCapacityMin": 0.0,
          "databaseCapacityMax": 2.0,
          "provisioningState": "Accepted",
          "zoneRedundancy": "Disabled"
        },
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg90923244/providers/Microsoft.DatabaseFleetManager/fleets/fleet331/tiers/tier6056",
        "name": "tier6056",
        "type": "Microsoft.DatabaseFleetManager/fleets/tiers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleet/operationStatuses/cd607894-e6c6-54ae-85e1-d2576aff7643?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleet/operationStatuses/cd607894-e6c6-54ae-85e1-d2576aff7643?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16497",
        "x-ms-ratelimit-remaining-subscription-reads": "1097"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleet/operationStatuses/cd607894-e6c6-54ae-85e1-d2576aff7643",
        "name": "cd607894-e6c6-54ae-85e1-d2576aff7643",
        "status": "Succeeded",
        "startTime": "2025-02-24T15:11:05.05Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg90923244/providers/Microsoft.DatabaseFleetManager/fleets/fleet331/fleetspaces/fleetspace5197?api-version=2025-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "capacityMax": 10,
          "mainPrincipal": {
            "login": "MyMainPrincipal",
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "objectId": "00000000-0000-0000-0000-000000000002",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "principalType": "Application"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/AllocateFleetspace/operationStatuses/15a48ad5-b860-e193-d35a-5059f7dd4211?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Accepted",
          "capacityMax": 10,
          "mainPrincipal": {
            "login": "MyMainPrincipal",
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "objectId": "00000000-0000-0000-0000-000000000002",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "principalType": "Application"
          }
        },
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg90923244/providers/Microsoft.DatabaseFleetManager/fleets/fleet331/fleetspaces/fleetspace5197",
        "name": "fleetspace5197",
        "type": "Microsoft.DatabaseFleetManager/fleetspaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/AllocateFleetspace/operationStatuses/15a48ad5-b860-e193-d35a-5059f7dd4211?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/AllocateFleetspace/operationStatuses/15a48ad5-b860-e193-d35a-5059f7dd4211?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/AllocateFleetspace/operationStatuses/15a48ad5-b860-e193-d35a-5059f7dd4211",
        "name": "15a48ad5-b860-e193-d35a-5059f7dd4211",
        "status": "Succeeded",
        "startTime": "2025-02-24T15:11:05.957Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg90923244/providers/Microsoft.DatabaseFleetManager/fleets/fleet331/fleetspaces/fleetspace5197/databases/db38?api-version=2025-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "createMode": "Default",
          "tierName": "tier6056"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/CreateDatabase/operationStatuses/1a37feac-4f40-80c0-da0c-5faa13a1e752?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "originalDatabaseId": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg90923244/providers/Microsoft.Sql/servers//databases/db38",
          "provisioningState": "InProgress",
          "tierName": "tier6056"
        },
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg90923244/providers/Microsoft.DatabaseFleetManager/fleets/fleet331/fleetspaces/fleetspace5197/databases/db38",
        "name": "db38",
        "type": "Microsoft.DatabaseFleetManager/fleets/databases"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/CreateDatabase/operationStatuses/1a37feac-4f40-80c0-da0c-5faa13a1e752?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/CreateDatabase/operationStatuses/1a37feac-4f40-80c0-da0c-5faa13a1e752?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/CreateDatabase/operationStatuses/1a37feac-4f40-80c0-da0c-5faa13a1e752",
        "name": "1a37feac-4f40-80c0-da0c-5faa13a1e752",
        "status": "Running",
        "startTime": "2025-02-24T15:11:07.127Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg90923244/providers/Microsoft.DatabaseFleetManager/fleets/fleet331/fleetspaces/fleetspace5197/databases/db38?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "properties": {
          "originalDatabaseId": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/fleet-rg-913aa288-a32f-49e8-a664-88b1e8167edf-uksouth-612757021/providers/Microsoft.Sql/servers/fleet-srv-913aa288-a32f-49e8-a664-88b1e8167edf-6f68d65a76dc/databases/db38",
          "provisioningState": "Succeeded",
          "tierName": "tier6056",
          "connectionString": "Sanitized",
          "backupRetentionDays": 7,
          "resourceTags": {},
          "collation": "SQL_Latin1_General_CP1_CI_AS"
        },
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg90923244/providers/Microsoft.DatabaseFleetManager/fleets/fleet331/fleetspaces/fleetspace5197/databases/db38",
        "name": "db38",
        "type": "Microsoft.DatabaseFleetManager/fleets/databases"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg90923244/providers/Microsoft.DatabaseFleetManager/fleets/fleet331/fleetspaces/fleetspace5197/databases?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "originalDatabaseId": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/fleet-rg-913aa288-a32f-49e8-a664-88b1e8167edf-uksouth-612757021/providers/Microsoft.Sql/servers/fleet-srv-913aa288-a32f-49e8-a664-88b1e8167edf-6f68d65a76dc/databases/db38",
              "provisioningState": "Succeeded",
              "tierName": "tier6056",
              "connectionString": "Sanitized",
              "backupRetentionDays": 7,
              "resourceTags": {},
              "collation": "SQL_Latin1_General_CP1_CI_AS"
            },
            "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg90923244/providers/Microsoft.DatabaseFleetManager/fleets/fleet331/fleetspaces/fleetspace5197/databases/db38",
            "name": "db38",
            "type": "Microsoft.DatabaseFleetManager/fleets/databases"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg90923244/providers/Microsoft.DatabaseFleetManager/fleets/fleet331/fleetspaces/fleetspace5197/unregister?api-version=2025-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UnregisterFleetspace/operationStatuses/b36a2600-a58e-4322-8ec1-303ab3b73834?api-version=2025-02-01-preview",
        "Location": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UnregisterFleetspace/operationResults/b36a2600-a58e-4322-8ec1-303ab3b73834?api-version=2025-02-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UnregisterFleetspace/operationStatuses/b36a2600-a58e-4322-8ec1-303ab3b73834?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UnregisterFleetspace/operationStatuses/b36a2600-a58e-4322-8ec1-303ab3b73834?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UnregisterFleetspace/operationStatuses/b36a2600-a58e-4322-8ec1-303ab3b73834",
        "name": "b36a2600-a58e-4322-8ec1-303ab3b73834",
        "status": "Running",
        "startTime": "2025-02-24T15:14:03.89Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UnregisterFleetspace/operationResults/b36a2600-a58e-4322-8ec1-303ab3b73834?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg90923244/providers/Microsoft.DatabaseFleetManager/fleets?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded"
            },
            "location": "UK South",
            "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg90923244/providers/Microsoft.DatabaseFleetManager/fleets/fleet331",
            "name": "fleet331",
            "type": "Microsoft.DatabaseFleetManager/fleets"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/16d0fef6-f0b3-44f0-986f-3158ec989aff?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/16d0fef6-f0b3-44f0-986f-3158ec989aff?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/16d0fef6-f0b3-44f0-986f-3158ec989aff",
        "name": "16d0fef6-f0b3-44f0-986f-3158ec989aff",
        "status": "Running",
        "startTime": "2025-02-24T15:14:25.163Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/16d0fef6-f0b3-44f0-986f-3158ec989aff?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/16d0fef6-f0b3-44f0-986f-3158ec989aff?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/16d0fef6-f0b3-44f0-986f-3158ec989aff",
        "name": "16d0fef6-f0b3-44f0-986f-3158ec989aff",
        "status": "Succeeded",
        "startTime": "2025-02-24T15:14:25.163Z"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1815912907",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "c3e77514-7d11-426f-83ca-88c20971594c"
  }
}
