{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "504",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5480a7f9-d37e-4313-a70b-a2cf35c4281e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.738"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-D9cYQRafsJXntE55vqoZQK",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747677711,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-D9cYQRafsJXntE55vqoZQK?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "109",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d060df63-659b-439e-999a-832c4298851f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.258"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-D9cYQRafsJXntE55vqoZQK",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747677711,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-D9cYQRafsJXntE55vqoZQK?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "321",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ba6c0f81-06b7-4f8f-a22a-1026f21a7882",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.535"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-D9cYQRafsJXntE55vqoZQK"
      }
    }
  ],
  "Variables": {}
}
