{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "471",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "795c8a63-edb5-4c51-9e5f-23dce269ee37",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.823"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-4K7fDVdPaAQVUQuReYj2st",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747977648,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-4K7fDVdPaAQVUQuReYj2st?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "99",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "44d4899e-6b4d-49e6-9051-a1ba675cb6cf",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.467"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-4K7fDVdPaAQVUQuReYj2st",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747977648,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-4K7fDVdPaAQVUQuReYj2st?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "246",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "280af61c-2aa1-4055-a797-40f66085a22f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.605"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-4K7fDVdPaAQVUQuReYj2st"
      }
    }
  ],
  "Variables": {}
}
