{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "171",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fffe965e-cda6-4689-bf22-a2e35fa911d2",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.361"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "object": "file",
            "id": "assistant-5ojAi3vjCriQE9HADWsgke",
            "purpose": "assistants",
            "filename": "filename.txt",
            "bytes": 11,
            "created_at": 1746595896,
            "expires_at": null,
            "status": "processed",
            "status_details": null
          },
          {
            "object": "file",
            "id": "assistant-Y3pcqAdrvFr2cn2ioxX6a3",
            "purpose": "assistants",
            "filename": "filename.txt",
            "bytes": 11,
            "created_at": 1746595891,
            "expires_at": null,
            "status": "processed",
            "status_details": null
          },
          {
            "object": "file",
            "id": "assistant-SYM4PKU5GcckiZu8MFBUdJ",
            "purpose": "assistants[...]
