{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://uri.blob.core.windows.net/uri",
        "useManagedIdentity": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://azure_managedhsm.managedhsm.azure.net/backup/df49cb889f7944ab8f2116dbf8af532f/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f29da579-11d0-45a1-92c3-3ac0f1f8987a",
        "Retry-After": "10",
        "x-ms-server-latency": "1447"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1779956835,
        "endTime": null,
        "jobId": "df49cb889f7944ab8f2116dbf8af532f",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/df49cb889f7944ab8f2116dbf8af532f/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c177d062-a88c-4db9-a7a7-0cdfa38490d6",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "124"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "df49cb889f7944ab8f2116dbf8af532f",
        "startTime": 1779956835,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/df49cb889f7944ab8f2116dbf8af532f/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0127fad7-06a6-4a87-a717-a815017fd565",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "127"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": "https://uri.blob.core.windows.net/uri/mhsm-acavalari-sdkhsm-2026052808271523",
        "endTime": 1779956846,
        "error": null,
        "jobId": "df49cb889f7944ab8f2116dbf8af532f",
        "startTime": 1779956835,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {
    "suffix": "suffix-166711"
  }
}
