{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.AzurePlaywrightService/operations?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.AzurePlaywrightService/operations/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.AzurePlaywrightService",
              "resource": "operations",
              "operation": "read_operations",
              "description": "read operations"
            },
            "properties": null
          },
          {
            "name": "Microsoft.AzurePlaywrightService/checkNameAvailability/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.AzurePlaywrightService",
              "resource": "checkNameAvailability",
              "operation": "action_checkNameAvailability",
              "description": "action checkNameAvailability"
            },
            "properties": null
          },
          {
            "name": "[...]
