{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a4caaa2e-5804-122a-5605-f07a9761e1b6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:41:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A52B81420\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:41:09 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a4caaa2e-5804-122a-5605-f07a9761e1b6/test-blob-eb2b4d5d-1f6c-fad4-6026-ece72977c6cd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 09 Oct 2024 19:41:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A52C36CD7\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:41:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a4caaa2e-5804-122a-5605-f07a9761e1b6/test-blob-eb2b4d5d-1f6c-fad4-6026-ece72977c6cd?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 09 Oct 2024 19:41:13 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "ONndQ6l8UJuL1dNtn+Iwvd9yVP5d4ap8f74EP7VapKrTxi6ZHPgT4PyQYJZMZ1p99S8HtiLHcFYvYMTqeBDlMTAomdm0l6HmX3QBzYETMBdjhkqGUu6IC1XXars0KGjsqi5mI82AyV6NIFeuxqPVHDCshvHGX95CoI6D3CzlsjYLFSJSrA1K473s+DKW2UWyAU2Lh6F3JktQJII//e0xp24gorCAg28iYaMz2marq8ZI0NreWiqUlO/XAYiKC+bQulDEdTaVMX7eaCX+Q0zkpHi89iwSUk1DjA7BqYHmmFa9Yx8W5zaPs59bAPEEllGj8l0QzhW6vWgDgOko04j999DPQN8szr1CLEOMt1JbPvW9HrYk1slBA6a3E2ZMZ98WXgghNVVxdiSfzqLRLQYVp0LzarXR2CE[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a4caaa2e-5804-122a-5605-f07a9761e1b6/test-blob-eb2b4d5d-1f6c-fad4-6026-ece72977c6cd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:41:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE89A52CD25F7\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:41:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 09 Oct 2024 19:41:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a4caaa2e-5804-122a-5605-f07a9761e1b6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:41:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1591909703",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
