{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-99d18e33-27d2-ab65-cb5a-bb05d0059ca1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:40:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A48E019C6\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:40:52 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-99d18e33-27d2-ab65-cb5a-bb05d0059ca1/test-blob-985d44c2-0e17-8d01-9896-66c97baba368",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 09 Oct 2024 19:40:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A48F5CFAD\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:40:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-99d18e33-27d2-ab65-cb5a-bb05d0059ca1/test-blob-985d44c2-0e17-8d01-9896-66c97baba368?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 09 Oct 2024 19:40:56 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "pWHW1LLeYw5tBBXlcvZVMeWNNKo1r1VRUXEAGoVfVd8vUOS8OyKrcOXd1KuMbxPNlSJVlkjuQfYMhYJB3UmJDa82tiISmfXC4cTFWNupxeJdM4RiCr6WQA7tr7agaZObVMb7Vbnxuvwsk7SEKekbYsCg46nFJwPwn3UTJOk/IngwKQQUrm8pbHiINXYJEhYk0k32AIbp1izDCrVD3pYS7XE8UwDlBrRQdncxPfGM541f7lGcSCHxR1LXUKO55o7idUcFzL8VP8yYpYkOt5g7NyMo4+9FdqRPSgutDrYRlpDpT8iqhhrOSa+FA6KY44+6nBh/kQKenP6itoKzaDAVhw/4JWjQkLEJWppAwHMBt2d783KdkQWOSrLJB8+YGuF+b3uTn70n6QtndjZoXtyLof8aN3S+ePY[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-99d18e33-27d2-ab65-cb5a-bb05d0059ca1/test-blob-727d08e8-3baf-7280-43dc-ea84f321f104",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 09 Oct 2024 19:40:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A4908A64A\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:40:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-99d18e33-27d2-ab65-cb5a-bb05d0059ca1/test-blob-727d08e8-3baf-7280-43dc-ea84f321f104?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-99d18e33-27d2-ab65-cb5a-bb05d0059ca1/test-blob-985d44c2-0e17-8d01-9896-66c97baba368?sv=sanitized-value&se=2024-10-09T20%3A40%3A56Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:40:56 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A4912AD37\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:40:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "1H59PmkiHOM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-99d18e33-27d2-ab65-cb5a-bb05d0059ca1/test-blob-727d08e8-3baf-7280-43dc-ea84f321f104",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:40:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE89A4912AD37\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:40:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 09 Oct 2024 19:40:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-99d18e33-27d2-ab65-cb5a-bb05d0059ca1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:40:57 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-10-09T15:40:56.7640547-04:00",
    "RandomSeed": "1417727763",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
