{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1414ceaf-9538-9553-6753-62a6ab7b6d9a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:41:12 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A5259B8F2\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:41:08 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1414ceaf-9538-9553-6753-62a6ab7b6d9a/test-blob-846ee39e-38af-4f29-248f-546b6cb3faad?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 09 Oct 2024 19:41:12 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=5-1028",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "IcCxDm/nx/k9+3yHc1y+5ERdAbdLrfK8c7xhQoGCHMEMPywFKnlctxx1R7O7odzI0W8mDrJCYXTO9ZqzhoR4ut66ezMwubnLAUmb1mY+ANHgmXERWw4Pyt23NzXeqDGX/YzUACaolxe1Ww1oposNj/TJ0+wSZl/Qq7FWeIKE7FkYA9jaav+qNwFaWwAApyNRqadAFdREhZYtA1V1UR+UMW+0T6OyMyT1HpvruApe0AONBM7aRNeE1H5CrWaqNebixSqQTFeAn3WDS/Y4WcyMzjNR501Quu2YL3skcIa+Sum1CPLgzoOsDWVYV/jgTHqxtd8yWE2YkQs9+B3cWy7vxAAMglDarP+wpdro92P0t+IAcruni/KbHXbnotZmz7E2aZL41Mop1wnfgrNzr5qnSEA62+lzSDk[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1414ceaf-9538-9553-6753-62a6ab7b6d9a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:41:12 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "738227510",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
