{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Relay/operations?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "00000000-0000-0000-0000-000000000000",
        "x-ms-messaging-routing-id": "PROD|SOUTHEASTASIA|SOUTHEASTASIA|G7|2026-03-31T05:19:44",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "display": {
              "provider": "Microsoft Azure Relay",
              "resource": "Non Resource Operation",
              "operation": "Get namespace availability.",
              "description": "Checks availability of namespace under given subscription. This API is deprecated please use CheckNameAvailabiltiy instead."
            },
            "isDataAction": false
          },
          {
            "name": "Sanitized",
            "display": {
              "provider": "Microsoft Azure Relay",
              "resource": "Non Resource Operation",
              "operation": "Get namespace availability.",
              "description": "Checks availability of namespace under given subscription."
            },
            "isDataAction": false
          },
          {
            "name": "Sanitized",
            "display": {
            [...]
