{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/SecurityCenterRG5141?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG5141",
        "name": "SecurityCenterRG5141",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG5141/providers/Microsoft.Logic/integrationAccounts/integrationAccount2488?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "properties": {
          "state": "Enabled"
        },
        "sku": {
          "name": "Standard"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG5141/providers/Microsoft.Logic/integrationAccounts/integrationAccount2488",
        "name": "integrationAccount2488",
        "type": "Microsoft.Logic/integrationAccounts",
        "location": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG5141/providers/Microsoft.Logic/workflows/logicWorkFlow1981?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "integrationAccount": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG5141/providers/Microsoft.Logic/integrationAccounts/integrationAccount2488"
          },
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "triggers": {
              "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                  "schema": {}
                }
              }
            },
            "actions": {
              "Response": {
                "runAfter": {},
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200
                }
              }
            },
            "outputs": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "createdTime": "2024-10-09T07:57:10.8967547Z",
          "changedTime": "2024-10-09T07:57:10.8962525Z",
          "state": "Enabled",
          "version": "08584731462546192924",
          "accessEndpoint": "https://prod-33.eastus.logic.azure.com:443/workflows/7807b0022e3f4ab8ae6abd3c8d68f700",
          "integrationAccount": {
            "name": "integrationAccount2488",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG5141/providers/Microsoft.Logic/integrationAccounts/integrationAccount2488",
            "type": "Microsoft.Logic/integrationAccounts"
          },
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "triggers": {
              "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                  "schema": {}
                }
              }
            },
            "actions": {
              "Response": {
                "runAfter": {},
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200
                }
              }
            },
            "outputs": {}
          },
          "parameters": {},
          "endpointsConfiguration": {
            "workflow": {
              "outgoingIpAddresses": [
                {
                  "address": "13.92.98.111"
                },
                {
                  "address": "40.121.91.41"
                },
                {
                  "address": "40.114.82.191"
                },
                {
                  "address": "23.101.139.153"
                },
                {
                  "address": "23.100.29.190"
                },
                {
                  "address": "23.101.136.201"
                },
                {
                  "address": "104.45[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG5141/providers/Microsoft.Security/automations/automation8088?api-version=2019-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "scopes": [
            {
              "description": "A description that helps to identify this scope",
              "scopePath": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG5141"
            }
          ],
          "sources": [
            {
              "eventSource": "Assessments"
            }
          ],
          "actions": [
            {
              "actionType": "LogicApp",
              "logicAppResourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG5141/providers/Microsoft.Logic/workflows/logicWorkFlow1981",
              "uri": "https://justtestsample.azurewebsites.net/"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2019-01-01-preview, 2023-12-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "249"
      },
      "ResponseBody": {
        "properties": {
          "description": "",
          "isEnabled": true,
          "metadata": {
            "createdDateTimeUtc": "2024-10-09T07:57:13.6410615Z",
            "createdBy": "Sanitized",
            "lastUpdatedDateTimeUtc": "2024-10-09T07:57:13.6410615Z",
            "lastUpdatedBy": "c339e9e9-64c9-4837-be46-ae7145b3410d"
          },
          "scopes": [
            {
              "description": "A description that helps to identify this scope",
              "scopePath": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG5141"
            }
          ],
          "sources": [
            {
              "eventSource": "Assessments"
            }
          ],
          "actions": [
            {
              "logicAppResourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/SecurityCenterRG5141/providers/Microsoft.Logic/workflows/logicWorkFlow1981",
              "actionType": "LogicApp"
            }
          ]
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/SecurityCenterRG5141/providers/Microsoft.Security/automations/automation8088",
        "name": "automation8088",
        "type": "Microsoft.Security/automations",
        "etag": "\"890050cd-0000-0d00-0000-670637590000\"",
        "location": "eastus"
      }
    },
[...]
