{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Sanitized",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/00000000-0000-0000-0000-000000000000",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "countryCode": "US",
            "displayName": "Sanitized",
            "domains": [
              "contoso.com"
            ],
            "tenantCategory": "Home",
            "defaultDomain": "microsoft.onmicrosoft.com",
            "tenantType": "AAD",
            "tenantBrandingLogoUrl": "https://aadcdn.msftauthimages.net/dbd5a2dd-n2kxueriy-dm8fhyf0anvulmvhi3kdbkkxqluuekyfc/logintenantbranding/0/bannerlogo?ts=636783560697171089"
          },
          {
            "id": "/tenants/00000000-0000-0000-0000-000000000000",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "countryCode": "US",
            "displayName": "Sanitized",
            "domains": [
              "contoso.com"
            ],
            "tenantCategory": "Home",
            "defaultDomain": "TME01.onmicrosoft.com",
            "tenantType": "AAD"
          },
          {
            "id": "/tenants/00000000-0000-0000-0000-000000000000",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "countryCode": "US",
            "displayName": "Sanitized",
            "domains": [
              "contoso.com"
            ],
            "tenantCategory": "Home",
            "defaultDomain": "infonavdfmsft.onmicrosoft.com",
            "tenantType": "AAD"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2024-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "subscriptions": [
          "00000000-0000-0000-0000-000000000000"
        ],
        "query": "resources | where type =~ 'Microsoft.Kusto/clusters' and name =~ 'Sanitized' | limit 1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "249",
        "x-ms-ratelimit-remaining-tenant-resource-requests": "14",
        "x-ms-resource-graph-request-duration": "0:00:00:00.3402309",
        "x-ms-user-quota-remaining": "14",
        "x-ms-user-quota-resets-after": "00:00:04"
      },
      "ResponseBody": {
        "totalRecords": 1,
        "count": 1,
        "data": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Kusto/clusters/Sanitized",
            "name": "Sanitized",
            "type": "microsoft.kusto/clusters",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "kind": "",
            "location": "westus",
            "resourceGroup": "Sanitized",
            "subscriptionId": "00000000-0000-0000-0000-000000000000",
            "managedBy": "",
            "sku": {
              "name": "Sanitized",
              "tier": "Standard",
              "capacity": 2
            },
            "plan": null,
            "properties": {
              "provisioningState": "Succeeded",
              "publicNetworkAccess": "Enabled",
              "privateEndpointConnections": [],
              "state": "Running",
              "stateReason": "",
              "restrictOutboundNetworkAccess": "Disabled",
              "uri": "https://Sanitized.westus.kusto.windows.net",
              "virtualNetworkConfiguration": null,
              "keyVaultProperties": null,
              "allowedFqdnList": [],
              "virtualClusterGraduationProperties": null,
              "trustedExternalTenants": [],
              "enableDoubleEncryption": false,
              "enableStreamingIngest": false,
              "enableDiskEncryption": false,
              "optimizedAutoscale": null,
              "allowedIpRangeList": [],
              "languageExtensions": {
                "value": []
              },
              "acceptedAudiences": [],
              "dataIngestionUri": "https://ingest-Sanitized.westus.kusto.windows.net",
              "migrationCluster": null,
              "calloutPolicies": null,
              "enableAutoStop": true,
              "publicIPType": "IPv4",
              "enablePurge": null,
              "engineType": "V3",
              "zoneStatus": "NonZonal"
            },
            "tags": {
              "NRMS.KustoPlatform.Classification.1P": "Default"
            },
            "identity": {
              "principalId": "00000000-0000-0000-0000-000000000000",
              "tenantId": "00000000-0000-0000-0000-000000000000",
              "type": "SystemAssigned"
            },
            "zones": null,
            "extendedLocation": null
          }
        ],
        "facets": [],
        "resultTruncated": "false"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.westus.kusto.windows.net/v1/rest/mgmt",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-app": "AzureMCP",
        "x-ms-client-version": "Kusto.Client.Light"
      },
      "RequestBody": {
        "db": "ToDoLists",
        "csl": ".show tables",
        "properties": {
          "ClientRequestId": "AzMcp9d4346f5-4202-42e6-905b-8132103d774e"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "Tables": [
          {
            "TableName": "@Tables",
            "Columns": [
              {
                "ColumnName": "TableName",
                "DataType": "String",
                "ColumnType": "string"
              },
              {
                "ColumnName": "DatabaseName",
                "DataType": "String",
                "ColumnType": "string"
              },
              {
                "ColumnName": "Folder",
                "DataType": "String",
                "ColumnType": "string"
              },
              {
                "ColumnName": "DocString",
                "DataType": "String",
                "ColumnType": "string"
              }
            ],
            "Rows": [
              [
                "ToDoList",
                "ToDoLists",
                null,
                null
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {}
}
