{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B164253519?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4c8dee05-5f49-47fa-9259-9060a04fe970",
        "traceresponse": "00-33ce8b7007f7566fc8a84d96bbe66ab7-74f5c6751e0ef95c-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifi;164253519. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B11457?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f62bb9bb-bb3b-44b3-aee9-467142dc2754",
        "traceresponse": "00-7e25a05e34a95e371e78fb24fad61ea3-4c1e78ab94ff7868-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifiroom;11457. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1801068296?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "148ae13d-a2a9-4365-bd04-ff0668af5da9",
        "traceresponse": "00-867f9d984e832181ed11a536beb5e2bd-0eab845a20c78747-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomWithWifiTwin1801068296. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-370169859?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "endpointName": "someEventHubEndpoint",
        "filter": "type = 'Microsoft.DigitalTwins.Twin.Create' OR type = 'microsoft.iot.telemetry'"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "5cfc2cc9-d5ba-4382-8da0-fb482e60fc8c",
        "traceresponse": "00-1d86f3357382d759e1aaea0471a59030-a414280b2f5b41cc-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:wifiroom;11457\",    \"@type\": \"Interface\",    \"displayName\": \"RoomWithWifi\",    \"contents\": [        {            \"@type\": \"Property\",            \"name\": \"Temperature\",            \"schema\": \"double\"        },        {            \"@type\": \"Property\",            \"name\": \"Humidity\",            \"schema\": \"double\"        },        {            \"@type\": \"Property\",            \"name\": \"IsOccupied\",            \"schema\": \"boolean\"        },        {            \"@type\": \"Property\",            \"name\": \"EmployeeId\",            \"schema\": \"string\"        },        {            \"@type\": \"Component\",            \"name\": \"wifiAccessPoint\",            \"schema\": \"dtmi:example:wifi;164253519\"        }    ],    \"@context\": \"dtmi:dtdl:context;2\"},{    \"@id\": \"dtmi:example:wifi;164253519\",    \"@type\": \"Interface\",    \"@context\": \"dtmi:dtdl:context;2\",    \"displayName\": \"Wifi\",    \"contents\": [        {            \"@type\": \"Property\",            \"name\": \"RouterName\",            \"schema\": \"string\"        },        {            \"@type\": \"Property\",            \"name\": \"Network\",            \"schema\": \"string\"        }    ]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "676541ea-d88f-40a4-93d6-7d2bf93da166",
        "traceresponse": "00-128245a068b601002b845def6f24adb1-d252ea005c971faa-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:example:wifiroom;11457\",\"description\":{},\"displayName\":{\"en\":\"RoomWithWifi\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-02T18:55:13.6058982+00:00\"},{\"id\":\"dtmi:example:wifi;164253519\",\"description\":{},\"displayName\":{\"en\":\"Wifi\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-02T18:55:13.6059225+00:00\"}]"
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d8b1e80d-03dd-465b-8b31-29fc4a02333d",
        "traceresponse": "00-803a060e29e87a575c943e50ef352a6f-3e1e8c50ecf379ab-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;113461504",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:52:22.5623424+00:00"
          },
          {
            "id": "dtmi:example:room;146003703",
            "description": {
              "en": "An enclosure inside a building."
           [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1801068296?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "$metadata": {},
          "RouterName": "Cisco1",
          "Network": "Room1"
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;11457"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"bbfadfc4-66ad-4e2a-b4c0-b7d786f4ec7d\"",
        "mise-correlation-id": "15de5c5a-e206-4700-933c-543f622a0893",
        "traceresponse": "00-f7fca90cba47d7f6a76926878d94de8f-4cbd275034f55f1c-01"
      },
      "ResponseBody": {
        "$dtId": "roomWithWifiTwin1801068296",
        "$etag": "W/\"bbfadfc4-66ad-4e2a-b4c0-b7d786f4ec7d\"",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "RouterName": "Cisco1",
          "Network": "Room1",
          "$metadata": {
            "$lastUpdateTime": "2025-05-02T18:55:13.7762820Z",
            "RouterName": {
              "lastUpdateTime": "2025-05-02T18:55:13.7762820Z"
            },
            "Network": {
              "lastUpdateTime": "2025-05-02T18:55:13.7762820Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;11457",
          "$lastUpdateTime": "2025-05-02T18:55:13.7762820Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-02T18:55:13.7762820Z"
          },
          "Humidity": {
            "lastUpdateTime": "2025-05-02T18:55:13.7762820Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-02T18:55:13.7762820Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2025-05-02T18:55:13.7762820Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1801068296/telemetry?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "Telemetry1": 5
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "4d45450f-d1a2-4273-99de-92afd36cbb91",
        "traceresponse": "00-2c34890d64a36bd51814a5ca2e6c8dda-3f047beeef6a1a99-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1801068296/components/wifiAccessPoint/telemetry?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "ComponentTelemetry1": 9
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "4501de85-250d-4ba3-bfbe-2b86baf7e06c",
        "traceresponse": "00-56e422732972b250634e17f4e69bea4f-f2acd716e85b24f0-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B11457?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "77452228-7f26-498c-b71a-8169216f3a14",
        "traceresponse": "00-a81f2c3e857ce5615b4334a07921c4d2-33719f02cfcc0623-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B164253519?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "4e7464fa-8e0d-4fdc-8e20-8afc0ccf5784",
        "traceresponse": "00-bf75460ab798856cc9be6c44c9a53367-0c64e7b22e670cec-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "2011093142"
  }
}
