{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B120941645?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c5c855d0-b2f5-4142-90ab-200bb8c2659e",
        "traceresponse": "00-00be40d4dba343bf3c72c6484f50493b-2812830be1ebc81b-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifi;120941645. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B18634?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1d2da81b-a312-482b-92a3-84ea118f0a1e",
        "traceresponse": "00-e3316e062b323a842fb1df36acb5a1af-863ea2a4895c76f7-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifiroom;18634. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1018643160?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bd2c1086-dc59-4375-a8d1-2a7a0d774c4b",
        "traceresponse": "00-e9a6c2cc96e2f05c1f6f11912d50f950-d6cf35a1e87785b9-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomWithWifiTwin1018643160. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-792779612?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "endpointName": "someEventHubEndpoint",
        "filter": "type = 'Microsoft.DigitalTwins.Twin.Create' OR type = 'microsoft.iot.telemetry'"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "40c4e688-42a1-4c18-868a-83a86acbc084",
        "traceresponse": "00-4d68989be2772616516f0c54376462fa-c4b4d4d951721379-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:wifiroom;18634\",    \"@type\": \"Interface\",    \"displayName\": \"RoomWithWifi\",    \"contents\": [        {            \"@type\": \"Property\",            \"name\": \"Temperature\",            \"schema\": \"double\"        },        {            \"@type\": \"Property\",            \"name\": \"Humidity\",            \"schema\": \"double\"        },        {            \"@type\": \"Property\",            \"name\": \"IsOccupied\",            \"schema\": \"boolean\"        },        {            \"@type\": \"Property\",            \"name\": \"EmployeeId\",            \"schema\": \"string\"        },        {            \"@type\": \"Component\",            \"name\": \"wifiAccessPoint\",            \"schema\": \"dtmi:example:wifi;120941645\"        }    ],    \"@context\": \"dtmi:dtdl:context;2\"},{    \"@id\": \"dtmi:example:wifi;120941645\",    \"@type\": \"Interface\",    \"@context\": \"dtmi:dtdl:context;2\",    \"displayName\": \"Wifi\",    \"contents\": [        {            \"@type\": \"Property\",            \"name\": \"RouterName\",            \"schema\": \"string\"        },        {            \"@type\": \"Property\",            \"name\": \"Network\",            \"schema\": \"string\"        }    ]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "415dd77a-a57a-4c0b-8e99-c82f71c5385f",
        "traceresponse": "00-5eb354304f6910c8995226ce948ba29b-ba1caa08ded5752c-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:example:wifiroom;18634\",\"description\":{},\"displayName\":{\"en\":\"RoomWithWifi\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-02T21:02:55.7666789+00:00\"},{\"id\":\"dtmi:example:wifi;120941645\",\"description\":{},\"displayName\":{\"en\":\"Wifi\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-02T21:02:55.7667047+00:00\"}]"
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7b7a461e-7a43-41b8-ab21-479f3b2cfb4c",
        "traceresponse": "00-b08b7b1216e81b848ddf7f6c6cf579a2-40d19944e0e42a3d-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;112647179",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T20:59:23.2369336+00:00"
          },
          {
            "id": "dtmi:example:room;114878339",
            "description": {
              "en": "An enclosure inside a building."
           [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1018643160?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "$metadata": {},
          "RouterName": "Cisco1",
          "Network": "Room1"
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;18634"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"31bdbb10-e9c7-4166-a591-7522345ca754\"",
        "mise-correlation-id": "0c977cf6-1dc1-4dc5-bfec-a99803eae4c3",
        "traceresponse": "00-1c24214bc1bf89927b8c59b131ac6983-0c7872e09e67188a-01"
      },
      "ResponseBody": {
        "$dtId": "roomWithWifiTwin1018643160",
        "$etag": "W/\"31bdbb10-e9c7-4166-a591-7522345ca754\"",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "RouterName": "Cisco1",
          "Network": "Room1",
          "$metadata": {
            "$lastUpdateTime": "2025-05-02T21:02:55.8981651Z",
            "RouterName": {
              "lastUpdateTime": "2025-05-02T21:02:55.8981651Z"
            },
            "Network": {
              "lastUpdateTime": "2025-05-02T21:02:55.8981651Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;18634",
          "$lastUpdateTime": "2025-05-02T21:02:55.8981651Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-02T21:02:55.8981651Z"
          },
          "Humidity": {
            "lastUpdateTime": "2025-05-02T21:02:55.8981651Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-02T21:02:55.8981651Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2025-05-02T21:02:55.8981651Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1018643160/telemetry?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "Telemetry1": 5
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "608e0a2e-6917-44b3-baa6-f2c9bb6ea06d",
        "traceresponse": "00-5c875047e157c36e233336f8a11fcf8d-be5dd7f2a9c3138f-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1018643160/components/wifiAccessPoint/telemetry?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "ComponentTelemetry1": 9
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "95f840c4-c89b-4e30-9bc5-62f85215d430",
        "traceresponse": "00-75751cd5c93035b85805a95dc4b5c534-cccf46d55b67b2e3-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B18634?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "065c9826-ab99-4f08-bd0d-caa81bd23fe5",
        "traceresponse": "00-697bc725ed80864c0d64c6d4f27dcf82-fb99aa70d77b1895-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B120941645?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "475bcb7a-50e5-43cd-8f35-ccf7dda29689",
        "traceresponse": "00-e7fec2dc4272fafa63902f3fce1e27bf-3fb6c40bb33607b8-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1527542578"
  }
}
