{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/timezone/byCoordinates/json?api-version=1.0&query=25.0338053,121.5640089",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "Version": "2024b",
        "ReferenceUtcTimestamp": "2024-11-02T14:04:44.5296727Z",
        "TimeZones": [
          {
            "Id": "Asia/Taipei",
            "Names": {
              "ISO6391LanguageCode": "en",
              "Generic": "Taipei Time",
              "Standard": "Taipei Standard Time",
              "Daylight": "Taipei Daylight Time"
            },
            "ReferenceTime": {
              "Tag": "CST",
              "StandardOffset": "08:00:00",
              "DaylightSavings": "00:00:00",
              "WallTime": "2024-11-02T22:04:44.5296727+08:00",
              "PosixTzValidYear": 2024,
              "PosixTz": "CST-8",
              "Sunrise": "2024-11-02T06:01:38.4836349+08:00",
              "Sunset": "2024-11-02T17:12:53.0175302+08:00"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
