{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/timezone/byId/json?api-version=1.0&query=sr-Latn-RS",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "Version": "2024b",
        "ReferenceUtcTimestamp": "2024-11-02T19:27:10.7980505Z",
        "TimeZones": []
      }
    }
  ],
  "Variables": {}
}
