{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6ea26d8a-50dd-c756-5383-57be766a337f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E3693A049\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6ea26d8a-50dd-c756-5383-57be766a337f/test-blob-16d098d8-dc8f-064b-5266-8112dc1a792c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "XAHnYYvwipbJGGgk098D3yFvYrZWEMb6ydnwjr1DqOVjhN82Jkh55w46TXd0JjNyY6HwbLjD1ks67JiyAPvYhXCCwU8AzLnZ9XunG8NPhqOlfisbUzwtoK2T+zmvx+cTYcgH8WXjcZboF3Y9G7qI62b1DIHPvTEzVSChbdB/KS6TlLn6R5Q9wgyVMjzG74TzChDTurtlQ6SW05tEQgTFae1HqYcAjaPRt0p0Oor1bWWcrmLAq25zLlAVZHT5+YAIz8lOfkb88nxsAgNx8AkaoGY1qJOhBL5+1Ho36ykv177JbGrBpu8fn7vlVKhrAj1G+sMOw1DsZsoLz6nLxQdTPCpEp4SfWfp2FgjYvLAVE9I8[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6ea26d8a-50dd-c756-5383-57be766a337f/test-blob-16d098d8-dc8f-064b-5266-8112dc1a792c?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 07 Jun 2024 23:13:00 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:00 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "8cc5319f-4304-0f7c-23d4-fd4aace45657",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4c6e086a-a01e-0099-6967-b8899c000000\n",
        "Time:2024-06-06T23:13:02.1332948Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d429107b-f059-caac-7eb7-8dcddda4827e/test-blob-7123b387-132e-a3c7-d558-38e8e2aa833c?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 05 Jun 2024 23:13:00 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:00 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "fd444950-1324-4f7f-1832-ca0db443267b",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4c6e08a2-a01e-0099-1a67-b8899c000000\n",
        "Time:2024-06-06T23:13:02.4301982Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e67162de-c812-918e-1c04-e3f0ccc4c758/test-blob-ac04a43e-3599-301b-05cf-699f532b6326?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:01 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "13558a3e-441c-1065-6e77-1b3c865c56c3",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4c6e08ea-a01e-0099-5c67-b8899c000000\n",
        "Time:2024-06-06T23:13:02.7590904Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f0fb7de6-e66b-ed74-4509-d70945bfe519/test-blob-7634337f-a41b-02df-210e-a78e4b5eab41",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "KafEpZ1JYHrD5RxTR9PUpg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E3736B441\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:13:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f0fb7de6-e66b-ed74-4509-d70945bfe519/test-blob-7634337f-a41b-02df-210e-a78e4b5eab41?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"0x8DC867E3736B441\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:01 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "32561c3f-95d4-8e12-c0d8-06325a688a8e",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4c6e094c-a01e-0099-2767-b8899c000000\n",
        "Time:2024-06-06T23:13:03.1419654Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f0fb7de6-e66b-ed74-4509-d70945bfe519?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:13:00.3990249-05:00",
    "RandomSeed": "1451714818",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
