{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-80ffa273-a1d7-bcc3-0a83-b7ca9258dbff?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:12:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E352A9190\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:12:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-80ffa273-a1d7-bcc3-0a83-b7ca9258dbff/test-blob-ea32edab-e250-eb48-7fda-6a778063e29d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:12:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "31vA+goilCL8yUVt5aWQ+nqHtOw6ugsnUGI5kFJA878MBJ85XOyOiFgP7Yac2gbaSm/9+K71YyRQmaqn6APQvNaGYOAFVp6N+SyUKsyEinVcX0biQ/oQF6B66cJC559UPzCwFnkl1PPRb/+CYTlXzA40Som97XncdUlAim3bSxGMP+qc1HT7NotTENP6jrZnIx20DZwWl1G306Aw5UmF9iPt9SFOu/eaOBP9adyl4eeT2GdQJz11dqeZ5ADTy1FBzRqwDZmUGWclGdSIGC11EfG4nA3hNc/leH56tdb3x23CvJzC9dRO/74AKw1o7F56I9MPGi5DYJhLypQaGWSRLVJnxVyRsxscap1O4QnBfIsg[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-80ffa273-a1d7-bcc3-0a83-b7ca9258dbff/test-blob-ea32edab-e250-eb48-7fda-6a778063e29d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:12:58 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "e2e70e18-a56f-7291-ca8b-bd9b748e974b",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E3536CA11\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:12:59 GMT",
        "x-ms-lease-id": "e2e70e18-a56f-7291-ca8b-bd9b748e974b",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3170f0cb-53ae-f2b7-185e-a932333aac3c/test-blob-e0bc12a0-f4cf-5586-0921-82c6a1b0c055?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 05 Jun 2024 23:12:58 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:12:58 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "cc27ff68-714e-387c-ae54-ee17ffe20802",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E3567C0F9\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:12:59 GMT",
        "x-ms-lease-id": "cc27ff68-714e-387c-ae54-ee17ffe20802",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3154fef6-d3b1-6ee9-f731-0502dc8b2749/test-blob-f206d7f1-09e0-1f96-7e9b-0656a305f46d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 07 Jun 2024 23:12:58 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:12:58 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "44c0da37-f44a-4e23-90f8-ff994636a544",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E35992CFF\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:00 GMT",
        "x-ms-lease-id": "44c0da37-f44a-4e23-90f8-ff994636a544",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1c01cd7c-1ae9-066c-80ad-6d7f0c1dfc74/test-blob-024d34c1-cb06-cda3-843f-920746a68345",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:12:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "QgvWdSQQ7571pmjW2rGouw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E36235FDE\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:13:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1c01cd7c-1ae9-066c-80ad-6d7f0c1dfc74/test-blob-024d34c1-cb06-cda3-843f-920746a68345?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC867E36235FDE\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:12:59 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "fb056378-276d-4ae7-e062-0f655ad128d5",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E36235FDE\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:01 GMT",
        "x-ms-lease-id": "fb056378-276d-4ae7-e062-0f655ad128d5",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1edaa379-73f9-7a6a-ede8-f7c2e1fb409a/test-blob-15d83744-108d-6583-678a-95a5f9c3a97c?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:00 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "5e0bf903-8af7-b7f3-c0f1-b564b28aaf63",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E36696398\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:01 GMT",
        "x-ms-lease-id": "5e0bf903-8af7-b7f3-c0f1-b564b28aaf63",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1edaa379-73f9-7a6a-ede8-f7c2e1fb409a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:12:58.0271938-05:00",
    "RandomSeed": "495647492",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
