{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-808a87ea-2864-8f83-883e-32f932660687?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E378BA726\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-808a87ea-2864-8f83-883e-32f932660687/test-blob-e09eb243-ea9d-01cf-fd10-e5cf34665419",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "6A3f9CKgmQYYLwBBoBL0IuVs2IjQdoYvbkJo3S7FC4mnL493mbtkoxiYx27qjmDqG8Lpx43LSXGHr4XgN7vXUyN3mnGDfIkpBzVvN64YReDifsJr20P82+Ud8Ok1hGtdwHRKc/TuZp45wL9XXBLDb2ql/bn5bHjge76MZoyg84PKEnY6zdLs8xcjMhqDpH/TWYF+kIaxZFT8avc1YgASmc08jUmbiaGYuQqh1TpdXNc/uAwKIWL8GK0iPWPatpAWEZlMRxY1N9Df5tZ7EI8ang0g9an0B3dqP3WbeEs+vgJ6i8SgEBXACoE7KzuLgAgeCJ9VucHmIgkh4Qehmb6FoSfUAYTKeY34YOooudw8375s[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-808a87ea-2864-8f83-883e-32f932660687/test-blob-e09eb243-ea9d-01cf-fd10-e5cf34665419?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:02 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "10",
        "x-ms-proposed-lease-id": "d322f754-dce1-4fd8-a746-3dd6d7f1f81a",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:4c6e0a0a-a01e-0099-3567-b8899c000000\n",
        "Time:2024-06-06T23:13:03.7367708Z</Message><HeaderName>x-ms-lease-duration</HeaderName><HeaderValue>10</HeaderValue></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-808a87ea-2864-8f83-883e-32f932660687?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1176983213",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
