{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2f1bac04-dcfc-863a-a4b2-e9259145ab14?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EBF34B570\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2f1bac04-dcfc-863a-a4b2-e9259145ab14/test-blob-bf88b0b3-e913-c991-e0a6-f1feb58c27f8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "ylXw3Na5Cd7d/zwjE92+LXtD+q0jKIBLIqURZH/PO5qmLyNgIKYM+qep4RStbbYC6MOCcZJ61aHVpLoxp6RfDcOhfOS6XQzVNgAGekZsnbTvDnu7TMoILFmBi3zs21ICStNQC/HSSIq3rTqSc1paaAcFQpgoo8H5mU+KONKQ6FutAzBzHJHDHMbwBJ+Pdrj/JiJ15pi62qYSV3GhRw+4J8Te5HAq50x1QSXSN54haSOXixKwGgLC8ymJYMQfItS2ONzasJFI1D7V/6Vz56IH8O5NCrz9BwzCHPFHoYeHVR9QG//CRriSTrbT2htdTwuHgW/W0RcYuDDQGJSgATO3TaqFIsujRak1u7sGKizxZc3l[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2f1bac04-dcfc-863a-a4b2-e9259145ab14/test-blob-bf88b0b3-e913-c991-e0a6-f1feb58c27f8?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:49 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "10",
        "x-ms-proposed-lease-id": "57912702-5ba5-c720-00e4-7028a4d80dd4",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:b59d011a-d01e-0083-0d67-b8e843000000\n",
        "Time:2024-06-06T23:16:51.3221159Z</Message><HeaderName>x-ms-lease-duration</HeaderName><HeaderValue>10</HeaderValue></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2f1bac04-dcfc-863a-a4b2-e9259145ab14?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2000547588",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
