{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0f0c0c86-db8b-6c99-3451-9c6128c3fb31?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EBF093C4B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0f0c0c86-db8b-6c99-3451-9c6128c3fb31/test-blob-3d31ec19-da20-b7ce-b47c-a46702e545b5?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:49 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "b9145102-0f9f-e5b8-2354-9cb339a75680",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\n",
        "RequestId:b59d00ef-d01e-0083-6c67-b8e843000000\n",
        "Time:2024-06-06T23:16:50.9872258Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0f0c0c86-db8b-6c99-3451-9c6128c3fb31?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "393434171",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
