{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0a60c1de-3244-b195-ed33-6d4ef7ae9f1d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E3BABD383\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0a60c1de-3244-b195-ed33-6d4ef7ae9f1d/test-blob-8590e596-6c23-f181-e932-0ea665749460",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "mtZmyrRYvBxE/uoSOSS8Dbs3ijj9FHJ7qwddLs12vad1UhmaiRfhPSlzQSSCbrjFdgDqLelcYoZj6x6s+41OzUFCnOcKIYSkVkwPidJO+DxPmLjNi4+9Ge+TN574NEKbJXTjQNLQulV8RtedTdizFfLhXWLVgUGxhIP3d+nmqyEKc2Rearhqft1iUEW4IMwW4CGrF9ffxqQyMrxO2UJrlpq1ktl0VKo6dt6EcjD7+WO34JfIOpRKKq3AKzj8G6Wb97qqAo7yoot2caD5W1NzNzlYl/iro1sGa2gstChyPlo46Xt1UfbVxD4LUcnzUc9ZTPT/o4Os71RepJclxe5iBDJFwHHY/eVCg9K6n1GRExmZ[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0a60c1de-3244-b195-ed33-6d4ef7ae9f1d/test-blob-8590e596-6c23-f181-e932-0ea665749460?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:09 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "7c65c16e-c819-57eb-5ccd-7cbeb29a7d85",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E3BB7E28E\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:10 GMT",
        "x-ms-lease-id": "7c65c16e-c819-57eb-5ccd-7cbeb29a7d85",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0a60c1de-3244-b195-ed33-6d4ef7ae9f1d/test-blob-8590e596-6c23-f181-e932-0ea665749460?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:09 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-lease-action": "break",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4c6e125c-a01e-0099-7967-b8899c000000\n",
        "Time:2024-06-06T23:13:10.7184889Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0a60c1de-3244-b195-ed33-6d4ef7ae9f1d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "246659682",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
