{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c0eecef4-7486-1b35-e4b3-b07736c75533?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E388D4A27\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c0eecef4-7486-1b35-e4b3-b07736c75533/test-blob-a0d3d1e5-cb56-69cc-2d84-c4671f4f7284",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "eM3rgl3ApHrnRGflJUKLok7H/9eMm4vB5gBnCSAVWToo4OURbk4wJSxZuRJj5kTq+SIZWFCa+N1BKZtdWZtZ0uotvURdeTMAltqrMuF5XQC8fA/9+wHpjegIz0Sy08uQ/+YnNin/jX/vGMF278X7yMybodyLXNbpQzBcVKnuTcMOGjP7USfWvO+PDuI/c50jDQd4FjLuBaMPPvL5ojjWAMr9Z9SSAHelxeTt+07zqdCSOUeidjeRHxWQ6xI03Rq2uQ0XQgzJkQ2Q0lFOAQlUHJQiZmnwM4qTa0e/AhRkcOfJN0JB22fEyag6EaPmQx4LO89+EnawxYWChNbECY74LGJphMrHE0AsXZ3BtiLnrSgp[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c0eecef4-7486-1b35-e4b3-b07736c75533/test-blob-a0d3d1e5-cb56-69cc-2d84-c4671f4f7284?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:03 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "fa4b1661-b6d7-3474-fa53-cad8e02013f1",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E38995A55\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:05 GMT",
        "x-ms-lease-id": "fa4b1661-b6d7-3474-fa53-cad8e02013f1",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c0eecef4-7486-1b35-e4b3-b07736c75533/test-blob-a0d3d1e5-cb56-69cc-2d84-c4671f4f7284?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:03 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E38995A55\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:05 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2930bd63-7e36-1375-903e-155107d7d3be/test-blob-abc583a3-11d7-f55d-af58-1ca0bde18fd8?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 05 Jun 2024 23:13:03 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:04 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E38F15DEC\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:05 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8d211868-b2f1-db99-fac6-3310e3a8fdd3/test-blob-09e0a257-27f5-11d8-be10-95cde881705c?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 07 Jun 2024 23:13:03 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:04 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E392C6611\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:06 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6e10001f-0f24-afe7-f328-e3a692a46f74/test-blob-259e2a7b-d7f4-66b4-9daf-dcb00773c857",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "HJyVujtxhdefVCuzbXzIaA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E396AC955\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:13:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6e10001f-0f24-afe7-f328-e3a692a46f74/test-blob-259e2a7b-d7f4-66b4-9daf-dcb00773c857?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DC867E396AC955",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:05 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E396AC955\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:06 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6b09c866-d5db-e7d3-27aa-ee097b28c1e5/test-blob-7d92fe1e-b429-d6ff-0eac-4668b0f4701f?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:05 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E39BC3DC7\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:07 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6b09c866-d5db-e7d3-27aa-ee097b28c1e5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:13:03.7130725-05:00",
    "RandomSeed": "1044238358",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
