{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d65d5bfa-ac89-6e1c-65bf-4f677eae0231?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E3A015479\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d65d5bfa-ac89-6e1c-65bf-4f677eae0231/test-blob-75af5667-8242-fc85-9bee-be5ed2cbf48c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "IeEFAp7BHqJKD886c4rMe6+g6iQqKCzf9hOlIz+TGpSG/hTCl3iapTcMKzOzSokQIkKvMuHPYvm0JQuLHPpjtvQ6s3V2CeQ2BUTsHv35LKuKlQH85OiztpwaDXFsDok8qHU+eJcTmRheeCyc4kP8u/lgAYb5ZtEMhv3YXPxzyfa6sHWHurMUdvzonmy7FtNYHlF4DA0DQkGjMfGaOj0c66414jLNdAFFS4uKEchkUW8pgD2q+7zpt20044nCeju+zLK+hTShiqlQMsGBeDF4P+CBcLr/cfDxTCvEmZB3g9FQy0QWpss7h/aUWsj7Zz48u6SpQAmAv1rCzDkJ3PAZ2K7vMazsYpgURunDahcn9eTs[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d65d5bfa-ac89-6e1c-65bf-4f677eae0231/test-blob-75af5667-8242-fc85-9bee-be5ed2cbf48c?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:06 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "032697e0-ccc1-95b5-c625-ca45af94d589",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E3A0F11A6\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:07 GMT",
        "x-ms-lease-id": "032697e0-ccc1-95b5-c625-ca45af94d589",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d65d5bfa-ac89-6e1c-65bf-4f677eae0231/test-blob-75af5667-8242-fc85-9bee-be5ed2cbf48c?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 07 Jun 2024 23:13:06 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:06 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4c6e0f15-a01e-0099-0167-b8899c000000\n",
        "Time:2024-06-06T23:13:07.9224023Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-55064904-c533-9ddf-2f4f-4389f76cc4da/test-blob-7e149d0a-53d5-2b05-3682-ac1c11aa31e4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 05 Jun 2024 23:13:06 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:06 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4c6e0f8b-a01e-0099-5767-b8899c000000\n",
        "Time:2024-06-06T23:13:08.3212726Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e6bb3a59-d6c3-7c76-0fe0-f9efd1c90680/test-blob-7562f3fa-ac1c-f662-41d7-14d51ccc7c84?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:07 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4c6e0fff-a01e-0099-2c67-b8899c000000\n",
        "Time:2024-06-06T23:13:08.6821539Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d9706139-51d2-f514-db44-9ac707f141ac/test-blob-cabde24b-6fcf-affe-1261-8b7ace340be4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sxeVrrrA1LFdNPYlDm6V9w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E3ABC59E8\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:13:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d9706139-51d2-f514-db44-9ac707f141ac/test-blob-cabde24b-6fcf-affe-1261-8b7ace340be4?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8DC867E3ABC59E8",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:07 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4c6e1088-a01e-0099-1267-b8899c000000\n",
        "Time:2024-06-06T23:13:09.1190115Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d9706139-51d2-f514-db44-9ac707f141ac?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:13:06.1430312-05:00",
    "RandomSeed": "1113423479",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
