{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cb603650-a564-c111-e156-7d8a085cc9d4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EC46835C8\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cb603650-a564-c111-e156-7d8a085cc9d4/test-blob-0a136ede-02b8-95ce-289e-075a9f25861b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "23kDYOp3T4w9rqsUYYic7mIUDcyycEuF2dwp5qyJa4ivPqqs0kcGZx6GzQpWuTOfAhn3ixe6aGstfYcOTWngtEIiZSPe8BsaDaatK6NBLh+oieOSkeBw9NU/flTA+Bm1phnHM1QPwRL+3H1xDT3H609oZcOGTSJisnFOn3HGWhWN+IWKevvKmMjRlLVi/+eXd5MFWJJVLlj2ZYHjwSGgOIFo5BW4PXFTnc37tLhs/7KJtifewAKCN8kskxR559emMFwz+hvS3zohsrrFWnqfimXOWQr6wnd/5axLi6lc2rX1VIRcOQWXt9ftvA5Hvd1PjAmvqo7MrG7ktBVuhlSQxNcF0AX1Q1BgN6EzDAVpNyjP[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cb603650-a564-c111-e156-7d8a085cc9d4/test-blob-0a136ede-02b8-95ce-289e-075a9f25861b?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:58 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "1af742a4-4e78-d5bb-5e7f-019bfb08d3ef",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EC47750C9\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:59 GMT",
        "x-ms-lease-id": "1af742a4-4e78-d5bb-5e7f-019bfb08d3ef",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cb603650-a564-c111-e156-7d8a085cc9d4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "822546550",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
