{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3241a452-3ee5-0cc7-5c61-b9c74a6d6826?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:17:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EC74F3895\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:17:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3241a452-3ee5-0cc7-5c61-b9c74a6d6826/test-blob-45f48ec7-91f7-d7cb-cbc2-462956d752b2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:17:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "yAtoDabzcBuzqNJq3NWm2k/pJyu1VLbOce+p85VgCNz+6zvMqF9Y1B7Zkk6+YPr1G2vabbAm/XRUmZu2SXyGUqD2a/CZ2jLvkFMN3MFoDxH1tNgphpos2O7HeA7DooqhUj+uyPQKW0E56t1cGSGy64qKwZWkXMwFyZMC0mEjLO7Ja4mCukYc6lmW8Ju9z7/NFYyEOeH0/fZzqP9gCInfFr7ukq2XLzFDbdY8DWwwR/nUNLzVnvIN1G6SDxFHvOLPt9rdzz0RNeVaQMwKuO+JQmEFjNPMCXfL4b4/BCAf/LHzbFaSU3i8wv7Wel0mAhx+CcywQi8PAq1iEe1+0jHEOkQbF0yY9+/pSMrV9o4Zpd6i[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3241a452-3ee5-0cc7-5c61-b9c74a6d6826/test-blob-45f48ec7-91f7-d7cb-cbc2-462956d752b2?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 06 Jun 2024 23:17:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>coolTag</Key><Value>true</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3241a452-3ee5-0cc7-5c61-b9c74a6d6826/test-blob-45f48ec7-91f7-d7cb-cbc2-462956d752b2?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:17:03 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "1dc7e470-1194-16d4-5766-6f5f8161dbf8",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EC75F1632\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:17:04 GMT",
        "x-ms-lease-id": "1dc7e470-1194-16d4-5766-6f5f8161dbf8",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3241a452-3ee5-0cc7-5c61-b9c74a6d6826/test-blob-45f48ec7-91f7-d7cb-cbc2-462956d752b2?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:17:03 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-lease-action": "change",
        "x-ms-lease-id": "1dc7e470-1194-16d4-5766-6f5f8161dbf8",
        "x-ms-proposed-lease-id": "f7e08995-a9bb-6a8e-7467-5cd0db535d1d",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EC75F1632\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:17:04 GMT",
        "x-ms-lease-id": "f7e08995-a9bb-6a8e-7467-5cd0db535d1d",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3241a452-3ee5-0cc7-5c61-b9c74a6d6826?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:17:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "854745238",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
