{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-de157910-cbf1-6c54-2859-38bd4f05002c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:10:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8703F52F72A4\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:10:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-de157910-cbf1-6c54-2859-38bd4f05002c/test-blob-9d902b11-d5aa-b8ad-2910-7889726e4b5a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 15:10:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "9j7jSIBgZ0iixVFdkhrQeKuH1PU9xE8EWct2tK2NymWLaT71CXNPsMRI++WDTyUOP//d65lWHTHv3+606bKaFfrs0inc2284NyMx9MlpgAqlZ3Sur9/MNUwMBSqEm8YRrebql338MWSPpbN1JShohV/kDoI97GYbH5zc0NVFs5xcH0bjf+iNqTYQHgksVhAjo3/LoIxE08F/z3fgIGGOSvIWGQXihQZ2VmVLLc1c7smLuSxVeRMQGEuEY69wrInUgtMXFj0KQR55VEkn+Kb0I+GuVWY0ONDeBgC6XSFWBancd6v6RdiMgXcO3CXJ6B+kkEDOwlcioEkCOA88UOT8Ik6gSoH7+d4IIdTvJVyrFR3h[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-de157910-cbf1-6c54-2859-38bd4f05002c/test-blob-9d902b11-d5aa-b8ad-2910-7889726e4b5a?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:10:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8703F53C686A\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:10:24 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-06-07T15:10:24.9455894Z",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:10:24.9465894Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-de157910-cbf1-6c54-2859-38bd4f05002c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:10:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1799786747",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
