{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b86e93f3-ec53-0c10-1499-e742458f2029?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E4046CAEE\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b86e93f3-ec53-0c10-1499-e742458f2029/test-blob-68ff2c05-4b06-409a-22a6-0923a3f20004",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "2KRXZN5daI2pswxQFQ8hVtWhGN8QVzufR3ChGkOPlhCUmIkCAPbIqMRxv1M/SisThbNNAtkh9IBouBxuvE5JGhz8u3yFH1Xe2G8bnpjnX/1EjpWQQZQ2c6QJmUfZWux2KKU3Q46vjWZdbilpBlXogFkfKi24udiIxUfXfIUNBX6DpXbzsBxulAAuMtNqzG1PIRjuui++vW/Mr31G1xHgUGmr5mDe9NA8sZUtiYYFHfjaiFttHktOxOcHJgGfJ73vTuJpv+YMcCxHsgiakTPox5GEbE62cjEeXSJ4183OnYnYPTujm14SzhguJWxCszK0Hl5vGrtuONywS2HEk5heeBV/wlP4RCwzcp01h0zF3Knv[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b86e93f3-ec53-0c10-1499-e742458f2029/test-blob-68ff2c05-4b06-409a-22a6-0923a3f20004?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E4052FF48\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:18 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-06-06T23:13:18.3759948Z",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1fafe528-3da9-d198-e4f7-5c06b9e3c1cc/test-blob-6e944dc4-0367-179d-3ced-8ddb5dbc2fbb?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 05 Jun 2024 23:13:16 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E408C32DD\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:18 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-06-06T23:13:18.7468713Z",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-81d5e2da-cda1-1aab-ad4e-42733fbfa403/test-blob-47a34237-6bac-1ae3-7d7e-772acf1c7804?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 07 Jun 2024 23:13:16 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E40C0D2F6\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:19 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-06-06T23:13:19.0877583Z",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2d21730c-c87f-34f6-7880-0e41fb0063e1/test-blob-ca0717c3-771e-56b3-e8e5-59e66cfd05ad",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9/TxNhKTHhg7fYgPzlwtOg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E40F524E6\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:13:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2d21730c-c87f-34f6-7880-0e41fb0063e1/test-blob-ca0717c3-771e-56b3-e8e5-59e66cfd05ad?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DC867E40F524E6",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E40F524E6\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:19 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-06-06T23:13:19.4946228Z",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ec6de65f-6d4f-677e-a08a-2e3537e84068/test-blob-9f1febff-4d32-6da9-aac0-10f21cb0182b?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E412F69D6\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:19 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-06-06T23:13:19.8045197Z",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-da5a14e1-7755-4195-f8d0-eba36c664d32/test-blob-3d341052-ef8d-f25d-f7ba-05c4084f0f92?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:18 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "dfea4df9-58ba-6720-f13e-ad6d914cd8d3",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E4165B778\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:20 GMT",
        "x-ms-lease-id": "dfea4df9-58ba-6720-f13e-ad6d914cd8d3",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-da5a14e1-7755-4195-f8d0-eba36c664d32?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:13:16.6731403-05:00",
    "RandomSeed": "1996700062",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
