{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7ebefd9b-e4cd-c6c4-e07a-af7a0efd0470?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 08 Sep 2023 20:46:32 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB0ACAF1BD239\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 20:46:32 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7ebefd9b-e4cd-c6c4-e07a-af7a0efd0470/test-blob-7defae7e-5f34-1757-179c-78bb8b7fced1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 08 Sep 2023 20:46:33 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "eQ9hcof2P3tj6O2rplMemKKelkS1Ae\u002BVL2i0ie/BNzSxmveY5mWI7IrMoJiSvh0xAZg3/8Ur7ngfzEMfQrWMorG4\u002BgtbhrE9Faq56WFXAnBLg4hXiTduhax/eBohaarUQP7n2cQR1Xvm\u002BuobcQUWyMnS1L8tNBh5SXRf3A2XG6z/5ahjbyisOa0NcY9NUxSnaLBRTpXqpwvlbZBPsvhtTt49G4xcs1igJpsRIMOIK/ZguHRcRs0XFT6dfQGYXYa0nyKxDzeISrRYsCj52YZIXUKZ7/qEEQgRJgZNvzZWB8gVXYCg1xy\u002B122/BJWkHTy3VCC//26LL44ZoOgwOot\u002[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7ebefd9b-e4cd-c6c4-e07a-af7a0efd0470/test-blob-7defae7e-5f34-1757-179c-78bb8b7fced1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "brEJRMCJBrEDJAF9f/611A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBB0ACAF70D32D\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 20:46:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 08 Sep 2023 20:46:32 GMT",
        "x-ms-last-access-time": "Fri, 08 Sep 2023 20:46:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7ebefd9b-e4cd-c6c4-e07a-af7a0efd0470?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 08 Sep 2023 20:46:33 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1599618970",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net/\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\ne31670c5-d1a6-4b74-8c15-2d2393f3eb4f\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
