{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6d6cc0d4-7ff8-a1e7-5317-c7385b1e6ffd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 08 Sep 2023 20:46:29 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB0ACAD13A48F\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 20:46:28 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6d6cc0d4-7ff8-a1e7-5317-c7385b1e6ffd/test-blob-834c9f0f-68a9-5d92-69e6-461713260e3e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 08 Sep 2023 20:46:29 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "nuVXtzD4JWbqoxHBLmDrRKexoyDrmqSwdn11BG7Lpf\u002B6pOjQtrjlnBXL6rXPjeHJNrpjcrhbwQNAp0GzgyD4Hv4RB4l4Go3vzAcKH6/v4Oibq86zZzJGXuPkjw92Mhn108y3vYZXURssdKaxUKFUUcZZF9dRRbfLy6imlIt\u002BeJruFUzjOCNhQ1qzhvOLlA1BkD5IHRpBo40V6/LdsbyQrvsLwztVcBij99N9nr7DPzabZARMNVt/rHG\u002BzkwwhJKdItf3f9HS6x8lpSVHwwXOUau7Qk24Q3mfjBbJlqLMcnJB33vmzL9kyHjkJpA2OOlr732hdUFE5d9eWPO7CFV9WTKyBeSK6[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6d6cc0d4-7ff8-a1e7-5317-c7385b1e6ffd/test-blob-834c9f0f-68a9-5d92-69e6-461713260e3e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "oFhw7GB1aLVr\u002BfTRCA2Nwg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBB0ACAD2347E5\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 20:46:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 08 Sep 2023 20:46:28 GMT",
        "x-ms-last-access-time": "Fri, 08 Sep 2023 20:46:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6d6cc0d4-7ff8-a1e7-5317-c7385b1e6ffd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 08 Sep 2023 20:46:29 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2122656976",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net/\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\ne31670c5-d1a6-4b74-8c15-2d2393f3eb4f\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
