{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-def1fd8b-bdd1-2364-9be6-52bcad0fb0e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:17:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867ED46FA048\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:17:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-def1fd8b-bdd1-2364-9be6-52bcad0fb0e0/test-blob-d2a49848-a83c-8f26-fbe9-56cd2c2fbccd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:17:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "MK3DEwcFPArUMw71333nCBYK7M0o4mhQc3ivugJz+qvRT1Ryu9p+Q1ya/gmaMbB9AU62IULvpE1Fcp+PVYEIYThiJI8pdUw7jKhxjuRftkLHMrm0vNlo4qoGLEk77+3bkp3QNw0gVIwBe5SZfRVp5bxcxyPIU6Rf+kLlIkgD/5y7lfxGjn41p94ss0BEzmSUnUaM3yfKEz74cT3LOzJE/Xv43ugYIlc+JyBEm6BkGyzeUYQBdyB18IK+Th1Bamus6LXETO97e3rvTrcGhXedlFYQ7emtQoVbgu5lWtQ5/L20mLPrn848YtUKESlobmoLIbnHMHyC/qUvackBFiGmtlH6UuzDsvSH1IsUojFc8xSD[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-def1fd8b-bdd1-2364-9be6-52bcad0fb0e0/test-blob-d2a49848-a83c-8f26-fbe9-56cd2c2fbccd?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:17:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867ED47CE320\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:17:26 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-06-06T23:17:26.9453248Z",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-def1fd8b-bdd1-2364-9be6-52bcad0fb0e0/test-blob-d2a49848-a83c-8f26-fbe9-56cd2c2fbccd",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:17:25 GMT",
        "x-ms-delete-snapshots": "only",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-def1fd8b-bdd1-2364-9be6-52bcad0fb0e0/test-blob-d2a49848-a83c-8f26-fbe9-56cd2c2fbccd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:17:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ibmz7cr17TmOX/ieAK3KbA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867ED47CE320\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:17:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:17:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-def1fd8b-bdd1-2364-9be6-52bcad0fb0e0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:17:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "422941762",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
