{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-546ca5d8-2120-26bd-fbf1-dc18063e5848?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E4B8F19BE\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-546ca5d8-2120-26bd-fbf1-dc18063e5848/test-blob-13e95529-43e1-0941-3029-fde792c66197",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "UhLV42v+i1bD8AuZJQ/jfc9mzW55jOkA4coqk2Rk0XzVERNNA4a8K8mTT/A3p+MhRYAXLPnzHsYo1AGh0/fxXh+PxBT7lnlJqaKk5Tz5yDrmCU7kTaWC4vNNJC+EG1fSovDQqOPOJa8GzYJXTjmJLwvHusqpDBB6DOEhrXFKxI5K0kNMKCBXGOOf3oAiKpS5xPQjvWCNKJXfVpsBrXg9uwj0DXv2PAfrb6LmCi6QWOJNZ+l8JwctvKqtbNGEVmprYSJ4LR0Yw4ftN06+px1nT/65s0aPwJQBxlDQSM81Zxk4e6gLGCrFNKNhj++4bxWMRR3Sy6Ij26GOdmbMSHu3t9A0hit0XDfU9H+jLTGkSFc6[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-546ca5d8-2120-26bd-fbf1-dc18063e5848/test-blob-13e95529-43e1-0941-3029-fde792c66197?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E4B9B49D0\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:37 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-06-06T23:13:37.3456858Z",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-546ca5d8-2120-26bd-fbf1-dc18063e5848/test-blob-13e95529-43e1-0941-3029-fde792c66197",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:35 GMT",
        "x-ms-delete-snapshots": "only",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-546ca5d8-2120-26bd-fbf1-dc18063e5848/test-blob-13e95529-43e1-0941-3029-fde792c66197",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "xXIVDghzCsBAqAgfH4rJKQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E4B9B49D0\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:13:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-546ca5d8-2120-26bd-fbf1-dc18063e5848?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "786033735",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
