{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-18d441df-ca8a-a2a4-fd19-c293a3b44ba1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Oct 2025 19:16:21 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE02B1535755BD\"",
        "Last-Modified": "Fri, 03 Oct 2025 19:16:16 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-18d441df-ca8a-a2a4-fd19-c293a3b44ba1/test-blob-02d9a952-b29e-59e1-b5a6-7a878ce9c686",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 03 Oct 2025 19:16:21 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "wUG1xIWri0C/SVFE5Z89nuUXaDKdVeMr/dXqbkrZK+OAGSyvSVigpx6ZQlVhnHMWaNyidICT6GteicewwB325h1tw8xyjlSMdsEUBBONymFi1AZtN7di7DHAUb+R8OYBolw489ino9qHFf2/f+RY0L9lTewWiK5lC9aasjyU+4XaE2G3VdaIujAr5iG5o21MaIAAK6L56hqt0ucBDPCd8hp45GuDoXvp3ZO866KNrGhoTkq7lM/j4SlHCYLuhq4/jfMGQb4CycYFFk4PPf53HyZ/mL6m4l5KlANCO5f5+lfkfF6vhmqpZoSDtn2B06Mr0Olbbu3wmauVvKy7wI0uCxz2K8CgyJm71jI5IivgycFf[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-18d441df-ca8a-a2a4-fd19-c293a3b44ba1/test-blob-02d9a952-b29e-59e1-b5a6-7a878ce9c686?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Fri, 03 Oct 2025 19:16:21 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-18d441df-ca8a-a2a4-fd19-c293a3b44ba1/test-blob-02d9a952-b29e-59e1-b5a6-7a878ce9c686",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier-if-modified-since": "Thu, 02 Oct 2025 19:16:21 GMT",
        "x-ms-date": "Fri, 03 Oct 2025 19:16:21 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-18d441df-ca8a-a2a4-fd19-c293a3b44ba1/test-blob-02d9a952-b29e-59e1-b5a6-7a878ce9c686",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Oct 2025 19:16:21 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-18d441df-ca8a-a2a4-fd19-c293a3b44ba1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 03 Oct 2025 19:16:21 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-10-03T15:16:21.7159655-04:00",
    "RandomSeed": "613234118",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
