{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d66db434-bf1f-31e0-f04f-d02f9910d4d0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:47:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BD0704D4532\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:47:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d66db434-bf1f-31e0-f04f-d02f9910d4d0/test-blob-1663af15-b9ac-3174-7efe-7c1902824279",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 13 Feb 2025 01:47:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "wOO+WdcH7+0bJUXrWX2qXl+64zAHGxO4DLPP5IqeM8P6nqOk1Jc9RHkanpcoOKUH+16cWekIwKTPBUwkNwtjfPGC8LvZBYrHfZ+37H18kNMNyOgrAtna8t3+1c5KGAxutyGlpUjpLfbT1NxJUdMnUnV4Fm8iOHoXqP3d2zC8fGSTSTVc1+uLI5vyVy79kKEK14NY0gKdTH+mjfxLDFLGF1d3tgedynqK7fLTL+BMGhdc0wOsY6pi9f22tUnuPxdILEDWhdqZbAwIzuQPyRyeWnPk7zhOGbOsFcAK5xUxm63aiwKgdZQ9wmb2pJXGUyzgF1rVClDf+hOMKnAaj4T21zI2ND4Z/uXfpyzRV3Ue5cGU[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d66db434-bf1f-31e0-f04f-d02f9910d4d0/test-blob-1663af15-b9ac-3174-7efe-7c1902824279",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 14 Feb 2025 01:47:56 GMT",
        "x-ms-date": "Thu, 13 Feb 2025 01:47:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9dcef68d-fb8a-555a-038b-b9e45d632989/test-blob-ac33aaf2-8fb5-077b-1375-e51d53a03b05",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 12 Feb 2025 01:47:56 GMT",
        "x-ms-date": "Thu, 13 Feb 2025 01:47:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:76914be7-401e-0006-02b9-7d930b000000\n",
        "Time:2025-02-13T01:47:56.9127291Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d8549c16-75cd-0b5c-dcfe-d1fa5e57a160/test-blob-27de2706-a886-65c0-cd10-5eaac01e15e8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-date": "Thu, 13 Feb 2025 01:47:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:76914c2a-401e-0006-3eb9-7d930b000000\n",
        "Time:2025-02-13T01:47:57.1369698Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a9a16367-8df4-4b8d-d53e-c1f964e55043/test-blob-bdd7f15b-601d-29f6-a77d-6cc2bc9a07bf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:47:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "4UK0Q2xlYfqLgHFN5oSE5w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4BD070B69BE4\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:47:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 13 Feb 2025 01:47:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a9a16367-8df4-4b8d-d53e-c1f964e55043/test-blob-bdd7f15b-601d-29f6-a77d-6cc2bc9a07bf",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8DD4BD070B69BE4",
        "x-ms-date": "Thu, 13 Feb 2025 01:47:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a58d244d-e0d3-590f-2c02-ef7b8edab7ac/test-blob-ae1713ed-e393-7855-b1fd-fce3f26b1fbb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:47:57 GMT",
        "x-ms-lease-id": "aed764bf-e44a-d2fc-d894-b3e4898a5b79",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseNotPresentWithBlobOperation</Code><Message>There is currently no lease on the blob.\n",
        "RequestId:76914cbf-401e-0006-45b9-7d930b000000\n",
        "Time:2025-02-13T01:47:57.6139476Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a58d244d-e0d3-590f-2c02-ef7b8edab7ac?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:47:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-12T20:47:56.7451591-05:00",
    "RandomSeed": "1530613287",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
