{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-557954da-b6d8-4d8f-de33-0e2a15f5a386?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:47:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BD06F97EA5B\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:47:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-557954da-b6d8-4d8f-de33-0e2a15f5a386/test-blob-4df2bce5-06da-8d0b-fac3-729e87598e37",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 13 Feb 2025 01:47:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "qF3BCSxAgPbvRq13hKS7ldvmXtORNVgVLtJakpAa2c2Tn0I0iE38i8FsfueLT5333r5vcnr5AHIFq9tZ5u1l1Gzf5ORihwyN6tMRJbdwid81Y7TSq2ZSmZ7PLt1yoqTUBqp6rGq4lVex4Yin6Nu7lSH8I4M5kygGjEtGklkvG0cuPR4N9d10fc1cIMreq7HCFJi7dn8hmnOBdB8fcQL+gsZAeKq9rp9Dh6a13HNeJ+Gag33Ac6TIDKOri4C+VAvKXp0EnTMGBWb5eO7ZbL4AI0w9he2EPQ8heGsHESIehTKa6n3VWoquk34Xx/u176Dlq2g0gM8dRSCO4iTH//ND2vK8PoJAKsnCj/FvbXYTa4nL[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-557954da-b6d8-4d8f-de33-0e2a15f5a386/test-blob-4df2bce5-06da-8d0b-fac3-729e87598e37",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 14 Feb 2025 01:47:55 GMT",
        "x-ms-date": "Thu, 13 Feb 2025 01:47:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-19e33f3f-a7eb-c5a2-5ea3-932c267c88b4/test-blob-45bbd9ae-3bd5-5faf-48a0-ed271b6513d7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 12 Feb 2025 01:47:55 GMT",
        "x-ms-date": "Thu, 13 Feb 2025 01:47:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:76914a9c-401e-0006-51b9-7d930b000000\n",
        "Time:2025-02-13T01:47:55.7376095Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5555a60f-2da1-45b3-97fd-51007650230d/test-blob-e1ed8809-3b69-b437-6d72-ebc875ad583e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-date": "Thu, 13 Feb 2025 01:47:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:76914adc-401e-0006-0db9-7d930b000000\n",
        "Time:2025-02-13T01:47:55.9556895Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-068803bd-4543-bac6-1cd1-b0e38c7b0116/test-blob-0440d132-a5b2-bed4-c2c0-bd8ed53ff5de",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:47:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "pky2V73ZkuQg6uKo4gTzPQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4BD0700418A1\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:47:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 13 Feb 2025 01:47:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-068803bd-4543-bac6-1cd1-b0e38c7b0116/test-blob-0440d132-a5b2-bed4-c2c0-bd8ed53ff5de",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8DD4BD0700418A1",
        "x-ms-date": "Thu, 13 Feb 2025 01:47:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-babe9af1-a26e-6495-4113-54c7ce16d621/test-blob-2e36a78f-84d2-ea0f-2929-ec4bc6e89f8b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:47:56 GMT",
        "x-ms-lease-id": "32e72bd7-687e-e304-874c-e410ff2036ac",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseNotPresentWithBlobOperation</Code><Message>There is currently no lease on the blob.\n",
        "RequestId:76914b62-401e-0006-08b9-7d930b000000\n",
        "Time:2025-02-13T01:47:56.4441174Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-babe9af1-a26e-6495-4113-54c7ce16d621?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:47:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-12T20:47:55.5590922-05:00",
    "RandomSeed": "1308558233",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
