{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-17160503-94f4-0326-76e1-d2f25a17b075?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:17:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867ED8054AF6\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:17:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-17160503-94f4-0326-76e1-d2f25a17b075/test-blob-dcdd43c6-8a63-873d-6965-729a60abda2c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:17:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "qvnUBoMYHSQ+C4Drj0V+EOwKhuO+WrNtq7+/UxNEfm59BDaLke5FU1k0F7U4G2G85rqWgqKnQU9FZ1vEWMkQ+owRbYsO8n/9xDOKiUL+NI9eAm1YrvvM1cLmRSmSgfqQJB0pJq3VrvM7mL1uHbcNRzLLZVZbt0uRRJjJJ6xVakM4+WUk1A3iiFR6HRY9XrcK2f72xxukNGzSl+IVC4ZG5i16NSRS6XIl6d0B4Zo1VObgv06uXqMolMX4Uj0rzH3OMzbpwyiTt++L0d4+olLSnEP7NEs3l4eJUaBeWZc1+RxfM61jTJC+TQhfI4zF6vJyJrX5MJcxlpuvX3GHNF1YVdjB3m+lblCyPOdD2HT6w2eu[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-17160503-94f4-0326-76e1-d2f25a17b075/test-blob-dcdd43c6-8a63-873d-6965-729a60abda2c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 06 Jun 2024 23:17:32 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:17:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-17160503-94f4-0326-76e1-d2f25a17b075?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:17:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:17:31.4121729-05:00",
    "RandomSeed": "82299813",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
