{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5b34a0b2-03ed-574e-3bf8-8cf982054905?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E541FD5C5\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5b34a0b2-03ed-574e-3bf8-8cf982054905/test-blob-8a7e0fd0-a2ff-62a9-070d-122e0b202519",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "hY8WAz/g+IqcXnRk/u3U3sm8p9rE2x+3cN92/B8Kez+MU9vzRSuPca+20YZZ52nQVyownQAi7apvX5JfavxqkeM12KsS4JidLTUqDQqYXoh2paT02t0+amUwg+aYLwaySz+jIw+9vXeRknDL99+g1gEJ6cRXdbcG9m5G4VyyBP0ud8HK9Tp5uOgtY0hsc3KFkK3kjkZCWtWInC2hd9wa3o1ynH8d1eDGkDHcKhJumYP7wFCvzXW37BzsQlkN10AMEoS6+dbyZ7vMHf4VZTDDGQKppraLaxEXu69jMZOHubjw0BeOtJ+sCFiV4693oYbsKChXYzGJgKdzoj4mjzYnRGNFJZUZNGVi/Z1e9YhhoBkp[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5b34a0b2-03ed-574e-3bf8-8cf982054905/test-blob-8a7e0fd0-a2ff-62a9-070d-122e0b202519",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 07 Jun 2024 23:13:49 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4ad908fb-80ac-e1e0-ad5c-4a64077b89d4/test-blob-2d0a047f-1298-5cdc-5b17-f42dffdd4ecb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 05 Jun 2024 23:13:49 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4c6e4adc-a01e-0099-7567-b8899c000000\n",
        "Time:2024-06-06T23:13:51.9570122Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-59a9c2aa-69b8-8ecb-301f-2f40463b15c8/test-blob-b6feeff9-3df5-3ba2-c073-61121a23995e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4c6e4b67-a01e-0099-6167-b8899c000000\n",
        "Time:2024-06-06T23:13:52.3118965Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d4d03d24-2dbe-935e-f773-02f897e447a3/test-blob-449ee78f-b034-afca-af9d-164e64934e8e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "WQ1KPHMKYzSo4UfhfFYhjg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E54C2DE8D\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:13:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d4d03d24-2dbe-935e-f773-02f897e447a3/test-blob-449ee78f-b034-afca-af9d-164e64934e8e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8DC867E54C2DE8D",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c584604a-3a4f-7e33-09a2-4923bef72d46/test-blob-4d5cc8d6-b01d-296b-70df-e07e84c93731",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:51 GMT",
        "x-ms-lease-id": "44830c6c-e6f1-7ea1-b7ce-959bc1871421",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseNotPresentWithBlobOperation</Code><Message>There is currently no lease on the blob.\n",
        "RequestId:4c6e4c8d-a01e-0099-4467-b8899c000000\n",
        "Time:2024-06-06T23:13:53.0756467Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c584604a-3a4f-7e33-09a2-4923bef72d46?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:13:49.9704633-05:00",
    "RandomSeed": "307051255",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
