{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6e4e457b-fc58-3189-1eb0-f7d67b20b2e9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E4EC9B44C\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:13:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6e4e457b-fc58-3189-1eb0-f7d67b20b2e9/test-blob-adf23adf-fdd1-c3a4-ffa3-a027d8f808ba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "q0KK6bIrgla6AFtLXZasravXlV52lJ7p7tki5NApVsz/0UdC5httFppSY0oCSW4ITKa1H7GwVhajoPrYCJ6FkamPTItPaceQaX/DJDBU56VrGpgqczcaT3ownkUglQ38zNGgc/3iueLeJbYy7DLlT7lVbe0FWx1ydf0QHsuBb9Rxx1dftHOniGG1TE6A6GJISk6Myycg9nGzLf4A0ZoXXLXiwCXbhptFruWMTw7P8o2ayNR89aSsUdDlq4Z1p7fGnu+YnSc9bcOyRh1Ck6Zi5DpxZQjGmmcRNW9U9dsV0AYtxbEfN1RlXVsQya6Har0pgsZLBEKuAAOHhme36HfnnXYWFM31Q6zmCwettdG4isuy[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6e4e457b-fc58-3189-1eb0-f7d67b20b2e9/test-blob-adf23adf-fdd1-c3a4-ffa3-a027d8f808ba",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 06 Jun 2024 23:13:42 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6e4e457b-fc58-3189-1eb0-f7d67b20b2e9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:13:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:13:41.1862680-05:00",
    "RandomSeed": "1953667268",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
