{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-188c7c6c-3bd1-8047-868b-89548bbee330?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EFFB027E5\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:18:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-188c7c6c-3bd1-8047-868b-89548bbee330/test-blob-f5a916aa-4725-cc3d-a2dd-50bb5989465f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "9r0AsfQFcGweE/9lOqvS/ogfEyN9n6UMm/074XAzYAAVBTgeydvNpKU81hJI15L2C1IzOXYi4lYY9Bb3yo7867L+UDRzszSsUW5+QMiTw8RqRNYe/yeJ8iLhBtXF1tkWQOtfSYdeglcdhucIpKKOhDBRjYW43eyLdF0Rkq1f53uUaP/dNHk9C8J+AXhAgU6AU4Gkc0hUXWP+09QpTPCqvZ9rczyisE+3FIHDOdxzS/MPkD4ru3MyQAqc3mCkE7/R1EPZ1A4R3qIy7V/HkCSGi4jhGbuxfgEsODIxBtLvEgDC8WSZmnfk/bKc+c4Ua7DmFlPXwvoDIFVBrZvb39jQQtpeBJ+/7fER/BsJFYUzF82C[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-188c7c6c-3bd1-8047-868b-89548bbee330/test-blob-f5a916aa-4725-cc3d-a2dd-50bb5989465f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "WWW-Authenticate": "Bearer authorization_uri=https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/authorize resource_id=https://storage.azure.com",
        "x-ms-error-code": "NoAuthenticationInformation",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-188c7c6c-3bd1-8047-868b-89548bbee330?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1415051137",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
