{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-891854dc-0a73-6069-42f2-8500a9d03d75?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Apr 2024 18:17:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5341188791CA\u0022",
        "Last-Modified": "Tue, 02 Apr 2024 18:17:02 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-891854dc-0a73-6069-42f2-8500a9d03d75/test-blob-e1e9e63a-fc64-6f44-08b0-bac15962da55",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Apr 2024 18:17:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "KTwes1z9vQcmDP5c55e2QwkdzJ8D5\u002BTksgQ3B4AOA0syL4t1bfU3PSniu1j\u002B6Ihw\u002Bne3O5Y6UkFXOgFXxbWHFwmzKbcMQdYT5o92ICuM5sp8xw0IV8e0991JHTL033dzWqROS77QZLmho1UHxDEWy1Q22v6ofr9B/jLawiOjHwYXAsaHPZsLq2JTZ7NyrTOrM1LevQV5y9zkDEyM9qKV/YNO78Frjo25Ky6cVBYMz1H\u002BLo/RxWEBnjfqozFOf7W/vmkwI71yP6TFJJLW3HfF2Dz7jccTxDgiTVGJgetbaqx53JWt26yTjO/qC6DPKsG/JMv0U/HtrPoxDdVs6L65abnm[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-891854dc-0a73-6069-42f2-8500a9d03d75/test-blob-e1e9e63a-fc64-6f44-08b0-bac15962da55?restype=account\u0026comp=properties",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Apr 2024 18:17:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-account-kind": "StorageV2",
        "x-ms-is-hns-enabled": "false",
        "x-ms-sku-name": "Standard_RAGRS",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-891854dc-0a73-6069-42f2-8500a9d03d75?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Apr 2024 18:17:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "422370331",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
