{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-01d9f383-0ed1-2af4-b4d3-833b7659a240?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 01:16:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EC4AB584476\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 01:16:17 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-01d9f383-0ed1-2af4-b4d3-833b7659a240/test-blob-84134217-0094-fa33-693e-62e3305dc0ca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Mar 2024 01:16:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "scm2NgIghpnSILEUG/vhQ/QrfyfWnSSEDFwYfFnA5bw/otzwpcOw97x6snRPHt9uXB7uBN6Z9BSkMSmmBwk/ETv01Hgf8Z4weodqW\u002BqwNO19qiA60eDepq7IS3OZCu\u002BzO6A4WkpmTmqAvopWLpgp9Pw8KF3pBEBbFi7JV6Yrl3CXtyBJd9qjFlu1uhNWiHcVnld2XeGSyTZg3UQbnPfEVScZvnd433wimBEBNEksBY23tLhPtDmOBe3p6ZqViHpk8WXsPMkAnb7aU8TPkJXtM9i2ZOg\u002BdKDtirmJj/bijBCXnULkQMjEthf6dGB1vnRX/LXB3yORJXzE/7EQdg3I\u002BMez[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-01d9f383-0ed1-2af4-b4d3-833b7659a240/test-blob-84134217-0094-fa33-693e-62e3305dc0ca?restype=account\u0026comp=properties",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 01:16:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-account-kind": "StorageV2",
        "x-ms-is-hns-enabled": "false",
        "x-ms-sku-name": "Standard_RAGRS",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-01d9f383-0ed1-2af4-b4d3-833b7659a240?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 01:16:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1095240119",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
