{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1fd522eb-f5ed-00f7-8347-4ef44a8664a5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 01:16:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EC4AAC240FA\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 01:16:16 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1fd522eb-f5ed-00f7-8347-4ef44a8664a5/test-blob-80cabf33-8925-6a7c-3cde-b5fcb99d5d0a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Mar 2024 01:16:14 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "e38dcKgtzejBjO48isSuAYVTJuOvTKlNXXP5\u002BdgdrXjg7abJSvk/BvHiv5ibQN94L7N2Znd5Wy/VzxM1M9QPo991XJ0e5baMFB/yzIwRsh2Tgckkp0YBZpJ383vmCdId0hy4JuNCWkr96lJXho6iwx32obEK6/yYdPUKpvE7pQpN1fpwWIw5UCd/Jrz0qeAD1C9d8GcgE\u002BYgILLtOLNYwURHCrGTMWuRvFGKisU/o8oVBtHB3bWjLMIUUDjaSxh0JmV3rZ4ucKPEzDMWlogh4H3n2DHhluOPpN7vf\u002BEzt3A4FmNgyPUs5pYu/RGBjZU58m\u002B68nPnko\u002BB5wm/P/D[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1fd522eb-f5ed-00f7-8347-4ef44a8664a5/test-blob-80cabf33-8925-6a7c-3cde-b5fcb99d5d0a?restype=account\u0026comp=properties",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 01:16:14 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-account-kind": "StorageV2",
        "x-ms-is-hns-enabled": "false",
        "x-ms-sku-name": "Standard_RAGRS",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1fd522eb-f5ed-00f7-8347-4ef44a8664a5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 01:16:14 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2110096353",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
