{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-38c0b3c1-30a8-1f2e-1b5d-d50ea89fa7ce?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Apr 2024 18:17:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5341180170DA\u0022",
        "Last-Modified": "Tue, 02 Apr 2024 18:17:02 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-38c0b3c1-30a8-1f2e-1b5d-d50ea89fa7ce/test-blob-9c5d7924-ef43-e856-ae9d-8b33afef07b3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 02 Apr 2024 18:17:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "nqvdUM\u002BDBAK2TGIXCvBwfP7dGp4KIedBAed0LEo3fYcbG3UHUSbToHRa5vaMP92\u002BLA810tRoqHzDnE/oD9e3fs/b/O56aSrXCnkqsDvwtMIJtv87AqqysnL4RLXX65GcomgnsULuQ8PkXshbPvhB0ueM3ljYfHwkKEp8giV1/x/njQ3SyAN/GnM7V6TiV3N5t3HOSgw4xCbsA4n3csGeb16pc7HrbgnkDcPlnCXYQdDWA8uzp7QSrsnn5sV5iKixnOdFOePCjUhn6T1JUycAFMK4IG7268ipl8TnBIdEaoUaM/89kgftFHWCS713yFuh5tIDwWc5u7Efm6If24nAI3\u002B4Lx8ow[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-38c0b3c1-30a8-1f2e-1b5d-d50ea89fa7ce/test-blob-9c5d7924-ef43-e856-ae9d-8b33afef07b3?restype=account\u0026comp=properties",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Apr 2024 18:17:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-account-kind": "StorageV2",
        "x-ms-is-hns-enabled": "false",
        "x-ms-sku-name": "Standard_RAGRS",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-38c0b3c1-30a8-1f2e-1b5d-d50ea89fa7ce?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Apr 2024 18:17:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1216188786",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
