{
  "Entries": [
    {
      "RequestUri": "https://pnuxscnchi10py01fx.blob.preprod.core.windows.net/test-container-60f2b5cf-fcec-3d58-f4a7-a5afd991e3cd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Mar 2026 19:01:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8B6A114699CA\"",
        "Last-Modified": "Thu, 26 Mar 2026 19:01:20 GMT",
        "x-ms-request-priority": "3",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pnuxscnchi10py01fx.blob.preprod.core.windows.net/test-container-60f2b5cf-fcec-3d58-f4a7-a5afd991e3cd/test-blob-27312613-b2c1-0495-dcf8-1328dd6f03a7?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 26 Mar 2026 19:01:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList />",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8B6A114E3804\"",
        "Last-Modified": "Thu, 26 Mar 2026 19:01:20 GMT",
        "x-ms-content-crc64": "g0vf2Kdg954=",
        "x-ms-request-priority": "3",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pnuxscnchi10py01fx.blob.preprod.core.windows.net/test-container-60f2b5cf-fcec-3d58-f4a7-a5afd991e3cd/test-blob-27312613-b2c1-0495-dcf8-1328dd6f03a7?comp=layout",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Mar 2026 19:01:19 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8B6A114E3804\"",
        "Last-Modified": "Thu, 26 Mar 2026 19:01:20 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-content-length": "0",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 26 Mar 2026 19:01:20 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-request-priority": "3",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pnuxscnchi10py01fx.blob.preprod.core.windows.net/test-container-60f2b5cf-fcec-3d58-f4a7-a5afd991e3cd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Mar 2026 19:01:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-priority": "3",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "632921844",
    "Storage_TestConfigDefault": "ProductionTenant\npnuxscnchi10py01fx\nU2FuaXRpemVk\nhttps://pnuxscnchi10py01fx.blob.preprod.core.windows.net\nhttps://pnuxscnchi10py01fx.file.preprod.core.windows.net\nhttps://pnuxscnchi10py01fx.queue.preprod.core.windows.net\nhttps://pnuxscnchi10py01fx.table.preprod.core.windows.net\n\n\n\n\nhttps://pnuxscnchi10py01fx-secondary.blob.preprod.core.windows.net\nhttps://pnuxscnchi10py01fx-secondary.file.preprod.core.windows.net\nhttps://pnuxscnchi10py01fx-secondary.queue.preprod.core.windows.net\nhttps://pnuxscnchi10py01fx-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://pnuxscnchi10py01fx.blob.preprod.core.windows.net/;QueueEndpoint=https://pnuxscnchi10py01fx.queue.preprod.core.windows.net/;FileEndpoint=https://pnuxscnchi10py01fx.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://pnuxscnchi10py01fx-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://pnuxscnchi10py01fx-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://pnuxscnchi10py01fx-secondary.file.preprod.core.windows.net/;AccountName=pnuxscnchi10py01fx;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
