{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a4f20639-adf8-8811-c33a-867814a632d9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F09393973\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:18:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a4f20639-adf8-8811-c33a-867814a632d9/test-blob-9c2d2c3d-af62-6e19-1053-dfeb74805a42",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "30QnOSZnx7SntpnT2WIPWeO4Qj7meNizEfXcjvTfqNx7kdcajzYAQG7lO7ID9rCKdDrBFuTUXWdrdCcwiznAxw29WEeL9cmtuAHQADwlrxtEUhm6HpL4pjRwrhsOz7U1JXSlRZ1o/35wFF3iBFwqRcQL7DgfBah6xbETG0aunulLmtvIgGl921OaSQo1FaLXRWhWAuJ9Fh/LKoDsVeM4wnV0lmmBYcVbjhDlhLyeRa8PO9XdV5wGzoS7/VbpkYZvYoaVwH84VuSj+3TSmJJiLOTQ3BkOWmrYbsflxWNucfyKdSE1CYUw1+XxOlwnMzbyWNByGbVsYQgcvFG3UpCANIl4RyJwLSNenwQ0HB8OsTqR82yS/FhHHhMYGUwzeIRUcQXSr+wTgSutE3mwN0ToDQsXJl8j7TgxMC[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a4f20639-adf8-8811-c33a-867814a632d9/test-blob-9c2d2c3d-af62-6e19-1053-dfeb74805a42?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F094CB699\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:18:55 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-06-06T23:18:55.5588533Z",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2024-06-07T00:18:54Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2024-06-06T23:18:55Z</SignedStart><SignedExpiry>2024-06-07T00:18:54Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2024-08-04</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a4f20639-adf8-8811-c33a-867814a632d9/test-blob-9c2d2c3d-af62-6e19-1053-dfeb74805a42?snapshot=2024-06-06T23:18:55.5588533Z&skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2024-06-06T23%3A18%3A55Z&ske=2024-06-07T00%3A18%3A54Z&sks=b&skv=2024-08-04&sv=Sanitized&st=2024-06-06T22%3A18%3A54Z&se=2024-06-07T00%3A18%3A54Z&sr=bs&sp=r&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sDptYkXmSxTw2+/EiaV9ZA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F094CB699\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:18:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:18:55 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a4f20639-adf8-8811-c33a-867814a632d9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:18:54.1231216-05:00",
    "RandomSeed": "1779079349",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
