{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-95e6838b-5f0b-d6bc-d7d2-9d92ef8bcb3d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F053E44EE\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:18:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-95e6838b-5f0b-d6bc-d7d2-9d92ef8bcb3d/test-blob-981ca596-933f-3f97-7b06-ad9599763ee1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "lLwXpAXf1KlLTayJ7dZqCCJ2qkX0HXHqoY4AwtJUHcV4QywYXD8wC3/Y1SLkHgoVPBHjO3z3bXZLLAJ33xLW9i/mEampUazjRZ7GHEdOBoOD6oXBcOJIgNa2zC88uSxsAd/z/Q1gbOpkAPXeMFEv/CZ/8/SNFIZNnpDT8oV9poxyWhpoWwh1I36aXHDsaU+Fh9AIvMY33+xZpV99jXll51lpbNY2xqAdCs9287gVYDRATWu0dOrGOnsuD7ap95UENHUWg/15T8Av67H2wOs0Q0QrPT8NsXNvozFbB7fqdBM6cr9C/t02x/6rhYk4z3qP+stxfblW9oMCp+DMHUcIRHaevE0s8URn9HZBYSvpNtO2zA3rePZZ43s7QFf8aqm2okASmhMsYgiHCohDFZVXGHENFVE6Hcx/RN[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2024-06-07T00:18:47Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2024-06-06T23:18:48Z</SignedStart><SignedExpiry>2024-06-07T00:18:47Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2024-08-04</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-95e6838b-5f0b-d6bc-d7d2-9d92ef8bcb3d/test-blob-981ca596-933f-3f97-7b06-ad9599763ee1?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2024-06-06T23%3A18%3A48Z&ske=2024-06-07T00%3A18%3A47Z&sks=b&skv=2024-08-04&sv=Sanitized&st=2024-06-06T22%3A18%3A47Z&se=2024-06-07T00%3A18%3A47Z&sr=b&sp=racwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "s4V8Ftlv9qQCsAza9b5xQA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F054AE69D\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:18:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:18:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-95e6838b-5f0b-d6bc-d7d2-9d92ef8bcb3d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:18:47.2881772-05:00",
    "RandomSeed": "1108628726",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
