{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-79dfddab-002b-326b-19aa-080b94977a2c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E795F4BE2\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:14:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-79dfddab-002b-326b-19aa-080b94977a2c/test-blob-ef090fbe-5346-f94c-cd4e-6b294bbb8360",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "JqfTY1QCdsOEzWCp+pRqZ6uuQNUzQ16ZPurn0E+upk21+5Hokj9o5f/EvDQ9SV37e0Mx5wARKuNJOSVqG6Vz1icS8/4DgdVrRVrWboYqXPWM61QLfL9MpNGtnlga/spZUeUMKlVf+PpuxqGlOrtcH90w3TBRZ1loxk8tVuJ8UEaQfR2hHTGfLfNanLYdpmkVUH976SCaCOmMo2QFMaIX8nVbFb2euwGrkLA99suiSx/lFwVjAGYm9nQ0FXrNmfxQQ6pBwZGsd5V+0FlvXBEe6VhEIBmcs/EONR5IaqaH3fa07LMgYYmOOaBw5TANtpljFSwhiXnitI+4MoxyYw3u9/Jiu3Bd/YfPtuZ5LM7BAH+E5VR6ZVR90jgkaC78G9WSge0+qvooBRikUtKSaYfA9zEN7X65dJGe5e[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2024-06-07T00:14:52Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2024-06-06T23:14:54Z</SignedStart><SignedExpiry>2024-06-07T00:14:52Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2024-08-04</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-79dfddab-002b-326b-19aa-080b94977a2c/test-blob-ef090fbe-5346-f94c-cd4e-6b294bbb8360?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2024-06-06T23%3A14%3A54Z&ske=2024-06-07T00%3A14%3A52Z&sks=b&skv=2024-08-04&sv=Sanitized&st=2024-06-06T22%3A14%3A52Z&se=2024-06-07T00%3A14%3A52Z&sr=b&sp=racwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "XF4Bg+os/YlRuKbpZttPgw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E796CA21B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:14:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:14:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-79dfddab-002b-326b-19aa-080b94977a2c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:14:52.6309511-05:00",
    "RandomSeed": "61452561",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
