{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-76e89db5-99fc-5261-287a-bd7a74d61f12?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:12:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E2F8E1E35\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:12:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-76e89db5-99fc-5261-287a-bd7a74d61f12/test-blob-95d8d186-9cf3-1da2-0875-2ece4ddb7cf9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:12:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "n98e1IRPBaxDDQFe0Ktk4CBJ/gNWRem//TTHl68+Jm20zUkuSDl+N8wrUeabRE1dEE2tBNx4o1n1X9dQh239BeaTqgNhNZjny8c3KvQDI7nnaYdikCKQOyrvOelhLa9eLkwACJlK+9q1xjkVQXhl8jwdaB3mmnTDAm/YcfyuhZ0X2PuoAxofnW2srcrpe/myikesQ8WSeJPYPAUqcYrdBkCc/mh8ve4h/suvOe2p2Yd1Jue1AUHXhWBn0MYV9Cvjz6eJTXyQNcxYi0X54j+mLmN+tUqiJwT+xHkIFO0nCwmgzGpGH4wK5PEaXXb83qIgwaFjlz/gQaeii4kDiCDfMH87WRbVXw7Xc9BZiMqOAuXW[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-76e89db5-99fc-5261-287a-bd7a74d61f12/test-blob-95d8d186-9cf3-1da2-0875-2ece4ddb7cf9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:12:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "2tSoWGcPXclJcZGqQH3X2Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E2FA61797\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:12:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:12:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-76e89db5-99fc-5261-287a-bd7a74d61f12?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:12:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1072607105",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
