{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-503d3ac1-49e1-155f-9cd2-3b568d80f650?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F05AAB959\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:18:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-503d3ac1-49e1-155f-9cd2-3b568d80f650/test-blob-b7da86c6-7c3f-dfbe-a930-5492b85e74d3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "XmcSmpUBvz8l3qBxdci+ZDmZGakGgBSunKZ5M9+vB0pxyJe5Ml0meE8XzuH05s+znkJ3W7OzON5TY/7uh4tfdddWAKwxBDHbc6FZ77EyubbXxZSdOKuWvZC5Zs9eN/DDuFkJnuUjgpoQm+gSWUksIKlIF8H3wjwrv0Icd55ifDuwlTdYKRvQtEP6jJzChGNHjEYlFiAuzPUc3t6jBgv8rh6tYcQR1PeOeGN+/DWgaTve1epXPWYagclBO0o9LK04/d59FSKfNbhOl569sM+/fHWjxDEgpHC4k+D70JisUUu1Rv5XIlQYP58xCabHXdH5gb/VmWd8F1ltxYFCpGQgokZTB2nQaFkgioWR7pvK8DYO[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-503d3ac1-49e1-155f-9cd2-3b568d80f650/test-blob-b7da86c6-7c3f-dfbe-a930-5492b85e74d3?sv=Sanitized&st=2024-06-06T22%3A18%3A48Z&se=2024-06-07T00%3A18%3A48Z&sr=b&sp=racwdxyltmei&rscc=%5Ccache+control%3F&rscd=%5Ccontent+disposition%3F&rsce=%5Ccontent+encoding%3F&rscl=%5Ccontent+language%3F&rsct=%5Ccontent+type%3F&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "\\content disposition?",
        "Content-Language": "\\content language?",
        "Content-MD5": "fkIN9rfvKDAd73eUprwgBQ==",
        "Content-Type": "\\content type?",
        "ETag": "\"0x8DC867F05BB792C\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:18:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:18:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-503d3ac1-49e1-155f-9cd2-3b568d80f650?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:18:48.0158921-05:00",
    "RandomSeed": "196460073",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
