{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4c4c6efe-cf40-ed2c-246a-80a04e7acf36?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:14:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E7A12602B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:14:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4c4c6efe-cf40-ed2c-246a-80a04e7acf36/test-blob-e559ab26-12a0-5254-73a9-f2b71c0b96cc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:14:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "+cwUFrt5pByBwJ9J1bGOOIkL4iMfRHXb7fyjKJJjlOLw8h8In13fnGsCS5M93iWXYy7s9xhgvbVWOCi/1nyKHSy9WeKShpgrK0W4HPning/WC8Vjd53JjzRqsmY0IMbueC1nf4RDBd2WwMzSqKG7c5kZ6cq3JqaP88mtKNQx9gp/yaTLex+KkgbnzbbR9+aTrj7MGzf8N1KH2Iu7lt0JZMnBUt/98Ph6jlbDz1jwvfzjGXqVZNvTg5FRRKOTz/wp3mnsD6QHlr1GUozhOGj5lhqO13xjc//u7s5Nq6xU579ZmvDvA65Y24K8TxJO8kspV62JBPd/xmtq/iHVuesQ8WrNh554CpNrNvz6piTsoPyD[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4c4c6efe-cf40-ed2c-246a-80a04e7acf36?restype=container&comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 06 Jun 2024 23:14:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<SignedIdentifiers><SignedIdentifier><Id>slfgsasqvjwmsxrpkloa</Id><AccessPolicy><Start>2024-06-06T22:14:53.7889093Z</Start><Expiry>2024-06-07T00:14:53.7889093Z</Expiry><Permission>rw</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E7A2A6003\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:14:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4c4c6efe-cf40-ed2c-246a-80a04e7acf36/test-blob-e559ab26-12a0-5254-73a9-f2b71c0b96cc?sv=Sanitized&si=slfgsasqvjwmsxrpkloa&sr=b&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "+pwQQdwbytWsAv2tNG5neQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E7A1EF2F6\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:14:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:14:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4c4c6efe-cf40-ed2c-246a-80a04e7acf36?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:14:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:14:53.7889093-05:00",
    "RandomSeed": "675684809",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
