{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2e8c3bdf-00e7-e88d-6c93-b4ce49536ac0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:14:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E79DB0120\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:14:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2e8c3bdf-00e7-e88d-6c93-b4ce49536ac0/test-blob-13cbde37-ce16-ef1a-4e46-7f97a1fe754c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:14:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "HmgDubKjDSw4z5jTi6SsFQ5WEUNcCEMkDpCmFisEe4T61FfZNX124lB1NDgOrYV88MuSKeQEERUl36si/fcAM1QT2bdN0uCR4C/y59MLFWAKKSZfclGg9cNBtFXSVOVZdADk+tPOLh3rAUm0ESlBGclKF9PRoMECcuPzCx6KvotJmXPTJxuNPPoIdHEH6+SZ/5qMhzwRh9M/4Yjv2iP+YUK+a3e1bvKuvdvYyCxQ+4b/WguD/TZOOBGgk0WSnWHXCRMuSYBs5JGn3sphOb+m7+UB74AXe2MLbzNmFdusGyB6Ab4YIbEFk3Z62x9s7f5S+aRfka3hv46wI9pNBs62+sKq5zgAjs40+1wKnJ9En4I0[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2e8c3bdf-00e7-e88d-6c93-b4ce49536ac0/test-blob-13cbde37-ce16-ef1a-4e46-7f97a1fe754c?sv=Sanitized&st=2024-06-06T22%3A14%3A53Z&se=2024-06-07T00%3A14%3A53Z&sr=b&sp=racwdxyltmei&rscc=%5Ccache+control%3F&rscd=%5Ccontent+disposition%3F&rsce=%5Ccontent+encoding%3F&rscl=%5Ccontent+language%3F&rsct=%5Ccontent+type%3F&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "\\content disposition?",
        "Content-Language": "\\content language?",
        "Content-MD5": "lYurj371LbVcd+X1ivBhlg==",
        "Content-Type": "\\content type?",
        "ETag": "\"0x8DC867E79EBB250\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:14:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:14:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2e8c3bdf-00e7-e88d-6c93-b4ce49536ac0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:14:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:14:53.4524692-05:00",
    "RandomSeed": "1570442274",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
