{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-61bf4920-0df5-e3c3-654c-ce06e8498b65?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F020298DB\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:18:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-61bf4920-0df5-e3c3-654c-ce06e8498b65/test-blob-674dc437-458d-ee14-1c2e-aca50acc01c3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "LO58YmHjo6XviU+gzLhAm1sWvh1UuFFDcfmMk5Y78/cPoUhim5KKVCCodwT2dCFj7RBJ8w3kb3ScOPBnVw8Ps5VYkStw3QDJjGr8q0BMTf3YKKWF8QDpKjHUxWOhIvwRmcRvnuP28w8QgGai6MMzT+rzjy5qicKUbmb5mxedJ2lu6hJ83a8a4TWVdHGZRkFtoHZ4rpPNpw8B2i98/Ff3c1j9NP2xt3I72K351BRR+ygli/uhJXnWoEMDegOAnuXdnQEYmxFDvOgDPNXl1NL6sN4HVnBcVk7fJ5S5rjxvujrIHDYTOF8W4c8Snuij8MxxCMkkeUd1gUezOXR8iQ6rlIGaHbec53h/8HShSrdlOzbI[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-61bf4920-0df5-e3c3-654c-ce06e8498b65/test-blob-674dc437-458d-ee14-1c2e-aca50acc01c3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "BWB0lsJYFF9H4aMVPww1YA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F02170382\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:18:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:18:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a38e1713-abc8-69f1-92d4-a70d3a914989/test-blob-8001745b-41bf-2b63-be8a-27d27a14b1d9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 05 Jun 2024 23:18:41 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Sn67gYYlNpkmFhr1poBgEA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F0246C1FF\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:18:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:18:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-df39af35-3be2-2dea-5a4e-e49278eeb7eb/test-blob-065af4cf-75e1-c88c-0014-632559af07ee",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 07 Jun 2024 23:18:41 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "WLCJcAbv37AL8/1hpcM0Lg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F0284D729\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:18:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:18:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b8d661e9-7910-620b-9235-83d10ff425e6/test-blob-e0e8d89c-2c6d-0951-631e-4d7ac3bab785",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC867F02B11381\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "hqtRrmACMlrdKwi8kn32LA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F02B11381\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:18:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:18:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-73360aeb-7973-c878-52c4-13163d75ff7e/test-blob-5caaa8a5-a740-1ee6-dd63-4d422e5237a6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "2amONdjuQasgiCu4JmQ8UQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F02F7DA7A\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:18:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:18:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9605467f-58c4-27b2-2335-2509859ad842/test-blob-b8dc7b5d-cfca-0d73-75b9-aa956dcaf98c?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:43 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "c1aa4e5a-3d8c-dee9-a5b2-86ccfcaaac5d",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F03288346\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:18:45 GMT",
        "x-ms-lease-id": "c1aa4e5a-3d8c-dee9-a5b2-86ccfcaaac5d",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9605467f-58c4-27b2-2335-2509859ad842?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:18:41.7015077-05:00",
    "RandomSeed": "50143017",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
