{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-643360fe-01d8-5a8d-eb18-b8b6705358c1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:14:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E7641383C\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:14:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-643360fe-01d8-5a8d-eb18-b8b6705358c1/test-blob-80bce1f2-b83c-67ce-3093-a5a58177ea70",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:14:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "rgwX62C5QR20xAsO2k9cBXeGIo++6m/mtYxu7ZaBzwayTDI3oc+aOJ+ey3itwIzgN58t+1RascOcMTXTSlSGM/QEXI4dJGSn7OnvHx/2OfX/jrX3U9SyV5pumnCZxu5LF5eDqGP+wxI7hQ5qa5GkpfhA1Lyej+AgUgXzronzDSX7owiIc5CRAMqjvM3FR+sIyvV3WfExrIi3YlZeCxSJR3jpbseJHDJortTx+9MSWwoZ6uSUfLQ0yfd/0BA5MvW2GXRV3Ngjf63CD6odQLG1pAdMRSAw9crDtKXQCUsiLnveO+FevH8x9Ws30W0JFolFyiwJ7e3VhiSpkSczUnVhn+EvPwXPVueHGk+1+SNdup4b[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-643360fe-01d8-5a8d-eb18-b8b6705358c1/test-blob-80bce1f2-b83c-67ce-3093-a5a58177ea70",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:14:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "SPCrmKZbymqHaIzEsHqzng==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E7653709E\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:14:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:14:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-178e40e5-0cdb-46c2-77ad-d629dac894ff/test-blob-8f344cb8-f4f1-b6a1-68aa-2d591873dee0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 05 Jun 2024 23:14:47 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:14:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "XQjcpyjHWwtj+qRDwdQ3/w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E7689220D\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:14:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:14:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2a1f869b-903e-8fae-e797-d1c7f7c504b8/test-blob-d3807cf5-2c2b-3703-2ca1-d20ffce73e2c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 07 Jun 2024 23:14:47 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:14:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "VW4rF/+5IRRmfqcmysCDkQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E76BB7863\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:14:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:14:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c7f616d1-bc36-4be8-32fb-a2b2b24c9ddb/test-blob-c6b4c270-a1ca-cb2b-67c2-26048fd81b5a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC867E76EC2134\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:14:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "stFoDTLIBpqJBu3z2RcuTA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E76EC2134\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:14:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:14:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-79f06a79-c3c9-8049-eaff-9e2e86c2032a/test-blob-5e37d5bd-3e26-8025-4cce-e07fddfdd99a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:14:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "M6y4NDA4bw3XcCA75MPOug==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E772A5D67\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:14:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:14:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e14e9d12-acb2-0cf8-43bc-ea559bd96730/test-blob-41401e6f-367d-79f9-bcf1-c6685ceca341?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:14:49 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "e1a83cbe-ee42-cd9f-eb52-0c3b5bd9b646",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E775FE7C7\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:14:50 GMT",
        "x-ms-lease-id": "e1a83cbe-ee42-cd9f-eb52-0c3b5bd9b646",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e14e9d12-acb2-0cf8-43bc-ea559bd96730?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:14:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:14:47.2301342-05:00",
    "RandomSeed": "676520482",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
