{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-acebfe4a-6728-e3e8-65e2-a6494be48644?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F03631CEB\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:18:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-acebfe4a-6728-e3e8-65e2-a6494be48644/test-blob-f0a7c382-53a9-82b8-02a4-675793c2ea99",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "49IKsRzng8cyDDd/kkl2vVPuozQjDinr4UWcHfRqTfJdnM/9fMzImkDfvZ0cOPC4LaoEpB62ddSoH8/XSmXTx79FIfZ6eECGJQjzQ1GMz6hV4+9KZqjTpyb6VV398VDaDPXe1hf5PrVpfn8WwjGDHE8mgmZ2iGEWcXnQgCPjiTO4GTdbrfiRW6U54egpveX0djgN1m/pZISTx2SdKb6ShfRLXan6J25XlSbBPad57bSU3Anq1bLEz7Szx+WT8zLnp1vz3V88+U/KtkFIKCbcGtmwCU21qK9Bho70R1+IxKH02ZZMhRBVV+K5IB9xe6aO1q0M4+rkMv6rsVfRSLHvQfGfVE6Qj5TJW7Fq+4eQ0Arn[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-acebfe4a-6728-e3e8-65e2-a6494be48644/test-blob-f0a7c382-53a9-82b8-02a4-675793c2ea99",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 07 Jun 2024 23:18:44 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-40f8ce9c-87ea-c303-fc61-1cbfd99d7dcd/test-blob-9c8c20aa-5948-8624-95ef-d3819b8c1c2f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 05 Jun 2024 23:18:44 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7a01822d-ef1c-fc05-7b42-b60047fbf37e/test-blob-f679ff30-73c6-658f-ed4a-20c35e82bcf2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7b567bdf-f020-8999-b5c8-c498624bdfd9/test-blob-0b67be5a-3a91-a87c-b977-26e7be9a52dd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "5I/TqfC41l20gsJs5Xwo2w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F041C6B70\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:18:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:18:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7b567bdf-f020-8999-b5c8-c498624bdfd9/test-blob-0b67be5a-3a91-a87c-b977-26e7be9a52dd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"0x8DC867F041C6B70\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f1d2be0a-2ad1-4f1e-be94-0003d25f24c8/test-blob-ab0d38f0-331f-5c2f-6e4f-a49c38eed905",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:45 GMT",
        "x-ms-lease-id": "9b2b9c47-7694-c9d0-ca08-08cbe5953f80",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f1d2be0a-2ad1-4f1e-be94-0003d25f24c8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:18:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:18:44.0115739-05:00",
    "RandomSeed": "1755536179",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
