{
  "Entries": [
    {
      "RequestUri": "https://ukwxscncdm09pr01ex.blob.core.windows.net/test-container-7779b98d-84ec-cdd7-f57e-93ee317769ea?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE9A7A6098944B\"",
        "Last-Modified": "Tue, 14 Apr 2026 23:05:53 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ukwxscncdm09pr01ex.blob.core.windows.net/test-container-7779b98d-84ec-cdd7-f57e-93ee317769ea/test-blob-bbf5610b-888b-de3c-fe54-3059259c59df",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "rbe/exLfvPtsYw9tBAL6T2NsV8cIQmAFMx5N++Z0IIcoBCcb5qAUuK10uiZETIm31Fx1iImOc2tWukfzkcEU90OHRP/b3mjDV54ak4c6weaVlSeK/5f9mZG7xSxYISbrYMPivAeJ3PXzsTDqdN/jG/lgXfyaifiriatuHxk8azZ3LjLEVwTfDLkxlk1mEiWx16kz98MqUdbKNjJcGrzct0b6c0WsH8P0gVFDaPKrRXaFvEdvCHNzTd1c+iHSg/H8Vd8GbJ/fBLjlP3Zy5ujjHvG71l10bK/ShiVoUCWiIf5fRhITpdnXpriPisn9AGb0eNsvF6yTh+kvM+V6d7SSQh13E6DW0HkX5DCl5eLl1Ya/c9hJcwpRy78p43H0XS4D/Eerhe3GHqhiGDJ87qEHSV5fugPbSc8TJk[...]
[...]
    {
      "RequestUri": "https://ukwxscncdm09pr01ex.blob.core.windows.net/test-container-7779b98d-84ec-cdd7-f57e-93ee317769ea/test-blob-bbf5610b-888b-de3c-fe54-3059259c59df",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "11Uyfn5AWEvsk12YxZuoJA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE9A7A60A024A5\"",
        "Last-Modified": "Tue, 14 Apr 2026 23:05:53 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 14 Apr 2026 23:05:53 GMT",
        "x-ms-last-access-time": "Tue, 14 Apr 2026 23:05:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://ukwxscncdm09pr01ex.blob.core.windows.net/test-container-7779b98d-84ec-cdd7-f57e-93ee317769ea?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1296222207",
    "Storage_TestConfigOAuth": "OAuthTenant\nukwxscncdm09pr01ex\nU2FuaXRpemVk\nhttps://ukwxscncdm09pr01ex.blob.core.windows.net\nhttps://ukwxscncdm09pr01ex.file.core.windows.net\nhttps://ukwxscncdm09pr01ex.queue.core.windows.net\nhttps://ukwxscncdm09pr01ex.table.core.windows.net\n\n\n\n\nhttps://ukwxscncdm09pr01ex-secondary.blob.core.windows.net\nhttps://ukwxscncdm09pr01ex-secondary.file.core.windows.net\nhttps://ukwxscncdm09pr01ex-secondary.queue.core.windows.net\nhttps://ukwxscncdm09pr01ex-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ukwxscncdm09pr01ex.blob.core.windows.net/;QueueEndpoint=https://ukwxscncdm09pr01ex.queue.core.windows.net/;FileEndpoint=https://ukwxscncdm09pr01ex.file.core.windows.net/;BlobSecondaryEndpoint=https://ukwxscncdm09pr01ex-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ukwxscncdm09pr01ex-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ukwxscncdm09pr01ex-secondary.file.core.windows.net/;AccountName=ukwxscncdm09pr01ex;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
