{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f5d069b0-e639-aef6-bfc1-f775800b57f5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F101BA692\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f5d069b0-e639-aef6-bfc1-f775800b57f5/test-blob-a953116d-ffb9-3230-e37e-513d1fe57666",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "y8pJCl6qMZulltRkY88h6SwHoyYFTHMrRXrKRQxqm6iIs+tlccRfw+C4AyIry88TXWcRGEJQYX9XHsXk3+uPO/sr26/ju3hnqN9GTUhQAHmrtuikWINmOFJrDlL/e+T0KMgn/+8fMKLvqm9iCRM3Bx5LOCgD6+J4xKNcd6wlZyz6USR/KQCJi4ZGtK4TAy4/NAc0s0K78T3lrztMwrj1ykJDZ7jut90dwq2ivDY0ZMB1HUOl8LTqP2DnmXrFPcnOUOlr0Jt2UHwpF/GVGTQGsUp616V0T9qNWShXBx5jWITk02tNyZQk/s3GfNnDVCYr4OgwSmYjWQAP3XZzHkhexb5ssUXIuee1VdjYrdMAygQC[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f5d069b0-e639-aef6-bfc1-f775800b57f5/test-blob-a953116d-ffb9-3230-e37e-513d1fe57666?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:05 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "e843f8f1-4ebc-6f3f-28cf-fc7ab1f99ee5",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F10292DB4\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:06 GMT",
        "x-ms-lease-id": "e843f8f1-4ebc-6f3f-28cf-fc7ab1f99ee5",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f5d069b0-e639-aef6-bfc1-f775800b57f5/test-blob-a953116d-ffb9-3230-e37e-513d1fe57666?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:05 GMT",
        "x-ms-lease-id": "e843f8f1-4ebc-6f3f-28cf-fc7ab1f99ee5",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f5d069b0-e639-aef6-bfc1-f775800b57f5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "90713054",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
