{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-077c4771-d1a4-538f-980e-41c2ec2c9287?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F1061F889\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-077c4771-d1a4-538f-980e-41c2ec2c9287/test-blob-67c2fb95-3b90-1c60-c686-9f8d31c80aa7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "YN2yVCDBDBoK/34NIX91MgjHME4uRtPUOO8J9P8/rbngjKCjgrq31O+nXJC9UvpGEWyEape7eBoJ3hswuBgay1LFLJTf0rBOD1xehulDFuX0wuKTukIhJBSGmaOehxvXjZE99yVmZz+8Nlo7XfEwxcc2O/U1hxEQowiAWTgMr4hAh/lYBR+/jlui1oPo5sciVdTcaEsmoQV/LVQd5g0Hr4fS+tX42MCodqyakrCOKL1BXQRkL0c8Gubz2NjKoqhNmyf7FezxKnwUM/Geiw5V8QWX3IkJon9Ald/vBADn3dQETPeJkhLRTzKHUPxVnY7XnubSM8YfQ/inu4AMAiZ8LFYcmj8Xy1/zxoxWglKD6vdR[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-077c4771-d1a4-538f-980e-41c2ec2c9287/test-blob-67c2fb95-3b90-1c60-c686-9f8d31c80aa7?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:05 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F107B8C7B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-077c4771-d1a4-538f-980e-41c2ec2c9287/test-blob-67c2fb95-3b90-1c60-c686-9f8d31c80aa7?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-077c4771-d1a4-538f-980e-41c2ec2c9287?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1287400098",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
