{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6e0f1263-023a-3100-87f5-5895a194793c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E8488A1A2\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6e0f1263-023a-3100-87f5-5895a194793c/test-blob-977f55ca-32cb-b511-43b4-c82218fa5a89",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "xkb13zn1NpqVnYeYG0YvSn9njsyYBUuBNeDyF7NRE8Q3RBBeYCx/1B/kAS6reJn8hX6jsGuO8MH6dKpYAh7mRInCYdc20OlS6LmtswMc1bxG9ZI0rWJZqVNPY+yCJtIA/byk6RfCxrWVUcix4D2+3Z7tEQ2MspcnabiE5mz9z8HnrLVGeOykhC7dn1yap8gWkYVNlBTEc0slfX9fPeBIl4EGyTOHd2WySI3erhI6jMHwblXmsDqtIzlpIPpsRUZOlQfalN2UjhkgmkuH5cQ56/G9b8+KYedHWKb6HldrRQNHkBkKX/fkW988xhXuJj10MDQJrtZ2wzMfkzs2mXDBtVVIQFSrLov52RPvTprSWDJphu4iYZYs0Mzm6su8rcJvehG/puboyQGpD9XDh3WYTTsIzRKCn1O+G2[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<KeyInfo><Expiry>2024-06-07T00:15:11Z</Expiry></KeyInfo>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e610410d-4aa1-4e96-8f70-bc1850bff049</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2024-06-06T23:15:12Z</SignedStart><SignedExpiry>2024-06-07T00:15:11Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2024-08-04</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6e0f1263-023a-3100-87f5-5895a194793c/test-blob-977f55ca-32cb-b511-43b4-c82218fa5a89?skoid=00000000-0000-0000-0000-000000000000&sktid=00000000-0000-0000-0000-000000000000&skt=2024-06-06T23%3A15%3A12Z&ske=2024-06-07T00%3A15%3A11Z&sks=b&skv=2024-08-04&sv=Sanitized&st=2024-06-06T22%3A15%3A11Z&se=2024-06-07T00%3A15%3A11Z&sr=c&sp=r&sig=Sanitized&comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationPermissionMismatch",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>AuthorizationPermissionMismatch</Code><Message>This request is not authorized to perform this operation using this permission.\n",
        "RequestId:b59cd192-d01e-0083-7b67-b8e843000000\n",
        "Time:2024-06-06T23:15:13.0334879Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6e0f1263-023a-3100-87f5-5895a194793c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:15:11.4199481-05:00",
    "RandomSeed": "717827651",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
