{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5f67f61e-22f9-c6dd-d32e-2f1bd85342b7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F111CD47D\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5f67f61e-22f9-c6dd-d32e-2f1bd85342b7/test-blob-be4d8f7e-e9fa-5617-1c2e-55e0605569e2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Qtxh7SD0BHeIXU0Wl+s84dLdCc2jLVnQ09wxg2e7zC0kTqwfxlnEiYrVNpycAL4x8nMNg0ucPhWCkRpEw4AQzJAf8kk+HBp5GH9Czfa8NNIe/5H0rkjhiA+XnTU/gMUJxWoLfA1089VYk2rMWXEexV1HJcPvGx5HPmo6pn/lOpi5OQiMsLfEqQy7mxreFS6eeNfY+FoCGqlMxD6jOUxWc1nSEh9okhSlgny3M4ADaSk7nC2oDEI+tx5eQOx5IW/AZSfACwIONebCM3XdSuYoSFoUZ50ermcXlFsBClIoLGAM985ZQ14nLGdH5dnMYGw3NfeSZLnSobbAqHamDSuUmgYV0VMYzwT87Ts118iNSzTu[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5f67f61e-22f9-c6dd-d32e-2f1bd85342b7/test-blob-be4d8f7e-e9fa-5617-1c2e-55e0605569e2?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:07 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:1d355bdc-f01e-004f-5c67-b88775000000\n",
        "Time:2024-06-06T23:19:08.8107725Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5f67f61e-22f9-c6dd-d32e-2f1bd85342b7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "143268063",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
