{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e1ffcc94-fcf1-4258-a7ca-1d9e5a1e1275?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Sep 2025 22:17:18 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFFA5F3D7CB24\"",
        "Last-Modified": "Mon, 29 Sep 2025 22:17:18 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e1ffcc94-fcf1-4258-a7ca-1d9e5a1e1275/test-blob-02e4ec7e-6555-7187-11fe-274d70413f12",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 29 Sep 2025 22:17:18 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "pjAqkGc/HAfdZFvhH0N4gTEMmBWwIZgOQkXAW4Ej5q3v8NBYDuIYPtDdJfAJpVHOhqYbZKgqYYSYG00hf8GFuX2u8i5yIHNO9FpE0/ynBJ308tTaB4IExI9Mv/KV9r8PWGtzW7IiW2UzzW9N5Y6I8RawLYzsqrL6qS6fJmCAuP2aNXuQM6nq0pZvpzoSt94AxM7b5ckzI625eLKEgjUFsxVys7AT971txlr1fAN35/JPn2GRpNM0ZxHN17v3ZU9hafMkoAMu7M0Rbh9uPaaqQZC/NePTcw5BPkueRR8BdWALlBIPUkfuILKUfza0xSlrI5YqNy9sjfbl42K4j6atEPi+Y6mTm+5J0RQwP/PYjXgh[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-e1ffcc94-fcf1-4258-a7ca-1d9e5a1e1275/test-blob-02e4ec7e-6555-7187-11fe-274d70413f12?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-if-modified-since": "Tue, 30 Sep 2025 22:17:18 GMT",
        "x-ms-date": "Mon, 29 Sep 2025 22:17:18 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6df6fd9e-f68f-e2d7-1b47-a6ef48a8a5b0/test-blob-8c5b82dc-4dd3-b20f-c6d6-0db835adbe65?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-if-unmodified-since": "Sun, 28 Sep 2025 22:17:18 GMT",
        "x-ms-date": "Mon, 29 Sep 2025 22:17:18 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:011ff889-801e-006b-358e-312740000000\n",
        "Time:2025-09-29T22:17:18.5458375Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4365ee9f-f050-01a3-10b8-114f1644e2e3/test-blob-70370703-a85f-c7b2-a1b7-5cc36e4adac1?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-if-match": "\"garbage\"",
        "x-ms-date": "Mon, 29 Sep 2025 22:17:18 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:011ff8f9-801e-006b-138e-312740000000\n",
        "Time:2025-09-29T22:17:18.7230588Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ab5367f9-26e6-64cd-4eff-5bcfd4f57a85/test-blob-6ca26a75-80ca-5bca-a466-e71650877154",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Sep 2025 22:17:18 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "IdPLTNhyOHfFoQsZglKM7w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDFFA5F4356E39\"",
        "Last-Modified": "Mon, 29 Sep 2025 22:17:18 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 29 Sep 2025 22:17:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 29 Sep 2025 22:17:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2025-09-29T22:17:18.8307513Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-ab5367f9-26e6-64cd-4eff-5bcfd4f57a85/test-blob-6ca26a75-80ca-5bca-a466-e71650877154?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-if-none-match": "0x8DDFFA5F4356E39",
        "x-ms-date": "Mon, 29 Sep 2025 22:17:18 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b0047af9-8f94-b656-711c-23b9947e169f/test-blob-ab97b79f-4428-9b60-8d99-4dbf17c7fde0?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Sep 2025 22:17:19 GMT",
        "x-ms-lease-id": "ab714653-a641-cdd6-9e91-62955111ae98",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>LeaseNotPresentWithBlobOperation</Code><Message>There is currently no lease on the blob.\n",
        "RequestId:011ffa0b-801e-006b-7e8e-312740000000\n",
        "Time:2025-09-29T22:17:19.0984093Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-b0047af9-8f94-b656-711c-23b9947e169f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Sep 2025 22:17:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-29T17:17:18.1705802-05:00",
    "RandomSeed": "1565660202",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
