{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ded1b9b9-0654-0ec3-1d24-915942908b59?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F14D2615C\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ded1b9b9-0654-0ec3-1d24-915942908b59/test-blob-59cdae74-8382-4f91-e5a3-29b14effb1c7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Xy6YEjxjdEEGdjQAaYLxYxpVT6+Ia+A+nQNCQmc/JCyPOPENuXUlETqLUgxOkeViscaX+LACPvROWXU5ITHax1EHcTGR5KmkMD50/RjU7wwd35CgqCx7jfr9v18A6+8IsYu6RiC00c0d8sdyjUDbempoG0GhOR4ljOM2lCRKpERObEyMGansaQ7Cg7VkCf+5IUX1l9CtZndtlLo8fTyp0k6CJCH0T2DBfLEz37ZowILjfXPfVQx0oAXUH4XusOvRGbBn4uTexNHlMxseeofBBNM3WADJyX1BDoMcIC/b0szGYcUFAd6eBbih+iHxVSZ9Ehuxt1frB08zJtNhwqSiCmFPWBjCvAP1mVJHKM9cULhc[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ded1b9b9-0654-0ec3-1d24-915942908b59/test-blob-59cdae74-8382-4f91-e5a3-29b14effb1c7?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:13 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "f6e2f886-06ff-8662-6316-cc273a3e15bb",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F14E0F7CB\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:14 GMT",
        "x-ms-lease-id": "f6e2f886-06ff-8662-6316-cc273a3e15bb",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ded1b9b9-0654-0ec3-1d24-915942908b59/test-blob-59cdae74-8382-4f91-e5a3-29b14effb1c7?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:13 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-lease-action": "release",
        "x-ms-lease-id": "f6e2f886-06ff-8662-6316-cc273a3e15bb",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:1d3564ac-f01e-004f-6667-b88775000000\n",
        "Time:2024-06-06T23:19:15.0377436Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ded1b9b9-0654-0ec3-1d24-915942908b59?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1829488378",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
