{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e1aeffea-2600-ce0d-fb93-e58fa1e9fdb7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F1AC6D8CC\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e1aeffea-2600-ce0d-fb93-e58fa1e9fdb7/test-blob-c54d1ad5-08c4-bc9c-7272-5199619c9d06",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "bn4Q7/nibAsHAHBdCxXIaCN/mxWmX6N2FDSp1xsFu99IGwj1F1NM8q1BvcSYP7Bcqul24gCHXw/amdvEOZTwAkWQFfAM01DPMqhoZKHf3tWETC0xjtnewLv5Gn14iLkZUbp/Byq/T9eZpq9XH/pt+7sGP+xmvnNsslQ0E7jTV6ruThPnYNaqxfxWmOgqhqDBjB7CckjNspJGElXVizwexk4EadDnhpvlW3rvECaLQiuzc4aaEeViIZyAoE2A1DnAONKZJR3P2QaC3BbO3aJsu9AqIhi1g7VpoUc0ZuVOZIZAL9hT8hwN45mAFzTOlEP6FOV8VrIhCrQdL4TWm3IgNHeQja7JGMi0HT5+NWyAmw0D[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e1aeffea-2600-ce0d-fb93-e58fa1e9fdb7/test-blob-c54d1ad5-08c4-bc9c-7272-5199619c9d06?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 07 Jun 2024 23:19:23 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:1d3575fc-f01e-004f-3d67-b88775000000\n",
        "Time:2024-06-06T23:19:25.0274882Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-dda7fd5e-9b0a-8bf8-3448-9cda6a4c712e/test-blob-f176a3a9-eb3c-1c85-f3a8-dfcdbafdfa7c?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 05 Jun 2024 23:19:23 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:1d3576ad-f01e-004f-0367-b88775000000\n",
        "Time:2024-06-06T23:19:25.4263585Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0385a78f-cb36-f9d4-8c1e-56eaa371cbff/test-blob-6ab0d22f-208b-d9ce-65d5-19c2f568e147?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:1d357751-f01e-004f-4167-b88775000000\n",
        "Time:2024-06-06T23:19:25.8132319Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f0bc8e5c-7435-db1e-ec39-861960fadedb/test-blob-a5134795-fa20-8923-b3a0-fa31f599f78e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "2cht9IvIkWKDAB4cMo1zqQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F1B8D6251\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:19:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f0bc8e5c-7435-db1e-ec39-861960fadedb/test-blob-a5134795-fa20-8923-b3a0-fa31f599f78e?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8DC867F1B8D6251",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:1d3577f1-f01e-004f-0a67-b88775000000\n",
        "Time:2024-06-06T23:19:26.2370940Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ee162b78-c64b-9127-97d8-f00996e66e71/test-blob-5ab1853e-e0f3-d6f5-1d1f-60b67d7d7433?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:25 GMT",
        "x-ms-lease-id": "1eb38842-590a-e4b7-2fd3-d1c76ce0f4df",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseNotPresentWithBlobOperation</Code><Message>There is currently no lease on the blob.\n",
        "RequestId:1d3578c6-f01e-004f-5067-b88775000000\n",
        "Time:2024-06-06T23:19:26.6249681Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ee162b78-c64b-9127-97d8-f00996e66e71?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:19:23.2511514-05:00",
    "RandomSeed": "1192049246",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
