{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4593a220-64bd-4345-cb0f-417d84d28b2d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F194D2999\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4593a220-64bd-4345-cb0f-417d84d28b2d/test-blob-dd3c77ff-61c7-604b-87f8-db5087525c13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "x/MZvpnENC7SziAkpvaz4EdX8297aocBetk//9BTPlidBlz0b2bsO0MNCvhBJ7qRRfoJMF/tmFxrGES/hDVef4/Ihp+av3Hga7gsbWCOv1IerrnVSQ35r24AiFYiLLYNr4toeaAa9oaIKcWmwSr73VjxodV7iDWBz9YwmjYavj8BHr7VJUaxA7czTSBIUu5EBKr+MIvgkidV5qrK6lxPbmuGpaNsJrcSQJ0eSDsVOXzo7JaMHI2zIIuXgD6c5xla49+1wqxK193z7PDtwkrrP60t4v3Gw1Hd0oQX1KZ5dViDw2RcX3fQnRW4mDCdxV1Bq0CQbwUclCCN2O8oMwI2enaXav/lj+A2XUToDSohPwwn[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-4593a220-64bd-4345-cb0f-417d84d28b2d/test-blob-dd3c77ff-61c7-604b-87f8-db5087525c13?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F196E5A0F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-47c157da-4f96-a355-6d87-6ca31c681377/test-blob-0b03c8e5-96dd-f52b-2247-fb8a19dd8e2e?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 05 Jun 2024 23:19:20 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F19ACBD4E\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d43ee64f-2a91-a0c9-9404-5ec685a7dbb5/test-blob-f986a6ae-5892-e66f-ba4c-dfd3b2753775?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 07 Jun 2024 23:19:20 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F19E0E83F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7621eb7f-18a2-5b58-f42d-763ee09d4ae3/test-blob-0a593e02-e124-67cf-8185-3312d88c828c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DaNxy/tpFg7GcaPgwNUDSA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F1A1C1772\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:23 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:19:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7621eb7f-18a2-5b58-f42d-763ee09d4ae3/test-blob-0a593e02-e124-67cf-8185-3312d88c828c?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DC867F1A1C1772",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F1A303A05\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2e8fc048-023c-bb7a-f869-2dd3b469de44/test-blob-1a172779-923f-1c1a-d6c7-7e2aa14ef8f7?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F1A6E767C\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3e069655-3d37-b792-6052-3bbf7905dbfb/test-blob-995458b1-e132-78ac-c6d3-396e3104e611?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:22 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "bbec38e3-4338-43e4-72e0-86a752a37641",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F1A94718B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:24 GMT",
        "x-ms-lease-id": "bbec38e3-4338-43e4-72e0-86a752a37641",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3e069655-3d37-b792-6052-3bbf7905dbfb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:19:20.7770206-05:00",
    "RandomSeed": "1237189971",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
