{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e50a5761-0568-ed46-3a55-6064840ca51d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E8DCC224B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e50a5761-0568-ed46-3a55-6064840ca51d/test-blob-d2be2dc5-3f59-a663-4252-aae12c63412f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "+G6sroobIu6eSDovsIvUG1QdHn5Miph5ctpHqEsa2ixk2pF0c4MyqQrQNBAEM/a2fo6ND0TD423WMjyv1Hqig24Oy9X6X6fR6nRzfFaHdD7kkCq8jcvoofcjnkBGg9WQLbCi9mghvB7nuyTQT2YWT73+ykNP5vaiJSre1sBmimee40+m5H7WwtML1dGnF1GQDE+DSLiRQEa5/9A+Q+ZdgDG8MWsXcGo/KAhwRBEl+w7YTclx40KvDaMI7eSumH/trVSf6uXmeZzlQyCwIfw1kwTBZfUc7J3uDCTIDoKFkI+Ig5a8hhEo8tQsjJ8i/+un01rg7DKK0MG3sd3BHmoZX7OQJ55leA3zmXMh72D9zA04[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e50a5761-0568-ed46-3a55-6064840ca51d/test-blob-d2be2dc5-3f59-a663-4252-aae12c63412f?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "gtcyhfklxuyfwsubwrdc",
        "x-ms-blob-content-disposition": "vkswvhnqekodvnciljnh",
        "x-ms-blob-content-encoding": "kaqfudbosdafkmnvaeca",
        "x-ms-blob-content-language": "rsgnfvjjqlpnevqusncr",
        "x-ms-blob-content-md5": "YIMSa39/6hBrGn3kLnVKMw==",
        "x-ms-blob-content-type": "fxxbkjriyfihgnoqsdyy",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E8DED6FD3\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e50a5761-0568-ed46-3a55-6064840ca51d/test-blob-d2be2dc5-3f59-a663-4252-aae12c63412f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "vkswvhnqekodvnciljnh",
        "Content-Language": "rsgnfvjjqlpnevqusncr",
        "Content-MD5": "YIMSa39/6hBrGn3kLnVKMw==",
        "Content-Type": "fxxbkjriyfihgnoqsdyy",
        "ETag": "\"0x8DC867E8DED6FD3\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:15:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e50a5761-0568-ed46-3a55-6064840ca51d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:15:26.7234606-05:00",
    "RandomSeed": "1619091944",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
