{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-16613fce-a4cd-38c9-6232-d818777d73a8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 21:29:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCA839E9DB84AD\"",
        "Last-Modified": "Fri, 19 Jul 2024 21:29:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-16613fce-a4cd-38c9-6232-d818777d73a8/test-blob-a404f84f-c942-6034-24b9-ae8129c0b50f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 19 Jul 2024 21:29:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "gi9kyU1WkdQctTGCw4edbvEHuYpOC2bqec/4XVE+iX5HmxLalZAm+Wcwh4yYsp2dHD+QIgcqwHbJelB+XTOD3iuyOid1wtlh4MAjHoPZUscyW0ERrWd2HdqbERs/qJwzrKlg5Xd1J1lmL0FHB6Ly7yeJSwHycTDEPB1M2bC+ITgj73HaeW1PvDToq30lLxU4qCLztVyaQTt5nKlZKE6opw4IIxgxGHa6OY7NCsaynwwIFDCOy2vcia02YdzE9ZTlPwNvHAz8B5CrOXzNzTd0xvycURQdGdyiLJpq+reZ9UP658rDQ4L/Cwyg45HvDrt1wZrfJ6R/yCUmzfBykgzZEkM40uZtsYN6nEYHfDZLsx3e[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-16613fce-a4cd-38c9-6232-d818777d73a8/test-blob-a404f84f-c942-6034-24b9-ae8129c0b50f?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 21:29:47 GMT",
        "x-ms-meta-_": "a",
        "x-ms-meta-__": "a",
        "x-ms-meta-__a": "a",
        "x-ms-meta-__F": "a",
        "x-ms-meta-_a": "a",
        "x-ms-meta-_a_": "a",
        "x-ms-meta-_F": "a",
        "x-ms-meta-_F_": "a",
        "x-ms-meta-_z": "a",
        "x-ms-meta-a_": "a",
        "x-ms-meta-a__": "a",
        "x-ms-meta-a0": "a",
        "x-ms-meta-a1": "a",
        "x-ms-meta-a2": "a",
        "x-ms-meta-a3": "a",
        "x-ms-meta-a4": "a",
        "x-ms-meta-a5": "a",
        "x-ms-meta-a6": "a",
        "x-ms-meta-a7": "a",
        "x-ms-meta-a8": "a",
        "x-ms-meta-a9": "a",
        "x-ms-meta-b": "a",
        "x-ms-meta-c": "a",
        "x-ms-meta-F": "a",
        "x-ms-meta-F_": "a",
        "x-ms-meta-y": "a",
        "x-ms-meta-z": "z_",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCA839EA082EAE\"",
        "Last-Modified": "Fri, 19 Jul 2024 21:29:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-19T21:29:47.2784830Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-16613fce-a4cd-38c9-6232-d818777d73a8/test-blob-a404f84f-c942-6034-24b9-ae8129c0b50f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 21:29:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "AN1gy6QBDhHUhEmPG8D8Xw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCA839EA082EAE\"",
        "Last-Modified": "Fri, 19 Jul 2024 21:29:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Jul 2024 21:29:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-_": "a",
        "x-ms-meta-__": "a",
        "x-ms-meta-__a": "a",
        "x-ms-meta-__F": "a",
        "x-ms-meta-_a": "a",
        "x-ms-meta-_a_": "a",
        "x-ms-meta-_F": "a",
        "x-ms-meta-_F_": "a",
        "x-ms-meta-_z": "a",
        "x-ms-meta-a_": "a",
        "x-ms-meta-a__": "a",
        "x-ms-meta-a0": "a",
        "x-ms-meta-a1": "a",
        "x-ms-meta-a2": "a",
        "x-ms-meta-a3": "a",
        "x-ms-meta-a4": "a",
        "x-ms-meta-a5": "a",
        "x-ms-meta-a6": "a",
        "x-ms-meta-a7": "a",
        "x-ms-meta-a8": "a",
        "x-ms-meta-a9": "a",
        "x-ms-meta-b": "a",
        "x-ms-meta-c": "a",
        "x-ms-meta-F": "a",
        "x-ms-meta-F_": "a",
        "x-ms-meta-y": "a",
        "x-ms-meta-z": "z_",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-19T21:29:47.2784830Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-16613fce-a4cd-38c9-6232-d818777d73a8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Jul 2024 21:29:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1347061540",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
