{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-329437a9-1a67-3307-df92-e5b784b1f5fa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E92002272\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-329437a9-1a67-3307-df92-e5b784b1f5fa/test-blob-d052298b-b8bb-e7a3-a653-1c64e92d84de",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "KPfqzgN0o7k5UKUP7mAr12oMToWumjIUEsXaA/Kjj72p9QgeVMogFoWYl2sTk/lGJ0X53N7/MI3E1rs+mqDGlcDnZvhXDIKf7DgAFgPHAH7Mk9ytqbPfqcV7Wn0P4nvl0QGqLC0A7xrCWe+m/xqK/NY8cQbDGesMCLwz27IEkAm8G0QCHNRRzKTB61DDOKqr8F2n0nB1IbgVniNwzRNovcjm6ePViN8B6qVhAS2bSM8RiOtVXb2ZR/mL7H6w4f6RWS2H3U/H1Wh9pufLEx+KelVUXkUoEmALTKLpSZtgUAmm0Kj/FGuASrKC17fVzjPaAHIpXIK5aUbNfJCs3YvNHFXeJEN3i2bp1BOSpTupNX5u[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-329437a9-1a67-3307-df92-e5b784b1f5fa/test-blob-d052298b-b8bb-e7a3-a653-1c64e92d84de?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:33 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E9219CE9C\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-530435f4-719d-09a5-4785-94a9c603f079/test-blob-be0a8266-4817-3987-fa41-ecfe9cee4c4a?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 05 Jun 2024 23:15:33 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:34 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E92587FF8\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a426c9ab-29ea-059c-d099-7b86c2d8e3b5/test-blob-1bb02ced-a71d-625d-a326-124c6c80d959?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 07 Jun 2024 23:15:33 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:34 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E92961FFA\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-89281857-6851-09d3-288d-04347c254497/test-blob-3cda51c7-8beb-7119-a25f-b835393bb4ba",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "d13rwuUnYMn/q+8cZ/McYQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E92C19913\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:15:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-89281857-6851-09d3-288d-04347c254497/test-blob-3cda51c7-8beb-7119-a25f-b835393bb4ba?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DC867E92C19913",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:35 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E92D6CCF0\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c8f30dd7-d8b4-491c-ced3-87cc88d2f0ea/test-blob-696aa7af-1cdf-3d06-2d6e-93748d866419?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:35 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E93181623\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-63fefc36-009d-b1ac-8908-2a44281725ee/test-blob-a76deafb-8ab1-a47e-4aab-33dc3734978b?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:36 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "d141d4b4-2251-1f0f-5ec5-9c23fd06f847",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E934B08B5\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:37 GMT",
        "x-ms-lease-id": "d141d4b4-2251-1f0f-5ec5-9c23fd06f847",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-63fefc36-009d-b1ac-8908-2a44281725ee?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:15:33.7708820-05:00",
    "RandomSeed": "1646217520",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
