{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-904b2239-f7d6-bf1c-5888-5e07c344b9d5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E95545CBE\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-904b2239-f7d6-bf1c-5888-5e07c344b9d5/test-blob-f47ac42b-f33f-044c-48fc-c7852434c623",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "PgeMYMQW6odYn5zuDWJ18xaluzW7VhaIFntb7oCzJ3l9BDjSSdppFdnym6BWXfblhtNufniRZ+jwBEpJu/wHpXcicQgqo6o7O6Zbybp2MbiEdWisRKgB7J1P4UWPH1nd6/UoM+ztu+MpM0PRNZ0tetKSxEWTWmHPIYRr2sFkqxxNft3FTf3Ll7qEgxFlL7f/IWdy/VsTSZCUWRFogeAixIcmhLa/aCzUxyyLD9ZQafLNa7ha8q7AOTVMMfTrYxXaYr+JPqsAP7k6nTYuiDm6Q+8fmhYnx9HZZUuAczc46GMXsawXxitGzCv/IFR3krD7ku0EzMj/spvtsNhfgMyCArTSF9eNon3E2M3qKKd9YdOa[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-904b2239-f7d6-bf1c-5888-5e07c344b9d5/test-blob-f47ac42b-f33f-044c-48fc-c7852434c623?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>coolTag</Key><Value>true</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-904b2239-f7d6-bf1c-5888-5e07c344b9d5/test-blob-f47ac42b-f33f-044c-48fc-c7852434c623?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:39 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E957C10CC\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-904b2239-f7d6-bf1c-5888-5e07c344b9d5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "688216212",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
