{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a34b2d62-af2c-1e04-41ca-e210da7c747b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E938E6909\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a34b2d62-af2c-1e04-41ca-e210da7c747b/test-blob-a21814c4-d285-eced-5375-868ef241313c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "DbWZ/FBmesvUZ8W99eiZx1P7/tjrGqek8D+6i5jKAdYRQ+SGu01wXZpMzh4ML/dq3L8790JYUPIN9QsQq+4zCWbuq7IEEgwFiqA9n0yJl8FHT6/ZjwmUufLxeMVBX7GsGcS4HYNEZsmzNWyhGrGlhF1KyVw/WXpcWvLAEppGwyrukYWI0Ho+A+nmJVmc8p5AS/No95ZVbb9JW8KQg1MvbHFBs4grHbPjDMVyWDQgv2hUgMam3syUmSTGPnW3rX+Vt7noWj8VFC4/hOrR4hSLKZtaPAOMiI6krRpkZd8+LF5F3aF7OGQpPmuYZlriwrYQOhXZXHF7CS4qQ60lsa9OAVeLiwVyEPA2Mf2Y9CE0wutj[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a34b2d62-af2c-1e04-41ca-e210da7c747b/test-blob-a21814c4-d285-eced-5375-868ef241313c?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 07 Jun 2024 23:15:36 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:36 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b59cddd1-d01e-0083-6a67-b8e843000000\n",
        "Time:2024-06-06T23:15:38.1132254Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b330acdd-4d85-89fe-158c-85a95cfa85fe/test-blob-5633ebfc-17d4-c74b-befb-bdedb6fb5fe8?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 05 Jun 2024 23:15:36 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:37 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b59cde09-d01e-0083-1e67-b8e843000000\n",
        "Time:2024-06-06T23:15:38.7660105Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ec435657-6682-fe47-87f6-2207f90445a2/test-blob-8abcde38-9cfe-be92-034d-6959f2348d9c?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:37 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b59cde32-d01e-0083-4367-b8e843000000\n",
        "Time:2024-06-06T23:15:39.1188937Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-02c540d3-5bac-6b39-5faa-cde159e94910/test-blob-720933f6-f5d4-690e-f551-9ece906bfe20",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "FyWD3RcsExx4cwz1sDy+og==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E9469CDC3\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:15:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-02c540d3-5bac-6b39-5faa-cde159e94910/test-blob-720933f6-f5d4-690e-f551-9ece906bfe20?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "0x8DC867E9469CDC3",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:37 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b59cde51-d01e-0083-5f67-b8e843000000\n",
        "Time:2024-06-06T23:15:39.5097654Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e12a0b93-4a5e-7c3e-1c88-2f1bc88b1fd1/test-blob-09506ffc-bf06-23be-225c-53db4dcd3b1f?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:38 GMT",
        "x-ms-lease-id": "c1621ca3-1ebb-2465-3c38-9002cfe0b0ee",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseNotPresentWithBlobOperation</Code><Message>There is currently no lease on the blob.\n",
        "RequestId:b59cde6e-d01e-0083-7867-b8e843000000\n",
        "Time:2024-06-06T23:15:39.8316598Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e12a0b93-4a5e-7c3e-1c88-2f1bc88b1fd1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:15:36.3890844-05:00",
    "RandomSeed": "911970539",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
