{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-feb249f4-3c1f-1af9-5512-6efa5d4f53cf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Jun 2025 16:06:41 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB3391B746C49\"",
        "Last-Modified": "Tue, 24 Jun 2025 16:06:41 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-feb249f4-3c1f-1af9-5512-6efa5d4f53cf/test-blob-7ebeab09-e3b6-17ec-c029-f259bf29920b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 24 Jun 2025 16:06:41 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "PsXRZXd0lnYitU6A2iK+eXDNxtyLVPJGC8AeEI/BIMDT9icEwe83lBVHXAGUbDydanno8WO2gOrTi1q3VYbmYZWNrOP7ubeAljHGQ/jxsZ+DgaUW2C5cHXU8MTaVfz6PYPprBr9YobDBaFoy7z3x4tm6NNTg0IlmMI5tv4iA6xbyN+L+harfKuD0VXDTKi44S09c2ktqrpBxBdYx6uIoQHxDP7da810v2wn07HsYkgZgNXM5IxDLiIlSjH/Urj/9yxTzj+t23ljxLf9CdsEVWHLP0LVu7xxseLYuB2bdWyzJ9iBmJQIa6VYbR/YQiRLHPTMNBN2Kj9z3hhc0SNfxFNLTeICgrjNvtOZfU6gmXO+k[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-feb249f4-3c1f-1af9-5512-6efa5d4f53cf/test-blob-7ebeab09-e3b6-17ec-c029-f259bf29920b?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-if-modified-since": "Wed, 25 Jun 2025 16:06:41 GMT",
        "x-ms-date": "Tue, 24 Jun 2025 16:06:41 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:f541c47e-501e-0057-3921-e50e87000000\n",
        "Time:2025-06-24T16:06:41.2458299Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f06b3f65-b3d8-24e7-1d90-995dd003421f/test-blob-d384f8b6-722f-126b-71d3-1b6522709067?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-if-unmodified-since": "Mon, 23 Jun 2025 16:06:41 GMT",
        "x-ms-date": "Tue, 24 Jun 2025 16:06:41 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:f541c51c-501e-0057-4a21-e50e87000000\n",
        "Time:2025-06-24T16:06:41.4907566Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-04d9e9b6-883f-0e8e-30ae-eb676d8edd5e/test-blob-d47aafa8-9fe1-fe6a-d255-21120e4736ba?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-if-match": "\"garbage\"",
        "x-ms-date": "Tue, 24 Jun 2025 16:06:41 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:f541c58a-501e-0057-3621-e50e87000000\n",
        "Time:2025-06-24T16:06:41.6868964Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-04ca33de-dcce-d77f-9c05-d7281bc3e597/test-blob-c37ef01b-320a-7bf7-3468-34b6a2b516ba",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Jun 2025 16:06:41 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "crSEJJw6SOhbOtde67oCFw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDB3391BD651D1\"",
        "Last-Modified": "Tue, 24 Jun 2025 16:06:41 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Jun 2025 16:06:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 24 Jun 2025 16:06:41 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2025-06-24T16:06:41.8016721Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-04ca33de-dcce-d77f-9c05-d7281bc3e597/test-blob-c37ef01b-320a-7bf7-3468-34b6a2b516ba?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-if-none-match": "0x8DDB3391BD651D1",
        "x-ms-date": "Tue, 24 Jun 2025 16:06:41 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:f541c617-501e-0057-3c21-e50e87000000\n",
        "Time:2025-06-24T16:06:41.8690979Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d46c2493-2ea2-a39d-6e41-197122faf705/test-blob-de9547a4-1a0a-d580-26eb-1a733ec129ce?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Tue, 24 Jun 2025 16:06:42 GMT",
        "x-ms-lease-id": "5780e31c-3878-b38d-fe5c-7bb6bc4b1cd2",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>LeaseNotPresentWithBlobOperation</Code><Message>There is currently no lease on the blob.\n",
        "RequestId:f541c67a-501e-0057-1921-e50e87000000\n",
        "Time:2025-06-24T16:06:42.0224273Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d46c2493-2ea2-a39d-6e41-197122faf705?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Jun 2025 16:06:42 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-06-24T11:06:41.1533226-05:00",
    "RandomSeed": "2038704168",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
