{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-769abda3-06d8-a130-0db1-c63b53091c61?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E987EA468\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-769abda3-06d8-a130-0db1-c63b53091c61/test-blob-e18d4369-246d-dffd-aa6c-f3dbc5ee0380",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "ltIB3GJdstiKHohNdLIocdZ/2Fn/OocVeccUQZE94dwPz8ozEEpeDJG1V0+csGv4Q4IERRWpgVxK62KaSHBHTDyrPqTn9WGLIczISuM4eclcHP4POZvGZU5t6CTow8QgbQoS8HLGEE4geCRJ4TZ5EXKYPityNxOh5dhWeQw8o10Hp9zYJolXlgyv7sB3fIMX9NeyT4WZrjb2cQqZb5ZB49XGQTpaoOvoQagewklTKWhVP4U1ilPXbvim4bR+vSZ1bgrrsDtIvFPryQ7deuvso0eiRC8RC1mB79JBtL82aoOBqVQ+aHktDIMxSsBF+vQNuT5t3Hn2Y2KxacFoBwiUtF+KW9CXrjvNdDis38GZO/Te[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-769abda3-06d8-a130-0db1-c63b53091c61/test-blob-e18d4369-246d-dffd-aa6c-f3dbc5ee0380?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:44 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b59ce15e-d01e-0083-6a67-b8e843000000\n",
        "Time:2024-06-06T23:15:46.4034944Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-769abda3-06d8-a130-0db1-c63b53091c61?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1689086049",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
