{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-008512fe-1233-d0c8-27a0-2fe0114198f1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E99B7A64B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-008512fe-1233-d0c8-27a0-2fe0114198f1/test-blob-0be94753-4873-9577-6852-bfd201824471",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "KZrcDcMvRb3ITK41tX/AuA4E80XMbCG7jOcAWUQwtDeSQQHWq0RJIwErQiaZQt/pkgfD/I7+pLx5IIHcLut4mJd2o3R96QzKu89DoCn6IkoHF8c9bLipk5xFXYrDbfUWs6qPI55ra6n6+UG+uwOSf/421BckOyzfzQ/YOIyCBk7aLe1/av6rnKsdQnJ26tiYst2LjJjd8Xd+r1aPkjIcePLz5I0WEhT/ijdrBvi5aOI3P4Wu9nq1/Tt2AbqoHAl4AcqAgwZKgp/IjAFgcep+xEZzWFKtbYF4PedRoBFaVm4u8gUuOeXc7L3l5mp4VItR9zxzNcS2y5NIB0Uf+OKObjWTMn/kUIthl2uVx4cX/+lb[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-008512fe-1233-d0c8-27a0-2fe0114198f1/test-blob-0be94753-4873-9577-6852-bfd201824471?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E99C480B8\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:48 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-06-06T23:15:48.4550812Z",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-008512fe-1233-d0c8-27a0-2fe0114198f1/test-blob-0be94753-4873-9577-6852-bfd201824471?snapshot=2024-06-06T23:15:48.4550812Z&comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-008512fe-1233-d0c8-27a0-2fe0114198f1/test-blob-0be94753-4873-9577-6852-bfd201824471?snapshot=2024-06-06T23:15:48.4550812Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sAbjJSj+D9IPHwp8ErLXdQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867E99C480B8\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:48 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Thu, 06 Jun 2024 23:15:48 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:15:48 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-008512fe-1233-d0c8-27a0-2fe0114198f1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "494011604",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
