{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f39a0a33-6858-0ac9-db21-9c722d1a99b1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E9A10BB47\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f39a0a33-6858-0ac9-db21-9c722d1a99b1/test-blob-f8f99af9-02a8-85f7-6b94-9ebc15fa1838",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "BhHhN3sQVBu2T1m1RZyec4RG1VepIuOO/hkdyNJIcFWuLvpW/+CR6UXdQVmoQj/P9Ss4zyXAjuQuUjhi8oxIbd4EBheiR3OjtewSzOCJ5rzZTtKnEKAw7aAWKK2nL/a4lNN7ozsoLK63lBo4rsIDpGx7iKS6oV091Bh2jB/G/IX1WTcNDkKBsCEk8HyG9z7eEoNALKZS/vN2Pc8isqCO8JiUQ1WK9pYp+teClrDht93ZmHmbhtDfolpDltFzXv6Alf/j8bPpUxztFjHOz2hClIbxSRkn82rItaD7R1/FtpzZAgCw/cUp8EVcrW+eENLxAQFKgRTkWKGVGzsT7Qy8KGCU9c1nkZfAx1jUykX7KaXN[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f39a0a33-6858-0ac9-db21-9c722d1a99b1/test-blob-f8f99af9-02a8-85f7-6b94-9ebc15fa1838?snapshot=2020-04-17T20:37:16.5129130Z&comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\n",
        "RequestId:b59ce271-d01e-0083-4f67-b8e843000000\n",
        "Time:2024-06-06T23:15:49.0106365Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f39a0a33-6858-0ac9-db21-9c722d1a99b1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1896063553",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
