{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d9093428-468c-32db-9d52-8936ca515dbd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F24AC337D\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d9093428-468c-32db-9d52-8936ca515dbd/test-blob-cbfa9792-629c-0ede-a835-84cebaf74d49",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Fa02o97wxiZMyMdefm1e4MqPUE1Zcj6cSWTEwV77ZsQNUgjIPVEeotDUftObgI871qQDKqYA8KNvmVl5KwTIUGIDUSxklqN5cK58hfNqAcnUiOu69zsdDWFlWKP3pXbLCy1xmC5j1kAAirr4g2uwBJiQpKIZDlgn5UTK/z0Agcs3sXnF+WmacbGquW2BJYn2tVQLZgDUsv3VSbLqmdcD/wjvwdLx6gsu9jPwblTrpsC600rp9RvKY/578K+2r9fap7lkkWS3BcpI3G/N40Op6aPyMMaNGQrtJF3TdfpbeEdcFseahhRcA86AoBmr/H+70gYLxH4QTI2vd2wG44/P7WMocc18DmKPlS34DXnxQSje[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d9093428-468c-32db-9d52-8936ca515dbd/test-blob-cbfa9792-629c-0ede-a835-84cebaf74d49?snapshot=2020-04-17T20:37:16.5129130Z&comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\n",
        "RequestId:1d359024-f01e-004f-0c68-b88775000000\n",
        "Time:2024-06-06T23:19:41.6060861Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d9093428-468c-32db-9d52-8936ca515dbd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "725535873",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
