{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8a67d454-98cd-11a1-bdd5-1fd24712f5c6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F21A945EE\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8a67d454-98cd-11a1-bdd5-1fd24712f5c6/test-blob-1e3643ae-ca50-ea61-9d53-95a9c9cd715f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "7XOoNWI8tiZDugw3YGfFPa74JVwnyVtfsMUbvPyC80JeqeLbDkBzcowP25W+Kok2jVj70KcUNyQXSIScIPoqwMfJ2LeE6i5thbPQGO7FoYY75S6jhyObSnG+w8a811GR5RrO9VHSsaIqjkrzRB82Uaf9YDvLhjmkLY5FxiZosK5hPzLT96w1aTSMefnYpwVSiHEevnYWxV7gKsfDjOp7wt2ckgXsYlr7yPcHPw0/y4WI8j61SfI3SnnT8szkctxJELYcOxUAZSUWIvZ/D4ZRoV5BOpqrxnjrZEeLGW+OFlYavS9WI5Bwh40Znib7uDvzglFtozdCnkk+MNbOdEy2iAyfZFFW+n3O0bIMkidR76wL[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8a67d454-98cd-11a1-bdd5-1fd24712f5c6/test-blob-1e3643ae-ca50-ea61-9d53-95a9c9cd715f?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:35 GMT",
        "x-ms-lease-id": "29fc5a72-31f6-0fea-b5b4-033e5c420e54",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithBlobOperation",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>LeaseNotPresentWithBlobOperation</Code><Message>There is currently no lease on the blob.\n",
        "RequestId:1d35897c-f01e-004f-0a67-b88775000000\n",
        "Time:2024-06-06T23:19:36.8696295Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8a67d454-98cd-11a1-bdd5-1fd24712f5c6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1496691822",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
