{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f5884414-aca9-c668-5b4f-1a168893ea5a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 02:48:27 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE799883F43C63\"",
        "Last-Modified": "Wed, 04 Mar 2026 02:48:28 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f5884414-aca9-c668-5b4f-1a168893ea5a/test-blob-7ed28ff5-159c-5db7-2af1-c28b759f3548",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 04 Mar 2026 02:48:27 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "wKdavGvGpffgsuwwqaaj1FQa0wE/ENamFMr5w9NJa84cxLJLAw2wLunbnekoh7OETe43W8w0CLDRs6ihzeEkl0YdFOX0WNBGaaQXZHLsfYwWdHXkEhAC57sBeVBlD2AHtwajC3POj/Ue8PEnHKQ95TUbi1lsP4U1Gywp8t9/4VpED6xsSHIZSOSAxiEe2soXxJQbSYMHm3eBbfBGpJ0Wng6X4w330ZzDAkN063ljF0FiEi5KZJjWPHM169uC06NHaicSh/a9H/P3WEZAk7D9HVav5JJvyzp2wKeZwuXBQC+fLIBSUY9KpPM6UgxRlqnDN86E0+4R2J/tm8dOJFwNNhcXoGYvq8zGZD+eNHguJSr9[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f5884414-aca9-c668-5b4f-1a168893ea5a/test-blob-7ed28ff5-159c-5db7-2af1-c28b759f3548?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "x-ms-date": "Wed, 04 Mar 2026 02:48:27 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f5884414-aca9-c668-5b4f-1a168893ea5a/test-blob-7ed28ff5-159c-5db7-2af1-c28b759f3548?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Smart",
        "x-ms-date": "Wed, 04 Mar 2026 02:48:27 GMT",
        "x-ms-rehydrate-priority": "High",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f5884414-aca9-c668-5b4f-1a168893ea5a/test-blob-7ed28ff5-159c-5db7-2af1-c28b759f3548",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 02:48:27 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "3oZAak6IG2QaznFPZCWE8A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE799883FC7143\"",
        "Last-Modified": "Wed, 04 Mar 2026 02:48:28 GMT",
        "x-ms-access-tier": "Archive",
        "x-ms-access-tier-change-time": "Wed, 04 Mar 2026 02:48:29 GMT",
        "x-ms-archive-status": "rehydrate-pending-to-smart",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 04 Mar 2026 02:48:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 04 Mar 2026 02:48:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-rehydrate-priority": "High",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-03-04T02:48:28.9538371Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-f5884414-aca9-c668-5b4f-1a168893ea5a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 02:48:27 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "177784051",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
