{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6da30395-89cc-8a38-eb0f-048a94c93429?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F25AFF947\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6da30395-89cc-8a38-eb0f-048a94c93429/test-blob-5f37cfb2-8c18-659d-071d-c9330f0ee2df",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "qaWj/Uih9h7M7wLoaUp2Eyrkd9jUBkZa+RuLFXBOqe3K5whp7HBMEdgZkyiJtPy8p7YIKpcJCqNeSAQtFeGtfkYVHoFCDCa6mGUAunId0UUfz226RX9VwNxkC6RsH/z2bBXidJV6epqPTpEyCVAwQXe/DUZ08jjGv16l3QGCTnhoCk5dO1yvpFTTKvbtI7aMM8otrBG2gnncG7Q31ZyYDQAZyf8B0gUaD2nxoMhC2ZunGao3VKFmsofVgR+neM+4Oh321Fq3imDEEp2oxOGwmUIYj7vyYbheshZ3LFHmcpeZOWaqSwVB8I5Jc0IDve2mJOfdj+gTxthklyFDQF4P3Z8GD4t7Bk48158tqO52WvQo[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6da30395-89cc-8a38-eb0f-048a94c93429/test-blob-3995f524-dcb6-0083-272a-4052c5d12567",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-6da30395-89cc-8a38-eb0f-048a94c93429/test-blob-5f37cfb2-8c18-659d-071d-c9330f0ee2df",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F25D73E44\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:43 GMT",
        "x-ms-copy-id": "9229be26-1896-44a0-9d36-3f1edd9ff3c0",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6da30395-89cc-8a38-eb0f-048a94c93429/test-blob-3995f524-dcb6-0083-272a-4052c5d12567",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ZjQPkNHmBBQPJ6svvPWUhQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F25D73E44\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:43 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Thu, 06 Jun 2024 23:19:43 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Thu, 06 Jun 2024 23:19:43 GMT",
        "x-ms-copy-id": "9229be26-1896-44a0-9d36-3f1edd9ff3c0",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-6da30395-89cc-8a38-eb0f-048a94c93429/test-blob-5f37cfb2-8c18-659d-071d-c9330f0ee2df",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:19:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6da30395-89cc-8a38-eb0f-048a94c93429?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1221166437",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
