{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a7a9a673-14af-aa8b-16d3-696732d2d2b9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 02:48:28 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7998847A755E\"",
        "Last-Modified": "Wed, 04 Mar 2026 02:48:29 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a7a9a673-14af-aa8b-16d3-696732d2d2b9/test-blob-035b8ce3-3b6a-5811-b2c0-6790460a9f5d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 04 Mar 2026 02:48:28 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "vPt7VYlgYJiV0KB8ZjzI1NRYnX5cFAOwy/C/mGaefg4fVvwk8PXrgizDbZqalfJ295O87W0hAaf4y4qZoccx91KSXQ9Ao+PebBpSmKdoFTX9SaDT4pCg/VVUKyVrUuFkkXVIBzjjNVOv3YBSz2j/kLVUnFgnXhXB8V+563e9cho47QYyIA39GRNNIwQPTi7tVJtwF7aJPTNfhxbZKkrb8mtmGuFhzXCnV4JE2ToRsaMwzJbcTFtjr7DT0pn3JO/IcTGZqTNNi4cryb80RGP5TtVyqF2z/6UPAmoxjvvWrzOTe2gIeAdv40APsIObL2pM2YPDhXuRFHKLiabIG/2LVBqMocn78NbNAsUdpE4ic9MA[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a7a9a673-14af-aa8b-16d3-696732d2d2b9/test-blob-8fd952f7-9016-cf80-8066-2691c647a710",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Smart",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-a7a9a673-14af-aa8b-16d3-696732d2d2b9/test-blob-035b8ce3-3b6a-5811-b2c0-6790460a9f5d",
        "x-ms-date": "Wed, 04 Mar 2026 02:48:28 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DE7998848A0FB5\"",
        "Last-Modified": "Wed, 04 Mar 2026 02:48:29 GMT",
        "x-ms-copy-id": "404cbf0c-66b1-4eb9-9bfa-c57f44aa7f29",
        "x-ms-copy-status": "success",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-03-04T02:48:29.8819509Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a7a9a673-14af-aa8b-16d3-696732d2d2b9/test-blob-8fd952f7-9016-cf80-8066-2691c647a710",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 02:48:28 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "G/NfjgW1HcRiL/E8RujsTA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE7998848A0FB5\"",
        "Last-Modified": "Wed, 04 Mar 2026 02:48:29 GMT",
        "x-ms-access-tier": "Smart",
        "x-ms-access-tier-change-time": "Wed, 04 Mar 2026 02:48:29 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 04 Mar 2026 02:48:29 GMT",
        "x-ms-copy-id": "404cbf0c-66b1-4eb9-9bfa-c57f44aa7f29",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-a7a9a673-14af-aa8b-16d3-696732d2d2b9/test-blob-035b8ce3-3b6a-5811-b2c0-6790460a9f5d",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 04 Mar 2026 02:48:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 04 Mar 2026 02:48:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-smart-access-tier": "Hot",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-03-04T02:48:29.8819509Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-a7a9a673-14af-aa8b-16d3-696732d2d2b9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 Mar 2026 02:48:28 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "939464541",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
