{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-270d21e6-1649-a0d5-83be-880f5bd4f264?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EA36D6729\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-270d21e6-1649-a0d5-83be-880f5bd4f264/test-blob-6edbdfdd-7864-c8ab-3a67-c53733c6ad89",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "xMz5aoWJkXUG6hHbFarbFw3EMRMfi1edRYUua3W1RALIfnb9T5uYVE5lZ3lm0LKPjK4pbpSaaTl0XCUAWib/UaYPE5Y03cdyK93EuSTdNnTSnt7Hi9VtLhQ9iPN1mPknZhbTV7wcW6/mt0O31bAUlyWwLrtIN8XRoeWB91TU/JPknFMOCt+4tkMv4dSRtlhkKPHNxWo93y5QAbbXmmRaEbqw0jhcBoxG+Hd4GFbxQOqMHc5iBjcppr0lvQko4Bzf1M8Z4eMgCCFkhszyxcfXXsHLS32V9wqDhyx7NkmDHhdbmEOG2F4HaxSt/oBqNuD1TV5HXZWfSd3ElVq3pdHY4Gi1lyyDUIZiw99o6PmKGVBM[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-270d21e6-1649-a0d5-83be-880f5bd4f264/test-blob-62c2b7ca-e495-ff01-5437-b247319de5da",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-270d21e6-1649-a0d5-83be-880f5bd4f264/test-blob-6edbdfdd-7864-c8ab-3a67-c53733c6ad89",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:03 GMT",
        "x-ms-source-if-modified-since": "Fri, 07 Jun 2024 23:16:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>SourceConditionNotMet</Code><Message>The source condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b59ce91f-d01e-0083-5567-b8e843000000\n",
        "Time:2024-06-06T23:16:04.7424534Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6c29fac6-c053-0745-8e08-9f74304c193b/test-blob-70c21ff8-c8d3-d11f-a546-6d1d72376bd6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-6c29fac6-c053-0745-8e08-9f74304c193b/test-blob-f9044d7b-bc25-960e-509f-826b89196847",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:03 GMT",
        "x-ms-source-if-unmodified-since": "Wed, 05 Jun 2024 23:16:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>SourceConditionNotMet</Code><Message>The source condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b59ce941-d01e-0083-7267-b8e843000000\n",
        "Time:2024-06-06T23:16:05.0943382Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-abdead03-274c-4b6e-37b4-e3475168e001/test-blob-eb22bd4d-ca64-de4c-f5f7-3916d7b89f9b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-abdead03-274c-4b6e-37b4-e3475168e001/test-blob-c02a45c2-84c4-8fb4-5b79-f7f58ff83d57",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:03 GMT",
        "x-ms-source-if-match": "\"garbage\"",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>SourceConditionNotMet</Code><Message>The source condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b59ce964-d01e-0083-1167-b8e843000000\n",
        "Time:2024-06-06T23:16:05.4212308Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0e55f67a-9f8a-a20e-b429-3eb7f74f0138/test-blob-0a5266de-5acd-d0e3-e812-5e0cf3ff2eeb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "O0lYgayAAoQtZi2XiXKTIA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867EA4170E76\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:16:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0e55f67a-9f8a-a20e-b429-3eb7f74f0138/test-blob-bd23603f-a184-3ed8-e6fb-35cfe3b80989",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-0e55f67a-9f8a-a20e-b429-3eb7f74f0138/test-blob-0a5266de-5acd-d0e3-e812-5e0cf3ff2eeb",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:04 GMT",
        "x-ms-source-if-none-match": "0x8DC867EA4170E76",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SourceConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>SourceConditionNotMet</Code><Message>The source condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:b59ce989-d01e-0083-3067-b8e843000000\n",
        "Time:2024-06-06T23:16:05.8270970Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0e55f67a-9f8a-a20e-b429-3eb7f74f0138?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:16:03.0159993-05:00",
    "RandomSeed": "31605361",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
