{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e28a4646-d94d-1730-2f5c-fa064eb540d3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EA247286A\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e28a4646-d94d-1730-2f5c-fa064eb540d3/test-blob-d9c46597-f565-ca25-1aa7-8b1a20aaea7e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "z9j5KrGK7353VImDGAvS6ys/7sfss70X/jqbPWsXHtTL5FA5ctzIDXZFYRBsobIO1KDu4bsikRwa4ix37rESXza0tzO7mXhPd+FRplGtqlyHjWnLKTwZqVM0HpCwUR7FMwHZuOp+Uzsnn2ra0evKbTfQ72FIRzb6mg7gh3roniXDjHNQ0/JyCToto4rSP9doabFY4GK8fOzL3x3bncvAPgBEFkV3eplEXeUnGqOsKFs3eB3JkL7DBg+GhfTUl2tubWSJjSiS8O8XE4J8lWJIHrbCoyWt965BgBA18fWlcMZ5uK0/IpozpYgusnw8R3GsPWY9EvNGwHW1Rw0YXP76caO7Aty1Cfscjv6df0QyBTme[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e28a4646-d94d-1730-2f5c-fa064eb540d3/test-blob-45b19b79-7937-769f-3461-a6f273dd7607",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-e28a4646-d94d-1730-2f5c-fa064eb540d3/test-blob-d9c46597-f565-ca25-1aa7-8b1a20aaea7e",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EA2667608\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:02 GMT",
        "x-ms-copy-id": "67a882e0-dbaa-4dff-89a3-28f6353b089d",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-48f3bf34-2642-24ac-a136-53160a3f5c8c/test-blob-b9fa1e83-527b-2b2a-875a-934402c54802",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-48f3bf34-2642-24ac-a136-53160a3f5c8c/test-blob-ad3b469b-7c05-4fd9-6f5b-0250d40960f7",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:01 GMT",
        "x-ms-source-if-modified-since": "Wed, 05 Jun 2024 23:16:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EA29C758E\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:03 GMT",
        "x-ms-copy-id": "d602c73d-f78b-49d8-82ff-8192cf86111a",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-65bc4ca6-1cd1-ac25-f824-a0759ceae8a2/test-blob-6dd69196-2614-86de-02db-70e2a12b413d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-65bc4ca6-1cd1-ac25-f824-a0759ceae8a2/test-blob-f86ff8f1-8f22-a254-420e-755ca7a90bf1",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:01 GMT",
        "x-ms-source-if-unmodified-since": "Fri, 07 Jun 2024 23:16:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EA2D2C378\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:03 GMT",
        "x-ms-copy-id": "797fec8a-b866-4af3-a719-96fb66064b7a",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2c7aac46-5387-8ed4-7b2e-87559c526c8c/test-blob-d7e9c31b-e443-b359-df01-ab944d313c57",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "zHAPF92XS9mllo4CEAuIQQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867EA2FB7D67\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:16:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2c7aac46-5387-8ed4-7b2e-87559c526c8c/test-blob-9b1e407e-fa3d-8757-56c9-dfcce0f499eb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-2c7aac46-5387-8ed4-7b2e-87559c526c8c/test-blob-d7e9c31b-e443-b359-df01-ab944d313c57",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:02 GMT",
        "x-ms-source-if-match": "0x8DC867EA2FB7D67",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EA3117486\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:03 GMT",
        "x-ms-copy-id": "1ef88834-6451-499a-924d-04b1fb2b054c",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7aa7a0b5-9e5d-7812-af8d-1838727d21d1/test-blob-c60cbce9-017a-afbc-d655-66873b2b0de8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-7aa7a0b5-9e5d-7812-af8d-1838727d21d1/test-blob-d7fd658d-6ef0-3a81-b5bd-a26c3a717a8b",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:02 GMT",
        "x-ms-source-if-none-match": "\"garbage\"",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EA34B1D3E\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:04 GMT",
        "x-ms-copy-id": "8157aca8-4b5d-4405-acf3-18add4d1e985",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7aa7a0b5-9e5d-7812-af8d-1838727d21d1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:16:01.0799895-05:00",
    "RandomSeed": "365643329",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
