{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f4190de4-1f6b-0062-a468-d6a67a56a94e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F25633F3F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f4190de4-1f6b-0062-a468-d6a67a56a94e/test-blob-e483068b-beec-ff22-5fa2-ca185ac7adf0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "wj1Vi67T99WblKkzXP82JRhXD0swwaySzKh2tOwnkIEhl+sDrq6/tw+uSFcU7qJga6T/ArhhwAGRwr8GXULodAMoEsUTMndql1g8gXlUft4FFUhHKI7Jv9bpcuzvuFnMxdRT7NzcTDktlWpfJT+IPEThAEj6oUx1XlLvKb+Ket/+cLulAJEBKcgPGpIjaZqXYTaoDrgR0iSH3Y2K7SN6ohqLYLSD4zuy39d/64a5UvS3V8iJ4mwm7Z6WHSIDdzullXh4lwjlFH769S7hkeaezouZ0pVb8L+uZHMW7MYYrmib2lYOQbvr0kNJjuw9RVu3+E6XaqSmSqS4yTKVzye44UfGRbeQkI3PrQBREWLTcR4Y[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f4190de4-1f6b-0062-a468-d6a67a56a94e/test-blob-a9d3f0fd-7d28-d732-1b72-d23199053970",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-f4190de4-1f6b-0062-a468-d6a67a56a94e/test-blob-e483068b-beec-ff22-5fa2-ca185ac7adf0",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F2588AFC0\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:42 GMT",
        "x-ms-copy-id": "0d3b6761-4f0c-4269-a5f2-8f79b4524c1c",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f4190de4-1f6b-0062-a468-d6a67a56a94e/test-blob-a9d3f0fd-7d28-d732-1b72-d23199053970",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "MzfG4k5qhyMml77hlsiANw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F2588AFC0\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Thu, 06 Jun 2024 23:19:42 GMT",
        "x-ms-copy-id": "0d3b6761-4f0c-4269-a5f2-8f79b4524c1c",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-f4190de4-1f6b-0062-a468-d6a67a56a94e/test-blob-e483068b-beec-ff22-5fa2-ca185ac7adf0",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:19:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f4190de4-1f6b-0062-a468-d6a67a56a94e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1277236120",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
