{
  "Entries": [
    {
      "RequestUri": "https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/test-container-873b6179-5e41-12f9-f3ea-41ac859b56a0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Apr 2024 18:09:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC533FFF957EFF\u0022",
        "Last-Modified": "Tue, 02 Apr 2024 18:09:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/test-container-873b6179-5e41-12f9-f3ea-41ac859b56a0/test-blob-340093e5-8c61-f8a6-ed95-cb2214e6e12a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/test-container-873b6179-5e41-12f9-f3ea-41ac859b56a0/test-blob-2e2402a5-1eac-6bbb-3709-0c7ece40e316?sv=2024-08-04\u0026se=2024-04-03T18%3A09%3A10Z\u0026sr=b\u0026sp=r\u0026sig=Sanitized",
        "x-ms-date": "Tue, 02 Apr 2024 18:09:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "BlobNotFound",
        "x-ms-copy-source-status-code": "404",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003EThe specified blob does not exist.\n",
        "RequestId:eedbbd7d-701e-0008-3328-85c247000000\n",
        "Time:2024-04-02T18:09:11.9900610Z\u003C/Message\u003E\u003CCopySourceStatusCode\u003E404\u003C/CopySourceStatusCode\u003E\u003CCopySourceErrorCode\u003EBlobNotFound\u003C/CopySourceErrorCode\u003E\u003CCopySourceErrorMessage\u003EThe specified blob does not exist.\u003C/CopySourceErrorMessage\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/test-container-873b6179-5e41-12f9-f3ea-41ac859b56a0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Apr 2024 18:09:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-02T13:09:10.3794975-05:00",
    "RandomSeed": "1495974604",
    "Storage_TestConfigDefault": "ProductionTenant\nozgxscnby3pev24ax\nU2FuaXRpemVk\nhttps://ozgxscnby3pev24ax.blob.preprod.core.windows.net\nhttps://ozgxscnby3pev24ax.file.core.windows.net\nhttps://ozgxscnby3pev24ax.queue.core.windows.net\nhttps://ozgxscnby3pev24ax.table.core.windows.net\n\n\n\n\nhttps://ozgxscnby3pev24ax-secondary.blob.core.windows.net\nhttps://ozgxscnby3pev24ax-secondary.file.core.windows.net\nhttps://ozgxscnby3pev24ax-secondary.queue.core.windows.net\nhttps://ozgxscnby3pev24ax-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ozgxscnby3pev24ax.queue.core.windows.net/;FileEndpoint=https://ozgxscnby3pev24ax.file.core.windows.net/;BlobSecondaryEndpoint=https://ozgxscnby3pev24ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ozgxscnby3pev24ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ozgxscnby3pev24ax-secondary.file.core.windows.net/;AccountName=ozgxscnby3pev24ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
