{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d323adb5-f781-3266-2e49-5cb87665e0db?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 26 Jan 2026 18:17:31 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5D072C7CDDC1\"",
        "Last-Modified": "Mon, 26 Jan 2026 18:17:32 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d323adb5-f781-3266-2e49-5cb87665e0db/test-blob-d204882d-c426-e4d7-7719-a356f6540bab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 26 Jan 2026 18:17:31 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "9LsPruZABSGxyOJhFCgwD4qh455/g3vk8JknvLQu00bcEBgeEPF57YLiIV3iddBP6ZTLVXBsLHE/Kr5MGElsgvWchQMPEv6ZKPYcnGEdAnrJ2NMgY37Vb+Sn3uYyLNQ4dp5oRvDMQNaVMS15UI8PISdEgkB2TB53xhYfaDMXZvsi4ybDtbuK/Zj8ijFQWx5VmL2+7qmUwil/8YDardejfcoxV21pS2xsuoSoesHtJmr3yc91WXhRjSH8Q8Q7r1DAWAxmHwOx60xRUjMk7EdnkssV4+MHLSRR4MlLbQinMAo05yK1hgdmRd6DJAZFLKHZlLH5JcxtuCrnFT85ZX5EqSIo8AQlsgzDr50FhAkeDLMo[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d323adb5-f781-3266-2e49-5cb87665e0db/test-blob-8db576a4-c221-8f28-a3be-47086f773447",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Smart",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-d323adb5-f781-3266-2e49-5cb87665e0db/test-blob-d204882d-c426-e4d7-7719-a356f6540bab",
        "x-ms-date": "Mon, 26 Jan 2026 18:17:31 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5D072C8D66F2\"",
        "Last-Modified": "Mon, 26 Jan 2026 18:17:32 GMT",
        "x-ms-copy-id": "910607a1-3190-4afa-9341-0a25b8fb3026",
        "x-ms-copy-status": "success",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-01-26T18:17:32.6807794Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d323adb5-f781-3266-2e49-5cb87665e0db/test-blob-8db576a4-c221-8f28-a3be-47086f773447",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 26 Jan 2026 18:17:31 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "hYUwaVAs6NjFu5VlG8K7sQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE5D072C8D66F2\"",
        "Last-Modified": "Mon, 26 Jan 2026 18:17:32 GMT",
        "x-ms-access-tier": "Smart",
        "x-ms-access-tier-change-time": "Mon, 26 Jan 2026 18:17:32 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Mon, 26 Jan 2026 18:17:32 GMT",
        "x-ms-copy-id": "910607a1-3190-4afa-9341-0a25b8fb3026",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seanmcccanary3.blob.core.windows.net/test-container-d323adb5-f781-3266-2e49-5cb87665e0db/test-blob-d204882d-c426-e4d7-7719-a356f6540bab",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Mon, 26 Jan 2026 18:17:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 26 Jan 2026 18:17:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-smart-access-tier": "Hot",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-01-26T18:17:32.6807794Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-d323adb5-f781-3266-2e49-5cb87665e0db?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 26 Jan 2026 18:17:31 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "327797377",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
