{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-28ecef4d-c8de-df52-d04d-df9af0eb5011?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F2C118153\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-28ecef4d-c8de-df52-d04d-df9af0eb5011/test-blob-01f0cce3-c871-4ef0-3a5e-a4d60f9346eb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "VxG+hfw4bbFv9GMUpbNqmGPM2sz09FwTeqHcRRoMhCshbqkQLB/wql4+knxl26iH8wtzQ7l59mK0qwpaXCeXY2838zYKWmxD2y9ttmLfrZ74VVIOmEFyqHdGW4AUlk43py8NLuhyfJmfL2eJC0AA1f5sYgbViMouxEu+w/7rLkXhNg8y0n+1hdm4b2na6Zw2RYaCqDRIYR5l3mmdtLibswAhqNUxzgJ+ttwtHBlgU9uvh313aYYRmNXwzfQVGNEgHbtouEHHBXeEA/FXGkQEBIuO7iw6JEp6EA//QAAOaZ0KDP5d+JuZ6IIG8mWUuX2Q68hohyqk5flx7qcyx8R3dppTTA1Fpwzv9AWqNDHk5VaR[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-28ecef4d-c8de-df52-d04d-df9af0eb5011/test-blob-639ec8be-b225-bc54-f410-e22be51de76d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-28ecef4d-c8de-df52-d04d-df9af0eb5011/test-blob-01f0cce3-c871-4ef0-3a5e-a4d60f9346eb",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F2C35B683\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:54 GMT",
        "x-ms-copy-id": "1112356d-be9b-46f2-bc26-10712ef968ac",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-dd19598b-6ee5-d5e4-e623-9ab6beaa3ef0/test-blob-59747481-ecf4-6409-ee12-50ab5a3e3cc5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-dd19598b-6ee5-d5e4-e623-9ab6beaa3ef0/test-blob-2aef2f39-0c4c-1dc0-1c70-665cb2ef25f4",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:52 GMT",
        "x-ms-source-if-modified-since": "Wed, 05 Jun 2024 23:19:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F2C78862F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:54 GMT",
        "x-ms-copy-id": "4d957140-ed9d-4395-a4b1-f4eb16c76383",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d7441fa1-7970-079e-0c50-00bd9404056a/test-blob-1d549bd9-4950-ba9a-cbc4-6420e8d26ca4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-d7441fa1-7970-079e-0c50-00bd9404056a/test-blob-8e7117da-c3ad-50f3-9702-28a06d770db1",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:53 GMT",
        "x-ms-source-if-unmodified-since": "Fri, 07 Jun 2024 23:19:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F2CBAB9AC\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:54 GMT",
        "x-ms-copy-id": "3075fab6-bcc7-4db7-b4ac-dcaba3a9db97",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3988a78d-cdae-7654-ed1b-cf1a7445e666/test-blob-1eda12d8-7490-c186-8b03-f958bc96b1ac",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "tEapH5VPbhcGN+lnJ7DOmA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F2D03A35B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:19:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3988a78d-cdae-7654-ed1b-cf1a7445e666/test-blob-3684baeb-0471-c3ac-a54e-0ae9932305ad",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-3988a78d-cdae-7654-ed1b-cf1a7445e666/test-blob-1eda12d8-7490-c186-8b03-f958bc96b1ac",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:53 GMT",
        "x-ms-source-if-match": "0x8DC867F2D03A35B",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F2D19C185\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:55 GMT",
        "x-ms-copy-id": "a0c5ea0a-3af6-41bc-9a9c-abb451b394eb",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-26b3b431-5c83-8a9f-14cc-8ee8482ea49f/test-blob-d9801678-1038-662e-2c8a-cc83ba507554",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-26b3b431-5c83-8a9f-14cc-8ee8482ea49f/test-blob-438504b1-33c8-5857-535a-71b66639da9f",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:54 GMT",
        "x-ms-source-if-none-match": "\"garbage\"",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F2D5B7FDA\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:19:55 GMT",
        "x-ms-copy-id": "bfe65284-2eee-4820-ab0e-3b601fa050a4",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-26b3b431-5c83-8a9f-14cc-8ee8482ea49f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:19:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:19:52.2612909-05:00",
    "RandomSeed": "1245409020",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
