{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-61b81f76-a7f9-72c1-bb48-8061fb3b85c5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867E9CA0A4BC\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:15:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-61b81f76-a7f9-72c1-bb48-8061fb3b85c5/test-blob-ce36e3ca-bb54-ec5f-0b1a-0759950ac5e3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "hk/PZE5FWrNipyRqS9zXDKOi7Mmi89zXNwA0UFjCs1jRW7F2fpcfhImCa6yW9KAuQvu18x38QJNz+CxNEAlbn/PLmfArYY4Mgmg/IIcvQENgBg1dDcA61BodA4Zr0nR/J8y5yluwAuFtqXC1vCALRLfp7Qr8/ZIzkcTVDV4IoLD0wPm7dnXnsAMs8GRQhBj5Er7OguRpgyk6hjmW2vWDZQi/wfwnT85BAT0Gzw0u4gyr3PufOR7LijzPgfA8UNUOqItbkcMc0sPwjICnY7QcDKMt6/755Cvp8ze/WM3dBbBn+CaC0lFJjwk4rq2eJCaIs3VMDmXXFMRfcp2LXHr1E4bPQGuNmTlS5Fv0wTZ+S88Q[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-61b81f76-a7f9-72c1-bb48-8061fb3b85c5/test-blob-358a9409-7392-ae0c-8e45-95da610316e3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "P20",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-61b81f76-a7f9-72c1-bb48-8061fb3b85c5/test-blob-ce36e3ca-bb54-ec5f-0b1a-0759950ac5e3",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:b59ce470-d01e-0083-5e67-b8e843000000\n",
        "Time:2024-06-06T23:15:53.3272137Z</Message><HeaderName>x-ms-access-tier</HeaderName><HeaderValue>P20</HeaderValue></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-61b81f76-a7f9-72c1-bb48-8061fb3b85c5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1824873416",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
