{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-39df2849-31a9-6efb-89ea-7e4156225126?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EA1912E35\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-39df2849-31a9-6efb-89ea-7e4156225126/test-blob-725d8afd-90e6-38db-b0db-b543a0372b7e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:15:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "+mdeNw4mjw17tif3NRrsIoVbJhAd8ZHmfDt7mORsm6V5y+YaCCwU9Lf45N5t5iTunjW6MUYnEgjWeLvSqvYoDhuBfWo00hlZRjJZJQyyeJYXjfmusmpfUrjeQ49wQUnAz9bD62i5ucwcYOsUzu37I/8luxz9eVuxIiuyVo+K6ATomVU274wtXdMtklJ+SoPK4h+PSoYtwlV6Esk9B2M9kXfmLDSXxTRz+F5I0OcJMten53Nv+p5+utb/u93D71Vw7wDalx5OMhzrHFIo5PJucN/ylh/wzZfZaHFemAlWrwgI2ODmL5q4WLVWhN1LVdXjkUv90Vk1gCJpAC6t8JoTlG1JHwwSiEFFOT1qmUi5jRKb[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-39df2849-31a9-6efb-89ea-7e4156225126/test-blob-b901a9cc-4acc-17f1-bf58-a8aab0448388",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Archive",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-39df2849-31a9-6efb-89ea-7e4156225126/test-blob-725d8afd-90e6-38db-b0db-b543a0372b7e",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:00 GMT",
        "x-ms-rehydrate-priority": "High",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EA1B6BD00\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:01 GMT",
        "x-ms-copy-id": "b021a06e-4799-46a7-9a76-45f6f5d11c69",
        "x-ms-copy-status": "success",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-39df2849-31a9-6efb-89ea-7e4156225126/test-blob-b901a9cc-4acc-17f1-bf58-a8aab0448388",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "58DDzeKw37TTGV8diWvsoQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867EA1B6BD00\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:01 GMT",
        "x-ms-access-tier": "Archive",
        "x-ms-access-tier-change-time": "Thu, 06 Jun 2024 23:16:01 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Thu, 06 Jun 2024 23:16:01 GMT",
        "x-ms-copy-id": "b021a06e-4799-46a7-9a76-45f6f5d11c69",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-39df2849-31a9-6efb-89ea-7e4156225126/test-blob-725d8afd-90e6-38db-b0db-b543a0372b7e",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:16:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-39df2849-31a9-6efb-89ea-7e4156225126/test-blob-b901a9cc-4acc-17f1-bf58-a8aab0448388?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-39df2849-31a9-6efb-89ea-7e4156225126/test-blob-b901a9cc-4acc-17f1-bf58-a8aab0448388",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "58DDzeKw37TTGV8diWvsoQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867EA1B6BD00\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:01 GMT",
        "x-ms-access-tier": "Archive",
        "x-ms-access-tier-change-time": "Thu, 06 Jun 2024 23:16:01 GMT",
        "x-ms-archive-status": "rehydrate-pending-to-cool",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Thu, 06 Jun 2024 23:16:01 GMT",
        "x-ms-copy-id": "b021a06e-4799-46a7-9a76-45f6f5d11c69",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-39df2849-31a9-6efb-89ea-7e4156225126/test-blob-725d8afd-90e6-38db-b0db-b543a0372b7e",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:16:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-rehydrate-priority": "Standard",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-39df2849-31a9-6efb-89ea-7e4156225126?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:16:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1579059308",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
