{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4e24952a-29c7-7b63-8d01-24e670756969?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9AFF7BEF95\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:36 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-5e28ec19-1275-16c7-d92f-bf87cab3296d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9AFF836222\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-5e28ec19-1275-16c7-d92f-bf87cab3296d/test-blob-ea5eb85a-a347-c096-566d-8882d099c2aa?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9AFF8E6D67\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-24T17:17:36.6632807Z",
        "x-ms-file-creation-time": "2025-01-24T17:17:36.6632807Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-24T17:17:36.6632807Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-5e28ec19-1275-16c7-d92f-bf87cab3296d/test-blob-ea5eb85a-a347-c096-566d-8882d099c2aa/test-blob-16511e2f-8ef9-df1f-1625-de7ce23e3257",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:36 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9AFF945FFA\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-24T17:17:36.7022586Z",
        "x-ms-file-creation-time": "2025-01-24T17:17:36.7022586Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-24T17:17:36.7022586Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-5e28ec19-1275-16c7-d92f-bf87cab3296d/test-blob-ea5eb85a-a347-c096-566d-8882d099c2aa/test-blob-16511e2f-8ef9-df1f-1625-de7ce23e3257?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:36 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "UXS4miFc/dThDF+L4kNDgE5iZ31LJuoTDhhhPUxmhbs8i87EVBegIvVUYHK4J7RQI4n+MMqCbyqJpYwJ+r+Ie4ekTlZ0fys2wkSH98Z4WuZjERrDaFXwuhykOq+Llig2zOXqFNle3KRdx22G+nhkEUumpuilxBMys5M60ER7qyscUSrhjUUMBTV1ZaDnar+jPyhk5fA/kQfRuGFFIwxf4RxCaalNg4MFmaCzL15yS0jTlpAbF8U63L8iD9Xkx+EpFoSEpAAWVrylX0tPjGKpX20YcYx7Q8pWB43pKnSuINK/iRja7qZHvUDUdrh5609dea9nzFVUrtK6LZ1zLCtI9z55kANJznDH0LRMps0R3Bs9i7HERlR8attGIMEI1JEVjH96/1pLFKo/oPugCAcFqFCBNaB5hLDp/CUoA66vvvwjNxpNl9zB8XcGhaZZ3GLUQHdwhp7wmwjOkAI1IxH7j+H/fdDstxFzwEMpcv8KkCDDVMI3PzddMpsSfgbZi85lC/XEWV6R54hl/MZbxygJxP/icc9OxE+poUo02jgLmTR1w2cJRTbCMWw50UJxAmtzCboG9xn+FkemGrgUXAxPWmKR5QPAAH7IH0BiFfIMOJ/ewdF+BKIbdqwgYit+rdVf6nbf4Bxosgg7PdfZmwFUmeIZNZs70VbAdm9WoJ1TSnJqAyt7LViCdg7IQsbKQdury8lIZXg6JBggH2mtERJr6PNlbpjW2GyKlr+Mc46P9jSTq9TTCuT5MN4SWw3u1WT8XVrSZNJC1PJdvc64rbGKkCg0GWY9l90Oaz25xH1enMFajxYzvZFiUdfhdk0VQYMth8rlubv+vsV9w/iUiRB1/iENXR2aV9OW0siOXCGQ+Cq6izyzeeIGXNFQtvmZzcjHbHcrCONlkzD3Tubyb2Kk7MvO2v3TwYU+BwFMSqDa/QUAx++pZPBHVfgMvCr7E+xurMkuyvLK86rx7AHhGEiPHFHh8qdy+ojah4QExgVbQ/MU3p3XrDISNtNFt3fvZT2vfJ/ZGiFF+7FBU0NuxSyklqkNzTmruHAezrvTLUMQ6iFHVEpmgijSz+LrlVjupHCmoCHO4pgDBMMuuktlcc5uMWgiJ3DiPhSAOv5XvyMYLypLLI0hQQiJQ1CHOMfdbV0UfGTvzHz/xGINTaeZrESgFYsgGURBTe9gmOMgWgVMo82gQkK+KGKuTGgqFPNg75cL5yI8vVMY0y91jzSZ3mlcwKra+WkC4e0ocszcFjj7/6hLFHPjEOV5h24SSZkuFG7+zlNJhvYuCQU1E0qGPL33eY+LTcn1eLDEYHH675hU+l1e3kjksnmyHQpurvyb80uxG88JosekCFWjhCWEMxpt4A==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "yXIr5Q1ulAsgeM53p+Vdpg==",
        "ETag": "\"0x8DD3C9AFF9AEEAB\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:36 GMT",
        "x-ms-file-last-write-time": "2025-01-24T17:17:36.7452331Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4e24952a-29c7-7b63-8d01-24e670756969/test-blob-23bccbae-a27f-d8b2-ac20-2da3ce8b0fbf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-container-5e28ec19-1275-16c7-d92f-bf87cab3296d/test-blob-ea5eb85a-a347-c096-566d-8882d099c2aa/test-blob-16511e2f-8ef9-df1f-1625-de7ce23e3257",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9B007637A8\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:38 GMT",
        "x-ms-content-crc64": "l9L6gpJMSjY=",
        "x-ms-copy-id": "28fa04ca-00e9-465e-8117-68d01f75f7d9",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-01-24T17:17:38.2004876Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-5e28ec19-1275-16c7-d92f-bf87cab3296d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:37 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-4e24952a-29c7-7b63-8d01-24e670756969?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "435908196",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
