{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-567d1ec1-0f2c-961f-e0db-c7a7dd3a67ce?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4B05C06EF293\"",
        "Last-Modified": "Wed, 12 Feb 2025 01:37:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-7e221d28-6d87-1770-06d2-00ec9738424a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Feb 2025 01:37:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4B05C07D1F6D\"",
        "Last-Modified": "Wed, 12 Feb 2025 01:37:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-7e221d28-6d87-1770-06d2-00ec9738424a/test-blob-b6cc6480-bef3-2e36-e49b-a47aecd8504e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Feb 2025 01:37:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4B05C0815895\"",
        "Last-Modified": "Wed, 12 Feb 2025 01:37:03 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-12T01:37:03.3100437Z",
        "x-ms-file-creation-time": "2025-02-12T01:37:03.3100437Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-12T01:37:03.3100437Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-7e221d28-6d87-1770-06d2-00ec9738424a/test-blob-b6cc6480-bef3-2e36-e49b-a47aecd8504e/test-blob-bb134c8f-2244-a762-0e3e-0540ccc0d03d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 12 Feb 2025 01:37:03 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4B05C086D606\"",
        "Last-Modified": "Wed, 12 Feb 2025 01:37:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-12T01:37:03.3460230Z",
        "x-ms-file-creation-time": "2025-02-12T01:37:03.3460230Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-12T01:37:03.3460230Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-7e221d28-6d87-1770-06d2-00ec9738424a/test-blob-b6cc6480-bef3-2e36-e49b-a47aecd8504e/test-blob-bb134c8f-2244-a762-0e3e-0540ccc0d03d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 12 Feb 2025 01:37:03 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "BGbsR5SkDWDGvN/0Fr20xADE7j3wmwKLcanNGufryxXDRlx7L5JuE5LqBQ/k7qoqzbVrMHI2wmlkYdbr1/N42vHJMM9hOZRuVdurBZXypoL+o00xgJqjjYTzFs68gzyfcSodGr3byZMh/NqXi7zTcbpT7DSlRlpWJqNKbiLFstGeDJRr1IzFI9m6EIPACwHHH6QUaJcI+SvQx/QZkFtwXEoI+X8oaJ0tjsla6zbWlhqhg05+sEk6lRJomw2Yq5N9SbQ5txKCn7YH5trNrQ71+THZdw0M8qsAzWNtv82PleI23KKBnd8IH+OYdspvbOgDc6HcvzSFcVYJOOmvFN/peFD4l9Bsc1xR0FgpdHzgkWF6aUwrs9ausGtLeGT1WQsErv55d9UXl/9Fiu7bXPzZKKaINKqTvsR6SedlIPv3XHdMJcV+ZxmLY9JM5ijo0lNucVC9bSRgcPA5/y3tsXYETS52jjc3W8CN/NDYRtibkXeT9q+qOe5T7LTVRGjsnrFcR5j6cUMcNxWPMHFTiCoYnW21WrrGWRM/I6KDYRdYoF4fe/4/oCA0dr+ZGgh9/2SJvKb7NkP2le6Eu06hmdX+N5ASNAwr2PxNgeP7LT8LwSM9+aVwXGoaKOUQuuXRk93qmuN4astYXuOqrrVg+2ivefkqY58wjtom+AsnGh4Xe+0FEZNbkldY5ZrBxa60uS19YUHspy89uQsIUnK/MUPFkjLHW+nVU+ai0X4Fb8grcT7eqbncK9S+x1eHU0DlmbRX+zN87V5DqA5bSdWxOEpC3OAz4IeK6WdeCZORTf+lvDjKrXOVr4PgmwGqgeH+DI8NRHdfsrgszBLLHeTLsVoOtY2d54vWrSxdUkWF32eGX/wEhAiIRQp/neBhypKfFemmm8tUYSUEN5dKAl9zpu2qRL3nxi1Shm+CHUmqdOKavT1b30OcMv7WAE1wPUOrC/bzt4XUt068VBVc0UTcWcK1sEQiF8epDRK/EMbg4Ugs1xFStrxdxQXun4suQGC5+qaKu43+iPQvSalzFKeH23LML/oyiaIFWOo/NHc8e82xBRUgVSa7Lk4dImwT6bFeZsMYYRBlh3EDhGOjv1R8887bwg+RZ4ZMEQGsFWc18m454M2zIxm9S36kHNDCF275oC+eNyeizf49zE8OuXIKzZL0at+HyNC0HnaQ7Eu1ifmSsnQ4l7tHlhLOdlbJrpEMmk4+za2Pcthe6RmwEeGzh0NWewf90TbXrdPMuFJ56m/lhFH8d7tMAz+c2a2hloUxG+4TczOKDsgYZiDaw7qF5P6py42PthCHCXjHYPiINRZOm51jZnc7WnWI5BCackCFFvSv98v4oWTdjGq6wq7QkDEJjA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "KvVlyE2MHLJ7t06XYeZTAA==",
        "ETag": "\"0x8DD4B05C08CC897\"",
        "Last-Modified": "Wed, 12 Feb 2025 01:37:03 GMT",
        "x-ms-file-last-write-time": "2025-02-12T01:37:03.3850007Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-567d1ec1-0f2c-961f-e0db-c7a7dd3a67ce/test-blob-0e1f1181-5696-6796-af43-2761683af671",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-container-7e221d28-6d87-1770-06d2-00ec9738424a/test-blob-b6cc6480-bef3-2e36-e49b-a47aecd8504e/test-blob-bb134c8f-2244-a762-0e3e-0540ccc0d03d",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4B05C1D00CBE\"",
        "Last-Modified": "Wed, 12 Feb 2025 01:37:05 GMT",
        "x-ms-content-crc64": "XmMsnZNXZbo=",
        "x-ms-copy-id": "54d878d0-38d4-4fba-b782-7e0b9c983be5",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-02-12T01:37:05.5399945Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-7e221d28-6d87-1770-06d2-00ec9738424a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 12 Feb 2025 01:37:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-567d1ec1-0f2c-961f-e0db-c7a7dd3a67ce?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "236108087",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nseanscope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
