{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-764576fb-a594-d911-8948-b4fdc482f561?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:26:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87064343CBD8\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:26:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-764576fb-a594-d911-8948-b4fdc482f561/test-blob-26c7a141-ab6c-4c6f-1b9d-2f9ad4c72364",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 15:26:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "fqRqOAy/13JkqJMgBW8LDe1qCRNepKPoHCkb7JZr7PejRG33z9RagspUwcQYTkarkSGtar4PBtkAgRvipOrb+LubfMACFD0YD4ZJCeLfz83jb1p0voI5lD6T9065d93feMgIfNGFqX3jlVo3xvz2IbFN/zSQZjo5YuiBbhzvXpepaZAa1lP8XcXckSgnAs1CnNacbHipTxGOzxrpAzph9DfCjl1s3EpeUaFus9USEV8bP9FGU/If/xl+jAY4ElmKe5zxZXRv1sCLPRrWOps7e726zcRpGqFEo45E7VBEJT5I4zg5Iazrq2kRuxXXScV+QhBJfkSVIWH7rMLlK+hvRxjcjVZiAloRziJaV1+LbVnJ[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-764576fb-a594-d911-8948-b4fdc482f561/test-blob-fd0b8ee7-9fa6-d4ea-1ef3-8afa14f64e28",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-764576fb-a594-d911-8948-b4fdc482f561/test-blob-26c7a141-ab6c-4c6f-1b9d-2f9ad4c72364?sv=Sanitized&se=2024-06-07T16%3A26%3A54Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:26:54 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-tags": "tagKey0=tagValue0&tagKey1=tagValue1",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8706436F1D91\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:26:55 GMT",
        "x-ms-content-crc64": "rTI+1HaVLjk=",
        "x-ms-copy-id": "ce44c15a-c676-4a4a-b790-54a0298472e6",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:26:55.0940009Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-764576fb-a594-d911-8948-b4fdc482f561/test-blob-fd0b8ee7-9fa6-d4ea-1ef3-8afa14f64e28?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:26:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-764576fb-a594-d911-8948-b4fdc482f561?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:26:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-07T10:26:54.1510736-05:00",
    "RandomSeed": "1538846906",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
