{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7f45cdb4-fe09-b1d6-f7b6-0143bc0e60ce?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:23:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8705B9B114AE\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:23:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7f45cdb4-fe09-b1d6-f7b6-0143bc0e60ce/test-blob-bee22b48-be04-c974-1699-4c94e8cae9a8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 15:23:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Vy6ViMSIswrmL7x41ZRRm8z8w51toM/vwIDBgSTof4JCbcssAh9VwHfX2NQC/POBR7HH7AdMOrdepchExjLl/rA5NWjIJZmtpgMllcf67MSMPzlzIJN79jIUzVxXEPlE8tokycaLuSIYGkUDJqXvY7gEt4b5ct0dvT41s1c8VZYK4aPt1iP9AYYWWgVNeNCNJWqjU1lyS3/8BwuIVQXL28Wv+UUCAY2UB7UA4hfXz0VuqI7tmAE8l5Uj8c8YdKyAS35Ann6KiiPcD0yjcmhnJDfFGax33UPDcmGv3hC9fJIJf5eZljDG4x1qEIm1mSUtu8yXUlr/CW07fSwd2qwSH5O6mvLRzo0H/zaPDM25Dtk8[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7f45cdb4-fe09-b1d6-f7b6-0143bc0e60ce/test-blob-257147f3-d05e-6c4a-889f-b28c026062e1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-7f45cdb4-fe09-b1d6-f7b6-0143bc0e60ce/test-blob-bee22b48-be04-c974-1699-4c94e8cae9a8?sv=Sanitized&se=2024-06-07T16%3A23%3A03Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:23:03 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8705B9E461E1\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:23:04 GMT",
        "x-ms-content-crc64": "rrycrcinU7I=",
        "x-ms-copy-id": "6ced0196-9d5d-46b9-bf7c-820e08fab1d4",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:23:04.3252248Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7f45cdb4-fe09-b1d6-f7b6-0143bc0e60ce/test-blob-257147f3-d05e-6c4a-889f-b28c026062e1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:23:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "AV8CJ6f6MtEMbYDCv2B+Xg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8705B9E461E1\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:23:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Fri, 07 Jun 2024 15:23:04 GMT",
        "x-ms-copy-id": "6ced0196-9d5d-46b9-bf7c-820e08fab1d4",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-7f45cdb4-fe09-b1d6-f7b6-0143bc0e60ce/test-blob-bee22b48-be04-c974-1699-4c94e8cae9a8?sv=Sanitized&se=2024-06-07T16%3A23%3A03Z&sr=b&sp=r",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Fri, 07 Jun 2024 15:23:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 07 Jun 2024 15:23:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:23:04.3252248Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7f45cdb4-fe09-b1d6-f7b6-0143bc0e60ce?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:23:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-07T10:23:03.3486619-05:00",
    "RandomSeed": "1885161540",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
