{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-bafe2464-3240-5f6c-1c18-fa1757980e78?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:32:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870700527173\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:32:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-bafe2464-3240-5f6c-1c18-fa1757980e78/test-blob-d6239526-0bf2-cd11-956d-2ee93a2defae",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 15:32:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "JEYY2kkTmESJa71Q+NWk/9xE+M3tdlFr2v9EXA0OKS4YVsXzFRVkG9WDMvP+aiu98v8nX2+H6a30rP9Kzzw2e0KPOKIPsOnH39z3akRebHDUhmoO5sm+kG0X/mgVGkyZTLaxbzKJrUEVYICTkH9plj+PdUjRKJR50Kc197GAscSPXR2NrP09S9ko+IZJKgDtrmcohqUExyQhOJ6KU7WPlK67AzJi2+lCUSpuqTANMKWnR0lJVyofipb5bHRfsvcjmGPXjSfNitJ+5jV6lR7zEwj44wxsRjyEm3mcaG904p4ySxDMNaJ+2bx3y3H0pPR3BVhsZ8/rtlImU/KtMSFjCQSWSEoOJ91leQpP9XrLj/aE[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-bafe2464-3240-5f6c-1c18-fa1757980e78/test-blob-bbc76e2f-bb5f-24ba-9296-fe03a46755d7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-bafe2464-3240-5f6c-1c18-fa1757980e78/test-blob-d6239526-0bf2-cd11-956d-2ee93a2defae?sv=Sanitized&se=2024-06-07T16%3A32%3A11Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:32:11 GMT",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8707007A6F4A\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:32:12 GMT",
        "x-ms-content-crc64": "Ogxa7U58O9c=",
        "x-ms-copy-id": "b394e955-f137-49a2-bf0d-b27640483704",
        "x-ms-copy-status": "success",
        "x-ms-encryption-scope": "seanscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:32:12.2460485Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-bafe2464-3240-5f6c-1c18-fa1757980e78?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:32:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-07T10:32:11.3177462-05:00",
    "RandomSeed": "2074940762",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
