{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ee273bef-f822-54a9-cda9-7491225d39c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EA623C128\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ee273bef-f822-54a9-cda9-7491225d39c7/test-blob-316b9ec6-21ce-e090-6832-c6b73a301de8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "2jazFiqCR6KPHqrNp2IzGfmIs5h5nW+8e1JNTbRfn9KHfpWLWlwLRFbJobB2wjkG/62+sX2FbzzG95rYNPrtMH7YRijMp7+dfW5BsPy+RrkYR04Hoe5VAQ9ZxGPBMg9c23EynXsROVftITMORL5ACLDhv+ys5o6Pg0QYc+Jc20pf5dWKjKg9Bw72GYC7Rr1QGbyy4HIir/Tioho3+MV0kUXorl7ptXwIo7jetc0O1DyHx1olqfrYPDXgp+mNBg9IgYg60pheZ2NAqTy6RPkn1M7drzBrT+dLEHIoCA6Tep2plTRE1AGkKGD25QC9Hfg7udMasFbe3DKg7sImNV5UrS6fEa7F4v/MOYfQdWnnjvN57U87eMpHyrkBpOY/fvIBoTjRHgxJdtfTTnfODWfJuWDOrEgPGTRkV0[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ee273bef-f822-54a9-cda9-7491225d39c7/test-blob-54984986-3460-83d9-3f8c-0dec53a04588",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-ee273bef-f822-54a9-cda9-7491225d39c7/test-blob-316b9ec6-21ce-e090-6832-c6b73a301de8",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867EA729343D\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:10 GMT",
        "x-ms-content-crc64": "/E3E0HXY8v4=",
        "x-ms-copy-id": "0b6e903e-e65c-41b6-90d6-5b674b232ab3",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ee273bef-f822-54a9-cda9-7491225d39c7/test-blob-54984986-3460-83d9-3f8c-0dec53a04588",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "YH+2J4D16i2nhnrSKTdvdA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867EA729343D\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:16:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Thu, 06 Jun 2024 23:16:10 GMT",
        "x-ms-copy-id": "0b6e903e-e65c-41b6-90d6-5b674b232ab3",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-ee273bef-f822-54a9-cda9-7491225d39c7/test-blob-316b9ec6-21ce-e090-6832-c6b73a301de8",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:16:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ee273bef-f822-54a9-cda9-7491225d39c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2005850192",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
