{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3509fe56-7ea5-aab9-ce06-82ab4698e172?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:33:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87073225701B\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:33:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3509fe56-7ea5-aab9-ce06-82ab4698e172/test-blob-598971e4-3b93-b188-34b3-377df9fda004",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 15:33:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "65d2dod8fVF3LvRFweOXcOTJ15g/wVb5R2AvQaDk9SmN3/snF8w0Z/M44WVHQu9RG8aYLyUIxSlBfC8mTTyxkzjKt+LncFgYlXCkB+DwsgRx3SXZS8YEhRrR5ZudDRq3h00tfIoMaqtugJm1Y71JUMoqtW8W10hxxjHIFYq9e4hV7ICSwzV6ZHN5asssTiJciJTRcliroa8Fu7ZYRFQhsQURYHY8t42UsFD7nG19RXcPbI317AgwqkvRjAd/ISAfWLnFG+6rH9EHPMEHrwRCiHY+SdfGK8X84LUrayqFFI8w20SztymJY0y87q9GKfpHjwSRQNdIWS3zyDs4gLSmgSgy19S/jtBMteWLCjwWtre7[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3509fe56-7ea5-aab9-ce06-82ab4698e172/test-blob-519a7d4a-9f06-f2dc-f588-b618629aa875",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-3509fe56-7ea5-aab9-ce06-82ab4698e172/test-blob-598971e4-3b93-b188-34b3-377df9fda004?sv=Sanitized&se=2024-06-07T16%3A33%3A34Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:33:34 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8707323CDD2B\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:33:35 GMT",
        "x-ms-content-crc64": "0VrWXEnV8XU=",
        "x-ms-copy-id": "d9fc1efc-2536-4b21-bc87-131358e383e2",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:33:35.7329475Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-f5af92d3-b6c1-5760-89ca-1e9c56d167e9/test-blob-4d90956d-b0ef-12ac-f0d9-0535a3e91477",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-f5af92d3-b6c1-5760-89ca-1e9c56d167e9/test-blob-4f6b6dd3-52e2-3ac4-ca25-d90c7d29a0bb?sv=Sanitized&se=2024-06-07T16%3A33%3A34Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:33:35 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-source-if-match": "",
        "x-ms-source-if-modified-since": "Thu, 06 Jun 2024 15:33:34 GMT",
        "x-ms-source-if-none-match": "",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8707326D2BB9\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:33:36 GMT",
        "x-ms-content-crc64": "AllOIDA0zOo=",
        "x-ms-copy-id": "74af6960-b14d-429c-b6ca-933997b7afc2",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:33:36.0547662Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1fbdc30a-946b-00f9-67b7-34507b383c32/test-blob-eefe1568-3d46-8454-2d62-d8a6b6a421df",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-1fbdc30a-946b-00f9-67b7-34507b383c32/test-blob-ec986c5e-df16-bb3a-e74c-b1772e98a979?sv=Sanitized&se=2024-06-07T16%3A33%3A34Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:33:35 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-source-if-match": "",
        "x-ms-source-if-none-match": "",
        "x-ms-source-if-unmodified-since": "Sat, 08 Jun 2024 15:33:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8707329F3D77\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:33:36 GMT",
        "x-ms-content-crc64": "erNEh/4picg=",
        "x-ms-copy-id": "52f2836c-19ea-49d5-ac5c-cf01f4013a59",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:33:36.3735852Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-362116ac-a85b-249b-31ce-ffb2bbadad94/test-blob-a0b1d52e-7216-b6bc-c2a7-60e79e6c8f2c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:33:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "OoPS0edFZM4oL2yv5MzHsw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC870732C5D4D6\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:33:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 15:33:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 07 Jun 2024 15:33:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:33:36.6114518Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cee5d710-c114-a9b1-ba1c-ad3e5d7f4c8a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:33:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-07T10:33:34.6887342-05:00",
    "RandomSeed": "734224361",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
