{
  "Entries": [
    {
      "RequestUri": "https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/test-container-588e1fe7-bfb0-186d-5126-204a30bb1ef7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Apr 2024 18:09:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC53400067C39D\u0022",
        "Last-Modified": "Tue, 02 Apr 2024 18:09:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/test-container-588e1fe7-bfb0-186d-5126-204a30bb1ef7/test-blob-b1eb35a0-ef3f-5842-c8aa-e691014b8f69",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/test-container-588e1fe7-bfb0-186d-5126-204a30bb1ef7/test-blob-69243130-3449-c9da-c53f-cb0268dddc93",
        "x-ms-date": "Tue, 02 Apr 2024 18:09:11 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "PublicAccessNotPermitted",
        "x-ms-copy-source-status-code": "409",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ECannotVerifyCopySource\u003C/Code\u003E\u003CMessage\u003EPublic access is not permitted on this storage account.\n",
        "RequestId:eedbbd8a-701e-0008-3c28-85c247000000\n",
        "Time:2024-04-02T18:09:13.0790228Z\u003C/Message\u003E\u003CCopySourceStatusCode\u003E409\u003C/CopySourceStatusCode\u003E\u003CCopySourceErrorCode\u003EPublicAccessNotPermitted\u003C/CopySourceErrorCode\u003E\u003CCopySourceErrorMessage\u003EPublic access is not permitted on this storage account.\u003C/CopySourceErrorMessage\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/test-container-588e1fe7-bfb0-186d-5126-204a30bb1ef7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Apr 2024 18:09:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1867140169",
    "Storage_TestConfigDefault": "ProductionTenant\nozgxscnby3pev24ax\nU2FuaXRpemVk\nhttps://ozgxscnby3pev24ax.blob.preprod.core.windows.net\nhttps://ozgxscnby3pev24ax.file.core.windows.net\nhttps://ozgxscnby3pev24ax.queue.core.windows.net\nhttps://ozgxscnby3pev24ax.table.core.windows.net\n\n\n\n\nhttps://ozgxscnby3pev24ax-secondary.blob.core.windows.net\nhttps://ozgxscnby3pev24ax-secondary.file.core.windows.net\nhttps://ozgxscnby3pev24ax-secondary.queue.core.windows.net\nhttps://ozgxscnby3pev24ax-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://ozgxscnby3pev24ax.blob.preprod.core.windows.net/;QueueEndpoint=https://ozgxscnby3pev24ax.queue.core.windows.net/;FileEndpoint=https://ozgxscnby3pev24ax.file.core.windows.net/;BlobSecondaryEndpoint=https://ozgxscnby3pev24ax-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ozgxscnby3pev24ax-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ozgxscnby3pev24ax-secondary.file.core.windows.net/;AccountName=ozgxscnby3pev24ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
