{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c6dfa598-e7aa-eebb-f8b0-a7b5ce678530?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:32:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870711AE4644\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:32:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c6dfa598-e7aa-eebb-f8b0-a7b5ce678530/test-blob-b269871e-e4a6-0fe9-08e7-fac43400e9fb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 15:32:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "CxHUizqd8kDjARdsG4upnLUMDmQPazpSe6OzYe6rmHgoVCQyhm9hCXcYNfS9eD1Ims1gOSexaJ/XghCX6ZBRN2mfQ8dndxVFqgTt9zZFlQJma8chSl5Qd+uEWwRfyiDnxv2LHjR14SK3G44jxHBpkewNMX3IMO0KT8zb4hsR5uDkBTE4unfO8IqkaS/PLbN6G8kXUZmiHpUQgM5omf4HpjWtPr4/MNd1P0DzI8a+OiEZYMZS+ZRHQuecJzmoZVaLncP5Iu/1O+ryohJYrvvOUkasTjg3taygZfvWowmdzdnqZ4UDxBgyJCXcX1eC75TrzdXz+xcdVOgXWLzzHpjhVNQ4bUd1y40teioTW1VVHnZn[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c6dfa598-e7aa-eebb-f8b0-a7b5ce678530/test-blob-66930542-a062-8057-becc-e2abaf77be2d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-c6dfa598-e7aa-eebb-f8b0-a7b5ce678530/test-blob-b269871e-e4a6-0fe9-08e7-fac43400e9fb?sv=Sanitized&se=2024-06-07T16%3A32%3A39Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:32:40 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870711E19C55\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:32:41 GMT",
        "x-ms-content-crc64": "H3OWAVxKKyk=",
        "x-ms-copy-id": "ffa6545d-486c-46ad-b2ea-574f9c9c53da",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:32:41.4425744Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-162d023f-b7c2-0778-9881-d729b1097bdc/test-blob-dacc3cda-4cd8-32a1-d81c-6a7e9f9271d9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Thu, 06 Jun 2024 15:32:39 GMT",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-162d023f-b7c2-0778-9881-d729b1097bdc/test-blob-4a303dae-5d9a-e184-165d-10ae93dacd89?sv=Sanitized&se=2024-06-07T16%3A32%3A39Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:32:40 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8707121A6621\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:32:41 GMT",
        "x-ms-content-crc64": "ut2FVUlweyg=",
        "x-ms-copy-id": "0f60753f-d6a9-4688-93a7-7c46063c25b6",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:32:41.8143644Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-17a6492d-1a17-145e-28e0-d91efdf8541f/test-blob-093d2884-524c-87f4-ba43-fdbf92019973",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Sat, 08 Jun 2024 15:32:39 GMT",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-17a6492d-1a17-145e-28e0-d91efdf8541f/test-blob-27c04e7b-dcd1-9789-0348-ce16b8918634?sv=Sanitized&se=2024-06-07T16%3A32%3A39Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:32:41 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87071250FDC0\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:32:42 GMT",
        "x-ms-content-crc64": "heQuQTg0mZA=",
        "x-ms-copy-id": "062a1a0f-e5f2-407d-a425-2a80a69cb4d6",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:32:42.1721623Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ad60282c-6e2c-0e61-86ec-669cab9565b0/test-blob-e06187d6-3e42-e66f-961f-909c598bd373",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:32:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "lpoKLsyZsmKSgSBw/Hj1xQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8707127B02AA\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:32:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 15:32:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 07 Jun 2024 15:32:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:32:42.4340138Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ad60282c-6e2c-0e61-86ec-669cab9565b0/test-blob-e06187d6-3e42-e66f-961f-909c598bd373",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DC8707127B02AA",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-ad60282c-6e2c-0e61-86ec-669cab9565b0/test-blob-f31ef509-5acb-cf20-5d77-a38bffb6b760?sv=Sanitized&se=2024-06-07T16%3A32%3A39Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:32:41 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870712907D8B\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:32:42 GMT",
        "x-ms-content-crc64": "GWzjvsptqek=",
        "x-ms-copy-id": "e478aa24-0649-4a88-ba44-0c859c7252b9",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:32:42.5879272Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-90accaf8-5d98-9732-8a79-971ca976a159/test-blob-d6e82b00-ea6a-a3cd-e1df-2aa6c4c2a9f6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-90accaf8-5d98-9732-8a79-971ca976a159/test-blob-871a45d6-6773-8c6b-73a2-bef9d99fa53c?sv=Sanitized&se=2024-06-07T16%3A32%3A39Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:32:42 GMT",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870712C634B2\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:32:42 GMT",
        "x-ms-content-crc64": "n4mz7jKRmJA=",
        "x-ms-copy-id": "fafd6023-fbab-4f8e-a1ff-e2f9690b5ac0",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T15:32:42.9437271Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-aef679ae-eb72-683e-ff51-0f2217a844f5/test-blob-47095f59-d9a0-da2a-e7f2-123743f24597?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:32:42 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "ebf82758-f0ec-1170-6e4c-1358832845f2",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870712F1F638\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:32:43 GMT",
        "x-ms-lease-id": "ebf82758-f0ec-1170-6e4c-1358832845f2",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-aef679ae-eb72-683e-ff51-0f2217a844f5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:32:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-07T10:32:39.7793569-05:00",
    "RandomSeed": "2048978908",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
