{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fgraph.microsoft.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 3599,
        "ext_expires_in": 3599,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://graph.microsoft.com/v1.0/applications/$count",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ConsistencyLevel": "eventual"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ags-diagnostic": "{\u0022ServerInfo\u0022:{\u0022DataCenter\u0022:\u0022West US 2\u0022,\u0022Slice\u0022:\u0022E\u0022,\u0022Ring\u0022:\u00221\u0022,\u0022ScaleUnit\u0022:\u0022001\u0022,\u0022RoleInstance\u0022:\u0022MW2PEPF000100B5\u0022}}",
        "x-ms-resource-unit": "1"
      },
      "ResponseBody": 199
    }
  ],
  "Variables": {}
}
