{
  "Entries": [
    {
      "RequestUri": "https://graph.microsoft.com/v1.0/applications/$count",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ConsistencyLevel": "eventual"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ags-diagnostic": "{\"ServerInfo\":{\"DataCenter\":\"West US 2\",\"Slice\":\"E\",\"Ring\":\"4\",\"ScaleUnit\":\"003\",\"RoleInstance\":\"CO1PEPF000073E8\"}}",
        "x-ms-resource-unit": "1"
      },
      "ResponseBody": 1294
    }
  ],
  "Variables": {}
}
