{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1762327494689?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "key1-1762327494689",
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yiiIfm6g2tJE2ljKiLEgd3HeIckIh6wRoYABsSzRKnw\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:57 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODExMDk=;sn=75081109",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:57 GMT"
      },
      "ResponseBody": {
        "etag": "yiiIfm6g2tJE2ljKiLEgd3HeIckIh6wRoYABsSzRKnw",
        "key": "key1-1762327494689",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:24:57+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762327494689?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODExMDk="
      },
      "RequestBody": {
        "key": "key2-1762327494689",
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ym3gVkZJ4jifdf1osaU8SuWc4Aqc89iaNcKVpNEMEEk\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:57 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODExMTI=;sn=75081112",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:57 GMT"
      },
      "ResponseBody": {
        "etag": "Ym3gVkZJ4jifdf1osaU8SuWc4Aqc89iaNcKVpNEMEEk",
        "key": "key2-1762327494689",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:24:57+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762327494689?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODExMTI="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1762327494689",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"gK-yBf52UI1O2THZJ7AXog99mxr86gxwMoApiZ6ldxY\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:57 GMT",
        "Link": "</kv?snapshot=snapshot-1762327494689&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1762327494689&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODExMTU=;sn=75081115",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:57 GMT"
      },
      "ResponseBody": {
        "etag": "gK-yBf52UI1O2THZJ7AXog99mxr86gxwMoApiZ6ldxY",
        "name": "snapshot-1762327494689",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1762327494689",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-05T07:24:57.3776307+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1762327494689",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODExMTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODExMTc=;sn=75081117",
        "x-ms-date": "Wed, 05 Nov 2025 07:24:57 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1762327494689?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODEyNDc="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"D2YRVfyNdF3qVw5qJJf4N0l9ReJHrCU2LmzNn8lvSmk\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:58 GMT",
        "Link": "</kv?snapshot=snapshot-1762327494689&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODEyNTA=;sn=75081250",
        "x-ms-date": "Wed, 05 Nov 2025 07:25:08 GMT"
      },
      "ResponseBody": {
        "etag": "D2YRVfyNdF3qVw5qJJf4N0l9ReJHrCU2LmzNn8lvSmk",
        "name": "snapshot-1762327494689",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1762327494689",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-05T07:24:57+00:00",
        "expires": "2025-12-05T07:25:08.3436551+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1762327494689?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODEyNTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ym3gVkZJ4jifdf1osaU8SuWc4Aqc89iaNcKVpNEMEEk\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:24:57 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODEyNjI=;sn=75081262",
        "x-ms-date": "Wed, 05 Nov 2025 07:25:09 GMT"
      },
      "ResponseBody": {
        "etag": "Ym3gVkZJ4jifdf1osaU8SuWc4Aqc89iaNcKVpNEMEEk",
        "key": "key2-1762327494689",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:24:57+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1762327494689",
    "key2": "key2-1762327494689",
    "snapshot1": "snapshot-1762327494689"
  }
}
