{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1780003411417?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lUC28A6OyozpstSqFrvNLP5Lo-IjiPpDLUiQxg-oxbg\"",
        "Last-Modified": "Thu, 28 May 2026 21:23:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4OTQwMg==;sn=115289402",
        "x-ms-date": "Thu, 28 May 2026 21:23:32 GMT"
      },
      "ResponseBody": {
        "etag": "lUC28A6OyozpstSqFrvNLP5Lo-IjiPpDLUiQxg-oxbg",
        "key": "key1-1780003411417",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:23:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1780003411417?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExNTI4OTQwMg=="
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3ZC35zrf2d2Yb7yxkVIIv_is9biMJS-_E1y5y4YlZb8\"",
        "Last-Modified": "Thu, 28 May 2026 21:23:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4OTQwMw==;sn=115289403",
        "x-ms-date": "Thu, 28 May 2026 21:23:32 GMT"
      },
      "ResponseBody": {
        "etag": "3ZC35zrf2d2Yb7yxkVIIv_is9biMJS-_E1y5y4YlZb8",
        "key": "key2-1780003411417",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:23:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1780003411417?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzExNTI4OTQwMw=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1780003411417",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Wcw8julAnVN6ykokvE-s12RTHDGRre9_8nP-RuvjZAs\"",
        "Last-Modified": "Thu, 28 May 2026 21:23:32 GMT",
        "Link": "</kv?snapshot=snapshot-1780003411417&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1780003411417&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4OTQwNA==;sn=115289404",
        "x-ms-date": "Thu, 28 May 2026 21:23:32 GMT"
      },
      "ResponseBody": {
        "etag": "Wcw8julAnVN6ykokvE-s12RTHDGRre9_8nP-RuvjZAs",
        "name": "snapshot-1780003411417",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1780003411417",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-28T21:23:32.6990505+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1780003411417",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4OTQwNA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4OTQwNA==;sn=115289404",
        "x-ms-date": "Thu, 28 May 2026 21:23:32 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1780003411417?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NTo1IzExNTI4OTQyNw=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"lrXpv5placG7VzrlphkblLBOHpgSsytG2mwmP1hSR4M\"",
        "Last-Modified": "Thu, 28 May 2026 21:23:45 GMT",
        "Link": "</kv?snapshot=snapshot-1780003411417&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4OTQyOA==;sn=115289428",
        "x-ms-date": "Thu, 28 May 2026 21:23:51 GMT"
      },
      "ResponseBody": {
        "etag": "lrXpv5placG7VzrlphkblLBOHpgSsytG2mwmP1hSR4M",
        "name": "snapshot-1780003411417",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1780003411417",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-28T21:23:32+00:00",
        "expires": "2026-06-27T21:23:51.3193275+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1780003411417?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4OTQzMA=="
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4OTQzMA==;sn=115289430",
        "x-ms-date": "Thu, 28 May 2026 21:23:51 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "key1": "key1-1780003411417",
    "key2": "key2-1780003411417",
    "snapshot1": "snapshot-1780003411417"
  }
}
