{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1778087425235?api-version=2023-11-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5t-vSr4H-b90T6dc0fpZq_S7NmSpdNluvgA-7JGmWSs\"",
        "Last-Modified": "Wed, 06 May 2026 17:10:26 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MjE4;sn=65176218",
        "x-ms-date": "Wed, 06 May 2026 17:10:26 GMT"
      },
      "ResponseBody": {
        "etag": "5t-vSr4H-b90T6dc0fpZq_S7NmSpdNluvgA-7JGmWSs",
        "key": "key1-1778087425235",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:10:26+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1778087425235?api-version=2023-11-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2MjE4"
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"647Tjjbm_N_l8iIznl4v4RODMtYrOoOWx1WzrwiVTZs\"",
        "Last-Modified": "Wed, 06 May 2026 17:10:26 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MjIx;sn=65176221",
        "x-ms-date": "Wed, 06 May 2026 17:10:26 GMT"
      },
      "ResponseBody": {
        "etag": "647Tjjbm_N_l8iIznl4v4RODMtYrOoOWx1WzrwiVTZs",
        "key": "key2-1778087425235",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-05-06T17:10:26+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1778087425235?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2MjIx"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1778087425235",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"IMGnwUosYUU6KB1sh1kHtjlc4GxJiCByHkUif3hrXe4\"",
        "Last-Modified": "Wed, 06 May 2026 17:10:26 GMT",
        "Link": "</kv?snapshot=snapshot-1778087425235&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1778087425235&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MjIz;sn=65176223",
        "x-ms-date": "Wed, 06 May 2026 17:10:26 GMT"
      },
      "ResponseBody": {
        "etag": "IMGnwUosYUU6KB1sh1kHtjlc4GxJiCByHkUif3hrXe4",
        "name": "snapshot-1778087425235",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1778087425235",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-06T17:10:26.3290055+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1778087425235",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2MjIz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2MjI0;sn=65176224",
        "x-ms-date": "Wed, 06 May 2026 17:10:26 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1778087425235?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2Mjc3"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"uIRcC_ke9zWZwwYT_EShaYU28ZCI8JJf3hs_afWBllM\"",
        "Last-Modified": "Wed, 06 May 2026 17:10:47 GMT",
        "Link": "</kv?snapshot=snapshot-1778087425235&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2Mjc4;sn=65176278",
        "x-ms-date": "Wed, 06 May 2026 17:10:56 GMT"
      },
      "ResponseBody": {
        "etag": "uIRcC_ke9zWZwwYT_EShaYU28ZCI8JJf3hs_afWBllM",
        "name": "snapshot-1778087425235",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1778087425235",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-06T17:10:26+00:00",
        "expires": "2026-06-05T17:10:56.5676399+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1778087425235?api-version=2023-11-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc2Mjgw"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc2Mjgw;sn=65176280",
        "x-ms-date": "Wed, 06 May 2026 17:10:56 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "key1": "key1-1778087425235",
    "key2": "key2-1778087425235",
    "snapshot1": "snapshot-1778087425235"
  }
}
