{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key1-1781548130993?api-version=2026-04-01&label=label1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label1",
        "value": "value1",
        "tags": {
          "production": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ye3X4ItuSYJwvCNeJn5HcdXnbDfgQ_GdtOvj551ReRA\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:28:54 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NjMwOA==;sn=53366308",
        "x-ms-date": "Mon, 15 Jun 2026 18:28:54 GMT"
      },
      "ResponseBody": {
        "etag": "Ye3X4ItuSYJwvCNeJn5HcdXnbDfgQ_GdtOvj551ReRA",
        "key": "key1-1781548130993",
        "label": "label1",
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {
          "production": "1"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:28:54+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781548130993?api-version=2026-04-01&label=label2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NjMwOA=="
      },
      "RequestBody": {
        "label": "label2",
        "value": "value2",
        "tags": {
          "production": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"93rC-O2UlKmT63AIUjqMcWlPXbFzbjh_CJ7HUyC-Pvc\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:28:54 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NjMxMA==;sn=53366310",
        "x-ms-date": "Mon, 15 Jun 2026 18:28:54 GMT"
      },
      "ResponseBody": {
        "etag": "93rC-O2UlKmT63AIUjqMcWlPXbFzbjh_CJ7HUyC-Pvc",
        "key": "key2-1781548130993",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:28:54+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1781548130993?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NjMxMA=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key1-1781548130993",
            "label": "label1",
            "tags": []
          }
        ],
        "retention_period": 2592000,
        "description": "a snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"c_qgvdG7cOSzysrUB5PxXaXjNH3g3D3Q1F8EAd1NX8k\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:28:54 GMT",
        "Link": "</kv?snapshot=snapshot-1781548130993&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot-1781548130993&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NjMxMg==;sn=53366312",
        "x-ms-date": "Mon, 15 Jun 2026 18:28:54 GMT"
      },
      "ResponseBody": {
        "etag": "c_qgvdG7cOSzysrUB5PxXaXjNH3g3D3Q1F8EAd1NX8k",
        "name": "snapshot-1781548130993",
        "description": "a snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key1-1781548130993",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-15T18:28:54.345517+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1781548130993",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NjMxMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NjMxMg==;sn=53366312",
        "x-ms-date": "Mon, 15 Jun 2026 18:28:54 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot-1781548130993?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NjY3NA=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"8W91AVEkgflAGAKy-69LXLObcDmoXK0xBr80r8XMsCs\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:28:58 GMT",
        "Link": "</kv?snapshot=snapshot-1781548130993&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NjY4MA==;sn=53366680",
        "x-ms-date": "Mon, 15 Jun 2026 18:29:04 GMT"
      },
      "ResponseBody": {
        "etag": "8W91AVEkgflAGAKy-69LXLObcDmoXK0xBr80r8XMsCs",
        "name": "snapshot-1781548130993",
        "description": "a snapshot description",
        "status": "archived",
        "filters": [
          {
            "key": "key1-1781548130993",
            "label": "label1",
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-15T18:28:54+00:00",
        "expires": "2026-07-15T18:29:04.659776+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/key2-1781548130993?api-version=2026-04-01&label=label2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NjY4NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"93rC-O2UlKmT63AIUjqMcWlPXbFzbjh_CJ7HUyC-Pvc\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:28:54 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NjY4NQ==;sn=53366685",
        "x-ms-date": "Mon, 15 Jun 2026 18:29:04 GMT"
      },
      "ResponseBody": {
        "etag": "93rC-O2UlKmT63AIUjqMcWlPXbFzbjh_CJ7HUyC-Pvc",
        "key": "key2-1781548130993",
        "label": "label2",
        "content_type": null,
        "value": "value2",
        "description": null,
        "tags": {
          "production": "2"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:28:54+00:00"
      }
    }
  ],
  "Variables": {
    "key1": "key1-1781548130993",
    "key2": "key2-1781548130993",
    "snapshot1": "snapshot-1781548130993"
  }
}
