{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/timezone/ianaVersion/json?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "azure_maps_client_id"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "Version": "2024a"
      }
    }
  ],
  "Variables": {}
}
