{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273867739008569?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA354536D3414\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:11:17 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273867739008569/file0169273867748403530?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-properties": "keya=YQ==,keyb=Yw==",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA354537FC95F\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:11:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273867739008569/file0169273867748403530?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133372122780078752",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273867739008569?maxResults=2\u0026restype=container\u0026comp=list\u0026showonly=deleted\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://fakestorageaccount.blob.core.windows.net/\u0022 ContainerName=\u0022filesystem169273867739008569\u0022\u003E\u003CMaxResults\u003E2\u003C/MaxResults\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Efile0169273867748403530\u003C/Name\u003E\u003CDeletionId\u003E13337212278007875[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273867739008569?maxResults=2\u0026restype=container\u0026comp=list\u0026marker=2!348!MDAwMjE2IVZCYW5nWmVPbG9uWC9IVVlrd0VZalFFdlpHeHplWFZ0Wlc1bmFuTXlOamN6TUFFd01VUTVSRFV6TkRsRU5UQkJNemhHTHlSMGNtRnphQzltYVd4bGMzbHpkR1Z0TVRZNU1qY3pPRFkzTnpNNU1EQTROVFk1QVRBeFJEbEVOVE5FTXpCR05qYzFSallDTDJacGJHVXlNVFk1TWpjek9EWTNOelk1TmpBd016TTNBVEl3TWpNdE1EZ3RNakpVTWpFNk1URTZNVGd1TWpNM01UZzNOVm9XQUFBQSEwMDAwMjghMjAyMy0wOC0yMlQyMT[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273867739008569?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0169273867748403530",
    "file1": "file1169273867759605838",
    "file2": "file2169273867769600337",
    "file3": "file3169273867777507129",
    "filesystem": "filesystem169273867739008569"
  }
}
