{
  "Entries": [
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem176783891491208218?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4E5CB31C5C37\"",
        "Last-Modified": "Thu, 08 Jan 2026 02:21:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem176783891491208218/file0176783891874804855?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4E5CB3326E68\"",
        "Last-Modified": "Thu, 08 Jan 2026 02:21:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem176783891491208218/file0176783891874804855?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "134123125186706040",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem176783891491208218?restype=container&comp=list&showonly=deleted&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakedefssoftdeleteaccountname.blob.core.windows.net/\" ContainerName=\"filesystem176783891491208218\"><Blobs><Blob><Name>file0176783891874804855</Name><DeletionId>134123125186706040</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Thu, 08 Jan 2026 02:21:58 GMT</Creation-Time><Last-Modified>Thu, 08 Jan 2026 02:21:58 GMT</Last-Modified><Expiry-Time>Thu, 15 Jan 2026 02:21:58 GMT</Expiry-Time><Etag>0x8DE4E5CB3326E68</Etag><ResourceType>file</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>AAAAAAAAAAA=</Content-CRC64><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted><DeletedTime>Thu, 08 Jan 2026 02:21:58 GMT</DeletedTime><RemainingRetentionDays>6</RemainingRetentionDays></Properties><OrMetadata /></Blob><Blob><Name>file0176783891874804855</Name><DeletionId>134123125188933776</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Thu, 08 Jan 2026 02:21:58 GMT</Creation-Time><Last-Modified>Thu, 08 Jan 2026 02:21:58 GMT</Last-Modified><Expiry-Time>Thu, 15 Jan 2026 02:21:58 GMT</Expiry-Time><Etag>0x8DE4E5CB377F244</Etag><ResourceType>file</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Cont[...]
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem176783891491208218?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0176783891874804855",
    "file1": "file1176783891887300196",
    "file2": "file2176783891899501003",
    "filesystem": "filesystem176783891491208218"
  }
}
