{
  "Entries": [
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem177334883426802603?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8079795F927D\"",
        "Last-Modified": "Thu, 12 Mar 2026 20:53:54 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem177334883426802603/file0177334883494706756?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80797970254C\"",
        "Last-Modified": "Thu, 12 Mar 2026 20:53:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem177334883426802603/file0177334883494706756?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "134178224352493276",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem177334883426802603?restype=container&comp=list&showonly=deleted&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakedefssoftdeleteaccountname.blob.core.windows.net/\" ContainerName=\"filesystem177334883426802603\"><Blobs><Blob><Name>file0177334883494706756</Name><DeletionId>134178224352493276</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Thu, 12 Mar 2026 20:53:54 GMT</Creation-Time><Last-Modified>Thu, 12 Mar 2026 20:53:54 GMT</Last-Modified><Expiry-Time>Thu, 19 Mar 2026 20:53:55 GMT</Expiry-Time><Etag>0x8DE80797970254C</Etag><ResourceType>file</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>AAAAAAAAAAA=</Content-CRC64><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted><DeletedTime>Thu, 12 Mar 2026 20:53:55 GMT</DeletedTime><RemainingRetentionDays>6</RemainingRetentionDays></Properties><OrMetadata /></Blob><Blob><Name>file1177334883503805671</Name><DeletionId>134178224354959688</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Thu, 12 Mar 2026 20:53:55 GMT</Creation-Time><Last-Modified>Thu, 12 Mar 2026 20:53:55 GMT</Last-Modified><Expiry-Time>Thu, 19 Mar 2026 20:53:55 GMT</Expiry-Time><Etag>0x8DE8079797C5628</Etag><ResourceType>file</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Cont[...]
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem177334883426802603?resource=filesystem&recursive=false&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "134178224354252384",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "51291b7b-d07c-424e-b934-042c148c6a56",
            "lastModified": "Thu, 12 Mar 2026 20:53:55 GMT",
            "name": "file0177334883494706756",
            "owner": "51291b7b-d07c-424e-b934-042c148c6a56",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "134178224356469192",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "51291b7b-d07c-424e-b934-042c148c6a56",
            "lastModified": "Thu, 12 Mar 2026 20:53:55 GMT",
            "name": "file1177334883503805671",
            "owner": "51291b7b-d07c-424e-b934-042c148c6a56",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "134178224358433772",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "51291b7b-d07c-424e-b934-042c148c6a56",
            "lastModified": "Thu, 12 Mar 2026 20:53:55 GMT",
            "name": "file2177334883512507197",
            "owner": "51291b7b-d07c-424e-b934-042c148c6a56",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem177334883426802603?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0177334883494706756",
    "file1": "file1177334883503805671",
    "file2": "file2177334883512507197",
    "filesystem": "filesystem177334883426802603"
  }
}
