{
  "Entries": [
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem177362201235900926?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82F5865E8CE4\"",
        "Last-Modified": "Mon, 16 Mar 2026 00:46:56 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem177362201235900926/file177362201645305452?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82F5866D2204\"",
        "Last-Modified": "Mon, 16 Mar 2026 00:46:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem177362201235900926/file177362201645305452?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "134180956168116788",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem177362201235900926/file177362201645305452?comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-undelete-source": "?deletionid=134180956168116788",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-creation-time": "Mon, 16 Mar 2026 00:46:56 GMT",
        "x-ms-resource-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem177362201235900926/file177362201645305452?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE82F5866D2204\"",
        "Last-Modified": "Mon, 16 Mar 2026 00:46:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Mar 2026 00:46:56 GMT",
        "x-ms-group": "51291b7b-d07c-424e-b934-042c148c6a56",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "51291b7b-d07c-424e-b934-042c148c6a56",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem177362201235900926/directory177362201696903688?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82F586BBC3EC\"",
        "Last-Modified": "Mon, 16 Mar 2026 00:46:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem177362201235900926/directory177362201696903688?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "134180956172988728",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem177362201235900926/directory177362201696903688?comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-undelete-source": "?deletionid=134180956172988728",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-creation-time": "Mon, 16 Mar 2026 00:46:57 GMT",
        "x-ms-resource-type": "directory",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem177362201235900926/directory177362201696903688?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE82F586BBC3EC\"",
        "Last-Modified": "Mon, 16 Mar 2026 00:46:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rwx,group::r-x,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Mar 2026 00:46:57 GMT",
        "x-ms-group": "51291b7b-d07c-424e-b934-042c148c6a56",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "51291b7b-d07c-424e-b934-042c148c6a56",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem177362201235900926?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "directory": "directory177362201696903688",
    "file": "file177362201645305452",
    "filesystem": "filesystem177362201235900926"
  }
}
