{
  "Entries": [
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem176783893001600768?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4E5CBB5600EA\"",
        "Last-Modified": "Thu, 08 Jan 2026 02:22:12 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem176783893001600768/file0176783893369709878?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-properties": "keya=YQ==,keyb=Yw==",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4E5CBB692588\"",
        "Last-Modified": "Thu, 08 Jan 2026 02:22:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.dfs.core.windows.net/filesystem176783893001600768/file0176783893369709878?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "134123125326147108",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem176783893001600768?restype=container&comp=list&showonly=deleted&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakedefssoftdeleteaccountname.blob.core.windows.net/\" ContainerName=\"filesystem176783893001600768\"><Blobs><Blob><Name>file0176783893369709878</Name><DeletionId>134123125326147108</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Thu, 08 Jan 2026 02:22:12 GMT</Creation-Time><Last-Modified>Thu, 08 Jan 2026 02:22:12 GMT</Last-Modified><Expiry-Time>Thu, 15 Jan 2026 02:22:12 GMT</Expiry-Time><Etag>0x8DE4E5CBB692588</Etag><ResourceType>file</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>AAAAAAAAAAA=</Content-CRC64><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted><DeletedTime>Thu, 08 Jan 2026 02:22:12 GMT</DeletedTime><RemainingRetentionDays>6</RemainingRetentionDays></Properties><OrMetadata /></Blob><Blob><Name>file1176783893381100947</Name><DeletionId>134123125327431960</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Thu, 08 Jan 2026 02:22:12 GMT</Creation-Time><Last-Modified>Thu, 08 Jan 2026 02:22:12 GMT</Last-Modified><Expiry-Time>Thu, 15 Jan 2026 02:22:12 GMT</Expiry-Time><Etag>0x8DE4E5CBB7AC17C</Etag><ResourceType>file</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Cont[...]
    {
      "RequestUri": "https://fakedefssoftdeleteaccountname.blob.core.windows.net/filesystem176783893001600768?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0176783893369709878",
    "file1": "file1176783893381100947",
    "file2": "file2176783893395709811",
    "file3": "file3176783893408208364",
    "filesystem": "filesystem176783893001600768"
  }
}
