{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171713629250301866?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC81397375909B\"",
        "Last-Modified": "Fri, 31 May 2024 06:18:12 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171713629250301866/file0171713629262506984?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8139738AF888\"",
        "Last-Modified": "Fri, 31 May 2024 06:18:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171713629250301866/file0171713629262506984?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133616098935065720",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171713629250301866?restype=container&comp=list&showonly=deleted&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.blob.core.windows.net/\" ContainerName=\"filesystem171713629250301866\"><Blobs><Blob><Name>file0171713629262506984</Name><DeletionId>133616098935065720</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Fri, 31 May 2024 06:18:13 GMT</Creation-Time><Last-Modified>Fri, 31 May 2024 06:18:13 GMT</Last-Modified><Expiry-Time>Fri, 07 Jun 2024 06:18:13 GMT</Expiry-Time><Etag>0x8DC8139738AF888</Etag><ResourceType>file</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>AAAAAAAAAAA=</Content-CRC64><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted><DeletedTime>Fri, 31 May 2024 06:18:13 GMT</DeletedTime><RemainingRetentionDays>6</RemainingRetentionDays></Properties><OrMetadata /></Blob><Blob><Name>file0171713629262506984</Name><DeletionId>133616098937588200</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Fri, 31 May 2024 06:18:13 GMT</Creation-Time><Last-Modified>Fri, 31 May 2024 06:18:13 GMT</Last-Modified><Expiry-Time>Fri, 07 Jun 2024 06:18:13 GMT</Expiry-Time><Etag>0x8DC813973D8D7E4</Etag><ResourceType>file</ResourceType><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Cont[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171713629250301866?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0171713629262506984",
    "file1": "file1171713629276005828",
    "file2": "file2171713629287507797",
    "filesystem": "filesystem171713629250301866"
  }
}
