{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-75751/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-75751/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {},
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-75751/0646f8a4a83446e3938716373d9f4426",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AN1i0CBGZo-c9g4Lqv4ljFQP6MzsvvtzYfpXpAPINgFB98-iN44zQYMGquU6dN2FN-_4JDi7xb1ygK-1Q-mtnWQf",
          "y": "APfb-1FYGABQUceP_tc-5ASPfXU0o0cDIMtSxVR5xBg06HmZkNbk7QmlXfkD-XTuJJmOI9TVCfUGnXIOx_TA-F2A"
        },
        "attributes": {
          "enabled": true,
          "created": 1778604715,
          "updated": 1778604715,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-75751/0646f8a4a83446e3938716373d9f4426?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-75751/0646f8a4a83446e3938716373d9f4426",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AN1i0CBGZo-c9g4Lqv4ljFQP6MzsvvtzYfpXpAPINgFB98-iN44zQYMGquU6dN2FN-_4JDi7xb1ygK-1Q-mtnWQf",
          "y": "APfb-1FYGABQUceP_tc-5ASPfXU0o0cDIMtSxVR5xBg06HmZkNbk7QmlXfkD-XTuJJmOI9TVCfUGnXIOx_TA-F2A"
        },
        "attributes": {
          "enabled": true,
          "created": 1778604715,
          "updated": 1778604715,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-75751/0646f8a4a83446e3938716373d9f4426/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "B4beYodf2cUPnIqnRwb0UQezfuMQ9HlbsgoS_yn_WednQ0Cgwu2m10ocv3iHM06zxtKXTSkZrDtW1IzMzBJ-qQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/EC-75751/0646f8a4a83446e3938716373d9f4426",
        "value": "AZFWddaOvq-zSb1al5bocZp6aNpTzB2KBSYbEMAO10HRVRPGQgmU7X-d9KqvGH_Lc9B1OUJoF5Wou3vI8hPh-Bj2AZd4npIpEDIA76w0I2YeEU1eo658ycgssNXjJWP13i7t5kHWGlqPhx7gSr8ddrfBc3_9ywnbzm4KzOp6vdSdHmV1"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-75751/0646f8a4a83446e3938716373d9f4426/verify?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "B4beYodf2cUPnIqnRwb0UQezfuMQ9HlbsgoS_yn_WednQ0Cgwu2m10ocv3iHM06zxtKXTSkZrDtW1IzMzBJ-qQ",
        "value": "AZFWddaOvq-zSb1al5bocZp6aNpTzB2KBSYbEMAO10HRVRPGQgmU7X-d9KqvGH_Lc9B1OUJoF5Wou3vI8hPh-Bj2AZd4npIpEDIA76w0I2YeEU1eo658ycgssNXjJWP13i7t5kHWGlqPhx7gSr8ddrfBc3_9ywnbzm4KzOp6vdSdHmV1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-75751?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/EC-75751",
        "deletedDate": 1778604716,
        "scheduledPurgeDate": 1779209516,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-75751/0646f8a4a83446e3938716373d9f4426",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AN1i0CBGZo-c9g4Lqv4ljFQP6MzsvvtzYfpXpAPINgFB98-iN44zQYMGquU6dN2FN-_4JDi7xb1ygK-1Q-mtnWQf",
          "y": "APfb-1FYGABQUceP_tc-5ASPfXU0o0cDIMtSxVR5xBg06HmZkNbk7QmlXfkD-XTuJJmOI9TVCfUGnXIOx_TA-F2A"
        },
        "attributes": {
          "enabled": true,
          "created": 1778604715,
          "updated": 1778604715,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/EC-75751?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: EC-75751"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/EC-75751?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "EC": "EC-75751"
  }
}
