{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-64946/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-64946/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {},
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-64946/20e57626bd8b4bba9371ca90033b300a",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AHe1FVgbvbw9TDwfMscKppIPMVcwSHgPjoXIL8rTiQ3OHROdelD2OjLNMGp5Y_S60vzBVRJa4MH3Ix_xwQJMxSOB",
          "y": "AN4CYrC0_JPRXhr_0-Fq-5x2aaMKxE8Ro_Zu1yr_k_X7ZsHxSKP212fTWH6hH15Ky9ELXcNyt2byh7nwYy4hVMk3"
        },
        "attributes": {
          "enabled": true,
          "created": 1739479762,
          "updated": 1739479762,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-64946/20e57626bd8b4bba9371ca90033b300a?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-64946/20e57626bd8b4bba9371ca90033b300a",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AHe1FVgbvbw9TDwfMscKppIPMVcwSHgPjoXIL8rTiQ3OHROdelD2OjLNMGp5Y_S60vzBVRJa4MH3Ix_xwQJMxSOB",
          "y": "AN4CYrC0_JPRXhr_0-Fq-5x2aaMKxE8Ro_Zu1yr_k_X7ZsHxSKP212fTWH6hH15Ky9ELXcNyt2byh7nwYy4hVMk3"
        },
        "attributes": {
          "enabled": true,
          "created": 1739479762,
          "updated": 1739479762,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-64946/20e57626bd8b4bba9371ca90033b300a/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "B4beYodf2cUPnIqnRwb0UQezfuMQ9HlbsgoS_yn_WednQ0Cgwu2m10ocv3iHM06zxtKXTSkZrDtW1IzMzBJ-qQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/EC-64946/20e57626bd8b4bba9371ca90033b300a",
        "value": "AJXECxqsTcQvGQxdF9KzfRkJvPWWk3cDpFwPgod-VKQjHgMPl7ko5UgPkgTqQgNzB5tfY5V3Uf-7wZKrmNkilEtsAKrS36o7cXU9o7egshoj6aUE8yMp74YEtTUxaz_NpawlIyce2c8oK4ZIC12s1_rgIUN-xkX25sK2Y2VvImepAzmJ"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-64946/20e57626bd8b4bba9371ca90033b300a/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "B4beYodf2cUPnIqnRwb0UQezfuMQ9HlbsgoS_yn_WednQ0Cgwu2m10ocv3iHM06zxtKXTSkZrDtW1IzMzBJ-qQ",
        "value": "AJXECxqsTcQvGQxdF9KzfRkJvPWWk3cDpFwPgod-VKQjHgMPl7ko5UgPkgTqQgNzB5tfY5V3Uf-7wZKrmNkilEtsAKrS36o7cXU9o7egshoj6aUE8yMp74YEtTUxaz_NpawlIyce2c8oK4ZIC12s1_rgIUN-xkX25sK2Y2VvImepAzmJ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-64946?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/EC-64946",
        "deletedDate": 1739479762,
        "scheduledPurgeDate": 1740084562,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-64946/20e57626bd8b4bba9371ca90033b300a",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AHe1FVgbvbw9TDwfMscKppIPMVcwSHgPjoXIL8rTiQ3OHROdelD2OjLNMGp5Y_S60vzBVRJa4MH3Ix_xwQJMxSOB",
          "y": "AN4CYrC0_JPRXhr_0-Fq-5x2aaMKxE8Ro_Zu1yr_k_X7ZsHxSKP212fTWH6hH15Ky9ELXcNyt2byh7nwYy4hVMk3"
        },
        "attributes": {
          "enabled": true,
          "created": 1739479762,
          "updated": 1739479762,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/EC-64946?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: EC-64946"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/EC-64946?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "EC": "EC-64946"
  }
}
