{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-96053/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-96053/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {},
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-96053/47a91e5beaca4547a6c10e1e202747ce",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "GkWT8D1YpNX2V9vFtgkGGN3uvxm3CrpOn6p8wrfCAok",
          "y": "Iud93Zjffk5TAKIL8iAAypgvIoZNgNennIlFjqSiy5I"
        },
        "attributes": {
          "enabled": true,
          "created": 1732127308,
          "updated": 1732127308,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-96053/47a91e5beaca4547a6c10e1e202747ce?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-96053/47a91e5beaca4547a6c10e1e202747ce",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "GkWT8D1YpNX2V9vFtgkGGN3uvxm3CrpOn6p8wrfCAok",
          "y": "Iud93Zjffk5TAKIL8iAAypgvIoZNgNennIlFjqSiy5I"
        },
        "attributes": {
          "enabled": true,
          "created": 1732127308,
          "updated": 1732127308,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-96053/47a91e5beaca4547a6c10e1e202747ce/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "6jjjD3V2fX5sIeuoWxQBZkajtgreQmypZtrJQKXbG6s"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/EC-96053/47a91e5beaca4547a6c10e1e202747ce",
        "value": "NHhvCqe3chThHoTn_10Ol_Lou08gocD2ZJtMrduIyKFf1VhfouhD60EX4v7oRa4nOYRqbIGciqbot2oawSQY2g"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-96053/47a91e5beaca4547a6c10e1e202747ce/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "6jjjD3V2fX5sIeuoWxQBZkajtgreQmypZtrJQKXbG6s",
        "value": "NHhvCqe3chThHoTn_10Ol_Lou08gocD2ZJtMrduIyKFf1VhfouhD60EX4v7oRa4nOYRqbIGciqbot2oawSQY2g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-96053?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/EC-96053",
        "deletedDate": 1732127308,
        "scheduledPurgeDate": 1732732108,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-96053/47a91e5beaca4547a6c10e1e202747ce",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "GkWT8D1YpNX2V9vFtgkGGN3uvxm3CrpOn6p8wrfCAok",
          "y": "Iud93Zjffk5TAKIL8iAAypgvIoZNgNennIlFjqSiy5I"
        },
        "attributes": {
          "enabled": true,
          "created": 1732127308,
          "updated": 1732127308,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/EC-96053?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: EC-96053"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/EC-96053?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "EC": "EC-96053"
  }
}
