{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-83197/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-83197/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {},
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-83197/74184d456ef14430bb85bfdf23e8878f",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "J6z9JXGe-PBtAxAm606Ea3oXaK8cvF77JxDBbXdgVJV9tieDFYFE-5kcRlJ_0iCr",
          "y": "n1F6dXyvWQkxNyMivfhOsLhc5sqOieXTYnrww-URGAyL2O0wrok9yxZzRDt3-uMD"
        },
        "attributes": {
          "enabled": true,
          "created": 1780552126,
          "updated": 1780552126,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-83197/74184d456ef14430bb85bfdf23e8878f?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-83197/74184d456ef14430bb85bfdf23e8878f",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "J6z9JXGe-PBtAxAm606Ea3oXaK8cvF77JxDBbXdgVJV9tieDFYFE-5kcRlJ_0iCr",
          "y": "n1F6dXyvWQkxNyMivfhOsLhc5sqOieXTYnrww-URGAyL2O0wrok9yxZzRDt3-uMD"
        },
        "attributes": {
          "enabled": true,
          "created": 1780552126,
          "updated": 1780552126,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-83197/74184d456ef14430bb85bfdf23e8878f/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "l5EEZHPWD5RHC5I7FUe0x1esxlN4fcmEyn3joYOIt6UH_TnIqQWs76Uo9hFFXWlk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/EC-83197/74184d456ef14430bb85bfdf23e8878f",
        "value": "mBNWfllbgvc_kzgH9u9F4L8g8xUl9kUTF67ztOGjSNkXPJZRX6eL3t9tOeusvc-2IZZiuxwfjE76_e0FRv6juSAcT2o86GtGInhiXYF7UukBGLVHhDoq5I8f09tpfVwk"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-83197/74184d456ef14430bb85bfdf23e8878f/verify?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "l5EEZHPWD5RHC5I7FUe0x1esxlN4fcmEyn3joYOIt6UH_TnIqQWs76Uo9hFFXWlk",
        "value": "mBNWfllbgvc_kzgH9u9F4L8g8xUl9kUTF67ztOGjSNkXPJZRX6eL3t9tOeusvc-2IZZiuxwfjE76_e0FRv6juSAcT2o86GtGInhiXYF7UukBGLVHhDoq5I8f09tpfVwk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-83197?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/EC-83197",
        "deletedDate": 1780552127,
        "scheduledPurgeDate": 1781156927,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-83197/74184d456ef14430bb85bfdf23e8878f",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "J6z9JXGe-PBtAxAm606Ea3oXaK8cvF77JxDBbXdgVJV9tieDFYFE-5kcRlJ_0iCr",
          "y": "n1F6dXyvWQkxNyMivfhOsLhc5sqOieXTYnrww-URGAyL2O0wrok9yxZzRDt3-uMD"
        },
        "attributes": {
          "enabled": true,
          "created": 1780552126,
          "updated": 1780552126,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/EC-83197?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: EC-83197"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/EC-83197?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "EC": "EC-83197"
  }
}
