{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-41086/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-41086/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {},
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-41086/358edf6b9ee440939f93b8ca47e4933e",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ARBrQZU-sFenzQqlkzVPHCEsUPhMp23skt84o03e0gPz2z7eHyJ8NZ1sRbHCkz2_79i-aRnXOoAb8moqRrI-9oFd",
          "y": "Af8Sc9FjJhFLfOiZMNv4kO83q5FOaZW0NO4bgQ6NovUn_4dEKiXLEIUxBjHm8XLUttfx6O3I5F6MSnBKN1KsBYpl"
        },
        "attributes": {
          "enabled": true,
          "created": 1778587726,
          "updated": 1778587726,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-41086/358edf6b9ee440939f93b8ca47e4933e?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-41086/358edf6b9ee440939f93b8ca47e4933e",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ARBrQZU-sFenzQqlkzVPHCEsUPhMp23skt84o03e0gPz2z7eHyJ8NZ1sRbHCkz2_79i-aRnXOoAb8moqRrI-9oFd",
          "y": "Af8Sc9FjJhFLfOiZMNv4kO83q5FOaZW0NO4bgQ6NovUn_4dEKiXLEIUxBjHm8XLUttfx6O3I5F6MSnBKN1KsBYpl"
        },
        "attributes": {
          "enabled": true,
          "created": 1778587726,
          "updated": 1778587726,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-41086/358edf6b9ee440939f93b8ca47e4933e/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "B4beYodf2cUPnIqnRwb0UQezfuMQ9HlbsgoS_yn_WednQ0Cgwu2m10ocv3iHM06zxtKXTSkZrDtW1IzMzBJ-qQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/EC-41086/358edf6b9ee440939f93b8ca47e4933e",
        "value": "AGBoYd-GcXVjO0Kq-OM28ZJ5x1Q1Cs3Q8G_nRuDUgfRUpCnm3o9sKy0mRZ_nbirCMCE0mHuJke3KHkQMuYZUIi50AXpnnEsPsw9eOOiG1RY3JwkvupvI4KjMe0SeiSaC451Hc43VjnRiLf8hfSR_JJM_0UQZK-ZmgFPDCk5HggBdhwBu"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-41086/358edf6b9ee440939f93b8ca47e4933e/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "B4beYodf2cUPnIqnRwb0UQezfuMQ9HlbsgoS_yn_WednQ0Cgwu2m10ocv3iHM06zxtKXTSkZrDtW1IzMzBJ-qQ",
        "value": "AGBoYd-GcXVjO0Kq-OM28ZJ5x1Q1Cs3Q8G_nRuDUgfRUpCnm3o9sKy0mRZ_nbirCMCE0mHuJke3KHkQMuYZUIi50AXpnnEsPsw9eOOiG1RY3JwkvupvI4KjMe0SeiSaC451Hc43VjnRiLf8hfSR_JJM_0UQZK-ZmgFPDCk5HggBdhwBu"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-41086?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/EC-41086",
        "deletedDate": 1778587728,
        "scheduledPurgeDate": 1779192528,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-41086/358edf6b9ee440939f93b8ca47e4933e",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ARBrQZU-sFenzQqlkzVPHCEsUPhMp23skt84o03e0gPz2z7eHyJ8NZ1sRbHCkz2_79i-aRnXOoAb8moqRrI-9oFd",
          "y": "Af8Sc9FjJhFLfOiZMNv4kO83q5FOaZW0NO4bgQ6NovUn_4dEKiXLEIUxBjHm8XLUttfx6O3I5F6MSnBKN1KsBYpl"
        },
        "attributes": {
          "enabled": true,
          "created": 1778587726,
          "updated": 1778587726,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/EC-41086?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: EC-41086"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/EC-41086?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "EC": "EC-41086"
  }
}
