{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-72841/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-72841/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {},
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-72841/c3ac87c55d11489aa9cf675969f40ac1",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "syLA6YCbpRK91sn51A2TumLQIa32dw06NCBz01NvfAsZbWarDrcd5QJRc9CJVgGr",
          "y": "iviObzlXViv6nQdUBgYpTfg1xPoBpUulOr3rWq7pajLgID5ECUcAk1RGCsT-yy0p"
        },
        "attributes": {
          "enabled": true,
          "created": 1782209650,
          "updated": 1782209650,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-72841/c3ac87c55d11489aa9cf675969f40ac1?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-72841/c3ac87c55d11489aa9cf675969f40ac1",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "syLA6YCbpRK91sn51A2TumLQIa32dw06NCBz01NvfAsZbWarDrcd5QJRc9CJVgGr",
          "y": "iviObzlXViv6nQdUBgYpTfg1xPoBpUulOr3rWq7pajLgID5ECUcAk1RGCsT-yy0p"
        },
        "attributes": {
          "enabled": true,
          "created": 1782209650,
          "updated": 1782209650,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-72841/c3ac87c55d11489aa9cf675969f40ac1/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "l5EEZHPWD5RHC5I7FUe0x1esxlN4fcmEyn3joYOIt6UH_TnIqQWs76Uo9hFFXWlk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/EC-72841/c3ac87c55d11489aa9cf675969f40ac1",
        "value": "sR8WjezAak6PYCW2EWAZmrXCWQ0ijW1c8IsmzN427ko9bsQLybNIZFGamLs4KEoRG6Yvbkk6X6MlrSdko4u1vBCsOpJKNAsFhvu8MRxRXxVRtzPpMZcqtijlR_nU7c80"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-72841/c3ac87c55d11489aa9cf675969f40ac1/verify?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "l5EEZHPWD5RHC5I7FUe0x1esxlN4fcmEyn3joYOIt6UH_TnIqQWs76Uo9hFFXWlk",
        "value": "sR8WjezAak6PYCW2EWAZmrXCWQ0ijW1c8IsmzN427ko9bsQLybNIZFGamLs4KEoRG6Yvbkk6X6MlrSdko4u1vBCsOpJKNAsFhvu8MRxRXxVRtzPpMZcqtijlR_nU7c80"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-72841?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/EC-72841",
        "deletedDate": 1782209652,
        "scheduledPurgeDate": 1782814452,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-72841/c3ac87c55d11489aa9cf675969f40ac1",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "syLA6YCbpRK91sn51A2TumLQIa32dw06NCBz01NvfAsZbWarDrcd5QJRc9CJVgGr",
          "y": "iviObzlXViv6nQdUBgYpTfg1xPoBpUulOr3rWq7pajLgID5ECUcAk1RGCsT-yy0p"
        },
        "attributes": {
          "enabled": true,
          "created": 1782209650,
          "updated": 1782209650,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/EC-72841?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: EC-72841"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/EC-72841?api-version=2026-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "EC": "EC-72841"
  }
}
