{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-1603/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-1603/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {},
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-1603/dd2e976c6ed44f5c9da17d6971785f38",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "qiraesVc7yb_ybOtekEkJga9SEidK2ifk4Q1Ol2gQebcRSobT2yGO4pUZDBE_NdI",
          "y": "jMPqqe1xj6wcTpAMPFUj4zLmklyJKY3IeqrlFgfYjaaXIfe6Rl_MusAcnwjv1dat"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063138,
          "updated": 1732063138,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-1603/dd2e976c6ed44f5c9da17d6971785f38?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-1603/dd2e976c6ed44f5c9da17d6971785f38",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "qiraesVc7yb_ybOtekEkJga9SEidK2ifk4Q1Ol2gQebcRSobT2yGO4pUZDBE_NdI",
          "y": "jMPqqe1xj6wcTpAMPFUj4zLmklyJKY3IeqrlFgfYjaaXIfe6Rl_MusAcnwjv1dat"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063138,
          "updated": 1732063138,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-1603/dd2e976c6ed44f5c9da17d6971785f38/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "l5EEZHPWD5RHC5I7FUe0x1esxlN4fcmEyn3joYOIt6UH_TnIqQWs76Uo9hFFXWlk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/EC-1603/dd2e976c6ed44f5c9da17d6971785f38",
        "value": "G8lpIliG1TFs-yrEcOPcXCO4QpClKAYtm5mmclLENDEHGGo7ShN7sIgLW9o3FDxWg8ktxjYllc0-5dxtXafKxs7mxLj30dsCp6cC2UlkG7Lk9BNdWnTyysgjB1_ZdKXe"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-1603/dd2e976c6ed44f5c9da17d6971785f38/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "l5EEZHPWD5RHC5I7FUe0x1esxlN4fcmEyn3joYOIt6UH_TnIqQWs76Uo9hFFXWlk",
        "value": "G8lpIliG1TFs-yrEcOPcXCO4QpClKAYtm5mmclLENDEHGGo7ShN7sIgLW9o3FDxWg8ktxjYllc0-5dxtXafKxs7mxLj30dsCp6cC2UlkG7Lk9BNdWnTyysgjB1_ZdKXe"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-1603?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/EC-1603",
        "deletedDate": 1732063138,
        "scheduledPurgeDate": 1732667938,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-1603/dd2e976c6ed44f5c9da17d6971785f38",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "qiraesVc7yb_ybOtekEkJga9SEidK2ifk4Q1Ol2gQebcRSobT2yGO4pUZDBE_NdI",
          "y": "jMPqqe1xj6wcTpAMPFUj4zLmklyJKY3IeqrlFgfYjaaXIfe6Rl_MusAcnwjv1dat"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063138,
          "updated": 1732063138,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/EC-1603?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: EC-1603"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/EC-1603?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "EC": "EC-1603"
  }
}
