{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-95060/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-95060/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {},
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-95060/c8a5e325b25549fd83d0649502463293",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "Sje-45AQmQlliBN2aaEMl7FryMhpV7gYMMpBvt3OFT4",
          "y": "ml1C0RDCngL7CD2iURuV53tPkPCpkfLAknh1AfjRDB8"
        },
        "attributes": {
          "enabled": true,
          "created": 1777051261,
          "updated": 1777051261,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-95060/c8a5e325b25549fd83d0649502463293?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-95060/c8a5e325b25549fd83d0649502463293",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "Sje-45AQmQlliBN2aaEMl7FryMhpV7gYMMpBvt3OFT4",
          "y": "ml1C0RDCngL7CD2iURuV53tPkPCpkfLAknh1AfjRDB8"
        },
        "attributes": {
          "enabled": true,
          "created": 1777051261,
          "updated": 1777051261,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-95060/c8a5e325b25549fd83d0649502463293/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "6jjjD3V2fX5sIeuoWxQBZkajtgreQmypZtrJQKXbG6s"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/EC-95060/c8a5e325b25549fd83d0649502463293",
        "value": "RCcXUfUudtpSodeCz-mtmB85JmIPrAEqnOj0lf5kzkIo20bMjiE-n5XzoEzuyJNZayEtC5-YNdxHOz7QMpAmgA"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-95060/c8a5e325b25549fd83d0649502463293/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "6jjjD3V2fX5sIeuoWxQBZkajtgreQmypZtrJQKXbG6s",
        "value": "RCcXUfUudtpSodeCz-mtmB85JmIPrAEqnOj0lf5kzkIo20bMjiE-n5XzoEzuyJNZayEtC5-YNdxHOz7QMpAmgA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-95060?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/EC-95060",
        "deletedDate": 1777051262,
        "scheduledPurgeDate": 1777656062,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-95060/c8a5e325b25549fd83d0649502463293",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "Sje-45AQmQlliBN2aaEMl7FryMhpV7gYMMpBvt3OFT4",
          "y": "ml1C0RDCngL7CD2iURuV53tPkPCpkfLAknh1AfjRDB8"
        },
        "attributes": {
          "enabled": true,
          "created": 1777051261,
          "updated": 1777051261,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/EC-95060?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: EC-95060"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/EC-95060?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "EC": "EC-95060"
  }
}
