{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-42559/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-42559/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "attributes": {},
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-42559/243b0a5f7e384e4d9a9dc88e53c79c4b",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "itlYLZMjfWGo2e6w1ZF0E-ei_8i2DocHfppHEeLJ8r4",
          "y": "ZdYH4CCpzAFnXBMVwgylVqOpa38sanmiukVBD4USe54"
        },
        "attributes": {
          "enabled": true,
          "created": 1732127317,
          "updated": 1732127317,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-42559/243b0a5f7e384e4d9a9dc88e53c79c4b?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-42559/243b0a5f7e384e4d9a9dc88e53c79c4b",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "itlYLZMjfWGo2e6w1ZF0E-ei_8i2DocHfppHEeLJ8r4",
          "y": "ZdYH4CCpzAFnXBMVwgylVqOpa38sanmiukVBD4USe54"
        },
        "attributes": {
          "enabled": true,
          "created": 1732127317,
          "updated": 1732127317,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-42559/243b0a5f7e384e4d9a9dc88e53c79c4b/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "6jjjD3V2fX5sIeuoWxQBZkajtgreQmypZtrJQKXbG6s"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/EC-42559/243b0a5f7e384e4d9a9dc88e53c79c4b",
        "value": "3o7gKQA3aXsRf1H9ObMz7LasYiufBRwu57h2DotITiveF7QkI9yA29NgU1ygNpppp58gRkZVaWbZEcd78s6VKA"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-42559/243b0a5f7e384e4d9a9dc88e53c79c4b/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "6jjjD3V2fX5sIeuoWxQBZkajtgreQmypZtrJQKXbG6s",
        "value": "3o7gKQA3aXsRf1H9ObMz7LasYiufBRwu57h2DotITiveF7QkI9yA29NgU1ygNpppp58gRkZVaWbZEcd78s6VKA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/EC-42559?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/EC-42559",
        "deletedDate": 1732127317,
        "scheduledPurgeDate": 1732732117,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/EC-42559/243b0a5f7e384e4d9a9dc88e53c79c4b",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "itlYLZMjfWGo2e6w1ZF0E-ei_8i2DocHfppHEeLJ8r4",
          "y": "ZdYH4CCpzAFnXBMVwgylVqOpa38sanmiukVBD4USe54"
        },
        "attributes": {
          "enabled": true,
          "created": 1732127317,
          "updated": 1732127317,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/EC-42559?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: EC-42559"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/EC-42559?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "EC": "EC-42559"
  }
}
