{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags267?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags267",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pJI2xtCbeUnPWuLKQ71tITPPyxC94WplwpfNKK1n_D4\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:56:44 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1ODQ5;sn=2805849"
      },
      "ResponseBody": {
        "etag": "pJI2xtCbeUnPWuLKQ71tITPPyxC94WplwpfNKK1n_D4",
        "key": "etags267",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:56:44+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags267?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA1ODQ5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VfsLkk-HeP3CzJmGscZWeRZwn0tXM8Ok-PVTaEh7wzw\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:56:45 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1ODUw;sn=2805850"
      },
      "ResponseBody": {
        "etag": "VfsLkk-HeP3CzJmGscZWeRZwn0tXM8Ok-PVTaEh7wzw",
        "key": "etags267",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": true,
        "last_modified": "2024-07-11T20:56:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags267?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=ODoxNSMyODA1ODUw"
      },
      "RequestBody": {
        "key": "etags267",
        "value": "world",
        "last_modified": "2024-07-11T20:56:44.000Z",
        "tags": {},
        "etag": "pJI2xtCbeUnPWuLKQ71tITPPyxC94WplwpfNKK1n_D4"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1ODUx;sn=2805851"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'etags267' is not allowed",
        "name": "etags267",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags267",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA1ODUx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"AivYHxIrvwDgeMyc8F6PVX5EAH78T06PutkB116LT0w\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1ODUx;sn=2805851"
      },
      "ResponseBody": {
        "etag": "AivYHxIrvwDgeMyc8F6PVX5EAH78T06PutkB116LT0w",
        "items": [
          {
            "etag": "VfsLkk-HeP3CzJmGscZWeRZwn0tXM8Ok-PVTaEh7wzw",
            "key": "etags267",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": true,
            "last_modified": "2024-07-11T20:56:45+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags267?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA1ODUy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7oLZ5lA1NvF7L7pZ8Csxfp48ub4mspxaDRXc6tFQvm0\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:56:45 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1ODU0;sn=2805854"
      },
      "ResponseBody": {
        "etag": "7oLZ5lA1NvF7L7pZ8Csxfp48ub4mspxaDRXc6tFQvm0",
        "key": "etags267",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:56:45+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags267"
  }
}
