{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags848?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags848",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rWkYhNZKJqIVthUmwK15uCCjtio6fAdqiLlzJMCEEdY\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:43:25 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE5MDM=;sn=74231903"
      },
      "ResponseBody": {
        "etag": "rWkYhNZKJqIVthUmwK15uCCjtio6fAdqiLlzJMCEEdY",
        "key": "etags848",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:43:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags848?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"never-match-etag\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE5MDM="
      },
      "RequestBody": {
        "key": "etags848",
        "value": "world",
        "last_modified": "2025-10-02T15:43:25.000Z",
        "tags": {},
        "etag": "never-match-etag"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE5MDM=;sn=74231903"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags848",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE5MDM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ikLi3zG7vAaMz11aDq6pdaAf3z9dHNUY_K13kpqnDwg\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE5MDM=;sn=74231903"
      },
      "ResponseBody": {
        "etag": "ikLi3zG7vAaMz11aDq6pdaAf3z9dHNUY_K13kpqnDwg",
        "items": [
          {
            "etag": "rWkYhNZKJqIVthUmwK15uCCjtio6fAdqiLlzJMCEEdY",
            "key": "etags848",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:43:25+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags848?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE5MDM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rWkYhNZKJqIVthUmwK15uCCjtio6fAdqiLlzJMCEEdY\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:43:25 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE5MDQ=;sn=74231904"
      },
      "ResponseBody": {
        "etag": "rWkYhNZKJqIVthUmwK15uCCjtio6fAdqiLlzJMCEEdY",
        "key": "etags848",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:43:25+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags848"
  }
}
