{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags460?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags460",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zekypJnQmyubyfYtTBU9If7aE4LOjOZYMBlBrqBGCXQ\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:37:26 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM5MTQ=;sn=75083914",
        "x-ms-date": "Wed, 05 Nov 2025 07:37:26 GMT"
      },
      "ResponseBody": {
        "etag": "zekypJnQmyubyfYtTBU9If7aE4LOjOZYMBlBrqBGCXQ",
        "key": "etags460",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:37:26+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags460?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODM5MTQ="
      },
      "RequestBody": {
        "key": "etags460",
        "value": "world",
        "last_modified": "2025-11-05T07:37:26.000Z",
        "tags": {},
        "etag": "zekypJnQmyubyfYtTBU9If7aE4LOjOZYMBlBrqBGCXQ"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM5MTQ=;sn=75083914",
        "x-ms-date": "Wed, 05 Nov 2025 07:37:26 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags460",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODM5MTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"CEGfmpRDb-un_jcDgRXVgXXXYzGD1gx1WdqUFmTJooc\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM5MTQ=;sn=75083914",
        "x-ms-date": "Wed, 05 Nov 2025 07:37:26 GMT"
      },
      "ResponseBody": {
        "etag": "CEGfmpRDb-un_jcDgRXVgXXXYzGD1gx1WdqUFmTJooc",
        "items": [
          {
            "etag": "zekypJnQmyubyfYtTBU9If7aE4LOjOZYMBlBrqBGCXQ",
            "key": "etags460",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:37:26+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags460?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODM5MTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zekypJnQmyubyfYtTBU9If7aE4LOjOZYMBlBrqBGCXQ\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:37:26 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM5MTU=;sn=75083915",
        "x-ms-date": "Wed, 05 Nov 2025 07:37:27 GMT"
      },
      "ResponseBody": {
        "etag": "zekypJnQmyubyfYtTBU9If7aE4LOjOZYMBlBrqBGCXQ",
        "key": "etags460",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:37:26+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags460"
  }
}
