{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags388?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags388",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xKclbNaUcb3i_9IFLBekOSE-zYecgkPFrRIW-x1AIno\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:43:19 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE4OTk=;sn=74231899"
      },
      "ResponseBody": {
        "etag": "xKclbNaUcb3i_9IFLBekOSE-zYecgkPFrRIW-x1AIno",
        "key": "etags388",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:43:19+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non-existent%20key%20etags388?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE4OTk="
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE4OTk=;sn=74231899"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags388",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE4OTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"rBl3OG8TOd_dVFks4KkCPFfi9_HGZuDDaylL-r46cBw\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE4OTk=;sn=74231899"
      },
      "ResponseBody": {
        "etag": "rBl3OG8TOd_dVFks4KkCPFfi9_HGZuDDaylL-r46cBw",
        "items": [
          {
            "etag": "xKclbNaUcb3i_9IFLBekOSE-zYecgkPFrRIW-x1AIno",
            "key": "etags388",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:43:19+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags388?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE4OTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xKclbNaUcb3i_9IFLBekOSE-zYecgkPFrRIW-x1AIno\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:43:19 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE5MDA=;sn=74231900"
      },
      "ResponseBody": {
        "etag": "xKclbNaUcb3i_9IFLBekOSE-zYecgkPFrRIW-x1AIno",
        "key": "etags388",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:43:19+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags388"
  }
}
