{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags775?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags775",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SIcxMrE2G7UMA3IT4G51ib1sS8YCHo6RpQ184NyFl9Y\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:59:28 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYyNTc=;sn=74016257"
      },
      "ResponseBody": {
        "etag": "SIcxMrE2G7UMA3IT4G51ib1sS8YCHo6RpQ184NyFl9Y",
        "key": "etags775",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:59:28+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags775?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYyNTc="
      },
      "RequestBody": {
        "key": "etags775",
        "value": "world",
        "last_modified": "2025-09-25T08:59:28.000Z",
        "tags": {},
        "etag": "SIcxMrE2G7UMA3IT4G51ib1sS8YCHo6RpQ184NyFl9Y"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYyNTc=;sn=74016257"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags775",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYyNTc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"K1-G6IF-L9_tV3m1TO_Ay3U2XxhPgv8XxUFu_SGF9JA\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYyNTc=;sn=74016257"
      },
      "ResponseBody": {
        "etag": "K1-G6IF-L9_tV3m1TO_Ay3U2XxhPgv8XxUFu_SGF9JA",
        "items": [
          {
            "etag": "SIcxMrE2G7UMA3IT4G51ib1sS8YCHo6RpQ184NyFl9Y",
            "key": "etags775",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-25T08:59:28+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags775?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYyNTc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SIcxMrE2G7UMA3IT4G51ib1sS8YCHo6RpQ184NyFl9Y\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:59:28 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYyNTg=;sn=74016258"
      },
      "ResponseBody": {
        "etag": "SIcxMrE2G7UMA3IT4G51ib1sS8YCHo6RpQ184NyFl9Y",
        "key": "etags775",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:59:28+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags775"
  }
}
