{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags832?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags832",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZYl9uA6QHHEoK5rvB8zCOiKVW3tvSlOjVb_nVL66SOw\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:51:53 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIzOTg=;sn=73802398"
      },
      "ResponseBody": {
        "etag": "ZYl9uA6QHHEoK5rvB8zCOiKVW3tvSlOjVb_nVL66SOw",
        "key": "etags832",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:51:53+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags832?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIzOTg="
      },
      "RequestBody": {
        "key": "etags832",
        "value": "world",
        "last_modified": "2025-09-18T02:51:53.000Z",
        "tags": {},
        "etag": "ZYl9uA6QHHEoK5rvB8zCOiKVW3tvSlOjVb_nVL66SOw"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIzOTg=;sn=73802398"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags832",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIzOTg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"kkVBmjDtesAjrT-r7UkPN-5H-0gabzFL-lkzPRojgms\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIzOTg=;sn=73802398"
      },
      "ResponseBody": {
        "etag": "kkVBmjDtesAjrT-r7UkPN-5H-0gabzFL-lkzPRojgms",
        "items": [
          {
            "etag": "ZYl9uA6QHHEoK5rvB8zCOiKVW3tvSlOjVb_nVL66SOw",
            "key": "etags832",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:51:53+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags832?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIzOTg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZYl9uA6QHHEoK5rvB8zCOiKVW3tvSlOjVb_nVL66SOw\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:51:53 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIzOTk=;sn=73802399"
      },
      "ResponseBody": {
        "etag": "ZYl9uA6QHHEoK5rvB8zCOiKVW3tvSlOjVb_nVL66SOw",
        "key": "etags832",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:51:53+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags832"
  }
}
