{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags831?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags831",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Yh7IjDJ9Usff3e-8nSi5TKpxvxyIfAlOmkN4sC6RwIc\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:37:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM5MTI=;sn=75083912",
        "x-ms-date": "Wed, 05 Nov 2025 07:37:23 GMT"
      },
      "ResponseBody": {
        "etag": "Yh7IjDJ9Usff3e-8nSi5TKpxvxyIfAlOmkN4sC6RwIc",
        "key": "etags831",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:37:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non-existent%20key%20etags831?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODM5MTI="
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM5MTI=;sn=75083912",
        "x-ms-date": "Wed, 05 Nov 2025 07:37:23 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags831",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODM5MTI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"GDvx8m5gXrVAY5Sq0R5_UMIUNrui48atR1Gdam26YlI\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM5MTI=;sn=75083912",
        "x-ms-date": "Wed, 05 Nov 2025 07:37:23 GMT"
      },
      "ResponseBody": {
        "etag": "GDvx8m5gXrVAY5Sq0R5_UMIUNrui48atR1Gdam26YlI",
        "items": [
          {
            "etag": "Yh7IjDJ9Usff3e-8nSi5TKpxvxyIfAlOmkN4sC6RwIc",
            "key": "etags831",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:37:23+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags831?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODM5MTI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Yh7IjDJ9Usff3e-8nSi5TKpxvxyIfAlOmkN4sC6RwIc\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:37:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODM5MTM=;sn=75083913",
        "x-ms-date": "Wed, 05 Nov 2025 07:37:23 GMT"
      },
      "ResponseBody": {
        "etag": "Yh7IjDJ9Usff3e-8nSi5TKpxvxyIfAlOmkN4sC6RwIc",
        "key": "etags831",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:37:23+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags831"
  }
}
