{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags881?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags881",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mLC7wFJaSefGQkkfQ9nA6kSczWAn3XXgBNzCNxfmeR4\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:59:25 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYyNTU=;sn=74016255"
      },
      "ResponseBody": {
        "etag": "mLC7wFJaSefGQkkfQ9nA6kSczWAn3XXgBNzCNxfmeR4",
        "key": "etags881",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:59:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non-existent%20key%20etags881?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYyNTU="
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYyNTU=;sn=74016255"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags881",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYyNTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"a-Le903anMHtV8pw4J_wXhBQw0d-xE-iRHpLs1jpGdI\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYyNTU=;sn=74016255"
      },
      "ResponseBody": {
        "etag": "a-Le903anMHtV8pw4J_wXhBQw0d-xE-iRHpLs1jpGdI",
        "items": [
          {
            "etag": "mLC7wFJaSefGQkkfQ9nA6kSczWAn3XXgBNzCNxfmeR4",
            "key": "etags881",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-25T08:59:25+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags881?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYyNTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mLC7wFJaSefGQkkfQ9nA6kSczWAn3XXgBNzCNxfmeR4\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:59:25 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYyNTY=;sn=74016256"
      },
      "ResponseBody": {
        "etag": "mLC7wFJaSefGQkkfQ9nA6kSczWAn3XXgBNzCNxfmeR4",
        "key": "etags881",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:59:25+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags881"
  }
}
