{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags339?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags339",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"i8CSa_4_OS1kBGfjUGCCfJeaLXgyfpF3EVezpZH4Xik\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:56:34 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1ODQz;sn=2805843"
      },
      "ResponseBody": {
        "etag": "i8CSa_4_OS1kBGfjUGCCfJeaLXgyfpF3EVezpZH4Xik",
        "key": "etags339",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:56:34+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non-existent%20key%20etags339?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA1ODQz"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1ODQz;sn=2805843"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags339",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA1ODQz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"IedP6dpxqqCcopWveASo7pFw0C73FL4eOUeYDlOw8Q4\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1ODQz;sn=2805843"
      },
      "ResponseBody": {
        "etag": "IedP6dpxqqCcopWveASo7pFw0C73FL4eOUeYDlOw8Q4",
        "items": [
          {
            "etag": "i8CSa_4_OS1kBGfjUGCCfJeaLXgyfpF3EVezpZH4Xik",
            "key": "etags339",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T20:56:34+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags339?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA1ODQz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"i8CSa_4_OS1kBGfjUGCCfJeaLXgyfpF3EVezpZH4Xik\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:56:34 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1ODQ0;sn=2805844"
      },
      "ResponseBody": {
        "etag": "i8CSa_4_OS1kBGfjUGCCfJeaLXgyfpF3EVezpZH4Xik",
        "key": "etags339",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:56:34+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags339"
  }
}
