{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags746?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags746",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SWvjA3pvd4fi0NVa5r9fXJT9racxmdRco_l9k-op1XI\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:11:10 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0MTY=;sn=75064416",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:10 GMT"
      },
      "ResponseBody": {
        "etag": "SWvjA3pvd4fi0NVa5r9fXJT9racxmdRco_l9k-op1XI",
        "key": "etags746",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:11:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non-existent%20key%20etags746?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQ0MTY="
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0MTY=;sn=75064416",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:10 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags746",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQ0MTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"jbMyZECzXOshFEnuCummdq8BEm1LR1uRp-6gmuaMjFM\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0MTY=;sn=75064416",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:10 GMT"
      },
      "ResponseBody": {
        "etag": "jbMyZECzXOshFEnuCummdq8BEm1LR1uRp-6gmuaMjFM",
        "items": [
          {
            "etag": "SWvjA3pvd4fi0NVa5r9fXJT9racxmdRco_l9k-op1XI",
            "key": "etags746",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T19:11:10+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags746?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQ0MTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SWvjA3pvd4fi0NVa5r9fXJT9racxmdRco_l9k-op1XI\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:11:10 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0MTc=;sn=75064417",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:10 GMT"
      },
      "ResponseBody": {
        "etag": "SWvjA3pvd4fi0NVa5r9fXJT9racxmdRco_l9k-op1XI",
        "key": "etags746",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:11:10+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags746"
  }
}
