{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags833?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"E5frdRCbkmNxnN5_SAuPScQc64zdZbqcjGgCrPiL9mU\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:41:56 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3Mjc2MA==;sn=53372760",
        "x-ms-date": "Mon, 15 Jun 2026 18:41:56 GMT"
      },
      "ResponseBody": {
        "etag": "E5frdRCbkmNxnN5_SAuPScQc64zdZbqcjGgCrPiL9mU",
        "key": "etags833",
        "label": null,
        "content_type": null,
        "value": "world",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:41:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags833?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3Mjc2MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Hyhvrimn_VTS4BUNKpl45Wlkw28kJccOUFwhiRG9oi0\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:41:56 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3Mjc2MQ==;sn=53372761",
        "x-ms-date": "Mon, 15 Jun 2026 18:41:56 GMT"
      },
      "ResponseBody": {
        "etag": "Hyhvrimn_VTS4BUNKpl45Wlkw28kJccOUFwhiRG9oi0",
        "key": "etags833",
        "label": null,
        "content_type": null,
        "value": "world",
        "description": null,
        "tags": {},
        "locked": true,
        "last_modified": "2026-06-15T18:41:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags833?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3Mjc2MQ=="
      },
      "RequestBody": {
        "value": "world",
        "last_modified": "2026-06-15T18:41:56.000Z",
        "tags": {},
        "description": null,
        "etag": "E5frdRCbkmNxnN5_SAuPScQc64zdZbqcjGgCrPiL9mU"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3Mjc2Mg==;sn=53372762",
        "x-ms-date": "Mon, 15 Jun 2026 18:41:56 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'etags833' is not allowed",
        "name": "etags833",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=etags833",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3Mjc2Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"hFuGglwYyghfGaI2dHiPMjLeb9Zi40siJa_MVAvYmjw\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3Mjc2Mg==;sn=53372762",
        "x-ms-date": "Mon, 15 Jun 2026 18:41:56 GMT"
      },
      "ResponseBody": {
        "etag": "hFuGglwYyghfGaI2dHiPMjLeb9Zi40siJa_MVAvYmjw",
        "items": [
          {
            "etag": "Hyhvrimn_VTS4BUNKpl45Wlkw28kJccOUFwhiRG9oi0",
            "key": "etags833",
            "label": null,
            "content_type": null,
            "value": "world",
            "description": null,
            "tags": {},
            "locked": true,
            "last_modified": "2026-06-15T18:41:56+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags833?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3Mjc2Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5_VzyLSMy80N52mjIKfMWbx5WeYaZrhhYmOLmDNPe1g\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:41:56 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3Mjc2NQ==;sn=53372765",
        "x-ms-date": "Mon, 15 Jun 2026 18:41:56 GMT"
      },
      "ResponseBody": {
        "etag": "5_VzyLSMy80N52mjIKfMWbx5WeYaZrhhYmOLmDNPe1g",
        "key": "etags833",
        "label": null,
        "content_type": null,
        "value": "world",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:41:56+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags833"
  }
}
