{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags81?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags81",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Uw-NtWabP4YsCz02voUTlcqfAnD_WZP5KDJHk6xZJ9M\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:07:11 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzMjk=;sn=74235329"
      },
      "ResponseBody": {
        "etag": "Uw-NtWabP4YsCz02voUTlcqfAnD_WZP5KDJHk6xZJ9M",
        "key": "etags81",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T17:07:11+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/non-existent%20key%20etags81?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUzMjk="
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzMzA=;sn=74235330"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags81",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUzMzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"K__WF6SmRRBwbjVnPDqYbNIOxTh84FsuCnU5BWG8nJI\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzMzA=;sn=74235330"
      },
      "ResponseBody": {
        "etag": "K__WF6SmRRBwbjVnPDqYbNIOxTh84FsuCnU5BWG8nJI",
        "items": [
          {
            "etag": "Uw-NtWabP4YsCz02voUTlcqfAnD_WZP5KDJHk6xZJ9M",
            "key": "etags81",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T17:07:11+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags81?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUzMzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Uw-NtWabP4YsCz02voUTlcqfAnD_WZP5KDJHk6xZJ9M\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:07:11 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzMzE=;sn=74235331"
      },
      "ResponseBody": {
        "etag": "Uw-NtWabP4YsCz02voUTlcqfAnD_WZP5KDJHk6xZJ9M",
        "key": "etags81",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T17:07:11+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags81"
  }
}
