{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags46?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags46",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7EqHhlgFfMA4-ljiCKujZv_up7YRjV7DGBaeeUJWX4s\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:56:48 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1ODU1;sn=2805855"
      },
      "ResponseBody": {
        "etag": "7EqHhlgFfMA4-ljiCKujZv_up7YRjV7DGBaeeUJWX4s",
        "key": "etags46",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:56:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags46?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA1ODU1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HBcx9BLf_XD17woQlWpMlwrgpJA7qqGz__V18FzW_Ao\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:56:48 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1ODU2;sn=2805856"
      },
      "ResponseBody": {
        "etag": "HBcx9BLf_XD17woQlWpMlwrgpJA7qqGz__V18FzW_Ao",
        "key": "etags46",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": true,
        "last_modified": "2024-07-11T20:56:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags46?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA1ODU2"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1ODU3;sn=2805857"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'etags46' is not allowed",
        "name": "etags46",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags46",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA1ODU4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"28--pF_hG_ME3djVTQmtzpCQxNAFAbdsXwryjC_5H1g\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1ODU5;sn=2805859"
      },
      "ResponseBody": {
        "etag": "28--pF_hG_ME3djVTQmtzpCQxNAFAbdsXwryjC_5H1g",
        "items": [
          {
            "etag": "9hOUHv2T3i1BYRVaQcYRGWxLgv-G-q-YtDqevN2kRlI",
            "key": "etags46",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T20:56:48+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags46?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA1ODU5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9hOUHv2T3i1BYRVaQcYRGWxLgv-G-q-YtDqevN2kRlI\"",
        "Last-Modified": "Thu, 11 Jul 2024 20:56:48 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA1ODYw;sn=2805860"
      },
      "ResponseBody": {
        "etag": "9hOUHv2T3i1BYRVaQcYRGWxLgv-G-q-YtDqevN2kRlI",
        "key": "etags46",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T20:56:48+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags46"
  }
}
