{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags479?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iqsqk-ZY0hGiMWYZkvmNbTw8Y-WFKbs8gZdVWXLanOY\"",
        "Last-Modified": "Thu, 28 May 2026 21:54:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjM2NA==;sn=115292364",
        "x-ms-date": "Thu, 28 May 2026 21:54:32 GMT"
      },
      "ResponseBody": {
        "etag": "iqsqk-ZY0hGiMWYZkvmNbTw8Y-WFKbs8gZdVWXLanOY",
        "key": "etags479",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:54:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags479?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjM2NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eBJ2xIsMFDxyalXAx1GYzCp3XFfwtfxtobAtRA6FB6Y\"",
        "Last-Modified": "Thu, 28 May 2026 21:54:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjM2NQ==;sn=115292365",
        "x-ms-date": "Thu, 28 May 2026 21:54:32 GMT"
      },
      "ResponseBody": {
        "etag": "eBJ2xIsMFDxyalXAx1GYzCp3XFfwtfxtobAtRA6FB6Y",
        "key": "etags479",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": true,
        "last_modified": "2026-05-28T21:54:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags479?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjM2NQ=="
      },
      "RequestBody": {
        "value": "world",
        "last_modified": "2026-05-28T21:54:32.000Z",
        "tags": {},
        "etag": "iqsqk-ZY0hGiMWYZkvmNbTw8Y-WFKbs8gZdVWXLanOY"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjM2Ng==;sn=115292366",
        "x-ms-date": "Thu, 28 May 2026 21:54:32 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'etags479' is not allowed",
        "name": "etags479",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags479",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjM2Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"4abRcI8k8f4GT8UbP4qU4c3Y5tdEal5toY_1G_npegM\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjM2Ng==;sn=115292366",
        "x-ms-date": "Thu, 28 May 2026 21:54:32 GMT"
      },
      "ResponseBody": {
        "etag": "4abRcI8k8f4GT8UbP4qU4c3Y5tdEal5toY_1G_npegM",
        "items": [
          {
            "etag": "eBJ2xIsMFDxyalXAx1GYzCp3XFfwtfxtobAtRA6FB6Y",
            "key": "etags479",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": true,
            "last_modified": "2026-05-28T21:54:32+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags479?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjM2Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fVJXPdmXg9TvB-Mc8OdGlo6AGG5Em_3y__7WP6i_8Iw\"",
        "Last-Modified": "Thu, 28 May 2026 21:54:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjM2OQ==;sn=115292369",
        "x-ms-date": "Thu, 28 May 2026 21:54:32 GMT"
      },
      "ResponseBody": {
        "etag": "fVJXPdmXg9TvB-Mc8OdGlo6AGG5Em_3y__7WP6i_8Iw",
        "key": "etags479",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:54:32+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags479"
  }
}
