{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags902?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags902",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vOlQxIixvNX-bZOOYONwYh39o1uP3J9G8ojtfa5orqM\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:11:22 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0Mjg=;sn=75064428",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:22 GMT"
      },
      "ResponseBody": {
        "etag": "vOlQxIixvNX-bZOOYONwYh39o1uP3J9G8ojtfa5orqM",
        "key": "etags902",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:11:22+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags902?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQ0Mjg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"k4M0GgdMs5CHkKkT0iWc3PgG-15f_GnflKI4kNa2QRc\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:11:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0Mjk=;sn=75064429",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:23 GMT"
      },
      "ResponseBody": {
        "etag": "k4M0GgdMs5CHkKkT0iWc3PgG-15f_GnflKI4kNa2QRc",
        "key": "etags902",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": true,
        "last_modified": "2025-11-04T19:11:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags902?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQ0Mjk="
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0MzA=;sn=75064430",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:23 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'etags902' is not allowed",
        "name": "etags902",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags902",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQ0MzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"P8kV9ng0-zcFxvti-BWLZ7vnxgoT_Qv5S55qOYcDBU4\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0MzI=;sn=75064432",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:23 GMT"
      },
      "ResponseBody": {
        "etag": "P8kV9ng0-zcFxvti-BWLZ7vnxgoT_Qv5S55qOYcDBU4",
        "items": [
          {
            "etag": "7tefC3e2cAow2PlhvIGAPh2YAY3oHR0PC1C29enQme8",
            "key": "etags902",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T19:11:23+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags902?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQ0MzI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7tefC3e2cAow2PlhvIGAPh2YAY3oHR0PC1C29enQme8\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:11:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0MzM=;sn=75064433",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:23 GMT"
      },
      "ResponseBody": {
        "etag": "7tefC3e2cAow2PlhvIGAPh2YAY3oHR0PC1C29enQme8",
        "key": "etags902",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:11:23+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags902"
  }
}
