{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags331?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sbfzAwSRSlECAJmm6ZwLnCUkENgdntU5F5uBhNvjf3Y\"",
        "Last-Modified": "Thu, 28 May 2026 21:54:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjM2MA==;sn=115292360",
        "x-ms-date": "Thu, 28 May 2026 21:54:27 GMT"
      },
      "ResponseBody": {
        "etag": "sbfzAwSRSlECAJmm6ZwLnCUkENgdntU5F5uBhNvjf3Y",
        "key": "etags331",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:54:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags331?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjM2MA=="
      },
      "RequestBody": {
        "value": "world",
        "last_modified": "2026-05-28T21:54:27.000Z",
        "tags": {},
        "etag": "sbfzAwSRSlECAJmm6ZwLnCUkENgdntU5F5uBhNvjf3Y"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjM2MA==;sn=115292360",
        "x-ms-date": "Thu, 28 May 2026 21:54:27 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags331",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjM2MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Ubbl_J4smnJswXH1Iy07CR6XTxYQp8qTPPiqqaId66c\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjM2MA==;sn=115292360",
        "x-ms-date": "Thu, 28 May 2026 21:54:27 GMT"
      },
      "ResponseBody": {
        "etag": "Ubbl_J4smnJswXH1Iy07CR6XTxYQp8qTPPiqqaId66c",
        "items": [
          {
            "etag": "sbfzAwSRSlECAJmm6ZwLnCUkENgdntU5F5uBhNvjf3Y",
            "key": "etags331",
            "label": null,
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T21:54:27+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags331?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjM2MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sbfzAwSRSlECAJmm6ZwLnCUkENgdntU5F5uBhNvjf3Y\"",
        "Last-Modified": "Thu, 28 May 2026 21:54:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjM2MQ==;sn=115292361",
        "x-ms-date": "Thu, 28 May 2026 21:54:27 GMT"
      },
      "ResponseBody": {
        "etag": "sbfzAwSRSlECAJmm6ZwLnCUkENgdntU5F5uBhNvjf3Y",
        "key": "etags331",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:54:27+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags331"
  }
}
