{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.HybridContainerService/operations?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.HybridContainerService/Locations/operationStatuses/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.HybridContainerService",
              "resource": "Locations/operationStatuses",
              "operation": "read_operationStatuses",
              "description": "read operationStatuses"
            },
            "properties": null
          },
          {
            "name": "Microsoft.HybridContainerService/Locations/operationStatuses/write",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.HybridContainerService",
              "resource": "Locations/operationStatuses",
              "operation": "write_operationStatuses",
              "description": "write operationStatuses"
            },
            "properties": null
          },
          {
            "name": [...]
