{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMSV2OptIn": "11162022"
        },
        "subscriptionId": "4bd2aa0f-2bd2-4d67-91a8-5a4533d58600",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Migrate Test2 (Canary Enabled)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourcegroups/sakanwar?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar",
        "name": "sakanwar",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "Created": "20201231",
          "SkipCleanup": "true"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.Migrate/assessmentProjects/ccy-pe1950project?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"bd004b0d-0000-0300-0000-673590fa0000\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.Migrate/assessmentProjects/ccy-pe1950project",
        "name": "ccy-pe1950project",
        "type": "Microsoft.Migrate/assessmentProjects",
        "etag": "\"bd004b0d-0000-0300-0000-673590fa0000\"",
        "location": "centralus",
        "kind": "Migrate",
        "properties": {
          "privateEndpointConnections": [
            {
              "name": "ccy-pe1950project1581pe.93ce5be1-e545-434b-93e5-d4a4d1a705f0",
              "type": "Microsoft.Migrate/assessmentprojects/privateEndpointConnections",
              "eTag": "\"1501dc16-0000-0300-0000-66d5b79a0000\"",
              "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.Migrate/assessmentprojects/ccy-pe1950project/privateEndpointConnections/ccy-pe1950project1581pe.93ce5be1-e545-434b-93e5-d4a4d1a705f0",
              "properties": {
                "provisioningState": "Succeeded",
                "privateEndpoint": {
                  "id": "/subscriptions/c6570921-c122-407e-ae0c-d496d7aa05f8/resourceGroups/ERNetwork-LAB/providers/Microsoft.Network/privateEndpoints/ccy-pe1950project1581pe"
                },
                "privateLinkServiceConnectionState": {
                  "status": "Approved",
                  "description": null,
                  "actionsRequired": ""
                }
              }
            }
          ],
          "publicNetworkAccess": "Disabled",
          "customerStorageAccountArmId": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.Storage/storageAccounts/privateendpoint651busa",
          "createdTimestamp": "2024-09-02T13:03:03.7947134Z",
          "updatedTimestamp": "2024-09-02T13:03:22.7609904Z",
          "serviceEndpoint": "https://c41e882500d148049fdf0bf4b34dc040-agent.cus.asm.privatelink.prod.migration.windowsazure.com/",
          "assessmentSolutionId": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.Migrate/MigrateProjects/privateendpoint-test/Solutions/Servers-Assessment-ServerAssessment",
          "projectStatus": "Active",
          "customerWorkspaceId": null,
          "customerWorkspaceLocation": null,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.Migrate/assessmentProjects/ccy-pe1950project/privateEndpointConnections?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "ccy-pe1950project1581pe.93ce5be1-e545-434b-93e5-d4a4d1a705f0",
            "type": "Microsoft.Migrate/assessmentprojects/privateEndpointConnections",
            "eTag": "\"1501dc16-0000-0300-0000-66d5b79a0000\"",
            "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.Migrate/assessmentprojects/ccy-pe1950project/privateEndpointConnections/ccy-pe1950project1581pe.93ce5be1-e545-434b-93e5-d4a4d1a705f0",
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpoint": {
                "id": "/subscriptions/c6570921-c122-407e-ae0c-d496d7aa05f8/resourceGroups/ERNetwork-LAB/providers/Microsoft.Network/privateEndpoints/ccy-pe1950project1581pe"
              },
              "privateLinkServiceConnectionState": {
                "status": "Approved",
                "description": null,
                "actionsRequired": ""
              }
            }
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.Migrate/assessmentProjects/ccy-pe1950project/privateEndpointConnections/ccy-pe1950project1581pe.93ce5be1-e545-434b-93e5-d4a4d1a705f0?api-version=2023-03-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "privateEndpoint": {},
          "privateLinkServiceConnectionState": {
              "status": "Approved",
              "description": "",
              "actionsRequired": ""
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "systemData": {
          "createdAt": "0001-01-01T00:00:00",
          "createdBy": null,
          "createdByType": null,
          "lastModifiedAt": "0001-01-01T00:00:00",
          "lastModifiedBy": null,
          "lastModifiedByType": null
        },
        "type": "Microsoft.Migrate/assessmentprojects/privateEndpointConnections",
        "properties": {
          "privateEndpoint": {},
          "privateLinkServiceConnectionState": {
              "status": "Approved",
              "description": null,
              "actionsRequired": ""
          },
          "provisioningState": "Succeeded"
        },
        "eTag": "\"0000c26c-0000-3400-0000-6731ec1f0000\"",
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.Migrate/assessmentProjects/ccy-pe1950project/privateEndpointConnections/ccy-pe1950project1581pe.93ce5be1-e545-434b-93e5-d4a4d1a705f0",
        "name": "ccy-pe1950project1581pe.93ce5be1-e545-434b-93e5-d4a4d1a705f0"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.Migrate/assessmentProjects/ccy-pe1950project/privateEndpointConnections/ccy-pe1950project1581pe.93ce5be1-e545-434b-93e5-d4a4d1a705f0?api-version=2023-03-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": {}
    }
  ],
  "Variables": {
    "RandomSeed": "1551952771",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "4bd2aa0f-2bd2-4d67-91a8-5a4533d58600"
  }
}
