{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/map/copyright/caption/json?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "azure_maps_client_id"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"4bc89e10cbbb7dff12551a690c5c03be\"",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "formatVersion": "0.0.1",
        "copyrightsCaption": "©TomTom"
      }
    }
  ],
  "Variables": {}
}
