{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/?comp=properties&restype=service",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "X-Ms-Date": "Sat, 18 May 2024 00:07:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": [
        "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
        "<StorageServiceProperties><Cors><CorsRule><AllowedHeaders>x-ms-meta-data*</AllowedHeaders><AllowedMethods>PUT</AllowedMethods><AllowedOrigins>www.xyz.com</AllowedOrigins><ExposedHeaders>x-ms-meta-source*</ExposedHeaders><MaxAgeInSeconds>500</MaxAgeInSeconds></CorsRule><CorsRule><AllowedHeaders>x-ms-meta-data*</AllowedHeaders><AllowedMethods>PUT</AllowedMethods><AllowedOrigins>www.xyz.com</AllowedOrigins><ExposedHeaders>x-ms-meta-source*</ExposedHeaders><MaxAgeInSeconds>500</MaxAgeInSeconds></CorsRule><CorsRule><AllowedHeaders>x-ms-meta-data*</AllowedHeaders><AllowedMethods>PUT</AllowedMethods><AllowedOrigins>www.xyz.com</AllowedOrigins><ExposedHeaders>x-ms-meta-source*</ExposedHeaders><MaxAgeInSeconds>500</MaxAgeInSeconds></CorsRule><CorsRule><AllowedHeaders>x-ms-meta-data*</AllowedHeaders><AllowedMethods>PUT</AllowedMethods><AllowedOrigins>www.xyz.com</AllowedOrigins><ExposedHeaders>x-ms-meta-source*</ExposedHeaders><MaxAgeInSeconds>500</MaxAgeInSeconds></CorsRule><CorsRule><AllowedHeaders>x-ms-meta-data*</AllowedHeaders><AllowedMethods>PUT</AllowedMethods><AllowedOrigins>www.xyz.com</AllowedOrigins><ExposedHeaders>x-ms-meta-source*</ExposedHeaders><MaxAgeInSeconds>500</MaxAgeInSeconds></CorsRule><CorsRule><AllowedHeaders>x-ms-meta-data*</AllowedHeaders><AllowedMethods>PUT</AllowedMethods><AllowedOrigins>www.xyz.com</AllowedOrigins><ExposedHeaders>x-ms-meta-source*</ExposedHeaders><MaxAgeInSeconds>500</MaxAgeInSeconds></CorsRule></Cors></StorageServiceProperties>"
      ],
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidXmlDocument",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": [
        "<?xml version=\"1.0\" encoding=\"utf-8\"?><m:error xmlns:m=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\"><m:code>InvalidXmlDocument</m:code><m:message xml:lang=\"en-US\">XML specified is not syntactically valid.\n",
        "RequestId:36bebd49-8002-002d-39b7-a8d98d000000\n",
        "Time:2024-05-18T00:07:01.0635714Z</m:message></m:error>"
      ]
    }
  ],
  "Variables": {}
}
