{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/?comp=stats&restype=service",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:03:46 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Wed, 16 Oct 2024 23:02:03 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"
    }
  ],
  "Variables": {}
}
