{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions%2F8f6b6269-84f2-4d09-9e31-1127efcd1e40%2FresourceGroups%2Fexamplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2/getFullUrl?api-version=2025-07-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "SubscriptionNotFound",
          "message": "The subscription '8f6b6269-84f2-4d09-9e31-1127efcd1e40' could not be found."
        }
      }
    }
  ],
  "Variables": {}
}
