{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.HybridCompute/licenses/resourcetest?api-version=2025-02-19-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.HybridCompute/licenses/resourcetest",
        "name": "resourcetest",
        "location": "eastus",
        "type": "Microsoft.HybridCompute/licenses",
        "properties": {
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "licenseType": "ESU",
          "licenseDetails": {
            "state": "Activated",
            "target": "Windows Server 2012",
            "edition": "Datacenter",
            "type": "pCore",
            "processors": 16,
            "assignedLicenses": 8,
            "immutableId": "4c5035eb-e84b-4830-8221-26234e52c119"
          }
        }
      }
    }
  ],
  "Variables": {}
}
