{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.HybridCompute/gateways/resourcetest?api-version=2024-05-20-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.HybridCompute/gateways/resourcetest",
        "name": "resourcetest",
        "location": "eastus2euap",
        "type": "Microsoft.HybridCompute/gateways",
        "properties": {
          "gatewayId": "c41c66c2-0b99-4a38-b001-3bf37b6ec320",
          "allowedFeatures": [
            "*"
          ],
          "gatewayType": "Public",
          "gatewayEndpoint": "dd83f718-5dfb-4d53-9108-c706bad26436.gw.arc.azure.com",
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}
