{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.HybridCompute/licenses/resourcetest?api-version=2024-07-31-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap",
        "properties": {
          "licenseType": "ESU",
          "licenseDetails": {
            "state": "Activated",
            "target": "Windows Server 2012",
            "edition": "Datacenter",
            "type": "pCore",
            "processors": 16
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.HybridCompute/licenses/resourcetest",
        "name": "resourcetest",
        "location": "eastus2euap",
        "type": "Microsoft.HybridCompute/licenses",
        "properties": {
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "licenseType": "ESU",
          "licenseDetails": {
            "state": "Activated",
            "target": "Windows Server 2012",
            "edition": "Datacenter",
            "type": "pCore",
            "processors": 16,
            "assignedLicenses": 8,
            "immutableId": "8a698971-7db4-44e2-b59f-84bc15d222a4"
          }
        }
      }
    }
  ],
  "Variables": {}
}
