{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "0a715a3b-8a16-43ba-a6bb-1e38ad050791",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Avere_AscTIP4_Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourcegroups/rg-amajaistoragecache?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/resourceGroups/rg-amajaistoragecache",
        "name": "rg-amajaistoragecache",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "canadacentral",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0a715a3b-8a16-43ba-a6bb-1e38ad050791/providers/Microsoft.StorageCache/skus?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "resourceType": "amlFilesystems",
            "name": "AMLFS-Durable-Premium-125",
            "locations": [
              "australiaeast"
            ],
            "locationInfo": [
              {
                "location": "australiaeast",
                "zones": [
                  "3",
                  "1",
                  "2"
                ],
                "zoneDetails": []
              }
            ],
            "capabilities": [
              {
                "name": "OSS capacity increment (TiB)",
                "value": "16"
              },
              {
                "name": "bandwidth increment (MB/s/TiB)",
                "value": "125"
              },
              {
                "name": "durable",
                "value": "True"
              },
              {
                "name": "MDS capacity increment (TiB)",
                "value": "1024"
              },
              {
                "name": "default maximum capacity (TiB)",
                "value": "512"
              },
              {
                "name": "large cluster maximum capacity (TiB)",
                "value": "1024"
              },
              {
                "name": "large cluster XL maximum capacity (TiB)",
                "value": "4096"
              }
            ],
            "restrictions": []
          },
          {
            "resourceType": "amlFilesystems",
            "name": "AMLFS-Durable-Premium-125",
            "locations": [
              "australiaeast"
            ],
            "locationInfo": [
              {
                "location": "australiaeast",
                "zones": [
                  "3",
                  "1",
                  "2"
                ],
                "zoneDetails": []
              }
            ],
            "ca[...]
