{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics:validate?api-version=2025-05-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Invalid Test Metric",
        "description": "An invalid metric for validation testing",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestValidationEvent",
            "filter": "this is not a valid filter expression."
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "758e9d22-647a-4c50-8070-e16ab8363505"
      },
      "ResponseBody": {
        "diagnostics": [
          {
            "code": "InvalidEventCondition",
            "message": "Expected: ;"
          },
          {
            "code": "InvalidEventCondition",
            "message": "Expected: ;"
          },
          {
            "code": "InvalidEventCondition",
            "message": "Expected: ;"
          },
          {
            "code": "InvalidEventCondition",
            "message": "Expected: ;"
          },
          {
            "code": "InvalidEventCondition",
            "message": "Expected: ;"
          },
          {
            "code": "InvalidEven[...]
