{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2024-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "subscriptions": [
          "00000000-0000-0000-0000-000000000000"
        ],
        "query": "resources | where type =~ 'Microsoft.DeviceRegistry/namespaces' | limit 50"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-incomplete-scopes-state": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199",
        "x-ms-ratelimit-remaining-tenant-resource-requests": "13",
        "x-ms-resource-graph-request-duration": "0:00:00:00.4308846",
        "x-ms-user-quota-remaining": "13",
        "x-ms-user-quota-resets-after": "00:00:05"
      },
      "ResponseBody": {
        "totalRecords": 1,
        "count": 1,
        "data": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mcp-test/providers/microsoft.deviceregistry/namespaces/Sanitized",
            "name": "Sanitized",
            "type": "microsoft.deviceregistry/namespaces",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "kind": "",
            "location": "eastus",
            "resourceGroup": "Sanitized",
            "subscriptionId": "00000000-0000-0000-0000-000000000000",
            "managedBy": "",
            "sku": null,
            "plan": null,
            "properties": {
              "provisioningState": "Succeeded",
              "uuid": "b3637c27-98c4-4b77-81f2-e8908b7b38f7"
            },
            "tags": {},
            "identity": {
              "principalId": "00000000-0000-0000-0000-000000000000",
              "tenantId": "00000000-0000-0000-0000-000000000000",
              "type": "SystemAssigned"
            },
            "zones": null,
            "extendedLocation": null
          }
        ],
        "facets": [],
        "resultTruncated": "false"
      }
    }
  ],
  "Variables": {}
}
