{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref-1560?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "[]"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"55Zf3Dy_mFy0MKpwFobIhXUZNFwq6aQIC1xMHOjlLdc\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTkxMQ==;sn=53125911",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:51 GMT"
      },
      "ResponseBody": {
        "etag": "55Zf3Dy_mFy0MKpwFobIhXUZNFwq6aQIC1xMHOjlLdc",
        "key": "snapshot-ref-1560",
        "label": null,
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "[]",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:51+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref-1560?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTkxMQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"55Zf3Dy_mFy0MKpwFobIhXUZNFwq6aQIC1xMHOjlLdc\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTkxMg==;sn=53125912",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:51 GMT"
      },
      "ResponseBody": {
        "etag": "55Zf3Dy_mFy0MKpwFobIhXUZNFwq6aQIC1xMHOjlLdc",
        "key": "snapshot-ref-1560",
        "label": null,
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "[]",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:51+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref-1560?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTkxMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"55Zf3Dy_mFy0MKpwFobIhXUZNFwq6aQIC1xMHOjlLdc\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTkxNQ==;sn=53125915",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:51 GMT"
      },
      "ResponseBody": {
        "etag": "55Zf3Dy_mFy0MKpwFobIhXUZNFwq6aQIC1xMHOjlLdc",
        "key": "snapshot-ref-1560",
        "label": null,
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "[]",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:51+00:00"
      }
    }
  ],
  "Variables": {
    "snapshot-ref-1": "snapshot-ref-1560"
  }
}
