{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref-1612?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "snapshot-ref-1612",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "Hello World"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3xe3aCkWErgAIRaosQWFenNpQn5iJWpS6CyVlaqcfsg\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:10 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUyNzQ=;sn=74855274",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:10 GMT"
      },
      "ResponseBody": {
        "etag": "3xe3aCkWErgAIRaosQWFenNpQn5iJWpS6CyVlaqcfsg",
        "key": "snapshot-ref-1612",
        "label": null,
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:55:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref-1612?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUyNzQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3xe3aCkWErgAIRaosQWFenNpQn5iJWpS6CyVlaqcfsg\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:10 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUyNzY=;sn=74855276",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:10 GMT"
      },
      "ResponseBody": {
        "etag": "3xe3aCkWErgAIRaosQWFenNpQn5iJWpS6CyVlaqcfsg",
        "key": "snapshot-ref-1612",
        "label": null,
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:55:10+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/snapshot-ref-1612?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUyNzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3xe3aCkWErgAIRaosQWFenNpQn5iJWpS6CyVlaqcfsg\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:10 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUyODA=;sn=74855280",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:10 GMT"
      },
      "ResponseBody": {
        "etag": "3xe3aCkWErgAIRaosQWFenNpQn5iJWpS6CyVlaqcfsg",
        "key": "snapshot-ref-1612",
        "label": null,
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "Hello World",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:55:10+00:00"
      }
    }
  ],
  "Variables": {
    "snapshot-ref-1": "snapshot-ref-1612"
  }
}
