{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "livenessOperationMode": "Passive",
        "deviceCorrelationId": "6cb304b9-fcbf-4585-a799-06053993a910"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "sessionId": "1e33749a-527c-4389-a914-34e49bcb39c1",
        "authToken": "fakeauthtoken"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": "[{\"id\":\"1e33749a-527c-4389-a914-34e49bcb39c1\",\"createdDateTime\":\"2024-04-18T09:26:52.9037889+00:00\",\"authTokenTimeToLiveInSeconds\":600,\"deviceCorrelationId\":\"6cb304b9-fcbf-4585-a799-06053993a910\",\"sessionExpired\":false},{\"id\":\"31ec08ef-95ba-4d3e-bb3c-07316bbddee0\",\"createdDateTime\":\"2024-04-18T09:26:52.9310577+00:00\",\"authTokenTimeToLiveInSeconds\":600,\"deviceCorrelationId\":\"6cb304b9-fcbf-4585-a799-06053993a910\",\"sessionExpired\":false}]"
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions/1e33749a-527c-4389-a914-34e49bcb39c1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions/31ec08ef-95ba-4d3e-bb3c-07316bbddee0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "deviceCorrelationId": "6cb304b9-fcbf-4585-a799-06053993a910"
  }
}
