{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/SSS3PT_myjstest/providers/Microsoft.ContainerService/fleets?api-version=2025-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "bd4fd539-c155-434e-a52c-99a19663e149",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "eTag": "\"17026763-0000-0100-0000-689057f00000\"",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/SSS3PT_myjstest/providers/Microsoft.ContainerService/fleets/testresource-12a",
            "location": "eastus",
            "name": "testresource-12a",
            "properties": {
              "provisioningState": "Succeeded",
              "status": {
                "lastOperationId": "5bea4e31-bdda-49b3-9fab-30f42fb2df5b"
              }
            },
            "systemData": {
              "createdAt": "2025-08-04T06:49:19.6278096Z",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2025-08-04T06:49:19.6278096Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            },
            "tags": {
              "archv2": "",
              "tier": "production"
            },
            "type": "Microsoft.ContainerService/fleets"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
