{
  "Entries": [
    {
      "RequestUri": "https://eastus.easm.defender.microsoft.com/subscriptions/5aceda1f-93bf-4b33-b129-22f360f7c5ff/resourceGroups/thangdeveastus2-rg/workspaces/sdktesting2/discoGroups?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ui-version": "sdk"
      },
      "ResponseBody": {
        "totalElements": 2,
        "value": [
          {
            "id": "University of Kansas",
            "name": "University of Kansas",
            "displayName": "University of Kansas",
            "description": "This Discovery Group has been auto-created by selecting a pre-built attack surface",
            "tier": "advanced",
            "frequencyMilliseconds": 604800000,
            "seeds": [
              {
                "kind": "domain",
                "name": "kudining.org"
              },
              {
                "kind": "domain",
                "name": "kumc.edu"
              },
              {
                "kind": "domain",
                "name": "kansasltap.org"
              },
              {
                "kind": "domain",
                "name": "wethryve.org"
              },
              {
                "kind": "as",
                "name": "11659"
              },
              {
      [...]
