{
  "Entries": [
    {
      "RequestUri": "https://eastus.easm.defender.microsoft.com/subscriptions/5aceda1f-93bf-4b33-b129-22f360f7c5ff/resourceGroups/thangdeveastus2-rg/workspaces/sdktesting/discoGroups/New%20disco%20group%20Name?api-version=2023-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "New disco group Name",
        "description": "This is a description",
        "tier": "advanced",
        "frequencyMilliseconds": 604800000,
        "seeds": [
          {
            "kind": "domain",
            "name": "example.org"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ui-version": "sdk"
      },
      "ResponseBody": {
        "id": "New disco group Name",
        "name": "New disco group Name",
        "displayName": "New disco group Name",
        "description": "This is a description",
        "tier": "advanced",
        "frequencyMilliseconds": 604800000,
        "seeds": [
          {
            "kind": "domain",
            "name": "example.org"
          }
        ],
        "names": [],
        "excludes": [],
        "latestRun": null,
        "createdDate": "2023-10-02T04:11:34\u002B0000",
        "templateId": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "ENDPOINT": "https://eastus.easm.defender.microsoft.com",
    "RandomSeed": "1358942582",
    "RESOURCEGROUPNAME": "thangdeveastus2-rg",
    "SUBSCRIPTION_ID": "5aceda1f-93bf-4b33-b129-22f360f7c5ff",
    "WORKSPACENAME": "sdktesting"
  }
}
