{
  "Entries": [
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "248",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "4e9476e3-3c88-41e6-b696-03b019e05459",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Search TME Api Foundations (kualu)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourcegroups/Search-SDK-Test8780?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourceGroups/Search-SDK-Test8780",
        "name": "Search-SDK-Test8780",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourceGroups/Search-SDK-Test8780/providers/Microsoft.Search/searchServices/search4652?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "sku": {
          "name": "standard"
        },
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "hostingMode": "Default"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "6057",
        "ETag": "W/\"datetime'2026-03-02T22%3A49%3A21.2266539Z'\"",
        "x-ms-ratelimit-remaining-subscription-writes": "198",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "location": "West US",
        "tags": {},
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "endpoint": "https://search4652.search.windows.net",
          "status": "provisioning",
          "statusDetails": "",
          "provisioningState": "Provisioning",
          "hostingMode": "Default",
          "computeType": "Default",
          "publicNetworkAccess": "Enabled",
          "networkRuleSet": {
            "ipRules": [],
            "bypass": "None"
          },
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "encryptionWithCmk": {
            "enforcement": "Unspecified",
            "encryptionComplianceStatus": "Compliant",
            "serviceLevelEncryptionKey": null
          },
          "disableLocalAuth": false,
          "authOptions": {
            "aadOrApiKey": {
              "aadAuthFailureMode": "http401WithBearerChallenge"
            }
          },
          "disabledDataExfiltrationOptions": [],
          "dataExfiltrationProtections": [],
          "semanticSearch": "free",
          "knowledgeRetrieval": "free",
          "upgradeAvailable": "notAvailable",
          "serviceUpgradedAt": null
        },
        "systemData": {
          "createdAt": "2026-03-02T22:49:21.217Z"
        },
        "id": "/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourceGroups/Search-SDK-Test8780/providers/Microsoft.Search/searchServices/search4652",
        "name": "search4652",
        "type": "Microsoft.Search/searchServices",
        "sku": {
          "name": "standard"
        }
      }
    },
[...]
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourceGroups/Search-SDK-Test8780/providers/Microsoft.Search/searchServices/search4652/createQueryKey/queryKey-6769?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "160",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "name": "queryKey-6769",
        "key": "Sanitized"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1137125667",
    "RESOURCE_MANAGER_URL": "https://eastus2euap.management.azure.com/",
    "SERVICE_MANAGEMENT_URL": "https://management.core.windows.net/",
    "SUBSCRIPTION_ID": "4e9476e3-3c88-41e6-b696-03b019e05459"
  }
}
