{
  "Entries": [
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11853"
      },
      "ResponseBody": {
        "id": "/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "c4a547de-4411-4447-964d-1edbc72cf116",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Search ARM Test in Production Lab",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourcegroups/sdk-test2481?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test2481",
        "name": "sdk-test2481",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test2481/providers/Microsoft.Search/searchServices/search3707?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "standard"
        },
        "tags": {},
        "location": "eastus2euap",
        "properties": {
          "replicaCount": 3,
          "partitionCount": 1,
          "hostingMode": "default"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "7789",
        "ETag": "W/\u0022datetime\u00272023-10-20T01%3A20%3A39.3738493Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test2481/providers/Microsoft.Search/searchServices/search3707",
        "name": "search3707",
        "type": "Microsoft.Search/searchServices",
        "location": "East US 2 EUAP",
        "tags": {},
        "properties": {
          "replicaCount": 3,
          "partitionCount": 1,
          "status": "provisioning",
          "statusDetails": "",
          "provisioningState": "provisioning",
          "hostingMode": "default",
          "publicNetworkAccess": "Enabled",
          "networkRuleSet": {
            "ipRules": [],
            "bypass": "None"
          },
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "encryptionWithCmk": {
            "enforcement": "Unspecified",
            "encryptionComplianceStatus": "Compliant"
          },
          "disableLocalAuth": false,
          "authOptions": {
            "apiKeyOnly": {}
          },
          "semanticSearch": "disabled"
        },
        "sku": {
          "name": "standard"
        }
      }
    },
[...]
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test2481/providers/Microsoft.Search/searchServices/search3707?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.Search/searchServices/search3707\u0027 under resource group \u0027sdk-test2481\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1037023805",
    "RESOURCE_MANAGER_URL": "https://eastus2euap.management.azure.com",
    "SERVICE_MANAGEMENT_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "c4a547de-4411-4447-964d-1edbc72cf116"
  }
}
