{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/829a4cbc-1cb1-4783-be15-75b2d8345e5c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/829a4cbc-1cb1-4783-be15-75b2d8345e5c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owner_team": "Engineering Systems",
          "security-classification": "team-sub"
        },
        "subscriptionId": "829a4cbc-1cb1-4783-be15-75b2d8345e5c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Search Dev API Foundations (kualu)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/829a4cbc-1cb1-4783-be15-75b2d8345e5c/resourcegroups/Search-SDK-Test4205?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/829a4cbc-1cb1-4783-be15-75b2d8345e5c/resourceGroups/Search-SDK-Test4205",
        "name": "Search-SDK-Test4205",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/829a4cbc-1cb1-4783-be15-75b2d8345e5c/resourceGroups/Search-SDK-Test4205/providers/Microsoft.Search/searchServices/search4212?api-version=2025-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "sku": {
          "name": "standard"
        },
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "hostingMode": "default"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "3996",
        "ETag": "W/\"datetime'2025-07-21T20%3A09%3A11.4958745Z'\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "location": "West US",
        "tags": {},
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "endpoint": "https://search4212.search.windows.net",
          "status": "running",
          "statusDetails": "",
          "provisioningState": "succeeded",
          "hostingMode": "default",
          "computeType": "Default",
          "publicNetworkAccess": "Enabled",
          "networkRuleSet": {
            "ipRules": [],
            "bypass": "None"
          },
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "encryptionWithCmk": {
            "enforcement": "Unspecified",
            "encryptionComplianceStatus": "Compliant"
          },
          "disableLocalAuth": false,
          "authOptions": {
            "apiKeyOnly": {}
          },
          "dataExfiltrationProtections": [],
          "semanticSearch": "free",
          "upgradeAvailable": "notAvailable",
          "serviceUpgradedAt": null
        },
        "systemData": {
          "createdAt": "2025-07-21T20:09:11.492Z"
        },
        "id": "/subscriptions/829a4cbc-1cb1-4783-be15-75b2d8345e5c/resourceGroups/Search-SDK-Test4205/providers/Microsoft.Search/searchServices/search4212",
        "name": "search4212",
        "type": "Microsoft.Search/searchServices",
        "sku": {
          "name": "standard"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/829a4cbc-1cb1-4783-be15-75b2d8345e5c/resourceGroups/Search-SDK-Test4205/providers/Microsoft.Search/searchServices/search4212/createQueryKey/queryKey-8221?api-version=2025-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "101",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "name": "queryKey-8221",
        "key": "Sanitized"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/829a4cbc-1cb1-4783-be15-75b2d8345e5c/resourceGroups/Search-SDK-Test4205/providers/Microsoft.Search/searchServices/search4212/deleteQueryKey/{sanitized-query-key}?api-version=2025-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "elapsed-time": "111",
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "842557044",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "829a4cbc-1cb1-4783-be15-75b2d8345e5c"
  }
}
