{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "4e9476e3-3c88-41e6-b696-03b019e05459",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Search TME Api Foundations (kualu)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourcegroups/SSS3PT_Search-SDK-Test5311?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourceGroups/SSS3PT_Search-SDK-Test5311",
        "name": "SSS3PT_Search-SDK-Test5311",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourceGroups/SSS3PT_Search-SDK-Test5311/providers/Microsoft.Search/searchServices/search5593?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "hostingMode": "default"
        },
        "sku": {
          "name": "standard"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "9667",
        "ETag": "W/\"datetime'2026-03-26T22%3A41%3A05.654948Z'\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "location": "West US",
        "tags": {},
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "endpoint": "https://search5593.search.windows.net",
          "status": "provisioning",
          "statusDetails": "",
          "provisioningState": "Provisioning",
          "hostingMode": "default",
          "computeType": "Default",
          "publicNetworkAccess": "Enabled",
          "networkRuleSet": {
            "ipRules": [],
            "bypass": "None"
          },
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "encryptionWithCmk": {
            "enforcement": "Unspecified",
            "encryptionComplianceStatus": "Compliant",
            "serviceLevelEncryptionKey": null
          },
          "disableLocalAuth": false,
          "authOptions": {
            "aadOrApiKey": {
              "aadAuthFailureMode": "http401WithBearerChallenge"
            }
          },
          "disabledDataExfiltrationOptions": [],
          "dataExfiltrationProtections": [],
          "semanticSearch": "free",
          "knowledgeRetrieval": "free",
          "upgradeAvailable": "notAvailable",
          "serviceUpgradedAt": null
        },
        "systemData": {
          "createdAt": "2026-03-26T22:41:05.651Z"
        },
        "id": "/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourceGroups/SSS3PT_Search-SDK-Test5311/providers/Microsoft.Search/searchServices/search5593",
        "name": "search5593",
        "type": "Microsoft.Search/searchServices",
        "sku": {
          "name": "standard"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourceGroups/SSS3PT_Search-SDK-Test5311/providers/Microsoft.Search/searchServices/search5593/createQueryKey/queryKey-3289?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "104",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "name": "queryKey-3289",
        "key": "Sanitized"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourceGroups/SSS3PT_Search-SDK-Test5311/providers/Microsoft.Search/searchServices/search5593/deleteQueryKey/{sanitized-query-key}?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "elapsed-time": "113",
        "x-ms-ratelimit-remaining-subscription-deletes": "199",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "2999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "821436075",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "4e9476e3-3c88-41e6-b696-03b019e05459"
  }
}
