{
  "Entries": [
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "248",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "4e9476e3-3c88-41e6-b696-03b019e05459",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Search TME Api Foundations (kualu)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourcegroups/Search-SDK-Test9041?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "198",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourceGroups/Search-SDK-Test9041",
        "name": "Search-SDK-Test9041",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourceGroups/Search-SDK-Test9041/providers/Microsoft.Search/searchServices/search5026?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "sku": {
          "name": "basic"
        },
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "hostingMode": "Default",
          "disableLocalAuth": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "3759",
        "ETag": "W/\"datetime'2026-03-02T22%3A58%3A47.1074083Z'\"",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "location": "West US",
        "tags": {},
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "endpoint": "https://search5026.search.windows.net",
          "status": "running",
          "statusDetails": "",
          "provisioningState": "Succeeded",
          "hostingMode": "Default",
          "computeType": "Default",
          "publicNetworkAccess": "Enabled",
          "networkRuleSet": {
            "ipRules": [],
            "bypass": "None"
          },
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "encryptionWithCmk": {
            "enforcement": "Unspecified",
            "encryptionComplianceStatus": "Compliant",
            "serviceLevelEncryptionKey": null
          },
          "disableLocalAuth": true,
          "authOptions": null,
          "disabledDataExfiltrationOptions": [],
          "dataExfiltrationProtections": [],
          "semanticSearch": "free",
          "knowledgeRetrieval": "free",
          "upgradeAvailable": "notAvailable",
          "serviceUpgradedAt": null
        },
        "systemData": {
          "createdAt": "2026-03-02T22:58:47.104Z"
        },
        "id": "/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourceGroups/Search-SDK-Test9041/providers/Microsoft.Search/searchServices/search5026",
        "name": "search5026",
        "type": "Microsoft.Search/searchServices",
        "sku": {
          "name": "basic"
        }
      }
    },
[...]
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourceGroups/Search-SDK-Test9041/providers/Microsoft.Search/searchServices/search5026?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "sku": {
          "name": "basic"
        },
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "hostingMode": "Default",
          "disableLocalAuth": false,
          "authOptions": {
            "apiKeyOnly": {}
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "186",
        "ETag": "W/\"datetime'2026-03-02T22%3A58%3A49.9263856Z'\"",
        "x-ms-ratelimit-remaining-subscription-writes": "197",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "location": "West US",
        "tags": {},
        "properties": {
          "replicaCount": 1,
          "part[...]
[...]
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourceGroups/Search-SDK-Test9041/providers/Microsoft.Search/searchServices/search5026?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "sku": {
          "name": "basic"
        },
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "hostingMode": "Default",
          "disableLocalAuth": false,
          "authOptions": {
            "aadOrApiKey": {
              "aadAuthFailureMode": "http401WithBearerChallenge"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "232",
        "ETag": "W/\"datetime'2026-03-02T22%3A58%3A51.1808747Z'\"",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "location": "West US",
        "tags": {},
        "properties": {
    [...]
[...]
