{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11827"
      },
      "ResponseBody": {
        "id": "/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "c4a547de-4411-4447-964d-1edbc72cf116",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Search ARM Test in Production Lab",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourcegroups/sdk-test226?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1168"
      },
      "ResponseBody": {
        "id": "/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test226",
        "name": "sdk-test226",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test226/providers/Microsoft.Search/searchServices/search1108?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "standard"
        },
        "tags": {},
        "location": "eastus2euap",
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "hostingMode": "default"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "3617",
        "ETag": "W/\u0022datetime\u00272023-10-24T23%3A07%3A17.842309Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1167"
      },
      "ResponseBody": {
        "id": "/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test226/providers/Microsoft.Search/searchServices/search1108",
        "name": "search1108",
        "type": "Microsoft.Search/searchServices",
        "location": "East US 2 EUAP",
        "tags": {},
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "status": "running",
          "statusDetails": "",
          "provisioningState": "succeeded",
          "hostingMode": "default",
          "publicNetworkAccess": "Enabled",
          "networkRuleSet": {
            "ipRules": [],
            "bypass": "None"
          },
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "encryptionWithCmk": {
            "enforcement": "Unspecified",
            "encryptionComplianceStatus": "Compliant"
          },
          "disableLocalAuth": false,
          "authOptions": {
            "apiKeyOnly": {}
          },
          "semanticSearch": "disabled"
        },
        "sku": {
          "name": "standard"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test226/providers/Microsoft.Search/searchServices/search1108/listAdminKeys?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "258",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "882557034",
    "SUBSCRIPTION_ID": "c4a547de-4411-4447-964d-1edbc72cf116"
  }
}
