{
  "Entries": [
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11840"
      },
      "ResponseBody": {
        "id": "/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "c4a547de-4411-4447-964d-1edbc72cf116",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Search ARM Test in Production Lab",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourcegroups/sdk-test9080?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test9080",
        "name": "sdk-test9080",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test9080/providers/Microsoft.Search/searchServices/search9631?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "standard"
        },
        "tags": {},
        "location": "eastus2euap",
        "properties": {
          "replicaCount": 3,
          "partitionCount": 1,
          "hostingMode": "default"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "7837",
        "ETag": "W/\u0022datetime\u00272023-10-20T02%3A14%3A30.5311067Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test9080/providers/Microsoft.Search/searchServices/search9631",
        "name": "search9631",
        "type": "Microsoft.Search/searchServices",
        "location": "East US 2 EUAP",
        "tags": {},
        "properties": {
          "replicaCount": 3,
          "partitionCount": 1,
          "status": "provisioning",
          "statusDetails": "",
          "provisioningState": "provisioning",
          "hostingMode": "default",
          "publicNetworkAccess": "Enabled",
          "networkRuleSet": {
            "ipRules": [],
            "bypass": "None"
          },
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "encryptionWithCmk": {
            "enforcement": "Unspecified",
            "encryptionComplianceStatus": "Compliant"
          },
          "disableLocalAuth": false,
          "authOptions": {
            "apiKeyOnly": {}
          },
          "semanticSearch": "disabled"
        },
        "sku": {
          "name": "standard"
        }
      }
    },
[...]
