{
  "Entries": [
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11845"
      },
      "ResponseBody": {
        "id": "/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "c4a547de-4411-4447-964d-1edbc72cf116",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Search ARM Test in Production Lab",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourcegroups/sdk-test9751?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test9751",
        "name": "sdk-test9751",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test9751/providers/Microsoft.Search/searchServices/search2562?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "standard"
        },
        "tags": {},
        "location": "eastus2euap",
        "properties": {
          "replicaCount": 3,
          "partitionCount": 1,
          "hostingMode": "default"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "8184",
        "ETag": "W/\u0022datetime\u00272023-10-20T12%3A52%3A30.2526428Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test9751/providers/Microsoft.Search/searchServices/search2562",
        "name": "search2562",
        "type": "Microsoft.Search/searchServices",
        "location": "East US 2 EUAP",
        "tags": {},
        "properties": {
          "replicaCount": 3,
          "partitionCount": 1,
          "status": "provisioning",
          "statusDetails": "",
          "provisioningState": "provisioning",
          "hostingMode": "default",
          "publicNetworkAccess": "Enabled",
          "networkRuleSet": {
            "ipRules": [],
            "bypass": "None"
          },
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "encryptionWithCmk": {
            "enforcement": "Unspecified",
            "encryptionComplianceStatus": "Compliant"
          },
          "disableLocalAuth": false,
          "authOptions": {
            "apiKeyOnly": {}
          },
          "semanticSearch": "disabled"
        },
        "sku": {
          "name": "standard"
        }
      }
    },
[...]
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test9751/providers/Microsoft.Search/searchServices/search2562/createQueryKey/queryKey-2109?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "206",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "name": "queryKey-2109",
        "key": "oDhSdm3b0MYExvsF0BE5XVxxdfJ3rHkZVC6YUXzzNMAzSeBeFjpf"
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test9751/providers/Microsoft.Search/searchServices/search2562/listQueryKeys?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "117",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "value": [
          {
            "name": null,
            "key": "Sanitized"
          },
          {
            "name": "queryKey-2109",
            "key": "Sanitized"
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2041639182",
    "RESOURCE_MANAGER_URL": "https://eastus2euap.management.azure.com",
    "SERVICE_MANAGEMENT_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "c4a547de-4411-4447-964d-1edbc72cf116"
  }
}
