{
  "Entries": [
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11818"
      },
      "ResponseBody": {
        "id": "/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "c4a547de-4411-4447-964d-1edbc72cf116",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Search ARM Test in Production Lab",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourcegroups/sdk-test745?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "id": "/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test745",
        "name": "sdk-test745",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test745/providers/Microsoft.Search/searchServices/search6000?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "standard"
        },
        "tags": {},
        "location": "eastus2euap",
        "properties": {
          "replicaCount": 3,
          "partitionCount": 1,
          "hostingMode": "default"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "7838",
        "ETag": "W/\u0022datetime\u00272023-10-20T15%3A38%3A36.2825855Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1181"
      },
      "ResponseBody": {
        "id": "/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test745/providers/Microsoft.Search/searchServices/search6000",
        "name": "search6000",
        "type": "Microsoft.Search/searchServices",
        "location": "East US 2 EUAP",
        "tags": {},
        "properties": {
          "replicaCount": 3,
          "partitionCount": 1,
          "status": "provisioning",
          "statusDetails": "",
          "provisioningState": "provisioning",
          "hostingMode": "default",
          "publicNetworkAccess": "Enabled",
          "networkRuleSet": {
            "ipRules": [],
            "bypass": "None"
          },
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "encryptionWithCmk": {
            "enforcement": "Unspecified",
            "encryptionComplianceStatus": "Compliant"
          },
          "disableLocalAuth": false,
          "authOptions": {
            "apiKeyOnly": {}
          },
          "semanticSearch": "disabled"
        },
        "sku": {
          "name": "standard"
        }
      }
    },
[...]
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test745/providers/Microsoft.Search/searchServices/search6000/createQueryKey/queryKey-8695?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "124",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "name": "queryKey-8695",
        "key": "DuAZ6jDzbOG300FQns00Q5ws6aY8g0uS7WDgkfsEGZAzSeDfTdje"
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/c4a547de-4411-4447-964d-1edbc72cf116/resourceGroups/sdk-test745/providers/Microsoft.Search/searchServices/search6000/listQueryKeys?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "107",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "value": [
          {
            "name": null,
            "key": "Sanitized"
          },
          {
            "name": "queryKey-8695",
            "key": "Sanitized"
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1172436641",
    "RESOURCE_MANAGER_URL": "https://eastus2euap.management.azure.com",
    "SERVICE_MANAGEMENT_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "c4a547de-4411-4447-964d-1edbc72cf116"
  }
}
