{
  "Entries": [
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/1share-with-dash169472088518501426?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55B83D4DAD6\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:48:06 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/1share-with-dash169472088518501426/dir169472088518507782?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55B83E6B31A\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:48:06 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-09-14T19:48:06.2642970Z",
        "x-ms-file-creation-time": "2023-09-14T19:48:06.2642970Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-14T19:48:06.2642970Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/1share-with-dash169472088518501426/dir169472088518507782/%E6%B1%89%E5%AD%97.%20special%20~!%40%23%24%25%5E%26()_%2B%601234567890-%3D%7B%7D%5B%5D%3B%27%2C%27169472088541202038?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "10",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55B83F815B5\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:48:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-14T19:48:06.3782325Z",
        "x-ms-file-creation-time": "2023-09-14T19:48:06.3782325Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-09-14T19:48:06.3782325Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/1share-with-dash169472088518501426/dir169472088518507782/%E6%B1%89%E5%AD%97.%20special%20~!%40%23%24%25%5E%26()_%2B%601234567890-%3D%7B%7D%5B%5D%3B%27%2C%27169472088541202038?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBB55B83F815B5\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:48:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-14T19:48:06.3782325Z",
        "x-ms-file-creation-time": "2023-09-14T19:48:06.3782325Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-09-14T19:48:06.3782325Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/1share-with-dash169472088518501426/dir169472088518507782?comp=list\u0026prefix=%E6%B1%89%E5%AD%97.%20special%20~!%40%23%24%25%5E%26()_%2B%601234567890-%3D%7B%7D%5B%5D%3B%27%2C%27169472088541202038\u0026restype=directory\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Typ[...]
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/1share-with-dash169472088518501426?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "1share-with-dash": "1share-with-dash169472088518501426",
    "dir": "dir169472088518507782",
    "\u6C49\u5B57. special ~!@#$%^\u0026()_\u002B\u00601234567890-={}[];\u0027,\u0027": "\u6C49\u5B57. special ~!@#$%^\u0026()_\u002B\u00601234567890-={}[];\u0027,\u0027169472088541202038"
  }
}
