{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/1share-with-dash175860578658507338?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA6325FCB4E5\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:36:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/1share-with-dash175860578658507338/dir175860578658508425?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA63262A9F27\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:36:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-23T05:36:30.5512231Z",
        "x-ms-file-creation-time": "2025-09-23T05:36:30.5512231Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-23T05:36:30.5512231Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/1share-with-dash175860578658507338/dir175860578658508425/Upper%20file%20empty%20another175860578718507130?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-content-length": "10",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA632658A74F\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:36:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-23T05:36:30.8528975Z",
        "x-ms-file-creation-time": "2025-09-23T05:36:30.8528975Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-23T05:36:30.8528975Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/1share-with-dash175860578658507338/dir175860578658508425/Upper%20file%20empty%20another175860578718507130?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DDFA632658A74F\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:36:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-23T05:36:30.8528975Z",
        "x-ms-file-creation-time": "2025-09-23T05:36:30.8528975Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-23T05:36:30.8528975Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/1share-with-dash175860578658507338/dir175860578658508425?comp=list&prefix=Upper%20file%20empty%20another175860578718507130&restype=directory&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"1share-with-dash175860578658507338\" DirectoryPath=\"dir175860578658508425\"><Prefix>Upper file empty another175860578718507130</Prefix><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>Upper file empty another175860578718507130</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>10</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/1share-with-dash175860578658507338?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "1share-with-dash": "1share-with-dash175860578658507338",
    "dir": "dir175860578658508425",
    "Upper file empty another": "Upper file empty another175860578718507130"
  }
}
