{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/1share-with-dash175860580922200721?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA63337B095F\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:36:52 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/1share-with-dash175860580922200721/dir175860580922204392?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA6333A8D87C\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:36:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-23T05:36:53.1888252Z",
        "x-ms-file-creation-time": "2025-09-23T05:36:53.1888252Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-23T05:36:53.1888252Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/1share-with-dash175860580922200721/dir175860580922204392/%D8%B9%D8%B1%D8%A8%D9%8A%D8%B9%D8%B1%D8%A8%D9%89175860580982009672?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-content-length": "10",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA6333D6451B\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:36:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-23T05:36:53.4865179Z",
        "x-ms-file-creation-time": "2025-09-23T05:36:53.4865179Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-23T05:36:53.4865179Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/1share-with-dash175860580922200721/dir175860580922204392/%D8%B9%D8%B1%D8%A8%D9%8A%D8%B9%D8%B1%D8%A8%D9%89175860580982009672?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DDFA6333D6451B\"",
        "Last-Modified": "Tue, 23 Sep 2025 05:36:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-23T05:36:53.4865179Z",
        "x-ms-file-creation-time": "2025-09-23T05:36:53.4865179Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-23T05:36:53.4865179Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/1share-with-dash175860580922200721/dir175860580922204392?comp=list&prefix=%D8%B9%D8%B1%D8%A8%D9%8A%D8%B9%D8%B1%D8%A8%D9%89175860580982009672&restype=directory&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"1share-with-dash175860580922200721\" DirectoryPath=\"dir175860580922204392\"><Prefix>عربيعربى175860580982009672</Prefix><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>عربيعربى175860580982009672</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>10</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/1share-with-dash175860580922200721?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "1share-with-dash": "1share-with-dash175860580922200721",
    "dir": "dir175860580922204392",
    "عربيعربى": "عربيعربى175860580982009672"
  }
}
