{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "c3e77514-7d11-426f-83ca-88c20971594c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "DP-Renzo-DevTest",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourcegroups/sdk-test-rg71911022?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg71911022",
        "name": "sdk-test-rg71911022",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg71911022/providers/Microsoft.DatabaseFleetManager/fleets/fleet2489?api-version=2025-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/9a817a82-56aa-4dc1-87e4-d5a2a3d5019d?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded"
        },
        "location": "UK South",
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg71911022/providers/Microsoft.DatabaseFleetManager/fleets/fleet2489",
        "name": "fleet2489",
        "type": "Microsoft.DatabaseFleetManager/fleets"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/9a817a82-56aa-4dc1-87e4-d5a2a3d5019d?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/9a817a82-56aa-4dc1-87e4-d5a2a3d5019d?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/9a817a82-56aa-4dc1-87e4-d5a2a3d5019d",
        "name": "9a817a82-56aa-4dc1-87e4-d5a2a3d5019d",
        "status": "Succeeded",
        "startTime": "2025-02-24T15:16:40.377Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg71911022/providers/Microsoft.DatabaseFleetManager/fleets/fleet2489/tiers/tier1620?api-version=2025-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "pooled": true,
          "serviceTier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 2,
          "poolNumOfDatabasesMax": 4,
          "databaseCapacityMin": 0,
          "databaseCapacityMax": 2
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleet/operationStatuses/f4cb1a1a-0d99-9340-0e4b-bb99e77f6a97?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "disabled": false,
          "serverless": false,
          "pooled": true,
          "serviceTier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 2,
          "poolNumOfDatabasesMax": 4,
          "databaseCapacityMin": 0.0,
          "databaseCapacityMax": 2.0,
          "provisioningState": "Accepted",
          "zoneRedundancy": "Disabled"
        },
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg71911022/providers/Microsoft.DatabaseFleetManager/fleets/fleet2489/tiers/tier1620",
        "name": "tier1620",
        "type": "Microsoft.DatabaseFleetManager/fleets/tiers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleet/operationStatuses/f4cb1a1a-0d99-9340-0e4b-bb99e77f6a97?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleet/operationStatuses/f4cb1a1a-0d99-9340-0e4b-bb99e77f6a97?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleet/operationStatuses/f4cb1a1a-0d99-9340-0e4b-bb99e77f6a97",
        "name": "f4cb1a1a-0d99-9340-0e4b-bb99e77f6a97",
        "status": "Succeeded",
        "startTime": "2025-02-24T15:16:41.177Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg71911022/providers/Microsoft.DatabaseFleetManager/fleets/fleet2489/tiers?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "disabled": false,
              "serverless": false,
              "pooled": true,
              "serviceTier": "GeneralPurpose",
              "family": "Gen5",
              "capacity": 2,
              "poolNumOfDatabasesMax": 4,
              "databaseCapacityMin": 0.0,
              "databaseCapacityMax": 2.0,
              "provisioningState": "Succeeded",
              "zoneRedundancy": "Disabled"
            },
            "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg71911022/providers/Microsoft.DatabaseFleetManager/fleets/fleet2489/tiers/tier1620",
            "name": "tier1620",
            "type": "Microsoft.DatabaseFleetManager/fleets/tiers"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg71911022/providers/Microsoft.DatabaseFleetManager/fleets?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded"
            },
            "location": "UK South",
            "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg71911022/providers/Microsoft.DatabaseFleetManager/fleets/fleet2489",
            "name": "fleet2489",
            "type": "Microsoft.DatabaseFleetManager/fleets"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg71911022/providers/Microsoft.DatabaseFleetManager/fleets/fleet2489?api-version=2025-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/678c07ac-4189-4b9a-922d-dc593dbcbf9f?api-version=2025-02-01-preview",
        "Location": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationResults/678c07ac-4189-4b9a-922d-dc593dbcbf9f?api-version=2025-02-01-preview",
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/678c07ac-4189-4b9a-922d-dc593dbcbf9f?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/678c07ac-4189-4b9a-922d-dc593dbcbf9f?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/678c07ac-4189-4b9a-922d-dc593dbcbf9f",
        "name": "678c07ac-4189-4b9a-922d-dc593dbcbf9f",
        "status": "Succeeded",
        "startTime": "2025-02-24T15:16:42.16Z"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "641705587",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "c3e77514-7d11-426f-83ca-88c20971594c"
  }
}
