{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-2601375819?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 06:09:20 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC94DD5AC2C1D8\"",
        "Last-Modified": "Tue, 25 Jun 2024 06:09:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-2601375819/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 25 Jun 2024 06:09:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\"0x8DC94DD5ACC3A40\"",
        "Last-Modified": "Tue, 25 Jun 2024 06:09:21 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/target-5563598824?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 06:09:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC94DD5AD41922\"",
        "Last-Modified": "Tue, 25 Jun 2024 06:09:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeEndpoint-doctranslation.cognitiveservices.azure.com/translator/document/batches/2dc8c6da-8551-4952-82f9-cdb8b33c4ea3?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "91e80c18-7784-4ba5-9847-efb03b23172c"
      },
      "ResponseBody": {
        "id": "2dc8c6da-8551-4952-82f9-cdb8b33c4ea3",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/2dc8c6da-8551-4952-82f9-cdb8b33c4ea3?api-version=2024-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "630005d5-97ce-4b72-b98a-3bad8813d694"
      },
      "ResponseBody": {
        "id": "2dc8c6da-8551-4952-82f9-cdb8b33c4ea3",
        "createdDateTimeUtc": "2024-06-25T06:09:21.2943603Z",
        "lastActionDateTimeUtc": "2024-06-25T06:09:21.3732643Z",
        "status": "Cancelling",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/2dc8c6da-8551-4952-82f9-cdb8b33c4ea3?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"488B4A2DB10E5CAAEF9E9C447551E3B8B2F8726733505BF4BB44714E80B579A6\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "2503a275-5f7c-40fd-9cf1-c6781be27736"
      },
      "ResponseBody": {
        "id": "2dc8c6da-8551-4952-82f9-cdb8b33c4ea3",
        "createdDateTimeUtc": "2024-06-25T06:09:21.2943603Z",
        "lastActionDateTimeUtc": "2024-06-25T06:09:21.3732643Z",
        "status": "Cancelling",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    }
  ],
  "Variables": {
    "sourceContainer": "source-2601375819",
    "targetContainer": "target-5563598824"
  }
}
