{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-6380432889?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9ACCEE16E06F\"",
        "Last-Modified": "Tue, 02 Jul 2024 19:26:53 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-6380432889/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\"0x8DC9ACCEE2807F5\"",
        "Last-Modified": "Tue, 02 Jul 2024 19:26:53 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/target-7000125851?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9ACCEE8F2611\"",
        "Last-Modified": "Tue, 02 Jul 2024 19:26:54 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeEndpoint-doctranslation.cognitiveservices.azure.com/translator/document/batches/8e2f6eb4-d74a-44ed-b2d9-bc111cbfbda9?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "1c93af2a-d8f5-437a-b5ac-52f693243545"
      },
      "ResponseBody": {
        "id": "8e2f6eb4-d74a-44ed-b2d9-bc111cbfbda9",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/8e2f6eb4-d74a-44ed-b2d9-bc111cbfbda9?api-version=2024-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "6cbdc0b2-fcc1-4dd8-88c4-e1c745d2c5cd"
      },
      "ResponseBody": {
        "id": "8e2f6eb4-d74a-44ed-b2d9-bc111cbfbda9",
        "createdDateTimeUtc": "2024-07-02T19:27:19.8538087Z",
        "lastActionDateTimeUtc": "2024-07-02T19:27:20.3439432Z",
        "status": "Cancelling",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/8e2f6eb4-d74a-44ed-b2d9-bc111cbfbda9?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"32F3BB30F4F64F1BBE6BD21919209A2548C0D2B1F9EB2AFC155AAE7A3169B667\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "44c18cb7-b5fd-4e0d-ae1b-bcf85c25474f"
      },
      "ResponseBody": {
        "id": "8e2f6eb4-d74a-44ed-b2d9-bc111cbfbda9",
        "createdDateTimeUtc": "2024-07-02T19:27:19.8538087Z",
        "lastActionDateTimeUtc": "2024-07-02T19:27:20.3439432Z",
        "status": "Cancelling",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    }
  ],
  "Variables": {
    "sourceContainer": "source-6380432889",
    "targetContainer": "target-7000125851"
  }
}
