{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/access-tokens/e033065c-2d03-497d-9cb9-11dcbaa1473c?api-version=2026-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "tk-g-9646",
        "expiryAt": "2026-11-25T08:06:27Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2025-07-01-preview, 2025-09-01, 2026-01-01-preview, 2026-04-01-preview, 2026-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4b2e3300-5b35-11f1-ad87-000d3af09e41",
        "x-correlation-id": "4b2e3300-5b35-11f1-ad87-000d3af09e41"
      },
      "ResponseBody": {
        "jwtToken": "sanitized",
        "id": "e033065c-2d03-497d-9cb9-11dcbaa1473c",
        "name": "tk-g-9646",
        "createdAt": "2026-05-29T08:06:29.817363Z",
        "expiryAt": "2026-11-25T08:06:27Z",
        "state": "Active"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/access-tokens/e033065c-2d03-497d-9cb9-11dcbaa1473c?api-version=2026-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2025-07-01-preview, 2025-09-01, 2026-01-01-preview, 2026-04-01-preview, 2026-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4c6f8a81-5b35-11f1-adc5-000d3af09e41",
        "x-correlation-id": "4c6f8a81-5b35-11f1-adc5-000d3af09e41"
      },
      "ResponseBody": {
        "jwtToken": null,
        "id": "e033065c-2d03-497d-9cb9-11dcbaa1473c",
        "name": "tk-g-9646",
        "createdAt": "2026-05-29T08:06:29.817363Z",
        "expiryAt": "2026-11-25T08:06:27Z",
        "state": "Active"
      }
    }
  ],
  "Variables": {
    "expiry": "2026-11-25T08:06:27Z",
    "suffix": "9646",
    "token_id": "e033065c-2d03-497d-9cb9-11dcbaa1473c"
  }
}
