{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.reporting.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/test-runs/53f7b9e2-79a8-424a-8e05-9bdfcc3686ce?api-version=2026-04-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "displayName": "test-run"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-20-preview, 2024-09-01-preview, 2025-07-01-preview, 2025-09-01, 2026-04-01-preview, 2026-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bc1b7cdc-f254-4652-985a-a95b6314ed3f",
        "x-correlation-id": "bc1b7cdc-f254-4652-985a-a95b6314ed3f"
      },
      "ResponseBody": {
        "runId": "53f7b9e2-79a8-424a-8e05-9bdfcc3686ce",
        "displayName": "test-run",
        "creatorId": "00000000-0000-0000-0000-000000000000",
        "creatorName": "Sanitized",
        "summary": {
          "status": "RUNNING",
          "billableTime": 0,
          "numBrowserSessions": 0,
          "startTime": "2026-05-28T23:07:34Z",
          "duration": 0
        }
      }
    }
  ],
  "Variables": {
    "run_id": "53f7b9e2-79a8-424a-8e05-9bdfcc3686ce"
  }
}
