{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/access-tokens/c499c245-76bd-43c6-b36f-9b4447e0d932?api-version=2026-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "tk-g-a25f",
        "expiryAt": "2026-11-24T23:07:14Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2025-07-01-preview, 2025-09-01, 2026-01-01-preview, 2026-04-01-preview, 2026-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f7444055-5ae9-11f1-bf13-000d3af09e41",
        "x-correlation-id": "f7444055-5ae9-11f1-bf13-000d3af09e41"
      },
      "ResponseBody": {
        "jwtToken": "sanitized",
        "id": "c499c245-76bd-43c6-b36f-9b4447e0d932",
        "name": "tk-g-a25f",
        "createdAt": "2026-05-28T23:07:17.08381Z",
        "expiryAt": "2026-11-24T23:07:14Z",
        "state": "Active"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/access-tokens/c499c245-76bd-43c6-b36f-9b4447e0d932?api-version=2026-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2025-07-01-preview, 2025-09-01, 2026-01-01-preview, 2026-04-01-preview, 2026-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f8aa2a0b-5ae9-11f1-a834-000d3af09e41",
        "x-correlation-id": "f8aa2a0b-5ae9-11f1-a834-000d3af09e41"
      },
      "ResponseBody": {
        "jwtToken": null,
        "id": "c499c245-76bd-43c6-b36f-9b4447e0d932",
        "name": "tk-g-a25f",
        "createdAt": "2026-05-28T23:07:17.08381Z",
        "expiryAt": "2026-11-24T23:07:14Z",
        "state": "Active"
      }
    }
  ],
  "Variables": {
    "expiry": "2026-11-24T23:07:14Z",
    "suffix": "a25f",
    "token_id": "c499c245-76bd-43c6-b36f-9b4447e0d932"
  }
}
