{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/browsers?api-version=2026-04-01-preview&os=Linux",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 302,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2025-07-01-preview, 2025-09-01, 2026-01-01-preview, 2026-04-01-preview",
        "Location": "https://example.com",
        "mise-correlation-id": "06ea073d-5aea-11f1-b2fc-000d3af09e41",
        "x-correlation-id": "06ea073d-5aea-11f1-b2fc-000d3af09e41"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
