{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.reporting.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/test-runs/4f8dadcd-1e5e-48b0-8d3d-e6e5468366c7?api-version=2026-04-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "displayName": "test-run-for-get"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-20-preview, 2024-09-01-preview, 2025-07-01-preview, 2025-09-01, 2026-04-01-preview, 2026-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e71125c1-4210-409e-8a92-5bc6da657de0",
        "x-correlation-id": "e71125c1-4210-409e-8a92-5bc6da657de0"
      },
      "ResponseBody": {
        "runId": "4f8dadcd-1e5e-48b0-8d3d-e6e5468366c7",
        "displayName": "test-run-for-get",
        "creatorId": "00000000-0000-0000-0000-000000000000",
        "creatorName": "Sanitized",
        "summary": {
          "status": "RUNNING",
          "billableTime": 0,
          "numBrowserSessions": 0,
          "startTime": "2026-05-29T08:06:54Z",
          "duration": 0
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.reporting.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/test-runs/4f8dadcd-1e5e-48b0-8d3d-e6e5468366c7?api-version=2026-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-20-preview, 2024-09-01-preview, 2025-07-01-preview, 2025-09-01, 2026-04-01-preview, 2026-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "09165cf1-5c96-4908-8a06-e8fa45418282",
        "x-correlation-id": "09165cf1-5c96-4908-8a06-e8fa45418282"
      },
      "ResponseBody": {
        "runId": "4f8dadcd-1e5e-48b0-8d3d-e6e5468366c7",
        "displayName": "test-run-for-get",
        "creatorId": "00000000-0000-0000-0000-000000000000",
        "creatorName": "Sanitized",
        "summary": {
          "status": "RUNNING",
          "billableTime": 0,
          "numBrowserSessions": 0,
          "startTime": "2026-05-29T08:06:54Z",
          "duration": 0
        }
      }
    }
  ],
  "Variables": {
    "run_id": "4f8dadcd-1e5e-48b0-8d3d-e6e5468366c7"
  }
}
