{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.reporting.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/test-runs/967366fb-716d-469b-bd82-9ba7b77e7a30?api-version=2026-04-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "displayName": "test-run"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-20-preview, 2024-09-01-preview, 2025-07-01-preview, 2025-09-01, 2026-04-01-preview, 2026-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "63f96905-9a83-4215-b95b-8dd33cae1e30",
        "x-correlation-id": "63f96905-9a83-4215-b95b-8dd33cae1e30"
      },
      "ResponseBody": {
        "runId": "967366fb-716d-469b-bd82-9ba7b77e7a30",
        "displayName": "test-run",
        "creatorId": "00000000-0000-0000-0000-000000000000",
        "creatorName": "Sanitized",
        "summary": {
          "status": "RUNNING",
          "billableTime": 0,
          "numBrowserSessions": 0,
          "startTime": "2026-05-29T08:06:45Z",
          "duration": 0
        }
      }
    }
  ],
  "Variables": {
    "run_id": "967366fb-716d-469b-bd82-9ba7b77e7a30"
  }
}
