{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.reporting.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/test-runs/dde8f94e-505f-4744-9db2-a89152c76f94?api-version=2026-04-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "displayName": "test-run"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-20-preview, 2024-09-01-preview, 2025-07-01-preview, 2025-09-01, 2026-04-01-preview, 2026-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "922366aa-0626-4130-a802-af57c0af96dd",
        "x-correlation-id": "922366aa-0626-4130-a802-af57c0af96dd"
      },
      "ResponseBody": {
        "runId": "dde8f94e-505f-4744-9db2-a89152c76f94",
        "displayName": "test-run",
        "creatorId": "00000000-0000-0000-0000-000000000000",
        "creatorName": "Sanitized",
        "summary": {
          "status": "RUNNING",
          "billableTime": 0,
          "numBrowserSessions": 0,
          "startTime": "2026-05-28T23:07:38Z",
          "duration": 0
        }
      }
    }
  ],
  "Variables": {
    "run_id": "dde8f94e-505f-4744-9db2-a89152c76f94"
  }
}
