{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/access-tokens/cac850a3-5d2b-4359-8bb4-e253155c5976?api-version=2026-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "tk-c-1e03",
        "expiryAt": "2026-11-24T23:07:22Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2025-07-01-preview, 2025-09-01, 2026-01-01-preview, 2026-04-01-preview, 2026-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fbae4d7a-5ae9-11f1-8bc7-000d3af09e41",
        "x-correlation-id": "fbae4d7a-5ae9-11f1-8bc7-000d3af09e41"
      },
      "ResponseBody": {
        "jwtToken": "sanitized",
        "id": "cac850a3-5d2b-4359-8bb4-e253155c5976",
        "name": "tk-c-1e03",
        "createdAt": "2026-05-28T23:07:24.3297617Z",
        "expiryAt": "2026-11-24T23:07:22Z",
        "state": "Active"
      }
    }
  ],
  "Variables": {
    "expiry": "2026-11-24T23:07:22Z",
    "suffix": "1e03",
    "token_id": "cac850a3-5d2b-4359-8bb4-e253155c5976"
  }
}
