{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/CB167F9B50FBA9AFEB52682775D5C98FDAB7A5F7B4C483D5EC?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:22:17 GMT"
      },
      "RequestBody": {
        "exceptionRules": [
          {
            "id": "2890750F1FA7824E176E36BA0D553AD8CCC84D29347EC89B63",
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": [
              {
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "kind": "cancel"
              }
            ]
          }
        ],
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221800da00-0000-0700-0000-654ac6aa0000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:22:18 GMT",
        "trace-id": "9ffc3fb9-e132-53c1-07b2-66bc56d278d4"
      },
      "ResponseBody": {
        "id": "CB167F9B50FBA9AFEB52682775D5C98FDAB7A5F7B4C483D5EC",
        "exceptionRules": [
          {
            "id": "2890750F1FA7824E176E36BA0D553AD8CCC84D29347EC89B63",
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel",
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "id": "aca6361e-a663-47ae-b70f-65fabf859cf6"
              }
            ]
          }
        ],
        "etag": "\u00221800da00-0000-0700-0000-654ac6aa0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/CB167F9B50FBA9AFEB52682775D5C98FDAB7A5F7B4C483D5EC?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:22:18 GMT"
      },
      "RequestBody": {
        "name": "CB167F9B50FBA9AFEB52682775D5C98FDAB7A5F7B4C483D5EC-ExceptionPolicyName",
        "exceptionRules": [],
        "etag": ""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221800db00-0000-0700-0000-654ac6aa0000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:22:18 GMT",
        "trace-id": "27bfd930-6b18-fa50-f5f4-784637cda9e8"
      },
      "ResponseBody": {
        "id": "CB167F9B50FBA9AFEB52682775D5C98FDAB7A5F7B4C483D5EC",
        "name": "CB167F9B50FBA9AFEB52682775D5C98FDAB7A5F7B4C483D5EC-ExceptionPolicyName",
        "exceptionRules": [],
        "etag": "\u00221800db00-0000-0700-0000-654ac6aa0000\u0022"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-p_HyBZMvIE-l0lUOcNZ5Rw-",
    "RandomSeed": "122577401"
  }
}
