{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/D2811BAC8B26AB2FC9D47F951B2520D436971EB9FFCAC79398?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:22:35 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyD2811BAC8B26AB2FC9D47F951B2520D436971EB9FFCAC79398",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002242002b41-0000-0700-0000-653ff46a0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:22:34 GMT",
        "trace-id": "0b965d10-2c05-ddbb-428d-5888778d3c32"
      },
      "ResponseBody": {
        "id": "D2811BAC8B26AB2FC9D47F951B2520D436971EB9FFCAC79398",
        "name": "LongestIdleDistributionPolicyD2811BAC8B26AB2FC9D47F951B2520D436971EB9FFCAC79398",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002242002b41-0000-0700-0000-653ff46a0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/D2811BAC8B26AB2FC9D47F951B2520D436971EB9FFCAC79398?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:22:35 GMT"
      },
      "RequestBody": {
        "distributionPolicyId": "D2811BAC8B26AB2FC9D47F951B2520D436971EB9FFCAC79398"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f000ce88-0000-0700-0000-653ff46a0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:22:34 GMT",
        "trace-id": "1f4982b7-ee68-c1c6-ab53-265c18120e6e"
      },
      "ResponseBody": {
        "id": "D2811BAC8B26AB2FC9D47F951B2520D436971EB9FFCAC79398",
        "distributionPolicyId": "D2811BAC8B26AB2FC9D47F951B2520D436971EB9FFCAC79398",
        "labels": {
          "Id": "D2811BAC8B26AB2FC9D47F951B2520D436971EB9FFCAC79398"
        },
        "etag": "\u0022f000ce88-0000-0700-0000-653ff46a0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/D2811BAC8B26AB2FC9D47F951B2520D436971EB9FFCAC79398?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:22:36 GMT"
      },
      "RequestBody": {
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220600b906-0000-0700-0000-653ff46a0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:22:34 GMT",
        "trace-id": "b14dafe3-f82b-30cd-bc8f-a3d7b10ffb03"
      },
      "ResponseBody": {
        "id": "D2811BAC8B26AB2FC9D47F951B2520D436971EB9FFCAC79398",
        "queueSelectorAttachments": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectorAttachments": [],
        "etag": "\u00220600b906-0000-0700-0000-653ff46a0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/D2811BAC8B26AB2FC9D47F951B2520D436971EB9FFCAC79398?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:22:36 GMT"
      },
      "RequestBody": {
        "exceptionRules": [
          {
            "id": "092C9A5215FF83601B5AEC5BAE5D113408F3B4B2B8BDEE76EE",
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": [
              {
                "classificationPolicyId": "D2811BAC8B26AB2FC9D47F951B2520D436971EB9FFCAC79398",
                "labelsToUpsert": {
                  "Label_1": "Value_1"
                },
                "kind": "reclassify"
              },
              {
                "queueId": "D2811BAC8B26AB2FC9D47F951B2520D436971EB9FFCAC79398",
                "priority": 1,
                "workerSelectors": [
                  {
                    "key": "abc",
                    "labelOperator": "equal",
                    "value": 1
                  }
                ],
                "kind": "manual-reclassify"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c008b0b-0000-0700-0000-653ff46a0000\u0022",
        "Last-Modified": "M[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/D2811BAC8B26AB2FC9D47F951B2520D436971EB9FFCAC79398?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:22:36 GMT"
      },
      "RequestBody": {
        "name": "D2811BAC8B26AB2FC9D47F951B2520D436971EB9FFCAC79398-ExceptionPolicyName",
        "exceptionRules": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c008c0b-0000-0700-0000-653ff46a0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:22:34 GMT",
        "trace-id": "8167b3e0-6876-99d8-c43e-be3cca009fae"
      },
      "ResponseBody": {
        "id": "D2811BAC8B26AB2FC9D47F951B2520D436971EB9FFCAC79398",
        "name": "D2811BAC8B26AB2FC9D47F951B2520D436971EB9FFCAC79398-ExceptionPolicyName",
        "exceptionRules": [],
        "etag": "\u00220c008c0b-0000-0700-0000-653ff46a0000\u0022"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-1p58rUeh6EOIIe740msNDQ-",
    "RandomSeed": "1082888680"
  }
}
