{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/0F17D68D0F586A37408222E1BEBAE13AA4841B587E97405B20?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:03:44 GMT"
      },
      "RequestBody": {
        "exceptionRules": [
          {
            "id": "6316E85AA28CF20E047DC17A49587B64922BCF1F07DCC4E6B3",
            "trigger": {
              "threshold": 1,
              "kind": "queueLength"
            },
            "actions": [
              {
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220300fa8f-0000-0700-0000-65de78600000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:03:44 GMT",
        "trace-id": "b5f3f672-d2c5-4ac3-ebe6-c6a1712e4125"
      },
      "ResponseBody": {
        "id": "0F17D68D0F586A37408222E1BEBAE13AA4841B587E97405B20",
        "exceptionRules": [
          {
            "id": "6316E85AA28CF20E047DC17A49587B64922BCF1F07DCC4E6B3",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel",
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "id": "d4587005-a93a-43e9-bc82-ab77f1dc959e"
              }
            ]
          }
        ],
        "etag": "\u00220300fa8f-0000-0700-0000-65de78600000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/0F17D68D0F586A37408222E1BEBAE13AA4841B587E97405B20?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:03:44 GMT"
      },
      "RequestBody": {
        "name": "0F17D68D0F586A37408222E1BEBAE13AA4841B587E97405B20-ExceptionPolicyName",
        "exceptionRules": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220300fb8f-0000-0700-0000-65de78610000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:03:45 GMT",
        "trace-id": "9b503c09-523b-4faf-db7f-ecaf7fc93788"
      },
      "ResponseBody": {
        "id": "0F17D68D0F586A37408222E1BEBAE13AA4841B587E97405B20",
        "name": "0F17D68D0F586A37408222E1BEBAE13AA4841B587E97405B20-ExceptionPolicyName",
        "exceptionRules": [],
        "etag": "\u00220300fb8f-0000-0700-0000-65de78610000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/0F17D68D0F586A37408222E1BEBAE13AA4841B587E97405B20?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Wed, 28 Feb 2024 00:03:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "d47a90d9-4ba7-670a-0652-9f532382d291"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-3S2YdpqO20WiNxBTWKxZbg-",
    "RandomSeed": "911222732"
  }
}
