{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/AE9415DF54880A4F1ECD3402D43E7BCC033B298B7D60590B73?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 19:56:34 GMT"
      },
      "RequestBody": {
        "exceptionRules": [
          {
            "id": "B1D290C7ADC3CA4BCFD008517ED6DF25DCE5829EC0DA7AE20A",
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": [
              {
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "kind": "cancel"
              }
            ]
          }
        ],
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220d005d60-0000-0700-0000-65415bf60000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 19:56:38 GMT",
        "trace-id": "bfa9e6f0-0b90-88ac-c2ec-984f2261aae9"
      },
      "ResponseBody": {
        "id": "AE9415DF54880A4F1ECD3402D43E7BCC033B298B7D60590B73",
        "exceptionRules": [
          {
            "id": "B1D290C7ADC3CA4BCFD008517ED6DF25DCE5829EC0DA7AE20A",
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel",
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "id": "0f0df17d-9de6-41eb-bc67-76f2c42d2e51"
              }
            ]
          }
        ],
        "etag": "\u00220d005d60-0000-0700-0000-65415bf60000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/AE9415DF54880A4F1ECD3402D43E7BCC033B298B7D60590B73?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 19:56:34 GMT"
      },
      "RequestBody": {
        "name": "AE9415DF54880A4F1ECD3402D43E7BCC033B298B7D60590B73-ExceptionPolicyName",
        "exceptionRules": [],
        "etag": ""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220d005e60-0000-0700-0000-65415bf60000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 19:56:38 GMT",
        "trace-id": "34ded08e-fb27-9223-2173-3046d433ee26"
      },
      "ResponseBody": {
        "id": "AE9415DF54880A4F1ECD3402D43E7BCC033B298B7D60590B73",
        "name": "AE9415DF54880A4F1ECD3402D43E7BCC033B298B7D60590B73-ExceptionPolicyName",
        "exceptionRules": [],
        "etag": "\u00220d005e60-0000-0700-0000-65415bf60000\u0022"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-k8iW3uT2NUKYJ2hgGth7ng-",
    "RandomSeed": "1971780644"
  }
}
