{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/674DD9CC6B1C6B37CC8A367C740607EA428834AE4EF6D27275?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 18:54:10 GMT"
      },
      "RequestBody": {
        "exceptionRules": [
          {
            "id": "266A5DBFF11A3A686646D01995A9C021D9C2C4D037CF7CEAC3",
            "trigger": {
              "threshold": 1,
              "kind": "queueLength"
            },
            "actions": [
              {
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226a0097c0-0000-0700-0000-65c523510000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 18:54:09 GMT",
        "trace-id": "347c3d21-34f9-289e-29c1-d44763f91955"
      },
      "ResponseBody": {
        "id": "674DD9CC6B1C6B37CC8A367C740607EA428834AE4EF6D27275",
        "exceptionRules": [
          {
            "id": "266A5DBFF11A3A686646D01995A9C021D9C2C4D037CF7CEAC3",
            "trigger": {
              "kind": "queueLength",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel",
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "id": "86e22f71-1bec-483e-a03c-812df71655f6"
              }
            ]
          }
        ],
        "etag": "\u00226a0097c0-0000-0700-0000-65c523510000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/674DD9CC6B1C6B37CC8A367C740607EA428834AE4EF6D27275?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 08 Feb 2024 18:54:10 GMT"
      },
      "RequestBody": {
        "name": "674DD9CC6B1C6B37CC8A367C740607EA428834AE4EF6D27275-ExceptionPolicyName",
        "exceptionRules": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226a009bc0-0000-0700-0000-65c523510000\u0022",
        "Last-Modified": "Thu, 08 Feb 2024 18:54:09 GMT",
        "trace-id": "09e0eba7-c38d-c253-6bb2-af6afbfc7e79"
      },
      "ResponseBody": {
        "id": "674DD9CC6B1C6B37CC8A367C740607EA428834AE4EF6D27275",
        "name": "674DD9CC6B1C6B37CC8A367C740607EA428834AE4EF6D27275-ExceptionPolicyName",
        "exceptionRules": [],
        "etag": "\u00226a009bc0-0000-0700-0000-65c523510000\u0022"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-grCU_XoX8U-6cHnFIFuRQg-",
    "RandomSeed": "1026885472"
  }
}
