{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/789CB64D8B7F02F71C3C8F7A86D4EC8249CA47EB29C8DB7685?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 23:13:45 GMT"
      },
      "RequestBody": {
        "exceptionRules": {
          "38C5ABF4F9A3B2684312EFC7B4B1741DAE3644CB1626F9A763": {
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": {
              "980065FE25C5DF7AAD2E63EBFEED6B2E8684457972C2536DBE": {
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ea00130f-0000-0700-0000-65272c290000\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 23:13:45 GMT",
        "trace-id": "ecc7a94d-c4e4-2db6-8972-dba75672f43f"
      },
      "ResponseBody": {
        "id": "789CB64D8B7F02F71C3C8F7A86D4EC8249CA47EB29C8DB7685",
        "exceptionRules": {
          "38C5ABF4F9A3B2684312EFC7B4B1741DAE3644CB1626F9A763": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "980065FE25C5DF7AAD2E63EBFEED6B2E8684457972C2536DBE": {
                "kind": "cancel",
                "dispositionCode": "CancelledDueToMaxQueueLengthReached"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/789CB64D8B7F02F71C3C8F7A86D4EC8249CA47EB29C8DB7685?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 11 Oct 2023 23:13:45 GMT"
      },
      "RequestBody": {
        "name": "789CB64D8B7F02F71C3C8F7A86D4EC8249CA47EB29C8DB7685-ExceptionPolicyName"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ea00170f-0000-0700-0000-65272c290000\u0022",
        "Last-Modified": "Wed, 11 Oct 2023 23:13:45 GMT",
        "trace-id": "33b24d9d-830c-8c70-c0b7-1a0164725163"
      },
      "ResponseBody": {
        "id": "789CB64D8B7F02F71C3C8F7A86D4EC8249CA47EB29C8DB7685",
        "name": "789CB64D8B7F02F71C3C8F7A86D4EC8249CA47EB29C8DB7685-ExceptionPolicyName",
        "exceptionRules": {
          "38C5ABF4F9A3B2684312EFC7B4B1741DAE3644CB1626F9A763": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "980065FE25C5DF7AAD2E63EBFEED6B2E8684457972C2536DBE": {
                "kind": "cancel",
                "dispositionCode": "CancelledDueToMaxQueueLengthReached"
              }
            }
          }
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-shqZtw2CU0G48Xf2O_ifbA-",
    "RandomSeed": "746588031"
  }
}
