{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/71C7DFFB90F4980050AF14B12B1A9CAC1CDFC999D5CC440CA6?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:06:12 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy71C7DFFB90F4980050AF14B12B1A9CAC1CDFC999D5CC440CA6",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227b0071ab-0000-0700-0000-654ac2e30000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:06:11 GMT",
        "trace-id": "8009656b-beb9-162c-e867-e2eff25756ba"
      },
      "ResponseBody": {
        "id": "71C7DFFB90F4980050AF14B12B1A9CAC1CDFC999D5CC440CA6",
        "name": "LongestIdleDistributionPolicy71C7DFFB90F4980050AF14B12B1A9CAC1CDFC999D5CC440CA6",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u00227b0071ab-0000-0700-0000-654ac2e30000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/71C7DFFB90F4980050AF14B12B1A9CAC1CDFC999D5CC440CA6?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:06:12 GMT"
      },
      "RequestBody": {
        "distributionPolicyId": "71C7DFFB90F4980050AF14B12B1A9CAC1CDFC999D5CC440CA6",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c301457c-0000-0700-0000-654ac2e40000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:06:12 GMT",
        "trace-id": "16a39109-ed85-284f-390c-54d3cfe0c8c6"
      },
      "ResponseBody": {
        "id": "71C7DFFB90F4980050AF14B12B1A9CAC1CDFC999D5CC440CA6",
        "distributionPolicyId": "71C7DFFB90F4980050AF14B12B1A9CAC1CDFC999D5CC440CA6",
        "labels": {
          "Id": "71C7DFFB90F4980050AF14B12B1A9CAC1CDFC999D5CC440CA6"
        },
        "etag": "\u0022c301457c-0000-0700-0000-654ac2e40000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/71C7DFFB90F4980050AF14B12B1A9CAC1CDFC999D5CC440CA6?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:06:12 GMT"
      },
      "RequestBody": {
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c008d6a-0000-0700-0000-654ac2e40000\u0022",
        "Last-Modified": "Tue, 07 Nov 2023 23:06:12 GMT",
        "trace-id": "ef9e7cf1-6566-d73d-0d5f-c4eb0a521529"
      },
      "ResponseBody": {
        "id": "71C7DFFB90F4980050AF14B12B1A9CAC1CDFC999D5CC440CA6",
        "queueSelectorAttachments": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectorAttachments": [],
        "etag": "\u00220c008d6a-0000-0700-0000-654ac2e40000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/71C7DFFB90F4980050AF14B12B1A9CAC1CDFC999D5CC440CA6?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:06:12 GMT"
      },
      "RequestBody": {
        "exceptionRules": [
          {
            "id": "334DC3D887412A395CE46491C49178181CD39A92EE49031AB7",
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": [
              {
                "classificationPolicyId": "71C7DFFB90F4980050AF14B12B1A9CAC1CDFC999D5CC440CA6",
                "labelsToUpsert": {
                  "Label_1": "Value_1"
                },
                "kind": "reclassify"
              },
              {
                "queueId": "71C7DFFB90F4980050AF14B12B1A9CAC1CDFC999D5CC440CA6",
                "priority": 1,
                "workerSelectors": [
                  {
                    "key": "abc",
                    "labelOperator": "equal",
                    "value": 1
                  }
                ],
                "kind": "manual-reclassify"
              }
            ]
          }
        ],
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022170058fc-0000-0700-0000-654ac2e40000\u0022",
       [...]
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/71C7DFFB90F4980050AF14B12B1A9CAC1CDFC999D5CC440CA6?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 07 Nov 2023 23:06:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "f691348e-1e42-8d4a-4ba9-9e7832b0d773"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-yhazahK-vEa4s97PBviGOw-",
    "RandomSeed": "874806210"
  }
}
