{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/EA677D3B792FCB9A6E57A1EB99185975F74418E7300561AA74?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 19:19:00 GMT"
      },
      "RequestBody": {
        "exceptionRules": [
          {
            "id": "E19D70E1D5BD41E517AC1809889316A81012F5BD73480CDDB5",
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": [
              {
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c003717-0000-0700-0000-654001a30000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 19:18:59 GMT",
        "trace-id": "55fb6c2e-a84e-4001-5a47-060f4741de0c"
      },
      "ResponseBody": {
        "id": "EA677D3B792FCB9A6E57A1EB99185975F74418E7300561AA74",
        "exceptionRules": [
          {
            "id": "E19D70E1D5BD41E517AC1809889316A81012F5BD73480CDDB5",
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel",
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "id": "0432b08e-04a0-4296-9534-5cb3a98dc67b"
              }
            ]
          }
        ],
        "etag": "\u00220c003717-0000-0700-0000-654001a30000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/EA677D3B792FCB9A6E57A1EB99185975F74418E7300561AA74?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 19:19:01 GMT"
      },
      "RequestBody": {
        "name": "EA677D3B792FCB9A6E57A1EB99185975F74418E7300561AA74-ExceptionPolicyName",
        "exceptionRules": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c003817-0000-0700-0000-654001a30000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 19:18:59 GMT",
        "trace-id": "7e91cc31-44a2-11cf-470a-636e4c2d3a93"
      },
      "ResponseBody": {
        "id": "EA677D3B792FCB9A6E57A1EB99185975F74418E7300561AA74",
        "name": "EA677D3B792FCB9A6E57A1EB99185975F74418E7300561AA74-ExceptionPolicyName",
        "exceptionRules": [],
        "etag": "\u00220c003817-0000-0700-0000-654001a30000\u0022"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-pzpit72mR02jsMDpYFXUwQ-",
    "RandomSeed": "1474782214"
  }
}
