{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/6F59A50DCE91AA79434D0037D0EB5904747A4A11DBC4AE5B75?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:10:15 GMT"
      },
      "RequestBody": {
        "exceptionRules": [
          {
            "id": "139B1A2D9414A8A6F94504ADAB8C31E824DDF1DBDCC12456F0",
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": [
              {
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "kind": "cancel"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c00eb08-0000-0700-0000-653ff1870000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:10:15 GMT",
        "trace-id": "bae9c119-0631-05fa-4f01-134681440055"
      },
      "ResponseBody": {
        "id": "6F59A50DCE91AA79434D0037D0EB5904747A4A11DBC4AE5B75",
        "exceptionRules": [
          {
            "id": "139B1A2D9414A8A6F94504ADAB8C31E824DDF1DBDCC12456F0",
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": [
              {
                "kind": "cancel",
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "id": "71f0f426-e01f-42e1-abcc-5a0a3d679c12"
              }
            ]
          }
        ],
        "etag": "\u00220c00eb08-0000-0700-0000-653ff1870000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/6F59A50DCE91AA79434D0037D0EB5904747A4A11DBC4AE5B75?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:10:16 GMT"
      },
      "RequestBody": {
        "name": "6F59A50DCE91AA79434D0037D0EB5904747A4A11DBC4AE5B75-ExceptionPolicyName",
        "exceptionRules": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c00ec08-0000-0700-0000-653ff1870000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:10:15 GMT",
        "trace-id": "b397d055-dd64-1206-cae5-654302d4f164"
      },
      "ResponseBody": {
        "id": "6F59A50DCE91AA79434D0037D0EB5904747A4A11DBC4AE5B75",
        "name": "6F59A50DCE91AA79434D0037D0EB5904747A4A11DBC4AE5B75-ExceptionPolicyName",
        "exceptionRules": [],
        "etag": "\u00220c00ec08-0000-0700-0000-653ff1870000\u0022"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-uSlhIb7iJ029G9JiNYuJCA-",
    "RandomSeed": "356361389"
  }
}
