{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Triage Resource Provider - Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Help/discoverySolutions?api-version=2024-03-01-preview&$filter=ProblemClassificationId%20eq%20'a93e16a3-9f43-a003-6ac0-e5f6caa90cb9'",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/providers/Microsoft.Help/discoverySolutions/a93e16a3-9f43-a003-6ac0-e5f6caa90cb9",
            "name": "a93e16a3-9f43-a003-6ac0-e5f6caa90cb9",
            "type": "Microsoft.Help/discoverySolutions",
            "properties": {
              "solutions": [
                {
                  "solutionId": "apollo-cosmosdb-cassandra-authentication",
                  "solutionType": "Solutions",
                  "description": "Resolve issues with Azure Cosmos DB Cassandra authentication"
                },
                {
                  "solutionId": "CosmosDBKeyVaultWrapInsight",
                  "solutionType": "Diagnostics",
                  "description": "This insight alerts the customer when he sees a high percentage of errors related to their key vaults storing their managed keys for the associated Azure Cosmos DB account are unable to wrap or unwrap.",
                  "requiredInputs": [
                    "ResourceUri"
                  ]
                },
                {
                  "solutionId": "CosmosDBKeyRotationUnauthorizedInsight",
                  "solutionType": "Diagnostics",
                  "description": "This insight will trigger for an unauthorized exception due to key rotation on Cosmos DB account"
                },
                {
                  "solutionId": "CosmosDBPublicNetworkAccessDisabledInsight",
                  "solutionType": "Diagnostics",
                  "description": "This insight is to inform CSS and customers to set PublicNetworkAccess to Enabled on Azure Cosmos DB. If PublicNetworkAccess is disabled customer may see that collections are not reachable or receives firewall blocked errors in the overview blade or Data Explorer, "
                }
              ]
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "d9524254-3ac7-4629-a8e2-44ccaa7b6017",
    "RandomSeed": "922619834",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
