{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Quantum/workspaces/resource-test1?api-version=2022-01-10-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "providers": [
            {
              "providerId": "microsoft-qc",
              "providerSku": "learn-and-develop"
            }
          ],
          "storageAccount": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.Storage/storageAccounts/czwtestsa"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Quantum/locations/EASTUS2EUAP/operationStatuses/ded0b82f-29e2-4c09-a69e-c7f921b777e5*EDC870AA616B9C959CEF88EEF06A08DEE479522A7AB09A7855EE1BE815B3A6F0?api-version=2022-01-10-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223d00acad-0000-3400-0000-64abbca60000\u0022",
        "mise-correlation-id": "992e34de-c8f6-403a-9c3f-13963d5d6850",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Quantum/workspaces/resource-test1",
        "name": "resource-test1",
        "type": "microsoft.quantum/workspaces",
        "location": "eastus2euap",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-07-10T08:09:04.9864032Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-07-10T08:09:04.9864032Z"
        },
        "identity": {
          "principalId": "32ea02df-9a14-4af7-a9a8-d0b0fa09daca",
          "tenantId": "88888888-8888-8888-8888-888888888888",
          "type": "SystemAssigned"
        },
        "properties": {
          "providers": [
            {
              "providerId": "microsoft-qc",
              "providerSku": "learn-and-develop",
              "applicationName": "resource-test1-microsoft-qc",
              "provisioningState": "Launching"
            }
          ],
          "provisioningState": "Accepted",
          "usable": "No",
          "storageAccount": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.Storage/storageAccounts/czwtestsa"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Quantum/locations/EASTUS2EUAP/operationStatuses/ded0b82f-29e2-4c09-a69e-c7f921b777e5*EDC870AA616B9C959CEF88EEF06A08DEE479522A7AB09A7855EE1BE815B3A6F0?api-version=2022-01-10-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220200fd9d-0000-3400-0000-64abbca40000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Quantum/locations/EASTUS2EUAP/operationStatuses/ded0b82f-29e2-4c09-a69e-c7f921b777e5*EDC870AA616B9C959CEF88EEF06A08DEE479522A7AB09A7855EE1BE815B3A6F0",
        "name": "ded0b82f-29e2-4c09-a69e-c7f921b777e5*EDC870AA616B9C959CEF88EEF06A08DEE479522A7AB09A7855EE1BE815B3A6F0",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Quantum/workspaces/resource-test1",
        "status": "Accepted",
        "startTime": "2023-07-10T08:09:08.0454127Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Quantum/locations/EASTUS2EUAP/operationStatuses/ded0b82f-29e2-4c09-a69e-c7f921b777e5*EDC870AA616B9C959CEF88EEF06A08DEE479522A7AB09A7855EE1BE815B3A6F0?api-version=2022-01-10-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220200019e-0000-3400-0000-64abbcb00000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11994"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Quantum/locations/EASTUS2EUAP/operationStatuses/ded0b82f-29e2-4c09-a69e-c7f921b777e5*EDC870AA616B9C959CEF88EEF06A08DEE479522A7AB09A7855EE1BE815B3A6F0",
        "name": "ded0b82f-29e2-4c09-a69e-c7f921b777e5*EDC870AA616B9C959CEF88EEF06A08DEE479522A7AB09A7855EE1BE815B3A6F0",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Quantum/workspaces/resource-test1",
        "status": "Succeeded",
        "startTime": "2023-07-10T08:09:08.0454127Z",
        "endTime": "2023-07-10T08:09:20.3400303Z",
        "percentComplete": 100.0,
        "properties": null
      }
    },
[...]
