{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listdeletedkeys04161187054/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listdeletedkeys04161187054/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "tags": {
          "count-this-key": "yes"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/listdeletedkeys04161187054/8a06326c3c7e48968cb532826794f6b6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pXVNmkyn8xG69yGG0ihMoxoMHE1alOeR8woCIdioARwqxtlu6TStSMWRKWTbxnLPuectn-i_8IS9x23SbrGXOT627FbC929lE1mX2x_Tw4xqgXDC4TGa5NN8_PsUXbvuUIvt93BYekWM6RH03afPZqHzOn56erMpDG0JRxiZK8HOQEBtz5JufvJIe5Qc1e4YIhY7nEHi00mc_2AQ30-Bzbh1IHPjStO-WL0QpBZ_lYIbjanQ5qgUhjuN9EAuA8AAuxPjNpRjWl1F2Tgep2DY9DFcCiJowFxTFQx6xo35ZSk_o64eH0pf5ai15ohuBjvSXRvPzsgsz250JhVE21fgIQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780553236,
          "updated": 1780553236,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "count-this-key": "yes"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listdeletedkeys04161187054?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://Sanitized.vault.azure.net/deletedkeys/listdeletedkeys04161187054",
        "deletedDate": 1780553236,
        "scheduledPurgeDate": 1781158036,
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/listdeletedkeys04161187054/8a06326c3c7e48968cb532826794f6b6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pXVNmkyn8xG69yGG0ihMoxoMHE1alOeR8woCIdioARwqxtlu6TStSMWRKWTbxnLPuectn-i_8IS9x23SbrGXOT627FbC929lE1mX2x_Tw4xqgXDC4TGa5NN8_PsUXbvuUIvt93BYekWM6RH03afPZqHzOn56erMpDG0JRxiZK8HOQEBtz5JufvJIe5Qc1e4YIhY7nEHi00mc_2AQ30-Bzbh1IHPjStO-WL0QpBZ_lYIbjanQ5qgUhjuN9EAuA8AAuxPjNpRjWl1F2Tgep2DY9DFcCiJowFxTFQx6xo35ZSk_o64eH0pf5ai15ohuBjvSXRvPzsgsz250JhVE21fgIQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780553236,
          "updated": 1780553236,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "count-this-key": "yes"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listdeletedkeys04161187054?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: listdeletedkeys04161187054"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://taca1f881381e79ad.vault.azure.net:443/deletedkeys?api-version=2026-03-01-preview&$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?%24skiptoken=Sanitized&api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://taca1f881381e79ad.vault.azure.net:443/deletedkeys?api-version=2026-03-01-preview&$skiptoken=Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?%24skiptoken=Sanitized&api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://taca1f881381e79ad.vault.azure.net/deletedkeys/testimport2202992193",
            "deletedDate": 1780553231,
            "scheduledPurgeDate": 1781158031,
            "kid": "https://taca1f881381e79ad.vault.azure.net/keys/testimport2202992193",
            "attributes": {
              "enabled": true,
              "key_size": 2048,
              "created": 1780553230,
              "updated": 1780553230,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7,
              "exportable": false,
              "hsmPlatform": "2"
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
