{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listdeletedkeys04161187054/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listdeletedkeys04161187054/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "tags": {
          "count-this-key": "yes"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/listdeletedkeys04161187054/5e046354a7384de88fb612922414a0a8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0bKFlmyhKuvg2b0Z4ByJOzkM7iV_a1pg7c_x1Pui-3Gr2LY05EyA93e5TiqeD-U6Kk67ZpbZnaHQ1eqPzvdmJ7_MXUZRKhxk6zK8Q5o98_H4-PWVR7YvGwK65xvl9kyziCxU3UkafC0hY-Rb7GiDjPKTDAsVDFw5_iZeyNtxQE7NsD1ybPdqBUl3OLgy-MFMNwkWLnt6A1I_JvfTz4c38dlpDBGJI8zSbTFR62Qruvc1JPiljhSUQP-fiS3EWAbBf9XLlXl05vP92bmzXUh2WLmrYeCtstXgTMA40FQ7zrS-tQVMSti4Yif8FTBR-DHhInSK136ntWDKZLOW_K1TsQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758150209,
          "updated": 1758150209,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "count-this-key": "yes"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/listdeletedkeys04161187054?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://Sanitized.vault.azure.net/deletedkeys/listdeletedkeys04161187054",
        "deletedDate": 1758150209,
        "scheduledPurgeDate": 1758755009,
        "key": {
          "kid": "https://Sanitized.vault.azure.net/keys/listdeletedkeys04161187054/5e046354a7384de88fb612922414a0a8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0bKFlmyhKuvg2b0Z4ByJOzkM7iV_a1pg7c_x1Pui-3Gr2LY05EyA93e5TiqeD-U6Kk67ZpbZnaHQ1eqPzvdmJ7_MXUZRKhxk6zK8Q5o98_H4-PWVR7YvGwK65xvl9kyziCxU3UkafC0hY-Rb7GiDjPKTDAsVDFw5_iZeyNtxQE7NsD1ybPdqBUl3OLgy-MFMNwkWLnt6A1I_JvfTz4c38dlpDBGJI8zSbTFR62Qruvc1JPiljhSUQP-fiS3EWAbBf9XLlXl05vP92bmzXUh2WLmrYeCtstXgTMA40FQ7zrS-tQVMSti4Yif8FTBR-DHhInSK136ntWDKZLOW_K1TsQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758150209,
          "updated": 1758150209,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        },
        "tags": {
          "count-this-key": "yes"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/listdeletedkeys04161187054?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://Sanitized.vault.azure.net/deletedkeys/listdeletedkeys04161187054",
        "del[...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://gracewilcox8.vault.azure.net/deletedkeys/listdeletedkeys04161187054",
            "deletedDate": 1758150209,
            "scheduledPurgeDate": 1758755009,
            "kid": "https://gracewilcox8.vault.azure.net/keys/listdeletedkeys04161187054",
            "attributes": {
              "enabled": true,
              "created": 1758150209,
              "updated": 1758150209,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
     [...]
