{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listdeletedkeys01717479170/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listdeletedkeys01717479170/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "tags": {
          "count-this-key": "yes"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "68"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759961120,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759961120
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/listdeletedkeys01717479170/f77392f7c26a464ab78ae86aa63f996e",
          "kty": "RSA-HSM",
          "n": "n1FyYkc_GnhCPYCr1YpkLVYhNiekp3tHOi4lTkSvb1OX7XhBi25Efe0F0zNnYeqYWkHziCooBiqK-4i25Py60_NAZ8X9V8M4hERR6IWfgJ4BKk5pEEYkAdisDAvJUHW16CH3lNAutw78U5yq-sJk7cdD00lnGuwC17ErBVEgaet6j9OJ0xSEb_OzQALUfpnbj_pGf1hXk-kPZzXfTLBCYrQjCypCOan32DSHFhL57MNL71-_PZ7T5FNXThYgB9aFSPd5tXvdtXJpaRlAw2NmJUEu0caNBEvF5_J80z5Xpo78ldz1JBibY8QAfEqHDBPI182KHVFTKY3FMSSV4UaPxQ"
        },
        "tags": {
          "count-this-key": "yes"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listdeletedkeys01717479170?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "25"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759961120,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759961120
        },
        "deletedDate": 1759961120,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/listdeletedkeys01717479170/f77392f7c26a464ab78ae86aa63f996e",
          "kty": "RSA-HSM",
          "n": "n1FyYkc_GnhCPYCr1YpkLVYhNiekp3tHOi4lTkSvb1OX7XhBi25Efe0F0zNnYeqYWkHziCooBiqK-4i25Py60_NAZ8X9V8M4hERR6IWfgJ4BKk5pEEYkAdisDAvJUHW16CH3lNAutw78U5yq-sJk7cdD00lnGuwC17ErBVEgaet6j9OJ0xSEb_OzQALUfpnbj_pGf1hXk-kPZzXfTLBCYrQjCypCOan32DSHFhL57MNL71-_PZ7T5FNXThYgB9aFSPd5tXvdtXJpaRlAw2NmJUEu0caNBEvF5_J80z5Xpo78ldz1JBibY8QAfEqHDBPI182KHVFTKY3FMSSV4UaPxQ"
        },
        "recoveryId": "https://Sanitized.managedhsm.azure.net/deletedkeys/listdeletedkeys01717479170",
        "scheduledPurgeDate": 1760565920,
        "tags": {
          "count-this-key": "yes"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/listdeletedkeys01717479170?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250916-3-688b0654-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1759961120,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1759961120
        },
        "deletedDate": 1759961120,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/listdeletedkeys01717479170/f77392f7c26a464ab78ae86aa63f996e",
          "kty": "RSA-HSM",
          "n": "n1FyYkc_GnhCPYCr1YpkLVYhNiekp3tHOi4lTkSvb1OX7XhBi25Efe0F0zNnYeqYWkHziCooBiqK-4i25Py60_NAZ8X9V8M4hERR6IWfgJ4BKk5pEEYkAdisDAvJUHW16CH3lNAutw78U5yq-sJk7cdD00lnGuwC17ErBVEgaet6j9OJ0xSEb_OzQALUfpnbj_pGf1hXk-kPZzXfTLBCYrQjCypCOan32DSHFhL57MNL71-_PZ7T5FNXThYgB9aFSPd5tXvdtXJpaRlAw2NmJUEu0caNBEvF5_J80z5Xpo78ldz1JBibY8QAfEqHDBPI182KHVFTKY3FMSSV4UaPxQ"
        },
        "recoveryId": "https://Sanitized.managedhsm.azure.net/deletedkeys/listdeletedkeys01717479170",
        "scheduledPurgeDate": 1760565920,
        "tags": {
          "count-this-key": "yes"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250916-3-688b0654-develop",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1759961047,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1759961047
            },
            "deletedDate": 1759961049,
            "kid": "https://t562a6a333feba041hsm.managedhsm.azure.net/keys/testbackuprestore2485414557",
            "recoveryId": "https://t562a6a333feba041hsm.m[...]
