{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listdeletedkeys01717479170/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listdeletedkeys01717479170/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "tags": {
          "count-this-key": "yes"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "80"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748987398,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748987398
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/listdeletedkeys01717479170/ab9b02bd035f41fd99723de5b7557054",
          "kty": "RSA-HSM",
          "n": "pn9DOxw9PcowBKqnpScoAfJjrrfntIgPpurdSSTCjFIXWGer3O8OPYoXnIrJ3Qqk45p5NmxBYUiZR6ss5H6fRlocVSLZLmDmEBrMbFUX3NO1J7jQk0QtVKXtm5pGE7giIJ0oFrKxGO9qfDitIVelACq90VSK_8iwIzKlZlzsgmTbltNoZA-lC9mXqN73DCL88sFusMu4ONWX7m1tJmEcpb9vxbGTPXmpsxdtnCAcC1PR9VgKjTyrZx6mzsVslyJcNkOMOpe9V-CBXCDi2iQ55zRclDFqkGa1ih0KgLyGqOThPvTykkLMoYca0ebjvCZ-ME9x4g4F1OylnC2YBP2BiQ"
        },
        "tags": {
          "count-this-key": "yes"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listdeletedkeys01717479170?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "28"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748987398,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748987398
        },
        "deletedDate": 1748987398,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/listdeletedkeys01717479170/ab9b02bd035f41fd99723de5b7557054",
          "kty": "RSA-HSM",
          "n": "pn9DOxw9PcowBKqnpScoAfJjrrfntIgPpurdSSTCjFIXWGer3O8OPYoXnIrJ3Qqk45p5NmxBYUiZR6ss5H6fRlocVSLZLmDmEBrMbFUX3NO1J7jQk0QtVKXtm5pGE7giIJ0oFrKxGO9qfDitIVelACq90VSK_8iwIzKlZlzsgmTbltNoZA-lC9mXqN73DCL88sFusMu4ONWX7m1tJmEcpb9vxbGTPXmpsxdtnCAcC1PR9VgKjTyrZx6mzsVslyJcNkOMOpe9V-CBXCDi2iQ55zRclDFqkGa1ih0KgLyGqOThPvTykkLMoYca0ebjvCZ-ME9x4g4F1OylnC2YBP2BiQ"
        },
        "recoveryId": "https://Sanitized.managedhsm.azure.net/deletedkeys/listdeletedkeys01717479170",
        "scheduledPurgeDate": 1749592198,
        "tags": {
          "count-this-key": "yes"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/listdeletedkeys01717479170?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "7"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1748987398,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1748987398
        },
        "deletedDate": 1748987398,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/listdeletedkeys01717479170/ab9b02bd035f41fd99723de5b7557054",
          "kty": "RSA-HSM",
          "n": "pn9DOxw9PcowBKqnpScoAfJjrrfntIgPpurdSSTCjFIXWGer3O8OPYoXnIrJ3Qqk45p5NmxBYUiZR6ss5H6fRlocVSLZLmDmEBrMbFUX3NO1J7jQk0QtVKXtm5pGE7giIJ0oFrKxGO9qfDitIVelACq90VSK_8iwIzKlZlzsgmTbltNoZA-lC9mXqN73DCL88sFusMu4ONWX7m1tJmEcpb9vxbGTPXmpsxdtnCAcC1PR9VgKjTyrZx6mzsVslyJcNkOMOpe9V-CBXCDi2iQ55zRclDFqkGa1ih0KgLyGqOThPvTykkLMoYca0ebjvCZ-ME9x4g4F1OylnC2YBP2BiQ"
        },
        "recoveryId": "https://Sanitized.managedhsm.azure.net/deletedkeys/listdeletedkeys01717479170",
        "scheduledPurgeDate": 1749592198,
        "tags": {
          "count-this-key": "yes"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250507-1-41b99104-key-verify-fix",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1748987325,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1748987325
            },
            "deletedDate": 1748987326,
            "kid": "https://gracewilcox30hsm.managedhsm.azure.net/keys/testbackuprestore2485414557",
            "recoveryId": "https://gracewilcox30hsm.managedhs[...]
