{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listdeletedkeys01717479170/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listdeletedkeys01717479170/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "tags": {
          "count-this-key": "yes"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "82"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1717541588,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1717541588
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://test.managedhsm.azure.net/keys/listdeletedkeys01717479170/c4786483a2e349e5bee788311a59a99b",
          "kty": "RSA-HSM",
          "n": "ieMLyzbIcVIKN5Flom3giJLv3CBRUvM5tNmwawLZRnblxyZ72Zg4rOuL1xR7FytjtIBX00IRubDwHSntx3xUX1qvDR9S8vZxnVd6bxW195N__a9vhPl7dByeQDomFe1xnT_pN6unyR_Mj2EWMA1abTZj51Md3jOfnIl_w_Y1wrV8jcgCo9DFUDpaiGpHWLECleFKwHd7F21bzU4aGqowQ-K0_kRR9xnmRBV7h1ESTbmqm5AHzpyXZ7Rb80lgdIQe6HwA0oxdsFhvYys4_J_Tg7nKtv2gejFiPxlaiX1w5VgT1hnzym1j4X4RfmqpETsuKL3xXTDWdzRMQrs88dyZSw"
        },
        "tags": {
          "count-this-key": "yes"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/listdeletedkeys01717479170?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "28"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1717541588,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1717541588
        },
        "deletedDate": 1717541589,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "encrypt",
            "decrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://test.managedhsm.azure.net/keys/listdeletedkeys01717479170/c4786483a2e349e5bee788311a59a99b",
          "kty": "RSA-HSM",
          "n": "ieMLyzbIcVIKN5Flom3giJLv3CBRUvM5tNmwawLZRnblxyZ72Zg4rOuL1xR7FytjtIBX00IRubDwHSntx3xUX1qvDR9S8vZxnVd6bxW195N__a9vhPl7dByeQDomFe1xnT_pN6unyR_Mj2EWMA1abTZj51Md3jOfnIl_w_Y1wrV8jcgCo9DFUDpaiGpHWLECleFKwHd7F21bzU4aGqowQ-K0_kRR9xnmRBV7h1ESTbmqm5AHzpyXZ7Rb80lgdIQe6HwA0oxdsFhvYys4_J_Tg7nKtv2gejFiPxlaiX1w5VgT1hnzym1j4X4RfmqpETsuKL3xXTDWdzRMQrs88dyZSw"
        },
        "recoveryId": "https://test.managedhsm.azure.net/deletedkeys/listdeletedkeys01717479170",
        "scheduledPurgeDate": 1718146389,
        "tags": {
          "count-this-key": "yes"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys/listdeletedkeys01717479170?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240429-1-3c19b27c-develop",
        "x-ms-server-latency": "5"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1717541588,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1717541588
        },
        "deletedDate": 1717541589,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt",
            "wrapKey"
          ],
          "kid": "https://test.managedhsm.azure.net/keys/listdeletedkeys01717479170/c4786483a2e349e5bee788311a59a99b",
          "kty": "RSA-HSM",
          "n": "ieMLyzbIcVIKN5Flom3giJLv3CBRUvM5tNmwawLZRnblxyZ72Zg4rOuL1xR7FytjtIBX00IRubDwHSntx3xUX1qvDR9S8vZxnVd6bxW195N__a9vhPl7dByeQDomFe1xnT_pN6unyR_Mj2EWMA1abTZj51Md3jOfnIl_w_Y1wrV8jcgCo9DFUDpaiGpHWLECleFKwHd7F21bzU4aGqowQ-K0_kRR9xnmRBV7h1ESTbmqm5AHzpyXZ7Rb80lgdIQe6HwA0oxdsFhvYys4_J_Tg7nKtv2gejFiPxlaiX1w5VgT1hnzym1j4X4RfmqpETsuKL3xXTDWdzRMQrs88dyZSw"
        },
        "recoveryId": "https://test.managedhsm.azure.net/deletedkeys/listdeletedkeys01717479170",
        "scheduledPurgeDate": 1718146389,
        "tags": {
          "count-this-key": "yes"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/deletedkeys?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240429-1-3c19b27c-develop",
        "x-ms-server-latency": "8"
      },
      "ResponseBody": {
        "value": [
          {
            "attributes": {
              "created": 1717541523,
              "enabled": true,
              "exportable": false,
              "recoverableDays": 7,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "updated": 1717541523
            },
            "deletedDate": 1717541524,
            "kid": "https://test.managedhsm.azure.net/keys/testbackuprestore2485414557",
            "recoveryId": "https://test.managedhsm.azure.net/deletedkeys/[...]
