{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/analyze-conversations/projects/Test-data-labels/train/jobs/f0f1760a-f9b9-4a7c-924d-57892aa75ebd_638916768000000000/:cancel?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/train/jobs/f0f1760a-f9b9-4a7c-924d-57892aa75ebd_638916768000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/train/jobs/f0f1760a-f9b9-4a7c-924d-57892aa75ebd_638916768000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "1111",
          "trainingConfigVersion": "2022-09-01",
          "trainingMode": "advanced",
          "dataGenerationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "trainingStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          }
        },
        "jobId": "f0f1760a-f9b9-4a7c-924d-57892aa75ebd_638916768000000000",
        "createdDateTime": "2025-08-25T05:33:42Z",
        "lastUpdatedDateTime": "2025-08-25T05:34:25Z",
        "expirationDateTime": "2025-09-01T05:33:42Z",
        "status": "cancelling",
        "warnings": [
          {
            "code": "Warning",
            "message": "Intent `Buy` is tagged in `3` training dataset examples, it is recommended to have `10` tags for better model quality."
          },
          {
            "code": "Warning",
            "message": "Entity `product` is tagged in `3` training dataset examples, it is recommended to have `10` tags for better model quality."
          }
        ]
      }
    },
[...]
