{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/analyze-conversations/projects/Test-data-labels/deployments/deployment2?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/deployments/deployment2/jobs/88e9b31e-8710-4dae-8630-721ba4601206_638919360000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/deployments/deployment2/jobs/88e9b31e-8710-4dae-8630-721ba4601206_638919360000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "88e9b31e-8710-4dae-8630-721ba4601206_638919360000000000",
        "createdDateTime": "2025-08-28T18:13:29Z",
        "lastUpdatedDateTime": "2025-08-28T18:13:29Z",
        "expirationDateTime": "2025-09-04T18:13:29Z",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/deployments/deployment2/jobs/88e9b31e-8710-4dae-8630-721ba4601206_638919360000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "88e9b31e-8710-4dae-8630-721ba4601206_638919360000000000",
        "createdDateTime": "2025-08-28T18:13:29Z",
        "lastUpdatedDateTime": "2025-08-28T18:13:34Z",
        "expirationDateTime": "2025-09-04T18:13:29Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
