{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/analyze-conversations/projects/EmailApp/models/Model1/:load-snapshot?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/models/Model1/load-snapshot/jobs/c5762396-89e0-4bef-b559-beb0fbacb5d5_639055872000000000?api-version=2025-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/models/Model1/load-snapshot/jobs/c5762396-89e0-4bef-b559-beb0fbacb5d5_639055872000000000?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "c5762396-89e0-4bef-b559-beb0fbacb5d5_639055872000000000",
        "createdDateTime": "2026-02-02T23:03:35Z",
        "lastUpdatedDateTime": "2026-02-02T23:03:35Z",
        "expirationDateTime": "2026-02-09T23:03:35Z",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/models/Model1/load-snapshot/jobs/c5762396-89e0-4bef-b559-beb0fbacb5d5_639055872000000000?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "c5762396-89e0-4bef-b559-beb0fbacb5d5_639055872000000000",
        "createdDateTime": "2026-02-02T23:03:35Z",
        "lastUpdatedDateTime": "2026-02-02T23:03:35Z",
        "expirationDateTime": "2026-02-09T23:03:35Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
