{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/MyPythonProject1110?api-version=2025-11-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "projectKind": "Conversation",
        "projectName": "MyPythonProject1110",
        "language": "en-us",
        "multilingual": true,
        "description": "Project created for testing via Python SDK"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2025-11-10T23:57:04Z",
        "lastModifiedDateTime": "2025-11-10T23:57:04Z",
        "projectKind": "Conversation",
        "projectName": "MyPythonProject1110",
        "multilingual": true,
        "description": "Project created for testing via Python SDK",
        "language": "en-us"
      }
    }
  ],
  "Variables": {}
}
