{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2025-06-18T06:20:35Z",
        "lastModifiedDateTime": "2026-01-09T00:12:09Z",
        "projectKind": "Conversation",
        "settings": {
          "confidenceThreshold": 0.7,
          "normalizeCasing": false,
          "augmentDiacritics": false
        },
        "projectName": "EmailApp",
        "multilingual": true,
        "description": "",
        "language": "en-us"
      }
    }
  ],
  "Variables": {}
}
