{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/analyze-conversations/projects/EmailApp/deployments/:swap?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "firstDeploymentName": "staging",
        "secondDeploymentName": "production"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/deployments/swap/jobs/fe262589-1cd1-4e97-b015-6a0060a469e8_639055872000000000?api-version=2025-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/deployments/swap/jobs/fe262589-1cd1-4e97-b015-6a0060a469e8_639055872000000000?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "fe262589-1cd1-4e97-b015-6a0060a469e8_639055872000000000",
        "createdDateTime": "2026-02-02T23:04:36Z",
        "lastUpdatedDateTime": "2026-02-02T23:04:36Z",
        "expirationDateTime": "2026-02-09T23:04:36Z",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/deployments/swap/jobs/fe262589-1cd1-4e97-b015-6a0060a469e8_639055872000000000?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "fe262589-1cd1-4e97-b015-6a0060a469e8_639055872000000000",
        "createdDateTime": "2026-02-02T23:04:36Z",
        "lastUpdatedDateTime": "2026-02-02T23:04:42Z",
        "expirationDateTime": "2026-02-09T23:04:36Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
