{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/train/jobs/4867cb16-0d8b-4528-b097-c6c0ef4f507b_639059328000000000/:cancel?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/train/jobs/4867cb16-0d8b-4528-b097-c6c0ef4f507b_639059328000000000?api-version=2025-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/train/jobs/4867cb16-0d8b-4528-b097-c6c0ef4f507b_639059328000000000?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "eee",
          "trainingConfigVersion": "2022-09-01",
          "trainingMode": "advanced",
          "dataGenerationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "trainingStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          }
        },
        "jobId": "4867cb16-0d8b-4528-b097-c6c0ef4f507b_639059328000000000",
        "createdDateTime": "2026-02-06T07:59:17Z",
        "lastUpdatedDateTime": "2026-02-06T08:00:09Z",
        "expirationDateTime": "2026-02-13T07:59:17Z",
        "status": "cancelling",
        "warnings": [
          {
            "code": "Warning",
            "message": "Intent `Buy` is tagged in `3` training dataset examples, it is recommended to have `10` tags for better model quality."
          },
          {
            "code": "Warning",
            "message": "Entity `product` is tagged in `3` training dataset examples, it is recommended to have `10` tags for better model quality."
          }
        ]
      }
    },
[...]
