{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/:train?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelLabel": "MyModel",
        "trainingMode": "standard",
        "trainingConfigVersion": "2023-04-15",
        "evaluationOptions": {
          "kind": "percentage",
          "testingSplitPercentage": 20,
          "trainingSplitPercentage": 80
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/train/jobs/f1023083-0082-44da-83c3-fbb782721958_639055872000000000?api-version=2025-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/train/jobs/f1023083-0082-44da-83c3-fbb782721958_639055872000000000?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "MyModel",
          "trainingConfigVersion": "2023-04-15",
          "trainingMode": "standard",
          "dataGenerationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "trainingStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          }
        },
        "jobId": "f1023083-0082-44da-83c3-fbb782721958_639055872000000000",
        "createdDateTime": "2026-02-02T23:05:06Z",
        "lastUpdatedDateTime": "2026-02-02T23:05:06Z",
        "expirationDateTime": "2026-02-09T23:05:06Z",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/train/jobs/f1023083-0082-44da-83c3-fbb782721958_639055872000000000?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "MyModel",
          "trainingConfigVersion": "2023-04-15",
          "trainingMode": "standard",
          "dataGenerationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          },
          "trainingStatus": {
            "percentComplete": 100,
            "startDateTime": "2026-02-02T23:05:09.2372983Z",
            "endDateTime": "2026-02-02T23:05:11.0664232Z",
            "status": "succeeded"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "notStarted"
          }
        },
        "jobId": "f1023083-0082-44da-83c3-fbb782721958_639055872000000000",
        "createdDateTime": "2026-02-02T23:05:06Z",
        "lastUpdatedDateTime": "2026-02-02T23:05:11Z",
        "expirationDateTime": "2026-02-09T23:05:06Z",
        "status": "succeeded",
        "warnings": [
          {
            "code": "Warning",
            "message": "Intent `Buy` is tagged in `3` training dataset examples, it is recommended to have `10` tags for better model quality."
          },
          {
            "code": "Warning",
            "message": "Entity `product` is tagged in `3` training dataset examples, it is recommended to have `10` tags for better model quality."
          }
        ]
      }
    }
  ],
  "Variables": {}
}
