{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/:export?api-version=2025-11-15-preview&format=Conversation&stringIndexType=Utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/export/jobs/0be6936a-b4c9-4c03-ad43-5a16442a7695_639055872000000000?api-version=2025-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/export/jobs/0be6936a-b4c9-4c03-ad43-5a16442a7695_639055872000000000?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "0be6936a-b4c9-4c03-ad43-5a16442a7695_639055872000000000",
        "createdDateTime": "2026-02-02T23:01:28Z",
        "lastUpdatedDateTime": "2026-02-02T23:01:28Z",
        "expirationDateTime": "2026-02-09T23:01:28Z",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/export/jobs/0be6936a-b4c9-4c03-ad43-5a16442a7695_639055872000000000?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "resultUrl": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/export/jobs/0be6936a-b4c9-4c03-ad43-5a16442a7695_639055872000000000/result?api-version=2025-11-15-preview",
        "jobId": "0be6936a-b4c9-4c03-ad43-5a16442a7695_639055872000000000",
        "createdDateTime": "2026-02-02T23:01:28Z",
        "lastUpdatedDateTime": "2026-02-02T23:01:28Z",
        "expirationDateTime": "2026-02-09T23:01:28Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
