{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/analyze-conversations/projects/Test-data-labels/:export?api-version=2025-11-15-preview&format=Conversation&stringIndexType=Utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/export/jobs/a41e6275-8f77-42e6-9bba-730a7e53aa0c_639034272000000000?api-version=2025-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/export/jobs/a41e6275-8f77-42e6-9bba-730a7e53aa0c_639034272000000000?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "a41e6275-8f77-42e6-9bba-730a7e53aa0c_639034272000000000",
        "createdDateTime": "2026-01-08T22:49:23Z",
        "lastUpdatedDateTime": "2026-01-08T22:49:23Z",
        "expirationDateTime": "2026-01-15T22:49:23Z",
        "status": "running"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/export/jobs/a41e6275-8f77-42e6-9bba-730a7e53aa0c_639034272000000000?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "resultUrl": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/export/jobs/a41e6275-8f77-42e6-9bba-730a7e53aa0c_639034272000000000/result?api-version=2025-11-15-preview",
        "jobId": "a41e6275-8f77-42e6-9bba-730a7e53aa0c_639034272000000000",
        "createdDateTime": "2026-01-08T22:49:23Z",
        "lastUpdatedDateTime": "2026-01-08T22:49:23Z",
        "expirationDateTime": "2026-01-15T22:49:23Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
