{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.NetApp/netAppAccounts?api-version=2025-12-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "bb21682d-bec6-4a8d-9508-6be61fd2a28c",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.NetApp/netAppAccounts/accounttest",
            "name": "accounttest",
            "type": "Microsoft.NetApp/netAppAccounts",
            "etag": "Sanitized",
            "location": "eastus",
            "tags": {
              "CreatedOnDate": "2026-03-13T16:58:51.7349164Z"
            },
            "properties": {
              "multiADStatus": "Enabled",
              "activeDirectories": [
                {
                  "site": "SiteName",
                  "activeDirectoryId": "64f26b24-66f8-1fa5-0ace-57cf5e8a1564",
                  "username": "ad_user_name",
                  "domain": "10.10.10.3",
                  "dns": "10.10.10.3",
                  "status": "Created",
                  "smbServerName": "SMBServer",
                  "organizationalUnit": "OU=Engineering",
                  "aesEncryption": true,
                  "ldapSigning": false,
                  "ldapOverTLS": false,
                  "allowLocalNfsUsersWithLdap": false,
                  "encryptDCConnections": false,
                  "ldapSearchScope": {}
                }
              ],
              "encryption": {
                "keySource": "Microsoft.NetApp"
              },
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-03-13T16:58:51.8069433Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-03-13T16:58:51.8069433Z"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
