{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.NetApp/netAppAccounts/accounttest?api-version=2025-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "activeDirectories": [
            {
              "username": "ad_user_name",
              "password": "Sanitized",
              "domain": "10.10.10.3",
              "dns": "10.10.10.3",
              "smbServerName": "SMBServer",
              "organizationalUnit": "OU=Engineering",
              "site": "SiteName",
              "aesEncryption": true,
              "ldapSigning": false,
              "ldapOverTLS": false
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.NetApp/locations/eastus/operationResults/9e652eca-5f2e-455d-8e9e-626b61539a74?api-version=2025-12-01&t=639065843239431279&c=MIIIrzCCBpegAwIBAgITUQHpaU7Wg63xzd-r0QABAelpTjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjYwMjA0MDA1OTExWhcNMjYwNTI0MjI1NzAzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.NetApp/locations/eastus/operationResults/9e652eca-5f2e-455d-8e9e-626b61539a74?api-version=2025-12-01&t=639065843239431279&c=MIIIrzCCBpegAwIBAgITUQHpaU7Wg63xzd-r0QABAelpTjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjYwMjA0MDA1OTExWhcNMjYwNTI0MjI1NzAzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZX[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.NetApp/netAppAccounts/accounttest?api-version=2025-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"datetime'2026-02-13T12%3A58%3A44.0516993Z'\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.NetApp/netAppAccounts/accounttest",
        "name": "accounttest",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "Sanitized",
        "location": "eastus",
        "tags": {
          "CreatedOnDate": "2026-02-13T12:58:43.5902777Z"
        },
        "properties": {
          "activeDirectories": [
            {
              "site": "SiteName",
              "activeDirectoryId": "9b06372d-193f-5f4b-fc7d-bbb8e30ebb1f",
              "username": "ad_user_name",
              "domain": "10.10.10.3",
              "dns": "10.10.10.3",
              "status": "Created",
              "smbServerName": "SMBServer",
              "organizationalUnit": "OU=Engineering",
              "aesEncryption": true,
              "ldapSigning": false,
              "ldapOverTLS": false,
              "allowLocalNfsUsersWithLdap": false,
              "encryptDCConnections": false,
              "ldapSearchScope": {}
            }
          ],
          "encryption": {
            "keySource": "Microsoft.NetApp"
          },
          "multiADStatus": "Enabled",
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-02-13T12:58:43.6932182Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-02-13T12:58:43.6932182Z"
        }
      }
    }
  ],
  "Variables": {}
}
