{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/19A5A6AC4E57664ACD7E3FEF6CEC5C9D5075A7E4BA1F15D092?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:07:17 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022490072d7-0000-0700-0000-65415e7a0000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:07:22 GMT",
        "trace-id": "b8118fde-22d1-7719-4402-6313445fb7f6"
      },
      "ResponseBody": {
        "id": "19A5A6AC4E57664ACD7E3FEF6CEC5C9D5075A7E4BA1F15D092",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022490072d7-0000-0700-0000-65415e7a0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/19A5A6AC4E57664ACD7E3FEF6CEC5C9D5075A7E4BA1F15D092?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:07:18 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "19A5A6AC4E57664ACD7E3FEF6CEC5C9D5075A7E4BA1F15D092",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c01104e-0000-0700-0000-65415e7a0000\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:07:22 GMT",
        "trace-id": "436f0028-227b-0d3c-054c-df69ad581278"
      },
      "ResponseBody": {
        "id": "19A5A6AC4E57664ACD7E3FEF6CEC5C9D5075A7E4BA1F15D092",
        "name": "test",
        "distributionPolicyId": "19A5A6AC4E57664ACD7E3FEF6CEC5C9D5075A7E4BA1F15D092",
        "labels": {
          "Id": "19A5A6AC4E57664ACD7E3FEF6CEC5C9D5075A7E4BA1F15D092"
        },
        "etag": "\u00220c01104e-0000-0700-0000-65415e7a0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/87832835B3C364B62FC9FA139AC97CB53E9E122F84792C1C79?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:07:18 GMT"
      },
      "RequestBody": {
        "queues": [
          "19A5A6AC4E57664ACD7E3FEF6CEC5C9D5075A7E4BA1F15D092"
        ],
        "capacity": 1,
        "channels": [
          {
            "channelId": "369AA0761B19E8D69290CF0140DDDD9FA7B56F23C000E622B1",
            "capacityCostPerJob": 1
          }
        ],
        "availableForOffers": true,
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-2ebe-89fe4cdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:07:22 GMT",
        "trace-id": "5cfb9302-e64f-6519-b4d8-730ad232189c"
      },
      "ResponseBody": {
        "id": "87832835B3C364B62FC9FA139AC97CB53E9E122F84792C1C79",
        "state": "active",
        "queues": [
          "19A5A6AC4E57664ACD7E3FEF6CEC5C9D5075A7E4BA1F15D092"
        ],
        "capacity": 1,
        "labels": {
          "Id": "87832835B3C364B62FC9FA139AC97CB53E9E122F84792C1C79"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "369AA0761B19E8D69290CF0140DDDD9FA7B56F23C000E622B1",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "etag": "\u002200000001-0000-0000-2ebe-89fe4cdadb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/EFCC13ABE3BD17C62DCBFDC59BC256371D2218468DD28799CA?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:07:18 GMT"
      },
      "RequestBody": {
        "channelId": "369AA0761B19E8D69290CF0140DDDD9FA7B56F23C000E622B1",
        "queueId": "19A5A6AC4E57664ACD7E3FEF6CEC5C9D5075A7E4BA1F15D092",
        "priority": 1,
        "matchingMode": {
          "scheduleAt": "2023-10-31T20:07:28.7857524Z",
          "kind": "schedule-and-suspend"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-8aab-acfe4cdadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:07:22 GMT",
        "trace-id": "ec6bbeff-7143-7de0-ecbf-31c5664ee802"
      },
      "ResponseBody": {
        "id": "EFCC13ABE3BD17C62DCBFDC59BC256371D2218468DD28799CA",
        "status": "pendingSchedule",
        "channelId": "369AA0761B19E8D69290CF0140DDDD9FA7B56F23C000E622B1",
        "queueId": "19A5A6AC4E57664ACD7E3FEF6CEC5C9D5075A7E4BA1F15D092",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "schedule-and-suspend",
          "scheduleAt": "2023-10-31T20:07:28.7857524\u002B00:00"
        },
        "etag": "\u002200000000-0000-0000-8aab-acfe4cdadb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/EFCC13ABE3BD17C62DCBFDC59BC256371D2218468DD28799CA?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:07:25 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-f9e1-8a024ddadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:07:29 GMT",
        "trace-id": "4da0f92f-c61c-b592-b817-6999992fbc67"
      },
      "ResponseBody": {
        "id": "EFCC13ABE3BD17C62DCBFDC59BC256371D2218468DD28799CA",
        "status": "waitingForActivation",
        "channelId": "369AA0761B19E8D69290CF0140DDDD9FA7B56F23C000E622B1",
        "queueId": "19A5A6AC4E57664ACD7E3FEF6CEC5C9D5075A7E4BA1F15D092",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "scheduledAt": "2023-10-31T20:07:29.3050361\u002B00:00",
        "matchingMode": {
          "kind": "schedule-and-suspend",
          "scheduleAt": "2023-10-31T20:07:28.7857524\u002B00:00"
        },
        "etag": "\u002200000002-0000-0000-f9e1-8a024ddadb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/EFCC13ABE3BD17C62DCBFDC59BC256371D2218468DD28799CA?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:07:25 GMT"
      },
      "RequestBody": {
        "requestedWorkerSelectors": [],
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": ""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000005-0000-0000-10f8-d2024ddadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:07:29 GMT",
        "trace-id": "bc53deb0-4b3e-7a18-bc71-c4051d299a9a"
      },
      "ResponseBody": {
        "id": "EFCC13ABE3BD17C62DCBFDC59BC256371D2218468DD28799CA",
        "status": "queued",
        "enqueuedAt": "2023-10-31T20:07:29.7774608\u002B00:00",
        "channelId": "369AA0761B19E8D69290CF0140DDDD9FA7B56F23C000E622B1",
        "queueId": "19A5A6AC4E57664ACD7E3FEF6CEC5C9D5075A7E4BA1F15D092",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "scheduledAt": "2023-10-31T20:07:29.3050361\u002B00:00",
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000005-0000-0000-10f8-d2024ddadb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/87832835B3C364B62FC9FA139AC97CB53E9E122F84792C1C79?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:07:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000003-0000-0000-f494-fe024ddadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:07:30 GMT",
        "trace-id": "6fa9cd7e-fb59-fd9b-cb7a-00bab10ffae5"
      },
      "ResponseBody": {
        "id": "87832835B3C364B62FC9FA139AC97CB53E9E122F84792C1C79",
        "state": "active",
        "queues": [
          "19A5A6AC4E57664ACD7E3FEF6CEC5C9D5075A7E4BA1F15D092"
        ],
        "capacity": 1,
        "labels": {
          "Id": "87832835B3C364B62FC9FA139AC97CB53E9E122F84792C1C79"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "369AA0761B19E8D69290CF0140DDDD9FA7B56F23C000E622B1",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [
          {
            "offerId": "0627f5e8-c375-4d61-8251-8550c593a740",
            "jobId": "EFCC13ABE3BD17C62DCBFDC59BC256371D2218468DD28799CA",
            "capacityCost": 1,
            "offeredAt": "2023-10-31T20:07:30.0632816\u002B00:00",
            "expiresAt": "2023-10-31T20:17:30.0632816\u002B00:00"
          }
        ],
        "assignedJobs": [],
        "loadRatio": 1,
        "availableForOffers": true,
        "etag": "\u002200000003-0000-0000-f494-fe024ddadb08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/87832835B3C364B62FC9FA139AC97CB53E9E122F84792C1C79/offers/0627f5e8-c375-4d61-8251-8550c593a740:accept?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:07:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "6598d796-b452-115c-fda5-27fec14dec7a"
      },
      "ResponseBody": {
        "assignmentId": "6222709a-11cd-443d-b2e5-abcc3678244d",
        "jobId": "EFCC13ABE3BD17C62DCBFDC59BC256371D2218468DD28799CA",
        "workerId": "87832835B3C364B62FC9FA139AC97CB53E9E122F84792C1C79"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/87832835B3C364B62FC9FA139AC97CB53E9E122F84792C1C79/offers/0627f5e8-c375-4d61-8251-8550c593a740:decline?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:07:28 GMT"
      },
      "RequestBody": {
        "retryOfferAt": "0001-01-01T00:00:00.0000000Z"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "eae3e092-167b-791d-8289-556bb0a647cf"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "DeclineOfferCommandHandler: Offer not found. OfferId: 0627f5e8-c375-4d61-8251-8550c593a740, WorkerId: 87832835B3C364B62FC9FA139AC97CB53E9E122F84792C1C79",
          "target": "/routing/workers/87832835B3C364B62FC9FA139AC97CB53E9E122F84792C1C79/offers/0627f5e8-c375-4d61-8251-8550c593a740:decline"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/EFCC13ABE3BD17C62DCBFDC59BC256371D2218468DD28799CA:complete?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:07:28 GMT"
      },
      "RequestBody": {
        "assignmentId": "6222709a-11cd-443d-b2e5-abcc3678244d",
        "note": "Job completed by 87832835B3C364B62FC9FA139AC97CB53E9E122F84792C1C79"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "92a8fda6-fea3-2cbe-667d-8e7c954b418a"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/EFCC13ABE3BD17C62DCBFDC59BC256371D2218468DD28799CA:close?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:07:28 GMT"
      },
      "RequestBody": {
        "assignmentId": "6222709a-11cd-443d-b2e5-abcc3678244d",
        "closeAt": "0001-01-01T00:00:00.0000000Z",
        "note": "Job closed by 87832835B3C364B62FC9FA139AC97CB53E9E122F84792C1C79"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "296535f9-37c4-7ccc-80fb-fa48632073a0"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/EFCC13ABE3BD17C62DCBFDC59BC256371D2218468DD28799CA?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:07:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000008-0000-0000-d4c7-88044ddadb08\u0022",
        "Last-Modified": "Tue, 31 Oct 2023 20:07:32 GMT",
        "trace-id": "5974a395-60ea-e8bc-d9a9-2cee837b6481"
      },
      "ResponseBody": {
        "id": "EFCC13ABE3BD17C62DCBFDC59BC256371D2218468DD28799CA",
        "status": "closed",
        "enqueuedAt": "2023-10-31T20:07:29.7774608\u002B00:00",
        "channelId": "369AA0761B19E8D69290CF0140DDDD9FA7B56F23C000E622B1",
        "queueId": "19A5A6AC4E57664ACD7E3FEF6CEC5C9D5075A7E4BA1F15D092",
        "priority": 1,
        "dispositionCode": "Closed",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {
          "6222709a-11cd-443d-b2e5-abcc3678244d": {
            "assignmentId": "6222709a-11cd-443d-b2e5-abcc3678244d",
            "workerId": "87832835B3C364B62FC9FA139AC97CB53E9E122F84792C1C79",
            "assignedAt": "2023-10-31T20:07:31.2333424\u002B00:00",
            "completedAt": "2023-10-31T20:07:32.4506251\u002B00:00",
            "closedAt": "2023-10-31T20:07:32.6467028\u002B00:00"
          }
        },
        "tags": {},
        "notes": [
          {
            "message": "Job completed by 87832835B3C364B62FC9FA139AC97CB53E9E122F84792C1C79",
            "addedAt": "2023-10-31T20:07:32.4506251\u002B00:00"
          },
          {
            "message": "Job closed by 87832835B3C364B62FC9FA139AC97CB53E9E122F84792C1C79",
            "addedAt": "2023-10-31T20:07:32.6467028\u002B00:00"
          }
        ],
        "scheduledAt": "2023-10-31T20:07:29.3050361\u002B00:00",
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000008-0000-0000-d4c7-88044ddadb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/19A5A6AC4E57664ACD7E3FEF6CEC5C9D5075A7E4BA1F15D092?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 31 Oct 2023 20:07:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "5102724e-e969-1701-b043-3948f91e08d7"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-fYmYZ6IqIU6ZEawg7xTcyQ-",
    "RandomSeed": "1311882513",
    "scheduled-time-utc": "2023-10-31T20:07:28.7857524\u002B00:00"
  }
}
