{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/503914ABCE606133D8FDE613C52B1ED3F580B2BE3BDF3E5DF8?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:41:50 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022410062c3-0000-0700-0000-653fdcce0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 16:41:50 GMT",
        "trace-id": "1a43d2db-3b49-7f25-0d2a-f8e83e84b96a"
      },
      "ResponseBody": {
        "id": "503914ABCE606133D8FDE613C52B1ED3F580B2BE3BDF3E5DF8",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022410062c3-0000-0700-0000-653fdcce0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/503914ABCE606133D8FDE613C52B1ED3F580B2BE3BDF3E5DF8?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:41:51 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "503914ABCE606133D8FDE613C52B1ED3F580B2BE3BDF3E5DF8"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ee009ab8-0000-0700-0000-653fdcce0000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 16:41:50 GMT",
        "trace-id": "439869a2-aa36-38f4-0739-e9738a14e793"
      },
      "ResponseBody": {
        "id": "503914ABCE606133D8FDE613C52B1ED3F580B2BE3BDF3E5DF8",
        "name": "test",
        "distributionPolicyId": "503914ABCE606133D8FDE613C52B1ED3F580B2BE3BDF3E5DF8",
        "labels": {
          "Id": "503914ABCE606133D8FDE613C52B1ED3F580B2BE3BDF3E5DF8"
        },
        "etag": "\u0022ee009ab8-0000-0700-0000-653fdcce0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/20AB6AF01372B189991ECF9E4266CD845AF5E77C647464B6FA?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:41:51 GMT"
      },
      "RequestBody": {
        "queues": [
          "503914ABCE606133D8FDE613C52B1ED3F580B2BE3BDF3E5DF8"
        ],
        "capacity": 1,
        "channels": [
          {
            "channelId": "F718D5EB99A6E5516BC1D406785FBA9EEB54622F4583FF72F0",
            "capacityCostPerJob": 1
          }
        ],
        "availableForOffers": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-a7f8-ee1d67d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 16:41:51 GMT",
        "trace-id": "317c4eff-353d-108f-dced-4d5df4125206"
      },
      "ResponseBody": {
        "id": "20AB6AF01372B189991ECF9E4266CD845AF5E77C647464B6FA",
        "state": "active",
        "queues": [
          "503914ABCE606133D8FDE613C52B1ED3F580B2BE3BDF3E5DF8"
        ],
        "capacity": 1,
        "labels": {
          "Id": "20AB6AF01372B189991ECF9E4266CD845AF5E77C647464B6FA"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "F718D5EB99A6E5516BC1D406785FBA9EEB54622F4583FF72F0",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "etag": "\u002200000001-0000-0000-a7f8-ee1d67d9db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/62A925888657A50551D7C34FF7DE4825C2004FBB5FD940C32D?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:41:51 GMT"
      },
      "RequestBody": {
        "channelId": "F718D5EB99A6E5516BC1D406785FBA9EEB54622F4583FF72F0",
        "queueId": "503914ABCE606133D8FDE613C52B1ED3F580B2BE3BDF3E5DF8",
        "priority": 1,
        "matchingMode": {
          "scheduleAt": "2023-10-30T16:42:01.8695631Z",
          "kind": "schedule-and-suspend"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000008-0000-0000-493d-181e67d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 16:41:51 GMT",
        "trace-id": "0152938a-8737-bf0a-39d7-330933aa0112"
      },
      "ResponseBody": {
        "id": "62A925888657A50551D7C34FF7DE4825C2004FBB5FD940C32D",
        "status": "pendingSchedule",
        "channelId": "F718D5EB99A6E5516BC1D406785FBA9EEB54622F4583FF72F0",
        "queueId": "503914ABCE606133D8FDE613C52B1ED3F580B2BE3BDF3E5DF8",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "scheduledAt": "2023-10-30T16:41:38.4040277\u002B00:00",
        "matchingMode": {
          "kind": "schedule-and-suspend",
          "scheduleAt": "2023-10-30T16:42:01.8695631\u002B00:00"
        },
        "etag": "\u002200000008-0000-0000-493d-181e67d9db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/62A925888657A50551D7C34FF7DE4825C2004FBB5FD940C32D?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:42:04 GMT"
      },
      "RequestBody": {
        "requestedWorkerSelectors": [],
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000000d-0000-0000-e07a-972567d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 16:42:03 GMT",
        "trace-id": "8e7332a9-1217-af33-3154-a58a30fd36c1"
      },
      "ResponseBody": {
        "id": "62A925888657A50551D7C34FF7DE4825C2004FBB5FD940C32D",
        "status": "queued",
        "enqueuedAt": "2023-10-30T16:42:03.8600416\u002B00:00",
        "channelId": "F718D5EB99A6E5516BC1D406785FBA9EEB54622F4583FF72F0",
        "queueId": "503914ABCE606133D8FDE613C52B1ED3F580B2BE3BDF3E5DF8",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "scheduledAt": "2023-10-30T16:42:02.621099\u002B00:00",
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u00220000000d-0000-0000-e07a-972567d9db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/20AB6AF01372B189991ECF9E4266CD845AF5E77C647464B6FA?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:42:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000003-0000-0000-382e-b92567d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 16:42:04 GMT",
        "trace-id": "d11d98c5-5215-e0e1-f39a-89b25133c3d5"
      },
      "ResponseBody": {
        "id": "20AB6AF01372B189991ECF9E4266CD845AF5E77C647464B6FA",
        "state": "active",
        "queues": [
          "503914ABCE606133D8FDE613C52B1ED3F580B2BE3BDF3E5DF8"
        ],
        "capacity": 1,
        "labels": {
          "Id": "20AB6AF01372B189991ECF9E4266CD845AF5E77C647464B6FA"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "F718D5EB99A6E5516BC1D406785FBA9EEB54622F4583FF72F0",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [
          {
            "offerId": "4f6657f4-2e64-472b-a184-1e9fb093ef80",
            "jobId": "62A925888657A50551D7C34FF7DE4825C2004FBB5FD940C32D",
            "capacityCost": 1,
            "offeredAt": "2023-10-30T16:42:04.0809007\u002B00:00",
            "expiresAt": "2023-10-30T16:52:04.0809007\u002B00:00"
          }
        ],
        "assignedJobs": [],
        "loadRatio": 1,
        "availableForOffers": true,
        "etag": "\u002200000003-0000-0000-382e-b92567d9db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/20AB6AF01372B189991ECF9E4266CD845AF5E77C647464B6FA/offers/4f6657f4-2e64-472b-a184-1e9fb093ef80:accept?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:42:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "22b1b39a-ac14-7055-a7ac-1f164cf1dbda"
      },
      "ResponseBody": {
        "assignmentId": "9a457d2c-eb20-4e4a-9862-438190f8a420",
        "jobId": "62A925888657A50551D7C34FF7DE4825C2004FBB5FD940C32D",
        "workerId": "20AB6AF01372B189991ECF9E4266CD845AF5E77C647464B6FA"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/20AB6AF01372B189991ECF9E4266CD845AF5E77C647464B6FA/offers/4f6657f4-2e64-472b-a184-1e9fb093ef80:decline?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:42:06 GMT"
      },
      "RequestBody": {
        "retryOfferAt": "0001-01-01T00:00:00.0000000Z"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "13026158-c87e-709d-2dd1-268c4904f18b"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "DeclineOfferCommandHandler: Offer not found. OfferId: 4f6657f4-2e64-472b-a184-1e9fb093ef80, WorkerId: 20AB6AF01372B189991ECF9E4266CD845AF5E77C647464B6FA",
          "target": "/routing/workers/20AB6AF01372B189991ECF9E4266CD845AF5E77C647464B6FA/offers/4f6657f4-2e64-472b-a184-1e9fb093ef80:decline"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/62A925888657A50551D7C34FF7DE4825C2004FBB5FD940C32D:complete?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:42:07 GMT"
      },
      "RequestBody": {
        "assignmentId": "9a457d2c-eb20-4e4a-9862-438190f8a420",
        "note": "Job completed by 20AB6AF01372B189991ECF9E4266CD845AF5E77C647464B6FA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "dab97dda-fb26-eb5c-f6b8-c10a9f04be90"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/62A925888657A50551D7C34FF7DE4825C2004FBB5FD940C32D:close?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:42:07 GMT"
      },
      "RequestBody": {
        "assignmentId": "9a457d2c-eb20-4e4a-9862-438190f8a420",
        "closeAt": "0001-01-01T00:00:00.0000000Z",
        "note": "Job closed by 20AB6AF01372B189991ECF9E4266CD845AF5E77C647464B6FA"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "f9d03017-4d50-17af-bc5a-ba951b016e46"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/62A925888657A50551D7C34FF7DE4825C2004FBB5FD940C32D?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:42:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000010-0000-0000-9713-2f2767d9db08\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 16:42:06 GMT",
        "trace-id": "12cfb12a-d7b2-d499-d01e-97b59a50021f"
      },
      "ResponseBody": {
        "id": "62A925888657A50551D7C34FF7DE4825C2004FBB5FD940C32D",
        "status": "closed",
        "enqueuedAt": "2023-10-30T16:42:03.8600416\u002B00:00",
        "channelId": "F718D5EB99A6E5516BC1D406785FBA9EEB54622F4583FF72F0",
        "queueId": "503914ABCE606133D8FDE613C52B1ED3F580B2BE3BDF3E5DF8",
        "priority": 1,
        "dispositionCode": "Closed",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {
          "9a457d2c-eb20-4e4a-9862-438190f8a420": {
            "assignmentId": "9a457d2c-eb20-4e4a-9862-438190f8a420",
            "workerId": "20AB6AF01372B189991ECF9E4266CD845AF5E77C647464B6FA",
            "assignedAt": "2023-10-30T16:42:05.1908094\u002B00:00",
            "completedAt": "2023-10-30T16:42:06.3913118\u002B00:00",
            "closedAt": "2023-10-30T16:42:06.5312663\u002B00:00"
          }
        },
        "tags": {},
        "notes": [
          {
            "message": "Job completed by 20AB6AF01372B189991ECF9E4266CD845AF5E77C647464B6FA",
            "addedAt": "2023-10-30T16:42:06.3913118\u002B00:00"
          },
          {
            "message": "Job closed by 20AB6AF01372B189991ECF9E4266CD845AF5E77C647464B6FA",
            "addedAt": "2023-10-30T16:42:06.5312663\u002B00:00"
          }
        ],
        "scheduledAt": "2023-10-30T16:42:02.621099\u002B00:00",
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000010-0000-0000-9713-2f2767d9db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/20AB6AF01372B189991ECF9E4266CD845AF5E77C647464B6FA?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 16:42:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "c51c30e8-b0a3-89cc-3768-a23a865ae90b"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-8XewIienC0OUTv-dYiae1g-",
    "RandomSeed": "115232854",
    "scheduled-time-utc": "2023-10-30T16:42:01.8695631\u002B00:00"
  }
}
