{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/FBABF6F7899DCF8210A2307843545B8AEFC1650FFCEF18302F?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 18:22:43 GMT"
      },
      "RequestBody": {
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a400e0cc-0000-0700-0000-655269720000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 18:22:42 GMT",
        "trace-id": "62b429ab-6715-09c2-3dda-eaf0925ed522"
      },
      "ResponseBody": {
        "id": "FBABF6F7899DCF8210A2307843545B8AEFC1650FFCEF18302F",
        "name": "Simple-Queue-Distribution",
        "offerExpiresAfterSeconds": 600,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022a400e0cc-0000-0700-0000-655269720000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/FBABF6F7899DCF8210A2307843545B8AEFC1650FFCEF18302F?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 18:22:44 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "FBABF6F7899DCF8210A2307843545B8AEFC1650FFCEF18302F",
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225a024111-0000-0700-0000-655269720000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 18:22:42 GMT",
        "trace-id": "7c094c28-2ec3-ced7-9e63-0a7fa1060ae3"
      },
      "ResponseBody": {
        "id": "FBABF6F7899DCF8210A2307843545B8AEFC1650FFCEF18302F",
        "name": "test",
        "distributionPolicyId": "FBABF6F7899DCF8210A2307843545B8AEFC1650FFCEF18302F",
        "labels": {
          "Id": "FBABF6F7899DCF8210A2307843545B8AEFC1650FFCEF18302F"
        },
        "etag": "\u00225a024111-0000-0700-0000-655269720000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/5FD8D7D0A62BEB35BDA138099EBBA128D16EFF04436CBEEA54?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 18:22:44 GMT"
      },
      "RequestBody": {
        "queues": [
          "FBABF6F7899DCF8210A2307843545B8AEFC1650FFCEF18302F"
        ],
        "capacity": 1,
        "channels": [
          {
            "channelId": "45437C467377D146E53B057D7CCDF99C228F3CD234C9F08B7C",
            "capacityCostPerJob": 1
          }
        ],
        "availableForOffers": true,
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000001-0000-0000-56c3-e48675e4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 18:22:42 GMT",
        "trace-id": "b019c6d1-1049-d523-3d3e-9db6b8ee72f7"
      },
      "ResponseBody": {
        "id": "5FD8D7D0A62BEB35BDA138099EBBA128D16EFF04436CBEEA54",
        "state": "active",
        "queues": [
          "FBABF6F7899DCF8210A2307843545B8AEFC1650FFCEF18302F"
        ],
        "capacity": 1,
        "labels": {
          "Id": "5FD8D7D0A62BEB35BDA138099EBBA128D16EFF04436CBEEA54"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "45437C467377D146E53B057D7CCDF99C228F3CD234C9F08B7C",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "etag": "\u002200000001-0000-0000-56c3-e48675e4db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/16F594A6F74BCB4E58BA34EBBCDDD07B73367E773ED9130711?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 18:22:44 GMT"
      },
      "RequestBody": {
        "channelId": "45437C467377D146E53B057D7CCDF99C228F3CD234C9F08B7C",
        "queueId": "FBABF6F7899DCF8210A2307843545B8AEFC1650FFCEF18302F",
        "priority": 1,
        "matchingMode": {
          "scheduleAt": "2023-11-13T18:22:54.8465070Z",
          "kind": "scheduleAndSuspend"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-e379-2d8775e4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 18:22:43 GMT",
        "trace-id": "8b8774a6-5d15-2f98-e7c0-a2610d833841"
      },
      "ResponseBody": {
        "id": "16F594A6F74BCB4E58BA34EBBCDDD07B73367E773ED9130711",
        "status": "pendingSchedule",
        "channelId": "45437C467377D146E53B057D7CCDF99C228F3CD234C9F08B7C",
        "queueId": "FBABF6F7899DCF8210A2307843545B8AEFC1650FFCEF18302F",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "scheduleAndSuspend",
          "scheduleAt": "2023-11-13T18:22:54.846507\u002B00:00"
        },
        "etag": "\u002200000000-0000-0000-e379-2d8775e4db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/16F594A6F74BCB4E58BA34EBBCDDD07B73367E773ED9130711?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 18:22:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000002-0000-0000-6fac-868e75e4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 18:22:55 GMT",
        "trace-id": "86216620-2320-970b-a1b0-d176153c6cce"
      },
      "ResponseBody": {
        "id": "16F594A6F74BCB4E58BA34EBBCDDD07B73367E773ED9130711",
        "status": "waitingForActivation",
        "channelId": "45437C467377D146E53B057D7CCDF99C228F3CD234C9F08B7C",
        "queueId": "FBABF6F7899DCF8210A2307843545B8AEFC1650FFCEF18302F",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "scheduledAt": "2023-11-13T18:22:55.6554351\u002B00:00",
        "matchingMode": {
          "kind": "scheduleAndSuspend",
          "scheduleAt": "2023-11-13T18:22:54.846507\u002B00:00"
        },
        "etag": "\u002200000002-0000-0000-6fac-868e75e4db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/16F594A6F74BCB4E58BA34EBBCDDD07B73367E773ED9130711?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 18:22:57 GMT"
      },
      "RequestBody": {
        "requestedWorkerSelectors": [],
        "notes": [],
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": ""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000005-0000-0000-a770-b48e75e4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 18:22:55 GMT",
        "trace-id": "9c5cc552-d54c-eef9-a198-6df95a9a303d"
      },
      "ResponseBody": {
        "id": "16F594A6F74BCB4E58BA34EBBCDDD07B73367E773ED9130711",
        "status": "queued",
        "enqueuedAt": "2023-11-13T18:22:55.9553703\u002B00:00",
        "channelId": "45437C467377D146E53B057D7CCDF99C228F3CD234C9F08B7C",
        "queueId": "FBABF6F7899DCF8210A2307843545B8AEFC1650FFCEF18302F",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "scheduledAt": "2023-11-13T18:22:55.6554351\u002B00:00",
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000005-0000-0000-a770-b48e75e4db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/5FD8D7D0A62BEB35BDA138099EBBA128D16EFF04436CBEEA54?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 18:22:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000003-0000-0000-515f-ce8e75e4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 18:22:56 GMT",
        "trace-id": "7de1b065-e8f9-ee07-a38f-e0b9581abe65"
      },
      "ResponseBody": {
        "id": "5FD8D7D0A62BEB35BDA138099EBBA128D16EFF04436CBEEA54",
        "state": "active",
        "queues": [
          "FBABF6F7899DCF8210A2307843545B8AEFC1650FFCEF18302F"
        ],
        "capacity": 1,
        "labels": {
          "Id": "5FD8D7D0A62BEB35BDA138099EBBA128D16EFF04436CBEEA54"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "45437C467377D146E53B057D7CCDF99C228F3CD234C9F08B7C",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [
          {
            "offerId": "6e14a9b1-f483-48e2-bc62-f82e5f71e63b",
            "jobId": "16F594A6F74BCB4E58BA34EBBCDDD07B73367E773ED9130711",
            "capacityCost": 1,
            "offeredAt": "2023-11-13T18:22:56.1253177\u002B00:00",
            "expiresAt": "2023-11-13T18:32:56.1253179\u002B00:00"
          }
        ],
        "assignedJobs": [],
        "loadRatio": 1,
        "availableForOffers": true,
        "etag": "\u002200000003-0000-0000-515f-ce8e75e4db08\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/5FD8D7D0A62BEB35BDA138099EBBA128D16EFF04436CBEEA54/offers/6e14a9b1-f483-48e2-bc62-f82e5f71e63b:accept?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 18:22:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "ce54588f-5476-d64a-edf9-274ffcce40d9"
      },
      "ResponseBody": {
        "assignmentId": "37ee1f0e-2551-4e94-aa5f-5d807237d4a9",
        "jobId": "16F594A6F74BCB4E58BA34EBBCDDD07B73367E773ED9130711",
        "workerId": "5FD8D7D0A62BEB35BDA138099EBBA128D16EFF04436CBEEA54"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/workers/5FD8D7D0A62BEB35BDA138099EBBA128D16EFF04436CBEEA54/offers/6e14a9b1-f483-48e2-bc62-f82e5f71e63b:decline?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 18:22:59 GMT"
      },
      "RequestBody": {
        "retryOfferAt": "0001-01-01T00:00:00.0000000Z"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "4707024d-883b-7382-5eeb-4de01211cbce"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "DeclineOfferCommandHandler: Offer not found. OfferId: 6e14a9b1-f483-48e2-bc62-f82e5f71e63b, WorkerId: 5FD8D7D0A62BEB35BDA138099EBBA128D16EFF04436CBEEA54",
          "target": "/routing/workers/5FD8D7D0A62BEB35BDA138099EBBA128D16EFF04436CBEEA54/offers/6e14a9b1-f483-48e2-bc62-f82e5f71e63b:decline"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/16F594A6F74BCB4E58BA34EBBCDDD07B73367E773ED9130711/assignments/37ee1f0e-2551-4e94-aa5f-5d807237d4a9:complete?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 18:23:00 GMT"
      },
      "RequestBody": {
        "note": "Job completed by 5FD8D7D0A62BEB35BDA138099EBBA128D16EFF04436CBEEA54"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "84921e8b-9807-3d29-ab91-f0b174ca00f3"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/16F594A6F74BCB4E58BA34EBBCDDD07B73367E773ED9130711/assignments/37ee1f0e-2551-4e94-aa5f-5d807237d4a9:close?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 18:23:00 GMT"
      },
      "RequestBody": {
        "closeAt": "0001-01-01T00:00:00.0000000Z",
        "note": "Job closed by 5FD8D7D0A62BEB35BDA138099EBBA128D16EFF04436CBEEA54"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "8a66922c-38ff-2bbb-cbd9-5f9e9c9a6e09"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/jobs/16F594A6F74BCB4E58BA34EBBCDDD07B73367E773ED9130711?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 18:23:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000008-0000-0000-b39c-639075e4db08\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 18:22:58 GMT",
        "trace-id": "8e1c52b6-e52c-b0d4-b79c-22f0e0c274d1"
      },
      "ResponseBody": {
        "id": "16F594A6F74BCB4E58BA34EBBCDDD07B73367E773ED9130711",
        "status": "closed",
        "enqueuedAt": "2023-11-13T18:22:55.9553703\u002B00:00",
        "channelId": "45437C467377D146E53B057D7CCDF99C228F3CD234C9F08B7C",
        "queueId": "FBABF6F7899DCF8210A2307843545B8AEFC1650FFCEF18302F",
        "priority": 1,
        "dispositionCode": "Closed",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {
          "37ee1f0e-2551-4e94-aa5f-5d807237d4a9": {
            "assignmentId": "37ee1f0e-2551-4e94-aa5f-5d807237d4a9",
            "workerId": "5FD8D7D0A62BEB35BDA138099EBBA128D16EFF04436CBEEA54",
            "assignedAt": "2023-11-13T18:22:57.3119308\u002B00:00",
            "completedAt": "2023-11-13T18:22:58.5704418\u002B00:00",
            "closedAt": "2023-11-13T18:22:58.7810995\u002B00:00"
          }
        },
        "tags": {},
        "notes": [
          {
            "message": "Job completed by 5FD8D7D0A62BEB35BDA138099EBBA128D16EFF04436CBEEA54",
            "addedAt": "2023-11-13T18:22:58.5704418\u002B00:00"
          },
          {
            "message": "Job closed by 5FD8D7D0A62BEB35BDA138099EBBA128D16EFF04436CBEEA54",
            "addedAt": "2023-11-13T18:22:58.7810995\u002B00:00"
          }
        ],
        "scheduledAt": "2023-11-13T18:22:55.6554351\u002B00:00",
        "matchingMode": {
          "kind": "queueAndMatch"
        },
        "etag": "\u002200000008-0000-0000-b39c-639075e4db08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/FBABF6F7899DCF8210A2307843545B8AEFC1650FFCEF18302F?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 18:23:07 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "781fcd41-a4ac-9a1a-58c1-57c91be8d332"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-aDKMX7wJckyvpl1JoF-huQ-",
    "RandomSeed": "55608021",
    "scheduled-time-utc": "2023-11-13T18:22:54.8465070\u002B00:00"
  }
}
