{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "4d042dc6-fe17-4698-a23f-ec6a8d1e98f4",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourcegroups/SdkRg8724?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SdkRg8724",
        "name": "SdkRg8724",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SdkRg8724/providers/Microsoft.EdgeOrder/addresses/SdkAddress6227?api-version=2024-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "shippingAddress": {
            "streetAddress1": "16 TOWNSEND ST",
            "streetAddress2": "Unit 1",
            "city": "San Francisco",
            "stateOrProvince": "CA",
            "country": "US",
            "postalCode": "94107",
            "companyName": "Microsoft",
            "addressType": "Commercial"
          },
          "contactDetails": {
            "contactName": "Public SDK Test",
            "phone": "1234567890",
            "phoneExtension": "1234",
            "emailList": [
              "testing@microsoft.com"
            ]
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.EdgeOrder/locations/eastus/operationResults/5ffc0d98-ce06-4836-9afe-1e024a6b156b?api-version=2024-02-01&t=639041457874513332&c=MIIHhzCCBm-gAwIBAgITfAlY2NhYWz_rkiYT0gAACVjY2DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE5MDMwMTUzWhcNMjYwNDE3MDMwMTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2V[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.EdgeOrder/locations/eastus/operationResults/5ffc0d98-ce06-4836-9afe-1e024a6b156b?api-version=2024-02-01&t=639041457874513332&c=MIIHhzCCBm-gAwIBAgITfAlY2NhYWz_rkiYT0gAACVjY2DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE5MDMwMTUzWhcNMjYwNDE3MDMwMTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbm[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.EdgeOrder/locations/eastus/operationResults/5ffc0d98-ce06-4836-9afe-1e024a6b156b?api-version=2024-02-01&t=639041457882071881&c=MIIHhzCCBm-gAwIBAgITfAlY2NhYWz_rkiYT0gAACVjY2DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE5MDMwMTUzWhcNMjYwNDE3MDMwMTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbm[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SdkRg8724/providers/Microsoft.EdgeOrder/addresses/SdkAddress6227?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "properties": {
          "addressClassification": "Shipping",
          "shippingAddress": {
            "streetAddress1": "16 TOWNSEND ST",
            "streetAddress2": "Unit 1",
            "city": "San Francisco",
            "stateOrProvince": "CA",
            "country": "US",
            "postalCode": "94107",
            "companyName": "Microsoft",
            "addressType": "Commercial"
          },
          "contactDetails": {
            "contactName": "Public SDK Test",
            "phone": "1234567890",
            "phoneExtension": "1234",
            "emailList": [
              "testing@microsoft.com"
            ]
          },
          "addressValidationStatus": "Valid"
        },
        "location": "eastus",
        "tags": {},
        "name": "SdkAddress6227",
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SdkRg8724/providers/Microsoft.EdgeOrder/addresses/SdkAddress6227",
        "type": "Microsoft.EdgeOrder/addresses",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-01-16T07:36:27.2482094+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-01-16T07:36:27.2482094+00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SdkRg8724/providers/Microsoft.EdgeOrder/addresses/SdkAddress6227?api-version=2024-02-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "199",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "2999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1010462210",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "4d042dc6-fe17-4698-a23f-ec6a8d1e98f4"
  }
}
