{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/ingestion-sources/managed-identities?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "objectId": "00000000-0000-0000-0000-000000000000",
            "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/emiliod-test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/emiliod-test"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/ingestion-sources?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "kind": "BlobManagedIdentity",
        "connectionInfo": {
          "containerUrl": "Sanitized",
          "objectId": "00000000-0000-0000-0000-000000000000"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.geocatalogs.azure.com/inma/ingestion-sources/b9b07f74-ea1b-4c55-b757-82cffe08c5b9?api-version=2026-04-15"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "kind": "BlobManagedIdentity",
        "created": "2026-06-09T11:50:37.5669301Z",
        "connectionInfo": {
          "containerUrl": "Sanitized",
          "objectId": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/ingestion-sources/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
