{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "importType": "StaticCatalog",
        "displayName": "Ingestion for Get Run",
        "sourceCatalogUrl": "https://Sanitized/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions/7428e7bc-1b65-456c-9315-c9d349dd4d6c?api-version=2026-04-15"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "creationTime": "2026-06-08T22:19:01.7048869Z",
        "importType": "StaticCatalog",
        "displayName": "Ingestion for Get Run",
        "sourceCatalogUrl": "https://Sanitized/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "status": "Ready"
      }
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions/00000000-0000-0000-0000-000000000000/runs?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions/7428e7bc-1b65-456c-9315-c9d349dd4d6c/runs/d3e582ba-cff1-46c2-9c69-0873aa9690b8?api-version=2026-04-15"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "creationTime": "2026-06-08T22:19:01.8374632Z",
        "sourceCatalogUrl": "https://Sanitized/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "operation": {
          "id": "00000000-0000-0000-0000-000000000000",
          "status": "Pending",
          "statusHistory": [
            {
              "status": "Pending",
              "timestamp": "2026-06-08T22:19:01.8276698Z"
            }
          ],
          "creationTime": "2026-06-08T22:19:01.8276687Z",
          "totalItems": 0,
          "totalPendingItems": 0,
          "totalSuccessfulItems": 0,
          "totalFailedItems": 0
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions/00000000-0000-0000-0000-000000000000/runs/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "creationTime": "2026-06-08T22:19:01.8374632Z",
        "sourceCatalogUrl": "https://Sanitized/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "operation": {
          "id": "00000000-0000-0000-0000-000000000000",
          "status": "Pending",
          "statusHistory": [
            {
              "status": "Pending",
              "timestamp": "2026-06-08T22:19:01.8276698Z"
            }
          ],
          "creationTime": "2026-06-08T22:19:01.8276687Z",
          "totalItems": 0,
          "totalPendingItems": 0,
          "totalSuccessfulItems": 0,
          "totalFailedItems": 0
        }
      }
    }
  ],
  "Variables": {}
}
