{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "importType": "StaticCatalog",
        "displayName": "Ingestion for Operation",
        "sourceCatalogUrl": "https://Sanitized/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions/32086203-1910-481f-b0e8-70f4986a6a76?api-version=2026-04-15"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "creationTime": "2026-06-08T22:19:25.5466049Z",
        "importType": "StaticCatalog",
        "displayName": "Ingestion for Operation",
        "sourceCatalogUrl": "https://Sanitized/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "status": "Ready"
      }
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions/00000000-0000-0000-0000-000000000000/runs?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.geocatalogs.azure.com/inma/collections/naip/ingestions/32086203-1910-481f-b0e8-70f4986a6a76/runs/ead3bf4b-06a6-45ed-9603-4442542a8157?api-version=2026-04-15"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "creationTime": "2026-06-08T22:19:25.7703837Z",
        "sourceCatalogUrl": "https://Sanitized/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "operation": {
          "id": "00000000-0000-0000-0000-000000000000",
          "status": "Pending",
          "statusHistory": [
            {
              "status": "Pending",
              "timestamp": "2026-06-08T22:19:25.747843Z"
            }
          ],
          "creationTime": "2026-06-08T22:19:25.7478419Z",
          "totalItems": 0,
          "totalPendingItems": 0,
          "totalSuccessfulItems": 0,
          "totalFailedItems": 0
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-06-08T22:19:25.747843Z"
          }
        ],
        "type": "IngestionStaticCatalog",
        "creationTime": "2026-06-08T22:19:25.7478419Z",
        "collectionId": "naip"
      }
    }
  ],
  "Variables": {}
}
