{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "11",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.076"
      },
      "ResponseBody": {
        "id": "conv_B6AVROuzScvQhPCsPH4JHdAqcocfZILgx1qOF2Qhuvrwt0Ro",
        "object": "conversation",
        "created_at": 1758833364,
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "items": [
          {
            "type": "message",
            "role": "user",
            "content": "some text"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "13",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.042"
      },
      "ResponseBody": {
        "id": "conv_C1Liddx0wa8jPtL13dojVvuAbPVoqCe02loxeanO1jhawRSq",
        "object": "conversation",
        "created_at": 1758833364,
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "items": [
          {
            "type": "message",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "some text"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "19",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.049"
      },
      "ResponseBody": {
        "id": "conv_N3AWzee2M3i3zC661QrjG2CrY8xzxUaYwdDS4SzxvqYjn7SC",
        "object": "conversation",
        "created_at": 1758833364,
        "metadata": {}
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_B6AVROuzScvQhPCsPH4JHdAqcocfZILgx1qOF2Qhuvrwt0Ro?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "19",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.054"
      },
      "ResponseBody": {
        "id": "conv_B6AVROuzScvQhPCsPH4JHdAqcocfZILgx1qOF2Qhuvrwt0Ro",
        "object": "conversation",
        "created_at": 1758833364,
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "23",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.041"
      },
      "ResponseBody": {
        "data": [
          {
            "id": "conv_Hc3ctuOOVgCLy7clKO6rctgSmMxYsRWxJQ7P8968Zmocvpex",
            "object": "conversation",
            "created_at": 1758833365,
            "metadata": {}
          },
          {
            "id": "conv_wB0cswFUmgBxDVAfcu5H3aWaGSmVRvf6xWqdbv9CLcOd4HRI",
            "object": "conversation",
            "created_at": 1758833364,
            "metadata": {}
          },
          {
            "id": "conv_N3AWzee2M3i3zC661QrjG2CrY8xzxUaYwdDS4SzxvqYjn7SC",
    [...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_B6AVROuzScvQhPCsPH4JHdAqcocfZILgx1qOF2Qhuvrwt0Ro?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "17",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.036"
      },
      "ResponseBody": {
        "id": "conv_B6AVROuzScvQhPCsPH4JHdAqcocfZILgx1qOF2Qhuvrwt0Ro",
        "object": "conversation",
        "created_at": 1758833364,
        "metadata": {
          "key": "value"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_Hc3ctuOOVgCLy7clKO6rctgSmMxYsRWxJQ7P8968Zmocvpex?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "19",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.078"
      },
      "ResponseBody": {
        "object": "conversation.deleted",
        "deleted": true,
        "id": "conv_Hc3ctuOOVgCLy7clKO6rctgSmMxYsRWxJQ7P8968Zmocvpex"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_wB0cswFUmgBxDVAfcu5H3aWaGSmVRvf6xWqdbv9CLcOd4HRI?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "21",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.036"
      },
      "ResponseBody": {
        "object": "conversation.deleted",
        "deleted": true,
        "id": "conv_wB0cswFUmgBxDVAfcu5H3aWaGSmVRvf6xWqdbv9CLcOd4HRI"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_N3AWzee2M3i3zC661QrjG2CrY8xzxUaYwdDS4SzxvqYjn7SC?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "23",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.039"
      },
      "ResponseBody": {
        "object": "conversation.deleted",
        "deleted": true,
        "id": "conv_N3AWzee2M3i3zC661QrjG2CrY8xzxUaYwdDS4SzxvqYjn7SC"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_C1Liddx0wa8jPtL13dojVvuAbPVoqCe02loxeanO1jhawRSq?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "25",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.043"
      },
      "ResponseBody": {
        "object": "conversation.deleted",
        "deleted": true,
        "id": "conv_C1Liddx0wa8jPtL13dojVvuAbPVoqCe02loxeanO1jhawRSq"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_B6AVROuzScvQhPCsPH4JHdAqcocfZILgx1qOF2Qhuvrwt0Ro?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "23",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.076"
      },
      "ResponseBody": {
        "object": "conversation.deleted",
        "deleted": true,
        "id": "conv_B6AVROuzScvQhPCsPH4JHdAqcocfZILgx1qOF2Qhuvrwt0Ro"
      }
    }
  ],
  "Variables": {}
}
