{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "25",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.032"
      },
      "ResponseBody": {
        "id": "conv_kyGOCUb9Z8bxgvfA9D9piUjjLlpU7F7Ad26wusXwlDPheHS6",
        "object": "conversation",
        "created_at": 1758833368,
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "items": [
          {
            "type": "message",
            "role": "user",
            "content": "some text"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "25",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.037"
      },
      "ResponseBody": {
        "id": "conv_oddHoILCCn0UeJo9zO64UJcf8DXrRNWzeuOHcnc4Lg6u6P6r",
        "object": "conversation",
        "created_at": 1758833368,
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "items": [
          {
            "type": "message",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "some text"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "27",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.037"
      },
      "ResponseBody": {
        "id": "conv_G50urCY6mBnwUmzcvssGhMWMiZ2OjLHiM2xFQcq9uCNntty4",
        "object": "conversation",
        "created_at": 1758833368,
        "metadata": {}
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_kyGOCUb9Z8bxgvfA9D9piUjjLlpU7F7Ad26wusXwlDPheHS6?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "29",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.026"
      },
      "ResponseBody": {
        "id": "conv_kyGOCUb9Z8bxgvfA9D9piUjjLlpU7F7Ad26wusXwlDPheHS6",
        "object": "conversation",
        "created_at": 1758833368,
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "27",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.041"
      },
      "ResponseBody": {
        "data": [
          {
            "id": "conv_6QLLfIrho3WSmdCFanjXCdpVaRzHoR4TG2xCYXkCWvbbTzsB",
            "object": "conversation",
            "created_at": 1758833369,
            "metadata": {}
          },
          {
            "id": "conv_aEyS9PxGAjYZ0DeXkChSM50tSs1ouUwTSuwNTg8jLYXistyv",
            "object": "conversation",
            "created_at": 1758833368,
            "metadata": {}
          },
          {
            "id": "conv_G50urCY6mBnwUmzcvssGhMWMiZ2OjLHiM2xFQcq9uCNntty4",
    [...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_kyGOCUb9Z8bxgvfA9D9piUjjLlpU7F7Ad26wusXwlDPheHS6?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "31",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.044"
      },
      "ResponseBody": {
        "id": "conv_kyGOCUb9Z8bxgvfA9D9piUjjLlpU7F7Ad26wusXwlDPheHS6",
        "object": "conversation",
        "created_at": 1758833368,
        "metadata": {
          "key": "value"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_6QLLfIrho3WSmdCFanjXCdpVaRzHoR4TG2xCYXkCWvbbTzsB?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "29",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.035"
      },
      "ResponseBody": {
        "object": "conversation.deleted",
        "deleted": true,
        "id": "conv_6QLLfIrho3WSmdCFanjXCdpVaRzHoR4TG2xCYXkCWvbbTzsB"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_aEyS9PxGAjYZ0DeXkChSM50tSs1ouUwTSuwNTg8jLYXistyv?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "33",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.033"
      },
      "ResponseBody": {
        "object": "conversation.deleted",
        "deleted": true,
        "id": "conv_aEyS9PxGAjYZ0DeXkChSM50tSs1ouUwTSuwNTg8jLYXistyv"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_G50urCY6mBnwUmzcvssGhMWMiZ2OjLHiM2xFQcq9uCNntty4?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "31",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.038"
      },
      "ResponseBody": {
        "object": "conversation.deleted",
        "deleted": true,
        "id": "conv_G50urCY6mBnwUmzcvssGhMWMiZ2OjLHiM2xFQcq9uCNntty4"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_oddHoILCCn0UeJo9zO64UJcf8DXrRNWzeuOHcnc4Lg6u6P6r?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "35",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.029"
      },
      "ResponseBody": {
        "object": "conversation.deleted",
        "deleted": true,
        "id": "conv_oddHoILCCn0UeJo9zO64UJcf8DXrRNWzeuOHcnc4Lg6u6P6r"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_kyGOCUb9Z8bxgvfA9D9piUjjLlpU7F7Ad26wusXwlDPheHS6?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "33",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.034"
      },
      "ResponseBody": {
        "object": "conversation.deleted",
        "deleted": true,
        "id": "conv_kyGOCUb9Z8bxgvfA9D9piUjjLlpU7F7Ad26wusXwlDPheHS6"
      }
    }
  ],
  "Variables": {}
}
