{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/memory_stores/test-memory-store?api-version=2025-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "memory_store.deleted",
        "name": "test-memory-store",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/memory_stores?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "test-memory-store",
        "definition": {
          "kind": "default",
          "chat_model": "gpt-4o",
          "embedding_model": "text-embedding-3-small"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "memory_store",
        "id": "memstore_95dbd02a957f71ea00DDQEyHHnKeIFUFog5JQU8pZ4svFh2jx6",
        "created_at": 1764196125,
        "updated_at": 1764196125,
        "name": "test-memory-store",
        "description": "",
        "metadata": {},
        "definition": {
          "kind": "default",
          "chat_model": "gpt-4o",
          "embedding_model": "text-embedding-3-small",
          "options": {
            "user_profile_enabled": true,
            "chat_summary_enabled": true
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/memory_stores?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "object": "memory_store",
            "id": "memstore_95dbd02a957f71ea00DDQEyHHnKeIFUFog5JQU8pZ4svFh2jx6",
            "created_at": 1764196125,
            "updated_at": 1764196125,
            "name": "test-memory-store",
            "description": "",
            "metadata": {},
            "definition": {
              "kind": "default",
              "chat_model": "gpt-4o",
              "embedding_model": "text-embedding-3-small",
              "options": {
     [...]
[...]
