{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/TestNoVersionAgentFromDotnetTests?api-version=2025-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "error": {
          "code": "not_found",
          "message": "Agent not found",
          "param": null,
          "type": "error",
          "details": [],
          "additionalInfo": {
            "request_id": "eb9dcde311a8775b0f178e6ecadcfeee"
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/TestNoVersionAgentFromDotnetTests/versions?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "delete_me": "please "
        },
        "definition": {
          "kind": "prompt",
          "model": "gpt-4o"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {
          "delete_me": "please "
        },
        "object": "agent.version",
        "id": "TestNoVersionAgentFromDotnetTests:1",
        "name": "TestNoVersionAgentFromDotnetTests",
        "version": "1",
        "description": "",
        "created_at": 1764193771,
        "definition": {
          "kind": "prompt",
          "model": "gpt-4o"
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/TestNoVersionAgentFromDotnetTests?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent",
        "id": "TestNoVersionAgentFromDotnetTests",
        "name": "TestNoVersionAgentFromDotnetTests",
        "versions": {
          "latest": {
            "metadata": {
              "delete_me": "please "
            },
            "object": "agent.version",
            "id": "TestNoVersionAgentFromDotnetTests:1",
            "name": "TestNoVersionAgentFromDotnetTests",
            "version": "1",
            "description": "",
            "created_at": 1764193771,
            "definition": {
              "kind": "prompt",
              "model": "gpt-4o"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/TestNoVersionAgentFromDotnetTests?api-version=2025-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent.deleted",
        "name": "TestNoVersionAgentFromDotnetTests",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client/versions?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "definition": {
          "kind": "prompt",
          "model": "gpt-4o"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "cs-e2e-tests-client:1",
        "name": "cs-e2e-tests-client",
        "version": "1",
        "description": "",
        "created_at": 1764193779,
        "definition": {
          "kind": "prompt",
          "model": "gpt-4o"
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client/versions/1?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "cs-e2e-tests-client:1",
        "name": "cs-e2e-tests-client",
        "version": "1",
        "description": "",
        "created_at": 1764193779,
        "definition": {
          "kind": "prompt",
          "model": "gpt-4o"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client/versions/1?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "error": {
          "code": "not_found",
          "message": "Agent cs-e2e-tests-client with version 1 not found",
          "param": null,
          "type": "error",
          "details": [],
          "additionalInfo": {
            "request_id": "b793892b606deca03be87f2f2348ace5"
          }
        }
      }
    }
  ],
  "Variables": {
    "MODEL_DEPLOYMENT_NAME": "gpt-4o",
    "PROJECT_ENDPOINT": "https://rovins-sweden.services.ai.azure.com/api/projects/swedenProject"
  }
}
