{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe",
        "object": "conversation",
        "created_at": 1764193833,
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe/items?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "items": [
          {
            "type": "message",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "Message 1"
              }
            ]
          },
          {
            "type": "message",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "Message 2"
              }
            ]
          },
          {
            "type": "message",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "Message 3"
              }
            ][...]
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe/items?limit=5&order=asc&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "type": "message",
            "id": "msg_c7c88a787cc9e1e700N1dE8JgK4ybiF4bfmGcSau57rTR6xM4G",
            "status": "completed",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "Message 1"
              }
            ]
          },
          {
            "type": "message",
            "id": "msg_c7c88a787cc9e1e700LkOzfVBwZcZ8R3BPuFNrSGA2xJMR5JGQ",
            "status": "completed",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "Message 2"
   [...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe/items?limit=5&order=asc&after=msg_c7c88a787cc9e1e700TUYIWKi8QnYMlB6Kjb6Bc5AqKnyXWKoF&before=msg_c7c88a787cc9e1e700N1dE8JgK4ybiF4bfmGcSau57rTR6xM4G&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Stat[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe/items?limit=5&order=asc&after=msg_c7c88a787cc9e1e700GWaiL83ffaj5Z5qlIsaYA9AdpoFCB6b9&before=msg_c7c88a787cc9e1e700qNHjEqoLaNfWxk2mhEUmG4VU3l2aqCU3&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Stat[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe/items?limit=5&order=asc&after=msg_c7c88a787cc9e1e700V9YmlZiG3i5V5nuibAGw9F6ucL1CqSZz&before=msg_c7c88a787cc9e1e7003WascN5AQYVpFTooCpvyNZbRvn0T9aOl&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Stat[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe/items?limit=5&order=asc&after=msg_c7c88a787cc9e1e700YIVIjYVuFyG1YhKXPRUzwUthSZt2bzXm&before=msg_c7c88a787cc9e1e7008RkqieJEsE4zd4Tu96ssbQCO6tT458oW&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Stat[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe/items?limit=5&order=asc&after=msg_c7c88a787cc9e1e70095MWA0UKpLPmbwfJ3ZC9pvkmKerTrQJY&before=msg_c7c88a787cc9e1e700YoXQzyrd8ZEfAKCcCRltVQI9RvkDYwph&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Stat[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe/items?limit=5&order=asc&after=msg_c7c88a787cc9e1e7000jxh2tCPMiB2dOd8mYcUYTWSlzAdyuG9&before=msg_c7c88a787cc9e1e700rI9vc8NBQYNl6hCv6MIx97yKom9aGA4m&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Stat[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe/items?limit=5&order=asc&after=msg_c7c88a787cc9e1e700vbujYqLbdr8MZf0yu8AB5uCrqbz6G3Kg&before=msg_c7c88a787cc9e1e700WixnxFlWGo61pSwxA25usjNCz94NG1TZ&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Stat[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe/items?limit=5&order=desc&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
      [...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe/items?limit=5&order=desc&after=msg_c7c88a787cc9e1e700rsWPWq8VfSSTFECmsM3oXYBo9O9UXVpz&before=msg_c7c88a787cc9e1e700pZKnqfqRwUCYcAkfwhlSNxGGttV9NmUl&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe/items?limit=5&order=desc&after=msg_c7c88a787cc9e1e700WixnxFlWGo61pSwxA25usjNCz94NG1TZ&before=msg_c7c88a787cc9e1e700vbujYqLbdr8MZf0yu8AB5uCrqbz6G3Kg&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe/items?limit=5&order=desc&after=msg_c7c88a787cc9e1e700rI9vc8NBQYNl6hCv6MIx97yKom9aGA4m&before=msg_c7c88a787cc9e1e7000jxh2tCPMiB2dOd8mYcUYTWSlzAdyuG9&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe/items?limit=5&order=desc&after=msg_c7c88a787cc9e1e700YoXQzyrd8ZEfAKCcCRltVQI9RvkDYwph&before=msg_c7c88a787cc9e1e70095MWA0UKpLPmbwfJ3ZC9pvkmKerTrQJY&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe/items?limit=5&order=desc&after=msg_c7c88a787cc9e1e7008RkqieJEsE4zd4Tu96ssbQCO6tT458oW&before=msg_c7c88a787cc9e1e700YIVIjYVuFyG1YhKXPRUzwUthSZt2bzXm&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe/items?limit=5&order=desc&after=msg_c7c88a787cc9e1e7003WascN5AQYVpFTooCpvyNZbRvn0T9aOl&before=msg_c7c88a787cc9e1e700V9YmlZiG3i5V5nuibAGw9F6ucL1CqSZz&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe/items?limit=5&order=desc&after=msg_c7c88a787cc9e1e700qNHjEqoLaNfWxk2mhEUmG4VU3l2aqCU3&before=msg_c7c88a787cc9e1e700GWaiL83ffaj5Z5qlIsaYA9AdpoFCB6b9&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Sta[...]
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c88a787cc9e1e700hx4TBoZouMRMLob1FWuMElCDEUWp7pfe/items?after=msg_c7c88a787cc9e1e700YoXQzyrd8ZEfAKCcCRltVQI9RvkDYwph&before=msg_c7c88a787cc9e1e700pZKnqfqRwUCYcAkfwhlSNxGGttV9NmUl&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
    [...]
