{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-vv3edymciw33k.eastus.devcenter.azure.com/projects/sdk-project-dbsu5fc7xi3oi/users/me/devboxes?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "274",
        "X-Rate-Limit-Reset": "2024-01-12T22:43:14.8503927Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "MyDevBox",
            "projectName": "sdk-project-dbsu5fc7xi3oi",
            "poolName": "sdk-pool-lphejcx26jzfw",
            "hibernateSupport": "Disabled",
            "provisioningState": "Succeeded",
            "actionState": "Unknown",
            "powerState": "Running",
            "uniqueId": "ef631170-d649-4a55-8733-d84c4d65bb7a",
            "location": "eastus",
            "osType": "Windows",
            "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
            "hardwareProfile": {
              "vCPUs": 16,
              "skuName": "general_i_16c64gb1024ssd_v2",
              "memoryGB": 64
            },
            "storageProfile": {
              "osDisk": {
                "diskSizeGB": 1024
              }
            },
            "imageReference": {
              "name": "microsoftvisualstudio_visualstudioplustools_vs-2022-ent-general-win11-m365-gen2",
              "version": "1.0.0",
              "operatingSystem": "Windows11",
              "osBuildNumber": "vs-2022-ent-general-win11-m365-gen2",
              "publishedDate": "2022-09-20T00:00:00\u002B00:00"
            },
            "createdTime": "2024-01-12T20:52:40.2543293\u002B00:00",
            "localAdministrator": "Enabled"
          }
        ]
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-vv3edymciw33k.eastus.devcenter.azure.com/projects/sdk-project-dbsu5fc7xi3oi/users/me/devboxes/MyDevBox/actions?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "275",
        "X-Rate-Limit-Reset": "2024-01-12T22:43:14.8374509Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "schedule-default",
            "actionType": "Stop",
            "sourceId": "/projects/sdk-project-dbsu5fc7xi3oi/pools/sdk-pool-lphejcx26jzfw/schedules/default",
            "suspendedUntil": "2024-01-13T04:50:00\u002B00:00",
            "next": {
              "scheduledTime": "2024-01-13T04:50:00.000000Z"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-vv3edymciw33k.eastus.devcenter.azure.com/projects/sdk-project-dbsu5fc7xi3oi/users/me/devboxes/MyDevBox/actions:delay?until=2024-01-13T05%3A00%3A00.0000000Z\u0026api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "275",
        "X-Rate-Limit-Reset": "2024-01-12T22:43:14.8815737Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "schedule-default",
            "result": "Succeeded",
            "action": {
              "name": "schedule-default",
              "actionType": "Stop",
              "sourceId": "/projects/sdk-project-dbsu5fc7xi3oi/pools/sdk-pool-lphejcx26jzfw/schedules/default",
              "suspendedUntil": "2024-01-13T05:00:00\u002B00:00",
              "next": {
                "scheduledTime": "2024-01-13T05:00:00.000000Z"
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "DEFAULT_PROJECT_NAME": "sdk-project-dbsu5fc7xi3oi",
    "DEVCENTER_ENDPOINT": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-vv3edymciw33k.eastus.devcenter.azure.com/",
    "RandomSeed": "1090422031"
  }
}
