{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-mcykprskrufpc.eastus.devcenter.azure.com/projects/sdk-project-wwebrtvrrcsza/users/me/devboxes?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2024-04-09T05:55:02.7214986Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "MyDevBox",
            "projectName": "sdk-project-wwebrtvrrcsza",
            "poolName": "sdk-pool-qpz7fp37ntb4k",
            "hibernateSupport": "Disabled",
            "provisioningState": "Succeeded",
            "actionState": "Started",
            "powerState": "Running",
            "uniqueId": "391e2939-a945-4b33-aa31-4829efb5ac3f",
            "location": "eastus",
            "osType": "Windows",
            "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
            "hardwareProfile": {
              "vCPUs": 8,
              "skuName": "general_i_8c32gb256ssd_v2",
              "memoryGB": 32
            },
            "storageProfile": {
              "osDisk": {
                "diskSizeGB": 256
              }
            },
            "imageReference": {
              "name": "microsoftvisualstudio_visualstudioplustools_vs-2022-ent-general-win11-m365-gen2",
              "version": "1.0.0",
              "operatingSystem": "Windows11",
              "osBuildNumber": "vs-2022-ent-general-win11-m365-gen2",
              "publishedDate": "2023-10-31T00:00:00\u002B00:00"
            },
            "createdTime": "2024-04-09T05:29:47.6271855\u002B00:00",
            "localAdministrator": "Enabled"
          }
        ]
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-mcykprskrufpc.eastus.devcenter.azure.com/users/me/devboxes?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",[...]
