{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-vv3edymciw33k.eastus.devcenter.azure.com/projects/sdk-project-dbsu5fc7xi3oi/users/me/devboxes?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "296",
        "X-Rate-Limit-Reset": "2024-01-12T18:28:22.6500741Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "MyDevBox",
            "projectName": "sdk-project-dbsu5fc7xi3oi",
            "poolName": "sdk-pool-lphejcx26jzfw",
            "hibernateSupport": "Disabled",
            "provisioningState": "Succeeded",
            "actionState": "Started",
            "powerState": "Running",
            "uniqueId": "6f4ac9f6-5714-4892-bb5f-6a3ec711c00f",
            "location": "eastus",
            "osType": "Windows",
            "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
            "hardwareProfile": {
              "vCPUs": 16,
              "skuName": "general_i_16c64gb1024ssd_v2",
              "memoryGB": 64
            },
            "storageProfile": {
              "osDisk": {
                "diskSizeGB": 1024
              }
            },
            "imageReference": {
              "name": "microsoftvisualstudio_visualstudioplustools_vs-2022-ent-general-win11-m365-gen2",
              "version": "1.0.0",
              "operatingSystem": "Windows11",
              "osBuildNumber": "vs-2022-ent-general-win11-m365-gen2",
              "publishedDate": "2022-09-20T00:00:00\u002B00:00"
            },
            "createdTime": "2024-01-12T14:14:15.6235834\u002B00:00",
            "localAdministrator": "Enabled"
          }
        ]
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-vv3edymciw33k.eastus.devcenter.azure.com/projects/sdk-project-dbsu5fc7xi3oi/users/me/devboxes?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
[...]
