{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-mcykprskrufpc.eastus.devcenter.azure.com/projects/sdk-project-wwebrtvrrcsza/pools/sdk-pool-qpz7fp37ntb4k?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2024-04-09T05:55:29.5902988Z"
      },
      "ResponseBody": {
        "name": "sdk-pool-qpz7fp37ntb4k",
        "location": "eastus",
        "osType": "Windows",
        "hardwareProfile": {
          "vCPUs": 8,
          "skuName": "general_i_8c32gb256ssd_v2",
          "memoryGB": 32
        },
        "hibernateSupport": "Disabled",
        "storageProfile": {
          "osDisk": {
            "diskSizeGB": 256
          }
        },
        "imageReference": {
          "name": "microsoftvisualstudio_visualstudioplustools_vs-2022-ent-general-win11-m365-gen2",
          "version": "1.0.0",
          "operatingSystem": "Windows11",
          "osBuildNumber": "vs-2022-ent-general-win11-m365-gen2",
          "publishedDate": "2023-10-31T00:00:00\u002B00:00"
        },
        "localAdministrator": "Enabled",
        "healthStatus": "Healthy"
      }
    }
  ],
  "Variables": {
    "DEFAULT_POOL_NAME": "sdk-pool-qpz7fp37ntb4k",
    "DEFAULT_PROJECT_NAME": "sdk-project-wwebrtvrrcsza",
    "DEVCENTER_ENDPOINT": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-mcykprskrufpc.eastus.devcenter.azure.com/",
    "RandomSeed": "914443778"
  }
}
