{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-mcykprskrufpc.eastus.devcenter.azure.com/projects/sdk-project-wwebrtvrrcsza/users/me/devboxes?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "293",
        "X-Rate-Limit-Reset": "2024-04-09T05:54:56.8314361Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "MyDevBox",
            "projectName": "sdk-project-wwebrtvrrcsza",
            "poolName": "sdk-pool-qpz7fp37ntb4k",
            "hibernateSupport": "Disabled",
            "provisioningState": "Succeeded",
            "actionState": "Started",
            "powerState": "Running",
            "uniqueId": "391e2939-a945-4b33-aa31-4829efb5ac3f",
            "location": "eastus",
            "osType": "Windows",
            "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
            "hardwareProfile": {
              "vCPUs": 8,
              "skuName": "general_i_8c32gb256ssd_v2",
              "memoryGB": 32
            },
            "storageProfile": {
              "osDisk": {
                "diskSizeGB": 256
              }
            },
            "imageReference": {
              "name": "microsoftvisualstudio_visualstudioplustools_vs-2022-ent-general-win11-m365-gen2",
              "version": "1.0.0",
              "operatingSystem": "Windows11",
              "osBuildNumber": "vs-2022-ent-general-win11-m365-gen2",
              "publishedDate": "2023-10-31T00:00:00\u002B00:00"
            },
            "createdTime": "2024-04-09T05:29:47.6271855\u002B00:00",
            "localAdministrator": "Enabled"
          }
        ]
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-mcykprskrufpc.eastus.devcenter.azure.com/projects/sdk-project-wwebrtvrrcsza/users/me/devboxes/MyDevBox/remoteConnection?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "293",
        "X-Rate-Limit-Reset": "2024-04-09T05:55:02.7214986Z"
      },
      "ResponseBody": {
        "webUrl": "https://deschutes-ppe.microsoft.com/webclient/77731b42-c8e1-456e-a6c2-4498c5065db1",
        "rdpConnectionUrl": "ms-avd:connect?env=avdarm\u0026resourceid=7823eb2a-2b8a-4b12-471a-08dc3c01c54a\u0026username=sdk_integration_test_1%40fidalgoppe010.onmicrosoft.com\u0026version=0\u0026workspaceId=a0a8a5c4-4e67-43a7-9ba9-e2b992719ed5\u0026preview=yes"
      }
    }
  ],
  "Variables": {
    "DEFAULT_PROJECT_NAME": "sdk-project-wwebrtvrrcsza",
    "DEVCENTER_ENDPOINT": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-mcykprskrufpc.eastus.devcenter.azure.com/",
    "RandomSeed": "1023505494"
  }
}
