{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-mcykprskrufpc.eastus.devcenter.azure.com/projects/sdk-project-wwebrtvrrcsza/pools/sdk-pool-qpz7fp37ntb4k/schedules?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2024-04-09T05:19:26.8305087Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "default",
            "type": "StopDevBox",
            "frequency": "Daily",
            "time": "19:00",
            "timeZone": "America/Los_Angeles"
          }
        ]
      }
    }
  ],
  "Variables": {
    "DEFAULT_POOL_NAME": "sdk-pool-qpz7fp37ntb4k",
    "DEFAULT_PROJECT_NAME": "sdk-project-wwebrtvrrcsza",
    "DEVCENTER_ENDPOINT": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-mcykprskrufpc.eastus.devcenter.azure.com/",
    "RandomSeed": "1177357014"
  }
}
