{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?collectionId=collection0174802399935800791&api-version=2024-12-09-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "entry for collection 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "35.2433"
      },
      "ResponseBody": {
        "collectionId": "collection0174802399935800791"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/collections?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "35.2438"
      },
      "ResponseBody": {
        "collections": [
          {
            "collectionId": "collection2174802383853107659"
          },
          {
            "collectionId": "132"
          },
          {
            "collectionId": "collection1174802383838004554"
          },
          {
            "collectionId": "collection4174802383889107344"
          },
          {
            "collectionId": "0"
          },
          {
            "collectionId": "collection0174802383442201289"
          },
          {
            "collectionId": "[...]
