{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?collectionId=collection0178163129936807337&api-version=2026-02-23",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "entry for collection 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.1109"
      },
      "ResponseBody": {
        "collectionId": "collection0178163129936807337"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/collections?api-version=2026-02-23",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.1115"
      },
      "ResponseBody": {
        "collections": [
          {
            "collectionId": "collection4178163130464908016"
          },
          {
            "collectionId": "collection1178163058242306015"
          },
          {
            "collectionId": "1"
          },
          {
            "collectionId": "2"
          },
          {
            "collectionId": "collection2178163130454303956"
          },
          {
            "collectionId": "collection0178163129936807337"
          },
          {
            "collectionId": "co[...]
