{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?collectionId=collection0174802383442201289&api-version=2024-12-09-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "entry for collection 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "35.2382"
      },
      "ResponseBody": {
        "collectionId": "collection0174802383442201289"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/collections?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "35.2387"
      },
      "ResponseBody": {
        "collections": [
          {
            "collectionId": "collection2174802383853107659"
          },
          {
            "collectionId": "3"
          },
          {
            "collectionId": "132"
          },
          {
            "collectionId": "collection1174802383838004554"
          },
          {
            "collectionId": "collection4174802383889107344"
          },
          {
            "collectionId": "0"
          },
          {
            "collectionId": "pagedCollection174802379391404354"
          },
          {
            "collectionId": "collection0174802383442201289"
          },
          {
            "collectionId": "4"
          },
          {
            "collectionId": "1"
          },
          {
            "collectionId": "subledger:0"
          },
          {
            "collectionId": "collection3174802383870806112"
          },
          {
            "collectionId": "2"
          },
          {
            "collectionId": "collectionPost:0174802378707304655"
          }
        ]
      }
    }
  ],
  "Variables": {
    "collection0": "collection0174802383442201289",
    "collection1": "collection1174802383838004554",
    "collection2": "collection2174802383853107659",
    "collection3": "collection3174802383870806112",
    "collection4": "collection4174802383889107344"
  }
}
