{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/transactions?collectionId=collection0174835886482808643&api-version=2024-12-09-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contents": "entry for collection 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "38.3735"
      },
      "ResponseBody": {
        "collectionId": "collection0174835886482808643"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.confidential-ledger.azure.com/app/collections?api-version=2024-12-09-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "38.3740"
      },
      "ResponseBody": {
        "collections": [
          {
            "collectionId": "collection2174802383853107659"
          },
          {
            "collectionId": "collection1174803700620009289"
          },
          {
            "collectionId": "collection1174803818865507354"
          },
          {
            "collectionId": "collection2174835844094801662"
          },
          {
            "collectionId": "collection0174803463857803737"
          },
          {
            "collectionId": "collection3174802856661805734"
[...]
