{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_conditional_delete_etag_mismatch?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Test Metric test_conditional_delete_etag_mismatch",
        "description": "A metric created for testing purposes (test_conditional_delete_etag_mismatch)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"NBmxSGrfy1s=\"",
        "Last-Modified": "Fri, 09 May 2025 16:11:51 GMT",
        "mise-correlation-id": "318c7f71-e53d-4c02-9d0d-f3126443d650"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "test_conditional_delete_etag_mismatch",
        "displayName": "Test Metric test_conditional_delete_etag_mismatch",
        "description": "A metric created for testing purposes (test_conditional_delete_etag_mismatch)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"NBmxSGrfy1s=\"",
        "lastModifiedAt": "2025-05-09T16:11:51.8375506+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_conditional_delete_etag_mismatch?api-version=2025-05-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"incorrect-delete-etag\""
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4154f335-fdd6-4670-bc2c-fec39227b912",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified in the If-Match request header was not met.",
          "target": null,
          "details": [],
          "innerError": null
        }
      }
    }
  ],
  "Variables": {}
}
