{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_conditional_delete_with_etag?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "Test Metric test_conditional_delete_with_etag",
        "description": "A metric created for testing purposes (test_conditional_delete_with_etag)",
        "categories": [
          "Test"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "TestEvent"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"rpGmerCzl/g=\"",
        "Last-Modified": "Fri, 09 May 2025 16:52:26 GMT",
        "Location": "/workspaces/a436c1d9-a21b-46b1-8ed5-483c07d02836/experiment-metrics/test_conditional_delete_with_etag",
        "mise-correlation-id": "b1ff1d5c-2a40-43f3-89b3-e36a6d4e2141"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "test_conditional_delete_with_etag",
        "displayName": "Test Metric test_conditional_delete_with_etag",
        "description": "A metric created for testing purposes (test_conditional_delete_with_etag)",
        "categories": [
          "Test"
        ],
        "definition": {
          "event": {
            "eventName": "TestEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"rpGmerCzl/g=\"",
        "lastModifiedAt": "2025-05-09T16:52:26.7782736+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_conditional_delete_with_etag?api-version=2025-05-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"rpGmerCzl/g=\""
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "mise-correlation-id": "c32e275b-f780-44df-b06a-accfcc024966"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
