{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-72cb7414-e16f-b309-cfa9-6ffb466c195e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:01:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB2C7E75D90\"",
        "Last-Modified": "Wed, 07 May 2025 22:01:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-72cb7414-e16f-b309-cfa9-6ffb466c195e/sourceFolder/test-file-3d6c8f6a-72ce-018e-4c93-e0cb591e86ca?sv=Sanitized&se=2025-05-08T22%3A01%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB2C7FABCE7\"",
        "Last-Modified": "Wed, 07 May 2025 22:01:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:01:55.5271911Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-72cb7414-e16f-b309-cfa9-6ffb466c195e/sourceFolder/test-file-3d6c8f6a-72ce-018e-4c93-e0cb591e86ca?sv=Sanitized&se=2025-05-08T22%3A01%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "JhRQ6utbeoxT7dkmQMs0VfH9kE2fPlvtPwHEsuwTnIzSa6VFzpve8O56RA6jKSut5zCJZy9y1ue5YqvqlsifQFFMU9Ql74ZWH59fJflMShXWFsu7ijRdX5W9i2vw9Fol2gS9VtZWiPepM0iQE7HubBiWE3/847Yc7/Q/Z2MaZSpEOUr0j/Q/f47TEVbszEzkzx9TWuDbKfZOoGbiFiCUj80dS9lm+dwkV5TwKNJfLyKnW5hDxgtJaRBUpu6NXWluP4KJzoFyfdZCLwJM6gAk73FDOrqHUMjB0+LJEVPtlvkqgulP1mChNN3CAZYI/X4PMLd9SSKu5u66x/qfqWyDVZkJImgW1RgQogXcxU8xuNZjueGbcE3XfJz6lQ5lAYpxP6v9/9sW+FuebKcc0SC[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-72cb7414-e16f-b309-cfa9-6ffb466c195e/sourceFolder/bar/test-file-388c22ed-f629-8995-7766-652ea953dcb7?sv=Sanitized&se=2025-05-08T22%3A01%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB2C81BADA3\"",
        "Last-Modified": "Wed, 07 May 2025 22:01:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:01:55.7430691Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-72cb7414-e16f-b309-cfa9-6ffb466c195e/sourceFolder/bar/test-file-388c22ed-f629-8995-7766-652ea953dcb7?sv=Sanitized&se=2025-05-08T22%3A01%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "Ce9iZXTkRAEaCb+dmMRvSnNmsNY7w3PXI7wt6tu2gY[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-72cb7414-e16f-b309-cfa9-6ffb466c195e/sourceFolder/pik/test-file-18a37155-24ca-b26e-299a-f32d0ddb4e16?sv=Sanitized&se=2025-05-08T22%3A01%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB2C82A7898\"",
        "Last-Modified": "Wed, 07 May 2025 22:01:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:01:55.8410138Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-72cb7414-e16f-b309-cfa9-6ffb466c195e/sourceFolder/pik/test-file-18a37155-24ca-b26e-299a-f32d0ddb4e16?sv=Sanitized&se=2025-05-08T22%3A01%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "zcMvJ5bJ04PvtmpWh1gC2NQZZz4WiXPsUF3mNiw5AI[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-72cb7414-e16f-b309-cfa9-6ffb466c195e?sv=Sanitized&se=2025-05-08T22%3A01%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-72cb7414-e16f-b309-cfa9-6ffb466c195e\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-3d6c8f6a-72ce-018e-4c93-e0cb591e86ca</Name><VersionId>2025-05-07T22:01:55.5271911Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:01:55 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:01:55 GMT</Last-Modified><Etag>0x8DD8DB2C8040A61</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-9806684c-7cfb-6b50-791b-857b65c0c075</Name><VersionId>2025-05-07T22:01:55.6381284Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:01:55 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:01:55 GMT</Last-Modified><Etag>0x8DD8DB2C814D0D2</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-72cb7414-e16f-b309-cfa9-6ffb466c195e?sv=Sanitized&se=2025-05-08T22%3A01%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-fc0ae92f-c4c8-00d9-23e5-b1057beaa30a/destFolder/test-file-3d6c8f6a-72ce-018e-4c93-e0cb591e86ca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-72cb7414-e16f-b309-cfa9-6ffb466c195e/sourceFolder/test-file-3d6c8f6a-72ce-018e-4c93-e0cb591e86ca?sv=sanitized-value&se=2025-05-08T22%3A01%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-date": "Wed, 07 May 2025 22:01:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB2C84660F7\"",
        "Last-Modified": "Wed, 07 May 2025 22:01:56 GMT",
        "x-ms-content-crc64": "q8gsDjhyxK0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:01:56.0229111Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-72cb7414-e16f-b309-cfa9-6ffb466c195e?sv=Sanitized&se=2025-05-08T22%3A01%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-fc0ae92f-c4c8-00d9-23e5-b1057beaa30a/destFolder/bar/test-file-388c22ed-f629-8995-7766-652ea953dcb7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-72cb7414-e16f-b309-cfa9-6ffb466c195e/sourceFolder/bar/test-file-388c22ed-f629-8995-7766-652ea953dcb7?sv=sanitized-value&se=2025-05-08T22%3A01%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-date": "Wed, 07 May 2025 22:01:56 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB2C84DD9EF\"",
        "Last-Modified": "Wed, 07 May 2025 22:01:56 GMT",
        "x-ms-content-crc64": "qmhqsKd+F8w=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:01:56.0718831Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-fc0ae92f-c4c8-00d9-23e5-b1057beaa30a/destFolder/pik/test-file-18a37155-24ca-b26e-299a-f32d0ddb4e16",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-72cb7414-e16f-b309-cfa9-6ffb466c195e/sourceFolder/pik/test-file-18a37155-24ca-b26e-299a-f32d0ddb4e16?sv=sanitized-value&se=2025-05-08T22%3A01%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-date": "Wed, 07 May 2025 22:01:56 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB2C853CC86\"",
        "Last-Modified": "Wed, 07 May 2025 22:01:56 GMT",
        "x-ms-content-crc64": "UJWZpuiKFwg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:01:56.1108614Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-72cb7414-e16f-b309-cfa9-6ffb466c195e?sv=Sanitized&se=2025-05-08T22%3A01%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-fc0ae92f-c4c8-00d9-23e5-b1057beaa30a?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:01:56 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-fc0ae92f-c4c8-00d9-23e5-b1057beaa30a\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-388c22ed-f629-8995-7766-652ea953dcb7</Name><VersionId>2025-05-07T22:01:56.0718831Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:01:56 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:01:56 GMT</Last-Modified><Etag>0x8DD8DB2C84DD9EF</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>qmhqsKd+F8w=</Content-CRC64><Content-MD5>8qmP+7af53rFxZpM9y6dWw==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Wed, 07 May 2025 22:01:56 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-18a37155-24ca-b26e-299a-f32d0ddb4e16</Name><VersionId>2025-05-07T22:01:56.1108614Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:01:56 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:01:56 GMT</Last-Modified><Etag>0x8DD8DB2C853CC86</Etag[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-72cb7414-e16f-b309-cfa9-6ffb466c195e/sourceFolder/bar/test-file-388c22ed-f629-8995-7766-652ea953dcb7?sv=Sanitized&se=2025-05-08T22%3A01%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB2C8239BC0\"",
        "Last-Modified": "Wed, 07 May 2025 22:01:55 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:01:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:01:55.7430691Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-fc0ae92f-c4c8-00d9-23e5-b1057beaa30a/destFolder/bar/test-file-388c22ed-f629-8995-7766-652ea953dcb7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:01:56 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "8qmP+7af53rFxZpM9y6dWw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8DB2C84DD9EF\"",
        "Last-Modified": "Wed, 07 May 2025 22:01:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:01:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:01:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:01:56.0718831Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-72cb7414-e16f-b309-cfa9-6ffb466c195e/sourceFolder/bar/test-file-388c22ed-f629-8995-7766-652ea953dcb7?sv=Sanitized&se=2025-05-08T22%3A01%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD8DB2C8239BC0\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB2C8239BC0\"",
        "Last-Modified": "Wed, 07 May 2025 22:01:55 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:01:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-fc0ae92f-c4c8-00d9-23e5-b1057beaa30a/destFolder/bar/test-file-388c22ed-f629-8995-7766-652ea953dcb7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD8DB2C84DD9EF\"",
        "x-ms-date": "Wed, 07 May 2025 22:01:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD8DB2C84DD9EF\"",
        "Last-Modified": "Wed, 07 May 2025 22:01:56 GMT",
        "x-ms-blob-content-md5": "8qmP+7af53rFxZpM9y6dWw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:01:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:01:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:01:56.0718831Z"
      },
      "ResponseBody": "Ce9iZXTkR[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-fc0ae92f-c4c8-00d9-23e5-b1057beaa30a/destFolder/bar/test-file-388c22ed-f629-8995-7766-652ea953dcb7?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:01:56 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-fc0ae92f-c4c8-00d9-23e5-b1057beaa30a/destFolder/pik/test-file-18a37155-24ca-b26e-299a-f32d0ddb4e16?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:01:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-fc0ae92f-c4c8-00d9-23e5-b1057beaa30a/destFolder/test-file-3d6c8f6a-72ce-018e-4c93-e0cb591e86ca?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:01:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-72cb7414-e16f-b309-cfa9-6ffb466c195e?sv=Sanitized&se=2025-05-08T22%3A01%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:5ce38ab0-601e-008b-399b-bfdeaf000000\n",
        "Time:2025-05-07T22:01:57.8157837Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-07T15:01:55.4319760-07:00",
    "RandomSeed": "1570728224",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
