{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a13f5b4a-59f2-752e-1e14-76a80dbe5b58?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F80FEF580\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a13f5b4a-59f2-752e-1e14-76a80dbe5b58/sourceFolder/test-file-97df2472-ca9a-f86b-446a-5f7356a74c3e?sv=Sanitized&se=2025-03-08T00%3A32%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F8118A967\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a13f5b4a-59f2-752e-1e14-76a80dbe5b58/sourceFolder/test-file-97df2472-ca9a-f86b-446a-5f7356a74c3e?sv=Sanitized&se=2025-03-08T00%3A32%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "PMtP2l2w1q5V3v8VVsIQeKpODpiQX2wdydCOhWjlMtVTZzaLWHLhJtQEnFhVRrlGA+rbd2B+Z91fMhCNIlBGb6wpwe+MhSA4befEi8ITx4MXR4F9Crp01f9YKyVhUwODvSysK4TKun7Jowp4udwaS2qNdtrOyGXxtOzvM1r61hnkQc2WZ5z+TY0Ds2av+xsjPt+7090otPXGunaY2oYkz8zxlHcOhOTOjylNyxT+QrjQzPV6PgM7u43Yz6wlZXIH3+SavmejFbn77UO02+ngyHi9xw2QqpHJttnqNbQ3qSm2RuswZIRRLLc8flG/h+Ck9wc0Z55kdjVT0QiNud8Fw0Qa/ZT9sGT0bJpWVCs/CS75Rj2tA0GLUc+23ZJ7xHPYNroMpYlLpkejQPsDDiI[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a13f5b4a-59f2-752e-1e14-76a80dbe5b58/sourceFolder/bar/test-file-312a54f2-e8ce-d64c-9012-b5762be239c9?sv=Sanitized&se=2025-03-08T00%3A32%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F813D9423\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a13f5b4a-59f2-752e-1e14-76a80dbe5b58/sourceFolder/bar/test-file-312a54f2-e8ce-d64c-9012-b5762be239c9?sv=Sanitized&se=2025-03-08T00%3A32%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "56hpepXSlEdYFSJIIjQdHy+Rqb2fuh+lO5kz8aeFKqi+[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a13f5b4a-59f2-752e-1e14-76a80dbe5b58/sourceFolder/pik/test-file-83711b00-87df-8fff-8e8a-98b39f98b163?sv=Sanitized&se=2025-03-08T00%3A32%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F814EBEE8\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a13f5b4a-59f2-752e-1e14-76a80dbe5b58/sourceFolder/pik/test-file-83711b00-87df-8fff-8e8a-98b39f98b163?sv=Sanitized&se=2025-03-08T00%3A32%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "RvvH6+GiKuQW03D5Cwx7+8+7cSzbWtf/ri4eR+sqf4Ed[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a13f5b4a-59f2-752e-1e14-76a80dbe5b58?sv=Sanitized&se=2025-03-08T00%3A32%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-a13f5b4a-59f2-752e-1e14-76a80dbe5b58\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-312a54f2-e8ce-d64c-9012-b5762be239c9</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:32:13 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:32:13 GMT</Last-Modified><Etag>0x8DD5D0F81463CFB</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-83711b00-87df-8fff-8e8a-98b39f98b163</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:32:13 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:32:13 GMT</Last-Modified><Etag>0x8DD5D0F815740DD</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-D[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ac4984b-c400-4b6a-7b1f-1a2cb10d98da/destFolder/test-file-97df2472-ca9a-f86b-446a-5f7356a74c3e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-a13f5b4a-59f2-752e-1e14-76a80dbe5b58/sourceFolder/test-file-97df2472-ca9a-f86b-446a-5f7356a74c3e?sv=sanitized-value&se=2025-03-08T00%3A32%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F81891563\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:13 GMT",
        "x-ms-content-crc64": "8syYmR+1skE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ac4984b-c400-4b6a-7b1f-1a2cb10d98da/destFolder/bar/test-file-312a54f2-e8ce-d64c-9012-b5762be239c9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-a13f5b4a-59f2-752e-1e14-76a80dbe5b58/sourceFolder/bar/test-file-312a54f2-e8ce-d64c-9012-b5762be239c9?sv=sanitized-value&se=2025-03-08T00%3A32%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F8189B0F7\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:13 GMT",
        "x-ms-content-crc64": "ubgOzpW/xsU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ac4984b-c400-4b6a-7b1f-1a2cb10d98da/destFolder/pik/test-file-83711b00-87df-8fff-8e8a-98b39f98b163",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-a13f5b4a-59f2-752e-1e14-76a80dbe5b58/sourceFolder/pik/test-file-83711b00-87df-8fff-8e8a-98b39f98b163?sv=sanitized-value&se=2025-03-08T00%3A32%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F818AC136\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:13 GMT",
        "x-ms-content-crc64": "P/wmwRL6QUo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a13f5b4a-59f2-752e-1e14-76a80dbe5b58?sv=Sanitized&se=2025-03-08T00%3A32%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ac4984b-c400-4b6a-7b1f-1a2cb10d98da?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-9ac4984b-c400-4b6a-7b1f-1a2cb10d98da\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-312a54f2-e8ce-d64c-9012-b5762be239c9</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:32:13 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:32:13 GMT</Last-Modified><Etag>0x8DD5D0F8189B0F7</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>ubgOzpW/xsU=</Content-CRC64><Content-MD5>EVK6ehF9m0xioUaYGqdcxA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-83711b00-87df-8fff-8e8a-98b39f98b163</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:32:13 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:32:13 GMT</Last-Modified><Etag>0x8DD5D0F818AC136</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encodi[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a13f5b4a-59f2-752e-1e14-76a80dbe5b58/sourceFolder/bar/test-file-312a54f2-e8ce-d64c-9012-b5762be239c9?sv=Sanitized&se=2025-03-08T00%3A32%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0F81463CFB\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:13 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ac4984b-c400-4b6a-7b1f-1a2cb10d98da/destFolder/bar/test-file-312a54f2-e8ce-d64c-9012-b5762be239c9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "EVK6ehF9m0xioUaYGqdcxA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0F8189B0F7\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a13f5b4a-59f2-752e-1e14-76a80dbe5b58/sourceFolder/bar/test-file-312a54f2-e8ce-d64c-9012-b5762be239c9?sv=Sanitized&se=2025-03-08T00%3A32%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D0F81463CFB\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0F81463CFB\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:13 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ac4984b-c400-4b6a-7b1f-1a2cb10d98da/destFolder/bar/test-file-312a54f2-e8ce-d64c-9012-b5762be239c9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5D0F8189B0F7\"",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:14 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0F8189B0F7\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:13 GMT",
        "x-ms-blob-content-md5": "EVK6ehF9m0xioUaYGqdcxA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "56hpepXSlEdYFSJIIjQdHy+Rqb2fuh+lO5kz8[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a13f5b4a-59f2-752e-1e14-76a80dbe5b58?sv=Sanitized&se=2025-03-08T00%3A32%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:41be2346-101e-0024-66f8-8e5614000000\n",
        "Time:2025-03-07T00:32:15.5809191Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:32:12.7333597-08:00",
    "RandomSeed": "1703578904",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
