{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b2da928-f29b-0992-ad6f-622864dc2f9d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3A8BFB006\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b2da928-f29b-0992-ad6f-622864dc2f9d/sourceFolder/test-file-7455bc6e-e4b1-774e-b7e6-c586c78d12f5?sv=Sanitized&se=2025-02-22T23%3A58%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3A8D27E68\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:38.0422760Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b2da928-f29b-0992-ad6f-622864dc2f9d/sourceFolder/test-file-7455bc6e-e4b1-774e-b7e6-c586c78d12f5?sv=Sanitized&se=2025-02-22T23%3A58%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "U4hnPn5j9vVEd7eep7mn+sEW8TbOCZIw3Qv7K/MoKcBkmjM/JtR36i+WQWqGQKK/3vVjNwVLXUn1NmFyZ8oBG032OQ2GaNTtnwYHOMgoqpxpPEz9xfG7GTzpSe9yBIJklCUcjweVOHYhdZf/QySAzIzFCSt+BFZbOyDQnB7le5uDo6SiDBuV0wPW3E9au9UXaX1jrftX5ZDPwFPmxZxXPPr8fJ+A3cBwLzUoqCgGAYBLuDOhgc2gK70U00vIrg5mfp9UXT81l4u88n3FLz1nyb7SmwxptbosXFDibAp0qIAnwSmIsaRAFSGo5Y5Q2/x/rAqN9RMB/cjlKADvUyqAR0r8nW4U3xcZkYXrwNAs3IFTYsAA5rNtJsNgo4mkUcL2J51EUz2Oa8zydGONFTz[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b2da928-f29b-0992-ad6f-622864dc2f9d/sourceFolder/bar/test-file-cedff525-73b6-a52e-96b6-064e508f006f?sv=Sanitized&se=2025-02-22T23%3A58%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3A8EC924E\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:38.2141784Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b2da928-f29b-0992-ad6f-622864dc2f9d/sourceFolder/bar/test-file-cedff525-73b6-a52e-96b6-064e508f006f?sv=Sanitized&se=2025-02-22T23%3A58%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "c9VQpF4P9LjW1PYQK9O1pSA4b+JGRIbz2ts5ZOA3Pa[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b2da928-f29b-0992-ad6f-622864dc2f9d/sourceFolder/pik/test-file-2a7f8725-9d92-48cb-ade6-1aa1d7ddd822?sv=Sanitized&se=2025-02-22T23%3A58%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3A8F988BC\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:38.2981308Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b2da928-f29b-0992-ad6f-622864dc2f9d/sourceFolder/pik/test-file-2a7f8725-9d92-48cb-ade6-1aa1d7ddd822?sv=Sanitized&se=2025-02-22T23%3A58%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "03YgSk6FY8Tmlg5dndAFHOY0ZKbEJ4j7zxoTejVYud[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b2da928-f29b-0992-ad6f-622864dc2f9d?sv=Sanitized&se=2025-02-22T23%3A58%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-1b2da928-f29b-0992-ad6f-622864dc2f9d\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-cedff525-73b6-a52e-96b6-064e508f006f</Name><VersionId>2025-02-21T23:58:38.2141784Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:58:38 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:58:38 GMT</Last-Modified><Etag>0x8DD52D3A8F3210F</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-2a7f8725-9d92-48cb-ade6-1aa1d7ddd822</Name><VersionId>2025-02-21T23:58:38.2981308Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:58:38 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:58:38 GMT</Last-Modified><Etag>0x8DD52D3A8FFF06B</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4bc4edd1-c368-0d63-c927-cc6417d1ac63/destFolder/test-file-858b254e-3de1-49df-7986-f0254ef6822b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-1b2da928-f29b-0992-ad6f-622864dc2f9d/sourceFolder/test-file-858b254e-3de1-49df-7986-f0254ef6822b?sv=sanitized-value&se=2025-02-22T23%3A58%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3A916F77E\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-content-crc64": "HGikBp7Arlg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:38.4910206Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4bc4edd1-c368-0d63-c927-cc6417d1ac63/destFolder/bar/test-file-cedff525-73b6-a52e-96b6-064e508f006f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-1b2da928-f29b-0992-ad6f-622864dc2f9d/sourceFolder/bar/test-file-cedff525-73b6-a52e-96b6-064e508f006f?sv=sanitized-value&se=2025-02-22T23%3A58%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3A9160D40\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-content-crc64": "pHvhF02EQ+8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:38.4850240Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4bc4edd1-c368-0d63-c927-cc6417d1ac63/destFolder/pik/test-file-2a7f8725-9d92-48cb-ade6-1aa1d7ddd822",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-1b2da928-f29b-0992-ad6f-622864dc2f9d/sourceFolder/pik/test-file-2a7f8725-9d92-48cb-ade6-1aa1d7ddd822?sv=sanitized-value&se=2025-02-22T23%3A58%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3A918F305\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-content-crc64": "kviVQYo5wiQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:38.5040133Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b2da928-f29b-0992-ad6f-622864dc2f9d?sv=Sanitized&se=2025-02-22T23%3A58%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4bc4edd1-c368-0d63-c927-cc6417d1ac63?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-4bc4edd1-c368-0d63-c927-cc6417d1ac63\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-cedff525-73b6-a52e-96b6-064e508f006f</Name><VersionId>2025-02-21T23:58:38.4850240Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:58:38 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:58:38 GMT</Last-Modified><Etag>0x8DD52D3A9160D40</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>pHvhF02EQ+8=</Content-CRC64><Content-MD5>dNOLmA4Fm4Z7HEHm+FoD7A==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 21 Feb 2025 23:58:38 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-2a7f8725-9d92-48cb-ade6-1aa1d7ddd822</Name><VersionId>2025-02-21T23:58:38.5040133Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:58:38 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:58:38 GMT</Last-Modified><Etag>0x8DD52D3A918F305</Etag[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b2da928-f29b-0992-ad6f-622864dc2f9d/sourceFolder/bar/test-file-cedff525-73b6-a52e-96b6-064e508f006f?sv=Sanitized&se=2025-02-22T23%3A58%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3A8F3210F\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:38.2141784Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4bc4edd1-c368-0d63-c927-cc6417d1ac63/destFolder/bar/test-file-cedff525-73b6-a52e-96b6-064e508f006f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "dNOLmA4Fm4Z7HEHm+FoD7A==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3A9160D40\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:38.4850240Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b2da928-f29b-0992-ad6f-622864dc2f9d/sourceFolder/bar/test-file-cedff525-73b6-a52e-96b6-064e508f006f?sv=Sanitized&se=2025-02-22T23%3A58%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D3A8F3210F\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3A8F3210F\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4bc4edd1-c368-0d63-c927-cc6417d1ac63/destFolder/bar/test-file-cedff525-73b6-a52e-96b6-064e508f006f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD52D3A9160D40\"",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:39 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3A9160D40\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-blob-content-md5": "dNOLmA4Fm4Z7HEHm+FoD7A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 21 Feb 2025 23:58:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b2da928-f29b-0992-ad6f-622864dc2f9d?sv=Sanitized&se=2025-02-22T23%3A58%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:037c3787-301e-0062-26bc-8418e5000000\n",
        "Time:2025-02-21T23:58:39.9618073Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T15:58:37.9547560-08:00",
    "RandomSeed": "1816453854",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
