{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c2687fe2-906d-7613-0c49-4e64d6f2a747?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:57:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D38FCB0B3C\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c2687fe2-906d-7613-0c49-4e64d6f2a747/sourceFolder/test-file-526acd2e-52d1-3f61-1765-d137e5fb3362?sv=Sanitized&se=2025-02-22T23%3A57%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D38FE53D9B\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:57:56.2220955Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c2687fe2-906d-7613-0c49-4e64d6f2a747/sourceFolder/test-file-526acd2e-52d1-3f61-1765-d137e5fb3362?sv=Sanitized&se=2025-02-22T23%3A57%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "kwt8OnwgNCrhBL5FEv502G3oZV3nk0zUqGximMrreCzozaPaf/jl6h2asjSc3+vwxK8I3oUfHAC+p5EQvZxg9YyRXUVbmlh0A3o/TeEYN8mActQa45qnyLGjHNdn1S2BObyoCoKmlSpXk9sK384epXDIj0vIRhLx6pSTt32ADS1NvhMlcCxH2tyqw0+/nOnihHZnnkXiuPOptiDtE92s1oatvSG7+TVDgbVuHoLCMk6rsDMHGW7oagUfe7kMWcf//e3IEd7HJ4tBJB2QdJpx54PRQmKqpb0YxVMbm317NijtbyCV+iBw44mnxfRRV/ZrrZQ1OhZkVFgvsEyKq4sNxe30ogR53O1jYV7ZA9/Ixm1csO3pRfsRiRrIZUnU5Tf9mQAHXLTx8dGn0tm3i1F[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c2687fe2-906d-7613-0c49-4e64d6f2a747/sourceFolder/bar/test-file-780eca42-b590-5b4b-8fac-20bf80efe35e?sv=Sanitized&se=2025-02-22T23%3A57%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D39001E92D\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:57:56.4099885Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c2687fe2-906d-7613-0c49-4e64d6f2a747/sourceFolder/bar/test-file-780eca42-b590-5b4b-8fac-20bf80efe35e?sv=Sanitized&se=2025-02-22T23%3A57%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "hlpYgw75iGWcjuL+kher9K2YSweiwGIiQFu/XI1ysk[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c2687fe2-906d-7613-0c49-4e64d6f2a747/sourceFolder/pik/test-file-a1c5e66f-0288-d80b-8d8c-5016648c39d2?sv=Sanitized&se=2025-02-22T23%3A57%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3900FF0E8\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:57:56.5019368Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c2687fe2-906d-7613-0c49-4e64d6f2a747/sourceFolder/pik/test-file-a1c5e66f-0288-d80b-8d8c-5016648c39d2?sv=Sanitized&se=2025-02-22T23%3A57%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "6KPUJkwcNjFyRKhkztEbQBO8gDoVIX/h76/GWEsl7i[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c2687fe2-906d-7613-0c49-4e64d6f2a747?sv=Sanitized&se=2025-02-22T23%3A57%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-c2687fe2-906d-7613-0c49-4e64d6f2a747\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-780eca42-b590-5b4b-8fac-20bf80efe35e</Name><VersionId>2025-02-21T23:57:56.4099885Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:57:56 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:57:56 GMT</Last-Modified><Etag>0x8DD52D3900877E8</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-a1c5e66f-0288-d80b-8d8c-5016648c39d2</Name><VersionId>2025-02-21T23:57:56.5019368Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:57:56 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:57:56 GMT</Last-Modified><Etag>0x8DD52D39016A6B0</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-82917151-76f2-3ca6-4a7d-5842d67d2fd0/destFolder/bar/test-file-780eca42-b590-5b4b-8fac-20bf80efe35e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-c2687fe2-906d-7613-0c49-4e64d6f2a747/sourceFolder/bar/test-file-780eca42-b590-5b4b-8fac-20bf80efe35e?sv=sanitized-value&se=2025-02-22T23%3A57%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D39046B057\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-content-crc64": "I4XpvgXHF3Y=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:57:56.8607319Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-82917151-76f2-3ca6-4a7d-5842d67d2fd0/destFolder/test-file-526acd2e-52d1-3f61-1765-d137e5fb3362",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-c2687fe2-906d-7613-0c49-4e64d6f2a747/sourceFolder/test-file-526acd2e-52d1-3f61-1765-d137e5fb3362?sv=sanitized-value&se=2025-02-22T23%3A57%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3904EC57A\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-content-crc64": "GCFKzHS5OsQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:57:56.9137018Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-82917151-76f2-3ca6-4a7d-5842d67d2fd0/destFolder/pik/test-file-a1c5e66f-0288-d80b-8d8c-5016648c39d2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-c2687fe2-906d-7613-0c49-4e64d6f2a747/sourceFolder/pik/test-file-a1c5e66f-0288-d80b-8d8c-5016648c39d2?sv=sanitized-value&se=2025-02-22T23%3A57%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3907B7449\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:57:57 GMT",
        "x-ms-content-crc64": "vND3ljRU/1g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:57:57.2065353Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c2687fe2-906d-7613-0c49-4e64d6f2a747?sv=Sanitized&se=2025-02-22T23%3A57%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-82917151-76f2-3ca6-4a7d-5842d67d2fd0?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:57:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-82917151-76f2-3ca6-4a7d-5842d67d2fd0\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-780eca42-b590-5b4b-8fac-20bf80efe35e</Name><VersionId>2025-02-21T23:57:56.8607319Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:57:56 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:57:56 GMT</Last-Modified><Etag>0x8DD52D39046B057</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>I4XpvgXHF3Y=</Content-CRC64><Content-MD5>aHNhvTHYnWQvYW85vyCHww==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 21 Feb 2025 23:57:56 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-a1c5e66f-0288-d80b-8d8c-5016648c39d2</Name><VersionId>2025-02-21T23:57:57.2065353Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:57:57 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:57:57 GMT</Last-Modified><Etag>0x8DD52D3907B7449</Etag[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c2687fe2-906d-7613-0c49-4e64d6f2a747/sourceFolder/bar/test-file-780eca42-b590-5b4b-8fac-20bf80efe35e?sv=Sanitized&se=2025-02-22T23%3A57%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3900877E8\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:57:56.4099885Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-82917151-76f2-3ca6-4a7d-5842d67d2fd0/destFolder/bar/test-file-780eca42-b590-5b4b-8fac-20bf80efe35e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:57:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "aHNhvTHYnWQvYW85vyCHww==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D39046B057\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:57:56.8607319Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c2687fe2-906d-7613-0c49-4e64d6f2a747/sourceFolder/bar/test-file-780eca42-b590-5b4b-8fac-20bf80efe35e?sv=Sanitized&se=2025-02-22T23%3A57%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D3900877E8\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3900877E8\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-82917151-76f2-3ca6-4a7d-5842d67d2fd0/destFolder/bar/test-file-780eca42-b590-5b4b-8fac-20bf80efe35e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD52D39046B057\"",
        "x-ms-date": "Fri, 21 Feb 2025 23:57:57 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D39046B057\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-blob-content-md5": "aHNhvTHYnWQvYW85vyCHww==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 21 Feb 2025 23:57:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c2687fe2-906d-7613-0c49-4e64d6f2a747?sv=Sanitized&se=2025-02-22T23%3A57%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:f21017ac-701e-0001-06bc-84851e000000\n",
        "Time:2025-02-21T23:57:58.6999401Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T15:57:56.1001847-08:00",
    "RandomSeed": "1578134416",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
