{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-575d3831-95e5-bc8e-ef30-e0d45f4b5a3d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F8DDAF2D1\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-575d3831-95e5-bc8e-ef30-e0d45f4b5a3d/sourceFolder/foo/test-file-bc8b492e-3405-788d-d57f-bad499b7385e?sv=Sanitized&se=2025-03-08T00%3A32%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F8DF0FED9\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-575d3831-95e5-bc8e-ef30-e0d45f4b5a3d/sourceFolder/foo/test-file-bc8b492e-3405-788d-d57f-bad499b7385e?sv=Sanitized&se=2025-03-08T00%3A32%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "T8hxSzTGoP84CxgLxdtKD4H3O2JxirRWdIeaOZu1cVp1vhVLSPPuaKiMhPkbgbL5NKtToXzV7cQTGtasK2Zjg5q+lgfF/seOCdO55AW7O/PUoATwYc/en9BQOC0cQTxBKAFeXeqrMzbjxZipHAi+V9/i2IpiciHK4Pc2dcaZcceWd7wEXN4JKWzODJw3NIPIkeBNOWmx37bgk3zzdL5wSlPQEqRMuvsB2a8elGWFk6t0buPlTDde5JgFI8hhFrStXcJIZiHee9flS2C5k0tQWwDRfgbbiv4cci0MRpYyoMP7cDaiPCyJlfIMAADWpFFMtMjIj5eu0tPEK/T00jVAs6udviMVrh7USOkTz4r9Rc3cv5HNaRErTJ1i3RE4lcK9y01UOeYtNgaq80etmgJ[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-575d3831-95e5-bc8e-ef30-e0d45f4b5a3d/sourceFolder/rul/test-file-1b48f53b-a2b0-ea70-d873-1272750c200f?sv=Sanitized&se=2025-03-08T00%3A32%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F8E02EC1E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-575d3831-95e5-bc8e-ef30-e0d45f4b5a3d/sourceFolder/rul/test-file-1b48f53b-a2b0-ea70-d873-1272750c200f?sv=Sanitized&se=2025-03-08T00%3A32%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "//rkww/UFRL7t+AVAAf2cAAcJwfoiQx7JR2DnGkbnUM8[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-575d3831-95e5-bc8e-ef30-e0d45f4b5a3d/sourceFolder/pik/test-file-7e9db2df-fab0-f7f8-4040-c02c858920ea?sv=Sanitized&se=2025-03-08T00%3A32%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F8E13C919\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-575d3831-95e5-bc8e-ef30-e0d45f4b5a3d/sourceFolder/pik/test-file-7e9db2df-fab0-f7f8-4040-c02c858920ea?sv=Sanitized&se=2025-03-08T00%3A32%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "GOm1RSbUKRfi0+EbtPiu2WRvKxYzZu6BselZJgSzshta[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-575d3831-95e5-bc8e-ef30-e0d45f4b5a3d?sv=Sanitized&se=2025-03-08T00%3A32%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-575d3831-95e5-bc8e-ef30-e0d45f4b5a3d\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/foo/test-file-bc8b492e-3405-788d-d57f-bad499b7385e</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:32:34 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:32:34 GMT</Last-Modified><Etag>0x8DD5D0F8DFA1C5C</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-7e9db2df-fab0-f7f8-4040-c02c858920ea</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:32:34 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:32:34 GMT</Last-Modified><Etag>0x8DD5D0F8E1C71F3</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-D[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-83dd165b-b394-e321-5a96-81fb4d343659/destFolder/foo/test-file-bc8b492e-3405-788d-d57f-bad499b7385e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-575d3831-95e5-bc8e-ef30-e0d45f4b5a3d/sourceFolder/foo/test-file-bc8b492e-3405-788d-d57f-bad499b7385e?sv=sanitized-value&se=2025-03-08T00%3A32%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F8E3A5F9D\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-content-crc64": "7z/eYUn83kw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-83dd165b-b394-e321-5a96-81fb4d343659/destFolder/pik/test-file-7e9db2df-fab0-f7f8-4040-c02c858920ea",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-575d3831-95e5-bc8e-ef30-e0d45f4b5a3d/sourceFolder/pik/test-file-7e9db2df-fab0-f7f8-4040-c02c858920ea?sv=sanitized-value&se=2025-03-08T00%3A32%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F8E3AAD68\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-content-crc64": "wNRu1mCbKIE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-83dd165b-b394-e321-5a96-81fb4d343659/destFolder/rul/test-file-1b48f53b-a2b0-ea70-d873-1272750c200f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-575d3831-95e5-bc8e-ef30-e0d45f4b5a3d/sourceFolder/rul/test-file-1b48f53b-a2b0-ea70-d873-1272750c200f?sv=sanitized-value&se=2025-03-08T00%3A32%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F8E3C0B6F\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-content-crc64": "mSqv/4Y8BUw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-575d3831-95e5-bc8e-ef30-e0d45f4b5a3d?sv=Sanitized&se=2025-03-08T00%3A32%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-83dd165b-b394-e321-5a96-81fb4d343659?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-83dd165b-b394-e321-5a96-81fb4d343659\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/foo/test-file-bc8b492e-3405-788d-d57f-bad499b7385e</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:32:34 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:32:34 GMT</Last-Modified><Etag>0x8DD5D0F8E3A5F9D</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>7z/eYUn83kw=</Content-CRC64><Content-MD5>KQ7byT9uHOwUZdvw2PlXzA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-7e9db2df-fab0-f7f8-4040-c02c858920ea</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:32:34 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:32:34 GMT</Last-Modified><Etag>0x8DD5D0F8E3AAD68</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encodi[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-575d3831-95e5-bc8e-ef30-e0d45f4b5a3d/sourceFolder/foo/test-file-bc8b492e-3405-788d-d57f-bad499b7385e?sv=Sanitized&se=2025-03-08T00%3A32%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0F8DFA1C5C\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-83dd165b-b394-e321-5a96-81fb4d343659/destFolder/foo/test-file-bc8b492e-3405-788d-d57f-bad499b7385e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "KQ7byT9uHOwUZdvw2PlXzA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0F8E3A5F9D\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-575d3831-95e5-bc8e-ef30-e0d45f4b5a3d/sourceFolder/foo/test-file-bc8b492e-3405-788d-d57f-bad499b7385e?sv=Sanitized&se=2025-03-08T00%3A32%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D0F8DFA1C5C\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0F8DFA1C5C\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-83dd165b-b394-e321-5a96-81fb4d343659/destFolder/foo/test-file-bc8b492e-3405-788d-d57f-bad499b7385e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5D0F8E3A5F9D\"",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:35 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0F8E3A5F9D\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-blob-content-md5": "KQ7byT9uHOwUZdvw2PlXzA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "T8hxSzTGoP84CxgLxdtKD4H3O2JxirRWdIeaO[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-575d3831-95e5-bc8e-ef30-e0d45f4b5a3d?sv=Sanitized&se=2025-03-08T00%3A32%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:7ecbcdb6-d01e-0049-41f8-8ee25f000000\n",
        "Time:2025-03-07T00:32:36.3301879Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:32:34.2902048-08:00",
    "RandomSeed": "1287120418",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
