{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:38:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069BB22B3D0\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33/sourceFolder/folder0/test-file-f77c0e9b-f3e8-8f07-7dc2-4cba92115934?sv=Sanitized&se=2025-10-01T21%3A38%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069BB3D0BEE\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33/sourceFolder/folder0/test-file-f77c0e9b-f3e8-8f07-7dc2-4cba92115934?sv=Sanitized&se=2025-10-01T21%3A38%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "sEFpjnnNKU812cRufQm2MttGNaoIk3Mr6aGFO+M37Vw178b6a9uwzuUtwg4umBJ0CxrfS9uvKx3OPqXXR+1s/exoOY5CvMb/lmfE29Fk/FGPEC/IWKGAhsOpKy022Ib3wMQixl+DMk9T37V06k9MaUJTRza+o6VK6LPKmZCZyb3gzBoMQTXyDN7fdXjsC5tzXMLq4pBPOR0f2N2ruJi/uhX3lB41PycMYTtY3i4sXtwYVzzOrucskJL97WlXRlNFH7pi9Hd9Ph2a3oBV91vu8nkBk2Fc8QsuygOLN1G+tBvnEr5zymllmhgfNNBm15k2DvvwVrPx6S6vMylz8QbL2yllbeSdeygQm/hJPb06yPNqVChWzl5o9imQxJZA8qkRU1inAWq0mZPT4Lu6qKt[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33/sourceFolder/folder0/folder1/test-file-2e750665-90f2-1123-6885-c1d430c0c43a?sv=Sanitized&se=2025-10-01T21%3A38%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069BB4ED23D\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33/sourceFolder/folder0/folder1/test-file-2e750665-90f2-1123-6885-c1d430c0c43a?sv=Sanitized&se=2025-10-01T21%3A38%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "lAYoZlhYumB19O1cF12H0iDVk6QSBn7o[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33/sourceFolder/folder0/folder1/folder2/test-file-c5b3f730-baed-9c18-4f7b-d187e2b668f7?sv=Sanitized&se=2025-10-01T21%3A38%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069BB604AC5\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33/sourceFolder/folder0/folder1/folder2/test-file-c5b3f730-baed-9c18-4f7b-d187e2b668f7?sv=Sanitized&se=2025-10-01T21%3A38%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "dTZfd7RGE3JreBD+HZyDu4Kd[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33?sv=Sanitized&se=2025-10-01T21%3A38%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33?sv=Sanitized&se=2025-10-01T21%3A38%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33\"><Prefix>sourceFolder/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/folder1/</Name></BlobPrefix><Blob><Name>sourceFolder/folder0/test-file-f77c0e9b-f3e8-8f07-7dc2-4cba92115934</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:38:44 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:38:44 GMT</Last-Modified><Etag>0x8DE0069BB460281</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33?sv=Sanitized&se=2025-10-01T21%3A38%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-T[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-53b4fe30-0200-12e2-b93b-9d8880abd027/destFolder/folder0/test-file-f77c0e9b-f3e8-8f07-7dc2-4cba92115934",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33/sourceFolder/folder0/test-file-f77c0e9b-f3e8-8f07-7dc2-4cba92115934?sv=sanitized-value&se=2025-10-01T21%3A38%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:38:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069BB8BE4B5\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:45 GMT",
        "x-ms-content-crc64": "t0WptE9pKWY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33?sv=Sanitized&se=2025-10-01T21%3A38%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2Ffolder2%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-53b4fe30-0200-12e2-b93b-9d8880abd027/destFolder/folder0/folder1/test-file-2e750665-90f2-1123-6885-c1d430c0c43a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33/sourceFolder/folder0/folder1/test-file-2e750665-90f2-1123-6885-c1d430c0c43a?sv=sanitized-value&se=2025-10-01T21%3A38%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:38:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069BB961278\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:45 GMT",
        "x-ms-content-crc64": "YXBwgNI8W2o=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-53b4fe30-0200-12e2-b93b-9d8880abd027/destFolder/folder0/folder1/folder2/test-file-c5b3f730-baed-9c18-4f7b-d187e2b668f7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33/sourceFolder/folder0/folder1/folder2/test-file-c5b3f730-baed-9c18-4f7b-d187e2b668f7?sv=sanitized-value&se=2025-10-01T21%3A38%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:38:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069BB9E946A\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:45 GMT",
        "x-ms-content-crc64": "ySKHN5nlnLU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33?sv=Sanitized&se=2025-10-01T21%3A38%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-53b4fe30-0200-12e2-b93b-9d8880abd027?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:38:45 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-53b4fe30-0200-12e2-b93b-9d8880abd027\"><Prefix>destFolder/</Prefix><Blobs><Blob><Name>destFolder/folder0/folder1/folder2/test-file-c5b3f730-baed-9c18-4f7b-d187e2b668f7</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:38:45 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:38:45 GMT</Last-Modified><Etag>0x8DE0069BB9E946A</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>ySKHN5nlnLU=</Content-CRC64><Content-MD5>RtbqoGC0dj2O5N4fvfTzdg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/folder0/folder1/test-file-2e750665-90f2-1123-6885-c1d430c0c43a</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:38:45 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:38:45 GMT</Last-Modified><Etag>0x8DE0069BB961278</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Co[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33/sourceFolder/folder0/folder1/folder2/test-file-c5b3f730-baed-9c18-4f7b-d187e2b668f7?sv=Sanitized&se=2025-10-01T21%3A38%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0069BB696849\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:44 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:38:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-53b4fe30-0200-12e2-b93b-9d8880abd027/destFolder/folder0/folder1/folder2/test-file-c5b3f730-baed-9c18-4f7b-d187e2b668f7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:38:45 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "RtbqoGC0dj2O5N4fvfTzdg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0069BB9E946A\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:38:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33/sourceFolder/folder0/folder1/folder2/test-file-c5b3f730-baed-9c18-4f7b-d187e2b668f7?sv=Sanitized&se=2025-10-01T21%3A38%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0069BB696849\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0069BB696849\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:44 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:38:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-53b4fe30-0200-12e2-b93b-9d8880abd027/destFolder/folder0/folder1/folder2/test-file-c5b3f730-baed-9c18-4f7b-d187e2b668f7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE0069BB9E946A\"",
        "x-ms-date": "Tue, 30 Sep 2025 21:38:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0069BB9E946A\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:45 GMT",
        "x-ms-blob-content-md5": "RtbqoGC0dj2O5N4fvfTzdg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:38:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "dTZfd7RGE3JreBD+HZyDu4KdeECzIgXgzBTjU[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ae63b01-75cd-d20e-da02-1bdb829d7e33?sv=Sanitized&se=2025-10-01T21%3A38%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:65e9c3ec-301e-0041-6952-32f850000000\n",
        "Time:2025-09-30T21:38:46.7916735Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T14:38:44.2699997-07:00",
    "RandomSeed": "1055795326",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
