{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-45406bf6-442d-3fef-f521-c69505573055?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB37749439608\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:31:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-45406bf6-442d-3fef-f521-c69505573055/sourceFolder/test-file-6de2773a-3286-a80a-a3db-0729a8066127",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB3774ACFC4FF\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:31:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-06-24T23:31:49.4088959Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-45406bf6-442d-3fef-f521-c69505573055/sourceFolder/test-file-6de2773a-3286-a80a-a3db-0729a8066127?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "+rscnTe2cvkAl3NY02CuGUT5zy7WQPMiWVfLge1TzboaFayCAb42gwXpbO+/stRDLO3lrjYyULnI+kPf6vALrcq4Pr2zLBeGwkwp7dQEYqeDiFT/bh6E58TyuQZ6V5gU3b8lBnMWjwDVXuzqCGPlxJecXGKcCz6rNFb5wXMRC2uzFQ8V31wzbPlUKg8ymd5gDfVu3vo2d9KAetIdHc6NxFOAN/NU0OU7ae9oSOEueJp4mLR9oi1wfJ09lWWKFk8qx2W8smLrDDwQM3QKzS/wUQE3pIQZDyIlD7pWFzuAsFOgPoB8csU3jIx3bW64Zq9tTENjUnHKEbdDlqOolPQBj4Ihao+vdN48/xf4oqGzbakL6Mr3HV7i1SzIONsij/eXdd3rl/wfvthkJlJZ0m4[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-45406bf6-442d-3fef-f521-c69505573055/sourceFolder/bar/test-file-b836d879-5af1-5d0a-439f-b48ed7973974",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB3774AF4D3D6\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:31:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-06-24T23:31:49.6517590Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-45406bf6-442d-3fef-f521-c69505573055/sourceFolder/bar/test-file-b836d879-5af1-5d0a-439f-b48ed7973974?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "A31aAkHXpKvUSIMtKVcEEFdVqGqYXnU9VTGV6eeXpKv4pKCpW0E5ojSL46jX3DPsmqQ2ge/P26UIHKwQQrv[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-45406bf6-442d-3fef-f521-c69505573055/sourceFolder/pik/test-file-63f031a4-ca71-8786-543e-9b73d9ca79f6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB3774B09DF6C\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:31:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-06-24T23:31:49.7896812Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-45406bf6-442d-3fef-f521-c69505573055/sourceFolder/pik/test-file-63f031a4-ca71-8786-543e-9b73d9ca79f6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "vvf++1kDYz/o7jM3SMayW4DSljTAIj8m/Y38sCqSjTV/nz6542GgoM6xe4OWTz+NjEDzBjNFNZy31/3LB7M[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-45406bf6-442d-3fef-f521-c69505573055?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-file-45406bf6-442d-3fef-f521-c69505573055\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-11439a3d-39bb-6579-4a47-2ca302ca9a9c</Name><VersionId>2025-06-24T23:31:49.5328271Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 24 Jun 2025 23:31:49 GMT</Creation-Time><Last-Modified>Tue, 24 Jun 2025 23:31:49 GMT</Last-Modified><Etag>0x8DDB3774AEB865F</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-6de2773a-3286-a80a-a3db-0729a8066127</Name><VersionId>2025-06-24T23:31:49.4088959Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 24 Jun 2025 23:31:49 GMT</Creation-Time><Last-Modified>Tue, 24 Jun 2025 23:31:49 GMT</Last-Modified><Etag>0x8DDB3774ADB0E00</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-45406bf6-442d-3fef-f521-c69505573055?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "202[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-45406bf6-442d-3fef-f521-c69505573055?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "202[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-0cfdc760-ee6a-988a-0fbb-43b919253347/destFolder/test-file-11439a3d-39bb-6579-4a47-2ca302ca9a9c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-45406bf6-442d-3fef-f521-c69505573055/sourceFolder/test-file-11439a3d-39bb-6579-4a47-2ca302ca9a9c",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB3774D13BBF3\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:31:53 GMT",
        "x-ms-content-crc64": "BZ7qSdU/1pY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-06-24T23:31:53.2097523Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-0cfdc760-ee6a-988a-0fbb-43b919253347/destFolder/bar/test-file-b836d879-5af1-5d0a-439f-b48ed7973974",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-45406bf6-442d-3fef-f521-c69505573055/sourceFolder/bar/test-file-b836d879-5af1-5d0a-439f-b48ed7973974",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB3774D1C4638\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:31:53 GMT",
        "x-ms-content-crc64": "z6MOBIHagy8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-06-24T23:31:53.2657208Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-0cfdc760-ee6a-988a-0fbb-43b919253347/destFolder/pik/test-file-63f031a4-ca71-8786-543e-9b73d9ca79f6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-45406bf6-442d-3fef-f521-c69505573055/sourceFolder/pik/test-file-63f031a4-ca71-8786-543e-9b73d9ca79f6",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB3774D39DC16\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:31:53 GMT",
        "x-ms-content-crc64": "64U0jQp8EW8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-06-24T23:31:53.4596118Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-45406bf6-442d-3fef-f521-c69505573055?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-0cfdc760-ee6a-988a-0fbb-43b919253347?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-file-0cfdc760-ee6a-988a-0fbb-43b919253347\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-b836d879-5af1-5d0a-439f-b48ed7973974</Name><VersionId>2025-06-24T23:31:53.2657208Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 24 Jun 2025 23:31:53 GMT</Creation-Time><Last-Modified>Tue, 24 Jun 2025 23:31:53 GMT</Last-Modified><Etag>0x8DDB3774D1C4638</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>z6MOBIHagy8=</Content-CRC64><Content-MD5>Y968cnc3ML0LzCfn8MkKRQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Tue, 24 Jun 2025 23:31:53 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-63f031a4-ca71-8786-543e-9b73d9ca79f6</Name><VersionId>2025-06-24T23:31:53.4596118Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 24 Jun 2025 23:31:53 GMT</Creation-Time><Last-Modified>Tue, 24 Jun 2025 23:31:53 GMT</Last-Modified><Etag>0x8DDB3774D39DC16</Etag[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-45406bf6-442d-3fef-f521-c69505573055/sourceFolder/bar/test-file-b836d879-5af1-5d0a-439f-b48ed7973974",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDB3774AFD5E1D\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:31:49 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Jun 2025 23:31:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-06-24T23:31:49.6517590Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-0cfdc760-ee6a-988a-0fbb-43b919253347/destFolder/bar/test-file-b836d879-5af1-5d0a-439f-b48ed7973974",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "Y968cnc3ML0LzCfn8MkKRQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDB3774D1C4638\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:31:53 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Jun 2025 23:31:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 24 Jun 2025 23:31:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-06-24T23:31:53.2657208Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-45406bf6-442d-3fef-f521-c69505573055/sourceFolder/bar/test-file-b836d879-5af1-5d0a-439f-b48ed7973974",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDB3774AFD5E1D\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDB3774AFD5E1D\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:31:49 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 24 Jun 2025 23:31:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-0cfdc760-ee6a-988a-0fbb-43b919253347/destFolder/bar/test-file-b836d879-5af1-5d0a-439f-b48ed7973974",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDB3774D1C4638\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDB3774D1C4638\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:31:53 GMT",
        "x-ms-blob-content-md5": "Y968cnc3ML0LzCfn8MkKRQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Jun 2025 23:31:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 24 Jun 2025 23:31:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-45406bf6-442d-3fef-f521-c69505573055?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "590987523",
    "Storage_TestConfigOAuth": "OAuthTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\n\njalauzon-rg\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
