{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8319a3f2-465f-98e2-d255-86f03d50e051?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:02:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB2CCF5255D\"",
        "Last-Modified": "Wed, 07 May 2025 22:02:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8319a3f2-465f-98e2-d255-86f03d50e051/sourceFolder/test-file-24db1a34-e057-09cc-eb34-f07afa2d2698?sv=Sanitized&se=2025-05-08T22%3A02%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB2CD09A11B\"",
        "Last-Modified": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:02:04.0133915Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8319a3f2-465f-98e2-d255-86f03d50e051/sourceFolder/test-file-24db1a34-e057-09cc-eb34-f07afa2d2698?sv=Sanitized&se=2025-05-08T22%3A02%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "+cqwugp4zRC4nhE+AGtNeg5fMUpL9LNih2gijAbhlQ0qRYAvfWuNWAIJln/AVHGWfV7cFKu+XwUWTTOiVkEK1ggDE7rrHf2i0dlIQV40ojP2iw+nBYFia+Z7GC846wHA/792vEC2q19hOkLSdh6m4qv/q8sxYtGGoajUcATNaebXh0KeveXzP9+wRso/j/XI1DaDOD82j5zt7xqY4jtak9Bb++7cCCXGDGvrgRwGRxKyDJvOSjCmofilsM3KWl2kVbP645QH68wRvSzUSg2A5qgI5dWfjEmftFn1NldX+7ENRyxpDGN+qiDPvYwE0lbqJMklwnSHBMlpWi46EbV0usF6xgPhF9pEiju0z8+8m+IDCxKNMTk9hUJj/7I1RJlrWwLLigxTCQ3v4Tc50zX[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8319a3f2-465f-98e2-d255-86f03d50e051/sourceFolder/bar/test-file-5ba93f6a-87f0-559a-ebaa-f5bc6b62ebc0?sv=Sanitized&se=2025-05-08T22%3A02%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB2CD251463\"",
        "Last-Modified": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:02:04.1932899Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8319a3f2-465f-98e2-d255-86f03d50e051/sourceFolder/bar/test-file-5ba93f6a-87f0-559a-ebaa-f5bc6b62ebc0?sv=Sanitized&se=2025-05-08T22%3A02%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "63f2CpbTvpdCdso8ilqXMi/HQxmx/5LSJ7tJ5HRekL[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8319a3f2-465f-98e2-d255-86f03d50e051/sourceFolder/pik/test-file-6e45910f-619b-d842-6ab2-4cc6f616e37c?sv=Sanitized&se=2025-05-08T22%3A02%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB2CD336A30\"",
        "Last-Modified": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:02:04.2882361Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8319a3f2-465f-98e2-d255-86f03d50e051/sourceFolder/pik/test-file-6e45910f-619b-d842-6ab2-4cc6f616e37c?sv=Sanitized&se=2025-05-08T22%3A02%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "cOaHKQJ0t5B+hYXhAyv1Qj3Fg+nvcqg/e6SoV+AyDi[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8319a3f2-465f-98e2-d255-86f03d50e051?sv=Sanitized&se=2025-05-08T22%3A02%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-8319a3f2-465f-98e2-d255-86f03d50e051\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-24db1a34-e057-09cc-eb34-f07afa2d2698</Name><VersionId>2025-05-07T22:02:04.0133915Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:02:04 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:02:04 GMT</Last-Modified><Etag>0x8DD8DB2CD1008D1</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-4f1ad0d1-d21e-7292-02ca-d9ea73dd09aa</Name><VersionId>2025-05-07T22:02:04.1053397Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:02:04 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:02:04 GMT</Last-Modified><Etag>0x8DD8DB2CD1E85A7</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8319a3f2-465f-98e2-d255-86f03d50e051?sv=Sanitized&se=2025-05-08T22%3A02%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0059cb73-96b8-fc12-7e6e-f50bd4c6cf05/destinationFolder/test-file-24db1a34-e057-09cc-eb34-f07afa2d2698",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-8319a3f2-465f-98e2-d255-86f03d50e051/sourceFolder/test-file-24db1a34-e057-09cc-eb34-f07afa2d2698?sv=sanitized-value&se=2025-05-08T22%3A02%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB2CD4FA0AA\"",
        "Last-Modified": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-content-crc64": "zbmhk7DmfXI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:02:04.4721322Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8319a3f2-465f-98e2-d255-86f03d50e051?sv=Sanitized&se=2025-05-08T22%3A02%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0059cb73-96b8-fc12-7e6e-f50bd4c6cf05/destinationFolder/bar/test-file-5ba93f6a-87f0-559a-ebaa-f5bc6b62ebc0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-8319a3f2-465f-98e2-d255-86f03d50e051/sourceFolder/bar/test-file-5ba93f6a-87f0-559a-ebaa-f5bc6b62ebc0?sv=sanitized-value&se=2025-05-08T22%3A02%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB2CD5740AD\"",
        "Last-Modified": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-content-crc64": "mp1T+01Ta8Y=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:02:04.5221037Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0059cb73-96b8-fc12-7e6e-f50bd4c6cf05/destinationFolder/pik/test-file-6e45910f-619b-d842-6ab2-4cc6f616e37c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-8319a3f2-465f-98e2-d255-86f03d50e051/sourceFolder/pik/test-file-6e45910f-619b-d842-6ab2-4cc6f616e37c?sv=sanitized-value&se=2025-05-08T22%3A02%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB2CD5BACDC\"",
        "Last-Modified": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-content-crc64": "4IVSS0J6//c=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:02:04.5510876Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8319a3f2-465f-98e2-d255-86f03d50e051?sv=Sanitized&se=2025-05-08T22%3A02%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0059cb73-96b8-fc12-7e6e-f50bd4c6cf05?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-0059cb73-96b8-fc12-7e6e-f50bd4c6cf05\"><Prefix>destinationFolder</Prefix><Blobs><Blob><Name>destinationFolder/bar/test-file-5ba93f6a-87f0-559a-ebaa-f5bc6b62ebc0</Name><VersionId>2025-05-07T22:02:04.5221037Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:02:04 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:02:04 GMT</Last-Modified><Etag>0x8DD8DB2CD5740AD</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>mp1T+01Ta8Y=</Content-CRC64><Content-MD5>KPz5YRPMTHmw13dFYcpxDg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Wed, 07 May 2025 22:02:04 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destinationFolder/pik/test-file-6e45910f-619b-d842-6ab2-4cc6f616e37c</Name><VersionId>2025-05-07T22:02:04.5510876Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:02:04 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:02:04 GMT</Last-Modified><Etag>0x8DD8DB2CD5BACD[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8319a3f2-465f-98e2-d255-86f03d50e051/sourceFolder/bar/test-file-5ba93f6a-87f0-559a-ebaa-f5bc6b62ebc0?sv=Sanitized&se=2025-05-08T22%3A02%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB2CD2BA329\"",
        "Last-Modified": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:02:04.1932899Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0059cb73-96b8-fc12-7e6e-f50bd4c6cf05/destinationFolder/bar/test-file-5ba93f6a-87f0-559a-ebaa-f5bc6b62ebc0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "KPz5YRPMTHmw13dFYcpxDg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB2CD5740AD\"",
        "Last-Modified": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:02:04.5221037Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8319a3f2-465f-98e2-d255-86f03d50e051/sourceFolder/bar/test-file-5ba93f6a-87f0-559a-ebaa-f5bc6b62ebc0?sv=Sanitized&se=2025-05-08T22%3A02%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD8DB2CD2BA329\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB2CD2BA329\"",
        "Last-Modified": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0059cb73-96b8-fc12-7e6e-f50bd4c6cf05/destinationFolder/bar/test-file-5ba93f6a-87f0-559a-ebaa-f5bc6b62ebc0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD8DB2CD5740AD\"",
        "x-ms-date": "Wed, 07 May 2025 22:02:05 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB2CD5740AD\"",
        "Last-Modified": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-blob-content-md5": "KPz5YRPMTHmw13dFYcpxDg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:02:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8319a3f2-465f-98e2-d255-86f03d50e051?sv=Sanitized&se=2025-05-08T22%3A02%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:1b10a3a8-701e-002e-5e9b-bf88d5000000\n",
        "Time:2025-05-07T22:02:05.9844062Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-07T15:02:03.9230139-07:00",
    "RandomSeed": "992355614",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
