{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6d3a4593-7595-356a-fe1a-48a7f6c74eb7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F893819AF\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6d3a4593-7595-356a-fe1a-48a7f6c74eb7/sourceFolder/test-file-98789472-3582-2144-329b-1aff061b6c49?sv=Sanitized&se=2025-03-08T00%3A32%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F894A3CCF\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6d3a4593-7595-356a-fe1a-48a7f6c74eb7/sourceFolder/test-file-98789472-3582-2144-329b-1aff061b6c49?sv=Sanitized&se=2025-03-08T00%3A32%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "sPUU4FBev6PSyBefeQVQiwY/XtBQDqvnJBuo8i5C921w8U4RB4v4YMJcvvlyz+PqPnv76mda2aFJLLs1tsx1j9GqL4i2P4N6R/0N9FCydFQ3vbSzRwwGFResyNvPwqr25y4oyJ9bNP74gKNpTeVRlrdn/vgYwUjEpBlwCXeoqoRTFg0hiqy024m1usdonMgyWzEjaMSx3iXmYySG6iqHUNUfFjbYLwwKsiNvYgeBXAdRPq5FhEK/oTjoOyaILvBeLWrxSIWSWiskGLWhQnseZQYcNKx8QsuTX3X98PTmgoMyEDWcjxSCv+SCIWuMHl69ydYgbPpE4eufXugPlGk2PpYybjFGgdXymXXI+iFfBkEXQCYexhWJ7i9J/DErcip6S+LVWq8sdkgALdKEfOf[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6d3a4593-7595-356a-fe1a-48a7f6c74eb7/sourceFolder/bar/test-file-980fa9e5-473d-f0c9-14f4-076ea6df932f?sv=Sanitized&se=2025-03-08T00%3A32%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F896C925B\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6d3a4593-7595-356a-fe1a-48a7f6c74eb7/sourceFolder/bar/test-file-980fa9e5-473d-f0c9-14f4-076ea6df932f?sv=Sanitized&se=2025-03-08T00%3A32%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "9nk4gffPiUHtdftAbHQQjNf4JG0Oj/cvDAwUDw1R1Q2B[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6d3a4593-7595-356a-fe1a-48a7f6c74eb7/sourceFolder/pik/test-file-21b20773-e890-9e47-9116-7467901ada9d?sv=Sanitized&se=2025-03-08T00%3A32%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F897D2197\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6d3a4593-7595-356a-fe1a-48a7f6c74eb7/sourceFolder/pik/test-file-21b20773-e890-9e47-9116-7467901ada9d?sv=Sanitized&se=2025-03-08T00%3A32%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Z400kCPCDrz0pIH6yBFXWsawwfWGCJmeFWnvw8UsoDNT[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6d3a4593-7595-356a-fe1a-48a7f6c74eb7?sv=Sanitized&se=2025-03-08T00%3A32%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-6d3a4593-7595-356a-fe1a-48a7f6c74eb7\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-980fa9e5-473d-f0c9-14f4-076ea6df932f</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:32:26 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:32:26 GMT</Last-Modified><Etag>0x8DD5D0F8974ED66</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-21b20773-e890-9e47-9116-7467901ada9d</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:32:26 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:32:26 GMT</Last-Modified><Etag>0x8DD5D0F898555BD</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-D[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-941815d5-694f-e0a2-12b6-c3d8a6abd5aa/destinationFolder/test-file-98789472-3582-2144-329b-1aff061b6c49",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-6d3a4593-7595-356a-fe1a-48a7f6c74eb7/sourceFolder/test-file-98789472-3582-2144-329b-1aff061b6c49?sv=sanitized-value&se=2025-03-08T00%3A32%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F89A20C51\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:27 GMT",
        "x-ms-content-crc64": "4gEA2gh+di4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-941815d5-694f-e0a2-12b6-c3d8a6abd5aa/destinationFolder/pik/test-file-21b20773-e890-9e47-9116-7467901ada9d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-6d3a4593-7595-356a-fe1a-48a7f6c74eb7/sourceFolder/pik/test-file-21b20773-e890-9e47-9116-7467901ada9d?sv=sanitized-value&se=2025-03-08T00%3A32%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F89A2CEBD\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:27 GMT",
        "x-ms-content-crc64": "zLu3DghanDc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-941815d5-694f-e0a2-12b6-c3d8a6abd5aa/destinationFolder/bar/test-file-980fa9e5-473d-f0c9-14f4-076ea6df932f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-6d3a4593-7595-356a-fe1a-48a7f6c74eb7/sourceFolder/bar/test-file-980fa9e5-473d-f0c9-14f4-076ea6df932f?sv=sanitized-value&se=2025-03-08T00%3A32%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F89A2F5A4\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:27 GMT",
        "x-ms-content-crc64": "QGjfHExtUMM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6d3a4593-7595-356a-fe1a-48a7f6c74eb7?sv=Sanitized&se=2025-03-08T00%3A32%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-941815d5-694f-e0a2-12b6-c3d8a6abd5aa?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-941815d5-694f-e0a2-12b6-c3d8a6abd5aa\"><Prefix>destinationFolder</Prefix><Blobs><Blob><Name>destinationFolder/bar/test-file-980fa9e5-473d-f0c9-14f4-076ea6df932f</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:32:27 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:32:27 GMT</Last-Modified><Etag>0x8DD5D0F89A2F5A4</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>QGjfHExtUMM=</Content-CRC64><Content-MD5>Ch9zDepKUFD1DrxxRZiDxg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destinationFolder/pik/test-file-21b20773-e890-9e47-9116-7467901ada9d</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:32:27 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:32:27 GMT</Last-Modified><Etag>0x8DD5D0F89A2CEBD</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6d3a4593-7595-356a-fe1a-48a7f6c74eb7/sourceFolder/bar/test-file-980fa9e5-473d-f0c9-14f4-076ea6df932f?sv=Sanitized&se=2025-03-08T00%3A32%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0F8974ED66\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-941815d5-694f-e0a2-12b6-c3d8a6abd5aa/destinationFolder/bar/test-file-980fa9e5-473d-f0c9-14f4-076ea6df932f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "Ch9zDepKUFD1DrxxRZiDxg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0F89A2F5A4\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6d3a4593-7595-356a-fe1a-48a7f6c74eb7/sourceFolder/bar/test-file-980fa9e5-473d-f0c9-14f4-076ea6df932f?sv=Sanitized&se=2025-03-08T00%3A32%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D0F8974ED66\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0F8974ED66\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-941815d5-694f-e0a2-12b6-c3d8a6abd5aa/destinationFolder/bar/test-file-980fa9e5-473d-f0c9-14f4-076ea6df932f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5D0F89A2F5A4\"",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0F89A2F5A4\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:27 GMT",
        "x-ms-blob-content-md5": "Ch9zDepKUFD1DrxxRZiDxg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "9nk4gffPiUHtdftAbHQQjNf4JG0Oj/cvDAwUD[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6d3a4593-7595-356a-fe1a-48a7f6c74eb7?sv=Sanitized&se=2025-03-08T00%3A32%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:41be3b69-101e-0024-28f8-8e5614000000\n",
        "Time:2025-03-07T00:32:28.9642812Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:32:26.5028103-08:00",
    "RandomSeed": "1201565494",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
