{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6581c571-9b9a-67b3-39ed-1b5d5c2c4e6a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D63176DE28\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6581c571-9b9a-67b3-39ed-1b5d5c2c4e6a/sourceFolder/test-file-973a11f9-28bd-a3ad-5e27-2368ccf7cceb?sv=Sanitized&se=2025-07-12T23%3A53%3A54Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6318AE39C\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:53:54.3198620Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6581c571-9b9a-67b3-39ed-1b5d5c2c4e6a/sourceFolder/test-file-973a11f9-28bd-a3ad-5e27-2368ccf7cceb?sv=Sanitized&se=2025-07-12T23%3A53%3A54Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "koaMZy66OVrf4coCAEZFxqnP9FazW+f5lzC+YkQoKd4uTT35TJ7GP9jfuNteqqIY4Vy//AN2ODaektD9/NYWtrjs1LIIS3oLCLV91KMMm+yOpYDoaSzauBUGWrnNyUIByQEictbvD5bitPNO+GSTkvfkblZWLk2MERudAvDAPT9yfAqh6SgVn5XqBbQ4i7+xcsjC6Vrsq5uzlmC6Ug2lIXe023xZ8anOzs/AayiYU4Vc7I8o/lTkhtBu7lPIWk2IReQ9hLBDV4Af8xqKK0BzG0LaXmV9fCMiz1Wr6gNVBnSCOCZEWs/VGZQPCQo5WluQ+9IR7fznC8jAGrRal2x9ye2mCPMaL8ByBEXRbnMZ6HX6G+8wQxh3myxdgz8aeoEnkj8dk1FodswSnui2FZx[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6581c571-9b9a-67b3-39ed-1b5d5c2c4e6a/sourceFolder/bar/test-file-d308a776-0bb6-3a99-d0a4-eb7e24797f55?sv=Sanitized&se=2025-07-12T23%3A53%3A54Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D631A51E7D\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:53:54.4927622Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6581c571-9b9a-67b3-39ed-1b5d5c2c4e6a/sourceFolder/bar/test-file-d308a776-0bb6-3a99-d0a4-eb7e24797f55?sv=Sanitized&se=2025-07-12T23%3A53%3A54Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "GFZsPWwsW8tI4gbOFOcpYQFS9o2CVeqkn1SNl/AEoz[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6581c571-9b9a-67b3-39ed-1b5d5c2c4e6a/sourceFolder/pik/test-file-aeaad0a1-3636-e912-ab3f-7e3a058b04eb?sv=Sanitized&se=2025-07-12T23%3A53%3A54Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D631B262F8\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:53:54.5787128Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6581c571-9b9a-67b3-39ed-1b5d5c2c4e6a/sourceFolder/pik/test-file-aeaad0a1-3636-e912-ab3f-7e3a058b04eb?sv=Sanitized&se=2025-07-12T23%3A53%3A54Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "xbtbexQvFHiZsdqwIs38XrSxK1/2tJBypoxd7UUrQ2[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6581c571-9b9a-67b3-39ed-1b5d5c2c4e6a?sv=Sanitized&se=2025-07-12T23%3A53%3A54Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-6581c571-9b9a-67b3-39ed-1b5d5c2c4e6a\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-5490263a-1473-a2a8-e620-037bc1438709</Name><VersionId>2025-07-11T23:53:54.4058122Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:53:54 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:53:54 GMT</Last-Modified><Etag>0x8DDC0D6319E8FC2</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-973a11f9-28bd-a3ad-5e27-2368ccf7cceb</Name><VersionId>2025-07-11T23:53:54.3198620Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:53:54 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:53:54 GMT</Last-Modified><Etag>0x8DDC0D631917251</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6581c571-9b9a-67b3-39ed-1b5d5c2c4e6a?sv=Sanitized&se=2025-07-12T23%3A53%3A54Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c2ec74dd-9018-34e5-da85-2baeac02d6c2/destPrefix/test-file-973a11f9-28bd-a3ad-5e27-2368ccf7cceb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-6581c571-9b9a-67b3-39ed-1b5d5c2c4e6a/sourceFolder/test-file-973a11f9-28bd-a3ad-5e27-2368ccf7cceb?sv=sanitized-value&se=2025-07-12T23%3A53%3A54Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D631CDFD36\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-content-crc64": "RmovvNm5LUo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:53:54.7596086Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6581c571-9b9a-67b3-39ed-1b5d5c2c4e6a?sv=Sanitized&se=2025-07-12T23%3A53%3A54Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c2ec74dd-9018-34e5-da85-2baeac02d6c2/destPrefix/bar/test-file-d308a776-0bb6-3a99-d0a4-eb7e24797f55",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-6581c571-9b9a-67b3-39ed-1b5d5c2c4e6a/sourceFolder/bar/test-file-d308a776-0bb6-3a99-d0a4-eb7e24797f55?sv=sanitized-value&se=2025-07-12T23%3A53%3A54Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D631D4B301\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-content-crc64": "9zaXDfXu0kA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:53:54.8035841Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c2ec74dd-9018-34e5-da85-2baeac02d6c2/destPrefix/pik/test-file-aeaad0a1-3636-e912-ab3f-7e3a058b04eb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-6581c571-9b9a-67b3-39ed-1b5d5c2c4e6a/sourceFolder/pik/test-file-aeaad0a1-3636-e912-ab3f-7e3a058b04eb?sv=sanitized-value&se=2025-07-12T23%3A53%3A54Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D631DA5772\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-content-crc64": "LVH7EBitNfY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:53:54.8405618Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6581c571-9b9a-67b3-39ed-1b5d5c2c4e6a?sv=Sanitized&se=2025-07-12T23%3A53%3A54Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c2ec74dd-9018-34e5-da85-2baeac02d6c2?restype=container&comp=list&prefix=destPrefix%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:53:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-c2ec74dd-9018-34e5-da85-2baeac02d6c2\"><Prefix>destPrefix/</Prefix><Blobs><Blob><Name>destPrefix/bar/test-file-d308a776-0bb6-3a99-d0a4-eb7e24797f55</Name><VersionId>2025-07-11T23:53:54.8035841Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:53:54 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:53:54 GMT</Last-Modified><Etag>0x8DDC0D631D4B301</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>9zaXDfXu0kA=</Content-CRC64><Content-MD5>/GFcwxE0pozQhBoVllvDuA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 11 Jul 2025 23:53:54 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destPrefix/pik/test-file-aeaad0a1-3636-e912-ab3f-7e3a058b04eb</Name><VersionId>2025-07-11T23:53:54.8405618Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:53:54 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:53:54 GMT</Last-Modified><Etag>0x8DDC0D631DA5772</Etag[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6581c571-9b9a-67b3-39ed-1b5d5c2c4e6a/sourceFolder/bar/test-file-d308a776-0bb6-3a99-d0a4-eb7e24797f55?sv=Sanitized&se=2025-07-12T23%3A53%3A54Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D631ABAD36\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:53:54.4927622Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c2ec74dd-9018-34e5-da85-2baeac02d6c2/destPrefix/bar/test-file-d308a776-0bb6-3a99-d0a4-eb7e24797f55",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:53:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "/GFcwxE0pozQhBoVllvDuA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D631D4B301\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:53:54.8035841Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6581c571-9b9a-67b3-39ed-1b5d5c2c4e6a/sourceFolder/bar/test-file-d308a776-0bb6-3a99-d0a4-eb7e24797f55?sv=Sanitized&se=2025-07-12T23%3A53%3A54Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC0D631ABAD36\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D631ABAD36\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c2ec74dd-9018-34e5-da85-2baeac02d6c2/destPrefix/bar/test-file-d308a776-0bb6-3a99-d0a4-eb7e24797f55",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDC0D631D4B301\"",
        "x-ms-date": "Fri, 11 Jul 2025 23:53:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D631D4B301\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-blob-content-md5": "/GFcwxE0pozQhBoVllvDuA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 23:53:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6581c571-9b9a-67b3-39ed-1b5d5c2c4e6a?sv=Sanitized&se=2025-07-12T23%3A53%3A54Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:4c8e3931-201e-0041-0abf-f28226000000\n",
        "Time:2025-07-11T23:53:56.3038686Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-11T16:53:54.2242636-07:00",
    "RandomSeed": "996386257",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
