{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0e6102f6-13c3-538c-295f-4fb534b77cc2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3B8FE6361\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0e6102f6-13c3-538c-295f-4fb534b77cc2/sourceFolder/test-file-fbc438d0-7407-233e-b5fb-e65377f03b90?sv=Sanitized&se=2025-02-22T23%3A59%3A05Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3B910BD0A\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:05.2947476Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0e6102f6-13c3-538c-295f-4fb534b77cc2/sourceFolder/test-file-fbc438d0-7407-233e-b5fb-e65377f03b90?sv=Sanitized&se=2025-02-22T23%3A59%3A05Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "8jy/abeo09eJbnInQWAaS9EO1cpZLxVODzHDrrRBqaVuNbCuYAzIKGTscZgCF+JU4ZuCaBpwN8IncFqF5CQjSMXNuAuwbOrERaxlbL58TPdPbs0YvkCK/f7thu+yQ0NAySjTNF7WpHWwviNtCssDqiNiNnZWComEQroNw+X6EgJpJaKWqRiZeMpYZwAdHfMy6tzLTwzN6b+eTvGjyeGPtqwgBOQpbQELyb6s/qKJZyXH2tkJLsL2mzzj91om9a7pyLFU/BgPCXzawIVOIescFebM3O8HhofpKmioRnam5dQPwjXwNWsMuNBcLm49p3pQxuFzWRm/4UIqatGwZsMFM9qxPl62LOB7wCQeq1cYrILuWH+UM4y6UOHzxcqaXFENVvqTi2kbmpoB+Jn1oDb[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0e6102f6-13c3-538c-295f-4fb534b77cc2/sourceFolder/bar/test-file-fb516a87-ff70-fcf0-6d84-c0dbe356fedb?sv=Sanitized&se=2025-02-22T23%3A59%3A05Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3B92C7E5C\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:05.4756444Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0e6102f6-13c3-538c-295f-4fb534b77cc2/sourceFolder/bar/test-file-fb516a87-ff70-fcf0-6d84-c0dbe356fedb?sv=Sanitized&se=2025-02-22T23%3A59%3A05Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "QdLw5nLA7eXRLeMUwoQU6evkw8nMJ4z8VB5MJz5Dab[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0e6102f6-13c3-538c-295f-4fb534b77cc2/sourceFolder/pik/test-file-96277268-b78a-513b-f44b-6d7b37d037ce?sv=Sanitized&se=2025-02-22T23%3A59%3A05Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3B93D6BD2\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:05.5865810Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0e6102f6-13c3-538c-295f-4fb534b77cc2/sourceFolder/pik/test-file-96277268-b78a-513b-f44b-6d7b37d037ce?sv=Sanitized&se=2025-02-22T23%3A59%3A05Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "r01U2f8Nn9TVI9W/cCwg9dXHa8kbFCW2K6xjvNmfN/[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0e6102f6-13c3-538c-295f-4fb534b77cc2?sv=Sanitized&se=2025-02-22T23%3A59%3A05Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-0e6102f6-13c3-538c-295f-4fb534b77cc2\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-fb516a87-ff70-fcf0-6d84-c0dbe356fedb</Name><VersionId>2025-02-21T23:59:05.4756444Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:59:05 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:59:05 GMT</Last-Modified><Etag>0x8DD52D3B9352FAB</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-96277268-b78a-513b-f44b-6d7b37d037ce</Name><VersionId>2025-02-21T23:59:05.5865810Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:59:05 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:59:05 GMT</Last-Modified><Etag>0x8DD52D3B945A805</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5100b82b-059b-3d96-ae1c-5a82b70b217d/destPrefix/test-file-fbc438d0-7407-233e-b5fb-e65377f03b90",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-0e6102f6-13c3-538c-295f-4fb534b77cc2/sourceFolder/test-file-fbc438d0-7407-233e-b5fb-e65377f03b90?sv=sanitized-value&se=2025-02-22T23%3A59%3A05Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3B95ADA9E\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-content-crc64": "cnqMgpVL0pU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:05.7794718Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5100b82b-059b-3d96-ae1c-5a82b70b217d/destPrefix/bar/test-file-fb516a87-ff70-fcf0-6d84-c0dbe356fedb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-0e6102f6-13c3-538c-295f-4fb534b77cc2/sourceFolder/bar/test-file-fb516a87-ff70-fcf0-6d84-c0dbe356fedb?sv=sanitized-value&se=2025-02-22T23%3A59%3A05Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3B95A3E71\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-content-crc64": "QNS3Z1Ozdyg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:05.7754737Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5100b82b-059b-3d96-ae1c-5a82b70b217d/destPrefix/pik/test-file-96277268-b78a-513b-f44b-6d7b37d037ce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-0e6102f6-13c3-538c-295f-4fb534b77cc2/sourceFolder/pik/test-file-96277268-b78a-513b-f44b-6d7b37d037ce?sv=sanitized-value&se=2025-02-22T23%3A59%3A05Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3B95CD61E\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-content-crc64": "sB5IYKig2UE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:05.7924638Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0e6102f6-13c3-538c-295f-4fb534b77cc2?sv=Sanitized&se=2025-02-22T23%3A59%3A05Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5100b82b-059b-3d96-ae1c-5a82b70b217d?restype=container&comp=list&prefix=destPrefix",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:06 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-5100b82b-059b-3d96-ae1c-5a82b70b217d\"><Prefix>destPrefix</Prefix><Blobs><Blob><Name>destPrefix/bar/test-file-fb516a87-ff70-fcf0-6d84-c0dbe356fedb</Name><VersionId>2025-02-21T23:59:05.7754737Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:59:05 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:59:05 GMT</Last-Modified><Etag>0x8DD52D3B95A3E71</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>QNS3Z1Ozdyg=</Content-CRC64><Content-MD5>RsVTxtpKGhTggIFqzzS26Q==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 21 Feb 2025 23:59:05 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destPrefix/pik/test-file-96277268-b78a-513b-f44b-6d7b37d037ce</Name><VersionId>2025-02-21T23:59:05.7924638Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:59:05 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:59:05 GMT</Last-Modified><Etag>0x8DD52D3B95CD61E</Etag[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0e6102f6-13c3-538c-295f-4fb534b77cc2/sourceFolder/bar/test-file-fb516a87-ff70-fcf0-6d84-c0dbe356fedb?sv=Sanitized&se=2025-02-22T23%3A59%3A05Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3B9352FAB\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:05.4756444Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5100b82b-059b-3d96-ae1c-5a82b70b217d/destPrefix/bar/test-file-fb516a87-ff70-fcf0-6d84-c0dbe356fedb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:06 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "RsVTxtpKGhTggIFqzzS26Q==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3B95A3E71\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:05.7754737Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0e6102f6-13c3-538c-295f-4fb534b77cc2/sourceFolder/bar/test-file-fb516a87-ff70-fcf0-6d84-c0dbe356fedb?sv=Sanitized&se=2025-02-22T23%3A59%3A05Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D3B9352FAB\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3B9352FAB\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5100b82b-059b-3d96-ae1c-5a82b70b217d/destPrefix/bar/test-file-fb516a87-ff70-fcf0-6d84-c0dbe356fedb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD52D3B95A3E71\"",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:06 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3B95A3E71\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-blob-content-md5": "RsVTxtpKGhTggIFqzzS26Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 21 Feb 2025 23:59:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0e6102f6-13c3-538c-295f-4fb534b77cc2?sv=Sanitized&se=2025-02-22T23%3A59%3A05Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:f210216e-701e-0001-26bc-84851e000000\n",
        "Time:2025-02-21T23:59:07.1969339Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T15:59:05.2088791-08:00",
    "RandomSeed": "1040810602",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
