{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-2fbf2919-6649-f8cb-763b-5a85246f7816?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069BF6D3BB9\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:51 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-2fbf2919-6649-f8cb-763b-5a85246f7816/sourceFolder/test-file-42068a95-eb12-4774-372e-06422155aa79",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069C05AE857\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-2fbf2919-6649-f8cb-763b-5a85246f7816/sourceFolder/test-file-42068a95-eb12-4774-372e-06422155aa79?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Qukje2Cp8Edv7XzwH73ulqXWSY1MLbBWX9cMlrKnneQzS5D1vrLB7Jm+0yVuhCd6P3CdSwscLRU5zRyJnFqUyE+YvNQs+dfyFVz0jVqL6NqvklZCClLZFh57u/GWN08/KgvV1shTTUaYqjauKJ+7ruRB2QoDUr39vqW1sD3mXN0NtWNPtRISW0QQql8bKu5+wA0MVF5FO9dN1xcinZwIsk5ZoXM8bPjSL33F86de4ZO3N/Aw2Qd+x3mLAd76776oB/gQwol6QlQUOiTggEgw7vaDamas2NhG2tr5sGoa2D+/HeuvTR8KPfSbHJ/jnkYxWxPnd4VY+y8fyeevgJHq+WHkIGNcgaDXeC1xELw5YzyTyFVXMmC6ZyG7j4Q3W7xjsSI9/n3j1NlyEP5Y5ut[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-2fbf2919-6649-f8cb-763b-5a85246f7816/sourceFolder/bar/test-file-90b409fc-c5c4-13fd-3217-8b073ee0de5a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069C07F5E57\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-2fbf2919-6649-f8cb-763b-5a85246f7816/sourceFolder/bar/test-file-90b409fc-c5c4-13fd-3217-8b073ee0de5a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "ZqJHjvQQ+4/OrMN6hJdClz1dVfD6F61iRJioMnX8wKLywonhlvN97A4lwRcBgo+b1fPK4YruX0/05UlbZ8gZ0[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-2fbf2919-6649-f8cb-763b-5a85246f7816/sourceFolder/pik/test-file-8093cad6-ff0b-d2dc-b27d-363e0ddba228",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069C0920E04\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-2fbf2919-6649-f8cb-763b-5a85246f7816/sourceFolder/pik/test-file-8093cad6-ff0b-d2dc-b27d-363e0ddba228?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "299hraiQV/OPfHQhvIuvvOiKqaSD4rl38T1ad67F2kruMCfX+vFgRnKg8I+KuhYmznpVgjH9pPkl6rtqNeBFy[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-2fbf2919-6649-f8cb-763b-5a85246f7816?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-file-2fbf2919-6649-f8cb-763b-5a85246f7816\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-0d9ba353-26f7-7b3b-b418-505a273bf21a</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:38:53 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:38:53 GMT</Last-Modified><Etag>0x8DE0069C07640D6</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-42068a95-eb12-4774-372e-06422155aa79</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:38:53 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:38:53 GMT</Last-Modified><Etag>0x8DE0069C0642CBC</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-2fbf2919-6649-f8cb-763b-5a85246f7816?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-2fbf2919-6649-f8cb-763b-5a85246f7816?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9751c15a-5762-0c5c-82e3-174c0bc13900/destFolder/test-file-42068a95-eb12-4774-372e-06422155aa79",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-file-2fbf2919-6649-f8cb-763b-5a85246f7816/sourceFolder/test-file-42068a95-eb12-4774-372e-06422155aa79",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069C1CCFC88\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:55 GMT",
        "x-ms-content-crc64": "4DJBP6WLG/g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9751c15a-5762-0c5c-82e3-174c0bc13900/destFolder/pik/test-file-8093cad6-ff0b-d2dc-b27d-363e0ddba228",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-file-2fbf2919-6649-f8cb-763b-5a85246f7816/sourceFolder/pik/test-file-8093cad6-ff0b-d2dc-b27d-363e0ddba228",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069C1D971C0\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:55 GMT",
        "x-ms-content-crc64": "6j9rEYNvpPI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9751c15a-5762-0c5c-82e3-174c0bc13900/destFolder/bar/test-file-90b409fc-c5c4-13fd-3217-8b073ee0de5a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-file-2fbf2919-6649-f8cb-763b-5a85246f7816/sourceFolder/bar/test-file-90b409fc-c5c4-13fd-3217-8b073ee0de5a",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069C1F01493\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:55 GMT",
        "x-ms-content-crc64": "LXnBqPxNe68=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-2fbf2919-6649-f8cb-763b-5a85246f7816?restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody":[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9751c15a-5762-0c5c-82e3-174c0bc13900?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-file-9751c15a-5762-0c5c-82e3-174c0bc13900\"><Prefix>destFolder/</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-90b409fc-c5c4-13fd-3217-8b073ee0de5a</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:38:55 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:38:55 GMT</Last-Modified><Etag>0x8DE0069C1F01493</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>LXnBqPxNe68=</Content-CRC64><Content-MD5>sojoxe/8stwwdEcS0lHXRQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-8093cad6-ff0b-d2dc-b27d-363e0ddba228</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:38:55 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:38:55 GMT</Last-Modified><Etag>0x8DE0069C1D971C0</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encodi[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-2fbf2919-6649-f8cb-763b-5a85246f7816/sourceFolder/bar/test-file-90b409fc-c5c4-13fd-3217-8b073ee0de5a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0069C088A2B8\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:38:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9751c15a-5762-0c5c-82e3-174c0bc13900/destFolder/bar/test-file-90b409fc-c5c4-13fd-3217-8b073ee0de5a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "sojoxe/8stwwdEcS0lHXRQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0069C1F01493\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:55 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:38:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-2fbf2919-6649-f8cb-763b-5a85246f7816/sourceFolder/bar/test-file-90b409fc-c5c4-13fd-3217-8b073ee0de5a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE0069C088A2B8\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0069C088A2B8\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:38:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9751c15a-5762-0c5c-82e3-174c0bc13900/destFolder/bar/test-file-90b409fc-c5c4-13fd-3217-8b073ee0de5a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE0069C1F01493\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0069C1F01493\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:55 GMT",
        "x-ms-blob-content-md5": "sojoxe/8stwwdEcS0lHXRQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:38:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "ZqJHjvQQ+4/OrMN6hJdClz1dVfD6F61iRJioM[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-2fbf2919-6649-f8cb-763b-5a85246f7816?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2101040894",
    "Storage_TestConfigOAuth": "OAuthTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\n\nrg-amnguyestorage\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
