{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc2ee2f-8378-5908-879e-2c1a4da119c4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:39:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069C5424644\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:39:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc2ee2f-8378-5908-879e-2c1a4da119c4/sourceFolder/test-file-8b105a6b-3185-07ec-ab98-32a1b14d5fa9?sv=Sanitized&se=2025-10-01T21%3A39%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069C55BC06C\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:39:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc2ee2f-8378-5908-879e-2c1a4da119c4/sourceFolder/test-file-8b105a6b-3185-07ec-ab98-32a1b14d5fa9?sv=Sanitized&se=2025-10-01T21%3A39%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Hz58aPN3JA1QUvIPPN2+4mDuOWIAP4uhhVjBPNKPYubaaF4h9Q0M9DYCOzM/3MrO2lBBwhP8qOCz2+Oatec7wO8LNNN+nexT4kUr/QNYYqmN82KBTp/S3r99bhopcT9Px3tDM6f2Tz1j7eDO0KvdW3g6DMGEuXFPOVYUAS/SKXEG3DWIFC4Bl6QlHmC/BA0ToBKh72R9yw4J9PpQ4k4OkcRvx/R2VEZJOHUdX5sQkDRIAGAcMTkMiREmfiA0sLRVF4ycTz0ZnUvLV7fuYGtz+WTFCOLu8WCKYj7iT9YmFYfBx0cOdED3LmMUUNqCHiilsoW7bqjSZyUsEu3+Nk11pEEvLZkjZYUkztl+2aGFCEQVPZxRa6bf7l8i4WFS+PgVn6uYUvCPgU0Al6DOU46[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc2ee2f-8378-5908-879e-2c1a4da119c4/sourceFolder/bar/test-file-e2f5dede-511f-749a-607c-b14f7f14fcd1?sv=Sanitized&se=2025-10-01T21%3A39%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069C57FE8B6\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:39:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc2ee2f-8378-5908-879e-2c1a4da119c4/sourceFolder/bar/test-file-e2f5dede-511f-749a-607c-b14f7f14fcd1?sv=Sanitized&se=2025-10-01T21%3A39%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "CjlvsFObssF11FP3gs83TEhWkbIkt8NpNDd76HcpjyG3[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc2ee2f-8378-5908-879e-2c1a4da119c4/sourceFolder/pik/test-file-7c83b501-fc01-13a1-39fd-18896f992b51?sv=Sanitized&se=2025-10-01T21%3A39%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069C5916144\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:39:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc2ee2f-8378-5908-879e-2c1a4da119c4/sourceFolder/pik/test-file-7c83b501-fc01-13a1-39fd-18896f992b51?sv=Sanitized&se=2025-10-01T21%3A39%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "ZamhT0uweLpe+5bfc6Bt87ljuOOMs+30aBN7kno8vx5K[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc2ee2f-8378-5908-879e-2c1a4da119c4?sv=Sanitized&se=2025-10-01T21%3A39%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-4dc2ee2f-8378-5908-879e-2c1a4da119c4\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-8b105a6b-3185-07ec-ab98-32a1b14d5fa9</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:39:01 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:39:01 GMT</Last-Modified><Etag>0x8DE0069C56504EA</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-e3a4681c-0ca9-c847-d777-d8842dd28172</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:39:01 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:39:01 GMT</Last-Modified><Etag>0x8DE0069C576CB25</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc2ee2f-8378-5908-879e-2c1a4da119c4?sv=Sanitized&se=2025-10-01T21%3A39%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-86b80755-9f78-1df2-baea-504fda53e4f9/destPrefix/test-file-e3a4681c-0ca9-c847-d777-d8842dd28172",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-4dc2ee2f-8378-5908-879e-2c1a4da119c4/sourceFolder/test-file-e3a4681c-0ca9-c847-d777-d8842dd28172?sv=sanitized-value&se=2025-10-01T21%3A39%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:39:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069C5BA8CE8\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:39:02 GMT",
        "x-ms-content-crc64": "b4sD1wNzpU8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc2ee2f-8378-5908-879e-2c1a4da119c4?sv=Sanitized&se=2025-10-01T21%3A39%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-86b80755-9f78-1df2-baea-504fda53e4f9/destPrefix/bar/test-file-e2f5dede-511f-749a-607c-b14f7f14fcd1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-4dc2ee2f-8378-5908-879e-2c1a4da119c4/sourceFolder/bar/test-file-e2f5dede-511f-749a-607c-b14f7f14fcd1?sv=sanitized-value&se=2025-10-01T21%3A39%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:39:02 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069C5C4BA9F\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:39:02 GMT",
        "x-ms-content-crc64": "oYMDbB09uGY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-86b80755-9f78-1df2-baea-504fda53e4f9/destPrefix/pik/test-file-7c83b501-fc01-13a1-39fd-18896f992b51",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-4dc2ee2f-8378-5908-879e-2c1a4da119c4/sourceFolder/pik/test-file-7c83b501-fc01-13a1-39fd-18896f992b51?sv=sanitized-value&se=2025-10-01T21%3A39%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:39:02 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069C5CB90D3\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:39:02 GMT",
        "x-ms-content-crc64": "EsXMldvftxk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc2ee2f-8378-5908-879e-2c1a4da119c4?sv=Sanitized&se=2025-10-01T21%3A39%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-86b80755-9f78-1df2-baea-504fda53e4f9?restype=container&comp=list&prefix=destPrefix%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:39:02 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-86b80755-9f78-1df2-baea-504fda53e4f9\"><Prefix>destPrefix/</Prefix><Blobs><Blob><Name>destPrefix/bar/test-file-e2f5dede-511f-749a-607c-b14f7f14fcd1</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:39:02 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:39:02 GMT</Last-Modified><Etag>0x8DE0069C5C4BA9F</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>oYMDbB09uGY=</Content-CRC64><Content-MD5>Z2JoGSLZU4RTmzv7hntPgQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destPrefix/pik/test-file-7c83b501-fc01-13a1-39fd-18896f992b51</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:39:02 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:39:02 GMT</Last-Modified><Etag>0x8DE0069C5CB90D3</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encodi[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc2ee2f-8378-5908-879e-2c1a4da119c4/sourceFolder/bar/test-file-e2f5dede-511f-749a-607c-b14f7f14fcd1?sv=Sanitized&se=2025-10-01T21%3A39%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0069C5889193\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:39:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:39:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-86b80755-9f78-1df2-baea-504fda53e4f9/destPrefix/bar/test-file-e2f5dede-511f-749a-607c-b14f7f14fcd1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:39:02 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "Z2JoGSLZU4RTmzv7hntPgQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0069C5C4BA9F\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:39:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:39:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc2ee2f-8378-5908-879e-2c1a4da119c4/sourceFolder/bar/test-file-e2f5dede-511f-749a-607c-b14f7f14fcd1?sv=Sanitized&se=2025-10-01T21%3A39%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0069C5889193\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0069C5889193\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:39:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:39:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-86b80755-9f78-1df2-baea-504fda53e4f9/destPrefix/bar/test-file-e2f5dede-511f-749a-607c-b14f7f14fcd1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE0069C5C4BA9F\"",
        "x-ms-date": "Tue, 30 Sep 2025 21:39:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0069C5C4BA9F\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:39:02 GMT",
        "x-ms-blob-content-md5": "Z2JoGSLZU4RTmzv7hntPgQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:39:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "CjlvsFObssF11FP3gs83TEhWkbIkt8NpNDd76[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4dc2ee2f-8378-5908-879e-2c1a4da119c4?sv=Sanitized&se=2025-10-01T21%3A39%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:65e9f2d3-301e-0041-0f52-32f850000000\n",
        "Time:2025-09-30T21:39:04.1924782Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T14:39:01.2526058-07:00",
    "RandomSeed": "783222876",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
