{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45a5352f-f88d-f104-38e3-5e1dcc7a450a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:33:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FA0222101\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45a5352f-f88d-f104-38e3-5e1dcc7a450a/sourceFolder/test-file-c81693f9-3c92-ba32-cf61-6fc6126d5cae?sv=Sanitized&se=2025-03-08T00%3A33%3A04Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FA034D2FC\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45a5352f-f88d-f104-38e3-5e1dcc7a450a/sourceFolder/test-file-c81693f9-3c92-ba32-cf61-6fc6126d5cae?sv=Sanitized&se=2025-03-08T00%3A33%3A04Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "WDCMIuwhK6ilH2MgN+/2HkN+CGvtasHqQlOsvXoKgWKgNW3i4TnCFCuQpxGrMIos36PkumRUTO1uouCYdW4ump0AfwKBFD0JvPRAXcOwPxHJgN3WJsf+S+iAcz9ZKZ+8YgxzqrGIq8tm2v1wFO8qvmLOz/WQV3TWAjMaAaD+r5NVhPq2PJRgQdQScEvJjTf4VrTci1mpKwqYnKd+bakqZytpG5D0c4LObo4gfucpDHX7IavsIiQ5q1jwHp/t4dMr5wggX3GnBOIyDRzLia0ib5Aygkz+PkUGMHA3BFXi4Yy69ZbeCK0DVB3IuRQHbiGrza8Pul+HLKnDGS8Bb/+NUCyQEJQWQ2biLi4uNYQw/8JPjDal0iYtM8jtG+99AuQdO2nod12MlIpJLIswWPYkkxltsuPJ530GY93LKSh2ZSxKEfoaSIhkwvesXKWa/NvRyIfVEE8BU1Ps4ROAwGth0sdf5kb8CkqRCPDrHYrXa2YB+mCgoFXcSL6mLmZ05AGMS4reOxWU1b49RAdfFjXIFHWsfsYLwDFygp2IVdvjHCPvX9IA+DBRbCSiY1xNfDKI3Rnwx2U6gIpYbLh3DH/iWSfkcLZjyBxFWxKiaFzVJAVqAHfC81W9tN5HqIx32WCkvwo0aQx8JBX9q2tTmBgug0ezDAsIIGbSJrzYGyCPzYE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FA03E6540\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "q8z1woCUNwk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45a5352f-f88d-f104-38e3-5e1dcc7a450a/sourceFolder/bar/test-file-435d9f65-bbd0-f5b5-ccda-bf7fdf15c7a3?sv=Sanitized&se=2025-03-08T00%3A33%3A04Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FA057C413\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45a5352f-f88d-f104-38e3-5e1dcc7a450a/sourceFolder/bar/test-file-435d9f65-bbd0-f5b5-ccda-bf7fdf15c7a3?sv=Sanitized&se=2025-03-08T00%3A33%3A04Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "lkCgNef5fepYxm/8hD7bAcKRvXJjqgqL5dfBM6wod+wv[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45a5352f-f88d-f104-38e3-5e1dcc7a450a/sourceFolder/pik/test-file-a6fe1bd0-8a53-7282-b060-c70b13d5bc88?sv=Sanitized&se=2025-03-08T00%3A33%3A04Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FA068534C\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45a5352f-f88d-f104-38e3-5e1dcc7a450a/sourceFolder/pik/test-file-a6fe1bd0-8a53-7282-b060-c70b13d5bc88?sv=Sanitized&se=2025-03-08T00%3A33%3A04Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "6/iWIujvK9Faq9gisAZ2KEUhI3SyspSgz2sOqGOHX973[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45a5352f-f88d-f104-38e3-5e1dcc7a450a?sv=Sanitized&se=2025-03-08T00%3A33%3A04Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-45a5352f-f88d-f104-38e3-5e1dcc7a450a\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-435d9f65-bbd0-f5b5-ccda-bf7fdf15c7a3</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:33:05 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:33:05 GMT</Last-Modified><Etag>0x8DD5D0FA0601F22</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-a6fe1bd0-8a53-7282-b060-c70b13d5bc88</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:33:05 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:33:05 GMT</Last-Modified><Etag>0x8DD5D0FA072810B</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Di[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d1e47b20-36d6-12f2-b120-151e250a42d2/destinationFolder/test-file-4d395736-0e30-c251-1cd5-c227386dc03a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-45a5352f-f88d-f104-38e3-5e1dcc7a450a/sourceFolder/test-file-4d395736-0e30-c251-1cd5-c227386dc03a?sv=sanitized-value&se=2025-03-08T00%3A33%3A04Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FA090E364\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-content-crc64": "NIWM9+hJDsw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d1e47b20-36d6-12f2-b120-151e250a42d2/destinationFolder/bar/test-file-435d9f65-bbd0-f5b5-ccda-bf7fdf15c7a3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-45a5352f-f88d-f104-38e3-5e1dcc7a450a/sourceFolder/bar/test-file-435d9f65-bbd0-f5b5-ccda-bf7fdf15c7a3?sv=sanitized-value&se=2025-03-08T00%3A33%3A04Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FA0926852\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-content-crc64": "N802vFjsQG8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d1e47b20-36d6-12f2-b120-151e250a42d2/destinationFolder/pik/test-file-a6fe1bd0-8a53-7282-b060-c70b13d5bc88",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-45a5352f-f88d-f104-38e3-5e1dcc7a450a/sourceFolder/pik/test-file-a6fe1bd0-8a53-7282-b060-c70b13d5bc88?sv=sanitized-value&se=2025-03-08T00%3A33%3A04Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FA0928F32\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-content-crc64": "SHMjsQ0Nw+I=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45a5352f-f88d-f104-38e3-5e1dcc7a450a?sv=Sanitized&se=2025-03-08T00%3A33%3A04Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d1e47b20-36d6-12f2-b120-151e250a42d2?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-d1e47b20-36d6-12f2-b120-151e250a42d2\"><Prefix>destinationFolder</Prefix><Blobs><Blob><Name>destinationFolder/bar/test-file-435d9f65-bbd0-f5b5-ccda-bf7fdf15c7a3</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:33:05 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:33:05 GMT</Last-Modified><Etag>0x8DD5D0FA0926852</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>N802vFjsQG8=</Content-CRC64><Content-MD5>D7+N0FEyXJRZvukJf7SM3Q==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destinationFolder/pik/test-file-a6fe1bd0-8a53-7282-b060-c70b13d5bc88</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:33:05 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:33:05 GMT</Last-Modified><Etag>0x8DD5D0FA0928F32</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45a5352f-f88d-f104-38e3-5e1dcc7a450a/sourceFolder/bar/test-file-435d9f65-bbd0-f5b5-ccda-bf7fdf15c7a3?sv=Sanitized&se=2025-03-08T00%3A33%3A04Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0FA0601F22\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d1e47b20-36d6-12f2-b120-151e250a42d2/destinationFolder/bar/test-file-435d9f65-bbd0-f5b5-ccda-bf7fdf15c7a3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:33:06 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "D7+N0FEyXJRZvukJf7SM3Q==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0FA0926852\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45a5352f-f88d-f104-38e3-5e1dcc7a450a/sourceFolder/bar/test-file-435d9f65-bbd0-f5b5-ccda-bf7fdf15c7a3?sv=Sanitized&se=2025-03-08T00%3A33%3A04Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D0FA0601F22\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0FA0601F22\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "lkCgNef5fepYxm/8hD7bAcKRvXJjqgqL5dfBM6wod+wvkF0s5N6EbCFy6glLuXCN/r29TVdVQOw2FE8POEo+ME6CzPThrxzkDVFQ8L8APyxnNDTvayqV2k9x9c+OdTPXNLq6yex8q0+g2T8FBFAsNdUjpwMVTsQk7PKkcLlMVZgdeLsFRXY/64jlTpLrj9X/RL/6a80wweb1ltz61zuVU4On54yUJ/Bf47x6LwAyOV0dpSz5UurK7bfVD6+ZRRNNUPoOQ6dJahzPm4cQtZHlw11/3TEPnAGZ3PrUvxhAxZ6oLd8FI/W10zoPKbdiujgl70tRGWjiPbT5dWatdKoDjtXpZ4ey4KBoygn3/3JKNiLCr9DM76s1xvArC62OB1+QC5rheFKwcg6r6U9e6z1Brz9E68TaNp8ps6CXh9Ty2cKqZvPXaL3PET3BIQVc19uy6VxuShyatdT6uMSxGes5uBCMtIRJakeBdNmHGBWazNzF5J54hI+mELEf3LD5HvdRh2n1zyNXaX8V7dVCEpy/YOvo7DVMwTSA5qPSKo2WiFbhNZGrpP25bXsfY5e5Y/0UX3zEEDHCBMY1dOl/hD7xfmV+YNwLE7vtLn65LV2dxoKlvssR0nckHzDKdjAUOuk8LeUxOgMhCEvA1uKzCNdomK1m2cZz4KvtWkGrQZ2L2fQ="
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d1e47b20-36d6-12f2-b120-151e250a42d2/destinationFolder/bar/test-file-435d9f65-bbd0-f5b5-ccda-bf7fdf15c7a3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5D0FA0926852\"",
        "x-ms-date": "Fri, 07 Mar 2025 00:33:06 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0FA0926852\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-blob-content-md5": "D7+N0FEyXJRZvukJf7SM3Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:33:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "lkCgNef5fepYxm/8hD7bAcKRvXJjqgqL5dfBM6wod+wvkF0s5N6EbCFy6glLuXCN/r29TVdVQOw2FE8POEo+ME6CzPThrxzkDVFQ8L8APyxnNDTvayqV2k9x9c+OdTPXNLq6yex8q0+g2T8FBFAsNdUjpwMVTsQk7PKkcLlMVZgdeLsFRXY/64jlTpLrj9X/RL/6a80wweb1ltz61zuVU4On54yUJ/Bf47x6LwAyOV0dpSz5UurK7bfVD6+ZRRNNUPoOQ6dJahzPm4cQtZHlw11/3TEPnAGZ3PrUvxhAxZ6oLd8FI/W10zoPKbdiujgl70tRGWjiPbT5dWatdKoDjtXpZ4ey4KBoygn3/3JKNiLCr9DM76s1xvArC62OB1+QC5rheFKwcg6r6U9e6z1Brz9E68TaNp8ps6CXh9Ty2cKqZvPXaL3PET3BIQVc19uy6VxuShyatdT6uMSxGes5uBCMtIRJakeBdNmHGBWazNzF5J54hI+mELEf3LD5HvdRh2n1zyNXaX8V7dVCEpy/YOvo7DVMwTSA5qPSKo2WiFbhNZGrpP25bXsfY5e5Y/0UX3zEEDHCBMY1dOl/hD7xfmV+YNwLE7vtLn65LV2dxoKlvssR0nckHzDKdjAUOuk8LeUxOgMhCEvA1uKzCNdomK1m2cZz4KvtWkGrQZ2L2fQ="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-45a5352f-f88d-f104-38e3-5e1dcc7a450a?sv=Sanitized&se=2025-03-08T00%3A33%3A04Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:41be7397-101e-0024-39f8-8e5614000000\n",
        "Time:2025-03-07T00:33:07.4890410Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:33:04.9493145-08:00",
    "RandomSeed": "2131636860",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
