{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5cbf08e5-e8f1-7be1-2cda-5dd76c6dcb15?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3A31438D5\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5cbf08e5-e8f1-7be1-2cda-5dd76c6dcb15/sourceFolder/item1?sv=Sanitized&se=2025-02-22T23%3A58%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3A32946D4\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:28.5446868Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5cbf08e5-e8f1-7be1-2cda-5dd76c6dcb15/sourceFolder/item1?sv=Sanitized&se=2025-02-22T23%3A58%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "DQZxGP4U+kx2sXEijmkgqt+nQmFCHCsGUW8G4NNmkuJgAigPMEULBIbIbbYul6T5i6vZRf+zMPDba8aODRl5Dx6OwoxBEHmZmz3aea512LrKDVUojU3jrNE4NMV/ffZtT12Xn9UYuHoxQKnB2LZBZpMLwwDDUYLRqxW6CdyzGR5GbSpQ3TjlslTa9k2kIdQb9s4yc7n2qf7bxvS/Xq+efiaKemqM8IhaJhGr6Fo1LIlBnxINgaZlUMQsdRdEJVSlO3gmGadpjwVF102nSsCjpplqfr+ckPyAJCmmX3twFgC9BqziDhLi1w8MyKpYvgYDiM9+2aaVCat7pvV9wi+K1cBM6kQTwJeGiKevj8hSJ2Yjotes8T1aJ/0BZmgdZBTggvLqC9PC8Mc3+FD/5nn[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-94319675-0298-369f-4d3d-b25be1570192/destPrefix/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:28 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody"[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5cbf08e5-e8f1-7be1-2cda-5dd76c6dcb15/sourceFolder/test-file-069a5531-73fd-24e7-800a-917283f2dd94?sv=Sanitized&se=2025-02-22T23%3A58%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3A33F63AB\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:28.6896043Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5cbf08e5-e8f1-7be1-2cda-5dd76c6dcb15/sourceFolder/test-file-069a5531-73fd-24e7-800a-917283f2dd94?sv=Sanitized&se=2025-02-22T23%3A58%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Vn9lYaJ2FNK67v+xNwvQwT6luOt2Tv7aL5z1aM5F0bcNno[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5cbf08e5-e8f1-7be1-2cda-5dd76c6dcb15/sourceFolder/bar/test-file-3d6360a6-0967-9e4a-26c5-39c9b433af00?sv=Sanitized&se=2025-02-22T23%3A58%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3A34C5A15\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:28.7745557Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5cbf08e5-e8f1-7be1-2cda-5dd76c6dcb15/sourceFolder/bar/test-file-3d6360a6-0967-9e4a-26c5-39c9b433af00?sv=Sanitized&se=2025-02-22T23%3A58%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "+xg8p+3YPa3a8UgXvMMkXlwfUEcnsPtbR6SDkzdv1B[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5cbf08e5-e8f1-7be1-2cda-5dd76c6dcb15/sourceFolder/pik/test-file-9b0042da-20fd-a8a1-d740-8da0f8cc825b?sv=Sanitized&se=2025-02-22T23%3A58%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3A3599E99\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:28.8615065Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5cbf08e5-e8f1-7be1-2cda-5dd76c6dcb15/sourceFolder/pik/test-file-9b0042da-20fd-a8a1-d740-8da0f8cc825b?sv=Sanitized&se=2025-02-22T23%3A58%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Jyq+RyySIQN+4k1AsVZ6eOIp7WpYrMkbNjwvW+PDsV[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5cbf08e5-e8f1-7be1-2cda-5dd76c6dcb15?sv=Sanitized&se=2025-02-22T23%3A58%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-5cbf08e5-e8f1-7be1-2cda-5dd76c6dcb15\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-3d6360a6-0967-9e4a-26c5-39c9b433af00</Name><VersionId>2025-02-21T23:58:28.7745557Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:58:28 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:58:28 GMT</Last-Modified><Etag>0x8DD52D3A3530FE1</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/item1</Name><VersionId>2025-02-21T23:58:28.5446868Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:58:28 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:58:28 GMT</Last-Modified><Etag>0x8DD52D3A33023A9</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-94319675-0298-369f-4d3d-b25be1570192/destPrefix/bar/test-file-3d6360a6-0967-9e4a-26c5-39c9b433af00",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-5cbf08e5-e8f1-7be1-2cda-5dd76c6dcb15/sourceFolder/bar/test-file-3d6360a6-0967-9e4a-26c5-39c9b433af00?sv=sanitized-value&se=2025-02-22T23%3A58%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3A377F79D\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-content-crc64": "PwqSJs0T4Tw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:29.0603933Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-94319675-0298-369f-4d3d-b25be1570192/destPrefix/test-file-069a5531-73fd-24e7-800a-917283f2dd94",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-5cbf08e5-e8f1-7be1-2cda-5dd76c6dcb15/sourceFolder/test-file-069a5531-73fd-24e7-800a-917283f2dd94?sv=sanitized-value&se=2025-02-22T23%3A58%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3A37845AE\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-content-crc64": "EUfrXJMbZkk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:29.0623918Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-94319675-0298-369f-4d3d-b25be1570192/destPrefix/pik/test-file-9b0042da-20fd-a8a1-d740-8da0f8cc825b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-5cbf08e5-e8f1-7be1-2cda-5dd76c6dcb15/sourceFolder/pik/test-file-9b0042da-20fd-a8a1-d740-8da0f8cc825b?sv=sanitized-value&se=2025-02-22T23%3A58%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3A3786CCD\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-content-crc64": "b2+Mrh7F4qw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:29.0633933Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5cbf08e5-e8f1-7be1-2cda-5dd76c6dcb15?sv=Sanitized&se=2025-02-22T23%3A58%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-94319675-0298-369f-4d3d-b25be1570192?restype=container&comp=list&prefix=destPrefix",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-94319675-0298-369f-4d3d-b25be1570192\"><Prefix>destPrefix</Prefix><Blobs><Blob><Name>destPrefix/bar/test-file-3d6360a6-0967-9e4a-26c5-39c9b433af00</Name><VersionId>2025-02-21T23:58:29.0603933Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:58:29 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:58:29 GMT</Last-Modified><Etag>0x8DD52D3A377F79D</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>PwqSJs0T4Tw=</Content-CRC64><Content-MD5>FJHTkZqTcy6EL/e0xHEaCQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 21 Feb 2025 23:58:29 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destPrefix/item1</Name><VersionId>2025-02-21T23:58:29.0683890Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:58:29 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:58:29 GMT</Last-Modified><Etag>0x8DD52D3A37908E2</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>uUF7Ca+SZ1Q=</Content-CRC64><Content-MD5>CyLuwvw6lrIlbqKCHADXKA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 21 Feb 2025 23:58:29 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 21 Feb 2025 23:58:29 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destPrefix/pik/test-file-9b0042da-20fd-a8a1-d740-8da0f8cc825b</Name><VersionId>2025-02-21T23:58:29.0633933Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:58:29 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:58:29 GMT</Last-Modified><E[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5cbf08e5-e8f1-7be1-2cda-5dd76c6dcb15/sourceFolder/bar/test-file-3d6360a6-0967-9e4a-26c5-39c9b433af00?sv=Sanitized&se=2025-02-22T23%3A58%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3A3530FE1\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:28 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:28.7745557Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-94319675-0298-369f-4d3d-b25be1570192/destPrefix/bar/test-file-3d6360a6-0967-9e4a-26c5-39c9b433af00",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "FJHTkZqTcy6EL/e0xHEaCQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3A377F79D\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:29.0603933Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5cbf08e5-e8f1-7be1-2cda-5dd76c6dcb15/sourceFolder/bar/test-file-3d6360a6-0967-9e4a-26c5-39c9b433af00?sv=Sanitized&se=2025-02-22T23%3A58%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D3A3530FE1\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3A3530FE1\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:28 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-94319675-0298-369f-4d3d-b25be1570192/destPrefix/bar/test-file-3d6360a6-0967-9e4a-26c5-39c9b433af00",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD52D3A377F79D\"",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3A377F79D\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-blob-content-md5": "FJHTkZqTcy6EL/e0xHEaCQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-94319675-0298-369f-4d3d-b25be1570192/destPrefix/item1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "CyLuwvw6lrIlbqKCHADXKA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3A37908E2\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 21 Feb 2025 23:58:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:29.0683890Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5cbf08e5-e8f1-7be1-2cda-5dd76c6dcb15?sv=Sanitized&se=2025-02-22T23%3A58%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:5f44c9d0-501e-0074-35bc-84ee32000000\n",
        "Time:2025-02-21T23:58:30.5589425Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T15:58:28.4418921-08:00",
    "RandomSeed": "748776741",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
