{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-259c2885-4d6a-4ad7-4fd2-a89055800e7b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D620BCC276\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-259c2885-4d6a-4ad7-4fd2-a89055800e7b/sourceFolder/test-file-59a51522-576f-3226-1a41-f9b97a9d31c6?sv=Sanitized&se=2025-07-12T23%3A53%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D620D061D1\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:53:26.2540241Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-259c2885-4d6a-4ad7-4fd2-a89055800e7b/sourceFolder/test-file-59a51522-576f-3226-1a41-f9b97a9d31c6?sv=Sanitized&se=2025-07-12T23%3A53%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "63YTU6FmPwXpoqqsQ5w2EB6aSjJXpgiSmLUZly/f9H6NZc4Eit0kyI59h7nl0K2joRcpo1KBPEVtgLrsTKfWCq4rHt3NMoZAdYGk2h5OrMgIdvYXtlAsDCmIlgkiOHzmpn0LubHP1W6R6C7Q3WImH9Ty5NWwvlRe/xGzRJx8HTwEvTOhQ/IWOKGIhc0hWy/GYXY1MFOnNucorLmfG5DRFMvxzB8uhdzh3KwzKDiGPaTi7eMmR+3pXYdLeJY4dhwQt3ECL48PmNyaU1Sncw6voW8VvS6tq83eCG6Y4wxFqGWQInHHhA0V0lQGi/SYQul4nNYnI7jtYwujJCcgd7TPVaruF1Cc5x1h/+vapiDYRcaFH0Y1HYWsor9lI2Dm9VufNjZJqiqZ27W5xSPNE7zry95gm1dumTclQnSRN8O8ewqQOnDpj5ub60ORfFhh348CeViBhVoDMZz+JGe2B6Tx/UoYPNlMATtDxa8T3B3fw2Lljr1qOvWwjAjT62sz5eOfoH4NSKK1tnccPsCr8FV/HmAE0HnmhsNVaLDQeRbQEN/LdDye0nrAL9hFTvw0BZyzVMwKLhRquRm7uODy5D1hTC3h33wZ4EzlRKCgoDjGIGMTHSRJxeHKYbsi4xqazkqb5AHOUyUgmnN/JOpzyRjh9Jd838cYF4ZMFn7B9/wyS3U=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D620D73EA3\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "fOvEAe0uoYo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-259c2885-4d6a-4ad7-4fd2-a89055800e7b/sourceFolder/bar/test-file-75ec1a9e-5ed9-cff8-0715-06ca1c4c0f0d?sv=Sanitized&se=2025-07-12T23%3A53%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D620ED5B70\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:53:26.4439152Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-259c2885-4d6a-4ad7-4fd2-a89055800e7b/sourceFolder/bar/test-file-75ec1a9e-5ed9-cff8-0715-06ca1c4c0f0d?sv=Sanitized&se=2025-07-12T23%3A53%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "sbggF5+hmG6ltQcy/E7BAiNBzx1lmdjHZ+v+Gnn+QR[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-259c2885-4d6a-4ad7-4fd2-a89055800e7b/sourceFolder/pik/test-file-c2b32b71-edec-bd4c-282f-b198bf45fd47?sv=Sanitized&se=2025-07-12T23%3A53%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D620FA78DE\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:53:26.5298654Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-259c2885-4d6a-4ad7-4fd2-a89055800e7b/sourceFolder/pik/test-file-c2b32b71-edec-bd4c-282f-b198bf45fd47?sv=Sanitized&se=2025-07-12T23%3A53%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "6lMOFosoZcZBYrPU8qNfQMumvHCSwVS9HwGA4Hx8lT[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-259c2885-4d6a-4ad7-4fd2-a89055800e7b?sv=Sanitized&se=2025-07-12T23%3A53%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-259c2885-4d6a-4ad7-4fd2-a89055800e7b\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-59a51522-576f-3226-1a41-f9b97a9d31c6</Name><VersionId>2025-07-11T23:53:26.2540241Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:53:26 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:53:26 GMT</Last-Modified><Etag>0x8DDC0D620D73EA3</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-7082cd2e-905c-f07d-3fd8-28473e9cb393</Name><VersionId>2025-07-11T23:53:26.3499693Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:53:26 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:53:26 GMT</Last-Modified><Etag>0x8DDC0D620E56D5A</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-259c2885-4d6a-4ad7-4fd2-a89055800e7b?sv=Sanitized&se=2025-07-12T23%3A53%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-68f52fd1-55bc-9ad2-0eee-7ce08031556b/destinationFolder/test-file-59a51522-576f-3226-1a41-f9b97a9d31c6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-259c2885-4d6a-4ad7-4fd2-a89055800e7b/sourceFolder/test-file-59a51522-576f-3226-1a41-f9b97a9d31c6?sv=sanitized-value&se=2025-07-12T23%3A53%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6211528E0\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-content-crc64": "fOvEAe0uoYo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:53:26.7047648Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-259c2885-4d6a-4ad7-4fd2-a89055800e7b?sv=Sanitized&se=2025-07-12T23%3A53%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-68f52fd1-55bc-9ad2-0eee-7ce08031556b/destinationFolder/bar/test-file-75ec1a9e-5ed9-cff8-0715-06ca1c4c0f0d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-259c2885-4d6a-4ad7-4fd2-a89055800e7b/sourceFolder/bar/test-file-75ec1a9e-5ed9-cff8-0715-06ca1c4c0f0d?sv=sanitized-value&se=2025-07-12T23%3A53%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6211C2CB5\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-content-crc64": "BA5PCIsQcZA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:53:26.7507381Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-68f52fd1-55bc-9ad2-0eee-7ce08031556b/destinationFolder/pik/test-file-c2b32b71-edec-bd4c-282f-b198bf45fd47",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-259c2885-4d6a-4ad7-4fd2-a89055800e7b/sourceFolder/pik/test-file-c2b32b71-edec-bd4c-282f-b198bf45fd47?sv=sanitized-value&se=2025-07-12T23%3A53%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D62121D130\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-content-crc64": "2Qi/CuBBk3c=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:53:26.7877168Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-259c2885-4d6a-4ad7-4fd2-a89055800e7b?sv=Sanitized&se=2025-07-12T23%3A53%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-68f52fd1-55bc-9ad2-0eee-7ce08031556b?restype=container&comp=list&prefix=destinationFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:53:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-68f52fd1-55bc-9ad2-0eee-7ce08031556b\"><Prefix>destinationFolder/</Prefix><Blobs><Blob><Name>destinationFolder/bar/test-file-75ec1a9e-5ed9-cff8-0715-06ca1c4c0f0d</Name><VersionId>2025-07-11T23:53:26.7507381Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:53:26 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:53:26 GMT</Last-Modified><Etag>0x8DDC0D6211C2CB5</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>BA5PCIsQcZA=</Content-CRC64><Content-MD5>fng51LE5wpJPQJRg6wsGJA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 11 Jul 2025 23:53:26 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destinationFolder/pik/test-file-c2b32b71-edec-bd4c-282f-b198bf45fd47</Name><VersionId>2025-07-11T23:53:26.7877168Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:53:26 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:53:26 GMT</Last-Modified><Etag>0x8DDC0D62121D13[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-259c2885-4d6a-4ad7-4fd2-a89055800e7b/sourceFolder/bar/test-file-75ec1a9e-5ed9-cff8-0715-06ca1c4c0f0d?sv=Sanitized&se=2025-07-12T23%3A53%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D620F3EA26\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:53:26.4439152Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-68f52fd1-55bc-9ad2-0eee-7ce08031556b/destinationFolder/bar/test-file-75ec1a9e-5ed9-cff8-0715-06ca1c4c0f0d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:53:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "fng51LE5wpJPQJRg6wsGJA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D6211C2CB5\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:53:26.7507381Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-259c2885-4d6a-4ad7-4fd2-a89055800e7b/sourceFolder/bar/test-file-75ec1a9e-5ed9-cff8-0715-06ca1c4c0f0d?sv=Sanitized&se=2025-07-12T23%3A53%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC0D620F3EA26\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D620F3EA26\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:53:26.4439152Z"
      },
      "ResponseBody": "sbggF5+hmG6ltQcy/E7BAiNBzx1lmdjHZ+v+Gnn+QRlASJa+Yf9k/IF+0CRXxdO5VAOm23zxqBjgWa+0o371pnPt8rS3AqEj3NKb5sm0b6IXRcV1WGadTqB+3ghQr1kDiCmxadIeAVFhgv6pVsFOLOkNnF24f04MUKQUOSSY0y15mF6fAgXP+UR0FNVo8/feL7IfQhP8SgnbpBkuCsgtyK/RML5jrynjPqMYRGt5o1ysNQlyeZAZfE1UxF3soO58Rksll8M5e4CIPARw4wWeYQG9gtW+u08et7NwDuvL9p21nP4gUwyZcrmJ6T2LqZhItmJcLx0YvYv7Bt8PyGyUvEVnukYHfg30IxAbNdIRkw4aKFiJbsd/nN9zJE0sialN9Cz4JO5SQDdUaAsN/Yi46XPR9KATC0195x5nlFrAx5pmzkClGW8fyOcgNAa8cp9WujrZW5QIOeneejzP6qzdlKBwpi9IE9AEsSy58tdHwXV/ENof5msGXZRWx58yT906Q6BlS8tvDqZq1alnT0YSl7nHUNrSvq01akma8Uww0WFOfq824XWpDwEztRDBng1NRC/mav8CZ4XyMOCC1R1aOQRHGNGX27VDHUDZnwicc8w7TKwcSmZiTBYqRLGUJzrk2HwMeYU8tml6ok2+Kch8Vb0URohwPu6d5cy6bJcErvY="
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-68f52fd1-55bc-9ad2-0eee-7ce08031556b/destinationFolder/bar/test-file-75ec1a9e-5ed9-cff8-0715-06ca1c4c0f0d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDC0D6211C2CB5\"",
        "x-ms-date": "Fri, 11 Jul 2025 23:53:27 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D6211C2CB5\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-blob-content-md5": "fng51LE5wpJPQJRg6wsGJA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 23:53:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:53:26.7507381Z"
      },
      "ResponseBody": "sbggF5+hmG6ltQcy/E7BAiNBzx1lmdjHZ+v+Gnn+QRlASJa+Yf9k/IF+0CRXxdO5VAOm23zxqBjgWa+0o371pnPt8rS3AqEj3NKb5sm0b6IXRcV1WGadTqB+3ghQr1kDiCmxadIeAVFhgv6pVsFOLOkNnF24f04MUKQUOSSY0y15mF6fAgXP+UR0FNVo8/feL7IfQhP8SgnbpBkuCsgtyK/RML5jrynjPqMYRGt5o1ysNQlyeZAZfE1UxF3soO58Rksll8M5e4CIPARw4wWeYQG9gtW+u08et7NwDuvL9p21nP4gUwyZcrmJ6T2LqZhItmJcLx0YvYv7Bt8PyGyUvEVnukYHfg30IxAbNdIRkw4aKFiJbsd/nN9zJE0sialN9Cz4JO5SQDdUaAsN/Yi46XPR9KATC0195x5nlFrAx5pmzkClGW8fyOcgNAa8cp9WujrZW5QIOeneejzP6qzdlKBwpi9IE9AEsSy58tdHwXV/ENof5msGXZRWx58yT906Q6BlS8tvDqZq1alnT0YSl7nHUNrSvq01akma8Uww0WFOfq824XWpDwEztRDBng1NRC/mav8CZ4XyMOCC1R1aOQRHGNGX27VDHUDZnwicc8w7TKwcSmZiTBYqRLGUJzrk2HwMeYU8tml6ok2+Kch8Vb0URohwPu6d5cy6bJcErvY="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-259c2885-4d6a-4ad7-4fd2-a89055800e7b?sv=Sanitized&se=2025-07-12T23%3A53%3A26Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:e994cdec-301e-0072-75be-f2dd8d000000\n",
        "Time:2025-07-11T23:53:28.2753599Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-11T16:53:26.1589338-07:00",
    "RandomSeed": "1018985151",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
