{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-14f2845c-77cc-7eb3-4bc9-2a72548c91ed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00699E7D0855\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:56 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-14f2845c-77cc-7eb3-4bc9-2a72548c91ed/sourceFolder/test-file-6d5f2877-b997-8069-e4fd-1d089e3fc366",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00699FBAE913\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-14f2845c-77cc-7eb3-4bc9-2a72548c91ed/sourceFolder/test-file-6d5f2877-b997-8069-e4fd-1d089e3fc366?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "ntKwsOwDZONCWETxZX0QJF6UhJLgXiIgxc7mmkACPipK3OPXOrk+dMN8Kj90eBpm7PmqCroxhUCvj+sdHMqjQBoapomaOemkVRDOZDPjq020gK5HVzRvGFajJ6rOIFf52OokWtGRzLIPBrSpYyEMzOOdaZwbW+jmqo0y9hI/1TW51YtJvlF7I7P7OFGAxbU1llrGMLe63X0BPrBEXtagzzB/8I6Www2SIkboICOXZeTX/F+3eKV9/vcOR4ChN8TdWmggAdUnn9JNNA5w0b1ZadjLbGF26VeLAfKWiHyN8OuCC8W7dmQPsF2NaUOXDCw5td2n1cpiZ3EQlf/jkBZWv0Mj7sb3nfN0vLsE6H8T8/TFXNOe5hogH6NUquBkLCBHNqr/cx5mQhfqMxkPXn7[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-14f2845c-77cc-7eb3-4bc9-2a72548c91ed/sourceFolder/bar/test-file-374a6b5d-cd8f-5747-f79f-1d4601e85522",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00699FE2DD93\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-14f2845c-77cc-7eb3-4bc9-2a72548c91ed/sourceFolder/bar/test-file-374a6b5d-cd8f-5747-f79f-1d4601e85522?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "95VCBd8d5Ob9v1PQYooGmb7bIQe8xAHrUoDKq1PB/TxFhxuRxyqDQIdkOs96d/RtmIOHJsZNZjKTVrJfUjmTO[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-14f2845c-77cc-7eb3-4bc9-2a72548c91ed/sourceFolder/pik/test-file-a0cc8dd4-f8c2-fa4d-717d-53be4b3eacc7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00699FF58D34\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-14f2845c-77cc-7eb3-4bc9-2a72548c91ed/sourceFolder/pik/test-file-a0cc8dd4-f8c2-fa4d-717d-53be4b3eacc7?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "nZ6WHFrq7CWGQlZN+uxN6C21RziQX76/X0LWaXUWM76jMBT6hjcz6aGnGX+iAACEMGuRlvdzNj7f170YFIOvc[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-14f2845c-77cc-7eb3-4bc9-2a72548c91ed?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-file-14f2845c-77cc-7eb3-4bc9-2a72548c91ed\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-5230ac49-572e-e1df-b475-19316d3cae01</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:37:58 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:37:58 GMT</Last-Modified><Etag>0x8DE00699FD7C66B</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-6d5f2877-b997-8069-e4fd-1d089e3fc366</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:37:58 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:37:58 GMT</Last-Modified><Etag>0x8DE00699FC4EFE6</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-14f2845c-77cc-7eb3-4bc9-2a72548c91ed?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-14f2845c-77cc-7eb3-4bc9-2a72548c91ed?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-271283f0-de42-87df-8842-9778b04f89dc/destFolder/test-file-6d5f2877-b997-8069-e4fd-1d089e3fc366",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-file-14f2845c-77cc-7eb3-4bc9-2a72548c91ed/sourceFolder/test-file-6d5f2877-b997-8069-e4fd-1d089e3fc366",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069A20CEBA5\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:02 GMT",
        "x-ms-content-crc64": "r28+zlqWo8Q=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-271283f0-de42-87df-8842-9778b04f89dc/destFolder/bar/test-file-374a6b5d-cd8f-5747-f79f-1d4601e85522",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-file-14f2845c-77cc-7eb3-4bc9-2a72548c91ed/sourceFolder/bar/test-file-374a6b5d-cd8f-5747-f79f-1d4601e85522",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069A21987B1\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:02 GMT",
        "x-ms-content-crc64": "ndQu4KAY/mo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-271283f0-de42-87df-8842-9778b04f89dc/destFolder/pik/test-file-a0cc8dd4-f8c2-fa4d-717d-53be4b3eacc7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-file-14f2845c-77cc-7eb3-4bc9-2a72548c91ed/sourceFolder/pik/test-file-a0cc8dd4-f8c2-fa4d-717d-53be4b3eacc7",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069A2324B0D\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:02 GMT",
        "x-ms-content-crc64": "Y/l928GUzVU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-14f2845c-77cc-7eb3-4bc9-2a72548c91ed?restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody":[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-271283f0-de42-87df-8842-9778b04f89dc?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-file-271283f0-de42-87df-8842-9778b04f89dc\"><Prefix>destFolder/</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-374a6b5d-cd8f-5747-f79f-1d4601e85522</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:38:02 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:38:02 GMT</Last-Modified><Etag>0x8DE0069A21987B1</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>ndQu4KAY/mo=</Content-CRC64><Content-MD5>9hLNsIocnhBgR2gkoV+ysw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-a0cc8dd4-f8c2-fa4d-717d-53be4b3eacc7</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:38:02 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:38:02 GMT</Last-Modified><Etag>0x8DE0069A2324B0D</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encodi[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-14f2845c-77cc-7eb3-4bc9-2a72548c91ed/sourceFolder/bar/test-file-374a6b5d-cd8f-5747-f79f-1d4601e85522",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00699FEC21F0\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:58 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:37:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-271283f0-de42-87df-8842-9778b04f89dc/destFolder/bar/test-file-374a6b5d-cd8f-5747-f79f-1d4601e85522",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "9hLNsIocnhBgR2gkoV+ysw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0069A21987B1\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:38:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-14f2845c-77cc-7eb3-4bc9-2a72548c91ed/sourceFolder/bar/test-file-374a6b5d-cd8f-5747-f79f-1d4601e85522",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE00699FEC21F0\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00699FEC21F0\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:58 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:37:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-271283f0-de42-87df-8842-9778b04f89dc/destFolder/bar/test-file-374a6b5d-cd8f-5747-f79f-1d4601e85522",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE0069A21987B1\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0069A21987B1\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:02 GMT",
        "x-ms-blob-content-md5": "9hLNsIocnhBgR2gkoV+ysw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:38:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "95VCBd8d5Ob9v1PQYooGmb7bIQe8xAHrUoDKq[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-14f2845c-77cc-7eb3-4bc9-2a72548c91ed?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1821742684",
    "Storage_TestConfigOAuth": "OAuthTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\n\nrg-amnguyestorage\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
