{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b19a368-c02b-509d-8a75-d7abf711d502?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D397E5D91F\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b19a368-c02b-509d-8a75-d7abf711d502/sourceFolder/test-file-d5840dd0-9daf-d524-74da-9108ca5af143?sv=Sanitized&se=2025-02-22T23%3A58%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D397F86473\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:09.7693811Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b19a368-c02b-509d-8a75-d7abf711d502/sourceFolder/test-file-d5840dd0-9daf-d524-74da-9108ca5af143?sv=Sanitized&se=2025-02-22T23%3A58%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "wvmqS9ftbE3MFdQZqHYB9dsUIg062dcRR5lfThn2UNPrK0XRr6Vr2puZ8wDprEL/X45ScH7hK+kimAQ+jh4z1sQBLn0wMEU2qUdxoObXKJpWX+6Ko+BUCf9crhehLUt9ZRw7537Fzi9IHMY3cIoDSnBp5y8vqDLkrSV91IEulHz79DvJm0AckZG/QoYZHZl0WWOnN0UcTbzqVjpZR/qtGohKO3tPOa8vTVadcGary5CMCXoeh1w236Z+3kUGw0mXEif+zuEdJB+0d+ruft1VPoupzD5/j5IrE1vU0FtpKIoNBl0/rfyubuRbaQ9ySGDJKaC5XPYKF4KV07qFSFPESk5f4Hd/FpGO+l5aJCWCuMv7C6e7sMuUA+/aqdlCKSWQlh7BE2joSRIOKmKXr/N[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b19a368-c02b-509d-8a75-d7abf711d502/sourceFolder/bar/test-file-2342d0e8-e800-ff68-2007-701c07cb5b85?sv=Sanitized&se=2025-02-22T23%3A58%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D39813D7B7\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:09.9492791Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b19a368-c02b-509d-8a75-d7abf711d502/sourceFolder/bar/test-file-2342d0e8-e800-ff68-2007-701c07cb5b85?sv=Sanitized&se=2025-02-22T23%3A58%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "uEgAwBU7xcFU9kI7IKYoiMJzFNSDf+B7/kw25efwUj[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b19a368-c02b-509d-8a75-d7abf711d502/sourceFolder/pik/test-file-9b381c23-50e4-c150-5770-7db9896b020c?sv=Sanitized&se=2025-02-22T23%3A58%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D398216A46\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:10.0382278Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b19a368-c02b-509d-8a75-d7abf711d502/sourceFolder/pik/test-file-9b381c23-50e4-c150-5770-7db9896b020c?sv=Sanitized&se=2025-02-22T23%3A58%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "bzVI5wYIreaJkN5zQZZg5ERswx2fk2IswPH2Th0kFe[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b19a368-c02b-509d-8a75-d7abf711d502?sv=Sanitized&se=2025-02-22T23%3A58%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-1b19a368-c02b-509d-8a75-d7abf711d502\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-2342d0e8-e800-ff68-2007-701c07cb5b85</Name><VersionId>2025-02-21T23:58:09.9492791Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:58:09 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:58:09 GMT</Last-Modified><Etag>0x8DD52D3981AB481</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-9b381c23-50e4-c150-5770-7db9896b020c</Name><VersionId>2025-02-21T23:58:10.0382278Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:58:10 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:58:10 GMT</Last-Modified><Etag>0x8DD52D39827D1F7</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-17ddffb2-b163-49d4-9f8b-22d0b00007b9/destinationFolder/bar/test-file-2342d0e8-e800-ff68-2007-701c07cb5b85",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-1b19a368-c02b-509d-8a75-d7abf711d502/sourceFolder/bar/test-file-2342d0e8-e800-ff68-2007-701c07cb5b85?sv=sanitized-value&se=2025-02-22T23%3A58%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3983E15DD\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:10 GMT",
        "x-ms-content-crc64": "T3+IjQvA8o0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:10.2261213Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-17ddffb2-b163-49d4-9f8b-22d0b00007b9/destinationFolder/test-file-bfe607c8-be15-eac6-7661-832e85a1ee65",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-1b19a368-c02b-509d-8a75-d7abf711d502/sourceFolder/test-file-bfe607c8-be15-eac6-7661-832e85a1ee65?sv=sanitized-value&se=2025-02-22T23%3A58%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3983EB201\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:10 GMT",
        "x-ms-content-crc64": "YDHf/qJDqrI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:10.2301185Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-17ddffb2-b163-49d4-9f8b-22d0b00007b9/destinationFolder/pik/test-file-9b381c23-50e4-c150-5770-7db9896b020c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-1b19a368-c02b-509d-8a75-d7abf711d502/sourceFolder/pik/test-file-9b381c23-50e4-c150-5770-7db9896b020c?sv=sanitized-value&se=2025-02-22T23%3A58%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3983ED912\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:10 GMT",
        "x-ms-content-crc64": "QG2BLdgNUqM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:10.2311186Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b19a368-c02b-509d-8a75-d7abf711d502?sv=Sanitized&se=2025-02-22T23%3A58%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-17ddffb2-b163-49d4-9f8b-22d0b00007b9?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-17ddffb2-b163-49d4-9f8b-22d0b00007b9\"><Prefix>destinationFolder</Prefix><Blobs><Blob><Name>destinationFolder/bar/test-file-2342d0e8-e800-ff68-2007-701c07cb5b85</Name><VersionId>2025-02-21T23:58:10.2261213Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:58:10 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:58:10 GMT</Last-Modified><Etag>0x8DD52D3983E15DD</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>T3+IjQvA8o0=</Content-CRC64><Content-MD5>5Y1PKPGd5flblGZAIGtanA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 21 Feb 2025 23:58:10 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destinationFolder/pik/test-file-9b381c23-50e4-c150-5770-7db9896b020c</Name><VersionId>2025-02-21T23:58:10.2311186Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:58:10 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:58:10 GMT</Last-Modified><Etag>0x8DD52D3983ED91[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b19a368-c02b-509d-8a75-d7abf711d502/sourceFolder/bar/test-file-2342d0e8-e800-ff68-2007-701c07cb5b85?sv=Sanitized&se=2025-02-22T23%3A58%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3981AB481\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:09 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:09.9492791Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-17ddffb2-b163-49d4-9f8b-22d0b00007b9/destinationFolder/bar/test-file-2342d0e8-e800-ff68-2007-701c07cb5b85",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "5Y1PKPGd5flblGZAIGtanA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3983E15DD\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 21 Feb 2025 23:58:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:10.2261213Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b19a368-c02b-509d-8a75-d7abf711d502/sourceFolder/bar/test-file-2342d0e8-e800-ff68-2007-701c07cb5b85?sv=Sanitized&se=2025-02-22T23%3A58%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D3981AB481\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3981AB481\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:09 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-17ddffb2-b163-49d4-9f8b-22d0b00007b9/destinationFolder/bar/test-file-2342d0e8-e800-ff68-2007-701c07cb5b85",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD52D3983E15DD\"",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:10 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3983E15DD\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:10 GMT",
        "x-ms-blob-content-md5": "5Y1PKPGd5flblGZAIGtanA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 21 Feb 2025 23:58:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1b19a368-c02b-509d-8a75-d7abf711d502?sv=Sanitized&se=2025-02-22T23%3A58%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:037c3299-301e-0062-15bc-8418e5000000\n",
        "Time:2025-02-21T23:58:11.6576047Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T15:58:09.6825379-08:00",
    "RandomSeed": "909211662",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
