{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69c6cc81-431e-0866-e6fe-e65dbdca93c4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:19:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFA9C1A759C7\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:19:15 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69c6cc81-431e-0866-e6fe-e65dbdca93c4/sourceFolder/folder0/test-file-aa362f5a-c814-7d0b-687b-538d10125d02?sv=Sanitized&se=2024-10-19T19%3A19%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFA9C1B8F8E6\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:19:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-18T19:19:15.8404326Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69c6cc81-431e-0866-e6fe-e65dbdca93c4/sourceFolder/folder0/folder1/test-file-ecdecf9f-675a-02e8-ea95-bc238291b33b?sv=Sanitized&se=2024-10-19T19%3A19%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFA9C1BFAEB1\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:19:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-18T19:19:15.8854071Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69c6cc81-431e-0866-e6fe-e65dbdca93c4/sourceFolder/folder0/folder1/folder2/test-file-efc70d5b-f62f-0cfc-baab-d87d39c2f3e5?sv=Sanitized&se=2024-10-19T19%3A19%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFA9C1C68B7F\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:19:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-18T19:19:15.9293823Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69c6cc81-431e-0866-e6fe-e65dbdca93c4?sv=Sanitized&se=2024-10-19T19%3A19%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-69c6cc81-431e-0866-e6fe-e65dbdca93c4\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/folder0/folder1/folder2/test-file-efc70d5b-f62f-0cfc-baab-d87d39c2f3e5</Name><VersionId>2024-10-18T19:19:15.9293823Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 18 Oct 2024 19:19:15 GMT</Creation-Time><Last-Modified>Fri, 18 Oct 2024 19:19:15 GMT</Last-Modified><Etag>0x8DCEFA9C1C68B7F</Etag><Content-Length>0</Content-Length><Content-Type>text/plain</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/folder0/folder1/test-file-ecdecf9f-675a-02e8-ea95-bc238291b33b</Name><VersionId>2024-10-18T19:19:15.8854071Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 18 Oct 2024 19:19:15 GMT</Creation-Time><Last-Modified>Fri, 18 Oct 2024 19:19:15 GMT</Last-Modified><Etag>0x8DCEFA9C1BFAEB1</Etag><Content-Length>0</Content-Length><Content-Type>text/plain</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-072c4d18-1d8c-57a2-2628-7dc9e1c109ff/destFolder/folder0/folder1/folder2/test-file-efc70d5b-f62f-0cfc-baab-d87d39c2f3e5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-69c6cc81-431e-0866-e6fe-e65dbdca93c4/sourceFolder/folder0/folder1/folder2/test-file-efc70d5b-f62f-0cfc-baab-d87d39c2f3e5?sv=sanitized-value&se=2024-10-19T19%3A19%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:19:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFA9C1DB21F2\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:19:16 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-18T19:19:16.0643058Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-072c4d18-1d8c-57a2-2628-7dc9e1c109ff/destFolder/folder0/folder1/test-file-ecdecf9f-675a-02e8-ea95-bc238291b33b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-69c6cc81-431e-0866-e6fe-e65dbdca93c4/sourceFolder/folder0/folder1/test-file-ecdecf9f-675a-02e8-ea95-bc238291b33b?sv=sanitized-value&se=2024-10-19T19%3A19%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:19:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFA9C1DC0C30\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:19:16 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-18T19:19:16.0703024Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-072c4d18-1d8c-57a2-2628-7dc9e1c109ff/destFolder/folder0/test-file-aa362f5a-c814-7d0b-687b-538d10125d02",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-69c6cc81-431e-0866-e6fe-e65dbdca93c4/sourceFolder/folder0/test-file-aa362f5a-c814-7d0b-687b-538d10125d02?sv=sanitized-value&se=2024-10-19T19%3A19%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:19:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFA9C1DDB9A2\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:19:16 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-18T19:19:16.0812962Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69c6cc81-431e-0866-e6fe-e65dbdca93c4?sv=Sanitized&se=2024-10-19T19%3A19%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-072c4d18-1d8c-57a2-2628-7dc9e1c109ff?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:19:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-072c4d18-1d8c-57a2-2628-7dc9e1c109ff\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/folder0/folder1/folder2/test-file-efc70d5b-f62f-0cfc-baab-d87d39c2f3e5</Name><VersionId>2024-10-18T19:19:16.0643058Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 18 Oct 2024 19:19:16 GMT</Creation-Time><Last-Modified>Fri, 18 Oct 2024 19:19:16 GMT</Last-Modified><Etag>0x8DCEFA9C1DB21F2</Etag><Content-Length>0</Content-Length><Content-Type>text/plain</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>AAAAAAAAAAA=</Content-CRC64><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 18 Oct 2024 19:19:16 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/folder0/folder1/test-file-ecdecf9f-675a-02e8-ea95-bc238291b33b</Name><VersionId>2024-10-18T19:19:16.0703024Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 18 Oct 2024 19:19:16 GMT</Creation-Time><Last-Modified>Fri, 18 Oct 2024 19:19:16 GMT</Last-Modified><Etag>0x8DCEFA9C1[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69c6cc81-431e-0866-e6fe-e65dbdca93c4/sourceFolder/folder0/folder1/folder2/test-file-efc70d5b-f62f-0cfc-baab-d87d39c2f3e5?sv=Sanitized&se=2024-10-19T19%3A19%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DCEFA9C1C68B7F\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:19:15 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 18 Oct 2024 19:19:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-18T19:19:15.9293823Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-072c4d18-1d8c-57a2-2628-7dc9e1c109ff/destFolder/folder0/folder1/folder2/test-file-efc70d5b-f62f-0cfc-baab-d87d39c2f3e5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:19:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DCEFA9C1DB21F2\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:19:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 18 Oct 2024 19:19:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 18 Oct 2024 19:19:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-18T19:19:16.0643058Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-69c6cc81-431e-0866-e6fe-e65dbdca93c4?sv=Sanitized&se=2024-10-19T19%3A19%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:8217dc55-701e-0001-5292-21851e000000\n",
        "Time:2024-10-18T19:19:17.0045413Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-10-18T12:19:15.7610197-07:00",
    "RandomSeed": "1219070371",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
