{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7f4fef8d-340a-695a-bd44-a94bbf5f0cc7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:58:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D39CD50337\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7f4fef8d-340a-695a-bd44-a94bbf5f0cc7/sourceFolder/test-file-3680168b-9b93-9791-0c0e-b8f26b28965b?sv=Sanitized&se=2025-02-22T23%3A58%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D39CE9FF9F\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:18.0636575Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7f4fef8d-340a-695a-bd44-a94bbf5f0cc7/sourceFolder/test-file-3680168b-9b93-9791-0c0e-b8f26b28965b?sv=Sanitized&se=2025-02-22T23%3A58%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "pWuj08a/o+0GEfwkUr1dHesAqVT84UUy9gWQVnRJUgkFFQF4hXiLy3OSMIGfbERPsJsHa35CX8MmcdzBL015vb/yHz285ZdydN3habHDkorAQaXYQueKw7Y9UhObyZwlGHPCrUwHk8sDlPahYPUSYt9SAO2ooHvXZ1yGfpKE16pBvFA9AeQ9uK3a1a3x6WLBKu80SciufHj460bwgBQ4fr1LYKSk1GH6FEdAzsrN5n36xVSiUI3hkj/YRRaeTTeZoVbvpYm9HVWOOTSAbq6tKgXI9bvAlS4vac5ly45LXMYQpix03kDzPKf/FBZZYCOQKxsR1Vh82Qwovzy7V1HGQ91tcMiCOUzE1bgTwYEX1giq1aBzOoZuk80gTB4EOORWONA56/BaDfHPTACfaBi[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7f4fef8d-340a-695a-bd44-a94bbf5f0cc7/sourceFolder/bar/test-file-724baf16-6cb6-d764-cb74-bee4d525d024?sv=Sanitized&se=2025-02-22T23%3A58%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D39D080A88\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:18.2605448Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7f4fef8d-340a-695a-bd44-a94bbf5f0cc7/sourceFolder/bar/test-file-724baf16-6cb6-d764-cb74-bee4d525d024?sv=Sanitized&se=2025-02-22T23%3A58%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "w3lR1gkOvEutJLjRabkOApibyHf+lIEi6EbsV4wIduznMji[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7f4fef8d-340a-695a-bd44-a94bbf5f0cc7/sourceFolder/pik/test-file-6842ec61-f206-929c-b34c-6ba7a6487a04?sv=Sanitized&se=2025-02-22T23%3A58%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D39D1882E8\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:18.3684840Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7f4fef8d-340a-695a-bd44-a94bbf5f0cc7/sourceFolder/pik/test-file-6842ec61-f206-929c-b34c-6ba7a6487a04?sv=Sanitized&se=2025-02-22T23%3A58%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "LOPvW9XMfypT7yNkj8r6XF6Gp2fO7LNY747c6gdR196QaBd[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7f4fef8d-340a-695a-bd44-a94bbf5f0cc7?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-file-7f4fef8d-340a-695a-bd44-a94bbf5f0cc7\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-724baf16-6cb6-d764-cb74-bee4d525d024</Name><VersionId>2025-02-21T23:58:18.2605448Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:58:18 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:58:18 GMT</Last-Modified><Etag>0x8DD52D39D101FAF</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-6842ec61-f206-929c-b34c-6ba7a6487a04</Name><VersionId>2025-02-21T23:58:18.3684840Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:58:18 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:58:18 GMT</Last-Modified><Etag>0x8DD52D39D20BF10</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-07dee169-8a1d-9117-3b98-d9f70db42a66/destFolder/test-file-72efe8b9-9695-41b1-e1e4-b5f2956229bd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-7f4fef8d-340a-695a-bd44-a94bbf5f0cc7/sourceFolder/test-file-72efe8b9-9695-41b1-e1e4-b5f2956229bd",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3A21EB473\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:26 GMT",
        "x-ms-content-crc64": "NcQdrJqczVo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:26.7976819Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-07dee169-8a1d-9117-3b98-d9f70db42a66/destFolder/pik/test-file-6842ec61-f206-929c-b34c-6ba7a6487a04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-7f4fef8d-340a-695a-bd44-a94bbf5f0cc7/sourceFolder/pik/test-file-6842ec61-f206-929c-b34c-6ba7a6487a04",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3A223BCC8\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:26 GMT",
        "x-ms-content-crc64": "90iZqOZ1/uo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:26.8306632Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-07dee169-8a1d-9117-3b98-d9f70db42a66/destFolder/bar/test-file-724baf16-6cb6-d764-cb74-bee4d525d024",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-7f4fef8d-340a-695a-bd44-a94bbf5f0cc7/sourceFolder/bar/test-file-724baf16-6cb6-d764-cb74-bee4d525d024",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3A22458F2\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:26 GMT",
        "x-ms-content-crc64": "ucGA/u/iUwA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:26.8346610Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7f4fef8d-340a-695a-bd44-a94bbf5f0cc7?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-07dee169-8a1d-9117-3b98-d9f70db42a66?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-file-07dee169-8a1d-9117-3b98-d9f70db42a66\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-724baf16-6cb6-d764-cb74-bee4d525d024</Name><VersionId>2025-02-21T23:58:26.8346610Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:58:26 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:58:26 GMT</Last-Modified><Etag>0x8DD52D3A22458F2</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>ucGA/u/iUwA=</Content-CRC64><Content-MD5>V9ej8GpGwXvZb1g2m9LIpA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 21 Feb 2025 23:58:26 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-6842ec61-f206-929c-b34c-6ba7a6487a04</Name><VersionId>2025-02-21T23:58:26.8306632Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:58:26 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:58:26 GMT</Last-Modified><Etag>0x8DD52D3A223BCC8</Etag[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7f4fef8d-340a-695a-bd44-a94bbf5f0cc7/sourceFolder/bar/test-file-724baf16-6cb6-d764-cb74-bee4d525d024",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D39D101FAF\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:18 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:18.2605448Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-07dee169-8a1d-9117-3b98-d9f70db42a66/destFolder/bar/test-file-724baf16-6cb6-d764-cb74-bee4d525d024",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "V9ej8GpGwXvZb1g2m9LIpA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3A22458F2\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:26 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 21 Feb 2025 23:58:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:26.8346610Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7f4fef8d-340a-695a-bd44-a94bbf5f0cc7/sourceFolder/bar/test-file-724baf16-6cb6-d764-cb74-bee4d525d024",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD52D39D101FAF\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D39D101FAF\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:18 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-07dee169-8a1d-9117-3b98-d9f70db42a66/destFolder/bar/test-file-724baf16-6cb6-d764-cb74-bee4d525d024",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD52D3A22458F2\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3A22458F2\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:26 GMT",
        "x-ms-blob-content-md5": "V9ej8GpGwXvZb1g2m9LIpA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 21 Feb 2025 23:58:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7f4fef8d-340a-695a-bd44-a94bbf5f0cc7/sourceFolder/pik/test-file-6842ec61-f206-929c-b34c-6ba7a6487a04",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D39D20BF10\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:18 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:18.3684840Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7f4fef8d-340a-695a-bd44-a94bbf5f0cc7/sourceFolder/test-file-3680168b-9b93-9791-0c0e-b8f26b28965b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D39CF262D4\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:58:18 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:58:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:58:18.0636575Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7f4fef8d-340a-695a-bd44-a94bbf5f0cc7?sv=Sanitized&se=2025-02-22T23%3A58%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:f2101c1e-701e-0001-13bc-84851e000000\n",
        "Time:2025-02-21T23:58:28.2977239Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T15:58:17.9616220-08:00",
    "RandomSeed": "1137526945",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\n\njalauzon-rg\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
