{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-664c928b-a6c3-1409-a2f2-8a3ec65c32e6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:32 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069909E9F4F\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-664c928b-a6c3-1409-a2f2-8a3ec65c32e6/sourceFolder/test-file-c901ba53-469d-c847-463a-44a011425883?sv=Sanitized&se=2025-10-01T21%3A37%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006990B6B4EE\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-664c928b-a6c3-1409-a2f2-8a3ec65c32e6/sourceFolder/test-file-c901ba53-469d-c847-463a-44a011425883?sv=Sanitized&se=2025-10-01T21%3A37%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "uB6uAqlx9vSmhGmvYNE2TR7wISj0CGRZp/A4l+LvrP42/Ofyk1bamVwgDo6QZLG/zxU5LCbbU6+6VFu5OV4Rt9hqeGTpRLnIFYjL1PrVyUI/ecjNtX/YWqk4OD76IWD+D1a2JutM1YtbcRaeEH+05IsYeb+WRAFZkR26sQt6zfQnzcSjH6NW8qM8cUNoOkoqhFOz4aegZ8tVXZTNkiR/4aQidkO6EMXnwoccWdK+8FfTkCy3xutMh2X5TsIPiGB/vZCfRcQHb3OOzB8fgw74l2w9+gH3xxq51u7dwcEC2DknnZtCHqqTzCC4KfrLLANXALdV0Y5eh/V25m/VKa6yi/Pm+OZytnjBqi3hPp4f7anrhsEJrAaryRWmzDg7vaJyBp0G5TQc5Uo/kydgfEhXVvjF6aPtqN7tOi7RzOk/huyLbzcAGAd1zqF2yhjeSkzMTnVAddP+hV6+GaoFSxhgAA071Q0RVj7wUBoCdt3FDvDiBX1z/xEYjOrZQv5dcIOIFsoLo3Q+u/g3TyW5/A6B+Au6I0ab7QD8IkkjNxQ/k+CXemATump7o0mFO7DrX5DbWEnzokw97CjJD4ArG4Pj97tFIYGubT6hPn/8FrFQEMO5SN/LTPCTWY03SavpUIfGoUP0pj0OLOoLUWTNQdZ3ef69ctKjGKvKssjzdyOTt+0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006990BFAB7A\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "i1S4Fr7hS9Y=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-664c928b-a6c3-1409-a2f2-8a3ec65c32e6/sourceFolder/bar/test-file-d3d5aa94-e5ab-bf19-da4c-70f8b94f13e9?sv=Sanitized&se=2025-10-01T21%3A37%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006990DA1A9E\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-664c928b-a6c3-1409-a2f2-8a3ec65c32e6/sourceFolder/bar/test-file-d3d5aa94-e5ab-bf19-da4c-70f8b94f13e9?sv=Sanitized&se=2025-10-01T21%3A37%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "mCgoleb5Erpmrf40bOLyTJy+Q11+RAwdaCqjbyi0c7JW[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-664c928b-a6c3-1409-a2f2-8a3ec65c32e6/sourceFolder/pik/test-file-f0a0a791-76e9-5712-e57f-763c5f22e1c0?sv=Sanitized&se=2025-10-01T21%3A37%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006990EB1E81\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-664c928b-a6c3-1409-a2f2-8a3ec65c32e6/sourceFolder/pik/test-file-f0a0a791-76e9-5712-e57f-763c5f22e1c0?sv=Sanitized&se=2025-10-01T21%3A37%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "WN0GifpQ3VsPrYptDCWCYtRg3JbzQak8WRuVTZQEVLvu[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-664c928b-a6c3-1409-a2f2-8a3ec65c32e6?sv=Sanitized&se=2025-10-01T21%3A37%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-664c928b-a6c3-1409-a2f2-8a3ec65c32e6\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-b414530a-f913-1113-9106-63581c470447</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:37:33 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:37:33 GMT</Last-Modified><Etag>0x8DE006990D14AEA</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-c901ba53-469d-c847-463a-44a011425883</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:37:33 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:37:33 GMT</Last-Modified><Etag>0x8DE006990BFAB7A</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-664c928b-a6c3-1409-a2f2-8a3ec65c32e6?sv=Sanitized&se=2025-10-01T21%3A37%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-96baba59-a815-1644-2e45-e74fa161a9fd/destinationFolder/test-file-b414530a-f913-1113-9106-63581c470447",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-664c928b-a6c3-1409-a2f2-8a3ec65c32e6/sourceFolder/test-file-b414530a-f913-1113-9106-63581c470447?sv=sanitized-value&se=2025-10-01T21%3A37%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00699110A4C1\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-content-crc64": "sS1vhHmTBq0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-664c928b-a6c3-1409-a2f2-8a3ec65c32e6?sv=Sanitized&se=2025-10-01T21%3A37%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-96baba59-a815-1644-2e45-e74fa161a9fd/destinationFolder/bar/test-file-d3d5aa94-e5ab-bf19-da4c-70f8b94f13e9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-664c928b-a6c3-1409-a2f2-8a3ec65c32e6/sourceFolder/bar/test-file-d3d5aa94-e5ab-bf19-da4c-70f8b94f13e9?sv=sanitized-value&se=2025-10-01T21%3A37%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006991175402\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-content-crc64": "+5N030nxAxg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-96baba59-a815-1644-2e45-e74fa161a9fd/destinationFolder/pik/test-file-f0a0a791-76e9-5712-e57f-763c5f22e1c0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-664c928b-a6c3-1409-a2f2-8a3ec65c32e6/sourceFolder/pik/test-file-f0a0a791-76e9-5712-e57f-763c5f22e1c0?sv=sanitized-value&se=2025-10-01T21%3A37%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006991224432\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-content-crc64": "Z7Aj9ssrFDE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-664c928b-a6c3-1409-a2f2-8a3ec65c32e6?sv=Sanitized&se=2025-10-01T21%3A37%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-96baba59-a815-1644-2e45-e74fa161a9fd?restype=container&comp=list&prefix=destinationFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:34 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-96baba59-a815-1644-2e45-e74fa161a9fd\"><Prefix>destinationFolder/</Prefix><Blobs><Blob><Name>destinationFolder/bar/test-file-d3d5aa94-e5ab-bf19-da4c-70f8b94f13e9</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:37:33 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:37:33 GMT</Last-Modified><Etag>0x8DE006991175402</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>+5N030nxAxg=</Content-CRC64><Content-MD5>GBGn4A7Rx2HazqcVOXbYdA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destinationFolder/pik/test-file-f0a0a791-76e9-5712-e57f-763c5f22e1c0</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:37:33 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:37:33 GMT</Last-Modified><Etag>0x8DE006991224432</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-664c928b-a6c3-1409-a2f2-8a3ec65c32e6/sourceFolder/bar/test-file-d3d5aa94-e5ab-bf19-da4c-70f8b94f13e9?sv=Sanitized&se=2025-10-01T21%3A37%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006990E29C8D\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-96baba59-a815-1644-2e45-e74fa161a9fd/destinationFolder/bar/test-file-d3d5aa94-e5ab-bf19-da4c-70f8b94f13e9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:34 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "GBGn4A7Rx2HazqcVOXbYdA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006991175402\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-664c928b-a6c3-1409-a2f2-8a3ec65c32e6/sourceFolder/bar/test-file-d3d5aa94-e5ab-bf19-da4c-70f8b94f13e9?sv=Sanitized&se=2025-10-01T21%3A37%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE006990E29C8D\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006990E29C8D\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "mCgoleb5Erpmrf40bOLyTJy+Q11+RAwdaCqjbyi0c7JWQQuSsDytm5gabf3n5VP3WiRb+gy2alQbCy28VaKSsTpL3irXX5tgEKfEY9YPNYPWqxQDWHimn9a3dqUP8Eb1iLzDnAcoIPuI++lk8Qd9DNWp5amOj1jBpT5TIOj2UCBhztsaS5l8rosZel2PQq7POWrQZQqcZ/ljAvbI1P8SkqrJAiIrYsA7LTcddBT7MmOPg+Z+JusVxWfit0mis9mMBuiyxT+LpNeplDjTfvLkZ9CTOVEZlGu/tDy7SKt2mXpekW0rSWwjA98O1JKyQkZ0/U95DnqIc3J88hEC0FssM/u9dO2EuB5jcDVyCsDZDHL2Rktb/IoA1h77rlZaIDOD4qGW9c1Z70QwFp5EFWixo+WeDIoQ0DZwvZ7PiQnICE8C7iceQheknVcGK+bru8C1SQtwvBSocxFrJjcviWY6aA1OQidBkmHO+m4zCqVPhQLdGT/+V0w7WXsWsxzgdRPwy8LZnXiZdLaposGldWhrG6A0UXAnPBHAE+mrKt9E7YRbQj7idueJRKWIVLSKleMSq5h7qyOjyY+xGIqP7UnXZLU9SjMqiKW5qg3KnudcNX0FmX9GyUFgt3mvMV1d+ldbsO//TUuw6CLzwgAW2CqnVOMMiVTKkZtz3JK6eldHW7A="
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-96baba59-a815-1644-2e45-e74fa161a9fd/destinationFolder/bar/test-file-d3d5aa94-e5ab-bf19-da4c-70f8b94f13e9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE006991175402\"",
        "x-ms-date": "Tue, 30 Sep 2025 21:37:34 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006991175402\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-blob-content-md5": "GBGn4A7Rx2HazqcVOXbYdA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:37:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "mCgoleb5Erpmrf40bOLyTJy+Q11+RAwdaCqjbyi0c7JWQQuSsDytm5gabf3n5VP3WiRb+gy2alQbCy28VaKSsTpL3irXX5tgEKfEY9YPNYPWqxQDWHimn9a3dqUP8Eb1iLzDnAcoIPuI++lk8Qd9DNWp5amOj1jBpT5TIOj2UCBhztsaS5l8rosZel2PQq7POWrQZQqcZ/ljAvbI1P8SkqrJAiIrYsA7LTcddBT7MmOPg+Z+JusVxWfit0mis9mMBuiyxT+LpNeplDjTfvLkZ9CTOVEZlGu/tDy7SKt2mXpekW0rSWwjA98O1JKyQkZ0/U95DnqIc3J88hEC0FssM/u9dO2EuB5jcDVyCsDZDHL2Rktb/IoA1h77rlZaIDOD4qGW9c1Z70QwFp5EFWixo+WeDIoQ0DZwvZ7PiQnICE8C7iceQheknVcGK+bru8C1SQtwvBSocxFrJjcviWY6aA1OQidBkmHO+m4zCqVPhQLdGT/+V0w7WXsWsxzgdRPwy8LZnXiZdLaposGldWhrG6A0UXAnPBHAE+mrKt9E7YRbQj7idueJRKWIVLSKleMSq5h7qyOjyY+xGIqP7UnXZLU9SjMqiKW5qg3KnudcNX0FmX9GyUFgt3mvMV1d+ldbsO//TUuw6CLzwgAW2CqnVOMMiVTKkZtz3JK6eldHW7A="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-664c928b-a6c3-1409-a2f2-8a3ec65c32e6?sv=Sanitized&se=2025-10-01T21%3A37%3A32Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:78534c74-601e-0011-3352-323a00000000\n",
        "Time:2025-09-30T21:37:35.8244622Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T14:37:32.9389363-07:00",
    "RandomSeed": "1668871175",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
