{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-16e000fd-63dc-1474-3135-f60d123319f2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:38:42 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069BA05FC18\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:42 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-16e000fd-63dc-1474-3135-f60d123319f2/sourceFolder/folder0/test-file-0f459b86-1457-b347-53af-327e3c5a2bd9?sv=Sanitized&se=2025-10-01T21%3A38%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069BA1F21A8\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-16e000fd-63dc-1474-3135-f60d123319f2/sourceFolder/folder0/test-file-0f459b86-1457-b347-53af-327e3c5a2bd9?sv=Sanitized&se=2025-10-01T21%3A38%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "IHzmXC/t+JJoPOoJG7susN7hYW8W2GUtlpSseWX7ThjOCveOqeFsmaOzphoqPZiYgYGfW/i7w0cWucWaQH4sbe7ROxDDnwf9dMjMYjJKAln8E/jkW/IfEkevd/Ab0lgkhzgsWQGI1eF6oucw72AVzLZrniyGSBL7sSjIEygX4aJwqNv6HqlXcz4WabgL7yPnmqs5rzQrnT4lMKfZwMG5YsBFwEaEG60NFCrtcN5Z8MIE4Xl83TFtRAqc1O0CfrN9XQb4xi/cYn/9LJsJPS1gy0Dk1N5IPIWO13s76Ee/CpZ3cBLXYSmTJ3/6frGWZAbdPAitHanUNCCBae+zoXo3PSEFkc0aiGoWUa1fTr7T+HJ0Xqs+Eu3sozvyVvg634YFwkCPkNM5w7Oel8v8dOZ[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-16e000fd-63dc-1474-3135-f60d123319f2/sourceFolder/folder0/folder1/test-file-3b4b2a50-d0cd-f739-6282-965c712e560e?sv=Sanitized&se=2025-10-01T21%3A38%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069BA309A3A\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-16e000fd-63dc-1474-3135-f60d123319f2/sourceFolder/folder0/folder1/test-file-3b4b2a50-d0cd-f739-6282-965c712e560e?sv=Sanitized&se=2025-10-01T21%3A38%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "ocGJ39t48Lb3c4WGeTDiXc1wkpPMSKLy[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-16e000fd-63dc-1474-3135-f60d123319f2?sv=Sanitized&se=2025-10-01T21%3A38%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-16e000fd-63dc-1474-3135-f60d123319f2\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-16e000fd-63dc-1474-3135-f60d123319f2?sv=Sanitized&se=2025-10-01T21%3A38%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-16e000fd-63dc-1474-3135-f60d123319f2\"><Prefix>sourceFolder/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/folder1/</Name></BlobPrefix><Blob><Name>sourceFolder/folder0/test-file-0f459b86-1457-b347-53af-327e3c5a2bd9</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:38:42 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:38:42 GMT</Last-Modified><Etag>0x8DE0069BA27F16B</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-16e000fd-63dc-1474-3135-f60d123319f2?sv=Sanitized&se=2025-10-01T21%3A38%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-T[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-72e826b3-ba9a-3642-3507-39283a78ed21/destFolder/folder0/test-file-0f459b86-1457-b347-53af-327e3c5a2bd9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-16e000fd-63dc-1474-3135-f60d123319f2/sourceFolder/folder0/test-file-0f459b86-1457-b347-53af-327e3c5a2bd9?sv=sanitized-value&se=2025-10-01T21%3A38%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:38:42 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069BA5BBF7D\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:43 GMT",
        "x-ms-content-crc64": "awsG140EEn8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-72e826b3-ba9a-3642-3507-39283a78ed21/destFolder/folder0/folder1/test-file-3b4b2a50-d0cd-f739-6282-965c712e560e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-16e000fd-63dc-1474-3135-f60d123319f2/sourceFolder/folder0/folder1/test-file-3b4b2a50-d0cd-f739-6282-965c712e560e?sv=sanitized-value&se=2025-10-01T21%3A38%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:38:42 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0069BA65ED3A\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:43 GMT",
        "x-ms-content-crc64": "V4GeOAbkZUc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-16e000fd-63dc-1474-3135-f60d123319f2?sv=Sanitized&se=2025-10-01T21%3A38%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-72e826b3-ba9a-3642-3507-39283a78ed21?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:38:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-72e826b3-ba9a-3642-3507-39283a78ed21\"><Prefix>destFolder/</Prefix><Blobs><Blob><Name>destFolder/folder0/folder1/test-file-3b4b2a50-d0cd-f739-6282-965c712e560e</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:38:43 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:38:43 GMT</Last-Modified><Etag>0x8DE0069BA65ED3A</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>V4GeOAbkZUc=</Content-CRC64><Content-MD5>IUBsgFJhzUZ3w0P6jZKFLg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/folder0/test-file-0f459b86-1457-b347-53af-327e3c5a2bd9</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:38:43 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:38:43 GMT</Last-Modified><Etag>0x8DE0069BA5BBF7D</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>awsG140EEn8=</Content-CRC64><Content-MD5>V9mGS0SFB5pr2t1KnORyRg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-16e000fd-63dc-1474-3135-f60d123319f2/sourceFolder/folder0/folder1/test-file-3b4b2a50-d0cd-f739-6282-965c712e560e?sv=Sanitized&se=2025-10-01T21%3A38%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0069BA3969EF\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:42 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:38:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-72e826b3-ba9a-3642-3507-39283a78ed21/destFolder/folder0/folder1/test-file-3b4b2a50-d0cd-f739-6282-965c712e560e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:38:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "IUBsgFJhzUZ3w0P6jZKFLg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0069BA65ED3A\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:38:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-16e000fd-63dc-1474-3135-f60d123319f2/sourceFolder/folder0/folder1/test-file-3b4b2a50-d0cd-f739-6282-965c712e560e?sv=Sanitized&se=2025-10-01T21%3A38%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0069BA3969EF\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0069BA3969EF\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:42 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:38:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-72e826b3-ba9a-3642-3507-39283a78ed21/destFolder/folder0/folder1/test-file-3b4b2a50-d0cd-f739-6282-965c712e560e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE0069BA65ED3A\"",
        "x-ms-date": "Tue, 30 Sep 2025 21:38:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0069BA65ED3A\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:38:43 GMT",
        "x-ms-blob-content-md5": "IUBsgFJhzUZ3w0P6jZKFLg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:38:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "ocGJ39t48Lb3c4WGeTDiXc1wkpPMSKLya+Wd5[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-16e000fd-63dc-1474-3135-f60d123319f2?sv=Sanitized&se=2025-10-01T21%3A38%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:65e9bfcf-301e-0041-6d52-32f850000000\n",
        "Time:2025-09-30T21:38:44.2906111Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T14:38:42.4031174-07:00",
    "RandomSeed": "975198341",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
