{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:52:45 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D608CEE112\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:52:45 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-12T23%3A52%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D608E24E04\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:52:46.1061636Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-12T23%3A52%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "+M3FDGMHQfu21nUCdqtvc39ar2dDgXXa7E2/pRVcPANnYCd+VkQJr/CIn6W/rH5gZINoG91ZR3dY6h8WR5zmWZlymhWD8B07UQB2u+HQGkDPX0GS8yAlDhmvJmsk82dUokULTBFp3HNmLMrd4ouVh8/fRuhbU2V4TYz708qxF12YIhmcxM4uZoPNK8dVSCyOGp6bRK1++U7fkv+FbQiotBVtRL9y+MMBsOBkjSieIwRgbbksFtKwGSnLvTLOqfh7JXey6ANsGyLamZPMGmsmQG/6JABOfJ5CvSqVpzuQMwfo6Wew7DoA81GXUXw+4/+9pXzC04T4LKnYbyrZ1nTmSmaM5DAEdVQ0+jGutyohA9kq2AG+zl+C8L2+13wPJxzcsAcWsv/PuS8njtlTSXR[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd/source%3Dpath%40%23%25/file%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A52%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D608F3B095\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:52:46.2200981Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd/source%3Dpath%40%23%25/file%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A52%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "mEBSDjxfkxrFLX6if8vOqgA61MxaeTZaQ6MyOKKxNZcFfw4YxK7qMves9o83IM53[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-12T23%3A52%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D60900CE04\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:52:46.3060484Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-12T23%3A52%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "ylmxU9MMhCma/NlSrXfpTLBQ74F0q6af+yT0xwYy[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A52%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6090F71DB\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:52:46.4029925Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A52%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "bChjE3knuaO8J4oWB1Fkmf3h+dRpA6ECIRGQKzePhoShu1ym[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd?sv=Sanitized&se=2025-07-12T23%3A52%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%3Dpath%40%23%25%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-dac880c4-85ef-2653-f44b-7498a10692fd\"><Prefix>source=path@#%/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>source=path@#%/file%3Dtest%26</Name><VersionId>2025-07-11T23:52:46.2200981Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:52:46 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:52:46 GMT</Last-Modified><Etag>0x8DDC0D608FA3F4C</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>source=path@#%/file=test!@#$%</Name><VersionId>2025-07-11T23:52:46.1061636Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:52:46 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:52:46 GMT</Last-Modified><Etag>0x8DDC0D608EB4D60</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><BlobPrefix><Name>source=path@#%/folder=bar/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd?sv=Sanitized&se=2025-07-12T23%3A52%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%3Dpath%40%23%25%2Ffolder%3Dbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Co[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0589fa07-622a-baca-8fd0-c86599c7d6f0/source%3Dpath%40%23%25/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd/source%3Dpath%40%23%25/file%253Dtest%2526?sv=sanitized-value&se=2025-07-12T23%3A52%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D60926C6F9\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-content-crc64": "Ic3bb2sNXr4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:52:46.5549049Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0589fa07-622a-baca-8fd0-c86599c7d6f0/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?sv=sanitized-value&se=2025-07-12T23%3A52%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6092CB989\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-content-crc64": "VBnctR3wXEo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:52:46.5938825Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0589fa07-622a-baca-8fd0-c86599c7d6f0/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?sv=sanitized-value&se=2025-07-12T23%3A52%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D60931E8E8\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-content-crc64": "rOcI8rIeJ3E=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:52:46.6278632Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0589fa07-622a-baca-8fd0-c86599c7d6f0/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=sanitized-value&se=2025-07-12T23%3A52%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6092EB50D\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-content-crc64": "qH7bkGyImsk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:52:46.6068749Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd?sv=Sanitized&se=2025-07-12T23%3A52%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%3Dpath%40%23%25%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0589fa07-622a-baca-8fd0-c86599c7d6f0?restype=container&comp=list&prefix=source%3Dpath%40%23%25%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-0589fa07-622a-baca-8fd0-c86599c7d6f0\"><Prefix>source=path@#%/</Prefix><Blobs><Blob><Name>source=path@#%/file%3Dtest%26</Name><VersionId>2025-07-11T23:52:46.5549049Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:52:46 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:52:46 GMT</Last-Modified><Etag>0x8DDC0D60926C6F9</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>Ic3bb2sNXr4=</Content-CRC64><Content-MD5>xgCzX/Jq5ixsadh9CU5cYw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 11 Jul 2025 23:52:46 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>source=path@#%/file=test!@#$%</Name><VersionId>2025-07-11T23:52:46.5938825Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:52:46 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:52:46 GMT</Last-Modified><Etag>0x8DDC0D6092CB989</Etag><Content-Length>1024</Content-L[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd/source%3Dpath%40%23%25/file%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A52%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D608FA3F4C\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:52:46.2200981Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0589fa07-622a-baca-8fd0-c86599c7d6f0/source%3Dpath%40%23%25/file%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:52:47 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "xgCzX/Jq5ixsadh9CU5cYw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D60926C6F9\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:52:46.5549049Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd/source%3Dpath%40%23%25/file%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A52%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC0D608FA3F4C\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D608FA3F4C\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0589fa07-622a-baca-8fd0-c86599c7d6f0/source%3Dpath%40%23%25/file%253Dtest%2526",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDC0D60926C6F9\"",
        "x-ms-date": "Fri, 11 Jul 2025 23:52:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D60926C6F9\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-blob-content-md5": "xgCzX/Jq5ixsadh9CU5cYw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 23:52:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-dac880c4-85ef-2653-f44b-7498a10692fd?sv=Sanitized&se=2025-07-12T23%3A52%3A46Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:4c8e3124-201e-0041-03be-f28226000000\n",
        "Time:2025-07-11T23:52:48.0859682Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-11T16:52:46.0115623-07:00",
    "RandomSeed": "298211532",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
