{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5b68e97c-8681-e4ee-7a63-f441515e0523?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F95CF3AC3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5b68e97c-8681-e4ee-7a63-f441515e0523/sourceFolder/item1?sv=Sanitized&se=2025-03-08T00%3A32%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F95E3383B\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5b68e97c-8681-e4ee-7a63-f441515e0523/sourceFolder/item1?sv=Sanitized&se=2025-03-08T00%3A32%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "IoHlg3MjTZTisJlCm7FIEth7DpxCTqxUIXz2urfnQuwPGvEq5/IOoziAB/5pvE8ZjiQdAXXm9dTUkGH3LJLc+22sMoDAHivmbWtkwkau62Qs3SuTykF2KSUcVVaRFnalowyQvIrPWXD5N5MKgjOOJaX8yk9mSTEsNghbo8jVVFf1vh45Hi/aXYO7mpKtbKfxji+wlEsmP1nbZIaBdLWnI+I8FMMUVAd2Im3Mq6+efslhaRSZJMALzn/FXrmoWOnNE3avcFfk3TonOnHeWpSpPOa9IAqgDv8iMUZET/ZOzcqE/pc57g5xfYzacelOLXPrGyHT6zfeLAV3jT8Rn45E2W2nWVz8cE7XS6N+xpwV0wTSWDPUeuGSpdGSwmDOYN39lpd8ptMX7qvT+6CUX2Z[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0a70c083-eed4-f4c4-df4e-fdd52156385b/destPrefix/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:47 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody"[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5b68e97c-8681-e4ee-7a63-f441515e0523/sourceFolder/test-file-76a5e27b-a302-19de-c305-2865e699a538?sv=Sanitized&se=2025-03-08T00%3A32%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F9600D81A\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5b68e97c-8681-e4ee-7a63-f441515e0523/sourceFolder/test-file-76a5e27b-a302-19de-c305-2865e699a538?sv=Sanitized&se=2025-03-08T00%3A32%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "fzzLVdIeBytb3SNuoRTe1SqliJUJnPBr8Pb2YkF2zDRdPA0M[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5b68e97c-8681-e4ee-7a63-f441515e0523/sourceFolder/bar/test-file-4c53bd2e-a388-1f5e-49e0-2ef7d1aa1ff1?sv=Sanitized&se=2025-03-08T00%3A32%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F96116750\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5b68e97c-8681-e4ee-7a63-f441515e0523/sourceFolder/bar/test-file-4c53bd2e-a388-1f5e-49e0-2ef7d1aa1ff1?sv=Sanitized&se=2025-03-08T00%3A32%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "NRFc8vlg4CcF9N/MlK21RFTZxgaDYD252Yn5Xajx0bRm[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5b68e97c-8681-e4ee-7a63-f441515e0523/sourceFolder/pik/test-file-9593b1c6-4bef-3c64-4bf4-9430cae81003?sv=Sanitized&se=2025-03-08T00%3A32%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F962306C8\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5b68e97c-8681-e4ee-7a63-f441515e0523/sourceFolder/pik/test-file-9593b1c6-4bef-3c64-4bf4-9430cae81003?sv=Sanitized&se=2025-03-08T00%3A32%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "5sMKFM0Ae3O5+M9/RLQrAvho+kGl00ybEMcLyHouLgsa[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5b68e97c-8681-e4ee-7a63-f441515e0523?sv=Sanitized&se=2025-03-08T00%3A32%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-5b68e97c-8681-e4ee-7a63-f441515e0523\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-4c53bd2e-a388-1f5e-49e0-2ef7d1aa1ff1</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:32:48 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:32:48 GMT</Last-Modified><Etag>0x8DD5D0F96199B85</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/item1</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:32:47 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:32:47 GMT</Last-Modified><Etag>0x8DD5D0F95EB4579</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><Le[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0a70c083-eed4-f4c4-df4e-fdd52156385b/destPrefix/test-file-76a5e27b-a302-19de-c305-2865e699a538",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-5b68e97c-8681-e4ee-7a63-f441515e0523/sourceFolder/test-file-76a5e27b-a302-19de-c305-2865e699a538?sv=sanitized-value&se=2025-03-08T00%3A32%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F96521F42\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-content-crc64": "v7qZj+7iR9I=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0a70c083-eed4-f4c4-df4e-fdd52156385b/destPrefix/pik/test-file-9593b1c6-4bef-3c64-4bf4-9430cae81003",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-5b68e97c-8681-e4ee-7a63-f441515e0523/sourceFolder/pik/test-file-9593b1c6-4bef-3c64-4bf4-9430cae81003?sv=sanitized-value&se=2025-03-08T00%3A32%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F9652BADC\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-content-crc64": "sJsI3+F1H7U=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0a70c083-eed4-f4c4-df4e-fdd52156385b/destPrefix/bar/test-file-4c53bd2e-a388-1f5e-49e0-2ef7d1aa1ff1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-5b68e97c-8681-e4ee-7a63-f441515e0523/sourceFolder/bar/test-file-4c53bd2e-a388-1f5e-49e0-2ef7d1aa1ff1?sv=sanitized-value&se=2025-03-08T00%3A32%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0F9652BADC\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-content-crc64": "aAhPrDK+4Gs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5b68e97c-8681-e4ee-7a63-f441515e0523?sv=Sanitized&se=2025-03-08T00%3A32%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0a70c083-eed4-f4c4-df4e-fdd52156385b?restype=container&comp=list&prefix=destPrefix",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-0a70c083-eed4-f4c4-df4e-fdd52156385b\"><Prefix>destPrefix</Prefix><Blobs><Blob><Name>destPrefix/bar/test-file-4c53bd2e-a388-1f5e-49e0-2ef7d1aa1ff1</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:32:48 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:32:48 GMT</Last-Modified><Etag>0x8DD5D0F9652BADC</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>aAhPrDK+4Gs=</Content-CRC64><Content-MD5>Qg8SkTCebQI+cHIAaQH10w==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destPrefix/item1</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:32:47 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:32:48 GMT</Last-Modified><Etag>0x8DD5D0F9652BADC</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>kYYeDEBtP9c=</Content-CRC64><Content-MD5>GygIP5XRhT6yoNt6yKV3Ag==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 07 Mar 2025 00:32:48 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destPrefix/pik/test-file-9593b1c6-4bef-3c64-4bf4-9430cae81003</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:32:48 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:32:48 GMT</Last-Modified><Etag>0x8DD5D0F9652BADC</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</C[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5b68e97c-8681-e4ee-7a63-f441515e0523/sourceFolder/bar/test-file-4c53bd2e-a388-1f5e-49e0-2ef7d1aa1ff1?sv=Sanitized&se=2025-03-08T00%3A32%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0F96199B85\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0a70c083-eed4-f4c4-df4e-fdd52156385b/destPrefix/bar/test-file-4c53bd2e-a388-1f5e-49e0-2ef7d1aa1ff1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "Qg8SkTCebQI+cHIAaQH10w==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0F9652BADC\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5b68e97c-8681-e4ee-7a63-f441515e0523/sourceFolder/bar/test-file-4c53bd2e-a388-1f5e-49e0-2ef7d1aa1ff1?sv=Sanitized&se=2025-03-08T00%3A32%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D0F96199B85\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0F96199B85\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0a70c083-eed4-f4c4-df4e-fdd52156385b/destPrefix/bar/test-file-4c53bd2e-a388-1f5e-49e0-2ef7d1aa1ff1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5D0F9652BADC\"",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0F9652BADC\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-blob-content-md5": "Qg8SkTCebQI+cHIAaQH10w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "NRFc8vlg4CcF9N/MlK21RFTZxgaDYD252Yn5X[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0a70c083-eed4-f4c4-df4e-fdd52156385b/destPrefix/item1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:32:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "GygIP5XRhT6yoNt6yKV3Ag==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0F9652BADC\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:32:48 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:32:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5b68e97c-8681-e4ee-7a63-f441515e0523?sv=Sanitized&se=2025-03-08T00%3A32%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:7ecbdf44-d01e-0049-0bf8-8ee25f000000\n",
        "Time:2025-03-07T00:32:50.2791341Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:32:47.6272681-08:00",
    "RandomSeed": "554232445",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
