{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894825274407051?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5873953A223A\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:30:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894825274407051/blob176894825785109120",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-sourcemeta": "val",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5873954B800A\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:30:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-20T22:30:58.2425610Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894825274407051/blob176894825785109120?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "YmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJ[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894825274407051/blob176894825785109120?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5873955B9A87\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:30:58 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2026-01-20T22:30:58.4586209Z",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-20T22:30:58.4596209Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894825274407051?restype=container&comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><SignedIdentifiers/>",
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5873957B7263\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:30:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894825274407051/page176894825817207750?comp=incrementalcopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container176894825274407051/blob176894825785109120?snapshot=2026-01-20T22%3A30%3A58.4586209Z",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5873A77005DB\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:31:28 GMT",
        "x-ms-copy-id": "09e999c9-9c0f-47aa-b307-42ed0b0e1200",
        "x-ms-copy-status": "pending",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-20T22:31:28.6809051Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894825274407051/page176894825817207750?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE5873A7794A3C\"",
        "Last-Modified": "Tue, 20 Jan 2026 22:31:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-copy-completion-time": "Tue, 20 Jan 2026 22:31:28 GMT",
        "x-ms-copy-destination-snapshot": "2026-01-20T22:31:28.7516030Z",
        "x-ms-copy-id": "09e999c9-9c0f-47aa-b307-42ed0b0e1200",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net:443/container176894825274407051/blob176894825785109120?snapshot=2026-01-20T22%3a30%3a58.4586209Z",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Tue, 20 Jan 2026 22:31:28 GMT",
        "x-ms-incremental-copy": "true",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-sourcemeta": "val",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-20T22:31:28.7526030Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894825274407051?comp=list&restype=container&include=copy,snapshots&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.blob.core.windows.net/\" ContainerName=\"container176894825274407051\"><Blobs><Blob><Name>blob176894825785109120</Name><Snapshot>2026-01-20T22:30:58.4586209Z</Snapshot><Properties><Creation-Time>Tue, 20 Jan 2026 22:30:58 GMT</Creation-Time><Last-Modified>Tue, 20 Jan 2026 22:30:58 GMT</Last-Modified><Etag>0x8DE5873955B9A87</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>blob176894825785109120</Name><VersionId>2026-01-20T22:30:58.4596209Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 20 Jan 2026 22:30:58 GMT</Creation-Time><Last-Modified>Tue, 20 Jan 2026 22:30:58 GMT</Last-Modified><Etag>0x8DE5873955B9A87</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>page176894825817207750</Name><Snapshot>2026-01-20T22:31:28.7516030Z</Snapshot><Properties><Creation-Time>Tue, 20 Jan 2026 22:31:28 GMT</Creation-Time><Last-Modified>Tue, 20 Jan 2026 22:31:28 GMT</Last-Modified><Etag>0x8DE5873A77ACF7E</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><CopyId>09e999c9-9c0f-47aa-b307-42ed0b0e1200</CopyId><CopySource>https://fakeaccountname.blob.core.windows.net:443/container176894825274407051/blob176894825785109120?snapshot=2026-01-20T22%3a30%3a58.4586209Z</CopySource><CopyStatus>success</CopyStatus><CopyProgress>1024/1024</CopyProgress><CopyCompletionTime>Tue, 20 Jan 2026 22:31:28 GMT</CopyCompletionTime><IncrementalCopy>true</IncrementalCopy><CopyDestinationSnapshot>2026-01-20T22:31:28.7516030Z</CopyDestinationSnapshot><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>page176894825817207750</Name><VersionId>2026-01-20T22:31:28.7526030Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 20 Jan 2026 22:31:28 GMT</Creation-Time><Last-Modified>Tue, 20 Jan 2026 22:31:28 GMT</Last-Modified><Etag>0x8DE5873A7794A3C</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><CopyId>09e999c9-9c0f-47aa-b307-42ed0b0e1200</CopyId><CopySource>https://fakeaccountname.blob.core.windows.net:443/container176894825274407051/blob176894825785109120?snapshot=2026-01-20T22%3a30%3a58.4586209Z</CopySource><CopyStatus>success</CopyStatus><CopyProgress>1024/1024</CopyProgress><CopyCompletionTime>Tue, 20 Jan 2026 22:31:28 GMT</CopyCompletionTime><IncrementalCopy>true</IncrementalCopy><CopyDestinationSnapshot>2026-01-20T22:31:28.7516030Z</CopyDestinationSnapshot><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176894825274407051?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob176894825785109120",
    "container": "container176894825274407051",
    "page": "page176894825817207750"
  }
}
