{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768534371309539?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD051AEC004F2\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 03:15:44 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768534371309539?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob169768534382508458",
    "container": "container169768534371309539"
  }
}
