{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538211784704403?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 11:28:37 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBB5F10A57D0C\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:28:37 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538211784704403/dir169538211787900273....?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Fri, 22 Sep 2023 11:28:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBB5F10AB87C1\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:28:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-09-22T11:28:37.9021249Z",
        "x-ms-file-creation-time": "2023-09-22T11:28:37.9021249Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-22T11:28:37.9021249Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "2805801806637501937*5632617694610889336",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538211784704403/dir169538211787900273..../share169538211784704403....",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "10",
        "x-ms-date": "Fri, 22 Sep 2023 11:28:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBB5F10B0B719\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:28:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-22T11:28:37.9361049Z",
        "x-ms-file-creation-time": "2023-09-22T11:28:37.9361049Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-09-22T11:28:37.9361049Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "16612648395746669302*5632617694610889336",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538211784704403/dir169538211787900273..../share169538211784704403....?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Fri, 22 Sep 2023 11:28:37 GMT",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2023-01-03",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ixqZU8RhEpaoJ6v4xHgE1w==",
        "ETag": "\u00220x8DBBB5F10B63494\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:28:37 GMT",
        "x-ms-file-last-write-time": "2023-09-22T11:28:37.9720852Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538211784704403/dir169538211787900273..../share169538211784704403....",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Fri, 22 Sep 2023 11:28:38 GMT",
        "x-ms-range": "bytes=0-7",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-7/10",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBBB5F10BAEED1\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:28:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-22T11:28:38.0030673Z",
        "x-ms-file-creation-time": "2023-09-22T11:28:37.9361049Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-09-22T11:28:38.0030673Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "16612648395746669302*5632617694610889336",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": "SGVsbG9Xb3I="
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538211784704403?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 11:28:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir169538211787900273",
    "file": "share169538211784704403"
  }
}
