{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168755315252001000?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 23 Jun 2023 20:45:52 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB742A8B49EB39\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 20:43:47 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168755315252001000/dir168755315260202275....?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Fri, 23 Jun 2023 20:45:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB742A8B57A620\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 20:43:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-23T20:43:47.8282784Z",
        "x-ms-file-creation-time": "2023-06-23T20:43:47.8282784Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-23T20:43:47.8282784Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11388031799016231592*17785080543603098913",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168755315252001000/dir168755315260202275..../share168755315252001000....",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Fri, 23 Jun 2023 20:45:52 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168755315252001000/dir168755315260202275..../share168755315252001000....",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "11",
        "x-ms-date": "Fri, 23 Jun 2023 20:45:52 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB742A8B70F6BE\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 20:43:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-23T20:43:47.9941822Z",
        "x-ms-file-creation-time": "2023-06-23T20:43:47.9941822Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-23T20:43:47.9941822Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6805401690481716655*17785080543603098913",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168755315252001000/dir168755315260202275..../share168755315252001000....",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Fri, 23 Jun 2023 20:45:52 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB742A8B70F6BE\u0022",
        "Last-Modified": "Fri, 23 Jun 2023 20:43:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-23T20:43:47.9941822Z",
        "x-ms-file-creation-time": "2023-06-23T20:43:47.9941822Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-23T20:43:47.9941822Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6805401690481716655*17785080543603098913",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168755315252001000?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 23 Jun 2023 20:45:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir168755315260202275",
    "file": "share168755315252001000"
  }
}
