{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538212056503542?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 11:28:40 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBB5F12444B7A\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:28:40 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538212056503542/dir169538212059802355....?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Fri, 22 Sep 2023 11:28:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBB5F124A5575\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:28:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-09-22T11:28:40.6205813Z",
        "x-ms-file-creation-time": "2023-09-22T11:28:40.6205813Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-22T11:28:40.6205813Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "2805801806637501937*5632617694610889336",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538212056503542/dir169538212059802355..../share169538212056503542....",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 22 Sep 2023 11:28:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBB5F124F84C2\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:28:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-22T11:28:40.6545602Z",
        "x-ms-file-creation-time": "2023-09-22T11:28:40.6545602Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-09-22T11:28:40.6545602Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "16612648395746669302*5632617694610889336",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538212056503542/destfile169538212067003119....?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Fri, 22 Sep 2023 11:28:40 GMT",
        "x-ms-source-allow-trailing-dot": "true",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBB5F125688A0\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:28:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-22T11:28:40.7005344Z",
        "x-ms-file-creation-time": "2023-09-22T11:28:40.6545602Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-09-22T11:28:40.6545602Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "16612648395746669302*5632617694610889336",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538212056503542/?comp=list\u0026restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Fri, 22 Sep 2023 11:28:40 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://fakestorageaccount.file.core.windows.net/\u0022 ShareName=\u0022share169538212056503542\u0022 DirectoryPath=\u0022\u0022\u003E\u003CDirectoryId\u003E0\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003Edestfile169538212067003119....\u003C/Name\u003E\u003CFileId\u003E11529285414812647424\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003CDirectory\u003E\u003CName\u003Edir169538212059802355....\u003C/Name\u003E\u003CFileId\u003E13835128424026341376\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538212056503542/destfile169538212067003119....",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Fri, 22 Sep 2023 11:28:40 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBBB5F125688A0\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:28:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-22T11:28:40.7005344Z",
        "x-ms-file-creation-time": "2023-09-22T11:28:40.6545602Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-09-22T11:28:40.6545602Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "16612648395746669302*5632617694610889336",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538212056503542/dir169538212059802355..../share169538212056503542....",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Fri, 22 Sep 2023 11:28:40 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538212056503542?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 11:28:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "destfile": "destfile169538212067003119",
    "destfile1": "destfile1169538212079906593",
    "dir": "dir169538212059802355",
    "file": "share169538212056503542"
  }
}
