{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833139062307807?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D753E4D7D1\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:09:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833139062307807/dir176833139072009054....?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D753F3E998\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:09:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-01-13T19:09:51.3129368Z",
        "x-ms-file-creation-time": "2026-01-13T19:09:51.3129368Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-01-13T19:09:51.3129368Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4470876496940820823*6255667487792660190",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833139062307807/dir176833139072009054..../file176833139081305545....",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:4152936e-601a-0006-35c0-84cb5f000000\n",
        "Time:2026-01-13T19:09:51.4126132Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833139062307807/dir176833139072009054..../file176833139081305545....",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "11",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D75410C71B\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:09:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-13T19:09:51.5021083Z",
        "x-ms-file-creation-time": "2026-01-13T19:09:51.5021083Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-01-13T19:09:51.5021083Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18334277426550052432*6255667487792660190",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833139062307807?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir176833139072009054",
    "file": "file176833139081305545",
    "share": "share176833139062307807"
  }
}
