{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833139423409377?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D756141AA9\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:09:54 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833139423409377/dir176833139432706809....?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D75623232B\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:09:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-01-13T19:09:54.9778731Z",
        "x-ms-file-creation-time": "2026-01-13T19:09:54.9778731Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-01-13T19:09:54.9778731Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4470876496940820823*6255667487792660190",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833139423409377/dir176833139432706809..../file176833139442409229....",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "11",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D756311D47\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:09:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-13T19:09:55.0694727Z",
        "x-ms-file-creation-time": "2026-01-13T19:09:55.0694727Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-01-13T19:09:55.0694727Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18334277426550052432*6255667487792660190",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833139423409377/dir176833139432706809..../file176833139442409229....",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE52D756311D47\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:09:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-13T19:09:55.0694727Z",
        "x-ms-file-creation-time": "2026-01-13T19:09:55.0694727Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-01-13T19:09:55.0694727Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18334277426550052432*6255667487792660190",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833139423409377/dir176833139432706809..../file176833139442409229....?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "1",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D7564DFAC0\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:09:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-13T19:09:55.2586432Z",
        "x-ms-file-creation-time": "2026-01-13T19:09:55.0694727Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-01-13T19:09:55.2586432Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18334277426550052432*6255667487792660190",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833139423409377?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir176833139432706809",
    "file": "file176833139442409229",
    "share": "share176833139423409377"
  }
}
