{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409031900205612?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:05:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C44D090340B\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:05:20 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409031900205612/dir176409031929707616....?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Tue, 25 Nov 2025 17:05:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C44D0BD6FFE\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:05:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-11-25T17:05:20.4663294Z",
        "x-ms-file-creation-time": "2025-11-25T17:05:20.4663294Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-11-25T17:05:20.4663294Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409031900205612/dir176409031929707616..../share176409031900205612....",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "11",
        "x-ms-date": "Tue, 25 Nov 2025 17:05:19 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C44D0EA7811\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:05:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-11-25T17:05:20.7614481Z",
        "x-ms-file-creation-time": "2025-11-25T17:05:20.7614481Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T17:05:20.7614481Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409031900205612/dir176409031929707616..../share176409031900205612....",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Tue, 25 Nov 2025 17:05:19 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE2C44D0EA7811\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:05:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-11-25T17:05:20.7614481Z",
        "x-ms-file-creation-time": "2025-11-25T17:05:20.7614481Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T17:05:20.7614481Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409031900205612/dir176409031929707616..../share176409031900205612....?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "1",
        "x-ms-date": "Tue, 25 Nov 2025 17:05:20 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C44D144DCA8\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:05:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-11-25T17:05:21.3538472Z",
        "x-ms-file-creation-time": "2025-11-25T17:05:20.7614481Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T17:05:21.3538472Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409031900205612?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:05:20 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir176409031929707616",
    "file": "share176409031900205612"
  }
}
