{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833139259207910?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D755161CA5\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:09:53 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833139259207910/dir176833139268207302....?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D75523C1A2\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:09:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-01-13T19:09:53.3042082Z",
        "x-ms-file-creation-time": "2026-01-13T19:09:53.3042082Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-01-13T19:09:53.3042082Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4470876496940820823*6255667487792660190",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833139259207910/dir176833139268207302..../file176833139277502168....",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "11",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D75531BBBA\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:09:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-13T19:09:53.3958074Z",
        "x-ms-file-creation-time": "2026-01-13T19:09:53.3958074Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-01-13T19:09:53.3958074Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18334277426550052432*6255667487792660190",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833139259207910/dir176833139268207302..../copiedfile176833139286805621...",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-copy-source": "https://fakeaccountname.file.core.windows.net/share176833139259207910/dir176833139268207302..../file176833139277502168....",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-source-allow-trailing-dot": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DE52D7554A5845\"",
        "Last-Modified": "Tue, 13 Jan 2026 19:09:53 GMT",
        "x-ms-copy-id": "fc9c3c2f-f7cc-49b9-8961-e6a57c4bcb50",
        "x-ms-copy-status": "success",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833139259207910/dir176833139268207302..../copiedfile176833139286805621...?comp=copy&copyid=fc9c3c2f-f7cc-49b9-8961-e6a57c4bcb50",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "true",
        "x-ms-copy-action": "abort",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "NoPendingCopyOperation",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>NoPendingCopyOperation</Code><Message>There is currently no pending copy operation.\n",
        "RequestId:415293f1-601a-0006-0ec0-84cb5f000000\n",
        "Time:2026-01-13T19:09:54.6770146Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share176833139259207910?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "copiedfile": "copiedfile176833139286805621",
    "dir": "dir176833139268207302",
    "file": "file176833139277502168",
    "share": "share176833139259207910"
  }
}
