{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80e01da2-20ca-7994-ed37-6d272d4024e7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:14:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2E0EB8E2A\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:14:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7312df99-b499-144c-67a9-2f3dace34123?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:14:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2E0F80D3B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:14:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80e01da2-20ca-7994-ed37-6d272d4024e7/test-file-052b61b2-0fad-ec47-d55b-dc6ab12e0cda",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:14:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2E103D7A6\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:14:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:14:56.9226150Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80e01da2-20ca-7994-ed37-6d272d4024e7/test-file-052b61b2-0fad-ec47-d55b-dc6ab12e0cda?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 18:14:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "m4tj6OGVzfEgmxgUWHOPU+n6sQnlSfSKibua1hYuFz0BdCk2MQe+qhiJ0zvRzERT9lqGcA38l1GX2F8m+vbb8YTaE+RKWSHiPAbxW3a5ub13Rt+8qKYwBNzXnlmomK8hruG29rhfCZ04pDQGCjzb3h6irrQXHkjdqg8IcrrHOqRX0K2UAsMFFzxCgwRyKfqf/MA6Ben6CY+Z2UypVpficWqQrzqPRttbnZd41ZtEa4AUaHb6jDS6XMYd+yl2XMClXxGa4nq/ELXk32hSgjTzVG3LlO4g6OQ11VNzcUuy5EHW0naJqokFVFjAFa3LaNmRKaa7qsfShHYtZAwnTJ5qMvone7C+aqrkxj+VYNM3amx54Uik9jl5A07/XEV83gi5VuOypOwp07/81+SIPCSj9vqgrWpWxTvBrXhhvw1laOg23AnvhMV/UA6IqB9U8MYqW2ZL2zCeY5Gn8fZ0xxSxl2/8UmAas3E0IF1czR0cbL2xN2OnGYy4mHl4R5PPC4j51xGwWJ5lD6j0FrvSQZVzi4U5wpCxCn3iRLnnomveZRXUYvYLaxMeTCe7sgLQ5VbjBLwOlUj4SMyTzRTkfmw8FrGm/d+fZx9xGnZo9Vh7EV5jA52v0M/M3BkpeJ7/Os26f5tQKud2RJycnHvSkFJ0GLu1gXvOjEbh2SHFde+BceA=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2E10FBCC3\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:14:57 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "6lSbVYYoqjk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80e01da2-20ca-7994-ed37-6d272d4024e7/test-file-052b61b2-0fad-ec47-d55b-dc6ab12e0cda?sv=Sanitized&se=2024-07-03T18%3A14%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC2E10FBCC3\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:14:57 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:14:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:14:56.9226150Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7312df99-b499-144c-67a9-2f3dace34123/test-file-eb5b3839-e8cc-356b-aee6-55aa9dd61279?sv=Sanitized&se=2024-07-03T18%3A14%3A57Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7312df99-b499-144c-67a9-2f3dace34123/test-file-eb5b3839-e8cc-356b-aee6-55aa9dd61279?sv=Sanitized&se=2024-07-03T18%3A14%3A57Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "512",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:14:56.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2E133EF60\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:14:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:14:57.2377952Z",
        "x-ms-file-creation-time": "2024-07-02T18:14:56.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:14:57.2377952Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7312df99-b499-144c-67a9-2f3dace34123/test-file-eb5b3839-e8cc-356b-aee6-55aa9dd61279?sv=Sanitized&se=2024-07-03T18%3A14%3A57Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-80e01da2-20ca-7994-ed37-6d272d4024e7/test-file-052b61b2-0fad-ec47-d55b-dc6ab12e0cda?sv=Sanitized&se=2024-07-03T18%3A14%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2E14503FB\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:14:57 GMT",
        "x-ms-content-crc64": "6lSbVYYoqjk=",
        "x-ms-file-last-write-time": "2024-07-02T18:14:57.2377952Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80e01da2-20ca-7994-ed37-6d272d4024e7/test-file-052b61b2-0fad-ec47-d55b-dc6ab12e0cda?sv=Sanitized&se=2024-07-03T18%3A14%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AC2E10FBCC3\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC2E10FBCC3\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:14:57 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:14:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:14:56.9226150Z"
      },
      "ResponseBody": "m4tj6OGVzfEgmxgUWHOPU+n6sQnlSfSKibua1hYuFz0BdCk2MQe+qhiJ0zvRzERT9lqGcA38l1GX2F8m+vbb8YTaE+RKWSHiPAbxW3a5ub13Rt+8qKYwBNzXnlmomK8hruG29rhfCZ04pDQGCjzb3h6irrQXHkjdqg8IcrrHOqRX0K2UAsMFFzxCgwRyKfqf/MA6Ben6CY+Z2UypVpficWqQrzqPRttbnZd41ZtEa4AUaHb6jDS6XMYd+yl2XMClXxGa4nq/ELXk32hSgjTzVG3LlO4g6OQ11VNzcUuy5EHW0naJqokFVFjAFa3LaNmRKaa7qsfShHYtZAwnTJ5qMvone7C+aqrkxj+VYNM3amx54Uik9jl5A07/XEV83gi5VuOypOwp07/81+SIPCSj9vqgrWpWxTvBrXhhvw1laOg23AnvhMV/UA6IqB9U8MYqW2ZL2zCeY5Gn8fZ0xxSxl2/8UmAas3E0IF1czR0cbL2xN2OnGYy4mHl4R5PPC4j51xGwWJ5lD6j0FrvSQZVzi4U5wpCxCn3iRLnnomveZRXUYvYLaxMeTCe7sgLQ5VbjBLwOlUj4SMyTzRTkfmw8FrGm/d+fZx9xGnZo9Vh7EV5jA52v0M/M3BkpeJ7/Os26f5tQKud2RJycnHvSkFJ0GLu1gXvOjEbh2SHFde+BceA="
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7312df99-b499-144c-67a9-2f3dace34123?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:14:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-80e01da2-20ca-7994-ed37-6d272d4024e7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:14:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:14:57.7006891-07:00",
    "RandomSeed": "1450491622",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
