{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-821a3b9d-ed5b-fa96-2693-4df40a3627be?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:17 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70246E76A08\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:18 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c9c945e5-4cbb-59ff-24c0-cfb8aa7d0790?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:17 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70246FDCFB4\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:18 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c9c945e5-4cbb-59ff-24c0-cfb8aa7d0790/test-file-ec7368e8-9953-3e34-5b7b-2c19486b0d0a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:17 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB702471338A4\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T16:59:19.0027428Z",
        "x-ms-file-creation-time": "2024-08-07T16:59:19.0027428Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T16:59:19.0027428Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-821a3b9d-ed5b-fa96-2693-4df40a3627be/test-file-9b935161-95fb-8e1e-a42b-228e5d35f385",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:18 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70247329C07\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T16:59:19.2084487Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-821a3b9d-ed5b-fa96-2693-4df40a3627be/test-file-9b935161-95fb-8e1e-a42b-228e5d35f385?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:18 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "C7VldHq1FK35T6O+0rcUgf1aFd1Jsq6+mhKcu4fsn7NyIF8APKNkrTRUvbukFn8orTAqcmM791gGp9loGFglDLDvS7JYFEVa9meo9PXyGYSSdA5XwixPNykG+ZXJ/JXcL7ALtMvN0Jjrz3v7kgJjFI1V1aRJzkqDnxOIUhqvkfrSzMVF52W5xaN1bPOxU6UmouUIcyfxkmFmhxS3RH5+Oz6BKcU8HiwnnA8A02FW0kxuYa81px3T4Dpk3mBQAYEl9zG0Lyrf6oS54NcX8b7/D7TISOLPSJQgrkiL1z/L1pqO29wwoqIhj3cqe8ZGu+97Zc+riLmeVq6dk4HhUxJF7Qo8iBbiz[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-821a3b9d-ed5b-fa96-2693-4df40a3627be/test-file-9b935161-95fb-8e1e-a42b-228e5d35f385?sv=Sanitized&se=2024-08-08T16%3A59%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB7024747F5A7\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:19 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 16:59:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T16:59:19.2084487Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c9c945e5-4cbb-59ff-24c0-cfb8aa7d0790/test-file-ec7368e8-9953-3e34-5b7b-2c19486b0d0a?sv=Sanitized&se=2024-08-08T16%3A59%3A18Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-08-07T16:59:19.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70247710297\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T16:59:19.6173975Z",
        "x-ms-file-creation-time": "2024-08-07T16:59:19.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T16:59:19.6173975Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c9c945e5-4cbb-59ff-24c0-cfb8aa7d0790/test-file-ec7368e8-9953-3e34-5b7b-2c19486b0d0a?sv=Sanitized&se=2024-08-08T16%3A59%3A18Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-821a3b9d-ed5b-fa96-2693-4df40a3627be/test-file-9b935161-95fb-8e1e-a42b-228e5d35f385?sv=sanitized-value&se=2024-08-08T16%3A59%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7024796387F\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:19 GMT",
        "x-ms-content-crc64": "n31Mz+7N+Kw=",
        "x-ms-file-last-write-time": "2024-08-07T16:59:19.6173975Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-821a3b9d-ed5b-fa96-2693-4df40a3627be/test-file-9b935161-95fb-8e1e-a42b-228e5d35f385?sv=Sanitized&se=2024-08-08T16%3A59%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB7024747F5A7\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB7024747F5A7\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:19 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 16:59:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c9c945e5-4cbb-59ff-24c0-cfb8aa7d0790?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:19 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-821a3b9d-ed5b-fa96-2693-4df40a3627be?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:19 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-07T09:59:18.0870757-07:00",
    "RandomSeed": "1062978194",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
