{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4ee1ca9d-66ab-84bb-c05d-1fa75eee6379?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:19 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70247F15C1D\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:20 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-316aeb57-36e1-0e68-5f62-bb4b03272820?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:19 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70247FCCB00\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:20 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4ee1ca9d-66ab-84bb-c05d-1fa75eee6379/test-file-7cb32ede-d025-f7e1-167c-83f83e30ce17",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:19 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70248095470\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T16:59:20.6156400Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4ee1ca9d-66ab-84bb-c05d-1fa75eee6379/test-file-7cb32ede-d025-f7e1-167c-83f83e30ce17?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:19 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "X9LdhLCSX7EUEV+qrvscvPO5KmhnePv/JQQvnV+mSpdE889aNzW+hr1jBLytZD8Sb0v6N5aq4efX3l6rYsJRbsfIZroswYS9+qSqBHM+UcDFHS0UqxIBmRHng1nWEiP7EZX05f6F5a3GPTzx/910mIye5kWUPcO1xs2oRT4r5ueAr/PdSmzCPzd/TW7WD5k0c+rNOCzeZtPSPx4w3KBvm1ZUcVDplk4f3KYNFfBU3rczdNFUXq67oUgfCgtNkWOXELEXgp1JStycrVyF0VHjfmBm/GjOGzynmM8HyotC0UpDdgQ+PVwZ6in0t7FSNtD2PIyq55T6yPV0b+nOQYBRWdsRQVtMp[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4ee1ca9d-66ab-84bb-c05d-1fa75eee6379/test-file-7cb32ede-d025-f7e1-167c-83f83e30ce17?sv=Sanitized&se=2024-08-08T16%3A59%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB70248127AD6\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:20 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 16:59:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T16:59:20.6156400Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-316aeb57-36e1-0e68-5f62-bb4b03272820/test-file-f4e3c994-b8eb-b2ea-2b87-5b07ba935f94?sv=Sanitized&se=2024-08-08T16%3A59%3A19Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-08-07T16:59:20.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB702482D0BA9\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T16:59:20.8497065Z",
        "x-ms-file-creation-time": "2024-08-07T16:59:20.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T16:59:20.8497065Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-316aeb57-36e1-0e68-5f62-bb4b03272820/test-file-f4e3c994-b8eb-b2ea-2b87-5b07ba935f94?sv=Sanitized&se=2024-08-08T16%3A59%3A19Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-4ee1ca9d-66ab-84bb-c05d-1fa75eee6379/test-file-7cb32ede-d025-f7e1-167c-83f83e30ce17?sv=sanitized-value&se=2024-08-08T16%3A59%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB702483917EA\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:20 GMT",
        "x-ms-content-crc64": "6MBCSIVkZNU=",
        "x-ms-file-last-write-time": "2024-08-07T16:59:20.8497065Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4ee1ca9d-66ab-84bb-c05d-1fa75eee6379/test-file-7cb32ede-d025-f7e1-167c-83f83e30ce17?sv=Sanitized&se=2024-08-08T16%3A59%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB70248127AD6\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB70248127AD6\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:20 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 16:59:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-316aeb57-36e1-0e68-5f62-bb4b03272820?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:20 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4ee1ca9d-66ab-84bb-c05d-1fa75eee6379?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:20 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-07T09:59:19.6756928-07:00",
    "RandomSeed": "387062209",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
