{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-edd241ee-6349-909b-86ab-6ada929155ed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5154791E5CFB\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1829adf9-61c8-66d1-c554-ed2c2dd7ecae?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515479288A08\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-edd241ee-6349-909b-86ab-6ada929155ed/test-file-d25fe605-3bec-efd9-ed6f-5bb6614d74fa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:40 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5154792F1F3F\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:15:40.8722506Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-edd241ee-6349-909b-86ab-6ada929155ed/test-file-d25fe605-3bec-efd9-ed6f-5bb6614d74fa?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "u60sVQz1AA5/LQTbhOedUuwqfwtrxlPE/tsJPufaQ5Azih1vPs/JD+ZRU742/moG0QjKN85oj/RZaFYw7MEnpOp0qPnJLhQdYW8lGnOUjgBxAm3fEAvCyvspFdZ4mCMkKa/UwlVwPaP0rNZfQ3SBxdlVv+lUSJPest7+oBk9pMhLAPDDv8yqAMXK6mQ1YoaGp0/8Itk60OEc9Q93cpyJtggOE0ODvQUNqr8jil0vqU9Xd/jJQYHuES8Op8m8M40oQDRbJ09DAupJ7ngaFkaE7EzAIPqjv3SGHwITdRU7UXcx+kko04IAE3QOf1IJ1Proibp9/BKShYG/1QdML43UDp0A6Rv9W[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-edd241ee-6349-909b-86ab-6ada929155ed/test-file-d25fe605-3bec-efd9-ed6f-5bb6614d74fa?sv=Sanitized&se=2025-02-21T02%3A15%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD51547935ADFA\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:40 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 20 Feb 2025 02:15:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:15:40.8722506Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1829adf9-61c8-66d1-c554-ed2c2dd7ecae/test-file-899cfe33-dfe7-001b-b1fe-f5698fae0945?sv=Sanitized&se=2025-02-21T02%3A15%3A40Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1829adf9-61c8-66d1-c554-ed2c2dd7ecae/test-file-899cfe33-dfe7-001b-b1fe-f5698fae0945?sv=Sanitized&se=2025-02-21T02%3A15%3A40Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-20T02:15:40.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5154794CAB92\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:15:41.0648978Z",
        "x-ms-file-creation-time": "2025-02-20T02:15:40.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:15:41.0648978Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1829adf9-61c8-66d1-c554-ed2c2dd7ecae/test-file-899cfe33-dfe7-001b-b1fe-f5698fae0945?sv=Sanitized&se=2025-02-21T02%3A15%3A40Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-edd241ee-6349-909b-86ab-6ada929155ed/test-file-d25fe605-3bec-efd9-ed6f-5bb6614d74fa?sv=sanitized-value&se=2025-02-21T02%3A15%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51547959A1FB\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:41 GMT",
        "x-ms-content-crc64": "s8fjDIoMJTk=",
        "x-ms-file-last-write-time": "2025-02-20T02:15:41.0648978Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1829adf9-61c8-66d1-c554-ed2c2dd7ecae/test-file-899cfe33-dfe7-001b-b1fe-f5698fae0945?sv=Sanitized&se=2025-02-21T02%3A15%3A40Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-20T02:15:40.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515479607ED4\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:15:41.1948244Z",
        "x-ms-file-creation-time": "2025-02-20T02:15:40.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:15:41.0648978Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-edd241ee-6349-909b-86ab-6ada929155ed/test-file-d25fe605-3bec-efd9-ed6f-5bb6614d74fa?sv=Sanitized&se=2025-02-21T02%3A15%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD51547935ADFA\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD51547935ADFA\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:40 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 20 Feb 2025 02:15:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1829adf9-61c8-66d1-c554-ed2c2dd7ecae?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-edd241ee-6349-909b-86ab-6ada929155ed?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:41 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-19T18:15:40.9375348-08:00",
    "RandomSeed": "580299042",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
