{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2599cb26-1655-144c-d808-30045a8d3c17?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515477F082D1\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf77c6c4-d05b-379b-38c0-91220d53ebb3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515477F9DD30\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf77c6c4-d05b-379b-38c0-91220d53ebb3/test-file-cff18007-557f-73f9-ea3a-b74945e87c91",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:38 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5154780344E5\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:15:38.9061349Z",
        "x-ms-file-creation-time": "2025-02-20T02:15:38.9061349Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:15:38.9061349Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2599cb26-1655-144c-d808-30045a8d3c17/test-file-8dfb2275-ea98-7ec2-7b46-12201188d788",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:38 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5154781092AA\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:15:38.9933226Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2599cb26-1655-144c-d808-30045a8d3c17/test-file-8dfb2275-ea98-7ec2-7b46-12201188d788?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "V/dN0dfvm70k0inXWEQnbdFsKHiYrhtZYj5Q8Hg+UzgzvYRHsqm4EPywHSCuhLewP2H/dhWjBKjc82+YnqtE5n/wo5q/37onsxd855D6q96Hn7EXPtwij7jbar85IHFQbDehveAd8V+m2MP9Jx0Y4UiREP/6LaiizhTh43T77ZKmK3tZWe39aq5RcGYZJWibw4l2qA9yVj6O/u/MOw3qq+owV/yiv4hbk6ZQqL1CiKirRiDrhESDM9Q8ylr9MS6gZsR86c1r+QQBGxVpIa2BTHZGIPTt/yalrCMnZfUtXWF3sEL4xp7bQE0c6mkvGhEnu33kthE6s2ae1j2pRJMP07208XFqi[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2599cb26-1655-144c-d808-30045a8d3c17/test-file-8dfb2275-ea98-7ec2-7b46-12201188d788?sv=Sanitized&se=2025-02-21T02%3A15%3A38Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5154781AA354\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:39 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 20 Feb 2025 02:15:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:15:38.9933226Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf77c6c4-d05b-379b-38c0-91220d53ebb3/test-file-cff18007-557f-73f9-ea3a-b74945e87c91?sv=Sanitized&se=2025-02-21T02%3A15%3A38Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-20T02:15:38.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515478293DDD\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:15:39.1549917Z",
        "x-ms-file-creation-time": "2025-02-20T02:15:38.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:15:39.1549917Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf77c6c4-d05b-379b-38c0-91220d53ebb3/test-file-cff18007-557f-73f9-ea3a-b74945e87c91?sv=Sanitized&se=2025-02-21T02%3A15%3A38Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-2599cb26-1655-144c-d808-30045a8d3c17/test-file-8dfb2275-ea98-7ec2-7b46-12201188d788?sv=sanitized-value&se=2025-02-21T02%3A15%3A38Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515478354A09\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:39 GMT",
        "x-ms-content-crc64": "XZlS+Aj6SeE=",
        "x-ms-file-last-write-time": "2025-02-20T02:15:39.1549917Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf77c6c4-d05b-379b-38c0-91220d53ebb3/test-file-cff18007-557f-73f9-ea3a-b74945e87c91?sv=Sanitized&se=2025-02-21T02%3A15%3A38Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-20T02:15:38.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5154783D863E\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:15:39.2879166Z",
        "x-ms-file-creation-time": "2025-02-20T02:15:38.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:15:39.1549917Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2599cb26-1655-144c-d808-30045a8d3c17/test-file-8dfb2275-ea98-7ec2-7b46-12201188d788?sv=Sanitized&se=2025-02-21T02%3A15%3A38Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5154781AA354\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5154781AA354\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:39 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 20 Feb 2025 02:15:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf77c6c4-d05b-379b-38c0-91220d53ebb3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:39 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2599cb26-1655-144c-d808-30045a8d3c17?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-19T18:15:38.9739249-08:00",
    "RandomSeed": "1972538185",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
