{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b50faaf4-7126-13df-60c3-4d8e46d97b8e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:10 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70242E7B9A2\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:12 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-45ffb303-936b-c551-78ae-0b6d03b5bf80?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:11 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70242F4EC08\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:12 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b50faaf4-7126-13df-60c3-4d8e46d97b8e/test-file-4b6859d9-0723-b32d-8c65-1cdb969e7068",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:11 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB70242FFF0E4\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T16:59:12.1655012Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b50faaf4-7126-13df-60c3-4d8e46d97b8e/test-file-4b6859d9-0723-b32d-8c65-1cdb969e7068?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:11 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "CLWwkuitiIfTDpEYzRqRjPotlJ2bEVi82WaiqEC9jLic7PVTgC7zDcBqq3H8RdiSfryWgWQKG/Zd87iBC99GFYLZfOElPgzMOYbdMWbmwJSNDyqEJwtTkdD/9ox1cgLhI5XvI8j3bUCvykfdLemPdjMk8/u0we52hesQJUh/VseE+w3R953LlqLq1F3DdWPmb4BZUX4GLGKmeJ3d5kf4MHN/WTLcvn6WWVxZyuyRsw+IKrbHJgRIfs+rKn//7rBa8aTpRBwxCrABwvghrGF1FcWNVbyQMAluNtpiMJT+lmqs/9hIp27yVh8GxmMMJtFtNhW6cZjzycGbew1BztobAiyNda2IL[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b50faaf4-7126-13df-60c3-4d8e46d97b8e/test-file-4b6859d9-0723-b32d-8c65-1cdb969e7068?sv=Sanitized&se=2024-08-08T16%3A59%3A11Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB7024308F04B\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 16:59:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T16:59:12.1655012Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-45ffb303-936b-c551-78ae-0b6d03b5bf80/test-file-2e40f795-1f8e-f7a1-16eb-13c29c6e3de4?sv=Sanitized&se=2024-08-08T16%3A59%3A11Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-45ffb303-936b-c551-78ae-0b6d03b5bf80/test-file-2e40f795-1f8e-f7a1-16eb-13c29c6e3de4?sv=Sanitized&se=2024-08-08T16%3A59%3A11Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-08-07T16:59:12.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB702432E771B\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T16:59:12.4704027Z",
        "x-ms-file-creation-time": "2024-08-07T16:59:12.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T16:59:12.4704027Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-45ffb303-936b-c551-78ae-0b6d03b5bf80/test-file-2e40f795-1f8e-f7a1-16eb-13c29c6e3de4?sv=Sanitized&se=2024-08-08T16%3A59%3A11Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-b50faaf4-7126-13df-60c3-4d8e46d97b8e/test-file-4b6859d9-0723-b32d-8c65-1cdb969e7068?sv=sanitized-value&se=2024-08-08T16%3A59%3A11Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB702433AF870\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:12 GMT",
        "x-ms-content-crc64": "5eo6LDnOsI8=",
        "x-ms-file-last-write-time": "2024-08-07T16:59:12.4704027Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b50faaf4-7126-13df-60c3-4d8e46d97b8e/test-file-4b6859d9-0723-b32d-8c65-1cdb969e7068?sv=Sanitized&se=2024-08-08T16%3A59%3A11Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB7024308F04B\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB7024308F04B\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:59:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 16:59:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-45ffb303-936b-c551-78ae-0b6d03b5bf80?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:11 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b50faaf4-7126-13df-60c3-4d8e46d97b8e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:59:11 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-07T09:59:11.2326872-07:00",
    "RandomSeed": "331813337",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
