{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1108395f-9d9f-08f6-1780-2f428bc91609?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:02:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D768A226A\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-f8d9e3a0-1969-18b1-196b-d53231b57948?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:02:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D769EB067\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1108395f-9d9f-08f6-1780-2f428bc91609/test-file-bd405c85-0c44-cba2-1a9e-2e6a93e07667",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:02:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D76B8ECEB\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:02:12.0109291Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1108395f-9d9f-08f6-1780-2f428bc91609/test-file-bd405c85-0c44-cba2-1a9e-2e6a93e07667?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:02:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "YpyF/vzQEZGOt+OAm1cKTj+jqxAa/rh/AoxJVF+13ubvt/sijkC+064cq4RRit9PqswgEcXLumTjBftwh7wy2dj9kONc6L//5Ndi/lM0LXes+aqTlM0gJP2XPohETkzy6tGrVPr888EMIS3uabsQr9iEw40RnkUL3GzmxKk3upWKbxSBiNl9sAboh3OfMrpBho6wwIu/4EuMoHiNFi4X1WaYY/qnjyf+BhOGKRfRbKmxpD0ahvoKy47I9edg8JnX0LENBs/Amfdnsbl3OLczuzTP23Hw/E5rjpdr35k/nhZ5rlllw2XZ8ApGs9RAkpPXlDqzkRQo59NioXg4VbpdKBOj/oldz[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1108395f-9d9f-08f6-1780-2f428bc91609/test-file-bd405c85-0c44-cba2-1a9e-2e6a93e07667?sv=Sanitized&se=2024-06-08T01%3A02%3A11Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868D77111787\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:02:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:02:12.0109291Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-f8d9e3a0-1969-18b1-196b-d53231b57948/test-file-1f4143fd-ce14-d052-1da0-07beadf4fff8?sv=Sanitized&se=2024-06-08T01%3A02%3A11Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-f8d9e3a0-1969-18b1-196b-d53231b57948/test-file-1f4143fd-ce14-d052-1da0-07beadf4fff8?sv=Sanitized&se=2024-06-08T01%3A02%3A11Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-07T01:02:12.0000000Z",
        "x-ms-file-last-write-time": "2024-06-07T01:02:12.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D773ECFE8\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:02:12.8883688Z",
        "x-ms-file-creation-time": "2024-06-07T01:02:12.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:02:12.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-f8d9e3a0-1969-18b1-196b-d53231b57948/test-file-1f4143fd-ce14-d052-1da0-07beadf4fff8?sv=Sanitized&se=2024-06-08T01%3A02%3A11Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-1108395f-9d9f-08f6-1780-2f428bc91609/test-file-bd405c85-0c44-cba2-1a9e-2e6a93e07667?sv=Sanitized&se=2024-06-08T01%3A02%3A11Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D77584934\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:13 GMT",
        "x-ms-content-crc64": "C/ErxzpSao8=",
        "x-ms-file-last-write-time": "2024-06-07T01:02:12.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1108395f-9d9f-08f6-1780-2f428bc91609/test-file-bd405c85-0c44-cba2-1a9e-2e6a93e07667?sv=Sanitized&se=2024-06-08T01%3A02%3A11Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868D77111787\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868D77111787\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:02:12 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:02:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-f8d9e3a0-1969-18b1-196b-d53231b57948?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:02:12 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1108395f-9d9f-08f6-1780-2f428bc91609?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:02:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:02:11.1295804-05:00",
    "RandomSeed": "1855038505",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
