{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b2a4b778-9a18-5464-1fc9-bc7ab9841124?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CAE4FC90B\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2a147e54-ece2-dcde-f6cb-ecb843a8b820?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CAE59B7C0\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2a147e54-ece2-dcde-f6cb-ecb843a8b820/test-file-19022c5a-ca0b-c807-a4be-8bda93078c73",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:49 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CAE638BB1\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T18:58:49.0446769Z",
        "x-ms-file-creation-time": "2024-12-10T18:58:49.0446769Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T18:58:49.0446769Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2a147e54-ece2-dcde-f6cb-ecb843a8b820/test-file-19022c5a-ca0b-c807-a4be-8bda93078c73?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "ujN35q+K0vYiieKevYUj4NpIf9Zi6WM7/pk2NpGwag4OPSIWDKFGQw8B1ARcj1n9+YEHXoKcO9DPPOcVVJxkcR/UkH9jDdM4AjvHYBVf3m5AODwQqAuLcQFRRs+6MO9ynWPkiP/ZmuytzlxG1dq7cF541BtgVMgUSB99EscDftJLVMOye1ZvZp5QYtqvRJwnldZxQVvUEkiazz/gXIgkqlCJ+oAXCfQHCW59D/HuZQOCVnzwkT12d0J6F6sWjwoWK7iJJUobD4zhaTftVwJXq2o8XQULMxgTE4M+nPJJ8XpjZ+Q4ZD+5Z0bwDycFiSA/I2tA2jEFCvegdhHG3HOZmHi9ie8eHkcrgva+GyTwDYpi/3iGCBZIXlzsmO0t8orTVnavR/8wIAUkFVg7Ru7TsGiHZN37E49idCqTMoVZ/Y9r68WtQcaLMd5yYfK+DRduGeiFpo2s2ELmTNLUne5/yxjIz1spJW6i/DP/iLGdo2cTJBmd1FYBvxOCx/TztpPv85ba9j28RfR54qparE+QSalqwXnV4ffCxhBHpl16rkWfD5Qbwq0qVt8lJPGrpxLD8n1LiPUaGhGfGC8tdJ+W/jNlu5y6dYf7QGuZsL0FFh/9hLTgLyZQhPWDfKp9/OFAjiW9Ret2CHz2T0eKgGlUmQEQMPDqtc8NFTenN/jcfUSJWSGYR9Azh3s36t/exQOLL+OpbcvxVdlVsDC0ztGEGdIDACdIu1Iw3Kl0s8vwL08zGwgVMxB4mARHQpegf7iqstAN2sXcQ3OReZAifKEOZYDggLPJb+bCimgiAHm6j13wygD641WKV9iUhLl/VRxiOd0Wv/4E4EPqSk9cukL61ukzMbGgFIErVinbNOosQzVMv8ebpNBe7Oq9EJgFLZyVmq7QSyNqwiVb62jUKatYvQcaEPp6XjIY1UXH4wTpJSiMRZo8XPcR4f2iQLlnicM+ZFOR6x2hGjx7uHbeo94hcsU/R+MRG2APCC792B14sEuCiH6wVzoL6ipewKSAMj4egc3zJ0HfLEnygeLupEIeAwcrXBpgcBqKM1y4s1q8jtXw3ldPhIkJols1vtZYHUboP72dVdYjvhGzafPkJnnuNfIM/cXrzn5+Ibm/KrFEMhYW0HOcHzn/zSBFnBuVJHviRonkSyCB/HA/HzMdZJNfbjbdzlYFUhW4DTCkpTFi6P0+3OQoX+b2ldMCXQAF4mmM5S3kt1Yl3PRzKz7w3Fc/3TY23oevNw9Q5zmCA/QVsyvGGL8DfTGnGADvtDSoBrl8w4DKzwPh3a4elNAcotn/XXcTKcOXO18Ej8aGv4Lap+GABT90S+Qo5ToR5elginUn8Fe8lN315YggxT89Wx4rRA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "43I793HFvR7D5RhW9DpXiw==",
        "ETag": "\"0x8DD194CAE6E073E\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:49 GMT",
        "x-ms-file-last-write-time": "2024-12-10T18:58:49.1133758Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b2a4b778-9a18-5464-1fc9-bc7ab9841124/test-file-6963a984-8efe-e6cd-7a22-86db5aaa2eb7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:49 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CAE76FE7B\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b2a4b778-9a18-5464-1fc9-bc7ab9841124/test-file-6963a984-8efe-e6cd-7a22-86db5aaa2eb7?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "EoblZlPYQ62q089CFKtovtGaEdvn+rdxObwII16IMFq[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b2a4b778-9a18-5464-1fc9-bc7ab9841124/test-file-6963a984-8efe-e6cd-7a22-86db5aaa2eb7?sv=Sanitized&se=2024-12-11T18%3A58%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD194CAE7FCE43\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:49 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 Dec 2024 18:58:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2a147e54-ece2-dcde-f6cb-ecb843a8b820/test-file-19022c5a-ca0b-c807-a4be-8bda93078c73?sv=Sanitized&se=2024-12-11T18%3A58%3A49Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194CAE6E073E\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T18:58:49.1133758Z",
        "x-ms-file-creation-time": "2024-12-10T18:58:49.0446769Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T18:58:49.1133758Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2a147e54-ece2-dcde-f6cb-ecb843a8b820/test-file-19022c5a-ca0b-c807-a4be-8bda93078c73?sv=Sanitized&se=2024-12-11T18%3A58%3A49Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194CAE6E073E\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T18:58:49.1133758Z",
        "x-ms-file-creation-time": "2024-12-10T18:58:49.0446769Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T18:58:49.1133758Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-2a147e54-ece2-dcde-f6cb-ecb843a8b820?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b2a4b778-9a18-5464-1fc9-bc7ab9841124?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-12-10T10:58:49.4353977-08:00",
    "RandomSeed": "287077139",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
