{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77f6ab57-5c2e-f2ea-9728-3102ee554b25?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:01 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2E2366714\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:01 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-74db5cac-fad8-a4e9-68cb-77d5ea09b681?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:01 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2E2463505\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:01 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77f6ab57-5c2e-f2ea-9728-3102ee554b25/test-file-5bdddfd2-d0d2-d8f4-a38b-618610e851d9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:01 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2E2543CBF\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:36:01.7749183Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77f6ab57-5c2e-f2ea-9728-3102ee554b25/test-file-5bdddfd2-d0d2-d8f4-a38b-618610e851d9?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:01 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "os7Y9v/HMKuIW7EFNZ1g1F2xZBTTmTzNmoTvJ2MOA3cBIk8OZtNG044XksHMczuy3oK9VsdsrgmSClx61whHelg6BBNNUm2Ka5GGvAZ7ACdJPEngUayvlHNGfFt2y/uFzxhpkg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2E2613327\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:01 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "wDjxodn3exw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77f6ab57-5c2e-f2ea-9728-3102ee554b25/test-file-5bdddfd2-d0d2-d8f4-a38b-618610e851d9?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A01Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D2E2613327\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:36:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:36:01.7749183Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-74db5cac-fad8-a4e9-68cb-77d5ea09b681/test-file-dc11044f-d6d5-f847-4e6d-832ec518be3f?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A01Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-74db5cac-fad8-a4e9-68cb-77d5ea09b681/test-file-dc11044f-d6d5-f847-4e6d-832ec518be3f?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A01Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "100",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2E28BA509\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T18:36:02.1380361Z",
        "x-ms-file-creation-time": "2023-11-16T18:36:02.1380361Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T18:36:02.1380361Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-74db5cac-fad8-a4e9-68cb-77d5ea09b681/test-file-dc11044f-d6d5-f847-4e6d-832ec518be3f?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A01Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-77f6ab57-5c2e-f2ea-9728-3102ee554b25/test-file-5bdddfd2-d0d2-d8f4-a38b-618610e851d9?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A01Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-99",
        "x-ms-source-range": "bytes=0-99",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2E2A1C1D7\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:02 GMT",
        "x-ms-content-crc64": "wDjxodn3exw=",
        "x-ms-file-last-write-time": "2023-11-16T18:36:02.2829527Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77f6ab57-5c2e-f2ea-9728-3102ee554b25/test-file-5bdddfd2-d0d2-d8f4-a38b-618610e851d9?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A01Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE6D2E2613327\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D2E2613327\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:36:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:36:01.7749183Z"
      },
      "ResponseBody": "os7Y9v/HMKuIW7EFNZ1g1F2xZBTTmTzNmoTvJ2MOA3cBIk8OZtNG044XksHMczuy3oK9VsdsrgmSClx61whHelg6BBNNUm2Ka5GGvAZ7ACdJPEngUayvlHNGfFt2y/uFzxhpkg=="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-74db5cac-fad8-a4e9-68cb-77d5ea09b681?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-77f6ab57-5c2e-f2ea-9728-3102ee554b25?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:02 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-16T10:36:01.7860714-08:00",
    "RandomSeed": "1261994425",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
