{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-152e48fd-af18-141e-2062-580f2cd4748c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:24:30 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7920FFBF151\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:24:32 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-25033b41-89ed-efb6-c342-ebff71d70691?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:24:30 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792101F78CA\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:24:32 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-25033b41-89ed-efb6-c342-ebff71d70691/test-file-e7e3cdb9-6c95-fc57-b061-5109297c4167",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 17 Nov 2023 17:24:30 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792104C670F\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:24:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:24:32.7741199Z",
        "x-ms-file-creation-time": "2023-11-17T17:24:32.7741199Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:24:32.7741199Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-25033b41-89ed-efb6-c342-ebff71d70691/test-file-e7e3cdb9-6c95-fc57-b061-5109297c4167?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Nov 2023 17:24:31 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": "nn7\u002BEH/leTJp7JdFbVuwMa/5JhZ8LFrjuWY1tFc3OU8gA0rXVjXYRYO7Gu0\u002ByEOli2NIRS1zkXEkGlcZsMTbMbNIJGoR2Nt5IeCTwBFspPEikCnz7/QhrHHYszvevpW\u002B4Og59qPYlLOIziNN39Fft3Zl9h\u002Bb6EK/Jnj5OCWgm2NK1d8pM65NSvx2ayDR1MyfePvFeMh1IvimetAq31uO6DLAAgnxNoTHF6wjJXwi7lGrWb8p2yOa1bPng7jdI2qg6IPtENLCrUJ2/WAbUfx7g4x/f4WbZAwPJSxWCrPM6vRBgz35NN1\u002B6at9s93CfoO2a/8rXqPlBIN23eulbKOOqhJs2s6/gk\u002BvAJXZHrEuTaapn560oItQW365g1fy2H0I7wjKVqS09\u002BmwfF4NDObSR5BE/MwF2gmHG35PBf/4[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-152e48fd-af18-141e-2062-580f2cd4748c/test-file-c99f4648-2b7b-5e5c-bec3-01c7fec97674",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:24:31 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79210D1633C\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:24:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:24:33.6456508Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-152e48fd-af18-141e-2062-580f2cd4748c/test-file-c99f4648-2b7b-5e5c-bec3-01c7fec97674?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Nov 2023 17:24:32 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "4T6qSAKmrpm799Wzi5g0w6aBQPO93ZxGic3Zedijc9z[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-152e48fd-af18-141e-2062-580f2cd4748c/test-file-c99f4648-2b7b-5e5c-bec3-01c7fec97674?sv=2024-05-04\u0026se=2023-11-18T17%3A24%3A31Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE79210E44C3F\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:24:33 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:24:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:24:33.6456508Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-25033b41-89ed-efb6-c342-ebff71d70691/test-file-e7e3cdb9-6c95-fc57-b061-5109297c4167?sv=2024-05-04\u0026se=2023-11-18T17%3A24%3A31Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE792109302E1\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:24:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:24:33.2368609Z",
        "x-ms-file-creation-time": "2023-11-17T17:24:32.7741199Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:24:33.2368609Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-25033b41-89ed-efb6-c342-ebff71d70691/test-file-e7e3cdb9-6c95-fc57-b061-5109297c4167?sv=2024-05-04\u0026se=2023-11-18T17%3A24%3A31Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE792109302E1\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:24:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:24:33.2368609Z",
        "x-ms-file-creation-time": "2023-11-17T17:24:32.7741199Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:24:33.2368609Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-25033b41-89ed-efb6-c342-ebff71d70691?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:24:33 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-152e48fd-af18-141e-2062-580f2cd4748c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:24:33 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:24:31.6883121-08:00",
    "RandomSeed": "1335216460",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
