{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f7579783-a3b4-c114-b5fc-2a6e8b355f19?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:01:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D67F840B3\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:01:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-f17cb761-b176-7000-755f-85fb9ed4af2d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:01:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D68075BEF\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:01:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f7579783-a3b4-c114-b5fc-2a6e8b355f19/test-file-b3f72b80-c741-f49f-09ff-6ccf6b36b6ee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:01:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D68127E8C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:01:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:01:47.4321036Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f7579783-a3b4-c114-b5fc-2a6e8b355f19/test-file-b3f72b80-c741-f49f-09ff-6ccf6b36b6ee?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:01:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "siXbYeHqZjtPI2kiQJkus+IpanjpoZ0E98inyXa34PtTNsejhM494/B+js6xMAyU+/mpEYnvthCI1mkYQpzEl0NtzwrRii4U64aIaxPOU8e7E859Dc9xZH+2G61kJKBUufaKQ2ECw3DKlSUCZkv9uYOiXC/NR4p0+2qKGm6Br8fmM7EcQw9muU9dsnipb/4zuGIqwshxhnJsFkf3d6gCSeZdHDKa4XVzPKPfb5URyoxsV2ELVuz/dK0/ry3IbkGnW2iRS1LLmdfttoYkkRbcWku6iiBG9vL5XqiFWzJHq81hOBMsgH46ob6KHqBm2uOWYlThDeQhYWV1mO2qRT2kpQu4w1kCs[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f7579783-a3b4-c114-b5fc-2a6e8b355f19/test-file-b3f72b80-c741-f49f-09ff-6ccf6b36b6ee?sv=Sanitized&se=2024-06-08T01%3A01%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868D681F4EBA\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:01:47 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:01:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:01:47.4321036Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-f17cb761-b176-7000-755f-85fb9ed4af2d/test-file-7ce21035-55f6-3a22-81b9-24c1f0a30aa2?sv=Sanitized&se=2024-06-08T01%3A01%3A46Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-f17cb761-b176-7000-755f-85fb9ed4af2d/test-file-7ce21035-55f6-3a22-81b9-24c1f0a30aa2?sv=Sanitized&se=2024-06-08T01%3A01%3A46Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-07T01:01:47.0000000Z",
        "x-ms-file-last-write-time": "2024-06-07T01:01:47.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D684A4353\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:01:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:01:47.7975891Z",
        "x-ms-file-creation-time": "2024-06-07T01:01:47.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:01:47.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-f17cb761-b176-7000-755f-85fb9ed4af2d/test-file-7ce21035-55f6-3a22-81b9-24c1f0a30aa2?sv=Sanitized&se=2024-06-08T01%3A01%3A46Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-f7579783-a3b4-c114-b5fc-2a6e8b355f19/test-file-b3f72b80-c741-f49f-09ff-6ccf6b36b6ee?sv=Sanitized&se=2024-06-08T01%3A01%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D685DF0C5\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:01:47 GMT",
        "x-ms-content-crc64": "gbwy5kswd/c=",
        "x-ms-file-last-write-time": "2024-06-07T01:01:47.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f7579783-a3b4-c114-b5fc-2a6e8b355f19/test-file-b3f72b80-c741-f49f-09ff-6ccf6b36b6ee?sv=Sanitized&se=2024-06-08T01%3A01%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868D681F4EBA\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868D681F4EBA\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:01:47 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:01:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-f17cb761-b176-7000-755f-85fb9ed4af2d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:01:46 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f7579783-a3b4-c114-b5fc-2a6e8b355f19?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:01:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:01:46.0256457-05:00",
    "RandomSeed": "652172640",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
