{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-640ffcc3-67d9-dd35-d6d7-96413a38da24?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9CA10C683\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-b2c8e358-308a-d162-da0c-4bc4b720af64?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9CA1BB1BC\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-b2c8e358-308a-d162-da0c-4bc4b720af64/test-file-a42c8c4b-6033-3cc6-b2aa-b1fd265dd0b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:51 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9CA26F83E\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-28T23:26:51.5540030Z",
        "x-ms-file-creation-time": "2024-06-28T23:26:51.5540030Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-28T23:26:51.5540030Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-640ffcc3-67d9-dd35-d6d7-96413a38da24/test-file-75c92d9a-a3c9-e52f-d1af-d18686350567",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9CA33F12E\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:26:51.6390190Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-640ffcc3-67d9-dd35-d6d7-96413a38da24/test-file-75c92d9a-a3c9-e52f-d1af-d18686350567?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "7XLy/vndyBFhcTWwS5WTDR1WvMMsIEEyYaGoWbz2xgBk5TE9FEneS6vHV1Ca/5OBMpcAyUO+rs0xwJ1YNW5Vaqs1S2ZjVfnTd3EYZcnwmGINJick9fy9pTZkDFSshhU9cuylZLMtHt2eLVHSpkgDQCc6Sw9HMHWveKYv/0ilJ/Fb2/PcSzOu4AhJhsiq6//uYMwscjoG9UF39ewN/R6U+AVgdstVJ/T0jGsH/amsBIymQZ58eLW2VeWxZFZGoeLptY3CSnQzmDjXN+XP/viYy/FfZryAGH9QqSHmpMOeruuIHkcb6boYcqhlpEHP51btGZhk5jomaJ0OcaFTTfR1OYn6RuCwf[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-640ffcc3-67d9-dd35-d6d7-96413a38da24/test-file-75c92d9a-a3c9-e52f-d1af-d18686350567?sv=Sanitized&se=2024-06-29T23%3A26%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9CA3D65A9\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:51 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:26:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:26:51.6390190Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-b2c8e358-308a-d162-da0c-4bc4b720af64/test-file-a42c8c4b-6033-3cc6-b2aa-b1fd265dd0b6?sv=Sanitized&se=2024-06-29T23%3A26%3A51Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-28T23:26:51.0000000Z",
        "x-ms-file-last-write-time": "2024-06-28T23:26:51.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9CA5665D3\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-28T23:26:51.8648275Z",
        "x-ms-file-creation-time": "2024-06-28T23:26:51.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-28T23:26:51.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-b2c8e358-308a-d162-da0c-4bc4b720af64/test-file-a42c8c4b-6033-3cc6-b2aa-b1fd265dd0b6?sv=Sanitized&se=2024-06-29T23%3A26%3A51Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-640ffcc3-67d9-dd35-d6d7-96413a38da24/test-file-75c92d9a-a3c9-e52f-d1af-d18686350567?sv=Sanitized&se=2024-06-29T23%3A26%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9CA61D5DD\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:51 GMT",
        "x-ms-content-crc64": "+igGm6D3fCA=",
        "x-ms-file-last-write-time": "2024-06-28T23:26:51.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-640ffcc3-67d9-dd35-d6d7-96413a38da24/test-file-75c92d9a-a3c9-e52f-d1af-d18686350567?sv=Sanitized&se=2024-06-29T23%3A26%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC97C9CA3D65A9\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9CA3D65A9\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:51 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:26:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-b2c8e358-308a-d162-da0c-4bc4b720af64?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-640ffcc3-67d9-dd35-d6d7-96413a38da24?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-28T16:26:51.6108602-07:00",
    "RandomSeed": "2116053026",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
