{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-987a94b0-6e01-1ce7-5c75-f4cc9b733e07?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9C8C399F1\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a48a7004-d8a0-acc6-acf0-c33c385cc47c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9C8CEA216\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-987a94b0-6e01-1ce7-5c75-f4cc9b733e07/test-file-0df3d493-b4c6-f509-d87a-f0fc7f6afa27",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9C8D88B88\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:26:49.3623176Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-987a94b0-6e01-1ce7-5c75-f4cc9b733e07/test-file-0df3d493-b4c6-f509-d87a-f0fc7f6afa27?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "oFj0AeXI6MDhteJJlqV9HMithQPJigYqY4taPrGFbNk7uzqIwLxYOj85AsfTp4d0e1qYvimWIxZSyZ5ZbqoPXEkIDttq9FwLVEvDkIc/VrwE5sJW7K2wpJgkNvYe/syUKqZ+y5isCYf+jWrd05KOE3PhVYfouHCbV2pCRb5m7VV/LmbhwIokWNw7WF9D0tAFliODPKlErHE143MtacTJmJ8UXqQsrFLovfyrrGARV4WaPa+a4rCsO4L0q90W9u8Ycr+/L3Qr2enRm3+smP8RJIvukysVLrXvZyMiNwF00cYNkzqgUScQbmTFyUcx/6KC44ZSKGPDAkQKz8dQCaHoXMm4nwTFc[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-987a94b0-6e01-1ce7-5c75-f4cc9b733e07/test-file-0df3d493-b4c6-f509-d87a-f0fc7f6afa27?sv=Sanitized&se=2024-06-29T23%3A26%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9C8E24E1B\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:49 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:26:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:26:49.3623176Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a48a7004-d8a0-acc6-acf0-c33c385cc47c/test-file-167e4f0d-dcd7-0e27-dd40-cc4c8c18d9fb?sv=Sanitized&se=2024-06-29T23%3A26%3A49Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a48a7004-d8a0-acc6-acf0-c33c385cc47c/test-file-167e4f0d-dcd7-0e27-dd40-cc4c8c18d9fb?sv=Sanitized&se=2024-06-29T23%3A26%3A49Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-28T23:26:49.0000000Z",
        "x-ms-file-last-write-time": "2024-06-28T23:26:49.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9C90389EB\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-28T23:26:49.6440811Z",
        "x-ms-file-creation-time": "2024-06-28T23:26:49.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-28T23:26:49.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a48a7004-d8a0-acc6-acf0-c33c385cc47c/test-file-167e4f0d-dcd7-0e27-dd40-cc4c8c18d9fb?sv=Sanitized&se=2024-06-29T23%3A26%3A49Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-987a94b0-6e01-1ce7-5c75-f4cc9b733e07/test-file-0df3d493-b4c6-f509-d87a-f0fc7f6afa27?sv=Sanitized&se=2024-06-29T23%3A26%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9C910594D\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:49 GMT",
        "x-ms-content-crc64": "8BASloZwWPY=",
        "x-ms-file-last-write-time": "2024-06-28T23:26:49.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-987a94b0-6e01-1ce7-5c75-f4cc9b733e07/test-file-0df3d493-b4c6-f509-d87a-f0fc7f6afa27?sv=Sanitized&se=2024-06-29T23%3A26%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC97C9C8E24E1B\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9C8E24E1B\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:49 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:26:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a48a7004-d8a0-acc6-acf0-c33c385cc47c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-987a94b0-6e01-1ce7-5c75-f4cc9b733e07?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-28T16:26:49.4650513-07:00",
    "RandomSeed": "748247981",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
