{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2968e225-d853-f074-2574-0c80c8968ad7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 16 Nov 2023 18:40:28 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D38168F1B7\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:40:28 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-29b6fa39-613d-c754-94c8-97bc75a18737?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:40:28 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D381A931F9\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:40:29 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2968e225-d853-f074-2574-0c80c8968ad7/test-file-c28ec7e0-5841-178f-e7fb-2e10439067e2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 16 Nov 2023 18:40:29 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D381C1E9AB\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:40:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:40:29.2514219Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2968e225-d853-f074-2574-0c80c8968ad7/test-file-c28ec7e0-5841-178f-e7fb-2e10439067e2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 16 Nov 2023 18:40:29 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "dkXWAcle9MlmUVdbXgXj/93azxd5A8wYFu1Cp68Vm0QJ5Y8VwxmaPrrXwLvkhfXmvz6UKVx8B3J4vevcHE0ZULUSUnh2zTvEQJBcokMQM5D4W\u002BdxgXLojN4cnQUuviFtvXAG0jJ8cPIC0OnLIGUvaIpa5MFmp89DKsWaWTA1loFu7\u002BTTCmFde\u002Br1b7CIHGt47TV709pgBhahwqdt4RbCzDpoXTGBXF0o/GjWcTgeuw5aIWz7usKnDujOMUe58JnUMqJ2IL8695HXUtdxipXdggeYEsCqxxJ3wE5JsioVbgvOAT6Vp5pPICrbI2frNoNS8K8/IN7ZKWuP/l9w8ERmwePLoohXR9psSfKVz6OrjIrK98J71k4t9NjSBak73y/ldGKDH5P7\u002BqjU0tfrRFrI5HLVpfmC6\u002BuVna6whUExMWrCsFtBJ2z3z/wZpgN2QrB9CiE2ZTk2Y4h27YLkS3VmoqFtKZP/hr0F3tb9aEXoH1v9Mnog\u002B8swjE3SyjnpEoSGswRhCRkdfoNjMIdjOfpDjs4n5xj6RqfVPJxGLLuDG8tSdrVBhhVC4LP3vcpEzVJSjzxqwitri21cjM1811LI4BW7EMJFAgi55AZlA4ndkW5J85x/GFig5upI5PlIxQlgL9y1iLyQDY0zsd4kBojkf/tfMuO2SMe8GyrY/B0OcR4=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D381D26214\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:40:29 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "9gJ508WhBtY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2968e225-d853-f074-2574-0c80c8968ad7/test-file-c28ec7e0-5841-178f-e7fb-2e10439067e2?sv=2023-11-03\u0026se=2023-11-17T18%3A40%3A29Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D381D26214\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:40:29 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:40:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:40:29.2514219Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-29b6fa39-613d-c754-94c8-97bc75a18737/test-file-abc06ac1-1906-d1ff-dd27-12444d17c213?sv=2023-11-03\u0026se=2023-11-17T18%3A40%3A29Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-29b6fa39-613d-c754-94c8-97bc75a18737/test-file-abc06ac1-1906-d1ff-dd27-12444d17c213?sv=2023-11-03\u0026se=2023-11-17T18%3A40%3A29Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "512",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D382179E3C\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:40:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T18:40:29.8131004Z",
        "x-ms-file-creation-time": "2023-11-16T18:40:29.8131004Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T18:40:29.8131004Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-29b6fa39-613d-c754-94c8-97bc75a18737/test-file-abc06ac1-1906-d1ff-dd27-12444d17c213?sv=2023-11-03\u0026se=2023-11-17T18%3A40%3A29Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-2968e225-d853-f074-2574-0c80c8968ad7/test-file-c28ec7e0-5841-178f-e7fb-2e10439067e2?sv=2023-11-03\u0026se=2023-11-17T18%3A40%3A29Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D3822E7E36\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:40:29 GMT",
        "x-ms-content-crc64": "9gJ508WhBtY=",
        "x-ms-file-last-write-time": "2023-11-16T18:40:29.9630134Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2968e225-d853-f074-2574-0c80c8968ad7/test-file-c28ec7e0-5841-178f-e7fb-2e10439067e2?sv=2023-11-03\u0026se=2023-11-17T18%3A40%3A29Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE6D381D26214\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D381D26214\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:40:29 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:40:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:40:29.2514219Z"
      },
      "ResponseBody": "dkXWAcle9MlmUVdbXgXj/93azxd5A8wYFu1Cp68Vm0QJ5Y8VwxmaPrrXwLvkhfXmvz6UKVx8B3J4vevcHE0ZULUSUnh2zTvEQJBcokMQM5D4W\u002BdxgXLojN4cnQUuviFtvXAG0jJ8cPIC0OnLIGUvaIpa5MFmp89DKsWaWTA1loFu7\u002BTTCmFde\u002Br1b7CIHGt47TV709pgBhahwqdt4RbCzDpoXTGBXF0o/GjWcTgeuw5aIWz7usKnDujOMUe58JnUMqJ2IL8695HXUtdxipXdggeYEsCqxxJ3wE5JsioVbgvOAT6Vp5pPICrbI2frNoNS8K8/IN7ZKWuP/l9w8ERmwePLoohXR9psSfKVz6OrjIrK98J71k4t9NjSBak73y/ldGKDH5P7\u002BqjU0tfrRFrI5HLVpfmC6\u002BuVna6whUExMWrCsFtBJ2z3z/wZpgN2QrB9CiE2ZTk2Y4h27YLkS3VmoqFtKZP/hr0F3tb9aEXoH1v9Mnog\u002B8swjE3SyjnpEoSGswRhCRkdfoNjMIdjOfpDjs4n5xj6RqfVPJxGLLuDG8tSdrVBhhVC4LP3vcpEzVJSjzxqwitri21cjM1811LI4BW7EMJFAgi55AZlA4ndkW5J85x/GFig5upI5PlIxQlgL9y1iLyQDY0zsd4kBojkf/tfMuO2SMe8GyrY/B0OcR4="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-29b6fa39-613d-c754-94c8-97bc75a18737?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:40:30 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2968e225-d853-f074-2574-0c80c8968ad7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:40:30 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-16T10:40:29.2918828-08:00",
    "RandomSeed": "1790107781",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
