{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86611fa0-59ea-4d07-2801-d77f7470ec95?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:36:51 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7290CFF3085\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:36:51 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-30195525-2f47-1941-65de-17153b962976?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:36:51 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7290D0AEC73\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:36:52 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86611fa0-59ea-4d07-2801-d77f7470ec95/test-file-9a39709a-143e-1953-d66d-df7427b57968",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 07 Aug 2024 21:36:51 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7290D1663D5\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:36:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T21:36:52.0891095Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86611fa0-59ea-4d07-2801-d77f7470ec95/test-file-9a39709a-143e-1953-d66d-df7427b57968?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 07 Aug 2024 21:36:51 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "6QEkYfpKpl/7BixkhmD1Y/tBQCrHnaLaLI4p8sXZ0GHpwqjI8Pn31bKXG0MvUO/Edfu1/efBFUxfSjRrILOaIjbLe8S3LHICSmt4MIFfqtueZXzJI9J5KKxcaabEi7X+/PkMZNUrDEmIs7N8SOXKAKBZzLo30f5jUVIXW8PMPb62ejOIUkUFc1gzQXAf/eDHkWkGa7/6xyv6qBODFLGGvHX0xs6yQq1aU1liA4+ORFNyT8laxdL/u7MHjakxgl+mrYT7KjcRFU+7qxhml8ObbGS/EcToLPaj9QobqrQEKND6vFYLkxkcYDp6nhq5mCTvbCFFcnCavoGOVzQt9mqat4JHa9ttkNlKorGJbo3c6VzlKz6Tv7ZfX/3UfTvk72nQ3+eXcS1IgdtI+s+/EVDzsW3XR8ssB/fM5wzdmBOdZrNIuY6lRHcvnaliSsXmoE6t4MvNDKido9fvy4ogaujIqpQcdlfBTm31qKkhyrwy5Ue+MLhIz1kKqhW3tXntDzLAmqAxyin27JJd2GT+fNkaveZCYjowf9o6EcxBCZjzB5h3YC8cARodx0Ml6vf0DC48nPiTq6z4kBrF9rhdtOL6adDLhxup/rvLJZr2C5XjRgWeBW2fYFzsftAVVgtiwBJhK4AmKIQSkp49x4URAoWE4q+yvq91Wghz3whLlKevaWQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7290D23F65B\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:36:52 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "rJUCKGEjnmw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86611fa0-59ea-4d07-2801-d77f7470ec95/test-file-9a39709a-143e-1953-d66d-df7427b57968?sv=Sanitized&se=2024-08-08T21%3A36%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DCB7290D23F65B\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:36:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 21:36:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T21:36:52.0891095Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-30195525-2f47-1941-65de-17153b962976/test-file-abb48c91-5c49-37de-a5fa-8d208f474944?sv=Sanitized&se=2024-08-08T21%3A36%3A51Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-30195525-2f47-1941-65de-17153b962976/test-file-abb48c91-5c49-37de-a5fa-8d208f474944?sv=Sanitized&se=2024-08-08T21%3A36%3A51Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-type": "text/plain",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-08-07T21:36:52.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7290D48AFD5\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:36:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T21:36:52.4177365Z",
        "x-ms-file-creation-time": "2024-08-07T21:36:52.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T21:36:52.4177365Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-30195525-2f47-1941-65de-17153b962976/test-file-abb48c91-5c49-37de-a5fa-8d208f474944?sv=Sanitized&se=2024-08-08T21%3A36%3A51Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-86611fa0-59ea-4d07-2801-d77f7470ec95/test-file-9a39709a-143e-1953-d66d-df7427b57968?sv=sanitized-value&se=2024-08-08T21%3A36%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7290D6B7511\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:36:52 GMT",
        "x-ms-content-crc64": "rJUCKGEjnmw=",
        "x-ms-file-last-write-time": "2024-08-07T21:36:52.4177365Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86611fa0-59ea-4d07-2801-d77f7470ec95/test-file-9a39709a-143e-1953-d66d-df7427b57968?sv=Sanitized&se=2024-08-08T21%3A36%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB7290D23F65B\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DCB7290D23F65B\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:36:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 21:36:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "ba[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-30195525-2f47-1941-65de-17153b962976?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:36:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86611fa0-59ea-4d07-2801-d77f7470ec95?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:36:52 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-07T14:36:51.3594942-07:00",
    "RandomSeed": "295466343",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
