{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e87f79d3-6aad-88ca-9ee4-1e96381684ba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:25:50 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CD1CF484A\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:25:51 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57612223-abc7-2f2c-3949-943e76678e61?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:25:50 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CD1D87EEF\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:25:51 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e87f79d3-6aad-88ca-9ee4-1e96381684ba/test-file-5f47f918-bd08-bbfc-05e3-67eb92e7e6d4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 06 Aug 2024 17:25:51 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CD1E33494\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:25:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-06T17:25:51.5399062Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e87f79d3-6aad-88ca-9ee4-1e96381684ba/test-file-5f47f918-bd08-bbfc-05e3-67eb92e7e6d4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 06 Aug 2024 17:25:51 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "gmXa8f4FPWz6YvmtqAkl2v6j+lhREbWKSZXvmkT7s77LSAj/6i/1GckDdunzInN+yP9WID00ZnCvUKhpFqMn/6464l8BJu/OruCOTpvMliYicNJFpZOBluGXT5qHjAMm23c6uEATfaEPh3JcphjV47mBR6XQ4lkbuUt+addVRiLdaHIjkt7lDvMwNR0gJPDIwmzgBkVdVfkdH//1lRPKukBQfz2lsVDbmziyoKw7+pRatadqdEDcgBJ5BnPe8HnfZXvdz6WzIxAbBWoMqrVN4SRqm99sYEb/c/8qLKvd/Ku+0zowXirup5KWT2/W0NVdKyROc1SZcgU13VymiPZlPQi+TdZ7H[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e87f79d3-6aad-88ca-9ee4-1e96381684ba/test-file-5f47f918-bd08-bbfc-05e3-67eb92e7e6d4?sv=Sanitized&se=2024-08-07T17%3A25%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB63CD1EF67BD\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:25:51 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 06 Aug 2024 17:25:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-06T17:25:51.5399062Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57612223-abc7-2f2c-3949-943e76678e61/test-file-f25ac26d-b727-9685-9c08-8efd85ca5f84?sv=Sanitized&se=2024-08-07T17%3A25%3A51Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57612223-abc7-2f2c-3949-943e76678e61/test-file-f25ac26d-b727-9685-9c08-8efd85ca5f84?sv=Sanitized&se=2024-08-07T17%3A25%3A51Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-08-06T17:25:51.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CD20AABD0\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:25:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-06T17:25:51.7975504Z",
        "x-ms-file-creation-time": "2024-08-06T17:25:51.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-06T17:25:51.7975504Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57612223-abc7-2f2c-3949-943e76678e61/test-file-f25ac26d-b727-9685-9c08-8efd85ca5f84?sv=Sanitized&se=2024-08-07T17%3A25%3A51Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-e87f79d3-6aad-88ca-9ee4-1e96381684ba/test-file-5f47f918-bd08-bbfc-05e3-67eb92e7e6d4?sv=sanitized-value&se=2024-08-07T17%3A25%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CD214BC70\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:25:51 GMT",
        "x-ms-content-crc64": "SDDT5mXKMOs=",
        "x-ms-file-last-write-time": "2024-08-06T17:25:51.7975504Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e87f79d3-6aad-88ca-9ee4-1e96381684ba/test-file-5f47f918-bd08-bbfc-05e3-67eb92e7e6d4?sv=Sanitized&se=2024-08-07T17%3A25%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB63CD1EF67BD\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB63CD1EF67BD\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:25:51 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 06 Aug 2024 17:25:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57612223-abc7-2f2c-3949-943e76678e61?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:25:51 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e87f79d3-6aad-88ca-9ee4-1e96381684ba?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:25:51 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-06T12:25:51.1717857-05:00",
    "RandomSeed": "968195495",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
