{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1298e5e8-33c1-64e4-54f3-b2e5c55a011c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9CABDD581\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d8233628-9426-3ed0-038c-af52dcc8922e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9CAC85331\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1298e5e8-33c1-64e4-54f3-b2e5c55a011c/test-file-057dd3d0-7c76-530f-d8f0-a963d2499605",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9CAD263F3\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:26:52.6774259Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1298e5e8-33c1-64e4-54f3-b2e5c55a011c/test-file-057dd3d0-7c76-530f-d8f0-a963d2499605?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "KHN0TpsBPne/qaexk/bZcRUDaHKslIv4bUF9YyWtWe3GH2j5ry2mZIubkGYb8yiYMoOKDBAt8pToe+BahNtSEVC563SN4MLnXAPnEQQk3XkY5DChI0zdmC3UEDNNTOCwSH4WYgi0ClHBo7ANRuCPw55mQaCqse4D3FNHuc+Pmg8jN8mFDnpxZNne33+cz1FMRE2U5gs/BZaQEoa1bVGBMgmg6g8XCrUk9dzGy9FuZwwB+nSC+rQE4zEy9fv0vPeHXK12++VCNDqXcPAueTnFIap6s3Ld/zdVnAbe5RS6MDjlPm8j+Gwnv8U564rD1Wr3bdRQeQmEql12IV7fY08l3EC3STrKo[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1298e5e8-33c1-64e4-54f3-b2e5c55a011c/test-file-057dd3d0-7c76-530f-d8f0-a963d2499605?sv=Sanitized&se=2024-06-29T23%3A26%3A52Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9CADB635A\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:26:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-28T23:26:52.6774259Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d8233628-9426-3ed0-038c-af52dcc8922e/test-file-cce5f377-f7d4-af2a-560d-164fab2b2e07?sv=Sanitized&se=2024-06-29T23%3A26%3A52Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-28T23:26:52.0000000Z",
        "x-ms-file-last-write-time": "2024-06-28T23:26:52.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9CAFAF288\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-28T23:26:52.9432200Z",
        "x-ms-file-creation-time": "2024-06-28T23:26:52.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-28T23:26:52.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d8233628-9426-3ed0-038c-af52dcc8922e/test-file-cce5f377-f7d4-af2a-560d-164fab2b2e07?sv=Sanitized&se=2024-06-29T23%3A26%3A52Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-1298e5e8-33c1-64e4-54f3-b2e5c55a011c/test-file-057dd3d0-7c76-530f-d8f0-a963d2499605?sv=Sanitized&se=2024-06-29T23%3A26%3A52Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC97C9CB079ADD\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:53 GMT",
        "x-ms-content-crc64": "/c6DPKEqvmY=",
        "x-ms-file-last-write-time": "2024-06-28T23:26:52.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1298e5e8-33c1-64e4-54f3-b2e5c55a011c/test-file-057dd3d0-7c76-530f-d8f0-a963d2499605?sv=Sanitized&se=2024-06-29T23%3A26%3A52Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC97C9CADB635A\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC97C9CADB635A\"",
        "Last-Modified": "Fri, 28 Jun 2024 23:26:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 28 Jun 2024 23:26:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-d8233628-9426-3ed0-038c-af52dcc8922e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:53 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1298e5e8-33c1-64e4-54f3-b2e5c55a011c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 28 Jun 2024 23:26:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-28T16:26:52.8300718-07:00",
    "RandomSeed": "469592582",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
