{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b219af39-b8d1-0472-a6cd-339bd91e64b0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 16 Nov 2023 18:40:15 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D37A392319\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:40:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-69ea7349-e852-a669-4223-bd7a4628290b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:40:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D37A80BE2A\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:40:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b219af39-b8d1-0472-a6cd-339bd91e64b0/test-file-6f683cc0-f301-3c0d-bd08-bda565a45bb5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 16 Nov 2023 18:40:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D37A9A394A\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:40:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:40:17.2482652Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b219af39-b8d1-0472-a6cd-339bd91e64b0/test-file-6f683cc0-f301-3c0d-bd08-bda565a45bb5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 16 Nov 2023 18:40:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "w/1vRUrOSEgTJIjvEoilTxUXxEjX4fOpO4DdIBwdYQvjgJPQoz1bn4L2O6D23JlnxwaYY3l3KuEKxgrK8Cgs9cN9C5H11KzYvCXF4aZSsl7mdlgVhf6RbFWxxt0zka5ayUbdedEHcfJZwKZUskk7txOr43rPF3DE7J48Qw7PpCp2ahhgdDmN3wRmu8VXPLoMdg7Jh64zi7LVGI0yyy7kiht83Ucx20LaHQN2aVuqba/kL8z/BR18Qt5lilysWxPVgTGq215y25vL72mqvSJWK6vdTZth5IT9AJpoy1HmLsLvoOcqAJFQcVQxNBaz0YW8Dl\u002Bwzg14c52srNvECQ9K5MGnuxw7LCoajdxHMLBuSi4VrLzyNl\u002B1dy1JflS2jGhE509VDBZpgeI0lUAxMEPtPWGsr11SV65h8UPv8a7WZAFzAkhgGD4YqyravaAehEfpXEDyCdwL8o\u002Bh9BrTepAzXjE/vS76jCQjlAMyeJoNQmz8BZRt41okaBC5vyQjRTGapl9u38cZ788bz3TZ2Hr1k7Gu1nX7xXvWGlQdQc0A/0/Sl9E7n2Kl4xXEUhPmS4\u002BWwyxzdW68nuHjmMRy\u002B60CG9AlB0GouvRPCfNfN3No8M/Eh32gjYrgFfjwVwadMudowTdCwENO7Qk4I2x6XWdte6f1rnMvYY5GRPFIuGPtsdY=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D37AA9C767\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:40:17 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "IiUz7m3s0pI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b219af39-b8d1-0472-a6cd-339bd91e64b0/test-file-6f683cc0-f301-3c0d-bd08-bda565a45bb5?sv=2023-11-03\u0026se=2023-11-17T18%3A40%3A17Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D37AA9C767\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:40:17 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:40:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:40:17.2482652Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-69ea7349-e852-a669-4223-bd7a4628290b/test-file-575a2292-c128-895c-0afe-1773f8dee68d?sv=2023-11-03\u0026se=2023-11-17T18%3A40%3A17Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-69ea7349-e852-a669-4223-bd7a4628290b/test-file-575a2292-c128-895c-0afe-1773f8dee68d?sv=2023-11-03\u0026se=2023-11-17T18%3A40%3A17Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "512",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D37AF48367\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:40:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T18:40:17.8389863Z",
        "x-ms-file-creation-time": "2023-11-16T18:40:17.8389863Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T18:40:17.8389863Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-69ea7349-e852-a669-4223-bd7a4628290b/test-file-575a2292-c128-895c-0afe-1773f8dee68d?sv=2023-11-03\u0026se=2023-11-17T18%3A40%3A17Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-b219af39-b8d1-0472-a6cd-339bd91e64b0/test-file-6f683cc0-f301-3c0d-bd08-bda565a45bb5?sv=2023-11-03\u0026se=2023-11-17T18%3A40%3A17Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D37B0FCF8D\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:40:18 GMT",
        "x-ms-content-crc64": "IiUz7m3s0pI=",
        "x-ms-file-last-write-time": "2023-11-16T18:40:18.0178829Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b219af39-b8d1-0472-a6cd-339bd91e64b0/test-file-6f683cc0-f301-3c0d-bd08-bda565a45bb5?sv=2023-11-03\u0026se=2023-11-17T18%3A40%3A17Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE6D37AA9C767\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D37AA9C767\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:40:17 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:40:17 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:40:17.2482652Z"
      },
      "ResponseBody": "w/1vRUrOSEgTJIjvEoilTxUXxEjX4fOpO4DdIBwdYQvjgJPQoz1bn4L2O6D23JlnxwaYY3l3KuEKxgrK8Cgs9cN9C5H11KzYvCXF4aZSsl7mdlgVhf6RbFWxxt0zka5ayUbdedEHcfJZwKZUskk7txOr43rPF3DE7J48Qw7PpCp2ahhgdDmN3wRmu8VXPLoMdg7Jh64zi7LVGI0yyy7kiht83Ucx20LaHQN2aVuqba/kL8z/BR18Qt5lilysWxPVgTGq215y25vL72mqvSJWK6vdTZth5IT9AJpoy1HmLsLvoOcqAJFQcVQxNBaz0YW8Dl\u002Bwzg14c52srNvECQ9K5MGnuxw7LCoajdxHMLBuSi4VrLzyNl\u002B1dy1JflS2jGhE509VDBZpgeI0lUAxMEPtPWGsr11SV65h8UPv8a7WZAFzAkhgGD4YqyravaAehEfpXEDyCdwL8o\u002Bh9BrTepAzXjE/vS76jCQjlAMyeJoNQmz8BZRt41okaBC5vyQjRTGapl9u38cZ788bz3TZ2Hr1k7Gu1nX7xXvWGlQdQc0A/0/Sl9E7n2Kl4xXEUhPmS4\u002BWwyxzdW68nuHjmMRy\u002B60CG9AlB0GouvRPCfNfN3No8M/Eh32gjYrgFfjwVwadMudowTdCwENO7Qk4I2x6XWdte6f1rnMvYY5GRPFIuGPtsdY="
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-69ea7349-e852-a669-4223-bd7a4628290b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:40:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b219af39-b8d1-0472-a6cd-339bd91e64b0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:40:18 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-16T10:40:17.2841606-08:00",
    "RandomSeed": "488621294",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
