{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9e55ae02-be29-1e60-659c-e1c0128a83ad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:28:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD6A0F71AE\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:28:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0c60d0b4-e577-9cd2-deb1-d40b7a52f14a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:28:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD6A197308\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:28:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9e55ae02-be29-1e60-659c-e1c0128a83ad/test-file-25ec1d25-7426-1355-c899-ee61fef99d9a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 30 Jan 2025 01:28:34 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD6A229FF1\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:28:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:28:34.9615874Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9e55ae02-be29-1e60-659c-e1c0128a83ad/test-file-25ec1d25-7426-1355-c899-ee61fef99d9a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 30 Jan 2025 01:28:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "zpe+r6iZQcUlUmLM7ugufZQbRy6K2EfFvN+K2ll3benmn9ftANtMhu7xEQ8lze8CTb0MCRw7MvVQ+fLJD2ZsreV45k8QQX24zsE/mcc3n+/vh42ba2PMq2zhnQfog3aIhGQqrOag8QtAUzpb+5kuGFkD2ojZ0EGBqzviL6R1z0tLtxRiDfMITpWBWhcoca/TsoSu5KntrrQiqQCqvcFnyoTvD0OEywpl+4vyWHUqWDqLDn0fx+qiXQlgQGTyXZDTGZCTOWJsTuZ6SOke+1Y++FDGH69ESAKZTbE6JIulcp36Hj7llh/YH7+WpH8Ag2KyIUcTLD7hj9GN+euwMSpb1NVMI9wXW[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9e55ae02-be29-1e60-659c-e1c0128a83ad/test-file-25ec1d25-7426-1355-c899-ee61fef99d9a?sv=Sanitized&se=2025-01-31T01%3A28%3A35Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CD6A29A3C6\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:28:35 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:28:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:28:34.9615874Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0c60d0b4-e577-9cd2-deb1-d40b7a52f14a/test-file-6e9f7176-21f4-be79-f547-688b714ee7ec?sv=Sanitized&se=2025-01-31T01%3A28%3A35Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0c60d0b4-e577-9cd2-deb1-d40b7a52f14a/test-file-6e9f7176-21f4-be79-f547-688b714ee7ec?sv=Sanitized&se=2025-01-31T01%3A28%3A35Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD6A3F57EC\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:28:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-30T01:28:35.1487980Z",
        "x-ms-file-creation-time": "2025-01-30T01:28:35.1487980Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-30T01:28:35.1487980Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0c60d0b4-e577-9cd2-deb1-d40b7a52f14a/test-file-6e9f7176-21f4-be79-f547-688b714ee7ec?sv=Sanitized&se=2025-01-31T01%3A28%3A35Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-9e55ae02-be29-1e60-659c-e1c0128a83ad/test-file-25ec1d25-7426-1355-c899-ee61fef99d9a?sv=sanitized-value&se=2025-01-31T01%3A28%3A35Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CD6A4B1608\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:28:35 GMT",
        "x-ms-content-crc64": "4wvdcD2Ub4k=",
        "x-ms-file-last-write-time": "2025-01-30T01:28:35.2257544Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9e55ae02-be29-1e60-659c-e1c0128a83ad/test-file-25ec1d25-7426-1355-c899-ee61fef99d9a?sv=Sanitized&se=2025-01-31T01%3A28%3A35Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD40CD6A29A3C6\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CD6A29A3C6\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:28:35 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:28:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-0c60d0b4-e577-9cd2-deb1-d40b7a52f14a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:28:35 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9e55ae02-be29-1e60-659c-e1c0128a83ad?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:28:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-29T17:28:35.0252959-08:00",
    "RandomSeed": "1067133153",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
