{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7299c600-9492-235d-f6cd-d65ab821fd33?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 29 Apr 2024 04:52:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68082AD58699\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:26 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-52570435-85e6-1e3d-e9bc-a598cc8db5e7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:52:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68082AE416E9\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:26 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-52570435-85e6-1e3d-e9bc-a598cc8db5e7/test-file-3bae4d4b-6810-70e4-4099-e5d23fc571a7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 29 Apr 2024 04:52:25 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68082AEFD8CD\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:52:26.9156557Z",
        "x-ms-file-creation-time": "2024-04-29T04:52:26.9156557Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-29T04:52:26.9156557Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7299c600-9492-235d-f6cd-d65ab821fd33/test-file-a5d1a65d-706c-ffa1-1c52-9de48680f930",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 29 Apr 2024 04:52:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68082AF9DF49\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-29T04:52:26.9813577Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7299c600-9492-235d-f6cd-d65ab821fd33/test-file-a5d1a65d-706c-ffa1-1c52-9de48680f930?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 29 Apr 2024 04:52:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "ErycQuG95OBOPzoGn5U6aO2WjzcweRRMurr6Tazr7I3ADyDzUzThY6q81D2FBr9iLxTpWX8dLZioT4gnw5Y0Y1KtRY90RxW5tCuNdKTWxrP6mB6XAZINo+KISgOruqATiHHr2MEv7ej/L6VTj7n00ojULCt4nGG/n6Kt6/wRDfqLeesz6+7yyqo2mNLtuRMpk3h71411m+wPKzgfggHr7iGryBXNweaZ4mGAQQSP0uaOg1iDlTZsFd7/I7+200ioSqmwQvD9W9KR4fQr9FnngFlSkP+paFjrPrI3zp0n4w4Z2Pda3pD1kCiF8bRBQCGFF6NlZEJJ/uFRxQM9xo01av3mERxhj[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7299c600-9492-235d-f6cd-d65ab821fd33/test-file-a5d1a65d-706c-ffa1-1c52-9de48680f930?sv=2024-05-04&se=2024-04-30T04%3A52%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC68082B0305AF\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:27 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 29 Apr 2024 04:52:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-29T04:52:26.9813577Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-52570435-85e6-1e3d-e9bc-a598cc8db5e7/test-file-3bae4d4b-6810-70e4-4099-e5d23fc571a7?sv=2024-05-04&se=2024-04-30T04%3A52%3A25Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-04-29T04:52:26.0000000Z",
        "x-ms-file-last-write-time": "2024-04-29T04:52:27.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68082B207E9B\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:52:27.2344731Z",
        "x-ms-file-creation-time": "2024-04-29T04:52:26.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-29T04:52:27.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-52570435-85e6-1e3d-e9bc-a598cc8db5e7/test-file-3bae4d4b-6810-70e4-4099-e5d23fc571a7?sv=2024-05-04&se=2024-04-30T04%3A52%3A25Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-7299c600-9492-235d-f6cd-d65ab821fd33/test-file-a5d1a65d-706c-ffa1-1c52-9de48680f930?sv=2024-05-04&se=2024-04-30T04%3A52%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68082B2BC795\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:27 GMT",
        "x-ms-content-crc64": "MgGL7LY+bEo=",
        "x-ms-file-last-write-time": "2024-04-29T04:52:27.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7299c600-9492-235d-f6cd-d65ab821fd33/test-file-a5d1a65d-706c-ffa1-1c52-9de48680f930?sv=2024-05-04&se=2024-04-30T04%3A52%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC68082B0305AF\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC68082B0305AF\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:27 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 29 Apr 2024 04:52:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-52570435-85e6-1e3d-e9bc-a598cc8db5e7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:52:26 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7299c600-9492-235d-f6cd-d65ab821fd33?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:52:26 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-28T21:52:25.7310523-07:00",
    "RandomSeed": "2116533930",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
