{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-64b68a9c-4cff-8c83-8dfd-0b0583a3cb39?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:36:55 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7290F73D8DD\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:36:56 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a5338d72-6443-1e49-6698-2a7a2bc8e7f1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:36:55 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7290F7E9EFB\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:36:56 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-64b68a9c-4cff-8c83-8dfd-0b0583a3cb39/test-file-7bc77240-340d-980d-c66d-acda52ad0463",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 07 Aug 2024 21:36:55 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7290F89ED99\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:36:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T21:36:56.2007449Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-64b68a9c-4cff-8c83-8dfd-0b0583a3cb39/test-file-7bc77240-340d-980d-c66d-acda52ad0463?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 07 Aug 2024 21:36:55 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "kyU6Wb3I2LBTdrZhIXXRpAxOeuWWSst7UAx/k+ppfeU2DPSSew7HlefKDBkPFe5b+SF21uJDNElavgiwSUXF6vnRKxSBPij+huX+yz6xazoeI5nJ8qYC8tirOL0FFkyiBSEgPurZ2rr4eE/8RWgLqFLOkSWr/PdSzjg71QZr+HCZW8YckC1QREnf0XlXBa1voI9qN4Qm9ggpzm+yngS0jIDfY+mi7hclfU3czCt9+8iKzDV2AcDrcmW98sK9naZEKkT5d6LEzbF4Rbo3SirdrNOmJ9HPPYu/9PGE5fxVZ9+ml6HmhIMmxv+E/rwGsyc630bvF3bUdOy5OYOwQOe0I93akLKJ9[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-64b68a9c-4cff-8c83-8dfd-0b0583a3cb39/test-file-7bc77240-340d-980d-c66d-acda52ad0463?sv=Sanitized&se=2024-08-08T21%3A36%3A55Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DCB7290F936219\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:36:56 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 21:36:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T21:36:56.2007449Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a5338d72-6443-1e49-6698-2a7a2bc8e7f1/test-file-0c248ad5-d07f-5b8a-fa79-b9644eecf023?sv=Sanitized&se=2024-08-08T21%3A36%3A55Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a5338d72-6443-1e49-6698-2a7a2bc8e7f1/test-file-0c248ad5-d07f-5b8a-fa79-b9644eecf023?sv=Sanitized&se=2024-08-08T21%3A36%3A55Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "text/plain",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-08-07T21:36:56.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7290FC36644\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:36:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T21:36:56.5773892Z",
        "x-ms-file-creation-time": "2024-08-07T21:36:56.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T21:36:56.5773892Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a5338d72-6443-1e49-6698-2a7a2bc8e7f1/test-file-0c248ad5-d07f-5b8a-fa79-b9644eecf023?sv=Sanitized&se=2024-08-08T21%3A36%3A55Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-64b68a9c-4cff-8c83-8dfd-0b0583a3cb39/test-file-7bc77240-340d-980d-c66d-acda52ad0463?sv=sanitized-value&se=2024-08-08T21%3A36%3A55Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7290FD31B6A\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:36:56 GMT",
        "x-ms-content-crc64": "Ayr2zjt0qcU=",
        "x-ms-file-last-write-time": "2024-08-07T21:36:56.5773892Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-64b68a9c-4cff-8c83-8dfd-0b0583a3cb39/test-file-7bc77240-340d-980d-c66d-acda52ad0463?sv=Sanitized&se=2024-08-08T21%3A36%3A55Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB7290F936219\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DCB7290F936219\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:36:56 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 21:36:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a5338d72-6443-1e49-6698-2a7a2bc8e7f1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:36:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-64b68a9c-4cff-8c83-8dfd-0b0583a3cb39?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:36:56 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-07T14:36:55.4558845-07:00",
    "RandomSeed": "1079420960",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
