{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-961fb785-c899-eb73-5ea4-a5bbc8562c6e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2E9A3A4E6\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c4703f41-9b6e-381b-4b91-20eeb1f676bc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:13 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2E9B59244\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-961fb785-c899-eb73-5ea4-a5bbc8562c6e/test-file-3a526837-b3e1-cd8c-ade9-c9b7ee8e100d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2E9C40F20\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:36:14.2518048Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-961fb785-c899-eb73-5ea4-a5bbc8562c6e/test-file-3a526837-b3e1-cd8c-ade9-c9b7ee8e100d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:14 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "3q7EuvBwrPmmKVBRdBUQ7MB3Et3AP0VKKFwuuUPCWvCPtRiPzpcoe6jt4L05u3cqiVHqlmWvh59oepGUQvK1489gwb/9gB4pTpY0016IEW3kAy/y2MOK3y14JlQGlDm1N/zu2fm3LAkywUjPe7RA4Ggjrz7CwwsL1eKRhFnKIrpcfpthmjh0LdYmwBZ7u2R5OEbr4uT683Tx4gMXJqivaJ6OcvwY30Uwr4JnnAP0kBp9F0wS3kDWYosmcLc1XQYud1d47UhoYFgBujJhk1Zx/VLomQ5bnIldtxBw8m6N\u002B1J7OCSre6PRFbbzESMNdM40tHNlTMP409rNGjU4927qc7/g[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-961fb785-c899-eb73-5ea4-a5bbc8562c6e/test-file-3a526837-b3e1-cd8c-ade9-c9b7ee8e100d?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A14Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D2E9D1A1AF\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:14 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:36:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03",
        "x-ms-version-id": "2023-11-16T18:36:14.2518048Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c4703f41-9b6e-381b-4b91-20eeb1f676bc/test-file-f999526f-41ba-d88a-2c6d-958806476220?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A14Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c4703f41-9b6e-381b-4b91-20eeb1f676bc/test-file-f999526f-41ba-d88a-2c6d-958806476220?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A14Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2E9FCD4C6\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-16T18:36:14.6238662Z",
        "x-ms-file-creation-time": "2023-11-16T18:36:14.6238662Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-16T18:36:14.6238662Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c4703f41-9b6e-381b-4b91-20eeb1f676bc/test-file-f999526f-41ba-d88a-2c6d-958806476220?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A14Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-961fb785-c899-eb73-5ea4-a5bbc8562c6e/test-file-3a526837-b3e1-cd8c-ade9-c9b7ee8e100d?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A14Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-199",
        "x-ms-source-range": "bytes=0-199",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE6D2EA17D2E5\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:14 GMT",
        "x-ms-content-crc64": "ATrMh4RB3NU=",
        "x-ms-file-last-write-time": "2023-11-16T18:36:14.8007653Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-961fb785-c899-eb73-5ea4-a5bbc8562c6e/test-file-3a526837-b3e1-cd8c-ade9-c9b7ee8e100d?sv=2023-11-03\u0026se=2023-11-17T18%3A36%3A14Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE6D2E9D1A1AF\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE6D2E9D1A1AF\u0022",
        "Last-Modified": "Thu, 16 Nov 2023 18:36:14 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 16 Nov 2023 18:36:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c4703f41-9b6e-381b-4b91-20eeb1f676bc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-961fb785-c899-eb73-5ea4-a5bbc8562c6e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 16 Nov 2023 18:36:15 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-16T10:36:14.2682384-08:00",
    "RandomSeed": "577649799",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
