{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86197645-e843-349d-dbeb-ed75409407f1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:37:04 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7291525A925\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:37:05 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c43158e5-17d7-6277-6bfe-b78eb75dfc33?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:37:04 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB729153014B0\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:37:05 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c43158e5-17d7-6277-6bfe-b78eb75dfc33/test-file-25fa0322-c0c6-491b-8940-6b83caeab552",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 07 Aug 2024 21:37:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB729153B84BD\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:37:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T21:37:05.7532093Z",
        "x-ms-file-creation-time": "2024-08-07T21:37:05.7532093Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T21:37:05.7532093Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c43158e5-17d7-6277-6bfe-b78eb75dfc33/test-file-25fa0322-c0c6-491b-8940-6b83caeab552?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 07 Aug 2024 21:37:05 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": "8T3eZehwBQc42WAILQ/9DObdJ6KQFdPUFAVW9GsuvpJWbXY4KBXHfkg0jeAc1j/myvzB/fn539tqCVDiGRCcChrNscCYxOPQFqhaW4jzuD3GcClubMGZXY6azh/E5GU3mILGTiR/TQUZ8edRnoNSd1ATHKnmLp5ZNFQy/vbECzFDIsMGLGkYRiIkVXrZSL4KR1fOsci7UGrjbBrQTU8PVOa2DXzATErn+9WGwtgjgOyWJ7ae9lpph9FYIsBPR/nTFACUIzpCSfsN57XyNI6RwOwuOSWYcF6LTYWqZymJl7Pcs63Xj1yxVN67kQ+ldlJDxmLTIA7TOqOiCdW0l+HRg08BFoHguTGPfeVH3d9P5tYzZ6HGtnelCHgKNYWH/Lz86Q2/pGDRYg0xQ6Moi13EUyL/gTBACs3YWw0J1oSrCIAoS/TSj0J2YQSUlXLTfH0aRuFih3uMu95A50hTyIuIhjsjAEBp8sTgiB8rrHVbBd6Q7pCjSIAFnI8Vkqj5I5l4Cw82r3w8sFQdgv9bYA9o5OFpw9n75D26HmOxU18b5mWFsqBlJFViUz08hcaBqTuArK3GkGDAfSbRfJEZi1z0AZua1a1uAsCMB2+bv153OXQnMaeyVVYExTV5lKjDSMjgSIQq59SNEantOYjwJL7IWkMd8Vm1QaxElQ949G4Yyb6nu3baTFKgmR/9xRvOE6B2sTpkplduKgbX5lHEFRw71XDJSWlH7Q3xfVc6uHyRdoFuAkI0syNnOJBwA2YA24QCwvCqBMk3L8Qscyj/M3KKRW/QVRLZBiFNYhHZ1+mm8KHTN/aL53G3N9N+CD/6ZwQd5b32L4VxKLvOXaK4XlfahYKHLPx7/l7+GB4/W/7iU/oMu/EssMEcYQ86vYnP/9l7pIK8czoIouZe+BZnMc296wqnq6JlrtXBasvtQEHULhlFxLd7Jt+/BBkLzbiqtC9BfdF/KFM2FfWt+ghvG2Glisn8Im0VQcUq56eJWuAdF7abq8NvVAbGDq7BzivXUOm3ZUPurZLBKzsLVUCrrLsVkONS03CdNjXCNhO+VHOaUpa+0vWdLmkj2n+IY//GGmLzrD5HhXx5Gi8NLHd/A9fIcQKp7drFd2F6LvnwFdI1/Buwy6c0U80aRbjGjwHyo9anwPL8HCyHLTXczFaDiARc2DBbzjcvkx01j6gi/+dgiIoiSFXgOeDuKJ1yWIZ3lryzabfRltWfdyzUx4yEZS1NfETLYD+vfJ5QbKWavTuWvfnrb5YwjvG1g9AoC3FTasNwJdtCqzV9A+0YgSkvBLrxPQmTmPaXHO1SFt1uh3As/ALiKZdfVBLDbmupFw3Ihn4WN85owNLM2Qjt8JVYDnx96w==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "xqPTY9HkNNmqOe1kyrMOgw==",
        "ETag": "\"0x8DCB72915506942\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:37:05 GMT",
        "x-ms-file-last-write-time": "2024-08-07T21:37:05.8901314Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86197645-e843-349d-dbeb-ed75409407f1/test-file-77fd658c-a972-50c1-0440-a900195f865e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 07 Aug 2024 21:37:05 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7291560200A\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:37:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T21:37:05.9931146Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86197645-e843-349d-dbeb-ed75409407f1/test-file-77fd658c-a972-50c1-0440-a900195f865e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 07 Aug 2024 21:37:05 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "xSbiqMFtOmXHzv12Sn50JWJqufZHZDP/bdqYGb2om5F8OO[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86197645-e843-349d-dbeb-ed75409407f1/test-file-77fd658c-a972-50c1-0440-a900195f865e?sv=Sanitized&se=2024-08-08T21%3A37%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DCB7291569E29A\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:37:06 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 21:37:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T21:37:05.9931146Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c43158e5-17d7-6277-6bfe-b78eb75dfc33/test-file-25fa0322-c0c6-491b-8940-6b83caeab552?sv=Sanitized&se=2024-08-08T21%3A37%3A05Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB72915506942\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:37:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T21:37:05.8901314Z",
        "x-ms-file-creation-time": "2024-08-07T21:37:05.7532093Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T21:37:05.8901314Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c43158e5-17d7-6277-6bfe-b78eb75dfc33/test-file-25fa0322-c0c6-491b-8940-6b83caeab552?sv=Sanitized&se=2024-08-08T21%3A37%3A05Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB72915506942\"",
        "Last-Modified": "Wed, 07 Aug 2024 21:37:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T21:37:05.8901314Z",
        "x-ms-file-creation-time": "2024-08-07T21:37:05.7532093Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T21:37:05.8901314Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-c43158e5-17d7-6277-6bfe-b78eb75dfc33?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:37:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-86197645-e843-349d-dbeb-ed75409407f1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 21:37:06 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-07T14:37:05.1127655-07:00",
    "RandomSeed": "172567884",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
