{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-271af09a-2bb8-9edd-4d51-d5e58082a370?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:01:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D6ED1B00D\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:01:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-a9503b09-3ffc-e9e4-9b9d-009819deb213?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:01:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D6EDE554C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:01:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-271af09a-2bb8-9edd-4d51-d5e58082a370/test-file-1f451ab2-943e-acfb-fc9e-07a7d5a56635",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:01:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D6EEAFE62\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:01:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:01:58.9172834Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-271af09a-2bb8-9edd-4d51-d5e58082a370/test-file-1f451ab2-943e-acfb-fc9e-07a7d5a56635?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:01:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "WJdMXt7VEnX8fnX1kYkQEB7pTTcxzA00tL9qffBFMq80+YaQ6HYXuW+9Aq2I3WhTtg4W5qrR2IyJGKkea5SEt0zGwJgCgCeo0ZTIdMlfrNdXF8fhLkwFYiD6BtDM+E3bOEtgwRzQUDbnbhQVCWTCKWzSx1TNo4gAwF53CHlX3NhG7Dt+/uq7hsaQ+sA371m8N91k+TH5DpXCYAG+WEe9kJI8zxwoRCqBF0GNPKjIyNEFutGc8uKnTN6mu57p/C1+02ku+h88k/Oy4uLvbNHs+pcvuZ52IJ2vlYI9gomMmBoTDmk+ms6xyCbe6RD/t+ANucAGuUOPCLLMfmWc/xFqJknI3F1orWDJfvB3lzaMr92iMMjIhd/Wgwa2chtoFMkVdMPGN9uDpQxgPDtSGHB7P86H+s5IoaBq8lhXsTtEYWknYSNzxngCHou8Z0ijg2uVOjJN4Br6zNIjXEWCLPPQG9vSK7ZMCHlVhdtDjDlXxm7swXYJ94BPLZVRUGkzf/KX7Ext0Vi0SDK491s+tkCYy5XWlmp8xyRagv0h+7gPIgXprKDt6vQWN3hEUAAlEXZUuITUXemHGiQnEk5ak015qdRVVAmgq+CgwF7yOHcjNXGGzEMzO8QcYZJ7xdilu6Qry6Yr0LxstA2kM5yKleKtA9zd08YJRW4QOfN3JOUH+gU=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D6EF86AC0\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:01:59 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "jGF1LCadpzI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-271af09a-2bb8-9edd-4d51-d5e58082a370/test-file-1f451ab2-943e-acfb-fc9e-07a7d5a56635?sv=Sanitized&se=2024-06-08T01%3A01%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868D6EF86AC0\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:01:59 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:01:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:01:58.9172834Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-a9503b09-3ffc-e9e4-9b9d-009819deb213/test-file-fa8573f0-03e8-ab29-8a0e-5156b1aa3a29?sv=Sanitized&se=2024-06-08T01%3A01%3A57Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-a9503b09-3ffc-e9e4-9b9d-009819deb213/test-file-fa8573f0-03e8-ab29-8a0e-5156b1aa3a29?sv=Sanitized&se=2024-06-08T01%3A01%3A57Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "512",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-06-07T01:01:58.0000000Z",
        "x-ms-file-last-write-time": "2024-06-07T01:01:59.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D6F21DB0C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:01:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T01:01:59.2768268Z",
        "x-ms-file-creation-time": "2024-06-07T01:01:58.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T01:01:59.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17160240204029858152*5081612660206631398",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-a9503b09-3ffc-e9e4-9b9d-009819deb213/test-file-fa8573f0-03e8-ab29-8a0e-5156b1aa3a29?sv=Sanitized&se=2024-06-08T01%3A01%3A57Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-271af09a-2bb8-9edd-4d51-d5e58082a370/test-file-1f451ab2-943e-acfb-fc9e-07a7d5a56635?sv=Sanitized&se=2024-06-08T01%3A01%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868D6F342900\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:01:59 GMT",
        "x-ms-content-crc64": "jGF1LCadpzI=",
        "x-ms-file-last-write-time": "2024-06-07T01:01:59.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-271af09a-2bb8-9edd-4d51-d5e58082a370/test-file-1f451ab2-943e-acfb-fc9e-07a7d5a56635?sv=Sanitized&se=2024-06-08T01%3A01%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868D6EF86AC0\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868D6EF86AC0\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:01:59 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:01:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:01:58.9172834Z"
      },
      "ResponseBody": "WJdMXt7VEnX8fnX1kYkQEB7pTTcxzA00tL9qffBFMq80+YaQ6HYXuW+9Aq2I3WhTtg4W5qrR2IyJGKkea5SEt0zGwJgCgCeo0ZTIdMlfrNdXF8fhLkwFYiD6BtDM+E3bOEtgwRzQUDbnbhQVCWTCKWzSx1TNo4gAwF53CHlX3NhG7Dt+/uq7hsaQ+sA371m8N91k+TH5DpXCYAG+WEe9kJI8zxwoRCqBF0GNPKjIyNEFutGc8uKnTN6mu57p/C1+02ku+h88k/Oy4uLvbNHs+pcvuZ52IJ2vlYI9gomMmBoTDmk+ms6xyCbe6RD/t+ANucAGuUOPCLLMfmWc/xFqJknI3F1orWDJfvB3lzaMr92iMMjIhd/Wgwa2chtoFMkVdMPGN9uDpQxgPDtSGHB7P86H+s5IoaBq8lhXsTtEYWknYSNzxngCHou8Z0ijg2uVOjJN4Br6zNIjXEWCLPPQG9vSK7ZMCHlVhdtDjDlXxm7swXYJ94BPLZVRUGkzf/KX7Ext0Vi0SDK491s+tkCYy5XWlmp8xyRagv0h+7gPIgXprKDt6vQWN3hEUAAlEXZUuITUXemHGiQnEk5ak015qdRVVAmgq+CgwF7yOHcjNXGGzEMzO8QcYZJ7xdilu6Qry6Yr0LxstA2kM5yKleKtA9zd08YJRW4QOfN3JOUH+gU="
    },
[...]
    {
      "RequestUri": "https://seancanary.file.core.windows.net/test-share-a9503b09-3ffc-e9e4-9b9d-009819deb213?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:01:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-271af09a-2bb8-9edd-4d51-d5e58082a370?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:01:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:01:57.5208719-05:00",
    "RandomSeed": "357064863",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
