{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dba1aa26-ac83-2b58-0186-6af7ba017cd7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:24:41 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792169E5777\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:24:43 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-026d74e7-1684-44d3-27f8-3673edd7f66a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:24:41 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79216C3AF8C\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:24:43 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-026d74e7-1684-44d3-27f8-3673edd7f66a/test-file-2b9ea1bf-266d-2f68-c2a3-7297351b6e6b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 17 Nov 2023 17:24:42 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79216F38CDC\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:24:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:24:43.9358684Z",
        "x-ms-file-creation-time": "2023-11-17T17:24:43.9358684Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:24:43.9358684Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-026d74e7-1684-44d3-27f8-3673edd7f66a/test-file-2b9ea1bf-266d-2f68-c2a3-7297351b6e6b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Nov 2023 17:24:42 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": "7TgCko5iUVIyscLSiCuaRznHu5aZycRoUzX0tQwGtPR8TPAnSFOIDTvAw0gkLhg/vqprHcac3CN0mj5YbZtFLP3NVTs7cv7lP61b2AV7QyUctfdim5Yu4G/Ns60UMKCfepdLV9jdBEurhd0YQAQd\u002BFYZO7ek45FmnnXLbb9Q0Q8Nu15uMOxNP7CrthW4FZ9rr7tX\u002B/To\u002B5cG5LhiEZaMWrTOC4Smr8dpzPwH\u002BCx7rYjWX74E\u002BdUaJL/GaEs06y0aH1th6goaxf/z7S744QNqijYvi7HXiGHes\u002BfE30d7NOHO7dnQGcN\u002Bu5q\u002BEAumIkK8W90VBV97Qpf6gzYjVua4eLlNKfQqmnFzsNAXGXdVN5CkCIRpZi\u002BBU6pC1ZaMWmW0BphSWfhOksFsoVSPYykfpEulf01iTh[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dba1aa26-ac83-2b58-0186-6af7ba017cd7/test-file-72c1a35e-f9ea-0b8f-2502-a2c86c88d77e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:24:42 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792174B60E0\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:24:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:24:44.5114592Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dba1aa26-ac83-2b58-0186-6af7ba017cd7/test-file-72c1a35e-f9ea-0b8f-2502-a2c86c88d77e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Nov 2023 17:24:42 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "2j6ULJqwhVyoVaMrSP3Fsuiw6F1m7bnIZJSKDqoKQM4[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dba1aa26-ac83-2b58-0186-6af7ba017cd7/test-file-72c1a35e-f9ea-0b8f-2502-a2c86c88d77e?sv=2025-04-05\u0026se=2023-11-18T17%3A24%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE79217857B37\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:24:44 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:24:44 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:24:44.5114592Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-026d74e7-1684-44d3-27f8-3673edd7f66a/test-file-2b9ea1bf-266d-2f68-c2a3-7297351b6e6b?sv=2025-04-05\u0026se=2023-11-18T17%3A24%3A42Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE792172062D7\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:24:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:24:44.2297047Z",
        "x-ms-file-creation-time": "2023-11-17T17:24:43.9358684Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:24:44.2297047Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-026d74e7-1684-44d3-27f8-3673edd7f66a/test-file-2b9ea1bf-266d-2f68-c2a3-7297351b6e6b?sv=2025-04-05\u0026se=2023-11-18T17%3A24%3A42Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE792172062D7\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:24:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:24:44.2297047Z",
        "x-ms-file-creation-time": "2023-11-17T17:24:43.9358684Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:24:44.2297047Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-026d74e7-1684-44d3-27f8-3673edd7f66a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:24:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dba1aa26-ac83-2b58-0186-6af7ba017cd7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:24:45 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:24:42.7121598-08:00",
    "RandomSeed": "2049710149",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
