{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d40c510b-cbfd-0ed5-d8e7-a8e4252edddd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51547338073A\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f57fde7d-eae0-d871-00d4-2b57a288897f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515473415DC1\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d40c510b-cbfd-0ed5-d8e7-a8e4252edddd/test-file-ad8d2798-93c8-540c-311e-f11387674b5b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:30 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51547347FDB0\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:15:30.9679024Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d40c510b-cbfd-0ed5-d8e7-a8e4252edddd/test-file-ad8d2798-93c8-540c-311e-f11387674b5b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "ntw0EbjipUzfKSm/dFB20XTTcWUXiIaPhHp1uuFg4F1/WL0O/kbWtoFAzZ5qTODhqB+es/bmRBZVpIw9bOprf0jLQBySaNMt/brj1rrnJDiakxLCwSxnmROnuFm5mEmX1U5WnwzDTj9McbY7A25bbYBUo9jYqL4bY6YJ6695c2VwSwBskYUr10XSdVB2LJWlS0vZZfVxviyPOjtluWKQ0/1Ryrdt7tv6KcuTBTNupTcQZJ9knw5v/4zT3FZJxR3iQaJTJWHeOF1v3jwp3bj5IZUEVFXDLDPu4csqmRGFsWOtsMSQGn/VMixC9MHSRiHU2rvBRXDHHxVvZESVs55L6i3ZfCz0a[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d40c510b-cbfd-0ed5-d8e7-a8e4252edddd/test-file-ad8d2798-93c8-540c-311e-f11387674b5b?sv=Sanitized&se=2025-02-21T02%3A15%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5154734E655D\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:31 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 20 Feb 2025 02:15:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-20T02:15:30.9679024Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f57fde7d-eae0-d871-00d4-2b57a288897f/test-file-917147b4-06e7-0f20-7f28-87e02b115187?sv=Sanitized&se=2025-02-21T02%3A15%3A31Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f57fde7d-eae0-d871-00d4-2b57a288897f/test-file-917147b4-06e7-0f20-7f28-87e02b115187?sv=Sanitized&se=2025-02-21T02%3A15%3A31Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-20T02:15:30.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515473645293\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:15:31.1535763Z",
        "x-ms-file-creation-time": "2025-02-20T02:15:30.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:15:31.1535763Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f57fde7d-eae0-d871-00d4-2b57a288897f/test-file-917147b4-06e7-0f20-7f28-87e02b115187?sv=Sanitized&se=2025-02-21T02%3A15%3A31Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-d40c510b-cbfd-0ed5-d8e7-a8e4252edddd/test-file-ad8d2798-93c8-540c-311e-f11387674b5b?sv=sanitized-value&se=2025-02-21T02%3A15%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD515473720C2B\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:31 GMT",
        "x-ms-content-crc64": "T7X42yX6gvA=",
        "x-ms-file-last-write-time": "2025-02-20T02:15:31.1535763Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f57fde7d-eae0-d871-00d4-2b57a288897f/test-file-917147b4-06e7-0f20-7f28-87e02b115187?sv=Sanitized&se=2025-02-21T02%3A15%3A31Z&sr=f&sp=rcwd&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-20T02:15:30.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5154737B59A8\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-20T02:15:31.3044904Z",
        "x-ms-file-creation-time": "2025-02-20T02:15:30.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-20T02:15:31.1535763Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d40c510b-cbfd-0ed5-d8e7-a8e4252edddd/test-file-ad8d2798-93c8-540c-311e-f11387674b5b?sv=Sanitized&se=2025-02-21T02%3A15%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5154734E655D\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5154734E655D\"",
        "Last-Modified": "Thu, 20 Feb 2025 02:15:31 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 20 Feb 2025 02:15:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-f57fde7d-eae0-d871-00d4-2b57a288897f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:31 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d40c510b-cbfd-0ed5-d8e7-a8e4252edddd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Feb 2025 02:15:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-19T18:15:31.0333463-08:00",
    "RandomSeed": "2096112833",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
