{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d87f3dec-d16b-06de-82cc-97358954702c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:58:56 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7023A702BE0\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:58:57 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-0b9aca08-2d46-376b-4786-91339b93e3fb?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:58:56 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7023A7CA99E\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:58:57 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d87f3dec-d16b-06de-82cc-97358954702c/test-file-21a8e45f-53f4-5a06-d864-9c38a04962f6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 07 Aug 2024 16:58:56 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7023A87FFBB\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:58:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T16:58:57.9576763Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d87f3dec-d16b-06de-82cc-97358954702c/test-file-21a8e45f-53f4-5a06-d864-9c38a04962f6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 07 Aug 2024 16:58:56 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "HhYLPgHiifswHQKgPMAPck6NIv1V8o0eiNVYCVysHoWqCA1YRBSs7EK0SXgVOMP5iyomb9qbOSuJ7LYsioCehP999TSzti464Ta6oKkVCU8RX30yha+rDs7hz1ddgGLBFsR4mEOPRtT87I2j4JiCdONmGisDbP9Q0eZl0efW3GHU+YrlnHAMghioNZkhBy02X1pz92U3vqnFKMZcKnTsJg8rz+cNndhyWpcSWzdlLsm4LnKNYuX8nTvhH3OqsFikuw+J9ThGKcKCAJzOJGJxX/r8o/sBX8MqLzGsK31kyKo+baAn3DiQcgWwCmFILXjYb795rQxdoltMXsYHmf1EHjjykLfCS[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d87f3dec-d16b-06de-82cc-97358954702c/test-file-21a8e45f-53f4-5a06-d864-9c38a04962f6?sv=Sanitized&se=2024-08-08T16%3A58%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB7023A921060\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:58:58 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 16:58:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-07T16:58:57.9576763Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-0b9aca08-2d46-376b-4786-91339b93e3fb/test-file-3d44e648-8a51-3a0d-e148-ce84343e52bd?sv=Sanitized&se=2024-08-08T16%3A58%3A56Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-0b9aca08-2d46-376b-4786-91339b93e3fb/test-file-3d44e648-8a51-3a0d-e148-ce84343e52bd?sv=Sanitized&se=2024-08-08T16%3A58%3A56Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-08-07T16:58:57.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7023AB60858\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:58:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T16:58:58.2593624Z",
        "x-ms-file-creation-time": "2024-08-07T16:58:57.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T16:58:58.2593624Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-0b9aca08-2d46-376b-4786-91339b93e3fb/test-file-3d44e648-8a51-3a0d-e148-ce84343e52bd?sv=Sanitized&se=2024-08-08T16%3A58%3A56Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-d87f3dec-d16b-06de-82cc-97358954702c/test-file-21a8e45f-53f4-5a06-d864-9c38a04962f6?sv=sanitized-value&se=2024-08-08T16%3A58%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB7023AC23B98\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:58:58 GMT",
        "x-ms-content-crc64": "IXSbM4Gop0o=",
        "x-ms-file-last-write-time": "2024-08-07T16:58:58.2593624Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d87f3dec-d16b-06de-82cc-97358954702c/test-file-21a8e45f-53f4-5a06-d864-9c38a04962f6?sv=Sanitized&se=2024-08-08T16%3A58%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB7023A921060\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB7023A921060\"",
        "Last-Modified": "Wed, 07 Aug 2024 16:58:58 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 Aug 2024 16:58:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-0b9aca08-2d46-376b-4786-91339b93e3fb?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:58:57 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d87f3dec-d16b-06de-82cc-97358954702c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 16:58:57 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-07T09:58:56.9969991-07:00",
    "RandomSeed": "41635361",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
