{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b3d8c62-ec0c-b3ad-a569-b846fddd43b8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CB1F5C9BF\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-36024c5a-42a9-3d09-af32-82cda07764a7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CB200F547\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-36024c5a-42a9-3d09-af32-82cda07764a7/test-file-68562190-0b74-bd39-b366-a535556be136",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:55 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CB20B3B97\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T18:58:55.1767959Z",
        "x-ms-file-creation-time": "2024-12-10T18:58:55.1767959Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T18:58:55.1767959Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-36024c5a-42a9-3d09-af32-82cda07764a7/test-file-68562190-0b74-bd39-b366-a535556be136?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "8J+kwXHtJ9cVZEbrI9oNZ3sdbpCB7UEg89/CRTAkIUgVERmVAiEngnSoPMFD8aj15X4wK8F/LANdhM2SK+Gm8UP91RLBd2Ra9uwc2bF/3AI3zF+x9PWHluQVN31UlFeSAUp+RRyVNG0Z1jXVYlNS3afLW16C9f1Ndj4tq0DnBmKVitdmAZbloZjxlx7AsjSRw1rWiDn4EAxNMM/dZ4ktMs/TP9h769sQ5bnFkF3ejcMKnOflEH0onHrLGdHHCDkPxGRO7XJbFdh+xaN/Mn+ubqML0suhSCFSqqNdsNIKSd1/tsz5kKBRroYPZ0vaqGr6HaotuzVubXxD+0LP/mQGc3zGAHyztN4CuiNEkuHWeAE5YpMn3I2nEUhPtpRdgbAiCPPOFKjuR2jLKwARKdubbINBlpvR3pbuHu4zY/5JpTlzIontB2NYSxsqXLGMlehttEkRHOsVUCpc4PW6uuNpgYXHngdRrWUf6Et/poLkYYkGxq+1OIhNXtFfkCdunpA4wdorxffhGwfk8TSglamoeH5stPQ0tEn9ej818hw9sUq6RuWnuJyRJaun0EdUrcgotxioAeqcBAyRLkq3rCjqpkDq5U7DAL/h249IjOMCqc12DDsEla9gHULZFopR2XmCvSoGacd6ZLZZxyZaU3gpj4V9QZ/s5RGQisgM6uo1jwEVxc65+z8G/KiFq82JBcrJr4cE1JjZldcZdt//bXnMIzclRY2pcJNGd0T3ZzpDB4X9QjpiMLtoPC/3n4RfBo8uuIeVZMA8ID/zvlxT4i6d1W9aASo+afN8vAhdsdAP53C1yK+yraLFwCL7b3JfFFkBWsoVBAVk706UGae3325v5Nfrnhp/6ifMlUAIQ/qAHaevW1cF+uJrUNlgHpT7DuGzi4qbc3Y/gm+iSG/EXKtTE/wAB4MWaer1gE1AHsyT0YdeVbhv5akxcNnoY7FypvQtDAqX+gZenCGgpvMo/mSjDnfoZgbz5C5Sz5epLgY4gtlZEhLC/NaA/7mWzj+2CHF1RVQ5iUDtOijbRCtvtG0baCMaz+tS4BKgaGZNXBXunMYlNOmx/viZa9jp5rerEEtLemYcnDiFI2RBmSHZn90T7KhkSn+EaWkqgGQTaPpa9VcbAuKu0gCNnxGEb2XWv8v61vkPRsbLxxH98RvUcrpp5qPKvp37ZBmn1qpu//kDU8GYGZIAS6+QUDvQseHluS1XGojBDAAu/nHfaG8cXccX+Z1ZO1koaZv0OW5iKrM4wh19FuRwQkfBahogIeM/dPJzuLdEi33ULrHtzdKRy9S9p6VRnkbjp7dVmNE/CEi4tMV77nH88zagqegyg3R1L55GYnk97tWskBEA7vKslCZpNQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "c98o/Z8S7HV2YCD0e7w2Mg==",
        "ETag": "\"0x8DD194CB214CDC9\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:55 GMT",
        "x-ms-file-last-write-time": "2024-12-10T18:58:55.2395209Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b3d8c62-ec0c-b3ad-a569-b846fddd43b8/test-file-baf73f72-7879-2d41-9208-4bd241e1da17",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:55 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CB21DE965\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b3d8c62-ec0c-b3ad-a569-b846fddd43b8/test-file-baf73f72-7879-2d41-9208-4bd241e1da17?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "fY1la6gLTEG71D9Wh+vWCKkMaDEduGB/IIfES1Dl2OH[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b3d8c62-ec0c-b3ad-a569-b846fddd43b8/test-file-baf73f72-7879-2d41-9208-4bd241e1da17?sv=Sanitized&se=2024-12-11T18%3A58%3A55Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD194CB22706D0\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:55 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 Dec 2024 18:58:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-36024c5a-42a9-3d09-af32-82cda07764a7/test-file-68562190-0b74-bd39-b366-a535556be136?sv=Sanitized&se=2024-12-11T18%3A58%3A55Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194CB214CDC9\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T18:58:55.2395209Z",
        "x-ms-file-creation-time": "2024-12-10T18:58:55.1767959Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T18:58:55.2395209Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-36024c5a-42a9-3d09-af32-82cda07764a7/test-file-68562190-0b74-bd39-b366-a535556be136?sv=Sanitized&se=2024-12-11T18%3A58%3A55Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194CB214CDC9\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T18:58:55.2395209Z",
        "x-ms-file-creation-time": "2024-12-10T18:58:55.1767959Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T18:58:55.2395209Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-36024c5a-42a9-3d09-af32-82cda07764a7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b3d8c62-ec0c-b3ad-a569-b846fddd43b8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-12-10T10:58:55.5621128-08:00",
    "RandomSeed": "122561095",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
