{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-de59d720-91d2-7972-fe3a-a752b4d38a68?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CA5FBB5A7\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f7f1ff1b-0125-9841-7de9-0568f8c1573d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CA605EC85\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f7f1ff1b-0125-9841-7de9-0568f8c1573d/test-file-5e977b58-a699-087a-4f63-297a1596cace",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:35 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CA61014C7\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T18:58:35.0759111Z",
        "x-ms-file-creation-time": "2024-12-10T18:58:35.0759111Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T18:58:35.0759111Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f7f1ff1b-0125-9841-7de9-0568f8c1573d/test-file-5e977b58-a699-087a-4f63-297a1596cace?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:35 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "0TRm9RXqFdm3RQaUYzuafDkcoPTUfyxQ3FHBU7c4lgTuomNFw9Vk9hpoQuIiS5fwarHqJC36hFEIFRnEKcIif64BpcDXVbhkt6rZazxJLpG60OgFTnLX8x4SPa27oM1XRcMzIKXWGRX5hWyDIRgUvuaICljaHTA8KrGixRgKqRfcgiV5Fg7r47fSDMgFVNIF/X7GM5Z0fCiS9vbzNFP97txUpp7ym6jYnSahBxFoNtXfnMeZRHaBZwX95h8X969j1R3ssK4zE2LW7pVv03UXKr8gFJeMY6pl0z6Z9bSIwaV3PTHze4Ynq4llw1bgEZSQ5rxf9uIX13Jzhtxvmh6tTS3w95VDI645+WkNJqBUhcKqCA/3KcrCYGa/f/SptxBrt3Uo8Br+TMINJf15CbDRHwEaxZIPtiRiLZcug6O6kEJYom4qK5Soq7xM6QPMSFa27mDyjvF+XAFRxsOCz8geU5W7IWdBpvRtchrVwswgleRBeJVDxwFQ2kZt2WXRJdvzLpZtESfvdEdshRvXqJo1MDDeQVYz2oyTakcg1MyOm0w+4pM1s4S9UgRN1kLleDGsN6k08uSEwFMK2qbfzqB63enPmcYG/32sIe9S5QRKrfIVdJwjWqhouSI/K9nd3YNj0vlYFt9rpTgsiNH1MttPvyy0yVkEV4NAZt+jxtOjzkRr7xIL8ZYSqs9j99HXc4dG8GusKBMqX3t1F7D/x95kiLqNiUPIRM6Voh+JoGCyafJYXdZn9qYwQY+WldrmEuLx/24XSepEfaudF4b0oL4bw629p2oH/JETXEizMq/zro88mKHxmh8IFN8ryt8fPKDRe9IsKGp46QLdA+2hkUv8qmj2twcdKSiOtZOL2zKy9CCn4bbdx4Ykw6+eFJcyZoOTLyB2KISZs1KpnXPX7Q3PKg/M+q+UH+Li0vNXfhSQW04Q+KwSO8ubDS1kMykSTNahz+qIZWzT/hA9lFaQQTU9GEElx/Vgve9DMOyBMOu5z4Ucta8qCPbhPPmc1ad1Csv4Jhrn7YXhQRH6RTWAUs0kg8TQdIyGExBLRIr7xOdHzSYgiQnQ0uL/OnSdL8PAYeord1HipJY/chMKm6n75nwps3cPX8jEU7Hi0TkX6ONMiuKfz0yWZSiP4Bf1xjY5BFT4c3xMsQEhZySgANNdKIkwvRDGWxYvk05Of36xzo16qczkH3RnANnhfWgo9mVVMbeNxQgmcqg+yOAu/TKCcJmWJVYHeQkUyb035d2tB53p+U7GIwiEVDYjpleUOAKmXg3PkdAOTriuefxL743LkMBDRQTku0yQEtEg49KygJC6kIbP3nbM2quVGKoMOGWoWBaWUPP9wqLBPn//7Wrl/PhskQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "iyfsSJ5pAVDY3Qgl/+Z1eQ==",
        "ETag": "\"0x8DD194CA619CDDE\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:35 GMT",
        "x-ms-file-last-write-time": "2024-12-10T18:58:35.1396318Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-de59d720-91d2-7972-fe3a-a752b4d38a68/test-file-60773851-3b86-d0e8-d375-807052f82e0c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:35 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD194CA624C4B9\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-de59d720-91d2-7972-fe3a-a752b4d38a68/test-file-60773851-3b86-d0e8-d375-807052f82e0c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "EY2FcZVB6zEwEkGY8watWsFRKVU3F9/8GsArQEjjDIW[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-de59d720-91d2-7972-fe3a-a752b4d38a68/test-file-60773851-3b86-d0e8-d375-807052f82e0c?sv=Sanitized&se=2024-12-11T18%3A58%3A35Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD194CA62F6714\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:35 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 10 Dec 2024 18:58:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f7f1ff1b-0125-9841-7de9-0568f8c1573d/test-file-5e977b58-a699-087a-4f63-297a1596cace?sv=Sanitized&se=2024-12-11T18%3A58%3A35Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194CA619CDDE\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T18:58:35.1396318Z",
        "x-ms-file-creation-time": "2024-12-10T18:58:35.0759111Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T18:58:35.1396318Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f7f1ff1b-0125-9841-7de9-0568f8c1573d/test-file-5e977b58-a699-087a-4f63-297a1596cace?sv=Sanitized&se=2024-12-11T18%3A58%3A35Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD194CA619CDDE\"",
        "Last-Modified": "Tue, 10 Dec 2024 18:58:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-10T18:58:35.1396318Z",
        "x-ms-file-creation-time": "2024-12-10T18:58:35.0759111Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-10T18:58:35.1396318Z",
        "x-ms-file-parent-id": "0",[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f7f1ff1b-0125-9841-7de9-0568f8c1573d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:36 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-de59d720-91d2-7972-fe3a-a752b4d38a68?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 Dec 2024 18:58:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-12-10T10:58:35.4678318-08:00",
    "RandomSeed": "647394704",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
