{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dcd0f682-6cc3-5bc7-5c1d-fefa5683d694?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:44:40 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE794E0ECBC55\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:44:41 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-841b5d24-6886-61ba-dbb1-113b52368bb5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:44:40 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE794E0FFBFFD\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:44:41 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dcd0f682-6cc3-5bc7-5c1d-fefa5683d694/test-file-79f488fd-ae5b-3a39-b1cc-91585eef7e13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:44:40 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE794E11322CA\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:44:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:44:42.0360906Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dcd0f682-6cc3-5bc7-5c1d-fefa5683d694/test-file-79f488fd-ae5b-3a39-b1cc-91585eef7e13?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Nov 2023 17:44:40 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "MXYb0yY7\u002BzuMwQ\u002BBjgmYlZoY\u002BHQyDPZ8X7cQspSgWEtzi8dcsQOozDsXd2cR6cL06EsOcghjiiR/nnNvK0mn7GnEDQNCPOOXcCw4GpSPanb0G8lJkuVDEACi3BOPOaHycIv\u002BTdu\u002BsqxndgLbK3CQ8DP9eg9/XVmDgP0DoGDQCDeKRqoIkR2aNmkd4RvjZ\u002BSQEuzfkb6ScxIyeszduhJLl27LUOTGh14WYkOlYXw9oBkYc41z8XZ4\u002BNOX1hZQvHtW0UqtFxb/yYqNyC567BGW9NmzxUeE2KX3U1gRLrBHxqXITo8xkIkCGKkD5S[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dcd0f682-6cc3-5bc7-5c1d-fefa5683d694/test-file-79f488fd-ae5b-3a39-b1cc-91585eef7e13?sv=2024-02-04\u0026se=2023-11-18T17%3A44%3A40Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE794E1245E53\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:44:42 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:44:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:44:42.0360906Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-841b5d24-6886-61ba-dbb1-113b52368bb5/test-file-70e140d9-19c9-282a-24ab-61ded875c7ee?sv=2024-02-04\u0026se=2023-11-18T17%3A44%3A40Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-841b5d24-6886-61ba-dbb1-113b52368bb5/test-file-70e140d9-19c9-282a-24ab-61ded875c7ee?sv=2024-02-04\u0026se=2023-11-18T17%3A44%3A40Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE794E15F48D5\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:44:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:44:42.5351381Z",
        "x-ms-file-creation-time": "2023-11-17T17:44:42.5351381Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:44:42.5351381Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-841b5d24-6886-61ba-dbb1-113b52368bb5/test-file-70e140d9-19c9-282a-24ab-61ded875c7ee?sv=2024-02-04\u0026se=2023-11-18T17%3A44%3A40Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-dcd0f682-6cc3-5bc7-5c1d-fefa5683d694/test-file-79f488fd-ae5b-3a39-b1cc-91585eef7e13?sv=2024-02-04\u0026se=2023-11-18T17%3A44%3A40Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE794E175B3C8\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:44:42 GMT",
        "x-ms-content-crc64": "8lhsPLyyhOM=",
        "x-ms-file-last-write-time": "2023-11-17T17:44:42.6820552Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dcd0f682-6cc3-5bc7-5c1d-fefa5683d694/test-file-79f488fd-ae5b-3a39-b1cc-91585eef7e13?sv=2024-02-04\u0026se=2023-11-18T17%3A44%3A40Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DBE794E1245E53\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE794E1245E53\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:44:42 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:44:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-841b5d24-6886-61ba-dbb1-113b52368bb5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:44:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-dcd0f682-6cc3-5bc7-5c1d-fefa5683d694?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:44:41 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:44:40.5829348-08:00",
    "RandomSeed": "1696383918",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
