{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5439a373-52b5-3082-50be-604ff3b7c0e4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC85F7A9C6C\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-aa4e9624-517f-3816-2965-02130ee00743?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC85F83194B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5439a373-52b5-3082-50be-604ff3b7c0e4/test-file-ea4c8f09-7b3c-a78b-1805-95f894e2d179",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC85F917FAE\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:54:16.7275438Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5439a373-52b5-3082-50be-604ff3b7c0e4/test-file-ea4c8f09-7b3c-a78b-1805-95f894e2d179?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "c6qevDfZt/ggAW4kiO2bckWHPLKtM2tuHfBJCjnyesPyOVk2DzDuA5JVqrEd0IWluRz247TTzD8/MJ9HkKy+LYaqMU+UZWMVmDkgWIm6UExqo1Ec/JcOH20Z996Rp3Lllnwqc581EVS54Ep7snO2heBS3O1bojDvmxHiem2EhPHGO8IMj92tNJH8YhtMk235YnL+PsqFifNMO9eNU5bmNVxZtHewqvUDpadbXz8Vowik6Bj7hUUmQbLOv1QFIOD7Fi2+8t/1SLd8+5kjKSq0NpfO6Gt+668XMnLF4uqh/YTGYEkSVrAorp9gf4qsAxiIGom8Nzd1fSp9p8BsMGbM2v4UXcngoeDnpjnMHWwlai9aPcdh5MZNUeIela7wu304k6SLl6VOp3mo1ZD9qF++Vz2QEvOea/Y4xwvmwgsx9+q7k4nImtKJC5VOuQ81T6iDXz1xX6mKmSiuU9CaZ+Rtdt6mQhTV9r1qBgZdULHmA3hjY2LNwJdAMflhGkYC76Ox4EIxjg2TrWmAB1iiLEl2x09XNgSCn7ZGZRAadNx2ZxdjrG9utXRrz7X5Tbg+ngWw6lL3q7ifLkGM6ij8eDiNCqBBP3/aCBLa7GdOiVL9B8cKaoqJf7tew30u4cpMblZ8a0MY/V+F1eJAHL9RUKXuj+Nh8Q6uA4rk4nsBqyZIjn0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC85F9A5806\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:16 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "Ild8dL99EP0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5439a373-52b5-3082-50be-604ff3b7c0e4/test-file-ea4c8f09-7b3c-a78b-1805-95f894e2d179?sv=Sanitized&se=2024-07-03T18%3A54%3A17Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC85F9A5806\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:16 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:54:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:54:16.7275438Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-aa4e9624-517f-3816-2965-02130ee00743/test-file-1f03440d-7663-e685-40ae-4e14637e28ae?sv=Sanitized&se=2024-07-03T18%3A54%3A17Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-aa4e9624-517f-3816-2965-02130ee00743/test-file-1f03440d-7663-e685-40ae-4e14637e28ae?sv=Sanitized&se=2024-07-03T18%3A54%3A17Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "512",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:54:16.0000000Z",
        "x-ms-file-last-write-time": "2024-07-02T18:54:16.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC85FBA233D\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:54:16.9938749Z",
        "x-ms-file-creation-time": "2024-07-02T18:54:16.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:54:16.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-aa4e9624-517f-3816-2965-02130ee00743/test-file-1f03440d-7663-e685-40ae-4e14637e28ae?sv=Sanitized&se=2024-07-03T18%3A54%3A17Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-5439a373-52b5-3082-50be-604ff3b7c0e4/test-file-ea4c8f09-7b3c-a78b-1805-95f894e2d179?sv=Sanitized&se=2024-07-03T18%3A54%3A17Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC85FC7DCFA\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:17 GMT",
        "x-ms-content-crc64": "Ild8dL99EP0=",
        "x-ms-file-last-write-time": "2024-07-02T18:54:16.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5439a373-52b5-3082-50be-604ff3b7c0e4/test-file-ea4c8f09-7b3c-a78b-1805-95f894e2d179?sv=Sanitized&se=2024-07-03T18%3A54%3A17Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC9AC85F9A5806\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC85F9A5806\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:16 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:54:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:54:16.7275438Z"
      },
      "ResponseBody": "c6qevDfZt/ggAW4kiO2bckWHPLKtM2tuHfBJCjnyesPyOVk2DzDuA5JVqrEd0IWluRz247TTzD8/MJ9HkKy+LYaqMU+UZWMVmDkgWIm6UExqo1Ec/JcOH20Z996Rp3Lllnwqc581EVS54Ep7snO2heBS3O1bojDvmxHiem2EhPHGO8IMj92tNJH8YhtMk235YnL+PsqFifNMO9eNU5bmNVxZtHewqvUDpadbXz8Vowik6Bj7hUUmQbLOv1QFIOD7Fi2+8t/1SLd8+5kjKSq0NpfO6Gt+668XMnLF4uqh/YTGYEkSVrAorp9gf4qsAxiIGom8Nzd1fSp9p8BsMGbM2v4UXcngoeDnpjnMHWwlai9aPcdh5MZNUeIela7wu304k6SLl6VOp3mo1ZD9qF++Vz2QEvOea/Y4xwvmwgsx9+q7k4nImtKJC5VOuQ81T6iDXz1xX6mKmSiuU9CaZ+Rtdt6mQhTV9r1qBgZdULHmA3hjY2LNwJdAMflhGkYC76Ox4EIxjg2TrWmAB1iiLEl2x09XNgSCn7ZGZRAadNx2ZxdjrG9utXRrz7X5Tbg+ngWw6lL3q7ifLkGM6ij8eDiNCqBBP3/aCBLa7GdOiVL9B8cKaoqJf7tew30u4cpMblZ8a0MY/V+F1eJAHL9RUKXuj+Nh8Q6uA4rk4nsBqyZIjn0="
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-aa4e9624-517f-3816-2965-02130ee00743?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5439a373-52b5-3082-50be-604ff3b7c0e4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:54:17.7008457-07:00",
    "RandomSeed": "275785027",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
