{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4a68ef81-3f55-19cf-4887-17dcd9675b22?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:25:42 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CCCDFDFBA\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:25:43 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-6c7ee0b4-0ba1-668e-85cb-a868873b2c20?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:25:42 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CCCE8DF01\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:25:43 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4a68ef81-3f55-19cf-4887-17dcd9675b22/test-file-d3ad5c4b-1a5e-aad2-f49f-3a31532fc7c5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 06 Aug 2024 17:25:42 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CCCF34F0B\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:25:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-06T17:25:43.2558347Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4a68ef81-3f55-19cf-4887-17dcd9675b22/test-file-d3ad5c4b-1a5e-aad2-f49f-3a31532fc7c5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 06 Aug 2024 17:25:42 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "id9pov9FpL+ZTQ+4MW5tFYedTKz4j8lpcZmmu75G+r7zyXvxNWKQ/YB1Tu+s+gjpHFgNveYNUfkVADFlnukAUlNQxGjye+AkDE4sg0HavHaRvJ9mOTzY5niB3DQxK1+XdfycXDWg96B36LGY4c24O0O60+FKmRkWd97vcJ6r8+DulQ5EPWBB8cX/7lCLQAWqyaHxdlh9TNvjhuRWsIcBzPXQqUu/c/3ieeEcS6vIijfYRaf9unyIcEgyYbd86kE+/SJaupa56lWkDv12YQEwGvusfmrfBBF4SDgDjBFGZY+g3k2IbtCgH1pRWax/EQ9GAke7z2zWXvkR4XJdtl5DXaht1oO0p[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4a68ef81-3f55-19cf-4887-17dcd9675b22/test-file-d3ad5c4b-1a5e-aad2-f49f-3a31532fc7c5?sv=Sanitized&se=2024-08-07T17%3A25%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB63CCCFDD4CC\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:25:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 06 Aug 2024 17:25:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-06T17:25:43.2558347Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-6c7ee0b4-0ba1-668e-85cb-a868873b2c20/test-file-2279d3c0-1e5d-db75-040b-7cfd3f80d205?sv=Sanitized&se=2024-08-07T17%3A25%3A42Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-08-06T17:25:43.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CCD11E579\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:25:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-06T17:25:43.4562937Z",
        "x-ms-file-creation-time": "2024-08-06T17:25:43.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-06T17:25:43.4562937Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-6c7ee0b4-0ba1-668e-85cb-a868873b2c20/test-file-2279d3c0-1e5d-db75-040b-7cfd3f80d205?sv=Sanitized&se=2024-08-07T17%3A25%3A42Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-4a68ef81-3f55-19cf-4887-17dcd9675b22/test-file-d3ad5c4b-1a5e-aad2-f49f-3a31532fc7c5?sv=sanitized-value&se=2024-08-07T17%3A25%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-11-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB63CCD1F02F6\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:25:43 GMT",
        "x-ms-content-crc64": "Z2swLr8QBz8=",
        "x-ms-file-last-write-time": "2024-08-06T17:25:43.4562937Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4a68ef81-3f55-19cf-4887-17dcd9675b22/test-file-d3ad5c4b-1a5e-aad2-f49f-3a31532fc7c5?sv=Sanitized&se=2024-08-07T17%3A25%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DCB63CCCFDD4CC\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB63CCCFDD4CC\"",
        "Last-Modified": "Tue, 06 Aug 2024 17:25:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 06 Aug 2024 17:25:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-6c7ee0b4-0ba1-668e-85cb-a868873b2c20?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:25:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-4a68ef81-3f55-19cf-4887-17dcd9675b22?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 17:25:43 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-08-06T12:25:42.8794162-05:00",
    "RandomSeed": "894518352",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
