{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-69886d37-fb08-2970-e460-37380625b24a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:34 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7923629DBC8\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:36 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1ed320ec-55ca-896b-9a1c-5ea74ffd59ef?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:34 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792365191FE\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:36 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1ed320ec-55ca-896b-9a1c-5ea74ffd59ef/test-file-921ab5dc-8c26-f498-3697-b71d2d817f09",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792367787FF\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:25:36.8101887Z",
        "x-ms-file-creation-time": "2023-11-17T17:25:36.8101887Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:25:36.8101887Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1ed320ec-55ca-896b-9a1c-5ea74ffd59ef/test-file-921ab5dc-8c26-f498-3697-b71d2d817f09?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:35 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": "4cTD8zjqBzqhoyyGlCQ1vHbzsTziTx3ovLKLp24/8e54i1D\u002BLntkkuPo2txRjM5u9r/w50ZzR5Km2jeGX1/LYbE9DgjTNo36jx9Z\u002BXRBly/jHLGuTgmoBUS\u002BWFRD3jODHXkrE37GmsAy9lgmGU0dZUMIokKtHROnlQjEFd45t7Ds1dz7FoOwHYLxfFixgev2oPIQOjvw1f9mg351AYXh\u002BD6nOkNxIk6/V4XAvKC69hMcznTrKHx1\u002B//clZIEOhv8D4MaCUeohH6jUOO2MBlfq41rWTIR9s/CMj5DlY28ux1pw60coOzLdEn1R9iZvsrmfekFmeHo6xizWNcJZO/w55XGTG1rQguhn\u002BTpG673KHNzXRiktyE7gNiUaEgUwhBaBV9C03JdezrdZPn9/89pvC9klQfXTDBzisyU1tnDjN3Uj[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-69886d37-fb08-2970-e460-37380625b24a/test-file-eee77000-64e8-dc71-5be4-e1f5241a21ee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:35 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79236CB7A34\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:25:37.3603380Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-69886d37-fb08-2970-e460-37380625b24a/test-file-eee77000-64e8-dc71-5be4-e1f5241a21ee?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:35 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "jCFtLC59ZoFP16EB\u002BAptuXTA3Jua8yPRR8EX9M[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-69886d37-fb08-2970-e460-37380625b24a/test-file-eee77000-64e8-dc71-5be4-e1f5241a21ee?sv=2024-02-04\u0026se=2023-11-18T17%3A25%3A35Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE79236FC4717\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:37 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:25:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:25:37.3603380Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1ed320ec-55ca-896b-9a1c-5ea74ffd59ef/test-file-921ab5dc-8c26-f498-3697-b71d2d817f09?sv=2024-02-04\u0026se=2023-11-18T17%3A25%3A35Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE79236A743B2\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:25:37.1230130Z",
        "x-ms-file-creation-time": "2023-11-17T17:25:36.8101887Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:25:37.1230130Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1ed320ec-55ca-896b-9a1c-5ea74ffd59ef/test-file-921ab5dc-8c26-f498-3697-b71d2d817f09?sv=2024-02-04\u0026se=2023-11-18T17%3A25%3A35Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE79236A743B2\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:25:37.1230130Z",
        "x-ms-file-creation-time": "2023-11-17T17:25:36.8101887Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:25:37.1230130Z",
        "x-ms-file-parent-i[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-1ed320ec-55ca-896b-9a1c-5ea74ffd59ef?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:37 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-69886d37-fb08-2970-e460-37380625b24a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:37 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:25:35.6004883-08:00",
    "RandomSeed": "2023917775",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
