{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a0bcc0b-4d63-1999-b93f-c0f85b6078c9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2E59081B5\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-44564f19-a86d-48c5-e511-74a0c809452c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2E599E5FC\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a0bcc0b-4d63-1999-b93f-c0f85b6078c9/test-file-26c5e793-ee21-1c0d-db58-4c6ae1669a8a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2E5A4ED43\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:15:04.6891843Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a0bcc0b-4d63-1999-b93f-c0f85b6078c9/test-file-26c5e793-ee21-1c0d-db58-4c6ae1669a8a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "ZIDI9iRs17HnnVbhijF0wmzg6EhdMabSp7QP0JG8OaXxbd0tjNeIzVSpmhxQjxLv4sLlvd398jPa9U9wXAcfKmOw8B1URzaVVxv0tJaJghehH+3O13zH9HuqUpaIGHFMiXC4n5/1m5uMT2XCCD6cUHM3zjwZUFPn6fuiqfSfDT+qpyom0eN3rINSQocWBes8DQIjUEk0Mzgc0LajU/Km7UImGGETdn6QwCK4xg7L0eMQZZvxe7z1dXTyCQEs01iRrFRE7+2KKZeEk5Ame2wpUf7Sk+5WtHKFMaLtIW19Y+zJJhq6huL2hjsEbegszvkHyLgCWUBqO/fiv71LnAgqBjCjXFRSb[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a0bcc0b-4d63-1999-b93f-c0f85b6078c9/test-file-26c5e793-ee21-1c0d-db58-4c6ae1669a8a?sv=Sanitized&se=2024-07-03T18%3A15%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC2E5B1E3B1\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:15:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:15:04.6891843Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-44564f19-a86d-48c5-e511-74a0c809452c/test-file-ba06f6b4-bf92-8ff7-9a9d-dfbc672f4519?sv=Sanitized&se=2024-07-03T18%3A15%3A05Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-44564f19-a86d-48c5-e511-74a0c809452c/test-file-ba06f6b4-bf92-8ff7-9a9d-dfbc672f4519?sv=Sanitized&se=2024-07-03T18%3A15%3A05Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:15:04.0000000Z",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2E5D0295D\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:15:04.9725277Z",
        "x-ms-file-creation-time": "2024-07-02T18:15:04.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:15:04.9725277Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-44564f19-a86d-48c5-e511-74a0c809452c/test-file-ba06f6b4-bf92-8ff7-9a9d-dfbc672f4519?sv=Sanitized&se=2024-07-03T18%3A15%3A05Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-8a0bcc0b-4d63-1999-b93f-c0f85b6078c9/test-file-26c5e793-ee21-1c0d-db58-4c6ae1669a8a?sv=Sanitized&se=2024-07-03T18%3A15%3A05Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC2E5DCAAB9\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:15:05 GMT",
        "x-ms-content-crc64": "mO7yh7rwEy0=",
        "x-ms-file-last-write-time": "2024-07-02T18:15:04.9725277Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-44564f19-a86d-48c5-e511-74a0c809452c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a0bcc0b-4d63-1999-b93f-c0f85b6078c9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:15:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:15:05.3347431-07:00",
    "RandomSeed": "1904426239",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
