{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2ea2c0b8-e12f-a761-1b2a-f1fa6d811bf5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 29 Apr 2024 04:52:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680833E130F2\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-b1318bf2-eca1-765f-22eb-d74aecbec011?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:52:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680833EEEB34\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2ea2c0b8-e12f-a761-1b2a-f1fa6d811bf5/test-file-cefaedb1-dbcb-e333-55bb-b0eab23b3425",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 29 Apr 2024 04:52:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680833F877BB\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-29T04:52:42.0716475Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2ea2c0b8-e12f-a761-1b2a-f1fa6d811bf5/test-file-cefaedb1-dbcb-e333-55bb-b0eab23b3425?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 29 Apr 2024 04:52:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "gKWd0ljOvLZYrRdbfSKxASFaroK4Fc5V/7M6JNAe3HBetYIiQS1v/+/RfU6zpS00atOQygHtzmvXSNOlk5jmOdGn/Mefj7/0666T55d/oVmGBbn8jRFvceYXSvhZymxX6kR9DKhllNsTnN9SWufTWKZ5Ho3f6au/N4vgiETHmyBCPPxTAZSxIXHd6fExHBf/RPJR36zedwGYvdQdhAyXTAG+EB3qgFYSyP0cAQC5jhtz4ENRdbt0ZMT7ukS/k5xkRZzwcwv5FcOcPxeuwXUA3i+5qaTIRdZFSqxZ78URUjRguLxjyBoPesuAtTWkxaNO+twUBur4m//GqylfoCX+iu3iTgi5n[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2ea2c0b8-e12f-a761-1b2a-f1fa6d811bf5/test-file-cefaedb1-dbcb-e333-55bb-b0eab23b3425?sv=2024-05-04&se=2024-04-30T04%3A52%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC68083402FD7E\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:42 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 29 Apr 2024 04:52:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-29T04:52:42.0716475Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-b1318bf2-eca1-765f-22eb-d74aecbec011/test-file-9304437f-640d-d638-a5e1-79c52364ca09?sv=2024-05-04&se=2024-04-30T04%3A52%3A40Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-b1318bf2-eca1-765f-22eb-d74aecbec011/test-file-9304437f-640d-d638-a5e1-79c52364ca09?sv=2024-05-04&se=2024-04-30T04%3A52%3A40Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-04-29T04:52:42.0000000Z",
        "x-ms-file-last-write-time": "2024-04-29T04:52:42.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6808342AAF47\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:52:42.4007495Z",
        "x-ms-file-creation-time": "2024-04-29T04:52:42.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-29T04:52:42.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-b1318bf2-eca1-765f-22eb-d74aecbec011/test-file-9304437f-640d-d638-a5e1-79c52364ca09?sv=2024-05-04&se=2024-04-30T04%3A52%3A40Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-2ea2c0b8-e12f-a761-1b2a-f1fa6d811bf5/test-file-cefaedb1-dbcb-e333-55bb-b0eab23b3425?sv=2024-05-04&se=2024-04-30T04%3A52%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68083435F839\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:52:42 GMT",
        "x-ms-content-crc64": "L6aIwpvSXCg=",
        "x-ms-file-last-write-time": "2024-04-29T04:52:42.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-b1318bf2-eca1-765f-22eb-d74aecbec011?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:52:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2ea2c0b8-e12f-a761-1b2a-f1fa6d811bf5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:52:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-28T21:52:40.8266134-07:00",
    "RandomSeed": "1315024119",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
