{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bc5760fa-99ef-effd-7c54-808844a9e584?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC863EAED36\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ba0464e8-c06a-ef5a-e7de-85c12a71e5d7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC863F3B2B3\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bc5760fa-99ef-effd-7c54-808844a9e584/test-file-82dc40aa-b7a7-373e-a531-4fa3437afd7e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC864017A57\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:54:24.1732960Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bc5760fa-99ef-effd-7c54-808844a9e584/test-file-82dc40aa-b7a7-373e-a531-4fa3437afd7e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "kOiLsn+/WY6hSMf/kMfyj95HXNQiESriphlzdq0eK7AOSNjEytM22o+eNkMuzjjD2qgOM/u19X69qAxmTOPhgh0X8UfuLcULEIFFhNrms9jhr5sEEPi0WVNaBiHH0I6svbQmF93w1azjAyJ6b3Gj1vU0hZxH3HElYpf0lCajQ0DymcYmwJz68NrvIAzVOuniti8sk0vyZOBCAbVF/ECFP7/iiNaqfRZYOZXCWLtlTyeuEt32d7D1ADTm5L/mtfOZaeFN87ISNzkZ01q1Lwwk3bGNl+pijsgO7IeixJlXcoOhKO7aF1x1m9qk3aNWP9AnwQYOWB4JN9oYPgYqcHOgwmHWFAYdS[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bc5760fa-99ef-effd-7c54-808844a9e584/test-file-82dc40aa-b7a7-373e-a531-4fa3437afd7e?sv=Sanitized&se=2024-07-03T18%3A54%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC86409DD89\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:24 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 02 Jul 2024 18:54:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-07-02T18:54:24.1732960Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ba0464e8-c06a-ef5a-e7de-85c12a71e5d7/test-file-3ace4b8e-3fcc-cc37-36e4-1fc563d81bcd?sv=Sanitized&se=2024-07-03T18%3A54%3A25Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ba0464e8-c06a-ef5a-e7de-85c12a71e5d7/test-file-3ace4b8e-3fcc-cc37-36e4-1fc563d81bcd?sv=Sanitized&se=2024-07-03T18%3A54%3A25Z&sr=f&sp=rcwd&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "2024-07-02T18:54:24.0000000Z",
        "x-ms-file-last-write-time": "2024-07-02T18:54:24.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC8642D08FC\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:54:24.4577532Z",
        "x-ms-file-creation-time": "2024-07-02T18:54:24.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:54:24.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ba0464e8-c06a-ef5a-e7de-85c12a71e5d7/test-file-3ace4b8e-3fcc-cc37-36e4-1fc563d81bcd?sv=Sanitized&se=2024-07-03T18%3A54%3A25Z&sr=f&sp=rcwd&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-bc5760fa-99ef-effd-7c54-808844a9e584/test-file-82dc40aa-b7a7-373e-a531-4fa3437afd7e?sv=Sanitized&se=2024-07-03T18%3A54%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC86439FF7A\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:54:24 GMT",
        "x-ms-content-crc64": "+cJvzNAAxH8=",
        "x-ms-file-last-write-time": "2024-07-02T18:54:24.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ba0464e8-c06a-ef5a-e7de-85c12a71e5d7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:25 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-bc5760fa-99ef-effd-7c54-808844a9e584?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:54:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-07-02T11:54:25.0067073-07:00",
    "RandomSeed": "995883347",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
