{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-69b74db6-baee-a11e-2976-2688184cf1e7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:43 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7923BC2C11A\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:45 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-038e67bc-85da-5154-53bb-2450f51cf5da?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:44 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7923BF60B11\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:46 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-69b74db6-baee-a11e-2976-2688184cf1e7/test-file-dcc88ada-e4f9-de67-8c7f-faf4567251ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:44 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7923C28719E\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:25:46.3582110Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-69b74db6-baee-a11e-2976-2688184cf1e7/test-file-dcc88ada-e4f9-de67-8c7f-faf4567251ec?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:44 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "KvnmCKSnP24Mk14hIWLz3eESvYMUWBupawHaeOrXBpIoCjnMF8yE5EbkXr9swNxnrc5CnB40PNHdPZyjzcaENI3M\u002BBcpJsYUjdk8L/pcPKslc8oblGp09M5n79ow4RZ/Xykxn8jEPoYILg5E\u002BAzWgQDwflr7aZ8jWANJwTfr5KzCvNDQKpzjYDVEEmZbL/vBkG3ZP2O8g/aKDkfEe3xPHEligTs8BldjDR0kt1Y4xykHhzDKEqVIBjnZRhtVH\u002BW49PUc\u002Ba3AhYoVdjFGl8ygUUcevPNMhQqkGnsCYr88Du03bMJgHM57RwKltJtzAm5tOPXUNmPya[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-69b74db6-baee-a11e-2976-2688184cf1e7/test-file-dcc88ada-e4f9-de67-8c7f-faf4567251ec?sv=2024-08-04\u0026se=2023-11-18T17%3A25%3A44Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE7923C540F1C\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:46 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:25:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:25:46.3582110Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-038e67bc-85da-5154-53bb-2450f51cf5da/test-file-1d1af672-b1d6-2119-5d38-43101e8ab605?sv=2024-08-04\u0026se=2023-11-18T17%3A25%3A44Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-038e67bc-85da-5154-53bb-2450f51cf5da/test-file-1d1af672-b1d6-2119-5d38-43101e8ab605?sv=2024-08-04\u0026se=2023-11-18T17%3A25%3A44Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7923CD92246\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:25:47.5161670Z",
        "x-ms-file-creation-time": "2023-11-17T17:25:47.5161670Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:25:47.5161670Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-038e67bc-85da-5154-53bb-2450f51cf5da/test-file-1d1af672-b1d6-2119-5d38-43101e8ab605?sv=2024-08-04\u0026se=2023-11-18T17%3A25%3A44Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-69b74db6-baee-a11e-2976-2688184cf1e7/test-file-dcc88ada-e4f9-de67-8c7f-faf4567251ec?sv=2024-08-04\u0026se=2023-11-18T17%3A25%3A44Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE7923D0BEAC6\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:47 GMT",
        "x-ms-content-crc64": "vfaUEF0YS58=",
        "x-ms-file-last-write-time": "2023-11-17T17:25:47.8489798Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-038e67bc-85da-5154-53bb-2450f51cf5da?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:46 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-69b74db6-baee-a11e-2976-2688184cf1e7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:46 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:25:44.4682099-08:00",
    "RandomSeed": "287179770",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
