{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cead06d4-71f4-e941-5fb3-9b4015700b90?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:52 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79240A1E787\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:53 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c6c0acc6-f1cb-90cf-cf17-65c0c950e155?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:52 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79240B50135\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:53 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cead06d4-71f4-e941-5fb3-9b4015700b90/test-file-345ce016-616a-239c-5284-5c37ef308262",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:52 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79240C716BB\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:25:54.1097926Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cead06d4-71f4-e941-5fb3-9b4015700b90/test-file-345ce016-616a-239c-5284-5c37ef308262?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:52 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": "e7uuBg/p6nEDW2RdekcVkgAXssn0H2Cpi3Wml6Jt02EdcD9ZzYUf\u002BpF/dnVj04MX5bUVee\u002BcPFtbBHqaQlLOlocCPwkHu8R697g4danrRbfxjrLtV1pxgTTk/skLhbc\u002BsODtYZR6ECnwm4E3ZMeyb77CqLOg4T4tkL3VIr37b3IA\u002BcTJ/eQjd36I/LzYOh1tMo4KSNwDns6hwNDWpe1s9SsPNmoC6HHanzE1F\u002BSCVFagZ/Au8CeV/Vr1Jz0TTdKQHAeQyQOyakkdMKmrzobpHmx6NT39PgUEejkPDME0xlJfpfvd8YtS7vynEb996S/UDAnQ[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cead06d4-71f4-e941-5fb3-9b4015700b90/test-file-345ce016-616a-239c-5284-5c37ef308262?sv=2024-08-04\u0026se=2023-11-18T17%3A25%3A52Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBE79240EFCE77\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:54 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 17 Nov 2023 17:25:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-02-04",
        "x-ms-version-id": "2023-11-17T17:25:54.1097926Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c6c0acc6-f1cb-90cf-cf17-65c0c950e155/test-file-528eb417-8526-ed0b-ef4a-fc480a3bd894?sv=2024-08-04\u0026se=2023-11-18T17%3A25%3A52Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c6c0acc6-f1cb-90cf-cf17-65c0c950e155/test-file-528eb417-8526-ed0b-ef4a-fc480a3bd894?sv=2024-08-04\u0026se=2023-11-18T17%3A25%3A52Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE79241672A2C\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-17T17:25:55.1578668Z",
        "x-ms-file-creation-time": "2023-11-17T17:25:55.1578668Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-17T17:25:55.1578668Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c6c0acc6-f1cb-90cf-cf17-65c0c950e155/test-file-528eb417-8526-ed0b-ef4a-fc480a3bd894?sv=2024-08-04\u0026se=2023-11-18T17%3A25%3A52Z\u0026sr=f\u0026sp=rcwd\u0026sig=Sanitized\u0026comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-cead06d4-71f4-e941-5fb3-9b4015700b90/test-file-345ce016-616a-239c-5284-5c37ef308262?sv=2024-08-04\u0026se=2023-11-18T17%3A25%3A52Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBE792419279AB\u0022",
        "Last-Modified": "Fri, 17 Nov 2023 17:25:55 GMT",
        "x-ms-content-crc64": "KG5RKKTQ3Uc=",
        "x-ms-file-last-write-time": "2023-11-17T17:25:55.4417067Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-c6c0acc6-f1cb-90cf-cf17-65c0c950e155?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-cead06d4-71f4-e941-5fb3-9b4015700b90?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 Nov 2023 17:25:54 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-11-17T09:25:52.4309980-08:00",
    "RandomSeed": "979074077",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
