{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.ServiceLinker/operations?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.ServiceLinker/register/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.ServiceLinker",
              "resource": "Microsoft.ServiceLinker",
              "operation": "Register the Microsoft.ServiceLinker",
              "description": "Register the subscription for Microsoft.ServiceLinker"
            }
          },
          {
            "name": "Microsoft.ServiceLinker/unregister/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.ServiceLinker",
              "resource": "Microsoft.ServiceLinker",
              "operation": "Unregister the Microsoft.ServiceLinker",
              "description": "Unregister the subscription for Microsoft.ServiceLinker"
            }
   [...]
