{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/assets/test-asset?api-version=2025-04-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 504,
      "ResponseHeaders": {
        "Content-Type": "text/html"
      },
      "ResponseBody": [
        "<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>\n",
        "<html xmlns='http://www.w3.org/1999/xhtml'>\n\n",
        "<head>\n",
        "    <meta content='text/html; charset=utf-8' http-equiv='content-type' />\n",
        "    <style type='text/css'>\n",
        "        body {\n",
        "            font-family: Arial;\n",
        "            margin-left: 40px;\n",
        "        }\n\n",
        "        img {\n",
        "            border: 0 none;\n",
        "        }\n\n",
        "        #content {\n",
        "            margin-left: auto;\n",
        "            margin-right: auto\n",
        "        }\n\n",
        "        #message h1 {\n",
        "            font-size: 24px;\n",
        "            font-weight: normal;\n",
        "            color: #000000;\n",
        "            margin: 34px 0px 0px 0px\n",
        "        }\n\n",
        "        #message h2 {\n",
        "            font-size: 20px;\n",
        "            font-weight: normal;\n",
        "            color: #000000;\n",
        "            margin: 34px 0px 0px 0px\n",
        "        }\n\n",
        "        #message p {\n",
        "            font-size: 16px;\n",
        "            color: #000000;\n",
        "            margin: 8px 0px 0px 0px\n",
        "        }\n\n",
        "        #message hr {\n",
        "            margin: 15px 0px\n",
        "        }\n\n",
        "        #errorref {\n",
        "            font-size: 11px;\n",
        "            color: #737373;\n",
        "            margin-top: 41px\n",
        "        }\n",
        "    </style>\n",
        "    <title>Service unavailable</title>\n",
        "</head>\n\n",
        "<body>\n",
        "    <div id='content'>\n",
        "        <div id='message'>\n",
        "            <h1>504</h1>\n",
        "<h2><span>The service behind this page isn't responding to Azure Front Door.</span>\n",
        "</h2>\n",
        "<hr />\n",
        "<p>Gateway Timeout</p>\n",
        "<p>Azure Front Door cannot connect to the origin server at this time. <br> The origin might be overloaded, misconfigured or under maintenance now. Please contact the site owner for assistance.</p>\n",
        "<br />\n",
        "<a href=\"https://learn.microsoft.com/en-us/azure/frontdoor/troubleshoot-issues#503-or-504-response-from-azure-front-door-after-a-few-seconds\" target=\"blank\">Azure Documentation</a>\n",
        "<br />\n",
        "        </div>\n",
        "        <div id='errorref'>\n",
        "            <span>Error Info:</span><span>OriginTimeout</span><br />\n",
        "<span>x-azure-ref ID:</span><span>20260125T160640Z-174b4b6ddbfxt5wdhC1LONhe1w00000006f0000000000ryw            </span>\n",
        "        </div>\n",
        "    </div>\n",
        "</body>\n",
        "</html>\n"
      ]
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/assets/test-asset?api-version=2025-04-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "type": "Collection",
        "id": "naip-atl-00000000",
        "stac_version": "1.0.0",
        "description": "A Subset of imagery for sample MPC Pro GeoCatalog deployments.",
        "links": [
          {
            "rel": "items",
            "type": "application/geo+json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/items"
          },
          {
            "rel": "parent",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "root",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "self",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000"
          }
        ],
        "stac_extensions": [
          "https://stac-extensions.github.io/item-assets/v1.0.0/schema.json",
          "https://stac-extensions.github.io/table/v1.2.0/schema.json"
        ],
        "item_assets": {
          "image": {
            "type": "image/tiff; application=geotiff; profile=cloud-optimized",
            "roles": [
              "data"
            ],
            "title": "RGBIR COG tile"
          },
          "metadata": {
            "type": "text/plain",
            "roles": [
              "metadata"
            ],
            "title": "FGDC Metdata"
          },
          "thumbnail": {
            "type": "image/jpeg",
            "roles": [
              "thumbnail"
            ],
            "title": "Thumbnail"
          }
        },
        "msft:_created": "2026-01-15T18:47:31.294Z",
        "msft:_updated": "2026-01-25T16:07:11.530Z",
        "title": "MPC Pro Sample Datasets",
        "extent": {
          "spatial": {
            "bbox": [
              [
                -85.605165,
                30.357851,
                -80.839729,
                35.000659
              ]
            ]
          },
          "temporal": {
            "interval": [
              [
                "2020-01-01T00:00:00Z",
                "2099-12-31T23:59:59Z"
              ]
            ]
          }
        },
        "license": "proprietary",
        "providers": [
          {
            "name": "USDA Farm Service Agency",
            "roles": [
              "producer",
              "licensor"
            ],
            "url": "https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/naip-imagery/"
          },
          {
            "name": "Esri",
            "roles": [
              "processor"
            ],
            "url": "https://www.esri.com/"
          },
          {
            "name": "Microsoft",
            "roles": [
              "host",
              "processor"
            ],
            "url": "https://planetarycomputer.microsoft.com"
          }
        ],
        "summaries": {
          "gsd": [
            0.3,
            0.6,
            1
          ],
          "eo:bands": [
            {
              "name": "Red",
              "common_name": "red",
              "description": "visible red"
            },
            {
              "name": "Green",
              "common_name": "green",
              "description": "visible green"
            },
            {
              "name": "Blue",
              "common_name": "blue",
              "description": "visible blue"
            },
            {
              "name": "NIR",
              "common_name": "nir",
              "description": "near-infrared"
            }
          ]
        },
        "assets": {
          "thumbnail": {
            "href": "https://SANITIZED.blob.core.windows.net/naip-atl-00000000-1232d7af/collection-assets/thumbnail/thumbnail.png",
            "type": "image/png",
            "title": "Thumbnail",
            "roles": [
              "thumbnail"
            ]
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/assets?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": [
        "----RecordedTestMultipartBoundary\r\n",
        "content-type: application/json\r\n",
        "content-disposition: form-data; name=\"data\"\r\n",
        "\r\n",
        "{\"key\":\"Sanitized\",\"type\":\"text/plain\",\"roles\":[\"metadata\"],\"title\":\"Test Asset\",\"description\":\"A test asset for collection lifecycle testing\"}",
        "\r\n",
        "----RecordedTestMultipartBoundary\r\n",
        "content-type: text/plain\r\n",
        "content-disposition: form-data; name=\"file\"; filename=\"test-asset.txt\"\r\n",
        "\r\n",
        "Test asset content",
        "\r\n",
        "----RecordedTestMultipartBoundary--\r\n"
      ],
      "StatusCode[...]
