{
  "Entries": [
    {
      "RequestUri": "https://fakefullaccountname.blob.core.windows.net/container175763648800802138?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF192533A0FC8\"",
        "Last-Modified": "Fri, 12 Sep 2025 00:21:32 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakefullaccountname.blob.core.windows.net/?comp=list&include=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://ffakeaccountname.blob.core.windows.net/\"><Containers><Container><Name>container175763646925203856</Name><Deleted>true</Deleted><Version>01DC237B25BA48C9</Version><Properties><Last-Modified>Fri, 12 Sep 2025 00:21:13 GMT</Last-Modified><Etag>\"0x8DDF1924830753C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>expired</LeaseState><PublicAccess>container</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled><DeletedTime>Fri, 12 Sep 2025 00:21:13 GMT</DeletedTime><RemainingRetentionDays>7</RemainingRetentionDays></Properties></Container><Container><Name>container175763648800802138</Name><Deleted>true</Deleted><Version>01DC237B30C401CE</Version><Properties><Last-Modified>Fri, 12 Sep 2025 00:21:32 GMT</Last-Modified><Etag>\"0x8DDF192533A0FC8\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>expired</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled><DeletedTime>Fri, 12 Sep 2025 00:21:32 GMT</DeletedTime><RemainingRetentionDays>7</RemainingRetentionDays></Properties></Container></Containers><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakefullaccountname.blob.core.windows.net/container175763648800802138?restype=container&comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-deleted-container-name": "container175763648800802138",
        "x-ms-deleted-container-version": "01DC237B30C401CE",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakefullaccountname.blob.core.windows.net/container175763648800802138?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "container": "container175763648800802138"
  }
}
