{
  "Entries": [
    {
      "RequestUri": "https://fakefullaccountname.blob.core.windows.net/container177361821425502794?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-meta-key": "value",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82ECAF690160\"",
        "Last-Modified": "Sun, 15 Mar 2026 23:43:39 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakefullaccountname.blob.core.windows.net/container177361821425502794?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82ECAF690160\"",
        "Last-Modified": "Sun, 15 Mar 2026 23:43:39 GMT",
        "x-ms-blob-public-access": "container",
        "x-ms-default-encryption-scope": "encryptionScope1",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key": "value",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakefullaccountname.blob.core.windows.net/container177361821425502794?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\n",
        "RequestId:3f4fc2c9-d01e-003c-39d5-b4d127000000\n",
        "Time:2026-03-15T23:43:40.2339889Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "container": "container177361821425502794"
  }
}
