{
  "Entries": [
    {
      "RequestUri": "https://fakefullaccountname.blob.core.windows.net/container177355553698407613?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-public-access": "container",
        "x-ms-meta-key": "value",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE825AC0277FD0\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:19:01 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakefullaccountname.blob.core.windows.net/container177355553698407613?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE825AC0277FD0\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:19:01 GMT",
        "x-ms-blob-public-access": "container",
        "x-ms-default-encryption-scope": "encryptionScope1",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key": "value",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakefullaccountname.blob.core.windows.net/container177355553698407613?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\n",
        "RequestId:ca6b799d-a01e-0044-4643-b472df000000\n",
        "Time:2026-03-15T06:19:01.7820095Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "container": "container177355553698407613"
  }
}
