{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/resourcetest?api-version=2023-06-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "keyID": "KeyValue"
        },
        "location": "eastus2euap",
        "properties": {
          "annotation": "annotation",
          "ipPrefixRules": [
            {
              "action": "Permit",
              "sequenceNumber": 4155123341,
              "networkPrefix": "10.10.10.10/30",
              "condition": "GreaterThanOrEqualTo",
              "subnetMaskLength": "31"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/38a685aa-5adf-4969-87c0-738c09630c87*A2761EDE7FAF49C52984BEC4AFBE27F19FDA368B6844759D1D4B5880B40B052C?api-version=2023-06-15",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000123a-0000-3400-0000-64b786be0000\u0022",
        "mise-correlation-id": "2b74b41e-ad20-43bb-802f-1501a50276c3",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/resourcetest",
        "name": "resourcetest",
        "type": "microsoft.managednetworkfabric/ipprefixes",
        "location": "eastus2euap",
        "tags": {
          "keyID": "KeyValue"
        },
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-07-19T06:46:21.0441391Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-07-19T06:46:21.0441391Z"
        },
        "properties": {
          "ipPrefixRules": [
            {
              "action": "Permit",
              "sequenceNumber": 4155123341,
              "networkPrefix": "10.10.10.10/30",
              "condition": "GreaterThanOrEqualTo",
              "subnetMaskLength": "31"
            }
          ],
          "provisioningState": "Accepted",
          "configurationState": "Succeeded",
          "administrativeState": "Disabled",
          "annotation": "annotation"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/38a685aa-5adf-4969-87c0-738c09630c87*A2761EDE7FAF49C52984BEC4AFBE27F19FDA368B6844759D1D4B5880B40B052C?api-version=2023-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200006357-0000-3400-0000-64b786be0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/38a685aa-5adf-4969-87c0-738c09630c87*A2761EDE7FAF49C52984BEC4AFBE27F19FDA368B6844759D1D4B5880B40B052C",
        "name": "38a685aa-5adf-4969-87c0-738c09630c87*A2761EDE7FAF49C52984BEC4AFBE27F19FDA368B6844759D1D4B5880B40B052C",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/resourcetest",
        "status": "Succeeded",
        "startTime": "2023-07-19T06:46:22.1148545Z",
        "endTime": "2023-07-19T06:46:22.4821303Z",
        "properties": null
      }
    },
[...]
