{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "5b4b650e-28b9-4790-b3ab-ddbd88d727c4",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Event Grid - SDK",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups/sdktest-19557380?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "DeleteAfter": "2025-07-24T16:18:48.7106624"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdktest-19557380",
        "name": "sdktest-19557380",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "DeleteAfter": "2025-07-24T16:18:48.7106624"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/sdktest-19557380/providers/Microsoft.EventGrid/domains/sdk-Domain-4868?api-version=2025-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "originalTag1": "originalValue1",
          "originalTag2": "originalValue2"
        },
        "location": "eastus2euap",
        "properties": {
          "inputSchema": "CloudEventSchemaV1_0",
          "inputSchemaMapping": {
            "inputSchemaMappingType": "Json",
            "properties": {
              "topic": {
                "sourceField": "myTopicField"
              }
            }
          },
          "disableLocalAuth": false,
          "autoCreateTopicWithFirstSubscription": false,
          "autoDeleteTopicWithLastSubscription": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/1F5EBB7D-CFAB-4DC5-A44A-938CA0CB5DB6?api-version=2025-04-01-preview&t=638889419426784099&c=MIIHhzCCBm-gAwIBAgITfAiHD7dirx6ymfDGiQAACIcPtzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNzIwMTkyMzQ5WhcNMjYwMTE2MTkyMzQ5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2[...]
