{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/python-sdk-pd-sync-test_person_directories_add_person?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Test person directory for add person: python-sdk-pd-sync-test_person_directories_add_person",
        "tags": {
          "test_type": "add_person"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personDirectoryId": "python-sdk-pd-sync-test_person_directories_add_person",
        "description": "Test person directory for add person: python-sdk-pd-sync-test_person_directories_add_person",
        "tags": {
          "test_type": "add_person"
        },
        "createdAt": "2025-08-12T00:50:30.274776Z",
        "lastModifiedAt": "2025-08-12T00:50:30.274776Z",
        "personCount": 0,
        "faceCount": 0
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/python-sdk-pd-sync-test_person_directories_add_person/persons?api-version=2025-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "name": "Sanitized",
          "role": "test_subject",
          "department": "engineering"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Location": "https://example.com",
        "x-ms-region": "West US"
      },
      "ResponseBody": "eyJwZXJzb25JZCI6Ijg0MThkYmIyLTNhNWMtNDk4Ni05NDYyLTVmMzRkYTMyOWMwNSIsInRhZ3MiOnsiZGVwYXJ0bWVudCI6ImVuZ2luZWVyaW5nIiwibmFtZSI6IkpvaG4gRG9lIiwicm9sZSI6InRlc3Rfc3ViamVjdCJ9LCJmYWNlSWRzIjpbXX0="
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/python-sdk-pd-sync-test_person_directories_add_person/persons/8418dbb2-3a5c-4986-9462-5f34da329c05?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personId": "8418dbb2-3a5c-4986-9462-5f34da329c05",
        "tags": {
          "department": "engineering",
          "name": "Sanitized",
          "role": "test_subject"
        },
        "faceIds": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/personDirectories/python-sdk-pd-sync-test_person_directories_add_person?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonDirectoryNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonDirectoryNotFound",
          "message": "Person Directory 'python-sdk-pd-sync-test_person_directories_add_person' not found."
        }
      }
    }
  ],
  "Variables": {}
}
