{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "de3c4d5e-af08-451a-a873-438d86ab6f4b",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "AzureStack_HCI_ProductCI1_dev",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b/resourcegroups/sdkTest1-rg?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b/resourceGroups/sdkTest1-rg",
        "name": "sdkTest1-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centraluseuap",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b/resourceGroups/sdkTest1-rg/providers/Microsoft.DataReplication/replicationVaults/sdkTest1-prj9419replicationvault?api-version=2024-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-16-preview, 2024-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "799"
      },
      "ResponseBody": {
        "location": "centraluseuap",
        "tags": {
          "Migrate Project": "sdkTest1-prj"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "serviceResourceId": "6c0708f9-ae69-4cb3-9dc8-bdf8814a6d7f",
          "vaultType": "Migrate"
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "id": "/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b/resourceGroups/sdkTest1-rg/providers/Microsoft.DataReplication/replicationVaults/sdkTest1-prj9419replicationvault",
        "name": "sdkTest1-prj9419replicationvault",
        "type": "Microsoft.DataReplication/replicationVaults",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-03-21T16:44:44.7632235+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-03-21T16:44:44.7632235+00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b/resourceGroups/sdkTest1-rg/providers/Microsoft.DataReplication/replicationVaults/sdkTest1-prj9419replicationvault/jobs/d8b8c35c-7323-4611-88a0-709cc7ddac33?api-version=2024-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2024-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "99"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "Create or update replication policy",
          "state": "Succeeded",
          "startTime": "2025-03-21T17:38:56.4162556Z",
          "endTime": "2025-03-21T17:38:57Z",
          "objectId": "/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b/resourceGroups/sdkTest1-rg/providers/Microsoft.DataReplication/replicationVaults/sdkTest1-prj9419replicationvault/replicationPolicies/sdkTest1-prj9419replicationvaultHyperVToAzStackHCIpolicy",
          "objectName": "sdkTest1-prj9419replicationvaultHyperVToAzStackHCIpolicy",
          "objectInternalId": "sdkTest1-prj9419replicationvaultHyperVToAzStackHCIpolicy",
          "objectInternalName": "sdkTest1-prj9419replicationvaultHyperVToAzStackHCIpolicy",
          "objectType": "Policy",
          "replicationProviderId": "4de0fddc-bdfe-40d9-b60e-678bdce89630",
          "sourceFabricProviderId": null,
          "targetFabricProviderId": null,
          "allowedActions": [],
          "activityId": " ActivityId: 00000000-0000-0000-0000-000000000000",
          "tasks": [
            {
              "taskName": "Creating or updating the replication policy",
              "state": "Succeeded",
              "startTime": "2025-03-21T17:38:57.0075525Z",
              "endTime": "2025-03-21T17:38:57.0432112Z",
              "customProperties": {
                "instanceType": "TaskDetails"
              },
              "childrenJobs": []
            }
          ],
          "errors": [],
          "customProperties": {
            "instanceType": "JobDetails",
            "affectedObjectDetails": {
              "VaultId": "6c0708f9-ae69-4cb3-9dc8-bdf8814a6d7f"
            }
          },
          "provisioningState": "Canceled"
        },
        "id": "/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b/resourceGroups/sdkTest1-rg/providers/Microsoft.DataReplication/replicationVaults/sdkTest1-prj9419replicationvault/jobs/d8b8c35c-7323-4611-88a0-709cc7ddac33",
        "name": "d8b8c35c-7323-4611-88a0-709cc7ddac33",
        "type": "Microsoft.DataReplication/replicationVaults/jobs",
        "systemData": null
      }
    }
  ],
  "Variables": {
    "RandomSeed": "52772909",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "8f1080e9-c622-4fe3-917f-92ac7a4d491a"
  }
}
