{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic0004?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 19:35:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE59243243F358",
        "Last-Modified": "Wed, 21 Jan 2026 19:35:13 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "jssdkPool-Basic0004",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic0004",
        "eTag": "0x8DE59243243F358",
        "lastModified": "2026-01-21T19:35:13.0197848Z",
        "creationTime": "2026-01-21T19:34:52.7264865Z",
        "state": "active",
        "stateTransitionTime": "2026-01-21T19:34:52.7264865Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2026-01-21T19:34:52.726487Z",
        "vmSize": "standard_d1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 4,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "startTask": {
          "commandLine": "cmd /c echo hello > hello.txt",
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          },
          "maxTaskRetryCount": 0,
          "waitForSuccess": true
        },
        "userAccounts": [
          {
            "name": "nonAdminUser",
            "elevationLevel": "nonadmin",
            "windowsUserConfiguration": {
              "loginMode": "batch"
            }
          }
        ],
        "metadata": [
          {
            "name": "foo2",
            "value": "bar2"
          }
        ],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-datacenter",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64",
          "extensions": [
            {
              "name": "batchextension1",
              "publisher": "Microsoft.Azure.Geneva",
              "type": "GenevaMonitoring",
              "typeHandlerVersion": "2.0",
              "autoUpgradeMinorVersion": true,
              "enableAutomaticUpgrade": true
            }
          ]
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "enableAcceleratedNetworking": true
        }
      }
    },
[...]
