{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?api-version=2025-06-01&maxresults=-5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 04 Feb 2026 23:32:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "InvalidQueryParameterValue",
        "message": {
          "lang": "en-US",
          "value": "Value for one of the query parameters specified in the request URI is invalid.\nRequestId:9d53d093-0117-41b6-8efa-a6707d114f50\nTime:2026-02-04T23:32:47.7314877Z"
        },
        "values": [
          {
            "key": "QueryParameterName",
            "value": "maxresults"
          },
          {
            "key": "QueryParameterValue",
            "value": "-5"
          },
          {
            "key": "Reason",
            "value": "MaxResults cannot be less than 1"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
