{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-3a1f1/stopresize?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 19:58:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "OperationInvalidForCurrentState",
        "message": {
          "lang": "en-US",
          "value": "The specified operation is not valid for the current state of the resource.\nRequestId:f09959b6-676a-463e-9c00-aeb3e610b588\nTime:2026-01-21T19:58:05.0923642Z"
        }
      }
    }
  ],
  "Variables": {
    "TEST_POOL3": "jssdkPool-3a1f1"
  }
}
