{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 21 Jan 2026 19:35:45 GMT"
      },
      "RequestBody": {
        "id": "jssdkPool-Datadiskae72",
        "vmSize": "Standard_A1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "ubuntu-24_04-lts",
            "sku": "server-gen1"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 24.04",
          "dataDisks": [
            {
              "lun": 1,
              "diskSizeGB": 50
            }
          ]
        },
        "targetDedicatedNodes": 0
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Datadiskae72",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE592445942333",
        "Last-Modified": "Wed, 21 Jan 2026 19:35:45 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Datadiskae72"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Datadiskae72?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 19:36:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE592445942333",
        "Last-Modified": "Wed, 21 Jan 2026 19:35:45 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "jssdkPool-Datadiskae72",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Datadiskae72",
        "eTag": "0x8DE592445942333",
        "lastModified": "2026-01-21T19:35:45.4220083Z",
        "creationTime": "2026-01-21T19:35:45.4220078Z",
        "state": "active",
        "stateTransitionTime": "2026-01-21T19:35:45.4220078Z",
        "allocationState": "steady",
        "allocationStateTransitionTime": "2026-01-21T19:35:47.0393944Z",
        "vmSize": "standard_a1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "ubuntu-24_04-lts",
            "sku": "server-gen1",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 24.04",
          "dataDisks": [
            {
              "lun": 1,
              "caching": "none",
              "diskSizeGB": 50,
              "managedDisk": {
                "storageAccountType": "standard_lrs"
              }
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Datadiskae72?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 19:36:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "PoolNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified pool does not exist.\nRequestId:a7dfb7d3-9e33-4f26-af8f-fa86d7d2f633\nTime:2026-01-21T19:36:01.1105179Z"
        }
      }
    }
  ],
  "Variables": {
    "DISK_POOL": "jssdkPool-Datadiskae72"
  }
}
