{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Endpoint002c/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 04 Feb 2026 23:33:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#nodes",
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Endpoint002c/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 04 Feb 2026 23:33:50 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_ba4b66ba43ee99661cb2ce1c8ae789399c55b85b91c3e5b73d34674a0e806071_d",
            "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Endpoint002c/nodes/tvmps_ba4b66ba43ee99661cb2ce1c8ae789399c55b85b91c3e5b73d34674a0e806071_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2026-02-04T23:33:41.0330493Z",
            "allocationTime": "2026-02-04T23:33:41.0330543Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_ba4b66ba43ee99661cb2ce1c8ae789399c55b85b91c3e5b73d34674a0e806071_d",
            "vmSize": "standard_a1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "TestEndpointConfig.0",
                  "protocol": "udp",
                  "publicIPAddress": "20.205.2.21",
                  "publicFQDN": "dnsf1bfbff9-ee14-4845-ab73-a3597ae3b097-azurebatch-cloudservice.eastasia.cloudapp.azure.com",
                  "frontendPort": 60000,
                  "backendPort": 64444
                },
                {
                  "name": "ssh.0",
                  "protocol": "tcp",
                  "publicIPAddress": "20.205.2.21",
                  "publicFQDN": "dnsf1bfbff9-ee14-4845-ab73-a3597ae3b097-azurebatch-cloudservice.eastasia.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 22
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "0001-com-ubuntu-server-jammy",
                "sku": "22_04-lts",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "ENDPOINT_POOL": "jssdkPool-Endpoint002c"
  }
}
