{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-3a1f1?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 19:57:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE59273F6AFB0F",
        "Last-Modified": "Wed, 21 Jan 2026 19:57:03 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "jssdkPool-3a1f1",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-3a1f1",
        "eTag": "0x8DE59273F6AFB0F",
        "lastModified": "2026-01-21T19:57:03.5761423Z",
        "creationTime": "2026-01-21T19:57:03.5761417Z",
        "state": "active",
        "stateTransitionTime": "2026-01-21T19:57:03.5761417Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2026-01-21T19:57:03.5761423Z",
        "vmSize": "standard_a1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-datacenter",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        }
      }
    },
[...]
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-3a1f1/resize?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 21 Jan 2026 19:57:19 GMT"
      },
      "RequestBody": {
        "targetDedicatedNodes": 1,
        "targetLowPriorityNodes": 1
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-3a1f1/resize",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE592748AAA987",
        "Last-Modified": "Wed, 21 Jan 2026 19:57:19 GMT"
      },
      "ResponseBody": null
    },
[...]
