{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Endpoint43b8?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 20:34:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Endpoint43b8?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 20:34:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE592C7105A7EA",
        "Last-Modified": "Wed, 21 Jan 2026 20:34:14 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "jssdkPool-Endpoint43b8",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Endpoint43b8",
        "eTag": "0x8DE592C7105A7EA",
        "lastModified": "2026-01-21T20:34:14.2818282Z",
        "creationTime": "2026-01-21T20:17:51.2039963Z",
        "state": "deleting",
        "stateTransitionTime": "2026-01-21T20:34:14.2818282Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2026-01-21T20:34:14.2997869Z",
        "vmSize": "standard_a1_v2",
        "resizeTimeout": "PT7M9.497S",
        "currentDedicatedNodes": 1,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "userAccounts": [
          {
            "name": "nonAdminUser",
            "elevationLevel": "nonadmin"
          }
        ],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04"
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "TestEndpointConfig",
                "protocol": "udp",
                "backendPort": 64444,
                "frontendPortRangeStart": 60000,
                "frontendPortRangeEnd": 61000,
                "networkSecurityGroupRules": [
                  {
                    "priority": 150,
                    "access": "allow",
                    "sourceAddressPrefix": "*",
                    "sourcePortRanges": [
                      "*"
                    ]
                  }
                ]
              },
              {
                "name": "ssh",
                "protocol": "tcp",
                "backendPort": 22,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100
              }
            ]
          },
          "enableAcceleratedNetworking": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Endpoint43b8?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 20:36:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "PoolNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified pool does not exist.\nRequestId:02bd34e5-a96d-433a-a871-fa673efde7ec\nTime:2026-01-21T20:36:00.6515081Z"
        }
      }
    }
  ],
  "Variables": {
    "ENDPOINT_POOL": "jssdkPool-Endpoint43b8"
  }
}
