{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?api-version=2025-06-01&maxresults=-5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 19:35:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "InvalidQueryParameterValue",
        "message": {
          "lang": "en-US",
          "value": "Value for one of the query parameters specified in the request URI is invalid.\nRequestId:a92c39ee-3528-40cc-8772-a9aa609a69b8\nTime:2026-01-21T19:35:44.8546526Z"
        },
        "values": [
          {
            "key": "QueryParameterName",
            "value": "maxresults"
          },
          {
            "key": "QueryParameterValue",
            "value": "-5"
          },
          {
            "key": "Reason",
            "value": "MaxResults cannot be less than 1"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
