{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 21 Jan 2026 19:57:03 GMT"
      },
      "RequestBody": {
        "id": "jssdkPool-3a1f1",
        "vmSize": "Standard_A1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-datacenter"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-3a1f1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE59273F6AFB0F",
        "Last-Modified": "Wed, 21 Jan 2026 19:57:03 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-3a1f1"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "TEST_POOL3": "jssdkPool-3a1f1"
  }
}
