{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic7902?api-version=2025-06-01&%2524select=id,state&%2524expand=stats",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Thu, 22 Jan 2026 02:09:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE595B4EA1CCE5",
        "Last-Modified": "Thu, 22 Jan 2026 02:09:42 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "jssdkPool-Basic7902",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic7902",
        "eTag": "0x8DE595B4EA1CCE5",
        "lastModified": "2026-01-22T02:09:42.9311717Z",
        "creationTime": "2026-01-22T02:08:51.7174739Z",
        "state": "active",
        "stateTransitionTime": "2026-01-22T02:08:51.7174739Z",
        "allocationState": "steady",
        "allocationStateTransitionTime": "2026-01-22T02:09:29.2936082Z",
        "vmSize": "standard_d1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 4,
        "targetDedicatedNodes": 4,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "startTask": {
          "commandLine": "cmd /c echo hello > hello.txt",
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          },
          "maxTaskRetryCount": 0,
          "waitForSuccess": true
        },
        "userAccounts": [
          {
            "name": "nonAdminUser",
            "elevationLevel": "nonadmin",
            "windowsUserConfiguration": {
              "loginMode": "batch"
            }
          }
        ],
        "metadata": [
          {
            "name": "foo",
            "value": "bar"
          }
        ],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-datacenter",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64",
          "extensions": [
            {
              "name": "batchextension1",
              "publisher": "Microsoft.Azure.Geneva",
              "type": "GenevaMonitoring",
              "typeHandlerVersion": "2.0",
              "autoUpgradeMinorVersion": true,
              "enableAutomaticUpgrade": true
            }
          ]
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "enableAcceleratedNetworking": true
        }
      }
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basic7902"
  }
}
