{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.reporting.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/browser-sessions?api-version=2026-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2026-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4c1a5011-7af1-4106-a923-e42d4f93ee28",
        "x-correlation-id": "4c1a5011-7af1-4106-a923-e42d4f93ee28"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null,
        "size": 0
      }
    }
  ],
  "Variables": {}
}
