{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/access-tokens/056b76ff-2c45-4998-885d-98d494c53e08?api-version=2026-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "tk-g-1f0c",
        "expiryAt": "2026-09-28T22:01:20Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2025-07-01-preview, 2025-09-01, 2026-01-01-preview, 2026-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "511686c8-2e16-11f1-8361-f057a688bf2a",
        "x-correlation-id": "511686c8-2e16-11f1-8361-f057a688bf2a"
      },
      "ResponseBody": {
        "jwtToken": "sanitized",
        "id": "056b76ff-2c45-4998-885d-98d494c53e08",
        "name": "tk-g-1f0c",
        "createdAt": "2026-04-01T22:01:23.2162438Z",
        "expiryAt": "2026-09-28T22:01:20Z",
        "state": "Active"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/access-tokens/056b76ff-2c45-4998-885d-98d494c53e08?api-version=2026-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2025-07-01-preview, 2025-09-01, 2026-01-01-preview, 2026-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "528cda9b-2e16-11f1-9b2b-f057a688bf2a",
        "x-correlation-id": "528cda9b-2e16-11f1-9b2b-f057a688bf2a"
      },
      "ResponseBody": {
        "jwtToken": null,
        "id": "056b76ff-2c45-4998-885d-98d494c53e08",
        "name": "tk-g-1f0c",
        "createdAt": "2026-04-01T22:01:23.2162438Z",
        "expiryAt": "2026-09-28T22:01:20Z",
        "state": "Active"
      }
    }
  ],
  "Variables": {
    "expiry": "2026-09-28T22:01:20Z",
    "suffix": "1f0c",
    "token_id": "056b76ff-2c45-4998-885d-98d494c53e08"
  }
}
