{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/access-tokens?api-version=2026-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2025-07-01-preview, 2025-09-01, 2026-01-01-preview, 2026-04-01-preview",
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "mise-correlation-id": "0852a342-2e72-11f1-a32f-f057a688bf2a",
        "OData-Version": "4.0",
        "x-correlation-id": "0852a342-2e72-11f1-a32f-f057a688bf2a"
      },
      "ResponseBody": {
        "@odata.context": "http://fake.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/$metadata#AccessTokens",
        "value": [
          {
            "jwtToken": null,
            "id": "6cf66192-bf5b-4c7e-bd7d-3e51ddd6cc89",
            "name": "tk-g-4cc2",
            "createdAt": "2026-04-02T08:57:42.5616959Z",
            "expiryAt": "2026-09-29T08:57:39Z",
            "state": "Active"
          },
          {
            "jwtToken": null,
            "id": "7ff4bb70-197c-43d0-a453-83354d902167",
            "name": "tk-c-1ac8",
            "createdAt": "2026-04-02T08:57:48.9182785Z",
            "expiryAt": "2026-09-29T08:57:45Z",
            "state": "Active"
          },
          {
            "jwtToken": null,
            "id": "894087a0-6758-40ec-aac1-6b11f0bf2352",
            "name": "tk-c-6316",
            "createdAt": "2026-04-02T08:57:40.3552201Z",
            "expiryAt": "2026-09-29T08:57:36Z",
            "state": "Active"
          },
          {
            "jwtToken": null,
            "id": "d3377036-c88f-49a9-adff-e8dcea3599ab",
            "name": "tk-g-7e90",
            "createdAt": "2026-04-02T08:57:51.5342147Z",
            "expiryAt": "2026-09-29T08:57:47Z",
            "state": "Active"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
