{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.reporting.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/test-runs/50fa9a4f-311b-4846-bf20-7ea892b0e1c3?api-version=2026-04-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "displayName": "test-run"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-20-preview, 2024-09-01-preview, 2025-07-01-preview, 2025-09-01, 2026-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b694d0d5-2526-41fd-a690-16b1ed8dec0b",
        "x-correlation-id": "b694d0d5-2526-41fd-a690-16b1ed8dec0b"
      },
      "ResponseBody": {
        "runId": "50fa9a4f-311b-4846-bf20-7ea892b0e1c3",
        "displayName": "test-run",
        "creatorId": "00000000-0000-0000-0000-000000000000",
        "creatorName": "Sanitized",
        "summary": {
          "status": "RUNNING",
          "billableTime": 0,
          "numBrowserSessions": 0,
          "startTime": "2026-04-02T11:56:02Z",
          "duration": 0
        }
      }
    }
  ],
  "Variables": {
    "run_id": "50fa9a4f-311b-4846-bf20-7ea892b0e1c3"
  }
}
