{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/access-tokens/7ff4bb70-197c-43d0-a453-83354d902167?api-version=2026-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "tk-c-1ac8",
        "expiryAt": "2026-09-29T08:57:45Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2025-07-01-preview, 2025-09-01, 2026-01-01-preview, 2026-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0430d158-2e72-11f1-ae7d-f057a688bf2a",
        "x-correlation-id": "0430d158-2e72-11f1-ae7d-f057a688bf2a"
      },
      "ResponseBody": {
        "jwtToken": "sanitized",
        "id": "7ff4bb70-197c-43d0-a453-83354d902167",
        "name": "tk-c-1ac8",
        "createdAt": "2026-04-02T08:57:48.9182785Z",
        "expiryAt": "2026-09-29T08:57:45Z",
        "state": "Active"
      }
    }
  ],
  "Variables": {
    "expiry": "2026-09-29T08:57:45Z",
    "suffix": "1ac8",
    "token_id": "7ff4bb70-197c-43d0-a453-83354d902167"
  }
}
