{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/access-tokens/4c2d62e5-18cc-4137-8a61-c237cacb35d6?api-version=2025-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "tk-g-61fa",
        "expiryAt": "2026-09-27T06:05:14Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2025-07-01-preview, 2025-09-01, 2026-01-01-preview, 2026-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "95504559-2cc7-11f1-b63c-f057a688bf2a",
        "x-correlation-id": "95504559-2cc7-11f1-b63c-f057a688bf2a"
      },
      "ResponseBody": {
        "jwtToken": "sanitized",
        "id": "4c2d62e5-18cc-4137-8a61-c237cacb35d6",
        "name": "tk-g-61fa",
        "createdAt": "2026-03-31T06:05:16.1313903Z",
        "expiryAt": "2026-09-27T06:05:14Z",
        "state": "Active"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/access-tokens/4c2d62e5-18cc-4137-8a61-c237cacb35d6?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2025-07-01-preview, 2025-09-01, 2026-01-01-preview, 2026-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "967f8128-2cc7-11f1-87d4-f057a688bf2a",
        "x-correlation-id": "967f8128-2cc7-11f1-87d4-f057a688bf2a"
      },
      "ResponseBody": {
        "jwtToken": null,
        "id": "4c2d62e5-18cc-4137-8a61-c237cacb35d6",
        "name": "tk-g-61fa",
        "createdAt": "2026-03-31T06:05:16.1313903Z",
        "expiryAt": "2026-09-27T06:05:14Z",
        "state": "Active"
      }
    }
  ],
  "Variables": {
    "expiry": "2026-09-27T06:05:14Z",
    "suffix": "61fa",
    "token_id": "4c2d62e5-18cc-4137-8a61-c237cacb35d6"
  }
}
