{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.reporting.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/test-runs/8620336b-aaa2-47e7-ad49-f8d0461560e7?api-version=2026-04-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "displayName": "test-run"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-20-preview, 2024-09-01-preview, 2025-07-01-preview, 2025-09-01, 2026-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "df708531-8d90-482b-be86-7c31b289b161",
        "x-correlation-id": "df708531-8d90-482b-be86-7c31b289b161"
      },
      "ResponseBody": {
        "runId": "8620336b-aaa2-47e7-ad49-f8d0461560e7",
        "displayName": "test-run",
        "creatorId": "00000000-0000-0000-0000-000000000000",
        "creatorName": "Sanitized",
        "summary": {
          "status": "RUNNING",
          "billableTime": 0,
          "numBrowserSessions": 0,
          "startTime": "2026-04-02T08:58:10Z",
          "duration": 0
        }
      }
    }
  ],
  "Variables": {
    "run_id": "8620336b-aaa2-47e7-ad49-f8d0461560e7"
  }
}
