{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.reporting.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/test-runs/6efc68fc-55ae-4b04-bec2-bd4776bc5562?api-version=2026-04-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "displayName": "test-run-for-get"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-20-preview, 2024-09-01-preview, 2025-07-01-preview, 2025-09-01, 2026-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b19f2ad1-0dc4-46b5-a821-018e135b6497",
        "x-correlation-id": "b19f2ad1-0dc4-46b5-a821-018e135b6497"
      },
      "ResponseBody": {
        "runId": "6efc68fc-55ae-4b04-bec2-bd4776bc5562",
        "displayName": "test-run-for-get",
        "creatorId": "00000000-0000-0000-0000-000000000000",
        "creatorName": "Sanitized",
        "summary": {
          "status": "RUNNING",
          "billableTime": 0,
          "numBrowserSessions": 0,
          "startTime": "2026-04-02T11:56:04Z",
          "duration": 0
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.reporting.api.playwright.microsoft.com/playwrightworkspaces/00000000-0000-0000-0000-000000000000/test-runs/6efc68fc-55ae-4b04-bec2-bd4776bc5562?api-version=2026-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-20-preview, 2024-09-01-preview, 2025-07-01-preview, 2025-09-01, 2026-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "67020793-0f75-4460-abaa-24c0d35a1f3a",
        "x-correlation-id": "67020793-0f75-4460-abaa-24c0d35a1f3a"
      },
      "ResponseBody": {
        "runId": "6efc68fc-55ae-4b04-bec2-bd4776bc5562",
        "displayName": "test-run-for-get",
        "creatorId": "00000000-0000-0000-0000-000000000000",
        "creatorName": "Sanitized",
        "summary": {
          "status": "RUNNING",
          "billableTime": 0,
          "numBrowserSessions": 0,
          "startTime": "2026-04-02T11:56:04Z",
          "duration": 0
        }
      }
    }
  ],
  "Variables": {
    "run_id": "6efc68fc-55ae-4b04-bec2-bd4776bc5562"
  }
}
