{
  "Entries": [
    {
      "RequestUri": "https://eastus2.api.azureml.ms/agents/v1.0/subscriptions/1bd798d8-5940-47f2-81b4-b8389610f09c/resourceGroups/ai-projects-sdk-testing-rg/providers/Microsoft.MachineLearningServices/workspaces/ai-projects-sdk-testing-project-1/assistants?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4",
        "name": "cs_e2e_tests_client",
        "instructions": "You are helpful assistant."
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "86cbbc15ab6a4e729f4a69752a750fa6",
        "openai-processing-ms": "66",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-middleware-request-id": "7a2cd5c9-2375-4307-83b2-c0d27c3df111",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.229"
      },
      "ResponseBody": {
        "id": "asst_WHYT8PcnH3Q9UwpAo6Sea6mu",
        "object": "assistant",
        "created_at": 1738095164,
        "name": "cs_e2e_tests_client",
        "description": null,
        "model": "gpt-4",
        "instructions": "You are helpful assistant.",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://eastus2.api.azureml.ms/agents/v1.0/subscriptions/1bd798d8-5940-47f2-81b4-b8389610f09c/resourceGroups/ai-projects-sdk-testing-rg/providers/Microsoft.MachineLearningServices/workspaces/ai-projects-sdk-testing-project-1/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "86cbbc15ab6a4e729f4a69752a750fa6",
        "openai-processing-ms": "69",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-middleware-request-id": "cfa340cd-88a5-47e0-b088-235a5e48fe1e",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-requ[...]
