{
  "Entries": [
    {
      "RequestUri": "https://eastus2.api.azureml.ms/agents/v1.0/subscriptions/1bd798d8-5940-47f2-81b4-b8389610f09c/resourceGroups/ai-projects-sdk-testing-rg/providers/Microsoft.MachineLearningServices/workspaces/ai-projects-sdk-testing-project-1/assistants?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4",
        "name": "cs_e2e_tests_client",
        "instructions": "You are helpful assistant."
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "86cbbc15ab6a4e729f4a69752a750fa6",
        "openai-processing-ms": "61",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-middleware-request-id": "2f099862-1028-4b78-9622-3201abec2be2",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.233"
      },
      "ResponseBody": {
        "id": "asst_LX2VO0Utnl09CRXpsx7GHhk8",
        "object": "assistant",
        "created_at": 1738095724,
        "name": "cs_e2e_tests_client",
        "description": null,
        "model": "gpt-4",
        "instructions": "You are helpful assistant.",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://eastus2.api.azureml.ms/agents/v1.0/subscriptions/1bd798d8-5940-47f2-81b4-b8389610f09c/resourceGroups/ai-projects-sdk-testing-rg/providers/Microsoft.MachineLearningServices/workspaces/ai-projects-sdk-testing-project-1/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
  [...]
