{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests441?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "readOnlyTests441",
        "label": "some label",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Xepkqz6iLR9PvwElsKo5jJr71hAzhcQWcxXthOWcO3s\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjkzMzE=;sn=74229331"
      },
      "ResponseBody": {
        "etag": "Xepkqz6iLR9PvwElsKo5jJr71hAzhcQWcxXthOWcO3s",
        "key": "readOnlyTests441",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests441?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjkzMzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Xepkqz6iLR9PvwElsKo5jJr71hAzhcQWcxXthOWcO3s\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjkzMzk=;sn=74229339"
      },
      "ResponseBody": {
        "etag": "Xepkqz6iLR9PvwElsKo5jJr71hAzhcQWcxXthOWcO3s",
        "key": "readOnlyTests441",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/readOnlyTests441?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjkzMzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8aFa4NIQRE0ea36TY9uM41gbvaDJTRsUGp8-zxRLgbI\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjkzNDM=;sn=74229343"
      },
      "ResponseBody": {
        "etag": "8aFa4NIQRE0ea36TY9uM41gbvaDJTRsUGp8-zxRLgbI",
        "key": "readOnlyTests441",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": true,
        "last_modified": "2025-10-02T15:29:27+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests441?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjkzNDc="
      },
      "RequestBody": {
        "key": "readOnlyTests441",
        "label": "some label",
        "value": "world"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjkzNTE=;sn=74229351"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'readOnlyTests441' is not allowed",
        "name": "readOnlyTests441",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=readOnlyTests441",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjkzNTI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"uxXUhNzXwz9L_2-C1yAwMqFuTX7QEOdYd5PAkNRQCZ4\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjkzNTQ=;sn=74229354"
      },
      "ResponseBody": {
        "etag": "uxXUhNzXwz9L_2-C1yAwMqFuTX7QEOdYd5PAkNRQCZ4",
        "items": [
          {
            "etag": "8aFa4NIQRE0ea36TY9uM41gbvaDJTRsUGp8-zxRLgbI",
            "key": "readOnlyTests441",
            "label": "some label",
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": true,
            "last_modified": "2025-10-02T15:29:27+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests441?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjkzNTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xtmY3cJMvvxD1lFkX6QKBcmwzjP964oDy_E15ZQST4Y\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:28 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjkzNTg=;sn=74229358"
      },
      "ResponseBody": {
        "etag": "xtmY3cJMvvxD1lFkX6QKBcmwzjP964oDy_E15ZQST4Y",
        "key": "readOnlyTests441",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:28+00:00"
      }
    }
  ],
  "Variables": {
    "readOnlyTests": "readOnlyTests441"
  }
}
