{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests803?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "readOnlyTests803",
        "label": "some label",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"57N9w2ELzGTkCr9m2xbhFot0-9bJV6wBs6cJxVzxDvA\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:11 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA1ODA=;sn=75080580",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:11 GMT"
      },
      "ResponseBody": {
        "etag": "57N9w2ELzGTkCr9m2xbhFot0-9bJV6wBs6cJxVzxDvA",
        "key": "readOnlyTests803",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:11+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests803?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA1ODA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"57N9w2ELzGTkCr9m2xbhFot0-9bJV6wBs6cJxVzxDvA\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:11 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA1ODI=;sn=75080582",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:11 GMT"
      },
      "ResponseBody": {
        "etag": "57N9w2ELzGTkCr9m2xbhFot0-9bJV6wBs6cJxVzxDvA",
        "key": "readOnlyTests803",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:11+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/readOnlyTests803?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA1ODI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"x-s_mR72tNJqIbeaOKUqmRX1cNuzCspNUGfqxskGmXw\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:12 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA1ODg=;sn=75080588",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:12 GMT"
      },
      "ResponseBody": {
        "etag": "x-s_mR72tNJqIbeaOKUqmRX1cNuzCspNUGfqxskGmXw",
        "key": "readOnlyTests803",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": true,
        "last_modified": "2025-11-05T07:23:12+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests803?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA1OTU="
      },
      "RequestBody": {
        "key": "readOnlyTests803",
        "label": "some label",
        "value": "world"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA1OTY=;sn=75080596",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:12 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'readOnlyTests803' is not allowed",
        "name": "readOnlyTests803",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=readOnlyTests803",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA1OTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"EQFhbHHauODj8CZKQ8LHNr0xPZ_q0fVcdUcwLJ_b0HU\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA1OTk=;sn=75080599",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:12 GMT"
      },
      "ResponseBody": {
        "etag": "EQFhbHHauODj8CZKQ8LHNr0xPZ_q0fVcdUcwLJ_b0HU",
        "items": [
          {
            "etag": "x-s_mR72tNJqIbeaOKUqmRX1cNuzCspNUGfqxskGmXw",
            "key": "readOnlyTests803",
            "label": "some label",
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": true,
            "last_modified": "2025-11-05T07:23:12+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests803?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA2MDE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wFiOMmYK2bWGVFdE1tlC0cGNxVE1mYU8cscIBB5oK9A\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:12 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA2MDM=;sn=75080603",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:13 GMT"
      },
      "ResponseBody": {
        "etag": "wFiOMmYK2bWGVFdE1tlC0cGNxVE1mYU8cscIBB5oK9A",
        "key": "readOnlyTests803",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:12+00:00"
      }
    }
  ],
  "Variables": {
    "readOnlyTests": "readOnlyTests803"
  }
}
