{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests690?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "readOnlyTests690",
        "label": "some label",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7bRxtmlwOYJCdqZbo56wIPXij0O6dpIarn3BUtTsDDc\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:56:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk0NQ==;sn=103845945",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:50 GMT"
      },
      "ResponseBody": {
        "etag": "7bRxtmlwOYJCdqZbo56wIPXij0O6dpIarn3BUtTsDDc",
        "key": "readOnlyTests690",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T02:56:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests690?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NTk0NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7bRxtmlwOYJCdqZbo56wIPXij0O6dpIarn3BUtTsDDc\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:56:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk0OA==;sn=103845948",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:51 GMT"
      },
      "ResponseBody": {
        "etag": "7bRxtmlwOYJCdqZbo56wIPXij0O6dpIarn3BUtTsDDc",
        "key": "readOnlyTests690",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T02:56:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/readOnlyTests690?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NTk0OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LNFZNM1FCZAiUacsIhXBN3Tp0ANqwEYR0LU0GzgjTco\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:56:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk1NA==;sn=103845954",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:51 GMT"
      },
      "ResponseBody": {
        "etag": "LNFZNM1FCZAiUacsIhXBN3Tp0ANqwEYR0LU0GzgjTco",
        "key": "readOnlyTests690",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": true,
        "last_modified": "2026-01-26T02:56:51+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests690?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NTk2MA=="
      },
      "RequestBody": {
        "key": "readOnlyTests690",
        "label": "some label",
        "value": "world"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk2Mg==;sn=103845962",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:51 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'readOnlyTests690' is not allowed",
        "name": "readOnlyTests690",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=readOnlyTests690",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NTk2NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"nL_00tFhTzE37W6PgeHDwGNeF_I4Kbv9k1Uibp6TXLA\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk2NQ==;sn=103845965",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:51 GMT"
      },
      "ResponseBody": {
        "etag": "nL_00tFhTzE37W6PgeHDwGNeF_I4Kbv9k1Uibp6TXLA",
        "items": [
          {
            "etag": "LNFZNM1FCZAiUacsIhXBN3Tp0ANqwEYR0LU0GzgjTco",
            "key": "readOnlyTests690",
            "label": "some label",
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": true,
            "last_modified": "2026-01-26T02:56:51+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests690?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NTk2Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tniznXCM8QTvLzE8DbTXypaIprq8Bw1NJnG67p1u2oM\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:56:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk2OQ==;sn=103845969",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:51 GMT"
      },
      "ResponseBody": {
        "etag": "tniznXCM8QTvLzE8DbTXypaIprq8Bw1NJnG67p1u2oM",
        "key": "readOnlyTests690",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T02:56:51+00:00"
      }
    }
  ],
  "Variables": {
    "readOnlyTests": "readOnlyTests690"
  }
}
