{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests481?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "label": "some label",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mLZbruz5J63cklFDtBKNwi5BJWsGCW9uoKSFj0zDfxA\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4NzczNw==;sn=115287737",
        "x-ms-date": "Thu, 28 May 2026 21:21:50 GMT"
      },
      "ResponseBody": {
        "etag": "mLZbruz5J63cklFDtBKNwi5BJWsGCW9uoKSFj0zDfxA",
        "key": "readOnlyTests481",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests481?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4NzczNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mLZbruz5J63cklFDtBKNwi5BJWsGCW9uoKSFj0zDfxA\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzc0MA==;sn=115287740",
        "x-ms-date": "Thu, 28 May 2026 21:21:50 GMT"
      },
      "ResponseBody": {
        "etag": "mLZbruz5J63cklFDtBKNwi5BJWsGCW9uoKSFj0zDfxA",
        "key": "readOnlyTests481",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/readOnlyTests481?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzc0MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yRmRYz0dPV3UmKxPGp-H0C8awZ2sofpHtvrvmVEVXc4\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzc0NA==;sn=115287744",
        "x-ms-date": "Thu, 28 May 2026 21:21:50 GMT"
      },
      "ResponseBody": {
        "etag": "yRmRYz0dPV3UmKxPGp-H0C8awZ2sofpHtvrvmVEVXc4",
        "key": "readOnlyTests481",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": true,
        "last_modified": "2026-05-28T21:21:50+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests481?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzc1MA=="
      },
      "RequestBody": {
        "label": "some label",
        "value": "world"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzc1NA==;sn=115287754",
        "x-ms-date": "Thu, 28 May 2026 21:21:50 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'readOnlyTests481' is not allowed",
        "name": "readOnlyTests481",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=readOnlyTests481",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzc1NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"aL9TgHaUrUwsbp92zPQpmSnk6yG00dy3aUnQJqjpHp4\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzc1Nw==;sn=115287757",
        "x-ms-date": "Thu, 28 May 2026 21:21:50 GMT"
      },
      "ResponseBody": {
        "etag": "aL9TgHaUrUwsbp92zPQpmSnk6yG00dy3aUnQJqjpHp4",
        "items": [
          {
            "etag": "yRmRYz0dPV3UmKxPGp-H0C8awZ2sofpHtvrvmVEVXc4",
            "key": "readOnlyTests481",
            "label": "some label",
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": true,
            "last_modified": "2026-05-28T21:21:50+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests481?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4Nzc2MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"f2N2RAyb7LBrsrsqtT8KYrOIw23j2VO8JoGvmRtaeho\"",
        "Last-Modified": "Thu, 28 May 2026 21:21:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4Nzc2NA==;sn=115287764",
        "x-ms-date": "Thu, 28 May 2026 21:21:50 GMT"
      },
      "ResponseBody": {
        "etag": "f2N2RAyb7LBrsrsqtT8KYrOIw23j2VO8JoGvmRtaeho",
        "key": "readOnlyTests481",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:21:50+00:00"
      }
    }
  ],
  "Variables": {
    "readOnlyTests": "readOnlyTests481"
  }
}
