{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests339?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "label": "some label",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"L0Jk33-Dce4cDgi2t8FlUow6Bq7zZtwyQBHjFZXZ2V0\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:39 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzIzMQ==;sn=113153231",
        "x-ms-date": "Thu, 07 May 2026 20:26:39 GMT"
      },
      "ResponseBody": {
        "etag": "L0Jk33-Dce4cDgi2t8FlUow6Bq7zZtwyQBHjFZXZ2V0",
        "key": "readOnlyTests339",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests339?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzIzMQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"L0Jk33-Dce4cDgi2t8FlUow6Bq7zZtwyQBHjFZXZ2V0\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:39 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzIzNA==;sn=113153234",
        "x-ms-date": "Thu, 07 May 2026 20:26:39 GMT"
      },
      "ResponseBody": {
        "etag": "L0Jk33-Dce4cDgi2t8FlUow6Bq7zZtwyQBHjFZXZ2V0",
        "key": "readOnlyTests339",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/readOnlyTests339?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzIzNA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FQ3u2-oNvUhnQN4ypnfd-oFvzpCSNq823fO5SS86sUY\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:40 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzIzNg==;sn=113153236",
        "x-ms-date": "Thu, 07 May 2026 20:26:40 GMT"
      },
      "ResponseBody": {
        "etag": "FQ3u2-oNvUhnQN4ypnfd-oFvzpCSNq823fO5SS86sUY",
        "key": "readOnlyTests339",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": true,
        "last_modified": "2026-05-07T20:26:40+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests339?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzI0MQ=="
      },
      "RequestBody": {
        "label": "some label",
        "value": "world"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzI0Mg==;sn=113153242",
        "x-ms-date": "Thu, 07 May 2026 20:26:40 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'readOnlyTests339' is not allowed",
        "name": "readOnlyTests339",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=readOnlyTests339",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzI0NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"BzL1mp4jdhD0Z-PKmpQddlVZ1mVSv6L6Gpo_OCXdUhw\"",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzI0Ng==;sn=113153246",
        "x-ms-date": "Thu, 07 May 2026 20:26:40 GMT"
      },
      "ResponseBody": {
        "etag": "BzL1mp4jdhD0Z-PKmpQddlVZ1mVSv6L6Gpo_OCXdUhw",
        "items": [
          {
            "etag": "FQ3u2-oNvUhnQN4ypnfd-oFvzpCSNq823fO5SS86sUY",
            "key": "readOnlyTests339",
            "label": "some label",
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": true,
            "last_modified": "2026-05-07T20:26:40+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests339?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzI0OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aNkM5tykQJyXqwpGCuw_wXh6A-RjtsxelQLVGH37UtM\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:40 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzI1Mw==;sn=113153253",
        "x-ms-date": "Thu, 07 May 2026 20:26:40 GMT"
      },
      "ResponseBody": {
        "etag": "aNkM5tykQJyXqwpGCuw_wXh6A-RjtsxelQLVGH37UtM",
        "key": "readOnlyTests339",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:40+00:00"
      }
    }
  ],
  "Variables": {
    "readOnlyTests": "readOnlyTests339"
  }
}
