{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests998?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "readOnlyTests998",
        "label": "some label",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lrIsuGiVvF1sGK8n7lyd1bzZ57pNfDuwsAFHd3uAzYg\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:54:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUwMDE=;sn=74855001",
        "x-ms-date": "Sun, 26 Oct 2025 07:54:47 GMT"
      },
      "ResponseBody": {
        "etag": "lrIsuGiVvF1sGK8n7lyd1bzZ57pNfDuwsAFHd3uAzYg",
        "key": "readOnlyTests998",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:54:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests998?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUwMDE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lrIsuGiVvF1sGK8n7lyd1bzZ57pNfDuwsAFHd3uAzYg\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:54:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUwMDY=;sn=74855006",
        "x-ms-date": "Sun, 26 Oct 2025 07:54:47 GMT"
      },
      "ResponseBody": {
        "etag": "lrIsuGiVvF1sGK8n7lyd1bzZ57pNfDuwsAFHd3uAzYg",
        "key": "readOnlyTests998",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:54:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/readOnlyTests998?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUwMDY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FgjrA64rRVXX4BgsRwzJ8eCONoZEcdZEHeIP-VeUGWc\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:54:47 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUwMDk=;sn=74855009",
        "x-ms-date": "Sun, 26 Oct 2025 07:54:47 GMT"
      },
      "ResponseBody": {
        "etag": "FgjrA64rRVXX4BgsRwzJ8eCONoZEcdZEHeIP-VeUGWc",
        "key": "readOnlyTests998",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": true,
        "last_modified": "2025-10-26T07:54:47+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests998?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUwMTM="
      },
      "RequestBody": {
        "key": "readOnlyTests998",
        "label": "some label",
        "value": "world"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUwMTU=;sn=74855015",
        "x-ms-date": "Sun, 26 Oct 2025 07:54:48 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'readOnlyTests998' is not allowed",
        "name": "readOnlyTests998",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=readOnlyTests998",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUwMTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"7xAPYwfSx1_kGubAfaod2w7bwoj0-QKGdVt9lXht07I\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUwMTc=;sn=74855017",
        "x-ms-date": "Sun, 26 Oct 2025 07:54:48 GMT"
      },
      "ResponseBody": {
        "etag": "7xAPYwfSx1_kGubAfaod2w7bwoj0-QKGdVt9lXht07I",
        "items": [
          {
            "etag": "FgjrA64rRVXX4BgsRwzJ8eCONoZEcdZEHeIP-VeUGWc",
            "key": "readOnlyTests998",
            "label": "some label",
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": true,
            "last_modified": "2025-10-26T07:54:47+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests998?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUwMTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tCFkJ6L7nbA8q10leXd90pdpZoldsXR3siH_RVgg7hQ\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:54:48 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUwMjI=;sn=74855022",
        "x-ms-date": "Sun, 26 Oct 2025 07:54:48 GMT"
      },
      "ResponseBody": {
        "etag": "tCFkJ6L7nbA8q10leXd90pdpZoldsXR3siH_RVgg7hQ",
        "key": "readOnlyTests998",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:54:48+00:00"
      }
    }
  ],
  "Variables": {
    "readOnlyTests": "readOnlyTests998"
  }
}
