{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744634823802000?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:52:28 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE253A3E2716\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:52:28 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744634823802000/blob169744634838206031",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 16 Oct 2023 08:52:28 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\u00220x8DBCE253A512E2A\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:52:29 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-10-16T08:52:29.0567722Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744634823802000/blob169744634838206031",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:52:28 GMT",
        "x-ms-range": "bytes=0-0",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "wdn1D4aCWhojAuwkScFxlg==",
        "Content-Range": "bytes 0-0/11",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE253A512E2A\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:52:29 GMT",
        "x-ms-blob-content-md5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 08:52:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-10-16T08:52:29.0567722Z"
      },
      "ResponseBody": "SA=="
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744634823802000?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:52:28 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob169744634838206031",
    "container": "container169744634823802000"
  }
}
