{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue176841163134908767?timeout=30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue176841163134908767/messages?timeout=30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><QueueMessage><MessageText>Hello World</MessageText></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>67499c58-dae0-4f66-8d05-88b3cb239b6d</MessageId><InsertionTime>Wed, 14 Jan 2026 17:27:16 GMT</InsertionTime><ExpirationTime>Wed, 21 Jan 2026 17:27:16 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA5jwSB3uF3AE=</PopReceipt><TimeNextVisible>Wed, 14 Jan 2026 17:27:16 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue176841163134908767/messages/67499c58-dae0-4f66-8d05-88b3cb239b6d?popreceipt=AgAAAAMAAAAAAAAA5jwSB3uF3AE%3D&visibilitytimeout=0&timeout=30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><QueueMessage><MessageText/></QueueMessage>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-popreceipt": "AwAAAAMAAAAAAAAArSYfB3uF3AEAAAAA",
        "x-ms-time-next-visible": "Wed, 14 Jan 2026 17:27:16 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue176841163134908767/messages?peekonly=true&timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>67499c58-dae0-4f66-8d05-88b3cb239b6d</MessageId><InsertionTime>Wed, 14 Jan 2026 17:27:16 GMT</InsertionTime><ExpirationTime>Wed, 21 Jan 2026 17:27:16 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText /></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue176841163134908767/messages/67499c58-dae0-4f66-8d05-88b3cb239b6d?popreceipt=AwAAAAMAAAAAAAAArSYfB3uF3AEAAAAA&timeout=30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.queue.core.windows.net/queue176841163134908767?timeout=30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "queue": "queue176841163134908767"
  }
}
