{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Support/operations?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.Support/register/action",
            "display": {
              "description": "Registers Support Resource Provider",
              "operation": "Registers Support Resource Provider",
              "provider": "Registers Support Resource Provider",
              "resource": "Support Registration"
            }
          },
          {
            "name": "Microsoft.Support/lookUpResourceId/action",
            "display": {
              "description": "Looks up resource Id for resource type",
              "operation": "Look Up Resource Id",
              "provider": "Microsoft Support",
              "resource": "Look Up Resource Id"
            }
          },
          {
            "name": "Microsoft.Support/checkNameAvailability/action",
            "display":[...]
