{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting8A86872?api-version=2023-11-01&label=listConfigSettingsLabel7381",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting8A86872",
        "label": "listConfigSettingsLabel7381",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"j395QV6Q84ntpU2jH-ukdT4XD51RRnHL3nZOporM2rE\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:04:13 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjMwNjY=;sn=75063066",
        "x-ms-date": "Tue, 04 Nov 2025 19:04:13 GMT"
      },
      "ResponseBody": {
        "etag": "j395QV6Q84ntpU2jH-ukdT4XD51RRnHL3nZOporM2rE",
        "key": "listConfigSetting8A86872",
        "label": "listConfigSettingsLabel7381",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-04T19:04:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting8A86872?api-version=2023-11-01&label=listConfigSettingsLabel7381",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjMwNjY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-cpCePxtRaQ7JJbLzz0-f1TcXHlR6VMdAoVXHHpudys\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:04:13 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjMwNjc=;sn=75063067",
        "x-ms-date": "Tue, 04 Nov 2025 19:04:13 GMT"
      },
      "ResponseBody": {
        "etag": "-cpCePxtRaQ7JJbLzz0-f1TcXHlR6VMdAoVXHHpudys",
        "key": "listConfigSetting8A86872",
        "label": "listConfigSettingsLabel7381",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-11-04T19:04:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting8A86872?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjMwNjc="
      },
      "RequestBody": {
        "key": "listConfigSetting8A86872",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JK4zMpr9veMqzwo0MXFYn3G9V86KAZV-D-KlWzYa6OU\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:04:13 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjMwNjk=;sn=75063069",
        "x-ms-date": "Tue, 04 Nov 2025 19:04:13 GMT"
      },
      "ResponseBody": {
        "etag": "JK4zMpr9veMqzwo0MXFYn3G9V86KAZV-D-KlWzYa6OU",
        "key": "listConfigSetting8A86872",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T19:04:13+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listMultiplePagesOfResults856?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjMwNzE="
      },
      "RequestBody": {
        "key": "listMultiplePagesOfResults856",
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FqbUCWpWGWBovDXmNs-UzJoa_U9XLKtdQ06dpiCFpcs\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:04:14 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjMwNzI=;sn=75063072",
        "x-ms-date": "Tue, 04 Nov 2025 19:04:14 GMT"
      },
      "ResponseBody": {
        "etag": "FqbUCWpWGWBovDXmNs-UzJoa_U9XLKtdQ06dpiCFpcs",
        "key": "listMultiplePagesOfResults856",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:04:14+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listMultiplePagesOfResults856",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjMyNzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"CxIQXE-O_rSQSjy_oTxgIwgvTHkusCNxGwctufaCjh8\"",
        "Link": "</kv?api-version=2023-11-01&key=listMultiplePagesOfResults856&after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM4NTYKMTg4>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjMyNzk=;sn=75063279",
        "x-ms-date": "Tue, 04 Nov 2025 19:04:32 GMT"
      },
      "ResponseBody": {
        "etag": "CxIQXE-O_rSQSjy_oTxgIwgvTHkusCNxGwctufaCjh8",
        "items": [
          {
            "etag": "FqbUCWpWGWBovDXmNs-UzJoa_U9XLKtdQ06dpiCFpcs",
            "key": "listMultiplePagesOfResults856",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T19:04:14+00:00"
          },
          {
            "etag": "sBeAPtxnwDkdz1KFI07FBdfVSk1mUfoSpa35rlsan84",
            "key": "listMultiplePagesOfResults856",
            [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM4NTYKMTg4&api-version=2023-11-01&key=listMultiplePagesOfResults856",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjMyNzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM4NTYKOTk%3D&api-version=2023-11-01&key=listMultiplePagesOfResults856",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjMyNzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjMyNzk=;sn=75063279",
        "x-ms-date": "Tue, 04 Nov 2025 19:04:32 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
