{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A90966?api-version=2023-11-01&label=listConfigSettingsLabel3651",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "listConfigSettingsLabel3651",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iuFcELpaz8ZMxQD3K7_qnUHs16lQT_6HuBbvx5hy2_o\"",
        "Last-Modified": "Thu, 28 May 2026 21:48:03 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MDY4MQ==;sn=115290681",
        "x-ms-date": "Thu, 28 May 2026 21:48:03 GMT"
      },
      "ResponseBody": {
        "etag": "iuFcELpaz8ZMxQD3K7_qnUHs16lQT_6HuBbvx5hy2_o",
        "key": "listConfigSetting0A90966",
        "label": "listConfigSettingsLabel3651",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:48:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting0A90966?api-version=2023-11-01&label=listConfigSettingsLabel3651",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MDY4MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"A2F7eFWm4K0s7epxL8TfNknK7AwK0ZzuWh45thhDhMI\"",
        "Last-Modified": "Thu, 28 May 2026 21:48:03 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MDY4Mg==;sn=115290682",
        "x-ms-date": "Thu, 28 May 2026 21:48:03 GMT"
      },
      "ResponseBody": {
        "etag": "A2F7eFWm4K0s7epxL8TfNknK7AwK0ZzuWh45thhDhMI",
        "key": "listConfigSetting0A90966",
        "label": "listConfigSettingsLabel3651",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-05-28T21:48:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A90966?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MDY4Mg=="
      },
      "RequestBody": {
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"i1GUm1eXvI2py9dRw2R-wvku3GBFnP4B-SH1ADPfCQQ\"",
        "Last-Modified": "Thu, 28 May 2026 21:48:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MDY4NA==;sn=115290684",
        "x-ms-date": "Thu, 28 May 2026 21:48:04 GMT"
      },
      "ResponseBody": {
        "etag": "i1GUm1eXvI2py9dRw2R-wvku3GBFnP4B-SH1ADPfCQQ",
        "key": "listConfigSetting0A90966",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:48:04+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MDY4Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"XvkyHMN6_BeMVhTTz1H5OB-5AGr_KmoSYV_jxm_U7yY\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MDY4Ng==;sn=115290686",
        "x-ms-date": "Thu, 28 May 2026 21:48:04 GMT"
      },
      "ResponseBody": {
        "etag": "XvkyHMN6_BeMVhTTz1H5OB-5AGr_KmoSYV_jxm_U7yY",
        "items": [
          {
            "etag": "ON-LFG_OU_5fOa__KFy1uUkmejeUxJ5WlikLVyGRdEs",
            "key": "listConfigSetting0A87872",
            "label": "listConfigSettingsLabelA",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2026-05-28T21:47:54+00:00"
          },
          {
            "etag": "i1[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting0A90966,listConfigSetting0B74118",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MDY4Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Bs5ikKEr5wwkh6nnr[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0B74118?api-version=2023-11-01&label=listConfigSettingsLabel3651",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MDY5MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GTY5NMV_eDu5Xnt3L1Sa7V0Uhzmokdnf1bYk5AJ7F7g\"",
        "Last-Modified": "Thu, 28 May 2026 21:48:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MDY5Mg==;sn=115290692",
        "x-ms-date": "Thu, 28 May 2026 21:48:04 GMT"
      },
      "ResponseBody": {
        "etag": "GTY5NMV_eDu5Xnt3L1Sa7V0Uhzmokdnf1bYk5AJ7F7g",
        "key": "listConfigSetting0B74118",
        "label": "listConfigSettingsLabel3651",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-05-28T21:48:04+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting0A": "listConfigSetting0A90966",
    "listConfigSetting0B": "listConfigSetting0B74118",
    "listConfigSettingsLabel": "listConfigSettingsLabel3651"
  }
}
