{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7A56480?api-version=2023-11-01&label=listConfigSettingsLabel6902",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting7A56480",
        "label": "listConfigSettingsLabel6902",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mihY3r4krJ8Rwt84OX5qnQccsQWcds1qnxEuDGrM1tw\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:33:22 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTkzOTQ=;sn=75059394",
        "x-ms-date": "Tue, 04 Nov 2025 18:33:22 GMT"
      },
      "ResponseBody": {
        "etag": "mihY3r4krJ8Rwt84OX5qnQccsQWcds1qnxEuDGrM1tw",
        "key": "listConfigSetting7A56480",
        "label": "listConfigSettingsLabel6902",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:33:22+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting7A56480?api-version=2023-11-01&label=listConfigSettingsLabel6902",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTkzOTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GF4py7zEMKYlQrGC8ZFx3NhNmmCpejmEg9rzkx0eMTo\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:33:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTkzOTU=;sn=75059395",
        "x-ms-date": "Tue, 04 Nov 2025 18:33:23 GMT"
      },
      "ResponseBody": {
        "etag": "GF4py7zEMKYlQrGC8ZFx3NhNmmCpejmEg9rzkx0eMTo",
        "key": "listConfigSetting7A56480",
        "label": "listConfigSettingsLabel6902",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-11-04T18:33:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7A56480?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTkzOTU="
      },
      "RequestBody": {
        "key": "listConfigSetting7A56480",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2Qog_82ccnzSGIzldD73NeHHOUKjMceQ_UVI556xrLg\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:33:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTkzOTc=;sn=75059397",
        "x-ms-date": "Tue, 04 Nov 2025 18:33:23 GMT"
      },
      "ResponseBody": {
        "etag": "2Qog_82ccnzSGIzldD73NeHHOUKjMceQ_UVI556xrLg",
        "key": "listConfigSetting7A56480",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:33:23+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2025-11-04T18:33:23.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTkzOTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"3wN6RIZm9sdZfViHOIk3PuomddxjmiUvVWUZmtM7t8g\"",
        "Link": "</kv?api-version=2023-11-01&key=listConfigSetting*>; rel=\"original\"",
        "Memento-Datetime": "Tue, 04 Nov 2025 18:33:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTkzOTk=;sn=75059399",
        "x-ms-date": "Tue, 04 Nov 2025 18:33:23 GMT"
      },
      "ResponseBody": {
        "etag": "3wN6RIZm9sdZfViHOIk3PuomddxjmiUvVWUZmtM7t8g",
        "items": [
          {
            "etag": "hQaoOygTZNxmSWvYDqGAWyB9Ro73TxwC-AxzUSx43Os",
            "key": "listConfigSetting0A2942",
            "label": "listConfigSettingsLabelA",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2025-11-04T18:32:37+00:00"
          },
          {
            "etag": "-7S[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting7A56480%2ClistConfigSetting7B82072",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTkzOTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"kXumKq-HBfIitwY[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7B82072?api-version=2023-11-01&label=listConfigSettingsLabel6902",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTk0MDQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Jijilaj5YM56wiR0ERON6W3w5y_mA3uaBy86FL-oXuA\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:33:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTk0MDU=;sn=75059405",
        "x-ms-date": "Tue, 04 Nov 2025 18:33:25 GMT"
      },
      "ResponseBody": {
        "etag": "Jijilaj5YM56wiR0ERON6W3w5y_mA3uaBy86FL-oXuA",
        "key": "listConfigSetting7B82072",
        "label": "listConfigSettingsLabel6902",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:33:23+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting7A": "listConfigSetting7A56480",
    "listConfigSetting7B": "listConfigSetting7B82072",
    "listConfigSettingsLabel": "listConfigSettingsLabel6902"
  }
}
