{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A53339?api-version=2026-04-01&label=listConfigSettingsLabel66968",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "listConfigSettingsLabel66968",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IilYigQ5CRzZRufhe3-UAT65Zx8LjqR9xF8YkZB7St8\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:35:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTEzNQ==;sn=53371135",
        "x-ms-date": "Mon, 15 Jun 2026 18:35:51 GMT"
      },
      "ResponseBody": {
        "etag": "IilYigQ5CRzZRufhe3-UAT65Zx8LjqR9xF8YkZB7St8",
        "key": "listConfigSetting3A53339",
        "label": "listConfigSettingsLabel66968",
        "content_type": "a content type",
        "value": "[A] production value",
        "description": null,
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:35:51+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting3A53339?api-version=2026-04-01&label=listConfigSettingsLabel66968",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MTEzNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5cv3E9QuE3-QjOCFdChJWLE0gvvH62HvA_7zeevvrwA\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:35:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTEzNg==;sn=53371136",
        "x-ms-date": "Mon, 15 Jun 2026 18:35:51 GMT"
      },
      "ResponseBody": {
        "etag": "5cv3E9QuE3-QjOCFdChJWLE0gvvH62HvA_7zeevvrwA",
        "key": "listConfigSetting3A53339",
        "label": "listConfigSettingsLabel66968",
        "content_type": "a content type",
        "value": "[A] production value",
        "description": null,
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-06-15T18:35:51+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A53339?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MTEzNg=="
      },
      "RequestBody": {
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"l2lzK6QwSd9At_V5CUWe1yG9kA53KN9dw2M5bKdAbfU\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:35:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTEzOA==;sn=53371138",
        "x-ms-date": "Mon, 15 Jun 2026 18:35:51 GMT"
      },
      "ResponseBody": {
        "etag": "l2lzK6QwSd9At_V5CUWe1yG9kA53KN9dw2M5bKdAbfU",
        "key": "listConfigSetting3A53339",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "description": null,
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:35:51+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=listConfigSetting3A53339",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MTE0MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"C1DMwZLQ2jSYsnLhUNGLUera-wcSlU0NRBgSQcuU3qY\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTE0MA==;sn=53371140",
        "x-ms-date": "Mon, 15 Jun 2026 18:35:51 GMT"
      },
      "ResponseBody": {
        "etag": "C1DMwZLQ2jSYsnLhUNGLUera-wcSlU0NRBgSQcuU3qY",
        "items": [
          {
            "etag": "l2lzK6QwSd9At_V5CUWe1yG9kA53KN9dw2M5bKdAbfU",
            "key": "listConfigSetting3A53339",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "description": null,
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2026-06-15T18:35:51+00:00"
          },
          {
            "etag": "5cv3E9QuE3-QjOCFdChJWLE0gvvH62HvA_7zeevvrwA",
            "key": "listConfigSetting3A53339",
            "label": "listConfigSettingsLabel66968",
            "content_type": "a content type",
            "value": "[A] production value",
            "description": null,
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2026-06-15T18:35:51+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=listConfigSetting3A53339,listConfigSetting3B25905",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MTE0MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"t_ZAYGzChdp4POwk5[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3B25905?api-version=2026-04-01&label=listConfigSettingsLabel66968",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3MTE0NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ubcoslkp67P3pQX7m-HGgDT1tnBIDBZfQYNiCaJ5uMM\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:35:51 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3MTE0Ng==;sn=53371146",
        "x-ms-date": "Mon, 15 Jun 2026 18:35:51 GMT"
      },
      "ResponseBody": {
        "etag": "ubcoslkp67P3pQX7m-HGgDT1tnBIDBZfQYNiCaJ5uMM",
        "key": "listConfigSetting3B25905",
        "label": "listConfigSettingsLabel66968",
        "content_type": null,
        "value": "[B] production value",
        "description": null,
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-06-15T18:35:51+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting3A": "listConfigSetting3A53339",
    "listConfigSetting3B": "listConfigSetting3B25905",
    "listConfigSettingsLabel": "listConfigSettingsLabel66968"
  }
}
