{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting9A67891?api-version=2023-11-01&label=listConfigSettingsLabel45278",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting9A67891",
        "label": "listConfigSettingsLabel45278",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"u0T6lW_9cC7Qh-xQiDs8ndyzEwX7nY-mnciKRoDG34E\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:30:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODI3MzU=;sn=75082735",
        "x-ms-date": "Wed, 05 Nov 2025 07:30:58 GMT"
      },
      "ResponseBody": {
        "etag": "u0T6lW_9cC7Qh-xQiDs8ndyzEwX7nY-mnciKRoDG34E",
        "key": "listConfigSetting9A67891",
        "label": "listConfigSettingsLabel45278",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:30:58+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting9A67891?api-version=2023-11-01&label=listConfigSettingsLabel45278",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODI3MzU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ixfHx-cxah3XsET9WNiDfY0pQTsl4Z8ttiSutlMVAno\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:30:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODI3MzY=;sn=75082736",
        "x-ms-date": "Wed, 05 Nov 2025 07:30:59 GMT"
      },
      "ResponseBody": {
        "etag": "ixfHx-cxah3XsET9WNiDfY0pQTsl4Z8ttiSutlMVAno",
        "key": "listConfigSetting9A67891",
        "label": "listConfigSettingsLabel45278",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-11-05T07:30:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting9A67891?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODI3MzY="
      },
      "RequestBody": {
        "key": "listConfigSetting9A67891",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DhGipvBRkSC-FiUrg2fDiE4gSZYPOLFTmhjIDTB1F80\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:30:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODI3Mzg=;sn=75082738",
        "x-ms-date": "Wed, 05 Nov 2025 07:30:59 GMT"
      },
      "ResponseBody": {
        "etag": "DhGipvBRkSC-FiUrg2fDiE4gSZYPOLFTmhjIDTB1F80",
        "key": "listConfigSetting9A67891",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:30:59+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listMultiplePagesOfResults121?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODI3NDA="
      },
      "RequestBody": {
        "key": "listMultiplePagesOfResults121",
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hckriKfG7YlU942SHa_iJLVBR1Exxqr0U7cHJaHNkKY\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:30:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODI3NDE=;sn=75082741",
        "x-ms-date": "Wed, 05 Nov 2025 07:30:59 GMT"
      },
      "ResponseBody": {
        "etag": "hckriKfG7YlU942SHa_iJLVBR1Exxqr0U7cHJaHNkKY",
        "key": "listMultiplePagesOfResults121",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:30:59+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listMultiplePagesOfResults121",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODI5NDQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"nyzuQDLbUBn9EgXZXDHr2D6zhnZmhdR6tJO5yP4KEzs\"",
        "Link": "</kv?api-version=2023-11-01&key=listMultiplePagesOfResults121&after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHMxMjEKMTg4>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODI5NDQ=;sn=75082944",
        "x-ms-date": "Wed, 05 Nov 2025 07:31:18 GMT"
      },
      "ResponseBody": {
        "etag": "nyzuQDLbUBn9EgXZXDHr2D6zhnZmhdR6tJO5yP4KEzs",
        "items": [
          {
            "etag": "hckriKfG7YlU942SHa_iJLVBR1Exxqr0U7cHJaHNkKY",
            "key": "listMultiplePagesOfResults121",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:30:59+00:00"
          },
          {
            "etag": "VkMFHbbML_Ed__tkxteOQqd1ek_mrIc79bYKaA_25qs",
            "key": "listMultiplePagesOfResults121",
            [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHMxMjEKMTg4&api-version=2023-11-01&key=listMultiplePagesOfResults121",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODI5NDQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHMxMjEKOTk%3D&api-version=2023-11-01&key=listMultiplePagesOfResults121",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODI5NDQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODI5NDQ=;sn=75082944",
        "x-ms-date": "Wed, 05 Nov 2025 07:31:19 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHMxMjEKNTM%3D&api-version=2023-11-01&key=listMultiplePagesOfResults121",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODI5OTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content[...]
[...]
