{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5A56046?api-version=2023-11-01&label=listConfigSettingsLabel96622",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting5A56046",
        "label": "listConfigSettingsLabel96622",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"B6PYCsveSbwcPMKdAokvIJ8wR7m7nEvdwhEIk_7xOJU\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:35:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQyMTI=;sn=74104212"
      },
      "ResponseBody": {
        "etag": "B6PYCsveSbwcPMKdAokvIJ8wR7m7nEvdwhEIk_7xOJU",
        "key": "listConfigSetting5A56046",
        "label": "listConfigSettingsLabel96622",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:35:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting5A56046?api-version=2023-11-01&label=listConfigSettingsLabel96622",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQyMTI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dLiY_gXLx_AN6k2Vo4tjm6QQ5Zc2TFca-Ho4h7vXC7Q\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:35:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQyMTM=;sn=74104213"
      },
      "ResponseBody": {
        "etag": "dLiY_gXLx_AN6k2Vo4tjm6QQ5Zc2TFca-Ho4h7vXC7Q",
        "key": "listConfigSetting5A56046",
        "label": "listConfigSettingsLabel96622",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-29T09:35:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5A56046?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQyMTM="
      },
      "RequestBody": {
        "key": "listConfigSetting5A56046",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NpQJWEQeFhRC3mc8mVVJO5zcjhLpZZtTMDAkfOcVJf8\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:35:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQyMTU=;sn=74104215"
      },
      "ResponseBody": {
        "etag": "NpQJWEQeFhRC3mc8mVVJO5zcjhLpZZtTMDAkfOcVJf8",
        "key": "listConfigSetting5A56046",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:35:27+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting5A5604*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQyMTc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"KOM8rSQ2g2UFVA1K_F64FP76DzfHG0zsanStgNHBEpo\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQyMTc=;sn=74104217"
      },
      "ResponseBody": {
        "etag": "KOM8rSQ2g2UFVA1K_F64FP76DzfHG0zsanStgNHBEpo",
        "items": [
          {
            "etag": "NpQJWEQeFhRC3mc8mVVJO5zcjhLpZZtTMDAkfOcVJf8",
            "key": "listConfigSetting5A56046",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-09-29T09:35:27+00:00"
          },
          {
            "etag": "dLiY_gXLx_AN6k2Vo4tjm6QQ5Zc2TFca-Ho4h7vXC7Q",
            "key": "listConfigSetting5A56046",
            "label": "listConfigSettingsLabel96622",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2025-09-29T09:35:27+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting5A56046%2ClistConfigSetting5B41397",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQyMTc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"GzF1fuid9Gdjmcg[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5B41397?api-version=2023-11-01&label=listConfigSettingsLabel96622",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQyMjI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"G79PmJuGL4XZBf7TwceL_4Uv_f2qFZ003INTFDBBmKk\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:35:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQyMjM=;sn=74104223"
      },
      "ResponseBody": {
        "etag": "G79PmJuGL4XZBf7TwceL_4Uv_f2qFZ003INTFDBBmKk",
        "key": "listConfigSetting5B41397",
        "label": "listConfigSettingsLabel96622",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:35:27+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting5A": "listConfigSetting5A56046",
    "listConfigSetting5B": "listConfigSetting5B41397",
    "listConfigSettingsLabel": "listConfigSettingsLabel96622"
  }
}
