{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A63466?api-version=2023-11-01&label=listConfigSettingsLabel62848",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting2A63466",
        "label": "listConfigSettingsLabel62848",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"t8lCZQBk8rujQjNArrTcZvIJgafI39ttvn0_QDEPeQo\"",
        "Last-Modified": "Fri, 19 Jul 2024 18:01:14 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ2MDkz;sn=5746093"
      },
      "ResponseBody": {
        "etag": "t8lCZQBk8rujQjNArrTcZvIJgafI39ttvn0_QDEPeQo",
        "key": "listConfigSetting2A63466",
        "label": "listConfigSettingsLabel62848",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-07-19T18:01:14+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting2A63466?api-version=2023-11-01&label=listConfigSettingsLabel62848",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ2MDkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rD4mFhyIZXhUhCJlWBWwLc2myJLcRoPACQTqvPr9qT8\"",
        "Last-Modified": "Fri, 19 Jul 2024 18:01:14 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ2MDk0;sn=5746094"
      },
      "ResponseBody": {
        "etag": "rD4mFhyIZXhUhCJlWBWwLc2myJLcRoPACQTqvPr9qT8",
        "key": "listConfigSetting2A63466",
        "label": "listConfigSettingsLabel62848",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2024-07-19T18:01:14+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A63466?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NToxNSM1NzQ2MDk0"
      },
      "RequestBody": {
        "key": "listConfigSetting2A63466",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"S9kc8-aW2pRwIL5stHUk8Es8_gPLekgJZ_ByF-aLvdo\"",
        "Last-Modified": "Fri, 19 Jul 2024 18:01:14 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ2MDk2;sn=5746096"
      },
      "ResponseBody": {
        "etag": "S9kc8-aW2pRwIL5stHUk8Es8_gPLekgJZ_ByF-aLvdo",
        "key": "listConfigSetting2A63466",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2024-07-19T18:01:14+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&label=listConfigSettingsLabel6284*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ2MDk4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"6GQt8HUhZvjpRjXXjNjAdS8C89gxdOYbwJefBCis-_o\"",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ2MDk4;sn=5746098"
      },
      "ResponseBody": {
        "etag": "6GQt8HUhZvjpRjXXjNjAdS8C89gxdOYbwJefBCis-_o",
        "items": [
          {
            "etag": "rD4mFhyIZXhUhCJlWBWwLc2myJLcRoPACQTqvPr9qT8",
            "key": "listConfigSetting2A63466",
            "label": "listConfigSettingsLabel62848",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2024-07-19T18:01:14+00:00"
          },
          {
            "etag": "_mXFgr7CEa8u0ss9nqriBQhvMYti6yzbTWIx3jjDCGw",
            "key": "listConfigSetting2B48307",
            "label": "listConfigSettingsLabel62848",
            "content_type": null,
            "value": "[B] production value",
            "tags": {
              "production": "B",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2024-07-19T18:01:15+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting2A63466%2ClistConfigSetting2B48307",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ2MDk4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"lTQyjM1lZuguTfTuDwF[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2B48307?api-version=2023-11-01&label=listConfigSettingsLabel62848",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NToxNSM1NzQ2MTAz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_mXFgr7CEa8u0ss9nqriBQhvMYti6yzbTWIx3jjDCGw\"",
        "Last-Modified": "Fri, 19 Jul 2024 18:01:15 GMT",
        "Sync-Token": "zAJw6V16=NToxNSM1NzQ2MTA0;sn=5746104"
      },
      "ResponseBody": {
        "etag": "_mXFgr7CEa8u0ss9nqriBQhvMYti6yzbTWIx3jjDCGw",
        "key": "listConfigSetting2B48307",
        "label": "listConfigSettingsLabel62848",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-07-19T18:01:15+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting2A": "listConfigSetting2A63466",
    "listConfigSetting2B": "listConfigSetting2B48307",
    "listConfigSettingsLabel": "listConfigSettingsLabel62848"
  }
}
