{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting4A84515?api-version=2023-10-01&label=listConfigSettingsLabel51969",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting4A84515",
        "label": "listConfigSettingsLabel51969",
        "content_type": "a content type",
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"CU6o5i80OCFEE4EN5u0l1wQ_mC4oas08FpJzAB3o7_o\"",
        "Last-Modified": "Tue, 28 May 2024 21:16:06 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5NjY=;sn=2611966"
      },
      "ResponseBody": {
        "etag": "CU6o5i80OCFEE4EN5u0l1wQ_mC4oas08FpJzAB3o7_o",
        "key": "listConfigSetting4A84515",
        "label": "listConfigSettingsLabel51969",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:16:06+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting4A84515?api-version=2023-10-01&label=listConfigSettingsLabel51969",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE5NjY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FIK0paYe2ndQJj322yn9jSV4oSxcDuIwZlzqry9zzcw\"",
        "Last-Modified": "Tue, 28 May 2024 21:16:06 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5Njc=;sn=2611967"
      },
      "ResponseBody": {
        "etag": "FIK0paYe2ndQJj322yn9jSV4oSxcDuIwZlzqry9zzcw",
        "key": "listConfigSetting4A84515",
        "label": "listConfigSettingsLabel51969",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {},
        "locked": true,
        "last_modified": "2024-05-28T21:16:06+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting4A84515?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE5Njc="
      },
      "RequestBody": {
        "key": "listConfigSetting4A84515",
        "value": "[A] value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WWdirbKSU3jeopGKolNmcMsDl_G9MH_BX3zdNBuifSs\"",
        "Last-Modified": "Tue, 28 May 2024 21:16:06 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5Njk=;sn=2611969"
      },
      "ResponseBody": {
        "etag": "WWdirbKSU3jeopGKolNmcMsDl_G9MH_BX3zdNBuifSs",
        "key": "listConfigSetting4A84515",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:16:06+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-10-01&key=listConfigSetting4A8451*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE5NzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"7bdSJxzb8_2w81bMGNZsXDlLwDNZuYAZTOXfi-j2fbY\"",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5NzE=;sn=2611971"
      },
      "ResponseBody": {
        "etag": "7bdSJxzb8_2w81bMGNZsXDlLwDNZuYAZTOXfi-j2fbY",
        "items": [
          {
            "etag": "WWdirbKSU3jeopGKolNmcMsDl_G9MH_BX3zdNBuifSs",
            "key": "listConfigSetting4A84515",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-28T21:16:06+00:00"
          },
          {
            "etag": "FIK0paYe2ndQJj322yn9jSV4oSxcDuIwZlzqry9zzcw",
            "key": "listConfigSetting4A84515",
            "label": "listConfigSettingsLabel51969",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {},
            "locked": true,
            "last_modified": "2024-05-28T21:16:06+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-10-01&key=listConfigSetting4A8451*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE5NzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"7bdSJxzb8_2w81bMGNZsXDlLwDNZuYAZTOXfi-j2fbY\"",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5NzE=;sn=2611971"
      },
      "ResponseBody": {
        "etag": "7bdSJxzb8_2w81bMGNZsXDlLwDNZuYAZTOXfi-j2fbY",
        "items": [
          {
            "etag": "WWdirbKSU3jeopGKolNmcMsDl_G9MH_BX3zdNBuifSs",
            "key": "listConfigSetting4A84515",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-28T21:16:06+00:00"
          },
          {
            "etag": "FIK0paYe2ndQJj322yn9jSV4oSxcDuIwZlzqry9zzcw",
            "key": "listConfigSetting4A84515",
            "label": "listConfigSettingsLabel51969",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {},
            "locked": true,
            "last_modified": "2024-05-28T21:16:06+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "listConfigSetting4A": "listConfigSetting4A84515",
    "listConfigSetting4B": "listConfigSetting4B92854",
    "listConfigSettingsLabel": "listConfigSettingsLabel51969"
  }
}
