{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting9A53938?api-version=2023-11-01&label=listConfigSettingsLabel80328",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting9A53938",
        "label": "listConfigSettingsLabel80328",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wUWm8eB5LJRBQTFjzOT9Ibtb6LGDFBSbQU1Q_-0KvbE\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:54:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4Mzc3Mw==;sn=103583773",
        "x-ms-date": "Fri, 23 Jan 2026 08:54:35 GMT"
      },
      "ResponseBody": {
        "etag": "wUWm8eB5LJRBQTFjzOT9Ibtb6LGDFBSbQU1Q_-0KvbE",
        "key": "listConfigSetting9A53938",
        "label": "listConfigSettingsLabel80328",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:54:35+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting9A53938?api-version=2023-11-01&label=listConfigSettingsLabel80328",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4Mzc3Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BbnhvxYJsg0cllZktzn7hejuIGqeNbGRKGjk4UWoSao\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:54:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4Mzc3NA==;sn=103583774",
        "x-ms-date": "Fri, 23 Jan 2026 08:54:35 GMT"
      },
      "ResponseBody": {
        "etag": "BbnhvxYJsg0cllZktzn7hejuIGqeNbGRKGjk4UWoSao",
        "key": "listConfigSetting9A53938",
        "label": "listConfigSettingsLabel80328",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-01-23T08:54:35+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting9A53938?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4Mzc3NA=="
      },
      "RequestBody": {
        "key": "listConfigSetting9A53938",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"q06kzN0OlLDTGg8kts4xEyNB9uooZ2rRFobdso9JrIo\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:54:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4Mzc3Ng==;sn=103583776",
        "x-ms-date": "Fri, 23 Jan 2026 08:54:35 GMT"
      },
      "ResponseBody": {
        "etag": "q06kzN0OlLDTGg8kts4xEyNB9uooZ2rRFobdso9JrIo",
        "key": "listConfigSetting9A53938",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:54:35+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listMultiplePagesOfResults878?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4Mzc3OA=="
      },
      "RequestBody": {
        "key": "listMultiplePagesOfResults878",
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YfAZ68CICoo9EhAUTgV0i6Dsc9z_xVR7icB4u9umWHo\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:54:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4Mzc3OQ==;sn=103583779",
        "x-ms-date": "Fri, 23 Jan 2026 08:54:36 GMT"
      },
      "ResponseBody": {
        "etag": "YfAZ68CICoo9EhAUTgV0i6Dsc9z_xVR7icB4u9umWHo",
        "key": "listMultiplePagesOfResults878",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:54:36+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listMultiplePagesOfResults878",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4Mzk3OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"_erx85sznV6IfUJRg0sHBNlBRCqNKUVnDMKarCsUxG0\"",
        "Link": "</kv?api-version=2023-11-01&key=listMultiplePagesOfResults878&after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM4NzgKMTg4>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4Mzk3OA==;sn=103583978",
        "x-ms-date": "Fri, 23 Jan 2026 08:54:49 GMT"
      },
      "ResponseBody": {
        "etag": "_erx85sznV6IfUJRg0sHBNlBRCqNKUVnDMKarCsUxG0",
        "items": [
          {
            "etag": "YfAZ68CICoo9EhAUTgV0i6Dsc9z_xVR7icB4u9umWHo",
            "key": "listMultiplePagesOfResults878",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T08:54:36+00:00"
          },
          {
            "etag": "g5TmfUUrS2IwSfFjTXwvgJBEqyqGGDBW82AkUsv-ZUQ",
            "key": "listMultiplePagesOfResults878",
            [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM4NzgKMTg4&api-version=2023-11-01&key=listMultiplePagesOfResults878",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4Mzk3OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM4NzgKOTk%3D&api-version=2023-11-01&key=listMultiplePagesOfResults878",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4Mzk3OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4Mzk3OA==;sn=103583978",
        "x-ms-date": "Fri, 23 Jan 2026 08:54:49 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM4NzgKNTM%3D&api-version=2023-11-01&key=listMultiplePagesOfResults878",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDAyOA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content[...]
[...]
