{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A13666?api-version=2023-10-01&label=listConfigSettingsLabel62594",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting2A13666",
        "label": "listConfigSettingsLabel62594",
        "content_type": "a content type",
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"URAEWnfCm3RfvwE84rIZ-sdCxhcw7MQOcKWghQTPe00\"",
        "Last-Modified": "Thu, 11 Jul 2024 22:19:20 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0MzQ4;sn=2814348"
      },
      "ResponseBody": {
        "etag": "URAEWnfCm3RfvwE84rIZ-sdCxhcw7MQOcKWghQTPe00",
        "key": "listConfigSetting2A13666",
        "label": "listConfigSettingsLabel62594",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T22:19:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting2A13666?api-version=2023-10-01&label=listConfigSettingsLabel62594",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODE0MzQ4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ry74Ah_AsKvQU974pLdd_NV4JMvRQkguogRuwKEKIcY\"",
        "Last-Modified": "Thu, 11 Jul 2024 22:19:20 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0MzQ5;sn=2814349"
      },
      "ResponseBody": {
        "etag": "ry74Ah_AsKvQU974pLdd_NV4JMvRQkguogRuwKEKIcY",
        "key": "listConfigSetting2A13666",
        "label": "listConfigSettingsLabel62594",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {},
        "locked": true,
        "last_modified": "2024-07-11T22:19:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A13666?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=ODoxNSMyODE0MzQ5"
      },
      "RequestBody": {
        "key": "listConfigSetting2A13666",
        "value": "[A] value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pw6RigCCO6xKDnhH0RC4q_D672ARJlLo4EtNPRK3gzw\"",
        "Last-Modified": "Thu, 11 Jul 2024 22:19:20 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0MzUx;sn=2814351"
      },
      "ResponseBody": {
        "etag": "pw6RigCCO6xKDnhH0RC4q_D672ARJlLo4EtNPRK3gzw",
        "key": "listConfigSetting2A13666",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T22:19:20+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-10-01&label=listConfigSettingsLabel6259*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODE0MzUz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"xr1BEtzqHU9zIT2iywJLJDjB19yWp6PI4j0v49iggmw\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0MzUz;sn=2814353"
      },
      "ResponseBody": {
        "etag": "xr1BEtzqHU9zIT2iywJLJDjB19yWp6PI4j0v49iggmw",
        "items": [
          {
            "etag": "ry74Ah_AsKvQU974pLdd_NV4JMvRQkguogRuwKEKIcY",
            "key": "listConfigSetting2A13666",
            "label": "listConfigSettingsLabel62594",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {},
            "locked": true,
            "last_modified": "2024-07-11T22:19:20+00:00"
          },
          {
            "etag": "ou1E3-2e7CcN0JzPV7tGSxwuVisWDjsiw3J9lqdWpD4",
            "key": "listConfigSetting2B15919",
            "label": "listConfigSettingsLabel62594",
            "content_type": null,
            "value": "[B] production value",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T22:19:20+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-10-01&label=listConfigSettingsLabel6259*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODE0MzUz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"xr1BEtzqHU9zIT2iywJLJDjB19yWp6PI4j0v49iggmw\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0MzUz;sn=2814353"
      },
      "ResponseBody": {
        "etag": "xr1BEtzqHU9zIT2iywJLJDjB19yWp6PI4j0v49iggmw",
        "items": [
          {
            "etag": "ry74Ah_AsKvQU974pLdd_NV4JMvRQkguogRuwKEKIcY",
            "key": "listConfigSetting2A13666",
            "label": "listConfigSettingsLabel62594",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {},
            "locked": true,
            "last_modified": "2024-07-11T22:19:20+00:00"
          },
          {
            "etag": "ou1E3-2e7CcN0JzPV7tGSxwuVisWDjsiw3J9lqdWpD4",
            "key": "listConfigSetting2B15919",
            "label": "listConfigSettingsLabel62594",
            "content_type": null,
            "value": "[B] production value",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T22:19:20+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "listConfigSetting2A": "listConfigSetting2A13666",
    "listConfigSetting2B": "listConfigSetting2B15919",
    "listConfigSettingsLabel": "listConfigSettingsLabel62594"
  }
}
