{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A45117?api-version=2023-11-01&label=listConfigSettingsLabel45535",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting2A45117",
        "label": "listConfigSettingsLabel45535",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3gmGeCBEVfs5OjUTMAp4QUZcvDTs5daRPejdqY2LGXE\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:29:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIyMzg=;sn=75082238",
        "x-ms-date": "Wed, 05 Nov 2025 07:29:30 GMT"
      },
      "ResponseBody": {
        "etag": "3gmGeCBEVfs5OjUTMAp4QUZcvDTs5daRPejdqY2LGXE",
        "key": "listConfigSetting2A45117",
        "label": "listConfigSettingsLabel45535",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:29:30+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting2A45117?api-version=2023-11-01&label=listConfigSettingsLabel45535",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODIyMzg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yHelxVHLVGkSgoumMp-a4rY_yXTCDVgWWD5pZLk2RCo\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:29:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIyMzk=;sn=75082239",
        "x-ms-date": "Wed, 05 Nov 2025 07:29:30 GMT"
      },
      "ResponseBody": {
        "etag": "yHelxVHLVGkSgoumMp-a4rY_yXTCDVgWWD5pZLk2RCo",
        "key": "listConfigSetting2A45117",
        "label": "listConfigSettingsLabel45535",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-11-05T07:29:30+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A45117?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODIyMzk="
      },
      "RequestBody": {
        "key": "listConfigSetting2A45117",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DRFgEXLx_BqpxnroMD9ObQFnpi4wvMFMOCAbMI7z1VM\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:29:31 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIyNDE=;sn=75082241",
        "x-ms-date": "Wed, 05 Nov 2025 07:29:31 GMT"
      },
      "ResponseBody": {
        "etag": "DRFgEXLx_BqpxnroMD9ObQFnpi4wvMFMOCAbMI7z1VM",
        "key": "listConfigSetting2A45117",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:29:31+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&label=listConfigSettingsLabel4553*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODIyNDM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"zSk61PMdU2s-sRqwF_bA5V_sEkKoSE5FQg9m8lO6FIE\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIyNDM=;sn=75082243",
        "x-ms-date": "Wed, 05 Nov 2025 07:29:31 GMT"
      },
      "ResponseBody": {
        "etag": "zSk61PMdU2s-sRqwF_bA5V_sEkKoSE5FQg9m8lO6FIE",
        "items": [
          {
            "etag": "yHelxVHLVGkSgoumMp-a4rY_yXTCDVgWWD5pZLk2RCo",
            "key": "listConfigSetting2A45117",
            "label": "listConfigSettingsLabel45535",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2025-11-05T07:29:30+00:00"
          },
          {
            "etag": "cou-H66LKkx0pEe0rEDqAMQ7pH13eLUaox7UOkHjzz4",
            "key": "listConfigSetting2B64052",
            "label": "listConfigSettingsLabel45535",
            "content_type": null,
            "value": "[B] production value",
            "tags": {
              "production": "B",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2025-11-05T07:29:31+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting2A45117%2ClistConfigSetting2B64052",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODIyNDM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"-x-YgwVTWcdOQG9[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2B64052?api-version=2023-11-01&label=listConfigSettingsLabel45535",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODIyNDg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cou-H66LKkx0pEe0rEDqAMQ7pH13eLUaox7UOkHjzz4\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:29:31 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIyNDk=;sn=75082249",
        "x-ms-date": "Wed, 05 Nov 2025 07:29:32 GMT"
      },
      "ResponseBody": {
        "etag": "cou-H66LKkx0pEe0rEDqAMQ7pH13eLUaox7UOkHjzz4",
        "key": "listConfigSetting2B64052",
        "label": "listConfigSettingsLabel45535",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:29:31+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting2A": "listConfigSetting2A45117",
    "listConfigSetting2B": "listConfigSetting2B64052",
    "listConfigSettingsLabel": "listConfigSettingsLabel45535"
  }
}
