{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A8742?api-version=2023-11-01&label=listConfigSettingsLabel76248",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting0A8742",
        "label": "listConfigSettingsLabel76248",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8n_Q4vS3kelFEdOLhSdyTXFQ72SfIxPIS2vNolmrxAI\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:00:44 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTY1NzY=;sn=74856576",
        "x-ms-date": "Sun, 26 Oct 2025 08:00:44 GMT"
      },
      "ResponseBody": {
        "etag": "8n_Q4vS3kelFEdOLhSdyTXFQ72SfIxPIS2vNolmrxAI",
        "key": "listConfigSetting0A8742",
        "label": "listConfigSettingsLabel76248",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-26T08:00:44+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting0A8742?api-version=2023-11-01&label=listConfigSettingsLabel76248",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTY1NzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1v-7wWcFdPPBjcAo4q_ArBgGo1ZGl2Tz1m4egDgOr_g\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:00:44 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTY1Nzc=;sn=74856577",
        "x-ms-date": "Sun, 26 Oct 2025 08:00:44 GMT"
      },
      "ResponseBody": {
        "etag": "1v-7wWcFdPPBjcAo4q_ArBgGo1ZGl2Tz1m4egDgOr_g",
        "key": "listConfigSetting0A8742",
        "label": "listConfigSettingsLabel76248",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-10-26T08:00:44+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A8742?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTY1Nzc="
      },
      "RequestBody": {
        "key": "listConfigSetting0A8742",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9M9NbZSuKLUOuLrv0sKso3clETL2-_RM_37Zp1aDd74\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:00:44 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTY1Nzk=;sn=74856579",
        "x-ms-date": "Sun, 26 Oct 2025 08:00:44 GMT"
      },
      "ResponseBody": {
        "etag": "9M9NbZSuKLUOuLrv0sKso3clETL2-_RM_37Zp1aDd74",
        "key": "listConfigSetting0A8742",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-10-26T08:00:44+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTY1ODE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"nlZAmZkBGJe4jtPrvWpH4wO0ITTXe0k4mcscqWTiQNM\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTY1ODE=;sn=74856581",
        "x-ms-date": "Sun, 26 Oct 2025 08:00:45 GMT"
      },
      "ResponseBody": {
        "etag": "nlZAmZkBGJe4jtPrvWpH4wO0ITTXe0k4mcscqWTiQNM",
        "items": [
          {
            "etag": "9jYDOq1khtR8YvSw3EoHRwW0K4GLRDdEmM4ioYDLDyM",
            "key": "listConfigSetting0A49451",
            "label": "listConfigSettingsLabelA",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2025-10-26T08:00:33+00:00"
          },
          {
            "etag": "9M[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting0A8742%2ClistConfigSetting0B70045",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTY1ODE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ZLQ7bPUs5DAcLcUY[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0B70045?api-version=2023-11-01&label=listConfigSettingsLabel76248",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTY1ODY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PSPbbgXwhzgFrY4zu1YfsVNN4Ul3rSChS90w1zod56w\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:00:44 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTY1ODc=;sn=74856587",
        "x-ms-date": "Sun, 26 Oct 2025 08:00:46 GMT"
      },
      "ResponseBody": {
        "etag": "PSPbbgXwhzgFrY4zu1YfsVNN4Ul3rSChS90w1zod56w",
        "key": "listConfigSetting0B70045",
        "label": "listConfigSettingsLabel76248",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-26T08:00:44+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting0A": "listConfigSetting0A8742",
    "listConfigSetting0B": "listConfigSetting0B70045",
    "listConfigSettingsLabel": "listConfigSettingsLabel76248"
  }
}
