{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting6A72317?api-version=2023-11-01&label=listConfigSettingsLabel13446",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting6A72317",
        "label": "listConfigSettingsLabel13446",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZG2LDZsY7Ffyy0OtQnzQ6j6VFlJ1qCYYB3vemocj0kM\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:29:40 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAyNDg=;sn=73740248"
      },
      "ResponseBody": {
        "etag": "ZG2LDZsY7Ffyy0OtQnzQ6j6VFlJ1qCYYB3vemocj0kM",
        "key": "listConfigSetting6A72317",
        "label": "listConfigSettingsLabel13446",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-16T11:29:40+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting6A72317?api-version=2023-11-01&label=listConfigSettingsLabel13446",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDAyNDg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yZUnWoM0aUvRTWjHSbPAQvkrq7qre_zeIvwp1VMTiNQ\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:29:40 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAyNDk=;sn=73740249"
      },
      "ResponseBody": {
        "etag": "yZUnWoM0aUvRTWjHSbPAQvkrq7qre_zeIvwp1VMTiNQ",
        "key": "listConfigSetting6A72317",
        "label": "listConfigSettingsLabel13446",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-16T11:29:40+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting6A72317?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDAyNDk="
      },
      "RequestBody": {
        "key": "listConfigSetting6A72317",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_F7xYa4NOa1o5TV5o2nREboM4P8uMTCOSjE5PDXTqW4\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:29:40 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAyNTE=;sn=73740251"
      },
      "ResponseBody": {
        "etag": "_F7xYa4NOa1o5TV5o2nREboM4P8uMTCOSjE5PDXTqW4",
        "key": "listConfigSetting6A72317",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-16T11:29:40+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting6A72317&label=listConfigSettingsLabel13446&$Select=locked,content_type,last_modified,label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDAyNTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"wRLrMn3b_uJH20kIz_LihBkZfPUxUDrFNXVehVkga4s\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAyNTM=;sn=73740253"
      },
      "ResponseBody": {
        "etag": "wRLrMn3b_uJH20kIz_LihBkZfPUxUDrFNXVehVkga4s",
        "items": [
          {
            "label": "listConfigSettingsLabel13446",
            "content_type": "a content type",
            "locked": true,
            "last_modified": "2025-09-16T11:29:40+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting6A72317&$Select=key,label,value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDAyNTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"98QdvtOckqq2BH_DKDX44gB7bMsnG3ahf3Ydi7Tmxf0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAyNTM=;sn=73740253"
      },
      "ResponseBody": {
        "etag": "98QdvtOckqq2BH_DKDX44gB7bMsnG3ahf3Ydi7Tmxf0",
        "items": [
          {
            "key": "listConfigSetting6A72317",
            "label": null,
            "value": "[A] value"
          },
          {
            "key": "listConfigSetting6A72317",
            "label": "listConfigSettingsLabel13446",
            "value": "[A] production value"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting6A72317%2ClistConfigSetting6B44167",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDAyNTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"IrZmC_bKUDYua8P[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting6B44167?api-version=2023-11-01&label=listConfigSettingsLabel13446",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDAyNTg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"svLLq7IQB7l3Rh1EGM2ymK0GvSohm15tnesWp7gpC9U\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:29:41 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAyNTk=;sn=73740259"
      },
      "ResponseBody": {
        "etag": "svLLq7IQB7l3Rh1EGM2ymK0GvSohm15tnesWp7gpC9U",
        "key": "listConfigSetting6B44167",
        "label": "listConfigSettingsLabel13446",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-16T11:29:41+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting6A": "listConfigSetting6A72317",
    "listConfigSetting6B": "listConfigSetting6B44167",
    "listConfigSettingsLabel": "listConfigSettingsLabel13446"
  }
}
