{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A37480?api-version=2023-11-01&label=listConfigSettingsLabel38082",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting0A37480",
        "label": "listConfigSettingsLabel38082",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PrmA9w1dl8lbvhnke-tb9--SrNBdSCQ3rcmbKNieZlE\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:51:17 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ4NTE=;sn=74014851"
      },
      "ResponseBody": {
        "etag": "PrmA9w1dl8lbvhnke-tb9--SrNBdSCQ3rcmbKNieZlE",
        "key": "listConfigSetting0A37480",
        "label": "listConfigSettingsLabel38082",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:51:17+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting0A37480?api-version=2023-11-01&label=listConfigSettingsLabel38082",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTQ4NTE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YELLEuA2ciy5A8bgBONkAKup5aD3x-qY9AfWSN5jT6E\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:51:17 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ4NTI=;sn=74014852"
      },
      "ResponseBody": {
        "etag": "YELLEuA2ciy5A8bgBONkAKup5aD3x-qY9AfWSN5jT6E",
        "key": "listConfigSetting0A37480",
        "label": "listConfigSettingsLabel38082",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-25T08:51:17+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A37480?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTQ4NTI="
      },
      "RequestBody": {
        "key": "listConfigSetting0A37480",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oZEt9XuoRDBSiZdtrWuG0ZLspMA-p5KxyI6Htvz8Ogc\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:51:18 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ4NTQ=;sn=74014854"
      },
      "ResponseBody": {
        "etag": "oZEt9XuoRDBSiZdtrWuG0ZLspMA-p5KxyI6Htvz8Ogc",
        "key": "listConfigSetting0A37480",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:51:18+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTQ4NTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"QiJ96SqVrIXe-dxBfSAI3VKGCL3CpA4T8hkOMgr9flE\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ4NTY=;sn=74014856"
      },
      "ResponseBody": {
        "etag": "QiJ96SqVrIXe-dxBfSAI3VKGCL3CpA4T8hkOMgr9flE",
        "items": [
          {
            "etag": "oZEt9XuoRDBSiZdtrWuG0ZLspMA-p5KxyI6Htvz8Ogc",
            "key": "listConfigSetting0A37480",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-09-25T08:51:18+00:00"
          },
          {
            "etag": "YELLEuA2ciy5A8bgBONkAKup5aD3x-qY9AfWSN5jT6E",
 [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting0A37480%2ClistConfigSetting0B34772",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTQ4NTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"4rIDGZA-HjhIGwm[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0B34772?api-version=2023-11-01&label=listConfigSettingsLabel38082",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTQ4NjE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0-55O16XwrmnPKjUO2STvBCUqg5U4dfhORrh6B2mHzo\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:51:18 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ4NjI=;sn=74014862"
      },
      "ResponseBody": {
        "etag": "0-55O16XwrmnPKjUO2STvBCUqg5U4dfhORrh6B2mHzo",
        "key": "listConfigSetting0B34772",
        "label": "listConfigSettingsLabel38082",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:51:18+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting0A": "listConfigSetting0A37480",
    "listConfigSetting0B": "listConfigSetting0B34772",
    "listConfigSettingsLabel": "listConfigSettingsLabel38082"
  }
}
