{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1A48379?api-version=2023-11-01&label=listConfigSettingsLabel48683",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting1A48379",
        "label": "listConfigSettingsLabel48683",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KoLndX1JbEJ-260MqF3KVbePE6rB6G3-Wnw_DGZBvjY\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:35:38 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA2OTU=;sn=74230695"
      },
      "ResponseBody": {
        "etag": "KoLndX1JbEJ-260MqF3KVbePE6rB6G3-Wnw_DGZBvjY",
        "key": "listConfigSetting1A48379",
        "label": "listConfigSettingsLabel48683",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T15:35:38+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting1A48379?api-version=2023-11-01&label=listConfigSettingsLabel48683",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzA2OTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aBWPPA0jUK6tT6tLZtllwkDDNftd7zp6Lm2Zr_wZKn0\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:35:39 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA2OTY=;sn=74230696"
      },
      "ResponseBody": {
        "etag": "aBWPPA0jUK6tT6tLZtllwkDDNftd7zp6Lm2Zr_wZKn0",
        "key": "listConfigSetting1A48379",
        "label": "listConfigSettingsLabel48683",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-10-02T15:35:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1A48379?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzA2OTY="
      },
      "RequestBody": {
        "key": "listConfigSetting1A48379",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0Z89jpYzU40s3u_7EpD6CiMaDMZvo4lXdzOJo4mdAVE\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:35:39 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA2OTg=;sn=74230698"
      },
      "ResponseBody": {
        "etag": "0Z89jpYzU40s3u_7EpD6CiMaDMZvo4lXdzOJo4mdAVE",
        "key": "listConfigSetting1A48379",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T15:35:39+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&label=listConfigSettingsLabel48683",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzA3MDA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"vFavm6VbekCm17QeE77goJ1IenMxUHFnDU5IKRiTX5A\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA3MDA=;sn=74230700"
      },
      "ResponseBody": {
        "etag": "vFavm6VbekCm17QeE77goJ1IenMxUHFnDU5IKRiTX5A",
        "items": [
          {
            "etag": "aBWPPA0jUK6tT6tLZtllwkDDNftd7zp6Lm2Zr_wZKn0",
            "key": "listConfigSetting1A48379",
            "label": "listConfigSettingsLabel48683",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2025-10-02T15:35:39+00:00"
          },
          {
            "etag": "bxy_ibGxjvTgDabMneAPZfYkKb7akb5mbFUWv88yLPs",
            "key": "listConfigSetting1B65148",
            "label": "listConfigSettingsLabel48683",
            "content_type": null,
            "value": "[B] production value",
            "tags": {
              "production": "B",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2025-10-02T15:35:39+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting1A48379%2ClistConfigSetting1B65148",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzA3MDA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ffernMNDDjPbOYA[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting1B65148?api-version=2023-11-01&label=listConfigSettingsLabel48683",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzA3MDU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bxy_ibGxjvTgDabMneAPZfYkKb7akb5mbFUWv88yLPs\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:35:39 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA3MDY=;sn=74230706"
      },
      "ResponseBody": {
        "etag": "bxy_ibGxjvTgDabMneAPZfYkKb7akb5mbFUWv88yLPs",
        "key": "listConfigSetting1B65148",
        "label": "listConfigSettingsLabel48683",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T15:35:39+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting1A": "listConfigSetting1A48379",
    "listConfigSetting1B": "listConfigSetting1B65148",
    "listConfigSettingsLabel": "listConfigSettingsLabel48683"
  }
}
