{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A12622?api-version=2023-11-01&label=listConfigSettingsLabel20569",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting0A12622",
        "label": "listConfigSettingsLabel20569",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nrrVEt2Z_EhBpz_I7dTVLB4Os5fwk8BVGqXkP_t_Me8\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:29:21 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIyMDI=;sn=75082202",
        "x-ms-date": "Wed, 05 Nov 2025 07:29:21 GMT"
      },
      "ResponseBody": {
        "etag": "nrrVEt2Z_EhBpz_I7dTVLB4Os5fwk8BVGqXkP_t_Me8",
        "key": "listConfigSetting0A12622",
        "label": "listConfigSettingsLabel20569",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:29:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting0A12622?api-version=2023-11-01&label=listConfigSettingsLabel20569",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODIyMDI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ssT6gGTMY8m8G8dtiSNsq76_fmK1_xGyXS6WcTM4vLc\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:29:21 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIyMDM=;sn=75082203",
        "x-ms-date": "Wed, 05 Nov 2025 07:29:21 GMT"
      },
      "ResponseBody": {
        "etag": "ssT6gGTMY8m8G8dtiSNsq76_fmK1_xGyXS6WcTM4vLc",
        "key": "listConfigSetting0A12622",
        "label": "listConfigSettingsLabel20569",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-11-05T07:29:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A12622?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODIyMDM="
      },
      "RequestBody": {
        "key": "listConfigSetting0A12622",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bBUhBF1DlW__zoDLCp9NhsjKIPiW_c5ZYhAaXRpmLh0\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:29:21 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIyMDU=;sn=75082205",
        "x-ms-date": "Wed, 05 Nov 2025 07:29:21 GMT"
      },
      "ResponseBody": {
        "etag": "bBUhBF1DlW__zoDLCp9NhsjKIPiW_c5ZYhAaXRpmLh0",
        "key": "listConfigSetting0A12622",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:29:21+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODIyMDc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"3rDbKfQzU-vuglfrS3vLJh-xm_g27h0SMW5Q3Nfg5Eo\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIyMDc=;sn=75082207",
        "x-ms-date": "Wed, 05 Nov 2025 07:29:22 GMT"
      },
      "ResponseBody": {
        "etag": "3rDbKfQzU-vuglfrS3vLJh-xm_g27h0SMW5Q3Nfg5Eo",
        "items": [
          {
            "etag": "bBUhBF1DlW__zoDLCp9NhsjKIPiW_c5ZYhAaXRpmLh0",
            "key": "listConfigSetting0A12622",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-11-05T07:29:21+00:00"
          },
          {
            "etag": "ssT6gGTMY8m8G8dtiSNsq76_fmK1_xGyXS6WcTM4vLc",
 [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting0A12622%2ClistConfigSetting0B20180",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODIyMDc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"8RnXiX_Jqsuthd_[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0B20180?api-version=2023-11-01&label=listConfigSettingsLabel20569",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODIyMjA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hkizr0UEr-y5cg9mls3tjlGNpSdeSEQjaYFBool13yY\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:29:21 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODIyMjE=;sn=75082221",
        "x-ms-date": "Wed, 05 Nov 2025 07:29:23 GMT"
      },
      "ResponseBody": {
        "etag": "hkizr0UEr-y5cg9mls3tjlGNpSdeSEQjaYFBool13yY",
        "key": "listConfigSetting0B20180",
        "label": "listConfigSettingsLabel20569",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-05T07:29:21+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting0A": "listConfigSetting0A12622",
    "listConfigSetting0B": "listConfigSetting0B20180",
    "listConfigSettingsLabel": "listConfigSettingsLabel20569"
  }
}
