{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A52806?api-version=2023-11-01&label=listConfigSettingsLabel23408",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting0A52806",
        "label": "listConfigSettingsLabel23408",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mq41ZWd9sqdHbdoxJTKADDdt5t89Ps16UcLESnGpM0w\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:35:03 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQxNDA=;sn=74104140"
      },
      "ResponseBody": {
        "etag": "mq41ZWd9sqdHbdoxJTKADDdt5t89Ps16UcLESnGpM0w",
        "key": "listConfigSetting0A52806",
        "label": "listConfigSettingsLabel23408",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:35:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting0A52806?api-version=2023-11-01&label=listConfigSettingsLabel23408",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQxNDA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XE4j5Do5qJ5ofkRtTpHJGd9RX8HrUXOfpHB0eW8CwoE\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:35:03 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQxNDE=;sn=74104141"
      },
      "ResponseBody": {
        "etag": "XE4j5Do5qJ5ofkRtTpHJGd9RX8HrUXOfpHB0eW8CwoE",
        "key": "listConfigSetting0A52806",
        "label": "listConfigSettingsLabel23408",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-29T09:35:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A52806?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQxNDE="
      },
      "RequestBody": {
        "key": "listConfigSetting0A52806",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1oIYl8Ggz0ZK_xgRBpQMFbIdFOw5NQcroRmCPVJ-kdo\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:35:03 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQxNDM=;sn=74104143"
      },
      "ResponseBody": {
        "etag": "1oIYl8Ggz0ZK_xgRBpQMFbIdFOw5NQcroRmCPVJ-kdo",
        "key": "listConfigSetting0A52806",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:35:03+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQxNDU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Hh47cPfu_u4dS75jZ4zzPDcsCDGGxSV1X6M98EWEFzw\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQxNDU=;sn=74104145"
      },
      "ResponseBody": {
        "etag": "Hh47cPfu_u4dS75jZ4zzPDcsCDGGxSV1X6M98EWEFzw",
        "items": [
          {
            "etag": "1oIYl8Ggz0ZK_xgRBpQMFbIdFOw5NQcroRmCPVJ-kdo",
            "key": "listConfigSetting0A52806",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-09-29T09:35:03+00:00"
          },
          {
            "etag": "XE4j5Do5qJ5ofkRtTpHJGd9RX8HrUXOfpHB0eW8CwoE",
 [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting0A52806%2ClistConfigSetting0B27847",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQxNDU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"T04D3ZvfsUoLZd4[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0B27847?api-version=2023-11-01&label=listConfigSettingsLabel23408",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQxNTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NEjnqUF7jdpVRwQyUko5e6qoNfzLuTq4R--rq4aNxMs\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:35:04 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQxNTE=;sn=74104151"
      },
      "ResponseBody": {
        "etag": "NEjnqUF7jdpVRwQyUko5e6qoNfzLuTq4R--rq4aNxMs",
        "key": "listConfigSetting0B27847",
        "label": "listConfigSettingsLabel23408",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:35:04+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting0A": "listConfigSetting0A52806",
    "listConfigSetting0B": "listConfigSetting0B27847",
    "listConfigSettingsLabel": "listConfigSettingsLabel23408"
  }
}
