{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A16345?api-version=2023-10-01&label=listConfigSettingsLabel96538",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting3A16345",
        "label": "listConfigSettingsLabel96538",
        "content_type": "a content type",
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UWiVZve866o25uxk0rEEgs_fPA2CPNvuUZJ5JHI1kYI\"",
        "Last-Modified": "Thu, 11 Jul 2024 22:19:23 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0MzU0;sn=2814354"
      },
      "ResponseBody": {
        "etag": "UWiVZve866o25uxk0rEEgs_fPA2CPNvuUZJ5JHI1kYI",
        "key": "listConfigSetting3A16345",
        "label": "listConfigSettingsLabel96538",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T22:19:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting3A16345?api-version=2023-10-01&label=listConfigSettingsLabel96538",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODE0MzU0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"K-Jk2gahasjZpuFtXrSb3YlCVOEvqzHezrRHWnVV_u0\"",
        "Last-Modified": "Thu, 11 Jul 2024 22:19:23 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0MzU1;sn=2814355"
      },
      "ResponseBody": {
        "etag": "K-Jk2gahasjZpuFtXrSb3YlCVOEvqzHezrRHWnVV_u0",
        "key": "listConfigSetting3A16345",
        "label": "listConfigSettingsLabel96538",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {},
        "locked": true,
        "last_modified": "2024-07-11T22:19:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A16345?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=ODoxNSMyODE0MzU1"
      },
      "RequestBody": {
        "key": "listConfigSetting3A16345",
        "value": "[A] value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bjg_JhQ-vno-uBecCo0M1znLqaTIHPzZx7PTgiWwxvY\"",
        "Last-Modified": "Thu, 11 Jul 2024 22:19:23 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0MzU3;sn=2814357"
      },
      "ResponseBody": {
        "etag": "bjg_JhQ-vno-uBecCo0M1znLqaTIHPzZx7PTgiWwxvY",
        "key": "listConfigSetting3A16345",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T22:19:23+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-10-01&key=listConfigSetting3A16345",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODE0MzU5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"FJ5S5Ioysd7YwW06l0s1VzgTqaTdoIwKFCw3N_XKb5E\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0MzU5;sn=2814359"
      },
      "ResponseBody": {
        "etag": "FJ5S5Ioysd7YwW06l0s1VzgTqaTdoIwKFCw3N_XKb5E",
        "items": [
          {
            "etag": "bjg_JhQ-vno-uBecCo0M1znLqaTIHPzZx7PTgiWwxvY",
            "key": "listConfigSetting3A16345",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T22:19:23+00:00"
          },
          {
            "etag": "K-Jk2gahasjZpuFtXrSb3YlCVOEvqzHezrRHWnVV_u0",
            "key": "listConfigSetting3A16345",
            "label": "listConfigSettingsLabel96538",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {},
            "locked": true,
            "last_modified": "2024-07-11T22:19:23+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-10-01&key=listConfigSetting3A16345",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODE0MzU5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"FJ5S5Ioysd7YwW06l0s1VzgTqaTdoIwKFCw3N_XKb5E\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0MzU5;sn=2814359"
      },
      "ResponseBody": {
        "etag": "FJ5S5Ioysd7YwW06l0s1VzgTqaTdoIwKFCw3N_XKb5E",
        "items": [
          {
            "etag": "bjg_JhQ-vno-uBecCo0M1znLqaTIHPzZx7PTgiWwxvY",
            "key": "listConfigSetting3A16345",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T22:19:23+00:00"
          },
          {
            "etag": "K-Jk2gahasjZpuFtXrSb3YlCVOEvqzHezrRHWnVV_u0",
            "key": "listConfigSetting3A16345",
            "label": "listConfigSettingsLabel96538",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {},
            "locked": true,
            "last_modified": "2024-07-11T22:19:23+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "listConfigSetting3A": "listConfigSetting3A16345",
    "listConfigSetting3B": "listConfigSetting3B26362",
    "listConfigSettingsLabel": "listConfigSettingsLabel96538"
  }
}
