{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting9A91964?api-version=2023-11-01&label=listConfigSettingsLabel12244",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting9A91964",
        "label": "listConfigSettingsLabel12244",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BHUeFuIzRwLVixGGHdE1d37C_KNQJaSv1ZZSzt4xIp8\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:34:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTk4MTg=;sn=75059818",
        "x-ms-date": "Tue, 04 Nov 2025 18:34:27 GMT"
      },
      "ResponseBody": {
        "etag": "BHUeFuIzRwLVixGGHdE1d37C_KNQJaSv1ZZSzt4xIp8",
        "key": "listConfigSetting9A91964",
        "label": "listConfigSettingsLabel12244",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:34:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting9A91964?api-version=2023-11-01&label=listConfigSettingsLabel12244",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTk4MTg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FFVkxIQvmix51UBHm7a6TYnZUvdnTPAIz3m3cj5l9Hs\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:34:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTk4MTk=;sn=75059819",
        "x-ms-date": "Tue, 04 Nov 2025 18:34:27 GMT"
      },
      "ResponseBody": {
        "etag": "FFVkxIQvmix51UBHm7a6TYnZUvdnTPAIz3m3cj5l9Hs",
        "key": "listConfigSetting9A91964",
        "label": "listConfigSettingsLabel12244",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-11-04T18:34:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting9A91964?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTk4MTk="
      },
      "RequestBody": {
        "key": "listConfigSetting9A91964",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qCwjhJlO0okrTyHnf_-eSFdR95hgAQ014jzlTNg1jVg\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:34:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTk4MjE=;sn=75059821",
        "x-ms-date": "Tue, 04 Nov 2025 18:34:27 GMT"
      },
      "ResponseBody": {
        "etag": "qCwjhJlO0okrTyHnf_-eSFdR95hgAQ014jzlTNg1jVg",
        "key": "listConfigSetting9A91964",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-11-04T18:34:27+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listMultiplePagesOfResults864?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTk4MjM="
      },
      "RequestBody": {
        "key": "listMultiplePagesOfResults864",
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QCQC7IcMXounshlMVQe9yAx43-eIYFrD88UrN2S2fUY\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:34:28 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTk4MjQ=;sn=75059824",
        "x-ms-date": "Tue, 04 Nov 2025 18:34:28 GMT"
      },
      "ResponseBody": {
        "etag": "QCQC7IcMXounshlMVQe9yAx43-eIYFrD88UrN2S2fUY",
        "key": "listMultiplePagesOfResults864",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:34:28+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listMultiplePagesOfResults864",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjAwMzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"MAY0NKjc_ENCrdKC08FgDjNwZwOtY5UU7YNJYESJMrM\"",
        "Link": "</kv?api-version=2023-11-01&key=listMultiplePagesOfResults864&after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM4NjQKMTg4>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjAwMzA=;sn=75060030",
        "x-ms-date": "Tue, 04 Nov 2025 18:34:46 GMT"
      },
      "ResponseBody": {
        "etag": "MAY0NKjc_ENCrdKC08FgDjNwZwOtY5UU7YNJYESJMrM",
        "items": [
          {
            "etag": "QCQC7IcMXounshlMVQe9yAx43-eIYFrD88UrN2S2fUY",
            "key": "listMultiplePagesOfResults864",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T18:34:28+00:00"
          },
          {
            "etag": "Ekgt6gK4l9O2FB6Tv30vSoU1THC-4m_XDAPSkHJCHqQ",
            "key": "listMultiplePagesOfResults864",
            [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM4NjQKMTg4&api-version=2023-11-01&key=listMultiplePagesOfResults864",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjAwMzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM4NjQKOTk%3D&api-version=2023-11-01&key=listMultiplePagesOfResults864",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjAwMzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjAwMzA=;sn=75060030",
        "x-ms-date": "Tue, 04 Nov 2025 18:34:47 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM4NjQKNTM%3D&api-version=2023-11-01&key=listMultiplePagesOfResults864",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjAwODI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content[...]
[...]
