{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting9A70381?api-version=2023-11-01&label=listConfigSettingsLabel49320",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting9A70381",
        "label": "listConfigSettingsLabel49320",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uimn39qDMXwjqRND2tOVpYVMC7PNgFMhk45OPdcSKE8\"",
        "Last-Modified": "Thu, 11 Jul 2024 21:04:25 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA3NDA0;sn=2807404"
      },
      "ResponseBody": {
        "etag": "uimn39qDMXwjqRND2tOVpYVMC7PNgFMhk45OPdcSKE8",
        "key": "listConfigSetting9A70381",
        "label": "listConfigSettingsLabel49320",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-07-11T21:04:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting9A70381?api-version=2023-11-01&label=listConfigSettingsLabel49320",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA3NDA0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TsiuBODf87nobBVeYl4u-2Pd2y9DOI3pSotTR8o6tP0\"",
        "Last-Modified": "Thu, 11 Jul 2024 21:04:25 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA3NDA1;sn=2807405"
      },
      "ResponseBody": {
        "etag": "TsiuBODf87nobBVeYl4u-2Pd2y9DOI3pSotTR8o6tP0",
        "key": "listConfigSetting9A70381",
        "label": "listConfigSettingsLabel49320",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2024-07-11T21:04:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting9A70381?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=ODoxNSMyODA3NDA1"
      },
      "RequestBody": {
        "key": "listConfigSetting9A70381",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qcR2_ql7RWFUp0y_4E8YjhA4SAQjMbGt-_6qoYrsNwU\"",
        "Last-Modified": "Thu, 11 Jul 2024 21:04:25 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA3NDA3;sn=2807407"
      },
      "ResponseBody": {
        "etag": "qcR2_ql7RWFUp0y_4E8YjhA4SAQjMbGt-_6qoYrsNwU",
        "key": "listConfigSetting9A70381",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2024-07-11T21:04:25+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listMultiplePagesOfResults646?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=ODoxNSMyODA3NDA5"
      },
      "RequestBody": {
        "key": "listMultiplePagesOfResults646",
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WWjXibvn1Sj6ZBgylioMDqOKNDJ4WTdKPUu9O7ZGF78\"",
        "Last-Modified": "Thu, 11 Jul 2024 21:04:25 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA3NDEw;sn=2807410"
      },
      "ResponseBody": {
        "etag": "WWjXibvn1Sj6ZBgylioMDqOKNDJ4WTdKPUu9O7ZGF78",
        "key": "listMultiplePagesOfResults646",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T21:04:25+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listMultiplePagesOfResults646",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA3NjA5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"VNKu25g2p1oLnbXuxHxmpZl2cnIW7gPiqhS4TDfilgA\"",
        "Link": "</kv?api-version=2023-11-01&key=listMultiplePagesOfResults646&after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM2NDYKMTg4>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA3NjA5;sn=2807609"
      },
      "ResponseBody": {
        "etag": "VNKu25g2p1oLnbXuxHxmpZl2cnIW7gPiqhS4TDfilgA",
        "items": [
          {
            "etag": "WWjXibvn1Sj6ZBgylioMDqOKNDJ4WTdKPUu9O7ZGF78",
            "key": "listMultiplePagesOfResults646",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T21:04:25+00:00"
          },
          {
            "etag": "M_tiLcKIuP7oYDSmv78xAOBJcuuf0KpS1TA4fne4p8U",
            "key": "listMultiplePagesOfResults646",
            [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&After=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM2NDYKMTg4&key=listMultiplePagesOfResults646",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA3NjA5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&After=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM2NDYKOTk%3D&key=listMultiplePagesOfResults646",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA3NjA5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA3NjA5;sn=2807609"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&After=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM2NDYKNTM%3D&key=listMultiplePagesOfResults646",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"VNKu25g2p1oLnbXuxHxmpZl2cnIW7gPiqhS4TDfilgA\"",
        "sync-token": "zAJw6V16=ODoxNSMyODA3NjU5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Typ[...]
[...]
