{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A76512?api-version=2023-11-01&label=listConfigSettingsLabel48689",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting0A76512",
        "label": "listConfigSettingsLabel48689",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cE-4JjV-pI84NassBpybRchLLlbEfl8G-h3RrxGyJt4\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:14:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNjI1;sn=59783625"
      },
      "ResponseBody": {
        "etag": "cE-4JjV-pI84NassBpybRchLLlbEfl8G-h3RrxGyJt4",
        "key": "listConfigSetting0A76512",
        "label": "listConfigSettingsLabel48689",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-10-08T17:14:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting0A76512?api-version=2023-11-01&label=listConfigSettingsLabel48689",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5NzgzNjI1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0T-kZI-o3-B4kEw4gDoZFsfwMAFGk7gIf1s9tsi2o5M\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:14:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNjI2;sn=59783626"
      },
      "ResponseBody": {
        "etag": "0T-kZI-o3-B4kEw4gDoZFsfwMAFGk7gIf1s9tsi2o5M",
        "key": "listConfigSetting0A76512",
        "label": "listConfigSettingsLabel48689",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2024-10-08T17:14:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A76512?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzU5NzgzNjI2"
      },
      "RequestBody": {
        "key": "listConfigSetting0A76512",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"N_kbbeRWlkCZRCGyiwJOCZNfHJILMfu77BhXUoe8eSA\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:14:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNjI4;sn=59783628"
      },
      "ResponseBody": {
        "etag": "N_kbbeRWlkCZRCGyiwJOCZNfHJILMfu77BhXUoe8eSA",
        "key": "listConfigSetting0A76512",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2024-10-08T17:14:46+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5NzgzNjMw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"NSS86SsP1VaS8KdVMJKBSAehM8ccr4lHK4MgvaMX7ZE\"",
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNjMw;sn=59783630"
      },
      "ResponseBody": {
        "etag": "NSS86SsP1VaS8KdVMJKBSAehM8ccr4lHK4MgvaMX7ZE",
        "items": [
          {
            "etag": "N_kbbeRWlkCZRCGyiwJOCZNfHJILMfu77BhXUoe8eSA",
            "key": "listConfigSetting0A76512",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2024-10-08T17:14:46+00:00"
          },
          {
            "etag": "0T-kZI-o3-B4kEw4gDoZFsfwMAFGk7gIf1s9tsi2o5M",
 [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting0A76512%2ClistConfigSetting0B86360",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5NzgzNjMw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"NSS86SsP1VaS8KdVMJK[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0B86360?api-version=2023-11-01&label=listConfigSettingsLabel48689",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5NzgzNjM1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"K074iWES2upG798kWn_-wFhpChfAMAhFs02k0hVPgw4\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:14:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5NzgzNjM2;sn=59783636"
      },
      "ResponseBody": {
        "etag": "K074iWES2upG798kWn_-wFhpChfAMAhFs02k0hVPgw4",
        "key": "listConfigSetting0B86360",
        "label": "listConfigSettingsLabel48689",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-10-08T17:14:46+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting0A": "listConfigSetting0A76512",
    "listConfigSetting0B": "listConfigSetting0B86360",
    "listConfigSettingsLabel": "listConfigSettingsLabel48689"
  }
}
