{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting4A70240?api-version=2023-11-01&label=listConfigSettingsLabel5755",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting4A70240",
        "label": "listConfigSettingsLabel5755",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JfzQ-MxUo6IKsnhj7AC7rA2q7_g2wOCNjLWpb6hPZHI\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:24:25 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MDg=;sn=74774608",
        "x-ms-date": "Thu, 23 Oct 2025 05:24:25 GMT"
      },
      "ResponseBody": {
        "etag": "JfzQ-MxUo6IKsnhj7AC7rA2q7_g2wOCNjLWpb6hPZHI",
        "key": "listConfigSetting4A70240",
        "label": "listConfigSettingsLabel5755",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-23T05:24:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting4A70240?api-version=2023-11-01&label=listConfigSettingsLabel5755",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MDg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uC_uDyDvwQRGwb5FCyIyQaNF2MSKIIs97MazVjp2Z9Y\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:24:25 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MDk=;sn=74774609",
        "x-ms-date": "Thu, 23 Oct 2025 05:24:25 GMT"
      },
      "ResponseBody": {
        "etag": "uC_uDyDvwQRGwb5FCyIyQaNF2MSKIIs97MazVjp2Z9Y",
        "key": "listConfigSetting4A70240",
        "label": "listConfigSettingsLabel5755",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-10-23T05:24:25+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting4A70240?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MDk="
      },
      "RequestBody": {
        "key": "listConfigSetting4A70240",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-AlAi7zPrSHG6hI64FAsEcSrpoT6LmqieuzMQIaIr1c\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:24:25 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MTE=;sn=74774611",
        "x-ms-date": "Thu, 23 Oct 2025 05:24:25 GMT"
      },
      "ResponseBody": {
        "etag": "-AlAi7zPrSHG6hI64FAsEcSrpoT6LmqieuzMQIaIr1c",
        "key": "listConfigSetting4A70240",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-10-23T05:24:25+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSettingC?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MTM="
      },
      "RequestBody": {
        "key": "listConfigSettingC",
        "value": "[C] production value",
        "tags": {
          "production": "C",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Tkmhe_l5y9HjNl9oeG1fRJw5MW8dSGvlOPRojMeEsqM\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:24:26 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MTQ=;sn=74774614",
        "x-ms-date": "Thu, 23 Oct 2025 05:24:26 GMT"
      },
      "ResponseBody": {
        "etag": "Tkmhe_l5y9HjNl9oeG1fRJw5MW8dSGvlOPRojMeEsqM",
        "key": "listConfigSettingC",
        "label": null,
        "content_type": null,
        "value": "[C] production value",
        "tags": {
          "production": "C",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-10-23T05:24:26+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&tags=production%3DC",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"m9CXhccckEtCnfgQ6NiiSL0qgZcBmP26Nz_F8F4f8Ac\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MTU=;sn=74774615",
        "x-ms-date": "Thu, 23 Oct 2025 05:24:26 GMT"
      },
      "ResponseBody": {
        "etag": "m9CXhccckEtCnfgQ6NiiSL0qgZcBmP26Nz_F8F4f8Ac",
        "items": [
          {
            "etag": "Tkmhe_l5y9HjNl9oeG1fRJw5MW8dSGvlOPRojMeEsqM",
            "key": "listConfigSettingC",
            "label": null,
            "content_type": null,
            "value": "[C] production value",
            "tags": {
              "production": "C",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-10-23T05:24:26+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSettingC",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"m9CXhccckEtCnfgQ6NiiSL0qgZcBmP26Nz_F8F4f8Ac\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MTU=;sn=74774615",
        "x-ms-date": "Thu, 23 Oct 2025 05:24:26 GMT"
      },
      "ResponseBody": {
        "etag": "m9CXhccckEtCnfgQ6NiiSL0qgZcBmP26Nz_F8F4f8Ac",
        "items": [
          {
            "etag": "Tkmhe_l5y9HjNl9oeG1fRJw5MW8dSGvlOPRojMeEsqM",
            "key": "listConfigSettingC",
            "label": null,
            "content_type": null,
            "value": "[C] production value",
            "tags": {
              "production": "C",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-10-23T05:24:26+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting4A70240%2ClistConfigSetting4B84728",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"niFiy6_XVXfwEcB[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting4B84728?api-version=2023-11-01&label=listConfigSettingsLabel5755",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MjE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YhO1peX0M9TMJYXSBt9KSRg9WTJSGa70uEWPOsnxZPM\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:24:26 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MjI=;sn=74774622",
        "x-ms-date": "Thu, 23 Oct 2025 05:24:28 GMT"
      },
      "ResponseBody": {
        "etag": "YhO1peX0M9TMJYXSBt9KSRg9WTJSGa70uEWPOsnxZPM",
        "key": "listConfigSetting4B84728",
        "label": "listConfigSettingsLabel5755",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-23T05:24:26+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting4A": "listConfigSetting4A70240",
    "listConfigSetting4B": "listConfigSetting4B84728",
    "listConfigSettingsLabel": "listConfigSettingsLabel5755"
  }
}
