{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A2512?api-version=2023-10-01&label=listConfigSettingsLabel44592",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting2A2512",
        "label": "listConfigSettingsLabel44592",
        "content_type": "a content type",
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MQi2_DfCm_8N1ugQCRRI5UfU8i5dUuu0RDoxLyUM4aQ\"",
        "Last-Modified": "Tue, 28 May 2024 21:16:04 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5NTQ=;sn=2611954"
      },
      "ResponseBody": {
        "etag": "MQi2_DfCm_8N1ugQCRRI5UfU8i5dUuu0RDoxLyUM4aQ",
        "key": "listConfigSetting2A2512",
        "label": "listConfigSettingsLabel44592",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:16:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting2A2512?api-version=2023-10-01&label=listConfigSettingsLabel44592",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE5NTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fQmr0qQXVCeKX38LfLxVks9yhCQv9ikK5StC3jAc3C4\"",
        "Last-Modified": "Tue, 28 May 2024 21:16:04 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5NTU=;sn=2611955"
      },
      "ResponseBody": {
        "etag": "fQmr0qQXVCeKX38LfLxVks9yhCQv9ikK5StC3jAc3C4",
        "key": "listConfigSetting2A2512",
        "label": "listConfigSettingsLabel44592",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {},
        "locked": true,
        "last_modified": "2024-05-28T21:16:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A2512?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE5NTU="
      },
      "RequestBody": {
        "key": "listConfigSetting2A2512",
        "value": "[A] value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sgwVEnfghvvalczQWLsNvogRX_0W3jBD3CwyUiXgAqk\"",
        "Last-Modified": "Tue, 28 May 2024 21:16:04 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5NTc=;sn=2611957"
      },
      "ResponseBody": {
        "etag": "sgwVEnfghvvalczQWLsNvogRX_0W3jBD3CwyUiXgAqk",
        "key": "listConfigSetting2A2512",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:16:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2B699?api-version=2023-10-01&label=listConfigSettingsLabel44592",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE5NTc="
      },
      "RequestBody": {
        "key": "listConfigSetting2B699",
        "label": "listConfigSettingsLabel44592",
        "value": "[B] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3gsH5IAG0aZFSFHR4otZOZm6HXwujcXlKGISNEb5SA4\"",
        "Last-Modified": "Tue, 28 May 2024 21:16:04 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5NTg=;sn=2611958"
      },
      "ResponseBody": {
        "etag": "3gsH5IAG0aZFSFHR4otZOZm6HXwujcXlKGISNEb5SA4",
        "key": "listConfigSetting2B699",
        "label": "listConfigSettingsLabel44592",
        "content_type": null,
        "value": "[B] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:16:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2B699?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE5NTg="
      },
      "RequestBody": {
        "key": "listConfigSetting2B699",
        "value": "[B] value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_O4DOKanFvkKbtJX7SX99mrezLIppOmAgJI__TBzY6c\"",
        "Last-Modified": "Tue, 28 May 2024 21:16:04 GMT",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5NTk=;sn=2611959"
      },
      "ResponseBody": {
        "etag": "_O4DOKanFvkKbtJX7SX99mrezLIppOmAgJI__TBzY6c",
        "key": "listConfigSetting2B699",
        "label": null,
        "content_type": null,
        "value": "[B] value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-05-28T21:16:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-10-01&label=listConfigSettingsLabel4459*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE5NTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"QY0rAAGmweKkEzmSKo_TyzC60c_oA_qWrnvrPGO1SMo\"",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5NTk=;sn=2611959"
      },
      "ResponseBody": {
        "etag": "QY0rAAGmweKkEzmSKo_TyzC60c_oA_qWrnvrPGO1SMo",
        "items": [
          {
            "etag": "fQmr0qQXVCeKX38LfLxVks9yhCQv9ikK5StC3jAc3C4",
            "key": "listConfigSetting2A2512",
            "label": "listConfigSettingsLabel44592",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {},
            "locked": true,
            "last_modified": "2024-05-28T21:16:04+00:00"
          },
          {
            "etag": "3gsH5IAG0aZFSFHR4otZOZm6HXwujcXlKGISNEb5SA4",
            "key": "listConfigSetting2B699",
            "label": "listConfigSettingsLabel44592",
            "content_type": null,
            "value": "[B] production value",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-28T21:16:04+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-10-01&label=listConfigSettingsLabel4459*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Nzo1IzI2MTE5NTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"QY0rAAGmweKkEzmSKo_TyzC60c_oA_qWrnvrPGO1SMo\"",
        "Sync-Token": "zAJw6V16=Nzo1IzI2MTE5NTk=;sn=2611959"
      },
      "ResponseBody": {
        "etag": "QY0rAAGmweKkEzmSKo_TyzC60c_oA_qWrnvrPGO1SMo",
        "items": [
          {
            "etag": "fQmr0qQXVCeKX38LfLxVks9yhCQv9ikK5StC3jAc3C4",
            "key": "listConfigSetting2A2512",
            "label": "listConfigSettingsLabel44592",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {},
            "locked": true,
            "last_modified": "2024-05-28T21:16:04+00:00"
          },
          {
            "etag": "3gsH5IAG0aZFSFHR4otZOZm6HXwujcXlKGISNEb5SA4",
            "key": "listConfigSetting2B699",
            "label": "listConfigSettingsLabel44592",
            "content_type": null,
            "value": "[B] production value",
            "tags": {},
            "locked": false,
            "last_modified": "2024-05-28T21:16:04+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "listConfigSetting2A": "listConfigSetting2A2512",
    "listConfigSetting2B": "listConfigSetting2B699",
    "listConfigSettingsLabel": "listConfigSettingsLabel44592"
  }
}
