{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting9A58309?api-version=2023-11-01&label=listConfigSettingsLabel9171",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting9A58309",
        "label": "listConfigSettingsLabel9171",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QIp0sYD2fRAJApnxS29BQtZBziXgu931DPzweuRiQio\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:00:04 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzQ1Njc=;sn=74234567"
      },
      "ResponseBody": {
        "etag": "QIp0sYD2fRAJApnxS29BQtZBziXgu931DPzweuRiQio",
        "key": "listConfigSetting9A58309",
        "label": "listConfigSettingsLabel9171",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T17:00:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting9A58309?api-version=2023-11-01&label=listConfigSettingsLabel9171",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzQ1Njc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yk5F5SBkqtg_NyifuUed09WYnCBAGfCiSfspFmjrxL8\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:00:04 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzQ1Njg=;sn=74234568"
      },
      "ResponseBody": {
        "etag": "yk5F5SBkqtg_NyifuUed09WYnCBAGfCiSfspFmjrxL8",
        "key": "listConfigSetting9A58309",
        "label": "listConfigSettingsLabel9171",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-10-02T17:00:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting9A58309?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzQ1Njg="
      },
      "RequestBody": {
        "key": "listConfigSetting9A58309",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eM-TggZyLdGiVCa9ZzGezMwbMY55S1lMI77EhTPY3ak\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:00:04 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzQ1NzA=;sn=74234570"
      },
      "ResponseBody": {
        "etag": "eM-TggZyLdGiVCa9ZzGezMwbMY55S1lMI77EhTPY3ak",
        "key": "listConfigSetting9A58309",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T17:00:04+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listMultiplePagesOfResults775?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzQ1NzI="
      },
      "RequestBody": {
        "key": "listMultiplePagesOfResults775",
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"z1zUdLLaGnmK40_WnWyF-4MpuEP9BuS91GdenlTlL6M\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:00:05 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzQ1NzM=;sn=74234573"
      },
      "ResponseBody": {
        "etag": "z1zUdLLaGnmK40_WnWyF-4MpuEP9BuS91GdenlTlL6M",
        "key": "listMultiplePagesOfResults775",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T17:00:05+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listMultiplePagesOfResults775",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzQ3Nzg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"jJyNVn9-UzEhNQYxoCYJYfG0_hGr4fO5Dbf9EJrFMSw\"",
        "Link": "</kv?api-version=2023-11-01&key=listMultiplePagesOfResults775&after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM3NzUKMTg4>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzQ3Nzg=;sn=74234778"
      },
      "ResponseBody": {
        "etag": "jJyNVn9-UzEhNQYxoCYJYfG0_hGr4fO5Dbf9EJrFMSw",
        "items": [
          {
            "etag": "z1zUdLLaGnmK40_WnWyF-4MpuEP9BuS91GdenlTlL6M",
            "key": "listMultiplePagesOfResults775",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T17:00:05+00:00"
          },
          {
            "etag": "K39WfFTZx9dsj8bjkpvqGV5nrhlhABoGRu24O-Spskg",
            "key": "listMultiplePagesOfResults775",
            [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&After=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM3NzUKMTg4&key=listMultiplePagesOfResults775",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzQ3Nzg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&After=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM3NzUKOTk%3D&key=listMultiplePagesOfResults775",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzQ3Nzg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzQ3Nzg=;sn=74234778"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&After=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM3NzUKNTM%3D&key=listMultiplePagesOfResults775",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzQ4MzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content[...]
[...]
