{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting9A5695?api-version=2023-11-01&label=listConfigSettingsLabel297",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting9A5695",
        "label": "listConfigSettingsLabel297",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HNUNvA723kL5lTjlby8K1Uty62nLyOhBW2R1WYRJ-Ds\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:45:20 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDE0NzE=;sn=73801471"
      },
      "ResponseBody": {
        "etag": "HNUNvA723kL5lTjlby8K1Uty62nLyOhBW2R1WYRJ-Ds",
        "key": "listConfigSetting9A5695",
        "label": "listConfigSettingsLabel297",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:45:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting9A5695?api-version=2023-11-01&label=listConfigSettingsLabel297",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDE0NzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NuuMftO6CRTmPtp53eiErteJsShy-zBT5RODRJq8Crc\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:45:21 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDE0NzI=;sn=73801472"
      },
      "ResponseBody": {
        "etag": "NuuMftO6CRTmPtp53eiErteJsShy-zBT5RODRJq8Crc",
        "key": "listConfigSetting9A5695",
        "label": "listConfigSettingsLabel297",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-18T02:45:21+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting9A5695?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDE0NzI="
      },
      "RequestBody": {
        "key": "listConfigSetting9A5695",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eC5I8kd70hAoRp3QnIZYU4cTQsLJPIwk7x_mKJGyP0Y\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:45:21 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDE0NzQ=;sn=73801474"
      },
      "ResponseBody": {
        "etag": "eC5I8kd70hAoRp3QnIZYU4cTQsLJPIwk7x_mKJGyP0Y",
        "key": "listConfigSetting9A5695",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:45:21+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listMultiplePagesOfResults8?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDE0NzY="
      },
      "RequestBody": {
        "key": "listMultiplePagesOfResults8",
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Mnt6A7mjVf0xXgwPIVAfX699xQR_IfD37Xl_frrVPwA\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:45:22 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDE0Nzc=;sn=73801477"
      },
      "ResponseBody": {
        "etag": "Mnt6A7mjVf0xXgwPIVAfX699xQR_IfD37Xl_frrVPwA",
        "key": "listMultiplePagesOfResults8",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:45:22+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listMultiplePagesOfResults8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDE2ODU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"VrY0bYL6J9WXM0UKJQUI0rntvR0fWCPOA-1A3yJDODo\"",
        "Link": "</kv?api-version=2023-11-01&key=listMultiplePagesOfResults8&after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM4CjE4OA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDE2ODU=;sn=73801685"
      },
      "ResponseBody": {
        "etag": "VrY0bYL6J9WXM0UKJQUI0rntvR0fWCPOA-1A3yJDODo",
        "items": [
          {
            "etag": "Mnt6A7mjVf0xXgwPIVAfX699xQR_IfD37Xl_frrVPwA",
            "key": "listMultiplePagesOfResults8",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:45:22+00:00"
          },
          {
            "etag": "7NJOISC6g3zFbYJptXm15BCF6SBvcQyGJ-t_Krew3ks",
            "key": "listMultiplePagesOfResults8",
            "lab[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM4CjE4OA%3D%3D&api-version=2023-11-01&key=listMultiplePagesOfResults8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDE2ODU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
   [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM4Cjk5&api-version=2023-11-01&key=listMultiplePagesOfResults8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDE2ODU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDE2ODU=;sn=73801685"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHM4CjUz&api-version=2023-11-01&key=listMultiplePagesOfResults8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDE3MzU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": [...]
[...]
