{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A9593?api-version=2023-11-01&label=listConfigSettingsLabel48234",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting2A9593",
        "label": "listConfigSettingsLabel48234",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"28NTzOipXeWeOD0fQxKD6Y4cHhPEBLkz64ZfWd3ITt8\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:51:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ4Nzg=;sn=74014878"
      },
      "ResponseBody": {
        "etag": "28NTzOipXeWeOD0fQxKD6Y4cHhPEBLkz64ZfWd3ITt8",
        "key": "listConfigSetting2A9593",
        "label": "listConfigSettingsLabel48234",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:51:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting2A9593?api-version=2023-11-01&label=listConfigSettingsLabel48234",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTQ4Nzg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oB5Zb7PlyvRFZ1HL7ysH6-FRQR5w5CKX9X0iM8GajmM\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:51:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ4Nzk=;sn=74014879"
      },
      "ResponseBody": {
        "etag": "oB5Zb7PlyvRFZ1HL7ysH6-FRQR5w5CKX9X0iM8GajmM",
        "key": "listConfigSetting2A9593",
        "label": "listConfigSettingsLabel48234",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-25T08:51:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A9593?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTQ4Nzk="
      },
      "RequestBody": {
        "key": "listConfigSetting2A9593",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"I4xSV029ZAoyBDMmXOUewJjNCT5gwnYuKfwhY9fu4PI\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:51:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ4ODE=;sn=74014881"
      },
      "ResponseBody": {
        "etag": "I4xSV029ZAoyBDMmXOUewJjNCT5gwnYuKfwhY9fu4PI",
        "key": "listConfigSetting2A9593",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:51:27+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&label=listConfigSettingsLabel4823*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTQ4ODM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"DKQG6boU2GSeqGbF8UNGyNNvcUpMzwvLGcU25lFcKOY\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ4ODM=;sn=74014883"
      },
      "ResponseBody": {
        "etag": "DKQG6boU2GSeqGbF8UNGyNNvcUpMzwvLGcU25lFcKOY",
        "items": [
          {
            "etag": "oB5Zb7PlyvRFZ1HL7ysH6-FRQR5w5CKX9X0iM8GajmM",
            "key": "listConfigSetting2A9593",
            "label": "listConfigSettingsLabel48234",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2025-09-25T08:51:27+00:00"
          },
          {
            "etag": "v7ms8C9KBnRmhRUK5thzJtL3vDGQt3zWmPg9ENdQgrI",
            "key": "listConfigSetting2B18741",
            "label": "listConfigSettingsLabel48234",
            "content_type": null,
            "value": "[B] production value",
            "tags": {
              "production": "B",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2025-09-25T08:51:27+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting2A9593%2ClistConfigSetting2B18741",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTQ4ODQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"f1LgJZQwouU57ISw[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2B18741?api-version=2023-11-01&label=listConfigSettingsLabel48234",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTQ4ODk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"v7ms8C9KBnRmhRUK5thzJtL3vDGQt3zWmPg9ENdQgrI\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:51:27 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTQ4OTA=;sn=74014890"
      },
      "ResponseBody": {
        "etag": "v7ms8C9KBnRmhRUK5thzJtL3vDGQt3zWmPg9ENdQgrI",
        "key": "listConfigSetting2B18741",
        "label": "listConfigSettingsLabel48234",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-25T08:51:27+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting2A": "listConfigSetting2A9593",
    "listConfigSetting2B": "listConfigSetting2B18741",
    "listConfigSettingsLabel": "listConfigSettingsLabel48234"
  }
}
