{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5A66742?api-version=2023-11-01&label=listConfigSettingsLabel59960",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "listConfigSettingsLabel59960",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kVQLHvM4a3DOBRidcXSjiPtV8dwuuLH1swglbh98S6g\"",
        "Last-Modified": "Thu, 07 May 2026 20:24:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MTQ3NQ==;sn=113151475",
        "x-ms-date": "Thu, 07 May 2026 20:24:01 GMT"
      },
      "ResponseBody": {
        "etag": "kVQLHvM4a3DOBRidcXSjiPtV8dwuuLH1swglbh98S6g",
        "key": "listConfigSetting5A66742",
        "label": "listConfigSettingsLabel59960",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-05-07T20:24:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting5A66742?api-version=2023-11-01&label=listConfigSettingsLabel59960",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MTQ3NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"P5dnJJ9Nd5vkhqB_U7a8b0QRDb-p0BlEDTCfCFRy8c4\"",
        "Last-Modified": "Thu, 07 May 2026 20:24:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MTQ3Ng==;sn=113151476",
        "x-ms-date": "Thu, 07 May 2026 20:24:01 GMT"
      },
      "ResponseBody": {
        "etag": "P5dnJJ9Nd5vkhqB_U7a8b0QRDb-p0BlEDTCfCFRy8c4",
        "key": "listConfigSetting5A66742",
        "label": "listConfigSettingsLabel59960",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-05-07T20:24:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5A66742?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MTQ3Ng=="
      },
      "RequestBody": {
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"e7X8XX0b4PaqXy8iUCJF_zJJ6MRJI-uw9huj7_bHqvo\"",
        "Last-Modified": "Thu, 07 May 2026 20:24:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MTQ3OA==;sn=113151478",
        "x-ms-date": "Thu, 07 May 2026 20:24:01 GMT"
      },
      "ResponseBody": {
        "etag": "e7X8XX0b4PaqXy8iUCJF_zJJ6MRJI-uw9huj7_bHqvo",
        "key": "listConfigSetting5A66742",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-05-07T20:24:01+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting5A6674*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MTQ4MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"sXpeeWBSor4vSCPYxEfLOt3F_PdXCWboUnltwD8UoC0\"",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MTQ4MA==;sn=113151480",
        "x-ms-date": "Thu, 07 May 2026 20:24:01 GMT"
      },
      "ResponseBody": {
        "etag": "sXpeeWBSor4vSCPYxEfLOt3F_PdXCWboUnltwD8UoC0",
        "items": [
          {
            "etag": "e7X8XX0b4PaqXy8iUCJF_zJJ6MRJI-uw9huj7_bHqvo",
            "key": "listConfigSetting5A66742",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2026-05-07T20:24:01+00:00"
          },
          {
            "etag": "P5dnJJ9Nd5vkhqB_U7a8b0QRDb-p0BlEDTCfCFRy8c4",
            "key": "listConfigSetting5A66742",
            "label": "listConfigSettingsLabel59960",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2026-05-07T20:24:01+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting5A66742,listConfigSetting5B39937",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MTQ4MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"-DCJ65rMouonMZoEj[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5B39937?api-version=2023-11-01&label=listConfigSettingsLabel59960",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MTQ4NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pl9u09V3EoBzw8igvVKnaNpLiKbCr6F-Af3pojwKSiQ\"",
        "Last-Modified": "Thu, 07 May 2026 20:24:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MTQ4Ng==;sn=113151486",
        "x-ms-date": "Thu, 07 May 2026 20:24:01 GMT"
      },
      "ResponseBody": {
        "etag": "pl9u09V3EoBzw8igvVKnaNpLiKbCr6F-Af3pojwKSiQ",
        "key": "listConfigSetting5B39937",
        "label": "listConfigSettingsLabel59960",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-05-07T20:24:01+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting5A": "listConfigSetting5A66742",
    "listConfigSetting5B": "listConfigSetting5B39937",
    "listConfigSettingsLabel": "listConfigSettingsLabel59960"
  }
}
