{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A36588?api-version=2023-11-01&label=listConfigSettingsLabel59764",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting2A36588",
        "label": "listConfigSettingsLabel59764",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GVp3DyX6ysys3hIaN8nonwNvMV677D8xwGPFrYvxMvU\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:35:12 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQxNzA=;sn=74104170"
      },
      "ResponseBody": {
        "etag": "GVp3DyX6ysys3hIaN8nonwNvMV677D8xwGPFrYvxMvU",
        "key": "listConfigSetting2A36588",
        "label": "listConfigSettingsLabel59764",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:35:12+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting2A36588?api-version=2023-11-01&label=listConfigSettingsLabel59764",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQxNzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zVJ8y5g4F6h_NZChehwnVxvAduJ0ZxLE78h616Nno80\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:35:13 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQxNzE=;sn=74104171"
      },
      "ResponseBody": {
        "etag": "zVJ8y5g4F6h_NZChehwnVxvAduJ0ZxLE78h616Nno80",
        "key": "listConfigSetting2A36588",
        "label": "listConfigSettingsLabel59764",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-29T09:35:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A36588?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQxNzE="
      },
      "RequestBody": {
        "key": "listConfigSetting2A36588",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3-k3dGfICll0iSCtOiG4kYlO7k49M5w8bYAw5tEN118\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:35:13 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQxNzQ=;sn=74104174"
      },
      "ResponseBody": {
        "etag": "3-k3dGfICll0iSCtOiG4kYlO7k49M5w8bYAw5tEN118",
        "key": "listConfigSetting2A36588",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:35:13+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&label=listConfigSettingsLabel5976*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQxNzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"8ivvwZvjeBiRqKGMWEL-UyJ1Jhecn-VEtvCH3UM9Mx8\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQxNzY=;sn=74104176"
      },
      "ResponseBody": {
        "etag": "8ivvwZvjeBiRqKGMWEL-UyJ1Jhecn-VEtvCH3UM9Mx8",
        "items": [
          {
            "etag": "zVJ8y5g4F6h_NZChehwnVxvAduJ0ZxLE78h616Nno80",
            "key": "listConfigSetting2A36588",
            "label": "listConfigSettingsLabel59764",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2025-09-29T09:35:13+00:00"
          },
          {
            "etag": "_YTR1OEynfevg4I7qhwLTX0lAhRH9hLqCFBHHzWmktw",
            "key": "listConfigSetting2B42376",
            "label": "listConfigSettingsLabel59764",
            "content_type": null,
            "value": "[B] production value",
            "tags": {
              "production": "B",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2025-09-29T09:35:13+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting2A36588%2ClistConfigSetting2B42376",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQxNzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"np_mKfMD7SYll2P[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2B42376?api-version=2023-11-01&label=listConfigSettingsLabel59764",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDQxODE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_YTR1OEynfevg4I7qhwLTX0lAhRH9hLqCFBHHzWmktw\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:35:13 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDQxODI=;sn=74104182"
      },
      "ResponseBody": {
        "etag": "_YTR1OEynfevg4I7qhwLTX0lAhRH9hLqCFBHHzWmktw",
        "key": "listConfigSetting2B42376",
        "label": "listConfigSettingsLabel59764",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-29T09:35:13+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting2A": "listConfigSetting2A36588",
    "listConfigSetting2B": "listConfigSetting2B42376",
    "listConfigSettingsLabel": "listConfigSettingsLabel59764"
  }
}
