{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A16382?api-version=2023-11-01&label=listConfigSettingsLabel96669",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting0A16382",
        "label": "listConfigSettingsLabel96669",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YnLUMCZZ1i1kHblwCd3rovk6sV4mMZ9kJWoVtyje3l8\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:43:42 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA5NDA=;sn=73800940"
      },
      "ResponseBody": {
        "etag": "YnLUMCZZ1i1kHblwCd3rovk6sV4mMZ9kJWoVtyje3l8",
        "key": "listConfigSetting0A16382",
        "label": "listConfigSettingsLabel96669",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:43:42+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting0A16382?api-version=2023-11-01&label=listConfigSettingsLabel96669",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDA5NDA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9nd6vBPCbKzV6wZS2jCRvKaLMwf15kl6aNPz9s52i0Q\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:43:42 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA5NDE=;sn=73800941"
      },
      "ResponseBody": {
        "etag": "9nd6vBPCbKzV6wZS2jCRvKaLMwf15kl6aNPz9s52i0Q",
        "key": "listConfigSetting0A16382",
        "label": "listConfigSettingsLabel96669",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-18T02:43:42+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A16382?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDA5NDE="
      },
      "RequestBody": {
        "key": "listConfigSetting0A16382",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OTLgiLYbGeg5H45ZvhFRIuMHRakJnMVjcyEpuMLM71o\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:43:42 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA5NDM=;sn=73800943"
      },
      "ResponseBody": {
        "etag": "OTLgiLYbGeg5H45ZvhFRIuMHRakJnMVjcyEpuMLM71o",
        "key": "listConfigSetting0A16382",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:43:42+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDA5NDU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"WvfzodduqjoEQauaf-THfS_fHpvVZ6vvcHLka_xixCM\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA5NDU=;sn=73800945"
      },
      "ResponseBody": {
        "etag": "WvfzodduqjoEQauaf-THfS_fHpvVZ6vvcHLka_xixCM",
        "items": [
          {
            "etag": "OTLgiLYbGeg5H45ZvhFRIuMHRakJnMVjcyEpuMLM71o",
            "key": "listConfigSetting0A16382",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-09-18T02:43:42+00:00"
          },
          {
            "etag": "9nd6vBPCbKzV6wZS2jCRvKaLMwf15kl6aNPz9s52i0Q",
 [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting0A16382%2ClistConfigSetting0B46910",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDA5NDU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"GiU8vYvreLyOy7G[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0B46910?api-version=2023-11-01&label=listConfigSettingsLabel96669",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDA5NTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8K4c62gQvMx9-H_9o3W3vC0iU6LlD_DD7l5h2dt6dE0\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:43:42 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA5NTE=;sn=73800951"
      },
      "ResponseBody": {
        "etag": "8K4c62gQvMx9-H_9o3W3vC0iU6LlD_DD7l5h2dt6dE0",
        "key": "listConfigSetting0B46910",
        "label": "listConfigSettingsLabel96669",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:43:42+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting0A": "listConfigSetting0A16382",
    "listConfigSetting0B": "listConfigSetting0B46910",
    "listConfigSettingsLabel": "listConfigSettingsLabel96669"
  }
}
