{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A63088?api-version=2023-10-01&label=listConfigSettingsLabel52418",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting0A63088",
        "label": "listConfigSettingsLabel52418",
        "content_type": "a content type",
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uzJ0lV-1baUlYryta4c09cbjgBJq5JlHbYB24YvjBT8\"",
        "Last-Modified": "Thu, 11 Jul 2024 22:19:13 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0MzM2;sn=2814336"
      },
      "ResponseBody": {
        "etag": "uzJ0lV-1baUlYryta4c09cbjgBJq5JlHbYB24YvjBT8",
        "key": "listConfigSetting0A63088",
        "label": "listConfigSettingsLabel52418",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T22:19:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting0A63088?api-version=2023-10-01&label=listConfigSettingsLabel52418",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODE0MzM2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6RqvxF1Qd_TYDgBn5dE82-O7dPBw_qSuo0wTX8DMKZQ\"",
        "Last-Modified": "Thu, 11 Jul 2024 22:19:13 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0MzM3;sn=2814337"
      },
      "ResponseBody": {
        "etag": "6RqvxF1Qd_TYDgBn5dE82-O7dPBw_qSuo0wTX8DMKZQ",
        "key": "listConfigSetting0A63088",
        "label": "listConfigSettingsLabel52418",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {},
        "locked": true,
        "last_modified": "2024-07-11T22:19:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting0A63088?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=ODoxNSMyODE0MzM3"
      },
      "RequestBody": {
        "key": "listConfigSetting0A63088",
        "value": "[A] value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Hc_In-m7GKWm0l0g1Aeql1l7Cd9zHqPlGZppHFHcHLk\"",
        "Last-Modified": "Thu, 11 Jul 2024 22:19:14 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0MzM5;sn=2814339"
      },
      "ResponseBody": {
        "etag": "Hc_In-m7GKWm0l0g1Aeql1l7Cd9zHqPlGZppHFHcHLk",
        "key": "listConfigSetting0A63088",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T22:19:14+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODE0MzQx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"3Hi2s91kQh18j6ll2r2eD29fThn0aOoYDB1GGKpg_9s\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0MzQx;sn=2814341"
      },
      "ResponseBody": {
        "etag": "3Hi2s91kQh18j6ll2r2eD29fThn0aOoYDB1GGKpg_9s",
        "items": [
          {
            "etag": "Hc_In-m7GKWm0l0g1Aeql1l7Cd9zHqPlGZppHFHcHLk",
            "key": "listConfigSetting0A63088",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T22:19:14+00:00"
          },
          {
            "etag": "6RqvxF1Qd_TYDgBn5dE82-O7dPBw_qSuo0wTX8DMKZQ",
            "key": "listConfigSetting0A63088",
            "label": "listConfigSettingsLabel52418",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {},
            "locked": true,
            "last_modified": "2024-07-11T22:19:13+00:00"
          },
          {
            "etag": "hY1qTqUeEmwQlkwCyaDJTpHcLZ2h6v5KCK7vK6El7lk",
            "key": "listConfigSetting0B58873",
            "label": null,
            "content_type": null,
            "value": "[B] value",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T22:19:14+00:00"
          },
          {
            "etag": "7Igerfs9osl1BaIMUGpL8i1gC45rf7B7yIRCmEiLpWM",
            "key": "listConfigSetting0B58873",
            "label": "listConfigSettingsLabel52418",
            "content_type": null,
            "value": "[B] production value",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T22:19:14+00:00"
          }
        ]
      }
    }
  ],
  "Variables": {
    "listConfigSetting0A": "listConfigSetting0A63088",
    "listConfigSetting0B": "listConfigSetting0B58873",
    "listConfigSettingsLabel": "listConfigSettingsLabel52418"
  }
}
