{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting8A50452?api-version=2023-10-01&label=listConfigSettingsLabel38234",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting8A50452",
        "label": "listConfigSettingsLabel38234",
        "content_type": "a content type",
        "value": "[A] production value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"E0jUdMNV3lCp0FHmQEKyaSBHm-h9uR5Jp4-fVEJGhas\"",
        "Last-Modified": "Thu, 11 Jul 2024 22:20:08 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0Nzg0;sn=2814784"
      },
      "ResponseBody": {
        "etag": "E0jUdMNV3lCp0FHmQEKyaSBHm-h9uR5Jp4-fVEJGhas",
        "key": "listConfigSetting8A50452",
        "label": "listConfigSettingsLabel38234",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T22:20:08+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting8A50452?api-version=2023-10-01&label=listConfigSettingsLabel38234",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODE0Nzg0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8LV2480hTxkl9Lg3kZ_mMmuSPCXw7gkSwTr5q8yZcVw\"",
        "Last-Modified": "Thu, 11 Jul 2024 22:20:08 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0Nzg1;sn=2814785"
      },
      "ResponseBody": {
        "etag": "8LV2480hTxkl9Lg3kZ_mMmuSPCXw7gkSwTr5q8yZcVw",
        "key": "listConfigSetting8A50452",
        "label": "listConfigSettingsLabel38234",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {},
        "locked": true,
        "last_modified": "2024-07-11T22:20:08+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting8A50452?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=ODoxNSMyODE0Nzg1"
      },
      "RequestBody": {
        "key": "listConfigSetting8A50452",
        "value": "[A] value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"I4fHR2Hke1wTFgscMuknyNeu9lt1Nx5pPKAX_NeMksE\"",
        "Last-Modified": "Thu, 11 Jul 2024 22:20:08 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0Nzg3;sn=2814787"
      },
      "ResponseBody": {
        "etag": "I4fHR2Hke1wTFgscMuknyNeu9lt1Nx5pPKAX_NeMksE",
        "key": "listConfigSetting8A50452",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T22:20:08+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listMultiplePagesOfResults373?api-version=2023-10-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=ODoxNSMyODE0Nzg5"
      },
      "RequestBody": {
        "key": "listMultiplePagesOfResults373",
        "label": "0",
        "value": "the value for 0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"b1tYr8Kl7hQx6g5KpjwzaN84UAFQ10nMULHd4IoVljQ\"",
        "Last-Modified": "Thu, 11 Jul 2024 22:20:08 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0Nzkw;sn=2814790"
      },
      "ResponseBody": {
        "etag": "b1tYr8Kl7hQx6g5KpjwzaN84UAFQ10nMULHd4IoVljQ",
        "key": "listMultiplePagesOfResults373",
        "label": "0",
        "content_type": null,
        "value": "the value for 0",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T22:20:08+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-10-01&key=listMultiplePagesOfResults373",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODE0OTg5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"90D8G-TJhaDikX_k3owawLisFZ78m67cfcVqZJ5tFng\"",
        "Link": "</kv?api-version=2023-10-01&key=listMultiplePagesOfResults373&after=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHMzNzMKMTg4>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0OTg5;sn=2814989"
      },
      "ResponseBody": {
        "etag": "90D8G-TJhaDikX_k3owawLisFZ78m67cfcVqZJ5tFng",
        "items": [
          {
            "etag": "b1tYr8Kl7hQx6g5KpjwzaN84UAFQ10nMULHd4IoVljQ",
            "key": "listMultiplePagesOfResults373",
            "label": "0",
            "content_type": null,
            "value": "the value for 0",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T22:20:08+00:00"
          },
          {
            "etag": "soZigm7OjaNonY0D8iIpv-95fQJ7NJHWyX-UVk2kZkU",
            "key": "listMultiplePagesOfResults373",
            [...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-10-01&After=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHMzNzMKMTg4&key=listMultiplePagesOfResults373",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODE0OTg5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-10-01&After=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHMzNzMKOTk%3D&key=listMultiplePagesOfResults373",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODE0OTg5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyODE0OTg5;sn=2814989"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-10-01&After=bGlzdE11bHRpcGxlUGFnZXNPZlJlc3VsdHMzNzMKNTM%3D&key=listMultiplePagesOfResults373",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "sync-token": "zAJw6V16=ODoxNSMyODE1MDM5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Typ[...]
[...]
