{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A83242?api-version=2023-11-01&label=listConfigSettingsLabel91501",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting2A83242",
        "label": "listConfigSettingsLabel91501",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cZVZLOo3ptn-tENOUI70elykq9e9o-PyelJ2FJr7JI4\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:04:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0Nzc0NQ==;sn=103847745",
        "x-ms-date": "Mon, 26 Jan 2026 03:04:46 GMT"
      },
      "ResponseBody": {
        "etag": "cZVZLOo3ptn-tENOUI70elykq9e9o-PyelJ2FJr7JI4",
        "key": "listConfigSetting2A83242",
        "label": "listConfigSettingsLabel91501",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-26T03:04:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting2A83242?api-version=2023-11-01&label=listConfigSettingsLabel91501",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0Nzc0NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PLw-s1bFwUTg1gVaw8Mfgkcax8CM6gdERdOeZtpxXyw\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:04:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0Nzc0Ng==;sn=103847746",
        "x-ms-date": "Mon, 26 Jan 2026 03:04:46 GMT"
      },
      "ResponseBody": {
        "etag": "PLw-s1bFwUTg1gVaw8Mfgkcax8CM6gdERdOeZtpxXyw",
        "key": "listConfigSetting2A83242",
        "label": "listConfigSettingsLabel91501",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-01-26T03:04:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2A83242?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0Nzc0Ng=="
      },
      "RequestBody": {
        "key": "listConfigSetting2A83242",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2TncECO81mGypQJPWpQOljuiO2iJiSV1jcuwo9oCoqI\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:04:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0Nzc0OA==;sn=103847748",
        "x-ms-date": "Mon, 26 Jan 2026 03:04:47 GMT"
      },
      "ResponseBody": {
        "etag": "2TncECO81mGypQJPWpQOljuiO2iJiSV1jcuwo9oCoqI",
        "key": "listConfigSetting2A83242",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-01-26T03:04:47+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&label=listConfigSettingsLabel9150*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0Nzc1MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"vyDZ2mp7yddvQyLTUkOpGj1ajYOLvTBDfqjv2-GTUQw\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0Nzc1MA==;sn=103847750",
        "x-ms-date": "Mon, 26 Jan 2026 03:04:47 GMT"
      },
      "ResponseBody": {
        "etag": "vyDZ2mp7yddvQyLTUkOpGj1ajYOLvTBDfqjv2-GTUQw",
        "items": [
          {
            "etag": "PLw-s1bFwUTg1gVaw8Mfgkcax8CM6gdERdOeZtpxXyw",
            "key": "listConfigSetting2A83242",
            "label": "listConfigSettingsLabel91501",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2026-01-26T03:04:46+00:00"
          },
          {
            "etag": "4w4FwxXn_IiDAYn0j44COAZOA56-DUImg4JwLflUi3k",
            "key": "listConfigSetting2B1044",
            "label": "listConfigSettingsLabel91501",
            "content_type": null,
            "value": "[B] production value",
            "tags": {
              "production": "B",
              "value": "1"
            },
            "locked": false,
            "last_modified": "2026-01-26T03:04:47+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting2A83242%2ClistConfigSetting2B1044",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0Nzc1MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"supUqOjv25nouUJi[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting2B1044?api-version=2023-11-01&label=listConfigSettingsLabel91501",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0Nzc1NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4w4FwxXn_IiDAYn0j44COAZOA56-DUImg4JwLflUi3k\"",
        "Last-Modified": "Mon, 26 Jan 2026 03:04:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0Nzc1Ng==;sn=103847756",
        "x-ms-date": "Mon, 26 Jan 2026 03:04:48 GMT"
      },
      "ResponseBody": {
        "etag": "4w4FwxXn_IiDAYn0j44COAZOA56-DUImg4JwLflUi3k",
        "key": "listConfigSetting2B1044",
        "label": "listConfigSettingsLabel91501",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-26T03:04:47+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting2A": "listConfigSetting2A83242",
    "listConfigSetting2B": "listConfigSetting2B1044",
    "listConfigSettingsLabel": "listConfigSettingsLabel91501"
  }
}
