{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A93967?api-version=2023-11-01&label=listConfigSettingsLabel99117",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting3A93967",
        "label": "listConfigSettingsLabel99117",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1Gg1vOab_M9KX_cX3jBXHeHuS2astlU02CSoqlTya3c\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:53:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MzI5Nw==;sn=103583297",
        "x-ms-date": "Fri, 23 Jan 2026 08:53:29 GMT"
      },
      "ResponseBody": {
        "etag": "1Gg1vOab_M9KX_cX3jBXHeHuS2astlU02CSoqlTya3c",
        "key": "listConfigSetting3A93967",
        "label": "listConfigSettingsLabel99117",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:53:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting3A93967?api-version=2023-11-01&label=listConfigSettingsLabel99117",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MzI5Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HzjzzfUuJ7lIk4mwKHEu9ulUxmv05am5KcvyTWZMCR0\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:53:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MzI5OA==;sn=103583298",
        "x-ms-date": "Fri, 23 Jan 2026 08:53:29 GMT"
      },
      "ResponseBody": {
        "etag": "HzjzzfUuJ7lIk4mwKHEu9ulUxmv05am5KcvyTWZMCR0",
        "key": "listConfigSetting3A93967",
        "label": "listConfigSettingsLabel99117",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2026-01-23T08:53:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A93967?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MzI5OA=="
      },
      "RequestBody": {
        "key": "listConfigSetting3A93967",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6Z-8GL9B1yxaVa-uQtP-Jw8RZnp1Rsu-Ykc7oEwigBs\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:53:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MzMwMA==;sn=103583300",
        "x-ms-date": "Fri, 23 Jan 2026 08:53:29 GMT"
      },
      "ResponseBody": {
        "etag": "6Z-8GL9B1yxaVa-uQtP-Jw8RZnp1Rsu-Ykc7oEwigBs",
        "key": "listConfigSetting3A93967",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:53:29+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting3A93967",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MzMwMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"kwyr0BCili4SqoElHlUSijsHthXg9nCHXMTGfy0NrAU\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MzMwMg==;sn=103583302",
        "x-ms-date": "Fri, 23 Jan 2026 08:53:30 GMT"
      },
      "ResponseBody": {
        "etag": "kwyr0BCili4SqoElHlUSijsHthXg9nCHXMTGfy0NrAU",
        "items": [
          {
            "etag": "6Z-8GL9B1yxaVa-uQtP-Jw8RZnp1Rsu-Ykc7oEwigBs",
            "key": "listConfigSetting3A93967",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2026-01-23T08:53:29+00:00"
          },
          {
            "etag": "HzjzzfUuJ7lIk4mwKHEu9ulUxmv05am5KcvyTWZMCR0",
            "key": "listConfigSetting3A93967",
            "label": "listConfigSettingsLabel99117",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2026-01-23T08:53:29+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting3A93967%2ClistConfigSetting3B6943",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MzMwMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"cjzevs5PyDRLmGm2[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3B6943?api-version=2023-11-01&label=listConfigSettingsLabel99117",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4MzMwNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zBtJSVsV4kwayKB3KisiWtXy2ls_DfAWe1D4_iGEHUU\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:53:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4MzMwOA==;sn=103583308",
        "x-ms-date": "Fri, 23 Jan 2026 08:53:30 GMT"
      },
      "ResponseBody": {
        "etag": "zBtJSVsV4kwayKB3KisiWtXy2ls_DfAWe1D4_iGEHUU",
        "key": "listConfigSetting3B6943",
        "label": "listConfigSettingsLabel99117",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2026-01-23T08:53:29+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting3A": "listConfigSetting3A93967",
    "listConfigSetting3B": "listConfigSetting3B6943",
    "listConfigSettingsLabel": "listConfigSettingsLabel99117"
  }
}
