{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5A53559?api-version=2023-11-01&label=listConfigSettingsLabel73100",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting5A53559",
        "label": "listConfigSettingsLabel73100",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FbkV5FPqjsHWJqnH9SRlEmC7aMbMMhJ6CUjoDaILmo8\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:24:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MjM=;sn=74774623",
        "x-ms-date": "Thu, 23 Oct 2025 05:24:30 GMT"
      },
      "ResponseBody": {
        "etag": "FbkV5FPqjsHWJqnH9SRlEmC7aMbMMhJ6CUjoDaILmo8",
        "key": "listConfigSetting5A53559",
        "label": "listConfigSettingsLabel73100",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-23T05:24:30+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting5A53559?api-version=2023-11-01&label=listConfigSettingsLabel73100",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MjM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HsQFbs-9w-tXOrZVlpP3C-qA5x4HDOC4d-LrmFdH_CE\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:24:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MjQ=;sn=74774624",
        "x-ms-date": "Thu, 23 Oct 2025 05:24:30 GMT"
      },
      "ResponseBody": {
        "etag": "HsQFbs-9w-tXOrZVlpP3C-qA5x4HDOC4d-LrmFdH_CE",
        "key": "listConfigSetting5A53559",
        "label": "listConfigSettingsLabel73100",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-10-23T05:24:30+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5A53559?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MjQ="
      },
      "RequestBody": {
        "key": "listConfigSetting5A53559",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xJ6K9CSHNHlHexl0-xhM_MoL6NPjF5IMN8mvBDusvbk\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:24:31 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MjY=;sn=74774626",
        "x-ms-date": "Thu, 23 Oct 2025 05:24:31 GMT"
      },
      "ResponseBody": {
        "etag": "xJ6K9CSHNHlHexl0-xhM_MoL6NPjF5IMN8mvBDusvbk",
        "key": "listConfigSetting5A53559",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-10-23T05:24:31+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting5A5355*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQ2Mjg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"24ov-WIF_VD8EsLEQDyyEaGgPHLiMVqKRTgN38lF4gs\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQ2Mjg=;sn=74774628",
        "x-ms-date": "Thu, 23 Oct 2025 05:24:31 GMT"
      },
      "ResponseBody": {
        "etag": "24ov-WIF_VD8EsLEQDyyEaGgPHLiMVqKRTgN38lF4gs",
        "items": [
          {
            "etag": "xJ6K9CSHNHlHexl0-xhM_MoL6NPjF5IMN8mvBDusvbk",
            "key": "listConfigSetting5A53559",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-10-23T05:24:31+00:00"
          },
          {
            "etag": "HsQFbs-9w-tXOrZVlpP3C-qA5x4HDOC4d-LrmFdH_CE",
            "key": "listConfigSetting5A53559",
            "label": "listConfigSettingsLabel73100",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2025-10-23T05:24:30+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting5A53559%2ClistConfigSetting5B91432",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQ2Mjg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"RfLy7ACYSc3TMuJ[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5B91432?api-version=2023-11-01&label=listConfigSettingsLabel73100",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MzM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_qB_h2ZT_CLJHBCGIQP87fUylVibfFU62KwgDmPNyLA\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:24:31 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzQ2MzQ=;sn=74774634",
        "x-ms-date": "Thu, 23 Oct 2025 05:24:32 GMT"
      },
      "ResponseBody": {
        "etag": "_qB_h2ZT_CLJHBCGIQP87fUylVibfFU62KwgDmPNyLA",
        "key": "listConfigSetting5B91432",
        "label": "listConfigSettingsLabel73100",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-23T05:24:31+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting5A": "listConfigSetting5A53559",
    "listConfigSetting5B": "listConfigSetting5B91432",
    "listConfigSettingsLabel": "listConfigSettingsLabel73100"
  }
}
