{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting4A91349?api-version=2023-11-01&label=listConfigSettingsLabel94703",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting4A91349",
        "label": "listConfigSettingsLabel94703",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lP2iDej1CRnsBiEEwRrND-C1ul5UH58ZLywGRxbuQXo\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:29:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAyMjE=;sn=73740221"
      },
      "ResponseBody": {
        "etag": "lP2iDej1CRnsBiEEwRrND-C1ul5UH58ZLywGRxbuQXo",
        "key": "listConfigSetting4A91349",
        "label": "listConfigSettingsLabel94703",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-16T11:29:30+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting4A91349?api-version=2023-11-01&label=listConfigSettingsLabel94703",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDAyMjE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xcb_wIxnNoXZFcqjl39FXHXt9WhJMSWeIOQM1_HHm80\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:29:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAyMjI=;sn=73740222"
      },
      "ResponseBody": {
        "etag": "xcb_wIxnNoXZFcqjl39FXHXt9WhJMSWeIOQM1_HHm80",
        "key": "listConfigSetting4A91349",
        "label": "listConfigSettingsLabel94703",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-16T11:29:30+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting4A91349?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDAyMjI="
      },
      "RequestBody": {
        "key": "listConfigSetting4A91349",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Tnnp9cscgJyXPSN-3T4P1prSWQZCbTc4ybbHIMeozdM\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:29:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAyMjQ=;sn=73740224"
      },
      "ResponseBody": {
        "etag": "Tnnp9cscgJyXPSN-3T4P1prSWQZCbTc4ybbHIMeozdM",
        "key": "listConfigSetting4A91349",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-16T11:29:30+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSettingC?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDAyMjY="
      },
      "RequestBody": {
        "key": "listConfigSettingC",
        "value": "[C] production value",
        "tags": {
          "production": "C",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LWA6ipiQkOb-bwmHbYPfEQhu9qbGqJdDIa0I14diKAY\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:29:31 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAyMjc=;sn=73740227"
      },
      "ResponseBody": {
        "etag": "LWA6ipiQkOb-bwmHbYPfEQhu9qbGqJdDIa0I14diKAY",
        "key": "listConfigSettingC",
        "label": null,
        "content_type": null,
        "value": "[C] production value",
        "tags": {
          "production": "C",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-16T11:29:31+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&tags=production%3DC",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDAyMjc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"aaxEsfg9fbu35jIjOKO88BlmORakfOD-HTn2YejwXBo\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAyMjg=;sn=73740228"
      },
      "ResponseBody": {
        "etag": "aaxEsfg9fbu35jIjOKO88BlmORakfOD-HTn2YejwXBo",
        "items": [
          {
            "etag": "LWA6ipiQkOb-bwmHbYPfEQhu9qbGqJdDIa0I14diKAY",
            "key": "listConfigSettingC",
            "label": null,
            "content_type": null,
            "value": "[C] production value",
            "tags": {
              "production": "C",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-09-16T11:29:31+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSettingC",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDAyMjg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"aaxEsfg9fbu35jIjOKO88BlmORakfOD-HTn2YejwXBo\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAyMjg=;sn=73740228"
      },
      "ResponseBody": {
        "etag": "aaxEsfg9fbu35jIjOKO88BlmORakfOD-HTn2YejwXBo",
        "items": [
          {
            "etag": "LWA6ipiQkOb-bwmHbYPfEQhu9qbGqJdDIa0I14diKAY",
            "key": "listConfigSettingC",
            "label": null,
            "content_type": null,
            "value": "[C] production value",
            "tags": {
              "production": "C",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-09-16T11:29:31+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting4A91349%2ClistConfigSetting4B28540",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDAyMjk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"nAXg8GUpMNG3LJt[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting4B28540?api-version=2023-11-01&label=listConfigSettingsLabel94703",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDAyMzQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XFAOehLDf0joWj-xhC8iBC4e47woeIM1rlLmfxeYw_w\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:29:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDAyMzU=;sn=73740235"
      },
      "ResponseBody": {
        "etag": "XFAOehLDf0joWj-xhC8iBC4e47woeIM1rlLmfxeYw_w",
        "key": "listConfigSetting4B28540",
        "label": "listConfigSettingsLabel94703",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-16T11:29:30+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting4A": "listConfigSetting4A91349",
    "listConfigSetting4B": "listConfigSetting4B28540",
    "listConfigSettingsLabel": "listConfigSettingsLabel94703"
  }
}
