{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5A10141?api-version=2023-11-01&label=listConfigSettingsLabel78506",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting5A10141",
        "label": "listConfigSettingsLabel78506",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mz3CeNi_RoQgtcKX6jgU9l4khDi1zFxQbW9AngMWSPk\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:35:57 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA3NDY=;sn=74230746"
      },
      "ResponseBody": {
        "etag": "mz3CeNi_RoQgtcKX6jgU9l4khDi1zFxQbW9AngMWSPk",
        "key": "listConfigSetting5A10141",
        "label": "listConfigSettingsLabel78506",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T15:35:57+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting5A10141?api-version=2023-11-01&label=listConfigSettingsLabel78506",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzA3NDY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OSIbqiYu1D3-Enm6e_Rt2ZezJvfniZk_lUu2oYaYdRE\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:35:57 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA3NDc=;sn=74230747"
      },
      "ResponseBody": {
        "etag": "OSIbqiYu1D3-Enm6e_Rt2ZezJvfniZk_lUu2oYaYdRE",
        "key": "listConfigSetting5A10141",
        "label": "listConfigSettingsLabel78506",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-10-02T15:35:57+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5A10141?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzA3NDc="
      },
      "RequestBody": {
        "key": "listConfigSetting5A10141",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HlPIjUoKfpo1tyjLOj4QkZ-B-ntbnfVX4eEYeVgn5G0\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:35:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA3NDk=;sn=74230749"
      },
      "ResponseBody": {
        "etag": "HlPIjUoKfpo1tyjLOj4QkZ-B-ntbnfVX4eEYeVgn5G0",
        "key": "listConfigSetting5A10141",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-10-02T15:35:58+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting5A1014*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzA3NTE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Yk1E_Z9LBHDfF3T8uZGYPoWsAPmRDYAwlPCoP1US6s8\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA3NTE=;sn=74230751"
      },
      "ResponseBody": {
        "etag": "Yk1E_Z9LBHDfF3T8uZGYPoWsAPmRDYAwlPCoP1US6s8",
        "items": [
          {
            "etag": "HlPIjUoKfpo1tyjLOj4QkZ-B-ntbnfVX4eEYeVgn5G0",
            "key": "listConfigSetting5A10141",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-10-02T15:35:58+00:00"
          },
          {
            "etag": "OSIbqiYu1D3-Enm6e_Rt2ZezJvfniZk_lUu2oYaYdRE",
            "key": "listConfigSetting5A10141",
            "label": "listConfigSettingsLabel78506",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2025-10-02T15:35:57+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting5A10141%2ClistConfigSetting5B83370",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzA3NTE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"N7E2Y_w8_0foSIu[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting5B83370?api-version=2023-11-01&label=listConfigSettingsLabel78506",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzA3NTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"f5c6Z3BTeYz8ydSDcpetYLcVDbX8b15SeyGq7GSO8Us\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:35:58 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzA3NTc=;sn=74230757"
      },
      "ResponseBody": {
        "etag": "f5c6Z3BTeYz8ydSDcpetYLcVDbX8b15SeyGq7GSO8Us",
        "key": "listConfigSetting5B83370",
        "label": "listConfigSettingsLabel78506",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-10-02T15:35:58+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting5A": "listConfigSetting5A10141",
    "listConfigSetting5B": "listConfigSetting5B83370",
    "listConfigSettingsLabel": "listConfigSettingsLabel78506"
  }
}
