{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7A75277?api-version=2023-11-01&label=listConfigSettingsLabel55499",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting7A75277",
        "label": "listConfigSettingsLabel55499",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qZ6MT-7D4nothy4Bg7vnCVtZInGMS-1yCDUp89JN3vc\"",
        "Last-Modified": "Thu, 11 Jul 2024 21:03:47 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA2OTgw;sn=2806980"
      },
      "ResponseBody": {
        "etag": "qZ6MT-7D4nothy4Bg7vnCVtZInGMS-1yCDUp89JN3vc",
        "key": "listConfigSetting7A75277",
        "label": "listConfigSettingsLabel55499",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-07-11T21:03:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting7A75277?api-version=2023-11-01&label=listConfigSettingsLabel55499",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA2OTgw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7-pfJXS5-jbzFcPAIxZBPXp3-YZQxZjlrrsl68z9HKQ\"",
        "Last-Modified": "Thu, 11 Jul 2024 21:03:47 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA2OTgx;sn=2806981"
      },
      "ResponseBody": {
        "etag": "7-pfJXS5-jbzFcPAIxZBPXp3-YZQxZjlrrsl68z9HKQ",
        "key": "listConfigSetting7A75277",
        "label": "listConfigSettingsLabel55499",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2024-07-11T21:03:47+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7A75277?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=ODoxNSMyODA2OTgx"
      },
      "RequestBody": {
        "key": "listConfigSetting7A75277",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tnd2Vskx3WS50QhHxISMU_Fdeq96t4ctUu4BkRPtCT8\"",
        "Last-Modified": "Thu, 11 Jul 2024 21:03:47 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA2OTgz;sn=2806983"
      },
      "ResponseBody": {
        "etag": "tnd2Vskx3WS50QhHxISMU_Fdeq96t4ctUu4BkRPtCT8",
        "key": "listConfigSetting7A75277",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2024-07-11T21:03:47+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "accept-datetime": "2024-07-11T21:03:47.000Z",
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA2OTg1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"m37XxkiRINjR5qviyXePFMyjLvkDQwVeZz_iosAxZ8o\"",
        "Link": "</kv?api-version=2023-11-01&key=listConfigSetting*>; rel=\"original\"",
        "Memento-Datetime": "Thu, 11 Jul 2024 21:03:47 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA2OTg1;sn=2806985"
      },
      "ResponseBody": {
        "etag": "m37XxkiRINjR5qviyXePFMyjLvkDQwVeZz_iosAxZ8o",
        "items": [
          {
            "etag": "tnd2Vskx3WS50QhHxISMU_Fdeq96t4ctUu4BkRPtCT8",
            "key": "listConfigSetting7A75277",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2024-07-11T21:03:47+00:00"
          },
          {
            "etag": "7-pfJXS5-jbzFcPAIxZBPXp3-YZQxZjlrrsl68z9HKQ",
 [...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting7A75277%2ClistConfigSetting7B82023",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA2OTg1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"m37XxkiRINjR5qviyXe[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting7B82023?api-version=2023-11-01&label=listConfigSettingsLabel55499",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyODA2OTkw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VDV2rMcKYWS_Q-eR6gePoLqrijxe_EccaqSRyZ_qSZ8\"",
        "Last-Modified": "Thu, 11 Jul 2024 21:03:47 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyODA2OTkx;sn=2806991"
      },
      "ResponseBody": {
        "etag": "VDV2rMcKYWS_Q-eR6gePoLqrijxe_EccaqSRyZ_qSZ8",
        "key": "listConfigSetting7B82023",
        "label": "listConfigSettingsLabel55499",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2024-07-11T21:03:47+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting7A": "listConfigSetting7A75277",
    "listConfigSetting7B": "listConfigSetting7B82023",
    "listConfigSettingsLabel": "listConfigSettingsLabel55499"
  }
}
