{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A63505?api-version=2023-11-01&label=listConfigSettingsLabel40610",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "listConfigSetting3A63505",
        "label": "listConfigSettingsLabel40610",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wM90QMJDxL0W8ETORlMWzmQS12MlJ8mI356_lycO2hg\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:43:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA5NzY=;sn=73800976"
      },
      "ResponseBody": {
        "etag": "wM90QMJDxL0W8ETORlMWzmQS12MlJ8mI356_lycO2hg",
        "key": "listConfigSetting3A63505",
        "label": "listConfigSettingsLabel40610",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:43:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/listConfigSetting3A63505?api-version=2023-11-01&label=listConfigSettingsLabel40610",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDA5NzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VmCiq_I7nF0Pvz6Bw2OLf8s8662n-TjOXiF4kI6IqnI\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:43:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA5Nzc=;sn=73800977"
      },
      "ResponseBody": {
        "etag": "VmCiq_I7nF0Pvz6Bw2OLf8s8662n-TjOXiF4kI6IqnI",
        "key": "listConfigSetting3A63505",
        "label": "listConfigSettingsLabel40610",
        "content_type": "a content type",
        "value": "[A] production value",
        "tags": {
          "production": "A",
          "value": "1"
        },
        "locked": true,
        "last_modified": "2025-09-18T02:43:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3A63505?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDA5Nzc="
      },
      "RequestBody": {
        "key": "listConfigSetting3A63505",
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"66m-Z-u7z8H2z9MHGaq8SfDZIT8M3yw9zQU6fKFlU-s\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:43:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA5Nzk=;sn=73800979"
      },
      "ResponseBody": {
        "etag": "66m-Z-u7z8H2z9MHGaq8SfDZIT8M3yw9zQU6fKFlU-s",
        "key": "listConfigSetting3A63505",
        "label": null,
        "content_type": null,
        "value": "[A] value",
        "tags": {
          "production": "A",
          "value": "2"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:43:56+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting3A63505",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDA5ODE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"u-qhN98R0I79w2kYsD6GZOuosBSzAxjiotIv4CgIjao\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA5ODE=;sn=73800981"
      },
      "ResponseBody": {
        "etag": "u-qhN98R0I79w2kYsD6GZOuosBSzAxjiotIv4CgIjao",
        "items": [
          {
            "etag": "66m-Z-u7z8H2z9MHGaq8SfDZIT8M3yw9zQU6fKFlU-s",
            "key": "listConfigSetting3A63505",
            "label": null,
            "content_type": null,
            "value": "[A] value",
            "tags": {
              "production": "A",
              "value": "2"
            },
            "locked": false,
            "last_modified": "2025-09-18T02:43:56+00:00"
          },
          {
            "etag": "VmCiq_I7nF0Pvz6Bw2OLf8s8662n-TjOXiF4kI6IqnI",
            "key": "listConfigSetting3A63505",
            "label": "listConfigSettingsLabel40610",
            "content_type": "a content type",
            "value": "[A] production value",
            "tags": {
              "production": "A",
              "value": "1"
            },
            "locked": true,
            "last_modified": "2025-09-18T02:43:56+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=listConfigSetting3A63505%2ClistConfigSetting3B51182",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDA5ODE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"PSUABW0aJWB17s9[...]
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/listConfigSetting3B51182?api-version=2023-11-01&label=listConfigSettingsLabel40610",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDA5ODY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9iqkqnu_PlIo61wwMLs8j593PcCMUkH6N0WivUXbtOw\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:43:56 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDA5ODc=;sn=73800987"
      },
      "ResponseBody": {
        "etag": "9iqkqnu_PlIo61wwMLs8j593PcCMUkH6N0WivUXbtOw",
        "key": "listConfigSetting3B51182",
        "label": "listConfigSettingsLabel40610",
        "content_type": null,
        "value": "[B] production value",
        "tags": {
          "production": "B",
          "value": "1"
        },
        "locked": false,
        "last_modified": "2025-09-18T02:43:56+00:00"
      }
    }
  ],
  "Variables": {
    "listConfigSetting3A": "listConfigSetting3A63505",
    "listConfigSetting3B": "listConfigSetting3B51182",
    "listConfigSettingsLabel": "listConfigSettingsLabel40610"
  }
}
