{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ServiceNetworking/trafficControllers/TC1?api-version=2025-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "properties": {
          "configurationEndpoints": [
            "8a073adb7b2c4160aeba7d29b79aa9bd.alb.azure.com"
          ],
          "frontends": [],
          "associations": [],
          "securityPolicies": [],
          "provisioningState": "Succeeded"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ServiceNetworking/trafficControllers/TC1",
        "name": "TC1",
        "type": "Microsoft.ServiceNetworking/TrafficControllers",
        "etag": "Sanitized",
        "location": "eastus",
        "tags": {
          "key1": "value1"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-05-08T06:50:28.6179312Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-05-08T06:50:28.6179312Z"
        }
      }
    }
  ],
  "Variables": {}
}
