{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://keyvault_name.vault.azure.net/secrets/bankSecret1776809853155",
            "attributes": {
              "enabled": true,
              "created": 1776809856,
              "updated": 1776809856,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          },
          {
            "id": "https://keyvault_name.vault.azure.net/secrets/bankSecret1776809853156",
            "attributes": {
              "enabled": true,
              "created": 1776809856,
              "updated": 1776809856,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          },
          {
            "id": "https://keyvault_name.vault.azure.net/secrets/bankSecret1776809856679",
   [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/bankSecret1776809853155/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "ABC123",
        "id": "https://keyvault_name.vault.azure.net/secrets/bankSecret1776809853155/eee856dbd2124b2f894b58fd14f39440",
        "attributes": {
          "enabled": true,
          "created": 1776809856,
          "updated": 1776809856,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/sample-bank-secret-1776810018189/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "ABC123",
        "id": "https://keyvault_name.vault.azure.net/secrets/sample-bank-secret-1776810018189/408ecf25ca7a461e8ecdb40aa30cd903",
        "attributes": {
          "enabled": true,
          "created": 1776810021,
          "updated": 1776810021,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/sample-create-read-secret-1776810018189/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "MySecretValue",
        "id": "https://keyvault_name.vault.azure.net/secrets/sample-create-read-secret-1776810018189/5b31a642a4314432b33270f0f52d0c1f",
        "attributes": {
          "enabled": true,
          "created": 1776810021,
          "updated": 1776810021,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/sample-recover-secret-1776810021709/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "ABC123",
        "id": "https://keyvault_name.vault.azure.net/secrets/sample-recover-secret-1776810021709/2788c5f69f7347419ca2c11778ff87ca",
        "attributes": {
          "enabled": true,
          "created": 1776810024,
          "updated": 1776810024,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/sample-storage-secret-1776810018189/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "XYZ789",
        "id": "https://keyvault_name.vault.azure.net/secrets/sample-storage-secret-1776810018189/259371cb570443ecbae75003a2ffddbd",
        "attributes": {
          "enabled": true,
          "created": 1776810021,
          "updated": 1776810021,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret1776809867223/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "MySecretValue",
        "id": "https://keyvault_name.vault.azure.net/secrets/secret1776809867223/d8277d4c10554e36be18ff93889d1ce2",
        "attributes": {
          "enabled": true,
          "created": 1776809870,
          "updated": 1776809870,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/storageSecret1776809853155/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "XYZ789",
        "id": "https://keyvault_name.vault.azure.net/secrets/storageSecret1776809853155/ef6b1791bdcd481ab00715a8178e9d60",
        "attributes": {
          "enabled": true,
          "created": 1776809856,
          "updated": 1776809856,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/storageSecret1776810018189/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "XYZ789",
        "id": "https://keyvault_name.vault.azure.net/secrets/storageSecret1776810018189/f71a0e59a49e49eeb33d782c3a7aa888",
        "attributes": {
          "enabled": true,
          "created": 1776810021,
          "updated": 1776810021,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    }
  ],
  "Variables": {}
}
