{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret1777137824525?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret1777137824525?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "MySecretValue",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "MySecretValue",
        "id": "https://keyvault_name.vault.azure.net/secrets/secret1777137824525/e54b16c1348247d7a4d41658abc7f0cd",
        "attributes": {
          "enabled": true,
          "created": 1777137828,
          "updated": 1777137828,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "contentType": "application/x-pkcs12",
            "id": "https://keyvault_name.vault.azure.net/secrets/backup-restore-1776811140059",
            "managed": true,
            "attributes": {
              "enabled": false,
              "nbf": 1776810543,
              "exp": 1808347143,
              "created": 1776811143,
              "updated": 1776811143,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          },
          {
            "contentType": "application/x-pkcs12",
            "id": "https://keyvault_name.vault.azure.net/secrets/backup-restore-1776811151347",
            "managed": true,
            "attributes": {
              "enabled": true,
              "nbf": 1776810554,
     [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=2025-07-01&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "contentType": "application/x-pkcs12",
            "id": "https://keyv[...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/bankSecret1776809863695",
            "deletedDate": 1776809867,
            "scheduledPurgeDate": 1777414667,
            "id": "https://keyvault_name.vault.azure.net/secrets/bankSecret1776809863695",
            "attributes": {
              "enabled": true,
              "created": 1776809866,
              "updated": 1776809866,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          },
          {
            "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/bankSecret1776810030165",
            "deletedDate": 1776810033,
            "scheduledPurgeDate": 1777414833,
            "id": "https://keyvault_name.vault.azure.net/secrets/bankSecret1776810030165",
            "attributes": {
              "enabled": true,
              "created": 1776810033,
              "updated": 1776810033,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          },
          {
            "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/bankSecret1777137820183",
            "deletedDate": 1777137824,
            "scheduledPurgeDate": 1777742624,
            "id": "https://keyvault_name.vault.azure.net/secrets/bankSecret1777137820183",
            "attributes": {
              "enabled": true,
              "created": 1777137824,
              "updated": 1777137824,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          }
        ],
        "nextLink": "https://t1b276dea41386279.vault.azure.net:443/deletedsecrets?api-version=2025-07-01&$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets?api-version=2025-07-01&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://t1b276dea41386279.vault.azure.net:443/deletedsecrets?api-version=2025-07-01&$skiptoken=Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret1777137824525/versions?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://keyvault_name.vault.azure.net/secrets/secret1777137824525/e54b16c1348247d7a4d41658abc7f0cd",
            "attributes": {
              "enabled": true,
              "created": 1777137828,
              "updated": 1777137828,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "uniqueString": "1777137824525"
  }
}
