{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret1776810037476?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret1776810037476?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "MySecretValue",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "MySecretValue",
        "id": "https://keyvault_name.vault.azure.net/secrets/secret1776810037476/40d71262a87d493abd7434c4880cbf51",
        "attributes": {
          "enabled": true,
          "created": 1776810040,
          "updated": 1776810040,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://keyvault_name.vault.azure.net/secrets/bankSecret1776809853155",
            [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=2025-07-01&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://keyvault_name.vault.azure.net/secrets/secret17768100374[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/bankSecret1776809863695",
            "deletedDate": 1776809867,
            "scheduledPurgeDate": 1777414667,
            "id": "https://keyvault_name.vault.azure.net/secrets/bankSecret1776809863695",
            "attributes": {
              "enabled": true,
              "created": 1776809866,
              "updated": 1776809866,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          },
          {
            "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/bankSecret1776810030165",
            "dele[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets?api-version=2025-07-01&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://keyvault_name.vault.azure.net/deletedsec[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets?api-version=2025-07-01&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/secret1776810037476/versions?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://keyvault_name.vault.azure.net/secrets/secret1776810037476/40d71262a87d493abd7434c4880cbf51",
            "attributes": {
              "enabled": true,
              "created": 1776810040,
              "updated": 1776810040,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
