{
  "Entries": [
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472005862205053?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Sep 2023 19:34:18 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55997283042\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:34:19 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472005862205053/dir169472005872906522?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Sep 2023 19:34:18 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55997393DA5\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:34:19 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-09-14T19:34:19.6884901Z",
        "x-ms-file-creation-time": "2023-09-14T19:34:19.6884901Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-14T19:34:19.6884901Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472005862205053/dir169472005872906522/file169472005883908831",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2049",
        "x-ms-date": "Thu, 14 Sep 2023 19:34:18 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB559974AC748\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:34:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-14T19:34:19.8034248Z",
        "x-ms-file-creation-time": "2023-09-14T19:34:19.8034248Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-09-14T19:34:19.8034248Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472005862205053/dir169472005872906522/file169472005883908831?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 14 Sep 2023 19:34:18 GMT",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2023-01-03",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ixqZU8RhEpaoJ6v4xHgE1w==",
        "ETag": "\u00220x8DBB559975B1896\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:34:19 GMT",
        "x-ms-file-last-write-time": "2023-09-14T19:34:19.9103638Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472005862205053?restype=share\u0026comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Sep 2023 19:34:19 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBB55997283042\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:34:19 GMT",
        "x-ms-snapshot": "2023-09-14T19:34:20.0000000Z",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472005862205053/dir169472005872906522/file169472005883908831?comp=rangelist\u0026prevsharesnapshot=2023-09-14T19%3A34%3A20.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Sep 2023 19:34:19 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DBB559978BE573\u0022",
        "Last-Modified": "Thu, 14 Sep 2023 19:34:20 GMT",
        "x-ms-content-length": "2049",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CRanges\u003E\u003CClearRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E511\u003C/End\u003E\u003C/ClearRange\u003E\u003CRange\u003E\u003CStart\u003E512\u003C/Start\u003E\u003CEnd\u003E1535\u003C/End\u003E\u003C/Range\u003E\u003C/Ranges\u003E"
    },
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share169472005862205053?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Sep 2023 19:34:19 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir169472005872906522",
    "file": "file169472005883908831",
    "share": "share169472005862205053"
  }
}
