{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828227100801811?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:44:31 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF771E61EFA40\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:44:32 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828227100801811/dir175828227130006335?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:44:31 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF771E64BC9B9\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:44:32 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-19T11:44:32.3570105Z",
        "x-ms-file-creation-time": "2025-09-19T11:44:32.3570105Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-19T11:44:32.3570105Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828227100801811/sourcefile175828227159301906",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-content-length": "2048",
        "x-ms-date": "Fri, 19 Sep 2025 11:44:31 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF771E6784CF9\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:44:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-19T11:44:32.6487289Z",
        "x-ms-file-creation-time": "2025-09-19T11:44:32.6487289Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-19T11:44:32.6487289Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828227100801811/destfile175828227159302265?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:44:31 GMT",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF771E6A5E065\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:44:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-19T11:44:32.9474149Z",
        "x-ms-file-creation-time": "2025-09-19T11:44:32.6487289Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-19T11:44:32.6487289Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6582295004140696368*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828227100801811/destfile175828227159302265",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:44:32 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DDF771E6A5E065\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:44:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-19T11:44:32.9474149Z",
        "x-ms-file-creation-time": "2025-09-19T11:44:32.6487289Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-19T11:44:32.6487289Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6582295004140696368*18203214069713872577",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828227100801811/sourcefile175828227159301906",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:44:32 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828227100801811?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:44:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "destfile": "destfile175828227159302265",
    "dir": "dir175828227130006335",
    "file": "file175828227159302344",
    "share": "share175828227100801811",
    "sourcefile": "sourcefile175828227159301906"
  }
}
