{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943391308819?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE806395F8097B\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:13 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943391308819/dir177333943398606555?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8063960584C7\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-03-12T18:17:14.0250823Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:14.0250823Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-03-12T18:17:14.0250823Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8206390892103284347*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943391308819/dir177333943398606555/file177333943406204212",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "1024",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE806396129579\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-12T18:17:14.1107065Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:14.1107065Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-03-12T18:17:14.1107065Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12797325078847506812*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943391308819/dir177333943398606555/copiedfile177333943415009286",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakeaccountname.file.core.windows.net/share177333943391308819/dir177333943398606555/file177333943406204212",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-file-attributes": "Hidden|System",
        "x-ms-file-change-time": "2011-10-05T14:48:00.0000000Z",
        "x-ms-file-copy-ignore-readonly": "false",
        "x-ms-file-copy-set-archive": "false",
        "x-ms-file-creation-time": "2011-10-05T14:48:00.0000000Z",
        "x-ms-file-last-write-time": "source",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80639624D07D\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:14 GMT",
        "x-ms-copy-id": "60b75c86-29dd-4920-acaa-65e1b3f53d47",
        "x-ms-copy-status": "success",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943391308819/dir177333943398606555/file177333943406204212",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE806396129579\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-12T18:17:14.1107065Z",
        "x-ms-file-creation-time": "2026-03-12T18:17:14.1107065Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-03-12T18:17:14.1107065Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12797325078847506812*1817716036125499890",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943391308819/dir177333943398606555/copiedfile177333943415009286",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE80639624D07D\"",
        "Last-Modified": "Thu, 12 Mar 2026 18:17:14 GMT",
        "x-ms-copy-completion-time": "Thu, 12 Mar 2026 18:17:14 GMT",
        "x-ms-copy-id": "60b75c86-29dd-4920-acaa-65e1b3f53d47",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://fakeaccountname.file.core.windows.net/share177333943391308819/dir177333943398606555/file177333943406204212",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Hidden | System",
        "x-ms-file-change-time": "2011-10-05T14:48:00.0000000Z",
        "x-ms-file-creation-time": "2011-10-05T14:48:00.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-03-12T18:17:14.1107065Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "18092172138366825799*1817716036125499890",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177333943391308819?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "copiedfile": "copiedfile177333943415009286",
    "dir": "dir177333943398606555",
    "file": "file177333943406204212",
    "share": "share177333943391308819"
  }
}
