{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830088282707941?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:14:42 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EAD8B05BF6\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:14:43 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830088282707941/dir169830088293501034?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:14:42 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EAD8C44E4C\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:14:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-26T06:14:43.8864460Z",
        "x-ms-file-creation-time": "2023-10-26T06:14:43.8864460Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-26T06:14:43.8864460Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830088282707941/dir169830088293501034/file169830088309805037",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 26 Oct 2023 06:14:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EAD8DA4406\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:14:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-26T06:14:44.0303622Z",
        "x-ms-file-creation-time": "2023-10-26T06:14:44.0303622Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-10-26T06:14:44.0303622Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830088282707941/destfile169830088320701194?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:14:43 GMT",
        "x-ms-meta-key1": "vala",
        "x-ms-meta-key2": "valb",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EAD8EB0A68\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:14:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-26T06:14:44.1402984Z",
        "x-ms-file-creation-time": "2023-10-26T06:14:44.0303622Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-10-26T06:14:44.0303622Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830088282707941/destfile169830088320701194",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:14:43 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD5EAD8EB0A68\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:14:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-26T06:14:44.1402984Z",
        "x-ms-file-creation-time": "2023-10-26T06:14:44.0303622Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-10-26T06:14:44.0303622Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key1": "vala",
        "x-ms-meta-key2": "valb",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830088282707941/dir169830088293501034/file169830088309805037",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:14:43 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830088282707941?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:14:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "destfile": "destfile169830088320701194",
    "dir": "dir169830088293501034",
    "file": "file169830088309805037",
    "share": "share169830088282707941"
  }
}
