{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830085329705805?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:14:13 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EAC7161CFF\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:14:14 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830085329705805/dir169830085340604316?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:14:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EAC72782FD\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:14:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-26T06:14:14.3376125Z",
        "x-ms-file-creation-time": "2023-10-26T06:14:14.3376125Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-26T06:14:14.3376125Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830085329705805/dir169830085340604316/file169830085351503863",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 26 Oct 2023 06:14:13 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EAC737D44D\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:14:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-26T06:14:14.4445517Z",
        "x-ms-file-creation-time": "2023-10-26T06:14:14.4445517Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-10-26T06:14:14.4445517Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830085329705805/dir169830085340604316/copiedfile169830085362504430",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:14:13 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EAC77326C9\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:14:14 GMT",
        "x-ms-copy-id": "cfaa752b-4d0e-4f2b-b439-213d420bca05",
        "x-ms-copy-status": "success",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830085329705805/dir169830085340604316/file169830085351503863",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:14:14 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD5EAC737D44D\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:14:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-26T06:14:14.4445517Z",
        "x-ms-file-creation-time": "2023-10-26T06:14:14.4445517Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-10-26T06:14:14.4445517Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830085329705805/dir169830085340604316/copiedfile169830085362504430",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:14:14 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBD5EAC77326C9\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:14:14 GMT",
        "x-ms-copy-completion-time": "Thu, 26 Oct 2023 06:14:14 GMT",
        "x-ms-copy-id": "cfaa752b-4d0e-4f2b-b439-213d420bca05",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-10-26T06:14:14.8333257Z",
        "x-ms-file-creation-time": "2023-10-26T06:14:14.8333257Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-10-26T06:14:14.8333257Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830085329705805?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:14:14 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "copiedfile": "copiedfile169830085362504430",
    "dir": "dir169830085340604316",
    "file": "file169830085351503863",
    "share": "share169830085329705805"
  }
}
