{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538210926405949?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 11:28:29 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBB5F0B888FA0\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:28:29 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538210926405949/dir169538210930308755?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 11:28:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBB5F0B8EC3B5\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:28:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-09-22T11:28:29.3249973Z",
        "x-ms-file-creation-time": "2023-09-22T11:28:29.3249973Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-09-22T11:28:29.3249973Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "2805801806637501937*5632617694610889336",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538210926405949/dir169538210930308755/file169538210934107159",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "11",
        "x-ms-date": "Fri, 22 Sep 2023 11:28:29 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBBB5F0B93F316\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:28:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-09-22T11:28:29.3589782Z",
        "x-ms-file-creation-time": "2023-09-22T11:28:29.3589782Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-09-22T11:28:29.3589782Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "16612648395746669302*5632617694610889336",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169538210926405949?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 22 Sep 2023 11:28:29 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir169538210930308755",
    "file": "file169538210934107159",
    "share": "share169538210926405949"
  }
}
