{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828213253008000?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:42:12 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF7719394E241\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:42:13 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828213253008000/dir175828213283605263?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:42:12 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF77193C44182\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:42:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-19T11:42:13.8956162Z",
        "x-ms-file-creation-time": "2025-09-19T11:42:13.8956162Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-19T11:42:13.8956162Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828213253008000/dir175828213283605263/file175828213313207736",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-content-length": "4398046511104",
        "x-ms-date": "Fri, 19 Sep 2025 11:42:13 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF77193F0EBAF\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:42:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-19T11:42:14.1883311Z",
        "x-ms-file-creation-time": "2025-09-19T11:42:14.1883311Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-19T11:42:14.1883311Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828213253008000/dir175828213283605263/file175828213313207736?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "4398046511104",
        "x-ms-date": "Fri, 19 Sep 2025 11:42:13 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF771942051D2\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:42:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-19T11:42:14.4989650Z",
        "x-ms-file-creation-time": "2025-09-19T11:42:14.1883311Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-19T11:42:14.4989650Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828213253008000/dir175828213283605263/file175828213313207736",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:42:13 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DDF771942051D2\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:42:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-19T11:42:14.4989650Z",
        "x-ms-file-creation-time": "2025-09-19T11:42:14.1883311Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-19T11:42:14.4989650Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828213253008000/dir175828213283605263/file175828213313207736?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Sep 2025 11:42:14 GMT",
        "x-ms-range": "bytes=4398046511093-4398046511103",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DDF771947ADD30\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:42:15 GMT",
        "x-ms-file-last-write-time": "2025-09-19T11:42:15.0923568Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828213253008000?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:42:14 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir175828213283605263",
    "file": "file175828213313207736",
    "share": "share175828213253008000"
  }
}
