{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828219122106532?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:43:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF771B6918B42\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:43:12 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828219122106532/dir175828219151205675?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:43:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF771B6BE6DA6\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:43:12 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-19T11:43:12.5776806Z",
        "x-ms-file-creation-time": "2025-09-19T11:43:12.5776806Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-19T11:43:12.5776806Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828219122106532/dir175828219151205675/file175828219180508375",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-content-length": "10",
        "x-ms-date": "Fri, 19 Sep 2025 11:43:11 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF771B6EAC9F1\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:43:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-19T11:43:12.8684017Z",
        "x-ms-file-creation-time": "2025-09-19T11:43:12.8684017Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-19T11:43:12.8684017Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828219122106532/dir175828219151205675/file175828219180508375?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Sep 2025 11:43:12 GMT",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ixqZU8RhEpaoJ6v4xHgE1w==",
        "ETag": "\"0x8DDF771B7183688\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:43:13 GMT",
        "x-ms-file-last-write-time": "2025-09-19T11:43:13.1660936Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828219122106532/dir175828219151205675/file175828219180508375",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:43:12 GMT",
        "x-ms-range": "bytes=0-7",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-7/10",
        "Content-Type": "application/xml",
        "ETag": "\"0x8DDF771B744B9C7\"",
        "Last-Modified": "Fri, 19 Sep 2025 11:43:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-19T11:43:13.4578119Z",
        "x-ms-file-creation-time": "2025-09-19T11:43:12.8684017Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-19T11:43:13.4578119Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "HelloWor"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828219122106532?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 11:43:12 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir175828219151205675",
    "file": "file175828219180508375",
    "share": "share175828219122106532"
  }
}
