{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172883056318301249?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 13 Oct 2024 14:42:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEB954C19D8A1\"",
        "Last-Modified": "Sun, 13 Oct 2024 14:42:43 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172883056318301249/dir172883056349900778?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 13 Oct 2024 14:42:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEB954C4C08B2\"",
        "Last-Modified": "Sun, 13 Oct 2024 14:42:44 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-13T14:42:44.2473650Z",
        "x-ms-file-creation-time": "2024-10-13T14:42:44.2473650Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-13T14:42:44.2473650Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "848195603883682205*7142220257662565908",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172883056318301249/dir172883056349900778/file172883056381700763",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Sun, 13 Oct 2024 14:42:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEB954C7B0106\"",
        "Last-Modified": "Sun, 13 Oct 2024 14:42:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-13T14:42:44.5551878Z",
        "x-ms-file-creation-time": "2024-10-13T14:42:44.5551878Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-13T14:42:44.5551878Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "14681360101839640218*7142220257662565908",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172883056318301249/dir172883056349900778/copiedfile172883056415203538",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 13 Oct 2024 14:42:44 GMT",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAAAABQAAAACAFgAAwAAAAAAFAD/AR8AAQEAAAAAAAUSAAAAAAAYAP8BHwABAgAAAAAABSAAAAAgAgAAAAAkAKkAEgABBQAAAAAABRUAAABZUbgXZnJdJWRjOwuMmS4AAQUAAAAAAAUVAAAAoGXPfnhLm1/nfIdwr/1IAQEFAAAAAAAFFQAAAKBlz354S5tf53yHcAECAAA=",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-file-permission-format": "Binary",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEB954CCB3810\"",
        "Last-Modified": "Sun, 13 Oct 2024 14:42:45 GMT",
        "x-ms-copy-id": "33eb2387-85f4-4f87-8e37-b31073e7ee56",
        "x-ms-copy-status": "success",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172883056318301249/dir172883056349900778/copiedfile172883056415203538",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 13 Oct 2024 14:42:44 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCEB954CCB3810\"",
        "Last-Modified": "Sun, 13 Oct 2024 14:42:45 GMT",
        "x-ms-copy-completion-time": "Sun, 13 Oct 2024 14:42:45 GMT",
        "x-ms-copy-id": "33eb2387-85f4-4f87-8e37-b31073e7ee56",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-13T14:42:45.0808848Z",
        "x-ms-file-creation-time": "2024-10-13T14:42:45.0808848Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-10-13T14:42:45.0808848Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9310029861328988833*7142220257662565908",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172883056318301249?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sun, 13 Oct 2024 14:42:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "copiedfile": "copiedfile172883056415203538",
    "dir": "dir172883056349900778",
    "file": "file172883056381700763",
    "share": "share172883056318301249"
  }
}
