{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share177733328259207595?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2026 23:41:22 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA4B67ECC74A6\"",
        "Last-Modified": "Mon, 27 Apr 2026 23:41:25 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share177733328259207595/dir177733328384404237?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2026 23:41:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA4B67F01D89A\"",
        "Last-Modified": "Mon, 27 Apr 2026 23:41:25 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-27T23:41:25.5019674Z",
        "x-ms-file-creation-time": "2026-04-27T23:41:25.5019674Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-27T23:41:25.5019674Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share177733328259207595/dir177733328384404237/file177733328417004910",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "21",
        "x-ms-date": "Mon, 27 Apr 2026 23:41:24 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DEA4B67F328A7A\"",
        "Last-Modified": "Mon, 27 Apr 2026 23:41:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-27T23:41:25.8210938Z",
        "x-ms-file-creation-time": "2026-04-27T23:41:25.8210938Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-04-27T23:41:25.8210938Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share177733328259207595/dir177733328384404237/file177733328417004910",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2026 23:41:24 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA4B67F328A7A\"",
        "Last-Modified": "Mon, 27 Apr 2026 23:41:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-27T23:41:25.8210938Z",
        "x-ms-file-creation-time": "2026-04-27T23:41:25.8210938Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-04-27T23:41:25.8210938Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share177733328259207595?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2026 23:41:25 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir177733328384404237",
    "file": "file177733328417004910",
    "share": "share177733328259207595"
  }
}
