{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438191940103711?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:11:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682C6D2CCDFB\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:11:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438191940103711/dir171438191951006753?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:11:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682C6D3E5B2D\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:12:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-29T09:12:00.0420653Z",
        "x-ms-file-creation-time": "2024-04-29T09:12:00.0420653Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-29T09:12:00.0420653Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438191940103711/dir171438191951006753/file171438191962300425",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2049",
        "x-ms-date": "Mon, 29 Apr 2024 09:11:59 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682C6D4EFA95\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:12:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T09:12:00.1510037Z",
        "x-ms-file-creation-time": "2024-04-29T09:12:00.1510037Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-29T09:12:00.1510037Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4614121289425226539*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438191940103711/dir171438191951006753/file171438191962300425?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 29 Apr 2024 09:11:59 GMT",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ixqZU8RhEpaoJ6v4xHgE1w==",
        "ETag": "\"0x8DC682C6D600F13\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:12:00 GMT",
        "x-ms-file-last-write-time": "2024-04-29T09:12:00.2629395Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438191940103711?restype=share&comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:11:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682C6D2CCDFB\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:11:59 GMT",
        "x-ms-snapshot": "2024-04-29T09:12:00.0000000Z",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438191940103711/dir171438191951006753/file171438191962300425?comp=rangelist&prevsharesnapshot=2024-04-29T09%3A12%3A00.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:12:00 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DC682C6D92145C\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:12:00 GMT",
        "x-ms-content-length": "2049",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><ClearRange><Start>0</Start><End>511</End></ClearRange><Range><Start>512</Start><End>1535</End></Range></Ranges>"
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438191940103711?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:12:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir171438191951006753",
    "file": "file171438191962300425",
    "share": "share171438191940103711"
  }
}
