{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301127800907034?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 06:14:38 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB6A8383CC9B1\"",
        "Last-Modified": "Wed, 07 Aug 2024 06:14:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301127800907034/dir172301127840007872?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 06:14:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB6A83878AB06\"",
        "Last-Modified": "Wed, 07 Aug 2024 06:14:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-08-07T06:14:39.7960966Z",
        "x-ms-file-creation-time": "2024-08-07T06:14:39.7960966Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-08-07T06:14:39.7960966Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "848195603883682205*7142220257662565908",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301127800907034/sourcefile172301127873305099",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Wed, 07 Aug 2024 06:14:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB6A838AAFE45\"",
        "Last-Modified": "Wed, 07 Aug 2024 06:14:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T06:14:40.1259077Z",
        "x-ms-file-creation-time": "2024-08-07T06:14:40.1259077Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-08-07T06:14:40.1259077Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14681360101839640218*7142220257662565908",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301127800907034/destfile172301127873301648?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 06:14:39 GMT",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAAAABQAAAACAFgAAwAAAAAAFAD/AR8AAQEAAAAAAAUSAAAAAAAYAP8BHwABAgAAAAAABSAAAAAgAgAAAAAkAKkAEgABBQAAAAAABRUAAABZUbgXZnJdJWRjOwuMmS4AAQUAAAAAAAUVAAAAoGXPfnhLm1/nfIdwr/1IAQEFAAAAAAAFFQAAAKBlz354S5tf53yHcAECAAA=",
        "x-ms-file-permission-format": "Binary",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB6A838DDC6AF\"",
        "Last-Modified": "Wed, 07 Aug 2024 06:14:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T06:14:40.4587183Z",
        "x-ms-file-creation-time": "2024-08-07T06:14:40.1259077Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-08-07T06:14:40.1259077Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14184526647822199781*7142220257662565908",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301127800907034/destfile172301127873301648",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 06:14:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB6A838DDC6AF\"",
        "Last-Modified": "Wed, 07 Aug 2024 06:14:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-08-07T06:14:40.4587183Z",
        "x-ms-file-creation-time": "2024-08-07T06:14:40.1259077Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-08-07T06:14:40.1259077Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14184526647822199781*7142220257662565908",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301127800907034/sourcefile172301127873305099",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 06:14:39 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share172301127800907034?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Aug 2024 06:14:39 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "destfile": "destfile172301127873301648",
    "dir": "dir172301127840007872",
    "file": "file172301127873203695",
    "share": "share172301127800907034",
    "sourcefile": "sourcefile172301127873305099"
  }
}
