{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409004960900225?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:00:49 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C442FFE82FD\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:00:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409004960900225/dir176409004990807544?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:00:49 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C44302C9A3C\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:00:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-11-25T17:00:51.0816828Z",
        "x-ms-file-creation-time": "2025-11-25T17:00:51.0816828Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-11-25T17:00:51.0816828Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409004960900225?restype=share&comp=filepermission",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:00:50 GMT",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "eyJwZXJtaXNzaW9uIjoiTzpTWUc6U1lEOihBO09JQ0k7RkE7OztCQSkoQTtPSUNJO0ZBOzs7U1kpKEE7OzB4MTIwMGE5Ozs7QlUpKEE7T0lDSUlPO0dYR1I7OztCVSkoQTtPSUNJOzB4MTMwMWJmOzs7QVUpKEE7O0ZBOzs7U1kpKEE7T0lDSUlPO0dBOzs7Q08pIiwiZm9ybWF0Ijoic2RkbCJ9"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409004960900225/dir176409004990807544/file176409005020606972",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "11",
        "x-ms-date": "Tue, 25 Nov 2025 17:00:50 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C443086EBF2\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:00:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-11-25T17:00:51.6735986Z",
        "x-ms-file-creation-time": "2025-11-25T17:00:51.6735986Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T17:00:51.6735986Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409004960900225/dir176409004990807544/file176409005020606972?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "fileCacheControl",
        "x-ms-content-disposition": "fileContentDisposition",
        "x-ms-content-encoding": "fileContentEncoding",
        "x-ms-content-language": "fileContentLanguage",
        "x-ms-content-type": "fileContentType",
        "x-ms-date": "Tue, 25 Nov 2025 17:00:50 GMT",
        "x-ms-file-attributes": "ReadOnly|Hidden|System|Temporary|Archive|Offline|NotContentIndexed|NoScrubData",
        "x-ms-file-change-time": "2025-11-25T17:00:50.5030000Z",
        "x-ms-file-creation-time": "2025-11-25T17:00:50.5030000Z",
        "x-ms-file-last-write-time": "2025-11-25T17:00:50.5030000Z",
        "x-ms-file-permission": "O:SYG:SYD:(A;OICI;FA;;;BA)(A;OICI;FA;;;SY)(A;;0x1200a9;;;BU)(A;OICIIO;GXGR;;;BU)(A;OICI;0x1301bf;;;AU)(A;;FA;;;SY)(A;OICIIO;GA;;;CO)",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C4430B6342F\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:00:51 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden | System | Archive | Temporary | Offline | NotContentIndexed | NoScrubData",
        "x-ms-file-change-time": "2025-11-25T17:00:50.5030000Z",
        "x-ms-file-creation-time": "2025-11-25T17:00:50.5030000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T17:00:50.5030000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4036645205027248248*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409004960900225/dir176409004990807544/file176409005020606972",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:00:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "fileContentDisposition",
        "Content-Language": "fileContentLanguage",
        "Content-Type": "fileContentType",
        "ETag": "\"0x8DE2C4430B6342F\"",
        "Last-Modified": "Tue, 25 Nov 2025 17:00:51 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden | System | Archive | Temporary | Offline | NotContentIndexed | NoScrubData",
        "x-ms-file-change-time": "2025-11-25T17:00:50.5030000Z",
        "x-ms-file-creation-time": "2025-11-25T17:00:50.5030000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T17:00:50.5030000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4036645205027248248*18203214069713872577",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409004960900225?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Nov 2025 17:00:51 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir176409004990807544",
    "file": "file176409005020606972",
    "now": "2025-11-25T17:00:50.503Z",
    "share": "share176409004960900225"
  }
}
