{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip/items/ga_m_3308421_se_16_060_20211114-delete-test?api-version=2026-04-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.geocatalogs.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
        "operation-location": "https://Sanitized.geocatalogs.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-06-08T22:38:37.7266895Z"
          }
        ],
        "type": "DeleteItem",
        "creationTime": "2026-06-08T22:38:37.7266863Z",
        "collectionId": "naip"
      }
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Running",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-06-08T22:38:37.726686Z"
          },
          {
            "status": "Running",
            "timestamp": "2026-06-08T22:38:37.924983Z"
          }
        ],
        "type": "DeleteItem",
        "creationTime": "2026-06-08T22:38:37.726686Z",
        "startTime": "2026-06-08T22:38:37.726686Z",
        "collectionId": "naip",
        "additionalInformation": {
          "TotalFailedItems": "0",
          "TotalItems": "1",
          "TotalPendingItems": "1",
          "TotalSuccessfulItems": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Failed",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-06-08T22:38:37.726686Z"
          },
          {
            "status": "Running",
            "timestamp": "2026-06-08T22:38:37.924983Z"
          },
          {
            "status": "Failed",
            "timestamp": "2026-06-08T22:38:38.160931Z",
            "errorCode": "NoRecordsToDelete",
            "errorMessage": "Item 'ga_m_3308421_se_16_060_20211114-delete-test' does not exist in collection 'naip' to delete"
          }
        ],
        "type": "DeleteItem",
        "creationTime": "2026-06-08T22:38:37.726686Z",
        "startTime": "2026-06-08T22:38:37.726686Z",
        "finishTime": "2026-06-08T22:38:38.160931Z",
        "collectionId": "naip",
        "additionalInformation": {
          "TotalFailedItems": "1",
          "TotalItems": "1",
          "TotalPendingItems": "0",
          "TotalSuccessfulItems": "0"
        },
        "error": {
          "error": {
            "code": "NoRecordsToDelete",
            "message": "Item 'ga_m_3308421_se_16_060_20211114-delete-test' does not exist in collection 'naip' to delete"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip/items?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "Feature",
        "stac_version": "1.0.0",
        "links": [
          {
            "rel": "collection",
            "type": "application/json",
            "href": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip"
          }
        ],
        "geometry": {
          "type": "Point",
          "coordinates": [
            -84.39,
            33.67
          ]
        },
        "id": "ga_m_3308421_se_16_060_20211114-delete-test",
        "collection": "naip",
        "bbox": [
          -84.44,
          33.62,
          -84.37,
          33.69
        ],
        "properties": {
          "datetime": "2021-11-14T16:00:00Z"
        },
        "assets": {
          "image": {
            "href": "https://naipeuwest.blob.core.windows.net/naip/v002/ga/2021/ga_060cm_2021/33084/m_3308421_se_16_060_20211114.tif",
            "type": "image/tiff; application=geotiff; profile=cloud-optimized",
            "roles": [
              "data"
            ]
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.geocatalogs.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
        "operation-location": "https://Sanitized.geocatalogs.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-06-08T22:38:44.7291594Z"
          }
        ],
        "type": "AddItem",
        "creationTime": "2026-06-08T22:38:44.7291581Z",
        "collectionId": "naip"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip/items/ga_m_3308421_se_16_060_20211114-delete-test?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ResourceNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "Resource not found at '/stac/collections/naip/items/ga_m_3308421_se_16_060_20211114-delete-test' with parameters {'collection_id': 'naip', 'item_id': 'ga_m_3308421_se_16_060_20211114-delete-test'}. Check the parameters and try again."
        }
      }
    }
  ],
  "Variables": {}
}
