{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/stac/collections?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "collections": [
          {
            "id": "sentinel-2",
            "type": "Collection",
            "links": [
              {
                "rel": "items",
                "type": "application/geo+json",
                "href": "https://Sanitized.geocatalogs.azure.com/stac/collections/sentinel-2/items"
              },
              {
                "rel": "parent",
                "type": "application/json",
                "href": "https://Sanitized.geocatalogs.azure.com/stac/"
              },
              {
                "rel": "root",
                "type": "application/json",
                "href": "https://Sanitized.geocatalogs.azure.com/stac/"
              },
              {
                "rel": "self",
                "type": "application/json",
                "href": "https://Sanitized.geocatalogs.azure.com/stac/collections/sentinel-2"
              },
              {
                "rel": "http://www.opengis.net/def/rel/ogc/1.0/queryables",
                "type": "application/schema+json",
                "title": "Queryables",
                "href": "https://Sanitized.geocatalogs.azure.com/stac/collections/sentinel-2/queryables"
              }
            ],
            "title": "Sentinel-2 Test",
            "extent": {
              "spatial": {
                "bbox": [
                  [
                    -180,
                    -90,
                    180,
                    90
                  ]
                ]
              },
              "temporal": {
                "interval": [
                  [
                    "2020-01-01T00:00:00Z",
                    "2099-12-31T23:59:59Z"
                  ]
                ]
              }
            },
            "license": "proprietary",
            "description": "Sentinel-2 placeholder for testing",
            "stac_version": "1.0.0",
            "msft:_created": "2026-04-16T12:14:50.4667868Z",
            "msft:_updated": "2026-04-16T12:14:50.4667868Z"
          },
          {
            "id": "landsat-8",
            "type": "Collection",
            "links": [
              {
                "rel": "items",
                "type": "application/geo+json",
                "href": "https://Sanitized.geocatalogs.azure.com/stac/collections/landsat-8/items"
              },
              {
                "rel": "pare[...]
