{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client2/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": {
        "definition": {
          "kind": "hosted",
          "cpu": "1",
          "memory": "2Gi",
          "environment_variables": {
            "AZURE_OPENAI_ENDPOINT": "https://sanitized.cognitiveservices.azure.com/",
            "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "gpt-4.1",
            "APPLICATIONINSIGHTS_CONNECTION_STRING": "Sanitized",
            "AGENT_PROJECT_RESOURCE_ID": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
          },
          "container_configuration": {
            "image": "balapvregistry.azurecr.io/balapvregistry/sample-agent:latest"
          },
          "protocol_versions": [
            {
              "protocol": "activity",
              "version": "v1"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "cs-e2e-tests-client2:1",
        "name": "cs-e2e-tests-client2",
        "version": "1",
        "description": "",
        "created_at": 1782262284,
        "definition": {
          "kind": "hosted",
          "container_protocol_versions": [],
          "cpu": "1",
          "memory": "2Gi",
          "environment_variables": {
            "AZURE_OPENAI_ENDPOINT": "https://sanitized.cognitiveservices.azure.com/",
            "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "gpt-4.1",
            "APPLICATIONINSIGHTS_CONNECTION_STRING": "Sanitized",
            "AGENT_PROJECT_RESOURCE_ID": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
          },
          "container_configuration": {
            "image": "balapvregistry.azurecr.io/balapvregistry/sample-agent:latest"
          },
          "protocol_versions": [
            {
              "protocol": "activity",
              "version": "v1"
            }
          ]
        },
        "status": "active",
        "instance_identity": {
          "principal_id": "16390a43-ecd2-4d35-8b34-1c98e17a75e7",
          "client_id": "16390a43-ecd2-4d35-8b34-1c98e17a75e7"
        },
        "blueprint": {
          "principal_id": "41e62ffd-40d8-4fd9-81a2-24d121e08436",
          "client_id": "33f4bd5f-111a-4e8f-aba9-a257f4f9c899"
        },
        "blueprint_reference": {
          "type": "ManagedAgentIdentityBlueprint",
          "blueprint_id": "cs-e2e-tests-client2-69b8c"
        },
        "agent_guid": "69b8c538-63f8-4cf1-9b5f-7c2f0aadbaf9"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client2/versions/1?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent.version.deleted",
        "name": "cs-e2e-tests-client2",
        "version": "1",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client2/versions/1?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "error": {
          "code": "not_found",
          "message": "Agent cs-e2e-tests-client2 with version 1 not found [Request ID: 2c7ff14ee53206c1e347376d99f24644]",
          "type": "error",
          "details": [],
          "additionalInfo": {
            "request_id": "2c7ff14ee53206c1e347376d99f24644"
          }
        }
      }
    }
  ],
  "Variables": {
    "AGENT_DOCKER_IMAGE": "balapvregistry.azurecr.io/balapvregistry/sample-agent:latest",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": "Sanitized",
    "FOUNDRY_MODEL_NAME": "gpt-4.1",
    "FOUNDRY_PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
