{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/v1/conversations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_09d07bb43e4f0ae4002s0jSdoMK4nyaZ5dtxPd8cx2aCrPQzCY",
        "object": "conversation",
        "metadata": {},
        "created_at": 1776134447
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/v1/conversations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview"
      },
      "RequestBody": {
        "metadata": {
          "test_metadata": "yes"
        },
        "items": [
          {
            "type": "message",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "Hello, world!"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_95f4fc98052fe7c000ksQsSLGrZ6AFC5z1PwTspg4WqptMkVCt",
        "object": "conversation",
        "metadata": {
          "test_metadata": "yes"
        },
        "created_at": 1776134451
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/v1/conversations/conv_09d07bb43e4f0ae4002s0jSdoMK4nyaZ5dtxPd8cx2aCrPQzCY/items?order=desc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [],
        "has_more": false,
        "object": "list"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/v1/conversations/conv_95f4fc98052fe7c000ksQsSLGrZ6AFC5z1PwTspg4WqptMkVCt/items?order=desc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "type": "message",
            "id": "msg_95f4fc98052fe7c000TAXvezKQ2ERmbes0yKYp6xMt5ZmDzVw0",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "Hello, world!"
              }
            ],
            "status": "completed"
          }
        ],
        "first_id": "msg_95f4fc98052fe7c000TAXvezKQ2ERmbes0yKYp6xMt5ZmDzVw0",
        "last_id": "msg_95f4fc98052fe7c000TAXvezKQ2ERmbes0yKYp6xMt5ZmDzVw0",
        "has_more": false,
        "object": "list"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/v1/conversations/conv_09d07bb43e4f0ae4002s0jSdoMK4nyaZ5dtxPd8cx2aCrPQzCY/items",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,Re[...]
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/v1/conversations/conv_09d07bb43e4f0ae4002s0jSdoMK4nyaZ5dtxPd8cx2aCrPQzCY",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview"
      },
      "RequestBody": {
        "metadata": {
          "new_test_value": "yes"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_09d07bb43e4f0ae4002s0jSdoMK4nyaZ5dtxPd8cx2aCrPQzCY",
        "object": "conversation",
        "metadata": {
          "new_test_value": "yes"
        },
        "created_at": 1776134447
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/v1/conversations/conv_09d07bb43e4f0ae4002s0jSdoMK4nyaZ5dtxPd8cx2aCrPQzCY",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_09d07bb43e4f0ae4002s0jSdoMK4nyaZ5dtxPd8cx2aCrPQzCY",
        "object": "conversation",
        "metadata": {
          "new_test_value": "yes"
        },
        "created_at": 1776134447
      }
    }
  ],
  "Variables": {
    "FOUNDRY_PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
