{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_50fcec5ad4b6f43400wYIfSLm6nkFt51GoWYQyHrYce7QQFeXX",
        "object": "conversation",
        "created_at": 1764195937,
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "test_metadata": "yes"
        },
        "items": [
          {
            "type": "message",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "Hello, world!"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_c7c9e5a5bc8df8eb00ngjHisvze836BMEmlmjBqS9XJJbBZOcw",
        "object": "conversation",
        "created_at": 1764195940,
        "metadata": {
          "test_metadata": "yes"
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_50fcec5ad4b6f43400wYIfSLm6nkFt51GoWYQyHrYce7QQFeXX/items?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [],
        "has_more": false,
        "object": "list"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_c7c9e5a5bc8df8eb00ngjHisvze836BMEmlmjBqS9XJJbBZOcw/items?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "type": "message",
            "id": "msg_c7c9e5a5bc8df8eb00biWu0HUVTtw5skaRvKYsnto4SUoCmDjJ",
            "status": "completed",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "Hello, world!"
              }
            ]
          }
        ],
        "first_id": "msg_c7c9e5a5bc8df8eb00biWu0HUVTtw5skaRvKYsnto4SUoCmDjJ",
        "last_id": "msg_c7c9e5a5bc8df8eb00biWu0HUVTtw5skaRvKYsnto4SUoCmDjJ",
        "has_more": false,
        "object": "list"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_50fcec5ad4b6f43400wYIfSLm6nkFt51GoWYQyHrYce7QQFeXX?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "new_test_value": "yes"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_50fcec5ad4b6f43400wYIfSLm6nkFt51GoWYQyHrYce7QQFeXX",
        "object": "conversation",
        "created_at": 1764195937,
        "metadata": {
          "new_test_value": "yes"
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_50fcec5ad4b6f43400wYIfSLm6nkFt51GoWYQyHrYce7QQFeXX?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_50fcec5ad4b6f43400wYIfSLm6nkFt51GoWYQyHrYce7QQFeXX",
        "object": "conversation",
        "created_at": 1764195937,
        "metadata": {
          "new_test_value": "yes"
        }
      }
    }
  ],
  "Variables": {
    "PROJECT_ENDPOINT": "https://rovins-sweden.services.ai.azure.com/api/projects/swedenProject"
  }
}
