{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client2/versions?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "definition": {
          "kind": "hosted",
          "container_protocol_versions": [
            {
              "protocol": "activity_protocol",
              "version": "v1"
            }
          ],
          "cpu": "1",
          "memory": "2Gi",
          "environment_variables": {
            "AZURE_OPENAI_ENDPOINT": "https://sanitized.cognitiveservices.azure.com/",
            "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "gpt-4o",
            "APPLICATIONINSIGHTS_CONNECTION_STRING": "Sanitized",
            "AGENT_PROJECT_RESOURCE_ID": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
          },
          "image": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "cs-e2e-tests-client2:1",
        "name": "cs-e2e-tests-client2",
        "version": "1",
        "description": "",
        "created_at": 1768243657,
        "definition": {
          "kind": "hosted",
          "container_protocol_versions": [
            {
              "protocol": "activity_protocol",
              "version": "v1"
            }
          ],
          "cpu": "1",
          "memory": "2Gi",
          "environment_variables": {
            "AZURE_OPENAI_ENDPOINT": "https://sanitized.cognitiveservices.azure.com/",
            "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "gpt-4o",
            "APPLICATIONINSIGHTS_CONNECTION_STRING": "Sanitized",
            "AGENT_PROJECT_RESOURCE_ID": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
          },
          "image": "Sanitized"
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client2/versions/1?api-version=2025-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent.version.deleted",
        "name": "cs-e2e-tests-client2",
        "version": "1",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client2/versions/1?api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "error": {
          "code": "not_found",
          "message": "Agent cs-e2e-tests-client2 with version 1 not found",
          "param": null,
          "type": "error",
          "details": [],
          "additionalInfo": {
            "request_id": "148a47668c02c2c5f4fd734c72e20a00"
          }
        }
      }
    }
  ],
  "Variables": {
    "AGENT_DOCKER_IMAGE": "nirvinsregistry.azurecr.io/nirvinsregistry/workflow-agent:latest",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": "Sanitized",
    "MODEL_DEPLOYMENT_NAME": "gpt-4o",
    "PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
