{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE",
        "object": "conversation",
        "created_at": 1764195969,
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE/items?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "items": [
          {
            "type": "message",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "Message 1"
              }
            ]
          },
          {
            "type": "message",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "Message 2"
              }
            ]
          },
          {
            "type": "message",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "Message 3"
              }
            ][...]
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE/items?limit=5&order=asc&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "type": "message",
            "id": "msg_348760a7f7f249b400LbkseJpgLSyumi5641zoFjD0edA6gyik",
            "status": "completed",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "Message 1"
              }
            ]
          },
          {
            "type": "message",
            "id": "msg_348760a7f7f249b400IcEFioySkfufreP9q5tbZQzCgxJ3uWEu",
            "status": "completed",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "Message 2"
   [...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE/items?limit=5&order=asc&after=msg_348760a7f7f249b400QW9oJpRwhYLMkEji2CHKu51QRJCnQl2I&before=msg_348760a7f7f249b400LbkseJpgLSyumi5641zoFjD0edA6gyik&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Stat[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE/items?limit=5&order=asc&after=msg_348760a7f7f249b400KsvdCwyoUrV2jBN3YpIxWjl6kdwPBw8C&before=msg_348760a7f7f249b400fLK5ykedyaKnw8T4oajC04pL9iMY8D3F&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Stat[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE/items?limit=5&order=asc&after=msg_348760a7f7f249b400o9TLTPn0LJuKGZ0TWLdNEU2j0YwQYntw&before=msg_348760a7f7f249b400ZE2KpApLuF0gUxAs5u8wBZqjefO5MNIV&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Stat[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE/items?limit=5&order=asc&after=msg_348760a7f7f249b400B2rn6833xqunHMEnAlPMLeEvgjf6l9Ge&before=msg_348760a7f7f249b400eDxwgNaTdc64lH1g2u4p5Vzei9NjbcWA&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Stat[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE/items?limit=5&order=asc&after=msg_348760a7f7f249b400OApqr9eFtpfCplB39T73jZwjXDGQq6PG&before=msg_348760a7f7f249b400kK5B2KmSfqtdtmc7wCAb8utcPrLL94WA&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Stat[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE/items?limit=5&order=asc&after=msg_348760a7f7f249b400r0DtraWELulEs9HNrUQEqGKXrt7k8Oad&before=msg_348760a7f7f249b400crKuT1JiJSY12GM1xYgFFnbmYF9lZDHU&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Stat[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE/items?limit=5&order=asc&after=msg_348760a7f7f249b400VNSosuEhvV86kUroCg4qEEvMqjPCwvg7&before=msg_348760a7f7f249b400nOSXOJrJqaQFgPux8T4Z2FGkzOkbkB46&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Stat[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE/items?limit=5&order=desc&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
      [...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE/items?limit=5&order=desc&after=msg_348760a7f7f249b40041H9FBRnvByPV1ZMZe0fuAcq4FiSDA3T&before=msg_348760a7f7f249b400wQWAWq9gvxsMJmEWroZUEHtIc3yR7wom&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE/items?limit=5&order=desc&after=msg_348760a7f7f249b400nOSXOJrJqaQFgPux8T4Z2FGkzOkbkB46&before=msg_348760a7f7f249b400VNSosuEhvV86kUroCg4qEEvMqjPCwvg7&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE/items?limit=5&order=desc&after=msg_348760a7f7f249b400crKuT1JiJSY12GM1xYgFFnbmYF9lZDHU&before=msg_348760a7f7f249b400r0DtraWELulEs9HNrUQEqGKXrt7k8Oad&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE/items?limit=5&order=desc&after=msg_348760a7f7f249b400kK5B2KmSfqtdtmc7wCAb8utcPrLL94WA&before=msg_348760a7f7f249b400OApqr9eFtpfCplB39T73jZwjXDGQq6PG&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE/items?limit=5&order=desc&after=msg_348760a7f7f249b400eDxwgNaTdc64lH1g2u4p5Vzei9NjbcWA&before=msg_348760a7f7f249b400B2rn6833xqunHMEnAlPMLeEvgjf6l9Ge&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE/items?limit=5&order=desc&after=msg_348760a7f7f249b400ZE2KpApLuF0gUxAs5u8wBZqjefO5MNIV&before=msg_348760a7f7f249b400o9TLTPn0LJuKGZ0TWLdNEU2j0YwQYntw&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE/items?limit=5&order=desc&after=msg_348760a7f7f249b400fLK5ykedyaKnw8T4oajC04pL9iMY8D3F&before=msg_348760a7f7f249b400KsvdCwyoUrV2jBN3YpIxWjl6kdwPBw8C&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "Sta[...]
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/openai/conversations/conv_348760a7f7f249b400oEa6v6N75bJBxe8qT3wGH4M9q9akbVVE/items?after=msg_348760a7f7f249b400kK5B2KmSfqtdtmc7wCAb8utcPrLL94WA&before=msg_348760a7f7f249b400wQWAWq9gvxsMJmEWroZUEHtIc3yR7wom&api-version=2025-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
    [...]
