{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS9790559": "20220406",
          "NRMSBreakGlass443AzureOnly ": "293826150",
          "NRMSBreakGlassSFAzureOnly ": "293826150",
          "NRMSBreakGlassNonHighRisk ": "293826150",
          "NRMSBreakGlassAzureOnly ": "293826150",
          "NRMS17614506": "20230930",
          "NRMS17508663": "20230915",
          "SLNMBreakGlassSFAzureOnly": "293826150"
        },
        "subscriptionId": "a984ce58-225e-44d2-bc79-20a834ce85ae",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CloudDNS - Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourcegroups/DnsRG7071?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/DnsRG7071",
        "name": "DnsRG7071",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/DnsRG7071/providers/Microsoft.Network/dnsZones/2022dnszone1616.com?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Global",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "6f41f27c-78d4-4851-9d79-44a2b69f246e",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg7071/providers/Microsoft.Network/dnszones/2022dnszone1616.com",
        "name": "2022dnszone1616.com",
        "type": "Microsoft.Network/dnszones",
        "etag": "6f41f27c-78d4-4851-9d79-44a2b69f246e",
        "location": "global",
        "tags": {},
        "properties": {
          "maxNumberOfRecordSets": 10000,
          "maxNumberOfRecordsPerRecordSet": null,
          "nameServers": [
            "ns1-37.ppe.azure-dns.com.",
            "ns2-37.ppe.azure-dns.net.",
            "ns3-37.ppe.azure-dns.org.",
            "ns4-37.ppe.azure-dns.info."
          ],
          "numberOfRecordSets": 2,
          "zoneType": "Public"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg7071/providers/Microsoft.Network/dnsZones/2022dnszone1616.com/AAAA/aaaa6630?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "TTL": 3600,
          "AAAARecords": [
            {
              "ipv6Address": "3f0d:8079:32a1:9c1d:dd7c:afc6:fc15:d55"
            },
            {
              "ipv6Address": "3f0d:8079:32a1:9c1d:dd7c:afc6:fc15:d66"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "b0849c6b-0e3b-4e59-b315-74378fd731af",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg7071/providers/Microsoft.Network/dnszones/2022dnszone1616.com/AAAA/aaaa6630",
        "name": "aaaa6630",
        "type": "Microsoft.Network/dnszones/AAAA",
        "etag": "b0849c6b-0e3b-4e59-b315-74378fd731af",
        "properties": {
          "fqdn": "aaaa6630.2022dnszone1616.com.",
          "TTL": 3600,
          "AAAARecords": [
            {
              "ipv6Address": "3f0d:8079:32a1:9c1d:dd7c:afc6:fc15:d55"
            },
            {
              "ipv6Address": "3f0d:8079:32a1:9c1d:dd7c:afc6:fc15:d66"
            }
          ],
          "targetResource": {},
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg7071/providers/Microsoft.Network/dnsZones/2022dnszone1616.com/AAAA?api-version=2023-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": "59999",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "497"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg7071/providers/Microsoft.Network/dnszones/2022dnszone1616.com/AAAA/aaaa6630",
            "name": "aaaa6630",
            "type": "Microsoft.Network/dnszones/AAAA",
            "etag": "5ab0e2c6-9bf5-430b-a8f7-aa9494710efd",
            "properties": {
              "fqdn": "aaaa6630.2022dnszone1616.com.",
              "TTL": 7200,
              "AAAARecords": [
                {
                  "ipv6Address": "3f0d:8079:32a1:9c1d:dd7c:afc6:fc15:d55"
                },
                {
                  "ipv6Address": "3f0d:8079:32a1:9c1d:dd7c:afc6:fc15:d66"
                }
              ],
              "targetResource": {},
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg7071/providers/Microsoft.Network/dnsZones/2022dnszone1616.com/AAAA/aaaa6630?api-version=2023-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "496"
      },
      "ResponseBody": {
        "code": "NotFound",
        "message": "The resource record 'aaaa6630' does not exist in resource group 'dnsrg7071' of subscription 'a984ce58-225e-44d2-bc79-20a834ce85ae'."
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg7071/providers/Microsoft.Network/dnsZones/2022dnszone1616.com?api-version=2023-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg7071/providers/Microsoft.Network/dnsOperationStatuses/00000000-0000-0000-0000-000000000025;2717990;2022dnszone1616.com;Regular?api-version=2023-07-01-preview&t=638328432734192497&c=MIIHHjCCBgagAwIBAgITfwHPHxKTmgA4c2tO5AAEAc8fEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMDY0ODMxWhcNMjQwNzI3MDY0ODMxWjBAMT4wPAYDVQQDE[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg7071/providers/Microsoft.Network/dnsOperationStatuses/00000000-0000-0000-0000-000000000025;2717990;2022dnszone1616.com;Regular?api-version=2023-07-01-preview&t=638328432734192497&c=MIIHHjCCBgagAwIBAgITfwHPHxKTmgA4c2tO5AAEAc8fEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMDY0ODMxWhcNMjQwNzI3[...]
