{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS9790559": "20220406",
          "NRMSBreakGlass443AzureOnly ": "293826150",
          "NRMSBreakGlassSFAzureOnly ": "293826150",
          "NRMSBreakGlassNonHighRisk ": "293826150",
          "NRMSBreakGlassAzureOnly ": "293826150",
          "NRMS17614506": "20230930",
          "NRMS17508663": "20230915",
          "SLNMBreakGlassSFAzureOnly": "293826150"
        },
        "subscriptionId": "a984ce58-225e-44d2-bc79-20a834ce85ae",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CloudDNS - Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourcegroups/DnsRG2817?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1179"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/DnsRG2817",
        "name": "DnsRG2817",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/DnsRG2817/providers/Microsoft.Network/dnsZones/2022dnszone8082.com?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Global",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "54899734-e4ab-4a7b-8c30-ee249661ab94",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11979"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg2817/providers/Microsoft.Network/dnszones/2022dnszone8082.com",
        "name": "2022dnszone8082.com",
        "type": "Microsoft.Network/dnszones",
        "etag": "54899734-e4ab-4a7b-8c30-ee249661ab94",
        "location": "global",
        "properties": {
          "maxNumberOfRecordSets": 10000,
          "maxNumberOfRecordsPerRecordSet": null,
          "nameServers": [
            "ns1-36.ppe.azure-dns.com.",
            "ns2-36.ppe.azure-dns.net.",
            "ns3-36.ppe.azure-dns.org.",
            "ns4-36.ppe.azure-dns.info."
          ],
          "numberOfRecordSets": 2,
          "zoneType": "Public"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg2817/providers/Microsoft.Network/dnsZones/2022dnszone8082.com/CAA/caa?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "TTL": 3600,
          "caaRecords": [
            {
              "flags": 1,
              "tag": "test1",
              "value": "caa1.contoso.com"
            },
            {
              "flags": 2,
              "tag": "test2",
              "value": "caa2.contoso.com"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "ffa785df-5009-44bd-9448-06c17ad22b2f",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg2817/providers/Microsoft.Network/dnszones/2022dnszone8082.com/CAA/caa",
        "name": "caa",
        "type": "Microsoft.Network/dnszones/CAA",
        "etag": "ffa785df-5009-44bd-9448-06c17ad22b2f",
        "properties": {
          "fqdn": "caa.2022dnszone8082.com.",
          "TTL": 3600,
          "caaRecords": [
            {
              "flags": 1,
              "tag": "test1",
              "value": "caa1.contoso.com"
            },
            {
              "flags": 2,
              "tag": "test2",
              "value": "caa2.contoso.com"
            }
          ],
          "targetResource": {},
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg2817/providers/Microsoft.Network/dnsZones/2022dnszone8082.com/CAA?api-version=2023-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg2817/providers/Microsoft.Network/dnsZones/2022dnszone8082.com/CAA/caa?api-version=2023-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "492"
      },
      "ResponseBody": {
        "code": "NotFound",
        "message": "The resource record \u0027caa\u0027 does not exist in resource group \u0027dnsrg2817\u0027 of subscription \u0027a984ce58-225e-44d2-bc79-20a834ce85ae\u0027."
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg2817/providers/Microsoft.Network/dnsZones/2022dnszone8082.com?api-version=2023-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg2817/providers/Microsoft.Network/dnsOperationStatuses/00000000-0000-0000-0000-000000000024;2630184;2022dnszone8082.com;Regular?api-version=2023-07-01-preview\u0026t=638328434535142028\u0026c=MIIHHjCCBgagAwIBAgITfwHPHxKTmgA4c2tO5AAEAc8fEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMDY0ODMxWhcNMjQwNzI3MDY0ODMxWjBAMT4[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg2817/providers/Microsoft.Network/dnsOperationStatuses/00000000-0000-0000-0000-000000000024;2630184;2022dnszone8082.com;Regular?api-version=2023-07-01-preview\u0026t=638328434535142028\u0026c=MIIHHjCCBgagAwIBAgITfwHPHxKTmgA4c2tO5AAEAc8fEjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAyMDY0ODMxWh[...]
