{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS9790559": "20220406",
          "NRMSBreakGlass443AzureOnly ": "293826150",
          "NRMSBreakGlassSFAzureOnly ": "293826150",
          "NRMSBreakGlassNonHighRisk ": "293826150",
          "NRMSBreakGlassAzureOnly ": "293826150",
          "NRMS17614506": "20230930",
          "NRMS17508663": "20230915",
          "SLNMBreakGlassSFAzureOnly": "293826150"
        },
        "subscriptionId": "a984ce58-225e-44d2-bc79-20a834ce85ae",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CloudDNS - Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourcegroups/DnsRG3081?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/DnsRG3081",
        "name": "DnsRG3081",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/DnsRG3081/providers/Microsoft.Network/dnsZones/2022dnszone6575.com?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Global",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "1557864a-59b6-4337-b484-10e32f6abd07",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg3081/providers/Microsoft.Network/dnszones/2022dnszone6575.com",
        "name": "2022dnszone6575.com",
        "type": "Microsoft.Network/dnszones",
        "etag": "1557864a-59b6-4337-b484-10e32f6abd07",
        "location": "global",
        "properties": {
          "maxNumberOfRecordSets": 10000,
          "maxNumberOfRecordsPerRecordSet": null,
          "nameServers": [
            "ns1-34.ppe.azure-dns.com.",
            "ns2-34.ppe.azure-dns.net.",
            "ns3-34.ppe.azure-dns.org.",
            "ns4-34.ppe.azure-dns.info."
          ],
          "numberOfRecordSets": 2,
          "zoneType": "Public"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg3081/providers/Microsoft.Network/dnsZones/2022dnszone6575.com/PTR/ptr7997?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "TTL": 3600,
          "PTRRecords": [
            {
              "ptrdname": "contoso1.com"
            },
            {
              "ptrdname": "contoso2.com"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "640fc207-2c07-4b78-b95f-9c1f1b339d10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg3081/providers/Microsoft.Network/dnszones/2022dnszone6575.com/PTR/ptr7997",
        "name": "ptr7997",
        "type": "Microsoft.Network/dnszones/PTR",
        "etag": "640fc207-2c07-4b78-b95f-9c1f1b339d10",
        "properties": {
          "fqdn": "ptr7997.2022dnszone6575.com.",
          "TTL": 3600,
          "PTRRecords": [
            {
              "ptrdname": "contoso1.com"
            },
            {
              "ptrdname": "contoso2.com"
            }
          ],
          "targetResource": {},
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg3081/providers/Microsoft.Network/dnsZones/2022dnszone6575.com/PTR?api-version=2023-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-entities-read": "59999",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "497"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg3081/providers/Microsoft.Network/dnszones/2022dnszone6575.com/PTR/ptr7997",
            "name": "ptr7997",
            "type": "Microsoft.Network/dnszones/PTR",
            "etag": "67e23425-a954-4dc8-b550-4bf2f04f9db1",
            "properties": {
              "fqdn": "ptr7997.2022dnszone6575.com.",
              "TTL": 7200,
              "PTRRecords": [
                {
                  "ptrdname": "contoso1.com"
                },
                {
                  "ptrdname": "contoso2.com"
                }
              ],
              "targetResource": {},
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg3081/providers/Microsoft.Network/dnsZones/2022dnszone6575.com/PTR/ptr7997?api-version=2023-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "496"
      },
      "ResponseBody": {
        "code": "NotFound",
        "message": "The resource record \u0027ptr7997\u0027 does not exist in resource group \u0027dnsrg3081\u0027 of subscription \u0027a984ce58-225e-44d2-bc79-20a834ce85ae\u0027."
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg3081/providers/Microsoft.Network/dnsZones/2022dnszone6575.com?api-version=2023-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg3081/providers/Microsoft.Network/dnsOperationStatuses/00000000-0000-0000-0000-000000000022;3114838;2022dnszone6575.com;Regular?api-version=2023-07-01-preview\u0026t=638328435237971065\u0026c=MIIHHjCCBgagAwIBAgITfwHQwFKsM_SaZ3oYQwAEAdDAUjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAzMDkwMzExWhcNMjQwNzI4MDkwMzExWjBAMT4[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg3081/providers/Microsoft.Network/dnsOperationStatuses/00000000-0000-0000-0000-000000000022;3114838;2022dnszone6575.com;Regular?api-version=2023-07-01-preview\u0026t=638328435237971065\u0026c=MIIHHjCCBgagAwIBAgITfwHQwFKsM_SaZ3oYQwAEAdDAUjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMwODAzMDkwMzExWh[...]
