{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS9790559": "20220406",
          "NRMSBreakGlass443AzureOnly ": "293826150",
          "NRMSBreakGlassSFAzureOnly ": "293826150",
          "NRMSBreakGlassNonHighRisk ": "293826150",
          "NRMSBreakGlassAzureOnly ": "293826150",
          "NRMS17614506": "20230930",
          "NRMS17508663": "20230915",
          "SLNMBreakGlassSFAzureOnly": "293826150",
          "user": "abc"
        },
        "subscriptionId": "a984ce58-225e-44d2-bc79-20a834ce85ae",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "CloudDNS - Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourcegroups/DnsRG5428?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/DnsRG5428",
        "name": "DnsRG5428",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/DnsRG5428/providers/Microsoft.Network/dnsZones/2022dnszone2490.com?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Global",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "c01534cd-92ff-41da-80e3-05eacdc0f3db",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg5428/providers/Microsoft.Network/dnszones/2022dnszone2490.com",
        "name": "2022dnszone2490.com",
        "type": "Microsoft.Network/dnszones",
        "etag": "c01534cd-92ff-41da-80e3-05eacdc0f3db",
        "location": "global",
        "tags": {},
        "properties": {
          "maxNumberOfRecordSets": 10000,
          "maxNumberOfRecordsPerRecordSet": null,
          "nameServers": [
            "ns1-36.ppe.azure-dns.com.",
            "ns2-36.ppe.azure-dns.net.",
            "ns3-36.ppe.azure-dns.org.",
            "ns4-36.ppe.azure-dns.info."
          ],
          "numberOfRecordSets": 2,
          "zoneType": "Public"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg5428/providers/Microsoft.Network/dnsZones/2022dnszone2490.com/TXT/txt6956?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "TTL": 3600,
          "TXTRecords": [
            {
              "value": [
                "value1",
                "value2"
              ]
            },
            {
              "value": [
                "value3",
                "value4",
                "value5"
              ]
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "b126d249-c5ab-47c5-b104-038272fb847a",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg5428/providers/Microsoft.Network/dnszones/2022dnszone2490.com/TXT/txt6956",
        "name": "txt6956",
        "type": "Microsoft.Network/dnszones/TXT",
        "etag": "b126d249-c5ab-47c5-b104-038272fb847a",
        "properties": {
          "fqdn": "txt6956.2022dnszone2490.com.",
          "TTL": 3600,
          "TXTRecords": [
            {
              "value": [
                "value1",
                "value2"
              ]
            },
            {
              "value": [
                "value3",
                "value4",
                "value5"
              ]
            }
          ],
          "targetResource": {},
          "trafficManagementProfile": {},
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg5428/providers/Microsoft.Network/dnsZones/2022dnszone2490.com/TXT?api-version=2023-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg5428/providers/Microsoft.Network/dnsZones/2022dnszone2490.com/TXT/txt6956?api-version=2023-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "498"
      },
      "ResponseBody": {
        "code": "NotFound",
        "message": "The resource record 'txt6956' does not exist in resource group 'dnsrg5428' of subscription 'a984ce58-225e-44d2-bc79-20a834ce85ae'."
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg5428/providers/Microsoft.Network/dnsZones/2022dnszone2490.com?api-version=2023-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg5428/providers/Microsoft.Network/dnsOperationStatuses/00000000-0000-0000-0000-000000000024;3577972;2022dnszone2490.com;Regular?api-version=2023-07-01-preview&t=638654864897735990&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDE[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnsrg5428/providers/Microsoft.Network/dnsOperationStatuses/00000000-0000-0000-0000-000000000024;3577972;2022dnszone2490.com;Regular?api-version=2023-07-01-preview&t=638654864897735990&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIx[...]
