{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#pools",
        "value": []
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "DeleteJob",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/DeleteJob",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEB390CC9376B",
        "Last-Modified": "Wed, 03 Sep 2025 22:27:21 GMT",
        "Location": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/DeleteJob"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/DeleteJob?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEB390CC9376B",
        "Last-Modified": "Wed, 03 Sep 2025 22:27:21 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "DeleteJob",
        "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/DeleteJob",
        "eTag": "0x8DDEB390CC9376B",
        "lastModified": "2025-09-03T22:27:21.6655211Z",
        "creationTime": "2025-09-03T22:27:21.6655202Z",
        "state": "active",
        "stateTransitionTime": "2025-09-03T22:27:21.6655202Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-09-03T22:27:21.6655211Z",
        "vmSize": "standard_d1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 1,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        }
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/DeleteJob/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_3213d70837a84319ee89caccbec9148bacaba3d1703154fce52097ec7c38a00e_d",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/DeleteJob/nodes/tvmps_3213d70837a84319ee89caccbec9148bacaba3d1703154fce52097ec7c38a00e_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-09-03T22:27:53.209897Z",
            "allocationTime": "2025-09-03T22:27:53.2099009Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_3213d70837a84319ee89caccbec9148bacaba3d1703154fce52097ec7c38a00e_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/DeleteJob/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_3213d70837a84319ee89caccbec9148bacaba3d1703154fce52097ec7c38a00e_d",
            "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/DeleteJob/nodes/tvmps_3213d70837a84319ee89caccbec9148bacaba3d1703154fce52097ec7c38a00e_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-09-03T22:34:31.643759Z",
            "lastBootTime": "2025-09-03T22:34:24.525929Z",
            "allocationTime": "2025-09-03T22:27:53.2099009Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_3213d70837a84319ee89caccbec9148bacaba3d1703154fce52097ec7c38a00e_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-09-03T22:34:24.525929Z",
              "version": "1.12.24"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "deleteJob",
        "jobPreparationTask": {
          "commandLine": "cmd /c echo Hello World"
        },
        "jobReleaseTask": {
          "commandLine": "cmd /c echo Hello World"
        },
        "poolInfo": {
          "poolId": "DeleteJob"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEB3A110D698C",
        "Last-Modified": "Wed, 03 Sep 2025 22:34:38 GMT",
        "Location": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/deleteJob/addtaskcollection?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "value": [
          {
            "id": "Task1_0",
            "commandLine": "cmd /c echo Hello World"
          }[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/deleteJob?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEB3A110D698C",
        "Last-Modified": "Wed, 03 Sep 2025 22:34:38 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#jobs/@Element",
        "id": "deleteJob",
        "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/deleteJob",
        "eTag": "0x8DDEB3A110D698C",
        "lastModified": "2025-09-03T22:34:38.3200652Z",
        "creationTime": "2025-09-03T22:34:38.2993401Z",
        "state": "active",
        "stateTransitionTime": "2025-09-03T22:34:38.3200652Z",
        "priority": 0,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 0
        },
        "jobPreparationTask": {
          "id": "jobpreparation",
          "commandLine": "cmd /c echo Hello World",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "retentionTime": "P7D",
            "maxTaskRetryCount": 0
          },
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          },
          "waitForSuccess": true,
          "rerunOnNodeRebootAfterSuccess": true
        },
        "jobReleaseTask": {
          "id": "jobrelease",
          "commandLine": "cmd /c echo Hello World",
          "maxWallClockTime": "PT15M",
          "retentionTime": "P7D",
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          }
        },
        "poolInfo": {
          "poolId": "DeleteJob"
        },
        "executionInfo": {
          "startTime": "2025-09-03T22:34:38.3200652Z",
          "poolId": "DeleteJob"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/deleteJob?api-version=2025-06-01&force=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/deleteJob?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DDEB3A110D698C",
        "Last-Modified": "Wed, 03 Sep 2025 22:34:38 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#jobs/@Element",
        "id": "deleteJob",
        "url": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/deleteJob",
        "eTag": "0x8DDEB3A110D698C",
        "lastModified": "2025-09-03T22:34:38.3200652Z",
        "creationTime": "2025-09-03T22:34:38.2993401Z",
        "state": "deleting",
        "stateTransitionTime": "2025-09-03T22:34:38.9279549Z",
        "previousState": "active",
        "previousStateTransitionTime": "2025-09-03T22:34:38.3200652Z",
        "priority": 0,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 0
        },
        "jobPreparationTask": {
          "id": "jobpreparation",
          "commandLine": "cmd /c echo Hello World",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "retentionTime": "P7D",
            "maxTaskRetryCount": 0
          },
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          },
          "waitForSuccess": true,
          "rerunOnNodeRebootAfterSuccess": true
        },
        "jobReleaseTask": {
          "id": "jobrelease",
          "commandLine": "cmd /c echo Hello World",
          "maxWallClockTime": "PT15M",
          "retentionTime": "P7D",
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          }
        },
        "poolInfo": {
          "poolId": "DeleteJob"
        },
        "executionInfo": {
          "startTime": "2025-09-03T22:34:38.3200652Z",
          "poolId": "DeleteJob"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/jobs/deleteJob?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "JobNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified job does not exist.\nRequestId:8a295841-7421-4743-becb-14767773cd31\nTime:2025-09-03T22:34:40.2053904Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount1.eastus.batch.azure.com/pools/DeleteJob?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount1.eastus.batch.azure.com",
    "RandomSeed": "966581197"
  }
}
