{
  "Entries": [
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#pools",
        "value": []
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "JobOperations",
        "vmSize": "STANDARD_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/JobOperations",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD4628A533509B",
        "Last-Modified": "Wed, 05 Feb 2025 21:04:14 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/JobOperations"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/JobOperations?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD4628A533509B",
        "Last-Modified": "Wed, 05 Feb 2025 21:04:14 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#pools/@Element",
        "id": "JobOperations",
        "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/JobOperations",
        "eTag": "0x8DD4628A533509B",
        "lastModified": "2025-02-05T21:04:14.0718235Z",
        "creationTime": "2025-02-05T21:04:14.0718226Z",
        "state": "active",
        "stateTransitionTime": "2025-02-05T21:04:14.0718226Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2025-02-05T21:04:14.0718235Z",
        "vmSize": "standard_d1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 1,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "certificateReferences": [],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2019-datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        }
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/JobOperations/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_ab88191b1a994464b51075974c04c512b107a57e0ec11f777666a33ae30b042f_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/JobOperations/nodes/tvmps_ab88191b1a994464b51075974c04c512b107a57e0ec11f777666a33ae30b042f_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-02-05T21:04:50.9660703Z",
            "allocationTime": "2025-02-05T21:04:50.9660755Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_ab88191b1a994464b51075974c04c512b107a57e0ec11f777666a33ae30b042f_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/JobOperations/nodes?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_ab88191b1a994464b51075974c04c512b107a57e0ec11f777666a33ae30b042f_d",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/JobOperations/nodes/tvmps_ab88191b1a994464b51075974c04c512b107a57e0ec11f777666a33ae30b042f_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2025-02-05T21:08:38.33259Z",
            "lastBootTime": "2025-02-05T21:08:30.786017Z",
            "allocationTime": "2025-02-05T21:04:50.9660755Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_ab88191b1a994464b51075974c04c512b107a57e0ec11f777666a33ae30b042f_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "nodeAgentInfo": {
              "lastUpdateTime": "2025-02-05T21:08:30.786017Z",
              "version": "1.12.7"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2019-datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "batchJob1",
        "jobPreparationTask": {
          "commandLine": "cmd /c echo Hello World"
        },
        "jobReleaseTask": {
          "commandLine": "cmd /c echo Hello World"
        },
        "poolInfo": {
          "poolId": "JobOperations"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD462948211921",
        "Last-Modified": "Wed, 05 Feb 2025 21:08:47 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#jobs",
        "value": [
          {
            "id": "batchJob1",
            "url": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1",
            "eTag": "0x8DD462948211921",
            "lastModified": "2025-02-05T21:08:47.4210593Z",
            "creationTime": "2025-02-05T21:08:47.4060591Z",
            "state": "active",
            "stateTransitionTime": "2025-02-05T21:08:47.4210593Z",
            "priority": 0,
            "maxParallelTasks": -1,
            "usesTaskDependencies": false,
            "allowTaskPreemption": false,
            "constraints": {
              "maxWallClockTime": "P10675199DT2H48M5.4775807S",
              "maxTaskRetryCount": 0
            },
            "jobPreparationTask": {
              "id": "jobpreparation",
              "commandLine": "cmd /c echo Hello World",
              "constraints": {
                "maxWallClockTime": "P10675199DT2H48M5.4775807S",
                "retentionTime": "P7D",
                "maxTaskRetryCount": 0
              },
              "userIdentity": {
                "autoUser": {
                  "scope": "pool",
                  "elevationLevel": "nonadmin"
                }
              },
              "waitForSuccess": true,
              "rerunOnNodeRebootAfterSuccess": true
            },
            "jobReleaseTask": {
              "id": "jobrelease",
              "commandLine": "cmd /c echo Hello World",
              "maxWallClockTime": "PT15M",
              "retentionTime": "P7D",
              "userIdentity": {
                "autoUser": {
                  "scope": "pool",
                  "elevationLevel": "nonadmin"
                }
              }
            },
            "poolInfo": {
              "poolId": "JobOperations"
            },
            "executionInfo": {
              "startTime": "2025-02-05T21:08:47.4210593Z",
              "poolId": "JobOperations"
            },
            "onAllTasksComplete": "noaction",
            "onTaskFailure": "noaction"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1?api-version=2024-07-01.20.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "priority": 0,
        "allowTaskPreemption": false,
        "maxParallelTasks": -1,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 0
        },
        "poolInfo": {
          "poolId": "JobOperations"
        },
        "onAllTasksComplete": "terminatejob"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD46294843AE30",
        "Last-Modified": "Wed, 05 Feb 2025 21:08:47 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "id": "Task1",
        "commandLine": "cmd /c echo Hello World"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/Task1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD462948643732",
        "Last-Modified": "Wed, 05 Feb 2025 21:08:47 GMT",
        "Location": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks/Task1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/taskcounts?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#taskcountsresult/@Element",
        "taskCounts": {
          "active": 0,
          "running": 0,
          "completed": 0,
          "succeeded": 0,
          "failed": 0
        },
        "taskSlotCounts": {
          "active": 0,
          "running": 0,
          "completed": 0,
          "succeeded": 0,
          "failed": 0
        }
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/disable?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "disableTasks": "requeue"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/disable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD462948888624",
        "Last-Modified": "Wed, 05 Feb 2025 21:08:48 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/enable?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/enable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD46294897C856",
        "Last-Modified": "Wed, 05 Feb 2025 21:08:48 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/tasks?api-version=2024-07-01.20.0&$select=id%2Cstate",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#tasks",
        "value": [
          {
            "id": "Task1",
            "state": "active"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/jobpreparationandreleasetaskstatus?api-version=2024-07-01.20.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#jobpreparationandreleasetaskstatuslist",
        "value": [
          {
            "poolId": "JobOperations",
            "nodeId": "tvmps_ab88191b1a994464b51075974c04c512b107a57e0ec11f777666a33ae30b042f_d",
            "nodeUrl": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/JobOperations/nodes/tvmps_ab88191b1a994464b51075974c04c512b107a57e0ec11f777666a33ae30b042f_d",
            "jobPreparationTaskExecutionInfo": {
              "startTime": "2025-02-05T21:08:48.819792Z",
              "endTime": "2025-02-05T21:08:49.038542Z",
              "taskRootDirectory": "workitems\\batchJob1\\job-1\\jobpreparation",
              "taskRootDirectoryUrl": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/JobOperations/nodes/tvmps_ab88191b1a994464b51075974c04c512b107a57e0ec11f777666a33ae30b042f_d/files/workitems/batchJob1/job-1/jobpreparation",
              "state": "completed",
              "exitCode": 0,
              "result": "success",
              "retryCount": 0
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/terminate?api-version=2024-07-01.20.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "return-client-request-id": "true"
      },
      "RequestBody": {
        "terminateReason": "<terminateReason>"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DD46294ECE245E",
        "Last-Modified": "Wed, 05 Feb 2025 21:08:58 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/batchJob1?api-version=2024-07-01.20.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "return-client-request-id": "true"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "batch_account_uri": "dotnotsdkbatchaccount2.eastus2.batch.azure.com",
    "RandomSeed": "1371143604"
  }
}
