{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027ysicoews\u0027)/docs/search.post.autocomplete?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "mod",
        "autocompleteMode": "oneTerm",
        "filter": "hotelId ne \u00276\u0027 and (hotelName eq \u0027Modern Stay\u0027 or tags/any(t : t eq \u0027budget\u0027))",
        "fuzzy": true,
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "12",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "text": "modern",
            "queryPlusText": "modern"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "879960077",
    "SearchIndexName": "ysicoews",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
