{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('fxxpydex')/docs/search.post.autocomplete?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "po",
        "autocompleteMode": "oneTerm",
        "filter": "hotelName eq 'EconoStay' or hotelName eq 'Fancy Stay'",
        "highlightPostTag": "</b>",
        "highlightPreTag": "<b>",
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "16",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "text": "pool",
            "queryPlusText": "<b>pool</b>"
          },
          {
            "text": "popular",
            "queryPlusText": "<b>popular</b>"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1627025068",
    "SearchIndexName": "fxxpydex",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
