{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes('uxjxrerh')/docs/search.post.autocomplete?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "looking for very po",
        "autocompleteMode": "oneTermWithContext",
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "7",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "text": "very police",
            "queryPlusText": "looking for very police"
          },
          {
            "text": "very polite",
            "queryPlusText": "looking for very polite"
          },
          {
            "text": "very popular",
            "queryPlusText": "looking for very popular"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "927946918",
    "SearchIndexName": "uxjxrerh",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-t0eeade0124fbb432"
  }
}
