{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('fxxpydex')/docs/search.post.autocomplete?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "po",
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "4",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "value": [
          {
            "text": "point",
            "queryPlusText": "point"
          },
          {
            "text": "police",
            "queryPlusText": "police"
          },
          {
            "text": "polite",
            "queryPlusText": "polite"
          },
          {
            "text": "pool",
            "queryPlusText": "pool"
          },
          {
            "text": "popular",
            "queryPlusText": "popular"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "580071084",
    "SearchIndexName": "fxxpydex",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
