{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('hduncowe')/docs/search.post.autocomplete?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "very po",
        "suggesterName": ""
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "6"
      },
      "ResponseBody": {
        "error": {
          "code": "MissingRequiredParameter",
          "message": "Cannot find fields enabled for suggestions. Please provide a value for 'suggesterName' in the query.\r\nParameter name: suggestions",
          "details": [
            {
              "code": "MissingSuggesterName",
              "message": "Cannot find fields enabled for suggestions. Please provide a value for 'suggesterName' in the query."
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1397651720",
    "SearchIndexName": "hduncowe",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
