{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027faurkoaf\u0027)/docs/search.post.autocomplete?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "very po",
        "suggesterName": ""
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "7"
      },
      "ResponseBody": {
        "error": {
          "code": "MissingRequiredParameter",
          "message": "Cannot find fields enabled for suggestions. Please provide a value for \u0027suggesterName\u0027 in the query.\r\nParameter name: suggestions",
          "details": [
            {
              "code": "MissingSuggesterName",
              "message": "Cannot find fields enabled for suggestions. Please provide a value for \u0027suggesterName\u0027 in the query."
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "170538600",
    "SearchIndexName": "faurkoaf",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
