{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes(\u0027qmtmoxng\u0027)/docs/search.post.autocomplete?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "po",
        "autocompleteMode": "twoTerms",
        "suggesterName": "sg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "11",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "text": "point motel",
            "queryPlusText": "point motel"
          },
          {
            "text": "police station",
            "queryPlusText": "police station"
          },
          {
            "text": "polite staff",
            "queryPlusText": "polite staff"
          },
          {
            "text": "pool a",
            "queryPlusText": "pool a"
          },
          {
            "text": "popular hotel",
            "queryPlusText": "popular hotel"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "306669141",
    "SearchIndexName": "qmtmoxng",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchtest"
  }
}
