{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Confluent/operations?api-version=2025-08-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.Confluent/operations/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.Confluent",
              "resource": "operations",
              "operation": "read_operations",
              "description": "read operations"
            },
            "properties": null
          },
          {
            "name": "Microsoft.Confluent/locations/OperationStatuses/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.Confluent",
              "resource": "locations/OperationStatuses",
              "operation": "read_OperationStatuses",
              "description": "read OperationStatuses"
            },
            "properties": null
          },
          {
            "name": "Microsoft.Confluent/location[...]
