{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9033ec86-8054-db59-f5fa-6976bf6ddef6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:27:59 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7C30A537C\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9033ec86-8054-db59-f5fa-6976bf6ddef6/sourceFolder/test-file-a8ab2c95-624a-eee4-eb20-bc5c1e3bc1e1?sv=Sanitized&se=2025-02-23T00%3A28%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7C31D02A9\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:00.1383081Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9033ec86-8054-db59-f5fa-6976bf6ddef6/sourceFolder/test-file-a8ab2c95-624a-eee4-eb20-bc5c1e3bc1e1?sv=Sanitized&se=2025-02-23T00%3A28%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "GeQIuQuTxcD1FSkVGZrs8SMHsvaK0/X0k4595tXoe2z7w0I6MwfWXvIyEe53ggORd5vXbMwubUXuEyV8Ft7qDZq9GVVXsr4bMFQEWMIGfRGK7G46EA6fzVX8Sx/iWUcTRwRUummtOcXdvDt3KRWD6JYU8ipwr/yLHUwAWmaeOdcM8RC9ssKn3bKoXVTTJ6NAeWOJzWcdopcIyJwcrd9eP4JkazgExjbTbBV3x1KnuPWpv+EDFGxv7054tOkmiy/TSR7SbrxqPLIstmBSpdpFYBCmc+3+WyoV9HvqixFNreHlpH4z1Uk5PoMu114LHUlzM1TYfxdC1e7zvHlAf7Cg3wh+bQBcEorHbTRqz4TMCtcydli9dC7Ko8+PPxnP+L7SjfdVjK9IFiDJERLi1wVqJ7KhDglY42v[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9033ec86-8054-db59-f5fa-6976bf6ddef6/sourceFolder/bar/test-file-20f6cac1-e7f9-3cd0-9d39-adece3efa9ed?sv=Sanitized&se=2025-02-23T00%3A28%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7C3378BA9\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:00.3122089Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9033ec86-8054-db59-f5fa-6976bf6ddef6/sourceFolder/bar/test-file-20f6cac1-e7f9-3cd0-9d39-adece3efa9ed?sv=Sanitized&se=2025-02-23T00%3A28%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
     [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9033ec86-8054-db59-f5fa-6976bf6ddef6/sourceFolder/pik/test-file-4dd18f72-a0c9-ec49-8901-d9ad27111918?sv=Sanitized&se=2025-02-23T00%3A28%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7C344D030\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:00.3991600Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9033ec86-8054-db59-f5fa-6976bf6ddef6/sourceFolder/pik/test-file-4dd18f72-a0c9-ec49-8901-d9ad27111918?sv=Sanitized&se=2025-02-23T00%3A28%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
     [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9033ec86-8054-db59-f5fa-6976bf6ddef6?sv=Sanitized&se=2025-02-23T00%3A28%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-9033ec86-8054-db59-f5fa-6976bf6ddef6\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-20f6cac1-e7f9-3cd0-9d39-adece3efa9ed</Name><VersionId>2025-02-22T00:28:00.3122089Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:28:00 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:28:00 GMT</Last-Modified><Etag>0x8DD52D7C33E1A63</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-4dd18f72-a0c9-ec49-8901-d9ad27111918</Name><VersionId>2025-02-22T00:28:00.3991600Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:28:00 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:28:00 GMT</Last-Modified><Etag>0x8DD52D7C34B37D8</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-32f2104c-fb51-a7d9-982d-c715e108b6cd/destFolder/bar/test-file-20f6cac1-e7f9-3cd0-9d39-adece3efa9ed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-9033ec86-8054-db59-f5fa-6976bf6ddef6/sourceFolder/bar/test-file-20f6cac1-e7f9-3cd0-9d39-adece3efa9ed?sv=sanitized-value&se=2025-02-23T00%3A28%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7C3601C59\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-content-crc64": "PmAH0l8k9SQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:00.5790563Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-32f2104c-fb51-a7d9-982d-c715e108b6cd/destFolder/pik/test-file-4dd18f72-a0c9-ec49-8901-d9ad27111918",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-9033ec86-8054-db59-f5fa-6976bf6ddef6/sourceFolder/pik/test-file-4dd18f72-a0c9-ec49-8901-d9ad27111918?sv=sanitized-value&se=2025-02-23T00%3A28%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7C361069E\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-content-crc64": "0f5qqRAhb0Y=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:00.5840542Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-32f2104c-fb51-a7d9-982d-c715e108b6cd/destFolder/test-file-a8ab2c95-624a-eee4-eb20-bc5c1e3bc1e1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-9033ec86-8054-db59-f5fa-6976bf6ddef6/sourceFolder/test-file-a8ab2c95-624a-eee4-eb20-bc5c1e3bc1e1?sv=sanitized-value&se=2025-02-23T00%3A28%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7C361069E\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-content-crc64": "n799BkvT2qU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:00.5840542Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9033ec86-8054-db59-f5fa-6976bf6ddef6?sv=Sanitized&se=2025-02-23T00%3A28%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-32f2104c-fb51-a7d9-982d-c715e108b6cd?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-32f2104c-fb51-a7d9-982d-c715e108b6cd\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-20f6cac1-e7f9-3cd0-9d39-adece3efa9ed</Name><VersionId>2025-02-22T00:28:00.5790563Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:28:00 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:28:00 GMT</Last-Modified><Etag>0x8DD52D7C3601C59</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>PmAH0l8k9SQ=</Content-CRC64><Content-MD5>io+0AXCiVGFe5lWxuC43sA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Sat, 22 Feb 2025 00:28:00 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-4dd18f72-a0c9-ec49-8901-d9ad27111918</Name><VersionId>2025-02-22T00:28:00.5840542Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:28:00 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:28:00 GMT</Last-Modified><Etag>0x8DD52D7C361069E</Etag[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9033ec86-8054-db59-f5fa-6976bf6ddef6/sourceFolder/bar/test-file-20f6cac1-e7f9-3cd0-9d39-adece3efa9ed?sv=Sanitized&se=2025-02-23T00%3A28%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7C33E1A63\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:00.3122089Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-32f2104c-fb51-a7d9-982d-c715e108b6cd/destFolder/bar/test-file-20f6cac1-e7f9-3cd0-9d39-adece3efa9ed",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "io+0AXCiVGFe5lWxuC43sA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7C3601C59\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:00.5790563Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9033ec86-8054-db59-f5fa-6976bf6ddef6/sourceFolder/bar/test-file-20f6cac1-e7f9-3cd0-9d39-adece3efa9ed?sv=Sanitized&se=2025-02-23T00%3A28%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D7C33E1A63\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7C33E1A63\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-32f2104c-fb51-a7d9-982d-c715e108b6cd/destFolder/bar/test-file-20f6cac1-e7f9-3cd0-9d39-adece3efa9ed",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD52D7C3601C59\"",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:01 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7C3601C59\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-blob-content-md5": "io+0AXCiVGFe5lWxuC43sA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:28:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9033ec86-8054-db59-f5fa-6976bf6ddef6?sv=Sanitized&se=2025-02-23T00%3A28%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:0bd6e02b-101e-004a-74c0-84794d000000\n",
        "Time:2025-02-22T00:28:02.0156102Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T16:28:00.0509156-08:00",
    "RandomSeed": "1213003221",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
