{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-585c0a6e-20c5-4d4b-1b19-5630b03b3d9b?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB5D9F9ACB9\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:45 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-585c0a6e-20c5-4d4b-1b19-5630b03b3d9b/sourceFolder/test-file-62b16f82-26f7-23ae-0551-abab4586f8ad?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB5DA0CE410\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-585c0a6e-20c5-4d4b-1b19-5630b03b3d9b/sourceFolder/test-file-62b16f82-26f7-23ae-0551-abab4586f8ad?comp=page&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "3FPmkXNOCmDux0qko2TbJxP+vNtQgGFHYp47lcCEEbY1vc/yn2c6Ec8cFsrvaG7BhT4VE5JBnVvxni/UE3SgabaUb+aV6Yisw6oLNGqXV/kweg+Cb/0k8x90AQA3Zv5afKwTW/mILJy1aU/nNWnwWkY1pJllHvq4b3vHIeeHdF2ssbe+g/z/p01yzAWtPL21g6e5AcJl9V6yW+t+wQu1LvXyO4SxMtZKNvxL8lH1CjO9EZ1AznKaR7tZCygQgeZCvZ4PuwA5A1DQb8vGGQMMvFC4wLBtdF+CV/TIWCauObQVCDSz5U8yhA1McF+n1C24TU7XWME21Ek+jWMMcKsqIjUXsBDOWNcBhTyiIQMA24PHEArX1uHz3zPrdVjrJhNhIk0pjyMc6vR31tOEk7NFPbHfRWChUkx[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-585c0a6e-20c5-4d4b-1b19-5630b03b3d9b/sourceFolder/bar/test-file-2db4237b-0754-756a-aaea-a02aa7e4446b?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB5DA328F79\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-585c0a6e-20c5-4d4b-1b19-5630b03b3d9b/sourceFolder/bar/test-file-2db4237b-0754-756a-aaea-a02aa7e4446b?comp=page&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
     [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-585c0a6e-20c5-4d4b-1b19-5630b03b3d9b/sourceFolder/pik/test-file-1d13c40b-3c64-cd34-0f63-552a89b756b7?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB5DA44CACF\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-585c0a6e-20c5-4d4b-1b19-5630b03b3d9b/sourceFolder/pik/test-file-1d13c40b-3c64-cd34-0f63-552a89b756b7?comp=page&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
     [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-585c0a6e-20c5-4d4b-1b19-5630b03b3d9b?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-585c0a6e-20c5-4d4b-1b19-5630b03b3d9b\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-047dd960-3a91-120d-2661-6629124e1cee</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:20:46 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:20:46 GMT</Last-Modified><Etag>0x8DE6EB5DA29FC67</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-62b16f82-26f7-23ae-0551-abab4586f8ad</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:20:45 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:20:46 GMT</Last-Modified><Etag>0x8DE6EB5DA1848F6</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-585c0a6e-20c5-4d4b-1b19-5630b03b3d9b?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-672271e2-8c0d-faef-d211-db04a17d8b03/destFolder/test-file-62b16f82-26f7-23ae-0551-abab4586f8ad?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-585c0a6e-20c5-4d4b-1b19-5630b03b3d9b/sourceFolder/test-file-62b16f82-26f7-23ae-0551-abab4586f8ad?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB5DA6CBF9D\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:46 GMT",
        "x-ms-content-crc64": "4NNLUdp+zg8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-585c0a6e-20c5-4d4b-1b19-5630b03b3d9b?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-672271e2-8c0d-faef-d211-db04a17d8b03/destFolder/bar/test-file-2db4237b-0754-756a-aaea-a02aa7e4446b?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-585c0a6e-20c5-4d4b-1b19-5630b03b3d9b/sourceFolder/bar/test-file-2db4237b-0754-756a-aaea-a02aa7e4446b?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB5DA776209\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:46 GMT",
        "x-ms-content-crc64": "DtqjtnEhWGI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-672271e2-8c0d-faef-d211-db04a17d8b03/destFolder/pik/test-file-1d13c40b-3c64-cd34-0f63-552a89b756b7?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-585c0a6e-20c5-4d4b-1b19-5630b03b3d9b/sourceFolder/pik/test-file-1d13c40b-3c64-cd34-0f63-552a89b756b7?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB5DA7FE403\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:46 GMT",
        "x-ms-content-crc64": "gEWhGry67rM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-585c0a6e-20c5-4d4b-1b19-5630b03b3d9b?restype=container&comp=list&prefix=sourceFolder%2F&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-672271e2-8c0d-faef-d211-db04a17d8b03?restype=container&comp=list&prefix=destFolder%2F&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-672271e2-8c0d-faef-d211-db04a17d8b03\"><Prefix>destFolder/</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-2db4237b-0754-756a-aaea-a02aa7e4446b</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:20:46 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:20:46 GMT</Last-Modified><Etag>0x8DE6EB5DA776209</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>DtqjtnEhWGI=</Content-CRC64><Content-MD5>oVByieyoiabTx/EtxoLkGg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-1d13c40b-3c64-cd34-0f63-552a89b756b7</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:20:46 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:20:46 GMT</Last-Modified><Etag>0x8DE6EB5DA7FE403</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encodi[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-585c0a6e-20c5-4d4b-1b19-5630b03b3d9b/sourceFolder/bar/test-file-2db4237b-0754-756a-aaea-a02aa7e4446b?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB5DA3BD42E\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:20:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-672271e2-8c0d-faef-d211-db04a17d8b03/destFolder/bar/test-file-2db4237b-0754-756a-aaea-a02aa7e4446b?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "oVByieyoiabTx/EtxoLkGg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB5DA776209\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:20:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-585c0a6e-20c5-4d4b-1b19-5630b03b3d9b/sourceFolder/bar/test-file-2db4237b-0754-756a-aaea-a02aa7e4446b?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE6EB5DA3BD42E\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB5DA3BD42E\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:20:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-672271e2-8c0d-faef-d211-db04a17d8b03/destFolder/bar/test-file-2db4237b-0754-756a-aaea-a02aa7e4446b?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE6EB5DA776209\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB5DA776209\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-content-md5": "oVByieyoiabTx/EtxoLkGg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:20:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "1Sj4ParQONRYpj+Ob8gY8wwwCS3MbGU73qVZo[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-585c0a6e-20c5-4d4b-1b19-5630b03b3d9b?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A45Z&se=2026-02-18T07%3A20%3A45Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-02-17T22:20:45.8037310-08:00",
    "RandomSeed": "1247119678",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
