{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6aabb101-33e8-9be0-1566-3bba25fa06d9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:46:56 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00627EA0C554\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:56 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6aabb101-33e8-9be0-1566-3bba25fa06d9/sourceFolder/test-file-32cbd580-59c5-b315-6a4f-b1a934d52011?sv=Sanitized&se=2025-10-01T20%3A46%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00627EBCB917\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6aabb101-33e8-9be0-1566-3bba25fa06d9/sourceFolder/test-file-32cbd580-59c5-b315-6a4f-b1a934d52011?sv=Sanitized&se=2025-10-01T20%3A46%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "CEJegwGfZzLiz2D1DRHqDnF4h7yeIEKbwlJ8i7C4oaLVfqDyd5wPxoq4XLmEHWykT5rrmUC9lecAwsGvItuBKi69H49w+JfUacEx5cSIF6Tl2DsWzAdiGOm58bXbYKOuNzGLxv7cNFcCFzB/i68ieKocyUqfa10mWwamtgbi+Agdgq6S/VGmCKPkE7XX4405l3kKvpZYD8zTZGv3Nn1RIB4nYQgBj3pZdsCnu1eoT3d5bB+N1zlxxHPiv5jlr9Ilk/KWr4GEOAf+sEjVsVN0KxXzfclexEnltZ2VH9Dic8bugShkEqD19TQXjifwnBIgbZOD8jEIxs+psPnk7hk2HDyB5zAqDxh0/YiVRjUh9BmKdbE8XoGV5bpZu2GnEQYb4HLqb7Ti9V56DvSoc4CZh7zfWnln+b2[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6aabb101-33e8-9be0-1566-3bba25fa06d9/sourceFolder/bar/test-file-594430a2-0882-c0ac-b4e1-b1a67304df43?sv=Sanitized&se=2025-10-01T20%3A46%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00627EE1CA9E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6aabb101-33e8-9be0-1566-3bba25fa06d9/sourceFolder/bar/test-file-594430a2-0882-c0ac-b4e1-b1a67304df43?sv=Sanitized&se=2025-10-01T20%3A46%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      }[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6aabb101-33e8-9be0-1566-3bba25fa06d9/sourceFolder/pik/test-file-9a9e115e-d87e-553b-bd2b-d138964cd70c?sv=Sanitized&se=2025-10-01T20%3A46%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00627EF4A13A\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6aabb101-33e8-9be0-1566-3bba25fa06d9/sourceFolder/pik/test-file-9a9e115e-d87e-553b-bd2b-d138964cd70c?sv=Sanitized&se=2025-10-01T20%3A46%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      }[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6aabb101-33e8-9be0-1566-3bba25fa06d9?sv=Sanitized&se=2025-10-01T20%3A46%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-6aabb101-33e8-9be0-1566-3bba25fa06d9\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-32cbd580-59c5-b315-6a4f-b1a934d52011</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:46:56 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:46:56 GMT</Last-Modified><Etag>0x8DE00627EC6721D</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-3febf265-e589-7913-b539-a85c12c77933</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:46:56 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:46:56 GMT</Last-Modified><Etag>0x8DE00627ED8AD20</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6aabb101-33e8-9be0-1566-3bba25fa06d9?sv=Sanitized&se=2025-10-01T20%3A46%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6e781f50-4311-7ab4-de37-1f76370cb058/destFolder/test-file-3febf265-e589-7913-b539-a85c12c77933",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-6aabb101-33e8-9be0-1566-3bba25fa06d9/sourceFolder/test-file-3febf265-e589-7913-b539-a85c12c77933?sv=sanitized-value&se=2025-10-01T20%3A46%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:46:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00627F2BA002\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:57 GMT",
        "x-ms-content-crc64": "cPHlEV9PpEg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6aabb101-33e8-9be0-1566-3bba25fa06d9?sv=Sanitized&se=2025-10-01T20%3A46%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6e781f50-4311-7ab4-de37-1f76370cb058/destFolder/bar/test-file-594430a2-0882-c0ac-b4e1-b1a67304df43",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-6aabb101-33e8-9be0-1566-3bba25fa06d9/sourceFolder/bar/test-file-594430a2-0882-c0ac-b4e1-b1a67304df43?sv=sanitized-value&se=2025-10-01T20%3A46%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:46:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00627F361B93\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:57 GMT",
        "x-ms-content-crc64": "n5VUwNCJ8CU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6e781f50-4311-7ab4-de37-1f76370cb058/destFolder/pik/test-file-9a9e115e-d87e-553b-bd2b-d138964cd70c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-6aabb101-33e8-9be0-1566-3bba25fa06d9/sourceFolder/pik/test-file-9a9e115e-d87e-553b-bd2b-d138964cd70c?sv=sanitized-value&se=2025-10-01T20%3A46%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:46:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00627F3CF1B9\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:57 GMT",
        "x-ms-content-crc64": "52+Vxl77uwo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6aabb101-33e8-9be0-1566-3bba25fa06d9?sv=Sanitized&se=2025-10-01T20%3A46%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6e781f50-4311-7ab4-de37-1f76370cb058?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:46:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-6e781f50-4311-7ab4-de37-1f76370cb058\"><Prefix>destFolder/</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-594430a2-0882-c0ac-b4e1-b1a67304df43</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:46:57 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:46:57 GMT</Last-Modified><Etag>0x8DE00627F361B93</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>n5VUwNCJ8CU=</Content-CRC64><Content-MD5>F92XJzgDUyBcZPutnsPmNg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-9a9e115e-d87e-553b-bd2b-d138964cd70c</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:46:57 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:46:57 GMT</Last-Modified><Etag>0x8DE00627F3CF1B9</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encodi[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6aabb101-33e8-9be0-1566-3bba25fa06d9/sourceFolder/bar/test-file-594430a2-0882-c0ac-b4e1-b1a67304df43?sv=Sanitized&se=2025-10-01T20%3A46%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00627EEAE822\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:46:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6e781f50-4311-7ab4-de37-1f76370cb058/destFolder/bar/test-file-594430a2-0882-c0ac-b4e1-b1a67304df43",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:46:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "F92XJzgDUyBcZPutnsPmNg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00627F361B93\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:57 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:46:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6aabb101-33e8-9be0-1566-3bba25fa06d9/sourceFolder/bar/test-file-594430a2-0882-c0ac-b4e1-b1a67304df43?sv=Sanitized&se=2025-10-01T20%3A46%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00627EEAE822\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00627EEAE822\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:46:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6e781f50-4311-7ab4-de37-1f76370cb058/destFolder/bar/test-file-594430a2-0882-c0ac-b4e1-b1a67304df43",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE00627F361B93\"",
        "x-ms-date": "Tue, 30 Sep 2025 20:46:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00627F361B93\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:57 GMT",
        "x-ms-blob-content-md5": "F92XJzgDUyBcZPutnsPmNg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:46:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "LrDvsUpRaJWvrhyBDVbM7XQ3tMuU7eYAsAXBh[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6aabb101-33e8-9be0-1566-3bba25fa06d9?sv=Sanitized&se=2025-10-01T20%3A46%3A56Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:f5dea6b1-f01e-003c-344b-328973000000\n",
        "Time:2025-09-30T20:46:59.3931763Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:46:56.5677147-07:00",
    "RandomSeed": "1631397719",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
