{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-007d34ec-4717-6e64-a97e-e6037f083b82?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:27:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7AFB95027\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-007d34ec-4717-6e64-a97e-e6037f083b82/sourceFolder/test-file-447e1dab-e560-e865-57a6-2f6160610fa4?sv=Sanitized&se=2025-02-23T00%3A27%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7AFCA7EE5\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:27:27.7208293Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-007d34ec-4717-6e64-a97e-e6037f083b82/sourceFolder/test-file-447e1dab-e560-e865-57a6-2f6160610fa4?sv=Sanitized&se=2025-02-23T00%3A27%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "3A3ZZcYH4KGVSC3JrguY2DKi+cQ9r/c919TewcBzJX8WSYVSiKndx6ckI8dAfPtaBku/H97LqCwVm47yKB7gISKus2SFRVCIxDEdGIsv/FrZhLt1swahS6BYPewb65+IQwKlksmW1MD6N1qtrZCg5p8zGaNia20cDWfDLQhjbdmRldSJimqRQrD7enyr9J0Qt1dN59L8JdiViIVh0qe4l8qBGxi7F1s0odbyZ/HwcBnJs3WxFoUHlW/89AHlMG8JQuOxKtiFVKD7GUX7Cb3mpBhslx8xB4FFeYWoviJZTnFn6SUOPkVARF7Utfw/DIyyFlDpeZhQ1zthbLFT3ZZ9ocrTkyCX2GXSK1PAXFGEBW359qjScNXZFhHqrNKU7WfIVxQybHhsGj3qFk1Ej3vp3WdDWebtqzD[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-007d34ec-4717-6e64-a97e-e6037f083b82/sourceFolder/bar/test-file-29420e7c-f33a-1626-b275-c49ca4000684?sv=Sanitized&se=2025-02-23T00%3A27%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7AFE507E7\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:27:27.8947303Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-007d34ec-4717-6e64-a97e-e6037f083b82/sourceFolder/bar/test-file-29420e7c-f33a-1626-b275-c49ca4000684?sv=Sanitized&se=2025-02-23T00%3A27%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
     [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-007d34ec-4717-6e64-a97e-e6037f083b82/sourceFolder/pik/test-file-5f8296b7-cd58-b3a0-e010-1b3f3be9c5ab?sv=Sanitized&se=2025-02-23T00%3A27%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7AFF24C62\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:27:27.9816802Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-007d34ec-4717-6e64-a97e-e6037f083b82/sourceFolder/pik/test-file-5f8296b7-cd58-b3a0-e010-1b3f3be9c5ab?sv=Sanitized&se=2025-02-23T00%3A27%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
     [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-007d34ec-4717-6e64-a97e-e6037f083b82?sv=Sanitized&se=2025-02-23T00%3A27%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-007d34ec-4717-6e64-a97e-e6037f083b82\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-29420e7c-f33a-1626-b275-c49ca4000684</Name><VersionId>2025-02-22T00:27:27.8947303Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:27:27 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:27:27 GMT</Last-Modified><Etag>0x8DD52D7AFEB969D</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-5f8296b7-cd58-b3a0-e010-1b3f3be9c5ab</Name><VersionId>2025-02-22T00:27:27.9816802Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:27:27 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:27:28 GMT</Last-Modified><Etag>0x8DD52D7AFF8DB1A</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1882f7f2-75a6-93e6-e91a-c84cb341f2b6/destFolder/pik/test-file-5f8296b7-cd58-b3a0-e010-1b3f3be9c5ab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-007d34ec-4717-6e64-a97e-e6037f083b82/sourceFolder/pik/test-file-5f8296b7-cd58-b3a0-e010-1b3f3be9c5ab?sv=sanitized-value&se=2025-02-23T00%3A27%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:27:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7B00D9899\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:28 GMT",
        "x-ms-content-crc64": "9JezmwcZocA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:27:28.1605785Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1882f7f2-75a6-93e6-e91a-c84cb341f2b6/destFolder/test-file-b8c687cf-6e10-a946-659e-24f1c2d78fe5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-007d34ec-4717-6e64-a97e-e6037f083b82/sourceFolder/test-file-b8c687cf-6e10-a946-659e-24f1c2d78fe5?sv=sanitized-value&se=2025-02-23T00%3A27%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:27:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7B00E5BCC\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:28 GMT",
        "x-ms-content-crc64": "ii+Z60JQ99o=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:27:28.1655756Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1882f7f2-75a6-93e6-e91a-c84cb341f2b6/destFolder/bar/test-file-29420e7c-f33a-1626-b275-c49ca4000684",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-007d34ec-4717-6e64-a97e-e6037f083b82/sourceFolder/bar/test-file-29420e7c-f33a-1626-b275-c49ca4000684?sv=sanitized-value&se=2025-02-23T00%3A27%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:27:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7B00EF7F4\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:28 GMT",
        "x-ms-content-crc64": "rOrzUcJjJCg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:27:28.1695732Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-007d34ec-4717-6e64-a97e-e6037f083b82?sv=Sanitized&se=2025-02-23T00%3A27%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1882f7f2-75a6-93e6-e91a-c84cb341f2b6?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:27:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-1882f7f2-75a6-93e6-e91a-c84cb341f2b6\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-29420e7c-f33a-1626-b275-c49ca4000684</Name><VersionId>2025-02-22T00:27:28.1695732Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:27:28 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:27:28 GMT</Last-Modified><Etag>0x8DD52D7B00EF7F4</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>rOrzUcJjJCg=</Content-CRC64><Content-MD5>thCpXV/F5XydSUZFwxQWeA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Sat, 22 Feb 2025 00:27:28 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-5f8296b7-cd58-b3a0-e010-1b3f3be9c5ab</Name><VersionId>2025-02-22T00:27:28.1605785Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:27:28 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:27:28 GMT</Last-Modified><Etag>0x8DD52D7B00D9899</Etag[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-007d34ec-4717-6e64-a97e-e6037f083b82/sourceFolder/bar/test-file-29420e7c-f33a-1626-b275-c49ca4000684?sv=Sanitized&se=2025-02-23T00%3A27%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7AFEB969D\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:27 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:27:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:27:27.8947303Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1882f7f2-75a6-93e6-e91a-c84cb341f2b6/destFolder/bar/test-file-29420e7c-f33a-1626-b275-c49ca4000684",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:27:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "thCpXV/F5XydSUZFwxQWeA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7B00EF7F4\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:27:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:27:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:27:28.1695732Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-007d34ec-4717-6e64-a97e-e6037f083b82/sourceFolder/bar/test-file-29420e7c-f33a-1626-b275-c49ca4000684?sv=Sanitized&se=2025-02-23T00%3A27%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D7AFEB969D\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7AFEB969D\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:27 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:27:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-1882f7f2-75a6-93e6-e91a-c84cb341f2b6/destFolder/bar/test-file-29420e7c-f33a-1626-b275-c49ca4000684",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD52D7B00EF7F4\"",
        "x-ms-date": "Sat, 22 Feb 2025 00:27:28 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7B00EF7F4\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:28 GMT",
        "x-ms-blob-content-md5": "thCpXV/F5XydSUZFwxQWeA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:27:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:27:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-007d34ec-4717-6e64-a97e-e6037f083b82?sv=Sanitized&se=2025-02-23T00%3A27%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:0bd6da41-101e-004a-2cc0-84794d000000\n",
        "Time:2025-02-22T00:27:29.5809243Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T16:27:27.6447328-08:00",
    "RandomSeed": "395782566",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
