{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-38a7b6d7-d452-f93e-3281-989487f3f290?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:02 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006282749FCC\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:02 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-38a7b6d7-d452-f93e-3281-989487f3f290/sourceFolder/test-file-063e7112-21cc-a1e5-1ede-238c187a1084?sv=Sanitized&se=2025-10-01T20%3A47%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062828FDA59\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-38a7b6d7-d452-f93e-3281-989487f3f290/sourceFolder/test-file-063e7112-21cc-a1e5-1ede-238c187a1084?sv=Sanitized&se=2025-10-01T20%3A47%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "gE1TgNFZyoBJm7FM7G1LSebk8BBuI3YEK3opCQPfFexPIwvLJ4+zsEyKTZBc+tZvd9Qfp0F/kV3WTlVWL8B8aYXE/MlhfyJWMD/D5NXlqDGkuZIuv26r0JGu9dg6XYGLDeQKl/0NDviyyXYBu62H8KYjsnUuTqkXGSw4s4pJG9O+N9bx2hAzlquae/b3qRTjJgQxFqoMXb46837R1FttaK2jQ4TXlhWW8BvJlNKzIHAXVYyGGAUosdoXt+eRYsJQLBNJU2WQDJDumyaPQsjshtINuX/O51CoepGpv94uBI1YeGi/acwKh0j8mHzemW4RKzAVhKhDgkXDodnT5kyxwJaYNslgLB0FAzI20U/TyeEimJOuGIDlFfYi/MjzN6D7S9jmRmKlsf4TD4B2DLD279f3sE65A6c[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-38a7b6d7-d452-f93e-3281-989487f3f290/sourceFolder/bar/test-file-9af10eb3-4677-8558-5976-8620ea85852e?sv=Sanitized&se=2025-10-01T20%3A47%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006282B5608C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-38a7b6d7-d452-f93e-3281-989487f3f290/sourceFolder/bar/test-file-9af10eb3-4677-8558-5976-8620ea85852e?sv=Sanitized&se=2025-10-01T20%3A47%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      }[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-38a7b6d7-d452-f93e-3281-989487f3f290/sourceFolder/pik/test-file-46037c03-089a-4ae3-0db5-6393425a3609?sv=Sanitized&se=2025-10-01T20%3A47%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006282C77498\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-38a7b6d7-d452-f93e-3281-989487f3f290/sourceFolder/pik/test-file-46037c03-089a-4ae3-0db5-6393425a3609?sv=Sanitized&se=2025-10-01T20%3A47%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      }[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-38a7b6d7-d452-f93e-3281-989487f3f290?sv=Sanitized&se=2025-10-01T20%3A47%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-38a7b6d7-d452-f93e-3281-989487f3f290\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-063e7112-21cc-a1e5-1ede-238c187a1084</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:47:03 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:47:03 GMT</Last-Modified><Etag>0x8DE00628298F7B7</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-960a1709-0d2c-c346-ddc2-1e058b328f00</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:47:03 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:47:03 GMT</Last-Modified><Etag>0x8DE006282AC1C22</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-38a7b6d7-d452-f93e-3281-989487f3f290?sv=Sanitized&se=2025-10-01T20%3A47%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-38a7b6d7-d452-f93e-3281-989487f3f290?sv=Sanitized&se=2025-10-01T20%3A47%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9d954b96-09c7-02e0-9469-aeacc569dd71/destFolder/test-file-063e7112-21cc-a1e5-1ede-238c187a1084",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-38a7b6d7-d452-f93e-3281-989487f3f290/sourceFolder/test-file-063e7112-21cc-a1e5-1ede-238c187a1084?sv=sanitized-value&se=2025-10-01T20%3A47%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006282FB6998\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:03 GMT",
        "x-ms-content-crc64": "oZj1o27s4a0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9d954b96-09c7-02e0-9469-aeacc569dd71/destFolder/bar/test-file-9af10eb3-4677-8558-5976-8620ea85852e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-38a7b6d7-d452-f93e-3281-989487f3f290/sourceFolder/bar/test-file-9af10eb3-4677-8558-5976-8620ea85852e?sv=sanitized-value&se=2025-10-01T20%3A47%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006283057065\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:03 GMT",
        "x-ms-content-crc64": "xneFBsb7kMs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9d954b96-09c7-02e0-9469-aeacc569dd71/destFolder/pik/test-file-46037c03-089a-4ae3-0db5-6393425a3609",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-38a7b6d7-d452-f93e-3281-989487f3f290/sourceFolder/pik/test-file-46037c03-089a-4ae3-0db5-6393425a3609?sv=sanitized-value&se=2025-10-01T20%3A47%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062830BAAFB\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:03 GMT",
        "x-ms-content-crc64": "o1kc7O/EEaE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-38a7b6d7-d452-f93e-3281-989487f3f290?sv=Sanitized&se=2025-10-01T20%3A47%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9d954b96-09c7-02e0-9469-aeacc569dd71?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-9d954b96-09c7-02e0-9469-aeacc569dd71\"><Prefix>destFolder/</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-9af10eb3-4677-8558-5976-8620ea85852e</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:47:03 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:47:03 GMT</Last-Modified><Etag>0x8DE006283057065</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>xneFBsb7kMs=</Content-CRC64><Content-MD5>czoVChuqQO14t/6VBq+ENg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-46037c03-089a-4ae3-0db5-6393425a3609</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:47:03 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:47:03 GMT</Last-Modified><Etag>0x8DE0062830BAAFB</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-38a7b6d7-d452-f93e-3281-989487f3f290/sourceFolder/bar/test-file-9af10eb3-4677-8558-5976-8620ea85852e?sv=Sanitized&se=2025-10-01T20%3A47%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006282BE5714\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:03 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:47:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9d954b96-09c7-02e0-9469-aeacc569dd71/destFolder/bar/test-file-9af10eb3-4677-8558-5976-8620ea85852e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "czoVChuqQO14t/6VBq+ENg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006283057065\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:47:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-38a7b6d7-d452-f93e-3281-989487f3f290/sourceFolder/bar/test-file-9af10eb3-4677-8558-5976-8620ea85852e?sv=Sanitized&se=2025-10-01T20%3A47%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE006282BE5714\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006282BE5714\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:03 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:47:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9d954b96-09c7-02e0-9469-aeacc569dd71/destFolder/bar/test-file-9af10eb3-4677-8558-5976-8620ea85852e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE006283057065\"",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006283057065\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:03 GMT",
        "x-ms-blob-content-md5": "czoVChuqQO14t/6VBq+ENg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:47:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "Zp3C5biZl3xph3oqkPGl7VfD642bfr+HDXunK8RoN3VKt+k1HmjWGXd1MO/MLfRn0JnJJ5r4k+jeOtc98Wy4AFAE39kIcM7u7NEVJk3Pu9+GQFsqnw/aUiQBV+OQmSgKvS+fx04bXmDK2jvJ4myaDn/4t7EQjWFAKo21BxjrXlKoCmkdM[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9d954b96-09c7-02e0-9469-aeacc569dd71/destFolder/bar/test-file-9af10eb3-4677-8558-5976-8620ea85852e?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9d954b96-09c7-02e0-9469-aeacc569dd71/destFolder/pik/test-file-46037c03-089a-4ae3-0db5-6393425a3609?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9d954b96-09c7-02e0-9469-aeacc569dd71/destFolder/test-file-063e7112-21cc-a1e5-1ede-238c187a1084?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-38a7b6d7-d452-f93e-3281-989487f3f290?sv=Sanitized&se=2025-10-01T20%3A47%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:a4ec5736-c01e-0037-2c4b-327218000000\n",
        "Time:2025-09-30T20:47:05.8114253Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:47:02.9895775-07:00",
    "RandomSeed": "1997858378",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
