{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b9b3e9fe-3e77-b85a-af91-ba08297e76b2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:41 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D57727B747\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:41 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b9b3e9fe-3e77-b85a-af91-ba08297e76b2/sourceFolder/test-file-d6cce48c-34d7-0d92-d377-608ae55c1989?sv=Sanitized&se=2025-07-12T23%3A48%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5773C400E\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:41.7492762Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b9b3e9fe-3e77-b85a-af91-ba08297e76b2/sourceFolder/test-file-d6cce48c-34d7-0d92-d377-608ae55c1989?sv=Sanitized&se=2025-07-12T23%3A48%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "L0vBZMLjNKCbeiQIS5D2gYqCa2NF5iam9gLHy3K+xm9ykVqam7XHW61ZOnLB5n5/FkBJxPehiUgkGm2/G2ku3bO0lbk1XObVuxC27Kyz5BCESLUydQF30AgSdYBHCEBEK12/DVDESbpZdAnn652ccTVdO9Oz+2eyPMWwI+ZljbPPcsBP9Ne/v/772AH4kOVrdQNK6sxskC/1DNGLFCbT9OZWGHncTXxenXzUuCNmuazgRa3iGqPmYuGRWecGNKvYJ+MaondrjyiH7ExQmNcLjlMkqs548NlDcLWXS/OUV2nQ+5A/TBc0dLWEWy1WlcoKhcqU4YncYDcJ1jLC1EM18pTjf5xGzEI88DYY9JSs7drqjcYoAHbf9JtZNXXkcaByT2iYcxUtw7mIWPBTw2yiXelX2EZ9DPI[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b9b3e9fe-3e77-b85a-af91-ba08297e76b2/sourceFolder/bar/test-file-92a03de2-3c9d-323b-b1e8-568bd9efc9a5?sv=Sanitized&se=2025-07-12T23%3A48%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5775987C6\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:41.9401670Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b9b3e9fe-3e77-b85a-af91-ba08297e76b2/sourceFolder/bar/test-file-92a03de2-3c9d-323b-b1e8-568bd9efc9a5?sv=Sanitized&se=2025-07-12T23%3A48%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
     [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b9b3e9fe-3e77-b85a-af91-ba08297e76b2/sourceFolder/pik/test-file-3431eb89-1b02-9ce1-561d-ebfd5a06c662?sv=Sanitized&se=2025-07-12T23%3A48%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D577665723\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:42.0241187Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b9b3e9fe-3e77-b85a-af91-ba08297e76b2/sourceFolder/pik/test-file-3431eb89-1b02-9ce1-561d-ebfd5a06c662?sv=Sanitized&se=2025-07-12T23%3A48%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
     [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b9b3e9fe-3e77-b85a-af91-ba08297e76b2?sv=Sanitized&se=2025-07-12T23%3A48%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-b9b3e9fe-3e77-b85a-af91-ba08297e76b2\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-d6cce48c-34d7-0d92-d377-608ae55c1989</Name><VersionId>2025-07-11T23:48:41.7492762Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:48:41 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:48:41 GMT</Last-Modified><Etag>0x8DDC0D577447C38</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-d6fae13f-e5ed-c9ee-0f0c-c1d4466305ce</Name><VersionId>2025-07-11T23:48:41.8452210Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:48:41 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:48:41 GMT</Last-Modified><Etag>0x8DDC0D5775172A3</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b9b3e9fe-3e77-b85a-af91-ba08297e76b2?sv=Sanitized&se=2025-07-12T23%3A48%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6fc1e25f-4476-62aa-18f8-edce0474de6e/destFolder/test-file-d6cce48c-34d7-0d92-d377-608ae55c1989",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-b9b3e9fe-3e77-b85a-af91-ba08297e76b2/sourceFolder/test-file-d6cce48c-34d7-0d92-d377-608ae55c1989?sv=sanitized-value&se=2025-07-12T23%3A48%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:42 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D577823F7A\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:42 GMT",
        "x-ms-content-crc64": "EnaniPThGVk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:42.2070138Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b9b3e9fe-3e77-b85a-af91-ba08297e76b2?sv=Sanitized&se=2025-07-12T23%3A48%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6fc1e25f-4476-62aa-18f8-edce0474de6e/destFolder/bar/test-file-92a03de2-3c9d-323b-b1e8-568bd9efc9a5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-b9b3e9fe-3e77-b85a-af91-ba08297e76b2/sourceFolder/bar/test-file-92a03de2-3c9d-323b-b1e8-568bd9efc9a5?sv=sanitized-value&se=2025-07-12T23%3A48%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:42 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D577894352\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:42 GMT",
        "x-ms-content-crc64": "L+2bvnm5uIQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:42.2529874Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6fc1e25f-4476-62aa-18f8-edce0474de6e/destFolder/pik/test-file-3431eb89-1b02-9ce1-561d-ebfd5a06c662",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-b9b3e9fe-3e77-b85a-af91-ba08297e76b2/sourceFolder/pik/test-file-3431eb89-1b02-9ce1-561d-ebfd5a06c662?sv=sanitized-value&se=2025-07-12T23%3A48%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:42 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5778E72B5\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:42 GMT",
        "x-ms-content-crc64": "NC9eO9UL99c=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:42.2869685Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b9b3e9fe-3e77-b85a-af91-ba08297e76b2?sv=Sanitized&se=2025-07-12T23%3A48%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6fc1e25f-4476-62aa-18f8-edce0474de6e?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:42 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-6fc1e25f-4476-62aa-18f8-edce0474de6e\"><Prefix>destFolder/</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-92a03de2-3c9d-323b-b1e8-568bd9efc9a5</Name><VersionId>2025-07-11T23:48:42.2529874Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:48:42 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:48:42 GMT</Last-Modified><Etag>0x8DDC0D577894352</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>L+2bvnm5uIQ=</Content-CRC64><Content-MD5>I7TaCRmESjXpYfk5wcKZ3w==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Fri, 11 Jul 2025 23:48:42 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-3431eb89-1b02-9ce1-561d-ebfd5a06c662</Name><VersionId>2025-07-11T23:48:42.2869685Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:48:42 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:48:42 GMT</Last-Modified><Etag>0x8DDC0D5778E72B5</Etag[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b9b3e9fe-3e77-b85a-af91-ba08297e76b2/sourceFolder/bar/test-file-92a03de2-3c9d-323b-b1e8-568bd9efc9a5?sv=Sanitized&se=2025-07-12T23%3A48%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D5775FEF74\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:41 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:48:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:41.9401670Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6fc1e25f-4476-62aa-18f8-edce0474de6e/destFolder/bar/test-file-92a03de2-3c9d-323b-b1e8-568bd9efc9a5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:42 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "I7TaCRmESjXpYfk5wcKZ3w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC0D577894352\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:48:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 23:48:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:42.2529874Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b9b3e9fe-3e77-b85a-af91-ba08297e76b2/sourceFolder/bar/test-file-92a03de2-3c9d-323b-b1e8-568bd9efc9a5?sv=Sanitized&se=2025-07-12T23%3A48%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC0D5775FEF74\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D5775FEF74\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:41 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:48:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6fc1e25f-4476-62aa-18f8-edce0474de6e/destFolder/bar/test-file-92a03de2-3c9d-323b-b1e8-568bd9efc9a5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDC0D577894352\"",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:42 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC0D577894352\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:42 GMT",
        "x-ms-blob-content-md5": "I7TaCRmESjXpYfk5wcKZ3w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:48:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 23:48:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:42.2529874Z"
      },
      "ResponseBody": "jCrDSoWgn[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6fc1e25f-4476-62aa-18f8-edce0474de6e/destFolder/bar/test-file-92a03de2-3c9d-323b-b1e8-568bd9efc9a5?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:42 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6fc1e25f-4476-62aa-18f8-edce0474de6e/destFolder/pik/test-file-3431eb89-1b02-9ce1-561d-ebfd5a06c662?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6fc1e25f-4476-62aa-18f8-edce0474de6e/destFolder/test-file-d6cce48c-34d7-0d92-d377-608ae55c1989?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:43 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b9b3e9fe-3e77-b85a-af91-ba08297e76b2?sv=Sanitized&se=2025-07-12T23%3A48%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:a86892d3-501e-004b-10be-f22691000000\n",
        "Time:2025-07-11T23:48:43.7370328Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-11T16:48:41.6470214-07:00",
    "RandomSeed": "1495429908",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
