{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f729c7fb-4c39-89a2-a4ab-48df632c49ed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7B450192D\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f729c7fb-4c39-89a2-a4ab-48df632c49ed/sourceFolder/test-file-6cecc425-f764-0e3c-e5a0-eaaa621de285?sv=Sanitized&se=2025-02-23T00%3A27%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7B460C064\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:27:35.4164324Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f729c7fb-4c39-89a2-a4ab-48df632c49ed/sourceFolder/test-file-6cecc425-f764-0e3c-e5a0-eaaa621de285?sv=Sanitized&se=2025-02-23T00%3A27%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "RvzR0Xs7chQx++wyDl4QjcqV1+uUwDV+cF0TPP7j5XDNw2NmTBAJz9dx+0G6IX/5GGuOk53okYXGUmEdJzUWThV8ZEv7qUC5iwcTIsTzw07dGiOSVFLS5THdn/mv7KihW60sPrw0/m8r1AiW1G/B048SQA0Sg/nCqX8ZHQlHCp9eccYXx4SRqBu0Z39KPBDCHMxpnKuaj9ezaZU9G+Fl48poN2KoqQwKgZfxXhx6eGxvVgA83W7zxOLvY13vVIw6ToO14QSuGnLAXxoTqDG6OfEozsXgKAZbdHN/uEavGywLtw+ZxZZowDyNfH1U4BuxNCprxobHWiV8Wm2RLmEsEUTuCPEhIXRbwA2JUqyIB5RXzoQcQ1SlQ1zpHWsp15LaYWo5ZdgqjxK1DwZ5Pgd481PYOV/cEM3vSMSUNwQJMul6rvFCT6G8LT5xZjNOLAVUcCkYUJ4y/VCcSh0TlVcOrN0c/o8WNqSxHAsha6qZoBu+P8fb8eJKSLCgpQSDqJfmYrlWMS52PjqEZjOSEZKmAqkBVFWQM7v60bXedpCgLnRzOgjwQ27tSAGMVoqvuDce+qJagVNCVS/+W194l8ip5Di/HtaKtb87FAtUBNwwSxl+wHvtRawgMeTY8ucOdbE543JS8Jpgk0TjH21H7VFSzQ9G+ddMu56LnuzyscPXLJ8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7B467762A\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "0F/w9BgzVRM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f729c7fb-4c39-89a2-a4ab-48df632c49ed/sourceFolder/bar/test-file-b31ee3a6-a417-67a7-37f8-e1917a46b3c8?sv=Sanitized&se=2025-02-23T00%3A27%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7B47AD441\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:27:35.5873345Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f729c7fb-4c39-89a2-a4ab-48df632c49ed/sourceFolder/bar/test-file-b31ee3a6-a417-67a7-37f8-e1917a46b3c8?sv=Sanitized&se=2025-02-23T00%3A27%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f729c7fb-4c39-89a2-a4ab-48df632c49ed/sourceFolder/pik/test-file-430d793c-60a1-45a0-4103-755b2145aae3?sv=Sanitized&se=2025-02-23T00%3A27%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7B487CAB0\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:27:35.6722864Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f729c7fb-4c39-89a2-a4ab-48df632c49ed/sourceFolder/pik/test-file-430d793c-60a1-45a0-4103-755b2145aae3?sv=Sanitized&se=2025-02-23T00%3A27%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f729c7fb-4c39-89a2-a4ab-48df632c49ed?sv=Sanitized&se=2025-02-23T00%3A27%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-f729c7fb-4c39-89a2-a4ab-48df632c49ed\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-b31ee3a6-a417-67a7-37f8-e1917a46b3c8</Name><VersionId>2025-02-22T00:27:35.5873345Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:27:35 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:27:35 GMT</Last-Modified><Etag>0x8DD52D7B4813BF8</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-430d793c-60a1-45a0-4103-755b2145aae3</Name><VersionId>2025-02-22T00:27:35.6722864Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:27:35 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:27:35 GMT</Last-Modified><Etag>0x8DD52D7B48E596C</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2ba93d51-d1dd-7814-ecb3-20929a467a27/destinationFolder/pik/test-file-430d793c-60a1-45a0-4103-755b2145aae3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-f729c7fb-4c39-89a2-a4ab-48df632c49ed/sourceFolder/pik/test-file-430d793c-60a1-45a0-4103-755b2145aae3?sv=sanitized-value&se=2025-02-23T00%3A27%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7B4A2A1C1\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-content-crc64": "bFliKWEThrI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:27:35.8481857Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2ba93d51-d1dd-7814-ecb3-20929a467a27/destinationFolder/bar/test-file-b31ee3a6-a417-67a7-37f8-e1917a46b3c8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-f729c7fb-4c39-89a2-a4ab-48df632c49ed/sourceFolder/bar/test-file-b31ee3a6-a417-67a7-37f8-e1917a46b3c8?sv=sanitized-value&se=2025-02-23T00%3A27%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7B4A33DEB\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-content-crc64": "SBEbMTIjPto=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:27:35.8531829Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2ba93d51-d1dd-7814-ecb3-20929a467a27/destinationFolder/test-file-6cecc425-f764-0e3c-e5a0-eaaa621de285",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-f729c7fb-4c39-89a2-a4ab-48df632c49ed/sourceFolder/test-file-6cecc425-f764-0e3c-e5a0-eaaa621de285?sv=sanitized-value&se=2025-02-23T00%3A27%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7B4A364F5\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-content-crc64": "0F/w9BgzVRM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:27:35.8541821Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f729c7fb-4c39-89a2-a4ab-48df632c49ed?sv=Sanitized&se=2025-02-23T00%3A27%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2ba93d51-d1dd-7814-ecb3-20929a467a27?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:27:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-2ba93d51-d1dd-7814-ecb3-20929a467a27\"><Prefix>destinationFolder</Prefix><Blobs><Blob><Name>destinationFolder/bar/test-file-b31ee3a6-a417-67a7-37f8-e1917a46b3c8</Name><VersionId>2025-02-22T00:27:35.8531829Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:27:35 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:27:35 GMT</Last-Modified><Etag>0x8DD52D7B4A33DEB</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>SBEbMTIjPto=</Content-CRC64><Content-MD5>gqkOiYZiLE4U6hUd3Oj1Kg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Sat, 22 Feb 2025 00:27:35 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destinationFolder/pik/test-file-430d793c-60a1-45a0-4103-755b2145aae3</Name><VersionId>2025-02-22T00:27:35.8481857Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:27:35 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:27:35 GMT</Last-Modified><Etag>0x8DD52D7B4A2A1C[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f729c7fb-4c39-89a2-a4ab-48df632c49ed/sourceFolder/bar/test-file-b31ee3a6-a417-67a7-37f8-e1917a46b3c8?sv=Sanitized&se=2025-02-23T00%3A27%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7B4813BF8\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:27:35.5873345Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2ba93d51-d1dd-7814-ecb3-20929a467a27/destinationFolder/bar/test-file-b31ee3a6-a417-67a7-37f8-e1917a46b3c8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:27:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "gqkOiYZiLE4U6hUd3Oj1Kg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7B4A33DEB\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:27:35.8531829Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f729c7fb-4c39-89a2-a4ab-48df632c49ed/sourceFolder/bar/test-file-b31ee3a6-a417-67a7-37f8-e1917a46b3c8?sv=Sanitized&se=2025-02-23T00%3A27%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D7B4813BF8\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7B4813BF8\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:27:35.5873345Z"
      },
      "ResponseBody": "QfY/DVS4l84VP8JijwNmPeTbt3Pfcyjb4q9t5kkfyN2Y7saxHwqO7UtQntfiRdg0kaSsno8/6c7OYyulS7CE9XblyaA8tR3ZTMonjtVQ+ZzXOVWlcylNWQX347zf6aGay6hh/Hw399yG0lLEGFr5fWqOzRJb34JMl3CaRNFh+mMojMIs7/wgn0J5H6DXiUCr/mVRURuPP+wmFGUMnLIKJNjunIuXzY5tbS7Q4sDhdQ4v70ZrEKhImU3WBduXFAKPbvrH6e21EzDX4+Tsv1wrRJ9W3K1rnhQvpgI9wciz1VgsQHPFGYshedwWlCzEW9nwqsA8QThVJM/mmELqeFJoJA6LwH/pZisTNWPQVQrna0spTBYHd5Qg1huk3oFINgGKrXAeOJpZB0SVKAvVhM7E/iz3wCs7YKx5a+ljRYepyv5hRqiayTKwz0XRck6JS1JM399UUXbWTkzDpM2w9sK97F4Mcz0mKjX5RvDlae5e7x+XFmanVHmIivhb1yRlANmDFIbwfNcUJrWqWgqF8OReZLWtGd9cFpfkhOhFy1IQlEYXYlVobnJHgvCw/PluA5oT/XNvuOf5J/7uC/juz1pimsbEbY6O9fZCZZbuqxmddoBOMc7foNxeHTtXeWJ6WbKWTmIzqpULhQd8LVJQC3vkUZV3oJ6Mg/nqZVBSN3yTxww="
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2ba93d51-d1dd-7814-ecb3-20929a467a27/destinationFolder/bar/test-file-b31ee3a6-a417-67a7-37f8-e1917a46b3c8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD52D7B4A33DEB\"",
        "x-ms-date": "Sat, 22 Feb 2025 00:27:36 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7B4A33DEB\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-blob-content-md5": "gqkOiYZiLE4U6hUd3Oj1Kg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:27:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:27:35.8531829Z"
      },
      "ResponseBody": "QfY/DVS4l84VP8JijwNmPeTbt3Pfcyjb4q9t5kkfyN2Y7saxHwqO7UtQntfiRdg0kaSsno8/6c7OYyulS7CE9XblyaA8tR3ZTMonjtVQ+ZzXOVWlcylNWQX347zf6aGay6hh/Hw399yG0lLEGFr5fWqOzRJb34JMl3CaRNFh+mMojMIs7/wgn0J5H6DXiUCr/mVRURuPP+wmFGUMnLIKJNjunIuXzY5tbS7Q4sDhdQ4v70ZrEKhImU3WBduXFAKPbvrH6e21EzDX4+Tsv1wrRJ9W3K1rnhQvpgI9wciz1VgsQHPFGYshedwWlCzEW9nwqsA8QThVJM/mmELqeFJoJA6LwH/pZisTNWPQVQrna0spTBYHd5Qg1huk3oFINgGKrXAeOJpZB0SVKAvVhM7E/iz3wCs7YKx5a+ljRYepyv5hRqiayTKwz0XRck6JS1JM399UUXbWTkzDpM2w9sK97F4Mcz0mKjX5RvDlae5e7x+XFmanVHmIivhb1yRlANmDFIbwfNcUJrWqWgqF8OReZLWtGd9cFpfkhOhFy1IQlEYXYlVobnJHgvCw/PluA5oT/XNvuOf5J/7uC/juz1pimsbEbY6O9fZCZZbuqxmddoBOMc7foNxeHTtXeWJ6WbKWTmIzqpULhQd8LVJQC3vkUZV3oJ6Mg/nqZVBSN3yTxww="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f729c7fb-4c39-89a2-a4ab-48df632c49ed?sv=Sanitized&se=2025-02-23T00%3A27%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:67462a67-001e-001b-28c0-84e4c1000000\n",
        "Time:2025-02-22T00:27:37.3075545Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T16:27:35.3328690-08:00",
    "RandomSeed": "1691019955",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
