{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5970AF85C\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-12T23%3A49%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D59720D27C\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:49:35.2556156Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-12T23%3A49%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "DOoPLXBN0F2u+aVQlUrD6wPsL6Nj+SC4rOIjslAnnqe3t6yhw+6LzUmi+P3UXcicMOJ0sCtTcRLJVoCOKh4Nh1v9mN2eISgUYGFawQAj408ahoJtsu18Y0aZ12xu/aMrlHCh1sTq/g65X0/J+bASpnMxdKObn9RugTWWBUq8pmO+LiyPgQyKL4h0s1OdsmmWhzD5PIkAj/WcM1WPVPjE/bnsC8uDgiVmp0UaJ+yB0M7LAH4ZwmrZvZ438023+tqQr7WZsKeeEgQLk5RE5mcJGmKGxFR6qztPE00sTI7Yrqxqinc25yAnLO15DS7Vldc3LtnqMTaGFQR6Sp1ZcsZ2M+Xo2Vvv0jJCX5dmAZ0MeX129R617Xx243Rzu52CzbomAtpJ7bt7R1ump9KeHxRnbtAf43yowUV[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35/source%3Dpath%40%23%25/file%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A49%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5972F4F4F\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:49:35.3505615Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35/source%3Dpath%40%23%25/file%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A49%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-12T23%3A49%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5973C45B8\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:49:35.4355128Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-12T23%3A49%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
   [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A49%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D59749632E\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:49:35.5214638Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A49%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
  [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35?sv=Sanitized&se=2025-07-12T23%3A49%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%3Dpath%40%23%25%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35\"><Prefix>source=path@#%/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>source=path@#%/file%3Dtest%26</Name><VersionId>2025-07-11T23:49:35.3505615Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:49:35 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:49:35 GMT</Last-Modified><Etag>0x8DDC0D59735B6FC</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>source=path@#%/file=test!@#$%</Name><VersionId>2025-07-11T23:49:35.2556156Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:49:35 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:49:35 GMT</Last-Modified><Etag>0x8DDC0D59728E79E</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><BlobPrefix><Name>source=path@#%/folder=bar/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7354d7b-21ff-5003-be1f-e94abd63a017/source%3Dpath%40%23%25/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35/source%3Dpath%40%23%25/file%253Dtest%2526?sv=sanitized-value&se=2025-07-12T23%3A49%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5976F0E12\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-content-crc64": "UCwxzQkdBno=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:49:35.7683218Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35?sv=Sanitized&se=2025-07-12T23%3A49%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%3Dpath%40%23%25%2Ffolder%3Dbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Co[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7354d7b-21ff-5003-be1f-e94abd63a017/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?sv=sanitized-value&se=2025-07-12T23%3A49%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5976FD149\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-content-crc64": "RUSdtcw9FZQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:49:35.7733193Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7354d7b-21ff-5003-be1f-e94abd63a017/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?sv=sanitized-value&se=2025-07-12T23%3A49%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5977B1A40\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-content-crc64": "L0MQ+FUFNnM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:49:35.8482763Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7354d7b-21ff-5003-be1f-e94abd63a017/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=sanitized-value&se=2025-07-12T23%3A49%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5977A570D\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-content-crc64": "ceTzHeNwUH4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:49:35.8422797Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35?sv=Sanitized&se=2025-07-12T23%3A49%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%3Dpath%40%23%25%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7354d7b-21ff-5003-be1f-e94abd63a017?restype=container&comp=list&prefix=source%3Dpath%40%23%25%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:49:36 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-a7354d7b-21ff-5003-be1f-e94abd63a017\"><Prefix>source=path@#%/</Prefix><Blobs><Blob><Name>source=path@#%/file%3Dtest%26</Name><VersionId>2025-07-11T23:49:35.7683218Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:49:35 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:49:35 GMT</Last-Modified><Etag>0x8DDC0D5976F0E12</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>UCwxzQkdBno=</Content-CRC64><Content-MD5>iPhUjFv7t/3Tm+e/a/hRvg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 11 Jul 2025 23:49:35 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>source=path@#%/file=test!@#$%</Name><VersionId>2025-07-11T23:49:35.7733193Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:49:35 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:49:35 GMT</Last-Modified><Etag>0x8DDC0D5976FD149</Etag><Content-Length>1024</Content-L[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35/source%3Dpath%40%23%25/file%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A49%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D59735B6FC\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:49:35.3505615Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7354d7b-21ff-5003-be1f-e94abd63a017/source%3Dpath%40%23%25/file%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:49:36 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "iPhUjFv7t/3Tm+e/a/hRvg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D5976F0E12\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:49:35.7683218Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35/source%3Dpath%40%23%25/file%253Dtest%2526?sv=Sanitized&se=2025-07-12T23%3A49%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC0D59735B6FC\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D59735B6FC\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7354d7b-21ff-5003-be1f-e94abd63a017/source%3Dpath%40%23%25/file%253Dtest%2526",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDC0D5976F0E12\"",
        "x-ms-date": "Fri, 11 Jul 2025 23:49:36 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D5976F0E12\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-blob-content-md5": "iPhUjFv7t/3Tm+e/a/hRvg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 23:49:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-97c3d2dd-4ebe-95df-4254-08c0f5eaab35?sv=Sanitized&se=2025-07-12T23%3A49%3A35Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:0a8d86ef-701e-0011-28be-f24076000000\n",
        "Time:2025-07-11T23:49:37.3077168Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-11T16:49:35.1458398-07:00",
    "RandomSeed": "1622831972",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
