{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-325f0dd4-09ad-b5e1-5e51-8ecc2677f3af?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:47 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D57AAB54F8\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:47 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-325f0dd4-09ad-b5e1-5e51-8ecc2677f3af/sourceFolder/test-file-8e535dc5-5029-4413-f431-9c962fb420cb?sv=Sanitized&se=2025-07-12T23%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D57ABEC87D\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:47.6369021Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-325f0dd4-09ad-b5e1-5e51-8ecc2677f3af/sourceFolder/test-file-8e535dc5-5029-4413-f431-9c962fb420cb?sv=Sanitized&se=2025-07-12T23%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "w/Mr1VyS9FJFjFmWcGNYi4mEqU5u4rqENtL6Hk5DbLlGxtI8iEpvbEaEhUfmkRAxsnVFU5CdZ+A4pp+JmNYDAR+fUKmQHAM+FD0I6V1znqTCyGvZ/RkoqV/xA+Gr5tNvgYMoRkFnoJZyBz9TlH2DxQj6x9BrKgMGdqZKnhkhky1pmGjaSldjWijVZ/bZ1RTibj3ZsB8DBFd/Is+aHQF9UHMR6vwVqHuwl2ynlcINLKGSaDDbSOIOZZMRWyiHyT0nVxaDyOoXzMbCKBmzXG6UcvUuB7TRoQeQA4VoA01SKM0ugD6siWS3e5tpGR/JWgklfOgzWcGIVrYP8sRlr8l4b/9Lhdsw6OiRdowZZ4jnxql8Q4dkHs8MpSqInZefUcvS8akgftUt9JQAouI1b+4tJysb6WxBFFAwP9+xqEtR8SXAR3bex0jTTk7yZHzs1jY7WnVrhGdfkN1Y7z/1e0xJrrG9dCd4T1/jR5odT6/URGipdk7V5Wy9YLeYhtgI3dMBqLXLLmEPwgoWiDzNQUAthKrXTAX+dMlE/xRw38mG2mrGHKb5CBUGmrNDvl0w8B52awEuMZDOAzTshy9NnuJBkK3SBiWZM3uU0LJRurVrFA/1+XTHWKjZ+BhyDYDmufvQAS6vXen53DeFmWHdfEh+gHMfWKVtejcF+A4MJyb6rhc=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D57AC5F35F\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "75++aOVuF0M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-325f0dd4-09ad-b5e1-5e51-8ecc2677f3af/sourceFolder/bar/test-file-2154f85f-45ca-4120-363d-a6cd34eee259?sv=Sanitized&se=2025-07-12T23%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D57AD99F8D\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:47.8128013Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-325f0dd4-09ad-b5e1-5e51-8ecc2677f3af/sourceFolder/bar/test-file-2154f85f-45ca-4120-363d-a6cd34eee259?sv=Sanitized&se=2025-07-12T23%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-325f0dd4-09ad-b5e1-5e51-8ecc2677f3af/sourceFolder/pik/test-file-22181a7c-2723-9eb2-e3fd-fd63c40de666?sv=Sanitized&se=2025-07-12T23%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D57AE647E1\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:47.8957537Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-325f0dd4-09ad-b5e1-5e51-8ecc2677f3af/sourceFolder/pik/test-file-22181a7c-2723-9eb2-e3fd-fd63c40de666?sv=Sanitized&se=2025-07-12T23%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-325f0dd4-09ad-b5e1-5e51-8ecc2677f3af?sv=Sanitized&se=2025-07-12T23%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-325f0dd4-09ad-b5e1-5e51-8ecc2677f3af\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-8e535dc5-5029-4413-f431-9c962fb420cb</Name><VersionId>2025-07-11T23:48:47.6369021Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:48:47 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:48:47 GMT</Last-Modified><Etag>0x8DDC0D57AC5F35F</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-cad63aff-40d3-8127-940b-01cfd73aebd5</Name><VersionId>2025-07-11T23:48:47.7258515Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:48:47 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:48:47 GMT</Last-Modified><Etag>0x8DDC0D57AD310D4</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-325f0dd4-09ad-b5e1-5e51-8ecc2677f3af?sv=Sanitized&se=2025-07-12T23%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b7a6d96c-b107-53a4-7b21-587923a48eef/destinationFolder/test-file-8e535dc5-5029-4413-f431-9c962fb420cb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-325f0dd4-09ad-b5e1-5e51-8ecc2677f3af/sourceFolder/test-file-8e535dc5-5029-4413-f431-9c962fb420cb?sv=sanitized-value&se=2025-07-12T23%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D57B0145FD\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:48 GMT",
        "x-ms-content-crc64": "75++aOVuF0M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:48.0726525Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-325f0dd4-09ad-b5e1-5e51-8ecc2677f3af?sv=Sanitized&se=2025-07-12T23%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b7a6d96c-b107-53a4-7b21-587923a48eef/destinationFolder/bar/test-file-2154f85f-45ca-4120-363d-a6cd34eee259",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-325f0dd4-09ad-b5e1-5e51-8ecc2677f3af/sourceFolder/bar/test-file-2154f85f-45ca-4120-363d-a6cd34eee259?sv=sanitized-value&se=2025-07-12T23%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D57B09A930\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:48 GMT",
        "x-ms-content-crc64": "b25jkrxAbZU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:48.1276208Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b7a6d96c-b107-53a4-7b21-587923a48eef/destinationFolder/pik/test-file-22181a7c-2723-9eb2-e3fd-fd63c40de666",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-325f0dd4-09ad-b5e1-5e51-8ecc2677f3af/sourceFolder/pik/test-file-22181a7c-2723-9eb2-e3fd-fd63c40de666?sv=sanitized-value&se=2025-07-12T23%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D57B0F9BC4\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:48 GMT",
        "x-ms-content-crc64": "fqZucyB5q90=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:48.1665988Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-325f0dd4-09ad-b5e1-5e51-8ecc2677f3af?sv=Sanitized&se=2025-07-12T23%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b7a6d96c-b107-53a4-7b21-587923a48eef?restype=container&comp=list&prefix=destinationFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-b7a6d96c-b107-53a4-7b21-587923a48eef\"><Prefix>destinationFolder/</Prefix><Blobs><Blob><Name>destinationFolder/bar/test-file-2154f85f-45ca-4120-363d-a6cd34eee259</Name><VersionId>2025-07-11T23:48:48.1276208Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:48:48 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:48:48 GMT</Last-Modified><Etag>0x8DDC0D57B09A930</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>b25jkrxAbZU=</Content-CRC64><Content-MD5>9oVk40Rsn4PAgSUSvP6BQg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 11 Jul 2025 23:48:48 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destinationFolder/pik/test-file-22181a7c-2723-9eb2-e3fd-fd63c40de666</Name><VersionId>2025-07-11T23:48:48.1665988Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:48:48 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:48:48 GMT</Last-Modified><Etag>0x8DDC0D57B0F9BC[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-325f0dd4-09ad-b5e1-5e51-8ecc2677f3af/sourceFolder/bar/test-file-2154f85f-45ca-4120-363d-a6cd34eee259?sv=Sanitized&se=2025-07-12T23%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D57AE0073D\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:48:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:47.8128013Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b7a6d96c-b107-53a4-7b21-587923a48eef/destinationFolder/bar/test-file-2154f85f-45ca-4120-363d-a6cd34eee259",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "9oVk40Rsn4PAgSUSvP6BQg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D57B09A930\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:48:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 23:48:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:48.1276208Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-325f0dd4-09ad-b5e1-5e51-8ecc2677f3af/sourceFolder/bar/test-file-2154f85f-45ca-4120-363d-a6cd34eee259?sv=Sanitized&se=2025-07-12T23%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC0D57AE0073D\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D57AE0073D\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:48:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:47.8128013Z"
      },
      "ResponseBody": "XxQMzDoexiQPTjO5WZ+YyRekyR2jb0/IYiCTQ7Ded1abS6bnz4MCQTEvEXsRZ+iXpdy2kCTEte/ERGoZioN0MdfdHg75sfqToYjrdF7Ttvo4/J3TJ+cx1pW2IooZ6Lauu9+kNEnanfTiIu6c2UGR8Y5v4Y7loAnwq0d4Qo5verjSPbh+L4KxXl6o8QX4lf1UJTH8qQcnyBvVtIkBYlplc6g2yZyIEsELvYMvPa8E+BVKIx1dctCxqnSdqHr5sPsDQ31dwsthzBJv8OuE94ts0bxztj49BwDXhB8n62lHEg2HLPkxpzVJ6VcK7oHkLLLoMNe+hfm9xjt9hT2sOeCpJ97e/MuROyqGKs3nMxh+8ldsP7uSiI0Uyma+syH4nbB2YcajBi/nV/WtN1ss1ZIi/pLlP/olFp9QyTJl04cIjYwccNFR2uwnhOfF5FAy6PTTm7WOE122UUonUz39goNuparOD2TB0CSmvboSYDJOHuA9kjjReXovZh+HKoevKgJkVz+mY9iQEsqR6FWipPAY2TRcv/BLnCsvnqlEOaac95K4rQjyp7sIrYBtQJEljcIub1BTUmsSGLoUd8QvS9gj9PHC6vboJTJ5VBFw3VuZChHnFcpWSaQnpZRO3i/22GKnSUygYqPMRkoe2f5Zojtfem2zSDYNzapMm0RhmkYCgns="
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b7a6d96c-b107-53a4-7b21-587923a48eef/destinationFolder/bar/test-file-2154f85f-45ca-4120-363d-a6cd34eee259",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDC0D57B09A930\"",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:48 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D57B09A930\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:48 GMT",
        "x-ms-blob-content-md5": "9oVk40Rsn4PAgSUSvP6BQg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:48:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 23:48:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:48.1276208Z"
      },
      "ResponseBody": "XxQMzDoexiQPTjO5WZ+YyRekyR2jb0/IYiCTQ7Ded1abS6bnz4MCQTEvEXsRZ+iXpdy2kCTEte/ERGoZioN0MdfdHg75sfqToYjrdF7Ttvo4/J3TJ+cx1pW2IooZ6Lauu9+kNEnanfTiIu6c2UGR8Y5v4Y7loAnwq0d4Qo5verjSPbh+L4KxXl6o8QX4lf1UJTH8qQcnyBvVtIkBYlplc6g2yZyIEsELvYMvPa8E+BVKIx1dctCxqnSdqHr5sPsDQ31dwsthzBJv8OuE94ts0bxztj49BwDXhB8n62lHEg2HLPkxpzVJ6VcK7oHkLLLoMNe+hfm9xjt9hT2sOeCpJ97e/MuROyqGKs3nMxh+8ldsP7uSiI0Uyma+syH4nbB2YcajBi/nV/WtN1ss1ZIi/pLlP/olFp9QyTJl04cIjYwccNFR2uwnhOfF5FAy6PTTm7WOE122UUonUz39goNuparOD2TB0CSmvboSYDJOHuA9kjjReXovZh+HKoevKgJkVz+mY9iQEsqR6FWipPAY2TRcv/BLnCsvnqlEOaac95K4rQjyp7sIrYBtQJEljcIub1BTUmsSGLoUd8QvS9gj9PHC6vboJTJ5VBFw3VuZChHnFcpWSaQnpZRO3i/22GKnSUygYqPMRkoe2f5Zojtfem2zSDYNzapMm0RhmkYCgns="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-325f0dd4-09ad-b5e1-5e51-8ecc2677f3af?sv=Sanitized&se=2025-07-12T23%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:a86893ee-501e-004b-80be-f22691000000\n",
        "Time:2025-07-11T23:48:49.6698983Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-11T16:48:47.5441629-07:00",
    "RandomSeed": "726651803",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
