{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB5796EDF7B\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484/sourceFolder/folder0/test-file-3dcf9536-4e75-8d45-c21a-ee1f46f7b0b4?sv=Sanitized&se=2025-05-08T22%3A21%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB57982BC58\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:12.3686488Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484/sourceFolder/folder0/test-file-3dcf9536-4e75-8d45-c21a-ee1f46f7b0b4?sv=Sanitized&se=2025-05-08T22%3A21%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "sVeLtyXXctJeAPy4Z4lawlNgy7/+z7tUUCtJD+HwG95JIGwpbyAqXiP933VRjSY4wCvM5SvxteKcNmb5jmLwbuQeb0YcMFMyNmycAe9GAsMFEE+2JDayV2uKjTi5MNDADXGQMh7fG4/Xma6+VbTyVjOj9H0SOUquaxfbkqMbeAac2/R9tc+lJfS/3oqH9AK3lzcEFjtSrdMn4scHBIjsvCCoIXm/dKBj/s+IU1u/JncUJPtrF2HLSS0gVtMInSBr0iFp39KJ9yKWoBhsyVp3aLtP8+CNgKW+3ddMnx7NW2CuHYA5VUelii3Z1XdJXoDSqe0XuapA3lJ8qwL6PFgDyUW4vazaPRJ0qmiztKstdX5XefUwtaG1bj4uvapEqk7U1QwykaHT+Gvbog9CjSqmTjWEosNi0hO[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484/sourceFolder/folder0/folder1/test-file-7754c079-220c-112f-4066-34b7be3ba701?sv=Sanitized&se=2025-05-08T22%3A21%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB57991D557\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:12.4675927Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484/sourceFolder/folder0/folder1/test-file-7754c079-220c-112f-4066-34b7be3ba701?sv=Sanitized&se=2025-05-08T22%3A21%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484/sourceFolder/folder0/folder1/folder2/test-file-bb48d9a6-49a3-3edb-7bcf-1caef952434c?sv=Sanitized&se=2025-05-08T22%3A21%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB5799F40E6\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:12.5555430Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484/sourceFolder/folder0/folder1/folder2/test-file-bb48d9a6-49a3-3edb-7bcf-1caef952434c?sv=Sanitized&se=2025-05-08T22%3A21%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version"[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484?sv=Sanitized&se=2025-05-08T22%3A21%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484?sv=Sanitized&se=2025-05-08T22%3A21%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484\"><Prefix>sourceFolder/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/folder1/</Name></BlobPrefix><Blob><Name>sourceFolder/folder0/test-file-3dcf9536-4e75-8d45-c21a-ee1f46f7b0b4</Name><VersionId>2025-05-07T22:21:12.3686488Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:21:12 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:21:12 GMT</Last-Modified><Etag>0x8DD8DB57989721F</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484?sv=Sanitized&se=2025-05-08T22%3A21%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-abf669ca-f64b-05f9-82be-872e4ddee39c/destFolder/folder0/test-file-3dcf9536-4e75-8d45-c21a-ee1f46f7b0b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484/sourceFolder/folder0/test-file-3dcf9536-4e75-8d45-c21a-ee1f46f7b0b4?sv=sanitized-value&se=2025-05-08T22%3A21%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB579BB0242\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-content-crc64": "kgzBv8//zlQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:12.7374402Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484?sv=Sanitized&se=2025-05-08T22%3A21%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2Ffolder2%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-abf669ca-f64b-05f9-82be-872e4ddee39c/destFolder/folder0/folder1/test-file-7754c079-220c-112f-4066-34b7be3ba701",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484/sourceFolder/folder0/folder1/test-file-7754c079-220c-112f-4066-34b7be3ba701?sv=sanitized-value&se=2025-05-08T22%3A21%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB579C2A245\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-content-crc64": "4jfirQu6mSY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:12.7884112Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-abf669ca-f64b-05f9-82be-872e4ddee39c/destFolder/folder0/folder1/folder2/test-file-bb48d9a6-49a3-3edb-7bcf-1caef952434c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484/sourceFolder/folder0/folder1/folder2/test-file-bb48d9a6-49a3-3edb-7bcf-1caef952434c?sv=sanitized-value&se=2025-05-08T22%3A21%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB579C81FBB\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-content-crc64": "93GTayP9a+g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:12.8233915Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484?sv=Sanitized&se=2025-05-08T22%3A21%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-abf669ca-f64b-05f9-82be-872e4ddee39c?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:21:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-abf669ca-f64b-05f9-82be-872e4ddee39c\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/folder0/folder1/folder2/test-file-bb48d9a6-49a3-3edb-7bcf-1caef952434c</Name><VersionId>2025-05-07T22:21:12.8233915Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:21:12 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:21:12 GMT</Last-Modified><Etag>0x8DD8DB579C81FBB</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>93GTayP9a+g=</Content-CRC64><Content-MD5>5V0gYxazqcU/t7U+7SFYsg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Wed, 07 May 2025 22:21:12 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/folder0/folder1/test-file-7754c079-220c-112f-4066-34b7be3ba701</Name><VersionId>2025-05-07T22:21:12.7884112Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:21:12 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:21:12 GMT</Last-Modified><Etag>0x8DD8DB579[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484/sourceFolder/folder0/folder1/folder2/test-file-bb48d9a6-49a3-3edb-7bcf-1caef952434c?sv=Sanitized&se=2025-05-08T22%3A21%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB579A5CFA3\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:12.5555430Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-abf669ca-f64b-05f9-82be-872e4ddee39c/destFolder/folder0/folder1/folder2/test-file-bb48d9a6-49a3-3edb-7bcf-1caef952434c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:21:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "5V0gYxazqcU/t7U+7SFYsg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB579C81FBB\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:12.8233915Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484/sourceFolder/folder0/folder1/folder2/test-file-bb48d9a6-49a3-3edb-7bcf-1caef952434c?sv=Sanitized&se=2025-05-08T22%3A21%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD8DB579A5CFA3\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB579A5CFA3\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-abf669ca-f64b-05f9-82be-872e4ddee39c/destFolder/folder0/folder1/folder2/test-file-bb48d9a6-49a3-3edb-7bcf-1caef952434c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD8DB579C81FBB\"",
        "x-ms-date": "Wed, 07 May 2025 22:21:13 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB579C81FBB\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-blob-content-md5": "5V0gYxazqcU/t7U+7SFYsg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:21:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9077c28c-dcf0-5861-be1d-c8ba9fb19484?sv=Sanitized&se=2025-05-08T22%3A21%3A12Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:c3382337-301e-0086-189e-bf167b000000\n",
        "Time:2025-05-07T22:21:14.0505159Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-07T15:21:12.2731022-07:00",
    "RandomSeed": "1444026123",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
