{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00629B2AEE20\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:44 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e/sourceFolder/item1?sv=Sanitized&se=2025-10-01T20%3A47%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00629B470CA8\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e/sourceFolder/item1?sv=Sanitized&se=2025-10-01T20%3A47%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Uex8FddmC421y3gM2M8mypV2f84LrmSHtae/rANg3xr8MVqWFoizUmg7fDGw6zyiCJW3RasxyKKH9V8vp1+JVexeD6Z0j7MNwyxl0DIz18prHKNtqJpuymm4DyEog6sJsSZFUduVLnjiqoJ+zPhvVB2VxIq8HK1S70U9vICR5D+AXB4L7oXv1e4qi/4X7/5wSLsDk78hTJV58mGWWHH4UMVC/W/ZZGWYpu+bkZCuOgBGzXTFjlGAXw+JkvskWHx9MTo41fKPluRVa+3PhroEy7hhT4v9M8J0wp5fUNJqc01yHmBWdWUOtzaPbyJjsNhUhcdCwgjxf/54xBJTL0UR6vifXWharlVTU5hUbcOgEBLFCssLJ7BEgZ5h3bFSuojwfoUqxFJw+dZx729wnBE72LMAjSR6BsJ[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-be6763f0-de08-a97b-5d34-013943d3e162/destPrefix/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:44 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody"[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e/sourceFolder/test-file-2907edbf-36ba-5abe-ffb9-57d0dcf280bb?sv=Sanitized&se=2025-10-01T20%3A47%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00629B6327AF\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e/sourceFolder/test-file-2907edbf-36ba-5abe-ffb9-57d0dcf280bb?sv=Sanitized&se=2025-10-01T20%3A47%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
  [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e/sourceFolder/bar/test-file-7ebb0c0e-d14a-b3f2-c903-e9c3aa4b5b27?sv=Sanitized&se=2025-10-01T20%3A47%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00629B7562A0\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e/sourceFolder/bar/test-file-7ebb0c0e-d14a-b3f2-c903-e9c3aa4b5b27?sv=Sanitized&se=2025-10-01T20%3A47%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      }[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e/sourceFolder/pik/test-file-870ee083-e7d1-bf6c-7b8c-b0563df587c9?sv=Sanitized&se=2025-10-01T20%3A47%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00629B879DAE\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e/sourceFolder/pik/test-file-870ee083-e7d1-bf6c-7b8c-b0563df587c9?sv=Sanitized&se=2025-10-01T20%3A47%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      }[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e?sv=Sanitized&se=2025-10-01T20%3A47%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-21951d7a-9f8b-768c-c796-adb11fb5202e\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><Blob><Name>sourceFolder/item1</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:47:44 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:47:44 GMT</Last-Modified><Etag>0x8DE00629B50510C</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-2907edbf-36ba-5abe-ffb9-57d0dcf280bb</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:47:44 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:47:44 GMT</Last-Modified><Etag>0x8DE00629B6C4522</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e?sv=Sanitized&se=2025-10-01T20%3A47%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e?sv=Sanitized&se=2025-10-01T20%3A47%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-be6763f0-de08-a97b-5d34-013943d3e162/destPrefix/test-file-2907edbf-36ba-5abe-ffb9-57d0dcf280bb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e/sourceFolder/test-file-2907edbf-36ba-5abe-ffb9-57d0dcf280bb?sv=sanitized-value&se=2025-10-01T20%3A47%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:45 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00629BB8141E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:45 GMT",
        "x-ms-content-crc64": "cuNQEDd9ilk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-be6763f0-de08-a97b-5d34-013943d3e162/destPrefix/pik/test-file-870ee083-e7d1-bf6c-7b8c-b0563df587c9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e/sourceFolder/pik/test-file-870ee083-e7d1-bf6c-7b8c-b0563df587c9?sv=sanitized-value&se=2025-10-01T20%3A47%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:45 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00629BC5E73E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:45 GMT",
        "x-ms-content-crc64": "K6uwJkdOClY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-be6763f0-de08-a97b-5d34-013943d3e162/destPrefix/bar/test-file-7ebb0c0e-d14a-b3f2-c903-e9c3aa4b5b27",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e/sourceFolder/bar/test-file-7ebb0c0e-d14a-b3f2-c903-e9c3aa4b5b27?sv=sanitized-value&se=2025-10-01T20%3A47%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:45 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00629BC60E22\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:45 GMT",
        "x-ms-content-crc64": "QmOAvV2iswU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e?sv=Sanitized&se=2025-10-01T20%3A47%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-be6763f0-de08-a97b-5d34-013943d3e162?restype=container&comp=list&prefix=destPrefix%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:45 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-be6763f0-de08-a97b-5d34-013943d3e162\"><Prefix>destPrefix/</Prefix><Blobs><Blob><Name>destPrefix/bar/test-file-7ebb0c0e-d14a-b3f2-c903-e9c3aa4b5b27</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:47:45 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:47:45 GMT</Last-Modified><Etag>0x8DE00629BC60E22</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>QmOAvV2iswU=</Content-CRC64><Content-MD5>/F9+7W6I1eCuW6Uie3b7fw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destPrefix/item1</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:47:44 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:47:45 GMT</Last-Modified><Etag>0x8DE00629BBC7C04</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>9CX+gEDRgNQ=</Content-CRC64><Content-MD5>W0OLaPe1YlYR8kY+LgsY5g==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:47:45 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destPrefix/pik/test-file-870ee083-e7d1-bf6c-7b8c-b0563df587c9</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:47:45 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:47:45 GMT</Last-Modified><Etag>0x8DE00629BC5E73E</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</C[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e/sourceFolder/bar/test-file-7ebb0c0e-d14a-b3f2-c903-e9c3aa4b5b27?sv=Sanitized&se=2025-10-01T20%3A47%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00629B7E8024\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:47:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-be6763f0-de08-a97b-5d34-013943d3e162/destPrefix/bar/test-file-7ebb0c0e-d14a-b3f2-c903-e9c3aa4b5b27",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:45 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "/F9+7W6I1eCuW6Uie3b7fw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00629BC60E22\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:47:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e/sourceFolder/bar/test-file-7ebb0c0e-d14a-b3f2-c903-e9c3aa4b5b27?sv=Sanitized&se=2025-10-01T20%3A47%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00629B7E8024\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00629B7E8024\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:47:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-be6763f0-de08-a97b-5d34-013943d3e162/destPrefix/bar/test-file-7ebb0c0e-d14a-b3f2-c903-e9c3aa4b5b27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE00629BC60E22\"",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00629BC60E22\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:45 GMT",
        "x-ms-blob-content-md5": "/F9+7W6I1eCuW6Uie3b7fw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:47:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "xOVeWxmftf2/S3MIOMzcPmK7FGcjDOChX57Yp[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-be6763f0-de08-a97b-5d34-013943d3e162/destPrefix/item1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:46 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "W0OLaPe1YlYR8kY+LgsY5g==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00629BBC7C04\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:45 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:47:45 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:47:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-21951d7a-9f8b-768c-c796-adb11fb5202e?sv=Sanitized&se=2025-10-01T20%3A47%3A44Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:f5defff6-f01e-003c-754b-328973000000\n",
        "Time:2025-09-30T20:47:47.2702702Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:47:44.4501167-07:00",
    "RandomSeed": "1816130121",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
