{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-23bc07ae-71d1-244d-9c20-646fc71c5671?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5816B4D3C\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-23bc07ae-71d1-244d-9c20-646fc71c5671/sourceFolder/folder0/test-file-fec64cb9-d557-7c96-b4aa-45a32194aeac?sv=Sanitized&se=2025-07-12T23%3A48%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5817DD9F6\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:58.9554166Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-23bc07ae-71d1-244d-9c20-646fc71c5671/sourceFolder/folder0/test-file-fec64cb9-d557-7c96-b4aa-45a32194aeac?sv=Sanitized&se=2025-07-12T23%3A48%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "n2awm/Y2bPBbJ3ZAZHHTboJWtRc6RtQCN+xp1FuUxJG29e1OidgNg+DWoy9fVRdD19Yhy9+WcVmRrWMKzJiVxmPkiW+DhOSpSTE3ZKKlo+HUJf2EcviyIIOUvdx1A7ZHQNzMesyowFLxd4KtXw227AqBNaebEVRqMmnr7scINEZ67yTG2CkVLGWqkvp2BMB23tDS880PrC+IYkdjvdGL6UM8MnDp8BTgbAhB8X5Z9C2odBD2NkB4a0P0PXbhsW+UH6m3OtJPje288YbEzruxL20ZukjBlLIDw8ct9LKd/7uZrdHUorlbWeciOUW5s5yIQw4IyPcn0or3s3YLIpg7HvHLKyHp3Iy0vmFgnlptSRAqpbCjlTbEctpH3O5CTzZO5htT7Yd7nmaBVAmVxjQvimpm4H3omIm[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-23bc07ae-71d1-244d-9c20-646fc71c5671/sourceFolder/folder0/folder1/test-file-80a5544d-f7f2-998c-55e9-1c8213cd8467?sv=Sanitized&se=2025-07-12T23%3A48%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5818A8247\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:59.0383687Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-23bc07ae-71d1-244d-9c20-646fc71c5671/sourceFolder/folder0/folder1/test-file-80a5544d-f7f2-998c-55e9-1c8213cd8467?sv=Sanitized&se=2025-07-12T23%3A48%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-23bc07ae-71d1-244d-9c20-646fc71c5671/sourceFolder/folder0/folder1/folder2/test-file-535cffa1-1e8d-39fb-5ece-8984dd56fd37?sv=Sanitized&se=2025-07-12T23%3A48%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D5819A5E70\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:59.1423088Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-23bc07ae-71d1-244d-9c20-646fc71c5671/sourceFolder/folder0/folder1/folder2/test-file-535cffa1-1e8d-39fb-5ece-8984dd56fd37?sv=Sanitized&se=2025-07-12T23%3A48%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version"[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-23bc07ae-71d1-244d-9c20-646fc71c5671?sv=Sanitized&se=2025-07-12T23%3A48%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-23bc07ae-71d1-244d-9c20-646fc71c5671\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-23bc07ae-71d1-244d-9c20-646fc71c5671?sv=Sanitized&se=2025-07-12T23%3A48%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-23bc07ae-71d1-244d-9c20-646fc71c5671\"><Prefix>sourceFolder/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/folder1/</Name></BlobPrefix><Blob><Name>sourceFolder/folder0/test-file-fec64cb9-d557-7c96-b4aa-45a32194aeac</Name><VersionId>2025-07-11T23:48:58.9554166Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:48:58 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:48:58 GMT</Last-Modified><Etag>0x8DDC0D581841A98</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-23bc07ae-71d1-244d-9c20-646fc71c5671?sv=Sanitized&se=2025-07-12T23%3A48%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ee32b383-7c9a-1204-ade5-9287686053eb/destFolder/folder0/test-file-fec64cb9-d557-7c96-b4aa-45a32194aeac",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-23bc07ae-71d1-244d-9c20-646fc71c5671/sourceFolder/folder0/test-file-fec64cb9-d557-7c96-b4aa-45a32194aeac?sv=sanitized-value&se=2025-07-12T23%3A48%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D581B4C062\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-content-crc64": "WMUdFlWEszM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:59.3152098Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-23bc07ae-71d1-244d-9c20-646fc71c5671?sv=Sanitized&se=2025-07-12T23%3A48%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2Ffolder2%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ee32b383-7c9a-1204-ade5-9287686053eb/destFolder/folder0/folder1/test-file-80a5544d-f7f2-998c-55e9-1c8213cd8467",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-23bc07ae-71d1-244d-9c20-646fc71c5671/sourceFolder/folder0/folder1/test-file-80a5544d-f7f2-998c-55e9-1c8213cd8467?sv=sanitized-value&se=2025-07-12T23%3A48%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D581BC6064\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-content-crc64": "sN0oVY0v5DA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:59.3651812Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ee32b383-7c9a-1204-ade5-9287686053eb/destFolder/folder0/folder1/folder2/test-file-535cffa1-1e8d-39fb-5ece-8984dd56fd37",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-23bc07ae-71d1-244d-9c20-646fc71c5671/sourceFolder/folder0/folder1/folder2/test-file-535cffa1-1e8d-39fb-5ece-8984dd56fd37?sv=sanitized-value&se=2025-07-12T23%3A48%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D581C141AD\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-content-crc64": "Zozs1P1A9y8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:59.3971629Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-23bc07ae-71d1-244d-9c20-646fc71c5671?sv=Sanitized&se=2025-07-12T23%3A48%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ee32b383-7c9a-1204-ade5-9287686053eb?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-ee32b383-7c9a-1204-ade5-9287686053eb\"><Prefix>destFolder/</Prefix><Blobs><Blob><Name>destFolder/folder0/folder1/folder2/test-file-535cffa1-1e8d-39fb-5ece-8984dd56fd37</Name><VersionId>2025-07-11T23:48:59.3971629Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:48:59 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:48:59 GMT</Last-Modified><Etag>0x8DDC0D581C141AD</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>Zozs1P1A9y8=</Content-CRC64><Content-MD5>0bH60ftPtw79IshAOGnOww==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 11 Jul 2025 23:48:59 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/folder0/folder1/test-file-80a5544d-f7f2-998c-55e9-1c8213cd8467</Name><VersionId>2025-07-11T23:48:59.3651812Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:48:59 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:48:59 GMT</Last-Modified><Etag>0x8DDC0D581[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-23bc07ae-71d1-244d-9c20-646fc71c5671/sourceFolder/folder0/folder1/folder2/test-file-535cffa1-1e8d-39fb-5ece-8984dd56fd37?sv=Sanitized&se=2025-07-12T23%3A48%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D581A09F15\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:59.1423088Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ee32b383-7c9a-1204-ade5-9287686053eb/destFolder/folder0/folder1/folder2/test-file-535cffa1-1e8d-39fb-5ece-8984dd56fd37",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "0bH60ftPtw79IshAOGnOww==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D581C141AD\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:48:59.3971629Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-23bc07ae-71d1-244d-9c20-646fc71c5671/sourceFolder/folder0/folder1/folder2/test-file-535cffa1-1e8d-39fb-5ece-8984dd56fd37?sv=Sanitized&se=2025-07-12T23%3A48%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC0D581A09F15\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D581A09F15\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ee32b383-7c9a-1204-ade5-9287686053eb/destFolder/folder0/folder1/folder2/test-file-535cffa1-1e8d-39fb-5ece-8984dd56fd37",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDC0D581C141AD\"",
        "x-ms-date": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D581C141AD\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-blob-content-md5": "0bH60ftPtw79IshAOGnOww==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 23:48:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-23bc07ae-71d1-244d-9c20-646fc71c5671?sv=Sanitized&se=2025-07-12T23%3A48%3A58Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:155261c9-801e-003a-22be-f2c0ba000000\n",
        "Time:2025-07-11T23:49:00.5771382Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-11T16:48:58.8648133-07:00",
    "RandomSeed": "1594124359",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
