{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-149a38be-6b68-a2b5-61b7-3497a4f2771a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7C8E9DE0C\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-149a38be-6b68-a2b5-61b7-3497a4f2771a/sourceFolder/test-file-9233959c-2bad-65ec-b950-b51321289c73?sv=Sanitized&se=2025-02-23T00%3A28%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7C8FC5CEA\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:09.9906794Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-149a38be-6b68-a2b5-61b7-3497a4f2771a/sourceFolder/test-file-9233959c-2bad-65ec-b950-b51321289c73?sv=Sanitized&se=2025-02-23T00%3A28%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "QWvr6LXRO4yZasClNjdKLfFW1UtWZ64W+WDYiuEu3lwX4tK2PbO+aMqhj/XF95yD2B3MMIfsfNq81O9U+bGraoxkjVNllO89mG2BtNe5UQLEVLLEYq3UK2X3+WjEaW4Y9iRpYWlJHkMtjpgaa8gCA4PskKX+5wjej2LtbZuHeC7+aL2yUO+YejVul9MVur+d9fbk19jJGQ8citIHW7GopRZpGwIKT7KTVBVvkE81yNSiUHeloqBVNE6ulsUdkB6ExvG9q5+9kqZDUYPCWom/58L9ZQs5AwN1FOazXLjsdsT36sleeB015b3RYVEdktnE768DICoTS8PuR5e4CTbtVtu+y3DAYG6kyIBNZ6GxV4EM7m0J6FWZ454GcDCFfNuH5Ap2XsZpBI5AX1iqxuMhPPAVqxrJ5G2FJejRufA+HkukxYOXO/i6o+neyIn97x275TNAcNHBvgCc8Tnel0udAkAMBQBgigH3Wggw6hvkhzbLFtS9/a564weD+km/3AueQcVJ8ekcWloySRXIkNPkuGoCE4B24AWRkiH43I+3N378kahVmpVMrrx5i7OZsVI0n0LfvcmKKGHAuF7HI33LehKWzP4qjh7UtWTE/FRR9+HOxD1N13m1cWlHleE3hIo+rhChAuRTCRAjCwdkxisMb8B8+V9AfaKY4VqV4/k8nDA=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7C903AEE1\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "lAypnip/1iM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-149a38be-6b68-a2b5-61b7-3497a4f2771a/sourceFolder/bar/test-file-b5214101-5e18-b7ec-cefb-a8d41ca2f36d?sv=Sanitized&se=2025-02-23T00%3A28%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7C917A920\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:10.1695776Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-149a38be-6b68-a2b5-61b7-3497a4f2771a/sourceFolder/bar/test-file-b5214101-5e18-b7ec-cefb-a8d41ca2f36d?sv=Sanitized&se=2025-02-23T00%3A28%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-149a38be-6b68-a2b5-61b7-3497a4f2771a/sourceFolder/pik/test-file-21bbebf2-0d55-48b3-dd72-174d57a85cb2?sv=Sanitized&se=2025-02-23T00%3A28%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7C924C69A\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:10.2555290Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-149a38be-6b68-a2b5-61b7-3497a4f2771a/sourceFolder/pik/test-file-21bbebf2-0d55-48b3-dd72-174d57a85cb2?sv=Sanitized&se=2025-02-23T00%3A28%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-149a38be-6b68-a2b5-61b7-3497a4f2771a?sv=Sanitized&se=2025-02-23T00%3A28%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-149a38be-6b68-a2b5-61b7-3497a4f2771a\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-b5214101-5e18-b7ec-cefb-a8d41ca2f36d</Name><VersionId>2025-02-22T00:28:10.1695776Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:28:10 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:28:10 GMT</Last-Modified><Etag>0x8DD52D7C91E37D4</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-21bbebf2-0d55-48b3-dd72-174d57a85cb2</Name><VersionId>2025-02-22T00:28:10.2555290Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:28:10 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:28:10 GMT</Last-Modified><Etag>0x8DD52D7C92B2E41</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0cda26b5-9ce4-19b0-5c9d-eee5ad2f0091/destinationFolder/bar/test-file-b5214101-5e18-b7ec-cefb-a8d41ca2f36d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-149a38be-6b68-a2b5-61b7-3497a4f2771a/sourceFolder/bar/test-file-b5214101-5e18-b7ec-cefb-a8d41ca2f36d?sv=sanitized-value&se=2025-02-23T00%3A28%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7C94012C5\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-content-crc64": "NrmrIoZFXEs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:10.4344261Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0cda26b5-9ce4-19b0-5c9d-eee5ad2f0091/destinationFolder/pik/test-file-21bbebf2-0d55-48b3-dd72-174d57a85cb2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-149a38be-6b68-a2b5-61b7-3497a4f2771a/sourceFolder/pik/test-file-21bbebf2-0d55-48b3-dd72-174d57a85cb2?sv=sanitized-value&se=2025-02-23T00%3A28%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7C940D5F7\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-content-crc64": "UUQUaFwmhQY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:10.4404226Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0cda26b5-9ce4-19b0-5c9d-eee5ad2f0091/destinationFolder/test-file-282e0539-865f-d29c-ba22-4abd865d38d3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-149a38be-6b68-a2b5-61b7-3497a4f2771a/sourceFolder/test-file-282e0539-865f-d29c-ba22-4abd865d38d3?sv=sanitized-value&se=2025-02-23T00%3A28%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7C940D5F7\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-content-crc64": "IAMwUENkM4A=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:10.4404226Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-149a38be-6b68-a2b5-61b7-3497a4f2771a?sv=Sanitized&se=2025-02-23T00%3A28%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0cda26b5-9ce4-19b0-5c9d-eee5ad2f0091?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-0cda26b5-9ce4-19b0-5c9d-eee5ad2f0091\"><Prefix>destinationFolder</Prefix><Blobs><Blob><Name>destinationFolder/bar/test-file-b5214101-5e18-b7ec-cefb-a8d41ca2f36d</Name><VersionId>2025-02-22T00:28:10.4344261Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:28:10 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:28:10 GMT</Last-Modified><Etag>0x8DD52D7C94012C5</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>NrmrIoZFXEs=</Content-CRC64><Content-MD5>pj5dL4nuvLumTmNZ0uOX8g==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Sat, 22 Feb 2025 00:28:10 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destinationFolder/pik/test-file-21bbebf2-0d55-48b3-dd72-174d57a85cb2</Name><VersionId>2025-02-22T00:28:10.4404226Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:28:10 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:28:10 GMT</Last-Modified><Etag>0x8DD52D7C940D5F[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-149a38be-6b68-a2b5-61b7-3497a4f2771a/sourceFolder/bar/test-file-b5214101-5e18-b7ec-cefb-a8d41ca2f36d?sv=Sanitized&se=2025-02-23T00%3A28%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7C91E37D4\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:10.1695776Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0cda26b5-9ce4-19b0-5c9d-eee5ad2f0091/destinationFolder/bar/test-file-b5214101-5e18-b7ec-cefb-a8d41ca2f36d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "pj5dL4nuvLumTmNZ0uOX8g==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7C94012C5\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:10.4344261Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-149a38be-6b68-a2b5-61b7-3497a4f2771a/sourceFolder/bar/test-file-b5214101-5e18-b7ec-cefb-a8d41ca2f36d?sv=Sanitized&se=2025-02-23T00%3A28%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D7C91E37D4\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7C91E37D4\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:10.1695776Z"
      },
      "ResponseBody": "C4+1FDz1U1rrVgTKn2L4o3rW11kCUEWGmPK+8+fWoguHR2863ii7C+7HysJaIRdrAwRZRcuZartKLntJNmBzFLT4Q1jzvsVRG8trO4aCK3bbUvDifFxA7dy077CtcdSOU7UOYt6/eEQ/Byr/Li80xwIEbuNwkJhXuFV7Ps4VpKn23OfQdMmYHNqro3UyQL+tfyitqQPwHsMdtqmJQzp1KmOACFFHY1I4bFIJxOwiJXiWzr+mZ/ulBr4ks74gD9igNXkRsTdtZRvVdD2x51nW+pEx8nR6zsJn2gKTI7CUGF15aY5zEHNBKGij0fK+9B9kTbks7hxjJWe2qtc02UJrQFzfOH3LY+ke8MoM1v3QqebjL9X2aClBFUQnvGacDE4mOJGW3ryhmOrPDv5RV05q5gDwUKpsdNgyniM4pKaCguN75p5rOcsqQpbrJ1kr7732vdVmq7ykucS5Yz+YaPRDTIwb1nGw/qw1xg4TgU1+B69lQubQHNYm1y3ZstaLkdmip9rNDxlMRr8oMOWtkDd3OlyPMyYNcjC19P9E1kvWqTQ1cdpysPeWGfwnqOvxeUb1Ynd5/F6ylDSqGBsZB29zUoeweB9dBIpk+Bkp5spExHu5TnPUXKzWgt2myJjcfBGMtFVkQQAmmF7tFANEia1pZVSfYLj8n/Xa2fVBtjvyiHs="
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0cda26b5-9ce4-19b0-5c9d-eee5ad2f0091/destinationFolder/bar/test-file-b5214101-5e18-b7ec-cefb-a8d41ca2f36d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD52D7C94012C5\"",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7C94012C5\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-blob-content-md5": "pj5dL4nuvLumTmNZ0uOX8g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:28:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:10.4344261Z"
      },
      "ResponseBody": "C4+1FDz1U1rrVgTKn2L4o3rW11kCUEWGmPK+8+fWoguHR2863ii7C+7HysJaIRdrAwRZRcuZartKLntJNmBzFLT4Q1jzvsVRG8trO4aCK3bbUvDifFxA7dy077CtcdSOU7UOYt6/eEQ/Byr/Li80xwIEbuNwkJhXuFV7Ps4VpKn23OfQdMmYHNqro3UyQL+tfyitqQPwHsMdtqmJQzp1KmOACFFHY1I4bFIJxOwiJXiWzr+mZ/ulBr4ks74gD9igNXkRsTdtZRvVdD2x51nW+pEx8nR6zsJn2gKTI7CUGF15aY5zEHNBKGij0fK+9B9kTbks7hxjJWe2qtc02UJrQFzfOH3LY+ke8MoM1v3QqebjL9X2aClBFUQnvGacDE4mOJGW3ryhmOrPDv5RV05q5gDwUKpsdNgyniM4pKaCguN75p5rOcsqQpbrJ1kr7732vdVmq7ykucS5Yz+YaPRDTIwb1nGw/qw1xg4TgU1+B69lQubQHNYm1y3ZstaLkdmip9rNDxlMRr8oMOWtkDd3OlyPMyYNcjC19P9E1kvWqTQ1cdpysPeWGfwnqOvxeUb1Ynd5/F6ylDSqGBsZB29zUoeweB9dBIpk+Bkp5spExHu5TnPUXKzWgt2myJjcfBGMtFVkQQAmmF7tFANEia1pZVSfYLj8n/Xa2fVBtjvyiHs="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-149a38be-6b68-a2b5-61b7-3497a4f2771a?sv=Sanitized&se=2025-02-23T00%3A28%3A09Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:0bd6e1f9-101e-004a-55c0-84794d000000\n",
        "Time:2025-02-22T00:28:11.8271904Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T16:28:09.9039912-08:00",
    "RandomSeed": "1436775140",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
