{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9538d102-83fb-bb80-55ea-df83bc2a4c01?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:48:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11D1A798C2\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9538d102-83fb-bb80-55ea-df83bc2a4c01/sourceFolder/test-file-e76a833e-1280-7fde-2f85-c4d81f82ef1c?sv=Sanitized&se=2025-03-08T00%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11D1BA9520\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9538d102-83fb-bb80-55ea-df83bc2a4c01/sourceFolder/test-file-e76a833e-1280-7fde-2f85-c4d81f82ef1c?sv=Sanitized&se=2025-03-08T00%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Nnw1Ewi/wfZADoQQjsIAx4W2Irsm2gevpjHDyG1+WiiF6+3zz4GifsJzp3KNzvBthfxTaF809Vx1hm3X+/mJwrRci6LUDfgDE6P4szKUIthBVkNxK/HIUPaRfUkUy4PI6eW+MUJNmHcDT1W8O0Ip4WOUlqS2GJbCkzqsQ4+v70ggMMlN1vGV873LbdycDBW0Z5zlfzTeEtFO+50IoFXnU18MnAt43Apy/6Ln6qq6Jocl+NzzynATQh33/tpUjVJo4xp8j3AJO4qRcn+S9igmk9UV46h49Inu+FnugN0wHnJPfgaQPZYXG7xRYVfwgUv00WoFP6mq7++QjpcWG7qtYVQNQnghllY+/cfrJ5Mx/ncO+a9zK9/IpI4X/6//AQABpAAC4j7S0zoUxkHiv8hbX5AgByELOjV[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9538d102-83fb-bb80-55ea-df83bc2a4c01/sourceFolder/bar/test-file-8a5e6ba0-f57d-3d35-dad4-3141d5cf219b?sv=Sanitized&se=2025-03-08T00%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11D1DF7FDA\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9538d102-83fb-bb80-55ea-df83bc2a4c01/sourceFolder/bar/test-file-8a5e6ba0-f57d-3d35-dad4-3141d5cf219b?sv=Sanitized&se=2025-03-08T00%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9538d102-83fb-bb80-55ea-df83bc2a4c01/sourceFolder/pik/test-file-cf6080bd-eaa8-32b6-4363-c2bc6fc9bc69?sv=Sanitized&se=2025-03-08T00%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11D1F035E2\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9538d102-83fb-bb80-55ea-df83bc2a4c01/sourceFolder/pik/test-file-cf6080bd-eaa8-32b6-4363-c2bc6fc9bc69?sv=Sanitized&se=2025-03-08T00%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9538d102-83fb-bb80-55ea-df83bc2a4c01?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-file-9538d102-83fb-bb80-55ea-df83bc2a4c01\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-8a5e6ba0-f57d-3d35-dad4-3141d5cf219b</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:48:47 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:48:47 GMT</Last-Modified><Etag>0x8DD5D11D1E7DADE</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-cf6080bd-eaa8-32b6-4363-c2bc6fc9bc69</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:48:47 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:48:47 GMT</Last-Modified><Etag>0x8DD5D11D1F8B7E0</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-D[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-c747c9e6-d351-4023-9003-eac60845c248/destFolder/test-file-2a3209d8-0dc0-a0d8-f419-cbc3900092e9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-file-9538d102-83fb-bb80-55ea-df83bc2a4c01/sourceFolder/test-file-2a3209d8-0dc0-a0d8-f419-cbc3900092e9",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11D577FD49\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:53 GMT",
        "x-ms-content-crc64": "3anFKVe4YNY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-c747c9e6-d351-4023-9003-eac60845c248/destFolder/bar/test-file-8a5e6ba0-f57d-3d35-dad4-3141d5cf219b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-file-9538d102-83fb-bb80-55ea-df83bc2a4c01/sourceFolder/bar/test-file-8a5e6ba0-f57d-3d35-dad4-3141d5cf219b",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11D57871F3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:53 GMT",
        "x-ms-content-crc64": "P1xpVut7Sps=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-c747c9e6-d351-4023-9003-eac60845c248/destFolder/pik/test-file-cf6080bd-eaa8-32b6-4363-c2bc6fc9bc69",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-file-9538d102-83fb-bb80-55ea-df83bc2a4c01/sourceFolder/pik/test-file-cf6080bd-eaa8-32b6-4363-c2bc6fc9bc69",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11D57898D6\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:53 GMT",
        "x-ms-content-crc64": "f7sQGkLZ/qk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9538d102-83fb-bb80-55ea-df83bc2a4c01?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-c747c9e6-d351-4023-9003-eac60845c248?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-file-c747c9e6-d351-4023-9003-eac60845c248\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-8a5e6ba0-f57d-3d35-dad4-3141d5cf219b</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:48:53 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:48:53 GMT</Last-Modified><Etag>0x8DD5D11D57871F3</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>P1xpVut7Sps=</Content-CRC64><Content-MD5>VIUhCEJK19NNYPiC1haxIQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-cf6080bd-eaa8-32b6-4363-c2bc6fc9bc69</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:48:53 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:48:53 GMT</Last-Modified><Etag>0x8DD5D11D57898D6</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encodi[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9538d102-83fb-bb80-55ea-df83bc2a4c01/sourceFolder/bar/test-file-8a5e6ba0-f57d-3d35-dad4-3141d5cf219b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11D1E7DADE\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:48:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-c747c9e6-d351-4023-9003-eac60845c248/destFolder/bar/test-file-8a5e6ba0-f57d-3d35-dad4-3141d5cf219b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "VIUhCEJK19NNYPiC1haxIQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11D57871F3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:53 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:48:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9538d102-83fb-bb80-55ea-df83bc2a4c01/sourceFolder/bar/test-file-8a5e6ba0-f57d-3d35-dad4-3141d5cf219b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5D11D1E7DADE\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11D1E7DADE\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:48:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-c747c9e6-d351-4023-9003-eac60845c248/destFolder/bar/test-file-8a5e6ba0-f57d-3d35-dad4-3141d5cf219b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5D11D57871F3\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11D57871F3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:53 GMT",
        "x-ms-blob-content-md5": "VIUhCEJK19NNYPiC1haxIQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:48:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "YhiNSPpTPeqbdeW3VyhDr3xZgtSzBsmG3WZji[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9538d102-83fb-bb80-55ea-df83bc2a4c01/sourceFolder/pik/test-file-cf6080bd-eaa8-32b6-4363-c2bc6fc9bc69",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11D1F8B7E0\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:48:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9538d102-83fb-bb80-55ea-df83bc2a4c01/sourceFolder/test-file-2a3209d8-0dc0-a0d8-f419-cbc3900092e9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11D1D48FA6\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:48:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-file-9538d102-83fb-bb80-55ea-df83bc2a4c01?sv=Sanitized&se=2025-03-08T00%3A48%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:078d3299-201e-005d-66fa-8eaa30000000\n",
        "Time:2025-03-07T00:48:55.2356088Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:48:47.0250022-08:00",
    "RandomSeed": "1300838723",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\n\nrg-amnguyestorage\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
