{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-312c89c0-980b-4b3f-59ad-fb510567fa03?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:46:15 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006266291A8A\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:15 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-312c89c0-980b-4b3f-59ad-fb510567fa03/sourceFolder/test-file-22afa192-d6ea-ff00-806c-ce5823958465?sv=Sanitized&se=2025-10-01T20%3A46%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00626644B99B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-312c89c0-980b-4b3f-59ad-fb510567fa03/sourceFolder/test-file-22afa192-d6ea-ff00-806c-ce5823958465?sv=Sanitized&se=2025-10-01T20%3A46%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Qqdo3GhzlJsPGyAPc8rxoDI9Z4YmH7H5fK7xcswJx4HaqxV8LKj8GCRzuRV4FY5mhmnE+5cK/CL2b1+6gSLOBlOeNce0dXOKQE5is2WbgGcfi+xjRczqz6/zhb1IQpcCpLPB2eDHsRD2ObpIqEi8Wu74mvU1a8CHtGUXwe+1Qv23Xw+y2aeHWNrcbQsRoSZmNivPUKihzDjyOiR6r/AgQPe9kEk5CoFGcUIbWf61dhI+sIrE5fJVFpPWv5+CDKnquywUUxHdLSupid5mhnM5PcMSPP5lW1oEaHq1Ykviw2SYMJ3SoCIBYINeGlwT7o8fnIHbcNCqhV/RD+uWJ8rgx8V6zVXVZ52gENt6BkD98XnqlcbJBlOT7qs9AJA3ajm5flOXmCE5SjTkO2D1L34f1B5xrJEEFsFy5t+ql2cMaKahwYftZlhXsEuR5cvznr4tHitxxb6ntWeRJbJCj7PM19K6U272MW3GGvtGcjH2f0ggfXg7mqPn+gwgW0GmFSGXxA34OEpPNuy+q6vDYEI2m6ZpIRI6kT0v0lhi1tUsHwTZrq4j/Ub90EaLfe73JJrJ6cCbPPMOXTPQyWbx7V8XkYum6bGTEp1fbFHLrhNON62+mOwUkeMRy1F7UjTfC+PndOxjUDvoNdcjO9CiQq4ggpK4M1RzAv+olR1gGL9pgGA=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062664DD711\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "aOyETGvzScM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-312c89c0-980b-4b3f-59ad-fb510567fa03/sourceFolder/bar/test-file-6d731bb6-68ad-db7e-f325-8b277a0c80cb?sv=Sanitized&se=2025-10-01T20%3A46%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062666CFBDF\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-312c89c0-980b-4b3f-59ad-fb510567fa03/sourceFolder/bar/test-file-6d731bb6-68ad-db7e-f325-8b277a0c80cb?sv=Sanitized&se=2025-10-01T20%3A46%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-312c89c0-980b-4b3f-59ad-fb510567fa03/sourceFolder/pik/test-file-3ea32967-948f-911c-4d87-f4e39bfc8b02?sv=Sanitized&se=2025-10-01T20%3A46%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00626681A52C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-312c89c0-980b-4b3f-59ad-fb510567fa03/sourceFolder/pik/test-file-3ea32967-948f-911c-4d87-f4e39bfc8b02?sv=Sanitized&se=2025-10-01T20%3A46%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-312c89c0-980b-4b3f-59ad-fb510567fa03?sv=Sanitized&se=2025-10-01T20%3A46%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-312c89c0-980b-4b3f-59ad-fb510567fa03\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-22afa192-d6ea-ff00-806c-ce5823958465</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:46:15 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:46:15 GMT</Last-Modified><Etag>0x8DE0062664DD711</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-c90fb98b-9930-0124-3078-09f738fe9122</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:46:15 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:46:15 GMT</Last-Modified><Etag>0x8DE006266601225</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-312c89c0-980b-4b3f-59ad-fb510567fa03?sv=Sanitized&se=2025-10-01T20%3A46%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-312c89c0-980b-4b3f-59ad-fb510567fa03?sv=Sanitized&se=2025-10-01T20%3A46%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-273d70d9-ad84-0190-7d20-3982d94b3aa0/destinationFolder/test-file-c90fb98b-9930-0124-3078-09f738fe9122",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-312c89c0-980b-4b3f-59ad-fb510567fa03/sourceFolder/test-file-c90fb98b-9930-0124-3078-09f738fe9122?sv=sanitized-value&se=2025-10-01T20%3A46%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:46:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006266B65CA0\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:16 GMT",
        "x-ms-content-crc64": "puDXwPHFU3Q=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-273d70d9-ad84-0190-7d20-3982d94b3aa0/destinationFolder/bar/test-file-6d731bb6-68ad-db7e-f325-8b277a0c80cb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-312c89c0-980b-4b3f-59ad-fb510567fa03/sourceFolder/bar/test-file-6d731bb6-68ad-db7e-f325-8b277a0c80cb?sv=sanitized-value&se=2025-10-01T20%3A46%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:46:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006266C0FF0E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:16 GMT",
        "x-ms-content-crc64": "uDvvNPM8vGU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-273d70d9-ad84-0190-7d20-3982d94b3aa0/destinationFolder/pik/test-file-3ea32967-948f-911c-4d87-f4e39bfc8b02",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-312c89c0-980b-4b3f-59ad-fb510567fa03/sourceFolder/pik/test-file-3ea32967-948f-911c-4d87-f4e39bfc8b02?sv=sanitized-value&se=2025-10-01T20%3A46%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:46:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006266CB2CC4\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:16 GMT",
        "x-ms-content-crc64": "SNiBCBcXjec=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-312c89c0-980b-4b3f-59ad-fb510567fa03?sv=Sanitized&se=2025-10-01T20%3A46%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-273d70d9-ad84-0190-7d20-3982d94b3aa0?restype=container&comp=list&prefix=destinationFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:46:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-273d70d9-ad84-0190-7d20-3982d94b3aa0\"><Prefix>destinationFolder/</Prefix><Blobs><Blob><Name>destinationFolder/bar/test-file-6d731bb6-68ad-db7e-f325-8b277a0c80cb</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:46:16 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:46:16 GMT</Last-Modified><Etag>0x8DE006266C0FF0E</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>uDvvNPM8vGU=</Content-CRC64><Content-MD5>7n+0zvQbu8Xt7YKQm+M3SA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destinationFolder/pik/test-file-3ea32967-948f-911c-4d87-f4e39bfc8b02</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:46:16 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:46:16 GMT</Last-Modified><Etag>0x8DE006266CB2CC4</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-312c89c0-980b-4b3f-59ad-fb510567fa03/sourceFolder/bar/test-file-6d731bb6-68ad-db7e-f325-8b277a0c80cb?sv=Sanitized&se=2025-10-01T20%3A46%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00626675CB97\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:46:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-273d70d9-ad84-0190-7d20-3982d94b3aa0/destinationFolder/bar/test-file-6d731bb6-68ad-db7e-f325-8b277a0c80cb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:46:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "7n+0zvQbu8Xt7YKQm+M3SA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006266C0FF0E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:46:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-312c89c0-980b-4b3f-59ad-fb510567fa03/sourceFolder/bar/test-file-6d731bb6-68ad-db7e-f325-8b277a0c80cb?sv=Sanitized&se=2025-10-01T20%3A46%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00626675CB97\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00626675CB97\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:46:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "bgiZD6rjjrTLS5qksqQ+i/DiphG15OKy+7U06WLsYQwsZkrp0ZQc0oy+omHO2ihO5wA2l2ZuFokl5xT0r6RS3+qNd0taVbpcxtOE90KB5CGM5QJhtcmmvVDAw+p/KCPna8N2QGLd9JJG2dGT6h5HpALyZ8qi8Skg57n6mpHP3J6wnYt+CqS+r/BwGtv4E9MxeB/njcBYRXqZVlmp4loAdvwz402TyZleNLjZMtZOKNPlySFy6E/dV1cQ5bNKFcyWb6TexTCGnq+FiVkIfxKkSi6Fwxk4jY6tVYz1guPmEx/rQ8IycGOjXypy7V721ddFbJqFxFGzXeEVMW+kkBvLn3U6HTxQctrL4WTuxqAvtn+0sBZJYE7NN+XgHD/z/84Ppk3ovLib9fm/ueLtxJdB5Xrv7+AEgT4nbOVWb1Wb2OKV3x9SR/nHGLodiadr4HNOnzfEAw/tCyQPwVDTRYWkJOEAV+V37p6AKNcm5/iXu4xxB9Ae19TSp9P6Q4Wp89M0eGXGaoiN1rCYQ9o4xyQseAXEYT21hUwMLrARfasY1zQE8W6S0FAD4zAfhZP6md+vzcqA5ZKVf/IYuTzYfFkFgGylNNa1mqe1wH0MlgC5EpTQYq/gmPKibnF7ehcUK2fWGQUnVGUJ+jMjyyQUiOjyX6enBxqqJed6A8VkOR+QoJU="
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-273d70d9-ad84-0190-7d20-3982d94b3aa0/destinationFolder/bar/test-file-6d731bb6-68ad-db7e-f325-8b277a0c80cb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE006266C0FF0E\"",
        "x-ms-date": "Tue, 30 Sep 2025 20:46:17 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006266C0FF0E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:46:16 GMT",
        "x-ms-blob-content-md5": "7n+0zvQbu8Xt7YKQm+M3SA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:46:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "bgiZD6rjjrTLS5qksqQ+i/DiphG15OKy+7U06WLsYQwsZkrp0ZQc0oy+omHO2ihO5wA2l2ZuFokl5xT0r6RS3+qNd0taVbpcxtOE90KB5CGM5QJhtcmmvVDAw+p/KCPna8N2QGLd9JJG2dGT6h5HpALyZ8qi8Skg57n6mpHP3J6wnYt+CqS+r/BwGtv4E9MxeB/njcBYRXqZVlmp4loAdvwz402TyZleNLjZMtZOKNPlySFy6E/dV1cQ5bNKFcyWb6TexTCGnq+FiVkIfxKkSi6Fwxk4jY6tVYz1guPmEx/rQ8IycGOjXypy7V721ddFbJqFxFGzXeEVMW+kkBvLn3U6HTxQctrL4WTuxqAvtn+0sBZJYE7NN+XgHD/z/84Ppk3ovLib9fm/ueLtxJdB5Xrv7+AEgT4nbOVWb1Wb2OKV3x9SR/nHGLodiadr4HNOnzfEAw/tCyQPwVDTRYWkJOEAV+V37p6AKNcm5/iXu4xxB9Ae19TSp9P6Q4Wp89M0eGXGaoiN1rCYQ9o4xyQseAXEYT21hUwMLrARfasY1zQE8W6S0FAD4zAfhZP6md+vzcqA5ZKVf/IYuTzYfFkFgGylNNa1mqe1wH0MlgC5EpTQYq/gmPKibnF7ehcUK2fWGQUnVGUJ+jMjyyQUiOjyX6enBxqqJed6A8VkOR+QoJU="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-312c89c0-980b-4b3f-59ad-fb510567fa03?sv=Sanitized&se=2025-10-01T20%3A46%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:c2555dcb-501e-0035-644b-32cca0000000\n",
        "Time:2025-09-30T20:46:18.4023882Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:46:15.5196087-07:00",
    "RandomSeed": "457350928",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
