{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71f7f010-0c6f-6974-b4ad-84b4fc28ac68?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11CBDA2063\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71f7f010-0c6f-6974-b4ad-84b4fc28ac68/sourceFolder/test-file-8528cf78-3597-8aa5-2d66-b43405bf1a41?sv=Sanitized&se=2025-03-08T00%3A48%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11CBEF1291\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71f7f010-0c6f-6974-b4ad-84b4fc28ac68/sourceFolder/test-file-8528cf78-3597-8aa5-2d66-b43405bf1a41?sv=Sanitized&se=2025-03-08T00%3A48%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Don6HDQ5doEu5v3Opa5B7uJEiDBsh3dFtLQr9cd9hrui/SZ7xf4NfmAra5k2Tc6rX4BGv+qTSoYRtGd/DYC6sV9BK6eHxijjNgrPQRveD2bmf5VHN8bQD7OfaRCWjXDfcbk59CEmJJlXYojgwwlqM6UBmI7qc3qYcRv051wYTaiZ8NBipBpFwFr88NQ+8EuqNTZrlfXi9P0/oYMGMT09PhXfRtM4CI+Ku9gz7oKlWoDQSrImrbezt/vSIwOXPo4dv7G/Xqp4cSyn4NkcrwZ7mUYCNeeKFpFdK4/YZuWM831KFS/R5vzWV9mFf8zdlwj1V4m8lAmnkqggYTIaoApGG+1c0ZnXqbJKLN0NBZfEf5SH4g9bz150o4KGsYXJu7fOPmTfgcVuHq3XcWcrmY0QW+Gek73660u[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71f7f010-0c6f-6974-b4ad-84b4fc28ac68/sourceFolder/bar/test-file-0e8432c5-64e8-6706-9ddf-fd830130b9ae?sv=Sanitized&se=2025-03-08T00%3A48%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11CC116827\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71f7f010-0c6f-6974-b4ad-84b4fc28ac68/sourceFolder/bar/test-file-0e8432c5-64e8-6706-9ddf-fd830130b9ae?sv=Sanitized&se=2025-03-08T00%3A48%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      }[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71f7f010-0c6f-6974-b4ad-84b4fc28ac68/sourceFolder/pik/test-file-1e99c775-f9d5-477f-5d0f-cc9176a43c57?sv=Sanitized&se=2025-03-08T00%3A48%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11CC224524\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71f7f010-0c6f-6974-b4ad-84b4fc28ac68/sourceFolder/pik/test-file-1e99c775-f9d5-477f-5d0f-cc9176a43c57?sv=Sanitized&se=2025-03-08T00%3A48%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      }[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71f7f010-0c6f-6974-b4ad-84b4fc28ac68?sv=Sanitized&se=2025-03-08T00%3A48%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-71f7f010-0c6f-6974-b4ad-84b4fc28ac68\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-0e8432c5-64e8-6706-9ddf-fd830130b9ae</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:48:37 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:48:37 GMT</Last-Modified><Etag>0x8DD5D11CC19C335</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-1e99c775-f9d5-477f-5d0f-cc9176a43c57</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:48:37 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:48:37 GMT</Last-Modified><Etag>0x8DD5D11CC2A794C</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-D[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8530e013-8664-0632-9d75-e4656df05e4f/destinationFolder/test-file-8528cf78-3597-8aa5-2d66-b43405bf1a41",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-71f7f010-0c6f-6974-b4ad-84b4fc28ac68/sourceFolder/test-file-8528cf78-3597-8aa5-2d66-b43405bf1a41?sv=sanitized-value&se=2025-03-08T00%3A48%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11CC486700\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-content-crc64": "JVvCkJisZ6Y=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8530e013-8664-0632-9d75-e4656df05e4f/destinationFolder/bar/test-file-0e8432c5-64e8-6706-9ddf-fd830130b9ae",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-71f7f010-0c6f-6974-b4ad-84b4fc28ac68/sourceFolder/bar/test-file-0e8432c5-64e8-6706-9ddf-fd830130b9ae?sv=sanitized-value&se=2025-03-08T00%3A48%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11CC4A6093\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-content-crc64": "sjm3ZCuUdvk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8530e013-8664-0632-9d75-e4656df05e4f/destinationFolder/pik/test-file-1e99c775-f9d5-477f-5d0f-cc9176a43c57",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-71f7f010-0c6f-6974-b4ad-84b4fc28ac68/sourceFolder/pik/test-file-1e99c775-f9d5-477f-5d0f-cc9176a43c57?sv=sanitized-value&se=2025-03-08T00%3A48%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11CC4A6093\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-content-crc64": "8qBlw3cg0LU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71f7f010-0c6f-6974-b4ad-84b4fc28ac68?sv=Sanitized&se=2025-03-08T00%3A48%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8530e013-8664-0632-9d75-e4656df05e4f?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:48:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-8530e013-8664-0632-9d75-e4656df05e4f\"><Prefix>destinationFolder</Prefix><Blobs><Blob><Name>destinationFolder/bar/test-file-0e8432c5-64e8-6706-9ddf-fd830130b9ae</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:48:37 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:48:37 GMT</Last-Modified><Etag>0x8DD5D11CC4A6093</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>sjm3ZCuUdvk=</Content-CRC64><Content-MD5>IS1YwAJX99L65vmZSW1CkA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destinationFolder/pik/test-file-1e99c775-f9d5-477f-5d0f-cc9176a43c57</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:48:37 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:48:37 GMT</Last-Modified><Etag>0x8DD5D11CC4A6093</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71f7f010-0c6f-6974-b4ad-84b4fc28ac68/sourceFolder/bar/test-file-0e8432c5-64e8-6706-9ddf-fd830130b9ae?sv=Sanitized&se=2025-03-08T00%3A48%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11CC19C335\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8530e013-8664-0632-9d75-e4656df05e4f/destinationFolder/bar/test-file-0e8432c5-64e8-6706-9ddf-fd830130b9ae",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:48:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "IS1YwAJX99L65vmZSW1CkA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11CC4A6093\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71f7f010-0c6f-6974-b4ad-84b4fc28ac68/sourceFolder/bar/test-file-0e8432c5-64e8-6706-9ddf-fd830130b9ae?sv=Sanitized&se=2025-03-08T00%3A48%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D11CC19C335\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11CC19C335\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8530e013-8664-0632-9d75-e4656df05e4f/destinationFolder/bar/test-file-0e8432c5-64e8-6706-9ddf-fd830130b9ae",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5D11CC4A6093\"",
        "x-ms-date": "Fri, 07 Mar 2025 00:48:38 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11CC4A6093\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-blob-content-md5": "IS1YwAJX99L65vmZSW1CkA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:48:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "iGACBOeCPAct3LUonRBm8FpOm5LFpYxhGl1tg[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71f7f010-0c6f-6974-b4ad-84b4fc28ac68?sv=Sanitized&se=2025-03-08T00%3A48%3A37Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:078d1fcc-201e-005d-51fa-8eaa30000000\n",
        "Time:2025-03-07T00:48:39.7818553Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:48:37.2899470-08:00",
    "RandomSeed": "15262061",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
