{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-c1f95a87-5903-7d9f-d8db-a3622b1fcc61?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB377ABF45F08\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:34:32 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-c1f95a87-5903-7d9f-d8db-a3622b1fcc61/sourceFolder/test-file-739c77af-1486-53dd-c3d9-e224335eab9a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB377AD20F7B5\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:34:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-06-24T23:34:34.3577525Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-c1f95a87-5903-7d9f-d8db-a3622b1fcc61/sourceFolder/test-file-739c77af-1486-53dd-c3d9-e224335eab9a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "qEhaecB3Q7VxrX1hGVt43U+KJd5QZ98YBFkPmrGRRV8ye5gR4tlDODPmAtmWezpoYAXUqDjMSUFoQnVmZ6kE32gdLp3CZ/p2R+yqamUFgYgfpzmrvZwmZTJWqJ9j3NGK4SJxeEydpfkKXmFLIt/cYsDsR79vWCLM98lrbL5bEmobIIhClAg8ggJAoV4620NSekXfd5URG4kApYGDMTg7r0z3MAFXms64sMS9L7fDkRyFGPF4e5vUCQT/Qe+GuFDJBPESQqtB++B3JsbQVOzRPRNl/hhGwzOxIib8WFjfMfd08yrFsE9xQx0RAVXUA7UYLQPbIbo4gkG+YR+ERKOHl/XPXGHBDIzE9Lr6NcHe3R9x5CpVBBA8O3DpB08v7P56imlfBKdTVyB2FiwAPU1/4IQAE2B4MZP[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-c1f95a87-5903-7d9f-d8db-a3622b1fcc61/sourceFolder/bar/test-file-d2e076b1-a9a8-4387-428b-72748eade1b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB377AD41253F\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:34:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-06-24T23:34:34.5686335Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-c1f95a87-5903-7d9f-d8db-a3622b1fcc61/sourceFolder/bar/test-file-d2e076b1-a9a8-4387-428b-72748eade1b6?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "CJmEsv21Eyhmj+G[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-c1f95a87-5903-7d9f-d8db-a3622b1fcc61/sourceFolder/pik/test-file-dd824067-a488-7514-9be6-03008380597a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB377AD4EDEE4\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:34:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-06-24T23:34:34.6585828Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-c1f95a87-5903-7d9f-d8db-a3622b1fcc61/sourceFolder/pik/test-file-dd824067-a488-7514-9be6-03008380597a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "ZzFoTev7EZw+pTH[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-c1f95a87-5903-7d9f-d8db-a3622b1fcc61?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-file-c1f95a87-5903-7d9f-d8db-a3622b1fcc61\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-739c77af-1486-53dd-c3d9-e224335eab9a</Name><VersionId>2025-06-24T23:34:34.3577525Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 24 Jun 2025 23:34:34 GMT</Creation-Time><Last-Modified>Tue, 24 Jun 2025 23:34:34 GMT</Last-Modified><Etag>0x8DDB377AD2AE157</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-76edb9dc-710b-4fa4-50b4-c3b9204dbe5c</Name><VersionId>2025-06-24T23:34:34.4676904Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 24 Jun 2025 23:34:34 GMT</Creation-Time><Last-Modified>Tue, 24 Jun 2025 23:34:34 GMT</Last-Modified><Etag>0x8DDB377AD3A2163</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-c1f95a87-5903-7d9f-d8db-a3622b1fcc61?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "202[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-c1f95a87-5903-7d9f-d8db-a3622b1fcc61?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "202[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-024edfda-85cf-75d2-137b-fe303220917c/destFolder/test-file-76edb9dc-710b-4fa4-50b4-c3b9204dbe5c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-c1f95a87-5903-7d9f-d8db-a3622b1fcc61/sourceFolder/test-file-76edb9dc-710b-4fa4-50b4-c3b9204dbe5c",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB377AED4F851\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:34:37 GMT",
        "x-ms-content-crc64": "0cjRzZPsboI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-06-24T23:34:37.2151377Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-024edfda-85cf-75d2-137b-fe303220917c/destFolder/bar/test-file-d2e076b1-a9a8-4387-428b-72748eade1b6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-c1f95a87-5903-7d9f-d8db-a3622b1fcc61/sourceFolder/bar/test-file-d2e076b1-a9a8-4387-428b-72748eade1b6",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB377AED60997\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:34:37 GMT",
        "x-ms-content-crc64": "oRzrKUhkocE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-06-24T23:34:37.2221335Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-024edfda-85cf-75d2-137b-fe303220917c/destFolder/pik/test-file-dd824067-a488-7514-9be6-03008380597a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-c1f95a87-5903-7d9f-d8db-a3622b1fcc61/sourceFolder/pik/test-file-dd824067-a488-7514-9be6-03008380597a",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDB377AEDC7148\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:34:37 GMT",
        "x-ms-content-crc64": "Kwk/A43dBG4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-06-24T23:34:37.2651095Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-c1f95a87-5903-7d9f-d8db-a3622b1fcc61?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-024edfda-85cf-75d2-137b-fe303220917c?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-file-024edfda-85cf-75d2-137b-fe303220917c\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-d2e076b1-a9a8-4387-428b-72748eade1b6</Name><VersionId>2025-06-24T23:34:37.2221335Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 24 Jun 2025 23:34:37 GMT</Creation-Time><Last-Modified>Tue, 24 Jun 2025 23:34:37 GMT</Last-Modified><Etag>0x8DDB377AED60997</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>oRzrKUhkocE=</Content-CRC64><Content-MD5>E9ovPuK+40+NnYhpChYCSw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Tue, 24 Jun 2025 23:34:37 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-dd824067-a488-7514-9be6-03008380597a</Name><VersionId>2025-06-24T23:34:37.2651095Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 24 Jun 2025 23:34:37 GMT</Creation-Time><Last-Modified>Tue, 24 Jun 2025 23:34:37 GMT</Last-Modified><Etag>0x8DDB377AEDC7148</Etag[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-c1f95a87-5903-7d9f-d8db-a3622b1fcc61/sourceFolder/bar/test-file-d2e076b1-a9a8-4387-428b-72748eade1b6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDB377AD47DB06\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:34:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Jun 2025 23:34:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-06-24T23:34:34.5686335Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-024edfda-85cf-75d2-137b-fe303220917c/destFolder/bar/test-file-d2e076b1-a9a8-4387-428b-72748eade1b6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "E9ovPuK+40+NnYhpChYCSw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDB377AED60997\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:34:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Jun 2025 23:34:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 24 Jun 2025 23:34:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-06-24T23:34:37.2221335Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-c1f95a87-5903-7d9f-d8db-a3622b1fcc61/sourceFolder/bar/test-file-d2e076b1-a9a8-4387-428b-72748eade1b6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDB377AD47DB06\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDB377AD47DB06\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:34:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 24 Jun 2025 23:34:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-024edfda-85cf-75d2-137b-fe303220917c/destFolder/bar/test-file-d2e076b1-a9a8-4387-428b-72748eade1b6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDB377AED60997\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDB377AED60997\"",
        "Last-Modified": "Tue, 24 Jun 2025 23:34:37 GMT",
        "x-ms-blob-content-md5": "E9ovPuK+40+NnYhpChYCSw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 24 Jun 2025 23:34:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 24 Jun 2025 23:34:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-c1f95a87-5903-7d9f-d8db-a3622b1fcc61?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "907681995",
    "Storage_TestConfigOAuth": "OAuthTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\n\njalauzon-rg\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
