{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cb223969-3b31-faa3-fee2-db2e054cf1af?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:21:07 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB57695CA6A\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:07 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cb223969-3b31-faa3-fee2-db2e054cf1af/sourceFolder/test-file-61b03b24-39ab-1560-4c42-2cedb2b4f3f6?sv=Sanitized&se=2025-05-08T22%3A21%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB576A840D6\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:07.5813590Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cb223969-3b31-faa3-fee2-db2e054cf1af/sourceFolder/test-file-61b03b24-39ab-1560-4c42-2cedb2b4f3f6?sv=Sanitized&se=2025-05-08T22%3A21%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "9KsWf+n51BN3HCl6EelUB8m7h4f4XJkSMpC7/J46F7L7D/gGnnMNlZXw0l3pjg27WZRcQxK/I5cSBE1YPdh1PAR2fgHwTmlVrvLyCIk7KKOD/6MK3tSgPOxh9JomtFe9epZYcw8LywsqBpUfzRsN1tup1T00a10w1UIVj1nPLvmbNY3z4rWUdzSY39g/gG/QUx6+fd4ZiA84KJ3M9TuxW9ebhJeOGfMlFF4InIyF8FXTRTs7ELEbga1+u7oYyIH55oMApPvXQTkqmGiAEOyCsjhI+LD/dUomgALqEF45DUzdD7UIhUxZ/AQBEXhJmnHA+wiB0M/R+XE42iP47DHb8YscogE2eS3r7vus/WTS3OWRKRRVtz18DBVD0KooYA/SJh/sLfhvioHbleHTJPsNZf0+Z8MchTp[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cb223969-3b31-faa3-fee2-db2e054cf1af/sourceFolder/bar/test-file-bd3c140f-c221-87ca-f2bf-8451cc346093?sv=Sanitized&se=2025-05-08T22%3A21%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB576C49E5E\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:07.7672542Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cb223969-3b31-faa3-fee2-db2e054cf1af/sourceFolder/bar/test-file-bd3c140f-c221-87ca-f2bf-8451cc346093?sv=Sanitized&se=2025-05-08T22%3A21%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
     [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cb223969-3b31-faa3-fee2-db2e054cf1af/sourceFolder/pik/test-file-3b53a0d4-ba5d-4eb8-a24c-5b1be6f129cf?sv=Sanitized&se=2025-05-08T22%3A21%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB576D1E2DE\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:07.8542046Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cb223969-3b31-faa3-fee2-db2e054cf1af/sourceFolder/pik/test-file-3b53a0d4-ba5d-4eb8-a24c-5b1be6f129cf?sv=Sanitized&se=2025-05-08T22%3A21%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
     [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cb223969-3b31-faa3-fee2-db2e054cf1af?sv=Sanitized&se=2025-05-08T22%3A21%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-cb223969-3b31-faa3-fee2-db2e054cf1af\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-4a04698e-1279-1f08-a5ae-9b25fe99471c</Name><VersionId>2025-05-07T22:21:07.6793039Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:21:07 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:21:07 GMT</Last-Modified><Etag>0x8DD8DB576BDC189</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-61b03b24-39ab-1560-4c42-2cedb2b4f3f6</Name><VersionId>2025-05-07T22:21:07.5813590Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:21:07 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:21:07 GMT</Last-Modified><Etag>0x8DD8DB576AF1DAA</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cb223969-3b31-faa3-fee2-db2e054cf1af?sv=Sanitized&se=2025-05-08T22%3A21%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-457bfcc5-7188-aef0-90e9-ea5121ab87c6/destinationFolder/test-file-61b03b24-39ab-1560-4c42-2cedb2b4f3f6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-cb223969-3b31-faa3-fee2-db2e054cf1af/sourceFolder/test-file-61b03b24-39ab-1560-4c42-2cedb2b4f3f6?sv=sanitized-value&se=2025-05-08T22%3A21%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:21:08 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB576F062F3\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:08 GMT",
        "x-ms-content-crc64": "YI8T123HSBU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:08.0540915Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cb223969-3b31-faa3-fee2-db2e054cf1af?sv=Sanitized&se=2025-05-08T22%3A21%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-457bfcc5-7188-aef0-90e9-ea5121ab87c6/destinationFolder/bar/test-file-bd3c140f-c221-87ca-f2bf-8451cc346093",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-cb223969-3b31-faa3-fee2-db2e054cf1af/sourceFolder/bar/test-file-bd3c140f-c221-87ca-f2bf-8451cc346093?sv=sanitized-value&se=2025-05-08T22%3A21%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:21:08 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB576F4A815\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:08 GMT",
        "x-ms-content-crc64": "UJ5sjzXb9/w=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:08.0830752Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-457bfcc5-7188-aef0-90e9-ea5121ab87c6/destinationFolder/pik/test-file-3b53a0d4-ba5d-4eb8-a24c-5b1be6f129cf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-cb223969-3b31-faa3-fee2-db2e054cf1af/sourceFolder/pik/test-file-3b53a0d4-ba5d-4eb8-a24c-5b1be6f129cf?sv=sanitized-value&se=2025-05-08T22%3A21%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:21:08 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB576FA2588\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:08 GMT",
        "x-ms-content-crc64": "kIBvJnJysBw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:08.1180552Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cb223969-3b31-faa3-fee2-db2e054cf1af?sv=Sanitized&se=2025-05-08T22%3A21%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-457bfcc5-7188-aef0-90e9-ea5121ab87c6?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:21:08 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-457bfcc5-7188-aef0-90e9-ea5121ab87c6\"><Prefix>destinationFolder</Prefix><Blobs><Blob><Name>destinationFolder/bar/test-file-bd3c140f-c221-87ca-f2bf-8451cc346093</Name><VersionId>2025-05-07T22:21:08.0830752Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:21:08 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:21:08 GMT</Last-Modified><Etag>0x8DD8DB576F4A815</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>UJ5sjzXb9/w=</Content-CRC64><Content-MD5>g4nrLOxMlD1KK6GMGghdmw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Wed, 07 May 2025 22:21:08 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destinationFolder/pik/test-file-3b53a0d4-ba5d-4eb8-a24c-5b1be6f129cf</Name><VersionId>2025-05-07T22:21:08.1180552Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:21:08 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:21:08 GMT</Last-Modified><Etag>0x8DD8DB576FA258[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cb223969-3b31-faa3-fee2-db2e054cf1af/sourceFolder/bar/test-file-bd3c140f-c221-87ca-f2bf-8451cc346093?sv=Sanitized&se=2025-05-08T22%3A21%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB576CB2D18\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:21:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:07.7672542Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-457bfcc5-7188-aef0-90e9-ea5121ab87c6/destinationFolder/bar/test-file-bd3c140f-c221-87ca-f2bf-8451cc346093",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:21:08 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "g4nrLOxMlD1KK6GMGghdmw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB576F4A815\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:21:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:21:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:08.0830752Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cb223969-3b31-faa3-fee2-db2e054cf1af/sourceFolder/bar/test-file-bd3c140f-c221-87ca-f2bf-8451cc346093?sv=Sanitized&se=2025-05-08T22%3A21%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD8DB576CB2D18\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB576CB2D18\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:21:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-457bfcc5-7188-aef0-90e9-ea5121ab87c6/destinationFolder/bar/test-file-bd3c140f-c221-87ca-f2bf-8451cc346093",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD8DB576F4A815\"",
        "x-ms-date": "Wed, 07 May 2025 22:21:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB576F4A815\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:08 GMT",
        "x-ms-blob-content-md5": "g4nrLOxMlD1KK6GMGghdmw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:21:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:21:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cb223969-3b31-faa3-fee2-db2e054cf1af?sv=Sanitized&se=2025-05-08T22%3A21%3A07Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:c338229f-301e-0086-269e-bf167b000000\n",
        "Time:2025-05-07T22:21:09.6677858Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-07T15:21:07.4873634-07:00",
    "RandomSeed": "1273405813",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
