{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2ec132f1-386c-e2cc-678e-bb79f4f77a76?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:20:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB5623115B0\"",
        "Last-Modified": "Wed, 07 May 2025 22:20:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2ec132f1-386c-e2cc-678e-bb79f4f77a76/sourceFolder/folder0/test-file-628da12a-7e80-bfa1-b7b9-6f9f852e8a12?sv=Sanitized&se=2025-05-08T22%3A20%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB562450A2B\"",
        "Last-Modified": "Wed, 07 May 2025 22:20:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:20:33.3767211Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2ec132f1-386c-e2cc-678e-bb79f4f77a76/sourceFolder/folder0/test-file-628da12a-7e80-bfa1-b7b9-6f9f852e8a12?sv=Sanitized&se=2025-05-08T22%3A20%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "Hy0JEZXr+/5zWgByWOV0icju669MUmTHPgIGb3DC1SnJiL28ywpdPqWO7iV9LmfRRebXlkLbxc3JQtOT5YuOsYXWqc8nt729kawJvmQ+SQ+aNCqJ6z/n7cLw84k3yVka/zygp4SYqY0pGQWV0Qdoi/jD+LFgBMZG77sMN8QzhsdT774nnaKKAoqdYNE6URy7h2iRc9Gouft2WrfJi3LI9ZM9QuJJQe1VOPUmw6P0DJ6fUK9cohP2qzbCsELrwXYY1Gs+/A46ckZ6OzrbgfVXgU4ZKjvDbFOARperhpCqand/Du44tg+PZd5o4WbYGylAay/z0ZY7VWgXvbZ3juy2z9HDXHMHHss/icVdWorspypuahphtpjgQ7mFIfhYGNbxshGVFb+1OUxjtEfR3vreKhaLCCTRVRk[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2ec132f1-386c-e2cc-678e-bb79f4f77a76?sv=Sanitized&se=2025-05-08T22%3A20%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-2ec132f1-386c-e2cc-678e-bb79f4f77a76\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2ec132f1-386c-e2cc-678e-bb79f4f77a76?sv=Sanitized&se=2025-05-08T22%3A20%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-2ec132f1-386c-e2cc-678e-bb79f4f77a76\"><Prefix>sourceFolder/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>sourceFolder/folder0/test-file-628da12a-7e80-bfa1-b7b9-6f9f852e8a12</Name><VersionId>2025-05-07T22:20:33.3767211Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:20:33 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:20:33 GMT</Last-Modified><Etag>0x8DD8DB5624BBFF1</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ce187ab2-6783-db44-ecd4-124ff157a925/destFolder/folder0/test-file-628da12a-7e80-bfa1-b7b9-6f9f852e8a12",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-2ec132f1-386c-e2cc-678e-bb79f4f77a76/sourceFolder/folder0/test-file-628da12a-7e80-bfa1-b7b9-6f9f852e8a12?sv=sanitized-value&se=2025-05-08T22%3A20%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:20:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB56260A47E\"",
        "Last-Modified": "Wed, 07 May 2025 22:20:33 GMT",
        "x-ms-content-crc64": "zMZJMqAAPSc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:20:33.5576190Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2ec132f1-386c-e2cc-678e-bb79f4f77a76?sv=Sanitized&se=2025-05-08T22%3A20%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ce187ab2-6783-db44-ecd4-124ff157a925?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:20:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-ce187ab2-6783-db44-ecd4-124ff157a925\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/folder0/test-file-628da12a-7e80-bfa1-b7b9-6f9f852e8a12</Name><VersionId>2025-05-07T22:20:33.5576190Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:20:33 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:20:33 GMT</Last-Modified><Etag>0x8DD8DB56260A47E</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>zMZJMqAAPSc=</Content-CRC64><Content-MD5>Lk5isWttZP2N+DFi5DcFtg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Wed, 07 May 2025 22:20:33 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2ec132f1-386c-e2cc-678e-bb79f4f77a76/sourceFolder/folder0/test-file-628da12a-7e80-bfa1-b7b9-6f9f852e8a12?sv=Sanitized&se=2025-05-08T22%3A20%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB5624BBFF1\"",
        "Last-Modified": "Wed, 07 May 2025 22:20:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:20:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:20:33.3767211Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ce187ab2-6783-db44-ecd4-124ff157a925/destFolder/folder0/test-file-628da12a-7e80-bfa1-b7b9-6f9f852e8a12",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:20:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "Lk5isWttZP2N+DFi5DcFtg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB56260A47E\"",
        "Last-Modified": "Wed, 07 May 2025 22:20:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:20:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:20:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:20:33.5576190Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2ec132f1-386c-e2cc-678e-bb79f4f77a76/sourceFolder/folder0/test-file-628da12a-7e80-bfa1-b7b9-6f9f852e8a12?sv=Sanitized&se=2025-05-08T22%3A20%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD8DB5624BBFF1\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB5624BBFF1\"",
        "Last-Modified": "Wed, 07 May 2025 22:20:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:20:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ce187ab2-6783-db44-ecd4-124ff157a925/destFolder/folder0/test-file-628da12a-7e80-bfa1-b7b9-6f9f852e8a12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD8DB56260A47E\"",
        "x-ms-date": "Wed, 07 May 2025 22:20:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB56260A47E\"",
        "Last-Modified": "Wed, 07 May 2025 22:20:33 GMT",
        "x-ms-blob-content-md5": "Lk5isWttZP2N+DFi5DcFtg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:20:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:20:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2ec132f1-386c-e2cc-678e-bb79f4f77a76?sv=Sanitized&se=2025-05-08T22%3A20%3A33Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:c5c1f829-101e-0028-249e-bfbb6a000000\n",
        "Time:2025-05-07T22:20:34.2060348Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-07T15:20:33.2833391-07:00",
    "RandomSeed": "457639166",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
