{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0705e8e3-610c-f138-577a-e366f5bb5203?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:47 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00629D148297\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:47 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0705e8e3-610c-f138-577a-e366f5bb5203/sourceFolder/test-file-0b7cd77c-d937-ae0d-b2c4-878fb856ac4b?sv=Sanitized&se=2025-10-01T20%3A47%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00629D2FA07A\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0705e8e3-610c-f138-577a-e366f5bb5203/sourceFolder/test-file-0b7cd77c-d937-ae0d-b2c4-878fb856ac4b?sv=Sanitized&se=2025-10-01T20%3A47%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "n2oZPYRWd3i1sjmYEiuqUHycbnj5ViV356s2hTVQQebn9Et0lSXmJV8EVoSfdJuGGTcSG+gzUkhEoVXYIPJCZHBTsR7gNbtXtkkZ9P+g2HIPsGv+PSX+tKICMPPPDgRswfITTMN9peR8u2WeGl1Jo8njyHCHRCdKVf183gXHh6hErDINjIuvkgqGgYLAX5lEuYwp7EWU5X3LyPbGAcfftTS9Wm0qOxc9MzZlAMKlivZjNyV4nZpir8e1QsOV6JBDp8xNAwQsGn5167gPL+W7JT4AY8qhZheZWqumdfhTqEulIlj2V4bxNh2nA7HiU4Dh+RyFlIXGoUC1tKhZhqSFIkJtaQyMxc63Dyyt+mNltgcqxHvbzhTG3oAXQKLel7B4IeFudOlzVTROzYVYGafdT/6hLsEpqlQ[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0705e8e3-610c-f138-577a-e366f5bb5203/sourceFolder/bar/test-file-e4f10255-ae45-5e3e-efdd-c9df8fc933c9?sv=Sanitized&se=2025-10-01T20%3A47%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00629D543D55\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0705e8e3-610c-f138-577a-e366f5bb5203/sourceFolder/bar/test-file-e4f10255-ae45-5e3e-efdd-c9df8fc933c9?sv=Sanitized&se=2025-10-01T20%3A47%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      }[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0705e8e3-610c-f138-577a-e366f5bb5203/sourceFolder/pik/test-file-97c9249e-0f84-88ea-49b3-d36535e7cc53?sv=Sanitized&se=2025-10-01T20%3A47%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00629D66ED08\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0705e8e3-610c-f138-577a-e366f5bb5203/sourceFolder/pik/test-file-97c9249e-0f84-88ea-49b3-d36535e7cc53?sv=Sanitized&se=2025-10-01T20%3A47%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      }[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0705e8e3-610c-f138-577a-e366f5bb5203?sv=Sanitized&se=2025-10-01T20%3A47%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-0705e8e3-610c-f138-577a-e366f5bb5203\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-0b7cd77c-d937-ae0d-b2c4-878fb856ac4b</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:47:47 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:47:47 GMT</Last-Modified><Etag>0x8DE00629D38E4D2</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-871aa5d3-a8e1-262d-633a-c4d368493d89</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:47:47 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:47:47 GMT</Last-Modified><Etag>0x8DE00629D4B1FD4</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0705e8e3-610c-f138-577a-e366f5bb5203?sv=Sanitized&se=2025-10-01T20%3A47%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0705e8e3-610c-f138-577a-e366f5bb5203?sv=Sanitized&se=2025-10-01T20%3A47%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-864dc900-bf6f-fb41-c002-c66a32de3fc1/destPrefix/test-file-0b7cd77c-d937-ae0d-b2c4-878fb856ac4b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-0705e8e3-610c-f138-577a-e366f5bb5203/sourceFolder/test-file-0b7cd77c-d937-ae0d-b2c4-878fb856ac4b?sv=sanitized-value&se=2025-10-01T20%3A47%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00629D9EAE4B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:48 GMT",
        "x-ms-content-crc64": "n4Wu+NsW3iI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-864dc900-bf6f-fb41-c002-c66a32de3fc1/destPrefix/bar/test-file-e4f10255-ae45-5e3e-efdd-c9df8fc933c9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-0705e8e3-610c-f138-577a-e366f5bb5203/sourceFolder/bar/test-file-e4f10255-ae45-5e3e-efdd-c9df8fc933c9?sv=sanitized-value&se=2025-10-01T20%3A47%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00629DA902F4\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:48 GMT",
        "x-ms-content-crc64": "cmfKiGtfs2E=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-864dc900-bf6f-fb41-c002-c66a32de3fc1/destPrefix/pik/test-file-97c9249e-0f84-88ea-49b3-d36535e7cc53",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-0705e8e3-610c-f138-577a-e366f5bb5203/sourceFolder/pik/test-file-97c9249e-0f84-88ea-49b3-d36535e7cc53?sv=sanitized-value&se=2025-10-01T20%3A47%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00629DB13716\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:48 GMT",
        "x-ms-content-crc64": "Y94G3AXy3ko=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0705e8e3-610c-f138-577a-e366f5bb5203?sv=Sanitized&se=2025-10-01T20%3A47%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-864dc900-bf6f-fb41-c002-c66a32de3fc1?restype=container&comp=list&prefix=destPrefix%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:48 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-864dc900-bf6f-fb41-c002-c66a32de3fc1\"><Prefix>destPrefix/</Prefix><Blobs><Blob><Name>destPrefix/bar/test-file-e4f10255-ae45-5e3e-efdd-c9df8fc933c9</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:47:48 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:47:48 GMT</Last-Modified><Etag>0x8DE00629DA902F4</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>cmfKiGtfs2E=</Content-CRC64><Content-MD5>DVnK8NtnMAJaeBxw+j8c7Q==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destPrefix/pik/test-file-97c9249e-0f84-88ea-49b3-d36535e7cc53</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:47:48 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:47:48 GMT</Last-Modified><Etag>0x8DE00629DB13716</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encodi[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0705e8e3-610c-f138-577a-e366f5bb5203/sourceFolder/bar/test-file-e4f10255-ae45-5e3e-efdd-c9df8fc933c9?sv=Sanitized&se=2025-10-01T20%3A47%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00629D5DA8AB\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:47:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-864dc900-bf6f-fb41-c002-c66a32de3fc1/destPrefix/bar/test-file-e4f10255-ae45-5e3e-efdd-c9df8fc933c9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:49 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "DVnK8NtnMAJaeBxw+j8c7Q==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00629DA902F4\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:47:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0705e8e3-610c-f138-577a-e366f5bb5203/sourceFolder/bar/test-file-e4f10255-ae45-5e3e-efdd-c9df8fc933c9?sv=Sanitized&se=2025-10-01T20%3A47%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00629D5DA8AB\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00629D5DA8AB\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:47:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-864dc900-bf6f-fb41-c002-c66a32de3fc1/destPrefix/bar/test-file-e4f10255-ae45-5e3e-efdd-c9df8fc933c9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DE00629DA902F4\"",
        "x-ms-date": "Tue, 30 Sep 2025 20:47:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00629DA902F4\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:47:48 GMT",
        "x-ms-blob-content-md5": "DVnK8NtnMAJaeBxw+j8c7Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:47:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "rdKTs/2vnnoYWaJ1EN63JnJQ4Qh5davX01JBF[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0705e8e3-610c-f138-577a-e366f5bb5203?sv=Sanitized&se=2025-10-01T20%3A47%3A47Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:c255fc4f-501e-0035-6d4b-32cca0000000\n",
        "Time:2025-09-30T20:47:50.4892976Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:47:47.6584287-07:00",
    "RandomSeed": "1503724851",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
