{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:21:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB57BF17DA9\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:16 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f/sourceFolder/test-file-292755f9-6135-88f1-d28d-11a1a6fdf61c?sv=Sanitized&se=2025-05-08T22%3A21%3A16Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB57C064ADB\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:16.5862619Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f/sourceFolder/test-file-292755f9-6135-88f1-d28d-11a1a6fdf61c?sv=Sanitized&se=2025-05-08T22%3A21%3A16Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "rAYZRqzVQRmR8Fq7B9pWQNDYl12LFuOfvth4XbeLMjVlwrjbiwuiIxQNmEQHNYD3NtDQzmaYkJUieofTXeNiBr0kVUQie7XENXRJfX6el4lXgCfnumTPzDEiuBGDz8Ywq5KG49881boaC5nyTxMXg+L+e9y8e0tZVYkSAMKjQWWuGdLsGLSqG6tszK7K3X0eCjQvhVPpczBGLY1WKdX4d8ozQzVAK2stVGAwUK6cj3cL9PWOdLsSxKWipeomU/LWdFTjl5lI3d7IAjDyuSOBqp0VSjTfaQMPIH+PnoaABgBuWtxZuPfewxYXxXKKHwuCIPpNEQm99wpR1HYauD9YR/swhF5GJ/KlN4Yex6OQhAF0DH6LM/X3sWPRCOOBxAvXvn52WpusPPkIp9mCni9mwVB1pavAzBM[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f/sourceFolder/bar/test-file-3381bf97-0917-3410-07f9-2de9d7f533a6?sv=Sanitized&se=2025-05-08T22%3A21%3A16Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB57C2121EE\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:16.7621614Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f/sourceFolder/bar/test-file-3381bf97-0917-3410-07f9-2de9d7f533a6?sv=Sanitized&se=2025-05-08T22%3A21%3A16Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
 [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f/sourceFolder/pik/test-file-bc3b1795-46e0-5021-81b6-25d77166dce3?sv=Sanitized&se=2025-05-08T22%3A21%3A16Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB57C2E6671\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:16.8491121Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f/sourceFolder/pik/test-file-bc3b1795-46e0-5021-81b6-25d77166dce3?sv=Sanitized&se=2025-05-08T22%3A21%3A16Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
 [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-292755f9-6135-88f1-d28d-11a1a6fdf61c</Name><VersionId>2025-05-07T22:21:16.5862619Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:21:16 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:21:16 GMT</Last-Modified><Etag>0x8DD8DB57C0D0099</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-3b79cbe6-c706-edd5-257d-eeeb6abcc1b9</Name><VersionId>2025-05-07T22:21:16.6742115Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:21:16 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:21:16 GMT</Last-Modified><Etag>0x8DD8DB57C1A6C26</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "202[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "202[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-826ba63a-35aa-28bd-18f1-b8d05cb0c0f0/destFolder/test-file-3b79cbe6-c706-edd5-257d-eeeb6abcc1b9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f/sourceFolder/test-file-3b79cbe6-c706-edd5-257d-eeeb6abcc1b9",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB57F18BE26\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:21 GMT",
        "x-ms-content-crc64": "mWfuXCdX6Y4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:21.7413424Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-826ba63a-35aa-28bd-18f1-b8d05cb0c0f0/destFolder/pik/test-file-bc3b1795-46e0-5021-81b6-25d77166dce3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f/sourceFolder/pik/test-file-bc3b1795-46e0-5021-81b6-25d77166dce3",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB57F1C1909\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:21 GMT",
        "x-ms-content-crc64": "7Es8/6lv7lo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:21.7623305Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-826ba63a-35aa-28bd-18f1-b8d05cb0c0f0/destFolder/bar/test-file-3381bf97-0917-3410-07f9-2de9d7f533a6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f/sourceFolder/bar/test-file-3381bf97-0917-3410-07f9-2de9d7f533a6",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB57F1AE0B7\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:21 GMT",
        "x-ms-content-crc64": "4J+1BlcbO9Y=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:21.7543351Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-826ba63a-35aa-28bd-18f1-b8d05cb0c0f0?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-file-826ba63a-35aa-28bd-18f1-b8d05cb0c0f0\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-3381bf97-0917-3410-07f9-2de9d7f533a6</Name><VersionId>2025-05-07T22:21:21.7543351Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:21:21 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:21:21 GMT</Last-Modified><Etag>0x8DD8DB57F1AE0B7</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64>4J+1BlcbO9Y=</Content-CRC64><Content-MD5>kH+KucSB9UacXleal3IyMQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Wed, 07 May 2025 22:21:21 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-bc3b1795-46e0-5021-81b6-25d77166dce3</Name><VersionId>2025-05-07T22:21:21.7623305Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:21:21 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:21:21 GMT</Last-Modified><Etag>0x8DD8DB57F1C1909</Etag[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f/sourceFolder/bar/test-file-3381bf97-0917-3410-07f9-2de9d7f533a6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB57C27B0AB\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:21:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:16.7621614Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-826ba63a-35aa-28bd-18f1-b8d05cb0c0f0/destFolder/bar/test-file-3381bf97-0917-3410-07f9-2de9d7f533a6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "kH+KucSB9UacXleal3IyMQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB57F1AE0B7\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:21 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:21:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:21:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:21.7543351Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f/sourceFolder/bar/test-file-3381bf97-0917-3410-07f9-2de9d7f533a6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD8DB57C27B0AB\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB57C27B0AB\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:21:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-826ba63a-35aa-28bd-18f1-b8d05cb0c0f0/destFolder/bar/test-file-3381bf97-0917-3410-07f9-2de9d7f533a6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD8DB57F1AE0B7\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB57F1AE0B7\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:21 GMT",
        "x-ms-blob-content-md5": "kH+KucSB9UacXleal3IyMQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:21:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:21:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f/sourceFolder/pik/test-file-bc3b1795-46e0-5021-81b6-25d77166dce3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB57C34F530\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:21:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:16.8491121Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f/sourceFolder/test-file-292755f9-6135-88f1-d28d-11a1a6fdf61c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB57C0D0099\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:21:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:16.5862619Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-38158ddf-af0c-7ddd-dda2-ae714f1e968f?sv=Sanitized&se=2025-05-08T22%3A21%3A16Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:c3382401-301e-0086-239e-bf167b000000\n",
        "Time:2025-05-07T22:21:23.3222398Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-07T15:21:16.4835951-07:00",
    "RandomSeed": "1784390598",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\n\njalauzon-rg\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
