{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.com/availablePhoneNumbers/countries/US/:search?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "none",
          "sms": "inbound+outbound"
        },
        "quantity": 1
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Location": "/availablePhoneNumbers/searchResults/00000000-0000-0000-0000-000000000000?api-version=2025-06-01",
        "MS-CV": "Sanitized",
        "operation-id": "search_00000000-0000-0000-0000-000000000000",
        "Operation-Location": "https://example.com",
        "search-id": "00000000-0000-0000-0000-000000000000",
        "X-Processing-Time": "3438ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.com/phoneNumbers/operations/search_00000000-0000-0000-0000-000000000000?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/availablePhoneNumbers/searchResults/00000000-0000-0000-0000-000000000000?api-version=2025-06-01",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "201ms"
      },
      "ResponseBody": {
        "operationType": "search",
        "status": "running",
        "resourceLocation": "Sanitized",
        "createdDateTime": "2025-08-19T17:18:30.7820731+00:00",
        "id": "search_00000000-0000-0000-0000-000000000000",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.com/availablePhoneNumbers/searchResults/00000000-0000-0000-0000-000000000000?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "239ms"
      },
      "ResponseBody": {
        "searchId": "00000000-0000-0000-0000-000000000000",
        "phoneNumbers": [
          "+14155550100"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "none",
          "sms": "inbound+outbound"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2025-08-19T17:34:31.5146997+00:00",
        "isAgreementToNotResellRequired": false,
        "error": "NoError"
      }
    },
    {
      "RequestUri": "https://Sanitized.com/availablePhoneNumbers/:purchase?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "searchId": "00000000-0000-0000-0000-000000000000"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "MS-CV": "Sanitized",
        "operation-id": "purchase_00000000-0000-0000-0000-000000000000",
        "Operation-Location": "https://example.com",
        "purchase-id": "00000000-0000-0000-0000-000000000000",
        "X-Processing-Time": "1126ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.com/phoneNumbers/operations/purchase_00000000-0000-0000-0000-000000000000?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "216ms"
      },
      "ResponseBody": {
        "operationType": "purchase",
        "status": "running",
        "resourceLocation": null,
        "createdDateTime": "2025-08-19T17:18:30.7820731+00:00",
        "id": "purchase_00000000-0000-0000-0000-000000000000",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.com/phoneNumbers/%2B14155550100?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "255ms"
      },
      "ResponseBody": {
        "id": "14155550100",
        "phoneNumber": "+14155550100",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "none",
          "sms": "inbound+outbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2025-08-19T17:18:49.5217732+00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.com/phoneNumbers/%2B14155550100?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "MS-CV": "Sanitized",
        "operation-id": "release_00000000-0000-0000-0000-000000000000",
        "Operation-Location": "https://example.com",
        "release-id": "00000000-0000-0000-0000-000000000000",
        "X-Processing-Time": "1189ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.com/phoneNumbers/operations/release_00000000-0000-0000-0000-000000000000?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "184ms"
      },
      "ResponseBody": {
        "operationType": "releasePhoneNumber",
        "status": "running",
        "resourceLocation": null,
        "createdDateTime": "2025-08-19T17:18:53.0312785+00:00",
        "id": "release_00000000-0000-0000-0000-000000000000",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.com/phoneNumbers/operations/release_00000000-0000-0000-0000-000000000000?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "138ms"
      },
      "ResponseBody": {
        "operationType": "releasePhoneNumber",
        "status": "succeeded",
        "resourceLocation": null,
        "createdDateTime": "2025-08-19T17:18:53.0312785+00:00",
        "id": "release_00000000-0000-0000-0000-000000000000",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"
      }
    }
  ],
  "Variables": {}
}
