{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "82",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "46abc3e7-8be2-408c-a2d3-304176f890ab",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.182"
      },
      "ResponseBody": {
        "id": "vs_CWb7dgqZlx5vP8VPgFFzujDH",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746740480,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746740480
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "441",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9e77e4f0-8329-410d-ac66-73ff809576fe",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.621"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-WyoTqaMkQACbzMBaGJdDLN",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746740480,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_CWb7dgqZlx5vP8VPgFFzujDH/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-WyoTqaMkQACbzMBaGJdDLN"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "1397",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "85cb55df-10cb-4e87-ba89-df29f97f261b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.605"
      },
      "ResponseBody": {
        "id": "assistant-WyoTqaMkQACbzMBaGJdDLN",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1746740482,
        "vector_store_id": "vs_CWb7dgqZlx5vP8VPgFFzujDH",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_CWb7dgqZlx5vP8VPgFFzujDH/files/assistant-WyoTqaMkQACbzMBaGJdDLN?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "116",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e0e2140f-1630-4b05-ad6c-24d8bcb8b4d2",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.232"
      },
      "ResponseBody": {
        "id": "assistant-WyoTqaMkQACbzMBaGJdDLN",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-WyoTqaMkQACbzMBaGJdDLN?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "244",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "20a10445-5189-4f92-b8d6-543bff8548a0",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.359"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-WyoTqaMkQACbzMBaGJdDLN"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_CWb7dgqZlx5vP8VPgFFzujDH?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "1372",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "478e70e6-5fb7-4921-bd56-8ed7ef0b867d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.511"
      },
      "ResponseBody": {
        "id": "vs_CWb7dgqZlx5vP8VPgFFzujDH",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
