{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "155",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "88561b31-31e2-4dcc-8826-e9e694164c55",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.328"
      },
      "ResponseBody": {
        "id": "vs_fMfwrI3Gj2TShpD1cl3Oyoo8",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746663561,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746663561
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "436",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "47b25073-9f5b-4cc0-a52f-9ee0bb5e25f1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.566"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-36gg2T9p8UXem6gmDV7AtJ",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746663561,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_fMfwrI3Gj2TShpD1cl3Oyoo8/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-36gg2T9p8UXem6gmDV7AtJ"
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "policy-id": "ResourceRateLimitBy1s",
        "Retry-After": "1"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Rate limit is exceeded. Try again in 1 seconds."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_fMfwrI3Gj2TShpD1cl3Oyoo8/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-36gg2T9p8UXem6gmDV7AtJ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "271",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "061840f6-754d-4245-bad8-864a27f70170",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.380"
      },
      "ResponseBody": {
        "id": "assistant-36gg2T9p8UXem6gmDV7AtJ",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746663563,
        "vector_store_id": "vs_fMfwrI3Gj2TShpD1cl3Oyoo8",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_fMfwrI3Gj2TShpD1cl3Oyoo8/files/assistant-36gg2T9p8UXem6gmDV7AtJ?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "375",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e2f2b5ce-fac1-4e26-9525-d3adc0c59ecb",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.554"
      },
      "ResponseBody": {
        "id": "assistant-36gg2T9p8UXem6gmDV7AtJ",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1746663563,
        "vector_store_id": "vs_fMfwrI3Gj2TShpD1cl3Oyoo8",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_fMfwrI3Gj2TShpD1cl3Oyoo8/files/assistant-36gg2T9p8UXem6gmDV7AtJ?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "476",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a1a60195-d263-495e-84ca-b5ae52fd87cd",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.603"
      },
      "ResponseBody": {
        "id": "assistant-36gg2T9p8UXem6gmDV7AtJ",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-36gg2T9p8UXem6gmDV7AtJ?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "918",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "735df023-7377-4f99-b491-3cb31f85d3d4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.036"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-36gg2T9p8UXem6gmDV7AtJ"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_fMfwrI3Gj2TShpD1cl3Oyoo8?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "638",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3ffda504-3211-4a7f-bdf4-fd11c07583f9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.836"
      },
      "ResponseBody": {
        "id": "vs_fMfwrI3Gj2TShpD1cl3Oyoo8",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
