{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "155",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8546bd03-1967-483f-9700-9f0c04db713e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.258"
      },
      "ResponseBody": {
        "id": "vs_oTETRd4y5yHQ0Z0xiFSl2pzd",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746663572,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746663572
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "586",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4a62d9c2-ab9d-42ff-8bb8-11df60e60bd8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.742"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-VqwRLjzBu6aQuTmxnWyMRj",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746663573,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_oTETRd4y5yHQ0Z0xiFSl2pzd/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-VqwRLjzBu6aQuTmxnWyMRj"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "275",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9ce5f5d8-f611-47bd-b72d-b0d4ee0e2914",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.385"
      },
      "ResponseBody": {
        "id": "assistant-VqwRLjzBu6aQuTmxnWyMRj",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746663574,
        "vector_store_id": "vs_oTETRd4y5yHQ0Z0xiFSl2pzd",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_oTETRd4y5yHQ0Z0xiFSl2pzd/files/assistant-VqwRLjzBu6aQuTmxnWyMRj?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "81",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6c58c1f4-dc3c-40a8-97d9-06b11144e627",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.196"
      },
      "ResponseBody": {
        "id": "assistant-VqwRLjzBu6aQuTmxnWyMRj",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1746663574,
        "vector_store_id": "vs_oTETRd4y5yHQ0Z0xiFSl2pzd",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_oTETRd4y5yHQ0Z0xiFSl2pzd/files/assistant-VqwRLjzBu6aQuTmxnWyMRj?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "67",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "39689ff7-25c3-4bdd-94ae-f33f77aa020a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.181"
      },
      "ResponseBody": {
        "id": "assistant-VqwRLjzBu6aQuTmxnWyMRj",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-VqwRLjzBu6aQuTmxnWyMRj?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "922",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c6bd48d9-7c51-4a6d-ba73-dc10735a0fc2",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.022"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-VqwRLjzBu6aQuTmxnWyMRj"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_oTETRd4y5yHQ0Z0xiFSl2pzd?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "579",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "06175381-9222-41a6-8de8-53ea051f2c72",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.706"
      },
      "ResponseBody": {
        "id": "vs_oTETRd4y5yHQ0Z0xiFSl2pzd",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
