{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "39",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b2cc3aa5-7172-41c5-8f4d-4cb1afda3af0",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.186"
      },
      "ResponseBody": {
        "id": "vs_VJKBj0zXU5KiSGhUGFKLwxnq",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746666764,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746666764
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "1151",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c8b79389-04bf-4989-af7d-592217d5b0df",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.358"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-MbQREzZxVFid2UL9KK55qe",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746666764,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_VJKBj0zXU5KiSGhUGFKLwxnq/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-MbQREzZxVFid2UL9KK55qe"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "265",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fa560708-d84d-42d5-a8b3-8431b543e991",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.423"
      },
      "ResponseBody": {
        "id": "assistant-MbQREzZxVFid2UL9KK55qe",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746666766,
        "vector_store_id": "vs_VJKBj0zXU5KiSGhUGFKLwxnq",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_VJKBj0zXU5KiSGhUGFKLwxnq/files/assistant-MbQREzZxVFid2UL9KK55qe?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "34",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "76fe0515-9674-4807-8f64-f03f9b780109",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.150"
      },
      "ResponseBody": {
        "id": "assistant-MbQREzZxVFid2UL9KK55qe",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746666766,
        "vector_store_id": "vs_VJKBj0zXU5KiSGhUGFKLwxnq",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_VJKBj0zXU5KiSGhUGFKLwxnq/files/assistant-MbQREzZxVFid2UL9KK55qe?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "79",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9af97c73-6972-419c-96f0-af1eb7563dcb",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.228"
      },
      "ResponseBody": {
        "id": "assistant-MbQREzZxVFid2UL9KK55qe",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-MbQREzZxVFid2UL9KK55qe?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "243",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9f6f6005-041d-42a7-8b8b-933d6c7ec322",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.397"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-MbQREzZxVFid2UL9KK55qe"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_VJKBj0zXU5KiSGhUGFKLwxnq?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "623",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5b6d9ef7-3259-49bb-93b9-a86942393039",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.744"
      },
      "ResponseBody": {
        "id": "vs_VJKBj0zXU5KiSGhUGFKLwxnq",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
