{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "128",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b2b98fec-e611-4016-9a5a-9d160e7f9276",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.375"
      },
      "ResponseBody": {
        "id": "vs_C4DEJvoJ2nToD7PRxJvfLbFp",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747439266,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747439266
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "2547",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "69b840be-5aad-45ff-ab50-d468f4153358",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.723"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-UfpL88eCngsGQcsJbje7Jm",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747439266,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_C4DEJvoJ2nToD7PRxJvfLbFp/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-UfpL88eCngsGQcsJbje7Jm"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "318",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b4cc3c5b-ba3d-4abf-8c2b-84f054e93312",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.553"
      },
      "ResponseBody": {
        "id": "assistant-UfpL88eCngsGQcsJbje7Jm",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1747439269,
        "vector_store_id": "vs_C4DEJvoJ2nToD7PRxJvfLbFp",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_C4DEJvoJ2nToD7PRxJvfLbFp/files/assistant-UfpL88eCngsGQcsJbje7Jm?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "53",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e001112c-6714-4a2e-9365-16404e0a5d2f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.287"
      },
      "ResponseBody": {
        "id": "assistant-UfpL88eCngsGQcsJbje7Jm",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1747439269,
        "vector_store_id": "vs_C4DEJvoJ2nToD7PRxJvfLbFp",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_C4DEJvoJ2nToD7PRxJvfLbFp/files/assistant-UfpL88eCngsGQcsJbje7Jm?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "115",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a67fa205-aaa5-4855-99ef-b4b8f815375f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.316"
      },
      "ResponseBody": {
        "id": "assistant-UfpL88eCngsGQcsJbje7Jm",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-UfpL88eCngsGQcsJbje7Jm?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "766",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0bfc459d-eb59-4a3d-836e-a9ec6a347dd8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.992"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-UfpL88eCngsGQcsJbje7Jm"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_C4DEJvoJ2nToD7PRxJvfLbFp?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2202",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9a4fd6cf-6a0b-4e04-a1f3-ca5660b55e6f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.469"
      },
      "ResponseBody": {
        "id": "vs_C4DEJvoJ2nToD7PRxJvfLbFp",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
