{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "38",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9a03d435-9bb4-4e65-9350-28935da20e7c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.218"
      },
      "ResponseBody": {
        "id": "vs_EzhXNDZbXrXwq4xVuXrzVaXu",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747439288,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747439288
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "409",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f5a3e231-3574-4f11-8a47-4f608284df9f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.617"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-DXzgZAMSRg7grwLWpD2jLw",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747439288,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_EzhXNDZbXrXwq4xVuXrzVaXu/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-DXzgZAMSRg7grwLWpD2jLw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "208",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2ea316a4-bd5b-41d1-ac2d-1c770084dc70",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.434"
      },
      "ResponseBody": {
        "id": "assistant-DXzgZAMSRg7grwLWpD2jLw",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1747439289,
        "vector_store_id": "vs_EzhXNDZbXrXwq4xVuXrzVaXu",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_EzhXNDZbXrXwq4xVuXrzVaXu/files/assistant-DXzgZAMSRg7grwLWpD2jLw?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "88",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "82f6e846-a5dc-408e-a658-aacab46f4595",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.296"
      },
      "ResponseBody": {
        "id": "assistant-DXzgZAMSRg7grwLWpD2jLw",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1747439289,
        "vector_store_id": "vs_EzhXNDZbXrXwq4xVuXrzVaXu",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_EzhXNDZbXrXwq4xVuXrzVaXu/files/assistant-DXzgZAMSRg7grwLWpD2jLw?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "122",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "48fa26c9-1af7-47f4-9045-d0b36d3d2e5f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.380"
      },
      "ResponseBody": {
        "id": "assistant-DXzgZAMSRg7grwLWpD2jLw",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-DXzgZAMSRg7grwLWpD2jLw?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "517",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "73f4b2d4-32dd-4c16-b938-4038b87d0fde",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.876"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-DXzgZAMSRg7grwLWpD2jLw"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_EzhXNDZbXrXwq4xVuXrzVaXu?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "576",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e68edea8-d009-48df-9af2-c4559ad7d388",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.871"
      },
      "ResponseBody": {
        "id": "vs_EzhXNDZbXrXwq4xVuXrzVaXu",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
