{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "39",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e00f28cc-6cec-47bd-baec-4d4eadb74d86",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.194"
      },
      "ResponseBody": {
        "id": "vs_QDphred08giW7L9J3eFAYmLt",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746740457,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746740457
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "603",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1d014a04-200d-4cb7-bb66-934c1b6fc529",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.789"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-2kdfFd1zwq1dQwnsoB19C2",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746740458,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_QDphred08giW7L9J3eFAYmLt/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-2kdfFd1zwq1dQwnsoB19C2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "269",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "566ee648-b0ca-4d63-bb25-65103ac91c34",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.379"
      },
      "ResponseBody": {
        "id": "assistant-2kdfFd1zwq1dQwnsoB19C2",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746740459,
        "vector_store_id": "vs_QDphred08giW7L9J3eFAYmLt",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_QDphred08giW7L9J3eFAYmLt/files/assistant-2kdfFd1zwq1dQwnsoB19C2?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "87",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c6b51b87-29bc-4918-9382-f2881303199e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.254"
      },
      "ResponseBody": {
        "id": "assistant-2kdfFd1zwq1dQwnsoB19C2",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1746740459,
        "vector_store_id": "vs_QDphred08giW7L9J3eFAYmLt",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_QDphred08giW7L9J3eFAYmLt/files/assistant-2kdfFd1zwq1dQwnsoB19C2?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "231",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3d917571-f1d8-4d3a-87f1-f2e77996ae09",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.377"
      },
      "ResponseBody": {
        "id": "assistant-2kdfFd1zwq1dQwnsoB19C2",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-2kdfFd1zwq1dQwnsoB19C2?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "277",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7d7fdf13-5042-4353-994d-3e0e558f3836",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.428"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-2kdfFd1zwq1dQwnsoB19C2"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_QDphred08giW7L9J3eFAYmLt?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "623",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1f8294ae-39db-4721-89b0-9fa2d39ebaae",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.750"
      },
      "ResponseBody": {
        "id": "vs_QDphred08giW7L9J3eFAYmLt",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
