{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "63",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "bdcc6d33-fd06-4c0f-b894-f768119b4598",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.191"
      },
      "ResponseBody": {
        "id": "vs_lRNKBBaHSPGiJmedgdl9V9mt",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746663590,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746663590
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "408",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "191c0536-250a-4232-97aa-2e4f525c0c90",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.550"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-9C2RXcv8FjdHyCACtNrEut",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746663591,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_lRNKBBaHSPGiJmedgdl9V9mt/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-9C2RXcv8FjdHyCACtNrEut"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "294",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "34616c15-cbe5-4889-a301-53710fd52cce",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.409"
      },
      "ResponseBody": {
        "id": "assistant-9C2RXcv8FjdHyCACtNrEut",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746663591,
        "vector_store_id": "vs_lRNKBBaHSPGiJmedgdl9V9mt",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_lRNKBBaHSPGiJmedgdl9V9mt/files/assistant-9C2RXcv8FjdHyCACtNrEut?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "29",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4e25ce96-aad1-49d7-92ac-34ee9b90d711",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.154"
      },
      "ResponseBody": {
        "id": "assistant-9C2RXcv8FjdHyCACtNrEut",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1746663591,
        "vector_store_id": "vs_lRNKBBaHSPGiJmedgdl9V9mt",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_lRNKBBaHSPGiJmedgdl9V9mt/files/assistant-9C2RXcv8FjdHyCACtNrEut?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "118",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "da6ab7a4-a4e2-4d2d-b3e6-ab48c4993fe5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.257"
      },
      "ResponseBody": {
        "id": "assistant-9C2RXcv8FjdHyCACtNrEut",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-9C2RXcv8FjdHyCACtNrEut?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "258",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "61296640-e2d3-48ee-8136-7debc720348f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.402"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-9C2RXcv8FjdHyCACtNrEut"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_lRNKBBaHSPGiJmedgdl9V9mt?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "579",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b7d1f929-c8f7-4eda-90a0-9507f6afb5ac",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.716"
      },
      "ResponseBody": {
        "id": "vs_lRNKBBaHSPGiJmedgdl9V9mt",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
