{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "307",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e94c1747-e9bb-49c3-af66-e5cb07a7d023",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.602"
      },
      "ResponseBody": {
        "id": "vs_YKttp4R1CPfKVHJYBM2xoOAf",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747768506,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747768506
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "456",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2c5e0334-30a6-4e55-9a9e-7f8185363ab6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.808"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-G8TXwYvM9H7ijxeExqzBN4",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747768507,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_YKttp4R1CPfKVHJYBM2xoOAf/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-G8TXwYvM9H7ijxeExqzBN4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "520",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "005456c8-9f26-4a50-bef4-3e8e8181e72d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.799"
      },
      "ResponseBody": {
        "id": "assistant-G8TXwYvM9H7ijxeExqzBN4",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1747768508,
        "vector_store_id": "vs_YKttp4R1CPfKVHJYBM2xoOAf",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_YKttp4R1CPfKVHJYBM2xoOAf/files/assistant-G8TXwYvM9H7ijxeExqzBN4?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "1734",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c4cf942a-960d-487c-9222-540bf0340101",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.005"
      },
      "ResponseBody": {
        "id": "assistant-G8TXwYvM9H7ijxeExqzBN4",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1747768508,
        "vector_store_id": "vs_YKttp4R1CPfKVHJYBM2xoOAf",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_YKttp4R1CPfKVHJYBM2xoOAf/files/assistant-G8TXwYvM9H7ijxeExqzBN4?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "1999",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "bff2422e-8f1a-4d73-bbe2-525e9cb19c03",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.323"
      },
      "ResponseBody": {
        "id": "assistant-G8TXwYvM9H7ijxeExqzBN4",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-G8TXwYvM9H7ijxeExqzBN4?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "241",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1e415975-4625-41c6-a847-c89594b2be3b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.577"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-G8TXwYvM9H7ijxeExqzBN4"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_YKttp4R1CPfKVHJYBM2xoOAf?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2456",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7b62f88d-06cd-41ae-b7a1-18bcd3ffc320",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.768"
      },
      "ResponseBody": {
        "id": "vs_YKttp4R1CPfKVHJYBM2xoOAf",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
