{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "84",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8db4078e-b624-44fb-b720-40d47ffb835a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.329"
      },
      "ResponseBody": {
        "id": "vs_wwx6fBtySTZ2F71GBxYOTavg",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747677731,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747677731
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "293",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ed627889-29ca-42bc-ba20-c845652b8dc3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.503"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-FGskhqo5rHvo8coKkdhGpW",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747677732,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_wwx6fBtySTZ2F71GBxYOTavg/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-FGskhqo5rHvo8coKkdhGpW"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "1322",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "68e3491a-9b98-4a1a-879d-b61d9b1d54fb",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.796"
      },
      "ResponseBody": {
        "id": "assistant-FGskhqo5rHvo8coKkdhGpW",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1747677734,
        "vector_store_id": "vs_wwx6fBtySTZ2F71GBxYOTavg",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_wwx6fBtySTZ2F71GBxYOTavg/files/assistant-FGskhqo5rHvo8coKkdhGpW?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "26",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7b7a3503-fde5-4308-9b86-9caec573848c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.319"
      },
      "ResponseBody": {
        "id": "assistant-FGskhqo5rHvo8coKkdhGpW",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1747677734,
        "vector_store_id": "vs_wwx6fBtySTZ2F71GBxYOTavg",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_wwx6fBtySTZ2F71GBxYOTavg/files/assistant-FGskhqo5rHvo8coKkdhGpW?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "125",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "56b6c46b-b5d3-4e77-8bc1-81d681a65036",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.392"
      },
      "ResponseBody": {
        "id": "assistant-FGskhqo5rHvo8coKkdhGpW",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-FGskhqo5rHvo8coKkdhGpW?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "295",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "54893e00-2e33-4307-b410-3cbfdf6e7a9a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.522"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-FGskhqo5rHvo8coKkdhGpW"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_wwx6fBtySTZ2F71GBxYOTavg?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "657",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e634471e-99aa-427f-aabe-d6f06fe64630",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.904"
      },
      "ResponseBody": {
        "id": "vs_wwx6fBtySTZ2F71GBxYOTavg",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
