{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "88",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "62505ec5-f9a7-4d33-ab8b-6dd0c98299b7",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.272"
      },
      "ResponseBody": {
        "id": "vs_PdiHQ3Fx7RoxsGs2s6IzCcZx",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1749159649,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1749159649
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "464",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "550be7ec-b363-457d-a150-6c2ac835380a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.638"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-GG4f7VGNXqgbRbjHp7uw5C",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1749159650,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_PdiHQ3Fx7RoxsGs2s6IzCcZx/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-GG4f7VGNXqgbRbjHp7uw5C"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "865",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d60ee701-6746-457f-9b04-ec51d5746eb3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.995"
      },
      "ResponseBody": {
        "id": "assistant-GG4f7VGNXqgbRbjHp7uw5C",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1749159651,
        "vector_store_id": "vs_PdiHQ3Fx7RoxsGs2s6IzCcZx",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_PdiHQ3Fx7RoxsGs2s6IzCcZx/files/assistant-GG4f7VGNXqgbRbjHp7uw5C?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "81",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9bdabbca-4238-42c5-894a-308fc640100a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.217"
      },
      "ResponseBody": {
        "id": "assistant-GG4f7VGNXqgbRbjHp7uw5C",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1749159651,
        "vector_store_id": "vs_PdiHQ3Fx7RoxsGs2s6IzCcZx",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_PdiHQ3Fx7RoxsGs2s6IzCcZx/files/assistant-GG4f7VGNXqgbRbjHp7uw5C?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "135",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f2b31f1e-d8e9-4ac3-8e42-836f2763f1be",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.253"
      },
      "ResponseBody": {
        "id": "assistant-GG4f7VGNXqgbRbjHp7uw5C",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-GG4f7VGNXqgbRbjHp7uw5C?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "457",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "85931f99-09a2-4e96-86b5-ba9c37cecb1b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.574"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-GG4f7VGNXqgbRbjHp7uw5C"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_PdiHQ3Fx7RoxsGs2s6IzCcZx?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2251",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c137dae4-f3f2-4135-aa8c-4b001d3ad7e5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.378"
      },
      "ResponseBody": {
        "id": "vs_PdiHQ3Fx7RoxsGs2s6IzCcZx",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
