{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "41",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7a7dfaf7-f24a-430b-9c88-814e7dd923f5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.193"
      },
      "ResponseBody": {
        "id": "vs_ZwIs0eZxbwIJWhGFoV1Xwd1J",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746747031,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746747031
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "536",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0d39f80b-2cb8-481e-858c-23b6e203c5e6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.717"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-98JvELSPnxa3PTdGEHfhhZ",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746747031,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_ZwIs0eZxbwIJWhGFoV1Xwd1J/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-98JvELSPnxa3PTdGEHfhhZ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "211",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7584ea7c-5b3c-4e84-886d-4e91efb4ceb0",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.329"
      },
      "ResponseBody": {
        "id": "assistant-98JvELSPnxa3PTdGEHfhhZ",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746747032,
        "vector_store_id": "vs_ZwIs0eZxbwIJWhGFoV1Xwd1J",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_ZwIs0eZxbwIJWhGFoV1Xwd1J/files/assistant-98JvELSPnxa3PTdGEHfhhZ?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "72",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "87559b1b-6fb6-497b-adfb-059611d9848c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.215"
      },
      "ResponseBody": {
        "id": "assistant-98JvELSPnxa3PTdGEHfhhZ",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1746747032,
        "vector_store_id": "vs_ZwIs0eZxbwIJWhGFoV1Xwd1J",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_ZwIs0eZxbwIJWhGFoV1Xwd1J/files/assistant-98JvELSPnxa3PTdGEHfhhZ?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "122",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3ed15a48-9b14-40c3-938d-c74d550ec726",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.239"
      },
      "ResponseBody": {
        "id": "assistant-98JvELSPnxa3PTdGEHfhhZ",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-98JvELSPnxa3PTdGEHfhhZ?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "248",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "cf51f326-39c0-4227-8bd1-36c5caaa89ce",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.375"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-98JvELSPnxa3PTdGEHfhhZ"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_ZwIs0eZxbwIJWhGFoV1Xwd1J?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "631",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "89efb1d9-f039-40cd-a5b3-e42f67ba622a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.826"
      },
      "ResponseBody": {
        "id": "vs_ZwIs0eZxbwIJWhGFoV1Xwd1J",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
