{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "108",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fae88ab9-6266-47bd-840f-163778e192f0",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.388"
      },
      "ResponseBody": {
        "id": "vs_zbGUVU2VKlUbP2wM5z4Tzp7V",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1748886983,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1748886983
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "402",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9210d8df-5c65-4757-9715-76c2a3c4735f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.686"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-3h2hovq6cjYGFs91XwwZaf",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1748886984,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_zbGUVU2VKlUbP2wM5z4Tzp7V/files?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-3h2hovq6cjYGFs91XwwZaf"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "348",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "bda15299-89d6-4c11-9cf4-0bd084c79604",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.621"
      },
      "ResponseBody": {
        "id": "assistant-3h2hovq6cjYGFs91XwwZaf",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1748886984,
        "vector_store_id": "vs_zbGUVU2VKlUbP2wM5z4Tzp7V",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_zbGUVU2VKlUbP2wM5z4Tzp7V/files/assistant-3h2hovq6cjYGFs91XwwZaf?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "78",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "aedcfd77-d3d3-4702-80c8-044188b2c853",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.350"
      },
      "ResponseBody": {
        "id": "assistant-3h2hovq6cjYGFs91XwwZaf",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1748886984,
        "vector_store_id": "vs_zbGUVU2VKlUbP2wM5z4Tzp7V",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_zbGUVU2VKlUbP2wM5z4Tzp7V/files/assistant-3h2hovq6cjYGFs91XwwZaf?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "174",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "12a81f3b-b5c0-4c99-b50a-3eb4404a5d82",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.448"
      },
      "ResponseBody": {
        "id": "assistant-3h2hovq6cjYGFs91XwwZaf",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-3h2hovq6cjYGFs91XwwZaf?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "432",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a0c1e3cf-d00c-4dab-8f4d-3c9ffdfc04a2",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.775"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-3h2hovq6cjYGFs91XwwZaf"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_zbGUVU2VKlUbP2wM5z4Tzp7V?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2238",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9e79ecaa-ea1e-4617-9e3f-ee9b4b24b378",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.549"
      },
      "ResponseBody": {
        "id": "vs_zbGUVU2VKlUbP2wM5z4Tzp7V",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
