{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "89",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1132e6ac-e7b3-445f-844d-b888b416bf5f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.377"
      },
      "ResponseBody": {
        "id": "vs_YCJtWwVsc3pvhrBdvPtM6qCV",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746647492,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746647492
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "264",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "189a85e3-bc6f-4dfb-af9d-e89a0b92e433",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.422"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-9VDa4gpb2LvLHcyH73z55k",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746647493,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_YCJtWwVsc3pvhrBdvPtM6qCV/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-9VDa4gpb2LvLHcyH73z55k"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "961",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "339d4f7e-597f-4da3-8e34-d07907150d22",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.264"
      },
      "ResponseBody": {
        "id": "assistant-9VDa4gpb2LvLHcyH73z55k",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746647494,
        "vector_store_id": "vs_YCJtWwVsc3pvhrBdvPtM6qCV",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_YCJtWwVsc3pvhrBdvPtM6qCV/files/assistant-9VDa4gpb2LvLHcyH73z55k?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "198",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f9b8e4b5-de2a-46de-aedb-ff92655ad366",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.420"
      },
      "ResponseBody": {
        "id": "assistant-9VDa4gpb2LvLHcyH73z55k",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1746647494,
        "vector_store_id": "vs_YCJtWwVsc3pvhrBdvPtM6qCV",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_YCJtWwVsc3pvhrBdvPtM6qCV/files/assistant-9VDa4gpb2LvLHcyH73z55k?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "120",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3c5c5d72-baaa-431b-b1a0-c98a59709ba5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.220"
      },
      "ResponseBody": {
        "id": "assistant-9VDa4gpb2LvLHcyH73z55k",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-9VDa4gpb2LvLHcyH73z55k?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "280",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "bba9d111-7fff-4196-b6a7-88c693f55e96",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.388"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-9VDa4gpb2LvLHcyH73z55k"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_YCJtWwVsc3pvhrBdvPtM6qCV?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "615",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "99277cbf-e23d-4baf-80b6-fbb487350ec6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.909"
      },
      "ResponseBody": {
        "id": "vs_YCJtWwVsc3pvhrBdvPtM6qCV",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
