{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "113",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ee554eb4-78be-4043-9aef-eb1e139f6268",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.230"
      },
      "ResponseBody": {
        "id": "vs_5eKKC1JwKpjabnbvtTL1YarE",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1749159687,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1749159687
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "533",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a5ed0f72-d67c-4263-93f1-c2772812bda3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.673"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-PMWbeqsK1dUG4wEKRREgPC",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1749159687,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_5eKKC1JwKpjabnbvtTL1YarE/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-PMWbeqsK1dUG4wEKRREgPC"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "270",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "822c2d02-ba10-461b-8650-dee9045a3384",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.385"
      },
      "ResponseBody": {
        "id": "assistant-PMWbeqsK1dUG4wEKRREgPC",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1749159688,
        "vector_store_id": "vs_5eKKC1JwKpjabnbvtTL1YarE",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_5eKKC1JwKpjabnbvtTL1YarE/files/assistant-PMWbeqsK1dUG4wEKRREgPC?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "83",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a4e82004-3f2c-47ee-8d24-6e6a4146b1e3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.228"
      },
      "ResponseBody": {
        "id": "assistant-PMWbeqsK1dUG4wEKRREgPC",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1749159688,
        "vector_store_id": "vs_5eKKC1JwKpjabnbvtTL1YarE",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_5eKKC1JwKpjabnbvtTL1YarE/files/assistant-PMWbeqsK1dUG4wEKRREgPC?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "144",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9dbfee44-c45f-43d8-81b0-b08b4aefd8b2",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.287"
      },
      "ResponseBody": {
        "id": "assistant-PMWbeqsK1dUG4wEKRREgPC",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-PMWbeqsK1dUG4wEKRREgPC?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "785",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "af2d1d51-cc18-413c-ac74-2da6637bbf56",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.937"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-PMWbeqsK1dUG4wEKRREgPC"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_5eKKC1JwKpjabnbvtTL1YarE?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2251",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e6a306e4-0091-48a6-9a65-1d8064744719",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.367"
      },
      "ResponseBody": {
        "id": "vs_5eKKC1JwKpjabnbvtTL1YarE",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
