{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "86",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "846e4169-c3c9-4d14-b7ee-893e8c222567",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.258"
      },
      "ResponseBody": {
        "id": "vs_w13gVXTo0rc22LgvJ2c7CEms",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746661423,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746661423
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "554",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0ad87106-9a5c-4913-9eb2-c58b39b7fdc5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.706"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-PmK8QPQyBBvWVxcFyz2F2g",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746661423,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_w13gVXTo0rc22LgvJ2c7CEms/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-PmK8QPQyBBvWVxcFyz2F2g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "346",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e171b490-f7f8-4921-b69f-a36bfb4d6d62",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.467"
      },
      "ResponseBody": {
        "id": "assistant-PmK8QPQyBBvWVxcFyz2F2g",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746661424,
        "vector_store_id": "vs_w13gVXTo0rc22LgvJ2c7CEms",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_w13gVXTo0rc22LgvJ2c7CEms/files/assistant-PmK8QPQyBBvWVxcFyz2F2g?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "83",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2515aa7d-77a4-4036-8f80-09ef0e9f359f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.208"
      },
      "ResponseBody": {
        "id": "assistant-PmK8QPQyBBvWVxcFyz2F2g",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1746661424,
        "vector_store_id": "vs_w13gVXTo0rc22LgvJ2c7CEms",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_w13gVXTo0rc22LgvJ2c7CEms/files/assistant-PmK8QPQyBBvWVxcFyz2F2g?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "114",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "08c22b39-d360-4b41-af61-f0250e0e301a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.242"
      },
      "ResponseBody": {
        "id": "assistant-PmK8QPQyBBvWVxcFyz2F2g",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-PmK8QPQyBBvWVxcFyz2F2g?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "391",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c7f4dd9d-dae7-48c1-b9e5-4fa9e4b3fabf",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.564"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-PmK8QPQyBBvWVxcFyz2F2g"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_w13gVXTo0rc22LgvJ2c7CEms?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "627",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "895b0c9e-01a0-4f2a-a292-c35ff2a80aa0",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.734"
      },
      "ResponseBody": {
        "id": "vs_w13gVXTo0rc22LgvJ2c7CEms",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
