{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "986",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c27a9e77-52da-4480-aa70-4dafb58dfa8c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.365"
      },
      "ResponseBody": {
        "id": "vs_AXyaYfHZddhzvDSH94Mg2rOX",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746740507,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746740507
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "386",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0f675d85-917a-4e65-b90e-3722712d7e57",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.540"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-4987Bm6jGv6G7otLcEUC8g",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746740508,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_AXyaYfHZddhzvDSH94Mg2rOX/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-4987Bm6jGv6G7otLcEUC8g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "276",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0536d0c2-fb08-4b51-ae02-76d3583f3e83",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.417"
      },
      "ResponseBody": {
        "id": "assistant-4987Bm6jGv6G7otLcEUC8g",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746740509,
        "vector_store_id": "vs_AXyaYfHZddhzvDSH94Mg2rOX",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_AXyaYfHZddhzvDSH94Mg2rOX/files/assistant-4987Bm6jGv6G7otLcEUC8g?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "92",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2b6ac29f-5e03-46ec-9b2b-f385a5ff10fe",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.226"
      },
      "ResponseBody": {
        "id": "assistant-4987Bm6jGv6G7otLcEUC8g",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746740509,
        "vector_store_id": "vs_AXyaYfHZddhzvDSH94Mg2rOX",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_AXyaYfHZddhzvDSH94Mg2rOX/files/assistant-4987Bm6jGv6G7otLcEUC8g?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "1203",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "723afa8a-c241-41d4-b111-850747eacb2b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.440"
      },
      "ResponseBody": {
        "id": "assistant-4987Bm6jGv6G7otLcEUC8g",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-4987Bm6jGv6G7otLcEUC8g?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "377",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "92756ac2-1637-4b26-b4d3-a688bebbb153",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.500"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-4987Bm6jGv6G7otLcEUC8g"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_AXyaYfHZddhzvDSH94Mg2rOX?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "581",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0da1d325-dc45-43ee-b7f1-a7bcbf82283b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.717"
      },
      "ResponseBody": {
        "id": "vs_AXyaYfHZddhzvDSH94Mg2rOX",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
