{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "87",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a6a1606d-f3b3-4451-86b3-1e4745509a1c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.241"
      },
      "ResponseBody": {
        "id": "vs_QT6zojQCN3uv96UBm0grEzvt",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746747046,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746747046
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "540",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4fe7e076-b3b9-4c42-bd40-ce9b05dd0c9d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.742"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-3jZKHQZsm94u5bVSwHh7Yq",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746747046,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_QT6zojQCN3uv96UBm0grEzvt/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-3jZKHQZsm94u5bVSwHh7Yq"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "257",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "06fc6414-0fc9-4730-8c81-e4fb9c0c2655",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.391"
      },
      "ResponseBody": {
        "id": "assistant-3jZKHQZsm94u5bVSwHh7Yq",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746747047,
        "vector_store_id": "vs_QT6zojQCN3uv96UBm0grEzvt",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_QT6zojQCN3uv96UBm0grEzvt/files/assistant-3jZKHQZsm94u5bVSwHh7Yq?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "73",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "dfc23e51-4232-4de4-9438-59f15b422dd0",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.211"
      },
      "ResponseBody": {
        "id": "assistant-3jZKHQZsm94u5bVSwHh7Yq",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1746747047,
        "vector_store_id": "vs_QT6zojQCN3uv96UBm0grEzvt",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_QT6zojQCN3uv96UBm0grEzvt/files/assistant-3jZKHQZsm94u5bVSwHh7Yq?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "123",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "be501df8-dd1b-400a-9161-92e6bc486c4d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.287"
      },
      "ResponseBody": {
        "id": "assistant-3jZKHQZsm94u5bVSwHh7Yq",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-3jZKHQZsm94u5bVSwHh7Yq?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "238",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "398fa613-8468-42bc-8a81-42d26ae9c879",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.387"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-3jZKHQZsm94u5bVSwHh7Yq"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_QT6zojQCN3uv96UBm0grEzvt?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "624",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ecc432e4-3a73-4b15-b912-9c0fa2ef1ee0",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.894"
      },
      "ResponseBody": {
        "id": "vs_QT6zojQCN3uv96UBm0grEzvt",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
