{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections?api-version=2025-05-15-preview&connectionType=AppInsights",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.031"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "connection1-app-insights",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/connection1-app-insights",
            "type": "AppInsights",
            "target": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/microsoft.insights/components/sanitized-component-name",
            "isDefault": true,
            "credentials": {
              "type": "ApiKey"
            },
            "metadata": {
              "ApiType": "Azure",
              "Location": "eastus",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections/connection1-app-insights/getConnectionWithCredentials?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.300"
      },
      "ResponseBody": {
        "name": "connection1-app-insights",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/connection1-app-insights",
        "type": "AppInsights",
        "target": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/microsoft.insights/components/sanitized-component-name",
        "isDefault": true,
        "credentials": {
          "key": "Sanitized-api-key",
          "type": "ApiKey"
        },
        "metadata": {
          "ApiType": "Azure",
          "Location": "eastus",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name"
        }
      }
    }
  ],
  "Variables": {}
}
