{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/SSS3PT_myjstest/providers/Microsoft.Storage/storageAccounts?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "4f76d83a-9fce-45be-8d16-a320aa03588f",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_GRS",
              "tier": "Standard"
            },
            "kind": "StorageV2",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/SSS3PT_myjstest/providers/Microsoft.Storage/storageAccounts/storageaccountzzzxxx2",
            "name": "storageaccountzzzxxx2",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "westeurope",
            "tags": {
              "key1": "value1",
              "key2": "value2"
            },
            "properties": {
              "keyCreationTime": {
                "key1": "2025-09-22T03:17:56.8225148Z",
                "key2": "2025-09-22T03:17:56.8225148Z"
              },
              "allowCrossTenantReplication": false,
              "privateEndpointConnections": [],
              "minimumTlsVersion": "TLS1_0",
              "allowBlobPublicAccess": false,
              "networkAcls": {
                "ipv6Rules": [],
                "bypass": "AzureServices",
                "virtualNetworkRules": [],
                "ipRules": [],
                "defaultAction": "Allow"
              },
              "supportsHttpsTrafficOnly": true,
              "encryption": {
                "services": {
                  "file": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2025-09-22T03:17:56.8381331Z"
                  },
                  "blob": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2025-09-22T03:17:56.8381331Z"
                  }
                },
                "keySource": "Microsoft.Storage"
              },
              "accessTier": "Hot",
              "provisioningState": "Succeeded",
              "creationTime": "2025-09-22T03:17:56.6350083Z",
              "primaryEndpoints": {
                "dfs": "https://storageaccountzzzxxx2.dfs.core.windows.net/",
                "web": "https://storageaccountzzzxxx2.z6.web.core.windows.net/",
                "blob": "https://storageaccountzzzxxx2.blob.core.windows.net/",
                "queue": "https://storageaccountzzzxxx2.queue.core.windows.net/",
                "table": "https://storageaccountzzzxxx2.table.core.windows.net/",
                "file": "https://storageaccountzzzxxx2.file.core.windows.net/"
              },
              "primaryLocation": "westeurope",
              "statusOfPrimary": "available",
              "secondaryLocation": "northeurope",
              "statusOfSecondary": "available"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
