{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2024 23:44:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "16ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:1bdaa2b9-9507-4542-bb64-a7b22c00a8d4_00000024-3917-8dfe-28c5-593a0d007f67"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/phoneNumbers?skip=0&api-version=2022-12-01&top=100",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2024 23:44:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "986ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "id": "18447649276",
            "phoneNumber": "+18447649276",
            "countryCode": "US",
            "phoneNumberType": "tollFree",
            "capabilities": {
              "calling": "inbound+outbound",
              "sms": "none"
            },
            "assignmentType": "application",
            "purchaseDate": "2022-09-01T14:41:56.9028058+00:00",
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          },
          {
            "id": "18662315126",
            "phoneNumber": "+18662315126",
            "countryCode": "US",
            "phoneNumberType": "tollFree",
            "capabilities": {
              "calling": "inbound+outbound",
              "sms": "inbound+outbound"
            },
            "assignmentType": "application",
            "purchaseDate": "2023-05-30T19:06:35.1134996+00:00",
            "cost": {
              "amount": 2.0,
              "currencyCode": "USD",
              "billingFrequency": "monthly"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/calling/callConnections?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2024 23:44:28 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "kind": "phoneNumber",
            "rawId": "4:+18447649276",
            "phoneNumber": {
              "value": "+18447649276"
            }
          }
        ],
        "sourceCallerIdNumber": {
          "value": "+18662315126"
        },
        "source": {
          "id": "8:acs:1bdaa2b9-9507-4542-bb64-a7b22c00a8d4_00000024-3917-8dfe-28c5-593a0d007f67"
        },
        "callbackUri": "https://redacted.azurewebsites.net/api/servicebuscallback/events?q=4u002B186623151264u002B18447649276",
        "customCallingContext": {
          "voipHeaders": {},
          "sipHeaders": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "2452fadb-ef60-4d48-a720-fd04c74fff84",
        "X-Microsoft-Skype-Client": "azsdk-js-communication-call-automation/1.4.0-beta.2 core-rest-pipeline/1.18.2 Node/20.11.0 OS/(x64-Windows_NT-10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "09001f80-55fc-4ed5-a053-eb1f5753947d",
        "targets": [
          {
            "rawId": "4:+18447649276",
            "kind": "phoneNumber",
            "phoneNumber": {
              "value": "+18447649276"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://redacted.azurewebsites.net/api/servicebuscallback/events?q=4u002B186623151264u002B18447649276",
        "sourceCallerIdNumber": {
          "value": "+18662315126"
        },
        "sourceDisplayName": "",
        "source": {
          "rawId": "8:acs:1bdaa2b9-9507-4542-bb64-a7b22c00a8d4_00000024-3917-8dfe-28c5-593a0d007f67",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "8:acs:1bdaa2b9-9507-4542-bb64-a7b22c00a8d4_00000024-3917-8dfe-28c5-593a0d007f67"
          }
        },
        "correlationId": "2452fadb-ef60-4d48-a720-fd04c74fff84",
        "mediaSubscriptionId": "6c736010-5a9c-44d3-9cde-625713814f61",
        "dataSubscriptionId": "1875acaf-71b4-4636-b05e-9ab46939ed1b",
        "mediaStreamingSubscription": {
          "id": "6c736010-5a9c-44d3-9cde-625713814f61",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/calling/callConnections:answer?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2024 23:44:32 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "eyJhbGciOiJub25lIiwidHlwIjoiSldUIn0.eyJjYyI6Ikg0c0lBQUFBQUFBQUNzMVkrMi9iT0JMK1Z3UWZjRC9jTFMyUmVsRUVqSVBqSkswM1RackdTWGV4NTd1QUlpbVpzVjVMeWJIVGJ2LzNHL3BWWngyMHVSZXdEcUtZNVBDYkI0ZWpiL0s1SjNoUlhOV2R6clRnbmE2ckh2dmN5MHhkMnI5YTlsZ3ZZSC9GTklxSWowTk1vdDRQUGFuYnB1QlBWN3hVUFZZdGl1TFoxS1JlR0FFTHZVVTFyK3BsQlJ0VUpadGFWOTNZd2lubEtVNWxpSVNQSlFwb3lGSENNVVpCNnNkVUJVSUdxUWQ3Q2w3bEM1NHJ1MmVqbytHbTAwSTNmQXZrWjdIS2VCU2lKRXNKQ255S0VlV1pRSmtpUGhFeHp6REpBR2ltcFZUZ1ZjYUxWZ0dLcVJ0bHVxY1RubStBdi96UTYrcTlzNVJ4MFRLY1NzNU[...]
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/calling/callConnections/09001f80-55fc-4ed5-a053-eb1f5753947d:startContinuousDtmfRecognition?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2024 23:44:35 GMT"
      },
      "RequestBody": {
        "targetParticipant": {
          "rawId": "4:+18447649276",
          "phoneNumber": {
            "value": "+18447649276"
          }
        },
        "operationContext": "ContinuousDtmfRecognitionStart"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "2452fadb-ef60-4d48-a720-fd04c74fff84",
        "X-Microsoft-Skype-Client": "azsdk-js-communication-call-automation/1.4.0-beta.2 core-rest-pipeline/1.18.2 Node/20.11.0 OS/(x64-Windows_NT-10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/calling/callConnections/09001f80-55fc-4ed5-a053-eb1f5753947d:sendDtmfTones?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2024 23:44:37 GMT"
      },
      "RequestBody": {
        "tones": [
          "pound"
        ],
        "targetParticipant": {
          "rawId": "4:+18447649276",
          "phoneNumber": {
            "value": "+18447649276"
          }
        },
        "operationContext": "ContinuousDtmfRecognitionSend"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "2452fadb-ef60-4d48-a720-fd04c74fff84",
        "X-Microsoft-Skype-Client": "azsdk-js-communication-call-automation/1.4.0-beta.2 core-rest-pipeline/1.18.2 Node/20.11.0 OS/(x64-Windows_NT-10.0.26100)"
      },
      "ResponseBody": {
        "operationContext": "ContinuousDtmfRecognitionSend"
      }
    },
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/calling/callConnections/09001f80-55fc-4ed5-a053-eb1f5753947d:stopContinuousDtmfRecognition?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2024 23:44:39 GMT"
      },
      "RequestBody": {
        "targetParticipant": {
          "rawId": "4:+18447649276",
          "phoneNumber": {
            "value": "+18447649276"
          }
        },
        "operationContext": "ContinuousDtmfRecognitionStop"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "2452fadb-ef60-4d48-a720-fd04c74fff84",
        "X-Microsoft-Skype-Client": "azsdk-js-communication-call-automation/1.4.0-beta.2 core-rest-pipeline/1.18.2 Node/20.11.0 OS/(x64-Windows_NT-10.0.26100)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/calling/callConnections/09001f80-55fc-4ed5-a053-eb1f5753947d:terminate?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 05 Dec 2024 23:44:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "2452fadb-ef60-4d48-a720-fd04c74fff84",
        "X-Microsoft-Skype-Client": "azsdk-js-communication-call-automation/1.4.0-beta.2 core-rest-pipeline/1.18.2 Node/20.11.0 OS/(x64-Windows_NT-10.0.26100)"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
