{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.dbforpostgresql?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL",
        "namespace": "Microsoft.DBforPostgreSQL",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "00000000-0000-0000-0000-000000000000"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "00000000-0000-0000-0000-000000000000"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "00000000-0000-0000-0000-000000000000"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "operations",
            "locations": [
              "Australia Central",
              "Australia Central 2",
              "Australia East",
              "Australia Southeast",
              "Austria East",
              "Belgium Central",
              "Brazil South",
              "Brazil Southeast",
              "Canada Central",
              "Canada East",
              "Central India",
              "Central US",
              "Central US EUAP",
              "Chile Central",
              "East Asia",
              "Eas[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaini[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web",
        "namespace": "Microsoft.Web",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "00000000-0000-0000-0000-000000000000",
            "managedByRoleDefinitionId": "c29dde9f-14fa-40fb-9fe8-5a07be183f1e"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "publishingUsers",
            "locations": [
              "Central US",
              "North Europe",
              "West Europe",
              "Southeast Asia",
              "Korea Central",
              "Korea South",
              "West US",
              "East US",
              "Japan West",
              "Japan East",
              "East Asia",
            [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/canadaeast/capabilities?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "FlexibleServerCapabilities",
            "supportedServerEditions": [],
            "supportedServerVersions": [],
            "fastProvisioningSupported": "Disabled",
            "supportedFastProvisioningEditions": [],
            "geoBackupSupported": "Enabled",
            "zoneRedundantHaSupported": "Disabled",
            "zoneRedundantHaAndGeoBackupSupported": "Disabled",
            "storageAutoGrowthSupported": "Enabled",
            "onlineResizeSupported": "Enabled",
            "restricted": "Enabled",
            "reason": "Provisioning is restricted in this region. Please choose a different region. For exceptions to this rule please open a support request with Issue type of 'Service and subscription limits'."
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/canadacentral/capabilities?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "248"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "FlexibleServerCapabilities",
            "supportedServerEditions": [],
            "supportedServerVersions": [],
            "fastProvisioningSupported": "Disabled",
            "supportedFastProvisioningEditions": [],
            "geoBackupSupported": "Enabled",
            "zoneRedundantHaSupported": "Disabled",
            "zoneRedundantHaAndGeoBackupSupported": "Enabled",
            "storageAutoGrowthSupported": "Enabled",
            "onlineResizeSupported": "Enabled",
            "restricted": "Enabled",
            "reason": "Microsoft Internal subscriptions are restricted from provisioning in this region. Please choose a different region. For exceptions to this rule please open a support request with Issue type of 'Service and subscription limits'."
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/capabilities?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "FlexibleServerCapabilities",
            "supportedServerEditions": [],
            "supportedServerVersions": [],
            "fastProvisioningSupported": "Enabled",
            "supportedFastProvisioningEditions": [
              {
                "supportedTier": "Burstable",
                "supportedSku": "standard_b1ms",
                "supportedStorageGb": 32,
                "supportedServerVersions": "12",
                "serverCount": 0
              },
              {
                "supportedTier": "Burstable",
                "supportedSku": "standard_b2s",
                "supportedStorageGb": 32,
                "supportedServerVersions": "12",
                "serverCount": 0
              },
              {
                "supportedTier": "GeneralPurpose",
                "supportedSku": "standard_d2s_v3",
                "supportedStorageGb": 128,
                "supportedServerVersions": "12",
                "se[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/southcentralus/capabilities?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "FlexibleServerCapabilities",
            "supportedServerEditions": [],
            "supportedServerVersions": [],
            "fastProvisioningSupported": "Disabled",
            "supportedFastProvisioningEditions": [],
            "geoBackupSupported": "Enabled",
            "zoneRedundantHaSupported": "Disabled",
            "zoneRedundantHaAndGeoBackupSupported": "Enabled",
            "storageAutoGrowthSupported": "Enabled",
            "onlineResizeSupported": "Enabled",
            "restricted": "Enabled",
            "reason": "Subscriptions are restricted from provisioning in this region. Please choose a different region. For exceptions to this rule please open a support request with Issue type of 'Service and subscription limits'."
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/israelcentral/capabilities?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "FlexibleServerCapabilities",
            "supportedServerEditions": [],
            "supportedServerVersions": [],
            "fastProvisioningSupported": "Disabled",
            "supportedFastProvisioningEditions": [],
            "geoBackupSupported": "Disabled",
            "zoneRedundantHaSupported": "Disabled",
            "zoneRedundantHaAndGeoBackupSupported": "Disabled",
            "storageAutoGrowthSupported": "Enabled",
            "onlineResizeSupported": "Enabled",
            "restricted": "Enabled",
            "reason": "Microsoft Internal subscriptions are restricted from provisioning in this region. Please choose a different region. For exceptions to this rule please open a support request with Issue type of 'Service and subscription limits'."
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/northcentralus/capabilities?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "FlexibleServerCapabilities",
            "supportedServerEditions": [],
            "supportedServerVersions": [],
            "fastProvisioningSupported": "Disabled",
            "supportedFastProvisioningEditions": [],
            "geoBackupSupported": "Enabled",
            "zoneRedundantHaSupported": "Disabled",
            "zoneRedundantHaAndGeoBackupSupported": "Disabled",
            "storageAutoGrowthSupported": "Enabled",
            "onlineResizeSupported": "Enabled",
            "restricted": "Enabled",
            "reason": "Microsoft Internal subscriptions are restricted from provisioning in this region. Please choose a different region. For exceptions to this rule please open a support request with Issue type of 'Service and subscription limits'."
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/ukwest/capabilities?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "FlexibleServerCapabilities",
            "supportedServerEditions": [],
            "supportedServerVersions": [],
            "fastProvisioningSupported": "Disabled",
            "supportedFastProvisioningEditions": [],
            "geoBackupSupported": "Enabled",
            "zoneRedundantHaSupported": "Disabled",
            "zoneRedundantHaAndGeoBackupSupported": "Disabled",
            "storageAutoGrowthSupported": "Enabled",
            "onlineResizeSupported": "Enabled",
            "restricted": "Enabled",
            "reason": "Subscriptions are restricted from provisioning in this region. Please choose a different region. For exceptions to this rule please open a support request with Issue type of 'Service and subscription limits'."
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/westus/capabilities?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "FlexibleServerCapabilities",
            "supportedServerEditions": [],
            "supportedServerVersions": [],
            "fastProvisioningSupported": "Disabled",
            "supportedFastProvisioningEditions": [],
            "geoBackupSupported": "Enabled",
            "zoneRedundantHaSupported": "Disabled",
            "zoneRedundantHaAndGeoBackupSupported": "Disabled",
            "storageAutoGrowthSupported": "Enabled",
            "onlineResizeSupported": "Enabled",
            "restricted": "Enabled",
            "reason": "Microsoft Internal subscriptions are restricted from provisioning in this region. Please choose a different region. For exceptions to this rule please open a support request with Issue type of 'Service and subscription limits'."
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/switzerlandwest/capabilities?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "FlexibleServerCapabilities",
            "supportedServerEditions": [],
            "supportedServerVersions": [],
            "fastProvisioningSupported": "Disabled",
            "supportedFastProvisioningEditions": [],
            "geoBackupSupported": "Enabled",
            "zoneRedundantHaSupported": "Disabled",
            "zoneRedundantHaAndGeoBackupSupported": "Disabled",
            "storageAutoGrowthSupported": "Enabled",
            "onlineResizeSupported": "Enabled",
            "restricted": "Enabled",
            "reason": "Subscriptions are restricted from provisioning in this region. Please choose a different region. For exceptions to this rule please open a support request with Issue type of 'Service and subscription limits'."
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/centralus/capabilities?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "FlexibleServerCapabilities",
            "supportedServerEditions": [],
            "supportedServerVersions": [],
            "fastProvisioningSupported": "Disabled",
            "supportedFastProvisioningEditions": [],
            "geoBackupSupported": "Enabled",
            "zoneRedundantHaSupported": "Disabled",
            "zoneRedundantHaAndGeoBackupSupported": "Enabled",
            "storageAutoGrowthSupported": "Enabled",
            "onlineResizeSupported": "Enabled",
            "restricted": "Enabled",
            "reason": "Microsoft Internal subscriptions are restricted from provisioning in this region. Please choose a different region. For exceptions to this rule please open a support request with Issue type of 'Service and subscription limits'."
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/germanywestcentral/capabilities?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "FlexibleServerCapabilities",
            "supportedServerEditions": [],
            "supportedServerVersions": [],
            "fastProvisioningSupported": "Disabled",
            "supportedFastProvisioningEditions": [],
            "geoBackupSupported": "Enabled",
            "zoneRedundantHaSupported": "Disabled",
            "zoneRedundantHaAndGeoBackupSupported": "Enabled",
            "storageAutoGrowthSupported": "Enabled",
            "onlineResizeSupported": "Enabled",
            "restricted": "Enabled",
            "reason": "Provisioning is restricted in this region. Please choose a different region. For exceptions to this rule please open a support request with Issue type of 'Service and subscription limits'."
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/westus2/capabilities?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "FlexibleServerCapabilities",
            "supportedServerEditions": [],
            "supportedServerVersions": [],
            "fastProvisioningSupported": "Disabled",
            "supportedFastProvisioningEditions": [],
            "geoBackupSupported": "Enabled",
            "zoneRedundantHaSupported": "Disabled",
            "zoneRedundantHaAndGeoBackupSupported": "Disabled",
            "storageAutoGrowthSupported": "Enabled",
            "onlineResizeSupported": "Enabled",
            "restricted": "Enabled",
            "reason": "Subscriptions are restricted from provisioning in this region. Please choose a different region. For exceptions to this rule please open a support request with Issue type of 'Service and subscription limits'."
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/brazilsouth/capabilities?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "FlexibleServerCapabilities",
            "supportedServerEditions": [],
            "supportedServerVersions": [],
            "fastProvisioningSupported": "Disabled",
            "supportedFastProvisioningEditions": [],
            "geoBackupSupported": "Enabled",
            "zoneRedundantHaSupported": "Disabled",
            "zoneRedundantHaAndGeoBackupSupported": "Enabled",
            "storageAutoGrowthSupported": "Enabled",
            "onlineResizeSupported": "Enabled",
            "restricted": "Enabled",
            "reason": "Microsoft Internal subscriptions are restricted from provisioning in this region. Please choose a different region. For exceptions to this rule please open a support request with Issue type of 'Service and subscription limits'."
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/switzerlandnorth/capabilities?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "FlexibleServerCapabilities",
            "supportedServerEditions": [],
            "supportedServerVersions": [],
            "fastProvisioningSupported": "Disabled",
            "supportedFastProvisioningEditions": [],
            "geoBackupSupported": "Enabled",
            "zoneRedundantHaSupported": "Disabled",
            "zoneRedundantHaAndGeoBackupSupported": "Enabled",
            "storageAutoGrowthSupported": "Enabled",
            "onlineResizeSupported": "Enabled",
            "restricted": "Enabled",
            "reason": "Microsoft Internal subscriptions are restricted from provisioning in this region. Please choose a different region. For exceptions to this rule please open a support request with Issue type of 'Service and subscription limits'."
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/francesouth/capabilities?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "FlexibleServerCapabilities",
            "supportedServerEditions": [],
            "supportedServerVersions": [],
            "fastProvisioningSupported": "Disabled",
            "supportedFastProvisioningEditions": [],
            "geoBackupSupported": "Enabled",
            "zoneRedundantHaSupported": "Disabled",
            "zoneRedundantHaAndGeoBackupSupported": "Disabled",
            "storageAutoGrowthSupported": "Enabled",
            "onlineResizeSupported": "Enabled",
            "restricted": "Enabled",
            "reason": "Subscriptions are restricted from provisioning in this region. Please choose a different region. For exceptions to this rule please open a support request with Issue type of 'Service and subscription limits'."
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/norwayeast/capabilities?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "FlexibleServerCapabilities",
            "supportedServerEditions": [],
            "supportedServerVersions": [],
            "fastProvisioningSupported": "Disabled",
            "supportedFastProvisioningEditions": [],
            "geoBackupSupported": "Enabled",
            "zoneRedundantHaSupported": "Disabled",
            "zoneRedundantHaAndGeoBackupSupported": "Enabled",
            "storageAutoGrowthSupported": "Enabled",
            "onlineResizeSupported": "Enabled",
            "restricted": "Enabled",
            "reason": "Microsoft Internal subscriptions are restricted from provisioning in this region. Please choose a different region. For exceptions to this rule please open a support request with Issue type of 'Service and subscription limits'."
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/japaneast/capabilities?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "FlexibleServerCapabilities",
            "supportedServerEditions": [],
            "supportedServerVersions": [],
            "fastProvisioningSupported": "Disabled",
            "supportedFastProvisioningEditions": [],
            "geoBackupSupported": "Enabled",
            "zoneRedundantHaSupported": "Disabled",
            "zoneRedundantHaAndGeoBackupSupported": "Enabled",
            "storageAutoGrowthSupported": "Enabled",
            "onlineResizeSupported": "Enabled",
            "restricted": "Enabled",
            "reason": "Microsoft Internal subscriptions are restricted from provisioning in this region. Please choose a different region. For exceptions to this rule please open a support request with Issue type of 'Service and subscription limits'."
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/mexicocentral/capabilities?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "FlexibleServerCapabilities",
            "supportedServerEditions": [],
            "supportedServerVersions": [],
            "fastProvisioningSupported": "Disabled",
            "supportedFastProvisioningEditions": [],
[...]
