{
  "Entries": [
    {
      "RequestUri": "https://apim-func-test-uscx-s0.cognitiveservices.azure.com/face/v1.1-preview.1/detectLivenessWithVerify/singleModal/sessions/f643ad07-eb1e-44af-946f-87d44b7304be",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "status": "ResultAvailable",
        "result": {
          "id": 2,
          "sessionId": "f643ad07-eb1e-44af-946f-87d44b7304be",
          "requestId": "e7179393-171a-47a9-858e-804bb1cf1f26",
          "receivedDateTime": "2024-05-02T03:47:11.4977309+00:00",
          "request": {
            "url": "/face/v1.1-preview.1/detectLivenessWithVerify/singleModal",
            "method": "POST",
            "contentLength": 1358601,
            "contentType": "multipart/form-data; boundary=--------------------------154024349300168487268618"
          },
          "response": {
            "body": {
              "livenessDecision": "spoofface",
              "target": {
                "faceRectangle": {
                  "top": 782,
                  "left": 260,
                  "width": 858,
                  "height": 984
                },
                "fileName": "video.webp",
                "timeOffsetWithinFile": 0,
                "imageType": "Color"
              },
              "modelVersionUsed": "2022-10-15-preview.04",
              "verifyResult": {
                "verifyImage": {
                  "faceRectangle": {
                    "top": 302,
                    "left": 93,
                    "width": 601,
                    "height": 681
                  },
                  "qualityForRecognition": "high"
                },
                "matchConfidence": 0.99736166,
                "isIdentical": true
              }
            },
            "statusCode": 200,
            "latencyInMilliseconds": 864
          },
          "digest": "9A3ED9FBD0D56D3125A8DDF4345CEBD93A57040DE4CD7F6FCFE54A606AC9A4B2"
        },
        "id": "f643ad07-eb1e-44af-946f-87d44b7304be",
        "createdDateTime": "2024-05-02T03:46:31.3063857+00:00",
        "authTokenTimeToLiveInSeconds": 600,
        "sessionStartDateTime": "2024-05-02T03:47:03.363817+00:00",
        "deviceCorrelationId": "5a843d54-e58f-4ee2-bb65-c75c3ef08c8f",
        "sessionExpired": false
      }
    }
  ],
  "Variables": {
    "FACE_ENDPOINT": "https://apim-func-test-uscx-s0.cognitiveservices.azure.com/",
    "FACE_KEY": "Sanitized",
    "RandomSeed": "2059100037"
  }
}
