{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container176881263905208122?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jan 2026 08:50:39 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5737D2CB95A6\"",
        "Last-Modified": "Mon, 19 Jan 2026 08:50:40 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176881263973602970?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jan 2026 08:50:39 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5737D31AF45B\"",
        "Last-Modified": "Mon, 19 Jan 2026 08:50:40 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176881263973602970/file176881264024609990",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "12",
        "x-ms-date": "Mon, 19 Jan 2026 08:50:40 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5737D330C31F\"",
        "Last-Modified": "Mon, 19 Jan 2026 08:50:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-19T08:50:41.1195167Z",
        "x-ms-file-creation-time": "2026-01-19T08:50:41.1195167Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-01-19T08:50:41.1195167Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10392022680944193986*4077738777225124172",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176881263973602970/file176881264024609990?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 19 Jan 2026 08:50:40 GMT",
        "x-ms-range": "bytes=0-11",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8gV29ybGQh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "7Qdih1MuhjZehB6Sv8UNjA==",
        "ETag": "\"0x8DE5737D343D2F2\"",
        "Last-Modified": "Mon, 19 Jan 2026 08:50:41 GMT",
        "x-ms-file-last-write-time": "2026-01-19T08:50:41.2444402Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container176881263905208122/blob176881263973305435",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 19 Jan 2026 08:50:45 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5737D60AF992\"",
        "Last-Modified": "Mon, 19 Jan 2026 08:50:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-19T08:50:45.9060379Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container176881263905208122/blob176881263973305435?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jan 2026 08:50:45 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-source-range": "bytes=0-11",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5737D6266CC7\"",
        "Last-Modified": "Mon, 19 Jan 2026 08:50:46 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "peH8Xsgc5QI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container176881263905208122/blob176881263973305435",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jan 2026 08:50:45 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE5737D6266CC7\"",
        "Last-Modified": "Mon, 19 Jan 2026 08:50:46 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 19 Jan 2026 08:50:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-19T08:50:45.9060379Z"
      },
      "ResponseBody": "SGVsbG8gV29ybGQh"
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176881263973602970?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jan 2026 08:50:45 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob176881263973305435",
    "container": "container176881263905208122",
    "file": "file176881264024609990",
    "share": "share176881263973602970"
  }
}
