{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361832648209720?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82ECEF16178F\"",
        "Last-Modified": "Sun, 15 Mar 2026 23:45:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177361832655704150?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82ECEF210AC2\"",
        "Last-Modified": "Sun, 15 Mar 2026 23:45:26 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177361832655704150/file177361832663101211",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "12",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82ECEF2AE1CC\"",
        "Last-Modified": "Sun, 15 Mar 2026 23:45:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-03-15T23:45:26.9646796Z",
        "x-ms-file-creation-time": "2026-03-15T23:45:26.9646796Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-03-15T23:45:26.9646796Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "12797325078847506812*1817716036125499890",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177361832655704150/file177361832663101211?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-range": "bytes=0-11",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8gV29ybGQh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "7Qdih1MuhjZehB6Sv8UNjA==",
        "ETag": "\"0x8DE82ECEF366DA6\"",
        "Last-Modified": "Sun, 15 Mar 2026 23:45:27 GMT",
        "x-ms-file-last-write-time": "2026-03-15T23:45:27.0403494Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361832648209720/copiedblob177361832678305955",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakeaccountname.file.core.windows.net/share177361832655704150/file177361832663101211",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82ECF19BDA0F\"",
        "Last-Modified": "Sun, 15 Mar 2026 23:45:31 GMT",
        "x-ms-content-crc64": "peH8Xsgc5QI=",
        "x-ms-copy-id": "9be08086-5725-4855-9bf7-2b85de4c719b",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T23:45:31.0930582Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361832648209720/copiedblob177361832678305955",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "7Qdih1MuhjZehB6Sv8UNjA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE82ECF19BDA0F\"",
        "Last-Modified": "Sun, 15 Mar 2026 23:45:31 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Sun, 15 Mar 2026 23:45:31 GMT",
        "x-ms-copy-id": "9be08086-5725-4855-9bf7-2b85de4c719b",
        "x-ms-copy-progress": "12/12",
        "x-ms-copy-source": "https://fakeaccountname.file.core.windows.net:443/share177361832655704150/file177361832663101211",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sun, 15 Mar 2026 23:45:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sun, 15 Mar 2026 23:45:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T23:45:31.0930582Z"
      },
      "ResponseBody": "SGVsbG8gV29ybGQh"
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.file.core.windows.net/share177361832655704150?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob177361832655701013",
    "container": "container177361832648209720",
    "copiedblob": "copiedblob177361832678305955",
    "file": "file177361832663101211",
    "share": "share177361832655704150"
  }
}
