{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container176881264576203004?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jan 2026 08:50:45 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5737D678AB60\"",
        "Last-Modified": "Mon, 19 Jan 2026 08:50:46 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176881264587800144?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jan 2026 08:50:45 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5737D68A6DA2\"",
        "Last-Modified": "Mon, 19 Jan 2026 08:50:46 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176881264587800144/file176881264599304698",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "12",
        "x-ms-date": "Mon, 19 Jan 2026 08:50:45 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5737D69CD549\"",
        "Last-Modified": "Mon, 19 Jan 2026 08:50:46 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-19T08:50:46.8609353Z",
        "x-ms-file-creation-time": "2026-01-19T08:50:46.8609353Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-01-19T08:50:46.8609353Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10392022680944193986*4077738777225124172",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176881264587800144/file176881264599304698?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 19 Jan 2026 08:50:46 GMT",
        "x-ms-range": "bytes=0-11",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8gV29ybGQh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "7Qdih1MuhjZehB6Sv8UNjA==",
        "ETag": "\"0x8DE5737D6AF21E2\"",
        "Last-Modified": "Mon, 19 Jan 2026 08:50:46 GMT",
        "x-ms-file-last-write-time": "2026-01-19T08:50:46.9808610Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container176881264576203004/newblockblob176881265042709555",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 19 Jan 2026 08:50:50 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5737D94E3751\"",
        "Last-Modified": "Mon, 19 Jan 2026 08:50:51 GMT",
        "x-ms-content-crc64": "peH8Xsgc5QI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-19T08:50:51.3788753Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container176881264576203004/newblockblob176881265042709555",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jan 2026 08:50:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "7Qdih1MuhjZehB6Sv8UNjA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE5737D94E3751\"",
        "Last-Modified": "Mon, 19 Jan 2026 08:50:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 19 Jan 2026 08:50:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-19T08:50:51.3788753Z"
      },
      "ResponseBody": "SGVsbG8gV29ybGQh"
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176881264587800144?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 19 Jan 2026 08:50:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob176881264587806555",
    "container": "container176881264576203004",
    "file": "file176881264599304698",
    "newblockblob": "newblockblob176881265042709555",
    "share": "share176881264587800144"
  }
}
