{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container176413496142209567?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Nov 2025 05:29:21 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2CACC0F7322F\"",
        "Last-Modified": "Wed, 26 Nov 2025 05:29:21 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176413496173206215?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Nov 2025 05:29:21 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2CACC1266BE6\"",
        "Last-Modified": "Wed, 26 Nov 2025 05:29:21 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176413496173206215/file176413496210307867",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "12",
        "x-ms-date": "Wed, 26 Nov 2025 05:29:22 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2CACC15FCFCC\"",
        "Last-Modified": "Wed, 26 Nov 2025 05:29:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-11-26T05:29:22.3467980Z",
        "x-ms-file-creation-time": "2025-11-26T05:29:22.3467980Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-11-26T05:29:22.3467980Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14681360101839640218*7142220257662565908",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176413496173206215/file176413496210307867?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 26 Nov 2025 05:29:22 GMT",
        "x-ms-range": "bytes=0-11",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8gV29ybGQh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "7Qdih1MuhjZehB6Sv8UNjA==",
        "ETag": "\"0x8DE2CACC19222FD\"",
        "Last-Modified": "Wed, 26 Nov 2025 05:29:22 GMT",
        "x-ms-file-last-write-time": "2025-11-26T05:29:22.6766077Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container176413496142209567/copiedblob176413496273005391",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Nov 2025 05:29:27 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2CACC4743CD9\"",
        "Last-Modified": "Wed, 26 Nov 2025 05:29:27 GMT",
        "x-ms-content-crc64": "peH8Xsgc5QI=",
        "x-ms-copy-id": "d1ec3ea3-fa15-4738-8964-c94f63ab91ee",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/container176413496142209567/copiedblob176413496273005391",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Nov 2025 05:29:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "7Qdih1MuhjZehB6Sv8UNjA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE2CACC4743CD9\"",
        "Last-Modified": "Wed, 26 Nov 2025 05:29:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Wed, 26 Nov 2025 05:29:27 GMT",
        "x-ms-copy-id": "d1ec3ea3-fa15-4738-8964-c94f63ab91ee",
        "x-ms-copy-progress": "12/12",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Wed, 26 Nov 2025 05:29:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "SGVsbG8gV29ybGQh"
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176413496173206215?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 26 Nov 2025 05:29:28 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob176413496173203405",
    "container": "container176413496142209567",
    "copiedblob": "copiedblob176413496273005391",
    "file": "file176413496210307867",
    "share": "share176413496173206215"
  }
}
