{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipNRMSNSG": "true"
        },
        "subscriptionId": "69a75bda-882e-44d5-8431-63421204132a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "QATest02-SVL",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourcegroups/testNetAppDotNetSDKRG-2576?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env",
          "Owner": "b-aubald"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576",
        "name": "testNetAppDotNetSDKRG-2576",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env",
          "Owner": "b-aubald",
          "CreatedOnDate": "2023-09-19T14:59:49.8081889Z",
          "SkipNRMSNSG": "true"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/checkNameAvailability?api-version=2023-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "account1926",
        "type": "Microsoft.NetApp/netAppAccounts",
        "resourceGroup": "testNetAppDotNetSDKRG-2576"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "isAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.NetApp/netAppAccounts/account1926?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/7fcc50e1-1798-468d-8727-060989de31eb?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-19T14%3A59%3A55.7889302Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.NetApp/netAppAccounts/account1926",
        "name": "account1926",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "W/\u0022datetime\u00272023-09-19T14%3A59%3A55.7889302Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2023-09-19T14:59:53.1601189Z"
        },
        "properties": {
          "activeDirectories": [
            {
              "activeDirectoryId": "09ef3da0-c3dd-8e10-a69c-04a84d8ebc85",
              "username": "sdkuser",
              "password": "****************",
              "domain": "sdkdomain",
              "dns": "192.0.2.2",
              "status": "Created",
              "smbServerName": "PSSMBSName",
              "organizationalUnit": "CN=Computers",
              "adName": "ps1792",
              "aesEncryption": false,
              "ldapSigning": false,
              "ldapOverTLS": false,
              "allowLocalNfsUsersWithLdap": false,
              "encryptDCConnections": false,
              "ldapSearchScope": {}
            }
          ],
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "createdByType": "Application",
          "createdAt": "2023-09-19T14:59:55.6576385Z",
          "lastModifiedBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-19T14:59:55.6576385Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/7fcc50e1-1798-468d-8727-060989de31eb?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/7fcc50e1-1798-468d-8727-060989de31eb",
        "name": "7fcc50e1-1798-468d-8727-060989de31eb",
        "status": "Succeeded",
        "startTime": "2023-09-19T14:59:55.7978939Z",
        "endTime": "2023-09-19T14:59:55.8498714Z",
        "percentComplete": 100.0,
        "properties": {
          "resourceName": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.NetApp/netAppAccounts/account1926",
          "action": "CREATE"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.NetApp/netAppAccounts/account1926/capacityPools/pool1?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {
          "size": 4398046511104,
          "serviceLevel": "Premium"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/ea8d8a73-b73e-47b1-98a9-170d19dc6d1e?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-19T14%3A59%3A59.5503988Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.NetApp/netAppAccounts/account1926/capacityPools/pool1",
        "name": "account1926/pool1",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
        "etag": "W/\u0022datetime\u00272023-09-19T14%3A59%3A59.5503988Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2023-09-19T14:59:58.2993075Z"
        },
        "properties": {
          "serviceLevel": "Premium",
          "size": 4398046511104,
          "totalThroughputMibps": 0.0,
          "utilizedThroughputMibps": 0.0,
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "createdByType": "Application",
          "createdAt": "2023-09-19T14:59:59.3764113Z",
          "lastModifiedBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-19T14:59:59.3764113Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.NetApp/netAppAccounts/account1926/capacityPools/pool1?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-19T15%3A00%3A00.0313605Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.NetApp/netAppAccounts/account1926/capacityPools/pool1",
        "name": "account1926/pool1",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
        "etag": "W/\u0022datetime\u00272023-09-19T15%3A00%3A00.0313605Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2023-09-19T14:59:58.2993075Z"
        },
        "properties": {
          "poolId": "bbcc4513-2750-25bf-161d-f2df9034eefe",
          "serviceLevel": "Premium",
          "size": 4398046511104,
          "qosType": "Auto",
          "totalThroughputMibps": 256.0,
          "utilizedThroughputMibps": 0.0,
          "encryptionType": "Single",
          "coolAccess": false,
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "createdByType": "Application",
          "createdAt": "2023-09-19T14:59:59.3764113Z",
          "lastModifiedBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-19T14:59:59.3764113Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.Network/virtualNetworks/vnet-4585?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "properties": {
                "addressPrefix": "10.0.1.0/24",
                "delegations": [
                  {
                    "name": "netAppVolumes",
                    "properties": {
                      "serviceName": "Microsoft.Netapp/volumes"
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.Network/locations/westus2/operations/2ce2e22a-5089-4141-98b7-3ee7cd992634?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "name": "vnet-4585",
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.Network/virtualNetworks/vnet-4585",
        "etag": "W/\u0022eeabb6a0-d056-4b6d-b1be-563fa2415052\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "westus2",
        "tags": {
          "CreatedOnDate": "2023-09-19T15:00:01.8001148Z"
        },
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "74c2518f-42b5-44a9-89ba-009f9fe9c0ed",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.Network/virtualNetworks/vnet-4585/subnets/default",
              "etag": "W/\u0022eeabb6a0-d056-4b6d-b1be-563fa2415052\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.1.0/24",
                "delegations": [
                  {
                    "name": "netAppVolumes",
                    "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.Network/virtualNetworks/vnet-4585/subnets/default/delegations/netAppVolumes",
                    "etag": "W/\u0022eeabb6a0-d056-4b6d-b1be-563fa2415052\u0022",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "serviceName": "Microsoft.Netapp/volumes",
                      "actions": [
                        "Microsoft.Network/networkinterfaces/*",
                        "Microsoft.Network/virtualNetworks/subnets/join/action"
                      ]
                    },
                    "type": "Microsoft.Network/virtualNetworks/subnets/delegations"
                  }
                ],
                "purpose": "HostedWorkloads",
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.Network/locations/westus2/operations/2ce2e22a-5089-4141-98b7-3ee7cd992634?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.NetApp/netAppAccounts/account1926/capacityPools/pool1/volumes/volumeName-8837?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {
          "creationToken": "volumeName-8837",
          "usageThreshold": 107374182400,
          "exportPolicy": {
            "rules": [
              {
                "ruleIndex": 1,
                "unixReadOnly": false,
                "unixReadWrite": true,
                "kerberos5ReadOnly": false,
                "kerberos5ReadWrite": false,
                "kerberos5iReadOnly": false,
                "kerberos5iReadWrite": false,
                "kerberos5pReadOnly": false,
                "kerberos5pReadWrite": false,
                "cifs": false,
                "nfsv3": true,
                "nfsv41": false,
                "allowedClients": "0.0.0.0/0"
              }
            ]
          },
          "protocolTypes": [
            "NFSv3"
          ],
          "subnetId": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.Network/virtualNetworks/vnet-4585/subnets/default"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/e700bb47-5f65-4d5c-83ae-c0bb89e1afff?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-19T15%3A00%3A50.4018904Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.NetApp/netAppAccounts/account1926/capacityPools/pool1/volumes/volumeName-8837",
        "name": "account1926/pool1/volumeName-8837",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
        "etag": "W/\u0022datetime\u00272023-09-19T15%3A00%3A50.4018904Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2023-09-19T15:00:48.5398055Z"
        },
        "properties": {
          "volumeType": "",
          "serviceLevel": "Premium",
          "creationToken": "volumeName-8837",
          "usageThreshold": 107374182400,
          "exportPolicy": {
            "rules": [
              {
                "ruleIndex": 1,
                "unixReadOnly": false,
                "unixReadWrite": true,
                "cifs": false,
                "nfsv3": true,
                "nfsv41": false,
                "allowedClients": "0.0.0.0/0",
                "kerberos5ReadOnly": false,
                "kerberos5ReadWrite": false,
                "kerberos5iReadOnly": false,
                "kerberos5iReadWrite": false,
                "kerberos5pReadOnly": false,
                "kerberos5pReadWrite": false
              }
            ]
          },
          "protocolTypes": [
            "NFSv3"
          ],
          "subnetId": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.Network/virtualNetworks/vnet-4585/subnets/default",
          "maximumNumberOfFiles": 100000000,
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "createdByType": "Application",
          "createdAt": "2023-09-19T15:00:50.0019468Z",
          "lastModifiedBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-19T15:00:50.0019468Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.NetApp/netAppAccounts/account1926/capacityPools/pool1/volumes/volumeName-8837?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272023-09-19T15%3A05%3A52.6072752Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11971"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.NetApp/netAppAccounts/account1926/capacityPools/pool1/volumes/volumeName-8837",
        "name": "account1926/pool1/volumeName-8837",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
        "etag": "W/\u0022datetime\u00272023-09-19T15%3A05%3A52.6072752Z\u0027\u0022",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2023-09-19T15:00:48.5398055Z"
        },
        "properties": {
          "volumeType": "",
          "fileSystemId": "0c1e63c2-bc32-752c-f02f-16f53bb72141",
          "serviceLevel": "Premium",
          "creationToken": "volumeName-8837",
          "usageThreshold": 107374182400,
          "exportPolicy": {
            "rules": [
              {
                "ruleIndex": 1,
                "unixReadOnly": false,
                "unixReadWrite": true,
                "cifs": false,
                "nfsv3": true,
                "nfsv41": false,
                "allowedClients": "0.0.0.0/0",
                "kerberos5ReadOnly": false,
                "kerberos5ReadWrite": false,
                "kerberos5iReadOnly": false,
                "kerberos5iReadWrite": false,
                "kerberos5pReadOnly": false,
                "kerberos5pReadWrite": false,
                "hasRootAccess": true,
                "chownMode": "Restricted"
              }
            ]
          },
          "protocolTypes": [
            "NFSv3"
          ],
          "baremetalTenantId": "baremetalTenant_svm_8f82c7b40509489d9e97d719b9b955b4_c772ad1f",
          "subnetId": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.Network/virtualNetworks/vnet-4585/subnets/default",
          "networkFeatures": "Basic",
          "networkSiblingSetId": "28ea9a05-d073-7699-4280-476792962d9b",
          "storageToNetworkProximity": "Default",
          "snapshotDirectoryVisible": true,
          "kerberosEnabled": false,
          "securityStyle": "Unix",
          "smbEncryption": false,
          "smbContinuouslyAvailable": false,
          "encryptionKeySource": "Microsoft.NetApp",
          "ldapEnabled": false,
          "unixPermissions": "0770",
          "mountTargets": [
            {
              "mountTargetId": "0c1e63c2-bc32-752c-f02f-16f53bb72141",
              "fileSystemId": "0c1e63c2-bc32-752c-f02f-16f53bb72141",
              "ipAddress": "10.0.1.4"
            }
          ],
          "coolAccess": false,
          "avsDataStore": "Disabled",
          "isDefaultQuotaEnabled": false,
          "defaultUserQuotaInKiBs": 0,
          "defaultGroupQuotaInKiBs": 0,
          "enableSubvolumes": "Disabled",
          "maximumNumberOfFiles": 100000000,
          "smbNonBrowsable": "Disabled",
          "smbAccessBasedEnumeration": "Disabled",
          "isLargeVolume": false,
          "provisionedAvailabilityZone": "1",
          "actualThroughputMibps": 6.25,
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "createdByType": "Application",
          "createdAt": "2023-09-19T15:00:50.0019468Z",
          "lastModifiedBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-19T15:00:50.0019468Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.NetApp/netAppAccounts/account1926/capacityPools/pool1/volumes/volumeName-8837?api-version=2023-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/b439ec16-c9e1-4601-9075-9d4812c407d8?api-version=2023-05-01",
        "Location": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/b439ec16-c9e1-4601-9075-9d4812c407d8?api-version=2023-05-01\u0026operationResultResponseType=Location",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.NetApp/netAppAccounts/account1926/capacityPools/volumeName-8837?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.NetApp/netAppAccounts/account1926/capacityPools/volumeName-8837\u0027 under resource group \u0027testNetAppDotNetSDKRG-2576\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.NetApp/netAppAccounts/account1926/capacityPools?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11956"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.NetApp/netAppAccounts/account1926/capacityPools/pool1",
            "name": "account1926/pool1",
            "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
            "etag": "W/\u0022datetime\u00272023-09-19T15%3A06%3A35.4371196Z\u0027\u0022",
            "location": "westus2",
            "tags": {
              "key1": "value1",
              "key2": "value2",
              "CreatedOnDate": "2023-09-19T14:59:58.2993075Z"
            },
            "properties": {
              "poolId": "bbcc4513-2750-25bf-161d-f2df9034eefe",
              "serviceLevel": "Premium",
              "size": 4398046511104,
              "qosType": "Auto",
              "totalThroughputMibps": 256.0,
              "utilizedThroughputMibps": 0.0,
              "encryptionType": "Single",
              "coolAccess": false,
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
              "createdByType": "Application",
              "createdAt": "2023-09-19T14:59:59.3764113Z",
              "lastModifiedBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-09-19T14:59:59.3764113Z"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-2576/providers/Microsoft.NetApp/netAppAccounts/account1926/capacityPools/pool1/volumes?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11955"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/030ffbe3-c4ba-433f-8d3e-c4a8adda5c3e?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11952"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/030ffbe3-c4ba-433f-8d3e-c4a8adda5c3e",
        "name": "030ffbe3-c4ba-433f-8d3e-c4a8adda5c3e",
        "status": "Succeeded",
        "startTime": "2023-09-19T15:08:41.8532473Z",
[...]
