{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipNRMSNSG": "true"
        },
        "subscriptionId": "69a75bda-882e-44d5-8431-63421204132a",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "QATest02-SVL",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourcegroups/testNetAppDotNetSDKRG-5619?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env",
          "Owner": "b-aubald"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "12000",
        "x-ms-ratelimit-remaining-subscription-writes": "800"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619",
        "name": "testNetAppDotNetSDKRG-5619",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env",
          "Owner": "b-aubald",
          "CreatedOnDate": "2024-10-17T09:40:57.0946158Z",
          "SkipNRMSNSG": "true"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/checkNameAvailability?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "account1929",
        "type": "Microsoft.NetApp/netAppAccounts",
        "resourceGroup": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "isAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.NetApp/netAppAccounts/account1929?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/75e83bbe-6083-4de9-9ae7-09e417795575?api-version=2024-07-01&t=638647548752737099&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/75e83bbe-6083-4de9-9ae7-09e417795575?api-version=2024-07-01&t=638647548752737099&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.NetApp/netAppAccounts/account1929?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"datetime'2024-10-17T09%3A41%3A13.6339689Z'\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.NetApp/netAppAccounts/account1929",
        "name": "account1929",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "W/\"datetime'2024-10-17T09%3A41%3A13.6339689Z'\"",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2024-10-17T09:41:10.6049190Z"
        },
        "properties": {
          "encryption": {
            "keySource": "Microsoft.NetApp"
          },
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2024-10-17T09:41:12.8048308Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2024-10-17T09:41:12.8048308Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.NetApp/netAppAccounts/account1929/capacityPools/pool1?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {
          "size": 4398046511104,
          "serviceLevel": "Premium"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/8ece2639-d5db-45d7-b7e3-da379864b45f?api-version=2024-07-01&t=638647548911236727&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/8ece2639-d5db-45d7-b7e3-da379864b45f?api-version=2024-07-01&t=638647548911236727&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.NetApp/netAppAccounts/account1929/capacityPools/pool1?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"datetime'2024-10-17T09%3A41%3A29.8130086Z'\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.NetApp/netAppAccounts/account1929/capacityPools/pool1",
        "name": "account1929/pool1",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
        "etag": "W/\"datetime'2024-10-17T09%3A41%3A29.8130086Z'\"",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2024-10-17T09:41:23.1931147Z"
        },
        "properties": {
          "poolId": "a486a083-2595-65d0-44d2-6479214d1c32",
          "serviceLevel": "Premium",
          "size": 4398046511104,
          "qosType": "Auto",
          "totalThroughputMibps": 256.0,
          "utilizedThroughputMibps": 0.0,
          "encryptionType": "Single",
          "coolAccess": false,
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2024-10-17T09:41:28.5298868Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2024-10-17T09:41:28.5298868Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.Network/virtualNetworks/vnet-1590?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "properties": {
                "addressPrefix": "10.0.1.0/24",
                "delegations": [
                  {
                    "name": "netAppVolumes",
                    "properties": {
                      "serviceName": "Microsoft.Netapp/volumes"
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.Network/locations/westus2/operations/0051347c-4c4d-4291-b64e-c31985d99a53?api-version=2023-05-01&t=638647549020565618&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGl[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.Network/locations/westus2/operations/0051347c-4c4d-4291-b64e-c31985d99a53?api-version=**&t=638647549020565618&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0Z[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.Network/virtualNetworks/vnet-1590?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"269fab19-1e5d-4dc0-b9e8-1e36f1438701\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "vnet-1590",
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.Network/virtualNetworks/vnet-1590",
        "etag": "W/\"269fab19-1e5d-4dc0-b9e8-1e36f1438701\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "westus2",
        "tags": {
          "CreatedOnDate": "2024-10-17T09:41:36.3038072Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "f98cddfd-f154-4d39-8d54-9a30c4c55f92",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.Network/virtualNetworks/vnet-1590/subnets/default",
              "etag": "W/\"269fab19-1e5d-4dc0-b9e8-1e36f1438701\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.1.0/24",
                "delegations": [
                  {
                    "name": "netAppVolumes",
                    "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.Network/virtualNetworks/vnet-1590/subnets/default/delegations/netAppVolumes",
                    "etag": "W/\"269fab19-1e5d-4dc0-b9e8-1e36f1438701\"",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "serviceName": "Microsoft.Netapp/volumes",
                      "actions": [
                        "Microsoft.Network/networkinterfaces/*",
                        "Microsoft.Network/virtualNetworks/subnets/join/action"
                      ]
                    },
                    "type": "Microsoft.Network/virtualNetworks/subnets/delegations"
                  }
                ],
                "purpose": "HostedWorkloads",
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.Network/locations/westus2/operations/8221f04c-b3bd-4f81-bf0d-91e9c8bcc920?api-version=**&t=638647549075198307&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0Z[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.NetApp/netAppAccounts/account1929/capacityPools/pool1/volumes/volumeName-6854?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {
          "creationToken": "volumeName-6854",
          "usageThreshold": 107374182400,
          "subnetId": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.Network/virtualNetworks/vnet-1590/subnets/default"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/5211608c-ac20-4974-992a-86d845e76613?api-version=2024-07-01&t=638647549444257216&c=MIIH[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/5211608c-ac20-4974-992a-86d845e76613?api-version=2024-07-01&t=638647549444257216&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.NetApp/netAppAccounts/account1929/capacityPools/pool1/volumes/volumeName-6854?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"datetime'2024-10-17T09%3A47%3A28.0209561Z'\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.NetApp/netAppAccounts/account1929/capacityPools/pool1/volumes/volumeName-6854",
        "name": "account1929/pool1/volumeName-6854",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
        "etag": "W/\"datetime'2024-10-17T09%3A47%3A28.0209561Z'\"",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2024-10-17T09:42:20.5763571Z"
        },
        "properties": {
          "volumeType": "",
          "fileSystemId": "960d297b-95c2-0f7a-7c30-e5d158da96a7",
          "serviceLevel": "Premium",
          "creationToken": "volumeName-6854",
          "usageThreshold": 107374182400,
          "exportPolicy": {
            "rules": [
              {
                "ruleIndex": 1,
                "unixReadOnly": false,
                "unixReadWrite": true,
                "cifs": false,
                "nfsv3": true,
                "nfsv41": false,
                "allowedClients": "0.0.0.0/0",
                "kerberos5ReadOnly": false,
                "kerberos5ReadWrite": false,
                "kerberos5iReadOnly": false,
                "kerberos5iReadWrite": false,
                "kerberos5pReadOnly": false,
                "kerberos5pReadWrite": false,
                "hasRootAccess": true,
                "chownMode": "Restricted"
              }
            ]
          },
          "protocolTypes": [
            "NFSv3"
          ],
          "baremetalTenantId": "baremetalTenant_svm_8f82c7b40509489d9e97d719b9b955b4_1e8abd4e",
          "subnetId": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.Network/virtualNetworks/vnet-1590/subnets/default",
          "networkFeatures": "Basic",
          "effectiveNetworkFeatures": "Basic",
          "networkSiblingSetId": "7a5866d0-75d1-7c44-d179-07f7f3d486a4",
          "storageToNetworkProximity": "T2",
          "snapshotDirectoryVisible": true,
          "kerberosEnabled": false,
          "securityStyle": "Unix",
          "smbEncryption": false,
          "smbContinuouslyAvailable": false,
          "encryptionKeySource": "Microsoft.NetApp",
          "ldapEnabled": false,
          "unixPermissions": "0770",
          "mountTargets": [
            {
              "mountTargetId": "960d297b-95c2-0f7a-7c30-e5d158da96a7",
              "fileSystemId": "960d297b-95c2-0f7a-7c30-e5d158da96a7",
              "ipAddress": "10.0.1.4"
            }
          ],
          "coolAccess": false,
          "avsDataStore": "Disabled",
          "isDefaultQuotaEnabled": false,
          "defaultUserQuotaInKiBs": 0,
          "defaultGroupQuotaInKiBs": 0,
          "enableSubvolumes": "Disabled",
          "smbNonBrowsable": "Disabled",
          "smbAccessBasedEnumeration": "Disabled",
          "isLargeVolume": false,
          "provisionedAvailabilityZone": "2",
          "actualThroughputMibps": 6.25,
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2024-10-17T09:42:22.6131361Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2024-10-17T09:42:22.6131361Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.NetApp/netAppAccounts/account1929/capacityPools/pool1/volumes/volumeName-6854/getGroupIdListForLdapUser?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "username": "fakeUser"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "error": {
          "code": "GroupIdListForLDAPUserNotSupportedVolumes",
          "message": "Group Id list can be fetched for LDAP enabled volumes only. Please check that the volume is LDAP enabled."
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.NetApp/netAppAccounts/account1929/capacityPools?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.NetApp/netAppAccounts/account1929/capacityPools/pool1",
            "name": "account1929/pool1",
            "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
            "etag": "W/\"datetime'2024-10-17T09%3A47%3A27.9054628Z'\"",
            "location": "westus2",
            "tags": {
              "key1": "value1",
              "key2": "value2",
              "CreatedOnDate": "2024-10-17T09:41:23.1931147Z"
            },
            "properties": {
              "poolId": "a486a083-2595-65d0-44d2-6479214d1c32",
              "serviceLevel": "Premium",
              "size": 4398046511104,
              "qosType": "Auto",
              "totalThroughputMibps": 256.0,
              "utilizedThroughputMibps": 6.25,
              "encryptionType": "Single",
              "coolAccess": false,
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2024-10-17T09:41:28.5298868Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2024-10-17T09:41:28.5298868Z"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-5619/providers/Microsoft.NetApp/netAppAccounts/account1929/capacityPools/pool1/volumes?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
    [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/5d1284fa-0eab-4fac-8335-3401f3e88e36?api-version=2024-07-01&t=638647552831870097&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/2622ce2f-9a31-4cb1-a407-22993ee75e81?api-version=2024-07-01&t=638647554264323018&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/3e27a5fb-c4f2-4216-9479-ba62715b8dc9?api-version=2024-07-01&t=638647554764408526&c=MIIHpTCCBo2gAwIBAgITOgO7--KMlORyeFRuJwAEA7v74jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTI3MDg1MDEwWhcNMjUwMzI2MDg1MDEwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
