{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipNRMSNSG": "true"
        },
        "subscriptionId": "69a75bda-882e-44d5-8431-63421204132a",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "QATest02-SVL",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourcegroups/testNetAppDotNetSDKRG-327?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env",
          "Owner": "b-aubald"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327",
        "name": "testNetAppDotNetSDKRG-327",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env",
          "Owner": "b-aubald",
          "CreatedOnDate": "2025-04-09T12:16:25.4388775Z",
          "SkipNRMSNSG": "true"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/checkNameAvailability?api-version=2025-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "account7899",
        "type": "Microsoft.NetApp/netAppAccounts",
        "resourceGroup": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "isAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.NetApp/netAppAccounts/account7899?api-version=2025-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/97874a61-b4e3-4d6d-b8df-bd20f98478ef?api-version=2025-01-01&t=638797977920398328&c=MIIHpTCCBo2gAwIBAgITOgSvEnBUhD-yDfZ8HQAEBK8ScDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwMTIyMDEyOTEzWhcNMjUwNzIxMDEyOTEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/97874a61-b4e3-4d6d-b8df-bd20f98478ef?api-version=2025-01-01&t=638797977920398328&c=MIIHpTCCBo2gAwIBAgITOgSvEnBUhD-yDfZ8HQAEBK8ScDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwMTIyMDEyOTEzWhcNMjUwNzIxMDEyOTEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.NetApp/netAppAccounts/account7899?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"datetime'2025-04-09T12%3A16%3A30.8991745Z'\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.NetApp/netAppAccounts/account7899",
        "name": "account7899",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "W/\"datetime'2025-04-09T12%3A16%3A30.8991745Z'\"",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2025-04-09T12:16:29.3919047Z"
        },
        "properties": {
          "encryption": {
            "keySource": "Microsoft.NetApp"
          },
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-04-09T12:16:30.164834Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-04-09T12:16:30.164834Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.NetApp/netAppAccounts/account7899/capacityPools/pool1?api-version=2025-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {
          "size": 4398046511104,
          "serviceLevel": "Premium"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/20005561-7142-49f6-9ad3-dd1c9859a08c?api-version=2025-01-01&t=638797977980032493&c=MIIHpTCCBo2gAwIBAgITOgSvEnBUhD-yDfZ8HQAEBK8ScDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/20005561-7142-49f6-9ad3-dd1c9859a08c?api-version=2025-01-01&t=638797977980032493&c=MIIHpTCCBo2gAwIBAgITOgSvEnBUhD-yDfZ8HQAEBK8ScDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwMTIyMDEyOTEzWhcNMjUwNzIxMDEyOTEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.NetApp/netAppAccounts/account7899/capacityPools/pool1?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"datetime'2025-04-09T12%3A16%3A36.5394299Z'\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.NetApp/netAppAccounts/account7899/capacityPools/pool1",
        "name": "account7899/pool1",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
        "etag": "W/\"datetime'2025-04-09T12%3A16%3A36.5394299Z'\"",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2025-04-09T12:16:34.3852815Z"
        },
        "properties": {
          "poolId": "8fbcc631-2607-1034-9e28-779ffd9c1dd6",
          "serviceLevel": "Premium",
          "size": 4398046511104,
          "qosType": "Auto",
          "totalThroughputMibps": 256.0,
          "utilizedThroughputMibps": 0.0,
          "encryptionType": "Single",
          "coolAccess": false,
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-04-09T12:16:36.0344861Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-04-09T12:16:36.0344861Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.Network/virtualNetworks/vnet-1675?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "properties": {
                "addressPrefix": "10.0.1.0/24",
                "delegations": [
                  {
                    "name": "netAppVolumes",
                    "properties": {
                      "serviceName": "Microsoft.Netapp/volumes"
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.Network/locations/westus2/operations/a0903a37-ee31-4f6e-8078-c75d2b4dcc51?api-version=2023-05-01&t=638797978034029345&c=MIIHpTCCBo2gAwIBAgITOgSvEnBUhD-yDfZ8HQAEBK8ScDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwMTIyMDEyOTEzWhcNMjUwNzIxMDEyOTEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGl[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.Network/locations/westus2/operations/a0903a37-ee31-4f6e-8078-c75d2b4dcc51?api-version=**&t=638797978034029345&c=MIIHpTCCBo2gAwIBAgITOgSvEnBUhD-yDfZ8HQAEBK8ScDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwMTIyMDEyOTEzWhcNMjUwNzIxMDEyOTEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0Z[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.Network/virtualNetworks/vnet-1675?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"d1a06c0e-2d5b-4248-a9ed-99ae66ca5f4a\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "name": "vnet-1675",
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.Network/virtualNetworks/vnet-1675",
        "etag": "W/\"d1a06c0e-2d5b-4248-a9ed-99ae66ca5f4a\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "westus2",
        "tags": {
          "CreatedOnDate": "2025-04-09T12:16:40.6077754Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "9663b92e-2ff2-430a-b43b-2263224d2eb6",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.Network/virtualNetworks/vnet-1675/subnets/default",
              "etag": "W/\"d1a06c0e-2d5b-4248-a9ed-99ae66ca5f4a\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.1.0/24",
                "delegations": [
                  {
                    "name": "netAppVolumes",
                    "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.Network/virtualNetworks/vnet-1675/subnets/default/delegations/netAppVolumes",
                    "etag": "W/\"d1a06c0e-2d5b-4248-a9ed-99ae66ca5f4a\"",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "serviceName": "Microsoft.Netapp/volumes",
                      "actions": [
                        "Microsoft.Network/networkinterfaces/*",
                        "Microsoft.Network/virtualNetworks/subnets/join/action"
                      ]
                    },
                    "type": "Microsoft.Network/virtualNetworks/subnets/delegations"
                  }
                ],
                "purpose": "HostedWorkloads",
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.Network/locations/westus2/operations/609b467d-535e-44c0-987b-71bec65f3539?api-version=**&t=638797978180737946&c=MIIHpTCCBo2gAwIBAgITOgSvEnBUhD-yDfZ8HQAEBK8ScDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwMTIyMDEyOTEzWhcNMjUwNzIxMDEyOTEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0Z[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.NetApp/netAppAccounts/account7899/capacityPools/pool1/volumes/volumeName-9323?api-version=2025-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "westus2",
        "properties": {
          "creationToken": "volumeName-9323",
          "usageThreshold": 107374182400,
          "subnetId": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.Network/virtualNetworks/vnet-1675/subnets/default"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/b6e0fe4b-43e5-44c1-ba8f-f617afb4f7c9?api-version=2025-01-01&t=638797978536444607&c=MIIHp[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/b6e0fe4b-43e5-44c1-ba8f-f617afb4f7c9?api-version=2025-01-01&t=638797978536444607&c=MIIHpTCCBo2gAwIBAgITOgSvEnBUhD-yDfZ8HQAEBK8ScDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwMTIyMDEyOTEzWhcNMjUwNzIxMDEyOTEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.NetApp/netAppAccounts/account7899/capacityPools/pool1/volumes/volumeName-9323?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"datetime'2025-04-09T12%3A22%3A52.4992878Z'\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.NetApp/netAppAccounts/account7899/capacityPools/pool1/volumes/volumeName-9323",
        "name": "account7899/pool1/volumeName-9323",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
        "etag": "W/\"datetime'2025-04-09T12%3A22%3A52.4992878Z'\"",
        "location": "westus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2025-04-09T12:17:29.9562356Z"
        },
        "properties": {
          "volumeType": "",
          "fileSystemId": "50b28940-2c2f-d354-93fa-0ade882b3c6f",
          "serviceLevel": "Premium",
          "creationToken": "volumeName-9323",
          "usageThreshold": 107374182400,
          "exportPolicy": {
            "rules": [
              {
                "ruleIndex": 1,
                "unixReadOnly": false,
                "unixReadWrite": true,
                "cifs": false,
                "nfsv3": true,
                "nfsv41": false,
                "allowedClients": "0.0.0.0/0",
                "kerberos5ReadOnly": false,
                "kerberos5ReadWrite": false,
                "kerberos5iReadOnly": false,
                "kerberos5iReadWrite": false,
                "kerberos5pReadOnly": false,
                "kerberos5pReadWrite": false,
                "hasRootAccess": true,
                "chownMode": "Restricted"
              }
            ]
          },
          "protocolTypes": [
            "NFSv3"
          ],
          "baremetalTenantId": "baremetalTenant_svm_8f82c7b40509489d9e97d719b9b955b4_05e92dc8",
          "subnetId": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.Network/virtualNetworks/vnet-1675/subnets/default",
          "networkFeatures": "Basic",
          "effectiveNetworkFeatures": "Basic",
          "networkSiblingSetId": "28ea9a05-d073-7699-4280-476792962d9b",
          "storageToNetworkProximity": "AcrossT2",
          "snapshotDirectoryVisible": true,
          "kerberosEnabled": false,
          "securityStyle": "Unix",
          "smbEncryption": false,
          "smbContinuouslyAvailable": false,
          "encryptionKeySource": "Microsoft.NetApp",
          "ldapEnabled": false,
          "unixPermissions": "0770",
          "mountTargets": [
            {
              "mountTargetId": "50b28940-2c2f-d354-93fa-0ade882b3c6f",
              "fileSystemId": "50b28940-2c2f-d354-93fa-0ade882b3c6f",
              "ipAddress": "10.0.1.4"
            }
          ],
          "coolAccess": false,
          "avsDataStore": "Disabled",
          "isDefaultQuotaEnabled": false,
          "defaultUserQuotaInKiBs": 0,
          "defaultGroupQuotaInKiBs": 0,
          "enableSubvolumes": "Disabled",
          "smbNonBrowsable": "Disabled",
          "smbAccessBasedEnumeration": "Disabled",
          "isLargeVolume": false,
          "provisionedAvailabilityZone": "1",
          "actualThroughputMibps": 6.25,
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-04-09T12:17:31.5819642Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-04-09T12:17:31.5819642Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.NetApp/netAppAccounts/account7899/capacityPools/pool1/volumes/volumeName-9323?api-version=2025-01-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "Tag2": "value2"
        },
        "location": "westus2",
        "properties": {
          "snapshotDirectoryVisible": false
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/9cd61649-da62-4a47-b845-153f24dce41e?api-version=2025-01-01&t=638797981946213513&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgk[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/9cd61649-da62-4a47-b845-153f24dce41e?api-version=2025-01-01&t=638797981946213513&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.NetApp/netAppAccounts/account7899/capacityPools?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "7066318b-3c80-41a7-a863-d2dfc9ad00ad",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.NetApp/netAppAccounts/account7899/capacityPools/pool1",
            "name": "account7899/pool1",
            "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
            "etag": "W/\"datetime'2025-04-09T12%3A22%3A50.460241Z'\"",
            "location": "westus2",
            "tags": {
              "key1": "value1",
              "key2": "value2",
              "CreatedOnDate": "2025-04-09T12:16:34.3852815Z"
            },
            "properties": {
              "poolId": "8fbcc631-2607-1034-9e28-779ffd9c1dd6",
              "serviceLevel": "Premium",
              "size": 4398046511104,
              "qosType": "Auto",
              "totalThroughputMibps": 256.0,
              "utilizedThroughputMibps": 6.25,
              "encryptionType": "Single",
              "coolAccess": false,
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2025-04-09T12:16:36.0344861Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2025-04-09T12:16:36.0344861Z"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-327/providers/Microsoft.NetApp/netAppAccounts/account7899/capacityPools/pool1/volumes?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
     [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/ec0dcef0-e233-4cec-969f-a92fe1a721bc?api-version=2025-01-01&t=638797982100799824&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/b8316648-18fc-4e5c-b7e1-cc95eeb1ffaa?api-version=2025-01-01&t=638797982845514445&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/a8a52631-f6b1-4ac1-a09d-555353a585c6?api-version=2025-01-01&t=638797983278449607&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
