{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-59042/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-59042/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-59042/3d4f65eb6e334dcf90b8e67bc4545b6b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rSg89UCaziBqOAcZsmULtRIi0X8ydg_UpYuDF-Q1BCvAQ67gEAhtkXJSlCgifcvOsiRzX5TsJJKp_tQDHwpFxtSghVpyDqGbCw-3vhf3vcvsvnGPLcY_acA7bSjMfyzKUUqiVMPm5OjaA-e5yNDrVYru0gTez8SbaJBoJgU-PYdRDOtJ7_eedRympi-OwqCVPM0h6JOQDiSLVrfoVOb-e_0wv3ZjySFz1LBruStZ9-dImLBER0QV42y0WQJqRg7X8InQfo8jTrrTUl2ypcyocG62VPO1avzcAQMKFlau3sGViwHl67sxQYD0J1xFZUUkOz7wN_pjz96W4E2Vs--57Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137369,
          "updated": 1777137369,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-59042/3d4f65eb6e334dcf90b8e67bc4545b6b/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-59042/3d4f65eb6e334dcf90b8e67bc4545b6b/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "MzIgYnl0ZSBzaWduYXR1cmUgaW4gYXNjaWkgY2hhcnM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/RSA-59042/3d4f65eb6e334dcf90b8e67bc4545b6b",
        "value": "ljUFUO21FxX7VU7jVaLuxTomlLcUPdqcNjy6CfojpZitaFR-KMvloUx8xMcYthx1PxSy-cbfzIoc3GJyWu4Flwda5s9Othyud-gIytlS28HeQVBadxSb9hWqhA4GZjG1ZSJYvshBiMza2f_mTANZcGeb3h2y1OQXpZ0wBjxjDH9T_pj3Iy95h0ZjrWQYTmlTbYIEO3WcDCWS_jCkM7-z7R7l2ZjOliJZCMmToytfxNlLt6OwEh8Fp6TLZSqOyWg_8Yty2rSClD_Dkua-IZf3PuY5ZMCWJDuDOLHx1N0kzbRws2OLgnSJyAhCxLxSctsNpSRPvNix73RwgZyG1UCjTg"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-59042/3d4f65eb6e334dcf90b8e67bc4545b6b/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "MzIgYnl0ZSBzaWduYXR1cmUgaW4gYXNjaWkgY2hhcnM",
        "value": "ljUFUO21FxX7VU7jVaLuxTomlLcUPdqcNjy6CfojpZitaFR-KMvloUx8xMcYthx1PxSy-cbfzIoc3GJyWu4Flwda5s9Othyud-gIytlS28HeQVBadxSb9hWqhA4GZjG1ZSJYvshBiMza2f_mTANZcGeb3h2y1OQXpZ0wBjxjDH9T_pj3Iy95h0ZjrWQYTmlTbYIEO3WcDCWS_jCkM7-z7R7l2ZjOliJZCMmToytfxNlLt6OwEh8Fp6TLZSqOyWg_8Yty2rSClD_Dkua-IZf3PuY5ZMCWJDuDOLHx1N0kzbRws2OLgnSJyAhCxLxSctsNpSRPvNix73RwgZyG1UCjTg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-59042?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-59042",
        "deletedDate": 1777137373,
        "scheduledPurgeDate": 1777742173,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-59042/3d4f65eb6e334dcf90b8e67bc4545b6b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rSg89UCaziBqOAcZsmULtRIi0X8ydg_UpYuDF-Q1BCvAQ67gEAhtkXJSlCgifcvOsiRzX5TsJJKp_tQDHwpFxtSghVpyDqGbCw-3vhf3vcvsvnGPLcY_acA7bSjMfyzKUUqiVMPm5OjaA-e5yNDrVYru0gTez8SbaJBoJgU-PYdRDOtJ7_eedRympi-OwqCVPM0h6JOQDiSLVrfoVOb-e_0wv3ZjySFz1LBruStZ9-dImLBER0QV42y0WQJqRg7X8InQfo8jTrrTUl2ypcyocG62VPO1avzcAQMKFlau3sGViwHl67sxQYD0J1xFZUUkOz7wN_pjz96W4E2Vs--57Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137369,
          "updated": 1777137369,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-59042?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-59042"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-59042?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA": "RSA-59042"
  }
}
