{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-70581/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-70581/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-70581/d9d62cc943c646068d31f512efbe0717",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uEqNQ3brUo59Bno_bLmJrshEE6iwpCJH-xDWIqbdVnMi2bG1DpGHofXxwH3HuZAYfk9rd7jlnAXDOYwXrMDrRmc7yXJx_BPvd_pcrZCpuZsXjO1FALRDGVhGO0RhEi9IpHodrovFknxpp5qofwLnqa_wxQN5G1Wv-lx_oAuA6ktnKBMCtO-hakCSR60csAVgRI74fC6v0QTYdnOvwRhq9Qch_EeN_sqdmncN9F97ssGsL9uMJcSUy8pNJSYW5qaKmUPfZe5S_qEXjne7K-HdkfrdrE9ea-aE1FRIq8zw1Zbc2LDbI8_uWEKV1kw-AcTc_ZcqpUwsAP8Ls-RqdA0d0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778515961,
          "updated": 1778515961,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-70581/d9d62cc943c646068d31f512efbe0717/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-70581/d9d62cc943c646068d31f512efbe0717/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "N4MG_WcwqVMx5YJxlsong-9ZXoV57jlAYdZ9x7BLweY"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://keyvault_name.vault.azure.net/keys/RSA-70581/d9d62cc943c646068d31f512efbe0717",
        "value": "n73rs-f2DVKuXQ15LU5ERo5FUuXOOvA3Tu7bb4s1daPCgDkdXHM8hjpz_-2KAFNBOPCx4oLGOVmFB4aDTI5hCzCfY3jPGiHyj5eApysnKY_vpBKJzF-_5NuYY-fJgAVN4BSRQmpb4Py8Ub-zw5qfx0t-e0fpRMTk3ti4bV9eMH9qLrC3QskN3YZxz28OS5SlLmZ4FoPEa-WjIyJ_Sv1bffyr4eI9uCsDUZMIU4v_QDcWWFpGMzA227tlPggrSFPlRnZCTzDmnsdIFnNtisUCzuzuMFV42q34NMkuXcbgzr38uAIkqCIiy8vbcKq_sHS0R-_Tv7UMUi5IdPZLLLXKoQ"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/RSA-70581?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/RSA-70581",
        "deletedDate": 1778515966,
        "scheduledPurgeDate": 1779120766,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/RSA-70581/d9d62cc943c646068d31f512efbe0717",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uEqNQ3brUo59Bno_bLmJrshEE6iwpCJH-xDWIqbdVnMi2bG1DpGHofXxwH3HuZAYfk9rd7jlnAXDOYwXrMDrRmc7yXJx_BPvd_pcrZCpuZsXjO1FALRDGVhGO0RhEi9IpHodrovFknxpp5qofwLnqa_wxQN5G1Wv-lx_oAuA6ktnKBMCtO-hakCSR60csAVgRI74fC6v0QTYdnOvwRhq9Qch_EeN_sqdmncN9F97ssGsL9uMJcSUy8pNJSYW5qaKmUPfZe5S_qEXjne7K-HdkfrdrE9ea-aE1FRIq8zw1Zbc2LDbI8_uWEKV1kw-AcTc_ZcqpUwsAP8Ls-RqdA0d0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778515961,
          "updated": 1778515961,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-70581?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: RSA-70581"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/RSA-70581?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RSA": "RSA-70581"
  }
}
