{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "78",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f797e833-a41b-4bf4-a961-b20b0a031323",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.237"
      },
      "ResponseBody": {
        "id": "vs_Evrht6fVNfO4gj71WP97bjS6",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747428558,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747428558
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "626",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a9132641-e933-4381-8bc4-1cdc43d6306d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.911"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-QnReUrkyNzUeqrsA2UQuA6",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747428559,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Evrht6fVNfO4gj71WP97bjS6/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-QnReUrkyNzUeqrsA2UQuA6",
          "assistant-AY32TCRHgr16m5AUF9Ywoa"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "316",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c79fd3d2-b853-4e04-b127-b1421bd443f4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.508"
      },
      "ResponseBody": {
        "id": "vsfb_38b90fa9745a47a4b691aaf429827ad2",
        "object": "vector_store.file_batch",
        "created_at": 1747428561,
        "status": "in_progress",
        "vector_store_id": "vs_Evrht6fVNfO4gj71WP97bjS6",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Evrht6fVNfO4gj71WP97bjS6/file_batches/vsfb_38b90fa9745a47a4b691aaf429827ad2?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "48",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d638c8ea-ba52-4b70-861d-a43083aaeb50",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.215"
      },
      "ResponseBody": {
        "id": "vsfb_38b90fa9745a47a4b691aaf429827ad2",
        "object": "vector_store.file_batch",
        "created_at": 1747428561,
        "status": "completed",
        "vector_store_id": "vs_Evrht6fVNfO4gj71WP97bjS6",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Evrht6fVNfO4gj71WP97bjS6/file_batches/vsfb_38b90fa9745a47a4b691aaf429827ad2/cancel?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "91",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5b6f7208-a2f5-4abc-813c-e76994d67c7b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.306"
      },
      "ResponseBody": {
        "id": "vsfb_38b90fa9745a47a4b691aaf429827ad2",
        "object": "vector_store.file_batch",
        "created_at": 1747428561,
        "status": "completed",
        "vector_store_id": "vs_Evrht6fVNfO4gj71WP97bjS6",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-QnReUrkyNzUeqrsA2UQuA6?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "268",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4c4487a4-979b-4a16-862b-b08ba043b69b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.535"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-QnReUrkyNzUeqrsA2UQuA6"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-AY32TCRHgr16m5AUF9Ywoa?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "427",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5772be75-8a4a-4537-b89f-c992ded68653",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.643"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-AY32TCRHgr16m5AUF9Ywoa"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Evrht6fVNfO4gj71WP97bjS6?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2220",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "523791f9-e3c8-4d0f-8e26-47a95f6cec7a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.418"
      },
      "ResponseBody": {
        "id": "vs_Evrht6fVNfO4gj71WP97bjS6",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
