{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "181",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "306ba973-5ceb-434c-a76d-1c6982beca6e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.363"
      },
      "ResponseBody": {
        "id": "vs_mtrGvuxLE2CrBBs0iDYpCb9x",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747768497,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747768497
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "431",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6973052b-fc95-4529-8339-9a066a1cebfa",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.624"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-A8RcwmtuSaS2bDq26dVBsR",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747768498,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_mtrGvuxLE2CrBBs0iDYpCb9x/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-A8RcwmtuSaS2bDq26dVBsR",
          "assistant-Lz7ALpCUpfJ82Stfv782Nr"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "414",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5465f6a7-ac70-4154-8f52-4fa60843f88e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.552"
      },
      "ResponseBody": {
        "id": "vsfb_dc7646b9ee9a4fd596441746a0a43450",
        "object": "vector_store.file_batch",
        "created_at": 1747768500,
        "status": "in_progress",
        "vector_store_id": "vs_mtrGvuxLE2CrBBs0iDYpCb9x",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_mtrGvuxLE2CrBBs0iDYpCb9x/file_batches/vsfb_dc7646b9ee9a4fd596441746a0a43450?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "223",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c872993a-b52d-4009-a85e-bc49b2b19a35",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.414"
      },
      "ResponseBody": {
        "id": "vsfb_dc7646b9ee9a4fd596441746a0a43450",
        "object": "vector_store.file_batch",
        "created_at": 1747768500,
        "status": "completed",
        "vector_store_id": "vs_mtrGvuxLE2CrBBs0iDYpCb9x",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-A8RcwmtuSaS2bDq26dVBsR?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "483",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9201cd85-812e-4b31-8959-756dafb7e750",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.694"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-A8RcwmtuSaS2bDq26dVBsR"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-Lz7ALpCUpfJ82Stfv782Nr?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "470",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ba01a900-b862-4414-b9cb-a73493d5c60c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.680"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-Lz7ALpCUpfJ82Stfv782Nr"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_mtrGvuxLE2CrBBs0iDYpCb9x?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "640",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9c3c5b0f-c084-4aed-9e0e-33799a345622",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.847"
      },
      "ResponseBody": {
        "id": "vs_mtrGvuxLE2CrBBs0iDYpCb9x",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
