{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "103",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c0b0f6a9-0a23-4680-ab9b-5ef7f7dcd1c1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.311"
      },
      "ResponseBody": {
        "id": "vs_Xt2Dfvf3MfeytjgC7gtCxuwr",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747436229,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747436229
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "659",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "15daafcc-a699-4b52-b416-a270a9f8adb3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.906"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-ADkzh1zD9ogsaecVVafNZC",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747436229,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Xt2Dfvf3MfeytjgC7gtCxuwr/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-ADkzh1zD9ogsaecVVafNZC",
          "assistant-BJjLSExWHmTobdddhhLKtS"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "291",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "09abd01e-5815-4324-bebe-a7fb4d2fe3b4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.603"
      },
      "ResponseBody": {
        "id": "vsfb_da6a61a754e246918c50457f92a37ef8",
        "object": "vector_store.file_batch",
        "created_at": 1747436231,
        "status": "in_progress",
        "vector_store_id": "vs_Xt2Dfvf3MfeytjgC7gtCxuwr",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Xt2Dfvf3MfeytjgC7gtCxuwr/file_batches/vsfb_da6a61a754e246918c50457f92a37ef8?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "88",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "01fba063-35cc-4fcc-82fe-81237d729147",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.403"
      },
      "ResponseBody": {
        "id": "vsfb_da6a61a754e246918c50457f92a37ef8",
        "object": "vector_store.file_batch",
        "created_at": 1747436232,
        "status": "in_progress",
        "vector_store_id": "vs_Xt2Dfvf3MfeytjgC7gtCxuwr",
        "file_counts": {
          "in_progress": 1,
          "completed": 1,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-ADkzh1zD9ogsaecVVafNZC?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "514",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ff6ea4b0-2abd-44aa-acc6-18ee5237c01d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.809"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-ADkzh1zD9ogsaecVVafNZC"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-BJjLSExWHmTobdddhhLKtS?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "439",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "70f0a2b0-e6cd-4a85-b1f6-e4b679319f2f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.794"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-BJjLSExWHmTobdddhhLKtS"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Xt2Dfvf3MfeytjgC7gtCxuwr?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2223",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ac75bb7d-eb36-4c08-a987-24a12d9b69dd",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.570"
      },
      "ResponseBody": {
        "id": "vs_Xt2Dfvf3MfeytjgC7gtCxuwr",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
