{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "87",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "be8a615e-51c8-4d84-9eb6-bce5b4dfc0c3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.425"
      },
      "ResponseBody": {
        "id": "vs_o2QLOiJ5mTOVWWt86ipoFnS8",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747436306,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747436306
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "633",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d9d947f8-ae13-4e04-a477-f2a3cd89dfe3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.024"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-7C4AmH3GYyLPdAFr6de141",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747436307,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_o2QLOiJ5mTOVWWt86ipoFnS8/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-7C4AmH3GYyLPdAFr6de141",
          "assistant-X5eoy27VNJWFUaPpT34auL"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "447",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6d52898e-f6ba-4f15-b09e-be88a6c2701e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.783"
      },
      "ResponseBody": {
        "id": "vsfb_823c778e85b143278d264e3c6cbd3d49",
        "object": "vector_store.file_batch",
        "created_at": 1747436312,
        "status": "in_progress",
        "vector_store_id": "vs_o2QLOiJ5mTOVWWt86ipoFnS8",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_o2QLOiJ5mTOVWWt86ipoFnS8/file_batches/vsfb_823c778e85b143278d264e3c6cbd3d49?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "82",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "910c73d1-7bb4-4f01-8f1a-819f3bc6fb14",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.263"
      },
      "ResponseBody": {
        "id": "vsfb_823c778e85b143278d264e3c6cbd3d49",
        "object": "vector_store.file_batch",
        "created_at": 1747436313,
        "status": "in_progress",
        "vector_store_id": "vs_o2QLOiJ5mTOVWWt86ipoFnS8",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-7C4AmH3GYyLPdAFr6de141?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "397",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c3987556-e1b3-4f0b-a22e-35167758df62",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.756"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-7C4AmH3GYyLPdAFr6de141"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-X5eoy27VNJWFUaPpT34auL?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "258",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "19e92a88-8c2a-4e6c-bc9a-898b9c489680",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.513"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-X5eoy27VNJWFUaPpT34auL"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_o2QLOiJ5mTOVWWt86ipoFnS8?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2253",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "461e7c9b-778e-48bd-b1ae-1d3523f39b00",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.512"
      },
      "ResponseBody": {
        "id": "vs_o2QLOiJ5mTOVWWt86ipoFnS8",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
