{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "85",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7d3582e6-69dc-426d-9efc-68ec55f6b0fc",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.223"
      },
      "ResponseBody": {
        "id": "vs_cc2I6dT3lvx6Tz5hBPNsTRf8",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746663584,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746663584
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "380",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "72a41d2d-c7dc-4ece-9390-fdd97f741ef5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.572"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-X7jxWAEEfN54XjQv51oHzT",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746663584,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_cc2I6dT3lvx6Tz5hBPNsTRf8/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-X7jxWAEEfN54XjQv51oHzT",
          "assistant-SCk9C5NSqDAggYkxKjAMPm"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "301",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "682e5ae5-32de-4dbc-9f0b-841d54e70f16",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.421"
      },
      "ResponseBody": {
        "id": "vsfb_ca3d6fd7cee4478282403a6453b1c3fd",
        "object": "vector_store.file_batch",
        "created_at": 1746663586,
        "status": "in_progress",
        "vector_store_id": "vs_cc2I6dT3lvx6Tz5hBPNsTRf8",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_cc2I6dT3lvx6Tz5hBPNsTRf8/file_batches/vsfb_ca3d6fd7cee4478282403a6453b1c3fd?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "79",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "79c8c338-adc3-4137-9007-ce9d7d42ba40",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.202"
      },
      "ResponseBody": {
        "id": "vsfb_ca3d6fd7cee4478282403a6453b1c3fd",
        "object": "vector_store.file_batch",
        "created_at": 1746663586,
        "status": "in_progress",
        "vector_store_id": "vs_cc2I6dT3lvx6Tz5hBPNsTRf8",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_cc2I6dT3lvx6Tz5hBPNsTRf8/file_batches/vsfb_ca3d6fd7cee4478282403a6453b1c3fd/files?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "74",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "937a68cd-e4b8-439b-8832-4e6f23d5297e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.181"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "assistant-SCk9C5NSqDAggYkxKjAMPm",
            "object": "vector_store.file",
            "created_at": 1746663586,
            "vector_store_id": "vs_cc2I6dT3lvx6Tz5hBPNsTRf8",
            "status": "completed",
            "last_error": null
          },
          {
            "id": "assistant-X7jxWAEEfN54XjQv51oHzT",
            "object": "vector_store.file",
            "created_at": 1746663586,
            "vector_store_id": "vs_cc2I6dT3lvx6Tz5hBPNsTRf8",
            "status": "completed",
            "last_error": null
          }
        ],
        "first_id": "assistant-SCk9C5NSqDAggYkxKjAMPm",
        "last_id": "assistant-X7jxWAEEfN54XjQv51oHzT",
        "has_more": false
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-X7jxWAEEfN54XjQv51oHzT?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "419",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ddd6a68a-fb47-4774-99f3-cd4b23549e54",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.552"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-X7jxWAEEfN54XjQv51oHzT"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-SCk9C5NSqDAggYkxKjAMPm?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "238",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b13631ce-a547-4934-98c2-ad291d2a0d5b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.367"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-SCk9C5NSqDAggYkxKjAMPm"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_cc2I6dT3lvx6Tz5hBPNsTRf8?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "677",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "401f69e3-351d-4dbc-aa70-8db26d04153d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.798"
      },
      "ResponseBody": {
        "id": "vs_cc2I6dT3lvx6Tz5hBPNsTRf8",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
