{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "108",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "96d29233-0644-4bb5-9e22-de9694dd4f32",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.261"
      },
      "ResponseBody": {
        "id": "vs_q0YYtFWLpUaGRIjF8CJoNNoY",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746661378,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746661378
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "582",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5c5dde56-0659-41d4-b942-863c5e94a73c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.745"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-BWAbnPobJ3FzpoX8y74xMS",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746661378,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_q0YYtFWLpUaGRIjF8CJoNNoY/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-BWAbnPobJ3FzpoX8y74xMS",
          "assistant-MAXnqnCgbaNjvb5RXXHVXx"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "267",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "69587ada-30a0-44fa-9154-6f42b4132697",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.412"
      },
      "ResponseBody": {
        "id": "vsfb_4f662c9d09e44f2f9c39001716e459a3",
        "object": "vector_store.file_batch",
        "created_at": 1746661380,
        "status": "in_progress",
        "vector_store_id": "vs_q0YYtFWLpUaGRIjF8CJoNNoY",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_q0YYtFWLpUaGRIjF8CJoNNoY/file_batches/vsfb_4f662c9d09e44f2f9c39001716e459a3?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "84",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "32137010-4805-419c-9ae3-5821e147e3fd",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.250"
      },
      "ResponseBody": {
        "id": "vsfb_4f662c9d09e44f2f9c39001716e459a3",
        "object": "vector_store.file_batch",
        "created_at": 1746661380,
        "status": "in_progress",
        "vector_store_id": "vs_q0YYtFWLpUaGRIjF8CJoNNoY",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-BWAbnPobJ3FzpoX8y74xMS?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "233",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e4246311-7143-46bf-b0c4-0cbfd52c83f6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.381"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-BWAbnPobJ3FzpoX8y74xMS"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-MAXnqnCgbaNjvb5RXXHVXx?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "419",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b8c65633-1539-4274-b3b1-17c3d914abb3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.866"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-MAXnqnCgbaNjvb5RXXHVXx"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_q0YYtFWLpUaGRIjF8CJoNNoY?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "973",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "aa3f8b97-52ae-4fa1-9e22-1ebaf2b0faa8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.098"
      },
      "ResponseBody": {
        "id": "vs_q0YYtFWLpUaGRIjF8CJoNNoY",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
