{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "42",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8b9f9f1a-5837-411f-99a9-6891a837d923",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.163"
      },
      "ResponseBody": {
        "id": "vs_szeeHBCTS8HbhfANQ3YtHdxb",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746661439,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746661439
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "1086",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6a567127-b04b-4ea5-82f1-b5bd35529a98",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.243"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-Cd57gipU7G9peJbgda6uaB",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746661439,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_szeeHBCTS8HbhfANQ3YtHdxb/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-Cd57gipU7G9peJbgda6uaB",
          "assistant-VjdEthg3LJmDvu6G5YXASh"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "248",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8ca55529-565e-4347-a93d-4ded559c76f7",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.377"
      },
      "ResponseBody": {
        "id": "vsfb_5e2af665cb564c26ae2f27902a4995e9",
        "object": "vector_store.file_batch",
        "created_at": 1746661441,
        "status": "in_progress",
        "vector_store_id": "vs_szeeHBCTS8HbhfANQ3YtHdxb",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_szeeHBCTS8HbhfANQ3YtHdxb/file_batches/vsfb_5e2af665cb564c26ae2f27902a4995e9?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "105",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "433e1097-fbf6-4084-8638-b2bf7107fc3f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.232"
      },
      "ResponseBody": {
        "id": "vsfb_5e2af665cb564c26ae2f27902a4995e9",
        "object": "vector_store.file_batch",
        "created_at": 1746661441,
        "status": "in_progress",
        "vector_store_id": "vs_szeeHBCTS8HbhfANQ3YtHdxb",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-Cd57gipU7G9peJbgda6uaB?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "391",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1832af9c-b757-496e-95ac-bafb43efdee5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.657"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-Cd57gipU7G9peJbgda6uaB"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-VjdEthg3LJmDvu6G5YXASh?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "244",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c0004abc-1278-4975-97e6-9fd8933f02db",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.377"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-VjdEthg3LJmDvu6G5YXASh"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_szeeHBCTS8HbhfANQ3YtHdxb?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "587",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c7d4652c-4299-4da5-a001-e64ab502c1a7",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.715"
      },
      "ResponseBody": {
        "id": "vs_szeeHBCTS8HbhfANQ3YtHdxb",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
