{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "180",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fa6aa4ed-14a4-4834-b65b-49d649789627",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.307"
      },
      "ResponseBody": {
        "id": "vs_Hmm2VWWoiG0q0dkUOVkqYoTh",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746595996,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746595996
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "574",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9830d98d-f6a1-48e7-8ad1-7a31fdea0992",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.710"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-6fPqfLkdGZkKZ1U41bLNQq",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746595996,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_Hmm2VWWoiG0q0dkUOVkqYoTh/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-6fPqfLkdGZkKZ1U41bLNQq",
          "assistant-5MD5xhJYpRgEAXF7dWGf4h"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "384",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "68990224-b718-4333-aeaf-14a9bd18a463",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.537"
      },
      "ResponseBody": {
        "id": "vsfb_306d2c6b49464d08b03f843955755f38",
        "object": "vector_store.file_batch",
        "created_at": 1746595998,
        "status": "in_progress",
        "vector_store_id": "vs_Hmm2VWWoiG0q0dkUOVkqYoTh",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_Hmm2VWWoiG0q0dkUOVkqYoTh/file_batches/vsfb_306d2c6b49464d08b03f843955755f38?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "98",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7cb95233-142d-4292-a429-352aa2598400",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.213"
      },
      "ResponseBody": {
        "id": "vsfb_306d2c6b49464d08b03f843955755f38",
        "object": "vector_store.file_batch",
        "created_at": 1746595998,
        "status": "in_progress",
        "vector_store_id": "vs_Hmm2VWWoiG0q0dkUOVkqYoTh",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-6fPqfLkdGZkKZ1U41bLNQq?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "249",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5306cfdb-3010-49f2-b60b-63b717736aef",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.375"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-6fPqfLkdGZkKZ1U41bLNQq"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-5MD5xhJYpRgEAXF7dWGf4h?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "605",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "44013edc-5a4c-448b-8875-f4e84a2544c3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.754"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-5MD5xhJYpRgEAXF7dWGf4h"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_Hmm2VWWoiG0q0dkUOVkqYoTh?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "663",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b6c23b90-bf67-4921-a8f5-3bdd87be6759",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.827"
      },
      "ResponseBody": {
        "id": "vs_Hmm2VWWoiG0q0dkUOVkqYoTh",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
