{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "39",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "338bfe2e-659c-4a98-847f-3dcbe4da0252",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.185"
      },
      "ResponseBody": {
        "id": "vs_7EMJjwtxD0bVhmOP0uzDyHT6",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746647531,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746647531
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "534",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0d857b2b-42fc-4f47-8123-0a3b813ae3f6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.090"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-CpAQb8W4c7QqeHJUBpXGJ6",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746647532,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_7EMJjwtxD0bVhmOP0uzDyHT6/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-CpAQb8W4c7QqeHJUBpXGJ6",
          "assistant-58aqF5pqZXXbJ4g7WayTbe"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "269",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2fce4103-c201-4554-a813-87bb8e8a04c5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.522"
      },
      "ResponseBody": {
        "id": "vsfb_c6431f792e8543d29f6bee284f0d154d",
        "object": "vector_store.file_batch",
        "created_at": 1746647534,
        "status": "in_progress",
        "vector_store_id": "vs_7EMJjwtxD0bVhmOP0uzDyHT6",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_7EMJjwtxD0bVhmOP0uzDyHT6/file_batches/vsfb_c6431f792e8543d29f6bee284f0d154d?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "30",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6b0b8c57-1fbf-4f68-8ddd-8180df755928",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.126"
      },
      "ResponseBody": {
        "id": "vsfb_c6431f792e8543d29f6bee284f0d154d",
        "object": "vector_store.file_batch",
        "created_at": 1746647534,
        "status": "in_progress",
        "vector_store_id": "vs_7EMJjwtxD0bVhmOP0uzDyHT6",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-CpAQb8W4c7QqeHJUBpXGJ6?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "247",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "480c3bc5-8b05-439b-94bf-f8742f3f1b99",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.392"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-CpAQb8W4c7QqeHJUBpXGJ6"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-58aqF5pqZXXbJ4g7WayTbe?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "264",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8f1285e7-a060-4cd3-8546-e5128a7f8d37",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.390"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-58aqF5pqZXXbJ4g7WayTbe"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_7EMJjwtxD0bVhmOP0uzDyHT6?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "638",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1ab2049c-9b18-4cad-9e2a-a14d8ad241aa",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.773"
      },
      "ResponseBody": {
        "id": "vs_7EMJjwtxD0bVhmOP0uzDyHT6",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
