{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "36",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "032ac721-860a-4cf8-b868-519ac206655d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.304"
      },
      "ResponseBody": {
        "id": "vs_Gbtmuaozg3kNkbiGZPABjMdp",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747436278,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747436278
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "404",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f8c5d0f5-0796-4246-9ee2-0e74782ba195",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.739"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-L3ZdEcUhD9krA58geFPqX7",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747436279,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Gbtmuaozg3kNkbiGZPABjMdp/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-L3ZdEcUhD9krA58geFPqX7",
          "assistant-4UVffBp4kYKvq6usXDBVoi"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "285",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "09e27f87-e44c-463b-a5e2-e97313936c7a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.731"
      },
      "ResponseBody": {
        "id": "vsfb_03a28eefa0d4471999ce1cd69fb48c09",
        "object": "vector_store.file_batch",
        "created_at": 1747436281,
        "status": "in_progress",
        "vector_store_id": "vs_Gbtmuaozg3kNkbiGZPABjMdp",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Gbtmuaozg3kNkbiGZPABjMdp/file_batches/vsfb_03a28eefa0d4471999ce1cd69fb48c09?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "95",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "59499337-79bb-4ea2-a6bf-307d8f3527c5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.371"
      },
      "ResponseBody": {
        "id": "vsfb_03a28eefa0d4471999ce1cd69fb48c09",
        "object": "vector_store.file_batch",
        "created_at": 1747436281,
        "status": "completed",
        "vector_store_id": "vs_Gbtmuaozg3kNkbiGZPABjMdp",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Gbtmuaozg3kNkbiGZPABjMdp/file_batches/vsfb_03a28eefa0d4471999ce1cd69fb48c09/cancel?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "217",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "cd89cb40-bf74-41e3-a89b-224af9adecc5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.612"
      },
      "ResponseBody": {
        "id": "vsfb_03a28eefa0d4471999ce1cd69fb48c09",
        "object": "vector_store.file_batch",
        "created_at": 1747436281,
        "status": "completed",
        "vector_store_id": "vs_Gbtmuaozg3kNkbiGZPABjMdp",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-L3ZdEcUhD9krA58geFPqX7?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "240",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ab324dbe-7b25-4d4e-b8e1-5c229f596da0",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.586"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-L3ZdEcUhD9krA58geFPqX7"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-4UVffBp4kYKvq6usXDBVoi?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "483",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9b4622af-725d-4c6b-ae6d-248884104ffa",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.880"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-4UVffBp4kYKvq6usXDBVoi"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Gbtmuaozg3kNkbiGZPABjMdp?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2227",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b6a2436e-2ab6-43fd-9de8-03fd7aa1f8f5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.557"
      },
      "ResponseBody": {
        "id": "vs_Gbtmuaozg3kNkbiGZPABjMdp",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
