{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "274",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e73146a7-b201-4920-8ae5-27f57abea7bb",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.391"
      },
      "ResponseBody": {
        "id": "vs_RFb1LDLIlWRrm5FD42mDeAcM",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746647521,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746647521
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "313",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "071b206a-8af3-425e-850c-778b6669f144",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.545"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-2SgdnmukgTGaAhuP2pNCWy",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746647521,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_RFb1LDLIlWRrm5FD42mDeAcM/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-2SgdnmukgTGaAhuP2pNCWy",
          "assistant-KEWu3QxgsHe3QDYtvDa6r2"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "238",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c51fd7cc-dd64-41d4-a18c-31985e587543",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.370"
      },
      "ResponseBody": {
        "id": "vsfb_d029260f9f0046f2a96fb10af86f71e1",
        "object": "vector_store.file_batch",
        "created_at": 1746647523,
        "status": "in_progress",
        "vector_store_id": "vs_RFb1LDLIlWRrm5FD42mDeAcM",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_RFb1LDLIlWRrm5FD42mDeAcM/file_batches/vsfb_d029260f9f0046f2a96fb10af86f71e1?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "43",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "27d099fa-8ec5-46be-9deb-225113293a8e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.169"
      },
      "ResponseBody": {
        "id": "vsfb_d029260f9f0046f2a96fb10af86f71e1",
        "object": "vector_store.file_batch",
        "created_at": 1746647523,
        "status": "in_progress",
        "vector_store_id": "vs_RFb1LDLIlWRrm5FD42mDeAcM",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-2SgdnmukgTGaAhuP2pNCWy?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "302",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1e7210da-d7d7-419f-bfe7-e125a18cecef",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.460"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-2SgdnmukgTGaAhuP2pNCWy"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-KEWu3QxgsHe3QDYtvDa6r2?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "416",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0274303d-b91a-49be-9c6b-9c4e797fb7c9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.564"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-KEWu3QxgsHe3QDYtvDa6r2"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_RFb1LDLIlWRrm5FD42mDeAcM?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "696",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7dfccb39-a8c5-4533-b716-c248a14c7c5a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.815"
      },
      "ResponseBody": {
        "id": "vs_RFb1LDLIlWRrm5FD42mDeAcM",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
