{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "88",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "364794b3-7ae9-4e70-8888-66d8d0fa22f3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.225"
      },
      "ResponseBody": {
        "id": "vs_1q8VuE2VuIKgPIOVlBZILAE9",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746647496,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746647496
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "420",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "325a6edb-7286-425c-b1ea-79f190e954fc",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.576"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-HhGuruJx2Hc5HBSQ92ZCAv",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746647497,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_1q8VuE2VuIKgPIOVlBZILAE9/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-HhGuruJx2Hc5HBSQ92ZCAv",
          "assistant-2vi66kFCCaAehgxXFmG5c7"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "314",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a7bf7aa1-c31c-45dd-b5f7-20eb1c752ca7",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.441"
      },
      "ResponseBody": {
        "id": "vsfb_065b33df30a6486582da3906d1c3d8c6",
        "object": "vector_store.file_batch",
        "created_at": 1746647498,
        "status": "in_progress",
        "vector_store_id": "vs_1q8VuE2VuIKgPIOVlBZILAE9",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_1q8VuE2VuIKgPIOVlBZILAE9/file_batches/vsfb_065b33df30a6486582da3906d1c3d8c6?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "108",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "bd03dc38-1c07-4086-b90e-15cbe27e311c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.269"
      },
      "ResponseBody": {
        "id": "vsfb_065b33df30a6486582da3906d1c3d8c6",
        "object": "vector_store.file_batch",
        "created_at": 1746647498,
        "status": "completed",
        "vector_store_id": "vs_1q8VuE2VuIKgPIOVlBZILAE9",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_1q8VuE2VuIKgPIOVlBZILAE9/file_batches/vsfb_065b33df30a6486582da3906d1c3d8c6/files?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "136",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "de6584b0-e8e5-449b-b336-6f2b9aa29590",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.255"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "assistant-HhGuruJx2Hc5HBSQ92ZCAv",
            "object": "vector_store.file",
            "created_at": 1746647498,
            "vector_store_id": "vs_1q8VuE2VuIKgPIOVlBZILAE9",
            "status": "completed",
            "last_error": null
          },
          {
            "id": "assistant-2vi66kFCCaAehgxXFmG5c7",
            "object": "vector_store.file",
            "created_at": 1746647498,
            "vector_store_id": "vs_1q8VuE2VuIKgPIOVlBZILAE9",
            "status": "completed",
            "last_error": null
          }
        ],
        "first_id": "assistant-HhGuruJx2Hc5HBSQ92ZCAv",
        "last_id": "assistant-2vi66kFCCaAehgxXFmG5c7",
        "has_more": false
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-HhGuruJx2Hc5HBSQ92ZCAv?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "449",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4e9bdb5c-cb8c-4464-91bb-3f7e4afe3992",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.581"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-HhGuruJx2Hc5HBSQ92ZCAv"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-2vi66kFCCaAehgxXFmG5c7?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "323",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9e7de9a9-8a53-4ecc-80a9-30a2c0126782",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.441"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-2vi66kFCCaAehgxXFmG5c7"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_1q8VuE2VuIKgPIOVlBZILAE9?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2035",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5043c08e-659d-4f29-95f6-c549cab1374d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.205"
      },
      "ResponseBody": {
        "id": "vs_1q8VuE2VuIKgPIOVlBZILAE9",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
