{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "57",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fc2eaf06-eef5-4229-b16e-307b2e95d113",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.178"
      },
      "ResponseBody": {
        "id": "vs_P0ZITreLc5Cg9A1DEb8zXhnT",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1749159663,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1749159663
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "507",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2176cb5f-f7dc-4c98-92c2-9dd1daa68d09",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.639"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-24jg1TL52UB7XEgMwCvwai",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1749159663,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_P0ZITreLc5Cg9A1DEb8zXhnT/file_batches?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-24jg1TL52UB7XEgMwCvwai",
          "assistant-CK1YE3HsDXpHW7ut2X4Wzx"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "354",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "98664104-b457-48bf-8518-b56afd9af82f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.472"
      },
      "ResponseBody": {
        "id": "vsfb_7f2943ba510c4866b42d8cf08e2044ca",
        "object": "vector_store.file_batch",
        "created_at": 1749159665,
        "status": "in_progress",
        "vector_store_id": "vs_P0ZITreLc5Cg9A1DEb8zXhnT",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_P0ZITreLc5Cg9A1DEb8zXhnT/file_batches/vsfb_7f2943ba510c4866b42d8cf08e2044ca?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "102",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "21ef1939-7813-45ad-9e99-73171430a05d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.236"
      },
      "ResponseBody": {
        "id": "vsfb_7f2943ba510c4866b42d8cf08e2044ca",
        "object": "vector_store.file_batch",
        "created_at": 1749159665,
        "status": "in_progress",
        "vector_store_id": "vs_P0ZITreLc5Cg9A1DEb8zXhnT",
        "file_counts": {
          "in_progress": 1,
          "completed": 1,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-24jg1TL52UB7XEgMwCvwai?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "328",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8df9a9d5-5c64-4524-b473-929339fd531a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.434"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-24jg1TL52UB7XEgMwCvwai"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-CK1YE3HsDXpHW7ut2X4Wzx?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "269",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7c68a9c1-3f34-4982-9a1b-bd3b4e68c114",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.419"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-CK1YE3HsDXpHW7ut2X4Wzx"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_P0ZITreLc5Cg9A1DEb8zXhnT?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2203",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "12505797-6180-42a2-a908-1c106ffb0597",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.302"
      },
      "ResponseBody": {
        "id": "vs_P0ZITreLc5Cg9A1DEb8zXhnT",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
