{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "84",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "60c30ac5-3030-4cd5-b3a6-a46534685fe9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.239"
      },
      "ResponseBody": {
        "id": "vs_H6b1lwznXIjT3z2QIZF535rO",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746596037,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746596037
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "407",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b9010d08-0f5f-40f4-bac9-0746a45d335a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.580"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-C6eLoEz5zS3orgZfsFcMm8",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746596038,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_H6b1lwznXIjT3z2QIZF535rO/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-C6eLoEz5zS3orgZfsFcMm8",
          "assistant-URm25zPzegMJDoEXegWQeu"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "327",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9da3aa51-6643-47b4-99f6-c2f196b9c209",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.448"
      },
      "ResponseBody": {
        "id": "vsfb_1199fa7c78b743f6bfce8fd16e6c33ab",
        "object": "vector_store.file_batch",
        "created_at": 1746596039,
        "status": "in_progress",
        "vector_store_id": "vs_H6b1lwznXIjT3z2QIZF535rO",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_H6b1lwznXIjT3z2QIZF535rO/file_batches/vsfb_1199fa7c78b743f6bfce8fd16e6c33ab?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "93",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "973392b2-b29f-4743-844c-71c69fb3e712",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.209"
      },
      "ResponseBody": {
        "id": "vsfb_1199fa7c78b743f6bfce8fd16e6c33ab",
        "object": "vector_store.file_batch",
        "created_at": 1746596039,
        "status": "completed",
        "vector_store_id": "vs_H6b1lwznXIjT3z2QIZF535rO",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-C6eLoEz5zS3orgZfsFcMm8?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "455",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1453d86e-a661-4476-aa06-6e734d100967",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.576"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-C6eLoEz5zS3orgZfsFcMm8"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-URm25zPzegMJDoEXegWQeu?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "311",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4615e62d-2eaf-4362-89c4-7b541f9088cb",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.447"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-URm25zPzegMJDoEXegWQeu"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_H6b1lwznXIjT3z2QIZF535rO?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "630",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c1a3bc43-355d-4a06-af04-f6e9fa4a18f4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.752"
      },
      "ResponseBody": {
        "id": "vs_H6b1lwznXIjT3z2QIZF535rO",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
