{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "37",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "65014c2f-ee1b-4add-b4dc-2fdcc2aebf84",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.265"
      },
      "ResponseBody": {
        "id": "vs_vn3pX6E1ry3EICiXzco94k2U",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747727717,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747727717
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "349",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7532b9f9-78dd-496f-ab86-9e26a3224ad7",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.525"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-Ms9sXTNbzLgJWMqqtWV547",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747727717,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_vn3pX6E1ry3EICiXzco94k2U/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-Ms9sXTNbzLgJWMqqtWV547",
          "assistant-AJk8zYsdEwG1YGmZctURNN"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "269",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "aa0ea0e0-ad51-4c67-bc1f-e0e836895e65",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.464"
      },
      "ResponseBody": {
        "id": "vsfb_619d84afc7994dee9335b102b2f041f4",
        "object": "vector_store.file_batch",
        "created_at": 1747727718,
        "status": "in_progress",
        "vector_store_id": "vs_vn3pX6E1ry3EICiXzco94k2U",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_vn3pX6E1ry3EICiXzco94k2U/file_batches/vsfb_619d84afc7994dee9335b102b2f041f4?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "92",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9fa83e10-268e-48bd-abf1-db07a0b8d272",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.311"
      },
      "ResponseBody": {
        "id": "vsfb_619d84afc7994dee9335b102b2f041f4",
        "object": "vector_store.file_batch",
        "created_at": 1747727719,
        "status": "completed",
        "vector_store_id": "vs_vn3pX6E1ry3EICiXzco94k2U",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_vn3pX6E1ry3EICiXzco94k2U/file_batches/vsfb_619d84afc7994dee9335b102b2f041f4/files?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "72",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e8d4ae19-dbb8-402b-9081-e14834b2e149",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.270"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "assistant-AJk8zYsdEwG1YGmZctURNN",
            "object": "vector_store.file",
            "created_at": 1747727718,
            "vector_store_id": "vs_vn3pX6E1ry3EICiXzco94k2U",
            "status": "completed",
            "last_error": null
          },
          {
            "id": "assistant-Ms9sXTNbzLgJWMqqtWV547",
            "object": "vector_store.file",
            "created_at": 1747727718,
            "vector_store_id": "vs_vn3pX6E1ry3EICiXzco94k2U",
            "status": "completed",
            "last_error": null
          }
        ],
        "first_id": "assistant-AJk8zYsdEwG1YGmZctURNN",
        "last_id": "assistant-Ms9sXTNbzLgJWMqqtWV547",
        "has_more": false
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-Ms9sXTNbzLgJWMqqtWV547?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "358",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0b36d02c-9df0-4ad4-9307-32c28a6dc456",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.559"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-Ms9sXTNbzLgJWMqqtWV547"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-AJk8zYsdEwG1YGmZctURNN?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "786",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f28f2c7e-5e26-488c-b9bb-87d0496df493",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.022"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-AJk8zYsdEwG1YGmZctURNN"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_vn3pX6E1ry3EICiXzco94k2U?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2307",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f0c83401-474c-4c70-aa0b-aa2e739e1490",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.603"
      },
      "ResponseBody": {
        "id": "vs_vn3pX6E1ry3EICiXzco94k2U",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
