{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "57",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f89ee8c8-ab87-4ba0-92c3-0d23632e7815",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.390"
      },
      "ResponseBody": {
        "id": "vs_klgWcgesFNQOWaEz6chRZsCl",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747977684,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747977684
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "510",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e819749a-8322-49df-b837-0a0e6d8c8e76",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.788"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-QFZDy3esbQnvujgxiCsFof",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747977684,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_klgWcgesFNQOWaEz6chRZsCl/file_batches?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-QFZDy3esbQnvujgxiCsFof",
          "assistant-VJ9XJdBZL11RYkNqnqnY8r"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "263",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "985301b9-085f-4e42-b037-2b7e8a66852e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.567"
      },
      "ResponseBody": {
        "id": "vsfb_9f2e4bac74f6477ca0c7b3fcbde07126",
        "object": "vector_store.file_batch",
        "created_at": 1747977686,
        "status": "in_progress",
        "vector_store_id": "vs_klgWcgesFNQOWaEz6chRZsCl",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_klgWcgesFNQOWaEz6chRZsCl/file_batches/vsfb_9f2e4bac74f6477ca0c7b3fcbde07126?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "94",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9178a67c-a47c-42e3-864e-cf7cbf4a08fb",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.383"
      },
      "ResponseBody": {
        "id": "vsfb_9f2e4bac74f6477ca0c7b3fcbde07126",
        "object": "vector_store.file_batch",
        "created_at": 1747977687,
        "status": "completed",
        "vector_store_id": "vs_klgWcgesFNQOWaEz6chRZsCl",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-QFZDy3esbQnvujgxiCsFof?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "254",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f8635c42-2304-48e2-85bf-8dac4d8b17fd",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.553"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-QFZDy3esbQnvujgxiCsFof"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-VJ9XJdBZL11RYkNqnqnY8r?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "493",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8dd59f3e-d8a7-4b9f-a074-a0e8a3b68536",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.768"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-VJ9XJdBZL11RYkNqnqnY8r"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_klgWcgesFNQOWaEz6chRZsCl?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2227",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "008a0f47-6f5e-4cd2-899b-8a62ecc5c50b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.506"
      },
      "ResponseBody": {
        "id": "vs_klgWcgesFNQOWaEz6chRZsCl",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
