{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "121",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9fe573c0-8ad9-4fea-a3e1-5c7a872036f2",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.398"
      },
      "ResponseBody": {
        "id": "vs_0Iem4HDSCwHdcQ6Jb2ohmRjX",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747768485,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747768485
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "616",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b415cc26-9449-43a6-a921-0c8d446e30c5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.957"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-WCh5wydRZyurVGD86XMBEP",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747768486,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0Iem4HDSCwHdcQ6Jb2ohmRjX/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-WCh5wydRZyurVGD86XMBEP",
          "assistant-VEFuJgib4m4TieXd72fa6o"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "276",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "cff542b9-2070-436d-931a-933e0792260c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.591"
      },
      "ResponseBody": {
        "id": "vsfb_9dcea064ce8c47e5ac97de87ae9aea7c",
        "object": "vector_store.file_batch",
        "created_at": 1747768488,
        "status": "in_progress",
        "vector_store_id": "vs_0Iem4HDSCwHdcQ6Jb2ohmRjX",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0Iem4HDSCwHdcQ6Jb2ohmRjX/file_batches/vsfb_9dcea064ce8c47e5ac97de87ae9aea7c?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "169",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9c112466-c4c3-4174-bccc-c3142c5a94ef",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.604"
      },
      "ResponseBody": {
        "id": "vsfb_9dcea064ce8c47e5ac97de87ae9aea7c",
        "object": "vector_store.file_batch",
        "created_at": 1747768489,
        "status": "completed",
        "vector_store_id": "vs_0Iem4HDSCwHdcQ6Jb2ohmRjX",
        "file_counts": {
          "in_progress": 0,
          "completed": 2,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-WCh5wydRZyurVGD86XMBEP?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "256",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f7d49003-a550-4a79-b50d-40adc71ade06",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.598"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-WCh5wydRZyurVGD86XMBEP"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-VEFuJgib4m4TieXd72fa6o?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "976",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ef426afc-ac0c-41b4-9869-d7e34dcd63e4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.336"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-VEFuJgib4m4TieXd72fa6o"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0Iem4HDSCwHdcQ6Jb2ohmRjX?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "672",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3445d194-df6b-4290-8608-e6b50ba4b171",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.039"
      },
      "ResponseBody": {
        "id": "vs_0Iem4HDSCwHdcQ6Jb2ohmRjX",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
