{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "35",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "afeeda96-5853-4f58-bea3-452a7bfc73f4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.218"
      },
      "ResponseBody": {
        "id": "vs_muqy7pGRscMZUgOTzWisTs5S",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747436290,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747436290
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "3529",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ab602396-3099-41a1-990e-400bc854d6a3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "3.848"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-FvEw1m87C7y6fGC9eoJi6C",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747436290,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_muqy7pGRscMZUgOTzWisTs5S/file_batches?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-FvEw1m87C7y6fGC9eoJi6C",
          "assistant-3vmxMftTGin74ixg2FENnC"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "287",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "02d9966d-503b-4733-8116-72aa0196bbfa",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.514"
      },
      "ResponseBody": {
        "id": "vsfb_5e0b1bc3b74c430a980b468b0641e158",
        "object": "vector_store.file_batch",
        "created_at": 1747436296,
        "status": "in_progress",
        "vector_store_id": "vs_muqy7pGRscMZUgOTzWisTs5S",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_muqy7pGRscMZUgOTzWisTs5S/file_batches/vsfb_5e0b1bc3b74c430a980b468b0641e158?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "114",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c99f6919-0e93-45f4-9311-0a1a3c5f869b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.293"
      },
      "ResponseBody": {
        "id": "vsfb_5e0b1bc3b74c430a980b468b0641e158",
        "object": "vector_store.file_batch",
        "created_at": 1747436296,
        "status": "in_progress",
        "vector_store_id": "vs_muqy7pGRscMZUgOTzWisTs5S",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-FvEw1m87C7y6fGC9eoJi6C?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "443",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f0c50c8f-426e-4bc2-9316-57827f7716fe",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.771"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-FvEw1m87C7y6fGC9eoJi6C"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-3vmxMftTGin74ixg2FENnC?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "269",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a8481ef4-ca4c-4281-b9e4-afd2c9e84345",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.606"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-3vmxMftTGin74ixg2FENnC"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_muqy7pGRscMZUgOTzWisTs5S?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2259",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "db6e712b-baa7-4960-9d34-44f084944f5e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.570"
      },
      "ResponseBody": {
        "id": "vs_muqy7pGRscMZUgOTzWisTs5S",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
