{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/2060258009/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/2060258009/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/2060258009/9bc2e34b206340948bd4b673bd6d2d54",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1w9JeJKDAAiZcptCH-dSgUcjMVmSqZw8G2-bQxvgpe7__WzPFAnReq1HF6u3Zgj4sSF_r3-ggIvzFrSz9k18OUuZ_gj29WnO_xEv8lf7GRxWHiLbZhvZmJNstUL0Yd_wnr9WP6K-h1kWdDKq4BAslhDFV5eHQEeTeAlp7OME9-3MjDwnr1ztdGYyovjUPvzCxNyG5Hn0OhZacdkj7i0JMT-e0BLn6SoVedaY6P3YbEqoWNwFUeEYHTkTE5AC3O0QexsYGPWxGkpkoMSycxbANYR1Zq6DPAgMWZGf8jeZFtZig9t7HmPxoBh1io1AnyzEJX5wd3-2iqoklLHzI60QpQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759312243,
          "updated": 1759312243,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/2060258009/9bc2e34b206340948bd4b673bd6d2d54?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https[...]
