{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1343471346/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1343471346/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1343471346/23927980567d4c908c67f91a1c9205d2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "v14fbj8Ah13rcvEDm54MOYqzVYA9vCPd_A_AJjkep6fD78EkC_vqYLyh77K1rTcj-8yjQl8WybNGjafOldBH4YxEK08eqnzv1ICX7li_KxFhrNjgPJ1xBvj8Oe7dxowmjG254LSSeJntRPWYv3RZvMQ3ONGZuaKViT8j6O-omSms2V9bvrHvXVl5l6bgHHKrZxbVl8stTXECdmSvzZKAqs8V9ZRQQyoZZZRWHB2jqGGUSSUvw84n6cjQdmwzedQcKNXd59T3Z7Ic2NG1vN0YgeYlqawNepcEpOlxHHWo53rvhaygZX1S8xDvNybSM2FlSYt1MYtYeAQtqORoI380gQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756419735,
          "updated": 1756419735,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1343471346/23927980567d4c908c67f91a1c9205d2?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid"[...]
