{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1704439290/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1704439290/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1704439290/f31f368b0cd044248e53272dca1583de",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "q3EkNpcQvA90bmE8Crs32clAB9G0obwH5sa69KlcwF0BrLXa3wBy0Nq3MSy8lk7J7o18-th11SXT0K9IGTOQ3b6xuwR6FPkmHtZ5FRE3WK8GBt-zMLRI60r9uhLmzzkBfjR4-4LTTa3eH5lJXDzWuJMNVl5G1qcqF_q3Mh4UNPOx0NzUd4LiNEdnh7pyXh26VYc0IvA0HNN_mm6HxE3T2e1Ihn1-3pwY97uPXDSkEFhIJZIN_t5qbjeh331QcjcXgChZ6-sRSetM9F2FVnU-21sUSLSDtpIeXfeMGKMwLtqQcZrT4pt97iGA6412LJ8-0glE9KNEtNjMeJeQGJH_ZQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760460,
          "updated": 1750760460,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1704439290/f31f368b0cd044248e53272dca1583de/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1704439290/f31f368b0cd044248e53272dca1583de",
        "value": "GqlbsT4AKy2FO4U5oO3ReSniXicoKH8WeVN-j9vbwBwBcLfwNlFsM33_lap6H3TNugrYki7KqV-7lCnP5zrpecWpq81q_QJgKvMcQCH59h7rwpv5zS4ZkwDNc6cZu0hGPVgZkg2Sp_SY0kj55n4Y_5faU5RZhMT2XEIEHkpr299wDhBta6CXiWIs6O6PsU4_Cj4TDvWfainEKyOSh9CpIoovvDrHDbxXq5qIe1xvz5Efpb011DFsgfl4rTv1BOKnRZ6YoPApphHthVo9raV6fB2-UxCGma3VGvCnQh33ERpsRkAX8HNSJxz0legLhFmFewLijYA-4ftHj13JzI8_mw"
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1704439290/f31f368b0cd044248e53272dca1583de/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA",
        "value": "GqlbsT4AKy2FO4U5oO3ReSniXicoKH8WeVN-j9vbwBwBcLfwNlFsM33_lap6H3TNugrYki7KqV-7lCnP5zrpecWpq81q_QJgKvMcQCH59h7rwpv5zS4ZkwDNc6cZu0hGPVgZkg2Sp_SY0kj55n4Y_5faU5RZhMT2XEIEHkpr299wDhBta6CXiWIs6O6PsU4_Cj4TDvWfainEKyOSh9CpIoovvDrHDbxXq5qIe1xvz5Efpb011DFsgfl4rTv1BOKnRZ6YoPApphHthVo9raV6fB2-UxCGma3VGvCnQh33ERpsRkAX8HNSJxz0legLhFmFewLijYA-4ftHj13JzI8_mw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "388793597"
  }
}
