{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1529812600/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1529812600/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1529812600/13ad7c3df51f421d8f4746fc555eeb83",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "nJUCCl4mUT6UWJ2eTWnMwajgx3Y42X8lnKMUzPsi2xz5SwTHqanOPZuVfhWKrlFM-A-nT4wA4L28od9ChAUDZCStCyhmCUgGOouiJIPThZdIUc-HbzuNWZjHJorkIXPTvbGKIK8VPYxfCCKanRBdEa7RsemHxuOICUYTNd3ewlPTUi82X5F7W72hweOVxwYkC-fhmrdlnPKiTaplj7rOcV9UYnXM0kTYteClCT0QubotdPcNndrE9PQohc_gSpIY9Ymob2omzYQPZD1YbuL1pm7hHqNG92e-U3ArIfpVmtR4lcZ5LSlkbgVoBmeH_95-6XNKDXNhnykFu9rCCr-7bQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756418732,
          "updated": 1756418732,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1529812600/13ad7c3df51f421d8f4746fc555eeb83?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid"[...]
