{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1363038707/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1363038707/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/1363038707/6817d2ab1cbf4c8fb8438db064bd920d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1H4PM-MJwVYEudcdGNWHQ0ZKCyn4jGhjiS6U0Pe1hWgo5HuHAZ0VtfsmuBPBUHUxXdJx57kMllVLCK5ILj7ahS-Enq1Tu--M_OHyxqSHweun9C2zVhBIUtV0C4r53nMRrfxlQDb1S8n_avn4W5XSrW8QMQOXHNk53nwwpYfDSceeFTECPol5dWDaqxjzJLb1GbQJp32fQmBXKS1sOlFXjhePvi5ffRGvVxxdjNr1bZSdlbuWc_94X4xtmI6bK4gn_sTn_zAhmUypR-h7DhPCrOuhfv7gM1cDmaUsoUH8Q18mD_u0XkKQruWb-11qqsf5D709vthiji_BBl8glS4ROQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780403491,
          "updated": 1780403491,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1363038707/6817d2ab1cbf4c8fb8438db064bd920d/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://externalkeysdk.vault.azure.net/keys/1363038707/6817d2ab1cbf4c8fb8438db064bd920d",
        "value": "tlk2t3f7pXrbNL_KYU1M412JzYdHLYxEv9MJWEs72V2AJ339bccMMNr8E3Nnc-mu4Vl0FRGRc7WX2qqSi4y3eqdqKDiM-3RJKNCcFhYi1gQxbPPruVae7_mAB6sgAmcJ7ZNY01oqC2GDQ5zk52iCzQZGeq1O6L25Y4BiURe0BCFTxMNSfi-zXwxZApKub6bXPVPnLEFRVYSShQACXlTXNZsZanDWp1OP6ta2vTXNb2ytODksUpCqqm6BsEdseqOGHSoWNNZOytaF4KtyJzrD8rxn40qW2v093NR2d4j9158eyg4OGWbz61sRkaztJy67E7x90ArYFpdlA2fhhq_dcw"
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1363038707/6817d2ab1cbf4c8fb8438db064bd920d/verify?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA",
        "value": "tlk2t3f7pXrbNL_KYU1M412JzYdHLYxEv9MJWEs72V2AJ339bccMMNr8E3Nnc-mu4Vl0FRGRc7WX2qqSi4y3eqdqKDiM-3RJKNCcFhYi1gQxbPPruVae7_mAB6sgAmcJ7ZNY01oqC2GDQ5zk52iCzQZGeq1O6L25Y4BiURe0BCFTxMNSfi-zXwxZApKub6bXPVPnLEFRVYSShQACXlTXNZsZanDWp1OP6ta2vTXNb2ytODksUpCqqm6BsEdseqOGHSoWNNZOytaF4KtyJzrD8rxn40qW2v093NR2d4j9158eyg4OGWbz61sRkaztJy67E7x90ArYFpdlA2fhhq_dcw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://externalkeysdk.vault.azure.net/",
    "RandomSeed": "761688410"
  }
}
