{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/7229477/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/7229477/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/7229477/fe1e496b15e5439bb8320c766c9ef011",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vn-0-Pi_jV7Cb5AC_dxDiw0Y0AgaEANCgkNKFxnelyJxJwtsch20jgjv5WUcWTWMo4kdIMEQEAHTDkcMutBovnKYzLQuZq9Li-_4Uk3bFL0MQytffP5JfG3c8xG9-DYcuD4I7g2WyxhnC6BPpKsZW1p1xQI-SMGnad0tPiQuyS395TqPGa-mmzWSZqu66mdxBcO4FMwohrtSKTEGYKht_6GJ1dvK6CRZyQjtgIKAjFvdMAWRF-9e2qLNhWr1a84J0BxsQYEX_1xug94dP2EhWHA3H5T0M9Qfkjh51S1P42UwFoDZ_3uKXnEmvnTEyI5TrGSIgv2bcWI8lhM8wQSK6Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760450,
          "updated": 1750760450,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/7229477/fe1e496b15e5439bb8320c766c9ef011?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/7229477/fe1e496b15e5439bb8320c766c9ef011",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vn-0-Pi_jV7Cb5AC_dxDiw0Y0AgaEANCgkNKFxnelyJxJwtsch20jgjv5WUcWTWMo4kdIMEQEAHTDkcMutBovnKYzLQuZq9Li-_4Uk3bFL0MQytffP5JfG3c8xG9-DYcuD4I7g2WyxhnC6BPpKsZW1p1xQI-SMGnad0tPiQuyS395TqPGa-mmzWSZqu66mdxBcO4FMwohrtSKTEGYKht_6GJ1dvK6CRZyQjtgIKAjFvdMAWRF-9e2qLNhWr1a84J0BxsQYEX_1xug94dP2EhWHA3H5T0M9Qfkjh51S1P42UwFoDZ_3uKXnEmvnTEyI5TrGSIgv2bcWI8lhM8wQSK6Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760450,
          "updated": 1750760450,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/7229477/fe1e496b15e5439bb8320c766c9ef011/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/7229477/fe1e496b15e5439bb8320c766c9ef011",
        "value": "u5oL5AwjBJkqo-hQb6XWAWlnSA_5H6GMO2bVIgPK1oJJEo7mDoqfQ0Efyr_nQftprD1ROt6C2mZ1ra0H6WOKbo_a_fLVjCmMjv18Dql-9jmw7hNqNCdobTsncGb0k5IOpzsJWQB95DsOUa8DkFWxvoBZxAp7UUJxJxl6W5CfUxq0Tvh5ehJg11qzXJz9e_vSIvz9_XvaRjO650PCM1mAeYaS1XvMbGDDnfkAbDZf7SW9886mxfGUzOdEIQq6Sw02MduDtsJ2tvE32MRsmyWbx4WF3Sh_Rr_IU07T2GIT9F_nUqXIqWbPUEb82snO3WhvBEXxpdVSz1GhUixT5DJJCg"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "1930435396"
  }
}
