{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/399917843/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/399917843/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/399917843/13fc724d225c44fbb35438d0637fb5dd",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "slDMXclnJ79C7aoP-EBacchiD5oQ_X0pjuFIQnrd5RZHjabmHW_31hMuxTkhcVgZ_9z9qEV0MZKVGnmc38Lnc6JcZReOAjW8JUx2gaDjk6xqKEAymhyP1sKVna1vwKsfHeHqbAqmoWv_Lsw8LS36Sdql5Ai3gnBtfsQCDmXcoJMGA8PfHADYdOOuGA7d5SoRw7qQmcFxuUPOtTtCED1UkgY6TdS6mfS4hkDLZ-TyodTacLoe0sllWne-8yyoa0zLcBbpEWyVNLmlyP1uhE88SI62zw77HnaqqzszeXHEzdNqmJo8U-lHww02CoySYsAKOhRghxSHwNWwW7kufQYfRQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929653,
          "updated": 1742929653,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/399917843/13fc724d225c44fbb35438d0637fb5dd/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/399917843/13fc724d225c44fbb35438d0637fb5dd",
        "value": "cmqv1aYuHTMtIx_qSSBU5E_K-6-7bBdk7O0Qol8IsdPt4HMXKgd5DHyXRWSI3Zql_z662dE9aEXPXL0ItG4pWe82Cf4_im5jtKVH7MVs-biBkGpWKznKCiXI4__rhCK5CQM5pqHChAhGsLXOOC466XvNqOtLRqdMkPnPxId3SFPmuW8wtvOhaZBd_KiIBqNNeeYgvvUhkfo8olVoCJcL6uUemdZIkj6Z51EqIDo-7Me1TcdfiAZhwtyY2sTbKWmcmn2K11uAvX_YQdSr5f4U-muYobPoTzcBuWvFA-SUjY2sslc0LBz2oXR-05MY9bZ8MGYzRHOibxpWlAezE97xqg"
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/399917843/13fc724d225c44fbb35438d0637fb5dd/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA",
        "value": "cmqv1aYuHTMtIx_qSSBU5E_K-6-7bBdk7O0Qol8IsdPt4HMXKgd5DHyXRWSI3Zql_z662dE9aEXPXL0ItG4pWe82Cf4_im5jtKVH7MVs-biBkGpWKznKCiXI4__rhCK5CQM5pqHChAhGsLXOOC466XvNqOtLRqdMkPnPxId3SFPmuW8wtvOhaZBd_KiIBqNNeeYgvvUhkfo8olVoCJcL6uUemdZIkj6Z51EqIDo-7Me1TcdfiAZhwtyY2sTbKWmcmn2K11uAvX_YQdSr5f4U-muYobPoTzcBuWvFA-SUjY2sslc0LBz2oXR-05MY9bZ8MGYzRHOibxpWlAezE97xqg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "538245010"
  }
}
