{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/293310744/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/293310744/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/293310744/6eb5c3149bdf4ecab09db882c9a25283",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zx21qpoPLKjuSqR6qE46pXOE8ff9sXoroIAzAalVDNNQ2kG79qtiQOM-vW3ssn8Mt6UlCA6pDT7XT6vPQJBoe88d5dyf59J1bUGTtT7HxJCVM8Ar1amJTg2pzScTISHNUWbtcDfwPo5vbV8NKiCr9maUgUdfBYHk6uumwhGu6PA1bFfSdGj3-OQUXoJcpCQmrAm4ENiuG4_sQbaAzulhfg11abHylyIz313FPHcEnDgZLPwbaF9XHAzXYqeSBy8mGjJheHtxCNqArtdISEBDFisiR7jozhETdqR1c_pvkdi2zr2CuNZ6dIby4J0AigxFM9_sMpVaU8jnuOBmXGIwNQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758945661,
          "updated": 1758945661,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/293310744/6eb5c3149bdf4ecab09db882c9a25283/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/293310744/6eb5c3149bdf4ecab09db882c9a25283",
        "value": "fIY0DP7wICIZdROpkXfnH0RJMeRDC48zxOh-PWI2Wuf2lqV6Y-IgbkASPrEUS7Wr6s7kFAZr7608buKHsYvlkOUXei2fl6V6dZkFFhdPk_rTxzkNLbGb6BOReA-My361u1UDSv_l_1qgohhhDKhS2op1O5IaVg36enJgsEW27xRpF5KdQm0UUXbYuTgd_X3L3kiu4IYAqn-70rpyPsUYwxCbZULZgaa_ORp_7Ydwiqzs-AVuVHOqshoW2NC0pe9s5w-k1QkwRrfffEjVZALv-SuCbyXD1CWFxflVMb5whY_Z5fLKlSWTnZsUrkJiZMVt4gk4U-WyjN9JdA1x3A80dw"
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/293310744/6eb5c3149bdf4ecab09db882c9a25283/verify?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA",
        "value": "fIY0DP7wICIZdROpkXfnH0RJMeRDC48zxOh-PWI2Wuf2lqV6Y-IgbkASPrEUS7Wr6s7kFAZr7608buKHsYvlkOUXei2fl6V6dZkFFhdPk_rTxzkNLbGb6BOReA-My361u1UDSv_l_1qgohhhDKhS2op1O5IaVg36enJgsEW27xRpF5KdQm0UUXbYuTgd_X3L3kiu4IYAqn-70rpyPsUYwxCbZULZgaa_ORp_7Ydwiqzs-AVuVHOqshoW2NC0pe9s5w-k1QkwRrfffEjVZALv-SuCbyXD1CWFxflVMb5whY_Z5fLKlSWTnZsUrkJiZMVt4gk4U-WyjN9JdA1x3A80dw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://t8c2fe6801937008f.vault.azure.net/",
    "RandomSeed": "1965288024"
  }
}
