{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1950595260/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1950595260/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1950595260/917717f5a4e24fb2b1c0183d891e5c1a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ynxmpk8LECsq8p_ZS650wHtdJZXym4DYION3fNg52E7SjPfqEePH7aAfsaJ1dF4vq2f253M9gRbIe1bo-rO2UsaVIE7g3BBqPrCzW2X5x0poJA7MykZhkXWeDUjfZOQ1oF68QYSvk7l_Uk0xpwMzJAHvFPwDvjC7_N7sa6Q3SIeVOO2zdOXoGIJgrM9vhlh9Ii0eTYvN5miSyOgFli_ugLwBB66wQbs7DSxjjacfyzNTyarEjVHZCnuwZjWLMyixPDR17PT-BrR0-LGSGKaEyEb9_yILWbMEp4kbKm7fqjZTnscWa35XmiDE0i84M8glbN9-2QynJjV4KSz4ds_lHQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756942701,
          "updated": 1756942701,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1950595260/917717f5a4e24fb2b1c0183d891e5c1a?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid"[...]
