{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1594524257/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1594524257/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1594524257/48068c20261542cf816faf1fa28967ee",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "twxg6zGTtFuGrLtDv-z5p-SkOlpHMqlYIFrVLewdT6TYChvpHNWEUs-m8kCNiDx0E-iASAwuWUg-hMkG5Jp54Z_3aj29Ayg0esksSpmwSxdxyoAuyDflw3XZOdywhx7Vs7c4fVxCUGOTqpatabRAqS4HJCzxoiXOPcoxI4a_cfjqjfRrS5IEbywRpO5vVil0yD51Ew6_LFtC-w3lU_gKQ_h4wArxZHvjuHsxDYtI15pvbw8TKNAn55w9XHOr-7QuzH-NwRDIL6Ao7__EoLBEng0i9J7p32ZTyMiMFeiRXer2dsPU_Kz2v6AQn50O4L2lLFTKero9tzjTJkTTxevsnQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707529899,
          "updated": 1707529899,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1594524257/48068c20261542cf816faf1fa28967ee/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1594524257/48068c20261542cf816faf1fa28967ee",
        "value": "N9RdlwyYPDZgzjjhQsZ9cC6G1Kje-YbnpfECSuhKVWvoAFJ0fi3VpxM1FHPwsHO6W80o0fi04AwQA_-EhmGWiXb3FtkvxMFlq9AxARfw_rUlRp4VrzBqVHYs8Yd6BisQLSR5R0FuIacHi0KGo00op_r0BGyE_1EDhRS22e5Xiy_86vznYhwKUJZIRlctMMEn2Hk1VltOyKG3AyOpMIFtaPcAkTTTvKK7-1MyYY79I8Om0YJdLxHTro1_gBEDjYVzlmx6rbIkjU9rCVTAO_-oByevnEx_7q_9iFUOtwdVtXyscLfVm4S0fwDKLWviwf4MG06XLCHWjpld67nNn0QjFQ"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1594524257/48068c20261542cf816faf1fa28967ee/decrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "N9RdlwyYPDZgzjjhQsZ9cC6G1Kje-YbnpfECSuhKVWvoAFJ0fi3VpxM1FHPwsHO6W80o0fi04AwQA_-EhmGWiXb3FtkvxMFlq9AxARfw_rUlRp4VrzBqVHYs8Yd6BisQLSR5R0FuIacHi0KGo00op_r0BGyE_1EDhRS22e5Xiy_86vznYhwKUJZIRlctMMEn2Hk1VltOyKG3AyOpMIFtaPcAkTTTvKK7-1MyYY79I8Om0YJdLxHTro1_gBEDjYVzlmx6rbIkjU9rCVTAO_-oByevnEx_7q_9iFUOtwdVtXyscLfVm4S0fwDKLWviwf4MG06XLCHWjpld67nNn0QjFQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1594524257/48068c20261542cf816faf1fa28967ee",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1668604783"
  }
}
