{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/404714470/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/404714470/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/404714470/f259a51cf68c4bcc93da9526216bff85",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "_RmcUnzKVa6NDoVznm78Uu9bnkGJ2-9hqhKQXYICh_5DsSble7_WRJC-0ZX22FEW-gNO-1TuKFHIm_kDALr-KH3KafFIAhsv6f8-kQXz4SaQjRl5NAJA02nMQd6ry4D2kQq8t2xCySqMJjzpckIgv-xec9xMVcK0JhSGI5aY9KeXXpPmyvaf4d4c25kTCeV3T8c8Khe4YEpZm9cnUwhwRssjwzOg8JtUkVkP7SvCuTzxGMOGss4iES5f5rZtlksFaDkqp1laqc3yn062_11D9PnosB_isHdsAvBTIe4qJnkPwKD9gd2iPehkF4UWJbXIhVPDT2HtlZxWVofU7TqM0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929042,
          "updated": 1742929042,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/404714470/f259a51cf68c4bcc93da9526216bff85/encrypt?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/404714470/f259a51cf68c4bcc93da9526216bff85",
        "value": "34eXvqOukm0EYe990ItUe9jOl6pqDa8b15p89RfLpF8hgyAo38weyKZ_JP0hyVA-QR0iFiS6R3delwLNzoQ-uVa-nQpzfSqJW1-2ItecxCL6oNsAxcxZ6dJ5KaBiPbozrXYBfW6ZnXhTYUmaV5kOwA9iIdsYs4ffqZiR5ZWbUpdgB5gVAI4sXisSRjtgPSqU1OKueNCOwPINnOtEoRYDXyYDuAEWTPf5LmvJCkzQHIo4--3x9xTMULbYl3k3M7NqPJYykiI0ZSCRY6u8Z7RQOaRkWU3QvtvZyiZVmRvndyjhUJXbF5sGmjYHchrtCLETZaUGdvaZ8rb3PvaRQ1G2uw"
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/404714470/f259a51cf68c4bcc93da9526216bff85/decrypt?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "34eXvqOukm0EYe990ItUe9jOl6pqDa8b15p89RfLpF8hgyAo38weyKZ_JP0hyVA-QR0iFiS6R3delwLNzoQ-uVa-nQpzfSqJW1-2ItecxCL6oNsAxcxZ6dJ5KaBiPbozrXYBfW6ZnXhTYUmaV5kOwA9iIdsYs4ffqZiR5ZWbUpdgB5gVAI4sXisSRjtgPSqU1OKueNCOwPINnOtEoRYDXyYDuAEWTPf5LmvJCkzQHIo4--3x9xTMULbYl3k3M7NqPJYykiI0ZSCRY6u8Z7RQOaRkWU3QvtvZyiZVmRvndyjhUJXbF5sGmjYHchrtCLETZaUGdvaZ8rb3PvaRQ1G2uw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/404714470/f259a51cf68c4bcc93da9526216bff85",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "1303943067"
  }
}
