{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1131874964/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1131874964/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1131874964/99c8fb68f79d49aaad609cf13cde1f3a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wsr0uQ6-XoCFmDAkRlhdaUKdPMdigGI17EicUS9I5phP9TT2vutHQb33KxflMVwJ1dmePYI3Tt6Zj_wZSZbyPpl7wFynrUpg3JLxu4sEizg54_JLfceeHir3RODBTwpOB4AwhnQ7Jv785uchve8f_jMdzIOqEZOw4hRSwmJZyXFA8xe2ciqBqHMhJPLw_907sMdPeLEJXNGdux-UZjKm4zwgyREwa5fip0GSNmb7BY8CELUcwZ54H0jf58jZHdnhZURFBLsamrr8nfhmRz7Zd_t_2rhvF6SEGnZZBxOidmDg5GZsrCPMvs_I050RZE8PvWg7LoPGoDXCWRRXHmsgwQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750761029,
          "updated": 1750761029,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1131874964/99c8fb68f79d49aaad609cf13cde1f3a/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1131874964/99c8fb68f79d49aaad609cf13cde1f3a",
        "value": "aV0up4MddmektB292DD-pS2A63Lfl_nrUlXk2dHZc_bi4FjGkxprXqWqkNmpyqOpLfYlr7nvBXvPZQzQhTdNa-7e1ZLYEiB3xI662ldp4IiM7wYMIiPIHeJWO6CpNH8Yr4QJLZjAGy3sCG7fHVXPB4t6uyA3Veo8XPX902XdXclr9D8JEmaU1PMJaAA6ffhNNvSqOAGIdYIVEhhD93KBYsguNCQrxL1YFn-kFmx8aafZXYzEb589tblvbPITuo7WqOqUzTt9cW33zy2g_zgDlS-reL-Q_NtlOPqxUPAFrVe5-yTSdYvQu9bNH6_UH9rSJZ7w8IhAaX4H_UermtindQ"
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1131874964/99c8fb68f79d49aaad609cf13cde1f3a/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "YPMYCWi4F5iB0VeftRDvoh3NWmgJncjBwLa45jptbxA",
        "value": "aV0up4MddmektB292DD-pS2A63Lfl_nrUlXk2dHZc_bi4FjGkxprXqWqkNmpyqOpLfYlr7nvBXvPZQzQhTdNa-7e1ZLYEiB3xI662ldp4IiM7wYMIiPIHeJWO6CpNH8Yr4QJLZjAGy3sCG7fHVXPB4t6uyA3Veo8XPX902XdXclr9D8JEmaU1PMJaAA6ffhNNvSqOAGIdYIVEhhD93KBYsguNCQrxL1YFn-kFmx8aafZXYzEb589tblvbPITuo7WqOqUzTt9cW33zy2g_zgDlS-reL-Q_NtlOPqxUPAFrVe5-yTSdYvQu9bNH6_UH9rSJZ7w8IhAaX4H_UermtindQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "545135029"
  }
}
