{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/213134645/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/213134645/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/213134645/1704cc5b30634ba095ff621630396c39",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1kQbbhy6NcFxRGJAmC-_gCBsf8q0V8r9gGFp4tYHPnokIRbwSOhTWhTVyL1N4jjCUES9AawcTMh5J4sIKAtJl2Wfneh1ti1YXhx-99rwQkX8GpdfsqRfYeg0WZaPmGLqi1cXEy0JVGoJSV2BZkyEOnePxcTkJielYrriwG_jPZjN3IbDAm7dyW76HM_zMtaEXcqggf8pYIA-nD4d9r2sBLR3m4doqt4U3p8pvYd0S9J0WBQ-Z-mfkb-Vz7Q7TAw6d1hApu6rICHKj0upZRxz1meW8YDl2QcEU-Fa-jU6UAU6XsF4qMLX8VSFWg8xKhcKpNR6dUj-bkcpSfNFDFn2zQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759313292,
          "updated": 1759313292,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/213134645/1704cc5b30634ba095ff621630396c39/encrypt?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t282557e4338dc910.vault.azure.net/keys/213134645/1704cc5b30634ba095ff621630396c39",
        "value": "uU8Jk-IV4ElgfKr1pp0Cm5BLjgCSHzuopKv0lLHq8h1efAvXLU6DkAClC514KxdOOOeKBfDlOMsULCJTB1LpswC2pprVDtP9gz-LJv995OmSqtMwNCfIP4FVmpCBRT7cMfDwuC0y2XUv3jhEzzo_R6ZnzxgDFEgGWRZbX7FKUFwUk_c[...]
