{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/941475657/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/941475657/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/941475657/be74eb6541d34b2b85a0a3ebdff34775",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2YoRSdTGtD0qGOG1K21LxyVA_jmyA0pckREls5WvUW96UVMyHnoAq0-DLutMXFWOSUaeSuuIOxz-3x_XWVGdSrTbqaO4ACzfpRslSrl4nwSCywo8CajeFSjfDo2LQBQdGVGHqi1MUks65FEpvnvB4ejZaJ4tiawBNe5PmC2ld2vCPWdAbmm8kX84SVjwkPFIzycNpI0sVcM-2xliTvIFzfzfF3JFWwVmkDSEao1roOn7w1-g_uChalxuG6RC2WwqkllDriRtA0dmR5VYZ0AJsMI1p4jxPuKTXiCVtqTUtH5tia94KB_zX_4epypfcBfRQ3AlIxb3FAFlIKsRCnZU-Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760534,
          "updated": 1750760534,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/941475657/be74eb6541d34b2b85a0a3ebdff34775/decrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "r2VxJQIrcMeV9fd-But6qDByWp2hzKqF_6E6emXXF5AI6GTsbxxOzcRKbm1t-NrGo8pP4H7qPDbrNpGCtCJNXBdztI6UDHnzAFkdRh047USOe3QB26T_nLNlkhLyxrDFDhccCkrw0epc2CqPiMj7yW-hRkYvGKUR2byIwOeb8yz4x3c2FgGV7xuriWP-FUb1TvPOposognpF68X5VlqZBEo_puTgZYstlcX602HbghCEkAKnII3CGxLNnHnygKxqvkOGp_m3mLAD1DqC6Ia6SSnZulfCb_KsIKFq7ih713R2jwuy2qhnd3iSJWF-ePvc57yt9UEQYubDjoY_mD11Rw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/941475657/be74eb6541d34b2b85a0a3ebdff34775",
        "value": "IisDEwQcBANF1O82XF_2ktHTa9byLMtM8hTT2DEZSfs"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "486096588"
  }
}
