{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2141465067/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2141465067/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/2141465067/844bde7b4d354e228d5272a468e24eb8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ofWLg5AvmEdZhQx-kKa_56wAFa3XysU7A9Ca74WzzMF8iEl8zGp69cKNaHw1mbq8eZkP4T8FX0vo-CfNLYiHjAYIgXu9DIMBB-BbBptiH0yFGLehNeMcz5QzRKXRZY1QdUM2mk8K8Jcp4gzOcaNu4k9ONdkOSQG8y5UUpfZ2JYUJpWXDkFMRSJqltuJ1GJQTHSalEATCspjMkQeEI9uJXdoYPV2l_PZufKW9Ixd3x46aoYJkv979sM17LfySNzdSPOw5MElEi2IMh_Wsc1MBP2qOzCk2rwVQcqrpH367d8AQV1TX2MW93uWQl95sueGWOlJm3-ARJaN_gqwHPE-0KQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929150,
          "updated": 1742929150,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2141465067/844bde7b4d354e228d5272a468e24eb8/decrypt?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "ORTkVnYNXjkKH_l1McvIJBOciRwSsgre4DGpIitRLCcIR7-7VwCSDZLJDQUkTOWX8Xb--9Yfsl3CShoC2DubsceOjO-AGw0lQ31wJHxIjl9Ul5VF6mHsystWKpM6fURfBRLZsuYcyb0rUnoPBxzHf1jXixQ-0KgcAFqhswoHvpPba3V96idnDumBShUwOMzoKhRF1pxlO3nKw9EeKZhtZV1maMeCJOqD4ZejTAND-VPnccLa9Vn4TLSxfkiQj_dzx2kI6PhA21hmYwkyc_6EFEa4kzak3WPy9Gk3VY4Un8bAQ81kPIDXblgJmlsZaze0tZRYWTYhNzam4uf9J4yCtw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/2141465067/844bde7b4d354e228d5272a468e24eb8",
        "value": "yKa-wNhR4PTE1PS_6_qIm0QS9k-kn92d_egWmVVEhAU"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "1363517653"
  }
}
