{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1497130329/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1497130329/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1497130329/5d391b41b2ae4758b78104864c0e3824",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vsDJWJuiNJL2dI3rFErBtd9lj8hR7pbK39LxFfja2UHkrEq68qRifbtWQ5Bsy4gGY372AzDBLCy5Kbi7iwzMepwQKtPJwJFp_L1smz1xN2NfLupPVLeqz04A5UBf41Jgs5CWZntixFZVweF3I5wLX3sitikSGypNGpMsnk1RUVng4-nJZ8L-VvV7jc7j-Tx2XgBKBjs1ZKphB35FZvn5RLfPQ_Py5vALQVqSBcuhxULS3N7wX4SJuG4GGcnnFvJqoAxtiUIFYm5pwzWTewHfGj6VsFmgKE3HEUDfCcDqDMccmmFA2ZWadsuQUuD_sqjTtwhMwLDeF38zj4jujdv9HQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724200278,
          "updated": 1724200278,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1497130329/5d391b41b2ae4758b78104864c0e3824/encrypt?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "eqlzlOVDDKhG43dE-zTxJ9OCBWhYLiZNAJtfgqSjefQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1497130329/5d391b41b2ae4758b78104864c0e3824",
        "value": "bXaoTgCdkMTWZziDx-Cwe6ICRiHiYaSoh66POwMAybImIt6ObiqTCtulNByKiEmP9p1SjslrqNAQukEorV4OyiDcnWahD5SYhEWH-U9rAyponhf5E7KKIS3gLGJHVXM64NwUKS3V2srWmDxF-kvgKSvbY5_5PHGKQHrq3t0nAonOg8H4OEXIt80W5ktWfexhC8cUvoozC6RBOZcv1ghF_L7xi2oFdD7056l8OTWgAIlHaFzkxWpxv2PZiu-OpQGtmKyms-iiC1JwnWTjCQphuZOFRywfhaowhDY8yqZ3_rpECFpiEMUjFnBeViAiLIA93iH11vQ4nhUkWb97FUgiCQ"
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1497130329/5d391b41b2ae4758b78104864c0e3824/decrypt?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "bXaoTgCdkMTWZziDx-Cwe6ICRiHiYaSoh66POwMAybImIt6ObiqTCtulNByKiEmP9p1SjslrqNAQukEorV4OyiDcnWahD5SYhEWH-U9rAyponhf5E7KKIS3gLGJHVXM64NwUKS3V2srWmDxF-kvgKSvbY5_5PHGKQHrq3t0nAonOg8H4OEXIt80W5ktWfexhC8cUvoozC6RBOZcv1ghF_L7xi2oFdD7056l8OTWgAIlHaFzkxWpxv2PZiu-OpQGtmKyms-iiC1JwnWTjCQphuZOFRywfhaowhDY8yqZ3_rpECFpiEMUjFnBeViAiLIA93iH11vQ4nhUkWb97FUgiCQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1497130329/5d391b41b2ae4758b78104864c0e3824",
        "value": "eqlzlOVDDKhG43dE-zTxJ9OCBWhYLiZNAJtfgqSjefQ"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "275165508"
  }
}
