{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/771108207/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/771108207/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/771108207/84a29aa3a05d48c8b68a16e1f2ca20d6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6DTlP-CAN5Rvpackw5qFz7DyVMqTgyep8pjaXInDVSjlCmJ50w1Y8kJnDNeuu5_je-0MN8mhTOxIlKQ8CGFm-jOXUqKF2FaHA4H7BmI5qQNcRi12Y-IEBsg1XjjJv6RT-4G5AvZ922j9kSdWMyIvad-j-AME-vkGWQIb1WjXsQSb5KdYjXvCpIQeB31A0ywX1VQ5o5F0lpD1V_fuSCBn6PBcsKDW6DeD7uc0aISgOxnHhUqMSQLfpGzS8Y8yGnv8hKL83c7fZPiC0QHXYzwVjtWQsRZwJI5KrAFU2teo2gPQW4cPi-OWskrgwmL0Vv7vBF6IVgYm4Tgs0KiJZ6FR_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724201738,
          "updated": 1724201738,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/771108207/84a29aa3a05d48c8b68a16e1f2ca20d6?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/771108207/84a29aa3a05d48c8b68a16e1f2ca20d6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6DTlP-CAN5Rvpackw5qFz7DyVMqTgyep8pjaXInDVSjlCmJ50w1Y8kJnDNeuu5_je-0MN8mhTOxIlKQ8CGFm-jOXUqKF2FaHA4H7BmI5qQNcRi12Y-IEBsg1XjjJv6RT-4G5AvZ922j9kSdWMyIvad-j-AME-vkGWQIb1WjXsQSb5KdYjXvCpIQeB31A0ywX1VQ5o5F0lpD1V_fuSCBn6PBcsKDW6DeD7uc0aISgOxnHhUqMSQLfpGzS8Y8yGnv8hKL83c7fZPiC0QHXYzwVjtWQsRZwJI5KrAFU2teo2gPQW4cPi-OWskrgwmL0Vv7vBF6IVgYm4Tgs0KiJZ6FR_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724201738,
          "updated": 1724201738,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/771108207/84a29aa3a05d48c8b68a16e1f2ca20d6/decrypt?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "oX9JqtNEhn1IGavx2dYaUfEFVkK6LJKkUY15nWy9B8Z5MUhGEJDbYCCnzyycrGCmHjU8MuJqc8Nx6B5yem5MIQW1cu3ilE1GjJ2l2tGQSPb3rbuqpJGa9P0nUF0602GCTy0lbxvy802yFcuS7u-WT4qQ8NWXfpdMeE4oNRuoW_x-r0jiCrJXh89t4mmjYNwCOT-1oKarUOMcq3ShESrK-yvzmWlPmfUY0z5gU8zm0fjLvPKWAGZiCmmly2ikYKr0wAIO2l_I_pV8uuMGYhwaKZXk36kEFL-dAHTCezlGXQIFhV0jp7H_3eShl0Aptj2CFpFqa4fVtu3kUZDGWwMmoQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/771108207/84a29aa3a05d48c8b68a16e1f2ca20d6",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "356586671"
  }
}
