{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/10298886/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/10298886/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/10298886/6e004ba2f3d94d30877a083fba7502cd",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tHxdbkLPkvjVwPnqbyycCrFzh0uCs0AIm9HSuU5YcCBgueGBShrR5E8RpqdbO68BWZ6-cYiu5C2o7fnkeHt3OVxfVMlrvVNqNFGaJpnqpddX6JPHRdrLFaDS5Bbrq8q8LPPxp5Z2Yfnpd4lhP2fKtH1kewnpfNc6JUr5ScAY1EPJGI2Ovm5qiQbvb3jh_3Jnd0cqCjfhhhLu-yGZPeOuEfsLjXGZDFOa1wHCkoux2azhPrcE6OKk4xBye6QJ-O1IfqTwVo4vGaR1JyyLS_d7mLFtDDt6EX9pjalYOrTrCcl0H1qAmJTLWoSJ1lD7Vs9slZrugKaDKf-s8PsYI-CvYQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724200318,
          "updated": 1724200318,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/10298886/6e004ba2f3d94d30877a083fba7502cd/decrypt?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "NxwglIDiPc-g2KljCcd-2eePDE9j66MsHJJmgxeh2rwSNPshktARpcJEQNUV5XShMBgl6fugtsjj8OtntvEEkCnZer3UhSSvO2aVyy-T_QRWuYXXwiCY9TWL03psfxhxdzK2jWCNGvs__wp6Cq-_Md408_YeXp7XkKAmKTsfZCELqYCFg_cOfnGoyJzmCK-BNQ0zNnp_xd1VctXdv6AACVBpy3dQupG0SZ4M5u7ZOWG2PiF9xWDaWsn2fsilh_4F1rbsN2tU_-uzYRj5k1JV7Ig-tuIKnG3Bdwez9ojbFUkm_WogtIs9j9UBlbP2ADc2tFftvj8aOk-q-a5RZccjIw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/10298886/6e004ba2f3d94d30877a083fba7502cd",
        "value": "G9ivJCHUtgDPzwJY8E9jGDxTRbmkKELfVtI7Yu1UTEQ"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "1416046438"
  }
}
