{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/2066140130/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/2066140130/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/2066140130/796962b9b74640fc8bdcf430c0c3ec33",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "8xS_58xZBDA43UJbWtSObcDkO6wyLy5wizXBZvYC4i21G4-s-BdjunxTzWEJWn6Mm_P5eBgGl2x95ao3LSSq4CEVrxIh7fRZLyvU4FTy0J0K3Kv2o1UyDaIQyz1xSkDKMppPMmruwE4M5ddcptOMbJpQ71UgYd9gWGkaPSMcc7brw3d_rW5gpSb5P5T4MOT-oExs8svZwE0SFQzuGzVZyNQxUBvA3yIz-2Gv_6XxLLcaO1GAfZWuXbONN3QIO_9BS-wQIJVWpczaMp2DOmHQAySbvRAr8oyp2wt6RrWEfA6tT4yhSiwk2eSkVhpqyEY_EN9bxE5HnQuPFNqyE0Eb0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756417867,
          "updated": 1756417867,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/2066140130/796962b9b74640fc8bdcf430c0c3ec33/encrypt?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "C1-a4xYddrf6PLwBR-jic_p5eQe6a7muGijQ6UD3ZQQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/2066140130/796962b9b74640fc8bdcf430c0c3ec33",
        "value": "arpQ42zKGlz55kZ9PGL0Egz5dWhlR5Igmj8N7wE9WGLk1G2BVDyXCfpJICofCJ5OIhdqtCqsoKDXy_W7_4k-chmuk2T2tnfkXFcDFDS3PQ1NkqSC7cjOHx8IjIZpA1iOCUghJ5z66ZnMyY4Ucj1vLeUDup972yWbI_Ewz6V[...]
