{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/2031165112/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/2031165112/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/2031165112/53df1330cd4c48b7abd25edfc43134b0",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4VeNZKKVIGYE3rqh5budrqZjtalpW00h5lOWsvhJVgsyGs0Z3UGFdWui_vHN-ZYOCj4mb4z-dZmZcRzFDN966ZGot0iZEN_V_ej7XqFqVAz5xBOa8vUoXvCLAKJ1ctCSNlPleXsd9O6a808ZMRZrUvMRh77bnRbCGlQVOQSzQnfk75VFx6KX8r7ylZPy2BJIueH92FEO6Z1QubpalQteI467rj79vvXPP-F9dxmf_M2f7FOWCPkhRELQgfIWNEiaANS3R6VFmOW-mDlk7cx8WlQi3blMRHWHWh0lhnMpzqF_-70OuQrMvQuBP-tDPma_-VWRE8W_nzPH2syrygzXsQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759312278,
          "updated": 1759312278,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/2031165112/53df1330cd4c48b7abd25edfc43134b0?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https[...]
