{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/547140404/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/547140404/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/547140404/c52f97a09d02415db7ed2f21c335d13e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wawUeNVarZMDyJ3x_CjwWsb6eN8SJ3nJptsGdypRPojjLrjy13v0-TJ5sEjD3BVfsaLZ52Es05GCoxjHzxgYQIFDd2HefQkFPUx06_4JutBXDTi-OKWx1YxY8u6SyD2e_DBz2pAWQ57Tp47wm6pT5KVmlK5XdlTmoScXWFH2Cup5t7dG3WRIwd_kme2HMB7YcrvGh8nEXfVBgWLIoXaTKt65YYm4hK4KrzAH_2daYZsIF-1jY6-umyk4TWximKCnX6zXvXJtib_kuy4HwK4JV01PlvZ1PW-gwUHHcChmTQaffzEInmk21LijiDiLy0VnFVgUFgteB7NwHmJHsj5nRQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780402649,
          "updated": 1780402649,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/547140404/c52f97a09d02415db7ed2f21c335d13e/decrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "B5ij57-UgtFRnTxqATkYhYlx03JVr3UqIxkVPPtNz65pUXcmq1zDJt7xb5dWz58NtNyz2iBDha-WLtbJ8rxahekPlpN7Jhkza1N9XIup7iH4Nl9QsjiIGYocmEEXgW2alUs1wfsiEaQYMLAVorxC7VNL6tZCxGeR3gwi0w-RG89hEuJTtdaWHI1P8R9_P5w-dlOdCwlW2BZHd_iqNliVp0f-9w_tbNF89jliLW35lal68WwMYw-KnvWE_WCZC_qfnDfsq0lh6SWuPEqc5Yge_ik-bJbRmmrxp_On5jTHv5dUrGJAtaLTqw06RF5494k-rRYMb6ZhcXYYnib9stCCEQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://externalkeysdk.vault.azure.net/keys/547140404/c52f97a09d02415db7ed2f21c335d13e",
        "value": "HKRwE6VSFtj4o4MThsatWJfGADWRM32p6kndNd6VQak"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://externalkeysdk.vault.azure.net/",
    "RandomSeed": "715657912"
  }
}
