{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/99978747/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/99978747/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/99978747/6e24d7743b1d4c14a6f4505653ab01e1",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zI4XcqDdvQVz8-F0gAYg8QLs5g5m9lNG540750LHP-p-BkFQ_Q0S50557zNHWuuCL3GPYw5C9EXr9GsJd9VMaA5FtDBnT-lpbdmjaknOh7NJYCvtLOqDUyESpAGZh30VXH5sr3ZE5650qwTbETzguy4nl9xCzbxk4_MySKk3Um2DdiqP-NXcBE87WUOwQyEkRAJPVO_sYJp4DQLQNYmEadRQvTo4kOklKSr09nPhwYD_y2LXGsmFzFpuENp8IW0TuXnBCnKzR25WbY3iZot4NcViJFldWiVx9iXXFnUkj96LIpE_VNxO3gWBYDPeekAU0p_rXcKJKl4-Vi-Q96N0jQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759311319,
          "updated": 1759311319,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/99978747/6e24d7743b1d4c14a6f4505653ab01e1/encrypt?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "FOcnYc3-DNwzSH97KdvRrRC1zIrDh1C51Yj0TYmY-vs"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t282557e4338dc910.vault.azure.net/keys/99978747/6e24d7743b1d4c14a6f4505653ab01e1",
        "value": "N8daqs9laDFk3MjVu0tpTDlVu_199TFXcsX19DDvHOx0lSN8_3Ti7KboxtmqwTqv6bcx-N2UyeYeEWMzYqr8Bjd8rCmdmRR5wBXKySMGfsC1GvHCk-g4iISESgja-tTDbNzqR0NbgEyVJZ-BEDB_Myn6dWU9uvfAz6fMnRfZz[...]
