{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/702427887/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/702427887/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/702427887/f0519f36d36f49ee886da977fab5750b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "46KxrjrHUw0Wfx_VpwDHoLEDCcwoeL2GbfuH5SiOV9OS83l8kaThSnHwVzu1XXbkr-4OJKsh9uu1hsXGVQr_LDx05yLFTSeZt6rqj6wjt64u9Pj98Vonf5zcUus9ffyRs_KiJsY_LIy3xf8k6Qy0QrENnlL8Jzljnc1eAIFDCwd2TM0tfawFgk8h4l9wxO-LYj8qbwK51XWgrURuG1iisAdNJEyey1sN2xXUCdYabOwWJkwMvy27O-ftKKe0qoIBf_5pNN048-NiuBDmiJ1LsSTLTPeHN_Gr314EdSTcZcQnrOEZOJ_sHDNgIHMR3xhxxzMJty37fIvWpRnKlE-Z8Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929693,
          "updated": 1742929693,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/702427887/f0519f36d36f49ee886da977fab5750b/encrypt?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "pBRnDRshMy49pbLXrCxkBoQgXF9CMNyWKlg-PXlsG70"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/702427887/f0519f36d36f49ee886da977fab5750b",
        "value": "3tSiGp9e9IAKD5n6MNTADoGXPkgdmRPcwnymcJoFe1SxcmZ7UlEwF_wV-MI7icrav0jG8HqSnLIj-J9yrJQGwNt29s9GNZCQ7PTA0ia01Gt2kZ0LZuL303Pz5FLtFrGoTGDzDOyUJGZpgc2VTu4xbSwlQAlACHjNCeis2Azn3MWMTT0HTUsG1wGYSQ7AUXiXwmHuObUbfBkIB9J1WQj6kEMaAEQAZ5rG6wnlSZNithq5Y2aPu92Ybu_S0lpdThl2NCKVeCQY-Jiow-QELAPahiIw3dzhG9P4l82xZ3-RUfEfRbFO89-jcAasBOkUF3_DLl1EPYRNFnHIPvvY_ohHJA"
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/702427887/f0519f36d36f49ee886da977fab5750b/decrypt?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "3tSiGp9e9IAKD5n6MNTADoGXPkgdmRPcwnymcJoFe1SxcmZ7UlEwF_wV-MI7icrav0jG8HqSnLIj-J9yrJQGwNt29s9GNZCQ7PTA0ia01Gt2kZ0LZuL303Pz5FLtFrGoTGDzDOyUJGZpgc2VTu4xbSwlQAlACHjNCeis2Azn3MWMTT0HTUsG1wGYSQ7AUXiXwmHuObUbfBkIB9J1WQj6kEMaAEQAZ5rG6wnlSZNithq5Y2aPu92Ybu_S0lpdThl2NCKVeCQY-Jiow-QELAPahiIw3dzhG9P4l82xZ3-RUfEfRbFO89-jcAasBOkUF3_DLl1EPYRNFnHIPvvY_ohHJA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/702427887/f0519f36d36f49ee886da977fab5750b",
        "value": "pBRnDRshMy49pbLXrCxkBoQgXF9CMNyWKlg-PXlsG70"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "1740903863"
  }
}
