{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1711966174/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1711966174/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1711966174/7d0ccf5a39ea40a8ab8e8bacc916ef27",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zkWxpT4Yd6wqqPJmvlKx7NGaxs-HMI7YfzduAXd5FE2jqjvxATmXhL1H11DNeNDlR73l03_ACaIZySZMwaWcSzuBiavp6avYz1gGoJDM4rzfnyFodr59SRrSKnzjClSdmK1coWKa7bFao_hfBSbuyvlhkIWpYnEL3_icfa5Kh3e4PuFCqW_FqT2m9JkUi1KJVExEe1l0gUy2uqSTfkQB10CE-F5S-Ox_m4-KFkQAt5Hvny_NLLxbqHc_priV6xR_1N955gF4OlonJZ4PlEWfFHsgziHQV_cQCJ4j2qtllYotikUd3a1WexnWpDk-PfHEC1bAekTDq0gSFROAVlrBhQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756941811,
          "updated": 1756941811,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1711966174/7d0ccf5a39ea40a8ab8e8bacc916ef27/decrypt?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "pDN8kNHluXHlqQ0smIxgYNCeE2qCBX67YhG__oAaaQ-6gYL0b0ejflqCZwUJ3fl35UVFgskFxjZ5IJ6Vqr01DL3niLEOW8bS4uop5IUXtO3qpXCxuMpkPpXkTEZxkjm8zfOARlpj7-t7HHiYUXLFUomgw8IRQgCTAYeeskCaz17yJPT-r_ZUHKmKZZOvxi7LluccAcAgUxuXewQ54Xlv_vH5nBV4k_0pirMevHoSPUg5UuKy4UfjgQNHmP1ESvxxK-18BOB-qrjiQF4q4a-8KBDS8AQq50m_cZwo3MHQAb2_vcyruFnakok5y4cAuFFDo-1LttewCYwK8RTwJu2bgA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1711966174/7d0ccf5a39ea40a8ab8e8bacc916ef27",
        "value": "4XJPjpX61exjkEVGgzYqyhOIn55uVeqjfa__oop2aYw"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tc01f7546f76b53e9.vault.azure.net/",
    "RandomSeed": "549046848"
  }
}
