{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1499532673/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1499532673/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/1499532673/2b2da8e486b3477db566a80bbe533593",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "lkvAJEHbBEB2uzvVpW8R8g_jD1hf_e-ZxRp4wDu56eGlUUWhpK24Tyt7hGBX_G60FScPl9N60DEuogyfBWMxab0bGnaH2jkbNmrENrWUg9PkxG-C7V2BKKpjk1Rp1kV1rO0lE9WofXsHwkdqA1lHfxJcEYAhC33KPK8CgQpc2j39ur0T5GBYeMDVqObB4-aCQ1w3EIXVqAbS0xpXtuug8PYy3PwVWL4kRMGgWCbRJ7nl2zeDXwAY722F9XwJYs8E8NGOLY5hH_P0G7hPplZpAfryc271FLo_IsAtY7zp19SfsGwwl8GmEElX53bX0qlEGv8b_qjVvcBvADM82FcqqQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781139565,
          "updated": 1781139565,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1499532673/2b2da8e486b3477db566a80bbe533593/decrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "c-4LvNQChMDCPDSm1f7yXE2hOBa-sRBsx3fLIga687tFwc0TNvpRm5EuTyItjXEuQDXYaf_5y1opygQhvm22zHopuMaTcwMwhqPVNMcrEjVf72_p_j7LbGzp2C34mwjIb1v9UTRzmlbXR4hKdKdO816tOPhxUd7Z-kWogQ3sN9DQnMIUaoL7SQDJF43v7720S0fobzAFxutRCvbhoVG5Qm9pjx-BR-sKPrvX5I0f5uySC1At_HwyevhuARrNN_6OnulYXxCannwUuQ1s831U2WL4jKQZWgMRFiW6aEJKxrNiTv6teeR31FYQEeejS-QB8VpqJmNSXMHm8RSFMRXHFw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://joncarde-kv.vault.azure.net/keys/1499532673/2b2da8e486b3477db566a80bbe533593",
        "value": "zBDmliD7yLgfQzOlzSPj85Tx1UswXxpahylr8Y0Txgo"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://joncarde-kv.vault.azure.net/",
    "RandomSeed": "1998095304"
  }
}
