{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/980145921/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/980145921/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/980145921/83147ce63b29406eb408c31729a37ef2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "7Uz7ykPJtWOLJQGmeYcUaavAQ1qowgfzLDPEKWwnBRCZA8pcPXrhMw5sQvOBPxBqcuQ2ETp-sgJntd5WRh3xterhEZ5DE0xUDfa7fTW3dLBKCOS8owA96M4YX7H_idbKwRd0v_Lb-0hnUClh-dCIp7Wtl2_ARaE70dv7MH48KvojA_oiNgnkDpdBfZEQvdsSzweTQr6DUc52G2TItR8KwGDWFVi1spVS3MXcIfXIZPM7pULbR4vc3MNDad1GN0_x5GRW5Siy1a-aUhGEa3ZlNJayseVXC4eMNbOZT73xJyOPtpYr7-ck10AF_5NpmFVdEvocgYMXFAPO7Mb8nhG2PQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758943517,
          "updated": 1758943517,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/980145921/83147ce63b29406eb408c31729a37ef2/encrypt?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "p7ydJ1psLMXDLpdtbgEAdkPfnaZ_KFwlETY7w34GXnc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/980145921/83147ce63b29406eb408c31729a37ef2",
        "value": "3Vv1q1c8WnVgIxCtvs5njnREE3nzpvfEKTwW40csOuOObYhwOTjCz4Wm5_NOpO02fphZrrBunA59wNV7BGRyzJcZtGK2373DrcsSZw3hnZwyeCu84C_tGdNGHAvssqPL9GwGcF7ZzCGQ9deUcxMpTTYpRVsMcQLggI5MTnCD[...]
