{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/2012134736/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/2012134736/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/2012134736/501d243ad80445969e8c7f146f93668f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "3Au8HeLShhNPPujYRKwOKQClF7fCyMAh2nO7bip0YdfjHr4cz944-h-79B2xl1VilpaVoHoJab3eSGVT4nEcIrJogbEIlVXdijpgiDVF-2kl03w8TNhaQK6r3AJ5Paj8LxqNnrvFl4k5GMlbhoW-bfADZE4HGEez37OKpL1s1A3s5KV9WLToMo-R2qzBGJly56sbP62_PPCJUBcHWXpam5pjkjC28Ic0tM4ostglkBra1RKfGJqYgAPJwUm-vOjiBKMer1odM2O3GAE3eVVDhUQTTiOo-94HdHznC2G4f5AYHswglTa0Murj54d8qJC7QkNz5wTwT3R7esqA5RXndQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724201745,
          "updated": 1724201745,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/2012134736/encrypt?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/2012134736/501d243ad80445969e8c7f146f93668f",
        "value": "Fsq2mNL8DSIZpdjmwSvbilrw7cn6g0KEBKLJf4SM8giOb92b-geWakBdgYz55Xo0FjtQMQxtL0ZF7pCUMr62kkov-EuWcluPlo4Zmq3sW7n-B_mxmd9XlpAVJWGQV2jcVxev0blRIYUPVFx0hnEuqBiR4Ymxaa46Kg3VD5fIfDGeHWdndZuXkjw_xoZON0ZjvwosmGhxnqjSpw0HkJWjo3-JTlS7kAOLyPySma38weOda1jbsvHS1aGXm_GO1KS5-uGlatY773uzNrQBzK5ij488CO5M_RRs7Tuv0FXrK6jE1oViEA-7YQMZflNl00SOuOulUmWm_awAWifnqGtXrg"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "642748217"
  }
}
