{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/923805699/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/923805699/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/923805699/2fa9c3d7c0204d8c82786528152b43ca",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tPewHqAo3oeUi5QU8jyYZ4-9RSwvGngXz08DnGj7HffO3JZq4hPfiq8ibV2Ks5dV5K6M0F46AJ2d4Mor1pRWz-aqRqAzFzbjCMbw1VeHp_uPE8tzv5uIr7OTJKNYfiTKW--gWmjFREWPbQJe6-uOTzXpeisnKv3cd2nFpRQlQwvgg7ZsEN_Zv6B8JkxfZukej8Put1LOw06xjw0aJhswykDU0wF3r7JZb7Sfm5GssOdFJU5kw0x5BoA8DsGMxdySvRUj_qBbaffh-vwr2xaatguL_IasV35uaVVsewEGkj0C5YX3GxuW_gW0zz8MXrtgMmxE_WNrX2oHaU-H5AyHDQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780402643,
          "updated": 1780402643,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/923805699/2fa9c3d7c0204d8c82786528152b43ca/decrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "i2v8ov4bA3wEfFcL1_j3163cFeXEYQTT9-gZ3G2yXsNImhouel941e32zs5x-OM7eb6IODyX4G7745WTXGGyJHVNUVsAJdr4Nzhe3QAyx1rtZo7Xf9lyNnzFx3Uv8eou3YEbH0SSFfeiHqVex2tnSOcGs5gm7xeXO7MqvPFwJ02SxskYp6fYvSXjyKsmk9yT1YXX8s1MlsU6wfCOt5d6gSz5eA_kqImVw7xeMhixKzx8yRyzx7PeeNghzKj4UaUdpVpnLxs-ak9l-bsPphsm5ypsCAxUtFYqPBt1ui5hpOpLV18_0pkHavBE7Q4LqnyvkJkKpuUkElNgGSi6tOPCGQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://externalkeysdk.vault.azure.net/keys/923805699/2fa9c3d7c0204d8c82786528152b43ca",
        "value": "7bs5olMmsCobkFMMv5lUSSRGxm6O_CeUmC1Wk2_TYgg"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://externalkeysdk.vault.azure.net/",
    "RandomSeed": "1481809326"
  }
}
