{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/591735616/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/591735616/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/591735616/7ae668978a184bc2834c4f59d1fe1b12",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "m_GUmgk_xM5qOKubpjHOXm1zPobNoxc9DVkGkKfHzz1By91Ooa8LNHS33inPmWt47CPiPqMDb5Q_zOQCg2b3CKd-CUA0jR7hGSLet7NWvkbQ3xNSXpGO_NPDUTe3qBSah-AXAOg9_GIrgE9ZfWmdpRf7vR6twYcRJe2P-kA32R7tDOkf_4syaO-PFphWGSbhyfm2rnPM9ztHS4uUQ8D4UBOofPoaWH1nDMwuQABQE5D9BR4xcJdyxEz_MMOJlNnyrzW7CJxAhhlW1YecBuKMy0HE2iQTfvJqfZ6mK5IZO2flJnFIrjX0w3So6SUBpxwQvBieNA5Hpzfvo9aQbycu9Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780403501,
          "updated": 1780403501,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/591735616/encrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://externalkeysdk.vault.azure.net/keys/591735616/7ae668978a184bc2834c4f59d1fe1b12",
        "value": "UU-EEPrbl9cERkopXtx-jXN_wRfUUert2P8dBjz_ZD5LFsej8TIBleh8TyiOAKPuoNw5iKUYNLKQKrP8R4qyUp6yxlqr02FWrqOLbJwWoHveoGdBysuOsiZhP0iYNRKdxZE0Xvu6knjIVTNsvL-METtF3HYlLDn9Xk5on9K7KIFbRvxZ6YwH1Lv0NxRxtgUivE79LrEdnj0UovPY7cRIUxGZnzSk5B-Tn4LI55O470dwavjzGwp-q44IMz34iGTJYof0tgh7fIckJBaXnAPyd08G_scBO4F3PtsOqwVjtZ3WGW-VoIrhZvOFtaj5XqI72yxr6Ax4PGKYQxre2Iz1kw"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://externalkeysdk.vault.azure.net/",
    "RandomSeed": "82831573"
  }
}
