{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1260156577/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1260156577/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1260156577/e99d57fc280d4395990c29e3f5ad9146",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "7BPBk-Lcgis7aryI8nVGXKmC-RIToch0xeTArbKyuASsY61qozIt5EGEAgXplE9ZNAPR4XpJBQ9rDwl-Ahuu8Rr22zbvSpZv4BrNz3I6banVvFhRXI5w6KcxS0XKTkAySuD1UfVyvSk_S9lK9lOQqOLeZpJ2gICU386XGUVBDfXBZNDjNbpPFBGCor9Lr26ZqL33HnyxFPgYzsSDsYvrqf4othnzjZZYA5j6teLD0ghBqb8O-7EMGj3-_HzpCbvAMbsSRniKQK4-qEWE33qtKB5Rbuf-nnwfsSilI1aEyAelFgId8dr5WTj0xqO1iIYRTJZqSdh1_25Hsahkr4bXXQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998152,
          "updated": 1692998152,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1260156577/e99d57fc280d4395990c29e3f5ad9146/encrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "Ic_OqIf663d_tHoaieUo6-9SgMiG4XskhMHwDMFfuc0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1260156577/e99d57fc280d4395990c29e3f5ad9146",
        "value": "rxqhaMul8Pptv750nUKwpepywHSYjRtVyaypYWzxVz9ZwTZiJ-0fOybwdkXvJNnq60gjXzhJ0a4clBtypKmhxCqBNoXvuWizjaFi-6H2m-XSOgbhffjmxEkSZiZYorTl4-HIWS-imm8OAgIhNTzLqMfeYqovaTeWxTQbp67UxvwAC93zMsMYcZcPDp19-3AuErnPiv7IAgOQdLTJNjZ540hNRFM7P0yjwhkCkckKr7QE-KczyyQi4dnXpdjvwk3D4Lwk72t57rlx0nAAJ5UInTQpKHbOQDvuTanIfE-GTkIverEsKXBZ9Omja3dWjeuo0M6P7hOx0XZ_Ulga2AXriA"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1260156577/e99d57fc280d4395990c29e3f5ad9146/decrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "rxqhaMul8Pptv750nUKwpepywHSYjRtVyaypYWzxVz9ZwTZiJ-0fOybwdkXvJNnq60gjXzhJ0a4clBtypKmhxCqBNoXvuWizjaFi-6H2m-XSOgbhffjmxEkSZiZYorTl4-HIWS-imm8OAgIhNTzLqMfeYqovaTeWxTQbp67UxvwAC93zMsMYcZcPDp19-3AuErnPiv7IAgOQdLTJNjZ540hNRFM7P0yjwhkCkckKr7QE-KczyyQi4dnXpdjvwk3D4Lwk72t57rlx0nAAJ5UInTQpKHbOQDvuTanIfE-GTkIverEsKXBZ9Omja3dWjeuo0M6P7hOx0XZ_Ulga2AXriA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1260156577/e99d57fc280d4395990c29e3f5ad9146",
        "value": "Ic_OqIf663d_tHoaieUo6-9SgMiG4XskhMHwDMFfuc0"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "132928254"
  }
}
