{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/204021372/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/204021372/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/204021372/22a198612f1243cfb438b2b75956e1be",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uVfeuZ3U_4Vgu6CV0TelBkr-2vOo4NYyZXzoRywOOMm_aP-N_d5rtBorlE1M4ZSv2sHSlT-ox9gxK4NEuon-V4T1Zs56wvCrzjszRcrqBkTcagOseHzo8dkEMwmJ2AQXPl-eFG2Wy4ztZLvjzzyXYpvvZkLzJUzr-USsIW9GQrKCa_Y7yLagldyfwvh5aA7reMW4b3IehoRvgo2VLitqUsRyByPivwzPXmG0OnEAym2Mm15RPiV-x6hwFZHKlhSrzbi-ZXOYnAYIbu21jP_BbISUW5P6p_tuJ_t1Hku3oI1yXC5any2B8J8SwRpeXMTsTpe2_LvllB4KGdtZPTAOoQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724201055,
          "updated": 1724201055,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/204021372/22a198612f1243cfb438b2b75956e1be/decrypt?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "gOvmGGkCgGCbxnifWA-vTA91JHQ4J4VYiNBL92f-3HMys1Mix3U8a-CsZ-l4OYgtYm1QgTPpFsyYhxQufsdkVZtPospJl6otH7Q52kwRoISPDiUFsPGLPchps0h7JEjdY8z_Q605f3D1rPhdVrGU4T9TLjRYnvtBRVwdN-iUd4WIRvBmRCSatALgiwnNzNccRoQILkaGx8ZimeU4l2kkRpacKOyvW0qMOSgtbfW94h0QgxO2BwFddSH0HnEJaosuRNSRhLHrbJK7E4bnMl8wYxsa6GPMxgR2JyFhHXGDVwmjZ4mzRofOAUnsr6yC6hF2EvPyHuBKHZdZv3AMIe5V3Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/204021372/22a198612f1243cfb438b2b75956e1be",
        "value": "jkm-OGJpKdCWC34x14gic0WcykDSlFETnJNnNgcNbTI"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "1091235742"
  }
}
