{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/720328819/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/720328819/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/720328819/825f68c7dc7747c9876aca3e1a0f47da",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4HauduJXN7Km_grkHKHA_Ams6hliE6yqCeZgNe5DJsGz6RXPkBGYauEoOKONM_BCJhY83xqKE05gqi4E52cuDulveMIPNxw8zmuDSje0gtcuc02AigL0CLu7wjIwl1rh6zidAgvCAk_fBoBCcNiJNTSXYU-YE6OwbXM9lx1a0tWrmkqO3HTfQelQRiWEw_se0E8dNnYJPFjLWJqHZ6Qkuwzcj3ZE2FIDYZzSIvpaWojn-QqjK9eegNrm825y-ZQKmRsm-blfmPU-CmF0PfmVi1qUWgkyw-X2lWz5JvNT0h5xuSzrNN30aBH_x604uNCB7tPl7IAaGq76RXgiapcReQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760481,
          "updated": 1750760481,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/720328819/encrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/720328819/825f68c7dc7747c9876aca3e1a0f47da",
        "value": "j7q08XubBV4xglEAqe2uwhkNx-gCuaFc9OVor3J7nUgorqR0S3fo2d1enPS1BA2iEr7QRwX06bkVGpzze5VoIOg1BHbVJFuLKRdM_CnXL1atDvMcauLEQwK_o547XiRnmNY0I0d86pveKFgX3k_dz5yeFSAQQfNKwgUTAZTxx8mSDtP9B2ONlQeXUEuPXwKTx-RKALcTmXq_q0SN2KuHzuc0pyhWg-IF98ks-YLajxq0B9rlrBCORtaaWf-pCfjA3hsO0QbJAhJLsuPmszLTz3pDaIrwpy3mU0_cTYZWmK253Y0pGU4Fzk-FfjxIOBWyR9Q2wxySzTSRg9WIHtaSNQ"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "213319714"
  }
}
