{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1840925850/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1840925850/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1840925850/70f429a1d6b94813b6135bacb29ee640",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tTeKAvkgDWsQeQTPsMxZxlMU2775R2Lkmh8vqf6Kl3n_Zi2Frdk0kAZ6mhaT9utPATdBGFkuTSByOZWC4S-PYLUD8rfh2SPHOwE6OHgf3OZs4ExwOrOFLLU74PfOQMIrO9oAb6P1aC6UjrhAe6s75AiAwIdFAzNXDgrIxfY_rmEXz278t3yt7KIt2rDRKF94WRxB6Rp3FzZKG3QlRkv5uVee2SaEG7RBPlHiCYMq651pqicjwoCDTI0adykuVJg8yMsdrK1Jr-eNMbKnXNovinQ1NHU6n7teAgYdVVEhKXHaROzFjswxISVG75wJ5Pl3tgEKKFITR7xoCt4qZJUoOQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758943552,
          "updated": 1758943552,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1840925850/70f429a1d6b94813b6135bacb29ee640/decrypt?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "jHNOT-PQva2WEVTPPQsaYT_l9gb8icS6V2w1y62z2bI-t8ZrinhyFI3FMMYLVpehvyDmBF-vLFZRop4thkjlIw-zpC8syDq9mwMbTmCkBIf6i17kknRwt4noyQnM-YpjXumaRagSeavRW6GwjdALAzxdngG_Ixn32g7VYwa9-ivQycX28R7lL46lTo0geUUVWXUNfSx7pW-3mFwTqZPZXRQtVe4CwK_Ed20NzRx6uxb0W1mT7T5ycCBCI030kKmJZdjol6WReotoFeXvUOoMhZ0Jxnu1lnvJRZ407YQZ6ZmNUAVTk6ZnjunkH4XjCsvNkxqb0Vi2LMFOnORbbGHMoA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1840925850/70f429a1d6b94813b6135bacb29ee640",
        "value": "jhQtHTYGe2Pn0bgtai1zUl1YMrWGQ6WeeGmKQW1Vx_w"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://t8c2fe6801937008f.vault.azure.net/",
    "RandomSeed": "1107033927"
  }
}
