{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2129628496/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2129628496/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2129628496/deb8fdfbee6a406cad54969575af6011",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "szy1IhF66CTbmiF8gXVWQpmo3VUWN3LLv7TaSLdZ7z0GguBtr3HfqSOUW2h_bl0gOxL2Js-HQtOuJsDRUbVUAbzk6zuXBW0U0290Pus6Dr8fS0GJ-oB2zW4nTU8AaHna7uCVbN0Kq3eMlFWkfw_cXk05hS-uoVZCOehqwmq89LsRF1mT_aCtBEAO6elrF1uMzxJIe1c7lS_JLIwkxQQtsW-12peaVAiX9H_4GEl25UnB3fpLnrz_hq_cDlj7PUj5IEkrMROr1OXFUWdT6rEHv3NAJmssYKvTu5FbCUQ23zH5H__QRE5oX-gkoHE0OzJwd3bmTygvRqwcl6fhiriMXQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998076,
          "updated": 1692998076,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2129628496/deb8fdfbee6a406cad54969575af6011/decrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "CBqkLXmVA3pGb5tGzs0gdOYyqN1umWGm0I1wNPfcoegeGysiUI58OEWI0KiKWpE_SiDbqSOSB6Gx2L1WgFqN4tt3dmg39A8ZEUEE0oXaTSeztjiuaivL45GMLrHXrW6s2q-17eNPP5wonEJaroIZyBuX-dnLQHmgqqO5jrEfrSUzztGPQrTBZYhpw1uRhOo6vA-jot6icB1-ViCfp8wuX6oExltbqS_T-X3i0ldSZSZnmA5dIqm0M90RHHFGQoNHNXd5WIMHuUWxWNUc9oGN2dL2JGzlkpM1IARpCVdRBhCT9HPh0noDF2iJwL5TlU_37QSzxnuG67cI9AWxUWUtIw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2129628496/deb8fdfbee6a406cad54969575af6011",
        "value": "wsabcWlm7_xK0rEmGPWdBPAi47W1vG0nNsUKIy3iIYg"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "652084432"
  }
}
