{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1941846537/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1941846537/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/1941846537/a87753bab5ed483c9f6e07ca5f9b1cb4",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "obf8HNruGNFIMr_QcU7UJ-3PN35HqhsPsrcevcjqlWPHvlbuPYtLI8svtFFayCfK3lg2rdeG_KKAzpUktROBbrWxumN1GoIJPsc2AZtytqkgS_Tc9ovohls1WKUm_Q6OlWT5Zt00XAE4c1IK74JnrYdCWXPIp_1pqZtY8nU_UVHRQOHx_zfZfYHpZxa7U6uhAIbeI1e1HVZ1mMJvtmw4xQibgCRRHrc_9V8JyZA-Cp9gzouvfghTQz4vUTVeZ5V8WpUhguI-RJencpa3Fxegk9MzVYRbP64tnsCqjP-ypPGrZzfQjMmC-GM8d2K2Ll5F_jT8FbjKYIShjMdck0IYCQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780403055,
          "updated": 1780403055,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1941846537/encrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://externalkeysdk.vault.azure.net/keys/1941846537/a87753bab5ed483c9f6e07ca5f9b1cb4",
        "value": "V7p8g6spu3CdtI-bydQNvzd83d2C8eBgNOhPyBXOqgr6KS5aYGqQ07vD6Byc1wxjPQFMbdJk9wlfUigMVrMHh0qY-klvQaaXj-EW3GqKnWmzkxTHyxMott33blwjhJdMDAoYbWcid2MVca74_4lO6LkkCHhAUYbM8SzZEaOpdRGYx-jSr6U8Xu7uMTjzfkqPF4_Jwiw7LI784S1ESwTdayewHcH1Tw12JNLK2ad2MJVAe2DZR7qELCK61z2IB4JEvNXZbPm6fmNUrlNHNtrC3wQleu-2H3QrVvAxL8pprWCQtLPsrHw5yO8KDd_wKFaMTtiBWz13bUaGpRSisdSpXA"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://externalkeysdk.vault.azure.net/",
    "RandomSeed": "1086040823"
  }
}
