{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1763712430/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1763712430/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/1763712430/3c84ef27dd8c417e9448148d1eacf04d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zEMyhKjz5kTFUVDEhbEtJCWm543t9DDBG7Du6ItKefq4h_c43osYIahe2ayaisE9BbkT8_-0scZG9G7tkhSfUMtJSQAAaRp0d3x7-r_yPfCLls2003Ov7PneTP0pBN1Bkl0JDSfcmDW58AlgfxEJAvpgdcG9rBYDVMI5iAviq21MkDCZvGCsA7jrXc4ptxaDZf4eG_WOFT3hoRMlrw1qoC2GcF6ThaVwWq3lVchLA5-tXb0U5TRLa8y8z-cp9SWRsRuXGfKfpJ2FUjcs9WmV-a83loo7pWJ6OF7jfUHUVJ1lehrnejrIh50MmXT5Dv6YffjPMp7USTc4rMWg6PT-cQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780403051,
          "updated": 1780403051,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1763712430/3c84ef27dd8c417e9448148d1eacf04d?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "[...]
