{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1018265916/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1018265916/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/1018265916/bc5cd907864f40978616d6d4361da50d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vK0Kz_5zgAXtFSYNuWNvFbpbCDuaSM2RRaDxkc2501hHGWC_GYekW3ai8tjNCiGlTh9J1wIWpIdk5OeHOy67ZPuByXWJWx-EuK-FychA34wmoGsgO0YU2CMEhyNZMzlp2Ffg56CkCsm-ksRd_mNMyLxvqn_pqTBhaAnAAu4pZcG3SwgFG99QMzxF5Zw710aLAp6dOSgNZPkSJNKBGAkY_biakPinSNakPYJIWnykGb58SZJZ5wRdyBCbWh9LFADvUaER3PwZgdp9r_wS8tTk5OtRPBxN34EEZwBbDo0_ppQVh5YNmDrxXWle3u-Zp2PNhbwVN6H3hmhOOtrSs0di7Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781139963,
          "updated": 1781139963,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1018265916/encrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://joncarde-kv.vault.azure.net/keys/1018265916/bc5cd907864f40978616d6d4361da50d",
        "value": "Gw7xwTQKxDy3pS-NUWg88ZnMaisYqTgYJHTccoY7ot-AHUaDPVnQAKIgqZk23ozRbOoiqVEnfUWWYOKK-wvYXp2swEduy08U-cEUG1N1n_PWeYFIeBRge7GQsNIC5-eC0GDhDaO1eJ1R3rPhH3GY9wlr2-4sNcKv1OfhYjq5CownuGw2HhesnWMpgTlSscwhV3k80VjGqToCukeQsnV5iR6K56MbJI_527rWMi_YCjQ6hmI_gb9qaAfOBL7cp8Of1DTOrrEuEtPlpwQ2UQhWpr3hNYpWFhrAJ67g8JvhFbnR_J1D56Lh7HIaExE9BezBCXB-qqQR-OtlQR2fToQdeg"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://joncarde-kv.vault.azure.net/",
    "RandomSeed": "1114158916"
  }
}
