{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1465978309/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1465978309/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1465978309/96e981958c0147e39db1d04d1487633e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "7AjADEH3pkVDbHIv3hQLN0kTHpIDH94Us62_pGScUUPP98dOFtZ2ezQG68yoD4YC9AvYFBhZcVJXnK6P-N7DECKHSKAMxOoLCIC_f2Zl-QcFXZdUUn5YEyUiGRs1y2DenF6TQrL76hrqTzQtVrNP7TmX8o5jW4R0tssvzmoYZlIicARhlEeVegcMVUgQZk8AbbSvAS_XFS4VLv34Tf3JCoEyF3qprFzchh-y9Fn0JlZd-CTHKJNtC8gvcUARfuGCGiNYYt921mKTjbcmoLxjYzghJRZNTMFs8aCPamOR_ftT6AmbFukmG1d-mY_tI_xrjyazLB3TMDI0jMaGxGcweQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758944638,
          "updated": 1758944638,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1465978309/96e981958c0147e39db1d04d1487633e/encrypt?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "bA_IdnD8l0t3ZmGZc_oFUG89rRG9QQG67KE8lS3Q_0w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1465978309/96e981958c0147e39db1d04d1487633e",
        "value": "T7Wp-TT6FJvKbHeTxXLcvXCmwGz3rZcxNTFJk4T8ImE9Ou0PqS_8iErfpeZ_lzNBR1BNw0CTeMZsnBnWWhZPQWwzDet6SU_gbTA6ubDwH9Ff7WLOTNh_fDL6pSU0rtucWlc5H6HTmWlJ9mwTSORfl5nZKDrWUGcRISQ7CbO[...]
