{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/701518528/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/701518528/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/701518528/7ec6f03ec13d4d1587421c3e0cbfa129",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "3Wt0PR8xTt3LOD57c-3O4QWH4Y06nx1J5mEOXikEG-WlGj-4THYBda4UU9zJQNu57sxL3vp8v0KvaOgTm9p5bdO-OVhsqvflW91b9UcmNhQZfWO97EkyS10LkXCCZ7NJ6CP2YPHcgWNZ8FJNF0W01s82KszqeIBGY-Ic69YTa2K_fRWTRQIBGLMrvVT0oTHekSNs18Mt4fAz7NbTX0SrzCt00lLvRvQsNWYYPyBAob2Mc4RLfqIQE0W_66YUPvFBKii5qVhb15cYCG0yoxu-knJpMgiB_EUZOJd-cCVlJEoVlbodRnz6tMDeA0sZ7x1oHWH2jveltxENHt7nCJeXXQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929726,
          "updated": 1742929726,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/701518528/7ec6f03ec13d4d1587421c3e0cbfa129/decrypt?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "K_4V-og8X1OqsTZQz6hIiqvmXeai-d220gSGi4ZSN9Pk09XgpkC9yTQH-3M-oL2NiE5INmh2j6hArmuqqJUc7pV7PKS775RNw4iS9FQSsoVQNzVJkgVYRlgWP8RyR-Zn1DmoHYiHkOevWLU_6IUzz9VhC6ZE7laVQg6ocvEW-94fppwolWxdFZJ05E2c0xcF6t4YTylThouUxF-tICPEO0yNJiEL7Uy2aXPc1AcMbhV94QYZy2zq17xj60qz3Y28DnfnLOxlY9HLQbBxZasQr4Vdm1nurM2lI6WoBABLciLzxjmrXOhFJlHqniP5KH_2OB0V9An9gflP7-2KyZ3b_A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/701518528/7ec6f03ec13d4d1587421c3e0cbfa129",
        "value": "xhD-owssFZvkoaBEKOAo3rVO7aGb24clayxpnbxCdT0"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "439732751"
  }
}
