{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1970592516/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1970592516/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1970592516/f91b913aa4fd49c9bc297fa5556fa927",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "83uAvLBZwmmwJvkv4wzGPco-PaRSxydTtKRVKPo5eThXinKTLywN63Ke_zNljMx1yNkU9quUioceHRhmumZ4Mvx0ZUWGUAct7h5WPkMLEeMDIVg7wX3LWiJYxsj4nN8Shlool6ST7MQ514gGG8z34becK6UQOVfcZkklQBcYCNV1rGeZ9tE3FDkILyBEdvhKL9YmMgLu-nFyOdSRszb-ki3boq3YZJp2M13wAXc8BQPan_QxY-3knJWdBcaYZfZf0exJFqZAhJjsxVRUedGBnomhN7okW5n5FSvs0GBbh0J7-inNEacB9oyFUowheg6tCWozyjwaoHSKBXgh15WF2Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707529777,
          "updated": 1707529777,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1970592516/f91b913aa4fd49c9bc297fa5556fa927/encrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "f1ZrkNtqNyz6E9EBW0sJ4jW6RgYyDfcg5hUO8RaLZ-8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1970592516/f91b913aa4fd49c9bc297fa5556fa927",
        "value": "oPqArpLBPFLD4ZVVnNY7VJuTY5obv_vgfVQ376Ul4WGqltd6Ot7ku3wdSQ4tDQ70DzxtlwQp7Ha5GnquJWasOIOO-g9v3lfcUeRPA0Fc7lj-YYZjlncXj9P3W2wMR10y9xzJE4crtrjSU4O4skpPDGt_JGsx5KKf0nwky0nePoKNrClFUb2wc1QrcmmyAWuHnl3x1wYY9uCxFq8zKsU8MR2W1QefP8tModgvAsJZTgplT9QQUBFvUSDy6hESdQweLaODLOzIAWTpI5Smn-kiptGi-h-pi-o-OV36mISjUwIxAaNDrA7f0asVFSk_0rBBEzHHthL50fC2wIld2Wd0Jg"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1970592516/f91b913aa4fd49c9bc297fa5556fa927/decrypt?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "oPqArpLBPFLD4ZVVnNY7VJuTY5obv_vgfVQ376Ul4WGqltd6Ot7ku3wdSQ4tDQ70DzxtlwQp7Ha5GnquJWasOIOO-g9v3lfcUeRPA0Fc7lj-YYZjlncXj9P3W2wMR10y9xzJE4crtrjSU4O4skpPDGt_JGsx5KKf0nwky0nePoKNrClFUb2wc1QrcmmyAWuHnl3x1wYY9uCxFq8zKsU8MR2W1QefP8tModgvAsJZTgplT9QQUBFvUSDy6hESdQweLaODLOzIAWTpI5Smn-kiptGi-h-pi-o-OV36mISjUwIxAaNDrA7f0asVFSk_0rBBEzHHthL50fC2wIld2Wd0Jg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1970592516/f91b913aa4fd49c9bc297fa5556fa927",
        "value": "f1ZrkNtqNyz6E9EBW0sJ4jW6RgYyDfcg5hUO8RaLZ-8"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "99119311"
  }
}
