{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/644271429/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/644271429/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/644271429/189fb2b698b94e6b8bd0310b6f9b6ef2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ttPRE0X11wB6rkG4yYJFktpFutt7PEk1xMF-r_Oabj9UK1vacJx2wVIYu0Qc9AA-2TVgLrr9T4daSs-Zamv5OlNxRc9AS0EAd0LR_UAo1sbPHfDqkwtV1agDHIkcNtEgvwyu7CZ5d_ai1fvO7tg6SNitSl9fKLMJgRYSY_QZSF3tBdgVBNTYGP9FJIOI1VsGus6dgLM1YOAwJ4pWQu4DppoupEtAo15FmgSQx_war3SWb9iAWPc0DmtHRf0qkrx9V_tKtqY70SXu4k0h8XTdsxSAW-faQBEIgXYODcZ5_p93P3I4tnH3PFT_yzF4scfbVK-TQZsys-Npa6j48nrB9Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759312423,
          "updated": 1759312423,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/644271429/189fb2b698b94e6b8bd0310b6f9b6ef2/encrypt?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "c54x6ANVDiMC5ewp1bNWIV0XkwtlIu6f_YWJ9F7jqRk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t282557e4338dc910.vault.azure.net/keys/644271429/189fb2b698b94e6b8bd0310b6f9b6ef2",
        "value": "YabGurgc7bKQ1GBNl15LgkIQJtWXERkvE3kVmombEq5t8wJ0yOUVM6SbiG7DUNSqFsLnGHSlnyVo8vjaZxZkIWDzMdwz6cEy2b0HaDHzZ5Y4MWmbzmkI25wqQzhM4Bfg-7YkR_nmMRrAJWDPRLXacXh4yOAzf2Q5sW2uXBus[...]
