{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1390786130/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1390786130/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1390786130/233de3b572f84eb6beb5753bedcfff1c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vRwTJocESkE3bnhbQRtBkVX2T5g6bvGtttRrfdfVjM8rwVIBJnbQqBbzWILW0RFvCtWBFwd82nlrAt8SVUUtoXBgAcUlU_SMDsyhDRUjpQU__1ce-B2dSqU6n5ai3zh-lGqgijM5f6ce8AQ04mWWCY0vRkNvy_ote-QoGJTUEvrVjQmNNvx6DNSlBQojMua179sh7IVpyGbBkjQ0cnym4BYL6dfdcgqicMxHc2f42o21krilc4cjLb2iXJnoWrHHeUCpfrjY1Sg9G6Trhxxq18BipAc4zE6L6Yelat3vTnEqy70QwNCoWL-y4ipCoW2gnb_ZBtmH1USoznqBtRgRKQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756942736,
          "updated": 1756942736,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1390786130/233de3b572f84eb6beb5753bedcfff1c?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid"[...]
