{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1509520042/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1509520042/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1509520042/e0bec79df36b485caa3fe7f87cf3efab",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yJpdSTmABanAwVrethgu5CGBnfCwZbf2RhGy-EgceCxHuShBQ55HN3dUD-jb5NpZ8CCC4Vufgeg-cWT1tCe4-LNey5rubPwuYG4hmxgU-Vo3W9Ya128GIJfqNYJQXxr-tXIkEj8-OyKOEdHRtZxkhDwH2lcllX6lWTx_7qN_qha7qZ-U6RrKEoS0Ryb1uopzSfYlGnjogTWWNgUp9u69rfL-nWvU7Kx2iZEK-qgBp4HhFnkfyv2r00cq6jbyQ8Mvut61xUC8YGKP7kcbFSBa7atNsydpkY2WuYx4iUd2Ok4hPeJloQFxIRge2rpEI7pPihrNJ7CQEANrVKSWwB8tpQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724200331,
          "updated": 1724200331,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1509520042/e0bec79df36b485caa3fe7f87cf3efab/decrypt?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "PSdS64zh-vcnUT4ZDDP0oyoisA6HoYO_ZjuKoM3P9BuZFl78tSEZyH7dMjbbBwBliqUVTI_9jhV0AwRek_z0UlcvN4090H4zfyDxlJicxX8k4xmLg6TShsrVnS6XPRruAC4Z1sEH93I0fx-n4pFbkbHyEHmFsZH1cPnWFU4-BB9L60hx-vkdGrZxn9LBUFn5vELUj_KJkgKKRcDL1bNraLQOsckZ-HWkwXNAUfaMy8VbCm7CbCtEB-FtLLG-1O_iJNAMBhg2LuNwB902xOxcagkqnbGZteKNp_T_JLVoNPI1lplebDpXf_xi2RYRgMcx3-60NO7UnLD9SJ4jxKIbgg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1509520042/e0bec79df36b485caa3fe7f87cf3efab",
        "value": "7wR0Lo15HtlR-MYk-GUh6QrJSAqPCN8ZqS8eRpiF3Xw"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "1212102972"
  }
}
