{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/305786789/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/305786789/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/305786789/a9013dc4a3d34f0e89611bd2a8aec61f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vjnx02QNTB4muKekAIpDHdj0tf5-6kK7oG0-nQufzU1Ca3v4CVEi6UTcqLHRcr8VW6UUEo2qCWpnFuuUQjOTUM5FZKnAHYOtj8qR3enYpVyXsO_LCE89Jz0tBTc-0uu4xuQNPlmnoJrm-GjS0t_N-ccDGCStfIDlHFArOCJ0AbULTwUWFylckJ12m4fJ2Xv9DkTWkOetZywM0qmm6BtVsPOGah2MD7CqDQ-1fdvwfs-xByocRh3jRYeF6boldu-F5Vhtkp4DJ2mHeS6X9JUh9tg6aoeXVqDEV7KLPOoqJmcVtU93DzuhC0l6gdIm8JlCmhGkHtAG_SqwOkZDSFFuYQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750759961,
          "updated": 1750759961,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/305786789/a9013dc4a3d34f0e89611bd2a8aec61f/decrypt?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "SyCy3XQHElw_D_4EYogP4pBUJJhrbl7UwR8KinjX-7Au4UeCCDE7rK7uY1aAaJK-vXoIpLv39Xu9jxVkOCYk6TD_YvZU92kNpqGVbi3Z65PimLx3lIyrY7N7MdgLRT4YxQI2Nplnw7DGkZf2mqsPJunPw7v46plM0s5sMs31f1lfHpl68p-pIr1pFld4HPoHvGRkTI5cqo9bMflxBRtHyg8yn-z3OkOMiYkCIhDa0uVnbU9HLK7K-oTdSbsyPTjq29CQm5N2ifPKsdERIbB73K6WduS8lVzM4F_8a6gMVrxa87piorlM4fjqVgu_E3LIqs-8kMy7jeFjsILraNuVWA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/305786789/a9013dc4a3d34f0e89611bd2a8aec61f",
        "value": "2SSXSfJ_IT2HGt54TC-3aShG-mdZeoKVvjcLtHdlp6c"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "326479703"
  }
}
