{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/262518263/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/262518263/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/262518263/948471743a294d3b89accfa3dedd3c70",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "po9lQnPQq3Kp4Qh0PhwNiz9j6V4uk9KLevBMXrUrUa3PWehnO3uUw95Td-zQKNQv1UMnQO4bvRWA57TPH6y9P4r7M3AS5C0Fl81CfIhc3Ty9LPA7E7R3FWY5ANGTvxTLTwncrTRfTSWPLrReTN0mUd4u-hAv95btYMFloMI8hx0Ai8s5rli4w__dkTU0dEGbcv4BimhPww1CmR54Q6T3E5rqqjA9KUi7TiEva8dVYA2y1Tajtw-394Crp5AcqA3UL3_nwFQQSMK7yWpuhBBbdIjPup780RjbayepG7qGrk7CxgKsZs2kkXEFWPRf7uls3weP3eqHODnB1_bW9MJ8wQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780402636,
          "updated": 1780402636,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/262518263/948471743a294d3b89accfa3dedd3c70/encrypt?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "x_BZpSkLnMc-r6_tpe1CFPmtIKWKAXOtAE99G7zQCns"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://externalkeysdk.vault.azure.net/keys/262518263/948471743a294d3b89accfa3dedd3c70",
        "value": "mv-fbaozlW7qWwKXaUsq6R93ff-LA7F1iaXKfy1V7m1h4ROLom88frlzOQShpv5lU4A3jzp5cXeFZqw2wt4i9KOdESLDgs7i8Z9huy3i9UNdvxYggscRiIYJj7SHn3NkEXZnO4FhgeHz3DhUN5yqDQbN7NFiSBivJ2cxqmthEzY[...]
