{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/881401968/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/881401968/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/881401968/d93f542464f145e8a56f49827acd2612",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y2AZeoPUQm0q3CH3BiEtTNkRbBL5Ur28XriIVpQTyle_U95aAj1OAC5Tk3utDbC6CYYwaxhxMB9_060K7EfKIkJH5qgdlpk8dbEO1mQHIyhXUNia63-3D_me7xktYCVLqZZab1FAubD2RFQwmMQI-1KCGRcLL49PUvsKupsUBTSbznya_j6SjSsSEXSKaDnSOGlRHrJkXa2WvJ8IzU3gUEoZLdH_HfWE85MeqlwzQPAfhmHXsxTcKNukj8mboPEvfScL1R6y6-WUET-NfkWuBn9vp4A_49sKFzK0g0jRcFtrQzB64-0Hc8Sodq4BlzFMYD9cYMvNuXYg8zCLLRbgwQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998150,
          "updated": 1692998150,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/881401968/encrypt?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "QSBzaW5nbGUgYmxvY2sgb2YgcGxhaW50ZXh0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/881401968/d93f542464f145e8a56f49827acd2612",
        "value": "EFBb1O2gRIiTTaYsdaSm6GYQpCqVfTiFK9DtVAgSh8y3sykQc7blAZrLqq5Dl8VdSLkvKL1uroIt0X588m5S0HngAN4NApCoO0nOFOnUIfFp_iFmAKZF3vp8hLXXKJ6zltDBq_NkZmQXOyN65UG-CxDK1z5-wvONWO_WdahcbpIFyqB4a2XqTGa40OMlWLnfyrQBHDekdPtE8-HMrzZngAWciQb972iE7W_fHd_BmdYsI8rknVQcIW5quO8F53PYMzKLRSH_9fR8jTS0lyhZs9PMNUOIbgBOOCeoj345BQv52cWnyW7JDkQgJfSZm9TiiB-5d_WUeOB_dRzjsNr7sQ"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "2005228859"
  }
}
