{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1047385414/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1047385414/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/1047385414/9626504e6da64f8b8132c79a18c3b570",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "p55jcEOr6myDRCAONJLseP2nWvyASeY_o4P2Z0igtzaN370sOG9cgroBkIhSdsusSkFaWz3fULaLpriPgdNCjYQu1nhoXFRqy4bePweeXg7vif7FifWl5KS-pU69u_FOEUHRND3zRh7lD2YRTHpIviaC4CUsrL6pCiwgBU_mG64L1yef5fbahboCa9_Jg3BxAxlnqT8v7bvZHgU5hf2n0-gEENvEDLkkKQcqAlU2BeRqTV1fuGSDaywY3HrCfI9cHavH0KO7SQzxuLUB4Ae2kKU2tU85e1tb18kfP34yBF3TyVL69gYMjETftBtF8fCPhvXMc6yLy8KCro9zAL1nRQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759311390,
          "updated": 1759311390,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1047385414/9626504e6da64f8b8132c79a18c3b570/decrypt?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "R29GkDL8PYnlW0DkWsjDO75fQqXk5IpoL3uxRRaDyFh5WxrrBP43f44fB-bXV34x6jbRIdVjfSN5HfSPDwGmsp-DmnxiQQKAir8v2JtiQewSQerzFK1YNXpLOKrkQpdXUq0nmvx4LA9gP19ErBFx5hvJDAMSI_xrlpDPapi-ZJg_8sDb3B8Ns02KzqAryMkqyO6sRYa9d3BJ12v1qWHqdI-FJSQSCOXEx-133cCuGqPTEWLfNkTPqX-trN-UwK4Qqx3sQqURwr7FKqyqmrpsX88jYNlhA3Aay0Rj8t-e2i2IdxhiCrBI_1_ANjWmQzj6tSTBuelR68o3PNLxlclMPw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t282557e4338dc910.vault.azure.net/keys/1047385414/9626504e6da64f8b8132c79a18c3b570",
        "value": "NUu1G7o-RfdHwlxvAekcsBBgWfz9grVCVDhqP8wbZK0"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://t282557e4338dc910.vault.azure.net/",
    "RandomSeed": "655102093"
  }
}
