{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1621485313/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1621485313/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/1621485313/15c7a9b6c88642ed8ae57c0bc37f7216",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tjOkedr0SfxsT3_shrdrBanrIcNcVm6uu2zl1AKPqEm0q0IhM-5sNUW7Jspa8nZzb7egFeoKN4iQ-Szx3FrsWQJxKlmR5713Ai4-uqbj0PQO1eovFaHF6ViGCzMWks-yVA7Gvd6H0uAP_yPoVfGK8tWleQxRUEBD3nJVuP1KC5vfg-jvi7HQB9iHoOKnpDZ4FBwB5WH5unjS7JVIXHQGFt8P46BfdxQZaymeM3YiSEaMz3JKCBu-ZrEzEwApy4Xa7vvSOT-NTRi5LU8isNkp9e1RSG-i3JmBTN5m5HODBYLQBju9u1BEe3CBwTARD9877atOyv5saUSVrIefAADvRQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781139757,
          "updated": 1781139757,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1621485313/15c7a9b6c88642ed8ae57c0bc37f7216/encrypt?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "IQt9eAQ3RrnVja0DLCKa1_ncsdA6XDtrm3W1yxfdt1Y"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://joncarde-kv.vault.azure.net/keys/1621485313/15c7a9b6c88642ed8ae57c0bc37f7216",
        "value": "MzFypVL-q0F3xGMfpgzxnCGhFX0yQPFzzEUU-DBK1xHEaBOelYfhDNW9l6Vg6UqmWlbtSZZER8z3IpViNxreQWEWjzFavFz_dwtps2jM7pBhYGILc9km1sH-49zSSkwu0WAzQgHt5uYbj9JKppiR4wVZLSpz66el74SS9fq6Ym8KW[...]
