{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1138333297/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1138333297/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/1138333297/6336d4ba2f1e4840add48d5260513857",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qT2TxvdGdL3PaZK-Dat2QBgrj3l1TOW6Op1BaJwt9Og27jX1XmwWsd9v8r0zL183Y9sBfrkWKdXEs7MM47SEXTVYXnVIVIOmsToc9fR8S77aRmmqRUjWCZw5YQX4AEO3txHPDIWZfbura3Ah656YvbLYI55xOCnkA8bF_XewAZarBE2-D0ZqYEIpjbEbFCB-apzMb5Var42Ea1IO7rRBE6TgsHTrAapjZ96ZSYmGpT04vWs-sNj88Sc8ZsQdvU26mVwe4Sz5EBL7rkLekvkwJuohBZkm6Igi7Qt3PeWxU_OFwHxqU6e3sL3pYVJQGFCn2jNRiDWOJBbHmepRgixqKQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781139960,
          "updated": 1781139960,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1138333297/6336d4ba2f1e4840add48d5260513857?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {[...]
