{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/701644158/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/701644158/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/701644158/f0ddadbbd12549328bb826cbd940e055",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yAJ-_LWln_OmRZhY1BCFZc6Q3qsagZBxfIiEeUx9z4jPk7PrLOFQKLsmbVlf_aeYxdmona84rCuTxvSzvZ4VU7CCskWdJeHFlTNZo6z9DxN4s9_lXgvy2UMkdxByYTYkeEOvXkJJdMMByJ2WDRcTj0tH8CvpsiYeDhUe4LdxuDxaHFnRyeFfTDOgj8n2NIu8IfH6sndjqVW8P_NbeB-OuMdv1pI42Fs6dtGagNmloEPL3BkBFN7B_gtK09iSzBfSj2oSggQQHPZlZYlsPqNGLJOmpGVEIQwxP3mWi6IF3pQhJ37rWF9qI6Qhu_9ktlCX7s3xNzITIU6Zb96HOPFodQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756418940,
          "updated": 1756418940,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/701644158/f0ddadbbd12549328bb826cbd940e055/decrypt?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "T_v8694QcJ-pNCbkloI4jcsoWCjUThmztiF81aOmx867h5flpC0Qe6S8-TMuviNju7kqRtz-zW1DEOfQ3MHlPRi7kGXeJ-ato_42ZZM6lgPEo-HR4tGXdyqRKiDE5--kGZa0mYu3iwofMap9j2-Cn9ncfXLL7GmcsIxEcV5e4ORLKUE7pXn694C5H8ZPcL7TxoI8B1kkTING_BbKKGZDfUJGxoAQkqZ0KnHUiN-6rjaYZq9EoWZoMRYVnwS-OB9RxzTpPNx-Mp3QXW6OfkqB5oCHxArlhQqD0dVlre_ggjhX2P_kMrtktrFBYqnDbf5xzKhhNUdhmqseDSn2oLj7_w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/701644158/f0ddadbbd12549328bb826cbd940e055",
        "value": "h5zp-dA3RT16w1tgUxsckwLuIlMoEyO70OwG90uHUXw"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tc01f7546f76b53e9.vault.azure.net/",
    "RandomSeed": "1583726355"
  }
}
