{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1865516448?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1865516448?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "3qWqnWJRvYQkODreb5HqN4bb9kR5QHzCtRpKMGZT8x0",
          "y": "2mM9QbuMng4Zd4U711jFPzBow-DpEXmbj3vq8KLqWzA",
          "d": "zHyDWdsCxAeN5BsXxxuWgw81KZZd4ITdXE7IlevOh0U"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/1865516448/b49bffee6a2c4a9487f7c1f907a183e2",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "3qWqnWJRvYQkODreb5HqN4bb9kR5QHzCtRpKMGZT8x0",
          "y": "2mM9QbuMng4Zd4U711jFPzBow-DpEXmbj3vq8KLqWzA"
        },
        "attributes": {
          "enabled": true,
          "created": 1759312617,
          "updated": 1759312617,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1865516448/b49bffee6a2c4a9487f7c1f907a183e2/verify?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "00kWWqRLxg-BwSfWR_TOjXI967Bj4iHHBr3O9yZW850",
        "value": "EJrlDSKwMg-4cp5y1sHlI9rZE15EXifFCkPKXm-qgkSgDk4z8RvI14F_41y1sAVSKDjhtRDPYDHD_c6WYpkJ5w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://t282557e4338dc910.vault.azure.net/",
    "RandomSeed": "325310521"
  }
}
