{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1622094854?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1622094854?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "gfzChEtHjS3QlbCv7g-F2xyVWlO7Wxbfu0YIkW4ZCn0",
          "y": "izf2tEO858tq1Cr0nA4SDtu1XHjzbeITbskqNYTKUGg",
          "d": "qcceGC-IBUE6qN_JKypV-U84SZqPcK4CptVG6PD7tHI"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1622094854/4e398adf5dce41c29689048ad927fb24",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "gfzChEtHjS3QlbCv7g-F2xyVWlO7Wxbfu0YIkW4ZCn0",
          "y": "izf2tEO858tq1Cr0nA4SDtu1XHjzbeITbskqNYTKUGg"
        },
        "attributes": {
          "enabled": true,
          "created": 1758944872,
          "updated": 1758944872,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1622094854/4e398adf5dce41c29689048ad927fb24/verify?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "aUpFuXj1ahnAIuLXYcY5MvmkvpRzwokGUMQbul7qIL8",
        "value": "UHRCTdD--Pnyequyon1FDZnrjcz8oq6b-Zqxx-UhpbmMaFlV1ER1tJ7PfU5nwsdCfHAOcTLeRVKli1Y7vMWgyw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://t8c2fe6801937008f.vault.azure.net/",
    "RandomSeed": "342408894"
  }
}
