{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/194227692?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/194227692?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "afZ3c-uFPRAlLlHbYzVgtVQVhQ2B5-vvsdDPIULuHtwgwKKaByuiig0PMeFy6G5S",
          "y": "_1VHtbG-MoH1Vw_96Yaa8glC_zhySVYMrHCjVi5W5s3EIVrmeDgCvbAnqPssWD3_",
          "d": "ZlsWEsoOxID4hNKkRruXP6oA8bxxVr9odyKJdoQgm9P9PwATHJ-AzfNqb8f7EJYf"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/194227692/be52d6f924b941c8831dab769e839570",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "afZ3c-uFPRAlLlHbYzVgtVQVhQ2B5-vvsdDPIULuHtwgwKKaByuiig0PMeFy6G5S",
          "y": "_1VHtbG-MoH1Vw_96Yaa8glC_zhySVYMrHCjVi5W5s3EIVrmeDgCvbAnqPssWD3_"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760051,
          "updated": 1750760051,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/194227692/be52d6f924b941c8831dab769e839570/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "gE75cznjp7UHEvDAQHbUdFLOT5lohqw_ghNBdYPgng2FTngWZ62lm1_YxU9b02nD",
        "value": "r2ft9fhrszzNhvQJJoBcbecZd-f5sJyPqu4tvsK9xK09nTAhctZqOjC7uT0Zi8z0bmgporQRgiApdsz62O6TmEn-xzPUZvqULL0vHlSRZWb4FKB3Y2gnAqOxzqeX7l5i"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "158672821"
  }
}
