{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/208193127?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/208193127?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "QEUHpq_Sliv12lJZdfNz0dYfSD37Q0ZcqvU9Cy-auZh1T7yONSl2qplYD6j0LxfS",
          "y": "BK9AoOaDKYveC0aJWLWk-jbBgipt8t5bJminOYUziAGn8PfPcwzaFgL2i-XltNOX",
          "d": "sGlFDH1ZeNHy_3_wCvod-7HTCcR8mkatPIYTBBo_i2XasJsim2qGafIp303AuFaV"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/208193127/072b7772a09c40f68f4b71f24cbfe652",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "QEUHpq_Sliv12lJZdfNz0dYfSD37Q0ZcqvU9Cy-auZh1T7yONSl2qplYD6j0LxfS",
          "y": "BK9AoOaDKYveC0aJWLWk-jbBgipt8t5bJminOYUziAGn8PfPcwzaFgL2i-XltNOX"
        },
        "attributes": {
          "enabled": true,
          "created": 1781139801,
          "updated": 1781139801,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/208193127/072b7772a09c40f68f4b71f24cbfe652/verify?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "aWCuFNzdZwnV8jxsGmFWF3YoWg3q9uG_WsUUD9o8GuDwKZ75U47m8_tvujtr9_IB",
        "value": "hTL9R4DNsC5RE4DOFETidAHNhYtnR3UI2J2J1Jb2CKGl6HyjcPdc8hhjUpF4gUHe6akaCFMUEu6DIcENyaw7Mi8GpN0BkOzT3oUq0lawThHL331W7JvWx0T5OuYBHaIp"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://joncarde-kv.vault.azure.net/",
    "RandomSeed": "1599608887"
  }
}
