{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1821415907?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1821415907?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "ta8P8ZGAE6D_cHDba4YQX2i596Xh_jX263H4gcRUyDg",
          "y": "IaA-NRXUlWjpsePvhRnVCaFQdKhzM61iZFOf-2U5OQk",
          "d": "VhrVlXWWo52uKGFhKuAiylXns3mc0nMZhOtJ9l6FfbU"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1821415907/f0fc762298eb4eab8a0516f458789a39",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "ta8P8ZGAE6D_cHDba4YQX2i596Xh_jX263H4gcRUyDg",
          "y": "IaA-NRXUlWjpsePvhRnVCaFQdKhzM61iZFOf-2U5OQk"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998082,
          "updated": 1692998082,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1821415907/f0fc762298eb4eab8a0516f458789a39/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "CURBOQyam6nxqbUVay4zUzKKA9KsGee2czBpfIFn7d4",
        "value": "VsRO5wUtYlkjltIW1Opa8iyXG96pTTbVLINarE-iYNS4ZFu8_CwbON7Jrz8G27RUO2mM0t_I1hb7lgzlg1haZQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1501305727"
  }
}
