{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1903813667?api-version=7.6-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1903813667?api-version=7.6-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ABbqHo047mkJYvZEdb5PCN0yUup3xs9KN9Z59xummXNawvj09F8TY4_zvKL3H2WXuLEb49r4TH_JU6xpn3JC1JpA",
          "y": "AJdCjKSj-UHsTthSn3WTRxH0EWK_yecWWoYksxtKAkcSViBTnojLta4r9feLD8bgl0UKCce3iV-BaAWY51B6l8QJ",
          "d": "ATstPPZAmJLUqhY2juD1FwFfVm2KBXJ-WDIheImyYJMUFgT_WSOB4EaJtt8Mv54Q6nUty-4A2X4R-tKEp2bZAlEF"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1903813667/e2d2f6ac775d4973a05364b5a9ce7d7c",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ABbqHo047mkJYvZEdb5PCN0yUup3xs9KN9Z59xummXNawvj09F8TY4_zvKL3H2WXuLEb49r4TH_JU6xpn3JC1JpA",
          "y": "AJdCjKSj-UHsTthSn3WTRxH0EWK_yecWWoYksxtKAkcSViBTnojLta4r9feLD8bgl0UKCce3iV-BaAWY51B6l8QJ"
        },
        "attributes": {
          "enabled": true,
          "created": 1724200451,
          "updated": 1724200451,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1903813667/e2d2f6ac775d4973a05364b5a9ce7d7c/verify?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "ZPjJybOi3f7DGYYvbRbEbi8slZtug2gl1HOFjoFcurCxN2VuYferrJcgxV0nrn8CrEbK9Dtl85HTwjEra1oZrg",
        "value": "AVLl4pIYkjPuYwFaHSJlhIh_8hwJpApOdS_Ww8EwI9Ifpt0jBkjaMHgutdGF9Bj318QHh1i4quMytGNPzgLHBeVNAHmy2_eMDNsB3nuTy6jYR2k3PyVOgXON9nak9jHzyT2Yq95GJhuDNPhTYWGDo11c9iwAvOescCoAXjG8poJJmOFU"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "702891876"
  }
}
