{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1869849472?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1869849472?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "ZIU8DPK0bPJ59FSElTqwQZdtfyWP424N7tOzYM41P0Mo8TfmeenVKlRpMfACZNdw",
          "y": "VgBTfdZs-5W4TZoY33z7nKGoUIYNVIFcwsPrnipCtKQNymbaW1hu9YPWcYabdH-_",
          "d": "s4DxyN08sLmk2jJKx7A7Bo73eJUBbk5uvm4ll0Xqu_wBIAwZDv97sj-Z6VDwAH79"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1869849472/d6ab0c99cf0d4655b57719652860ac44",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "ZIU8DPK0bPJ59FSElTqwQZdtfyWP424N7tOzYM41P0Mo8TfmeenVKlRpMfACZNdw",
          "y": "VgBTfdZs-5W4TZoY33z7nKGoUIYNVIFcwsPrnipCtKQNymbaW1hu9YPWcYabdH-_"
        },
        "attributes": {
          "enabled": true,
          "created": 1742932598,
          "updated": 1742932598,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1869849472/d6ab0c99cf0d4655b57719652860ac44/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "HprSvZdkfuNY3n7Zp9gokv-82l6WzWbZP88n6LO_rMHhB0RhavTRRYwXWy2h5Pno",
        "value": "byRIOTT509tk37z2aeacTsPx-CpUzhkRksRUG_UMjfMoElS3Zw7Co4I34RmJqTXLs6B1_kgMj3gP7XBqmhpvpebUpZVpbZ8h1t3XFDmEy-SYT1uocvejcajBo_mRoNN-"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "741072968"
  }
}
