{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1691988995?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1691988995?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "TD9bg7_ubTwqoxZKJKjFkyxDciXa6LJEEHPwNOsOc1Y",
          "y": "OsF5nJ5Jcq7h2Qlby66vuGiK35VQKU7giGopvq9tyJo",
          "d": "SYFyd8ArhXGP52Nxb2hrZdjbdsx3CRwPONPUDCVxiN8"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/1691988995/6955cef6433245cca07d39d69d2f5e83",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "TD9bg7_ubTwqoxZKJKjFkyxDciXa6LJEEHPwNOsOc1Y",
          "y": "OsF5nJ5Jcq7h2Qlby66vuGiK35VQKU7giGopvq9tyJo"
        },
        "attributes": {
          "enabled": true,
          "created": 1759311557,
          "updated": 1759311557,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1691988995/6955cef6433245cca07d39d69d2f5e83/verify?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "hDPqywMd5dLCpimPYiEhjAmJu_TuejTp849iZ5atGeQ",
        "value": "Yot1eZtpLPQdA3fQ4YltwkqhfLDrZRABVqmRAsCAHan_Mtl2qFRuhJ95GU-FYNb2A0E2lgfr1ovQNQp3KeK4nA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://t282557e4338dc910.vault.azure.net/",
    "RandomSeed": "1548932950"
  }
}
