{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1043433645?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1043433645?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": {
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "VOZ-goPPd5xpwE0-h0mFeXBJU38lgAzrVvjpiWQleLc",
          "y": "I0eJWj9bhSpgNBud79zw1n0f-zkWMnnazopItacqDpw",
          "d": "T9QXsqcUgdhG8gMD6XCt7E8ldHHf_AMZBR-YmBoWOao"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/1043433645/479b8995682144039bc00f395caea509",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "VOZ-goPPd5xpwE0-h0mFeXBJU38lgAzrVvjpiWQleLc",
          "y": "I0eJWj9bhSpgNBud79zw1n0f-zkWMnnazopItacqDpw"
        },
        "attributes": {
          "enabled": true,
          "created": 1780403233,
          "updated": 1780403233,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1043433645/479b8995682144039bc00f395caea509/verify?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "qi1WmtN_kqgQ7ADKz2-ZO2iPyJPirXsyfEPoZ2EgVLc",
        "value": "UPOdY900m1nLJ-6L9oEUDt6FWUqG34vyA5Wr-_QHi8ObJmkKk0GNsW45h60sjDaOnQFGlW9fMZkpDwUHb5wsBw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://externalkeysdk.vault.azure.net/",
    "RandomSeed": "1489398007"
  }
}
