{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/107802119/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/107802119/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/107802119/aec53eecaa2646bd98c68db6e2935c8f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yKxO5ThoZ4Rr6UEytUA9j7qbLXwNCQnq8O1w717FmD9lml27TEZF7Iq37LwuEx1yYCMljqwSvYb8C5kgos9b7vSvvRRS_AFpiD568-AUPeTOd2PytKPAq2gsSJBUKFEfmBvgks_68RbEllzwnMItWdzjO0UhWrrffcTwMaLtkZ2kO72Lv6s02mFkgoQiXDEDrQ2-1Nfmn1nD1RwyRRLSO-gEmKup_47hq2tOccz8YkMZ353W98LQyS0im-EgbH6tRDmYT-OsjNXG5_sONZXbv0tXAis4wmLB4lm-TskA-9olKDyFVQPikM90z7gb7zt4j2KmdjFtdaWAEORfIcdMkQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756418336,
          "updated": 1756418336,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/107802119/aec53eecaa2646bd98c68db6e2935c8f/sign?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "bCd3uKrnYcotQTuBVF2oDCnC2ls2lBLqZotoG3PVgktCDnLFENrO1NAvOttxp8Fi8WLQq8oYZuVX1XkTjAvpBg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/107802119/aec53eecaa2646bd98c68db6e2935c8f",
        "value": "B7-piMN4osEYOLMj65qNYXwz5w4PNBoJjWGxW8ZbZcQdDrDJoR_0XNzlpPfF_HkBxO8onl3PRUqaFDV9wgskZdk8H4-gYegJmJJuqpY6aPlSGddlhBjyMMhY7NsgZ[...]
