{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2112349026/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2112349026/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/2112349026/1c2ecbfc66154ae29509cfa0c8522728",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sPFNCSzQVSiUkD_h5Ybi7nbnasIc5mwf_ip8SkDnRqH89vdCtJSb7xGJqaGiq3nOSBIvC5Zu3oDr-BCA8fcn_AHaQtVL1qSnadH_6Sm152nB3IEV_4VslPpf0a9fDA9Lz73au7CulTXpA0ECCsoVA15GyRxy8N6LR0zPkD_0HEsXdyBktRcsm5TMcx-QDPswN_ZyR5YjM2KKX8GnTL7-IM6EcMI8th1J9Z8QN3TBgu9RDYB_ZsbmIsgXTRm2cVjcw1ESrbxWZok91XhAOSG3h7CGehLGF4KAMBf7hcKAY-A5IEglnXv5R8_3B9EADBE5xKmbmFvERIoMssG4p4focQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929467,
          "updated": 1742929467,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2112349026/1c2ecbfc66154ae29509cfa0c8522728/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "SEfWn_1GFEV4aBQtZGj4EK3fnxLkAVJi0ip_1Fnn1fm6UHlZb5CRN_Spn3iKZVTZ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/2112349026/1c2ecbfc66154ae29509cfa0c8522728",
        "value": "Ag_Ae0jzXBy2GdJ4LVu_byRUOX6w7rMyuE-ikE03L3im3uhZYDpuR9Wl_W6jxyOE2VgvU9CRr305fl_eh31zUZGRPN-VOfgYAP8I9ovwrHdiCR-hk9y8J33istBg5Qoz6JMubRdU_cR9hOAO99KQqH_rOMvwnA2XBQxK7LpaMyf2nkVg3BcA-Ve_uF5GYDO1ShGLIZC1iGrzu-QXvA05JdORhLGFwqVkLw7EPnEkBizmdQnMKSZvzHOAHfJriKXeoT8vuNpb7WDh_LNRXOgVXeuU5BWxZ9AjZ1kjV-OjUMjeBnheeWGNk_20VBOWcPMb_kcDK1Ox10lHBNy9Z2JEUw"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2112349026/1c2ecbfc66154ae29509cfa0c8522728/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "SEfWn_1GFEV4aBQtZGj4EK3fnxLkAVJi0ip_1Fnn1fm6UHlZb5CRN_Spn3iKZVTZ",
        "value": "Ag_Ae0jzXBy2GdJ4LVu_byRUOX6w7rMyuE-ikE03L3im3uhZYDpuR9Wl_W6jxyOE2VgvU9CRr305fl_eh31zUZGRPN-VOfgYAP8I9ovwrHdiCR-hk9y8J33istBg5Qoz6JMubRdU_cR9hOAO99KQqH_rOMvwnA2XBQxK7LpaMyf2nkVg3BcA-Ve_uF5GYDO1ShGLIZC1iGrzu-QXvA05JdORhLGFwqVkLw7EPnEkBizmdQnMKSZvzHOAHfJriKXeoT8vuNpb7WDh_LNRXOgVXeuU5BWxZ9AjZ1kjV-OjUMjeBnheeWGNk_20VBOWcPMb_kcDK1Ox10lHBNy9Z2JEUw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2112349026/1c2ecbfc66154ae29509cfa0c8522728/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "SEfWn_1GFEV4aBQtZGj4EK3fnxLkAVJi0ip_1Fnn1fm6UHlZb5CRN_Spn3iKZVTZ",
        "value": "Ag_Ae0jzXBy2GdJ4LVu_byRUOX6w7rMyuE-ikE03L3im3uhZYDpuR9Wl_W6jxyOE2VgvU9CRr305fl_eh31zUZGRPN-VOfgYAP8I9ovwrHdiCR-hk9y8J33istBg5Qoz6JMubRdU_cR9hOAO99KQqH_rOMvwnA2XBQxK7LpaMyf2nkVg3BcA-Ve_uF5GYDO1ShGLIZC1iGrzu-QXvA05JdORhLGFwqVkLw7EPnEkBizmdQnMKSZvzHOAHfJriKXeoT8vuNpb7WDh_LNRXOgVXeuU5BWxZ9AjZ1kjV-OjUMjeBnheeWGNk_20VBOWcPMb_kcDK1Ox10lHBNy9Z2JEUw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "328713377"
  }
}
