{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1456305676/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1456305676/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1456305676/131a8df66ff346a5a7be3dfe15460143",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "9vV-AZt5lSPUnibqYd5vcJqyO8pGOt_VcriW9_zj1ZeESK1jEieN2n4XeTXQdOMO",
          "y": "ViIrzNzAchXCh9aDttzgZExbqHfGIywPdU2JPJTXjkkCul1qK37hT6znyXCt2fw8"
        },
        "attributes": {
          "enabled": true,
          "created": 1742932805,
          "updated": 1742932805,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1456305676/131a8df66ff346a5a7be3dfe15460143?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1456305676/131a8df66ff346a5a7be3dfe15460143",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "9vV-AZt5lSPUnibqYd5vcJqyO8pGOt_VcriW9_zj1ZeESK1jEieN2n4XeTXQdOMO",
          "y": "ViIrzNzAchXCh9aDttzgZExbqHfGIywPdU2JPJTXjkkCul1qK37hT6znyXCt2fw8"
        },
        "attributes": {
          "enabled": true,
          "created": 1742932805,
          "updated": 1742932805,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1456305676/131a8df66ff346a5a7be3dfe15460143/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "nZCxvOceQ5tei_j1ZKET9S_L1j4OkBWFzGIOfpjcfA7ObD-Jy_WWxJu4IIJad7ks"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/1456305676/131a8df66ff346a5a7be3dfe15460143",
        "value": "GcYbvjVOZyhYwSCqy8eYRCrY317TDrpHCiFVYYHNkiH5ak21DR4PZCH1hPnMa2zXXsW0tr1HcSNs4IS6vF07eZidmQVXYEO_J7c_WaOzaKp2E4QN5f1p6S4bql1cz86a"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "878587443"
  }
}
