{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/429235978/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/429235978/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/429235978/bdecf6cd8bcc49d68a39f27b4b3ab3ba",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rd73KngZ9TdkF9CwyEsBAuC4Gd_pK8gNQvg0-TOUGxMxKBLXxMQM_PXOxwECOMCVIdbRjx8UWG7Q7gWL75QLyP20ylpNONATdsXr9rPMlK6lGxBIX87iqJNGatjJfNh6HDeJ8l9ND8plLoLZWuQSQeuMALCu1OakYrfw-xTQRZN0slGyEeabENZOQJqtlyAo2nXz0u9Fwdns-r17B2JzltvO5RrltQj8S77TVKpFvwUKzIaaYAzlpLQtelcJULnR4rb3grT0kP1eCZZ0rBxWV8gtK4tKz1Vq2bjAu-8X8whuE35qnCA7cqoTEfAVZyc19KItwP0r6iATSbD8U0NpiQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929847,
          "updated": 1742929847,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/429235978/bdecf6cd8bcc49d68a39f27b4b3ab3ba?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/429235978/bdecf6cd8bcc49d68a39f27b4b3ab3ba",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rd73KngZ9TdkF9CwyEsBAuC4Gd_pK8gNQvg0-TOUGxMxKBLXxMQM_PXOxwECOMCVIdbRjx8UWG7Q7gWL75QLyP20ylpNONATdsXr9rPMlK6lGxBIX87iqJNGatjJfNh6HDeJ8l9ND8plLoLZWuQSQeuMALCu1OakYrfw-xTQRZN0slGyEeabENZOQJqtlyAo2nXz0u9Fwdns-r17B2JzltvO5RrltQj8S77TVKpFvwUKzIaaYAzlpLQtelcJULnR4rb3grT0kP1eCZZ0rBxWV8gtK4tKz1Vq2bjAu-8X8whuE35qnCA7cqoTEfAVZyc19KItwP0r6iATSbD8U0NpiQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929847,
          "updated": 1742929847,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/429235978/bdecf6cd8bcc49d68a39f27b4b3ab3ba/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "EHxz1VkRTX4OvDEzCov2W4mh-89Kjt2Tr8GbYuavlPB-2Qn0INg_glJzaT0nDjPgc_2hUMNzexjzHrvDUn6B7Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/429235978/bdecf6cd8bcc49d68a39f27b4b3ab3ba",
        "value": "daf9Z40aPd_f7CINkQXGkmQEf1YN11WU6VbnIj2qJcl5kHxoUNZ37l6Nn4gfxLCofE3vN8n7FSIDTXCfxDJRh_f_Qbp0mxucdFtnsPwJSBVtuX9D9aO7PtSZhFTSF7ORr9Mri5jfPVQ9o-Q9B4EhLm8r2EZHf-dhxEklHtEPv__brh8x5ATdJaEEOiXQSPx7CYL4k9ol35sQtPC94ZopE2ENoU1agwbMBtccQgeb9Vpn5D0I_weWv-KD5p8iCov2G0K5EM5pnzClpgclmOlaLrs2cJ26jRKp2KLQW8HfvCBhL_cww17UrEoIfT6ZHH82TtPAARpRnZ8jwFQ4m9ceIw"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "2122615856"
  }
}
