{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/22514454/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/22514454/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/22514454/f12bd1efceed40ffa5ab580505c137d6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rEM68Ad0dtPJZS-GOzfZPPQzAnWRhzaVavO-yb7Q7BuMiGYfkVITOThu4p51O3gCXO6fiq1dX1_YuVncvcBaIXAuvEe2A8lC0ASfQawSvdonTWA_gJrdyxBZEmLbTgEPWQga_C72K7zvyo6LMeHJMKs6FSPeqHM6VRmZ_zYaTajbFBpKtksTXsz4gsvSLvlaPYOeZIlFT08wf1H4NxnfM8uRXP7yMQ_lM7Npp9de0mx4B79ejHLxUYxWSQlHaEt-JNpkLJc68oTMbUu75osOmbGPMPKwhHnteGdPwLojilwqa-ZFqIW68K_euMeMOMYSJmS3Vk1KVultQCF6eV1LsQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759311642,
          "updated": 1759311642,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/22514454/f12bd1efceed40ffa5ab580505c137d6?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https:/[...]
