{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/2063200977/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/2063200977/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/2063200977/3f7124bdcb0d4a83a92a653df3c087e2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xNgWFYkZiB-2jVHdKmQslWsBOyr6bbiUz-ZvzNmGFpGveKS92BU4REKWkOLevlLep94FXxJeMGt9E7N3THhdBe1qOr_456Xj3uP1qvf1EZ_BpSw9AM6-QnvplRTgwUKgp7x5bHUEiNvscQFni5XsupQlubehZv3rjJ0KafXCkpVFSdYx9VTifLWW57UM_GpBTgm5VdglpG7FyrMWQuy_J1JLjWX5kVOXV70R7aKTRNCFZthrhnhhCoGyLTOAm0G2I-kg0hqBS2CYglnwP0iLy-XVIXjFglwyp9QMx3GpftbaHHph91Uy0gkb6y-UiFnWdh83ST36krWnV-tJC0aduQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759312785,
          "updated": 1759312785,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/2063200977/3f7124bdcb0d4a83a92a653df3c087e2?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https[...]
