{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1751123150/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1751123150/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1751123150/dc6cda86cceb451181009e4072c8564c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wykbsBwTuTaGMCVyQB2QVHddZd9_JMsW5WKUYY-xKK_03hyK6GmxevyX0tQ-xKxQFyYRI1RrdAc2yYZevQDAJFQErnNeSvArA3YgmjoXR_e6v6iXeg7ub2Z6EPI0TqZp1HPNHlEzxyG1S7DIk8I7cW3MoBpzVEdNi9nwgN2StCbwmsNYgW_Z1c8PbhsmlthC5BR7US54wu-6Wr6Vc-HZOSIxU4YI2C95VeOYnkj4NAmEReefZW8OXVc6uXXkeJWvVcafAs_4VndpRNNSmMiThSsFkH2MkWXuc2j9kc1xESiHrcEQWwdoOqL_Xjo2UuD21MDNIvv9z5j8l2I5Ubh6CQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998101,
          "updated": 1692998101,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1751123150/dc6cda86cceb451181009e4072c8564c/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "AAgYe7KBsQBOjkIveNZ9JAdTEW4rTy3na-hyN_Ee33Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1751123150/dc6cda86cceb451181009e4072c8564c",
        "value": "H7cfbUEFNf4BJ6auvjs-n57vz4pX_FBuU9n9GcLPAKQciJWE0rZbHBgx_REKbjPu8FUMPahMberEN8_t6xKTsQjxkXsh70W4JzynE2-rHI0-vIATNqczN8HtEycrXzVCBWHR_1sH8epUuYMdI0Go_wAGU0s7hgDpAi80vXUCYNZxsi6Q3y9sntqr-1DP9AO7_dOHLZG_swlN399WBP0y47fUrfSgbpqR-gH0d_83xvB9PR69t7nbs6KUmNHT_7u7ZowVQp8qD-A2sTJcl3vGQcgR-xOgrG4PTCrgzJEbeUQeJWaxUzp5VM62zT-UzA1XAMf8E8boqxf4AjVnhs3d2w"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1751123150/dc6cda86cceb451181009e4072c8564c/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "AAgYe7KBsQBOjkIveNZ9JAdTEW4rTy3na-hyN_Ee33Q",
        "value": "H7cfbUEFNf4BJ6auvjs-n57vz4pX_FBuU9n9GcLPAKQciJWE0rZbHBgx_REKbjPu8FUMPahMberEN8_t6xKTsQjxkXsh70W4JzynE2-rHI0-vIATNqczN8HtEycrXzVCBWHR_1sH8epUuYMdI0Go_wAGU0s7hgDpAi80vXUCYNZxsi6Q3y9sntqr-1DP9AO7_dOHLZG_swlN399WBP0y47fUrfSgbpqR-gH0d_83xvB9PR69t7nbs6KUmNHT_7u7ZowVQp8qD-A2sTJcl3vGQcgR-xOgrG4PTCrgzJEbeUQeJWaxUzp5VM62zT-UzA1XAMf8E8boqxf4AjVnhs3d2w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1751123150/dc6cda86cceb451181009e4072c8564c/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "AAgYe7KBsQBOjkIveNZ9JAdTEW4rTy3na-hyN_Ee33Q",
        "value": "H7cfbUEFNf4BJ6auvjs-n57vz4pX_FBuU9n9GcLPAKQciJWE0rZbHBgx_REKbjPu8FUMPahMberEN8_t6xKTsQjxkXsh70W4JzynE2-rHI0-vIATNqczN8HtEycrXzVCBWHR_1sH8epUuYMdI0Go_wAGU0s7hgDpAi80vXUCYNZxsi6Q3y9sntqr-1DP9AO7_dOHLZG_swlN399WBP0y47fUrfSgbpqR-gH0d_83xvB9PR69t7nbs6KUmNHT_7u7ZowVQp8qD-A2sTJcl3vGQcgR-xOgrG4PTCrgzJEbeUQeJWaxUzp5VM62zT-UzA1XAMf8E8boqxf4AjVnhs3d2w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "961673576"
  }
}
