{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2085488970/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2085488970/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/2085488970/fe1cf3da49dc4591b764d719bba65282",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y4kpmDcf6SzzgdZZnev6REwdzNnC394YRxKWTPPZEHNUxZmbsHizlTx8LVoiLeOW1c5Gfu1Omr-hcrZO7MgtFzeX_YSYrZFsSE-RR4ULHScqsnqTOA-BoZ4oSGV8rFO_Rhug8sikgN8C37H5-9EccB-ANGsw9JxDbU6LBjLiuKiELnP8QJx50OGXJOEIroan8HFTaZ4bfpBeYQq8HWyDoVyFo1mkDjn1vUsksEUnUXIYkzI67-8dZOM_E3SrtBqWy7K-1KOk-93Gybni6iaNheq77uyqPdNUp8d4xTYfnNqkIKLfUAzvyrJ5xsJwJzlUz-gVU94UHAiIME-g5mGh0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742933259,
          "updated": 1742933259,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2085488970/fe1cf3da49dc4591b764d719bba65282?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/2085488970/fe1cf3da49dc4591b764d719bba65282",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y4kpmDcf6SzzgdZZnev6REwdzNnC394YRxKWTPPZEHNUxZmbsHizlTx8LVoiLeOW1c5Gfu1Omr-hcrZO7MgtFzeX_YSYrZFsSE-RR4ULHScqsnqTOA-BoZ4oSGV8rFO_Rhug8sikgN8C37H5-9EccB-ANGsw9JxDbU6LBjLiuKiELnP8QJx50OGXJOEIroan8HFTaZ4bfpBeYQq8HWyDoVyFo1mkDjn1vUsksEUnUXIYkzI67-8dZOM_E3SrtBqWy7K-1KOk-93Gybni6iaNheq77uyqPdNUp8d4xTYfnNqkIKLfUAzvyrJ5xsJwJzlUz-gVU94UHAiIME-g5mGh0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742933259,
          "updated": 1742933259,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2085488970/fe1cf3da49dc4591b764d719bba65282/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "ir8MD2pGBMRZcP0Oh8IW7kTTanHXe4pkJIA1xSCwX7q0sY0dHpILht80fT75fP6T"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/2085488970/fe1cf3da49dc4591b764d719bba65282",
        "value": "Ttq5PLcbvvdnl3FmdA4ZRSPE2tVMlYa3H1EbLN0kO9ip3lI4CeB1ucFiME_9bxW2SB5pRj4H76s05rIsFdtjLsK1WRK6n3_qbDjJB-x2w6Xbj7_F5wUGFGMAgEslmpm38Gbg2J76PF57HUFVIVk5FLdFUP28afIK3K6iOb0da4ts8pz4mS9eK8cVOV7I3s1L3PkWfaMcIiH-DJM1-PcIjgrAQicRzV6yoWGUQgQewcRBaE_yiKWgz3exAEl3sFm3zNMaaDB9ve-yXdtxOyUpO9rHF6mGKS3FX8lYLB5oHY_opj1OjoWdubANhYVHRCSpL_mt6JOZIQRFnfer3hSYJA"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "2128282277"
  }
}
