{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/30613695/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/30613695/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/30613695/7c563b84c8ce438f9930cf42ac73f19f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qTUl5k4NwpmshlXBY4d9_MPbkYFErxo5srWzzi9FsyHNrJjDvyBon3fFOE9jyodQuY0zAxgJCip663chDTKQKQPSdFiOU87ITOoAHYq0bT4UtSmJg4_moWhg6mc4SP1OHOhJiPDYj0Qj8Ifg1ucRTft-YucR7T4Silu_cEBg9pdFl0CvEFg_bMBJr7SQSggxUv-vfyNOEgM3tlTJqZNuOK0uFO087dOLXvXz0Ov2K8VVuBaGFd2YkwCycdmGt_GXmk-dIN5SYrEozCaZJvn35POWKGEmlB8-olc4jVyxfiCD7rnromgZM2Tg1ZtlRcaOZtI_r-Rpxu3-VxsiGZ-okQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756419221,
          "updated": 1756419221,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/30613695/7c563b84c8ce438f9930cf42ac73f19f?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": [...]
