{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/153770783/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/153770783/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/153770783/12bdce5b726b4f1eadea5fa0cc1bce5f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "z_-tAZlfa4Tw2u0NOGAbxd7b14SWPvXQf4yBCAVIFp3OmyQB7LYyIxOQcFdpYB8R-23ZbK46Tkh4sMBtRox8hBVRxlYsK1vJXJ_CJIGMAL06YFT4i8ds8IOx7FdlLrSvr_WQtNeyGD5utOXP2g5ULX_jlPfV2tYPdtmqFQE9rV8l1fi7owsXy8Wj4cMclB0Y5tqIw60hQjKZcObOu3QyK77O72t0L9PkveMTAYCrIIR_TcCYbucgP2PJNTyo41GqeJAIAn4kltdilvJbSLq7zpqgb-6rOqjR_3Afegqlq9ABMcmu5PVwztm4r778YbFHXpzL4W2Xp4hhIxRU6te4mQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724200476,
          "updated": 1724200476,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/153770783/12bdce5b726b4f1eadea5fa0cc1bce5f?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/153770783/12bdce5b726b4f1eadea5fa0cc1bce5f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "z_-tAZlfa4Tw2u0NOGAbxd7b14SWPvXQf4yBCAVIFp3OmyQB7LYyIxOQcFdpYB8R-23ZbK46Tkh4sMBtRox8hBVRxlYsK1vJXJ_CJIGMAL06YFT4i8ds8IOx7FdlLrSvr_WQtNeyGD5utOXP2g5ULX_jlPfV2tYPdtmqFQE9rV8l1fi7owsXy8Wj4cMclB0Y5tqIw60hQjKZcObOu3QyK77O72t0L9PkveMTAYCrIIR_TcCYbucgP2PJNTyo41GqeJAIAn4kltdilvJbSLq7zpqgb-6rOqjR_3Afegqlq9ABMcmu5PVwztm4r778YbFHXpzL4W2Xp4hhIxRU6te4mQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724200476,
          "updated": 1724200476,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/153770783/12bdce5b726b4f1eadea5fa0cc1bce5f/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "3v6lpAR0bpPO2G6dNGFSt65sXs3qcvL9m2mcr3IuPY-_dNP7x6cmFeh9g-ujeo9r"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/153770783/12bdce5b726b4f1eadea5fa0cc1bce5f",
        "value": "MIcAiZZyJgLISXdnPECmdpI2fUaBca-NYCaE9wwJH4EOOHr3CjwTbyTPgfhqQ5bNiphSJ9HhaOd5l01urghRSUNgcw4qTkDdwKgEswR7EMv8zUXI_e1OOCbhb5fu4E2FG-Ch1Xxip--jZHbfmVs5cfErsiyH4n7s5OsRaosxncqwPsCr84dpM1gN1Ak3Lu0esvwqGoyx8lbBY_VWLGg7oFREcEPhqf1EpHVBKLSwT8QncpXx0ddQRcLBPNg0zkB41cNnnS9yQKqoE4_eh8A1suLrx9ujHgIF5mfil4ELGquEvl3S1pkWEQ2ugEHNY_W9J-RuFXWN9q4LZQtzy1H8xQ"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "2014452349"
  }
}
