{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/725047631/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/725047631/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/725047631/6bbd31e843184ba8b432e8cdcb2298a0",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pVswSuFRHxRzg4_s9Iw2WUNicYu1-H1UDlT5rm8AX5x7WmxpcZ8gSeFXpZdQcP3VF6vL4m1hfR1L3vcV1L4trlevCcziPoeXINiLRkHi6kpkajRZCAm9MP4XLCfjh6fO36i2unirp3zxmbrkklvcB8op_s0u5uQ4MVs_gACA3TNtRrOD2e_1W2FAGcKy5ys3ydH6VhCuOT43d5gUA4h7HrkKIIBaO8Bbb8mflWVyvCmL5g7V1YtcSxhVy1W7mvOlhRtBdEXN7Zw0FsmkU9ywIoUJHtVPWXxXS_C02n9n-oY4kqp2sbT3WgfcaiN-grX8iNUlVuMaahM6JUMeMmlbfQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760314,
          "updated": 1750760314,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/725047631/6bbd31e843184ba8b432e8cdcb2298a0/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "HkEpOYSiQ_jIVe091M8vjNHAYOoiQBtjwMOvTpBPPC0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/725047631/6bbd31e843184ba8b432e8cdcb2298a0",
        "value": "ZgOjwEMZGKfN6bZ7wi93cK2v-dj1PAmp_x7G8dspy9nLngQw5vM7odmhwKYPUhw4fpElqBhj3RnSSzeKo9IwpipHTuonlWAp70NkYZQ4uBDPGHZPGXCgCSSQ8PTkoEuGAViZdp5UNQUyG9JQUrWyVX9lNsYXxbHDkXGBAYSpitM76mcPqgq7NP5tdxIQe7FXJvnRb3ZriXDwIxkQ9FbXdupFSgpm_dKSlwQ9D3zt7PaAxFxt7mwv5TovZ6L73pIM2bRAjm_ep_4LZo13_BuFYyP6D-Xlqpw2db1SnAKdEh3l-j2dIoQlK6ZXiJ2NLWaVMl2iGEFDvBLr35vEIrsS2A"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/725047631/6bbd31e843184ba8b432e8cdcb2298a0/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "HkEpOYSiQ_jIVe091M8vjNHAYOoiQBtjwMOvTpBPPC0",
        "value": "ckh66mCtHnEzbFU3gGw_-lUnVIEMujOEjv5ryGYrXa37EWGq8N1fTAi-6tnPoZUKgl4nRS-2WxZ7M7r61aoBI-BzT5d2tctJsdJn2F1w8THOYRV-5gmud2MHJDD93jYkYmPIUd3-bIJs2q6dp-hmAcQt2rAwFJzN88_r8zW2fHmj_vLvO3bvQuZDqGebXIvh0hmA7tmnjypYo2SAF1AWlrJOeM1861o8zKaoD8nB9Z_y4mmUjRmvmKMtIZ5hskcHsxXqoaWoMHt0ebxktYBV0wxkrbbJJZ4i7hvc9lgrGu0aiCYrXd_v_dCHjrBSFnQNOoIbL07olTiQPHnwxBRiJA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/725047631/6bbd31e843184ba8b432e8cdcb2298a0/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "HkEpOYSiQ_jIVe091M8vjNHAYOoiQBtjwMOvTpBPPC0",
        "value": "ZgOjwEMZGKfN6bZ7wi93cK2v-dj1PAmp_x7G8dspy9nLngQw5vM7odmhwKYPUhw4fpElqBhj3RnSSzeKo9IwpipHTuonlWAp70NkYZQ4uBDPGHZPGXCgCSSQ8PTkoEuGAViZdp5UNQUyG9JQUrWyVX9lNsYXxbHDkXGBAYSpitM76mcPqgq7NP5tdxIQe7FXJvnRb3ZriXDwIxkQ9FbXdupFSgpm_dKSlwQ9D3zt7PaAxFxt7mwv5TovZ6L73pIM2bRAjm_ep_4LZo13_BuFYyP6D-Xlqpw2db1SnAKdEh3l-j2dIoQlK6ZXiJ2NLWaVMl2iGEFDvBLr35vEIrsS2A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "894350819"
  }
}
