{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1725907823/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1725907823/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1725907823/3d97ba6605d448439b605410a2234456",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yeIMW5ikTsh9Df0vcC463CysqSswVsef3esL-_jmI0u5S4yk2sRFD8Hu9yO9UZvBdCGOGFwuhc3ydTXNOxE5Tml2EoGuMyYa4ZDMLi4u3MKHvzPgZe8TuhXT52_Q7IfsTkhVJo-MrTDWq4me8YN-oFZb5ASNbxMEsFxQ01H6-d0aPRu2sd8uRTTr7iFFQf1Q27dcllkYqTwlYb65-_Upu3XllSe743WIsJOFyRawi7d7eraRCzvcKSNfv1nrVdBgDJ1U4-zL60d0R9Pc7sdDCgpYTQer4GnPyLGDsgZb5nkoDBBa2jUWaQtFpmBLH130Bl4KxsoBgA5q1MLMWXEdlQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929478,
          "updated": 1742929478,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1725907823/3d97ba6605d448439b605410a2234456/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "UOyIo70U8a0Hor5DeOQFKarjYA-ruK8wGOCqJiZXbWUqmRx70ArsdnjwS28tcRvdq9Y_LRZIryLQk01tAPZ3cA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/1725907823/3d97ba6605d448439b605410a2234456",
        "value": "F6SVgrro-Tk8kd3jvY3PS_aRIntI6R3syyaad6j2-qhREyIG5IxuqqwNLmmAfnMjY-WdATOPcmHpF8X38FIhkCTWbQTumLWnISlffTZJL_LCEj2XgFdaN0zt5yhxDR9nUq3TGEpIJxjQMq81ITqdwX2ZxE9cVir7wnFJeDdq9lm7hNK_r-pvxnbbvkDFBSIzw79viCd-ziQU1gmsG3zAggQtlIFoR9drMA54B07sl2vJ5sKDV1aEwHtYSHH5YSyQyAXrHq3RGUvMnTjnH20jzW5AVUS6K2GZeiJm_J6iP2gpx_lxLwiAyx4aL74y5H68L8oI-yhLMw6b8sNjmwvjag"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1725907823/3d97ba6605d448439b605410a2234456/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "UOyIo70U8a0Hor5DeOQFKarjYA-ruK8wGOCqJiZXbWUqmRx70ArsdnjwS28tcRvdq9Y_LRZIryLQk01tAPZ3cA",
        "value": "F6SVgrro-Tk8kd3jvY3PS_aRIntI6R3syyaad6j2-qhREyIG5IxuqqwNLmmAfnMjY-WdATOPcmHpF8X38FIhkCTWbQTumLWnISlffTZJL_LCEj2XgFdaN0zt5yhxDR9nUq3TGEpIJxjQMq81ITqdwX2ZxE9cVir7wnFJeDdq9lm7hNK_r-pvxnbbvkDFBSIzw79viCd-ziQU1gmsG3zAggQtlIFoR9drMA54B07sl2vJ5sKDV1aEwHtYSHH5YSyQyAXrHq3RGUvMnTjnH20jzW5AVUS6K2GZeiJm_J6iP2gpx_lxLwiAyx4aL74y5H68L8oI-yhLMw6b8sNjmwvjag"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1725907823/3d97ba6605d448439b605410a2234456/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "UOyIo70U8a0Hor5DeOQFKarjYA-ruK8wGOCqJiZXbWUqmRx70ArsdnjwS28tcRvdq9Y_LRZIryLQk01tAPZ3cA",
        "value": "F6SVgrro-Tk8kd3jvY3PS_aRIntI6R3syyaad6j2-qhREyIG5IxuqqwNLmmAfnMjY-WdATOPcmHpF8X38FIhkCTWbQTumLWnISlffTZJL_LCEj2XgFdaN0zt5yhxDR9nUq3TGEpIJxjQMq81ITqdwX2ZxE9cVir7wnFJeDdq9lm7hNK_r-pvxnbbvkDFBSIzw79viCd-ziQU1gmsG3zAggQtlIFoR9drMA54B07sl2vJ5sKDV1aEwHtYSHH5YSyQyAXrHq3RGUvMnTjnH20jzW5AVUS6K2GZeiJm_J6iP2gpx_lxLwiAyx4aL74y5H68L8oI-yhLMw6b8sNjmwvjag"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "715490358"
  }
}
