{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1023458269/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1023458269/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1023458269/46156d4d1cfb4e6e83efbf45e24c96fb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "-jG58x91qhAKtobSt9F-kNA1fToK6NVxBNyFjt8dFEN75sjS-Vgt8bgpZ0wTU8cwalQ_kMSuqgX8PEebvVhFls1rcU8MRH57YdcF-jEQeQdPAgs-4OFiRi2H0YAzB45ZWAGlxAE8UMtBJhAPctCt7IxCRxv4-2VuIN3T6EYO05VNttMPvM56jcibnRRcC3lpyTakLK_Kh4PAY-xusMPcJb569ahhceR6xJhTKi6eoz-xdgCYMMLQ649iYJyNY9S4Ka1i52ApySaY0eNzVAfX6wsSeu04PynXXFvz9Q9JMq2PcCXKyougN2MyF2fsF8g4pTgrZ041n-ajYxPKcI_RyQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742933270,
          "updated": 1742933270,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1023458269/46156d4d1cfb4e6e83efbf45e24c96fb?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1023458269/46156d4d1cfb4e6e83efbf45e24c96fb",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "-jG58x91qhAKtobSt9F-kNA1fToK6NVxBNyFjt8dFEN75sjS-Vgt8bgpZ0wTU8cwalQ_kMSuqgX8PEebvVhFls1rcU8MRH57YdcF-jEQeQdPAgs-4OFiRi2H0YAzB45ZWAGlxAE8UMtBJhAPctCt7IxCRxv4-2VuIN3T6EYO05VNttMPvM56jcibnRRcC3lpyTakLK_Kh4PAY-xusMPcJb569ahhceR6xJhTKi6eoz-xdgCYMMLQ649iYJyNY9S4Ka1i52ApySaY0eNzVAfX6wsSeu04PynXXFvz9Q9JMq2PcCXKyougN2MyF2fsF8g4pTgrZ041n-ajYxPKcI_RyQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742933270,
          "updated": 1742933270,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1023458269/46156d4d1cfb4e6e83efbf45e24c96fb/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "b74OsWEIGOkCTdroF_gDjXsZ5ofzcZHzjPwqU7LNDSa4YwOw3hCpl2h8bXufo4WkCuGRhcjDml8AxJpSCyD-0Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/1023458269/46156d4d1cfb4e6e83efbf45e24c96fb",
        "value": "lsECsaKqHSuIvtNbfxZjGa7jpCmPqEmCbwGPrnWwbgaV-FZoVUMZUx_Vn1lQTnIHQv9u6zE4460B1fqEnaJN0mm8_ukflR-U5YJJUjAVaGKCtdI7rs2fgqwFpMzEEvGW8nmsYpo9Jfne6za0BcXYXM9wP8WB-x2lRguYoL-2Ea1gHPaGtIs6y1h_QoNIf3AP0hBhCxAumsnjUxQ14r_HkSryOFGcXYIuEP1MvnuSVLNKFzYBk8E9ozBUlEmtwqGol5HRKrLwB2QmzYl_2UiCJclWRgfByWoSvGzb5yb13eFpPDwo3CUP2EhyCvlNGE09uuO_1DXuObNs82bB2y9cVQ"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "1378440074"
  }
}
