{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1472422085/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1472422085/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1472422085/c59d8b01c73b40b9b6b01d834fcf93de",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "lIc9FIc1KVWyWKcD7pK6rtDo8AfYAB2yQeI0N0mBkXE",
          "y": "kQ1n7aMl_f6F4ZX4DSlzOkCmv4bQWzbYSxkFp0g2lPI"
        },
        "attributes": {
          "enabled": true,
          "created": 1756943638,
          "updated": 1756943638,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1472422085/c59d8b01c73b40b9b6b01d834fcf93de/sign?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "e6ytVztKCbPiRHzcQLW0D3a7c0qsURUNzZCYQ_Adq7E"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1472422085/c59d8b01c73b40b9b6b01d834fcf93de",
        "value": "zBoKaWBhqBIrOhqnceGG0kLnZWinDLLgb2gvBTaxU_21YR__tqYgZEE30AgFOJ9xn8ltqoaHScWq1mDcHC2wwA"
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.a[...]
