{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1949750170/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1949750170/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/1949750170/4d0ce8bc2cf248d6b3796e39578ac7f9",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "iKJNRWzvGA_RoR7l9b_Yi_U_No_lAiXmCZ6OrYqkRmE",
          "y": "TSxkkuDW4_Zps3gloXTOfh49lNprpbSTnBosMUajQ1k"
        },
        "attributes": {
          "enabled": true,
          "created": 1780402839,
          "updated": 1780402839,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1949750170/4d0ce8bc2cf248d6b3796e39578ac7f9/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "i89erNLrVyD7tzuYc6_W_Nz7cGTZCBu6uFD4iK0Ec6w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://externalkeysdk.vault.azure.net/keys/1949750170/4d0ce8bc2cf248d6b3796e39578ac7f9",
        "value": "xcQgHSlGKcTiqcSpZoaa32J8UsuU0-yo12MlJbyG1-OPR-mhUPjp4DhOyb4jcTecccuMUYShjpRgAoQflkP43g"
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.n[...]
