{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/827563624/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/827563624/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/827563624/ff8795f61e8b417fbf238a9787c8509a",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uZCYyklNvaUUGtB5pvVAA7kJX0XFATrbYf7FcWHZhrxSXr-3uu0LvWPC2ZjtYAeK59s031cuiaQJCmP6JS6MaXn2t-iW8-uhEdYHgthrnbv1BhIPHgikAEnRDWCeKYD_3uRwRy_Eh3bFfzPMJ_SJqSvWHOFKf9m9CIf6KSbzeTEWlzl9BWZrA1U6HrbIPfAnnxraX3FOEleK6Uhkg3POxweX8dcCt9dgYSnY82dhta1QcEAr5px7ulnnmr9ZAJRoRFCi3MQSKK3zBaKZ13a9AZQD6wDLU-RhRoJkgOvUohLDRC-ucEKCGHd5OXXLi2CKjVMqYG2XMnze7iI18V2b3Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756405393,
          "updated": 1756405393,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/827563624/ff8795f61e8b417fbf238a9787c8509a?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid":[...]
