{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1864700304/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1864700304/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/1864700304/678fcc92f5a847c7901587a808eea146",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "y6Y32Azft5qhs6s2Qg8_QF3F1cjSQSWKonCXnaqHDz86KGOU3vmAjzJVKBKIL4uYxNnbiKklSO2mUnwciDqc3n1c8BD_dkZz4_E1Eh29DjJQKoJmr_hA29mjI-U8J6-jILjQIQjvl-cSFTtC8yawhAbjP5EqIdziZYAMQ_SbjnXCxoKDaCKffHb2Drj2N1BWTDUgfHPhC0bda96VJIW2luUfRBTeh8mfnfqeXPMfX_Er04qSuTEMGfBvOoxFQokoHPxrv6ArsSf-dvWLN4XXmmXunKtwu7ZMFWYfpfxyvQirFweKAu_ufP-Ys-FBoYy4eAdNc_t6_ifrvttbynsfOQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780402801,
          "updated": 1780402801,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1864700304/678fcc92f5a847c7901587a808eea146/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "ETgjbKcGuD4Daq6c_mSSw1piH2ZqWr72wH-GETMlkxDe0jEHt0CNlAbB7LGOIGVkxw3zrwLThBgArKLCdsIUvw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://externalkeysdk.vault.azure.net/keys/1864700304/678fcc92f5a847c7901587a808eea146",
        "value": "voGaZ1HfeqbQ5xcBHlvkd7KUr-tyQkz4oBdMM1gbtp24_gkOUfs7rHqZF2aTJiiOqak33H9YoY5EFoWV-l4ujIsGkj-HTkwLmDAAN4OSXObXAqwknJ9BFcB0EH0F6Dv[...]
