{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/232413985/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/232413985/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/232413985/cfe1f3eaa6ab499496d8171a672a23cd",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rGnGKdmNCrmr9_5HzJPzLluDP9g7mHonXwb-9Ahr5oHe5rzxVzoQxSyrnO8Y0WQUvl0iTmw4LBO-djOExaLg3VvafBD3XX04kTrMz7x3oCUimVNXINSKQSfZ5M7FJ9ElVmZc6DBiaOF2Sbat1NbXNIGvZwSaI_57-aHnpac-PcpoGEvtFaE1HHMgQ9WLx_O1A3sOi6zRFgyngZNHK_iNvKnwoja4mK48XUFRlGjWS9KR4SWuCgT6ELlYjtXVu-557F-3saA6CFmB51GEF_uUbpFmiKxE-M0bvQpuLQsNYb4ukf2wEYxsEeiHIKcoxcOlPlSHFBt2FUB5zo3uEBlAwQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707529857,
          "updated": 1707529857,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/232413985/cfe1f3eaa6ab499496d8171a672a23cd/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "k_t7XFYRDzkQrQ8a8qmC5MkQUzzgpdIO5TR0JWhyH0c"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/232413985/cfe1f3eaa6ab499496d8171a672a23cd",
        "value": "l0Jq4Kl3-7tY2365QmB59iIxh37bwh-nOpGs8qa9LyyqmLcOAd46e_s95EbdW2__d5fKv5oWKOu53KkJf-MgesTzThrs3K9bjSoXCWAVJvZ74CgpUpYkTjF5nESVLo70du8U2Rsh2qRUFtXSWBvXh1l3po2KH3KoZ4RCZPI4YqVq-V0aAF6xj-WTiu-TL-PA6MO1kznuR5jrvvF8Wcgghf2m3YaHantiMsdlxac5Yb8suRe1oTSQOwqXgeBS9sACowJmxHavUvj0je2uhu0yC0MF8bmjmLT30P-Z6Mhgn89CXWu2P0ndn1LoFIJlUlU15kWwUWv2ed4M1-P5dWA4Uw"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/232413985/cfe1f3eaa6ab499496d8171a672a23cd/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "k_t7XFYRDzkQrQ8a8qmC5MkQUzzgpdIO5TR0JWhyH0c",
        "value": "l0Jq4Kl3-7tY2365QmB59iIxh37bwh-nOpGs8qa9LyyqmLcOAd46e_s95EbdW2__d5fKv5oWKOu53KkJf-MgesTzThrs3K9bjSoXCWAVJvZ74CgpUpYkTjF5nESVLo70du8U2Rsh2qRUFtXSWBvXh1l3po2KH3KoZ4RCZPI4YqVq-V0aAF6xj-WTiu-TL-PA6MO1kznuR5jrvvF8Wcgghf2m3YaHantiMsdlxac5Yb8suRe1oTSQOwqXgeBS9sACowJmxHavUvj0je2uhu0yC0MF8bmjmLT30P-Z6Mhgn89CXWu2P0ndn1LoFIJlUlU15kWwUWv2ed4M1-P5dWA4Uw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/232413985/cfe1f3eaa6ab499496d8171a672a23cd/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "k_t7XFYRDzkQrQ8a8qmC5MkQUzzgpdIO5TR0JWhyH0c",
        "value": "l0Jq4Kl3-7tY2365QmB59iIxh37bwh-nOpGs8qa9LyyqmLcOAd46e_s95EbdW2__d5fKv5oWKOu53KkJf-MgesTzThrs3K9bjSoXCWAVJvZ74CgpUpYkTjF5nESVLo70du8U2Rsh2qRUFtXSWBvXh1l3po2KH3KoZ4RCZPI4YqVq-V0aAF6xj-WTiu-TL-PA6MO1kznuR5jrvvF8Wcgghf2m3YaHantiMsdlxac5Yb8suRe1oTSQOwqXgeBS9sACowJmxHavUvj0je2uhu0yC0MF8bmjmLT30P-Z6Mhgn89CXWu2P0ndn1LoFIJlUlU15kWwUWv2ed4M1-P5dWA4Uw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1806492009"
  }
}
