{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/583992802/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/583992802/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/583992802/07345c06084b42518eacd4cfa0481a21",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yiFxr1jA_N3KplRMT_tcjtrFWbB2_VYCRQWk5RgMRJScpqMeEFfvEV8uMUl0W4lKJo4zsVdQYyLFKfJsqKt2J8r6XZRXMGP1PYgsW-q7HxZMgnFvBiknyaUZUn0l2-670zZLhkK6BliOAE9Buu1_dn8C3o_UanSZUJ1f5eVkQiG6xmofZXGCya5i8nkDFesCP28S4G_g9dlDlrIp1y3FCxjUuNRyHmN0fMBmPQrGtTVZ2n078hwhjyjz3Una4WN7PFzNysmgsr7NMC6m2GNVesAN4PUzKpfMogJ8MwTwhTAdBMqtyERJeciP5i65QBHXlFxkp0eZpCmzT2qZqNlIxQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758943836,
          "updated": 1758943836,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/583992802/07345c06084b42518eacd4cfa0481a21?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https:[...]
