{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/103883620/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/103883620/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/103883620/3ffe3da79a3943d7b31cda42e56cbea8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "u4HJLbPg4ZtiqErEJk1SO_2zuie8JR6CFbToWcDvvxQUk6gOpZdWZJ81deEWmuYKfPtV5pIqwP8JmzTgCc-rJ2-UnXAzaWwrDQ3GUuPAUBoOzEI_c6IUgm9jComcgjGkckwuYxi_PVK3S0bonr9vdieg2GqReYH9LxupQvD-piIFiMmwyhvuf2ARwnaB0jKle8vaB6-YKuXdJHvAJIv8ZjF-zUVwVCIm_orrhIFzmYHcS_wxiNXQAlyYUon79qpNqPBHGECjslVoQGHH-ANjFyR9PyxkrBrqEsaxRthBwmj_p_Q7psjI8ok2HnyONiWFI244RsQduZTvgV3zJrlvHQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781141009,
          "updated": 1781141009,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/103883620/3ffe3da79a3943d7b31cda42e56cbea8?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {[...]
