{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/193480933/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/193480933/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/193480933/fd1f51609b3f474197ec00b84dd17752",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sN7ahoZpsF1dUUhHIB9cjjyYGBqJPMk-Qo6dqm9vu9TB7j7qSJNuBn37tUtaB7lmngrXg8XwtaxRnSVR_RnH7s5LrvH8m-2PebCtj1SuAPWzsIZB_8n7H3UZdnzpe6LGWcllWOH5cmAAS5AP3DRhNdDCuOq7wa_rtcMlfUg17nru7p-TS3ECcHgTxYx3ldrqLPdoJeDzA5brigbzCktGBfQZwRzsIZCJNHAUeFko7dVKiL5QjPzbcHyCw77aqWZqAObqUfTfPwd48oDPHRl8ZiSJfJF_xWFtNHhS2QTPyQV_QU-vuuLuMFwu_6zeL5_o8SC4Ekv8_ZRiesVaelhSAQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756942025,
          "updated": 1756942025,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/193480933/fd1f51609b3f474197ec00b84dd17752?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid":[...]
