{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/518662056/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/518662056/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/518662056/8863221cd9ad4e0f8266664fd15490b2",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AL6JlRPekfOI42EpbWnhIzoG_8o6zAjtWnVIwgNTtE7gSh4ieB2kJ_h3J4GdzP2ljESSvfuBrajgBuyTWV0WchR5",
          "y": "ASD0eSq5BxpNbt8T6gAwyfTVRxdjv5oumlI-mjSOtsd-NPwLWZ09syV1PUhz7v3PPhLKrV5fgmASxgVmX8buvp4_"
        },
        "attributes": {
          "enabled": true,
          "created": 1781139923,
          "updated": 1781139923,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/518662056/8863221cd9ad4e0f8266664fd15490b2/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "X441YVRANhdUw-nOZTSfgqHpxzqT4p_E-1taPsRvH5VFgXYuSxk29ogbm1RF4VkVOshhx5TzJ-nT5h7zDdNlRA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://joncarde-kv.vault.azure.net/keys/518662056/8863221cd9ad4e0f8266664fd15490b2",
        "value": "AWGp-norUNaY6itdBu89zm170aAzB9JZn1crOPknUTxUUjOlTuK29loDGews_6BSk0SZMICSuFnDXbnzYARFWgATAWMVwiF-CbfWxJ2ZF3A5FIVnNokcWO3Mqpo8pn6xau8[...]
