{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1304967108/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1304967108/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1304967108/ffb7eda109774ce59930d572f79adb6f",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "TTpbIoJ6A36fYvIstnvmEa8Tl7yiOSiB4fvro7PUlf4",
          "y": "mMM-c03hb_8Ue8YgWOwo1kS3VcqZHbu3OGw1rt9zGpE"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998117,
          "updated": 1692998117,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1304967108/ffb7eda109774ce59930d572f79adb6f/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "5XAXNZbca0utHGnf8vluatAl68NUH0kI-Ax9_HMmGHs"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1304967108/ffb7eda109774ce59930d572f79adb6f",
        "value": "YfQ-vyvF55S7nT7DofQyLlERurp2vYnjXi5oHN66GfY9r1XtzwoKRtMDSyUxsNfU_qJI6myvrlKw0oAqwyg8Qw"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1304967108/ffb7eda109774ce59930d572f79adb6f/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "5XAXNZbca0utHGnf8vluatAl68NUH0kI-Ax9_HMmGHs",
        "value": "5MnCeUcHiqdHi3Y3vSd-ZRNyH--ZzQyML6FRYDWUcpcqhftl1LzlmEGiH6eH7OK1vKmwpW5kRE1lB_9gPumJPg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1304967108/ffb7eda109774ce59930d572f79adb6f/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "5XAXNZbca0utHGnf8vluatAl68NUH0kI-Ax9_HMmGHs",
        "value": "YfQ-vyvF55S7nT7DofQyLlERurp2vYnjXi5oHN66GfY9r1XtzwoKRtMDSyUxsNfU_qJI6myvrlKw0oAqwyg8Qw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1588532677"
  }
}
