{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/328430377/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/328430377/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/328430377/1a706164a2234ef1b127ed22687e88fc",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4eU9WXylDIQKjhMA1yMiEu9yUJE5S9Z7-ocqkqHxVggyzfntgr-mDWCg4SISPJWuDYEGUq8ZPCUkWrujdrlRsWg8pAx3yXEQu87sgt8ngoj6uKzY7VX7FLNATFJmUxC402ehBDa89bUtvFz3Yq24V8EoroWO7hfI5LtbyCjs1wnDZOA3m06QCtdGz-FsQYZDDHYy41GL0JiojPzkCLahuSbpvc7LFB6fLjRP5-bFJVQNj6aWeHHLYfcOKnONMt_OV9oCwXRPLe5CGJYWCkQncHOxonBLeP3RtKkUc33dK8XdvrA9WYHXAr6A8t9ET7da7GbdUxmtOa_PVC5kuBFj1Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756419188,
          "updated": 1756419188,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/328430377/1a706164a2234ef1b127ed22687e88fc?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid":[...]
