{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/783730085/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/783730085/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/783730085/ab1970f0af2e4e8ebea22abfcf9eed9f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "z4HRdkZMOqkInNaIW6bH1XVmjUZLiHYNpw_3WS5g5JTWYhBbg9VPILJM1QWCVX2PbQczUElIsetUrjPxk-6YmLCpUGpUE3KQpH8L0MYhsVBy6htxqpQ9CgEYl-_IYjjkUrgI61l6u-WWji6Vy8Bpinzx5HeheOSLp7TeesKRTfQ55F8i6YuJFwqIcCmBPeaJaqF0KnFk-8yD-snIi_5DeB_EovD2A8bgxfohnsSA26D1vFsrebeUJDhDp2MecO_Cu3Y0DZBY21NiSDYlddo9OhbF4IaOQYxKypPxCaQ7bT0JAlWRhYw1143STUSSRscVLEpDEmpcLEFDdotLlSpy5Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759313129,
          "updated": 1759313129,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/783730085/ab1970f0af2e4e8ebea22abfcf9eed9f/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "KM6dojRS-VWptXcgOo2NSVw__P4AP-E80vbGecXGAhZZdEhAwl70KlGGDEVGqXzeyiQV_qlcXHXe_lj2_xP3xw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t282557e4338dc910.vault.azure.net/keys/783730085/ab1970f0af2e4e8ebea22abfcf9eed9f",
        "value": "eupcZ6pqUYS0kNyAnGf8HQXJIXxCk_Wqa2460XetgUDqBmshdrNrHBMs8ep_uX_0qd9LtC7GQz8EHdTJHPQiJJAYRZhswgUtEsaAKmaEk1TqwO4YM0XXZODvsHTsk[...]
