{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/243993030/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/243993030/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/243993030/dd3759039ab64c00ac1ac64f5d815bce",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "owFXuYSGrD85NB6K-8nsb9YvTyqQr7KR6LcdklEf84pMf3oVkR05D3mnWwTw1pSQZAQei_7i0KgrG0c9o_ilBlhb050rr27UIQBbIIcNfhMbUGBaHUXTffLwMdjdqNgcl-mwb3goMZJyaadVy-1RhzCdMfO5G6CzYYxI89cprxrlLPlSuTy83pDTtwC98TIgFEx8RRVhsKU2UTGArRbSzfj-DMPBS3EPcJZx8UM5Yl4epegNcdP7i8rLl8e_PFFOihEdJ1wp1RiNFiLEV7y4vpFzJ6SDix64cTtz-28TjaNeQNAdIPT0m2cwtXzmv2u7hRYH2FtnRATis2bO7k_pVQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781139609,
          "updated": 1781139609,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/243993030/dd3759039ab64c00ac1ac64f5d815bce?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {[...]
