{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/265454480/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/265454480/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/265454480/3bb03399c06742a7ab59bd1ff374e365",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "SrekSXWVcTaPtEHPSsej5rHl_CyqzHpJ11pl3wF3jiPVP1pHUVQnGRpsWOLeMkny",
          "y": "7iDYTkfqnwQ3sHX2yRwPeb8VkG01uuHaUk50K0AtI_Mecp46MsZI1tESUt1OjGo9"
        },
        "attributes": {
          "enabled": true,
          "created": 1780402940,
          "updated": 1780402940,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/265454480/3bb03399c06742a7ab59bd1ff374e365/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "M2VpOE3nLM-vziWNVn-2A7bqqTJkusw5fH9S_3zfMTZyIyDw_UlXKoXcwaI9Wxnq"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://externalkeysdk.vault.azure.net/keys/265454480/3bb03399c06742a7ab59bd1ff374e365",
        "value": "lvCWYKQbD5D0MIZqpzRR1sTsT7uZpXUEe8mNIha9p9bsjZy2r8S2XGtK8zc4m5DfkIDl2EVCuCGYVHf7f69S_DFR8csXFpStAdlqEKGE3o5G0IHBe2q77o97ChD5gMzs"
      }
    },
  [...]
