{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1091228943/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1091228943/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/1091228943/284b5bd4b5534ed4b1e7d3b69dfe158b",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AOQTBMM5zL6vLKdJD1AGf4yXIB6kFBNilFcG48Ge2GidsUWOyjXv0b8LUywZZMNhMpdJbxpvm_tAsUQvxwF4QhxT",
          "y": "ATC2VpJ83CzaYX5PvD4QYyf-tHY35zkrNCiqmDH26SH_IUbcHFtLTxUAAkO0cCue8Q36PuKR5bCpJVAi54-Ihr5s"
        },
        "attributes": {
          "enabled": true,
          "created": 1759313002,
          "updated": 1759313002,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1091228943/284b5bd4b5534ed4b1e7d3b69dfe158b/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "gsSgebk2PbpllNoVtfsofLgQzlrpddfrpjbWfuvi2MlXvzEQ7yAHga5fGm8xnvBwJCNNa6t4THeXSoga7NRVHg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t282557e4338dc910.vault.azure.net/keys/1091228943/284b5bd4b5534ed4b1e7d3b69dfe158b",
        "value": "AUyJRm1QsHp7S362s7BlkWBNj313VPp-9axetJCCFF_MPYqeF3uJqA_gfB1mZsnL1R1TuJgqBt5cMrT_0enccS3tAboq_YTZrsZ0C4nCbNzvgkkLYuTP34yYqcda[...]
