{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/306351212/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/306351212/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/306351212/93eeae0260d94498acee8372f57082a2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vnM5Y51My0BYIK5-Bg3ZSQ8BhgvftRNKo8ko-YioHQt51iAGBI0cjF2OFdKSXKAYJTwhG5dQ3qdq1uLnkTE1ww3mV5qJEf0jkHtP9xR1ewm97KMppvIw5nvvNrg4On01T4Qcbw3GM7Tgz4tTPQhW_BXBAyIdThKGhphvQk4UFfykoiidKKmhIfGYPkv-M0XsRCTxgZUcMn2qhnppry0IhzMF2JaaBzB5LzRVBFak18MNVf5CygLKchcuTb5t6_6zBA5FmE_FxTTQQRtN3UPwE0c9PpgzmglZSfyV7VOQXn16MpkBLUFSwjaMJnUQBDlDFO0eZpRVexWjDaME7Odo7Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724201358,
          "updated": 1724201358,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/306351212/93eeae0260d94498acee8372f57082a2/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "-HuZ9bK2WaOP959-qbfWVrjxryHxoi0LV2qhDPatgXSSo44uOo_QSkAKN9XJ4GRHujK6Lre0PJB8gdERZPRHcw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/306351212/93eeae0260d94498acee8372f57082a2",
        "value": "BJk5HabNyDAS_RTvcoZthPoWEEaKFnfjtQgsYI_8ZG4OtAdK5_B4yjnoAQ1TJhNh8OUcQ1jznyNle43xyDs3PokEHH5jh_jWZD8QJay1lVncDSLbdUWi3moNwryP0mLYwRbStkIRrNazG5EKsSsmMxrjHDu6CTuzKbOWTauisRfYWytJLoecpbbFGI2o_Jzojgj9ax1Kf3eru77Dkpawrrtu6kChG0KDprhKWM5bB_RTuXfrjxCrhlj6R0K--CgMs2G4pBSyl1xzz_iK5oH7C2dwhY0m30kWK-i1Aqm-f-4A3L1kHsmy0nHmkPo64JV0_er5LIW8m68-_f9Mx5VJPw"
      }
    },
[...]
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/306351212/93eeae0260d94498acee8372f57082a2/verify?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "-HuZ9bK2WaOP959-qbfWVrjxryHxoi0LV2qhDPatgXSSo44uOo_QSkAKN9XJ4GRHujK6Lre0PJB8gdERZPRHcw",
        "value": "BJk5HabNyDAS_RTvcoZthPoWEEaKFnfjtQgsYI_8ZG4OtAdK5_B4yjnoAQ1TJhNh8OUcQ1jznyNle43xyDs3PokEHH5jh_jWZD8QJay1lVncDSLbdUWi3moNwryP0mLYwRbStkIRrNazG5EKsSsmMxrjHDu6CTuzKbOWTauisRfYWytJLoecpbbFGI2o_Jzojgj9ax1Kf3eru77Dkpawrrtu6kChG0KDprhKWM5bB_RTuXfrjxCrhlj6R0K--CgMs2G4pBSyl1xzz_iK5oH7C2dwhY0m30kWK-i1Aqm-f-4A3L1kHsmy0nHmkPo64JV0_er5LIW8m68-_f9Mx5VJPw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/306351212/93eeae0260d94498acee8372f57082a2/verify?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "-HuZ9bK2WaOP959-qbfWVrjxryHxoi0LV2qhDPatgXSSo44uOo_QSkAKN9XJ4GRHujK6Lre0PJB8gdERZPRHcw",
        "value": "BJk5HabNyDAS_RTvcoZthPoWEEaKFnfjtQgsYI_8ZG4OtAdK5_B4yjnoAQ1TJhNh8OUcQ1jznyNle43xyDs3PokEHH5jh_jWZD8QJay1lVncDSLbdUWi3moNwryP0mLYwRbStkIRrNazG5EKsSsmMxrjHDu6CTuzKbOWTauisRfYWytJLoecpbbFGI2o_Jzojgj9ax1Kf3eru77Dkpawrrtu6kChG0KDprhKWM5bB_RTuXfrjxCrhlj6R0K--CgMs2G4pBSyl1xzz_iK5oH7C2dwhY0m30kWK-i1Aqm-f-4A3L1kHsmy0nHmkPo64JV0_er5LIW8m68-_f9Mx5VJPw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "1123213936"
  }
}
