{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1423313285/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1423313285/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1423313285/6bf9b000c4e445b8bb63ebd42271e505",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "p9kjCQjmgPjNEYgpF-iyKFzMZde_WVfZrPKb7xrh67HlZUCORcKD061FVS4jWaPwpC8ptUgZD2i5cqptVpV7HgCXkfM_oqgqm0GHsNajIHj6JuGkafNq2B8Zn7zJXLWELQlBlwkyHZ1iox2YNXlUsVuK_n4UKmDvdSl2De_UixW30K_veyV8VkR4fsnAYAVk8sg6u2r_OwvCcXlWholjNtB8J_4NwsVWhhsAEPicddog9a-1x67hz5QrKo9cBkXnoFZBuSbWeKE9KtdH4agi81UjizQSX-4t8fJ5QfSZ-SecAs3fWV4F2s_vf6p6YKy_tbeQUX5RW7aBmTvvPqV80Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929880,
          "updated": 1742929880,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1423313285/6bf9b000c4e445b8bb63ebd42271e505?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1423313285/6bf9b000c4e445b8bb63ebd42271e505",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "p9kjCQjmgPjNEYgpF-iyKFzMZde_WVfZrPKb7xrh67HlZUCORcKD061FVS4jWaPwpC8ptUgZD2i5cqptVpV7HgCXkfM_oqgqm0GHsNajIHj6JuGkafNq2B8Zn7zJXLWELQlBlwkyHZ1iox2YNXlUsVuK_n4UKmDvdSl2De_UixW30K_veyV8VkR4fsnAYAVk8sg6u2r_OwvCcXlWholjNtB8J_4NwsVWhhsAEPicddog9a-1x67hz5QrKo9cBkXnoFZBuSbWeKE9KtdH4agi81UjizQSX-4t8fJ5QfSZ-SecAs3fWV4F2s_vf6p6YKy_tbeQUX5RW7aBmTvvPqV80Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929880,
          "updated": 1742929880,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1423313285/6bf9b000c4e445b8bb63ebd42271e505/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "9MDFEdJMWxqz_NWv_qXcan98jsbXm2mGzEfu9Lbyt0A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/1423313285/6bf9b000c4e445b8bb63ebd42271e505",
        "value": "l_Zvbwh9yoNh0N4QM11o9Y9syw9q7XzpaCL5XlTWIvtouW-pkwm0Mr2dakY-AG8pg8dlWCW1vIAxfwvddL7n8ykylleNvfichgQfj3svVFCtZjKLTYMChbvJwl7IiV6_KiIpb28ygo2qNeMPbjgu0J-AeJA8WUfEQwBmcG9EKy7U9yArQYCvMah48rQDYdNplry0bmd3zGBztEBGrO8TUQ5H6gfZPK21gQHGJ8C5DzWSG3T74c1v3JS49bINUakmG7jmRSkY995D_OZ1JXvEY-GOdraCRCwWuWqUl5C1-NAb5DJB7OS780cylf0VivJGhEr4-tGpC_-3RUGh8SrtfA"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "1585049852"
  }
}
