{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/450555172/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/450555172/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/450555172/4bedb03cc0dc4124b6cb7c1400395f8b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wZjv6jGfELlN48LGe3cxnCS1czzyZ7iqNgNy8bzL-0X6Gqh19avccm1yXHkjZ6PmVfmG61TRrvzTVb9pNKPIvf56ljEjAjwa3qojz36qchSCY1A5hIr5CdpVz34yhCTeeg7h6npVa3xJ3GtTmk-bnDvQB0iBLRcQGGgxJkoEn2LayGONss_YVGDFzs37XgKzcV6YFQfVF3Z4y2EIVId3eytALN4GnmGrhUA3I_Q2r8g7TcQYNvPAUk7DlPVQ0iQ89tOpSXZ2jkIMewcv1t6OpZqumlR8bXuOCT2SFXITQkLugMQCCPEW0dOttesk5NGvcTyPQ_X0aIO5SsQcE8tZpQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759311819,
          "updated": 1759311819,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/450555172/4bedb03cc0dc4124b6cb7c1400395f8b/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "mFSTkpdgT6Vp7vKzKiI6vWt9LXiF-HwarrQjSiqX-yo"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t282557e4338dc910.vault.azure.net/keys/450555172/4bedb03cc0dc4124b6cb7c1400395f8b",
        "value": "Tw0zrIv4yMlHf3M_y3Lt7oEW7FWHSdaCXGmv5oy5bW4adRj9ZHnoUaNXVkkusdmVkNwK1p3NbIP8ff4nw3luW-xN5Emo8HI3tlkoWmqZTTkq3JNXnLF9G8Eled4A6v3LxFTz9HKgZevHPyTwhjusIWvGNBkcFdLX-R6QVNfa[...]
