{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/281315281/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/281315281/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/281315281/b42e8a4038d3482baa219820a7b01916",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "tDrkFhOwsegmZgJO9QeKDrAWarJjA6s-DbsBRG-UWEBlbDry9RhP7LEbFYGFJkkR",
          "y": "ZC3WCbcb2gnXmbFuSsHE5oMMnN3wR_1mTJa8k1mulEiBVZzWovnMr4W8u_6gMVbr"
        },
        "attributes": {
          "enabled": true,
          "created": 1756418424,
          "updated": 1756418424,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/281315281/b42e8a4038d3482baa219820a7b01916/sign?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "xcHli7jsVzFTlwlffSBpFpiar04VIfnPn3zRni23ectqdgCcdVKFbyXzpkrgyRWe"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/281315281/b42e8a4038d3482baa219820a7b01916",
        "value": "IEgFeq2CYjrVUfy90hdoujBVoCcsAYzlq_UojIIXNBuv9iZs2U00PWYwIMSAUDQYfRqre2rxux6fZGOVNr74k5MlhMq9lFTCE6nQ6IadAXKT-_IBdlqg148yBW0GlSdO"
      }
    },[...]
