{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/18738572/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/18738572/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/18738572/57496c6ef01b412f95251d31539babdf",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5bxMylo8q3cM8emyercqCkyRgTljtCpkewvWECTblabQnh290wtufJxM8X_dFxy4ug3wD7h53Ab-PCmUIfQQbiv5Hy1GysTXPHZDeUAdEbjsNYwXwiftmqlGR9pZI19Uxg18ZkIYsrlTxaIUfiCpAjzUHWxyQFIaiP2GBUZYY9HbJvwX_qxHZubQZBlHFiRmwFXIN92OfisZ3f0q0FfgAJa8ASnioKYvGUgeKfD9V28OrMrhfXUO80RKx0h3Bd71VOdCdxkGNTvDOOFZpQc20bqOlp0JhDeTboB660sYwGcsymHEhms4l-IevMpEwhRAE4yLNQN26Ma-xzS11dUUEQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758945399,
          "updated": 1758945399,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/18738572/57496c6ef01b412f95251d31539babdf/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "JnOU9qMg6xYOb_n047tZQsVv7ODO4r0gABk7W-01ZkFK9xUoR02IEcc1s0Jz4soOLwieYgZxiBFebfqOFBfbRA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/18738572/57496c6ef01b412f95251d31539babdf",
        "value": "pof_ljL6k1b-nHTjtAjnOkst3BUSX-fEFYXr7perrtm9UPYdlI7HmGRho_gbPW12lJw1KKJP9mXDCkllhm0dnAuMdjXRJr0F638dixFgDLJxINE6daQauLSvcMr8FQ[...]
