{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/674221205/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/674221205/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/674221205/a57fc561955749d0ab94f2c4a296fba8",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "vmxjZLxA9BvjIvCM_ALJwDCzC-psMOr_bkIBmL6Sbxc",
          "y": "_IK8_ICnxES3F97FpII0yRQ3-TOEdHAm1iCPT89zdlg"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929979,
          "updated": 1742929979,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/674221205/a57fc561955749d0ab94f2c4a296fba8/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "ZEY_cBFzvsRC2272Ty9w0x2a7G56XhibjPWu99NC0ao"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/674221205/a57fc561955749d0ab94f2c4a296fba8",
        "value": "OXjWsudZ2cGFWWKVY9NIQ45mfBw3PoUym5dKmFM3BZU-l10jcCN_w_YuCMQbjNYdpFcNIyj1pQ-Lt88j701cyg"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/674221205/a57fc561955749d0ab94f2c4a296fba8/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "ZEY_cBFzvsRC2272Ty9w0x2a7G56XhibjPWu99NC0ao",
        "value": "w9MQHeRjaXL-kPYib-Ue2TGqT1F9pgfLEWqfoOZtuYf3-tDYvQMlDEShTgPN0aeUmZEDYbQ-2udyciXAnSQXjg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/674221205/a57fc561955749d0ab94f2c4a296fba8/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "ZEY_cBFzvsRC2272Ty9w0x2a7G56XhibjPWu99NC0ao",
        "value": "OXjWsudZ2cGFWWKVY9NIQ45mfBw3PoUym5dKmFM3BZU-l10jcCN_w_YuCMQbjNYdpFcNIyj1pQ-Lt88j701cyg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "2007270699"
  }
}
