{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/2111358755/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/2111358755/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/2111358755/3cadc32fb03540d488426dc3911259c1",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "t3AR-Kc4-jrChaUhjHtV-nxfeq_33cGyGyrnJvSIHZXcTsyzUvDaVdnFg8yK7S_mvPYVpKmMNc0y5SrczCGcOXLnyQviaYUX4MU6pI2k00twyUVJpNZ1Q57bR56qL6bnZpxrF0b39A7I0krlaXuSRwFRMUM7azqJxNzEA401mbTwEqP33Qd7wcttKTXu_GVR3azPFtp9_Lh-H1_q1mK0Jk7nIK8qDvngHgf-5jr2NKHn6zeVPtG8GZ8FdtnF1RE1W1-sewrE6eWsL0JVi5Km9uvsgUpcrJHMS7u9n-l9r7pzOcX0GY_RmM-55kgXGWR642qJekav5KVjlCt_fzwhBQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756942236,
          "updated": 1756942236,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/2111358755/3cadc32fb03540d488426dc3911259c1/sign?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "D-BoFzmV_rgWmJU_6Bje1o7AKDChcMUNljTiwM60wUg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/2111358755/3cadc32fb03540d488426dc3911259c1",
        "value": "TsYZXyvLh1uGCk72ac2_74wB6vyEjw-a1MOz3dX19w-KlP1l0-VLUksfwY9KoBXzDGpeJsMAtHhqKfCz7wMpl2vKk5vLppY10rwSR8HBidBHFgVmg4L1jvMuke0LTR-54EDshdRArEWAW_tamOX68MiMCV86pPH-FlfQTjt[...]
