{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/677985010/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/677985010/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/677985010/b4fc3103a95646be87b96693955f9376",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "gK7HjlSH9LpiSh-7HrtRaWXArfEIieskNo3d99tlzu8",
          "y": "LYqN8TF-4699vtf9HqZrwSyn2Iu54HMKcW0f1sgkr4k"
        },
        "attributes": {
          "enabled": true,
          "created": 1756942557,
          "updated": 1756942557,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/677985010/b4fc3103a95646be87b96693955f9376/sign?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "nOm46CgLozC-g-usToh4h5HMLSk-0xhakL-5iUSs2gA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/677985010/b4fc3103a95646be87b96693955f9376",
        "value": "6woX-n2daGeR3Gi_87zE_UDZZSHMRZyzzvM0KTAwjVH1lCEulCaTWtVVDkLBmUxR_aoMKT-41tGrNUXopqe5rw"
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.az[...]
