{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1495026886/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1495026886/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/1495026886/531b09a94cb04e7a85fee424654a2626",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1QfxhCV9PXBX-lzwPmDB-MRtU-qf-A_3pEMPoaFRaPCI2LQfEixCNDfE37o_zVASzqDAuz5cfQomeuc7M3rwaT6604ls0DEHrBmiPoadEyL78KtXiaFL99_bjymM9XUtNiavA-YDqIIUI70OhraR9DTe_xtVgvHCGcUhVO4wWNfTqqO_BgsclBWO-cJ3MwXy02HrF9t1IdqcSzw8Y_iynBl40vrgycLkNIJaleoisAPIEc-qKI0VWJPrau1AzQWd6SmUl8oXpl28YWefgjwvhup5ubNE0D8RqZt3JU00G5x1T1qWC0v9lMR7tIxG5pz_3sW8R63KiwyLkoF6s1PAVQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759312859,
          "updated": 1759312859,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1495026886/531b09a94cb04e7a85fee424654a2626/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "Jl7tXsPB9kQl2e8uun9JkjCwWAEvpn5F9QVeyks2Uec"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t282557e4338dc910.vault.azure.net/keys/1495026886/531b09a94cb04e7a85fee424654a2626",
        "value": "vt-jwov4smvrmkxDjUSgqj7D1i3HZABXA9yKRQadP0ksChRmqOJfUzxSf4AWKhMuecCg7GP3mfKOAycpAVTT7xcaV1MgF8Yb8NHugtlPsGNVqnEgAmfOmwGI1H4TzSlLNSsQRBbe_iEhSkRQ3sBBzonYZ6d29JSU1GW1cuu[...]
