{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1661939643/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1661939643/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1661939643/eff1cbfade9945f19f9eb214495474ef",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "4Ft_eb54FBTvnMx7bQlU_SRouK6S_PL1n-srEeIMI_Yohr3bI0CgQ0kYzKi4lb-g",
          "y": "V-lYuJBIXI73tFfa6iiES2fKqTIY1DjN28HK35O21ke1HHbvJReRTos2GsOvzoQ3"
        },
        "attributes": {
          "enabled": true,
          "created": 1707529964,
          "updated": 1707529964,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1661939643/eff1cbfade9945f19f9eb214495474ef/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "xTPkZ8PChnJfZg9JLnqNTHKlu0Kj33e4hQo8Os5Bf8H22FFVWppNimSGWBh_nKGF"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1661939643/eff1cbfade9945f19f9eb214495474ef",
        "value": "S1LAKwJJrTUPwMay-sMDl1R4y0Oy2_C1CxbU-hQg9JQxuMV5m5-_fG6Na80icfJv_Dt7V8nokdTQ-Buiv7YCtzpHpbPU8R2Bmq4YKG02E3jBDenSvcN_U6Aueiw5caRd"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1661939643/eff1cbfade9945f19f9eb214495474ef/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "xTPkZ8PChnJfZg9JLnqNTHKlu0Kj33e4hQo8Os5Bf8H22FFVWppNimSGWBh_nKGF",
        "value": "f5c3N6aKI93SyXB8cU4afdK5tJTRV_U_fy5CKTHWnz6pdpODkGWPRbApyN7LUh9J2lUGCZt0P_yQjjphZk3OZI5XVZrWSMpeNk053GnTpkm8RRB88xEMV4vd0mYSXl3C"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1661939643/eff1cbfade9945f19f9eb214495474ef/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "xTPkZ8PChnJfZg9JLnqNTHKlu0Kj33e4hQo8Os5Bf8H22FFVWppNimSGWBh_nKGF",
        "value": "S1LAKwJJrTUPwMay-sMDl1R4y0Oy2_C1CxbU-hQg9JQxuMV5m5-_fG6Na80icfJv_Dt7V8nokdTQ-Buiv7YCtzpHpbPU8R2Bmq4YKG02E3jBDenSvcN_U6Aueiw5caRd"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "334723250"
  }
}
