{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1327280001/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1327280001/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/1327280001/ed470335996b49f39316cfb49cc40cf8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wMBKW3XVvwp32Q0ip9uuYmg2XbpCOhQABaBcsw-d6ixT8-pAVzL1JClMFpq9KKD9iaUWkxzGK1UOUWB_K69Zvi0itbEbxb13x63sTet1wXzxb_Vmm5qfp7EBN7oz-8Hvb9Z5QITixO1u0b5dkyZCJeLtYyygMFYaKpT7PzV2achKRRS14kNKBARsNozR0ZbTya8iThitd-_E7c_QeMjAI825rev_v6UCZwt3VCQZTjKpJciGu3YUQlV5wfMIR6UVdfGF6PaXXfaWsh7GGEfewXtb0cPffNnMiyXIptMxdFIhpKSUXTunR0bNTh8QIZfuqvMjlAgtnA5OeRX70rtykQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759312751,
          "updated": 1759312751,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1327280001/ed470335996b49f39316cfb49cc40cf8?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https[...]
