{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/301958457/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/301958457/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/301958457/74c6efa89ca245a5bfe943a9a1051196",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1iuu8WWihqdFyCmWUno_ZoUn-g2KpRFy0OXeQamF9xHOOe_vFh1_LHBGAM86oJroJKQEBVleQevS4NSboPRsz3HN2eZ6pEKucDmZQR_zClKON-M9lwIsBMmBH8oKiWv5y0akWYwcgxtPJnGsK2NDhvaitnl_2jdUqc5CTo7KcKJ7eFE81gxTP84wPeGKV64TbJbhaT9wRvOKVdMezCv3GzmoQy_Wtzw0NiKkA0pDe3lXNLVnPSbES_0aL6desNYCrZHEPkLp-rkZJUHTT8Pp_6REB7QUc58gu0EXjJ-qfoJIOWhf-KRaJvwPtjUU7g-z_9_mOg8HAoVvfBzR3N4mgQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780403332,
          "updated": 1780403332,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/301958457/74c6efa89ca245a5bfe943a9a1051196/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "Nx3wPHjUzMEWENxAQEAqWW2sNyDCh5Xdyu2xUNQZSjI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://externalkeysdk.vault.azure.net/keys/301958457/74c6efa89ca245a5bfe943a9a1051196",
        "value": "SdxUunnJ1x_kV0aTdXbXvyX8AT7CWYpJTtQtYUMIASdVEGpynZ07dUGrRDNMpgTYjBP6SVLCQIsj-Oynd7T55zSQ9NI8nbhcV9fbwHTVr9VHphrMsN3igYwvM_kbmgxyooGbqKhmZH_TRDM2jor6n4zv3-eH3FCUvxBJ6YQ7hvJ[...]
