{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/266383395/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/266383395/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/266383395/f386174c239b4ff39f161967f61454cf",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AC9rw-D53chAK66exdyHtYqkrQjP_1hDUu65o7SGUtSrsvp1TaXHAK_me3dGP2f2vdYqMcYl94YZC0LWrhAKMKAk",
          "y": "AE1YpTbIrGakHdTpJ6-AXFXKiJXQUTF02ubBYi7_2MvcBR0OQx6-13tI2Peu1HdhRhnxQWKJCXKWnHcHEEjMZf3Q"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929543,
          "updated": 1742929543,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/266383395/f386174c239b4ff39f161967f61454cf/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "w7O_0FL0tfZWRVoWG3YJnLgv79Fpem_BzVhcpbaQYrwYpbQG6ByIekAmTuO4hA9J7qbbIPBNrFZ94lrcGbsUEw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/266383395/f386174c239b4ff39f161967f61454cf",
        "value": "AEsz3bB8nTiONHELEV3LoQVPMy3R1MKgWVoUzilJErQZg8z8S7iQQDIPI3M2WZ5OLAfVYkKUo4Dyv1kcozSL7zKVAIkywg6T_1LwKsAeRpxUzqH5RO3_n4I4sON_b0YvFPK8sx9OKVXwwzOyovBrlf9fiY_imc1qtxJKBcC6V1psso8v"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/266383395/f386174c239b4ff39f161967f61454cf/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "w7O_0FL0tfZWRVoWG3YJnLgv79Fpem_BzVhcpbaQYrwYpbQG6ByIekAmTuO4hA9J7qbbIPBNrFZ94lrcGbsUEw",
        "value": "AL8klwTuivs9o5PTL4eOr9JF7kk2NjafpFUzxPO_z0YKKIr2ht4ZrBhyYwLpfYZXbBZD-15HmcnH0WW_hxFXYZ2tAEPIMUG6ElPOEjbJ3sJiBA9yEgq6-9b3ALfF4uS8JunWcwW_c0UNid3pJq9tn1gMt2CQJIdERMALj_hltBkxcUcZ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/266383395/f386174c239b4ff39f161967f61454cf/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "w7O_0FL0tfZWRVoWG3YJnLgv79Fpem_BzVhcpbaQYrwYpbQG6ByIekAmTuO4hA9J7qbbIPBNrFZ94lrcGbsUEw",
        "value": "AEsz3bB8nTiONHELEV3LoQVPMy3R1MKgWVoUzilJErQZg8z8S7iQQDIPI3M2WZ5OLAfVYkKUo4Dyv1kcozSL7zKVAIkywg6T_1LwKsAeRpxUzqH5RO3_n4I4sON_b0YvFPK8sx9OKVXwwzOyovBrlf9fiY_imc1qtxJKBcC6V1psso8v"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "2064170696"
  }
}
