{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1109699685/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1109699685/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/1109699685/e3dcabd43ffa4211bd44990f930c3fbd",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0JatLKcGcUpLpjdr_KYzwtlNJ3rOMjE99Yl6LeKa1Tkb5pyluyHb70-kqkkv7icOhcK-PZo6ciHwV7mjY3YCPHpABvegMmHzr8oWPl6Z0REQwXJ7AWOKbyk2ZVOiuOfNW8qSP7DySAzvrnMn8DA95xykCpSpZKo19FAMbIZLReNY_VvqSHvly59EmBUyd0bZJ7kXeU2qYQsw6QbG8j7jEURxEXPhc-MPrm7ODOUG8-MLPVD9OLC9H8OP88vzBYZAVxyBaG87MA1cV5aUFT4asbFg24Q_1xZIG992K50Z0kehLc91bLD7fh-a-6EJUtsl1o2yz-0pc2suaa4JSoWV_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759313092,
          "updated": 1759313092,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1109699685/e3dcabd43ffa4211bd44990f930c3fbd/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "zj5ZmVZ5HU227XEaNZbyLrLb31x2e4nLIgje2EIZRkE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t282557e4338dc910.vault.azure.net/keys/1109699685/e3dcabd43ffa4211bd44990f930c3fbd",
        "value": "be6o2WsvIioQ7Dm-8uZF8qUGw5NirSOt3cQInYz5bs_e9klHmEBHo9l6OJGf52ZnTNXTueteXGtKhOvyxD6CzDLNd2ffkgYE5zBj9lXSpL-JFNpVHYvUSVN5hdb0pRvnKT7LQnh5ywQlJCDiLBOuf26F8kqcK504VJI2ygB[...]
