{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/163173046/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/163173046/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/163173046/77a51d46dad84fc8ae95c59ace79de77",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xLuW7dbH2yqsmKBaW73ni-ckgeR1T22rZWzcMoPLkv9ve9Y9wEAZNxptHarcdVmRJTRZqMj91TeGlIa9Dt0RFokML6-vRJHZ2kZUfN-Fn0aRvVj39RWAb0ZdLpjyTi0vh8cgbi3oaFj9VGraGrCfuqIL5ADr9_8m70SjTtZB8XN5oU6Z8p2Com0K_P78zsD0whfJ9IoB9eCoivw-ZL5f8_XJYJni8tCEF78bOUkIqlAXZCi8hh6GuhP0q-HrkAWQuHldL8kxQZSJCB_uyby12PcstIrBASNyB5-WkCL_qPP8Iv0gfPNrwz6xtXEjLeT64Az6OjO-CWeX2M3eG_ikHQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707529937,
          "updated": 1707529937,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/163173046/77a51d46dad84fc8ae95c59ace79de77/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "fDS26qHHCRThFfzDNc3KXvB_0osdNunsOo0TTk7BU0y6JCJLad3aJnOJ7WgbZMfH"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/163173046/77a51d46dad84fc8ae95c59ace79de77",
        "value": "gAZu49Z5-49YYBw16n9BtiSu_fnpoKKJu8PLEq1ld-MoT8ZykcFzawW-c_aG0TyXVbgGQMPnTT7SoHZNnnEWNMYGPRudSRRzlTLFSiinEe_W7ldRg9lzPeEMpPLLWbf_ypL3PhTFo58qlDlBYhgMcjSeZcPdMskrgGi2OK_HRO7hPvn7IcPjkEO3MxR2c2jPfZrmGRlgy5X8OvKy0Lztz8cRKLuPJ--zYiPPESwTu4iiC-L8nZyiAA_EBxhfueTw7_p2Q8JxoJP0cddHecpnRNkJGresbe2oebSa9PR5x-uAKtThYRVTnzFTBiN2AO82HlPOWbPVfURY0j6d3RQmSw"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/163173046/77a51d46dad84fc8ae95c59ace79de77/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "fDS26qHHCRThFfzDNc3KXvB_0osdNunsOo0TTk7BU0y6JCJLad3aJnOJ7WgbZMfH",
        "value": "gAZu49Z5-49YYBw16n9BtiSu_fnpoKKJu8PLEq1ld-MoT8ZykcFzawW-c_aG0TyXVbgGQMPnTT7SoHZNnnEWNMYGPRudSRRzlTLFSiinEe_W7ldRg9lzPeEMpPLLWbf_ypL3PhTFo58qlDlBYhgMcjSeZcPdMskrgGi2OK_HRO7hPvn7IcPjkEO3MxR2c2jPfZrmGRlgy5X8OvKy0Lztz8cRKLuPJ--zYiPPESwTu4iiC-L8nZyiAA_EBxhfueTw7_p2Q8JxoJP0cddHecpnRNkJGresbe2oebSa9PR5x-uAKtThYRVTnzFTBiN2AO82HlPOWbPVfURY0j6d3RQmSw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/163173046/77a51d46dad84fc8ae95c59ace79de77/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "fDS26qHHCRThFfzDNc3KXvB_0osdNunsOo0TTk7BU0y6JCJLad3aJnOJ7WgbZMfH",
        "value": "gAZu49Z5-49YYBw16n9BtiSu_fnpoKKJu8PLEq1ld-MoT8ZykcFzawW-c_aG0TyXVbgGQMPnTT7SoHZNnnEWNMYGPRudSRRzlTLFSiinEe_W7ldRg9lzPeEMpPLLWbf_ypL3PhTFo58qlDlBYhgMcjSeZcPdMskrgGi2OK_HRO7hPvn7IcPjkEO3MxR2c2jPfZrmGRlgy5X8OvKy0Lztz8cRKLuPJ--zYiPPESwTu4iiC-L8nZyiAA_EBxhfueTw7_p2Q8JxoJP0cddHecpnRNkJGresbe2oebSa9PR5x-uAKtThYRVTnzFTBiN2AO82HlPOWbPVfURY0j6d3RQmSw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1583293351"
  }
}
