{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/2031295444/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/2031295444/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/2031295444/acf3fb7ec9e948b08bd6c69656d7cf49",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "Mw-3JAwQGQ2qOtxltiqpqhfZL11N7vSK9wOwijKeGy0",
          "y": "QXpRNajJBJ1litvT3j9xCNzK6rlJfYtjNGZdXrhrvso"
        },
        "attributes": {
          "enabled": true,
          "created": 1758945204,
          "updated": 1758945204,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/2031295444/acf3fb7ec9e948b08bd6c69656d7cf49/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "7E8nGse1v2sX8QsNza92wiPIzKDNjI06H99PM40Yt00"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/2031295444/acf3fb7ec9e948b08bd6c69656d7cf49",
        "value": "jJSH7aEUOj3QLPzT9y52TJD0WofRydHPelIeHg0T8ThnUpB_tmgcGGqyqm2PTYfCWbJypKAvZ9EjHr1CMOsrAQ"
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.a[...]
