{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/947855598/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/947855598/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/947855598/6f19cee9fdfe474989f76bd4553ae028",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "oteAeyoz5PAQmGBcNhmCc97-Uec6O4wfjionUBrgf28vqHr0M2DumBA49FjElAtBkBa-zPL_HKcCUBIZywnvhkol1VTo10DeHhN9Ik6sXISQfq7SzGWGzkcJ2nR_VKzlJ5YqfzqfA9q0VMwboACK1suuY1BC46Xr6xejrxUKYW8YYwJ3HrDIP1feuR60RgvpW7FI5VH_5UXJRszaOPeYYojkYG85hz3zbFcXNm9chDNq8M5Qdn5EYy7_1boWHGRMZszSdfBVeJQCEAm2E7qAZmzFHYkYin6YZanKbbDi9DgmU6IE9NDYzjPA9GRaYcW5XXSaeoWnzmu4oO-QXLLSHQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998187,
          "updated": 1692998187,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/947855598/6f19cee9fdfe474989f76bd4553ae028/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "l39fTXs9J4RRICpDOrz5mffHmaZSyX0tBBvxk52I_lM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/947855598/6f19cee9fdfe474989f76bd4553ae028",
        "value": "KMaUmfWI-KHw_spSL2p0UQGn1f5r99OPXueOLh50wXPKkcJ19Yazlw9WZzs0wmD49LFRhb0_oX-lj75xvLC9cgIjK874DFuzniPIgqIlq37mVvVn7WD-62U3kFkPT4S6RJMvr1m3q4k9YvyeFnDzLEYGW9Pucz69qVhBva8QHbp2dPXd96tOdve0IBRwBFxcpxlZ1o2mEMvRCg_L7AIOg_-a1VqRPy_AVnJhzPqyh_o0aGutR9dwddae66A_Enoym5X7Fn9MqlrVsiH_tQ5v1o9SBSwOMTTxQtnZ8Sy-DpAcbvrhMbVka41o-hd2vfuw1bmM0nXnDQHkIQnb_Nm0_Q"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/947855598/6f19cee9fdfe474989f76bd4553ae028/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "l39fTXs9J4RRICpDOrz5mffHmaZSyX0tBBvxk52I_lM",
        "value": "Gwty2X_mFl_uV0L2SV0tDcZqTZmehjaLE019kxQP392N8QxmlD09nUCj0lYmS7b5johTm2_JFRurSMzQpAcSL6viE-Kcdq8PXqMMibB5sl8uztv35adaLYfBvcz4_R6CcHhRrhy9Z4JVQyylGKGwZE-lzPgf_XIjT5zFPVYbsw5akq5KEOvZxYZdvlCqKMYUFxw0UcDIjTJbB_J-IKiQjXt4zH5yiq20WunF5BqOp2jW8541ND0pV2WGPLAa_TFObDErxdA6EDOfHXjxsoPcrcbn2w7TgrADiWyIysPDFvlt4XmIQz4FLirGB8NqTgBKCpJ8UaVUgc9ab-Be8DZCaw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/947855598/6f19cee9fdfe474989f76bd4553ae028/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "l39fTXs9J4RRICpDOrz5mffHmaZSyX0tBBvxk52I_lM",
        "value": "KMaUmfWI-KHw_spSL2p0UQGn1f5r99OPXueOLh50wXPKkcJ19Yazlw9WZzs0wmD49LFRhb0_oX-lj75xvLC9cgIjK874DFuzniPIgqIlq37mVvVn7WD-62U3kFkPT4S6RJMvr1m3q4k9YvyeFnDzLEYGW9Pucz69qVhBva8QHbp2dPXd96tOdve0IBRwBFxcpxlZ1o2mEMvRCg_L7AIOg_-a1VqRPy_AVnJhzPqyh_o0aGutR9dwddae66A_Enoym5X7Fn9MqlrVsiH_tQ5v1o9SBSwOMTTxQtnZ8Sy-DpAcbvrhMbVka41o-hd2vfuw1bmM0nXnDQHkIQnb_Nm0_Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1451873135"
  }
}
