{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/379879053/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/379879053/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/379879053/0b5348b7a39f4a0cb470faad00562faf",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5erA6220SINuBXdErswI5PYHAebHaPXB4rXlCvSlMrukLdvB3sezA1ugtmeB7BGTCua88c16ZTUMTmttlXOpnWM5UXwkxdJjsjxwga8Aj2vfavqrHtFkoDq36E9WQB5UmB65W5avq6jeOe_fbAGNIrKO22iwF3vULdsh6eFjvdLp_Va4SFs8_eduC833N1GvXsyeaueM7c6y1jqYQqRBAGKM8iUnO7BqkfFHGcMMBxyhStzuT1T5j_g3VoZV6bbPfQQdzbVjE7G4fAP9t1_RyDr8CK3wUGsQrel6zPd9-YTS7tVF9yTfnOsLoQJWA0c9AIjT1V1E_imCO1oMHmbIwQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780403285,
          "updated": 1780403285,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/379879053/0b5348b7a39f4a0cb470faad00562faf?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "h[...]
