{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1267857512/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1267857512/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1267857512/adba62e763db4f4193a8ca8d965a7eae",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "r3s3T30AbGjMzwsYzeIt4bZvYJIOecwq7CyCeQ2wNiKXUB6eVxAa0pUEJWakJ6XbhnYlFJIDghuf98WgU43FjWgvYs5eNCt00dl8xaTEq7LdXhZNNF5nD8Z_mBysoSKICgXxKnm_dSIg9P896wbi6N04Y21Yqv4yIq7UTXK120WEeSrlNVlSj40kV0fQCTbx7sGL4gxVUNhLOVIusnzj461dpDuiw21WzzDHIgTdvU_wJftzJUs0NoXwXRL5Xe02kv5TwI9d_c7hcsx9JIdBgiXQpbdqYUfAigT6bom2AK4t3jJ_MZJP1CFzm3HDfE1mo8bY_DA4-5b02qkc2dNXuQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760787,
          "updated": 1750760787,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1267857512/adba62e763db4f4193a8ca8d965a7eae/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "Mrk1DWzvFd-xZtI02QuEMjMpFV2bTZQ2i6lo5OPQSNPpxJV3nJ2uXp-ZDGw8axxi"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1267857512/adba62e763db4f4193a8ca8d965a7eae",
        "value": "CobzWQLVthu9Ou9v_ETchw6OmjwQ58S4h4o2Hw-3EvNjDW1YW6PEFPKqA8zfm18nbX4O4SdUg2gBc1x14JrV4a5x-qqSqgmIXZQRY2MogUpRmuG9vTI8pgoqbSG3_Vu4a0vJ-Ne8PDk2Jk63aMhnaj0KAjDYEdZCUFGZo3jneJN-P7WyOb5HpYqKPX3se9AvcMM97AUzd40LlPFjPSZhJqHaLaKdb2cRCzuvfju5zYbLjOm07kzHxpMEbRQc8UBlbySihWPB1Qf3RxTqSTsL1nTuRcc2EDd6ZjS60XM83A0RSMV_91wBBLCyZdkcrxwTmwyTfCOiJAQ9_tAhhurWZA"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1267857512/adba62e763db4f4193a8ca8d965a7eae/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "Mrk1DWzvFd-xZtI02QuEMjMpFV2bTZQ2i6lo5OPQSNPpxJV3nJ2uXp-ZDGw8axxi",
        "value": "FQlWl3yfUt-F7ep8RQ8GarIAlKgbA7QDYi8c_VYLje1hHyW9IM9YVMh7eZzJp6VXpTWdlgmClmz__IqCQuCDsY0TjKQ09X8rmh8deZWJGa_TrWADC1KHxfc2yWQtV33wmGe3tZPPIzAVMIKa8nT_0YS9x3M5-J7LO8O0M8XGz2qnLnLx-iXSOtdSTxNDzzlU2fZsa9wRpjArFO7JZAo1XLrfqEUU2pmHQfWPB8-6H5RsJMp82ULnMoYwq2-oA-vksH9q1hZbytuJwDX1tc0S3skFlRnDndyMCKd9C7tdhWv0-cm9hXTkkgeYJzFMPwLN9ntAz8qVW856gv8pnbSTHA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1267857512/adba62e763db4f4193a8ca8d965a7eae/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "Mrk1DWzvFd-xZtI02QuEMjMpFV2bTZQ2i6lo5OPQSNPpxJV3nJ2uXp-ZDGw8axxi",
        "value": "CobzWQLVthu9Ou9v_ETchw6OmjwQ58S4h4o2Hw-3EvNjDW1YW6PEFPKqA8zfm18nbX4O4SdUg2gBc1x14JrV4a5x-qqSqgmIXZQRY2MogUpRmuG9vTI8pgoqbSG3_Vu4a0vJ-Ne8PDk2Jk63aMhnaj0KAjDYEdZCUFGZo3jneJN-P7WyOb5HpYqKPX3se9AvcMM97AUzd40LlPFjPSZhJqHaLaKdb2cRCzuvfju5zYbLjOm07kzHxpMEbRQc8UBlbySihWPB1Qf3RxTqSTsL1nTuRcc2EDd6ZjS60XM83A0RSMV_91wBBLCyZdkcrxwTmwyTfCOiJAQ9_tAhhurWZA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "372279661"
  }
}
