{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/672173034/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/672173034/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/672173034/967e68333d544e268e07e14cefdffdb3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4RT24jgZ7rZsNs6vvh7Cw-LBIvxtvsea5nCb0h7eyoU0xfzP7lxlIl_e98mzh5aBzFf0XezBhn9mfrRhEiNA0uHBfv1Ke_fUrUxvz2cwVQWZ99UYvgcbjUE-xZk0uof9GtN2DBYhNRcC98Bw3hD77FlVyUSXfs0rWKfR1LGtV5mhMTS-P5aC9wB9tGseQAvKsKyzEpQAPn5JIwyovbPhJgN1CyxPTOOot0dWxtFehIP2od9-H2--NJ0QCKjE7VrJdFi9PAFYXdNpgwR9NvElmlkYCuIbHWn8OqFKkw8CraI_PoHTeWaD8CjTLcAnYANRy73egYyu6BgQrcVlP21LiQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758943928,
          "updated": 1758943928,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/672173034/967e68333d544e268e07e14cefdffdb3/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "5sgExYTvPdWRi38IitalSn_ltOIGY-kyOn4YQLeaaO8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/672173034/967e68333d544e268e07e14cefdffdb3",
        "value": "zTpEJGpw1fn5tXS2zexQQtiRGcTDP6-tihpRcEcT8NYFlFzWl9di4adu0EzssGhMPysoQGR4k4dtvlzBf2vToVX5NIMm0p8uCVfgb7msggQc9zbVmoJYXp_RNswGvI_fGbQyHObqo56xzet8aKYC0sM3M8IJ5ydiTRGQl1KO[...]
