{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/890003003/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/890003003/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/890003003/f1c73268a23b4bf090178b4206e7afe0",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "7z04SOWnnGkBO2IwLW0cNVU_9caMX2fzHmGRqBTrVzc",
          "y": "Xe5_98mQMhuEK_De7wouwlGO8P33HZ6Y64Ko_snOZn8"
        },
        "attributes": {
          "enabled": true,
          "created": 1759312084,
          "updated": 1759312084,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/890003003/f1c73268a23b4bf090178b4206e7afe0/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "AoSLu4pH6KpF4F6GJlLI9eOLr21XSAcSWSwuYT3QXGM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t282557e4338dc910.vault.azure.net/keys/890003003/f1c73268a23b4bf090178b4206e7afe0",
        "value": "uiJ0e3tGTJS4dUYJaDxQmYQB4kh7Cwag21HVbv8vrneEe9mFYWu84yzYxpmCL6eSb9BP4nbUvlV-FzHm4ovSmw"
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.az[...]
