{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1838191535/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1838191535/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1838191535/94e57654e95646599d23bb82b96e1c57",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4dlEKJih_80USY-Hfd2oO2S6dm73J1ISVYUH3ZHfrNmLKVGV7LcKdA-AhRzv45cJXjZObrxxwtGpxDn0RNcXPDbrw5QTfDigof1jgrna7uNw4KybxaqVGs8skkM7Q8RlfM0GbS_rNML56QQsPvFLeCxlV1e6ixaFc4ZpZnNvzEFg6gouVmypHKl06LWQfCfHCiY0zaXFkUQpJIVOI1qyJ9vZbKOwTMjCwliQ-sV1jz1XotNykpzGEH0_sn08xzFGLyUeqvEYdsGL_CGRFcjflLx0ilBFpS-32dLhuDBmNYv0BKqSbgYx427UvwofbWxbTOKIunRSVXg4Xl5QklNBBQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707529960,
          "updated": 1707529960,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1838191535/94e57654e95646599d23bb82b96e1c57/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "7_0R0MQgls1oooAdF9Uhy1RhT4QPEXVr58FH-Zg5c-eXc5veyYk2rNvoKpKNAGZmINo-psS44pAKjiFO8QSymg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1838191535/94e57654e95646599d23bb82b96e1c57",
        "value": "f1XhVBcokQdfvKl8fy3oHDTirT3DU-H2wCKvwsIgEOGT5G5yod0JW_ICHxsKGlIqiqgfwPxUshEPxie_KbeqYPH9ZuoYd9ncY5FuWLx62jopdiInOMWzaVd5UhCEo-iIogvHEAxa_bE7rD43VQD-PeJMKMuFdHaYul1pPDH_FaayzocYPTkWQ8zsjRyRmu5egnnYUWFxvU_d5dpdvkZz-aSq4EjF0QsoYBw4rrsB3SLHO0hJS-a2Do-UHMFPkVF3GT1zkMHfU1gYVVOMq3Y4ws1QE1FkAmw-hX3LBJ_tOBMT0wwAMcTUVfXuiP3burFztboDDLlQg_4-ZnD4926Zcw"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1838191535/94e57654e95646599d23bb82b96e1c57/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "7_0R0MQgls1oooAdF9Uhy1RhT4QPEXVr58FH-Zg5c-eXc5veyYk2rNvoKpKNAGZmINo-psS44pAKjiFO8QSymg",
        "value": "aF2GxRDaak654SJQg9YRIUyt2geVLZFwPcFN1vzxyszltz4dj85WwGGQ8DF11RGv4iIDoTIW3gjL5sVOUisw4y6h8U8i0h-0mehRH8JuzgYSfWMkgiMAzfVkXmraTy_7zFYOjygUywIdAuO7bDGn3qwYVNhBPp7rfZaNux5PDD2MiVTsF5pBOllmmbs4lssuT85R_hEgEH6x1wpqIV6sOhMUACcVn3apq7K0ff9JiRITGBvDBaDmC34jwHcqC_nBhXn2J6w3hFvpQhk6GT9l-YquM4QEA69_0VfmifaycEzbJMB2Zz-JAJ7vH8y1KmbWtbj-WPz5Xdd-mnnfX2P1rw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1838191535/94e57654e95646599d23bb82b96e1c57/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "7_0R0MQgls1oooAdF9Uhy1RhT4QPEXVr58FH-Zg5c-eXc5veyYk2rNvoKpKNAGZmINo-psS44pAKjiFO8QSymg",
        "value": "f1XhVBcokQdfvKl8fy3oHDTirT3DU-H2wCKvwsIgEOGT5G5yod0JW_ICHxsKGlIqiqgfwPxUshEPxie_KbeqYPH9ZuoYd9ncY5FuWLx62jopdiInOMWzaVd5UhCEo-iIogvHEAxa_bE7rD43VQD-PeJMKMuFdHaYul1pPDH_FaayzocYPTkWQ8zsjRyRmu5egnnYUWFxvU_d5dpdvkZz-aSq4EjF0QsoYBw4rrsB3SLHO0hJS-a2Do-UHMFPkVF3GT1zkMHfU1gYVVOMq3Y4ws1QE1FkAmw-hX3LBJ_tOBMT0wwAMcTUVfXuiP3burFztboDDLlQg_4-ZnD4926Zcw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1429137530"
  }
}
