{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/852286805/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/852286805/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/852286805/179b203448b5460ca99b814683bd79e5",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AadfT4vuDlPhKfZ0-KnOYsc3CjMjlx6oHb8pypvK5ZfmyAiMQi8LPPeu_vxGFkh24Q2HrgD31sZ2esjwiByy4s4e",
          "y": "APzdYq6xX1Yh7SBAdGLOddkbvUsJsbNvC2JvIklAb1Q1OeWtfn-YBoW7_d4KULa1-bbsqPPiCoMsywwUzIhfMfY1"
        },
        "attributes": {
          "enabled": true,
          "created": 1742932816,
          "updated": 1742932816,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/852286805/179b203448b5460ca99b814683bd79e5?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/852286805/179b203448b5460ca99b814683bd79e5",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AadfT4vuDlPhKfZ0-KnOYsc3CjMjlx6oHb8pypvK5ZfmyAiMQi8LPPeu_vxGFkh24Q2HrgD31sZ2esjwiByy4s4e",
          "y": "APzdYq6xX1Yh7SBAdGLOddkbvUsJsbNvC2JvIklAb1Q1OeWtfn-YBoW7_d4KULa1-bbsqPPiCoMsywwUzIhfMfY1"
        },
        "attributes": {
          "enabled": true,
          "created": 1742932816,
          "updated": 1742932816,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/852286805/179b203448b5460ca99b814683bd79e5/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "rLiwCeRF1OOn2R8Cqhvo_SOgaz6277ane_mdTXVyTQ4XjRGoQlJUihi3GCqDNqcYlVldgxLMm0_sLHI4Di1htA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/852286805/179b203448b5460ca99b814683bd79e5",
        "value": "AFg22mXNTWgTuBnBgFrPFTwE6LlQFuDEb8kBfAlL4ewbHogiQf9lTaaUWmW32h2Gy010Z2wnh-dfER5v37ASK73LAHMMX-ewU3Mmcn6wB_XLo5E6X0pyukyVHodLfQvAyQVban-WAmqArFgkCmFLhSVbt5CrdEziqpTdN8eM8CXpLdqk"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "68589526"
  }
}
