{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1565526931/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1565526931/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1565526931/fc5446dc47ea45579d2ab75048d65b83",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "RuoH4EI1FqE-PIIZ8G-9wk-WYbs22_jPWySG3sm1HqDDTs6vO4K9bV7MXAOLpr74",
          "y": "uVkIZqpGIEg-NZpczl_g4CCneaiIJ-TAvQ978AEDPPCJRZLYFfhGnetPY1onJaUg"
        },
        "attributes": {
          "enabled": true,
          "created": 1724201588,
          "updated": 1724201588,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1565526931/fc5446dc47ea45579d2ab75048d65b83/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "ewxbD0ki7cngeTnf24FhcaqWZ4t6_h4AczTdlw2CT_kdgaKkTKeWDm31qLme5Eal"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1565526931/fc5446dc47ea45579d2ab75048d65b83",
        "value": "Hz5a3qyXtakbM5pVazNEuHgYN2_8SYVCEukfhIRlfF7KyikLaF6XjDL8D4k29QQupWnsYFyk9dZ5AD3L8ityOVJpt_WTLoooQHSjiayoiiOFwowujNG662fp_YjJVwSr"
      }
    },
[...]
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1565526931/fc5446dc47ea45579d2ab75048d65b83/verify?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "ewxbD0ki7cngeTnf24FhcaqWZ4t6_h4AczTdlw2CT_kdgaKkTKeWDm31qLme5Eal",
        "value": "NUnMotvxJdyWmCjcu9BsLdGjtlvq36EeDMKMBQvq_tppliFT5sjBd3u_ejTP1v3cVXk36h4AaK0EEIO9R6KfK8HAJ_XhvDISCIehdPtzuHgW2AmtIoKM_4-44fx431oc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1565526931/fc5446dc47ea45579d2ab75048d65b83/verify?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "ewxbD0ki7cngeTnf24FhcaqWZ4t6_h4AczTdlw2CT_kdgaKkTKeWDm31qLme5Eal",
        "value": "Hz5a3qyXtakbM5pVazNEuHgYN2_8SYVCEukfhIRlfF7KyikLaF6XjDL8D4k29QQupWnsYFyk9dZ5AD3L8ityOVJpt_WTLoooQHSjiayoiiOFwowujNG662fp_YjJVwSr"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "821337166"
  }
}
