{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1489066421/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1489066421/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1489066421/ca46131cc463401e892180d62dd5ebf3",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "FSSCffnscz4hJkgEfrq0d2OlWSi59vRxKeVxx4T4odU",
          "y": "nYKh8i0p1ygBzQX1lxExanaz86uDvU5ULlLDSJFHvaM"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929424,
          "updated": 1742929424,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1489066421/ca46131cc463401e892180d62dd5ebf3/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "XgOf28wbXAzQjIuM19ZGX832ATlYdEWWLC2V6jhvg4E"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/1489066421/ca46131cc463401e892180d62dd5ebf3",
        "value": "p0QvSTmIRjPSCkRmc_DZCOOu0sW8bTokVJZqNaAXqJ1tH8ZvyfP_axq_Y1oJ7cnf3uxkxb-5Iwx9FLnhi50THQ"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1489066421/ca46131cc463401e892180d62dd5ebf3/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "XgOf28wbXAzQjIuM19ZGX832ATlYdEWWLC2V6jhvg4E",
        "value": "PNOcutD3iQrNJN9TrZhZhx1U6Omd4SYJj7tEAaOtcbQf-kBCeJMHVx5usl_XyhPMJ2hVuRtk9fCc8R-3UIjxuQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1489066421/ca46131cc463401e892180d62dd5ebf3/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "XgOf28wbXAzQjIuM19ZGX832ATlYdEWWLC2V6jhvg4E",
        "value": "p0QvSTmIRjPSCkRmc_DZCOOu0sW8bTokVJZqNaAXqJ1tH8ZvyfP_axq_Y1oJ7cnf3uxkxb-5Iwx9FLnhi50THQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "210432747"
  }
}
