{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1405465028/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1405465028/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1405465028/d0878d0fe4634a748c22799a89752483",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qv7MIkFU9MkuU-AqfYloLKdUooxcA4frPF3KiGqS2EpcbgCnGo_w05HmYtQcbwIQ1e5xje_YFfVyUcOzFE372cNVasQ1qLyh3MB_SCaLFqtHN39Ogr81WFJ6u20oKC9kpJf9U-AxuxKyMZuzIEYG_CdynRSzhNW9HfkG9v3ySa0xiPZyWBB1Y0Dlf3Y0d61zkKGSxQ9eWzSf8z6ySck2ixOXdl3EiItW3nZDTDWEkH7AFG8T-qMkoVVafcQVRr6HDpLPdElj6qRbyCw5TFsVZ6vUBoiP5FUB1CzcKuqwr-6SoEleAEWo0nMtB6Zr2ANkH_cys2yC4m7WFfKVGgIysQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707529952,
          "updated": 1707529952,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1405465028/d0878d0fe4634a748c22799a89752483/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "1Cquv7xLXc0Y79F55-NFG1go8GN2YGBcoFVU0VXveck"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1405465028/d0878d0fe4634a748c22799a89752483",
        "value": "pNTQQofQ44tIslWKlsG-__6qUXSplce6p65s-uqEZShRv9v0kZxr27d--MNv1VApo6tIBdc1fyxLWhlYPjQ08jOKuYQiPETUCOlPGz1iT-NJBwuI-tQIitVwOUl3WhbrH8GVc6dboBG7coogBUwutfP38Ijf1shPAvvYs5yffhj2DfD95vRGysLy_m5BUHqHpXKlkU2rNsy5HcWwWgbU5ojSZxH2XtRqFjsyD9LClNQP9X3D5wlaTx64B4ooglcx120U54ZfyIVC280YRgxtDYTKpnYlJaNW1HBRXVHsgpwBTBNSRXSpeubAZmOVaDOG1dKUJBT75y7JqmqfzU1E5w"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1405465028/d0878d0fe4634a748c22799a89752483/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "1Cquv7xLXc0Y79F55-NFG1go8GN2YGBcoFVU0VXveck",
        "value": "pNTQQofQ44tIslWKlsG-__6qUXSplce6p65s-uqEZShRv9v0kZxr27d--MNv1VApo6tIBdc1fyxLWhlYPjQ08jOKuYQiPETUCOlPGz1iT-NJBwuI-tQIitVwOUl3WhbrH8GVc6dboBG7coogBUwutfP38Ijf1shPAvvYs5yffhj2DfD95vRGysLy_m5BUHqHpXKlkU2rNsy5HcWwWgbU5ojSZxH2XtRqFjsyD9LClNQP9X3D5wlaTx64B4ooglcx120U54ZfyIVC280YRgxtDYTKpnYlJaNW1HBRXVHsgpwBTBNSRXSpeubAZmOVaDOG1dKUJBT75y7JqmqfzU1E5w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1405465028/d0878d0fe4634a748c22799a89752483/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "1Cquv7xLXc0Y79F55-NFG1go8GN2YGBcoFVU0VXveck",
        "value": "pNTQQofQ44tIslWKlsG-__6qUXSplce6p65s-uqEZShRv9v0kZxr27d--MNv1VApo6tIBdc1fyxLWhlYPjQ08jOKuYQiPETUCOlPGz1iT-NJBwuI-tQIitVwOUl3WhbrH8GVc6dboBG7coogBUwutfP38Ijf1shPAvvYs5yffhj2DfD95vRGysLy_m5BUHqHpXKlkU2rNsy5HcWwWgbU5ojSZxH2XtRqFjsyD9LClNQP9X3D5wlaTx64B4ooglcx120U54ZfyIVC280YRgxtDYTKpnYlJaNW1HBRXVHsgpwBTBNSRXSpeubAZmOVaDOG1dKUJBT75y7JqmqfzU1E5w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "148595217"
  }
}
