{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/210182384/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/210182384/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/210182384/cd67fae8b74646c1853b2610ea396b81",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "zNifoYgGSTRsnuW20pnXBvgBcaJMCzRfYWYFcFzPEnE",
          "y": "4HOXtWrXR-ihWNGmbfUrd9RUjNVCbskgXEyU1ZLsIjM"
        },
        "attributes": {
          "enabled": true,
          "created": 1780403446,
          "updated": 1780403446,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/210182384/cd67fae8b74646c1853b2610ea396b81/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "UwSowM5KU_U1-5HL-7IyQ4XyYSa2FoD06pRPIeXSYno"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://externalkeysdk.vault.azure.net/keys/210182384/cd67fae8b74646c1853b2610ea396b81",
        "value": "rRlVDFr7pCDWyN96eV1Gw_B14Os_vVohJ0Rk-6CldpKLGSrjo3AyU4IhWN1e6KfdvicFNk7v-4kU_TctTJ3efg"
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.ne[...]
