{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1124811276/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1124811276/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1124811276/65d80bf1f6df4d1ab2a467fb563e8937",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AaNMOJ3G0cBIFyjr6212QEWA0vAterRa3RgNUyHLHEgB0jd-juVTS7yOKg6u57erwCWeg8HA7bnmDB8i9toNlUFJ",
          "y": "AAX8ehxJkg2h1xQ6NEtHDjEQRxj1atSrBACPH4meFvB8ewffq3BHM9zjIntLhqtOt0zdx9cVGjRC_J8JFoWIxRmq"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760832,
          "updated": 1750760832,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1124811276/65d80bf1f6df4d1ab2a467fb563e8937/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "vW3Gd_QYCylZBkarTMekp39i-v-i1HVRzOifXfJQzxX8vFHTHlZyhVmfkt6t5qyvjT3ybH464QNw7nM60N5bKg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1124811276/65d80bf1f6df4d1ab2a467fb563e8937",
        "value": "APKnaApKiE1r5nFQKYE80JYVXtIGrYSmpXqICV4p7aDADacDEXS1PqGZEPtOMvHyrhs2OJe-91qxR-pOe2l6gxIPABmLYhBJaphKRU4McAghwUxcglSqeesgNzK1ZVEVdP50TfUbvPO4hrDZaJY4V_e0g5-HXgUzxoi2xSNReur3pTNw"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1124811276/65d80bf1f6df4d1ab2a467fb563e8937/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "vW3Gd_QYCylZBkarTMekp39i-v-i1HVRzOifXfJQzxX8vFHTHlZyhVmfkt6t5qyvjT3ybH464QNw7nM60N5bKg",
        "value": "AWGJQyuJod4W4Y4rR5_sRGwgwuL1O2XrZdAdhiVCcuGutv2JjHxO5aVguv88xD3DxlgmhIe2jV4jAnGc2qptahRAAQcLW4vi18U6O4BjsVwA_LwCtNR451ZRkV16zv8A24EoFJ3Jeg36V1X5rzqv9rrehhrsT70n0XfHpACxeO1NwBB3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1124811276/65d80bf1f6df4d1ab2a467fb563e8937/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "vW3Gd_QYCylZBkarTMekp39i-v-i1HVRzOifXfJQzxX8vFHTHlZyhVmfkt6t5qyvjT3ybH464QNw7nM60N5bKg",
        "value": "APKnaApKiE1r5nFQKYE80JYVXtIGrYSmpXqICV4p7aDADacDEXS1PqGZEPtOMvHyrhs2OJe-91qxR-pOe2l6gxIPABmLYhBJaphKRU4McAghwUxcglSqeesgNzK1ZVEVdP50TfUbvPO4hrDZaJY4V_e0g5-HXgUzxoi2xSNReur3pTNw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "1771674143"
  }
}
