{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/102446877/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/102446877/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/102446877/9bc06c9c10bc4e0cae95d927c803602c",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AMmsT4ZJGsmVOTSB3K5kbfNzFWfcS6NcRi0awEVAwtSkewKUcL4l2V4LVmR3I-fO2PyNZBPx985x_qxix6K6-o1X",
          "y": "AQ02Bnp_PDNFUxrbO370wLgUoW8zxsLGtnoWNXoJcAPtMJ_1Y5OeVZ_dxycFyG8vb2r2VRANKFoE6oB4I7jNpOS3"
        },
        "attributes": {
          "enabled": true,
          "created": 1781139881,
          "updated": 1781139881,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/102446877/9bc06c9c10bc4e0cae95d927c803602c/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "Y1vP_d_KAXpwTwJ1_m6MCuC2rRXfK0OTEDAKAerR8G-WXAUNcDDRc-ekPnuJN0A8WTdybQr5D1Ty_XWUHjSw2Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://joncarde-kv.vault.azure.net/keys/102446877/9bc06c9c10bc4e0cae95d927c803602c",
        "value": "AU4ellEpqIAu9LAZbcMNj3csfwsM_4npGY8Od03IF6GIF8cD97EB4xTk7fncU9LKFUo2ZmbWMOsFYxotgDCAWfXFAZdJeq1Fg96f2IfmNiZejaOHc8_SksAVl2xQo4GGOSX[...]
