{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1202240547/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1202240547/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1202240547/93e9dd3a1103438fb723d5e2fcb55266",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AbFxUSU7pi-ILfX-hb0X0mFmNohNl3RSd_YhKD-krJd38jT4VxdfnnyffccQamvss0ncyZmKL2FzMJNM4w-z9FcS",
          "y": "AB_JmYH8j4rU2_AD3aFGRjzUnH1JJX1HvOY8ZDGGlad0hPiB6K--_7zP9QU5mbJNolkhL2OBHBItjn7IGloFS2RH"
        },
        "attributes": {
          "enabled": true,
          "created": 1724201453,
          "updated": 1724201453,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1202240547/93e9dd3a1103438fb723d5e2fcb55266/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "-4J5Sd5mnxvIBappNVwKRulDHuc4ErsKk-1RBfj6__1jbL8MKsAaEP7YiCS9CO2ZOSID1gLXCXsnfZiW46sZCw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1202240547/93e9dd3a1103438fb723d5e2fcb55266",
        "value": "AfxuJqkMwlVleQ0RQdrJoJHzqzCDIQxhHuMC2HGo_zZpve97XLX15X77W0_vznWWQPC4ACC8skZ9APOgrRN8FkJOABWZCeFJ_vwAX-NHytlChAG1FowKoyvLa6k6VR-CD_6EvytMLYWwghecoJhrFYeWX-_iKVXGiwEGaEq-2nCKjCQL"
      }
    },
[...]
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1202240547/93e9dd3a1103438fb723d5e2fcb55266/verify?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "-4J5Sd5mnxvIBappNVwKRulDHuc4ErsKk-1RBfj6__1jbL8MKsAaEP7YiCS9CO2ZOSID1gLXCXsnfZiW46sZCw",
        "value": "AfuBVPCWU8OT1Tpejp1nGFN5RdPlsdZgD8zn9YzsR-wXuIY-ecKWcei0TFHuqRykVS3DK0bOcYyG8AwyAl7jlgYlAOTQjQAx3WedT16DXdOuU00cxf9rpGnuJMVxG017GApKiEMDfVV7j6jQK99v-BPpGA42F9xFYZqPGUSvWE5o6H_O"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/1202240547/93e9dd3a1103438fb723d5e2fcb55266/verify?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "-4J5Sd5mnxvIBappNVwKRulDHuc4ErsKk-1RBfj6__1jbL8MKsAaEP7YiCS9CO2ZOSID1gLXCXsnfZiW46sZCw",
        "value": "AfxuJqkMwlVleQ0RQdrJoJHzqzCDIQxhHuMC2HGo_zZpve97XLX15X77W0_vznWWQPC4ACC8skZ9APOgrRN8FkJOABWZCeFJ_vwAX-NHytlChAG1FowKoyvLa6k6VR-CD_6EvytMLYWwghecoJhrFYeWX-_iKVXGiwEGaEq-2nCKjCQL"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "1052347166"
  }
}
