{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/659056022/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/659056022/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/659056022/5d5564f1639a4c8b88b9f0b3a3590b68",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "tj-WoZiec6S05qo7zdQ427T0PNy07HorqiuMG9jpWdQM8ZWxkT-LK_Estaq2Un63",
          "y": "jLTw4vOCcZe8-ywriceeQfRo94dxKeQma4gWlarDXv4OEDtex5oZ-47tEyFxuLWw"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929990,
          "updated": 1742929990,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/659056022/5d5564f1639a4c8b88b9f0b3a3590b68/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "OtKiV2-97IgNN_yczvvtislaekSioDU3pkPBQjfw90v8nocTIhAE5tyeml9k73nv"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/659056022/5d5564f1639a4c8b88b9f0b3a3590b68",
        "value": "eJr-X3suGq8Pm0rC0CD1_wrfaP7Y5TisOvRwHMSWzEI-vtTzh1ufKS2QsZyj15ia0Lhau29H3MU09tpjJRYcfxNyshQjq1ZAyWFV1N40m_EnxqcZl2tBY3OzqvHvw4j4"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/659056022/5d5564f1639a4c8b88b9f0b3a3590b68/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "OtKiV2-97IgNN_yczvvtislaekSioDU3pkPBQjfw90v8nocTIhAE5tyeml9k73nv",
        "value": "E_j9soUuOBMDQ7fvL8kWkYrcb7NQ4KsbLdZjsH8ExIxxSNh6zTdebOjaK82cKv3cR-ws0tyNkL5b339c28VYgY6X-b2l6oRE0DfQZkmCpOl0p2f2_M_gIQmqL4s_l3q9"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/659056022/5d5564f1639a4c8b88b9f0b3a3590b68/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "OtKiV2-97IgNN_yczvvtislaekSioDU3pkPBQjfw90v8nocTIhAE5tyeml9k73nv",
        "value": "eJr-X3suGq8Pm0rC0CD1_wrfaP7Y5TisOvRwHMSWzEI-vtTzh1ufKS2QsZyj15ia0Lhau29H3MU09tpjJRYcfxNyshQjq1ZAyWFV1N40m_EnxqcZl2tBY3OzqvHvw4j4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "546232462"
  }
}
