{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/745813940/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/745813940/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/745813940/516bdc6e5ab248c9963e58673e2a3ded",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "rexGQhMMf0glefe2MQH6dN0Sks1BE-SwEj_YTv9p_FRvI6pX2H_717w5ZV5tIGBK",
          "y": "iuDcwVYob5mOXzN-MCkdjtBAhZHL14n6RxPDm-jW9MuNTd1CMv6_yaPgm7l1g_9j"
        },
        "attributes": {
          "enabled": true,
          "created": 1724200554,
          "updated": 1724200554,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/745813940/516bdc6e5ab248c9963e58673e2a3ded?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/745813940/516bdc6e5ab248c9963e58673e2a3ded",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "rexGQhMMf0glefe2MQH6dN0Sks1BE-SwEj_YTv9p_FRvI6pX2H_717w5ZV5tIGBK",
          "y": "iuDcwVYob5mOXzN-MCkdjtBAhZHL14n6RxPDm-jW9MuNTd1CMv6_yaPgm7l1g_9j"
        },
        "attributes": {
          "enabled": true,
          "created": 1724200554,
          "updated": 1724200554,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/745813940/516bdc6e5ab248c9963e58673e2a3ded/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "zXmYqM1QrFRZUHEtnyvi9H6k0g9cZ3drHsiq62JvbDz_prbDiTwujARuOY-TG_Ck"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/745813940/516bdc6e5ab248c9963e58673e2a3ded",
        "value": "OSRPJnYkHGZKn7wD5cpOGUDsy0uxJhoGx6F5czSHhLQk9ylTXAs7-m9CbGZJb0Mrv_X759YbmebNKucGdtgHV5jl0QSGW8weA_Na8PTWnfmGOfVFYb3o_vWPLuNAPaeM"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "1672898975"
  }
}
