{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/820466479/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/820466479/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/820466479/4a76237ca820449ea953ad7322b41193",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xRQj2jYRUlcHtCEmp1iYCZPgnHD5hOvJxMDG-Zp4efQGLNpNFtoD9h1vciAPGauOj8mDaUTOYY-untBa4J83ZS4AAUHzZDKe9WRRIi6qZiq6AIrRLn6XbN7_w5cgUiyojdWip3Md02Eb003bGLP5XhVUOeKk-mUGBc8B-kMgWpPtD-3gOgtA04i8IeT42WfoaMHjqxz-yBm0oeq8HhdlS9rLsqx8q2-xBmPQUsKK7qQAsBsdV1Jfv6_aJODqlHEKUHW1B4RCb98VcKP7ILLockrxRX0R03WeKeCLQqG91wVZeXZOl6lUqGY1kr8uT4mbkTl0W7aci9XhcV_zMUSI0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781139691,
          "updated": 1781139691,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/820466479/4a76237ca820449ea953ad7322b41193/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "MpYUpcFlE3k5RZyoMMCfEujDWoezdTa7C0Q8_gRLkTg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://joncarde-kv.vault.azure.net/keys/820466479/4a76237ca820449ea953ad7322b41193",
        "value": "YRe0RCS3yILre4oG323cGK9mA5ZG4fufPYcSRBs-gkAXFYgyFTfX_pbQDKXSghS4GP5GjAVK2aEzKnhDXyl_pH8OrCtRahoPbyhOMYcXfth_9IVF8wHDPsN8JrQmCAmlia8X1134XeHf9Xdek_sFspMvvMkBqKF_v0S3rXWSmGIbUm[...]
