{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/791503009/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/791503009/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/791503009/49e66c4e55f647eda301c2d82a1c77ee",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "lbQ30tAnQBWD4qMABbE7_Cp2ztpP64TGAMvWfr4nWIbyKmJIrL_1ARtXjup9JbcLcRu27BXBFl_cq_6kOEeyyxEajzDB-gBdT85SHi7QOue6KDTJmxAhEhNGCYBWeEsZzryGypjwRB-ER4TVX2eaWPpcW_sFwXG1vLv_-mDjKh-HxCTbxvW85LlclrCz4U-FMMx0AybHh0MEkSQ1wBJNUtvWq9jgZ1m9kRMPUg2TsUk17-_sECHe93LgutdNX_LPPWJX5nECo16bKIiqts3q3zSYKsqLzsl33h6WA8_wkN_gyKKVwr9N3_ItNppOJ7BWNa4_5QSxZYS5YHnqmir2RQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998201,
          "updated": 1692998201,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/791503009/49e66c4e55f647eda301c2d82a1c77ee/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "sagz_hu2_oCOUV8jqt5PXdRqe0Temw9COnw5igus23Az1hpAeXaY7AvCMtqJm27g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/791503009/49e66c4e55f647eda301c2d82a1c77ee",
        "value": "jyniJ57ZN7O2eeKdaU1hNICW3Y0sPIuY87rhY6YD38f0a2hLcJl32TooW-hlzrl1C6Y6qIO00EpK7JMjvGK47dQf7uDjM1jL3AUA644lNf_TgNlyaH9atXn4fXAq7uGJZFzZKl1Szohy5CuZrvS2ckMWK5aw_m0dFMgAlQF1YNSxIFK_0QrXfE8TMeqx_WOTn_ueO5XJpoNmNvFDL8XZmUc2LyixRMjQp_IlgJyPAPyGMkxUTxc0MkMoIz4zu56jLAdfXxdAn4YrzFT5Kpw1mKbw0ESpwh5_hDzIm6RTZ0IlZInKH-iu3SiofoKSKMxQI1LDMDUX5xAVjY9YyO6FYg"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/791503009/49e66c4e55f647eda301c2d82a1c77ee/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "sagz_hu2_oCOUV8jqt5PXdRqe0Temw9COnw5igus23Az1hpAeXaY7AvCMtqJm27g",
        "value": "jyniJ57ZN7O2eeKdaU1hNICW3Y0sPIuY87rhY6YD38f0a2hLcJl32TooW-hlzrl1C6Y6qIO00EpK7JMjvGK47dQf7uDjM1jL3AUA644lNf_TgNlyaH9atXn4fXAq7uGJZFzZKl1Szohy5CuZrvS2ckMWK5aw_m0dFMgAlQF1YNSxIFK_0QrXfE8TMeqx_WOTn_ueO5XJpoNmNvFDL8XZmUc2LyixRMjQp_IlgJyPAPyGMkxUTxc0MkMoIz4zu56jLAdfXxdAn4YrzFT5Kpw1mKbw0ESpwh5_hDzIm6RTZ0IlZInKH-iu3SiofoKSKMxQI1LDMDUX5xAVjY9YyO6FYg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/791503009/49e66c4e55f647eda301c2d82a1c77ee/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "sagz_hu2_oCOUV8jqt5PXdRqe0Temw9COnw5igus23Az1hpAeXaY7AvCMtqJm27g",
        "value": "jyniJ57ZN7O2eeKdaU1hNICW3Y0sPIuY87rhY6YD38f0a2hLcJl32TooW-hlzrl1C6Y6qIO00EpK7JMjvGK47dQf7uDjM1jL3AUA644lNf_TgNlyaH9atXn4fXAq7uGJZFzZKl1Szohy5CuZrvS2ckMWK5aw_m0dFMgAlQF1YNSxIFK_0QrXfE8TMeqx_WOTn_ueO5XJpoNmNvFDL8XZmUc2LyixRMjQp_IlgJyPAPyGMkxUTxc0MkMoIz4zu56jLAdfXxdAn4YrzFT5Kpw1mKbw0ESpwh5_hDzIm6RTZ0IlZInKH-iu3SiofoKSKMxQI1LDMDUX5xAVjY9YyO6FYg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1343630189"
  }
}
