{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/266135139/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/266135139/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/266135139/dde8d2a825394104a04a6186c4753da3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "18ywdrZ_zAGsqbZoohef6fsTDYTrnqrTLFE6npcks2aWuu5sNw3IKrK0xkEodNHNP33bwUXDBu77INgzWtG4e2TT9qYJTHeSck0qLiQ6Gc8eBgL2RYS9yPd_CaoaE0Fq1Owo_-imymikt1EJBZWw5VuN9cqDJwsjO8unwYskLgKjr-8Qw9en4Kyu821fFFl8eClf8eWnYHObz8X6Ly11XrHvIYn-twj2GjI6J1E3cpHIJ_w1xGNHQ4BLWxeCNMulkkyRbdWi7YJLDn3RZlQwi3RcAkd1NvDHli3UeeqmLegMru8qdEka-Z5BOyJGIPHFY4vSFyKkUIAcnTNJQztIhQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998170,
          "updated": 1692998170,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/266135139/dde8d2a825394104a04a6186c4753da3?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/266135139/dde8d2a825394104a04a6186c4753da3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "18ywdrZ_zAGsqbZoohef6fsTDYTrnqrTLFE6npcks2aWuu5sNw3IKrK0xkEodNHNP33bwUXDBu77INgzWtG4e2TT9qYJTHeSck0qLiQ6Gc8eBgL2RYS9yPd_CaoaE0Fq1Owo_-imymikt1EJBZWw5VuN9cqDJwsjO8unwYskLgKjr-8Qw9en4Kyu821fFFl8eClf8eWnYHObz8X6Ly11XrHvIYn-twj2GjI6J1E3cpHIJ_w1xGNHQ4BLWxeCNMulkkyRbdWi7YJLDn3RZlQwi3RcAkd1NvDHli3UeeqmLegMru8qdEka-Z5BOyJGIPHFY4vSFyKkUIAcnTNJQztIhQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998170,
          "updated": 1692998170,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/266135139/dde8d2a825394104a04a6186c4753da3/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "dwNnlrHoWB2rWT0ZVwubRrYoVA9j2S0o62ELbpmfuk7uNbs6db7aBHe1ntVPziKVsEpM4GtzDXr1QfLN2ba6YA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/266135139/dde8d2a825394104a04a6186c4753da3",
        "value": "GA7zRD65f2Fms01BIc-NdovKB6pVjqGBj0LjDXwU3glt8wgZxtw22piISuV4my_EFGk5G8EDtRdKCzbvZeMRPTHopfIrb2oIfuKtOWz1HSpVqAx-kasLYQBfycB6XhnFARQkGcBzd93WYL2mxaJLwAhqCTiaa9cgQ_ZXmd2iFZKmGeRNNpYyGAdxGgfJa3RnHWtQUOB2FPPeVyZrkPYBG6QKmZ2ZUbmO2V7OOdGtZVTAujWm9MiIzH6HX5BqWy17arMkK7LamfBnA13-66ZxvbC9q9urChkrInI9NXy1iTjSpXy0bMDXZ6B89txkbmxnappr96teempJnjJCP1w2cQ"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "423048561"
  }
}
