{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/132757406/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/132757406/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/132757406/a7ef7adde07043bc916a5f00c823a2b3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tM3CkQKCmlc9EHEZw-ldXS6cGlDqknICGUC9x_8gO2-rnbPO3lhCCqOQuJWeubr2sk6uEDNBFC41OkEj7MRfZGyMXHTI9-Y9sQbx9h9bBJ9KQ7T6MpQ4-bdmt4GZonB9buRDH-y7JDOX3aQz09K8J425i-okRHGlCoCB4YQX2yMX9D4hazHwi5IbQM4bRmdj_2pKsXfvDquZr-QILPe7Amr7OjvjJH7xVYkGC8gAWEQEF_0JZIRhyHq03rLBXIuSLoYfLFvw8oBienSxQP4UdrZM5cWphGq9YrA3wPttQOiU8290YNoLbVZB9UTuF5bqCs_QWv-91k-jlPerq4WtOQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756936289,
          "updated": 1756936289,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/132757406/a7ef7adde07043bc916a5f00c823a2b3?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid":[...]
