{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1675718519/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1675718519/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1675718519/ae834840744e4928a37bef910f45d7fc",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "seKzKgAyjc6W8DEm6ArozmBwYlK_iurnIZGt0Po1QK6Au2Hy9uZtJ8myYBUbwIIfqrmIhZb8T9-M1rq-2D7slasTV3gDhuvXOuE_lF5bWXKPp94UgoXCV9GDGBKpd-HF_EgJv3fuhxz14EQ2VZoy7JKEKJ20-l8EntzpTsaBPx0T7t69HP3zOL4AMg-GIfqqjKhJcUFW-1VkLHC4WDEVh1RzSyE-pSPeQjsCBMJ7sgEQ_eA5vbcsPpGPK0UoYY-cEsLQmBfVpLex45OQXgGLd7yTIDNfwPEOhq_q2xB0EnMOU5r4Jqs3Mav6o3whwhHMm0IGFKkxZjzzluCJEk7iXQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929935,
          "updated": 1742929935,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1675718519/ae834840744e4928a37bef910f45d7fc/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "THlYCBvWo21kcDaVhDm5IG9r4FKjkSz-B86JuhMYJGUKPs_xVA3CA6lT_htxY6T0qAi-e-kgxijezAY5lbxjeA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/1675718519/ae834840744e4928a37bef910f45d7fc",
        "value": "l6MMCHR8xYFIeGSnrNMQ0gWS_ftboGKLqgnnXu7PgwPmOjsBMr1xGp2Nrr04AJjvQ0eLefbWypA5fylON7qGh1n--Mw3lP7kT3_BKvZQXhqwUiDoPOt8K7M8hOm93L92N75fuxU_54Mt7dpSOc4-dIDeyBuwlDGzfTcnYjw6emlSkDXttg7ZLeBzRjjnSsOFwgWrcpX8OkL-bSg43JJnLEUestveEhiRiQEIEEzPcFCKl6bYaH84dluBFMxIsI60id8exJF_QvTHcUDSWoiyH6NSptWhCbKBv9Oon1LPRLIugScHwnS6JnLHWF8zFNyXouMsrT4c7kqVA2ZqdfxZ8g"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1675718519/ae834840744e4928a37bef910f45d7fc/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "THlYCBvWo21kcDaVhDm5IG9r4FKjkSz-B86JuhMYJGUKPs_xVA3CA6lT_htxY6T0qAi-e-kgxijezAY5lbxjeA",
        "value": "l6MMCHR8xYFIeGSnrNMQ0gWS_ftboGKLqgnnXu7PgwPmOjsBMr1xGp2Nrr04AJjvQ0eLefbWypA5fylON7qGh1n--Mw3lP7kT3_BKvZQXhqwUiDoPOt8K7M8hOm93L92N75fuxU_54Mt7dpSOc4-dIDeyBuwlDGzfTcnYjw6emlSkDXttg7ZLeBzRjjnSsOFwgWrcpX8OkL-bSg43JJnLEUestveEhiRiQEIEEzPcFCKl6bYaH84dluBFMxIsI60id8exJF_QvTHcUDSWoiyH6NSptWhCbKBv9Oon1LPRLIugScHwnS6JnLHWF8zFNyXouMsrT4c7kqVA2ZqdfxZ8g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1675718519/ae834840744e4928a37bef910f45d7fc/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "THlYCBvWo21kcDaVhDm5IG9r4FKjkSz-B86JuhMYJGUKPs_xVA3CA6lT_htxY6T0qAi-e-kgxijezAY5lbxjeA",
        "value": "l6MMCHR8xYFIeGSnrNMQ0gWS_ftboGKLqgnnXu7PgwPmOjsBMr1xGp2Nrr04AJjvQ0eLefbWypA5fylON7qGh1n--Mw3lP7kT3_BKvZQXhqwUiDoPOt8K7M8hOm93L92N75fuxU_54Mt7dpSOc4-dIDeyBuwlDGzfTcnYjw6emlSkDXttg7ZLeBzRjjnSsOFwgWrcpX8OkL-bSg43JJnLEUestveEhiRiQEIEEzPcFCKl6bYaH84dluBFMxIsI60id8exJF_QvTHcUDSWoiyH6NSptWhCbKBv9Oon1LPRLIugScHwnS6JnLHWF8zFNyXouMsrT4c7kqVA2ZqdfxZ8g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "2045663047"
  }
}
