{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1081116283/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1081116283/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1081116283/48e0335ce9cf4e5782e49024c5dbbe11",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "WFncj0xtoy-rXw7uWgSEXIFHSX1trOvcxAdZZz4kUe4",
          "y": "N_rO6WEhg6C-uLwcDoooSYUKG8pd6SLn2cFxKzX7GWQ"
        },
        "attributes": {
          "enabled": true,
          "created": 1758945419,
          "updated": 1758945419,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1081116283/48e0335ce9cf4e5782e49024c5dbbe11/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "WBHruaSmN9eg3vlgmSmKKjEuNiFlm8a2Is6vfAhz5UI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1081116283/48e0335ce9cf4e5782e49024c5dbbe11",
        "value": "cBXXhx7J7mk2Zxm3jfQ89CeYjk7rd4IL1L5bx-85wqMz5-WvP4QPq9NO7fd4QTWI_apW9plS576JZeUCK0nCyA"
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.a[...]
