{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/412300338/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/412300338/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/412300338/460af3c173af42b6a013f2fde7dfedba",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tUI2y3YCCMzrAB6ujsYuDQYhM-DPQvdov6oYheEILAlOW1WJfwiP90H4AVqZ3pTk5901LvJbZiRouTLwRV1D_-1wSOk6QtvYOhkDyJI0IFFnoePD-0mkmkMjyzQJVa3UsKi1p26Bv_Zj6hr1JDC2viABrNi8Q3dkA3rCdb7CyMDtjf2wn_XxcexqJGeF9F0dW8PdImAC-rzBfV8e3LJkzOgBrsRmKEXDi2ZN3bj-m1HZEfLhroW1R7Q8sScBV3CHKfGu_6HXRHp1iC0fL6R0ZaoAJSHuBsqgupCvdBK_66kGdFcQRRb29vZQ1PyTXpfFXuvrOv8SrzXr92GwkaSqlQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780402753,
          "updated": 1780402753,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/412300338/460af3c173af42b6a013f2fde7dfedba?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "h[...]
