{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/35095084/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/35095084/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/35095084/6e4ad6fe5c154902a5283bb61dc32354",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "q4UtmvQUIsWWZfnU80cfZBvswfmyFgi0HvUnMc8qzWMfBx7RemK_G_nzDOH3V9DLvJoKEXiE_LKSKCaQlsVzg-ONqe_ibFIVJTOJCGuVOta66q-NFkvFooAtNqpImvgxrWvZz_IS3LEjF2Bw57ES-K7k4VEpkuwYhfEPPURTcw0zxsjWZ7-B9mX3AFiVyLogPauRLb0OF5YbcgL1b2BC934Nup9Jh7MP32jTnWHBdFNmMZ7_XnyhU2SVy6qBXqge8qE2pg4LseKeQTtwI5nOzFXcxkFyKbBvAfRtXDRYT5If26VeR6xfJ1jrZ6WH3sYsmJgPPkcynlJh2OAPF4SoBQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760303,
          "updated": 1750760303,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/35095084/6e4ad6fe5c154902a5283bb61dc32354/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "Brm4CQwlFwhi7wZGXtH58kZ6OJyKLAMUoQ_BtRBUHsRauFBe0ZqATWdvYjV_Zao_mxnTqoPGYiYOG4Evyq0RNg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/35095084/6e4ad6fe5c154902a5283bb61dc32354",
        "value": "aXmDaLDc36YDg7hm__rf5zEcCK3poGDL91eaeEI4w-riGSluULuz3L8DfClLFV9EFCihhxRUq8460jKYRUvgwrr8WZqjz7W4-prF1-gyKAzx0ysJvs1W_A2RuxSzYqmxrBZZpL_AN1CiiO8KqTWdmUW6Z7dLRbbNke-mPcOVGVXiTDg6eRQtwyCSsCGEyrtnJ6ZyVfhbql2xpt-MbR4C0UMNhmp_snIn2iT095HmgbtZjcgGVPyivCPMibCwTA6jysC7_PNbq5joAcKwkEf81GpiRkF1UpYYtfGX8UEAtF13iX1NiIksLKV2ID9I4ZMIfeYbF_9Kfo7naqM4SLF6Ng"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/35095084/6e4ad6fe5c154902a5283bb61dc32354/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "Brm4CQwlFwhi7wZGXtH58kZ6OJyKLAMUoQ_BtRBUHsRauFBe0ZqATWdvYjV_Zao_mxnTqoPGYiYOG4Evyq0RNg",
        "value": "aXmDaLDc36YDg7hm__rf5zEcCK3poGDL91eaeEI4w-riGSluULuz3L8DfClLFV9EFCihhxRUq8460jKYRUvgwrr8WZqjz7W4-prF1-gyKAzx0ysJvs1W_A2RuxSzYqmxrBZZpL_AN1CiiO8KqTWdmUW6Z7dLRbbNke-mPcOVGVXiTDg6eRQtwyCSsCGEyrtnJ6ZyVfhbql2xpt-MbR4C0UMNhmp_snIn2iT095HmgbtZjcgGVPyivCPMibCwTA6jysC7_PNbq5joAcKwkEf81GpiRkF1UpYYtfGX8UEAtF13iX1NiIksLKV2ID9I4ZMIfeYbF_9Kfo7naqM4SLF6Ng"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/35095084/6e4ad6fe5c154902a5283bb61dc32354/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "digest": "Brm4CQwlFwhi7wZGXtH58kZ6OJyKLAMUoQ_BtRBUHsRauFBe0ZqATWdvYjV_Zao_mxnTqoPGYiYOG4Evyq0RNg",
        "value": "aXmDaLDc36YDg7hm__rf5zEcCK3poGDL91eaeEI4w-riGSluULuz3L8DfClLFV9EFCihhxRUq8460jKYRUvgwrr8WZqjz7W4-prF1-gyKAzx0ysJvs1W_A2RuxSzYqmxrBZZpL_AN1CiiO8KqTWdmUW6Z7dLRbbNke-mPcOVGVXiTDg6eRQtwyCSsCGEyrtnJ6ZyVfhbql2xpt-MbR4C0UMNhmp_snIn2iT095HmgbtZjcgGVPyivCPMibCwTA6jysC7_PNbq5joAcKwkEf81GpiRkF1UpYYtfGX8UEAtF13iX1NiIksLKV2ID9I4ZMIfeYbF_9Kfo7naqM4SLF6Ng"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "1828761927"
  }
}
