{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1739913582/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1739913582/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/1739913582/6b301e504bef49368f75014fe0f96d0c",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AcWyrGH4OgT83_khG9WNiGX4t6Fs7At0_eQRFlQAgH-HnfDG1jtvc2-dh-kSRbJYqmZ29DUqcBGIC6gt2B2s6kxZ",
          "y": "AAwJhzR4o4WQY2osH9bAYKd3T1za-5ruui_Hltr0geCvcfP5AdfI2sDn7f0m7lTFBAJ1Fl7oZR6-PxtPmEeYOAgp"
        },
        "attributes": {
          "enabled": true,
          "created": 1781139669,
          "updated": 1781139669,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1739913582/6b301e504bef49368f75014fe0f96d0c/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "_ltqlVEdDZrYtISvd850soVMgbydNuQsz0-ZvhT6qPFo-ydGNx4vR_xdxTlwFKO_hO-Q9yOV7JN8UP-Itmd-LQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://joncarde-kv.vault.azure.net/keys/1739913582/6b301e504bef49368f75014fe0f96d0c",
        "value": "Acfc3bQt-7i5aF9qXmni4ntFXWEE-GV7m0Ej1XTov7ClJqlwD9znOo1fRyq6CaD-QAFr3gJWysgS3BG8CEEw0-qEAaV-QfTFnsMK_nKeYS1HJ241KrIDJ0FhoOpc5Zyw0j[...]
