{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/395004212/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/395004212/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/395004212/e5cba5ef25884aa98fcd3116c898f4a1",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1-yJ3igSy1J05DKcOad6CmNESWTNq1X8aj-0Eu8YuvSs7L2mJPb1nhv2p4lChgQnDP9O-7BVX784EHbPEVPOOHT4VbqYHgQXjaC4gRSMLRrVxinT6Z35blCmuMbl9VpcesBJ0l2OmWCqBtClfAJ5Ho197sZbmW23mP4w1iF7jovPuymELGfJZZzwbFFHg4s4wY8wKD2hyj8a9PYHCanVcbhtWJnmvnejc5ZVx1eYm-sSXW5Jc51azg0R5K4hRGNqVsqqnAxVFeXt7FLyxMvbu4_mrumRsI7B33EtgX3o12f6FrA-F5LDb2LY3YENuKlpO20HEzeALq5KifSMuXP43Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780403258,
          "updated": 1780403258,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/395004212/e5cba5ef25884aa98fcd3116c898f4a1?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "h[...]
