{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1017213365/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1017213365/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/1017213365/a2a072d81f3d4d93a72375124725470b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yWmT2U46hYDJ5fgZvQoPdXa3J8jYrKPXLCISylSqE3kFvovcz9BFwA6mrY-y24T2CqatZpso2okeHzfeqznybiw2yzNv3fgz957ShGc7LfX70DANBto5wwDitmGlT677RM4to3oRdkHPTG4AQo5HqUU6ZWaROO1EMDq2UTFyozvKnp-XyFS_FJA__WUXKh1qSoicuv3YdAClJ62JIhSdaRo9UDGAv9paKlf4UsywkLOZXGdPO9h5jZFj2vZuoh-eQdhGpHZKd8R92T5zIQ1sq7yU5mwtdKGj4682pusQlBaluARP57-A0NU1xuksupBC0sfxhpy-fFArZFC8AnYQ-Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781139868,
          "updated": 1781139868,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1017213365/a2a072d81f3d4d93a72375124725470b/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "Fw6v6yVQ5EO14-VC9TEmSkFDLMgG2LZJ8fLhod8MtLG86ko27DdYfO5OKxom-8U71YpQv-UeYDPrHbdB1ku-2w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://joncarde-kv.vault.azure.net/keys/1017213365/a2a072d81f3d4d93a72375124725470b",
        "value": "cZQfoJXg0QX0j7Csiv-PIHCVaOl4e6l7HJKydmLLLVSEkewspKls6ZmSLWBQZGS5tE2GQ3PYRaEFG-yrTWcThcqK7h168f_8B3iZOnZGF6nT-t1lPA4uM9Nxtsu88ieQi5[...]
