{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1832795771/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1832795771/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1832795771/3a2133b637654f55855c14fd09d817dd",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4hwQl-ugLvElpz1fT5Q1qNhyTjtcZ_ZHfUg-o72dj-q9Q8t7lVmcGyl5X9JpptbsWAQUKPV3UmLtnCsPCWW0vQ59GEoNF_Lcb-a7zdeiLnsZs8ToFwEzshg4xdgwincFvkI9tw-JHIaH3iZhFQhzVFc_ayw_aih_dkFcggTv31NEPBd4HyfCT88wXfQ3YB-NeuJia3t0vpjP-VtQr44l6X5xLvKs0zDNCxVvVBrQml-OArvneUqDdP7m1PY3cF0qtJ9JtR9b-ORu-VMzrLk-xNse2AfPTuJHQhqKuicg2kuR8Jwh4fxy9BO_IJbhJ4efn33UWgNk7SHSgNaznil3sQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756406361,
          "updated": 1756406361,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1832795771/3a2133b637654f55855c14fd09d817dd?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid"[...]
