{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/88005529/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/88005529/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/88005529/c44f8f47c57a408899bba5d2967393be",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ryHOaz_eqMZXptsbnWkiKWN1jGpttar8zTwboERTXrxO9iBmSJ8nUMI1Ve6cwbwZvdBbo2Jk2MturbNjyZlfQXFDbbnks_2sz1mmfJR50I8Cdojgr1v-GcZDEukiSp4w0CO-Ziduseka6sSjBrpfvTUzr4Hqce77GJJ0rV6TbBIzQDbj6NNJ4RNpF6l55oJ4H8KgLvijFtAoezgDPBiBWmoyZUNGE5zzmDQIZiGYflWcGpSuYe6IqffIF7aTccTDokO3iOAwWx0VyL5fRUyRkiiBui7ToGiXXvA8j3XhAwqZ0f5MF3ZkiW6QLtV0miwslY9hm4o_VH9f-fgCrOKx0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781139647,
          "updated": 1781139647,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/88005529/c44f8f47c57a408899bba5d2967393be/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "NIRMGtunxC7RV3LXM-9LpFJjZhGsgPKJPDDSWjovDhA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://joncarde-kv.vault.azure.net/keys/88005529/c44f8f47c57a408899bba5d2967393be",
        "value": "VSDihdrOkDQMquAOuJiCh1S_MGp-1OoObIm1Y2bprylzH7at3wwBGqBySwcITfYjy6H9QlHbH0OZ-REAZWbIy3KUoyEAPK3jyMQMiDKnHLq3knAvyZG6QURKeK3oLNa6uoMNtVBSwkVgcynXAz_jmlErefSf5uX7jp0y_0dSw7wZ9Z8[...]
