{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/303276274/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/303276274/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/303276274/4a7552f9d018415e92d1f5670fd78545",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ydxFT0vGmzoyS5UTts8MIYoi4WWQmXz76EWg0GW2JXxegeQQxZfXcaUBhSZbB2-_ksESJhoTGb5E88KPjK54NXkw7a55ztu-58NS9LToLPei1yfOnEqxWJHNVF3wzJLm8OCaYJFr920YAtYNgSjluQ5WRmT_Z7BBHGlpwU2CaZnk989zISSbCNbyCgwvb6JqbxpJ4gvGHtM7h3f_Gjcc2LsjWRCAjc_RVNorFWYlJ7tTMZvwODRegvTT3dtPvPoxRUDpQ1Zp0Lp6HvitvAfE3Os50mdGg7GhQgj9MBZoIKF8B-7GOV__nyS4ucaIS7aLHgNj3No-6FGFqaNjKLu5jQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760292,
          "updated": 1750760292,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/303276274/4a7552f9d018415e92d1f5670fd78545/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "P2Os7nBKQSg7aYD2IqgrV1dr0XjEaraTVdMty0Z0aZDwJiwCQlJyd160avuyYe3T"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/303276274/4a7552f9d018415e92d1f5670fd78545",
        "value": "i0Hm3SOFdXVFufAMvdpbrsCtZlkl5XUvF5W62cfBQC8LPRtmxP4N0yVyovFhF6cNsV-Jgu5PVvaHR5hdX1ODn2LxNYagpXXIlmr7LNzFPB_ApEvuKRyRIKJ-ucleJ3axcnI2SBUkH93a2kuxzyMCumMFiwYVolZDcL8xS5RTa8aENiLolnmwzCeq1DiH6L4lE_EvCrcWKKPUw_SmqVYcS9bWYaES8_OHUBy1mwTZt3xeLBBGBhB8foW9y5L9Baa-Dz849Lwj8YmszopC7tWE8a3fqRbvAOhUXGyALTCr8rHy7hCj-Mt5-5kDo1V6q3bjL0RVRsFuL6_iDdruPDS8hw"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/303276274/4a7552f9d018415e92d1f5670fd78545/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "P2Os7nBKQSg7aYD2IqgrV1dr0XjEaraTVdMty0Z0aZDwJiwCQlJyd160avuyYe3T",
        "value": "i0Hm3SOFdXVFufAMvdpbrsCtZlkl5XUvF5W62cfBQC8LPRtmxP4N0yVyovFhF6cNsV-Jgu5PVvaHR5hdX1ODn2LxNYagpXXIlmr7LNzFPB_ApEvuKRyRIKJ-ucleJ3axcnI2SBUkH93a2kuxzyMCumMFiwYVolZDcL8xS5RTa8aENiLolnmwzCeq1DiH6L4lE_EvCrcWKKPUw_SmqVYcS9bWYaES8_OHUBy1mwTZt3xeLBBGBhB8foW9y5L9Baa-Dz849Lwj8YmszopC7tWE8a3fqRbvAOhUXGyALTCr8rHy7hCj-Mt5-5kDo1V6q3bjL0RVRsFuL6_iDdruPDS8hw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/303276274/4a7552f9d018415e92d1f5670fd78545/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "P2Os7nBKQSg7aYD2IqgrV1dr0XjEaraTVdMty0Z0aZDwJiwCQlJyd160avuyYe3T",
        "value": "i0Hm3SOFdXVFufAMvdpbrsCtZlkl5XUvF5W62cfBQC8LPRtmxP4N0yVyovFhF6cNsV-Jgu5PVvaHR5hdX1ODn2LxNYagpXXIlmr7LNzFPB_ApEvuKRyRIKJ-ucleJ3axcnI2SBUkH93a2kuxzyMCumMFiwYVolZDcL8xS5RTa8aENiLolnmwzCeq1DiH6L4lE_EvCrcWKKPUw_SmqVYcS9bWYaES8_OHUBy1mwTZt3xeLBBGBhB8foW9y5L9Baa-Dz849Lwj8YmszopC7tWE8a3fqRbvAOhUXGyALTCr8rHy7hCj-Mt5-5kDo1V6q3bjL0RVRsFuL6_iDdruPDS8hw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "1967556532"
  }
}
