{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1806577195/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1806577195/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/1806577195/e3602b8b849b424e9c1705ec7cbc8fb3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "w6P-tsC4GjKaSTvtT8zSczmCKxQBDIeir1x7H3z_tQNeV8ZeL4-r2eJIwpftesJ3LBpmfnL-99a0A7n9QYsEmITD05GPaPgPKaIfe3yKfA5aBi8uZRmOFLi8ctNbAfhpYEOSeL6eeyEYyGIMm9D5mwQcXf-scOuhFdcFQpjftUjwPtWdtD-0y9WlpxuAxK3IYU5QJK7x-ZYEAQt4vxehXFiy9cFV8mSTEJ-9mlc3ZSkf1odlJLkzuVNtkqraIOFRSmGvrZXSmldmEwoMliPQl5dFtf_1jUHIk8AUtwwsGujHZqwDQp8wLb6KO1Tl4WI9zIOjuUloGS8MF9KE3f1CYQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759312878,
          "updated": 1759312878,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1806577195/e3602b8b849b424e9c1705ec7cbc8fb3/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "Bov9azw0oV634ZV79XWWQm7pfmuh9TO1A8sSXO3BKqdcMTESmMCVlXdhiTLwHPhv"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t282557e4338dc910.vault.azure.net/keys/1806577195/e3602b8b849b424e9c1705ec7cbc8fb3",
        "value": "bLUkKTef4xGWyBoKTwXNIidstDoZELWbBo7ARH21SV-sRBQZSHoXKl5ZA9CKlFk5dHLKTYPirZBdKqTSAfWC0kl-nuL1wy5_3rBwFmcElHSPel6yisL76KufRa3I_tfzCnTSniLVG_G36oyCC9[...]
