{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/602683243/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/602683243/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/602683243/ca4f2e6ac93f4067a33253858cc3ba7b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "n2DSNo9gdg1vx5PzPwJIyHKJHKbf5dYIrwrEvOqE6su2-CMXvECf1IBdO57zAK36TMkrQTrcU7RDZwqjduNlxUo8LV3E1ECv78D-BG73l0Pj1n8nbGRQjsCzOYnWiGBCtibfz_HhIgSC1nPINH7kphhY1tF4K9oYHviwzn49Ldij_iM2FMHDkzK62hs3S-uzfSUBUPI_WP7Yq3mCysVZKhK3BbjQkuptwm-4tDH5nXeCSXUjsPmB1m-qsXWNfMu4Rily8YDM2fNh_FXC7yhF0st71nzuxMctimkWbSOKtcG6D9oDzL3Q9l8jaBrZOmXZ8ndPeM0uJdhc1M8C7f45AQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756419152,
          "updated": 1756419152,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/602683243/ca4f2e6ac93f4067a33253858cc3ba7b?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid":[...]
