{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/799122482/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/799122482/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/799122482/a67c5b8f36fa4c14963f89f526a21838",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "APf4n3AK3peyWG9nV6AeWqw9M3Q38vJsGU-8xq6ylHowTrAse__e6ZZylXBBXpe7lkiyhvJiDa2BzeoOJkgY8HrG",
          "y": "ANa7AqRF2nwiSbLdiLkiu0PL32ZbckVjRny4tG0h1C15NFNlCuPMTxViubL7FRzj92vDlfRRH_IR07rzMi12AnoB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756942536,
          "updated": 1756942536,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/799122482/a67c5b8f36fa4c14963f89f526a21838/sign?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "u1IVfA2LIqxcNAq8nSUacNcEhkvjlJkuSKznl69XoQWlc7i50v5vt50M6j_ddhSTS5dNUDE7-WU-R4EA-RmFjw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/799122482/a67c5b8f36fa4c14963f89f526a21838",
        "value": "AcKbrEcW6yBXTKK9yHfsKZqhpn81-mtIFN8P6WdcJ_Vf7xeaaDLhivFSRB3HErWcq5uPD_IeuUi39COFsc9QbThhAIiK6PMe-XKIjskZi9a4PrUav6C8F2DqnQ0CD[...]
