{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/2017973405/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/2017973405/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/2017973405/9949dda14d3e4f9cb56e777c703c53ba",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wc7xD-AJhg8UW88tUAmtpyZXidZ3dJtS2p5iSTcngor1LYeOKXWJ9sf9pG-N2f4w1SfGI8aM4vMn9OFAIf37_iCfASCvcRs4z3kekIWugoWIuQlkWQGalL5ZbYCxY-eK8eURrXYGrLjJO3-1vREYNJ9mWrCWXQBZMQ1FneBhEFnH8eNCNp0EnIhttkMY8a2Xih0fsnHzLUfNa6OHuwB5F8f8ERtrmTOfEjKuZzS1G9o1pSQXcoa0_CauihklIK5alzr3oBKTJSh2WZYIZZSJVodj6Ali-6q4rLYcsLjRN8XpEtkNKhpiQI2uPCxCt9EcPaGMXLT3qzJtxZbz30ijMQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781139902,
          "updated": 1781139902,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/2017973405/9949dda14d3e4f9cb56e777c703c53ba/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "23poYyaAEsGcrq-baWnIT6geSQwVJVfTLrThieJItNk"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://joncarde-kv.vault.azure.net/keys/2017973405/9949dda14d3e4f9cb56e777c703c53ba",
        "value": "qE8WUc4cKP5VBKF_qXKdKDe4M7fT97o8TaVI8C5bhmhVQRaQ2GbHcwJ72apKFRj32ky8jNpgzdij0IOWjtXV-clYre0epqwlo6KA1iNEvB3C2haBk0i203Jkqbshkv_Zwx2b4JmETYZ0l8eRo-RHuffDSsCqfjpiminztukNVIC7_[...]
