{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/425040487/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/425040487/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/425040487/b56794d7ecf14d308b811004c85f0440",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "oOBxc_dEDnibY_CZQXGJ9uSYvNelTj03JSrwN6cCXZi4RfNdvRs4tUsjJmHnRajheC-l-iI4sPqIeoEPTVtfSiJkRdcALDMVU5lSJ1fWBHgIFR3FOt9wJG06WACehvV1Es9GEuNz2MrqukdJ7uPhImrxSsqowHruPYesg4e9d7nDZyEq3waA8Y1W5KeAitSwQX6sXeS6UNGLMW4oXKoTUP-sCJP8XlkSVStceybvsUSxUbxAGJfbhBPSIskUmi0u2TlI-fpUlivtm7KEIqjYyiB9n7lcAgR17q8ifVBsnXFGFERJnH7_Px6f6pP_dYZCCM4v3cJuOmcBSls_aUjpZQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756942169,
          "updated": 1756942169,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/425040487/b56794d7ecf14d308b811004c85f0440/sign?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "l71pjcJdKllqHRIeScam5m6Q6rByYo1fQd9ai6YjKvQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/425040487/b56794d7ecf14d308b811004c85f0440",
        "value": "makERMOv8KqZ8g1WIY1k0T4sfl_ETq15MXHfLvWrA5nBU5xI72aL3qzbacz4HleKWU7TeefwBEl1G65xlJwTbKx3Tl6vxLsa8ulJeNrKz6Wdk9paRwsc9x-bmnohPhNqqTx197aUL5CupE-6Q1bs5drlJHzs7xcH9I-eSGk9[...]
