{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/619861138/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/619861138/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/619861138/fddd9c30437a4a77a9524ce84a8bc14e",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "3VlfmAVbIxd1HTQd-cISFgXTvYOR58Cru8_TMaZIsB9VGxsKDKixURmAz9U203ds",
          "y": "OJ-rtwuxkgLjGXNVYFLLkziucExzd-SRE5zkI32_p80e7jaQB7tRee_HeDDeGOAK"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998131,
          "updated": 1692998131,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/619861138/fddd9c30437a4a77a9524ce84a8bc14e/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "-ozuC1p7RtatF6KRzmIhC5jeQOI8FHEvdyD0wFF5S1pa_c5z3Ay87ZACYv-YFHiL"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/619861138/fddd9c30437a4a77a9524ce84a8bc14e",
        "value": "myqImY1dh1UKKFIAtZEe3JtaOl4DlX6bgUoYRzerR4fegR6u9_cUa1AcAehXkkn8ftBn10EH0d8IypCClT7wOuSt8cJSF3qb9feH6glnhR7DMVX9EHSySsB3cPn90QlO"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/619861138/fddd9c30437a4a77a9524ce84a8bc14e/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "-ozuC1p7RtatF6KRzmIhC5jeQOI8FHEvdyD0wFF5S1pa_c5z3Ay87ZACYv-YFHiL",
        "value": "kSm_2rKzoF653a4cW-MGIat6PT0dbv5v0KyvvQ7e-v4utl3Ys66C9qaFOq-qnIAv3XNhPSLkX-QYqWvS7PXvMCLombrhIq9D81G0lcO0R4ZsyBN0pKWwVUJmrBdbUh-S"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/619861138/fddd9c30437a4a77a9524ce84a8bc14e/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "digest": "-ozuC1p7RtatF6KRzmIhC5jeQOI8FHEvdyD0wFF5S1pa_c5z3Ay87ZACYv-YFHiL",
        "value": "myqImY1dh1UKKFIAtZEe3JtaOl4DlX6bgUoYRzerR4fegR6u9_cUa1AcAehXkkn8ftBn10EH0d8IypCClT7wOuSt8cJSF3qb9feH6glnhR7DMVX9EHSySsB3cPn90QlO"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "592091618"
  }
}
