{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1847000000/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1847000000/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1847000000/1166543138d74ed882fff39db51a19c3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "9N976K7TyGlKez9k9ZZU3J9HGyjyonP5Lhzl17Bw98mSwUM-g3ph4cuLj88tR7niKqq6qTLUXqug9evlw31ZLGpY2JuLS3FwAqf-B_Vl-ErvP5gARRvIITXiMpeRmUNPkQUSeNjb3-tAl43euafbPQUAFQm4QzN8hVGyo0eKlWrw4DDcBXgvid4QoID9SvOT9xhaYF-QQ00q7wdlytRL0VPKCvLslkAEuXU-ceCz2sMEY0RXMIYhjkuS0AKvYDSmtjH_4__zsC7trADr4zlIOGGYn_NXZbH-7g1YVHS4AP1HwcY24NLhmraHKgqGFhJ7Ga9R6HR2zJqUK70-Z7H8YQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758945186,
          "updated": 1758945186,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1847000000/1166543138d74ed882fff39db51a19c3/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "WxVkSIQFA_uvQcFvZWYJu9fT8Z6F-UyoYTm4y2TmGzsGOkXwrunlEJKFp-1O1p5fIMEfRS5FNw7gqM_pxXOmzQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1847000000/1166543138d74ed882fff39db51a19c3",
        "value": "sLlBcFBheSMNfseeRVhaJQ12RD2Hy1bP7c0R6dCBnmKgkIg0W4yE6XuS4VjsgyL_53Wm9QTChKgqx3th3Yyra8KJU077oFei8ot2dGzhrwIClBRdlPs2podyvy5F[...]
