{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/715664116/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/715664116/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/715664116/faaeea47bf04464694e39853cede8666",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "431IECsvn-nsoN607rHQUX2fr8rYm_4fVHbHjsn2vHICy1RqoK2cOs9F2UEnmNhGFb_zP_R6CdBwIRTyjRetwfYCmn7bWX62vjprjcECvidBVPwWyDL6ZdXNFelTx_t4WPzJ2j5V68WeT8BoTGaXYgoJXoJG9wiTwf2S6SmK0S_ZHgQ2Z4SH5eNgbCwv-7JseqizSVI5DQFy-tkE4YXcPuNwmqIhLmkQdiDPASZhGgJMyXzu_HH_zjI90iudBs5-vR1oWyBUhtgcEtpIk6DXcZH5p6y9-4lsrlneXcnngioC_BbWeBJj7-UsTSDCBbfEg8zKxjPUum7-9P5f8AjYBQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929360,
          "updated": 1742929360,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/715664116/faaeea47bf04464694e39853cede8666/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "M5eIPOKOGV85ClWU8awfhGjAd3ph-Z3wNwi5ajc5HrM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/715664116/faaeea47bf04464694e39853cede8666",
        "value": "nl1wYAIoibBUdYCbhLGVDtjmYxSY0Q5E1Q8yq4OeSTyoSpRqKWpfm8dKRQ1_UH6zJqYytiIzg92cHLUM59qrQFSna-ZaJ-GXu7kj4N3lg-Lfx9u0wYrESmj86Z91wZwI9fandB1rPLsMtjZKWtUU4LNbcig0gyfkyqjat5ySK3Pr1CVeEYJRCYNPa8sIhFNmIcS8IoJqDF5DNv1dQ5y4lvkdB4oIQ4r6eSpR568fH1SGNyFPRnE9y-yqMv6c8XVKXdLFrh2_Ruc4LCCcHZ29ZVaILFxZSJNZOD2oqhqQSLjr-AiZsN5VntJpk_w9Ahm6Yo0QWmQ8a64yuznxjuyAlw"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/715664116/faaeea47bf04464694e39853cede8666/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "M5eIPOKOGV85ClWU8awfhGjAd3ph-Z3wNwi5ajc5HrM",
        "value": "A59nSyXQRMwpHmaQ_TcShzc07rDp2Y3oCdKhShn-hGUjVLT0aKxsg97TSSL9z6HykI4OPEd8T1XwAxPS8NPUYki_l7Xj4MBE1S4ZLymUDG5jV7qJsmY0xLuG2ov_GZnrrDBV1CScKjDookbhrB6wCN2uteiKCipBEhzRrXWtFQzEXOgEY2jnpM0L_RFL5GPgh1M7N6nlmj-7BUxsPqCvvvks64piMzXDhciAZ1EPFor21TcXK5nHulZlm9jVYZaEtLV_qi0LOeiwRjBsTMwCxE3a598s5VyRKDkevtlOtAJyvfgvunOcOQGDD4OEtTdZ5TnFJ4CY3KG4zqoLXc7IXw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/715664116/faaeea47bf04464694e39853cede8666/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "M5eIPOKOGV85ClWU8awfhGjAd3ph-Z3wNwi5ajc5HrM",
        "value": "nl1wYAIoibBUdYCbhLGVDtjmYxSY0Q5E1Q8yq4OeSTyoSpRqKWpfm8dKRQ1_UH6zJqYytiIzg92cHLUM59qrQFSna-ZaJ-GXu7kj4N3lg-Lfx9u0wYrESmj86Z91wZwI9fandB1rPLsMtjZKWtUU4LNbcig0gyfkyqjat5ySK3Pr1CVeEYJRCYNPa8sIhFNmIcS8IoJqDF5DNv1dQ5y4lvkdB4oIQ4r6eSpR568fH1SGNyFPRnE9y-yqMv6c8XVKXdLFrh2_Ruc4LCCcHZ29ZVaILFxZSJNZOD2oqhqQSLjr-AiZsN5VntJpk_w9Ahm6Yo0QWmQ8a64yuznxjuyAlw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "344181983"
  }
}
