{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1823645685/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1823645685/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1823645685/c2a1347b522d48958fe62ecdd0771b31",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "1jkG_d8zBDhW496Ca_r4okePYd5VQaO4r6DRpLobY-AU8FNQ4h1mevbfD7HH2l4B94bC_fc1nU5MVAGeRi3yV1DSL4Ky6dxD0_GTnP0IUhqahgLT4wpGzd9IDYezbE86pDEwjl9wMSgI_yU9X-aOzaStEjX4Irk9zEQ-JdcFnXeO8VN_kEJV3MlqpsLnMw9Ii0rf0wc2OWWrx6C3eeH3DYf611Ul5vuKzpNS2QALr5jDFdSO10jIi--cus-eNJ3-6kWJou59TZmTI0JqkaLRUp1eH-24uMxwBQswkrqWavca7-1SQKHTCJR_4dI8Z9RjsgmUHyLvsbQyNfQrzQ1ZlQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758945134,
          "updated": 1758945134,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1823645685/c2a1347b522d48958fe62ecdd0771b31/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS512",
        "value": "xrG5RAabC4cE2uRd7mC7ArUMo8KaB_VkKcn3q9RxXXsmfA76j69kzUPylpggr46OeMURAGCsHQrrQW1c53xfSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1823645685/c2a1347b522d48958fe62ecdd0771b31",
        "value": "b5x3SubHpr6y-D9DI5jGlur7aT5Bi5qgRIqthQWYj4nl5kB_F3McAcsm59JxZr8mX1aVpg1x_756U6vBoswylVDHKLJNwOuXq-jOy7wPk8GhCCtvw0LSjxdqK7pt[...]
