{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1316446232/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1316446232/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1316446232/29eb32ad710d4a70b7a21e49d2242e8c",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "pdsdMvGfnqnVctYuPBiymTxezZryaVLyvby6FNZk-uM",
          "y": "n376agitJBFfdmwIABvNYY8LD_7g2osxw21GLEOGjPs"
        },
        "attributes": {
          "enabled": true,
          "created": 1756419591,
          "updated": 1756419591,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1316446232/29eb32ad710d4a70b7a21e49d2242e8c/sign?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "DO_GrCSEMol55OD1KkRj2oYfBboGyiNAOUHtILhQTkY"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1316446232/29eb32ad710d4a70b7a21e49d2242e8c",
        "value": "4rQmOYHSDN4i8zTA2P7_enr01D686rW0nsW0hhKUSseWi9U-lc3VtEMVVqiYpHjlOXOH7fketTJh3iHI_2rrBg"
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.a[...]
