{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/918087783/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/918087783/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/918087783/6de238e89e1a45d5816f638f944f3bb6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0p7LK_rJD4Bax9deciUwDCFL2Twq4yi6M96ZLRBWrq0W6gD0jx141MimhKHvitk1R_iZDxrEF03BER2iGLn_stShvalBZrZ6HRO_JithTeYRHh_bPrV_0P1s05-XRSxg1zcfCOoAapXjOAkDR010YnW3i7iK6SPnAUVcLoEeRam83MsMQtraxBQ05etnklxgj9YdkzjgaxlMO9rz1MXxjjOEl79GRr0UnXpi6RkA1b-gIFn2mXlaErnPiltIZlBPYCll1oa8vBJppOR5XAenVyVk50ewwlLknC82eRBLNY4RjmomtFpGZFzUkUokuXpVLvRohFJh6kV0leWvW38ydQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780402904,
          "updated": 1780402904,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/918087783/6de238e89e1a45d5816f638f944f3bb6/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "ie9memPaTaptZkAxQIAMXbzRyG6j2KUsQL6EAhyFstw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://externalkeysdk.vault.azure.net/keys/918087783/6de238e89e1a45d5816f638f944f3bb6",
        "value": "aoCorkZS9oaXLm3RvDvpA7YN5maRJ6YCOJx-Yz719WINNFXkkKYcAJ1Ml8ZRVzgQ-Xgu_DSf0tx8bhcn4rnFBnLBWfQGPNfwWC8qhTgHYgG-AB-CxeBZrrgUPA5Akrzo2NiEOM8_ULqFyepXlO8UjfmJemHJN21zrUj4hA-0-Kx[...]
