{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/302859119/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/302859119/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/302859119/2a1aba836cee475eadc34adc64b76d64",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vbr-C2QFAUirIvmWGQI9CGXsO78mL7xyUznJ-DL36xeH3BJR4xTzsg3l0Ge9ZxYSmiZbqb47aJM7ADwblbt6L3xgQXMjbY_YYPJvbV-GMft1PTpZKDbM4IW_u3JhUvEuEufJ6hIwjH8QSJhg9oxBl4kSh5OPUTo9OGpq4hdBDPTc-VG1Uqot930FdsIv6Hsy5xDpa0hP7zDXvyKbLpTqFaHI5FYrW5UKKjRPTrfvogQO1d19gcAukTrvQV7otSNwMMgnqQHaOg0J7VwbE3yiYHID8XPlYaCWjkfckT0d1KiSOYDIxfcrjKNFxZEXE5B1IvBuFR8pbUV9DuxtphkZJQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760697,
          "updated": 1750760697,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/302859119/2a1aba836cee475eadc34adc64b76d64?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/302859119/2a1aba836cee475eadc34adc64b76d64",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vbr-C2QFAUirIvmWGQI9CGXsO78mL7xyUznJ-DL36xeH3BJR4xTzsg3l0Ge9ZxYSmiZbqb47aJM7ADwblbt6L3xgQXMjbY_YYPJvbV-GMft1PTpZKDbM4IW_u3JhUvEuEufJ6hIwjH8QSJhg9oxBl4kSh5OPUTo9OGpq4hdBDPTc-VG1Uqot930FdsIv6Hsy5xDpa0hP7zDXvyKbLpTqFaHI5FYrW5UKKjRPTrfvogQO1d19gcAukTrvQV7otSNwMMgnqQHaOg0J7VwbE3yiYHID8XPlYaCWjkfckT0d1KiSOYDIxfcrjKNFxZEXE5B1IvBuFR8pbUV9DuxtphkZJQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760697,
          "updated": 1750760697,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/302859119/2a1aba836cee475eadc34adc64b76d64/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "NGREj91ABacKQeRqL_N6nXBiu72jZXW33spH5yv2zPlL33a_L4tNKVYk-o32t6dZ1X8dXmbrTU6TstG88SX-Aw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/302859119/2a1aba836cee475eadc34adc64b76d64",
        "value": "ZebyS3LYxzLP_xgcNYwg8KdWEu95G-Gzjm1xqqdYGU5u7IPm3g-DLHit609-JvqzPpDsSev_rgz2IyNpTxfifUyD_O3PousPUc8igTdU63oSMHhpiip5NbM96wLlpu89MWWnWG_Qx-wYBs02zJo78dwfoQJnGWXF9g99xdJfMvuRiMs1HG8eir2q-MBh0GYFQrOCO2twnN-IBJhMH_jtR1yWJ5BfJVjIwaKhutML4E-0FoebiNni3xclqqeVlhIGE25qN914LSwGLxzaEBgClhDaJgV4F2y-Nlcp94iiuWvajuSRdFfVhnyQEyhso_NK_IAn8KGu8CvabRBcYXfDPA"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "1168013063"
  }
}
