{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/730032734/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/730032734/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/730032734/012b02d913b14c50b7e41d4eb03bf36b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "tx0_1auZpVinm7i0TMVLFjoY-qB6jfppgMFHMDHE2F_UARbOnMP4iNB_S0Tdij5Q0515wHbs2yTtR15yLmNyz7UF47PnvN41Iqm7Z9CVSe-Rvv2mIwFYYn9pTZ4ggjNB_9mkEdw3EaxdtTITIFrzImg_Mf4zyU_ECSkG3P0m6paow1lmh5Saje1Qt4sCDzpqyPrXL7PJKaOCzD9QOxtSxGhORkxgU32hxDkKG58e3oPWghIqPrZPQvWtfS7Ln0A0VtDWYset8GPwl1-Law9q-xHYLCiT8Wk26LNPE2ufRoM4e0fSpk0CEV_yPotzJDI7RfCAja-FVY_v1wAcfdIKrQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724201493,
          "updated": 1724201493,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/730032734/012b02d913b14c50b7e41d4eb03bf36b/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "r6Qhwf0tlpoGRDMN9KqyQgWQeB380aczpgUayOPkkPv6qTclcqejLI1tnq7zSrmg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/730032734/012b02d913b14c50b7e41d4eb03bf36b",
        "value": "Zh051jbEbae1Y_vhGTXsjGXCHB9YgxHVfS4p9-fDjEa8dWUkmSWOS56nO7PxDHvVm72Jbz4_QwHc_k1jvgxCPq0TEYWB6AvkonoZMqbOrRpuwkNHc_d_TNvLuOjnQiHrrlkQIthT_QghkijMKPGjD7sj66QrGh-9W6nmXxI1KukR_1BohlN_uPoHzhslHbwR7JMRE7Cb2MYOZ6lOwWz41wioPJJunW_Vj4PnSywXio3uyHxhyS1Cr0dTSvz9KSQLLWcFHcAQQNPoXcMktWMG_Wb61zyxsIcjJyTWzfR9GZnOHvwysP0NHaZI1O85yy9zx9ROlh5r8FVZi0jk-ocU-w"
      }
    },
[...]
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/730032734/012b02d913b14c50b7e41d4eb03bf36b/verify?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "r6Qhwf0tlpoGRDMN9KqyQgWQeB380aczpgUayOPkkPv6qTclcqejLI1tnq7zSrmg",
        "value": "Zh051jbEbae1Y_vhGTXsjGXCHB9YgxHVfS4p9-fDjEa8dWUkmSWOS56nO7PxDHvVm72Jbz4_QwHc_k1jvgxCPq0TEYWB6AvkonoZMqbOrRpuwkNHc_d_TNvLuOjnQiHrrlkQIthT_QghkijMKPGjD7sj66QrGh-9W6nmXxI1KukR_1BohlN_uPoHzhslHbwR7JMRE7Cb2MYOZ6lOwWz41wioPJJunW_Vj4PnSywXio3uyHxhyS1Cr0dTSvz9KSQLLWcFHcAQQNPoXcMktWMG_Wb61zyxsIcjJyTWzfR9GZnOHvwysP0NHaZI1O85yy9zx9ROlh5r8FVZi0jk-ocU-w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/730032734/012b02d913b14c50b7e41d4eb03bf36b/verify?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "digest": "r6Qhwf0tlpoGRDMN9KqyQgWQeB380aczpgUayOPkkPv6qTclcqejLI1tnq7zSrmg",
        "value": "Zh051jbEbae1Y_vhGTXsjGXCHB9YgxHVfS4p9-fDjEa8dWUkmSWOS56nO7PxDHvVm72Jbz4_QwHc_k1jvgxCPq0TEYWB6AvkonoZMqbOrRpuwkNHc_d_TNvLuOjnQiHrrlkQIthT_QghkijMKPGjD7sj66QrGh-9W6nmXxI1KukR_1BohlN_uPoHzhslHbwR7JMRE7Cb2MYOZ6lOwWz41wioPJJunW_Vj4PnSywXio3uyHxhyS1Cr0dTSvz9KSQLLWcFHcAQQNPoXcMktWMG_Wb61zyxsIcjJyTWzfR9GZnOHvwysP0NHaZI1O85yy9zx9ROlh5r8FVZi0jk-ocU-w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "1091541189"
  }
}
