{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/2122496836/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/2122496836/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/2122496836/bb1593d9dd014380ba9de5c1d9fd1af0",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ANSXYG6BOZZP13R-ehQT7Bct1XvirVRR9qSNxDZIxUumYd-DQ7Fjc8Gd8htV0_UwYSOrnW3mDBdvr9C6QR4SyX9j",
          "y": "ANW-6IUr-QAMoE5YLrqjdKeXuVurNgEOxMenX3rn5NzDRT59tSpV2dXacWCBh9OxT6aXkhaz-LwkUYA-E6RBQWRs"
        },
        "attributes": {
          "enabled": true,
          "created": 1780403367,
          "updated": 1780403367,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/2122496836/bb1593d9dd014380ba9de5c1d9fd1af0/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "a1OppmFyt7u1Z2erKgqQGMdlao2fbZM1UsMgCNPlp-DOIfs6TuHUsWFjZx3XJ3_N7acUnrK8ChlFRjr1kOO5nQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://externalkeysdk.vault.azure.net/keys/2122496836/bb1593d9dd014380ba9de5c1d9fd1af0",
        "value": "AcWhzMsHtXuic_f_PSnRK4waA6YNCVIuPsQet52CZd_w3eRH855SBPe2pVCxRXMpko-yf9gI0B3IRDsGYWZAbMbbANmuvpVP95rp995WCu1Xl02vy3oLf7zKszqK3Yv[...]
