{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1480557062/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1480557062/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1480557062/a928a14a5f404b8aa6bb84c7032e75ae",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "ASJUHqU0FgQrSoxIEXzwTa8P98bXM4Bo_9MSzGH-DXm24kbyug0rSnN7Qu3UDmABEmFP2fJq5MGbyoxphVo0zdAZ",
          "y": "ATeCR-6m09MHGG2BGSaTbSuZh8Rmsulq7hT1EfxkWfKiTSOfmc_ZVDn_mX9hYLJj35WPiNBli6hQ3Tb7e7Zcud-y"
        },
        "attributes": {
          "enabled": true,
          "created": 1756418441,
          "updated": 1756418441,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1480557062/a928a14a5f404b8aa6bb84c7032e75ae/sign?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "T06MfgzrFSavcW2VF6d94P1SP17nf4XaBAxvnhhV0NAUjxNdoSa3c46ADruK76k-nALomIp4-xTfiMin-9tqdA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1480557062/a928a14a5f404b8aa6bb84c7032e75ae",
        "value": "AWftGiDH5gFslarFPyBs_bN5FyPY19LQ0AqbIjmx4ObkmLbdT1mie-KgMF5uPAeeK8xn_euwjmIlorFCbXl2g7kAAWSeoiVaTK67Uh0IRxYybE3I8wlyZRKkXJQ4[...]
