{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1175277792/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1175277792/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1175277792/e895b9d063b041419babdffd1e1864de",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wZSMF5metvUwSqXaA8xOAf9-LWEYu5vkHzPLT_RmelZhgNxA8zDVLmdJ6hwgmSA8soTQsnDIlJD3c8vu7zMlqQ4ndETpyY59fF5NVgzTjX0OO2RNf-JKiYXRmbBOBv8sKTJGC2g3A0u3-ZQ2S63vsQANUv9Jat49nfb01pxVLSeHAw0_Epy626nh_zkqgm0DosJ8xoR1xroApgHuZ1rl4Bw5bEoRbVE_0o6GBvkj-TjXclPRQXOYY0TAsFFV0cPf1bUlYIQbJSJGNJnmC61jtACHsuDLCwdMi8JGBo2EcXP-i7wjrTJ5TIx0Mx2y4IS8pBy8KMiinDPJaHoAEKAPUQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756942185,
          "updated": 1756942185,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1175277792/e895b9d063b041419babdffd1e1864de/sign?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "OS-u0y8-HR_us1rooJOP4U1KNZBLxhqDxujNpdvZeiGDcDhAMGiMeA2tacrVJEPa"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1175277792/e895b9d063b041419babdffd1e1864de",
        "value": "NiPW70i7RY6bfM1nM7wAZn1kRHg-PaD1YCeqo31uJLR04ZtxppWBIClRTm6D8JfUbJkQyz1u_-pQsCkDcw0Xzskg3cOTbJ2xluhGHOdl2yGfZTm1TD4CSYlpw3nWdvUYbMTacVW09Oj9sK9wfY[...]
