{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1739764968/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1739764968/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1739764968/912b395b1bcb40008146fb6229550985",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "3Dv8jFtBU2r4jtx11Js3lL1nxSupsH0laMXTitzYsAE69VgeyaHZTxY2EDUoobPhLV43R-MWi0SSGGzXhgFJwRizNDgpqGRvkp3RUcFvrIY6a_W8p-DrwZY-1b7TP9yDG-8ZZnf3SmJX_V7GngEHs0KKLE62TJitJQ-adVj3KLRF8srnQ9lnX6anymicJ4nBG1axvlT5PdOVTXwq_pD7mcvg89tklTunLpX-5fyfqOCx0pyX9FGlkRSd7GWZwCTdV4Kw85Qth8zAikf5b7IM-nLR9EzKPRAfkre1u9CP5J0bstwtpTGBm1m66nRcASuXA3KkmZ_SGJWQjwKu4S6QgQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707529799,
          "updated": 1707529799,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1739764968/912b395b1bcb40008146fb6229550985?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1739764968/912b395b1bcb40008146fb6229550985",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "3Dv8jFtBU2r4jtx11Js3lL1nxSupsH0laMXTitzYsAE69VgeyaHZTxY2EDUoobPhLV43R-MWi0SSGGzXhgFJwRizNDgpqGRvkp3RUcFvrIY6a_W8p-DrwZY-1b7TP9yDG-8ZZnf3SmJX_V7GngEHs0KKLE62TJitJQ-adVj3KLRF8srnQ9lnX6anymicJ4nBG1axvlT5PdOVTXwq_pD7mcvg89tklTunLpX-5fyfqOCx0pyX9FGlkRSd7GWZwCTdV4Kw85Qth8zAikf5b7IM-nLR9EzKPRAfkre1u9CP5J0bstwtpTGBm1m66nRcASuXA3KkmZ_SGJWQjwKu4S6QgQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707529799,
          "updated": 1707529799,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1739764968/912b395b1bcb40008146fb6229550985/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "dAiahHqNKfaNC5718nsWEXdYI6uHj6FbXG4EZQQHFh8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1739764968/912b395b1bcb40008146fb6229550985",
        "value": "bgeBFPAveQIxc5pOH6V0lmGhGWAiY5WwgPnMQCGMAMQhgy3jGEqqYT5DgnUKy6jhOZlPrU-GvFdfQ7jVsiLjiy2jp6T60zcOk93QXb0s6MXBtqf3QULex8U4VasR7hDBLE6BG0Zt5BWpGme3Ew_0mrzarTJcOfZ8Q0tdas0yNMZpOKDZ0bfPjHNgcl9H0koLo9VpGi_qaV_cayHwW4sBxjnDff_Hn_O3_uPHiZgwBc26_PVQ06VodWDP59L8ArTS8BivdukIt8KYy0BVEvJem8Il3dSR-fE7AalvGy2K6hnqVEJVDpkJjbkQ3-ysHx_MDn333QkmGqblhe4A4si2Fg"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "19582784"
  }
}
