{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1155827362/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1155827362/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/1155827362/46fe7ac3473d4f26b3585a3820df35de",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "STH9oW23VZIM0thpPLMncocgNbn5DgX1nGXqAHhiZv4",
          "y": "iK2vPgjcdnItpYzNe9NBhxFY3X6tECc6Q35V9BrFlvI"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929392,
          "updated": 1742929392,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1155827362/46fe7ac3473d4f26b3585a3820df35de/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "qcfCGHYFEYZVE5xe5Gp3_aWLIf2iqR28gUCVD1GON2Y"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/1155827362/46fe7ac3473d4f26b3585a3820df35de",
        "value": "6DbX_Y0icfVXvQP0ZmenPeAH2pkPn_9L_VZwnHfRgcUJWqcwwzJAGD6mCh0D5jec7t2pin-gr3YhWCDIJQgfkQ"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1155827362/46fe7ac3473d4f26b3585a3820df35de/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "qcfCGHYFEYZVE5xe5Gp3_aWLIf2iqR28gUCVD1GON2Y",
        "value": "ir5I3BUCU5SjBmcCkhiEedhrAJ_bjiXRQUv3ghfRBbwzcXmzjlE8SBgQ-T5hzAvo5BbxuW3WjtwjFLnwZyZpZQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/1155827362/46fe7ac3473d4f26b3585a3820df35de/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "qcfCGHYFEYZVE5xe5Gp3_aWLIf2iqR28gUCVD1GON2Y",
        "value": "6DbX_Y0icfVXvQP0ZmenPeAH2pkPn_9L_VZwnHfRgcUJWqcwwzJAGD6mCh0D5jec7t2pin-gr3YhWCDIJQgfkQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "1886147367"
  }
}
