{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1630709310/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1630709310/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1630709310/559da7836ee346e48ddc6c095dcb907f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uHwSHBZh9bJeUke8-k8t4R8QEg3QNMETLsABfgmp48mROsk3zcr3bZbEJE1WnvlaOiZU4KEaqkW_ljPEmEVTzaBRhvct0HIpGhVLikV-BNBJliLVxCDflrPwQqXGI0QmwPpkCaZVeceOMyywFPw-FBF7QaeSyAY8p3TYKcyG6JIzPZhoOf5GJ_pcfHI_uBEtp7D368zN5tuwSYlvf49hHQ-2E_eCsKt4rXmqrYDtDjhnov3vDmX2TSO_MCOKQVxyL5_EUoPkY6DJgEX_ZPACLhDmxPxxtKbFt7m2z8ZZ3Mbwyzm1kV9ZXQx9Ir5leqrnB0MN6Y8NoXMU1epR4KgeNQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756943473,
          "updated": 1756943473,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1630709310/559da7836ee346e48ddc6c095dcb907f/sign?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "8auYT0MkotJSs2CIt2Gx7xB8XbGpwCpe1ioKo4YYo3w"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1630709310/559da7836ee346e48ddc6c095dcb907f",
        "value": "F7YSttmtBqUDvguPJp7ROkhMkO2i8H09aWXQok37UTOaBQk8yjQn0SP-pMlSUAjIKISbS8F9--IPXnG1hES0wB99Jk3vyVPe5rX_E7d2OIf8j5wGGukAH4oUuQKYxX9cAKIshWNWi4MzNYq1LIIeO2xfmO16PjCikcLcrps[...]
