{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/167947402/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/167947402/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/167947402/6e27370bbbde4923a3b47f7ac24a1a8c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xYwuYKblJdR-VHPeN7M3u7dCB4KaeLfsdclR-hMBmKeIv9izTnTohrCymj43ssxqmH3kZnPex_On4n6cl1VrwKLy8KMCHMtI1x7-41ZQKby8Gs4_DvLE1g-39YTbIuk8hyP9Swkd1QdtsrRIJBDc2RMSzjopcrnL4luhRdErGaJ-Y4N7XDEM-fqn5Py3G75FqVzarKDgMEdQMQr9fixPWdKBQKuvACK7mgsFgjMk5s1ZZyg37ROoNCY_IiNkFFMNLdBdSQIr75vMSXI436wuSGiKqxp8kjYdzN_kJ5uIvKxKZB5pGK8eC7YZbF3vrba9DHGXqJvjfbhjQ06k_PG1_Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760909,
          "updated": 1750760909,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/167947402/6e27370bbbde4923a3b47f7ac24a1a8c/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "bhayms41drc9_FkUJH3y3NBI6BmovAr3f-PduAev36n838rwvsgLMEbVJR-u6AribORoT0XLEzK2HZtjulLTaw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/167947402/6e27370bbbde4923a3b47f7ac24a1a8c",
        "value": "JM0qF44MZE5WN9vFoTQzgOrew6JGlS31gnFHoCR0Eb4K0od3-Sq0okuuXLhAltvA6yHLKgi6_0ZWUDNTbncNYKUjOotHjKWwUfNoTwMwShdV795jUDiO10r1m1m8Pe0X1L1tC66kBy57cB7UBXkD-1-OWu8sShii9Y828ZJlXckudUA6KxEB59e-mdLZt90VXrsYV2Dr467PnnNIZC-vVPo7sY8d94hzzZS7GCxAzvnwO4Mzd-RcmTsjnvUunQK99lzwUyf6ZzqO4CGuGFK9DmeDUbKmg6_jzCRsnUNmY9ECsuA7Vvg5JzSyhCeToecEs_1WGFWXuhlyZpXZvMXIBg"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/167947402/6e27370bbbde4923a3b47f7ac24a1a8c/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "bhayms41drc9_FkUJH3y3NBI6BmovAr3f-PduAev36n838rwvsgLMEbVJR-u6AribORoT0XLEzK2HZtjulLTaw",
        "value": "wY3KZzILhYrVrCCOQ-kDIwPggPXtLNSVX-9_K8UqynJ39VyMmm_Kvt1cZrNFUi642xO8JWff9CMHh9iC-rkhCaUlgschly9TP1ERdnszIyynCKZWVm7ymzqNVv5u9_il9PA2uywUXyGqeRKyrsMdhARzgdCyNxSGMAKr1ty-Y38syZbM4kfKoNlQRUGqz022E2jzMvVjq_QMXUbWNdxoklRf0O93jKReiDcaLxNfBEDw6CwJHiEjJxzHdtskGcwuUTnY59JzLpkNh_Bljq0VQRL-8y-v-g-r2_m4bbpgb0vrZVDuzuPva12suUEkf0DXWRVCE7BqEK02Otl7j0HRVA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/167947402/6e27370bbbde4923a3b47f7ac24a1a8c/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "digest": "bhayms41drc9_FkUJH3y3NBI6BmovAr3f-PduAev36n838rwvsgLMEbVJR-u6AribORoT0XLEzK2HZtjulLTaw",
        "value": "JM0qF44MZE5WN9vFoTQzgOrew6JGlS31gnFHoCR0Eb4K0od3-Sq0okuuXLhAltvA6yHLKgi6_0ZWUDNTbncNYKUjOotHjKWwUfNoTwMwShdV795jUDiO10r1m1m8Pe0X1L1tC66kBy57cB7UBXkD-1-OWu8sShii9Y828ZJlXckudUA6KxEB59e-mdLZt90VXrsYV2Dr467PnnNIZC-vVPo7sY8d94hzzZS7GCxAzvnwO4Mzd-RcmTsjnvUunQK99lzwUyf6ZzqO4CGuGFK9DmeDUbKmg6_jzCRsnUNmY9ECsuA7Vvg5JzSyhCeToecEs_1WGFWXuhlyZpXZvMXIBg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "58910896"
  }
}
