{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1979886251/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1979886251/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/1979886251/3b5a3bca4a7c477c8dd3e22a1284bcc3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qBlx5Lsy5FVLXVrzHqYVcHwuOu5fhSTSld-7mxaI1znWVCdswFEC69Sxr4PM3ofoeQbSb4Bvs6fEOn2iFPWVld4hKL0Z45y6pp4YN9lAQrCl49zv-YDnAz2J9sj-mBf63vIvXyL3dStBvDPEE3X5RZ2igXjO2-e4HwWXX2BJDxNVlKpTm1yoQWWNSu-O8VdRt3hANCAuA4ymuP6TWjmkK191RoUtt1MVpZ4yG6w1rTwitu4ByRS3tXgwi2RAHPhq_JqKYQJONpabQGVP4qbRNKpwNjJ2tD2luvsqs6xs8H067NB7O7_sKkHJk-548XeIDP8zsD42e71BnEtMKtT1fQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780402923,
          "updated": 1780402923,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1979886251/3b5a3bca4a7c477c8dd3e22a1284bcc3/sign?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "cFYy1FDYvo6yInHCnmR2Tm9GR_G2vN_svh-1sxKeo0AguZpd8rCMUnOaAZhQTjT-xGj9lI0Hr0PH7ZDkSdPxPg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://externalkeysdk.vault.azure.net/keys/1979886251/3b5a3bca4a7c477c8dd3e22a1284bcc3",
        "value": "oSMwsokQeH_ynI1oBhY6bzcXAKivLxM8n4UeuEEdFp9mLEuB1xGL1F8Of1Vg7va-lRrQE6psNKxHJvCbF16hLM9aOdHiz5dSpL7yueqthdlMsiHY5b20oydyagSFhn1[...]
