{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1007477630/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1007477630/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1007477630/adf8b613e8e147ae9e05bd27c562efbb",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AGYaqGfAm6jDK53_p5Gp9VTK2k6whhveJNFwHmsvYzrSW3nUbrwGfPVmg5Nd0zt5KDyKZUlKuKGiNVYE5nBhnvt1",
          "y": "AWkwuiM_2iW3yZpCQ3wcl6NPfTz7X4Ew6oclGn3e_wB2G4vAtZGE0YWH9vjmMqwygSLorX2LlKsywkcBUbRt06Cc"
        },
        "attributes": {
          "enabled": true,
          "created": 1707529853,
          "updated": 1707529853,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1007477630/adf8b613e8e147ae9e05bd27c562efbb/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "9-Vagh9BSaEhlZBjlFD8j47eBY9p7NKZGeJjS7i2ObFIDM-ZF5VHFVWHQbPMK74W1RJqujboiBzKAmuO6Vt23Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1007477630/adf8b613e8e147ae9e05bd27c562efbb",
        "value": "Af5MTCizR9MXLH_IxKPY244GZ_JO1yH_3ICh3B_3H4NXRJRoN5d2AuFyfBGzeaQ7slie2qFO1DjRfJdsoUYkQtPJAbxdKaQK1rcyyyDAQQ2OQu2i7Gjzaji0icbvHahh1nDdX8FY92gj3QW6v179DP6Pmu1XRR2WeAkr5i3DHqL9yb87"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1007477630/adf8b613e8e147ae9e05bd27c562efbb/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "9-Vagh9BSaEhlZBjlFD8j47eBY9p7NKZGeJjS7i2ObFIDM-ZF5VHFVWHQbPMK74W1RJqujboiBzKAmuO6Vt23Q",
        "value": "ANFsNyCxaA7M-I82UJTMuBQpqh0jrcf39G0SLJr2UgjWSGGZRpdcPiniI1lqlYjsG0BmYwM9UVys2mc_w4fjzB6iAXgJ2g5TT7m59_w9_78nZiGL3Q_El5B1z7NhHrwTOy_tcs34k2dpweht3YKvEmbx6s5Iq_dYuPT04DVn-7Qt-wa5"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1007477630/adf8b613e8e147ae9e05bd27c562efbb/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "9-Vagh9BSaEhlZBjlFD8j47eBY9p7NKZGeJjS7i2ObFIDM-ZF5VHFVWHQbPMK74W1RJqujboiBzKAmuO6Vt23Q",
        "value": "Af5MTCizR9MXLH_IxKPY244GZ_JO1yH_3ICh3B_3H4NXRJRoN5d2AuFyfBGzeaQ7slie2qFO1DjRfJdsoUYkQtPJAbxdKaQK1rcyyyDAQQ2OQu2i7Gjzaji0icbvHahh1nDdX8FY92gj3QW6v179DP6Pmu1XRR2WeAkr5i3DHqL9yb87"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "955632352"
  }
}
