{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1896832302/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1896832302/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1896832302/aca38d75528145e9b7607cba3f086f65",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0mEKdW8LFjwqS_fPiffnBdaSu_bsgnQI1VrF6uLtzEKeaUqISqjznMcP9IEg36EbdWVa3GznmHu3fn5sfg9CiKyVvi-Hv726lRKfZwBZMWrDBOqBZhPjBR9Yr1U-qx995LBHfDENGe4txjhZ-n4mOGcNyU0LkAJ-L23HMlHd6C3aXS1Z_N8KyqHbACUaSXHjudvwR1wXuYPY58SYBKdFrb98CNC_nD3NqYlEKA4nzO0ZQxTLxthpQimwVDfsZZS68Ee-rbufg4k_7q9v_260sl6qzlEkft3HCKItdcgnAw4HIJI8Qo_yRdErDS67AuzlFY0Jymfib8uUNfk7nQH4-Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756419576,
          "updated": 1756419576,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1896832302/aca38d75528145e9b7607cba3f086f65/sign?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "QQPAmC12XqjVqVfpvvUcYWKbbfDm5_xmYOv5p0UaEAjBopq-O0Z-7p0VtAw-taSVk1QNEA717J2Uf1Az7a4jsQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1896832302/aca38d75528145e9b7607cba3f086f65",
        "value": "pH2ryTwj-u5JH8KWi0y9K0TIRogjZLY6eQR49BIuiwjzI3Qw2QKvtodPSKZch9RKHbV85FC4azmrO9-rIfzYZB5OlJbLuuOnZsDGR8tofJTVSdeqKBfgTjshDJuv[...]
