{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/890731625/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/890731625/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/890731625/0213fe298c8e42eb9ddbc48ea7988fa2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "l57BPchLBZYrqedE8l38wywH5H1P5ZjFwyNPIprEu4zARTIZT2mwgzbTlZVgz7FgeU3Uj_eV2V31DgWZ_d4mqrkpBOKz-V6cNCYi_s5wQLU4w7JCyzZVW0uKImEJQ8lDlyoRpGQ1GcXcvsE0C7bPnSpOFZHFvBAazAf-TvZ7CV0K34Yg0-CSdQ-cpYhT8IbDO74MOHnklxppbMwbyrCjIRZFmrKcZpP8fobvH_Hm-8F2f80r9aAIcoAoVmYDNocLRSc_xGFHgG8vaLM2VIW51ZWm8XsPoe5onc5DDdRVWdZJsW0gQ0pNmueFY5J6KaltgLyCUyDz-f5GM5IGstiJzQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758944244,
          "updated": 1758944244,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/890731625/0213fe298c8e42eb9ddbc48ea7988fa2/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "XWLWIzFyDCvAAm5L39mzUI1z_KmMi2fheks0w2N2R5zFL9DtcphY2ZVell8nFAkZWRsHH-xy_0ZPealD4pssEg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/890731625/0213fe298c8e42eb9ddbc48ea7988fa2",
        "value": "eR8fCnFwgsYcktqVuCm6X2nhUgZObNLWHcK_hlqDi36YRq2McNsYK0v8BbWTuG10z_pKSXyPUvl1dFgXdl_NfLpDiwMWERGWG6BhPTLalKTUqX7wylSp5OpvlkfzD[...]
