{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1898625743/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1898625743/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256K"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1898625743/4afc8384a51141beba612f8d8621dc8d",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256K",
          "x": "oG_76rUu1BE9as4UoktM9KUvpQitZCPHe-2-cJUi3Ao",
          "y": "RX2XCK1HYYNNoPdjcUgqJSVoXIECCIVwJvAv6TILXmk"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760843,
          "updated": 1750760843,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1898625743/4afc8384a51141beba612f8d8621dc8d/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "value": "6BMQk-w10enXkcdlWo9F8zGZVt5DgYXQETXzIOp__ss"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1898625743/4afc8384a51141beba612f8d8621dc8d",
        "value": "T99dEpUtLiuySgAuf1J-FCChlNS7Bvi0p0Mn0VJT4bok15q2upBsj4btq31BXyiiv80-_H4Gr9rshezNQA-qVA"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1898625743/4afc8384a51141beba612f8d8621dc8d/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "6BMQk-w10enXkcdlWo9F8zGZVt5DgYXQETXzIOp__ss",
        "value": "pQpBuxdUXCnVkHxNSOuu1jPYDmstDVxw3Yh7gHJNPXm6zq1KDaW1Rv-wx9k2ieZsPaOSNcWPXKRO6pfnYQFScg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1898625743/4afc8384a51141beba612f8d8621dc8d/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256K",
        "digest": "6BMQk-w10enXkcdlWo9F8zGZVt5DgYXQETXzIOp__ss",
        "value": "T99dEpUtLiuySgAuf1J-FCChlNS7Bvi0p0Mn0VJT4bok15q2upBsj4btq31BXyiiv80-_H4Gr9rshezNQA-qVA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "1576050367"
  }
}
