{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1465054383/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1465054383/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1465054383/ca946f82d83f4b70a74dea50e6c3497c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uyb8chJPRDscPqRdjZEF1c3WvvGyeG48q292cAh2ge6OqhpeDmuM7EGSQ6teH6p6gPks_oXQc7__7t90xyaof-9SCwPQrVBdoW8imzFrbHYB2mbMhH07QRKMIseKPCrTuZ69Xcn5fs3DPo2erciT9A3L8rS0zb3nI7cyy0vVmNz91e0Ojg7zdNWoUZg-fkp-wEuMr6CZZE-Z_ISwEA-1dLnRtYPbWvD7rQXCwtZvHV8YBfHCIJe5TBvSe-hhJxDf14ksNoAdPf776pPhLDDcgVtbZM1WA_he5Da-8UBloKhIJXSadK8cc45SuhlFEMRrXGWZjUh_nFnc7Z56haGAcQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756418388,
          "updated": 1756418388,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1465054383/ca946f82d83f4b70a74dea50e6c3497c/sign?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "L0U-yjGxEQj6cDZo0SIOoQ49rZNAf-eeFJqquWu-I3oSFZIQ3hKRxUgFthwtD8XeDtyZs-4uZ0yZXkZP7TyLsQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1465054383/ca946f82d83f4b70a74dea50e6c3497c",
        "value": "HnCZof4mGfDDRsqT2dTZv5-KYRT1A5tbMjdkkYWnxo9PzPmwFXnpX9i_1XjppktVSE4n0vPOf5vo2b3iQ67n9jFuAdQiQlqwLoeHYCAYaH4rTnbvjTTGa7UaUHcp[...]
