{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/418479453/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/418479453/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/418479453/423faaa69b804d9685ef8ea7c10e0f99",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "CFtzEpUmzrfWoIJZqxTgNRpiDe2-CekAEfWU5_UqSOnc6znxaaYkjai7NzctFnPv",
          "y": "nVSbWj5ECNOp7tmoMrquhA9T7hvTYu5vt8xk_RXpuZYBjnEVKPqjrsO2FEkuITBk"
        },
        "attributes": {
          "enabled": true,
          "created": 1724201308,
          "updated": 1724201308,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/418479453/423faaa69b804d9685ef8ea7c10e0f99?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/418479453/423faaa69b804d9685ef8ea7c10e0f99",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "CFtzEpUmzrfWoIJZqxTgNRpiDe2-CekAEfWU5_UqSOnc6znxaaYkjai7NzctFnPv",
          "y": "nVSbWj5ECNOp7tmoMrquhA9T7hvTYu5vt8xk_RXpuZYBjnEVKPqjrsO2FEkuITBk"
        },
        "attributes": {
          "enabled": true,
          "created": 1724201308,
          "updated": 1724201308,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/418479453/423faaa69b804d9685ef8ea7c10e0f99/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "nVFRl3JhxkbSSEIseZVh9Qa_MySNIduepWav-Uaxa5VqBeUHWSjFzGMqxg5Ipl1T"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/418479453/423faaa69b804d9685ef8ea7c10e0f99",
        "value": "ncGE7oUgabTlYkNFv8P_jnFrJJT7rhfT9nC8oodtAS2iCfie-KOnrrr2_3lptYXPBxHBYIMBRI8c0B4DTWrN3kFEaR7MELdXf6T7YJdbwkM2fyPWT0DMMp5Xq_ipIwFj"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "1726786017"
  }
}
