{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/319993402/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/319993402/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/319993402/417699b4a91a41a99d3024a1c46051a8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "s8DO2fWUG6hnE2D65hsgXD3tPmIHbCXlPt35_DkBPcUjeC7oK8QaXZpqHiOc5ngDgFUp3PBmqdpFE4w_nE6WZYyUDFsv-2HE6ttqoNQ4Wx6v6icg7ZXf2skpzO4Dt9Hh4uDPs-bv37GoOrLAqvX_PliYpOF_LDbNkUMP4hkJsfbWvK-WQ8qdKo0Iz-TwVEJXb-n7KBbHRJS80Nv4vJ4Y5rvtSTVq6kJrJlivUDUEkVwxmtW9-T9tdZZww0I0wQc2Ruar3UzliKZYXF_a1t7SUjuUqEWjrfSyNCW2rbxWIjd26kw_dTMQZ1NuqRV39B2lOZJKnYODii6HE1xFnF1sWQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756943299,
          "updated": 1756943299,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/319993402/417699b4a91a41a99d3024a1c46051a8/sign?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "g1Pzx0P_GQy6tNeEbzhqxJp_P5e65u6VWLvQyQXkvnmnvSF_udfEwiLmAnilhECY"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/319993402/417699b4a91a41a99d3024a1c46051a8",
        "value": "Gi_avTDH0RY8uTxgm_XPIiuHPunQnXYdd4ZRW4uB2nnPDEh79l1C26RUlA8fSecRLmdf8HqeqoOTHR1kYsmS6M1UAaGhK6VCDQUxjPot0F363QS5udtGXZmQqQojHYLqhpV2aaGxof9O95OU-2d[...]
