{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1663427694/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1663427694/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1663427694/4ced41db61364f04b04750dd62d3462b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "5iH-cBQhwYExV1Yru9mQbBYcHEmihUBioTjtyKpFSkFwQAPEAUxlL7U2SjMW8v3Em72aR2Urkvmn89mqi8hb2rzPyeYhyUfaPAAUlwLXWcg6pWrcoisqnuyfu3vR47U5iPDdENzrgVrB3xJWAnQYFb4l0ICQ_j8rYosz4G6Jxnhz2Lu4lDAkEDPClinSPPL_IViIxnh_3yfBJ3Rq7oL_dHqY7HIqIw6JxepqdxoPmspO9-loCliggbVCe4xV_DNyCnu_nfoZXvsgaqhh0HbErfLBAMu3xk_XfERskkY7rPXQBoNf4wpI_yQ8jpRH80RxJaB84nxKlxiVqyZlv0IFCQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756418164,
          "updated": 1756418164,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1663427694/4ced41db61364f04b04750dd62d3462b?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid"[...]
