{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/996401392/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/996401392/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/996401392/e130b2fef1cb4ee1998814abe6acfdb6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "qu56v6hOlTv6W-ZJnGoFM7Dck4FVd91KcxSLNW8M2rKF27UZJUTFWhwpO_cJKWPjgOPVlxj-CK6DDcYgJoO9l_glbgwoGQUpOaOJCtVOdg7qkFrtyMFeE5Gs_7FcWz7IiM_NiUwKkBf7xNDq_zmqTSQEnoj9c-CP-Y-EI5pe5XPuhhDuLGpIudCXnD3JHEdHtNPPZYVaUGat2M9sM2TkCq4wGjzbif_BzKw4_arAXhgk2OtDpb_EhWcktwpg0rcWDRWXCcknQ0vxexzuIBOuxx_DSB6SA4k3UKEgoyIlemmeY9Xka53Lgzulp4Xk_8UUa2-kB2nEmSfKQUwIQxp3WQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724200775,
          "updated": 1724200775,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/996401392/e130b2fef1cb4ee1998814abe6acfdb6/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "ScDKhALmClooxtsfclcHlnhyl_hj9aUlTPUCNLqAl3M"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/996401392/e130b2fef1cb4ee1998814abe6acfdb6",
        "value": "mbmO3HkkkzacPgby01okVyKZSN-NnefFO-KnYbURV8viXpv3X44fIBUCRbxnn6qLQYnOk8WaV4rqlY1TXDGDjrAa2OM3ufSoJO0-XI55iUWXM4bAKbUgEtR6tho7vS5FxH3BLy0ehxtvjpAqt3A4aum-dBzqwfMve8eh2Tq5b48NbWaZI-3a_3ZqoBe8M1YkG8894kNVt_3FB0klrITZ9Zom2vruVaFLDW3e62NdSoDh1fe8Dsv9D3_0d24jidBvMmTc26o6vqb13Uj7HxtRV3TU4NJLUyjaRmwzcdCkCUYuYoq5XXlXXfFWMP8ib6ZI_uAAPzUKd9YKQ8zKbtO9Fw"
      }
    },
[...]
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/996401392/e130b2fef1cb4ee1998814abe6acfdb6/verify?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "ScDKhALmClooxtsfclcHlnhyl_hj9aUlTPUCNLqAl3M",
        "value": "Jnhiqw6UCaUyX6JkT0DTw7MTioppf3POhN8j-vXA9dF9fiMSWp3aI0kRWHzvx8LLJmOJMnh73TQ8nZIb-icbzcjlGzHRUP9Ijzg6SjkHFMqR7dWB4kWrrvLWNtaZsilAEM6UBcBuG1fO23vBknkxrA297ucGA_ILJY7J2R7gyHPFNG1a-9TlbzG0p3DvN4HuMKabmVGS6agFJYs3cU_iiqAm8SSSqVHPKej-0RJzTuD07Qii_XAww6c3MM2uAO7pPmMqRV-U4H0c-1cwYylthpX2GDF9EuStGcfs9_1zKmrXuUSB9jUChiyDTm9cVWWGKceAeOodLuVYfodeEwLoOA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/996401392/e130b2fef1cb4ee1998814abe6acfdb6/verify?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "ScDKhALmClooxtsfclcHlnhyl_hj9aUlTPUCNLqAl3M",
        "value": "mbmO3HkkkzacPgby01okVyKZSN-NnefFO-KnYbURV8viXpv3X44fIBUCRbxnn6qLQYnOk8WaV4rqlY1TXDGDjrAa2OM3ufSoJO0-XI55iUWXM4bAKbUgEtR6tho7vS5FxH3BLy0ehxtvjpAqt3A4aum-dBzqwfMve8eh2Tq5b48NbWaZI-3a_3ZqoBe8M1YkG8894kNVt_3FB0klrITZ9Zom2vruVaFLDW3e62NdSoDh1fe8Dsv9D3_0d24jidBvMmTc26o6vqb13Uj7HxtRV3TU4NJLUyjaRmwzcdCkCUYuYoq5XXlXXfFWMP8ib6ZI_uAAPzUKd9YKQ8zKbtO9Fw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "1905942248"
  }
}
