{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/302738343/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/302738343/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/302738343/52882810379e46be807764344ae2b2c5",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uFfwq9BSzKGsZjPcnnLT2uV767mU6fgdYEX0bokRGEa09xD3JAtDP1B1sJ9yNbVrfc4YNh31OQ-YcroHwgFyiVOIE1NiGpsVU7Bqpv5sn6XA67vfq6ZusefUHO2T234uW47r4LTnDcHZWB6UU3e1u2yiFFDKvDiXsi4wr7SiRG1oIIfM_80HxWJJjV9Pta0D1gJrdz6IumbiQBxSdy-OWXfzOfIB8VOWtcfGc-hubU1GSVg7Ta-VjHDC2uxqhh1kNWXJglrKUwOpo7T8tkifBrEVTKi7BdMVeKhi1cDXh_uEF4L8zXO3_fTRuUTxJUpTFgogAj7LjN_gKqSaEcazaQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756943541,
          "updated": 1756943541,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/302738343/52882810379e46be807764344ae2b2c5/sign?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "Q5bsiFwN_gUGdzgLkEt2EQ-jYVLRqRK0QFLtkA7ZdsncXp8EhBVS2bWVN45kYlAI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/302738343/52882810379e46be807764344ae2b2c5",
        "value": "X0KsO0hxgLIEviDMM3LghrlCzM7bvNb9pDRU1NuxQrEF5dXF3NJKPKcCHH0qi5hnvRvlULlG8vtuKSTVGoH9ItdiUyVAbi_RTV6pbED7FywwbAq7PV1Le8ZiammzI0kZ9HxQdgl0YWlxyXJCld6[...]
