{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1481405207/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1481405207/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/1481405207/ff791d4ac8ca41a59130d1ebc7459da8",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pS0itfdxviOcgV-HfYwJopoqWF67WTt7PLzt3VizLTxw_bE7uo6uYX-0Qno4eYuDV4jzFM_-2awh8iFC5t126rQuoXlh2aKxUDiU9KmkVRDHdCgYheDyalcEeLkK9FwemrG1RJJl_Xus7zUDM76LvkR5hyUkLlsd9Ku8b-hTEvQyQTzXYig5uPbs8UIqrYtlNDgv1cSu4YoF8AEtv0M7LbZTR-g2uNIyLJW5jNkIg0FDi78uiNOxIyJ43OEIE7lcnJVXdxS_KySDPUKSw2F28xP7_f91FaJgFKSs3f8eV3SfVXOwP9HcETyrhIfMJSU9bwadfR6ZwfRhMW51Jlu3xQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781139906,
          "updated": 1781139906,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1481405207/ff791d4ac8ca41a59130d1ebc7459da8/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "fTLrF6aIlM4Ens0-8-cKahQi5XrjWHfpUXrJRqdeJD-2gyJvQ3WNwVdTgh6T35i0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://joncarde-kv.vault.azure.net/keys/1481405207/ff791d4ac8ca41a59130d1ebc7459da8",
        "value": "nq23zDK5QJOnDy_vujdb2Ul9pPsc_Qn7RAVbGfrGTGhGpN7fO-ZtAAefFEOp8Fd6-HUXyMA8IzDb3EpY5ruxI30M5_eafl5pxJHdEaYrqZbKq8GentSAPoF-_BFSyWSD1xsMwaWJe2EKuBP3eO6r25RU[...]
