{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1476033878/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1476033878/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1476033878/a1cb433ef4684424956400273d1fd25b",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AWCjX9uGWANWZI1qrdSlszmE3I40lVtiWSqy0WQNYMjf-503y4YLEc3Lqdo6GFuiASPr8h1z71YWshSkveW-7rL6",
          "y": "ARWug506uNqNIgAYDsRjGrL4LWUv0bXUW45N37mTTzTjCV92EHyIpS9M3Ow3X4ZbEj-GLhksQR-IXw496Kp-qY4U"
        },
        "attributes": {
          "enabled": true,
          "created": 1707529948,
          "updated": 1707529948,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1476033878/a1cb433ef4684424956400273d1fd25b/sign?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "ADKsBQJImmov7bGjGNfkaOVk7ThaiUSYI9XZkaIaCDKEggYkrRUOKGzsZLoHdE1PnkdEFlNnXwXudusrm1AQMA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1476033878/a1cb433ef4684424956400273d1fd25b",
        "value": "AH_rZOr5lDxKhsVs_XNpHTKd-_1bY8VES9JVWh2GFP6umVCr4MEdo2prn61K7oqB_BogoalhKTr1M5DJWn-pnRH1AEJ3d3NwIpHRa5KMop43S55f-NV1D6c4Rc22nJnovAHMH9GCoYf_TQxp7yPACsp_akDRpWBkfvkdHxUAuMFM0lEb"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1476033878/a1cb433ef4684424956400273d1fd25b/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "ADKsBQJImmov7bGjGNfkaOVk7ThaiUSYI9XZkaIaCDKEggYkrRUOKGzsZLoHdE1PnkdEFlNnXwXudusrm1AQMA",
        "value": "ACJzTgC9zuGeBK-qGW5YYE7tWERkcqs7obJkp9-QjTPphw27DPUUGNZtJ6ewWfX-tdeUtzVvVZ3YsV5xAx3TWVwzAZ6241cpJR-wCnZSpMQgbl8S1WkY78Xmw4sLDw_7d1PBnUlyxqPsjzYoz2LpbYanXsCgEl2zoVegdzW49ecbKEQM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1476033878/a1cb433ef4684424956400273d1fd25b/verify?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "ADKsBQJImmov7bGjGNfkaOVk7ThaiUSYI9XZkaIaCDKEggYkrRUOKGzsZLoHdE1PnkdEFlNnXwXudusrm1AQMA",
        "value": "AH_rZOr5lDxKhsVs_XNpHTKd-_1bY8VES9JVWh2GFP6umVCr4MEdo2prn61K7oqB_BogoalhKTr1M5DJWn-pnRH1AEJ3d3NwIpHRa5KMop43S55f-NV1D6c4Rc22nJnovAHMH9GCoYf_TQxp7yPACsp_akDRpWBkfvkdHxUAuMFM0lEb"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "2047733025"
  }
}
