{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/644076886/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/644076886/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/644076886/d54dfccc079449beacb756f542af408f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "keGQrc-ts7REunNJJ9ODa6nuInx1ILcmrG6ZXweu_hWi4lpt7F32ui3uDcuNXyeIAZEFMzwhcbET7-euQ86qlP0tCb7pRunh9ro7-0wzxPKSYAks9ZY5zIBK8rtnOFtvo7fdgL8WwY_3mTVbjb4StfVubZyiyprM2BE3JdPsLyY_IDLv37Qj7Buj1VNoZZPx3TCiiqdi3hJHpoiOsKASJYQl5g-TU1H_2ZpNGVzaIuDujnOtQ9zRqn4WbyZj_O5qdboV1EmCuKzYJNjizIGGbqLoaTJu7cEMlKuvoa8vLSpIhxcaYtA0HYmYj-Ia6XehI8FFTDawzS-ZEwyIrebE0Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998118,
          "updated": 1692998118,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/644076886/d54dfccc079449beacb756f542af408f/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "value": "NWX1rKhp_QUs6Htg5t66Kxr40xGZtiDkH43jjm8y-Yw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/644076886/d54dfccc079449beacb756f542af408f",
        "value": "fV-rCVsPFTE8bFSGJedWIrIwxRk8-rrLLtxXhBA0PWCwGnsAEG_MSxiTUggKoEESNhzvYWgN9PDVYYJknxFITUpqBeClYWExKEjM6LBYnfiG6u0pi_0uy-pZ39frA8NYol_HRc8HOMvcVyLTVBXRoYxk86n_XSlo24qCtktUA22DYyU4QjtVpA0ruoM1qC0lEorTOLQo9HNqNfuj77f4HTaz3PSubpviFb8Zt6RBMUhYmyvfvrESWSMaue7R0a1jkcFz3YKfVj-7ZHfxDkJFklPZWl0LewGyaylq_qEqnXIvIpOGeCFtyYOIuEvz9O1NMMqENyv7y__K-XVmMdweBA"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/644076886/d54dfccc079449beacb756f542af408f/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "NWX1rKhp_QUs6Htg5t66Kxr40xGZtiDkH43jjm8y-Yw",
        "value": "fV-rCVsPFTE8bFSGJedWIrIwxRk8-rrLLtxXhBA0PWCwGnsAEG_MSxiTUggKoEESNhzvYWgN9PDVYYJknxFITUpqBeClYWExKEjM6LBYnfiG6u0pi_0uy-pZ39frA8NYol_HRc8HOMvcVyLTVBXRoYxk86n_XSlo24qCtktUA22DYyU4QjtVpA0ruoM1qC0lEorTOLQo9HNqNfuj77f4HTaz3PSubpviFb8Zt6RBMUhYmyvfvrESWSMaue7R0a1jkcFz3YKfVj-7ZHfxDkJFklPZWl0LewGyaylq_qEqnXIvIpOGeCFtyYOIuEvz9O1NMMqENyv7y__K-XVmMdweBA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/644076886/d54dfccc079449beacb756f542af408f/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS256",
        "digest": "NWX1rKhp_QUs6Htg5t66Kxr40xGZtiDkH43jjm8y-Yw",
        "value": "fV-rCVsPFTE8bFSGJedWIrIwxRk8-rrLLtxXhBA0PWCwGnsAEG_MSxiTUggKoEESNhzvYWgN9PDVYYJknxFITUpqBeClYWExKEjM6LBYnfiG6u0pi_0uy-pZ39frA8NYol_HRc8HOMvcVyLTVBXRoYxk86n_XSlo24qCtktUA22DYyU4QjtVpA0ruoM1qC0lEorTOLQo9HNqNfuj77f4HTaz3PSubpviFb8Zt6RBMUhYmyvfvrESWSMaue7R0a1jkcFz3YKfVj-7ZHfxDkJFklPZWl0LewGyaylq_qEqnXIvIpOGeCFtyYOIuEvz9O1NMMqENyv7y__K-XVmMdweBA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "177581105"
  }
}
