{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/548604375/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/548604375/create?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/548604375/daba80634cf4419f9b059d8ea4125305",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rq5OHijs2kZImFer-oDVG_RTdsXmsWcN5BqtmlJx_u011hd9T8IYiQZpvfWUaiAQEiC118gt3JwsfVO7a-GeiXAPxWnnhk2XNNuHnvgrviPP8K77rIiy4bpoBhfkJjC1mWKmogVnBQ-OFkVxoQ9XcFyU3ZzO8PymRMS_jU3S0QGAR5t_iSJzef-4LHUFSgRelZHVw8JM9-0DVLLAa4IDFTmaAUnVl3fYF33FYMIrfDehdagfZE0yXr-QleNAkoYjNYKX3O9Z-KN8zVVFT90yvLCuTX1OfOZ3VZwuTEtZXKXVqC1TI2ckCzXjx1TFGJBiqZnTK_B2gDkih-Jm9OaMoQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724201284,
          "updated": 1724201284,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/548604375/daba80634cf4419f9b059d8ea4125305?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/548604375/daba80634cf4419f9b059d8ea4125305",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rq5OHijs2kZImFer-oDVG_RTdsXmsWcN5BqtmlJx_u011hd9T8IYiQZpvfWUaiAQEiC118gt3JwsfVO7a-GeiXAPxWnnhk2XNNuHnvgrviPP8K77rIiy4bpoBhfkJjC1mWKmogVnBQ-OFkVxoQ9XcFyU3ZzO8PymRMS_jU3S0QGAR5t_iSJzef-4LHUFSgRelZHVw8JM9-0DVLLAa4IDFTmaAUnVl3fYF33FYMIrfDehdagfZE0yXr-QleNAkoYjNYKX3O9Z-KN8zVVFT90yvLCuTX1OfOZ3VZwuTEtZXKXVqC1TI2ckCzXjx1TFGJBiqZnTK_B2gDkih-Jm9OaMoQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1724201284,
          "updated": 1724201284,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58.vault.azure.net/keys/548604375/daba80634cf4419f9b059d8ea4125305/sign?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS512",
        "value": "NlT-A0FpYBf_QzCVYv9TY-piVI7K2eXcrf-qpFB_q62g1AvwGr4Fa8j2qrJEKZqqTgtV3q3dZMlgHBBGqqEUiA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tb0f745ebb7bfae58.vault.azure.net/keys/548604375/daba80634cf4419f9b059d8ea4125305",
        "value": "iE3WLnMniyE-ig3C3PkVS9vu2bYYcZUrv3UA2GwgYLEYNNbfAB2lbDshbACWE_0dczF5G9PfLgs9acVgT1QIbO1hRWRNdoHiDoqXNDfpsDfKSNQ7RWeAoolx4Dz6IdoWiDc6KFVh0jAnwXvAnJeDzXDjmfLMWnlInzwY_Evi2DV8hQZXMTGDO0t2gaZ-f2kHZW36PuM11c7EhjRpcKqXSjfnI0H6xBrlHSwuZ4IWOp0eJM5jtguB_m6oEs9Pnu0LjXldPOt9eQvL4Lk2K5yaKnCvcCSVb3QkBQ6wnzRv0GNUvmTkLp21B8SFMaK_6bWsz0POP7g1SdxBytdX-H-PRA"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tb0f745ebb7bfae58.vault.azure.net/",
    "RandomSeed": "1979826577"
  }
}
