{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1743168506/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1743168506/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1743168506/1aaaec7f94a8403fab265ac890050011",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "p1LRUOiDzadTDHGTyN-WNvfYNMNdnBFdzsUtTJYZ89-WLRShjGoHiBzch38ZwokwpdJnOQ-DYMdVBEnVBKG0mGgCNcBWeG0Cia-hNEwG8ZfBmyVFeLs-HFXOO_EKiOU8ne8B3FFQx_M4UMtdTsKnY04O_gRezLFPfLbGHNGTYL-vHEpGqV-WytZnLkju6Jj1KCyMjZdW24SpeIXDY0TGIMJWczOv65vDqpqFldr8zH78A_WSC-CI3_AZ5B502ZPohqoMfqC8YjF2x1EgiT1m-qc_lxs5KKuTON4ms-xPQO82wXfWD43BnH2qsaB3ff5CIXYyxkRVFzSfMg3w02-40Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758944924,
          "updated": 1758944924,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1743168506/1aaaec7f94a8403fab265ac890050011?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https[...]
