{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/218179972/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/218179972/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/218179972/53a0efd1defe47eb83d9891f7851e514",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wGngI9p3O5tvfPIgws2dS6KGJ22IHN3ZIEdLmQfIvoJzYpZ8aqGXvj3WcibbbTS1gHyUM6DAyEK2fNEVEhJkqCt0-jFhwmvCjCSN2NjtaLfmHgg-N82ROdWcq_d1J149lPGl3cSVlF608BIJ4Uvp_HBrogawMqaIJCUbYFaPJHemFp3eGz-mV3cH22X2iBqnj2mlTT2psFPo0Bcv0lXPNS82H7eVODCC4EOkHOwwZ-HHt574McFbD6k0Z8ySMCAenhb_3IxMDLEXqDUcqL2Jn57sicpc3ecCpB3YfXCUqLp-oVBkLO2I2Pn9NsYsdGVgytRnMNjt5RHQccpNRDR8XQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929489,
          "updated": 1742929489,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/218179972/53a0efd1defe47eb83d9891f7851e514/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "TjUpdW0Q6agoGkFRuhn2EkDiJLagKCe6nfGDjcHYLZ0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/218179972/53a0efd1defe47eb83d9891f7851e514",
        "value": "T1-BJb1tArcJPITgu8WmdNThS7UtWnokZ6FgHxBq2VjNR6Vm6-AHUinHdUvG9MnUV2LtxfHM7hGMmmAF24rhCOhcLAFI5zizMw5NyB53ePyKx5ngYWbS4xqIgr9sGpH0f2Uq4br38wdYWosZpK0qcCzL34X_-zpjMhG6X-bLeyclRCNmCNZ4LgEDaW5r5xvZLIilA3Jr8rLINJ2KcWTh3PNEVll_u9qXOwXoYw28r1I72wZ-g7bDJ_0qbSUHPsTLrc95VwZzEz28og6ByeiNr2BzQGJNyVnMjrL2RVkYmeRBWu9-2bpeW3_R4ICijHwGkFuXZ1hQ3Iv_mH3pq0Br3g"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/218179972/53a0efd1defe47eb83d9891f7851e514/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "TjUpdW0Q6agoGkFRuhn2EkDiJLagKCe6nfGDjcHYLZ0",
        "value": "tjIAkSq7d15lOVhHFZQPlcLDrzipn0YS5KakXJASWtDrpzVRtSEgbnh6ohrEtk6rbr9gGlDmJjzJuxhFqqi3rJXX6MpFSzgvKvCmG2OT_B0r1TTlCu6b6YnP6VE0Z8Ml6d92MCet_GLvIoINYQHgFF8BnUyv0st4imyj_9TkELSya3ugmrGMATrUKzaWzxOgSLT9qUmPMJjGUKC_ciVm-D3lJGoaBONyFsBdZWRw97v78cSHe446qEvrG_P3E6eMYwkzp3JM4POtNocZW-oIgB_Hz8FoH8Cyu6rFlu1WL5U5W19jp-gNmsy2o_oxfncoa5vQX_nfqMq1OG4MUFjjaA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/218179972/53a0efd1defe47eb83d9891f7851e514/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "digest": "TjUpdW0Q6agoGkFRuhn2EkDiJLagKCe6nfGDjcHYLZ0",
        "value": "T1-BJb1tArcJPITgu8WmdNThS7UtWnokZ6FgHxBq2VjNR6Vm6-AHUinHdUvG9MnUV2LtxfHM7hGMmmAF24rhCOhcLAFI5zizMw5NyB53ePyKx5ngYWbS4xqIgr9sGpH0f2Uq4br38wdYWosZpK0qcCzL34X_-zpjMhG6X-bLeyclRCNmCNZ4LgEDaW5r5xvZLIilA3Jr8rLINJ2KcWTh3PNEVll_u9qXOwXoYw28r1I72wZ-g7bDJ_0qbSUHPsTLrc95VwZzEz28og6ByeiNr2BzQGJNyVnMjrL2RVkYmeRBWu9-2bpeW3_R4ICijHwGkFuXZ1hQ3Iv_mH3pq0Br3g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "2090497684"
  }
}
