{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1409265252/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1409265252/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1409265252/03ebd67e478740f38260e087282cef67",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AYQkeq9NwiF-fPdI9yqysbW8558YWQMSvMKqm5_pb4K-pmUyFd2W7UANrpvwtrZYjvw5NmTgJlwLspbmgeTULvnp",
          "y": "AHXRW0Kqxk8qsfGgqnsc_RRjDCCS3bHYshJAi_1T7YJf0iUXBAHIvK2R52ITr8TX3RlAOMOzg2zQCfDC91-YYsw9"
        },
        "attributes": {
          "enabled": true,
          "created": 1756419622,
          "updated": 1756419622,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1409265252/03ebd67e478740f38260e087282cef67/sign?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "k-csPXF59aYoYdbsG7bXCO5s8bqlEpOqXH9Mdd0R7T9W6PYu8KlG9EcLMUvg2HfGbMGiRJGf4jPM37kr5XriRg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1409265252/03ebd67e478740f38260e087282cef67",
        "value": "AMROGHgXyoRecY4PPU-Dc8OAjOJCqw_u-YOOsAW7ZvxMlOTgt46L5CCbsqkREwU_sgnxtdcEUjL2I1eNdKxMEL1oAeqcNDuGgGuZBi0olAEHAsRv4VEli2C7EGvA[...]
