{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/451532755/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/451532755/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/451532755/68bc465bf57745539640019612c4967b",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AUKbLL2vZF7ouh7x5-NDOWyDg5ZtdLTCO1cALw3j53MfkEHGx__R-FaA8uwlLYynCpUEd9jkBQXs13aaCE35vmtW",
          "y": "AXD9Y75_9BLGmTdLAUKAzqvyH4XZ9ZeiiKyIIrbx8A8Lu1sRlvWWS-m0Wro0yw0A5mrvh0rTuk-qm5NGxt9AskbY"
        },
        "attributes": {
          "enabled": true,
          "created": 1742930132,
          "updated": 1742930132,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/451532755/68bc465bf57745539640019612c4967b/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "msqk8iO6GNg97OvUYOh_a10-DB-KvmesowgEAkU92YHSXT70YFWitYPNPCRtP7SohpTVUSjo_16fNipmLIM7og"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/451532755/68bc465bf57745539640019612c4967b",
        "value": "AEMsvNY2PrtkmWPb7IHsMg-Ltv2P5rsdH-8j52kGbbB2hr5Khj5hiv3ZxTHcbGNyvY3IWutVMNwfKhNFrLCFpCw5AKt-YJDbdO1TThlB3XS6llav9ussLVqSXhoQy7Ocm-7UkCbjZH3tzIC3bTVmyweJMydtT1pSVJuaCrl6Km9Zq_ZJ"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/451532755/68bc465bf57745539640019612c4967b/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "msqk8iO6GNg97OvUYOh_a10-DB-KvmesowgEAkU92YHSXT70YFWitYPNPCRtP7SohpTVUSjo_16fNipmLIM7og",
        "value": "AC8KcdjG-axo1Fz2BYsAQHZZEj34l3i66DB99Z1BUxsqogbiQMwHqB7-Bumoj2njY4vJXQpwvWLBRgMPNumZ0CluAfcBso1xBx7cJ1NhvlrGkdZLOPiNZr94fs21z7qur-UWH1eqCD9n6ptdIGGF550sl8j8rma7Zcd55S0WXldmXYOW"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/451532755/68bc465bf57745539640019612c4967b/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "msqk8iO6GNg97OvUYOh_a10-DB-KvmesowgEAkU92YHSXT70YFWitYPNPCRtP7SohpTVUSjo_16fNipmLIM7og",
        "value": "AEMsvNY2PrtkmWPb7IHsMg-Ltv2P5rsdH-8j52kGbbB2hr5Khj5hiv3ZxTHcbGNyvY3IWutVMNwfKhNFrLCFpCw5AKt-YJDbdO1TThlB3XS6llav9ussLVqSXhoQy7Ocm-7UkCbjZH3tzIC3bTVmyweJMydtT1pSVJuaCrl6Km9Zq_ZJ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "1625545697"
  }
}
