{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/785368351/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/785368351/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/785368351/5d50b3fdfa5c483abecbd17155bbe52f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uNQ30TeMH7GWHgPlQ9wbLy_skF7su8hSRmpZISRvOzdO88Lu6-EYT10iukgfZn0tJk7K2JFXHmMIk54HiUxwC9KePW-KfkmvtXwbNiHhSyXB5gzwAavxOqag2m94fy6_DvMU3pBXrb-BdpNB3LIC8x99Cb2JSFlFE2oxdkvq5VJ8zP3PtKn-I3Qyb3m_HwiPKGCJCXr6RTacZMYD3FfM3aJFjn4C0oCKaZIJeqm_R7Yzuo5ZeSSF2jW_rV1vZo48x28QmVgPNPBr3YxPpAgKbxL2ds1XaePQU5Ro0Ty9GUqj3T_n229dTCk5VzMqJKKqxDHhbEwzDOC_djuAdY9cjQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758936397,
          "updated": 1758936397,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/785368351/5d50b3fdfa5c483abecbd17155bbe52f?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https:[...]
