{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1438259121/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1438259121/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1438259121/f73a88ee7a8f4d90a21359f8c5c30d0e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2p95BUBNkH6dkEZ8FhCCF8IfwKlTz6EmRBseziSxxrXM7ol2i3uQzjEHW0cwi0bkFti0fWtlm1OBjaRrtFyTBcwPsYyletsv4dccplTLfyOz8IjfAaS0OnzXcys-GiDcIDbWMCmbpU2of0J_Ea5pvL2W9tlxUifQUWCjIfZ00XD6bUcTgMoDwFlD0aaL2husbl_5xEQOgmPxhzeAVFA2bZsIX0FbAopUWYDQHUD2qId6UKyWqf_Kkc3bbVkrW18g85O3wOn0JWclpETf7NU1j0saBB3jsYhMinL-qBCgtZX1VqEVxMc_kDoOf2tW5arMKxuQaZJdJY6PA8ambs56aQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760083,
          "updated": 1750760083,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1438259121/f73a88ee7a8f4d90a21359f8c5c30d0e?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1438259121/f73a88ee7a8f4d90a21359f8c5c30d0e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2p95BUBNkH6dkEZ8FhCCF8IfwKlTz6EmRBseziSxxrXM7ol2i3uQzjEHW0cwi0bkFti0fWtlm1OBjaRrtFyTBcwPsYyletsv4dccplTLfyOz8IjfAaS0OnzXcys-GiDcIDbWMCmbpU2of0J_Ea5pvL2W9tlxUifQUWCjIfZ00XD6bUcTgMoDwFlD0aaL2husbl_5xEQOgmPxhzeAVFA2bZsIX0FbAopUWYDQHUD2qId6UKyWqf_Kkc3bbVkrW18g85O3wOn0JWclpETf7NU1j0saBB3jsYhMinL-qBCgtZX1VqEVxMc_kDoOf2tW5arMKxuQaZJdJY6PA8ambs56aQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760083,
          "updated": 1750760083,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1438259121/f73a88ee7a8f4d90a21359f8c5c30d0e/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "0jQdRA9LqSC9I3Rba6iUZmc4GLfsZhDO0MziOqfvO-WIVFCUmbiuKn5sdx-qwrB6"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1438259121/f73a88ee7a8f4d90a21359f8c5c30d0e",
        "value": "SGmEdueglMzO7_Ar9SHNtUkPw37bGAgw-uMMd4gunpX7Rac3l0WK4jrAu2vbQedyvywfMNSRdonvtYIZXUPO3hd7IVOipMl_GN_j9ZleMChrn7l7eEZ9BE_4imJpROPoc4iSdfbpGTY5gGIAcl7wtuDIYhCWEK-johE9WkeKd4lo5fT3TZKcak917nxEvY9BLNnkouTG-3TIbGJTJEgIA6OBf7tFr_bML1Ls7yqPTG6IrLaBDif9c8UMJp2snnPmycvNOutSvlJ5fYqdBDm1zTeWtZ0NhW6caltAtThhViMG-IyXGUFvFnvV0w0ny-7_T7Vwamo-Oajqlqs5StoTDw"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "888089829"
  }
}
