{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1923056367/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1923056367/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-384"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1923056367/af672567f1eb4c60aa9f2c21c9d439e8",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-384",
          "x": "HKkFipnbCA_aBTLvo1r5RiaWazerqmBpgAGMbznIh7E_xNegqr-zjVVbyyUeB680",
          "y": "6JCwmBR-q6UKmsYKHyPGw5Uef91f08Ek4OC3l4caK_ULzaYld_womDYAMJexOGcJ"
        },
        "attributes": {
          "enabled": true,
          "created": 1758945237,
          "updated": 1758945237,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1923056367/af672567f1eb4c60aa9f2c21c9d439e8/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES384",
        "value": "Q0YAWTIYOg638zg7q_NFR7ZmakQFl33id-LzyN3-9DBUdxQfBQKDVHzOa8tm4Y9W"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1923056367/af672567f1eb4c60aa9f2c21c9d439e8",
        "value": "4mZVXmx_E0ZZy-eCVckhEg9iduvwn08p5B5x-eGJer6Y201eWDJYObziel7rgFK0pU7umxuiCh0Sa-BiDPEZ-vxK9KbQI6kjUgYY4TIePlRismuedBqz_lEAU0aOKJ3v"
      }
    },[...]
