{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1483366938/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1483366938/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/1483366938/d03d895190a14c7c827e90447b656c87",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "vFtj11pwgCt4nc_2dy_K9SP7VXpjDzFUaHejZpbbcmw",
          "y": "BOr243zYiHGaLBredUYvkFZ50nly9TwRzkHg8jckS88"
        },
        "attributes": {
          "enabled": true,
          "created": 1781139660,
          "updated": 1781139660,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1483366938/d03d895190a14c7c827e90447b656c87/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "mutNAGdwvmtQZ8JXZuhj9p9W3xflOyqRcdjrJh0OYJg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://joncarde-kv.vault.azure.net/keys/1483366938/d03d895190a14c7c827e90447b656c87",
        "value": "oTYI23YtkFipPHoUzRnJGXDx_o8mEhuZ7L7H2nJgoKHzhq8VKB7l20-nzFXZBe9lhR__UAAk-bPpSRasg1rGfw"
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/key[...]
