{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/990841098/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/990841098/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/990841098/201b5d58f719480db3cd8410626385c9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uMnMEW-YzJF1ZgWwXkDhi46iWkLLx-3Yuo3buFbZ34oLd4or6af3FUv3xgkMjseU5-eeaGl8MT3O5T6ZvlLQFLGmHojLvr8EkLjlTKww_ibBQntbiqdHEe0ogc79JGENySmm9rmEin3wiXDA_L4il8NlkR87_RD_Wyifne1yy9Eja9Nx8eMh0KhKunSxZtUJSjbUjWhzFHMgIhfbu-rgK71Nn8hAzmfMEze8C-asLbgkXeB05t9X7PiOWB76CY8akL8yJAUcOeBG7JBUcqm1wliYEf0OsaW8ZNDYY3PzfRb_WvKf_KOKHPPZZAfEr_FFBl4LMZeTx7LnWIrtrukHVQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758943799,
          "updated": 1758943799,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/990841098/201b5d58f719480db3cd8410626385c9?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https:[...]
