{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/164270763/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/164270763/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/164270763/a4d4252231af49e68ba49ac6798e48d0",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vh2OMrYoqD4gzN_iT94Op9abx1Mu01-rr6oMkyHoa0cbliXCWbAvYm59rjaZgyk2ZNi4lqkb9w4rUr8gwXqin_-MAhiuEbP1mtcGM7837vJyuebhJJwHbxBfYcuZx6xPsaBFtnJF2A37YN4DDxJn05_jUWj5ePa3WFcXsiXLApizuz5LLMqT-O1MyJHNPGuAJkOK0gKljQOhJtM6FCE73_hGsDPOG6JGwsZ4U7KNp3La-maQnMZMKaQATtYTUrha_zeXDoFmp5U_EKKm8WBUmp4PBgfVxTclK96mQ-M7LDBNfwY_t_eJ2CQdH2VrxwDChomy74947rlACRt3k34c8Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758945381,
          "updated": 1758945381,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/164270763/a4d4252231af49e68ba49ac6798e48d0/sign?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "Ikn5g5eR-nR3lmw1Y4DpKXI-IVb8V20bmG5rQ71q_ZPOb11ySNudEznilSzglES6"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/164270763/a4d4252231af49e68ba49ac6798e48d0",
        "value": "Hh98vIbr8jERLvj5FXkOpiHhU4KsJCDpWgItKAXyNnNv3rM_ymePa-TqFciBOYHXpFTnGnKj-O5-7xt4iPtGPrvMIKFna_iYMLoF_Ypo0IAon17hyhmcvurMXkNGfTz89ZRoU3ucN4GasSo9hb_[...]
