{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/111020937/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/111020937/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/111020937/8d6a858e108c4a69aef85b8e03d78f41",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0DGRRFj0IYmm5E6DrJGIQvWJKCQjHMpb3xx974rEslwkMZUHpzMrpvMKlJD1a2vd1lC90TPEdttz2i58_nHViBMiFLpiL27mI5NecqvJAD4M0Dnfd1gqbNJ7FWepZwqJwhHV_R4trY72Y5Gr6c1zGN4sNupe9j89g8GyEwu076KqgBQk7EkN2gT2eye9JDe1j7ZL1-VdY3CR-hPZS0dFG5BV_bwzuHTBpi-rNjRMstfV3eSjoyyg1MUYzA9IV2iznfizeVCe3-HpF4G9hGOnEbEXM_X7FSvGBYlB80JMW5G0GMs1-zMcINb_3VQ14ZUZSJkXxPpqeeDQRyp2LSz5AQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756418517,
          "updated": 1756418517,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/111020937/8d6a858e108c4a69aef85b8e03d78f41/sign?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS256",
        "value": "lEfTcYmNt1CDe6DYZG5iCTu7c2A1O8-5PUUwUbcbKWI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/111020937/8d6a858e108c4a69aef85b8e03d78f41",
        "value": "AfnTxM2wbWRVBlyul0yhFOSOXcRMeb2hiPzhAxQ7qo9t7SiqLwmqMpAjRyiZ2gxR7nIcq9roBLjEww0VjbWWLcXzhwLziHfhNJrS6Dh7LkSmNkWqWOogyxRs27esBUJgFqwP2bAjXvePrQLHw-l1UZL-_EWeif88cB6MuyNK[...]
