{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1014600624/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1014600624/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/1014600624/9197c8988d6144aab8bb28a91e181cde",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "8VHWuaAwL_lBA4NOUhXvFXN--KHHhT1yPbruMpHUnrVkTG--v7ItotJjdSR_E3FVp6ppE1oIuxZiQzYrkDqJ2K8AKJKNjBTprxm3dFR_8vqZVWybDMwN8BF8VnR34uGYdWuKSvqR2f2U6HbOfZwjxZkbJZqYcTE_fQrBOvEvLCpbq6UPZocSzp50E3la2z38hT2aAkAzQZLZ-Y4Y4Ep2Ua6e2fz0zAimM8CK1cUfwGObTTDxrG2cOX27pzrDm0qO0fCB99uVHR06ucG7eFSHPoZgLCnKH7k3DJekbNK-VXKjSSuwLScZJjlFno-qzU8dTTP7hvV6jg8W6Voaqv9odQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780403318,
          "updated": 1780403318,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/1014600624/9197c8988d6144aab8bb28a91e181cde/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RS384",
        "value": "HVse5-DdvEYOxmaFtJn4A7JkscS7y3syFRxm_oxhSZnmajQSKIy_nS4WhoqX_o6d"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://externalkeysdk.vault.azure.net/keys/1014600624/9197c8988d6144aab8bb28a91e181cde",
        "value": "MswYt7Zs9r3OlH__76wBfvcTe1yXPNse9VsnfNaKY-8vOxMOHV8NZh_RVykx7Xyt82-oxQsJmM4sfp-Clbfv_TWeWVzb4Fb1kdnL4mLK_VwYArz0ERiAxiPQfsCsA85Xp9ixtAgg1vppjvhpfzmG9[...]
