{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1289646240/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1289646240/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1289646240/24e28b70ced34860ace93cfbc940e64e",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-256",
          "x": "DSAPtdLKsmtYkXFbLOsaiFHGH6tkMgUbwFg9N6bRKQ8",
          "y": "j0WN21wKQpApd_wAqylAlPzt7gEhgqE7rI-80WicuOY"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998111,
          "updated": 1692998111,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1289646240/24e28b70ced34860ace93cfbc940e64e/sign?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "value": "y9Hsx3saSWAh_Fp6xhBiA95M97Pdle6se7B6DqLUzl8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1289646240/24e28b70ced34860ace93cfbc940e64e",
        "value": "Lr2JXMjKVLZUa4Hozg06xguK-ExCgyzuWD7sSar5RFyl1fs0GDHVM3ol007DQYpCWRIC6pQO3r_ffGP2P1YuBw"
      }
    },
[...]
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1289646240/24e28b70ced34860ace93cfbc940e64e/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "y9Hsx3saSWAh_Fp6xhBiA95M97Pdle6se7B6DqLUzl8",
        "value": "f9NW65sBsZFxK0j9uZDLnUJoPW3E9tCTwpV9dquWf2R_r_f1PxnbFaUA9ns_IAyOIseg7sUkfwAhjN5YZTy1pA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1289646240/24e28b70ced34860ace93cfbc940e64e/verify?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES256",
        "digest": "y9Hsx3saSWAh_Fp6xhBiA95M97Pdle6se7B6DqLUzl8",
        "value": "Lr2JXMjKVLZUa4Hozg06xguK-ExCgyzuWD7sSar5RFyl1fs0GDHVM3ol007DQYpCWRIC6pQO3r_ffGP2P1YuBw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "2071639665"
  }
}
