{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/974449621/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/974449621/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/974449621/d5ba823c0cc743c591dd3253a84b4f59",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "APlEaLdSu3Tz3KDjMvz3bEv_DlAUymvcR9wh5nat8Pl7EbPVwRb5MoD9I9NvTSIkmQEbSPAP9RQU_ce91jMv1ocB",
          "y": "AHOb8Dto1hNW_4ZO9YHEMy3lEa4kgrSXCGpIW2sXBW0qd0TPaOGGG3ZAHF9xmdvJK0afpMkzg9Wn35WpSBpmf_PE"
        },
        "attributes": {
          "enabled": true,
          "created": 1780403439,
          "updated": 1780403439,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/974449621/d5ba823c0cc743c591dd3253a84b4f59/sign?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "V9GW0SghM6kjk7Y6ymFSpnYxPzmoaIS3NYsBX1lbaozFrkM3nz_i2WZOcUAGmCg44EUV_GrNA9rAGB1CyOTMkQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://externalkeysdk.vault.azure.net/keys/974449621/d5ba823c0cc743c591dd3253a84b4f59",
        "value": "AMi4QvHHH5t0iGknGDgfzzsRiDr7tUFEo1YeHHgvMJw6uIqgTUlFvuvnSmv_2oQpnmA4_Ok6fuYm2OyUiqsFaQCmAE9zwoACY7whnYsvewA3ZrGmhnHQPu0OpkMU-P7q[...]
