{
  "Entries": [
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1554498023/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1554498023/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t8c2fe6801937008f.vault.azure.net/keys/1554498023/c7ab7e9ef462448cb51a4a71ac1ee46f",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4okCJJgKu-71UiTAPOVR1TsqmtS3dY9DjFhz-0Bi7qD31u3x5c71ya-LNT2yJpXj01PmBbP54rY3NGlzXIBe5uz5yNBFvL5fm8B9DNTMUKS5RGyJLTR2shy8q5-98sBs2ub_l-LXZ9WxooLja_fl_4_0sn52cWsO7NInq5o_NLYavMQ30Z-5JC5JNcoNoircl-db1qdMmNhCm3BPs81CI9FfU_HXXiM7lre2Vf871kfQud7z0T4EAWv7kwbXe4IzFLWOxRqPB161kq7GwUviB6kMms6nWArfcYfKYv47AfJxmtgzZC9iceTA7daJc-ZqEFO6stUf__FapnMOcSk3iQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1758944980,
          "updated": 1758944980,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t8c2fe6801937008f.vault.azure.net/keys/1554498023/c7ab7e9ef462448cb51a4a71ac1ee46f?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https[...]
