{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2105430540/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2105430540/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/2105430540/cd5efc91b4a74daa962b8f6f2f06c537",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "w5EHPUtZ8Inh8leJWbp14_fgGVb-D32fXVlOFEOUhrh6olcFLgXicF-9kPl2_E49hUj5aXg8KYMcxXzhdq6OEW0gEfqdfEu9QEoJW2IQZ2Ah_Mc8qfP5hLWmw4TzJ7blurcbPGDL4VpU4K4yiPlM8GbJZfr5ZnxyahZDTF95n3rNs8WXQLE2VksNbGuWE2UJr06MJT29_2R6VA9whH-_GQpakaY0p-jomKxltSfAGKpqrgg2mLIXnjOYBuIQahKBF6PPR46MI3jApNwWUX-IYW2lFwP9QIrsIWcYk9FW8mdabVA2pv8OkleBwG3qCdNP1Z3dI-0KlAz3IlLdeH9aJQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742929371,
          "updated": 1742929371,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2105430540/cd5efc91b4a74daa962b8f6f2f06c537/sign?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "56d8wbPd5iblYpTtoNEZeNpfLWe1RL9Z6Pku9TEpShEB0QVRjPzECF-zj5xM-a9x"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/2105430540/cd5efc91b4a74daa962b8f6f2f06c537",
        "value": "Xe6--yty_GcXGZAtiNQtM43EunhrdCg-Bawxj1zxwTgR4tuiGXElfhlZ4rXHukILZjk33ImfkQdx6z_IIPv5lNzitLR32y0nl3OjFpOwOAdlYbiWlTDwJOvGLuqTkr3TBevyRuC6BfaSs-Gr-oROHdM3EfR2gkUqjvBquzOBBfBoMmcr4XBwFGHYl_9r4MWCm6soJgE9S_EwN0V0ydyY1XbR2uj8HA6FfJqWRRMpwvjVEbc2LFZ2J7VHHYtNJ0dI3wFLQNFpKZQw25o7tH4H0NMoE9GOfQkVAs-BPA95srwhMOXfvY_ExgnltNriqDdchKu8tJRuTLt_op3SkTNLjg"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2105430540/cd5efc91b4a74daa962b8f6f2f06c537/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "56d8wbPd5iblYpTtoNEZeNpfLWe1RL9Z6Pku9TEpShEB0QVRjPzECF-zj5xM-a9x",
        "value": "rOWcg0Rt6HKZevXMtC_7I5bUYG2kG4bYR0FfgQmWcfa57zoo7pxmhrhfctXuLRJL7jMUyu0kq3NVTxJGN_9OPenxSw7oekceqFDA9235GzRFVPCDj0pVmetJ41GZToYukS5-2efHQHy01f8NtvqeQzeVPcJZDlTnhUdLJcCsiIz_e5fZ8BKVBRw-yGmpnm3R9IqHNYkNHvQf_0MidKHlQ7VyUYPm9roixP0dPm6wPuDfcUHh9P6S7QZwd4KQP1Pyww4b4wwOmb9US-RtP7AF11t1ZG5rEso_c-7MpSVLe0uLiuqUT3A1jeo6AbK7gEOPZqhmjmnob92snXfKpncjPQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/2105430540/cd5efc91b4a74daa962b8f6f2f06c537/verify?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "digest": "56d8wbPd5iblYpTtoNEZeNpfLWe1RL9Z6Pku9TEpShEB0QVRjPzECF-zj5xM-a9x",
        "value": "Xe6--yty_GcXGZAtiNQtM43EunhrdCg-Bawxj1zxwTgR4tuiGXElfhlZ4rXHukILZjk33ImfkQdx6z_IIPv5lNzitLR32y0nl3OjFpOwOAdlYbiWlTDwJOvGLuqTkr3TBevyRuC6BfaSs-Gr-oROHdM3EfR2gkUqjvBquzOBBfBoMmcr4XBwFGHYl_9r4MWCm6soJgE9S_EwN0V0ydyY1XbR2uj8HA6FfJqWRRMpwvjVEbc2LFZ2J7VHHYtNJ0dI3wFLQNFpKZQw25o7tH4H0NMoE9GOfQkVAs-BPA95srwhMOXfvY_ExgnltNriqDdchKu8tJRuTLt_op3SkTNLjg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "431290535"
  }
}
