{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1721272028/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1721272028/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "EC",
        "crv": "P-521"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1721272028/b3184860d9fb441285370b6891425a25",
          "kty": "EC",
          "key_ops": [
            "sign",
            "verify"
          ],
          "crv": "P-521",
          "x": "AO6-9ZNvtqRsC0cbOpJp6DRNTtedoRjRYG_5cVKB7B8ZhkxyqnXHBTJl8XK52Is256F0_jXJWzb5C1uQOZfCz2up",
          "y": "AOgxyiHBQPGbpkxMGXnjp8ExuYLQiAi1_gQQVAobwqmquKM9sPGWZHX-AtmXDG7uv7zCmb3nyxh_cgpgbkyFmYaD"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760943,
          "updated": 1750760943,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1721272028/b3184860d9fb441285370b6891425a25/sign?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "value": "38wrskTBTK8I4z5blM-QZ8OV9hs10XbjwpZdgV967tLvO5UyD_CveGav-T2J8-9n3ulWg-upFO0xR12GQz6CdA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1721272028/b3184860d9fb441285370b6891425a25",
        "value": "AQwRNVrm5Ymk2yZ5L3L-ULObX71A5z8tVgqPBKHDnLZ4omg6akZ3_bhcxZXwiRz6cT36FQ8zxNHua8956oC2-cuOAGSETqQKs94oIYXgsnlRpkNmIlNsAischGgPmtloIeDqiX2ojt0ikdqNAsoTB5RjiwZOf4qU_8iLMTZAUtnyJS_S"
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1721272028/b3184860d9fb441285370b6891425a25/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "38wrskTBTK8I4z5blM-QZ8OV9hs10XbjwpZdgV967tLvO5UyD_CveGav-T2J8-9n3ulWg-upFO0xR12GQz6CdA",
        "value": "AWKPykrgOrPappcuEgm57je8HE66OmJIAtMGhfj1EEKeuvsSwCQLQLAybVbFyd7hbZJDVULlK2Adcy_QbXgh58m9AYwLUrwNwwhbX_J-2hXIpUZXU8J36Fw8DwMYmd7gef-q3s3bZ4PimD9Gb88mv-YhQTWkmmDMytvMFmVHjaFwXFJF"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1721272028/b3184860d9fb441285370b6891425a25/verify?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "ES512",
        "digest": "38wrskTBTK8I4z5blM-QZ8OV9hs10XbjwpZdgV967tLvO5UyD_CveGav-T2J8-9n3ulWg-upFO0xR12GQz6CdA",
        "value": "AQwRNVrm5Ymk2yZ5L3L-ULObX71A5z8tVgqPBKHDnLZ4omg6akZ3_bhcxZXwiRz6cT36FQ8zxNHua8956oC2-cuOAGSETqQKs94oIYXgsnlRpkNmIlNsAischGgPmtloIeDqiX2ojt0ikdqNAsoTB5RjiwZOf4qU_8iLMTZAUtnyJS_S"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": true
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "680264653"
  }
}
