{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1376676785/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1376676785/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/1376676785/e7028299ee2849bba3e2d1d296691998",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "uB0Kr_z0gtRZLwebuZO-7MGP9QDRFJExmqAt9_23BH6iGM6kn8uc8HdBqJYzHhUXvE3G4Zyzr_SFGEf4OmwzcHHjRE4m8wZ2qC5o6ZvYndkCzS2ZDV1QQ2KOludqrkLi_B4HgVQrOE5W3IhhXivGPGygOLcDdeY8Gic3C1Whvl4mUP1kewHmnX4mkubwlo6VQbMJVdy0RrHl8o4zg2nKaPkZdSlcQZZd5eKSJhhs48YGQmOO0Q6bfZ2Cgr-GT5cXSSLZfKLWoco-Ete_GItIITxvs2j47UDNH0VF2rLTCNPn9faOXRVuctv-Ge21rRgRgjUrioijG5k09649xQ0mXQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759311624,
          "updated": 1759311624,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/1376676785/e7028299ee2849bba3e2d1d296691998?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https[...]
