{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1237192585/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1237192585/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1237192585/6577cd2a17234ec9a49faf03f3082925",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "obAmmulU0J0GBlpjK77ggI_bzqdH360vdjAUM6A70TtRZpulUcXvRoBlLtmsJhkpQVkby0OU32YopoGTNAX4sCDSsIr2QHGfka_sPf_xflnM0U1QOtArMtTxltMdNZ1OjwPVCSSSSX9ImFTs7QEGsE4pOGp2iO5EalYwgyvIy9MNwXzWdyIBf3YfPvppaBP_-eKxRyDExW_ewNoHA7SH-AFVVgyBZTv-Vmg40WrscRozAT82WgM-aBAz3FJRDrCt3VsED_soFP1HpwM9UMFoctwApQmUKFVtNdhr4ooSJDL7p-dEo7_v0fy5sgwG_yqzWP3hwhwixag53soRaWwNvQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756405377,
          "updated": 1756405377,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1237192585/6577cd2a17234ec9a49faf03f3082925?api-version=2025-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid"[...]
