{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1091564974/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1091564974/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1091564974/4d10e4445c9640dc89f524b98f009c20",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "rOBcbShV4Ajmx6I11SznRr0M8j_lp7ZvfAO8pRxj4plk_fsp_T8mFX2xSC70rYEh0I7XxDq6v2qZycRpmr4SZD4QxojDlv_Ejp3hJqyoPdLtAlSqsnISiFqqRzCzY2bWEvZ_Bq8-ARcvRx00d7E0otyhR66z8NS5UitEZyY5fkxc5Q75X32ZBpk3UZIB8pWRCma3woVlfD8WOv9UnlHze_-N9g3nRlM3RqR8I0SUZroIlQjrIROAyTXhkOxF157nWzS0ja-CC7VxWSSOfmbob5wi6q5uA2NnJxCRlsSOwCO0tR4LgEWiEMVRjLjhlOE9CZOKIrspZ6Cxwy9_G5h7uQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756942435,
          "updated": 1756942435,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1091564974/4d10e4445c9640dc89f524b98f009c20/sign?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "PS384",
        "value": "c41DPnUbcZxVWtKdVDZjI9T8nF_h0v_5tfy9WRtDy65vtXC2Rm_WqZkdxvanDs3k"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1091564974/4d10e4445c9640dc89f524b98f009c20",
        "value": "Cr_vY1IswMp0uQbyLqe134-A-lkjbCHvLXh80F18ohIX8dq8RWXxkjq3AYyFYIOtGAKB8eW5cpWR0ALxtArUJXZNpcic0H9V4c4G7edW_4rMhcatMxjczFxUpEhoBhaJdu2foIqpnSeY5BiUhu[...]
