{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1349863251/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1349863251/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://joncarde-kv.vault.azure.net/keys/1349863251/8ce8497d882542ebbbe4cc76642ccb7d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xzpuJUf5R2K56TQs2gljgGpMjqrAvFIqOoSXyc3CJyH6IXSvSUwzdFcL2KLzcWxXTtmwRtx3pTAqcizepUYU9Z8yVeH3SUZE3yTEg2OdfVbz5GR6Dem2vGj8tMHMOrv4eZ4UhSefZT_hkBEl_vuiIgMro99hFSMO0tIWJrrJwL5stMfm8dhaszCNdK61A-hWwM9cE_6Lv4lducSlLExFjEaGRGVld3VZPc_nSflM6uAenw27-Gk2Tko9mAHt0txsiXQdWcxsTt7iX8RkqC8mxQNVxfKOaruA6tAtEAfkFx59SBWH4Lbh5lh1_xJa-QzQa6sGAd4TcWsoiD7TUrvs3Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1781139721,
          "updated": 1781139721,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 10,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv.vault.azure.net/keys/1349863251/8ce8497d882542ebbbe4cc76642ccb7d/wrapKey?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "ywN_rBWvuLOSn6JbakSDya_a0V1aowqOIHHUN6lxUv4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://joncarde-kv.vault.azure.net/keys/1349863251/8ce8497d882542ebbbe4cc76642ccb7d",
        "value": "oxoI3SHCFvBx8kUk_xhrdu093Eb4m8JMltl8htf-7tRIJcahp4U4Wdt2sLhIYs8mDBKeVoEIzh054mWp6dji4C5fK-eBk30-AvcsAK3_502n2hDUE0h1e14a4kXZLma_QpsY-iC1BuIbMqHc33XPnoMTS1GGw8W6hol9rFRdG7r5M[...]
