{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/886156560/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/886156560/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/886156560/b95c94fd213846c5b749fe3d6c0150e0",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vBMRHIQRVro48_q80hQY1Le8t7ZPfzRqUvOF4dLKLHtzK3cDZsG8ipJRAucbBsdt7WYuiRdJdo-Y41j5yAAEFi380M_-4JnLe1deur1B4pySlOyqjbTegEfoGkxSeYS5aM4lTUK50DN0JUnL17PtvTFryWMBkV-T7UDz2h2BxwHjdhXfGd8rfOnSEM8qjU4wubljes7oIqw3OavrdWImXWjyVSsReoEsY87yaWFBinFFyog60yVkcjbMxWZgN_vHXTPwAL3Rbd9Jq8aD6Y-cchZ0yTsJcsy7Ak2guDjMps0EYWec5-xC5gDbzGbZUrx5S30Nkr3OtbnM-OXQ3vmM5Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759313220,
          "updated": 1759313220,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/886156560/b95c94fd213846c5b749fe3d6c0150e0/wrapKey?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "8JSfRd7QmA08rGoqmnVoDec8IatD0yEvvsnHBBKovcU"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t282557e4338dc910.vault.azure.net/keys/886156560/b95c94fd213846c5b749fe3d6c0150e0",
        "value": "Yndqx3NHGAYO-WJis2HZhSjUGnnvX0tTIwdaowToJYJ-2skDJAFWbXZoflNdhnR4aAFqhXIW7IYSx_CN1lsmmZoiIniDaS9SLGXJa2grnm89kNTk62eKM7EJhSo38Jt2i4bxaK-8SDClH74howS9N9l-OAZeAYejZGkyf9Oe[...]
