{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/834365914/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/834365914/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekv318.vault.azure.net/keys/834365914/f75e6657be96411281eb830727624626",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0dqDdRtMMZ-DbKt9aCDv9fP0Xln2OYW-BER4edueZORNg0IBY0ZT8uwWctmAIsUoVk1Z0WVE7QU_GLs1a7UPHiD52SgCHSmKQaZYIig85ujoGTYlKPjle35OCc0tL0eVXessme4bUurEVY9KLK6mdAJcXgRUJcdhtltblyEJoPLN4smlVuwsLWsDH7FAJFIZKmtsHhQ38hVfEskTb_CKYwikvLKvTOoYvpQ7_3BjlEjBnFZMg9ftDjVtiF1Mq4TnuCy9355JA4_ErkXGgwKN2Wt4xL-x9_eol_7OQf-QLMteRwnlxZ4KCynJuy0qDvErt2tTerXBjtEKUkrWK8za6Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1742930196,
          "updated": 1742930196,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/834365914/f75e6657be96411281eb830727624626/wrapKey?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "jbUOxRAszFPPaIGI7TGy_lolZ9ucLBfGuIBRWMvUqjY"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/834365914/f75e6657be96411281eb830727624626",
        "value": "RpF77vsKFBvYuMM1JZkaFdvtC9WrrSzjD1PpFjRh0F8MutkJDcWFPAvzGeRdWp8b-_yrDa3VSTDpLCP0Buk6TkN4PMbwhMcpWZNsfzJW4TQAqZyC-yNONjhaHTzBbXUggIeN7JSM9tQ6ZClUCdJoXuFO2wKGqAN6bie747WVKLrD9VZn8TXvk5YRqE4qaowhwh_S3pWvP2BeNqtbTbJBPZHSSSPW_ybQAd4qNCQ3VDCIRKZQSOO5KO3uwsEXFpNFFnkYAmWwuWTAhE_jQzxOxb4jh_TFjFFPWrLUx5GN8L6pTBfysObz_6KjRzks0J-jElt0xgQFClkz9bBZSrxdow"
      }
    },
    {
      "RequestUri": "https://rgjoncardekv318.vault.azure.net/keys/834365914/f75e6657be96411281eb830727624626/unwrapKey?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "RpF77vsKFBvYuMM1JZkaFdvtC9WrrSzjD1PpFjRh0F8MutkJDcWFPAvzGeRdWp8b-_yrDa3VSTDpLCP0Buk6TkN4PMbwhMcpWZNsfzJW4TQAqZyC-yNONjhaHTzBbXUggIeN7JSM9tQ6ZClUCdJoXuFO2wKGqAN6bie747WVKLrD9VZn8TXvk5YRqE4qaowhwh_S3pWvP2BeNqtbTbJBPZHSSSPW_ybQAd4qNCQ3VDCIRKZQSOO5KO3uwsEXFpNFFnkYAmWwuWTAhE_jQzxOxb4jh_TFjFFPWrLUx5GN8L6pTBfysObz_6KjRzks0J-jElt0xgQFClkz9bBZSrxdow"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekv318.vault.azure.net/keys/834365914/f75e6657be96411281eb830727624626",
        "value": "jbUOxRAszFPPaIGI7TGy_lolZ9ucLBfGuIBRWMvUqjY"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekv318.vault.azure.net/",
    "RandomSeed": "32706617"
  }
}
