{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/316587713/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/316587713/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/316587713/59db4dbc217144fb8239691ab921ed74",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "mqbmIvQkStJyCGV8FrEUiHQ1o3TLbCj95hjBA6JPoddtD0BV0rUxnW-7vaEwBn0SOmCPEdBFuMgdwoj0a6tPIi3EAKauXGhfURNRyTkAYFXf97NWa96-LuMER8l1YpPlB3nGCtwUe-4NewsNnvRuHgnsVHUc-xzsOTaSQlhU8JdcUg715nZNnAOkvEUWLzeBJb1l6ZKTEBr-g9SBZAeL3uWACox5W5frQ02j8r7IGLbRECswI6dCkjpfdpsPQViQxyDBtHLU74GipnP3hXsZbTC8oEXiCr4ciDeHa9cwBPtuLLbBNzH1MYXUrfKFjplqfUTuAR-hS5tGORlI3DzYxQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707529972,
          "updated": 1707529972,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/316587713/59db4dbc217144fb8239691ab921ed74/wrapKey?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "4pxS3GL9rCw7ItE4QLIY1OD82i37PNHZONc5RTslJyI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/316587713/59db4dbc217144fb8239691ab921ed74",
        "value": "dmvRz_ekbP2jRBzMQRFq36oUH8wMDh1N8lyhfx9sjFfofx516axT-H1QF_QnOkwbrM8yHEkXATpnJriu7mtgBZweZnGcEf2MlA3J9qwdy2lmDlDY4HtQ_eWR305V4T9JCmZkwUP9yu0YObqtsXV-aDKoE6tVJw6UIj7NGqeiIifZao6d3WWVw0dav-Ps4gO5_A_MOLxGAC17vQb--qOTwIAMIBu-jOj-ZTbChGi5tcvnEg9morJ0fLORCBx_YlNklqpRV-I6N-HRpBIMtknlZgQHNXatbs-HL3YizxJgtgQsGT2vkcRwcAV9ahWNcnUSQ3M_3mHo9rjDGF6OW_bBjA"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/316587713/59db4dbc217144fb8239691ab921ed74/unwrapKey?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "dmvRz_ekbP2jRBzMQRFq36oUH8wMDh1N8lyhfx9sjFfofx516axT-H1QF_QnOkwbrM8yHEkXATpnJriu7mtgBZweZnGcEf2MlA3J9qwdy2lmDlDY4HtQ_eWR305V4T9JCmZkwUP9yu0YObqtsXV-aDKoE6tVJw6UIj7NGqeiIifZao6d3WWVw0dav-Ps4gO5_A_MOLxGAC17vQb--qOTwIAMIBu-jOj-ZTbChGi5tcvnEg9morJ0fLORCBx_YlNklqpRV-I6N-HRpBIMtknlZgQHNXatbs-HL3YizxJgtgQsGT2vkcRwcAV9ahWNcnUSQ3M_3mHo9rjDGF6OW_bBjA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/316587713/59db4dbc217144fb8239691ab921ed74",
        "value": "4pxS3GL9rCw7ItE4QLIY1OD82i37PNHZONc5RTslJyI"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1778084984"
  }
}
