{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1319156371/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1319156371/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1319156371/ab458c82c7b64d5f8f006b2301680af0",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vEUw8tEtge6TTKmiMerQwynas-Uw92j2frWpDKbb76Uf2hSIpJVdchMpcOWbm5x37mE3XPAptdRq-r5rS2CBKHSUpqidi17MhKap1qhl-eC_Xo6RVJRDphcc-JikjdRcNDsC0Py9NFohD0qvExVLTBZcPEc00YozIN2oRUIZhGHL03JDXI9xxMjmdwD7hDJ2rulrYuw_0Ibl-OQD9YJlNgq-jiPoJ-zj2S1UgBc51g_ET96qnreak4eQGYe7tnOYYkVfxFe6-zYU-GqhYK5rKQw7LROGRNCzfjpbPuJk5FeQhXucuPa_lbMly19B5XLjocpGkheUkFwdTleh0nwZwQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756419669,
          "updated": 1756419669,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1319156371/ab458c82c7b64d5f8f006b2301680af0/wrapKey?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "V2cQEET3-vxozNd7lP2C5m-eBRY1dMs-ResO-wrx1y8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1319156371/ab458c82c7b64d5f8f006b2301680af0",
        "value": "PToi6NU_x2mSks_WI3HG_UfC69afDJZY9A_y2dA-Hr72zD5BvlqL_c4UpV_xvgp6YrurYoakka7ISoUYG-vzSWrStsSr1LNl2DLUGQuj5mnxUuaGAa_EPkpto_6sli4iEK6FwkhDCTcos96TAmgnrmRQ_rjkngt_UUlvTbR[...]
