{
  "Entries": [
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/236409666/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/236409666/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://externalkeysdk.vault.azure.net/keys/236409666/83db38f4e7cf407497567e1fc249d7aa",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ultyZqpEeHnPPIfReQzDc14i1OLZ-_njLXm_AhND97rIwBMZgfDlMNkiSpIlTm8BU2T_-l-_Tt-TZEBxMJngky5s_iZsvSGP1oyL2_i5udOotb7tOaQqQLITaH6vQHn_Cr8qH4I4qKHW5jJOlBVa7LhWx1MH2sq09NgA8RyCiNZMB1UGaPG0sMSJuXMtFWzk6hLTwA0NPSCHKMoLx4c9mKi7Y0VNfuLGbbe8GHZug3a1GO3-c4rjcfVu8JcYwYlGSHH2RYH8N_513hjK2HU1UrZN66xx03XCocYSDp3fQpT4U8YudPb0Nmb8XdcpieHz4SNjlCFrdFPDZ88qVf6jMQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780408165,
          "updated": 1780408165,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://externalkeysdk.vault.azure.net/keys/236409666/83db38f4e7cf407497567e1fc249d7aa/wrapKey?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "MAjs0k0m2HUBnyOsZTCZFJ4gEonvG3vK_NQiJbf-GP8"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://externalkeysdk.vault.azure.net/keys/236409666/83db38f4e7cf407497567e1fc249d7aa",
        "value": "RRZo_9vgvr_lOtQezUU6VChFB7xKOUvIu2dV7EjMehX_18ITgI-Gt_mxiLe5iyE7RsR2Y4hwGYA2lAXmM_kFG0mEqaWuwojj214jm3DCTDl5Yb9elPVaXauS6KCc9hYmaR17E3pV0_mly3P-99PP0th9LOBreVd7t6BWiecIKhU[...]
