{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1235087125/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1235087125/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1235087125/036d767f33d14477954daca16a120e35",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "2UaAsYF3wb315h_LhWhrNFIEwX_q-1WG1QeBn2Fmwp_UGNTvuW9sHVxkrKu7tkQprvgaNWsHtDSOjdtNZy6zgGsVI1RQEErdd-infxra2nsrTdY6Cc5NNO7_Bg4aUHtDMWJGQZRfAtKNQkA_kqea05fC_IURm4y6iI0mWLT6JKJwyfdxeumcfTqM4wSVaRyZFOUuUFMZ5TKq3mEIZyfsgODeZaoLF-jk00i-JC-U7uuU6rGsxRU1iQbgNJ4dXDi1ZK2fP06HD1G99bGTDKX9sss2_YAUbe2NVhHdt7eO1ekz42lf-V1YjR5xh6ec0-OvMFkaRQBCHZkhYxQmeR5dnQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756943675,
          "updated": 1756943675,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1235087125/036d767f33d14477954daca16a120e35/wrapKey?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "GgH1RdYi6VJc5xFEgWEqDvvlFVjL-ztAPOSn69kAKiA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1235087125/036d767f33d14477954daca16a120e35",
        "value": "1rgaHzjYbm4z0RVVMI5jGTPN8VtUGTc4Er_HTv3NGHMzpYusiA6-bgZ_hMplA3PmzE2zCiInEDoTQSvWJPMYKmrJvdOKGKCCN1BkPMW5tXpu6UbqrUBZMgb_jDi163X1dOOr7mpAsk-R4fKgt9GRL739K42fWNRNuxQVg7P[...]
