{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1782530362/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1782530362/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1782530362/0a864870fdf34171bd4f7edf5d574b1c",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "431nLbe_49tHkavTl-evM2M-R6yiixOle1SDYifW5RWai8-2NkxrPkXc_SAWJYnWGdSiYKi2LbvD2eo9uRzgCx7jzIgibE7rOuGoU1dQZ7NGglQGTDN5eK2Y_hNBS4XqbU_qJe4owFJRg6eEsSmtmos6x1MnVDFj0536A1c9HXx2eN_rPP07wZkBt8wHWvlfhtCdOI0P7xYnmbvVZu59wGn84-uJUJ527o-2wPF0ZwmPRPJyg-vWFPOWTWD2pYAM2iIK0xIbMAxpY4YEzchtFPBboLGiC24tQGgSH22L7KRDCKrIVlrEsAN4TgURN-Mfv4l_LGHE63lM2iAMbDGgQQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1707529969,
          "updated": 1707529969,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1782530362/0a864870fdf34171bd4f7edf5d574b1c/wrapKey?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "hqjR14yIW-HVEFoppKAdb2PwCJcVcFnWeRL4yQgN84E"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1782530362/0a864870fdf34171bd4f7edf5d574b1c",
        "value": "NszJyZJ_JHBm-V1qeXmS6s5fgGIhCWp9WSV-xcGjB6pFYpiDXYl7HNsfc-4WpYFjUH_oI6MaVw7APAZAZQzd5nZlO7lnlJq9XKztUYOlhBiOtdJ1A0yq7IfNsUMeZY3I6v8KfgZMOBDY-3nMfTDAOLlbokDWNGpQ99qAPp-2Z9GL5pLVtJbkFMdsIpfaOo61claW_usCqJeM_H_JcECmhmdmYzc3lR2Tw8kpyL5f1zxITfyuAFy_ibH8vog70_aFqe-xggRJxXwstg8PFqkXxFKlion0-LIhvBdyh7yr2wPdxBd8KIjULTG9KtqrBvsWdf2eHpOGbs64Oq3UYmo3fQ"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1782530362/0a864870fdf34171bd4f7edf5d574b1c/unwrapKey?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "NszJyZJ_JHBm-V1qeXmS6s5fgGIhCWp9WSV-xcGjB6pFYpiDXYl7HNsfc-4WpYFjUH_oI6MaVw7APAZAZQzd5nZlO7lnlJq9XKztUYOlhBiOtdJ1A0yq7IfNsUMeZY3I6v8KfgZMOBDY-3nMfTDAOLlbokDWNGpQ99qAPp-2Z9GL5pLVtJbkFMdsIpfaOo61claW_usCqJeM_H_JcECmhmdmYzc3lR2Tw8kpyL5f1zxITfyuAFy_ibH8vog70_aFqe-xggRJxXwstg8PFqkXxFKlion0-LIhvBdyh7yr2wPdxBd8KIjULTG9KtqrBvsWdf2eHpOGbs64Oq3UYmo3fQ"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/1782530362/0a864870fdf34171bd4f7edf5d574b1c",
        "value": "hqjR14yIW-HVEFoppKAdb2PwCJcVcFnWeRL4yQgN84E"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1440005604"
  }
}
