{
  "Entries": [
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/104895259/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/104895259/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://t282557e4338dc910.vault.azure.net/keys/104895259/4a2f301ea8cf4c00a4427c2106980a74",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vMji3fQsY6dPNwN7Bn3LjqcJeqUyz9k_fYArz288g5Z1VyEF6fe_RKSw2V1p1mbWNzNDCu1Wdw9USiyA5fvqZkkFExTMtftV_rKHrkzoT7O2Kv1hpbTwEkJas5HZ85-4HgmAIWyX3UYrBh4TUt9Mdu98mXgc1c7PVxYt8PpXURcxyaxOBG-DEIk-q0575VfwtK6um2PzfkR5HO-MWrI-7BvIJBwWoNwep6Kax8S0vyvk_MpaZDcitreWpc4yAJRgpHP6gW-8IXMWv7GWzBIT1RjXtAcGOIVGfv7iq4LB_uwbqy2DIXtBKY4EAhRNsO440ADPGqmkTvfq3mJriar7QQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1759313238,
          "updated": 1759313238,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://t282557e4338dc910.vault.azure.net/keys/104895259/4a2f301ea8cf4c00a4427c2106980a74/wrapKey?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "59Fovc6fvGwP23rxhlignWbK5lEn1h5INYwivNqrZxw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://t282557e4338dc910.vault.azure.net/keys/104895259/4a2f301ea8cf4c00a4427c2106980a74",
        "value": "C7BPHc1RofFi9Q6iaj3HqrUUs0GxmHeBCInz9E4zX2LAhZLbP-S4zBVxHszAPGxGumm3-KZ3ckbjZWGvry-zGQEsua-ENlxxe7WAHNGl8bxSx3Q1n_V6tfUYjuzEuTrLUfNuUg_A5ovmjFo26hz_l6-tfAub1nPMnD8SH2Kv[...]
