{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2037531649/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2037531649/create?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2037531649/045a429b403f4984875a574ba4e5957e",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "teE3jZ5NvOMjAY08nxnY7_UfDc3iL2ueXG1dnKKALjErIg5mdNxcP1u70KqMSJJjAN5PPKFdeUURjZVrPXs0gaIWM7_sicM_VzEgO1SsX4269N5Xeh_qUzhlMwCZ8I-IarugaGWO47xrOmcJ8Si4F2Kt4cYGQTqjVAOe4f4G91rBZUpE5q9botarzytj24Cf6lBcQeh7uLWF85PhlkkDlFLXablOvOct_R8OZ4MsQDcXyeRTZ0i8r8GHuyW81JuMs01cmWJL8KLm54qTjYXRyvHDMjA7p8AmSYekqNj8gN-gYcGMIIigvaUaYhbp5ERqFtXNwtlErCF-qHnhvC55BQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1692998219,
          "updated": 1692998219,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2037531649/045a429b403f4984875a574ba4e5957e/wrapKey?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "O34BMYIDfi61QV7eIfH0b95Y3AQcCO4teeFXb6WLibw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2037531649/045a429b403f4984875a574ba4e5957e",
        "value": "tHNQjrpHlMnwjKZMwBN4QkDIlrJj0X1KBBBynTpFwv8Fp1O1z3vqvf7wsJX2GcBDgOy2HGDIyGkJXYGK-qoZpMaOtuiCWN0KgpHevyBRgh7VOCgRfilYqcyGIf_a5GNDaGXovALv_mbx1MgyVNXIeoZhCxyAWE8bE6wGkok7oHM1F1ghp8r7kFJETWWvmXg4XkGc5PHkkCUUn_7Zy-kMT5pPDio02z-wj-mWkg4eTiG3rLu8XuHJ-aFX5jkZbRiI8rdOi7DHjERf1Srle1svm87JjKYMwNPvanVWBLNhpD-26hBdFvSQUBFmv03O37XIaG6KnjdZQJBLbA9Icr3u4g"
      }
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2037531649/045a429b403f4984875a574ba4e5957e/unwrapKey?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "tHNQjrpHlMnwjKZMwBN4QkDIlrJj0X1KBBBynTpFwv8Fp1O1z3vqvf7wsJX2GcBDgOy2HGDIyGkJXYGK-qoZpMaOtuiCWN0KgpHevyBRgh7VOCgRfilYqcyGIf_a5GNDaGXovALv_mbx1MgyVNXIeoZhCxyAWE8bE6wGkok7oHM1F1ghp8r7kFJETWWvmXg4XkGc5PHkkCUUn_7Zy-kMT5pPDio02z-wj-mWkg4eTiG3rLu8XuHJ-aFX5jkZbRiI8rdOi7DHjERf1Srle1svm87JjKYMwNPvanVWBLNhpD-26hBdFvSQUBFmv03O37XIaG6KnjdZQJBLbA9Icr3u4g"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tcac7e9c41ef52cec.vault.azure.net/keys/2037531649/045a429b403f4984875a574ba4e5957e",
        "value": "O34BMYIDfi61QV7eIfH0b95Y3AQcCO4teeFXb6WLibw"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "AZURE_KEYVAULT_URL": "https://tcac7e9c41ef52cec.vault.azure.net/",
    "RandomSeed": "1331681263"
  }
}
