{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1654247690/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1654247690/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1654247690/4f5a6bd6d7aa4558a07948c6a0bb9b74",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "6WqC-p62pfIhwDZyhs7f73yY22ZAoZTSFdMNZamVWL4pU5ul-sti7QK23s-2oWjo_xMXYaJc16E0j2HI8dJKmynfyOwtrsijPrdMGOfaDZZsDiQjYc0-K2S2SHOa9Dlz0oO8o4TZ6xaejwK06HzlGnOlhr9bgYYiVmDmcdd-UHfelevX0YBPSC-IZ0TrTUYajZh6MwMzMdVKHOVlfPSWsxPR25XM99QmBN88ATtbNOpeJHQyU5lPPBbYIFBa5dvI1S7CkmNXB8yw3UfX_CgAMlfshvLdM-QB001PyRuYf2zdxTE3x-6lN96mmOo2OPq0SxfWmXLothJJAfSS1H-1MQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756942623,
          "updated": 1756942623,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1654247690/4f5a6bd6d7aa4558a07948c6a0bb9b74/wrapKey?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA1_5",
        "value": "TNbARwetgePgdHm9EJ51WEpZtYPy8TEhYk621vQ-rTA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1654247690/4f5a6bd6d7aa4558a07948c6a0bb9b74",
        "value": "mpo6CLuponMLfNFA7KBH64vYxSItnEfiB9_W6nhkZ5uvC9DxXkXta-_Kuq5ijTi8Bxa1wh5YMZAlOnzhxcDXVGAAwDiAvnEP_r6L4NhKLwpnRf7DovoDn9wHAfWHQ2gzewKINc75G3WBv3oxJ6nDSigID0aOJz5IV7Mtu0S[...]
