{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1094429282/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1094429282/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1094429282/6ff597e0ba174076a7d9f04c11e0a245",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "yFFr7fIa9jHzfnMwqTgBiagRDtXFO4ToYbuGWVtrsqV8IhbCd9Q7mJLkp32x2HUStIxUPqfefupHPyk-FsxCVl4_AzSznlJQPPMLafoLdFy1wtE-L_aznxU-sGO8BQNwaypyVENEeqbmL5CbCyUxnUpYvWQGrPJo9Moq5SMc8h-GIwCpavrtaWaGFASjOLzWFZNQIq8KjKdoWnlyhed0L5lkTz9bN7uKmK39uf2TO-Y29F01Q4pKKZaQHvt49jfrao6QYYc1E3oSkwipE-HugN92dkcxZkGiCcfix4QCh3xJr0SNucryv3m_PwdM7SAJF6_-yuAQTm542u6OBRdwrQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760965,
          "updated": 1750760965,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1094429282/6ff597e0ba174076a7d9f04c11e0a245/wrapKey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "gcv2oO4H1EiMGLUzjXW5rHe3qHNrv5fC9UoEjDFZJsM"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1094429282/6ff597e0ba174076a7d9f04c11e0a245",
        "value": "B_hGLzlPDvd9UZ--s1_Ckm55GAAfUrRXk8KMJ9OpozXPRU0F8W8nXaJIEcL0yeA7Rz0hyHUNv9omGgKDbd-8cfTX0BTEP6IFJvPgdVhioVYPPA2BDAG0816eFldcKwOUfNYh_Bv3gDB_V4PGOfG9e-Mte5zKwyfwTp2emhwOn0wu0QweKUapRwK8PXiUqjsg_GxVqbeQ8bLYNivmnIgR14FZElN6hKtqVr2EuE6KQyFolZ4qCbklrb58G_Tu2VgRsbkY3iEUO8hHqZt1RyxrqfT4shd1usGuH5ODoQ2rVavGrQsLPDk_BNRcGVl-l9Ty6QO5tRD2ruPoVsUXhqF8Sw"
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/1094429282/6ff597e0ba174076a7d9f04c11e0a245/unwrapKey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "B_hGLzlPDvd9UZ--s1_Ckm55GAAfUrRXk8KMJ9OpozXPRU0F8W8nXaJIEcL0yeA7Rz0hyHUNv9omGgKDbd-8cfTX0BTEP6IFJvPgdVhioVYPPA2BDAG0816eFldcKwOUfNYh_Bv3gDB_V4PGOfG9e-Mte5zKwyfwTp2emhwOn0wu0QweKUapRwK8PXiUqjsg_GxVqbeQ8bLYNivmnIgR14FZElN6hKtqVr2EuE6KQyFolZ4qCbklrb58G_Tu2VgRsbkY3iEUO8hHqZt1RyxrqfT4shd1usGuH5ODoQ2rVavGrQsLPDk_BNRcGVl-l9Ty6QO5tRD2ruPoVsUXhqF8Sw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/1094429282/6ff597e0ba174076a7d9f04c11e0a245",
        "value": "gcv2oO4H1EiMGLUzjXW5rHe3qHNrv5fC9UoEjDFZJsM"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "1758145993"
  }
}
