{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/163850415/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/163850415/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://rgjoncardekvv76.vault.azure.net/keys/163850415/3465b6f6c6e2401e844a30875b3dca9b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sS5PxlJJBebU-y_VNf2AUJojcoh9rowFAioBRXHosx4etPz_9RmuCmXLKmV9PCO6o7T3hZENAGrEwwLccrCwLmt1P2-aFblcy0NoVIzhIGSeOogjIjPtvY-gVnF9RaT_eUUrKrwYgOGaKR_sl-HsMsNjfLOGeIA5gnEzcsq2cGW6h9lmK7_P2NGr5Lx5xPCO7FoBA2Yeuf2UBYA8AUNVUIPFZQLeiYvi7exUlD0IfdcAqoi0WateouGaHYa0atbU3BcBNKJZxTGTz3pa7El822IN_idq8wdGeQ6-5eeWlKhc12H4u7lsxLOyo5q9XAlezp3KRM1wuAzXbIxxzxL6CQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1750760395,
          "updated": 1750760395,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/163850415/3465b6f6c6e2401e844a30875b3dca9b/wrapKey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "Q8o2AhAz8debTwZClBSH0lYKunIc8phM-x5uBLWzA8Q"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/163850415/3465b6f6c6e2401e844a30875b3dca9b",
        "value": "pkCz9riz-s492HmGY4CkxupAPQITyMYTELeJ8ISyH9vqtIfuLgqoia_BPS44i2mPOM-k2wu9zKLPuri4ns6Z3MDNn_U6Wj2ar-NT37YlkXjsi2OdzsXu8Dw5gjWSTEjNF8H3j5r3uM7XI0s6UYL7gebJfEq_65glDzbaiqn5oXqTnSVyon9fuAXmatdcvU9u33zUD90G2GxO85C8wghxdeiaC3QppHCpJkilNrGrlMDIE5nKeFoEZVFrGDP30N2ZyA6BXML8iBtmsU3GGZJ63D4KL-EZrum2Z6C751wtF3HAqRDQgfKFXwOweZguzPpcAfe8Oap8y4KwdPJsbkFnDw"
      }
    },
    {
      "RequestUri": "https://rgjoncardekvv76.vault.azure.net/keys/163850415/3465b6f6c6e2401e844a30875b3dca9b/unwrapKey?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP",
        "value": "pkCz9riz-s492HmGY4CkxupAPQITyMYTELeJ8ISyH9vqtIfuLgqoia_BPS44i2mPOM-k2wu9zKLPuri4ns6Z3MDNn_U6Wj2ar-NT37YlkXjsi2OdzsXu8Dw5gjWSTEjNF8H3j5r3uM7XI0s6UYL7gebJfEq_65glDzbaiqn5oXqTnSVyon9fuAXmatdcvU9u33zUD90G2GxO85C8wghxdeiaC3QppHCpJkilNrGrlMDIE5nKeFoEZVFrGDP30N2ZyA6BXML8iBtmsU3GGZJ63D4KL-EZrum2Z6C751wtF3HAqRDQgfKFXwOweZguzPpcAfe8Oap8y4KwdPJsbkFnDw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://rgjoncardekvv76.vault.azure.net/keys/163850415/3465b6f6c6e2401e844a30875b3dca9b",
        "value": "Q8o2AhAz8debTwZClBSH0lYKunIc8phM-x5uBLWzA8Q"
      }
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://rgjoncardekvv76.vault.azure.net/",
    "RandomSeed": "1187328241"
  }
}
