{
  "Entries": [
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1119091849/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1119091849/create?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1119091849/a40179b077fc4b779b25de6a63d95b85",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zg3o1hxzzmFs7-RJkeoSpRDn22CqCFMjBgvKZoXc8uSUrqDzwQOlellntSwIaqgjXMBEQFzSO4uFyRm71mKqDY6guQRiGh2D32dqb4EpQVhCq0w16VPlIjydlTGEYPdktUlGG1IsufwYVij5uoYKE3rF5tv8U1jSOtvt_ZqAkg4ldGXuo9aGel5kFn2tyJZCzNu0iTS4cSvY8cz95KyWCiWMAsDOEBSppNwvnRuhkBwlFt3-rEA7QzcT72LSwt_R7OHEHYTaHqs7gFXvqRLp49XR7xDzcYjPFSPgv6-6J7kh2KphQc9cPSZCVPGIGPgPZooyGlC4MXZPzuEmmxUzjQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1756419684,
          "updated": 1756419684,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://tc01f7546f76b53e9.vault.azure.net/keys/1119091849/a40179b077fc4b779b25de6a63d95b85/wrapKey?api-version=2025-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "alg": "RSA-OAEP-256",
        "value": "VECYmDIE0kACt678Yh6kVWTeBL7ApdVdjDypHkETROY"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kid": "https://tc01f7546f76b53e9.vault.azure.net/keys/1119091849/a40179b077fc4b779b25de6a63d95b85",
        "value": "zKuiK7brXOcbUD5vmvsMk4aq0Vxctouafvl_eebM-TlqtbwYPGvVcj9hkPCNkuGbDUCk4WPA6T2SXbOr0uYI77GRkDkMfqqPHaOUXerYTS6I16EUI13wwx74hMwwgDh4_LeGlX478w8Wy4UIoDO9c857Pq3hpxrHqcAsZ4-[...]
