{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "jssdkPool-CMK-Fail52e1",
        "vmSize": "Standard_D1_v2",
        "virtualMachineConfiguration": {
          "nodeAgentSKUId": "batch.node.windows amd64",
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-datacenter"
          },
          "diskEncryptionConfiguration": {
            "customerManagedKey": {
              "keyUrl": "https://fake-vault.vault.azure.net/keys/fake-key/fake-key-version",
              "identityReference": {
                "resourceId": "/subscriptions/fake-subscription/resourceGroups/fake-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fake-identity"
              }
            }
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "InvalidPropertyValue",
        "message": {
          "lang": "en-US",
          "value": "The value provided for one of the properties in the request body is invalid.\nRequestId:cf70208b-0220-44af-8810-e15e4a7ed55b\nTime:2026-02-03T00:01:10.0802556Z"
        },
        "values": [
          {
            "key": "PropertyName",
            "value": "identity"
          },
          {
            "key": "PropertyValue"
          },
          {
            "key": "Reason",
            "value": "Pool Identity is required when using CustomerManagedKey."
          }
        ]
      }
    }
  ],
  "Variables": {
    "Pool-CMK-Fail": "jssdkPool-CMK-Fail52e1"
  }
}
