{
  "Entries": [
    {
      "RequestUri": "https://jolov2cloudevent-topic.westus2-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/cloudevents-batch+json; charset=utf-8"
      },
      "RequestBody": "[{\"id\":\"233db095-9d70-e4de-3d00-6e2ce1274635\",\"source\":\"source\",\"type\":\"type\",\"data\":\"data\",\"time\":\"2024-06-14T11:07:23.3866828-07:00\",\"specversion\":\"1.0\",\"traceparent\":\"Sanitized\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-14T11:07:23.3866828-07:00",
    "EVENTGRID_CLOUD_EVENT_TOPIC_ENDPOINT": "https://jolov2cloudevent-topic.westus2-1.eventgrid.azure.net/api/events",
    "EVENTGRID_CLOUD_EVENT_TOPIC_KEY": "Kg==",
    "RandomSeed": "1793822753"
  }
}
