{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 13:00:15 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "KKFvzY9\u002B1EmS1peYd8StDg.0",
        "X-Processing-Time": "16ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6a24-4d61-f38d-09482200b934"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6a24-4d61-f38d-09482200b934"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "0NbwHr7220a0g2x9NLbs\u002Bw.0",
        "X-Processing-Time": "191ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:relay.communication.microsoft.com:3478",
              "turn:relay.communication.microsoft.com:3478"
            ],
            "username": "BQAASPZJsAAB2j8Nfh\u002BmM0RX2/pkUhTMT2Atf5Wt68oAAAAMARClunhw7wVOK5kBd1H6op4gAhAAAAAdaiRNYfONCUgiALk00QTUbwebdFpmf2G03eMJh80GPFY=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:20.202.255.225:3478",
              "turn:20.202.255.225:3478"
            ],
            "username": "BQAASPZJsAAB2j8Nfh\u002BmM0RX2/pkUhTMT2Atf5Wt68oAAAAMARClunhw7wVOK5kBd1H6op4gAhAAAAAdaiRNYfONCUgiALk00QTUbwebdFpmf2G03eMJh80GPFY=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2024-01-04T13:00:16.6994197\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "472069517"
  }
}
