{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 13:00:18 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "yGjAjHur\u002BUq8uQ77CBbmfA.0",
        "X-Processing-Time": "14ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:a5ba7870-ef05-4e2b-9901-7751faa29e20_0000001d-6a24-59de-f38d-09482200b937"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 02 Jan 2024 13:00:18 GMT"
      },
      "RequestBody": {
        "ttl": 5000
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "2WEHfzfN7UWMsdaQ1l4Tng.0",
        "X-Processing-Time": "152ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:relay.communication.microsoft.com:3478",
              "turn:relay.communication.microsoft.com:3478"
            ],
            "username": "BQAANjuPpYAB2j2Hyoaz5zEd8PzOJeCv3k\u002BOyAlHbfMAAAAMARClunhw7wVOK5kBd1H6op4gZyzm8XAfv7xTSRYTRVxSpdbuOic=",
            "credential": "Sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:20.202.255.225:3478",
              "turn:20.202.255.225:3478"
            ],
            "username": "BQAANjuPpYAB2j2Hyoaz5zEd8PzOJeCv3k\u002BOyAlHbfMAAAAMARClunhw7wVOK5kBd1H6op4gZyzm8XAfv7xTSRYTRVxSpdbuOic=",
            "credential": "Sanitized"
          }
        ],
        "expiresOn": "2024-01-02T14:23:39.194119\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "229796413"
  }
}
