{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/sdkstable0626/providers/Microsoft.DocumentDB/mongoClusters/testmongocluster0626/firewallRules?api-version=2026-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/sdkstable0626/providers/Microsoft.DocumentDB/mongoClusters/testmongocluster0626/firewallRules/testfilerule",
            "name": "testfilerule",
            "type": "Microsoft.DocumentDB/mongoClusters/firewallRules",
            "systemData": {},
            "properties": {
              "provisioningState": "Succeeded",
              "startIpAddress": "0.0.0.0",
              "endIpAddress": "255.255.255.255"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
