{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.DocumentDB/mongoClusters?api-version=2025-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.DocumentDB/mongoClusters/testmongocluster0603",
            "name": "testmongocluster0603",
            "type": "Microsoft.DocumentDB/mongoClusters",
            "tags": {
              "tag": "test"
            },
            "location": "eastus",
            "systemData": {
              "createdAt": "2025-07-23T08:08:56.6405109Z",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2025-07-23T08:37:30.7789446Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "clusterStatus": "Ready",
              "administrator": {
                "userName": "Sanitized"
              },
              "serverVersion": "5.0",
              "compute": {
                "tier": "M30"
              },
              "storage": {
                "sizeGb": 128,
                "type": "PremiumSSD"
              },
              "sharding": {
                "shardCount": 1
              },
              "highAvailability": {
                "targetMode": "Disabled"
              },
              "connectionString": "Sanitized",
              "backup": {
                "earliestRestoreTime": "2025-07-23T08:16:26Z"
              },
              "privateEndpointConnections": [],
              "publicNetworkAccess": "Enabled",
              "replica": {
                "role": "Primary",
                "replicationState": "Active"
              },
              "infrastructureVersion": "2.0",
              "dataApi": {
                "mode": "Disabled"
              },
              "authConfig": {
                "allowedModes": [
                  "NativeAuth"
                ]
              },
              "createMode": "Default"
            },
            "identity": {
              "type": "None"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
