{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/mongoClusters/resourcetest1?api-version=2024-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/mongoClusters/resourcetest1",
        "name": "resourcetest1",
        "type": "Microsoft.DocumentDB/mongoClusters",
        "tags": {},
        "location": "eastus",
        "systemData": {
          "createdAt": "2024-07-24T07:37:30.4935609Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-07-24T07:37:30.4935609Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "clusterStatus": "Ready",
          "administratorLogin": "mongoAdmin",
          "serverVersion": "5.0",
          "nodeGroupSpecs": [
            {
              "name": "",
              "kind": "Shard",
              "sku": "M30",
              "diskSizeGB": 128,
              "enableHa": true,
              "nodeCount": 1
            }
          ],
          "connectionString": "Sanitized",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "infrastructureVersion": "1.0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/privateEndpoints/testPEC?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "subnet": {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/testvn/subnets/testsubnet",
            "properties": {}
          },
          "privateLinkServiceConnections": [
            {
              "name": "testPEC",
              "properties": {
                "privateLinkServiceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/mongoClusters/resourcetest1",
                "groupIds": [
                  "MongoCluster"
                ],
                "requestMessage": "Please approve my connection."
              }
            }
          ],
          "customNetworkInterfaceName": "testPEC-nic"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidResourceReference",
          "message": "Resource /subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/testvn/subnets/testsubnet referenced by resource /subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/privateEndpoints/testPEC was not found. Please make sure that the referenced resource exists, and that both resources are in the same region.",
          "details": []
        }
      }
    }
  ],
  "Variables": {}
}
