{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/weather/airQuality/forecasts/hourly/json?api-version=1.1&language=en-US&query=25.0338053%2C121.5640089",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "results": [
          {
            "dateTime": "2024-09-17T10:00:00Z",
            "index": 12.6,
            "globalIndex": 19.3,
            "dominantPollutant": "Particulate Matter 2.5",
            "category": "Excellent",
            "categoryColor": "#1DCFFF",
            "description": "The air quality is ideal for most individuals; enjoy your normal outdoor activities.",
            "pollutants": [
              {
                "type": "NO2",
                "name": "Nitrogen Dioxide",
                "index": 3.4,
                "globalIndex": 13.6,
                "concentration": {
                  "value": 6.8,
                  "unit": "µg/m³",
                  "unitType": 31
                }
              },
              {
                "type": "O3",
                "name": "Ozone",
                "index": 12.6,
                "globalIndex": 13.5,
                "concentration": {
                  "value": 40.4,
                  "unit": "µg/m³",
                  "unitType": 31
                }
              },
              {
                "type": "PM10",
                "name": "Particulate Matter 10",
                "index": 11.9,
               [...]
