{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/weather/airQuality/forecasts/daily/json?api-version=1.1&language=en-US&query=25.0338053%2C121.5640089",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "results": [
          {
            "dateTime": "2024-09-16T16:00:00Z",
            "index": 10.6,
            "globalIndex": 17.7,
            "dominantPollutant": "Particulate Matter 2.5",
            "category": "Excellent",
            "categoryColor": "#1DCFFF",
            "description": "The air quality is ideal for most individuals; enjoy your normal outdoor activities."
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895",
    "RandomSeed": "1861098424"
  }
}
