{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/weather/airQuality/current/json?api-version=1.1&language=en-US&query=25.0338053%2C121.5640089",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "results": [
          {
            "dateTime": "2024-09-24T08:00:00Z",
            "index": 30.4,
            "globalIndex": 49.7,
            "dominantPollutant": "Particulate Matter 2.5",
            "category": "Fair",
            "categoryColor": "#43D357",
            "description": "The air quality is generally acceptable for most individuals. However, sensitive groups may experience minor to moderate symptoms from long-term exposure.",
            "pollutants": [
              {
                "type": "NO2",
                "name": "Nitrogen Dioxide",
                "index": 6.4,
                "globalIndex": 25.4,
                "concentration": {
                  "value": 12.7,
                  "unit": "µg/m³",
                  "unitType": 31
                }
              },
              {
                "type": "O3",
                "name": "Ozone",
                "index": 26.2,
                "globalIndex": 37.9,
                "concentration": {
                  "value": 83.9,
                  "unit": "µg/m³",
                  "unitType": 31
                }
              },
              {
                "type": "PM10",
                "name": "Particulate Matter 10",
                "index": 30.4,
               [...]
