{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/weather/currentConditions/json?api-version=1.1&query=25.0338053%2C121.5640089&details=true&language=en-US",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "results": [
          {
            "dateTime": "2024-09-17T22:12:00+08:00",
            "phrase": "Overcast",
            "iconCode": 7,
            "hasPrecipitation": false,
            "isDayTime": false,
            "temperature": {
              "value": 27.8,
              "unit": "C",
              "unitType": 17
            },
            "realFeelTemperature": {
              "value": 31.8,
              "unit": "C",
              "unitType": 17
            },
            "realFeelTemperatureShade": {
              "value": 31.8,
              "unit": "C",
              "unitType": 17
            },
            "relativeHumidity": 83,
            "dewPoint": {
              "value": 25.0,
              "unit": "C",
              "unitType": 17
            },
            "wind": {
              "direction": {
                "degrees": 90.0,
                "localizedDescription": "E"
              },
              "speed": {
                "value": 22.2,
                "unit": "km/h",
                "unitType": 7
              }
            },
            "windGust": {
              "speed": {
                "value": 22.2,
                "unit": "km/h",
                "unitType": 7
              }
            },
            "uvIndex": 0,
            "uvIndexPhrase": "Low",
            "visibility": {
              "value": 16.1,
              "unit": "km",
              "unitType": 6
            },
            "obstructionsToVisibility": "W",
            "cloudCover": 91,
            "ceiling": {
              "value": 12192.0,
              "unit": "m",
              "unitType": 5
            },
            "pressure": {
              "value": 1007.0,
              "unit": "mb",
              "unitType": 14
            },
            "pressureTendency": {
              "localizedDescription": "Steady",
              "code": "S"
            },
            "past24HourTemperatureDeparture": {
              "value": -1.1,
              "unit": "C",
              "unitType": 17
            },
            "apparentTemperature": {
              "value": 32.2,
              "unit": "C",
              "unitType": 17
            },
            "windChillTemperature": {
              "value": 27.8,
              "unit": "C",
              "unitType": 17
            },
            "wetBulbTemperature": {
              "value": 25.8,
              "unit": "C",
              "unitType": 17
            },
            "precipitationSummary": {
              "pastHour": {
                "value": 0.3,
                "unit": "mm",
                "unitType": 3
              },
              "past3Hours": {
                "value": 0.3,
                "unit": "mm",
                "unitType": 3
              },
              "past6Hours": {
                "value": 0.3,
                "unit": "mm",
                "unitType": 3
              },
              "past9Hours": {
                "value": 0.3,
                "unit": "mm",
                "unitType": 3
              },
              "past12Hours": {
                "value": 0.3,
                "unit": "mm",
                "unitType": 3
              },
              "past18Hours": {
                "value": 0.3,
                "unit": "mm",
                "unitType": 3
              },
              "past24Hours": {
                "value": 1.8,
                "unit": "mm",
                "unitType": 3
              }
            },
            "temperatureSummary": {
              "past6Hours": {
                "minimum": {
                  "value": 27.8,
                  "unit": "C",
                  "unitType": 17
                },
                "maximum": {
                  "value": 32.8,
                  "unit": "C",
                  "unitType": 17
                }
              },
              "past12Hours": {
                "minimum": {
                  "value": 27.8,
                  "unit": "C",
                  "unitType": 17
                },
                "maximum": {
                  "value": 35.0,
                  "unit": "C",
                  "unitType": 17
                }
              },
              "past24Hours": {
                "minimum": {
                  "value": 27.2,
                  "unit": "C",
                  "unitType": 17
                },
                "maximum": {
                  "value": 35.0,
                  "unit": "C",
                  "unitType": 17
                }
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895",
    "RandomSeed": "255258772"
  }
}
