{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/weather/airQuality/current/json?api-version=1.1&language=en-US&query=25.0338053%2C121.5640089",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "results": [
          {
            "dateTime": "2024-09-10T09:00:00Z",
            "index": 48.3,
            "globalIndex": 77.2,
            "dominantPollutant": "Particulate Matter 2.5",
            "category": "Poor",
            "categoryColor": "#FDB80D",
            "description": "The air has reached a high level of pollution and is unhealthy for sensitive groups. Reduce time spent outside if you are feeling symptoms such as difficulty breathing or throat irritation.",
            "pollutants": [
              {
                "type": "NO2",
                "name": "Nitrogen Dioxide",
                "index": 5.4,
                "globalIndex": 21.6,
                "concentration": {
                  "value": 10.8,
                  "unit": "µg/m³",
                  "unitType": 31
                }
              },
              {
                "type": "O3",
                "name": "Ozone",
                "index": 34.3,
                "globalIndex": 58.2,
                "concentration": {
                  "value": 109.9,
                  "unit": "µg/m³",
                  "unitType": 31
                }
              },
              {
                "type": "PM10",
                "name": "Particulate Matter 10",
                "index": 48.3,
              [...]
