{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/weather/historical/normals/daily/json?api-version=1.1&query=40.760139%2C-73.961968&startDate=2024-01-01&endDate=2024-01-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "results": [
          {
            "date": "2024-01-01T00:00:00-04:00",
            "temperature": {
              "minimum": {
                "value": -1.2,
                "unit": "C",
                "unitType": 17
              },
              "maximum": {
                "value": 4.8,
                "unit": "C",
                "unitType": 17
              },
              "average": {
                "value": 1.8,
                "unit": "C",
                "unitType": 17
              }
            },
            "degreeDaySummary": {
              "heating": {
                "value": 17.0,
                "unit": "C",
                "unitType": 17
              },
              "cooling": {
                "value": 0.0,
                "unit": "C",
                "unitType": 17
              }
            },
            "precipitation": {
              "value": 3.0,
              "unit": "mm",
              "unitType": 3
            }
          },
          {
            "date": "2024-01-02T00:00:00-04:00",
            "temperature": {
              "minimum": {
                "value": -1.3,
                "unit": "C",
                "unitType": 17
              },
              "maximum": {
                "value": 4.7,
                "unit": "C",
                "unitType": 17
              },
              "average": {
[...]
