{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/weather/forecast/daily/json?api-version=1.1&query=25.0338053%2C121.5640089&language=en-US",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "startDate": "2024-09-18T01:00:00+08:00",
          "endDate": "2024-09-20T01:00:00+08:00",
          "severity": 3,
          "phrase": "Thunderstorms in the area late Tuesday night through Thursday evening",
          "category": "thunderstorm"
        },
        "forecasts": [
          {
            "date": "2024-09-17T07:00:00+08:00",
            "temperature": {
              "minimum": {
                "value": 26.9,
                "unit": "C",
                "unitType": 17
              },
              "maximum": {
                "value": 35.0,
                "unit": "C",
                "unitType": 17
              }
            },
            "realFeelTemperature": {
              "minimum": {
                "value": 29.1,
                "unit": "C",
                "unitType": 17
              },
              "maximum": {
                "value": 40.8,
                "unit": "C",
                "unitType": 17
              }
            },
            "realFeelTemperatureShade": {
              "minimum": {
                "value": 29.1,
                "unit": "C",
                "unitType": 17
              },
              "maximum": {
                "value": 38.7,
                "unit": "C",
                "unitType": 17
              }
            },
            "hoursOfSun": 7.4,
            "degreeDaySummary": {
              "heating": {
                "value": 0.0,
                "unit": "C",
                "unitType": 17
              },
              "cooling": {
                "value": 13.0,
                "unit": "C",
                "unitType": 17
              }
            },
            "airAndPollen": [
              {
                "name": "AirQuality",
                "value": 0,
                "category": "Good",
                "categoryValue": 1,
                "type": "Ozone"
              },
              {
                "name": "Grass",
                "value": 0,
                "category": "Low",
                "categoryValue": 1
              },
              {
                "name": "Mold",
                "value": 0,
                "category": "Low",
                "categoryValue": 1
              },
              {
                "name": "Ragweed",
                "value": 0,
                "category": "Low",
                "categoryValue": 1
              },
              {
                "name": "Tree",
                "value": 0,
                "category": "Low",
                "categoryValue": 1
              },
              {
                "name": "UVIndex",
                "value": 9,
                "category": "Very High",
                "categoryValue": 4
              }
            ],
            "day": {
              "iconCode": 3,
              "iconPhrase": "Partly sunny",
              "localSource": {
                "id": 7,
                "name": "Huafeng",
                "weatherCode": "01"
              },
              "hasPrecipitation": false,
              "shortPhrase": "Becoming windier and humid",
              "longPhrase": "Partly sunny, becoming windier and humid",
              "precipitationProbability": 25,
              "thunderstormProbability": 6,
              "rainProbability": 25,
              "snowProbability": 0,
              "iceProbability": 0,
              "wind": {
                "direction": {
                  "degrees": 92.0,
                  "localizedDescription": "E"
                },
                "speed": {
                  "value": 29.6,
                  "unit": "km/h",
                  "unitType": 7
                }
              },
              "windGust": {
                "direction": {
                  "degrees": 90.0,
                  "localizedDescription": "E"
                },
                "speed": {
                  "value": 53.7,
                  "unit": "km/h",
                  "unitType": 7
                }
              },
              "totalLiquid": {
                "value": 0.0,
                "unit": "mm",
                "unitType": 3
              },
              "rain": {
                "value": 0.0,
                "unit": "mm",
                "unitType": 3
              },
              "snow": {
                "value": 0.0,
                "unit": "cm",
                "unitType": 4
              },
              "ice": {
                "value": 0.0,
                "unit": "mm",
                "unitType": 3
              },
              "hoursOfPrecipitation": 0.0,
              "hoursOfRain": 0.0,
              "hoursOfSnow": 0.0,
              "hoursOfIce": 0.0,
              "cloudCover": 39
            },
            "night": {
              "iconCode": 42,
              "iconPhrase": "Mostly cloudy w/ t-storms",
              "localSource": {
                "id": 7,
                "name": "Huafeng",
                "weatherCode": "04"
              },
              "hasPrecipitation": true,
              "precipitationType": "Rain",
              "precipitationIntensity": "Light",
              "shortPhrase": "Thunderstorms late",
              "longPhrase": "Mostly cloudy and very warm; breezy with a couple of brief showers late this evening followed by late-night showers and thunderstorms",
              "precipitationProbability": 100,
              "thunderstormProbability": 40,
              "rainProbability": 100,
              "snowProbability": 0,
              "iceProbability": 0,
              "wind": {
                "direction": {
                  [...]
