{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/weather/forecast/hourly/json?api-version=1.1&query=25.0338053%2C121.5640089&language=en-US",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "forecasts": [
          {
            "date": "2024-09-17T18:00:00+08:00",
            "iconCode": 39,
            "iconPhrase": "Partly cloudy w/ showers",
            "hasPrecipitation": true,
            "precipitationType": "Rain",
            "precipitationIntensity": "Light",
            "isDaylight": false,
            "temperature": {
              "value": 32.0,
              "unit": "C",
              "unitType": 17
            },
            "realFeelTemperature": {
              "value": 34.4,
              "unit": "C",
              "unitType": 17
            },
            "wetBulbTemperature": {
              "value": 26.9,
              "unit": "C",
              "unitType": 17
            },
            "dewPoint": {
              "value": 24.8,
              "unit": "C",
              "unitType": 17
            },
            "wind": {
              "direction": {
                "degrees": 90.0,
                "localizedDescription": "E"
              },
              "speed": {
                "value": 25.9,
                "unit": "km/h",
                "unitType": 7
              }
            },
            "windGust": {
              "speed": {
                "value": 38.9,
                "unit": "km/h",
                "unitType": 7
              }
            },
            "relativeHumidity": 65,
            "visibility": {
              "value": 16.1,
              "unit": "km",
              "unitType": 6
            },
            "cloudCover": 19,
            "ceiling": {
              "value": 9144.0,
              "unit": "m",
              "unitType": 5
            },
            "uvIndex": 0,
            "uvIndexPhrase": "Low",
            "precipitationProbability": 51,
            "rainProbability": 51,
            "snowProbability": 0,
            "iceProbability": 0,
            "totalLiquid": {
              "value": 0.4,
              "unit": "mm",
              "unitType": 3
            },
            "rain": {
              "value": 0.4,
              "unit": "mm",
              "unitType": 3
            },
            "snow": {
              "value": 0.0,
              "unit": "cm",
              "unitType": 4
            },
            "ice": {
              "value": 0.0,
              "unit": "mm",
              "unitType": 3
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895",
    "RandomSeed": "1479376098"
  }
}
