{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/weather/forecast/quarterDay/json?api-version=1.1&query=25.0338053%2C121.5640089&language=en-US",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "forecasts": [
          {
            "date": "2024-09-24T00:00:00+00:00",
            "effectiveDate": "2024-09-24T07:00:00+08:00",
            "quarter": 0,
            "iconCode": 7,
            "iconPhrase": "Cloudy",
            "phrase": "Cloudy and humid",
            "temperature": {
              "minimum": {
                "value": 26.1,
                "unit": "C",
                "unitType": 17
              },
              "maximum": {
                "value": 32.2,
                "unit": "C",
                "unitType": 17
              },
              "average": {
                "value": 29.2,
                "unit": "C",
                "unitType": 17
              }
            },
            "realFeelTemperature": {
              "minimum": {
                "value": 32.7,
                "unit": "C",
                "unitType": 17
              },
              "maximum": {
                "value": 38.9,
                "unit": "C",
                "unitType": 17
              },
              "average": {
                "value": 35.8,
                "unit": "C",
                "unitType": 17
              }
            },
            "dewPoint": {
              "value": 25.9,
              "unit": "C",
              "unitType": 17
            },
            "relativeHumidity": 79,
            "wind": {
              "direction": {
                "degrees": 141.0,
                "localizedDescription": "SE"
              },
              "speed": {
                "value": 7.4,
                "unit": "km/h",
                "unitType": 7
              }
            },
            "windGust": {
              "direction": {
                "degrees": 290.0,
                "localizedDescription": "WNW"
              },
              "speed": {
                "value": 24.1,
                "unit": "km/h",
                "unitType": 7
              }
            },
            "visibility": {
              "value": 10.0,
              "unit": "km",
              "unitType": 6
            },
            "cloudCover": 95,
            "hasPrecipitation": false,
            "precipitationProbability": 25,
            "thunderstormProbability": 6,
            "totalLiquid": {
              "value": 0.0,
              "unit": "mm",
              "unitType": 3
            },
            "rain": {
              "value": 0.0,
              "unit": "mm",
              "unitType": 3
            },
            "snow": {
              "value": 0.0,
              "unit": "cm",
              "unitType": 4
            },
            "ice": {
              "value": 0.0,
              "unit": "mm",
              "unitType": 3
            }
          },
          {
            "date": "2024-09-24T00:00:00+00:00",
            "effectiveDate": "2024-09-24T13:00:00+08:00",
            "quarter": 1,
            "iconCode": 12,
            "iconPhrase": "Showers",
            "phrase": "Cloudy and humid with showers",
            "temperature": {
              "minimum": {
                "value": 27.9,
                "unit": "C",
     [...]
