{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/weather/tropical/storms/json?api-version=1.1&year=2021&basinId=NP&govId=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "results": [
          {
            "year": "2021",
            "basinId": "NP",
            "govId": 2,
            "name": "SURIGAE",
            "isActive": false,
            "isRetired": false,
            "isSubtropical": false
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895",
    "RandomSeed": "721576115"
  }
}
