{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/weather/route/json?api-version=1.1&query=25.033075%2C121.525694%2C0%2C0%3A25.0338053%2C121.5640089%2C0%2C2&language=en-US",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "iconCode": 3,
          "hazards": {
            "maxHazardIndex": 0
          }
        },
        "waypoints": [
          {
            "iconCode": 6,
            "shortPhrase": "Mostly cloudy",
            "isDayTime": true,
            "cloudCover": 52,
            "temperature": {
              "value": 31.0,
              "unit": "C",
              "unitType": 17
            },
            "wind": {
              "direction": {
                "degrees": 93.0
              },
              "speed": {
                "value": 29.0,
                "unit": "km/h",
                "unitType": 7
              }
            },
            "windGust": {
              "speed": {
                "value": 44.0,
                "unit": "km/h",
                "unitType": 7
              }
            },
            "precipitation": {
              "dbz": 0.0,
              "type": "RAIN"
            },
            "lightningCount": 0,
            "sunGlare": {
              "glareIndex": 0
            },
            "hazards": {
              "maxHazardIndex": 0
            },
            "notifications": []
          },
          {
            "iconCode": 3,
            "shortPhrase": "Partly sunny",
            "isDayTime": true,
            "cloudCover": 49,
            "temperature": {
              "value": 30.9,
              "unit": "C",
              "unitType": 17
            },
            "wind": {
              "direction": {
                "degrees": 93.0
              },
              "speed": {
                "value": 29.0,
                "unit": "km/h",
                "unitType": 7
              }
            },
            "windGust": {
              "speed": {
                "value": 43.0,
                "unit": "km/h",
                "unitType": 7
              }
            },
            "precipitation": {
              "dbz": 0.0,
              "type": "RAIN"
            },
            "lightningCount": 0,
            "sunGlare": {
              "glareIndex": 0
            },
            "hazards": {
              "maxHazardIndex": 0
            },
            "notifications": []
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZMAPS_CLIENT_ID": "c1ff8fb7-7051-4b5f-8ee7-848e1bfa8895",
    "RandomSeed": "432136667"
  }
}
