{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "22",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9ac1a1a2-d204-4105-bc09-d0ee07aa2ec4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.419"
      },
      "ResponseBody": {
        "id": "thread_N8IgeY4DKg76aujIfvHzNdde",
        "object": "thread",
        "created_at": 1747439243,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_N8IgeY4DKg76aujIfvHzNdde?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "100",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "79766062-2e5a-4f61-8b45-af272ed1d573",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.499"
      },
      "ResponseBody": {
        "id": "thread_N8IgeY4DKg76aujIfvHzNdde",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
