{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "116",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0a42a29d-85a3-4b3a-92b8-f0fd10ed0642",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.742"
      },
      "ResponseBody": {
        "id": "thread_cOsicPPipVokNBDWVxdp14uN",
        "object": "thread",
        "created_at": 1746139839,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_cOsicPPipVokNBDWVxdp14uN?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "137",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "af37f04d-0b1b-4e12-896a-509d2d925b2b",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.301"
      },
      "ResponseBody": {
        "id": "thread_cOsicPPipVokNBDWVxdp14uN",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
