{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "21",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c631c4be-1665-4af7-befe-1eed1e46a8c1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.303"
      },
      "ResponseBody": {
        "id": "thread_2uhNPndPx6UUuc6r5cUa34gq",
        "object": "thread",
        "created_at": 1747428535,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_2uhNPndPx6UUuc6r5cUa34gq?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "49",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "90ad01c0-4647-4bbf-8b6c-521c549a2ad0",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.296"
      },
      "ResponseBody": {
        "id": "thread_2uhNPndPx6UUuc6r5cUa34gq",
        "object": "thread",
        "created_at": 1747428535,
        "metadata": {
          "key": "value"
        },
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_2uhNPndPx6UUuc6r5cUa34gq?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "102",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "30c86442-4a00-439f-99ea-fc51965a1fdb",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.431"
      },
      "ResponseBody": {
        "id": "thread_2uhNPndPx6UUuc6r5cUa34gq",
        "object": "thread",
        "created_at": 1747428535,
        "metadata": {
          "key": "value"
        },
        "tool_resources": {
          "code_interpreter": {
            "file_ids": []
          },
          "azure_ai_search": {
            "indexes": []
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_2uhNPndPx6UUuc6r5cUa34gq?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "79",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "739062b7-0327-4680-8cd8-be938d25c522",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.371"
      },
      "ResponseBody": {
        "id": "thread_2uhNPndPx6UUuc6r5cUa34gq",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
