{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "76",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2fe7cff7-ca56-41a3-b025-9ef0be4a086b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.195"
      },
      "ResponseBody": {
        "id": "thread_dIHmuMK5icD4Ndck7MeROjHi",
        "object": "thread",
        "created_at": 1746663583,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_dIHmuMK5icD4Ndck7MeROjHi?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "111",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ef766684-7900-4564-ba19-9eb13870bff3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.233"
      },
      "ResponseBody": {
        "id": "thread_dIHmuMK5icD4Ndck7MeROjHi",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
