{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "84",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7124133c-61f9-4054-9076-fca6e788bd97",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.416"
      },
      "ResponseBody": {
        "id": "thread_HyXntPgnnq1nvXBVuIqvNxE8",
        "object": "thread",
        "created_at": 1748886935,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_HyXntPgnnq1nvXBVuIqvNxE8?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "78",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "21bba282-5f86-471b-86fb-b65b9f743be2",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.231"
      },
      "ResponseBody": {
        "id": "thread_HyXntPgnnq1nvXBVuIqvNxE8",
        "object": "thread",
        "created_at": 1748886935,
        "metadata": {},
        "tool_resources": {
          "code_interpreter": {
            "file_ids": []
          },
          "azure_ai_search": {
            "indexes": []
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_HyXntPgnnq1nvXBVuIqvNxE8?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "92",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "36254f38-15f4-46cc-a41c-69965cd7fa27",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.259"
      },
      "ResponseBody": {
        "id": "thread_HyXntPgnnq1nvXBVuIqvNxE8",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
