{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "106",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a1a0e00c-689e-4509-80ab-3f139c5a65cc",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.428"
      },
      "ResponseBody": {
        "id": "thread_E8ewo43P6qYHbMPRPnTLgxIU",
        "object": "thread",
        "created_at": 1747768488,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_E8ewo43P6qYHbMPRPnTLgxIU?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "76",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "763629f9-95cb-443c-8833-ed4daa14686e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.389"
      },
      "ResponseBody": {
        "id": "thread_E8ewo43P6qYHbMPRPnTLgxIU",
        "object": "thread",
        "created_at": 1747768488,
        "metadata": {},
        "tool_resources": {
          "code_interpreter": {
            "file_ids": []
          },
          "azure_ai_search": {
            "indexes": []
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_E8ewo43P6qYHbMPRPnTLgxIU?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "162",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ea08c104-4cb8-4881-92c3-b3d132192eed",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.497"
      },
      "ResponseBody": {
        "id": "thread_E8ewo43P6qYHbMPRPnTLgxIU",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
