{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "66",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d0f5b8e4-3b3d-4c78-8c41-4232b5be2f28",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.265"
      },
      "ResponseBody": {
        "id": "thread_P4vvkTjttrYV2AHtf7jSHzGB",
        "object": "thread",
        "created_at": 1747727711,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_P4vvkTjttrYV2AHtf7jSHzGB?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "190",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fb7552db-67c4-4596-a7ea-3c9155a884bc",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.803"
      },
      "ResponseBody": {
        "id": "thread_P4vvkTjttrYV2AHtf7jSHzGB",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
