{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "83",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c5db2202-cfa7-4722-9471-9e13889d017f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.365"
      },
      "ResponseBody": {
        "id": "thread_cXm3DXeuN1YLkvFT4XRISB6h",
        "object": "thread",
        "created_at": 1748886947,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_cXm3DXeuN1YLkvFT4XRISB6h?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "86",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3bf24916-a56b-421a-bdaf-9fb1b4e4a901",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.380"
      },
      "ResponseBody": {
        "id": "thread_cXm3DXeuN1YLkvFT4XRISB6h",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
