{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG?api-version=2023-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "networkAcls": {
            "ipRules": [
              {
                "ipMask": "185.48.100.00/24",
                "rights": [
                  "Manage",
                  "Send",
                  "Listen"
                ]
              }
            ],
            "publicNetworkRule": {
              "rights": [
                "Listen"
              ]
            }
          },
          "zoneRedundancy": "Enabled"
        },
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/operations/Q3JlYXRlTmFtZXNwYWNlLTJjZDYxN2VhLTE4NjYtNDZiMS05MGUzLWZmZmIwODdlYmY5Yi1uYW1lc3BhY0NvbTNoRztuaHByb2RibHoyMTkwMS1mYWJyaWM=?api-version=2023-10-01-preview\u0026t=638451369346161208\u0026c=MIIHADCCBeigAwIBAgITHgPpxUXboRMa1MKXpgAAA-nFRTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwF[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/operations/Q3JlYXRlTmFtZXNwYWNlLTJjZDYxN2VhLTE4NjYtNDZiMS05MGUzLWZmZmIwODdlYmY5Yi1uYW1lc3BhY0NvbTNoRztuaHByb2RibHoyMTkwMS1mYWJyaWM=?api-version=2023-10-01-preview\u0026t=638451369346161208\u0026c=MIIHADCCBeigAwIBAgITHgPpxUXboRMa1MKXpgAAA-nFRTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYK[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "name": "namespacCom3hG",
          "provisioningState": "Succeeded",
          "status": "Created",
          "enabled": true,
          "critical": false,
          "subscriptionId": "00000000-0000-0000-0000-000000000000",
          "createdAt": "2024-03-04T08:15:30.02\u002B00:00",
          "updatedAt": "2024-03-04T08:15:30.037\u002B00:00",
          "namespaceType": "NotificationHub",
          "zoneRedundancy": "Enabled",
          "networkAcls": {
            "ipRules": [
              {
                "ipMask": "185.48.100.00/24",
                "rights": [
                  "Manage",
                  "Send",
                  "Listen"
                ]
              }
            ],
            "publicNetworkRule": {
              "rights": [
                "Listen"
              ]
            }
          },
          "serviceBusEndpoint": "https://namespacCom3hG.servicebus.windows.net:443/",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled"
        },
        "location": "East US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG",
        "name": "namespacCom3hG",
        "type": "Microsoft.NotificationHubs/namespaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/notificationHubs/notificaPQAJ2a?api-version=2023-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "properties": {
          "name": "notificaPQAJ2a",
          "registrationTtl": "10675199.02:48:05.4775807",
          "dailyMaxActiveDevices": 0
        },
        "location": "East US",
        "tags": {},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/notificationHubs/notificaPQAJ2a",
        "name": "notificaPQAJ2a",
        "type": "Microsoft.NotificationHubs/namespaces/notificationHubs"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NotificationHubs/namespaces?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard"
            },
            "properties": {
              "name": "namespacCom3hG",
              "provisioningState": "Succeeded",
              "status": "Created",
              "enabled": true,
              "critical": false,
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "createdAt": "2024-03-04T08:15:30.02\u002B00:00",
              "updatedAt": "2024-03-04T08:15:30.037\u002B00:00",
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NotificationHubs/checkNamespaceAvailability?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "sdk-Namespace-2924"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "isAvailiable": true,
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NotificationHubs/namespaces/sdk-Namespace-2924",
        "name": "sdk-Namespace-2924",
        "type": "Microsoft.NotificationHubs/namespaces/checkNamespaceAvailability"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/pnsCredentials?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "properties": {},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/pnsCredentials",
        "name": "namespacCom3hG",
        "type": "Microsoft.NotificationHubs/namespaces/pnsCredentials"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/authorizationRules/authorizt0TTd7?api-version=2023-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ],
          "modifiedTime": "2024-03-04T08:16:03.10993\u002B00:00",
          "createdTime": "2024-03-04T08:16:03.10993\u002B00:00"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/authorizationRules/authorizt0TTd7",
        "name": "authorizt0TTd7",
        "type": "Microsoft.NotificationHubs/namespaces/authorizationRules"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/authorizationRules?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/authorizationRules/authorizt0TTd7/regenerateKeys?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policyKey": "PrimaryKey"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://namespacCom3hG.servicebus.windows.net/;SharedAccessKeyName=authorizt0TTd7;SharedAccessKey=",
        "secondaryConnectionString": "Endpoint=sb://namespacCom3hG.servicebus.windows.net/;SharedAccessKeyName=authorizt0TTd7;SharedAccessKey=",
        "primaryKey": "",
        "secondaryKey": "",
        "keyName": "authorizt0TTd7"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/authorizationRules/authorizt0TTd7/listKeys?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://namespacCom3hG.servicebus.windows.net/;SharedAccessKeyName=authorizt0TTd7;SharedAccessKey=",
        "secondaryConnectionString": "Endpoint=sb://namespacCom3hG.servicebus.windows.net/;SharedAccessKeyName=authorizt0TTd7;SharedAccessKey=",
        "primaryKey": "",
        "secondaryKey": "",
        "keyName": "authorizt0TTd7"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/notificationHubs?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "name": "notificaPQAJ2a",
              "registrationTtl": "10675199.02:48:05.4775807",
              "dailyMaxActiveDevices": 0
            },
            "location": "East US",
            "tags": {},
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/notificationHubs/notificaPQAJ2a",
            "name": "notificaPQAJ2a",
            "type": "Microsoft.NotificationHubs/namespaces/notificationHubs"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/notificationHubs/notificaPQAJ2a/pnsCredentials?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "properties": {},
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/notificationHubs/notificaPQAJ2a/pnsCredentials",
        "name": "notificaPQAJ2a",
        "type": "Microsoft.NotificationHubs/namespaces/notificationHubs/pnsCredentials"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/checkNotificationHubAvailability?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West Europe",
        "name": "sdktest"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "isAvailiable": true,
        "location": "East US",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/notificationHubs/sdktest",
        "name": "sdktest",
        "type": "Microsoft.NotificationHubs/namespaces/checkNamespaceAvailability"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/notificationHubs/notificaPQAJ2a/authorizationRules/authorizt0TTd7?api-version=2023-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
        [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/notificationHubs/notificaPQAJ2a/authorizationRules?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/notificationHubs/notificaPQAJ2a/authorizationRules/authorizt0TTd7/regenerateKeys?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policyKey": "PrimaryKey"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://namespacCom3hG.servicebus.windows.net/;SharedAccessKeyName=authorizt0TTd7;SharedAccessKey=",
        "secondaryConnectionString": "Endpoint=sb://namespacCom3hG.servicebus.windows.net/;SharedAccessKeyName=authorizt0TTd7;SharedAccessKey=",
        "primaryKey": "",
        "secondaryKey": "",
        "keyName": "authorizt0TTd7"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG/notificationHubs/notificaPQAJ2a/authorizationRules/authorizt0TTd7/listKeys?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://namespacCom3hG.servicebus.windows.net/;SharedAccessKeyName=authorizt0TTd7;SharedAccessKey=",
        "secondaryConnectionString": "Endpoint=sb://namespacCom3hG.servicebus.windows.net/;SharedAccessKeyName=authorizt0TTd7;SharedAccessKey=",
        "primaryKey": "",
        "secondaryKey": "",
        "keyName": "authorizt0TTd7"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.NotificationHubs/operations?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.NotificationHubs/resourceTypes/read",
            "display": {
              "provider": "Microsoft Azure Notification Hub",
              "resource": "Microsoft Azure Notification Hub",
              "operation": "Gets resource types for Notification Hubs",
              "description": "Gets a list of the resource types for Notification Hubs"
            }
          },
          {
            "name": "Microsoft.NotificationHubs/register/action",
            "display": {
              "provider": "Microsoft Azure Notification Hub",
              "resource": "Microsoft Azure Notification Hub",
              "operation": "Registers the NotificationHubs Provider",
              "description": "Registers the subscription for the NotifciationHubs resource provider and enables the c[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "location": {
                "defaultValue": "eastus",
                "type": "string"
              },
              "networkInterfaceName": {
                "defaultValue": "eepnotificationhubs-nic",
                "type": "string"
              },
              "notificationhubsId": {
                "defaultValue": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.NotificationHubs/namespaces/namespacCom3hG",
                "type": "string"
              },
              "privateEndpointName": {
                "defaultValue": "epnotificationhubs",
                "type": "string"
              },
              "virtualNetworksName": {
                "defaultValue": "epnotificationhubsvnet",
                "type": "string"
              }
            },
            "resources": [
              {
                "apiVersion": "2020-11-01",
                "location": "[parameters(\u0027location\u0027)]",
                "name": "[parameters(\u0027virtualNetworksName\u0027)]",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "10.0.0.0/16"
                    ]
                  },
                  "enableDdosProtection": false,
                  "subnets": [
                    {
                      "name": "default",
                      "properties": {
                        "addressPrefix": "10.0.0.0/24",
                        "delegations": [],
                        "privateEndpointNetworkPolicies": "Disabled",
                        "privateLinkServiceNetworkPolicies": "Enabled"
                      }
                    }
                  ],
                  "virtualNetworkPeerings": []
                },
                "type": "Microsoft.Network/virtualNetworks"
              },
              {
                "apiVersion": "2020-11-01",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027virtualNetworksName\u0027), \u0027default\u0027)]"
                ],
                "location": "[parameters(\u0027location\u0027)]",
                "name": "[parameters(\u0027networkInterfaceName\u0027)]",
                "properties": {
                  "dnsSettings": {
                    "dnsServers": []
                  },
                  "enableIPForwarding": false,
                  "ipConfigurations": [
                    {
                      "name": "privateEndpointIpConfig",
                      "properties": {
                        "primary": true,
                        "privateIPAddress": "10.0.0.4",
                        "privateIPAddressVersion": "IPv4",
                        "privateIPAllocationMethod": "Dynamic",
                        "subnet": {
                          "id": "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027virtualNetworksName\u0027), \u0027default\u0027)]"
                        }
                      }
                    }
                  ]
                },
                "type": "Microsoft.Network/networkInterfaces"
              },
              {
                "apiVersion": "2020-11-01",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027virtualNetworksName\u0027), \u0027default\u0027)]"
                ],
                "location": "[parameters(\u0027location\u0027)]",
                "name": "[parameters(\u0027privateEndpointName\u0027)]",
                "properties": {
                  "customDnsConfigs": [],
                  "manualPrivateLinkServiceConnections": [],
                  "privateLinkServiceConnections": [
                    {
                      "name": "[parameters(\u0027privateEndpointName\u0027)]",
                      "properties": {
                        "groupIds": [
                          "namespace"
                        ],
                        "privateLinkServiceConnectionState": {
                          "actionsRequired": "None",
                          "description": "Auto-Approved",
                          "status": "Approved"
                        },
                        "privateLinkServiceId": "[parameters(\u0027notificationhubsId\u0027)]"
                      }
                    }
                  ],
                  "subnet": {
                    "id": "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027virtualNetworksName\u0027), \u0027default\u0027)]"
                  }
                },
                "type": "Microsoft.Network/privateEndpoints"
              },
              {
[...]
