{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare9c9270a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 06 Mar 2025 08:12:42 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5C86AF66AE96\"",
        "Last-Modified": "Thu, 06 Mar 2025 08:12:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare9c9270a/directory9c9270a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 06 Mar 2025 08:12:49 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5C86AF9E3155\"",
        "Last-Modified": "Thu, 06 Mar 2025 08:12:49 GMT",
        "x-ms-file-change-time": "2025-03-06T08:12:49.8231637Z",
        "x-ms-file-creation-time": "2025-03-06T08:12:49.8231637Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-06T08:12:49.8231637Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare9c9270a/directory9c9270a/file19c9270a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 06 Mar 2025 08:12:49 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5C86AFD2C1B9\"",
        "Last-Modified": "Thu, 06 Mar 2025 08:12:50 GMT",
        "x-ms-file-change-time": "2025-03-06T08:12:50.1676473Z",
        "x-ms-file-creation-time": "2025-03-06T08:12:50.1676473Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-06T08:12:50.1676473Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare9c9270a/directory9c9270a/file29c9270a?restype=hardlink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 06 Mar 2025 08:12:50 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-file-target-file": "directory9c9270a/file19c9270a",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5C86B0079FE6\"",
        "Last-Modified": "Thu, 06 Mar 2025 08:12:50 GMT",
        "x-ms-file-change-time": "2025-03-06T08:12:50.5141222Z",
        "x-ms-file-creation-time": "2025-03-06T08:12:50.1676473Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-06T08:12:50.1676473Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-link-count": "2",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
