{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share42c3bfe?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:40:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15EAC7180FCE\"",
        "Last-Modified": "Fri, 06 Dec 2024 11:40:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share42c3bfe?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:40:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ShareAlreadyExists",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareAlreadyExists</Code><Message>The specified share already exists.\n",
        "RequestId:42a9f059-101a-0064-4fd3-479571000000\n",
        "Time:2024-12-06T11:40:26.5530395Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/?comp=list&include=snapshots",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:40:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share42c3bfe</Name><Properties><Last-Modified>Fri, 06 Dec 2024 11:40:26 GMT</Last-Modified><Etag>\"0x8DD15EAC7180FCE\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri, 06 Dec 2024 11:40:26 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>test1296d32cb</Name><Properties><Last-Modified>Fri, 06 Dec 2024 11:39:27 GMT</Last-Modified><Etag>\"0x8DD15EAA4232D0B\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri, 06 Dec 2024 11:39:27 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>test14c92c18</Name><Properties><Last-Modified>Fri, 06 Dec 2024 11:10:54 GMT</Last-Modified><Etag>\"0x8DD15E6A6C7B6B8\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseSt[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share42c3bfe?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:40:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/test1296d32cb?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:40:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There is currently a lease on the file share and no lease ID was specified in the request.\n",
        "RequestId:42a9f05d-101a-0064-53d3-479571000000\n",
        "Time:2024-12-06T11:40:27.4826713Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/testff0c2e44?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:40:30 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There is currently a lease on the file share and no lease ID was specified in the request.\n",
        "RequestId:42a9f070-101a-0064-64d3-479571000000\n",
        "Time:2024-12-06T11:40:30.7422188Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
