{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharec0e1322d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 06:17:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15BDA38B45F1\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:17:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharec0e1322d/filec0e1322d.",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 06:17:19 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15BDA3B99B7B\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:17:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T06:17:19.6330875Z",
        "x-ms-file-creation-time": "2024-12-06T06:17:19.6330875Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T06:17:19.6330875Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9541354914390863802*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharec0e1322d/filec0e1322d.?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "spanish",
        "x-ms-date": "Fri, 06 Dec 2024 06:17:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15BDA3E363F7\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:17:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T06:17:19.9069175Z",
        "x-ms-file-creation-time": "2024-12-06T06:17:19.6330875Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T06:17:19.6330875Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9541354914390863802*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharec0e1322d/filec0e1322d.",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Fri, 06 Dec 2024 06:17:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "spanish",
        "ETag": "\"0x8DD15BDA3E363F7\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:17:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T06:17:19.9069175Z",
        "x-ms-file-creation-time": "2024-12-06T06:17:19.6330875Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T06:17:19.6330875Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9541354914390863802*3227211760911779636",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
