{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare73b22f94?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 22 Sep 2025 18:56:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA09CA0E856C\"",
        "Last-Modified": "Mon, 22 Sep 2025 18:56:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare73b22f94/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 22 Sep 2025 18:56:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA09CA1D86DD\"",
        "Last-Modified": "Mon, 22 Sep 2025 18:56:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-22T18:56:50.9060829Z",
        "x-ms-file-creation-time": "2025-09-22T18:56:50.9060829Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-22T18:56:50.9060829Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare73b22f94/dir1?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 22 Sep 2025 18:56:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA09CA1D86DD\"",
        "Last-Modified": "Mon, 22 Sep 2025 18:56:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-22T18:56:50.9060829Z",
        "x-ms-file-creation-time": "2025-09-22T18:56:50.9060829Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-22T18:56:50.9060829Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare73b22f94/dir2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 22 Sep 2025 18:56:50 GMT",
        "x-ms-file-property-semantics": "New",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA09CA31E26F\"",
        "Last-Modified": "Mon, 22 Sep 2025 18:56:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-22T18:56:51.0394991Z",
        "x-ms-file-creation-time": "2025-09-22T18:56:51.0394991Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-22T18:56:51.0394991Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare73b22f94/dir3?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 22 Sep 2025 18:56:50 GMT",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "x-ms-file-property-semantics": "Restore",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA09CA44B911\"",
        "Last-Modified": "Mon, 22 Sep 2025 18:56:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-22T18:56:51.1629585Z",
        "x-ms-file-creation-time": "2025-09-22T18:56:51.1629585Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-09-22T18:56:51.1629585Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4089320212444238414*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare73b22f94/dir3?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 22 Sep 2025 18:56:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFA09CA44B911\"",
        "Last-Modified": "Mon, 22 Sep 2025 18:56:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-22T18:56:51.1629585Z",
        "x-ms-file-creation-time": "2025-09-22T18:56:51.1629585Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-09-22T18:56:51.1629585Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4089320212444238414*11459378189709739967",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
