{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharee2a7298c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 23 Sep 2024 23:45:52 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDC29DCB1918B\"",
        "Last-Modified": "Mon, 23 Sep 2024 23:45:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharee2a7298c/file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 23 Sep 2024 23:45:54 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAAAABQAAAACAFgAAwAAAAAAFAD/AR8AAQEAAAAAAAUSAAAAAAAYAP8BHwABAgAAAAAABSAAAAAgAgAAAAAkAKkAEgABBQAAAAAABRUAAABZUbgXZnJdJWRjOwuMmS4AAQUAAAAAAAUVAAAAoGXPfnhLm1/nfIdwr/1IAQEFAAAAAAAFFQAAAKBlz354S5tf53yHcAECAAA=",
        "x-ms-file-permission-format": "binary",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDC29DD4B3A4E\"",
        "Last-Modified": "Mon, 23 Sep 2024 23:45:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-23T23:45:54.4232526Z",
        "x-ms-file-creation-time": "2024-09-23T23:45:54.4232526Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-23T23:45:54.4232526Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4126688321077241557*15810287295243203168",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharee2a7298c/file1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 23 Sep 2024 23:45:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCDC29DD4B3A4E\"",
        "Last-Modified": "Mon, 23 Sep 2024 23:45:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-23T23:45:54.4232526Z",
        "x-ms-file-creation-time": "2024-09-23T23:45:54.4232526Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-23T23:45:54.4232526Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4126688321077241557*15810287295243203168",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharee2a7298c/file2?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 23 Sep 2024 23:45:54 GMT",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAAAABQAAAACAFgAAwAAAAAAFAD/AR8AAQEAAAAAAAUSAAAAAAAYAP8BHwABAgAAAAAABSAAAAAgAgAAAAAkAKkAEgABBQAAAAAABRUAAABZUbgXZnJdJWRjOwuMmS4AAQUAAAAAAAUVAAAAoGXPfnhLm1/nfIdwr/1IAQEFAAAAAAAFFQAAAKBlz354S5tf53yHcAECAAA=",
        "x-ms-file-permission-format": "binary",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDC29DD650DDB\"",
        "Last-Modified": "Mon, 23 Sep 2024 23:45:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-23T23:45:54.5925083Z",
        "x-ms-file-creation-time": "2024-09-23T23:45:54.4232526Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-23T23:45:54.4232526Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8984294407537026961*15810287295243203168",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharee2a7298c?restype=share&comp=filepermission",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 23 Sep 2024 23:45:54 GMT",
        "x-ms-file-permission-format": "binary",
        "x-ms-file-permission-key": "8984294407537026961*15810287295243203168",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "eyJwZXJtaXNzaW9uIjoiQVFBVWhHd0FBQUNJQUFBQUFBQUFBQlFBQUFBQ0FGZ0FBd0FBQUFBQUZBRC9BUjhBQVFFQUFBQUFBQVVTQUFBQUFBQVlBUDhCSHdBQkFnQUFBQUFBQlNBQUFBQWdBZ0FBQUFBa0FLa0FFZ0FCQlFBQUFBQUFCUlVBQUFCWlViZ1habkpkSldSak93dU1tUzRBQVFVQUFBQUFBQVVWQUFBQW9HWFBmbmhMbTEvbmZJZHdyLzFJQVFFRkFBQUFBQUFGRlFBQUFLQmx6MzU0UzV0ZjUzeUhjQUVDQUFBPSIsImZvcm1hdCI6ImJpbmFyeSJ9"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharee2a7298c/file2?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "spanish",
        "x-ms-date": "Mon, 23 Sep 2024 23:45:54 GMT",
        "x-ms-file-attributes": "preserve",
        "x-ms-file-creation-time": "preserve",
        "x-ms-file-last-write-time": "preserve",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAAAABQAAAACAFgAAwAAAAAAFAD/AR8AAQEAAAAAAAUSAAAAAAAYAP8BHwABAgAAAAAABSAAAAAgAgAAAAAkAKkAEgABBQAAAAAABRUAAABZUbgXZnJdJWRjOwuMmS4AAQUAAAAAAAUVAAAAoGXPfnhLm1/nfIdwr/1IAQEFAAAAAAAFFQAAAKBlz354S5tf53yHcAECAAA=",
        "x-ms-file-permission-format": "binary",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDC29DD8286B2\"",
        "Last-Modified": "Mon, 23 Sep 2024 23:45:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-23T23:45:54.7856562Z",
        "x-ms-file-creation-time": "2024-09-23T23:45:54.4232526Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-23T23:45:54.4232526Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8984294407537026961*15810287295243203168",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharee2a7298c/file2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 23 Sep 2024 23:45:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "spanish",
        "ETag": "\"0x8DCDC29DD8286B2\"",
        "Last-Modified": "Mon, 23 Sep 2024 23:45:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-09-23T23:45:54.7856562Z",
        "x-ms-file-creation-time": "2024-09-23T23:45:54.4232526Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-09-23T23:45:54.4232526Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8984294407537026961*15810287295243203168",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharee2a7298c/filecopy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Mon, 23 Sep 2024 23:45:54 GMT",
        "x-ms-file-permission": "AQAUhGwAAACIAAAAAAAAABQAAAACAFgAAwAAAAAAFAD/AR8AAQEAAAAAAAUSAAAAAAAYAP8BHwABAgAAAAAABSAAAAAgAgAAAAAkAKkAEgABBQAAAAAABRUAAABZUbgXZnJdJWRjOwuMmS4AAQUAAAAAAAUVAAAAoGXPfnhLm1/nfIdwr/1IAQEFAAAAAAAFFQAAAKBlz354S5tf53yHcAECAAA=",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-file-permission-format": "binary",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DCDC29DDA8CF47\"",
        "Last-Modified": "Mon, 23 Sep 2024 23:45:55 GMT",
        "x-ms-copy-id": "1bc63a7c-fed7-4452-a8ce-6cdf8fd09e16",
        "x-ms-copy-status": "success",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharee2a7298c/filecopy",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 23 Sep 2024 23:45:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
