{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/share110236e3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 25 Apr 2024 03:09:33 GMT",
        "x-ms-enable-snapshot-virtual-directory-access": "false",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC64D52209A62D\"",
        "Last-Modified": "Thu, 25 Apr 2024 03:09:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/?comp=list&include=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 25 Apr 2024 03:09:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storagename.file.preprod.core.windows.net/\"><Shares><Share><Name>share110236e3</Name><Properties><Last-Modified>Thu, 25 Apr 2024 03:09:34 GMT</Last-Modified><Etag>\"0x8DC64D52209A62D\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>5120</Quota><EnabledProtocols>NFS</EnabledProtocols><RootSquash>NoRootSquash</RootSquash><EnableSnapshotVirtualDirectoryAccess>false</EnableSnapshotVirtualDirectoryAccess><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Thu, 25 Apr 2024 03:09:34 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/share110236e3?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 25 Apr 2024 03:09:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC64D52209A62D\"",
        "Last-Modified": "Thu, 25 Apr 2024 03:09:34 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Thu, 25 Apr 2024 03:09:34 GMT",
        "x-ms-enable-snapshot-virtual-directory-access": "false",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/?comp=list&include=snapshots",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 25 Apr 2024 03:09:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storagename.file.preprod.core.windows.net/\"><Shares><Share><Name>share110236e3</Name><Properties><Last-Modified>Thu, 25 Apr 2024 03:09:34 GMT</Last-Modified><Etag>\"0x8DC64D52209A62D\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>5120</Quota><EnabledProtocols>NFS</EnabledProtocols><RootSquash>NoRootSquash</RootSquash><EnableSnapshotVirtualDirectoryAccess>false</EnableSnapshotVirtualDirectoryAccess><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Thu, 25 Apr 2024 03:09:34 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/share110236e3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 25 Apr 2024 03:09:34 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
