{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareefb236a1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Sep 2025 18:45:57 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFAD16F0D6E0D\"",
        "Last-Modified": "Tue, 23 Sep 2025 18:45:57 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareefb236a1/dir?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Sep 2025 18:45:57 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFAD16F1A0959\"",
        "Last-Modified": "Tue, 23 Sep 2025 18:45:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-23T18:45:57.5564633Z",
        "x-ms-file-creation-time": "2025-09-23T18:45:57.5564633Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-23T18:45:57.5564633Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4905121398068318397*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareefb236a1/dir/samples_0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "5",
        "x-ms-date": "Tue, 23 Sep 2025 18:45:57 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFAD16F27C2EC\"",
        "Last-Modified": "Tue, 23 Sep 2025 18:45:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-23T18:45:57.6464108Z",
        "x-ms-file-creation-time": "2025-09-23T18:45:57.6464108Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-23T18:45:57.6464108Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9541354914390863802*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareefb236a1/dir/samples_0?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 23 Sep 2025 18:45:57 GMT",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "ZGF0YTE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "idkDvDXe3nJP1SxRQ3/1/Q==",
        "ETag": "\"0x8DDFAD16F35F1A3\"",
        "Last-Modified": "Tue, 23 Sep 2025 18:45:57 GMT",
        "x-ms-file-last-write-time": "2025-09-23T18:45:57.7393571Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareefb236a1/dir/not_0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "5",
        "x-ms-date": "Tue, 23 Sep 2025 18:45:57 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDFAD16F424BDC\"",
        "Last-Modified": "Tue, 23 Sep 2025 18:45:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-23T18:45:57.8203100Z",
        "x-ms-file-creation-time": "2025-09-23T18:45:57.8203100Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-09-23T18:45:57.8203100Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9541354914390863802*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareefb236a1/dir/not_0?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 23 Sep 2025 18:45:57 GMT",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "ZGF0YTI=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "/5zy1pDYiMszf2v0UmthMA==",
        "ETag": "\"0x8DDFAD16F4FB764\"",
        "Last-Modified": "Tue, 23 Sep 2025 18:45:57 GMT",
        "x-ms-file-last-write-time": "2025-09-23T18:45:57.9082596Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareefb236a1/dir?restype=directory&comp=list&prefix=samples_&maxresults=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Sep 2025 18:46:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshareefb236a1\" DirectoryPath=\"dir\"><Prefix>samples_</Prefix><MaxResults>2</MaxResults><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>samples_0</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>samples_1</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>5</Content-Length></Properties></File></Entries><NextMarker>1!12!c2FtcGxlc18y</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareefb236a1/dir?restype=directory&comp=list&prefix=samples_&marker=1!12!c2FtcGxlc18y&maxresults=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Sep 2025 18:46:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshareefb236a1\" DirectoryPath=\"dir\"><Prefix>samples_</Prefix><Marker>1!12!c2FtcGxlc18y</Marker><MaxResults>2</MaxResults><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>samples_2</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>samples_3</Name><FileId>9799903157902376960</FileId><Properties><Content-Length>5</Content-Length></Properties></File></Entries><NextMarker>1!12!c2FtcGxlc180</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareefb236a1/dir?restype=directory&comp=list&prefix=samples_&marker=1!12!c2FtcGxlc180&maxresults=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Sep 2025 18:46:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshareefb236a1\" DirectoryPath=\"dir\"><Prefix>samples_</Prefix><Marker>1!12!c2FtcGxlc180</Marker><MaxResults>2</MaxResults><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>samples_4</Name><FileId>12105746167116070912</FileId><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>samples_5</Name><FileId>10952824662509223936</FileId><Properties><Content-Length>5</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    }
  ],
  "Variables": {}
}
