{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare1db030d7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 06:00:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15BB4902BFAA\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:00:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare1db030d7/file1db030d7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 06:00:28 GMT",
        "x-ms-file-permission": "abcde",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "FileInvalidPermission",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>FileInvalidPermission</Code><Message>The specified file permission is not valid.\n",
        "RequestId:3e53d7a1-201a-0023-10a4-474a1a000000\n",
        "Time:2024-12-06T06:00:28.7311820Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
