{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared2742dca?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Jun 2026 21:29:18 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED16E7B92C576\"",
        "Last-Modified": "Tue, 23 Jun 2026 21:29:18 GMT",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared2742dca/filed2742dca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-date": "Tue, 23 Jun 2026 21:29:19 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED16E7BAF16F5\"",
        "Last-Modified": "Tue, 23 Jun 2026 21:29:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-06-23T21:29:18.4869109Z",
        "x-ms-file-creation-time": "2026-06-23T21:29:18.4869109Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-06-23T21:29:18.4869109Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15545904328285281097*9159985051449635783",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared2742dca?restype=share&comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Jun 2026 21:29:19 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED16E7B92C576\"",
        "Last-Modified": "Tue, 23 Jun 2026 21:29:18 GMT",
        "x-ms-snapshot": "2026-06-23T21:29:18.0000000Z",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared2742dca/filed2742dca?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 23 Jun 2026 21:29:19 GMT",
        "x-ms-range": "bytes=0-1535",
        "x-ms-version": "2026-10-06",
        "x-ms-write": "update"
      },
      "RequestBody": "YWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWF[...]
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared2742dca/filed2742dca?comp=rangelist&prevsharesnapshot=2026-06-23T21:29:18.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Jun 2026 21:29:20 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DED16E7C1E735E\"",
        "Last-Modified": "Tue, 23 Jun 2026 21:29:19 GMT",
        "x-ms-content-length": "2048",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><Range><Start>0</Start><End>511</End></Range><ClearRange><Start>512</Start><End>1023</End></ClearRange><Range><Start>1024</Start><End>1535</End></Range></Ranges>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared2742dca/filed2742dca?comp=rangelist&prevsharesnapshot=2026-06-23T21:29:19.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Jun 2026 21:29:20 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DED16E7C1E735E\"",
        "Last-Modified": "Tue, 23 Jun 2026 21:29:19 GMT",
        "x-ms-content-length": "2048",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><ClearRange><Start>512</Start><End>1023</End></ClearRange></Ranges>"
    }
  ],
  "Variables": {}
}
