{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareb51e28f5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Jan 2026 19:16:35 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5EA1C198C51E\"",
        "Last-Modified": "Wed, 28 Jan 2026 19:16:36 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareb51e28f5/fileb51e28f5file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 28 Jan 2026 19:16:36 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5EA1C1B7B156\"",
        "Last-Modified": "Wed, 28 Jan 2026 19:16:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-28T19:16:36.5975894Z",
        "x-ms-file-creation-time": "2026-01-28T19:16:36.5975894Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-01-28T19:16:36.5975894Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareb51e28f5/fileb51e28f5file1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Jan 2026 19:16:36 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE5EA1C1B7B156\"",
        "Last-Modified": "Wed, 28 Jan 2026 19:16:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-28T19:16:36.5975894Z",
        "x-ms-file-creation-time": "2026-01-28T19:16:36.5975894Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-01-28T19:16:36.5975894Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareb51e28f5/fileb51e28f5file2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 28 Jan 2026 19:16:36 GMT",
        "x-ms-file-property-semantics": "New",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5EA1C1D6D66F\"",
        "Last-Modified": "Wed, 28 Jan 2026 19:16:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-01-28T19:16:36.8017007Z",
        "x-ms-file-creation-time": "2026-01-28T19:16:36.8017007Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-01-28T19:16:36.8017007Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareb51e28f5/fileb51e28f5file2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 28 Jan 2026 19:16:36 GMT",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "x-ms-file-property-semantics": "Restore",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5EA1C1F55FDB\"",
        "Last-Modified": "Wed, 28 Jan 2026 19:16:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2026-01-28T19:16:37.0018267Z",
        "x-ms-file-creation-time": "2026-01-28T19:16:37.0018267Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-01-28T19:16:37.0018267Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4089320212444238414*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareb51e28f5/fileb51e28f5file2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Jan 2026 19:16:37 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE5EA1C1F55FDB\"",
        "Last-Modified": "Wed, 28 Jan 2026 19:16:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2026-01-28T19:16:37.0018267Z",
        "x-ms-file-creation-time": "2026-01-28T19:16:37.0018267Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-01-28T19:16:37.0018267Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4089320212444238414*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
