{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharedf1a2953?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 06:00:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15BB498CAA36\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:00:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharedf1a2953/filedf1a2953",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 06:00:29 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15BB49C8EEA3\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:00:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T06:00:29.7451171Z",
        "x-ms-file-creation-time": "2024-12-06T06:00:29.7451171Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T06:00:29.7451171Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9541354914390863802*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharedf1a2953/filedf1a2953?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 06:00:29 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15BB49C8EEA3\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:00:29 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharedf1a2953/filedf1a2953",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 06:00:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There is currently a lease on the file and no lease ID was specified in the request.\n",
        "RequestId:3e53d7b3-201a-0023-1ba4-474a1a000000\n",
        "Time:2024-12-06T06:00:30.8655955Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharedf1a2953/filedf1a2953",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 06:00:31 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
