{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharef7c62e0e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 06 Mar 2025 08:17:19 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5C8751DFA408\"",
        "Last-Modified": "Thu, 06 Mar 2025 08:17:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharef7c62e0e/directoryf7c62e0e/file2f7c62e0e?restype=hardlink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 06 Mar 2025 08:17:22 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-file-target-file": "directoryf7c62e0e/file1f7c62e0e",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ParentNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ParentNotFound</Code><Message>The specified parent path does not exist.\n",
        "RequestId:e701ae72-801a-0004-3370-8e20fc000000\n",
        "Time:2025-03-06T08:17:24.6731914Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
