{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare4ac33547?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:26:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C7533C64BB\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:26:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare4ac33547/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:26:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C7535EF2EE\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:26:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T07:26:39.7885166Z",
        "x-ms-file-creation-time": "2024-12-06T07:26:39.7885166Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T07:26:39.7885166Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4905121398068318397*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare4ac33547/dir1%2Fsubdir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:26:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C753822CD6\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:26:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T07:26:40.0193750Z",
        "x-ms-file-creation-time": "2024-12-06T07:26:40.0193750Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-06T07:26:40.0193750Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4905121398068318397*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare4ac33547/dir1/file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "5",
        "x-ms-date": "Fri, 06 Dec 2024 07:26:39 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C753C4A9A7\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:26:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T07:26:40.4551079Z",
        "x-ms-file-creation-time": "2024-12-06T07:26:40.4551079Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-12-06T07:26:40.4551079Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9541354914390863802*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare4ac33547/dir1/file1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 07:26:40 GMT",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "ZGF0YTE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "idkDvDXe3nJP1SxRQ3/1/Q==",
        "ETag": "\"0x8DD15C753F6D54E\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:26:40 GMT",
        "x-ms-file-last-write-time": "2024-12-06T07:26:40.7839054Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare4ac33547/dir1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:26:41 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshare4ac33547\" DirectoryPath=\"dir1\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>file1</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file2</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file3</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>subdir2</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>subdir3</Name><FileId>14988049928633188352</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    }
  ],
  "Variables": {}
}
