{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare13f82785?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Jun 2026 17:50:18 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED14FE36A11EA\"",
        "Last-Modified": "Tue, 23 Jun 2026 17:50:18 GMT",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare13f82785/file13f82785",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 23 Jun 2026 17:50:19 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED14FE384BDB2\"",
        "Last-Modified": "Tue, 23 Jun 2026 17:50:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-06-23T17:50:18.2938034Z",
        "x-ms-file-creation-time": "2026-06-23T17:50:18.2938034Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-06-23T17:50:18.2938034Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "15545904328285281097*9159985051449635783",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare13f82785/file13f82785?comp=rangelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Jun 2026 17:50:19 GMT",
        "x-ms-version": "2026-10-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DED14FE384BDB2\"",
        "Last-Modified": "Tue, 23 Jun 2026 17:50:18 GMT",
        "x-ms-content-length": "1024",
        "x-ms-version": "2026-10-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges />"
    }
  ],
  "Variables": {}
}
