{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare264d2e6d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 19 Dec 2024 20:04:38 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD20685F6D12ED\"",
        "Last-Modified": "Thu, 19 Dec 2024 20:04:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare264d2e6d/directory264d2e6d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 19 Dec 2024 20:04:40 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD2068602C1C1E\"",
        "Last-Modified": "Thu, 19 Dec 2024 20:04:41 GMT",
        "x-ms-file-change-time": "2024-12-19T20:04:41.8669598Z",
        "x-ms-file-creation-time": "2024-12-19T20:04:41.8669598Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-19T20:04:41.8669598Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare264d2e6d/directory264d2e6d/file264d2e6d?restype=hardlink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 19 Dec 2024 20:04:41 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-file-target-file": "https://pyacrstoragestorname.file.core.windows.net/utshare264d2e6d/directory264d2e6d/file264d2e6d",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ParentNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ParentNotFound</Code><Message>The specified parent path does not exist.\n",
        "RequestId:1b85da5a-e01a-003f-6951-52feef000000\n",
        "Time:2024-12-19T20:04:42.1534504Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
