{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare267a2e70?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Mar 2025 19:55:45 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD6656DFFFD493\"",
        "Last-Modified": "Tue, 18 Mar 2025 19:55:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare267a2e70/directory267a2e70?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Mar 2025 19:55:46 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD6656E08BA1D0\"",
        "Last-Modified": "Tue, 18 Mar 2025 19:55:47 GMT",
        "x-ms-file-change-time": "2025-03-18T19:55:47.6946384Z",
        "x-ms-file-creation-time": "2025-03-18T19:55:47.6946384Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-18T19:55:47.6946384Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare267a2e70/directory267a2e70/file1267a2e70",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 18 Mar 2025 19:55:47 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD6656E09167B4\"",
        "Last-Modified": "Tue, 18 Mar 2025 19:55:47 GMT",
        "x-ms-file-change-time": "2025-03-18T19:55:47.7324724Z",
        "x-ms-file-creation-time": "2025-03-18T19:55:47.7324724Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-18T19:55:47.7324724Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare267a2e70/directory267a2e70/file2267a2e70?restype=symboliclink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Mar 2025 19:55:47 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-group": "123",
        "x-ms-link-text": "directory267a2e70/file1267a2e70",
        "x-ms-meta": "{'test1': 'foo', 'test2': 'bar'}",
        "x-ms-owner": "345",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD6656E0966B1D\"",
        "Last-Modified": "Tue, 18 Mar 2025 19:55:47 GMT",
        "x-ms-file-change-time": "2025-03-18T19:55:47.7653277Z",
        "x-ms-file-creation-time": "2025-03-18T19:55:47.7653277Z",
        "x-ms-file-file-type": "SymLink",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-03-18T19:55:47.7653277Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "0777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare267a2e70/directory267a2e70/file2267a2e70?restype=symboliclink",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Mar 2025 19:55:47 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD6656E0966B1D\"",
        "Last-Modified": "Tue, 18 Mar 2025 19:55:47 GMT",
        "x-ms-link-text": "directory267a2e70%2Ffile1267a2e70",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
