{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare264d2e6d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 21 Feb 2025 20:03:50 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52B2DD7593DF\"",
        "Last-Modified": "Fri, 21 Feb 2025 20:03:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare264d2e6d/directory264d2e6d/file2264d2e6d?restype=hardlink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 21 Feb 2025 20:03:53 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-file-target-file": "directory264d2e6d/file1264d2e6d",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ParentNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ParentNotFound</Code><Message>The specified parent path does not exist.\n",
        "RequestId:5e0d8863-101a-0016-189b-845b2c000000\n",
        "Time:2025-02-21T20:03:54.3603048Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
