{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare3b563366?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 06:58:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C372B9FE56\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:58:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare3b563366/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 06:58:54 GMT",
        "x-ms-file-attributes": "ReadOnly|Directory",
        "x-ms-file-change-time": "2022-03-10T10:14:30.5000000Z",
        "x-ms-file-creation-time": "2022-03-10T10:14:30.5000000Z",
        "x-ms-file-last-write-time": "2022-03-10T10:14:30.5000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C372DF5D2D\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:58:54 GMT",
        "x-ms-file-attributes": "ReadOnly | Directory",
        "x-ms-file-change-time": "2022-03-10T10:14:30.5000000Z",
        "x-ms-file-creation-time": "2022-03-10T10:14:30.5000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-03-10T10:14:30.5000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4905121398068318397*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare3b563366/dir1?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 06:58:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C372DF5D2D\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:58:54 GMT",
        "x-ms-file-attributes": "ReadOnly | Directory",
        "x-ms-file-change-time": "2022-03-10T10:14:30.5000000Z",
        "x-ms-file-creation-time": "2022-03-10T10:14:30.5000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-03-10T10:14:30.5000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4905121398068318397*3227211760911779636",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
