{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea5233afa?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 31 Jul 2024 19:31:23 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1975C72516A\"",
        "Last-Modified": "Wed, 31 Jul 2024 19:31:22 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea5233afa/filea5233afa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "5",
        "x-ms-date": "Wed, 31 Jul 2024 19:31:23 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB1975C869A33\"",
        "Last-Modified": "Wed, 31 Jul 2024 19:31:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-31T19:31:23.0271027Z",
        "x-ms-file-creation-time": "2024-07-31T19:31:23.0271027Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-31T19:31:23.0271027Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea5233afa/filea5233afa?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 31 Jul 2024 19:31:23 GMT",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "YWJjZGU=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "q1a02StAcTrMWviZhdS3hg==",
        "ETag": "\"0x8DCB1975C91485C\"",
        "Last-Modified": "Wed, 31 Jul 2024 19:31:23 GMT",
        "x-ms-file-last-write-time": "2024-07-31T19:31:23.0970972Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea5233afa/filea5233afa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 31 Jul 2024 19:31:23 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "q1a02StAcTrMWviZhdS3hg==",
        "Content-Range": "bytes 0-4/5",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB1975C91485C\"",
        "Last-Modified": "Wed, 31 Jul 2024 19:31:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-31T19:31:23.0970972Z",
        "x-ms-file-creation-time": "2024-07-31T19:31:23.0271027Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-31T19:31:23.0970972Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11492606657324751524*9028052137389419970",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "YWJjZGU="
    }
  ],
  "Variables": {}
}
