{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare56132efc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 05:36:28 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8990508D68C\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:36:28 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare56132efc/file56132efc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 11 Aug 2025 05:36:28 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8990569282E\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:36:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-11T05:36:28.8852014Z",
        "x-ms-file-creation-time": "2025-08-11T05:36:28.8852014Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-11T05:36:28.8852014Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare56132efc/file56132efc?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 05:36:28 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8990569282E\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:36:28 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare56132efc/file56132efc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 11 Aug 2025 05:36:29 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMismatchWithFileOperation",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMismatchWithFileOperation</Code><Message>The lease ID specified did not match the lease ID for the file.\n",
        "RequestId:b5c6ab6f-d01a-0059-3181-0a2737000000\n",
        "Time:2025-08-11T05:36:29.4171707Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare56132efc/file56132efc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 11 Aug 2025 05:36:29 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-lease-id": "44444444-3333-2222-1111-000000000000",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD89905D113B1\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:36:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-11T05:36:29.5662513Z",
        "x-ms-file-creation-time": "2025-08-11T05:36:29.5662513Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-11T05:36:29.5662513Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
