{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare2262993?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 05:54:26 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD89B87D6125D\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:54:26 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare2262993/directory2262993/file22262993?restype=hardlink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 05:54:26 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-file-target-file": "directory2262993/file12262993",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ParentNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ParentNotFound</Code><Message>The specified parent path does not exist.\n",
        "RequestId:d2968979-201a-0040-1084-0aaac3000000\n",
        "Time:2025-08-11T05:54:26.9751492Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
