{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare48e7394b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:26:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C74520B2B3\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:26:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare48e7394b/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:26:16 GMT",
        "x-ms-meta-test1": "foo",
        "x-ms-meta-test2": "bar",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C74545B71B\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:26:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T07:26:16.1350427Z",
        "x-ms-file-creation-time": "2024-12-06T07:26:16.1350427Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T07:26:16.1350427Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4905121398068318397*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare48e7394b?restype=share&comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:26:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C74520B2B3\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:26:15 GMT",
        "x-ms-snapshot": "2024-12-06T07:26:16.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare48e7394b/dir1?restype=directory&comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:26:16 GMT",
        "x-ms-meta-test100": "foo100",
        "x-ms-meta-test200": "bar200",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C7458F85C3\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:26:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare48e7394b/dir1?restype=directory&sharesnapshot=2024-12-06T07:26:16.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:26:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C74545B71B\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:26:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T07:26:16.1350427Z",
        "x-ms-file-creation-time": "2024-12-06T07:26:16.1350427Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T07:26:16.1350427Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4905121398068318397*3227211760911779636",
        "x-ms-meta-test1": "foo",
        "x-ms-meta-test2": "bar",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
