{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare7b732f45?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 05:54:13 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD89B8028BEB0\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:54:13 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare7b732f45/file7b732f45",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 11 Aug 2025 05:54:13 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-group": "123",
        "x-ms-mode": "7777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD89B80981325\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:54:14 GMT",
        "x-ms-file-change-time": "2025-08-11T05:54:14.5458981Z",
        "x-ms-file-creation-time": "2025-08-11T05:54:14.5458981Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-11T05:54:14.5458981Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "7777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare7b732f45/file7b732f45",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 05:54:14 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DDD89B80981325\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:54:14 GMT",
        "x-ms-file-change-time": "2025-08-11T05:54:14.5458981Z",
        "x-ms-file-creation-time": "2025-08-11T05:54:14.5458981Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-11T05:54:14.5458981Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "7777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare7b732f45/file7b732f45?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "spanish",
        "x-ms-date": "Mon, 11 Aug 2025 05:54:14 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-group": "0",
        "x-ms-mode": "0644",
        "x-ms-owner": "0",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD89B8104D99C\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:54:15 GMT",
        "x-ms-file-change-time": "2025-08-11T05:54:15.2587676Z",
        "x-ms-file-creation-time": "2025-08-11T05:54:14.5458981Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-11T05:54:14.5458981Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0644",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare7b732f45/file7b732f45",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 05:54:15 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "spanish",
        "ETag": "\"0x8DDD89B8104D99C\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:54:15 GMT",
        "x-ms-file-change-time": "2025-08-11T05:54:15.2587676Z",
        "x-ms-file-creation-time": "2025-08-11T05:54:14.5458981Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-11T05:54:14.5458981Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0644",
        "x-ms-owner": "0",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
