{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareafdc33c0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 15 Nov 2024 15:17:05 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD058891BC7A99\"",
        "Last-Modified": "Fri, 15 Nov 2024 15:17:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareafdc33c0/fileafdc33c0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 15 Nov 2024 15:17:07 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-group": "123",
        "x-ms-mode": "7777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD0588924B38BA\"",
        "Last-Modified": "Fri, 15 Nov 2024 15:17:08 GMT",
        "x-ms-file-change-time": "2024-11-15T15:17:08.4572858Z",
        "x-ms-file-creation-time": "2024-11-15T15:17:08.4572858Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-15T15:17:08.4572858Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "7777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareafdc33c0/fileafdc33c0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 15 Nov 2024 15:17:08 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD0588924B38BA\"",
        "Last-Modified": "Fri, 15 Nov 2024 15:17:08 GMT",
        "x-ms-file-change-time": "2024-11-15T15:17:08.4572858Z",
        "x-ms-file-creation-time": "2024-11-15T15:17:08.4572858Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-15T15:17:08.4572858Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "7777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareafdc33c0/fileafdc33c0?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "spanish",
        "x-ms-date": "Fri, 15 Nov 2024 15:17:08 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-group": "0",
        "x-ms-mode": "0644",
        "x-ms-owner": "0",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD0588926C9F1A\"",
        "Last-Modified": "Fri, 15 Nov 2024 15:17:08 GMT",
        "x-ms-file-change-time": "2024-11-15T15:17:08.6761754Z",
        "x-ms-file-creation-time": "2024-11-15T15:17:08.4572858Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-15T15:17:08.4572858Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0644",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareafdc33c0/fileafdc33c0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 15 Nov 2024 15:17:08 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "spanish",
        "ETag": "\"0x8DD0588926C9F1A\"",
        "Last-Modified": "Fri, 15 Nov 2024 15:17:08 GMT",
        "x-ms-file-change-time": "2024-11-15T15:17:08.6761754Z",
        "x-ms-file-creation-time": "2024-11-15T15:17:08.4572858Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-11-15T15:17:08.4572858Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0644",
        "x-ms-owner": "0",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
