{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/share929f31be?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Apr 2024 13:20:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ShareAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareAlreadyExists</Code><Message>The specified share already exists.\n",
        "RequestId:bff49847-701a-0008-2d81-95c247000000\n",
        "Time:2024-04-23T13:21:00.9631226Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/?comp=list&include=&se=end&sp=l&sv=2024-08-04&ss=f&srt=s&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Apr 2024 13:21:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthenticationFailed"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\n",
        "RequestId:bff4984d-701a-0008-2f81-95c247000000\n",
        "Time:2024-04-23T13:21:01.3041212Z</Message><AuthenticationErrorDetail>Signed expiry time [Tue, 23 Apr 2024 12:21:00 GMT] has to be after signed start time [Tue, 23 Apr 2024 13:21:01 GMT]</AuthenticationErrorDetail></Error>"
      ]
    }
  ],
  "Variables": {}
}
