{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareb7c4363a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:55:39 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC76F15BBA\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:55:39 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareb7c4363a/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:55:39 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC77065F37\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:55:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-11T07:55:39.9359287Z",
        "x-ms-file-creation-time": "2025-08-11T07:55:39.9359287Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-11T07:55:39.9359287Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareb7c4363a/dir2?restype=directory&comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:55:40 GMT",
        "x-ms-file-attributes": "ReadOnly|Directory",
        "x-ms-file-change-time": "2022-03-07T10:14:30.5000000Z",
        "x-ms-file-creation-time": "2022-01-26T10:09:30.5000000Z",
        "x-ms-file-last-write-time": "2022-01-26T10:14:30.5000000Z",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC771F9778\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:55:40 GMT",
        "x-ms-file-attributes": "ReadOnly | Directory",
        "x-ms-file-change-time": "2022-03-07T10:14:30.5000000Z",
        "x-ms-file-creation-time": "2022-01-26T10:09:30.5000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-26T10:14:30.5000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareb7c4363a/dir2?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:55:40 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC771F9778\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:55:40 GMT",
        "x-ms-file-attributes": "ReadOnly | Directory",
        "x-ms-file-change-time": "2022-03-07T10:14:30.5000000Z",
        "x-ms-file-creation-time": "2022-01-26T10:09:30.5000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-01-26T10:14:30.5000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
