{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Fri, 22 Aug 2025 04:10:00 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<KeyInfo><Start>2025-08-22T04:10:00Z</Start><Expiry>2025-08-22T05:10:00Z</Expiry></KeyInfo>"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>22cd328e-02c9-487e-b79c-f561696c7f54</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2025-08-22T04:10:00Z</SignedStart><SignedExpiry>2025-08-22T05:10:00Z</SignedExpiry><SignedService>f</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/?restype=service&comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Fri, 22 Aug 2025 04:10:01 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<KeyInfo><Start>2025-08-22T04:10:00Z</Start><Expiry>2025-08-22T05:10:00Z</Expiry></KeyInfo>"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>22cd328e-02c9-487e-b79c-f561696c7f54</SignedOid><SignedTid>00000000-0000-0000-0000-000000000000</SignedTid><SignedStart>2025-08-22T04:10:00Z</SignedStart><SignedExpiry>2025-08-22T05:10:00Z</SignedExpiry><SignedService>f</SignedService><SignedVersion>2026-02-06</SignedVersion><Value>MA==</Value></UserDelegationKey>"
    }
  ],
  "Variables": {
    "expiry_time": "2025-08-22T05:10:00.009639",
    "start_time": "2025-08-22T04:10:00.008570"
  }
}
