{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/test1c0022b9e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:10:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15E69AF37976\"",
        "Last-Modified": "Fri, 06 Dec 2024 11:10:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/test1c0022b9e?comp=lease&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:10:34 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15E69AF37976\"",
        "Last-Modified": "Fri, 06 Dec 2024 11:10:34 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/test1c0022b9e?comp=lease&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:10:34 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "44444444-3333-2222-1111-000000000000",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseAlreadyPresent",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseAlreadyPresent</Code><Message>There is already a lease present.\n",
        "RequestId:7edab1dc-501a-0063-34cf-4763f4000000\n",
        "Time:2024-12-06T11:10:34.7187945Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/test1c0022b9e?comp=lease&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:10:51 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15E69AF37976\"",
        "Last-Modified": "Fri, 06 Dec 2024 11:10:34 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
