{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare2262993?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 06 Mar 2025 08:14:17 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5C86E5A16504\"",
        "Last-Modified": "Thu, 06 Mar 2025 08:14:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare2262993/directory2262993/file22262993?restype=hardlink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 06 Mar 2025 08:14:20 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-file-target-file": "directory2262993/file12262993",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ParentNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ParentNotFound</Code><Message>The specified parent path does not exist.\n",
        "RequestId:1f5e5ee5-c01a-0048-266f-8eb0cc000000\n",
        "Time:2025-03-06T08:14:20.7982921Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
