{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare9fe835fe?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 06:19:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15BDE3E9D875\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:19:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare9fe835fe/file9fe835fe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 06:19:07 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15BDE4C352C0\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:19:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T06:19:08.7486656Z",
        "x-ms-file-creation-time": "2024-12-06T06:19:08.7486656Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T06:19:08.7486656Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9541354914390863802*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare9fe835fe?restype=share&comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 06:19:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15BDE3E9D875\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:19:07 GMT",
        "x-ms-snapshot": "2024-12-06T06:19:09.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare9fe835fe/file9fe835fe?comp=rangelist&sharesnapshot=2024-12-06T06:19:09.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 06:19:09 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DD15BDE4C352C0\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:19:08 GMT",
        "x-ms-content-length": "1024",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges />"
    }
  ],
  "Variables": {}
}
