{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharef78d34b5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 02 May 2024 17:24:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ShareAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareAlreadyExists</Code><Message>The specified share already exists.\n",
        "RequestId:cc0361ca-601a-0004-1eb5-9c0ec4000000\n",
        "Time:2024-05-02T17:24:54.2321036Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharef78d34b5/targetfile",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "Sanitized",
        "x-ms-date": "Thu, 02 May 2024 17:24:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "InvalidQueryParameterValue",
        "x-ms-copy-source-status-code": "400",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\n",
        "RequestId:cc0361cd-601a-0004-1fb5-9c0ec4000000\n",
        "Time:2024-05-02T17:24:54.7651089Z</Message><CopySourceStatusCode>400</CopySourceStatusCode><CopySourceErrorCode>InvalidQueryParameterValue</CopySourceErrorCode><CopySourceErrorMessage>Value for one of the query parameters specified in the request URI is invalid.</CopySourceErrorMessage></Error>"
      ]
    }
  ],
  "Variables": {}
}
