{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea4022fea?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:54:25 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC4B03FB60\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:54:26 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea4022fea/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:54:26 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC4B1A0B13\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:54:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-11T07:54:26.2450963Z",
        "x-ms-file-creation-time": "2025-08-11T07:54:26.2450963Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-11T07:54:26.2450963Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea4022fea/dir2/test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-content-length": "11",
        "x-ms-date": "Mon, 11 Aug 2025 07:54:26 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC4B4A8208\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:54:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-11T07:54:26.5627144Z",
        "x-ms-file-creation-time": "2025-08-11T07:54:26.5627144Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-08-11T07:54:26.5627144Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea4022fea/dir2/test?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Aug 2025 07:54:26 GMT",
        "x-ms-range": "bytes=0-10",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DDD8AC4B639368\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:54:26 GMT",
        "x-ms-file-last-write-time": "2025-08-11T07:54:26.7269992Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea4022fea/dir2/test?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:54:26 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC4B639368\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:54:26 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea4022fea/dir2%2Ftest?restype=directory&comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:54:26 GMT",
        "x-ms-destination-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-file-rename-replace-if-exists": "true",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC4B971439\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:54:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-11T07:54:27.0645305Z",
        "x-ms-file-creation-time": "2025-08-11T07:54:26.2450963Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-11T07:54:26.2450963Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea4022fea/dir2%2Ftest?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:54:27 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC4B971439\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:54:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-11T07:54:27.0645305Z",
        "x-ms-file-creation-time": "2025-08-11T07:54:26.2450963Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-11T07:54:26.2450963Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
