{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharebe75267a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 27 Feb 2025 21:15:49 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5773EA678463\"",
        "Last-Modified": "Thu, 27 Feb 2025 21:15:52 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharebe75267a/directorybe75267a/file2be75267a?restype=symboliclink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 27 Feb 2025 21:15:52 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-link-text": "directorybe75267a/file1be75267a",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ParentNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ParentNotFound</Code><Message>The specified parent path does not exist.\n",
        "RequestId:106839ae-a01a-002c-2e5c-894154000000\n",
        "Time:2025-02-27T21:15:52.5884261Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharebe75267a/directorybe75267a/file2be75267a?restype=symboliclink",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 27 Feb 2025 21:15:52 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ParentNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ParentNotFound</Code><Message>The specified parent path does not exist.\n",
        "RequestId:106839af-a01a-002c-2f5c-894154000000\n",
        "Time:2025-02-27T21:15:52.8732039Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
