{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare7b0d33af?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 05:54:07 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD89B7D760491\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:54:09 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare7b0d33af/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 05:54:09 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-group": "123",
        "x-ms-mode": "7777",
        "x-ms-owner": "345",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD89B7DF86ED3\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:54:10 GMT",
        "x-ms-file-change-time": "2025-08-11T05:54:10.1442259Z",
        "x-ms-file-creation-time": "2025-08-11T05:54:10.1442259Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-11T05:54:10.1442259Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "7777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare7b0d33af/dir1?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 05:54:10 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD89B7DF86ED3\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:54:10 GMT",
        "x-ms-file-change-time": "2025-08-11T05:54:10.1442259Z",
        "x-ms-file-creation-time": "2025-08-11T05:54:10.1442259Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-11T05:54:10.1442259Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "7777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare7b0d33af/dir1?restype=directory&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 05:54:10 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD89B7E437B55\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:54:10 GMT",
        "x-ms-file-change-time": "2025-08-11T05:54:10.6360661Z",
        "x-ms-file-creation-time": "2025-08-11T05:54:10.1442259Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-11T05:54:10.1442259Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare7b0d33af/dir1?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 05:54:10 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD89B7E437B55\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:54:10 GMT",
        "x-ms-file-change-time": "2025-08-11T05:54:10.6360661Z",
        "x-ms-file-creation-time": "2025-08-11T05:54:10.1442259Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-11T05:54:10.1442259Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
