{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share6d3a2aa3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:37:14 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15EA5544E13B\"",
        "Last-Modified": "Fri, 06 Dec 2024 11:37:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/?comp=list&include=snapshots",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:37:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share6d3a2aa3</Name><Properties><Last-Modified>Fri, 06 Dec 2024 11:37:15 GMT</Last-Modified><Etag>\"0x8DD15EA5544E13B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri, 06 Dec 2024 11:37:15 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>test14c92c18</Name><Properties><Last-Modified>Fri, 06 Dec 2024 11:10:54 GMT</Last-Modified><Etag>\"0x8DD15E6A6C7B6B8\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri, 06 Dec 2024 11:10:54 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>test16da2c33</Name><Properties><Last-Modified>Fri, 06 Dec 2024 11:10:59 GMT</Last-Modified><Etag>\"0x8DD15E6A9C0F493\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseSt[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share6d3a2aa3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:37:16 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/test14c92c18?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:37:16 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There is currently a lease on the file share and no lease ID was specified in the request.\n",
        "RequestId:42a9e995-101a-0064-3fd3-479571000000\n",
        "Time:2024-12-06T11:37:16.4893118Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/testff0c2e44?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:37:17 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There is currently a lease on the file share and no lease ID was specified in the request.\n",
        "RequestId:42a9e99e-101a-0064-46d3-479571000000\n",
        "Time:2024-12-06T11:37:18.0460632Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
