{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared11e3829?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:26:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C75D22D343\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:26:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared11e3829/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:26:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C75D44CB1B\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:26:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T07:26:56.3943195Z",
        "x-ms-file-creation-time": "2024-12-06T07:26:56.3943195Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T07:26:56.3943195Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4905121398068318397*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared11e3829/dir1%2Fsubdir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:26:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C75D66A5AC\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:26:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T07:26:56.6161836Z",
        "x-ms-file-creation-time": "2024-12-06T07:26:56.6161836Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-06T07:26:56.6161836Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4905121398068318397*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared11e3829/dir1%2Fsubdir1%2Fsubdir2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:26:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C75D8D3A6B\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:26:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T07:26:56.8690283Z",
        "x-ms-file-creation-time": "2024-12-06T07:26:56.8690283Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-12-06T07:26:56.8690283Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "4905121398068318397*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared11e3829/dir1/file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "5",
        "x-ms-date": "Fri, 06 Dec 2024 07:26:57 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C75DEA3FE7\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:26:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T07:26:57.4786535Z",
        "x-ms-file-creation-time": "2024-12-06T07:26:57.4786535Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-12-06T07:26:57.4786535Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9541354914390863802*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared11e3829/dir1/subdir1/file2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "5",
        "x-ms-date": "Fri, 06 Dec 2024 07:26:57 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C75DF0A786\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:26:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T07:26:57.5206278Z",
        "x-ms-file-creation-time": "2024-12-06T07:26:57.5206278Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-12-06T07:26:57.5206278Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "9541354914390863802*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared11e3829/dir1/file1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 07:26:57 GMT",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "ZGF0YTE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "idkDvDXe3nJP1SxRQ3/1/Q==",
        "ETag": "\"0x8DD15C75E0CDDAA\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:26:57 GMT",
        "x-ms-file-last-write-time": "2024-12-06T07:26:57.7055146Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared11e3829/dir1/subdir1/file2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 07:26:57 GMT",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "ZGF0YTI=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "/5zy1pDYiMszf2v0UmthMA==",
        "ETag": "\"0x8DD15C75E131E4A\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:26:57 GMT",
        "x-ms-file-last-write-time": "2024-12-06T07:26:57.7464906Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared11e3829/dir1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:26:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshared11e3829\" DirectoryPath=\"dir1\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>file1</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    }
  ],
  "Variables": {}
}
