{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share924d31bb?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:37:22 GMT",
        "x-ms-meta": "{'test1': 'foo', 'test2': 'bar'}",
        "x-ms-meta-test1": "foo",
        "x-ms-meta-test2": "bar",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15EA59B3FEDB\"",
        "Last-Modified": "Fri, 06 Dec 2024 11:37:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share924d31bb?restype=share&comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:37:22 GMT",
        "x-ms-meta-test100": "foo100",
        "x-ms-meta-test200": "bar200",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15EA59D2DB80\"",
        "Last-Modified": "Fri, 06 Dec 2024 11:37:23 GMT",
        "x-ms-snapshot": "2024-12-06T11:37:23.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share924d31bb?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:37:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15EA59B3FEDB\"",
        "Last-Modified": "Fri, 06 Dec 2024 11:37:22 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Fri, 06 Dec 2024 11:37:22 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-test1": "foo",
        "x-ms-meta-test2": "bar",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share924d31bb?restype=share&sharesnapshot=2024-12-06T11:37:23.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:37:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15EA59D2DB80\"",
        "Last-Modified": "Fri, 06 Dec 2024 11:37:23 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Fri, 06 Dec 2024 11:37:22 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-test100": "foo100",
        "x-ms-meta-test200": "bar200",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/?comp=list&include=snapshots",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:37:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share924d31bb</Name><Snapshot>2024-12-06T11:37:23.0000000Z</Snapshot><Properties><Last-Modified>Fri, 06 Dec 2024 11:37:23 GMT</Last-Modified><Etag>\"0x8DD15EA59D2DB80\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share924d31bb</Name><Properties><Last-Modified>Fri, 06 Dec 2024 11:37:22 GMT</Last-Modified><Etag>\"0x8DD15EA59B3FEDB\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri, 06 Dec 2024 11:37:22 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>test14c92c18</Name><Properties><Last-Modified>Fri, 06 Dec 2024 11:10:54 GMT</Last-Modified><Etag>\"0x8DD15E6A6C7B6B8\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri, 06 Dec 2024 11:10:54 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>test16da2c33</Name><Properties><Last-Modified>Fri, 06 Dec 2024 11:10:59 GMT</Last-Modified><Etag>\"0x8DD15E6A9C0F493\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseSt[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share924d31bb?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:37:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/test14c92c18?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:37:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There is currently a lease on the file share and no lease ID was specified in the request.\n",
        "RequestId:42a9e9c8-101a-0064-64d3-479571000000\n",
        "Time:2024-12-06T11:37:24.7259358Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/testff0c2e44?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:37:26 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There is currently a lease on the file share and no lease ID was specified in the request.\n",
        "RequestId:42a9e9d2-101a-0064-6cd3-479571000000\n",
        "Time:2024-12-06T11:37:26.2207224Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
