{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/test14c92c18?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:10:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15E6A6C7B6B8\"",
        "Last-Modified": "Fri, 06 Dec 2024 11:10:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/test14c92c18?comp=lease&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:10:54 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15E6A6C7B6B8\"",
        "Last-Modified": "Fri, 06 Dec 2024 11:10:54 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/test14c92c18?comp=lease&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:10:54 GMT",
        "x-ms-lease-action": "renew",
        "x-ms-lease-id": "29e0b239-ecda-4f69-bfa3-95f6af91464c",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15E6A6C7B6B8\"",
        "Last-Modified": "Fri, 06 Dec 2024 11:10:54 GMT",
        "x-ms-lease-id": "29e0b239-ecda-4f69-bfa3-95f6af91464c",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
