{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share99192f9d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:41:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15EAE7208EF0\"",
        "Last-Modified": "Fri, 06 Dec 2024 11:41:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share99192f9d?comp=lease&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:41:20 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15EAE7208EF0\"",
        "Last-Modified": "Fri, 06 Dec 2024 11:41:20 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/?comp=list&include=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:41:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share99192f9d</Name><Properties><Last-Modified>Fri, 06 Dec 2024 11:41:20 GMT</Last-Modified><Etag>\"0x8DD15EAE7208EF0\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri, 06 Dec 2024 11:41:20 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>test1296d32cb</Name><Properties><Last-Modified>Fri, 06 Dec 2024 11:39:27 GMT</Last-Modified><Etag>\"0x8DD15EAA4232D0B\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><Quota>102400</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri, 06 Dec 2024 11:39:27 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryp[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share99192f9d?comp=lease&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:41:20 GMT",
        "x-ms-lease-action": "release",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15EAE7208EF0\"",
        "Last-Modified": "Fri, 06 Dec 2024 11:41:20 GMT",
        "x-ms-lease-time": "0",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/?comp=list&include=snapshots",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:41:21 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Enumer[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share99192f9d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:41:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/test1296d32cb?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:41:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There is currently a lease on the file share and no lease ID was specified in the request.\n",
        "RequestId:42a9f34e-101a-0064-5bd3-479571000000\n",
        "Time:2024-12-06T11:41:21.9499513Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/testff0c2e44?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 11:41:25 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There is currently a lease on the file share and no lease ID was specified in the request.\n",
        "RequestId:42a9f370-101a-0064-6cd3-479571000000\n",
        "Time:2024-12-06T11:41:25.3112319Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
