{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare7e6e35d4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:22:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C6CBF6D233\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:22:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare7e6e35d4/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:22:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C6CC1D29FC\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:22:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T07:22:52.8649724Z",
        "x-ms-file-creation-time": "2024-12-06T07:22:52.8649724Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T07:22:52.8649724Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4905121398068318397*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare7e6e35d4/dir1%2Fsubdir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:22:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C6CC3F79A9\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:22:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T07:22:53.0898345Z",
        "x-ms-file-creation-time": "2024-12-06T07:22:53.0898345Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-06T07:22:53.0898345Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4905121398068318397*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare7e6e35d4/dir1/file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "5",
        "x-ms-date": "Fri, 06 Dec 2024 07:22:53 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C6CCA68FAB\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:22:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T07:22:53.7654187Z",
        "x-ms-file-creation-time": "2024-12-06T07:22:53.7654187Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-12-06T07:22:53.7654187Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9541354914390863802*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare7e6e35d4/dir1/file1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 07:22:53 GMT",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "ZGF0YTE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "idkDvDXe3nJP1SxRQ3/1/Q==",
        "ETag": "\"0x8DD15C6CCCBEC1B\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:22:54 GMT",
        "x-ms-file-last-write-time": "2024-12-06T07:22:54.0102683Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare7e6e35d4/dir1?restype=directory&comp=list&prefix=sub",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:22:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshare7e6e35d4\" DirectoryPath=\"dir1\"><Prefix>sub</Prefix><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>subdir1</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>subdir2</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>subdir3</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    }
  ],
  "Variables": {}
}
