{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareb47839ca?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:22:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C6C45E080E\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:22:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareb47839ca/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:22:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C6C4855275\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:22:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T07:22:40.1258101Z",
        "x-ms-file-creation-time": "2024-12-06T07:22:40.1258101Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T07:22:40.1258101Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4905121398068318397*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareb47839ca/dir1%2Fsubdir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:22:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15C6C4A81737\"",
        "Last-Modified": "Fri, 06 Dec 2024 07:22:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T07:22:40.3536695Z",
        "x-ms-file-creation-time": "2024-12-06T07:22:40.3536695Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-06T07:22:40.3536695Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4905121398068318397*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshareb47839ca/dir1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 07:22:40 GMT",
        "x-ms-file-extended-info": "true",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshareb47839ca\" DirectoryPath=\"dir1\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>subdir1</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    }
  ],
  "Variables": {}
}
