{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare362f2c7e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Mar 2025 19:54:18 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD6656AC2A6857\"",
        "Last-Modified": "Tue, 18 Mar 2025 19:54:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare362f2c7e/directory362f2c7e/file2362f2c7e?restype=symboliclink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Mar 2025 19:54:19 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-link-text": "directory362f2c7e/file1362f2c7e",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ParentNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ParentNotFound</Code><Message>The specified parent path does not exist.\n",
        "RequestId:519bcc96-501a-0017-043f-9804f0000000\n",
        "Time:2025-03-18T19:54:19.8872297Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare362f2c7e/directory362f2c7e/file2362f2c7e?restype=symboliclink",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 18 Mar 2025 19:54:19 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ParentNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ParentNotFound</Code><Message>The specified parent path does not exist.\n",
        "RequestId:519bcc9c-501a-0017-0a3f-9804f0000000\n",
        "Time:2025-03-18T19:54:19.9197392Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
