{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare2c2329f2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 19 Dec 2024 20:03:35 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD20683A14B513\"",
        "Last-Modified": "Thu, 19 Dec 2024 20:03:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare2c2329f2/directory2c2329f2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 19 Dec 2024 20:03:37 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD20683A4451BB\"",
        "Last-Modified": "Thu, 19 Dec 2024 20:03:38 GMT",
        "x-ms-file-change-time": "2024-12-19T20:03:38.2721979Z",
        "x-ms-file-creation-time": "2024-12-19T20:03:38.2721979Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-19T20:03:38.2721979Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare2c2329f2/directory2c2329f2/file2c2329f2?restype=hardlink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 19 Dec 2024 20:03:38 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-file-target-file": "https://pyacrstoragestorname.file.core.windows.net/utshare2c2329f2/directory2c2329f2/file2c2329f2",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ParentNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ParentNotFound</Code><Message>The specified parent path does not exist.\n",
        "RequestId:d44f18a2-c01a-0075-6e51-525d60000000\n",
        "Time:2024-12-19T20:03:38.5494556Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
