{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea1203226?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 17 Sep 2025 05:11:22 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF5A8A4F901A5\"",
        "Last-Modified": "Wed, 17 Sep 2025 05:11:22 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea1203226/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 17 Sep 2025 05:11:22 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF5A8A50C6850\"",
        "Last-Modified": "Wed, 17 Sep 2025 05:11:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-17T05:11:22.8843088Z",
        "x-ms-file-creation-time": "2025-09-17T05:11:22.8843088Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-17T05:11:22.8843088Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea1203226/dir1/samples_0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "5",
        "x-ms-date": "Wed, 17 Sep 2025 05:11:23 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF5A8A52CEB1E\"",
        "Last-Modified": "Wed, 17 Sep 2025 05:11:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-17T05:11:23.0973726Z",
        "x-ms-file-creation-time": "2025-09-17T05:11:23.0973726Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-09-17T05:11:23.0973726Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea1203226/dir1/samples_0?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Sep 2025 05:11:23 GMT",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "ZGF0YTE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "idkDvDXe3nJP1SxRQ3/1/Q==",
        "ETag": "\"0x8DDF5A8A53B0C14\"",
        "Last-Modified": "Wed, 17 Sep 2025 05:11:23 GMT",
        "x-ms-file-last-write-time": "2025-09-17T05:11:23.1899668Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea1203226/dir2/not_0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "5",
        "x-ms-date": "Wed, 17 Sep 2025 05:11:24 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF5A8A641433C\"",
        "Last-Modified": "Wed, 17 Sep 2025 05:11:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-17T05:11:24.9084220Z",
        "x-ms-file-creation-time": "2025-09-17T05:11:24.9084220Z",
        "x-ms-file-id": "14411589176329764864",
        "x-ms-file-last-write-time": "2025-09-17T05:11:24.9084220Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea1203226/dir2/not_0?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 17 Sep 2025 05:11:24 GMT",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "ZGF0YTI=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "/5zy1pDYiMszf2v0UmthMA==",
        "ETag": "\"0x8DDF5A8A64E53FA\"",
        "Last-Modified": "Wed, 17 Sep 2025 05:11:24 GMT",
        "x-ms-file-last-write-time": "2025-09-17T05:11:24.9940474Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea1203226/dir1?restype=directory&comp=list&prefix=samples_&maxresults=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 17 Sep 2025 05:11:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utsharea1203226\" DirectoryPath=\"dir1\"><Prefix>samples_</Prefix><MaxResults>2</MaxResults><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>samples_0</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>samples_1</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>5</Content-Length></Properties></File></Entries><NextMarker>1!12!c2FtcGxlc18y</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea1203226/dir1?restype=directory&comp=list&prefix=samples_&marker=1%2112%21c2FtcGxlc18y&maxresults=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 17 Sep 2025 05:11:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utsharea1203226\" DirectoryPath=\"dir1\"><Prefix>samples_</Prefix><Marker>1!12!c2FtcGxlc18y</Marker><MaxResults>2</MaxResults><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>samples_2</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>samples_3</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>5</Content-Length></Properties></File></Entries><NextMarker>1!12!c2FtcGxlc180</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharea1203226/dir1?restype=directory&comp=list&prefix=samples_&marker=1%2112%21c2FtcGxlc180&maxresults=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 17 Sep 2025 05:11:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utsharea1203226\" DirectoryPath=\"dir1\"><Prefix>samples_</Prefix><Marker>1!12!c2FtcGxlc180</Marker><MaxResults>2</MaxResults><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>samples_4</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>samples_5</Name><FileId>9799903157902376960</FileId><Properties><Content-Length>5</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    }
  ],
  "Variables": {}
}
