{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharee086296e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 06:05:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15BBF3063F3B\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:05:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharee086296e/filee086296e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 06:05:13 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15BBF39BF471\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:05:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T06:05:14.6630257Z",
        "x-ms-file-creation-time": "2024-12-06T06:05:14.6630257Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T06:05:14.6630257Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9541354914390863802*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharee086296e/file2?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 06:05:14 GMT",
        "x-ms-file-rename-source": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD15BBF3C2D744\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:05:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T06:05:14.9178692Z",
        "x-ms-file-creation-time": "2024-12-06T06:05:14.6630257Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T06:05:14.6630257Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9541354914390863802*3227211760911779636",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharee086296e/file2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 06 Dec 2024 06:05:14 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD15BBF3C2D744\"",
        "Last-Modified": "Fri, 06 Dec 2024 06:05:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T06:05:14.9178692Z",
        "x-ms-file-creation-time": "2024-12-06T06:05:14.6630257Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T06:05:14.6630257Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9541354914390863802*3227211760911779636",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
