{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare5b23889?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:54:02 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC3CEEDF4F\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:54:02 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare5b23889/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:54:02 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC3D048276\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:54:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-11T07:54:02.6158710Z",
        "x-ms-file-creation-time": "2025-08-11T07:54:02.6158710Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-11T07:54:02.6158710Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare5b23889/dir1%2Fsubdir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:54:02 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC3D1CAA8C\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:54:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-11T07:54:02.7741836Z",
        "x-ms-file-creation-time": "2025-08-11T07:54:02.7741836Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-08-11T07:54:02.7741836Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare5b23889/dir1/file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-content-length": "5",
        "x-ms-date": "Mon, 11 Aug 2025 07:54:03 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC3D6680BA\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:54:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-11T07:54:03.2580794Z",
        "x-ms-file-creation-time": "2025-08-11T07:54:03.2580794Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-08-11T07:54:03.2580794Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare5b23889/dir1/file1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Aug 2025 07:54:03 GMT",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "ZGF0YTE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "idkDvDXe3nJP1SxRQ3/1/Q==",
        "ETag": "\"0x8DDD8AC3D7F9223\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:54:03 GMT",
        "x-ms-file-last-write-time": "2025-08-11T07:54:03.4223651Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare5b23889/dir1?restype=directory&comp=list&include=timestamps,Etag,Attributes,PermissionKey",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:54:04 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshare5b23889\" DirectoryPath=\"dir1\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>file1</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>5</Content-Length><CreationTime>2025-08-11T07:54:03.2580794Z</CreationTime><LastAccessTime>2025-08-11T07:54:03.2580794Z</LastAccessTime><LastWriteTime>2025-08-11T07:54:03.4223651Z</LastWriteTime><ChangeTime>2025-08-11T07:54:03.4223651Z</ChangeTime><Last-Modified>Mon, 11 Aug 2025 07:54:03 GMT</Last-Modified><Etag>\"0x8DDD8AC3D7F9223\"</Etag></Properties><Attributes>Archive</Attributes><PermissionKey>4010187179898695473*11459378189709739967</PermissionKey></File><File><Name>file2</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>5</Content-Length><CreationTime>2025-08-11T07:54:03.5886426Z</CreationTime><LastAccessTime>2025-08-11T07:54:03.5886426Z</LastAccessTime><LastWriteTime>2025-08-11T07:54:03.7479498Z</LastWriteTime><ChangeTime>2025-08-11T07:54:03.7479498Z</ChangeTime><Last-Modified>Mon, 11 Aug 2025 07:54:03 GMT</Last-Modified><Etag>\"0x8DDD8AC3DB1404A\"</Etag></Properties><Attributes>Archive</Attributes><PermissionKey>4010187179898695473*11459378189709739967</PermissionKey></File><File><Name>file3</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>5</Content-Length><CreationTime>2025-08-11T07:54:03.9062609Z</CreationTime><LastAccessTime>2025-08-11T07:54:03.9062609Z</LastAccessTime><LastWriteTime>2025-08-11T07:54:04.0745295Z</LastWriteTime><ChangeTime>2025-08-11T07:54:04.0745295Z</ChangeTime><Last-Modified>Mon, 11 Aug 2025 07:54:04 GMT</Last-Modified><Etag>\"0x8DDD8AC3DE3154F\"</Etag></Properties><Attributes>Archive</Attributes><PermissionKey>4010187179898695473*11459378189709739967</PermissionKey></File><Directory><Name>subdir1</Name><FileId>11529285414812647424</FileId><Properties><CreationTime>2025-08-11T07:54:02.7741836Z</CreationTime><LastAccessTime>2025-08-11T07:54:02.7741836Z</LastAccessTime><LastWriteTime>2025-08-11T07:54:02.7741836Z</LastWriteTime><ChangeTime>2025-08-11T07:54:02.7741836Z</ChangeTime><Last-Modified>Mon, 11 Aug 2025 07:54:02 GMT</Last-Modified><Etag>\"0x8DDD8AC3D1CAA8C\"</Etag></Properties><Attributes>Directory</Attributes><PermissionKey>17860367565182308406*11459378189709739967</Pe[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare5b23889?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:54:04 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
