{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare25dd24cf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 05:36:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD898FB15B0A8\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:36:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare25dd24cf/file25dd24cf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 11 Aug 2025 05:36:11 GMT",
        "x-ms-file-attributes": "hidden",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD898FB329C5B\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:36:11 GMT",
        "x-ms-file-attributes": "Hidden | Archive",
        "x-ms-file-change-time": "2025-08-11T05:36:11.7505115Z",
        "x-ms-file-creation-time": "2025-08-11T05:36:11.7505115Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-11T05:36:11.7505115Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare25dd24cf/file25dd24cf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 05:36:11 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DDD898FB329C5B\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:36:11 GMT",
        "x-ms-file-attributes": "Hidden | Archive",
        "x-ms-file-change-time": "2025-08-11T05:36:11.7505115Z",
        "x-ms-file-creation-time": "2025-08-11T05:36:11.7505115Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-11T05:36:11.7505115Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
