{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare264d2e6d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 22 Feb 2025 10:14:36 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5329B6F540EA\"",
        "Last-Modified": "Sat, 22 Feb 2025 10:14:38 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare264d2e6d/directory264d2e6d/file2264d2e6d?restype=hardlink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 22 Feb 2025 10:14:38 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-file-target-file": "directory264d2e6d/file1264d2e6d",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ParentNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ParentNotFound</Code><Message>The specified parent path does not exist.\n",
        "RequestId:22108fa0-001a-0047-2f12-85c6a0000000\n",
        "Time:2025-02-22T10:14:39.6409455Z</Message></Error>"
      ]
    }
  ],
  "Variables": {}
}
