{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare2b632e78?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 22 Jun 2024 00:00:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC924E5C89785E\"",
        "Last-Modified": "Sat, 22 Jun 2024 00:00:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare2b632e78/file2b632e78",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Sat, 22 Jun 2024 00:00:44 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC924E5CA46206\"",
        "Last-Modified": "Sat, 22 Jun 2024 00:00:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-22T00:00:43.9149062Z",
        "x-ms-file-creation-time": "2024-06-22T00:00:43.9149062Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-22T00:00:43.9149062Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1613520124293395047*13746261773690755817",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare2b632e78/file2b632e78",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sat, 22 Jun 2024 00:00:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC924E5CA46206\"",
        "Last-Modified": "Sat, 22 Jun 2024 00:00:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-22T00:00:43.9149062Z",
        "x-ms-file-creation-time": "2024-06-22T00:00:43.9149062Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-22T00:00:43.9149062Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1613520124293395047*13746261773690755817",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare2b632e78/file2b632e78",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sat, 22 Jun 2024 00:00:44 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "WWW-Authenticate": "Bearer authorization_uri=https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/authorize resource_id=https://storage.azure.com",
        "x-ms-error-code": "InvalidAuthenticationInfo"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshare2b632e78/file2b632e78",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sat, 22 Jun 2024 00:00:44 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC924E5CA46206\"",
        "Last-Modified": "Sat, 22 Jun 2024 00:00:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-22T00:00:43.9149062Z",
        "x-ms-file-creation-time": "2024-06-22T00:00:43.9149062Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-22T00:00:43.9149062Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1613520124293395047*13746261773690755817",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
