{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared11e3829?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:55:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC70C8296B\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:55:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared11e3829/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:55:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC70DEC218\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:55:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-11T07:55:29.6099864Z",
        "x-ms-file-creation-time": "2025-08-11T07:55:29.6099864Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-11T07:55:29.6099864Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared11e3829/dir1%2Fsubdir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:55:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC70F6EA09\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:55:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-11T07:55:29.7682953Z",
        "x-ms-file-creation-time": "2025-08-11T07:55:29.7682953Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-08-11T07:55:29.7682953Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared11e3829/dir1%2Fsubdir1%2Fsubdir2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:55:29 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC710F86A9\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:55:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-11T07:55:29.9295913Z",
        "x-ms-file-creation-time": "2025-08-11T07:55:29.9295913Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-08-11T07:55:29.9295913Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared11e3829/dir1/subdir1/file3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-content-length": "5",
        "x-ms-date": "Mon, 11 Aug 2025 07:55:30 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC7141F715\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:55:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-11T07:55:30.2601493Z",
        "x-ms-file-creation-time": "2025-08-11T07:55:30.2601493Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-08-11T07:55:30.2601493Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared11e3829/dir1/file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-content-length": "5",
        "x-ms-date": "Mon, 11 Aug 2025 07:55:30 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD8AC71413499\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:55:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-11T07:55:30.2551705Z",
        "x-ms-file-creation-time": "2025-08-11T07:55:30.2551705Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-08-11T07:55:30.2551705Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared11e3829/dir1/subdir1/file2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Aug 2025 07:55:30 GMT",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "ZGF0YTI=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "/5zy1pDYiMszf2v0UmthMA==",
        "ETag": "\"0x8DDD8AC715A45EA\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:55:30 GMT",
        "x-ms-file-last-write-time": "2025-08-11T07:55:30.4194538Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared11e3829/dir1/file1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Aug 2025 07:55:30 GMT",
        "x-ms-range": "bytes=0-4",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "ZGF0YTE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "idkDvDXe3nJP1SxRQ3/1/Q==",
        "ETag": "\"0x8DDD8AC715A93B3\"",
        "Last-Modified": "Mon, 11 Aug 2025 07:55:30 GMT",
        "x-ms-file-last-write-time": "2025-08-11T07:55:30.4214451Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utshared11e3829/dir1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 07:55:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshared11e3829\" DirectoryPath=\"dir1\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>file1</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    }
  ],
  "Variables": {}
}
