{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/utsharebcde3017?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 11 Aug 2025 05:36:16 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD898FE202FB5\"",
        "Last-Modified": "Mon, 11 Aug 2025 05:36:16 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
