{
  "Entries": [
    {
      "RequestUri": "https://khasdksdkhsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/558472c8-cf82-0a86-811a-a152d1530f83?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://khasdksdkhsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/558472c8-cf82-0a86-811a-a152d1530f83?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "roleName": "558472c8-cf82-0a86-811a-a152d1530f83",
          "description": "rolecH0LiZrW",
          "type": "CustomRole",
          "permissions": [
            {
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/backup/action"
              ]
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "22"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/558472c8-cf82-0a86-811a-a152d1530f83",
        "name": "558472c8-cf82-0a86-811a-a152d1530f83",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "rolecH0LiZrW",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/backup/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "558472c8-cf82-0a86-811a-a152d1530f83",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
    {
      "RequestUri": "https://khasdksdkhsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/558472c8-cf82-0a86-811a-a152d1530f83?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitize[...]
