{
  "Entries": [
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/e485e8fd-bc81-1013-7cc1-ac7f41f61c44?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tcac7e9c41ef52cechsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/e485e8fd-bc81-1013-7cc1-ac7f41f61c44?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "role6Ij8yOnk",
          "type": "CustomRole",
          "permissions": [
            {
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/backup/action"
              ]
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "22"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/e485e8fd-bc81-1013-7cc1-ac7f41f61c44",
        "name": "e485e8fd-bc81-1013-7cc1-ac7f41f61c44",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "role6Ij8yOnk",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/backup/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
[...]
