{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/ccf73d36-362c-3ac0-f761-d824bda27ff2?api-version=7.6-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/ccf73d36-362c-3ac0-f761-d824bda27ff2?api-version=7.6-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "rolep69jWO71",
          "type": "CustomRole",
          "permissions": [
            {
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/backup/action"
              ]
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "23"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/ccf73d36-362c-3ac0-f761-d824bda27ff2",
        "name": "ccf73d36-362c-3ac0-f761-d824bda27ff2",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "rolep69jWO71",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/backup/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
[...]
