{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv644hsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
    {
      "RequestUri": "https://rgjoncardekv644hsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/6efe6056-5259-49d2-8b3d-d3d73544b20b",
            "name": "6efe6056-5259-49d2-8b3d-d3d73544b20b",
            "properties": {
              "assignableScopes": [
                "/"
              ],
              "description": "",
              "permissions": [
                {
                  "actions": [],
                  "dataActions": [
                    "Microsoft.KeyVault/managedHsm/restore/start/action",
                    "Microsoft.KeyVault/managedHsm/restore/status/action",
                    "Microsoft.KeyVault/managedHsm/keys/restore/action"
                  ],
                  "notActions": [],
                  "notDataActions": []
                }
              ],
              "roleName": "Managed HSM Restore User",
              "type": "AKVBuiltInRole"
            },
            "type": "Microsoft.Authorization/roleDefinitions"
          },
          {
            "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8",
            "name": "7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8",
            "properties": {
              "assignableScopes": [
                "/"
              ],
              "description": "",
              "permissions": [
                {
          [...]
    {
      "RequestUri": "https://rgjoncardekv644hsm.managedhsm.azure.net/keys/providers/Microsoft.Authorization/roleAssignments/3db5395a-99c4-4e49-e688-52222fd1d5b7?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8",
          "principalId": "00000000-0000-0000-0000-000000000000"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Authorization/roleAssignments/3db5395a-99c4-4e49-e688-52222fd1d5b7",
        "name": "3db5395a-99c4-4e49-e688-52222fd1d5b7",
        "properties": {
          "principalId": "00000000-0000-0000-0000-000000000000",
          "roleDefinitionId": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8",
          "scope": "/keys"
        },
        "type": "Microsoft.Authorization/roleAssignments"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv644hsm.managedhsm.azure.net/",
    "CLIENT_OBJECTID": "7f95d217-8403-4c90-84ea-4c3ab4812683",
    "RandomSeed": "245316958"
  }
}
