{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments/39f297a7-f753-05a2-fe7c-327f80d10c9e?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments/39f297a7-f753-05a2-fe7c-327f80d10c9e?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "error": {
          "code": "RoleAssignmentNotFound",
          "message": "Requested role assignment not found (Activity ID: 62b90216-048f-11f0-9a87-6045bd108925)"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv318hsm.managedhsm.azure.net/",
    "RandomSeed": "1769185897"
  }
}
