{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv644hsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments/3652e9ba-40a0-c5c3-ac49-26ea87b38f6b?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv644hsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleAssignments/3652e9ba-40a0-c5c3-ac49-26ea87b38f6b?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "error": {
          "code": "RoleAssignmentNotFound",
          "message": "Requested role assignment not found (Activity ID: f9e58710-fbbe-11ef-be2d-002248016f1d)"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv644hsm.managedhsm.azure.net/",
    "RandomSeed": "1763774499"
  }
}
