{
  "Entries": [
    {
      "RequestUri": "https://khasdksdkhsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": "OK"
    },
    {
      "RequestUri": "https://khasdksdkhsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/abdd7ec4-a273-4265-bf38-e001014e2d8e",
            "name": "abdd7ec4-a273-4265-bf38-e001014e2d8e",
            "properties": {
              "assignableScopes": [
                "/"
              ],
              "description": "",
              "permissions": [
                {
                  "actions": [],
                  "dataActions": [
                    "Microsoft.KeyVault/managedHsm/ekm/read/action",
                    "Microsoft.KeyVault/managedHsm/ekm/write/action",
                    "Microsoft.KeyVault/managedHsm/ekm/delete/action"
                  ],
                  "notActions": [],
                  "notDataActions": []
                }
              ],
              "roleName": "Managed HSM EKM Administrator",
              "type": "AKVBuiltInRole"
            },
            "type": "Microsoft.Authorization/roleDefinitions"
          },
          {
            "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/6efe6056-5259-49d2-8b3d-d3d73544b20b",
            "name": "6efe6056-5259-49d2-8b3d-d3d73544b20b",
            "properties": {
              "assignableScopes": [
                "/"
              ],
              "description": "",
              "permissions": [
               [...]
