{
  "Entries": [
    {
      "RequestUri": "https://khasdksdkhsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/1d46f4cb-5420-5e6b-23c1-0d7575312e79?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://khasdksdkhsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/1d46f4cb-5420-5e6b-23c1-0d7575312e79?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "roleName": "1d46f4cb-5420-5e6b-23c1-0d7575312e79",
          "description": "rolei1te3O8V",
          "type": "CustomRole",
          "permissions": [
            {
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/backup/action"
              ]
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "23"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/1d46f4cb-5420-5e6b-23c1-0d7575312e79",
        "name": "1d46f4cb-5420-5e6b-23c1-0d7575312e79",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "rolei1te3O8V",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/backup/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "1d46f4cb-5420-5e6b-23c1-0d7575312e79",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
    {
      "RequestUri": "https://khasdksdkhsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/1d46f4cb-5420-5e6b-23c1-0d7575312e79?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/1d46f4cb-5420-5e6b-23c1-0d7575312e79",
        "name": "1d46f4cb-5420-5e6b-23c1-0d7575312e79",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "rolei1te3O8V",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/backup/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "1d46f4cb-5420-5e6b-23c1-0d7575312e79",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://khasdksdkhsm.managedhsm.azure.net/",
    "RandomSeed": "1628044897"
  }
}
