{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": "OK"
    },
    {
      "RequestUri": "https://rgjoncardekv318hsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/6efe6056-5259-49d2-8b3d-d3d73544b20b",
            "name": "6efe6056-5259-49d2-8b3d-d3d73544b20b",
            "properties": {
              "assignableScopes": [
                "/"
              ],
              "description": "",
              "permissions": [
                {
                  "actions": [],
                  "dataActions": [
                    "Microsoft.KeyVault/managedHsm/restore/start/action",
                    "Microsoft.KeyVault/managedHsm/restore/status/action",
                    "Microsoft.KeyVault/managedHsm/keys/restore/action"
                  ],
                  "notActions": [],
                  "notDataActions": []
                }
              ],
              "roleName": "Managed HSM Restore User",
              "type": "AKVBuiltInRole"
            },
            "type": "Microsoft.Authorization/roleDefinitions"
          },
          {
            "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8",
            "name": "7b127d3c-77bd-4e3e-bbe0-dbb8971fa7f8",
            "properties": {
              "assignableScopes": [
                "/"
              ],
              "description": "",
              "permissions": [
                {
          [...]
