{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.com/phoneNumbers/%2B14155550100?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 20 Jun 2025 17:32:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "1349ms"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Input phoneNumber +14155550100 cannot be found.",
          "target": "phonenumber"
        }
      }
    }
  ],
  "Variables": {}
}
