{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/ad135aa56e0948f1b4c8a7384b7ebbaa",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "8vAEx6Mre-q8VOQGrvWx45zH2VwCXORR4AnLhLG0G8_nVhUeDCcaWaQyX8vaCpIOGqFl-6sGU7yN5vCqOa5HnpDLC4-IAN27VCpdXBOy0ThDD0axUeQPYOhZRg5Xt-lrYGy37sT-QNckGdYes065_5Uhfr1GwWpmptBMZ51AuuHtgt2-dBZrhKI4BthsBo1S9XaBh_38gqySxSPSmk1ZxIfRKvSOTwASu49WPKGd8gELUZ0YBiI9pgnrSXZYfjoCJR0AP6Jz9wlYEnelJM2t3j3-l4Op-LrJkZ4ugcjzqr7q3CFxOm3mPSqkIfe-C7C-pjW7opanSt1TO-Afky5E8Q",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778515960,
          "updated": 1778515960,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
