{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/1ae3ecbfa534498794949ea8a0c56239",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "pkBwAEW-A3VkLxYx122aFn399Nrqn6wmqx3NnSqgIz6yITBhKl_jV8WMQfMH318QXR6RsV1fUZ5hiDkFZANrXE6rSWpS6ekBsGtqGMAkHnHiVhc_jxqySPKe6_RAFonirfllryx0JnniSNpYbcSn4HRlPEZF7gKULtb1zzZn-UnGCyMWMOb_K33n6moYt5mwSodZlckNImuLB6X22TM5PAtc5ObgwIf66bpxYptwY1Q5JGDxY0eF-5W64n2OkN7aKVoXCgHb4EC1b1zXKUAqDJu8lUTkjKIBYr_eb2ZoTC0uTZLKkhmiOZBScLZ3buWPapREOYa88qB9yoE4mzvhNQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1739478232,
          "updated": 1739478232,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
