{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/63e5f915d6bb47239e151eb8d950b490",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "t5C0_juiSQIcTFndZKJv1AM3q47KOrV03C2Ey1LttLpnxObQUzm7p3kWhz_9GeFinYI7QT903gpT4fVHqA9LvQBMoYWOjGBdmAvk2Liuo79SKthQGmhlLwR9Moi9x29t3YO2vSYQxx-IyfTdKzhjPRfS2U2fLKgNuLNl06geH4l0GaZPnsobO9vTlQt4La-LlcHuxKSJYavdQXIVm2AF-1fvOdGH2MxX1UQ2reGXXX-WHmm-F4vOZv8UYwyA-NeNdpxd-Xa4knnmgDYACxK4lfuwX1lFYovFVeziQ4IsDRhJoC9cG1Umq7VCii9LByTMd-7EW8KSWNBIWFkl-QnYBQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604595,
          "updated": 1778604595,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
