{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/c6070695d9ea49069752d0431173bd1b",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xdO7ldaolYg9AoO4bfBqIZxdb2mkSHs8RWO9pORPfiG42RuMiKuTZO-k3EWKBN4PpTuxrQgJfTG8uqZAmgUlHxU8bcFzuHxH6-0uqxCGZFLwpIjN6QiY7Sx6OAntTFkj05VPIoMZHQGwT7YIDTkD_iDTpleaNGkLw_docnmt4dNqvyLckqpSGJxeSjYyNeJq33Ca9r0PjUqZjUtYFv0pryJGchK4SHqBA7LgT3_JmgljKV7qa9PMPeG6-iV676e0NRaXEnOJk3Xg3I1SJKVUpJqdeRwEe7-Kvy7aucNPLjRbFET5tm427Cbm5Ma5e8_YODQLVi4B6_vPNDR9rl3heQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604608,
          "updated": 1778604608,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
