{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/bc2423b6a9a54476bc37df9515485f84",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ucVENBcfBWeFUVNeCJmaWWyZiBsx7Y0ZfcPJ1p_x5BlPhRMv71SdIy-XDX-jxk4rsJ748tQE0SCb468w79g3NDJ5_vLSlI0yOF_CbmV8jV2omHG1PhopuIMqD2VCF51hKxL8TO-DOaH8P9KWJxDn0q7SFXKqNC0_HqnY4pKScdA6xOlSome7m09jhbXVK4n_sDLxpQIOi8FYC-btw32BleHeZE__YnDlSVrejxlaYGSquKfBMton5KzpEQ326nR6Or2eBIQTZgG99-b6qbTHcpegWtHbtiOAkU8e2Bgm6hhTebSb9jrZkCtRVNz5zuf0kr2gEEN2DkVY6iU-_6-ZPQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778587634,
          "updated": 1778587634,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
