{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/282b314f0906438f94f665769f9dbde2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "xINsr65NAXJxpxgZy-BN1MNLYk4g9Z7cvwRHiW4htEOA9qOPiijYns_ZoUg7POsqXxofMrK2mLVgExnO5AJ2hi6fGowjc_8vHjSHDabG0bQhOvRJDB9Os_jmFKPoMrCw9HJ1NauyBdfuQag2fIqwGLsmKh7C8M0PB_EtceX3wiy-oLuvMAPI9imU38r10ufGyOPC0oo9z5oVLSQNPwwdxdeYtOkFDMVrpTDOz6qQbG_nIPK5jbplvE1w_tuS8nsFtCsTnlPaJ6VkwE8IVkTlk6XsYWDXMbV-p1Kb5bwkPYr4aNb8QuwnhSdzZigOXspX_I7IRdvJS-7pOU-0t3vMFQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778604604,
          "updated": 1778604604,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
