{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/00106c763785402583a4efaa87c4bc62",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "ykym4y6QnZp7_Hhn9NqgwGLQ_eFktVqiih7CJ-U1PtEYmB36Kz87BVvjsk6O2LypxwhVZRd0rLaLno0BI8hugd6lQooDbSGoIlIR-CGcMWSqNKI24UuwKyeQKT6ArUA8Sq6PWGBiNHQA57wz6ae-0B3lxHlOfAjXFeNMDLJ1EnVcm7mP7YwtDp-RDfA_mlG7K-R32fMawUi2cvosjjul986NfDuk2csoo_Xdrrt-PqHwvA5NPeW30imWTqBftRSgk_hx_e3HhOclxovYJLOdpkcIKstvrfBnssszA5x2my7iHq1-1YHyjJv3JztqJ32c-9UcP4xQZBHWmktLxyxNKQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780552026,
          "updated": 1780552026,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
