{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/c6d6452610a24ca7839992e84b36a4c3",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "sZPsqb1n0FhLnvDkPtVuiVWKHfHA6lfk1TRYWARzBKds9ZT47zef2tFGqFFSpbKJh5zZxlshleDCbfGUDdT6ALAetq0JV-cO5y8YbdsWtQ3_Dqf_ihWZdrYY74fEE8HvIjF1Py-gZLQrcYttksMB6bB9OPuQZa9EwAoYXCFFyHu7WaGzsGrqHLNYWdu4S815xQOG8i3ZpPHtNklz6irh6oiIS-P2l-j22BMjroHKiESU1yg1MDKqTUOAosiE-jZFno7tgf-Ru67XGJQn416SGZmi0V_EQLvuleomaRVILMZz1I9l-5CI4GTbQoE2o_yyQdGSZSruOH6-ro2--O6FsQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777137387,
          "updated": 1777137387,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
