{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/c6d910bd41584bf9b953b2dc01062dd2",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "7HshAIcOl3nZUE6K3Xvs0dpbml0u0OapPSyICRuIvxQSAAYrIk989bhaMQIbLCtNtTnZ0vI7N26112WNUXDDyGTqJ8LraT7boIl5vGdrX0lt7xYPM84mQZaVXRJCt_0JSyU0fxw9O_5G8U3uP_K8YtFqrQh44_PGp_01g93tVBmUOLfPBCjPahxPR0lEys68UO_wN9fcIK6nQdofkr7V_5qrJm7fSj-a0htoNfZx3uPKEZ3PJkCBtl7_wNnRPOVmSelx4nCgw0Hln8acCa_30KLjGfKfM3cmrhC40LjGaFTVn1wDJUxoGtLbbFusIWlYFxtShT_j-eQ8oU1jsr78tQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778587638,
          "updated": 1778587638,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
