{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/3797ea4736b9431aa06c292562a1d780",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vka7iklCK-ylrVNa5SovJkw2wgDF6t82LJn3Jyq8P_hD67ZjtJM5VeOqPVnR7ZQ-5uyNWzR7GTvv1l2qzf4UxJ8DFY_MzbVoKu9jx39K14dr5raArJjLJuSMFp1pctDmim0xq556f1SGcGIGXqBNmOkkixKCWUScXyrA3d4Uu9DFBiVd1zsyuNxuyDXnX6rQ17TPwkTt-oLN8okJm0r0kG7LJeV_Uqa_HpX2ISR0m7iYvNSOjGU9KZQiyFTomgzsbKWqMCPv1xleN9qMLpEahqaGUGGvECiqKHJ0xG2Cee9WxfbeGL9kt-JxdQ7B5OazbWvLqaEuAf3uPgMOJk3XKQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782207659,
          "updated": 1782207659,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
