{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/f3f3b209342f4a578c673ed442ac6cf0",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "zcpxL0eMh7At51bLSGKjE25nkDqjB0pWsSy6W4HhiFk5uCIvt1rlJOa4XKVvjlLbOsS9HYhiGZYYfm2qS_sPHeyfc6VKNbPg3401xyvOFyUtmh_MwJIs3TvX95cCTeqdzy2zv71BPN2IX3rjDWwGPn0Z8RukgJ5gEQUVG51wRQJ7e-CCTyzQOhFM6Aooo2SHmiIZYlOvBRu5IF7kvqw8Ij28Mrfda7JTiMSjxglLv--O0J_ysjrFAS5_iy3l1hXmMFbONQHUWQEqP1Qor6omN1Phdu89xQmd-7JMvxloCWgaDzboRAKTmIEcptfrfkCIPYtlEEbpLEFr132MHHwtnQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1782207641,
          "updated": 1782207641,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
