{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/14bc69ef89544048947ab0bfb96114f5",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "0ZJSLLXD_5x4iP7bygZn9yN31f9qPMYp9ohBt_cogVXuXY5RqcwbKF7u1H62pApJesstsN9aB0S7ACEc4XjWBf5iOmJ2kIVPV2EvtqxNtmVZ0-sIZUCU59EpY6glDCauH698lRvHz68V9QoG5E3yM4H8HSrYFyc80z0aPwHbTKPgAhk9BAGi1fdPbVWIIeZ-RNDNGblUA7Ge9xJIEdSYPaCqch54EMI8gxUrxbbzpQjviBnqGGEM-3OiFIiUQEKdTavaRmvPAcbD6Zw6KtVS_zSXYSv9Uv61UZrxC1sjjGj6KWMwRpqzI1m0EHW-0m9aHB00s8HAGz0n6cza8TgtYQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778587642,
          "updated": 1778587642,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
