{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/create?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/localCryptoKeyName-beforeeachhook-/ee8b869d8db442caa2e4b299b4c5d3f9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "wnCseSp7xk0b_T1y-wBOl07ekvAHOpYAi2rB5oaYwGTod_9Y06BTutTZcfDCBqEnMfAlmhnxCi1zlRwQjl8B1-onCq54IztYY7C27a93L6geLEVBzqUNXX1dQ7a3mnOVSoJnxBe81gyp8fP5O3lIt-Jtz9XNPX0wVM_NGVj_mrUeNbgT6phoBBiN_6Q5EEAl3JB6yH8ckZ_UfXKCNR_kYmHsET_A_Bfz77tFpvSU4i3IwpEZayy9RNIvLHPo3GQKposVKnnZTWgt1BZwjfAY_e-MD-6hN7_WPEjNUPL8Mnnmpn_-xAolY_yzzwBq-uYgb56PwID1ti6o3uh9R2hNhQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1780552018,
          "updated": 1780552018,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    }
  ],
  "Variables": {}
}
