{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions%2F8f6b6269-84f2-4d09-9e31-1127efcd1e40%2FresourceGroups%2Fexamplerg%2Fproviders%2FMicrosoft.EventGrid%2Ftopics%2Fexampletopic1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription1?api-version=2025-07-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "destination": {
            "endpointType": "AzureFunction",
            "properties": {
              "resourceId": "/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/TestRG/providers/Microsoft.Web/sites/ContosoSite/funtions/ContosoFunc"
            }
          },
          "filter": {
            "subjectBeginsWith": "ExamplePrefix",
            "subjectEndsWith": "ExampleSuffix",
            "isSubjectCaseSensitive": false
          },
          "deadLetterDestination": {
            "endpointType": "StorageBlob",
            "properties": {
              "resourceId": "/subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/TestRG/providers/Microsoft.Storage/storageAccounts/contosostg",
              "blobContainerName": "contosocontainer"
            }
          }
        }
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "SubscriptionNotFound",
          "message": "The subscription '8f6b6269-84f2-4d09-9e31-1127efcd1e40' could not be found."
        }
      }
    }
  ],
  "Variables": {}
}
