{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-70b220af-68eb-54e6-c06c-f04c4ec8e520?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B907B48C04E\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:11:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:11:11 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B907B4DEF6A\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:11:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-70b220af-68eb-54e6-c06c-f04c4ec8e520/sourceFolder/test-file-597b91a1-77a4-f494-4ed2-532b7c39b1bb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "+ophXYrsl71C0rRWaQWxZGeX+L4S2Mo+KlnfGaGddc70fzDy11QxNQDa1b+vELh02nGP54cgwCK/IzIwDX4cpF3lYenVvowSZcO9OAMKjhmgaz4vDY5H1L8OMrQhACiCvjBiyq/PnxvlfYHEYogftJQZkKI/7JfOno0qxovY8GWaO3rSqMRp0cwjSpANgnE2734fCHCFQtGZkysipNiPDYwcKScOTAzQr7/WHKIHwRsb89cNuOj1FPioORSYRyzzlD0D8VlKKKJxTlixryYuktIPB7EBgVSkJxQuZRP4N2iS4odlA9DC0Mo0nGqQQ2XSeadCiUB78hLpX8lEG8OPeBfvHsyeyY4BTDbmzOTpE+OvXOtrtq4oF/B1fKQGfrQHpSNToSWYNK8ZQDwJlSYt/0vmlb/XI8JpxwfcKE3[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-70b220af-68eb-54e6-c06c-f04c4ec8e520/sourceFolder/bar/test-file-8c41d8ea-6c59-ce62-5dbb-2a347fcec93f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-conte[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-70b220af-68eb-54e6-c06c-f04c4ec8e520/sourceFolder/pik/test-file-52423c06-2b72-2cc9-9135-ce4119c9e6c9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-conte[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:11:11 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B907B6CE95B\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:11:03 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:11:03.2720731Z",
        "x-ms-file-creation-time": "2025-04-14T20:11:03.2720731Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-14T20:11:03.2720731Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-70b220af-68eb-54e6-c06c-f04c4ec8e520?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.blob.core.windows.net/\" ContainerName=\"test-container-70b220af-68eb-54e6-c06c-f04c4ec8e520\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-8c41d8ea-6c59-ce62-5dbb-2a347fcec93f</Name><VersionId>2025-04-14T20:11:03.2024907Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:11:03 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:11:03 GMT</Last-Modified><Etag>0x8DD7B907B624B4B</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>9OOfvgnBFqCbYNrC8BstKg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Mon, 14 Apr 2025 20:11:03 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-52423c06-2b72-2cc9-9135-ce4119c9e6c9</Name><VersionId>2025-04-14T20:11:03.2413200Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:11:03 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:11:03 GMT</Last-Modified><Etag>0x8DD7B907B681134</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder/bar?sv=Sanitized&se=2025-04-15T20%3A11%3A11Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B907B7F722D\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:11:03 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:11:03.3935405Z",
        "x-ms-file-creation-time": "2025-04-14T20:11:03.3935405Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T20:11:03.3935405Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder/pik?sv=Sanitized&se=2025-04-15T20%3A11%3A11Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B907B84C361\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:11:03 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:11:03.4283873Z",
        "x-ms-file-creation-time": "2025-04-14T20:11:03.4283873Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-14T20:11:03.4283873Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder/test-file-597b91a1-77a4-f494-4ed2-532b7c39b1bb?sv=Sanitized&se=2025-04-15T20%3A11%3A11Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder/pik/test-file-52423c06-2b72-2cc9-9135-ce4119c9e6c9?sv=Sanitized&se=2025-04-15T20%3A11%3A11Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder/bar/test-file-8c41d8ea-6c59-ce62-5dbb-2a347fcec93f?sv=Sanitized&se=2025-04-15T20%3A11%3A11Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder/pik/test-file-52423c06-2b72-2cc9-9135-ce4119c9e6c9?sv=Sanitized&se=2025-04-15T20%3A11%3A11Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B907C5E7785\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:11:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:11:04.8551301Z",
        "x-ms-file-creation-time": "2025-04-14T20:11:04.8551301Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-04-14T20:11:04.8551301Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder/pik/test-file-52423c06-2b72-2cc9-9135-ce4119c9e6c9?sv=Sanitized&se=2025-04-15T20%3A11%3A11Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-70b220af-68eb-54e6-c06c-f04c4ec8e520/sourceFolder/pik/test-file-52423c06-2b72-2cc9-9135-ce4119c9e6c9",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B907C661019\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:11:04 GMT",
        "x-ms-content-crc64": "GaUtLwC3gnI=",
        "x-ms-file-last-write-time": "2025-04-14T20:11:04.9049113Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder/test-file-17979822-6392-2267-7a8b-d5f77e80ded3?sv=Sanitized&se=2025-04-15T20%3A11%3A11Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-70b220af-68eb-54e6-c06c-f04c4ec8e520/sourceFolder/test-file-17979822-6392-2267-7a8b-d5f77e80ded3",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B907C67205A\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:11:04 GMT",
        "x-ms-content-crc64": "s59RjqsJURM=",
        "x-ms-file-last-write-time": "2025-04-14T20:11:04.9118810Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder/bar/test-file-8c41d8ea-6c59-ce62-5dbb-2a347fcec93f?sv=Sanitized&se=2025-04-15T20%3A11%3A11Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-70b220af-68eb-54e6-c06c-f04c4ec8e520/sourceFolder/bar/test-file-8c41d8ea-6c59-ce62-5dbb-2a347fcec93f",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B907C6809B3\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:11:04 GMT",
        "x-ms-content-crc64": "BoRt/a/L0G0=",
        "x-ms-file-last-write-time": "2025-04-14T20:11:04.9178547Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder/pik/test-file-52423c06-2b72-2cc9-9135-ce4119c9e6c9?sv=Sanitized&se=2025-04-15T20%3A11%3A11Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B907C6A0347\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:11:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:11:04.9307975Z",
        "x-ms-file-creation-time": "2025-04-14T20:11:04.8551301Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-04-14T20:11:04.9049113Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder/test-file-17979822-6392-2267-7a8b-d5f77e80ded3?sv=Sanitized&se=2025-04-15T20%3A11%3A11Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B907C6B615A\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:11:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:11:04.9397594Z",
        "x-ms-file-creation-time": "2025-04-14T20:11:04.8670767Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-04-14T20:11:04.9118810Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder/bar/test-file-8c41d8ea-6c59-ce62-5dbb-2a347fcec93f?sv=Sanitized&se=2025-04-15T20%3A11%3A11Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B907C6C9873\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:11:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:11:04.9477235Z",
        "x-ms-file-creation-time": "2025-04-14T20:11:04.8700650Z",
        "x-ms-file-id": "13835075647468208128",
        "x-ms-file-last-write-time": "2025-04-14T20:11:04.9178547Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-70b220af-68eb-54e6-c06c-f04c4ec8e520?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "Respo[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:11:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-d107eac5-6414-9f3d-c168-d4cced596690\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-17979822-6392-2267-7a8b-d5f77e80ded3</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-597b91a1-77a4-f494-4ed2-532b7c39b1bb</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:11:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-d107eac5-6414-9f3d-c168-d4cced596690\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-8c41d8ea-6c59-ce62-5dbb-2a347fcec93f</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:11:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-d107eac5-6414-9f3d-c168-d4cced596690\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-52423c06-2b72-2cc9-9135-ce4119c9e6c9</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-70b220af-68eb-54e6-c06c-f04c4ec8e520/sourceFolder/bar/test-file-8c41d8ea-6c59-ce62-5dbb-2a347fcec93f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "9OOfvgnBFqCbYNrC8BstKg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD7B907B624B4B\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:11:03 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Mon, 14 Apr 2025 20:11:03 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 14 Apr 2025 20:11:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:11:03.2024907Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder/bar/test-file-8c41d8ea-6c59-ce62-5dbb-2a347fcec93f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:11:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B907C6C9873\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:11:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:11:04.9477235Z",
        "x-ms-file-creation-time": "2025-04-14T20:11:04.8700650Z",
        "x-ms-file-id": "13835075647468208128",
        "x-ms-file-last-write-time": "2025-04-14T20:11:04.9178547Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-70b220af-68eb-54e6-c06c-f04c4ec8e520/sourceFolder/bar/test-file-8c41d8ea-6c59-ce62-5dbb-2a347fcec93f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD7B907B624B4B\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD7B907B624B4B\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:11:03 GMT",
        "x-ms-blob-content-md5": "9OOfvgnBFqCbYNrC8BstKg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 14 Apr 2025 20:11:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder/pik/test-file-52423c06-2b72-2cc9-9135-ce4119c9e6c9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:11:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B907C6A0347\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:11:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:11:04.9307975Z",
        "x-ms-file-creation-time": "2025-04-14T20:11:04.8551301Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-04-14T20:11:04.9049113Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690/destFolder/test-file-17979822-6392-2267-7a8b-d5f77e80ded3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:11:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B907C6B615A\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:11:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:11:04.9397594Z",
        "x-ms-file-creation-time": "2025-04-14T20:11:04.8670767Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-04-14T20:11:04.9118810Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d107eac5-6414-9f3d-c168-d4cced596690?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:11:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-70b220af-68eb-54e6-c06c-f04c4ec8e520?restype=container",
      "RequestMethod": "DELETE",
[...]
