{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-e6ff117c-2fe0-941e-0986-4b0a411e9cfa?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF3744F290\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:27:00 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF374C4213\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:27:00 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-e6ff117c-2fe0-941e-0986-4b0a411e9cfa/sourceFolder/test-file-74b485d3-3406-83d3-3ad2-d4ab7258dac2?sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "Se+YlFfESJV5qec7qjJSJ0p+9rcOHeqWqa+yh7nzN9FHTmKDv0ZqtLWEQQpVoFmOK1OVzXLTdisEAuqoEcHbhnEW81zQzmcEFEICitzfQAhVJFtmXWpedNc3fr1bwqP0qLqYPq39vl3skbkv0OxOJcHiUu1ldSkHt36EmU+qqFGfDuEhRgJbWGX+esuwLqPq6Fn7eW+1jjORkYYueCQNQelnkMILLN6/hvqHZvtdV4jbmrD2ri/h6X+tkLV7Ld9A8TjiSJ7g3rt7PPJ1LSc3Mzr9Ut5zF5O5hqdDXpwoRFkbRnXDew7q+rv1enE8bLxXdVx7fdoAzdqkKML3nYAeUveYWuaydLgrE1gjfpwhfRrr6+hArcd/GnmbHlNM81061ih6pBLVpQCkT2qB3U49gquoDLGY3qQwGD9sF1Z[...]
[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-e6ff117c-2fe0-941e-0986-4b0a411e9cfa/sourceFolder/bar/test-file-a4ec8be6-4746-e014-f89d-a3eaf4ccc15b?sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-e6ff117c-2fe0-941e-0986-4b0a411e9cfa/sourceFolder/pik/test-file-b92c3cde-b8c0-25a6-975d-7440ed864f5a?sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9/destFolder?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF376E04DC\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:27:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-30T21:27:01.0017500Z",
        "x-ms-file-creation-time": "2026-04-30T21:27:01.0017500Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T21:27:01.0017500Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-e6ff117c-2fe0-941e-0986-4b0a411e9cfa?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.blob.core.windows.net/\" ContainerName=\"test-container-e6ff117c-2fe0-941e-0986-4b0a411e9cfa\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-74b485d3-3406-83d3-3ad2-d4ab7258dac2</Name><Properties><Creation-Time>Thu, 30 Apr 2026 21:27:00 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 21:27:00 GMT</Last-Modified><Etag>0x8DEA6FF37535D14</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>N4OME5ggrD7m+xCKrZhkgA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Thu, 30 Apr 2026 21:27:00 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-bb1afd79-3db3-04dc-c17e-7be04c688a85</Name><Properties><Creation-Time>Thu, 30 Apr 2026 21:27:00 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 21:27:00 GMT</Last-Modified><Etag>0x8DEA6FF3759EA18</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>TrK1H+5j2MdPst+J1oXh3g==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Thu, 30 Apr 2026 21:27:00 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9/destFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a68e31a9-c01a-007d-0de8-d81e81000000\n",
        "Time:2026-04-30T21:27:01.1346262Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9/destFolder/pik?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a68e31ab-c01a-007d-0fe8-d81e81000000\n",
        "Time:2026-04-30T21:27:01.2195172Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9/destFolder/test-file-74b485d3-3406-83d3-3ad2-d4ab7258dac2?sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-e6ff117c-2fe0-941e-0986-4b0a411e9cfa?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders":[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9/destFolder/test-file-74b485d3-3406-83d3-3ad2-d4ab7258dac2?sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF37A4B5DA\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:27:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:27:01.3601754Z",
        "x-ms-file-creation-time": "2026-04-30T21:27:01.3601754Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T21:27:01.3601754Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-e6ff117c-2fe0-941e-0986-4b0a411e9cfa?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders":[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9/destFolder/bar/test-file-a4ec8be6-4746-e014-f89d-a3eaf4ccc15b?sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9/destFolder/test-file-74b485d3-3406-83d3-3ad2-d4ab7258dac2?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amnguyesa.blob.core.windows.net/test-container-e6ff117c-2fe0-941e-0986-4b0a411e9cfa/sourceFolder/test-file-74b485d3-3406-83d3-3ad2-d4ab7258dac2?sv=sanitized-value&ss=b&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF37AF38DA\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:27:01 GMT",
        "x-ms-content-crc64": "KbBmUhxa1P4=",
        "x-ms-file-last-write-time": "2026-04-30T21:27:01.3601754Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9/destFolder/pik/test-file-b92c3cde-b8c0-25a6-975d-7440ed864f5a?sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9/destFolder/test-file-74b485d3-3406-83d3-3ad2-d4ab7258dac2?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T21:27:00.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF37B772DD\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:27:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:27:01.4829789Z",
        "x-ms-file-creation-time": "2026-04-30T21:27:00.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T21:27:01.3601754Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9/destFolder/bar/test-file-a4ec8be6-4746-e014-f89d-a3eaf4ccc15b?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amnguyesa.blob.core.windows.net/test-container-e6ff117c-2fe0-941e-0986-4b0a411e9cfa/sourceFolder/bar/test-file-a4ec8be6-4746-e014-f89d-a3eaf4ccc15b?sv=sanitized-value&ss=b&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF37CBB5E1\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:27:01 GMT",
        "x-ms-content-crc64": "l97vdzWueS4=",
        "x-ms-file-last-write-time": "2026-04-30T21:27:01.4939611Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9/destFolder/bar/test-file-a4ec8be6-4746-e014-f89d-a3eaf4ccc15b?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T21:27:00.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF37D290D9\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:27:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:27:01.6606937Z",
        "x-ms-file-creation-time": "2026-04-30T21:27:00.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2026-04-30T21:27:01.4939611Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9/destFolder/pik/test-file-b92c3cde-b8c0-25a6-975d-7440ed864f5a?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amnguyesa.blob.core.windows.net/test-container-e6ff117c-2fe0-941e-0986-4b0a411e9cfa/sourceFolder/pik/test-file-b92c3cde-b8c0-25a6-975d-7440ed864f5a?sv=sanitized-value&ss=b&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF37D2B7DB\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:27:01 GMT",
        "x-ms-content-crc64": "vtzXuqyvHTk=",
        "x-ms-file-last-write-time": "2026-04-30T21:27:01.5289049Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9/destFolder/pik/test-file-b92c3cde-b8c0-25a6-975d-7440ed864f5a?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T21:27:00.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6FF37D944D8\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:27:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T21:27:01.7046232Z",
        "x-ms-file-creation-time": "2026-04-30T21:27:00.0000000Z",
        "x-ms-file-id": "13835075647468208128",
        "x-ms-file-last-write-time": "2026-04-30T21:27:01.5289049Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-e6ff117c-2fe0-941e-0986-4b0a411e9cfa?restype=container&comp=list&prefix=sourceFolder&sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9/destFolder?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-74b485d3-3406-83d3-3ad2-d4ab7258dac2</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-bb1afd79-3db3-04dc-c17e-7be04c688a85</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9/destFolder/bar?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-a4ec8be6-4746-e014-f89d-a3eaf4ccc15b</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9/destFolder/pik?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-b92c3cde-b8c0-25a6-975d-7440ed864f5a</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-e6ff117c-2fe0-941e-0986-4b0a411e9cfa/sourceFolder/bar/test-file-a4ec8be6-4746-e014-f89d-a3eaf4ccc15b?sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "6DwaeVW0w90loA7D/odgqQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA6FF37607716\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:27:00 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Apr 2026 21:27:00 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:27:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-e6ff117c-2fe0-941e-0986-4b0a411e9cfa/sourceFolder/bar/test-file-a4ec8be6-4746-e014-f89d-a3eaf4ccc15b?sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DEA6FF37607716\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA6FF37607716\"",
        "Last-Modified": "Thu, 30 Apr 2026 21:27:00 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Apr 2026 21:27:00 GMT",
        "x-ms-blob-content-md5": "6DwaeVW0w90loA7D/odgqQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 21:27:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "UAHCxU8/sqvlRh+/lv/tL2ICQq2GL5e3c7PF9[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-83111210-00cd-f4c5-ceb1-4ce509e05fe9?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.blob.core.windows.net/test-container-e6ff117c-2fe0-941e-0986-4b0a411e9cfa?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-04-30T20%3A26%3A59Z&se=2026-04-30T22%3A26%3A59Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-04-30T14:26:59.8080073-07:00",
    "RandomSeed": "1182499556",
[...]
