{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-69e46963-b19b-88a2-f68d-19f67cd9b873?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94C02D6159E5\"",
        "Last-Modified": "Fri, 16 May 2025 21:25:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 21:25:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94C02D6C42C6\"",
        "Last-Modified": "Fri, 16 May 2025 21:25:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-69e46963-b19b-88a2-f68d-19f67cd9b873/sourceFolder/test-file-049b8499-1ca1-3feb-6590-eabb8db56d30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "53WgvV5JUDT6rOVQqsm7W6m1xFKgIeO2eYaeBbLwfdhKidMYFa/REa8t6jT+umqc4A5SDMf0wMaR6UTYqkqBCi8MBSH1okb55LOiczavt78cAiWjnXARVckNhytr+Gdlq+AE8bRIpj3IWSgUUUyP4TGEvKck3Wy/+69X6BsajetLPMhVq8YK01vn20RI/AR8fab65zy/QM50RPYE8L4irss8yBSEOTVreelMPQEnd/6r22t1IKavi/z64WbPBuKdxS15DDPv+ENwjm1TcwPMTM34WRVSrY0ljD0YiljPnHMGrnfUrmrKvOIoBZI5XBj4LpWZ1qzMSxifU4D2127rofH5TMWM951iLZwzKqj77C8kH1zCNcbGOWNfNFrq0+R0PWOgPxBSbDb3NqgQmSBwpGdQ0rcSKGsrMhJiLMN[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-69e46963-b19b-88a2-f68d-19f67cd9b873/sourceFolder/bar/test-file-2fe9985b-6b1d-394e-c82f-baf879904840",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-lang[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-69e46963-b19b-88a2-f68d-19f67cd9b873/sourceFolder/pik/test-file-efcdb111-0439-2afe-87c9-c7f67fc36065",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-lang[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 21:25:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94C02D9AE981\"",
        "Last-Modified": "Fri, 16 May 2025 21:25:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-16T21:25:27.6237185Z",
        "x-ms-file-creation-time": "2025-05-16T21:25:27.6237185Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-16T21:25:27.6237185Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-69e46963-b19b-88a2-f68d-19f67cd9b873?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-69e46963-b19b-88a2-f68d-19f67cd9b873\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-049b8499-1ca1-3feb-6590-eabb8db56d30</Name><Properties><Creation-Time>Fri, 16 May 2025 21:25:27 GMT</Creation-Time><Last-Modified>Fri, 16 May 2025 21:25:27 GMT</Last-Modified><Etag>0x8DD94C02D771142</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>H+Ax0N5aC1a+RYEiSgjD5A==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 16 May 2025 21:25:27 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-e561ff5a-e3e1-140a-659b-6afbc28c4661</Name><Properties><Creation-Time>Fri, 16 May 2025 21:25:27 GMT</Creation-Time><Last-Modified>Fri, 16 May 2025 21:25:27 GMT</Last-Modified><Etag>0x8DD94C02D8055AA</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>W3d2I33XK4SR+PxU/noJ5Q==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 16 May 2025 21:25:27 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder/bar?sv=Sanitized&se=2025-05-17T21%3A25%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94C02DB9E785\"",
        "Last-Modified": "Fri, 16 May 2025 21:25:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-16T21:25:27.8268293Z",
        "x-ms-file-creation-time": "2025-05-16T21:25:27.8268293Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-16T21:25:27.8268293Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder/pik?sv=Sanitized&se=2025-05-17T21%3A25%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94C02DC3050C\"",
        "Last-Modified": "Fri, 16 May 2025 21:25:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-16T21:25:27.8865676Z",
        "x-ms-file-creation-time": "2025-05-16T21:25:27.8865676Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-16T21:25:27.8865676Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-69e46963-b19b-88a2-f68d-19f67cd9b873?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-69e46963-b19b-88a2-f68d-19f67cd9b873?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder/test-file-e561ff5a-e3e1-140a-659b-6afbc28c4661?sv=Sanitized&se=2025-05-17T21%3A25%3A27Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder/test-file-e561ff5a-e3e1-140a-659b-6afbc28c4661?sv=Sanitized&se=2025-05-17T21%3A25%3A27Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94C02FB27046\"",
        "Last-Modified": "Fri, 16 May 2025 21:25:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T21:25:31.1333446Z",
        "x-ms-file-creation-time": "2025-05-16T21:25:31.1333446Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-16T21:25:31.1333446Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder/test-file-e561ff5a-e3e1-140a-659b-6afbc28c4661?sv=Sanitized&se=2025-05-17T21%3A25%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-69e46963-b19b-88a2-f68d-19f67cd9b873/sourceFolder/test-file-e561ff5a-e3e1-140a-659b-6afbc28c4661",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94C02FBE70BF\"",
        "Last-Modified": "Fri, 16 May 2025 21:25:31 GMT",
        "x-ms-content-crc64": "A+T0BLv8aaw=",
        "x-ms-file-last-write-time": "2025-05-16T21:25:31.2119999Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder/test-file-e561ff5a-e3e1-140a-659b-6afbc28c4661?sv=Sanitized&se=2025-05-17T21%3A25%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94C02FCB8179\"",
        "Last-Modified": "Fri, 16 May 2025 21:25:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T21:25:31.2976249Z",
        "x-ms-file-creation-time": "2025-05-16T21:25:31.1333446Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-16T21:25:31.2119999Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder/bar/test-file-2fe9985b-6b1d-394e-c82f-baf879904840?sv=Sanitized&se=2025-05-17T21%3A25%3A27Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder/pik/test-file-efcdb111-0439-2afe-87c9-c7f67fc36065?sv=Sanitized&se=2025-05-17T21%3A25%3A27Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder/bar/test-file-2fe9985b-6b1d-394e-c82f-baf879904840?sv=Sanitized&se=2025-05-17T21%3A25%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-69e46963-b19b-88a2-f68d-19f67cd9b873/sourceFolder/bar/test-file-2fe9985b-6b1d-394e-c82f-baf879904840",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94C02FF3017B\"",
        "Last-Modified": "Fri, 16 May 2025 21:25:31 GMT",
        "x-ms-content-crc64": "9u3DCdCKFrc=",
        "x-ms-file-last-write-time": "2025-05-16T21:25:31.5564923Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder/bar/test-file-2fe9985b-6b1d-394e-c82f-baf879904840?sv=Sanitized&se=2025-05-17T21%3A25%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94C02FFC1EF0\"",
        "Last-Modified": "Fri, 16 May 2025 21:25:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T21:25:31.6162288Z",
        "x-ms-file-creation-time": "2025-05-16T21:25:31.4808225Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-05-16T21:25:31.5564923Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder/pik/test-file-efcdb111-0439-2afe-87c9-c7f67fc36065?sv=Sanitized&se=2025-05-17T21%3A25%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-69e46963-b19b-88a2-f68d-19f67cd9b873/sourceFolder/pik/test-file-efcdb111-0439-2afe-87c9-c7f67fc36065",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94C03004A0DF\"",
        "Last-Modified": "Fri, 16 May 2025 21:25:31 GMT",
        "x-ms-content-crc64": "HXZAvojYvlQ=",
        "x-ms-file-last-write-time": "2025-05-16T21:25:31.6719839Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder/pik/test-file-efcdb111-0439-2afe-87c9-c7f67fc36065?sv=Sanitized&se=2025-05-17T21%3A25%3A27Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-encoding": "",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94C0300DBE6F\"",
        "Last-Modified": "Fri, 16 May 2025 21:25:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T21:25:31.7317231Z",
        "x-ms-file-creation-time": "2025-05-16T21:25:31.6002980Z",
        "x-ms-file-id": "11529250230440558592",
        "x-ms-file-last-write-time": "2025-05-16T21:25:31.6719839Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-69e46963-b19b-88a2-f68d-19f67cd9b873?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 21:25:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-049b8499-1ca1-3feb-6590-eabb8db56d30</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-e561ff5a-e3e1-140a-659b-6afbc28c4661</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 21:25:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-2fe9985b-6b1d-394e-c82f-baf879904840</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 21:25:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-efcdb111-0439-2afe-87c9-c7f67fc36065</Name><FileId>11529250230440558592</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-69e46963-b19b-88a2-f68d-19f67cd9b873/sourceFolder/bar/test-file-2fe9985b-6b1d-394e-c82f-baf879904840",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "eL8z9yOV0buTiCe2sdNPzA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94C02D88FE80\"",
        "Last-Modified": "Fri, 16 May 2025 21:25:27 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 16 May 2025 21:25:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 21:25:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder/bar/test-file-2fe9985b-6b1d-394e-c82f-baf879904840",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 21:25:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94C02FFC1EF0\"",
        "Last-Modified": "Fri, 16 May 2025 21:25:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T21:25:31.6162288Z",
        "x-ms-file-creation-time": "2025-05-16T21:25:31.4808225Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-05-16T21:25:31.5564923Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-69e46963-b19b-88a2-f68d-19f67cd9b873/sourceFolder/bar/test-file-2fe9985b-6b1d-394e-c82f-baf879904840",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD94C02D88FE80\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD94C02D88FE80\"",
        "Last-Modified": "Fri, 16 May 2025 21:25:27 GMT",
        "x-ms-blob-content-md5": "eL8z9yOV0buTiCe2sdNPzA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 16 May 2025 21:25:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "vJ7as7RUIUuJ5HeeF/FC8ZlZBDFYoJjSNODFK[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder/pik/test-file-efcdb111-0439-2afe-87c9-c7f67fc36065",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 21:25:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94C0300DBE6F\"",
        "Last-Modified": "Fri, 16 May 2025 21:25:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T21:25:31.7317231Z",
        "x-ms-file-creation-time": "2025-05-16T21:25:31.6002980Z",
        "x-ms-file-id": "11529250230440558592",
        "x-ms-file-last-write-time": "2025-05-16T21:25:31.6719839Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4d2910e8-c8aa-b0ef-29a8-f1b2cccd2deb/destFolder/test-file-049b8499-1ca1-3feb-6590-eabb8db56d30",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 May 2025 21:25:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD94C02FE52E40\"",
        "Last-Modified": "Fri, 16 May 2025 21:25:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-16T21:25:31.4658880Z",
        "x-ms-file-creation-time": "2025-05-16T21:25:31.3394416Z",
        "x-ms-file-id": "14988049928633188352",
[...]
