{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a32a2f4-69a8-2925-1a4b-908fd048e84e?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6359FA17B\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:19 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-403590a3-db54-8f57-4143-5fc492a02a70?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB635AD25BE\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:19 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a32a2f4-69a8-2925-1a4b-908fd048e84e/sourceFolder/test-file-e2c44dd9-bbc5-8fae-7be5-b5f9e300e8c6?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "0bx9WbYx/i+ZUvOOM0cfO+/MxQHqP30dUIkpFrmkD1sy7Sgmgo4Q/pypsWzIbgdwj8YZs1qx3ZE/YAgsB+h29EKXXEYf+Llhu8dlQI0QVOKCuYfyilwBgA+W5yGF4/a0MrwpMRLBUZYNuPeTS50ELgwmqk5ghGnmlts3iBCX29jQsQ7Q5yLQwGjw5NJkbjVykrkUXzmnU61SQ5o2isiGddwfwpmOM0bqVermb5+XgSilxPVWg3ufKV5gfaOImTafam/1Raub419yKgpOweMNu8JykMXSL/JhgJk7LrWjYryzRwUwoTt8CuGW5FhxUGd6UsLgFQhxzTt8lMQSYLWqz8hNm3re3RmG9YbjPEqZ7zAxwNvzwkyzQnnJsw13aqos7BSQI7TtnHWoWiCCjZDw46SU4Z/atgx8mlgAFCk[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a32a2f4-69a8-2925-1a4b-908fd048e84e/sourceFolder/bar/test-file-ff6e561c-4cef-91bf-bf10-a1f3b9ef0da9?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
       [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a32a2f4-69a8-2925-1a4b-908fd048e84e/sourceFolder/pik/test-file-1cf4b769-5cd6-e1db-1de4-f6f952dff6e8?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
       [...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-403590a3-db54-8f57-4143-5fc492a02a70/destFolder?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB635F12D69\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:23:20.1290601Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:20.1290601Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:23:20.1290601Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a32a2f4-69a8-2925-1a4b-908fd048e84e?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-9a32a2f4-69a8-2925-1a4b-908fd048e84e\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-4ad99b2f-bcbe-3afc-b8ae-02097f1fb3c8</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:23:19 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:23:19 GMT</Last-Modified><Etag>0x8DE6EB635D18531</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>cJ14NyTKL43gUB6eCQz7Kw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Wed, 18 Feb 2026 06:23:19 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-e2c44dd9-bbc5-8fae-7be5-b5f9e300e8c6</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:23:19 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:23:19 GMT</Last-Modified><Etag>0x8DE6EB635C819E3</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>DCJ7hQJ9N4RT2/NmROM+Tw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Wed, 18 Feb 2026 06:23:19 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-403590a3-db54-8f57-4143-5fc492a02a70/destFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:afaaf3a6-a01a-001e-6f9f-a04c6c000000\n",
        "Time:2026-02-18T06:23:20.3142858Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-403590a3-db54-8f57-4143-5fc492a02a70/destFolder/pik?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:afaaf3aa-a01a-001e-729f-a04c6c000000\n",
        "Time:2026-02-18T06:23:20.4298958Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a32a2f4-69a8-2925-1a4b-908fd048e84e?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-403590a3-db54-8f57-4143-5fc492a02a70/destFolder/test-file-4ad99b2f-bcbe-3afc-b8ae-02097f1fb3c8?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a32a2f4-69a8-2925-1a4b-908fd048e84e?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-403590a3-db54-8f57-4143-5fc492a02a70/destFolder/bar/test-file-ff6e561c-4cef-91bf-bf10-a1f3b9ef0da9?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-403590a3-db54-8f57-4143-5fc492a02a70/destFolder/test-file-4ad99b2f-bcbe-3afc-b8ae-02097f1fb3c8?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:23:19.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB63640EFA6\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:23:20.6517670Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:19.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-02-18T06:23:20.6517670Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-403590a3-db54-8f57-4143-5fc492a02a70/destFolder/pik/test-file-1cf4b769-5cd6-e1db-1de4-f6f952dff6e8?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-403590a3-db54-8f57-4143-5fc492a02a70/destFolder/test-file-4ad99b2f-bcbe-3afc-b8ae-02097f1fb3c8?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-9a32a2f4-69a8-2925-1a4b-908fd048e84e/sourceFolder/test-file-4ad99b2f-bcbe-3afc-b8ae-02097f1fb3c8?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6364D3DE4\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:20 GMT",
        "x-ms-content-crc64": "A7n0n2o80n8=",
        "x-ms-file-last-write-time": "2026-02-18T06:23:20.6517670Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-403590a3-db54-8f57-4143-5fc492a02a70/destFolder/bar/test-file-ff6e561c-4cef-91bf-bf10-a1f3b9ef0da9?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-9a32a2f4-69a8-2925-1a4b-908fd048e84e/sourceFolder/bar/test-file-ff6e561c-4cef-91bf-bf10-a1f3b9ef0da9?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB63652DCE6\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:20 GMT",
        "x-ms-content-crc64": "YoOL+zPGwEM=",
        "x-ms-file-last-write-time": "2026-02-18T06:23:20.7025459Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-403590a3-db54-8f57-4143-5fc492a02a70/destFolder/test-file-4ad99b2f-bcbe-3afc-b8ae-02097f1fb3c8?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:23:19.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB63655BFD6\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:23:20.7881686Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:19.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-02-18T06:23:20.6517670Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-403590a3-db54-8f57-4143-5fc492a02a70/destFolder/bar/test-file-ff6e561c-4cef-91bf-bf10-a1f3b9ef0da9?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:23:19.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6365C95FA\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:23:20.8329722Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:19.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-02-18T06:23:20.7025459Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-403590a3-db54-8f57-4143-5fc492a02a70/destFolder/pik/test-file-1cf4b769-5cd6-e1db-1de4-f6f952dff6e8?comp=range&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-9a32a2f4-69a8-2925-1a4b-908fd048e84e/sourceFolder/pik/test-file-1cf4b769-5cd6-e1db-1de4-f6f952dff6e8?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6365DCD1E\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:20 GMT",
        "x-ms-content-crc64": "89TCgrqLDlA=",
        "x-ms-file-last-write-time": "2026-02-18T06:23:20.7702476Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-403590a3-db54-8f57-4143-5fc492a02a70/destFolder/pik/test-file-1cf4b769-5cd6-e1db-1de4-f6f952dff6e8?comp=properties&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-02-18T06:23:20.0000000Z",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB63667D3F4\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:23:20.9066484Z",
        "x-ms-file-creation-time": "2026-02-18T06:23:20.0000000Z",
        "x-ms-file-id": "11529250230440558592",
        "x-ms-file-last-write-time": "2026-02-18T06:23:20.7702476Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a32a2f4-69a8-2925-1a4b-908fd048e84e?restype=container&comp=list&prefix=sourceFolder&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applicat[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-403590a3-db54-8f57-4143-5fc492a02a70/destFolder?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-403590a3-db54-8f57-4143-5fc492a02a70\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-4ad99b2f-bcbe-3afc-b8ae-02097f1fb3c8</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-e2c44dd9-bbc5-8fae-7be5-b5f9e300e8c6</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-403590a3-db54-8f57-4143-5fc492a02a70/destFolder/bar?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-403590a3-db54-8f57-4143-5fc492a02a70\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-ff6e561c-4cef-91bf-bf10-a1f3b9ef0da9</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-403590a3-db54-8f57-4143-5fc492a02a70/destFolder/pik?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-403590a3-db54-8f57-4143-5fc492a02a70\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-1cf4b769-5cd6-e1db-1de4-f6f952dff6e8</Name><FileId>11529250230440558592</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a32a2f4-69a8-2925-1a4b-908fd048e84e/sourceFolder/bar/test-file-ff6e561c-4cef-91bf-bf10-a1f3b9ef0da9?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "iGa3idHh7GgwR/sR2MR+Ig==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB635DC756D\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:19 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 18 Feb 2026 06:23:19 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:23:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a32a2f4-69a8-2925-1a4b-908fd048e84e/sourceFolder/bar/test-file-ff6e561c-4cef-91bf-bf10-a1f3b9ef0da9?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE6EB635DC756D\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB635DC756D\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:23:19 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 18 Feb 2026 06:23:19 GMT",
        "x-ms-blob-content-md5": "iGa3idHh7GgwR/sR2MR+Ig==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:23:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "60iKq7c7MzWezizWsEKlSronCMWITyTEqhpNB[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-403590a3-db54-8f57-4143-5fc492a02a70?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a32a2f4-69a8-2925-1a4b-908fd048e84e?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A23%3A19Z&se=2026-02-18T07%3A23%3A19Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-02-17T22:23:19.5782251-08:00",
    "RandomSeed": "922629141",
[...]
