{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-164d2723-3f29-23a7-27f1-db4d11f01812?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D148E5CDAAD\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:08:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:08:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D148E65F874\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:08:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-164d2723-3f29-23a7-27f1-db4d11f01812/sourceFolder/test-file-1638d858-2d5c-d8e8-ae57-23d304f3284c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "2QfIeSf0qGmenD7V7d+bCrynZoYOD0qHiGYTFSw9VLGCKfn9K68ldCFmGNKSe+Qkqvbu3JVO68q8QPHA4ZI8YEiMU8Tlnt4NgvFlqPZ39A2C7mo2T3ccMz4uQOu9ZJOOKreKBicgPgwY4Fmk6UPUREvkPvMoBhHQcB+Gtl3zTx1e130+7O7lYa9eHm4eeEr6Wvyf2SagZiOmupYImoiuJZE7RRHFlVdd/9xDyeiisvjVi1xhU3b3vnFZmDJY3ccnr/jd4jI4NcSkQtpJXJw7BAieMg8rTdEbRIega/0lBSIVGxnvxM/FnVWXvRGcrWHUHpMpuqq4/GInwp2rl8rHfj23NEGCTD852JS5lJDAf5cly0xp/Ep3XR+2xwIyGgWL0D7U5HggUdJU8OEV/mjSZ0MGhcx9XYLyQNcizIQ[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-164d2723-3f29-23a7-27f1-db4d11f01812/sourceFolder/bar/test-file-30f2a385-f3bb-351b-99e4-c3770f354ee1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-lang[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-164d2723-3f29-23a7-27f1-db4d11f01812/sourceFolder/pik/test-file-80bb7825-6fc5-4bec-752c-3c4cb3a4e88b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-lang[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:08:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D148E968499\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:08:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:08:22.9436569Z",
        "x-ms-file-creation-time": "2025-03-07T01:08:22.9436569Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:08:22.9436569Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-164d2723-3f29-23a7-27f1-db4d11f01812?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-164d2723-3f29-23a7-27f1-db4d11f01812\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-30f2a385-f3bb-351b-99e4-c3770f354ee1</Name><Properties><Creation-Time>Fri, 07 Mar 2025 01:08:22 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 01:08:22 GMT</Last-Modified><Etag>0x8DD5D148E815C30</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>mQR/QCdsbryr94TeURnsZg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 07 Mar 2025 01:08:22 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-80bb7825-6fc5-4bec-752c-3c4cb3a4e88b</Name><Properties><Creation-Time>Fri, 07 Mar 2025 01:08:22 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 01:08:22 GMT</Last-Modified><Etag>0x8DD5D148E8D35B8</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>gZDYJD231mV2eh2sEYrzyg==</Content-MD5><Cache-Control>no-cache</Cache-Control><C[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder/bar?sv=Sanitized&se=2025-03-08T01%3A08%3A22Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D148EB534AC\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:08:23 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:08:23.1447724Z",
        "x-ms-file-creation-time": "2025-03-07T01:08:23.1447724Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-07T01:08:23.1447724Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder/pik?sv=Sanitized&se=2025-03-08T01%3A08%3A22Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D148EBE7909\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:08:23 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:08:23.2055049Z",
        "x-ms-file-creation-time": "2025-03-07T01:08:23.2055049Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-03-07T01:08:23.2055049Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder/bar/test-file-30f2a385-f3bb-351b-99e4-c3770f354ee1?sv=Sanitized&se=2025-03-08T01%3A08%3A22Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder/bar/test-file-30f2a385-f3bb-351b-99e4-c3770f354ee1?sv=Sanitized&se=2025-03-08T01%3A08%3A22Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T01:08:22.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D149047F19B\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:08:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:08:25.7841563Z",
        "x-ms-file-creation-time": "2025-03-07T01:08:22.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-03-07T01:08:25.7841563Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder/bar/test-file-30f2a385-f3bb-351b-99e4-c3770f354ee1?sv=Sanitized&se=2025-03-08T01%3A08%3A22Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-164d2723-3f29-23a7-27f1-db4d11f01812/sourceFolder/bar/test-file-30f2a385-f3bb-351b-99e4-c3770f354ee1",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D149056FBE0\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:08:25 GMT",
        "x-ms-content-crc64": "fhlb8roWCoE=",
        "x-ms-file-last-write-time": "2025-03-07T01:08:25.7841563Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder/pik/test-file-80bb7825-6fc5-4bec-752c-3c4cb3a4e88b?sv=Sanitized&se=2025-03-08T01%3A08%3A22Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder/test-file-b7cfc969-d06f-d250-0346-00aa84fcd5fa?sv=Sanitized&se=2025-03-08T01%3A08%3A22Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder/bar/test-file-30f2a385-f3bb-351b-99e4-c3770f354ee1?sv=Sanitized&se=2025-03-08T01%3A08%3A22Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T01:08:22.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D14905FCB8C\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:08:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:08:25.9404684Z",
        "x-ms-file-creation-time": "2025-03-07T01:08:22.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-03-07T01:08:25.7841563Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder/test-file-b7cfc969-d06f-d250-0346-00aa84fcd5fa?sv=Sanitized&se=2025-03-08T01%3A08%3A22Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-164d2723-3f29-23a7-27f1-db4d11f01812/sourceFolder/test-file-b7cfc969-d06f-d250-0346-00aa84fcd5fa",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D14906CB54E\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:08:26 GMT",
        "x-ms-content-crc64": "Lh2DmFSWSP0=",
        "x-ms-file-last-write-time": "2025-03-07T01:08:25.9544062Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder/pik/test-file-80bb7825-6fc5-4bec-752c-3c4cb3a4e88b?sv=Sanitized&se=2025-03-08T01%3A08%3A22Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-164d2723-3f29-23a7-27f1-db4d11f01812/sourceFolder/pik/test-file-80bb7825-6fc5-4bec-752c-3c4cb3a4e88b",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D14906C8E6D\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:08:26 GMT",
        "x-ms-content-crc64": "O8wrYmFTsiY=",
        "x-ms-file-last-write-time": "2025-03-07T01:08:25.9534118Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder/pik/test-file-80bb7825-6fc5-4bec-752c-3c4cb3a4e88b?sv=Sanitized&se=2025-03-08T01%3A08%3A22Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T01:08:22.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D149075ABE5\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:08:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:08:26.0838373Z",
        "x-ms-file-creation-time": "2025-03-07T01:08:22.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-03-07T01:08:25.9534118Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder/test-file-b7cfc969-d06f-d250-0346-00aa84fcd5fa?sv=Sanitized&se=2025-03-08T01%3A08%3A22Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-03-07T01:08:22.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D149075ABE5\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:08:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:08:26.0838373Z",
        "x-ms-file-creation-time": "2025-03-07T01:08:22.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-03-07T01:08:25.9544062Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-164d2723-3f29-23a7-27f1-db4d11f01812?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:08:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-1638d858-2d5c-d8e8-ae57-23d304f3284c</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-b7cfc969-d06f-d250-0346-00aa84fcd5fa</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:08:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d\" DirectoryPath=\"destFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-30f2a385-f3bb-351b-99e4-c3770f354ee1</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:08:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-80bb7825-6fc5-4bec-752c-3c4cb3a4e88b</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-164d2723-3f29-23a7-27f1-db4d11f01812/sourceFolder/bar/test-file-30f2a385-f3bb-351b-99e4-c3770f354ee1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "mQR/QCdsbryr94TeURnsZg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D148E815C30\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:08:22 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 01:08:22 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 01:08:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder/bar/test-file-30f2a385-f3bb-351b-99e4-c3770f354ee1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:08:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D14905FCB8C\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:08:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:08:25.9404684Z",
        "x-ms-file-creation-time": "2025-03-07T01:08:22.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-03-07T01:08:25.7841563Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-164d2723-3f29-23a7-27f1-db4d11f01812/sourceFolder/bar/test-file-30f2a385-f3bb-351b-99e4-c3770f354ee1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5D148E815C30\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D148E815C30\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:08:22 GMT",
        "x-ms-blob-content-md5": "mQR/QCdsbryr94TeURnsZg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 01:08:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "A6loYsQQywibWPndHtm4umt5th6ADDqmR1sRf[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder/pik/test-file-80bb7825-6fc5-4bec-752c-3c4cb3a4e88b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:08:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D149075ABE5\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:08:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:08:26.0838373Z",
        "x-ms-file-creation-time": "2025-03-07T01:08:22.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-03-07T01:08:25.9534118Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fc7c7a50-c573-7b14-ac75-ce663fe3bd7d/destFolder/test-file-1638d858-2d5c-d8e8-ae57-23d304f3284c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:08:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D14907B23FD\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:08:26 GMT",
        "x-ms-file-attributes": "Archive",
[...]
