{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f93f8d8f-502c-2d51-6908-d818eb03cd68?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B910E1E91A1\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:15:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B910E237A74\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f93f8d8f-502c-2d51-6908-d818eb03cd68/sourceFolder/test-file-b49d5e84-54a0-0866-18e0-617bb59354e0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "5OSS0NZsiMZ4wz2w32P1SNzZUm3C6okpcLa+8ctKAtN+IpbQAIMJCCN0Yy0dPAiSukA/LPLzfPpaaWAfrZf7LsBqMbzNJEhYz0pKToZcCzOuLDeLCtbhi6WbdZYj6lqLeTVsswpLxZX351yoqC50/l0scIBfcCPpiaYXMa6xNOXvvtRR71goY2ehkyN5OOJ3J3c493nZKwkRgylkM5PnRbJ3uOpZIg8FAw0YvtwAcFDEoAo3eD1rFZLLP2wuxC/Uuk5xAn/4HQRoM/RrwG0sERPZn5OIr8x1C6NXjuOi1j7dRAOOj23RzIMGzkVI/1Qlni5ZVSWbSwqB+/bcoI8gxV22jXxpnoKlCNMQguGHLAxOMu+1SYAYQvj5DJN39Cv05QnnknHYuwCrtE1Si8kp+c/qjW6fa3zcnUuEcJHuLROnHJzYn5qadnbuCZUzxrYuzxLEjWa8VHmMC/QlVEpuvIY5qm8tUVo0Txf4sGLnqdaVVaB/KqCt68giS5SldCIrgEwP+RxHAX64jz1PxKMXpWIekP6q75LljL+nCgXFj9v1zDAV2K+6TVMixptiXiYkC6Uyh+QjgZG6KWxdoPZ48gBiWfdzAc2yY0Kqhyj2gi6Ygv9fkwj20UueW65DXa1dqtSbAAQvsQnYfyOhePlpw6Y9xR33GF74a4is1KYebwY=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "2/om5JcBjXdtcWZaRUa7xA==",
        "ETag": "\"0x8DD7B910E2A873C\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:09 GMT",
        "x-ms-content-crc64": "gFsnZHlP7BQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:15:09.4620988Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f93f8d8f-502c-2d51-6908-d818eb03cd68/sourceFolder/bar/test-file-ef914bcc-c0d3-a644-a312-8c59075ae354",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-conte[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f93f8d8f-502c-2d51-6908-d818eb03cd68/sourceFolder/pik/test-file-29d58b58-a14e-835e-46b5-eb334fbd0ee0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-conte[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e/destinationFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:15:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B910E4327D9\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:15:09.6234969Z",
        "x-ms-file-creation-time": "2025-04-14T20:15:09.6234969Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-14T20:15:09.6234969Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f93f8d8f-502c-2d51-6908-d818eb03cd68?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.blob.core.windows.net/\" ContainerName=\"test-container-f93f8d8f-502c-2d51-6908-d818eb03cd68\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-ef914bcc-c0d3-a644-a312-8c59075ae354</Name><VersionId>2025-04-14T20:15:09.5307974Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:15:09 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:15:09 GMT</Last-Modified><Etag>0x8DD7B910E3502C6</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>vg8yqdarGQLAj2GDSKWzYQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Mon, 14 Apr 2025 20:15:09 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-29d58b58-a14e-835e-46b5-eb334fbd0ee0</Name><VersionId>2025-04-14T20:15:09.5756012Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:15:09 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:15:09 GMT</Last-Modified><Etag>0x8DD7B910E3BB206</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e/destinationFolder/bar?sv=Sanitized&se=2025-04-15T20%3A15%3A17Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B910E570EAF\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:15:09.7539247Z",
        "x-ms-file-creation-time": "2025-04-14T20:15:09.7539247Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T20:15:09.7539247Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e/destinationFolder/pik?sv=Sanitized&se=2025-04-15T20%3A15%3A17Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B910E5D4947\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:15:09.7947463Z",
        "x-ms-file-creation-time": "2025-04-14T20:15:09.7947463Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-14T20:15:09.7947463Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e/destinationFolder/test-file-dc3bab74-5bf0-e7ed-f5af-891c0544613f?sv=Sanitized&se=2025-04-15T20%3A15%3A17Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e/destinationFolder/pik/test-file-29d58b58-a14e-835e-46b5-eb334fbd0ee0?sv=Sanitized&se=2025-04-15T20%3A15%3A17Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e/destinationFolder/bar/test-file-ef914bcc-c0d3-a644-a312-8c59075ae354?sv=Sanitized&se=2025-04-15T20%3A15%3A17Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e/destinationFolder/test-file-dc3bab74-5bf0-e7ed-f5af-891c0544613f?sv=Sanitized&se=2025-04-15T20%3A15%3A17Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "512",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:15:09.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B910F37243D\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:15:11.2224829Z",
        "x-ms-file-creation-time": "2025-04-14T20:15:09.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:15:11.2224829Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e/destinationFolder/test-file-dc3bab74-5bf0-e7ed-f5af-891c0544613f?sv=Sanitized&se=2025-04-15T20%3A15%3A17Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-f93f8d8f-502c-2d51-6908-d818eb03cd68/sourceFolder/test-file-dc3bab74-5bf0-e7ed-f5af-891c0544613f",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B910F3EBCD4\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:11 GMT",
        "x-ms-content-crc64": "4uDt4m82jjc=",
        "x-ms-file-last-write-time": "2025-04-14T20:15:11.2224829Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e/destinationFolder/pik/test-file-29d58b58-a14e-835e-46b5-eb334fbd0ee0?sv=Sanitized&se=2025-04-15T20%3A15%3A17Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-f93f8d8f-502c-2d51-6908-d818eb03cd68/sourceFolder/pik/test-file-29d58b58-a14e-835e-46b5-eb334fbd0ee0",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B910F4151FD\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:11 GMT",
        "x-ms-content-crc64": "NDqXTG1LHC8=",
        "x-ms-file-last-write-time": "2025-04-14T20:15:11.2404039Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e/destinationFolder/test-file-dc3bab74-5bf0-e7ed-f5af-891c0544613f?sv=Sanitized&se=2025-04-15T20%3A15%3A17Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:15:09.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B910F43C048\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:15:11.3051208Z",
        "x-ms-file-creation-time": "2025-04-14T20:15:09.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:15:11.2224829Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e/destinationFolder/pik/test-file-29d58b58-a14e-835e-46b5-eb334fbd0ee0?sv=Sanitized&se=2025-04-15T20%3A15%3A17Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:15:09.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B910F456C11\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:15:11.3160721Z",
        "x-ms-file-creation-time": "2025-04-14T20:15:09.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-04-14T20:15:11.2404039Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e/destinationFolder/bar/test-file-ef914bcc-c0d3-a644-a312-8c59075ae354?sv=Sanitized&se=2025-04-15T20%3A15%3A17Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-f93f8d8f-502c-2d51-6908-d818eb03cd68/sourceFolder/bar/test-file-ef914bcc-c0d3-a644-a312-8c59075ae354",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B910F4151FD\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:11 GMT",
        "x-ms-content-crc64": "Z+GWk2sugJk=",
        "x-ms-file-last-write-time": "2025-04-14T20:15:11.2413996Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e/destinationFolder/bar/test-file-ef914bcc-c0d3-a644-a312-8c59075ae354?sv=Sanitized&se=2025-04-15T20%3A15%3A17Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:15:09.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B910F49AD0D\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:15:11.3439501Z",
        "x-ms-file-creation-time": "2025-04-14T20:15:09.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-04-14T20:15:11.2413996Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f93f8d8f-502c-2d51-6908-d818eb03cd68?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "Respo[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e/destinationFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:15:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e\" DirectoryPath=\"destinationFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-b49d5e84-54a0-0866-18e0-617bb59354e0</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>512</Content-Length></Properties></File><File><Name>test-file-dc3bab74-5bf0-e7ed-f5af-891c0544613f</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e/destinationFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:15:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e\" DirectoryPath=\"destinationFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-ef914bcc-c0d3-a644-a312-8c59075ae354</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e/destinationFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:15:19 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e\" DirectoryPath=\"destinationFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-29d58b58-a14e-835e-46b5-eb334fbd0ee0</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f93f8d8f-502c-2d51-6908-d818eb03cd68/sourceFolder/bar/test-file-ef914bcc-c0d3-a644-a312-8c59075ae354",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "vg8yqdarGQLAj2GDSKWzYQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD7B910E3502C6\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:09 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Mon, 14 Apr 2025 20:15:09 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 14 Apr 2025 20:15:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:15:09.5307974Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e/destinationFolder/bar/test-file-ef914bcc-c0d3-a644-a312-8c59075ae354",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:15:20 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD7B910F49AD0D\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:15:11.3439501Z",
        "x-ms-file-creation-time": "2025-04-14T20:15:09.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-04-14T20:15:11.2413996Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f93f8d8f-502c-2d51-6908-d818eb03cd68/sourceFolder/bar/test-file-ef914bcc-c0d3-a644-a312-8c59075ae354",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD7B910E3502C6\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD7B910E3502C6\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:15:09 GMT",
        "x-ms-blob-content-md5": "vg8yqdarGQLAj2GDSKWzYQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 14 Apr 2025 20:15:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:15:09.5307974Z"
      },
      "ResponseBody": "x/3qFCgrpLEjtV4znFXq5aErP6IZteLLuac2DPcIjVB5mKNiTE/ZoabgzB1hEAlNJ6e43BtAOxEbH1qB9Zi5GigOugSyiJlSUZ77OejEaqmd6OVQULE1OF2RRiz1WKsOJrL1UlYFm54OZop9RQIpV7Sx4w2zacl22YGnIEJsXfjy7BI1zhdSmExGQuomt/JaZ+94Q3WdW7zofnnUXnpcoQmSiljv84icXkvBbCffUCGOTLlS8xmDVZFWTU+efTnR6aDhlC2aa3Rm2+Up3O6VCS5YRhHBCq7vDjXHmKY5/uAR8IOG/rz09OBE7Bg0WniiwEQhRjcnD9/y8YX30tLOLd0EGOxrDgpxY1ExfB2Wu7S8JdhiF7ip6eCjlAw2/CEOdr86L0GMNrI5r+Lm9pLBXDXRO636axUlWi4Lx3n9O2YvIgZeW4xyL+4lKGfVw/JN4TjXZMF0EwqqFdQTgW44O3R7ttSMYwCpXwu/1EKtUJc7veVAJtakuw/7s0a3X65/7O3zWQwewX43LQW2tT7I/MU918OI+BSe1/vEkbC68gBdP+hVuvaKHPxnCPjQ7gXQM7aBeYfq9vTYVIIRWS/NfTsFWXVWckLOs7rHIe8bzuj19F75OXl4ckjzfGV0eMPMmYu9y5WPesB0ssXMI9UFvIaZG2XR1ETBjOctYvbdWjo="
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a05b24c8-1326-84aa-5395-d557bbbdb17e/destinationFolder/pik/test-file-29d58b58-a14e-835e-46b5-eb334fbd0ee0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
[...]
