{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0cab6041-b4f1-0d99-651f-de8b37f7852a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F980A6F22F\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:43:18 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F980B0D90D\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0cab6041-b4f1-0d99-651f-de8b37f7852a/sourceFolder/test-file-d39d186d-bb22-ac89-ab1b-54c6333a2469",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "Kshwc3v1axeYPeJarfDmW2gGdZvwkYFyoXkSzsZdiaQwqptrybDt2vTulUcYG3fQbZnDHJFQuZhG/dEC4pxQO7Q9KgJUe5G4GJumAfw6WoYBQmEtmmwT3/EDJMze6/dXnlqS2vB0e/EHCgP1qbecDKNLAKA7I6FIKkoQUVbF2S2kT2OiqH+VjcdvJY9oHjY6ZxgpkutXG3q4SbClYyqbQjDWUVlT+mMjtXLYy/4R3wwU1uo9nEdBTDPp6V7P7ymd0+Jeks3c5my0Bdx4fk98pmqkkYw/XqbplAQmahAFVMZJO/gbs00+OO99iJZqyc7jbELzKl6cXXU7df3Jtnxcr7EWL0JXYPMdZVicwtUQf8s1Qv3OESlorN6C3z5PdYJzIdnlU5qMiwtP1sUF/5qgK/Uyk3N+jp2HroJj1YG[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0cab6041-b4f1-0d99-651f-de8b37f7852a/sourceFolder/bar/test-file-2e8288a4-b767-83d4-fb06-edf2e1006584",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-lang[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0cab6041-b4f1-0d99-651f-de8b37f7852a/sourceFolder/pik/test-file-3bada42e-abfe-bcd6-084b-e5619874b8d6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-lang[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:43:18 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F980E34B01\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:43:17.4997761Z",
        "x-ms-file-creation-time": "2025-05-15T21:43:17.4997761Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-15T21:43:17.4997761Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0cab6041-b4f1-0d99-651f-de8b37f7852a?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-0cab6041-b4f1-0d99-651f-de8b37f7852a\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-2e8288a4-b767-83d4-fb06-edf2e1006584</Name><Properties><Creation-Time>Thu, 15 May 2025 21:43:17 GMT</Creation-Time><Last-Modified>Thu, 15 May 2025 21:43:17 GMT</Last-Modified><Etag>0x8DD93F980D0AA7D</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>PhBPclx7Wivddh150UUk1g==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Thu, 15 May 2025 21:43:17 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-3bada42e-abfe-bcd6-084b-e5619874b8d6</Name><Properties><Creation-Time>Thu, 15 May 2025 21:43:17 GMT</Creation-Time><Last-Modified>Thu, 15 May 2025 21:43:17 GMT</Last-Modified><Etag>0x8DD93F980D92C71</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>PEkdM1zRK0rgE/tLo9/Vyg==</Content-MD5><Cache-Control>no-cache</Cache-Control><C[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder/bar?sv=Sanitized&se=2025-05-16T21%3A43%3A18Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F981080ED8\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:43:17.7407192Z",
        "x-ms-file-creation-time": "2025-05-15T21:43:17.7407192Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:43:17.7407192Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder/pik?sv=Sanitized&se=2025-05-16T21%3A43%3A18Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F98112637D\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:43:17.8084221Z",
        "x-ms-file-creation-time": "2025-05-15T21:43:17.8084221Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-15T21:43:17.8084221Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder/bar/test-file-2e8288a4-b767-83d4-fb06-edf2e1006584?sv=Sanitized&se=2025-05-16T21%3A43%3A18Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder/pik/test-file-3bada42e-abfe-bcd6-084b-e5619874b8d6?sv=Sanitized&se=2025-05-16T21%3A43%3A18Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder/test-file-2e065fcf-fa84-2476-c053-f42b2306eba9?sv=Sanitized&se=2025-05-16T21%3A43%3A18Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder/bar/test-file-2e8288a4-b767-83d4-fb06-edf2e1006584?sv=Sanitized&se=2025-05-16T21%3A43%3A18Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:43:17.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F98365C4CF\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:43:21.7103055Z",
        "x-ms-file-creation-time": "2025-05-15T21:43:17.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-05-15T21:43:21.7103055Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder/bar/test-file-2e8288a4-b767-83d4-fb06-edf2e1006584?sv=Sanitized&se=2025-05-16T21%3A43%3A18Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-0cab6041-b4f1-0d99-651f-de8b37f7852a/sourceFolder/bar/test-file-2e8288a4-b767-83d4-fb06-edf2e1006584",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F983737115\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:21 GMT",
        "x-ms-content-crc64": "BP5brzUxbF0=",
        "x-ms-file-last-write-time": "2025-05-15T21:43:21.7103055Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder/test-file-2e065fcf-fa84-2476-c053-f42b2306eba9?sv=Sanitized&se=2025-05-16T21%3A43%3A18Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-0cab6041-b4f1-0d99-651f-de8b37f7852a/sourceFolder/test-file-2e065fcf-fa84-2476-c053-f42b2306eba9",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9837F718A\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:21 GMT",
        "x-ms-content-crc64": "ZThMDmPyfCQ=",
        "x-ms-file-last-write-time": "2025-05-15T21:43:21.7411701Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder/pik/test-file-3bada42e-abfe-bcd6-084b-e5619874b8d6?sv=Sanitized&se=2025-05-16T21%3A43%3A18Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-0cab6041-b4f1-0d99-651f-de8b37f7852a/sourceFolder/pik/test-file-3bada42e-abfe-bcd6-084b-e5619874b8d6",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F983800D1B\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:21 GMT",
        "x-ms-content-crc64": "ql4CN4olgoU=",
        "x-ms-file-last-write-time": "2025-05-15T21:43:21.7381832Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder/bar/test-file-2e8288a4-b767-83d4-fb06-edf2e1006584?sv=Sanitized&se=2025-05-16T21%3A43%3A18Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:43:17.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F983811D59\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:43:21.8895193Z",
        "x-ms-file-creation-time": "2025-05-15T21:43:17.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-05-15T21:43:21.7103055Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder/test-file-2e065fcf-fa84-2476-c053-f42b2306eba9?sv=Sanitized&se=2025-05-16T21%3A43%3A18Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:43:17.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9838AD66E\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:43:21.9532398Z",
        "x-ms-file-creation-time": "2025-05-15T21:43:17.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-15T21:43:21.7411701Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder/pik/test-file-3bada42e-abfe-bcd6-084b-e5619874b8d6?sv=Sanitized&se=2025-05-16T21%3A43%3A18Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:43:17.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9838AD66E\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:43:21.9532398Z",
        "x-ms-file-creation-time": "2025-05-15T21:43:17.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-05-15T21:43:21.7381832Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0cab6041-b4f1-0d99-651f-de8b37f7852a?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:43:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-f502f83f-02b0-b017-8298-edd8506f88ec\" DirectoryPath=\"destinationFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-2e065fcf-fa84-2476-c053-f42b2306eba9</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-d39d186d-bb22-ac89-ab1b-54c6333a2469</Name><FileId>11529250230440558592</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:43:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-f502f83f-02b0-b017-8298-edd8506f88ec\" DirectoryPath=\"destinationFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-2e8288a4-b767-83d4-fb06-edf2e1006584</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:43:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-f502f83f-02b0-b017-8298-edd8506f88ec\" DirectoryPath=\"destinationFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-3bada42e-abfe-bcd6-084b-e5619874b8d6</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0cab6041-b4f1-0d99-651f-de8b37f7852a/sourceFolder/bar/test-file-2e8288a4-b767-83d4-fb06-edf2e1006584",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "PhBPclx7Wivddh150UUk1g==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD93F980D0AA7D\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:17 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 15 May 2025 21:43:17 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 May 2025 21:43:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder/bar/test-file-2e8288a4-b767-83d4-fb06-edf2e1006584",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:43:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD93F983811D59\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:43:21.8895193Z",
        "x-ms-file-creation-time": "2025-05-15T21:43:17.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-05-15T21:43:21.7103055Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0cab6041-b4f1-0d99-651f-de8b37f7852a/sourceFolder/bar/test-file-2e8288a4-b767-83d4-fb06-edf2e1006584",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD93F980D0AA7D\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD93F980D0AA7D\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:17 GMT",
        "x-ms-blob-content-md5": "PhBPclx7Wivddh150UUk1g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 May 2025 21:43:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "VW6HgJgInl4Ggc7PQ6SUOSHo7f5t46iEtr8dG[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder/pik/test-file-3bada42e-abfe-bcd6-084b-e5619874b8d6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:43:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD93F9838AD66E\"",
        "Last-Modified": "Thu, 15 May 2025 21:43:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:43:21.9532398Z",
        "x-ms-file-creation-time": "2025-05-15T21:43:17.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-05-15T21:43:21.7381832Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f502f83f-02b0-b017-8298-edd8506f88ec/destinationFolder/test-file-2e065fcf-fa84-2476-c053-f42b2306eba9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:43:24 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD93F9838AD66E\"",
[...]
