{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c61327b1-6c0c-3074-2670-2f5d5eae030f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD514045FB17E9\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:51:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51404604AA0D\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7/destPrefix?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:51:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140460D9643\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:51:05.1530819Z",
        "x-ms-file-creation-time": "2025-02-19T23:51:05.1530819Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-19T23:51:05.1530819Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c61327b1-6c0c-3074-2670-2f5d5eae030f/sourceFolder/test-file-0b7de8fc-3b4c-9555-3af4-86cab839d3e3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "MJJTlCqeOwq/eU4mpZQM8wdEdEzWn6Z3R8p/PfaNW9ztsviYXue6Xq1zS9PtLvCl55LDdMSGDZDs201gHv4UMR1xOPKbc5UgihafY1PTihja2VVjyucXZqVorIKaWj+uXxq1e/X9CXT8ouqu56k9GFA0hUSpsGY2WtFNM8cShTDW8AQ5Hg8i3NDhZyf9aX77KpQxZdT7Ba6zfyEjsNat6R251/elA/pBEah0yEk/OfBTUQgy4SBb2+tVhp7u/yz6NH0KQ5GHVieZ8FMrhjxlc0Uw0F/Negj8XvwMT3xbUxJ8epTLNPVey/rhmfHNL1Su8BJZvi7MLLl1DuWVewaqPp1Arwuomj9Q0QVk6+AXLy6nXV9qApXkr03aViYQyVD0NlpUjIBJBVbSCewpaEDYXt+27R2mQDwHXP++zkM[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c61327b1-6c0c-3074-2670-2f5d5eae030f/sourceFolder/bar/test-file-8bcbab5e-071a-d00c-d78e-5a440af6c4ab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-la[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c61327b1-6c0c-3074-2670-2f5d5eae030f/sourceFolder/pik/test-file-db7af91e-a693-e823-2d6b-a51eb1eea922",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-la[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c61327b1-6c0c-3074-2670-2f5d5eae030f?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-c61327b1-6c0c-3074-2670-2f5d5eae030f\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-8bcbab5e-071a-d00c-d78e-5a440af6c4ab</Name><VersionId>2025-02-19T23:51:05.3051431Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:51:05 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:51:05 GMT</Last-Modified><Etag>0x8DD51404624CA27</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>HwZ/mFJCybHK9xpTl5aEUA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Wed, 19 Feb 2025 23:51:05 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Wed, 19 Feb 2025 23:51:05 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-db7af91e-a693-e823-2d6b-a51eb1eea922</Name><VersionId>2025-02-19T23:51:05.3611109Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:51:05 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:51:05 GMT</Last-Modified><Etag>0x8DD5140462D5465</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7/destPrefix/bar?sv=Sanitized&se=2025-02-20T23%3A51%3A05Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140464121DC\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:51:05.4908892Z",
        "x-ms-file-creation-time": "2025-02-19T23:51:05.4908892Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-19T23:51:05.4908892Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7/destPrefix/pik?sv=Sanitized&se=2025-02-20T23%3A51%3A05Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51404647D7A1\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:51:05.5348641Z",
        "x-ms-file-creation-time": "2025-02-19T23:51:05.5348641Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-02-19T23:51:05.5348641Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7/destPrefix/bar/test-file-8bcbab5e-071a-d00c-d78e-5a440af6c4ab?sv=Sanitized&se=2025-02-20T23%3A51%3A05Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:51:05.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140475A57FB\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:51:07.3338363Z",
        "x-ms-file-creation-time": "2025-02-19T23:51:05.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:51:07.3338363Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7/destPrefix/bar/test-file-8bcbab5e-071a-d00c-d78e-5a440af6c4ab?sv=Sanitized&se=2025-02-20T23%3A51%3A05Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-c61327b1-6c0c-3074-2670-2f5d5eae030f/sourceFolder/bar/test-file-8bcbab5e-071a-d00c-d78e-5a440af6c4ab",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140476579EA\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:07 GMT",
        "x-ms-content-crc64": "AB/5hD06reE=",
        "x-ms-file-last-write-time": "2025-02-19T23:51:07.3338363Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7/destPrefix/pik/test-file-db7af91e-a693-e823-2d6b-a51eb1eea922?sv=Sanitized&se=2025-02-20T23%3A51%3A05Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-l[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7/destPrefix/test-file-9ba968de-a8c5-f0d2-d29c-999381be3735?sv=Sanitized&se=2025-02-20T23%3A51%3A05Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-lengt[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7/destPrefix/bar/test-file-8bcbab5e-071a-d00c-d78e-5a440af6c4ab?sv=Sanitized&se=2025-02-20T23%3A51%3A05Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:51:05.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140476C2FAB\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:51:07.4507691Z",
        "x-ms-file-creation-time": "2025-02-19T23:51:05.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:51:07.3338363Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7/destPrefix/pik/test-file-db7af91e-a693-e823-2d6b-a51eb1eea922?sv=Sanitized&se=2025-02-20T23%3A51%3A05Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-c61327b1-6c0c-3074-2670-2f5d5eae030f/sourceFolder/pik/test-file-db7af91e-a693-e823-2d6b-a51eb1eea922",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140476F3C7D\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:07 GMT",
        "x-ms-content-crc64": "B0SQH1qAtNc=",
        "x-ms-file-last-write-time": "2025-02-19T23:51:07.4107920Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7/destPrefix/test-file-9ba968de-a8c5-f0d2-d29c-999381be3735?sv=Sanitized&se=2025-02-20T23%3A51%3A05Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-c61327b1-6c0c-3074-2670-2f5d5eae030f/sourceFolder/test-file-9ba968de-a8c5-f0d2-d29c-999381be3735",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140477492E1\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:07 GMT",
        "x-ms-content-crc64": "JUehkMH07oE=",
        "x-ms-file-last-write-time": "2025-02-19T23:51:07.4437732Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7/destPrefix/pik/test-file-db7af91e-a693-e823-2d6b-a51eb1eea922?sv=Sanitized&se=2025-02-20T23%3A51%3A05Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:51:05.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD51404775CB39\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:51:07.5137337Z",
        "x-ms-file-creation-time": "2025-02-19T23:51:05.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-02-19T23:51:07.4107920Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7/destPrefix/test-file-9ba968de-a8c5-f0d2-d29c-999381be3735?sv=Sanitized&se=2025-02-20T23%3A51%3A05Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:51:05.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5140477AD38B\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:51:07.5467147Z",
        "x-ms-file-creation-time": "2025-02-19T23:51:05.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-02-19T23:51:07.4437732Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c61327b1-6c0c-3074-2670-2f5d5eae030f?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBo[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7/destPrefix?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:51:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7\" DirectoryPath=\"destPrefix\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-0b7de8fc-3b4c-9555-3af4-86cab839d3e3</Name><FileId>11529320599184736256</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-9ba968de-a8c5-f0d2-d29c-999381be3735</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7/destPrefix/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:51:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7\" DirectoryPath=\"destPrefix/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-8bcbab5e-071a-d00c-d78e-5a440af6c4ab</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7/destPrefix/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:51:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7\" DirectoryPath=\"destPrefix/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-db7af91e-a693-e823-2d6b-a51eb1eea922</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c61327b1-6c0c-3074-2670-2f5d5eae030f/sourceFolder/bar/test-file-8bcbab5e-071a-d00c-d78e-5a440af6c4ab",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "HwZ/mFJCybHK9xpTl5aEUA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD51404624CA27\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:05 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 19 Feb 2025 23:51:05 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 19 Feb 2025 23:51:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 19 Feb 2025 23:51:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:51:05.3051431Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7/destPrefix/bar/test-file-8bcbab5e-071a-d00c-d78e-5a440af6c4ab",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:51:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5140476C2FAB\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:51:07.4507691Z",
        "x-ms-file-creation-time": "2025-02-19T23:51:05.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:51:07.3338363Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-c61327b1-6c0c-3074-2670-2f5d5eae030f/sourceFolder/bar/test-file-8bcbab5e-071a-d00c-d78e-5a440af6c4ab",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD51404624CA27\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD51404624CA27\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:05 GMT",
        "x-ms-blob-content-md5": "HwZ/mFJCybHK9xpTl5aEUA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 19 Feb 2025 23:51:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 19 Feb 2025 23:51:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7/destPrefix/pik/test-file-db7af91e-a693-e823-2d6b-a51eb1eea922",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:51:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD51404775CB39\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:51:07.5137337Z",
        "x-ms-file-creation-time": "2025-02-19T23:51:05.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-02-19T23:51:07.4107920Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-99305de9-8bc5-ce58-cc51-d831b15ea7a7/destPrefix/test-file-0b7de8fc-3b4c-9555-3af4-86cab839d3e3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:51:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD51404781D75F\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:51:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:51:07.5926879Z",
        "x-ms-file-creation-time": "2025-02-19T23:51:05.0000000Z",
        "x-ms-file-id": "11529320599184736256",
        "x-ms-file-last-write-time": "2025-02-19T23:51:07.4887474Z",
        "x-ms-file-parent-id": "13835128424026341376",
[...]
