{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cb30e1ff-6daa-9b0f-ca72-64f5032175f5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E814CAC9D\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:27 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:26 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E81549FD9\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:27 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cb30e1ff-6daa-9b0f-ca72-64f5032175f5/sourceFolder/foo/test-file-e64dcd78-5a28-610d-6401-ca5cb9b655a9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "Gm7Y6rZvjU+hlJwvVyIShBTJ89kJmI7C2Ofe/yEzeOolZQK3I0fECD/+RJS93QlC7kVI8MN7n4LgFhLPkY4ubRyyCfIfW2HMBeqZC1P6BPrdmxHb64gnqcWA1ww19Xexz9Z3C9MXIpPke+rZ4pQu5RIX8fV9U4KTi18tn4NUlhBz6Dx9gvkmxnl993CdTccxUvH6HQOCM3tU5H906oMPj+TaZflXsGMY8Ct8/1wS9j2X/E2RWXkM8LTAKZ55stv2bmeLwujO2aGO4i3YBjQfQu5C3O41fTZrzXVEl4fFnj1PhZH0hjNVySKrA3dLNOqAoOavN9btwPAwH/VyikIZyEPviICjKru77RPLiXm/IJmKw/agFWdnYcWgw2c+4j7gkjszXKxq3HYr9ErCIjZ2cf9b6MZMeLLciCe6AmZ[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cb30e1ff-6daa-9b0f-ca72-64f5032175f5/sourceFolder/rul/test-file-c876c97c-cc13-49f0-76b6-a919a07f3ce1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-lang[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cb30e1ff-6daa-9b0f-ca72-64f5032175f5/sourceFolder/pik/test-file-2f3412fd-81ca-b8b1-3c2e-4f5476c1e894",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-lang[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:26 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E8175C8DE\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-30T23:16:27.6549854Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:27.6549854Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T23:16:27.6549854Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11213973173494923372*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cb30e1ff-6daa-9b0f-ca72-64f5032175f5?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-cb30e1ff-6daa-9b0f-ca72-64f5032175f5\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/foo/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/rul/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder/foo?sv=Sanitized&se=2026-05-01T23%3A16%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a56d5e14-501a-007f-2af7-d8a039000000\n",
        "Time:2026-04-30T23:16:27.7651802Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder/pik?sv=Sanitized&se=2026-05-01T23%3A16%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a56d5e16-501a-007f-2cf7-d8a039000000\n",
        "Time:2026-04-30T23:16:27.8529593Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder/rul?sv=Sanitized&se=2026-05-01T23%3A16%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a56d5e18-501a-007f-2ef7-d8a039000000\n",
        "Time:2026-04-30T23:16:27.9411543Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cb30e1ff-6daa-9b0f-ca72-64f5032175f5?restype=container&comp=list&prefix=sourceFolder%2Ffoo%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-cb30e1ff-6daa-9b0f-ca72-64f5032175f5\"><Prefix>sourceFolder/foo/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>sourceFolder/foo/test-file-e64dcd78-5a28-610d-6401-ca5cb9b655a9</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:16:27 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:16:27 GMT</Last-Modified><Etag>0x8DEA70E815D1469</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>D+5QFafXTWnGih+aLIq9XQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Thu, 30 Apr 2026 23:16:27 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cb30e1ff-6daa-9b0f-ca72-64f5032175f5?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cb30e1ff-6daa-9b0f-ca72-64f5032175f5?restype=container&comp=list&prefix=sourceFolder%2Frul%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder/foo/test-file-e64dcd78-5a28-610d-6401-ca5cb9b655a9?sv=Sanitized&se=2026-05-01T23%3A16%3A26Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder/foo/test-file-e64dcd78-5a28-610d-6401-ca5cb9b655a9?sv=Sanitized&se=2026-05-01T23%3A16%3A26Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E82EBCA76\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:16:30.1060726Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:30.1060726Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-04-30T23:16:30.1060726Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder/rul/test-file-c876c97c-cc13-49f0-76b6-a919a07f3ce1?sv=Sanitized&se=2026-05-01T23%3A16%3A26Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder/foo/test-file-e64dcd78-5a28-610d-6401-ca5cb9b655a9?sv=Sanitized&se=2026-05-01T23%3A16%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-cb30e1ff-6daa-9b0f-ca72-64f5032175f5/sourceFolder/foo/test-file-e64dcd78-5a28-610d-6401-ca5cb9b655a9",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E82FAD319\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:30 GMT",
        "x-ms-content-crc64": "VcpcLcCBpVg=",
        "x-ms-file-last-write-time": "2026-04-30T23:16:30.1060726Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder/foo/test-file-e64dcd78-5a28-610d-6401-ca5cb9b655a9?sv=Sanitized&se=2026-05-01T23%3A16%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:16:27.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E83013919\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:16:30.2465305Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:27.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-04-30T23:16:30.1060726Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder/rul/test-file-c876c97c-cc13-49f0-76b6-a919a07f3ce1?sv=Sanitized&se=2026-05-01T23%3A16%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-cb30e1ff-6daa-9b0f-ca72-64f5032175f5/sourceFolder/rul/test-file-c876c97c-cc13-49f0-76b6-a919a07f3ce1",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E830F0E91\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:30 GMT",
        "x-ms-content-crc64": "sM9jan0vT+0=",
        "x-ms-file-last-write-time": "2026-04-30T23:16:30.2365465Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder/pik/test-file-2f3412fd-81ca-b8b1-3c2e-4f5476c1e894?sv=Sanitized&se=2026-05-01T23%3A16%3A26Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder/rul/test-file-c876c97c-cc13-49f0-76b6-a919a07f3ce1?sv=Sanitized&se=2026-05-01T23%3A16%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:16:27.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E83157492\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:16:30.3791250Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:27.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-04-30T23:16:30.2365465Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder/pik/test-file-2f3412fd-81ca-b8b1-3c2e-4f5476c1e894?sv=Sanitized&se=2026-05-01T23%3A16%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-cb30e1ff-6daa-9b0f-ca72-64f5032175f5/sourceFolder/pik/test-file-2f3412fd-81ca-b8b1-3c2e-4f5476c1e894",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E8325C193\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:30 GMT",
        "x-ms-content-crc64": "X4tKPfjbjuQ=",
        "x-ms-file-last-write-time": "2026-04-30T23:16:30.3891091Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder/pik/test-file-2f3412fd-81ca-b8b1-3c2e-4f5476c1e894?sv=Sanitized&se=2026-05-01T23%3A16%3A26Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:16:27.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E832C4E8D\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:16:30.5288845Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:27.0000000Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2026-04-30T23:16:30.3891091Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cb30e1ff-6daa-9b0f-ca72-64f5032175f5?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:29 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>foo</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>rul</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:29 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f\" DirectoryPath=\"destFolder/foo\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-e64dcd78-5a28-610d-6401-ca5cb9b655a9</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:29 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-2f3412fd-81ca-b8b1-3c2e-4f5476c1e894</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder/rul?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:30 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f\" DirectoryPath=\"destFolder/rul\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-c876c97c-cc13-49f0-76b6-a919a07f3ce1</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cb30e1ff-6daa-9b0f-ca72-64f5032175f5/sourceFolder/foo/test-file-e64dcd78-5a28-610d-6401-ca5cb9b655a9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "D+5QFafXTWnGih+aLIq9XQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70E815D1469\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:27 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Apr 2026 23:16:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 23:16:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-4c3aa4c7-fda2-fc23-0099-25f5d0ffb38f/destFolder/foo/test-file-e64dcd78-5a28-610d-6401-ca5cb9b655a9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:30 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70E83013919\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:16:30.2465305Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:27.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-04-30T23:16:30.1060726Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cb30e1ff-6daa-9b0f-ca72-64f5032175f5/sourceFolder/foo/test-file-e64dcd78-5a28-610d-6401-ca5cb9b655a9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DEA70E815D1469\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70E815D1469\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:27 GMT",
        "x-ms-access-tier": "Cold",
[...]
