{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fdd524af-d1d4-8f0d-5aec-c4c735f3fbb5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70EC2684983\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:18:16 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:18:15 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70EC2700C6F\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:18:16 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fdd524af-d1d4-8f0d-5aec-c4c735f3fbb5/sourceFolder/folder0/test-file-34bb4ea6-aff2-e0bc-e2ee-f1206e751813",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "mZxYi149n4TSsQ3w0+ENAQecgR8nvbWOsdHS3Bkw/dClhYqLB5zUaK43YkGhzAwA4PAZ0vP469znydmNa8NrobM9Sk1Xgvlqxxlx71pz7OTE0fsoFyvdrJqtoz3CRvzrzMCOZIG/qV33rwrZh/yBc931yZrHQoqIYJ6zqt+7p4EchSOa5YhiBCedMWcgAySdKy9gzX1iI4k2BgPjDP9+OweJvQLY545UksRyKRAiZ1x6FX6vW9oDumKZY9+Ef/coH/Zfl0YixUOgCzq47/l5E56nafeAz98thQKfP4OvzxPMSgoaw9AWV1A7Dk+fS8poIFBA3RUAqE8WMRFDgoW/8Tsm66XuXlDOkRGnRcCQjjo4Nh8zbvL+zKK7BJG/0tXKexwTeV8kesEAckwDWWKOhqPWC0tmjIJJKB8DM1q[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fdd524af-d1d4-8f0d-5aec-c4c735f3fbb5/sourceFolder/folder0/folder1/test-file-d4a98a17-7141-a4b1-556c-fe39edbd2894",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fdd524af-d1d4-8f0d-5aec-c4c735f3fbb5/sourceFolder/folder0/folder1/folder2/test-file-168fecb3-242f-8b85-0a47-bbaef2fc11b5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:18:15 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70EC28FD33F\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:18:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-30T23:18:16.8775487Z",
        "x-ms-file-creation-time": "2026-04-30T23:18:16.8775487Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T23:18:16.8775487Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11213973173494923372*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fdd524af-d1d4-8f0d-5aec-c4c735f3fbb5?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-fdd524af-d1d4-8f0d-5aec-c4c735f3fbb5\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder/folder0?sv=Sanitized&se=2026-05-01T23%3A18%3A15Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a56d6097-501a-007f-7bf7-d8a039000000\n",
        "Time:2026-04-30T23:18:16.9850212Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fdd524af-d1d4-8f0d-5aec-c4c735f3fbb5?restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-fdd524af-d1d4-8f0d-5aec-c4c735f3fbb5\"><Prefix>sourceFolder/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/folder1/</Name></BlobPrefix><Blob><Name>sourceFolder/folder0/test-file-34bb4ea6-aff2-e0bc-e2ee-f1206e751813</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:18:16 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:18:16 GMT</Last-Modified><Etag>0x8DEA70EC277E0A0</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>rVs4mnhnHE8wlUAJMSIoSA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Thu, 30 Apr 2026 23:18:16 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder/folder0/folder1?sv=Sanitized&se=2026-05-01T23%3A18%3A15Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a56d609b-501a-007f-7ff7-d8a039000000\n",
        "Time:2026-04-30T23:18:17.1188086Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fdd524af-d1d4-8f0d-5aec-c4c735f3fbb5?restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder/folder0/folder1/folder2?sv=Sanitized&se=2026-05-01T23%3A18%3A15Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a56d609e-501a-007f-02f7-d8a039000000\n",
        "Time:2026-04-30T23:18:17.2615870Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fdd524af-d1d4-8f0d-5aec-c4c735f3fbb5?restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2Ffolder2%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
 [...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder/folder0/test-file-34bb4ea6-aff2-e0bc-e2ee-f1206e751813?sv=Sanitized&se=2026-05-01T23%3A18%3A15Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder/folder0/test-file-34bb4ea6-aff2-e0bc-e2ee-f1206e751813?sv=Sanitized&se=2026-05-01T23%3A18%3A15Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70EC3EF140F\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:18:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:18:19.1795215Z",
        "x-ms-file-creation-time": "2026-04-30T23:18:19.1795215Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-04-30T23:18:19.1795215Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder/folder0/test-file-34bb4ea6-aff2-e0bc-e2ee-f1206e751813?sv=Sanitized&se=2026-05-01T23%3A18%3A15Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-fdd524af-d1d4-8f0d-5aec-c4c735f3fbb5/sourceFolder/folder0/test-file-34bb4ea6-aff2-e0bc-e2ee-f1206e751813",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70EC3FE020F\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:18:19 GMT",
        "x-ms-content-crc64": "XWNVUFq13WQ=",
        "x-ms-file-last-write-time": "2026-04-30T23:18:19.1795215Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder/folder0/test-file-34bb4ea6-aff2-e0bc-e2ee-f1206e751813?sv=Sanitized&se=2026-05-01T23%3A18%3A15Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:18:16.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70EC4044111\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:18:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:18:19.3182993Z",
        "x-ms-file-creation-time": "2026-04-30T23:18:16.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-04-30T23:18:19.1795215Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder/folder0/folder1/folder2/test-file-168fecb3-242f-8b85-0a47-bbaef2fc11b5?sv=Sanitized&se=2026-05-01T23%3A18%3A15Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder/folder0/folder1/test-file-d4a98a17-7141-a4b1-556c-fe39edbd2894?sv=Sanitized&se=2026-05-01T23%3A18%3A15Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder/folder0/folder1/folder2/test-file-168fecb3-242f-8b85-0a47-bbaef2fc11b5?sv=Sanitized&se=2026-05-01T23%3A18%3A15Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-fdd524af-d1d4-8f0d-5aec-c4c735f3fbb5/sourceFolder/folder0/folder1/folder2/test-file-168fecb3-242f-8b85-0a47-bbaef2fc11b5",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70EC45671D3\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:18:19 GMT",
        "x-ms-content-crc64": "ERNXUA76FzY=",
        "x-ms-file-last-write-time": "2026-04-30T23:18:19.7625863Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder/folder0/folder1/folder2/test-file-168fecb3-242f-8b85-0a47-bbaef2fc11b5?sv=Sanitized&se=2026-05-01T23%3A18%3A15Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:18:16.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70EC45CB0E2\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:18:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:18:19.8978786Z",
        "x-ms-file-creation-time": "2026-04-30T23:18:16.0000000Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2026-04-30T23:18:19.7625863Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder/folder0/folder1/test-file-d4a98a17-7141-a4b1-556c-fe39edbd2894?sv=Sanitized&se=2026-05-01T23%3A18%3A15Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-fdd524af-d1d4-8f0d-5aec-c4c735f3fbb5/sourceFolder/folder0/folder1/test-file-d4a98a17-7141-a4b1-556c-fe39edbd2894",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70EC46253D6\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:18:19 GMT",
        "x-ms-content-crc64": "6dqGti6LMpA=",
        "x-ms-file-last-write-time": "2026-04-30T23:18:19.8379731Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder/folder0/folder1/test-file-d4a98a17-7141-a4b1-556c-fe39edbd2894?sv=Sanitized&se=2026-05-01T23%3A18%3A15Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:18:16.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70EC4695600\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:18:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:18:19.9807488Z",
        "x-ms-file-creation-time": "2026-04-30T23:18:16.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-04-30T23:18:19.8379731Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fdd524af-d1d4-8f0d-5aec-c4c735f3fbb5?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:18:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-5224e84c-3d4f-879d-f68b-4495f810f26a\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:18:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-5224e84c-3d4f-879d-f68b-4495f810f26a\" DirectoryPath=\"destFolder/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-34bb4ea6-aff2-e0bc-e2ee-f1206e751813</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:18:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-5224e84c-3d4f-879d-f68b-4495f810f26a\" DirectoryPath=\"destFolder/folder0/folder1\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>folder2</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-d4a98a17-7141-a4b1-556c-fe39edbd2894</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder/folder0/folder1/folder2?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:18:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-5224e84c-3d4f-879d-f68b-4495f810f26a\" DirectoryPath=\"destFolder/folder0/folder1/folder2\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-168fecb3-242f-8b85-0a47-bbaef2fc11b5</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fdd524af-d1d4-8f0d-5aec-c4c735f3fbb5/sourceFolder/folder0/folder1/folder2/test-file-168fecb3-242f-8b85-0a47-bbaef2fc11b5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "bQ4FtavM8tcoYlpcJzA+bg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70EC2882213\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:18:16 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Apr 2026 23:18:16 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 23:18:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-5224e84c-3d4f-879d-f68b-4495f810f26a/destFolder/folder0/folder1/folder2/test-file-168fecb3-242f-8b85-0a47-bbaef2fc11b5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:18:19 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70EC45CB0E2\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:18:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:18:19.8978786Z",
        "x-ms-file-creation-time": "2026-04-30T23:18:16.0000000Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2026-04-30T23:18:19.7625863Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fdd524af-d1d4-8f0d-5aec-c4c735f3fbb5/sourceFolder/folder0/folder1/folder2/test-file-168fecb3-242f-8b85-0a47-bbaef2fc11b5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DEA70EC2882213\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
[...]
