{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4e5ff0ee-02d1-7bfd-c1ee-939570dac63b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB11BF10D21AB\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:49 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3b52aa27-1a1a-3dff-1f3f-f253011418bd?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 May 2026 18:17:49 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB11BF1179141\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:50 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3b52aa27-1a1a-3dff-1f3f-f253011418bd/test-file-0137344a-6052-b10c-b2f2-dfab63e99157?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 May 2026 18:17:49 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB11BF12225D4\"",
        "Last-Modified": "Wed, 13 May 2026 18:17:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-05-13T18:17:50.0969428Z",
        "x-ms-file-creation-time": "2026-05-13T18:17:50.0969428Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-05-13T18:17:50.0969428Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11213973173494923372*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4e5ff0ee-02d1-7bfd-c1ee-939570dac63b?restype=container&comp=list&prefix=test-file-15c72c39-38e7-a2dc-b709-74bf3b137649%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-4e5ff0ee-02d1-7bfd-c1ee-939570dac63b\"><Prefix>test-file-15c72c39-38e7-a2dc-b709-74bf3b137649/</Prefix><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3b52aa27-1a1a-3dff-1f3f-f253011418bd/test-file-0137344a-6052-b10c-b2f2-dfab63e99157?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 May 2026 18:17:49 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-3b52aa27-1a1a-3dff-1f3f-f253011418bd\" DirectoryPath=\"test-file-0137344a-6052-b10c-b2f2-dfab63e99157\"><DirectoryId>13835128424026341376</DirectoryId><Entries /><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-3b52aa27-1a1a-3dff-1f3f-f253011418bd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 13 May 2026 18:17:49 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4e5ff0ee-02d1-7bfd-c1ee-939570dac63b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-05-13T11:17:49.4523130-07:00",
    "RandomSeed": "1791146016",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\n\nrg-amnguyestorage\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
