{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6a1c4e39-8255-df6d-2b00-b01cea751141?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90D1074A58\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:13:26 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:13:35 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90D10F4C2B\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:13:26 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6a1c4e39-8255-df6d-2b00-b01cea751141/sourceFolder/foo/test-file-967090cd-4b15-6ea1-92b9-ab16d80942e4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "Bv2IXmyzEIAXO3KlLe3iU4TifjD1X7hzGd0tGwNkpogk6CTVnKm4Gn/wftrZ/ECl1liR9osR76dEFUWPhfR9spTpgEXIDbbaKWOwBOHemRydiEWr07D9E/l9kIdjKZSLc8tF8Hz63MmhtswnYOrFZnsp8f2v0t/j7GxMS3wvdwDPJZEWmKmgoqx7CRzk1bIOuCoLOjeX26HrYQMPrpBNcj/LVztZr83SiE5QM8jD/xa6PZNRIzzIN0nwKjelkPMbLpbdGH13tQlcOLHoRqfYKGLtVHH9+04CAyDyaISWLPdaNQUx5eaYQ4eK9eqK3/GhGALUuDyCHjJH2hVdhUyExQu5jhGipkJ7VBHpcgZkeCMuUFCBwnS72BbT6QvROr46BS/e0VHf/3G/WGMqmass42LxLjT8AgOX/bX6zrw[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6a1c4e39-8255-df6d-2b00-b01cea751141/sourceFolder/rul/test-file-60463fde-9008-1b79-faf7-791acb6e9b28",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-conte[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6a1c4e39-8255-df6d-2b00-b01cea751141/sourceFolder/pik/test-file-4be37fe4-91c8-5efd-fac3-5dcdd041094c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-conte[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:13:35 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90D1487694\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:13:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:13:27.3172628Z",
        "x-ms-file-creation-time": "2025-04-14T20:13:27.3172628Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-14T20:13:27.3172628Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6a1c4e39-8255-df6d-2b00-b01cea751141?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.blob.core.windows.net/\" ContainerName=\"test-container-6a1c4e39-8255-df6d-2b00-b01cea751141\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/foo/test-file-967090cd-4b15-6ea1-92b9-ab16d80942e4</Name><VersionId>2025-04-14T20:13:27.2071357Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:13:27 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:13:27 GMT</Last-Modified><Etag>0x8DD7B90D13781CF</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>eAuuFl30KSH1XGhBQUqoCQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Mon, 14 Apr 2025 20:13:27 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-4be37fe4-91c8-5efd-fac3-5dcdd041094c</Name><VersionId>2025-04-14T20:13:27.2847936Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 14 Apr 2025 20:13:27 GMT</Creation-Time><Last-Modified>Mon, 14 Apr 2025 20:13:27 GMT</Last-Modified><Etag>0x8DD7B90D1438240</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder/foo?sv=Sanitized&se=2025-04-15T20%3A13%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90D15A63D7\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:13:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:13:27.4347479Z",
        "x-ms-file-creation-time": "2025-04-14T20:13:27.4347479Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T20:13:27.4347479Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder/pik?sv=Sanitized&se=2025-04-15T20%3A13%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90D15FB507\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:13:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:13:27.4695943Z",
        "x-ms-file-creation-time": "2025-04-14T20:13:27.4695943Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-14T20:13:27.4695943Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder/rul?sv=Sanitized&se=2025-04-15T20%3A13%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90D164DF5E\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:13:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:13:27.5034462Z",
        "x-ms-file-creation-time": "2025-04-14T20:13:27.5034462Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:13:27.5034462Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder/foo/test-file-967090cd-4b15-6ea1-92b9-ab16d80942e4?sv=Sanitized&se=2025-04-15T20%3A13%3A35Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder/pik/test-file-4be37fe4-91c8-5efd-fac3-5dcdd041094c?sv=Sanitized&se=2025-04-15T20%3A13%3A35Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder/foo/test-file-967090cd-4b15-6ea1-92b9-ab16d80942e4?sv=Sanitized&se=2025-04-15T20%3A13%3A35Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:13:27.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90D233A33D\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:13:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:13:28.8585021Z",
        "x-ms-file-creation-time": "2025-04-14T20:13:27.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-14T20:13:28.8585021Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder/rul/test-file-60463fde-9008-1b79-faf7-791acb6e9b28?sv=Sanitized&se=2025-04-15T20%3A13%3A35Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder/foo/test-file-967090cd-4b15-6ea1-92b9-ab16d80942e4?sv=Sanitized&se=2025-04-15T20%3A13%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-6a1c4e39-8255-df6d-2b00-b01cea751141/sourceFolder/foo/test-file-967090cd-4b15-6ea1-92b9-ab16d80942e4",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90D23AA046\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:13:28 GMT",
        "x-ms-content-crc64": "xbMJUXlKYsQ=",
        "x-ms-file-last-write-time": "2025-04-14T20:13:28.8585021Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder/pik/test-file-4be37fe4-91c8-5efd-fac3-5dcdd041094c?sv=Sanitized&se=2025-04-15T20%3A13%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-6a1c4e39-8255-df6d-2b00-b01cea751141/sourceFolder/pik/test-file-4be37fe4-91c8-5efd-fac3-5dcdd041094c",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90D23D8336\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:13:28 GMT",
        "x-ms-content-crc64": "Mn6+9ik/0no=",
        "x-ms-file-last-write-time": "2025-04-14T20:13:28.8774187Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder/foo/test-file-967090cd-4b15-6ea1-92b9-ab16d80942e4?sv=Sanitized&se=2025-04-15T20%3A13%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:13:27.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90D23EBA5A\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:13:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:13:28.9311834Z",
        "x-ms-file-creation-time": "2025-04-14T20:13:27.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-14T20:13:28.8585021Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder/pik/test-file-4be37fe4-91c8-5efd-fac3-5dcdd041094c?sv=Sanitized&se=2025-04-15T20%3A13%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:13:27.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90D24286A0\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:13:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:13:28.9560736Z",
        "x-ms-file-creation-time": "2025-04-14T20:13:27.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-04-14T20:13:28.8774187Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder/rul/test-file-60463fde-9008-1b79-faf7-791acb6e9b28?sv=Sanitized&se=2025-04-15T20%3A13%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-6a1c4e39-8255-df6d-2b00-b01cea751141/sourceFolder/rul/test-file-60463fde-9008-1b79-faf7-791acb6e9b28",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90D2451BCD\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:13:28 GMT",
        "x-ms-content-crc64": "j1rvbpSnDmw=",
        "x-ms-file-last-write-time": "2025-04-14T20:13:28.9182410Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder/rul/test-file-60463fde-9008-1b79-faf7-791acb6e9b28?sv=Sanitized&se=2025-04-15T20%3A13%3A35Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-04-14T20:13:27.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B90D2490EFD\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:13:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:13:28.9988861Z",
        "x-ms-file-creation-time": "2025-04-14T20:13:27.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-04-14T20:13:28.9182410Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6a1c4e39-8255-df6d-2b00-b01cea751141?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "Respo[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:13:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>foo</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>rul</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:13:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6\" DirectoryPath=\"destFolder/foo\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-967090cd-4b15-6ea1-92b9-ab16d80942e4</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:13:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-4be37fe4-91c8-5efd-fac3-5dcdd041094c</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder/rul?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:13:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6\" DirectoryPath=\"destFolder/rul\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-60463fde-9008-1b79-faf7-791acb6e9b28</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6a1c4e39-8255-df6d-2b00-b01cea751141/sourceFolder/foo/test-file-967090cd-4b15-6ea1-92b9-ab16d80942e4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "eAuuFl30KSH1XGhBQUqoCQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD7B90D13781CF\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:13:27 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Mon, 14 Apr 2025 20:13:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 14 Apr 2025 20:13:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:13:27.2071357Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2370ab68-e1a2-0254-4afc-cb4719b873e6/destFolder/foo/test-file-967090cd-4b15-6ea1-92b9-ab16d80942e4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:13:37 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD7B90D23EBA5A\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:13:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:13:28.9311834Z",
        "x-ms-file-creation-time": "2025-04-14T20:13:27.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-14T20:13:28.8585021Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-6a1c4e39-8255-df6d-2b00-b01cea751141/sourceFolder/foo/test-file-967090cd-4b15-6ea1-92b9-ab16d80942e4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD7B90D13781CF\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD7B90D13781CF\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:13:27 GMT",
        "x-ms-blob-content-md5": "eAuuFl30KSH1XGhBQUqoCQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 14 Apr 2025 20:13:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
[...]
