{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6a24cc2a-cdf1-7087-470e-05311c433467?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9054D82C7\"",
        "Last-Modified": "Thu, 15 May 2025 21:39:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-078e11d0-c097-8ea5-839b-4a319497f805?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:39:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9055815D4\"",
        "Last-Modified": "Thu, 15 May 2025 21:39:50 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6a24cc2a-cdf1-7087-470e-05311c433467/sourceFolder/test-file-191a7d86-3548-79ac-a3b7-679c852c75e8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "gt+LJXeTUCA/alCF/hH6zyZn8ZuB/yFwwqbC/Qt6fmYhcNn9RLBc8yz62d3lJ3qRvJh1HTrZZ4O9G2LR0FMUxezpY404/Yp1Cv5vhiZDipsrMUByBWArSAlWPylNiyLZ5RTx+8TtWL8NABM8auBcepDGpZ4TocCMvRuD4b5hJ3/blqESUo7XPtiBZARN790p+sSYh+WDxkNUZD6oaXcArNiUYNQ+SScB72fGkTy7P849Wub5yKCZV9Bdvu1QLtRhgLgsuY8J6rCdl5d+vTQHmCVvaw+QB+M3+ggE4Yo6sMCTZRGEjoY/NG81XDEJG5qbViXH4MPE0HnU9b6GBAkmYubX6lgjggqfMDafWqqyLt9uaIplcs/9z5SXr5nHuC9mD/lLMTBBeNMbKK+MJHXOIsbeGJt+wPAW2hvEi9N[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-078e11d0-c097-8ea5-839b-4a319497f805/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:39:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9058346FD\"",
        "Last-Modified": "Thu, 15 May 2025 21:39:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-15T21:39:50.5107709Z",
        "x-ms-file-creation-time": "2025-05-15T21:39:50.5107709Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-15T21:39:50.5107709Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6a24cc2a-cdf1-7087-470e-05311c433467?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-6a24cc2a-cdf1-7087-470e-05311c433467\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/test-file-191a7d86-3548-79ac-a3b7-679c852c75e8</Name><Properties><Creation-Time>Thu, 15 May 2025 21:39:50 GMT</Creation-Time><Last-Modified>Thu, 15 May 2025 21:39:50 GMT</Last-Modified><Etag>0x8DD93F905753E31</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>1mksegWzNxC3jHHCT4xIsQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Thu, 15 May 2025 21:39:50 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-078e11d0-c097-8ea5-839b-4a319497f805/destFolder/test-file-191a7d86-3548-79ac-a3b7-679c852c75e8?sv=Sanitized&se=2025-05-16T21%3A39%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-078e11d0-c097-8ea5-839b-4a319497f805/destFolder/test-file-191a7d86-3548-79ac-a3b7-679c852c75e8?sv=Sanitized&se=2025-05-16T21%3A39%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:39:50.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9066BB796\"",
        "Last-Modified": "Thu, 15 May 2025 21:39:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:39:52.0340886Z",
        "x-ms-file-creation-time": "2025-05-15T21:39:50.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:39:52.0340886Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-078e11d0-c097-8ea5-839b-4a319497f805/destFolder/test-file-191a7d86-3548-79ac-a3b7-679c852c75e8?sv=Sanitized&se=2025-05-16T21%3A39%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-6a24cc2a-cdf1-7087-470e-05311c433467/sourceFolder/test-file-191a7d86-3548-79ac-a3b7-679c852c75e8",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9068343DA\"",
        "Last-Modified": "Thu, 15 May 2025 21:39:52 GMT",
        "x-ms-content-crc64": "q0OPr2qujy4=",
        "x-ms-file-last-write-time": "2025-05-15T21:39:52.0340886Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-078e11d0-c097-8ea5-839b-4a319497f805/destFolder/test-file-191a7d86-3548-79ac-a3b7-679c852c75e8?sv=Sanitized&se=2025-05-16T21%3A39%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-05-15T21:39:50.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93F9068CAF21\"",
        "Last-Modified": "Thu, 15 May 2025 21:39:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:39:52.2501409Z",
        "x-ms-file-creation-time": "2025-05-15T21:39:50.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:39:52.0340886Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6a24cc2a-cdf1-7087-470e-05311c433467?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-078e11d0-c097-8ea5-839b-4a319497f805/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:39:53 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-078e11d0-c097-8ea5-839b-4a319497f805\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>test-file-191a7d86-3548-79ac-a3b7-679c852c75e8</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6a24cc2a-cdf1-7087-470e-05311c433467/sourceFolder/test-file-191a7d86-3548-79ac-a3b7-679c852c75e8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "1mksegWzNxC3jHHCT4xIsQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD93F905753E31\"",
        "Last-Modified": "Thu, 15 May 2025 21:39:50 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 15 May 2025 21:39:50 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 May 2025 21:39:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-078e11d0-c097-8ea5-839b-4a319497f805/destFolder/test-file-191a7d86-3548-79ac-a3b7-679c852c75e8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:39:53 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD93F9068CAF21\"",
        "Last-Modified": "Thu, 15 May 2025 21:39:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-05-15T21:39:52.2501409Z",
        "x-ms-file-creation-time": "2025-05-15T21:39:50.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T21:39:52.0340886Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6a24cc2a-cdf1-7087-470e-05311c433467/sourceFolder/test-file-191a7d86-3548-79ac-a3b7-679c852c75e8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD93F905753E31\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD93F905753E31\"",
        "Last-Modified": "Thu, 15 May 2025 21:39:50 GMT",
        "x-ms-blob-content-md5": "1mksegWzNxC3jHHCT4xIsQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 May 2025 21:39:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "gt+LJXeTUCA/alCF/hH6zyZn8ZuB/yFwwqbC/[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-078e11d0-c097-8ea5-839b-4a319497f805?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 15 May 2025 21:39:53 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6a24cc2a-cdf1-7087-470e-05311c433467?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-15T14:39:51.4385094-07:00",
    "RandomSeed": "495892959",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
