{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-343b3bd1-10b1-5753-b2dc-b5e5b2d2ae89?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E84D1033E\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:33 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:32 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E84D87B86\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:33 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:32 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E84E1F794\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-30T23:16:33.3971348Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:33.3971348Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T23:16:33.3971348Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11213973173494923372*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-343b3bd1-10b1-5753-b2dc-b5e5b2d2ae89/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "0+NjgRUzU60/EBDjeNozQ3x22MlR3juWg/DVAKlxGz+tjCMb6OWraYj5rrTyo8SebASewqdkMvWozf0kXVIEzvTQNuy2GFuXym5AWC+Go+AsNpSk0liYSFkuchvnhgs29eC/Im3Y6FSpB/g4JNrGIikd+Ca+X/ucOO2Sh6VAr0NiCmNPxoFzVE4/+8pgXyR/aFDxyo7kd5XkI+l/RWCuaVi01hl3dlunqqTYfmMxO9nIEx9VTuW1fpLNaqKX8w7tkZJyrIkKCPH0Sh/qDPkxs+gQtjFBWRpy/1eHqQy5ELaV6u3Rvo9PvgsuYQTFynGZnLe6hj3drDh3/6wxg17lOjlpVSELYPRYwfglEvgWrTTm7gxU/4l5uD61Wb/jHjqsSCbKXHVQjTvDYcVEt5lAYFJ3S5VRkDuw8JzjVgc[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:32 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E84F1A895\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:16:33.4999701Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:33.4999701Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-04-30T23:16:33.4999701Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-343b3bd1-10b1-5753-b2dc-b5e5b2d2ae89/sourceFolder/test-file-315261fa-6612-eb01-2d35-46e4e0e9ca57",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-343b3bd1-10b1-5753-b2dc-b5e5b2d2ae89/sourceFolder/bar/test-file-74dd04c8-bc6a-4e61-c0d1-c358b5dbc003",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-lang[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-343b3bd1-10b1-5753-b2dc-b5e5b2d2ae89/sourceFolder/pik/test-file-32fe4727-104e-3a61-2d46-e6866d6023b2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-lang[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-343b3bd1-10b1-5753-b2dc-b5e5b2d2ae89?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-343b3bd1-10b1-5753-b2dc-b5e5b2d2ae89\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><Blob><Name>sourceFolder/item1</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:16:33 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:16:33 GMT</Last-Modified><Etag>0x8DEA70E84EA16EB</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>4x5oNfU1/+kRbR/ZXPRpDw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Thu, 30 Apr 2026 23:16:33 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-315261fa-6612-eb01-2d35-46e4e0e9ca57</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:16:33 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:16:33 GMT</Last-Modified><Etag>0x8DEA70E84FD146D</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>YrCU8j0cse/mM+jbZnIzHQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Thu, 30 Apr 2026 23:16:33 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix/bar?sv=Sanitized&se=2026-05-01T23%3A16%3A32Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a56d5e7d-501a-007f-4df7-d8a039000000\n",
        "Time:2026-04-30T23:16:33.8619036Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix/pik?sv=Sanitized&se=2026-05-01T23%3A16%3A32Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:a56d5e7f-501a-007f-4ff7-d8a039000000\n",
        "Time:2026-04-30T23:16:33.9473257Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-343b3bd1-10b1-5753-b2dc-b5e5b2d2ae89?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-343b3bd1-10b1-5753-b2dc-b5e5b2d2ae89?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix/test-file-315261fa-6612-eb01-2d35-46e4e0e9ca57?sv=Sanitized&se=2026-05-01T23%3A16%3A32Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E86B9F07E\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:16:36.4902526Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:36.4902526Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-04-30T23:16:36.4902526Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix/test-file-315261fa-6612-eb01-2d35-46e4e0e9ca57?sv=Sanitized&se=2026-05-01T23%3A16%3A32Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-343b3bd1-10b1-5753-b2dc-b5e5b2d2ae89/sourceFolder/test-file-315261fa-6612-eb01-2d35-46e4e0e9ca57",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E86D4D6D5\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:36 GMT",
        "x-ms-content-crc64": "qKZviO57opw=",
        "x-ms-file-last-write-time": "2026-04-30T23:16:36.4902526Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix/bar/test-file-74dd04c8-bc6a-4e61-c0d1-c358b5dbc003?sv=Sanitized&se=2026-05-01T23%3A16%3A32Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length"[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix/item1?sv=Sanitized&se=2026-05-01T23%3A16%3A32Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E86EC25C5\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:16:36.8192965Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:36.8192965Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-04-30T23:16:36.8192965Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix/test-file-315261fa-6612-eb01-2d35-46e4e0e9ca57?sv=Sanitized&se=2026-05-01T23%3A16%3A32Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:16:33.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E86F34EC4\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:16:36.8662212Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:33.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-04-30T23:16:36.4902526Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix/item1?sv=Sanitized&se=2026-05-01T23%3A16%3A32Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-343b3bd1-10b1-5753-b2dc-b5e5b2d2ae89/sourceFolder/item1",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E86FBD6C4\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:36 GMT",
        "x-ms-content-crc64": "aIDLdko5Y1o=",
        "x-ms-file-last-write-time": "2026-04-30T23:16:36.8192965Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix/bar/test-file-74dd04c8-bc6a-4e61-c0d1-c358b5dbc003?sv=Sanitized&se=2026-05-01T23%3A16%3A32Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-343b3bd1-10b1-5753-b2dc-b5e5b2d2ae89/sourceFolder/bar/test-file-74dd04c8-bc6a-4e61-c0d1-c358b5dbc003",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E870104C2\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:36 GMT",
        "x-ms-content-crc64": "oyfmPU4qmDY=",
        "x-ms-file-last-write-time": "2026-04-30T23:16:36.8153030Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix/item1?sv=Sanitized&se=2026-05-01T23%3A16%3A32Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:16:33.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E87023CC6\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:16:36.9640646Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:33.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-04-30T23:16:36.8192965Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix/pik/test-file-32fe4727-104e-3a61-2d46-e6866d6023b2?sv=Sanitized&se=2026-05-01T23%3A16%3A32Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length"[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix/bar/test-file-74dd04c8-bc6a-4e61-c0d1-c358b5dbc003?sv=Sanitized&se=2026-05-01T23%3A16%3A32Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:16:33.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E87076AC6\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:16:36.9980102Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:33.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-04-30T23:16:36.8153030Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix/pik/test-file-32fe4727-104e-3a61-2d46-e6866d6023b2?sv=Sanitized&se=2026-05-01T23%3A16%3A32Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-343b3bd1-10b1-5753-b2dc-b5e5b2d2ae89/sourceFolder/pik/test-file-32fe4727-104e-3a61-2d46-e6866d6023b2",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E873878C4\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:37 GMT",
        "x-ms-content-crc64": "oK5MNkY6iQ8=",
        "x-ms-file-last-write-time": "2026-04-30T23:16:36.9760454Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix/pik/test-file-32fe4727-104e-3a61-2d46-e6866d6023b2?sv=Sanitized&se=2026-05-01T23%3A16%3A32Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:16:33.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70E873FC8C9\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:16:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:16:37.3674185Z",
        "x-ms-file-creation-time": "2026-04-30T23:16:33.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2026-04-30T23:16:36.9760454Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-343b3bd1-10b1-5753-b2dc-b5e5b2d2ae89?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:36 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-8eadb4c5-e298-f249-051f-cf46ba29d246\" DirectoryPath=\"destPrefix\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-315261fa-6612-eb01-2d35-46e4e0e9ca57</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:36 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-8eadb4c5-e298-f249-051f-cf46ba29d246\" DirectoryPath=\"destPrefix/bar\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-74dd04c8-bc6a-4e61-c0d1-c358b5dbc003</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-8eadb4c5-e298-f249-051f-cf46ba29d246/destPrefix/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:16:36 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-8eadb4c5-e298-f249-051f-cf46ba29d246\" DirectoryPath=\"destPrefix/pik\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-32fe4727-104e-3a61-2d46-e6866d6023b2</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-343b3bd1-10b1-5753-b2dc-b5e5b2d2ae89/sourceFolder/bar/test-file-74dd04c8-bc6a-4e61-c0d1-c358b5dbc003",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
[...]
