{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8d48a11f-9535-fafc-3c89-e61f510e5486?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F0218DC12\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:20:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:20:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F0220C8BD\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:20:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14/source%2521path%2540%2523%2525?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:20:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F02282B6F\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:20:03 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-30T23:20:03.5724143Z",
        "x-ms-file-creation-time": "2026-04-30T23:20:03.5724143Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-30T23:20:03.5724143Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11213973173494923372*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8d48a11f-9535-fafc-3c89-e61f510e5486/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "LlvrZ7Spc56zTjD4aZ1+836EEbwfeWB23E1z1f2AMF10UM6B/QiWdlSHX0FdGaFawcvs1t7Z/bX6dYtnNZ6gMx7SgxnO/fZ17ptomBkfGMOrGBQyk1l/mlMZhod9L0C25iwjipWIjMPUd+hDcWSb21zHvB2Jbp/EU+jGtXdv+L5bsrLt+40tIoxQXhxxOynufaoqtXIiLHeMXzatwtZMZX4p6L+xrd/OmZmQORCDUhi/1zfMREJMOIY6YZxXgGC2BPidSFNpPM/LWxvZkvJnCAwe7euegCA73bA5d0xDdxk52jUX5QrEVZpnAegmcqWT0lmPOJN0F4TYYmqjMMWDiOQCn7e9UCIBWpdQNn44FGoKpqTzsz+FxMOxPoOfISXU5HkEI9Pu1YI2jd77JOAFn00AmYohkNSkfdr0DBG[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8d48a11f-9535-fafc-3c89-e61f510e5486/source%2521path%2540%2523%2525/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US"[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8d48a11f-9535-fafc-3c89-e61f510e5486/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-co[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8d48a11f-9535-fafc-3c89-e61f510e5486/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-la[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8d48a11f-9535-fafc-3c89-e61f510e5486?restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-8d48a11f-9535-fafc-3c89-e61f510e5486\"><Prefix>source%21path%40%23%25/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>source%21path%40%23%25/file%3Dtest%26</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:20:03 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:20:03 GMT</Last-Modified><Etag>0x8DEA70F02381C2A</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>1fin6pm/2PQaOM1NoTeCVA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Thu, 30 Apr 2026 23:20:03 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>source%21path%40%23%25/file=test!@#$%</Name><Properties><Creation-Time>Thu, 30 Apr 2026 23:20:03 GMT</Creation-Time><Last-Modified>Thu, 30 Apr 2026 23:20:03 GMT</Last-Modified><Etag>0x8DEA70F02300EEA</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>EzSvqRwU6RBK5uP9bKR81w==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Thu, 30 Apr 2026 23:20:03 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><BlobPrefix><Name>source%21path%40%23%25/folder=bar/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14/source%2521path%2540%2523%2525/folder%3Dbar?sv=Sanitized&se=2026-05-01T23%3A20%3A02Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:cdeca825-d01a-0003-04f7-d88ec6000000\n",
        "Time:2026-04-30T23:20:03.9444071Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8d48a11f-9535-fafc-3c89-e61f510e5486?restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2Ffolder%3Dbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml"[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2026-05-01T23%3A20%3A02Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2026-05-01T23%3A20%3A02Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F040B9FCA\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:20:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:20:06.7407818Z",
        "x-ms-file-creation-time": "2026-04-30T23:20:06.7407818Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-04-30T23:20:06.7407818Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2026-05-01T23%3A20%3A02Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8d48a11f-9535-fafc-3c89-e61f510e5486/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F041A7B9F\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:20:06 GMT",
        "x-ms-content-crc64": "sr1etZKOFqM=",
        "x-ms-file-last-write-time": "2026-04-30T23:20:06.7407818Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2026-05-01T23%3A20%3A02Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:20:03.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F0420BA9F\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:20:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:20:06.8790943Z",
        "x-ms-file-creation-time": "2026-04-30T23:20:03.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-04-30T23:20:06.7407818Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2026-05-01T23%3A20%3A02Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2026-05-01T23%3A20%3A02Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8d48a11f-9535-fafc-3c89-e61f510e5486/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F0444879E\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:20:07 GMT",
        "x-ms-content-crc64": "w45HdpJLJlY=",
        "x-ms-file-last-write-time": "2026-04-30T23:20:07.0218658Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2026-05-01T23%3A20%3A02Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:20:03.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F044B629C\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:20:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:20:07.1586460Z",
        "x-ms-file-creation-time": "2026-04-30T23:20:03.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-30T23:20:07.0218658Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2026-05-01T23%3A20%3A02Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2026-05-01T23%3A20%3A02Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8d48a11f-9535-fafc-3c89-e61f510e5486/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F0472D79C\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:20:07 GMT",
        "x-ms-content-crc64": "gMj+9ATWNyE=",
        "x-ms-file-last-write-time": "2026-04-30T23:20:07.3233819Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2026-05-01T23%3A20%3A02Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:20:03.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F04793D99\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:20:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:20:07.4591641Z",
        "x-ms-file-creation-time": "2026-04-30T23:20:03.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-04-30T23:20:07.3233819Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=Sanitized&se=2026-05-01T23%3A20%3A02Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=Sanitized&se=2026-05-01T23%3A20%3A02Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8d48a11f-9535-fafc-3c89-e61f510e5486/source%2521path%2540%2523%2525/file%253Dtest%2526",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F04A43398\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:20:07 GMT",
        "x-ms-content-crc64": "4fiqVlPYgjo=",
        "x-ms-file-last-write-time": "2026-04-30T23:20:07.6468635Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=Sanitized&se=2026-05-01T23%3A20%3A02Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2026-04-30T23:20:03.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA70F04AAC099\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:20:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:20:07.7836441Z",
        "x-ms-file-creation-time": "2026-04-30T23:20:03.0000000Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2026-04-30T23:20:07.6468635Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8d48a11f-9535-fafc-3c89-e61f510e5486?restype=container&comp=list&prefix=source%2521path%2540%2523%2525",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
 [...]
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14/source%2521path%2540%2523%2525?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:20:07 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14\" DirectoryPath=\"source%21path%40%23%25\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>file%3Dtest%26</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file=test!@#$%</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>folder=bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14/source%2521path%2540%2523%2525/folder%3Dbar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:20:07 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandasa3.file.core.windows.net/\" ShareName=\"test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14\" DirectoryPath=\"source%21path%40%23%25/folder=bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>subfile%3Dtest%26</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>subfile=test!@#$%</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8d48a11f-9535-fafc-3c89-e61f510e5486/source%2521path%2540%2523%2525/file%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "1fin6pm/2PQaOM1NoTeCVA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70F02381C2A\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:20:03 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Apr 2026 23:20:03 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 23:20:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.file.core.windows.net/test-share-d0256fb7-28b8-c6d9-5834-5181b16a0c14/source%2521path%2540%2523%2525/file%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Apr 2026 23:20:07 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70F04AAC099\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:20:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-30T23:20:07.7836441Z",
        "x-ms-file-creation-time": "2026-04-30T23:20:03.0000000Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2026-04-30T23:20:07.6468635Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6619103420170813291*17544668709018621925",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8d48a11f-9535-fafc-3c89-e61f510e5486/source%2521path%2540%2523%2525/file%253Dtest%2526",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DEA70F02381C2A\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DEA70F02381C2A\"",
        "Last-Modified": "Thu, 30 Apr 2026 23:20:03 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Apr 2026 23:20:03 GMT",
        "x-ms-blob-content-md5": "1fin6pm/2PQaOM1NoTeCVA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Apr 2026 23:20:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
[...]
