{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f3908c02-6220-c954-c26a-288ad8604cef?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA4BC36B59\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:47 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:50:52 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA4BD20F48\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:47 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f3908c02-6220-c954-c26a-288ad8604cef/sourceFolder/test-file-3bb01709-6a12-e080-6db9-3b3a79c2e0b5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DDD9EA4BD8FE04\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:47 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-08-12T21:50:47.4565124Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f3908c02-6220-c954-c26a-288ad8604cef/sourceFolder/bar/test-file-98ba96d7-ef2d-bd2d-3313-7641461c1daf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DDD9EA4BEDCE23\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:47 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-08-12T21:50:47.5929123Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f3908c02-6220-c954-c26a-288ad8604cef/sourceFolder/pik/test-file-ca3f6078-4578-7865-e6b0-9448b9dad40d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DDD9EA4BFB537B\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:47 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-08-12T21:50:47.6815227Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a/destinationFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:50:52 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA4C07A7FC\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-12T21:50:47.7623292Z",
        "x-ms-file-creation-time": "2025-08-12T21:50:47.7623292Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-12T21:50:47.7623292Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f3908c02-6220-c954-c26a-288ad8604cef?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.blob.core.windows.net/\" ContainerName=\"test-container-f3908c02-6220-c954-c26a-288ad8604cef\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-3bb01709-6a12-e080-6db9-3b3a79c2e0b5</Name><VersionId>2025-08-12T21:50:47.4565124Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 12 Aug 2025 21:50:47 GMT</Creation-Time><Last-Modified>Tue, 12 Aug 2025 21:50:47 GMT</Last-Modified><Etag>0x8DDD9EA4BD8FE04</Etag><Content-Length>0</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 12 Aug 2025 21:50:47 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-b73bc00a-c409-853d-2bac-845306666087</Name><VersionId>2025-08-12T21:50:47.5142577Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 12 Aug 2025 21:50:47 GMT</Creation-Time><Last-Modified>Tue, 12 Aug 2025 21:50:47 GMT</Last-Modified><Etag>0x8DDD9EA4BE1A6DE</Etag><Content-Length>0</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 12 Aug 2025 21:50:47 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a/destinationFolder/bar?sv=Sanitized&se=2025-08-13T21%3A50%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:7cfc2968-301a-003d-7bd3-0bccc1000000\n",
        "Time:2025-08-12T21:50:47.9142571Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a/destinationFolder/pik?sv=Sanitized&se=2025-08-13T21%3A50%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:7cfc296a-301a-003d-7dd3-0bccc1000000\n",
        "Time:2025-08-12T21:50:47.9729120Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f3908c02-6220-c954-c26a-288ad8604cef?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-vers[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f3908c02-6220-c954-c26a-288ad8604cef?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-vers[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a/destinationFolder/test-file-b73bc00a-c409-853d-2bac-845306666087?sv=Sanitized&se=2025-08-13T21%3A50%3A52Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a/destinationFolder/bar/test-file-98ba96d7-ef2d-bd2d-3313-7641461c1daf?sv=Sanitized&se=2025-08-13T21%3A50%3A52Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a/destinationFolder/pik/test-file-ca3f6078-4578-7865-e6b0-9448b9dad40d?sv=Sanitized&se=2025-08-13T21%3A50%3A52Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a/destinationFolder/test-file-b73bc00a-c409-853d-2bac-845306666087?sv=Sanitized&se=2025-08-13T21%3A50%3A52Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "0",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-08-12T21:50:47.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA4D681CFB\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:50:50.0721915Z",
        "x-ms-file-creation-time": "2025-08-12T21:50:47.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-08-12T21:50:50.0721915Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a/destinationFolder/test-file-b73bc00a-c409-853d-2bac-845306666087?sv=Sanitized&se=2025-08-13T21%3A50%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-08-12T21:50:47.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA4D6E09B2\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:50:50.1110194Z",
        "x-ms-file-creation-time": "2025-08-12T21:50:47.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-08-12T21:50:50.0721915Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a/destinationFolder/pik/test-file-ca3f6078-4578-7865-e6b0-9448b9dad40d?sv=Sanitized&se=2025-08-13T21%3A50%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-08-12T21:50:47.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA4D713A70\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:50:50.1319280Z",
        "x-ms-file-creation-time": "2025-08-12T21:50:47.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-08-12T21:50:50.0940949Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a/destinationFolder/bar/test-file-98ba96d7-ef2d-bd2d-3313-7641461c1daf?sv=Sanitized&se=2025-08-13T21%3A50%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-08-12T21:50:47.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA4D72E644\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:50:50.1428804Z",
        "x-ms-file-creation-time": "2025-08-12T21:50:47.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-08-12T21:50:50.1110194Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f3908c02-6220-c954-c26a-288ad8604cef?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "Respo[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a/destinationFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:50:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a\" DirectoryPath=\"destinationFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-3bb01709-6a12-e080-6db9-3b3a79c2e0b5</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>0</Content-Length></Properties></File><File><Name>test-file-b73bc00a-c409-853d-2bac-845306666087</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>0</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a/destinationFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:50:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a\" DirectoryPath=\"destinationFolder/bar\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-98ba96d7-ef2d-bd2d-3313-7641461c1daf</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>0</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a/destinationFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:50:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a\" DirectoryPath=\"destinationFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-ca3f6078-4578-7865-e6b0-9448b9dad40d</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>0</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f3908c02-6220-c954-c26a-288ad8604cef/sourceFolder/bar/test-file-98ba96d7-ef2d-bd2d-3313-7641461c1daf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDD9EA4BEDCE23\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:47 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 12 Aug 2025 21:50:47 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 12 Aug 2025 21:50:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-08-12T21:50:47.5929123Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a/destinationFolder/bar/test-file-98ba96d7-ef2d-bd2d-3313-7641461c1daf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:50:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDD9EA4D72E644\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:50:50.1428804Z",
        "x-ms-file-creation-time": "2025-08-12T21:50:47.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-08-12T21:50:50.1110194Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a/destinationFolder/pik/test-file-ca3f6078-4578-7865-e6b0-9448b9dad40d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:50:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDD9EA4D713A70\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:50:50.1319280Z",
        "x-ms-file-creation-time": "2025-08-12T21:50:47.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-08-12T21:50:50.0940949Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a/destinationFolder/test-file-3bb01709-6a12-e080-6db9-3b3a79c2e0b5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:50:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDD9EA4D741D63\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:50:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:50:50.1508451Z",
        "x-ms-file-creation-time": "2025-08-12T21:50:47.0000000Z",
        "x-ms-file-id": "13835075647468208128",
        "x-ms-file-last-write-time": "2025-08-12T21:50:50.1120155Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-d6ebee28-d5e8-e1a5-c255-f84a589ad00a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:50:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-f3908c02-6220-c954-c26a-288ad8604cef?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
[...]
