{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-db77a8a1-1486-1001-3364-e4de4d02ee52?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA762EACAC\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:51:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-05ac666b-a753-113d-51e8-a135ce28df10?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:52:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA763AA913\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:51:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-05ac666b-a753-113d-51e8-a135ce28df10/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:52:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA76440667\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:51:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-12T21:51:58.6222695Z",
        "x-ms-file-creation-time": "2025-08-12T21:51:58.6222695Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-12T21:51:58.6222695Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-db77a8a1-1486-1001-3364-e4de4d02ee52/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "P0uyv5V3Hvtimv/tp/xSrQ01VBCF+VC8RXku1ZnHQAAzfykFCbM6BJ9mTyATrcvKnJHjXXZEyUX79XkcSEhimln/uSjTTaNa+1BwHqkvqJeuZDkH5OOK77XjCRQ5HbtXBLXGFPOi90/tiGIm06uczEzhbuQOWrZ1dMpy8EOOId2UGRn0aJSkC23qGluBZBsKRj3HV6/XSKn+UJ8pLwYLXmeFkrqRqGO4PWJ2JEBa9BCuaKkFx8ktvNFw9Rf0e9tm3rvz/NJheJ7aDxpMYCRpo1yPesddBpeeV9XpIbJLw8KHEEWFZvg+Te8KK7eu4FusBlG7ZAAUCNgjVaT8d1frjktYxVDf5DxjUSzXUtvf73Z6PBpgkF7BcwdsYRFTQdWYHpxrVhsLzSIUVxPUPLb9Q2Uugjs9iv7sllJIcoI[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-db77a8a1-1486-1001-3364-e4de4d02ee52/sourceFolder/bar/item3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-db77a8a1-1486-1001-3364-e4de4d02ee52/sourceFolder/pik/item4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-05ac666b-a753-113d-51e8-a135ce28df10/destFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 12 Aug 2025 21:52:03 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA76784929\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:51:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:51:58.9647657Z",
        "x-ms-file-creation-time": "2025-08-12T21:51:58.9647657Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-08-12T21:51:58.9647657Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-db77a8a1-1486-1001-3364-e4de4d02ee52?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.blob.core.windows.net/\" ContainerName=\"test-container-db77a8a1-1486-1001-3364-e4de4d02ee52\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><Blob><Name>sourceFolder/item1</Name><VersionId>2025-08-12T21:51:58.6517634Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 12 Aug 2025 21:51:58 GMT</Creation-Time><Last-Modified>Tue, 12 Aug 2025 21:51:58 GMT</Last-Modified><Etag>0x8DDD9EA76488682</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>DUXYKPZWHxLFQ2FkkDPfqQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 12 Aug 2025 21:51:58 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/item2</Name><VersionId>2025-08-12T21:51:58.7214574Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 12 Aug 2025 21:51:58 GMT</Creation-Time><Last-Modified>Tue, 12 Aug 2025 21:51:58 GMT</Last-Modified><Etag>0x8DDD9EA765328EE</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>yYpUOKbjRPX2NfkQhqyWnQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 12 Aug 2025 21:51:58 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-05ac666b-a753-113d-51e8-a135ce28df10/destFolder/bar?sv=Sanitized&se=2025-08-13T21%3A52%3A03Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:da0b9d66-f01a-001d-72d3-0bb766000000\n",
        "Time:2025-08-12T21:51:59.1123129Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-05ac666b-a753-113d-51e8-a135ce28df10/destFolder/pik?sv=Sanitized&se=2025-08-13T21%3A52%3A03Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:da0b9d68-f01a-001d-74d3-0bb766000000\n",
        "Time:2025-08-12T21:51:59.1711325Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-db77a8a1-1486-1001-3364-e4de4d02ee52?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-vers[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-db77a8a1-1486-1001-3364-e4de4d02ee52?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-vers[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-05ac666b-a753-113d-51e8-a135ce28df10/destFolder/item2?sv=Sanitized&se=2025-08-13T21%3A52%3A03Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-05ac666b-a753-113d-51e8-a135ce28df10/destFolder/item2?sv=Sanitized&se=2025-08-13T21%3A52%3A03Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-08-12T21:51:58.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA778B433D\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:52:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:52:00.7668541Z",
        "x-ms-file-creation-time": "2025-08-12T21:51:58.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-08-12T21:52:00.7668541Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-05ac666b-a753-113d-51e8-a135ce28df10/destFolder/item2?sv=Sanitized&se=2025-08-13T21%3A52%3A03Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-db77a8a1-1486-1001-3364-e4de4d02ee52/sourceFolder/item2",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA77982D07\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:52:00 GMT",
        "x-ms-content-crc64": "/7vvcK2JSdo=",
        "x-ms-file-last-write-time": "2025-08-12T21:52:00.7668541Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-05ac666b-a753-113d-51e8-a135ce28df10/destFolder/item2?sv=Sanitized&se=2025-08-13T21%3A52%3A03Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-08-12T21:51:58.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA77A36B04\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:52:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:52:00.9251588Z",
        "x-ms-file-creation-time": "2025-08-12T21:51:58.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-08-12T21:52:00.7668541Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-05ac666b-a753-113d-51e8-a135ce28df10/destFolder/item1?sv=Sanitized&se=2025-08-13T21%3A52%3A03Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDD9EA76784929\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:51:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:51:58.9647657Z",
        "x-ms-file-creation-time": "2025-08-12T21:51:58.9647657Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-08-12T21:51:58.9647657Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-05ac666b-a753-113d-51e8-a135ce28df10/destFolder/bar/item3?sv=Sanitized&se=2025-08-13T21%3A52%3A03Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-05ac666b-a753-113d-51e8-a135ce28df10/destFolder/bar/item3?sv=Sanitized&se=2025-08-13T21%3A52%3A03Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-db77a8a1-1486-1001-3364-e4de4d02ee52/sourceFolder/bar/item3",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA79753532\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:52:03 GMT",
        "x-ms-content-crc64": "cQRnfVbWktg=",
        "x-ms-file-last-write-time": "2025-08-12T21:52:03.9379327Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-05ac666b-a753-113d-51e8-a135ce28df10/destFolder/bar/item3?sv=Sanitized&se=2025-08-13T21%3A52%3A03Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-08-12T21:51:58.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA797FD797\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:52:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:52:04.0474519Z",
        "x-ms-file-creation-time": "2025-08-12T21:51:58.0000000Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-08-12T21:52:03.9379327Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-05ac666b-a753-113d-51e8-a135ce28df10/destFolder/pik/item4?sv=Sanitized&se=2025-08-13T21%3A52%3A03Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-05ac666b-a753-113d-51e8-a135ce28df10/destFolder/pik/item4?sv=Sanitized&se=2025-08-13T21%3A52%3A03Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliuproductionacc.blob.core.windows.net/test-container-db77a8a1-1486-1001-3364-e4de4d02ee52/sourceFolder/pik/item4",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA7A686EE5\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:52:05 GMT",
        "x-ms-content-crc64": "pl1XVAb9tXQ=",
        "x-ms-file-last-write-time": "2025-08-12T21:52:05.5329310Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-05ac666b-a753-113d-51e8-a135ce28df10/destFolder/pik/item4?sv=Sanitized&se=2025-08-13T21%3A52%3A03Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-08-12T21:51:58.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9EA7A731153\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:52:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-08-12T21:52:05.6414547Z",
        "x-ms-file-creation-time": "2025-08-12T21:51:58.0000000Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-08-12T21:52:05.5329310Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-05ac666b-a753-113d-51e8-a135ce28df10?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 21:52:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-db77a8a1-1486-1001-3364-e4de4d02ee52?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-08-12T17:52:03.7747683-04:00",
    "RandomSeed": "476582232",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
