{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "subscriptionId": "8c64812d-6e59-4e65-96b3-14a7cdb1a4e4",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "ADR-PrivateRP",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourcegroups/adr-test-sdk-rg-discoveredassets3090?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-discoveredassets3090",
        "name": "adr-test-sdk-rg-discoveredassets3090",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-discoveredassets3090/providers/Microsoft.DeviceRegistry/discoveredAssets/deviceregistry-test-discoveredasset-sdk4219?api-version=2024-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "assetEndpointProfileRef": "assetEndpointProfileReference",
          "discoveryId": "discoveryIdSample",
          "version": 1,
          "manufacturer": "Contoso",
          "manufacturerUri": "http://contoso.com/"
        },
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/Microsoft.ExtendedLocation/customLocations/adr-sdk-test-cluster-cl"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"e6044cc2-0000-0700-0000-674659a10000\"",
        "mise-correlation-id": "d36ed9fc-0831-4a18-b347-10a1b350fe0b",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "999"
      },
      "ResponseBody": {
        "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-discoveredassets3090/providers/Microsoft.DeviceRegistry/discoveredAssets/deviceregistry-test-discoveredasset-sdk4219",
        "name": "deviceregistry-test-discoveredasset-sdk4219",
        "type": "microsoft.deviceregistry/discoveredassets",
        "location": "westus",
        "extendedLocation": {
          "name": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/Microsoft.ExtendedLocation/customLocations/adr-sdk-test-cluster-cl",
          "type": "CustomLocation"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "createdAt": "2024-11-26T23:28:33.5227051Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2024-11-26T23:28:33.5227051Z"
        },
        "properties": {
          "assetEndpointProfileRef": "assetEndpointProfileReference",
          "discoveryId": "discoveryIdSample",
          "version": 1,
          "manufacturer": "Contoso",
          "manufacturerUri": "http://contoso.com/",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-discoveredassets3090/providers/Microsoft.DeviceRegistry/discoveredAssets?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "9999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-discoveredassets3090/providers/Microsoft.DeviceRegistry/discoveredAssets/deviceregistry-test-discoveredasset-sdk4219",
            "name": "deviceregistry-test-discoveredasset-sdk4219",
            "type": "microsoft.deviceregistry/discoveredassets",
            "location": "westus",
            "extendedLocation": {
              "name": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-sdk-test-rg/providers/Microsoft.ExtendedLocation/customLocations/adr-sdk-test-cluster-cl",
              "type": "CustomLocation"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2024-11-26T23:28:33.5227051Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2024-11-26T23:28:33.5227051Z"
            },
            "properties": {
              "assetEndpointProfileRef": "assetEndpointProfileReference",
              "discoveryId": "discoveryIdSample",
              "version": 1,
              "manufacturer": "Contoso",
              "manufacturerUri": "http://contoso.com/",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/providers/Microsoft.DeviceRegistry/discoveredAssets?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "220f45d6-ece4-4a36-a7b7-ffdc5ab499ab",
          "ca7419cc-9c69-4e65-9299-63dbb83fba0f"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": "9999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-discoveredassets3090/providers/Microsoft.DeviceRegistry/discoveredAssets/deviceregistry-test-discoveredasset-sdk4219",
            "name": "devicer[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8c64812d-6e59-4e65-96b3-14a7cdb1a4e4/resourceGroups/adr-test-sdk-rg-discoveredassets3090/providers/Microsoft.DeviceRegistry/discoveredAssets/deviceregistry-test-discoveredasset-sdk4219?api-version=2024-09-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "mise-correlation-id": "d613937b-3b4e-4690-ac3b-98ce8ba3e584",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "9999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "b49b5f92-924d-4811-9c92-c3883fa25e97",
    "RandomSeed": "879782978",
    "RESOURCE_MANAGER_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "8c64812d-6e59-4e65-96b3-14a7cdb1a4e4",
    "TENANT_ID": "8bc1aaa9-4b2f-4162-976b-7d86459f0e7f"
  }
}
