{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx/wcfRelays/myrelayxxx?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "1877e1a9-a5b9-4cb1-b31e-0b3bdf6fe2ee",
        "x-ms-messaging-routing-id": "PROD|EASTUS|EASTUS|G8|2025-11-04T09:23:15",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx/wcfrelays/myrelayxxx",
        "name": "myrelayxxx",
        "type": "Microsoft.Relay/namespaces/wcfrelays",
        "location": "eastus",
        "properties": {
          "createdAt": "2025-11-04T09:23:07.1166768Z",
          "updatedAt": "2025-11-04T09:23:11.5974834Z",
          "listenerCount": 0,
          "requiresClientAuthorization": true,
          "relayType": "NetTcp",
          "requiresTransportSecurity": true,
          "isDynamic": false
        }
      }
    }
  ],
  "Variables": {}
}
