{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx/wcfRelays/myrelayxxx/authorizationRules/myauthorizationxxxx?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "b01bc7a0-b71a-48e2-9bc6-c26ea43ba6a1",
        "x-ms-messaging-routing-id": "PROD|EASTUS|EASTUS|G2|2025-11-04T08:42:07",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx/wcfrelays/myrelayxxx/authorizationrules/myauthorizationxxxx",
        "name": "myauthorizationxxxx",
        "type": "Microsoft.Relay/namespaces/wcfrelays/authorizationrules",
        "location": "eastus",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    }
  ],
  "Variables": {}
}
