{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Relay/namespaces?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "9f737a65-9a18-4e11-a697-7b01cafdca3c",
        "x-ms-messaging-routing-id": "PROD|EASTUS|EASTUS|G1|2025-11-04T08:55:00",
        "x-ms-original-request-ids": "",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx",
            "name": "mynamespacexxx",
            "type": "Microsoft.Relay/Namespaces",
            "location": "eastus",
            "tags": {
              "tag1": "value1"
            },
            "properties": {
              "errors": [],
              "publicNetworkAccess": "Enabled",
              "metricId": "azure_subscription_id:mynamespacexxx",
              "serviceBusEndpoint": "https://mynamespacexxx.servicebus.windows.net:443/",
              "provisioningState": "Succeeded",
              "status": "Active",
              "createdAt": "2025-11-04T08:41:04.3354395Z",
              "updatedAt": "2025-11-04T08:54:35Z"
            },
            "sku": {
              "name": "Standard",
              "tier": "Standard"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
