{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx/wcfRelays?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-inline-count": "",
        "x-ms-messaging-activity-id": "0961b0f4-e9df-4f52-a291-92245d58e681",
        "x-ms-messaging-routing-id": "PROD|EASTUS|EASTUS|G9|2025-11-04T09:28:13",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx/wcfrelays/myrelayxxx",
            "name": "myrelayxxx",
            "type": "Microsoft.Relay/namespaces/wcfrelays",
            "location": "eastus",
            "properties": {
              "createdAt": "2025-11-04T09:27:46.5443831Z",
              "updatedAt": "2025-11-04T09:27:53.7028921Z",
              "listenerCount": 0,
              "requiresClientAuthorization": true,
              "relayType": "NetTcp",
              "requiresTransportSecurity": true,
              "isDynamic": false
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
