{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx/wcfRelays/myrelayxxx/authorizationRules/myauthorizationxxxx?api-version=2024-01-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-messaging-activity-id": "00000001-0000-0000-0002-000000010752",
        "x-ms-messaging-routing-id": "PROD|EASTUS|EASTUS|G10|2025-11-04T08:55:49",
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx/wcfRelays/myrelayxxx/authorizationRules?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "ce17a7f7-0dca-49ad-8a59-75236b2936b7",
        "x-ms-messaging-routing-id": "PROD|EASTUS|EASTUS|G3|2025-11-04T08:55:50",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
