{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768464102900255x0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-meta-key": "val",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD0500BEAAA7A\u0022",
        "Last-Modified": "Thu, 19 Oct 2023 03:04:01 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/?comp=list\u0026prefix=container169768464102900255\u0026maxresults=2\u0026include=metadata\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://fakestorageaccount.blob.core.windows.net/\u0022\u003E\u003CPrefix\u003Econtainer169768464102900255\u003C/Prefix\u003E\u003CMaxResults\u003E2\u003C/MaxResults\u003E\u003CContainers\u003E\u003CContainer\u003E\u003CName\u003Econtainer169768464102900255x0\u003C/Name\u003E\u003CProperti[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/?comp=list\u0026prefix=container169768464102900255\u0026marker=%2Ffakestorageaccount%2Fcontainer169768464102900255x2\u0026maxresults=2\u0026include=metadata\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-08-03[...]
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169768464102900255x3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "container": "container169768464102900255"
  }
}
