{
  "Entries": [
    {
      "RequestUri": "https://grsfakeaccountname-secondary.blob.core.windows.net/?restype=service&comp=stats&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Sun, 15 Mar 2026 23:48:00 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"
    }
  ],
  "Variables": {}
}
