{
  "Entries": [
    {
      "RequestUri": "https://fakefullaccountname.blob.core.windows.net/container176765136764803206?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4CA8093D15B2\"",
        "Last-Modified": "Mon, 05 Jan 2026 22:16:12 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakefullaccountname.blob.core.windows.net/?comp=list&prefix=container176765136764803206&include=deleted&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://ffakeaccountname.blob.core.windows.net/\"><Prefix>container176765136764803206</Prefix><Containers><Container><Name>container176765136764803206</Name><Deleted>true</Deleted><Version>01DC7E90E6C7B94E</Version><Properties><Last-Modified>Mon, 05 Jan 2026 22:16:12 GMT</Last-Modified><Etag>\"0x8DE4CA8093D15B2\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>fixed</LeaseDuration><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled><DeletedTime>Mon, 05 Jan 2026 22:16:12 GMT</DeletedTime><RemainingRetentionDays>7</RemainingRetentionDays></Properties></Container></Containers><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakefullaccountname.blob.core.windows.net/container176765136764803206?restype=container&comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-deleted-container-name": "container176765136764803206",
        "x-ms-deleted-container-version": "01DC7E90E6C7B94E",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakefullaccountname.blob.core.windows.net/container176765136764803206?restype=container&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4CA82D2BA920\"",
        "Last-Modified": "Mon, 05 Jan 2026 22:17:12 GMT",
        "x-ms-default-encryption-scope": "encryptionScope1",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "container": "container176765136764803206"
  }
}
