{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176765127908609379x0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-meta-key": "val",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4CA7D87877AA\"",
        "Last-Modified": "Mon, 05 Jan 2026 22:14:50 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/?comp=list&prefix=container176765127908609379&maxresults=2&include=metadata&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.blob.core.windows.net/\"><Prefix>container176765127908609379</Prefix><MaxResults>2</MaxResults><Containers><Container><Name>container176765127908609379x0</Name><Properties><Last-Modified>Mon, 05 Jan 2026 22:14:50 GMT</Last-Modified><Etag>\"0x8DE4CA7D87877AA\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties><Metadata><key>val</key></Metadata></Container><Container><Name>container176765127908609379x1</Name><Properties><Last-Modified>Mon, 05 Jan 2026 22:14:50 GMT</Last-Modified><Etag>\"0x8DE4CA7D8854526\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties><Metadata><key>val</key></Metadata></Container></Containers><NextMarker>/fakeaccountname/container176765127908609379x2</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/?comp=list&prefix=container176765127908609379&marker=%2Ffakeaccountname%2Fcontainer176765127908609379x2&maxresults=2&include=metadata&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.blob.core.windows.net/\"><Prefix>container176765127908609379</Prefix><Marker>/fakeaccountname/container176765127908609379x2</Marker><MaxResults>2</MaxResults><Containers><Container><Name>container176765127908609379x2</Name><Properties><Last-Modified>Mon, 05 Jan 2026 22:14:50 GMT</Last-Modified><Etag>\"0x8DE4CA7D8928D90\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties><Metadata><key>val</key></Metadata></Container><Container><Name>container176765127908609379x3</Name><Properties><Last-Modified>Mon, 05 Jan 2026 22:14:51 GMT</Last-Modified><Etag>\"0x8DE4CA7D89F87AD\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties><Metadata><key>val</key></Metadata></Container></Containers><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176765127908609379x3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "container": "container176765127908609379"
  }
}
