{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b19ab15e-8bab-0114-5991-6e137cf1f3f7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86818C202663\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:36:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b19ab15e-8bab-0114-5991-6e137cf1f3f7/test-blob-429a4857-d666-8e9a-be50-ef5563a8703a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86818C334582\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:36:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b19ab15e-8bab-0114-5991-6e137cf1f3f7/test-blob-429a4857-d666-8e9a-be50-ef5563a8703a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC86818C334582\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "djFgJs7Ag6bR4WaQMK586EOWFFQwVbIfohTe5Qlopsd7F/BSEScKPqQazWMf+DfHrMU1fG5KEiB/QIO54Z2caDueFBm9KtYbi9awFYhPAKncFjlDMipZMQTP09GkUF0GfWQogOQeCoHvGfCYmf2YMEDZ3cpkWDYRROIU7lcFdjt5qpckJ3/Fvgy3VBg5wZgHNqORy3OSoSQtFjwBCRsq6qO0H+5lcwnAEx69rQQd14NKDbezc6vI5gly9hBDxLTxjWp1haKposKa0LdU1PQgED+4t/xjdnb37Djl8n34fU9pzB+ap1LgoGr0GaLzcxIUUubQig24jRbzfphqxK9FoVNo6gfUhmjt[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b19ab15e-8bab-0114-5991-6e137cf1f3f7/test-blob-429a4857-d666-8e9a-be50-ef5563a8703a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86818C42114C\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:36:54 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:36:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b19ab15e-8bab-0114-5991-6e137cf1f3f7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "571930658",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
