{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d0aea101-77e4-5af3-c222-0709c39c7129?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681990387A2\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:37:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d0aea101-77e4-5af3-c222-0709c39c7129/test-blob-e1e90863-54a8-9c95-8a32-fc9bd53eb994",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681990F2D09\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:37:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d0aea101-77e4-5af3-c222-0709c39c7129/test-blob-e1e90863-54a8-9c95-8a32-fc9bd53eb994?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8681990F2D09\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "ORR6exfeji26cibkjrMWmZn0CNI4jTFKT0O4o6LJSSpFDgYvrQ77ImM2KYUqTIq/ZpeE/XfnoazjLyvUJuqL8Cj7nn+s5uyK+eVuAWOrIAK4+D0LREyzXW1aS37iJ/x5qzldLq0KEn+q+gSReaBIOA4pGy2tf6vbSEASUptuqNHp9VYqTfJUruW9YEpIIeTMERNvuQzOzCuNgeVt98DkPFEyp4RJHeoc1G1I7x5gkydcRUGI/+/FGykqncwN57Yl2ST5FXpfgvQoUuSehtwNLO2+ELF/XD1ibYtbH4AeD+y2IhX6Z32t/MNMX6wKJpVMHXDeTtYEpn3ml6juBGNzCkP452PHEsRv[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d0aea101-77e4-5af3-c222-0709c39c7129/test-blob-e1e90863-54a8-9c95-8a32-fc9bd53eb994",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681991D359D\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:37:15 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:37:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d0aea101-77e4-5af3-c222-0709c39c7129/test-blob-e1e90863-54a8-9c95-8a32-fc9bd53eb994",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8681991D359D\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:14 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681991D359D\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:37:15 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:37:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "ORR6exfeji26cibkjrMWmZn0CNI4jTFKT0O4o6LJSSpFDgYvrQ77ImM2KYUqTIq/ZpeE/XfnoazjLyvUJuqL8Cj7nn+s5uyK+eVuAWOrIAK4+D0LREyzXW1aS37iJ/x5qzldLq0KEn+q+gSReaBIOA4pGy2tf6vbSEASUptuqNE="
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d0aea101-77e4-5af3-c222-0709c39c7129?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1463034884",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
