{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-84777480-f566-1401-f106-cb2cf79010e4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86818ECAE809\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:36:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-84777480-f566-1401-f106-cb2cf79010e4/test-blob-9f794146-3936-a065-b00b-3e7d2ef569e4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86818ED750F2\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:36:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-84777480-f566-1401-f106-cb2cf79010e4/test-blob-9f794146-3936-a065-b00b-3e7d2ef569e4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC86818ED750F2\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "lhOqonIlJv8BHp5GO6uqYFGxBHdQqSP3MaHEaveURCSsz8BW5RKnAlpAZaIccCoG+iiMY7z7mezwsnHRYbsHbdp5mmvqVHs/CgIdD0OA28B3vW/PB+BosTbTZTKg1qCeOfjHota+G6asTVi53Ymob9ewWaNMN2X5Eeg0Fu5InzRhftZLuDnquKHJIrqIrtOtKvZb73z9UgKSzpDtigW3ZK0kV1+zXbadxaABghSrcWMUh+v47K+3ZCzTuOqp/S6cEb4MZFZ0+c0/vinb+8/t51wt2AMZv3j+bPMy36XL9MhyZXFWngwMoI0euC6F22ld5dCNeyQrg1JGDvhjQhonc8lhaZZel0lQ[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-84777480-f566-1401-f106-cb2cf79010e4/test-blob-9f794146-3936-a065-b00b-3e7d2ef569e4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86818EE2E8B4\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:36:58 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:36:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-84777480-f566-1401-f106-cb2cf79010e4/test-blob-9f794146-3936-a065-b00b-3e7d2ef569e4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC86818EE2E8B4\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:57 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86818EE2E8B4\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:36:58 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:36:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-84777480-f566-1401-f106-cb2cf79010e4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1859897882",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
