{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-62991416-05da-3420-e9cd-261c64fed73d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:24:17 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCCE129FA9AC3D\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:24:16 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-62991416-05da-3420-e9cd-261c64fed73d/test-blob-1d9fd440-db4d-9877-1f70-b3b600138f15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 06 Sep 2024 01:24:17 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCCE129FB18463\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:24:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-62991416-05da-3420-e9cd-261c64fed73d/test-blob-1d9fd440-db4d-9877-1f70-b3b600138f15?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCCE129FB18463\"",
        "x-ms-date": "Fri, 06 Sep 2024 01:24:17 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "8uI5/M0k6ifjH/pS9CyarpmnuA8oRdU6dLbN7OIIU5bScgK3ATeyPmqurkcrRcYSN12PgBimdawM/ocWV/5F28xkgIIp46xh9XqkepaNDi/vu7WFeNN+K/1VqgKwm+dsaNN7x8RE6FOwLYueAvoVfvBYJptIwGL55VSF0zipsVmSNxHCEkdqq9Jh1EtH4CkCQCwSV3VLJKhxguFwvxQbBnwxC8voUmyp7XvI5+sXsQUrgpMMl1njRhNpUY9l+uu+Rs7OFtRdGe2/aWr6gjy9WtHcRDyBD28iTcW3fwHdQ/OPCqEdSJswzWmmTC3v6cPWq/a9iLWvPTderMgPpZnr4iV2anibnxI2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-62991416-05da-3420-e9cd-261c64fed73d/test-blob-1d9fd440-db4d-9877-1f70-b3b600138f15",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:24:17 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCCE129FB8F617\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:24:16 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 06 Sep 2024 01:24:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-62991416-05da-3420-e9cd-261c64fed73d/test-blob-1d9fd440-db4d-9877-1f70-b3b600138f15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCCE129FB8F617\"",
        "x-ms-date": "Fri, 06 Sep 2024 01:24:17 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCCE129FB8F617\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:24:16 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 06 Sep 2024 01:24:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-62991416-05da-3420-e9cd-261c64fed73d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:24:17 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "451602915",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
