{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71f52810-24d5-125b-105a-b4a37d27c5ce?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC697861CC\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71f52810-24d5-125b-105a-b4a37d27c5ce/test-blob-cae71333-3eb1-9be4-47e7-6e8a792a5feb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC697FE97A\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71f52810-24d5-125b-105a-b4a37d27c5ce/test-blob-cae71333-3eb1-9be4-47e7-6e8a792a5feb?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CEC697FE97A\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "yn7l0tNBKUnmDVZCpsHSl5iv27AEvAvx6PB87uLezrc4UM/Bk/AxhqPaI7VDgwNmoE3LaoaoKA1z8+njxDtmBz6eCVXxEQOoflUNKplVrWTsFU2VE2QxjyfCTaAGTsFncxt2pXqtdY5KI+sxm/50HUaE9q7t0fPabXktL8NioTCTprd93gjqP6C/SvB4//QpTTBaglcTeqEnnDcAgEbL54K7nvVH9j89mbcOLoYDYW6FBOGTCB7YgCsVVULR6r9a82NuvWH/4lfwHOmgBUwbJDrIe3xkN99j4x3JMqD9bK/4szojlKQMhSGKous1N3vf+TEHCG9D9ryDCtlDNrC287A5qFER94+V[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71f52810-24d5-125b-105a-b4a37d27c5ce/test-blob-cae71333-3eb1-9be4-47e7-6e8a792a5feb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC69875B21\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71f52810-24d5-125b-105a-b4a37d27c5ce/test-blob-cae71333-3eb1-9be4-47e7-6e8a792a5feb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CEC69875B21\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:10 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC69875B21\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "fsS5ZSE+rBOXm6I5Q4YEVrRbuc8Or8EexFgYYCrLLBHEunc+V3PeRsZVVBxb7DD+rsi7E540Cc8DmqDIJkvoy26RdYgPxv9BfHMIuVqkwtgoGrJhDxlzj7GnOrzSFR96bYiuynan7ufJepYrLFB0XtjIoAyYhrxUHebXZ4tDbmc="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-71f52810-24d5-125b-105a-b4a37d27c5ce?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1240678176",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
