{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-80e63dea-6c0c-c134-b43c-2f04ef9a9385?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Sep 2024 21:15:08 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCCDEFCE22961B\"",
        "Last-Modified": "Thu, 05 Sep 2024 21:15:01 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-80e63dea-6c0c-c134-b43c-2f04ef9a9385/test-blob-2c90e734-4ad8-7ab4-18ab-7b6a70e7e9fe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 05 Sep 2024 21:15:09 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCCDEFCE2BF729\"",
        "Last-Modified": "Thu, 05 Sep 2024 21:15:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-80e63dea-6c0c-c134-b43c-2f04ef9a9385/test-blob-2c90e734-4ad8-7ab4-18ab-7b6a70e7e9fe?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCCDEFCE2BF729\"",
        "x-ms-date": "Thu, 05 Sep 2024 21:15:09 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "UUugI5Zg9PMdtkFimtcXIKerEiB1uXU3eOipEbyTxOXN9wte83HukdowvFmIp2eskxrkwEe8ZZfVaKqtt+I3ifJclKLMuCw2vIFFRP0crtGB/X6hrgOdEZJziYrGQNn4+TJmLBLE39rurgPGdiCauLrZLLlkldrvvoMQWS+hcHynTUvKtoK/vB2jswD/15px2NDQ7RQgk2NXd22Os4arTD2HHynU0AI3GW+cwOLa7+fpnoBe0INoh7nncz4VMQiW+GfDeLhxnQjOmdOkg9OBfYiGpBUFTHu6H5dv7V3DIuhnBcd7FnYveAF4kDevwwPmZvW2jozzkKzrCVkgAbCqCnbrPH0LBmYR[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-80e63dea-6c0c-c134-b43c-2f04ef9a9385/test-blob-2c90e734-4ad8-7ab4-18ab-7b6a70e7e9fe",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Sep 2024 21:15:09 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCCDEFCE356273\"",
        "Last-Modified": "Thu, 05 Sep 2024 21:15:02 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 05 Sep 2024 21:15:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-80e63dea-6c0c-c134-b43c-2f04ef9a9385/test-blob-2c90e734-4ad8-7ab4-18ab-7b6a70e7e9fe",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCCDEFCE356273\"",
        "x-ms-date": "Thu, 05 Sep 2024 21:15:09 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCCDEFCE356273\"",
        "Last-Modified": "Thu, 05 Sep 2024 21:15:02 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 05 Sep 2024 21:15:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-80e63dea-6c0c-c134-b43c-2f04ef9a9385?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Sep 2024 21:15:09 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "384935394",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
