{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-415504a3-9685-2d05-435c-79d4d96ba5c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681A99521E7\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:37:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-415504a3-9685-2d05-435c-79d4d96ba5c7/test-blob-b449c867-29b2-7e17-1b29-413d4f4a6700",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681A9A66BAA\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:37:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-415504a3-9685-2d05-435c-79d4d96ba5c7/test-blob-b449c867-29b2-7e17-1b29-413d4f4a6700?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8681A9A66BAA\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "rB4n2sfQAYZCggRRSyrV909bfucIvUg0tz6ed6bXOH9X/y45JTNWhfDcpf04GFvn1H6aPz/2Q+/W8yKJMYrgakqF+kv7m9IbBPn2KxhK+57jt6IoPfg/YLs/YzERzVRm/Dqysx4P6zmsfjpGABjWi/eDpXnnty1RRZmQvDigCjakjy/emEiA08xpe769+WCjaNg5jSfafkQNYG2Ffy8BC3QEoXDp+PKuA9Ktfjtuk0s47VRgZn0PyhHq0Tfa+lSdaHBKuVjwum/li4lVLf8Ins0iTJHaoaX29Nde/ie71Al9EBbLI9nyRzPketv0uZwR4TJqt63CwsfKU8SBkbtHKrZ/1x3pPXvz[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-415504a3-9685-2d05-435c-79d4d96ba5c7/test-blob-b449c867-29b2-7e17-1b29-413d4f4a6700",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681A9B1192B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:37:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:37:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-415504a3-9685-2d05-435c-79d4d96ba5c7/test-blob-b449c867-29b2-7e17-1b29-413d4f4a6700",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8681A9B1192B\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:42 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681A9B1192B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:37:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:37:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "g40MaTwOZzVlAV9dinxNOeO0CUdSP3SecSCDi4NDySejDgT6TOKhpfOz5B6RX4o7/QCOC/ZhOEQZbfcbi9uxIjg3uXt4U+wBEmNUnltVDRKWR46Dtb4xQtbA4N/rhRkXAsHlWaYOw6oTjfiTDZnpw1/lhURNLm16Bnelt3INFYw="
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-415504a3-9685-2d05-435c-79d4d96ba5c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1375727565",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
