{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-baf14c57-6542-db92-95d1-2450ceb05075?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:02 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCCE158621A721\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:45:01 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-baf14c57-6542-db92-95d1-2450ceb05075/test-blob-ca383ab4-6fa0-3b9a-bb2c-8a907ebd1d8e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:03 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCCE158635FCFB\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:45:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-baf14c57-6542-db92-95d1-2450ceb05075/test-blob-ca383ab4-6fa0-3b9a-bb2c-8a907ebd1d8e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCCE158635FCFB\"",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:03 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "MXGPoSVqgtCNiHIk1ndrHxzK9dK7oNWd7kO+2lfb8/nys+n95xM08HgkIhf13BLaRw/Gq1lYH5Gc8bPhrKh5spV4MiONbjcJlQRal32+qBIw45JHFEegmZNYYfZfU0TQq3CCfKnvTdnYvBVV/ogT3UihsMkVMZ1N2JiPNAxBqULAiewNOytoQZa4b1cyS5sLRYOtvqJ6unrSNaMRXxjMlxPSlXScBaIcOG8zXMFGG439hO+Jk+qgRc9yOwaIV+F97NhEX7Ymbj/hkIYzR124ixoWFNsoQwMoMk+kKsmclOGNtXDpAbvX1hWwpwNkbP1yua/rcUIGVKjUHCxmgUR1RfukppHszole[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-baf14c57-6542-db92-95d1-2450ceb05075/test-blob-ca383ab4-6fa0-3b9a-bb2c-8a907ebd1d8e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:03 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCCE1586411413\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:45:02 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 06 Sep 2024 01:45:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-baf14c57-6542-db92-95d1-2450ceb05075/test-blob-ca383ab4-6fa0-3b9a-bb2c-8a907ebd1d8e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:03 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCCE1586411413\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:45:02 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 06 Sep 2024 01:45:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-baf14c57-6542-db92-95d1-2450ceb05075?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:03 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1953200652",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
