{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-566cedce-d244-8947-59eb-ac48dd7a4c38?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681CE20653D\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-566cedce-d244-8947-59eb-ac48dd7a4c38/test-blob-85f89065-8c41-e490-2816-fc256249d585",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681CE3137FA\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-566cedce-d244-8947-59eb-ac48dd7a4c38/test-blob-85f89065-8c41-e490-2816-fc256249d585?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8681CE3137FA\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "lhGuGJk99PvH2AuLDYejDQdH7zXpYLNuZIdHaAXbXOs0LSnUnMvLG7KVJayccWx68L9D73BOrTZdQLQR9oz17HwgVt9ez3E8e9SCVDoG0fIazXdGmGx75oDydlsXuSUmnzgwfBuNGyFNBnSby1n7V2/B9ygVr1QPpXBfbFgWJMGuXLQC1lXXjbFW+JH43xom9h/sVcL8EfDkINeqLa/JN+Gz7W6l+YAa6Wp3vrbDF8VWOXY4Ks/+skvDHrZ9LWACjcGvRPKrgfyf0mxYhVI6IAgRU/Q4kA0StDoj4drJnLwKdDH0FNLTq7d5mVdipi35if2tbNpryfy0nJC3iKAi1TWwTREgRQw1[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-566cedce-d244-8947-59eb-ac48dd7a4c38/test-blob-85f89065-8c41-e490-2816-fc256249d585",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681CE4078EF\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:44 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:38:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-566cedce-d244-8947-59eb-ac48dd7a4c38/test-blob-85f89065-8c41-e490-2816-fc256249d585",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:43 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681CE4078EF\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:44 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:38:44 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-566cedce-d244-8947-59eb-ac48dd7a4c38?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1395098710",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
