{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6a1365e9-98a4-c7b2-56dc-96c2560d9a2f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681BC07FDAF\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6a1365e9-98a4-c7b2-56dc-96c2560d9a2f/test-blob-5e9715a4-6406-f8ab-ac33-d250224d8b41",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681BC137AC4\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6a1365e9-98a4-c7b2-56dc-96c2560d9a2f/test-blob-5e9715a4-6406-f8ab-ac33-d250224d8b41?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8681BC137AC4\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "8/4OGR9i+4J5dvqaQoCyM+U9PTpVPOJwyWEN08PDhYeqFD0WFN04IiA149aBT/Fjx29D2asl7LYbnk++VSe+tvBz7y5DnB8HBRsZIFgM7nlwqQxUgKzbhSiH+naOec35di3lDmDCICtPPNSQC8tdD6/VTqsbajZEl2kGu6GpeYtOH6krJuAZrYnhBUPYS3pcKuvGuCsh3gv3oXb2u2SKpcNIQushMunOvKAiOWXya0zvqpG148BgLEGdM4RqI/IkV1+AkAiOOvgC9/yK/6SmBTUpBhHT1MIC5xWqg/5kZJmu/eIGcdtEYW+Zs+vE1S2c9y5OQBzgUYKcfqjz47b5nZNj3AHBoJNZ[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6a1365e9-98a4-c7b2-56dc-96c2560d9a2f/test-blob-5e9715a4-6406-f8ab-ac33-d250224d8b41",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681BC5400B8\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:14 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:38:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6a1365e9-98a4-c7b2-56dc-96c2560d9a2f/test-blob-5e9715a4-6406-f8ab-ac33-d250224d8b41",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8681BC5400B8\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:13 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681BC5400B8\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:14 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:38:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "8/4OGR9i+4J5dvqaQoCyM+U9PTpVPOJwyWEN08PDhYeqFD0WFN04IiA149aBT/Fjx29D2asl7LYbnk++VSe+tvBz7y5DnB8HBRsZIFgM7nlwqQxUgKzbhSiH+naOec35di3lDmDCICtPPNSQC8tdD6/VTqsbajZEl2kGu6GpeYs="
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6a1365e9-98a4-c7b2-56dc-96c2560d9a2f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "129041984",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
