{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-862b78fb-ec06-7f97-700d-fb30504ac4ff?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86818FA92734\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:36:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-862b78fb-ec06-7f97-700d-fb30504ac4ff/test-blob-5f7a79a7-0e2a-9aba-cfbc-3fdc9df9d29b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86818FB9604F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:36:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-862b78fb-ec06-7f97-700d-fb30504ac4ff/test-blob-5f7a79a7-0e2a-9aba-cfbc-3fdc9df9d29b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC86818FB9604F\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "k2E4MXc+5TFhG4fcaIOLXPsydfHng7hg8ra+nxNGgloJS4CS3OBRfHkx3ys8bPHZAFrWWi8uUBCo2D/Bf0YdG5kt0h0D+X8a4Pl4taONJIbE5Z65cCgq2vtw6QShkPwzE8SRDpnU1gbau3k2tppsG7O4/JqnZKtwAvcikg97eFD8RKHf+xXs8A+Y3rSv9CRhBM5Q6ZRijK8ZIAyhskP3XkIpOXH4jR+eywuLD4X2wQ7TwI5AK4+8mrjyxtoJSj7LoIBxhbqyaHevsh2I130qIl/9zvG1tzOybJ65BcZElIDNv24FhDtTIFcXkXhyNMM6x6N7C3xNFulMvxgc+GOwax2cuhcOJZ0j[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-862b78fb-ec06-7f97-700d-fb30504ac4ff/test-blob-5f7a79a7-0e2a-9aba-cfbc-3fdc9df9d29b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86818FC3237F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:37:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:36:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-862b78fb-ec06-7f97-700d-fb30504ac4ff/test-blob-5f7a79a7-0e2a-9aba-cfbc-3fdc9df9d29b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC86818FC3237F\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:58 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86818FC3237F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:37:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:36:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "k2E4MXc+5TFhG4fcaIOLXPsydfHng7hg8ra+nxNGgloJS4CS3OBRfHkx3ys8bPHZAFrWWi8uUBCo2D/Bf0YdG5kt0h0D+X8a4Pl4taONJIbE5Z65cCgq2vtw6QShkPwzE8SRDpnU1gbau3k2tppsG7O4/JqnZKtwAvcikg97eFA="
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-862b78fb-ec06-7f97-700d-fb30504ac4ff?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "405982245",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
