{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-249ef931-caa5-abf3-6394-1c098ce4d465?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681AC63E352\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:37:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-249ef931-caa5-abf3-6394-1c098ce4d465/test-blob-32bd956b-c48f-d9e8-cabc-8c871b79411d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681AC755403\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:37:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-249ef931-caa5-abf3-6394-1c098ce4d465/test-blob-32bd956b-c48f-d9e8-cabc-8c871b79411d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8681AC755403\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "g2ibxwyVgGYui+PnuDcTNRl6VENNEQqh2PNDSaeP7S0ezDkvk7KWH8gvlNBfcYkzxO4hrL5b+HFe+e8YUTa/n561yOv946Fm4zR7HXw6QmZpD4S4bUBvw9TH0ZnCfc2Rb/QyqqmdNeBNusiK39r1JLaJrkGxBzJdRgQXNhIHpGZm6a2HB5i9y9qkarJ35OT60qzjOc6M32jC1GSkhv/NRRZiI/UsbRwey+JnDZ1/5WEgHWRmJGqX2gpFxTM0GUXa1iSbFcDuzWSPxG3rJNHLQu4ChGmaZyGsyknr5qjp6rKdjDd45NCgMU//1mD8rLU4eoJEMZTcQG4D70p3A+e8ptm7TZeaUl4d[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-249ef931-caa5-abf3-6394-1c098ce4d465/test-blob-32bd956b-c48f-d9e8-cabc-8c871b79411d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681AC80EBC9\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:37:48 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:37:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-249ef931-caa5-abf3-6394-1c098ce4d465/test-blob-32bd956b-c48f-d9e8-cabc-8c871b79411d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8681AC80EBC9\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:47 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681AC80EBC9\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:37:48 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:37:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "g2ibxwyVgGYui+PnuDcTNRl6VENNEQqh2PNDSaeP7S0ezDkvk7KWH8gvlNBfcYkzxO4hrL5b+HFe+e8YUTa/n561yOv946Fm4zR7HXw6QmZpD4S4bUBvw9TH0ZnCfc2Rb/QyqqmdNeBNusiK39r1JLaJrkGxBzJdRgQXNhIHpGY="
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-249ef931-caa5-abf3-6394-1c098ce4d465?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "283760134",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
