{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fad7fca6-d76f-8740-342b-fdcb04a6440e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC6CD98ED9\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:06 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fad7fca6-d76f-8740-342b-fdcb04a6440e/test-blob-4d64b2f5-b70c-ecc6-337e-9dff1b1a63ba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC6CE0F2F0\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fad7fca6-d76f-8740-342b-fdcb04a6440e/test-blob-4d64b2f5-b70c-ecc6-337e-9dff1b1a63ba?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CEC6CE0F2F0\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "/ODWxzaFYEj2b5kmk0eg+pHNHBvK7JNYcvABaQZMDVdFxP0GYtL4KYiTYQvLO4vxCF0njezntQ9MfVRGg/dCqmJB4c5Kmpe/1PKTN4qIjTdkD2CoJIBrXQ/tueV9sqaQUbepiVq9pm7FaLj5VH6Fw/Ad4nOWmYXh1oO+XOCyQiJMAuXT3wPcpmjy4rzHcQiRaPX1X88y+bcxx7PX/kqNEyWVrFKYsePsQTsKpLbJGmR6LfTrveJSGgguohhQBKceZc+WMcS2+bYRCB2UJ1UAZ6xOXNFVolVCQpFJaQ/LnDyT7D/nM+ifwzQ92bTFvvOzLjprAqjWycN5U+8zbI+nRmzgADoWGTTE[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fad7fca6-d76f-8740-342b-fdcb04a6440e/test-blob-4d64b2f5-b70c-ecc6-337e-9dff1b1a63ba",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC6CE864A4\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:06 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fad7fca6-d76f-8740-342b-fdcb04a6440e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1662405483",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
