{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ad42ace4-3049-3f0e-d1a3-31df07946fa8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC68CB9ACC\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:20:59 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ad42ace4-3049-3f0e-d1a3-31df07946fa8/test-blob-69061066-b4aa-4126-f4f6-9d1030d86a10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC68D32D92\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:20:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ad42ace4-3049-3f0e-d1a3-31df07946fa8/test-blob-69061066-b4aa-4126-f4f6-9d1030d86a10?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CEC68D32D92\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "4QSq+4EJXIjHpoY3HenToz1ZbHODxGI3ynJK0fiEI89TDkRog2pXaDeH45+vzcH49L4jH+tKgR2hcjEOvouQQoK24w6kaiDSAgM8/ODCh/yxUtw6YATkCI0mxhA5SKmr96Ed+eqyU4meURznDoU93+s0XWyvVeJ90tuBfaQPmblZkAQ+pY4S/v9Tmw/n/PkI6eYkBOo9/KG+nyYOMNXljrdjjX6A/jpdIl5sW7rSltXheZS965XOHJRigAZnA80qbQ1XhG97h+usx+GM0aDn6whRLbdBJ6MilHHqHn0z9h6RQu6sehFmZvGoECOzQkrze5T9FtYW6UZpNfD9kWlteNHD+4+yOnD3[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ad42ace4-3049-3f0e-d1a3-31df07946fa8/test-blob-69061066-b4aa-4126-f4f6-9d1030d86a10",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC68DB8896\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:20:59 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:20:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ad42ace4-3049-3f0e-d1a3-31df07946fa8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1053238309",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
