{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ecb1e935-e536-56f2-46bb-d1bb535dc277?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681B3C00730\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ecb1e935-e536-56f2-46bb-d1bb535dc277/test-blob-9da9d277-7580-b689-90a7-8113aeebed87",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681B3CB84AF\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ecb1e935-e536-56f2-46bb-d1bb535dc277/test-blob-9da9d277-7580-b689-90a7-8113aeebed87?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8681B3CB84AF\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "IHmcUK0h5+Qw63ukd6YR2NNBIdeJEzWro2xAu0ztr6xbZCvK0ZfjeJXvflX/uprW1Sr41aJegA1D8a1A4CuYQzzPSRJ7Rwc7XalBmpTgq+jSaeYi9doJ/OMeh9/qo5hpVjsZL3GHW44ivXf5HOZ4Y0XFbnZFdk1ixkwvXL8nULkR10NYxnt2Sg1X/zhiD9/9pSOZJTQhJODtt2kkV//O+my96ESiIJzKTiNo7XYV/7dtMracjiuE77Niag8SUvMOiQTMpCeaWoWHz9cRuDdp2LextyVIMmxAOPiRP7WMt/swWmNySVuQ0tgwFL5Uczd8+ZJYYJvOxVeXi2suCBrQ+hjb4V3T945b[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ecb1e935-e536-56f2-46bb-d1bb535dc277/test-blob-9da9d277-7580-b689-90a7-8113aeebed87",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681B3D74384\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:38:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ecb1e935-e536-56f2-46bb-d1bb535dc277/test-blob-9da9d277-7580-b689-90a7-8113aeebed87",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8681B3D74384\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:59 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681B3D74384\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:38:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "IHmcUK0h5+Qw63ukd6YR2NNBIdeJEzWro2xAu0ztr6xbZCvK0ZfjeJXvflX/uprW1Sr41aJegA1D8a1A4CuYQzzPSRJ7Rwc7XalBmpTgq+jSaeYi9doJ/OMeh9/qo5hpVjsZL3GHW44ivXf5HOZ4Y0XFbnZFdk1ixkwvXL8nULk="
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ecb1e935-e536-56f2-46bb-d1bb535dc277?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "749863894",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
