{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6f187689-bc45-8ad9-afd5-dc256ebee524?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC74F6D97D\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6f187689-bc45-8ad9-afd5-dc256ebee524/test-blob-e27c91bf-1054-39c3-4582-0d6e3ed04b49",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC74FE2978\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6f187689-bc45-8ad9-afd5-dc256ebee524/test-blob-e27c91bf-1054-39c3-4582-0d6e3ed04b49?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CEC74FE2978\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Er6m1Wau6YKSuv990FIEmZ6BDAXISqSfSP47f7F9Z+BE83TGcGD0a390CcVtsVsBGbzHdIN+MMgaB41nc2rQFFIfONzePik+jaGFU0HeMZaiOWX0tfJcxsKrrGjTjPcVpPRyTnh/ItuTiefi+N2HO9b2xDkE219gwnIZM5LAagCpcK9Ma+IdIxaKYSsLes3lJHCS3Mi+EciUEowGZe9J0x/mOYguOtDz2KAieXo0VEekNA4hLY046l/muFhWF74nQY4MJEFFt+mgnwQnm5dNYL1EYTHgJ6WRrk4pR4F3ncDi+zjsJzAFX3wlgY6JEE/HmFibEbaNRhnoenXzHG9nKQJDRaBfYTiN[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6f187689-bc45-8ad9-afd5-dc256ebee524/test-blob-e27c91bf-1054-39c3-4582-0d6e3ed04b49",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC7506F92A\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:20 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6f187689-bc45-8ad9-afd5-dc256ebee524?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "988312084",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
