{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7fd6a522-6bae-a027-453f-13e6749bb55f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681938B63FE\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:37:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7fd6a522-6bae-a027-453f-13e6749bb55f/test-blob-ae6d6306-5003-4b40-5e46-b4ba1e72797f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681939E34E5\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:37:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7fd6a522-6bae-a027-453f-13e6749bb55f/test-blob-ae6d6306-5003-4b40-5e46-b4ba1e72797f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8681939E34E5\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "QOZyR3xgqz+dbFH9QjXirYDkGG57eP3PbPXHfF3u9rY7yLHXJXiybVrgn/VYORDJg9iZjl0G5cjootqGmS/hr3WawXmDC4cIMqsTmtkIdzPl/viEVGhYNOLo7oOdLNMr/++AvXeWRXdQkVyy80ru4CunoJo2XVsNQY2Wmh0EagbX6JvpiLm7T7mBM8IMpkGY+g5X9os59aGUcnvq/6paTCdV2wqvBFdy7FHhtSmYAZtL/qAOrHN7nvP5VRU90E8PJuebtso36PW25Qo5WEB4/HHgnwAJTJ+z2j0Xta9CNRsB0Y5B/EvRFBWrV8dpQUWzgFmjXTFPBdpH6NuNHzNFdLDvN4axNv8m[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7fd6a522-6bae-a027-453f-13e6749bb55f/test-blob-ae6d6306-5003-4b40-5e46-b4ba1e72797f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868193A89443\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:37:06 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:37:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7fd6a522-6bae-a027-453f-13e6749bb55f/test-blob-ae6d6306-5003-4b40-5e46-b4ba1e72797f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC868193A89443\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:05 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868193A89443\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:37:06 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:37:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7fd6a522-6bae-a027-453f-13e6749bb55f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:37:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "8913027",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
