{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-55330686-3a38-d796-e1db-3b6d926c6530?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86818C6A6F89\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:36:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-55330686-3a38-d796-e1db-3b6d926c6530/test-blob-ad4472d3-9e4f-bf7b-27cc-1c69bda4cedb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86818C797049\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:36:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-55330686-3a38-d796-e1db-3b6d926c6530/test-blob-ad4472d3-9e4f-bf7b-27cc-1c69bda4cedb?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC86818C797049\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "b1WkNNfX/F5RSqi1ibaZkMGI2qgQpMVr3xKQ11O7WBQGmXHorOXau+z9byBX1NFfAEQ4B77TBsuPOFXFRyUKlvGUru9EsePcrh+8EzSlFAtBMdYPglFVMpOlWHOPFXPH8tkuwyXhGk9gXFmeF/KX6iRKhBZO+xOfPntcn1hwTJir9SBbdlDmYBaHryb4txugDm5PRZFdePfFj4WphHv28A/A8iHSPHTTZCP/x0vtpoZgu5HqIAcGTnwolefLPNubkL4WOMX6ztH5e+BtXbGr1+j+ScnpC88IuaSlqaaMCCdIZDaM1m7BZey/8KUmmfDLfL7+zPMSsYTvDn4gVCQrbHK5Jfh6HwF5[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-55330686-3a38-d796-e1db-3b6d926c6530/test-blob-ad4472d3-9e4f-bf7b-27cc-1c69bda4cedb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86818C852F1D\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:36:54 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:36:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-55330686-3a38-d796-e1db-3b6d926c6530/test-blob-ad4472d3-9e4f-bf7b-27cc-1c69bda4cedb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC86818C852F1D\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:53 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86818C852F1D\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:36:54 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:36:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-55330686-3a38-d796-e1db-3b6d926c6530?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:36:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "679521763",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
