{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-53cc1e86-9c3d-7ffb-524e-e89445752806?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:05 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCCE158774ADB0\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:45:04 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-53cc1e86-9c3d-7ffb-524e-e89445752806/test-blob-43191b00-0c45-493c-bbc5-11809fe20a15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:05 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCCE15877D609A\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:45:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-53cc1e86-9c3d-7ffb-524e-e89445752806/test-blob-43191b00-0c45-493c-bbc5-11809fe20a15?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCCE15877D609A\"",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:05 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "Cmr04CYU+TQr41E1KJtMwCAkIdipROIOpVBQJoo7EJFFI1XHnU2cXnOXuEH8NitW8QeYs07qpsaI5jvWxNKq8NLA8ARGhSLSiMNkEougEW8k+TWDolxCW32OP7cSxZmg7MhvPEYnD2zkxSuKhZM659TLssqdJk11fZSHt0VrwMIqwyXDMdUp/erInt0xuNXpVFfiRhPOA8Z7+b6xn1cmeQRpYMFtdrb+orTg1IdwRMW/nmPtiHquW8BfSDcXd12SoiXYx1gTe96h5KNe7i4+CrX48QH0OPCKuwQBDi5+5ypXTTJil31tqyKFS6TWT22RIT2CHoVbnmk1TgxTEm2vI/x5B6D823M4[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-53cc1e86-9c3d-7ffb-524e-e89445752806/test-blob-43191b00-0c45-493c-bbc5-11809fe20a15",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:05 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCCE15878719B7\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:45:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 06 Sep 2024 01:45:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-53cc1e86-9c3d-7ffb-524e-e89445752806/test-blob-43191b00-0c45-493c-bbc5-11809fe20a15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCCE15878719B7\"",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:05 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCCE15878719B7\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:45:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 06 Sep 2024 01:45:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-53cc1e86-9c3d-7ffb-524e-e89445752806?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:45:05 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "123201019",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
