{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-14ad1ac8-da66-b93d-1302-bf8cc7e58f70?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681CE9C1A6E\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-14ad1ac8-da66-b93d-1302-bf8cc7e58f70/test-blob-d1a762d6-c1c3-f747-7a2b-ec453f5b734e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681CEA8CECA\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-14ad1ac8-da66-b93d-1302-bf8cc7e58f70/test-blob-d1a762d6-c1c3-f747-7a2b-ec453f5b734e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8681CEA8CECA\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "dbF0wBwd97p7F7bsRLeG+tTZTN/ztYh6w5uOgk7iefXQxxCApW7JI/A4XtCHRhYlL8XnQhzI28Ap+fyAjnRsmZ7AG3ynBVVmDynvule38nyFaFKI+jbZCOxPV6txSZR7zMUyxyqafilwgTPz2SBpcgaA+yUi5J5o5hOQV66q9caUc+6ShCtR6+koF3kD5i/L5uSk8E1uWegmyuAXCSd7xoxsXmUy1+7bLhA8+cwkZf/kxXDKBQR5JhoGa7lKOuHCrVHslojJmQ/2yMI8MmAbAWXhMkS3scCI8jdLK2s0kfMveUt7N853Gyth0zxBPPS56mlUaQicC/yQZKRQfW2jwTfODbgUoMmW[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-14ad1ac8-da66-b93d-1302-bf8cc7e58f70/test-blob-d1a762d6-c1c3-f747-7a2b-ec453f5b734e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681CEB884EC\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:45 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:38:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-14ad1ac8-da66-b93d-1302-bf8cc7e58f70/test-blob-d1a762d6-c1c3-f747-7a2b-ec453f5b734e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8681CEB884EC\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:44 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681CEB884EC\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:45 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:38:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "vXYJ8h6wmj4OyNyXEjf7ErNvWV1PbAjye3jZAdODFXAOoRDLG4OjN7P/hSnALOcG7nOsuuOEZ1BuF3el1plri7NriHEnL/cwzCKqUOfeMU+R0xNf1lqNijm/XQMM/WAak/p2VaN13r58fO3B2hZpj+YnEwOFC7RY3v43Z9HzI84="
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-14ad1ac8-da66-b93d-1302-bf8cc7e58f70?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1672825109",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
