{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b8eefe3-542e-d606-80ff-650392999b2b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:24:18 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCCE12A036E505\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:24:17 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b8eefe3-542e-d606-80ff-650392999b2b/test-blob-f9da66ec-97b2-da26-01b9-c892ff01ed15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 06 Sep 2024 01:24:18 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCCE12A03E321B\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:24:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b8eefe3-542e-d606-80ff-650392999b2b/test-blob-f9da66ec-97b2-da26-01b9-c892ff01ed15?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DCCE12A03E321B\"",
        "x-ms-date": "Fri, 06 Sep 2024 01:24:18 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "aH4ze9ORqzdvaXTWjXhMvuxRavzRFuEc6YAxBi5z0WE3pSQMjpdAB+qQFeBTVz7+E74gAiojUFGcF5FTX6QI/JcTn+dTQC9UEGMSQAEByJFCM/NwUs82E1XSb3cG7adFhxlJP7hWqtOOy/HGEQ9Qm07/ECyxmKnH3IuSgdC3TiK7zLjnt4nY64kg4YbdbwJFgtMpBtx7lO9vgWItxCkC133PC0VXaOPFJyWikLYi6WyJTf78jkhFQDfIeDYmqydgHQoJDmS87RnwZN+32AM5TJj2o3YqBUg1icsNjvCtnnv+QnOrGdoIzF/lDClojmczjyueMAewNRfB1IWZr18oQ8VjuZWQjTO9[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b8eefe3-542e-d606-80ff-650392999b2b/test-blob-f9da66ec-97b2-da26-01b9-c892ff01ed15",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:24:18 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCCE12A0455611\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:24:17 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 06 Sep 2024 01:24:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b8eefe3-542e-d606-80ff-650392999b2b/test-blob-f9da66ec-97b2-da26-01b9-c892ff01ed15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCCE12A0455611\"",
        "x-ms-date": "Fri, 06 Sep 2024 01:24:18 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCCE12A0455611\"",
        "Last-Modified": "Fri, 06 Sep 2024 01:24:17 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 06 Sep 2024 01:24:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04"
      },
      "[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b8eefe3-542e-d606-80ff-650392999b2b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Sep 2024 01:24:18 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1887968467",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
