{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b0b43be-65e0-367b-0b09-d791196203d7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC74B0BABD\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b0b43be-65e0-367b-0b09-d791196203d7/test-blob-f449c0e3-e983-1987-6e89-56f152f5a025",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC74B8E2D0\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b0b43be-65e0-367b-0b09-d791196203d7/test-blob-f449c0e3-e983-1987-6e89-56f152f5a025?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CEC74B8E2D0\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "5sWVuYeT3V4ZksLJKbixIJGlfS63YL8XKaarfp4DEQm36dy/Vr6qgQ5MioW7QR4bM6CVwiIxm4YFfZDh6F7AFYC5EkDb8srS+vwfatU5XOeHj0v9bU/mhU1VutguyJivjHQFAS/eP0DVw8cmEjGxyyGoWlgSwqcw0ozyhTfyozFjcN5gNFq4qFAKKKqHwHMbpO62hm5AncnN1C+i67kJ4yCWwqFSUJfH77EIB5r9qREZ1+FIOx3CI9IVk18rFryWAUSK8f7RyVRX7pe9N5UuzysdiBTYwKgC05/OPb03nNj0cQZWc7cTSA6M8EyFBes95sM0DY6nvUCbhx5fAouWIFK+yMaP2Fx0[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b0b43be-65e0-367b-0b09-d791196203d7/test-blob-f449c0e3-e983-1987-6e89-56f152f5a025",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC74C07B70\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:19 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b0b43be-65e0-367b-0b09-d791196203d7/test-blob-f449c0e3-e983-1987-6e89-56f152f5a025",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CEC74C07B70\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:29 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC74C07B70\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:19 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "GAIUJADd5TIXkIb28uHXVr17tGc+B/yyvjvfQG6wRUDSzhWUl6LG4pXseQ+TazmrAV6QGS1UbhAGYWbF/qXDZ0tGIyTMQ74atdHSUo7sH1IBND4PHywSfl8EjTY8AOTvKBLETEgV3r2gdmNcgRyCGUEUw8lms0cfNKXEyLWH3bQ="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6b0b43be-65e0-367b-0b09-d791196203d7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "950790488",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
