{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ecc91612-3d25-4550-fb2a-729aaa41920e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC6D333089\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ecc91612-3d25-4550-fb2a-729aaa41920e/test-blob-e80b5a87-56f5-875c-3d6e-6c24f84fcd00",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC6D3ABBF1\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ecc91612-3d25-4550-fb2a-729aaa41920e/test-blob-e80b5a87-56f5-875c-3d6e-6c24f84fcd00?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CEC6D3ABBF1\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "HNi3HT4aQYPrjTEzStz8N6C9FdTwJomY1r4I5cI/Z2lJ5ldwDG12apTNgPeT0xJRLJRLFzzUHPVOHkaAElzBqybH6mOEjCsyRqpAI6WSBQOrtrgt808tdMlhIu0n9lg3DNTQzOiuzKBpGdCSlPlQvBlC1Fukk7jWmnWaI2k9ClBSCRbRwTga/eoXxNp/m+DPEWbU5CL8k3gc+jJzFKk2Kw6AP4vifvrgKNdxjM/dV/+VyhEDaSYuVXWetccGp+hB4JjL/1tV7ZJr87xLiwapPqIy3UqXM8LoUuoVRMky2YDuL6s2ElijQN1/l3Vp48lu9HYk08meqa3W46xxP6jJORo8XFtbcixK[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ecc91612-3d25-4550-fb2a-729aaa41920e/test-blob-e80b5a87-56f5-875c-3d6e-6c24f84fcd00",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC6D422D9E\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:07 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ecc91612-3d25-4550-fb2a-729aaa41920e/test-blob-e80b5a87-56f5-875c-3d6e-6c24f84fcd00",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CEC6D422D9E\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:17 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC6D422D9E\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:07 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ecc91612-3d25-4550-fb2a-729aaa41920e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1580439471",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
