{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-099b40fb-e1f4-9754-458b-bd54d921244c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC76AFBBA9\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-099b40fb-e1f4-9754-458b-bd54d921244c/test-blob-92046dce-ebfa-b0f5-0e09-77a6244bd63d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC76B7093D\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-099b40fb-e1f4-9754-458b-bd54d921244c/test-blob-92046dce-ebfa-b0f5-0e09-77a6244bd63d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CEC76B7093D\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "XCB7q8+cV/OPcJevcukYRCamZHC58CkgkueWENCzJf42sg5ehblHVBFzpLJaLT6GMfLWXg+eAmv3WhnnBkcj3EqYeMDaub9tXw9fRUt2xmSpD97e3MfvmK+iZyqfX07KUMhnwbV+q3gyaf7/PrwfgJS0PvZoRACDqN8QN1GVzf/AlfSDDgSvK2NmrHLJ71nyg+aW6yBXYQzH5BnVbXMmnZv+PqnIm3KPBBOSApiNubiGHbRq/uLfaDPouynr2r3wPw7WyrCvKud0BuYNxV90OipgTk+/u565H9V13+BIpClVosKJtu8H1vLN9vj70qPUdIH+ioxuMYRwHarbOksHK2G9tyOd6oQ7[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-099b40fb-e1f4-9754-458b-bd54d921244c/test-blob-92046dce-ebfa-b0f5-0e09-77a6244bd63d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC76BEA1DC\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:23 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-099b40fb-e1f4-9754-458b-bd54d921244c/test-blob-92046dce-ebfa-b0f5-0e09-77a6244bd63d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CEC76BEA1DC\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:32 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC76BEA1DC\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:23 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "XCB7q8+cV/OPcJevcukYRCamZHC58CkgkueWENCzJf42sg5ehblHVBFzpLJaLT6GMfLWXg+eAmv3WhnnBkcj3EqYeMDaub9tXw9fRUt2xmSpD97e3MfvmK+iZyqfX07KUMhnwbV+q3gyaf7/PrwfgJS0PvZoRACDqN8QN1GVzf8="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-099b40fb-e1f4-9754-458b-bd54d921244c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "929853915",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
