{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f3bd960f-2fa4-e083-eba8-f2a372ee8174?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC6C4B088F\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f3bd960f-2fa4-e083-eba8-f2a372ee8174/test-blob-99eef56f-25bb-dca2-0ab0-f07727390171",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC6C54E0C6\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f3bd960f-2fa4-e083-eba8-f2a372ee8174/test-blob-99eef56f-25bb-dca2-0ab0-f07727390171?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CEC6C54E0C6\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "pOygj3onRwIEGyC9PRH6DIoT/p2pGMphNEMxZ99sZqpCzM34P45kfY1DZI9mWhb8OyCbKCoHfIsiPlo29uAil7V2e3FDAc37r4EPZbM7+9ktNCy/0T1/O1BB1gAzLoetIMzZ79+luDlSn3mp9xbY50OBCcGzY8Z39kAgAivNx4D5YkTmYQv5iHvzbDHE1UM5ae68siTF+b0GYvifhLYNhNf4r5XR8YY4h4BGwPaUsiH85pg8ERVbNGiH4P4SWgTE5edazCataHdogyqjfznGcrDXop0e0HPCnHstShGHJi18gdsPOeb7Tn4g043quLQvwG1OOrhnphR0mC+qgB5l4V39J/1dtzjJ[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f3bd960f-2fa4-e083-eba8-f2a372ee8174/test-blob-99eef56f-25bb-dca2-0ab0-f07727390171",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC6C5D62B7\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:05 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f3bd960f-2fa4-e083-eba8-f2a372ee8174/test-blob-99eef56f-25bb-dca2-0ab0-f07727390171",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CEC6C5D62B7\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:15 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC6C5D62B7\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:05 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "pOygj3onRwIEGyC9PRH6DIoT/p2pGMphNEMxZ99sZqpCzM34P45kfY1DZI9mWhb8OyCbKCoHfIsiPlo29uAil7V2e3FDAc37r4EPZbM7+9ktNCy/0T1/O1BB1gAzLoetIMzZ79+luDlSn3mp9xbY50OBCcGzY8Z39kAgAivNx4A="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f3bd960f-2fa4-e083-eba8-f2a372ee8174?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1587362291",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
