{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5fe85408-0eab-c262-582d-02776f495dcb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681CFDFF09E\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5fe85408-0eab-c262-582d-02776f495dcb/test-blob-64aff2fa-8bd1-41df-9e91-f5c2e586e79b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8681CFECA4EA\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5fe85408-0eab-c262-582d-02776f495dcb/test-blob-64aff2fa-8bd1-41df-9e91-f5c2e586e79b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC8681CFECA4EA\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Bnln/9LRY76Ep0UPrO9Byh+oD9JNvTN9BHl5D4k7ACwij2sGJg6Hljo9HPDOMZdHNPV1mN2mhElG6vpZV1M1SKcY7B2EOqQRIXiXEKBDrtPhMtqUxmdPfAsiwDwTLT/mB9RJtkR6w/lRY3dkDnOoAjsmdyR5oYE/yXASYXpn/vQ5sQjM+viOZ2/gQmPw6m2Xeb4A7bUabWZSCezUZ2F/6WWDK1xr2wdDmBC1mF4eTt4Ce+i7ZxA+H0SievALuv8OYFn+bb8QK522vVWlZNQHM7oO0ex4xIJURAsYyWEXN90QpjcFIOEf8k9KBKq7mbpvmkY1/ekTlZzWqiiz+GI8n4V3lL6dARPZ[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5fe85408-0eab-c262-582d-02776f495dcb/test-blob-64aff2fa-8bd1-41df-9e91-f5c2e586e79b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681CFFD1E42\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:47 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:38:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5fe85408-0eab-c262-582d-02776f495dcb/test-blob-64aff2fa-8bd1-41df-9e91-f5c2e586e79b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8681CFFD1E42\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:46 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8681CFFD1E42\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:38:47 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:38:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5fe85408-0eab-c262-582d-02776f495dcb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:38:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1459223973",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
