{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2bb25913-fbbd-2f10-1480-8a8d5a733cbc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC786E8FE1\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2bb25913-fbbd-2f10-1480-8a8d5a733cbc/test-blob-8f30031e-9c8c-2d14-7363-fec36baaad71",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC7875FCB2\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2bb25913-fbbd-2f10-1480-8a8d5a733cbc/test-blob-8f30031e-9c8c-2d14-7363-fec36baaad71?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CEC7875FCB2\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "y7uCh6xGLMywHguToCWMlpGZsfCa/ODaUhyQSwztY1l3YB7n+2dElj0Mj73PeBv2NqQqlxXAX87apzWQteHAwruyG0AGpZsqVBuzjm0jC9oBmhVowstDtwBQDFMytOBbTM0BHFza75EIAEP6DNFht5xajxrLWP/wbmQ/tphI96A6V0KgIe99JquEX8KISaov7lW31yXFkPPNEa33mzj4wAiiv7WOwZWt3WhvR/g9ZyW6D8hDkCB6dMdO0hBBhopyi5+55Yn1oCy/Cvq8Vkj7kKmIPYxvtS/oKEvtQO+Fa1fd/LtYhIKbxW6bg4Ymvh5+UkJmuEj+A9Zw0b0+B2A9Op6j3lmNowwm[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2bb25913-fbbd-2f10-1480-8a8d5a733cbc/test-blob-8f30031e-9c8c-2d14-7363-fec36baaad71",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC787DBC24\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2bb25913-fbbd-2f10-1480-8a8d5a733cbc/test-blob-8f30031e-9c8c-2d14-7363-fec36baaad71",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CEC787DBC24\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:35 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC787DBC24\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2bb25913-fbbd-2f10-1480-8a8d5a733cbc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1709707820",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
