{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-65522f0a-704c-f309-1b8a-5f54f913ab41?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC7ACFBC0F\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-65522f0a-704c-f309-1b8a-5f54f913ab41/test-blob-fbe47052-3173-1af8-97eb-ff7265f2c32e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC7AD7099A\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-65522f0a-704c-f309-1b8a-5f54f913ab41/test-blob-fbe47052-3173-1af8-97eb-ff7265f2c32e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CEC7AD7099A\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "wm8NhGuZKYEFHmQF9pOn5zm2/ivf5LqvKPp3/hZ8EP68UbPcJsw9u6SywWiHOgZfH4x0bQRfSN61XlxxIStqiQ1mSKXgysBteEKHLSNRKO3zGN6KB6P5XQjUJ8hwy5l5RzhbIPJhflTLB/TB2Bu7YzZufQlM4IFpbOqdC6L4/aypDebr9gf7kpmJv/+vOIXsGcSSAU6QLWa28rQHw3Oy0gpHGMo1z20ucutvwiGBuTRlsPHeZfteGOB/NANS9M4m1+z1Zx+6t0lWY49jIWpFNDiAoROB02wP6QDqtZtp3H4cSeo1jFIUqvmnhwJs+/Z1Ov/L0lK7pAR/5X4f0AGu7YcQRtiAD6jm[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-65522f0a-704c-f309-1b8a-5f54f913ab41/test-blob-fbe47052-3173-1af8-97eb-ff7265f2c32e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC7ADE7B44\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:29 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-65522f0a-704c-f309-1b8a-5f54f913ab41/test-blob-fbe47052-3173-1af8-97eb-ff7265f2c32e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CEC7ADE7B44\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:39 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC7ADE7B44\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:29 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "wm8NhGuZKYEFHmQF9pOn5zm2/ivf5LqvKPp3/hZ8EP68UbPcJsw9u6SywWiHOgZfH4x0bQRfSN61XlxxIStqiQ1mSKXgysBteEKHLSNRKO3zGN6KB6P5XQjUJ8hwy5l5RzhbIPJhflTLB/TB2Bu7YzZufQlM4IFpbOqdC6L4/aw="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-65522f0a-704c-f309-1b8a-5f54f913ab41?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1068161590",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
