{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-116f2163-125a-2072-b4ae-a4be4280e646?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC7783EB47\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-116f2163-125a-2072-b4ae-a4be4280e646/test-blob-56dd4023-4dc6-5b75-926a-0458bc185cf7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC778B44F4\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-116f2163-125a-2072-b4ae-a4be4280e646/test-blob-56dd4023-4dc6-5b75-926a-0458bc185cf7?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CEC778B44F4\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "/FvmJStpO5X+y5wPpgnR4rJnGW6Jc9jaB4DJ85qGXF1FT2zz69YSO5hhdaKlh11aqFHp3/6Xk4mCDB6qoEj7d24+yled3vfbVd3VJ/02NH8jb0pInH1erbvjcN64Z5tQZv0zZ70GvMlaDoogwWyLTNifhzD9strx3x2bum0YI+1ChMH/As3CHbKB7o7yPutPWCQGGOBqU7QjQYegagJbQeqc3jyqi0kL3Wl+e8NL/qExS2FJEgoN1zEM3MFFIbKwJayjVmCupMza+zt27Nfw10Llbh+gEi/gjgYLnq6Hxbu3zlYWqKhBgqaVbhbPl+tZHAV+X7OSDxN9w8hZowYdUzaAvx6B2S+a[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-116f2163-125a-2072-b4ae-a4be4280e646/test-blob-56dd4023-4dc6-5b75-926a-0458bc185cf7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC7792B6AC\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:24 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-116f2163-125a-2072-b4ae-a4be4280e646/test-blob-56dd4023-4dc6-5b75-926a-0458bc185cf7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CEC7792B6AC\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:34 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC7792B6AC\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:24 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "/FvmJStpO5X+y5wPpgnR4rJnGW6Jc9jaB4DJ85qGXF1FT2zz69YSO5hhdaKlh11aqFHp3/6Xk4mCDB6qoEj7d24+yled3vfbVd3VJ/02NH8jb0pInH1erbvjcN64Z5tQZv0zZ70GvMlaDoogwWyLTNifhzD9strx3x2bum0YI+0="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-116f2163-125a-2072-b4ae-a4be4280e646?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2068002531",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
