{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-32c4ddba-c1e7-e90b-aa5d-3b9f64bdd077?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC6F19EA99\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-32c4ddba-c1e7-e90b-aa5d-3b9f64bdd077/test-blob-98131950-d19e-4188-41fa-ffb80ef4f6ee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CEC6F212F40\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-32c4ddba-c1e7-e90b-aa5d-3b9f64bdd077/test-blob-98131950-d19e-4188-41fa-ffb80ef4f6ee?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD5CEC6F212F40\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "675EyWcqNYeRPXtfHQ9ysZKRJxNVQfi0RPOfC05/N/6tOhG4tQJDTRvf/kDDShuYYDM6vpHGE6rFj4R0iik4EQZ8suL+uvuPTtn3dUK48PrXB6sbRHls5yZm8iZ9zsPypuw6Rpg5maU3q3C4zp5nDZ6KnYN9Hc2MEMu8l8fVEX8WBc5VfalhnW0F45kItBiI/+WH8zE/dIkfrTbNfQLeYZnwocjPEY/1KP8Vdzkzg1uyM5jhTh5N1pBFNs9ylCBrJ4EAFxJPue1WksoyKv1P6ynbGklp/RN6o8s4idu/gpPeqlC4M2tIYnqri7tTG6yT9Uqml3nXASpuhXRHFy8Slg82U3+tl7e9[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-32c4ddba-c1e7-e90b-aa5d-3b9f64bdd077/test-blob-98131950-d19e-4188-41fa-ffb80ef4f6ee",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC6F28EEBA\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:10 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-32c4ddba-c1e7-e90b-aa5d-3b9f64bdd077/test-blob-98131950-d19e-4188-41fa-ffb80ef4f6ee",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CEC6F28EEBA\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:20 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CEC6F28EEBA\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:21:10 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:21:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "675EyWcqNYeRPXtfHQ9ysZKRJxNVQfi0RPOfC05/N/6tOhG4tQJDTRvf/kDDShuYYDM6vpHGE6rFj4R0iik4EQZ8suL+uvuPTtn3dUK48PrXB6sbRHls5yZm8iZ9zsPypuw6Rpg5maU3q3C4zp5nDZ6KnYN9Hc2MEMu8l8fVEX8="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-32c4ddba-c1e7-e90b-aa5d-3b9f64bdd077?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:21:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1514890369",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
