{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "1942406435",
        "description": "This model was generated by a .NET test.",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net",
          "prefix": "subfolder"
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31471819395_ef5b001d-08cf-40b1-922e-6dccff512d63?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31471819395_ef5b001d-08cf-40b1-922e-6dccff512d63?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31471819395_ef5b001d-08cf-40b1-922e-6dccff512d63",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2023-09-12T19:56:45Z",
        "lastUpdatedDateTime": "2023-09-12T19:56:48Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1942406435?api-version=2023-07-31",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31471819395_ef5b001d-08cf-40b1-922e-6dccff512d63?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31471819395_ef5b001d-08cf-40b1-922e-6dccff512d63",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-09-12T19:56:45Z",
        "lastUpdatedDateTime": "2023-09-12T19:56:49Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1942406435?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "1942406435": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.6,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "1942406435",
          "createdDateTime": "2023-09-12T19:56:48Z",
          "expirationDateTime": "2025-09-11T19:56:48Z",
          "apiVersion": "2023-07-31",
          "description": "This model was generated by a .NET test.",
          "tags": {
            "tag1": "value1",
            "tag2": "value2"
          }
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1942406435?api-version=2023-07-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "DateTimeOffsetNow": "2023-09-12T12:56:44.5376510-07:00",
    "ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "61259551",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net"
  }
}
