{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "1374276771",
        "description": "This model was generated by a .NET test.",
        "buildMode": "neural",
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net",
          "prefix": "subfolder"
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/operations/31438037371_47a1f45e-6bcc-4151-8c4b-061de6466969?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/operations/31438037371_47a1f45e-6bcc-4151-8c4b-061de6466969?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31438037371_47a1f45e-6bcc-4151-8c4b-061de6466969",
        "kind": "documentModelBuild",
        "status": "notStarted",
        "createdDateTime": "2024-10-07T19:50:29Z",
        "lastUpdatedDateTime": "2024-10-07T19:50:29Z",
        "resourceLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentModels/1374276771?api-version=2023-07-31",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/operations/31438037371_47a1f45e-6bcc-4151-8c4b-061de6466969?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31438037371_47a1f45e-6bcc-4151-8c4b-061de6466969",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2024-10-07T19:50:29Z",
        "lastUpdatedDateTime": "2024-10-07T20:05:15Z",
        "resourceLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentModels/1374276771?api-version=2023-07-31",
        "percentCompleted": 0,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/operations/31438037371_47a1f45e-6bcc-4151-8c4b-061de6466969?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31438037371_47a1f45e-6bcc-4151-8c4b-061de6466969",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2024-10-07T19:50:29Z",
        "lastUpdatedDateTime": "2024-10-07T20:17:05Z",
        "resourceLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentModels/1374276771?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "1374276771": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                }
              },
              "buildMode": "neural"
            }
          },
          "modelId": "1374276771",
          "createdDateTime": "2024-10-07T20:17:04Z",
          "expirationDateTime": "2026-10-07T20:17:04Z",
          "apiVersion": "2023-07-31",
          "description": "This model was generated by a .NET test.",
          "tags": {
            "tag1": "value1",
            "tag2": "value2"
          }
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentModels/1374276771?api-version=2023-07-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-10-07T12:50:24.0872150-07:00",
    "ENDPOINT": "https://camaiaor-localtests.cognitiveservices.azure.com/",
    "RandomSeed": "1898263233",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net"
  }
}
