{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "1030680505",
        "description": "This model was generated by a .NET test: BuildDocumentModel",
        "buildMode": "neural",
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net",
          "prefix": "subfolder"
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31483694722_36d830ca-6b90-449b-a7ce-9080c3836491?api-version=2023-02-28-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31483694722_36d830ca-6b90-449b-a7ce-9080c3836491?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31483694722_36d830ca-6b90-449b-a7ce-9080c3836491",
        "kind": "documentModelBuild",
        "status": "notStarted",
        "createdDateTime": "2023-04-28T09:14:38Z",
        "lastUpdatedDateTime": "2023-04-28T09:14:38Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1030680505?api-version=2023-02-28-preview",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31483694722_36d830ca-6b90-449b-a7ce-9080c3836491?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31483694722_36d830ca-6b90-449b-a7ce-9080c3836491",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-04-28T09:14:38Z",
        "lastUpdatedDateTime": "2023-04-28T09:43:56Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1030680505?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "1030680505": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                }
              },
              "buildMode": "neural"
            }
          },
          "modelId": "1030680505",
          "createdDateTime": "2023-04-28T09:43:55Z",
          "expirationDateTime": "2025-04-27T09:43:55Z",
          "apiVersion": "2023-02-28-preview",
          "description": "This model was generated by a .NET test: BuildDocumentModel",
          "tags": {
            "tag1": "value1",
            "tag2": "value2"
          }
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1030680505?api-version=2023-02-28-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "DateTimeOffsetNow": "2023-04-28T02:14:37.0430996-07:00",
    "ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "1071109865",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net"
  }
}
