{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "1765313501",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31476154732_5932e91a-beab-4db9-8a28-9e3a335f8dab?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31476154732_5932e91a-beab-4db9-8a28-9e3a335f8dab?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476154732_5932e91a-beab-4db9-8a28-9e3a335f8dab",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2023-07-24T15:41:08Z",
        "lastUpdatedDateTime": "2023-07-24T15:41:11Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1765313501?api-version=2023-07-31"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31476154732_5932e91a-beab-4db9-8a28-9e3a335f8dab?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476154732_5932e91a-beab-4db9-8a28-9e3a335f8dab",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-24T15:41:08Z",
        "lastUpdatedDateTime": "2023-07-24T15:41:12Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1765313501?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "1765313501": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "1765313501",
          "createdDateTime": "2023-07-24T15:41:12Z",
          "expirationDateTime": "2025-07-23T15:41:12Z",
          "apiVersion": "2023-07-31"
        }
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31476154727_831fb192-dfd4-4656-9848-23ecb913214e?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31476154727_831fb192-dfd4-4656-9848-23ecb913214e",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-07-24T15:41:13Z",
        "lastUpdatedDateTime": "2023-07-24T15:41:17Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/270520645?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "270520645": {
              "fieldSchema": {
                "VISA_SELECTION_MARK": {
                  "type": "selectionMark"
                },
                "AMEX_SELECTION_MARK": {
                  "type": "selectionMark"
                },
                "MASTERCARD_SELECTION_MARK": {
                  "type": "selectionMark"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "AMEX_SELECTION_MARK": 0.995,
                "MASTERCARD_SELECTION_MARK": 0.995,
                "VISA_SELECTION_MARK": 0.995
              }
            }
          },
          "modelId": "270520645",
          "createdDateTime": "2023-07-24T15:41:17Z",
          "expirationDateTime": "2025-07-23T15:41:17Z",
          "apiVersion": "2023-07-31"
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels:compose?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "286320217",
        "description": "This model was generated by a .NET test: ComposeDocumentModel",
        "componentModels": [
          {
            "modelId": "1765313501"
          },
          {
            "modelId": "270520645"
          }
        ],
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31476154722_a1df9e23-9f2a-4428-9cd1-1ce16946ed6e?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/286320217?api-version=2023-07-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels/1765313501?api-version=2023-07-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "DateTimeOffsetNow": "2023-07-24T08:41:09.5833436-07:00",
    "ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "936546459",
    "SELECTION_MARK_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net"
  }
}
