{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentModels:compose?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "868182240",
        "componentModels": [
          {
            "modelId": "00000000-0000-0000-0000-000000000000"
          },
          {
            "modelId": "00000000-0000-0000-0000-000000000001"
          }
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid request.",
          "innererror": {
            "code": "ModelComposeError",
            "message": "Could not compose the model: Requested model \u002700000000-0000-0000-0000-000000000000\u0027 does not exist."
          }
        }
      }
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "367616106"
  }
}
