{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "45b60d85-fd72-427a-a708-f994d26e593e",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "AzureStorage_DMStaging_10041369",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourcegroups/teststorageRG-6620?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6620",
        "name": "teststorageRG-6620",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/checkNameAvailability?api-version=2024-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "teststoragemgmt980",
        "type": "Microsoft.Storage/storageAccounts"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6620/providers/Microsoft.Storage/storageAccounts/teststoragemgmt980?api-version=2024-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "Storage",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2/asyncoperations/a256c613-92d4-49f1-81f3-46d767cd3ec9?monitor=true&api-version=2024-01-01&t=638748588622575583&c=MIIINDCCBxygAwIBAgITOgTUt9ojTC6toHWmHwAEBNS32jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwMjA0MDkzMjA2WhcNMjYwMTMwMDkzMjA2WjCBjDELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAldBMRAwDgYDVQQHEwdSZWRt[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2/asyncoperations/a256c613-92d4-49f1-81f3-46d767cd3ec9?monitor=true&api-version=2024-01-01&t=638748588622575583&c=MIIINDCCBxygAwIBAgITOgTUt9ojTC6toHWmHwAEBNS32jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwMjA0MDkzMjA2WhcNMjYwMTMwMDkzMjA2WjCBjDELMAkGA1UEBhMCVVMxCzAJBgNVBAg[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2/asyncoperations/a256c613-92d4-49f1-81f3-46d767cd3ec9?monitor=true&api-version=2024-01-01&t=638748588627332143&c=MIIINDCCBxygAwIBAgITOgTUt9ojTC6toHWmHwAEBNS32jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwMjA0MDkzMjA2WhcNMjYwMTMwMDkzMjA2WjCBjDELMAkGA1UEBhMCVVMxCzAJBgNVBAg[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6620/providers/Microsoft.Storage/storageAccounts/teststoragemgmt980/fileServices/default?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6620/providers/Microsoft.Storage/storageAccounts/teststoragemgmt980/fileServices/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/fileServices",
        "properties": {
          "protocolSettings": {
            "smb": {}
          },
          "cors": {
            "corsRules": []
          },
          "shareDeleteRetentionPolicy": {
            "enabled": true,
            "days": 7
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6620/providers/Microsoft.Storage/storageAccounts/account4403?api-version=2024-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Premium_LRS"
        },
        "kind": "FileStorage",
        "location"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/02d0a8dd-0914-4814-84c5-7efe23442cb5?monitor=true&api-version=2024-01-01&t=638748588852105828&c=MIIINDCCBxygAwIBAgITOgTUt9ojTC6toHWmHwAEBNS32jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwMjA0MDkzMjA2WhcNMjYwMTMwMDkzMjA2WjCBjDELMAkGA1UEBhMCVVMxCzAJBgN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/02d0a8dd-0914-4814-84c5-7efe23442cb5?monitor=true&api-version=2024-01-01&t=638748588856480806&c=MIIINDCCBxygAwIBAgITOgTUt9ojTC6toHWmHwAEBNS32jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwMjA0MDkzMjA2WhcNMjYwMTMwMDkzMjA2WjCBjDELMAkGA1UEBhMCVVMxCzAJBgN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6620/providers/Microsoft.Storage/storageAccounts/account4403/fileServices/default?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "sku": {
          "name": "Premium_LRS",
          "tier": "Premium"
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6620/providers/Microsoft.Storage/storageAccounts/account4403/fileServices/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/fileServices",
        "properties": {
          "protocolSettings": {
            "smb": {
              "multichannel": {
                "enabled": true
              }
            }
          },
          "cors": {
            "corsRules": []
          },
          "shareDeleteRetentionPolicy": {
            "enabled": true,
            "days": 7
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6620/providers/Microsoft.Storage/storageAccounts/account4403/fileServices/default/shares/testfileshare3497?api-version=2024-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "fileSharePaidBursting": {
            "paidBurstingEnabled": true,
            "paidBurstingMaxIops": 3230,
            "paidBurstingMaxBandwidthMibps": 129
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\"0x8DD4A7520438FC5\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6620/providers/Microsoft.Storage/storageAccounts/account4403/fileServices/default/shares/testfileshare3497",
        "name": "testfileshare3497",
        "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
        "properties": {
          "fileSharePaidBursting": {
            "paidBurstingEnabled": true,
            "paidBurstingMaxIops": 3230,
            "paidBurstingMaxBandwidthMibps": 129
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6620/providers/Microsoft.Storage/storageAccounts/account4403/fileServices/default/shares/testfileshare3497?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\"0x8DD4A7520438FC5\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6620/providers/Microsoft.Storage/storageAccounts/account4403/fileServices/default/shares/testfileshare3497",
        "name": "testfileshare3497",
        "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
        "etag": "\"0x8DD4A7520438FC5\"",
        "properties": {
          "fileSharePaidBursting": {
            "paidBurstingEnabled": true,
            "paidBurstingMaxIops": 3230,
            "paidBurstingMaxBandwidthMibps": 129
          },
          "leaseStatus": "unlocked",
          "leaseState": "available",
          "signedIdentifiers": [],
          "accessTier": "Premium",
          "lastModifiedTime": "2025-02-11T08:21:46.0000000Z",
          "shareQuota": 100,
          "enabledProtocols": "SMB"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6620/providers/Microsoft.Storage/storageAccounts/account4403/fileServices/default/shares/testfileshare3497?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "error": {
          "code": "ShareNotFound",
          "message": "The specified share does not exist.\nRequestId:61932ad5-d01a-0054-4f5e-7ce2ac000000\nTime:2025-02-11T08:21:55.1466336Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6620/providers/Microsoft.Storage/storageAccounts?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "8400b6c5-7a87-49cb-807c-b43fa071c70e",
          "374ce10a-cdce-4f83-95cd-c056e58da474"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_GRS",
              "tier": "Standard"
            },
            "kind": "Storage",
            "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6620/providers/Microsoft.Storage/storageAccounts/teststoragemgmt980",
            "name": "teststoragemgmt980",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "eastus2",
            "tags": {
              "key1": "value1",
              "key2": "value2"
            },
            "properties": {
              "keyCreationTime": {
                "key1": "2025-02-11T08:21:00.5101296Z",
                "key2": "2025-02-11T08:21:00.5101296Z"
              },
              "allowCrossTenantReplication": false,
              "privateEndpointConnections": [],
              "minimumTlsVersion": "TLS1_2",
              "allowBlobPublicAccess": false,
              "networkAcls": {
                "ipv6Rules": [],
                "bypass": "AzureServices",
                "virtualNetworkRules": [],
                "ipRules": [],
                "defaultAction": "Allow"
              },
              "supportsHttpsTrafficOnly": true,
              "encryption": {
                "services": {
                  "file": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2025-02-11T08:21:00.5101296Z"
                  },
                  "blob": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2025-02-11T08:21:00.5101296Z"
                  }
                },
                "keySource": "Microsoft.Storage"
              },
              "provisioningState": "Succeeded",
              "creationTime": "2025-02-11T08:21:00.3695080Z",
              "primaryEndpoints": {
                "blob": "https://teststoragemgmt980.blob.core.windows.net/",
                "queue": "https://teststoragemgmt980.queue.core.windows.net/",
                "table": "https://teststoragemgmt980.table.core.windows.net/",
                "file": "https://teststoragemgmt980.file.core.windows.net/"
              },
              "primaryLocation": "eastus2",
              "statusOfPrimary": "available",
              "secondaryLocation": "centralus",
              "statusOfSecondary": "available"
            }
          },
          {
            "sku": {
              "name": "Premium_LRS",
              "tier": "Premium"
            },
            "kind": "FileStorage",
            "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6620/providers/Microsoft.Storage/storageAccounts/account4403",
            "name": "account4403",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "eastus2euap",
            "tags": {},
            "properties": {
              "keyCreationTime": {
                "key1": "2025-02-11T08:21:23.5324327Z",
                "key2": "2025-02-11T08:21:23.5324327Z"
              },
              "privateEndpointConnections": [],
              "minimumTlsVersion": "TLS1_2",
              "allowBlobPublicAccess": false,
              "largeFileSharesState": "Enabled",
              "networkAcls": {
                "ipv6Rules": [],
                "bypass": "AzureServices",
                "virtualNetworkRules": [],
                "ipRules": [],
                "defaultAction": "Allow"
              },
              "supportsHttpsTrafficOnly": true,
              "encryption": {
                "services": {
                  "file": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2025-02-11T08:21:23.5324327Z"
                  },
                  "blob": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2025-02-11T08:21:23.5324327Z"
                  }
                },
                "keySource": "Microsoft.Storage"
              },
              "provisioningState": "Succeeded",
              "creationTime": "2025-02-11T08:21:23.4230360Z",
              "primaryEndpoints": {
                "file": "https://account4403.file.core.windows.net/"
              },
              "primaryLocation": "eastus2euap",
              "statusOfPrimary": "available"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-6620/providers/Microsoft.Storage/storageAccounts/account4403?api-version=2024-01-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "800",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "12000"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "677151093",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "45b60d85-fd72-427a-a708-f994d26e593e"
  }
}
