{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlServer.V2::OptIn": "all_regions",
          "ExemptSubFromDeletionProtectionPolicy": "true",
          "ExemptSubFromPublicNetworkAccessPolicy": "true",
          "ExemptSubFromRBACPermissionPolicy": "true",
          "Az.Sec.AnonymousBlobEnforcement::Skip": "true",
          "Az.Sec.DisableLocalAuth.EventHub::OptIn": "all_regions"
        },
        "subscriptionId": "68e5d74d-cc6b-4be6-9606-cd1c77fa55f0",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Blob Performance",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourcegroups/teststorageRG-6332?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-6332",
        "name": "teststorageRG-6332",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/checkNameAvailability?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "teststoragemgmt4714",
        "type": "Microsoft.Storage/storageAccounts"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16500",
        "x-ms-ratelimit-remaining-subscription-reads": "1100"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-6332/providers/Microsoft.Storage/storageAccounts/teststoragemgmt4714?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "Storage",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/364cdfba-7683-4a2f-bded-93a5718c7136?monitor=true&api-version=2026-04-01&t=639171588452054370&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVy[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/364cdfba-7683-4a2f-bded-93a5718c7136?monitor=true&api-version=2026-04-01&t=639171588452054370&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/eastus2/asyncoperations/364cdfba-7683-4a2f-bded-93a5718c7136?monitor=true&api-version=2026-04-01&t=639171588454797431&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoXDTI2MTAwNDEwMzUxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-6332/providers/Microsoft.Storage/storageAccounts/teststoragemgmt4714/fileServices/default?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-6332/providers/Microsoft.Storage/storageAccounts/teststoragemgmt4714/fileServices/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/fileServices",
        "properties": {
          "protocolSettings": {
            "smb": {}
          },
          "cors": {
            "corsRules": []
          },
          "shareDeleteRetentionPolicy": {
            "enabled": true,
            "days": 7
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-6332/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv29429?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "StandardV2_LRS"
        },
        "kind": "FileStorage",
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/westus2/asyncoperations/2d856336-180d-45d6-ae8c-e43c6ed83f0b?monitor=true&api-version=2026-04-01&t=639171588990760563&c=MIIHxDCCBqygAwIBAgIRAJbrgketDbWHLEx1EpPCeH4wDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwODAwMDQ1MloXDTI2MTAwMzA2MDQ1MlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/providers/Microsoft.Storage/locations/westus2/asyncoperations/2d856336-180d-45d6-ae8c-e43c6ed83f0b?monitor=true&api-version=2026-04-01&t=639171588992390586&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoXDTI2MTAwNDEwMzUxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-6332/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv29429/fileServices/default?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "sku": {
          "name": "StandardV2_LRS",
          "tier": "Standard"
        },
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-6332/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv29429/fileServices/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/fileServices",
        "properties": {
          "protocolSettings": {
            "smb": {
              "multichannel": {
                "enabled": false
              }
            }
          },
          "cors": {
            "corsRules": []
          },
          "shareDeleteRetentionPolicy": {
            "enabled": true,
            "days": 7
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-6332/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv29429/fileServices/default/usages/default?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-6332/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv29429/fileServices/default/usages/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/fileServices/usages",
        "properties": {
          "storageAccountLimits": {
            "maxFileShares": 50,
            "maxProvisionedStorageGiB": 4194304,
            "maxProvisionedIOPS": 50000,
            "maxProvisionedBandwidthMiBPerSec": 5120
          },
          "fileShareLimits": {
            "guardrailIOScalar": 5.0,
            "guardrailBandwidthScalar": 5.0,
            "minProvisionedStorageGiB": 32,
            "maxProvisionedStorageGiB": 262144,
            "minProvisionedIOPS": 500,
            "maxProvisionedIOPS": 50000,
            "minProvisionedBandwidthMiBPerSec": 60,
            "maxProvisionedBandwidthMiBPerSec": 5120
          },
          "fileShareRecommendations": {
            "baseIOPS": 1000,
            "ioScalar": 0.2,
            "baseBandwidthMiBPerSec": 60,
            "bandwidthScalar": 0.02
          },
          "burstingConstants": {
            "burstFloorIOPS": 5000,
            "burstIOScalar": 3.0,
            "burstTimeframeSeconds": 3600
          },
          "storageAccountUsage": {
            "liveShares": {
              "fileShareCount": 0,
              "provisionedStorageGiB": 0,
              "provisionedIOPS": 0,
              "provisionedBandwidthMiBPerSec": 0
            },
            "softDeletedShares": {
              "fileShareCount": 0,
              "provisionedStorageGiB": 0,
              "provisionedIOPS": 0,
              "provisionedBandwidthMiBPerSec": 0
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-6332/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv29429/fileServices/default/shares/testfileshare1013?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "shareQuota": 262143,
          "provisionedIops": 49999,
          "provisionedBandwidthMibps": 5119
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\"0x8DECB2C833BFC77\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-6332/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv29429/fileServices/default/shares/testfileshare1013",
        "name": "testfileshare1013",
        "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
        "properties": {
          "provisionedIops": 49999,
          "provisionedBandwidthMibps": 5119,
          "includedBurstIops": 50000,
          "maxBurstCreditsForIops": 3600,
          "nextAllowedQuotaDowngradeTime": "Mon, 15 Jun 2026 22:21:57 GMT",
          "nextAllowedProvisionedIopsDowngradeTime": "Mon, 15 Jun 2026 22:21:57 GMT",
          "nextAllowedProvisionedBandwidthDowngradeTime": "Mon, 15 Jun 2026 22:21:57 GMT",
          "shareQuota": 262143
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-6332/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv29429/fileServices/default/shares/testfileshare1013?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\"0x8DECB2C833BFC77\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-6332/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv29429/fileServices/default/shares/testfileshare1013",
        "name": "testfileshare1013",
        "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
        "etag": "\"0x8DECB2C833BFC77\"",
        "properties": {
          "provisionedIops": 49999,
          "provisionedBandwidthMibps": 5119,
          "includedBurstIops": 50000,
          "maxBurstCreditsForIops": 3600,
          "nextAllowedQuotaDowngradeTime": "Mon, 15 Jun 2026 22:21:57 GMT",
          "nextAllowedProvisionedIopsDowngradeTime": "Mon, 15 Jun 2026 22:21:57 GMT",
          "nextAllowedProvisionedBandwidthDowngradeTime": "Mon, 15 Jun 2026 22:21:57 GMT",
          "leaseStatus": "unlocked",
          "leaseState": "available",
          "signedIdentifiers": [],
          "lastModifiedTime": "2026-06-15T22:21:57.0000000Z",
          "shareQuota": 262143
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-6332/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv29429/fileServices/default/shares/testfileshare1013?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "error": {
          "code": "ShareNotFound",
          "message": "The specified share does not exist.\nRequestId:ae03772b-001a-005a-7215-fd742c000000\nTime:2026-06-15T22:21:59.4890973Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-6332/providers/Microsoft.Storage/storageAccounts?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "0d5ac027-2cb6-4c77-87b8-56a218d2d873",
          "c2c7c0cd-4ade-419c-bcca-f86f7012ea9f"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_GRS",
              "tier": "Standard"
            },
            "kind": "Storage",
            "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-6332/providers/Microsoft.Storage/storageAccounts/teststoragemgmt4714",
            "name": "teststoragemgmt4714",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "eastus2",
            "tags": {
              "key1": "value1",
              "key2": "value2"
            },
            "properties": {
              "allowCrossTenantDelegationSas": false,
              "keyCreationTime": {
                "key1": "2026-06-15T22:20:42.2305438Z",
                "key2": "2026-06-15T22:20:42.2305438Z"
              },
              "allowCrossTenantReplication": false,
              "privateEndpointConnections": [],
              "isAttributeBasedAccessControlEnabled": false,
              "minimumTlsVersion": "TLS1_2",
              "allowBlobPublicAccess": true,
              "networkAcls": {
                "ipv6Rules": [],
                "bypass": "AzureServices",
                "virtualNetworkRules": [],
                "ipRules": [],
                "defaultAction": "Allow"
              },
              "supportsHttpsTrafficOnly": true,
              "encryption": {
                "services": {
                  "file": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2026-06-15T22:20:42.2361796Z"
                  },
                  "blob": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2026-06-15T22:20:42.2361796Z"
                  }
                },
                "keySource": "Microsoft.Storage"
              },
              "provisioningState": "Succeeded",
              "creationTime": "2026-06-15T22:20:41.8289317Z",
              "primaryEndpoints": {
                "blob": "https://teststoragemgmt4714.blob.core.windows.net/",
                "queue": "https://teststoragemgmt4714.queue.core.windows.net/",
                "table": "https://teststoragemgmt4714.table.core.windows.net/",
                "file": "https://teststoragemgmt4714.file.core.windows.net/"
              },
              "primaryLocation": "eastus2",
              "statusOfPrimary": "available",
              "secondaryLocation": "centralus",
              "statusOfSecondary": "available"
            }
          },
          {
            "sku": {
              "name": "StandardV2_LRS",
              "tier": "Standard"
            },
            "kind": "FileStorage",
            "id": "/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-6332/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv29429",
            "name": "teststoragemgmtpv29429",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "westus2",
            "tags": {
              "key1": "value1",
              "key2": "value2"
            },
            "properties": {
              "allowCrossTenantDelegationSas": false,
              "keyCreationTime": {
                "key1": "2026-06-15T22:21:34.7736385Z",
                "key2": "2026-06-15T22:21:34.7736385Z"
              },
              "allowCrossTenantReplication": false,
              "privateEndpointConnections": [],
              "isAttributeBasedAccessControlEnabled": false,
              "minimumTlsVersion": "TLS1_2",
              "allowBlobPublicAccess": true,
              "largeFileSharesState": "Enabled",
              "networkAcls": {
                "ipv6Rules": [],
                "bypass": "AzureServices",
                "virtualNetworkRules": [],
                "ipRules": [],
                "defaultAction": "Allow"
              },
              "supportsHttpsTrafficOnly": true,
              "encryption": {
                "services": {
                  "file": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2026-06-15T22:21:34.7889697Z"
                  },
                  "blob": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2026-06-15T22:21:34.7889697Z"
                  }
                },
                "keySource": "Microsoft.Storage"
              },
              "provisioningState": "Succeeded",
              "creationTime": "2026-06-15T22:21:34.3644734Z",
              "primaryEndpoints": {
                "file": "https://teststoragemgmtpv29429.file.core.windows.net/"
              },
              "primaryLocation": "westus2",
              "statusOfPrimary": "available"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/68e5d74d-cc6b-4be6-9606-cd1c77fa55f0/resourceGroups/teststorageRG-6332/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv29429?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1678808007",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "68e5d74d-cc6b-4be6-9606-cd1c77fa55f0"
  }
}
