{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "45b60d85-fd72-427a-a708-f994d26e593e",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "AzureStorage_DMStaging_10041369",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourcegroups/teststorageRG-8252?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-8252",
        "name": "teststorageRG-8252",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/checkNameAvailability?api-version=2024-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "teststoragemgmt5964",
        "type": "Microsoft.Storage/storageAccounts"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-8252/providers/Microsoft.Storage/storageAccounts/teststoragemgmt5964?api-version=2024-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "Storage",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2/asyncoperations/934f79f2-db58-455c-952d-36ec16ef5778?monitor=true&api-version=2024-01-01&t=638748574226386208&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTI1MTUzWhcNMjUwNzI0MTI1MTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2/asyncoperations/934f79f2-db58-455c-952d-36ec16ef5778?monitor=true&api-version=2024-01-01&t=638748574226386208&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTI1MTUzWhcNMjUwNzI0MTI1MTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGl[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2/asyncoperations/934f79f2-db58-455c-952d-36ec16ef5778?monitor=true&api-version=2024-01-01&t=638748574231460557&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTI1MTUzWhcNMjUwNzI0MTI1MTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGl[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-8252/providers/Microsoft.Storage/storageAccounts/teststoragemgmt5964/fileServices/default?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-8252/providers/Microsoft.Storage/storageAccounts/teststoragemgmt5964/fileServices/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/fileServices",
        "properties": {
          "protocolSettings": {
            "smb": {}
          },
          "cors": {
            "corsRules": []
          },
          "shareDeleteRetentionPolicy": {
            "enabled": true,
            "days": 7
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-8252/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv26862?api-version=2024-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "StandardV2_LRS"
        },
        "kind": "FileStorage",
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/westus2/asyncoperations/78e6b5ee-79fb-4409-bb2b-eda21497d68a?monitor=true&api-version=2024-01-01&t=638748574479328131&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTI1MTUzWhcNMjUwNzI0MTI1MTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGl[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/westus2/asyncoperations/78e6b5ee-79fb-4409-bb2b-eda21497d68a?monitor=true&api-version=2024-01-01&t=638748574486855623&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTI1MTUzWhcNMjUwNzI0MTI1MTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGl[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-8252/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv26862/fileServices/default?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "sku": {
          "name": "StandardV2_LRS",
          "tier": "Standard"
        },
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-8252/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv26862/fileServices/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/fileServices",
        "properties": {
          "protocolSettings": {
            "smb": {
              "multichannel": {
                "enabled": false
              }
            }
          },
          "cors": {
            "corsRules": []
          },
          "shareDeleteRetentionPolicy": {
            "enabled": true,
            "days": 7
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-8252/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv26862/fileServices/default/usages/default?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-8252/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv26862/fileServices/default/usages/default",
        "name": "default",
        "type": "Microsoft.Storage/storageAccounts/fileServices/usages",
        "properties": {
          "storageAccountLimits": {
            "maxFileShares": 50,
            "maxProvisionedStorageGiB": 4194304,
            "maxProvisionedIOPS": 50000,
            "maxProvisionedBandwidthMiBPerSec": 5120
          },
          "fileShareLimits": {
            "minProvisionedStorageGiB": 32,
            "maxProvisionedStorageGiB": 262144,
            "minProvisionedIOPS": 500,
            "maxProvisionedIOPS": 50000,
            "minProvisionedBandwidthMiBPerSec": 60,
            "maxProvisionedBandwidthMiBPerSec": 5120
          },
          "fileShareRecommendations": {
            "baseIOPS": 1000,
            "ioScalar": 0.2,
            "baseBandwidthMiBPerSec": 60,
            "bandwidthScalar": 0.02
          },
          "burstingConstants": {
            "burstFloorIOPS": 5000,
            "burstIOScalar": 3.0,
            "burstTimeframeSeconds": 3600
          },
          "storageAccountUsage": {
            "liveShares": {
              "fileShareCount": 0,
              "provisionedStorageGiB": 0,
              "provisionedIOPS": 0,
              "provisionedBandwidthMiBPerSec": 0
            },
            "softDeletedShares": {
              "fileShareCount": 0,
              "provisionedStorageGiB": 0,
              "provisionedIOPS": 0,
              "provisionedBandwidthMiBPerSec": 0
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-8252/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv26862/fileServices/default/shares/testfileshare8348?api-version=2024-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "shareQuota": 262143,
          "provisionedIops": 49999,
          "provisionedBandwidthMibps": 5119
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\"0x8DD4A71C8B4B010\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-8252/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv26862/fileServices/default/shares/testfileshare8348",
        "name": "testfileshare8348",
        "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
        "properties": {
          "provisionedIops": 49999,
          "provisionedBandwidthMibps": 5119,
          "includedBurstIops": 50000,
          "maxBurstCreditsForIops": 3600,
          "nextAllowedQuotaDowngradeTime": "Tue, 11 Feb 2025 07:57:51 GMT",
          "nextAllowedProvisionedIopsDowngradeTime": "Tue, 11 Feb 2025 07:57:51 GMT",
          "nextAllowedProvisionedBandwidthDowngradeTime": "Tue, 11 Feb 2025 07:57:51 GMT",
          "shareQuota": 262143
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-8252/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv26862/fileServices/default/shares/testfileshare8348?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\"0x8DD4A71C8B4B010\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-8252/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv26862/fileServices/default/shares/testfileshare8348",
        "name": "testfileshare8348",
        "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
        "etag": "\"0x8DD4A71C8B4B010\"",
        "properties": {
          "provisionedIops": 49999,
          "provisionedBandwidthMibps": 5119,
          "includedBurstIops": 50000,
          "maxBurstCreditsForIops": 3600,
          "nextAllowedQuotaDowngradeTime": "Tue, 11 Feb 2025 07:57:51 GMT",
          "nextAllowedProvisionedIopsDowngradeTime": "Tue, 11 Feb 2025 07:57:51 GMT",
          "nextAllowedProvisionedBandwidthDowngradeTime": "Tue, 11 Feb 2025 07:57:51 GMT",
          "leaseStatus": "unlocked",
          "leaseState": "available",
          "signedIdentifiers": [],
          "lastModifiedTime": "2025-02-11T07:57:51.0000000Z",
          "shareQuota": 262143
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-8252/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv26862/fileServices/default/shares/testfileshare8348?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "error": {
          "code": "ShareNotFound",
          "message": "The specified share does not exist.\nRequestId:77ab70a9-701a-0012-5a5a-7cd26d000000\nTime:2025-02-11T07:57:57.0240922Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-8252/providers/Microsoft.Storage/storageAccounts?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "56c88f32-9770-4e25-a353-d229315511e4",
          "7a2a6886-779a-444c-9edb-3178288c14e8"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_GRS",
              "tier": "Standard"
            },
            "kind": "Storage",
            "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-8252/providers/Microsoft.Storage/storageAccounts/teststoragemgmt5964",
            "name": "teststoragemgmt5964",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "eastus2",
            "tags": {
              "key1": "value1",
              "key2": "value2"
            },
            "properties": {
              "keyCreationTime": {
                "key1": "2025-02-11T07:57:01.0046892Z",
                "key2": "2025-02-11T07:57:01.0046892Z"
              },
              "allowCrossTenantReplication": false,
              "privateEndpointConnections": [],
              "minimumTlsVersion": "TLS1_2",
              "allowBlobPublicAccess": false,
              "networkAcls": {
                "ipv6Rules": [],
                "bypass": "AzureServices",
                "virtualNetworkRules": [],
                "ipRules": [],
                "defaultAction": "Allow"
              },
              "supportsHttpsTrafficOnly": true,
              "encryption": {
                "services": {
                  "file": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2025-02-11T07:57:01.0046892Z"
                  },
                  "blob": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2025-02-11T07:57:01.0046892Z"
                  }
                },
                "keySource": "Microsoft.Storage"
              },
              "provisioningState": "Succeeded",
              "creationTime": "2025-02-11T07:57:00.8796886Z",
              "primaryEndpoints": {
                "blob": "https://teststoragemgmt5964.blob.core.windows.net/",
                "queue": "https://teststoragemgmt5964.queue.core.windows.net/",
                "table": "https://teststoragemgmt5964.table.core.windows.net/",
                "file": "https://teststoragemgmt5964.file.core.windows.net/"
              },
              "primaryLocation": "eastus2",
              "statusOfPrimary": "available",
              "secondaryLocation": "centralus",
              "statusOfSecondary": "available"
            }
          },
          {
            "sku": {
              "name": "StandardV2_LRS",
              "tier": "Standard"
            },
            "kind": "FileStorage",
            "id": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-8252/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv26862",
            "name": "teststoragemgmtpv26862",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "westus2",
            "tags": {
              "key1": "value1",
              "key2": "value2"
            },
            "properties": {
              "keyCreationTime": {
                "key1": "2025-02-11T07:57:25.5662721Z",
                "key2": "2025-02-11T07:57:25.5662721Z"
              },
              "allowCrossTenantReplication": false,
              "privateEndpointConnections": [],
              "minimumTlsVersion": "TLS1_2",
              "allowBlobPublicAccess": false,
              "largeFileSharesState": "Enabled",
              "networkAcls": {
                "ipv6Rules": [],
                "bypass": "AzureServices",
                "virtualNetworkRules": [],
                "ipRules": [],
                "defaultAction": "Allow"
              },
              "supportsHttpsTrafficOnly": true,
              "encryption": {
                "services": {
                  "file": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2025-02-11T07:57:25.5662721Z"
                  },
                  "blob": {
                    "keyType": "Account",
                    "enabled": true,
                    "lastEnabledTime": "2025-02-11T07:57:25.5662721Z"
                  }
                },
                "keySource": "Microsoft.Storage"
              },
              "provisioningState": "Succeeded",
              "creationTime": "2025-02-11T07:57:25.3943577Z",
              "primaryEndpoints": {
                "file": "https://teststoragemgmtpv26862.file.core.windows.net/"
              },
              "primaryLocation": "westus2",
              "statusOfPrimary": "available"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/teststorageRG-8252/providers/Microsoft.Storage/storageAccounts/teststoragemgmtpv26862?api-version=2024-01-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "670495355",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "45b60d85-fd72-427a-a708-f994d26e593e"
  }
}
