{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/connections?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.052"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "connection1",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1/connections/connection1",
            "type": "AzureOpenAI",
            "target": "https://Sanitized.azure.com/",
            "isDefault": true,
            "credentials": {
              "type": "ApiKey"
            },
            "metadata": {
              "ApiType": "Azure",
              "Location": "eastus",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1",
              "ApiVersion": "2023-07-01-preview",
              "DeploymentApiVersion": "2023-10-01-preview"
            }
          },
          {
            "name": "connection1-app-insights",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1/connections/connection1-app-insights",
            "type": "AppInsights",
            "target": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/microsoft.insights/components/Sanitized",
            "isDefault": true,
            "credentials": {
              "type": "ApiKey"
            },
            "metadata": {
              "ApiType": "Azure",
              "Location": "eastus",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1"
            }
          },
          {
            "name": "connection1-byo-storage",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1/connections/connection1-byo-storage",
            "type": "AzureStorageAccount",
            "target": "_",
            "isDefault": true,
            "credentials": {
              "type": "AAD"
            },
            "metadata": {
              "ApiType": "Azure",
              "Location": "eastus",
              "ContainerName": "1dptestcontainer",
              "AccountName": "00000",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1"
            }
          },
          {
            "name": "balapvbinggroundingresponses",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1/connections/balapvbinggroundingresponses",[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/connections/connection1/getConnectionWithCredentials?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.320"
      },
      "ResponseBody": {
        "name": "connection1",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1/connections/connection1",
        "type": "AzureOpenAI",
        "target": "https://Sanitized.azure.com/",
        "isDefault": true,
        "credentials": {
          "key": "9ykyQ7SzAMYsggyjUFwJ9PzQH1xff0WcLTm85rs8NWsfMCUcZGKvJQQJ99BDACHYHv6XJ3w3AAABACOGU5tp",
          "type": "ApiKey"
        },
        "metadata": {
          "ApiType": "Azure",
          "Location": "eastus",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1",
          "ApiVersion": "2023-07-01-preview",
          "DeploymentApiVersion": "2023-10-01-preview"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/connections/connection1-app-insights/getConnectionWithCredentials?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        [...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/connections/connection1-byo-storage/getConnectionWithCredentials?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.042"
      },
      "ResponseBody": {
        "name": "connection1-byo-storage",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1/connections/connection1-byo-storage",
        "type": "AzureStorageAccount",
        "target": "_",
        "isDefault": true,
        "credentials": {
          "type": "AAD"
        },
        "metadata": {
          "ApiType": "Azure",
          "Location": "eastus",
          "ContainerName": "1dptestcontainer",
          "AccountName": "00000",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/connections/balapvbinggroundingresponses/getConnectionWithCredentials?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.157"
      },
      "ResponseBody": {
        "name": "balapvbinggroundingresponses",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1/connections/balapvbinggroundingresponses",
        "type": "ApiKey",
        "target": "https://Sanitized.azure.com/",
        "isDefault": true,
        "credentials": {
          "key": "3b7b6824be754f41988d9629166b85aa",
          "type": "ApiKey"
        },
        "metadata": {
          "type": "bing_grounding",
          "ApiType": "Azure",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Bing/accounts/balapv-bing-grounding-responses"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/connections/00000/getConnectionWithCredentials?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.041"
      },
      "ResponseBody": {
        "name": "00000",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1/connections/00000",
        "type": "AzureStorageAccount",
        "target": "_",
        "isDefault": false,
        "credentials": {
          "type": "AAD"
        },
        "metadata": {
          "ApiType": "Azure",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/00000"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/connections/balapv1dpprodaccount1/getConnectionWithCredentials?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.165"
      },
      "ResponseBody": {
        "name": "balapv1dpprodaccount1",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1/projects/project1/connections/balapv1dpprodaccount1",
        "type": "AIServices",
        "target": "https://Sanitized.azure.com/",
        "isDefault": true,
        "credentials": {
          "key": "1k91vOzJDLKQYfWdi2KYYTdHpCJJzQ035WM0Kt8BCH1jTFj7suP2JQQJ99BDACYeBjFXJ3w3AAAAACOGabr3",
          "type": "ApiKey"
        },
        "metadata": {
          "ApiType": "Azure",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-prod-account1",
          "Location": "eastus"
        }
      }
    }
  ],
  "Variables": {}
}
