{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests277?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "readOnlyTests277",
        "label": "some label",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5B1xH9XbOpGPfU6K463lJHFo-qnL__B4PlJLY1gx9cE\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:44:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU2Mzk=;sn=74105639"
      },
      "ResponseBody": {
        "etag": "5B1xH9XbOpGPfU6K463lJHFo-qnL__B4PlJLY1gx9cE",
        "key": "readOnlyTests277",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:44:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests277?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDU2Mzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5B1xH9XbOpGPfU6K463lJHFo-qnL__B4PlJLY1gx9cE\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:44:23 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU2Mzk=;sn=74105639"
      },
      "ResponseBody": {
        "etag": "5B1xH9XbOpGPfU6K463lJHFo-qnL__B4PlJLY1gx9cE",
        "key": "readOnlyTests277",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:44:23+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/readOnlyTests277?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDU2Mzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rGmKpt8d4pgupeQXs6iGzhkNjY2cKptcu9ZBbw7eTZA\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:44:24 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU2NDA=;sn=74105640"
      },
      "ResponseBody": {
        "etag": "rGmKpt8d4pgupeQXs6iGzhkNjY2cKptcu9ZBbw7eTZA",
        "key": "readOnlyTests277",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": true,
        "last_modified": "2025-09-29T09:44:24+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests277?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDU2NDE="
      },
      "RequestBody": {
        "key": "readOnlyTests277",
        "label": "some label",
        "value": "world"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU2NDE=;sn=74105641"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'readOnlyTests277' is not allowed",
        "name": "readOnlyTests277",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=readOnlyTests277",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDU2NDE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"S-jSGT5vstVPyVbU9E8392pyDWurw1ETjmx5Qy0NnyU\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU2NDE=;sn=74105641"
      },
      "ResponseBody": {
        "etag": "S-jSGT5vstVPyVbU9E8392pyDWurw1ETjmx5Qy0NnyU",
        "items": [
          {
            "etag": "rGmKpt8d4pgupeQXs6iGzhkNjY2cKptcu9ZBbw7eTZA",
            "key": "readOnlyTests277",
            "label": "some label",
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": true,
            "last_modified": "2025-09-29T09:44:24+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests277?api-version=2023-11-01&label=some%20label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDU2NDI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OWb9w8WvOw0CNjlg4FBkbXzLwHu0SDMIFuk1Cw8gWX4\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:44:25 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU2NDQ=;sn=74105644"
      },
      "ResponseBody": {
        "etag": "OWb9w8WvOw0CNjlg4FBkbXzLwHu0SDMIFuk1Cw8gWX4",
        "key": "readOnlyTests277",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:44:25+00:00"
      }
    }
  ],
  "Variables": {
    "readOnlyTests": "readOnlyTests277"
  }
}
