{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests124?api-version=2023-11-01&label=some+label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json"
      },
      "RequestBody": {
        "key": "readOnlyTests124",
        "label": "some label",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XDO8wUv47U9ustsMyE_z4QFqns02YG99mLJinP_wivk\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:52:11 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDI0MjE=;sn=73802421"
      },
      "ResponseBody": {
        "etag": "XDO8wUv47U9ustsMyE_z4QFqns02YG99mLJinP_wivk",
        "key": "readOnlyTests124",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:52:11+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests124?api-version=2023-11-01&label=some+label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDI0MjE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XDO8wUv47U9ustsMyE_z4QFqns02YG99mLJinP_wivk\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:52:11 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDI0MjE=;sn=73802421"
      },
      "ResponseBody": {
        "etag": "XDO8wUv47U9ustsMyE_z4QFqns02YG99mLJinP_wivk",
        "key": "readOnlyTests124",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:52:11+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/readOnlyTests124?api-version=2023-11-01&label=some+label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDI0MjE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5t4RBRsdttNzi5SqZ99_n02OWTsPWahHqqKBchFJoik\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:52:12 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDI0MjI=;sn=73802422"
      },
      "ResponseBody": {
        "etag": "5t4RBRsdttNzi5SqZ99_n02OWTsPWahHqqKBchFJoik",
        "key": "readOnlyTests124",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": true,
        "last_modified": "2025-09-18T02:52:12+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests124?api-version=2023-11-01&label=some+label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDI0MjM="
      },
      "RequestBody": {
        "key": "readOnlyTests124",
        "label": "some label",
        "value": "world"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDI0MjM=;sn=73802423"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'readOnlyTests124' is not allowed",
        "name": "readOnlyTests124",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=readOnlyTests124",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDI0MjM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"3Kq0ccqvPdR7N4Q6zEYUX_CVRHs0ndzTue363oLDZxg\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDI0MjM=;sn=73802423"
      },
      "ResponseBody": {
        "etag": "3Kq0ccqvPdR7N4Q6zEYUX_CVRHs0ndzTue363oLDZxg",
        "items": [
          {
            "etag": "5t4RBRsdttNzi5SqZ99_n02OWTsPWahHqqKBchFJoik",
            "key": "readOnlyTests124",
            "label": "some label",
            "content_type": null,
            "value": "world",
            "tags": {},
            "locked": true,
            "last_modified": "2025-09-18T02:52:12+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests124?api-version=2023-11-01&label=some+label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDI0MjQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sg4ZxBORIudDQfHwfqJe-ZYmrUkHq3h_s0UV4SpyT-c\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:52:13 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDI0MjY=;sn=73802426"
      },
      "ResponseBody": {
        "etag": "sg4ZxBORIudDQfHwfqJe-ZYmrUkHq3h_s0UV4SpyT-c",
        "key": "readOnlyTests124",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:52:13+00:00"
      }
    }
  ],
  "Variables": {
    "readOnlyTests": "readOnlyTests124"
  }
}
