{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests80?api-version=2026-04-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "label": "some label",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4PRDaA2Kj0SIiY9u5Hx-idPF8XWQJFU4Qg6o4iNl8jw\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:43:06 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3Mjg1MA==;sn=53372850",
        "x-ms-date": "Mon, 15 Jun 2026 18:43:06 GMT"
      },
      "ResponseBody": {
        "etag": "4PRDaA2Kj0SIiY9u5Hx-idPF8XWQJFU4Qg6o4iNl8jw",
        "key": "readOnlyTests80",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:43:06+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests80?api-version=2026-04-01&label=some%20label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3Mjg1MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4PRDaA2Kj0SIiY9u5Hx-idPF8XWQJFU4Qg6o4iNl8jw\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:43:06 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3Mjg1MA==;sn=53372850",
        "x-ms-date": "Mon, 15 Jun 2026 18:43:07 GMT"
      },
      "ResponseBody": {
        "etag": "4PRDaA2Kj0SIiY9u5Hx-idPF8XWQJFU4Qg6o4iNl8jw",
        "key": "readOnlyTests80",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:43:06+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/readOnlyTests80?api-version=2026-04-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3Mjg1MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6QqIn0nxlHlOKXxX41zueZOosTmtysPjmA1vvhbUSfY\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:43:07 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3Mjg1MQ==;sn=53372851",
        "x-ms-date": "Mon, 15 Jun 2026 18:43:07 GMT"
      },
      "ResponseBody": {
        "etag": "6QqIn0nxlHlOKXxX41zueZOosTmtysPjmA1vvhbUSfY",
        "key": "readOnlyTests80",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "description": null,
        "tags": {},
        "locked": true,
        "last_modified": "2026-06-15T18:43:07+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests80?api-version=2026-04-01&label=some%20label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3Mjg1Mg=="
      },
      "RequestBody": {
        "label": "some label",
        "value": "world"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3Mjg1Mg==;sn=53372852",
        "x-ms-date": "Mon, 15 Jun 2026 18:43:07 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'readOnlyTests80' is not allowed",
        "name": "readOnlyTests80",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=readOnlyTests80",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3Mjg1Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"uXTU2Stl2rYGx8RWSMvNy58PKq9fhyY86_yYYrX9xuI\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3Mjg1Mg==;sn=53372852",
        "x-ms-date": "Mon, 15 Jun 2026 18:43:07 GMT"
      },
      "ResponseBody": {
        "etag": "uXTU2Stl2rYGx8RWSMvNy58PKq9fhyY86_yYYrX9xuI",
        "items": [
          {
            "etag": "6QqIn0nxlHlOKXxX41zueZOosTmtysPjmA1vvhbUSfY",
            "key": "readOnlyTests80",
            "label": "some label",
            "content_type": null,
            "value": "world",
            "description": null,
            "tags": {},
            "locked": true,
            "last_modified": "2026-06-15T18:43:07+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/readOnlyTests80?api-version=2026-04-01&label=some%20label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM3Mjg1Mw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oD8wY-glUZNpoPKQDzqB_njgZPJK6rFVlXJEs0tuC_c\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:43:07 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM3Mjg1NQ==;sn=53372855",
        "x-ms-date": "Mon, 15 Jun 2026 18:43:07 GMT"
      },
      "ResponseBody": {
        "etag": "oD8wY-glUZNpoPKQDzqB_njgZPJK6rFVlXJEs0tuC_c",
        "key": "readOnlyTests80",
        "label": "some label",
        "content_type": null,
        "value": "world",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:43:07+00:00"
      }
    }
  ],
  "Variables": {
    "readOnlyTests": "readOnlyTests80"
  }
}
