{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7f348552-056d-3469-c948-5401a4d1af6d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:26:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868023331888\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:26:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7f348552-056d-3469-c948-5401a4d1af6d/test-blob-011115ea-6456-1d19-d550-fc55add18c03",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:26:46 GMT",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"d0af80e4-75a9-9269-c884-e91c05da7c94\",\"EncryptedKey\":\"5M/3Uc3VFrYi9YHQoZ2JfQJesqq8yFMPqWV93KmuBHY=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "OCN56tsgY1uNxiFTmeNPsViuV4bh220GFzqmDHe8LqQ5uDMrRn+7lvpDPMsz7xNfR8nV6JApy1y1ctKhelbj0Jh8GeCvJGrY8sGLnp+h0ygmRsWu50YUEO3XddSsGhykX2szttUyryNe/fXOnSy8E56qejOQNOlRZwnz2K6WK9el5z40bh1S9JahT+lQRXLAGmE2AqDoEyuB4k7LPtd0yNEeKbbuiKWBWIWc7uX/ACGWMr5MYCk3vNMTsovOhrW/LYYYMhy80pG8tKkaSyRFgeEsNQwYKGio5m3i2tUZstHQ3MFe584F2mAsj6t/HXCvzTGqolGppgQecEuv2fe8owLYSW9i55kTJlur7Ji9KMn8Mw2kbg9/JzW9QHeCVgBpcOyop9MBTOaXl3v2/rprYEeCsqXqFzTzWCI[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7f348552-056d-3469-c948-5401a4d1af6d/test-blob-011115ea-6456-1d19-d550-fc55add18c03",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:26:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "hKLnOKXP0hxoTYDFkEANbg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8680233F0191\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:26:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:26:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"d0af80e4-75a9-9269-c884-e91c05da7c94\",\"EncryptedKey\":\"5M/3Uc3VFrYi9YHQoZ2JfQJesqq8yFMPqWV93KmuBHY=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7f348552-056d-3469-c948-5401a4d1af6d/test-blob-011115ea-6456-1d19-d550-fc55add18c03?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8680233F0191\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:26:47 GMT",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"3191b25e-220c-0d00-cf88-d7f837bd8af3\",\"EncryptedKey\":\"5M/3Uc3VFrYi9YHQoZ2JfQJesqq8yFMPqWV93KmuBHY=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8680235D8375\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:26:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7f348552-056d-3469-c948-5401a4d1af6d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:26:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "740631438",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
