{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a0c0ab97-2088-5b5b-b8ab-3c3bc23ff291?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Aug 2024 19:42:15 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC1503192F28D\"",
        "Last-Modified": "Tue, 20 Aug 2024 19:42:15 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a0c0ab97-2088-5b5b-b8ab-3c3bc23ff291/test-blob-bf9bf9a9-21e8-bd44-abdd-4154967b4b0d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 20 Aug 2024 19:42:15 GMT",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"7d7c0e63-9834-b5f9-1d04-33c7505c54fd\",\"EncryptedKey\":\"pcgDe5usLKcMqJNRnehz0TbTOyKeRpR5nIoBBVZ2noI=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "S3vGgQ+1ridFAzzVDf1e/DrblzB/xO/KJp/omlyIps6BQgZjXPwbtF1Gyb3UpCeLf/SyF+VrAoaM/FtvzBPKvF1uU8r2+p89wOPTOfsy9YF4XRto1Y/oFj+A12ChrOdJewxgZlBdlIRUdVcBl8mLWgbZ92/4YufNhT2KdiM/mxT8ib3u0o8wG8iWFF8353529HxZyLV3URklkuAT0h1hFNlCBQ4MnYh3qNunYU2HlZ2/FIKm5dNfhDijyECuHUiqNf+G9eJwaVf04R/Zz+/LnfxDVL2bui4F44DVadRHyYuT/SxNAaC7TqoqsQSzhrRI1ypEa8mKDnvQgBFimgCCrBiURdLDfZxbhwUTcQgqUV3LjZGpA13BCO6xfYCPWbSppwTrH0DihVmN6OPDd51ypi+zlg1v2Km60j3[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a0c0ab97-2088-5b5b-b8ab-3c3bc23ff291/test-blob-bf9bf9a9-21e8-bd44-abdd-4154967b4b0d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Aug 2024 19:42:15 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "UgXPwaD6Sef1Lw238as9Xw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCC150319B406B\"",
        "Last-Modified": "Tue, 20 Aug 2024 19:42:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 20 Aug 2024 19:42:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 20 Aug 2024 19:42:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"7d7c0e63-9834-b5f9-1d04-33c7505c54fd\",\"EncryptedKey\":\"pcgDe5usLKcMqJNRnehz0TbTOyKeRpR5nIoBBVZ2noI=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-20T19:42:15.3570411Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a0c0ab97-2088-5b5b-b8ab-3c3bc23ff291/test-blob-bf9bf9a9-21e8-bd44-abdd-4154967b4b0d?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCC150319B406B\"",
        "x-ms-date": "Tue, 20 Aug 2024 19:42:15 GMT",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"e3d865f7-6a48-44d3-2e4e-b93f8a2e1422\",\"EncryptedKey\":\"pcgDe5usLKcMqJNRnehz0TbTOyKeRpR5nIoBBVZ2noI=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC15031B358C1\"",
        "Last-Modified": "Tue, 20 Aug 2024 19:42:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-20T19:42:15.5159505Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a0c0ab97-2088-5b5b-b8ab-3c3bc23ff291?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Aug 2024 19:42:15 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "420966700",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
