{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-285530b1-75c5-3668-5111-8fc2706bf219?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 19:18:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC216142DA35D\"",
        "Last-Modified": "Wed, 21 Aug 2024 19:18:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-285530b1-75c5-3668-5111-8fc2706bf219/test-blob-d3e384b7-ad5e-3e20-09d6-a6941440d432",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 21 Aug 2024 19:18:46 GMT",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"d8cbcdcd-c467-6dbf-ec86-f333ffe040ce\",\"EncryptedKey\":\"j1PA0QAodtyUTHJyiXZI7dRzQJ7NDSJgqZ0JAbWOwkw=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "kS0TjiUnYzlqDG8OxM2eSpi9KF/IfTlLgRFC9H5STKK3E0zuXTx4o0xa5OBdpdSQ/uzeJAcMcRPzxw0T5W+6GMDMV7CAr+1bRIUTbZlY7tw9sfWScyiaqqE4+pUvZL7dn8wgkE0jEE//gt+C+QN6m9kx1jN6KKSXMqwPR7RXLN/GNs7NN12OGaGmk/FIF7Gdvl+7/Y6LYncniF2hFMiap1b/vMM1rWN8oryS05WzThv6cYlVmy5RO9NWpa4A7QXYDOubSVvuZxD8P1rR+I/idDpCpqI+RQsnroDv3ge0e7W3ucepFwW/DAl5WVzUf0JEdDF0vUZjmsfgdJrb/okIR8SkGj/HOFw0gpqYxeuvUi49q2nWP71vUx8AyKNr5A2AcBGYL2UCfDzVQDusy9TbMSFrnVMfMgcGNcY[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-285530b1-75c5-3668-5111-8fc2706bf219/test-blob-d3e384b7-ad5e-3e20-09d6-a6941440d432",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 19:18:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "8dnN35V5nPRyqelNbGI5Fw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCC216143BCA9D\"",
        "Last-Modified": "Wed, 21 Aug 2024 19:18:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 21 Aug 2024 19:18:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"d8cbcdcd-c467-6dbf-ec86-f333ffe040ce\",\"EncryptedKey\":\"j1PA0QAodtyUTHJyiXZI7dRzQJ7NDSJgqZ0JAbWOwkw=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-285530b1-75c5-3668-5111-8fc2706bf219/test-blob-d3e384b7-ad5e-3e20-09d6-a6941440d432?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCC216143BCA9D\"",
        "x-ms-date": "Wed, 21 Aug 2024 19:18:47 GMT",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"6b877a36-bd57-64dd-a29c-7644b515b3c6\",\"EncryptedKey\":\"j1PA0QAodtyUTHJyiXZI7dRzQJ7NDSJgqZ0JAbWOwkw=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC21614630181\"",
        "Last-Modified": "Wed, 21 Aug 2024 19:18:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-285530b1-75c5-3668-5111-8fc2706bf219?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 19:18:47 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "136828201",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
