{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-056197f2-e8e3-86a9-84d3-4b36aaa426e7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 19:18:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC21613C6CB49\"",
        "Last-Modified": "Wed, 21 Aug 2024 19:18:45 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-056197f2-e8e3-86a9-84d3-4b36aaa426e7/test-blob-439e859a-8d15-1cc2-43fd-dcff4bd1cdd9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 21 Aug 2024 19:18:46 GMT",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"a8fe0d18-1f4f-a874-d03a-4c62d32fe4e7\",\"EncryptedKey\":\"/UlumSZKTmtECe6saP2AVOxQgq2Q02TRwW2fvWWQ6fM=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "iI+z5MnSESYDfcLyto4nGkVnGKw6Vrnh+o8XW2QrSo0pwICIlvmw2uJT8BtQIzw3c05PNUVJAjHW0eo6u7XC1zI0yPYNn4NLtj3J52adkNZS3+gV2xVI371OssQPdh8tkRjpG1tGKdPKA34IgBvLOEET59zNrPwc7Ok4vu2/O0AdnFZNtHV7DLUVS9iXP16ig3mD/I5DX+QczC5yDmvlC8c96uTFfoPMmNsmuGEjha2KljtzOz+y2jxxMOdGCf1KLz8QWVR63AT2t2SzHKeC+UeB53gvcdCIiw+nU02bhY7d3IgiEitYD7k2fYPa/76U7jegxSGFG71viM5F0om3WjHV1T8eYOYbKNi++PRMrYxQE2QV+sBtWMHLsoldEzwwfyJSBSl/dY1RhZxIxiLJI9tB9L8koV9waHx[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-056197f2-e8e3-86a9-84d3-4b36aaa426e7/test-blob-439e859a-8d15-1cc2-43fd-dcff4bd1cdd9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 19:18:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "y2b1mks3YrvMzVkOZ99hNw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCC21613D540F4\"",
        "Last-Modified": "Wed, 21 Aug 2024 19:18:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 21 Aug 2024 19:18:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"a8fe0d18-1f4f-a874-d03a-4c62d32fe4e7\",\"EncryptedKey\":\"/UlumSZKTmtECe6saP2AVOxQgq2Q02TRwW2fvWWQ6fM=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-056197f2-e8e3-86a9-84d3-4b36aaa426e7/test-blob-439e859a-8d15-1cc2-43fd-dcff4bd1cdd9?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCC21613D540F4\"",
        "x-ms-date": "Wed, 21 Aug 2024 19:18:46 GMT",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"b621cead-b37b-d392-50fd-faa4ef765701\",\"EncryptedKey\":\"/UlumSZKTmtECe6saP2AVOxQgq2Q02TRwW2fvWWQ6fM=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC21613FDB083\"",
        "Last-Modified": "Wed, 21 Aug 2024 19:18:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-056197f2-e8e3-86a9-84d3-4b36aaa426e7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 19:18:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "526529595",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
