{
  "Entries": [
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7939069a-d1f4-d96a-7bf5-75045b28fd40?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 19:18:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC21615F7402C\"",
        "Last-Modified": "Wed, 21 Aug 2024 19:18:49 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7939069a-d1f4-d96a-7bf5-75045b28fd40/test-blob-7475874c-bfdd-681d-8c00-0719d1082222",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 21 Aug 2024 19:18:49 GMT",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"069ff821-69e5-ee40-ed9d-23dc4d4e92fb\",\"EncryptedKey\":\"j1XrrH75n5Zwr01aDDW5o6bCo\\u002B8sHnvrSsegvb7EgGU=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "4rnO3bYGnftfUh3t7LyACZf5GTV5HQXSE4tuBYO9Hi0Sja5LXjVSR2gtbAuEkOqv8ShEabzSKsS0+8orl5h4ojPw2l4NNKpip9LMTLH5TYOgvxNaeLRwQGLql2JrJq/QtcnYlLWLob1+4sLpBd4Tuq5GitiEHSp+f5r8I51H94Ai/JboIbnNFR5W3JXyhzqE1ty0JJvXS5eeWRQbj30fNupCxglHKpn0eHW5LkGUjPhfd03Bk9PlS7H/ScelsoahNqarr8AxPaxCv6smHRxWCswbuxcwXqIXXHtXSOHRT8XuGPia6dw4LTqgftMovi2UqD/6ifducNcDk1JE2fXKcXDlNwUjvCDw443dj+DP755Nw5+h1sbOgKghl1WJ81NF1g1jQococOweCqVpkeH2M6S09xZVKJqpFrd[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7939069a-d1f4-d96a-7bf5-75045b28fd40/test-blob-7475874c-bfdd-681d-8c00-0719d1082222",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 19:18:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9Ju1QHdtHzkadhS4cqoYHg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCC216160676C4\"",
        "Last-Modified": "Wed, 21 Aug 2024 19:18:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 21 Aug 2024 19:18:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"069ff821-69e5-ee40-ed9d-23dc4d4e92fb\",\"EncryptedKey\":\"j1XrrH75n5Zwr01aDDW5o6bCo\\u002B8sHnvrSsegvb7EgGU=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7939069a-d1f4-d96a-7bf5-75045b28fd40/test-blob-7475874c-bfdd-681d-8c00-0719d1082222?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCC216160676C4\"",
        "x-ms-date": "Wed, 21 Aug 2024 19:18:50 GMT",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"0b957557-0b75-5776-4c60-0284ab25d569\",\"EncryptedKey\":\"j1XrrH75n5Zwr01aDDW5o6bCo\\u002B8sHnvrSsegvb7EgGU=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC216162FF79D\"",
        "Last-Modified": "Wed, 21 Aug 2024 19:18:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://smtest20240108.blob.preprod.core.windows.net/test-container-7939069a-d1f4-d96a-7bf5-75045b28fd40?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 21 Aug 2024 19:18:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "718689600",
    "Storage_TestConfigDefault": "ProductionTenant\nsmtest20240108\nU2FuaXRpemVk\nhttps://smtest20240108.blob.preprod.core.windows.net\nhttps://smtest20240108.file.preprod.core.windows.net\nhttps://smtest20240108.queue.preprod.core.windows.net\nhttps://smtest20240108.table.preprod.core.windows.net\n\n\n\n\nhttps://smtest20240108-secondary.blob.preprod.core.windows.net\nhttps://smtest20240108-secondary.file.preprod.core.windows.net\nhttps://smtest20240108-secondary.queue.preprod.core.windows.net\nhttps://smtest20240108-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://smtest20240108.blob.preprod.core.windows.net/;QueueEndpoint=https://smtest20240108.queue.preprod.core.windows.net/;FileEndpoint=https://smtest20240108.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://smtest20240108-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://smtest20240108-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://smtest20240108-secondary.file.preprod.core.windows.net/;AccountName=smtest20240108;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
