{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-cf6b1733-8d76-e175-ae87-3c2985199c10?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 14:38:22 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB6256C52E575\"",
        "Last-Modified": "Tue, 06 Aug 2024 14:38:22 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-cf6b1733-8d76-e175-ae87-3c2985199c10/test-blob-f449ed64-4ff6-6498-627a-daf30c382170",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 06 Aug 2024 14:38:22 GMT",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"4b2b5918-43a2-0b12-3d3b-e538354b9faa\",\"EncryptedKey\":\"pFriPr2GX4VogNdv1NzfgyGEBNBDr9dhAf1IryCcAjQ=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "wOU8efmVX/QTajtJJfHhCw+z9S8lV7mS9MveNwp8vTXiCz+nzXKqS2FcJxgBAwiXhA72DlJermkrqoUutifqlqwFZhmxOj2cCKrOyS+hkfHCRrL7ha7jhF3WeyPtfJQ5cZBr+53u5krQWQaoj+U6iRiTa3B17hD9IuG82r4ar4wVlFeeNZZT1F9oKyyoO/R4m/EKWRAkxIJ/bti7MguLtap5kvuNnFSCQJcQDcPkVOftRD/ND1V78dDUHse9mKFU3HWBL6j56v+diBl5E7e/mxnxze3MvqZV/aAquH2NxKf1vDBNYyU+9FlAL4Y7At0ZFYOtzMq0hx7PLDEIzjGBEMNyg1eGcTf0stmTjI4fGfvDEaP63/jcQTQRfjf0NiUovh/DyX6FkqRLuRnxIPuQrxI2RLyOhzDLlUI[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-cf6b1733-8d76-e175-ae87-3c2985199c10/test-blob-f449ed64-4ff6-6498-627a-daf30c382170",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 14:38:22 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "/ST1DKGvAGNkfgWyzqXy2g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB6256C58BDE5\"",
        "Last-Modified": "Tue, 06 Aug 2024 14:38:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 06 Aug 2024 14:38:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"4b2b5918-43a2-0b12-3d3b-e538354b9faa\",\"EncryptedKey\":\"pFriPr2GX4VogNdv1NzfgyGEBNBDr9dhAf1IryCcAjQ=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-06T14:38:22.7568101Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-cf6b1733-8d76-e175-ae87-3c2985199c10/test-blob-f449ed64-4ff6-6498-627a-daf30c382170?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCB6256C58BDE5\"",
        "x-ms-date": "Tue, 06 Aug 2024 14:38:22 GMT",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"c2e6349e-0692-0cf1-e4db-9aae6deed285\",\"EncryptedKey\":\"pFriPr2GX4VogNdv1NzfgyGEBNBDr9dhAf1IryCcAjQ=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB6256C69262A\"",
        "Last-Modified": "Tue, 06 Aug 2024 14:38:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-06T14:38:22.8653370Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-cf6b1733-8d76-e175-ae87-3c2985199c10?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 14:38:22 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1633595048",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
