{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-703c8fcb-b1a1-5330-b90e-dd66fdda5a72?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 14:38:24 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB6256D5BB615\"",
        "Last-Modified": "Tue, 06 Aug 2024 14:38:24 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-703c8fcb-b1a1-5330-b90e-dd66fdda5a72/test-blob-4d85e55a-5cc8-7e66-4f74-69ec55a142ac",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 06 Aug 2024 14:38:24 GMT",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"f607738c-588e-4fb4-5897-66712abfa601\",\"EncryptedKey\":\"XIe1RGnk9sZNGkFscvPQ4MV0MokVVdJZtFfXeS60dd4=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "5CvZOIsxSkCeTd7EewnFjuxb08YthuDlxyNbPeWg0GpNGAKn57XOrfbZZO7CAbNzVAVtq2kR7F1L9HFn1gxa/Xx0d2MHHaY2jSbQUyLxIsVv5+jgMiUAPCukW/JEZtfpf2ZyTYpQazZeNx5DQZg7WdKs+O4jestXczs3Y8K08SZP5tS8f9Q7H3yygvoHvfuSaQEgmG7pxQSaGtpPGAh0qkX381rEftr9cdhxcffQULY/pfnAk1m3ZSHPIWT66wd0Pde1D8mgzuonIieVd1MMycojD3IOtBbrP4059F11A4XR/TQfG0Hsn9cPmHAyIu7Nwlia1tyUZYnByc87Z9qNsR+hw3of7K2JN3Cb/xuluR2fazEF2yyoPZerXlJxsDf8geZRkF50rdWqEZ5s+GVtGxCynPyph9bz+YX[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-703c8fcb-b1a1-5330-b90e-dd66fdda5a72/test-blob-4d85e55a-5cc8-7e66-4f74-69ec55a142ac",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 14:38:24 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "bX6dgT4P6Tu5NMKR1IsD/A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCB6256D5EF47F\"",
        "Last-Modified": "Tue, 06 Aug 2024 14:38:24 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 06 Aug 2024 14:38:24 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"f607738c-588e-4fb4-5897-66712abfa601\",\"EncryptedKey\":\"XIe1RGnk9sZNGkFscvPQ4MV0MokVVdJZtFfXeS60dd4=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-06T14:38:24.4762477Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-703c8fcb-b1a1-5330-b90e-dd66fdda5a72/test-blob-4d85e55a-5cc8-7e66-4f74-69ec55a142ac?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCB6256D5EF47F\"",
        "x-ms-date": "Tue, 06 Aug 2024 14:38:24 GMT",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"a3059dbc-17b3-c61c-e546-fc471d837ec9\",\"EncryptedKey\":\"XIe1RGnk9sZNGkFscvPQ4MV0MokVVdJZtFfXeS60dd4=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCB6256D6ACE15\"",
        "Last-Modified": "Tue, 06 Aug 2024 14:38:24 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-06T14:38:24.5539109Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-703c8fcb-b1a1-5330-b90e-dd66fdda5a72?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 06 Aug 2024 14:38:24 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1533295856",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
