{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-29286f74-3d64-8abf-aaf3-e85a6343d2ef?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:26:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868022E37871\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:26:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-29286f74-3d64-8abf-aaf3-e85a6343d2ef/test-blob-af35f176-8512-9099-802b-c8e5b8f413a9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:26:46 GMT",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"41e8d36a-1607-04bd-29ed-65d41dab33d9\",\"EncryptedKey\":\"XF6TTeuocERF1ekGhfSdNYJaboy5WMAS0rYecXTRg60=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Hk2t7bjuuDhOJ+qb43pJ7jRPWVOzyds2vQ/3/X2OwCUauPjYUHZuBAahi840JbtUA4grJV5am1VxdjCo97q6v2bFgSuBcZ6+4VRNEj0NApdUo/n1Y5rGvxyiZtlFxQ1L5stnbqSQ0pLpbUQJDYkYZHOZVFTAxVzL/sIO3wrFeBxHAitxpZTyw9BnC/VWvbKSigJlq3C5iiFum3DigfOIJPQowgtepr7fppCDWbpndUEPe1QHX8yrjncJAwkjEEHd3uYBLvunNORDhgXfNTBnByYv0gaegMQnfDOTVKO0u5ZOpnvTZUZFaEdww9nHy1hHovvj9D07Pl4h2bLHE99Bj8pvkY+1k6Hf6Wm+LrzqYLDbTLKn0cZYE2cdsYyUflVoLzQPWDrJkQ5ZAwvTfRChN3gB7Mcsmb0DFn4[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-29286f74-3d64-8abf-aaf3-e85a6343d2ef/test-blob-af35f176-8512-9099-802b-c8e5b8f413a9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:26:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "KI+F+8bKkavz6+GlZv3jeg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868022F247A4\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:26:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:26:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"41e8d36a-1607-04bd-29ed-65d41dab33d9\",\"EncryptedKey\":\"XF6TTeuocERF1ekGhfSdNYJaboy5WMAS0rYecXTRg60=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-29286f74-3d64-8abf-aaf3-e85a6343d2ef/test-blob-af35f176-8512-9099-802b-c8e5b8f413a9?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC868022F247A4\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:26:46 GMT",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"a2ae3ae1-7a84-4c3d-fbbb-a5999c4a5634\",\"EncryptedKey\":\"XF6TTeuocERF1ekGhfSdNYJaboy5WMAS0rYecXTRg60=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8680230F6A1A\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:26:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-29286f74-3d64-8abf-aaf3-e85a6343d2ef?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:26:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "550946873",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
