{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-669d375b-2175-abec-8ac5-b1a1477d89c9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Aug 2024 19:42:12 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC1502FC10C2D\"",
        "Last-Modified": "Tue, 20 Aug 2024 19:42:12 GMT",
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-669d375b-2175-abec-8ac5-b1a1477d89c9/test-blob-dd76ae6a-828e-1433-d49d-02c4cd01a50a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 20 Aug 2024 19:42:12 GMT",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"4d009d63-a183-e08a-c8d9-a7001e41a10f\",\"EncryptedKey\":\"YPa73X3FvkaofX/n4zUzCha2pXBw/EVm83dFVyAsJ3A=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "t2WmyNK71u1vtIPdBBziMFDWXEPdSOjuN+gGO6+RZsBEhDLOziUSNA63xWX22NDeU+LyB6FtKG99uJDqtJs+3k3CmYDpE2ErxCc1JYKC918YJ+fMnl8e1lzDUBaVKH9zeeYYND5Q9T+Bx0J6OALs+8Aw0Y2zcj/tpMMjJsNLlZuowqybasMgxzKoStccpJ1Z1lVVZFbyvwanKo97Lc58NjGm0nZWUJD9EApaCydo0f8lyVBt9TFFtQKl9EAzpZpkLBSlddImA4bFWFRMl7TfP1mQVWN+D0EAYRxzsVxQyWpv9t8Swlst/8bKqJzd+R1OxrXmo0835hzTpRS1slIpdI/p3KHUzHz9Y1adtGakImj+JeqmaSYbOBDCPx1Hd0xzoDMN9Bx8efk56UD5mTG2L4Krt41ngwpozaS[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-669d375b-2175-abec-8ac5-b1a1477d89c9/test-blob-dd76ae6a-828e-1433-d49d-02c4cd01a50a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Aug 2024 19:42:12 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "qRA3DTap+LYtHYTGsXmHQQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCC1502FC9F8C3\"",
        "Last-Modified": "Tue, 20 Aug 2024 19:42:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 20 Aug 2024 19:42:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 20 Aug 2024 19:42:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"4d009d63-a183-e08a-c8d9-a7001e41a10f\",\"EncryptedKey\":\"YPa73X3FvkaofX/n4zUzCha2pXBw/EVm83dFVyAsJ3A=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-20T19:42:12.3077827Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-669d375b-2175-abec-8ac5-b1a1477d89c9/test-blob-dd76ae6a-828e-1433-d49d-02c4cd01a50a?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DCC1502FC9F8C3\"",
        "x-ms-date": "Tue, 20 Aug 2024 19:42:12 GMT",
        "x-ms-meta-encryptiondata": "{\"EncryptionMode\":\"bar\",\"WrappedContentKey\":{\"KeyId\":\"f8845029-c44a-70fc-ac04-ad9bc0aaebd3\",\"EncryptedKey\":\"YPa73X3FvkaofX/n4zUzCha2pXBw/EVm83dFVyAsJ3A=\",\"Algorithm\":\"some algorithm name\"},\"EncryptionAgent\":{\"Protocol\":\"2.0\",\"EncryptionAlgorithm\":\"foo\"},\"EncryptedRegionInfo\":{\"DataLength\":4194304,\"NonceLength\":12},\"KeyWrappingMetadata\":{\"fizz\":\"buzz\"}}",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DCC1502FE2AD46\"",
        "Last-Modified": "Tue, 20 Aug 2024 19:42:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-11-04",
        "x-ms-version-id": "2024-08-20T19:42:12.4706902Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-669d375b-2175-abec-8ac5-b1a1477d89c9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 20 Aug 2024 19:42:12 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-11-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2009194222",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
