{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipNRMSNSG": "true"
        },
        "subscriptionId": "69a75bda-882e-44d5-8431-63421204132a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "QATest02-SVL",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourcegroups/testNetAppDotNetSDKRG-227?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env",
          "Owner": "b-aubald"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227",
        "name": "testNetAppDotNetSDKRG-227",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env",
          "Owner": "b-aubald",
          "CreatedOnDate": "2024-01-04T12:44:06.6038987Z",
          "SkipNRMSNSG": "true"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/checkNameAvailability?api-version=2023-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "account7589",
        "type": "Microsoft.NetApp/netAppAccounts",
        "resourceGroup": "testNetAppDotNetSDKRG-227"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "isAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.NetApp/netAppAccounts/account7589?api-version=2023-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/3133854c-181f-423b-a399-deaa8dd83517?api-version=2023-05-01-preview\u0026t=638399690513418315\u0026c=MIIHADCCBeigAwIBAgITHgOOi_HbvpLnbRKUKwAAA46L8TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDc0MDUzWhcNMjQxMDI2MDc0MDUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/3133854c-181f-423b-a399-deaa8dd83517?api-version=2023-05-01-preview\u0026t=638399690513418315\u0026c=MIIHADCCBeigAwIBAgITHgOOi_HbvpLnbRKUKwAAA46L8TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDc0MDUzWhcNMjQxMDI2MDc0MDUzWjBAMT4wPAYDVQQDEzVhc3luY29wZX[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.NetApp/netAppAccounts/account7589?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272024-01-04T12%3A44%3A10.1826675Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.NetApp/netAppAccounts/account7589",
        "name": "account7589",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "W/\u0022datetime\u00272024-01-04T12%3A44%3A10.1826675Z\u0027\u0022",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2024-01-04T12:44:09.6512898Z"
        },
        "properties": {
          "activeDirectories": [
            {
              "activeDirectoryId": "7f1ea496-b09a-e031-6635-44ef39dd38f2",
              "username": "ad_user",
              "password": "****************",
              "domain": "northeurope",
              "dns": "1.2.3.4",
              "status": "Created",
              "smbServerName": "SMBSERVER",
              "organizationalUnit": "CN=Computers",
              "kdcIP": "172.16.254.1",
              "adName": "ad_name",
              "aesEncryption": false,
              "ldapSigning": true,
              "ldapOverTLS": false,
              "allowLocalNfsUsersWithLdap": true,
              "encryptDCConnections": false,
              "ldapSearchScope": {}
            }
          ],
          "encryption": {
            "keySource": "Microsoft.NetApp"
          },
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "createdByType": "Application",
          "createdAt": "2024-01-04T12:44:10.0293192Z",
          "lastModifiedBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2024-01-04T12:44:10.0293192Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.NetApp/netAppAccounts/account7589/backupVaults/backupVault-7563?api-version=2023-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "proper[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/08c3fdee-4ec2-47d5-8c95-73af4b12fc2b?api-version=2023-05-01-preview\u0026t=638399690539668411\u0026c=MIIHADCCBeigAwIBAgITHgOOi_HbvpLnbRKUKwAAA46L8TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDc0MDUzWhcNMjQxMDI2MDc0MDUzWjBAMT4wPAYDVQQDEzVhc3luY29wZX[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.NetApp/netAppAccounts/account7589/capacityPools/pool1?api-version=2023-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "eastus2",
        "properties": {
          "size": 4398046511104,
          "serviceLevel": "Premium"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/03510d5e-2eb3-4825-bc74-03eafa288aa6?api-version=2023-05-01-preview\u0026t=638399690563574894\u0026c=MIIHADCCBeigAwIBAgITHgOOi_HbvpLnbRKUKwAAA46L8TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTU[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/03510d5e-2eb3-4825-bc74-03eafa288aa6?api-version=2023-05-01-preview\u0026t=638399690563574894\u0026c=MIIHADCCBeigAwIBAgITHgOOi_HbvpLnbRKUKwAAA46L8TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDc0MDUzWhcNMjQxMDI2MDc0MDUzWjBAMT4wPAYDVQQDEzVhc3luY29wZX[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.NetApp/netAppAccounts/account7589/capacityPools/pool1?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272024-01-04T12%3A44%3A15.9363705Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.NetApp/netAppAccounts/account7589/capacityPools/pool1",
        "name": "account7589/pool1",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
        "etag": "W/\u0022datetime\u00272024-01-04T12%3A44%3A15.9363705Z\u0027\u0022",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2024-01-04T12:44:15.2910833Z"
        },
        "properties": {
          "poolId": "fcc1b2bd-61e8-ebe4-aab2-e81c947037fd",
          "serviceLevel": "Premium",
          "size": 4398046511104,
          "qosType": "Auto",
          "totalThroughputMibps": 256.0,
          "utilizedThroughputMibps": 0.0,
          "encryptionType": "Single",
          "coolAccess": false,
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "createdByType": "Application",
          "createdAt": "2024-01-04T12:44:15.6543367Z",
          "lastModifiedBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2024-01-04T12:44:15.6543367Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.Network/virtualNetworks/vnet-9691?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "properties": {
                "addressPrefix": "10.0.1.0/24",
                "delegations": [
                  {
                    "name": "netAppVolumes",
                    "properties": {
                      "serviceName": "Microsoft.Netapp/volumes"
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.Network/locations/eastus2/operations/6066f6b1-019f-4148-a2bc-e0b9749db547?api-version=2023-05-01\u0026t=638399690592324640\u0026c=MIIHADCCBeigAwIBAgITHgOOi_HbvpLnbRKUKwAAA46L8TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDc0MDUzWhcNMjQxMDI2MDc0MDUzWjBAMT4wPAYDVQQDEzVhc3luY[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.Network/locations/eastus2/operations/6066f6b1-019f-4148-a2bc-e0b9749db547?api-version=**\u0026t=638399690592324640\u0026c=MIIHADCCBeigAwIBAgITHgOOi_HbvpLnbRKUKwAAA46L8TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDc0MDUzWhcNMjQxMDI2MDc0MDUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.Network/virtualNetworks/vnet-9691?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00225532ac42-08a8-48c3-8855-ddcfdc842bee\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "name": "vnet-9691",
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.Network/virtualNetworks/vnet-9691",
        "etag": "W/\u00225532ac42-08a8-48c3-8855-ddcfdc842bee\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus2",
        "tags": {
          "CreatedOnDate": "2024-01-04T12:44:18.1103280Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "1a84903a-3a07-42eb-b8f3-5d708075642d",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.Network/virtualNetworks/vnet-9691/subnets/default",
              "etag": "W/\u00225532ac42-08a8-48c3-8855-ddcfdc842bee\u0022",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.1.0/24",
                "delegations": [
                  {
                    "name": "netAppVolumes",
                    "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.Network/virtualNetworks/vnet-9691/subnets/default/delegations/netAppVolumes",
                    "etag": "W/\u00225532ac42-08a8-48c3-8855-ddcfdc842bee\u0022",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "serviceName": "Microsoft.Netapp/volumes",
                      "actions": [
                        "Microsoft.Network/networkinterfaces/*",
                        "Microsoft.Network/virtualNetworks/subnets/join/action"
                      ]
                    },
                    "type": "Microsoft.Network/virtualNetworks/subnets/delegations"
                  }
                ],
                "purpose": "HostedWorkloads",
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.Network/locations/eastus2/operations/163736ef-5d16-4d24-b612-385661b6c9c5?api-version=**\u0026t=638399690723731139\u0026c=MIIHADCCBeigAwIBAgITHgOOi_HbvpLnbRKUKwAAA46L8TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDc0MDUzWhcNMjQxMDI2MDc0MDUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.NetApp/netAppAccounts/account7589/capacityPools/pool1/volumes/volumeName-5230?api-version=2023-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "eastus2",
        "properties": {
          "creationToken": "volumeName-5230",
          "usageThreshold": 107374182400,
          "subnetId": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.Network/virtualNetworks/vnet-9691/subnets/default"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/2c9f5c03-239a-4d84-a7fa-04a942ecc3ac?api-version=2023-05-01-preview\u0026t=6383996910546[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/2c9f5c03-239a-4d84-a7fa-04a942ecc3ac?api-version=2023-05-01-preview\u0026t=638399691054669187\u0026c=MIIHADCCBeigAwIBAgITHgOOi_HbvpLnbRKUKwAAA46L8TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDc0MDUzWhcNMjQxMDI2MDc0MDUzWjBAMT4wPAYDVQQDEzVhc3luY29wZX[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.NetApp/netAppAccounts/account7589/capacityPools/pool1/volumes/volumeName-5230?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272024-01-04T12%3A50%3A48.3953782Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11968"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.NetApp/netAppAccounts/account7589/capacityPools/pool1/volumes/volumeName-5230",
        "name": "account7589/pool1/volumeName-5230",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
        "etag": "W/\u0022datetime\u00272024-01-04T12%3A50%3A48.3953782Z\u0027\u0022",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2024-01-04T12:45:04.1986708Z"
        },
        "properties": {
          "volumeType": "",
          "fileSystemId": "db60bca8-207c-b66d-b9ae-0318098cb1cc",
          "serviceLevel": "Premium",
          "creationToken": "volumeName-5230",
          "usageThreshold": 107374182400,
          "exportPolicy": {
            "rules": [
              {
                "ruleIndex": 1,
                "unixReadOnly": false,
                "unixReadWrite": true,
                "cifs": false,
                "nfsv3": true,
                "nfsv41": false,
                "allowedClients": "0.0.0.0/0",
                "kerberos5ReadOnly": false,
                "kerberos5ReadWrite": false,
                "kerberos5iReadOnly": false,
                "kerberos5iReadWrite": false,
                "kerberos5pReadOnly": false,
                "kerberos5pReadWrite": false,
                "hasRootAccess": true,
                "chownMode": "Restricted"
              }
            ]
          },
          "protocolTypes": [
            "NFSv3"
          ],
          "baremetalTenantId": "baremetalTenant_svm_1a1854d05b8211e99e4a3a8c013b5748_b93de3ae",
          "subnetId": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.Network/virtualNetworks/vnet-9691/subnets/default",
          "networkFeatures": "Basic",
          "networkSiblingSetId": "5292e9be-1ea4-dfd4-d047-5ef9e47a4ec3",
          "storageToNetworkProximity": "T2",
          "snapshotDirectoryVisible": true,
          "kerberosEnabled": false,
          "securityStyle": "Unix",
          "smbEncryption": false,
          "smbContinuouslyAvailable": false,
          "encryptionKeySource": "Microsoft.NetApp",
          "ldapEnabled": false,
          "unixPermissions": "0770",
          "mountTargets": [
            {
              "mountTargetId": "db60bca8-207c-b66d-b9ae-0318098cb1cc",
              "fileSystemId": "db60bca8-207c-b66d-b9ae-0318098cb1cc",
              "ipAddress": "10.0.1.4"
            }
          ],
          "coolAccess": false,
          "avsDataStore": "Disabled",
          "isDefaultQuotaEnabled": false,
          "defaultUserQuotaInKiBs": 0,
          "defaultGroupQuotaInKiBs": 0,
          "enableSubvolumes": "Disabled",
          "maximumNumberOfFiles": 100000000,
          "smbNonBrowsable": "Disabled",
          "smbAccessBasedEnumeration": "Disabled",
          "isLargeVolume": false,
          "provisionedAvailabilityZone": "1",
          "actualThroughputMibps": 6.25,
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "createdByType": "Application",
          "createdAt": "2024-01-04T12:45:04.5606691Z",
          "lastModifiedBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2024-01-04T12:45:04.5606691Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.NetApp/netAppAccounts/account7589/capacityPools/pool1/volumes/volumeName-5230?api-version=2023-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {
          "dataProtection": {
            "backup": {
              "backupEnabled": true,
              "backupVaultId": null
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/06a6a29f-5242-483f-aaf2-c712c366a885?api-version=2023-05-01-preview\u0026t=638399694657019093\u0026c=MIIHADCCBeigAwIBAgITHgOOi_HbvpLnbRKUKwAAA46L8TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/06a6a29f-5242-483f-aaf2-c712c366a885?api-version=2023-05-01-preview\u0026t=638399694657019093\u0026c=MIIHADCCBeigAwIBAgITHgOOi_HbvpLnbRKUKwAAA46L8TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDc0MDUzWhcNMjQxMDI2MDc0MDUzWjBAMT4wPAYDVQQDEzVhc3luY29wZX[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.NetApp/netAppAccounts/account7589/capacityPools/pool1/volumes/volumeName-5230?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272024-01-04T12%3A51%3A12.726257Z\u0027\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11961"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.NetApp/netAppAccounts/account7589/capacityPools/pool1/volumes/volumeName-5230",
        "name": "account7589/pool1/volumeName-5230",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
        "etag": "W/\u0022datetime\u00272024-01-04T12%3A51%3A12.726257Z\u0027\u0022",
        "location": "eastus2",
        "tags": {
          "CreatedOnDate": "2024-01-04T12:51:05.3292376Z"
        },
        "properties": {
          "volumeType": "",
          "dataProtection": {
            "backup": {
              "backupEnabled": true,
              "policyEnforced": false
            }
          },
          "provisioningState": "Succeeded",
          "fileSystemId": "db60bca8-207c-b66d-b9ae-0318098cb1cc",
          "serviceLevel": "Premium",
          "creationToken": "volumeName-5230",
          "usageThreshold": 107374182400,
          "exportPolicy": {
            "rules": [
              {
                "ruleIndex": 1,
                "unixReadOnly": false,
                "unixReadWrite": true,
                "cifs": false,
                "nfsv3"[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.NetApp/netAppAccounts/account7589/capacityPools?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11958"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.NetApp/netAppAccounts/account7589/capacityPools/pool1",
            "name": "account7589/pool1",
            "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
            "etag": "W/\u0022datetime\u00272024-01-04T12%3A50%3A48.268935Z\u0027\u0022",
            "location": "eastus2",
            "tags": {
              "key1": "value1",
              "key2": "value2",
              "CreatedOnDate": "2024-01-04T12:44:15.2910833Z"
            },
            "properties": {
              "poolId": "fcc1b2bd-61e8-ebe4-aab2-e81c947037fd",
              "serviceLevel": "Premium",
              "size": 4398046511104,
              "qosType": "Auto",
              "totalThroughputMibps": 256.0,
              "utilizedThroughputMibps": 6.25,
              "encryptionType": "Single",
              "coolAccess": false,
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
              "createdByType": "Application",
              "createdAt": "2024-01-04T12:44:15.6543367Z",
              "lastModifiedBy": "c6c4faba-2b22-44d9-80a4-71ff5b71f811",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2024-01-04T12:44:15.6543367Z"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-227/providers/Microsoft.NetApp/netAppAccounts/account7589/capacityPools/pool1/volumes?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8[...]
[...]
    {
[...]
