{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "SkipNRMSNSG": "true"
        },
        "subscriptionId": "69a75bda-882e-44d5-8431-63421204132a",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "QATest02-SVL",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourcegroups/testNetAppDotNetSDKRG-1907?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env",
          "Owner": "b-aubald"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907",
        "name": "testNetAppDotNetSDKRG-1907",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env",
          "Owner": "b-aubald",
          "CreatedOnDate": "2024-10-19T17:55:58.8606814Z",
          "SkipNRMSNSG": "true"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/checkNameAvailability?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "account7166",
        "type": "Microsoft.NetApp/netAppAccounts",
        "resourceGroup": "Sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "isAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/a36081c9-e44a-499c-bcfa-405b662995a7?api-version=2024-07-01&t=638649573633884690&c=MIIHhzCCBm-gAwIBAgITfAWHnYffOmFQPBQlYwAABYedhzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTIyMTMwODA5WhcNMjUwMzIxMTMwODA5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/a36081c9-e44a-499c-bcfa-405b662995a7?api-version=2024-07-01&t=638649573633884690&c=MIIHhzCCBm-gAwIBAgITfAWHnYffOmFQPBQlYwAABYedhzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTIyMTMwODA5WhcNMjUwMzIxMTMwODA5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"datetime'2024-10-19T17%3A56%3A02.5708785Z'\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166",
        "name": "account7166",
        "type": "Microsoft.NetApp/netAppAccounts",
        "etag": "W/\"datetime'2024-10-19T17%3A56%3A02.5708785Z'\"",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2024-10-19T17:56:01.3947754Z"
        },
        "properties": {
          "activeDirectories": [
            {
              "activeDirectoryId": "7f1ea496-b09a-e031-6635-44ef39dd38f2",
              "username": "ad_user",
              "password": "Sanitized",
              "domain": "northeurope",
              "dns": "1.2.3.4",
              "status": "Created",
              "smbServerName": "SMBSERVER",
              "organizationalUnit": "CN=Computers",
              "kdcIP": "172.16.254.1",
              "adName": "ad_name",
              "aesEncryption": false,
              "ldapSigning": true,
              "ldapOverTLS": false,
              "allowLocalNfsUsersWithLdap": true,
              "encryptDCConnections": false,
              "ldapSearchScope": {}
            }
          ],
          "encryption": {
            "keySource": "Microsoft.NetApp"
          },
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2024-10-19T17:56:02.1697052Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2024-10-19T17:56:02.1697052Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166/backupVaults/backupVault-9743?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {}
      },
      "S[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/0a42c1d0-8205-49b9-83b5-b3bb552c1f54?api-version=2024-07-01&t=638649573656384999&c=MIIHhzCCBm-gAwIBAgITfAWHnYffOmFQPBQlYwAABYedhzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTIyMTMwODA5WhcNMjUwMzIxMTMwODA5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166/capacityPools/pool1?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "eastus2",
        "properties": {
          "size": 4398046511104,
          "serviceLevel": "Premium"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/4ab78729-0c6b-4921-9850-8e3b62f81f9b?api-version=2024-07-01&t=638649573686500476&c=MIIHhzCCBm-gAwIBAgITfAWHnYffOmFQPBQlYwAABYedhzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUw[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/4ab78729-0c6b-4921-9850-8e3b62f81f9b?api-version=2024-07-01&t=638649573686500476&c=MIIHhzCCBm-gAwIBAgITfAWHnYffOmFQPBQlYwAABYedhzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTIyMTMwODA5WhcNMjUwMzIxMTMwODA5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166/capacityPools/pool1?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"datetime'2024-10-19T17%3A56%3A08.2416164Z'\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166/capacityPools/pool1",
        "name": "account7166/pool1",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools",
        "etag": "W/\"datetime'2024-10-19T17%3A56%3A08.2416164Z'\"",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2024-10-19T17:56:06.7913346Z"
        },
        "properties": {
          "poolId": "8bd9b677-363a-47db-0687-6dba40f89d3a",
          "serviceLevel": "Premium",
          "size": 4398046511104,
          "qosType": "Auto",
          "totalThroughputMibps": 256.0,
          "utilizedThroughputMibps": 0.0,
          "encryptionType": "Single",
          "coolAccess": false,
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2024-10-19T17:56:07.6031705Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2024-10-19T17:56:07.6031705Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.Network/virtualNetworks/vnet-7335?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "properties": {
                "addressPrefix": "10.0.1.0/24",
                "delegations": [
                  {
                    "name": "netAppVolumes",
                    "properties": {
                      "serviceName": "Microsoft.Netapp/volumes"
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.Network/locations/eastus2/operations/5eb2c3fb-9c30-4bb8-bf99-86a28c4b8eb8?api-version=2023-05-01&t=638649573719251323&c=MIIHhzCCBm-gAwIBAgITfAWHnYffOmFQPBQlYwAABYedhzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTIyMTMwODA5WhcNMjUwMzIxMTMwODA5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGl[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.Network/locations/eastus2/operations/5eb2c3fb-9c30-4bb8-bf99-86a28c4b8eb8?api-version=**&t=638649573719251323&c=MIIHhzCCBm-gAwIBAgITfAWHnYffOmFQPBQlYwAABYedhzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTIyMTMwODA5WhcNMjUwMzIxMTMwODA5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0Z[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.Network/virtualNetworks/vnet-7335?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"3ca0d923-fca1-427e-a637-6aeface254a3\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "vnet-7335",
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.Network/virtualNetworks/vnet-7335",
        "etag": "W/\"3ca0d923-fca1-427e-a637-6aeface254a3\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus2",
        "tags": {
          "CreatedOnDate": "2024-10-19T17:56:09.9297781Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "970ce3f4-3791-4a6b-97ec-5ff31f4358d7",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "default",
              "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.Network/virtualNetworks/vnet-7335/subnets/default",
              "etag": "W/\"3ca0d923-fca1-427e-a637-6aeface254a3\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.1.0/24",
                "delegations": [
                  {
                    "name": "netAppVolumes",
                    "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.Network/virtualNetworks/vnet-7335/subnets/default/delegations/netAppVolumes",
                    "etag": "W/\"3ca0d923-fca1-427e-a637-6aeface254a3\"",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "serviceName": "Microsoft.Netapp/volumes",
                      "actions": [
                        "Microsoft.Network/networkinterfaces/*",
                        "Microsoft.Network/virtualNetworks/subnets/join/action"
                      ]
                    },
                    "type": "Microsoft.Network/virtualNetworks/subnets/delegations"
                  }
                ],
                "purpose": "HostedWorkloads",
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.Network/locations/eastus2/operations/33474629-0290-4c92-9684-3dc4b56840e4?api-version=**&t=638649573846243500&c=MIIHhzCCBm-gAwIBAgITfAWHnYffOmFQPBQlYwAABYedhzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTIyMTMwODA5WhcNMjUwMzIxMTMwODA5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0Z[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166/capacityPools/pool1/volumes/volumeName-5199?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "eastus2",
        "properties": {
          "creationToken": "volumeName-5199",
          "usageThreshold": 107374182400,
          "subnetId": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.Network/virtualNetworks/vnet-7335/subnets/default"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/9a66fd11-3bc0-47be-9c0b-f4c3e469efc5?api-version=2024-07-01&t=638649574174020337&c=MIIH[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/9a66fd11-3bc0-47be-9c0b-f4c3e469efc5?api-version=2024-07-01&t=638649574174020337&c=MIIHhzCCBm-gAwIBAgITfAWHnYffOmFQPBQlYwAABYedhzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTIyMTMwODA5WhcNMjUwMzIxMTMwODA5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166/capacityPools/pool1/volumes/volumeName-5199?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"datetime'2024-10-19T18%3A01%3A58.0239228Z'\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166/capacityPools/pool1/volumes/volumeName-5199",
        "name": "account7166/pool1/volumeName-5199",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
        "etag": "W/\"datetime'2024-10-19T18%3A01%3A58.0239228Z'\"",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2024-10-19T17:56:55.6730768Z"
        },
        "properties": {
          "volumeType": "",
          "fileSystemId": "02933f10-74b6-f46b-7ada-ff9a10383b57",
          "serviceLevel": "Premium",
          "creationToken": "volumeName-5199",
          "usageThreshold": 107374182400,
          "exportPolicy": {
            "rules": [
              {
                "ruleIndex": 1,
                "unixReadOnly": false,
                "unixReadWrite": true,
                "cifs": false,
                "nfsv3": true,
                "nfsv41": false,
                "allowedClients": "0.0.0.0/0",
                "kerberos5ReadOnly": false,
                "kerberos5ReadWrite": false,
                "kerberos5iReadOnly": false,
                "kerberos5iReadWrite": false,
                "kerberos5pReadOnly": false,
                "kerberos5pReadWrite": false,
                "hasRootAccess": true,
                "chownMode": "Restricted"
              }
            ]
          },
          "protocolTypes": [
            "NFSv3"
          ],
          "baremetalTenantId": "baremetalTenant_svm_1a1854d05b8211e99e4a3a8c013b5748_4c09852a",
          "subnetId": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.Network/virtualNetworks/vnet-7335/subnets/default",
          "networkFeatures": "Basic",
          "effectiveNetworkFeatures": "Basic",
          "networkSiblingSetId": "8873ecfc-9610-e18f-f9b4-32539067c653",
          "storageToNetworkProximity": "T2",
          "snapshotDirectoryVisible": true,
          "kerberosEnabled": false,
          "securityStyle": "Unix",
          "smbEncryption": false,
          "smbContinuouslyAvailable": false,
          "encryptionKeySource": "Microsoft.NetApp",
          "ldapEnabled": false,
          "unixPermissions": "0770",
          "mountTargets": [
            {
              "mountTargetId": "02933f10-74b6-f46b-7ada-ff9a10383b57",
              "fileSystemId": "02933f10-74b6-f46b-7ada-ff9a10383b57",
              "ipAddress": "10.0.1.4"
            }
          ],
          "coolAccess": false,
          "avsDataStore": "Disabled",
          "isDefaultQuotaEnabled": false,
          "defaultUserQuotaInKiBs": 0,
          "defaultGroupQuotaInKiBs": 0,
          "enableSubvolumes": "Disabled",
          "smbNonBrowsable": "Disabled",
          "smbAccessBasedEnumeration": "Disabled",
          "isLargeVolume": false,
          "provisionedAvailabilityZone": "3",
          "actualThroughputMibps": 6.25,
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2024-10-19T17:56:56.5114018Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2024-10-19T17:56:56.5114018Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166/capacityPools/pool1/volumes/volumeName-5199?api-version=2024-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "dataProtection": {
            "backup": {
              "backupVaultId": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166/backupVaults/backupVault-9743"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/d8ccf160-af0a-41ed-894f-37cdaa23ad54?api-versio[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/d8ccf160-af0a-41ed-894f-37cdaa23ad54?api-version=2024-07-01&t=638649577483460962&c=MIIHhzCCBm-gAwIBAgITfAWHnYffOmFQPBQlYwAABYedhzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTIyMTMwODA5WhcNMjUwMzIxMTMwODA5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166/capacityPools/pool1/volumes/volumeName-5199?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"datetime'2024-10-19T18%3A02%3A36.668671Z'\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166/capacityPools/pool1/volumes/volumeName-5199",
        "name": "account7166/pool1/volumeName-5199",
        "type": "Microsoft.NetApp/netAppAccounts/capacityPools/volumes",
        "etag": "W/\"datetime'2024-10-19T18%3A02%3A36.668671Z'\"",
        "location": "eastus2",
        "tags": {
          "key1": "value1",
          "key2": "value2",
          "CreatedOnDate": "2024-10-19T17:56:55.6730768Z"
        },
        "properties": {
          "volumeType": "",
          "dataProtection": {
            "backup": {
              "policyEnforced": false,
              "backupVaultId": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166/backupVaults/backupVault-9743"
            }
          },
          "provisioningState": "Succeeded",
          "fileSystemId": "02933f10-74b6-f46b-7ada-ff9a10383b57",
          "serviceLevel": "Premium",
          "creationToken": "volumeName-5199",
          "usageThreshold": 107374182400,
          "exportPo[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166/backupVaults/backupVault-9743/backups/backup-3734?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "label": "adHocBackup",
          "volumeResourceId": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166/capacityPools/pool1/volumes/volumeName-5199"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/826493e0-dd1b-47dd-9d1d-b9fe36d44cd2?api-version=2024-07-01[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus2/operationResults/826493e0-dd1b-47dd-9d1d-b9fe36d44cd2?api-version=2024-07-01&t=638649577673595060&c=MIIHhzCCBm-gAwIBAgITfAWHnYffOmFQPBQlYwAABYedhzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTIyMTMwODA5WhcNMjUwMzIxMTMwODA5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166/backupVaults/backupVault-9743/backups/backup-3734?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/testNetAppDotNetSDKRG-1907/providers/Microsoft.NetApp/netAppAccounts/account7166/backupVaults/backupVault-9743/backups/backup-3734",
        "name": "account7166/backupVault-9743/backup-3734",
        "type": "Microsoft.NetApp/netAppAccounts/backupVaults/backups",
        "location": "eastus2",
        "properties": {
          "creationDate": "2024-10-19T18:02:47.553Z",
          "backupId": "104b3d90-28d2-8f4f-e850-a13b3c7b2e56",
          "size": 339968,
          "backupType": "Manual",
          "label": "adHocBackup",
          "provisioningState": "Succeeded",
[...]
