{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash175830473768601420?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF7A63811D521\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:59:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash175830473768601420/%E3%81%AB%E3%81%A3%E3%81%BD%E3%82%93%E3%81%94/%E3%81%AB%E3%81%BB%E3%82%93%E3%81%94175830474411206154",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "QQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "f8VicOenD6gaWTW3Lqy+KQ==",
        "ETag": "\"0x8DDF7A638220D12\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:59:03 GMT",
        "x-ms-content-crc64": "PiO3pTJ67n0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-19T17:59:03.4865938Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash175830473768601420/%E3%81%AB%E3%81%A3%E3%81%BD%E3%82%93%E3%81%94/%E3%81%AB%E3%81%BB%E3%82%93%E3%81%94175830474411206154",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "f8VicOenD6gaWTW3Lqy+KQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDF7A638220D12\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:59:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Sep 2025 17:59:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 19 Sep 2025 17:59:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-19T17:59:03.4865938Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash175830473768601420?comp=list&prefix=%E3%81%AB%E3%81%A3%E3%81%BD%E3%82%93%E3%81%94%2F%E3%81%AB%E3%81%BB%E3%82%93%E3%81%94175830474411206154&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.blob.core.windows.net/\" ContainerName=\"1container-with-dash175830473768601420\"><Prefix>にっぽんご/にほんご175830474411206154</Prefix><Blobs><Blob><Name>にっぽんご/にほんご175830474411206154</Name><VersionId>2025-09-19T17:59:03.4865938Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 19 Sep 2025 17:59:03 GMT</Creation-Time><Last-Modified>Fri, 19 Sep 2025 17:59:03 GMT</Last-Modified><Etag>0x8DDF7A638220D12</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>f8VicOenD6gaWTW3Lqy+KQ==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Fri, 19 Sep 2025 17:59:03 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash175830473768601420?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "1container-with-dash": "1container-with-dash175830473768601420",
    "にっぽんご/にほんご": "にっぽんご/にほんご175830474411206154"
  }
}
