{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash175830465471900115?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF7A60818085F\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:57:42 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash175830465471900115/////Upper/blob/empty%20/another%20%E6%B1%89%E5%AD%97175830466389101337",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "QQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "f8VicOenD6gaWTW3Lqy+KQ==",
        "ETag": "\"0x8DDF7A6082C18A6\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:57:43 GMT",
        "x-ms-content-crc64": "PiO3pTJ67n0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-19T17:57:43.0217894Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash175830465471900115/////Upper/blob/empty%20/another%20%E6%B1%89%E5%AD%97175830466389101337",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "f8VicOenD6gaWTW3Lqy+KQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDF7A6082C18A6\"",
        "Last-Modified": "Fri, 19 Sep 2025 17:57:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Sep 2025 17:57:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 19 Sep 2025 17:57:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-19T17:57:43.0217894Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash175830465471900115?comp=list&prefix=%2F%2F%2F%2FUpper%2Fblob%2Fempty%20%2Fanother%20%E6%B1%89%E5%AD%97175830466389101337&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.blob.core.windows.net/\" ContainerName=\"1container-with-dash175830465471900115\"><Prefix>////Upper/blob/empty /another 汉字175830466389101337</Prefix><Blobs><Blob><Name>////Upper/blob/empty /another 汉字175830466389101337</Name><VersionId>2025-09-19T17:57:43.0217894Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 19 Sep 2025 17:57:43 GMT</Creation-Time><Last-Modified>Fri, 19 Sep 2025 17:57:43 GMT</Last-Modified><Etag>0x8DDF7A6082C18A6</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>f8VicOenD6gaWTW3Lqy+KQ==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Fri, 19 Sep 2025 17:57:43 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash175830465471900115?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "////Upper/blob/empty /another 汉字": "////Upper/blob/empty /another 汉字175830466389101337",
    "1container-with-dash": "1container-with-dash175830465471900115"
  }
}
