{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash176911729399304927?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE59FD366DDD0A\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:28:40 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash176911729399304927/%E6%B1%89%E5%AD%97.%20special%20~!%40%23%24%25%5E%26*()_%2B%601234567890-%3D%7B%7D%7C%5B%5D%5C%3A%22%3B%27%3C%3E%3F%2C/%27176911732011308226",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "QQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "f8VicOenD6gaWTW3Lqy+KQ==",
        "ETag": "\"0x8DE59FD367DD6FD\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:28:40 GMT",
        "x-ms-content-crc64": "PiO3pTJ67n0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-22T21:28:40.9003773Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash176911729399304927/%E6%B1%89%E5%AD%97.%20special%20~!%40%23%24%25%5E%26*()_%2B%601234567890-%3D%7B%7D%7C%5B%5D%5C%3A%22%3B%27%3C%3E%3F%2C/%27176911732011308226",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "f8VicOenD6gaWTW3Lqy+KQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE59FD367DD6FD\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:28:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 22 Jan 2026 21:28:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 22 Jan 2026 21:28:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-22T21:28:40.9003773Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash176911729399304927?comp=list&prefix=%E6%B1%89%E5%AD%97.%20special%20~!%40%23%24%25%5E%26*()_%2B%601234567890-%3D%7B%7D%7C%5B%5D%2F%3A%22%3B%27%3C%3E%3F%2C%2F%27176911732011308226&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.blob.core.windows.net/\" ContainerName=\"1container-with-dash176911729399304927\"><Prefix>汉字. special ~!@#$%^&amp;*()_+`1234567890-={}|[]/:\";'&lt;&gt;?,/'176911732011308226</Prefix><Blobs><Blob><Name>汉字. special ~!@#$%^&amp;*()_+`1234567890-={}|[]/:\";'&lt;&gt;?,/'176911732011308226</Name><VersionId>2026-01-22T21:28:40.9003773Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 22 Jan 2026 21:28:40 GMT</Creation-Time><Last-Modified>Thu, 22 Jan 2026 21:28:40 GMT</Last-Modified><Etag>0x8DE59FD367DD6FD</Etag><Content-Length>1</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>f8VicOenD6gaWTW3Lqy+KQ==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Thu, 22 Jan 2026 21:28:40 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/1container-with-dash176911729399304927?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "1container-with-dash": "1container-with-dash176911729399304927",
    "汉字. special ~!@#$%^&*()_+`1234567890-={}|[]\\:\";'<>?,/'": "汉字. special ~!@#$%^&*()_+`1234567890-={}|[]\\:\";'<>?,/'176911732011308226"
  }
}
