{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/5040c0e6-3e00-46e8-aee6-ab270d9365cf?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "7498",
        "x-ms-ratelimit-remaining-subscription-reads": "498"
      },
      "ResponseBody": {
        "id": "/subscriptions/5040c0e6-3e00-46e8-aee6-ab270d9365cf",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "5040c0e6-3e00-46e8-aee6-ab270d9365cf",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Microsoft Azure Plan",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "499"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/25190330-c2fa-4110-b63d-5cda77380ac6",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "countryCode": "US",
            "displayName": "TEST_TEST_brpga_smb",
            "domains": [
              "testtestbrpgasmb.onmicrosoft.com"
            ],
            "tenantCategory": "Home",
            "defaultDomain": "testtestbrpgasmb.onmicrosoft.com",
            "tenantType": "AAD"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Billing/billingAccounts?includeAll=true&api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-11-01-preview, 2019-10-01-preview, 2020-05-01, 2020-11-01-privatepreview, 2022-10-01-privatepreview, 2024-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "499",
        "x-ms-service-version": "10.6.2791.712"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148:efd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31",
            "name": "e261ef40-3517-515d-3680-8be4252ae148:efd45d14-e459-4bd7-a883-f3b176d0c335_2019-05-31",
            "properties": {
              "accountStatus": "Active",
              "accountType": "Individual",
              "accountSubType": "Professional",
              "agreementType": "MicrosoftCustomerAgreement",
              "displayName": "BAMI Test Account",
              "hasReadAccess": true,
              "primaryBillingTenantId": "25190330-c2fa-4110-b63d-5cda77380ac6",
              "billingRelationshipTypes": [
                "Direct"
              ],
              "qualifications": [
                "Commercial"
              ]
            },
            "type": "Microsoft.Billing/billingAccounts"
          },
          {
            "id": "/providers/Microsoft.Billing/billingAccounts/e261ef40-3517-515d-3680-8be4252ae148:0790f1fc-f274-4457-afc3-f3b0c90850ba_2019-05-31",
            "name": "e261ef40-3517-515d-3680-8be4252ae148:0790f1fc-f274-4457-afc3-f3b0c90850ba_2019-05-31",
            "properties": {
              "accountStatus": "Active",
              "accountType": "Individual",
              "accountSubType": "Professional",
              "agreementType": "MicrosoftCustomerAgreement",
              "displayName": "SMB Account",
              "hasReadAccess": true,
              "primaryBillingTenantId": "25190330-c2fa-4110-b63d-5cda77380ac6",
              "registrationNumber": {
                "id": "12345678",
                "required": false,
                "type": [
                  "RegistrationNumber"
                ]
              },
              "billingRelationshipTypes": [
                "Direct"
              ],
              "qualifications": [
                "Commercial"
              ]
            },
            "type": "Microsoft.Billing/billingAccounts"
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "659424399",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "5040c0e6-3e00-46e8-aee6-ab270d9365cf"
  }
}
