{
  "Entries": [
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/7f8ff610-b2de-4514-ac87-a10a1497f9a1?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "0",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "/subscriptions/7f8ff610-b2de-4514-ac87-a10a1497f9a1",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions",
          "ExemptSubFromPublicNetworkAccessPolicy": "true",
          "ExemptSubFromDeletionProtectionPolicy": "true",
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlServer.V2::OptIn": "all_regions"
        },
        "subscriptionId": "7f8ff610-b2de-4514-ac87-a10a1497f9a1",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "mfs-customerdata-canary-stable-day100-sub",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/7f8ff610-b2de-4514-ac87-a10a1497f9a1/resourcegroups/fileshare-rg3620?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "0",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "/subscriptions/7f8ff610-b2de-4514-ac87-a10a1497f9a1/resourceGroups/fileshare-rg3620",
        "name": "fileshare-rg3620",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/7f8ff610-b2de-4514-ac87-a10a1497f9a1/resourceGroups/fileshare-rg3620/providers/Microsoft.FileShares/fileShares/fileshare1722?api-version=2026-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "environment": "test",
          "createdBy": "Sanitized"
        },
        "location": "eastus2euap",
        "properties": {
          "mediaTier": "SSD",
          "redundancy": "Local",
          "protocol": "NFS",
          "provisionedStorageGiB": 1024,
          "provisionedIOPerSec": 4024,
          "provisionedThroughputMiBPerSec": 228,
          "nfsProtocolProperties": {
            "rootSquash": "NoRootSquash"
          },
          "publicNetworkAccess": "Enabled"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://eastus2euap.management.azure.com/subscriptions/7f8ff610-b2de-4514-ac87-a10a1497f9a1/providers/Microsoft.FileShares/locations/eastus2euap/partitions/7f8ff610-b2de-4514-ac87-a10a1497f9a1-fileshare1722/operations/585cea71-e237-4ad2-87bd-0a37658d355d?api-version=2026-06-01&t=639132244010752150&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE-MDwGA1UEAxM1Y[...]
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/7f8ff610-b2de-4514-ac87-a10a1497f9a1/providers/Microsoft.FileShares/locations/eastus2euap/partitions/7f8ff610-b2de-4514-ac87-a10a1497f9a1-fileshare1722/operations/585cea71-e237-4ad2-87bd-0a37658d355d?api-version=2026-06-01&t=639132244010752150&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAy[...]
[...]
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/7f8ff610-b2de-4514-ac87-a10a1497f9a1/resourceGroups/fileshare-rg3620/providers/Microsoft.FileShares/fileShares/fileshare1722?api-version=2026-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "0",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "properties": {
          "mountName": "fileshare1722",
          "hostName": "fs-vlqnc2f1xgm5tx0xs.z32.file.storage.azure.net",
          "mediaTier": "SSD",
          "redundancy": "Local",
          "protocol": "NFS",
          "provisionedStorageGiB": 1024,
          "provisionedStorageNextAllowedDowngrade": "2026-05-01T09:26:43+00:00",
          "provisionedIOPerSec": 4024,
          "provisionedIOPerSecNextAllowedDowngrade": "2026-05-01T09:26:43+00:00",
          "provisionedThroughputMiBPerSec": 228,
          "provisionedThroughputNextAllowedDowngrade": "2026-05-01T09:26:43+00:00",
          "includedBurstIOPerSec": 12072,
          "maxBurstIOPerSecCredits": 28972800,
          "nfsProtocolProperties": {
            "rootSquash": "NoRootSquash"
          },
          "publicAccessProperties": {
            "allowedSubnets": []
          },
          "provisioningState": "Succeeded",
          "publicNetworkAccess": "Enabled",
          "privateEndpointConnections": []
        },
        "tags": {
          "environment": "test",
          "createdBy": "Sanitized"
        },
        "location": "eastus2euap",
        "id": "/subscriptions/7f8ff610-b2de-4514-ac87-a10a1497f9a1/resourceGroups/fileshare-rg3620/providers/Microsoft.FileShares/fileShares/fileshare1722",
        "name": "fileshare1722",
        "type": "Microsoft.FileShares/fileShares",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-05-01T09:26:40.8408597+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-05-01T09:26:40.8408597+00:00"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/7f8ff610-b2de-4514-ac87-a10a1497f9a1/providers/Microsoft.FileShares/fileShares?api-version=2026-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "378105b8cd651b585663d7a0df0a125a",
          "1ed7b85efb3ca82d527836899efd7c8d",
          "17cb2d2f11ceadd9c7e7c77d5df62662",
          "8639fb646dcbeb16a9680c51e4e1742d",
          "79ca5ea9f6ddb7d027f5783fc9be5f05",
          "43a0507834c4cdcdf82e1b01d8256feb",
          "2c7b12d528c6984a3424dcad717edf4b",
          "afb84f60ec16f7a4a509c2e4a99cea76",
          "9673fb507a63cc2cca88ce5b2ad5ef2f",
          "67326274dbf7256f2af735e442bcaf24"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "0",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "mountName": "bugbash-ankushb-test21-8462",
              "hostName": "fs-vltxcpzskw0djlfxf.z29.file.storage.azure.net",
              "mediaTier": "SSD",
              "redundancy": "Local",
              "protocol": "NFS",
              "provisionedStorageGiB": 150,
              "provisionedStorageNextAllowedDowngrade": "2026-02-13T18:42:45+00:00",
              "provisionedIOPerSec": 3150,
              "provisionedIOPerSecNextAllowedDowngrade": "2026-02-13T18:42:45+00:00",
              "provisionedThroughputMiBPerSec": 140,
              "provisionedThroughputNextAllowedDowngrade": "2026-02-13T18:42:45+00:00",
              "includedBurstIOPerSec": 10000,
              "maxBurstIOPerSecCredits": 24660000,
              "nfsProtocolProperties": {
                "rootSquash": "NoRootSquash"
              },
              "publicAccessProperties": {
                "allowedSubnets": []
              },
              "provisioningState": "Succeeded",
              "publicNetworkAccess": "Enabled"
            },
            "tags": {
              "testRunId": "20260212-104152-australiacentral-S2",
              "purpose": "guardrails-test"
            },
            "location": "australiacentral",
            "id": "/subscriptions/7f8ff610-b2de-4514-ac87-a10a1497f9a1/resourceGroups/bugbash-test-australiacentral-7730/providers/Microsoft.FileShares/fileShares/bugbash-ankushb-test21-8462",
            "name": "bugbash-ankushb-test21-8462",
            "type": "Microsoft.FileShares/fileShares",
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "c[...]
