{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355531874200700?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE825A4075E412\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:15:27 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355531874200700/blob177355532737404997",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "cmFuZG9tc3RyaW5nMTc3MzU1NTMyNzM4NzA3MzYy",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "M1XIDs3Yy8zXfFYu92s5sg==",
        "ETag": "\"0x8DE825A40859BEE\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:15:27 GMT",
        "x-ms-content-crc64": "TJIBMAyoN2M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T06:15:27.4354670Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355531874200700/blob177355532737404997",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "M1XIDs3Yy8zXfFYu92s5sg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE825A40859BEE\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:15:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sun, 15 Mar 2026 06:15:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sun, 15 Mar 2026 06:15:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T06:15:27.4354670Z"
      },
      "ResponseBody": "cmFuZG9tc3RyaW5nMTc3MzU1NTMyNzM4NzA3MzYy"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355531874200700?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob177355532737404997",
    "container": "container177355531874200700",
    "randomstring": "randomstring177355532738707362"
  }
}
