{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744639100307485?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:53:11 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE2553BBE2E4\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:53:11 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744639100307485/blob169744639114809358",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 16 Oct 2023 08:53:11 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "cmFuZG9tc3RyaW5nMTY5NzQ0NjM5MTE0OTAxMDQ3",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "vv8KaYkL0LWULljmU0eL/w==",
        "ETag": "\u00220x8DBCE2553CF1E5A\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:53:11 GMT",
        "x-ms-content-crc64": "e7y1aiKF9pc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-10-16T08:53:11.8251610Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744639100307485/blob169744639114809358",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:53:11 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "vv8KaYkL0LWULljmU0eL/w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE2553CF1E5A\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:53:11 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 08:53:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-10-16T08:53:11.8251610Z"
      },
      "ResponseBody": "cmFuZG9tc3RyaW5nMTY5NzQ0NjM5MTE0OTAxMDQ3"
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744639100307485?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:53:11 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob169744639114809358",
    "container": "container169744639100307485",
    "randomstring": "randomstring169744639114901047"
  }
}
