{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177343974075102165?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE814D223D068B\"",
        "Last-Modified": "Fri, 13 Mar 2026 22:09:02 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177343974075102165/blob177343974205106325",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "cmFuZG9tc3RyaW5nMTc3MzQzOTc0MjA1MzA5NTg1",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "DBfPU9GYCE7Mcb2IIg4J8w==",
        "ETag": "\"0x8DE814D22494B61\"",
        "Last-Modified": "Fri, 13 Mar 2026 22:09:02 GMT",
        "x-ms-content-crc64": "Ljb+iUoNzik=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-13T22:09:02.0882785Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177343974075102165/blob177343974205106325",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 01 Jan 2000 00:00:00 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DBfPU9GYCE7Mcb2IIg4J8w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE814D22494B61\"",
        "Last-Modified": "Fri, 13 Mar 2026 22:09:02 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 13 Mar 2026 22:09:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 13 Mar 2026 22:09:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-13T22:09:02.0882785Z"
      },
      "ResponseBody": "cmFuZG9tc3RyaW5nMTc3MzQzOTc0MjA1MzA5NTg1"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177343974075102165?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob177343974205106325",
    "container": "container177343974075102165",
    "randomstring": "randomstring177343974205309585"
  }
}
