{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744639382104750?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:53:13 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBCE255569EEFB\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:53:14 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744639382104750/blob169744639396500359",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 16 Oct 2023 08:53:13 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": "cmFuZG9tc3RyaW5nMTY5NzQ0NjM5Mzk2NjA0MDM5",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "psfl1ve8wiZGHDvDnWlVXg==",
        "ETag": "\u00220x8DBCE25557D044F\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:53:14 GMT",
        "x-ms-content-crc64": "CIAXl6SP3OA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-10-16T08:53:14.6425423Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744639382104750/blob169744639396500359",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:53:14 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "psfl1ve8wiZGHDvDnWlVXg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCE25557D044F\u0022",
        "Last-Modified": "Mon, 16 Oct 2023 08:53:14 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 16 Oct 2023 08:53:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-10-16T08:53:14.6425423Z"
      },
      "ResponseBody": "cmFuZG9tc3RyaW5nMTY5NzQ0NjM5Mzk2NjA0MDM5"
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container169744639382104750?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 16 Oct 2023 08:53:14 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob169744639396500359",
    "container": "container169744639382104750",
    "randomstring": "randomstring169744639396604039"
  }
}
