{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "standard",
        "x-request-time": "0.036"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtestw5k4kf5dqpkyk",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/ailkdszptezyn4m",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled",
            "enableNetworkMonitor": false,
            "enableFirewallLog": false
          },
          "allowRoleAssignmentOnRG": true,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crlkdszptezyn4m",
          "creationTime": "2026-03-23T19:17:39.4178816Z",
          "notebookInfo": {
            "resourceId": "2326d23d712948358ef6ef27b7074215",
            "fqdn": "ml-sdkvnextcli-eastus2-8e7dad76-df37-472b-b882-0c1c58adfcf9.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "8e7dad76-df37-472b-b882-0c1c58adfcf9",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "networkAcls": {
            "defaultAction": "Allow",
            "bypass": "",
            "ipRules": [],
            "resourceAccessRules": []
          },
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "e1f7b545-6243-4abf-ba76-c5691d2edb62",
          "enableDataIsolation": false,
          "systemDatastoresAuthMode": "accesskey",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2026-03-23T19:17:39.4178816Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-03-23T19:17:39.4178816Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/batchEndpoints/batch-ept-1ef70159c25b463?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "tags": {},
        "properties": {
          "description": "my sample batch endpoint",
          "authMode": "aadToken",
          "properties": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/bebes:8e7dad76-df37-472b-b882-0c1c58adfcf9:67522bfd-4def-4008-b8c4-8841093e1ea7?api-version=2023-10-01&t=639102508659597082&c=MIIHlDCCBnygAwIBAgIQW7S9mIRniur0NlR57d718DANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDMwNjE3MDQyM1oXDTI2MDkwMTIzMDQyM1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/bebes:8e7dad76-df37-472b-b882-0c1c58adfcf9:67522bfd-4def-4008-b8c4-8841093e1ea7?api-version=2023-10-01&t=639102508659597082&c=MIIHlDCCBnygAwIBAgIQW7S9mIRniur0NlR57d718DANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDMwNjE3MDQyM1oXDTI2MDkwMTIzMDQyM1owQDE-MDwGA[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/batchEndpoints/batch-ept-1ef70159c25b463?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "standard",
        "x-request-time": "0.072"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/batchEndpoints/batch-ept-1ef70159c25b463",
        "name": "batch-ept-1ef70159c25b463",
        "type": "Microsoft.MachineLearningServices/workspaces/batchEndpoints",
        "properties": {
          "description": "my sample batch endpoint",
          "properties": {
            "BatchEndpointCreationApiVersion": "2023-10-01",
            "azureml.onlineendpointid": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/batchEndpoints/batch-ept-1ef70159c25b463"
          },
          "scoringUri": "https://batch-ept-1ef70159c25b463.eastus2.inference.ml.azure.com/jobs",
          "swaggerUri": null,
          "authMode": "AADToken",
          "defaults": {
            "deploymentName": null
          },
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdAt": "2026-03-27T23:27:45.7955309+00:00",
          "createdBy": "Sanitized",
          "lastModifiedAt": "2026-03-27T23:27:45.7955402+00:00"
        },
        "tags": {},
        "location": "eastus2"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/batchEndpoints/batch-ept-1ef70159c25b463?api-version=2024-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/js[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/cf8d11fe-b390-40fd-a89f-58fafe3a1298/versions?api-version=2023-04-01&hash=ddf4149f78db19fb1308570b1af99292f73b17baf7035fb931551282e5df40cc&hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "standard",
        "x-request-time": "0.183"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/ef253c95-34a5-4057-acf1-e3dda0ed5bab/versions/1",
            "name": "1",
            "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {
                "hash_sha256": "ddf4149f78db19fb1308570b1af99292f73b17baf7035fb931551282e5df40cc",
                "hash_version": "202208"
              },
              "isArchived": false,
              "isAnonymous": false,
              "codeUri": "https://salkdszptezyn4m.blob.core.windows.net:443/8e7dad76-df37-472b-b882-0c1c58adfcf9-w1lhvu7sts1s37qllt3lyer6hb/endpoint_scoring",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2026-03-27T01:25:25.3808951+00:00",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2026-03-27T01:25:25.3808951+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/ef253c95-34a5-4057-acf1-e3dda0ed5bab/versions/1?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "applicati[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/model-1/versions?api-version=2023-08-01-preview&$orderBy=createdtime%20desc&$top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "standard",
        "x-request-time": "0.055"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/model-1/versions/5",
            "name": "5",
            "type": "Microsoft.MachineLearningServices/workspaces/models/versions",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {},
              "isArchived": false,
              "isAnonymous": false,
              "autoDeleteSetting": null,
              "flavors": {},
              "modelType": "custom_model",
              "modelUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/sklearn_regression_model.pkl",
              "jobName": null,
              "provisioningState": "Succeeded",
              "stage": "Development",
              "intellectualProperty": null
            },
            "systemData": {
              "createdAt": "2026-03-27T01:25:29.3429105+00:00",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2026-03-27T23:23:59.0574683+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "standard",
        "x-request-time": "0.110"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "subscriptionId": "00000000-0000-0000-0000-000000000",
          "resourceGroup": "00000",
          "datastoreType": "AzureBlob",
          "accountName": "Sanitized",
          "containerName": "azureml-blobstore-8e7dad76-df37-472b-b882-0c1c58adfcf9",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2026-03-23T19:17:50.1517152+00:00",
          "lastModifiedAt": "2026-03-23T19:17:51.3963892+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.320"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-8e7dad76-df37-472b-b882-0c1c58adfcf9/LocalUpload/00000000000000000000000000000000/sklearn_regression_model.pkl?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 27 Mar 2026 23:28:22 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "eoOH5nGsHsfxYf9hzdf+0Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE8B9FBAFC2AA6\"",
        "Last-Modified": "Fri, 27 Mar 2026 01:25:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 27 Mar 2026 01:25:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "model-1",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "5",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-8e7dad76-df37-472b-b882-0c1c58adfcf9/az-ml-artifacts/da9e77b7cea72793fd7fa38bbef16365c0e56029456ca738167e60f3181ef6d4/sklearn_regression_model.pkl?sv=Sanitized&sig=000000000000000000000000000000000000&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 27 Mar 2026 23:28:22 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/model-1/versions/5?api-version=2023-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": false,
          "isArchiv[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/batchEndpoints/batch-ept-1ef70159c25b463/deployments/batch-dpm-ab5819102c08497?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {
          "codeConfiguration": {
            "codeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/ef253c95-34a5-4057-acf1-e3dda0ed5bab/versions/1",
            "scoringScript": "do_nothing.py"
          },
          "environmentId": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
          "environmentVariables": {},
          "properties": {},
          "compute": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "model": {
            "referenceType": "Id",
            "assetId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/model-1/versions/5"
          },
          "resources": {
            "instanceCount": 1,
            "properties": {}
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "799",
        "x-ms-response-type": "error",
        "x-request-time": "0.145"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "The Deployment request provided has the following validation errors. Please resolve them and try again.\nErrors:\n[\n  {\n    \"PropertyName\": \"ModelConfiguration.EnvironmentId\",\n    \"ErrorMessage\": \"The value specified for 'Environment Id' is not a valid ARM resource identifier.\",\n    \"AttemptedValue\": \"azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33\",\n    \"ErrorCode\": \"ArgumentInvalid\"\n  }\n]\n",
          "details": [],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "18e90b7f972349b4f6a5621571e1d72a",
                  "request": "a1df403e84d37851"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2026-03-27T23:28:23.7088127+00:00"
              }
            },
            {
              "type": "InnerError",
              "info": {
                "value": {
                  "code": "BadArgument",
                  "innerError": {
                    "code": "ArgumentInvalid",
                    "innerError": {
                      "code": "InvalidInputArguments",
                      "innerError": null
                    }
                  }
                }
              }
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/bebes:8e7dad76-df37-472b-b882-0c1c58adfcf9:3d590425-3e04-445c-bb30-05d7ff7f46b4?api-version=2023-10-01&t=639102509040798418&c=MIIHlDCCBnygAwIBAgIQW7S9mIRniur0NlR57d718DANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDMwNjE3MDQyM1oXDTI2MDkwMTIzMDQyM1owQDE-MDwGA[...]
[...]
