{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_4269015340/trigger?api-version=2024-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "scheduleTime": "2024-02-19T00:00:00"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-response-type": "error",
        "x-request-time": "0.101"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "Cannot find the alive trigger for the run test_4269015340, entity status: ",
          "details": [],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "f8ab35d35f3e22a15573ba048c3c1ce8",
                  "request": "ff599572f26b811b"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2026-03-30T00:43:09.9933521+00:00"
              }
            },
            {
              "type": "InnerError",
              "info": {
                "value": {
                  "code": "NotFound",
                  "innerError": {
                    "code": "AliveTriggerNotFound",
                    "innerError": null
                  }
                }
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "nonexistent-sched": "test_4269015340"
  }
}
