{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "standard",
        "x-request-time": "0.032"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtestw5k4kf5dqpkyk",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/ailkdszptezyn4m",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled",
            "enableNetworkMonitor": false,
            "enableFirewallLog": false
          },
          "allowRoleAssignmentOnRG": true,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crlkdszptezyn4m",
          "creationTime": "2026-03-23T19:17:39.4178816Z",
          "notebookInfo": {
            "resourceId": "2326d23d712948358ef6ef27b7074215",
            "fqdn": "ml-sdkvnextcli-eastus2-8e7dad76-df37-472b-b882-0c1c58adfcf9.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "8e7dad76-df37-472b-b882-0c1c58adfcf9",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "networkAcls": {
            "defaultAction": "Allow",
            "bypass": "",
            "ipRules": [],
            "resourceAccessRules": []
          },
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "e1f7b545-6243-4abf-ba76-c5691d2edb62",
          "enableDataIsolation": false,
          "systemDatastoresAuthMode": "accesskey",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2026-03-23T19:17:39.4178816Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-03-23T19:17:39.4178816Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/9924f580-c2a7-a59c-a9a2-d198669a1af8?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "echo hello ${{inputs.hello_string}}",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu@latest",
            "name": "azureml_anonymous",
            "version": "1",
            "is_deterministic": true,
            "inputs": {
              "hello_string": {
                "type": "string"
              }
            },
            "type": "command",
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/9924f580-c2a7-a59c-a9a2-d198669a1af8?api-version=2024-01-01-preview",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-response-type": "standard",
        "x-request-time": "1.437"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/55d927f2-f749-40ca-915f-256eeed9c6be",
        "name": "55d927f2-f749-40ca-915f-256eeed9c6be",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": true,
          "autoDeleteSetting": null,
          "componentSpec": {
            "name": "azureml_anonymous",
            "version": "1",
            "is_deterministic": "True",
            "type": "command",
            "inputs": {
              "hello_string": {
                "type": "string",
                "optional": "False"
              }
            },
            "environment": "azureml://registries/azureml/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/versions/36",
            "resources": {
              "instance_count": "1"
            },
            "command": "echo hello ${{inputs.hello_string}}"
          },
          "provisioningState": "Succeeded",
          "stage": "Logged"
        },
        "systemData": {
          "createdAt": "2026-03-26T23:41:49.9133678+00:00",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-03-26T23:41:49.9819985+00:00",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/599082e4-ad44-bff2-eda8-596a35c724d0?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "echo \"world\" >> ${{outputs.world_output}}/world.txt",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu@latest",
            "name": "azureml_anonymous",
            "version": "1",
            "is_deterministic": true,
            "outputs": {
              "world_output": {
                "type": "uri_folder"
              }
            },
            "type": "command",
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/w[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/9d17b570-82f9-7f49-7669-c3383053e232?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "echo ${{inputs.world_input}}/world.txt",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu@latest",
            "name": "azureml_anonymous",
            "version": "1",
            "is_deterministic": true,
            "inputs": {
              "world_input": {
                "type": "uri_folder"
              }
            },
            "type": "command",
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/w[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_614105162029?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "a weekly retrain schedule",
          "properties": {},
          "tags": {},
          "action": {
            "actionType": "CreateJob",
            "jobDefinition": {
              "properties": {},
              "tags": {},
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "displayName": "hello_pipeline_abc",
              "isArchived": false,
              "jobType": "Pipeline",
              "inputs": {
                "hello_string_top_level_input": {
                  "jobInputType": "literal",
                  "value": "${{name}}"
                }
              },
              "jobs": {
                "a": {
                  "name": "a",
                  "type": "command",
                  "inputs": {
                    "hello_string": {
                      "job_input_type": "literal",
                      "value": "${{parent.inputs.hello_string_top_level_input}}"
                    }
                  },
                  "_source": "YAML.JOB",
                  "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/55d927f2-f749-40ca-915f-256eeed9c6be"
                },
                "b": {
                  "name": "b",
                  "type": "command",
                  "_source": "YAML.JOB",
                  "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/97d82923-06e6-4445-943f-f668d9e9acdc"
                },
                "c": {
                  "name": "c",
                  "type": "command",
                  "inputs": {
                    "world_input": {
                      "job_input_type": "literal",
                      "value": "${{parent.jobs.b.outputs.world_output}}"
                    }
                  },
                  "_source": "YAML.JOB",
                  "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/d73c8bb2-f11f-4e0b-b077-ec0613a0cbc5"
                }
              },
              "outputs": {},
              "settings": {
                "_source": "YAML.JOB"
              }
            }
          },
          "displayName": "weekly retrain schedule",
          "trigger": {
            "endTime": "2099-01-01T00:00:00",
            "startTime": "2026-01-01T00:00:00",
            "timeZone": "Pacific Standard Time",
            "triggerType": "Cron",
            "expression": "15 10 * * 1"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/s:8e7dad76-df37-472b-b882-0c1c58adfcf9:HHeBKupGZosZQ_IWi2cOqzePS7ZgF1m6MT9otkzIg80?api-version=2023-06-01-preview&t=639102173914495661&c=MIIHlDCCBnygAwIBAgIQW7S9mIRniur0NlR57d718DANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDMwNjE3MDQyM1oXDTI2MDkwMTIzMDQyM1owQDE-MDwGA1UEAxM1YXN5bm[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/s:8e7dad76-df37-472b-b882-0c1c58adfcf9:HHeBKupGZosZQ_IWi2cOqzePS7ZgF1m6MT9otkzIg80?api-version=2023-06-01-preview&t=639102173914495661&c=MIIHlDCCBnygAwIBAgIQW7S9mIRniur0NlR57d718DANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDMwNjE3MDQyM1oXDTI2MDkwMTIzMDQyM1[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_614105162029?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "standard",
        "x-request-time": "0.229"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_614105162029",
        "name": "test_614105162029",
        "properties": {
          "description": "a weekly retrain schedule",
          "tags": {},
          "properties": {},
          "displayName": "weekly retrain schedule",
          "isEnabled": true,
          "trigger": {
            "endTime": "2099-01-01T00:00:00",
            "startTime": "2026-01-01T00:00:00",
            "timeZone": "Pacific Standard Time",
            "triggerType": "Cron",
            "expression": "15 10 * * 1"
          },
          "action": {
            "actionType": "CreateJob",
            "jobDefinition": {
              "description": null,
              "tags": {},
              "properties": {},
              "displayName": "hello_pipeline_abc",
              "status": "NotStarted",
              "experimentName": "Default",
              "services": null,
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "isArchived": false,
              "identity": null,
              "componentId": null,
              "notificationSetting": null,
              "secretsConfiguration": null,
              "jobType": "Pipeline",
              "settings": {
                "_source": "YAML.JOB"
              },
              "jobs": {
                "a": {
                  "name": "a",
                  "type": "command",
                  "inputs": {
                    "hello_string": {
                      "job_input_type": "literal",
                      "value": "${{parent.inputs.hello_string_top_level_input}}"
                    }
                  },
               [...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/s:8e7dad76-df37-472b-b882-0c1c58adfcf9:TvLF21FK1QCg_3xFyHJHHgm1jmLpaSPmjlhOGKIZA88?api-version=2023-06-01-preview&t=639102174090176706&c=MIIHlDCCBnygAwIBAgIQW7S9mIRniur0NlR57d718DANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDMwNjE3MDQyM1oXDTI2MDkwMTIzMDQyM1[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/s:8e7dad76-df37-472b-b882-0c1c58adfcf9:2f1UUfEPaBIpVknl_GXrWuam0Rc9CQ78S45D728-AuI?api-version=2023-06-01-preview&t=639102174152988792&c=MIIHlDCCBnygAwIBAgIQW7S9mIRniur0NlR57d718DANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDMwNjE3MDQyM1oXDTI2MDkwMTIzMDQyM1[...]
[...]
