{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/outboundRules?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3747",
        "x-ms-ratelimit-remaining-subscription-reads": "247",
        "x-ms-response-type": "standard",
        "x-request-time": "0.024"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
