{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2024-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "standard",
        "x-request-time": "0.025"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtest7tdxwwnmpm65k",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/aiskniksgdwakla",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled",
            "enableNetworkMonitor": false,
            "enableFirewallLog": false
          },
          "allowRoleAssignmentOnRG": true,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crskniksgdwakla",
          "creationTime": "2026-03-29T15:44:05.2011498Z",
          "notebookInfo": {
            "resourceId": "eb7d9db9c5a24e8886042bfd15b8a3a2",
            "fqdn": "ml-sdkvnextcli-eastus2-5741772a-0080-4e04-a6c1-33bcd9776a38.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "5741772a-0080-4e04-a6c1-33bcd9776a38",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "networkAcls": {
            "defaultAction": "Allow",
            "bypass": "",
            "ipRules": [],
            "resourceAccessRules": []
          },
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "e1f7b545-6243-4abf-ba76-c5691d2edb62",
          "enableDataIsolation": false,
          "systemDatastoresAuthMode": "accesskey",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2026-03-29T15:44:05.2011498Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-03-29T17:34:41.8159341Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-response-type": "standard",
        "x-request-time": "0.012"
      },
      "ResponseBody": {
        "api": "https://eastus2.api.azureml.ms",
        "catalog": "Sanitized",
        "experimentation": "https://eastus2.experiments.azureml.net",
        "history": "https://eastus2.experiments.azureml.net",
        "hyperdrive": "https://eastus2.experiments.azureml.net",
        "labeling": "https://eastus2.experiments.azureml.net",
        "modelmanagement": "https://eastus2.modelmanagement.azureml.net",
        "pipelines": "https://eastus2.aether.ms",
        "studio": "https://ml.azure.com"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata?api-version=v1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "runId": "None",
        "selectRunMetadata": true,
        "selectRunDefinition": true,
        "selectJobSpecification": true
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "49b0731f-e1b6-4af4-8589-5443e6a91913",
        "x-ms-response-type": "error",
        "x-request-time": "0.069"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Run runId=None was not found",
          "messageFormat": "Run {runId} was not found",
          "messageParameters": {
            "runId": "runId=None"
          },
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "66ee9c6859897795ea84a569ab389789",
          "request": "9c94c3206edc7deb"
        },
        "environment": "eastus2",
        "location": "eastus2",
        "time": "2026-03-30T00:21:28.501545+00:00",
        "componentName": "run-history",
        "statusCode": 404
      }
    }
  ],
  "Variables": {}
}
