{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/metadata/endpoints?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\"portal\":\"https://portal.azure.com\",\"authentication\":{\"loginEndpoint\":\"https://login.microsoftonline.com/\",\"audiences\":[\"https://management.core.windows.net/\",\"https://management.azure.com/\"],\"tenant\":\"common\",\"identityProvider\":\"AAD\"},\"media\":\"https://rest.media.azure.net\",\"graphAudience\":\"https://graph.windows.net/\",\"graph\":\"https://graph.windows.net/\",\"name\":\"AzureCloud\",\"suffixes\":{\"azureDataLakeStoreFileSystem\":\"azuredatalakestore.net\",\"acrLoginServer\":\"azurecr.io\",\"sqlServerHostname\":\"database.windows.net\",\"azureDataLakeAnalyticsCatalogAndJob\":\"azuredatalakeanalytics.net\",\"keyVaultDns\":\"vault.azure.net\",\"storage\":\"core.windows.net\",\"azureFrontDoorEndpointSuffix\":\"azurefd.net\"},\"batch\":\"https://batch.core.windows.net/\",\"resourceManager\":\"https://management.azure.com/\",\"vmImageAliasDoc\":\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json\",\"activeDirectoryDataLake\":\"https://datalake.azure.net/\",\"sqlManagement\":\"https://management.core.windows.net:8443/\",\"gallery\":\"https://gallery.azure.com/\"},{\"portal\":\"https://portal.azure.cn\",\"authentication\":{\"loginEndpoint\":\"https://login.chinacloudapi.cn\",\"audiences\":[\"https://management.core.chinacloudapi.cn\",\"https://management.chinacloudapi.cn\"],\"tenant\":\"common\",\"identityProvider\":\"AAD\"},\"media\":\"https://rest.media.chinacloudapi.cn\",\"graphAudience\":\"https://graph.chinacloudapi.cn\",\"graph\":\"https://graph.chinacloudapi.cn\",\"name\":\"AzureChinaCloud\",\"suffixes\":{\"acrLoginS[...]
