{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.IoTOperations/operations?api-version=2026-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.IoTOperations/register/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.IoTOperations",
              "resource": "Microsoft.IoTOperations",
              "operation": "Register the Microsoft.IoTOperations",
              "description": "Register the subscription for Microsoft.IoTOperations"
            }
          },
          {
            "name": "Microsoft.IoTOperations/unregister/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.IoTOperations",
              "resource": "Microsoft.IoTOperations",
              "operation": "Unregister the Microsoft.IoTOperations",
              "description": "Unregister the subscription for Microsoft.IoTOperations"
            }
   [...]
