{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/pools/mypoolxxx/stopResize?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"0x8DE7C0BCDF399D4\"",
        "Last-Modified": "Sat, 07 Mar 2026 05:38:47 GMT",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/pools/mypoolxxx",
        "name": "mypoolxxx",
        "type": "Microsoft.Batch/batchAccounts/pools",
        "etag": "Sanitized",
        "properties": {
          "lastModified": "2026-03-07T05:38:47.4967508Z",
          "creationTime": "2026-03-07T05:38:25.4350093Z",
          "provisioningState": "Succeeded",
          "provisioningStateTransitionTime": "2026-03-07T05:38:25.4350093Z",
          "allocationState": "Steady",
          "allocationStateTransitionTime": "2026-03-07T05:38:47.5308172Z",
          "vmSize": "STANDARD_D4",
          "interNodeCommunication": "Disabled",
          "taskSlotsPerNode": 1,
          "taskSchedulingPolicy": {
            "nodeFillType": "Spread",
            "jobDefaultOrder": "None"
          },
          "deploymentConfiguration": {
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2016-Datacenter-SmallDisk",
                "version": "latest"
              },
              "nodeAgentSkuId": "batch.node.windows amd64"
            }
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0,
              "resizeTimeout": "PT15M"
            }
          },
          "resizeOperationStatus": {
            "targetDedicatedNodes": 0,
            "nodeDeallocationOption": "Requeue",
            "resizeTimeout": "PT15M",
            "startTime": "2026-03-07T05:38:41.827672Z",
            "errors": [
              {
                "code": "AccountVMSeriesCoreQuotaReached",
                "message": "The specified account has reached VM series core quota for standardDFamily"
              }
            ]
          },
          "currentDedicatedNodes": 0,
          "currentLowPriorityNodes": 0
        }
      }
    }
  ],
  "Variables": {}
}
