{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/21abd678-18c5-4660-9fdd-8c5ba6b6fe1f/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/pools/mypoolxxx?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "vmSize": "STANDARD_D4",
          "deploymentConfiguration": {
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2016-Datacenter-SmallDisk",
                "version": "latest"
              },
              "nodeAgentSkuId": "batch.node.windows amd64"
            }
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 3
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"0x8DE7C0BC0CD3F12\"",
        "Last-Modified": "Sat, 07 Mar 2026 05:38:25 GMT",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/21abd678-18c5-4660-9fdd-8c5ba6b6fe1f/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/pools/mypoolxxx",
        "name": "mypoolxxx",
        "type": "Microsoft.Batch/batchAccounts/pools",
        "etag": "Sanitized",
        "properties": {
          "lastModified": "2026-03-07T05:38:25.4350098Z",
          "creationTime": "2026-03-07T05:38:25.4350093Z",
          "provisioningState": "Succeeded",
          "provisioningStateTransitionTime": "2026-03-07T05:38:25.4350093Z",
          "allocationState": "Resizing",
          "allocationStateTransitionTime": "2026-03-07T05:38:25.4350098Z",
          "vmSize": "STANDARD_D4",
          "interNodeCommunication": "Disabled",
          "taskSlotsPerNode": 1,
          "taskSchedulingPolicy": {
            "nodeFillType": "Spread",
            "jobDefaultOrder": "None"
          },
          "deploymentConfiguration": {
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2016-Datacenter-SmallDisk",
                "version": "latest"
              },
              "nodeAgentSkuId": "batch.node.windows amd64"
            }
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 3,
              "targetLowPriorityNodes": 0,
              "resizeTimeout": "PT15M"
            }
          },
          "resizeOperationStatus": {
            "targetDedicatedNodes": 3,
            "nodeDeallocationOption": "Requeue",
            "resizeTimeout": "PT15M",
            "startTime": "2026-03-07T05:38:25.4350086Z"
          },
          "currentDedicatedNodes": 0,
          "currentLowPriorityNodes": 0
        }
      }
    }
  ],
  "Variables": {}
}
