{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/pools/mypoolxxx/stopResize?api-version=2023-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 504,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "service"
      },
      "ResponseBody": {
        "error": {
          "code": "GatewayTimeout",
          "message": "The gateway did not receive a response from \u0027Microsoft.Batch\u0027 within the specified time period."
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/pools/mypoolxxx/stopResize?api-version=2023-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220x8DB793C7164E74E\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 07:34:31 GMT",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/pools/mypoolxxx",
        "name": "mypoolxxx",
        "type": "Microsoft.Batch/batchAccounts/pools",
        "etag": "W/\u00220x8DB793C7164E74E\u0022",
        "properties": {
          "lastModified": "2023-06-30T07:34:31.049403Z",
          "creationTime": "2023-06-30T07:34:25.4023417Z",
          "provisioningState": "Succeeded",
          "provisioningStateTransitionTime": "2023-06-30T07:34:25.4023417Z",
          "allocationState": "Steady",
          "allocationStateTransitionTime": "2023-06-30T07:35:03.3627954Z",
          "vmSize": "STANDARD_D4",
          "interNodeCommunication": "Disabled",
          "taskSlotsPerNode": 1,
          "taskSchedulingPolicy": {
            "nodeFillType": "Spread"
          },
          "deploymentConfiguration": {
            "cloudServiceConfiguration": {
              "osFamily": "5",
              "osVersion": "*"
            }
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0,
              "resizeTimeout": "PT15M"
            }
          },
          "resizeOperationStatus": {
            "targetDedicatedNodes": 0,
            "nodeDeallocationOption": "Requeue",
            "resizeTimeout": "PT15M",
            "startTime": "2023-06-30T07:34:29.63539Z",
            "errors": [
              {
                "code": "AccountVMSeriesCoreQuotaReached",
                "message": "The specified account has reached VM series core quota for standardDFamily"
              }
            ]
          },
          "currentDedicatedNodes": 0,
          "currentLowPriorityNodes": 0
        }
      }
    }
  ],
  "Variables": {}
}
