{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/pools?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/pools/mypoolxxx",
            "name": "mypoolxxx",
            "type": "Microsoft.Batch/batchAccounts/pools",
            "etag": "W/\u00220x8DBF79C5E4A7D76\u0022",
            "properties": {
              "lastModified": "2023-12-08T03:18:37.1956086Z",
              "creationTime": "2023-12-08T03:18:37.1956086Z",
              "provisioningState": "Succeeded",
              "provisioningStateTransitionTime": "2023-12-08T03:18:37.1956086Z",
              "allocationState": "Steady",
              "allocationStateTransitionTime": "2023-12-08T03:18:38.5676317Z",
              "vmSize": "STANDARD_D4",
              "interNodeCommunication": "Disabled",
              "taskSlotsPerNode": 1,
              "taskSchedulingPolicy": {
                "nodeFillType": "Spread"
              },
              "deploymentConfiguration": {
                "cloudServiceConfiguration": {
                  "osFamily": "5",
                  "osVersion": "*"
                }
              },
              "scaleSettings": {
                "fixedScale": {
                  "targetDedicatedNodes": 3,
                  "targetLowPriorityNodes": 0,
                  "resizeTimeout": "PT15M"
                }
              },
              "resizeOperationStatus": {
                "targetDedicatedNodes": 3,
                "nodeDeallocationOption": "Requeue",
                "resizeTimeout": "PT15M",
                "startTime": "2023-12-08T03:18:37.1956086Z",
                "errors": [
                  {
                    "code": "AccountVMSeriesCoreQuotaReached",
                    "message": "The specified account has reached VM series core quota for standardDFamily"
                  }
                ]
              },
              "currentDedicatedNodes": 0,
              "currentLowPriorityNodes": 0
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
