{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220x8DBF79C550EB071\u0022",
        "Last-Modified": "Fri, 08 Dec 2023 03:18:21 GMT",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx",
        "name": "myaccountxxx",
        "type": "Microsoft.Batch/batchAccounts",
        "location": "eastus",
        "properties": {
          "accountEndpoint": "myaccountxxx.eastus.batch.azure.com",
          "nodeManagementEndpoint": "92c1cb5e-e851-4376-9dc9-42462c57110b.eastus.service.batch.azure.com",
          "provisioningState": "Succeeded",
          "dedicatedCoreQuota": 500,
          "dedicatedCoreQuotaPerVMFamily": [
            {
              "name": "standardAv2Family",
              "coreQuota": 500
            },
            {
              "name": "standardDv2Family",
              "coreQuota": 250
            },
            {
              "name": "standardDv3Family",
              "coreQuota": 500
            },
            {
              "name": "standardEv3Family",
              "coreQuota": 500
            },
            {
              "name": "standardDSv2Family",
              "coreQuota": 250
            },
            {
              "name": "standardDSv3Family",
         [...]
