{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/pools/mypoolxxx?api-version=2023-05-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "scaleSettings": {
            "autoScale": {
              "formula": "$TargetDedicatedNodes=34"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220x8DB793C708D246C\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 07:34:29 GMT",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/pools/mypoolxxx",
        "name": "mypoolxxx",
        "type": "Microsoft.Batch/batchAccounts/pools",
        "etag": "W/\u00220x8DB793C708D246C\u0022",
        "properties": {
          "lastModified": "2023-06-30T07:34:29.63539Z",
          "creationTime": "2023-06-30T07:34:25.4023417Z",
          "provisioningState": "Succeeded",
          "provisioningStateTransitionTime": "2023-06-30T07:34:25.4023417Z",
          "allocationState": "Resizing",
          "allocationStateTransitionTime": "2023-06-30T07:34:29.63539Z",
          "vmSize": "STANDARD_D4",
          "interNodeCommunication": "Disabled",
          "taskSlotsPerNode": 1,
          "taskSchedulingPolicy": {
            "nodeFillType": "Spread"
          },
          "deploymentConfiguration": {
            "cloudServiceConfiguration": {
              "osFamily": "5",
              "osVersion": "*"
            }
          },
          "scaleSettings": {
            "autoScale": {
              "formula": "$TargetDedicatedNodes=34",
              "evaluationInterval": "PT15M"
            }
          },
          "resizeOperationStatus": {
            "targetDedicatedNodes": 34,
            "nodeDeallocationOption": "Requeue",
            "resizeTimeout": "PT15M",
            "startTime": "2023-06-30T07:34:29.63539Z"
          },
          "currentDedicatedNodes": 0,
          "currentLowPriorityNodes": 0,
          "autoScaleRun": {
            "evaluationTime": "2023-06-30T07:34:29.63539Z",
            "results": "$TargetDedicatedNodes=34;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue"
          }
        }
      }
    }
  ],
  "Variables": {}
}
