{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/applications/myapplicationxxx?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"0x8DC96714BA20D27\"",
        "Last-Modified": "Thu, 27 Jun 2024 06:20:52 GMT",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "type": "Microsoft.Batch/batchAccounts/applications",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/applications/myapplicationxxx",
        "name": "myapplicationxxx",
        "etag": "Sanitized",
        "properties": {
          "allowUpdates": false
        }
      }
    }
  ],
  "Variables": {}
}
