{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220x8DB793C586FD81F\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 07:33:49 GMT",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx",
        "name": "myaccountxxx",
        "type": "Microsoft.Batch/batchAccounts",
        "location": "eastus",
        "properties": {
          "accountEndpoint": "myaccountxxx.eastus.batch.azure.com",
          "nodeManagementEndpoint": "16de69fa-a7bc-40aa-868a-a623a432f954.eastus.service.batch.azure.com",
          "provisioningState": "Succeeded",
          "dedicatedCoreQuota": 500,
          "dedicatedCoreQuotaPerVMFamily": [
            {
              "name": "standardAv2Family",
              "coreQuota": 500
            },
            {
              "name": "standardDv2Family",
              "coreQuota": 250
            },
            {
              "name": "standardDv3Family",
              "coreQuota": 500
            },
            {
              "name": "standardEv3Family",
              "coreQuota": 500
            },
            {
              "name": "standardDSv2Family",
              "coreQuota": 250
            },
            {
              "name": "standardDSv3Family",
         [...]
