{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/regenerateKeys?api-version=2023-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyName": "Primary"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "accountName": "myaccountxxx",
        "primary": "wxbqnPOsl6DLr7Zjw25ppkQPHg/Xn3ushrUJuqoEMQjpC\u002B8hh7WoLzPiU8VUhRhtoTPbuB7Usx01\u002BABa8zB8sA==",
        "secondary": "iVgaDnL3dKvPc1h1Mc9nRK8H1vxuxjQ8m/Fx/c24dVhX9HepfTapvX9l6yebT/9BaPllj/gFPAWG\u002BABakCFTmg=="
      }
    }
  ],
  "Variables": {}
}
