{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/pools/mypoolxxx/stopResize?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"0x8DC967E77ED7641\"",
        "Last-Modified": "Thu, 27 Jun 2024 07:55:10 GMT",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/pools/mypoolxxx",
        "name": "mypoolxxx",
        "type": "Microsoft.Batch/batchAccounts/pools",
        "etag": "Sanitized",
        "properties": {
          "lastModified": "2024-06-27T07:55:10.1864513Z",
          "creationTime": "2024-06-27T07:54:57.9394585Z",
          "provisioningState": "Succeeded",
          "provisioningStateTransitionTime": "2024-06-27T07:54:57.9394585Z",
          "allocationState": "Steady",
          "allocationStateTransitionTime": "2024-06-27T07:55:10.2002047Z",
          "vmSize": "STANDARD_D4",
          "interNodeCommunication": "Disabled",
          "taskSlotsPerNode": 1,
          "taskSchedulingPolicy": {
            "nodeFillType": "Spread"
          },
          "deploymentConfiguration": {
            "virtualMachineConfiguration": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2016-Datacenter-SmallDisk",
                "version": "latest"
              },
              "nodeAgentSkuId": "batch.node.windows amd64"
            }
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0,
              "resizeTimeout": "PT15M"
            }
          },
          "resizeOperationStatus": {
            "targetDedicatedNodes": 0,
            "nodeDeallocationOption": "Requeue",
            "resizeTimeout": "PT15M",
            "startTime": "2024-06-27T07:55:07.299775Z",
            "errors": [
              {
                "code": "AccountVMSeriesCoreQuotaReached",
                "message": "The specified account has reached VM series core quota for standardDFamily"
              }
            ]
          },
          "currentDedicatedNodes": 0,
          "currentLowPriorityNodes": 0
        }
      }
    }
  ],
  "Variables": {}
}
