{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/privateLinkResources?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/privateLinkResources/batchAccount",
            "name": "batchAccount",
            "type": "Microsoft.Batch/batchAccounts/privateLinkResources",
            "properties": {
              "groupId": "batchAccount",
              "requiredMembers": [
                "batchAccount"
              ],
              "requiredZoneNames": [
                "privatelink.batch.azure.com"
              ]
            }
          },
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/privateLinkResources/nodeManagement",
            "name": "nodeManagement",
            "type": "Microsoft.Batch/batchAccounts/privateLinkResources",
            "properties": {
              "groupId": "nodeManagement",
              "requiredMembers": [
                "nodeManagement"
              ],
              "requiredZoneNames": [
                "privatelink.batch.azure.com"
              ]
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
