{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Batch/locations/eastus/cloudServiceSkus?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "A5",
            "familyName": "standardA0_A7Family",
            "capabilities": [
              {
                "name": "Cores",
                "value": "2"
              },
              {
                "name": "MemoryInMb",
                "value": "14336"
              },
              {
                "name": "SupportedByWebWorkerRoles",
                "value": "true"
              },
              {
                "name": "SupportedByVirtualMachines",
                "value": "true"
              },
              {
                "name": "MaxDataDiskCount",
                "value": "4"
              },
              {
                "name": "WebWorkerResourceDiskSizeInMb",
                "value": "501760"
              },
              {
                "name": "VirtualMachineResourceDiskSizeInMb",
                "value": "138240"
              }
            ],
            "batchSupportEndOfLife": "2024-08-31T00:00:00Z"
          },
          {
            "name": "A6",
            "familyName": "standardA0_A7Family",
            "capabilities": [
              {
                "name": "Cores",
                "value": "4"
              },
              {
                "name": "MemoryInMb",
                "value": "28672"
              },
              {
                "name": "SupportedByWebWorkerRoles",
                "value": "true"
              },
              {
             [...]
