{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/pools?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/pools/mypoolxxx",
            "name": "mypoolxxx",
            "type": "Microsoft.Batch/batchAccounts/pools",
            "etag": "Sanitized",
            "properties": {
              "lastModified": "2024-06-27T06:21:28.8041453Z",
              "creationTime": "2024-06-27T06:21:28.8041436Z",
              "provisioningState": "Succeeded",
              "provisioningStateTransitionTime": "2024-06-27T06:21:28.8041436Z",
              "allocationState": "Steady",
              "allocationStateTransitionTime": "2024-06-27T06:21:30.2396174Z",
              "vmSize": "STANDARD_D4",
              "interNodeCommunication": "Disabled",
              "taskSlotsPerNode": 1,
              "taskSchedulingPolicy": {
                "nodeFillType": "Spread"
              },
              "deploymentConfiguration": {
                "virtualMachineConfiguration": {
                  "imageReference": {
                    "publisher": "MicrosoftWindowsServer",
                    "offer": "WindowsServer",
                    "sku": "2016-Datacenter-SmallDisk",
                    "version": "latest"
                  },
                  "nodeAgentSkuId": "batch.node.windows amd64"
                }
              },
              "scaleSettings": {
                "fixedScale": {
                  "targetDedicatedNodes": 3,
                  "targetLowPriorityNodes": 0,
                  "resizeTimeout": "PT15M"
                }
              },
              "resizeOperationStatus": {
                "targetDedicatedNodes": 3,
                "nodeDeallocationOption": "Requeue",
                "resizeTimeout": "PT15M",
                "startTime": "2024-06-27T06:21:28.8041386Z",
                "errors": [
                  {
                    "code": "AccountVMSeriesCoreQuotaReached",
                    "message": "The specified account has reached VM series core quota for standardDFamily"
                  }
                ]
              },
              "currentDedicatedNodes": 0,
              "currentLowPriorityNodes": 0
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
