{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx?api-version=2024-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1"
        },
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"0x8DC967E58153F16\"",
        "Last-Modified": "Thu, 27 Jun 2024 07:54:16 GMT",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx",
        "name": "myaccountxxx",
        "type": "Microsoft.Batch/batchAccounts",
        "location": "eastus",
        "properties": {
          "accountEndpoint": "myaccountxxx.eastus.batch.azure.com",
          "nodeManagementEndpoint": "9e0cfe88-0145-415c-acf6-58a570811edf.eastus.service.batch.azure.com",
          "provisioningState": "Succeeded",
          "dedicatedCoreQuota": 500,
          "dedicatedCoreQuotaPerVMFamily": [
            {
              "name": "standardAv2Family",
              "coreQuota": 500
            },
            {
              "name": "standardDv2Family",
              "coreQuota": 250
            },
            {
              "name": "standardDv3Family",
              "coreQuota": 500
            },
            {
              "name": "standardEv3Family",
              "coreQuota": 500
            },
            {
              "name": "standardDSv2Family",
              "coreQuota": 250
            },
            {
              "name": "standardDSv3Family",
         [...]
