{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_create_if_not_exists?api-version=2025-05-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "mise-correlation-id": "7c159228-02f5-4491-99a4-5b9e49079b48"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_create_if_not_exists?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "If-None-Match Test Metric",
        "description": "A metric created with If-None-Match header",
        "categories": [
          "Test",
          "Conditional"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "ConditionalCreateEvent"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"Z7GgLmCOJuk=\"",
        "Last-Modified": "Tue, 10 Jun 2025 20:46:47 GMT",
        "Location": "/workspaces/a436c1d9-a21b-46b1-8ed5-483c07d02836/experiment-metrics/test_create_if_not_exists",
        "mise-correlation-id": "2fd43efa-976f-4c34-b82d-3421eab0a952"
      },
      "ResponseBody": {
        "lifecycle": "Active",
        "desiredDirection": "Increase",
        "id": "test_create_if_not_exists",
        "displayName": "If-None-Match Test Metric",
        "description": "A metric created with If-None-Match header",
        "categories": [
          "Test",
          "Conditional"
        ],
        "definition": {
          "event": {
            "eventName": "ConditionalCreateEvent"
          },
          "type": "EventCount"
        },
        "eTag": "\"Z7GgLmCOJuk=\"",
        "lastModifiedAt": "2025-06-10T20:46:47.7261256+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2.exp.azure.net/experiment-metrics/test_create_if_not_exists?api-version=2025-05-31-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "lifecycle": "Active",
        "displayName": "This should not be updated",
        "description": "A metric created with If-None-Match header",
        "categories": [
          "Test",
          "Conditional"
        ],
        "desiredDirection": "Increase",
        "definition": {
          "type": "EventCount",
          "event": {
            "eventName": "ConditionalCreateEvent"
          }
        }
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0cb3f518-cfa0-4fe4-9d2c-f36dc19ccf61",
        "x-ms-error-code": "ConditionNotMet"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified in the If-None-Match request header was not met.",
          "target": null,
          "details": [],
          "innerError": null
        }
      }
    }
  ],
  "Variables": {}
}
