{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/analyze-documents/jobs?api-version=2026-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "displayName": "Document Analysis.",
        "analysisInput": {
          "documents": [
            {
              "language": "en",
              "id": "Sanitized",
              "source": {
                "location": "https://fakeaccount.blob.core.windows.net/input/fake.docx"
              },
              "target": {
                "location": "https://fakeaccount.blob.core.windows.net/output"
              }
            }
          ]
        },
        "tasks": [
          {
            "kind": "PiiEntityRecognition",
            "parameters": {
              "redactionPolicies": [
                {
                  "policyName": "defaultPolicy",
                  "policyKind": "EntityMask",
                  "isDefault": true
                }
              ]
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fake_analyzedocuments_endpoint.comlanguage/analyze-documents/jobs/f4e8ddab-6f7e-44ef-a316-4b64d50658b9?api-version=2026-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
