{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/analyze-documents/jobs?api-version=2026-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "displayName": "Document Analysis.",
        "analysisInput": {
          "documents": [
            {
              "language": "en",
              "id": "Sanitized",
              "source": {
                "location": "https://fakeaccount.blob.core.windows.net/input/fake.docx"
              },
              "target": {
                "location": "https://fakeaccount.blob.core.windows.net/output"
              }
            }
          ]
        },
        "tasks": [
          {
            "kind": "PiiEntityRecognition",
            "parameters": {
              "redactionPolicies": [
                {
                  "policyName": "defaultPolicy",
                  "policyKind": "EntityMask",
                  "isDefault": true
                }
              ]
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/analyze-documents/jobs/9282da43-50f3-46c7-80e8-a34c99813c8e?api-version=2026-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/analyze-documents/jobs/9282da43-50f3-46c7-80e8-a34c99813c8e?api-version=2026-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "9282da43-50f3-46c7-80e8-a34c99813c8e",
        "lastUpdatedDateTime": "2026-06-03T18:55:30Z",
        "createdDateTime": "2026-06-03T18:55:30Z",
        "expirationDateTime": "2026-06-04T18:55:30Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "Document Analysis.",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    }
  ],
  "Variables": {}
}
