{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/7DBC51A96D34F12ABE75C0582DEC38217FC1D5B582FC54DA28?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:33:47 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy7DBC51A96D34F12ABE75C0582DEC38217FC1D5B582FC54DA28",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a400058e-0000-0700-0000-65525dfb0000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:33:47 GMT",
        "trace-id": "647e88d0-db03-11b3-8dab-8ce5353af4af"
      },
      "ResponseBody": {
        "id": "7DBC51A96D34F12ABE75C0582DEC38217FC1D5B582FC54DA28",
        "name": "LongestIdleDistributionPolicy7DBC51A96D34F12ABE75C0582DEC38217FC1D5B582FC54DA28",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022a400058e-0000-0700-0000-65525dfb0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/7DBC51A96D34F12ABE75C0582DEC38217FC1D5B582FC54DA28?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:33:48 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueueWithLabels7DBC51A96D34F12ABE75C0582DEC38217FC1D5B582FC54DA28",
        "distributionPolicyId": "7DBC51A96D34F12ABE75C0582DEC38217FC1D5B582FC54DA28",
        "labels": {
          "Label_1": "Value_1"
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225902303b-0000-0700-0000-65525dfb0000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:33:47 GMT",
        "trace-id": "9940ba91-5279-c581-a58e-4eae99cca4b2"
      },
      "ResponseBody": {
        "id": "7DBC51A96D34F12ABE75C0582DEC38217FC1D5B582FC54DA28",
        "name": "DefaultQueueWithLabels7DBC51A96D34F12ABE75C0582DEC38217FC1D5B582FC54DA28",
        "distributionPolicyId": "7DBC51A96D34F12ABE75C0582DEC38217FC1D5B582FC54DA28",
        "labels": {
          "Label_1": "Value_1",
          "Id": "7DBC51A96D34F12ABE75C0582DEC38217FC1D5B582FC54DA28"
        },
        "etag": "\u00225902303b-0000-0700-0000-65525dfb0000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/7DBC51A96D34F12ABE75C0582DEC38217FC1D5B582FC54DA28?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:33:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "c0e4c0d8-9531-e397-e066-389f376967ed"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-iMe-T7LEO0miCGDsgxDhwQ-",
    "RandomSeed": "445158088"
  }
}
