{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:23:20 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002242006842-0000-0700-0000-653ff4970000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:23:19 GMT",
        "trace-id": "0ac57f97-aff5-4a4f-5d62-d203169a8a0c"
      },
      "ResponseBody": {
        "id": "870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3",
        "name": "LongestIdleDistributionPolicy870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u002242006842-0000-0700-0000-653ff4970000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:23:20 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueueWithLabels870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3",
        "distributionPolicyId": "870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3",
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f0002e8c-0000-0700-0000-653ff4970000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:23:19 GMT",
        "trace-id": "55cbfa9f-8997-e8dc-5814-146ee3f6046b"
      },
      "ResponseBody": {
        "id": "870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3",
        "name": "DefaultQueueWithLabels870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3",
        "distributionPolicyId": "870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3",
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true,
          "Id": "870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3"
        },
        "etag": "\u0022f0002e8c-0000-0700-0000-653ff4970000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 30 Oct 2023 18:23:20 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueueWithLabels870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3",
        "distributionPolicyId": "870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3",
        "labels": {
          "Label_1": null,
          "Label_2": null,
          "Label_3": "Value_Updated_3",
          "Id": "870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3",
          "Label_4": "Value_4"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f000338c-0000-0700-0000-653ff4970000\u0022",
        "Last-Modified": "Mon, 30 Oct 2023 18:23:19 GMT",
        "trace-id": "92aa8623-5ddb-d766-2b2f-2eb546ec19bf"
      },
      "ResponseBody": {
        "id": "870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3",
        "name": "DefaultQueueWithLabels870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3",
        "distributionPolicyId": "870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3",
        "labels": {
          "Label_3": "Value_Updated_3",
          "Id": "870FB0708AC2625166EF40AFB59F20AC8CBF6250B0F27880C3",
          "Label_4": "Value_4"
        },
        "etag": "\u0022f000338c-0000-0700-0000-653ff4970000\u0022"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-I_6DHxcBikGH35FvEdFkTw-",
    "RandomSeed": "2079285323"
  }
}
