{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:33:54 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022a400238e-0000-0700-0000-65525e010000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:33:53 GMT",
        "trace-id": "fde2f259-2ac8-10fd-f217-d350e28d6810"
      },
      "ResponseBody": {
        "id": "9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA",
        "name": "LongestIdleDistributionPolicy9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022a400238e-0000-0700-0000-65525e010000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:33:54 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueueWithLabels9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA",
        "distributionPolicyId": "9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA",
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        },
        "etag": ""
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225902a13b-0000-0700-0000-65525e010000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:33:53 GMT",
        "trace-id": "0c1f4060-6abc-a950-5828-2dcd63678cea"
      },
      "ResponseBody": {
        "id": "9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA",
        "name": "DefaultQueueWithLabels9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA",
        "distributionPolicyId": "9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA",
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true,
          "Id": "9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA"
        },
        "etag": "\u00225902a13b-0000-0700-0000-65525e010000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:33:54 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueueWithLabels9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA",
        "distributionPolicyId": "9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA",
        "labels": {
          "Label_1": null,
          "Label_2": null,
          "Label_3": "Value_Updated_3",
          "Id": "9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA",
          "Label_4": "Value_4"
        },
        "etag": "\u00225902a13b-0000-0700-0000-65525e010000\u0022"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225902a23b-0000-0700-0000-65525e010000\u0022",
        "Last-Modified": "Mon, 13 Nov 2023 17:33:53 GMT",
        "trace-id": "e6e07e32-ae79-a494-2626-81329f2fade5"
      },
      "ResponseBody": {
        "id": "9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA",
        "name": "DefaultQueueWithLabels9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA",
        "distributionPolicyId": "9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA",
        "labels": {
          "Label_3": "Value_Updated_3",
          "Id": "9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA",
          "Label_4": "Value_4"
        },
        "etag": "\u00225902a23b-0000-0700-0000-65525e010000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/9EDD5B290BEB0E2B85C7D5DEEC398F5FE4460BE9C25E997EEA?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 13 Nov 2023 17:33:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "3e4e2feb-64fa-cb46-37af-b065f1e2515e"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-bKFBwIRxXEWf1lJAEYujrg-",
    "RandomSeed": "468217452"
  }
}
