{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/EB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:04:35 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicyEB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "kind": "longestIdle"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022090077d7-0000-0700-0000-65de78940000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:04:36 GMT",
        "trace-id": "5406c3e6-94d0-3876-880d-e55e7b325780"
      },
      "ResponseBody": {
        "id": "EB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8",
        "name": "LongestIdleDistributionPolicyEB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longestIdle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        },
        "etag": "\u0022090077d7-0000-0700-0000-65de78940000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/EB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:04:35 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueueWithLabelsEB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8",
        "distributionPolicyId": "EB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8",
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e502ecda-0000-0700-0000-65de78940000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:04:36 GMT",
        "trace-id": "14a59f65-9802-53fc-6fc5-a8e1fd5cc72b"
      },
      "ResponseBody": {
        "id": "EB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8",
        "name": "DefaultQueueWithLabelsEB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8",
        "distributionPolicyId": "EB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8",
        "labels": {
          "Label_1": "Value_1",
          "Label_2": 2,
          "Label_3": true,
          "Id": "EB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8"
        },
        "etag": "\u0022e502ecda-0000-0700-0000-65de78940000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/EB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8?api-version=2024-01-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:04:35 GMT"
      },
      "RequestBody": {
        "name": "DefaultQueueWithLabelsEB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8",
        "distributionPolicyId": "EB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8",
        "labels": {
          "Label_1": null,
          "Label_2": null,
          "Label_3": "Value_Updated_3",
          "Id": "EB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8",
          "Label_4": "Value_4"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e502f0da-0000-0700-0000-65de78940000\u0022",
        "Last-Modified": "Wed, 28 Feb 2024 00:04:36 GMT",
        "trace-id": "c0035079-9eff-c9a3-947d-cf26a9d99d78"
      },
      "ResponseBody": {
        "id": "EB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8",
        "name": "DefaultQueueWithLabelsEB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8",
        "distributionPolicyId": "EB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8",
        "labels": {
          "Label_3": "Value_Updated_3",
          "Id": "EB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8",
          "Label_4": "Value_4"
        },
        "etag": "\u0022e502f0da-0000-0700-0000-65de78940000\u0022"
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/EB48BFA7E7ABB67FA1263E5A9150EA16F72277B6146A5936F8?api-version=2024-01-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 28 Feb 2024 00:04:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01, 2024-01-18-preview",
        "trace-id": "32cbcbee-d0e3-b7a0-6ad9-cb909094ae25"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-vrcsGXl4jEKGYQnCw7G3Eg-",
    "RandomSeed": "733318019"
  }
}
