{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Sat, 25 Oct 2025 00:30:44 GMT"
      },
      "RequestBody": {
        "id": "jssdkJob-Basic3c8f",
        "poolInfo": {
          "poolId": "jssdkPool-Basic594c"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE135DBCAE0426",
        "Last-Modified": "Sat, 25 Oct 2025 00:30:45 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic3c8f?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Sat, 25 Oct 2025 00:30:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE135DBCAE0426",
        "Last-Modified": "Sat, 25 Oct 2025 00:30:45 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#jobs/@Element",
        "id": "jssdkJob-Basic3c8f",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic3c8f",
        "eTag": "0x8DE135DBCAE0426",
        "lastModified": "2025-10-25T00:30:45.1596326Z",
        "creationTime": "2025-10-25T00:30:45.1386321Z",
        "state": "active",
        "stateTransitionTime": "2025-10-25T00:30:45.1596326Z",
        "priority": 0,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 0
        },
        "poolInfo": {
          "poolId": "jssdkPool-Basic594c"
        },
        "executionInfo": {
          "startTime": "2025-10-25T00:30:45.1596326Z",
          "poolId": "jssdkPool-Basic594c"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basic594c",
    "JOB_NAME": "jssdkJob-Basic3c8f"
  }
}
