{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828367186805403?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 12:07:51 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF77529A0B457\"",
        "Last-Modified": "Fri, 19 Sep 2025 12:07:53 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828367186805403/dir175828367305706967?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 12:07:53 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF77529D40008\"",
        "Last-Modified": "Fri, 19 Sep 2025 12:07:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-19T12:07:54.1472264Z",
        "x-ms-file-creation-time": "2025-09-19T12:07:54.1472264Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-19T12:07:54.1472264Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828367186805403/dir175828367305706967/file175828367336400350",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-content-length": "8",
        "x-ms-date": "Fri, 19 Sep 2025 12:07:53 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF7752A022F0C\"",
        "Last-Modified": "Fri, 19 Sep 2025 12:07:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-19T12:07:54.4498956Z",
        "x-ms-file-creation-time": "2025-09-19T12:07:54.4498956Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-19T12:07:54.4498956Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828367186805403/dir175828367305706967/file175828367336400350?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 19 Sep 2025 12:07:53 GMT",
        "x-ms-range": "bytes=0-7",
        "x-ms-version": "2026-02-06",
        "x-ms-write": "update"
      },
      "RequestBody": "YWFhYWJiYmI=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "xiIFTZ5vF7Q4FK1dYcqyOQ==",
        "ETag": "\"0x8DDF7752A41AFB8\"",
        "Last-Modified": "Fri, 19 Sep 2025 12:07:54 GMT",
        "x-ms-file-last-write-time": "2025-09-19T12:07:54.8660664Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828367186805403/dir175828367305706967/file175828367336400350",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 12:07:54 GMT",
        "x-ms-range": "bytes=4-7",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 4-7/8",
        "Content-Type": "application/xml",
        "ETag": "\"0x8DDF7752A41AFB8\"",
        "Last-Modified": "Fri, 19 Sep 2025 12:07:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-19T12:07:54.8660664Z",
        "x-ms-file-creation-time": "2025-09-19T12:07:54.4498956Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-19T12:07:54.8660664Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "bbbb"
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share175828367186805403?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 19 Sep 2025 12:07:55 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir175828367305706967",
    "file": "file175828367336400350",
    "share": "share175828367186805403"
  }
}
