{
  "Entries": [
    {
      "RequestUri": "https://ukwxscncdm09pr01ex.blob.core.windows.net/test-container-d6380d8e-8302-0628-fc35-5093730700ab?restype=container&comp=session",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<CreateSessionRequest><AuthenticationType>HMAC</AuthenticationType></CreateSessionRequest>",
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\n",
        "RequestId:80ecb07a-901e-0036-7356-ccfd4f000000\n",
        "Time:2026-04-14T21:31:29.2951455Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "664751751",
    "Storage_TestConfigOAuth": "OAuthTenant\nukwxscncdm09pr01ex\nU2FuaXRpemVk\nhttps://ukwxscncdm09pr01ex.blob.core.windows.net\nhttps://ukwxscncdm09pr01ex.file.core.windows.net\nhttps://ukwxscncdm09pr01ex.queue.core.windows.net\nhttps://ukwxscncdm09pr01ex.table.core.windows.net\n\n\n\n\nhttps://ukwxscncdm09pr01ex-secondary.blob.core.windows.net\nhttps://ukwxscncdm09pr01ex-secondary.file.core.windows.net\nhttps://ukwxscncdm09pr01ex-secondary.queue.core.windows.net\nhttps://ukwxscncdm09pr01ex-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://ukwxscncdm09pr01ex.blob.core.windows.net/;QueueEndpoint=https://ukwxscncdm09pr01ex.queue.core.windows.net/;FileEndpoint=https://ukwxscncdm09pr01ex.file.core.windows.net/;BlobSecondaryEndpoint=https://ukwxscncdm09pr01ex-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://ukwxscncdm09pr01ex-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://ukwxscncdm09pr01ex-secondary.file.core.windows.net/;AccountName=ukwxscncdm09pr01ex;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
