{
  "Entries": [
    {
      "RequestUri": "https://y75xscnchi23pe01cx.blob.preprod.core.windows.net/test-container-8f4bd3ac-d11c-9dd1-85ec-7ff66a3b2336?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Apr 2026 21:31:25 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "OperationTimedOut",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>OperationTimedOut</Code><Message>Operation could not be completed within the specified time.\n",
        "RequestId:a386b5df-601e-000a-6e56-cc8091000000\n",
        "Time:2026-04-14T21:31:59.6594447Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://y75xscnchi23pe01cx.blob.preprod.core.windows.net/test-container-8f4bd3ac-d11c-9dd1-85ec-7ff66a3b2336?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Apr 2026 21:31:57 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE9A6D438D77C8\"",
        "Last-Modified": "Tue, 14 Apr 2026 21:32:00 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://y75xscnchi23pe01cx.blob.preprod.core.windows.net/test-container-8f4bd3ac-d11c-9dd1-85ec-7ff66a3b2336?restype=container&comp=session",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Tue, 14 Apr 2026 21:31:57 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<CreateSessionRequest><AuthenticationType>HMAC</AuthenticationType></CreateSessionRequest>",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidAuthType",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>InvalidAuthType</Code><Message>Identity-based authorization is required for the Create Session API.\n",
        "RequestId:6018dcd8-301e-0017-7456-cc8d2d000000\n",
        "Time:2026-04-14T21:32:00.9049563Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://y75xscnchi23pe01cx.blob.preprod.core.windows.net/test-container-8f4bd3ac-d11c-9dd1-85ec-7ff66a3b2336?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 14 Apr 2026 21:31:57 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "137231985",
    "Storage_TestConfigDefault": "ProductionTenant\ny75xscnchi23pe01cx\nU2FuaXRpemVk\nhttps://y75xscnchi23pe01cx.blob.preprod.core.windows.net\nhttps://y75xscnchi23pe01cx.file.preprod.core.windows.net\nhttps://y75xscnchi23pe01cx.queue.preprod.core.windows.net\nhttps://y75xscnchi23pe01cx.table.preprod.core.windows.net\n\n\n\n\nhttps://y75xscnchi23pe01cx-secondary.blob.preprod.core.windows.net\nhttps://y75xscnchi23pe01cx-secondary.file.preprod.core.windows.net\nhttps://y75xscnchi23pe01cx-secondary.queue.preprod.core.windows.net\nhttps://y75xscnchi23pe01cx-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://y75xscnchi23pe01cx.blob.preprod.core.windows.net/;QueueEndpoint=https://y75xscnchi23pe01cx.queue.preprod.core.windows.net/;FileEndpoint=https://y75xscnchi23pe01cx.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://y75xscnchi23pe01cx-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://y75xscnchi23pe01cx-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://y75xscnchi23pe01cx-secondary.file.preprod.core.windows.net/;AccountName=y75xscnchi23pe01cx;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
