{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9e262354-58ca-884c-7b73-f7d61abca3ef?sv=Sanitized&ss=bfqt&srt=s&spr=https&se=2024-06-07T00%3A27%3A23Z&sp=rwdxylacuptfi&sig=Sanitized&restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationResourceTypeMismatch",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationResourceTypeMismatch</Code><Message>This request is not authorized to perform this operation using this resource type.\n",
        "RequestId:c5655826-a01e-0089-6069-b84cf4000000\n",
        "Time:2024-06-06T23:27:25.4748261Z</Message><ExtendedErrorDetail>SignedResourceTypes 'c' is required to perform this operation.</ExtendedErrorDetail></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:27:23.9176236-05:00",
    "RandomSeed": "1254587573",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
