{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-173c8117-f4ae-90fe-cfbe-71b67bf7a735?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 17 Dec 2024 20:53:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD1EDCD9B30617\"",
        "Last-Modified": "Tue, 17 Dec 2024 20:53:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-173c8117-f4ae-90fe-cfbe-71b67bf7a735/%20%20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 17 Dec 2024 20:53:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "B9cgWF1x7a4+N2LimC43C1FYtiTuek1s2mCgOFwSFTPuMciBohW6jmhZ7a+R5Ffj9ADel8q5O4yJtH390bVSKyEu9GdltWk8nSi7lYye2/YJvENbNH5pNPU7+O6YvbyzB8KOYvDvfT+Xovmi/ab/69mG8xRy9vejxb9yKb17o+BrB47KEHgFGT4DxJKFxzZPPA0VEcmoQRDK6p0xfVSCHP4YNvUYNdtggdrVbjJlHf2IIu2wZpIWw8Z9/yXa1JzqgaeTbJBBNgYxtJDv0tPeZc2fqFpn0rZrAnIvmjW1hqw96+2K0bBtR+zmfrECJ/Hzn5pXOixBgq7xKGodEZzRfC7jseblU5QcMmFugFQEadqB[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-173c8117-f4ae-90fe-cfbe-71b67bf7a735/%20%20?sv=Sanitized&st=2024-12-17T19%3A53%3A30Z&se=2024-12-17T21%3A53%3A30Z&sr=b&sp=racwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "GeGSfQ9RtaXMzYVgKSPEJg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD1EDCD9BC5BF2\"",
        "Last-Modified": "Tue, 17 Dec 2024 20:53:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 17 Dec 2024 20:53:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-173c8117-f4ae-90fe-cfbe-71b67bf7a735?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 17 Dec 2024 20:53:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-173c8117-f4ae-90fe-cfbe-71b67bf7a735\"><Blobs><Blob><Name>  </Name><Properties><Creation-Time>Tue, 17 Dec 2024 20:53:25 GMT</Creation-Time><Last-Modified>Tue, 17 Dec 2024 20:53:25 GMT</Last-Modified><Etag>0x8DD1EDCD9BC5BF2</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>GeGSfQ9RtaXMzYVgKSPEJg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-173c8117-f4ae-90fe-cfbe-71b67bf7a735?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 17 Dec 2024 20:53:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-12-17T15:53:30.2778366-05:00",
    "RandomSeed": "277837187",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
