{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a16dd923-ab36-bfb4-0021-9bbc189eb378?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 20:29:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8A552393A41F\"",
        "Last-Modified": "Tue, 11 Jun 2024 20:29:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a16dd923-ab36-bfb4-0021-9bbc189eb378/my%20cool%20blob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 11 Jun 2024 20:29:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "AxA0jg+ELaJj2IDXTA33l9GZd5KBt08F9DVU6Hc/3SiIQqO3NMHywVh6l1DgcKSraXFkHYFDm0vAL5rZL0QqJPtXTgppP2IPp7Y6BiD/JYSRqX8F28CnRaZY9wUnGJETT3NViCGaQikOVHbLCJQrwQoWSIbFJEg6sAljEUhc6I4kJ7asqZxi9mZW9odK2zwSLTX7Ec8LTSsqGtgYNjHhsmvnpuDdfhdts1Efby7B8NTMUeMSYNe/GNqLgY/ESsA1dEQbYzVbNK4ejl197N78aSoDS+VNzlGUKI0GUvyIqWmR6frppo2fcRw19NJ6QSz7jhhkwP7a6KXzhzqnVOKyleTz7ALjE8KdZNrIF9p+Gedh[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a16dd923-ab36-bfb4-0021-9bbc189eb378/my%20cool%20blob?sv=Sanitized&st=2024-06-11T19%3A29%3A04Z&se=2024-06-11T21%3A29%3A04Z&sr=b&sp=racwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "eGvMn+EwzKJETB9xY/DB4Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8A5523D016FC\"",
        "Last-Modified": "Tue, 11 Jun 2024 20:29:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 11 Jun 2024 20:29:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 11 Jun 2024 20:29:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-11T20:29:05.7460988Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a16dd923-ab36-bfb4-0021-9bbc189eb378?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 20:29:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.blob.core.windows.net/\" ContainerName=\"test-container-a16dd923-ab36-bfb4-0021-9bbc189eb378\"><Blobs><Blob><Name>my cool blob</Name><VersionId>2024-06-11T20:29:05.7460988Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 11 Jun 2024 20:29:05 GMT</Creation-Time><Last-Modified>Tue, 11 Jun 2024 20:29:05 GMT</Last-Modified><Etag>0x8DC8A5523D016FC</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>eGvMn+EwzKJETB9xY/DB4Q==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Tue, 11 Jun 2024 20:29:05 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a16dd923-ab36-bfb4-0021-9bbc189eb378?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 20:29:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-11T15:29:04.6876145-05:00",
    "RandomSeed": "1465438492",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
