{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9c035e5c-09a7-26c2-b34e-d70eaa152a85?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 20:29:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8A55235FE515\"",
        "Last-Modified": "Tue, 11 Jun 2024 20:29:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9c035e5c-09a7-26c2-b34e-d70eaa152a85/%2521%252A%2527%2528%2529%253B%255B%255D%253A%2540%2526%2525%253D%252B%2524%252C%252F%253F%2523%C3%A4%C3%84%C3%B6%C3%96%C3%BC%C3%9C%C3%9F",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 11 Jun 2024 20:29:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "xkJMLCMhchg/ytLvd7K5k/e4SQCR43eqJ4wWHFGi5JZuRkoq1Cr7ozhrBkMGP38aLF6DnOpJueLKoQSWClXHneY7gDBojr7NvaXHJd00o+cN/PDzH0esJYxnXzIlZZjio2ldyr9Psp2ftt9EgZMFlv0diQ5l1H2ejlqjAC6LqFgM5IFz1tknvUpSU2hoaKT5Yck0B9uKfM/rvjtlq7FuEw6HN5wSkr8k9cvDE4EVNia2qp5lV6B8gmeyhxidwhKY4z9a4TAH5s8JEBEQxmlO1ogVrgETCbxtCrU0XwqnhjO5Ky9CulT2rsPOXEeOa7v+Y7GPiBMQhdqC7dZ60ofFYYneV5s5DBwzHgA+RKx13p/6[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9c035e5c-09a7-26c2-b34e-d70eaa152a85/%2521%252A%2527%2528%2529%253B%255B%255D%253A%2540%2526%2525%253D%252B%2524%252C%252F%253F%2523%C3%A4%C3%84%C3%B6%C3%96%C3%BC%C3%9C%C3%9F?sv=Sanitized&st=2024-06-11T19%3A29%3A04Z&se=2024-06-11T21%3A29%3A04Z&sr=b&sp=racwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "D1uFSPUv9IVI2chdB+TT8w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8A55236A8640\"",
        "Last-Modified": "Tue, 11 Jun 2024 20:29:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 11 Jun 2024 20:29:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 11 Jun 2024 20:29:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-11T20:29:05.0804800Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9c035e5c-09a7-26c2-b34e-d70eaa152a85?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 20:29:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.blob.core.windows.net/\" ContainerName=\"test-container-9c035e5c-09a7-26c2-b34e-d70eaa152a85\"><Blobs><Blob><Name>%21%2A%27%28%29%3B%5B%5D%3A%40%26%25%3D%2B%24%2C%2F%3F%23äÄöÖüÜß</Name><VersionId>2024-06-11T20:29:05.0804800Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 11 Jun 2024 20:29:05 GMT</Creation-Time><Last-Modified>Tue, 11 Jun 2024 20:29:05 GMT</Last-Modified><Etag>0x8DC8A55236A8640</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>D1uFSPUv9IVI2chdB+TT8w==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Tue, 11 Jun 2024 20:29:05 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9c035e5c-09a7-26c2-b34e-d70eaa152a85?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 20:29:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-11T15:29:04.0234941-05:00",
    "RandomSeed": "2076368694",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
