{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e975d54-c47b-be53-4800-836fa29cc8ac?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 17 Dec 2024 20:53:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD1EDCD95B1C3D\"",
        "Last-Modified": "Tue, 17 Dec 2024 20:53:24 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e975d54-c47b-be53-4800-836fa29cc8ac/my%20cool%20blob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 17 Dec 2024 20:53:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "h6tPp5yNYdRtHAw1tf0v6LUaYfdTrB6WBBm+siRq707WaM3jD6PMgEl0rnGs0u+xjHPQcNF3UtuNuaKDz6+wAi29X00vS9gRTuCt3/2t6jIpDSWxmn58XxXyVlYASbGaw6xD7nOigUGaviLxyXPd4M5wWcGJ/2ivQQA3PfSCEAQuExtRafu/h4zjF9tbi5WiFXaHkO/vEMNDk61yakRMF60ewrZXi3bTsdI1peiMVLVqlSd++oAVPwJYDtZOTBxIl/8uPcjfSon/tN8dumratj73CNQczR0tCIOz/32ghGS17Q7pXhfti0qdf0Wg94WXfVeXVkRHK8niADRFK0sMXjB6aMxc8VgnCnyJfk3XjBH+[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e975d54-c47b-be53-4800-836fa29cc8ac/my%20cool%20blob?sv=Sanitized&st=2024-12-17T19%3A53%3A29Z&se=2024-12-17T21%3A53%3A29Z&sr=b&sp=racwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "SM+oJg/VkMuOJVWT378zBA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD1EDCD963F11B\"",
        "Last-Modified": "Tue, 17 Dec 2024 20:53:24 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 17 Dec 2024 20:53:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e975d54-c47b-be53-4800-836fa29cc8ac?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 17 Dec 2024 20:53:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-8e975d54-c47b-be53-4800-836fa29cc8ac\"><Blobs><Blob><Name>my cool blob</Name><Properties><Creation-Time>Tue, 17 Dec 2024 20:53:24 GMT</Creation-Time><Last-Modified>Tue, 17 Dec 2024 20:53:24 GMT</Last-Modified><Etag>0x8DD1EDCD963F11B</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>SM+oJg/VkMuOJVWT378zBA==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e975d54-c47b-be53-4800-836fa29cc8ac?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 17 Dec 2024 20:53:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-12-17T15:53:29.6988792-05:00",
    "RandomSeed": "1357656235",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
