{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-31e27fcb-ca01-347f-9624-20f8aa07a140?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 20:18:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8A53AC3E248A\"",
        "Last-Modified": "Tue, 11 Jun 2024 20:18:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-31e27fcb-ca01-347f-9624-20f8aa07a140/%21%2A%27%28%29%3B%5B%5D%3A%40%26%25%3D%2B%24%2C/%3F%23%C3%A4%C3%84%C3%B6%C3%96%C3%BC%C3%9C%C3%9F",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 11 Jun 2024 20:18:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "14JTa2aTejFA9QX6xMSiGKTz6hc0yGhCQoI2yEAhBj9SfeMPKhTGehmhmOLfb/Cas0F48wKcUw8ZESnjXbLxH+7GqEbhk+2PLXD9kzCGYtKSmxT+qBM8tirT9Rnr4h1nr3j0GcequR9U6cWSnsDfk69WUcGd83faifIbDZ7To0pSluO3kkgL6OL1qr5NqRdq9GJqlZFbyrwBGY/VjquBgEV7PwjcJwFmS2jfp0m4jeDbsRg8aQ6598sntni4NVo2dCl50mkOjcxgA0kofCJzSIyv+dySRRc3wUg8tXGIrhUOqTMfP7p2zCNL22XEkHups23sCDx9oy8SQhAh0dhb2FU0GdPuUwnROS25RmmxcjHM[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-31e27fcb-ca01-347f-9624-20f8aa07a140/%21%2A%27%28%29%3B%5B%5D%3A%40%26%25%3D%2B%24%2C/%3F%23%C3%A4%C3%84%C3%B6%C3%96%C3%BC%C3%9C%C3%9F?sv=Sanitized&st=2024-06-11T19%3A18%3A34Z&se=2024-06-11T21%3A18%3A34Z&sr=b&sp=racwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ioRd7jtQdggpsRaJdyKYtw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8A53AC48E4D0\"",
        "Last-Modified": "Tue, 11 Jun 2024 20:18:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 11 Jun 2024 20:18:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 11 Jun 2024 20:18:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-11T20:18:35.7144784Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-31e27fcb-ca01-347f-9624-20f8aa07a140?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 20:18:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.blob.core.windows.net/\" ContainerName=\"test-container-31e27fcb-ca01-347f-9624-20f8aa07a140\"><Blobs><Blob><Name>!*'();[]:@&amp;%=+$,/?#äÄöÖüÜß</Name><VersionId>2024-06-11T20:18:35.7144784Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 11 Jun 2024 20:18:35 GMT</Creation-Time><Last-Modified>Tue, 11 Jun 2024 20:18:35 GMT</Last-Modified><Etag>0x8DC8A53AC48E4D0</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>ioRd7jtQdggpsRaJdyKYtw==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Tue, 11 Jun 2024 20:18:35 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-31e27fcb-ca01-347f-9624-20f8aa07a140?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 20:18:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-11T15:18:34.6619127-05:00",
    "RandomSeed": "477753603",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
