{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-694dc5d3-60d9-d300-c0fc-d4cde9971b2f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 20:18:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8A53AB4B6C8B\"",
        "Last-Modified": "Tue, 11 Jun 2024 20:18:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-694dc5d3-60d9-d300-c0fc-d4cde9971b2f/my%20cool%20blob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 11 Jun 2024 20:18:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "8Xqux4sZpKnmLKddBqji3cQbxR5eRyMJgmmkx2xmhwiqxGZ2NHAt7iaP7t+upyTHq9+0fvOzN6lXpEUidNw8f6Wfs0FCbKhT7df3z1lDWtpF3RuNsgkU9o28HpAqC3lJUm45D/TjhT83YJAbvGdPE0lq3ZfAr8yciry0hU0YKOJerX3rCUvmYljcVVJ4+TolbAtGwC7iiaOinYQ4Lv/xHjeuvQ7qZAn9hHs+5Fl6I5GBjhhC0WizfCTZSGzHrTNY6jYayjwsOwgBSDuzo6RJJ3rytqDnr03O+kDqEBydNtZH5fkiX1lVVVIQQIktANh/kCHy1PaScDrpTM/7QSvrYxJka72rJ8ggnWFN127Dofln[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-694dc5d3-60d9-d300-c0fc-d4cde9971b2f/my%20cool%20blob?sv=Sanitized&st=2024-06-11T19%3A18%3A33Z&se=2024-06-11T21%3A18%3A33Z&sr=b&sp=racwd&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "I5run/c948SckhMS43PCpA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8A53AB566B0D\"",
        "Last-Modified": "Tue, 11 Jun 2024 20:18:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 11 Jun 2024 20:18:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Tue, 11 Jun 2024 20:18:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-11T20:18:34.1253901Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-694dc5d3-60d9-d300-c0fc-d4cde9971b2f?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 20:18:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.blob.core.windows.net/\" ContainerName=\"test-container-694dc5d3-60d9-d300-c0fc-d4cde9971b2f\"><Blobs><Blob><Name>my cool blob</Name><VersionId>2024-06-11T20:18:34.1253901Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Tue, 11 Jun 2024 20:18:34 GMT</Creation-Time><Last-Modified>Tue, 11 Jun 2024 20:18:34 GMT</Last-Modified><Etag>0x8DC8A53AB566B0D</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>I5run/c948SckhMS43PCpA==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Tue, 11 Jun 2024 20:18:34 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-694dc5d3-60d9-d300-c0fc-d4cde9971b2f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 11 Jun 2024 20:18:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-11T15:18:33.0715798-05:00",
    "RandomSeed": "224306351",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
