{
  "Entries": [
    {
      "RequestUri": "https://seanuswest2.blob.core.windows.net/test-container-85c5a581-d59c-8022-b9b1-93a7c0c61dad?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 18:21:39 GMT",
        "x-ms-version": "3025-05-06"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>InvalidHeaderValue</Code><Message>The value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:29c50adb-501e-0021-6afd-c4d14f000000\n",
        "Time:2025-05-14T18:21:39.2949154Z</Message><HeaderName>x-ms-version</HeaderName><HeaderValue>3025-05-06</HeaderValue></Error>"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "81127293",
    "Storage_TestConfigDefault": "ProductionTenant\nseanuswest2\nU2FuaXRpemVk\nhttps://seanuswest2.blob.core.windows.net\nhttps://seanuswest2.file.core.windows.net\nhttps://seanuswest2.queue.core.windows.net\nhttps://seanuswest2.table.core.windows.net\n\n\n\n\nhttps://seanuswest2-secondary.blob.core.windows.net\nhttps://seanuswest2-secondary.file.core.windows.net\nhttps://seanuswest2-secondary.queue.core.windows.net\nhttps://seanuswest2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanuswest2.blob.core.windows.net/;QueueEndpoint=https://seanuswest2.queue.core.windows.net/;FileEndpoint=https://seanuswest2.file.core.windows.net/;BlobSecondaryEndpoint=https://seanuswest2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanuswest2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanuswest2-secondary.file.core.windows.net/;AccountName=seanuswest2;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
