{
  "Entries": [
    {
      "RequestUri": "https://y75xscnchi23pe01cx.blob.preprod.core.windows.net/test-container-504c157e-9d16-a849-eb8b-c1ad84102d6c?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 31 Mar 2026 19:24:57 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\n",
        "RequestId:2b0abbd1-d01e-000f-2e44-c1524a000000\n",
        "Time:2026-03-31T19:24:57.7471218Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "1918808846",
    "Storage_TestConfigDefault": "ProductionTenant\ny75xscnchi23pe01cx\nU2FuaXRpemVk\nhttps://y75xscnchi23pe01cx.blob.preprod.core.windows.net\nhttps://y75xscnchi23pe01cx.file.preprod.core.windows.net\nhttps://y75xscnchi23pe01cx.queue.preprod.core.windows.net\nhttps://y75xscnchi23pe01cx.table.preprod.core.windows.net\n\n\n\n\nhttps://y75xscnchi23pe01cx-secondary.blob.preprod.core.windows.net\nhttps://y75xscnchi23pe01cx-secondary.file.preprod.core.windows.net\nhttps://y75xscnchi23pe01cx-secondary.queue.preprod.core.windows.net\nhttps://y75xscnchi23pe01cx-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://y75xscnchi23pe01cx.blob.preprod.core.windows.net/;QueueEndpoint=https://y75xscnchi23pe01cx.queue.preprod.core.windows.net/;FileEndpoint=https://y75xscnchi23pe01cx.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://y75xscnchi23pe01cx-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://y75xscnchi23pe01cx-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://y75xscnchi23pe01cx-secondary.file.preprod.core.windows.net/;AccountName=y75xscnchi23pe01cx;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
