{
  "Entries": [
    {
      "RequestUri": "https://phnxscnchi10py01fx.blob.preprod.core.windows.net/test-container-89d9e78d-bd6f-7fcf-d86b-5d0dfb58944f?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Jun 2026 20:29:24 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\n",
        "RequestId:9909adb5-501e-0014-3997-fef42a000000\n",
        "Time:2026-06-17T20:29:24.4031976Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "550758986",
    "Storage_TestConfigDefault": "ProductionTenant\nphnxscnchi10py01fx\nU2FuaXRpemVk\nhttps://phnxscnchi10py01fx.blob.preprod.core.windows.net\nhttps://phnxscnchi10py01fx.file.preprod.core.windows.net\nhttps://phnxscnchi10py01fx.queue.preprod.core.windows.net\nhttps://phnxscnchi10py01fx.table.preprod.core.windows.net\n\n\n\n\nhttps://phnxscnchi10py01fx-secondary.blob.preprod.core.windows.net\nhttps://phnxscnchi10py01fx-secondary.file.preprod.core.windows.net\nhttps://phnxscnchi10py01fx-secondary.queue.preprod.core.windows.net\nhttps://phnxscnchi10py01fx-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://phnxscnchi10py01fx.blob.preprod.core.windows.net/;QueueEndpoint=https://phnxscnchi10py01fx.queue.preprod.core.windows.net/;FileEndpoint=https://phnxscnchi10py01fx.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://phnxscnchi10py01fx-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://phnxscnchi10py01fx-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://phnxscnchi10py01fx-secondary.file.preprod.core.windows.net/;AccountName=phnxscnchi10py01fx;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
