{
  "Entries": [
    {
      "RequestUri": "https://seansoftdelete.blob.core.windows.net/test-container-a2277438-63e9-89b1-e26c-7269d374c6b2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DECCAF1B0835A2\"",
        "Last-Modified": "Wed, 17 Jun 2026 20:29:17 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seansoftdelete.blob.core.windows.net/test-container-a2277438-63e9-89b1-e26c-7269d374c6b2/test-blob-49f2ffb2-807a-bcd4-f16a-14c41c289173",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DECCAF1B0FAFF8\"",
        "Last-Modified": "Wed, 17 Jun 2026 20:29:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seansoftdelete.blob.core.windows.net/test-container-a2277438-63e9-89b1-e26c-7269d374c6b2/test-blob-49f2ffb2-807a-bcd4-f16a-14c41c289173",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seansoftdelete.blob.core.windows.net/test-container-a2277438-63e9-89b1-e26c-7269d374c6b2?restype=container&comp=list&include=Deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.apache.arrow.stream",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "/////ygDAAAQAAAAAAAKAA4ABgAFAAgACgAAAAABBAAQAAAAAAAKAAwAAAAEAAgACgAAAGgAAAAEAAAAAgAAADQAAAAEAAAA3P///wgAAAAUAAAACgAAAE5leHRNYXJrZXIAAAAAAAAAAAAACAAMAAQACAAIAAAACAAAABgAAAAPAAAATnVtYmVyT2ZSZWNvcmRzAAEAAAAxAAAADAAAAGACAAAcAgAA2AEAAKgBAAB0AQAASAEAAAgBAADUAAAAoAAAAHQAAABEAAAABAAAACD+//8AAAECEAAAACgAAAAEAAAAAAAAABYAAABSZW1haW5pbmdSZXRlbnRpb25EYXlzAAAW////QAAAAFz+//8AAAEKEAAAABwAAAAEAAAAAAAAAAs[...]
    {
      "RequestUri": "https://seansoftdelete.blob.core.windows.net/test-container-a2277438-63e9-89b1-e26c-7269d374c6b2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1313865363",
    "Storage_TestConfigSoftDelete": "SoftDeleteTenant\nseansoftdelete\nU2FuaXRpemVk\nhttps://seansoftdelete.blob.core.windows.net\nhttps://seansoftdelete.file.core.windows.net\nhttps://seansoftdelete.queue.core.windows.net\nhttps://seansoftdelete.table.core.windows.net\n\n\n\n\nhttps://seansoftdelete-secondary.blob.core.windows.net\nhttps://seansoftdelete-secondary.file.core.windows.net\nhttps://seansoftdelete-secondary.queue.core.windows.net\nhttps://seansoftdelete-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seansoftdelete.blob.core.windows.net/;QueueEndpoint=https://seansoftdelete.queue.core.windows.net/;FileEndpoint=https://seansoftdelete.file.core.windows.net/;BlobSecondaryEndpoint=https://seansoftdelete-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seansoftdelete-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seansoftdelete-secondary.file.core.windows.net/;AccountName=seansoftdelete;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
