{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b0ea0c1c-f5b5-8d1c-667f-f751d6e91682?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:27:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86802C627B44\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:27:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b0ea0c1c-f5b5-8d1c-667f-f751d6e91682/test-blob-bca7e89f-aef5-1ee4-a874-d49a7ed0a551",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:27:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "kqs7/lsPP+T9ndNxkLyss2BNrP9tMFZn829dzdQwH42WGxQf7bvOj6jDv1jac43syCE5MCSl5GFU1ArrsnIPzX1G2nSnjMakfxxXqXH+jIDhcQWz9u9o8Tezyhix4t02tPHalJgZRDtblLAITTrwVUeKCUBsW9eN3ek99MKt85w/IfV/JPjnyC3KWGE/YKP9wnXRJtmcyVgaTLev3FB5raATySxEcTFPo0ATogJ1TnxFPzFM283DoledZNdBN+zcUavAK5d3uFFDgoOYiCdVpf06apweLNHTUCbUpwxZDmtTNlBXtSLlzYfgCVlKKhkwR7/aBs1QviXZ7NtwoxFE6nQXRFLW/e/bVJwVPiJ3iCUN[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b0ea0c1c-f5b5-8d1c-667f-f751d6e91682?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:27:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seancanary.blob.core.windows.net/\" ContainerName=\"test-container-b0ea0c1c-f5b5-8d1c-667f-f751d6e91682\"><Blobs><Blob><Name>test-blob-bca7e89f-aef5-1ee4-a874-d49a7ed0a551</Name><Properties><Creation-Time>Thu, 06 Jun 2024 23:27:03 GMT</Creation-Time><Last-Modified>Thu, 06 Jun 2024 23:27:03 GMT</Last-Modified><Etag>0x8DC86802C6E84D9</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>pca99dRvTuqy6dljd0Oxcw==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b0ea0c1c-f5b5-8d1c-667f-f751d6e91682?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:27:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1187563501",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
