{
  "Entries": [
    {
      "RequestUri": "https://y75xscnchi23pe01cx.blob.preprod.core.windows.net/test-container-bb0ea696-a206-be06-7379-55defccd5f80?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 31 Mar 2026 19:24:36 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8F5B2575CDC8\"",
        "Last-Modified": "Tue, 31 Mar 2026 19:24:36 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://y75xscnchi23pe01cx.blob.preprod.core.windows.net/test-container-bb0ea696-a206-be06-7379-55defccd5f80/test-blob-ac15b4d8-14a8-3210-d516-1f1dcdec2952",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 31 Mar 2026 19:24:36 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8F5B257BCB44\"",
        "Last-Modified": "Tue, 31 Mar 2026 19:24:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://y75xscnchi23pe01cx.blob.preprod.core.windows.net/test-container-bb0ea696-a206-be06-7379-55defccd5f80?restype=container&comp=list&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 31 Mar 2026 19:24:36 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.apache.arrow.stream",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "/////+gCAAAQAAAAAAAKAA4ABgAFAAgACgAAAAABBAAQAAAAAAAKAAwAAAAEAAgACgAAAGgAAAAEAAAAAgAAADQAAAAEAAAA3P///wgAAAAUAAAACgAAAE5leHRNYXJrZXIAAAAAAAAAAAAACAAMAAQACAAIAAAACAAAABgAAAAPAAAATnVtYmVyT2ZSZWNvcmRzAAEAAAAxAAAACwAAACQCAADgAQAAnAEAAGwBAAA4AQAADAEAAMwAAACYAAAAaAAAADgAAAAEAAAAWP7//wAAAQYQAAAAIAAAAAQAAAAAAAAADwAAAFNlcnZlckVuY3J5cHRlZAAQ/v//iP7//wAAAQUQAAAAHAAAAAQAAAAAAAAACwAAAExlYXNlU3RhdHVzADz[...]
    {
      "RequestUri": "https://y75xscnchi23pe01cx.blob.preprod.core.windows.net/test-container-bb0ea696-a206-be06-7379-55defccd5f80?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 31 Mar 2026 19:24:36 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1712218936",
    "Storage_TestConfigDefault": "ProductionTenant\ny75xscnchi23pe01cx\nU2FuaXRpemVk\nhttps://y75xscnchi23pe01cx.blob.preprod.core.windows.net\nhttps://y75xscnchi23pe01cx.file.preprod.core.windows.net\nhttps://y75xscnchi23pe01cx.queue.preprod.core.windows.net\nhttps://y75xscnchi23pe01cx.table.preprod.core.windows.net\n\n\n\n\nhttps://y75xscnchi23pe01cx-secondary.blob.preprod.core.windows.net\nhttps://y75xscnchi23pe01cx-secondary.file.preprod.core.windows.net\nhttps://y75xscnchi23pe01cx-secondary.queue.preprod.core.windows.net\nhttps://y75xscnchi23pe01cx-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://y75xscnchi23pe01cx.blob.preprod.core.windows.net/;QueueEndpoint=https://y75xscnchi23pe01cx.queue.preprod.core.windows.net/;FileEndpoint=https://y75xscnchi23pe01cx.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://y75xscnchi23pe01cx-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://y75xscnchi23pe01cx-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://y75xscnchi23pe01cx-secondary.file.preprod.core.windows.net/;AccountName=y75xscnchi23pe01cx;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
