{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c34c8925-8fa3-ffb9-79d0-97917c97ffcc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:11:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8704146FA5AA\"",
        "Last-Modified": "Fri, 07 Jun 2024 15:11:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c34c8925-8fa3-ffb9-79d0-97917c97ffcc/test-blob-4843e6d5-10a8-380b-97be-df2ddf1a8ab5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 15:11:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "v87M3WhPXwGZ/i3lNKu+ebF5yI6AyCC0kvUYrn5wVK8JAocAnubNhodCrqniJgTr/2V8ZVL8NfauF0pyN7CCKKl92zEkvdrLq0IGPRp20WzxLK4Z9O5dDc2QUoabW0/XwIX/ZUrSx0KKsLoQ9ffcN0begQoBaTS7IM1kk2tUL1DyL32UdmwhH2RsjkMzTRfVtBpAvdlE1VZRRER9bTPWNoFqHcZ6SMHZvGGlldrxh9O1j99QFHJ2rlkmQjIopLExlVjCyS9RW2xYZgB4nj98YLxwx95ThiIO829sUwWPsRiwdP+CLr6jZDRz965y/g8ZquJ1t93S3Q82s9bA5QdmybToxypA+TH+zGOq4I5zm/Vf[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c34c8925-8fa3-ffb9-79d0-97917c97ffcc?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:11:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.blob.core.windows.net/\" ContainerName=\"test-container-c34c8925-8fa3-ffb9-79d0-97917c97ffcc\"><Blobs><Blob><Name>test-blob-4843e6d5-10a8-380b-97be-df2ddf1a8ab5</Name><VersionId>2024-06-07T15:11:17.2880451Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 07 Jun 2024 15:11:17 GMT</Creation-Time><Last-Modified>Fri, 07 Jun 2024 15:11:17 GMT</Last-Modified><Etag>0x8DC870414794C43</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>lPh4lXJsImGtaTDO4Ej/VQ==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Fri, 07 Jun 2024 15:11:17 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c34c8925-8fa3-ffb9-79d0-97917c97ffcc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 15:11:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1252083235",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
