{
  "Entries": [
    {
      "RequestUri": "https://yn6xscnchi23pe01cx.blob.preprod.core.windows.net/test-container-c036670b-40e0-001f-8fbf-1ab336cec129?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 24 Jun 2026 21:07:47 GMT",
        "x-ms-version": "2026-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED234A61D20B1\"",
        "Last-Modified": "Wed, 24 Jun 2026 21:07:50 GMT",
        "x-ms-version": "2026-12-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://yn6xscnchi23pe01cx.blob.preprod.core.windows.net/test-container-c036670b-40e0-001f-8fbf-1ab336cec129/test-blob-0ae63bdf-50eb-c259-9a42-f5d5606ef089",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 24 Jun 2026 21:07:47 GMT",
        "x-ms-version": "2026-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DED234A6255490\"",
        "Last-Modified": "Wed, 24 Jun 2026 21:07:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-12-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://yn6xscnchi23pe01cx.blob.preprod.core.windows.net/test-container-c036670b-40e0-001f-8fbf-1ab336cec129/test-blob-0ae63bdf-50eb-c259-9a42-f5d5606ef089?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 24 Jun 2026 21:07:47 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DED234A62C9F5E\"",
        "Last-Modified": "Wed, 24 Jun 2026 21:07:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-12-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://yn6xscnchi23pe01cx.blob.preprod.core.windows.net/test-container-c036670b-40e0-001f-8fbf-1ab336cec129?restype=container&comp=list&include=Versions",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 24 Jun 2026 21:07:47 GMT",
        "x-ms-version": "2026-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.apache.arrow.stream",
        "x-ms-version": "2026-12-06"
      },
      "ResponseBody": "/////+gCAAAQAAAAAAAKAA4ABgAFAAgACgAAAAABBAAQAAAAAAAKAAwAAAAEAAgACgAAAGgAAAAEAAAAAgAAADQAAAAEAAAA3P///xAAAAAEAAAAAAAAAAAAAAAKAAAATmV4dE1hcmtlcgAACAAMAAQACAAIAAAAEAAAAAQAAAABAAAAMQAAAA8AAABOdW1iZXJPZlJlY29yZHMACwAAACQCAADgAQAAnAEAAGwBAAA4AQAADAEAAMwAAACYAAAAaAAAADgAAAAEAAAAWP7//wAAAQYQAAAAIAAAAAQAAAAAAAAADwAAAFNlcnZlckVuY3J5cHRlZAAQ/v//iP7//wAAAQUQAAAAHAAAAAQAAAAAAAAACwAAAExlYXNlU3RhdHVzADz[...]
    {
      "RequestUri": "https://yn6xscnchi23pe01cx.blob.preprod.core.windows.net/test-container-c036670b-40e0-001f-8fbf-1ab336cec129?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 24 Jun 2026 21:07:48 GMT",
        "x-ms-version": "2026-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-12-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2141494751",
    "Storage_TestConfigDefault": "ProductionTenant\nyn6xscnchi23pe01cx\nU2FuaXRpemVk\nhttps://yn6xscnchi23pe01cx.blob.preprod.core.windows.net\nhttps://yn6xscnchi23pe01cx.file.preprod.core.windows.net\nhttps://yn6xscnchi23pe01cx.queue.preprod.core.windows.net\nhttps://yn6xscnchi23pe01cx.table.preprod.core.windows.net\n\n\n\n\nhttps://yn6xscnchi23pe01cx-secondary.blob.preprod.core.windows.net\nhttps://yn6xscnchi23pe01cx-secondary.file.preprod.core.windows.net\nhttps://yn6xscnchi23pe01cx-secondary.queue.preprod.core.windows.net\nhttps://yn6xscnchi23pe01cx-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://yn6xscnchi23pe01cx.blob.preprod.core.windows.net/;QueueEndpoint=https://yn6xscnchi23pe01cx.queue.preprod.core.windows.net/;FileEndpoint=https://yn6xscnchi23pe01cx.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://yn6xscnchi23pe01cx-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://yn6xscnchi23pe01cx-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://yn6xscnchi23pe01cx-secondary.file.preprod.core.windows.net/;AccountName=yn6xscnchi23pe01cx;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
