{
  "Entries": [
    {
      "RequestUri": "https://yn6xscnchi23pe01cx.blob.preprod.core.windows.net/test-container-c870e0e0-fb72-4490-a2e9-a69b2a593806?restype=container&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 24 Jun 2026 21:07:41 GMT",
        "x-ms-version": "2026-12-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerNotFound",
        "x-ms-version": "2026-12-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\n",
        "RequestId:8db55239-c01e-0013-141d-04002a000000\n",
        "Time:2026-06-24T21:07:43.6640774Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "RandomSeed": "1149733549",
    "Storage_TestConfigDefault": "ProductionTenant\nyn6xscnchi23pe01cx\nU2FuaXRpemVk\nhttps://yn6xscnchi23pe01cx.blob.preprod.core.windows.net\nhttps://yn6xscnchi23pe01cx.file.preprod.core.windows.net\nhttps://yn6xscnchi23pe01cx.queue.preprod.core.windows.net\nhttps://yn6xscnchi23pe01cx.table.preprod.core.windows.net\n\n\n\n\nhttps://yn6xscnchi23pe01cx-secondary.blob.preprod.core.windows.net\nhttps://yn6xscnchi23pe01cx-secondary.file.preprod.core.windows.net\nhttps://yn6xscnchi23pe01cx-secondary.queue.preprod.core.windows.net\nhttps://yn6xscnchi23pe01cx-secondary.table.preprod.core.windows.net\nCloud\nBlobEndpoint=https://yn6xscnchi23pe01cx.blob.preprod.core.windows.net/;QueueEndpoint=https://yn6xscnchi23pe01cx.queue.preprod.core.windows.net/;FileEndpoint=https://yn6xscnchi23pe01cx.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://yn6xscnchi23pe01cx-secondary.blob.preprod.core.windows.net/;QueueSecondaryEndpoint=https://yn6xscnchi23pe01cx-secondary.queue.preprod.core.windows.net/;FileSecondaryEndpoint=https://yn6xscnchi23pe01cx-secondary.file.preprod.core.windows.net/;AccountName=yn6xscnchi23pe01cx;AccountKey=U2FuaXRpemVk\nseanscope1\n\n"
  }
}
