{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "c3e77514-7d11-426f-83ca-88c20971594c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "DP-Renzo-DevTest",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourcegroups/sdk-test-rg88636297?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg88636297",
        "name": "sdk-test-rg88636297",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg88636297/providers/Microsoft.DatabaseFleetManager/fleets/fleet7930?api-version=2025-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/10cd7b5d-29cc-4b13-9096-89f59801fdad?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded"
        },
        "location": "UK South",
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg88636297/providers/Microsoft.DatabaseFleetManager/fleets/fleet7930",
        "name": "fleet7930",
        "type": "Microsoft.DatabaseFleetManager/fleets"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/10cd7b5d-29cc-4b13-9096-89f59801fdad?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/10cd7b5d-29cc-4b13-9096-89f59801fdad?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/10cd7b5d-29cc-4b13-9096-89f59801fdad",
        "name": "10cd7b5d-29cc-4b13-9096-89f59801fdad",
        "status": "Succeeded",
        "startTime": "2025-02-24T13:53:44.19Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg88636297/providers/Microsoft.DatabaseFleetManager/fleets/fleet7930/tiers/tier2991?api-version=2025-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "pooled": true,
          "serviceTier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 2,
          "poolNumOfDatabasesMax": 4,
          "databaseCapacityMin": 0,
          "databaseCapacityMax": 2
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleet/operationStatuses/6995cd75-7fa4-0917-9c9b-36830af05aa0?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "disabled": false,
          "serverless": false,
          "pooled": true,
          "serviceTier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 2,
          "poolNumOfDatabasesMax": 4,
          "databaseCapacityMin": 0.0,
          "databaseCapacityMax": 2.0,
          "provisioningState": "Accepted",
          "zoneRedundancy": "Disabled"
        },
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg88636297/providers/Microsoft.DatabaseFleetManager/fleets/fleet7930/tiers/tier2991",
        "name": "tier2991",
        "type": "Microsoft.DatabaseFleetManager/fleets/tiers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleet/operationStatuses/6995cd75-7fa4-0917-9c9b-36830af05aa0?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleet/operationStatuses/6995cd75-7fa4-0917-9c9b-36830af05aa0?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleet/operationStatuses/6995cd75-7fa4-0917-9c9b-36830af05aa0",
        "name": "6995cd75-7fa4-0917-9c9b-36830af05aa0",
        "status": "Succeeded",
        "startTime": "2025-02-24T13:53:45.203Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg88636297/providers/Microsoft.DatabaseFleetManager/fleets/fleet7930/fleetspaces/fleetspace7735?api-version=2025-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "capacityMax": 10,
          "mainPrincipal": {
            "login": "MyMainPrincipal",
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "objectId": "00000000-0000-0000-0000-000000000002",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "principalType": "Application"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/AllocateFleetspace/operationStatuses/49eb2d2e-d425-8f11-c25a-2b3a44531e94?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Accepted",
          "capacityMax": 10,
          "mainPrincipal": {
            "login": "MyMainPrincipal",
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "objectId": "00000000-0000-0000-0000-000000000002",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "principalType": "Application"
          }
        },
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg88636297/providers/Microsoft.DatabaseFleetManager/fleets/fleet7930/fleetspaces/fleetspace7735",
        "name": "fleetspace7735",
        "type": "Microsoft.DatabaseFleetManager/fleetspaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/AllocateFleetspace/operationStatuses/49eb2d2e-d425-8f11-c25a-2b3a44531e94?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/AllocateFleetspace/operationStatuses/49eb2d2e-d425-8f11-c25a-2b3a44531e94?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/AllocateFleetspace/operationStatuses/49eb2d2e-d425-8f11-c25a-2b3a44531e94",
        "name": "49eb2d2e-d425-8f11-c25a-2b3a44531e94",
        "status": "Succeeded",
        "startTime": "2025-02-24T13:53:46.207Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg88636297/providers/Microsoft.DatabaseFleetManager/fleets/fleet7930/fleetspaces/fleetspace7735/databases/db678?api-version=2025-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "createMode": "Default",
          "tierName": "tier2991"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/CreateDatabase/operationStatuses/9131f881-6705-ae87-4443-ee1612233953?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "originalDatabaseId": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg88636297/providers/Microsoft.Sql/servers//databases/db678",
          "provisioningState": "InProgress",
          "tierName": "tier2991"
        },
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg88636297/providers/Microsoft.DatabaseFleetManager/fleets/fleet7930/fleetspaces/fleetspace7735/databases/db678",
        "name": "db678",
        "type": "Microsoft.DatabaseFleetManager/fleets/databases"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/CreateDatabase/operationStatuses/9131f881-6705-ae87-4443-ee1612233953?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/CreateDatabase/operationStatuses/9131f881-6705-ae87-4443-ee1612233953?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/CreateDatabase/operationStatuses/9131f881-6705-ae87-4443-ee1612233953",
        "name": "9131f881-6705-ae87-4443-ee1612233953",
        "status": "Running",
        "startTime": "2025-02-24T13:53:47.483Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg88636297/providers/Microsoft.DatabaseFleetManager/fleets/fleet7930/fleetspaces/fleetspace7735/databases/db678?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "properties": {
          "originalDatabaseId": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/fleet-rg-8f988dfd-5376-408c-b4dc-1641bd3ff30f-uksouth-43384338/providers/Microsoft.Sql/servers/fleet-srv-8f988dfd-5376-408c-b4dc-1641bd3ff30f-b568ed1685ab/databases/db678",
          "provisioningState": "Succeeded",
          "tierName": "tier2991",
          "connectionString": "Sanitized",
          "backupRetentionDays": 7,
          "resourceTags": {},
          "collation": "SQL_Latin1_General_CP1_CI_AS"
        },
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg88636297/providers/Microsoft.DatabaseFleetManager/fleets/fleet7930/fleetspaces/fleetspace7735/databases/db678",
        "name": "db678",
        "type": "Microsoft.DatabaseFleetManager/fleets/databases"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg88636297/providers/Microsoft.DatabaseFleetManager/fleets?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded"
            },
            "location": "UK South",
            "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg88636297/providers/Microsoft.DatabaseFleetManager/fleets/fleet7930",
            "name": "fleet7930",
            "type": "Microsoft.DatabaseFleetManager/fleets"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg88636297/providers/Microsoft.DatabaseFleetManager/fleets/fleet7930?api-version=2025-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/f3a87cfd-cd9d-40e7-ad55-71ae2c027a27?api-version=2025-02-01-preview",
        "Location": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationResults/f3a87cfd-cd9d-40e7-ad55-71ae2c027a27?api-version=2025-02-01-preview",
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/f3a87cfd-cd9d-40e7-ad55-71ae2c027a27?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/f3a87cfd-cd9d-40e7-ad55-71ae2c027a27?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/f3a87cfd-cd9d-40e7-ad55-71ae2c027a27",
        "name": "f3a87cfd-cd9d-40e7-ad55-71ae2c027a27",
        "status": "Running",
        "startTime": "2025-02-24T13:56:11.017Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/f3a87cfd-cd9d-40e7-ad55-71ae2c027a27?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/f3a87cfd-cd9d-40e7-ad55-71ae2c027a27?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/f3a87cfd-cd9d-40e7-ad55-71ae2c027a27",
        "name": "f3a87cfd-cd9d-40e7-ad55-71ae2c027a27",
        "status": "Succeeded",
        "startTime": "2025-02-24T13:56:11.017Z"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2114472838",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "c3e77514-7d11-426f-83ca-88c20971594c"
  }
}
