{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "c3e77514-7d11-426f-83ca-88c20971594c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "DP-Renzo-DevTest",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourcegroups/sdk-test-rg59277709?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg59277709",
        "name": "sdk-test-rg59277709",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg59277709/providers/Microsoft.DatabaseFleetManager/fleets/fleet5599?api-version=2025-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/00f76a71-86a1-4d8a-95c8-0aa929659f84?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded"
        },
        "location": "UK South",
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg59277709/providers/Microsoft.DatabaseFleetManager/fleets/fleet5599",
        "name": "fleet5599",
        "type": "Microsoft.DatabaseFleetManager/fleets"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/00f76a71-86a1-4d8a-95c8-0aa929659f84?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/00f76a71-86a1-4d8a-95c8-0aa929659f84?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpsertFleet/operationStatuses/00f76a71-86a1-4d8a-95c8-0aa929659f84",
        "name": "00f76a71-86a1-4d8a-95c8-0aa929659f84",
        "status": "Succeeded",
        "startTime": "2025-02-24T13:09:01.067Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg59277709/providers/Microsoft.DatabaseFleetManager/fleets/fleet5599/tiers/tier5589?api-version=2025-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "pooled": true,
          "serviceTier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 2,
          "poolNumOfDatabasesMax": 4,
          "databaseCapacityMin": 0,
          "databaseCapacityMax": 2
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleet/operationStatuses/059e660b-f9ca-86fe-d0eb-4e3345f7d16a?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "disabled": false,
          "serverless": false,
          "pooled": true,
          "serviceTier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 2,
          "poolNumOfDatabasesMax": 4,
          "databaseCapacityMin": 0.0,
          "databaseCapacityMax": 2.0,
          "provisioningState": "Accepted",
          "zoneRedundancy": "Disabled"
        },
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg59277709/providers/Microsoft.DatabaseFleetManager/fleets/fleet5599/tiers/tier5589",
        "name": "tier5589",
        "type": "Microsoft.DatabaseFleetManager/fleets/tiers"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleet/operationStatuses/059e660b-f9ca-86fe-d0eb-4e3345f7d16a?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleet/operationStatuses/059e660b-f9ca-86fe-d0eb-4e3345f7d16a?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/UpdateFleet/operationStatuses/059e660b-f9ca-86fe-d0eb-4e3345f7d16a",
        "name": "059e660b-f9ca-86fe-d0eb-4e3345f7d16a",
        "status": "Succeeded",
        "startTime": "2025-02-24T13:09:02.01Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg59277709/providers/Microsoft.DatabaseFleetManager/fleets/fleet5599/fleetspaces/fleetspace4686?api-version=2025-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "capacityMax": 10,
          "mainPrincipal": {
            "login": "MyMainPrincipal",
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "objectId": "00000000-0000-0000-0000-000000000002",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "principalType": "Application"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/AllocateFleetspace/operationStatuses/ebc5cb07-d673-dcd8-a192-7ae06e4e0833?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Accepted",
          "capacityMax": 10,
          "mainPrincipal": {
            "login": "MyMainPrincipal",
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "objectId": "00000000-0000-0000-0000-000000000002",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "principalType": "Application"
          }
        },
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg59277709/providers/Microsoft.DatabaseFleetManager/fleets/fleet5599/fleetspaces/fleetspace4686",
        "name": "fleetspace4686",
        "type": "Microsoft.DatabaseFleetManager/fleetspaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/AllocateFleetspace/operationStatuses/ebc5cb07-d673-dcd8-a192-7ae06e4e0833?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/AllocateFleetspace/operationStatuses/ebc5cb07-d673-dcd8-a192-7ae06e4e0833?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/AllocateFleetspace/operationStatuses/ebc5cb07-d673-dcd8-a192-7ae06e4e0833",
        "name": "ebc5cb07-d673-dcd8-a192-7ae06e4e0833",
        "status": "Succeeded",
        "startTime": "2025-02-24T13:09:02.897Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg59277709/providers/Microsoft.DatabaseFleetManager/fleets/fleet5599/fleetspaces/fleetspace4686/databases/db7780?api-version=2025-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "createMode": "Default",
          "tierName": "tier5589"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/CreateDatabase/operationStatuses/0629e322-51f1-1204-3e83-3d33f805e04d?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11998",
        "x-ms-ratelimit-remaining-subscription-writes": "798"
      },
      "ResponseBody": {
        "properties": {
          "originalDatabaseId": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg59277709/providers/Microsoft.Sql/servers//databases/db7780",
          "provisioningState": "InProgress",
          "tierName": "tier5589"
        },
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg59277709/providers/Microsoft.DatabaseFleetManager/fleets/fleet5599/fleetspaces/fleetspace4686/databases/db7780",
        "name": "db7780",
        "type": "Microsoft.DatabaseFleetManager/fleets/databases"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/CreateDatabase/operationStatuses/0629e322-51f1-1204-3e83-3d33f805e04d?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/CreateDatabase/operationStatuses/0629e322-51f1-1204-3e83-3d33f805e04d?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/CreateDatabase/operationStatuses/0629e322-51f1-1204-3e83-3d33f805e04d",
        "name": "0629e322-51f1-1204-3e83-3d33f805e04d",
        "status": "Running",
        "startTime": "2025-02-24T13:09:03.957Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg59277709/providers/Microsoft.DatabaseFleetManager/fleets/fleet5599/fleetspaces/fleetspace4686/databases/db7780?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "properties": {
          "originalDatabaseId": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/fleet-rg-04a7fa18-904a-4f41-9cd0-8c99e80191c6-uksouth-84890475/providers/Microsoft.Sql/servers/fleet-srv-04a7fa18-904a-4f41-9cd0-8c99e80191c6-768ca2c9ade4/databases/db7780",
          "provisioningState": "Succeeded",
          "tierName": "tier5589",
          "connectionString": "Sanitized",
          "backupRetentionDays": 7,
          "resourceTags": {},
          "collation": "SQL_Latin1_General_CP1_CI_AS"
        },
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg59277709/providers/Microsoft.DatabaseFleetManager/fleets/fleet5599/fleetspaces/fleetspace4686/databases/db7780",
        "name": "db7780",
        "type": "Microsoft.DatabaseFleetManager/fleets/databases"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg59277709/providers/Microsoft.DatabaseFleetManager/fleets?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded"
            },
            "location": "UK South",
            "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg59277709/providers/Microsoft.DatabaseFleetManager/fleets/fleet5599",
            "name": "fleet5599",
            "type": "Microsoft.DatabaseFleetManager/fleets"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/resourceGroups/sdk-test-rg59277709/providers/Microsoft.DatabaseFleetManager/fleets/fleet5599?api-version=2025-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/ba56c6e3-98c6-47c6-83ab-015168a1d52f?api-version=2025-02-01-preview",
        "Location": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationResults/ba56c6e3-98c6-47c6-83ab-015168a1d52f?api-version=2025-02-01-preview",
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/ba56c6e3-98c6-47c6-83ab-015168a1d52f?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/ba56c6e3-98c6-47c6-83ab-015168a1d52f?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/ba56c6e3-98c6-47c6-83ab-015168a1d52f",
        "name": "ba56c6e3-98c6-47c6-83ab-015168a1d52f",
        "status": "Running",
        "startTime": "2025-02-24T13:12:00.007Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/ba56c6e3-98c6-47c6-83ab-015168a1d52f?api-version=2025-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/ba56c6e3-98c6-47c6-83ab-015168a1d52f?api-version=2025-02-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/c3e77514-7d11-426f-83ca-88c20971594c/providers/Microsoft.DatabaseFleetManager/locations/uksouth/operationTypes/RemoveFleet/operationStatuses/ba56c6e3-98c6-47c6-83ab-015168a1d52f",
        "name": "ba56c6e3-98c6-47c6-83ab-015168a1d52f",
        "status": "Succeeded",
        "startTime": "2025-02-24T13:12:00.007Z"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1186194171",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "c3e77514-7d11-426f-83ca-88c20971594c"
  }
}
