{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/066c6e9e-c9ae-453d-bd2c-dacb1194fc0d?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/066c6e9e-c9ae-453d-bd2c-dacb1194fc0d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "subscriptionId": "066c6e9e-c9ae-453d-bd2c-dacb1194fc0d",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Test_Test_PBIE_ILDC_PBIOTEST_WestEurope_Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/066c6e9e-c9ae-453d-bd2c-dacb1194fc0d/resourcegroups/rg-badeamarjiehfabric?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/066c6e9e-c9ae-453d-bd2c-dacb1194fc0d/resourceGroups/rg-badeamarjiehfabric",
        "name": "rg-badeamarjiehfabric",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Owners": "badeamarjieh",
          "DeleteAfter": "2024-07-22T12:32:26.3361867+00:00",
          "ServiceDirectory": "fabric"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/066c6e9e-c9ae-453d-bd2c-dacb1194fc0d/resourceGroups/rg-badeamarjiehfabric/providers/Microsoft.Fabric/capacities/ta67127488ee9bc48?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-current-utc-date": "7/14/2024 9:05:46 AM",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "state": "Active",
          "administration": {
            "members": [
              "VsavTest@pbiotest.onmicrosoft.com"
            ]
          }
        },
        "id": "/subscriptions/066c6e9e-c9ae-453d-bd2c-dacb1194fc0d/resourceGroups/rg-badeamarjiehfabric/providers/Microsoft.Fabric/capacities/ta67127488ee9bc48",
        "name": "ta67127488ee9bc48",
        "type": "Microsoft.Fabric/capacities",
        "location": "West US",
        "sku": {
          "name": "F2",
          "tier": "Fabric"
        },
        "tags": {
          "azd-env-name": "TEST"
        }
      }
    }
  ],
  "Variables": {
    "FABRIC_CAPACITY_ID": "/subscriptions/066c6e9e-c9ae-453d-bd2c-dacb1194fc0d/resourceGroups/rg-badeamarjiehfabric/providers/Microsoft.Fabric/capacities/ta67127488ee9bc48",
    "FABRIC_CAPACITY_NAME": "ta67127488ee9bc48",
    "FABRIC_LOCATION": "westus",
    "RandomSeed": "2010993552",
    "RESOURCE_GROUP": "rg-badeamarjiehfabric",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "066c6e9e-c9ae-453d-bd2c-dacb1194fc0d"
  }
}
