{
  "Entries": [
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes(\u0027fidtfauu\u0027)/docs/search.post.search?api-version=2023-07-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "queryType": "semantic",
        "semanticConfiguration": "my-semantic-config",
        "search": "Is there any hotel located on the main commercial artery of the city in the heart of New York?",
        "queryLanguage": "en-us",
        "answers": "extractive",
        "select": "hotelId,hotelName,description,category",
        "captions": "extractive|highlight-True"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "119",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@search.answers": [
          {
            "key": "9",
            "text": "Secret Point Motel. Boutique. The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time\u0027s Square and the historic centre of the city, as well as other places of interest that make New York one of America\u0027s most attractive and cosmopolitan cities..",
            "highlights": "\u003Cem\u003ESecret Point Motel. Boutique.\u003C/em\u003E The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time\u0027s Square and the historic centre of the city, as well as other places of interest that make New York one of America\u0027s most attractive and cosmopolitan cities..",
            "score": 0.95361328125
          }
        ],
        "value": [
          {
            "@search.score": 7.080782,
            "@search.rerankerScore": 1.85107421875,
            "@search.captions": [
              {
                "text": "Secret Point Motel. Boutique. The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time\u0027s Square and the historic centre of the city, as well as other places of interest that make New York one of America\u0027s most attractive and cosmopolitan cities..",
                "highlights": "Secret Point Motel. Boutique. The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time\u0027s Square and the historic centre of the city, as well as other places of interest that make\u003Cem\u003E New York\u003C/em\u003E one of America\u0027s most attractive and cosmopolitan cities.."
              }
            ],
            "hotelId": "9",
            "hotelName": "Secret Point Motel",
            "description": "The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time\u0027s Square and the historic centre of the city, as well as other places of interest that make New York one of America\u0027s most attractive and cosmopolitan cities.",
            "category": "Boutique"
          },
          {
            "@search.score": 0.5337951,
            "@search.rerankerScore": 0.84381103515625,
            "@search.captions": [
              {
                "text": "EconoStay. Budget. Very popular hotel in town.",
                "highlights": ""
              }
            ],
            "hotelId": "3",
            "hotelName": "EconoStay",
            "description": "Very popular hotel in town",
            "category": "Budget"
          },
          {[...]
    {
      "RequestUri": "https://azs-net-t0eeade0124fbb432.search.windows.net/indexes(\u0027fidtfauu\u0027)?api-version=2023-07-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "145"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "763819949",
    "SearchIndexName": "fidtfauu",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-t0eeade0124fbb432"
  }
}
