{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027qkhnauka\u0027)/docs/search.post.search?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "queryType": "semantic",
        "search": "Is there any luxury hotel in New York?",
        "semanticConfiguration": "my-semantic-config",
        "semanticMaxWaitInMilliseconds": 700,
        "answers": "extractive",
        "captions": "extractive|highlight-True"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequestParameter",
          "message": "The \u0027semanticMaxWaitInMilliseconds\u0027 parameter needs to be larger than 750.\r\nParameter name: semanticMaxWaitInMilliseconds",
          "details": [
            {
              "code": "ParameterValueOutOfRange",
              "message": "The \u0027semanticMaxWaitInMilliseconds\u0027 parameter needs to be larger than 750."
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027qkhnauka\u0027)?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "253",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1669855239",
    "SearchIndexName": "qkhnauka",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
