{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes?api-version=2024-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "nlewgxbw",
        "fields": [
          {
            "name": "Id",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "Name",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "Description",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "en.microsoft"
          },
          {
            "name": "DescriptionVector",
            "type": "Collection(Edm.Single)",
            "key": false,
            "retrievable": true,
            "stored": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "dimensions": 1536,
            "vectorSearchProfile": "my-vector-profile"
          }
        ],
        "vectorSearch": {
          "profiles": [
            {
              "name": "my-vector-profile",
              "algorithm": "my-hsnw-vector-config"
            }
          ],
          "algorithms": [
            {
              "name": "my-hsnw-vector-config",
              "kind": "hnsw"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "840",
        "ETag": "\"0x8DD0D966383F07C\"",
        "Location": "https://azs-net-shrejasearchtest.search.windows.net/indexes('nlewgxbw')?api-version=2024-11-01-preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shrejasearchtest.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DD0D966383F07C\"",
        "name": "nlewgxbw",
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "Id",
            "type": "Edm.String",
            "searchable": false,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": false,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          },
          {
            "name": "Name",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfil[...]
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes('nlewgxbw')?allowIndexDowntime=false&api-version=2024-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "nlewgxbw",
        "fields": [
          {
            "name": "Id",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "stored": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": false,
            "synonymMaps": []
          },
          {
            "name": "Name",
            "type": "Edm.St[...]
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes('nlewgxbw')?api-version=2024-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "146",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "911456832",
    "SearchIndexName": "nlewgxbw",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchtest"
  }
}
