{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "lmiambgk",
        "vectorSearch": {
          "profiles": [
            {
              "name": "my-vector-profile",
              "algorithm": "my-hsnw-vector-config"
            }
          ],
          "algorithms": [
            {
              "name": "my-hsnw-vector-config",
              "kind": "hnsw"
            }
          ]
        },
        "fields": [
          {
            "name": "Id",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "Name",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "Description",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "en.microsoft"
          },
          {
            "name": "DescriptionVector",
            "type": "Collection(Edm.Single)",
            "key": false,
            "retrievable": true,
            "stored": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "dimensions": 1536,
            "vectorSearchProfile": "my-vector-profile"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "1101",
        "ETag": "\"0x8DE86BF3DE2AC5F\"",
        "Location": "https://azs-net-azssdktest.search.windows.net/indexes('lmiambgk')?api-version=2026-04-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-azssdktest.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DE86BF3DE2AC5F\"",
        "name": "lmiambgk",
        "description": null,
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "Id",
            "type": "Edm.String",
            "searchable": false,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": false,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          },
          {
            "name": "Name",
            "type": "Edm.String",
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "stored": true,
            "sortable": true,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "normalizer": null,
            "dimensions": null,
            "vectorSearchProfil[...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('lmiambgk')?api-version=2026-04-01&allowIndexDowntime=false",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "lmiambgk",
        "scoringProfiles": [],
        "suggesters": [],
        "analyzers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "normalizers": [],
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity"
        },
        "vectorSearch": {
          "profiles": [
            {
              "name": "updating-vector-profile-name",
              "algorithm": "my-hsnw-vector-config"
            }
          ],
          "algorithms": [
            {
              "name": "my-hsnw-vector-config",
              "kind": "hnsw",
              "hnswParameters": {
                "m": 4,
                "efConstruction": 400,
                "efSearch": 500,
                "metric": "cosine"
              }
            }
          ],
          "vectorizers": [],
          "compressions": []
        },
        "fields": [
          {
            "name": "Id",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "stored": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": false,
            "synonymMaps": []
          },
          {
            "name": "Name",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
    [...]
    {
      "RequestUri": "https://azs-net-azssdktest.search.windows.net/indexes('lmiambgk')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "180",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "510769732",
    "SearchIndexName": "lmiambgk",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azssdktest"
  }
}
