{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexes?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "llnwcblf",
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": false,
            "sortable": false,
            "facetable": false
          },
          {
            "name": "descriptionVector",
            "type": "Collection(Edm.Single)",
            "retrievable": false,
            "stored": true,
            "searchable": true,
            "dimensions": 1536,
            "vectorSearchProfile": "test-profile"
          }
        ],
        "vectorSearch": {
          "profiles": [
            {
              "name": "test-profile",
              "algorithm": "test-config"
            }
          ],
          "algorithms": [
            {
              "name": "test-config",
              "kind": "hnsw"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8",
        "elapsed-time": "778",
        "ETag": "\"0x8DE054271736911\"",
        "Location": "https://azs-net-shivangisearch.search.windows.net/indexes('llnwcblf')?api-version=2024-07-01",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-shivangisearch.search.windows.net/$metadata#indexes/$entity",
        "@odata.etag": "\"0x8DE054271736911\"",
        "name": "llnwcblf",
        "defaultScoringProfile": null,
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "searchable": false,
            "filterable": false,
            "retrievable": true,
            "stored": true,
            "sortable": false,
            "facetable": false,
            "key": true,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "dimensions": null,
            "vectorSearchProfile": null,
            "vectorEncoding": null,
            "synonymMaps": []
          },
          {
            "name": "descriptionVector",
            "type": "Collection(Edm.Single)",
            "searchable": true,
            "filterable": false,
            "retrievable": false,
            "stored": true,
            "sortable": false,
            "facetable": false,
            "key": false,
            "indexAnalyzer": null,
            "searchAnalyzer": null,
            "analyzer": null,
            "dimensions": 1536,
            "vectorSearchProfile": "test-profile",
            "vectorEncoding": null,
            "synonymMaps": []
          }
        ],
        "scoringProfiles": [],
        "corsOptions": null,
        "suggesters": [],
        "analyzers": [],
        "tokenizers": [],
        "tokenFilters": [],
        "charFilters": [],
        "encryptionKey": null,
        "similarity": {
          "@odata.type": "#Microsoft.Azure.Search.BM25Similarity",
          "k1": null,
          "b": null
        },
        "semantic": null,
        "vectorSearch": {
          "algorithms": [
            {
              "name": "test-config",
              "kind": "hnsw",
              "hnswParameters": {
                "metric": "cosine",
                "m": 4,
                "efConstruction": 400,
                "efSearch": 500
              },
              "exhaustiveKnnParameters": null
            }
          ],
          "profiles": [
            {
              "name": "test-profile",
              "algorithm": "test-config",
              "vectorizer": null,
              "compression": null
            }
          ],
          "vectorizers": [],
          "compressions": []
        }
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearch.search.windows.net/indexes('llnwcblf')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "139",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1286524082",
    "SearchIndexName": "llnwcblf",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearch"
  }
}
