{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexes?api-version=2024-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "bttckavk",
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": false,
            "sortable": false,
            "facetable": false
          },
          {
            "name": "descriptionVector",
            "type": "Collection(Edm.Single)",
            "retrievable": true,
            "stored": false,
            "searchable": true,
            "dimensions": 1536,
            "vectorSearchProfile": "test-profile"
          }
        ],
        "vectorSearch": {
          "profiles": [
            {
              "name": "test-profile",
              "algorithm": "test-config"
            }
          ],
          "algorithms": [
            {
              "name": "test-config",
              "kind": "hnsw"
            }
          ]
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "33"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequestParameter",
          "message": "The request is invalid. Details: definition : The field 'descriptionVector' is marked as not stored but is marked as retrievable. A retrievable field must be stored. Either set 'stored=false' and 'retrievable=false' or 'stored=true'.",
          "details": [
            {
              "code": "InvalidField",
              "message": "The field 'descriptionVector' is marked as not stored but is marked as retrievable. A retrievable field must be stored. Either set 'stored=false' and 'retrievable=false' or 'stored=true'. Parameters: definition"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://azs-net-shivangisearchtest4.search.windows.net/indexes('bttckavk')?api-version=2024-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "18"
      },
      "ResponseBody": {
        "error": {
          "code": "OperationNotAllowed",
          "message": "No index with the name 'bttckavk' was found in a service named 'azs-net-shivangisearchtest4'.",
          "details": [
            {
              "code": "IndexNotFoundInService",
              "message": "No index with the name 'bttckavk' was found in a service named 'azs-net-shivangisearchtest4'."
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1186859194",
    "SearchIndexName": "bttckavk",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shivangisearchtest4"
  }
}
