{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes?api-version=2024-03-01-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "ryiodngi",
        "fields": [
          {
            "name": "id",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": false,
            "sortable": false,
            "facetable": false
          },
          {
            "name": "descriptionVector",
            "type": "Collection(Edm.Single)",
            "retrievable": true,
            "stored": false,
            "searchable": true,
            "dimensions": 1536,
            "vectorSearchProfile": "test-profile"
          }
        ],
        "vectorSearch": {
          "profiles": [
            {
              "name": "test-profile",
              "algorithm": "test-config"
            }
          ],
          "algorithms": [
            {
              "name": "test-config",
              "kind": "hnsw"
            }
          ]
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "42"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequestParameter",
          "message": "The request is invalid. Details: definition : The field \u0027descriptionVector\u0027 is marked as not stored but is marked as retrievable. A retrievable field must be stored. Either set \u0027stored=false\u0027 and \u0027retrievable=false\u0027 or \u0027stored=true\u0027.",
          "details": [
            {
              "code": "InvalidField",
              "message": "The field \u0027descriptionVector\u0027 is marked as not stored but is marked as retrievable. A retrievable field must be stored. Either set \u0027stored=false\u0027 and \u0027retrievable=false\u0027 or \u0027stored=true\u0027. Parameters: definition"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://azs-net-shrejasearchservice.search.windows.net/indexes(\u0027ryiodngi\u0027)?api-version=2024-03-01-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "15"
      },
      "ResponseBody": {
        "error": {
          "code": "OperationNotAllowed",
          "message": "No index with the name \u0027ryiodngi\u0027 was found in a service named \u0027azs-net-shrejasearchservice\u0027.",
          "details": [
            {
              "code": "IndexNotFoundInService",
              "message": "No index with the name \u0027ryiodngi\u0027 was found in a service named \u0027azs-net-shrejasearchservice\u0027."
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "299964402",
    "SearchIndexName": "ryiodngi",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchservice"
  }
}
