{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-date": "Fri, 05 Jan 2024 14:04:13 GMT"
      },
      "RequestBody": {
        "ttl": 100
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "nHWijg0dl0m1fg9AfxV4/Q.0",
        "X-Processing-Time": "156ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "stun:relay.communication.microsoft.com:3478",
              "turn:relay.communication.microsoft.com:3478"
            ],
            "username": "sanitized",
            "credential": "sanitized"
          },
          {
            "routeType": "nearest",
            "urls": [
              "stun:20.202.255.225:3478",
              "turn:20.202.255.225:3478"
            ],
            "username": "sanitized",
            "credential": "sanitized"
          }
        ],
        "expiresOn": "2024-01-05T14:05:53.4674469\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
