{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Authorization/dataPolicyManifests/Microsoft.Network.Data?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "properties": {
          "namespaces": [
            "Microsoft.Network"
          ],
          "policyMode": "Microsoft.Network.Data",
          "isBuiltInOnly": false,
          "effects": [
            {
              "name": "addToNetworkGroup",
              "detailsSchema": {
                "type": "object",
                "properties": {
                  "networkGroupId": {
                    "type": "string",
                    "pattern": "(?i)^/subscriptions/[0-9A-F]{8}[-][0-9A-F]{4}[-][0-9A-F]{4}[-][0-9A-F]{4}[-][0-9A-F]{12}/resourceGroups/[-\\w\\._\\(\\)]{1,90}/providers/Microsoft\\.Network/networkManagers/[-\\w\\._]{2,64}/networkGroups/[-\\w\\._]{2,64}$"
                  }
                },
                "required": [
                  "networkGroupId"
                ],
                "additionalProperties": false
              }
            }
          ],
          "fieldValues": [
            "id",
            "name",
            "type",
            "location",
            "tags"
          ],
          "resourceFunctions": {
            "standard": [
              "subscription",
              "resourceGroup"
            ],
            "custom": []
          }
        },
        "id": "/providers/Microsoft.Authorization/dataPolicyManifests/Microsoft.Network.Data",
        "type": "Microsoft.Authorization/dataPolicyManifests",
        "name": "Microsoft.Network.Data"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "880456665",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "b6a8bef9-9220-454a-a229-f360b6e9f0f6"
  }
}
