{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip/items/ga_m_3308421_se_16_060_20211114-replace-test?api-version=2026-04-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.geocatalogs.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
        "operation-location": "https://Sanitized.geocatalogs.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-06-09T12:12:30.0196082Z"
          }
        ],
        "type": "DeleteItem",
        "creationTime": "2026-06-09T12:12:30.0196048Z",
        "collectionId": "naip"
      }
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-06-09T12:12:30.0196082Z"
          }
        ],
        "type": "DeleteItem",
        "creationTime": "2026-06-09T12:12:30.0196048Z",
        "collectionId": "naip"
      }
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Failed",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-06-09T12:12:30.019604Z"
          },
          {
            "status": "Running",
            "timestamp": "2026-06-09T12:12:30.687678Z"
          },
          {
            "status": "Failed",
            "timestamp": "2026-06-09T12:12:31.048456Z",
            "errorCode": "NoRecordsToDelete",
            "errorMessage": "Item 'ga_m_3308421_se_16_060_20211114-replace-test' does not exist in collection 'naip' to delete"
          }
        ],
        "type": "DeleteItem",
        "creationTime": "2026-06-09T12:12:30.019604Z",
        "startTime": "2026-06-09T12:12:30.019604Z",
        "finishTime": "2026-06-09T12:12:31.048456Z",
        "collectionId": "naip",
        "additionalInformation": {
          "TotalFailedItems": "1",
          "TotalItems": "1",
          "TotalPendingItems": "0",
          "TotalSuccessfulItems": "0"
        },
        "error": {
          "error": {
            "code": "NoRecordsToDelete",
            "message": "Item 'ga_m_3308421_se_16_060_20211114-replace-test' does not exist in collection 'naip' to delete"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip/items?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "Feature",
        "stac_version": "1.0.0",
        "links": [
          {
            "rel": "collection",
            "type": "application/json",
            "href": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip"
          }
        ],
        "geometry": {
          "type": "Point",
          "coordinates": [
            -84.39,
            33.67
          ]
        },
        "id": "ga_m_3308421_se_16_060_20211114-replace-test",
        "collection": "naip",
        "bbox": [
          -84.44,
          33.62,
          -84.37,
          33.69
        ],
        "properties": {
          "datetime": "2021-11-14T16:00:00Z"
        },
        "assets": {
          "image": {
            "href": "https://naipeuwest.blob.core.windows.net/naip/v002/ga/2021/ga_060cm_2021/33084/m_3308421_se_16_060_20211114.tif",
            "type": "image/tiff; application=geotiff; profile=cloud-optimized",
            "roles": [
              "data"
            ]
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.geocatalogs.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
        "operation-location": "https://Sanitized.geocatalogs.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-06-09T12:12:32.5941276Z"
          }
        ],
        "type": "AddItem",
        "creationTime": "2026-06-09T12:12:32.5941261Z",
        "collectionId": "naip"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip/items/ga_m_3308421_se_16_060_20211114-replace-test?api-version=2026-04-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "Feature",
        "stac_version": "1.0.0",
        "links": [
          {
            "rel": "collection",
            "type": "application/json",
            "href": "https://Sanitized.geocatalogs.azure.com/stac/collections/naip"
          }
        ],
        "geometry": {
          "type": "Point",
          "coordinates": [
            -84.39,
            33.67
          ]
        },
        "id": "ga_m_3308421_se_16_060_20211114-replace-test",
        "collection": "naip",
        "bbox": [
          -84.44,
          33.62,
          -84.37,
          33.69
        ],
        "properties": {
          "platform": "Replaced",
          "datetime": "2021-11-14T16:00:00Z"
        },
        "assets": {
          "image": {
            "href": "https://naipeuwest.blob.core.windows.net/naip/v002/ga/2021/ga_060cm_2021/33084/m_3308421_se_16_060_20211114.tif",
            "type": "image/tiff; application=geotiff; profile=cloud-optimized",
            "roles": [
              "data"
            ]
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.geocatalogs.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
        "operation-location": "https://Sanitized.geocatalogs.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-06-09T12:12:43.4858093Z"
          }
        ],
        "type": "UpdateItem",
        "creationTime": "2026-06-09T12:12:43.4858077Z",
        "collectionId": "naip"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-04-30-preview, 2026-04-15",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Succeeded",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-06-09T12:12:55.085834Z"
          },
          {
            "status": "Running",
            "timestamp": "2026-06-09T12:12:55.244776Z"
          },
          {
            "status": "Finished",
            "timestamp": "2026-06-09T12:12:55.834307Z"
          }
        ],
        "type": "DeleteItem",
        "creationTime": "2026-06-09T12:12:55.085834Z",
        "startTime": "2026-06-09T12:12:55.085834Z",
        "finishTime": "2026-06-09T12:12:55.834307Z",
        "collectionId": "naip",
        "additionalInformation": {
          "TotalFailedItems": "0",
          "TotalItems": "1",
          "TotalPendingItems": "0",
          "TotalSuccessfulItems": "1"
        }
      }
    }
  ],
  "Variables": {}
}
