{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11993"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/a73527ee-8243-45dd-8920-ec148d4ad0f8",
            "tenantId": "a73527ee-8243-45dd-8920-ec148d4ad0f8",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11951"
      },
      "ResponseBody": {
        "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "cca0326c-4c31-46d8-8fcb-c67023a46f4b",
        "tenantId": "a73527ee-8243-45dd-8920-ec148d4ad0f8",
        "displayName": "Microsoft Azure Sponsorship 2",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "Sponsored_2016-01-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/supportTickets/dotnet_sdk_test_638333917418076091?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11950"
      },
      "ResponseBody": {
        "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/supportTickets/dotnet_sdk_test_638333917418076091",
        "name": "dotnet_sdk_test_638333917418076091",
        "type": "Microsoft.Support/supportTickets",
        "properties": {
          "description": "dotnet sdk unit test, please close",
          "problemClassificationId": "/providers/Microsoft.Support/services/376afb21-6bd3-91aa-fd58-39fd84d8c201/problemClassifications/03014459-4572-f8f0-32b0-88833f234f25",
          "problemClassificationDisplayName": "Test Support Topic 1",
          "severity": "Moderate",
          "require24X7Response": false,
          "enrollmentId": "",
          "contactDetails": {
            "firstName": "firstName_test2573",
            "lastName": "test",
            "preferredContactMethod": "Email",
            "primaryEmailAddress": "test@microsoft.com",
            "preferredTimeZone": "Pacific Standard Time",
            "country": "USA",
            "preferredSupportLanguage": "en-US"
          },
          "serviceLevelAgreement": {
            "startTime": "2023-10-20T16:42:30Z",
            "expirationTime": "2023-10-20T20:45:23Z",
            "slaMinutes": 120
          },
          "supportEngineer": {},
          "supportPlanType": "ProDirect",
          "supportPlanDisplayName": "Azure Support Plan \u2013 ProDirect",
          "advancedDiagnosticConsent": "No",
          "isTemporaryTicket": "No",
          "supportPlanId": "U291cmNlOkVBLFN1YnNjcmlwdGlvbklkOkNDQTAzMjZDLTRDMzEtNDZEOC04RkNCLUM2NzAyM0E0NkY0QixPZmZlcklkOk1TLUFaUi0wMDQyUCxTb3ZlcmVpZ25DbG91ZDpQdWJsaWMs",
          "fileWorkspaceName": "2310200010002682",
          "supportTicketId": "2310200010002682",
          "title": "dotnet sdk unit test, please close",
          "serviceId": "/providers/Microsoft.Support/services/376afb21-6bd3-91aa-fd58-39fd84d8c201",
          "serviceDisplayName": "Test Product Case Submission - Preview",
          "status": "Open",
          "problemStartTime": "2023-10-20T16:42:21Z",
          "createdDate": "2023-10-20T16:42:30Z",
          "modifiedDate": "2023-10-24T01:46:27Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/supportTickets/dotnet_sdk_test_638333917418076091/checkNameAvailability?api-version=2022-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "dotnet_test3502",
        "type": "Microsoft.Support/supportTickets"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1429423551",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "cca0326c-4c31-46d8-8fcb-c67023a46f4b"
  }
}
