{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "countryCode": "US",
            "displayName": "Microsoft",
            "domains": [
              "drawbridge.com",
              "expresslogic.com",
              "euevents.microsoft.com",
              "nonprofits.microsoft.com",
              "benefits.microsoft.com",
              "forzaesports.com",
              "bons.ai",
              "azmosa.io",
              "fslogix.com",
              "Howdy.ai",
              "Xoxco.com",
              "Botkit.ai",
              "glintinc.com",
              "maquette.ms",
              "tibazdev.microsoft.com",
              "[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Support/supportTickets/dotnet_sdk_test_new_ticket_name_test7775?api-version=2024-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "dotnet sdk unit test, please close",
          "problemClassificationId": "/providers/microsoft.support/services/376afb21-6bd3-91aa-fd58-39fd84d8c201/problemclassifications/03014459-4572-f8f0-32b0-88833f234f25",
          "severity": "Minimal",
          "require24X7Response": false,
          "advancedDiagnosticConsent": "No",
          "contactDetails": {
            "firstName": "test",
            "lastName": "test",
            "preferredContactMethod": "email",
            "primaryEmailAddress": "test@microsoft.com",
            "preferredTimeZone": "Dateline Standard Time",
            "country": "USA",
            "preferredSupportLanguage": "en-us"
          },
          "title": "dotnet sdk unit test, please close",
          "problemStartTime": "2023-10-23T00:00:00.0000000Z",
          "serviceId": "/providers/microsoft.support/services/376afb21-6bd3-91aa-fd58-39fd84d8c201"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Support/operationsStatus/750e54c6-ff46-4fc1-b47a-abe46be39f03?api-version=2024-04-01&t=638629140020602529&c=MIIHhzCCBm-gAwIBAgITfAWHizdXQLRDd48J5AAABYeLNzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTIyMTIwNDAzWhcNMjUwMzIxMTIwNDAzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLmNvbT[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Support/operationsStatus/750e54c6-ff46-4fc1-b47a-abe46be39f03?api-version=2024-04-01&t=638629140020602529&c=MIIHhzCCBm-gAwIBAgITfAWHizdXQLRDd48J5AAABYeLNzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTIyMTIwNDAzWhcNMjUwMzIxMTIwNDAzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Support/supportTickets/dotnet_sdk_test_new_ticket_name_test7775?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Support/supportTickets/dotnet_sdk_test_new_ticket_name_test7775",
        "name": "dotnet_sdk_test_new_ticket_name_test7775",
        "type": "Microsoft.Support/supportTickets",
        "properties": {
          "description": "dotnet sdk unit test, please close",
          "problemClassificationId": "/providers/Microsoft.Support/services/376afb21-6bd3-91aa-fd58-39fd84d8c201/problemClassifications/03014459-4572-f8f0-32b0-88833f234f25",
          "problemClassificationDisplayName": "Test Support Topic 1",
          "severity": "Minimal",
          "require24X7Response": false,
          "enrollmentId": "",
          "contactDetails": {
            "firstName": "test",
            "lastName": "test",
            "preferredContactMethod": "Email",
            "primaryEmailAddress": "test@microsoft.com",
            "preferredTimeZone": "Dateline Standard Time",
            "country": "USA",
            "preferredSupportLanguage": "en-us"
          },
          "supportEngineer": {},
          "supportPlanType": "Azure Internal",
          "supportPlanDisplayName": "Azure Support Plan - Internal",
          "advancedDiagnosticConsent": "No",
          "isTemporaryTicket": "No",
          "supportPlanId": "U291cmNlOkF6dXJlTW9kZXJuLFN1YnNjcmlwdGlvbklkOmRiMWFiNmYwLTQ3NjktNGIyNy05MzBlLTAxZTJlZjljMTIzYyxTb3ZlcmVpZ25DbG91ZDpQdWJsaWMsT2ZmZXJJZDpNUy1BWlItMDAxNVAs",
          "fileWorkspaceName": "2409260030001370",
          "supportTicketId": "2409260030001370",
          "title": "dotnet sdk unit test, please close",
          "serviceId": "/providers/Microsoft.Support/services/376afb21-6bd3-91aa-fd58-39fd84d8c201",
          "serviceDisplayName": "Test Product Case Submission - Preview",
          "status": "Open",
          "problemStartTime": "2023-10-23T00:00:00Z",
          "createdDate": "2024-09-26T02:20:04Z",
          "modifiedDate": "2024-09-26T02:20:04Z"
        }
      }
    },
[...]
