{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11992"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/a73527ee-8243-45dd-8920-ec148d4ad0f8",
            "tenantId": "a73527ee-8243-45dd-8920-ec148d4ad0f8",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11949"
      },
      "ResponseBody": {
        "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "cca0326c-4c31-46d8-8fcb-c67023a46f4b",
        "tenantId": "a73527ee-8243-45dd-8920-ec148d4ad0f8",
        "displayName": "Microsoft Azure Sponsorship 2",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "Sponsored_2016-01-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/supportTickets/dotnet_sdk_test_638336696373914590?api-version=2022-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "dotnet sdk unit test, please close",
          "problemClassificationId": "/providers/microsoft.support/services/376afb21-6bd3-91aa-fd58-39fd84d8c201/problemclassifications/03014459-4572-f8f0-32b0-88833f234f25",
          "severity": "Minimal",
          "require24X7Response": false,
          "advancedDiagnosticConsent": "No",
          "contactDetails": {
            "firstName": "test",
            "lastName": "test",
            "preferredContactMethod": "email",
            "primaryEmailAddress": "test@microsoft.com",
            "preferredTimeZone": "Dateline Standard Time",
            "country": "USA",
            "preferredSupportLanguage": "en-us"
          },
          "title": "dotnet sdk unit test, please close",
          "problemStartTime": "2023-10-23T21:53:57.3917610Z",
          "serviceId": "/providers/microsoft.support/services/376afb21-6bd3-91aa-fd58-39fd84d8c201"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/operationsStatus/32b32d78-44b7-4e47-8588-6f8446072c64?api-version=2022-09-01-preview",
        "Location": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/operationResults/32b32d78-44b7-4e47-8588-6f8446072c64?api-version=2022-09-01-preview",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/operationsStatus/32b32d78-44b7-4e47-8588-6f8446072c64?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11948"
      },
      "ResponseBody": {
        "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/operationsStatus/32b32d78-44b7-4e47-8588-6f8446072c64",
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/operationsStatus/32b32d78-44b7-4e47-8588-6f8446072c64?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11943"
      },
      "ResponseBody": {
        "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/operationsStatus/32b32d78-44b7-4e47-8588-6f8446072c64",
        "status": "Succeeded",
        "properties": {
          "supportTicketCreationWarning": "",
          "supportTicketId": "2310230010005262"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/supportTickets/dotnet_sdk_test_638336696373914590?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11942"
      },
      "ResponseBody": {
        "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/supportTickets/dotnet_sdk_test_638336696373914590",
        "name": "dotnet_sdk_test_638336696373914590",
        "type": "Microsoft.Support/supportTickets",
        "properties": {
          "description": "dotnet sdk unit test, please close",
          "problemClassificationId": "/providers/Microsoft.Support/services/376afb21-6bd3-91aa-fd58-39fd84d8c201/problemClassifications/03014459-4572-f8f0-32b0-88833f234f25",
          "problemClassificationDisplayName": "Test Support Topic 1",
          "severity": "Minimal",
          "require24X7Response": false,
          "enrollmentId": "",
          "contactDetails": {
            "firstName": "test",
            "lastName": "test",
            "preferredContactMethod": "Email",
            "primaryEmailAddress": "test@microsoft.com",
            "preferredTimeZone": "Dateline Standard Time",
            "country": "USA",
            "preferredSupportLanguage": "en-us"
          },
          "supportEngineer": {},
          "supportPlanType": "ProDirect",
          "supportPlanDisplayName": "Azure Support Plan \u2013 ProDirect",
          "advancedDiagnosticConsent": "No",
          "isTemporaryTicket": "No",
          "supportPlanId": "U291cmNlOkVBLFN1YnNjcmlwdGlvbklkOkNDQTAzMjZDLTRDMzEtNDZEOC04RkNCLUM2NzAyM0E0NkY0QixPZmZlcklkOk1TLUFaUi0wMDQyUCxTb3ZlcmVpZ25DbG91ZDpQdWJsaWMs",
          "fileWorkspaceName": "2310230010005262",
          "supportTicketId": "2310230010005262",
          "title": "dotnet sdk unit test, please close",
          "serviceId": "/providers/Microsoft.Support/services/376afb21-6bd3-91aa-fd58-39fd84d8c201",
          "serviceDisplayName": "Test Product Case Submission - Preview",
          "status": "Open",
          "problemStartTime": "2023-10-23T21:53:57Z",
          "createdDate": "2023-10-23T21:54:05Z",
          "modifiedDate": "2023-10-23T21:54:05Z"
        }
      }
    },
[...]
