{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/a73527ee-8243-45dd-8920-ec148d4ad0f8",
            "tenantId": "a73527ee-8243-45dd-8920-ec148d4ad0f8",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "cca0326c-4c31-46d8-8fcb-c67023a46f4b",
        "tenantId": "a73527ee-8243-45dd-8920-ec148d4ad0f8",
        "displayName": "Microsoft Azure Sponsorship 2",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "Sponsored_2016-01-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/supportTickets?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/supportTickets/dotnet_sdk_test_new_ticket_name_test1248",
            "name": "dotnet_sdk_test_new_ticket_name_test1248",
            "type": "Microsoft.Support/supportTickets",
            "properties": {
              "description": "dotnet sdk unit test, please close",
              "problemClassificationId": "/providers/Microsoft.Support/services/376afb21-6bd3-91aa-fd58-39fd84d8c201/problemClassifications/03014459-4572-f8f0-32b0-88833f234f25",
              "problemClassificationDisplayName": "Test Support Topic 1",
              "severity": "Minimal",
              "require24X7Response": false,
              "enrollmentId": "",
              "contactDetails": {
                "firstName": "test",
                "lastName": "test",
                "preferredContactMethod": "Email",
                "primaryEmailAddress": "test@microsoft.com",
                "preferredTimeZone": "Dateline Standard Time",
                "country": "USA",
                "preferredSupportLanguage": "en-us"
              },
              "serviceLevelAgreement": {
                "startTime": "2024-03-01T02:07:43Z",
                "expirationTime": "2024-03-01T18:00:00Z",
                "slaMinutes": 240
              },
              "supportEngineer": {},
              "supportPlanType": "ProDirect",
              "supportPlanDisplayName": "Azure Support Plan \u2013 ProDirect",
              "advancedDiagnosticConsent": "No",
              "isTemporaryTicket": "No",
              "supportPlanId": "U291cmNlOkVBLFN1YnNjcmlwdGlvbklkOkNDQTAzMjZDLTRDMzEtNDZEOC04RkNCLUM2NzAyM0E0NkY0QixPZmZlcklkOk1TLUFaUi0wMDQyUCxTb3ZlcmVpZ25DbG91ZDpQdWJsaWMs",
              "fileWorkspaceName": "2403010010001040",
              "supportTicketId": "2403010010001040",
              "title": "dotnet sdk unit test, please close",
              "serviceId": "/providers/Microsoft.Support/services/376afb21-6bd3-91aa-fd58-39fd84d8c201",
              "serviceDisplayName": "Test Product Case Submission - Preview",
              "status": "Open",
              "problemStartTime": "2023-10-23T00:00:00Z",
              "createdDate": "2024-03-01T02:07:43Z",
              "modifiedDate": "2024-03-01T02:07:43Z"
            }
          },
          {
            "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/supportTickets/dotnet_sdk_test_new_ticket_name_test5547",
            "name": "dotnet_sdk_test_new_ticket_name_test5547",
            "type": "Microsoft.Support/supportTickets",
            "properties": {
              "description": "dotnet sdk unit test, please close",
              "problemClassificationId": "/providers/Microsoft.Su[...]
    {
      "RequestUri": "https://management.azure.com:443/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/supportTickets?api-version=2023-06-01-preview\u0026$skipToken=%255B%257B%2522compositeToken%2522%253A%257B%2522token%2522%253Anull%252C%2522range%2522%253A%257B%2522min%2522%253A%252205C1EF99CD6732%2522%252C%2522max%2522%253A%2522FF%2522%257D%257D%252C%2522orderByItems%2522%253A%255B%257B%2522item%2522%253A%25222024-02-28T20%253A34%253A29Z%2522%257D%255D%252C[...]
