{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Dataserviceversion": "3.0",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:09 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName1596276702"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeaccount.table.core.windows.net/Tables(\u0027tableName1596276702\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName1596276702"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableName1596276702(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Dataserviceversion": "3.0",
        "If-Match": "*",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:09 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "some string 1",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "ResourceNotFound",
          "message": {
            "lang": "en-US",
            "value": "The specified resource does not exist.\nRequestId:9870c096-d002-0053-092c-bb73a7000000\nTime:2023-07-20T17:03:08.8905502Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables(\u0027tableName1596276702\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:09 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
