{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409585211806319?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C51B295246A\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:37:33 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409585211806319/dir176409585242103212?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C51B2C48247\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:37:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-11-25T18:37:33.6385095Z",
        "x-ms-file-creation-time": "2025-11-25T18:37:33.6385095Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-11-25T18:37:33.6385095Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409585211806319/dir176409585242103212/dir0176409585273000321?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C51B2F32602\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:37:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-11-25T18:37:33.9441666Z",
        "x-ms-file-creation-time": "2025-11-25T18:37:33.9441666Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-11-25T18:37:33.9441666Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "10684201687090704712*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409585211806319/dir176409585242103212/file0176409585365105751",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-length": "1024",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE2C51B38021F5\"",
        "Last-Modified": "Tue, 25 Nov 2025 18:37:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-11-25T18:37:34.8681205Z",
        "x-ms-file-creation-time": "2025-11-25T18:37:34.8681205Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-11-25T18:37:34.8681205Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6070331687120522831*18203214069713872577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409585211806319/dir176409585242103212?comp=list&restype=directory&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share176409585211806319\" DirectoryPath=\"dir176409585242103212\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>dir0176409585273000321</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>dir1176409585303509497</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>dir2176409585334206034</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>file0176409585365105751</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file1176409585396409256</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file2176409585427201155</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://Sanitized.file.core.windows.net/share176409585211806319?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir176409585242103212",
    "dir0": "dir0176409585273000321",
    "dir1": "dir1176409585303509497",
    "dir2": "dir2176409585334206034",
    "file0": "file0176409585365105751",
    "file1": "file1176409585396409256",
    "file2": "file2176409585427201155",
    "share": "share176409585211806319"
  }
}
