{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168980179527706871?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB889DF66BFE9F\u0022",
        "Last-Modified": "Wed, 19 Jul 2023 21:20:22 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168980179527706871/dir168980179536805826?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB889DF67E675F\u0022",
        "Last-Modified": "Wed, 19 Jul 2023 21:20:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-07-19T21:20:22.9779295Z",
        "x-ms-file-creation-time": "2023-07-19T21:20:22.9779295Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-07-19T21:20:22.9779295Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8614286176118771184*2258328373640403577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168980179527706871/dir168980179536805826/dir0168980179548705950?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB889DF68F445E\u0022",
        "Last-Modified": "Wed, 19 Jul 2023 21:20:23 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-07-19T21:20:23.0884446Z",
        "x-ms-file-creation-time": "2023-07-19T21:20:23.0884446Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-07-19T21:20:23.0884446Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8614286176118771184*2258328373640403577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168980179527706871/dir168980179536805826/file0168980179582809793",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB889DF6C3ADFA\u0022",
        "Last-Modified": "Wed, 19 Jul 2023 21:20:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-07-19T21:20:23.4319354Z",
        "x-ms-file-creation-time": "2023-07-19T21:20:23.4319354Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2023-07-19T21:20:23.4319354Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13256303658861622007*2258328373640403577",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168980179527706871/dir168980179536805826?comp=list\u0026restype=directory\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://fakestorageaccount.file.core.windows.net/\u0022 ShareName=\u0022share168980179527706871\u0022 DirectoryPath=\u0022dir168980179536805826\u0022\u003E\u003CDirectoryId\u003E13835128424026341376\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Edir016898017[...]
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168980179527706871?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir168980179536805826",
    "dir0": "dir0168980179548705950",
    "dir1": "dir1168980179559807421",
    "dir2": "dir2168980179570402484",
    "file0": "file0168980179582809793",
    "file1": "file1168980179594109561",
    "file2": "file2168980179605103833",
    "share": "share168980179527706871"
  }
}
