{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4ac2ea88-cda2-c644-cdc7-9254e163a23e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:58:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BD1F61FEB8F\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:58:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4ac2ea88-cda2-c644-cdc7-9254e163a23e/test-blob-9f3af03c-31d8-67a5-de53-e75021510722",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 13 Feb 2025 01:58:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BD1F632A1BE\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:58:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4ac2ea88-cda2-c644-cdc7-9254e163a23e/test-blob-9f3af03c-31d8-67a5-de53-e75021510722",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:58:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4BD1F632A1BE\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:58:50 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 13 Feb 2025 01:58:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4ac2ea88-cda2-c644-cdc7-9254e163a23e/test-blob-9f3af03c-31d8-67a5-de53-e75021510722?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DD4BD1F632A1BE\"",
        "x-ms-date": "Thu, 13 Feb 2025 01:58:51 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "lPi9RF2pouGNqO8UfPJhZ1oaXvicOLCGq0www/PaDzk7EB4OubRwSIbUQclhcm6SuwAtZxiQCFxHN5gQed/us5i22WzTUq6mqhZyx/bnJDjdnQjyrKghqgfCxoIbX86m5Y4wq5kCv2hSh7wBHkBlYBJfMtvX+wbwlC9kEYsriktIy+Jotnmf296foCTrIIzHXWZvvCzyz+qHQBZpna3cJv1xuVJe/KmYwFf9N1viBHSjnbQlvM4eVfz44HZjNT4wwnkmeWY5aWC91vvV9ZeOpTuhxv/5t2ovUmNWZRwyNYoYzXXhu4oNaTRUZ+XSSWBkaTs6wW4/NgoP9ycD4wNEiqBxvCgiremwlF3LpVCEXQkD8vzg93Qb2ZZq0cRjCoYwD9xEYIw3QbxRii0Rc5G6i5od//AHY5I[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4ac2ea88-cda2-c644-cdc7-9254e163a23e/test-blob-9f3af03c-31d8-67a5-de53-e75021510722",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:58:51 GMT",
        "x-ms-range": "bytes=0-",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4BD1F647BFBF\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:58:50 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 13 Feb 2025 01:58:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "Response[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4ac2ea88-cda2-c644-cdc7-9254e163a23e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:58:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "593703475",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
