{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ad5625de-71d6-1a07-d394-3fe9191b2da3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:01:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86850E22F65A\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:02:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ad5625de-71d6-1a07-d394-3fe9191b2da3/test-blob-150ba36a-d16f-7977-a6fc-1e87d0589bd8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 00:01:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86850E325895\"",
        "Last-Modified": "Fri, 07 Jun 2024 00:02:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ad5625de-71d6-1a07-d394-3fe9191b2da3/test-blob-150ba36a-d16f-7977-a6fc-1e87d0589bd8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 00:01:59 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "g2T9e/Q2a5odQd/3e0E2sPocaDh60yEL5uEzePvYttxAjlltvVAgg6gAGHB7C0/n/GCi44t1ra9C8pUSAvKeRYoCt+3nyfKq++SQeruwkNqSTHyaNtNRyuCqKsu6DYG2YdPmeFRhADJt+Oin5TP0kWK7gLZ1Aw63se0MPZ8n7+5i2hjoyheGMEtKLD3qqeSttphp/4zLQF7EL8ZnVMOSRgn5RQsbC8dKNFBqKtbQzAgIXocGve9hl5m5JJtQH9uIt+Y08WTYkqrQHso8YBaH82K+XvU7jIgZmK1yYeYs+hV04XLwm9ujL8zcNZ8kJTaDMjE4kcHlTCtdG1m2ZjHDpCS1yH+jlleHGy4pX1bp9HJ37y619GhUjpRHk4CB7MmaGJF6b1y335vZsHaSvO3VcyfmP3YDDq+[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ad5625de-71d6-1a07-d394-3fe9191b2da3/test-blob-150ba36a-d16f-7977-a6fc-1e87d0589bd8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\"0x8DC86850E325895\"",
        "x-ms-date": "Fri, 07 Jun 2024 00:01:59 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "u+JTnvwOJN/OKpozElEHBotGRNvuw+3DA6V5gU1t8vUoeXFwNCReW34sR0U3Q2dU9Rj7iRTA6fj0j5tXlaKSYTikCpjgltFn5+hcwnuojL89JIw0cWjgaJB5e6SIBsbbmeYMkjjPdF5GlKEsYyd8TAPbGXAWXe/PxKIIZhss3uEigSiVm/mGbrAt7tzGswRo/C6hrexVxDz2Pc6Wxw1DGbbACuL/57EKVavA6W8TCBCen2rtizH0zLzsn10q8Kej6tQmBakiaRV8l1hBlNvM4[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ad5625de-71d6-1a07-d394-3fe9191b2da3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 00:01:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1880116528",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
