{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/streams/%20%20?api-version=2025-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 11 Apr 2025 21:45:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "4ms"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelValidationError",
          "message": "id: The id field is required.",
          "target": "id"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "346603452"
  }
}
