{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/streams/test?api-version=2025-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 11 Apr 2025 21:44:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "X-Processing-Time": "93ms"
      },
      "ResponseBody": {
        "error": {
          "code": "MediaNotFound",
          "message": "Given media object does not exist",
          "innererror": {
            "code": "MessageStorage+ErrorCode.IdentifierNotFound",
            "message": "IdentifierNotFound"
          }
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2114123856"
  }
}
