{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-08-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 10 Oct 2024 23:19:07 GMT"
      },
      "RequestBody": {
        "template": {
          "name": "invalid_template",
          "language": "en_us"
        },
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "+16043609258"
        ],
        "kind": "template"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01, 2024-08-30, 2100-12-25-vnext",
        "Content-Type": "application/json",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "125ms"
      },
      "ResponseBody": {
        "error": {
          "code": "TemplateNotFound",
          "message": "Template does not exist",
          "innererror": {
            "code": "WaErrorCode.TemplateNotFound",
            "message": "TemplateNotFound: (#132001) Template name does not exist in the translation"
          }
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1184647254",
    "RECIPIENT_IDENTIFIER": "+16043609258",
    "SENDER_CHANNEL_REGISTRATION_ID": "77ffd898-ec44-42cd-b560-57a8903d05c7"
  }
}
