{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Feb 2024 17:47:34 GMT"
      },
      "RequestBody": {
        "template": {
          "name": "sample_shipping_confirmation",
          "language": "en_us",
          "values": [
            {
              "text": "3",
              "name": "threeDays",
              "kind": "text"
            }
          ],
          "bindings": {
            "body": [
              {
                "refValue": "threeDays"
              }
            ],
            "kind": "whatsApp"
          }
        },
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "\u002B16041234567"
        ],
        "kind": "template"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "frfcEqSJLk6\u002BOAPx40f\u002BNg.0",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "312ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "ad3492c7-8aad-4f0f-a020-240d69cd129c",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "829668694",
    "RECIPIENT_IDENTIFIER": "\u002B16041234567",
    "SENDER_CHANNEL_REGISTRATION_ID": "77ffd898-ec44-42cd-b560-57a8903d05c7"
  }
}
