{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Feb 2024 17:46:03 GMT"
      },
      "RequestBody": {
        "template": {
          "name": "sample_happy_hour_announcement",
          "language": "en_us",
          "values": [
            {
              "text": "Starbucks",
              "name": "venue",
              "kind": "text"
            },
            {
              "text": "Today 2-4PM",
              "name": "time",
              "kind": "text"
            },
            {
              "url": "https://sample-videos.com/video321/mp4/720/big_buck_bunny_720p_1mb.mp4",
              "name": "video",
              "kind": "video"
            }
          ],
          "bindings": {
            "header": [
              {
                "refValue": "video"
              }
            ],
            "body": [
              {
                "refValue": "venue"
              },
              {
                "refValue": "time"
              }
            ],
            "kind": "whatsApp"
          }
        },
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "\u002B16041234567"
        ],
        "kind": "template"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "IBiCEkOAjEioiC34dN5ipg.0",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "472ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "900130b1-c66d-4c4d-9906-5ee460ae4b30",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1695558214",
    "RECIPIENT_IDENTIFIER": "\u002B16041234567",
    "SENDER_CHANNEL_REGISTRATION_ID": "77ffd898-ec44-42cd-b560-57a8903d05c7"
  }
}
