{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2025-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Apr 2025 23:50:09 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "+16723361657"
        ],
        "kind": "interactive",
        "interactiveMessage": {
          "header": {
            "kind": "video",
            "mediaUri": "https://filesamples.com/samples/video/3gp/sample_640x360.3gp"
          },
          "body": {
            "kind": "text",
            "text": "Do you like it?"
          },
          "action": {
            "kind": "whatsAppButtonAction",
            "content": {
              "kind": "buttonSet",
              "buttons": [
                {
                  "id": "no",
                  "title": "No"
                },
                {
                  "id": "yes",
                  "title": "Yes"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "754ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "f6ff6168-90c0-46f5-bf59-a245455be525",
            "to": "+16723361657"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "203197833",
    "RECIPIENT_IDENTIFIER": "+16723361657",
    "SENDER_CHANNEL_REGISTRATION_ID": "77ffd898-ec44-42cd-b560-57a8903d05c7"
  }
}
