{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 13 Feb 2024 17:46:07 GMT"
      },
      "RequestBody": {
        "template": {
          "name": "sample_purchase_feedback",
          "language": "en_us",
          "values": [
            {
              "url": "https://upload.wikimedia.org/wikipedia/commons/3/30/Building92microsoft.jpg",
              "name": "image",
              "kind": "image"
            },
            {
              "text": "Microsoft Office",
              "name": "product",
              "kind": "text"
            }
          ],
          "bindings": {
            "header": [
              {
                "refValue": "image"
              }
            ],
            "body": [
              {
                "refValue": "product"
              }
            ],
            "kind": "whatsApp"
          }
        },
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "\u002B16041234567"
        ],
        "kind": "template"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "hxbteRP860\u002Bovwo4zKrCmg.0",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "482ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "4b33dff8-c39d-4c46-bd0a-a1805352e40d",
            "to": "\u002B16041234567"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "653400976",
    "RECIPIENT_IDENTIFIER": "\u002B16041234567",
    "SENDER_CHANNEL_REGISTRATION_ID": "77ffd898-ec44-42cd-b560-57a8903d05c7"
  }
}
