{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2025-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Apr 2025 21:18:54 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "+16723361657"
        ],
        "kind": "interactive",
        "interactiveMessage": {
          "header": {
            "kind": "image",
            "mediaUri": "https://aka.ms/acsicon1"
          },
          "body": {
            "kind": "text",
            "text": "Do you want to proceed?"
          },
          "action": {
            "kind": "whatsAppButtonAction",
            "content": {
              "kind": "buttonSet",
              "buttons": [
                {
                  "id": "no",
                  "title": "No"
                },
                {
                  "id": "yes",
                  "title": "Yes"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "650ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "6a6f07ed-fdd4-42f3-b98f-bc796c71177b",
            "to": "+16723361657"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1769997416",
    "RECIPIENT_IDENTIFIER": "+16723361657",
    "SENDER_CHANNEL_REGISTRATION_ID": "77ffd898-ec44-42cd-b560-57a8903d05c7"
  }
}
