{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2025-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Apr 2025 23:06:33 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "+16723361657"
        ],
        "kind": "template",
        "template": {
          "name": "sample_movie_ticket_confirmation",
          "language": "en_us",
          "values": [
            {
              "name": "image",
              "kind": "image",
              "url": "https://aka.ms/acsicon1"
            },
            {
              "name": "title",
              "kind": "text",
              "text": "Avengers"
            },
            {
              "name": "time",
              "kind": "text",
              "text": "July 1st, 2023 12:30PM"
            },
            {
              "name": "venue",
              "kind": "text",
              "text": "Cineplex"
            },
            {
              "name": "seats",
              "kind": "text",
              "text": "Seat 1A"
            }
          ],
          "bindings": {
            "kind": "whatsApp",
            "header": [
              {
                "refValue": "image"
              }
            ],
            "body": [
              {
                "refValue": "title"
              },
              {
                "refValue": "time"
              },
              {
                "refValue": "venue"
              },
              {
                "refValue": "seats"
              }
            ]
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "495ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "461bf058-61d4-447c-9c5f-45eb5f6e8a0f",
            "to": "+16723361657"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1818602949",
    "RECIPIENT_IDENTIFIER": "+16723361657",
    "SENDER_CHANNEL_REGISTRATION_ID": "77ffd898-ec44-42cd-b560-57a8903d05c7"
  }
}
