{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2025-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 01 Oct 2025 19:54:02 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "+16043609258"
        ],
        "kind": "interactive",
        "interactiveMessage": {
          "header": {
            "kind": "text",
            "text": "Test Header"
          },
          "body": {
            "kind": "text",
            "text": "Test Body"
          },
          "footer": {
            "kind": "text",
            "text": "Test Footer"
          },
          "action": {
            "kind": "whatsAppUrlAction",
            "content": {
              "kind": "url",
              "title": "Test Url",
              "url": "https://filesamples.com/samples/audio/mp3/sample3.mp3"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "522ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "20684fd8-9c7c-4cb3-835a-6799cebf522c",
            "to": "+16043609258"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1291569100",
    "RECIPIENT_IDENTIFIER": "+16043609258",
    "SENDER_CHANNEL_REGISTRATION_ID": "77ffd898-ec44-42cd-b560-57a8903d05c7"
  }
}
