{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2025-01-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jan 2025 03:24:19 GMT"
      },
      "RequestBody": {
        "template": {
          "name": "sample_purchase_feedback",
          "language": "en_us",
          "values": [
            {
              "url": "https://filesamples.com/samples/image/jpg/sample_640%C3%97426.jpg",
              "name": "image",
              "kind": "image"
            },
            {
              "text": "Microsoft Office",
              "name": "product",
              "kind": "text"
            }
          ],
          "bindings": {
            "header": [
              {
                "refValue": "image"
              }
            ],
            "body": [
              {
                "refValue": "product"
              }
            ],
            "kind": "whatsApp"
          }
        },
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "+16043609258"
        ],
        "kind": "template"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "422ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "3c47fd22-b158-4c34-b6da-b19f2caef323",
            "to": "+16043609258"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1501082019",
    "RECIPIENT_IDENTIFIER": "+16043609258",
    "SENDER_CHANNEL_REGISTRATION_ID": "77ffd898-ec44-42cd-b560-57a8903d05c7"
  }
}
