{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2025-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 01 Oct 2025 19:54:01 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "+16043609258"
        ],
        "kind": "template",
        "template": {
          "name": "sample_happy_hour_announcement",
          "language": "en_us",
          "values": [
            {
              "name": "venue",
              "kind": "text",
              "text": "Starbucks"
            },
            {
              "name": "time",
              "kind": "text",
              "text": "Today 2-4PM"
            },
            {
              "name": "video",
              "kind": "video",
              "url": "https://filesamples.com/samples/video/3gp/sample_640x360.3gp"
            }
          ],
          "bindings": {
            "kind": "whatsApp",
            "header": [
              {
                "refValue": "video"
              }
            ],
            "body": [
              {
                "refValue": "venue"
              },
              {
                "refValue": "time"
              }
            ]
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "504ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "8c38328d-8933-473b-ad96-6b29ae5c7409",
            "to": "+16043609258"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "4208232",
    "RECIPIENT_IDENTIFIER": "+16043609258",
    "SENDER_CHANNEL_REGISTRATION_ID": "77ffd898-ec44-42cd-b560-57a8903d05c7"
  }
}
