{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2025-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 01 Oct 2025 19:54:37 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "+16043609258"
        ],
        "kind": "interactive",
        "interactiveMessage": {
          "header": {
            "kind": "document",
            "mediaUri": "https://filesamples.com/samples/document/pdf/sample2.pdf"
          },
          "body": {
            "kind": "text",
            "text": "Do you want to proceed?"
          },
          "action": {
            "kind": "whatsAppButtonAction",
            "content": {
              "kind": "buttonSet",
              "buttons": [
                {
                  "id": "no",
                  "title": "No"
                },
                {
                  "id": "yes",
                  "title": "Yes"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "509ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "243a0971-f982-42d7-8115-e3a37778001d",
            "to": "+16043609258"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1476889818",
    "RECIPIENT_IDENTIFIER": "+16043609258",
    "SENDER_CHANNEL_REGISTRATION_ID": "77ffd898-ec44-42cd-b560-57a8903d05c7"
  }
}
