{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2025-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 10 Apr 2025 17:20:19 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "+16723361657"
        ],
        "kind": "video",
        "mediaUri": "https://filesamples.com/samples/video/3gp/sample_640x360.3gp"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "547ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "5e2eeaaa-89d1-4e0b-aa6c-88e2f32ca5a1",
            "to": "+16723361657"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1805329298",
    "RECIPIENT_IDENTIFIER": "+16723361657",
    "SENDER_CHANNEL_REGISTRATION_ID": "77ffd898-ec44-42cd-b560-57a8903d05c7"
  }
}
