{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2025-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Apr 2025 23:06:36 GMT"
      },
      "RequestBody": {
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "+16723361657"
        ],
        "kind": "template",
        "template": {
          "name": "sample_shipping_confirmation",
          "language": "en_us",
          "values": [
            {
              "name": "threeDays",
              "kind": "text",
              "text": "3"
            }
          ],
          "bindings": {
            "kind": "whatsApp",
            "body": [
              {
                "refValue": "threeDays"
              }
            ]
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "883ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "4768410a-a357-4996-acd7-9adeca4cae67",
            "to": "+16723361657"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1029628481",
    "RECIPIENT_IDENTIFIER": "+16723361657",
    "SENDER_CHANNEL_REGISTRATION_ID": "77ffd898-ec44-42cd-b560-57a8903d05c7"
  }
}
