{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/messages/notifications:send?api-version=2024-08-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 10 Oct 2024 23:19:11 GMT"
      },
      "RequestBody": {
        "template": {
          "name": "sample_flight_confirmation",
          "language": "en_us",
          "values": [
            {
              "url": "https://filesamples.com/samples/document/pdf/sample2.pdf",
              "name": "document",
              "kind": "document"
            },
            {
              "text": "Gloria",
              "name": "firstName",
              "kind": "text"
            },
            {
              "text": "Li",
              "name": "lastName",
              "kind": "text"
            },
            {
              "text": "July 1st, 2023",
              "name": "date",
              "kind": "text"
            }
          ],
          "bindings": {
            "header": [
              {
                "refValue": "document"
              }
            ],
            "body": [
              {
                "refValue": "firstName"
              },
              {
                "refValue": "lastName"
              },
              {
                "refValue": "date"
              }
            ],
            "kind": "whatsApp"
          }
        },
        "channelRegistrationId": "77ffd898-ec44-42cd-b560-57a8903d05c7",
        "to": [
          "+16043609258"
        ],
        "kind": "template"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01, 2024-08-30, 2100-12-25-vnext",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "440ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "f657e17d-6660-4898-ac9b-cfccdf9c6e31",
            "to": "+16043609258"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "928223204",
    "RECIPIENT_IDENTIFIER": "+16043609258",
    "SENDER_CHANNEL_REGISTRATION_ID": "77ffd898-ec44-42cd-b560-57a8903d05c7"
  }
}
