{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/areaCodes?phoneNumberType=tollFree\u0026assignmentType=application\u0026api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 10:50:03 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview, 2023-10-01-preview, 2024-01-31-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "urcLZSOq5ku/AN/NJRzSUQ.0",
        "X-Processing-Time": "3796ms"
      },
      "ResponseBody": {
        "areaCodes": [
          {
            "areaCode": "888"
          },
          {
            "areaCode": "877"
          },
          {
            "areaCode": "855"
          },
          {
            "areaCode": "844"
          },
          {
            "areaCode": "833"
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "216985170"
  }
}
