{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/python-sdk-pd-async-test_person_dir_update_person?api-version=2025-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Test person directory for update person: python-sdk-pd-async-test_person_dir_update_person",
        "tags": {
          "test_type": "update_person"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personDirectoryId": "python-sdk-pd-async-test_person_dir_update_person",
        "description": "Test person directory for update person: python-sdk-pd-async-test_person_dir_update_person",
        "tags": {
          "test_type": "update_person"
        },
        "createdAt": "2025-08-12T08:31:18.49616Z",
        "lastModifiedAt": "2025-08-12T08:31:18.49616Z",
        "personCount": 0,
        "faceCount": 0
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/python-sdk-pd-async-test_person_dir_update_person/persons?api-version=2025-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "name": "Sanitized",
          "role": "test_subject"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Location": "https://example.com",
        "x-ms-region": "West US"
      },
      "ResponseBody": "eyJwZXJzb25JZCI6ImE1YmJlNWYwLTFlYmMtNDVhMC04OTFjLTY3MTFjZGRmMTRjMCIsInRhZ3MiOnsibmFtZSI6IkphbmUgU21pdGgiLCJyb2xlIjoidGVzdF9zdWJqZWN0In0sImZhY2VJZHMiOltdfQ=="
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/python-sdk-pd-async-test_person_dir_update_person/persons/a5bbe5f0-1ebc-45a0-891c-6711cddf14c0?api-version=2025-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "name": "Sanitized",
          "role": "test_subject",
          "department": "research",
          "status": "active"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "personId": "a5bbe5f0-1ebc-45a0-891c-6711cddf14c0",
        "tags": {
          "department": "research",
          "name": "Sanitized",
          "role": "test_subject",
          "status": "active"
        },
        "faceIds": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com//contentunderstanding/personDirectories/python-sdk-pd-async-test_person_dir_update_person?api-version=2025-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "PersonDirectoryNotFound",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "error": {
          "code": "PersonDirectoryNotFound",
          "message": "Person Directory 'python-sdk-pd-async-test_person_dir_update_person' not found."
        }
      }
    }
  ],
  "Variables": {}
}
