{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e0f07827-0c28-dbc8-0d74-446a1296350f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F69CF4860\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:21:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e0f07827-0c28-dbc8-0d74-446a1296350f/test-blob-b286aff4-390e-ce0a-2243-91fb981ba545",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "mGtIYwg54/mJlw/SOoltQSjkt4ZBKsvnpL/Z6PqxZLaY2TTTxaGHu8uNKXYqOJOY1U/Ss2QfA26gYb5IYPr+1zNYOWFUmXuGXfy6tAFUvWssQBKq3rFSedXGM2TiPlrRjlFD0f4xRDvTTFVnZE9sS6RSGx/nU/iBBcCMjmYXox6h6SWvEett+vzW15Jb6xSFWejAkCM76TtZwcw+pbXVvKk3xXspvTq45SEiEHxlJhqsBjV+VxP7Zv/qVk8fL1VGARvpJCWYXJutB6oBGNi/85uxkZ6AV2SVO198P2fqmbbL3A9hfAL1E6qZ0FBp+U0mK2O0bZ22xqm2U+jFHBw0w23zNTzIXXaZu33z54cTLEIS[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e0f07827-0c28-dbc8-0d74-446a1296350f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1039226562",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
