{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-47bc970e-3a5d-a697-0e85-8903ea2b7e77?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F58D405BB\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:21:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-47bc970e-3a5d-a697-0e85-8903ea2b7e77/test-blob-09e127c4-ca14-4bf4-41cf-fa394f07c74e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "rKlWcGW0xWFRjTFaojg/sgZGzLfdz8rjhnuI4XfVI/AU0nEDQ61AD2GAuIaYmagIkEczCDoQcd3fcurpLOPqe2pBRc/HO25ZBbxVXRZDSuzSgFAvohq1BGGTJNHCVuN9lT0cV1TYQVXZ2QN+uxPGmyf+F6uTuthQi0FuMxedlq/Z18fZJ/KX+T77VsgWN0hOzIipwz836ttky8sTag09O0NUpORL7XQ1Zx1tl2QQOVT4IGeO89JvouzsdVsmhI8xvhqFwpJjAt8UdFwhylN3U5J3Gkqmrkdw5AL4XngYDuKOO9hJinbClR2Hen91TdeYdSHIr2lEixDSFd6Pa6Rm+2Z6k457LcgbtYUtHjTI+pYq[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-47bc970e-3a5d-a697-0e85-8903ea2b7e77/test-blob-09e127c4-ca14-4bf4-41cf-fa394f07c74e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sDy4EFlmWTXzBgpXJEcVCA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F58E367FF\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:21:09 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:21:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-47bc970e-3a5d-a697-0e85-8903ea2b7e77?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "477277684",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
