{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2258d964-c064-9497-af64-44ce1b61ec19?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F5724F30A\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:21:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2258d964-c064-9497-af64-44ce1b61ec19/test-blob-c24fafc8-9438-5f22-60a5-a738eee325ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "kQDWwAtIiTjEErHE0vm4P/QW6790EApjOPZD6s5BUNJDRu36ZXevgCYW/ibjXo1m7GdE2PdmeID1cogUBZ5qgsHegIsMvtp8ZmuZXRLkf9pp3f5n/Xjb3c5tBPLvmnuHrHxkBN0BWS6Mx3GMzRpuEfKuqyegA4VJA6O8n7nojczvErCWgHv8Z4PP2jUHTg+z/vP/QO5T5qj3GgA5Rbp1ozmknLtp2JF3sUSk0ShPQrWTCKDG6UzdnCsHn2V6wiHIWjf8YrFUSiZhh4+qrxWAqNhLpTwarrrsxwCPYTks/e4i23bxUt8DP756ZGG9Mu0Wh/eMLh3lrqt8D5uxxOjtNYqgiNOej1X4SGZ9oElYL5QS[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2258d964-c064-9497-af64-44ce1b61ec19?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "144724107",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
