{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3496e0fe-871f-5c11-ae9b-53bc44f19500?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F5912B736\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:21:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3496e0fe-871f-5c11-ae9b-53bc44f19500/test-blob-ea3bdffc-4a34-9cbc-e2e3-f6534069662a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cool",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "9iOQcD2gXL3CaKK1MEHAzzn8qxZIufzgGBcSwJqownhcBcXO3SINW4N9KMyoB2ugIyYZQ71P4TwmsFgmjZwjGaUqWCt88fIX70+TypEvOBCrcpxzj3+6DSSIqC3K5s7mWg4mfq5AJDE0AVRuuxaq93hHexv/r4omb0sG80nETQiBrHCDCblhak1rP40rS1EN3rC1gmuy56uD/w5iOTHob7NL7A+mJ+2+5RDOk2/8+yT6+RWYD8ucz8TE/wmr/jAcgtDa315BZrbD9p1a5FM8hwTqaEAcT1/orh1K4ifkE+bfsRGfIhzFuJJe1RkuQupwh3gFwJbw/zNw8jBB94SO3uO2ezJCnWXoJa+tvXlGuWwz[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3496e0fe-871f-5c11-ae9b-53bc44f19500/test-blob-ea3bdffc-4a34-9cbc-e2e3-f6534069662a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "2XAIjSp2LJyz6xlzcknWTQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F59239FD2\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:21:09 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Thu, 06 Jun 2024 23:21:09 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:21:09 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3496e0fe-871f-5c11-ae9b-53bc44f19500?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "298413875",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
