{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6116654f-7580-f36d-a216-21de6845b38d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 26 Jan 2026 18:17:33 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5D072DD951DF\"",
        "Last-Modified": "Mon, 26 Jan 2026 18:17:34 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6116654f-7580-f36d-a216-21de6845b38d/test-blob-0d0ac0f9-d96a-cee3-69fb-639cb9eecc28",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Smart",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 26 Jan 2026 18:17:33 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "nWMr1xaiHg2Vm4RRiJb+HacxhWZua1PZrWCnckePleBZz8i5tWV0VqH9d89VkkbS/Ub0iGhlujEPUim1+qzFBgWj97jNRGdBvC/EcPODhBoa1XQBmwx48xWWqWM7vlz1N3HJsZqOBLjesss5oUo9i80OmyU3xGr5KwSiNpsEBf7SzjiCutKAi9C8I+hAPlLLWR2VLSI2vnMG0IWW680d2azNZtIRu9H6jg9Ve6GCuOyx1919btjbnBDFe+lM6aACnkk7c9h/uZ1Mmp4S4UPShBiZ5BPwn2rU8crCTD/nraVvU9xYRkQTMh5AMdQ6yLrN8vbRswSNEf7eZ4IOvW1dZOz4o45meT7ThbL1sG6WmSgP[...]
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6116654f-7580-f36d-a216-21de6845b38d/test-blob-0d0ac0f9-d96a-cee3-69fb-639cb9eecc28",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 26 Jan 2026 18:17:33 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "aNDIxFMq2UhC9TXAfq3yTA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE5D072DE0348E\"",
        "Last-Modified": "Mon, 26 Jan 2026 18:17:34 GMT",
        "x-ms-access-tier": "Smart",
        "x-ms-access-tier-change-time": "Mon, 26 Jan 2026 18:17:34 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 26 Jan 2026 18:17:34 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 26 Jan 2026 18:17:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-smart-access-tier": "Hot",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-01-26T18:17:34.9011598Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-6116654f-7580-f36d-a216-21de6845b38d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 26 Jan 2026 18:17:33 GMT",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1188156575",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
