{
  "Entries": [
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-34a626ea-70b7-7d82-94d4-1aeacfab92a5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:43:45 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F815B7BC67\"",
        "Last-Modified": "Tue, 19 May 2026 22:43:45 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-34a626ea-70b7-7d82-94d4-1aeacfab92a5/test-blob-92d64a01-8026-2176-77a9-5257e9e92795?comp=block&blockid=Tj%2BVZQWlG387BaEB6HJsCU4W9WDCMfeLjFcx00aSUb3tRenzI02HI%2F044f3Ag3bV",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 19 May 2026 22:43:45 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "jo3rHyUGZwHpR8T8AlJZX1eGSq3K3/T7vNufgAlEIEI7J7vCiJa7xzudDUt5GgkfuXcDw3rz6K+Y72JJZ+b3pCeBwdqXltbByoNxLdGpgqLSgMaSQVzIRz8MKpkzcV9UpWgj91guiCOgQfn2gbrd72zAd+YgZGPLuHmbimw9jVgjHYdohopJo/ej8v9i0caELjsscvl4NEAFWD7fkv23YrOg02QzdGnhd9PvfXJjaOazF1wxEBtequlGYy1LaRH67I9Mwv5hUbrSSvsmibfOou9YLHuhhlGYQSh77BE7lQ3C9JHiF6boUcahX8YfOCAyd8E+8z2WWWY+s4DV5mSolrTtY5Um7[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-34a626ea-70b7-7d82-94d4-1aeacfab92a5/test-blob-92d64a01-8026-2176-77a9-5257e9e92795?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Tue, 19 May 2026 22:43:45 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": "\uFEFF<BlockList><Latest>Tj+VZQWlG387BaEB6HJsCU4W9WDCMfeLjFcx00aSUb3tRenzI02HI/044f3Ag3bV</Latest></BlockList>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEB5F81617F505\"",
        "Last-Modified": "Tue, 19 May 2026 22:43:46 GMT",
        "x-ms-content-crc64": "pzW+8NbvhNo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:43:46.0374789Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-34a626ea-70b7-7d82-94d4-1aeacfab92a5/test-blob-92d64a01-8026-2176-77a9-5257e9e92795",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:43:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEB5F81617F505\"",
        "Last-Modified": "Tue, 19 May 2026 22:43:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 19 May 2026 22:43:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06",
        "x-ms-version-id": "2026-05-19T22:43:46.0374789Z"
      },
      "ResponseBody": "jo3rHyUGZwHpR8T8AlJZX1eGSq3K3/T7vNufgAlEIEI7J7vCiJa7xzudDUt5GgkfuXcDw3rz6K+Y72JJZ+b3pCeBwdqXltbByoNxLdGpgqLSgMaSQVzIRz8MKpkzcV9UpWgj91guiCOgQfn2gbrd72zAd+YgZGPLuHmbimw9jVgjHYdohopJo/ej8v9i0caELjsscvl4NEAFWD7fkv23YrOg02QzdGnhd9PvfXJjaOazF1wxEBtequlGYy1LaRH67I9Mwv5hUbrSSvsmibfOou9YLHuhhlGYQSh77BE7lQ3C9JHiF6boUcahX8YfOCAyd8E+8z2WWWY+s4DV5mSolrTtY5Um7ItJb9q1/yaLeQg[...]
    {
      "RequestUri": "https://amandasa3.blob.core.windows.net/test-container-34a626ea-70b7-7d82-94d4-1aeacfab92a5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2026 22:43:45 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "652359871",
    "Storage_TestConfigDefault": "ProductionTenant\namandasa3\nU2FuaXRpemVk\nhttps://amandasa3.blob.core.windows.net\nhttps://amandasa3.file.core.windows.net\nhttps://amandasa3.queue.core.windows.net\nhttps://amandasa3.table.core.windows.net\n\n\n\n\nhttps://amandasa3-secondary.blob.core.windows.net\nhttps://amandasa3-secondary.file.core.windows.net\nhttps://amandasa3-secondary.queue.core.windows.net\nhttps://amandasa3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandasa3.blob.core.windows.net/;QueueEndpoint=https://amandasa3.queue.core.windows.net/;FileEndpoint=https://amandasa3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandasa3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandasa3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandasa3-secondary.file.core.windows.net/;AccountName=amandasa3;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
