{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-53d30fd3-8358-7f8d-4329-ccba73a68cd9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:20:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F3AA707C4\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:20:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-53d30fd3-8358-7f8d-4329-ccba73a68cd9/test-blob-107abd4b-0c9e-596f-47b7-89bf78eac9e6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "P10",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:20:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "r32bXz5GyGeZpCMF0CkXC+LGV/jiabESpA3+WeDck5azwu6GIlYGBPQTdvnpaoken33dspLQBEbLiLowSG+GvRCNUQ46kOmMv1MDzvK4KTqE4Lli/+ED4r2ou5mb1byFjLnoWxh64w+TUPI/zDZTE1+Aq2i1JL4vim9RktVQ8OqWfkE5z84iCvyqzq7vxBaHVac6GilT0Gj7udGpKVE5Q2AHqE70GUSQXqFrC1UPP8VZyTwtFtXAQ63ZPhX8eOCrcItN5xvHkjtjqbyH6MUS63oLUF8UCy2KR2WgGtsulOXBwJrKwVeqkTcAymwZOFvoxlKb8SiAlmRdw6C2JndfNBXWxicqSCoiYb4oE0HAcQ4J[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-53d30fd3-8358-7f8d-4329-ccba73a68cd9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:20:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "710497715",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
