{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7dfb6a97-7e7c-2ee0-4ca4-f634ba5ef410?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F6CB8B97D\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:21:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7dfb6a97-7e7c-2ee0-4ca4-f634ba5ef410/test-blob-ebe671d5-b5c3-f088-f765-e7c2bf78e5e5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:40 GMT",
        "x-ms-tags": "tagKey0=tagValue0&tagKey1=tagValue1",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "vvxrTW0tw9rhFfdkCWQ8npr0ktaA+jYT5ADP53Up+uAUt1Bci9FdqK4LCa2+I+eSKEknyuYOZcPGWGhsXdtluBsWUFEU4BPJl+kodfCIVcEZPb8sAS/6BVKMlTNo8EvSplGSp9OVfUg1XjP85vDSPgKnUx8cOLfsHEv/iErfYaeeVc6f9q3tg7939qL8/R5iuVcwwJ0rtm2ZpoqIlvX9Vf2MXpAhM0hUuc9fpUEU7x8snc7zr6AJcp9gBU8jZe3KeaGlb5+OQIYP2wbNyxEshbZrXPgmCqZcguvxwC34MVThlSugboB/nlxI49OaPKeNNICZtwn0o276Se20nH9YFqmy6zblixY2672c3ibSwUZDY4ytX3lK7fG8piWTywHd78wp6FBw[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7dfb6a97-7e7c-2ee0-4ca4-f634ba5ef410/test-blob-ebe671d5-b5c3-f088-f765-e7c2bf78e5e5?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7dfb6a97-7e7c-2ee0-4ca4-f634ba5ef410?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "341201894",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
