{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c2c430d8-a13f-68ec-8f4c-8489094f5a5e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F554FE4FE\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:21:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c2c430d8-a13f-68ec-8f4c-8489094f5a5e/test-blob-7bacc56d-4377-6c7d-a670-05ef97a2896c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:01 GMT",
        "x-ms-tags": "tagKey0=tagValue0&tagKey1=tagValue1",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "H+BgmRFq1CC3e4ckhBmW8fzr3Bl3sSvk8tFJGeZZ582ge1Hba7oLA/GLxPu8WOeM2hTzrMVw9G60e6Y/ILo6XZS6hAjIuoZB39ko7O0wKJrqvT/RZjsHMIfjJu8UzOI2UGZnAtTfxB+OsczsSAiAhFMMVWN7afdYslSB5ZSWLRP28puHySXGCvgfQrRuGud/YqKbB3Z+uudvDk+AXt6L+IS59VZs+bstRktqXCZC6phsAoLx+iWdeDezGLrWRawalEovtSSREmnmbsAqE17BLCS2E1tbmf1eG30eueEAVgCeUMfbEjRz2vAZCoxlcmTZ8uuWHzJQvvtN0Zmnc1iI5he/jMOW5RnvQzlrQo5w+akZRcb1ajfOTpHMjkGbzGeXkCR1peag[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c2c430d8-a13f-68ec-8f4c-8489094f5a5e/test-blob-7bacc56d-4377-6c7d-a670-05ef97a2896c?comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet><Tag><Key>tagKey0</Key><Value>tagValue0</Value></Tag><Tag><Key>tagKey1</Key><Value>tagValue1</Value></Tag></TagSet></Tags>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c2c430d8-a13f-68ec-8f4c-8489094f5a5e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:21:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1496311358",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
