{
  "Entries": [
    {
      "RequestUri": "https://remoterendering.northeurope.mixedreality.azure.com/accounts/2e3b4443-5a5a-4d44-94c2-4886323bbc42/sessions/ece0435b-f6aa-1ea4-645b-ef058fe03fcb?api-version=2021-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "maxLeaseTimeMinutes": 4,
        "size": "Standard"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-01-01-preview, 2021-01-01, 2021-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "FLY2Sbh1sUiYzuDnMZD7ww.0"
      },
      "ResponseBody": {
        "id": "ece0435b-f6aa-1ea4-645b-ef058fe03fcb",
        "creationTime": "2024-03-12T13:39:57.8352428\u002B00:00",
        "elapsedTimeMinutes": 0,
        "maxLeaseTimeMinutes": 4,
        "size": "Standard",
        "status": "Starting"
      }
    },
    {
      "RequestUri": "https://remoterendering.northeurope.mixedreality.azure.com/accounts/2e3b4443-5a5a-4d44-94c2-4886323bbc42/sessions/ece0435b-f6aa-1ea4-645b-ef058fe03fcb?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-01-01-preview, 2021-01-01, 2021-08-01-[...]
