{
  "Entries": [
    {
      "RequestUri": "https://remoterendering.northeurope.mixedreality.azure.com/accounts/2e3b4443-5a5a-4d44-94c2-4886323bbc42/sessions/fe2a22c2-2142-3a17-5fd4-13961a0ac57f?api-version=2021-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "maxLeaseTimeMinutes": -4,
        "size": "Standard"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-01-01-preview, 2021-01-01, 2021-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "3cvTxsfrmUeHxySUEN9BOA.0"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The maxLeaseTimeMinutes value cannot be negative."
        }
      }
    }
  ],
  "Variables": {
    "ARR_ACCOUNT_DOMAIN": "northeurope.mixedreality.azure.com",
    "ARR_ACCOUNT_ID": "2e3b4443-5a5a-4d44-94c2-4886323bbc42",
    "ARR_ACCOUNT_KEY": "Sanitized",
    "ARR_SERVICE_ENDPOINT": "https://remoterendering.northeurope.mixedreality.azure.com",
    "RandomSeed": "276683167"
  }
}
