{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ElasticSan/elasticSans?api-version=2024-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "value": [
          {
            "location": "eastus2",
            "properties": {
              "sku": {
                "name": "Premium_LRS"
              },
              "provisioningState": "Succeeded",
              "baseSizeTiB": 15,
              "extendedCapacitySizeTiB": 27,
              "totalIops": 75000,
              "totalMBps": 3000,
              "totalSizeTiB": 42,
              "volumeGroupCount": 0,
              "totalVolumeSizeGiB": 0
            },
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ElasticSan/elasticSans/testelasticsan",
            "name": "testelasticsan",
            "type": "Microsoft.ElasticSan/ElasticSans",
            "systemData": {
              "createdAt": "2024-10-21T02:34:06.8749552Z",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2024-10-21T02:34:06.8749552Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
