{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.ResourceConnector/appliances?api-version=2022-10-27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourcegroups/czwjstest/providers/microsoft.resourceconnector/appliances/resourcetest",
            "name": "resourcetest",
            "location": "eastus",
            "identity": {
              "type": "SystemAssigned",
              "principalId": "ccb89379-e7c2-48a7-aa9e-d8906bd2fafb",
              "tenantId": "88888888-8888-8888-8888-888888888888"
            },
            "type": "Microsoft.ResourceConnector/appliances",
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-04-27T02:23:24.8668962Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-04-27T02:23:24.8668962Z"
            },
            "properties": {
              "distro": "AKSEdge",
              "status": "WaitingForHeartbeat",
              "provisioningState": "Succeeded",
              "infrastructureConfig": {
                "provider": "VMWare"
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
