{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.ResourceConnector/appliances/resourcetest?api-version=2022-10-27",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "distro": "AKSEdge",
          "infrastructureConfig": {
            "provider": "VMWare"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-Asyncoperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/microsoft.resourceconnector/locations/eastus/operationsstatus/95c7d26e-c599-4cc1-a010-a5b36068776e?api-version=2020-07-15-privatepreview",
        "Content-Type": "application/json",
        "X-Ms-Async-Operation-Timeout": "PT60M",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourcegroups/czwjstest/providers/microsoft.resourceconnector/appliances/resourcetest",
        "name": "resourcetest",
        "location": "eastus",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "ccb89379-e7c2-48a7-aa9e-d8906bd2fafb",
          "tenantId": "88888888-8888-8888-8888-888888888888"
        },
        "type": "Microsoft.ResourceConnector/appliances",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-04-27T02:23:24.8668962Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-27T02:23:24.8668962Z"
        },
        "properties": {
          "distro": "AKSEdge",
          "status": "WaitingForHeartbeat",
          "provisioningState": "Creating",
          "infrastructureConfig": {
            "provider": "VMWare"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/microsoft.resourceconnector/locations/eastus/operationsstatus/95c7d26e-c599-4cc1-a010-a5b36068776e?api-version=2020-07-15-privatepreview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.ResourceConnector/locations/eastus/operationsstatus/95c7d26e-c599-4cc1-a010-a5b36068776e",
        "name": "95c7d26e-c599-4cc1-a010-a5b36068776e",
        "status": "Creating",
        "startTime": "2023-04-27T02:23:27.901688686Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/microsoft.resourceconnector/locations/eastus/operationsstatus/95c7d26e-c599-4cc1-a010-a5b36068776e?api-version=2020-07-15-privatepreview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.ResourceConnector/locations/eastus/operationsstatus/95c7d26e-c599-4cc1-a010-a5b36068776e",
        "name": "95c7d26e-c599-4cc1-a010-a5b36068776e",
        "status": "Succeeded",
        "startTime": "2023-04-27T02:23:27.901688686Z",
        "endTime": "2023-04-27T02:23:43.312420016Z"
      }
    },
[...]
