{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/829a4cbc-1cb1-4783-be15-75b2d8345e5c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/829a4cbc-1cb1-4783-be15-75b2d8345e5c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owner_team": "Engineering Systems",
          "security-classification": "team-sub"
        },
        "subscriptionId": "829a4cbc-1cb1-4783-be15-75b2d8345e5c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Search Dev API Foundations (kualu)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/829a4cbc-1cb1-4783-be15-75b2d8345e5c/resourcegroups/Search-SDK-Test8233?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/829a4cbc-1cb1-4783-be15-75b2d8345e5c/resourceGroups/Search-SDK-Test8233",
        "name": "Search-SDK-Test8233",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/829a4cbc-1cb1-4783-be15-75b2d8345e5c/resourceGroups/Search-SDK-Test8233/providers/Microsoft.Search/searchServices/search3582?api-version=2025-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "sku": {
          "name": "standard"
        },
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "hostingMode": "default"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "7247",
        "ETag": "W/\"datetime'2025-07-21T18%3A40%3A54.4395458Z'\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "location": "West US",
        "tags": {},
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "endpoint": "https://search3582.search.windows.net",
          "status": "provisioning",
          "statusDetails": "",
          "provisioningState": "provisioning",
          "hostingMode": "default",
          "computeType": "Default",
          "publicNetworkAccess": "Enabled",
          "networkRuleSet": {
            "ipRules": [],
            "bypass": "None"
          },
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "encryptionWithCmk": {
            "enforcement": "Unspecified",
            "encryptionComplianceStatus": "Compliant"
          },
          "disableLocalAuth": false,
          "authOptions": {
            "apiKeyOnly": {}
          },
          "dataExfiltrationProtections": [],
          "semanticSearch": "free",
          "upgradeAvailable": "notAvailable",
          "serviceUpgradedAt": null
        },
        "systemData": {
          "createdAt": "2025-07-21T18:40:54.437Z"
        },
        "id": "/subscriptions/829a4cbc-1cb1-4783-be15-75b2d8345e5c/resourceGroups/Search-SDK-Test8233/providers/Microsoft.Search/searchServices/search3582",
        "name": "search3582",
        "type": "Microsoft.Search/searchServices",
        "sku": {
          "name": "standard"
        }
      }
    },
[...]
