{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "4e9476e3-3c88-41e6-b696-03b019e05459",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Search TME Api Foundations (kualu)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourcegroups/SSS3PT_Search-SDK-Test1971?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourceGroups/SSS3PT_Search-SDK-Test1971",
        "name": "SSS3PT_Search-SDK-Test1971",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourceGroups/SSS3PT_Search-SDK-Test1971/providers/Microsoft.Search/searchServices/search13491?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "hostingMode": "default"
        },
        "sku": {
          "name": "standard"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "5094",
        "ETag": "W/\"datetime'2026-03-26T21%3A33%3A51.5853157Z'\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "location": "West US",
        "tags": {},
        "properties": {
          "replicaCount": 1,
          "partitionCount": 1,
          "endpoint": "https://search13491.search.windows.net",
          "status": "running",
          "statusDetails": "",
          "provisioningState": "Succeeded",
          "hostingMode": "default",
          "computeType": "Default",
          "publicNetworkAccess": "Enabled",
          "networkRuleSet": {
            "ipRules": [],
            "bypass": "None"
          },
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "encryptionWithCmk": {
            "enforcement": "Unspecified",
            "encryptionComplianceStatus": "Compliant",
            "serviceLevelEncryptionKey": null
          },
          "disableLocalAuth": false,
          "authOptions": {
            "aadOrApiKey": {
              "aadAuthFailureMode": "http401WithBearerChallenge"
            }
          },
          "disabledDataExfiltrationOptions": [],
          "dataExfiltrationProtections": [],
          "semanticSearch": "free",
          "knowledgeRetrieval": "free",
          "upgradeAvailable": "notAvailable",
          "serviceUpgradedAt": null
        },
        "systemData": {
          "createdAt": "2026-03-26T21:33:51.581Z"
        },
        "id": "/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourceGroups/SSS3PT_Search-SDK-Test1971/providers/Microsoft.Search/searchServices/search13491",
        "name": "search13491",
        "type": "Microsoft.Search/searchServices",
        "sku": {
          "name": "standard"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4e9476e3-3c88-41e6-b696-03b019e05459/resourceGroups/SSS3PT_Search-SDK-Test1971/providers/Microsoft.Search/searchServices?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "172",
        "x-ms-original-request-ids": "",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "location": "West US",
            "tags": {},
            "properties": {
              "replicaCount": 1,
              "partitionCount": 1,
              "endpoint": "https://search13491.search.windows.net",
              "status": "running",
              "statusDetails": "",
              "provisioningState": "Succeeded",
              "hostingMode": "default",
              "computeType": "Default",
              "publicNetworkAccess": "Enabled",
              "networkRuleSet": {
                "ipRules": [],
                "bypass": "None"
              },
              "privateEndpointConnections": [],
              "sharedPrivateLinkResources": [],
              "eTag": "W/\"datetime'2026-03-26T21%3A33%3A51.5853157Z'\"",
              "encryptionWithCmk": {
                "enforcement": "Unspecified",
                "encryptionComplianceStatus": "Compliant",
                "serviceLevelEncryptionKey": null
              },
              "disableLocalAuth": false,
              "authOptions": {
                "aadOrApiKey": {
                  "aadAuthFailureMode": "http401WithBearerChallenge"
                }
              },
              "disabledDataEx[...]
