{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/6bf4cfaa-64af-05c4-8f89-81eadfd3de9b?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/6bf4cfaa-64af-05c4-8f89-81eadfd3de9b?api-version=2026-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "properties": {
          "roleName": "Managed HSM Data Decryptor",
          "description": "Can only decrypt data using the private key stored in Managed HSM",
          "type": "CustomRole",
          "permissions": [
            {
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/decrypt/action"
              ]
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "18"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/6bf4cfaa-64af-05c4-8f89-81eadfd3de9b",
        "name": "6bf4cfaa-64af-05c4-8f89-81eadfd3de9b",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "Can only decrypt data using the private key stored in Managed HSM",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/decrypt/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "Managed HSM Data Decryptor",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/6bf4cfaa-64af-05c4-8f89-81eadfd3de9b?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/6bf4cfaa-64af-05c4-8f89-81eadfd3de9b",
        "name": "6bf4cfaa-64af-05c4-8f89-81eadfd3de9b",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "Can only decrypt data using the private key stored in Managed HSM",
          "permissions": [[...]
