{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv644hsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/35b55fb9-7fe8-d9bb-7131-ef85573254cb?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv644hsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/35b55fb9-7fe8-d9bb-7131-ef85573254cb?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "roleName": "Managed HSM Data Decryptor",
          "description": "Can only decrypt data using the private key stored in Managed HSM",
          "type": "CustomRole",
          "permissions": [
            {
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/decrypt/action"
              ]
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "15"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/35b55fb9-7fe8-d9bb-7131-ef85573254cb",
        "name": "35b55fb9-7fe8-d9bb-7131-ef85573254cb",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "Can only decrypt data using the private key stored in Managed HSM",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/decrypt/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "Managed HSM Data Decryptor",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
    {
      "RequestUri": "https://rgjoncardekv644hsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/35b55fb9-7fe8-d9bb-7131-ef85573254cb?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250221-1-e4accbbe-develop",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/35b55fb9-7fe8-d9bb-7131-ef85573254cb",
        "name": "35b55fb9-7fe8-d9bb-7131-ef85573254cb",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "Can only decrypt data using the private key stored in Managed HSM",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/decrypt/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "Managed HSM Data Decryptor",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
    {
      "RequestUri": "https://rgjoncardekv644hsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/35b55fb9-7fe8-d9bb-7131-ef85573254cb?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "17"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/35b55fb9-7fe8-d9bb-7131-ef85573254cb",
        "name": "35b55fb9-7fe8-d9bb-7131-ef85573254cb",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "Can only decrypt data using the private key stored in Managed HSM",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/decrypt/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "Managed HSM Data Decryptor",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv644hsm.managedhsm.azure.net/",
    "CLIENT_OBJECTID": "7f95d217-8403-4c90-84ea-4c3ab4812683",
    "RandomSeed": "1873261468"
  }
}
