{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/ea54819f-7ffb-450a-4077-0ca241bdf94f?api-version=7.6-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/ea54819f-7ffb-450a-4077-0ca241bdf94f?api-version=7.6-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "roleName": "Managed HSM Data Decryptor",
          "description": "Can only decrypt data using the private key stored in Managed HSM",
          "type": "CustomRole",
          "permissions": [
            {
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/decrypt/action"
              ]
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "21"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/ea54819f-7ffb-450a-4077-0ca241bdf94f",
        "name": "ea54819f-7ffb-450a-4077-0ca241bdf94f",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "Can only decrypt data using the private key stored in Managed HSM",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/decrypt/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "Managed HSM Data Decryptor",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/ea54819f-7ffb-450a-4077-0ca241bdf94f?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240802-2-f8ce6e35-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/ea54819f-7ffb-450a-4077-0ca241bdf94f",
        "name": "ea54819f-7ffb-450a-4077-0ca241bdf94f",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "Can only decrypt data using the private key stored in Managed HSM",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/decrypt/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "Managed HSM Data Decryptor",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/ea54819f-7ffb-450a-4077-0ca241bdf94f?api-version=7.6-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "20"
      },
      "ResponseBody": {
        "id": "Microsoft.KeyVault/providers/Microsoft.Authorization/roleDefinitions/ea54819f-7ffb-450a-4077-0ca241bdf94f",
        "name": "ea54819f-7ffb-450a-4077-0ca241bdf94f",
        "properties": {
          "assignableScopes": [
            "/"
          ],
          "description": "Can only decrypt data using the private key stored in Managed HSM",
          "permissions": [
            {
              "actions": [],
              "dataActions": [
                "Microsoft.KeyVault/managedHsm/keys/decrypt/action"
              ],
              "notActions": [],
              "notDataActions": []
            }
          ],
          "roleName": "Managed HSM Data Decryptor",
          "type": "CustomRole"
        },
        "type": "Microsoft.Authorization/roleDefinitions"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/",
    "CLIENT_OBJECTID": "85e76fba-508b-4642-8f2e-6d5ea530ba6f",
    "RandomSeed": "911033797"
  }
}
