{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-7b721de5-a802-ece1-ae75-0839a5a18369?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:23 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86793D2A09BA\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-7b721de5-a802-ece1-ae75-0839a5a18369/test-blob-0079d6e8-830a-0441-9614-b86fd0ad019a?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86793D53C030\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-7b721de5-a802-ece1-ae75-0839a5a18369/test-blob-0079d6e8-830a-0441-9614-b86fd0ad019a?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "66PD2pBTKueQxIKQ+Y5GMr+18t3UAhn370PwcJgV0sWvQGcCudvC853l8IqSUaO58TO3JUDkmemJzOtMYrpPevK84bgnQ3nk8/9A7hKPZJ2fN35kXa2FyqZ+ee3wdZDjlnWY1XDrkq260zFBpKrW+mdNrCo76h1ENxcSqMqL831uXFic9o4ttKXQqol7QyX8p36Fo8llp6tXU55Y2OnjLuC000hSOgPYIPeFa0CTyPPyFQFLBlC0CLWsRKPv1Nu77Xuox3DcqW17rILR4DtrxIurZsPnlyiQ/8qSpfVg6EwbyX7E6gGCFWyU0FnN4id5QIAXRG0Y1FVTGMemSgN4GsM2tRa9p[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-7b721de5-a802-ece1-ae75-0839a5a18369/test-blob-0079d6e8-830a-0441-9614-b86fd0ad019a?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC86793D53C030\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86793D6B2630\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:25 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-7b721de5-a802-ece1-ae75-0839a5a18369/test-blob-0079d6e8-830a-0441-9614-b86fd0ad019a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86793D6B2630\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:25 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:37:25 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-7b721de5-a802-ece1-ae75-0839a5a18369/test-blob-0079d6e8-830a-0441-9614-b86fd0ad019a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC86793D6B2630\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:24 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86793D6B2630\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:25 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:37:25 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-pe[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-7b721de5-a802-ece1-ae75-0839a5a18369?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:24 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "454524604",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
