{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-57110488-e891-52ed-9017-594ea7c47442?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86793A3B4B08\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-57110488-e891-52ed-9017-594ea7c47442/test-blob-3a705709-af1a-dbf4-50e1-9ef81495a2e4?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86793A66F768\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-57110488-e891-52ed-9017-594ea7c47442/test-blob-3a705709-af1a-dbf4-50e1-9ef81495a2e4?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "U1Bm0F+MqOrYGw1+hmafkvrJUs3Ido7mv7L8rhqrHsQu2zNil00wbzERJZly3v80lvKGDjMXvd3BgBCsj/rPLPxJUKsyPPqsmOKct1D1dOGzyBcoJRCQFh1WoBc8hN82QficKI5UAVn32XVQewaMzAwv+cfipwfsuDmN25zjcBQDZXVYWUtSX8a+MEyaP5sXytQLDIsYU5nxr3BVxia9FGhhTRWRM3LB3JoBJHe6UniddhHH2GOJ6xLbZqnb/ZigABzjOPKGhZZhSS/wFi4iNl33uE8V9TwF2GIDtczJ5t8BYSRa1hmGF/F6Zo4zmNTjuS9L40VJiwvg3mCQg9DJmGNQ77UKx[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-57110488-e891-52ed-9017-594ea7c47442/test-blob-3a705709-af1a-dbf4-50e1-9ef81495a2e4?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC86793A66F768\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86793A7FCF14\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:21 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-57110488-e891-52ed-9017-594ea7c47442/test-blob-3a705709-af1a-dbf4-50e1-9ef81495a2e4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86793A7FCF14\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:21 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:37:20 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-57110488-e891-52ed-9017-594ea7c47442/test-blob-3a705709-af1a-dbf4-50e1-9ef81495a2e4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC86793A7FCF14\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:19 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86793A7FCF14\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:21 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:37:20 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "U1Bm0F+MqOrYGw1+hmafkvrJUs3Ido7mv7L8rhqrHsQu2zNil00wbzERJZly3v80lvKGDjMXvd3BgBCsj/rPLPxJUKsyPPqsmOKct1D1dOGzyBcoJRCQFh1WoBc8hN82QficKI5UAVn32XVQewaMzAwv+cfipwfsuDmN25zjcBQ="
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-57110488-e891-52ed-9017-594ea7c47442?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1792255493",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
