{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-a8e6b5d3-8fac-962b-96b7-c3ace998f4b0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867936F7C593\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-a8e6b5d3-8fac-962b-96b7-c3ace998f4b0/test-blob-289ec286-c1f7-d67a-631e-351a697f6387?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679371FF5B4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-a8e6b5d3-8fac-962b-96b7-c3ace998f4b0/test-blob-289ec286-c1f7-d67a-631e-351a697f6387?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "TltLckZ3qXL5kb2rKQp1tdwsTM1COFdGpUQqTQ+kq7oaHdHElWhP53Hjw8i4HtBPIZw7fOMYBRYEBcwCTFxiVOYCkQw4sSB03GVbX3SOjYdz2yxzaS7WAhe7wI+bTZsVgG7ito3EFm97x6B+vKahdXdFjnAv7+u3K470ffGQ2I/JRd8FrNf6r8W996GOWEVxGUoYVb4q5pCDKor+z5h+6+4RtHbHnMigS9+qcvhKKdNJgmSmeILQnl9OgoJM+98sPguyfaPPqn2BdwregHSYOQG3tUw02HNrQBYXeBpGVE8AfTPsl6svedjnJAB38R7qtUiBlEaS+GaYRj2NuDFiOyO73gJAr[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-a8e6b5d3-8fac-962b-96b7-c3ace998f4b0/test-blob-289ec286-c1f7-d67a-631e-351a697f6387?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8679371FF5B4\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867937367BD8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:15 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-a8e6b5d3-8fac-962b-96b7-c3ace998f4b0/test-blob-289ec286-c1f7-d67a-631e-351a697f6387",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867937367BD8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:37:15 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-a8e6b5d3-8fac-962b-96b7-c3ace998f4b0/test-blob-289ec286-c1f7-d67a-631e-351a697f6387",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC867937367BD8\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:14 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867937367BD8\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:15 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:37:15 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-pe[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-a8e6b5d3-8fac-962b-96b7-c3ace998f4b0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1991373804",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
