{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-08555adf-9462-3081-54d6-5e948e42652f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867939677216\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-08555adf-9462-3081-54d6-5e948e42652f/test-blob-1bbe8419-6556-f2c6-898c-197464a43ed6?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867939912AF4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-08555adf-9462-3081-54d6-5e948e42652f/test-blob-1bbe8419-6556-f2c6-898c-197464a43ed6?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "6gOQH34UTjDja0V8ZTAIybRjLwqFbS/LZtiUGY8o3mXx6GYk+gJ8UDSLFZQiudveR1aZqC3owH3TxLmmfzWhuozgi33K48+y5t7W+leaqKz8ttE4jjY3CSfoUDVI1tH/6VoIQi5eE2OG58FOEsYlOBsMqslkaCtWqIFV4pOaaRAN1hD8kmV9naNtsqd06fZhwxgZPCsIm4EvspqtCDHQ636xQTu2KKa1jgwl9raE4b+L9B96gC3kBTuPzeDL0JRynMYpw6e6qppxY60f4qTKqtDbIRQSVWtQzDwAJ1rG6r53s1nvWx4X0EmECRyAxSKWxCIP76+AX0Zb2PZruYM/q3nupy5K2[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-08555adf-9462-3081-54d6-5e948e42652f/test-blob-1bbe8419-6556-f2c6-898c-197464a43ed6?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC867939912AF4\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867939B26A8C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:19 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-08555adf-9462-3081-54d6-5e948e42652f/test-blob-1bbe8419-6556-f2c6-898c-197464a43ed6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867939B26A8C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:37:19 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-08555adf-9462-3081-54d6-5e948e42652f/test-blob-1bbe8419-6556-f2c6-898c-197464a43ed6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC867939B26A8C\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:18 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867939B26A8C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:19 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:37:19 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "6gOQH34UTjDja0V8ZTAIybRjLwqFbS/LZtiUGY8o3mXx6GYk+gJ8UDSLFZQiudveR1aZqC3owH3TxLmmfzWhuozgi33K48+y5t7W+leaqKz8ttE4jjY3CSfoUDVI1tH/6VoIQi5eE2OG58FOEsYlOBsMqslkaCtWqIFV4pOaaRA="
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-08555adf-9462-3081-54d6-5e948e42652f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "957961995",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
