{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-c2597018-3b9e-8920-7569-1d74902dffc2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86792CA33E93\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-c2597018-3b9e-8920-7569-1d74902dffc2/test-blob-95400c24-da98-3652-c55a-e484f377099e?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86792CCB0B10\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-c2597018-3b9e-8920-7569-1d74902dffc2/test-blob-95400c24-da98-3652-c55a-e484f377099e?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "tzCIjjZMaor4Tt91xnBDoPKXi+hNqewo1C5f7MqSJjGSAfgVTOdQnDxVXYde3o0OHSLyTieuJg5EYLoH7X6/ZSeu4sV3LlQLRu+s90xkyvWhUc+ooNgJ49vq0essSK+9lfdgr/vIl+7O5wc3Ai7B35bFZpyvF8VPpP/qjF1o3v1A7mFUBBr52Lng2rjQ0uGsKfFVZ+ISDn4yEAv83gqRZQkK9xPNbNp7zI3izzwMf9EdPmNrEnYbLeDjIvQO/PqvTnSvxtrO37wX2ZtUMD5BJZE535+mJlOS7soy6Unmbc+SMoHIXbj3T16nUzjbxvyiof1i1RxaCCchHdcQm/VyMWzLwf69e[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-c2597018-3b9e-8920-7569-1d74902dffc2/test-blob-95400c24-da98-3652-c55a-e484f377099e?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC86792CCB0B10\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86792CE4CC8C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:58 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-c2597018-3b9e-8920-7569-1d74902dffc2/test-blob-95400c24-da98-3652-c55a-e484f377099e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86792CE4CC8C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:36:58 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-c2597018-3b9e-8920-7569-1d74902dffc2/test-blob-95400c24-da98-3652-c55a-e484f377099e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC86792CE4CC8C\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:56 GMT",
        "x-ms-range": "bytes=0-255",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-255/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86792CE4CC8C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:58 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:36:58 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "tzCIjjZMaor4Tt91xnBDoPKXi+hNqewo1C5f7MqSJjGSAfgVTOdQnDxVXYde3o0OHSLyTieuJg5EYLoH7X6/ZSeu4sV3LlQLRu+s90xkyvWhUc+ooNgJ49vq0essSK+9lfdgr/vIl+7O5wc3Ai7B35bFZpyvF8VPpP/qjF1o3v1A7mFUBBr52Lng2rjQ0uGsKfFVZ+ISDn4yEAv83gqRZQkK9xPNbNp7zI3izzwMf9EdPmNrEnYbLeDjIvQO/PqvTnSvxtrO37wX2ZtUMD5BJZE535+mJlOS7soy6Unmbc+SMoHIXbj3T16nUzjbxvyiof1i1RxaCCchHdcQm/VyMQ=="
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-c2597018-3b9e-8920-7569-1d74902dffc2/test-blob-61829946-b524-f409-21a6-0fb49df7c117",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 05 Jun 2024 22:36:56 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86792D531C04\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:36:58 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-c2597018-3b9e-8920-7569-1d74902dffc2/test-blob-395ba69d-2dac-2a8e-a2ce-86c829ce1ab9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 07 Jun 2024 22:36:56 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86792DBA425C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:36:59 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-c2597018-3b9e-8920-7569-1d74902dffc2/test-blob-42b34591-9181-0e97-26a3-9a00cdc916e2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86792E9EEF7C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:37:00 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-c2597018-3b9e-8920-7569-1d74902dffc2/test-blob-0ff8412b-1e83-af68-99b5-95b5cbe2ea68?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:00 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "76b0ee63-ef20-8a4b-a90d-a64067d2a3df",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86792F0C6244\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:01 GMT",
        "x-ms-lease-id": "76b0ee63-ef20-8a4b-a90d-a64067d2a3df",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-c2597018-3b9e-8920-7569-1d74902dffc2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T17:36:56.3331420-05:00",
    "RandomSeed": "1501177144",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
