{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-0dd1058d-0142-488b-d3d2-8b7fbc0b5203?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679258699EE\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-0dd1058d-0142-488b-d3d2-8b7fbc0b5203/test-blob-3e54d097-d1b3-e346-a2f5-ed117fb8fa87?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867925AEC940\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-0dd1058d-0142-488b-d3d2-8b7fbc0b5203/test-blob-3e54d097-d1b3-e346-a2f5-ed117fb8fa87?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "MJUvBCifLQ0DBQJbHqhGOlYh4fXQDhW4w2K1axJXlfhZNrJsaXdB/ZktQOh66bGnpTNUFDCY2yGAd0DF6cL6q3AKAuj22tHf3+Nbo80sPdqxDsbfA4DHwFqQ7PI2exPXMpV4cObJscphdDVNPThTVDllFNv7G6jwQkKNZe7eqWPQg3A4tM306F37fY5KeoMiPJi50Wc42xfshy2kO0vcgsvRfbnIG59rcSx9AJ4apci/ailWJdf8l6hYTCyfUKwSH/rDeP3JWiH4TV86u9t50uFl5NAhhl3z1eURb85zyyGAa+GjVi3K9RAHXtd4wdzM33pLOmvb8Jidz6MXuOpShII9uk/61[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-0dd1058d-0142-488b-d3d2-8b7fbc0b5203/test-blob-3e54d097-d1b3-e346-a2f5-ed117fb8fa87?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC867925AEC940\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867925C531D4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:46 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-0dd1058d-0142-488b-d3d2-8b7fbc0b5203/test-blob-3e54d097-d1b3-e346-a2f5-ed117fb8fa87",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867925C531D4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:36:46 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-0dd1058d-0142-488b-d3d2-8b7fbc0b5203?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1489809301",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
