{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-e0212b0b-4c78-e00e-2001-194fca282636?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867924D38631\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-e0212b0b-4c78-e00e-2001-194fca282636/test-blob-f8b33da9-38e9-649c-c9d1-aaca5b14d730?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86792500DD38\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:44 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-e0212b0b-4c78-e00e-2001-194fca282636/test-blob-f8b33da9-38e9-649c-c9d1-aaca5b14d730?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "u3W+PzrJC+OPmgdLZxn/7zi4rhP5Bmflm/4hohgl+7sLBjlrcokm16tKkDQVBPsxkR4/0m8O5LQN2aQ8qGnLap9MQGHgk32uktZnr3Yyz5YC8BH65ShM/SGFXZjl6i9CfyaVycSZUP2hkECYpjU92wkOObdX0IR3/0JAWzXkyKenJS9QnQXRaKATWFXntFfrR4KP1rB46q6iHcqBWfXIvMeZ8YAG7T0EPNEWRHguj0vrVROyVfL2LjuArn87Tw+qS5yNTsPX5FpFi5rfYaY2c45+lgPhFWfVosJEhT69yO3BbPnboUGIFHC5bcpXF82VSjrxvbkMyTU0t6wAkl8bh8KtHvWtW[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-e0212b0b-4c78-e00e-2001-194fca282636/test-blob-f8b33da9-38e9-649c-c9d1-aaca5b14d730?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC86792500DD38\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679251ADF84\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:45 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-e0212b0b-4c78-e00e-2001-194fca282636/test-blob-f8b33da9-38e9-649c-c9d1-aaca5b14d730",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679251ADF84\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:36:44 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-e0212b0b-4c78-e00e-2001-194fca282636/test-blob-f8b33da9-38e9-649c-c9d1-aaca5b14d730",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8679251ADF84\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:43 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679251ADF84\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:45 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:36:44 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "u3W+PzrJC+OPmgdLZxn/7zi4rhP5Bmflm/4hohgl+7sLBjlrcokm16tKkDQVBPsxkR4/0m8O5LQN2aQ8qGnLap9MQGHgk32uktZnr3Yyz5YC8BH65ShM/SGFXZjl6i9CfyaVycSZUP2hkECYpjU92wkOObdX0IR3/0JAWzXkyKc="
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-e0212b0b-4c78-e00e-2001-194fca282636?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1517639400",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
