{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-1ed06982-1dab-9991-4d21-a26c5b074122?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867934A2B594\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-1ed06982-1dab-9991-4d21-a26c5b074122/test-blob-b71e2618-b32f-f5d2-204b-9cede97e53d1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867934CAF37C\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-1ed06982-1dab-9991-4d21-a26c5b074122/test-blob-b71e2618-b32f-f5d2-204b-9cede97e53d1?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "2W9OWZBiOohqUkPyOgyJQyfY51semqQdUp6VHgsWJHS+3qugu6A5IsVgPCuy+ri9Cau/gH6f5j/KMQbyzBx9Uy3ONFxg6IiHnsSVvV15alfm1xRfV6P2Hvds1omZR1ap4+j95MZbXSAiOOK5CinhUcavC/QHHfyK2BVk8xL+7Vdu69p0e4aRinrzPB7BPBTOi4XD6jthocXscwyw9mkOI0qKSx5ObNZAHoF6FODeyJsAlmiMOwMcDEoUiAd54JMQ5RnTNvH2fx6vgsy5543lDqtwr2ABgehHbj7TOuTOxj3tai7HCpKqChdJ3bk3YiW8L3pcCTAzD2Mwi8ezIkU64LuOzH1eH[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-1ed06982-1dab-9991-4d21-a26c5b074122/test-blob-b71e2618-b32f-f5d2-204b-9cede97e53d1?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC867934CAF37C\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867934E61928\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:11 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-1ed06982-1dab-9991-4d21-a26c5b074122/test-blob-b71e2618-b32f-f5d2-204b-9cede97e53d1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867934E61928\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:37:11 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-1ed06982-1dab-9991-4d21-a26c5b074122/test-blob-b71e2618-b32f-f5d2-204b-9cede97e53d1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC867934E61928\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:10 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867934E61928\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:11 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:37:11 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "2W9OWZBiOohqUkPyOgyJQyfY51semqQdUp6VHgsWJHS+3qugu6A5IsVgPCuy+ri9Cau/gH6f5j/KMQbyzBx9Uy3ONFxg6IiHnsSVvV15alfm1xRfV6P2Hvds1omZR1ap4+j95MZbXSAiOOK5CinhUcavC/QHHfyK2BVk8xL+7Vdu69p0e4aRinrzPB7BPBTOi4XD6jthocXscwyw9mkOI0qKSx5ObNZAHoF6FODeyJsAlmiMOwMcDEoUiAd54JMQ5RnTNvH2fx6vgsy5543lDqtwr2ABgehHbj7TOuTOxj3tai7HCpKqChdJ3bk3YiW8L3pcCTAzD2Mwi8ezIkU64LuOzH1eHQMYxqVJt6MvEAwYFgppcr0MulrKln7K9+fRD/39qJWoXhF3Q0OL6lfAAXu7mgs60G7+ghEik4eETs69d6emMWh2cLj58i55gNACCpUDD13clj+O/yWEhcqK8vV0znKwGdASRClSQd1AhAFBH4nxgD9x4eFoFzJC8urubgA5BLJdUvHE8MsziVRhTnokQmZAmHG2A+yQRwGd0FE+ZNLdBoBP482XLY90PliMB8m4HbCErdaOgwHFzQrvJyB59CSBg0j61V6YqWviQsWUBEA45bKhubb8T4N+iRbCqAVv+kkzCoOBvUhR7ARqrEE8McjKtkFt1zpuhTTEe0s="
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-1ed06982-1dab-9991-4d21-a26c5b074122/test-blob-b71e2618-b32f-f5d2-204b-9cede97e53d1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC867934E61928\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:10 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:047504fd-201e-000b-3162-b884d9000000\n",
        "Time:2024-06-06T22:37:12.2713922Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-1ed06982-1dab-9991-4d21-a26c5b074122?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1147350462",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
