{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-43625aa4-3c1d-4ad7-2e18-c467e5eccae4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679271FE498\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-43625aa4-3c1d-4ad7-2e18-c467e5eccae4/test-blob-e165a278-e900-7ab5-715e-9e816522c117?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86792745C2F4\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-43625aa4-3c1d-4ad7-2e18-c467e5eccae4/test-blob-e165a278-e900-7ab5-715e-9e816522c117?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Aah7pusaFBMbyjyt/BLABcD2kw3HSVx19hHpS6H4wR9OPsPhrbHiucMRZr245HXExeqG4FQUObhLBrDZMMhxIwkcX71O3lcOFNlKtuOevRKcJIa2ceHLOQULlqcBCIj6n0K0m4S4deaSd8t6yoLUrEmePQxCu7EnUSW4Q0iwDQtQTxag6iGN46+fJPoVUG+CNuleY8t8uOSRjEpfADKe4mm/KnpsNMInEFlcopa2EgC1NQxeUqpA05YyDl3XLuN8AUGQVSb1FgInNlJxIBZN2npJqcomQI+/f1bkOSVkUOJ24KFUJrzawB4KNxxXzrOA5DPjjoQYVsCy0NbPEdzcwuZw+z91+[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-43625aa4-3c1d-4ad7-2e18-c467e5eccae4/test-blob-e165a278-e900-7ab5-715e-9e816522c117?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC86792745C2F4\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679275D5B48\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:48 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-43625aa4-3c1d-4ad7-2e18-c467e5eccae4/test-blob-e165a278-e900-7ab5-715e-9e816522c117",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679275D5B48\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:36:48 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-43625aa4-3c1d-4ad7-2e18-c467e5eccae4/test-blob-e165a278-e900-7ab5-715e-9e816522c117",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8679275D5B48\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:47 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679275D5B48\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:48 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:36:48 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-pe[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-43625aa4-3c1d-4ad7-2e18-c467e5eccae4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1783405928",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
