{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-9eaa007b-3398-fbb8-df30-c60239ea282f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86793617A029\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-9eaa007b-3398-fbb8-df30-c60239ea282f/test-blob-2387cd26-7964-5755-514a-e091f3413833?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679363F8C20\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-9eaa007b-3398-fbb8-df30-c60239ea282f/test-blob-2387cd26-7964-5755-514a-e091f3413833?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "WAA/u+skukVeAaEH7hg7h1om+4Iky4fCtM3lCdCoMW2ayEe/Fxq04vyA/qaEI080lt2eUZN0WI14fQYePrB1tdAzbSXRe3BAcRiGo8zhPpB9sHPyCt/ZJnC6R5oTlaRLC0nWULYqYxttXeB77bTAlz51oY49gqrxWUe0FzTVLNt0O5iDC+3aU01XhKz+Xji7+a9bnfQVDoie5PZvdUvnmDEFBrEcPIxRm05B5f398voO+R2EeY7nXiwP5Cb2at0BcOx7+ViGn70iCgKm1CiLofL7YHwuYh6iHaiFDFhmWjBwP3UQgvmih1pgYW6MQIkDhEMz+glh0w3O2NuvAZJkvLDRNZWze[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-9eaa007b-3398-fbb8-df30-c60239ea282f/test-blob-2387cd26-7964-5755-514a-e091f3413833?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC8679363F8C20\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867936559B44\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:14 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-9eaa007b-3398-fbb8-df30-c60239ea282f/test-blob-2387cd26-7964-5755-514a-e091f3413833",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867936559B44\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:37:13 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-9eaa007b-3398-fbb8-df30-c60239ea282f/test-blob-2387cd26-7964-5755-514a-e091f3413833",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC867936559B44\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:12 GMT",
        "x-ms-range": "bytes=512-639",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-639/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867936559B44\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:14 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:37:13 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "ZA2812bFDvK4kJEcCK/cvLfy7al/93+Qf31G5XzPdZ/keNDMkWulUhCeElztMScgW8uaP5pVMmyOLFfofyl26RrxOJDeECtMTJuY4OQjok5WJYmxNDYEj0ZjPWQTvdPnKChB+/mWQUufTvL/vFGHaokJkVmfxbTk7ahKetLHOI8="
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-9eaa007b-3398-fbb8-df30-c60239ea282f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "174551110",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
