{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-d8875512-9123-2dfd-71c1-57f85dc4f337?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867922BE7591\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-d8875512-9123-2dfd-71c1-57f85dc4f337/test-blob-9a50dd0d-946d-dd86-9325-b3cc6a5b2e9b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867922E2E694\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-d8875512-9123-2dfd-71c1-57f85dc4f337/test-blob-9a50dd0d-946d-dd86-9325-b3cc6a5b2e9b?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "GlBgfUEiJKqshbqo8DR/iPL57O4zVnG/jBpcN/obju7Heq5diFAb6krm8EAmNkGY1eWaeEPF8sPfoPEnxe2wkPbM4HWGIv+h3QGkTWYwmVbZw2EVgRarAYjrfudf9CRdNl9JWlXLErPl+ZpBIaVdrgeaTQKLmw/gIN/tmqQYQendRxYG5z4ADbCtL4h7at/ijc/gxKci0ZtPaDl13ncPzbexZNqOVsfImj9R3WuHZbb/Cg3UOHxCu3V7tn4Fii45nmHQyQYFVDYIFypn0PMvyAODdtRqO5U6b6lkEqBIww8QGD8Jtpuw+rXWzCBS2+qCTO57gRRazmPMlVpcoUGWv1MbVre0J[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-d8875512-9123-2dfd-71c1-57f85dc4f337/test-blob-9a50dd0d-946d-dd86-9325-b3cc6a5b2e9b?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC867922E2E694\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867922FD3F58\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:41 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-d8875512-9123-2dfd-71c1-57f85dc4f337/test-blob-9a50dd0d-946d-dd86-9325-b3cc6a5b2e9b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867922FD3F58\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:41 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:36:41 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-d8875512-9123-2dfd-71c1-57f85dc4f337/test-blob-9a50dd0d-946d-dd86-9325-b3cc6a5b2e9b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC867922FD3F58\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:40 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867922FD3F58\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:36:41 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:36:41 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "GlBgfUEiJKqshbqo8DR/iPL57O4zVnG/jBpcN/obju7Heq5diFAb6krm8EAmNkGY1eWaeEPF8sPfoPEnxe2wkPbM4HWGIv+h3QGkTWYwmVbZw2EVgRarAYjrfudf9CRdNl9JWlXLErPl+ZpBIaVdrgeaTQKLmw/gIN/tmqQYQek="
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-d8875512-9123-2dfd-71c1-57f85dc4f337?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:36:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1938730798",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
