{
  "Entries": [
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-60da7a5b-ebe2-e169-ffff-737ec872d74d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:26:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CED3244BDA7\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:26:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-60da7a5b-ebe2-e169-ffff-737ec872d74d/test-blob-b914c1df-73cc-a1e2-0084-63d9b60b9685?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:26:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CED3254EC70\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:26:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-60da7a5b-ebe2-e169-ffff-737ec872d74d/test-blob-b914c1df-73cc-a1e2-0084-63d9b60b9685?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Mar 2025 20:26:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "L2i7bMZojuXa6tp80cMlFCPxtChzrQhVuca3ei4Sxj5WfHVSL2+8YREYT1kBF09oijNpN5PmKoFgZrIAsRO2xyObJlRO0uW0NFIXWl6uU6J3T+/7qY+rcFHz8si8vLD9Yoc2ZvD6GbhNtAJAzs8jsRIQiWIkuh6U77YDWt8d+HiiGvjWeO2xfDU3rvSMaqGB0EG2qzJN2ahooXY69r/ZMLyJnbTXTDgkXwwt7AwqB4UUgYmdZ01GVEBPbdd3doV1Xn03A83tqoMJkUsmIOycPprxJXU1O8luQ0hzh95hreiGt46O8gS3J9cGlNUCHzRUsy89hlEQPyO0yb+EeSKkp+NioGleD[...]
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-60da7a5b-ebe2-e169-ffff-737ec872d74d/test-blob-b914c1df-73cc-a1e2-0084-63d9b60b9685?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CED3254EC70\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:26:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CED32744570\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:26:37 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-60da7a5b-ebe2-e169-ffff-737ec872d74d/test-blob-b914c1df-73cc-a1e2-0084-63d9b60b9685",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:26:47 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CED32744570\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:26:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:26:37 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-60da7a5b-ebe2-e169-ffff-737ec872d74d/test-blob-b914c1df-73cc-a1e2-0084-63d9b60b9685",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CED32744570\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:26:47 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CED32744570\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:26:37 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:26:37 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-pe[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-60da7a5b-ebe2-e169-ffff-737ec872d74d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:26:48 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1174213817",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nnickliustorageacc\nU2FuaXRpemVk\nhttps://nickliustorageacc.blob.core.windows.net\nhttps://nickliustorageacc.file.core.windows.net\nhttps://nickliustorageacc.queue.core.windows.net\nhttps://nickliustorageacc.table.core.windows.net\n\n\n\n\nhttps://nickliustorageacc-secondary.blob.core.windows.net\nhttps://nickliustorageacc-secondary.file.core.windows.net\nhttps://nickliustorageacc-secondary.queue.core.windows.net\nhttps://nickliustorageacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliustorageacc.blob.core.windows.net/;QueueEndpoint=https://nickliustorageacc.queue.core.windows.net/;FileEndpoint=https://nickliustorageacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliustorageacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliustorageacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliustorageacc-secondary.file.core.windows.net/;AccountName=nickliustorageacc;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
