{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-ef943586-a548-cbf3-09aa-698cdd5b2ec9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86793ED86E17\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-ef943586-a548-cbf3-09aa-698cdd5b2ec9/test-blob-0e3dc93a-9ac9-5222-f30a-71e0815ce4cc?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:26 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86793F0BC0AC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-ef943586-a548-cbf3-09aa-698cdd5b2ec9/test-blob-0e3dc93a-9ac9-5222-f30a-71e0815ce4cc?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "IRA+B4QsET7eN3Wvs8stz62gBJhP3uhlJ7p8bVRZIlKm6QaN+vREWzLNcqgTjaKuKyNQmSJZuEMn2eDJr6TphBUjCMrEoNS5W6lmgmxAUpkYzkExCIkwTTHCZSETequO4+2T8IXY6YtOlz148zbX54ZGseFiuHyL8ruYATqzpeD9155+rGIUQOS24nFMt1n6636azcnKKytxCP3JP+dQm/FcexuYWDokMnH8rNUKPzthnRa8GNgXMqtyDaRkSgD9ZUd/7zs9YpNDdppYzX9WZsjBaKHRlIMZRUhvJUuWv+dw/0aOi1AAJDuDeaE9v2UsHKfbo+JeK9HDZaryzT1IrLaz5845y[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-ef943586-a548-cbf3-09aa-698cdd5b2ec9/test-blob-0e3dc93a-9ac9-5222-f30a-71e0815ce4cc?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC86793F0BC0AC\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86793F37F668\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:28 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-ef943586-a548-cbf3-09aa-698cdd5b2ec9/test-blob-0e3dc93a-9ac9-5222-f30a-71e0815ce4cc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86793F37F668\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:37:28 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-ef943586-a548-cbf3-09aa-698cdd5b2ec9/test-blob-0e3dc93a-9ac9-5222-f30a-71e0815ce4cc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC86793F37F668\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:27 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86793F37F668\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:28 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:37:28 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "IRA+B4QsET7eN3Wvs8stz62gBJhP3uhlJ7p8bVRZIlKm6QaN+vREWzLNcqgTjaKuKyNQmSJZuEMn2eDJr6TphBUjCMrEoNS5W6lmgmxAUpkYzkExCIkwTTHCZSETequO4+2T8IXY6YtOlz148zbX54ZGseFiuHyL8ruYATqzpeA="
    },
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-ef943586-a548-cbf3-09aa-698cdd5b2ec9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1188164217",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
