{
  "Entries": [
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-fdebe13b-9c78-9eb1-d164-98ff7b4475a5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:26:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CED34A98994\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:26:41 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-fdebe13b-9c78-9eb1-d164-98ff7b4475a5/test-blob-e5a1c9eb-5cb4-a0a4-2e91-1315b3b53462?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:26:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CED34BA9418\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:26:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-fdebe13b-9c78-9eb1-d164-98ff7b4475a5/test-blob-e5a1c9eb-5cb4-a0a4-2e91-1315b3b53462?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Mar 2025 20:26:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "/TTHgO+zFENVtIXTX5Vzlcs8hf0EwlNJjTkNez0iPvvI5B73cxhsxmn8Xp2c7QHd5CSdu/jfUzvgffK2pZkGMnWKC3t2fCKy0L6UCGO1raA3L5YZhYIC6ZDjFvYmtSHP9SwnEuKGZ2gC6+o6SkrYKtBRfnYD7azzhyLqk2UrixudxRM2jpq9sMguFpqYyJ5GCusl1DaqzAiANIvAnNQC1l/PnIU3opw1lM2t1NYSWr6Do4h5Brbk8vgLtlkP/BTzK0A6yCsZDmhP70Bo/PcxbdnNPfhMidCo66qMLOtDJpe5uamW2JKSapQfKhZ2e/UB2Uh/Qb8bp6JwktyBjOJ8DMior0NNm[...]
    {
      "RequestUri": "https://nickliustorageacc.dfs.core.windows.net/test-filesystem-fdebe13b-9c78-9eb1-d164-98ff7b4475a5/test-blob-e5a1c9eb-5cb4-a0a4-2e91-1315b3b53462?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CED34BA9418\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:26:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5CED34D961F0\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:26:42 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-fdebe13b-9c78-9eb1-d164-98ff7b4475a5/test-blob-e5a1c9eb-5cb4-a0a4-2e91-1315b3b53462",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:26:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CED34D961F0\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:26:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:26:41 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-fdebe13b-9c78-9eb1-d164-98ff7b4475a5/test-blob-e5a1c9eb-5cb4-a0a4-2e91-1315b3b53462",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD5CED34D961F0\"",
        "x-ms-date": "Thu, 06 Mar 2025 20:26:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5CED34D961F0\"",
        "Last-Modified": "Thu, 06 Mar 2025 20:26:42 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Mar 2025 20:26:41 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-pe[...]
[...]
    {
      "RequestUri": "https://nickliustorageacc.blob.core.windows.net/test-filesystem-fdebe13b-9c78-9eb1-d164-98ff7b4475a5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Mar 2025 20:26:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1303403999",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nnickliustorageacc\nU2FuaXRpemVk\nhttps://nickliustorageacc.blob.core.windows.net\nhttps://nickliustorageacc.file.core.windows.net\nhttps://nickliustorageacc.queue.core.windows.net\nhttps://nickliustorageacc.table.core.windows.net\n\n\n\n\nhttps://nickliustorageacc-secondary.blob.core.windows.net\nhttps://nickliustorageacc-secondary.file.core.windows.net\nhttps://nickliustorageacc-secondary.queue.core.windows.net\nhttps://nickliustorageacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliustorageacc.blob.core.windows.net/;QueueEndpoint=https://nickliustorageacc.queue.core.windows.net/;FileEndpoint=https://nickliustorageacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliustorageacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliustorageacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliustorageacc-secondary.file.core.windows.net/;AccountName=nickliustorageacc;AccountKey=U2FuaXRpemVk\nencryption scope\n\n"
  }
}
