{
  "Entries": [
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-42d862f8-995c-b24b-f733-f1ccc7db6d27?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679355CD972\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-42d862f8-995c-b24b-f733-f1ccc7db6d27/test-blob-fd33c291-b7b1-c376-8836-901cbef72344?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867935862870\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-42d862f8-995c-b24b-f733-f1ccc7db6d27/test-blob-fd33c291-b7b1-c376-8836-901cbef72344?action=append&position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "jvuc9QrXGzzUVSvB/v8btHuJv1gZBKYnZB0dEM1jflIFsr2bpsJdNVKElCysn2Pl8DmtewU8zolVdJHtuQtvcNfYvExCgA25K4kGlXB5esW5OB+TtgJNyOMzRjIwcHxGFSNU0+MXo3As9E98NjkZ2/rLM4Hr27rUivNoDznbiLsMv4BNJafiopWvZ8Gz0ZGqGms3ZTz7Wzlof0jvrpM2UGuTb3e5y7VT6ZHrPHT4IblhvvXOoyN/EWRG5KVe8vQBeBZWH2Ia8U615HurDx7Eb12Pje+eaK1IFF0ScuYQ9Ped6sRdogJXRs2mGL6o0wJGgnVHzmQEYg9pDgoECH5npO+EDiRZZ[...]
    {
      "RequestUri": "https://seanhnscanada.dfs.core.windows.net/test-filesystem-42d862f8-995c-b24b-f733-f1ccc7db6d27/test-blob-fd33c291-b7b1-c376-8836-901cbef72344?action=flush&position=1024",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC867935862870\"",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8679359C3DAC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:12 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-42d862f8-995c-b24b-f733-f1ccc7db6d27/test-blob-fd33c291-b7b1-c376-8836-901cbef72344",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679359C3DAC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:37:12 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-42d862f8-995c-b24b-f733-f1ccc7db6d27/test-blob-fd33c291-b7b1-c376-8836-901cbef72344",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:11 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8679359C3DAC\"",
        "Last-Modified": "Thu, 06 Jun 2024 22:37:12 GMT",
        "x-ms-acl": "user::rw-,group::r--,other::---",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 22:37:12 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-pe[...]
[...]
    {
      "RequestUri": "https://seanhnscanada.blob.core.windows.net/test-filesystem-42d862f8-995c-b24b-f733-f1ccc7db6d27?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 22:37:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2094409951",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseanhnscanada\nU2FuaXRpemVk\nhttps://seanhnscanada.blob.core.windows.net\nhttps://seanhnscanada.file.core.windows.net\nhttps://seanhnscanada.queue.core.windows.net\nhttps://seanhnscanada.table.core.windows.net\n\n\n\n\nhttps://seanhnscanada-secondary.blob.core.windows.net\nhttps://seanhnscanada-secondary.file.core.windows.net\nhttps://seanhnscanada-secondary.queue.core.windows.net\nhttps://seanhnscanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanhnscanada.blob.core.windows.net/;QueueEndpoint=https://seanhnscanada.queue.core.windows.net/;FileEndpoint=https://seanhnscanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanhnscanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanhnscanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanhnscanada-secondary.file.core.windows.net/;AccountName=seanhnscanada;AccountKey=Sanitized\n\nXClient\n"
  }
}
