{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_754932fcea1fda1fea36b7efd23a46e9?api-version=2025-11-01&allowReplace=true",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Test custom analyzer",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true
        },
        "fieldSchema": {
          "name": "test_schema",
          "description": "Test schema for custom analyzer",
          "fields": {
            "company_name": {
              "method": "extract",
              "type": "string",
              "description": "Name of the company"
            },
            "total_amount": {
              "method": "extract",
              "type": "number",
              "description": "Total amount on the document"
            }
          }
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_754932fcea1fda1fea36b7efd23a46e9/operations/561d5bfb-aa7c-4d50-9fac-476977137c2b?api-version=2025-11-01",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "analyzerId": "test_custom_analyzer_754932fcea1fda1fea36b7efd23a46e9",
        "description": "Test custom analyzer",
        "createdAt": "2026-03-20T02:20:23Z",
        "lastModifiedAt": "2026-03-20T02:20:23Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "fieldSchema": {
          "name": "test_schema",
          "description": "Test schema for custom analyzer",
          "fields": {
            "company_name": {
              "type": "string",
              "method": "extract",
              "description": "Name of the company"
            },
            "total_amount": {
              "type": "number",
              "method": "extract",
              "description": "Total amount on the document"
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_754932fcea1fda1fea36b7efd23a46e9/operations/561d5bfb-aa7c-4d50-9fac-476977137c2b?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": {
        "id": "561d5bfb-aa7c-4d50-9fac-476977137c2b",
        "status": "Running",
        "result": {
          "analyzerId": "test_custom_analyzer_754932fcea1fda1fea36b7efd23a46e9",
          "description": "Test custom analyzer",
          "createdAt": "2026-03-20T02:20:23Z",
          "lastModifiedAt": "2026-03-20T02:20:23Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": true,
            "enableFigureDescription": false,
            "ena[...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_754932fcea1fda1fea36b7efd23a46e9?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "West US 3"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "analyzerId": "test_custom_analyzer_754932fcea1fda1fea36b7efd23a46e9",
    "CONTENTUNDERSTANDING_ENDPOINT": "https://mmi-usw3-eft-foundry.services.ai.azure.com/",
    "RandomSeed": "1612269379"
  }
}
