{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_9518bb3a669d0a492db5c4a41631a892?api-version=2025-11-01&allowReplace=true",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Test custom analyzer",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true
        },
        "fieldSchema": {
          "name": "test_schema",
          "description": "Test schema for custom analyzer",
          "fields": {
            "company_name": {
              "method": "extract",
              "type": "string",
              "description": "Name of the company"
            },
            "total_amount": {
              "method": "extract",
              "type": "number",
              "description": "Total amount on the document"
            }
          }
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_9518bb3a669d0a492db5c4a41631a892/operations/35eb4e81-745e-41e2-b711-da23358d74ba?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_custom_analyzer_9518bb3a669d0a492db5c4a41631a892",
        "description": "Test custom analyzer",
        "createdAt": "2025-12-17T01:45:05Z",
        "lastModifiedAt": "2025-12-17T01:45:05Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": true,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "fieldSchema": {
          "name": "test_schema",
          "description": "Test schema for custom analyzer",
          "fields": {
            "company_name": {
              "type": "string",
              "method": "extract",
              "description": "Name of the company"
            },
            "total_amount": {
              "type": "number",
              "method": "extract",
              "description": "Total amount on the document"
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_9518bb3a669d0a492db5c4a41631a892/operations/35eb4e81-745e-41e2-b711-da23358d74ba?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "35eb4e81-745e-41e2-b711-da23358d74ba",
        "status": "Running",
        "result": {
          "analyzerId": "test_custom_analyzer_9518bb3a669d0a492db5c4a41631a892",
          "description": "Test custom analyzer",
          "createdAt": "2025-12-17T01:45:05Z",
          "lastModifiedAt": "2025-12-17T01:45:05Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": true,
            "enableFigureDescription": false,
            "ena[...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_custom_analyzer_9518bb3a669d0a492db5c4a41631a892?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "analyzerId": "test_custom_analyzer_9518bb3a669d0a492db5c4a41631a892",
    "CONTENTUNDERSTANDING_ENDPOINT": "https://mmi-sample-foundry.services.ai.azure.com",
    "RandomSeed": "578571940"
  }
}
