{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/:analyze-text?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "kind": "PiiEntityRecognition",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "My name is John Doe. My ssn is 222-45-6789. My email is john@example.com. John Doe is my name.",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "piiCategories": [
            "All"
          ],
          "confidenceScoreThreshold": {
            "default": 0.3,
            "overrides": [
              {
                "entity": "USSocialSecurityNumber",
                "value": 0.9
              },
              {
                "entity": "Email",
                "value": 0.9
              }
            ]
          },
          "disableEntityValidation": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.PII=1,CognitiveServices.TextAnalytics.TextRecords=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "kind": "PiiEntityRecognitionResults",
        "results": {
          "documents": [
            {
              "redactedText": "My name is ********. My ssn is 222-45-6789. My email is john@example.com. ******** is my name.",
              "id": "1",
              "entities": [
                {
                  "text": "John Doe",
                  "category": "Person",
                  "type": "Person",
                  "offset": 11,
                  "length": 8,
                  "mask": "********",
                  "maskOffset": 11,
                  "maskLength": 8,
                  "confidenceScore": 1.0,
                  "tags": [
                    {
                      "name": "Person",
                      "confidenceScore": 1.0
                    }
                  ]
                },
                {
                  "text": "John Doe",
                  "category": "Person",
                  "type": "Person",
                  "offset": 74,
                  "length": 8,
                  "mask": "********",
                  "maskOffset": 74,
                  "maskLength": 8,
                  "confidenceScore": 1.0,
                  "tags": [
                    {
                      "name": "Person",
                      "confidenceScore": 1.0
                    }
                  ]
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2025-02-01"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_TEXT_ENDPOINT": "https://sdk-test-01.cognitiveservices.azure.com/",
    "AZURE_TEXT_KEY": "Sanitized",
    "RandomSeed": "804077422"
  }
}
