{
  "Entries": [
    {
      "RequestUri": "https://qrobinson-eus.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "A",
              "text": "We love this trail and make the trip every year. The views are breathtaking and well worth the hike! Yesterday was foggy though, so we missed the spectacular views. We tried again today and it was amazing. Everyone in my family liked the trail although it was too challenging for the less athletic among us. Not necessarily recommended for small children. A hotel close to the trail offers services for childcare in case you want that.",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "modelVersion": "latest"
        },
        "kind": "EntityRecognition"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.NER=1,CognitiveServices.TextAnalytics.TextRecords=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "kind": "EntityRecognitionResults",
        "results": {
          "documents": [
            {
              "id": "A",
              "entities": [
                {
                  "text": "trail",
                  "category": "Location",
                  "type": "Location",
                  "offset": 13,
                  "length": 5,
                  "confidenceScore": 0.95,
                  "tags": [
                    {
                      "name": "Location",
                      "confidenceScore": 0.95
                    }
                  ]
                },
                {
                  "text": "trip",
                  "category": "Event",
                  "type": "Event",
                  "offset": 32,
                  "length": 4,
                  "confidenceScore": 0.66,
                  "tags": [
                    {
                      "name": "Event",
                      "confidenceScore": 0.66
                    }
                  ]
                },
                {
                  "text": "every year",
                  "category": "Temporal",
                  "type": "Set",
                  "offset": 37,
                  "length": 10,
                  "confidenceScore": 0.99,
                  "tags": [
                    {
                      "name": "Set",
                      "confidenceScore": 0.99
                    },
                    {
                      "name": "Temporal",
                      "confidenceScore": 0.99
                    }
                  ],
                  "metadata": {
                    "metadataKind": "TemporalSetMetadata",
                    "dateValues": [
                      {
                        "timex": "P1Y",
                        "value": "not resolved"
                      }
                    ]
                  }
                },
                {
                  "text": "hike",
                  "category": "Event",
                  "type": "Event",
                  "offset": 95,
                  "length": 4,
                  "confidenceScore": 0.95,
                  "tags": [
                    {
                      "name": "Event",
                      "confidenceScore": 0.95
                    }
          [...]
