{
  "Entries": [
    {
      "RequestUri": "https://qrobinson-eus.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "A",
              "text": "I need a reservation for an indoor restaurant in China. Please don't stop the music. Play music and add it to my playlist.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "projectName": "qrobinson-csc",
              "deploymentName": "csc-deployment"
            },
            "taskName": "CSCOperationActionSample",
            "kind": "CustomSingleLabelClassification"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-deprecating": "Training config used by Deployment name qrobinson-csc and project name csc-deployment used in CustomSingleLabelClassification will retire on 2024-04-25. (https://aka.ms/text-analytics-deprecated-model-versions)",
        "operation-location": "https://qrobinson-eus.cognitiveservices.azure.com/language/analyze-text/jobs/d88ca3d2-85c2-4fa9-961f-39b0fcc70364?api-version=2023-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://qrobinson-eus.cognitiveservices.azure.com/language/analyze-text/jobs/d88ca3d2-85c2-4fa9-961f-39b0fcc70364?api-version=2023-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "d88ca3d2-85c2-4fa9-961f-39b0fcc70364",
        "lastUpdatedDateTime": "2024-07-22T15:38:51Z",
        "createdDateTime": "2024-07-22T15:38:51Z",
        "expirationDateTime": "2024-07-23T15:38:51Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://qrobinson-eus.cognitiveservices.azure.com/language/analyze-text/jobs/d88ca3d2-85c2-4fa9-961f-39b0fcc70364?api-version=2023-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "d88ca3d2-85c2-4fa9-961f-39b0fcc70364",
        "lastUpdatedDateTime": "2024-07-22T15:38:53Z",
        "createdDateTime": "2024-07-22T15:38:51Z",
        "expirationDateTime": "2024-07-23T15:38:51Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomSingleLabelClassificationLROResults",
              "taskName": "CSCOperationActionSample",
              "lastUpdateDateTime": "2024-07-22T15:38:53.0208636Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "A",
                    "class": [
                      {
                        "category": "Civil_engineering",
                        "confidenceScore": 0.15
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "qrobinson-csc",
                "deploymentName": "csc-deployment"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "AZURE_TEXT_CUSTOM_SINGLE_CLASSIFICATION_DEPLOYMENT": "csc-deployment",
    "AZURE_TEXT_CUSTOM_SINGLE_CLASSIFICATION_PROJECT": "qrobinson-csc",
    "AZURE_TEXT_ENDPOINT": "https://qrobinson-eus.cognitiveservices.azure.com/",
    "AZURE_TEXT_KEY": "Sanitized",
    "RandomSeed": "490066768"
  }
}
