{
  "Entries": [
    {
      "RequestUri": "https://qrobinson-eus.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "A",
              "text": "Windows 365 was in the works before COVID-19 sent companies around the world on a scramble to secure solutions to support employees suddenly forced to work from home, but “what really put the firecracker behind it was the pandemic, it accelerated everything,” McKelvey said. She explained that customers were asking, “How do we create an experience for people that makes them still feel connected to the company without the physical presence of being there?” In this new world of Windows 365, remot[...]
    {
      "RequestUri": "https://qrobinson-eus.cognitiveservices.azure.com/language/analyze-text/jobs/0e536e1b-6e42-4e92-ac92-b4f2c6b042b7?api-version=2023-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "0e536e1b-6e42-4e92-ac92-b4f2c6b042b7",
        "lastUpdatedDateTime": "2024-07-22T15:39:13Z",
        "createdDateTime": "2024-07-22T15:39:12Z",
        "expirationDateTime": "2024-07-23T15:39:12Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://qrobinson-eus.cognitiveservices.azure.com/language/analyze-text/jobs/0e536e1b-6e42-4e92-ac92-b4f2c6b042b7?api-version=2023-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "0e536e1b-6e42-4e92-ac92-b4f2c6b042b7",
        "lastUpdatedDateTime": "2024-07-22T15:39:14Z",
        "createdDateTime": "2024-07-22T15:39:12Z",
        "expirationDateTime": "2024-07-23T15:39:12Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "ExtractiveSummarizationLROResults",
              "taskName": "ExtractiveSummarizationOperationActionSample",
              "lastUpdateDateTime": "2024-07-22T15:39:14.8439078Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "A",
                    "sentences": [
                      {
                        "text": "Windows 365 was in the works before COVID-19 sent companies around the world on a scramble to secure solutions to support employees suddenly forced to work from home, but “what really put the firecracker behind it was the pandemic, it accelerated everything,” McKelvey said.",
                        "rankScore": 0.94,
                        "offset": 0,
                        "length": 274
                      },
                      {
                        "text": "The ability to login to a Cloud PC from anywhere on any device is part of Microsoft’s larger strategy around tailoring products such as Microsoft Teams and Microsoft 365 for the post-pandemic hybrid workforce of the future, she added.",
                        "rankScore": 1.0,
                        "offset": 1064,
                        "length": 234
                      },
                      {
                        "text": "It enables employees accustomed to working from home to continue working from home;",
                        "rankScore": 0.89,
                        "offset": 1299,
                        "length": 83
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2023-02-01-preview"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "AZURE_TEXT_ENDPOINT": "https://qrobinson-eus.cognitiveservices.azure.com/",
    "AZURE_TEXT_KEY": "Sanitized",
    "RandomSeed": "1865273210"
  }
}
