{
  "Entries": [
    {
      "RequestUri": "https://qrobinson-eus.cognitiveservices.azure.com/language/:analyze-text?api-version=2024-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "kind": "LanguageDetection",
        "analysisInput": {
          "documents": [
            {
              "id": "A",
              "text": "Este documento está escrito en un lenguaje diferente al inglés. Su objectivo es demostrar cómo invocar el método de detección de lenguaje del servicio de Text Analytics en Microsoft Azure. También muestra cómo acceder a la información retornada por el servicio. Esta funcionalidad es útil para las aplicaciones que recopilan texto arbitrario donde el lenguaje no se conoce de antemano. Puede usarse para detectar una amplia gama de lenguajes, variantes, dialectos y algunos idiomas regionales o culturales."
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.LanguageDetection=1,CognitiveServices.TextAnalytics.TextRecords=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "kind": "LanguageDetectionResults",
        "results": {
          "documents": [
            {
              "id": "A",
              "warnings": [],
              "detectedLanguage": {
                "name": "Spanish",
                "iso6391Name": "es",
                "confidenceScore": 1.0,
                "scriptName": "Latin",
                "scriptIso15924Code": "Latn"
              }
            }
          ],
          "errors": [],
          "modelVersion": "2024-04-01"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_TEXT_ENDPOINT": "https://qrobinson-eus.cognitiveservices.azure.com/",
    "AZURE_TEXT_KEY": "Sanitized",
    "RandomSeed": "1129424063"
  }
}
