{
  "Entries": [
    {
      "RequestUri": "https://qrobinson-eus.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2024-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "A",
              "text": "Windows 365 was in the works before COVID-19 sent companies around the world on a scramble to secure solutions to support employees suddenly forced to work from home, but “what really put the firecracker behind it was the pandemic, it accelerated everything,” McKelvey said. She explained that customers were asking, “How do we create an experience for people that makes them still feel connected to the company without the physical presence of being there?” In this new world of Windows 365, remot[...]
    {
      "RequestUri": "https://qrobinson-eus.cognitiveservices.azure.com/language/analyze-text/jobs/7918cdea-940b-48de-8c3c-a95ee7e097f1?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "7918cdea-940b-48de-8c3c-a95ee7e097f1",
        "lastUpdatedDateTime": "2024-11-26T19:33:18Z",
        "createdDateTime": "2024-11-26T19:33:18Z",
        "expirationDateTime": "2024-11-27T19:33:18Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://qrobinson-eus.cognitiveservices.azure.com/language/analyze-text/jobs/7918cdea-940b-48de-8c3c-a95ee7e097f1?api-version=2024-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "7918cdea-940b-48de-8c3c-a95ee7e097f1",
        "lastUpdatedDateTime": "2024-11-26T19:33:26Z",
        "createdDateTime": "2024-11-26T19:33:18Z",
        "expirationDateTime": "2024-11-27T19:33:18Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "AbstractiveSummarizationLROResults",
              "taskName": "AbsractiveSummarizationOperationActionSample",
              "lastUpdateDateTime": "2024-11-26T19:33:26.1515994Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "summaries": [
                      {
                        "text": "Windows 365, a cloud-based virtual desktop solution, gained significant momentum during the COVID-19 pandemic as companies sought remote work solutions. The platform allows remote workers to access their work environment with the same familiarity as if they were in the office, with all data stored in the cloud, ensuring security without local data storage. Microsoft's strategy includes integrating with other tools like Microsoft Teams and Microsoft 365 to support a hybrid workforce. Dean Wells, the CIO for the Government of Nunavut, initially abandoned a traditional virtual desktop infrastructure due to bandwidth limitations but later embraced Windows 365 after a ransomware attack. The adoption of Windows 365 has enabled the government to securely manage a remote workforce and access external expertise, with potential benefits for healthcare, education, and economic development in local communities.",
                        "contexts": [
                          {
                            "offset": 0,
                            "length": 3314
                          }
                        ]
                      }
                    ],
                    "id": "A",
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2024-08-22-phi35"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "AZURE_TEXT_ENDPOINT": "https://qrobinson-eus.cognitiveservices.azure.com/",
    "AZURE_TEXT_KEY": "Sanitized",
    "RandomSeed": "700518643"
  }
}
