{
  "Entries": [
    {
      "RequestUri": "https://qrobinson-eus.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "A",
              "text": "Prescribed 100mg ibuprofen, taken twice daily.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "HealthcareOperationActionSample",
            "kind": "Healthcare"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://qrobinson-eus.cognitiveservices.azure.com/language/analyze-text/jobs/047a45ff-5a8b-4423-8826-2a99bce626c5?api-version=2023-11-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://qrobinson-eus.cognitiveservices.azure.com/language/analyze-text/jobs/047a45ff-5a8b-4423-8826-2a99bce626c5?api-version=2023-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "047a45ff-5a8b-4423-8826-2a99bce626c5",
        "lastUpdatedDateTime": "2024-07-23T15:46:08Z",
        "createdDateTime": "2024-07-23T15:46:08Z",
        "expirationDateTime": "2024-07-24T15:46:08Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://qrobinson-eus.cognitiveservices.azure.com/language/analyze-text/jobs/047a45ff-5a8b-4423-8826-2a99bce626c5?api-version=2023-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "047a45ff-5a8b-4423-8826-2a99bce626c5",
        "lastUpdatedDateTime": "2024-07-23T15:46:11Z",
        "createdDateTime": "2024-07-23T15:46:08Z",
        "expirationDateTime": "2024-07-24T15:46:08Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "taskName": "HealthcareOperationActionSample",
              "lastUpdateDateTime": "2024-07-23T15:46:11.0282898Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "A",
                    "entities": [
                      {
                        "offset": 11,
                        "length": 5,
                        "text": "100mg",
                        "category": "Dosage",
                        "confidenceScore": 0.99
                      },
                      {
                        "offset": 17,
                        "length": 9,
                        "text": "ibuprofen",
                        "category": "MedicationName",
                        "confidenceScore": 1.0,
                        "name": "ibuprofen",
                        "links": [
                          {
                            "dataSource": "UMLS",
                            "id": "C0020740"
                          },
                          {
                            "dataSource": "AOD",
                            "id": "0000019879"
                          },
                          {
                            "dataSource": "ATC",
                            "id": "M01AE01"
                          },
                          {
                            "dataSource": "CCPSS",
                            "id": "[...]
