{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "A",
              "text": "I need a reservation for an indoor restaurant in China. Please don't stop the music. Play music and add it to my playlist.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "CMCOperationActionSample",
            "kind": "CustomMultiLabelClassification",
            "parameters": {
              "projectName": "multi-class-project",
              "deploymentName": "multiclassdeployment"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://sdk-test-01.cognitiveservices.azure.com/language/analyze-text/jobs/455019f1-b2a4-4c9f-aa11-fe7463166714?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/analyze-text/jobs/455019f1-b2a4-4c9f-aa11-fe7463166714?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "455019f1-b2a4-4c9f-aa11-fe7463166714",
        "lastUpdatedDateTime": "2025-06-10T17:25:39Z",
        "createdDateTime": "2025-06-10T17:25:39Z",
        "expirationDateTime": "2025-06-11T17:25:39Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/analyze-text/jobs/455019f1-b2a4-4c9f-aa11-fe7463166714?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "455019f1-b2a4-4c9f-aa11-fe7463166714",
        "lastUpdatedDateTime": "2025-06-10T17:25:47Z",
        "createdDateTime": "2025-06-10T17:25:39Z",
        "expirationDateTime": "2025-06-11T17:25:39Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomMultiLabelClassificationLROResults",
              "taskName": "CMCOperationActionSample",
              "lastUpdateDateTime": "2025-06-10T17:25:47.2694079Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "A",
                    "class": [
                      {
                        "category": "Drama",
                        "confidenceScore": 0.99
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "multi-class-project",
                "deploymentName": "multiclassdeployment"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "AZURE_TEXT_CUSTOM_MULTI_CLASSIFICATION_DEPLOYMENT": "multiclassdeployment",
    "AZURE_TEXT_CUSTOM_MULTI_CLASSIFICATION_PROJECT": "multi-class-project",
    "AZURE_TEXT_ENDPOINT": "https://sdk-test-01.cognitiveservices.azure.com/",
    "AZURE_TEXT_KEY": "Sanitized",
    "RandomSeed": "1582721589"
  }
}