{
  "Entries": [
    {
      "RequestUri": "https://qrobinson-eus.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "A",
              "text": "The food and service were unacceptable, but the concierge were nice. After talking to them about the quality of the food and the process to get room service they refunded the money we spent at the restaurant and gave us a voucher for nearby restaurants.",
              "language": "en"
            }
          ]
        },
        "kind": "SentimentAnalysis"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.Sentiment=1,CognitiveServices.TextAnalytics.TextRecords=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "kind": "SentimentAnalysisResults",
        "results": {
          "documents": [
            {
              "id": "A",
              "sentiment": "mixed",
              "confidenceScores": {
                "positive": 0.25,
                "neutral": 0.17,
                "negative": 0.58
              },
              "sentences": [
                {
                  "sentiment": "positive",
                  "confidenceScores": {
                    "positive": 0.49,
                    "neutral": 0.06,
                    "negative": 0.44
                  },
                  "offset": 0,
                  "length": 69,
                  "text": "The food and service were unacceptable, but the concierge were nice. "
                },
                {
                  "sentiment": "negative",
                  "confidenceScores": {
                    "positive": 0.01,
                    "neutral": 0.27,
                    "negative": 0.72
                  },
                  "offset": 69,
                  "length": 184,
                  "text": "After talking to them about the quality of the food and the process to get room service they refunded the money we spent at the restaurant and gave us a voucher for nearby restaurants."
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "latest"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_TEXT_ENDPOINT": "https://qrobinson-eus.cognitiveservices.azure.com/",
    "AZURE_TEXT_KEY": "Sanitized",
    "RandomSeed": "2109891088"
  }
}