{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/:analyze-text?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "kind": "PiiEntityRecognition",
        "analysisInput": {
          "documents": [
            {
              "id": "A",
              "text": "My name is John Doe. My ssn is 123-45-6789. My email is john@example.com..",
              "language": "en"
            },
            {
              "id": "B",
              "text": "My name is John Doe. My ssn is 123-45-6789. My email is john@example.com..",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "piiCategories": [
            "All"
          ],
          "redactionPolicies": [
            {
              "policyKind": "entityMask",
              "policyName": "defaultPolicy",
              "isDefault": true
            },
            {
              "policyKind": "characterMask",
              "entityTypes": [
                "USSocialSecurityNumber"
              ],
              "policyName": "customMaskForSSN",
              "unmaskLength": 4,
              "unmaskFromEnd": true
            },
            {
              "policyKind": "syntheticReplacement",
              "entityTypes": [
                "Person",
                "Email"
              ],
              "policyName": "syntheticMaskForPerson"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.PII=2,CognitiveServices.TextAnalytics.TextRecords=2",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "kind": "PiiEntityRecognitionResults",
        "results": {
          "documents": [
            {
              "redactedText": "My name is Yesenia Keebler. My ssn is *******6789. My email is Serena_Koss@gmail.com.",
              "id": "A",
              "entities": [
                {
                  "text": "John Doe",
                  "category": "Person",
                  "type": "Person",
                  "offset": 11,
                  "length": 8,
                  "mask": "Yesenia Keebler",
                  "maskOffset": 11,
                  "maskLength": 15,
                  "confidenceScore": 1.0,
                  "tags": [
                    {
                      "name": "Person",
                      "confidenceScore": 1.0
                    }
                  ]
                },
                {
                  "text": "123-45-6789",
                  "category": "USSocialSecurityNumber",
                  "type": "USSocialSecurityNumber",
                  "offset": 31,
                  "length": 11,
                  "mask": "*******",
                  "maskOffset": 38,
                  "maskLength": 7,
                  "confidenceScore": 0.85,
 [...]
