{
  "Entries": [
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "A",
              "text": "Windows 365 was in the works before COVID-19 sent companies around the world on a scramble to secure solutions to support employees suddenly forced to work from home, but “what really put the firecracker behind it was the pandemic, it accelerated everything,” McKelvey said. She explained that customers were asking, “How do we create an experience for people that makes them still feel connected to the company without the physical presence of being there?” In this new world of Windows 365, remot[...]
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/analyze-text/jobs/a2efb688-c57d-4b6b-9573-072ad9b3913b?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "a2efb688-c57d-4b6b-9573-072ad9b3913b",
        "lastUpdatedDateTime": "2025-06-10T17:27:14Z",
        "createdDateTime": "2025-06-10T17:27:14Z",
        "expirationDateTime": "2025-06-11T17:27:14Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://sdk-test-01.cognitiveservices.azure.com/language/analyze-text/jobs/a2efb688-c57d-4b6b-9573-072ad9b3913b?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "a2efb688-c57d-4b6b-9573-072ad9b3913b",
        "lastUpdatedDateTime": "2025-06-10T17:27:22Z",
        "createdDateTime": "2025-06-10T17:27:14Z",
        "expirationDateTime": "2025-06-11T17:27:14Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "AbstractiveSummarizationLROResults",
              "taskName": "AbsractiveSummarizationOperationActionSample",
              "lastUpdateDateTime": "2025-06-10T17:27:22.7399887Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "summaries": [
                      {
                        "text": "The COVID-19 pandemic accelerated the development and adoption of Windows 365, a cloud-based solution that allows remote workers to seamlessly access their work environment from any device with internet connectivity. The service provides a personalized workspace that retains the user's background settings, apps, and content, managed entirely in the cloud, ensuring security without local data storage. Organizations, particularly those hesitant about virtualization, are finding value in Windows 365 for its ease of use and potential to support a global workforce. The Government of Nunavut, after abandoning traditional virtual desktop infrastructure due to inefficiency and the challenges of satellite internet, engaged in a pilot program for Windows 365, recognizing its benefits for securely managing a distributed workforce and accessing external expertise. This technology promises to enhance not only work flexibility but also to contribute to improvements in healthcare, education, and economic development within communities. The shift towards services like Windows 365 reflects a broader strategy by Microsoft to adapt products such as Teams and 365 for a hybrid workforce in the post-pandemic era.",
                        "contexts": [
                          {
                            "offset": 0,
                            "length": 3314
                          }
                        ]
                      }
                    ],
                    "id": "A",
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2024-10-25-phi35"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "AZURE_TEXT_ENDPOINT": "https://sdk-test-01.cognitiveservices.azure.com/",
    "AZURE_TEXT_KEY": "Sanitized",
    "RandomSeed": "15575427"
  }
}