{
  "Entries": [
    {
      "RequestUri": "https://qrobinson-eus.cognitiveservices.azure.com/language/:analyze-text?api-version=2023-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "A",
              "text": "Parker Doe has repaid all of their loans as of 2020-04-25. Their SSN is 859-98-0987. To contact them, use their phone number 800-102-1100. They are originally from Brazil and have document ID number 998.214.865-68.",
              "language": "en"
            }
          ]
        },
        "kind": "PiiEntityRecognition"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.PII=1,CognitiveServices.TextAnalytics.TextRecords=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "kind": "PiiEntityRecognitionResults",
        "results": {
          "documents": [
            {
              "redactedText": "********** has repaid all of their loans as of **********. Their SSN is ***********. To contact them, use their phone number ************. They are originally from Brazil and have document ID number 998.214.865-68.",
              "id": "A",
              "entities": [
                {
                  "text": "Parker Doe",
                  "category": "Organization",
                  "offset": 0,
                  "length": 10,
                  "confidenceScore": 0.9
                },
                {
                  "text": "2020-04-25",
                  "category": "DateTime",
                  "subcategory": "Date",
                  "offset": 47,
                  "length": 10,
                  "confidenceScore": 1.0
                },
                {
                  "text": "859-98-0987",
                  "category": "USSocialSecurityNumber",
                  "offset": 72,
                  "length": 11,
                  "confidenceScore": 0.85
                },
                {
                  "text": "800-102-1100",
                  "category": "PhoneNumber",
                  "offset": 125,
                  "length": 12,
                  "confidenceScore": 0.8
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2023-09-01"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_TEXT_ENDPOINT": "https://qrobinson-eus.cognitiveservices.azure.com/",
    "AZURE_TEXT_KEY": "Sanitized",
    "RandomSeed": "2045197864"
  }
}
