{
  "Entries": [
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem176841734791900841?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE539F78C94B6D\"",
        "Last-Modified": "Wed, 14 Jan 2026 19:02:32 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176841734791900841/file0176841735243400144?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-properties": "keya=YQ==,keyb=Yw==",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE539F790BAEB8\"",
        "Last-Modified": "Wed, 14 Jan 2026 19:02:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176841734791900841?maxResults=2&resource=filesystem&recursive=true&upn=true&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBb5nbufp+7m/PEBGHMYaS9kbGF6c2RrdGVzdHN0b3JrbwEwMURDODNGRUJGNTMyOTBCL2ZpbGVzeXN0ZW0xNzY4NDE3MzQ3OTE5MDA4NDEBMDFEQzg1ODg1NjUyOTU4OS9maWxlMjE3Njg0MTczNTI5MDQwNjgwMRYAdQAlyAEAAA==",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "134128909528903352",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "dealmaha@tme01.onmicrosoft.com",
            "lastModified": "Wed, 14 Jan 2026 19:02:32 GMT",
            "name": "file0176841735243400144",
            "owner": "dealmaha@tme01.onmicrosoft.com",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "134128909529794600",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "dealmaha@tme01.onmicrosoft.com",
            "lastModified": "Wed, 14 Jan 2026 19:02:32 GMT",
            "name": "file1176841735281504818",
            "owner": "dealmaha@tme01.onmicrosoft.com",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176841734791900841?continuation=VBb5nbufp%2B7m%2FPEBGHMYaS9kbGF6c2RrdGVzdHN0b3JrbwEwMURDODNGRUJGNTMyOTBCL2ZpbGVzeXN0ZW0xNzY4NDE3MzQ3OTE5MDA4NDEBMDFEQzg1ODg1NjUyOTU4OS9maWxlMjE3Njg0MTczNTI5MDQwNjgwMRYAdQAlyAEAAA%3D%3D&maxResults=2&resource=filesystem&recursive=true&upn=true&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      [...]
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176841734791900841/file0176841735243400144?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem176841734791900841?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0176841735243400144",
    "file1": "file1176841735281504818",
    "file2": "file2176841735290406801",
    "file3": "file3176841735298509183",
    "filesystem": "filesystem176841734791900841"
  }
}
