{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem168980041400504749?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB889B26100FB4\u0022",
        "Last-Modified": "Wed, 19 Jul 2023 21:00:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem168980041400504749168980041438207992/file168980041446906247?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-encryption-context": "EncryptionContext",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB889B264929A3\u0022",
        "Last-Modified": "Wed, 19 Jul 2023 21:00:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem168980041400504749168980041438207992/dir168980041472805945?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-encryption-context": "EncryptionContext",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB889B2654A55D\u0022",
        "Last-Modified": "Wed, 19 Jul 2023 21:00:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem168980041400504749168980041438207992?resource=filesystem\u0026recursive=false\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": {
        "paths": [
          {
            "EncryptionContext": "EncryptionContext",
            "contentLength": "0",
            "creationTime": "133342740147447133",
            "etag": "0x8DB889B2654A55D",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Wed, 19 Jul 2023 21:00:14 GMT",
            "name": "dir168980041472805945",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "EncryptionContext": "EncryptionContext",
            "contentLength": "0",
            "creationTime": "133342740146694563",
            "etag": "0x8DB889B264929A3",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Wed, 19 Jul 2023 21:00:14 GMT",
            "name": "file168980041446906247",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem168980041400504749168980041438207992/file168980041446906247?",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem168980041400504749168980041438207992/dir168980041472805945?",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem168980041400504749?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir168980041472805945",
    "file": "file168980041446906247",
    "filesystem": "filesystem168980041400504749",
    "filesystem168980041400504749": "filesystem168980041400504749168980041438207992"
  }
}
