{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273866674300234?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA3544D153E9A\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:11:06 GMT",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273866674300234/file0169273866683502989?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-properties": "keya=YQ==,keyb=Yw==",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBA3544D23B8B9\u0022",
        "Last-Modified": "Tue, 22 Aug 2023 21:11:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273866674300234?maxResults=2\u0026resource=filesystem\u0026recursive=true\u0026upn=true\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBa9\u002BsrpmPnf9mYYbBhnL2RseXVtZW5nanMyNjczMAEwMUQ5RDUzNDlEM0Q5MDM1L2ZpbGVzeXN0ZW0xNjkyNzM4NjY2NzQzMDAyMzQBMDFEOUQ1M0QyQTlFQUI2Qy9maWxlMjE2OTI3Mzg2NjY5OTIwODYxMBYAAAA=",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133372122669824185",
            "etag": "0x8DBA3544D23B8B9",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Tue, 22 Aug 2023 21:11:06 GMT",
            "name": "file0169273866683502989",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133372122670586022",
            "etag": "0x8DBA3544D2F58A6",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Tue, 22 Aug 2023 21:11:07 GMT",
            "name": "file1169273866691601464",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem169273866674300234/file0169273866683502989?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem169273866674300234?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-08-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0169273866683502989",
    "file1": "file1169273866691601464",
    "file2": "file2169273866699208610",
    "file3": "file3169273866706500865",
    "filesystem": "filesystem169273866674300234"
  }
}
