{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem171437981346307728?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682785ED51E4\"",
        "Last-Modified": "Mon, 29 Apr 2024 08:36:53 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem171437981346307728171437981359305969?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-public-access": "container",
        "x-ms-meta-key": "value",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682786015FAB\"",
        "Last-Modified": "Mon, 29 Apr 2024 08:36:54 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem171437981346307728171437981359305969?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-public-access": "container",
        "x-ms-meta-key": "value",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:e119692f-201e-005a-7210-9a1356000000\n",
        "Time:2024-04-29T08:36:54.2382038Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem171437981346307728?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "filesystem": "filesystem171437981346307728",
    "filesystem171437981346307728": "filesystem171437981346307728171437981359305969"
  }
}
