{
  "Entries": [
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334882239502786?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80797243E183\"",
        "Last-Modified": "Thu, 12 Mar 2026 20:53:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334882239502786/file0177334882301906617?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-properties": "keya=YQ==,keyb=Yw==",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE807972537570\"",
        "Last-Modified": "Thu, 12 Mar 2026 20:53:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334882239502786?maxResults=1&resource=filesystem&recursive=true&upn=true&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBbzj4CCuovhuwgYcxhpL2RsYXpzZGt0ZXN0c3RvcmtvATAxRENCMUE5REZCQzBFM0QvZmlsZXN5c3RlbTE3NzMzNDg4MjIzOTUwMjc4NgEwMURDQjI2MjRGQ0M1MkZEL2ZpbGUxMTc3MzM0ODgyMzEwNzAyNjQxFgB1ACXIAQAA",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "134178224230659440",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "dealmaha@tme01.onmicrosoft.com",
            "lastModified": "Thu, 12 Mar 2026 20:53:43 GMT",
            "name": "file0177334882301906617",
            "owner": "dealmaha@tme01.onmicrosoft.com",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334882239502786?continuation=VBbzj4CCuovhuwgYcxhpL2RsYXpzZGt0ZXN0c3RvcmtvATAxRENCMUE5REZCQzBFM0QvZmlsZXN5c3RlbTE3NzMzNDg4MjIzOTUwMjc4NgEwMURDQjI2MjRGQ0M1MkZEL2ZpbGUxMTc3MzM0ODgyMzEwNzAyNjQxFgB1ACXIAQAA&maxResults=2&resource=filesystem&recursive=true&upn=true&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "134178224231456472",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "dealmaha@tme01.onmicrosoft.com",
            "lastModified": "Thu, 12 Mar 2026 20:53:43 GMT",
            "name": "file1177334882310702641",
            "owner": "dealmaha@tme01.onmicrosoft.com",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334882239502786/file0177334882301906617?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334882239502786?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0177334882301906617",
    "file1": "file1177334882310702641",
    "filesystem": "filesystem177334882239502786"
  }
}
