{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem171437981935300019?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6827897016BE\"",
        "Last-Modified": "Mon, 29 Apr 2024 08:36:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem171437981935300019171437981947603866?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-default-encryption-scope": "test2",
        "x-ms-deny-encryption-scope-override": "true",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682789836209\"",
        "Last-Modified": "Mon, 29 Apr 2024 08:36:59 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem171437981935300019171437981947603866/file171437981960309515?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68278998D227\"",
        "Last-Modified": "Mon, 29 Apr 2024 08:37:00 GMT",
        "x-ms-encryption-scope": "test2",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem171437981935300019171437981947603866/dir171437981973607590?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682789AD3804\"",
        "Last-Modified": "Mon, 29 Apr 2024 08:37:00 GMT",
        "x-ms-encryption-scope": "test2",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem171437981935300019171437981947603866?resource=filesystem&recursive=false&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "EncryptionScope": "test2",
            "contentLength": "0",
            "creationTime": "133588534202611716",
            "etag": "0x8DC682789AD3804",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Mon, 29 Apr 2024 08:37:00 GMT",
            "name": "dir171437981973607590",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "EncryptionScope": "test2",
            "contentLength": "0",
            "creationTime": "133588534201274919",
            "etag": "0x8DC68278998D227",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Mon, 29 Apr 2024 08:37:00 GMT",
            "name": "file171437981960309515",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem171437981935300019171437981947603866/file171437981960309515?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133588534205122775",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem171437981935300019171437981947603866/dir171437981973607590?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133588534206673477",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem171437981935300019?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir171437981973607590",
    "file": "file171437981960309515",
    "filesystem": "filesystem171437981935300019",
    "filesystem171437981935300019": "filesystem171437981935300019171437981947603866"
  }
}
