{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem171437983049701577?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682790143EC7\"",
        "Last-Modified": "Mon, 29 Apr 2024 08:37:11 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem171437983049701577/file0171437983061900640?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-properties": "keya=YQ==,keyb=Yw==",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682790298AFC\"",
        "Last-Modified": "Mon, 29 Apr 2024 08:37:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem171437983049701577?maxResults=2&resource=filesystem&recursive=true&upn=true&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBabgumS/+Hw7ekBGGsYZi9lbW1hZnVsbHRlc3RkawEwMURBOENBRjg2OTFBMTMxL2ZpbGVzeXN0ZW0xNzE0Mzc5ODMwNDk3MDE1NzcBMDFEQTlBMTA2RDlEQTMzMi9maWxlMjE3MTQzNzk4MzA4NzEwMzcxMhYAAAA=",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133588534311422716",
            "etag": "0x8DC682790298AFC",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Mon, 29 Apr 2024 08:37:11 GMT",
            "name": "file0171437983061900640",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133588534312666553",
            "etag": "0x8DC6827903C85B9",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Mon, 29 Apr 2024 08:37:11 GMT",
            "name": "file1171437983074700692",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem171437983049701577?continuation=VBabgumS%2F%2BHw7ekBGGsYZi9lbW1hZnVsbHRlc3RkawEwMURBOENBRjg2OTFBMTMxL2ZpbGVzeXN0ZW0xNzE0Mzc5ODMwNDk3MDE1NzcBMDFEQTlBMTA2RDlEQTMzMi9maWxlMjE3MTQzNzk4MzA4NzEwMzcxMhYAAAA%3D&maxResults=2&resource=filesystem&recursive=true&upn=true&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133588534313901314",
            "etag": "0x8DC6827904F5D02",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Mon, 29 Apr 2024 08:37:11 GMT",
            "name": "file2171437983087103712",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133588534315143917",
            "etag": "0x8DC6827906252ED",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Mon, 29 Apr 2024 08:37:11 GMT",
            "name": "file3171437983099409249",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem171437983049701577/file0171437983061900640?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133588534318740968",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem171437983049701577?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0171437983061900640",
    "file1": "file1171437983074700692",
    "file2": "file2171437983087103712",
    "file3": "file3171437983099409249",
    "filesystem": "filesystem171437983049701577"
  }
}
