{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171621658008809224?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78DC131207C9\"",
        "Last-Modified": "Mon, 20 May 2024 14:49:38 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171621658008809224/file0171621658021408048?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-properties": "keya=YQ==,keyb=Yw==",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78DC13257086\"",
        "Last-Modified": "Mon, 20 May 2024 14:49:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171621658008809224?maxResults=2&resource=filesystem&recursive=true&upn=true&",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBb2ytHxt9bn0K0BGGsYZi9lbW1hZnVsbHRlc3RkawEwMURBOENBRjg2OTFBMTMxL2ZpbGVzeXN0ZW0xNzE2MjE2NTgwMDg4MDkyMjQBMDFEQUFBQzRGMDlCNUUyOC9maWxlMjE3MTYyMTY1ODA0NDYwNDEyMBYAAAA=",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133606901789126790",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Mon, 20 May 2024 14:49:38 GMT",
            "name": "file0171621658021408048",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133606901790264400",
            "etag": "Sanitized",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Mon, 20 May 2024 14:49:39 GMT",
            "name": "file1171621658033302198",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171621658008809224/file0171621658021408048?paginated=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133606901795964093",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171621658008809224?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0171621658021408048",
    "file1": "file1171621658033302198",
    "file2": "file2171621658044604120",
    "file3": "file3171621658056703604",
    "filesystem": "filesystem171621658008809224"
  }
}
