{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B148497276?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4a693fe1-ff67-4dab-8059-a2567da8ae71",
        "traceresponse": "00-e6446b6f04699e860a5aae617e3be040-fa8820ea714c0add-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifi;148497276. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B11125?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7d04fb65-8c6c-4dfd-a143-4c8217245ff0",
        "traceresponse": "00-89b8945018ebb10f23311d0f3e78f44e-f66e08dca94dc8d8-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifiroom;11125. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin206946627?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d04a29cc-b016-41e8-a92a-dbf293b02bfc",
        "traceresponse": "00-2dc3f1862907ca3a738f1aec04eba897-b8847e3ff1e098bd-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomWithWifiTwin206946627. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:wifiroom;11125\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022RoomWithWifi\u0022,    \u0022contents\u0022: [        {            \u0022@type\u[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d30c9335-040d-42a5-9415-34d064539716",
        "traceresponse": "00-2f0abfc72c9617cdbd858baca5416f36-a004a225e47a2834-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;180719651",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.0624733\u002B00:00"
          },
          {
            "id": "dtmi:example:room;151014275",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.2279247\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;192203971",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin206946627?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "$metadata": {},
          "RouterName": "Cisco1",
          "Network": "Room1"
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;11125"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022ae0c8fb0-ffdc-4716-9433-ef7571ef90c9\u0022",
        "mise-correlation-id": "e0f11901-5697-4235-b233-0cc7a98738bd",
        "traceresponse": "00-2c47dde2789b0beb31c3821132dfc28f-9ee731785292606e-01"
      },
      "ResponseBody": {
        "$dtId": "roomWithWifiTwin206946627",
        "$etag": "W/\u0022ae0c8fb0-ffdc-4716-9433-ef7571ef90c9\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "RouterName": "Cisco1",
          "Network": "Room1",
          "$metadata": {
            "$lastUpdateTime": "2023-08-08T17:21:51.0346343Z",
            "RouterName": {
              "lastUpdateTime": "2023-08-08T17:21:51.0346343Z"
            },
            "Network": {
              "lastUpdateTime": "2023-08-08T17:21:51.0346343Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;11125",
          "$lastUpdateTime": "2023-08-08T17:21:51.0346343Z",
          "Temperature": {
            "lastUpdateTime": "2023-08-08T17:21:51.0346343Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-08-08T17:21:51.0346343Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-08-08T17:21:51.0346343Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-08-08T17:21:51.0346343Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin206946627/components/wifiAccessPoint?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022ae0c8fb0-ffdc-4716-9433-ef7571ef90c9\u0022",
        "mise-correlation-id": "b3a947b2-a15e-420a-bd0a-37d876f27b68",
        "traceresponse": "00-1a08e0d5b5a8380c6073a2557b5cfe03-e82ee3d53e97ee8b-01"
      },
      "ResponseBody": {
        "RouterName": "Cisco1",
        "Network": "Room1",
        "$metadata": {
          "$lastUpdateTime": "2023-08-08T17:21:51.0346343Z",
          "RouterName": {
            "lastUpdateTime": "2023-08-08T17:21:51.0346343Z"
          },
          "Network": {
            "lastUpdateTime": "2023-08-08T17:21:51.0346343Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin206946627/components/wifiAccessPoint?api-version=2023-06-30",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json-patch\u002Bjson",
        "If-Match": "W/\u0022ae0c8fb0-ffdc-4716-9433-ef7571ef90c9\u0022"
      },
      "RequestBody": "[{\u0022op\u0022:\u0022replace\u0022,\u0022path\u0022:\u0022/Network\u0022,\u0022value\u0022:\u0022Even newer Network\u0022}]",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "25641212-8da8-4453-95d2-e80acdf5216f",
        "traceresponse": "00-0ab164f374f692d63b2a8cc3568d5cf0-939ccbfd06425db4-01",
        "x-ms-error-code": "PreconditionFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "The provided etag W/\u0022ae0c8fb0-ffdc-4716-9433-ef7571ef90c9\u0022 doesn\u0027t match the current etag for the resource. Please obtain and provide the latest etag by getting the resource. See section on get apis in the documentation https://aka.ms/adtv2twins."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B11125?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "05be5f12-7d77-409c-8c27-9a81d74cbf99",
        "traceresponse": "00-cfd1afe1db13536ab88c9a5ffdc71902-5006dee0bfba8454-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B148497276?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "575f9107-bfc1-4f20-be7e-44aea3be15c0",
        "traceresponse": "00-f461c8e087948cfb87f6b5105902155a-7963e540208f96ca-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1537810316"
  }
}
