{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a315384e-4d42-6af0-eab7-a3a291ca6ef7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:17:25 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF51F2DD43C50\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:17:26 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a315384e-4d42-6af0-eab7-a3a291ca6ef7/c2fa3d3c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:17:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF51F2DF7C072\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:17:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-12-04T23:17:26.7059826Z",
        "x-ms-file-creation-time": "2023-12-04T23:17:26.7059826Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-12-04T23:17:26.7059826Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a315384e-4d42-6af0-eab7-a3a291ca6ef7/c2fa3d3c/247851ef?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:17:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF51F2E11D453\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:17:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-12-04T23:17:26.8768851Z",
        "x-ms-file-creation-time": "2023-12-04T23:17:26.8768851Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-12-04T23:17:26.8768851Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a315384e-4d42-6af0-eab7-a3a291ca6ef7/c2fa3d3c/247851ef/50e95d4f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:17:27 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a315384e-4d42-6af0-eab7-a3a291ca6ef7/c2fa3d3c/247851ef/f6879132",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 04 Dec 2023 23:17:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF51F2E5BA3D1\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:17:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-12-04T23:17:27.3606097Z",
        "x-ms-file-creation-time": "2023-12-04T23:17:27.3606097Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-12-04T23:17:27.3606097Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a315384e-4d42-6af0-eab7-a3a291ca6ef7/c2fa3d3c/247851ef/f6879132?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 04 Dec 2023 23:17:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": "NMetazRS1d2peGwMSEe0FJWjAVJMt\u002BpuHbC2oFPCK7ZGX0C85\u002BZzQoG5ZJLjVxea2uXblMaKbHzcPk6DnDSK5022xugG9yyuL7/QklJYi8WYG8Zt5pbvvPPD4KiX76VNL31ELZEvk\u002BK4LWQHudkqhLOJ64BtHAG2xgn1QheEFj8ZgmPUE140aYjktbky6AIZmVv1DgQl3xN8jmaHOVDLNBYl7Td2VXBVVYH4iWZHhN4H26m7jwg686JQWIX3rC83GIGjDfrLo0Trn7mDLVasNAqIf12nD6QN6vmUJvzrXahRwHDlpHfjPDhl0O9Pt8ZMpCN7byzSkAjclSIANn1HAEIQMWzlxpCSpEMlQj\u002B1vjIzR4LZb\u002B57fzBnCQ9U4gW7Hs\u002BtPoZZZt2T6MrprE3JJ9bwze77bZBTlLE7fryAPsI9a[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a315384e-4d42-6af0-eab7-a3a291ca6ef7/c2fa3d3c/247851ef?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:17:27 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://jalauzonnettest.file.core.windows.net/\u0022 ShareName=\u0022test-share-a315384e-4d42-6af0-eab7-a3a291ca6ef7\u0022 DirectoryPath=\u0022c2fa3d3c/247851ef\u0022\u003E\u003CDirectoryId\u003E11529285414812647424\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003E50e95d4f\u003C/Name\u003E\u003CFileId\u003E13835093239654252544\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003CFile\u003E\u003CName\u003Ef6879132\u003C/Name\u003E\u003CFileId\u003E16140971433240035328\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a315384e-4d42-6af0-eab7-a3a291ca6ef7/c2fa3d3c/247851ef/50e95d4f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:17:27 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBF51F2E70AF57\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:17:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-12-04T23:17:27.4985303Z",
        "x-ms-file-creation-time": "2023-12-04T23:17:27.3905918Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2023-12-04T23:17:27.4985303Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a315384e-4d42-6af0-eab7-a3a291ca6ef7/c2fa3d3c/247851ef/50e95d4f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:17:27 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBF51F2E70AF57\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:17:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-12-04T23:17:27.4985303Z",
        "x-ms-file-creation-time": "2023-12-04T23:17:27.3905918Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2023-12-04T23:17:27.4985303Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a315384e-4d42-6af0-eab7-a3a291ca6ef7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:17:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1125755029",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
