{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:59 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D169933D7B7\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:59 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6/5564c00a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:59 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16993ECD6C\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:22:59.8172012Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:59.8172012Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:22:59.8172012Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6/5564c00a/c8962dfe?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:59 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1699477639\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:22:59.8739513Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:59.8739513Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-07T01:22:59.8739513Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6/5564c00a/c8962dfe/519f8be4?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:59 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D169952B42F\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:22:59.9476271Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:59.9476271Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-03-07T01:22:59.9476271Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6/5564c00a/c8962dfe/519f8be4/5bbcc8e8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:59 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16995BD1B3\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:23:00.0073651Z",
        "x-ms-file-creation-time": "2025-03-07T01:23:00.0073651Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-03-07T01:23:00.0073651Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6/5564c00a/c8962dfe/519f8be4/5bbcc8e8/b8e88f76?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D169964EF26\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:23:00.0671014Z",
        "x-ms-file-creation-time": "2025-03-07T01:23:00.0671014Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-03-07T01:23:00.0671014Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6/5564c00a/c8962dfe/519f8be4/5bbcc8e8/b8e88f76/7d31925d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16996D97F6\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:23:00.1238518Z",
        "x-ms-file-creation-time": "2025-03-07T01:23:00.1238518Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-03-07T01:23:00.1238518Z",
        "x-ms-file-parent-id": "14988049928633188352",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6/5564c00a/c8962dfe/519f8be4/5bbcc8e8/b8e88f76/7d31925d/c8e0d9b1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6/5564c00a/c8962dfe/519f8be4/5bbcc8e8/b8e88f76/7d31925d/c8e0d9b1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D16997FF9D2\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:23:00.2443218Z",
        "x-ms-file-creation-time": "2025-03-07T01:23:00.2443218Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6/5564c00a/c8962dfe/519f8be4/5bbcc8e8/b8e88f76/7d31925d/c8e0d9b1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "6MZkZvJSoA3Ldkk0FUjbAvXB/u6DoPBrjK/HLzYEiwLdtuGjwvzYXjjT/G+o0Wxtmy/JJW0OF0jW+dpCi3HWxutGV15mNz/46J+2sKOBwrpDWZQHO2aUzp+YzcghldPG/DWDYXoOB2Pv0TzNV2elVTcf/zHdz4uFsoi/zWp21lPM77Rt/WBANFIwF2opxnY383eRAZWh6Syp/q/xTzn4ePrpAWeyN1fW38rfrLchW+sRh9ry5dS9KgaHw/+wT+UYOJ9vQMUOhLsguyLKwTx1iKLE4MdfBZMlK9dhK3RYJZDkx3QYshsmAgIe0imy8mjKEjtd7G4euDILShTtrVlGyJWS5vrHXNaGnd3FQDJpczlulhk5+jkhxg5BDWcGOFSo1wqUHwxtArVl1k6RWHj/odfbfxdADc1bcR/shk9ugGWIHGkn1FMsAJNj0yTqj22WQWuQKrk9aMk9OK7tgXxm9lbpCDwO18yErn6D3TqpceGxVkTj3lWrS7Of6pykP38X/NzNAIYxh2meC3w6uYuPlMfNOyo3ghgBPr2Ib+0w32/+a+Bd23Faf8/aRdLZcJEoD1bV1wNU33nEzMLJqBd8bSwNPE6qMrhVcrxbXT1GJ80rYGCXWwdrqotnmA6ukNa3XtelzDRDfd2df2RH+II8fqT1nki35RIkoZHCQ5mppuHlpP9loFuY5+KC+dyjJLEJKhpqufKOAHjFgSqigTpD89iDYlSD1t1IXbZmNOs1gX3guBh+P+3uVqSGnx8x9WanPwUDIMJdhVM8IVw8KMuMkP+twsgixLTqlAuw/Te+F2dQvvXmMWG7gzPEQR6Qsi7Y+Q8fhDKdhXpQGYu2rYgcfQn07GnWpl6e8T+VXYKWWuLc1wMnn5M1sjh7lRjVBNaqp8QUnMXFAlOxgJLzByj3ur6p2tWE9N52vzkxWxBFye1p67W+gr4cF9Swdh8BQasQg9tZKyoAJrLlndyMk6dCa7ekihxyODgAjcMA036+dX6OINc1653DaMQC2OThkIMtbgpnXLeOnkuiWZ5n/1I0Jyhe/nPPDYAa4SFXb19THv0/02VzVhjG/4KMkpL+XGlyzrG8g5EQXWCKTXuWNy/rTjqhJyzswNAPl/7xQ3ruG4S45aCtl5prL3UE6QidMMhSoURXXTU8hQ3hreySHhrmmzL23lGOPbefNfe259bHcmY2nqI2lr1Pe1+SzOmu2BBaHU3WplJ2xGOMuCg9hZ03GjuFXIB4sAV1pmLy+3DN8FznXMmI8MsUwNk+qd2VEvXBW7KuKXyP4m1IYf/vg8jzvsfLVinUrilvcJunOgcn35RtMJ++HsfgV3lcQI/LJDwQSusWyrzL7a2IP7jg6KhmIA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "HjL2qKP4NyOP9m9Ry0UKIg==",
        "ETag": "\"0x8DD5D1699896514\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6/5564c00a/c8962dfe/519f8be4/5bbcc8e8/b8e88f76/7d31925d/c8e0d9b1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1699928290\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:23:00.3657872Z",
        "x-ms-file-creation-time": "2025-03-07T01:23:00.2443218Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6/5564c00a/c8962dfe?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6\" DirectoryPath=\"5564c00a/c8962dfe\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>519f8be4</Name><FileId>16140971433240035328</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6/5564c00a/c8962dfe/519f8be4?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6\" DirectoryPath=\"5564c00a/c8962dfe/519f8be4\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>5bbcc8e8</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6/5564c00a/c8962dfe/519f8be4/5bbcc8e8?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6\" DirectoryPath=\"5564c00a/c8962dfe/519f8be4/5bbcc8e8\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>b8e88f76</Name><FileId>14988049928633188352</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6/5564c00a/c8962dfe/519f8be4/5bbcc8e8/b8e88f76?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6\" DirectoryPath=\"5564c00a/c8962dfe/519f8be4/5bbcc8e8/b8e88f76\"><DirectoryId>14988049928633188352</DirectoryId><Entries><Directory><Name>7d31925d</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6/5564c00a/c8962dfe/519f8be4/5bbcc8e8/b8e88f76/7d31925d?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6\" DirectoryPath=\"5564c00a/c8962dfe/519f8be4/5bbcc8e8/b8e88f76/7d31925d\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>c8e0d9b1</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6/5564c00a/c8962dfe/519f8be4/5bbcc8e8/b8e88f76/7d31925d/c8e0d9b1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1699928290\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:23:00.3657872Z",
        "x-ms-file-creation-time": "2025-03-07T01:23:00.2443218Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6/5564c00a/c8962dfe/519f8be4/5bbcc8e8/b8e88f76/7d31925d/c8e0d9b1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD5D1699928290\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:23:00.3657872Z",
        "x-ms-file-creation-time": "2025-03-07T01:23:00.2443218Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-ke[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-4becc865-fff1-3dc0-18e6-21d23e070ca6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1157946712",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
