{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0f1129c0-84df-e026-860b-8fc8798501b7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795D70E8906\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0f1129c0-84df-e026-860b-8fc8798501b7/09954a90?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795D71836B2\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-28T21:16:51.0643890Z",
        "x-ms-file-creation-time": "2024-10-28T21:16:51.0643890Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-28T21:16:51.0643890Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0f1129c0-84df-e026-860b-8fc8798501b7/09954a90/f38721b0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795D7228B56\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-28T21:16:51.1320918Z",
        "x-ms-file-creation-time": "2024-10-28T21:16:51.1320918Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-28T21:16:51.1320918Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0f1129c0-84df-e026-860b-8fc8798501b7/09954a90/f38721b0/1c74689a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0f1129c0-84df-e026-860b-8fc8798501b7/09954a90/f38721b0/1c74689a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:55 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795D73844DE\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:16:51.2744670Z",
        "x-ms-file-creation-time": "2024-10-28T21:16:51.2744670Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0f1129c0-84df-e026-860b-8fc8798501b7/09954a90/f38721b0/1c74689a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:55 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "rWaLUcDr8coXT2mVJxNZCDK0YsyE2/D/Lzurrchu8yTgbB+jbtiyLTPizBQxoxBdjOqFFd4NptJ2jCKFP0QBqVxFtbvztZlZAjWZog/bzosrTiDd6N1F0sVNLeK1Le3u4SK37O5UadZRKxOpcwPCmr2XWfAjI8B//+L2poi3pNRHq8HsI+Gd1uVJjL3Jm1/Bi5IkHtT8yr1iOOwLXsJOmYc/YchC1Xfc+YML2pYDtWSDNBv1koUASuADiuv1kXgi+/I1ijmWf7UbSCVR8fAmXoKIiCqnWAYCPxfnP0uL5mgK6d6kzisq7LVl2kpfr1nw3StobQhNeqPrMksir0Bqj2K8RggSgpBXXZx1QX28opC99mIfI3hgvW46uJvfCD11+0roo2hR3lqaEA9s2DklL5C6ZLjeSmzpXIiZ18r1d1VfAEYz1P8nbBgHhRJp8+Q1FIgKJKOElrHe/0fgtwaQpJi6DNjz8luRk/eg1sRZf2ikZMJB61Ox2mmUVNS3R7URd+F6ruYLQiIteZGr5MDshH/eO1JETrlFCDJvXp2G2UxCjl/j39CBmCKgE3LBBvaop9BV2QtizSgnNKa0nOOEp59EaVVhCaWuXKMwpDpHgwI7xrbNMP9A38E2u6sqzfs+G2zSfJygR54qpnxoMinu4LCkedUtt3afBIqUK036hI+n8YjOdAZlm38XooqC2KyXSNr6hVMmEWP2MngSCxtRMCLtwUGgH2upPt5WFhXsHSvd/eNy//47gOAl10KOU49jxnJnlRZr9yhvUUd10PpOChVMNA443jAksUBhe0gpG+tO8k+jhIcVcgW6A662xbDl1s0tQR6AKudBQ+PVCnvgRjVcJ92rq4WNN8IIftuBbeuPe6R6+9rMzcdnYUCjP2iK2r14Wp7TOitHnwlbeKwMv9b3RY7XZUpbj1kVQ0lF6fhafqMdCBJNvEF5M1vQcFUbW6Jqq/nZs3VyHcpFvffhArURAfkJ77bDqolNXTLuix4D+uen2j7+gMstqutIB/9JmDCmvm9bEWzrpwBwjFVDhJKrQsIPOSd3E4Au20TKe6OJA8QBSMyvp+h7vDM9jvR16iZZnMU8Ol8JLqvuLTYnICtd5oiRQTvF/Jrak330OoSMuPAdcd7eTcll+BkgwXqyVJsH36ds5Kjqk6ArYqbhFfQmYnRFCq9Nf5m/K0kipDofJz/i7FrdINRIMt0+s+oig+Ml+V8FbErrumAOrbhfyO9lCzpn/yiZSUKg/dfRDsuunKdm/KrbGbv19jH5znIb6Gru2Kewu4S6i7AcZW9zGauVXxAR+MxEifF/cgn3oHvPhRRt4zYk/uEjrHH6vrRLgtyFZG5iCfCdqU61MEh7ww==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "KB9gZnIWMLIQSn9BXn9L1Q==",
        "ETag": "\"0x8DCF795D74224D3\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:51 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0f1129c0-84df-e026-860b-8fc8798501b7/09954a90/f38721b0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-0f1129c0-84df-e026-860b-8fc8798501b7\" DirectoryPath=\"09954a90/f38721b0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>1c74689a</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>e3ac2418</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0f1129c0-84df-e026-860b-8fc8798501b7/09954a90/f38721b0/1c74689a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:55 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF795D74224D3\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:16:51.3391827Z",
        "x-ms-file-creation-time": "2024-10-28T21:16:51.2744670Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0f1129c0-84df-e026-860b-8fc8798501b7/09954a90/f38721b0/1c74689a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:55 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF795D74224D3\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:16:51.3391827Z",
        "x-ms-file-creation-time": "2024-10-28T21:16:51.2744670Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-0f1129c0-84df-e026-860b-8fc8798501b7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1576834770",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
