{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7b1142be-11d5-bfdb-7e3f-77cfcbd7f5b8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9ABFFAEE9848\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7b1142be-11d5-bfdb-7e3f-77cfcbd7f5b8/ffa8af6f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:12 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9ABFFAF7CE94\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T17:54:11.9743124Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:11.9743124Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T17:54:11.9743124Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7b1142be-11d5-bfdb-7e3f-77cfcbd7f5b8/ffa8af6f/9248d164?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:12 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9ABFFB0058E5\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:12 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T17:54:12.0302821Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:12.0302821Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-07-02T17:54:12.0302821Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7b1142be-11d5-bfdb-7e3f-77cfcbd7f5b8/ffa8af6f/9248d164/70ded1cc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:12 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9ABFFB090A3A\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:12.0872506Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:12.0872506Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-07-02T17:54:12.0872506Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7b1142be-11d5-bfdb-7e3f-77cfcbd7f5b8/ffa8af6f/9248d164/70ded1cc?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "ZY/ZJJfDVQhRFCNryaYlJ2Y8ai7UbvGkIPwPe59rffB+ZfUhbGjJVmUYFBgP3Lgq4duvyMzSR/edNQSbtNpo5pcy7GSwBLr9chTJvFnZlURD5ZnEvLQkrB3+gzdkLqKKry6A3O9Ted0gsVW4CIudxKC/V85ApCniDkBGsoCDmUNxPgwqWLhU8Gy8pAtfbKOSYL+XpNbUSgsFnc2vDcZcnRcRR8l+c2vnamdhg/8dg6Kcs1LA6/RsnPQBJbvrpeKmYAb0TSXaFO1UsDlvcsYL5xorEllznLEipKrUfE2w+8WEuyP5KTZ8wZ5lazu6/Sot9j2gv5KJMsNU0ah7BZifpLR06rajEr3jrlG6DjB2aKd/p4YPDzwy+4lfpFiOAbwGxceHRhJziuSAvBBBziST3mkA+14Sj5V3Qe4tQ21lVayUtEhp7yGUCx2ij1Is8S1lzMXvjQZe9DYyDwQkRkZ2GmdjrBrbKu9HbO9AbwBCS1DBx3eodcemNr8SNt8ccMXWK3TryEQTiaHWqCEWHYQ178O0Yn7OzqSfvHVayfMPKvsqaUSLV4ILrT3W0c2mjxk73EcbZw1GCF3QSwvOucCtxn0l7LNAqphBqbRB+PzX+C1cH+ys88Pt42Hnuwt2PPR9KAtQgKJl+jKv2r5YBQ9h+VLecpnUAdO6NwhSWe+MymzAw8/xhniK9yS6/BkElN5ShsG4mMpaqCc4lkiaEqFCIw9SmEE/cHLaU3p1GQS6taIqANMt0zKhZRuoue8v8OSCd9kJsvydEhVP3URQ5Y4ifeGlbxLOFU/dsDMmlraDq2OW8qErsQOmje293vXtUX+MhjsOiYDRs2KKKwHIdntfzDLgufLs9szd/uIkETZZ71+0mg97dCHjxD4/oYUB3hZyXhLDDZeMn49uMIqdraIsMDuiFNxr41cR/fW0rVVH3CDLsrMkluLHJ/p/DUSWRRecE3BJX8o6Bnq6sQ+i2PE6J1Rq0fruB5pZ2uzh7NUTerjeF5rl/XxWkaw4aeTSJU8JReXvLHMcrQvW8IXdWBqkpzZXw8BWVSrXE0BOtZ21hrSd2KbwI05FwWmPDwz3eDmSk8Kue2GOsvC7FxgzzvhtIGrQQH9ztIPoEgJXx0Yd4JsGuyHaBwpSDiW2NAw1EfNxIe6iJje5Ht8/xWlfN+qpnjd9LBLWkxlffjJavYB3sgAP5aZXerljTZ1Cm0Gg89c7DJXUt+Xgm43VQqgFX2FeyBNpUFFEUiN9Gt91k/jXvopaHrDqovobLkoYgjgRXe0749IuN6KF97pxV50FageV/YMdq0CwdCYYTiEGK8/ra73yOq8lqIfn1Cf2eEpdFcRDgoS087Gsim+sFumBf8vqhg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "aAEN1sKLchdA5trW9spEjw==",
        "ETag": "\"0x8DC9ABFFB1209AA\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:12 GMT",
        "x-ms-file-last-write-time": "2024-07-02T17:54:12.1462186Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7b1142be-11d5-bfdb-7e3f-77cfcbd7f5b8/ffa8af6f/9248d164?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-7b1142be-11d5-bfdb-7e3f-77cfcbd7f5b8\" DirectoryPath=\"ffa8af6f/9248d164\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>4c96d3ab</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>70ded1cc</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7b1142be-11d5-bfdb-7e3f-77cfcbd7f5b8/ffa8af6f/9248d164/4c96d3ab",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:13 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9ABFFB26C737\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:12.2821431Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:12.2231756Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7b1142be-11d5-bfdb-7e3f-77cfcbd7f5b8/ffa8af6f/9248d164/4c96d3ab",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:13 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9ABFFB26C737\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:12.2821431Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:12.2231756Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-7b1142be-11d5-bfdb-7e3f-77cfcbd7f5b8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:13 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1241252148",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
