{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:01 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64352BF393D\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:01 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868/c55e337d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:01 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64352C6E7E3\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T23:02:01.4975971Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:01.4975971Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:02:01.4975971Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868/c55e337d/aa7364e0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:01 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64352CD9BE7\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T23:02:01.5415271Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:01.5415271Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-04-29T23:02:01.5415271Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868/c55e337d/aa7364e0/1bc092f2?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:01 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:f3ad232c-401a-00f5-4b2c-d8fb88000000\n",
        "Time:2026-04-29T23:02:01.6000563Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868/c55e337d/aa7364e0/1bc092f2/26ad03a3?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:f3ad232f-401a-00f5-4d2c-d8fb88000000\n",
        "Time:2026-04-29T23:02:01.6861038Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868/c55e337d/aa7364e0/1bc092f2/26ad03a3/a20f72e5?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:f3ad2331-401a-00f5-4f2c-d8fb88000000\n",
        "Time:2026-04-29T23:02:01.7725399Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868/c55e337d/aa7364e0/1bc092f2/26ad03a3/a20f72e5/42142831?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:f3ad2334-401a-00f5-512c-d8fb88000000\n",
        "Time:2026-04-29T23:02:01.8586726Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868/c55e337d/aa7364e0/1bc092f2/26ad03a3/a20f72e5/42142831/5a761b85",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868/c55e337d/aa7364e0/1bc092f2/26ad03a3/a20f72e5/42142831/5a761b85",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643531364E7\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:01.9988711Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:01.9988711Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2026-04-29T23:02:01.9988711Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868/c55e337d/aa7364e0/1bc092f2/26ad03a3/a20f72e5/42142831/5a761b85?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": "AUqGwc6Sqe4EptyhRT6I08xEMvRue1IwsDaM30XwCLF2yg3eGnYX83KIVYck1ph3ct2yG+InRoX4VhCYBcqoE50rK3oxqrlVLT6C5iXKDNqeFWxoPe3OToOH5sRmfu2n30Hp+asdRcgkXe2jpWBfLUo1+vBdQNWwXNz2qcP17q5Q2gbj4BMvgM+kQ+D/KqkjJ7h5MIT9Sp9sOZzOJpwEL24/UspZfEw3Bnkgufz1sDEz04ELe70pU5Bmd6d2YFoznxRywNjeyatrQioL3ZGjdolqmlMa+bOwFf858wSlwKYe7BnngvBZVAnWnziTHnX/wwAdDMUHGaVhwqrYpdanxoKE7PF3u/SYEEZJRFp6HfeJOi8Dh7TgF9N0hsBFga8zLtm2DzGEhwcMhft/vdVL5qWzTmqmoz7Oo9QdAzQ0U4+WFhWBxA3GBLIn9wK4YFr+KKAbkjJEjYua6GtcZoTT2DFr6Ke/yiGX7Um4fqs7FUJ6H9qUGMFdUYmJ5tyiaZ4uVB/RTHezPl5+hKXojA7gX9Io4UapPr9wDpceNeNF9YOriimLasnLx+F8FpQbdMV6qYcKeYdXhBZgYD7glAh7OI8hPALlVPQJXRplLSgqVJnRo4xcO3v7VAUTKwqL6jLYAd0F+TjClVSSABxt8VbuNQukDvF8Hv0TJuf80SnqfnLnjCxKJFphDw43yTpfjWOvJfX+5ttBXOLg8dNQxsMrqIKphmQpoxCwQ//jRVTCtJiETaw065eXpTBKaTOHEEhKCyG4tQb+hYHkTaPbXheNHj06y3gX97zrEuA03zndKTK2mDkzCf+RhsgqT57zu0cZvEv1TEXQMxRlzaMmyqVHBiRxJMXeWhQ+qEWw7Kce91aZGiLu6Nzt5mUkzTxba7wi40l5gpaBO2I2t6P/IEZsR9VNjK+CWR5IhD5guYzY4j2JjQldpHS/GN+/tzA47cYet4ZmDt8MoIkrMf5YIILWXtRmdpM9DqJgjXPQw6HtD5Z3QQEGcdRdfOx/MnN2Z/hd6Vlb0XYz4KjjBYFrPN3nPSFn4N6A0O0ACfqmvtwv6iV7c9lIkT4fRGFYImtS8UAPl/RSDoYZ3BhrW8h8jSLMtBtb8MgDn6vjSJx9KK2CrRe5libn3NyeYZbA3DZ1o7Y+i25P9wB3DPhJb8bqnLRr6a2ww/f85dc/vY4xQsN0baXmPpw+MrYWQYkunm0VtMXiVfKJxd+/QqaWEDlyRco01AEhBF0XLLf3mYFuzkdqKQjIT+3Q66jFJvz2pyF8pPu++cpr9LBoyyg6kitdUXRfLOYxqfbdZOhZW91gIYWVevWGr9R9/jVYYIPElll9Z9WIlns6S/sE4ZXhEpjTCKqjpA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "iiMYiFtfLWeqyAkGa0FJJQ==",
        "ETag": "\"0x8DEA643531B02E3\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-file-last-write-time": "2026-04-29T23:02:01.9988711Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868/c55e337d/aa7364e0/1bc092f2/26ad03a3/a20f72e5/42142831/5a761b85?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643532168E4\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:02.0907236Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:01.9988711Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868/c55e337d/aa7364e0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-9626f06e-4050-dc66-75d4-45d448bb7868\" DirectoryPath=\"c55e337d/aa7364e0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>1bc092f2</Name><FileId>16140971433240035328</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868/c55e337d/aa7364e0/1bc092f2?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-9626f06e-4050-dc66-75d4-45d448bb7868\" DirectoryPath=\"c55e337d/aa7364e0/1bc092f2\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>26ad03a3</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868/c55e337d/aa7364e0/1bc092f2/26ad03a3?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-9626f06e-4050-dc66-75d4-45d448bb7868\" DirectoryPath=\"c55e337d/aa7364e0/1bc092f2/26ad03a3\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>a20f72e5</Name><FileId>14988049928633188352</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868/c55e337d/aa7364e0/1bc092f2/26ad03a3/a20f72e5?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-9626f06e-4050-dc66-75d4-45d448bb7868\" DirectoryPath=\"c55e337d/aa7364e0/1bc092f2/26ad03a3/a20f72e5\"><DirectoryId>14988049928633188352</DirectoryId><Entries><Directory><Name>42142831</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868/c55e337d/aa7364e0/1bc092f2/26ad03a3/a20f72e5/42142831?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-9626f06e-4050-dc66-75d4-45d448bb7868\" DirectoryPath=\"c55e337d/aa7364e0/1bc092f2/26ad03a3/a20f72e5/42142831\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>5a761b85</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868/c55e337d/aa7364e0/1bc092f2/26ad03a3/a20f72e5/42142831/5a761b85",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643532168E4\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:02.0907236Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:01.9988711Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868/c55e337d/aa7364e0/1bc092f2/26ad03a3/a20f72e5/42142831/5a761b85",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DEA643532168E4\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:02.0907236Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:01.9988711Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-ke[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-9626f06e-4050-dc66-75d4-45d448bb7868?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1522195766",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
