{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-796e9723-48d3-293e-9ff2-c6f12e55b7db?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870149127DA9\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:51:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-796e9723-48d3-293e-9ff2-c6f12e55b7db/d1a09e2d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8701491E8E98\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:51:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T14:51:17.1224216Z",
        "x-ms-file-creation-time": "2024-06-07T14:51:17.1224216Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T14:51:17.1224216Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-796e9723-48d3-293e-9ff2-c6f12e55b7db/d1a09e2d/862e09e2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870149296272\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:51:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T14:51:17.1933810Z",
        "x-ms-file-creation-time": "2024-06-07T14:51:17.1933810Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-07T14:51:17.1933810Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-796e9723-48d3-293e-9ff2-c6f12e55b7db/d1a09e2d/862e09e2/34eda80d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-796e9723-48d3-293e-9ff2-c6f12e55b7db/d1a09e2d/862e09e2/34eda80d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8701493F583D\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:51:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T14:51:17.3372989Z",
        "x-ms-file-creation-time": "2024-06-07T14:51:17.3372989Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-796e9723-48d3-293e-9ff2-c6f12e55b7db/d1a09e2d/862e09e2/34eda80d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:16 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "si8yfVguVFqmACMX5L5BxgC5WvO+aboUXhwXuubF4+z5dcSrGWxwvlvKmiN2VvWf2Uw1JN0jRUh0Hh47F5l04Rw3HW76layTSZyX88+XnQcmeOGakL8O1jB7NvtONabBVbgGPziHpUOfodpBi1F43YEWFJ+42lFdKUc+fl+xRRP11p0WkF3On9Kd+u7kzEreAll5NyAHCHtnqRbxSCfk7lvHTLSzYkwjSHTMGuBieFz9X3sFNw7z7c0irudH3VaruQuSHX+VK6AMVu+rO+2bBTG58+ms3rZN017mkLNl22odIGDUz1rdZzPa+OEeR7Lgh6m1jult/9tUREohr5rsp3qEjhqMxjXX3Iy10eXVL4yrBgkKr02AsCGFf4oQu7iZ7lFmmbmYU8B03rJcty31fxW+daiQ4vcsBN34B0eqxiDUHOOUbpXSE7NIldCbI/nzj/90UkYPCAtZOpXcn0t5yheRiJpKYRCA62L0SEwnkeDkBXhHNXTaxBPXOjT/9nNoz8u5CpteqC3v9GbkG8C/Mqi0+JrTMZSit8OHcybbgPXui3iBbYdEhVxKWEEO9qlTGAiLS/7ZlJ43FlLY1zUHE3Nx9o9HPsQhb3I9idlTlMEaM1sdTzX2FPbaSVc0bK4mQ0TNnP8ZC9pEatuLmwvE44GRvqPa6cM+euGYbfRs7QPEF0aVhvfBACiA2eVaa3nrFWbWoq4KS1mAjyIegJ3l13zXx4TFL12J0L16WQ/e5A9orViNlkpVucvsFPbVon+KmwFogqP0JeUITNLwj/JKoqsSttNFWEEygg242Rpmsy098L4NdWFrc4dyhEp3ZSrZonJLw+ysRELANv+WO0zKopilsp8zPCxJpkJL09P2uh3j3zeoGvBAkKt7TT9h1Tc7p+Kx0rKKpWVGAhyqYXFvynzislwVIoenZCH0t+/t59EKDyzwROdqWTrRYRjUli85C4PCfyLbJoRbCm6Rlu12WBtLn1JFf4WUd1khQ8Bu083yuqtsKmeuL+mnlDp42cJMWgn9iffc9Iz9LgfIueLD7TagnttBCi6znHBpnetKG56W1em3cUrWFcUfbvxg5XUG46cE1zrnClDbSuyGc1ehsxJpMuT5DHvsyogVIpsyUrb7YrlDRURjr8qY3CddUKJufrrp9rORDdcrFw2y0ei0qPc2ixCeXW3OBoIZYDBUjnrmp6PhSFwDaVXhGC02sd7i5DMvJ8SRzyFMG+8xd62n14mTyylE0mCaMiG7vEU/l1WkN3v8JGe1VNeClC1s0vKnOkGko+W0nRHTlfSi1hPcDIOajEAxqrIh3XdRwj4yLmAvE4IEm/Rw75lpKY9yEn3Epoiq0kWxdY+Og8VtY9rToA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "vJvIqcajN+hc0Diocjh5Uw==",
        "ETag": "\"0x8DC8701494AA139\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:51:17 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-796e9723-48d3-293e-9ff2-c6f12e55b7db/d1a09e2d/862e09e2?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-796e9723-48d3-293e-9ff2-c6f12e55b7db\" DirectoryPath=\"d1a09e2d/862e09e2\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>34eda80d</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>bc550853</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-796e9723-48d3-293e-9ff2-c6f12e55b7db/d1a09e2d/862e09e2/34eda80d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8701494AA139\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:51:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T14:51:17.4112569Z",
        "x-ms-file-creation-time": "2024-06-07T14:51:17.3372989Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-796e9723-48d3-293e-9ff2-c6f12e55b7db/d1a09e2d/862e09e2/34eda80d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:17 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8701494AA139\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:51:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T14:51:17.4112569Z",
        "x-ms-file-creation-time": "2024-06-07T14:51:17.3372989Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-796e9723-48d3-293e-9ff2-c6f12e55b7db?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:17 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "943953489",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
