{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-92b73d49-a187-5c4d-27fd-7583a141154d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:30:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8E7DE6B779AC\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:30:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-92b73d49-a187-5c4d-27fd-7583a141154d/d4022390?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:30:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8E7DE6FC9C4F\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:30:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T03:30:57.7138767Z",
        "x-ms-file-creation-time": "2024-06-17T03:30:57.7138767Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-17T03:30:57.7138767Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-92b73d49-a187-5c4d-27fd-7583a141154d/d4022390/c556229d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:30:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8E7DE72E0557\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:30:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T03:30:58.0376919Z",
        "x-ms-file-creation-time": "2024-06-17T03:30:58.0376919Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-17T03:30:58.0376919Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-92b73d49-a187-5c4d-27fd-7583a141154d/d4022390/c556229d/a1837022",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:30:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-92b73d49-a187-5c4d-27fd-7583a141154d/d4022390/c556229d/a1837022",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 17 Jun 2024 03:30:59 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8E7DE86DA992\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:31:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T03:31:00.1324946Z",
        "x-ms-file-creation-time": "2024-06-17T03:31:00.1324946Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-92b73d49-a187-5c4d-27fd-7583a141154d/d4022390/c556229d/a1837022?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 17 Jun 2024 03:30:59 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "3HujSUOimG8plilUNwl8m2Mz18PGBiCpWJ9AJzDkfERTFX7NvNEBgNcUeDU3xXazEy7DbP2j29Zb+vGkYXA/RBnlACGKrt+SMVbsso3qcpIojRQBIRBGsDqocsHgXR9n1DMcUcVVKWROMDuntylJcYhefNRcPSMJn1Dn4jwdstM2hN1aziDN02Ovs/DVn/kQXwE5geFLC5cPErJ0bUYoMX5ncDJM7qNnkalwrIozNABX14M74zHy63lFSrtuWGUdhoFybS7GxHBd0fA4214N3N2yHZbD7U1MdIW5BqTn+ThDUiYIwMbRkBMT3RFBuQ8aOG3duzrOWZk0JfmpDL3Ldti39Ig4BBwW4IyDsBA7C7p1ns03CT39dPmM1JrNKIRVR2Y5icSH4jRQx9utS6mJ+Bk+M23vlGyauX+Pqy+BSbcILWipAYL17ryZ5kJiTylPA9yAj/UWZrP6n89F+DYEz30jpB1A3/aXSEWxVa0qN2pWP6hTAbrC8se1rmKysPaFlRfEPqoMDiPm6EavZBAF0Ghl7riOsc3DYbJVijCU5ZdPK8CWZfm/SjCEbRhzEo63sN76TMI99+NJAd34toPyUQOvYDlPb2tvpqSHCkS1UE4jntpSmpjVETTcTGMbxpOtkRsUxLFVZ0Bzi6Ydtuyfk7GP1RipoLdr2U8EcyIHU+AR2nkooYuczjaa3g/xuFpHPLiyjPB6A/BjqOpiUPQdazfGDNxzd/Il8gbhD8GoeSH0vTZqVMfvltaIxPigOn1CfHLXK6t+08XGjZnqmPQvuy/JbZK9sxdv1nUF67L5hLiIn5JO0E11depxo8cuBf3hWQnJ183rhchbaFU2eecTzAnhYfli4OrhU/eoTBBPQdF4JJKoL6zqnRrK8mj4P/wCXta+TKMEf3ge6IPVQjm3CyaDvlRUapxc9sPfl+2C6BT6pu05kfQtc6UaikcpFVvhEudBdIGnrfQ5YlbfJOeLnABv2pxLfXoyVkqvOuBVMuFo/oQGQHOSUvj5AC6eTU+9ju1HuTq/lZRsDx43+HIT5C90dyZjhFuM3IijUX1LlAj78qvyDnmnqWjvmjFUW1qF5Rz/KdYoWQqSutyxG0QXIHsWPAXGIdW2zc6+c+oqOIEtHmthTGoy0pihYFSc9Y0k2Hm1PR5UvsRGSVwHauYfZ4FbhP3YtdQQ5GltJcGBGddAmppwdPpi2V+nGwIOKmiygfjSQHGQSyOlpVm055kCxS+Fx9BLr/KH+KueMJnRArkBu6PIrtllr053y8+hrfHFpFbTiWOYZtIFS0jG8hqJ06Kfsyv2OhZWHxeB0+Mj5kq52ItD/nlWaVTRwmKQn70z7vctAfrGz2o/fGlLFpLu4g==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Qj3ytWdULp1R/pN+8J/1UQ==",
        "ETag": "\"0x8DC8E7DE8A86003\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:31:00 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-92b73d49-a187-5c4d-27fd-7583a141154d/d4022390/c556229d?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:31:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-92b73d49-a187-5c4d-27fd-7583a141154d\" DirectoryPath=\"d4022390/c556229d\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>a1837022</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-92b73d49-a187-5c4d-27fd-7583a141154d/d4022390/c556229d/a1837022",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:31:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8E7DE8A86003\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:31:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T03:31:00.5172739Z",
        "x-ms-file-creation-time": "2024-06-17T03:31:00.1324946Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-92b73d49-a187-5c4d-27fd-7583a141154d/d4022390/c556229d/a1837022",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:31:01 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8E7DE8A86003\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:31:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T03:31:00.5172739Z",
        "x-ms-file-creation-time": "2024-06-17T03:31:00.1324946Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-92b73d49-a187-5c4d-27fd-7583a141154d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:31:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "134318998",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
