{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-21966a14-1ad7-cd18-a54a-bc6b5e345d28?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795EAD134F9\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:24 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-21966a14-1ad7-cd18-a54a-bc6b5e345d28/cd448fc9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795EADAE158\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:24 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-28T21:17:24.2168664Z",
        "x-ms-file-creation-time": "2024-10-28T21:17:24.2168664Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-28T21:17:24.2168664Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-21966a14-1ad7-cd18-a54a-bc6b5e345d28/cd448fc9/19f7ce4f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795EAE583BE\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:24 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-28T21:17:24.2865598Z",
        "x-ms-file-creation-time": "2024-10-28T21:17:24.2865598Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-28T21:17:24.2865598Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-21966a14-1ad7-cd18-a54a-bc6b5e345d28/cd448fc9/19f7ce4f/6baff603",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795EAEF63B6\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:17:24.3512758Z",
        "x-ms-file-creation-time": "2024-10-28T21:17:24.3512758Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-10-28T21:17:24.3512758Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-21966a14-1ad7-cd18-a54a-bc6b5e345d28/cd448fc9/19f7ce4f/6baff603?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:28 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "xf0SlXdusSzEVlWEma5mKeTcEmuvN1AwM6iPjN1GaPs00hRk11KIUJSSRF+KRb34B8tEgwF4Zo6s4WLO3yVPfu1aUMeZAVKSU8LXHPPxpu3rloURAeX5u2yGuPXvunBvQsVxL/T2XwZ5sS8+oEmauzt040ifPnwIYJVbEkldoplSaNotf3b59Td+mFC1uhoi6/y6e9YnzwRJaM9fmky9HA+W7DhvbTzEeu4QIaYsU6V6OCdMoybCKpnV4xanmlrrwXxAHs7is37A9QDnF65eHRUp5WElcHjo1MKemYklHeCUJV8q6zXXl4SojK0m2hPrd8UBfrX4xlADWEoLRBr0mtcfU/FOMzLgUU3dfOPLwvmvsyHDI58rm14OJ5PqzFNqtPLVBoYhnEOTISxnG0ptOJZRXJD4MHY487iTPwye9YX6c8fx9btyjhbdMAJyxIAUoe/9mXDCcYN7nRPOjVw39SunbaiCe0La3s15GgBzxi83f54doVwUNwFEdVioowC6pjvXylfXkSWsIrqiSFaCB9bjlg6+GVPPkzWmPgbqMjvNv3TFnPzXYO15cX6icu+rwW2BxAzy/I3nCDYiMVIfwe9/1YnivWvZDDYgRKjULCBG+n2YaW4u28Pn3pTFtS6bWa+PI51myQMCp7fW0bfkEtsW2zbVh1iBUPnF+t/WFFYIhev5RQmD4DF5lcG2WAkMAsu5r9n4xdJXDtKjoM4kK5NhzkvM68zRkvsEW/GXyvjwufcTHWR8D78YoTc34D9iVGktVYq9QBf+5xzd82rhwEPas+fWEQ4u5L6Ms0mVmrK8ogeHaXRtMnngFDVInxxVN+HzXC1Yi0Nb/nHMMYzOaU1pIVBiWVbPbIBt9vzY5kShNnxnoT2FZBbDLGoDoQDsEqvo3n7L8t2LJO+s6pVGghgsKvsQZscP5L06ny3rzMt/geNR8AfG1kOe3H1N2XmAfalS1nYF3Kzj2PrAkFOwn1gkLGix9JIQZVS3cYlKwQtDuSGDmPVUeaU3bhcNBkXw7j0lKawQzogXQnEiTmoimBbvfdcxLQZiz7PDeoZ7Al8OxoJMJZheMuqZbFaEMSs6FdUAHohuvsE2wlr5TVQBnEARFIfo1XN+kErsl8Cw3Z2HiWSxeuTWoAfBFmI9ZeWWmNAWcx2jUkBhgo0+gicAhuW8ccTwTyFbOnOAJr8RQCplVf/wmmqA5DYjUPdXmB7gwI99gfQhpUiuujiqIiuBT0Fj2SwnD+x6PIyNzP4qBKJVn2UvlL41Q7C2Qt8y1cELogC29L/xuLGjAkVolNhJhLaWVIPFUruCLZV8ccwNSGbKgir+cxDiY+a0i5F5za/XbL4om4E+RVBEM8YqdUfklg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "342ZKFT2FszugqvTyHI0tg==",
        "ETag": "\"0x8DCF795EAFA0624\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:24 GMT",
        "x-ms-file-last-write-time": "2024-10-28T21:17:24.4209700Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-21966a14-1ad7-cd18-a54a-bc6b5e345d28/cd448fc9/19f7ce4f/651d33ff",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-21966a14-1ad7-cd18-a54a-bc6b5e345d28/cd448fc9/19f7ce4f/6baff603",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF795EAFA0624\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:17:24.4209700Z",
        "x-ms-file-creation-time": "2024-10-28T21:17:24.3512758Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-10-28T21:17:24.4209700Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-21966a14-1ad7-cd18-a54a-bc6b5e345d28/cd448fc9/19f7ce4f?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:28 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-21966a14-1ad7-cd18-a54a-bc6b5e345d28\" DirectoryPath=\"cd448fc9/19f7ce4f\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>08352fd9</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>54451e2e</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>651d33ff</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>6baff603</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-21966a14-1ad7-cd18-a54a-bc6b5e345d28?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "502927390",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
