{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-545c07c4-3fbd-cf27-9932-500a6406479e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF01A7F3E09B\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:40 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-545c07c4-3fbd-cf27-9932-500a6406479e/53506d3a-0159-6887-50df-635355166d75?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF01A7FACF9E\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T19:50:40.9250718Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:40.9250718Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T19:50:40.9250718Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-545c07c4-3fbd-cf27-9932-500a6406479e/53506d3a-0159-6887-50df-635355166d75/7a03cd64-7c27-71ad-fda7-cbdc2a714f02?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF01A802218B\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T19:50:40.9730443Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:40.9730443Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-11-06T19:50:40.9730443Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-545c07c4-3fbd-cf27-9932-500a6406479e/53506d3a-0159-6887-50df-635355166d75/7a03cd64-7c27-71ad-fda7-cbdc2a714f02/74a82c74-35ad-ea52-2c19-dc307a9ad6de",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF01A80EA2D7\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:41.0549975Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:41.0549975Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-11-06T19:50:41.0549975Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-545c07c4-3fbd-cf27-9932-500a6406479e/53506d3a-0159-6887-50df-635355166d75/7a03cd64-7c27-71ad-fda7-cbdc2a714f02/74a82c74-35ad-ea52-2c19-dc307a9ad6de?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "3Y2ZcvtoaORuZ/P55IYJBE4iTGzTUoYezS75uCl/KHtgaFNSWBMfJq\u002B8emCFQIzutHmJ1iv544sGe6XNbq\u002B67z94mXwyt6s6AiW9FtclmIyhCwOv9VFQZ4TIS91uUrj/AoshDacPu/3OTtMFO8yz4eIYK2KrC/ntJzH4aWvOzK9tvhRMA4vlkk8G4aZ\u002BSiy3FWr7ViZVU/aRNOV2F1KS/4IjmH24Z91WM5kSpSpTbt0FQFQA03WJF2oeus\u002Blb3r9dOEjWrKu/66NpCKNQ67MPsUIcNb\u002BkSwMmoASmqwOscQeFDBILxQqVkGlcy5S\u002B9S8UXwJnf6j/\u002BK0Fr8ynGUBf/Jebi59gw\u002Bx3RqVWB79uZ6sVUgwBBPFexVNlBhU\u002BLncpPQ89I2lPs5tWL/kDqfEtl0ghUYc0X[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-545c07c4-3fbd-cf27-9932-500a6406479e/53506d3a-0159-6887-50df-635355166d75/7a03cd64-7c27-71ad-fda7-cbdc2a714f02?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:41 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-545c07c4-3fbd-cf27-9932-500a6406479e/53506d3a-0159-6887-50df-635355166d75/7a03cd64-7c27-71ad-fda7-cbdc2a714f02/74a82c74-35ad-ea52-2c19-dc307a9ad6de",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:41 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF01A826461C\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:41.2099100Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:41.1619376Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-11-06T19:50:41.2099100Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-545c07c4-3fbd-cf27-9932-500a6406479e/53506d3a-0159-6887-50df-635355166d75/7a03cd64-7c27-71ad-fda7-cbdc2a714f02/74a82c74-35ad-ea52-2c19-dc307a9ad6de",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:41 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF01A826461C\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 19:50:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T19:50:41.2099100Z",
        "x-ms-file-creation-time": "2023-11-06T19:50:41.1619376Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-11-06T19:50:41.2099100Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-545c07c4-3fbd-cf27-9932-500a6406479e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 19:50:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "616888749",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
