{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F59CF2533B\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:56 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f/82c18735?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F59CFC8BA4\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-30T15:14:56.4240292Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:56.4240292Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-30T15:14:56.4240292Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f/82c18735/a8ba1446?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F59D05D00E\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-30T15:14:56.4847630Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:56.4847630Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-30T15:14:56.4847630Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f/82c18735/a8ba1446/10327501?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F59D11D087\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-30T15:14:56.5634183Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:56.5634183Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-10-30T15:14:56.5634183Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f/82c18735/a8ba1446/10327501/40d2e818?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F59D1B3BD3\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-30T15:14:56.6251475Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:56.6251475Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-10-30T15:14:56.6251475Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f/82c18735/a8ba1446/10327501/40d2e818/c44c2b46?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F59D24803D\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-30T15:14:56.6858813Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:56.6858813Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-10-30T15:14:56.6858813Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f/82c18735/a8ba1446/10327501/40d2e818/c44c2b46/7a0874d4?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F59D2DEB8B\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:56 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-30T15:14:56.7476107Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:56.7476107Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-10-30T15:14:56.7476107Z",
        "x-ms-file-parent-id": "14988049928633188352",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f/82c18735/a8ba1446/10327501/40d2e818/c44c2b46/7a0874d4/d983fdcb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f/82c18735/a8ba1446/10327501/40d2e818/c44c2b46/7a0874d4/d983fdcb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F59D435750\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-30T15:14:56.8879952Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:56.8879952Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f/82c18735/a8ba1446/10327501/40d2e818/c44c2b46/7a0874d4/d983fdcb?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:00 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "O2PFK3rLom/KtlL+m4/jA3G/oSrDNtrMHqor7eIY2Nq+dM+dgjB0/1oTDqS1V8K/CvHW/fX75wWI+QzPoLWNsd13Pya/RoBASqLQryg2FsfobOLxQtvlwo3KFIkjpF+lhlzHPheb/8RwlbJTKzjdUuJE5zPSm28Ckn2Z9TH2HaZCKinLb9iwTWwegawokZdU7cKn370r0ursxKyaAQmTeXgMEAAOEeMJlJrGtBrC2QDlRAhuTz7oF1c+3qosFUtjiwc0HIGXRtvfnUojZB7QKuurtL0AJCo6I/mo0DI43H5OYygSjr1/Tv4tj7HzxbI5bbS/gGGOYmbd+viH7nWppsHM1AH1vZwtLGa+05R4R15Gb2N+eVwdwADCNZTF91+Jg+jwJ/CxQ68YkVT7z47RZLOZQH8RKixlrhMAM4gIaDUGNE+riB9tlSyzZugHIvBy8NDhK7bgd1m8i3jcsA8mECgf9Js+JdyTLKtSXcREXYwjjkO3Jz1+Jbz27/ynkOQcjFbA6C1VM8r0Tf8LjRqUdy7ruSLMb+jroM/eRzbf65vGNtBuhHRfzlp4w9k+cpeiYnfOvNfCUB1t1EheduuUFGJjRVdJJfO5jOvHU6sPrC03O+W+ES/EA+ayAa8sAFdv5K922i1AWT2EFC/r+/xyXScaJjsG1gIyn0FxliREjYuUWG77mdIA9uKoOvz/2AjpQKSHEtkcaA6sQzvrz8IYP4ekV6KNdsRVGjBYXpsGM8Y5h1Z/vXqxd+9gTlWXFCcfj/p0WoFlW8ngMfipwwpyphB0skdsmIEM89+zLSduvgUIOM+gkdhE0yyMn4uCB7Tl7ahEImHfs/Z4Z2eisi2hcXPyoYs70RQ4L98b4Pj2iuwrzj9/KpujKIXYKClxoiD+6i4XkGYpqRuUDPKCxNP9gt17d+TtIkbXTngGYqnqx42+HPXK3vmFAiQj6x2pIWSx26VM9Ss8EMfnQEHuI0ZyqUVlw6jdM6Pj9XS/yTcpLi0UVIcDntFhggst4p64l9/dsUHYQ12806cBaAC2fEeQvhEU2c6/bgpzA0GcsFEFK12V4hj1UOrPWIDfAjbRqgXEnSONpL0QHkM2ZEAbHyNW/D2iIJoumm4mRIFO32zUolk81xMueIefhcPVv+yqszhciQX5L4lrlQO0Zl87wT/WYsLm30cQKIS1ApvXWduCe5BJ8VVm23PP0EIQeREnY8OD/l0pw9TwTGGBQyzukzsnMurP8tDqcIZOFw4FAK9yjp7XU1t9WLe8WKT05JhG4T0G6EYmWHHzmY7W26zF60yxD7SOFkDgqtoyEpor9YvuBzbR/hdoSzYs5LrNp30L9mxYQtXjuMr8Jj5s80XXx6MD6A==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "2m6NEuMIke9aIBrvFMxCBw==",
        "ETag": "\"0x8DCF8F59D4E20A5\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:56 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f/82c18735/a8ba1446?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:00 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f\" DirectoryPath=\"82c18735/a8ba1446\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>10327501</Name><FileId>16140971433240035328</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f/82c18735/a8ba1446/10327501?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f\" DirectoryPath=\"82c18735/a8ba1446/10327501\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>40d2e818</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f/82c18735/a8ba1446/10327501/40d2e818?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f\" DirectoryPath=\"82c18735/a8ba1446/10327501/40d2e818\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>c44c2b46</Name><FileId>14988049928633188352</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f/82c18735/a8ba1446/10327501/40d2e818/c44c2b46?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f\" DirectoryPath=\"82c18735/a8ba1446/10327501/40d2e818/c44c2b46\"><DirectoryId>14988049928633188352</DirectoryId><Entries><Directory><Name>7a0874d4</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f/82c18735/a8ba1446/10327501/40d2e818/c44c2b46/7a0874d4?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f\" DirectoryPath=\"82c18735/a8ba1446/10327501/40d2e818/c44c2b46/7a0874d4\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>d983fdcb</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f/82c18735/a8ba1446/10327501/40d2e818/c44c2b46/7a0874d4/d983fdcb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF8F59D4E20A5\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-30T15:14:56.9586853Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:56.8879952Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f/82c18735/a8ba1446/10327501/40d2e818/c44c2b46/7a0874d4/d983fdcb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:01 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF8F59D4E20A5\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-30T15:14:56.9586853Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:56.8879952Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "126[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-825f91b1-f165-c6bd-6ca6-04272b2ade9f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:01 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1264322862",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
