{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa85c9a3-1c6c-44a3-76fb-3a31cdf452dc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795D4A8ABCF\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:46 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa85c9a3-1c6c-44a3-76fb-3a31cdf452dc/60314495?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:50 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795D4B273CF\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-28T21:16:47.0420431Z",
        "x-ms-file-creation-time": "2024-10-28T21:16:47.0420431Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-28T21:16:47.0420431Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa85c9a3-1c6c-44a3-76fb-3a31cdf452dc/60314495/beda3abb?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:50 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795D4BC53C6\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:47 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-28T21:16:47.1067590Z",
        "x-ms-file-creation-time": "2024-10-28T21:16:47.1067590Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-28T21:16:47.1067590Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa85c9a3-1c6c-44a3-76fb-3a31cdf452dc/60314495/beda3abb/440ba17c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:50 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795D4C6F635\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:16:47.1764533Z",
        "x-ms-file-creation-time": "2024-10-28T21:16:47.1764533Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-10-28T21:16:47.1764533Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa85c9a3-1c6c-44a3-76fb-3a31cdf452dc/60314495/beda3abb/440ba17c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:51 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "xfnXvuyveIaYPIv2s6HMZaAhqodyF990U6nl8JjFrC1RXyXs0uVjsJBPGXWc9zVo6np0jgoMXK4ZYmpDyojt0pBdpFR74JO7vfr3Iv5q11xzfQUdUB0jRQN30m96IOYIYUbkP1Lh7ArnudAPFTqvrosNz0yD0IJyOV9QBA0kQJ0T78C4hZgJkZD7NZZNEy/JxyPjbVCZhJHEcgXzkej8w3kz+yZ69ynyBD27iJvrJSUvhz3pQNJMemou9BOSFQCo/nEdGhcITs/68WgS3fz22E3fxAmrEoOm5oG8SwMWX+49EokpzQoNJjht705qOZxtOBvFs1H2/ezudjOWTAPM5JF61ctzzAtC0Z3RPSI0PKzlThLoUKydRhScO1fXd9k0oQu972TR+mwQg+GzJcDJuTmGsf7x45Pl3I621pGza1rDnJwXd0xIFFSm2M3L6SFU04EdUMbbQ7142BLWGiPaXBiG74gjskLtPpypSgvFGvNsYQMQlRqT6Fjfn585cfkxy3u1RPqYMSE+MBIpMvixsr4fabkfysb98wcwRBKjs8yjeH+PENX40zDi0WUIarVfLe3hGghAEQG1t1HyaOwOm31Fhrp5IaHoJpWIPfhh9YhR0BYlwpnEY2d+2lmEBmtD1DbnwuT75gtL+PNyt9MIVMHIoJjW6NjkgSJT+0dIYyAqRGnCeTKkVuoK2smlUquTdoaXvGXSbeteA0HBqOrEApTSR3JqRtuPI0quyw0OPi93v4XBsae6V9d9Y3Xx467/Rtg10wo4KC+qB5gbJKHdT8URSuhlAlDtGO+b7eJlnUCcroQ12WskPpdVFqkPnjM1nxSw35nFmUSHR7oanTtNRWpYf3Udp3Va7AtREOum3nm8ZU3Ntb2n1hVArpGwCqBbB9E/th69GPieVfKNdIlY4GlAXjjuf4+ssalg3PnkqeJr9QgaZyda/kxUL1/KGWKM6M0ob6xnbYdBkgV1XTv+uqwQIn6APXlC5V/smVAv4pdG1PQsuzk2A4eA2NUi5aEQVnSzuvfjC6pT5olNe9Q3ErBtL4lG0f5z2R73/2WkHwC920LbfCegY8hK2NWv6IezScYktLUYyoR2QODY7AtFr8aJj6CRW5WJzczA/Pgow/CWQ7aef2tKpRG9ZTxGx3a9BSkPJlnnIe4wm+fpWM6MTXzvQahVpjBaPuqP0/ZZQgVVA/bPGZ2XryLHbuODYUxDMRjAVoXOZ1/5tOhuV03311nhlFXXvDTfWJKGjThM192dTKLdmeyAh5uX1mS1KVjU0JeKosz3a3Xk4P7zR9knrN0K0AurGT1sYQ25P+bPKS85sr2gwjUQpuAt+bjujT/CcCmGqlhMKLZZHUC/PiuOFA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "TFL3noAAPrJTIxqNjyLrSg==",
        "ETag": "\"0x8DCF795D4D1E669\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:47 GMT",
        "x-ms-file-last-write-time": "2024-10-28T21:16:47.2481385Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa85c9a3-1c6c-44a3-76fb-3a31cdf452dc/60314495/beda3abb/6e9873fe",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa85c9a3-1c6c-44a3-76fb-3a31cdf452dc/60314495/beda3abb/440ba17c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF795D4D1E669\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:16:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:16:47.2481385Z",
        "x-ms-file-creation-time": "2024-10-28T21:16:47.1764533Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-10-28T21:16:47.2481385Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa85c9a3-1c6c-44a3-76fb-3a31cdf452dc/60314495/beda3abb?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:51 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-fa85c9a3-1c6c-44a3-76fb-3a31cdf452dc\" DirectoryPath=\"60314495/beda3abb\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>41e62d22</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>440ba17c</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>6e9873fe</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>ef6995cc</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fa85c9a3-1c6c-44a3-76fb-3a31cdf452dc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:16:51 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "41955965",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
