{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16228888-251f-ed8d-63ad-4b5ddaabd9bd?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:02 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B5637D3F4\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:02 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16228888-251f-ed8d-63ad-4b5ddaabd9bd/9cc077b9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:02 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B56416584\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:28:02.3532932Z",
        "x-ms-file-creation-time": "2024-12-06T17:28:02.3532932Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T17:28:02.3532932Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16228888-251f-ed8d-63ad-4b5ddaabd9bd/9cc077b9/50d933d9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:02 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B5649E77C\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:28:02.4090492Z",
        "x-ms-file-creation-time": "2024-12-06T17:28:02.4090492Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-06T17:28:02.4090492Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16228888-251f-ed8d-63ad-4b5ddaabd9bd/9cc077b9/50d933d9/e26b6a62",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:02 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16228888-251f-ed8d-63ad-4b5ddaabd9bd/9cc077b9/50d933d9/e26b6a62",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:02 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B565FA119\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:28:02.5514265Z",
        "x-ms-file-creation-time": "2024-12-06T17:28:02.5514265Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16228888-251f-ed8d-63ad-4b5ddaabd9bd/9cc077b9/50d933d9/e26b6a62?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:02 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "cTzEA4ow/W9QonP1JrZSQ8qHxfPEHyrOmM4c8iDDJHXFkt0LRh2dBGlJpvviikK8ua4kGK5i2lES9Wq7EwpOjH7+L5PYR/2t6sGKenku7A2LYDhynwvGYreL+FCy4fFe+hl85Fuv43Kxdy7t2F/Y4wlcMLPS3O1zN83bTU6s+gnQK4Bgsgey3H3FwSfd2IlXsxRHVrE9jB4sCa2O05YjBHwlHa3fdzEBqlM1DBrFlV5Dg5k5ZKRXkp5iNKhaJAnnobyruLvbeDviRatdCH8DZnNOSk/86p/YzYsPfUOJp4VKTmpeGt2jZwteVh/4+okfX800DNq56rcd0+svzPv3WZ4lE7kUpEyWquJEnpOA39IB7x52VJurkGOzQUbydJsQZv2A0ufPCrqAnmH3dUwjnPMYLdzcgQUDeoJWYWMFpDZHNDiW/wzrMeVk9bY5tBsXj6RT2ka+M+T3fVhkeahWe/oqsEEUjZznLPv3eItPycZnP9K/ssnviABTnoKzhrg8DXq7DgPZAgIHa61Lx7pYqLOS/TrWl8gwOidAwO4aM6VDumsRk7vCjTzQt0YcpMFG+vXPIYl9Znaxi9PcmUIT7TgIBw1PRhX30HD+Bt+CFJVl+sX4ShIcxlP0YAjn5fT6vMkOE5209rPg11EYfmCWL3Y9dp58G6Il7EG5WuYNEOp8BEoVcwD4sQMRF3PAA0fzXjGRqW5VfaAn6Cdb+pzN08ZmnHoWgLt2RcWaagMvZOn6xvu0fGd7J4ap7orZnbZnRESsWmbM3d52GmSpuhOd94M+YTSgGVZf63X0bJEwnagOMyW+gwqCLegdPmED0WxyC/YGmjuCxyvtTG7x2HBMRX28m4ft3nR5uzNLg9r1XBkIgWGaKgJsi2z60DabkVV40PnjRzXlhC2Bjd4INkNQ+PBV6FcPshp7TxAa8g4+3Srd07LgEhXjI/w0GZwjY1QoqthGRqj+aR7eZ/clypEfQ7C0K2OQb+XaccVa25h+WOy78kg1+JaC32mUAqoevVhqFNXsbzjxlzrya9Tjo46FYA8KathJ6UoZMkz5/G07vLNs8MbCkei0yVoOQ43CnjvbD6GbE1J/ISuL0z3s95vMt68gdrPIws4mVqF9Oqa9V5MQHuzMn6hh7c6aN76rx9G/QYveoSiHEkzSdbyxAeaFznup29muABcGv4nlLYoQeo7Pvvka3rVriQug+Srsr+voFWlCAez4EEF02OGeouXBwvot4kLta+/GPlHNDgbtGRCe/RghzXii1q63pgbUzOcm3jcwvs2o+qp5fMObKgE6h77RAKTMoPSBiwuUNcTo8XFppzDPvFtC9gJuqFG1B6ysfR9IA8xCWj1DrzPCE8TlkA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "dNw6r3y5WDdcXOYOrvlUEg==",
        "ETag": "\"0x8DD161B5668BEA6\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:02 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16228888-251f-ed8d-63ad-4b5ddaabd9bd/9cc077b9/50d933d9?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:02 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-16228888-251f-ed8d-63ad-4b5ddaabd9bd\" DirectoryPath=\"9cc077b9/50d933d9\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>a7b1bfe7</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>e26b6a62</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16228888-251f-ed8d-63ad-4b5ddaabd9bd/9cc077b9/50d933d9/a7b1bfe7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:02 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161B566CB1D6\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:28:02.6370518Z",
        "x-ms-file-creation-time": "2024-12-06T17:28:02.5613831Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16228888-251f-ed8d-63ad-4b5ddaabd9bd/9cc077b9/50d933d9/a7b1bfe7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:02 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161B566CB1D6\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:28:02.6370518Z",
        "x-ms-file-creation-time": "2024-12-06T17:28:02.5613831Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16228888-251f-ed8d-63ad-4b5ddaabd9bd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "216719925",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
